[2018-08-01 20:48] sethvargo commented on #1814
I think it's a diff of a string slice

There's a few, namely of which is API quotas and rate limits. If I'm enabling 50 services on a project, then polling for all of them to be enabled, I'll hit rate limits on the standard quota, because that's 50 parallel Terraform requests. However, if we leverage the `batchEnableServices` API call, it's 1, significantly reducing the number of requests. We've h

[2018-08-01 20:51] paddycarver commented on #1814
That all sounds reasonable to me. I think this will become moot in the future, because I've heard rumours of request batching functionality at the provider level, but I see nothing wrong with adding this, then deprecating and removing it if/when that ships. My understanding is it's not imminent and hasn't even been designed yet, so I definitely don't want to wait for it.

In the meantime, this see

[2018-08-02 07:03] tmeulensteen commented on #1725
I've updated my original post to make the issue somewhat clearer. It's creating a google_container_cluster within a VPC (a non shared VPC).

[2018-08-02 08:21] tmeulensteen opened #1838 "google_sql_database_instance not working anymore"
Hi,

Creating a google_sql_database_instance does not seem to work anymore. A few weeks ago this was working fine, but today it isn't

### Terraform Version
Terraform v0.11.7
+ provider.google v1.16.0

### Affected Resource(s)
Please list the resources as a list, for example:
- google_sql_database_instance

### Terraform Configuration Files
[code]

### Debug Output
Error: Error applying plan:

1 e

[2018-08-02 11:06] Chupaka commented on #1838
Did you try to change "test-postgresql-instance" to something else?

`name` - (Optional, Computed) The name of the instance. If the name is left blank, Terraform will randomly generate one when the instance is first created. **This is done because after a name is used, it cannot be reused for up to one week.**

[2018-08-02 11:17] tmeulensteen commented on #1838
Even when omitting the name parameter, the creation of a new sql resource fails

* google_sql_database_instance.test-postgresql-instance: Error, failed to create instance terraform-20180802111627675300000001: googleapi: Error 400: Invalid parameter: instance name (projectid:terraform-20180802111627675300000001).., invalid

[2018-08-02 13:17] Chupaka commented on #1838
Well, at least the following config deployed normally for me:

[code]

[code]

[code]

[2018-08-02 16:17] paddycarver commented on #1435
I believe this has shipped. I'm going to close the issue out, but if it's still a problem, feel free to comment and we can reopen.

[2018-08-02 16:17] #1435 closed

[2018-08-03 02:37] piyushk opened #1839 "Setting automatic_restart to false does not work"
### Terraform Version
Terraform v0.11.7

### Affected Resource(s)
- google_compute_instance

### Terraform Configuration Files
[code]

### Expected Behavior
When the host went down for maintenance, the instance terminated and restarted. We need the instances to terminate and stay terminated should that happen. GCP should display "Automatic restart: Off"

### Actual Behavior
The instance should hav

[2018-08-03 09:28] shotarohorai commented on #1044
I am very excited and eager to use this.

How is this going on? @danawillow
I hope you can tell when it is available.

Thank you so much again for you work 😃.

[2018-08-03 10:04] amnk commented on #1688
@danawillow sorry for silence. I was reorganizing my Google setup, and moved DNS to another project. And I can't reproduce this problem any more with those versions:
[code]

So most likely something changed between 1.14 and 1.16.2 that fixed that issue.

[2018-08-03 10:46] netturpin commented on #1140
I tried it with a dedicated interconnect I'm working on and its looks good (plan, apply, show and destroy).
You can find the output [here](https://gist.github.com/netturpin/ae67747f2f25daa67b4661eff4e77211).

[2018-08-03 14:49] pivotal-saman-alvi opened #1840 "Error bringing up Terraform database instances"

[2018-08-03 14:50] snalvi opened #1841 "Error bringing up Terraform database instances"
Hi there,

I've run into this issue multiple times now where Terraform fails to bring up the infrastructure appropriately on an GCP. We're trying to bring up multiple database instances, and it fails about ~50% of the time. Looking around online it says it's a GCP API timing issue, that sometimes you just need to wait, but it seems odd that the issue keeps cropping up without any real reason or so

[2018-08-03 14:52] #1840 closed

[2018-08-03 15:18] Chupaka commented on #1841
And where's the full log?

Isn't it creation timeout error? What if you increase it on the resource?

[code]

[2018-08-03 16:12] danawillow commented on #1688
Great! I'll go ahed and close this issue for now- if it pops up again, we can reopen.

[2018-08-03 16:12] #1688 closed

[2018-08-03 16:21] danawillow commented on #1044
I'm excited too! We've had a few people working on this over its lifetime, which is why it's been taking so long. We do have someone assigned to it now, who I expect will be the person to finally finish it up. I'd expect the code to be ready within the next 2-3 weeks, but if it isn't, feel free to ping me for another update.

[2018-08-03 16:33] chrismorgan-hb commented on #644
I'm going to start working on this next week.

[2018-08-03 17:07] danawillow commented on #1712
Hey all, sorry for the problems here, and for taking so long to respond. There are a few different things going on, which I'll try to explain here:

1. Node pools inside the `google_container_cluster` resource can't be added or removed without deleting the entire cluster.
This is something we've been aware of for a while, but the fix is actually pretty hard, and will almost certainly be a breaking

[2018-08-03 18:21] danawillow commented on #1725
Is the configuration you posted still the correct one? I don't see anything in it referencing a network. If it is, would you mind sharing debug logs? https://www.terraform.io/docs/internals/debugging.html

[2018-08-03 21:33] outworlder commented on #1341
Rather than mere convenience of not having to configure instance groups, there is at least one situation where they are actually required.

For some load balancer protocols, you cannot have target-groups and you *have to* use target instances. ICMP is one example (more information here: https://cloud.google.com/load-balancing/docs/forwarding-rules)

I have just had to supplement Terraform with som

[2018-08-03 23:16] ndmckinley commented on #1140
Fantastic. I'll submit the PR.  Thank you!  :)

[2018-08-03 23:41] danawillow commented on #1371
@hprotzek, are you still seeing this issue? If so, have you been able to get debug logs?

[2018-08-04 08:09] rolandkool commented on #1712
Hi Dana,

Thanks for the extensive reply, very helpful.
I was not aware of the `remove_default_node_pool` parameter until now, so that allows us to use the `google_container_node_pool` resources.
If you have an existing cluster with existing terraform state managed through `google_container_cluster` with node pools configured, is it possible to switch to a combination of `google_container_cluster`

[2018-08-05 13:44] #1824 closed

[2018-08-06 02:03] shotarohorai commented on #1236
Is anyone already working on this issue?
@danawillow

[2018-08-06 06:05] ctindel opened #1842 "Permissions issue creating project with terraform"
I'm hoping someone can help me out of this IAM permissions hell problem I seem to be stuck in.

I am able to create a project from the command line:

[code]

However my terraform apply which creates a new project dies on the vine:

[code]

My gcloud auth list shows I am logged in as chad@tindelmg.com which as far as I can tell has been given Project Creator privileges at the Organization level, Ow

[2018-08-06 09:19] hprotzek commented on #1371
@danawillow Seems to be fixed with version:
Terraform v0.11.7
+ provider.google v1.16.2

Thanks :-)

[2018-08-06 09:19] #1371 closed

[2018-08-06 14:14] tmeulensteen commented on #1838
When using the same settings

`resource "google_sql_database_instance" "master" {
  database_version = "POSTGRES_9_6"
  region = "europe-west1"
  settings {
    tier = "db-f1-micro",
    availability_type = "ZONAL"
  }
}`

Even when using the latest provider
`$ ./terraform -v
Terraform v0.11.7
+ provider.google v1.16.2`

I still get this error.
`Error: Error applying plan:

1 error(s) occurred:

*

[2018-08-06 14:41] Chupaka commented on #1838
What templates?.. For me, it seems like something is adding project name and colon ("projectid:") before the generated "terraform-nnnnn" part of name...

[2018-08-06 14:43] tmeulensteen commented on #1725
The configuration is still the correct one. That is the only thing that is in the script at the moment.

[2018-08-06 17:13] danawillow commented on #1712
I think so! If you use `terraform import`, you should be able to get the new node pool resources in your state. Then, because `node_pool`s are marked computed in the cluster resource (implementation detail, not something you necessarily should need to know) you should be able to remove all the node pools from the cluster resource without any diffs. Of course, please run `terraform plan` to verify

[2018-08-06 17:25] danawillow commented on #1725
Interesting! Were you able to get debug logs?

[2018-08-07 00:31] tdszyman commented on #1588
Just noting that Cloud Composer is no longer in Beta -- it's been in GA for a few weeks now. This is definitely something I wish was available in TF

[2018-08-07 07:15] tmeulensteen commented on #1725
[terraform.log](https://github.com/terraform-providers/terraform-provider-google/files/2265392/terraform.log)

see the debuglog attached

[2018-08-07 14:18] jderuere opened #1845 "Provide support for subnet as a source filter in firewall"
### Terraform Version
Terraform v0.11.7
+ provider.google v1.16.2.

### Affected Resource(s)
- google_compute_firewall

### Terraform Configuration Files

Google provide the possibility to specify a subnet as a source filter. It would be nice to have it in Terraform.

For example:

[code]

[2018-08-07 14:52] santinoncs opened #1846 "terraform import google_container_node_pool not working. It is not able to find the resource ID of the node-pool."
### Terraform Version
Terraform v0.11.7
+ provider.google v1.16.2

### Affected Resource(s)
- google_container_node_pool

### Terraform Configuration Files
[code]

### Command executed to import

[code]

### Output

[code]

### Debug Output

[code]

### Expected Behavior
What should have happened?
Imported the resource node pool "autoscaling"

### Actual Behavior

Didnt work

### Steps to Reproduc

[2018-08-07 18:21] tflowcamdev opened #1847 "Unable to deploy google cloud resources via https proxy"
Apologies if there's an issue already for this, but I wasn't able to find one.

I'm trying to deploy google cloud resources behind a firewall, and need to use an https proxy for connections outbound.  This is generally possible with most providers by setting the HTTPS_PROXY environment variable.  It seems that go generally supports this out of the box with net/http with the default client/transpor

[2018-08-07 21:07] #1702 closed

[2018-08-07 22:50] cepefernando commented on #1000
Seeing the very same issue on my end, the node pool is resized from counts of 1 to counts of 0. But the instance groups are not actually removed.

`
* module.google_k8s.google_compute_subnetwork.primary (destroy): 1 error(s) occurred:

* google_compute_subnetwork.primary: Error deleting subnetwork: googleapi: Error 400: The subnetwork resource 'projects/xxx/regions/europe-west4/subnetworks/vid-pri

[2018-08-07 23:18] danawillow commented on #1000
@cepefernando are you trying to delete only the node pool, or the node pool and the cluster? Would you mind sharing the config for `google_container_cluster.primary`, as well as the output from `terraform plan` and debug logs (https://www.terraform.io/docs/internals/debugging.html)

[2018-08-07 23:48] danawillow commented on #1725
Thanks! I took a look, and I don't have a great idea what's going on. A few questions though that might help me:
* How do you set the project on the cluster? Are you using a `provider "google"` block or environment variables?
* Is the service account that's running terraform coming from the same project that you're trying to create the cluster in?

In the meantime, if you explicitly set `network`

[2018-08-08 00:12] sarneaud commented on #1846
I'm having the same problem.  See this line in the debug log:

[code]
It should be
[code]
(Note the node pool name at the end of the URL.)

FWIW, I can see the node pool I want to add with this command:
[code]

[2018-08-08 00:50] sarneaud commented on #1846
The bug seems to be in this line:
https://github.com/terraform-providers/terraform-provider-google/blob/00e5bd53639a60fbfc3dd722d56652e84e06024f/google/resource_container_node_pool.go#L727
It assumes the node pool name is the third item of the ID, but that's not true when the ID starts with a project name.

A workaround is to import the pool like this:
[code]
I.e., dropping the project name from t

[2018-08-08 06:58] ctindel opened #1851 "Error during terraform destroy"
I have this output listed in one of my modules:
[code]

But when I do a destroy I get this error:

[code]

Same with this one:

[code]

Gives this error on destroy:

[code]

[code]

[2018-08-08 09:52] santinoncs commented on #1846
it worked!

thx

[2018-08-08 09:54] migibert opened #1852 "Feature Request: Support BigQuery clustering"
Hi,

It would be great if we could create BigQuery tables with setting clustering columns.
Documentation: https://cloud.google.com/bigquery/docs/creating-clustered-tables

### Affected Resource(s)
- google_bigquery_table

[2018-08-08 10:27] Chupaka commented on #1774
Is there any progress on this?.. @TFaga

[2018-08-08 16:27] danawillow commented on #1774
I think @ndmckinley is also planning on looking at this.

[2018-08-08 16:50] danawillow opened #1853 "Can't delete an instance group that's in use by a backend service"
### Terraform Version
Terraform v0.11.7
+ provider.google (unversioned)

### Affected Resource(s)
- google_compute_instance_group
- google_compute_backend_service
(probably also google_compute_region_backend_service)

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/danawillow/6962cbf60fdd78691d99fd610e5dbaf5

### Panic Output
N/A

### Expected Behavior
The instan

[2018-08-09 00:34] ndmckinley commented on #1774
I am!  :)  It'll be the next thing I work on.

[2018-08-09 00:41] kaifresh opened #1857 "Please support Node 8 runtime for Cloud Functions"
This is a feature request to support Node 8 runtimes for Cloud Functions. This was recently introduced here: https://cloud.google.com/functions/docs/concepts/exec#runtimes

Thanks

[2018-08-09 10:41] Chupaka commented on #1853
I thought, renaming instance group should be done via
[code]

That's what I actually did a day ago 🤣

[2018-08-09 18:26] morgante commented on #1253
Unfortunately datastore doesn't have much of a public API, but if anyone is interested we have abstracted the current gcloud commands into a Terraform module: https://github.com/terraform-google-modules/terraform-google-cloud-datastore

Once a public API is released, we'll replace the commands with proper resources.

[2018-08-09 21:45] dodizzle commented on #1712
@danawillow thank you for the explanation and work around.
I confirmed that using remove_default_node_pool works.
Below is a two step process for provisioning a new cluster that will allow you to add and remove node_pools without destroying the cluster.

Step #1
Create cluster with a node pool defined, do this with the google_container_cluster resource.
Set remove_default_node_pool to false.
Run t

[2018-08-10 02:54] cepefernando commented on #1000
Thanks for your reply @danawillow , I'm trying to delete the node pool and the cluster, here is the config for the `google_container_cluster.primary`:

`resource "google_container_cluster" "primary" {
  name                     = "${var.name}"
  project                  = "${var.project}"

  depends_on               = [
    "google_project_iam_binding.compute_network_users",
    "google_project_ia

[2018-08-10 06:50] jayhding commented on #1043
@meverone hi, could you describe more how you solved this issue? Thanks

[2018-08-10 12:08] rsawer opened #1858 "google_compute_instance.network_interface.*.alias_ip_range assert error - max 1 array element permitted"
### Terraform Version
+ Terraform version: 0.11.7  41e50bd32a8825a84535e353c3674af8ce799161
+ provider.google v1.16.2

### Affected Resource(s)
- google_compute_instance

### Terraform Configuration Files

resource "google_compute_instance" "instance1" {
    name                    = "instance1"
    machine_type            = "n1-standard-1"
    zone                    = "europe-west1-c"
    allow_

[2018-08-10 17:36] danawillow commented on #1712
Yup, that's point 3 in my giant post above, and the reason I'm keeping this issue open. I'm hoping to work on it soon, but I can't make any guarantees. I'd say it's likely, though.

[2018-08-10 17:38] danawillow commented on #1712
Oh no just kidding, it's not point 3. I don't see anything that lets tags be updated at https://cloud.google.com/kubernetes-engine/docs/reference/rest/, can you point me to the API you use to update them?

[2018-08-10 17:41] danawillow commented on #1000
Thanks! Let me know when you have plan output and debug logs ready and I'll take a look.

[2018-08-11 02:20] ghost opened #1862 "Error resolving image name 'debian-cloud/debian-8'"
_This issue was originally opened by @rajdhandus as hashicorp/terraform#18656. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

https://gist.github.com/rajdhandus/836f8f6587

[2018-08-12 10:59] zheli commented on #1480
@dinvlad nice! There is a gcloud command for it also 😛

[2018-08-13 07:26] steven-edgar opened #1864 "google_compute_instance documentation error"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2018-08-13 12:13] sryabkov commented on #580
I wanted to post this in case somebody else runs into this thread first.

This issue was addressed in #1312, you can now use `auto_create_network` to disable the creation of default network when creating the project. The following works for me with TF `0.11.7` and google cloud provider `1.16`

[code]

See [TF Google Cloud Provider documentation](https://www.terraform.io/docs/providers/google/r/goo

[2018-08-13 18:55] maguro opened #1866 "Add google_spanner_instance data source"
### Terraform Version
Terraform v0.11.7
+ provider.google v1.13.0

### Affected Resource(s)
google_spanner_instance

It would be nice of there was a `google_spanner_instance` data source.  Sometimes one needs to add a `google_spanner_database` inside a pre-existing `google_spanner_instance`.

[2018-08-13 20:39] spearl opened #1869 "App Engine missing us-west2"
The App Engine resource of a google project validates it's location id but is missing us-west2 in its list of valid locations.

[code]

### Affected Resource(s)
- resource_google_project

### Expected Behavior
Existing App Engine app in us-west2 to work with terraform

### Actual Behavior
Terraform errors out saying that my location of us-west2 is invalid

### Steps to Reproduce
Create a main.tf f

[2018-08-13 21:25] ndmckinley commented on #1819
@morgante had some concerns on the linked PR - we'll get that sorted!  :)  Chime in there if you have an opinion.

[2018-08-13 21:30] ndmckinley commented on #1819
FWIW I'm inclined to agree with @morgante that this introduces some potential for confusion - If your use case is hard to cover with the existing mechanism, please say so here or on the PR.  Unless you or someone else has an opinion, I'll probably close the PR and the issue in about a week.  :)  Happy to change my mind, though!

Best,
Nathan

[2018-08-13 21:59] ndmckinley commented on #1820
It definitely shouldn't try to recreate the cluster!  They recently added `setMasterAuth` to the API, and we can use that.  :)

[2018-08-13 21:59] kulkarnisu commented on #1857
+1, especially Python support would be appreciated

[2018-08-13 22:25] ndmckinley commented on #1821
Hm, the list (nested object, really) is what makes sense to me.  What would you expect as the keys and values in the map, given that Terraform maps can only be string->string?

https://github.com/hashicorp/terraform/blob/master/helper/schema/schema.go#L125

[2018-08-13 23:26] ndmckinley commented on #1825
Aha, okay, so our diff suppress should catch `"https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-minimal-1804-bionic-v20180705" => "ubuntu-minimal-1804-lts"` and ignore it.  I'll take a look!

[2018-08-13 23:55] ndmckinley commented on #1825
aha - we cover this case for `ubuntu-1234-foo-v12345678` -> `ubuntu-1234-lts`, but not for `ubuntu-minimal`.  Fixing.  :)

[2018-08-14 00:07] ndmckinley commented on #1826
Well, that's not great!  I'll see if I can get that added to our unit tests so we don't continue to regress.  Thanks!

[2018-08-14 10:51] alexey-medvedchikov commented on #1820
We have the same problem, I'm currently working on a fix, and was able to update password and username without recreation. I'll make a couple more tests (because there's a lot of different cases w/ different values) and will send a MR.

[2018-08-14 14:29] skpaterson opened #1871 "Add google_storage_object_iam_policy resource"
### Terraform Version

[code]

### Expected Behavior

Google IAM should support attaching an IAM policy to an individual bucket object but I don’t see a way to do this with the available Google provider resources.

For example, taking the following resources as a pre-cursor:
[code]

Along same lines as `google_storage_bucket_iam_policy` I would expect something along these lines to be possible:

[

[2018-08-14 14:51] adastidar opened #1872 "google_compute_route does not get applied with -target"
If I invoke terraform apply without any target, the resource gets created. If I instead use a null resource to target only this module, then nothing happens even though the plan step shows the resources to be created.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_route

If this issue appears to affect multiple resources,

[2018-08-14 15:36] michaelsmithhx commented on #1588
We also have a Composer + Terraform requirement so +1 for this feature

[2018-08-14 15:52] Chupaka commented on #1872
I can't see any null_resources in your config...

[2018-08-14 15:58] adastidar commented on #1872
@Chupaka I am calling that from a parent script which manages vpc and subnets. Sorry for not including it. Here is goes:

[code]

If I invoke `terraform apply --target null_resource.nat`, the nat instance group gets setup correctly. but `terraform apply --target null_resource.nat_routes` does not as above.

Hope that helps!

[2018-08-14 18:23] #1862 closed, assigned to nobody

[2018-08-14 21:17] #1827 closed

[2018-08-14 22:38] danawillow commented on #1845
Hey @jderuere, can you show me how you're currently specifying a subnet as a source filter? I don't see anything in the API or gcloud that allows you to specify the name, although you can already specify the range in your example like this:

[code]
Does that work for you?

[2018-08-14 22:42] morgante commented on #1845
@danawillow I believe this option does exist in the UI, but all it does is grab the range from the subnet and use that as the source filter for the API call. Maybe adding your example to the docs would be sufficient?

[2018-08-14 22:43] danawillow commented on #1845
Ah, ok! That's a good idea. I'm working on porting firewalls to magic modules right now so I'll add this as an example there.

[2018-08-15 14:32] larsha commented on #1286
Same here, would be awesome to get this in so we can create scheduled transfers as we create new buckets 👍

[2018-08-15 16:20] hashibot[bot] opened #1882 "Error When Multiple static ip assign on GCP"
_This issue was originally opened by @DTherHtun as hashicorp/terraform#18684. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files
#### instance.tf

[code]

#### network.tf

[code]

### ERROR

[code]

[2018-08-15 19:50] #1820 closed

[2018-08-15 23:45] danisla opened #1883 "resourceInUseByAnotherResource when deleting health check and autohealing from instance group manager"
API error `resourceInUseByAnotherResource` when attempting to delete a health check from an instance group manager resource.

### Terraform Version
Terraform v0.11.7
+ provider.google v1.16.2

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_instance_group_manager
- google_compute_region_instance_group_manager

### Terraform Configuration Files
[code]

No

[2018-08-16 03:16] anners opened #1886 "google_project create failing with project quota exceeded error -- but project quota has not been exceeded"
### Terraform Version
Terraform v0.11.7
+ provider.google v1.16.2

### Affected Resource(s)
google_project

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/anners/b5d3092cf99eed5b07aa46defc99444f

### Expected Behavior
A project should be created

### Actual Behavior
A project is not created but instead I get an error message that the project quota has been excee

[2018-08-16 05:49] #1831 closed

[2018-08-16 06:00] #1730 closed

[2018-08-16 06:38] ndmckinley commented on #1886
Well, hm!  Sorry for the trouble!  The biggest difference between the gcloud call you have there and the Terraform one is the billing account - do you get the same problem if you try to use terraform to create a project without a billing account?

[2018-08-16 11:58] Chupaka commented on #1882
`network_interface.subnetwork` is not an address or CIDR, it's a name/self_link of Subnetwork resource.

If you need to set an address, add `network_interface.address` parameter to your config.

[2018-08-16 14:11] DTherHtun commented on #1882
[code]
I want like that. Private ip with static sequence assign. 10.240.0.20, 10.240.0.21, 20.240.0.22 etc ...

[2018-08-16 14:36] anners commented on #1886
Hi -

I removed the billing account and still got the same error:
google_project.project-test: Error code 8, message: The project cannot be created because you have exceeded your allotted project quota.

[2018-08-16 15:00] Chupaka commented on #1882
Nice. Please close the issue :)

[2018-08-16 15:05] DTherHtun commented on #1882
close

[2018-08-16 17:26] naseemkullah opened #1889 "google_container_cluster: Changing secondary node pool prompts for cluster recreate"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.11.8
+ provider.google v1.16.2

### Affected Resource(s)
Please list the resources as a list, for example:
- google_container_cluste

[2018-08-16 18:20] morgante commented on #1701
@ndmckinley Is there any way we could try to work around this within the provider? It's a problem I'm seeing pretty frequently.

[2018-08-16 18:40] ndmckinley commented on #1701
This is one of the most-common problems with HCL and the current ResourceData model.  Working around it would require either getting code submitted to terraform core (which we've been advised won't be possible until `0.12` is out) or some very hacky work with reflection that's very likely to break when 0.12 comes out in any event.  Unfortunately this workaround is the best we've got for now.

[2018-08-16 19:01] ndmckinley commented on #1886
Okay.  I think that the requests are being sent to the API correctly - I couldn't tell you why your quota limits are being hit here.  I do know that they're notoriously a bit finicky, unfortunately.  Good news, though - GCP launched a form you can use to get in touch with them over issues like this.  You can find that here.  https://support.google.com/code/contact/project_quota_increase

[2018-08-16 19:06] ndmckinley commented on #1886
I'm going to close this issue since I won't be involved with the quota issues from here - please let me know if they can't help you, though - I'll still see your responses here.

[2018-08-16 19:06] #1886 closed

[2018-08-16 19:13] genevieve opened #1891 "Refreshing state before destroy fails when gcp service account key not found."
### Terraform Version
v0.11.8 with google provider v1.16.2

### Affected Resource(s)
- google_service_account_key

### Expected Behavior
Since we are trying to destroy this resource, it should not fail when the resource does not exist.

The resource uses the `handleNotFoundError` function but this only does a [check for a 404](https://github.com/terraform-providers/terraform-provider-google/issues

[2018-08-16 19:13] morgante commented on #1886
@anners There is also a project quota per-user/per-service account. Try checking if you're hitting that (use a new SA).

[2018-08-16 19:16] ndmckinley commented on #1838
Yes, the problem is likely with your Terraform environment - on a clean install you wouldn't likely be seeing this.  If you could please post the full template, I'd be happy to try and see where the problem is coming from.

[2018-08-16 19:55] morgante opened #1892 "Precondition failed for billing account = bad error"
### Affected Resource(s)
- google_project

### Expected Behavior
When I create a project and attempt to associate billing, if my billing account doesn't have sufficient quota I should get a "precondition failed error" which references that my quota is exhausted.

### Actual Behavior
The error is "precondition failed" but doesn't specify what the failed precondition is.

### Steps to Reproduce
Atte

[2018-08-16 20:57] #1833 closed

[2018-08-16 21:20] natalysheinin opened #1893 "Add binary_authorization to google_container_cluster resource"
### Description
Add `binary_authorization` which is currently in `beta` to `google_container_cluster` resource.

### Terraform Version
0.11.7

### Affected Resource(s)
Please list the resources as a list, for example:
- `google_container_cluster`

### References
https://cloud.google.com/binary-authorization/docs/creating-cluster

[2018-08-16 21:27] ndmckinley commented on #1892
Does the error that comes back from the GCP API contain enough information to know that the error is related to exhausted quota?

[2018-08-16 21:48] naseemkullah commented on #1889
By setting `remove_default_node_pool` to `true` and managing node pools with strictly node pool resources (nothing declared in the container cluster resource) yields better results. I will close since that is good enough for meh.

[2018-08-16 21:48] #1889 closed

[2018-08-16 22:04] ndmckinley commented on #1839
Sorry about that!  I'm trying to build a repro case now.

[2018-08-16 22:35] piyushk commented on #1839
`terraform-provider-google_v1.8.0_x4`

I'll need some time to generate an example from my config. I'll try and post it shortly.

[2018-08-16 23:46] ndmckinley commented on #1839
Oh, that's very far out of date, I have no trouble at all believing you had trouble there!  :)  I can even imagine what the problem must have been.  We try not to make breaking changes, I hope the upgrade isn't too much of a struggle.

[2018-08-16 23:48] ndmckinley commented on #1839
Confirmed - the issue is present in `1.8.0` but not in `1.16.2`.  Please upgrade.  :)

[2018-08-16 23:48] #1839 closed

[2018-08-17 08:44] Chupaka commented on #1891
Well, it should, if you removed something not via Terraform :)

To fix this, use `terraform state rm`

[2018-08-17 08:49] Chupaka commented on #1893
https://github.com/terraform-providers/terraform-provider-google/blob/master/CHANGELOG.md

Isn't that what you're looking for?

[2018-08-17 11:30] genevieve commented on #1891
That’s definitely an option when you’re manually running this and only have to resolve this once.

We have multiple environments in CI that regularly show failures like this when running terraform destroy. We would have to automate searching the logs for any resources that are already gone, removing them from the state file, and then trying again.

[2018-08-17 13:35] natalysheinin commented on #1893
Yes, thank-you @Chupaka. It didn't come up in my initial google search!

[2018-08-17 13:35] #1893 closed

[2018-08-17 14:27] piyushk commented on #1839
Thanks for confirming @ndmckinley. I've confirmed that this error does not exist in 1.16.2 as well. I didn't realize that the providers needed to be updated separately.

[2018-08-17 14:34] sethvargo opened #1895 "Recent changes to kms_key_ring and kms_crypto_key may be breaking"
### Affected Resource(s)
- `kms_key_ring`
- `kms_crypto_key`

### Expected Behavior
The new ID changes should be backwards compatible and not force new resource creation.

### Actual Behavior
The new ID format may include a domain prefix. Existing Terraform configurations with persisted state that had a domain prefix, will now detect changes and drift as a result. Terraform will try to destroy and

[2018-08-17 14:49] sethvargo commented on #1895
/cc @danawillow @ndmckinley @michaelharo

[2018-08-17 16:17] Chupaka commented on #1891
Terraform is for full-cycle resource management. You should not 'help' it adding/changing/removing resources behind his back. If you want to remove keys manually - then create them manually, not via Terraform :)

[2018-08-17 17:10] danawillow commented on #1895
As we talked about internally, this is not quite the case. GH-1865 does not change the format the ID is stored in. Furthermore, changing the ID of a resource does not cause a diff on that resource- only on its dependencies if they specifically depend on the ID field.

We could have mitigated this back when the actual change was submitted (in April, GH-1337) by adding MigrationFuncs to all resource

[2018-08-17 17:35] howardburgess opened #1897 "Documentation: typo in google_resource_manager_lien"
Issue https://github.com/terraform-providers/terraform-provider-google/issues/1435 requested Terraform support for [Google project liens](https://cloud.google.com/resource-manager/docs/project-liens), which was added in https://github.com/terraform-providers/terraform-provider-google/pull/1484.

The resource was added in the `google` provider [v1.16.2](https://github.com/terraform-providers/terraf

[2018-08-17 18:26] sethvargo commented on #1895
I personally vote for `self_link`. What do you think? Do you want me to open another issue to talk about that or change this one?

[2018-08-17 18:36] ndmckinley commented on #1895
My plan is to add `self_link`, yep.  No need for another issue, I'm going to do it in the PR that's already open.

[2018-08-17 19:25] ndmckinley commented on #1895
But like Dana says, those domain prefix changes make those resources possible for people with legacy domain-prefixed projects.  There's no chance of them changing an existing resource since people with legacy domain-prefixed projects couldn't create those resources before that change.  The issue you're describing (the id format change) happens on upgrade from 0.1.7 to 0.1.8 (March 12, 2018 -> Marc

[2018-08-17 21:33] #1828 closed

[2018-08-17 21:33] #1895 closed

[2018-08-17 21:34] nightmare-moon commented on #444
this this feature acl and iap support in the product or not...
I'm seeing conflicting information.

I need this feature...

[2018-08-17 21:45] ndmckinley commented on #1897
Good news!  It's just a typo in some manually written code which gets merged into the autogenerated stuff.  :)  Took only a second to fix - PR will be generated soon.

[2018-08-17 21:51] ndmckinley commented on #1891
I don't know about "it should" - certainly it's an understandable bug, you can see how we weren't thinking of that use case when writing it, but the best behavior is the behavior that works best for the most people.  We'll fix it, for sure.  PR's open and should be merged soon and then the fix will be in the next release.

[2018-08-17 21:56] genevieve commented on #1891
Thanks Nathan.

[2018-08-17 21:56] #1891 closed

[2018-08-17 22:15] howardburgess commented on #1897
Good to hear. Thanks @ndmckinley :)

[2018-08-17 23:11] ndmckinley commented on #1883
I see, you're saying we need to perform the update before the delete.  Interesting.  That seems to be best-fixed in the Terraform core planner - I'm not sure we can control that in the provider.  I suppose we could see if the GCP API contains a list of resources that are using a health check, and do like we do with `Disk` - remove the health checks from their users during the `Delete()` call.

[2018-08-17 23:26] ndmckinley commented on #1883
@paddycarver is looking into this on the core side!  Thanks, Paddy!  :)

I looked into the API and there doesn't seem to be anything tricksy we can do to find a list of all resources that depend on the health check.

I'm assigning to @paddycarver  - when you have an answer, please feel free to unassign / assign-to-me!

[2018-08-17 23:38] #1897 closed

[2018-08-18 00:57] ramyala opened #1902 "data.google_dns_managed_zone prompts an "read" update always"
### Terraform Version

Terraform v0.11.8
+ provider.aws v1.32.0
+ provider.github v1.2.1
+ provider.google v1.16.2
+ provider.helm (unversioned)
+ provider.kubernetes v1.2.0
+ provider.local v1.1.0
+ provider.random v2.0.0
+ provider.template v1.0.0
+ provider.tls v1.2.0

### Affected Resource(s)
- google_dns_managed_zone

### Terraform Configuration Files
[code]

### Debug Output

[code]

### Exp

[2018-08-18 01:06] #1882 closed

[2018-08-18 10:55] mafrosis opened #1903 "Generic error message when folder rename matches existing folder"
When renaming a `google_folder` resource's name to "Example" when the folder "Example" already exists, the following error is shown:

### Terraform Version
0.11.7
0.16.2

### Affected Resource(s)
- `google_folder`

### Expected Behavior
A helpful error message.

### Actual Behavior
A generic "precondition failed" error message.

### Some logging

The API output from `TF_LOG=DEBUG` shows this, whic

[2018-08-20 17:25] Chupaka commented on #1774
@ndmckinley sorry for bothering you, but is there any ETA?..

[2018-08-20 17:30] ndmckinley commented on #1774
Hi!  I'm about to head out on a 2 week vacation, unfortunately, so it likely won't be until early September.

[2018-08-20 18:56] ryancurrah commented on #1774
@ndmckinley woot have a good vacay! Looking forward to filestore in tf

[2018-08-21 00:49] emilymye commented on #1902
@ramyala Thanks for submitting this issue! I believe this is a side effect of how `depends_on` works for data sources in Terraform core. See https://github.com/hashicorp/terraform/issues/11806. Unfortunately, that means I don't have an easy answer other than to remove the dependency on the project service object. If you have any other questions, please let me know!

[2018-08-21 03:32] geekflyer commented on #1597
@danawillow @rosbo  @paddycarver @ndmckinley

Could you please prioritize supporting this feature soon? Alias IP enabled clusters is GA and apparently the recommended way to create GKE clusters these days. It's unfortunate that the terraform provider only supports it halfway. Currently we have to always create clusters via gcloud first and then import them into terraform because of this issue...

[2018-08-21 03:48] morgante commented on #1892
@ndmckinley I don't currently have a billing account with insufficient quota, but I *do* know that gcloud is able to return a verbose error in this case (similar to #1903). Not quite sure how gcloud knows that.

[2018-08-21 05:37] Place1 opened #1909 "google_service_account_key googleapi: Error 400: Invalid JSON payload received. Unknown name "publicKeyType""
Hi

I'm trying to use terraform to get the `google_service_account_key` for the `google_compute_default_service_account` but when I'm getting the following error message `googleapi: Error 400: Invalid JSON payload received. Unknown name "publicKeyType"` when I `terraform apply`.

### Terraform Version
[code]

### Affected Resource(s)
- google_service_account_key

### Terraform Configuration Files

[2018-08-21 11:05] Chupaka commented on #1909
Can you repeat it with current version (provider.google v1.16.2)?

[2018-08-21 18:51] nickithewatt commented on #1588
@danawillow @emilymye Is there any update on when this feature may be implemented? If this Magic Modules implementation is some way off, are you open to a PR via the more traditional route? Thanks!

[2018-08-21 19:26] emilymye commented on #1588
@nickithewatt working on this feature, expect a PR shortly :)

[2018-08-21 20:26] #1793 closed

[2018-08-21 20:39] ndmckinley commented on #1864
Thank you, that's helpful, let me tweak that.

[2018-08-21 20:47] #1864 closed

[2018-08-21 20:48] paddycarver commented on #1883
So, I've talked about this with the core team. At the moment, there's a few things at play. When a config is present for a resource, that controls the dependencies and order of resource actions. When a config is not present for a resource, state controls. So our problem here is that a config _is_ present for the instance group manager, but a config is _not_ present for the health check. The IGM st

[2018-08-21 20:59] biff2005 commented on #1289
This would be great.

[2018-08-21 21:00] danisla commented on #1883
Thanks for looking into this Paddy. It's unfortunately a case that may become more common with GCP resources as folks use Terraform more and more to iterate on changes and upgrade/patch configs. I can think of other cases where there are dependencies like this around the load balancer components and Terraform can get stuck trying to modify/delete something before it's been detached.

I like the so

[2018-08-21 21:10] ndmckinley commented on #1841
This seems like a timeout issue, yes.  Did @Chupaka's timeout block help?

[2018-08-21 21:46] ndmckinley commented on #1826
Very strange, but yes, I see the error right there.  What version of the Google provider are you using?  I can't repro in `0.16.2`.

[2018-08-21 21:59] ryanckoch commented on #1826
Hmmm

[code]

[code]

[2018-08-21 22:01] ndmckinley commented on #1826
Sorry, it's terraform-provider-google, not terraform-provider-gsuite.  :(

[2018-08-21 22:03] ryanckoch commented on #1826
Bah... Sorry... I clearly need a nap
[code]

[2018-08-21 22:28] gkuchta opened #1914 "adding enableLogging to resourceComputeFirewall()"
Hi!

Are there plans for adding `enableLogging` to the `resourceComputeFirewall()` magic module? I know that feature's only available in v0 beta, so I'm curious about plans. I'd opened a PR to include support for it pre-magic module (https://github.com/terraform-providers/terraform-provider-google/pull/1908), but I believe that's now deprecated code. Talk about bad timing on my part!

Cheers,

Gar

[2018-08-21 22:51] nickithewatt commented on #1588
Fantastic, thanks @emilymye

[2018-08-21 23:50] pivotal-saman-alvi commented on #1841
Yes, the timeout block solved the problem. Thanks @Chupaka !

[2018-08-22 07:18] jpaulgs commented on #632
I encountered the same issue as @patrykmikula... it's been 10 months since it was first reported is it likely to be fixed?

importing the service account isn't ideal as I really hate manual steps when creating new environments...

[2018-08-22 07:56] lfshr opened #1918 "FeatureRequest: Add ability to create node pool with preemptible machines."
The ability to create node pools with preemptible machines is currently available via the console. This should be (eventually) reflected in the terraform provider.

### Affected Resource(s)
Please list the resources as a list, for example:
- google_container_cluster
- google_container_node_pool

### Terraform Configuration Files
[code]

### Expected Behavior
A cluster should be created with a node

[2018-08-22 08:08] Chupaka commented on #1918
If you cannot do it via gcloud or API - Terraform has nothing to do here.

[2018-08-22 08:17] lfshr commented on #1918
See OP

This is here more for "remind me later" purposes, and to try and get the ball rolling on Google's side.

[2018-08-22 09:05] rolandkool opened #1920 "Terraform crashes with google provider built from master"
Hi there,

When I build the terraform provider from the master branch and run it against my GKE cluster it crashes. See attached crash.log.
[crash.log](https://github.com/terraform-providers/terraform-provider-google/files/2309595/crash.log)

The exact same .tf file works just fine with 1.16.

[2018-08-22 09:35] gorilych commented on #632
w/a is to use "null_resource" and "local_file", though this requires gcloud to be installed along with terraform. In below code gcloud uses another service account for auth, but you can use other methods.

[code]

[2018-08-22 18:35] antoncohen commented on #1920
It looks like v1.17.0 got cut from master an hour ago (8 hours after this bug report). v1.17.0 crashes.

[2018-08-22 18:45] jgrabenstein commented on #1920
Confirming that I see the same issue as @rolandkool with v1.17.0 of the google provider module (`unexpected EOF` with a GKE cluster). Works successfully with v1.16.2

[2018-08-22 19:17] ajcrowe commented on #1920
Yeah I'm seeing this, specifically when planning is readying the state for a GKE cluster.

[2018-08-22 19:30] danawillow commented on #1920
Gah, sorry about that all. Fix is out for review now.

[2018-08-22 19:40] emilymye commented on #1903
Hmm, I'll take a look at how the error is getting propagated. Unfortunately, we're working with the  autogenerated Go libraries for google cloud, which is different than what gcloud uses, so the actual error type might be removed via type conversions before we can access it.

[2018-08-22 19:41] #1902 closed

[2018-08-22 19:47] #1920 closed

[2018-08-22 19:52] emilymye commented on #1914
Yup, #1907 just made this a magic-modules-generated resource. It shouldn't be too hard to add this field so I'll go ahead and do it. It's probably fine to close out your other PR, and I'll probably do so if you approve :) Sorry for the extra work!

[2018-08-22 20:04] danawillow commented on #1918
It's in the API here: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/NodeConfig.

[2018-08-22 20:06] danawillow commented on #1918
Also, here's a fun trick: if you go into the console and try to create a resource, a lot of times there's a link for "Equivalent REST"- that's a great way to figure out how to call something using the API.

[2018-08-22 20:10] emilymye commented on #1909
I'm pretty sure something is wrong with this data source. Shouldn't service account public keys be referred to by specific key id, not an overall service account? I'll look into this.

[2018-08-22 20:17] danawillow opened #1927 "Standardize `id` formats and make it a useful value"
We have a bunch of examples and tests that depend on the ID field, but we don't want our users to have to know the format of that field, and we want the ability to change that format at will. This issue entails making sure that every test and documentation example that relies on the id of a resource no longer does that, potentially adding new fields to existing resources that represent what we cur

[2018-08-22 20:18] gkuchta commented on #1914
@emilymye awesome and thank you! I've closed out my PR, and I'll keep my eyes on the release notes. Cheers :)

[2018-08-22 21:01] zombiezen opened #1928 "Support import for Runtime Config resources"
### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

[code]

### Affected Resource(s)
- google_runtimeconfig_config
- google_runtimeconfig_variable

### Terraform Configuration Files

[code]

### Expected Behavior

`terraform import google_runtimeconfig_config.default pr

[2018-08-22 21:45] danawillow commented on #1597
Hey all, can I confirm for you that what you want from an API perspective would be to be able to set all the non-deprecated fields listed in https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters#Cluster.IPAllocationPolicy? If we continue to not allow setting `useIpAliases` explicitly, would that be all right or do you need the ability to set that to fal

[2018-08-22 22:01] lfshr commented on #1918
Hi @danawillow thanks for the response.

The NodeConfig preemptible flag is already implemented in terraform. The NodePool preemptible flag isn't. You can't specify a NodeConfig block alongside a NodePool block :(

[2018-08-22 22:02] lfshr commented on #1918
Currently on the console you can spin up a cluster with a NodePool that creates preemptible machines.

[2018-08-22 22:02] danawillow commented on #1918
Sure you can! https://www.terraform.io/docs/providers/google/r/container_node_pool.html#node_config

[2018-08-22 22:05] lfshr commented on #1918
I tried this today before opening this. Either Terraform doesn't allow it or the API doesn't allow it. I can confirm tomorrow.

[2018-08-22 22:29] danawillow commented on #1597
Yup! Basically, if you set anything in the `ip_allocation_policy` block, `useIpAliases` would be set to true (this is the current behavior).

[2018-08-22 22:56] joshughes opened #1929 "Import google_sql_database_instance does not work"
[code]

[code]

[2018-08-22 23:28] brettcurtis opened #1930 "Error refreshing state: unexpected EOF"
### Terraform Version
[code]
Providers:
```provider.google: version = "~> 1.17```
### Affected Resource(s)
- google_storage_bucket
- google_compute_shared_vpc_service_project
- google_container_cluster

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/brettcurtis/5cf40d299d2c2b4c856e55b8300a492c

### Panic Output
[code]

### Expected Behavior
```terraform plan -ou

[2018-08-22 23:29] emilymye commented on #1929
Looks like the import doesn't set the project, will get a fix out soon. There's other things going on in these logs that I think are separate (k8s provider) so I'm just going to ignore those for now.

[2018-08-22 23:47] paddycarver commented on #1930
I'm pretty sure this is a duplicate of #1920. We just released 1.17.1 a few hours ago to address this. Really sorry about the crash. If you upgrade, and it doesn't go away, please feel free to comment in this issue, and we can keep digging, and possibly cut another bugfix release. Again, my apologies for the oversight on this crash.

[2018-08-22 23:47] #1930 closed

[2018-08-22 23:48] paddycarver commented on #1929
I think this is a duplicate of #1410.

[2018-08-22 23:55] brettcurtis commented on #1930
Ah, ok yeah I think you're right. Just noticed I had:
`provider.google: version = "~> 1.16`
locally so that explains why it works locally and not from my CD environment.

Thanks!

[2018-08-23 09:03] lfshr commented on #1918
Never mind, I am indeed stupid. Supply the node_config block inside the node_pool block rather than alongside it.

[code]

[2018-08-23 09:03] #1918 closed

[2018-08-23 11:50] geekflyer commented on #1857
on that occasion please also add support passing environment variables: https://cloud.google.com/functions/docs/env-var

[2018-08-23 13:07] mberhault opened #1936 "Panic in google_compute_instance Update."
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_instance

### Terraform Configuration Files
Updating instance from:
[code]

To:
[code]

The two changes are:
* removed `cloud-platform` scope.
* added `allow_stopping_for_update` option.

### Debug Output
Please see panic and crash log gist below.

### Panic Output
[code]

Cras

[2018-08-23 21:34] danisla opened #1937 "Add regional support for data.google_container_engine_versions"
When using the `data.google_container_engine_versions` data source, I'm seeing differences in the list of versions for regional and zonal clusters.

The Google API call is different for regional and zonal server versions:

Regional:

[code]

Zonal:
[code]

So if I try to create a regional cluster using the data source, I sometimes get messages like this:

[code]

Terraform version:

[code]

[2018-08-23 23:52] geekflyer opened #1938 "Updating Cloud Functions' source code impossible"
Hi there,

I'm trying to create a cloud function via terraform (which in this particular example forwards error logs to slack, but that's irrelevant for the issue).

**The problem is it seems impossible to update a cloud functions *source code* once it's deployed initially via terraform**.

As an example below is my hcl config code. You can see that as part of that code I'm packaging a node.js app

[2018-08-24 09:15] Chupaka commented on #1938
So looks like you just need to update google provider :)

[2018-08-24 09:58] geekflyer commented on #1938
Nope, #1781 doesn't really solve my issue. With #1781 we only gain the ability to update the functions source if I change at the same time the location of the file in GCS. In my case I'm just updating the .zip blob in-place in GCS, so it's location / path stays the same which in turn *won't* trigger an update of the function.

[2018-08-24 14:51] Zamyatin commented on #1044
Hey @danawillow was wondering on an update. We have been watching this issue evolve and are quite excited to see how implementation works.  I actually had a reminder set to hit y'all up :) Any news?

[2018-08-24 16:20] baudday commented on #22
I'm currently receiving the following error when attempting to run `terraform apply`

[code]

[2018-08-24 21:12] scubahub opened #1940 "TF apply silent failure when instance metadata tag names are invalid"
### Terraform Version
Terraform v0.11.8
+ provider.google v1.16.2

### Affected Resource(s)
- google_compute_instance

### Terraform Configuration Files
Relevant bit is specification of custom metadata for an instance.  Here is an excerpted bit:
[code]

### Debug Output
Showing the request and error response (note 400 Bad Request response):
[code]

### Expected Behavior
When terraform plan/apply/w

[2018-08-24 22:29] #1909 closed

[2018-08-25 06:34] madsonic opened #1943 "'default' shortname not supported for service account scope in compute instance resource"
### Terraform Version
Terraform v0.11.8
provider.google v1.17.1

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_instance

### Expected Behavior
`default` short name should be supported as per [terraform docs](https://www.terraform.io/docs/providers/google/r/compute_instance.html#service_account). such a short name is listed at [gcloud docs](https://clou

[2018-08-27 10:12] defo89 opened #1945 "google_container_registry_repository project argument not optional"
### Terraform Version
Terraform v0.11.8
+ provider.google v1.17.1

### Affected Resource(s)
- google_container_registry_repository

### Terraform Configuration Files
[code]

### Expected Behavior
Container registry URL for this project is displayed.

### Actual Behavior
[code]

### Steps to Reproduce
1. `terraform init`
2. `terraform apply`

### Additional information
Adding 'project' argument sol

[2018-08-27 10:26] dmitrijsf commented on #1945
+ same with **google_container_engine_versions**

[2018-08-27 11:01] n0vember opened #1946 "google_compute_disk forces new disk creation"
### Terraform Version
[code]

### Affected Resource(s)
- google_compute_disk

### Terraform Configuration Files
[code]

### Debug Output
will provide if necessary.

### Expected Behavior
- `terraform apply` execution creates two disks : data-0 and data-1.
- A second `terraform apply` execution does nothing.

### Actual Behavior
- `terraform apply` execution creates two disks : data-0 and data-1.
-

[2018-08-27 11:07] Chupaka commented on #1946
Show at least `terraform plan`

[2018-08-27 12:10] n0vember commented on #1946
Here is the `terraform plan` output for the first run :
[code]

And the second run (the one I think should not destroy anything) :
[code]

[2018-08-27 12:26] #1946 closed

[2018-08-27 14:52] Legogris commented on #32
Any news on this? Still getting this with Terraform v0.11.7 with google provider v1.16.0.

[2018-08-27 15:47] MarcFundenberger commented on #1265
+1

[2018-08-27 15:57] Susurrus19 opened #1947 "GCE instances being created with automatic_restart set to OFF"
### Terraform Version
Terraform v0.11.8
+ provider.google v1.16.2

### Affected Resource(s)
- google_compute_instance

Affects multiple resources.

### Terraform Configuration Files
[code]

### Debug Output
Not sure how to do this

### Expected Behavior
Newly created instances are instantiated with "Automatic Restart: On (true)"

### Actual Behavior
Newly created instances are coming up with "Auto

[2018-08-27 18:46] diegolima opened #1948 "Adding a new access_config block to existing instance forces resource re-creation"
Hello!

Trying to modify an existing instance that was created having only an internal IP address (and thus no access_config block) to add an external IP afterwards results in terraform wanting to re-create the instance. When using the GCP control panel I'm able to attach an IP address to an existing instance without having to re-create it.

### Terraform Version
Terraform v0.11.7

### Affected Re

[2018-08-27 22:07] bbarnes52 opened #1950 "support GitHub repositories with google_cloudbuild_trigger"
Google's cloud build service allows a user to run CI workloads for code hosted on GitHub, Bitbucket, and Google Cloud Source Repositories (CSRs). Currently, google_cloudbuild_trigger resource only supports CSRs.

This feature request is to support GitHub specifically, though I imagine Bitbucket support would also be valuable to end  users.

[2018-08-28 04:58] Chupaka commented on #1948
Hi. What version of Google Provider plugin?

[2018-08-28 10:02] anshulpatel25 opened #1952 "google_cloudbuild_trigger should support disabled option"
Hello,

`google_cloudbuild_trigger` should support `disabled` option upon trigger creation.

### Terraform Version
[code]

### Affected Resource(s)
- google_cloudbuild_trigger

### Terraform Configuration Files
[code]

### Expected Behavior
`disabled` should be supported.

### Actual Behavior

[code]

### Steps to Reproduce
`terraform plan`

[2018-08-28 11:03] Evesy opened #1953 "google_project_services diffing/failing to apply on stackdriverprovisioning.googleapis.com"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
1.16.2

### Affected Resource(s)
- google_project_services

### Terraform Configuration Files
[code]
### Expected Behavior
From the introduction

[2018-08-28 18:10] AndrewFarley commented on #1044
Looking forward to updates, and would happily test alpha/betas and provide feedback.  :)  Let us know!

[2018-08-28 18:37] #1937 closed

[2018-08-28 20:52] timReynolds opened #1954 "google_storage_project_service_account does not have attribute 'email_address'"
### Terraform Version
Terraform v0.11.8
+ provider.google v1.16.2

### Affected Resource(s)
Please list the resources as a list, for example:
- google_storage_project_service_account

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Service

[2018-08-28 23:51] #1929 closed

[2018-08-29 05:28] ramyala opened #1959 "google_service_account should support domain wide delegation"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- google_service_account

### Terraform Configuration Files
[code]

### Expected Behavior
The above resource doesn't have the ability to specify Gsuite domain wide delegation option. It would be helpful to support it through terraform.

[2018-08-29 10:31] g0blin79 commented on #1841
Have the same problem and "timeouts" setting does not resolve for me.

This is the snapshot of my config.tf

[code]

This is the error:

[code]

[2018-08-29 12:47] vishen commented on #1954
This looks to be fixed by this PR - https://github.com/terraform-providers/terraform-provider-google/pull/1913. Presumably this will be fixed in the next release.

[2018-08-29 19:58] fproulx-eoscanada opened #1960 "Permadiff on container network/subnetwork after upgrading from 1.12"
This occured following an upgrade from 1.12 to 1.17 (this works well with 1.12).
We are using a Google Cloud Storage state backend.

### Terraform Version
[code]

### Affected Resource(s)
- google_container_cluster
- google_compute_network
- google_compute_subnetwork

### Terraform Configuration Files
[code]

### Expected Behavior

No-op - the state is in sync with the hcl.

### Actual Behavior

S

[2018-08-29 20:42] #1914 closed

[2018-08-30 05:07] mattlawnz commented on #1892
yes it does, here is the error:

[code]

[2018-08-30 06:12] adastidar opened #1961 "google_compute_region_instance_group_manager: Fails to create with an INTERNAL_ERROR"
### Terraform Version
0.11.8

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_region_instance_group_manager

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/adastidar/24b25b946df4927d0297df8b11bc0b4c

### Panic Output
No

### Expected Behavior
Create the Instance group and the VM instances as part of this group

### Act

[2018-08-30 07:38] skarj commented on #1950
It seems that this functionality is not implemented even in the GCP CloudBuild API
https://godoc.org/google.golang.org/api/cloudbuild/v1#RepoSource

[2018-08-30 08:04] jamielennox opened #1962 "oauth scopes on google_container_cluster/google_container_node_pool should default to default"
When you create a 1.10 cluster via console or CLI with no specified scopes your cluster gets a storage-ro scope, however it does not when you create via terraform.

The changes in 1.10 are explained: https://cloud.google.com/kubernetes-engine/docs/how-to/access-scopes the important part being:

This documentation is kind of misleading: https://www.terraform.io/docs/providers/google/r/container_clu

[2018-08-30 08:40] kedare opened #1963 "google_compute_vpn_tunnel is always recreated."
### Terraform Version
[code]

### Affected Resource(s)
- google_compute_vpn_tunnel

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/kedare/b4220314458d0e18507345e46871cd97

### Panic Output
No panic

### Expected Behavior
Desired state would match

### Actual Behavior
A difference is detected on the state, even after applying the changes, it still doesn't match w

[2018-08-30 09:35] paddycarver commented on #1963
This looks like a bug in our resource definition in Magic Modules--I believe we need to set the router field to diffsuppress using `compareSelfLinkOrResourceName`.

[2018-08-30 09:37] paddycarver commented on #1961
Can you verify that this happens consistently, and was not just a one-off error? The 503 response suggests that there was an error in the GCP backend, not in the request made.

[2018-08-30 09:38] adastidar commented on #1961
Yes, it happens evertime. However, when I grant the service account owner permissions on the project, the resources get created.

[2018-08-30 09:51] paddycarver commented on #1962
If I had to guess, the documentation was current when it was written, and did not update to track the changes when upstream changed. I'll label this with documentation to get that updated.

This behaviour is reasonable and I don't necessarily disagree with it _in theory_, but we face some technical limitations on it, currently. As it stands, it's either impossible, or nearly so, to determine wheth

[2018-08-30 09:58] paddycarver commented on #1961
Interesting! I'm going to label this `upstream`, because the API should never throw a 503 reliably in the face of only _certain_ requests. I'll distill this to an API request that can reliably replicate the error, and get a bug opened upstream on it.

The warning seems to spawn from the `initial_delay` defaulting to `300` in the module you're using, but the health check being set to `""`.

[2018-08-30 10:10] paddycarver commented on #1960
I'm going to retitle this issue, because this isn't actually a state _corruption_--the state is still there, and is still valid, and being read back appropriately. Which is good news! This is something that can be fixed without much pain or manual intervention. A state corruption is much messier and requires more manual effort. So I'm happy you don't have one of those.

That does not mean, however

[2018-08-30 10:15] paddycarver commented on #1959
Sadly, we're not able to support this until the upstream API has support for it. [From what I can see](https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts#ServiceAccount), it does not, currently. Further, this seems to be a GSuite feature, not a GCP feature, which complicates things further.

Not saying it'll never be possible, but from what I can see, today it's not something

[2018-08-30 10:16] paddycarver commented on #1954
Yup! This should be addressed in the next release.

[2018-08-30 10:30] paddycarver commented on #1948
In addition, if you could provide [debug logs](https://www.terraform.io/docs/internals/debugging.html), that would be super helpful.

[2018-08-30 10:36] paddycarver commented on #1947
You can obtain debug logs by [setting some environment variables](https://www.terraform.io/docs/internals/debugging.html).

I'd love to see some debug logs for this, because 1.16.2 has the default set to `true`. So it's very bizarre that they're getting set to `false`, if you're not specifying any value.

[2018-08-30 10:40] paddycarver commented on #1943
Sadly, that error seems to be returned by the upstream API, not Terraform, so there's only so much we can do. Could you supply some [debug logs](https://www.terraform.io/docs/internals/debugging.html) so that we can replicate a minimal reproduction to provide to the upstream API team, to try and get this fixed? Or, if it's a problem with how we're calling the API, which is also totally possible, w

[2018-08-30 10:43] paddycarver commented on #1940
Thanks for the report! It seems we're [accidentally ignoring](https://github.com/terraform-providers/terraform-provider-google/blob/59e519a219da68fcbfa6db668eb5898c3fe16e21/google/resource_compute_instance.go#L992) errors when updating the metadata. I'll get that fixed.

[2018-08-30 11:08] paddycarver commented on #1938
Sadly, I think that may be the only option we have, at the moment. :/ I don't see anything in the Cloud Functions API that suggests you can trigger a new deployment without changing the path of the deployed code. In theory, we could probably add something on the Terraform side to make this nicer, like a `source_code_hash` field, but in reality all that would do is include the `source_code_hash` in

[2018-08-30 11:18] Chupaka commented on #1947
Huh... It's indeed off (we use Private TFE). I'll try to check locally later...

[2018-08-30 11:51] paddycarver commented on #1703
This is a _very_ silly question, but have you tried turning on `logging.googleapis.com`? That's the API endpoint being hit, after all.

[2018-08-30 11:56] jamielennox commented on #1962
I was wondering if that was the case, that does make it more difficult.

We could theoretically make the default value [logging, monitoring, storage-ro], but that is once again terraform being opinionated about what the upstream default should be and not something you want to have to keep in sync over time.

I am entirely fine with this and agree that maybe the outcome of this bug is simply some b

[2018-08-30 13:51] rtoma opened #1964 "ContainerAnalysis API will be enabled on every apply (even when its enabled)"
Hi there,

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- google_project_services

### Terraform Configuration Files
[code]

### Debug Output
n/a

### Panic Output
n/a

### Expected Behavior
Enable the API only if its disabled.

### Actual Behavior
The API is being enabled on every apply run even though its already enabled.

### Steps to

[2018-08-30 15:47] aaron-trout opened #1965 "google_project_service does not wait for API to be enabled"
Terraform is not waiting for Kubernetes API to be enabled before continuing. In my case, I am trying to create a project, enable the container API with the `google_project_service` resource *AND* create a GKE cluster all in a single `terraform apply`. It seems like the step for enabling the Kubernetes API does not wait until it has finished and causes the cluster creation to fail.
### Terraform Ve

[2018-08-30 15:54] mazzy89 opened #1966 "google_compute_vpn_tunnel doesn't support the selection of routing options"
The resource `google_compute_vpn_tunnel` doesn't support the selection of the routing options. Why is not possible to choice wether option is dynamic, route or policy based?

### Terraform Version
Terraform v0.11.8

### Affected Resource(s)
- google_compute_vpn_tunnel

[2018-08-30 16:18] rajdhandus commented on #1862
the example in the docs should probably be updated to reflect the same..

https://www.terraform.io/docs/providers/google/r/compute_instance.html

[2018-08-30 18:09] morgante commented on #1959
To reiterate @paddycarver's point it's been an ongoing discussion internally within Google about whether we can have an API for enabling domain-wide delegation.

[2018-08-30 19:20] sjungwirth commented on #638
Hi guys, first thanks for the great work on TF, its a great experience.

I wanted to comment here though I think the behavior of removing the app_engine config block could be better. Right now it thinks that TF should destroy the whole project and create it again.

I understand the reasoning is based on the fact that this is the only way to "remove" app engine from a project, but this will not act

[2018-08-30 19:30] sjungwirth commented on #1561
I don't think this will actually ever work, as projects don't actually get deleted from GCP for maybe ~30 days. When TF "destroys" a project it just gets moved to a pending deletion status, and the real kicker, you can't create a new project with the same ID, because the old project with that same ID still exists.

I think the current behavior just doesn't make sense and to work around it I have t

[2018-08-30 22:49] paddycarver commented on #638
I think definitely moving the conversation to a new issue is best, just so we can track it.

In the new issue, I'd love an outline of what you'd prefer to happen, instead.

[2018-08-30 22:51] paddycarver commented on #1561
Hey @sjungwirth, a new issue would be the best place to discuss this.

[2018-08-30 22:56] paddycarver commented on #1965
Do you have a [debug log](https://www.terraform.io/docs/internals/debugging.html) for this?

The reason I ask is because [we are](https://github.com/terraform-providers/terraform-provider-google/blob/v1.17.1/google/resource_google_project_services.go#L281-L286) waiting for a service to confirm it's enabled before we move on, and so it's very bizarre that this is happening, and seems to point to an

[2018-08-30 22:59] paddycarver commented on #1966
I'm sorry, I can't seem to find any docs that talk about the features you're talking about. Can you link me to some documentation for what you're looking for?

[2018-08-30 23:01] paddycarver commented on #1964
The ignore list is populated with services that can't be manipulated from Terraform--if you remove it from your config, is it not enabled for you by default?

[2018-08-30 23:10] chasebolt commented on #1506
First off, thanks for maintaining this provider! It is super helpful :heart:

I am running into this issue as well where `google_compute_region_instance_group_manager` isn't respecting the `update_strategy` and `rolling_update_policy` attributes. Is there anything else that would be helpful to provide for this issue?

[2018-08-30 23:54] alan-ma-umg commented on #1588
@emilymye thanks so much for getting the PR for composer. Just checking do we have the TF for Composer PR ready?

[2018-08-31 02:41] paddycarver opened #1971 "Proposal: deprecate managed instance groups' instance_template field in favor of versions"
Right now, we have an `instance_template` field on `google_compute_instance_group_manager`, to specify the template you want to use with the instance group.

However, we also have a `version` sub-block that allows for canary deploys, and more.

It would be fine to have both of them, except the IGM API fills in a default `version` if you don't specify one, meaning we need to make the blocks optiona

[2018-08-31 03:12] paddycarver commented on #1506
Hi @chasebolt, thanks for the friendly nudge, this had slipped off my radar.

I've opened #1969 to fix this for `compute_instance_group_manager`. We'll need to make similar changes to `compute_region_instance_group_manager`, but I had to do some shady black magic to make this work, so I want to wait and see where we land on that one before I duplicate the approach in the regional resource.

Sorry

[2018-08-31 07:15] Chupaka commented on #1965
Don't we need some `depends_on = ["google_project_service.gke-api"]` on `my-cluster` resource?..

[2018-08-31 07:57] rtoma commented on #1964
Hi Paddy,

No, its not enabled by default. Maybe things have changed?

What I have seen: when you enable the Container Registry API the Container Analysis API is not automatically enabled. The Container Analysis API needs to be explicitly enabled, which will only work if you've whitelisted your account by joining https://groups.google.com/forum/#!forum/containeranalysis-users. Disabling the API do

[2018-08-31 08:32] aaron-trout commented on #1965
@paddycarver ok so I tried to make a standalone terraform file to reproduce this and ran it this morning with debug logs...... it worked 😠

I am also using shared VPC in my actual config, maybe that has something to do with it? I'll have to do some more digging and get back to you...

[2018-08-31 09:09] Chupaka commented on #1947
With super-minimal config:

[code]

I have this:

[code]

Here's the debug log if you really need it: https://gist.github.com/Chupaka/eec6bb056fff05614c6369104f78c4a9

[2018-08-31 11:57] migibert commented on #1971
When I added version support, I chose to keep template because of backward compatibility but I am pretty sure we should only support versions as soon as it becomes GA.
It would unify the way we manage instances and let user learn only one way to work with Managed Instance Groups without regarding if the use case is canary release, A/B testing or rolling release.

[2018-08-31 14:51] aaron-trout commented on #1965
Closing this, think it was a red herring and I've not had it happen again even when deleting and recreating everything.

[2018-08-31 14:51] #1965 closed

[2018-08-31 15:26] rileykarson commented on #1971
It looks like the [Updating Managed Instance Groups documentation](https://cloud.google.com/compute/docs/instance-groups/updating-managed-instance-groups#relationship_between_versions_and_instancetemplate_properties_for_a_managed_instance_group) suggests migrating to use `version` as well. At first glance, I'm in support of moving Terraform entirely over as soon as that becomes an option for us. I

[2018-08-31 15:38] migibert commented on #1600
Working on it, I expect a PR to be ready on the middle of the next week.

[2018-08-31 17:00] paddycarver commented on #1966
I'm not an expert in the domain, but I believe these options are already supported, and implicitly chosen based on which fields you populate.

For dynamic, you'd want to populate the [`router`](https://www.terraform.io/docs/providers/google/r/compute_vpn_tunnel.html#router) field.

For route based, I believe you'd want to populate the [`remote_traffic_selector`](https://www.terraform.io/docs/provi

[2018-08-31 17:00] chasebolt commented on #1506
Not a problem at all - I appreciate the ping back. I'll follow that PR that looks like you already have some work going on.

Thanks!

[2018-08-31 17:29] sjungwirth opened #1973 "App Engine design around removal is sub-optimal"
I know this issue was raised previously in #1561, as others encountered this with the rollout of app engine support, but I believe the current behavior is simply broken.

Recreating the project in order to "remove" app engine will not actually work and simply creates a broken TF project. Projects don't really get deleted from GCP for maybe ~30 days, so when TF "destroys" a project it just gets mov

[2018-08-31 17:41] mazzy89 commented on #1966
I'll try that and I'll let you know.

[2018-08-31 18:13] paddycarver commented on #1973
Hi @sjungwirth, thanks for opening the new issue! Happy to discuss the design of this.

There's definitely a trade-off being made here. I'm very hesitant to implement the option you called out, because we have no way to message to the user that we didn't _actually_ delete their app, which is alarming, because Terraform will say that it _did_. The accuracy of Terraform's plans is something I think

[2018-08-31 18:39] sjungwirth commented on #1973
Maybe I misunderstood the idea of marking App Engine as computed, but I guess what I would suggest is that terraform ignore or doesn't complain if the project has app engine enabled but it isn't in the TF config. Yes this means you might think app engine was removed if you had it in TF configuration previously and removed it, but that really isn't possible on GCP currently anyway.

Sure, the proje

[2018-08-31 19:11] paddycarver commented on #1973
What does "unrecoverable" mean as you're using it here? I think I'm missing something about the state you're ending in, because as far as I know, you should end up with the project removed from state and pending deletion. I'm not clear on what "recovery" means in that situation.

Right, but Terraform is supposed to do what it says in the plan. If the plan says that it is going to remove an app, an

[2018-09-02 21:22] walterdolce opened #1975 "Compute address resource fails with "project required" while docs say otherwise"
As per issue title, when creating a compute address, Terraform fails with the following while the [docs](https://www.terraform.io/docs/providers/google/r/compute_address.html#project) state the `project` attribute is optional.

Terraform version is `0.11.8`. Google provider version is `1.17.1`

The following should be enough to reproduce:
[code]

[2018-09-02 21:23] walterdolce opened #1976 "Compute global address resource fails with "project required" while docs say otherwise"
As per issue title, when creating a compute global address, Terraform fails with the following while the [docs](https://www.terraform.io/docs/providers/google/r/compute_global_address.html#project) state the `project` attribute is optional.

Terraform version is `0.11.8`. Google provider version is `1.17.1`

The following should be enough to reproduce:
[code]

[2018-09-03 01:35] mattlawnz opened #1977 "ForwardingRule Invalid resource.IPAddress field"
Hi

Im experiencing an error when trying to create a VPN provider, and am following loosely the example here:
https://github.com/terraform-providers/terraform-provider-google/blob/master/examples/vpn/vpn.tf

### Terraform Version
Terraform v0.11.8
+ provider.google v1.17.1

### Affected Resource(s)
google_compute_forwarding_rule

### Terraform Configuration Files
[code]

### Debug Output
Please pr

[2018-09-03 02:27] madsonic commented on #1943
sure! I might take some time to get back with the logs

[2018-09-03 06:32] mazzy89 commented on #1966
Unfortunately by using the following resource doesn't create the expected result:

[code]

The VPN is created with `policy-based` routing option

[2018-09-03 09:52] AswinKakarot commented on #680
The above change only add node-taints to a GKE cluster not node pools. Please consider adding taints to node pools also.

[2018-09-03 11:35] Tony-Proum commented on #1703
Hello,

I encounter the same issue using a service account with Billing Administrator role. The service account have access to the destination bucket and `logging.googleapis.com` is enable but still have this error :
```google_logging_billing_account_sink.billig-account-sink: googleapi: Error 403: The caller does not have permission, forbidden```

[2018-09-03 11:52] choppedpork commented on #1703
@paddycarver not a silly question at all - I wasn't aware of this and while I haven't checked if it got implicitly enabled previously (I'm assuming it did when I've done this via the console) I did add it to the module I'm writing. Unfortunately this didn't help :(

@Tony-Proum my shameful workaround was adding a TODO line to my module and setting this up via the console, for the time being (I'm s

[2018-09-03 12:37] Tony-Proum commented on #1703
Oh, I were able to solve this issue reviewing all roles used by the service account. Using debug mode, I found several call that require different roles :
Billing Account Administrator and `roles/logging.configWriter` are the relevant ones in my case.

[2018-09-03 14:40] #1348 closed

[2018-09-03 14:53] jiridoko commented on #1265
+1
Is there an ETA on this?

[2018-09-03 15:34] choppedpork commented on #1703
That's interesting! I guess this might mean that billing account sinks are one of the features that don't work correctly with `gcloud auth login` credentials  - as per https://www.terraform.io/docs/providers/google/index.html

Interestingly I've not encountered any other issues using those credentials so far but I'll try to retest with a service account. I'm wondering if it would make sense to ref

[2018-09-04 05:51] 35blaze opened #1978 "google_cloudbuild_trigger can't add Dockerfile Directory Path"
I want to build a Trigger using a Dockerfile but when I define the Dockerfile Direcotry Path it's not applied to the Trigger Configuration and Terraform gives no error message.

### Terraform Version
`Terraform v0.11.8`

### Affected Resource
- google_cloudbuild_trigger
`trigger_template block`: `dir` - (Optional) Directory, relative to the source root, in which to run the build. This must be a re

[2018-09-04 07:47] jnahelou commented on #1943
In gcloud SDK you can find that scopes aliases are client side defined :
[/usr/lib64/google-cloud-sdk/lib/googlecloudsdk/api_lib/compute/constants.py](url)
[code]
and
[code]
The documentation is about gcloud CLI.

I think ```default``` alias has not been defined in Google provider because the type is ```map[string]string``` instead of ```map[string][]string```.
[code]

For my need, I defined a lis

[2018-09-04 08:51] walterdolce opened #1980 "Using GOOGLE_CLOUD_KEYFILE_JSON and GCLOUD_KEYFILE_JSON to initialise the GCP provider does not work"
Hi, as per issue title, the provider won't initialised when the above environment variables are set. It _can_ be initialised when using `GOOGLE_CREDENTIALS`.

Terraform version is `0.11.8`. Provider version is `1.17.1`. To reproduce just try to initialise Terraform with nothing but the environment variables containing a Service Account JSON key.

[2018-09-04 10:30] Chupaka commented on #1948
"If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed." (c) New Issue Template

1.12 is way too old. Have you checked with 1.17?

[2018-09-04 11:20] hashibot[bot] opened #1981 "google_compute_instance_group_manager Required field 'instanceTemplate' not specified, required"
_This issue was originally opened by @pgrange as hashicorp/terraform#18781. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I try to use version blocks in [google_compute_instance_group_manager](https://www.terraform.io/docs/providers/google/r/compute_instance_gro

[2018-09-04 11:20] hashibot[bot] opened #1982 "Unable to access public IP of a newly created GCP instance in local-exec's Ansible"
_This issue was originally opened by @talonx as hashicorp/terraform#18782. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

### Expected Behavior

The Ansi

[2018-09-04 11:20] ghost opened #1983 "Google provider does not support force option for google_compute_image"
### Affected Resource(s)

* google_compute_image

_This issue was originally opened by @talonx as hashicorp/terraform#18783. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

[2018-09-04 11:20] hashibot[bot] opened #1984 "google_dataproc_cluster metadata support not documented"
_This issue was originally opened by @steven-edgar as hashicorp/terraform#18784. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Current Terraform Version

[code]

### Use-cases
Trying to set metadata on dataproc clusters

### Attempted Solutions

### Proposal

[2018-09-04 11:20] hashibot[bot] opened #1985 "google_dataproc_cluster accelerator support request"
_This issue was originally opened by @steven-edgar as hashicorp/terraform#18786. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Current Terraform Version

[code]

### Use-cases

In order to provision a Dataproc cluster on GCP with GPU accelerators we need sup

[2018-09-04 12:38] migibert commented on #1982
Hi,

You should define an empty access_config field like this:
[code]

As said in the documentation, omitting access_config means the instance will not have an external IP, so the field network_interface.0.access_config.0.assigned_nat_ip  will not be available

[2018-09-04 12:41] walterdolce commented on #1980
Never mind. I mistakenly referred to the Google provider but in reality I was referring to the `gcs` Terraform backend. And that does not appear to support the environment variables mentioned above. But it _does_ support `GOOGLE_CREDENTIALS`.

[2018-09-04 12:41] #1980 closed

[2018-09-04 12:57] talonx commented on #1982
Thanks. I should have read the docs in more detail.

[2018-09-04 14:34] domudall commented on #1801
Until the API issue is resolved we've had to ignore the change:

[code]

Not ideal but keeps our plans clean in the meantime 😞

[2018-09-04 17:30] ndmckinley commented on #22
@baudday Although that's also a 503, it's a different 503 - `transientError` instead of `serverException`.  Can you open a new issue, including with debug logs?

[2018-09-04 17:33] ndmckinley commented on #1841
@g0blin79 - you've added the timeout block to the database instance, but it's the database which needs it (`testdb` instead of `production-postgres`).

[2018-09-04 17:33] #1841 closed

[2018-09-04 18:01] danawillow commented on #1712
I'm not actually a GKE expert, I'm just very familiar with their API, so I can't really answer question 1. I'd recommend looking around the GKE docs to see if it answers that question. Likewise, I don't have an opinion on question 2 since it's not my area of expertise, but it seems to be a thing many of our Terraform users are happy to have the option of doing.

[2018-09-04 20:13] danawillow commented on #680
Hey @AswinKakarot, taints are part of the `node_config` block, which you can set on either the cluster or the node pool. You can see some examples of how to do this in the tests in the linked PR.

[2018-09-04 21:09] diekmann opened #1986 "project_id validator is too restrictive: rejects domain-scoped or long project IDs."
### Terraform Version
 * Independent of Terraform version, I'm using v0.11.6 right now.
 * terraform-provider-google >= 1.13.0

### Affected Resource(s)
- google_project

### Terraform Configuration Files
[code]

### Expected Behavior
Terraform accepts the `project_id` without any trouble.

### Actual Behavior
Terraform refuses to load the config with my `project_id`:
[code]

This breaks existing

[2018-09-04 21:10] #1982 closed

[2018-09-04 21:10] danawillow commented on #1982
Closing since it seems like this is solved, let me know if I should reopen!

[2018-09-04 21:12] mazzy89 commented on #1966
Closing this issue because it is possible to have as routing options `Route based`. It is enough to define `remote_traffic_selector ` and `local_traffic_selector ` as `[0.0.0.0/0]` and then create a `google_compute_route` resource

[2018-09-04 21:12] #1966 closed

[2018-09-04 21:16] danawillow commented on #1978
Hey @35blaze, debug output in this case means output from debug logs as described at https://www.terraform.io/docs/internals/debugging.html. Mind forwarding those along in a gist? That would be a big help.

[2018-09-04 21:29] danawillow commented on #1847
Interesting! @tflowcamdev, do you have an example provider that you know works with this? I just poked around the aws provider code for a sec and didn't see anything specific regarding proxies, but it's possible I just didn't look hard enough.

[2018-09-04 21:38] danawillow commented on #1842
Hey @ctindel, sorry for the delayed response. That's indeed the way to get your gcloud credentials usable by external applications. We'd like to provide a proper oauth flow in the future because using gcloud credentials outside of gcloud can sometimes cause some confusing error messages, but we haven't quite gotten there yet. In the meantime, using a service account is usually less error-prone if

[2018-09-04 21:38] #1842 closed

[2018-09-04 21:40] danawillow commented on #1805
@ndmckinley assigning this to you since you've already looked into it a bit, but feel free to unassign if you aren't looking at this anymore.

[2018-09-04 21:48] danawillow commented on #1799
Hmm, I'm not sure that the API exposes any way to determine the name of the firewall rule it created, though. Notice that in your example you wrote `gke-CLUSTERNAME-SOMEHASH-ssh`. We'd need a programatic way of determining that hash, and I'm not sure that there is one (or that it's something we can rely on being stable).

[2018-09-04 22:32] ctindel commented on #1851
I've moved on to other projects, i'll close this for now.

[2018-09-04 22:32] #1851 closed

[2018-09-04 23:13] chrisst commented on #1703
FWIW i've found that the generic 403 error you are encountering is usually related to IAM roles not being set up correctly. It's also important to note that there permissions are managed in different places depending on what the permission is attached to.

You should check to make sure you have the correct permissions set on your [billing account](https://cloud.google.com/billing/reference/rest/v1

[2018-09-05 00:39] silvpol opened #1987 "Error applying plan with multiple authorized networks in GKE cluster"
### Terraform Version
`Terraform v0.11.8
+ provider.google v1.16.2
+ provider.http v1.0.1
+ provider.random v1.3.1
+ provider.template v1.0.0`

### Affected Resource(s)
- google_container_cluster

### Terraform Configuration Files
[code]

Relevant section of Terraform state
[code]

### Debug Output
Will add later as need to be sanitised first

### Expected Behavior
Should have completed without er

[2018-09-05 00:57] silvpol commented on #1987
Issue with outputs definition, closing

[2018-09-05 00:57] #1987 closed

[2018-09-05 10:38] choppedpork commented on #1703
Thank you so much @chrisst!! That was it! Apply successful :)

Looking at the docs, there's already an explicit note about the permissions required - do you think it would make sense to make it explicit that the permission is a _billing account_ permission rather than IAM permission?

I still find it very odd that it worked fine using the console but this has nothing to do with the terraform provi

[2018-09-05 12:43] g0blin79 commented on #1841
Yes I'll try. I added to the database instance because in terraform official documentation this setting seems to be available only for database instance (https://www.terraform.io/docs/providers/google/r/sql_database_instance.html#timeouts)

and not available for database

https://cloud.google.com/sql/docs/mysql/admin-api/v1beta4/databases
https://www.terraform.io/docs/providers/google/r/sql_databa

[2018-09-05 13:18] g0blin79 commented on #1841
Tried without success.
This is my configuration updated.

[code]

This the resulted error

[code]

Maybe there is something wrong?

[2018-09-05 13:32] silvpol opened #1988 "Error recreating cluster when issue_client_certificate changed"
### Terraform Version
0.11.8

### Affected Resource(s)
Please list the resources as a list, for example:
- google_container_cluster

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/silvpol/292eabbfd012faa20f7f723a36300de4

### Expected Behavior
Recreate cluster without error

### Actual Behavior
Crashed after destroying

### Steps to Reproduce
1. Change `issue_cl

[2018-09-05 15:44] tpoindessous opened #1989 "New data source : google_compute_instance"
Hi

I can't find how to access informations (internal IP for example) about a compute instance.

I don't know if I'm not looking in the right direction or if a google_compute_instance datasource is missing.

Thanks in advance !

[2018-09-05 16:21] chrisst commented on #1703
I think it's a difference of how you are granting auth to the credentials that Terraform is trying to use. Also to be a bit more precise, billing accounts are still using IAM permissions it's just that the IAM tab in the console refers only to a subset of all the IAM permissions (IIRC you can access project and organization IAM policies there).

[2018-09-05 16:36] choppedpork commented on #1703
Thanks @chrisst, that makes sense.

Thanks again for pointing me in the right direction and for the docs update!

[2018-09-05 16:36] #1703 closed

[2018-09-05 16:45] danawillow commented on #1847
Thanks, that's super helpful! I'll get right on it.

[2018-09-05 16:52] #1597 closed

[2018-09-05 22:37] danawillow commented on #1989
This is already in progress in #1906

[2018-09-06 00:39] hayesgm commented on #1044
Happy also to hear a bit of updates here for forecasting.

[2018-09-06 01:53] danawillow commented on #1044
Sorry all, I was out on vacation last week and @Sirgitsalot is out all this week, so hopefully next week we'll have some news for you. #1967 is the first PR for this, which has some necessary prereqs.

[2018-09-06 02:14] danawillow commented on #1986
This will be fixed by #1878

[2018-09-06 02:27] danawillow commented on #1975
Hey @walterdolce, I'm not able to repro this; that config creates an address just fine for me. Can you show me the error message you got, as well as `terraform plan` output if you have it?

[2018-09-06 02:39] danawillow commented on #1988
I'm able to reproduce this, but it looks to me like an issue with Terraform itself rather than with the Google provider. Mind filing an issue at https://github.com/hashicorp/terraform? If it helps, this minimal config also reproduces the error:
[code]

[2018-09-06 08:52] rtoma commented on #1964
@paddycarver any additional information I can provide? If you approve I can submit a PR to remove that one line.

[2018-09-06 11:52] tpoindessous commented on #1989
Thanks !

Le jeu. 6 sept. 2018 à 00:37, Dana Hoffman <notifications@github.com> a
écrit :

[2018-09-06 15:14] #1494 closed

[2018-09-06 15:20] hashibot[bot] opened #1998 "Google CloudSQL HA config not recognized"
_This issue was originally opened by @weeco as hashicorp/terraform#18799. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Expected Behavior

When you import the state of a Google Cloud project which has CloudSQL instances configu

[2018-09-06 16:53] #991 closed

[2018-09-06 19:21] magic7s opened #2000 "IPv6 connection to container.googleapis.com being preferred even when IPv6 not available on local network"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-06 22:23] #1975 closed, assigned to nobody

[2018-09-06 22:25] #1976 closed, assigned to nobody

[2018-09-06 23:17] danawillow commented on #1964
Container Analysis is enabled automatically if you enable the Binary Authorization API. What's your use case for using it independently?

[2018-09-07 00:27] danawillow commented on #1961
@paddycarver, assigning this to you since you said you were going to do stuff. If you aren't, feel free to unassign :)

[2018-09-07 00:31] danawillow commented on #1960
I think this is a dupe of #988 (upstream issue https://github.com/hashicorp/terraform/issues/18209) since it's showing an in-place update on a ForceNew field. I'm going to go ahead and close this as a duplicate. There are some potential workarounds that people have posted on #988 and its linked issues- hopefully one of them works for you!

[2018-09-07 00:31] #1960 closed

[2018-09-07 00:32] danawillow commented on #1953
@paddycarver what's the upstream bug here? Anything I should file internally?

[2018-09-07 01:28] danawillow commented on #2000
This doesn't seem to me like something we can really correct on our end, though I could be wrong. We connect to GKE by using the client libraries that GCP gives us, so that's likely where the fix would need to be made. If you have debug logs though (https://www.terraform.io/docs/internals/debugging.html), that would help give information that we could provide to that team for debugging.

[2018-09-07 05:42] anagrawa opened #2004 "TF support for billing users"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-07 07:08] rtoma commented on #1964
Hi Dana, I did not know that. Thanks.

To answer your question: we'd like to enable the API's we use and nothing more. We use Container Analysis for its vulnerability scanning feature. Binary Authorization we do not use yet. That's why we want to control the Analysis API.

[2018-09-07 08:48] weeco commented on #1998
@danawillow Thank you for taking a look into this. My approach was different (see steps to reproduce). I have an existing Google Cloud project which has a couple CloudSQL instances defined which I wanted to import with Terraform (see the approach how I wrote down the terraform configuration). Even though I did NOT have a property like
[code]

nor `terraform apply` or `terraform plan` noticed any d

[2018-09-07 14:26] sudoforge commented on #1044
Please refrain from adding comments that don't provide value, instead, prefer using [reactions][0] to show your support for an issue.

This avoids sending out an email, or otherwise generating a notification for everyone subscribed to a thread.

[0]: https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/

[2018-09-07 16:09] danawillow commented on #1998
Ah of course, got it! I'll give that a try today.

[2018-09-07 16:10] danawillow commented on #1964
Hmm, thanks! I'll follow up inside of Google and see if I can find anything out.

[2018-09-07 17:48] #1600 closed

[2018-09-07 20:44] paddycarver opened #2006 "(this is a test, ignore it)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-07 20:46] #2006 closed

[2018-09-07 21:25] sudoforge opened #2007 "A google_project_iam_binding resource with an empty members list should be stored in state"
Summary:

I periodically need to add a project-level binding for users, which is later removed. To facilitate doing this easily, I keep a `google_project_iam_binding` resource around and simply add/remove IAM users from the `members` list as needed.

When the `members` list has at least one item, the resource is persisted in state and the upstream API handles it appropriately. When the `members` l

[2018-09-07 22:09] paddycarver opened #2008 "(this is a test ignore it)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-07 22:09] #2008 closed

[2018-09-07 22:27] #1984 closed

[2018-09-07 22:36] #1963 closed

[2018-09-07 22:58] paddycarver opened #2010 "(test, ignore me)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-07 22:58] #2010 closed

[2018-09-08 03:53] dbadola opened #2011 "Recreation of subnetwork fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-08 16:47] oremj opened #2012 "resource google_sourcerepo_repository doesn't support import"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-10 06:02] mattlawnz opened #2013 "google_container_cluster fails to pick up project"
### Terraform Version
Terraform v0.11.8
+ provider.google v1.17.1

### Affected Resource(s)

google_container_cluster

### Terraform Configuration Files

[code]

### Debug Output

### Panic Output

### Expected Behavior

I expected that terraform picked up the projectid, from teh variable, and used that project to create the cluster in.

When I did a terraform plan, it did in fact pick this up:

p

[2018-09-10 13:33] croteaub commented on #1858
Seeing the same behavior with the cloudsql resource as well:

Error: google_sql_database_instance.master: settings.0.backup_configuration: attribute supports 1 item maximum, config has 2 declared

resource "google_sql_database_instance" "master" {
  count            = "${var.create}"
  name             = "${var.name}"
  master_instance_name = "${var.name}"
  project          = "${var.project}"
  r

[2018-09-10 14:41] jasper-smith opened #2014 "Add encryption configuration block to google_bigquery_table to support CMEK"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-10 15:43] mattford63 opened #2016 "node-pool version upgrade fails and removes state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-10 15:59] Susurrus19 commented on #1947
Any update here? Just looking to see if I need to do anything else or if this is an active issue.

[2018-09-10 18:10] #1819 closed

[2018-09-10 18:12] ndmckinley commented on #1805
I wasn't able to figure it out back in July.  I still think it's got something to do with the complex `element` stuff.  I'll take one more look.

[2018-09-10 18:36] #1668 closed

[2018-09-10 20:40] ndmckinley commented on #1805
Hm.  I think I have a suggestion for a workaround - it's kind of nasty - the sort of thing I would really expect HCL2 to fix.  I'm still testing, but I _think_ if you add `network_interface {}` to your `google_compute_instance_from_template` resource, it should work.  It works for me with a small patch that I'm trying to refine into a minimal repro case.

[2018-09-10 20:53] ndmckinley commented on #1805
There we go - once #2018 is merged, you can make this work by adding the same network_interface block from the template (it _has_ to be the same block, otherwise the two will disagree and that causes problems) and downstream `element` functions will be able to access the other computed members of the network_interface block just fine.

[2018-09-10 22:00] emilymye commented on #1480
@dinvlad Yup! The issue here is less being able to actually set named ports on instance groups and more finding the instance groups created for the GKE node pool by GCP (i.e. the node pool is managed by Terraform but the group is not) and calling that method on this instance group(s) with the correct named port

[2018-09-10 22:43] paddycarver commented on #1947
I have a reproduction of the issue, and we're working on figuring out why it's happening. Sorry for the delay. :(

[2018-09-11 00:35] ndmckinley commented on #2011
This will work if you change the `name` of the new subnetwork, but as-is, you're asking for a delete and immediate recreation of what GCP thinks of as an identical resource.  This won't work, unfortunately - it's a limitation of the GCP networking APIs.  Does changing the `name` of the resource meet your needs?

[2018-09-11 02:28] jamielennox opened #2021 "Import Container Nodepool doesn't work with 4 parts as documented"
The [import documentation](https://www.terraform.io/docs/providers/google/r/container_node_pool.html#import) says we can import nodepools like:

[code]

I'm using the 4 part version and the import step completes successfully. Terraform then runs the exists check and in my case the `d.Id()` is:
[code]
which when run through:
[code]
[code]
means that it's returning my cluster name instead of the nod

[2018-09-11 02:37] jamielennox commented on #2021
This quick patch is getting me past my problem. I don't know if it's actually a good idea or not.

[code]

[2018-09-11 02:41] jamielennox commented on #2021
Originally created in #1653 notifying @dtan4 and @danawillow based on that. (Hope that's ok)

[2018-09-11 04:29] jamielennox commented on #2021
Actually looking at this a bit later, almost certainly what we want is a:

[code]

in `case 4:` of the importer to drop the project from the start and use the standard id.

[2018-09-11 07:14] dbadola commented on #2011
@ndmckinley  Sorry But i don't understand your reply.  Let me explain my need.

Let's say we have deployed a subnetwork with "subnet1" name.  Now the requirement is to change the name to "new-subnet1" name normally this will delete the subnetwork and recreate the subnetwork with "new-subnet1" name

Changing the name only will result in above error

[2018-09-11 09:04] Chupaka commented on #2011
[code]
Looks like you're not changing the name, it's still "southeast1"

[2018-09-11 09:10] dbadola commented on #2011
@Chupaka  sorry for the confusion I am talking about "google_compute_subnetwork" name.

not the subnetwork name

  - google_compute_subnetwork.**subnetwork-southeast-1**

  + google_compute_subnetwork.**subnetwork-southeast-2**
      id:                   <computed>
      creation_timestamp:   <computed>
      fingerprint:          <computed>
      gateway_address:      <computed>
      ip_cidr_ra

[2018-09-11 10:37] vncntvandriessche opened #2022 "Impossible to reliably create a GKE cluster using terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-11 12:45] Chupaka commented on #2011
Then @ndmckinley already answered: change the name of subnetwork, not the name of terraform resource.

[2018-09-11 14:32] danawillow commented on #2021
I'm going to go ahead and close this as a duplicate of #1846, but thanks for the report! Just a note that if you do have a solution in mind, we'd be happy to look at a PR for it :)

[2018-09-11 14:32] #2021 closed

[2018-09-11 15:40] andor44 opened #2023 "Add support for MaxPodsConstraint in GKE"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-11 16:23] Chupaka opened #2024 "google_compute_region_backend_service resource is outdated - please update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-11 17:03] Susurrus19 commented on #1947
Not a problem, just wanted to make sure it was in queue.

[2018-09-11 17:55] #2012 closed

[2018-09-11 18:03] ndmckinley commented on #2013
Okay, I'm attempting to reproduce now.  If I fail to reproduce, I might need your full terraform file and debug logs.

[2018-09-11 18:07] AndrewFarley commented on #1694
Quick note since I stumbled onto this problem.  The following is/was necessary, specifically the role must follow a custom path including the project name.  So for anyone else who stumbles here, please see:

[code]

Also, to follow up on this bug, so functionally this bug can be closed, and I realize you do include this information on the [google_project_iam](https://www.terraform.io/docs/provider

[2018-09-11 18:08] ramyala opened #2025 "GKE cluster should support auto-repair management"
### Terraform Version
v0.11.8

### Affected Resource(s)
Please list the resources as a list, for example:
- google_container_cluster

There is no way to configure `auto-repair` for default node pools which go along the google_container_cluster. This option is available on GKE and also under management policy for google_container_node_pool.

[2018-09-11 18:19] ndmckinley commented on #2013
Ah.  I bet you're using a service account for project `REDACTED`.  You need to enable the API for your service account's project as well as for your target project.  If not, for example if you're using a service account for the target project, or your personal account, please say so - otherwise I'll close the bug in a few weeks.

[2018-09-11 18:37] andyhky opened #2026 "Add disk labels to google_compute_instance_template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-11 18:56] #1694 closed

[2018-09-11 19:27] #644 closed

[2018-09-11 20:03] #1803 closed

[2018-09-11 20:08] #1585 closed

[2018-09-11 20:13] #1588 closed

[2018-09-11 20:28] cepefernando commented on #2022
I have started to see the very same error message on my end as well, started about 1 day ago, I have been provisioning GKE with additional node pools for the past several months without any issues like this until now.

[2018-09-11 20:28] #1986 closed

[2018-09-11 20:44] marcin-kolda opened #2028 "Add support for BigQuery Scheduling Queries"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-11 20:58] ndmckinley commented on #1858
@croteaub: please file a separate issue for Cloud SQL - these are going to have to be fixed individually and it will be easier to track them separately.

[2018-09-11 21:20] yhuang commented on #1099
Just wanted to confirm that currently it is not possible to use a snapshot from one project to create a compute disk in another with the current Terraform provider, based on this error I am seeing:

{code}
* google_compute_disk.snapshot_boot_disk: Error loading snapshot 'projects/preprod-tax-admin/global/snapshots/forcesalt001-201808231445': googleapi: Error 400: Invalid value 'projects/preprod-ta

[2018-09-11 21:44] mattlawnz commented on #2013
Thats correct, Im using a service account & project to manage the environment.
Sorry My bad here, I missed the documentation regarding enabling this for the service project
Thanks for your help!

[2018-09-11 21:44] #2013 closed

[2018-09-11 21:49] danawillow commented on #1998
Ok, here's why this is happening.

When we define a field in the Terraform schema, we have the option of marking it as `Computed`. A Computed field is one that shouldn't show any diffs when the field is unset. This means that if the request doesn't set a specific field, but it's returned from the API on read, we have to mark it as Computed so that Terraform doesn't think that it needs to reset the

[2018-09-11 21:53] croteaub commented on #1858
Will do

On Tue, Sep 11, 2018 at 4:58 PM Nathan McKinley <notifications@github.com>
wrote:

[2018-09-11 23:02] ndmckinley commented on #2011
Yep, GCP doesn't know anything about the terraform resource name - as far as GCP is concerned you are destroying and recreating the exact same resource, which it doesn't support.  I'm going to go ahead and close the issue since `terraform state mv` accomplishes your objective.

[2018-09-11 23:02] #2011 closed

[2018-09-12 00:37] #1858 closed

[2018-09-12 00:44] rojopolis opened #2033 "Add network field to google_cloudfunction_function"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-12 01:52] mattlawnz commented on #1711
@2tunnels

This worked for me, regarding permissions

[code]

[2018-09-12 07:12] migibert commented on #1852
Hi,

I wanted to work on this feature, but it looks like the bigquery library in vendors is not the latest one.

I tried to upgrade it using `govendor update google.golang.org/api/bigquery/v2` and I can observe changes on the following files:
- vendor/google.golang.org/api/bigquery/v2/bigquery-api.json
- vendor/google.golang.org/api/bigquery/v2/bigquery-gen.go
- vendor/vendor.json

So it looked go

[2018-09-12 11:19] jamielennox opened #2034 "nodepool create fails with component "kube-apiserver" from endpoint "gke-XXX" is unhealthy"
When creating a container cluster with a seperate nodepool google initially returns an error. The nodepool eventually stabilizes and the cluster works but the initial response is a failure.

I'm pretty sure this is actually a failure of the Google APIs but we either need to figure out how to support the case on terraform if this is normal or report it to google (which i'm hoping someone here will

[2018-09-12 11:49] migibert commented on #1928
I'm on it!

[2018-09-12 11:57] jamielennox commented on #2034
Duplicate of #2022

[2018-09-12 11:57] #2034 closed

[2018-09-12 14:01] JackFazackerley opened #2036 "kube-apiserver is unhealthy"
### Terraform Version
[code]
### Affected Resource(s)

* google_container_node_pool

### Terraform Configuration Files

Cluster:
[code]

Node Pool:
[code]

### Debug Output

### Panic Output

### Expected Behavior

The `kube-apiserver` components should be healthy and node pool should be created.

### Actual Behavior

All `kube-apiserver` components are unhealthy within the custom node pool and er

[2018-09-12 14:54] directionless commented on #2022
I think I'm hitting this, but with a slightly different set of actual behaviors.

* The first run, terraform creates the cluster and the node pool, and then panics as described.
* Apparently unknown to terraform, the cluster and node pool are created
* the next run destroys the cluster and node pool, and attempts to make them anew
* triggering the same panic.

If I look at the GKE webui, sometimes

[2018-09-12 15:31] JackFazackerley commented on #2036
closing due to duplicate issue #2022

[2018-09-12 15:31] #2036 closed

[2018-09-12 17:45] ndmckinley commented on #2014
I've been working on this, but there's some kind of issue with bigquery tables and org policies when it comes to making this work.  I'm investigating.

[2018-09-12 18:02] ndmckinley commented on #2023
Oh, cool, yesterday they regenerated the client libraries to contain this method, and this is doable now.  :)

[2018-09-12 18:30] directionless commented on #2022
Testing some more.... the `google_container_cluster` seems fine, it's the addition of `google_container_node_pool` that causes errors.

If I comment out `google_container_node_pool` it applies fine. I get a GKE cluster, etc. But if I add that back in the apply bombs out at 13min, the node pool is created anyhow. Subsequent applies remove the prior node pool, then timeout at 13min and repeat the cy

[2018-09-12 20:30] ndmckinley commented on #1852
Govendor is a little odd.  You probably wanted `govendor fetch` instead of `govendor update`.  Does it work if you do that?

[2018-09-12 20:56] rileykarson commented on #1954
Hey @timReynolds! Sorry for not seeing this until now!

We released [version 1.17 of the Google Provider](https://github.com/terraform-providers/terraform-provider-google/blob/master/CHANGELOG.md#1170-august-22-2018) on August 22nd, so the field you were trying to use *was* released... just only on a newer version of the provider.

Unfortunately, the docs at terraform.io only reflect the most rece

[2018-09-12 20:56] #1954 closed

[2018-09-12 21:01] rojopolis commented on #1774
We're pushing the limit of what could be considered early in September.  Is there any progress to report?

[2018-09-12 21:07] migibert commented on #1852
Hey, thanks for your help. Sadly, I tried with fetch command and met the same problem...

[2018-09-12 21:17] cepefernando commented on #2022
I have faced the same issue, after some troubleshooting I have noticed that when the node pool has the autoscaling parameter this error appears, if you remove that node pool and add a node pool without the autoscaling enabled it should work.

[2018-09-12 21:37] #1998 closed

[2018-09-12 21:43] directionless opened #2039 "GKE/google_container_cluster storing credentials in the state file"
I'm looking at using terraform for some simple GKE setup tasks. Create project, create cluster, etc. I notice that on completion, terraform stores the `master_auth.0.client_key` in the state file. I find that somewhat concerning.

I know secret data in state files has been a long running pain point. I'm wondering if you have any thoughts here. Could we have an option to suppress this, or is it nee

[2018-09-12 21:49] ndmckinley commented on #2022
Yes, this is an unfortunate error being returned from GKE because the configuration you're pushing is causing it to be unavailable at the 10m mark (which I believe is the current timeout).  If you believe that @directionless is correct and that the apiserver will become available again sometime after that, you can increase the timeout for create (or update, if you're hitting this on update) to a s

[2018-09-12 22:43] #632 closed

[2018-09-12 23:09] ndmckinley commented on #1774
:)  Unfortunately, Filestore still isn't available in the golang SDK - that's the last step.  Everything else _ought_ to work once that comes out.

[2018-09-12 23:17] ndmckinley commented on #1852
Ah... In the docs for that package:

I'm not sure if that's really going to make this easier, though.  It seems like the API is completely different, and switching would require a complete rewrite of the existing code.  I think it would be tough to take that on.

[2018-09-12 23:31] ndmckinley commented on #2039
You're right to be concerned, but I'm sorry, this is best discussed on Terraform core.  I know there is a long-running discussion on the best way to deal with secrets.  As for the Google provider specifically, there is nothing special available to us that will keep secrets more safe than any other Terraform provider.

If you need to do something about it right now, I might recommend remote state,

[2018-09-12 23:31] #2039 closed

[2018-09-13 00:14] directionless commented on #2039
There is no place I feel comfortable keeping those secrets. Google provides me with a fine authentication layer, I see no reason to re-invent it for this.

So far, the best I've got it to rotate the GKE credentials after the TF run. [1](https://cloud.google.com/kubernetes-engine/docs/how-to/credential-rotation). It's workable, but needing post-setup scripting makes the value add from TF much small

[2018-09-13 00:15] directionless commented on #2039
Anyhow thanks for commenting. I feel frustrated, but I recognize it's a core issue

[2018-09-13 00:15] directionless commented on #2039
Anyhow thanks for commenting. I feel frustrated, but I recognize it's a core issue

[2018-09-13 00:49] #2023 closed

[2018-09-13 01:01] rojopolis commented on #1774
Thanks @ndmckinley.  I put [this module](https://registry.terraform.io/modules/rojopolis/filestore/google/0.1.0) together until we can get a proper resource type.

[2018-09-13 01:07] ndmckinley commented on #1774
I am _impressed_.  I promise I'm working on it on my end, but your module should earn some kind of "best workaround" award.  :)

[2018-09-13 01:44] #1846 closed

[2018-09-13 01:51] jamielennox commented on #2022
So I don't think it's a timeout issue. That's 30 minutes for create already (might want to set this the same for update)
[code]

The problem seems to be that the API returns done. The logs start overwriting each other so i got this last message from mitmproxy:

[code]

So `DONE` with a `statusMessage` is being passed back as a failure from the command. Our choices would seem to be either to ignore

[2018-09-13 02:26] jamielennox commented on #2022
note that this seems to happen regardless of the `remove_default_node_pool` setting which I could see how that might cause the API to not be ready yet.

[2018-09-13 12:10] migibert commented on #1852
Thank you ! I saw the deprecation warning but hoped I could still use this library... :'(

[2018-09-13 15:20] hashibot[bot] opened #2044 "Error recreating cluster - diffs didn't match during apply."
_This issue was originally opened by @silvpol as hashicorp/terraform#18802. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

Original config

[code]

Smaller config reproducing issue

[code]

### Deb

[2018-09-13 18:34] danawillow commented on #2044
Closing in favor of upstream issue, hopefully someone on core can take a look :)

[2018-09-13 18:34] #2044 closed

[2018-09-13 20:21] ocervell opened #2050 "Add `force_destroy` field for BigQuery dataset"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-13 20:53] alwaysastudent commented on #1140
@ndmckinley have you issued the PR ? would love to use this.

[2018-09-13 22:29] ocervell opened #2051 "Add *_iam_* resources (BigQuery / Pubsub)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-14 04:58] directionless commented on #2022
I started looking at this again.

I ran TF apply, and 12m 30s later, got the same error. This time, I also noticed it in the web console. And I noticed that the stack dump is pretty clearly that the kubernetes apiserver is failing it's healthcheck. (Y'all might have noticed that already)

I opened a google case about it. Between that, and the consistent 12m 30s, something seems fishy.

[2018-09-14 10:20] hashibot[bot] opened #2053 "10 minutes is to little for google_container_node_pool version update"
_This issue was originally opened by @czka as hashicorp/terraform#18850. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

[code]

[code]
However, according to "Clusters" section on Google Cloud console the upgrade is in progress and fine - it reads as follows (see

[2018-09-14 13:54] sereeth opened #2055 "google_sql_database randomly errors with failure waiting for insertion"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-14 13:56] sereeth commented on #2055
I've tried a couple of techniques to get this to work consistently.

1) Make each db dependant on the last to ensure only 1 runs at a time
2) Set parallelize to 1 on the apply

[2018-09-14 13:59] sereeth commented on #1841
@g0blin79 I'm having the same issue, this is a bug somewhere in TF or its a Google API issue.  New issue here: https://github.com/terraform-providers/terraform-provider-google/issues/2055

[2018-09-14 14:29] directionless commented on #2016
This might be a dup of https://github.com/terraform-providers/terraform-provider-google/issues/2022

[2018-09-14 16:01] danawillow commented on #2055
Hey @sereeth, sorry to hear about this annoying issue. Without logs, though, there's nothing we can do on our side to know what's going on. Is that the full error message, with nothing after the colon?

[2018-09-14 16:06] sereeth commented on #2055
Hey @danawillow , i'll try and reproduce today with debugging on, i'm guessing this is a google api issue icky..

[2018-09-14 16:17] james-stephenson commented on #1579
As of provider version 0.17.1, this still fails.

Repro:

[code]
Output:

[code]

[2018-09-14 16:38] james-stephenson commented on #1579
It look like you must add the `depends_on` block in order to make this work, which, I assume, wasn't intended.  Terraform will not properly wait for the project to be created before continuing on to the services resource unless you add it.

This might actually be a problem with dependency resolution, whereby this resource isn't waiting for the project to complete creation.

[2018-09-14 16:39] danawillow commented on #2053
Hey @czka, have you tried setting the timeout in the resource definition? https://www.terraform.io/docs/configuration/resources.html#timeouts

[2018-09-14 16:41] james-stephenson commented on #1579
That code above was the simplest reproduction I could create to show the problem.  I am testing using my gcloud default authentication credentials, though I believe this also fails with a service account.

If you look at the output I pasted above, it's clearly not waiting for the project to exist, and even tries creating the services before it tries to create the project.

[2018-09-14 16:41] silvpol commented on #635
I've been trying to automate handover from google_cloud_sql to postgres provider and came up with the solution below, I hope this workaround helps somebody until proper solution is in place.

1. Before running Teraform shell needs to have env vars set so that Postgres provider can find our certs/keys.
[code]
Shell script is required due to https://github.com/terraform-providers/terraform-provider-

[2018-09-14 16:42] morgante commented on #1579
Yeah, your config doesn't tell Terraform that the project should be created before the services. You can resolve that by adding a depends_on or, even better, using a reference to create the implicit dependency.

[code]

[2018-09-14 16:46] james-stephenson commented on #1579
Ugh, that's right.  Sorry for the false alarm :/

[2018-09-14 17:01] danawillow commented on #2022
Cool, I also filed an issue internally against the team, so hopefully between your issue and mine, we'll be able to get to the bottom of this.

Just in case it was lost in the comments, @cepefernando pointed out that this seems to only happen when autoscaling is configured, so one other thing to try would be to create the node pool without autoscaling, and then add autoscaling in after.

[2018-09-14 19:54] danawillow opened #2056 "Replace examples using element() syntax with [] syntax"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-14 21:21] qvallance opened #2058 "Support setting metadata for Dataproc cluster nodes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-14 22:05] qvallance opened #2059 "Data source for IP ranges of Google APIs and services (_spf.google.com)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-15 09:04] huang-jy opened #2061 "node-pool autoscaling clause causes Terraform to timeout when creating a zonal GKE cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-15 16:34] yevgen87 opened #2062 "Add runtime support to cloud functions (patch is attached)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-15 16:42] yevgen87 commented on #1857
Fix is here https://github.com/terraform-providers/terraform-provider-google/issues/2062

Added nojejs6, nodejs8, python37 runtimes.

[2018-09-16 16:51] JackFazackerley commented on #2022
@danawillow I just created a cluster with one node_pool without autoscaling and it was successful. I then added the autoscaling to the existing cluster and it updated in-place successfully. No errors and terraform kept the state of the node_pool.

It's an annoying way around the error but a working one for now.

[2018-09-16 21:07] wibobm commented on #2022
This happens using the Google console to create a new cluster as well.

[2018-09-17 12:56] ghost opened #2063 "A node-pool taint with '/' is not accepted."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-17 13:56] guillaumeeb commented on #2022
Just got this issue without using terraform too...

[code]

[2018-09-17 16:39] Eraac opened #2066 "updating scopes isn't applied"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-17 18:46] viharikrishna commented on #1842
I'm getting the similar error and I tried "gcloud auth application-default login" which doesn't help in my case.

[2018-09-17 20:31] mrparkers commented on #1788
Closing since I think #1896 is a better approach

[2018-09-17 20:31] #1788 closed

[2018-09-18 04:00] HirokiSakonju opened #2067 "Running the plan with google_compute_instance_template results in an error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-18 06:28] MaxBinnewies opened #2068 "google_dataflow_job doesn't pick up "project" variable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-18 10:56] marrau commented on #2067
This also applies to my configurations. I tried to get a self_link using data.google_compute_image (which actually resolves it correctly), but i´m still getting the error as mentioned.

[2018-09-18 13:58] caarlos0 commented on #2067
also happens with:

[code]

[2018-09-18 14:37] tpoindessous opened #2070 "Add instances network tag in google_container_cluster output"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-18 14:53] migibert opened #2072 "Support custom service account in Dataflow job resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-18 15:44] Legogris commented on #2022
I am having a different issue which is potentially related: Creating a GKE cluster with Terraform creates no default node pool.

Terraform v0.11.7
Google provider v1.16

[code]

[2018-09-18 16:06] JackFazackerley commented on #2022
@Legogris you're setting `remove_default_node_pool  = true`. Remove that line if you want the default node pool.

[2018-09-18 16:32] Legogris commented on #2022
@JackFazackerley: Derp, I somehow managed to gloss over that line every time I looked at my template even as I edited it for pasting. Thanks.

[2018-09-18 18:54] ndmckinley commented on #1774
Great news, the SDK came together and I'll be back to getting this out the door very soon.

[2018-09-18 20:47] danawillow commented on #2061
Closing as duplicate of #2022

[2018-09-18 20:47] #2061 closed

[2018-09-18 21:28] chrisst commented on #1583
`network_tier` is currently supported by `compute_address`.

Unfortunately it looks like GCP doesn't support `network_tier` on global addresses right now, see https://cloud.google.com/network-tiers/docs/using-network-service-tiers#creating_forwarding_rules.

Currently the [rest API documentation](https://cloud.google.com/compute/docs/reference/rest/v1/globalAddresses) says it does support it, but

[2018-09-18 21:28] #1583 closed

[2018-09-18 21:57] ndmckinley commented on #2014
Cool, they're going to fix the issue internally.  In the meantime, a retry loop solves our issue.

[2018-09-19 11:20] seboudry commented on #1287
After a little investigation I came to the same conclusion: there is no API to handle API Credentials stuff.
Too bad, we have to add manual steps and store OAuth client secrets somewhere for other automated tasks.
https://console.cloud.google.com/apis/credentials

Is there any open issue somewhere to ask Google for a Credentials API ?

[2018-09-19 13:35] fwinokur opened #2076 "Support for staging Dataflow templates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-19 13:59] morgante commented on #1292
@paddycarver Yes I still encounter this regularly.

That would help a lot. I regularly have to run `terraform state rm` to solve this today.

[2018-09-19 14:36] czka commented on #2053
@danawillow Thanks. That might be an option if I can set a "dynamic" timeout like `no_of_nodes * 5 min` per node pool per `terraform apply`. Our node pools can be anything from 1 to 50 nodes (`autoscaling`). I can't predict the timeout.

In general I'd like TF to wait until all nodes in a pool are ready - the way Google console on the screenshot above does.

[2018-09-19 15:38] danawillow commented on #2053
Got it. I'm going to leave this open to consider changing the default timeout, but in the meantime, if you don't wish for there to be a timeout at all then I would just set the value in the `timeouts` block to something much longer than you think it'll actually take.

[2018-09-19 16:20] ghost opened #2078 "[Provider: google-cloud] deleting an attached disk should not be possible"
### Affected Resource(s)

* google_compute_snapshot
* google_compute_instance
* google_compute_disk

_This issue was originally opened by @jeff-knurek as hashicorp/terraform#18898. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

There seems to be enough issues in

[2018-09-19 16:37] chrisst commented on #2078
There are multiple ways to attach disks to instances so I'm not sure exactly what state you are in right now. @jeff-knurek can you upload a more complete configuration and debug logs so that we can help investigate?

[2018-09-19 18:20] hashibot[bot] opened #2079 "google_compute_instance_template local-ssd documentation is unclear"
_This issue was originally opened by @amerenda as hashicorp/terraform#18901. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I had trouble figuring out how to attach a local-ssd to an instance_template. The documentation states that source or source_image are requ

[2018-09-19 19:39] yevgen87 opened #2080 "Update API for cloud functions (add event type configuration)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-19 21:20] hashibot[bot] opened #2081 "GCP / Error creating network"
_This issue was originally opened by @jaipradeesh as hashicorp/terraform#18873. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

[code]

### Crash Output

### Expected Behav

[2018-09-19 21:30] directionless commented on #2022
@wibobm Happens via the console? That super interesting. Do you happen to have a screen shot, or the specifics of the things you set for that?

[2018-09-20 00:21] SargisPlusPlus opened #2082 "Support for Spanner DB schema migrations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-20 00:44] danawillow commented on #2022
FYI to all- I'm tracking this issue internally and the GKE team is working very hard on it. I'm leaving this issue open since it's not resolved yet, but the issue is not Terraform-specific. I'll update again once I have more I can say.

[2018-09-20 00:46] stanzheng commented on #2067
I ran into this issue and found a resolution. Two prong approach

1) referencing the source_image using a source link using https://www.terraform.io/docs/providers/google/d/datasource_compute_image.html

2) running a `terraform apply -refresh=false ...`

These two combinations allowed me to resolve my initial error of flattening disks and allowed my `tf.state` to resolve.

I think I got into this

[2018-09-20 00:49] mehemken commented on #2023
If not set, does this default to zero?

[2018-09-20 01:36] directionless commented on #2022
@danawillow Cool. Sounds like y'all have enough of a reproduction. My support ticket has been less productive :)

[2018-09-20 09:54] migibert commented on #2081
Hey,

It looks like the account you use to apply your terraform configuration has not the required permissions to create a network (see the error: Error 403: Required 'compute.networks.create' permission for 'projects/foo-production/global/networks/rain-net', forbidden).

Can you check which account you use and validate you have the correct permissions ?

[2018-09-20 09:59] jaipradeesh commented on #2081
@migibert The service account has the following permissions.

[code]

[2018-09-20 10:28] Legogris commented on #1576
This is something we need as well. Is an effort already started on this already?

[2018-09-20 10:30] Legogris commented on #932
@wmuizelaar The issue description is confusing to me - is this a reference to an issue on another tracker?
This is something we would like to have. @paddycarver I was considering looking into this as a first contribution and getting inside TF - anything particular that makes this a breaking change?

[2018-09-20 10:32] wmuizelaar commented on #932
@Legogris I definitely copy-pasted too much - editted the description to fit better :)

[2018-09-20 11:11] nvtkaszpir commented on #2053
Even now the basic 3 node single region multi-zone cluster modification takes about 13 minutes.

[2018-09-20 12:06] sereeth opened #2083 "Google backend error while creating a cloud sql instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-20 12:13] migibert commented on #2081
OK, it looks good, can you describe how you run your terraform command ?
How do you fill the service account identity ?

In addition, can you join a terraform log to see what is happening ?

[2018-09-20 12:22] andor44 opened #2084 "Max pods per node should probably force-new"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-20 13:54] jaipradeesh commented on #2081
- `terraform validate` and `terraform apply`
- Manually via GCP web UI. Roles - `Compute admin`. Generate a JSON file and use it like
[code]
 - Logs: https://gist.github.com/jaipradeesh/70343c34a56e5d7681bb0a2b66fb5463

[2018-09-20 16:22] sereeth commented on #2055
@danawillow  here is the debug output

https://gist.github.com/sereeth/d53480a98c34c936d1d75ceb53ddc555

[2018-09-20 17:16] rileykarson commented on #932
Hey @Legogris!

For a bit of context: We don't currently support import because the (`v1`) API at the time that we implemented the feature didn't expose enough information to do so. There is now a `v2` API that *should* have that information looking over it briefly, because it also introduces clusters in addition to instances & tables.

Cloud Bigtable is also using a different API client than most

[2018-09-20 18:07] paddycarver commented on #2083
Is this a consistent error that happens every time you try, and has it happened for more than a day?

[2018-09-20 18:13] paddycarver commented on #1287
I'm not seeing one, but I'll admit to very light searching. https://issuetracker.google.com seems to be the appropriate place to open one.

[2018-09-20 18:53] seboudry commented on #1287
I opened a feature request https://issuetracker.google.com/issues/116182848

[2018-09-20 19:39] rajdhandus opened #2089 "Users added manually via console are remove when running terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-20 19:56] paddycarver commented on #1292
@morgante I was unable to successfully reproduce the 404 error, but I managed to get the 403. #2090 should handle both, even though I can't verify the 404.

[2018-09-20 20:02] paddycarver commented on #2089
As mentioned in [the docs](https://www.terraform.io/docs/providers/google/r/google_project_iam.html), `google_project_iam_policy` will overwrite your entire policy, and destroy will reset it to an empty policy. If this is not the behaviour you want, you want `google_project_iam_binding` or `google_project_iam_member`.

Closing this as working as intended, but if I've somehow misunderstood, please

[2018-09-20 20:02] #2089 closed

[2018-09-20 20:20] paddycarver commented on #1947
So, I'm still looking into this, but I wanted to provide an update on what I've learned:

* We are explicitly asking the API to set Automatic Restart to off when we create the instance.
* This shouldn't be happening, because Automatic Restart is set to default to on, and has been like that for the last year.

I can't explain how these are both true at the same time, but there we are. I'm going to

[2018-09-20 20:38] paddycarver commented on #1947
So, good news and bad news. I don't actually have a fix for this just yet, and I'm not sure there _can_ be one until Terraform 0.12.

Good news is there's a straightforward workaround: add `scheduling {}` to your config, and it suddenly works as intended.

[2018-09-20 21:09] #1928 closed

[2018-09-20 21:50] sereeth commented on #2083
@paddycarver , it's random.  We get this and https://github.com/terraform-providers/terraform-provider-google/issues/2055 randomly as our concourse pipelines run throughout the day/night.

[2018-09-20 21:53] sereeth commented on #2055
We're getting similar issues with the database instance too, fyi. https://github.com/terraform-providers/terraform-provider-google/issues/2083

[2018-09-20 21:56] erriapo opened #2092 "resource google_compute_image cannot create images like gcloud cli"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-21 01:51] chrisst commented on #1044
![potato](https://user-images.githubusercontent.com/1569002/45855649-f48a7180-bd05-11e8-8c66-9cefc5a5b551.gif)
@SirGitsalot had to get pulled off, so I'll be working on this now.

[2018-09-21 06:47] tmshn opened #2093 "Order of google_bigquery_dataset.access should be ignored"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-21 06:51] tmshn commented on #2093
I'd be happy to work on this if I had time, but unfortunately currently too busy for extra oss work...so just leave the issue. If no one work on this until October, I may do this for my October Fest work.

[2018-09-21 08:16] JackFazackerley commented on #2022
Google Cloud support have just got back with a solution for the issue:

Description:
We are investigating an issue with Google Kubernetes Engine. Customers may receive error like: "All cluster resources were brought up, but the cluster API is reporting that: component `kube-apiserver` from endpoint `gke-HASH` is unhealthy" when they are creating NodePool with Autoscaling enabled on 1.9.x clusters.

[2018-09-21 08:47] edevil commented on #2022
I'm creating a 1.10 cluster and also have this issue.

[2018-09-21 09:00] JackFazackerley commented on #2022
@edevil oh... I'll get back to them. Cheers for trying.

[2018-09-21 09:41] edevil commented on #2022
@JackFazackerley creating the nodepool without autoscaling and enabling it afterwards worked though.

[2018-09-21 14:01] olib963 opened #2094 "Feauture Request: Postgres Schemas/Postgres Provider Integration"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
- If you are interest

[2018-09-21 14:38] migibert commented on #2081
Can you join a debug log as mentioned here https://www.terraform.io/docs/internals/debugging.html by defining TF_LOG and TF_LOG_PATH variables before running the command ?

[2018-09-21 14:44] olib963 commented on #635
@silvpol Have you managed to get this to work with `google_sql_database_instance`? How did you link `auth_host` to the `google_sql_database_instance`?

I have not been able to get the postgres provider to connect to the cloud sql instance without running the cloud sql proxy alongside terraform and have to remove the postgres provider if the `google_sql_database_instance` does not yet exist.

[2018-09-21 15:35] silvpol commented on #635
@olib963 I have tried provisioning from scratch again on a separate environment and you're right, this needs to be done in two steps:
- first pass to create all dbs and terraform user to connect to instance
- second pass to complete provisioning

Our top level file is split into main env module and then series of namespaces, so our workflow is now like this:
- `terraform apply --target module.envi

[2018-09-21 16:10] ocervell commented on #2093
As a workaround, you might want to look into [this](https://github.com/terraform-google-modules/terraform-google-log-export)

[2018-09-21 16:15] jaipradeesh commented on #2081
[code]

@migibert No logs.

[2018-09-21 16:18] jaipradeesh commented on #2081
@migibert Did you try reproducing it locally?

If yes and you weren't able to reproduce, let me know. Have to strip sensitive lines from debug log.

[2018-09-21 20:27] #1140 closed

[2018-09-21 22:58] #1964 closed

[2018-09-22 01:01] #1774 closed

[2018-09-22 01:01] ndmckinley commented on #1774
Hooray!  This will be in the next release.  :)

[2018-09-22 01:54] mehemken opened #2098 "Alternating create/delete on apply with google_compute_attached_disk"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-22 01:54] mehemken commented on #2098
@ayk33

[2018-09-22 03:01] sourcec0de opened #2099 "cloudbuild_trigger missing (ignoredFiles, includedFiles)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-23 12:39] olib963 commented on #635
@silvpol Awesome, thank you so much. I had been having trouble figuring out how to connect terraform without running the proxy. It is a bit frustrating that we need to run it in two separate steps, but it will do for now.

[2018-09-23 15:00] teh commented on #2022
I also see this with 1.10.

In addition when this error occurs I also see another, potentially related, behaviour where pods scheduled on the first node created (same as kube-dns) can't resolve any DNS queries. pinging other pods works fine though. It's a bit random but maybe it helps someone. ([similar report](https://groups.google.com/forum/#!topic/kubernetes-users/Q6D8OZSYu6I))

[2018-09-23 18:12] jaipradeesh commented on #2081
Had to enable the following to make it work

- Compute admin
- Compute network admin
- Kubernetes cluster admin
- Service account admin

[2018-09-23 19:59] punkdata commented on #1022
Has anyone created a module for this? If so could you post url to an example?  Greatly appreciated

[2018-09-24 05:06] tpoindessous commented on #2070
For the record : alternative way to do this : add specific network tags to google_container_cluster (node_config -> tags)

[2018-09-24 07:29] matti opened #2103 "google_redis_instance configs should be documented better"
terraform docs say:
[code]

when in here:
https://cloud.google.com/memorystore/docs/redis/reference/rest/v1beta1/projects.locations.instances#Instance.FIELDS.redis_configs

it says:
[code]

[2018-09-24 08:02] matti opened #2104 "container_node_pool docs are outdated"
https://www.terraform.io/docs/providers/google/r/container_node_pool.html
[code]

^-- that usage won't work `Error 400: Cluster.initial_node_count must be greater than zero., badRequest`

[2018-09-24 08:44] jeff-knurek commented on #2078
here's an example of the disk provisioning with Terraform:
[code]

I'd say the steps are pretty straightforward and don't need logs, but I'll detail out the steps anyhow.
**Steps:**
1. run terraform apply with above example to create disk
2. put disk to use _(below I've added some k8s config that will do just that)_, but I'd say as long as it's in use an some way the issue exists
3. comment out th

[2018-09-24 09:30] vncntvandriessche commented on #2022
@JackFazackerley That's great news!

A big thanks to everyone who was involved with this issue! Never expected this to be handled so quickly.

I'll close this issue as I'd say this is no longer an issue.

[2018-09-24 09:30] #2022 closed

[2018-09-24 16:14] mehemken commented on #2098
If I remove the `google_compute_attached disk` resources from the module and put them in `main.tf`, the problem continues.

[2018-09-24 18:55] paddycarver commented on #2094
My offhand thoughts on this are that I'm deeply uncomfortable trying to replicate the Postgres provider's behaviour here, and would much rather investigate if any work needs to be done on our end to facilitate using the two providers together.

[2018-09-24 22:21] kenthua opened #2108 "Support for providing etag for subnet iam binding"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-25 13:20] hashibot[bot] opened #2109 "google_container_cluster.primary: Post XXXXX x509: certificate signed by unknown authority"
_This issue was originally opened by @jawlitkp as hashicorp/terraform#18899. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi There,

I am getting below error when I try to create gke cluster using Jenkins. I am exporting "GOOGLE_APPLICATION_CREDENTIALS" in my J

[2018-09-25 18:38] ducksauz commented on #1815
Did some messing around today. I don't think any specific support is actually required.

Step 1: Enable oslogin API for your project

[code]

Step 2: Set enable-oslogin metadata on your instances
[code]

Step 3: Add appropriate IAM binding to the project
[code]

Do those things and it should work. It did for me.

[2018-09-25 20:57] chrisst commented on #2078
It looks like you have terraform managing the creation of the disk but you are using a different tool in order to manage the attachment of the disk to an instance. In this case terraform has no knowledge that the disk was supposed to be attached to an instance an so in this case when you remove the disk from your config, if terraform was the authoritative source of your configuration then it could

[2018-09-25 21:59] chrisst commented on #2078
Also if you wanted to let us know more details around why you want this behavior to happen we can think about if there are different or better solutions.

In the mean time I propose a few possible solutions:
* Using Terraform as your single source of truth is usually a preferable experience then mixing different tools. There is an `attached_disk` resource that could be used to make the connection

[2018-09-26 00:20] hashibot[bot] opened #2112 "Panic"
_This issue was originally opened by @sethvargo as hashicorp/terraform#18941. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files
github.com/sethvargo/vault-on-gke

### Debug Output
I can't repro the pan

[2018-09-26 00:28] danawillow commented on #2112
Cool, I was about to reply to the other issue wondering when @hashibot would stop by.

Ok, so here's what I believe to be the problem:
https://github.com/terraform-providers/terraform-provider-google/blob/8c0bc9377140b8dfd4550102e063ea6b83e54a8f/google/iam.go#L75-L89

If the error is indeed a 429, then it increases the fetchBackoff and still tries to modify the policy, which is nil, causing the pa

[2018-09-26 02:35] danawillow commented on #1847
All right, I took a look at this and as far as I can tell, this provider _is_ using the default http client: if you follow the code down, it ends up getting set to `http.DefaultClient` [here](https://github.com/terraform-providers/terraform-provider-google/blob/master/vendor/golang.org/x/oauth2/internal/transport.go#L33). I'm not really sure why it's not picking up the proxy settings, but I'm not

[2018-09-26 13:39] roman-cnd commented on #1561
@paddycarver thanks for the detailed explanation, I came here with the same problem of terraform suddenly trying to wipe out every project.

Where's google take on this? Are they even interested or incentivized to make their cloud resources more suited for config management? terraforming resources in google cloud is a real pain atm. Its a mess with IAM, with "enabled" APIs, now mess with the proje

[2018-09-26 14:29] roman-cnd commented on #1561
Also, terraform behaves properly (not trying to re-create projects) after this snippet is added to project, terraform plan and then deleted.

[code]

[2018-09-26 14:33] leejones commented on #2084
I think this is related to (and possibly solved by) https://github.com/terraform-providers/terraform-provider-google/pull/2077.

[2018-09-26 15:17] jeff-knurek opened #2114 "credentials attribute not being accepted for all requests"
### Terraform Version
0.11.8

### Affected Resource(s)

* google_sql_database_instance
* google_service_account_key

### Problem Description

There seems to be a problem with the authentication process for:
- data_source_google_service_account_key
- resource_sql_database_instance

What seems to happen is that there is the GCE-provided service account (in IAM it has the name `Compute Engine default

[2018-09-26 15:32] mpgomez opened #2115 "google_container_cluster tries to recreate cluster always when used in combination with google_container_node_pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-26 15:36] netturpin opened #2116 "Add support to associate a vlan_attachment to a router-interface"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-26 15:44] jeff-knurek commented on #2078
That makes sense, and I can see how this falls into a gray area.

----

From our perspective, it's not possible to use terraform for all our resource management. The google & kubernetes providers have come along way in the past year, but there is still lacking functionality in places. And since disk allocation is managed by the kubernetes API specifically, I'm not clear on how terraform would be a

[2018-09-26 15:44] andor44 commented on #2084
To be honest I'm not 100% sure what `computed` actually means. Does marking a field `computed` mean that you can still change it without having to recreate the resource? If so, I'm not sure that's enough. As I mentioned in the opening message I do not think this field is intended to be changeable, or at the very least the GCP API seems to discard modifications to it.

[2018-09-26 16:11] morgante commented on #1022
@punkdata We've built a module, let me see about releasing it soon.

[2018-09-26 17:15] paddycarver commented on #2115
Hmm, looking at that plan, what stands out to me is:

[code]

So here's what I think's happening:

* The node_config in the container_cluster is setting the scopes it wants all node pools to use.
* The node pool you're adding has a default node_config
* Terraform is getting confused about whether you want the node_config from the container_cluster or the default node_config from the node pool.

It

[2018-09-26 18:05] #1292 closed

[2018-09-26 19:48] francisd commented on #1283
This is still an issue with v1.18 provider.  We have a 5 GCP Postgres DB, and the likelihood of failure increases as it randomly 503 a different each time.

[code]

Can the retries be increased from 3 with a exponential backoff period as it always looks to be intermittent with different DB instances.  We'd rather wait a few extra minutes than wait for an entire terraform plan to run again.  Thanks

[2018-09-26 20:00] paddycarver commented on #1561
Google's been really receptive to making their resources work well with infrastructure as code tools, and has a team internally working on this provider to make it great. They have a tight working relationship with the people that build the products and APIs, and because of their involvement, we're able to do a lot more than we could with just HashiCorp and outside contributors working on this. A

[2018-09-26 20:02] paddycarver opened #2118 "Proposal: move app_engine sub-block to its own resource"
This is a proposal issue to gather feedback and discussion about our contentious `app_engine` design. Currently, App Engine applications are created by adding an `app_engine` sub-block to the `google_project` resource. This has a few benefits:

* It clearly illustrates the tight coupling that App Engine applications have to GCP projects.
* It allows you to delete App Engine applications.

But it c

[2018-09-26 20:39] danawillow commented on #1283
Looks like that's for the `google_sql_database` resource, which is a different one. #2055 is an open issue for that.

[2018-09-26 20:58] francisd commented on #2055
moving from #1283:

provider.google version: 1.18

We have a 5 GCP Postgres DB, and the likelihood of failure increases as it randomly 503 a different each time.
[code]
Can retry with a exponential backoff period as it always looks to be intermittent with different DB instances.  We'd rather wait a few extra minutes than wait for an entire terraform plan to run again.  Thanks

[2018-09-26 21:27] morgante commented on #2118
I've encountered a lot of issues with the current `app_engine` block implementation and support making it less error-prone/surprising.

How would we deal with people including multiple app_engine configs for a single project? That's something which should be caught *before* it hits the API IMO.

Let's make sure this error is very descriptive and points to a clear doc explaining the tight coupling

[2018-09-26 21:32] paddycarver commented on #2118
I agree, but unfortunately, I don't think we have any way to accomplish this currently. I imagine it would work the same as any other singleton resource that's defined against an API, like `google_project_iam_policy`--if you have multiple, you're in for a bad time, sorry? I think the best we can do, unfortunately, is document it.

Agreed. I'm imagining something like:

Wording could be changed and

[2018-09-26 21:37] paddycarver commented on #2109
Do you have any [debug logs](https://www.terraform.io/docs/internals/debugging.html) we could look at for this? Also, are you working from behind a proxy?

[2018-09-26 21:42] morgante commented on #2118
At a minimum, could project be a required field for app_engine (instead of inferring it from the provider/context)? I think being explicit will at least give people somewhat less rope to hang themselves with.

Also, I presume the following will work (modulo race conditions), but want to confirm:

1. I add two app_engine configs into my Terraform
2. First one executes successfully and gets created

[2018-09-26 21:44] paddycarver commented on #2108
I think I'm a little confused here. Because `etag` is a concurrency control tool, it's only really interesting for the underlying provider, so we abstract it away. We set `etag` on each request, as part of a read-modify-write loop that all IAM resources go through. Allowing users to set it would not really do much except break Terraform, because users can't know the order resources will apply in,

[2018-09-26 21:47] paddycarver commented on #2118
That is my understanding. I can't promise that without actually implementing it, but that's the idea. At the very least, I know that if there's an error creating one, removing it from your config won't create an error, because it never wound up in state. I don't know if you'll actually get an error trying to create the second or not, unfortunately--I'll have to see what the API does.

I think that

[2018-09-26 22:00] paddycarver commented on #2098
Does `lifecycle.ignore_changes = ["attached_disk"]` on `google_compute_instance` resolve the issue?

[2018-09-26 22:07] jawlitkp commented on #2109
I will post logs here shortly and yes I am working behind the proxy. But I am able to create GCE instances and other google services. Problem is only with GKE cluster

[2018-09-26 22:11] paddycarver commented on #2068
The project _is_ getting picked up there, I believe the way services work on the API is you must have enabled the API on the project that the service account making the request belongs to. If you can share [debug logs](https://www.terraform.io/docs/internals/debugging.html), we can probably prove that.

[2018-09-26 22:14] paddycarver commented on #2066
Hi! Would it be possible to get the [debug logs](https://www.terraform.io/docs/internals/debugging.html) for this, so we can see some more details?

[2018-09-26 22:19] paddycarver commented on #2063
That error indicates it's an API error, not a Terraform error. If that's a valid Kubernetes taint, but not a valid GKE taint, I think that may be an upstream issue. Are you able to use that node taint with gcloud or the API?

[2018-09-26 22:27] paddycarver commented on #2016
This is a panic, relevant portion is here:

[code]

[2018-09-26 22:27] jawlitkp commented on #2109
Understood. I will try outside of proxy and get back to you on this shortly

[2018-09-26 22:29] paddycarver commented on #1989
#1906 was merged, so I'm going to close this out now.

[2018-09-26 22:29] #1989 closed

[2018-09-26 22:33] paddycarver commented on #1953
I don't... know? I think my thought process was that the upstream "fix" would be not having services that you can't actually enable. I think we've already raised that with the team, though?

[2018-09-26 22:41] danawillow commented on #1953
Ah ok, I definitely remember sending something out about it but I can't find it now. I highly doubt that's going to change though. Still worth it to keep this issue open?

[2018-09-26 23:20] wyardley opened #2119 "API errors from applying "valid" container_cluster resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-26 23:27] paddycarver commented on #1847
This is related to #2109, I think, though they're reporting it's service-specific?

[2018-09-26 23:31] paddycarver commented on #2119
I think a bit of validation / ConflictsWith would probably resolve these.

[2018-09-26 23:42] paddycarver commented on #1099
I've investigated this, and it looks like using the `https://` version of the snapshot will work, but `projects/project/global/snapshots/snapshot` and `global/snapshots/snapshot` will not. I believe.

So a temporary workaround is to use the full `https://` version. This is something we should fix in the generated code that handles snapshots, however, to match what our documentation says we support

[2018-09-27 06:14] bmoyet opened #2122 "Attaching an additional disk to a template containing a boot disk fails with google_compute_instance_from_template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-27 08:06] DeWaRs opened #2123 "google_compute_attached_disk detach disk after 2nd terraform apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-27 08:36] mpgomez commented on #2115
That actually makes a lot of sense. I didn't think about that.
I was just confused about the:
 id:                                    "europe-west2-b/dev/devnodepool" => <computed> (forces new resource)

Thank you very much! (yes, it does indeed fix the problem)

[2018-09-27 12:12] punkdata commented on #1022
@morgante that would be very cool! I figured out a work around before I found this GH issue 😕
I got it to work but if there are other methods it would be great to see some examples

[2018-09-27 13:49] pdemagny commented on #2115
omg thanks for this, i've been banging my head with this for a few days ;)

[2018-09-27 16:56] apersson-sylog commented on #2063
It's a valid GKE taint, I can set it using kubectl on my GKE cluster.

It's documented by Google here: https://cloud.google.com/kubernetes-engine/docs/how-to/preemptible-vms

[2018-09-27 17:09] mehemken commented on #2098
@paddycarver , it looks promising. I'm going to play with it a little bit more and report back.

[2018-09-27 17:47] paddycarver commented on #2123
This appears to be a duplicate of #2098. I'm going to close it out, but if you feel this isn't a duplicate, feel free to reply and we can discuss.

[2018-09-27 17:47] #2123 closed

[2018-09-27 17:51] paddycarver commented on #2122
Does using the [`compute_attached_disk`](https://www.terraform.io/docs/providers/google/r/compute_attached_disk.html) resource work? I have a hunch we're hitting a race condition here, where the we're trying to attach the attached disk before we finish setting up from the template.

[2018-09-27 18:01] paddycarver commented on #2115
So it sounds like we either have a documentation problem or a validation problem. I'm not 100% up to speed on the reason we have node_config at the cluster and node pool levels, so I'm not comfortable enough that I have all the use cases in mind to be able to say what the ideal solution is here, but I think we can improve this either through documentation or through not letting cluster set node_co

[2018-09-27 18:21] breznik commented on #2068
I'm experiencing the exact same issue - and in my case, the API is not enabled in the service account making the request (e.g. dedicated project/service account for terraform), but is enabled in the target project. Similarly, the project is resolving to the correct project, but the error is for the project id belonging to the project I have terraform admin running in.

[2018-09-27 18:27] morgante commented on #2108
@kenthua I recommend not using the `google_compute_subnetwork_iam_binding` resource as it will attempt to wipe out any other users who are not specified in Terraform (including essential Google services).

[2018-09-27 21:06] bgeesaman commented on #870
Is any work on this feature already underway despite being in alpha?  I'm asking because an alpha user may need to develop this before it goes beta and they don't want to duplicate work.

[2018-09-27 21:19] paddycarver commented on #2068
That's just how services work in GCP, I believe. I'm going to close this out, because I don't know that there's anything for us to do, and I think upstream believes this is working as intended. The fix is to enable the service on the project the service account making the request belongs to.

[2018-09-27 21:19] #2068 closed

[2018-09-27 22:02] kenthua commented on #2108
So I switched over to `google_compute_subnetwork_iam_member` per @morgante 's suggestion.  It seems to error out, with a similar 503 issue.  I have a dependency on the subnet being created prior to running adding a new member to the role.

[code]

So it errors out, but if I run terraform apply again, it goes through without issue.  Seems like there needs to be an additional wait or delay needed?

[2018-09-27 22:11] mehemken commented on #2098
Yup. It works. Thank you for the fix @paddycarver .

[2018-09-27 22:19] morgante commented on #2108
@kenthua Can you share your Terraform config to be sure the dependency is being properly captured?

[2018-09-27 23:04] kenthua commented on #2108
https://github.com/kenthua/gke/blob/master/terraform/private-cluster-shared-vpc/network.tf#L39

[2018-09-27 23:31] breznik commented on #2068
I'm quite confused by that response. So, let's say I have two projects: terraform-admin & awesome-project. The service account in the terraform-admin project has access to enable/disable apis and manage infrastructure in awesome-project. When I try to create a dataflow job for awesome-project, it fails because it's trying to create the dataflow job in terraform-admin project, even though the plan

[2018-09-28 02:48] sourcec0de commented on #2099
I submitted a pull request to add support for this. Hopefully others find this useful

[2018-09-28 02:54] trickleup opened #2126 "google_container_cluster/google_container_node_pool creates empty node pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-28 08:13] bmoyet commented on #2122
I didn't see this resource. I cannot try this right now, but I'll check that asap

[2018-09-28 08:21] Eraac commented on #2066
Yes, sure

first apply (scope read-only) -> https://gist.github.com/Eraac/a9e987b27972288fe59729431499d79f
second apply (scope read-write) -> https://gist.github.com/Eraac/e04b1f7d952d5b6259811ccb78129394

It's seems to be modified in the google console ... but still have read-only permissions. Maybe it's a bug in GCP ? But like a say, from the interface isn't possible to set service account and s

[2018-09-28 08:31] rolandkool opened #2127 "CloudSQL: support for Private networking"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-28 13:33] leejones commented on #2126
I ran into this also and solved it by setting `initial_node_count = 1` in the node pool.

I think what's happening is that GKE's cluster autoscaling [depends on some/all of system pods running](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-autoscaler#minimum_and_maximum_node_pool_size), so a cluster with no nodes (and therefore no system pods) cannot scale itself up.

[2018-09-28 13:54] jul-scherer opened #2128 "Forces new ressource everytime because of v1 vs beta link"
### Terraform Version
Terraform v0.11.7

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_instance_template
- google_compute_region_disk

### Terraform Configuration Files
[code]

### Expected Behavior
When apply the configuration, nothing must change.

### Actual Behavior
Forces new ressource because of the link beta applied vs v1 in the terraform plan
(

[2018-09-28 15:04] steven-edgar opened #2129 "google_project_services returning before APIs fully enabled in GCP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-28 16:33] rileykarson opened #2132 "google_redis_instance region not being read correctly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-09-28 16:56] morgante commented on #2068
Do you have logs of this happening? That would indeed be a serious bug.

In reality what I think you're seeing is:

1. You have Service Account credentials from the `terraform-admin` project
2. You create a Terraform resource meant for `awesome-project`
3. When Terraform goes to create the resource, it is indeed targeting `awesome-project` but because your credentials come from `terraform-admin` G

[2018-09-28 18:41] trickleup commented on #2126
Thanks @leejones!

I'm not sure this is the case. I was able to add an autoscaling nodepool from the google console with the same configuration, to the same cluster, and this pool immediately scaled up to the minimum instance, and was able to schedule pods.

According to the suggestion, I tried to set `initial_node_count` in the cluster config, but this conflicts with the node_pool block:

[code]

[2018-09-28 20:29] rileykarson commented on #1167
- [ ] maybe `google_cloudiot_registry`
- [ ] `google_compute_project_metadata`
- [ ] `google_storage_object_acl.role_entity`

[2018-09-28 20:35] leejones commented on #2126
Sorry for the trouble @trickleup! I remember having some similar difficulties. It looks like my suggestion above was based on my poor memory and was incomplete. I reviewed my configuration and realized that I'm defining `initial_node_count` in both the cluster and the node pool config. Here's a slimmed down version of the configuration that has recently worked well for me:

[code]

This configurat

[2018-09-28 21:09] ndmckinley commented on #2132
Should be fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/511.

[2018-09-28 22:16] rileykarson commented on #2132
Closed with #2133

[2018-09-28 22:16] #2132 closed

[2018-09-30 02:51] paddycarver commented on #1953
I don't really know what our options are here, or what we could do. Seeing as there's no next steps we can take, as far as I know, I'm going to close this out. If someone thinks we could have better documentation for this, or there's something we could do, I'm happy to reopen or discuss on another issue.

[2018-09-30 02:51] #1953 closed

[2018-09-30 03:12] paddycarver commented on #1812
We've gone a few months without new information on this, so in the absence of a reproduction, I'm going to close it out. If someone has more details on this happening and can help us get to a reproduction, I'm happy to reopen the issue.

[2018-09-30 03:12] #1812 closed

[2018-09-30 03:37] paddycarver commented on #1506
Just a heads up, there's an open proposal about this in #1971. I'll update with even more information this week.

[2018-09-30 03:44] paddycarver commented on #1410
This should have been fixed by #1956. I'm going to close it out. If someone is still seeing this problem, feel free to comment, and we can reopen and investigate.

[2018-09-30 03:44] #1410 closed

[2018-09-30 04:04] paddycarver commented on #1246
I'm going to close this out, as we've released the compute instance data source, so people should be able to string this together by themselves, if they really want to. I'm weakly against adding documentation/an example on how to do it, because I think it's behaviour that should be discouraged. If anyone feels strongly it should be documented, feel free to chime in, and we can reopen the issue.

[2018-09-30 04:04] #1246 closed

[2018-09-30 04:05] paddycarver commented on #1225
I think we got the documentation for this updated, so I'm going to close this out. If people think we could still stand to have better documentation here, feel free to reply and I can reopen this.

[2018-09-30 04:05] #1225 closed

[2018-09-30 04:17] paddycarver commented on #1159
This has been resolved. #1972 fixed the bug causing this.

[2018-09-30 04:17] #1159 closed

[2018-09-30 04:26] paddycarver commented on #892
I believe #1692 resolved this. If anyone is still experiencing it, please feel free to reply, and we can reopen this.

[2018-09-30 04:26] #892 closed

[2018-09-30 04:31] paddycarver commented on #786
This is now possible:

* The [`instance_group`](https://www.terraform.io/docs/providers/google/r/compute_instance_group_manager.html#instance_group) property can be read for the self_link of the instance group being managed.
* The [`compute_instance_group`](https://www.terraform.io/docs/providers/google/d/google_compute_instance_group.html) data source can use that self_link to return a list of in

[2018-09-30 04:31] #786 closed

[2018-09-30 04:34] paddycarver commented on #667
This should be resolved by the [upcoming 0.12 changes](https://www.hashicorp.com/blog/terraform-0-12-conditional-operator-improvements#conditionally-omitted-arguments).

[2018-09-30 04:44] rickypai commented on #1225
forgot to say this but thanks for the documentation updates!

[2018-09-30 04:45] paddycarver commented on #52
I'm pretty against adding this functionality. The [docs](https://cloud.google.com/compute/docs/instance-groups/creating-groups-of-managed-instances#stateless) are pretty clear that you should not be relying on the state of disks:

If you need to customize an image after boot, the appropriate place to do that is in the startup script. `remote-exec` is pretty much never appropriate with an instance

[2018-09-30 04:47] paddycarver commented on #32
@Legogris can you post [debug logs](https://www.terraform.io/docs/internals/debugging.html)? I'd be very interested in seeing the API requests that are returning an error.

[2018-09-30 06:05] pdemagny commented on #2055
Hello, i managed to work around this issue by adding a local-exec provisioner to sleep for 60 seconds after creation of the db instance.

[code]

However, and its probably unrelated to the former workaround, i encounter errors when destroying resources too ... Errors won't go away even after multiple run of terraform destroy, and leaves me with a crippled tfstate ...

[code]

[2018-10-01 01:46] bradenwright commented on #1509
Maybe you didn't do a `terraform apply` after adding `force_destroy = true`, at least my best guess.

[2018-10-01 17:16] danawillow commented on #2129
Hi @steven-edgar, in this particular case, the resource name is different between the definition and the `depends_on`:
[code]
[code]

can you try again with the correct resource name and see if that works?

[2018-10-01 17:35] danawillow commented on #2115
@paddycarver the answer to your question is that the `node_config` on the cluster corresponds to the default node pool. The ideal solution would be that we would have a `default_node_pool` block on the cluster, but alas, that's not what the API gives us to work with. In the meantime, we can probably solve through documentation.

[2018-10-01 18:07] #2128 closed

[2018-10-01 20:06] viharikrishna commented on #175
Hello
I'm getting similar error "* google_compute_instance.linux-virtualmachine: Error creating instance: googleapi: Error 400: Invalid value for field 'resource.networkInterfaces[0].subnetwork': 'projects/viharisnewtest/regions/us-central1/subnetworks/{{us-central1-10-129-2-64-27}}'. The referenced subnetwork resource cannot be found., invalid"

network_interface {
    subnetwork     = "projects/

[2018-10-01 20:10] viharikrishna opened #2140 "Error 400: Invalid value for field 'resource.networkInterfaces[0].subnetwork':"
Hello
I'm getting similar error "* google_compute_instance.linux-virtualmachine: Error creating instance: googleapi: Error 400: Invalid value for field 'resource.networkInterfaces[0].subnetwork': 'projects/viharisnewtest/regions/us-central1/subnetworks/{{us-central1-10-129-2-64-27}}'. The referenced subnetwork resource cannot be found., invalid"

network_interface {
subnetwork = "projects/{{vihari

[2018-10-01 21:40] rileykarson commented on #1167
- [ ] `google_storage_default_object_acl`

[2018-10-01 22:56] viharikrishna commented on #2140
Error resolved.
Right syntax is

network_interface {
subnetwork = "subnetwork_name"
subnetwork_project ="sharec_vpc_project_name"
}

[2018-10-01 22:56] #2140 closed

[2018-10-01 23:14] danawillow opened #2143 "Deprecate things that should be deprecated"
* [x] Beta fields
* [x] Instance Group Manager
* [x] `resource_compute_instance.network_interface.access_config.assigned_nat_ip`
* [x] cloudfunctions_function doesn't match the API in an important way (we have trigger_topic and trigger_bucket instead of the more expressive event_trigger, which has more options) and doesn't match the API in a couple less important ways (trigger_http as a string ins

[2018-10-02 06:53] steven-edgar commented on #2129
Sorry, that was just my removing internal names from the example, I obviously typo’d that, but my source terraform file is consistent.

Thanks

Steven

From: Dana Hoffman [mailto:notifications@github.com]
Sent: 01 October 2018 18:17
To: terraform-providers/terraform-provider-google <terraform-provider-google@noreply.github.com>
Cc: Edgar, Steven <steven.edgar@sky.uk>; Mention <mention@noreply.gith

[2018-10-02 07:39] zdevi opened #2145 "cos-cloud absent"
Hi,
I'm havin trouble to pull cos-stable google's image. It looks you did not add cos-cloud public repo in the code. I can't access cos-stable-xxx which is on this repo.

[2018-10-02 08:06] Chupaka commented on #2145
What is this issue about? (O_o)

[2018-10-02 08:09] zdevi commented on #2145
When i try to use google's cos-stable image with terraform (Container Optimized OS) which is a public google image, it sais it doesn't find it. I tried with the commande 'gcloud compute image list' and i could see it, but terraform doesn't :

`:~/Desktop/terraform-provider-google$ gcloud compute images list|grep cos
cos-69-10895-71-0                                     cos-cloud          cos-69-lt

[2018-10-02 08:13] Chupaka commented on #2145
I still can't see your "doesn't". Where's Terraform config, where's Terraform log?

[2018-10-02 08:15] zdevi commented on #2145
* google_compute_instance_template.app: 1 error(s) occurred:

* google_compute_instance_template.app: Error resolving image name 'cos-stable-69-10895-71-0': Could not find image or family cos-stable-69-10895-71-0

2018-10-01T18:04:46.535+0200 [DEBUG] plugin.terraform-provider-google_v1.18.0_x4: ---[ REQUEST ]---------------------------------------
2018-10-01T18:04:46.535+0200 [DEBUG] plugin.terraf

[2018-10-02 09:07] zdevi commented on #2145
I've been able to pull the image by specifying the repo : source_image = "cos-cloud/cos-stable-69-10895-71-0"

[2018-10-02 09:32] BrunoReboul opened #2146 "Missing Attributes reference section on doc page for google_organization_iam_custom_role"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-10-02 09:47] #2145 closed

[2018-10-02 10:21] paddycarver commented on #2143
* [ ] cloudfunctions_function doesn't match the API in an important way (we have trigger_topic and trigger_bucket instead of the more expressive event_trigger, which has more options) and doesn't match the API in a couple less important ways (trigger_http as a string instead of https_trigger as an object with just a string in it; source_archive_bucket and source_archive_object instead of source_ar

[2018-10-02 10:42] paddycarver commented on #1672
@mbrukman can you confirm that the note in the [API docs](https://cloud.google.com/bigtable/docs/reference/admin/rest/v2/projects.instances/create) for creating an instance about `clusters` ("Currently exactly one cluster must be specified.") is incorrect? If so, does the API request not care about the number of clusters at all, or does it need 1 _or more_? And is there any difference between crea

[2018-10-02 13:39] bmoyet commented on #2122
Hello,

I was able to try this workaround today, and it is working as expected, the instance is started with the additional disk attached. So your hunch seems correct. I will be able to use this workaround in the meantime.

Thanks

[2018-10-02 14:39] allandrick commented on #1728
For reference, if your terraform binary isn't updated to the latest, the provider may silently destroy your project without mentioning the change/intent in a plan.  Just happened to me with 0.10.7

[2018-10-02 14:39] allandrick commented on #1561
For reference, if your terraform binary isn't updated to the latest, the provider may silently destroy your project without mentioning the change/intent in a plan. Just happened to me with 0.10.7

[2018-10-02 14:52] ensonic opened #2149 "Master version "1.9.7-gke.5" is unsupported., badRequest"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2018-10-02 15:05] mbrukman commented on #1672
@paddycarver wrote:

Sorry, that documentation page is out of date and needs to be re-generated. The [source proto][proto] has the correct text: _"Currently, at most two clusters can be specified."_

No, the resulting clusters are the same. So you can either:

* create an instance with a single cluster and add a cluster afterwards
* create an instance from scratch with two clusters

@garye, @dmmce