[2022-10-14 17:04] melinath opened #12792 "Clarify that update tests are handwritten in a separate file from generated tests"
https://github.com/GoogleCloudPlatform/magic-modules/pull/6598#issuecomment-1279158141

[2022-10-14 18:24] ScottSuarez commented on #10066
Could anyone provide a configuration with a consistent reproduction. I've attempted to recreate this and we unable to.

If you are running into this I would recommend looking at your provider configuration. If you use both `google` and `google-beta` providers you will need two provider blocks.

[code]

[2022-10-14 18:29] red8888 opened #12793 "No clear example for importing a google_sql_user resource"
### Terraform Version

[code]

### Terraform Configuration Files

What is this syntax? https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_user#import

`$ terraform import google_sql_user.users my-project/main-instance/my-domain.com/me
`
What is domain here?

My instance is mysql
My org is "mycompany.com"
My project is myproject_id
My connection name is: myproject_id

[2022-10-14 18:48] red8888 commented on #12793
I finally got this after looking at the debug output- this really needs to be documented:

[code]

So the import statement is this: `import google_sql_user.myuser myproject_id/my_instance/%/myuser`

But here is the problem if I create a user with this config I get an error saying the name must be the full email name:

[code]

Terraform fails but the user is still created and its _name_ is myuser.

[2022-10-14 19:02] nphilbrook commented on #12738
Can anyone define the acronym `CAI` in the context of magic-modules for me?

[2022-10-14 20:06] tlynchpin opened #12794 "validation message indicates wrong RFC, 3399 vs 3339"
should be 3339, not 3399:

https://github.com/hashicorp/terraform-provider-google/blob/70e87c895c6709fb306046d7fd020d4b82c25615/google/validation.go#L146

[2022-10-14 21:39] melinath commented on #12702
b/253296389

[2022-10-14 21:45] melinath commented on #12617
It looks like this is supported by the backend service API: https://cloud.google.com/compute/docs/reference/rest/v1/backendServices

And regionBackendServices API: https://cloud.google.com/compute/docs/reference/rest/v1/regionBackendServices

We should add it to both backend_service resources.

[2022-10-14 21:46] melinath commented on #12617
b/253681788

[2022-10-14 21:49] melinath commented on #12586
It looks like this would require running SQL because it's part of the internal database state. We generally try to avoid managing database state via terraform & just stick to infrastructure.

[2022-10-14 21:51] bukzor-sentryio commented on #7696
Looking at the API today, there's now an endpoint to transfer the "deleted" domain registration back from Google Domains back into Cloud Domains:

https://cloud.google.com/domains/docs/reference/rest/v1/projects.locations.registrations/import

[2022-10-14 22:07] rileykarson commented on #12738
Yep!

What's different is that the entire API is regionalized in Cloud Run's case, but only a subset of the API is regionalized for tags. The resource code is probably able to make it most of the way there, but then we end up running into the operation code which differs. There are a few possible ways to work around that (handwrite the operation handler, possible, since the `name` will give us the

[2022-10-14 22:08] melinath commented on #12460
It looks like this is implemented as a separate resource in the API: https://cloud.google.com/binary-authorization/docs/reference/rest/v1alpha2/projects.continuousValidationConfig

It's currently only in alpha.

[2022-10-14 22:19] melinath commented on #12171
@tomli-optus it sounds like you've already made the changes - if you want to make a pull request, check out https://github.com/GoogleCloudPlatform/magic-modules#magic-modules for instructions on how to make contributions to this repository.

You might also find these docs useful: https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requ

[2022-10-14 22:22] melinath commented on #12275
duplicate of https://github.com/hashicorp/terraform-provider-google/issues/12123

[2022-10-14 22:22] #12275 closed

[2022-10-14 22:35] edwardmedia commented on #12788
@toshi0607  update: release is scheduled on Monday

[2022-10-15 00:02] shotarok opened #12798 "Describe how to test a beta-only field of the resource generated by mmv1"
# Background

This is a feature request to add a description of how to test a beta-only field of the resource generated by mmv1. It took time for me to understand how to test a beta field. Updating a doc would help developers to define a new beta field in the future.

# What kind of contribution is this issue about?

* MMv1-based resource

# Related PR(s), if any:

* https://github.com/GoogleCloud

[2022-10-15 03:57] rvillane commented on #12640
I'm running into a very similar issue.  The following is my terraform code:
[code]

the error message after running `terraform apply` is:

[code]

In my case, even with this error, the repository was actually created and can pull/push container into it.  Now I'm getting the error message above every time the apply command is executed.  In GCP, the service account used to run terraform is showing a

[2022-10-15 05:23] jyasskin commented on #11057
I've attempted to fix this in https://github.com/GoogleCloudPlatform/magic-modules/pull/6697.

[2022-10-15 05:31] shotarok commented on #12798
It'd be good to add how to test the beta-only field to this section: https://github.com/GoogleCloudPlatform/magic-modules/tree/main/mmv1#adding-beta-fields.

[2022-10-15 07:44] toshi0607 commented on #12788
Please let me add info. After this report, I decrement the version and the maximum version that I successfully downloaded was v4.32.0. Are there some changes about signing? If I miss any config changes, please let me know.

[code]

[2022-10-15 12:41] nphilbrook commented on #12738
Thanks, it's starting to come together now...handwriting a separate resource seems cromulent for now.

Thank you! It makes more sense now.

[2022-10-15 16:17] nphilbrook commented on #11448
Hey @AarshDhokai wondering what your timeline looks like on this issue. No pressure, just our team has an immediate use for this feature, so I was going to work on it next week if you don't have immediate plans. Don't want to duplicate any work :) Thanks!

[2022-10-15 20:15] smalot commented on #10810
How can we use this new terraform resource ?
Are we obliged to wait for a new release ?

[2022-10-16 01:35] davidroman opened #12799 "Dataset : updating a label throws an error after timeout"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-16 01:55] raihan1khan opened #12800 "Create a dataset using pubsub subscription"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-16 04:54] shotarok commented on #12307
We merged https://github.com/GoogleCloudPlatform/magic-modules/pull/6568 to support `google_vertex_ai_featurestore_entity_feature`, and we promoted it to GA in  https://github.com/GoogleCloudPlatform/magic-modules/pull/6565. I think we can close this issue.

[2022-10-16 05:18] Rstar1998 commented on #10810
@smalot https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/datastream_connection_profile

[2022-10-16 19:26] tgoodsell-tempus opened #12801 "Managed Active Directory IAM Resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-16 22:05] iamgeef commented on #8444
Still experiencing the above issue as of today - any updates or is still pending upstream changes?

[2022-10-17 05:51] shotarok commented on #12608
it looks like https://cloud.google.com/dataflow/docs/reference/data-pipelines/rest is the corresponding REST API doc. Based on the doc, changing the scheme a little bit would make it straightforward to implement the resource.

[2022-10-17 06:03] shotarok commented on #12276
It seems https://github.com/hashicorp/terraform-provider-google/issues/12608 is the same feature request.

[2022-10-17 09:07] PaulGWatson commented on #12782
Hello,

I created the roles via the cloud shell using "gcloud iam roles create." I
have attached the yaml files I fed into that command.

Take care,
Paul Watson

On Fri, Oct 14, 2022 at 6:11 AM Edward Sun ***@***.***> wrote:

--

CONFIDENTIALITY NOTICE: This email, including any attachments, is for the
sole use of the intended recipient and may contain confidential
information. If you are not the

[2022-10-17 10:45] jlowe64 commented on #10810
@melinath just checking in here. I see you've contributed the connection profiles and private connections, but I don't see in the documentation how to direct a connection profile to use the private connection that is created. Am I missing something?

[2022-10-17 10:46] jlowe64 commented on #10810
@melinath sorry, I literally just saw your most recent pull request is exactly this issue. I guess you're waiting on something internally to be fixed in the mean time?

[2022-10-17 12:07] AntoineDao opened #12802 "Add Logging Config to Storage Transfer Job"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-17 13:46] q-oscarng opened #12804 "google_storage_bucket resources with inconsistent final plan against dynamic labels in version 4.40.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-17 15:45] ebeltramo96 opened #12805 "Documentation for google_storage_transfer_job referring to a Optional parameter when it's actually Required"
Hello,

inside this documentation page: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/storage_transfer_job

in the block: `start_time_of_day` the option `seconds` is listed `Optional` but when we tried to apply it the terraform plan states `Required`

![image](https://user-images.githubusercontent.com/76771558/196222605-200a636d-51f7-450e-9b07-85fe0fedd765.png)

Ed

[2022-10-17 16:11] YounesCoder commented on #12787
`pubsub.schemas.get` is a permission, not a role. This permission is included in 3 PubSub roles: Admin, Editor, Viewer.
Why a service account would only need to access a pubsub schema ?

[2022-10-17 16:30] #11483 closed

[2022-10-17 16:32] #7170 closed

[2022-10-17 16:41] GabrieleCalarota commented on #12787
Having a Service Account with as a topic viewer Role it's too broad (it can see all the topics).
If you just set the role to the topic through the `google_pubsub_schema_topic_member` it can't actually read from the schema!

[2022-10-17 16:47] YounesCoder commented on #12787
What if you create a custom role with only the permissions needed  ?

[2022-10-17 20:11] rainshen49 opened #12810 "[New major version] Make `DELETE` the default destroy behavior for google_firebase_web_app"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-17 20:17] ScottSuarez commented on #7696
There is still a lot of uncertainty around this. When we delete this with a SA where does the domain go? The SA's google domains? When recreating a resource we will be unable to understand that it was deleted and import it from the relevant location without a lot of high maintenance code.

If you have significant interest in this resource I would recommend engaging the google cloud support directl

[2022-10-17 20:56] michyliao commented on #11127
Hey @rileykarson , I was wondering if there has been any update with fixing the feature?

[2022-10-17 20:59] edwardmedia commented on #12804
@q-oscarng can you share your debug logs for both apply? Are you aware of the name of bucket is global?

[2022-10-17 21:33] ScottSuarez opened #12813 "Revise terraform reviewer list to be a github group for singular source of truth"
# Background

A contributor who is within the reviewer list cannot assign to a random reviewer. Only unassigned prs will go through this process. While one can assign issues to the [terraform-team](https://github.com/orgs/GoogleCloudPlatform/teams/terraform-team/members) group. This group is not complete with all reviewers and includes individuals who are not reviewers.

https://github.com/GoogleC

[2022-10-17 21:36] tomasgareau opened #12814 "Cannot define interdependent environment variables with `google_cloud_run_service`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-17 22:56] nagspace opened #12816 "Apigee Org PayG support "google_apigee_organization""
### Affected Resource(s)

* google_apigee_organization

google_apigee_organization only supports CLOUD & HYBRID.

Will there be support for PAYG the new offering that is called pay-as-you-go for Apigee?

[2022-10-17 23:47] joe-a-t opened #12817 "Inappropriate value for attribute "guest_accelerator": incorrect list element type: attribute "gpu_sharing_config" is required."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-18 06:05] shotarok opened #12818 "Add new resources for Vertex AI Matching Engine"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-18 07:27] AndreaGiardini commented on #12678
I can confirm what @kpocius said.

I got the same error on the `google_project_iam_member` resource. I found out that the user I was trying to assign was a domain alias rather than the real domain (we have an alias for xyz.com and xpz.ai). I fixed the problem by using the main account rather than the alias.

[2022-10-18 07:46] moryoskorot opened #12819 "Docs for google_org_policy_policy misguiding"
Hi,
The docs for google_org_policy_policy
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/org_policy_policy

Are misguiding and produce an error when used as given there.

From the docs:
[code]
The thing is that using parent with  "organizations/123456789"
Produced the following error:
[code]

**Notice that the word organizations shows twice.**

I was able to overcom

[2022-10-18 08:06] danielov1 commented on #12819
The amount of 404s we receive when using snippets from the docs 1:1 is extremely frustrating for me and my team. Please do something about it.

[2022-10-18 09:24] cagataygurturk commented on #9505
Unfortunately[ the Google issue](https://issuetracker.google.com/issues/219237911?pli=1) was closed with Won't fix. It seems the only way is to fix this on Terraform side.

[2022-10-18 10:40] dogmatic69 opened #12820 "spanner iam example does not work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-18 10:42] toshi0607 commented on #12788
Updating version to 4.41.0 and tf init stil doesn't work for me.
[code]

[2022-10-18 11:37] ffeldhaus opened #12821 "Add attribute to google_workflows_workflow providing workflow execution URI"
[Google Cloud Workflows are usually invoked via the workflow execution URI](https://cloud.google.com/workflows/docs/executing-workflow#rest-api), e.g. via Cloud Scheduler (see #8832 for an example).

Please add an attribute `https_trigger_url` to `google_workflows_workflow` similar to the [`https_trigger_url` attribute in `google_cloudfunctions_function
`](https://registry.terraform.io/providers/h

[2022-10-18 11:45] ArturZejfer commented on #11891
still failing with 4.41
any changes to have it fixed soon? thanks

[2022-10-18 13:22] q-oscarng commented on #12804
Hi, the debug log is here: https://gist.github.com/q-oscarng/057a318d0e4dda2addf1dddafe15712d
I noticed that the first `terraform apply`'s plan does not recognize changes on `labels`, while re-applying it does

As for the name of bucket I create, I believe it is globally unique in a single namespace shared across all cloud storage users, as suggested in [Google Cloud Doc](https://cloud.google.com/

[2022-10-18 14:19] ghabian commented on #11503
I've created a PR with a proposed solution. I refactored instances of VPN gateway + attached router to an HA VPN gateway. With other minor changes the failing tests are now successful.

The other approach would have been to create micro instances, attach external IPs, and use the IPs as `peer_ip` to pass the validation check as part of the test. I felt HA VPN is the less resource-intensive way.

I

[2022-10-18 15:00] edwardmedia commented on #12820
@dogmatic69 below error is from API, there is not much we can do at the provider level. Just out of curiosity, why do you think this role should be supported?

[code]

[2022-10-18 15:11] bharathkkb commented on #12817
We have also seen our tests starting to fail with 4.41.0.

[2022-10-18 15:13] edwardmedia commented on #12676
b/254123801

[2022-10-18 15:22] McFacePunch commented on #12739
@edwardmedia i can now say with fair certainty this is a bug, it seems to be related to when `redirect_options {type = "GOOGLE_RECAPTCHA"}`  is added to a terraform configuration and a rule is updated. Instantiation works but any subsequent modifications result in the prior mentioned errors.

[2022-10-18 15:27] edwardmedia commented on #12819
@danielov1 have you inspected what the value of `${data.google_organization.default.id}`?

[2022-10-18 16:06] dogmatic69 commented on #12820
Let me clarify, the docs are wrong. It should not have a broken examole.

[2022-10-18 16:42] rileykarson commented on #12817
This used `ConfigMode: schema.SchemaConfigModeAttr,`, an [advanced setting](https://www.terraform.io/plugin/sdkv2/guides/terraform-0.12-compatibility#computed-resource-attributes) with some negative side effects. Not sure why as it wasn't mentioned in the review at all- fixing this is probably just a matter of removing that.

[2022-10-18 17:05] rileykarson commented on #12817
Interesting, I don't seem to be able to reproduce this. `4.41.0` of the provider, I've tried Terraform `1.1.7` and `1.3.2`:

[code]

[code]

[2022-10-18 17:24] joe-a-t commented on #12817
What if you create the node pool with v4.40.0 or v3.x of the provider before upgrading to v4.41.0? I wonder if it's something that has changed around the schema of `guest_accelerator` around that time since it currently _looks_ like it should be a block according to the doc but the valid values that we have with v4.40.0 is having `guest_accelerator` be an `=` value instead of a block

[2022-10-18 17:42] joe-a-t commented on #12817
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#guest_accelerator seems super weird/suspicious. I remember in the past we tried to set up `guest_accelerator` as a block per what https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_node_pool#example-usage---2-node-pools-1-separately-managed--the-default-node-pool s

[2022-10-18 18:17] edwardmedia commented on #12814
@tomasgareau these fields in the resource are based on below API's. Terraform is a DECLARATIVE  tool. I don't believe it  could support what you are asking.

https://cloud.google.com/run/docs/reference/rest/v1/Container#EnvVar

[2022-10-18 18:43] rileykarson commented on #12817
@joe-a-t: I noticed the repro config and error message provided don't match up. Can you confirm that the repro and your config match exactly w/ respect to things like variables and the `guest_accelerator` block structure? Minute differences are likely to be the cause of the error here.

[2022-10-18 18:51] tomasgareau commented on #12814
Hmmm -- even though it's declarative I'd expect Terraform to be able to support ordered sequences. The `list` collection type for example is an _ordered_ list of elements.

I'll admit I'm not super familiar with the backend APIs that the `terraform-google-provider` is using to create the Cloud Run service so bear with me if everything below doesn't make sense but:

I'd expect Terraform to eventual

[2022-10-18 19:08] tomasgareau commented on #12819
One note I'll drop in here is that the `id` attribute is often a "fully-qualified" ID. Usually I've found there's a more specific ID that has the resource-specific ID.

In this case, for example:

[code]

Projects are another resource that follow a similar format:

[code]

In this case, to match the example from the docs, you could have substituted the `org_id` instead:

[code]

The confusing bit

[2022-10-18 20:03] rileykarson opened #12824 "Remove instances of schema.ConfigModeAttr"
`ConfigMode: schema.ConfigModeAttr` is a setting that enables Attributes as blocks mode (https://www.terraform.io/language/attr-as-blocks) in Terraform, which corrected a breakage in Terraform Core between 0.11 and 0.12. It allows empty blocks to be specified, which is important to allow unsetting certain fields. However, it can result in negative behaviour for modules and advanced configurations,

[2022-10-18 20:06] rileykarson commented on #12817
Alright, turns out Terraform forces the `schema.ConfigModeAttr` setting on us. For @bharathkkb and the error I introduced, that one's (unfortunately) expected and not related to the `schema.ConfigModeAttr` setting on the new field- any new field does that.

Filed https://github.com/hashicorp/terraform-provider-google/issues/12824 to remove the setting where possible in `5.0.0`. Closing this as won

[2022-10-18 20:06] #12817 closed

[2022-10-18 20:27] joe-a-t commented on #12817
It's unfortunately not exactly the same, we are using some nested modules here so was trying to provide something more sanitized and simpler to share publicly. I can have our Google TAM reach out to schedule a time to debug more privately if that would be an option?

[2022-10-18 21:25] #12700 closed

[2022-10-18 22:04] edwardmedia commented on #12814
@rileykarson what do you think about this? It seems API has updated its version a lot. Here is another one https://github.com/hashicorp/terraform-provider-google/issues/12764

[2022-10-18 22:56] edwardmedia commented on #12820
@dogmatic69 oh sorry I misunderstood. Yes, let me update the doc then. Thanks

[2022-10-18 23:35] rtokarek-fastly opened #12827 "Deletion of managed SOA record-sets fails on terraform destroy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-18 23:54] rtokarek-fastly commented on #12827
A PR is here:

https://github.com/hashicorp/terraform-provider-google/pull/12828

[2022-10-18 23:59] #10212 closed

[2022-10-19 00:44] #12654 closed

[2022-10-19 01:48] rtokarek-fastly commented on #12827
I closed https://github.com/hashicorp/terraform-provider-google/pull/12828 as I believe this needs to be changed in the relevant MagicModules code here instead: https://github.com/GoogleCloudPlatform/magic-modules/blob/276f1c70094bafdf5c5d66e09330a4755f985776/mmv1/third_party/terraform/resources/resource_dns_record_set.go#L339-L357

[2022-10-19 02:17] ScottSuarez commented on #12420
closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/6664

[2022-10-19 02:17] #12420 closed

[2022-10-19 02:18] ScottSuarez commented on #10923
closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/6642

[2022-10-19 02:18] #10923 closed

[2022-10-19 05:31] yugandhar-btc opened #12831 "Failing test(s): iam_binding/iam_member"
### Affected Resource(s)

* google_storage_bucket_iam_member

As i have declared right way in terraform files and after terraforming validate passed terraform plan is failed with following error.

Terraform v0.12.29

Error: Invalid for_each argument

  on .terraform/modules/rc_oct_mystudies_consent_documents/modules/simple_bucket/main.tf line 64, in resource "google_storage_bucket_iam_member" "mem

[2022-10-19 11:19] AkselAllas opened #12832 "How to set http/2 end-to-end for cloud run service"
I can't seem to find the following option for [cloud_run_service](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service)

<img width="714" alt="image" src="https://user-images.githubusercontent.com/26136082/196676840-352627f6-33e5-4247-82a8-8642f489a7cf.png">

Same docs [as here](https://cloud.google.com/run/docs/configuring/http2#terraform) should be add

[2022-10-19 14:03] DrFaust92 commented on #11581
kms_key_name is supported in cloudfunctions v1 but v2 doesnt support on api level

[2022-10-19 14:30] ErikEngerd opened #12833 "google_compute_subnetwork migration to ipv6 forces replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-19 15:46] joe-a-t commented on #12817
We also had to do https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/1428 and switch it to a dynamic block instead of using the `=` but are fixed now after making that change

[2022-10-19 17:20] patrickblackjr opened #12834 "Error when reading or editing Folder Not Found"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-19 17:43] patrickblackjr commented on #12834
Bit of state surgery later and I fixed it. Likely user error.

[2022-10-19 17:43] #12834 closed

[2022-10-19 18:14] edwardmedia commented on #12833
@ErikEngerd it looks like it is the addition of `ipv6_access_type` that causes replacement.

[code]
Look at the [api](https://cloud.google.com/compute/docs/reference/rest/v1/subnetworks), this field is immutable. That is why changing its value causes recreation. Does this make sense?

[code]

[2022-10-19 18:21] #12179 closed

[2022-10-19 18:30] ErikEngerd commented on #12833
If I read the documentation on the link you provided I see the following:

_The access type of IPv6 address this subnet holds. It's immutable and can only be specified during creation **or the first time the subnet is updated** into IPV4_IPV6 dual stack._

There is indeed some confusion in the docs but it does say in fact that it is mutable only becomes immutable after the value is set to IPV4_IPV

[2022-10-19 18:30] bohengy opened #12836 "Add support for IAM Workforce Identity Federation resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-19 20:20] giuliano-sider commented on #12667
I think this issue is important for GKE users and I'm working on a PR to add the field to google_container_cluster. Subsequently, I can submit a PR for the google_container_node_pool as well. I was thinking of adding logging_variant inside the node_pool_defaults to stay more or less consistent with the GKE API itself, and to emphasize that this is a cluster-level value that is applied to node pool

[2022-10-19 20:21] kevinsi4508 commented on #12482
It is a little bit complicated. We used to support something simple: support up to 4 clusters.

Now, we support up to 8 regions. This means that you can add X number of clusters in an instance as long as they don't go over the max of 8 regions.

For example, if you create 4 clusters in 8 regions, you can create 32 clusters in an instance. However, you cannot create 9 clusters in 9 distinct regions

[2022-10-19 20:23] chase-replicated opened #12839 "Terraform apply fails with panic that says to notify the developers because it's always indicative of a bug"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-19 20:29] edwardmedia commented on #12804
It looks like below func causes this issue.  By removing this function, the issue goes away, but we can't remove it. @rileykarson how do you want to handle this?

https://github.com/hashicorp/terraform-provider-google/blob/main/google/resource_storage_bucket.go#L85

[2022-10-19 20:46] kevinsi4508 commented on #12150
I am not certain restore functionality can be represented as a resource in Terraform. One possibility is using Table resource and somehow restore/create a table by specifying a backup.

[2022-10-19 20:49] edwardmedia commented on #12833
@ErikEngerd it is possible API has updated its behavior. By now, the provider is based on the API and it is by design and not a bug. You may file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=01_enhancement.md) to ask for a change. In the meantimes, you can try gcloud to see if update is supported on this field. You may in

[2022-10-19 20:49] #12833 closed

[2022-10-19 22:12] edwardmedia commented on #12839
@chase-replicated can you share the configs for both `google_pubsub_topic` and  `google_storage_bucket`?

[2022-10-19 23:10] edwardmedia commented on #12783
@deepjy it appears the API has updated its behavior. This was by design and not a bug. Could you file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=01_enhancement.md) instead?

[2022-10-19 23:10] #12783 closed

[2022-10-19 23:14] edwardmedia commented on #12678
@yash-nigam-db @elsmorian Is this still an issue? Do the answers from other users are helpful?

[2022-10-20 00:58] chase-replicated commented on #12839
@edwardmedia You mean this?

[code]

[2022-10-20 11:11] mysolo commented on #1938
`  labels = {
    deployment-tool = "terraform",
    version-crc32c  = lower(replace(google_storage_bucket_object.source_archive_object.crc32c,"=",""))
  }`

The advantage is that we can keep the same archive name on the bucket.
As there is no replacement for the function, this also allows you to keep tracking of cloudfunction versions

[2022-10-20 11:11] henkka commented on #10436
This seems to be bug caused from https://github.com/hashicorp/terraform-provider-google/blob/main/google/resource_artifact_registry_repository.go#L186 as there's no functionality that defaults the `location` to provider region when `location` is not passed, and thus, the location ends up being empty string.

In such case the path used for the API call is
[code]

(notice `//`)

I'll see whether I m

[2022-10-20 13:32] fabiokfouri opened #12842 "The Dataplex Zone resource create a dataset, but don't have any argument to destroy this dataset."
The Dataplex Zone resource create a dataset, but don't have any argument to destroy this dataset.
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/dataplex_zone

When is necessary a rebuild, the Terraform fail because the dataset already exists.

I think that would be great to implement something or a feature like delete_contents_on_destroy. This feature exisits in go

[2022-10-20 13:37] deepjy opened #12843 "Create google_dataproc_workflow_template without job"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-20 13:38] deepjy commented on #12783
Submitted enhancement request - https://github.com/hashicorp/terraform-provider-google/issues/12843

[2022-10-20 16:28] chase-replicated commented on #12839
@edwardmedia like this?
[code]

[2022-10-20 16:54] kevinsi4508 commented on #10132
I believe this issue should be closed now.

[2022-10-20 16:58] #5687 closed

[2022-10-20 18:06] edwardmedia commented on #12839
@chase-replicated what does below file look like?

[code]

[2022-10-20 18:07] krishna4ldw commented on #11529
Any update on this ? when can we expect this feature.

[2022-10-20 18:08] krishna4ldw commented on #11948
Any update @c2thorn  when can we expect this change ?

[2022-10-20 18:11] juicemia commented on #12645
I see this on version 4.X of the provider.

[2022-10-20 18:18] slevenick commented on #12645
What version specifically?

[2022-10-20 18:22] krishna4ldw opened #12848 "Dataproc - Not all arguments available Eg : Reservation Affinity"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-20 18:39] edwardmedia commented on #12780
@jeremietharaud I am not sure if there is a use case that `event_trigger.resource` should be provided with a non-existing `topic`. Anyway, the provider is a pass-through, and it does not add the extra resources. As you have discovered, this is likely the API's behavior, and the provider has no knowledge about its creation. Thus, it is impossible the extra resources can be destroyed at the provider

[2022-10-20 18:41] edwardmedia commented on #12780
This is not a bug and there is not much we can do at the provider level. Closing the issue now

[2022-10-20 18:41] #12780 closed

[2022-10-20 18:43] edwardmedia commented on #12564
@AndreasBergmeier6176 I am closing this assuming it is no longer an issue. Feel free to reopen if you have answers to what I suggested.

[2022-10-20 18:43] #12564 closed

[2022-10-20 18:45] edwardmedia commented on #12537
@oioki I am closing this now, assuming it is no longer an issue.

[2022-10-20 18:45] #12537 closed

[2022-10-20 19:07] #10989 closed

[2022-10-20 19:12] chase-replicated commented on #12839
import base64
import zlib
import requests
import json

webhooks = {
        "XXXXXX": "----REDACTED_SLACK_HOOK----",
        "XXXXXX": "----REDACTED_SLACK_HOOK----"
        }

def print_decoded(event, context):
    decoded_compressed = base64.b64decode(event["data"])
    decompressed = zlib.decompress(decoded_compressed)
    loaded = json.loads(decompressed)
    project_id = loaded["account_id"]

[2022-10-20 19:20] c2thorn commented on #11948
@krishna4ldw sorry, this was lost. What field are you updating exactly?
If the update doesn't fail, does it result in a permanent diff on subsequent plans/applies?

I'm not an expert in Dataproc cluster specifically, so what does HA/Non HA mean here?

[2022-10-20 21:31] todd-dsm opened #12850 "google_gke_hub_membership does not respect the depends_on argument"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-20 21:50] #12820 closed

[2022-10-20 21:52] edwardmedia commented on #12839
@chase-replicated using your code, I can run the code without an issue. I also verified the function was successfully created.

[2022-10-20 21:54] kevinsi4508 commented on #10086
I was able to reproduce this. It does seems to be a bug. I will investigate further to see what should be done. Thanks for raising this.

[2022-10-20 22:01] edwardmedia commented on #12850
@todd-dsm instead of `depends_on`, can you try adding [sleep](https://registry.terraform.io/providers/hashicorp/time/latest/docs/resources/sleep) between two resources to see if it works?

[2022-10-20 22:11] melinath commented on #10086
I think we've had the issue of logging come up before - possibly https://github.com/hashicorp/terraform-provider-google/issues/12159?

[2022-10-21 10:11] jjmartres opened #12852 "Error code 13, message: Could not create or update Cloud Run service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-21 10:22] prauc commented on #12804
hi all,

as I am the initial contributor of this suppress func:

Seems for me like a terraform sdk bug itself, not a provider issue.

var and / or local references work fine, while "only" resource outputs seem to fail:
[code]

[2022-10-21 13:31] lukpep commented on #12730
I'm experiencing the same behaviour.
Change is detected and applied, but it seems that this "checkbox" is always off:

![CleanShot 2022-10-21 at 15 27 21](https://user-images.githubusercontent.com/2960580/197207021-99c5ad01-3410-486b-a4d7-4102a27301dd.png)

although the name of the group is, in fact, updated every time - so if I manually enable the checkbox proper (from TF) group is there waiting

[2022-10-21 14:53] #12794 closed

[2022-10-21 15:41] zli82016 commented on #12123
CmekSettings needs to be a new resource
https://cloud.google.com/logging/docs/reference/v2/rest/v2/TopLevel/getCmekSettings

[2022-10-21 17:17] jcanseco opened #12854 "google_redis_instance rdb_snapshot_period shoud be optional"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-21 17:46] #6521 closed

[2022-10-21 19:02] pedromiranda-telus commented on #6376
I had the sample problem. My workaround. was to run following command (**IT PROVOKES UNAVAILABILITY**):
[code]
Hope it helps.

[2022-10-21 20:24] tgoodsell-tempus opened #12857 "`google_compute_router_interface`: `ip_range` should also be computed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-21 21:07] davidalger commented on #12735
I'm going to take this. PR incoming.

[2022-10-21 23:02] edwardmedia commented on #12857
@tgoodsell-tempus are you aware of below rules for this resource? When you set the `vpn_tunnel`, do you see API returns `ip_range`? If yes, could you post the debug log which contains API requests and responses?

[code]

[2022-10-21 23:11] edwardmedia commented on #12852
@jjmartres are you using SharedVPC? I am not clear what your architecture looks like and how many projects are involved in your case. First you may want to start reviewing below doc to see if that can help debug your issue?

https://cloud.google.com/vpc/docs/serverless-vpc-access

[2022-10-22 07:24] jjmartres commented on #12852
hi @edwardmedia

Effectively we are using shared VPC. I've followed the documentation you mention but this didn't help me anymore.

[2022-10-22 07:36] JeremyOT commented on #9505
Hey all, the correct solution here is to pass  `cluster_autoscaling.auto_provisioning_defaults.service_account` which is the Autopilot friendly way to pass service accounts.

You don't have control over node pools in Autopilot (and there may not even be one at first) so passing with `node_pools` no longer makes sense. The API does partially support passing via default pool for legacy reasons as th

[2022-10-22 10:25] mastersingh24 commented on #9505
@JeremyOT  - yeah - I've had something in the works, but was waiting to see how things played out.  Here's a draft PR:  https://github.com/GoogleCloudPlatform/magic-modules/pull/6732

[2022-10-22 13:55] edwardmedia commented on #12852
@jjmartres there are many more resources that are needed to make it work. Have you also gone through below IAMs?

https://cloud.google.com/functions/docs/reference/iam/roles

[2022-10-22 13:58] edwardmedia commented on #12628
@CaliWee is this still an issue?

[2022-10-22 14:53] edwardmedia commented on #12640
@rvillane besides `owner`, it looks like you do need to add at least below two permissions to the terraform runner to complete the entire `apply` execution.

[code]

Closing this issue now. Feel free to reopen if you want to continue the conversation. Thanks

[2022-10-22 14:53] #12640 closed

[2022-10-22 17:52] CaliWee commented on #12628
Sorry, because of how our environment is configured it’s not easy for me to
test this out to get more logs. I was able to work around it by just
enabling the APIs in the other project.
Feel free to close

On Sat, Oct 22, 2022 at 6:58 AM Edward Sun ***@***.***> wrote:

--

Brendan Wee, MS. | Engineer
Calico Life Sciences LLC | 1170 Veterans Blvd. | South San Francisco, CA
94080
T: (925) 788-8196 |

[2022-10-22 17:59] JeremyOT commented on #9505
Ok cool - I did something similar but didn't add conflicts on the CA subfields, and defaulted CA.enabled=true when autopilot is enabled and no value is supplied. Both work, I have no real preference. Trying to get it out there before kubecon kicks off

GoogleCloudPlatform/magic-modules#6733

[2022-10-22 19:30] mastersingh24 commented on #9505
Let's push your through @JeremyOT .. looks good and I was going to add the defaults as well.

[2022-10-22 20:10] modax commented on #9505
@JeremyOT, @mastersingh24  Fair enough that your approach looks better. If @JeremyOT PR works, setting `cluster_autoscaling.auto_provisioning_defaults.service_account` makes much more sense then messing with `node_pools` which I did in https://github.com/GoogleCloudPlatform/magic-modules/pull/6611. Not that I'm a contributor but I have added a few comments on https://github.com/GoogleCloudPlatform

[2022-10-23 05:54] shotarok commented on #11832
`google_cloud_asset_{project,folder,organization}_feed.feed_output_config` is corresponding to the [FeedOutputConfig](https://cloud.google.com/asset-inventory/docs/reference/rest/v1/feeds#FeedOutputConfig) resource. It only supports `PubSubDestinaion` as of now like below. Therefore, I'm afraid expanding the existing resources would be difficult until API supports BigQuery.

<img width="539" alt="

[2022-10-23 14:41] edwardmedia commented on #12441
To request the change to use `tables.patch`, please file an enhancement. This is not a bug and close this issue accordingly.

[2022-10-23 14:41] #12441 closed

[2022-10-23 14:42] edwardmedia commented on #12445
@AlfatahB Thanks for reaching out. Close this issue then

[2022-10-23 14:42] #12445 closed

[2022-10-23 15:59] edwardmedia commented on #12616
@Ryan-Lintern I have updated the `view` schema in a description, and I see the new description in the result. Can you specify what exact field(s) you updated in the steps? Also please share the debug log?

[2022-10-23 16:09] Ryan-Lintern commented on #12616
@edwardmedia the main instance of seeing this issue involved a change to another part of the view, whether that was alongside the schema change, or even when the schema was never changed. In one example, the view code was changed - it wasn't actually, it was just the differences between Windows and Linux, but it was enough for Terraform to want to reapply the view resource. You should be able to r

[2022-10-23 21:51] edwardmedia commented on #12616
@Ryan-Lintern wait for more info & debug logs

[2022-10-23 22:16] edwardmedia commented on #12628
@CaliWee I believe GCP does require that API to be enabled on both project A and project B in your case. I am closing the issue now. Thank you

[2022-10-23 22:16] #12628 closed

[2022-10-23 22:18] edwardmedia commented on #12677
Closing this assuming this is no longer an issue

[2022-10-23 22:18] #12677 closed

[2022-10-23 22:19] edwardmedia commented on #12678
@yash-nigam-db @elsmorian closing this assuming this is no longer an issue. Feel free to reopen if you see it differently

[2022-10-23 22:19] #12678 closed

[2022-10-23 22:21] edwardmedia commented on #12701
@RxGoodness closing this assuming this is no longer a question.

[2022-10-23 22:21] #12701 closed

[2022-10-23 22:22] edwardmedia commented on #12613
@guptamukul-google is this still an issue?

[2022-10-23 22:25] edwardmedia commented on #12729
@anarwal closing this assuming it is no longer an issue

[2022-10-23 22:25] #12729 closed

[2022-10-23 22:26] edwardmedia commented on #12782
@PaulGWatson is this still an issue?

[2022-10-24 08:17] ErikEngerd opened #12860 "Support google_compute_subnetwork update to IPV6"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-24 10:31] ErikEngerd commented on #12860
When defining a VM that has a network interface in the subnet and updating the VM to go from IPV4 to dual stack then nothing happens and the network interface is still in IPV4. Updating the network interface in the google cloud console works though.

Network interface definition in terraform for a VM:
[code]

[2022-10-24 11:28] maucaro commented on #6471
I am also interested, as @wvanderdeijl , in `accessSettings.gcipSettings`. Any updates?

[2022-10-24 12:01] meteatamel commented on #10782
Ran into this problem too as soon as I started testing with auto-pilot. Surprised, it hasn't been fixed for so long.

[2022-10-24 13:58] edwardmedia commented on #12739
@McFacePunch what I asked was if you can share the .tf file, the terraform config, that I can use to repro the issue?

[2022-10-24 14:15] McFacePunch commented on #12739
I will look into sharing a redacted version since its private code, same with the debug log.

[2022-10-24 14:16] kevinsi4508 commented on #9173
@telpirion FYI.

@rileykarson , I thought import should fail if the resource is not found (ID is cleared).

According this log `2021-05-18T10:16:22.995-0700 [INFO]  provider.terraform-provider-google_v3.67.0_x5: 2021/05/18 10:16:22 [WARN] Removing bigtable1 because it's gone: timestamp=2021-05-18T10:16:22.995-0700`, the resource was cleared/removed.

I believe this might require Provider code firs

[2022-10-24 15:08] Stanwise commented on #12513
The proposed approach of letting both `ssl_certificates` and `certificate_map` to be set in the `google_compute_target_https_proxy` resource is the correct one.

Specifying both for the duration of the migration is the only safe approach. See: https://cloud.google.com/certificate-manager/docs/migrate#apply_the_new_certificate_map_to_the_target_load_balancer

[2022-10-24 15:20] kevinsi4508 commented on #5069
I believe this issue should be closed now. "Deleting an app profile will cause all requests using it to fail" warning can be ignored by setting `ignore_warnings` to true (as mentioned above).

[2022-10-24 16:04] SarahFrench commented on #12788
Hi @toshi0607 , sorry you're having this issue!

Could you please post the output when you run `TF_LOG=TRACE terraform init -upgrade` in your terminal? The output should include details about API calls being made to the Registry from your machine, and that'll help us pinpoint where things are going wrong.

[2022-10-24 16:46] chase-replicated commented on #12839
@edwardmedia Thanks, I assume then it might be an issue with GitHub Actions and how it's being run there? Is the error message wrong then when it says "This is always indicative of a bug within the plugin. It would be immensely helpful if you could report the crash with the plugin's maintainers so that it can be fixed. The output above should help diagnose the issue."?

[2022-10-24 17:37] rileykarson commented on #12843
@melinath to triage

[2022-10-24 17:41] rileykarson commented on #12787
https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.schemas doesn't support IAM at the resource level, closing as wontfix.

[2022-10-24 17:41] #12787 closed

[2022-10-24 17:42] carlyeks opened #12862 "`google_network_services`: Add support for private S3-compatible origins"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-24 17:43] rileykarson commented on #12813
Groups are properties of organizations, rather than a repository or a floating list. They're also typically private to the organization. Given the mix of Googler and HashiCorp engineers in the reviewers' pool, this is infeasible.

[2022-10-24 17:43] #12813 closed

[2022-10-24 17:46] carlyeks commented on #12862
I'm going to work on this.

[2022-10-24 17:46] kevinsi4508 commented on #6628
This issues seems to have two parts:

1. Resource creation should be tried on transient errors.
2. Handling already_exists error.

We still have some work to do with retrying transient error, but application level retry should be sufficient.
For example KCC periodically retries/reconciles the resource.

Handling already_exists error might be something we can do.

I think it was something like this

[2022-10-24 17:50] rileykarson commented on #12781
This could make sense to add, but we're not sure. Adding to `Backlog`.

[2022-10-24 19:49] rileykarson commented on #12765
Picked up by @ghabian in https://github.com/GoogleCloudPlatform/magic-modules/pull/6693

[2022-10-24 19:57] ScottSuarez commented on #12388
To request management of search indexes through the REST api you can file a request at https://cloud.google.com/support/docs/issue-trackers

[2022-10-24 20:28] rileykarson commented on #9173
I think this is happening for the same reason as you've been investigating already @kevinsi4508! We were setting the `id` to `""` too often, and that caused a silent failure here.

[2022-10-24 20:33] melinath commented on #6992
looks like destination_table_name_template is not immutable, reverting this change & reopening to track

[2022-10-24 20:39] rileykarson commented on #12496
See b/254877908 for a case where we make multiple API calls post-create, and don't manage the resource lifecycle well.

[2022-10-24 20:57] cdancy opened #12864 "google_logging_project_sink: how to disable _Default sink?"
I can't figure out for the life of me, through use of terraform, how to disable the `_Default` sink. Am I missing something? Any recommendations? Anyway I can, through use of terraform, stop that from being created?

I see it documented at least [HERE](https://cloud.google.com/logging/docs/export/configure_export_v2) which says:
[code]

EDIT: or ... if there is some way to _configure_ the `_Defaul

[2022-10-24 21:11] YounesCoder commented on #12781
Faced this issue so many times.. it is definitely a good idea

[2022-10-24 21:30] kevinsi4508 commented on #9173
Right, we shouldn't set `id` to `""` too often, but shouldn't import fails if the `id` is set to `""` in this case? It almost sounds like I want to import X, but we couldn't do it; instead we clear the whole thing. This means the import failed, isn't it?

[2022-10-24 21:35] rileykarson commented on #9173
Yeah, it should fail in cases where it's `""` too. I'm not sure why it wouldn't.

[2022-10-24 21:45] rileykarson commented on #11832
Thanks for investigating @shotarok! We go through these a couple dozen at a time, spending a couple minutes or less on each, and in cases where it seems reasonable the API implemented something, we tend to assume it already has. A one-time action like `exportAssets` would be difficult to model, yeah. What we'd do on creation is clear, but it's less clear what we should do if a user updates or dele

[2022-10-24 21:45] #11832 closed

[2022-10-25 01:00] toshi0607 commented on #12788
Hi @SarahFrench , thank you for the support! I pasted the results.

## terraform init
[code]

## hashicorp google versions

[code]
<details>
<summary>Result</summary>

[code]
</details>

[2022-10-25 02:17] pedromiranda-telus opened #12867 "Add support for edge-security-policy param in google_compute_backend_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-25 05:36] edwardmedia commented on #12864
@cdancy first you can [import](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/logging_project_sink#import) the _Default

Then you can update the [disabled](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/logging_project_sink#disabled) to true with apply

Let me know if you still have questions

[2022-10-25 07:52] aarturm commented on #12458
I'm facing the same issue.  I used above code and executed terraform apply 3 times. First time it creates Filestore instance and each next run will replace it:
[1stapply.log](https://github.com/hashicorp/terraform-provider-google/files/9858222/1stapply.log)
[2ndapply.log](https://github.com/hashicorp/terraform-provider-google/files/9858223/2ndapply.log)
[3rdapply.log](https://github.com/hashicorp/

[2022-10-25 08:20] smaftoul opened #12868 "`google_dns_managed_zone`: description cannot be empty string"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-25 10:03] nevivurn opened #12869 "google_certificate_manager_certificate_map should expose something like self_link"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-25 11:36] SarahFrench commented on #12788
Thanks @toshi0607 , that's a big help and I think I know what the problem may be now.

In the logs from the init command there are these log entries that provide a useful clue:

[code]

I believe the solution to your problem is for you to delete the file `/Users/toshi0607/.terraform.d/plugins/registry.terraform.io/hashicorp/google/terraform-provider-google_4.32.0_darwin_arm64.zip`. I'd recommend r

[2022-10-25 11:48] toshi0607 commented on #12788
@SarahFrench  Thank you for the explanation! I understand the situation, and your solution saved me!!!

[code]

[2022-10-25 11:51] SarahFrench commented on #12788
Brilliant, glad it's all worked out :)

[2022-10-25 11:51] #12788 closed

[2022-10-25 12:06] Akaame opened #12870 "`google_storage_bucket.website` deletion results in permadiff"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-25 12:33] kevinsi4508 commented on #9173
The import result might be depending on the status returned, which is no error: "nil".

Maybe there should be a check before we declare import is a success?

1. Import
2. Check id is not empty or check no drift right after import?

[2022-10-25 12:48] mikeperello-scopely opened #12871 "Error: Provider produced inconsistent result after apply at GCP project + User DB creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-25 14:49] c2thorn commented on #12854
closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/6739

[2022-10-25 14:49] #12854 closed

[2022-10-25 21:13] rileykarson commented on #9173
Import's handled through the provider framework based on a combination of our import func (https://github.com/hashicorp/terraform-plugin-sdk/blob/main/helper/schema/resource_importer.go) and Read func, we don't have much opportunity to fine-tune it. See https://learn.hashicorp.com/tutorials/terraform/provider-import?in=terraform/providers for an example.

Something's going wrong _somewhere_ such t

[2022-10-25 22:37] BolajiAkerele2013 commented on #9809
Hello,
I was able to create the agent but I'm still unable to create google_dialogflow_cx_version resource with 4.18.0
Error message is
"Error waiting to create Version: Error waiting for creating Version: error while retrieving operation: googleapi: Error 400: Please switch to 'us-central1-dialogflow.googleapis.com'
Any ideas please?

[2022-10-25 22:45] rileykarson commented on #12850
There is a bug here, but it's a little different than the one you'd expect. Datasources represent a single GET call to the API, and aren't used for sequencing the real bug is that the datasource _should be_ returning an error, and is instead silently failing. Unfortunately, there's not really any way to wait for an out-of-band resource to exist w/ Terraform and it either exists (and the apply succ

[2022-10-25 22:47] rileykarson commented on #12850
@edwardmedia: We're likely able to check the `id` after https://github.com/hashicorp/terraform-provider-google-beta/blob/f61f75a4b59e1d9fc1d43f243a54b188842e692f/google-beta/data_source_google_container_cluster.go#L40 with `GetId`, and throw an error if it's `""`.

[2022-10-25 22:52] rileykarson opened #12873 "Datasources silently return success on 404s when they should throw errors"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-25 23:12] whmackay commented on #11255
Also encountered this challenge with Cloud Build triggers and was pointed by another to the reason. `[user_project_override](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#user_project_override)` defaults to `false` which allows the service to decide if the resource project or project associated with the credential will be used. In the case of Cloud

[2022-10-25 23:13] edwardmedia commented on #12676
API teams has confirmed this field currently is immutable but will make it mutable sometime in 2023.

[2022-10-25 23:55] zli82016 commented on #12123
Hello, @steenblik, from my understanding, cmekSettings  is not useful to google_logging_organization_bucket_config.

Custom buckets can only be created under projects, and cannot be created under organizations. Only the two system-generated log buckets: _Required and _Default are supported under organizations. However, we cannot update the cmekSettings for _Required and _Default buckets under orga

[2022-10-26 04:09] yourmystar-otake opened #12875 "google_compute_backend_service: Add support for cacheKeyPolicy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-26 04:10] yourmystar-otake commented on #12875
sorry mistake

[2022-10-26 04:10] #12875 closed

[2022-10-26 04:11] aaharu opened #12876 "`google_compute_backend_service`: Add support for cache-key-include-http-header"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-26 06:04] naimadswdn opened #12877 "filestore instance force replacement when defining own reserved_ip_range"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-26 07:16] LucaPrete commented on #11206
FYI I started submitting [the patch to add the redundant_interface argument](https://github.com/GoogleCloudPlatform/magic-modules/pull/6740) to computer_router_interface.
I'll keep working on this and other patches, hopefully enabling the bgp configuration for NCC soon.

[2022-10-26 07:40] IchordeDionysos opened #12878 "google_storage_transfer_job does not allow to configure name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-26 07:53] bschaatsbergen opened #12879 "Cloud IDS attribute `endpoint_forwarding_rule` not set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-26 08:31] BolajiAkerele2013 commented on #9809
Interestingly, when I check the dialogflow console, I notice the version gets successfully created but then Terraform still flags the error about location.

[2022-10-26 08:47] vgattuso commented on #10634
I had the same issue with Terraform 1.3.3 and GCP provider 4.41.0. Only env var with secrets are affected by the delete/add issue.

It looks like the issue is in the Terraform SDK `ApplyResourceChange` method, the `priorStateVal` has `value -> ""` but the `plannedStateVal` has `value -> nil`, and the diff is detected. As a workaround, you can add `value = ""` in the TF config like in the example b

[2022-10-26 08:50] lisardggY commented on #12879
For context, this is a pretty critical issue because without the `endpoint_forwarding_rule` being populated, you can't create a packet mirroring policy since it needs that information.

[2022-10-26 09:17] BolajiAkerele2013 opened #12880 "Issue deploying Dialogflow CX Version in europe-west2"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-26 10:07] aarturm commented on #12458
@edwardmedia can this issue be re-opened? Or do I have to open one?

[2022-10-26 10:57] alexralph opened #12881 "The Provider does not allow Control of Alerting Policy - Notify on incident closure"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-26 13:11] alexralph commented on #12881
This issue can be closed as the option I am looking for does not exist in the google api so I do not expect the tf provider to be able to do this as yet.
Related article: https://issuetracker.google.com/issues/151052441?pli=1

[2022-10-26 13:11] #12881 closed

[2022-10-26 14:44] edwardmedia commented on #12870
@Akaame I don't think the api supports this. Once you have enabled the website, the api accepts updates with new values, but not empty. Let me know if you can achieve below behavior using other methods.

[code]

[2022-10-26 14:49] steven-edgar opened #12882 "google_Secret_manager_Secret_version support project field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-26 16:04] danjamesmay opened #12883 "`google_monitoring_monitored_project` exponentially slow and spawns thousands of calls to cloudresourcemanager api"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-26 16:53] kevinsi4508 opened #12884 "Terraform detects no changes in google_bigtable_instance when all clusters are removed on update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-26 16:55] kevinsi4508 commented on #12884
It is likely related to the logic that compares clusters using indexes: https://github.com/GoogleCloudPlatform/magic-modules/blob/adefb621cb47b0e99fce5967116a84fc3d088f88/mmv1/third_party/terraform/resources/resource_bigtable_instance.go#L541

[2022-10-26 17:04] edwardmedia commented on #12884
@kevinsi4508  how did you do in the step 2?

[code]

[2022-10-26 17:07] kevinsi4508 commented on #12884
First step; apply the following:

[code]

The second step: change the config to the following:

[code]

[2022-10-26 17:09] PaulGWatson commented on #12782
Yes. Sorry for the delay. I should be able to modify the github workflow to
test the import in a day or two.

On Sun, Oct 23, 2022 at 4:26 PM Edward Sun ***@***.***> wrote:

--

CONFIDENTIALITY NOTICE: This email, including any attachments, is for the
sole use of the intended recipient and may contain confidential
information. If you are not the intended recipient, please notify us
immediately and

[2022-10-26 19:12] cberenik-va opened #12886 "`google_billing_budget`'s `budget_filter` does not apply `credit_types_treatment` changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-26 21:33] #12676 closed

[2022-10-26 22:43] hennna opened #12889 "google_compute_subnetwork update INTERNAL_HTTPS_LOAD_BALANCER to REGIONAL_MANAGED_PROXY"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

If this is a bug report (for when something is there, but doesn't work how it should), please use the [bug issue template](https://github.com/terraform-providers/terra

[2022-10-26 22:50] philip-harvey opened #12890 "google_sql_database_instance deletion_protection flag does not set deletion protection on the CloudSQL instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-27 05:33] sathieu commented on #7462
I've proposed: https://github.com/hashicorp/terraform-provider-google/pull/12892

[2022-10-27 05:48] sathieu commented on #7462
Not the right project. The new PR is at: https://github.com/GoogleCloudPlatform/magic-modules/pull/6746

[2022-10-27 07:34] josedev-union opened #12893 "Datasource for Big Query data set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-27 07:48] drandell commented on #12890
duplicate of - https://github.com/hashicorp/terraform-provider-google/issues/12372

[2022-10-27 08:36] BolajiAkerele2013 commented on #12880
@jcanizalez Please were you able to test this with the #9809  fix?

[2022-10-27 11:18] vbambuch opened #12894 "Support is_publicly_readable in the google_data_catalog_tag_template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-27 12:28] densnoigaskogen opened #12895 "resource "google_service_account_key" public_key_data conflicts with Key_algorithm"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-27 13:58] pwwi opened #12896 "Error creating VpnTunnel Cross project referencing is not allowed for this resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-27 15:00] edwardmedia commented on #12890
Close as a dup

[2022-10-27 15:00] #12890 closed

[2022-10-27 15:36] edwardmedia commented on #12878
@IchordeDionysos this is by design. The `name` is listed as exported in the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/storage_transfer_job#name)

And the the error you received seems clear

[code]

Does this make sense?

[2022-10-27 16:30] oliwilkinsonio opened #12897 "google_firestore_document resource - updating collection/document_id doesn't apply change"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-27 18:11] melinath commented on #10810
the work on this ticket is ongoing. No worries, didn't forget the stream resource :-)

[2022-10-27 18:12] equals215 commented on #10810
@melinath beautiful! If you ever need help on producing some code please ping me, I'd be more than happy to contribute to the gcp provider

[2022-10-27 22:23] edwardmedia commented on #12895
@densnoigaskogen I can't repro the issue. After initial deployment, re-applying the same resource shows `No changes`
What version of the provider do you use? Did you manually do anything before two applies?

[2022-10-27 22:29] edwardmedia commented on #12880
@BolajiAkerele2013 did you ever receive below error? If yes, how did you resolve it?

[code]

[2022-10-27 22:33] edwardmedia commented on #12877
@naimadswdn you have bunch of variables and I don't know what they are. Can you repro the issue with hard-coded config? If yes, please share the hard-coded config.

[2022-10-27 22:37] BolajiAkerele2013 commented on #12880
I configured the location settings on the Dialogflow CX console to europe-west2.

[2022-10-27 22:41] edwardmedia commented on #12871
@mikeperello-scopely did the error occur in the initial apply? Are all these resources in the same project? Any special settings for the network? Can you share the debug log?

[2022-10-27 22:55] edwardmedia commented on #12868
@smaftoul clearly this field is required by the api. if you omit it in the config, the provider set the default `Managed by Terraform` for you. But if you sent it an empty string "", the api rejects. I think this is by design. Does this make sense?

[code]

[2022-10-27 23:00] YounesCoder commented on #12893
You could just retrieve the dataset_id from `outputs `when you create the dataset via `google_bigquery_dataset` ?

[code]

[2022-10-28 07:38] josedev-union commented on #12893
@YounesCoder ofc, we can get dataset_id if we created that via google_bigquery_dataset resource.
But it cannot replace datasource you know.

Typical example is;
How can you get id if you created dataset in other tf workspace? For example, I manage IAM resources in a dedicated workspace and need to bind a role to one dataset. It requires dataset id which is created in other workspace.

[2022-10-28 09:13] ryan-jan opened #12898 "google_monitoring_alert_policy: Error when reading or editing MonitoringAlertPolicy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-28 11:53] sonic1981 opened #12899 "Storage bucket iam bindings fail when uniform_bucket_level_access is true"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-28 12:42] smaftoul commented on #12868
I would have think that the provider must take care of that validating inputs. I want to see things failing during the plan rather than the apply.

[2022-10-28 12:50] sonic1981 commented on #12899
Seems I can't even destroy the resource, I just get the same error

[2022-10-28 13:58] naimadswdn commented on #12877
@edwardmedia hello, thanks for looking into that.
I have updated my original post, so it contains hard-coded values now.

[2022-10-28 15:47] edwardmedia commented on #12899
@sonic1981 below is from the [doc](https://cloud.google.com/storage/docs/uniform-bucket-level-access#enabled) Was that on bucket you were trying to set the IAMs? Do you see it should be allowed?

[code]

[2022-10-28 15:50] sonic1981 commented on #12899
So if I'm reading this right, IF I set `uniform_bucket_level_access = true` I literally can't interact with it using TF? @edwardmedia

[2022-10-28 17:03] edwardmedia commented on #12899
@sonic1981 that is what I understand. And the api seems to do by its design.

Closing this issue now. Feel free to reopen if you see it different

[2022-10-28 17:03] #12899 closed

[2022-10-28 17:05] edwardmedia commented on #12897
@oliwilkinsonio can you share the debug logs for both apply?

[2022-10-28 17:17] chrisndo commented on #11388
Has this fix been implemented? I'm running into a similar issue where no matter what `service_account_email` i provide, it uses the default service account.

[2022-10-28 17:22] edwardmedia commented on #12897
Instead of recreating collection or document, the update (PATCH) appears to resend the same payload

[code]

[2022-10-28 17:38] edwardmedia commented on #12884
@kevinsi4508 Below is what the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigtable_instance#cluster) says. You should be able to reduce the number of cluster to 1, but not to 0. Please let me know what you think.

[code]

[2022-10-28 17:40] melinath opened #12901 "Failing test(s): TestAccTPUNode_tpuNodeFullExample"
Failure rate: 100% since 2022-10-08

Impacted tests:
- TestAccTPUNode_tpuNodeFullExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/348525?buildTab=tests&expandedTest=-182111993426029009

Message:

[code]

Note: this is separate from https://github.com/hashicorp/terraform-provider-google/issues/10222 which is flakey due t

[2022-10-28 17:42] melinath opened #12902 "Failing test(s): Error code 9, message: encountered some transient internal error, please try again later"
Failure rate: 100% since 2022-10-08

Impacted tests:
- TestAccSqlDatabaseInstance_Timezone
- TestAccSqlDatabaseInstance_SqlServerAuditConfig
- TestAccSqlDatabaseInstance_ActiveDirectory
- TestAccSqlDatabaseInstance_withPrivateNetwork_withAllocatedIpRangeClone
- TestAccSqlDatabaseInstance_withPrivateNetwork_withAllocatedIpRangeReplica
- TestAccSqlDatabaseInstance_withPrivateNetwork_withAllocatedIpR

[2022-10-28 17:50] melinath commented on #11502
Still 100% as of today.

[2022-10-28 18:06] melinath commented on #12524
Still 100% as of today.

[2022-10-28 18:09] melinath opened #12903 "Failing test(s): TestAccIdentityPlatformTenant*"
Failure rate: 100% since 2022-10-11

Impacted tests:
- TestAccIdentityPlatformTenant_identityPlatformTenantUpdate
- TestAccIdentityPlatformTenantOauthIdpConfig_identityPlatformTenantOauthIdpConfigUpdate
- TestAccIdentityPlatformTenantOauthIdpConfig_identityPlatformTenantOauthIdpConfigBasicExample
- TestAccIdentityPlatformTenantInboundSamlConfig_identityPlatformTenantInboundSamlConfigUpdate
- TestA

[2022-10-28 18:11] melinath commented on #12903
Duplicate of https://github.com/hashicorp/terraform-provider-google/issues/12789

[2022-10-28 18:11] #12903 closed

[2022-10-28 18:15] boina-n commented on #11346
Any update regarding this issue?
As mentionned above the only solution in order to use the slack channel for me was to copy past in my alert resource the channel name that can be found with the following command:
[code]

[2022-10-28 18:22] melinath opened #12904 "Failing test(s): TestAccHealthcareFhirStore_healthcareFhirStoreNotificationConfigExample"
### Affected Resource(s)

* google_healthcare_fhir_store

Failure rate: 100% since added on 2022-09-27

Impacted tests:
- TestAccHealthcareFhirStore_healthcareFhirStoreNotificationConfigExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/348525?buildTab=tests&expandedTest=5334929892186247633

Message:

[code]

This is like

[2022-10-28 18:25] melinath opened #12905 "Failing test(s): ForceNew permadiff: TestAccDocumentAIProcessorDefaultVersion_documentaiDefaultVersionExample"
### Affected Resource(s)

* google_document_ai_processor_default_version

Failure rate: 100% since 2022-09-13

Impacted tests:
- TestAccDocumentAIProcessorDefaultVersion_documentaiDefaultVersionExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/348525?buildTab=tests&expandedTest=1789998193111564552

Message:

[code]

It l

[2022-10-28 18:27] melinath commented on #12528
Resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/6726

[2022-10-28 18:27] #12528 closed

[2022-10-28 18:27] kevinsi4508 commented on #12884
Thanks Edward! I understand what it means when the cluster list is empty. That is why I mentioned:

I am opened b/255760356 to keep track of this issue. We can leave this issue open for now. Thanks!

[2022-10-28 18:29] melinath opened #12906 "Failing test(s): TestAccDNSManagedZone_dnsManagedZoneQuickstartExample"
### Affected Resource(s)

* google_dns_managed_zone

Failure rate: 100% since 2022-09-24

Impacted tests:
- TestAccDNSManagedZone_dnsManagedZoneQuickstartExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/348525?buildTab=tests&expandedTest=-3604989738191621873

Message:

[code]

Similar issue: https://github.com/hashicorp

[2022-10-28 18:33] melinath commented on #11822
Still 100% as of today.

[2022-10-28 20:40] melinath commented on #11321
Still 100%

[2022-10-28 20:41] melinath commented on #11504
Still 100%

[2022-10-28 20:44] melinath opened #12907 "Failing test(s): TestAccComputeDisk_imageDiffSuppressPublicVendorsFamilyNames"
Failure rate: 100% since 2022-10-23

Impacted tests:
- TestAccComputeDisk_imageDiffSuppressPublicVendorsFamilyNames

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/348525?buildTab=tests&expandedTest=-7980878948564565037

Message:

[code]

Same background as https://github.com/hashicorp/terraform-provider-google/issues/12143

b

[2022-10-28 20:48] melinath opened #12908 "Failing test(s): TestAccCloudFunctions2Function_fullUpdate"
Failure rate: 100% since 2022-09-11

Impacted tests:
- TestAccCloudFunctions2Function_fullUpdate

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/348525?buildTab=tests&expandedTest=-7237469270685448170

Message:

[code]

[2022-10-28 20:55] edwardmedia commented on #12877
@naimadswdn can you assign the `name` to  `reserved_ip_range` as the field expects a `/29` CIDR block? Yes, it is expected that the resource will be forced recreation. This is by [design](https://github.com/hashicorp/terraform-provider-google/blob/main/google/resource_filestore_instance.go#L176). Why do you think it is mutable?

[code]

[code]

[2022-10-28 21:12] melinath opened #12909 "Failing test(s): TestAccCloudBuildTrigger_migration"
Failure rate: 100% since 2022-09-13

Impacted tests:
- TestAccCloudBuildTrigger_migration

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/348525?buildTab=tests&expandedTest=-158133875901843184

Message:

[code]

b/256219374

[2022-10-28 21:22] melinath commented on #12531
Still 100%

[2022-10-28 21:22] melinath commented on #11071
Still 100%

[2022-10-28 21:24] melinath opened #12910 "Failing test(s): Organization has reached maximum number of scoped policies."
### Affected Resource(s)

* google_access_context_manager_access_policy_iam_policy

Failure rate: 100% since 2022-10-21

Impacted tests:
- TestAccAccessContextManagerAccessPolicyIamPolicy

Nightly builds:
-  https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/348525?buildTab=tests&expandedTest=-6957108147711246159

Message:

[code]

[2022-10-28 21:26] melinath opened #12911 "Failing test(s): TestAccDataSourceDnsManagedZone_basic"
### Affected Resource(s)

* google_dns_managed_zone

Failure rate: 100% since 2022-09-29

Impacted tests:
- TestAccDataSourceDnsManagedZone_basic

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/348525?buildTab=tests&expandedTest=1849171833069796537

Message:

[code]

[2022-10-28 21:29] melinath commented on #9999
This was promoted to GA despite failing.

[2022-10-28 21:33] ScottSuarez commented on #12409
There are a couple options to resolve this.

* List -> Set: This is a breaking change, would need to wait for a major release
* Ignore read of the resource. This would make it so terraform state is the only reality terraform is aware of. Updating out of band won't make any difference. Not ideal but this scenario is already broken as is.
* CustomizeDiff to ignore a difference and treat the list as

[2022-10-28 21:43] melinath opened #12912 "Failing test(s): Error waiting for Create Instance // "code": "UNKNOWN""
### Affected Resource(s)

* google_sql_database_instance
* google_sql_ssl_cert
* google_sql_user

Failure rate:
- initially: rare per test
- Nov 2022: TestAccSqlDatabaseInstance_basicClone failed 100% with various error messages.

Impacted tests:
- TestAccSqlDatabaseInstance_createFromBackup
- TestAccSqlDatabaseInstance_backupUpdate
- TestAccSqlDatabaseInstance_cloneWithSettings
- TestAccSqlDataba

[2022-10-28 21:43] melinath commented on #11509
Still 100%

[2022-10-28 23:59] richard-ellison opened #12913 "google_cloudbuild_trigger default non regional location miss match when authenticating repos."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-29 13:26] Rstar1998 commented on #11346
@boina-n Even on the issue tracker , no one is responding. https://issuetracker.google.com/issues/184556867

Strange. Usually Google patches such issues very quickly. I am still wondering that why its taking so much time.

[2022-10-29 19:30] Eraac opened #12914 "google_workflows_workflow_iam_* support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-29 20:35] edwardmedia commented on #12884
b/255760356

[2022-10-30 09:28] ari-becker opened #12915 "`google_service_account_key` - Key not usable immediately after Terraform creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-31 08:47] naimadswdn commented on #12877
@edwardmedia thanks for your response. I do not think this is mutable. Let me explain it in more details.

As you stated, `reserved_ip_range` is expected to be /29 CIDR block, BUT I have provided NAME of the `google_compute_global_address` resource and that works perfectly fine (resource created, no errors, warnings).

So if that works perfectly fine with NAME on the creation, why it screams about

[2022-10-31 12:57] saad-uddin commented on #5688
Hi, am facing the same issue. We need to manually change the cryptokeyversion in the datasource of our tfcode. Its been 2 years since this was reported, is there any solution to this yet ? or any workaround ??

@rvdh @danawillow  @bdelage @topfunky @fd

Thanks in advance.

[2022-10-31 13:34] cdancy commented on #12864
@edwardmedia yeah this worked as expected. I was hoping to have it work in a single pass, as our automation is designed to just "do the happy path" and be done, but this got us moving forward. Thanks!

[2022-10-31 13:34] #12864 closed

[2022-10-31 14:38] lodotek commented on #12011
any progress?

[2022-10-31 15:03] edwardmedia commented on #12915
@ari-becker you are right and I understand what you listed in the situation. I took a look at the code below, and the resource has already implemented the polling logic which waits until the api returns `done`. It is now up to the api whether the key really is available to use, and the provider has no control over that. There are several resources (like several services to be enabled) that share t

[2022-10-31 15:16] edwardmedia commented on #12913
@richard-ellison can you share you config so I can repro? If you use `cloudbuild.yaml`, please share it as well.

[2022-10-31 15:20] edwardmedia commented on #12800
@raihan1khan what exactly you want to achieve? Can you share your config that you have already had?

[2022-10-31 16:05] asaushkin opened #12916 "Dataproc: No options to enable metrics"
### Affected Resource(s)

* google_dataproc_cluster

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do

[2022-10-31 16:46] krishna4ldw commented on #11948
@c2thorn  I am referring to this paramter
 master_config {
      num_instances = 1
}

Details num_instances = 3 is for HA
num_instances = 1 for non HA
Change in no of instances is not rebuilding dataproc cluster

[2022-10-31 16:47] krishna4ldw commented on #12848
@rileykarson @melinath  any update on ETA ?

[2022-10-31 17:06] edwardmedia commented on #12913
@richard-ellison I can't run the [code](https://github.com/hashicorp/terraform-provider-google/issues/12913#issuecomment-1297263988) , which complains `Error 400: Request contains an invalid argument` from the api. I am able to apply below config without hitting an issue which is `europe-west2`.

[code]

[2022-10-31 17:19] edwardmedia commented on #12748
Closing this as there is not much we can do at the provider level

[2022-10-31 17:19] #12748 closed

[2022-10-31 17:20] edwardmedia commented on #12743
@bobdanek is this still an issue?

[2022-10-31 17:21] edwardmedia commented on #12774
@dgnemo is this still an issue?

[2022-10-31 17:23] edwardmedia commented on #12589
@sirius-ed-hammond is this still an issue?

[2022-10-31 17:25] edwardmedia commented on #12613
Closing this assuming it is no longer an issue

[2022-10-31 17:25] #12613 closed

[2022-10-31 17:38] #12914 closed

[2022-10-31 17:48] melinath commented on #12893
duplicate of https://github.com/hashicorp/terraform-provider-google/issues/5693

[2022-10-31 17:48] #12893 closed, assigned to nobody

[2022-10-31 17:50] melinath commented on #12882
It looks like the project should always be the same as what is in the secret's id, so providing a project separately likely doesn't make sense.

[2022-10-31 17:50] #12882 closed

[2022-10-31 17:51] Eraac commented on #12914
@melinath I think this resource supports IAM. From the console, there is "permissions" tab when you go on one workflow

tab:
<img width="941" alt="image" src="https://user-images.githubusercontent.com/5497623/199075038-62b96bcf-b6f1-4c15-87e0-9d065390fa24.png">

grant access button:
<img width="517" alt="image" src="https://user-images.githubusercontent.com/5497623/199075249-4c5de5e4-c4a4-4a48-88e

[2022-10-31 17:55] melinath commented on #12869
The best workaround here is to use string interpolation to combine the domain with the `id` field of the resource. (A self_link field would contain the same as `id`.) We should document this better.

[2022-10-31 19:51] edwardmedia commented on #12878
Closing this as it is by design

[2022-10-31 19:51] #12878 closed

[2022-10-31 19:55] edwardmedia commented on #12877
@naimadswdn could you please share the debug log? I'd like to review the api requests and responses.

[code]

[2022-10-31 21:15] msahu-onramp opened #12917 "Google provider latest version 4.42.0 is crashing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-31 21:21] richard-ellison commented on #12913
looks like that 400 error is the service account, I have just created a project from scratch with a fresh terraform file as per the below:

[code]

This gets me the 400 error:

[2022-10-31 21:23] slevenick commented on #12799
Fixed via https://github.com/GoogleCloudPlatform/magic-modules/pull/6661

[2022-10-31 21:23] #12799 closed

[2022-10-31 21:37] philip-harvey commented on #12917
The plugin.(*GRPCProvider).UpgradeResourceState request was cancelled.
╵

Stack trace from the terraform-provider-google_v4.42.0_x5.exe plugin:

panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x0 pc=0x2ecb605]

[2022-10-31 21:49] richard-ellison commented on #12913
@edwardmedia

again not the issue I was bringing it up but the 400 error you got with my original code above was due to the format of the serivce account string.

Above I had this:
"serviceAccount:dev-key@live-personal-pa-leaderboard.iam.gserviceaccount.com"

What it needed was this
"projects/terra-test-367220/serviceAccounts/terra-test@terra-test-367220.iam.gserviceaccount.com"

Hope this and the

[2022-10-31 22:08] SarahFrench commented on #12751
I took a quick look at this problem and I wanted to share what I learned:

The release process owned by HashiCorp expects there to be an artifact, containing the release notes for a given release, uploaded to the repo containing the provider. [This is the section of the GHA workflow for this repo](https://github.com/hashicorp/terraform-provider-google/blob/3458a7ff3f69bd3a5402c844b40e5b80e0c54c83/

[2022-10-31 22:39] shuyama1 commented on #12917
@msahu-onramp Thanks for filing the issue. Would you mind sharing your config and debug logs so that I can take a look and reproduce the error? Thanks!

[2022-10-31 22:45] joe-a-t commented on #12917
We are seeing this issue too in all kinds of root modules, pretty much everywhere we are using 4.42.0 is crashing right now. We are trying to reproduce as something sharable

[2022-10-31 22:48] Zamyatin commented on #12917
Can confirm same error with cascading

[code]

Stack Trace:
[code]

[2022-10-31 22:56] joe-a-t commented on #12917
So far, I have seen the issue with the following resources:

- google_storage_bucket
- google_storage_bucket_iam_member
- google_organization_iam_member
- google_service_account_iam_member
- google_service_account
- google_project_service
- google_compute_subnetwork
- google_compute_global_address
- google_compute_firewall
- google_compute_router

There doesn't appear to be any consistency with it

[2022-10-31 23:07] SarahFrench commented on #12751
This solution seems hacky and still has the previous problem of needing to reliably discover the previous version tag

[code]

[2022-10-31 23:10] shuyama1 commented on #12917
Thanks for the feedback! Can anyone please share a Terraform configuration file that run into this issue?

[2022-10-31 23:40] joe-a-t commented on #12917
Found a way to reproduce it with the following config:
[code]
Steps:

1. Init and apply to create the bucket with version `4.37.0` (or lower)
2. change the google provider version to `4.42.0` and re-init
3. receive
[code]

[2022-10-31 23:52] shuyama1 commented on #12917
Thanks @joe-a-t! I'm able to reproduce the error. I was trying creating the bucket with version `4.41.0` and then upgrading to `4.42.0`, and it seems fine. Now I can confirm that creating with provider version `4.37.0` and upgrading to `4.42.0` causes the provider to crash. Thanks for providing the config! Working on a fix now!

[2022-10-31 23:53] joe-a-t commented on #12917
yeah, real fun one to reproduce, I had to go down to 3.90.0 then hop my way up to get the magic version number

[2022-10-31 23:56] bobdanek commented on #12743
Yes, still an issue. I can't reproduce exactly how the production resource I'm working with got into this state, but in a testing environment with the policy in my initial comment, I can reproduce it by:
1. enabling `layer_7_ddos_defense_config` (`enable = true`) and applying (exactly like in the example terraform in https://github.com/hashicorp/terraform-provider-google/issues/11647)
2. changing

[2022-11-01 07:40] BolajiAkerele2013 commented on #12880
@shuyama1 please this is still pending for your review.

[2022-11-01 10:48] visolon opened #12918 "Add CostManagementConfig to google_container_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-01 11:51] ari-becker commented on #12915
@edwardmedia I appreciate that this provider can't fix the shortcomings in the upstream GCP API. Couldn't the provider attempt to authenticate to GCP (i.e. getting an identity token) using the provided key, and repeat such attempts until success or timeout? Essentially, moving the polling from downstream providers (each of which rediscover this need) into the GCP provider. After successfully authe

[2022-11-01 12:59] spideyz0r commented on #12917
Similar issue here. Pinning the provider to 4.41.0 makes it work.

Error during terraform plan:

[code]

[2022-11-01 13:40] edge7 opened #12919 "GKE cluster pubsub notification - Composer2"
Hello,

we are currently using Composer2 which under the hood creates a GKE Cluster.
In the GKE cluster there is the following option
![image](https://user-images.githubusercontent.com/5433786/199246705-a6441a2c-cdb4-4610-a422-ab00e1729c9c.png)
i.e.:
Notifications for upgrades.

Is possible to modify such an option through the Composer2 Terraform module?

[2022-11-01 14:41] bmistry12 commented on #11303
Jumping on this issue - facing the same issue with two different APIs (but others work fine with the same terraform config). Seems to also vary from project to project. For some projects, I am able to enable the same set of APIs with no issues despite having the same IAM permissions across the board. Error log for the Places API:
[code]

[2022-11-01 17:30] joe-a-t opened #12921 "Create data source `google_pubsub_project_service_account`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-01 17:47] #12751 closed

[2022-11-01 17:57] ironf1st commented on #11683
I ran into something similar on a multi-zone GKE cluster and thought it was a bug too. All I had to do was set the `location` to the region and the lookup worked. These lookups silently failing per #12873  does not help troubleshooting this at all.

[2022-11-01 18:41] #12917 closed

[2022-11-01 18:43] philip-harvey commented on #12917
Will there be a release with this fix in it?

[2022-11-01 18:47] tylerg-dev commented on #8293
FYI: Android App is available in the google-beta provider now: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/firebase_android_app

[2022-11-01 18:49] shuyama1 commented on #12917
The fix just got merged and will be targeting the next release 4.43.0 (potentially next Monday). Pinning the provider to version 4.41.0 should prevent from crashing for now.

[2022-11-01 18:59] joe-a-t commented on #12917
Any way we could do a 4.42.1 or something in the next day since this is a crash?

[2022-11-01 19:24] #12482 closed

[2022-11-01 20:03] paulspiegel commented on #12917
Thank you for the quick fix @shuyama1!  I'll second what joe commented.  This is causing widespread crashes for us so a quicker release would be much appreciated.

[2022-11-01 21:50] jketcham commented on #11385
🙌 This really should be made more clear in the docs, adding an example would be great.

When I set this up with provider version `4.42.0`, **I only needed to add the annotation to the `template` block**, and it returned with an error when I tried to add it to the top level `metadata.annotations` for the cloud run service itself.

[2022-11-01 22:00] yamin-oanda commented on #12917
@joe-a-t @paulspiegel
I believe shuyama mentioned above that you can immediately fix the crashes for now by pinning to 4.41.0

[2022-11-01 23:00] DXCanas opened #12925 "Cloudbuild Trigger's Pubsub Config State Should Reflect Values Returned by API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-02 00:07] shuyama1 commented on #12917
Preparing `4.42.1` release and running some tests now. If no errors occur in the tests, we'll hopefully get it released by tomorrow.

[2022-11-02 05:41] AlfatahB commented on #12719
Currently, Terraform Provider Beta is using [GA API](https://cloud.google.com/tasks/docs/reference/rest/v2/projects.locations.queues) for `cloudtasks` [product](https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/products/cloudtasks/api.yaml). As we want to add support for `tombstone_ttl` field which is a beta-only field, we need to use [Beta API](https://cloud.google.com/tasks/doc

[2022-11-02 08:16] mikeperello-scopely commented on #12871
Hi @edwardmedia
The problem was with the `host` argument trying to modify a Postgres DB. Removing this argument I've been able to create the user without problems.

[2022-11-02 08:20] mr-pascal commented on #10622
@Sytten
same here.
it was fine using the `"hashicorp/google"` provider with version `~=3.90.1`, but when changed to `>=3.90.1` it just broke with the above error and is completely blocking some of our deployments.

[2022-11-02 11:16] wmuizelaar opened #12927 "Feature request: google_access_context_manager_service_perimeter_ingress_policy and google_access_context_manager_service_perimeter_egress_policy resources"
### Affected Resource(s)

* google_access_context_manager_service_perimeter_ingress_policy
* google_access_context_manager_service_perimeter_egress_policy

Hi,

I filed https://github.com/GoogleCloudPlatform/k8s-config-connector/issues/727 to add more granular support for dealing with VPC SC resources. This includes separate resources for ingress policies and egress policies, following the same pa

[2022-11-02 11:18] naimadswdn commented on #12877
Hello @edwardmedia

Debug logs uploaded here: https://gist.github.com/naimadswdn/f5fc83b0c94c93826d7bbc01024c3a0c
I have replaced project name with XXX.

There are two files. One is from `terraform apply` command, that creates all resources, second file is output from `terraform plan` command, showing that terraform want to replace filestore instance, just after it correct creation.

I have also e

[2022-11-02 12:45] gorecki-k commented on #12880
@edwardmedia
The problem is the verification of the status of creating version operation.
Create request is made properly to the regional endpoint (Host property) and the version is successfully created, but verification fails as is made to the global endpoint. Pleas check the `debug` output below.

Creation request
[code]
Check the operation status request
[code]

[2022-11-02 14:58] AlfatahB commented on #12485
@shuyama1 Any updates regarding this?

[2022-11-02 15:24] bahag-klickst commented on #12299
Any updates on this issue?

[2022-11-02 16:06] philippeboyd commented on #12235
@megan07 I get a similar error with the latest `v4.42` reverting back to `v4.41` works

[code]

[2022-11-02 16:25] edwardmedia commented on #12925
@DXCanas can you share your debug log so we can take a look if `state` is available. Below is the block I see that is returned from the API.

[code]

[2022-11-02 16:40] edwardmedia commented on #12915
@ari-becker Thanks for the suggestions, but I think that seems to be off the pattern. Each individual resource cloud behavior differently. The provider offers a layer to call each API. To make all things together, you might need to use other available tools. `Sleep` is the one, and it is common to be used for such cases. You may want to file an [enhancement](https://github.com/hashicorp/terraform-

[2022-11-02 16:40] #12915 closed

[2022-11-02 16:45] melinath opened #12928 "Datasource for datastream static IPs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-02 16:49] shuyama1 commented on #12880
Thanks for the ping! This is on my review list and will get to it soon!

[2022-11-02 17:18] edwardmedia commented on #12913
@richard-ellison I can repro the issue you were experiencing. But I think there is a manual step that you need to do with the link between gcp and github. Here is the [doc](https://cloud.google.com/build/docs/automating-builds/github/connect-repo-github) that might be helpful. I can't see a way that using Terraform can automatically bypass that step.

[code]

Here is one [discussion](https://discu

[2022-11-02 17:34] jketcham commented on #9438
Just ran into this myself. I think making `autogenerate_revision_name = true` the default behavior makes sense, but if that doesn't happen, I think presenting some sort of error message makes sense, because currently terraform would just hang on `Still modifying...` forever.

[2022-11-02 18:34] edwardmedia commented on #12877
@naimadswdn thank you for the details. I can repro the issue. Unfortunately, there is not a fixable solution at the provider level. Basically the provider sends the name of IP and the api returns CIDR which causing the permdiff. I am reaching out to the upstream API team to see if they can fix it on their side.

[2022-11-02 18:41] DXCanas commented on #12925
Hm, seems you're right — I'm also not seeing it in the debug logs, despite the fact that I've deleted the corresponding subscription (so it should be `"state":"SUBSCRIPTION_DELETED"` in theory):

[code]

Curious, though, [as the API documents that `state` _should_ be populated on `GET`](https://cloud.google.com/build/docs/api/reference/rest/v1/projects.locations.triggers#state):

But I'm not even

[2022-11-02 18:45] edwardmedia commented on #12877
b/257089398

[2022-11-02 18:48] richard-ellison commented on #12913
Hi @edwardmedia

Sorry your throwing me, when your tried to reproduce did you try performing the manual strap in the wrong location as per the first set of screen shots. Or are you just indicating that you had to perform the manual authentication?

From reading that discussion the complaint seems to be that manual intervention was needed. I get that manual intervention is needed and the error mess

[2022-11-02 18:53] edwardmedia commented on #12925
@DXCanas I can't explain what the API doc mean you referred to. You may reach out to the related teams to see if you can get the details. Based on what in the response from the api, it appears we are unable to make `state` available at this moment. Does this make sense? Closing the issue now. Feel free to reopen if you have further info to make it possible. Thanks

[code]

[2022-11-02 18:53] #12925 closed

[2022-11-02 19:03] ffeldhaus opened #12931 "Documentation lists google_document_ai_processor and google_document_ai_processor_default_version under Essential Contacts"
The [Terraform documentation for the Google provider](https://registry.terraform.io/providers/hashicorp/google/latest/docs) wrongly lists the [`google_document_ai_processor`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/document_ai_processor) and [`google_document_ai_processor_default_version`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/r

[2022-11-02 19:03] edwardmedia commented on #12913
@richard-ellison I think your issue is the link in below api message. That link needs to include the `location` so it could lead to the right screen. Am I right?

[code]

[2022-11-02 19:07] richard-ellison commented on #12913
@edwardmedia that's the one.

I have checked and when you manually navigate to the correct location it does add the location to the URL. So the terraform error message could in theory be adjusted to take that into account.

Cheers
Rich

[2022-11-02 19:11] edwardmedia commented on #12913
@richard-ellison can you try below link? Does it land to the right location for you? If this is the case, unfortunately there is not much we can do at the provider level because the api owns that message. The provider has provided all they ask. I will raise an issue against the API to see if they can help. Does this make sense?

https://console.cloud.google.com/cloud-build/triggers/connect?project

[2022-11-02 19:26] edwardmedia commented on #12913
b/257096334

[2022-11-02 19:43] DXCanas opened #12932 "Data Source for PubSub Subscriptions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-02 19:46] richard-ellison commented on #12913
Oh that's interesting, can't test that link I already burned that project. On my phone right now will check when back at a machine and revive the project.

Only other thing might be to pass a different error message string or is that also upstream?

Thanks for looking into this and pushing it upstream.

Rich

[2022-11-02 19:47] ar-qun opened #12933 "google_container_registry returns wrongly formatted bucket name on the id argument"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-03 00:24] jeremiahbowen commented on #10903
This is a feature of the provider and the project_iam_binding module. In authoritative mode, it removes any additions to the specified role. You just have to add the "Google-managed service accounts" to your terraform specification for those roles.

[2022-11-03 01:09] philippeboyd commented on #12235
Newly released [v4.42.1](https://github.com/hashicorp/terraform-provider-google/releases/tag/v4.42.1) fixes the issue 👏

[2022-11-03 06:34] eduardchai opened #12934 "Add `disabled` option for `google_service_account_key`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-03 06:42] danistrebel opened #12935 "Set Apigee hybrid Synchronizer Auth"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-03 06:47] danistrebel opened #12936 "Set Apigee Addons"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-03 07:37] shuyama1 commented on #12917
`4.42.1` is out! Please let me know if the error still occurs.

[2022-11-03 08:42] manu-crealytics opened #12937 "Support setting `decimalTargetTypes` in BigQuery external tables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-03 09:13] eblaauw opened #12938 "google_data_loss_prevention_job_trigger -> big_query_options is missing rows_limit for sampling"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-03 09:18] edzotalabat commented on #12938
It's missing here, I can see: https://github.com/hashicorp/terraform-provider-google/blob/bdd7769bb6c982101c8adb65336d5646efd53979/google/resource_data_loss_prevention_job_trigger.go#L196-L230

[2022-11-03 12:54] birdx0810 opened #12939 "Why is `google_cloud_run_service` tainted?"
as the title suggests, the `google_cloud_run_service` is tainted, and would destroy and re-create a new one every time `terraform apply` is made. What are the reasons and if they are valid, are there better workarounds other than untaint?

[2022-11-03 13:15] aagakhar opened #12940 "GCP provider upgrade for terraform destroys the resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-03 14:12] ianonavy opened #12941 "Gracefully handle soft deletes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-03 14:39] papqin opened #12942 "Documentation Page not loading - affecting multiple providers/resources."
Documentation Link
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_region_instance_group_manager

Description
Sites are not loading the docs.

References
No response

Would you like to implement a fix?
No response

[2022-11-03 14:57] #12941 closed

[2022-11-03 14:58] RiccardoGrigoletto commented on #12942
Same here: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/artifact_registry_repository

[2022-11-03 15:02] edwardmedia commented on #12940
@aagakhar can you share your config?

[2022-11-03 15:03] edwardmedia commented on #12939
@birdx0810 it shouldn't. Can you share your config so I can repro?

[2022-11-03 15:03] msampathkumar commented on #12942
same here: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/os_config_patch_deployment

Thanks for the note @SarahFrench

[2022-11-03 15:24] edwardmedia commented on #12938
This is not a bug. Changing label to `enhancement`

[2022-11-03 16:12] #12942 closed

[2022-11-03 16:19] linus commented on #2926
We have this same issue. The workaround seems to work (though we get a cycle if specifying the backend service directly, since they will refer to each other). It feels bad though. Looking at the magic-modules repository, it seems like the `id` we want is exported:

https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/products/compute/api.yaml#L1415-L1418

However, the docs state oth

[2022-11-03 17:04] edwardmedia commented on #12919
@edge7 take a look at below available environment config of the api, it seems not possible right now. Once the api open the features, you may file enhancements for Terraform support request

https://cloud.google.com/composer/docs/reference/rest/v1/projects.locations.environments#Environment

[2022-11-03 17:04] #12919 closed

[2022-11-03 17:07] edwardmedia commented on #12589
@sirius-ed-hammond closing this now assuming it is no longer an issue. Feel free to reopen if you want to continue the discussion

[2022-11-03 17:07] #12589 closed

[2022-11-03 17:09] edwardmedia commented on #12774
@dgnemo closing this assuming it is no longer an issue

[2022-11-03 18:15] gericdong opened #12944 "google_vertex_ai_endpoint: Cannot determine region"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-03 20:10] xinyusun1997 commented on #7811
Hi, is there any update on this issue?

[2022-11-03 20:38] Wallace99 commented on #12938
There is an open PR to add these https://github.com/GoogleCloudPlatform/magic-modules/pull/6749

[2022-11-03 20:43] Wallace99 commented on #11803
This would be great, but currently there is no way of achieving this through the DLP REST api (as far as I can see) so it is probably still a while off before it can be added to Terraform
https://cloud.google.com/dlp/docs/reference/rest

[2022-11-03 21:06] eblaauw commented on #12938
That’s fantastic — thank you @Wallace99. I’ll add myself as a watcher and close this issue once it’s merged. Happy to assist where needed.

[2022-11-03 23:59] edwardmedia commented on #12944
This is a bug. This happens when `region` and `location` does not match.

[VertexAIBasePath](https://github.com/hashicorp/terraform-provider-google/blob/main/google/resource_vertex_ai_endpoint.go#L330) contains {{region}}

[2022-11-04 01:01] guid1984 commented on #12935
This is much needed feature as we can't call Google apis from our on premises pipeline

[2022-11-04 03:36] yangdongying opened #12946 "google_dialogflow_cx_flow is not support "payload" message of fulfillment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-04 08:34] glerchundi commented on #10835
The issue you referenced is for uploading resources in binary and apart from that, correct me if I'm wrong, @melinath said that the feature request is for getting the object content as binary by adding a new `content_base64` property to the data source.

[2022-11-04 10:51] #12918 closed

[2022-11-04 11:35] Jubblin commented on #6782
I have exactly the same issue when executing from a mac

[2022-11-04 12:56] aagakhar commented on #12940
Hi Edward,
PFA. Please let me know if you are expecting the same and any further information.
[config files.zip](https://github.com/hashicorp/terraform-provider-google/files/9938379/config.files.zip)

[2022-11-04 13:56] #12886 closed

[2022-11-04 14:44] #12868 closed

[2022-11-04 16:30] maguro commented on #12769
I'd like to take a crack at this this weekend, if nobody minds.

[2022-11-04 16:39] edwardmedia commented on #12776
@natedogith1 because you chose to update the `machine_type`, the apply will first stop the instance and then apply the changes. Ideally the process will restart the instance once the changes are applied. But in your case, it fails in restarting the instance because of below reason. This is controlled by API. Does this make sense?

[code]

[2022-11-04 16:41] edwardmedia commented on #12739
@McFacePunch should we leave this issue open?

[2022-11-04 17:25] edwardmedia commented on #12743
I can see the issue now. But I doubt there is a viable solution at this moment. Basically below payload is sent to the api for the update. But there is no good way to communicate with the api for removing the block from the config.

[code]

[2022-11-04 17:29] edwardmedia commented on #12782
@PaulGWatson should we leave the issue open?

[2022-11-04 17:30] edwardmedia commented on #12800
@raihan1khan closing this now assuming it is no longer an issue

[2022-11-04 17:30] #12800 closed

[2022-11-04 17:59] edwardmedia commented on #12839
@chase-replicated from the log you provided, it appears a bug in the provider. There are multiple changes in `google_storage_bucket` since v4.37.0. Are you able to repro the issue in the latest version?

[2022-11-04 18:20] natedogith1 commented on #12776
That is the bug.  I'm not providing metadata.startup-script, I'm only providing metadata_startup_script.

[2022-11-04 18:40] ar-qun commented on #12933
I have updated to the newer version of Terraform and google provider and the issue is gone:

![Screenshot 2022-11-04 193932](https://user-images.githubusercontent.com/17101722/200051145-d5294d9e-2ef9-41a8-9a50-df7c2f95538b.jpg)

[2022-11-04 18:40] #12933 closed

[2022-11-04 18:43] ar-qun commented on #12933
The example I provided would've been better with an output. This error was caused by the example but by the related code.

[2022-11-04 19:18] #12513 closed

[2022-11-04 19:58] edwardmedia commented on #12871
@mikeperello-scopely glad you have figured this out. Happily close this issue then

[2022-11-04 19:58] #12871 closed

[2022-11-04 20:34] maroux opened #12952 "Add resource_manager_tags to google_compute_instance_template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-04 20:56] caveman8fb commented on #12879
Looks like this PR would resolve it, if it ever gets reviewed
https://github.com/GoogleCloudPlatform/magic-modules/pull/6712

[2022-11-04 22:19] krishna4ldw commented on #12848
@rileykarson  , @melinath  Can you provide ETA when we can expect this feature . We definitely need metric arguments soon as dataproc product team informed one of the monitoring property is deprecated we need to port over to metric arguments please prioritize.

[2022-11-05 12:46] radureau commented on #6518
Hello, I have the same issue.
[code]

It only happens on Windows.
[code]

I think that the lines of code are
https://github.com/hashicorp/terraform-provider-google/blob/3fafbdf0fb11b09636c2864f953a71ab07492bff/google/resource_bigquery_dataset.go#L831
https://github.com/hashicorp/terraform-provider-google/blob/3fafbdf0fb11b09636c2864f953a71ab07492bff/google/utils.go#L315

I wonder if `strconv.Parse

[2022-11-05 17:36] maguro commented on #11573
jfyi, this is needed to transliterate the article "[Accessing private Google Kubernetes Engine clusters with Cloud Build private pools](https://cloud.google.com/architecture/accessing-private-gke-clusters-with-cloud-build-private-pools)" into Terraform.

[2022-11-06 15:12] edwardsPaul421 commented on #10185
@c2thorn @sasemb Is anybody working on fixing this issue?

[2022-11-07 02:41] #10086 closed

[2022-11-07 08:08] janhicken opened #12954 "Support gRPC probes for `google_cloud_run_service`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-07 16:19] rainshen49 opened #12955 "Support Firebase Hosting"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-07 18:24] #10100 closed

[2022-11-07 18:41] rileykarson commented on #12936
Note: This likely makes the most sense as a property of google_apigee_organization given the shape of the API! If it isn't returned in GET, we could consider a separate resource like google_apigeee_organization_addons

[2022-11-07 18:45] rileykarson commented on #12921
Does https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/project_service_identity work? It's a generic resource that works across most APIs, and obsoletes the need for service-specific methods.

[2022-11-07 18:47] #11083 closed

[2022-11-07 18:50] joe-a-t commented on #12193
@shuyama1 could we re-open this to do the same for https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/project_service_identity?

[2022-11-07 18:51] natedogith1 commented on #12692
I've done a couple more tests.  It looks like terraform is sorting the disks alphabetically.  Adding a disk causes those that come after it in the order to be detached and re-attached.  Removing disks in the middle of the ordering only affects the removed disk.

[2022-11-07 18:56] c2thorn commented on #12746
Hi @Aracki,
This does not seem possible via the API at this time: https://cloud.google.com/anthos/clusters/docs/multi-cloud/reference/rest/v1/AwsVolumeTemplate
If there is alternative way to do this, please let me know.

[2022-11-07 18:56] #12746 closed

[2022-11-07 19:08] bschaatsbergen commented on #12879
PR is merged 👍🏼

[2022-11-07 19:10] cjac commented on #12916
https://github.com/GoogleCloudPlatform/magic-modules/pull/6788

[2022-11-07 19:49] #12907 closed

[2022-11-07 21:17] enku-io opened #12963 "Creating a Vertex AI Endpoint with a name other than a number will result in 400 error."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-07 21:24] mattalbr commented on #9921
FWIW, calling this an "enhancement" seems disingenuous to me. I think an accurate description of the bug would be
"google_cloud_logging loses historical data upon adding new labels".

[2022-11-07 21:28] edwardmedia commented on #12963
https://github.com/hashicorp/terraform-provider-google/issues/12944

[2022-11-07 21:42] mattalbr opened #12964 "google_logging_metric create fails if missing bucket_options.exponential_buckets.num_finite_buckets"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-07 22:12] ghabian commented on #12765
note on mentioned PR, it will only add support for policies. I'll create PRs later for rules and associations to break it up for reviewers.

[2022-11-07 23:08] tomasgareau opened #12966 "node_config tags shouldn't cause diffs on ordering change"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-08 00:19] edwardmedia commented on #12963
@enku-io below is what the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/vertex_ai_endpoint#name) specify. Looks like this is by design

[name](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/vertex_ai_endpoint#name) - (Required) The resource name of the Endpoint. The name must be numeric with no leading zeros and can be at most

[2022-11-08 00:21] tpryan opened #12968 "Intermittent destroy behavior with google_sql_database"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-08 00:34] tpryan commented on #12968
Looking into fixing with a PR.

It looks like this feature is implemented very simply in google_sql_user

In the definition of the resource:
[code]

And then in delete method:

[code]

But this provider is created using [Magic Modules](https://github.com/GoogleCloudPlatform/magic-modules/tree/main/mmv1), so the way to fix it there is not clear to me yet.

[2022-11-08 01:14] ace-n opened #12970 "Artifact Registry: warn about `gcr.io` redirection if creating a `gcr.io` repo"
### Terraform Version
[code]

### Affected Resource(s)

* google_artifact_registry_repository

### Issue Description

To map an Artifact Registry repository to a `gcr.io` domain, one must do _both_ of the following:
1) [Enable redirection of gcr.io traffic](https://cloud.google.com/artifact-registry/docs/transition/setup-gcr-repo#redirect-enable).
2) Set the `google_artifact_registry_repository.re

[2022-11-08 01:14] ace-n opened #12971 "Cloud Build: specify which permission is missing"
### Terraform Version
[code]

### Affected Resource(s)

* google_cloudbuild_trigger

### Issue Description

If Terraform tries to create a Cloud Build trigger without permissions to do so, it results in a message like this:

[code]

This message is missing three important pieces of information:
1) **Which IAM role** does Terraform need?
2) **What IAM principal** is Terraform acting as?
3) **Which

[2022-11-08 01:40] ace-n opened #12972 "Terraform permissions errors don't state the IAM principal Terraform is acting as"
### Terraform Version
[code]

### Affected Resource(s)

**Among others:**
* google_container_registry

### Issue Description

If Terraform doesn't have permissions to create a resource, it prints the following:

[code]

This does **not** tell me what IAM principal (user or [Service Account](https://cloud.google.com/iam/docs/service-accounts)) Terraform was acting as.

That information would help u

[2022-11-08 03:24] #12735 closed

[2022-11-08 05:06] krishnakanth810 commented on #12917
I had same issue with Cloud Run, Cloud Functions and Spanner database.

can any one help me on this?

[2022-11-08 07:01] krishnakanth810 opened #12974 "The terraform-provider-google_v4.43.0_x5 plugin crashed!"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-08 07:18] IchiruTake opened #12975 "[Documentation] arg::timezone does not work as correct on documentation on TF Google 4.42.0, 4.42.1, 4.43+"
According to the test applied on this file [1], the `arg::time_zone` belongs to the block `settings` but not `setting.sql_server_audit_config` block. The misleading placement are found under the documentation from Terraform Google 4.42.0, 4.42.1, and 4.43. I expected this misplacement may come from the portal of Cloud SQL::Create_Instance.
I have re-check the creation and the testing (followed by

[2022-11-08 08:13] Bakhtiyar-Garashov opened #12976 "Cloud Scheduler Timezone doesn't take effect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-08 08:15] #12976 closed

[2022-11-08 08:18] shuyama1 commented on #12917
@krishnakanth810 Would you mind filing a new issue with the Terraform configs that run into the error as well as the debug logs? Thank you!

[2022-11-08 14:37] edwardmedia commented on #12970
@ace-n I am not sure what the issue here. I have tried creating the resources for  `gcr.io` and `eu.gcr.io`, all seem fine. What WARNING message do you suggest, and where / when should the message be provided? I noticed you choose `--auto-approve'. shouldn't the plan play that role that shows what will be creating?

[2022-11-08 15:03] edwardmedia commented on #12971
@ace-n you have filed below issue as well. The error you received was from the API. I guess it is hard for the provider to offer the details beyond that. Does that make sense?

https://github.com/hashicorp/terraform-provider-google/issues/12972

[code]

[2022-11-08 15:15] #8288 closed

[2022-11-08 15:40] philip-harvey commented on #12917
@krishnakanth810  have you upgraded to provider 4.42.1?

[2022-11-08 16:09] megan07 commented on #12974
Hi @krishnakanth810 , I'm sorry that you're running into this issue! Would you please show me what your configuration looks like? Specifically if you're defining a list of ddls. It looks like there is a problem there. Thanks!

[2022-11-08 17:41] #11501 closed

[2022-11-08 18:13] ace-n commented on #12970
I'm arguing that anything ending in `gcr.io` is a "special value". These values should remind users that:

(Maybe this could be part of the `plan` stage?)

[2022-11-08 18:19] ace-n commented on #12972
@edwardmedia thanks - yes, I'm aware of those concepts.

My issue with Terraform is that figuring out _which_ account I'm acting as is difficult. Specifically, I tried running Terraform with my default `gcloud` setup - it didn't work due to auth errors that I couldn't easily debug.

(Ultimately I used a service account and specified a `GOOGLE_APPLICATION_CREDENTIALS` variable. But that feels like

[2022-11-08 18:29] ace-n commented on #12971
@edwardmedia hmm - I was wondering if this was an API issue!

Is this something I should file (internally) against the API team, or would y'all be able to forward _this issue_ to them?

[2022-11-08 19:45] edwardmedia commented on #12964
Looks like `num_finite_buckets`, `growth_factor` and `scale` are all required. Currently `AtLeastOneOf` is applied on them. Has the API updated their rule?

`bucket_options.0.linear_buckets` could share the same rule.

[2022-11-08 19:50] megan07 commented on #12964
Unfortunately, making these all required would be a breaking change. I'll mark this as such and we'll consider it for the next major release. Sorry about that!

[2022-11-08 19:55] mattalbr commented on #12964
Megan, to be clear, do you mean changing this to be required would be a breaking change? I think the intended, and documented, behavior is to be optional, but as it stands they are currently defacto required by code

[2022-11-08 21:31] #12527 closed

[2022-11-08 21:41] edwardmedia commented on #12964
@mattalbr currently you see the error when you apply the config. With the proposed change, it will be in the plan.

[2022-11-08 21:45] mattalbr commented on #12964
Got it! Huge fan of any validation errors going from apply -> plan, that's one of my biggest frustrations with some of the google/hashicorp integration points and would make the developer experience way better.

If we've decided that having them required is indeed the intended behavior though, would be great to at least update the documentation regardless of where the error happens.

[2022-11-08 22:41] edwardmedia commented on #12776
@natedogith1 the provider re-organizes the payload. It converts `metadata_startup_script` to `metadata.startup-script`. Can you share your debug log? We can review it if that is the case.

[2022-11-09 00:51] #12931 closed

[2022-11-09 02:10] Jberlinsky opened #12986 "Enable L4 ILB Subsetting Functionality in non-Beta Provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-09 03:00] krishnakanth810 commented on #12974
resource "google_spanner_database" "spanner_database" {
  instance = google_spanner_instance.spanner_instance.name
  project = var.project

  for_each = {

     for database in var.databases : database.name => database

	 }

  name     = each.value.name
  version_retention_period = var.version_retention_period
  deletion_protection = lookup(each.value, "deletion_protection", false)
  ddl = lookup(

[2022-11-09 09:27] IchiruTake commented on #12975
@edwardmedia According to the difference between the documentation and the test, not only the argument's name is incorrect, but also the argument position as well, which is supposed to be in the settings block not the settings.sql_server_audit_config.
But according to the GCP portal, this field is set when creating SQL Server only. This should be fixed

[2022-11-09 09:41] tim-cts commented on #10431
I've also encountered this issue both using the terraform CDK and Terraform.

**Terraform v1.3.3**
**hashicorp/google v4.39.0**

[code]

I've put a depends on in my code so that the CDK manifest file contains the following entry:
[code]

[2022-11-09 10:33] kawych commented on #11588
I'm happy to take this. Another performance-related feature I'd like to add is network_performance_configs section with total_egress_bandwidth_tier (TIER1 or TIER_UNSPECIFIED).

[2022-11-09 13:22] natedogith1 commented on #12776
Here's the results of the tests I did TF_LOG=DEBUG.  There's probably a bunch of extra irrelevant data, since there were other terraform files in the folder that weren't changed.
This one has the error: [metadata_fail_trimmed.log](https://github.com/hashicorp/terraform-provider-google/files/9971405/metadata_fail_trimmed.log)
This one, for comparison, had the VM stopped before the apply was run: [m

[2022-11-09 14:29] DMNRabeda commented on #12974
Hey,

my team is struggling with the same issue. Our **Cloud Function** resource blocks are affected by this issue.

Except the error message **"Error: The terraform-provider-google_v4.43.0_x5 plugin crashed!"** we got the information that

[code]
My assumption is that we can't do much now. Is there any ETA for a potential bug fix?

[2022-11-09 14:30] mr-pascal commented on #10589
@zimbatm
thanks for answering this issue.

I have the same issue with the ` "run.googleapis.com/launch-stage"` property. it's always in the terraform plan as "change".

I can see, that in your example you have it in the "template.metatadata.annotations" instead of "metadata.annotations".
I have it in the "metadata.annotations" since it's also located there in the official examples (using v3.90.1 o

[2022-11-09 16:18] bourdeau opened #12989 "google_artifact_registry_repository_iam_binding: Error 400 Invalid argument"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-09 16:38] edwardmedia commented on #12989
@bourdeau can you share the debug log that contains the API requests and responses?

[2022-11-09 16:39] faad021 opened #12990 "Error when creating a new notification configuration on a specified bucket"
Terraform Version
`Terraform v1.3.4`
Terraform Configuration Files
[code]

Debug Output
[code]

**Expected Behavior**
To successfully create a notification per the documentation.

**Actual Behavior**
I get an error which says user not authorized to perform the action code. I am using the exact same code from the registry.

[2022-11-09 16:50] bourdeau commented on #12989
@edwardmedia : here it is https://gist.github.com/bourdeau/49ce1e926cc81cc8c4e4b55b7b917261

[2022-11-09 17:14] faad021 commented on #12990
@edwardmedia I use the terraform apply command to apply the config. I am using a service account i created to run `terraform apply`. I modified the following block in the members area to use the service account but had the above error still

resource "google_pubsub_topic_iam_binding" "binding" {
  topic   = google_pubsub_topic.topic.id
  role    = "roles/pubsub.publisher"
  members = ["serviceAcco

[2022-11-09 17:49] edwardmedia commented on #12990
@faad021 glad you have found the resolution. Closing the issue now.

[2022-11-09 17:49] #12990 closed

[2022-11-09 18:30] #9065 closed

[2022-11-09 18:33] edwardmedia commented on #12989
@bourdeau it looks like you also need to provide `location` for `google_artifact_registry_repository_iam_binding` as it is required.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/artifact_registry_repository_iam#location

Note for future update:
In the [code](https://github.com/hashicorp/terraform-provider-google/blob/main/google/iam_artifact_registry_repository.g

[2022-11-09 18:56] megan07 commented on #12974
Hi @DMNRabeda, sorry you're experiencing this issue. I'm thinking this might be a separate issue as it's a different resource and a different error message. Would you mind creating a new issue with your configuration and some debug logs and we can track it there. Thanks!

[2022-11-09 18:59] melinath commented on #12651
If the field doesn't have any subfields you need to set `properties: []`. Example: https://github.com/GoogleCloudPlatform/magic-modules/pull/6616/files#diff-87088f15d2408a1cd0f42f1b1e7ec125ea717b5faa3482166b6896a529b948f0R216

[2022-11-09 19:20] melinath opened #12993 "Fully document example properties"
Currently we only document a small subset of the available fields on `examples`. We should add reference docs for the full set - for example, ignore_read_extra.

Reference: https://github.com/GoogleCloudPlatform/magic-modules/blob/ef7754162159f2d5690ba081c2ce3c4d3b2c7ef6/mmv1/provider/terraform/examples.rb

[2022-11-09 19:49] edwardmedia commented on #12970
@ace-n Thanks for the suggestion. But I don't think there is a pattern that WARNING messages can be injected in the `plan`. The other option I can think of is the documentation. But this is very detail at the downstream.  There are much more requirements at the same level that could be asked to add. One example is `google_cloudbuild_trigger` when `github.com` is chosen. On the other side, the prov

[2022-11-09 19:54] edwardmedia commented on #12971
@ace-n you could reach out the API for better documentation. But for this is likely an authentication issue which shoudl be covered [here](https://github.com/hashicorp/terraform-provider-google/issues/12972#issuecomment-1307353346)

[code]

[2022-11-09 19:55] krishnakanth810 commented on #12974
Hi @megan07 , even i got the error which mentioned by @DMNRabeda and I am facing this issue with 3 resources
**Cloud Run, Cloud Functions and Spanner DB.**

[2022-11-09 19:59] edwardmedia commented on #12972
@ace-n which `gcloud auth` command did use which isn't work well?

Have you tried [cloud auth application-default login](https://cloud.google.com/sdk/gcloud/reference/auth/application-default/login)

[2022-11-09 20:11] megan07 commented on #12974
@krishnakanth810  Oh! I didn't see that error listed in your original comment, I'm sorry. Can you add your entire configuration here (with all of your resources) and a debug log of some sort?

I was only looking into the crash which only shows the spanner db, which I feel confident of a fix, but since I cannot reproduce it, I can't be sure it will fix it. And now knowing there are other contributi

[2022-11-09 20:34] sean9999 commented on #6782
+1

[2022-11-09 20:40] AlexFragotsis commented on #7449
any updates?

[2022-11-09 20:44] joe-a-t opened #12994 "Add member attribute to google_project_service_identity"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-09 20:45] joe-a-t commented on #12921
Hey @rileykarson,

Unfortunately https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/project_service_identity does not work for us since the email value is not known until apply with it being a resource where email is an attribute instead of a data source.

[2022-11-09 20:51] #11935 closed

[2022-11-09 20:51] rileykarson commented on #11935
Closing, thanks! In the future if you use "Fixes {{issue}}" in a PR body, merging the PR will autoclose the issue.

[2022-11-09 20:52] rileykarson commented on #11935
Ah- @slevenick beat me to it.

[2022-11-09 21:03] megan07 opened #12995 "Failing test(s): TestAccSqlDatabaseInstance* empty error during create"
### Affected Resource(s)

* google_sql_database_instance

Failure rate: 100% since 10/31/2022
Failure rate: 3% in Mar 2023

Impacted tests:
- ~TestAccSqlClientCert_postgres~
- ~TestAccSqlDatabaseInstance_basicClone~
- ~TestAccSqlDatabaseInstance_PointInTimeRecoveryEnabled~
- ~TestAccSqlDatabaseInstance_cloneWithSettings~
- ~TestAccSqlDatabaseInstance_backupUpdate~
- ~TestAccSqlDatabaseInstance_cre

[2022-11-09 21:13] ace-n commented on #12972
Ah - I was using `gcloud auth login` (without the `application-default` part).

Adding `application-default` fixed it, but I wish that fix was more visible/obvious to end-users.

[2022-11-09 21:44] megan07 commented on #12974
I was able to reproduce and the fix worked. Thanks for your patience! Let me know if you're still seeing issues with the other resources, as this fix will be directly for `google_spanner_database`.

[2022-11-09 21:52] megan07 opened #12996 "Failing test(s): TestAccComputeDisk_timeout"
### Affected Resource(s)

* google_compute_disk

Failure rate: 29% in 10/2022

Impacted tests:
- TestAccComputeDisk_timeout

Nightly builds:
- [Link](https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/351830?buildTab=tests&status=failed&expandedTest=6330899725422803853)

Message:

[code]

I think the timeout just needs to be adjusted

[2022-11-10 00:48] ace-n commented on #12970
If the Terraform team has a philosophy of including (or not including) information like this, then I'm happy to follow that approach.

If there **isn't** an existing philosophy, that may be a ~P2 worth discussing (e.g. with UX folks) in the future.

[2022-11-10 00:50] ace-n commented on #12971
OK, thanks. I'll go ahead and close this (GitHub) issue and file an internal one against the API team.

[2022-11-10 00:50] #12971 closed

[2022-11-10 01:38] shotarok commented on #12307
@c2thorn I saw you added this issue to the milestone: Goal. if the previous comment looks good, could you please close this issue? thanks!

[2022-11-10 03:57] birdx0810 commented on #12939
Sorry for the hassle, but I realized I couldn't reproduce this after untainting my initial `google_cloud_run_service` although I'm quite sure I've never tainted it in the first place. I'll close this issue.

[2022-11-10 03:57] #12939 closed

[2022-11-10 05:53] hinaloe opened #12997 "`aws_s3_data_source` of google_storage_transfer_job should have `path` param"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-10 06:05] sukreshmanda opened #12998 "Terraform google_cloud_scheduler_job not updating User-Agent header"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-10 07:20] bourdeau commented on #12989
@edwardmedia : adding `location` fixed the problem. My bad. As `location` is a required field, shouldn't it raise an error when the value is missing? Thanks a lot for your help.

[2022-11-10 10:04] IchiruTake opened #12999 "[Bug of Compatibility] `arg::deletion_protection` on `resource_sql_database_instance` when set to True did not update on the GCP portal"
I have actively enabled the field `deletion_protection` by explicitly declared this field under the resource `resource_sql_database_instance`. But when I checked on the portal, this field does not get update when creation and/or modification.
Whilst the equivalent field when creating VM instance worked fine, this argument does not work as expected.

The following note on the Terraform document on

[2022-11-10 11:59] thclark opened #13000 "CORS block on google_storage_bucket only allows a single policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-10 12:21] chrisrickenbacher opened #13001 "Missing ping config for uptime checks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-10 13:57] krishnakanth810 commented on #12974
Hi @megan07 ,

I am still facing the issue with Spanner DB, Cloud run and Cloud functions which worked previously.

The Resource is creating but it is not updating in the state file and getting this plugin crashed error.

I am adding the debug log of the same.

2022-11-10T11:41:54.234Z [INFO]  Terraform version: 1.3.3
2022-11-10T11:41:54.234Z [DEBUG] using github.com/hashicorp/go-tfe v1.9.0
2022-1

[2022-11-10 14:52] glerchundi opened #13002 "Add hash sums to `google_storage_bucket_object_content`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-10 16:13] jordanebelanger opened #13003 "BITBUCKET cloud build trigger source type is invalid"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-10 16:13] davidalger commented on #12502
duplicate of #12778

[2022-11-10 16:30] edwardmedia commented on #13000
@thclark have you tried something like below?

[code]

[2022-11-10 16:32] edwardmedia commented on #12989
@bourdeau I think the better way to do is to provide the `id`, not `name`. Can you try?

 repository   = google_artifact_registry_repository.default[0].id

[2022-11-10 16:55] edwardmedia commented on #12999
dup of https://github.com/hashicorp/terraform-provider-google/issues/12642
Closing

[2022-11-10 16:55] #12999 closed

[2022-11-10 17:15] edwardmedia commented on #13003
@jordanebelanger can you share the entire debug log so I can take a close look?

[2022-11-10 18:38] edwardmedia commented on #12776
@natedogith1 do you notice below block in the payload? Basically when the instance restarts, the server side sees both were set which is against its business rule. There is not much we can do at the provider level. Does this make sense?

[code]

[2022-11-10 18:48] edwardmedia commented on #12970
@ace-n good idea to pursue further discussions in the future.

You are also welcome to file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=01_enhancement.md) for any suggestion for improvement so it will be triaged

For this issue, I don't think it is a BUG. Closing this accordingly.

[2022-11-10 18:48] #12970 closed

[2022-11-10 18:53] #12616 closed

[2022-11-10 18:54] edwardmedia commented on #12739
Closing this assuming it is no longer a question.

[2022-11-10 18:54] #12739 closed

[2022-11-10 18:56] edwardmedia commented on #12782
Closing this assuming it is no longer an issue. @PaulGWatson feel free to reopen if you still see an issue

[2022-11-10 18:57] edwardmedia commented on #12839
@chase-replicated are you able to repro this issue with the latest version of the provider?

[2022-11-10 19:03] edwardmedia commented on #12857
@tgoodsell-tempus is this still an issue?

[2022-11-10 19:14] #12307 closed

[2022-11-10 19:18] shuyama1 opened #13004 "Add functionality to run provider version upgrade tests"
We need to implement a method to automatically catch errors caused by provider version upgrade.

Based on our current test setup, we don't have a good way to detect upgrade errors. Such error occurs when resource was created with an earlier version of providers and then upgraded to the latest version, e.g., https://github.com/hashicorp/terraform-provider-google/issues/12917, https://github.com/has

[2022-11-10 19:48] andrewyz opened #13005 "Support max_run_duration for VM"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-10 20:19] megan07 opened #13006 "Failing test(s): TestAccCloudFunctions2Function_fullUpdate"
Failure rate: 100% since 9/11/2022

Impacted tests:
* TestAccCloudfunctions2function_cloudfunctions2BasicGcsExample
* TestAccCloudfunctions2function_cloudfunctions2BasicAuditlogsExample
* TestAccCloudFunctions2Function_fullUpdate

Nightly builds:
- [Link](https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/351830?buildTab=tests&status=failed&expande

[2022-11-10 20:22] megan07 opened #13007 "Failing test(s): TestAccCloudBuildTrigger_cloudbuildTriggerServiceAccountExample"
Failure rate: 100% since Sept 5

Impacted tests:
- TestAccCloudBuildTrigger_cloudbuildTriggerServiceAccountExample

Nightly builds:
- [Link](https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/351830?buildTab=tests&status=failed&expandedTest=-7521920861646730327)

Message:

[code]

It looks like it failed 9/5 for a different reason, but after that `

[2022-11-10 20:28] megan07 commented on #13007
deleting as duplicate

[2022-11-10 20:28] #13007 closed

[2022-11-10 20:28] megan07 commented on #13006
closing as duplicate

[2022-11-10 20:28] #13006 closed

[2022-11-10 20:30] megan07 opened #13008 "Failing test(s): TestAccArtifactRegistryRepository_artifactRegistryRepositoryCmekExample"
Failure rate: 100% since august 12

Impacted tests:
- TestAccArtifactRegistryRepository_artifactRegistryRepositoryCmekExample

Nightly builds:
- [Link](https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/351830?buildTab=tests&status=failed&expandedTest=44275615969714275)

Message:

[code]

[2022-11-10 20:36] Bullenj01 commented on #11718
@carusooo
hey Andy, I'm running into the same problem with some aws networking modules.  Did you find a way to migrate with out it recreating subnets?  In my case its just a module name change.
![image](https://user-images.githubusercontent.com/24844853/201200206-b0f964dc-1c31-4e47-9fba-d7dafc07f440.png)

[2022-11-10 21:26] megan07 opened #13010 "Failing test(s): TestAccContainerCluster_withIPAllocationPolicy_existingSecondaryRanges, permadiff"
Failure rate: 100% since Nov 3 2022

Impacted tests:
- TestAccComputeInstanceGroupNamedPort_instanceGroupNamedPortGkeExample
- TestAccContainerCluster_withIPAllocationPolicy_existingSecondaryRanges
- TestAccContainerCluster_withIPAllocationPolicy_specificIPRanges
- TestAccContainerCluster_withIPAllocationPolicy_specificSizes
- TestAccContainerCluster_errorCleanDanglingCluster
- TestAccComposerEnvi

[2022-11-10 23:06] carusooo commented on #11718
No, I didn't find a way to migrate without re-creating

I think in my case the name change of the underlying network resource was triggering the destroy/recreation of everything that depended on it . I just let it happen since this was in an early set up phase.

[2022-11-10 23:40] rileykarson commented on #11718
The force replacements here appear to have been triggered by changes to immutable fields; ` ~ name                            = "demo-env-net" -> "demo-dev-net" # forces replacement` in network, and `~ account_id   = "demo-env-composer" -> "demo-dev-composer" # forces replacement` in service account. I suspect that a variable fed into the module changed for these resources, `var.name` in particula

[2022-11-10 23:40] #11718 closed

[2022-11-11 01:26] jordanebelanger commented on #13003
https://gist.github.com/jordanebelanger/a20fe826153d5700413a2eb217d03be1

[2022-11-11 10:43] minimice commented on #11346
I'm also experiencing this issue, would be nice if this was fixed

[2022-11-11 10:46] dnbar commented on #11346
We actually got in touch with responsible team and this is what I heard back

`The long term goal is to have full TF parity with console/cli. Lots of working being done at the moment. I have +1 the ticket and will be booking a follow up meeting with the PM to discuss progress`

So I hope sometime in near future we would get this done.

[2022-11-11 11:22] minimice commented on #11346
Thanks for the update @dnbar

[2022-11-11 14:59] natedogith1 commented on #12776
Where do you see both being set on the server side?  To my knowledge, only metadata.startup-script exists in GCP, with the provider converting metadata_startup_script to metadata.startup-script.  Also, I think that section is the same in both the failed restart log and the successful log where the VM was already shut down.

[2022-11-11 15:56] #12880 closed

[2022-11-11 15:58] #12975 closed

[2022-11-11 16:09] codeangler commented on #10065
I'm debating on creating a separate issue.

Our pain with google provider is [partial state](https://www.hashicorp.com/blog/writing-custom-terraform-providers) in pipelines when we have a timeout waiting on API response. The result is rerunning the pipeline, which must destroy the previously deployed resources compounding the delay in new environment creation.

I wonder if the google provider is i

[2022-11-11 16:44] edwardmedia commented on #13003
It appears the API has updated the accepted repoType from `BITBUCKET` to `BITBUCKET_SERVER`

https://cloud.google.com/build/docs/api/reference/rest/v1/projects.locations.triggers#BuildTrigger.RepoType

[2022-11-11 20:45] rileykarson commented on #10065
We used to use partial mode and probably do in some places, but have since stopped using it. It was discovered by the SDK Lead at HashiCorp that it effectively didn't work, unfortunately! There was a period of time and set of assumptions where/when it did, but that's no longer generally true. That's reflected by partial not appearing in the successor to that guide, https://developer.hashicorp.com/

[2022-11-11 21:13] #12862 closed

[2022-11-11 21:22] #12517 closed

[2022-11-11 23:15] megan07 opened #13022 "Failing test(s): TestAccGkeHubFeatureMembership_gkehubFeatureAcm"
Failure rate: 100% since 11/7

Impacted tests:
- TestAccGkeHubFeatureMembership_gkehubFeatureAcmUpdate
- TestAccGkeHubFeatureMembership_gkehubFeatureAcmAllFields

Nightly builds:
- [Link](https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/351878?buildTab=tests&status=failed&pager.currentPage=1&expandedTest=838033674041769552)

Message:

[co

[2022-11-11 23:25] megan07 opened #13023 "Failing test(s): TestAccBigQueryDatasetAccess_authorizedRoutine"
### Affected Resource(s)

* google_bigquery_dataset_access

Failure rate: 100%

Impacted tests:
- TestAccBigQueryDatasetAccess_authorizedRoutine

Nightly builds:
- [Link](https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/351878?buildTab=tests&status=failed&pager.currentPage=1&expandedTest=3135692053992996266)

Message:

[code]

Reverted th

[2022-11-12 01:07] IchiruTake commented on #12975
@edwardmedia I think the PR is not correct as well. Following the .go file above (line 1569), it shown that the argument :arg:``time_zone`` is located directly in the ``settings`` sub-block, not in the ``settings.sql_server_audit_config``. The two or three PRs above just changed the argument's name. It should migrate this argument (in the documentation) into the ``settings`` sub-block.

Expected d

[2022-11-12 01:13] sandromario opened #13025 "Eventarc trigger (with destination GKE) does not output name of automatically created Kubernetes namespace"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-12 02:45] aramkrishna opened #13026 "Require Apigee hybrid Synchronizer feature to be part of https://github.com/GoogleCloudPlatform/cloud-foundation-fabric/tree/master/modules listed terraform module"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-12 06:26] tpryan commented on #12968
Got a fix working. Submitting.

[2022-11-12 16:07] #13003 closed

[2022-11-12 18:29] edwardmedia commented on #12776
@natedogith1 now I see where the problem is. The provider saves the `metadata_startup_script` to `metadata.startup-script` in the initial apply. Whenever `metadata` needs to be updated, the provider sees the existence of both `metadata_startup_script` and `metadata.startup-script` which triggers this problem.

[2022-11-13 15:51] edwardmedia commented on #12852
@jjmartres closing this assuming it is no longer an issue. Feel free to reopen if you want to continue the investigation

[2022-11-13 15:51] #12852 closed

[2022-11-13 19:32] verygoodsoftwarenotvirus opened #13028 "`google_cloudfunctions2_function` docs list `trigger` as an argument, however setting it yields an error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-13 23:00] verygoodsoftwarenotvirus commented on #12578
AFAICT [this page](https://cloud.google.com/functions/docs/reference/rest/v2/projects.locations.functions) is the structure Terraform is sending to GCP to create the resource, and it doesn't have any references to `Cloud SQL` `metadata`, etc. I think this might just be a (very unfortunate) shortcoming of GCP's API.

[2022-11-14 06:58] danistrebel commented on #13026
@aramkrishna is this a duplicate of #12935?

[2022-11-14 07:23] haizaar opened #13029 "Support for member output attribute in google_iam_workload_identity_pool_provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-14 13:29] danjamesmay commented on #12883
I found a potentially useful line in the debug output:

[code]

[2022-11-14 13:42] #10660 closed

[2022-11-14 14:19] danjamesmay commented on #12883
I set `parrelelism=1` in the plan options to serialise the projects.

Looks like it's doing a call to `GET /v1/locations/global/metricsScopes/<scoping_project>?alt=json HTTP/1.1` first, then iterating through every single item in the response to do a lookup to `GET /v1/projects/<for_each_key>?alt=json HTTP/1.1` for each key in `google_monitoring_monitored_project" "project"`.

It then seems to cal

[2022-11-14 15:19] kevinsi4508 commented on #12884
I think when there is no clusters, we are treating it as managing the clusters externally. This is an expected behavior with Optional & Computed field I believe.

It is pretty confusing. I am going to add a note to explain this behavior.

[2022-11-14 15:19] #12884 closed

[2022-11-14 16:35] fancybear-dev commented on #11046
Has anyone managed to get this working with the current provider lacking the required functionality? I really need this, but every workaround thus far has been a dead end. Thought I'd at least ask here to potentially save a lot of time.

[2022-11-14 16:42] steenblik commented on #12123
Hi @zli82016 - Yes you are correct. This should not be applicable to organizations. I've amended the issue accordingly.

[2022-11-14 19:18] RustedBl4de commented on #12530
@melinath & @rileykarson  Sorry to make an out of band request, but we are impacted by this particular issue and I am wondering what some of the terms/states in your bug tracking mean.  This issue does not seem to be assigned, in a branch, or in a project.  It does, however, appear to be in "Near-Term Goals".  What should I see the status of this being?

Thank you both for your patience and hard w

[2022-11-14 19:22] sreenivas-ps opened #13033 "setting Backend Service security policy: googleapi: Error 400: The resource 'projects/data-mdm-sandbox/global/backendServices/san2-testing-dbt-docs-backend-service' is not ready,"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-14 20:12] edwardmedia commented on #12963
@enku-io closing this as it appears to be by design. Feel free to reopen if you see it differently.

[2022-11-14 20:12] #12963 closed

[2022-11-14 20:14] edwardmedia commented on #12895
@densnoigaskogen is this still an issue?

[2022-11-14 20:15] edwardmedia commented on #12989
@bourdeau does `id` work for you?

[2022-11-14 20:16] martinOrigin8Cares opened #13034 "data.google_storage_bucket.project return the wrong value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-14 20:33] codeangler opened #13035 "missing Partial State; API timeout leave partially build environment, subsequent pipelines require destory before new apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-14 20:35] codeangler commented on #13035
We used to use partial mode and probably do in some places, but have since stopped using it. It was discovered by the SDK Lead at HashiCorp that it effectively didn't work, unfortunately! There was a period of time and set of assumptions where/when it did, but that's no longer generally true. That's reflected by partial not appearing in the successor to that guide, https://developer.hashicorp.com/

[2022-11-14 20:45] edwardmedia commented on #13034
@martinOrigin8Cares I think below is by design. Why do you think it should not?

[code]

https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#project

[2022-11-14 20:47] edwardmedia commented on #13035
@codeangler do you have terraform config that can repro the issue?

[2022-11-14 21:12] csimard01 commented on #13034
That will make the bucket data the only reousource data returning the project provider instead of the project where the bucket is. It make no sense.

[2022-11-14 21:19] martinOrigin8Cares commented on #13034
I was sure the concept behind the "data.resrouce" was to represent the "real" object (and all it's arguments/attributes) that exist in GCP. PLeaselet me know if I didn,t undetstand correctly.

[2022-11-14 21:40] melinath commented on #12530
@RustedBl4de this ticket is basically tracking that we need to do a little cleanup in our CI/CD environment, so it's not likely to result in changes to the provider. If you're experiencing a bug that shares this symptom I'd recommend opening a new ticket. Thanks!

[2022-11-14 21:41] melinath commented on #12530
I should say: if this _is_ caused by a bug you're running into, it would still be great to have a separate ticket & link to this issue from that bug report.

[2022-11-14 21:46] RustedBl4de commented on #12530
@melinath Thanks for the response.  I had suspected that might be the case.  I did find a relevant "bug" as opposed to a "test failure" here:
https://github.com/hashicorp/terraform-provider-google/issues/10191

Thank you again!

[2022-11-14 23:24] bukzor-sentryio opened #13038 "crash when bucket logging block is empty"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-14 23:34] bukzor-sentryio commented on #13038
The workaround is to ensure that there is never an empty `logging` block:

[code]

This is a pretty involved workaround however, and it took me more than a couple minutest to realize this was the cause of the panic.

[2022-11-15 08:39] OscarVanL commented on #12151
Thanks for looking at this, I just wanted to point out that this feature was also added to "Firestore in Datastore mode", which is often called Datastore in docs/packaging. See here: https://cloud.google.com/datastore/docs/ttl

As far as I am aware, the two products function very similarly as they are both Firestore, just operating in different modes. (Firestore is more geared to making client app

[2022-11-15 08:56] Unichron commented on #6376
I think it's fundamentally a terraform core issue, but it could be fixed in the provider if there was a standalone resource to manage a backend of a backend service. In this case the deletion of the instance group/neg/whatever would naturally involve the deletion of the backend resource, and deletes in this case would be properly ordered. Of course the same then should be done for all analogous ca

[2022-11-15 09:58] fancybear-dev commented on #11046
Hi - me again. Glad to tell you I've found a viable fix.

What you need to do, is that the dynamic blocks you use - will ALWAYS have an increasing priority in your plan. Terraform isn't executing parrallel API requests that is causing this issue, rather it's constructing a single request in which the order of the routing rules are in a wrong order. So if you fix the order, you fix the problem.

Th

[2022-11-15 12:01] gcp-3223 commented on #11037
Is this issue still open or has it been addressed with https://github.com/GoogleCloudPlatform/magic-modules/pull/6447 ?

[2022-11-15 12:59] SumanthBurla commented on #11100
Hi there, I'm facing the same issue.

@szczeles, I used "**reserved_peering_ranges = [google_compute_global_address.default.name]**" still I'm getting same error. I can create IP range but can not use that to create a connection. I even tried using the console it is throwing the below error.

![image](https://user-images.githubusercontent.com/51295618/201923377-1b888331-ba8a-42eb-9c68-f24c7a969187

[2022-11-15 13:05] sreenivas-ps commented on #13033
[debug.log](https://github.com/hashicorp/terraform-provider-google/files/10012865/debug.log)

[2022-11-15 13:06] sreenivas-ps commented on #13033
@edwardmedia please find the attached log ^

[2022-11-15 13:25] krishnakanth810 commented on #12974
Hi @megan07, I am getting the same issue. I had given the terraform log and below is the terraform file.

module spanner_test {
  source = "./regional_deployments/spanner"
  instance_name		= "test"
  config			= "regional-asia-northeast3"
  display_name		= "test"
  num_nodes			= 5
  project			= "apmena-cdps-dgt-apac-dv"
  force_destroy		= true
  version_retention_period = "1d"
  databases			= [

[2022-11-15 13:57] sreenivas-ps commented on #13033
@edwardmedia : for testing, i tried not using the security policy but then it blown up at the url_map

[code]

[2022-11-15 14:17] aleks-m opened #13039 "Can't create/modify service_directory_endpoint for Private Service Connect autoregistered Service Directory service"
Hi.

We are trying to create uptime checks for our Private Service Connect endpoints. By default PSC endoints are being registered in the Service Directory automatically with a "default" endpoint and default port (443). Our uptime checks need to probe a different port so we are trying to override port in that "default" Service Directory endpoint. But for some reason Terraform is failing to do so.

[2022-11-15 16:04] aleks-m commented on #13039
@edwardmedia Well, I would prefer to not share a full log since in contains lots of other internal resources, but here are logged requests for this particular endpoint, will it be enough?:

[code]

[2022-11-15 17:12] sreenivas-ps commented on #13033
here is the cloud armor `google_compute_security_policy` resource which is created in root module; as i mentioned this resource is already created, so I am passing its selflink to the module where the `google_compute_backend_service` is being created. I've removed the actual IPs from below...

[code]
are you suggesting I should use `time_sleep` to wait for the resource creation? should I add this

[2022-11-15 17:12] webpwnized opened #13040 "Please add default and accepted values in docs for google_compute_subnetwork - private_ip_google_access"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-15 17:14] edwardmedia commented on #13039
@aleks-m what `service` of this? Is it managed by TF? Can you share its config?

[code]

[2022-11-15 17:24] #12775 closed

[2022-11-15 17:33] melinath commented on #9999
b/259261674

[2022-11-15 17:45] roaks3 commented on #9317
This issue is blocked as we work with the service team to provide a way to read this value.

[2022-11-15 17:46] edwardmedia commented on #13033
@sreenivas-ps yes

[2022-11-15 17:54] melinath commented on #9844
b/259264561

[2022-11-15 17:56] melinath commented on #9593
b/259264471

[2022-11-15 17:56] melinath commented on #7657
b/259264347

[2022-11-15 17:59] melinath commented on #9991
It looks like this test no longer fails in this way.

[2022-11-15 17:59] #9991 closed

[2022-11-15 18:07] melinath commented on #11528
b/259266323

[2022-11-15 18:09] #12529 closed

[2022-11-15 18:37] jezzirolk opened #13042 "Cloud Deploy IAM permissions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-15 18:54] thegrew opened #13044 "Autoclass for Storage Bucket"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-15 19:10] melinath commented on #5069
b/259276194

[2022-11-15 19:11] melinath commented on #5069
Actually reopening - we should double-check that it is actually resolved.

[2022-11-15 19:12] melinath commented on #7939
b/259277309

[2022-11-15 19:13] melinath commented on #9173
b/259277173

[2022-11-15 19:14] melinath commented on #10132
b/259277589

[2022-11-15 19:15] melinath commented on #10132
closing - it looks like the PR to resolve this issue was missing "Fixes {issue id}"

[2022-11-15 19:15] #10132 closed

[2022-11-15 19:17] melinath commented on #12150
b/259277560

[2022-11-15 19:20] melinath opened #13045 "Support configurable timeouts for Bigtable resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-15 19:22] melinath commented on #6628
b/259278591

[2022-11-15 19:22] #13028 closed

[2022-11-15 19:25] melinath commented on #12191
b/259279152

[2022-11-15 21:37] krishna4ldw commented on #11529
@melinath any update ?

[2022-11-15 21:50] melinath commented on #11529
@krishna4ldw this is not likely to get worked on any time soon. If there is any work on it the issue will be updated accordingly.

[2022-11-15 22:10] roaks3 commented on #7980
Yea, this appears resolved like you mentioned, thanks!

[2022-11-15 22:10] #7980 closed

[2022-11-15 22:31] RustedBl4de commented on #10191
I have also encountered this issue running ver 4.35.0 & 4.43.0.  We get this outcome inconsistently.  I have reviewed the code and we do not have any mixed case in the email for the service account.

@cieslicki  What information can I provide to help investigate?

[2022-11-15 22:38] lukeschlather commented on #6024
I don't think ".name" should behave differently from ".id" though I can confirm that the latter works while the former produces an error. Is there some reason that anyone would want these to behave differently?

[2022-11-15 23:08] cieslicki commented on #10191
@jogoldberg thanks for that reply, somehow I missed it when you posted it.

@RustedBl4de also thank you for your reply, I have moved on from the environment where this was an issue and I have not run into it again in different environments so I don't have an environment to troubleshoot against. Best of luck on it!

[2022-11-15 23:59] sreenivas-ps commented on #13033
@edwardmedia I'm not sure how I can wait or delay once it has started the creating the resource, since within the same api call it is trying to attach the policy. I tried with null_resource with local-exec but didn't work.  I tried something like this but it never came to null_resource execution and still the errored; I believe it is not right what i am doing here. can you suggest how can i use th

[2022-11-16 00:05] #12667 closed

[2022-11-16 05:12] anoojnairp opened #13050 "Error: The terraform-provider-google_v4.10.0_x5.exe plugin crashed!"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-16 07:05] laksh-bhat commented on #10810
Hey @melinath we are so happy this is now in terraform and can't wait for the stream resource too :)

We've been running into issues when destroying private connections `resource "google_datastream_private_connection" "datastream_conn" {}` with the error
[code]
this resource may need to support the equivalent of `--force` flag

[2022-11-16 09:53] ar-qun commented on #5797
Hello everyone,

Are there any updates on this? Just stumbled upon it and couldn't understand what is happening. So this issue is still there with Terraform 1.3.4

[2022-11-16 10:14] meniluca opened #13051 "Error: The terraform-provider-google_v4.41.0_x5 plugin crashed!"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-16 11:58] gabor-farkas commented on #8444
@iamgeef thanks for the tip, this worked.
Just one addition, it matters whether we specified the threshold percent as a string or a number :) If I add a threshold rule with a percent specified as a string, it gets sorted by the API after the numerically-specified values (inside the spend_basis group).

[2022-11-16 12:02] alxgda commented on #11388
I'm facing the same issue as of today. No matter what, it's the default compute service that will be used.

[2022-11-16 13:58] Jahadul-Rakib opened #13052 "On Update Time Of Node Pool, Giving Error That Nood Pool Already Exist And Can Not Able to Create After Destroy"
I am Using CDK for GCP and GKE Cluster By Java.
My CDK Version:
cdktf: 0.13.3
cdktf-provider-google: 3.0.16
Java: 17

In Here, I can create GKE cluster and Node pool without any problem. But when I try to Update Node Pool then Its Giving error.
Because Of,

- CDK perform Create operation and Destroy Operation Start the same Time.
- Its Destroy Node pool but After destruction CDK can not create or

[2022-11-16 15:30] brano-nmh commented on #13051
I reported the problem in the GCP issue tracking system, as it might be cloud shell specific problem:
https://issuetracker.google.com/issues/259385802

[2022-11-16 15:41] lchastel commented on #13051
I have the same issue, and created a Case in GCP also.

[2022-11-16 15:47] aleks-m commented on #13039
It is not created by Terraform, it is being created automatically for this PSC (after we add a Forwarding Rule in terraform).
Per https://cloud.google.com/vpc/docs/configure-private-service-connect-services#configure-sd-manual :

[code]

[code]

name: projects/nuorder-monitoring/locations/us-west1/namespaces/goog-psc-default/services/psc-prometheus-staging-elastic-forwarding-rule
uid: 3e064f11d6a3

[2022-11-16 16:08] melinath commented on #10810
@laksh-bhat could you please open a new `bug` issue & fill out the fields there? Thanks!

[2022-11-16 16:20] eblaauw commented on #12938
Fixed in this PR: https://github.com/hashicorp/terraform-provider-google/pull/12980

[2022-11-16 16:29] mikejoseph-ah commented on #12998
same issue, have you found a solution?

[2022-11-16 16:35] bourdeau commented on #12989
@edwardmedia Sorry for the late reply. Yes it works with `id` instead of `name` and without `location`. I'm very new to Terraform and I probably copy/pasted it from somewhere.

[2022-11-16 16:38] tanguy87 commented on #8769
[code]
I had this same issue. In the end it was a permission issue. The error message in this case is very misleading; not sure if terraform or gcloud need to review error handling for these resources

[2022-11-16 18:19] k-ezis commented on #11388
Yeah it's been implemented, so that's very strange. Can you guys give me some more details on what you're seeing? I have some cycles this month to work on this so any info would be great and I'll take a look.

[2022-11-16 18:21] k-ezis commented on #12489
Thanks for filing this, it's on our roadmap by end of year. I'll keep this updated as we make process.

[2022-11-16 18:43] k-ezis commented on #11408
@burnier is correct, Gen2 currently doesn't support deploying from a Cloud Source Repository (docs: https://cloud.google.com/functions/docs/deploy#from-source-repo see note) For Gen2 you'd have to use a source bucket.

[2022-11-16 18:48] k-ezis commented on #11241
@yuryu can you confirm this works as expected now? As of Sept 20th the gcloud fix should be live.

[2022-11-16 19:17] laksh-bhat opened #13054 "Support force destruction of DataStream private connections"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-16 19:47] c2thorn commented on #13051
Have a pending PR to log the error instead of crashing. Looking to release it as `v4.43.1` as soon as possible.

[2022-11-16 19:47] ambeshsingh commented on #12974
facing the same issue when trying to update composer node count. Below is the config

`provider "google" {
  region = var.region

}

data "google_project" "service_number" {
  project_id = var.service_project_id
}

data "google_compute_subnetwork" "composer_subnet" {
  self_link = "https://www.googleapis.com/compute/v1/projects/${var.host_project_id}/regions/${var.region}/subnetworks/${var.compose

[2022-11-16 20:10] ambeshsingh commented on #12974
here is the console log:
Error: Plugin did not respond
│
│   with provider["registry.terraform.io/hashicorp/google-beta"],
│   on <empty> line 0:
│   (source code not available)
│
│ The plugin encountered an error, and failed to respond to the plugin.(*GRPCProvider).ConfigureProvider call. The plugin logs may contain more details.
╵

Stack trace from the terraform-provider-google-beta_v4.43.0_x5 p

[2022-11-16 20:41] edwardmedia commented on #13054
@laksh-bhat are you able to see if other tools (like gcloud) work as you expected?

[2022-11-16 20:45] edwardmedia commented on #13052
@Jahadul-Rakib you might want to check CDK to see if they can help? Please post a terraform config that can be used to repro the issue.

[2022-11-16 20:49] laksh-bhat commented on #13054
Yes, `gcloud` works as expected.
[code]

[2022-11-16 20:50] #13051 closed

[2022-11-16 20:54] edwardmedia commented on #13039
@aleks-m below url appears invalid. For the correct format of `service` you provide, you might want to check it from [google_service_directory_service](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/service_directory_service) . It would be ideal if its data source is available.

[code]

[2022-11-16 21:28] melinath opened #13057 "Magician doesn't display link to individual test results on timeout."
### Affected Resource(s)

* google_*

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prior

[2022-11-16 21:37] densnoigaskogen commented on #12895
hi @edwardmedia , my apology for the delayed response. We tested other  public_keys generated by ourselves, they all works fine in intended, it seems like the issue is with this specific public_key (which is provided by external company) we used in this case. Do you have any thoughts on what could be missing in a public key that could cause the force replacement each time running terraform script?

[2022-11-16 21:55] aamonten commented on #12974
Same issue when trying to install https://github.com/GoogleCloudPlatform/emblem

and not related to spanner

Stack trace from the terraform-provider-google_v4.43.0_x5 plugin:

panic: interface conversion: interface {} is nil, not string

goroutine 44 [running]:
github.com/hashicorp/terraform-provider-google/google.GetCurrentUserEmail(0x32373f8?, {0xc000170150?, 0x322e820?})
....

Error: The terraf