[2020-09-24 15:20] aman-w-kumar commented on #7334
could you please change the label as "Bug"? thanks

[2020-09-24 15:23] edwardmedia commented on #7339
@ops18 I have tried using your code, and can't repro the issue. The version of your provider is pretty old. Can you try the latest version? If the issue still exist, can you post Terraform debug log?

[2020-09-24 15:30] edwardmedia commented on #7327
@imrannayer I am wondering if we may see different places. Can you post the gcp console screenshot and the tfstate before and after the run?

[2020-09-24 15:32] edwardmedia commented on #7295
Closing this as assuming this is no longer an issue. Feel free to reopen it this is still an issue

[2020-09-24 15:39] imrannayer commented on #7327
It is right there in debug logs. `status.resource` is still showing project number even after dropping the resource `google_access_context_manager_service_perimeter_resource`.
You can use the code I provided to reproduce it in any org. It is the code I created explicitly for reproducing this bug.

[2020-09-24 16:37] danawillow commented on #7014
Hey @emmaLP, the provider doesn't actually have any control over what order operations happen in; that all happens within Terraform core. That's why I'm looking for a workaround :)

Can you post the config you tried with the random provider? I'd like to play around with it and see if I can come up with something that works.

[2020-09-24 17:32] rileykarson opened #7351 "Update docs to suggest adding a quota project to gcloud credentials"
Historically, `gcloud` credentials (signing in with your Google Account/GCP user email) have pulled their quota from a GCP-controlled project. This leads to some hard-to-debug errors when that project runs out of quota or doesn't have services enabled (some GCP apis require the service to be enabled on the credentials you're using to work).

However, I received the following message when authentic

[2020-09-24 17:39] gabriel8fm commented on #3069
+1 for looking for a fix for this.

[2020-09-24 18:03] edwardmedia commented on #7329
@pantelis-karamolegkos I noticed the version of your plugin is pretty old. This feature was release [v3.19.0](https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.19.0). Can you try with the latest version?

[2020-09-24 18:51] pantelis-karamolegkos commented on #7329
Yes turns out its a matter of outdated plugin.
Thanks anyway for your time spent on this :+1

[2020-09-24 18:51] #7329 closed

[2020-09-24 18:51] c2thorn commented on #6351
Sorry, I should have posted an explanation. I believe this interaction has changed upstream in the API (I can't find any relevant changes in the provider, but I could be wrong), as transitioning the machine type also changes `cpu_platform` to an acceptable value. When I retried the steps described in the original post, it was successful.

@kustodian do you still see this issue occuring? If so it w

[2020-09-24 19:22] #7147 closed

[2020-09-24 19:49] c2thorn commented on #7001
Reported at https://issuetracker.google.com/issues/169348259

[2020-09-24 19:49] #7001 closed

[2020-09-24 20:18] edwardmedia commented on #7327
Now I see what you meant. I guess this is what you referred to.
[code]

[2020-09-24 20:24] upodroid commented on #7351
There was a breaking change this summer.

https://cloud.google.com/sdk/docs/release-notes#29200_2020-05-12

Now it tries to set the billing project from the project set in `config/project` which fails when you don't have the serviceusage.services.use permission on that project.

There is a message that appears after you run `gcloud auth application-default login` if the user that ran is missing th

[2020-09-24 20:37] imrannayer commented on #7327
yes it is showing in TF state.
I can see it in GUI console and through CLI using  `gcloud access-context-manager perimeters describe <perimeter_name> --policy policy_id`

[2020-09-24 20:37] edwardmedia commented on #7327
I guess this is what you referred to. Agreed I think we should send the update payload without this line
[code]

[2020-09-24 21:22] c2thorn commented on #7341
@nyc3-mikekot I have a PR out to assume a value of 375 GB when the API doesn't return a value for scratch disks. v3.41 is already cut and scheduled for 9/28, so the next available release with this fix will be v3.42 scheduled for 10/5.

[2020-09-24 22:06] dogmatic69 commented on #7295
sorry for the delay, here is the logs:

The steps:

- deploy fresh new service with my script
- set new image and redeploy with the same script: [before logs](https://gist.githubusercontent.com/dogmatic69/ad59aac698b48ffd8e9275b83f532c05/raw/7eb036508f20e0594134598cbfd0a03632db6d76/before.txt)
- head to gcp and redeploy the same image as the previous step
- change the image once again in the scrip

[2020-09-24 22:34] c2thorn commented on #6910
@sergeunity thank you for your patience. We cannot recreate your issue, and would need a debug log to be able to see how to reproduce. When I create a node pool with gvisor and labels, the gvisor label gets appended, but the provider does not force recreation.

There must be something missing, and a debug log of the issue would help us find that.

[2020-09-24 22:53] BrianPi opened #7353 "dataflow_flex_template_job labels not applied"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-25 03:54] hayorov opened #7354 "Create project IAM Members for project X fail with googleapi: Error 400: Request contains an invalid argument - "status": "INVALID_ARGUMENT""
(!) I believe that problem occurs when terraform applies **mixed** iam policy context and  receives ` "Request contains an invalid argument.",`  `"status": "INVALID_ARGUMENT"` I believe that terraform distorts the original iam policy context

Questions:
- How to understand what is wrong by response "INVALID_ARGUMENT"
- Why such an awkward and fragile way of iam policy updating was implemented? Ter

[2020-09-25 07:45] aymericbbc commented on #6937
Hello @megan07,  `roles/bigquery.user` does not grant job.create at the dataset level. Actually I realised we can only give job.create at the project level, so there's no way to do what I want.
Sorry for the late answer

[2020-09-25 07:45] #6937 closed

[2020-09-25 08:02] emmaLP commented on #7014
Hi @danawillow,

This is my workaround solution that always results in a unique disk anme:
[code]

[code]

[2020-09-25 08:11] emmaLP commented on #7014
Here is the scenario using just a random provider:
[code]

Please use the bash script from the previous post.

Steps to reproduce with the random provider:
1. Run `terraform apply`
1. Manually create snapshot of persisted disk, ensuring the snapshot of the disk starts with test
1. Run `terraform apply` again
1. Regional persistent disk will try create first but fails with already existing error
[c

[2020-09-25 10:42] ilicmilan commented on #6351
I just tested it with Terraform `v0.13.0` and google provider `v3.25.0` and it was successful, indeed.

[2020-09-25 11:48] sergeunity commented on #6910
Whoooo I think the time (and releases) fix it. I cannot reproduce it now.

I'm closing the issue. Thank you

[2020-09-25 11:48] #6910 closed

[2020-09-25 14:14] kustodian commented on #6351
Awesome! Then it was a good call for closing it :D

[2020-09-25 15:19] #7341 closed

[2020-09-25 15:20] c2thorn commented on #7304
@tobias-farrenkopf From what I can tell, neither the [user API](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/users) nor [DB instance API](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/instances) expose a way to issue the revoke command to the database. Looking at the [documentation for deleting users](https://cloud.google.com/sql/docs/postgres/create-manage-users

[2020-09-25 15:20] #7304 closed

[2020-09-25 15:26] c2thorn commented on #7309
Hey @MrVentzi, I don't believe we can do anything about this due to provider limitations. When `enable_logging` gets set in state, there isn't a way to remove it from state. You can change its value, but you can't unset it without modifying your state file directly, or reimporting resource.

In the provider we can't tell the [difference between a false and nil boolean](https://github.com/hashicorp

[2020-09-25 15:34] c2thorn commented on #7309
Instead of closing, I will set this to `upstream-terraform`. Whenever my linked issues get resolved, we should check back on this issue to see if solving it is possible.

[2020-09-25 15:50] jseris opened #7356 "Removing value from ssl_certificate in google_compute_target_https_proxy results in "inconsistent final plan""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-25 16:17] rileykarson commented on #7353
Worth noting: it's possible for this resource that the labels field doesn't actually work yet, and that the API presented it (and we implemented it) a little too early.

[2020-09-25 17:39] danawillow commented on #7323
Hi @przsab, we're tracking this question as a feature request now, so you'll be able to follow along as the work gets assigned into a sprint.

[2020-09-25 17:39] c2thorn commented on #7302
Thanks for providing a configuration and debug log @smaslennikov! It made it very easy to reproduce. I made a fix for this, hopefully it will go out in v3.42

[2020-09-25 18:06] smaslennikov commented on #7302
wohoo, thanks @c2thorn!

[2020-09-25 18:58] danawillow commented on #7327
This is a really interesting bug! Here's what's happening:

Terraform only refreshes its state when it's computing the original diff. At that time, there's a project in the status.resources list and the field is marked with ignore_changes, so when the provider receives the diff, it'll see that the intended outcome is to keep the status.resources list the same as it was. This is what the plan outpu

[2020-09-25 19:20] danawillow commented on #7327
Actually, I'm not going to make the empty vs unset fix- it's a bit more complex than I originally thought because of the way sets work in Terraform, and since the above config should work, I'm not convinced it's something that urgently needs to be fixed. Closing this bug for now, but please feel free to reopen or comment if you have further questions or issues.

[2020-09-25 19:24] c2thorn commented on #7303
Hi @samhumphreys-2sixty, you are experiencing behavior specific to Terraform in general, and not the Google provider. Terraform notices a reference to the `google-beta` provider in state, but your configuration doesn't have a reference to it (It would be nice if the required_providers block was enough).

I believe you are seeing inconsistent behavior for removing resources based on whether or not

[2020-09-25 19:24] #7303 closed

[2020-09-25 19:28] #7302 closed

[2020-09-25 19:47] danawillow commented on #7014
For the random provider scenario, can you try this:
[code]

Take a look at the documentation for keepers to understand what this does- basically, it means "if the snapshot_link changes, then generate a new random string": https://registry.terraform.io/providers/hashicorp/random/latest/docs#resource-keepers

[2020-09-25 20:09] slevenick commented on #7334
Interesting. I think I know what the issue is, but can you give me some more details on when you noticed this?

Was this the first time you tried to create IAP clients via Terraform?

[2020-09-25 21:39] upodroid commented on #7354
Hi

There are some constraints when calling setIamPolicy on projects especially when you are making a user account owner of a project.

Those email accounts must belong to the same organization as the project or that API call will fail.

Please read this and see if it is relevant in your situation.

https://cloud.google.com/resource-manager/reference/rest/v1/projects/setIamPolicy

[2020-09-25 23:14] frasercarter opened #7360 "import fails for google_access_context_manager_access_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-25 23:25] edwardmedia commented on #7360
@frasercarter check out [this issue ](google_access_context_manager_access_policy) to see that helps?

[2020-09-25 23:26] frasercarter commented on #7360
theres no issues visible.

[2020-09-25 23:30] frasercarter commented on #7360
you mean this one: https://github.com/hashicorp/terraform-provider-google/issues/3620? Ill take a look, I didnt see this initially when I searched.

[2020-09-25 23:30] edwardmedia commented on #7360
https://github.com/hashicorp/terraform-provider-google/issues/3620

[2020-09-25 23:36] frasercarter commented on #7360
looks like thats just affecting user credentials, im using a service account for this call with the following roles applied at org level.

[code]

[2020-09-26 05:45] edwardmedia commented on #7360
@frasercarter have you tried import using below format?
[code]

[2020-09-26 07:12] aman-w-kumar commented on #7334
Yes, I'm creating first time with terraform. Sometime it works but most of time it's failing. I tried with retry but then I found there are multiple duplicate IAP clients are created with same name but different clientID as you might go through to the debug logs above. You might find that terraform lost resource after creation and try to connect IAP API but got response "Requested entity was not f

[2020-09-26 07:28] aman-w-kumar commented on #7334
Imo, It could be related eventual consistent and resource creation takes some time to propogate but I'm not sure how terraform is handling this situation, there could be some other reasons why terraform lost object after creation.

[2020-09-26 15:11] imrannayer commented on #7327
Thanks @danawillow . I will use TF dynamic block for status. This will solve the issue for my use case but it will still be a problem in the following case:
Suppose  `access_levels` and `restricted_services` both are populated in status block of `google_access_context_manager_service_perimeter` and we call `google_access_context_manager_service_perimeter_resource` to add resources in same code.
No

[2020-09-27 07:34] frasercarter commented on #7360
that format does not work the accepted format is as follows

terraform import google_access_context_manager_access_policy.default {{name}}

[2020-09-27 07:42] #7360 closed

[2020-09-27 18:17] n-oden opened #7362 "better handling of sub-resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-27 19:22] kamaz opened #7363 "Cloud Run Data Sources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-27 19:37] apsureda opened #7364 "Add conditions to Asset Inventory feeds"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-27 19:38] apsureda commented on #7364
I will implement this myself.

[2020-09-27 23:17] upodroid commented on #7342
FYI, saw this PR that implements exclusions.

https://github.com/hashicorp/terraform-provider-google/pull/7335

[2020-09-28 00:08] terorie opened #7365 "google_compute_region_per_instance_config fails with empty preserved_state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-28 02:32] hayorov commented on #7354
thanks @upodroid

This is my case.  I'm trying to add a new member entity with the owner role, and user organization domain != project/current org domain.

Any workaround (automated way) to manage the owner role with terraform in my case?

[2020-09-28 07:28] ops18 commented on #7339
can you try with some metadata_startup_script

[2020-09-28 08:02] upodroid commented on #7354
There isn't a workaround for this. As a rule of thumb, the functionality that you want must be supported by the API for it work in terraform or any other tool.

I would recommend you grant Editor + Project IAM Admin. That covers most of the roles you might need plus the user can assign more roles if they need to.

[2020-09-28 08:44] sho-abe opened #7366 "can set COMMENTS_ENABLED_FOR_EXTERNAL_CONTRIBUTORS_ONLY to comment_control of google_cloudbuild_trigger"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-28 08:52] mvanholsteijn commented on #5698
@danawillow @hectorj  and I are perfectly willing to assist in providing the required resources. If you feel it can be auto-generated, then that would be awesome. I do think it needs some work as the API is not orthogonal. ie. the create and update have a different signature.

[2020-09-28 12:05] aconde-td opened #7367 "There is a way to add snapshot policy to persistent volume claim?"
I found this question on stackoverflow and it's similar to my problem:
https://stackoverflow.com/questions/64060409/how-to-attach-a-scheduler-policy-to-a-persistent-volume-claim-in-gcloud-with-ter

I found a way to attach policies to disks, but not for persistent volume claims:
https://cloud.google.com/sdk/gcloud/reference/beta/compute/disks/add-resource-policies

Could you help me with that quest

[2020-09-28 15:46] anubbhavm opened #7368 "Error creating instance: Cross-project references for subnetwork not allowed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-28 15:49] megan07 commented on #7337
Closed by https://github.com/GoogleCloudPlatform/magic-modules/pull/4012

[2020-09-28 15:49] #7337 closed

[2020-09-28 16:02] edwardmedia commented on #7354
@hayorov in other word, can you achieve/verify it via GCP console or gcloud?

[2020-09-28 16:07] c2thorn commented on #7161
Seeing some inconsistent behavior from the API, I'd rather reach out to the team upstream about this feature than ship it out. It's reverted for now, so I will close this.

[2020-09-28 16:07] #7161 closed

[2020-09-28 16:09] edwardmedia commented on #7339
@ops18 can you share the debug log when you can repro the issue?

[2020-09-28 16:18] edwardmedia commented on #7368
@anubbhavm do you plan to use S[hared VPC](https://cloud.google.com/vpc/docs/shared-vpc)? If yes, have you enable [it ](https://www.terraform.io/docs/providers/google/r/compute_shared_vpc_host_project.html) ? If yes, can you post the other code and the debug log?

[2020-09-28 16:19] danawillow commented on #5698
If you already have handwritten code for the resource, then it's not mandatory to do it generated, especially if it's unusual. The one thing I would be very careful about is authentication- our guideline right now is that you should be able to use the same authentication method for all your resources, and based on https://github.com/hashicorp/terraform-provider-google/issues/1724#issuecomment-4030

[2020-09-28 16:23] c2thorn opened #7369 "Fix TestAccDataSourceDnsManagedZone_basic"
[code]

[2020-09-28 16:25] c2thorn opened #7370 "Fix TestAccProviderMeta_setModuleName"
[code]

Related to the new module attribution content - removed from the v3.41.0 release

[2020-09-28 16:46] anubbhavm commented on #7368
@edwardmedia Yes, planning to use Shared VPC. However, I have enabled it manually through the console and not through Terraform. Attaching the debug log for your reference.
[terraform.log](https://github.com/hashicorp/terraform-provider-google/files/5293805/terraform.log)

[2020-09-28 17:43] danawillow commented on #7362
Right now the way the terraform execution graph works is that when we're deleting the subresource, the provider has no way to know that the parent resource is also being deleted. Added the upstream-terraform label because this would require something from Terraform core or the SDK to actually expose the graph to the individual resources during execution. As things are today, there isn't anything w

[2020-09-28 17:44] c2thorn opened #7371 "Support logs bucket creation and custom ID's"
Split from https://github.com/hashicorp/terraform-provider-google/issues/7342

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise f

[2020-09-28 17:45] danawillow commented on #7363
Seems reasonable! Assigning to you to contribute; let us know if you end up not getting around to it.

[2020-09-28 17:52] c2thorn opened #7372 "Update log sink documentation"
Split from https://github.com/hashicorp/terraform-provider-google/issues/7342

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise f

[2020-09-28 17:58] megan07 opened #7373 "Module Attribution Refactor"
Refactor module attribution to work with multiple modules.

[2020-09-28 18:00] megan07 opened #7374 "Copy TPGB docs to TPG repo"
This will allow us to move our documentation to the registry without any issues.

[2020-09-28 18:17] c2thorn commented on #7342
Hi folks,

I named this issue pretty ambiguously, so we wanted to clarify what we are committing to so far. We  split this up by specific feature request and created https://github.com/hashicorp/terraform-provider-google/issues/7371 and https://github.com/hashicorp/terraform-provider-google/issues/7372 .

I am closing this, but if you have a separate feature that is a part of Cloud Logging API v2

[2020-09-28 18:17] #7342 closed

[2020-09-28 18:28] edwardmedia commented on #7368
@anubbhavm can you post your log at https://gist.github.com/? Likely the host project is not visible to the service project.
Can you import the host and service projects and then post the state as well?

[2020-09-28 18:29] #7348 closed

[2020-09-28 18:36] anubbhavm commented on #7368
@edwardmedia The SA running the TF script has `compute.networkUser` role on the subnet in the host project. Here's the gist: https://gist.github.com/anubbhavm/cb684150c3a572c4634e3ea2309990a4

[2020-09-28 18:49] mvanholsteijn commented on #5698
@hectorj actually programmed it to work properly;  if you look at the code at https://github.com/hectorj/terraform-provider-googlesiteverification, you can specify JSON service account key to authenticate with and that works. the site verification API did not work with the default Oauth 2.0 credentials,  I actually created a separate service account to verify the domain with. See:

- https://githu

[2020-09-28 18:55] upodroid commented on #7372
Related issue: https://github.com/hashicorp/terraform-provider-google/issues/6122

[2020-09-28 20:35] upodroid commented on #3753
@danawillow Can we put this on the backlog? It is pending an upstream API change. There is no progammatic way of reliably linking the address and the dns policy.

https://issuetracker.google.com/issues/169585798

[2020-09-28 20:51] danawillow commented on #3753
Hi @upodroid, if this is a blocker for you and you have a Google-side contact (like a TAM or CE), you can ask them to file an issue against our team internally.

[2020-09-28 21:38] n-oden commented on #7362
@danawillow thanks for the update and explanation. I'll continue hassling hashicorp about this then. :)

[2020-09-28 22:15] upodroid commented on #3753
Thanks, it is not blocking me but the the Cloud DNS Team need to fix the api before I can fix it in terraform.

[2020-09-28 23:48] #3898 closed

[2020-09-29 01:01] miseyu opened #7379 "`google_container_engine_versions` or `google_compute_network` does not plan [3.40.0 → 3.41.0]"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-29 01:09] slevenick commented on #7356
Interesting... This looks like an issue with Terraform itself. I'm able to reproduce this with Terraform version 0.13, but it does not appear as a inconsistent plan when using 0.12

I'll file an upstream bug, as this isn't fixable in the provider

[2020-09-29 07:13] ops18 commented on #7339
To Reproduce issue: Change configuration in startup-script and run the plan again and then apply and apply

               Plan with Debug Mode

2020-09-29T06:57:06.318Z [DEBUG] plugin.terraform-provider-google_v3.40.0_x5: 2020/09/29 06:57:06 [INFO] Instantiating Google Cloud Healthcare client for path https://healthcare.googleapis.com/
2020/09/29 06:57:06 [DEBUG] ReferenceTransformer: "google_com

[2020-09-29 09:06] essjayhch commented on #7379
For clarity, this effects v0.12 as well as 0.13, but that is probably self-evident as it will have been a change in the provider configuration

[2020-09-29 09:08] lwsanty opened #7381 "data `google_container_cluster` -> An argument named "zone" is not expected here."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-29 09:19] Jean-Mercier commented on #7381
similar problem only with 3.41 version

Error: Invalid resource instance data in state
  on .terraform/modules/ecom-gke-green/data.tf line 2:
   2: data "google_container_engine_versions" "gke-version-euw1" {

data could not be decoded from the state: **unsupported attribute "region".**

[2020-09-29 10:09] przsab opened #7382 "Allow refresh/restart in Stateful Managed Instance Group configuration"
Currently restart and refresh operations defined on SMIG are not included in Terraform GCP provider even though some parts of configuration indicate the group may behave in such way.

Today no operations on SMIG are performed automatically, i.e. every update to instance template or group require update-instances or recreate-instances CLI, where minimal_action or most_disruptive_allowed_action has

[2020-09-29 10:16] Jean-Mercier commented on #7379
same root cause than issue
https://github.com/hashicorp/terraform-provider-google/issues/7381

[2020-09-29 15:13] ball-hayden opened #7383 "GCS: DaysSinceNoncurrentTime lifecycle_rule condition"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-29 15:17] anubbhavm commented on #7368
Figured out the issue, the host project was incorrectly specified. Thanks for your help!

[2020-09-29 15:36] edwardmedia commented on #7368
@anubbhavm I am glad you figured that out. To me, it was not obvious for anything wrong. Closing this issue then

[2020-09-29 16:58] slevenick commented on #7382
Hey @przsab I believe that the per_instance_config resource actually *does* update instances. After updating a per_instance_config we call `applyUpdatesToInstances` ([this endpoint](https://cloud.google.com/compute/docs/reference/rest/v1/instanceGroupManagers/applyUpdatesToInstances)) for each per instance config that was updated. This happens here: https://github.com/hashicorp/terraform-provider-

[2020-09-29 17:40] slevenick commented on #7356
This looks like it is caused by this bug: https://github.com/hashicorp/terraform/issues/25631

Marking upstream-terraform for now

[2020-09-29 18:45] slevenick commented on #7365
Odd... Does the instance group actually have an instance named after the empty-state per instance config? The result from the API being empty seems to indicate that the instance group does not do anything with the per-instance-config.

I don't see a way to handle this in the provider given how the API does not include the instance in the result of listPerInstanceConfigs

[2020-09-29 18:57] rosmo opened #7385 "google_active_folder doesn't find folders with dash in displayName"
### Terraform Version

Terraform v0.13.3
+ provider registry.terraform.io/-/google v3.40.0
+ provider registry.terraform.io/hashicorp/google v3.40.0

### Affected Resource(s)

* google_active_folder

### Terraform Configuration Files

[code]

### Debug Output

The request the Google provider does looks like this:
[code]
The API just returns `{}`.

For some reason, this method of escaping spaces/da

[2020-09-29 19:36] #7369 closed

[2020-09-29 19:56] c2thorn commented on #7314
I believe this was fixed in v3.40.0 with https://github.com/hashicorp/terraform-provider-google/pull/7266. Closing for now, but feel free to respond if you have found otherwise.

[2020-09-29 19:56] #7314 closed

[2020-09-29 20:25] Sinble commented on #7322
We have found that if a firewall rule had logging enabled then disabled. You will run into this error. It's coming back from the google API. You can recreate the error by going to https://cloud.google.com/compute/docs/reference/rest/v1/firewalls/patch and select "try it". try changing your firewall through there and you should get the same error.

To fix we had to recreate the firewall rule from s

[2020-09-29 21:38] thecodeassassin opened #7389 "Google Secret manager secret returns 404 and won't continue when switching to new workspace"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-29 21:48] slevenick commented on #7379
Hey @miseyu I believe this is an issue with Terraform core, and I believe it was fixed in version 0.13.1 by this PR: https://github.com/hashicorp/terraform/pull/25779

Can you (or anyone else seeing this bug) try upgrading your version of Terraform to see if it works for you?

I can reproduce by using 0.13.0 but not 0.13.3.

[2020-09-29 21:54] slevenick commented on #7381
I think there are two different issues here.

One, similar to https://github.com/hashicorp/terraform-provider-google/issues/7379 is an error when a field exists in state that the new provider version 3.41.0 does not expect. This should be solved by upgrading the version of Terraform you are running to at least 0.13.1.

The other is causing the error message: `An argument named "zone" is not expect

[2020-09-29 23:12] slevenick commented on #7339
One possible way to resolve this is to add the following block to your `google_compute_instance`:
[code]

This would require you to change the name of the instance every time you make an update that requires recreation though.

The problem is that Terraform only applies changes to a resource once during a single `terraform apply`. We have to remove the instance group's reference to the instance th

[2020-09-30 05:32] aximov commented on #7311
External HTTP(S) Load Balancing works with a global backend service, so I guess `google_compute_backend_service` is appropriate.

[2020-09-30 06:11] aximov commented on #7311
Maybe #1883 is related?

[2020-09-30 06:33] nyurik opened #7390 "Changing network in google_container_cluster fails silently"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-30 08:11] rosmo commented on #7385
By the way, I think the dash is at fault at here since another folder with only a space in it works fine.

[2020-09-30 09:48] howsTricks opened #7392 "google_compute_packet_mirroring support for collector destination in a peer network"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-30 09:54] samhumphreys-2sixty commented on #7303
@c2thorn thanks, you're right. The provider configuration is still necessary to destroy the resources, though as you say it would be nice if the required_providers block was authoritative. Not an issue though, thanks!

[2020-09-30 12:50] nkt commented on #6521
any update on this?

[2020-09-30 14:30] debakkerb opened #7393 "GKE cluster changes not detected"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-30 14:42] debakkerb commented on #7393
This is a provider issue.  I reverted back to 3.40.0 and now changes are detected.  Whenever I make an update to the cluster, Terraform now applies the changes.

[2020-09-30 16:56] debakkerb commented on #7393
I've done some more research and initially I thought it was linked to the provider version.  However, that's not true, because I've downgraded the provider to 3.38 and the problem still persists.  The strange thing is that it only shows up for certain configuration changes and not for others.

As mentioned in the initial description, I've removed the release channel and private config blocks and t

[2020-09-30 20:10] j-don opened #7394 "`google_monitoring_notification_channel` doesn't respect `project` field for all API calls (ServiceAccount auth)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-30 21:17] #7389 closed

[2020-09-30 22:55] #7385 closed

[2020-09-30 22:57] slevenick commented on #7379
Closing as I believe this is not a provider bug. Please reopen this if upgrading Terraform to 0.13.1+ does not fix the issue for you

[2020-09-30 22:58] slevenick commented on #7381
Closing as I believe this is not a provider bug. Please reopen this if upgrading Terraform to 0.13.1+ and changing from `zone` to `location` does not fix this issue for you

[2020-09-30 22:58] #7381 closed

[2020-10-01 02:33] Rob-S opened #7397 "Terraform wants to recreate compute engine instances created from google_compute_instance_template that was deleted and recreated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-01 04:45] Rob-S commented on #7397
The solution was to enable deletion protection and run `terraform apply` once, to recreate the template. Then, as long as the source_instance_template name / self_link matched the original name in the compute instance, the instance is not recreated on any additional `terraform apply` runs.

[2020-10-01 04:45] #7397 closed

[2020-10-01 04:49] OwenMatsuda commented on #4272
Just ran a test on `Terraform v0.13.4` and did not encounter the problem.

[2020-10-01 04:49] #4272 closed

[2020-10-01 04:55] Rob-S opened #7398 "compute_instance_from_template does not need to replace instances when source_instance_template differs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-01 05:23] Rob-S commented on #7398
Without this enhancement, there is a somewhat tedious workaround:

1. Enable deletion protection on the compute instance(s).
2. Delete the template via the GCP Console UI.
3. Make the changes to the template, keeping the same "name".
4. Run `terraform plan` and `terraform apply` once to recreate the templates. It will attempt to recreate the CE instances, but fail due to the deletion protection.
5

[2020-10-01 05:45] nyurik opened #7399 "Support CDN policy cacheMode parameter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-01 08:02] ops18 commented on #7339
I try with lifecycle block but it is not working for me

Plan: 1 to add, 1 to change, 1 to destroy.

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

  Enter a value: yes

google_compute_instance.web_private_1: Creating...

Error: Error creating instance: googleapi: Error 409: The resource 'projects/xxxxxx/zones/

[2020-10-01 08:37] hedlund opened #7400 "google_compute_url_map fails when configuring CORS"
I'm having problems applying CORS rules to `google_compute_url_map` resources. It does not matter if I apply them as `default_route_action`, or nested in a `path_matcher`- the result is always the same.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the c

[2020-10-01 09:00] elelement opened #7401 "Error: configuration for google_compute_network_peering.default still contains unknown values during apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-01 09:09] tobias-farrenkopf commented on #7304
@c2thorn I cannot understand your reasoning. Terraform destroy is removing the database on all major cloud provider (AWS, Azure, Alicloud) but not on GCP. Now from a user perspective this is a shortcoming of terraform. No we can play ping-pong who's
fault that is (GCP or Terraform) but an issue is still an issue. Right?   Our workaround is to use the gcloud cli `gcloud  sql instances delete`.

[2020-10-01 09:19] hedlund commented on #7400
I also tried applying the rule with the beta provider, but that made no difference.

[2020-10-01 09:49] jamesyale commented on #7379
Just to check, we're saying this provider as of 3.41.0 no longer supports TF 0.12?

[2020-10-01 11:56] avegao opened #7402 "Support on-demand schedule on google_bigquery_data_transfer_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-01 11:57] hedlund commented on #7400
Could the error be due to the fact that the backend is a bucket? I haven't tried it with another type of backend, and on the `google_storage_bucket` resource itself, it is also possible to configure CORS (albeit not as nice as on the URL map).

[2020-10-01 12:52] mikida12 commented on #6617
@megan07 sorry for the (very) late reply. I changed `node_type` to `n1-node-96-624` in that worked. Thanks for the help!

[2020-10-01 13:02] upodroid commented on #7383
Duplicate of https://github.com/hashicorp/terraform-provider-google/issues/7223

[2020-10-01 14:10] przsab commented on #7382
Resolved by triggering per-instance-config update with instance template reference in metadata.

[code]

[2020-10-01 14:10] #7382 closed

[2020-10-01 14:31] ball-hayden commented on #7383
Arg. I did search first, I promise.
Sorry!

[2020-10-01 14:31] #7383 closed

[2020-10-01 15:08] #7354 closed

[2020-10-01 15:10] edwardmedia commented on #7390
@nyurik I tested and couldn't repro it. What error did you receive? Can you post the debug log so I can take a close look?

[2020-10-01 15:47] nathkn opened #7403 "Updating the bandwidth field of google_compute_interconnect_attachment forces a recreation instead of updating in place"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-01 16:11] edwardmedia commented on #7401
@elelement can you provide the `apply` debug log?

[2020-10-01 16:26] rileykarson commented on #7353
Sorry, this fell through the cracks last week! Assigning to @slevenick, this week's bug onduty.

[2020-10-01 16:37] edwardmedia commented on #7400
@hedlund I am able to create below resource without problem. I noticed you have only enable one service using above code. I wondered if other api services that might be needed. Please do research and let me know

[code]

[2020-10-01 16:39] nyurik commented on #7390
@edwardmedia I did not get any error, I only observed that after changing the network from default to a specific network selflink, the web UI still showed default.  Destroying and recreating the cluster fixed the issue. I won't be able to easily repo the issue though, plus obviously there were no logs.  One possible reason now that I think about it could be that web UI was not refreshing the statu

[2020-10-01 16:46] n-chiappero opened #7404 "google_service_networking_connection refresh bug"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-01 17:38] hedlund commented on #7400
@edwardmedia I'm prone to agree. I tried editing the resource using the plain Google API, and that yielded the same results, indicating this has nothing to do with Terraform.

I've tried enabling the most likely services for the project, but no dice. Any possibility to get a list of what service you have the project where you could get it to work?

Anyways, feel free to close this issue, as it mos

[2020-10-01 17:54] slevenick commented on #7379
@jamesyale good point. The tricky thing is that the cause of this issue was upgrading to the terraform-sdk v2: https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html

SDK v2 claims to work with 0.12.0+, but in this case that doesn't seem to be the case. I'll bring this up for discussion

[2020-10-01 18:14] #7328 closed

[2020-10-01 18:24] slevenick commented on #7353
Yeah, this definitely doesn't work yet. I'll mark the field as deprecated as a placeholder because the API does not support the label field currently.

[2020-10-01 18:33] slevenick commented on #7379
I'm actually unable to reproduce this using 0.12.x

Are you able to get this error specifically when using 0.12? It seems like it was specific to 0.13.0

There is a similar looking issue around fields being removed, but that should be fixed by updating configs to use the correct field

[2020-10-01 18:45] #6779 closed

[2020-10-01 18:47] jamesyale commented on #7379
Yep, you're right - I've got the wrong issue here and the one we're hitting is the same as https://github.com/hashicorp/terraform-provider-google/issues/7381 where `region` is removed ala https://github.com/GoogleCloudPlatform/magic-modules/pull/2436.

Thanks for looking into it!

[2020-10-01 18:50] slevenick commented on #7379
Great!

[2020-10-01 18:50] #7379 closed

[2020-10-01 20:05] #7263 closed

[2020-10-01 20:06] #7097 closed

[2020-10-01 20:42] #6149 closed

[2020-10-01 20:46] edwardmedia commented on #7400
Closing this, as suggested. Thanks

[2020-10-01 20:46] #7400 closed

[2020-10-01 20:49] edwardmedia commented on #7390
@nyurik that's possible. Closing this. Feel free to reopen it if the issue is more solid. Thank you

[2020-10-01 20:49] #7390 closed

[2020-10-01 20:53] slevenick commented on #7393
This is a bit of not ideal interaction between Terraform and the API structure, but not really a bug. What is happening here is that the fields you are modifying are marked as `Computed` and `Optional` within our Terraform schema, which means if you don't declare them in your config they will not track changes and change the resource based on them. `Computed` means the resource will accept differe

[2020-10-01 20:53] #7393 closed

[2020-10-01 20:55] edwardmedia commented on #7403
@nathkn can you provide your config and the debug log?

[2020-10-01 21:10] slevenick commented on #7339
Glad you've got a workaround. I'll close this as there isn't a provider-level solution to this problem

[2020-10-01 21:10] #7339 closed

[2020-10-01 21:10] slevenick commented on #7334
Looks like eventual consistency to me. I'm unclear on why this would be showing up for you though, I thought we already had polling on the resource creation. I'll check it out and maybe tune it a bit

[2020-10-01 21:12] slevenick commented on #7353
Closing this issue for now as the API doesn't support `labels` at this time. When the API supports this you can file an issue to request support and we should be able to add it fairly easily

I've marked `labels` as deprecated with a note on it not being available currently. Prefer this to removing the field to prevent breaking existing configs that specify labels

[2020-10-01 21:12] #7353 closed

[2020-10-01 21:43] slevenick commented on #7404
Hey @n-chiappero does this only happen when you call `terraform apply` many times in quick succession? Does the API call that returns the 400 error succeed for the other times that you run `terraform apply`?

To me this sounds like a quota issue, as most of the GCP APIs have limits on the number of requests you can make per (minute | second | hour)

It would be helpful if you could include logs fr

[2020-10-02 00:13] #7336 closed

[2020-10-02 01:35] bharathkkb opened #7413 "Support forwarding_path for google_dns_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-02 08:23] elelement commented on #7401
Yes, thank you:
[code]

[2020-10-02 08:30] debakkerb commented on #7393
Thanks for clarifying.  I had a look at the documentation again and it says indeed that Terraform will not unenroll it when the field is removed, so that makes sense now.

My colleague and I were looking at the provider code and apparently the same applies to the `private_access_config`-block: https://github.com/hashicorp/terraform-provider-google/blob/3bdd32795f221857b38a8fcda03282934b505003/goog

[2020-10-02 08:33] Muhamed-Hamid opened #7414 "Error 404 response when create node_pool"
Hey,

Using google provider

*When i try to create a node pool to a GKE cluster managed by composer, i refer the `config.0.gke_cluster` in cluster but i got the response:
**Error: error creating NodePool: googleapi: got HTTP response code 404 with body:
The requested URL /*******/clusters/zone-pricing-dev-id-gke/nodePools?alt=json&prettyPrint=false was not found on this server. That’s all we know.

[2020-10-02 09:18] n-chiappero commented on #7404
Hi Sam, thank you for taking some time to look at this.
I seriously doubt it is a question of rate/limit, because once I got the error, it never runs without error again. I have to delete the project.
Plus, I ran the tests with `-parallelism=1` option, which should avoid doing concurrent requests.
I did the test on a freshly new project this morning:
1. First run : https://gist.github.com/n-chiapp

[2020-10-02 13:06] upodroid commented on #7414
Hi

Yes, you need to look at the value that field returns.

If you run `gcloud composer environments list --format yaml`, you will see that the gkeCluster field is the selflink (projects/REDACTED/zones/europe-west1-b/clusters/europe-west1-prd-composer01-86fbb10d-gke) of the cluster which is not what you need in the cluster field. It needs to be the name

You need to split this string and retain th

[2020-10-02 14:06] dogmatic69 commented on #7295
@edwardmedia can you please reopen the issue, I cant,

[2020-10-02 14:48] Muhamed-Hamid commented on #7414
@upodroid  Yeah, that's what i mean it there exactly like with full path added again to the path. it should be like :
""projects/BLABLA/zones/europe-west1-b/clusters/europe-west1-pricing-dev-g0a10a67bf-gke"" and it suppose for `config.0.gke_cluster` to return either this "**europe-west1-pricing-dev-g0a10a67bf-gke**" and append it to whole location or return the entire location.
In my case it retur

[2020-10-02 15:30] slevenick commented on #7393
Ah, yeah looks like setting everything to false causes the server to not return the private cluster config, so we needed to ignore in that case.

Old bug here: https://github.com/hashicorp/terraform-provider-google/issues/3056

[2020-10-02 15:36] slevenick commented on #7404
Ok that is very strange. The same request succeeds one time and fails another, and it's a GET request so its pretty simple. If I had to guess I would say something about your service networking is setting up incorrectly behind the scenes, so it succeeds at first but then stops working.

Honestly I don't know much about service networking or why this would be happening, and this doesn't seem to be

[2020-10-02 15:47] edwardmedia commented on #7414
@Muhamed-Hamid below is part of an example from [container_node_pool.](https://www.terraform.io/docs/providers/google/r/container_node_pool.html). It seems clear what value should be provided to `cluster`. I am closing this issue. Feel free to reopen if you want to continue the conversation. Thanks

[code]

[2020-10-02 16:02] edwardmedia commented on #7401
@elelement you log does not contain what I was looking for. I am not sure what value of the `network` is. I would suggest you to run the [example](https://www.terraform.io/docs/providers/google/r/compute_network_peering.html) to see if that works for you.

[2020-10-02 16:27] #7363 closed

[2020-10-02 18:28] #7413 closed

[2020-10-02 20:49] #7305 closed

[2020-10-02 20:51] jsipprell opened #7417 "Managed Instance Groups have no way to set UpdatePolicy.ReplacementMethod"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-02 22:24] #6996 closed

[2020-10-02 23:53] Muhamed-Hamid commented on #7414
I'm not creating the cluster using "google_container_cluster". I'm creating using "google_composer_environment" !

[2020-10-03 06:47] nahz opened #7419 "google_billing_budget add support for disable_default_iam_recipients"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-03 06:49] nahz commented on #7419
... and I'm already looking at adding this functionality myself.
Branch is over here: https://github.com/nahz/magic-modules/tree/update-product-billingbudget-defaultrecipients

[2020-10-03 14:24] matihost opened #7420 "google_os_login_ssh_public_key googleapi: Error 400: Project ID must be specified"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-03 14:55] sylvainar opened #7421 "bq: quotes issues with view queries"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-03 16:12] sylvainar commented on #7421
Weird because it works perfectly when using the scheduled job from the beta provider (using the same query)

[2020-10-03 22:09] thiagonache commented on #6222
@umairidris and @morgante I've tested @umairidris idea and should work as below.
[code]
Would you guys willing to review a PR for precheck function?
Note: I still need to check the scope needed.

[2020-10-04 10:29] syedrakib opened #7422 "maintenance_window of google_sql_database_instance replica is stuck - not changing / updating / refreshing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-04 21:02] bodegus opened #7423 "BQ - JSON/CSV external table autodetect:false - unable to set/use hive partitions as parameters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-04 21:20] dogmatic69 opened #7424 "Please reopen my ticket"
I cant re-open even though it has added details requested.
https://github.com/hashicorp/terraform-provider-google/issues/7295

[2020-10-05 06:38] aman-w-kumar commented on #7334
Just curious, if this issue is resolved ?

[2020-10-05 08:07] MajorBreakfast opened #7425 "Monitoring alert policies: Unexpected diff when filter contains line breaks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-05 08:36] michael-bernards-db commented on #7425
👍

[2020-10-05 10:21] elelement commented on #7401
The value is (my-xpn-network is not the real name of the network project).
` "projects/my-xpn-network/global/networks/${module.global_shared_vpc[0].vpc_name}"`

What about the last sentences?
This: **True does not match config value cty.NullVal(cty.Bool)**
[code]

And its consequence: **this is a bug in Terraform; please report it**:
[code]

For now I could only create manually the resource and im

[2020-10-05 12:14] v-morlock opened #7427 "Creating a firebase project uses the default project instead of the specified one"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-05 13:10] edwardmedia commented on #7420
@matihost did you set the environment variable, GOOGLE_PROJECT, on you machine? If not, you may review the [provider configuration doc](https://www.terraform.io/docs/providers/google/guides/provider_reference.html). If the problem persists, please post your debug log.

[2020-10-05 13:25] edwardmedia commented on #7421
@sylvainar The error massage *Try using standard SQL* seems clear what was wrong. It appears not from The Terraform plugin. I would suggest you review the [doc](https://cloud.google.com/bigquery/docs/reference/standard-sql/enabling-standard-sql) to see if that helps

[2020-10-05 13:28] edwardmedia commented on #7422
@syedrakib can you post your config and the steps to reach the issue?

[2020-10-05 13:36] edwardmedia commented on #7424
https://github.com/hashicorp/terraform-provider-google/issues/7295 reopened. Clsoing this

[2020-10-05 13:36] #7424 closed

[2020-10-05 13:40] edwardmedia commented on #7423
@bodegus can you post the debug log?

[2020-10-05 13:52] edwardmedia commented on #7425
@MajorBreakfast what do you see if you add **AND** between each?

[2020-10-05 14:42] bodegus commented on #7423
https://gist.github.com/bodegus/c1637592660b7a80496a18ee5f61ccd9

interesting - looks like it raises a warning.

2020/10/05 09:41:11 [WARN] Provider "registry.terraform.io/-/google" produced an unexpected new value for google_bigquery_table.aws_source_usage_v2, but we are tolerating it because it is using the legacy plugin SDK.
    The following problems may be the cause of any confusing errors fr

[2020-10-05 15:07] edwardmedia commented on #7427
@v-morlock is this similar to https://github.com/hashicorp/terraform-provider-google/issues/6377?
Can you add below code before `google_firebase_project`?
[code]

[2020-10-05 15:07] azuenko opened #7428 "Missing datasource : google_runtimeconfig_variable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-05 15:12] megan07 commented on #6617
@mikida12 - no problem!  i'm glad it's working! thanks for letting me know!

[2020-10-05 15:12] #6617 closed

[2020-10-05 15:25] edwardmedia commented on #7401
@elelement unless you share the **module** code, the error **True does not match config value cty.NullVal(cty.Bool)** is not conclusive. Again, I would suggest you hard-code the `network` to see if the issue persists.

[2020-10-05 15:56] syedrakib commented on #7422
I used the [**v3.2.0** of the **terraform-google-sql-db / mysql** module](https://github.com/terraform-google-modules/terraform-google-sql-db/tree/v3.2.0/modules/mysql) for my work. It is [these lines](https://github.com/terraform-google-modules/terraform-google-sql-db/blob/v3.2.0/modules/mysql/read_replica.tf#L104,L108) that are causing the issue.

Please note that, even though its [providers.tf

[2020-10-05 16:02] elelement commented on #7401
I've tested hard coding the network name and now the error is different, **but there's no bug error message**:

[code]

So, the problem lies in the use of variables in the network name? If I hardcode the variable name, then there's no error?

Thank you again for your time.

[2020-10-05 16:23] umairidris commented on #6222
Hi @thiagonache,

Thanks for testing the idea out. Neither myself nor @morgante actually work on the provider, so we can't give you approval. I would ask @danawillow to assign someone to look at this.

Regarding the code, I would not use a real project #, instead use one that would not exist like '000'. Do note that the provider already has a way to instantiate clients (the project resource alread

[2020-10-05 16:51] #7373 closed

[2020-10-05 17:14] slevenick opened #7431 "Test failure TestAccMonitoringDashboard_"
These fail in Teamcity, but not locally, which is strange

[2020-10-05 17:16] slevenick opened #7432 "Test failure TestAccAccessApprovalOrganizationSettings_update"
TestAccAccessApprovalOrganizationSettings_update: provider_test.go:267: Step 1/4 error: After applying this test step and performing a `terraform refresh`, the plan was not empty.
stdout

[2020-10-05 17:58] #7324 closed

[2020-10-05 18:00] thiagonache commented on #6222
@umairidris Thanks for your answer. I'll wait for @danawillow .
Yes, this code snippet is more like a "just test the idea/poc".

[2020-10-05 18:05] c2thorn commented on #7311
This issue seems to have sidetracked from its initial post. I've merged a PR to address the issue @n-oden was facing in https://github.com/hashicorp/terraform-provider-google/issues/7311#issuecomment-696691310 to make `health_checks` no longer required. If there are still issues past this point, I ask that a new issue is filed so we can better track.

[2020-10-05 18:05] #7311 closed

[2020-10-05 21:17] megan07 commented on #6512
Hi @anubbhavm! Thanks for opening this issue. I'm beginning to work on it now. I'm assuming that this service account would be appended to a list of `accessLevel.basic.conditions.members`, but `conditions` is an array, so I'm wondering if you have a preference on how to specify which condition to add the service account to. Thanks!

[2020-10-05 21:25] danawillow commented on #7327
Hi @imrannayer, the solution of removing the `ignore_changes` line works here too. I created a sample config based on your last comment, and was able to use that to have it make the correct changes. Here's a gist that shows the changes: https://gist.github.com/danawillow/fb14a810e2efce6c131a4e9c4bda4b52. In the second I just commented out the lines that I wanted to remove so that you can see where

[2020-10-05 21:25] #7327 closed

[2020-10-05 21:37] anubbhavm commented on #6512
Hey @megan07! No preference really - whatever is easier for you to implement.

[2020-10-05 22:41] melinath opened #7435 "Promote GitHub cloud build triggers to GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-05 23:14] danawillow commented on #6222
@thiagonache seems reasonable to me! There's already a function called `resourceGoogleProjectCheckPreRequisites` that I think would be a good place for this. I can't guarantee I'll actually be the one to review it though- we have a bot that chooses a member of our team randomly.

[2020-10-05 23:58] #7002 closed

[2020-10-06 01:25] nicoleczhu opened #7438 "Release channel stable defaults to old GKE version v1.15.12-gke.20"
To reproduce:
1. Install Terraform v0.13.4 with something like:
[code]
2. Provision "google_container_cluster" "gke"  with provider "google-beta", any zone, no other special configs
3. Deploy everything and note that the cluster version is `v1.15.12-gke.20`

Expected:
It's not clear from documentation which official release channel Terraform defaults to:
https://cloud.google.com/kubernetes-engine/

[2020-10-06 07:13] sylvainar commented on #7421
Putting the flag `use_legacy_sql` to `false` made it work. I tried `true` but not `false` lol.

This is the config I ended up using:

[code]

Hope it'll help others.

[2020-10-06 07:52] pdecat commented on #7210
IMO, fields like `port` that have default values set by the API should be `Computed` (in addition to `Optional`) to eliminate permanent diff when not explicitly defined in configuration.

[2020-10-06 07:58] pdecat commented on #7210
Note: there's some diff suppress code in https://github.com/hashicorp/terraform-provider-google/blob/v3.41.0/google/resource_compute_health_check.go#L77-L111 that should remove the diff if `port_specification` is set to `USE_FIXED_PORT`.

[2020-10-06 08:45] Muhamed-Hamid commented on #7414
@edwardmedia  This is a bug, just take few minutes to look at that.

[2020-10-06 10:10] MajorBreakfast commented on #7425
Weirdly enough I too don't see it anymore today and I don't know what changed compared to what I saw yesterday and during the past few weeks. I'm going to close this issue and reopen a more precise one if I encounter it again. Thank you for having a look!

Note: The people voting thumbs up are people on my team who saw the diffs in our ci

[2020-10-06 10:10] #7425 closed

[2020-10-06 13:10] n-oden commented on #7314
Confirmed fixed; thank you!

[2020-10-06 13:14] edwardmedia commented on #7401
@elelement as your module code is invisible, I don't know how it works. But from this particular resource, it works fine. The latest error *There is already a peering* seems clear. You can start to import if you want to use Terraform to manage the resources. I am closing the issue now.  Feel free to reopen it if you see there is an issue with the resource. Thank you

[2020-10-06 13:26] edwardmedia commented on #7438
@nicoleczhu Here is what Terraform doc says. Terraform does not control the version. You can always set it to a particular version (minimum) if you want. Does this make sense?

[code]

[2020-10-06 13:35] pdecat opened #7440 "Cannot clear "description" field of google_compute_health_check"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-06 14:04] elelement commented on #7401
So, in my opinion, it seems that the network value was null or empty (or wrong). However, I find that it is a little bit misleading the text of the error:

Don't you think so? I could never find out that the network name was bad because of the error shown.

Thank you  for your support.

[2020-10-06 16:18] nicoleczhu commented on #7438
Thanks Edward for your help!

So if you run `gcloud container clusters create...` right now, they default to v1.16 of gke. I'm also hoping to avoid pinning a specific GKE version in Terraform.

So my question is: when Terraform says `If unset, the cluster's version will be set by GKE to the version of the most recent official release (which is not necessarily the latest version)`, which "official

[2020-10-06 16:28] edwardmedia commented on #7440
I see the problem Here is another [log](https://gist.github.com/edwardmedia/a0955615948fc01039c6ab18b1af54a5)

[2020-10-06 16:42] edwardmedia commented on #7438
@nicoleczhu here is the [doc](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters) that might help answer your questions.

initialClusterVersion

[ReleaseChannel](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters#releasechannel)

[2020-10-06 16:46] edwardmedia commented on #7421
@sylvainar I am glad you have figured this out. Thank you for posting your resolution.

[2020-10-06 16:46] #7421 closed

[2020-10-06 16:53] DavidS opened #7443 "data google_service_account:account_id overly restrictive"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-06 16:55] nicoleczhu commented on #7438
thanks for your help!

you are right. so it turns out... Google does a staged release across 4 days to cover all the zones. I was using a Day 4 zone -.-

[2020-10-06 18:39] matihost commented on #7420
I set the project in google provider... otherwise other resources could not be created.
The full .tf + makefile (make apply ) in the same directory:
https://github.com/matihost/learning/blob/master/terraform/gcp/gcp-iam/oslogin.tf

I'm using Application Default Credentials.
(aka assume make google-authentication has been run once)

The debug snippet:
[code]

[2020-10-06 21:06] edwardmedia commented on #7438
@nicoleczhu I am glad you have got the answers. Closing the issue then.

[2020-10-06 21:06] #7438 closed

[2020-10-06 21:49] edwardmedia commented on #7420
@matihost  the *Project ID* is included in the user. For the *user* field, it should be something like `myname@myproject.iam.gserviceaccount.com` while yours is `name.surname@gmail.com`. Can you update the value for user and then try again?

[2020-10-06 22:25] edwardmedia commented on #7420
Need to add `projectId` for https://cloud.google.com/compute/docs/oslogin/rest/v1beta/users/importSshPublicKey#query-parameters

[2020-10-06 23:21] edwardmedia commented on #7422
@syedrakib instead of module, can try run a single instance by removing unrelated field? Please provide the full debug log, if the problem still occurs.

[2020-10-07 01:35] #6800 closed

[2020-10-07 09:18] DavidS commented on #7443
Using https://www.terraform.io/docs/providers/google/d/compute_default_service_account.html instead worked.

[2020-10-07 14:59] hmootez opened #7449 "Error: json: error calling MarshalJSON for type googleapi.RawMessage: unexpected end of JSON input"
Hello,

**Terraform v0.13.3**
**provider registry.terraform.io/hashicorp/archive v1.3.0**
**provider registry.terraform.io/hashicorp/google v3.42.0**

when I try to refresh the state of Terraform, plan, or apply I end up getting this error :
**Error: json: error calling MarshalJSON for type googleapi.RawMessage: unexpected end of JSON input**

when I execute the plan separately for each target it

[2020-10-07 16:21] Dev25 opened #7450 "Add BigQuery Monthly/Yearly time partitioning support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-07 16:23] venkykuberan commented on #7449
@hmootez  can you please share the full debug log?, just want to see what the request & response to get understand it better.

[2020-10-07 16:31] venkykuberan commented on #7443
I will move this to enhancement bucket for `google_service_account` data source. It will get triaged and worked on if team decides to take off the validation.

[2020-10-07 16:41] Dev25 commented on #7450
I have created a PR that can hopefully speed this along.

[2020-10-07 16:58] #7431 closed

[2020-10-07 18:04] wvanderdeijl opened #7455 "request: IAM Workload Identity Federation resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-07 18:59] megan07 commented on #6512
Hi @anubbhavm! I'm so sorry, I'm struggling to figure out the best way to represent this as it's own resource.  I almost think the only way we can do it is to make the entire `condition` a resource instead of just the service account. Would that work?

[2020-10-07 19:33] rileykarson opened #7456 "Add `deletion_protection` for `google_spanner_database`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-07 20:45] #7333 closed

[2020-10-07 21:36] anubbhavm commented on #6512
Hey @megan07! Yes, that should work.

[2020-10-07 22:36] mgarstecki opened #7458 "Add a google_compute_router_nat datasource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-07 22:55] rileykarson opened #7459 "Add support for `auth_enabled` in `google_redis_instance`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-07 23:28] #7450 closed

[2020-10-08 01:58] vfiset opened #7462 "validVersions based on version_prefix in google_container_engine_versions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-08 08:53] sharkymcdongles opened #7463 "google_container_cluster has no way to set master firewall ports"
By default the google_container_cluster creates a firewall rule to allow 443 and 10250 ports for the master node IP cidr. This firewall rule is not returned by the resource as an output nor is it configurable. I think this functionality should be added either as an output to allow the rule to be added or as a var that is set at creation time.

[2020-10-08 09:28] hmootez commented on #7449
Hello @venkykuberan, you can find the full log  trace int the attached file :

[terraform.txt](https://github.com/hashicorp/terraform-provider-google/files/5346705/terraform.txt)

2020-10-08T11:22:10.842+0200 [DEBUG] plugin.terraform-provider-google_v3.42.0_x5: 2020/10/08 11:22:10 [DEBUG] Retry **Transport: Stopping retries, last request failed with non-retryable error: empty non-retryable error r

[2020-10-08 13:55] naseemkullah opened #7464 "[resource/monitoring_alert_policy] Add support and docs example for MQL Alerting Policy"
### Description

https://cloud.google.com/monitoring/mql/alerts have recently been made available, they can be created in the UI, but have not had luck with terraform

### New or Affected Resource(s)

* google_monitoring_alert_policy

### References

https://cloud.google.com/monitoring/mql/alerts

[2020-10-08 15:09] bodegus commented on #7423
*sigh* version issue I misread the version I was using - bumping up to 3.31 solves the problem

[2020-10-08 15:09] #7423 closed

[2020-10-08 15:26] tvvignesh commented on #6021
@danawillow @bharathkkb This is happening for me too quite frequently when running tf plan

`Error: Error creating service account: Post "https://iam.googleapis.com/v1/projects/<projectid>/serviceAccounts?alt=json&prettyPrint=false": oauth2: cannot fetch token: Post "https://oauth2.googleapis.com/token": dial tcp: lookup oauth2.googleapis.com on 127.0.0.53:53: read udp 127.0.0.1:57976->127.0.0.53:

[2020-10-08 16:03] edwardmedia commented on #7394
@j-don is this still an issue?

[2020-10-08 16:04] edwardmedia commented on #7403
@nathkn is this still an issue?

[2020-10-08 16:06] edwardmedia commented on #7422
@syedrakib is this still an issue?

[2020-10-08 16:57] edwardmedia commented on #7427
@v-morlock  Is this still an issue?

[2020-10-08 17:20] nathkn commented on #7403
@edwardmedia yes it is still an issue, it's not particularly easy to redact all the private info from the config/debug, but I'll try to get something for you. I was hoping it'd be something to find without that for that reason.

[2020-10-08 17:39] skreinberg97 opened #7467 "Cloud Run env variables reordering causing resource to update in-place"
Our cloud run resource needs to be updated every run as the environment variables are reordering. This seems to be completely on the Terraform side as our actual Cloud Run instance does not seem to be affected.

### Terraform Version

v0.13.2

### Affected Resource

* google_cloud_run_service

### Terraform Configuration Files

[code]

### Expected Behavior

For the environment variables to be in

[2020-10-08 18:07] sharkymcdongles commented on #7463
@edwardmedia I assumed it was coming from this resource provider because when you create a private googe_container_cluster resource, a firewall rule is automatically created that opens 443 and 10250 named something like:  cluster-name-randomstring-master

I assumed this was configurable, but you're right it seems it is not given the documentation as they suggest piggy backing off the rule instead

[2020-10-08 18:07] #7463 closed

[2020-10-08 18:18] angelkok commented on #7138
I can replicate the issue and the manual workaround @priyankak1212 described. In order to use the GitHub repo, I first had to manually connect the repository through Cloud Build | Triggers | CONNECT REPOSITORY. Once the repository is linked, my terraform issue described here went away. Connecting process opens a window to GitHub repo search to link individual repos. I'm not sure yet how to get aro

[2020-10-08 19:32] nathkn commented on #7403
still working on debug logs, but it seems pretty clear without them that the `input: true` [line here](https://github.com/GoogleCloudPlatform/magic-modules/blob/2eae605c9b536d9ed1e9d3b9706fcae07ec6cf26/products/compute/api.yaml#L6960) is set erroneously:

[code]

[2020-10-08 19:53] nathkn commented on #7403
and here is the config and debug logs
https://gist.github.com/nathkn/514468fdb65ebb9e21bfdbb4f5efbe16

[2020-10-08 20:00] trevoro commented on #7212
Most of the commands to manipulate the cloud gateway seem fairly straightforward. The resources are easy to reference and are unique. The challenge / design decision seems to be mostly based around how to handle the openapi specification yaml file. Is that something that would be embedded into a terraform config / module or would it simply be referenced and edited along side `.tf` files?

[2020-10-08 20:11] #7432 closed

[2020-10-08 20:14] danawillow commented on #6021
@tvvignesh can you try increasing the value for `request_timeout` in your provider block? https://www.terraform.io/docs/providers/google/guides/provider_reference.html#request_timeout-1

[2020-10-08 20:25] venkykuberan commented on #7467
I don't see that happening for the sample config below
[code]
Can you please attach the plan output and debug log for your `apply`

[2020-10-08 20:45] dinvlad commented on #7212
I'd suggest keeping it simple in the beginning, using a regular string field, like so:
[code]
This is similar to how it can be done, for example, through the `body` argument of `aws_apigatewayv2_api`.
Then if there's need for a dedicated data source, we could add it later without changing this feature.

[2020-10-08 20:49] upodroid commented on #7212
I'm thinking of having a yaml template that terraform dynamically generates at plan/apply time. As you see in the tutorials you need to supply urls of functions and cloud run services. Maybe some service account emails too.

https://www.terraform.io/docs/configuration/functions/templatefile.html

[2020-10-08 20:51] tvvignesh commented on #6021
@danawillow Ahh. Did not know that a timeout option existed. My bad. Tried it and it works great most of the times now (it does fail in some instances though), Thanks.

[2020-10-08 20:58] dinvlad commented on #7212
For sure, and the above syntax (`yamlencode`) supports that too.

[2020-10-08 21:11] rileykarson commented on #6222
Closed by #7447

[2020-10-08 21:11] #6222 closed

[2020-10-08 21:27] skreinberg97 commented on #7467
Hey! Thanks for your help, hopefully this is useful. I _believe_ the issue is caused by the google_secret_manager_secret_version data object -- if the environment variables are hard-coded in plain text then we do not see the same behavior

[code]

**Debug Output**
[code]

[2020-10-08 21:33] thiagonache commented on #4196
This is already handled by this https://github.com/hashicorp/terraform-provider-google/pull/1316https://github.com/hashicorp/terraform-provider-google/pull/1316, isn't it?

[2020-10-08 21:39] thiagonache commented on #4135
Hi folks,
I would like to take this issue. I'll take @gabrielgbim as an example, but we need to support disable and deletion which is done currently via gcloud in the terraform project factory module. I think it's fairly simple, just need to "translate" the python code to go.

Please, let me know your considerations.

[2020-10-08 21:40] upodroid commented on #4196
Not quite. The VPC is created when the Compute Engine API is enabled. You can stop this by setting the constraint I mentioned earlier.

I would go a step further and consider removing #1316 from the provider in the next major release.

[2020-10-08 21:41] dddomin3 opened #7469 "NAT gateway with nat_ip_allocate_option=AUTO, no ip address output"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-08 21:52] thiagonache commented on #4196
but we need to support places that do not use Org Policy. I read someone google.com doesn't, so you could not apply such behavior in google.com Org.

[2020-10-08 21:56] upodroid commented on #4196
You shouldn't be using Google Cloud projects that don't belong to an organization as your missing alot of powerful features.

You apply that policy to the organization and it applies to every project that is part of it.

[2020-10-08 21:59] morgante commented on #4135
I'd actually like to propose we do this in a separate resource instead of coupling it to project creation.

[2020-10-08 22:00] thiagonache commented on #4196
You didn't get what I meant, sorry. English is my second language, so it is not very good.
What I mean is that independently of best practices, terraform shouldn't force any behavior. You should be able to deploy whenever you want.
I understand best practices and I've implemented the entire enterprise best practices document from Google. So, don't take me wrong, you don't need to tell me that.

[2020-10-08 22:02] thiagonache commented on #4196
but now I see that what you're saying is correct and it is different from what is on the PR I mentioned.

[2020-10-08 22:06] thiagonache commented on #4135
Ok. Any considerations from the maintainers?

[2020-10-08 22:16] rileykarson commented on #4135
@morgante: That's so that it can run after service activations, right?

I think it's fine if we do that, since we'll catch a good number of default SAs that way. We should note in the resource that specifying the resource does not ensure that all default SAs have been removed- just that Terraform attempted to remove them at some point.

[2020-10-08 22:16] upodroid commented on #4196
I think terraform should be opinionated.

2 years ago, #1316 was a valid way of doing it but now we have constraints so we should remove it now in favour of using the constraint.

[2020-10-08 22:22] thiagonache commented on #4196
I'm happy with agreeing to disagree. Maybe when I got more mature I'll change my mind but for now, I don't see terraform being opinionated on anything existing.  Thank you for making me think about it.

[2020-10-08 22:26] danawillow commented on #4196
I think supporting users who choose not to use organizations is a completely valid thing to do. Not everyone uses GCP in the exact same way, and especially if people are just starting out and experimenting, it's better to meet people where they are (while also guiding them to best practices).

[2020-10-08 22:27] danawillow commented on #6021
No worries! It actually took me a decent amount of time debugging this a month or two back to realize that that specific error would be fixed by increasing the timeout. And yeah, they happen sometimes for non-networking related reasons (sometimes things just queue up on the service end for whatever reasons)

[2020-10-08 22:34] thiagonache commented on #4135
@morgante Also another question for you, we currently support disable, delete, and deprivilege. Should we support all these three states?

[2020-10-08 22:35] morgante commented on #4135
Right, I also want to avoid adding more logic to `google_project` as any failures in that resource lead to tainting the entire project (which is an expensive resource to delete or create).

Yes I think so (`action = "delete"`) for example.

[2020-10-08 22:38] upodroid commented on #4196
I can submit a doc change to the project resource that recommends the constraint instead of using the auto_create_networks field.

[2020-10-08 22:44] thiagonache commented on #4135
okay. I'll work on that. Once I have something I'll put in here for discussion.
Thank you, guys!

[2020-10-08 23:39] mxfactorial opened #7471 "google_monitoring_dashboard terraform destroy fail"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-08 23:43] #2998 closed

[2020-10-09 00:19] danawillow commented on #7449
@hmootez, next time you report a bug please fill out the bug template (https://github.com/hashicorp/terraform-provider-google/issues/new?template=bug.md).

In the meantime, can you please share your terraform config and whether this is when you're trying to apply a new resource or update an existing one (if it's an update, can you please share the old version and the new version)? The resource tha

[2020-10-09 05:33] akhilesh0 opened #7473 "GKE nodepool optional autoscaling enable/disable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-09 07:39] anagas opened #7474 "Changing GKE Network settings"
Hello

We created a gke with terraform, then we had to change the network settings for the secondary range. I replaced the old range with the new one and started the Terraform plan. Everything looks fine, then I started Terraform apply, but it fails it says the secondary range cannot be changed.

I would expect Terraform to destroy the gke and start it all over again with the new secondary range,

[2020-10-09 09:12] dancmeyers commented on #4196
Some context, as I'm OP - We are part of an Org structure, but I am not an Org Admin. The BBC is a large org, with some top level enforcement of settings, but different teams within the org having their own projects and operating in different ways according to their needs.

The main reason for my team wanting to prevent this behaviour is that we are making use of shared VPCs for cross-project comm

[2020-10-09 09:40] TitanRob16 opened #7475 "Deploying GCP Bucket With Multiple Storage Classes?"
According to the documentation (https://www.terraform.io/docs/providers/google/r/storage_bucket.html), the acceptable values for "storage_class" are:
_STANDARD, MULTI_REGIONAL, REGIONAL, NEARLINE, COLDLINE, ARCHIVE._

However, what if I want to deploy a GCP bucket that's REGIONAL and ARCHIVE?

I've tried:
_storage_class = "ARCHIVE, REGIONAL"_

And:
_storage_class = "ARCHIVE", "REGIONAL"_

Neither

[2020-10-09 09:52] thiagonache commented on #4196
You need to have admin permissions at org level but you can apply at folder level. I’m not sure if will be able to have org admin at folder level only at some point but you can ask the admins to set the policy on your folder.

[2020-10-09 10:06] upodroid commented on #4196
Going back to the original issue, it already been fixed for some time. https://github.com/hashicorp/terraform-provider-google/blob/be1e66cfdd7ab36dd0b01b37024378204f84b9ab/google/resource_google_project.go#L179 . The project resource enables the Compute Engine API and deletes the default network. That being said, you need to ensure that auto_create_networks is set to true before the project is cre

[2020-10-09 14:20] sfc-gh-mgarda opened #7476 "Ability to perform cloud sql PITR"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-09 15:14] mvn-srizzari commented on #7170
I'm also facing this issue in Terraform v0.13.3.  Seems like this was closed without addressing the problem brought up.  Can someone reopen it please?  Thanks in advance.

[2020-10-09 15:46] preston-hf opened #7477 "Cloud Identity Group Resources don't work with Application Default Credentials"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-09 16:39] rileykarson commented on #2924
To expand upon

I believe we could check whether either of the values are unknown, in which case we would accept the plan.

[2020-10-09 16:44] danawillow commented on #4196
@upodroid this issue is for doing it _when the compute API is enabled_, not when the project is created (the initial poster specifically calls this out). I'm not sure why you're arguing that the issue is not valid to keep open (especially since it's in our Backlog milestone, which is effectively our "we want to keep this open for discussion purposes" milestone), and I would encourage you to focus

[2020-10-09 16:54] rileykarson opened #7478 "b/170122100"
Actionable date: Oct 5

[2020-10-09 17:30] danawillow commented on #7471
The fix for this has been submitted and will appear in the next release: see https://github.com/GoogleCloudPlatform/magic-modules/pull/4064 for the fix.

[2020-10-09 17:30] #7471 closed

[2020-10-09 17:31] upodroid commented on #4196
I misread the issue.

[2020-10-09 17:39] nma commented on #7213
I've started taking a look at this. If anyone has already taken a look would love to get in touch and share any findings.

[2020-10-09 17:40] rileykarson commented on #7476
duplicates https://github.com/hashicorp/terraform-provider-google/issues/6848

[2020-10-09 17:40] #7476 closed

[2020-10-09 17:49] rileykarson opened #7479 "Make google_compute_region_network_endpoint_group available at GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-09 18:00] rileykarson opened #7480 "Add support for GKE Confidential Nodes (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-09 18:14] #7459 closed

[2020-10-09 18:15] danawillow opened #7481 "update n1- VMs to e2- in all tests/examples"
We've been asked to stop using N1 VMs in our test project because E2s are more efficient.

[2020-10-09 18:16] venkykuberan commented on #7473
@akhilesh0 can you please share your plan output ?

[2020-10-09 18:26] #7374 closed

[2020-10-09 19:10] trevoro commented on #7212
OK so I dug into what it takes to write these. There's a generator written in ruby that probably needs to be used. It would take me awhile to wrap my head around how that works. I'd appreciate some guidance from the team on the best example resource that's similar to this so I can get an example before digging in. FWIW it's fairly impressive.

[2020-10-09 20:01] danawillow commented on #7398
Hi @Rob-S, we talked about this in our triage meeting this week and decided we would not like to pursue this FR. Unfortunately, there's no good way for us to tell the user's intent here- they may have changed the name of the instance template specifically _because_ they made a new instance template and want the instance to be recreated based on it, and I think that silently allowing the field to b

[2020-10-09 20:01] #7398 closed

[2020-10-09 20:20] hashibot[bot] opened #7484 "terraform import fails for google_compute_global_network_endpoint"
_This issue was originally opened by @alrf as hashicorp/terraform#26468. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

Network endpoint resource:
[code]

Endpoint group resource:
[code]

### Expec

[2020-10-09 21:20] #3999 closed

[2020-10-09 22:27] rvandegrift opened #7486 "Need a way to migrate to google_bigquery_dataset_access"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-09 23:46] #5544 closed

[2020-10-10 00:10] #3442 closed

[2020-10-10 10:21] venkykuberan commented on #7475
You can use `location` (ex: location = "US") and `storage_class` as `ARCHIVE`.

[2020-10-10 10:21] #7475 closed

[2020-10-10 10:24] venkykuberan commented on #7467
Please attach the debug output, I want to see API request/response.

[2020-10-12 00:17] edwardmedia commented on #7477
@preston-hf can you see if https://github.com/hashicorp/terraform-provider-google/issues/6806 helps?

[2020-10-12 00:21] edwardmedia commented on #7394
Closing this as no response received.

[2020-10-12 00:21] #7394 closed

[2020-10-12 00:24] edwardmedia commented on #7422
@syedrakib closing this as no response received. Please retested by separating the provider code from the module. Feel free to reopen it if the issue can be reproed.

[2020-10-12 00:24] #7422 closed

[2020-10-12 00:26] edwardmedia commented on #7427
@v-morlock I am closing this issue now. Feel free to reopen it if this is still an issue

[2020-10-12 00:26] #7427 closed

[2020-10-12 09:17] antoinecastex opened #7493 "Concurrent activation of dependent / independent APIs"
hashicorp/google-beta: version = "~> 3.42.0"

Step #1: Error: Request "Enable Project Service \"cloudfunctions.googleapis.com\" for project \"itg-iclosing-gbl-ww-np\"" returned error: failed to send enable services request: googleapi: Error 400: Another activation or deactivation is in progress for the following service(s): cloudfunctions.googleapis.com and project itg-iclosing-gbl-ww-np., failedP

[2020-10-12 09:17] antoinecastex commented on #7493
related to that https://github.com/terraform-google-modules/terraform-google-project-factory/issues/461

[2020-10-12 11:10] upodroid commented on #7477
This was recently fixed in terraform for all resources.

You need to specify `billing_project` field in the provider. Have a look at the warning on https://www.terraform.io/docs/providers/google/r/access_context_manager_service_perimeter.html.

I can open PR that adds the warning to Cloud Identity resources

[2020-10-12 13:49] hmootez commented on #7449
@danawillow thank you for responding.

Here is the added bigquery resource, btw as i said when i apply with this only target resource it works fine but not when applying with all resources:

**Bigquery**

resource "google_bigquery_table" "video_metrics_table" {
  dataset_id = "ad_server"
  table_id   = "VideoMetrics"
  description = "Video metrics details (playing video time)"

  time_partitioning

[2020-10-12 14:23] jba opened #7494 "separately mananged node pool creation fails with autoscaling"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-12 14:34] edwardmedia commented on #7494
@jba can you share the debug log?

[2020-10-12 16:08] c2thorn commented on #7055
There is an issue in the API that prevents disk overrides from working correctly. Following up internally.

[2020-10-12 16:37] bharathkkb commented on #7493
Also similar to: https://github.com/hashicorp/terraform-provider-google/issues/7103

[2020-10-12 16:46] danawillow opened #7496 "TestAccAccessApprovalProjectSettings_update is flaky"
[code]

[2020-10-12 16:47] danawillow opened #7497 "Fix TestAccOSConfigPatchDeployment_osConfigPatchDeploymentBasicExample"
[code]

[2020-10-12 17:31] ndmckinley commented on #1144
This is tracked by b/170333727.

[2020-10-12 17:34] rileykarson commented on #7435
We should follow up with the team to determine if the feature is experimental

[2020-10-12 17:39] #7072 closed

[2020-10-12 17:39] #7154 closed

[2020-10-12 17:49] slevenick commented on #7486
Hey @rvandegrift you can try the bigquery dataset IAM policy which wraps the dataset access resource as a workaround. It should be able to support your use case

https://www.terraform.io/docs/providers/google/r/bigquery_dataset_iam.html

[2020-10-12 18:14] #7440 closed

[2020-10-12 18:15] rileykarson commented on #6848
Tracked internally as b/170484123

[2020-10-12 18:15] rileykarson commented on #1144
Note that there's some exploration of the implementation in the internal bug above that's worth considering.

[2020-10-12 18:16] rileykarson commented on #2446
Note that backups need to be restored on an already-existing instance.

[2020-10-12 18:21] rileykarson commented on #6848
This is done using the https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/instances/clone endpoint, an alternative create endpoint.

It's unclear how the SQL settings are applied when cloning- we'd likely need to call into Update, which also won't work if HasChange is used.

[2020-10-12 18:21] #7372 closed

[2020-10-12 18:21] #7371 closed

[2020-10-12 18:39] preston-hf commented on #7477
@edwardmedia that doesn't work for me, I'm just trying to control membership by making the delegated SA an owner of the group, which I did get working locally with ADC by creating another provider using a delegated token. I would like to not need the extra provider though, and it seems like @upodroid's solution may work. Do you have a link to the PR where you fixed this issue?

Also, I did set the

[2020-10-12 18:43] megan07 commented on #6767
Hi @preston-hf ! Sorry for the delay in responding to this - we will be moving our documentation to the terraform registry shortly (https://github.com/hashicorp/terraform-provider-google/issues/7374).  Which will happen once [this](https://github.com/GoogleCloudPlatform/magic-modules/pull/4061) is released, this will not be an issue after that.
Thank you!

[2020-10-12 18:43] #6767 closed

[2020-10-12 19:02] upodroid commented on #7477
https://github.com/GoogleCloudPlatform/magic-modules/pull/3886

I had the same issues with Access Context Manager API

[2020-10-12 19:25] preston-hf commented on #7477
I can confirm that configuring the provider like this:
[code]
Allows it to work with ADC. However, setting `user_project_override = true` means I now need to enable various apis in every project I manage with this config instead of it being centrally managed in an isolated terraform project. Is there any way around this? I guess I could use provider aliases and it would be a little cleaner?

[2020-10-12 19:31] upodroid commented on #7477
Having APIs enabled is not something specific to User  ADCs.

If you had a service account foobar@some-project.iam.gserviceaccount.com all the apis you are using must be enabled in some-project.

[2020-10-12 19:52] rvandegrift commented on #7486
I left this out of my example to keep it simple, but I need authorized view support.

[2020-10-12 20:21] rileykarson opened #7501 "AccessContextManager Context Aware Access UserAccessBinding resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-12 20:29] rileykarson opened #7502 "Add maintenance_policy to google_compute_node_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-12 20:30] preston-hf commented on #7477
Ok, I thought that was the way it was already behaving. I will leave it up to y'all to keep this open or not to track the error message fix.

[2020-10-12 20:32] upodroid commented on #7477
Leave it open, I'll add the same warning message to the cloud identity resources.

[2020-10-12 20:33] n-oden opened #7503 "cannot edit a google_compute_region_network_endpoint_group in use by a google_compute_backend_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-12 20:35] n-oden commented on #7503
As a note here: we _cannot_ in this case use `google_compute_region_backend_service` -- as noted in the comments to #7311 google cloud load balancing requires the use of global backend services.

[2020-10-12 22:35] #7420 closed

[2020-10-12 22:49] venkykuberan commented on #7484
RegEx and doc needs to fixed for this resource, In the meantime can you try the following import pattern and see if works for you

 `terraform import {{your-project}}/my-lbs//{{fqdn}}/443`.

For `INTERNET_FQDN_PORT` type, you need to use empty value for IPaddress segment.

[2020-10-12 23:51] rayward opened #7506 "Support source_snapshot for instance template disks."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-13 00:15] #7224 closed

[2020-10-13 01:49] j-don commented on #7394
Hmm. I'm not sure how else to describe it? It's a fairly common pattern. Create a service account in project A. Then, give that service account owner permissions to project B. Example terraform:

[code]

[2020-10-13 10:04] anagas commented on #7474
Hello venkykuberan

This is also what i expected but it fail could it be this fails because it is in a module?

An execution plan has been generated and is shown below.
Resource actions are indicated with the following symbols:
  ~ update in-place
  - destroy
-/+ destroy and then create replacement

Terraform will perform the following actions:

  # google_compute_route.main-route-3 must be replac

[2020-10-13 11:46] alrf commented on #7484
@venkykuberan it works, thank you.

[2020-10-13 15:31] #7502 closed

[2020-10-13 16:09] megan07 commented on #7295
Hi @dogmatic69 ! Sorry that you're running into this issue. I was able to reproduce the issue with the configuration in your latest comment, however, when I added `autogenerate_revision_name = true` as you have in your original issue it seemed to work. Can you verify that the issue is still there after adding `autogenerate_revision_name = true`?
Thanks!

[2020-10-13 16:18] venkykuberan commented on #7474
Looks like the API is complaining that CIDR block you are trying to use is invalid. Please try the valid cidr range .

[2020-10-13 17:01] #7477 closed

[2020-10-13 18:04] shanesavoie opened #7512 "Add support for IAM authentication to google_sql_user"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-13 18:58] melinath commented on #7435
The team confirms that the feature is not experimental; the docs are just out of date slightly. Github triggers are GA.

[2020-10-13 22:25] #7478 closed

[2020-10-14 07:42] adamcunnington commented on #5866
@danawillow is this now resolved?

[2020-10-14 07:54] braderhart opened #7516 "compute_instance.html.markdown - Ignition Config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-14 08:57] samhumphreys-2sixty commented on #5866
Looks like this has been released in [3.37.0](https://github.com/hashicorp/terraform-provider-google/blob/master/CHANGELOG.md#3370-august-31-2020). This issue can be closed now 👍

[2020-10-14 08:57] #5866 closed

[2020-10-14 10:41] akhilesh0 commented on #7473
@venkykuberan : I have already mentioned plan output in Debug Output. Below is the log
[code]

[2020-10-14 11:22] ErikEngerd opened #7517 "VM instance keeps on being update despite no change to configuration"
When defining a VM instance using machine type "e2-custom-4-4096", the VM is updated every time terraform apply is run. The change that is indicated is

 `machine_type              = "e2-highcpu-4" -> "e2-custom-4-4096"`

So apparently, "e2-custom-4-4096" is mapped to "e2-highcpu-4" when the VM is created.
`

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.git

[2020-10-14 12:06] dvalemark opened #7518 "Having annotations in google_cloud_run_domain_mapping forces deletion and recreation of the resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-14 15:28] edwardmedia commented on #7516
@braderhart the plugin does not have control over what you can provide. But it would be good to be accurate in the document. Where do you see **Container-Optimized OS doesn't accept an Ignition Config, only cloud-init**? Can you post the link over here?

[2020-10-14 16:08] #7334 closed

[2020-10-14 16:12] megan07 commented on #7370
Module Attribution will only work with terraform version `0.13.0` and above, however, due to the issue [here](https://github.com/hashicorp/terraform/issues/25961), many of our data source tests will fail if we update TC to use `0.13.0` right now. Once the fix for that issue is released, we can update the terraform version in TC and this should be fixed.

Our other option, which I believe we've dis

[2020-10-14 16:57] #7497 closed

[2020-10-14 17:06] iddan opened #7522 "Document google_project_service_identity can be used for Cloud Build"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-14 17:47] #7484 closed

[2020-10-14 18:17] braderhart commented on #7516
@edwardmedia I tested it myself and got an error in the cloud-init logs, and the basic Ignition Config to create a systemd unit didn't work. I guess I could spin up another compute instance to be more specific, but it may be better to test it yourself and confirm that it isn't working, or if you are able to get it to work then provide more specifics.

Additionally, none of Google's documentation p

[2020-10-14 18:43] #6512 closed

[2020-10-14 19:04] venkykuberan commented on #7517
Looks like an API bug, I tried with `e2-custom-8-4096` and didn't see that behavior.
However to mitigate this issue for the given machine_type `e2-custom-4-4096`, you can add the following in your config
[code]

[2020-10-14 19:04] #7517 closed

[2020-10-14 19:53] edwardmedia commented on #7516
@braderhart  can you post your debug log? I did research and did not find any doc that supports your statement. Again, the Terraform plugin does not control what to run in the metadata. To repro, can you provide the code for both scripts?

[2020-10-14 20:13] megan07 commented on #7503
Hi @n-oden! Could you try adding
[code]
to the `google_compute_region_network_endpoint_group` resource? This should create the new network endpoint group before the old one is deleted, thus triggering the update in `google_compute_backend_service` first, and it won't be attached to the backend service during delete.

You can read more about `create_before_destroy` [here](https://www.terraform.io/d

[2020-10-14 20:27] braderhart commented on #7516
@edwardmedia I understand that the Terraform plugin does not control what to run in the metadata. In this instance, I am referring to `metadata.user-data` which is based on the OS image being used and if it doesn't work, then it simply doesn't process the configuration and will provide the error in the instance logs but the instance will start fine so there is nothing to report to Terraform. The d

[2020-10-14 20:58] kyle-young opened #7526 "Plan without cloudkms.cryptoKeyVersions.useToDecrypt permission"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-14 21:14] venkykuberan commented on #7518
Cloud Run API (https://cloud.google.com/run/docs/reference/rest/v1/namespaces.domainmappings/create)  doesn't have an update method so`google_cloud_run_mapping` resource have only Create, Read & Delete methods. Any change in the resource config requires resource to be recreated after destroy.

[2020-10-14 21:14] #7518 closed

[2020-10-14 21:48] rileykarson opened #7528 "[Action Advised] Migrate from Classic VPN to High Availability VPN by October 2021"
I save the body of the email to the team google group. (some) Important bits:

We should determine if there's impact on Terraform and make changes if appropriate.

[2020-10-14 22:46] edwardmedia opened #7530 "Add access[].routine for Bigquery dataset"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-14 23:02] venkykuberan commented on #7473
The error message you shared isn't adequate enough to understand the issue, I need to see your resource config to understand which required attribute is missing ?

[2020-10-15 00:09] #7526 closed

[2020-10-15 00:48] danawillow commented on #7449
Ok, I changed my mind. I think the dataflow job resources are the issue. Can you share one of those? In addition, if it's true that the error can only be reproduced with trying to apply the entire config, then I'll need to see the entire config so that I can try to reproduce the issue.

[2020-10-15 04:19] braderhart commented on #4448
Can we please at least get this added to the `google-beta` provider for now?

[2020-10-15 06:59] dvalemark commented on #7518
the problem is that it recreates at every deploy without anything being updated in the module as long as it has annotations.

[2020-10-15 07:30] braderhart opened #7532 "compute_instance (beta) -- An NVMe interface is required for disks attached to confidential VMs. The interface must be specified as NVMe at the time of disk creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-15 10:07] pdecat commented on #7440
Hi @edwardmedia, @danawillow,

I'm surprised this isn't fixed by v3.43.0 that was just released. It also did not make it in the release notes.

The commit is there in master: https://github.com/hashicorp/terraform-provider-google/commits/master/google/resource_compute_health_check.go
but not in v3.43.0: https://github.com/hashicorp/terraform-provider-google/commits/v3.43.0/google/resource_compute_

[2020-10-15 10:37] thiagonache commented on #4135
Hi folks,

I've time to give some thought to it today and this is what I came up with:
[code]
This would be the main code for the new resource (of course it is not in terraform format yet).

Please, let me know if I can keep following this path.

[2020-10-15 11:08] thiagonache commented on #4135
[code]
This is the pdsa package for your consideration too

[2020-10-15 11:36] gdsotirov commented on #6953
The feature is already in beta, so should we expect it in the google-beta provider at least?

[2020-10-15 12:45] DnR-iData opened #7533 "[HELP] google_service_usage_consumer_quota_override limit"
Hi m8,

I'm trying to change the quota limit from a `N2_CPUS` limitation by using [`google_service_usage_consumer_quota_override`](https://www.terraform.io/docs/providers/google/r/service_usage_consumer_quota_override.html) function

![image](https://user-images.githubusercontent.com/2852024/96123153-b9fa5f80-0ef2-11eb-86bf-cd021e562e67.png)

Here the sample code :
[code]

I've tried many things i

[2020-10-15 12:49] thiagonache commented on #4135
terraforming it:
[code]

[2020-10-15 13:14] n-oden commented on #7503
@megan07 good news!  That works, and thank you!  But before we close this issue, I'd like to strongly asset that either:

1. this should be the default behavior when a `google_compute_region_network_endpoint_group` is bound to a `google_compute_region_network_endpoint_group`, or...
2. this should be explicitly documented

While the ability to construct this sort of LB setup is new, it is also goog

[2020-10-15 13:40] thiagonache commented on #4135
@morgante what's the behaviour we want when the project id or the action is updated? I think we should ignore it since it could perform actions on non-default service accounts, does it make sense? Do you know if is there any way to filter only "defaults" SAs?

[2020-10-15 14:18] hyww commented on #7169
After doing some experiments today, I could say that whether `max_utilization` exists or not doesn't affect the behavior of `RATE` mode backends. Thus, I think cannot update `max_utilization` will be the only problem left for this issue.

[2020-10-15 14:35] megan07 commented on #7503
Thank you for the suggestion @n-oden - I've created the above pull request to add documentation suggesting this set-up if you'd like to take a look!

[2020-10-15 14:52] jtymes opened #7534 "Promote HA VPN Gateway to GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-15 15:07] edwardmedia commented on #7494
@jba can you repro the issue?

[2020-10-15 15:20] melinath commented on #7435
Sorry, clarification - the feature is not experimental, but the API is.

[2020-10-15 15:46] n-oden commented on #7503
Looks good and thank you!

[2020-10-15 15:57] danawillow commented on #7440
@pdecat we cut our releases on Wednesday and then they go out on Monday, so this will be in 3.44.0: https://github.com/hashicorp/terraform-provider-google/pull/7527/files#diff-06572a96a58dc510037d5efa622f9bec8519bc1beab13c9f251e97e657a9d4edR27

[2020-10-15 16:00] rileykarson commented on #7435
That's GA for our purposes, generally- we track the stability of the underlying feature and not the API.

[2020-10-15 16:26] #1866 closed

[2020-10-15 16:39] morgante commented on #4135
@thiagonache I think we should actually restrict this to only the default service accounts (based on filtering the name): https://cloud.google.com/iam/docs/service-accounts#default

If you change the project ID that should be treated as a delete & recreate IMO ("delete" the resource on the old project, "create" it on the new one). Changing the action should be an update.

Here's my proposed state

[2020-10-15 16:47] pdecat commented on #7440
Oh :facepalm:

I've been away of the internals of this provider's development for some time.
Has this delayed release workflow been in place for long?

[2020-10-15 16:56] thiagonache commented on #4135
I didn't know we could have just two. Honestly, I've never checked that before.

Agreed

It does make sense to me.

Thank you!!!

[2020-10-15 17:01] danawillow commented on #7440
Yeah, I think we started around the beginning of 2020? It helps us make sure we get a release out at about the same time every week, and if there are issues with our integration tests we have a few days to resolve them.

[2020-10-15 17:05] morgante commented on #4135
Technically you could remove it from your state file, but that seems fine too.

[2020-10-15 17:08] rileykarson commented on #4135
Reactivation would add significant complexity to the resource, right? We'd need to know the list of default SAs and their associated IAM roles, and recreate them + assign those roles (maintenance would be pretty high, too- we'd need to update the resource any time a new default SA is added). In contrast, the initial delete/disable/deprivilege action we can infer based on the project number.

I wou

[2020-10-15 17:22] morgante commented on #4135
Always using `ForceNew` is also reasonable.

I do think reactivation is important to include. We've seen a number of support cases where customers were unsure how to reactivate and needed to in order to use certain products.

[2020-10-15 17:28] thiagonache commented on #4135
yeah... I meant just regarding the service account. on destroy we should always remove from the state.

[2020-10-15 17:29] thiagonache commented on #4135
I was following this path ^^

[2020-10-15 17:31] thiagonache commented on #4135
Yeah... I could figure out by myself but I did this issue when using GKE for the first time. But I agree it would be hard to maintain over time. The roles associated and the number of default services accounts may change.

[2020-10-15 17:34] morgante commented on #4135
We don't necessarily need to restore the roles, but I think reactivating any deactivate accounts is doable.

[2020-10-15 17:35] thiagonache commented on #4135
sounds good to me. @rileykarson ?

[2020-10-15 17:37] rileykarson commented on #4135
Reactivation seems fine to do, then! Specifically [enabling a disabled service account](https://cloud.google.com/iam/docs/creating-managing-service-accounts#iam-service-accounts-enable-rest), since we can list the service accounts and filter for disabled ones.

Restoring roles and undelete would require more information than we'll have available. We don't know the role:sa mapping, and won't know t

[2020-10-15 17:39] thiagonache commented on #4135
I'll submit a draft PR soon.

[2020-10-15 17:48] upodroid commented on #7528
Part 1: Mark HA VPN Gateway GA. https://github.com/hashicorp/terraform-provider-google/issues/7534 PR: https://github.com/GoogleCloudPlatform/magic-modules/pull/4115
Part 2: Added a deprecation note in the `google_compute_vpn_gateway` docs. Part of 4115

[2020-10-15 18:19] rileykarson commented on #7528
Hmm- the last part suggests we don't want to deprecate the original `google_compute_vpn_gateway ` resource, just modify it:

[2020-10-15 18:19] tnguyen14 opened #7538 "Support importing of compute router BGP peer"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-15 18:23] rileykarson commented on #7534
Related: https://github.com/hashicorp/terraform-provider-google/issues/7528, for our team to enact everything required by the partial deprecation.

@upodroid has sent out https://github.com/GoogleCloudPlatform/magic-modules/pull/4115 which marks this as GA.

[2020-10-15 18:23] upodroid commented on #7528
Yeah, it is tricky to deprecate fields in schema.

[2020-10-15 18:26] rileykarson opened #7539 "Move google_runtimeconfig_variable apply-time validation to plan-time"
We should move [this chunk of code](https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/resources/resource_runtimeconfig_variable.go#L191-L197) to plan-time, ideally through an `ExactlyOneOf`.

[2020-10-15 18:35] jtymes commented on #7534
I think `google_compute_external_vpn_gateway` probably could get added to this promotion as well.

[2020-10-15 19:06] jba commented on #7494
I got pulled off this project temporarily. I will try to get you a debug log by Monday.

[2020-10-15 20:06] thiagonache commented on #4135
hey, Riley.

Please, see the PR mentioned.

hey, Dana.

Looks like you were selected to review the PR. Looking forward to hearing from you.

[2020-10-15 20:28] venkykuberan commented on #7533
This doc https://cloud.google.com/service-usage/docs/manage-quota may give some lead ..

[2020-10-15 20:52] #7064 closed

[2020-10-15 20:52] #7351 closed

[2020-10-15 21:48] #7248 closed

[2020-10-15 22:04] #7419 closed

[2020-10-15 22:05] edwardmedia commented on #6102
bigquery_dataset_access
bigtable_gc_policy
compute_backend_bucket_signed_url_key
compute_backend_service_signed_url_key
compute_instance_from_template
container_registry
dataflow_flex_template_job
dataflow_job
dataproc_cluster
dataproc_job
endpoints_service
google_service_account_key
kms_secret_ciphertext
project_service_identity
service_networking_connection
sql_ssl_cert
storage_bucket_acl
storag

[2020-10-15 22:27] lwatterworth-cldr opened #7545 "Data source google_compute_network does not support shared VPC"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-15 23:04] bgmonroe opened #7546 "Please add parent_id the google_project resource to consolidate org_id and folder_id functionality."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-16 00:27] #7534 closed

[2020-10-16 03:44] axot opened #7548 "google_logging_project_exclusion not working properly"
Since recently Google migrated the excludes to `logging.googleapis.com/projects/project/locations/global/buckets/_Default`,
We found these rules which created by `google_logging_project_exclusion` shows exclusion rate 0% in the UI, details is in below.
So if then you add some new rules from Web UI, all exists exclusion rules will be applied as 0% exclusion rate.

Example terraform:
[code]

![image

[2020-10-16 07:21] jenshonkan84 opened #7549 "Essential Contacts"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-16 07:44] DnR-iData commented on #7533
Thanks a lot @venkykuberan,

After some read and testing I think this limit can't be changed via Terraform, it's only available from Console UI.

[code]

[code]

[code]

Can you confirm I can't change via Terraform ?

Thanks a lot.

[2020-10-16 13:20] hashibot[bot] opened #7551 "TF never removes GCP FW logs when log_config is removed from the resource"
_This issue was originally opened by @bmsareias as hashicorp/terraform#26609. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

Initial config
[code]

later-config
[code]

### Expected Behavior

The l

[2020-10-16 15:51] #7532 closed

[2020-10-16 17:39] melinath commented on #7435
That makes sense - thanks!

[2020-10-16 17:57] megan07 commented on #7168
Upstream issue: https://issuetracker.google.com/issues/167262303

[2020-10-16 19:08] mzaheer commented on #5971
Hi is there an update on this issue? Making any changes to export or import custom routes should be a non-destructive operation on the peering connection.

@anGie44 I see you have a pull request in for the change but do we know when we can expect the request to be merged/resolved?

[2020-10-16 20:05] johnnymac6 commented on #6294
While this example runs by adding the setting for controlling all egress through the VPC connector in the snippet below breaks the build with the following error:

`
    metadata {
      annotations = {
        "run.googleapis.com/launch-stage" : "BETA"
        "run.googleapis.com/vpc-access-egress" : "all"
        "run.googleapis.com/vpc-access-connector" = "vpc-connector"
      }
    }
`

This i

[2020-10-16 20:39] steren commented on #6294
If there is a google beta provider, this provider should probably set the Beta annotation as explained in the error message

[2020-10-16 20:43] steren commented on #6294
Ah sorry, the issue in your example is that the launch stage annotation should go on the Service itself, not the template.

[2020-10-16 20:48] #7456 closed

[2020-10-16 21:06] johnnymac6 commented on #6294
Switching that to the service metadata worked perfectly. Appreciate the support!

[2020-10-16 21:34] rileykarson opened #7558 "Ensure that batched requests all support module attribution"
We'll need to do it in a way that doesn't modify the global config object, as removed in https://github.com/GoogleCloudPlatform/magic-modules/pull/4123.

[2020-10-16 22:05] rileykarson commented on #3254
I'm going to close this as stale/outdated. Please feel free to open it again / file a new issue if it's still a problem!

[2020-10-16 22:05] #3254 closed

[2020-10-16 22:05] rileykarson commented on #4341
I'm going to close this as stale/outdated. Please feel free to open it again / file a new issue if it's still a problem!

[2020-10-16 22:05] #4341 closed

[2020-10-16 23:02] #6102 closed

[2020-10-17 09:58] MajorBreakfast opened #7562 "'enable_message_ordering' field in the Subscription is not mutable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-17 13:34] circa10a commented on #2024
[v1 of the api](https://cloud.google.com/compute/docs/reference/rest/v1/backendServices) supports `EXTERNAL` load balancing scheme. @paddycarver Any way the priority on this could be bumped?

[2020-10-17 23:23] upodroid opened #7563 "Add mtu field to google_compute_network"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-18 17:36] Rob-S opened #7564 "google_iam_policy documentation"
(I was unable to comment on Issue #481 or #820.)

The [google_iam_policy page](https://www.terraform.io/docs/providers/google/d/iam_policy.html) says:

_This data source is used to define IAM policies to apply to other resources. Currently, defining a policy through a datasource and referencing that policy from another resource is the **only** way to apply an IAM policy to a resource._

Aren't the

[2020-10-18 19:54] wvanderdeijl commented on #7212
You could also have a look at https://github.com/GoogleCloudPlatform/magic-modules/tree/master/products/servicemanagement which is the confit for Google Cloud Endpoints which is a *very* similar product to the new API Gateway product

[2020-10-18 19:56] upodroid commented on #7212
I already wrote a PR for this. It is the linked issue that will close this issue.

[2020-10-18 20:43] Rob-S commented on #7398
@danawillow OK. I was thinking that the field values in GCP would be more definitive than the ones in Terraform (as indicated by the first sentence in my original "Description" and based on the "refreshing state" messages you see during plan and apply). So, if the diffs are based on the Terraform fields rather than the GCP instance attributes...

In that case, would it be possible to add the "sour

[2020-10-18 20:48] cosma commented on #6520
any updates on this issue?

[2020-10-18 20:52] cosma commented on #6521
hey guys, do you have this in development?

[2020-10-19 09:34] aamarques opened #7565 "Fix bug with empty `initialize_params` block #664"
Hey..
I'm using terraformer with Google Provider. I've imported all the resources I want, including compute instances.
For test purposes, I have deleted on instance from GCP console and did :

[code]
.. and got this error

[code]
if I open the file and comment on the source line, terraform runs successfully..

[code]

**compute_instance.tf:**

[code]
....
**terraform plan:**

      + boot_disk {

[2020-10-19 15:38] edwardmedia commented on #7564
@Rob-S There are two things you may want to notice
1. What gcp resources:  google_*project*_iam_binding and google_*project*_iam_member are policies on *project* and google_*storage*_bucket_iam_binding, google_*storage*_bucket_iam_member are for *storage*.
2) What policies: *_binding*, *_member* and *_policy* are for different usages. Please note all existing policies will be *deleted*  if you use

[2020-10-19 15:54] edwardmedia commented on #7494
Closing this issue. @jba  Please reopen if once you have the debug log. Thanks

[2020-10-19 15:54] #7494 closed

[2020-10-19 16:04] edwardmedia commented on #7548
@axot  can you explain what you expect and what the actual behavior is?

[2020-10-19 16:26] #7563 closed

[2020-10-19 16:44] danawillow commented on #7398
I don't think we could add `source_instance_template` to the data source since that would require us to be able to query GCP for the instance template used for a specific instance, which as you mentioned, isn't something available in the API. In the provider implementation there isn't any way to read the state of any resource/data source other than the one being acted on, so we wouldn't be able to

[2020-10-19 16:46] edwardmedia commented on #7551
@fd I see Logs turning to **Off* on the Console UI after I updated the config. Can you post the debug log so I can take a close look?

[2020-10-19 16:50] femnad commented on #7464
Added a PR proposing to address this issue.

[2020-10-19 17:22] warden commented on #6260
Same problem with 4.3.0. I would even ask, why do I have to define logging in the first place instead of using the default values.

[2020-10-19 17:23] rileykarson commented on #7530
note: we should consider the impact on bigquery_iam and bigquery_dataset_access resources as well

[2020-10-19 17:27] rileykarson commented on #7522
This is possibly possible through https://www.terraform.io/docs/providers/google/r/project_service_identity.html, depending how the API exposes the account.

[2020-10-19 17:31] thiagonache commented on #4135
Hey guys

Morgante or Riley, I've added support to undelete the service account when it was deleted. If any of you guys want to take a look and see if I did not forget anything would be helpful.

[2020-10-19 17:55] preston-hf opened #7570 "google_service_usage_consumer_quota_override should support providing organizations and folders"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-19 18:54] upodroid commented on #7356
@slevenick we can close this issue. The upstream issue has been fixed.

https://github.com/hashicorp/terraform/commits/v0.14?after=f4b686b5f3db28f09d2561eb2aee3e1c3a9bf270+104&branch=v0.14 ( pr 26470)

It is in v0.14 but no mention in the changelog.

[2020-10-19 19:00] jvkessel opened #7571 "google_compute_instance docs missing details on creating e2 and n2 custom instance types"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-19 19:05] steren commented on #7518
Let's clarify:

If should be possible to create a domain mapping with the `"run.googleapis.com/launch-stage" = "BETA"` annotation and it is expected for this annotation to be returned by the Cloud Run API when reading the created mapping.

In the reported issue, are you applying this terraform config from scratch? or are you applying it on an existing project?

[2020-10-19 19:44] ioreilly opened #7574 "Please expand supported locations for google_logging_*_bucket_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-19 19:47] slevenick commented on #7356
Closing, thanks for the follow-up @upodroid

[2020-10-19 20:13] upodroid commented on #7574
Hello

You can specify any location in the field. Terraform is not doing any field validation on it.

https://github.com/hashicorp/terraform-provider-google/blob/master/google/resource_logging_bucket_config.go

Can you leave the issue open? We'll update the docs to remove global and us-central1

[2020-10-19 20:17] rileykarson commented on #7546
Closing as a duplicate of #5073

[2020-10-19 20:17] #7546 closed

[2020-10-19 20:18] rileykarson commented on #5073
See https://github.com/hashicorp/terraform-provider-google/issues/7546 as well for an alternative- we could consider mapping this to a single field (at the cost of users needing to specify the prefix)

[2020-10-19 20:33] iddan commented on #7522
Thank you! How should users be aware this is the correct way to receive the Cloud Build default service account?

[2020-10-19 20:55] dogmatic69 commented on #7518
It has been applied in both instances and always results in recreation of the domain mapping.

If creating the resource from scratch we need to use the beta flag or it fails, then we need to set annotations to null to avoid subsequent applys from recreating the mapping.

[2020-10-19 21:05] #7169 closed

[2020-10-19 21:46] venkykuberan commented on #7562
`enable_message_ordering` is not set to ForceNew. We will fix the provider code, thanks for filing.

[2020-10-19 22:18] tombeck commented on #7518
We have the same problem.
Creating a new google_cloud_run_domain_mapping resource always results in:
`Error: Error creating DomainMapping: googleapi: Error 400: The feature 'mapping custom domains' is not supported in the declared launch stage on resource *** The launch stage annotation should be specified at least as BETA. Please visit https://cloud.google.com/run/docs/troubleshooting#launch-stag

[2020-10-19 23:24] venkykuberan commented on #7565
Its working as expected, basically `initialize_params` is used if a new disk needs to created along with compute instance. `source` is used if i want to use an existing disk.

Provider doc:
 initialize_params - (Optional) Parameters for a new disk that will be created alongside the new instance. Either initialize_params or source must be set.  more info here - https://www.terraform.io/docs/provide

[2020-10-19 23:24] #7565 closed

[2020-10-19 23:36] venkykuberan commented on #7533
@DnR-iData If it can be done through REST API call then Terraform/Provider can do it.

[2020-10-20 02:45] steren commented on #7518
You should create the domain mapping with the annotation and never remove it afterwards.

Attempting to create without the annotation or removing it leads to a failure because custom domains are a Beta Cloud Run feature.

[2020-10-20 05:13] romankor commented on #6930
+1

[2020-10-20 12:44] neurolabs commented on #7518
@steren I can confirm that your approach does not work. After creating the domain mapping with the annotation, on the next plan terraform wants to recreate it due to:

[code]

including the serving*-annotations on subsequent applies works (but does not make sense, since they are set implicitly on creation and change). Also, the described tactic of adding on create and then removing the annotation

[2020-10-20 13:15] axot commented on #7548
Hello,

Expect result,
Google Console Web UI should show Exclusion rate as 100%.

Actual behavior,
Google Console Web UI show Exclusion rate as 0%.

Thanks!

[2020-10-20 13:53] emmekappa commented on #7518
Confirming the same issue as @neurolabs, as workaround I've configure the following lifecycle policies

[code]

[2020-10-20 14:34] edwardmedia commented on #7548
@axot can you share the debug log?

[2020-10-20 14:36] axot commented on #7548
Does debug log of terraform plan is okay too?

[2020-10-20 14:40] axot commented on #7548
I think apply 0% Exclusion rate by Web UI will generate the following diff. Does this help?

[code]

[2020-10-20 14:58] ZPascal commented on #7304
@c2thorn @tobias-farrenkopf I create a GCP [feature request](https://issuetracker.google.com/issues/171235562). I ask everyone who has the same problem to vote up the feature request.

[2020-10-20 16:18] rileykarson commented on #5971
Internal reference: b/171209909

[2020-10-20 16:21] rileykarson opened #7578 "b/170750443"

[2020-10-20 16:40] #4493 closed

[2020-10-20 16:55] rileykarson commented on #7522
Good question! I think we could consider adding an infobox on the page of resources with default service accounts that points to `google_project_service_identity`.

---

As a sidebar I just confirmed this works, with the config below (I posted a guess one of my teammates had during a triage meeting before):

[code]

[2020-10-20 17:43] edwardmedia commented on #7548
@axot I'd like to examine the requests and responses to GCP api for the `apply`

[2020-10-20 18:17] venkykuberan commented on #7545
If you want to pull the network details of host_project, you have to use host-project-id in data source where as rest of the config use your service-project-id
[code]

[2020-10-20 18:37] joe-a-t commented on #7455
@rileykarson I think this should be left open until `WorkloadIdentityPoolProviders` is also created since both are in the criteria and description of the issue?

[2020-10-20 18:40] rileykarson commented on #7455
Yep- whoops! Over-aggressive `Fixes` statement 🙂

Thanks!

[2020-10-20 19:03] dogmatic69 commented on #7518
@emmekappa nice, I was trying to do ignoire_changes but could not get the syntax correct. How did you figure out `metadata[0].annotations` and why the other two, I would think the whole block is enough?

[2020-10-20 19:30] burnzy commented on #6766
@tylerwengerd-cr Any chance you know if this workaround also works for column-level resources?
I can't seem to see what the proper resource id's are for columns — only datasets and tables seem to be supported, but maybe I'm missing something? (I can't seem to find a full list of all GCP resource names/ids)

[2020-10-20 20:54] cah-ken-flannery opened #7581 "Terraform out-of-memory with large config"
We have started to experience issues w/our terraform pipelines using too much memory when refreshing the state for large datasets. Our security architecture mandates all access to core datasets go thru authorized views. We have a particularly large dataset with nearly 630 tables resulting in 630 authorized views that need to be created/maintained by terraform. Processing this large of a dataset ex

[2020-10-20 21:02] slevenick commented on #7278
I thought that we would see issues related to this, but it appears that everything is working out reasonably well. Closing this issue for now as the rollout should be complete and no major issues were reported.

[2020-10-20 21:02] #7278 closed

[2020-10-20 21:42] steren commented on #7518
It seems that problem come from the `"serving.knative.dev/creator"` and `"serving.knative.dev/lastModifier"` auto added annotation. These annotations are not specific to domain mappings, they are set on every Cloud Run resources.
Terraform should ignore them by default. I will open an issue for this.

Wouldn't this be enough to fix domain mappings?
[code]

[2020-10-20 21:52] steren opened #7583 "Auto added annotations `serving.knative.dev/creator` and `serving.knative.dev/lastModifier` do not play well with Terraform"
Cloud Run automatically adds annotations to the created resources `serving.knative.dev/creator` and `serving.knative.dev/lastModifier` under `metadata[0].annotations` . This seems to cause troubles with Terraform (see [example](https://github.com/hashicorp/terraform-provider-google/issues/7518#issuecomment-712867246))

Would it be possible to ignore them by default?

It seems that adding this conf

[2020-10-20 21:52] steren commented on #7518
I opened https://github.com/hashicorp/terraform-provider-google/issues/7583 to ignore the creator and lastModifier annotations by default

[2020-10-20 21:54] #7562 closed

[2020-10-20 23:45] dv-tyler opened #7586 "Default Compute Health Check Port is null, should be `443`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-21 02:30] lwatterworth-cldr commented on #7545
@venkykuberan adding the project in there worked great -- but I do have "Owner" in both projects, which may sway results?

If this is indeed how things should work, and the problem was PEBKAC, could we spin this bug report into a documentation request?   Add a line or two, explicitly calling this out, maybe include shared VPC as an example?

thanks for the support!

[2020-10-21 07:26] axot commented on #7548
Example tf for apply. After apply this, Web UI show Exclusion rate as 0%.

[code]

API DEBUG LOG

[code]

[2020-10-21 07:31] omelnyk1 opened #7587 "google_logging_project_bucket_config doesn't work with custom log buckets."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-21 07:53] iddan commented on #7522
Awesome. Thank you!

[2020-10-21 08:32] #6075 closed

[2020-10-21 09:48] omelnyk1 commented on #7587
JFYI, update operation works good, if log bucket already exists.

[2020-10-21 10:05] upodroid opened #7589 "Add buildEnvironmentVariables to Cloud Function"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-21 10:30] omelnyk1 opened #7590 "google_logging_project_sink supports destination log bucket"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-21 12:02] bmsareias commented on #7551
@edwardmedia Thanks for the quick response. Further investigating the issue I can confirm that you're correct on this aspect. The issue only appears when you have at least used once the old deprecated declaration:

[code]

once the deprecated declaration was used, if we try to invert that state with the new declarations it will always fail or do nothing.

**Example 1:**

Initial config 1
[code]

i

[2020-10-21 12:44] sadatAliKhan commented on #6135
Subscription name in case of background functions conforms to the format - gcf-cloud function name-region where CF is deployed-topic for which function is created

For e.g. gcf-function1-us-central1-topicfunction1

I agree this should be handled by the cloud function api as that is what exclusively controls the subscription lifecycle ( in the case of b/g functions ).

[2020-10-21 13:06] FrancoisPoinsot commented on #7261
any news?

[2020-10-21 16:13] #7481 closed

[2020-10-21 17:16] edwardmedia commented on #7548
@axot from your log, it seems clear your setting was successfully accepted by GCP. I don't see anything wrong from the plugin's perspective. I don't know much about this feature. My question to you is how do you know it should be 100%? Can you deploy it using different tools?

[2020-10-21 17:25] edwardmedia commented on #7551
@bmsareias here is another open [issue](https://github.com/hashicorp/terraform-provider-google/issues/7309) that appears to address the same issue. I would consider to let that one for tracking. Feel free to reopen this if you see a need. Thank you

[2020-10-21 17:25] #7551 closed

[2020-10-21 17:26] pdecat opened #7593 "Support Cloud Firestore single field indexes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-21 17:33] rileykarson commented on #7545
Hey @lwatterworth-cldr!

You raise an interesting point about the difference between `gcloud` and Terraform with

In Terraform (well, in the Google provider(s) at least) we've decomposed the full path/name of a resource into parts. So while `gcloud` expresses the network as `projects/{{project}}/global/networks/{{name}}`, in Terraform you'd express the same thing by filling in the `project` and `n

[2020-10-21 17:44] rileykarson commented on #7581
Unfortunately I'm not sure that this is specific to the Google provider, or something we can do anything about. I'd suggest [filing an issue against `hashicorp/terraform`](https://github.com/hashicorp/terraform/issues/new/choose) and giving them feedback on your experience.

We have a handful of resources that get particularly large, as you've identified, and it's possible we could attempt do _som

[2020-10-21 17:44] #7581 closed

[2020-10-21 17:53] venkykuberan opened #7594 "default value for port to be changed to 443 in google_compute_https_health_check document"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-21 18:06] Chupaka commented on #7072
@david-wb what was the plan? Was it "update in-place" or "destroy and create a new instance"?

Because looks like "lifecycle { prevent_destroy = true }" is out-of-the-box solution for such cases for any resource.

[2020-10-21 18:09] jimmydurkin opened #7595 "CloudSQL behavior change v3.44.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-21 18:11] rileykarson commented on #7583
Precedent in https://github.com/hashicorp/terraform-provider-google/blob/master/google/resource_dataflow_job.go#L29, https://github.com/hashicorp/terraform-provider-google-beta/blob/master/google-beta/node_config.go#L593

[2020-10-21 18:29] david-wb commented on #7072
@Chupaka True, I've started using `lifecycle { prevent_destroy = true }` which might suffice for this. What really bothers me is that if the database does get destroyed, the backups are destroyed as well, but that is a GCP problem not a Terraform problem.

[2020-10-21 18:35] #7589 closed

[2020-10-21 18:57] rileykarson commented on #7595
It seems probable that the service networking check from https://github.com/GoogleCloudPlatform/magic-modules/pull/3954 is overtuned.

[2020-10-21 18:59] rileykarson opened #7597 "Fix TestAccOSLoginSSHPublicKey_osLoginSshKeyWithProjectExample test"

[2020-10-21 18:59] rileykarson opened #7598 "Fix TestAccCloudRunDomainMapping_cloudRunDomainMappingBasicExample test"

[2020-10-21 19:04] rileykarson opened #7599 "Fix TestAccMonitoringGroup_monitoringGroupSubgroupExample test"
This is an intermittent issue where destroy appears to fail. It appears to fail 1/5 times, so not quite enough to register as a flake.

[2020-10-21 19:05] rileykarson commented on #7599
Fixing this is probably "make a best effort attempt and we see if it comes up later" more than guaranteeing a fix.

[2020-10-21 19:06] rileykarson opened #7600 "Fix TestAccIapClient_iapClientExample test"
Appears to flake about 1/10th of the time- this should be a best-effort guess, and we can deal with it again later if it continues to come up.

[2020-10-21 19:10] upodroid commented on #7595
Hmm

That is very unlikely to happen if you are using Shared VPC. That error appears if the identity running terraform is missing `resourcemanager.projects.get` permission which unlikely because Compute Network User, Network Admin are roles you need which include this permission and the second one is needed to create the Service Networking resources to enable CloudSQL to work.

https://cloud.googl

[2020-10-21 19:16] rileykarson commented on #7072
@Chupaka: after setting a precedent for a `deletion_protection` field in Bigtable, we've decided it's something we'd like for databases generally within the provider. I think `3.45.0` will has the same for `google_spanner_database`, for example.

The difference between `deletion_protection` and `lifecycle.prevent_destroy` is that it's an opt-out field instead of opt-in. One of the most common oper

[2020-10-21 19:40] edwardmedia commented on #7587
@omelnyk1 I think the error message is clear, and you have found the solution. Bucket is a different resource, `google_logging_project_bucket_config` is not intended to manage the `Bucket. If you want Terraform to manage the Bucket, you may include `google_storage_bucket` and other resources in your plan. If this helps resolve your issue, please go ahead to close the issue.

`"message": "Bucket ne

[2020-10-21 20:21] venkykuberan commented on #7586
@dv-tyler actually Provider sends the default port value as 443 in API request (when config doesn't have port value) and updates the state with port value 443 as expected.  However TF plan finds the difference between your config & state and shows the in-place update.  To circumvent we have `diff supress func` for port but looks like its not working as expected. We will look into it.

[2020-10-21 20:30] #5575 closed

[2020-10-21 20:42] rileykarson commented on #7493
Ah! Looks like this just barely didn't make it into the last release, sorry. This will be part of `3.45.0`. We cut the release branch a few days before the actual release gets made.

[2020-10-21 20:42] #7493 closed

[2020-10-21 21:09] nitishkrishna opened #7601 "Generate memorystore redis instance auth string via TF"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-21 21:41] omelnyk1 commented on #7587
Hi @edwardmedia
Thanks for your reply. To be fair, it's not clear how to create logging bucket (not "_Default" and "_Required") from the scratch with Terraform. Resource `google_storage_bucket` doesn't suite.

[2020-10-21 21:49] danawillow opened #7603 "add import tests to beta-only resources"
This used to not be possible, but now with SDKv2 it is! This is super important because the import tests are the way that we know for most resources whether we actually are correctly setting values we read from the API back into state and detecting drift on them.

[2020-10-21 21:57] danawillow opened #7604 "Don't ignore identity fields in import tests"
Noticed this while working on https://github.com/hashicorp/terraform-provider-google/issues/7603. Right now for generated resources we do an ImportStateVerifyIgnore for anything that's ignore_read, but that means that it's easy to forget to add import support on fields that are core to the resource's identity and would cause a ForceNew immediately after import.

For example:
https://github.com/has

[2020-10-22 00:08] cm-wayfair commented on #7248
Can this be re-opened now that https://github.com/GoogleCloudPlatform/magic-modules/pull/4112 has been merged?

[2020-10-22 01:21] axot commented on #7548
I think this also related to #3844,

Actually it works as 100% Exclusion rate now and before,
The only problem here is, the Web UI shown as 100% before but 0% for now.

[2020-10-22 01:25] axot commented on #7548
And I also found a public issue in https://issuetracker.google.com/u/1/issues/170235669.

[2020-10-22 03:42] frasercarter commented on #3753
Google DNS Team have advised that this is working as intended, are we able to get terraform to leverage the following to retrieve this?

gcloud compute addresses list
--filter="purpose=DNS_RESOLVER"
--format='csv[no-heading](address, subnetwork)'

[2020-10-22 05:56] pdecat commented on #7440
Fix confirmed with v3.44.0, thanks!

[2020-10-22 06:02] mr-andyd opened #7605 "CloudSQL Postgres Read Replica (errorReadReplicaInvalidOperation)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-22 06:56] pratik141 opened #7606 "pub sub subscription: attributes in terraform.tfstate is empty"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-22 07:56] FrancoisPoinsot commented on #7261
I ran a small test:
- reduced the member list in the state to 12
- reduced the member list in the variable to 0
- run `time terraform plan`
- remove one member from the state

repeated the last 2 step until I can plot a graph
repeated the whole process with v3.13 and v3.14.
Ok I did not plot all the point of 3.14 because I just did not want to wait the whole morning in front of my screen.

Here ar

[2020-10-22 10:15] WouterFlorijn opened #7607 "Support regional endpoints for google_ml_engine_model"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-22 10:23] Sardonic-1 opened #7608 "Service is not created with google_project_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-22 12:38] FrancoisPoinsot commented on #7261
Test a bit again, with only 3 members.
Looking at the trace log I see parts that takes most of the time is waitings such as
[code]

This one above is the only waiting log done when running v3.13

When running v3.14 I have those:
[code]

full log for 3.14: https://gist.github.com/FrancoisPoinsot/3ebf48aac83a2472bdf6b641d583cb8a

[2020-10-22 12:51] FrancoisPoinsot commented on #7261
I see these waitings are wrapped by request and response object of `/v1/projects/ricardo-dev-ch:getIamPolicy` call.
So I guess the waiting is the waiting of the HTTP request.

in 1.13, the request take ~10s to run the first time and then is instantaneously answered for all following calls. As if cached.

in 1.14, the request always takes ~10s to run.

This look like an issue with the caching of th

[2020-10-22 13:50] jimmydurkin commented on #7595
As far as I can tell the identity running this code only has `roles/browser` on the shared vpc host project and `roles/owner` within the service project. In our case the host project is responsible for provisioning the service networking resources and that terraform code runs with a different GCP identity which has those roles.

I am early in my GCP learning so it is likely I've laid this out in a

[2020-10-22 15:21] Rob-S commented on #7398
@danawillow The stored value of the `source_instance_template` field would already be available, or at least accessible (from the Terraform state as we've both mentioned), since it needs to be there in order to compare and determine if that field has changed, and trigger the Compute Engine instance to be recreated, even though nothing in the CE itself has been changed.

In our environment, Terrafo

[2020-10-22 15:27] edwardmedia commented on #7587
@omelnyk1 I agreed the error message is confusing, which led me to think of a regular bucket. That is wrong. I did test your code and it works fine. I am able to see the **Logs buckets**being created.

[2020-10-22 15:39] edwardmedia commented on #7605
@mr-andyd can you post the debug log?

[2020-10-22 15:41] edwardmedia commented on #7606
@pratik141 Can you share your Terraform config code and debug log?

[2020-10-22 15:58] edwardmedia commented on #7608
@Sardonic-1 it needs a little extra time to have the service enabled before it becomes available for other resources that depend on it. To workaround it, you may need to add `delay` logic before the resource. Here is an [example](https://github.com/hashicorp/terraform-provider-google/issues/6377#issuecomment-628978514) that might want to take a look. If that works for you, please go ahead to close

[2020-10-22 16:13] omelnyk1 commented on #7587
@edwardmedia A deleted logging bucket stays in pending state for 7 days. I removed it manually via GCP Console as well. You'll be able to specify new bucket ids. For instance:
[code]
Please find full debug log below:
https://gist.github.com/omelnyk1/2c2911617791e90afddf8b945c5158f6

[2020-10-22 16:43] rileykarson commented on #7595
@jimmydurkin: I've got a fix, but I'd like to test it against this exact case before submitting it. Does this reproduction sound right?

You're using Terraform with some service account `foo`. `foo` has `roles/browser` _and no other roles_ on a VPC host project holding a shared VPC. `foo` additionally has `roles/owner` on a service project, where your DB is being created.

It's my understanding `f

[2020-10-22 16:47] davestibrany-dd opened #7609 "Cannot apply changes to CloudSQL replicas due to maintenanceWindow being implicitly set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-22 16:48] upodroid commented on #7595
If foo has browser then that error shouldn't appear.

https://cloud.google.com/resource-manager/reference/rest/v1/projects/get
[code]

[2020-10-22 16:49] upodroid commented on #7595
https://gist.github.com/jimmydurkin/1e2eb317ea1ed7b220d7bfca785d8985#file-gistfile1-txt-L294 That GET call shouldn't fail if the redacted identity has browser on that project.

Please double check the permissions.

[2020-10-22 16:58] rileykarson commented on #7595
@upodroid: We still want to reduce the permissions required regardless- requiring additional permissions is a breaking change. I believe it was possible in prior versions to only have `compute.networkUser` granted on the host project.

[2020-10-22 17:02] upodroid commented on #7595
The fix would be to change https://github.com/hashicorp/terraform-provider-google/blob/master/google/resource_sql_database_instance.go#L660 660 to match the same as 666

When I wrote it that the identity would atleast have `resourcemanager.projects.get` on the Shared VPC

[2020-10-22 17:12] jimmydurkin commented on #7595
Sorry. yes @upodroid you are correct, the service project owner identity that we use to run this code has no roles in the host vpc project.

i found this command so if it can be trusted there are no permissions granted to this user in the networking host project.
[code]

[2020-10-22 17:50] upodroid commented on #7595
So how do you create VMs in the service project using the network from Shared VPC?

[2020-10-22 18:01] ndmckinley commented on #7261
Thank you for that - I promise to look into this in more detail today.  My preliminary investigation didn't find a culprit - I suspected it might have been an upstream issue that would resolve itself, but it's clear that it's not.  I will keep looking.

[2020-10-22 18:15] jimmydurkin commented on #7595
We do not currently create VMs in the shared VPC from the service projects. Our gke host project(which does have network roles) provides the compute for our workloads

[2020-10-22 19:32] MajorBreakfast commented on #7562
@venkykuberan Thanks!

[2020-10-22 19:35] edwardmedia commented on #7587
@omelnyk1 there is an improvement for this resource in https://github.com/hashicorp/terraform-provider-google/issues/6377#issuecomment-628978514. Can you try with this version instead?

[2020-10-22 19:44] fallard84 opened #7610 "google_access_context_manager_service_perimeter_resource inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-22 19:49] brettcurtis opened #7611 "Service account service-<project_number>@gs-project-accounts.iam.gserviceaccount.com does not exist"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-22 19:59] edwardmedia commented on #7611
@brettcurtis can you take a look at this [issue](https://github.com/hashicorp/terraform-provider-google/issues/7608) to see if the suggested workaround help solve your problem?

[2020-10-22 20:06] brettcurtis commented on #7611
@edwardmedia - no, in my use case it doesn't actually become available even after waiting.  I'm not creating any buckets in my code until after the above resource is successfully created. I suspect if I did all would be fine.

[2020-10-22 21:02] edwardmedia commented on #7611
@brettcurtis can you post you debug log?

[2020-10-22 21:09] edwardmedia commented on #7610
@fallard84 can you post the debug log?

[2020-10-22 21:28] edwardmedia commented on #7609
It appears building node`MaintenanceWindow` may need to check if `master_instance_name` has value

https://github.com/hashicorp/terraform-provider-google/blob/32815606125c247cbcac7983a5150008a4f6fdec/google/resource_sql_database_instance.go#L1137

[2020-10-22 21:46] edwardmedia commented on #7548
@axot that seems to match to what I guessed. The issue is likely in Sackdriver/logging, and I don't see there is anything the Terraform plugin can do (the api calls are fine).  I am closing this issue, but feel free to reopen it if you think differently.

[code]

[2020-10-22 21:46] #7548 closed

[2020-10-22 21:49] brettcurtis commented on #7611
Here is the gist: https://gist.github.com/brettcurtis/b73307368c37a502ca62daacf24d3585

[2020-10-22 22:08] edwardmedia commented on #7611
@brettcurtis below service account should be created once you enable the Storage service. The error seems clear. Can you explain how you enabled the API? If it is managed by Terraform, you can check its state. If not, you can import it and verify the service is enabled properly. (how are you sure **After enabling the storage API**?)  At this moment, I don't think your above code has issues.

[code

[2020-10-22 22:13] edwardmedia commented on #7611
@brettcurtis  do you see that service available on the GCP Console?

[2020-10-22 22:22] brettcurtis commented on #7611
So I enable the api in the explicit dependency the resource uses:

main.tf
[code]

variables.tf
[code]

I can see the service yes:
[code]

Yes, I can see it in the UI as well.

The crazy thing is once I hit the API once for example go here: https://cloud.google.com/storage/docs/json_api/v1/projects/serviceAccount/get
add my project and get the response I can re-run my terraform and everything is f

[2020-10-22 22:23] rileykarson commented on #7595
@jimmydurkin, just to clarify your environment once again: the host and service project are already established, and the shared network is already set up on both the host and service side. And your service account has no roles at all on the host project?

From your config above, `projects/gke-host-project` is a third, separate, project?

Sorry for the back and forth! I'd assumed networkUser (which

[2020-10-22 23:17] brettcurtis commented on #7611
Thanks for the help, I've definitely waited for a long time before re-running terraform so it's not that. Let me whip up a simple test case tomorrow and share that with you.

[2020-10-22 23:44] danawillow commented on #7398
It sounds like the issue is that the template name is getting changed between Terraform runs. Is that something you're specifically trying to do, is it an artifact of your process, or are you not sure why it's happening? If the name isn't actually supposed to change on every run, I'd love to look at your config so I can try to figure out why that's happening.

[2020-10-23 00:54] ndmckinley commented on #7261
I suspect https://github.com/hashicorp/terraform-provider-google/pull/5902 may have introduced this performance regression and will verify tomorrow.

[2020-10-23 08:04] pratik141 commented on #7606
[code]

[2020-10-23 08:26] pratik141 commented on #7606
[pubsub.zip](https://github.com/hashicorp/terraform-provider-google/files/5428238/pubsub.zip)
even default config having same issue [example-usage-pubsub-subscription-push](https://www.terraform.io/docs/providers/google/r/pubsub_subscription.html#example-usage-pubsub-subscription-push)

[2020-10-23 09:25] omelnyk1 commented on #7587
@edwardmedia

Create operation works good:
[code]
Update operation is fine as well:
[code]
Delete operation didn't make effect on resource:

[code]
but with gcloud tool I see that apahe_logs bucket is in ACTIVE state. Should be DELETE_REQUESTED:
[code]
Could you please have a look?
Thank you.

[2020-10-23 14:52] invalidbassist opened #7612 "OSConfig Rollout Disruption Budget Does Not Allow for Percent"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-23 14:54] invalidbassist commented on #7612
I am working on a PR to resolve this as it is an update to the api.yaml for the magic modules - expect this process shortly.

[2020-10-23 15:36] jameswinegar opened #7613 "Add role to SA fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-23 15:42] edwardmedia commented on #7587
@omelnyk1 I agreed it should have been set to `DELETE_REQUESTED` instead of remaining `ACTIVE`. I saw that too. Thank

[2020-10-23 15:47] FrancoisPoinsot commented on #7261
To be honest, I get the feeling I am abusing `google_project_iam_member`.
LIke, I am not supposed to use it to handle ~100 users.

Instead of using a `for` or `for_each` inside `google_project_iam_member`, I can achieve a similar result using `google_project_iam_binding` setting the original set to the field `members`.
This works around the issue of this thread, but also seems to be the intended w

[2020-10-23 15:48] mark-00 opened #7614 "google_monitoring_slo distribution_cut range values do not have to be integers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-23 15:55] FrancoisPoinsot commented on #7261
meh, scratch that.
I tried to refactor my project using `google_project_iam_binding`.
I mean it does makes it faster.

There is still a huge difference between v3.13 (28 sec) and >=v3.14 (4min 39 sec).
But at least it is better than the hours-long deployment I originally had.

[2020-10-23 15:58] omelnyk1 commented on #7587
@edwardmedia thank you. Will you be able consider issue https://github.com/hashicorp/terraform-provider-google/issues/7590 too?
We'd like to configure 2 resources in a pair: log sink -> logging bucket

[2020-10-23 16:51] danawillow commented on #3753
We can't shell out to gcloud from the provider, but it's possible for the provider to make the same API call that gcloud makes. I'll leave it up to the implementor to decide whether it makes more sense in a DNS resource or to add filtering capability to the address data source.

[2020-10-23 17:00] upodroid commented on #3753
It is doable. Google forgot to mention that a VPC can only be bound to a single dns policy.

1. List all the subnets in a VPC.
2. https://cloud.google.com/compute/docs/reference/rest/v1/addresses/aggregatedList make this call and in the filter supply the subnet self link

I think it should be a separate datasource considering that the IPs will change when subnets are changed

[2020-10-23 17:19] krohmag opened #7615 "Unable to successfully import existing resource using google_bigquery_connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-23 17:22] sruffilli opened #7616 "Updating a google_cloud_identity_group_membership to remove a role fails with an error"
### Terraform Version
[code]

### Affected Resource(s)
* google_cloud_identity_group_membership

### Terraform Configuration Files (if applicable)

[code]

First apply this configuration then change it to what follows (notice that the block that defines the MANAGER membership has been removed) and apply again.

[code]

### Issue Description
Changing a user membership (specifically downgrading a me

[2020-10-23 17:23] sruffilli opened #7617 "Destroying a google_cloud_identity_group resource that has at least one OWNER member fails"
_(Note that I'm using b/ instead of the public github tracker because it seems my user can't open issues on the google-beta provider)_

### Terraform Version
[code]

### Affected Resource(s)

* google_cloud_identity_group
* google_cloud_identity_group_membership

### Terraform Configuration Files (if applicable)

[code]

### Issue Description
Destroying a group that has at least one OWNER member f

[2020-10-23 17:51] #7479 closed

[2020-10-23 18:19] edwardmedia commented on #7615
With import command
terraform import google_bigquery_connection.connection projects/*/locations/*/connections/*

Result in GET URL
should be:  https://bigqueryconnection.googleapis.com/v1beta1/{name=projects/*/locations/*/connections/*}

but actual:  https://bigqueryconnection.googleapis.com/v1beta1/

[2020-10-23 18:41] rileykarson commented on #7609
@davestibrany-dd: What settings are you updating, out of curiosity? I tried setting up a test case with replication settings but those trigger a recreate.

[2020-10-23 18:58] edwardmedia commented on #7616
modifyMembershipRoles may follow below call

https://cloud.google.com/identity/docs/reference/rest/v1beta1/groups.memberships/modifyMembershipRoles

[2020-10-23 19:05] edwardmedia commented on #7617
@sruffilli the error message seems clear. It is blocked by API. The provider has nothing to do with it. To workaround, can you update the role to non OWNER first and then apply `destroy`?

[2020-10-23 19:08] edwardmedia commented on #7564
@Rob-S is this still a question for you?

[2020-10-23 19:22] #7480 closed

[2020-10-23 19:44] venkykuberan commented on #7613
Error message says that project policy didn't have that role you are trying to bind it to SA -

`10:23:58 [DEBUG]: Binding for role "roles/compute.admin" with condition // does not exist in policy of project "[PROJECT]", removing member "serviceAccount:test-smoke@[PROJECT].iam.gserviceaccount.com" from state. `

[2020-10-23 19:49] Rob-S commented on #7564
It makes sense to me, and tends to confirm what I was explaining. The resources I mentioned apply to the higher level resources mentioned in their names, and being resources, can affect the IAM policies in the GCP resources. So the statement indicating that the data source is the only way to do that appears to be incorrect.

[2020-10-23 20:23] #5971 closed

[2020-10-23 20:33] mzaheer commented on #5971
Awesome. Thank you guys!

[2020-10-23 21:00] danawillow opened #7620 "Clean up retry transport confusing behavior"
From an investigation I did about 2 months ago for b/159253214

----------------------------------

Check out this section from the debug logs:
[code]

The error is seen as non-retryable and then immediately seen as retryable and retried on. This isn't actually a problem in this resource, but it means something is wrong in the retry transport.

The issue is that the response type + body are differ

[2020-10-23 21:17] upodroid opened #7621 "Scaling Controls for Compute Engine Autoscalers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-23 21:23] edwardmedia commented on #7564
@Rob-S I am closing this question now. Feel free to reopen it if you still have questions about it. Thank you

[2020-10-23 21:23] #7564 closed

[2020-10-23 21:31] #7595 closed

[2020-10-23 21:32] #7586 closed

[2020-10-23 21:32] #7533 closed

[2020-10-23 21:55] danawillow opened #7624 "Add support for reading password fields from secret manager"
### Affected Resource(s)

* google_*

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help priori

[2020-10-23 22:15] fallard84 commented on #7610
Yes, I will share them early next week since I got rid of the logs I had. So I need to get them again and will need to do some clean up to remove any sensitive data.

[2020-10-23 22:16] rileykarson opened #7625 "Add support for `custom_info_types` to `google_data_loss_prevention_inspect_template`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-23 22:19] #7212 closed

[2020-10-23 22:29] danawillow commented on #7159
I've made some progress on this, but there's a lot of manual setup that needs to happen in order to get the trust working. I've gotten maybe halfway? There's an email thread that says how far I've gotten. If whoever picks this up needs passwords for any accounts, they're stored in the place internally where passwords live and shared with the team.

[2020-10-23 22:32] danawillow commented on #5528
This issue seems to be covering several different things now. I'm going to go ahead and close it since it sounds like at least some parts are resolved. If this is still an issue, please either file a new bug or comment on this one with an explanation of which parts have not yet been resolved.

[2020-10-23 22:33] danawillow commented on #2895
I'm not sure what the status of this is, but it sounds like at least parts of it have been fixed. I'm going to close this out- feel free to file a new bug if there are still related issues.

[2020-10-23 22:33] #2895 closed

[2020-10-23 22:36] #4824 closed

[2020-10-23 22:57] brettcurtis commented on #7611
Use this main.tf:

[code]
Validate service is enabled:
[code]
Re run terraform apply, you should still see the same issue. Wait as long as you want. Next you can hit the API like I mentioned above, then re-run apply.

[2020-10-23 23:15] edwardmedia commented on #7611
@brettcurtis can you try adding below **delay** logic in your code? You may reference the [example](https://github.com/hashicorp/terraform-provider-google/issues/6377#issuecomment-628978514) here.

[code]

[2020-10-23 23:18] edwardmedia commented on #7014
@emmaLP is this still an issue?

[2020-10-23 23:19] brettcurtis commented on #7611
I can but again, I can wait for hours and hours and it still doesn't allow me to use the service account.

[2020-10-23 23:28] brettcurtis commented on #7611
I just made an edit to the main.tf above to included a missing service and added the sleep as requested. Anyway, if you run that you'll see the problem I'm trying to describe.

[2020-10-23 23:42] venkykuberan commented on #7614
@mark-00 range value is in milliseconds, console may be rounding off to the closest ms. However i do see a problem with having Int type for range values in the schema. When the rangetype is `Greater Than or Less Than` API is sending back `Infinity`  string in the response which breaks the TF import. We will work on it, thanks for filing the issue.

[code]

[2020-10-24 00:33] fredo838 commented on #5528
Nope, there's no step closer to a solution, and the circular dependency is still a problem. The problem is still the same: the cloud run documentation requires overwriting a previously deployed ESP container which introduces a circular dependency which terraform can't handle.

[2020-10-24 00:43] danawillow commented on #5528
Have you gotten a chance to read the posted solution at https://www.sru.ie/post/google-endpoints-cloud-run-terraform/? If so, what's missing that still needs to be fixed?

[2020-10-24 00:50] rbong commented on #5528
@danawillow have not tried the solution, however note that [the ENDPOINTS_SERVER_HOST method used in the link is no longer officially supported](https://github.com/hashicorp/terraform-provider-google/issues/5528#issuecomment-652153172). According to the Google Docs, you should rebuild the Docker image instead. Some people have provided examples for building this image above. This is not the same a

[2020-10-24 01:28] danawillow commented on #7603
Current status is at https://github.com/GoogleCloudPlatform/magic-modules/pull/4135. I'm glad this got fixed in the SDK, because a lot of our beta resources didn't actually have correct import functions. Turns out there's also a bunch of different ways that we generate import in MM- I hope the new stuff coming soon makes that all work better.

I think the only thing left is to fix the IAM tests fo

[2020-10-24 14:08] jameswinegar commented on #7613
roles/compute.admin is not a custom role. I can add the Compute Admin role from the console as well.

[2020-10-24 16:05] mark-00 commented on #7614
yes smarthome_action/request_latencies  is in miliseconds so all you need is an integer

but api/request_latencies is in seconds and floats are needed to express the required slo

reference: https://cloud.google.com/monitoring/api/metrics_gcp

[2020-10-24 17:33] Mayeu opened #7627 "Provider produced inconsistent final plan in google_compute_route"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-25 08:50] Sardonic-1 commented on #7608
@edwardmedia Sadly it doesn't help, the service doesn't get enabled even if I wait and try to re-apply

[2020-10-25 11:42] upodroid commented on #7624
I think we should close this issue, end users can leverage CSEK to encrypt the state if they need to. I showed an example in that issue.

[2020-10-25 13:34] edwardmedia commented on #6732
@debakkerb is this still an issue?

[2020-10-25 13:39] edwardmedia commented on #7608
@Sardonic-1 can you post the config that includes the suggested workaround and the debug log?

[2020-10-25 13:45] edwardmedia commented on #7611
@brettcurtis I noticed your above code has `null_resource`. Did you have *depends_on* in each resource?
[code]

[2020-10-26 11:06] sruffilli commented on #7617
APIs prevent the last OWNER of a group to be downgraded or deleted.
I'm wondering whether it's possible, when destroying a group, to avoid deleting the memberships (which would be effectively deleted when the group gets deleted).

[2020-10-26 12:58] brettcurtis commented on #7611
Feel free to add it and try, I'm just not sure how a sleep of 60 seconds will help when it's not a timing issue.

[2020-10-26 14:48] seuf commented on #7330
Is it possible to also add the possibility to create representation instance of postgresql database to facilitate the migration from on premise pg instance to google cloud sql ?

[2020-10-26 16:00] wyardley opened #7628 "extra quotes / escape characters in error message for google_project_iam_member"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-26 16:29] edwardmedia commented on #7611
@brettcurtis I can't repro this issue with the suggested solution. Closing this issue then. Please feel free to reopen it if you still see an issue. And I can take a look with your config and the debug log. Thanks

[2020-10-26 16:29] #7611 closed

[2020-10-26 16:33] edwardmedia commented on #7617
Let's see if there is anything the provider can do to match the API's behavior

[2020-10-26 16:42] rileykarson commented on #7624
Labelling this as `question` too since we need to come to a decision on whether we want to take this solution or consider an alternative (for example potentially, as @upodroid points out, the "do nothing" (and wait for Core) option).

[2020-10-26 16:47] rileykarson commented on #7213
Hey @nma! Did you ever end up taking a look at this?

[2020-10-26 16:56] nma commented on #7213
Hey @rileykarson. I've started a branch on https://github.com/nma/terraform-provider-google-beta/tree/service-network-subnet

Currently testing a local build.  This resource requires some org folder level permissions, so just in the midst of figuring out how to set that up and also translate it to a 'resource_x_test.go` format.

[2020-10-26 16:58] rileykarson commented on #7213
Thanks! Marking you as assigned for our tracking purposes. Feel free to reach out if you run into any issues- `terraform-team` internally is the best way to reach the team.

[2020-10-26 17:00] venkykuberan commented on #7628
@wyardley the error message is about invalid email id for the member. Try using google account/service account

[2020-10-26 17:22] #7019 closed

[2020-10-26 17:22] #7055 closed

[2020-10-26 17:23] c2thorn commented on #7055
Removing the upstream tag, the API will likely not support disk overrides for a while. Continued the feature without this functionality.

[2020-10-26 17:30] wyardley commented on #7628
Right, it’s the formatting of the error, not the error itself I was opening an issue about (the extra quotes and backslash escaping).

@rileykarson said that the quoting is likely coming from the provider itself and not the API response.

[2020-10-26 17:54] fallard84 commented on #7610
See the debug logs. I have only kept the part of the logs that apply the changes. It tries to apply 3 resources in parallel.
https://gist.github.com/fallard84/32db2360f59c066958d36c4866421a97
I have masked the project IDs but I kept the first and last 3 digits so you can better analyze them.

[2020-10-26 18:02] c2thorn commented on #7590
The `destination` field supports any destination that the user provides. We don't do any validation against the field, so you should be able to provide log buckets as destinations currently.

We meant to update our documentation, but it looks like that fell through. @venkykuberan, can we update the docs stating that log bucket destinations are possible, and also add text stating that the user can

[2020-10-26 18:24] #7160 closed

[2020-10-26 18:24] #7599 closed

[2020-10-26 18:41] c2thorn commented on #7590
To clarify, the API expects the destination bucket to be in this form: `logging.googleapis.com/projects{project}/locations/{location}/buckets/{bucket}`.

Looks like we should also support passing in a bucket `id` to the destination field by prepending "logging.googleapis.com/" to the id `projects{project}/locations/{location}/buckets/{bucket}`