[2021-01-07 17:13] nlamirault commented on #8113
Import seems ok.

State resource without `name_prefix`  and `private_key` :

[code]

And apply :

[code]

[2021-01-07 18:17] #365 closed

[2021-01-07 20:09] venkykuberan commented on #8130
@dlaburthe Thank you for filing the issue, i see the issue we will work on it.

[2021-01-07 20:25] venkykuberan commented on #8128
@chaopeng  The information you provided isn't adequate enough to understand the issue .  We need to know what resource is failing and provide the debug log to help us identify where its filling?

Please also provide the specific resource config or plan output to repro the issue on our end

[2021-01-07 22:03] edwardmedia commented on #8136
@Frazer-4c can you share the debug log?

[2021-01-07 22:27] slevenick commented on #8132
Looks like [this comment](https://github.com/hashicorp/terraform-provider-google/issues/7896#issuecomment-738020121) correctly identifies the problem code. This should only impact `bigquery_dataset_iam` resources due to the unique handling there.

Should be fixable with similar logic to https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/utils/iam.go.erb#L237

[2021-01-07 23:08] #2446 closed

[2021-01-08 07:40] williamtsoi1 opened #8139 "google_app_engine_application should have an attribute for its default service account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-08 12:28] skydalriol commented on #8084
Hi @edwardmedia,

after a bit more testing I understood the reason why the IP+prefix is needed for `cloudRouterIpAddress` and `customerRouterIpAddress` values:

in the first configuration I was missing the `google_compute_router_interface` resource, which is required for the Cloud Router to correctly setup the BGP session, using `google_compute_router_peer` resource.

The interface resource "requi

[2021-01-08 13:42] Frazer-4c commented on #8136
I had add a gist link but it was not showing.  I have amended that so it is now showing under the debug output section

[2021-01-08 13:54] edwardmedia commented on #8136
@Frazer-4c was this the initial apply? If not, can you provide the steps to reach this, and was it successful? I don't understand what you meant below. Where is another email, alias?

[2021-01-08 14:00] edwardmedia commented on #8086
@tarrencev closing this assuming it is no longer a question

[2021-01-08 14:00] #8086 closed

[2021-01-08 14:01] edwardmedia commented on #8106
@tjwebb I am closing this. Feel free to reopen it if you have different views

[2021-01-08 14:01] #8106 closed

[2021-01-08 14:03] edwardmedia commented on #8107
@hkmushtaq is this still an issue?

[2021-01-08 14:42] upodroid commented on #8139
You can retrieve this email by using the `google_app_engine_default_service_account` datasource.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/app_engine_default_service_account

[2021-01-08 15:13] supersmo opened #8141 "google_project_access_approval_settings doesn't respect the project_id field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-08 15:21] williamtsoi1 commented on #8139
Thanks. I tried this approach, however I'm getting a race condition because for a newly-created App Engine app, the data source is returning null (probably because the App Engine app hasn't finished being created yet when the data source retrieval happens).

[2021-01-08 15:24] upodroid commented on #8139
The service account should be created when the app engine API is enabled. Use depends_on against the project service resource that enables App Engine API

[2021-01-08 16:22] Frazer-4c commented on #8136
no this was not the initial apply.  The user was added in via terraform
code before me and then manually removed via the google console.  I ran
some terraform code and did not realise it wanted to add back in this
user.  The code in the ticket is what was causing the issue.

the terraform code says to create IAM user called user1, however it would
fail with the terraform bug message.  However if r

[2021-01-08 16:59] c2thorn opened #8142 "Fix TestAccApiGateway* tests"
Looks like we need a diff suppress on `api_config` for project number vs project name

[2021-01-08 17:00] c2thorn opened #8143 "Fix TestAccDataSourceGoogleSubnetwork"
[code]

[2021-01-08 17:02] c2thorn opened #8144 "Fix TestAccDataSourceStorageBucketObjectContent_Basic"
[code]

[2021-01-08 17:02] c2thorn opened #8145 "Fix TestAccActiveDirectoryDomainTrust_activeDirectoryDomainTrustBasicExample"
Build log just shows empty, not sure what is going on here

[2021-01-08 17:04] c2thorn opened #8146 "Fix TestAccCloudRunService_cloudRunService*"
diff on `metadata.annotations`, likely needs a diff suppress?

[2021-01-08 17:06] c2thorn opened #8147 "Fix TestAccComputeBackendService_backendServiceCacheExample"
Same issue as TestAccComputeRegionBackendService_regionBackendServiceCacheExample

[2021-01-08 17:08] c2thorn opened #8148 "Fix TestAccComputeInstanceMigrateState_scratchDisk"
Looks like a misconfiguration:
[code]

[2021-01-08 17:09] c2thorn opened #8149 "Fix TestAccContainerCluster_withConfidentialNodes"
Test misconfiguration:
[code]

[2021-01-08 17:10] c2thorn opened #8150 "Fix TestAccContainerCluster_withPrivateClusterConfigMissingCidrBlock"
[code]

[2021-01-08 17:11] c2thorn opened #8151 "Fix TestAccContainerNodePool_withInvalidKubeletCpuManagerPolicy"
[code]

[2021-01-08 17:12] c2thorn opened #8152 "Fix TestAccDataprocJob* tests"
Test checks are expecting `DONE` instead of `RUNNING` as job completion

[2021-01-08 17:13] c2thorn opened #8153 "Fix TestAccLoggingBucketConfig_CreateBuckets_withCustomId"
[code]

[2021-01-08 17:16] c2thorn opened #8154 "Fix Redis/memcache tests"
We've run out of Tenancy Units for network servicing:
[code]
Need to remove these, hopefully with the API:
https://cloud.google.com/service-infrastructure/docs/service-consumer-management/reference/rest/v1/services.tenancyUnits/delete

[2021-01-08 17:24] c2thorn commented on #7751
Turns out the organization has been deleted, so we need to create a new testing one entirely

[2021-01-08 18:31] c2thorn commented on #7998
Release branches for `3.52.0` are cut from commit SHA's `2ebfe917e4d836f01ebc2d9212ab5b44c0a44fdd` and `3b69cf9b38716dce87554757a01506d36f71b65e` for TPG and TPGB respectively.
Release dates scheduled for `2021/01/11`

[2021-01-08 18:39] slevenick commented on #7966
This should be available in 3.51.1

[2021-01-08 18:40] slevenick commented on #7945
This should be available in 3.51.1

[2021-01-08 19:38] Sytten commented on #7945
@slevenick Can you update the changelog, this release got past under the radar. I didn't receive a github notification for it.

[2021-01-08 20:48] edwardmedia commented on #8136
@Frazer-4c terraform code does not have knowledge about email or account alias. It expects a full email in the member field. Unless providing a clear config code and steps to repro, I can't explain

You may run `import` to sync the Terraform state before proceed "apply"

[2021-01-08 22:25] eschultink commented on #1959
@morgante any forum where we can weigh in to help it get prioritized within Google?

[2021-01-08 22:57] morgante commented on #1959
@eschultink If you have a Google account team, please ask them to file a request for prioritizing this.

[2021-01-08 23:44] xingao267 commented on #7658
@rileykarson it looks like the documentation change included in this PR did not get released to https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/dataflow_flex_template_job. Did I miss anything?

[2021-01-08 23:59] shermanyin commented on #6782
I'm running into similar issue intermittently as well in GCP cloud shell.

[code]
In my particular case, my script uploads a file to a Windows Server.  I first get this error:

[code]

I checked that the firewalls are opened to the IP of the cloudshell instance.  I try to do terraform apply again, and I would run into  these "cannot assign requested address" errors while refreshing state. e.g. my

[2021-01-09 00:00] #8124 closed

[2021-01-09 01:28] liqwid commented on #7966
Thanks, fix worked for us

[2021-01-09 04:12] maroux opened #8159 "google_cloud_scheduler_job destroyed and recreated instead of update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-09 16:16] Caskia opened #8160 "GKE Ingress SslCertificate Resource In Use By Another Resource (create_before_destroy = true)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-10 05:41] Sreerag74031 opened #8161 "mapping from gcp resource to resource type in terraform"
Where to find mapping from gcp resource to corresponding resource type in terraform.

I'm trying to do GCLB using terraform however not able to find the right terraform respurce type. is there a mapping table or so to find out the right resource type?

[2021-01-11 04:30] mayeco opened #8162 ""role" and "members" arguments missing from generated "google_storage_bucket_iam_binding""
GCS import failed

[code]

https://github.com/GoogleCloudPlatform/terraformer/issues/368

[2021-01-11 07:28] marcus-kempe commented on #7966
Thanks for prompt fix, works here as well!

[2021-01-11 11:02] omelnyk1 opened #8164 "Datasource sql_database_instances"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-11 12:03] olib963 opened #8165 "Cannot move `access` from `google_bigquery_dataset`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-11 13:53] edwardmedia commented on #8107
@hkmushtaq closing this. Feel free to reopen if this is still an issue

[2021-01-11 13:53] #8107 closed

[2021-01-11 13:55] edwardmedia commented on #8136
@Frazer-4c is this still an issue?

[2021-01-11 14:22] edwardmedia commented on #8161
@Sreerag74031 there is no such a mapping table as far as I understand. There is a search box in the web documentations, that might be able to help you quickly find the resources you need

[google](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_service_account)
[googel-beta](https://registry.terraform.io/providers/hashicorp/google-beta/latest/docs/resources/go

[2021-01-11 14:22] #8161 closed

[2021-01-11 14:25] edwardmedia commented on #8162
@mayeco can you provide the command(s) you were using?

[2021-01-11 14:36] mayeco commented on #8162
hello @edwardmedia
`terraformer import google --resources=gcs --regions=europe-west1 --projects=XXX`

I assume this run terraform import in background

[2021-01-11 14:55] edwardmedia commented on #8162
@mayeco can you reference below doc and try to see if any of them works for you?

[import](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/storage_bucket_iam#import)

[2021-01-11 16:35] edwardmedia commented on #8160
@Caskia Are you able to repro https://github.com/hashicorp/terraform-provider-google/issues/6147? If yes, this is the area we can take a look. But the issue seem residing outside of the Google provider. How do you know this is the expected behavior? Can you provide the steps to repro it with Google's resources?

[2021-01-11 16:56] slevenick commented on #8165
Hey @olib963 does adding `ignore_changes` work for your use case? It should cause Terraform to ignore any changes to the access block, preventing the diff on the main dataset resource.

https://www.terraform.io/docs/configuration/meta-arguments/lifecycle.html#ignore_changes

I don't believe there is a better way short of destroying and recreating the dataset with access unspecified

[2021-01-11 17:26] venkykuberan commented on #8159
@maroux  API may have added the updated support after we worked on this resource. I will make this issue as a feature request.

[2021-01-11 17:45] #8001 closed

[2021-01-11 17:45] venkykuberan commented on #8141
@supersmo `project_id` isn't read from the config in the resource Create call. We will fix it. However `project` attribute is required for billing and quota verification calls.

[2021-01-11 19:41] rileykarson opened #8166 "Remove strcase dependency"
We use a "strcase" library in exactly one place, and it's for a pretty routine conversion to jsonCamelCase. We can include a few LOC in the provider and cut a dependency.

Reference: b/177115695

[2021-01-11 19:58] slevenick commented on #7998
3.52.0 is now released

[2021-01-11 19:58] #7998 closed

[2021-01-11 21:02] #7435 closed

[2021-01-11 22:27] rileykarson commented on #7934
@slevenick: Mind taking a look at this?

[2021-01-11 23:32] #7501 closed

[2021-01-11 23:35] #8141 closed

[2021-01-11 23:47] slevenick commented on #7934
@ronjarrell so this is a tricky issue. It's pretty difficult to reproduce (I have not been able to do it) and it changes between versions of Terraform that you are running. That makes me think that there is something deeper than a provider issue going on here.

The debug output you reported in the initial issue points to a config being provided with conflicting `disk_encryption_key_raw` and `kms_k

[2021-01-12 09:31] supersmo opened #8170 "google_billing_budget documentation and examples are contradicting regarding project field in budget filter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-12 11:13] olib963 commented on #8165
I can't ignore changes since the `google_bigquery_dataset_access` currently fails to create because the access is already defined on the dataset itself. I'd like to not destroy and recreate since there's a lot of data in there. I'd have to come up with some process to stop writing new data and back it up then copy it back in.

Do we know why it is the case that removing all access blocks does not

[2021-01-12 11:38] Clausewitz45 opened #8171 "Provider produced inconsistent result after apply with resource google_bigquery_dataset_access"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-12 12:53] tdamant opened #8172 "google_cloud_run_service knative ready status race condition"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-12 13:49] #8152 closed

[2021-01-12 13:49] #8142 closed

[2021-01-12 14:02] c2thorn opened #8174 "Magic Modules - Beta test incorrectly generating in GA"
Found in https://github.com/GoogleCloudPlatform/magic-modules/pull/4317/files#r554477191, creating an issue in this repository so that it actually gets tracked.

An example with `min_version: beta` generates in the GA provider if there is not a beta version of the API. A "fake" beta API was made as a temporary workaround, this can be removed if this bug is fixed.

[2021-01-12 14:20] hashibot[bot] opened #8176 "Documentation enhancement for google_compute_project_metadata (Google Provider)"
_This issue was originally opened by @watcher00090 as hashicorp/terraform#27469. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Proposal

This is about the docs for the Google Terraform provider. I was wondering if you'd be willing to add more detailed docume

[2021-01-12 14:35] ahmedfourti opened #8177 "google_memcache_instance authorized_network"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-12 16:06] chaopeng opened #8179 "Support healthcare consent API GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-12 16:32] fiona-streetgroup opened #8180 "BigQuery time_partitioning only accepts DAY as a value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-12 16:38] slevenick commented on #8165
Yeah, when you remove the `access` block entirely it interprets that as "I don't care about what access is" rather than "access should be empty". This is important because once you manage access with the `google_bigquery_dataset_access` resource, we don't want the bigquery dataset to revert any changes. Is this empty plan a problem? I'd suggest that you could remove the access manually and recreat

[2021-01-12 16:39] #8143 closed

[2021-01-12 16:39] #8149 closed

[2021-01-12 17:42] jornjohnson opened #8182 "Google-Beta Provider Configuration Not Recognized in Airgapped Environments Using TF 0.13+"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-12 17:54] #8147 closed

[2021-01-12 18:50] slevenick commented on #8145
I think this is a part of the bigger AD test issue: https://github.com/hashicorp/terraform-provider-google/issues/7159

[2021-01-12 18:50] #8145 closed

[2021-01-12 19:23] slevenick commented on #5448
This is fixed

[2021-01-12 19:23] #5448 closed

[2021-01-12 19:32] paddycarver commented on #7934
Hey y'all, my ears were burning. :)

I don't have a lot to add (yet--I'm still poking at this) but It _appears_ the crash is eerily similar to hashicorp/terraform-plugin-sdk#548. I can't say whether that's the root of the problem or just a confounding symptom and a red herring, but it seems related. I haven't fully gotten to the bottom of that issue yet, but I'm still digging. It would be really h

[2021-01-12 20:36] #8075 closed

[2021-01-12 21:15] c2thorn commented on #8113
There isn't a good way to handle this well in the provider. There is no way to verify that `private_key` in the config is the same value as in the backend except during resource creation. We also cannot set the value in state at the time of import (we don't have access to the config value).

If you want to import this resource, I suggest adding `ignore_changes` to the resource config and ignore th

[2021-01-12 21:15] #8113 closed

[2021-01-12 21:24] ronjarrell commented on #7934
I'd be happy to run a custom provider to test this.  I can replicate it by running twice in a row, with no one else changing anything, so it's not stuff changing between runs.

[2021-01-12 22:31] zamerman opened #8186 "google_folder_iam_member with IAM Conditions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-12 23:01] edwardmedia commented on #8180
@fiona-streetgroup can you share the debug log?

[2021-01-12 23:17] #8144 closed

[2021-01-12 23:17] #8148 closed

[2021-01-13 00:31] edwardmedia commented on #8182
@jornjohnson it appears to me this is an area of Terraform as it is a TF's feature? Did it work with different versions of the Google providers?

[2021-01-13 00:56] ggprod opened #8189 "GCS data source to download an existing file from a bucket"
It would be nice to have a GCS data source that allows download of an existing object in bucket.  It could be added as a new output attribute to the existing google_storage_bucket_object data source: https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/storage_bucket_object

[2021-01-13 00:57] venkykuberan commented on #8177
`authorized_network` should be set as `computed` field in the schema. We will fix it, thank for filing the issue.

[2021-01-13 01:30] daisy1754 opened #8190 "google_compute_health_check perma diff with log_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-13 03:49] objectiveryan commented on #7659
I think this is essentially a dupe of https://github.com/hashicorp/terraform-provider-google/issues/7486.

[2021-01-13 03:50] objectiveryan commented on #7486
This bug is blocking my team from using `google_bigquery_dataset_access`; thankfully we can still use `access` blocks (like the OP we also have authorized views).

[2021-01-13 06:24] edwardmedia commented on #8189
@ggprod  does [google_storage_bucket_object_content](https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/storage_bucket_object_content) work for you?

[2021-01-13 08:26] eyalzek opened #8191 "google_cloudfunctions_function is missing java11 runtime"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-13 09:19] fiona-streetgroup commented on #8180
@edwardmedia please find logs attached
[terraform.log](https://github.com/hashicorp/terraform-provider-google/files/5807582/terraform.log)

[2021-01-13 12:42] ggprod commented on #8189
@edwardmedia Yes, that's perfect, thanks!  I'm not sure how I missed that. Sorry to waste your time.

[2021-01-13 12:42] #8189 closed

[2021-01-13 15:33] jornjohnson commented on #8182
This is specific to only the google-beta provider, so I don't believe this is a terraform issue.  The observed behavior does not extend to any other provider that I tested.  The list includes;

- hashicorp/google-beta
- hashicorp/google
- hashicorp/random
- hashicorp/null
- hashicorp/template
- hashicorp/archive
- hashicorp/vault

Due to our airgapped nature and reliance on bundled versions I was

[2021-01-13 16:11] edwardmedia commented on #8180
@fiona-streetgroup I don't see the mentioned error in the log. Below is one host in your log. Without the complete code, it's hard to see what is going on. I do see `terraform-provider-google_v3.5.0_x5` is called. Note the version is pretty old, can you try with the latest version?
Also, what do you see if you run above config alone?

[2021-01-13 16:44] slevenick commented on #8165
Also, I believe this feature request is for something that would help moving between these resources: https://github.com/hashicorp/terraform-provider-google/issues/7486

[2021-01-13 17:51] #7850 closed

[2021-01-13 18:47] rileykarson opened #8193 "Add a `google_*_iam_audit_log_binding` resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-13 20:21] rileykarson opened #8198 "Move Magic Modules version 1 (MMv1) into a subfolder within the magic-modules repo"
The [Magic Modules repo](https://github.com/GoogleCloudPlatform/magic-modules) is currently holding MMv1 at the top level. As we introduce a second code generator (`tpgtools`) there, we should move it to an `mmv1/` subfolder.

At first glance it appears that we can move every folder with the exception of `.ci/` and `.github`. Files depend on a case-by-case basis but I would imagine most of them wi

[2021-01-13 20:25] rileykarson opened #8199 "Put a build system in front of MMv1, tpgtools"
This should happen after https://github.com/hashicorp/terraform-provider-google/issues/8198.

To simplify regeneration of the entire Terraform provider we should add a build system (Make, Bazel) in front of both MMv1 and tpgtools. We should be able to specify a provider version and (hopefully) a target resource or product as optional parameters.

[2021-01-13 20:27] rileykarson opened #8200 "Add support for samples in tpgtools"
The [DCL](https://github.com/GoogleCloudPlatform/declarative-resource-client-library) provides a bank of samples written in the JSON serialization format of the DCL. We can use those to generate documentation and examples as a successor to MMv1's [Terraform Examples](https://github.com/GoogleCloudPlatform/magic-modules/blob/master/provider/terraform/examples.rb). We should additionally have the ab

[2021-01-13 20:30] rileykarson opened #8201 "Opt-in resources to tpgtools generation using override files"
During early development of `tpgtools` we worked off of DCL resource specs committed to the `api/` folder in `tpgtools/`. We should draw directly from a DCL version linked using Go Modules and decide which resources to work on based on having files committed under `tpgtools/overrides/`.

We should also support an `EXCLUDE` resource-level override that causes tpgtools to skip that resource.

[2021-01-13 20:32] rileykarson opened #8202 "Plumb TPG basepaths into the DCL"
tpgtools currently does not support basepaths ([custom endpoints](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#{{service}}_custom_endpoint) on the user-facing side), and we need to support them for compatibility with the rest of the provider.

[2021-01-13 20:33] rileykarson opened #8203 "Ensure that user project overrides are supported in DCL-based resources"
Ensure that we have parity with MMv1-generated resources with regards to the quota project sent for requests.

[2021-01-13 20:35] rileykarson opened #8204 "Support module attribution in DCL-based resources"
Our development branch for `tpgtools` predated module attribution and we don't support it in DCL-based resources yet. We need to ensure that we properly supply the module source as part of the user-agent header on DCL requests.

[2021-01-13 20:36] rileykarson commented on #8069
Note: This resource will be used as our first `tpgtools`/DCL-based resource.

[2021-01-13 20:37] rileykarson opened #8205 "Convert 3-5 handwritten/MMv1-generated resources to using the DCL"
Note: This is a stub issue before we decide on a specific set of resources.

[2021-01-13 20:38] upodroid commented on #8069
What is that?

[2021-01-13 20:50] rileykarson opened #8206 "[EPIC] Release initial DCL-based resources using tpgtools"
With the [Declarative Resource Client Library (DCL)](https://github.com/GoogleCloudPlatform/declarative-resource-client-library) becoming available, we can begin using the `tpgtools` generator to create Terraform resources. DCL+`tpgtools` collectively make up Magic Modules v2, the successor to the current "MMv1" generator at https://github.com/GoogleCloudPlatform/magic-modules. Working off of the

[2021-01-13 20:59] rileykarson commented on #8069
It's a new code generator we're adding alongside Magic Modules (v1), there are some details @ https://github.com/hashicorp/terraform-provider-google/issues/8206 if you're interested.

[2021-01-13 21:01] rileykarson opened #8207 "Ensure the tpgtools schema diff tool works externally"
The schema diff tool can be used to verify that the schema of a Terraform resource has not changed between two revs of the provider. It was extremely useful during early `tpgtools` development, and we should ensure that we carry it forward for future migrations to DCL-based resources.

[2021-01-13 21:04] rileykarson opened #8208 "Run mixed integration tests with a release TPG copy and a copy with DCL-based resources"
This will help us automatically ensure that DCL-based resources are compatible with their old handwritten or MMv1-generated counterparts.

note: Issue is specifically setting up automation for running these tests

Internal document: https://docs.google.com/document/d/1RwTbStXqiPVoIF6WK8XpcB52XQ8UzkJFriy8g-ZUi-I/edit#heading=h.xzptrog8pyxf

[2021-01-13 21:15] upodroid commented on #8191
Hi

The provider doesn't validate the value that you put in the runtime field. So try to create a function where `runtime = "java11"` and it should work.

If this works for you, please go ahead and close this issue.

Thank you

[2021-01-13 21:23] upodroid commented on #4485
This issue may need to be amended as the API has changed the way Workload Identity is configured.

https://github.com/hashicorp/terraform-provider-google/issues/8129
https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters#Cluster.WorkloadIdentityConfig

[2021-01-13 21:55] #8190 closed

[2021-01-13 22:11] venkykuberan commented on #8170
@supersmo doc needs to be updated, examples use right attribute (`project,number`). We will fix the doc

[2021-01-13 22:19] edwardmedia commented on #8182
@jornjohnson there is nothing in the provider plugin that handles **Airgapped Environments**. I would suggest file an issue to Terraform to get help from them. Closing this accordingly.

[2021-01-13 22:19] #8182 closed

[2021-01-13 22:30] venkykuberan opened #8210 "removing project in budget_filter block not getting updated for the resource google_billing_budget. Perma diff is kept thrown all the times for tf plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-13 23:35] slevenick commented on #8182
I would suggest asking for support from Hashicorp because support for airgapped environments appears to be a feature of Terraform Enterprise.

[2021-01-13 23:45] venkykuberan commented on #8171
@Clausewitz45 Can you clarify why you want to create the same resource twice in the config ?

[2021-01-14 00:54] edwardmedia commented on #8186
[Repros](https://paste.googleplex.com/4797695374917632)

[2021-01-14 00:56] edwardmedia commented on #8162
@mayeco does any of the formats mentioned above work for you?

[2021-01-14 08:00] Clausewitz45 commented on #8171
Hi @venkykuberan , sorry it seems only because of the redacted information. In the end, I'm managing multiple projects from a single Terraform repository, and these two resources belong to two different projects. Both projects are containing two different BigQuery datasets with the same name (logs dataset for internal statistics). The resources were provisioned ~2-3 months earlier with different t

[2021-01-14 09:18] alanroche opened #8213 "Cannot create Bigtable tables on a multi-cluster bigtable instance."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-14 09:18] alanroche commented on #8213
Debug output (cannot create a Gist due to DLP blocker)

2021/01/12 18:47:17 [TRACE] dag/walk: vertex "root" is waiting for "provider[\"registry.terraform.io/hashicorp/google\"] (close)"
google_bigtable_table.alantest-data-table-test[3]: Still creating... [1m10s elapsed]
google_bigtable_table.alantest-data-table-test[0]: Still creating... [1m10s elapsed]
google_bigtable_table.alantest-data-table-te

[2021-01-14 09:42] olib963 commented on #8165
Ah OK, that makes sense now. I could look into manually removing the access myself in the console, but we don't have write permissions intentionally. I will use that as a backup.

Sadly I can't use the IAM resources as I need authorised views. I'd like to keep the authoritative model if possible, the current setup is just causing a bit of a headache. Perhaps I will comment a slightly different vie

[2021-01-14 10:23] clembo590 opened #8214 "failure when using google_project_service"
Using this version
[code]

I am first describing a scenario that works, and then a scenario that does not work. (to show the error)
# COMMON TO BOTH SCENARIO
## set up variables

[code]

# SCENARIO THAT WORKS CURRENTLY:
## step 1
create a main.tf
[code]
`terraform apply -auto-approve `
--> **SUCCESS**

## step 2
add following to the end of the main.tf

[code]
`terraform apply -auto-approve `
--> *

[2021-01-14 11:26] eyalzek commented on #8191
Indeed it does. Might make sense to update the resource docs to point to google's official documentation, in order to avoid it getting outdatd

[2021-01-14 11:26] #8191 closed

[2021-01-14 12:39] ilicmilan opened #8215 "Add master_authorized_networks_config option to google_composer_environment resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-14 14:56] edwardmedia commented on #8214
@clembo590 this is likely a time issue. When you run all code together, it starts to create instances while the services are not ready yet. Can you add [sleep](https://registry.terraform.io/providers/hashicorp/time/latest/docs/resources/sleep) logic between resources to see if that helps?

[2021-01-14 15:15] fiona-streetgroup commented on #8180
Thanks @edwardmedia - upgrading the provider resolved the issue

[2021-01-14 15:15] #8180 closed

[2021-01-14 15:20] hashibot[bot] opened #8216 "Unexpected machine re-creation while using resource google_notebooks_instance"
_This issue was originally opened by @skymarchettis as hashicorp/terraform#27494. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi,
I'm using the _google_notebooks_instance_ resource but I'm giving unexpected behaviors while trying to change it.
After a variable

[2021-01-14 16:19] edwardmedia commented on #8213
@alanroche I just ran below code and it works fine for me. Can you review your code of `google_bigtable_table`? Let me know if the static code works for you.

[code]

[2021-01-14 16:54] matti opened #8218 "google_sql_user can not be deleted with database"
[code]

--> `failed to deleteuser myuser-1 in instance terraform-20210113104335222300000001: googleapi: Error 400: Invalid request: Invalid request since instance is not running., invalid`

https://stackoverflow.com/questions/63939213/terraform-trying-to-read-the-sql-user-after-database-is-deleted

[2021-01-14 17:37] #7578 closed

[2021-01-14 19:04] clembo590 commented on #8214
@edwardmedia
Thanks for you answer. that is also what I thought when I realized that creating the infrastucture in 2 steps was working.
So it s why I had the idea of adding a "sleep". (I did that before I posted the bug here).
Just to make sure I retried and it still fails
here is the main.tf

[code]

I also generated the graph

![Screenshot 2021-01-14 at 20 03 02](https://user-images.githubuserco

[2021-01-14 19:10] edwardmedia commented on #8218
@matti can you share the debug log along with the config that you were using?

[2021-01-14 19:14] edwardmedia commented on #8214
@clembo590 can you try by giving **sleep** a bit longer?

[2021-01-14 19:44] melinath opened #8221 "Log GRPC requests (like we currently log HTTP requests)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-14 21:26] clembo590 commented on #8214
@edwardmedia
I put I 10 minutes sleep. Just to make sure --> it s still failing

[code]

This is a strange issue....

[2021-01-14 22:44] tibers opened #8223 "modifying a cluster to enable workload identity doesn't work correctly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-14 23:37] edwardmedia commented on #8223
@tibers instead of modules, can you repro the issue with a minimum google_container_cluster (single config)? If yes, please provide the detailed steps along with the config and the debug log.

[2021-01-14 23:59] #8027 closed

[2021-01-15 00:25] yegle opened #8225 "google_monitoring_dashboard: thresholds are compared as float point numbers"
Please see #7988 for context.

Per hashicorp/terraform#27305 this is an issue with the provider, not in Terraform Core.

[2021-01-15 02:47] translucens opened #8226 "google_container_cluster recurring_window difference is always shown"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-15 04:35] lancekett opened #8227 "google_compute_interconnect_attachment: add support for MTU"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-15 09:53] alanroche commented on #8213
So, did some more testing.

The problem is reproducable in your TF above if you add multiple tables, - for me it starts exhibiting on 6 or more tables.

ie. add the following to the above:
... and you should see:
[code]

It looks like the rpc might be timing out? As I say, the tables are actually getting created, its that the TF provider errors and the tables become unmanaged.

[code]

[2021-01-15 15:20] chiokejjones opened #8228 "google_billing_budget in v3.52 shows diff after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-15 16:21] edwardmedia commented on #8213
@alanroche can you post the debug log?

[2021-01-15 16:32] alanroche commented on #8213
Hi,
@edwardmedia  The second comment above has the an extract of debug at trace level around the issue, before and after the error.
I looked at the rest and there looked to be nothing remarkable. Do you need more than this? Unfortunately I can't post much more than this as gists are blocked by our security scanners so I am limited to what I can enter in a comment.
Thanks...

[2021-01-15 16:39] edwardmedia commented on #8213
@alanroche I just tested by appending 6 more tables and it completed successfully. Actually in my test, the entire execution finished pretty fast. I can't repro the issue. It is possible api experiencing some difficulties. Can you try in different time? As you have discovered, the rest is nothing remarkable. As long as the calls are good, this is all the provider focuses. Other issues might be out

[2021-01-15 16:54] edwardmedia commented on #8214
@clembo590 you have verified that once you separate the config into different pieces and execute them separately, it is all good. No code change needed. Am I right?  The difference between these two ways is the timing, which matches the error you received. There were many reported `issue` about enabling services like yours. Here is one [example](https://github.com/hashicorp/terraform-provider-goog

[2021-01-15 17:01] c2thorn commented on #8130
Switching the managed zone resource from PATCH to PUT requires a more fields to be sent:
[code]
`id` and `creationTime` would be new fields for the resource, and most likely a custom update encoder so that `nameServers` are sent as well. This is a bit more involved than a normal bug, so I'm adding a label to get it triaged next week.

[2021-01-15 17:05] upodroid commented on #8215
Hello

The API doesn't support setting master authorized networks as part the composer resource. You will need to amend the cluster manually.

https://cloud.google.com/composer/docs/reference/rest/v1beta1/projects.locations.environments

Terraform can only implement what is available in an API.

If you would like to see this in the API, you can here and submit a feature request. https://cloud.goog

[2021-01-15 17:23] alanroche commented on #8213
@edwardmedia I retested on a GCP vm instance to avoid any network issues,
When I tested with 6 tables I got the same result as you, - it applied very quickly and succeeded.  However when I added some more tables (total 12 here, but it also happened on the GCP VM with 10) to the test TF template I was able to reproduce it there too.

Another slight difference is I have specified a column family and

[2021-01-15 17:28] edwardmedia commented on #8226
@translucens the time format for recurring_window has specific requirements. Below doc says

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#recurring_window

Let me know if this make sense to you

[2021-01-15 17:49] rileykarson opened #8229 "Support hierarchical firewall policies at GA"
Beta support was added in https://github.com/hashicorp/terraform-provider-google/issues/6535 but there were significant revisions to the API between versions. We likely want to deprecate the original resource set (`https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_organization_security_policy` and similar) and introduce the `google_compute_firewall_policy_*` re

[2021-01-15 17:52] rileykarson opened #8230 "Move GKE dataplane v2 support to GA"
Added @ beta for https://github.com/hashicorp/terraform-provider-google/issues/7207

### References

* b/177601171

[2021-01-15 18:05] #8132 closed

[2021-01-15 18:05] andre-lx commented on #7928
Hi. Some update from my part. As an workaround:

From the docs:
[code]

So you can set only one taint (without the nvidia taint), and ignore the changes with the `lifecycle`block:

[code]

With this, you are able to create and update, without losing the nvidia taint. The only problem I found, is if you need to update the taints in your terraform receipt. This changes are algo ignored.

[2021-01-15 21:39] edwardmedia commented on #8213
@alanroche I do the error now after adding the column_family blocks. Unfortunately the reason is likely the api is not able to handle wide concurrent calls. To workaround it, I added depend_on blocks and it seemed fine now. Below is my test code, and let me know if that works for you.

[code]

[2021-01-15 22:36] slevenick commented on #8172
Hm, that's rather annoying. Looking at the responses maybe we should be checking that the observedGeneration is the same as the generation we received in the response to the original PUT request. I'll try adding that and see if it works

[2021-01-15 22:52] upodroid commented on #8050
We can close this issue. PITR is available but as different API fields depending on whether DB version is MySQL or PostgreSQL. It is the job of the end user to pick the right one based on what they are running.

binary_log_enabled for MySQL
point_in_time_recovery_enabled for PostgreSQL

[2021-01-15 23:36] tbugfinder opened #8234 "please align with aws/azurerm provider adding skip_credentials_validation/"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-15 23:49] #8186 closed

[2021-01-16 02:29] caieo opened #8236 "Include description for Redis Instance spec.auth_string field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-16 04:02] hkmushtaq commented on #8107
Apologies, I got pulled into some other items. For the time being I worked around this by deploying to cloud run instead. I will try to recreate in a spike project and share the code as soon as I can.

[2021-01-16 04:56] translucens commented on #8226
@edwardmedia Thank you for replying, and I understand this behavior is expected. I overlooked your quoted sentence in the reference.
So this issue is able to be closed.

[2021-01-16 04:56] #8226 closed

[2021-01-16 18:38] edwardmedia commented on #8160
@Caskia  is this still an issue?

[2021-01-16 18:41] edwardmedia commented on #8136
@Frazer-4c closing this assuming it is no longer an issue. Feel free to reopen it if the issue is not resolved.

[2021-01-16 18:41] #8136 closed

[2021-01-16 18:42] edwardmedia commented on #8162
@mayeco is this still an issue?

[2021-01-16 18:46] edwardmedia commented on #8218
@matti is this still an issue?

[2021-01-16 18:47] edwardmedia commented on #8223
@tibers is this still an issue?

[2021-01-17 19:57] matti commented on #8218
yes:
- terraform starts to delete the database
- terraform tries to delete the user, but it fails because the instance is shutting down (1s ago)

--> user resource will never be deleted

[2021-01-17 20:08] clembo590 commented on #8214
@edwardmedia to answer your question:
_you have verified that once you separate the config into different pieces and execute them separately, it is all good. No code change needed. Am I right?_
--> yes you are right.

I have put a "time_sleep" at every step and in the end I managed to make it work with "only" one "terraform apply".
--> this means that indeed the timing is the issue.
--> this means

[2021-01-18 14:08] upodroid commented on #8234
Hello

Introducting that field in the Google Provider doesn't make sense for a few reasons:
- AWS has it so you can use LocalStack. That is a mock framework for AWS. Google doesn't have an equivalent tool today.
- AWS also has local DynamoDB emulator.
- Google APIs will not work without a valid access token that is generated from a valid google credentials.

As for Azure, I'm not sure why it is th

[2021-01-18 14:41] tbugfinder commented on #8234
Hi @upodroid ,

at least new terraform plan phases could be executed without an authenticated API call and actually that's my use-case.
So it makes sense also for Google independently of local executors and mock frameworks.

Thx.

[2021-01-18 17:06] drandell opened #8238 "google_billing_budget in v3.52 threshold percentages not being honoured"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-18 19:18] edwardmedia commented on #8238
@drandell  can you share the debug log?

[2021-01-18 19:26] jtyr commented on #7469
I think that the solution is to check all external IPs with the purpose of `NAT_AUTO` and extract `address` for such record which has the router in the list of `users`. This is how to get it by using `gcloud` and `jq`:

[code]

[2021-01-18 19:36] drandell commented on #8238
Hi @edwardmedia sadly not. This was taken from my company's internal repository.
Happy to go ahead and make an example repo to reproduce.

[2021-01-18 21:40] tibers commented on #8223
Yeah I didn't get time to do it this weekend but a coworker just got bit by it working on the same codebase. I forwarded him the link to the issue too so he can comment if he wants.

[2021-01-18 22:07] yeweidaniel commented on #8128
Hi, I am also running into this error. With the tf script being:

[code]

I get the following error:

[2021-01-18 23:15] xingao267 commented on #8128
I was able to reproduce the same issue with the following configs. My Terraform version is 0.14.4. And I think the same issue occurs with Terraform 0.13 as well.

The project itself matters. If a dataset has been successfully created in a project before, then the issue seems do not occur. So to reproduce the issue, create a new project every time.

[code]

[2021-01-18 23:30] j-feng13 opened #8239 "Allow pairing_key to accept input when interconnect_attachment type is partner_provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-19 02:48] xingao267 commented on #8128
I can also reproduce the error with just the `google_healthcare_dataset` resource. So it should not be an issue in the healthcare module but in the provider. And I forgot to mention that the version of provider I'm using is 3.52.0.

[code]

[2021-01-19 03:06] xingao267 commented on #8128
My guess is such safety check was introduced in Terraform 0.12 as https://www.terraform.io/docs/extend/terraform-0.12-compatibility.html#inaccurate-plans but not enforced so this resource was fine with Terraform 0.12. However, it's likely since Terraform 0.13, such safety check is enforced and a fix needs to be implemented for the `google_healthcare_dataset` resource.

[2021-01-19 03:31] xingao267 commented on #8128
Logs when I set TF_LOG=DEBUG
[code]

[2021-01-19 03:35] xingao267 commented on #8128
The dataset was actually created in successfully, but Terraform's GET call to verify it's created failed due to dataset not initialized . I guess some sort of retry logic should be implemented to retry the GET request so it doesn't fail and just exist in the first attempt.

[2021-01-19 04:46] edwardmedia commented on #8214
@clembo590 the provider plugin relies on the individual resource that reports whether the provision is complete. For most cases, that is accurate. But for small number of resources, that is not. Unfortunately some services are among of them. This is something that is beyond what the provider can do. Does this make sense to you?

[2021-01-19 06:50] AndreaGiardini commented on #7928
Just adding my voice here as well. This is a problem and it's very annoying since every time terraform tries to re-create the nodepool since the taints do not match.

The workarounds are:
 - Ignore all the taints altogether (like suggested above)
 - Create the nodepools without the nvidia taint and add them after the first run

More people are discussing the problem here: https://github.com/terraf

[2021-01-19 09:14] drandell commented on #8238
It was a config issue overriding the default values, was difficult to spot!
Closing as working as intended now

[2021-01-19 09:14] #8238 closed

[2021-01-19 10:16] skymarchettis commented on #8216
There's the same behaviour if you try to change the machine_type value.
[code]

When, doing the same operation via UI, you just have to turn off the machine and change type.

[2021-01-19 10:49] daniel-dylag-openx opened #8240 "Support defining partition expiration in google_bigquery_table"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-19 11:24] drandell opened #8241 "google_billing_budget in v3.52 updating threshold rule -> 400 API error returned"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-19 14:10] jtyr commented on #7458
This is related to https://github.com/hashicorp/terraform-provider-google/issues/7469.

[2021-01-19 15:13] p4ranoidandro1d opened #8242 "google_firebase_project does not consider project parameter."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-19 15:23] edwardmedia commented on #8241
@drandell below block is suspicious. Not sure what you provided for these variables. What do you see if you comment lines of `credit_types_treatment` and `services`?

[code]

[2021-01-19 15:37] edwardmedia commented on #8242
@p4ranoidandro1d `google_firebase_project` is for creating *A Google Cloud Firebase instance*. The error you received below complains the API service is not enabled. You may want to take a look at [google_project_service](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project_service)

[2021-01-19 15:40] ilicmilan commented on #8215
Hi @upodroid ,

Thanks for the answer.
I have contacted GCP Support regarding this and here is the answer:

[2021-01-19 15:41] p4ranoidandro1d commented on #8242
Thank you Edward, actually, the API's are correctly enabled on the target project ...
But not on the one hosting the service account used to deploy the resources across the GCP organization..

Wasnt aware of that pre requisite. After enabling it on both the target project and the service account one, the firebase project is  successfully created...

My bad.

Thanks again.

[2021-01-19 15:41] #8242 closed

[2021-01-19 15:42] drandell commented on #8241
hi @edwardmedia ,

This is code provided from the google terraform project factory, the locals are defined below;
[code]

We don't provide any services so that would be set to null and credit_type_treatment is set to "INCLUDE_ALL_CREDITS".
projects would be a list of "projects/[PROJECT_NUMBER]". This is set per project that we create so this should only ever include 1 project number.
Maybe the nul

[2021-01-19 15:57] drandell commented on #8241
Interesting...
So services being null was causing the issue, the request looks better now but its still showing a 400.
I'll make services a empty list for now and come back to you with that result @edwardmedia

[code]

[2021-01-19 15:58] mbrancato opened #8243 "Enabling private nodes in GKE does not recreate the node pools"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-19 16:03] edwardmedia commented on #8218
@matti I have just tested below code, and it was fine in running `tf destroy`. Can you provide details about your situations? Config code, debug logs?

[code]

[2021-01-19 16:20] drandell commented on #8241
Yeah no luck. Services is now an empty array. And it still throws a 400.
[code]

[2021-01-19 17:08] mbrancato opened #8244 "Add cluster ID to support firewall rules to private GKE nodes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-19 17:23] alanroche commented on #8213
I will test the workaround tomorrow, - we would need to generate the the TF template off of something like a Jinja template. The tables are dynamic for our use case and can vary depending deployment environment, - hence driven by a list of maps. However, i don't expect it won't work with a TF looped table resource (ie. with a "count") driven from list of tables.

IMO this should be fixed by thrott

[2021-01-19 17:40] slevenick commented on #8225
Ha.... Looks like the API is returning the longer `.99500000476837158` value. I'll make the API team aware of this issue.

For now there isn't much we can do in the provider as this is within a JSON blob. If this was an individual field we could diff suppress, but that wouldn't work here.

[2021-01-19 17:45] mbrancato commented on #8244
My work around for this looks like the following:

[code]

[2021-01-19 17:49] #8003 closed

[2021-01-19 17:53] rileykarson commented on #7512
Looks like the change downstream was missing a `Fixes:`. Closing.

[2021-01-19 17:53] #7512 closed

[2021-01-19 18:32] xingao267 commented on #8128
@venkykuberan @rileykarson have you seen similar issue before? I can take a stab in fixing this, but might need some guidance from you or existing examples for how to add retry logics for a resource in magic-module.

[2021-01-19 18:35] rileykarson commented on #8129
Note: potentially a breaking change depending how the API has done this

[2021-01-19 18:53] rileykarson commented on #8215
Closing this since it isn't supported in the API.

[2021-01-19 18:53] #8215 closed

[2021-01-19 18:54] jcanseco commented on #8129
Oh I see. Please let us know if you've confirmed that this would be a breaking change then. We would like for it to be implemented in such a way that it won't be breaking, but we'll wait for your investigation.

[2021-01-19 19:08] slevenick commented on #8164
Hey @omelnyk1 can I ask what your use case for this datasource would be? I'm not sure why having this list would be helpful within Terraform

[2021-01-19 19:09] #8216 closed

[2021-01-19 19:10] #8153 closed

[2021-01-19 20:58] xingao267 commented on #8128
Trying with something similar to https://github.com/GoogleCloudPlatform/magic-modules/blob/d910e58b30b67e1c641463ab56de084ed4351225/products/pubsub/terraform.yaml#L32 plus https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/utils/error_retry_predicates.go

[2021-01-19 21:20] c2thorn commented on #8076
Rewriting `source_ranges` to not be `Computed` is likely a breaking change and evaluation is needed to determine why it was set to `Computed` in the first place. Setting as `persistent-bug` to be triaged

[2021-01-19 21:58] #8159 closed

[2021-01-19 22:07] xingao267 commented on #8128
Worked. Sent https://github.com/GoogleCloudPlatform/magic-modules/pull/4412

[2021-01-19 22:21] #8111 closed

[2021-01-19 22:23] rileykarson commented on #7469
Hmm- the most viable way of getting access to that in Terraform is probably to add support for a `google_compute_global_addresses` datasource with `filter` as an input, similar to https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/projects.

[2021-01-19 22:24] rileykarson commented on #8234
@tbugfinder: When you refer to running plan phases, do you mean specifically `terraform plan`? `terraform plan` is absolutely expected to make web requests.

[2021-01-19 22:29] bobbypage commented on #4589
Hi @bryanlarsen, I'm from the GKE node team.

We currently set `fs.inotify.max_user_watches` to `12288` on GKE since the default OS setting (`8192`) is too low (xref: https://github.com/kubernetes/kubernetes/issues/10421).

Is there any reason you need to tune the `max_user_watches`? Have you run into issues where the GKE set default `12288` is too low?

[2021-01-19 22:38] upodroid commented on #8244
There is a better way of applying firewall rules to gke nodes.

When you are creating gke node-pools, you can specify network tags that are applied to the VMs that get created and you treat it like any VM that was created by a MIG(Managed instance group).

[2021-01-20 00:23] danawillow commented on #4589
(since I'm still subscribed to issues I've commented on in the past, just a note that linux_node_config is supported now: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#linux_node_config. Removing the 'upstream' label.)

[2021-01-20 02:54] Sreerag74031 commented on #5622
I thibk this will solve the issue of all rules getting recreated while adding/editing one rule in a security policy.

[2021-01-20 02:59] Sreerag74031 opened #8251 "google_compute_security_policy all rules getting recreated"
While trying to add a new rule to an existing security policy, terraform plan shows all rules will be recreated. Is this an expected behaviour?

[2021-01-20 08:10] clembo590 commented on #8214
@edwardmedia
What you say makes sense.  in my opinion there is only two ways to proceed further:
Do you consider it fails because I wrote something wrong ?
Then it s my fault (sorry about that). Or I did not do anything wrong and then I think the issue should be investigated/resolved. (or just update documentation so that we know that we must put a sleep timer when we create XXXX resource with thi

[2021-01-20 09:16] jenshonkan84 commented on #7549
Any progress on this topic?

/BR Jens

[2021-01-20 10:37] kuroda opened #8252 "google_dns_managed_zone reference network by id doesn't work as described"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-20 11:09] p4ranoidandro1d opened #8253 "Create new data source google_firebase_default_service_account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-20 12:45] omelnyk1 commented on #8164
Hi @slevenick ,
For cloud-sql-proxy I'd like to generate instances parameter with connection string to all sql instances available in current GCP project. I have no idea the name, state and count.
I tried data source `google_sql_database_instance`, however it requires name argument.

[2021-01-20 12:47] drandell opened #8254 "Instance Group Template - Missing Lifecycle block docs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-20 13:15] alanroche commented on #8213
I was able to work around the problem with `terraform apply -parallelism=2`.
Still, a workaround,

[2021-01-20 13:34] edwardmedia commented on #8213
Closing this as the workaround works

[2021-01-20 13:34] #8213 closed

[2021-01-20 13:50] edwardmedia commented on #8214
@clembo590 adding `sleep` in Terraform config is not uncommon when you provision a system. If you encounter problems on individual resources, that is something we can help. Closing this issue then

[2021-01-20 13:50] #8214 closed

[2021-01-20 15:08] edwardmedia commented on #8241
I see it fails in **update**

[2021-01-20 15:50] jtyr commented on #7469
That would probably be good enough solution, @rileykarson. If the [`google_compute_global_address`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/compute_global_address) would have the `filter` argument implemented, we could get the IP by using this (referencing resources from [here](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/

[2021-01-20 17:37] jtyr commented on #7469
Actually, we would need to use [`google_compute_address`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/compute_address) instead of `google_compute_global_address`. And instead of adding filter into `google_compute_address`, we need completely new `data` called `google_compute_addresses`. Then we can retrieve the NAT GW IP like this:

[code]

Interestingly, the

[2021-01-20 17:39] rileykarson commented on #7469
Whoops- address type mixup on my part, I'd figured that this would use external addresses and not internal ones.

`gcloud` is probably formatting the filter a little differently, it's implemented using the API. `--log-http` should get it to dump the http requests + responses to the console.

[2021-01-20 17:59] edwardmedia commented on #8252
@kuroda can you try using the latest version of provider plugin? Below version is pretty old. Let me know if the latest version works for you?

[2021-01-20 18:04] jtyr commented on #7469
Thanks. I just checked the requests `gcloud` is sending to the API and it looks like it's using [`aggregatedList`](https://cloud.google.com/compute/docs/reference/rest/v1/addresses/aggregatedList) instead of [`list`](https://cloud.google.com/compute/docs/reference/rest/v1/addresses/list). But unfortunately the `aggregatedList` fails the same way like `list` (`Invalid list filter expression`) if I

[2021-01-20 19:05] rileykarson opened #8255 "Add support for plural datasources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-20 19:45] #8128 closed

[2021-01-20 19:57] xingao267 commented on #8128
The fix is planned to be released in google provider 3.54.0 next Monday.

[2021-01-20 20:34] ScottSuarez commented on #8241
updateMask seems to be disabled on this api, as it has divergent behavior. I was also able to get patch working without the updateMask. `INVALID_ARGUMENT` seems to suggest something is wrong with the patch process overall.

[2021-01-20 20:34] ScottSuarez commented on #8241
Do we know what argument is `INVALID`? I'll try to do some digging but its a little strange.

[2021-01-20 20:52] ScottSuarez commented on #8241
okay so this looks like a bug with the api. The projects array only takes 1 or 0 items. When its included in the patch call the api blows up even though the project id is identical. It must /think/ that it's changing when it's not.

[2021-01-20 20:59] ScottSuarez commented on #8241
ehh actually it seems to work when it's actually changing, just when you do a patch call with the old value does it blow up.

[2021-01-20 21:39] rileykarson opened #8257 "Explicitly document the list of resources that use batching"
We received an internal request (b/178017598) to explicitly document which resources have batching enabled/disabled through batching config.

[2021-01-20 21:46] upodroid commented on #8205
The `google_runtimeconfig_config` handwritten resource is a great candidate to convert. I just implemented it's datasource and it is one of the simplest resource in the provider. 2 fields and no operations.

[2021-01-20 21:54] upodroid commented on #8253
Hello

If this is to be implemented in terraform, we'll need to know an API that returns this default service account.

For example, the `google_compute_default_service_account` email is derived from the defaultServiceAccount field from [this](https://cloud.google.com/compute/docs/reference/rest/v1/projects/get) API call.

Thank you.

[2021-01-20 22:14] upodroid commented on #6770
@rileykarson We can close this issue.

The API that this datasource implementes doesn't have a way of requesting the API to only return project/org level permissions.

https://cloud.google.com/iam/docs/reference/rest/v1/roles/get

I recommend you go [here](https://cloud.google.com/support/docs/issue-trackers#feature_requests) and open a feature request with Google to implement this in their APIs.

[2021-01-20 22:15] upodroid commented on #6467
@rileykarson

This already exists. https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/redis_instance

[2021-01-20 22:23] upodroid commented on #6482
@rileykarson We can close this issue.

The API doesn't return the oauth client secret and ID for security reasons after it has been created. You'll need to retrieve it from the UI. Therefore, a datasource in terraform will not work.

[code]

[2021-01-20 22:25] rileykarson commented on #6467
Done in https://github.com/GoogleCloudPlatform/magic-modules/pull/3623

[2021-01-20 22:25] #6467 closed

[2021-01-20 23:14] upodroid opened #8260 "Remove path field from google_pubsub_subscription"
In https://github.com/GoogleCloudPlatform/magic-modules/pull/4418 I deprecated the `path` field from `google_pubsub_subscription ` .

This field needs to be removed in the next major release of the provider.

[2021-01-21 00:08] kuroda commented on #8252
@edwardmedia Yes, you are right. With the latest version, it works as expected. I'm sorry to have taken your time.

[2021-01-21 00:08] #8252 closed

[2021-01-21 00:22] rvandegrift opened #8261 "google_container_node_pool with name_prefix generates names that are too long"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-21 01:23] ScottSuarez commented on #8241
@drandell could you file a bug with the api? specifically when you patch without a mask and the budgetFilter.projects remains consistent it fails. If you aren't able to file it with them I'll be out of town until next week and should get around to it.

[2021-01-21 04:52] mbrancato commented on #8244
@upodroid Thanks for point that out. Since the `node_config` schema is not documented on the `google_container_node_pool` page, I missed that but I see it in returned attributes. That said, this is still only a half fix because it is a destructive action (forces recreate) to add a node tag. Since there are already default, generated tags, it would be nice to access this ID in a cleaner, non-destru

[2021-01-21 05:41] aronchick opened #8262 "Error: Error: googleapi: Error 403: Google Compute Engine: Required 'compute.networks.get' permission"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-21 08:15] evamaxfield opened #8263 "Add a Firestore Security Rules resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-21 09:16] drandell commented on #8241
Hi @ScottSuarez , sure can do :). Silly question, where do I raise that exactly?

[2021-01-21 09:44] sffortytwo commented on #7549
The link under References is broken. Perhaps it should be https://cloud.google.com/resource-manager/docs/reference/essentialcontacts/rest?

[2021-01-21 09:46] LipingSun opened #8264 "Quota exceeded after upgrading to v3.53.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-21 10:22] jenshonkan84 commented on #7549
Googe must have changed it. Now it is updated.

[2021-01-21 10:36] upodroid commented on #8244
The default tag or clusterId can't be derived from the API.

Changing nodepools doesn't have to be distruptive. Create a new nodepool in terraform then drain & delete the old one. The pods will move to the new nodes.

Also, please read this article https://cloud.google.com/solutions/prep-kubernetes-engine-for-prod

[code]

[2021-01-21 10:40] skymarchettis commented on #8216
Hi, I tried to execute the same command using the new provider version
[code]

but I still have the same behaviour.

[2021-01-21 14:34] cananac opened #8265 "BigQuery table time_partitioning generates diff without any changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-21 15:17] edwardmedia commented on #8262
@aronchick can you post the config, especially the `google_container_cluster.kubeflow_cluster`?

[2021-01-21 15:32] #8228 closed

[2021-01-21 16:31] p4ranoidandro1d commented on #8253
Hi,
Thanks for the explanation, I cant find any api call that provides this information (at least on this doc https://firebase.google.com/docs/projects/api/reference/rest/)

Is it accepted to produce several calls ?

The service account : firebase-adminsdk-**[random 5 chars]**@_[project-id]_.iam.gserviceaccount.com can be found via the iam api, but with some kind of filtering, which i admit is not

[2021-01-21 17:00] #7428 closed

[2021-01-21 17:28] aronchick commented on #8262
You got it -

[code]

[2021-01-21 17:29] danilomnds opened #8269 "Create two nics in a same VM using terraform"
Dear,

I've been trying to create a new network interface for my VM, but I'm facing the following error:

Error: Error waiting for instance to create: Networks must be distinct for NICs attached to a VM.

This is part of my code:

  network_interface {
    subnetwork      = var.host_subnetwork_uri
   # static address
    network_ip      = google_compute_address.static.address
  }

    network_inte

[2021-01-21 17:52] venkykuberan commented on #8151
Tests are passing now

[2021-01-21 17:52] #8151 closed

[2021-01-21 17:52] venkykuberan commented on #8150
Tests are passing now

[2021-01-21 17:52] #8150 closed

[2021-01-21 18:12] rileykarson commented on #8241
https://cloud.google.com/support/docs/issue-trackers, specifically https://issuetracker.google.com/issues/new?component=187201&template=0 should work. Once you've filed the issue, mind linking back to it here?

[2021-01-21 18:50] rileykarson commented on #6770
Hmm, that seems right. @bdronneau can you point out a role that contains those messages? I tried `roles/accesscontextmanager.policyEditor` which I believe is org-only and did not see that result.

[2021-01-21 19:13] drandell commented on #8241
Issue https://issuetracker.google.com/issues/178109334 raised @rileykarson

[2021-01-21 19:18] katebrenner opened #8270 "min_node_count of 1 results in 0 nodes unless initial_node_count is explicitly set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-21 19:36] edwardmedia commented on #8270
@katebrenner below is the comment in the doc for [google_container_cluster](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster). Does it make sense?

[2021-01-21 20:03] caieo opened #8271 "Regenerate/remove disrespectful terms in sql_database_instance fields"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-21 21:45] edwardmedia commented on #8262
@aronchick how do you provide below data? Do you see them in the request?

[code]

[2021-01-21 22:08] venkykuberan commented on #8269
2nd NIC needs to be attached to a different network. You can try creating a network then attach the ip from that network. Hope the following example helps

doc - https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_address

[code]

[2021-01-21 22:27] edwardmedia commented on #8243
@mbrancato don't you need to add `ip_allocation_policy` block in your code when you try to add `private_cluster_config`?

[2021-01-21 22:29] #7927 closed

[2021-01-21 23:04] upodroid opened #8275 "Remove Selflink from KMS Keyring and Cryptokey"
In https://github.com/GoogleCloudPlatform/magic-modules/pull/4418 I deprecated the `self_link` field from `google_kms_keyring` and `google_kms_cryptokey` .

This field needs to be removed in the next major release of the provider.

[2021-01-21 23:06] upodroid opened #8276 "Remove source_disk_url field from Snapshot resource"
In GoogleCloudPlatform/magic-modules#4418 I deprecated the source_disk_url field from google_compute_snapshot .

This field needs to be removed in the next major release of the provider.

[2021-01-21 23:18] #8002 closed

[2021-01-21 23:34] rileykarson commented on #6858
Hey @upodroid! If you have the time, do you mind checking again?

[2021-01-22 00:11] #8198 closed

[2021-01-22 00:28] upodroid commented on #6858
Still bugged.

[code]
However, the field does appear in the API so I can add it as computed field to close it out.

[code]

[2021-01-22 01:30] venkykuberan commented on #8261
This is more of change in terraform sdk (github.com/hashicorp/terraform-plugin-sdk/v2@v2.4.0/helper/resource/id.go) than the provider. @ScottSuarez  what are your thoughts ?

[2021-01-22 01:33] mbrancato commented on #8243
@edwardmedia I provided a very slim example. In reality, I do have an `ip_allocation_policy` block in the cluster resource.

[2021-01-22 02:55] edwardmedia commented on #8243
@mbrancato here is the [reason](https://github.com/hashicorp/terraform-provider-google/issues/7362) why this happens. It is not limited to adding `private_cluster_config`. Any changes that trigger cluster recreation experience the same behavior. At this moment, we can't fix it in the provider level. Does this make sense?

[2021-01-22 09:22] bdronneau commented on #6770
Hey @rileykarson ,

I use `roles/viewer` before opening this issue. I try this morning with Compute VIewer from the GCP Web ui (Create role from selection) a permission denied for custom role:
![Screen Shot 2021-01-22 at 10 10 54](https://user-images.githubusercontent.com/4170158/105471219-c97c0800-5c9a-11eb-8a4f-f0662465eb6e.png)

After digging in the link of @rileykarson, in `roles.get` [entry](

[2021-01-22 12:09] soltex1 opened #8278 "google_compute_instance_group not updated properly"
To simplify, I've updated the post:

Is there any news about this issue?

https://github.com/hashicorp/terraform-provider-google/issues/6127

[2021-01-22 13:33] dvdantunes commented on #8162
Hi, I'm having this issue too.

I can reproduce the same error following the steps on https://github.com/GoogleCloudPlatform/terraformer/issues/368

But in my case I'm using this configuration:

- terraformer version: v0.8.10
- terrafom version: v0.13.6
- google provider version: v3.53.0

Thank you!

[2021-01-22 14:23] suckowbiz opened #8279 "Modifying google_compute_subnetwork Private Google Access fails with 'resource.fingerprint' not specified"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-22 14:35] suckowbiz commented on #8279
Hey @modular-magician,

I saw you adding a lot of work for subnetwork functionality. Maybe you have an idea what is causing this issue?

[2021-01-22 14:56] suckowbiz commented on #8279
Hi @edwardmedia ,

thanks you assigned the issued to yourself! Please let me know if I can support you in any way.

[2021-01-22 15:09] suckowbiz commented on #8279
I figured out that removing any explicit change to `private_ipv6_google_access` leads to `terraform apply` succeed.

[2021-01-22 15:29] edwardmedia commented on #8279
@suckowbiz do you want to close the issue then? You can always reopen it if the issue is not reesolved

[2021-01-22 15:43] edwardmedia commented on #8243
@mbrancato this is the same behavior as [this](https://github.com/hashicorp/terraform-provider-google/issues/6127) due to the limitation of Terraform Core. It is not related only to `private_cluster_config`. As long as you trigger recreation of the container_cluster (ie update `network`), you will see the same behavior. We can't resolve this at the provider level. Does this make sense to you?

[2021-01-22 15:45] suckowbiz commented on #8279
@edwardmedia I am not sure if closing is the right thing tot do because regarding to the documentation `https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_subnetwork#private_ipv6_google_access` the module should support modifying `private_ipv6_google_access`. What do you think?

[2021-01-22 17:23] patrickdillon opened #8280 "400 should be treated as conflict error when updating IAM policies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-22 17:27] rileykarson commented on #6770
Hmm- yeah, I think this would be infeasible to implement. In an example like you've provided Terraform would need to query the API 185 times to determine whether each permission is viable. These requests would need to happen on every single refresh/plan/apply, and would likely quickly burn through quota and cause Terraform to return errors as you hit quota limits.

[2021-01-22 17:36] rileykarson commented on #6858
Our upstream request is about bring-your-own-service-account, let's wait out the API working. I followed up on the bug upstream and I'll reach out to the team directly next if they don't pick it up from there. Thanks for checking!

[2021-01-22 19:31] rileykarson commented on #8280
@patrickdillon: When you refer to creating/deleting a service account, you mean the creation+deletion of the underlying SA and not applying policies to it, right? I'm confused about the circumstances here, how an issue encountered at service account creation/deletion time is resolved by changes to `iam.go`/IAM retry logic.

Is the problem that processing the deletion of a service account adds a de

[2021-01-22 19:42] paxorus commented on #8240
There is an `expiration_ms` field for the google_bigquery_table resource: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigquery_table.
Example:
[code]

Does it suit your needs, or were you looking for something different?

[2021-01-22 19:48] daniel-dylag-openx commented on #8240
@paxorus Yes, I don't know how come I overlooked it. Thanks!

[2021-01-22 19:48] #8240 closed

[2021-01-22 20:23] patrickdillon commented on #8280
No, sorry, I was unclear in my original message (now edited). I mean the application of the IAM roles to a service account. The deletion aspect is related (I believe) to the deletion of the actual service account.

Let me try to explain again: when applying a change to the IAM policy in this code: https://github.com/hashicorp/terraform-provider-google/blob/master/google/iam.go#L85-L101 there are e

[2021-01-22 20:35] paxorus opened #8282 "Ignore order of BigQuery table columns"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-22 21:56] edwardmedia commented on #8278
@soltex1 I am afraid no to your below question.  https://github.com/hashicorp/terraform-provider-google/issues/6127 has been labelled `upstream-terraform`. We can't do much without Terraform's support. You may file an issue against Terraform directly to see if that can expedite the process.  Closing the issue then

[2021-01-22 21:56] #8278 closed

[2021-01-22 22:53] edwardmedia commented on #8162
@mayeco @dvdantunes can you try below config and command to see that works for you? Please refer to the [docs](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/storage_bucket_iam#import) for more commands.

[code]
# terraform import google_storage_bucket_iam_binding.editor "b/issue8162 roles/storage.objectViewer"

[2021-01-22 23:43] ddelbondio opened #8284 "Dependencies are not taken into account for google_compute_url_map during deletions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-23 00:10] upodroid commented on #6294
@rileykarson We can close this issue.

[2021-01-23 00:37] #8177 closed

[2021-01-23 07:08] Caskia commented on #8160
@edwardmedia Yes, still have this issue. I want to change the certificate, but GKE ingress' operation is asynchronous, when update completed, the certificate resource is still using, so can not be updated. You can try it with the code I posted.

[2021-01-23 18:09] bdronneau commented on #6770
Too bad, but I could not agree more.
Thank for your time.

[2021-01-23 18:09] #6770 closed

[2021-01-24 15:40] edwardmedia commented on #8160
@Caskia the key part is whether you actually reuse the old name or generate the new name. I can't tell from your posted code but it seems clear the names are reused (ie *playground-ableto-jira-hicoin-fit-a11d776f*)

Here are two things we could do:
1. Can you run the [example](https://registry.terraform.io/providers/hashicorp/google-beta/latest/docs/resources/compute_managed_ssl_certificate#exampl

[2021-01-24 15:45] edwardmedia commented on #8218
@matti feel free to reopen this once you are able to provide the details. Thanks

[2021-01-24 15:45] #8218 closed

[2021-01-24 15:47] edwardmedia commented on #8162
@mayeco @dvdantunes is above example helpful?

[2021-01-24 15:49] edwardmedia commented on #8223
@tibers does your coworker have a chance to respond?

[2021-01-24 16:25] dvdantunes commented on #8162
Hi @edwardmedia, sorry for the late response

I tried what you suggested and it worked. I did the following:

[code]

Then used the `import` on a bucket of my own, similar to the following:

`terraform import google_storage_bucket_iam_binding.viewer "b/bucket-testjp-dev-yl  roles/storage.objectViewer"`

[code]

And the following `terraform.tfstate` was generated:

[code]

Do you want me to do any

[2021-01-24 16:25] edwardmedia commented on #8264
@LipingSun  is this still an issue?

[2021-01-24 16:42] edwardmedia commented on #8282
Need to review this [change](https://github.com/GoogleCloudPlatform/magic-modules/pull/4347)

[2021-01-25 03:38] kuanhn opened #8285 "Support automatic storage increase limit in Cloudsql instance resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-25 09:24] maurocolella opened #8287 "Can't create firebase project when authenticated with user account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-25 11:11] amerello opened #8288 "Add possibility to enable Email/Password authentication on the Identity Platform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-25 14:15] gnarea commented on #8223
I'm running into the same issue whilst trying to update an existing cluster to enable workload identity.

My Terraform code is open source:

- https://github.com/relaycorp/cloud-gateway/blob/f76684fc1be5bd7d5e1816bd01048bb768c68f7b/environments/_modules/gateway/gateway.tf#L5-L18
- https://github.com/relaycorp/cloud-gateway/blob/6910e007d080db15663435320d51ed5063355dc7/environments/_modules/gateway

[2021-01-25 14:29] edwardmedia commented on #8287
@maurocolella how do you provide the credential that runs Terraform? What do you mean below?

In the meantime, can you share the full debug log that includes all api requests?

[2021-01-25 14:39] wvanderdeijl commented on #8288
We are also in the process of moving to Identity Platform with Terraform and found that changing the Identity Platform config at project level is not supported through Terraform. Updating that Config is what is required to enable email/password authentication, but also things like MFA, ClientConfig.Permissions, email templates, custom domains, etcetera

The API itself is described at https://cloud

[2021-01-25 14:41] gnarea commented on #8223
Sorry, please scratch my previous message: I had a few Terraform Cloud tabs open and got confused.

The service account binding did fail with the error above, but it succeeded in a subsequent attempt I made a couple of minutes later. I missed the second run, which presumably is the one that created the binding shown in the screenshot.

[2021-01-25 14:55] patrickdillon commented on #8280
Apparently we are deleting the policy bindings after deleting the service account in our project. Reversing that order should mitigate the problem for us. Happy to close this, but perhaps accounting for this scenario would make your provider more robust.

[2021-01-25 16:43] edwardmedia commented on #8284
This is an interesting case. Not sure if this can be resolved at the provider level. Below is another test config. When the `tf destroy` is called, the execution sequence is correct. After commenting some section of code (showed below) and then call `tf apply`, the execution sequence starts with `google_compute_backend_service.service-b: Destroying...`

[code]

[code]

[code]

[2021-01-25 16:51] edwardmedia commented on #8162
@mayeco no for you to do other tests. From what I understand, the solution works. I am going to close this issue then. Feel free to reopen it if this is not the case. Thank you

[2021-01-25 16:51] #8162 closed

[2021-01-25 17:54] rileykarson commented on #8284
Duplicates https://github.com/hashicorp/terraform-provider-google/issues/4543

[2021-01-25 17:54] #8284 closed

[2021-01-25 18:02] rileykarson commented on #2605
Just a quick note since I was taking a look at this earlier- the API is still available in alpha/private preview and unavailable at beta/public preview, at which point we'll be able to make it available in the `google-beta` provider. Our team has automation tracking the launch, and we're hoping to bring out provider support soon after it's available.

[2021-01-25 18:04] #6294 closed

[2021-01-25 18:21] #8279 closed

[2021-01-25 18:54] c2thorn commented on #8288
API supports get/update for the project level config and many fields.
https://cloud.google.com/identity-platform/docs/reference/rest/v2/Config

[2021-01-25 19:16] rileykarson commented on #8253
@p4ranoidandro1d can you try the https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/project_service_identity resource?

[2021-01-25 19:17] rileykarson commented on #8244
Given that the cluster id doesn't appear to be recoverable directly from the cluster, I think a user-provided value like @upodroid suggested is the best approach.

[2021-01-25 19:17] #8244 closed

[2021-01-25 20:25] hallvors commented on #7309
The way I ran into this was by enabling logging briefly for a firewall rule in the web console. (I have neither `log_config` nor `enable_logging` in my Terraform source files). The first deploy afterwards went fine (but Terraform toggled logging off again since it was not configured to be on..) - subsequent deploys give me this error. Rather unexpected..

[2021-01-25 20:30] thusoy opened #8291 "Too many concurrent requests for cloud sql"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-25 22:02] edwardmedia commented on #8223
@gnarea how can I relate your case to the issue originally reported? Help me to understand if I have missed their relationship. If your case is different, do you mind if filing a different issue so it would be better tracked?

[2021-01-25 22:16] gnarea commented on #8223
@edwardmedia, the OP described exactly the issue I ran into: Adding workload identity to an existing, Terraform-managed GKE cluster led to the error we both quote above.

The difference seems to be that, in my case, the issue fixed itself after a couple of minutes. Presumably because that's how long it took for the workload identity pool to become available.

[2021-01-25 22:38] edwardmedia commented on #8243
@mbrancato closing this then

[2021-01-25 22:38] #8243 closed

[2021-01-25 22:45] mleonhard opened #8292 "Add google_firebase_ios_app resource with apns_auth_key arg"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-25 22:49] mleonhard opened #8293 "Add google_firebase_android_app resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-25 22:56] mleonhard opened #8294 "Add google_fcm_server_key resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-26 09:36] maurocolella commented on #8287
It means that I am running `gcloud auth login` and signing in with Google user credentials, as opposed to using a token or a service account.

I am not comfortable sharing the complete debug log for security/confidentiality reasons, but I have prepared a gist with a simple `grep` on the logs, using "firebase" for matching.

https://gist.github.com/maurocolella/59b58506c32353eabf2dba2f3842bdb0

[2021-01-26 10:54] dawidpogorzelski opened #8297 "Provider version transition problem"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-26 13:48] edwardmedia commented on #8291
@thusoy the error comes from API. Besides the features Terraform provides like limiting the size of concurrent requests, there are not much the Provider can do to avoid the issue. Closing the issue then

[2021-01-26 13:48] #8291 closed

[2021-01-26 13:54] thusoy commented on #8291
There's no way the provider could automatically apply limits to concurrent sql operations or something like that? Is there somewhere else I should file this issue, like terraform proper? Resolving this was not obvious, and it's unfortunate that the workaround involves restricting parallelism for the entire terraform run just to avoid a limitation in the sql api.

[2021-01-26 13:56] edwardmedia commented on #8287
@maurocolella the issue is likely related to how you provide the credentials for the Terraform runner. Below is the *the preferred method of provisioning resources with Terraform*. Please follow it to see if that helps resolve your issue.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/getting_started#adding-credentials

[2021-01-26 14:00] #8265 closed

[2021-01-26 14:08] edwardmedia commented on #8223
@gnarea @tibers I am glad `the issue is fixed`. Is there anything left that needs to be addressed?

[2021-01-26 14:13] maurocolella commented on #8287
@edwardmedia thanks. This was also suggested in issue #5388.

I understand the security benefits and that this makes sense in CI.

With that considered:
1. Resources related to Firebase are the only resources with which we encounter this issue.
2. If this is a project in its default state, am I required to manually register a service account?
3. What if I want to automate project creation for an o

[2021-01-26 14:40] #8146 closed

[2021-01-26 15:23] ericnorris opened #8300 "Add argument to ignore deleted service account keys"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-26 17:16] venkykuberan commented on #8251
@Sreerag74031  can you please share your config & plan output to understand what's going on ?

[2021-01-26 17:24] aman-w-kumar commented on #8053
![image](https://user-images.githubusercontent.com/45878098/105880475-b010ee00-6003-11eb-9874-633319d9cc47.png)

[2021-01-26 17:40] slevenick commented on #8300
It seems like you don't want the service account key managed declaratively. Could you remove the service account key from your Terraform config and remove it from state? I'm wary about this, as it would create a very strange partially deleted state

[2021-01-26 18:06] ericnorris commented on #8300
@slevenick Thanks for the quick response!

I'd like the key _created_ declaratively, but afterwards I do not care about it. Certainly I could remove it from the config (or reduce the `count` to zero), but for my use case this is non-ideal.

I am setting up something similar to https://github.com/terraform-google-modules/terraform-google-project-factory/, but specific to my organization, and Terraf

[2021-01-26 18:11] ericnorris commented on #8300
I should note: I had originally tried this with a `lifecycle_rule`, but unfortunately that does not cover this. I think this is spiritually the same as if `lifecycle_rule` worked this way - you want a resource to be created by Terraform, but something else will manage it.

[2021-01-26 18:36] melinath commented on #8166
Resolved by merge of https://github.com/hashicorp/terraform-provider-google/pull/8296 and https://github.com/hashicorp/terraform-provider-google-beta/pull/2900

[2021-01-26 18:36] #8166 closed

[2021-01-26 19:16] slevenick commented on #8300
I don't believe we want to support this option within the provider. I would suggest using an alternative method of creating the service account key if you don't want to manage the lifecycle of the resource, as Terraform is designed to manage the entire lifecycle.

You could try creating the key through gcloud or a similar imperative tool and using a variable to reference it within the Terraform co

[2021-01-26 19:34] ericnorris commented on #8300
@slevenick I understand, but that answer is dissatisfactory for a number of reasons.

Requiring the use of `gcloud` prevents making this a secure (i.e. not using `local-exec`) self contained module, which is important for less-savvy end-users. Alternatively this means we will need to grant access to _humans_ in order to run `gcloud`, and involve them in a tedious process of generating initial keys

[2021-01-26 19:47] #8230 closed

[2021-01-26 19:57] #7828 closed

[2021-01-26 20:04] katebrenner commented on #8270
@edwardmedia Thank you! Yes that makes sense for `google_container_cluster` ! However, this information is missing from the [container_node_pool](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_node_pool#initial_node_count) doc in which I was referencing.  Could it be added there as well for extra clarity?

[2021-01-27 07:59] afafara commented on #8282
Combined with [this](https://github.com/GoogleCloudPlatform/magic-modules/pull/4400) introduced in 3.54.0, reordering causes table to be recreated on apply.

[2021-01-27 08:24] pdecat opened #8306 "Add support for upgrading Redis instance version without recreation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-27 09:28] dsdshcym opened #8307 "Advanced routing rules are not supported for scheme EXTERNAL, invalid"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-27 10:56] minrk opened #8308 "[DOC] Add navigation links to "$foo block supports" documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-27 15:24] edwardmedia commented on #8270
@katebrenner it could. Please file a separate issue labelled document for triage. Closing this issue then. Thank you

[2021-01-27 15:24] #8270 closed

[2021-01-27 15:41] edwardmedia commented on #8287
@maurocolella look at the error from **googleapi**, you might still be able to use the end user account. You can try by following the googleapi suggestion, but that is beyond the Terraform provider.

I don't understand what you mean above

Shouldn't using a service account better for the automation?

Reset `waiting response` for your report if you still need support

[2021-01-27 15:57] alepuccetti opened #8310 "BigQuery Materialised view update error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-27 16:09] edwardmedia commented on #8307
@dsdshcym can you share the full debug log?

[2021-01-27 16:17] edwardmedia commented on #8310
@alepuccetti can you provide the configs (before and after the change) and the full debug log?

[2021-01-27 16:52] edwardmedia commented on #8297
@dawidpogorzelski following your steps, I can't repro the error. I can obtain the json data. Can you share the debug log for each step?

[2021-01-27 16:52] slevenick commented on #7934
Looks like this will be solved by https://github.com/hashicorp/terraform-plugin-sdk/pull/686#issuecomment-768226648

Will require a SDK upgrade

[2021-01-27 17:53] rileykarson opened #8311 "Add support for MIG.versionTarget.isReached output"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-27 18:11] paddycarver commented on #7934
Sorry for the delayed response here, was waiting for confirmation. Yes, we got to the bottom of this, and it turns out a very specific confluence of events was needed to provoke this, which is why we didn't see it until now. I haven't confirmed this myself yet, but any `google_compute_instance` with a `network_interface.network_ip` set explicitly to `""` in the config would provoke this crash afte

[2021-01-27 18:12] rileykarson commented on #8282
@ScottSuarez are you able to take a look and determine whether we should revert https://github.com/GoogleCloudPlatform/magic-modules/pull/4400 or attempt to fix-forward? Also see https://github.com/hashicorp/terraform-provider-google/pull/8258#issuecomment-768469108.

[2021-01-27 18:14] ScottSuarez commented on #8261
yeah this is an upstream issue for terraform team. Not much we can do on our side.

[There is an existing request for their team to provide this enhancement.](https://github.com/hashicorp/terraform-plugin-sdk/issues/475)

[2021-01-27 18:17] paddycarver commented on #8261
Why can't you do anything on your side? [Just don't call the SDK's function.](https://github.com/hashicorp/terraform-provider-google/blob/287a89e3c5086bdb484871b3973a523b5f014672/google/resource_container_node_pool.go#L590)

[2021-01-27 18:24] rileykarson commented on #8171
@Clausewitz45 can you check [line 312](https://gist.github.com/Clausewitz45/cde473fd64ca0dbb361930d8cd75f70c#file-debug-log-L312) in the original log and confirm whether the groups are identical or not? I see `Skipping item with groupByEmail= "controlling-groupemail@domain.example", looking for "controlling-groupemail@domain.example")` which both look like redactions, and whether they match or not

[2021-01-27 18:25] npost opened #8312 "Add Cloud Run annotation “run.googleapis.com/ingress-status” to diff suppressed cloudRunGoogleProvidedAnnotations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-27 18:42] tatchley opened #8314 "Allow specifying a project with google_sql_backup_run"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-27 18:52] rileykarson commented on #8171
I get a success with the following, which leads me to believe the issue is not a project thing and it's more likely something weird is happening with the returned emails. Can you inspect the [matching section](https://gist.github.com/Clausewitz45/cde473fd64ca0dbb361930d8cd75f70c#file-debug-log-L309-L314) in the unobfuscated logs and ensure that there are no differences between the values? We expec

[2021-01-27 19:04] ScottSuarez commented on #8282
I'll /should/ be able to fix forward on this. I wish we had a testcase for this scenario. I did not realize we could reorder the columns. Sorry about that folks ! We'll revert this for next release and work on proper fix for this scenario before checking in.

[2021-01-27 19:06] rileykarson commented on #1144
Revert incoming for this, reopening.

[2021-01-27 19:08] rileykarson commented on #8282
@paxorus: To be clear, you're seeing the same behaviour on both `3.32.0` and `3.54.0`? What current provider version are you using?

[2021-01-27 19:18] ScottSuarez commented on #8261
That's a good point ! I suppose I could add the fix for this but I'm a little hesitant because we wouldn't [gain the mutex locking to ensure the id is unique](https://github.com/hashicorp/terraform-plugin-sdk/blob/651b26a663d34daed50d135ddd25e170ff6c6aae/helper/resource/id.go#L42). I guess it's extremely small edge case that the randomization engine fails so spectacularly. I'll see what my team th

[2021-01-27 19:21] rileykarson commented on #4876
Closing as stale- I'm not going to get to the minor issue I discovered, and was unable to reproduce the primary issue. Please file again if you encounter the same thing with newer provider versions.

[2021-01-27 19:21] #4876 closed

[2021-01-27 19:48] ScottSuarez commented on #8261
Labeling this as an enhancement

[2021-01-27 21:01] paddycarver commented on #8261
Using a CSPRNG should make that mostly a non-issue, but there's also no reason you can't use the mutex. Just put a mutex in your global scope and lock and unlock it, which is all the SDK is doing. :D This function doesn't really depend on _anything_ SDK specific.

[2021-01-27 21:05] paddycarver commented on #7934
Version 2.4.2 of the SDK is out and should resolve this issue.

[2021-01-27 21:21] paxorus commented on #8282
`3.53.0` behaves incorrectly, `3.39.0` behaves as expected, so different behavior. We have rolled back to and are currently on `3.39.0`. We never tried `3.54.0`.

[2021-01-27 21:39] JaapHaitsma opened #8317 "Some examples do not exist in example repo"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-27 23:23] anejavipul opened #8319 "Setting Scheduling options do not work in dataproc job resource creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-28 04:54] LipingSun commented on #8264
Tested rollback to v3.52.0 but still got the issue. Probably something changed on the server side. We can close this.

[2021-01-28 04:54] #8264 closed

[2021-01-28 06:15] #1144 closed

[2021-01-28 06:15] #8282 closed

[2021-01-28 07:52] dawidpogorzelski commented on #8297
Hey @edwardmedia , sure thing
[2-init.log](https://github.com/hashicorp/terraform-provider-google/files/5885587/2-init.log)
[3-apply.log](https://github.com/hashicorp/terraform-provider-google/files/5885588/3-apply.log)
[4-init-upgrade.log](https://github.com/hashicorp/terraform-provider-google/files/5885589/4-init-upgrade.log)
[5-plan.log](https://github.com/hashicorp/terraform-provider-google/fi

[2021-01-28 09:36] krathow opened #8322 "google_compute_instance_group is missing subnetwork field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-28 09:43] maroshmka commented on #1144
Hello, here's some feedback on this feature. I've checked https://github.com/hashicorp/terraform-provider-google/pull/1113 solution written up in the thread, I didn't understood it tho as there is little explained for end user.

BQ doesn't support breaking changes, which means it supports only Addition and relaxation from required to nullable. All other changes are not supported (rename, change ty

[2021-01-28 12:22] sffortytwo commented on #7549
Hi. I'd like to be involved in the development of this feature if possible. Who can I contact?

[2021-01-28 15:27] goyalmunish opened #8323 "Addition of each new view taking around an hour"
In our configuration on BigQuery, we have hundreds of datasets and on average hundreds of views in each dataset, with a common terraform state file.

Currently, we are at a stage that a `terraform refresh` is taking more than 30 minutes. Also, I see that `terraform import` for a single view under a directory containing thousands of terraform files takes more than 3 minutes but running the same com

[2021-01-28 15:33] Clausewitz45 commented on #8171
Hi @rileykarson , thanks for coming back to me. Unfortunately I don't have the old logs - lost in time somewhere, but I was able to reproduce the same issue with terraform version `0.14.5` and provider version `3.54.0` - so everything is the latest.

Background: terraform has it's own project with a single service account, and has the permission to manage ~24 other projects. So the resources are n

[2021-01-28 16:20] georgecrawford opened #8324 "Add "log check failures" boolean option to `google_monitoring_uptime_check_config`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-28 16:27] georgecrawford commented on #8324
NB: I've also logged this in the (I think?) upstream REST API project: https://github.com/googleapis/nodejs-monitoring/issues/517

[2021-01-28 18:52] rileykarson commented on #3753
The most likely solution to this is a case of https://github.com/hashicorp/terraform-provider-google/issues/8255 which isn't supported yet.

[2021-01-28 19:00] chriswood-ps commented on #8162
@edwardmedia   hi edward, this works for a single binding but I have thousands to do as produced by terraformer.. will this be fixed beyond this?

[2021-01-28 19:47] tbugfinder commented on #8234
@rileykarson let's assume there's no deployment needed at all, no changes to a deployment applicable and the user just want's to learn or showcase terraform + a given provider - in this setup a `terraform plan` doesn't have to do any authenticated web requests to the cloud API.

[2021-01-28 20:03] rileykarson commented on #5121
We suspect that running `terraform refresh` prior to `terraform import` will help here. If anyone is still encountering the issue & that doesn't help, do you mind re-filing? Thanks!

[2021-01-28 20:03] #5121 closed

[2021-01-28 21:05] tbugfinder commented on #8234
I didn't check how this is implemented within the AWS provider, however it worked for me.
Having that feature, users can support each other within the terraform world without having cloud provider credentials of different kind or have the "risk" of creating costs.

[2021-01-28 21:58] rileykarson commented on #8234
I'm confused- you're able to perform a `terraform plan` hitting the AWS APIs without authenticating as a given AWS account? That seems undesirable, and like we may be talking about different things.

[2021-01-28 22:48] sethvargo opened #8326 "Cannot lookup Cloud Build service account with data source."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-28 22:49] sethvargo commented on #8326
/cc @rileykarson

[2021-01-28 23:00] rileykarson commented on #8326
What an unusual restriction, given that it should just work using the FQN method! Assigning you since you've already got a PR out. I think https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/service_account#account_id will need to be updated as well to state that an email can be supplied.

[2021-01-28 23:07] sethvargo commented on #8326
@rileykarson done in the PR

[2021-01-28 23:32] rileykarson commented on #8171
Great! This seems like a pretty likely cause.

The value in your config right now is `controlling-Groupemail@domain.example` right? Can you check which value appears for the same field if you open the state file or run `terraform state show`?

[2021-01-28 23:52] jbuck opened #8328 "Add Query Insights fields to google_sql_database_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-29 00:32] brodseba opened #8329 "DLP - google_data_loss_prevention_stored_info_type - group_indexes (regex) update not working"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-29 07:32] akumar-lbg opened #8331 "Redis TLS feature introduction"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-29 09:51] courteouselk opened #8332 "`google_compute_router_nat` with dynamic `subnetwork` block recreates all subnetworks on the addition to the `for_each` set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-29 10:02] Clausewitz45 commented on #8171
Hi @rileykarson . The value in my config is with the small capital: `controlling-groupemail@domain.example` , not with the big one - basically it is a variable. I checked the state (downloaded the JSON, and did a grep on it) - but the email address cannot be found there: none of the exists with big/small capital in the state.

Here comes the fun part. When I was adding the email address manually o

[2021-01-29 14:40] mattelacchiato opened #8333 "Unable to retrieve P4SA: [service-XXX@gcp-gae-service.iam.gserviceaccount.com] from GAIA. Could be GAIA propagation delay or request from deleted apps."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-29 15:01] brodseba commented on #8329
### Google Cloud SDK Version
Google Cloud SDK 325.0.0
alpha 2021.01.22
beta 2021.01.22
bq 2.0.64
core 2021.01.22
docker-credential-gcr 1.5.0
gsutil 4.58
kubectl 1.17.14
kustomize 3.6.1

[2021-01-29 16:41] Dhanabalan-pop opened #8334 "Issue with resource "google_monitoring_dashboard""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-29 17:12] skymoraa opened #8335 "Terraform plan with 'google_compute_security_policy' not show the creation of existing resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-29 17:19] prowerse commented on #2605
Yes. This is still pending. Was creating uptime check and failed with following error -
[code]

Create stack driver workspace manually on console and it worked fine on next run. Would be appreciated if API for workspace creation is released sooner.

[2021-01-29 17:39] venkykuberan commented on #8334
API expects the attribute value in the upper case , changing `line to LINE` in your config should fix it.

[2021-01-29 18:03] tbugfinder commented on #8234
Oh, that's indeed I was looking for.
Excellent!! `terraform plan` can executed without having any google account.

[2021-01-29 18:10] #8234 closed

[2021-01-29 18:22] venkykuberan commented on #8335
@skymoraa if you want to bring a resource created in google console to a terraform managed resource, you need to use `terraform import` command. Hope that helps.

[2021-01-29 18:49] MoraAndrea commented on #8335
Yes I agree, but without the import the plan shouldn't show me the resource to add, because it is not present in the state? As it happens for other resources

Because terraform plan doesn't show it and if I run terraform apply the resource is still added to the state even if the plan did not say so.

[2021-01-29 18:49] daisy1754 opened #8337 "BigQuery column ordering change causes destroy of table"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-29 18:54] rileykarson commented on #8323
`terraform refresh` generally sends 1 GET request per resource and sends only [10 by default](https://www.terraform.io/docs/cli/commands/refresh.html#parallelism-n). Each request is pretty quick but over thousands of resources that'll add up. Hundreds of datasets with hundreds of views in each is within a range of 10,000 - 100,000 pretty quickly and I'm surprised you're not hitting quota issues (o

[2021-01-29 18:55] venkykuberan commented on #8329
@brodseba is the resource creation failed or are you getting warnings ? can you please add a little more detail about the issue you are facing.
Adding full debug output would be helpful

[2021-01-29 18:58] venkykuberan commented on #8337
@daisy1754 can you please add the plan output here

[2021-01-29 19:01] venkykuberan commented on #8335
Can you add debug output of your tf plan command, just want to check the calls we are making there.

[2021-01-29 19:02] rileykarson commented on #8337
See https://github.com/hashicorp/terraform-provider-google/pull/8325/files where we've reverted the behaviour causing Terraform to attempt to destroy the table. This release should go out midday (PST) Monday.

[2021-01-29 19:02] #8337 closed

[2021-01-29 19:07] daisy1754 commented on #8337
@rileykarson @venkykuberan can you reopen this? even after revert this would cause permadiff (at least it did with 3.25.0)

[2021-01-29 19:08] daisy1754 commented on #8337
@venkykuberan I don't have diff handy but it was essentially trying to delete created_at field from certain position and trying to add created_at to certain position

[2021-01-29 19:22] Dhanabalan-pop opened #8338 "Issue with resource Google BigQuery, Tables are getting re-created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-29 19:23] rileykarson commented on #8337
Sorry, there's a whole network of bugs here and I probably should have done some context links. From my perspective the new part about this bug is the "ordering changes causes destroy" part based on a few other pieces of context below.

It was true for a long time that the provider didn't take reorderings into consideration: https://github.com/hashicorp/terraform-provider-google/issues/4143. I bel

[2021-01-29 19:44] anubbhavm opened #8339 "Support to force delete non-current object versions in storage bucket"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-29 19:47] daisy1754 commented on #8337
thanks for clarification!

[2021-01-29 20:24] venkykuberan commented on #8338
@Dhanabalan-pop can you attach your test schema file to repro the issue.

[2021-01-29 20:28] rileykarson commented on #8338
See https://github.com/hashicorp/terraform-provider-google/issues/8337 for context, we're aware and details are outlined. There should be a fix out in `3.55.0` on Monday.

[2021-01-29 20:28] #8338 closed

[2021-01-29 20:35] rileykarson commented on #8331
Duplicates https://github.com/hashicorp/terraform-provider-google/issues/8060

[2021-01-29 20:35] #8331 closed

[2021-01-29 20:39] rileykarson commented on #8333
We run into this most nights in our testing environment (`TestAccAppEngineFlexibleAppVersion_update` test most recently, but multiple app engine tests appear to be related)

We can probably add a retry rule for when this occurs.

[2021-01-29 20:40] rileykarson commented on #8323
Also, closing since I believe this answers your question. I'll reopen if it doesn't, though.

[2021-01-29 20:40] #8323 closed

[2021-01-29 20:49] brodseba commented on #8329
@venkykuberan I'm not getting any warning.  Terraform tell me the change have been made successfully. But if I check the actual resource in GCP, it's not change.  I'm guessing if the resource was not already created, I may see an error but in this case, the resource was already created, I only tried to modify it.

If I reapply the same code, Terraform will detect the resource is out of sync and wi

[2021-01-29 20:59] brodseba commented on #8329
@venkykuberan
Here an example
[code]

And here the debug logs:
[code]

[2021-01-29 21:17] brodseba commented on #8329
@venkykuberan
Ok, think think are clearer now.

Creating a NEW resource with group_indexes work.
ADDING group_indexes to a already resource doesnt' work.

Maybe a error with the PATCH request from the REST/gRPC?

[2021-01-29 21:46] #8176 closed

[2021-01-29 22:01] #8326 closed

[2021-01-29 22:05] edwardmedia commented on #8332
@courteouselk have you tried to add the new subnetwork by removing the dynamic code? I tested it and it seems to be fine without destroy the existing subnetworks. Can you try? If you see the same behavior you might want to double check the use of dynamic code?

[2021-01-29 22:23] rocpoc commented on #6066
Same issue for 3.54.0 😢 . Does anyone have workarounds or fixes for this?

`Error: Error, failed to create instance voter-app-prod-database-instance: googleapi: Error 409: The Cloud SQL instance already exists. When you delete an instance, you cannot reuse the name of the deleted instance until one week from the deletion date., instanceAlreadyExists`

[2021-01-29 22:45] morgante opened #8346 "Supper aggregation for module_name in provider meta"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-29 22:50] rileykarson commented on #1144
@maroshmka: Thanks for raising your concerns! The initial change definitely didn't work as expected- we'd introduced a regression in `3.53.0` that caused Terraform to unintentionally see diffs on tables that would have been correct in `3.52.0`. Combined with this change- allowing it to attempt to recreate tables where schema changes were made- it was dangerous. https://github.com/hashicorp/terrafo

[2021-01-29 22:51] edwardmedia commented on #8297
@dawidpogorzelski I can repro the error only with Terraform v0.14.5. It is fine with Terraform v0.13.5. There is not much we can do at the provider level. Do you want to file an issue to Terraform instead?

[2021-01-29 23:55] joe-a-t opened #8347 "Validate all configuration with GCP API on plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-30 00:18] edwardmedia commented on #8216
@skymarchettis it has been built into below version. Can you try it and let me know the result?

https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.54.0

[2021-01-30 08:50] Sreerag74031 opened #8348 "Why no option to define allow all or deny all in google_compute_firewall"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-30 09:04] Sreerag74031 commented on #8348
protocol = all will create deny all or allow all, i got confused with no all option for protocol in google api https://cloud.google.com/compute/docs/reference/rest/v1/firewalls

[2021-01-30 09:04] #8348 closed

[2021-01-30 14:47] p4ranoidandro1d commented on #8253
identitytoolkit is already enabled on the firebase project.
i also tried enabling it on the project with the service account used for terraform operations

[code]

[2021-01-31 14:12] dawidpogorzelski commented on #8297
Opened https://github.com/hashicorp/terraform/issues/27645 thanks :)

[2021-01-31 22:07] mrkaleslie commented on #8251
@Sreerag74031 i am getting a similar issue when i add a new rule, existing rules show they want to recreate

[code]

I found i was able to get around the issue by explicitly specifying `preview  = false`

[2021-02-01 05:30] Sreerag74031 commented on #8251
@mrkaleslie thanks, i think the preview option fixed the issue.

[2021-02-01 07:59] clembo590 commented on #8214
@edwardmedia
Hello. Good news is that this bug has been fixed in version 3.54.
Can you please remove the label "question" and replace it by "bug".
thank you.

[2021-02-01 11:54] skymoraa commented on #8335
Debug Output Log:
[terraform_log_debug.log](https://github.com/hashicorp/terraform-provider-google/files/5903713/terraform_log_debug.log)

Rule with priority=100 and default create with terraform. Rule priority=101 create manualy and then add configuration on tf. Terraform plan make a rest call and find resource. But doesn't it make a difference with the state?

State:
[stete.txt](https://github.c

[2021-02-01 12:46] upodroid commented on #8347
I'm going to chime in the workflows you mentioned.

In my experience apply on master is messy and painful, it is much easier to apply and then merge. Apply then Merge also has problems but there are a few things you can do to make that less painful such as using Atlantis, forcing github to ensure branches are up to date(blocks 2 approved PRs from being merged simulatenously without the second one

[2021-02-01 15:01] brodseba commented on #8329
@venkykuberan
I tried the PATCH method of the API.  And it worked.  So the issue is with Terraform.

[2021-02-01 15:09] sorenhansendk opened #8351 "Unable to delete healthcheck"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-01 15:47] Dhanabalan-pop commented on #8338
terraform plan output:
~ {
                  + mode = "NULLABLE"
                    name = "Test3"
                    type = "INTEGER"
                } # forces replacement,
              ~ {
                  + mode = "NULLABLE"
                    name = "Test2"
                    type = "STRING"
                } # forces replacement,
              ~ {
                  + mode = "NULLABLE"

[2021-02-01 15:58] Dhanabalan-pop opened #8352 "BigQuery Tables re-creating"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-01 16:00] Dhanabalan-pop commented on #8352
Not sure why it is adding mode:nullable

[2021-02-01 16:29] ericnorris opened #8354 "Usability improvements for *_iam_policy and *_iam_binding resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-01 16:42] c2thorn commented on #7751
New testing organization set up, working on getting the new env variable set up in TC.

[2021-02-01 16:49] c2thorn commented on #7751
Got it passing

[2021-02-01 16:49] #7751 closed

[2021-02-01 16:52] #8061 closed

[2021-02-01 17:16] aronchick commented on #8262
Hi-- for this terraform i didn't provide either network or subnetwork (it said it was optional).

Can you help me provide you more debugging logs? I printed everything out, and it's executing under my user account (i'm an owner). I'm not sure if that one maps... we have a service account, but it's broader perms than the one in that issue.

[2021-02-01 18:14] heiny commented on #8060
Google decided that consumers are required to download and install the CA certificates on the client side.  The problem is that developers are still required to disable peer verification because they don't currently support specifying a SAN for their self signed certificates.

The problem with disabling peer verification on the client is the fact that it can connect to the Redis instance without h

[2021-02-01 19:26] c2thorn commented on #8322
The documentation indicates that `subnetwork` is an output-only field. Very reasonable to add to the provider.
@krathow your example configuration suggests that you to set `subnetwork` in your configuration, going against the documentation stating that it is output-only. Is this what you were intending?

[2021-02-01 19:29] MattGson opened #8356 "Terraform tries (and fails) to recreate database on database_instance while it is stopped."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-01 20:01] maqiuyujoyce opened #8357 "Add "state" and "error_result" field to google_bigquery_job"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-01 20:19] slevenick commented on #8292
Hey @mleonhard

I'm unable to find any REST APIs for configuring this resource on Firebase. Are you aware of such APIs? For example here is a link to the documentation for the REST API for Firebase databases: https://firebase.google.com/docs/reference/rest/database/database-management/rest/v1beta/projects.locations.instances

Without a REST API we will be unable to implement this resource in Terra

[2021-02-01 20:20] slevenick commented on #8293
Same as others the other linked requests, we will need a REST API for this

[2021-02-01 20:20] slevenick commented on #8294
Same as others the other linked requests, we will need a REST API for this

[2021-02-01 21:38] edwardmedia commented on #8297
@dawidpogorzelski thanks for filing the issue against Terraform code. I am closing this issue then.

[2021-02-01 21:38] #8297 closed

[2021-02-01 22:18] shyamsabhaya opened #8358 "Terraform GCP timeout while waiting for state to become 'DONE'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-01 22:34] nyonson opened #8359 "Unable to import data catalog taxonomy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-01 22:34] melinath commented on #8000
It looks like this is no longer happening - specifically, it looks like the github actions tests are not running `make website`.

[2021-02-01 22:34] #8000 closed

[2021-02-01 23:07] #8312 closed

[2021-02-01 23:08] ubschmidt2 opened #8360 "Retry quota exceeded compute API calls"
This is similar to https://github.com/hashicorp/terraform-provider-google/issues/4094.

I'm seeing the following errors when running `terraform plan` on a Terraform configuration with many compute resources:

[code]

These (temporarily) failing API calls should be retried. It seems that the 403 error is not yet handled in https://github.com/hashicorp/terraform-provider-google/blob/master/google/er

[2021-02-01 23:11] #6719 closed

[2021-02-02 00:02] #8271 closed

[2021-02-02 00:21] melinath commented on #7797
Doc laying out the plan: https://docs.google.com/document/d/1_FDdCuqs3hpaceZRXnKfJJ0VgdsJzuKYsmOEA0AZIi8/edit#

[2021-02-02 02:37] ronjarrell commented on #7934
Google provider 3.55, which is using the new sdk, resolves our issue.

[2021-02-02 02:37] #7934 closed

[2021-02-02 11:04] northtree opened #8363 "Support `--trigger-topic` for Cloud Functions deployment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-02 12:19] krathow commented on #8322
yes, you're right, my fault, I didn't properly read the docs

[2021-02-02 12:19] #8322 closed

[2021-02-02 12:34] edwardmedia commented on #8360
@ubschmidt2 can you share the configs? Based on the errors, have you checked `Quotas` in the project?

[2021-02-02 12:56] norbjd commented on #8333
We faced the same issue when trying to upgrade a Cloud Composer environment (error during webserver deployment, which is deployed in App engine).

[2021-02-02 13:02] edwardmedia commented on #8358
@shyamsabhaya what `image` and `machine_type ` are you using?

[2021-02-02 14:28] edwardmedia commented on #8262
@aronchick do you have particular reasons using a user account instead a service account? Using a service account to run Terraform is strongly recommended. Changing the Terraform runner account to see if that help resolve the issue.
Leaving the `network` and `subnetwork` blank is fine as long as you have the default available. Are they on the same project?
Your debug method was fine. I was asking

[2021-02-02 14:52] Ikeajoel opened #8364 "Error when reading or editing Subscription: googleapi: Error 401: Request had invalid authentication credentials. Expected OAuth 2 access token"
Hi! When we upgraded our terraform infrastructure from 0.12.25 to 0.13.0 this bug above was introduced.

"Error when reading or editing Subscription: googleapi: Error 401: Request had invalid authentication credentials. Expected OAuth 2 access token"

Any idea what can be the problem?

The provider we are using is google.

[2021-02-02 14:53] brodseba commented on #8329
I updated the issue description.

[2021-02-02 15:21] ericnorris commented on #8300
As an alternative, would you be amenable to a `google_throwaway_service_account_key` resource, which implements `Create` and `Delete`, and leaves all other operations as `schema.Noop`? Not tied to that exact name, of course.

This could potentially be more explicit that it is meant for the situations I'm describing - bootstrapping something in Terraform with a service account key that is expected

[2021-02-02 16:25] mxdlx commented on #8130
I think I'm being hit by the same issue, I created the DNS zones and added labels, then I went and changed them but each terraform apply shows that it needs to update the labels, each and every time, it is really annoying.

[2021-02-02 16:48] kanterov commented on #8357
Hi,

Thanks a lot of helping out and creating this issue. I did this patch today:

[code]

It seems to work, but one thing that surprises me is that `status` property is printed out as an array of objects, instead of a regular object:

[code]

I'm wondering if this is the right direction, and anybody can help with that.

[2021-02-02 17:34] kanterov commented on #8357
Looking into generator code I believe this is because of `output: true` at:
[code]

[2021-02-02 17:59] venkykuberan commented on #8364
Looks like terraform don't have the credentials setup.  This [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/getting_started#adding-credentials) helps to add creds.

[2021-02-02 17:59] #8364 closed

[2021-02-02 19:43] rileykarson opened #8366 "Add support for Managed Envoy to `google_compute_instance_template`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-02 19:46] #6848 closed

[2021-02-02 20:16] xiaobaitusi opened #8368 "The group_placement_policy field description is a copy of snapshot_schedule_policy field description"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-02 20:41] rileykarson opened #8369 "Add a regional quota example to `google_service_usage_consumer_quota_override`"
This uses the `dimensions` field, and is a little unintuitive to specify.

b/178645366

[2021-02-02 20:51] shyamsabhaya commented on #8358
Our image is debian10
Machine Type is n1-standard2

[2021-02-02 21:19] melinath commented on #8354
Hi, Eric - thanks for the detailed issue! Unfortunately, there would be some significant problems with making the provider be strictly additive on create. From what I understand, that's how the provider used to work, and it caused a lot of confusion for folks. A cleaner solution would require changes to how Terraform providers work more generally; we will make the case to Hashicorp to provide an A

[2021-02-02 21:22] rileykarson commented on #8357
@kanterov: Terraform doesn't actually support an object type, and objects are represented as single-element arrays so that's expected! Values are referenced as `status.0.error_result` instead of `status.error_result`.

[2021-02-02 22:39] ericnorris commented on #8354
Hey @melinath, thanks for following up!

Would it be possible for you to link some more information on what kind of problems folks had ran into in the past? If I understand correctly the `google_project_iam_policy` resource used to have an `authoritative` parameter that you could configure, which understandably could cause confusion for people.

In this case, however, I am not suggesting we make i

[2021-02-02 22:46] venkykuberan commented on #8329
@brodseba i see the issue, we will fix it. Thanks for filing the issue.

[2021-02-02 23:18] jcanseco opened #8370 "google_bigquery_dataset - infinite diff if `access` is specified with non-legacy IAM roles"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-03 01:19] venkykuberan commented on #8352
Fix is coming as mentioned here #8337. Please reopen it if you are seeing the same issue after the fix.

[2021-02-03 01:19] #8352 closed

[2021-02-03 05:56] #8171 closed

[2021-02-03 08:48] NandoTheessen commented on #8285
Hey 👋🏻
I'm interested in taking this on, but I don't have too much experience w/ Go so I'd probably need a little help and some pointers.
If that is ok with you, I'd open a PR with what I think is a valid approach and would wait for some of your feedback! 👍🏻

[2021-02-03 13:48] upodroid commented on #8354
FYI this is not true. Things like Shared VPC/cross project service-accounts/services routinely require you to modify IAM roles granted to Google Service Agents.

I understand the frustations with `google_project_iam_policy` resource and I have personally seen broken projects because people never read the warnings plastered on the docs. as melinath said there is no easy solutions right now.

[2021-02-03 14:13] Chupaka opened #8372 "google_service_account data source returns null email if SA does not exist"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-03 14:25] oholdswo opened #8373 "Shielded VM constraint violated even though correct fields set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-03 15:36] ericnorris commented on #8354
@upodroid good point! You can scratch that from my original proposal.

Obviously I'm biased here, but I believe my initial suggestion of "additive on create" is easy to use _and_ easy to implement. In fact, the logic is present in `resource_iam_binding.go` and `resource_iam_member.go`, so it would only need to be refactored a bit.

I fail to see what drawbacks there are to this approach - yes, the

[2021-02-03 16:04] pairaksi opened #8374 "Support for manually invoked builds to google_cloudbuild_trigger"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-03 16:39] melinath commented on #8354
@ericnorris yeah, the issue with making it non-authoritative is exactly what you said: the initial apply goes through and then the following apply has a diff. Although this doesn't bother everyone, there are a significant number of users for whom it's a large concern, either because they are new to terraform and don't understand what's happening, or because they want terraform to make their state

[2021-02-03 17:36] ericnorris commented on #8354
Understood, and it may end up being that we fundamentally disagree about the following point:

I want to emphasize the "are new to terraform and don't understand what's happening" group. With additive on create, they will at least be _told_ what is happening. With how it is now, they are not; the Terraform logs will show nothing out of the ordinary during the plan and apply. These users are also t

[2021-02-03 21:25] rileykarson commented on #8060
Got it. I'm not sure that's something that's available through the [rest api](https://cloud.google.com/memorystore/docs/redis/reference/rest/v1beta1/projects.locations.instances#ConnectMode) so I don't think there's anything for Terraform to do here.

[2021-02-03 22:07] cd-bustamante opened #8376 "template_file not working with google provider version = "3.5.0""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-03 22:39] vabagaria commented on #8227
We are building our GCP landing zone entirely using TF and this would be very handy.

[2021-02-03 23:32] melinath commented on #8333
It looks like this is still happening on master. I'll need to investigate a bit more. https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/170671

[2021-02-03 23:41] #8357 closed

[2021-02-04 00:27] venkykuberan commented on #8319
I see the issue, we will work on the fix. Thanks for filing it.

[2021-02-04 01:27] cd-bustamante opened #8379 "template_file cannot render bash arrays variables with google provider version = "3.5.0""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-04 01:29] cd-bustamante commented on #8376
By debugging, I was able to find that the issue is when on the bash script you tried to reference an array variable in my code this
[code]

[2021-02-04 09:15] jambt opened #8380 "cloud_run_service not recognizing sandbox=gvisor annotation set by google"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-04 14:13] edwardmedia commented on #8376
@cd-bustamante is this still an open issue? Please close it if you have resolved it

[2021-02-04 14:16] edwardmedia commented on #8379
@cd-bustamante same question to you as https://github.com/hashicorp/terraform-provider-google/issues/8376. If this is still an open question, please share the debug log

[2021-02-04 14:18] cd-bustamante commented on #8376
@edwardmedia yes it is still an issue. I was just pointing out what string is causing the issue, in my case it is when try to use this format ==> ${iarray[$c]}
I don't get it why terraform throughs an error since it is only rendering the content inside of the file, if you can please take a look and provide me with feedback or even we can have a join session.
Have a great day, waiting on your respo

[2021-02-04 14:19] edwardmedia commented on #8380
@jambt  what version of the provider are you using? Please share the full debug log if using the latest version does not help resolve the issue

[2021-02-04 14:57] cd-bustamante commented on #8379
Hello @edwardmedia , here is the URL to the GIST with the log ==> https://gist.github.com/cd-bustamante/3ffe6ad6f8e8cd0293cac73ea3a16f70

Thanks for the follow up!

[2021-02-04 17:17] melinath opened #8381 "Fix TestAccNotebooksInstance_notebookInstanceFullExample failure"
https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/170671?buildTab=tests&expandedTest=1861864166893878271

It looks like this failure may be because this test shouldn't be running in non-beta builds.

[2021-02-04 17:20] melinath opened #8382 "Fix TestAccLoggingBucketConfigFolder_basic et al"
https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/170671?buildTab=tests&expandedTest=-1052803179829050331

Failing due to bucket retention being decreased (not allowed). Maybe a new constraint from the API?

Also impacted:
- TestAccLoggingBucketConfigOrganization_basic
- TestAccLoggingBucketConfigBillingAccount_basic

[2021-02-04 17:23] melinath opened #8383 "Fix TestAccEndpointsService_basic"
It looks like this was previously covered in https://github.com/hashicorp/terraform-provider-google/issues/5039; unclear if that's related.

https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/170671?buildTab=tests&expandedTest=4647748206155634981

[2021-02-04 17:25] melinath opened #8384 "Fix TestAccContainerCluster_withAuthenticatorGroupsConfig"
https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/170671?buildTab=tests&expandedTest=1946850189227800554

[2021-02-04 17:25] rileykarson commented on #8354
I wanted to weigh in with a couple of points of my own here:

- Prior to this change, we've considered it a bug in almost all cases if the provider returns a diff after a `terraform apply`. It's fairly common for users to run Terraform in automation, and those systems would need to be adapted to run `terraform apply` twice. In my opinion that makes this a major breaking change, as it significantly

[2021-02-04 17:28] melinath opened #8385 "Fix TestAccActiveDirectoryDomainTrust_activeDirectoryDomainTrustBasicExample"
https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/170671?buildTab=tests&expandedTest=2484026027688699297&logFilter=debug

[2021-02-04 17:29] melinath commented on #8385
Duplicate of https://github.com/hashicorp/terraform-provider-google/issues/8145; part of https://github.com/hashicorp/terraform-provider-google/issues/7159

[2021-02-04 17:29] #8385 closed

[2021-02-04 17:34] melinath opened #8386 "Fix TestAccDataSourceCloudIdentityGroupMemberships_basic"
https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/170671?buildTab=tests&logFilter=debug&expandedTest=719595820802115296

[2021-02-04 17:54] melinath opened #8387 "Fix TestAccContainerNodePool_EmptyGuestAccelerator and TestAccContainerNodePool_012_ConfigModeAttr"
https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/170671?buildTab=tests&logFilter=debug&expandedTest=-4413897577447070363

Error: error creating NodePool: googleapi: Error 400: Cannot use default machine type (e2-medium) with GPUs; choose a different machine type., badRequest

[2021-02-04 17:56] melinath opened #8388 "Fix TestAccContainerNodePool_withManagement"
This may be a backwards-incompatible API change?

https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/170671?buildTab=tests&logFilter=debug&expandedTest=4113757717354893212

[2021-02-04 17:59] melinath opened #8389 "Fix TestAccCloudRunService_cloudRunServiceSqlExample"
This looks like maybe a permadiff caused by an API change

https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/170671?buildTab=tests&logFilter=debug&expandedTest=6583712081356590594

[2021-02-04 17:59] MrVentzi opened #8390 "google_container_cluster is created without honouring release_channel channel "UNSPECIFIED""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-04 18:02] ericnorris commented on #8354
Thanks @rileykarson!

I understand why this would be the ideal, but I mentioned a case where it happens now, and it would _continue_ to happen even with an auto-import functionality. I am sure you are well aware, but there will almost certainly always be some resources that cause delayed effects that cannot be expressed in a single apply.

As another (non-IAM) example, consider:

[code]

...even w

[2021-02-04 18:48] mrkaleslie commented on #8251
Hi @Sreerag74031 would you be able to reopen this issue, although there is a work around i don't think it constitutes as a fix

[2021-02-04 18:59] melinath opened #8392 "Fix TestAccSqlDatabaseInstance_backupUpdate"
https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/170671?buildTab=tests&expandedTest=2829843264706257858

[2021-02-04 20:32] #8392 closed

[2021-02-04 23:56] upodroid commented on #1817
@rileykarson We can close this issue. It was fixed in #7441

[2021-02-04 23:58] upodroid commented on #1845
@rileykarson We can close this issue.

[2021-02-04 23:59] venkykuberan commented on #8351
@sorenhansendk I am able to delete the resource with the same config, just used the static name. Can you try the same on your end ?

[code]
[code]

[2021-02-04 23:59] upodroid commented on #1943
@rileykarson We can close this one as well. Current guidance is to use cloud-platform scope with custom service accounts.

[2021-02-05 00:01] upodroid commented on #1962
@rileykarson We can close this one too. It is dupe of #1817

[2021-02-05 00:07] vabagaria commented on #8227
This is a good workaround while waiting for provider update:

[code]

[2021-02-05 00:09] upodroid commented on #1388
@rileykarson I think this one should be closed too. GKE Node-pools are immutable because the backing GCE resources(instance templates) are immutable and I don't see Google changing the core behaviour of GCE to make this feasible.

[2021-02-05 00:14] upodroid commented on #1719
@rileykarson We can close this. It was fixed in #4797

[2021-02-05 00:16] rileykarson commented on #8390
Note that the API appears to have defaulted clusters to a release channel out of the blue. We're seeing multiple failing tests as a result. The following message results in the following response:

[code]

[code]

[2021-02-05 00:20] upodroid commented on #1871
@rileykarson We can close this issue. Object level ACLs is not recommended anymore.

https://cloud.google.com/storage/docs/access-control

[2021-02-05 00:45] venkykuberan commented on #8370
This is a known behavior, `Predefined roles that have equivalent basic roles are swapped by the API to their basic counterparts`.  refer the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigquery_dataset#role) here

You can change your config to use Basic role `OWNER` or you include `life_cycle` block like below to avoid the permadiff

[code]

[2021-02-05 01:09] Sreerag74031 commented on #8251
Rule recreate issue for match -> config was resolved with including preview option, however for match -> expr the recreate issue is still there.
reopening the issue for rule match -> expr

[2021-02-05 02:17] jcanseco commented on #8370
Hey @venkykuberan, I understand that the API converts predefined roles to their basic counterparts. I'm asking if it's possible to avoid a diff in the case where the predefined role on the config already matches the basic role in the live state, since there isn't actually a semantic difference in this case.

[2021-02-05 04:17] venkykuberan commented on #8373
@oholdswo i am not able to repro the issue on my end. Can you please try with provider version ~3.x.x.

[2021-02-05 04:27] venkykuberan commented on #8370
@rileykarson what are you thoughts ?

[2021-02-05 07:24] jambt commented on #8380
Hi @edwardmedia,

thanks for helping me with this issue. I'm indeed using the latest provider and added the following information to the original post:

I created you a full debug log for the two scenarios above:
**Without the marked line** (change of `gvisor` is planned): https://gist.github.com/jambt/6ba3634b7ae81c51f20527dda53a1968

**With the marked line** (error applying): https://gist.github

[2021-02-05 07:49] oholdswo commented on #8373
@venkykuberan thanks for the response. I tried a provider version of ~3.0.0 but unfortunately still see the same error.
I've created a new gist with the full debug output: https://gist.github.com/oholdswo/db3ee722053ed855c039a3bb44aae765

[2021-02-05 09:27] alepuccetti commented on #8310
I can post a a redacted version of the SQL code change but I don't have the debug logs. I hoe this is enough to get an idea of the issue.
[code]

The only thing that change was the list of `project_ids` in the where clause. So, no actual schema change.

[2021-02-05 12:23] dubeyanir opened #8395 "Notebook instance gets re-created with terraform using google_notebooks_instance"
### Affected Resource(s)

* google_notebooks_instance

code taken as it is from
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/notebooks_instance#example-usage---notebook-instance-basic-container
[code]

[2021-02-05 14:35] ssp commented on #7593
any news about this? it would be super useful!

[2021-02-05 14:43] red8888 opened #8396 "google_service_networking_connection has no options for importing/exporting custom routes"
### Affected Resource(s)

* google_service_networking_connection

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue fol

[2021-02-05 16:06] tobynelson-pdx commented on #8162
I am in the same boat as @chriswood-ps  I have hundreds of bindings, will this be fixed in the future?

[2021-02-05 16:10] red8888 opened #8397 "permadiff because of "global" network link url "projects/<myproject_id>/global/networks/<mynetwork_name>""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-05 16:20] red8888 commented on #8397
about to close this. I looked again and I think I just need to use the "network" property.

[2021-02-05 16:23] red8888 commented on #8397
ok I just need to use this:
`google_compute_subnetwork.mysubnetwork.network`

Id still like to understand what "id" "network" "self_link" actually are and why there are so many different ways to reference a network in gcp. its very confusing and I could not find helpful documentation that clearly explains it.

[2021-02-05 16:23] #8397 closed

[2021-02-05 16:51] #8199 closed

[2021-02-05 17:15] slevenick commented on #203
I've done some investigating into this and we have decided to not support it in the provider at this time.

The reasoning for this is that while the import job is supported at the SQL instance level, the import requires databases and tables to be already set up. While databases can currently be created through this provider, tables cannot be. Without a declarative way to provision tables within th

[2021-02-05 17:15] #203 closed

[2021-02-05 17:58] slevenick commented on #8300
We talked this over and while a separate resource would be a better solution than adding this directly to service account key, we don't believe this functionality is a good addition to Terraform.

There do exist examples of this type of functionality in the provider already, but we don't want to add new instances of it

Overall if a resource is declared in a Terraform config we should try to manag

[2021-02-05 17:58] #8300 closed

[2021-02-05 18:29] venkykuberan commented on #8372
This looks like an enhancement and needs to triaged with the team.

[2021-02-05 18:33] #1719 closed

[2021-02-05 18:33] rileykarson commented on #1388
I'm going to leave this one open as a canonical issue to track the fact that this is impossible in the provider today.

[2021-02-05 18:34] #1962 closed

[2021-02-05 18:34] #1817 closed

[2021-02-05 18:35] #1943 closed

[2021-02-05 18:38] rileykarson commented on #1845
Closing as we're unlikely to pick up this change at this point. Note that you can retrieve the value off the subnet, eg:

[code]

[2021-02-05 18:38] #1845 closed

[2021-02-05 18:41] rileykarson commented on #1871
Yeah, this is unlikely to get added to the API especially as there's been a move to uniform bucket-level access. Closing.

[2021-02-05 18:41] #1871 closed

[2021-02-05 18:45] rileykarson commented on #8390
Sending on to the appropriate onduty, I'd just remembered seeing a similar issue in the test logs.

[2021-02-05 18:51] rileykarson commented on #8370
It's currently expected behaviour that only legacy roles can be specified: https://github.com/GoogleCloudPlatform/magic-modules/pull/4191

I could see a case for allowing it, but at the moment that would be an enhancement and not a bug.

[2021-02-05 19:09] jcanseco commented on #8370
Gotcha I see, is there anything I need to do here to change this to an enhancement and not a bug then?

Also, I would not consider this high priority, though it has caused confusion for the user since we didn't have a warning like https://github.com/GoogleCloudPlatform/magic-modules/pull/4191 (and even if we did, I'm sure users will still run into the issue anyway since the underlying API does acc

[2021-02-05 19:11] venkykuberan commented on #8395
[code]

I don't see Terraform attempts to recreate the resource when there is no change detected in the state/config. If you run `tf apply` on top of it, you get output like below.
[code]

We don't know how your build process is setup. Make sure you aren't deleting the resource at the end of build process and your terraform state is stored in some backend.

[2021-02-05 19:50] rileykarson commented on #8354
Definitely! The difference here is introducing that behaviour intentionally, which I'd like to avoid.

Acknowledged! Misread on my part, you're right. I've seen other cases similar sentiment to this section in isolation in the past & I think it stands:

That's how `_policy` resources behaved with `authoritative`, but I believe `_binding` actually had your described behaviour (see https://github.co

[2021-02-05 22:28] Chupaka commented on #8372
Well, together with instance's service account it looks like security gap...

[2021-02-05 23:45] venkykuberan commented on #8373
I see your request is still sending `shieldedVmConfig` to API. Can you try with the provider version `3.54.0` and see if its working.

The feature was originally called shieldedVmConfig in the API and was added to the beta API with that name. The name of the feature got changed and it was added to the GA API as shieldedInstanceConfig per [API doc](https://cloud.google.com/compute/docs/reference/re

[2021-02-06 01:17] xiaobaitusi opened #8400 "Redis Instance auth_string field doesn't function as expected"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-06 11:04] brandonjbjelland commented on #7428
I'm running into the same need as the original requestor here: needing the data stored in the variable much like would be fetched from `google_secret_manager_secret_version` as mentioned. The data source merged here looks like it was for `google_runtimeconfig_config` and not `google_runtimeconfig_variable`. Starting a PR on MM.

[2021-02-07 02:07] aminubakori opened #8401 "Cloud Run minimum instances not supported even with BETA annotation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-07 17:43] edwardmedia commented on #8400
also suppress diff needed?
[code]

[2021-02-07 17:51] edwardmedia commented on #8401
@aminubakori can you share the debug log for the execution when you call `terraform apply`?

[2021-02-07 17:53] edwardmedia commented on #8401
https://github.com/hashicorp/terraform-provider-google/issues/8401

[2021-02-07 17:54] edwardmedia commented on #8380
https://github.com/hashicorp/terraform-provider-google/issues/8401

[2021-02-07 17:59] edwardmedia commented on #8160
@Caskia I am closing this issue now. Please reopen it when you have the answers for my above two things

[2021-02-07 17:59] #8160 closed

[2021-02-07 18:01] edwardmedia commented on #8223
@gnarea @tibers Closing this issue then. Feel free to reopen if this is still an issue

[2021-02-07 18:01] #8223 closed

[2021-02-07 18:02] edwardmedia commented on #8262
@aronchick does my above answer make sense to you? Closing this issue then. Feel free to reopen it if this is still an issue

[2021-02-07 18:02] #8262 closed

[2021-02-07 18:04] edwardmedia commented on #8287
@maurocolella closing this issue then. Feel free to reopen if you still have questions

[2021-02-07 18:04] #8287 closed

[2021-02-07 18:06] edwardmedia commented on #8307
@dsdshcym is this still an issue?

[2021-02-07 18:31] edwardmedia commented on #8310
@alepuccetti it is more or less related to the `query` field as it is a simple field and the provider just passes it. Without the details, it is hard to evaluate. The debug log could help us understand more. Can you repro the issue with your redacted version of sql code? I'd like to have any version of code of both before and after changes so I can repro the issue.

[2021-02-07 18:33] edwardmedia commented on #8332
@courteouselk have you identified if this is an issue with the provider and using of terraform (dynamic) code?

[2021-02-07 18:54] sthamma opened #8402 "Newly added 'reservation_affinity' in 'google_compute_instance' is not supported."
Hi,

I see that support for 'reservation_affinity' is added few days ago (https://github.com/hashicorp/terraform-provider-google/pull/7669).

I am using GCP shell and on version 0.14.6 which is latest. I still get an issue which is attached. Can someone please clarify ?

I am not sure if I have to place that in any block, couldn't find any doc that supports. Attached two screenshots.

Thanks
Sri.

[2021-02-07 19:21] edwardmedia commented on #8358
@shyamsabhaya it is likely the API experienced some issues during the time you executed the config. Can you try it again to see if you can repro the issue?

[2021-02-07 19:53] edwardmedia commented on #8356
@MattGson I can repro the error. But if you change the data to uppercase for `charset` (below), you should not see this error.

Here are things around here
1. because terraform saves `charset` to uppercase,  it detects the difference and plans to update the database when you do subsequent apply. (This is a provider bug) Once you provide the uppercase data, the database recreation will not be in th

[2021-02-07 20:12] edwardmedia commented on #8402
@sthamma looks like this enhancement has not made through yet. Here is its PR:

https://github.com/GoogleCloudPlatform/magic-modules/pull/4335

[2021-02-07 20:20] sthamma commented on #8402
ok, thank you for your time on this. When would this be available(possibility) ?

[2021-02-07 21:57] edwardmedia commented on #8376
@cd-bustamante `metadata_startup_script` takes inline script as long as the script is acceptable. This issue appears to be about how the data source & template_file handles rendering which is beyond the provider area. Terraform owns data source &  template_file features. Do you want to check with [them](https://github.com/hashicorp/terraform/issues) instead?

[2021-02-07 22:04] edwardmedia commented on #8379
@cd-bustamante I have left comments in https://github.com/hashicorp/terraform-provider-google/issues/8376. This is about the script rendering via data source & template_file. These features are owned by Terraform. I can try to repro the issue by directly using the inline scripts for  `metadata_startup_script`?

[2021-02-07 22:35] sthamma opened #8403 "Blocks of type "gce_persistent_disk_csi_driver_config" are not expected here"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-08 01:23] maurocolella commented on #8287
Just to clarify something: as stated in the initial inquiry, I have an **owner** account on the Google Cloud **enterprise** project. Billing is enabled, and the account I use to run terraform has extensive privileges over all enabled services.

It probably shouldn't matter how I authenticate.

Likewise, we expect a certain level of idempotency. Ideally, teardown should be the reverse operation to

[2021-02-08 06:04] Sreerag74031 opened #8404 "why no data option for google_compute_health_check?"
while creating google_compute_backend_service resource healthcheck is required, but there is no data option for google_compute_health_check to read existing healthcheck to use with backend_service.

[2021-02-08 07:47] courteouselk commented on #8332
Hi @edwardmedia, apologies for a delay.  The idea to try to use non-dynamic block did not cross my mind at the time, so I just went ahead with whole re-create approach.  However, in the next couple of weeks I will need to do the similar thing again (i.e. to add one more entry for NAT), and I will be able to test your suggestion.  Considering that the similar test went fine on your side, I do not e

[2021-02-08 08:17] dsdshcym commented on #8307
Hi @edwardmedia!

Sorry for the late reply.

I can't share the full debug log...
But I can share what I found:

url map has not supported `regex_match` for an external backend service.
I tested it with `gcloud` cli with the following yaml config:
[code]
and `gcloud compute url-maps import ...` returns the same error:
[code]
so this issue is not terraform's fault.

I also confirmed that `url-rewrit

[2021-02-08 14:23] cd-bustamante commented on #8376
Hello, @edwardmedia, thanks for the feedback I'll open an issue on the Terraform project and link provide a link to this one.

[2021-02-08 14:43] oholdswo commented on #8373
Provider version 3.54.0 fixed it, thanks very much @venkykuberan! :tada:

[2021-02-08 15:26] edwardmedia commented on #8402
@sthamma it's in the code review. Until that is done, it will be in a release. I don't have a number how long it will take. Closing this then

[2021-02-08 15:26] #8402 closed

[2021-02-08 15:28] edwardmedia commented on #8376
@cd-bustamante Closing this issue then. Feel free to reopen if the provider can help

[2021-02-08 15:28] #8376 closed

[2021-02-08 15:29] edwardmedia commented on #8379
@cd-bustamante Closing this issue then along with #8376. Feel free to reopen if the provider can help

[2021-02-08 15:29] #8379 closed

[2021-02-08 15:31] edwardmedia commented on #8332
@courteouselk Thanks for taking further steps. Yes, keep me updated

[2021-02-08 16:55] edwardmedia commented on #8403
@sthamma `[gce_persistent_disk_csi_driver_config](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#gce_persistent_disk_csi_driver_config)` is in *beta*. Can you try `provider-beta` to see if it works?

[2021-02-08 17:03] edwardmedia commented on #8404
@Sreerag74031 there are several [examples](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_backend_service) that show how these resources are used. If that does not explain your question, can you be more specific what you mean about the `data option`? What you want to provide? Where do you see it available in other apps, like *gcloud*, gcp *api*, etc.?

[2021-02-08 17:05] #8373 closed

[2021-02-08 17:16] #8170 closed

[2021-02-08 17:21] melinath opened #8407 "Update Bug On-Duty documentation"

[2021-02-08 17:23] edwardmedia commented on #8380
@jambt thanks for sharing the debug log. From the error, here is [what](https://cloud.google.com/run/docs/troubleshooting#launch-stage-validation) suggested by the API. BTW, the provider has not much to control inside the `annotations` block.
[code]

[2021-02-08 17:24] scotthew1 opened #8408 "Support for Dataflow Flex job "update-by-replacement""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-08 18:00] #8333 closed

[2021-02-08 18:02] slevenick commented on #8329
@brodseba would triggering recreation on the stored_info_type work in this situation? That's the easiest solution and shouldn't cause any issues if I understand the stored info type resource correctly as there is no state associated with it that gets lost during recreation

[2021-02-08 18:04] #8236 closed

[2021-02-08 18:23] fiona-streetgroup opened #8411 "BigQuery materialized views are being shown as changed even though nothing has changed since the last apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-08 18:25] fiona-streetgroup commented on #8411
Example tf for the materialised view
[materialized_view_example.txt](https://github.com/hashicorp/terraform-provider-google/files/5945890/materialized_view_example.txt)

[2021-02-08 18:49] venkykuberan commented on #8411
@fiona-streetgroup can you please share your plan output to understand the diffs?

[2021-02-08 18:55] eadred opened #8412 "google_access_context_manager_service_perimeter - beta support for ingressPolicies and egressPolicies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-08 19:31] slevenick commented on #8374
We initially thought this was for triggering manual builds which is something we likely don't want to support. This is actually a request for creating a trigger that can be manually run. This is described in the linked docs page.

I'm unable to figure out exactly how this would be done via the existing API though. This might be done by not setting any explicit triggers in the existing resource

[2021-02-08 20:13] rileykarson commented on #8388
See https://github.com/hashicorp/terraform-provider-google/issues/8390

[2021-02-08 20:13] #8388 closed

[2021-02-08 21:03] yegle opened #8413 "google_cloud_run_service: make `location` optional"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-08 21:03] rileykarson commented on #8060
Sprint 3 or 4 seems likely, yeah. It appears the outstanding PR has a failing test & some output only fields that need to get added.

[2021-02-08 21:09] Sreerag74031 commented on #8404
I meant for backend service we have resource https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_backend_service
as well as the data source https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/compute_backend_service

where as for google_compute_health_check i only see resource no data source

[2021-02-08 21:19] red8888 commented on #8396
Actually need to add more to this...

servicenetworking-googleapis-com peering connection is created by the google_service_networking_connection resource, BUT the cloudsql peering connections are created dynamically when a VPCed cloudsql instance is created: `cloudsql-mysql-googleapis-com` `cloudsql-postgres-googleapis-com`

It's kinda crappy how it works like that. The google_sql_database_instanc

[2021-02-08 21:28] red8888 opened #8414 "google_service_networking_connection should fail if a servicenetworking-googleapis-com already exists"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-08 21:30] tam7t opened #8415 "terraform-provider-google-beta should use secretmanager v1 endpoints"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-08 21:47] daisy1754 opened #8416 "google_bigtable_gc_policy max_age.days is deprecated but "doesn't support update""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-08 21:48] #8251 closed

[2021-02-08 21:51] melinath commented on #8251
🤦 accidentally triggered linking between that PR and this ticket. @mrkaleslie to make things easier & because there's a different underlying cause, could you open a new issue for the false positive case you mentioned? Please @ me on it so I can claim it. :-) Thanks!

[2021-02-08 21:56] red8888 opened #8418 "How do I advertise additional routes into an existing BGP peer?"
Im trying to get my private ip address ranges my cloudsql instance is using routable across my vpn: https://cloud.google.com/sql/docs/postgres/configure-private-ip#vpn

I need to run this command:
[code]

The closest resource I can find for this is google_compute_router_peer but I already have a peer configured with an advertise_mode of DEFAULT with aws VPN endpoints

Can I have multiple google_co

[2021-02-08 22:08] edwardmedia commented on #8414
@red8888 can you share the debug log?

[2021-02-08 23:57] jcanseco commented on #272
Hello, I saw that this is now supported in 3.56.0, though it seems that there is a discrepancy between the docs and the implementation: [the docs say that `clone.point_in_time` is optional](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_database_instance), but [the field seems to be marked Required in the code](https://github.com/hashicorp/terraform-provider-goo

[2021-02-09 00:57] brodseba commented on #8329
@slevenick
That what I did.  I delete the resource and recreated it.  But PATCH (update) should be supported too.  Because the name cannot be set, the recreation of the custom_info_type if use inside a inspectTemplate may force the inspectTemplate to change name.  So, far from an ideal solution.

[2021-02-09 03:12] mikhail-khodorovskiy opened #8420 "google_notebooks_instance using container image does not work."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-02-09 12:13] maroshmka commented on #1144
sorry for late reply.

ad tf in general - thanks, I didn't see it this way, but it make complete sense. From PoV of tf it does what it should. Plan says it will "delete" and then the apply will delete, so user actually "approves" it by running apply.

ad breaking change - again, is probably not a breaking change from PoV of tf. On the other hand, deleting data is generally a huge problem. So, cons

[2021-02-09 13:39] mohwali opened #8421 "Can't use service account json file to initialize the terraform remote state"
I'm trying to run initialize my terraform code with a remote state file using the following command: `terraform init -backend-config="terraform-state-blabla" -backend-config="dev" -backend-config="cred.json" `Where the backend is stored in GCS bucket. As a result, I get multiple errors
[code]

However, when I put all the backend into a tf file like the following example, it works:

[code]
Any advi