[2017-12-05 19:24] rosbo commented on #611
You can create a service account for each of your Google Cloud Accounts.
Generate a key for each of them. Save each keys on your computer in json format.

[code]

Each of your terraform directory can specify a different set of `credentials`.

[2017-12-05 21:56] benbro opened #820 "google_storage_bucket_iam_member and google_storage_bucket_iam_binding"
Feature request to add google_storage_bucket_iam_member and google_storage_bucket_iam_binding resources.
gutil has IAM set [command](https://cloud.google.com/storage/docs/gsutil/commands/iam).

google_storage_bucket_acl uses legacy roles which aren't compatible with new APIs like signBlob.

### Terraform Version
v0.11.1

### Affected Resource(s)
- google_storage_bucket_iam_member (missing)
- googl

[2017-12-05 21:56] benbro commented on #819
Will be great to have google_service_account_iam_member too.

[2017-12-05 22:12] sl1pm4t commented on #817
Is there a way to do this without Terraform?
I think the mount is being done by the google cloud daemon that runs on the VM.

[2017-12-05 22:29] rosbo commented on #820
Duplicate of #481. Closing. FYI: I should be able to get to it this week.

[2017-12-05 22:29] #820 closed

[2017-12-05 23:02] benbro commented on #481
I suggest adding two resources:
- google_storage_bucket_iam_member
- google_storage_bucket_iam_binding

In my opinion it's much cleaner and intuitive than using iam_policy.
Similar to google_project_iam_binding  and google_project_iam_member.

[2017-12-06 07:42] sebglon commented on #481
Alredy exist with another name on #493

[2017-12-06 09:55] zbikmarc commented on #51
Any chances to have it done in near future?

[2017-12-06 10:56] sho-abe opened #823 "Feature Request: add affinityCookieTtlSec property in google_compute_backend_service resource"
Hi there,

I attempted to set load balancing by session affinity with COOKIE_GENERATED.
However, "google_compute_backend_service" can not set "affinityCookieTtlSec".
I would like to implement this property.

### Terraform Version
Terraform v0.11.0
+ provider.google v1.3.0

### Affected Resource(s)
- google_compute_backend_service

### Terraform Configuration Files
[code]

### Expected Behavior
goo

[2017-12-06 17:10] loffelmacher opened #824 "google_organization_iam_custom_role plan/apply differ"
I've setup a "custom role" for the organization. My custom role includes many fine-grained rights. I am noticing that when I run `terraform plan` TF thinks there's a change to be made to my custom role, though no code has changed.

### TF Version
[code]

### Affected Resources
`google_organization_iam_custom_role`

### Terraform Configuration

[code]

### Expected Behavior
If my terraform code doe

[2017-12-06 22:30] #772 closed

[2017-12-06 22:49] rosbo commented on #782
The you need to prefix the import id with the project name.

In your case the command to run would be:
[code]

See documentation:
https://www.terraform.io/docs/providers/google/r/bigquery_table.html#import

I will make a fix to show a descriptive error message instead of crashing.

[2017-12-07 11:12] shaharmor commented on #51
I would be happy to see this as well

[2017-12-07 18:42] Stono opened #829 "Support for regional rather than zonal clusters"
Hey,
Is there anything on your roadmap to support regional clusters?
https://cloudplatform.googleblog.com/2017/12/with-Google-Kubernetes-Engine-regional-clusters-master-nodes-are-now-highly-available.html

I'm sure MANY people would like highly available masters!

[2017-12-07 20:06] paddycarver commented on #611
Hi @rawkode, do you happen to have a config that demonstrates this or a [debug log](https://www.terraform.io/docs/internals/debugging.html) for it? I largely ask because there are a bunch of different ways to supply credentials to Terraform, and without knowing which one was used, it's a bit trickier to dig into the problem.

[2017-12-07 20:28] paddycarver commented on #502
Hi @nodesocket, I think we solved the problem here, so I'm going to close this issue out. If I'm mistaken, and there's still a problem to be solved, please feel free to reply and we can reopen this. Thanks!

[2017-12-07 20:28] #502 closed

[2017-12-07 20:29] paddycarver commented on #353
All uses of `id` _should_ be gone from the provider now, so I'm going to close this out. Feel free to reopen if it crops back up again!

[2017-12-07 20:29] #353 closed

[2017-12-07 20:37] paddycarver commented on #647
Hey @Nmishin, can you clarify what you mean by "create random object name"? Your config doesn't seem to be creating a random object name... it seems to be hardcoded in as "test_object"?

Also, how does your `storage_bucket_object` depend on the object? If you could show the exact config you're using, that would be really helpful in getting a reproduction of your problem so we can fix it.

Thanks!

[2017-12-07 21:12] #481 closed

[2017-12-08 18:42] hawksight opened #831 "`google_container_node_pool` has no `instance_group_urls` output"
When creating a multi zone cluster with an additional node pool (issue would multiple with further node pools), I attempt to put all the nodes into a backend service for a load balancer.
This is through the `google_container_cluster.cluster.instance_group_urls` output from the `google_container_cluster`. When you have a node pool as a separate resource in terraform, the output mentioned has only t

[2017-12-08 19:13] #782 closed

[2017-12-08 21:12] #794 closed

[2017-12-08 22:11] #128 closed

[2017-12-09 16:29] matti opened #836 "google_dns_record_set NS create fails on apex"
with

[code]

I get

[code]

but if I change the "NS" type to "TXT", apply and then change it back to "NS" it works.

[2017-12-09 20:39] JorritSalverda commented on #609
@paddycarver any idea when the next release containing your PR changes comes out? v1.3.0 doesn't have them.

Or is there perhaps a way to use the latest master build locally for the provider to bridge the gap until the next version?

[2017-12-11 01:01] paddycarver commented on #609
We tend not to announce schedules for new releases, to avoid confusion if any last-minute problems or changes occur. But we do strive to bring features and bug fixes to people in a timely, regular manner, so I'd say "soon".

There's info in the README on how to build the provider: https://github.com/terraform-providers/terraform-provider-google#building-the-provider

To use the custom provider you

[2017-12-11 13:43] homelessnessbo commented on #444
Hey guys, as I can see - PR is already merged, right? Is it going to be included in the nearest release, or should I build it from master?

[2017-12-11 17:43] #444 closed

[2017-12-11 17:46] rosbo commented on #444
Hi @homelessnessbo,

Yes, this will be included in the next release. I also realized that we had forgot to update our docs so I updated them.

Thank you

[2017-12-11 17:46] Cidan commented on #444
@rosbo It's actually already released iirc, no?

[2017-12-11 17:48] rosbo commented on #836
Hi Matti,

@paddycarver fixed this bug in #807.

The next release will include a fix for this bug.

Thanks.

[2017-12-11 17:51] rosbo commented on #444
@Cidan you are right. This was release in version 1.2.0. However, the documentation was not updated. You can look at #839 for the documentation on how to use it.

[2017-12-11 18:16] paddycarver commented on #836
That release just went out! `terraform init -upgrade` should fix this. If it doesn't, feel free to reply to this issue and we can take a look.

[2017-12-11 18:16] #836 closed

[2017-12-11 18:24] #756 closed

[2017-12-11 21:43] Ronwebb55 opened #841 "Support For GKE federation"
Hi there,

### Terraform Version
Terraform v0.10.7

### Affected Resource(s)
google_container_cluster

I would like  support for GKE federation.

[2017-12-11 22:07] #715 closed

[2017-12-12 00:51] danisla opened #842 "google_storage_bucket_object error with computed content"
Hello,

As of provider.google v1.4.0, google_storage_bucket_object resources with computed content cause an error stating that an extra attribute `detect_md5hash` was found.

This error doesn't occur if the `content` input is static or known before the plan. Seems to only occur with dynamically generated content.

I think this might be related to this PR: https://github.com/terraform-providers/ter

[2017-12-12 08:31] pawelsocha commented on #76
@sarunask do you have any update?

[2017-12-12 08:51] rolandkool opened #843 "Add Bucket IAM policy resource"
Hi,

Version 1.4.0 comes with support for Bucket IAM member and binding, which is great! It would be nice to also have the policy variant where you apply one policy to a bucket overriding all other applied policies. Similar to what you can do on a project with the google_project_iam_policy.

Our use case requires that we don't want allow to any manual changes to policies so if one is to manually c

[2017-12-12 09:04] sarunask commented on #76
I'm currently looking into the way how to make Google Cloud API calls as https://github.com/GoogleCloudPlatform/google-cloud-go doesn't provide CloudFunctions API support.

[2017-12-12 09:49] homelessnessbo commented on #444
Thanks guys!

[2017-12-12 11:28] wmuizelaar opened #844 "Autoscaling in combination with node_count for google_container_cluster"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- google_container_cluster

### Terraform Configuration Files

[2017-12-12 11:56] wmuizelaar commented on #844
Confirmation that using 'initital_node_count' fixes the issue, but since that one is deprecated, I would like some advice on how to setup this config :-)

[2017-12-12 14:27] rolandkool opened #845 "Last lifecycle rule not removed from google_storage_bucket"
Hi there,

When adding lifecycle rules to a bucket and then removing then, they are not removed as no other lifecycle rules remain. So adding two rules and removing one will result in that one rule being removed. However, removing the second one (or removing both at the same time) will result in the rule(s) being kept in place.

### Terraform Version
[code]

### Affected Resource(s)
Please list th

[2017-12-12 17:20] hashibot opened #846 "feature request: support regional master for gke"
_This issue was originally opened by @homelessnessbo as hashicorp/terraform#16900. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hey guys!

In the 5th of December google dropped [regional master support](https://cloudplatform.googleblog.com/2017/12/with-Google-K

[2017-12-12 18:31] rosbo opened #847 "Add update support for routing mode in compute network."
The `routing_mode` field in the `google_compute_network` can be updated using the Google Cloud API but Terraform doesn't support it.

[2017-12-12 21:26] rosbo commented on #843
Hi @rolandkool

The reason I did not add a `google_storage_bucket_iam_policy` resource is because there is a bunch of legacy roles that are automatically added when creating a policy.

There is different ways we can handle these:
1. Always ignore these roles. You cannot set or remove them when using the authoritative iam_policy resource.
2. A user has to specify these legacy roles in their config

[2017-12-12 21:32] mrparkers commented on #847
`description` can also be updated.

[2017-12-13 00:52] rosbo commented on #824
Hi @loffelmacher,

It seems like the `bigquery.datasets.list` permission is not valid... It is also not in this list: https://cloud.google.com/bigquery/docs/access-control

I tried without the `bigquery.datasets.list` permission and unfortunately, I can't repro the issue you are experiencing. Can you share your Terraform logs with us to help with debugging?

Thank you

[2017-12-13 07:20] glehmann opened #852 "delete timeout is too short"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
0.11.0

### Affected Resource(s)
at least, but may happen on other resources:
- google_compute_instance

### Terraform Configuration Files
[code]

[2017-12-13 08:39] homelessnessbo commented on #846
thanks, hashibot 👍

[2017-12-13 08:42] homelessnessbo commented on #846
duplicate of #829, feel free to close it.

[2017-12-13 13:46] leg100 commented on #80
@danawillow this issue is requesting support for auto_repair on the google_container_cluster resource (which I take to mean on its default node pool). Doesn't #669 add support for it on the google_container_node_pool resource only?

[2017-12-13 16:37] amarlot commented on #51
Confirmed. It would be great to support rolling update.

[2017-12-13 17:44] rosbo commented on #852
Note to implementer:
- Bump the default timeout
- Support Terraform Configurable Timeouts like we did here: #717

[2017-12-13 21:08] #813 closed

[2017-12-14 00:41] #842 closed

[2017-12-14 00:46] #845 closed

[2017-12-14 00:56] ndmckinley commented on #81
Anyone interested in this issue should join in on the PR about what the use cases are for this resource, so we can be sure to support all of them.  :)

[2017-12-14 01:03] #852 closed

[2017-12-14 01:24] rosbo commented on #847
`description` actually can't be updated:
[code]

[2017-12-14 01:26] mrparkers commented on #847
Oops, you're right.  I thought I saw that it could be updated in the UI, but I just checked, and you can't.

[2017-12-14 12:15] zbikmarc opened #858 "google_compute_forwarding_rule does not support shared VPC"
I think there are two issues which as a result does not allow using `google_compute_forwarding_rule` with shared VPCs.

1. `subnetwork` field expects an URL not just a name - in other compute resources like instance and template this filed is just network name
1. There is no `subnetwork_project` field which might help with issue above.

### Terraform Version
`Terraform v0.11.1`
`provider "google"

[2017-12-14 15:24] rochdev opened #860 "Error when trying to update network_policy on google_container_cluster"
When trying to enable network policy support on existing clusters, the following error is returned:

[code]

The change we have made to the cluster resource was to add the following block:

[code]

Adding the policy manually with the CLI and re-running `terraform apply` works. It seems the `network_policy` block attempts to enable network policy on the cluster without first adding the correspondin

[2017-12-14 15:29] amarlot opened #861 "Resize disk destroy and recreate vm"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
v0.10.7

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_disk
- google_compute_instance

### Terrafor

[2017-12-14 15:53] abevoelker opened #862 "google_dns_record_set always wants to update DNS records if you use uppercase letters"
### Terraform Version
[code]

### Affected Resource(s)
- google_dns_record_set

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/abevoelker/d59e926a52aea181009ea724ec563154

### Panic Output
N/A

### Expected Behavior
After the initial `terraform apply`, subsequent `terraform plan` operations should say "No changes. Infrastructure is up-to-date."

### Actual Behav

[2017-12-14 16:07] abevoelker opened #863 "google_dns_record_set always wants to update TXT records that are not escape-quoted"
### Terraform Version
[code]

### Affected Resource(s)
- google_dns_record_set

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/abevoelker/e35529ee72f8b0619a9cae0130c8ce03

### Panic Output
N/A

### Expected Behavior
After the initial `terraform apply`, subsequent `terraform plan` operations should say "No changes. Infrastructure is up-to-date."

### Actual Behav

[2017-12-14 16:12] rameshvenk opened #864 "Feature request: google_dataproc_cluster resource support for internal ip address"
Hi
I noticed in a recent gcloud client update that Dataproc has support for private ip addresses. This is very critical since our security team prefers to provision VMs in our own private subnetwork at GCP. However the `google_dataproc_cluster`  resource does not have this per this [documentation](https://www.terraform.io/docs/providers/google/r/dataproc_cluster.html) link.

[2017-12-14 17:48] rawkode commented on #611
Hi @paddycarver,

I work with multiple companies, so my `gcloud auth list` looks like so:

[code]

I'd like to be able to use `config set account` to toggle which Terraform uses.

My `provider.tf` looks like so, and this is pretty common across all orgs.
[code]

[2017-12-14 17:48] rosbo commented on #858
Hi,

Have you tried using the subnetwork data source?

[code]

[2017-12-14 17:49] rawkode commented on #611
Using `gcloud config set account` updates ` ~/.config/gcloud/configurations/config_default`

[2017-12-14 21:09] danisla commented on #611
@rawkode this is the command you should use to set the application default credentials:

    gcloud auth application-default login

[2017-12-14 21:24] danisla commented on #841
Checkout k8s-multicluster-ingress (kubemci). This will let you federate ingress across clusters in multiple regions. A more usable approach to federation IMO.

https://github.com/GoogleCloudPlatform/k8s-multicluster-ingress

[2017-12-14 21:35] #765 closed

[2017-12-14 22:04] rawkode commented on #611
@danisla but shouldn't we be using whatever the new way is, that natively supports multiple accounts? Using that seems like a hack.

[2017-12-14 22:28] #847 closed

[2017-12-14 22:49] rosbo opened #865 "Improve IAM documentation around member specification"
In the iam resources docs, we list the possible values for members. However, some resource don't support all of them.

For instance, project iam doesn't support `allUsers` and `allAuthenticatedUsers` (See: #859)

Go over each resource and make sure we only mentioned valid member values for that resource:
- [x] service account
- [x] KMS key ring
- [x] storage bucket

[2017-12-14 22:52] #819 closed

[2017-12-14 23:06] benbro commented on #819
Thanks

[2017-12-14 23:07] #846 closed

[2017-12-14 23:40] danisla commented on #611
@rawkode sure thing, what is the new way of supporting native accounts? Maybe I missed something in the Terraform provider features. I typically just use `gcloud config configurations activate <config name>` to switch between accounts.

[2017-12-14 23:40] wyardley opened #867 "Feature Request: kms secret in data"
Would it be possible to add a kms_secret data type for gcp, similar to the one for AWS?

https://www.terraform.io/docs/providers/aws/d/kms_secret.html
This allows referencing KMS encrypted secrets (for example, for easy externalization of a password or other secret).

[2017-12-15 07:50] zbikmarc commented on #858
@rosbo
This helped but I find it a bit inconsistent. In other places one have to provide name and project (sometimes) but `google_compute_forwarding_rule` expects URL.

[2017-12-15 09:22] johnraz commented on #718
@rosbo @eilgin may I ask what the state of this is? Is someone working on this yet?

I'm not used to Go but if you think it's easy enough and maybe can provide me with some guidance on where to look at this I would gladly submit a PR because this is annoying me like crazy 😄

[2017-12-15 10:27] eilgin commented on #718
@johnraz i'll let @rosbo take this since he said that he'd gladly take it 😄

[2017-12-15 11:26] johnraz commented on #718
And I would love to start contributing too, just FTR ;-)

[2017-12-15 17:19] dolvany opened #870 "Add support for private visibility to DNS managed zones"
Please add support for cloud dns private zones.
https://cloud.google.com/blog/products/networking/introducing-private-dns-zones-resolve-to-keep-internal-networks-concealed

### Terraform Version
Terraform v0.11.1
+ provider.google v1.4.0

### Affected Resource(s)
- google_dns_managed_zone

[2017-12-15 17:42] rosbo commented on #718
Hi Jonathan,

I am glad you want to start contributing to this project :)

The best way to solve this issue is to add configurable timeout support for the `google_compute_subnetwork` resource. I implemented something similar for the `google_compute_instance`. You can look at that PR #856 for inspiration (in fact, it should be pretty similar).

Let me know if you need any help.

Thank you

[2017-12-15 17:48] rosbo commented on #858
I agree, we should be consistent across resources.

I will leave it open to fix this.

[2017-12-15 18:04] rosbo commented on #867
There is a PR for it at #741

[2017-12-15 18:07] wyardley commented on #867
@rosbo Thanks! Sorry for missing that.

[2017-12-15 18:07] #867 closed

[2017-12-15 18:10] rosbo commented on #867
No worries @wyardley.

At this moment, we are reluctant to add this feature because we think it gives a false sense of security and encourages a unsafe pattern. Please chime in PR #741 and tell us about your use case and we might accept the PR if we see compelling arguments.

[2017-12-15 19:04] ndmckinley commented on #714
We'll need to do #638 to create google endpoints with app engine, but we can add endpoints support to compute engine, and expand it to app engine and kubernetes later.

[2017-12-16 11:51] rawkode commented on #611
@danisla I've read through the docs, perhaps I am mistaken. It seems to suggest service accounts should be used, but then says not when provisioning resources for projects. :/

[2017-12-16 19:01] johnraz commented on #718
@rosbo awesome, thanks for the warm welcome.

I'll try to do this in the best way possible and will submit a PR as soon as I get it done.

Cheers.

[2017-12-16 21:26] johnraz commented on #718
@rosbo @eilgin ☝️ there is the PR 🎉

[2017-12-17 19:38] lkr2des commented on #369
I guess this open issue is related to what I am noticing as well,

I am on

$ terraform --version
Terraform v0.11.1
+ provider.google v1.1.0

and trying to do,

$ terraform import google_compute_instance.ac01 ac01
google_compute_instance.ac01: Importing from ID "ac01"...
Error importing: 1 error(s) occurred:

* google_compute_instance.ac01 (import id: ac01): import google_compute_instance.ac01 (id

[2017-12-18 10:23] sarunask commented on #76
I found a way to call CloudFunctions API so making progress now.

[2017-12-18 14:13] sce81 opened #872 "unable to create manual subnetwork - invalid cidr"
pebac

[2017-12-18 14:23] migibert commented on #495
Hi,

I have a usecase where I need to encrypt terraform computed data using KMS and store the result in GCS.

For now, I used a workaround similar to @rochdev using an external data source but I'd love to use a data source like the one you proposed!

[code]

I understand the security issue mentioned by @rosbo about storing a secret in a tfstate file, but as the problem seems more global and not co

[2017-12-18 14:42] tragiclifestories commented on #495
(For context, @rosbo's comments referred to above are on the PR: https://github.com/terraform-providers/terraform-provider-google/pull/741)

While I agree with you (see my PR comments), I think it is still important to make it easy for people to do the right thing, or at least easier than it is to do the wrong thing. On most TF backends, encryption is a 'some assembly required' matter.

TBH though

[2017-12-18 15:45] #872 closed

[2017-12-18 17:24] ndmckinley commented on #714
Okay, Endpoints is really a feature of the ServiceManagement client, and the deploy is heavy on the client side, so this isn't likely to be ready until after the holidays.  In any event, I'm on it.

[2017-12-18 17:47] #718 closed

[2017-12-18 18:47] rosbo commented on #369
@lkr2des You are correct. This error message shows up because the feature is not supported yet.

It won't be possible to import the metadata field correctly without a breaking change but I can still support import for all the other field. After the import, it will show a diff for the metadata field but since metadata supports update, it shouldn't be a big deal.

I suggest we do it in 2 parts:
1. S

[2017-12-18 18:51] brising6 commented on #714
Awesome, thanks for picking it up :)

[2017-12-18 20:57] Stono commented on #829
@rosbo does the upstream tag mean it's coming? :-)

[2017-12-18 23:29] rosbo commented on #865
Validated that the docs are accurate around member specs for all the IAM resources we support. Closing.

[2017-12-18 23:29] #865 closed

[2017-12-19 00:32] rosbo commented on #83
Hi @pdecat, yes please, file issues for other resources for which you would like IAM support.

[2017-12-19 02:29] jayed commented on #52
Hi, there!
I'm interested in the same functionality...I can make templates just fine. But I need to provision the instantiations separately -- for instance, I pull my consul configuration from a remote state (generated by the consul servers instantiation).

Do I need to try and shoe-horn everything into the google_compute_instance_template startup scripts using terraform templates?

[2017-12-19 12:33] homelessnessbo commented on #829
@Stono I'm not a developer of terraform, but I've spent few hours trying to investigate if it's easy to contribute this feature (because it sounds like this) and I've realised that all the code of `google_container_cluster ` resource is based on `v1` stable API and regional clusters are available only in `v1beta` API version, which makes implementation a little bit hard, because mechanic of workin

[2017-12-19 15:20] gdubicki commented on #18
I think that we have 2 problems here:

1. Terraform error message when you try to assign other healthcheck than HTTP is not informative.

2. Google still doesn't have API for assigning healthchecks other than HTTP.

[2017-12-19 15:21] gdubicki commented on #18
Can someone please look at this? @danawillow ?

[2017-12-19 15:59] jayed opened #876 "min_cpu_platform for instance templates not documented"
### Terraform Version
Terraform v0.11.1
+ provider.digitalocean v0.1.2
+ provider.google v1.3.0
+ provider.local v1.0.0
+ provider.template v1.0.0
+ provider.vault v1.0.0

### Expected Behavior
The [docs](https://www.terraform.io/docs/providers/google/r/compute_instance_template.html) for google compute instance templates doesn't mention min_cpu_platform. It is, however, mentioned in the google co

[2017-12-19 16:35] adam-sandor opened #877 "Valid GKE cluster version reported as invalid"
We are repeatedly running into issues with specifying the right version of Kubernetes for GKE clusters. Versions that are valid one day become invalid after some time even though they are listed in the dropdown on the GCP Console UI. It also looks like the invalid version can be used if we are upgrading the cluster but not when creating a new cluster.

### Terraform Version
Terraform v0.11.0
+ pro

[2017-12-19 16:40] Stono commented on #877
It's not available any more, it's not a terrarorm version, you can't even
do it through the gui!

Change to .1

On 19 Dec 2017 4:35 pm, "Ádám Sándor" <notifications@github.com> wrote:

We are repeatedly running into issues with specifying the right version of
Kubernetes for GKE clusters. Versions that are valid one day become invalid
after some time even though they are listed in the dropdown on t

[2017-12-19 16:40] Stono commented on #877
Terrarorm problem *

On 19 Dec 2017 4:40 pm, me@karlstoney.com wrote:

[2017-12-19 16:44] adam-sandor commented on #877
Yes, using 1.8.4-gke.1 works. .0 is still visible in the UI for me btw but I think this time it's a simple upgrade issue and not the weird problem we were experiencing before. You can close the issue.

[2017-12-19 16:44] #877 closed

[2017-12-19 17:36] rosbo commented on #876
It is a miss on my part. The feature is supported. I will open a PR to add the documentation. Thanks for flagging.

[2017-12-19 17:38] pdecat opened #878 "Add IAM support for pubsub subscriptions"
Hi,

I would love to see the addition of a `google_pubsub_subscription_iam_policy` resource to manage IAM policies on PubSub subscription:

Following is an example of what this would look like setting an IAM policy on a pubsub subscription:

[code]

[2017-12-19 17:39] pdecat commented on #83
Awesome, thanks @rosbo!

[2017-12-19 17:47] rosbo commented on #870
For reference: https://cloud.google.com/compute/docs/internal-dns

[2017-12-19 17:50] #876 closed

[2017-12-19 20:15] Ronwebb55 commented on #841
Thanks @danisla I'm looking for an approach with out the use of YAML files my team has created a kubernetes deployment resource which with create a deployment in kubernetes. But maybe I'm in the wrong provider I should be asking the kubernetes provider for this resource instead of terraform-provider-google.

[2017-12-19 20:19] danisla commented on #841
@Ronwebb55, yes I would look to the [terraform-provider-kubernetes](https://github.com/terraform-providers/terraform-provider-kubernetes) for your use case. The Google provider is used to provision a new GKE cluster, but not necessarily the K8S resources that run inside it.

[2017-12-19 21:11] #841 closed

[2017-12-19 21:25] #495 closed

[2017-12-19 21:26] rosbo commented on #495
We have decided to go ahead and merge this new data source. See discussions in PR #741. Thank you all for contributing to the discussion :)

[2017-12-19 22:33] #369 closed

[2017-12-20 01:19] #83 closed

[2017-12-20 17:54] rosbo commented on #32
Hi @smyrman,

I can reproduce this bug if I use a service account like you did in your example.

However, I found a workaround. If you use your user credentials, it works.

To do this, login using your user identity with the gcloud command line utility.

Set the credentials related env vars to the following values:
[code]

I will contact the Google Cloud Storage team to see if this is the expected

[2017-12-20 18:34] danawillow commented on #18
@gdubicki I just proposed a PR to change the error message- take a look and let me know what you think.

[2017-12-20 21:21] #732 closed

[2017-12-20 21:22] #18 closed

[2017-12-20 23:13] ewbankkit opened #886 "New data source: Organization"
New data source to get information about a Google Cloud Organization.
Filter by the resource name (`organizations/{organization_id}`) or domain name of an Organization.

[2017-12-20 23:15] ewbankkit opened #888 "New data source: Billing Account"
New data source to get information about a Google Billing Account.
Filter by the resource name (`billingAccounts/{billing_account_id}`) or display name of a billing account.

[2017-12-21 00:20] hashibot opened #890 "Terraform crash"
_This issue was originally opened by @jayed as hashicorp/terraform#16962. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files
https://www.dropbox.com/s/e0c0rotn59kt6xz/terraform_config.tar.gpg?dl=0

###

[2017-12-21 17:00] srunix88 opened #892 "Terraform plan after apply has additional ACL changes required and never resolves."
Summary:
After running terraform apply, a subsequent terraform plan indicates it needs to perform additional changes for ACLs even though the plan indicated it completed. (see output samples below).

[code]

If you run apply multiple times afterward, it will appear to perform a change, but plan will still show a change is required.

### Terraform Version
Terraform v0.11.1

### Affected Resource(s)

[2017-12-21 18:00] #861 closed

[2017-12-22 00:09] #888 closed

[2017-12-22 00:12] #886 closed

[2017-12-22 15:49] wmuizelaar opened #894 "Support for creating a GKE container cluster with a service-account"
Hi there,

As can be read in https://cloud.google.com/solutions/prep-kubernetes-engine-for-prod - I would like the option to specify a specific service-account when creating a cluster. As the document quotes
[code]

Would it be possible to add that as a feature in the google provider for GKE as well?

Thanks,
Wietse

[2017-12-22 19:05] iniinikoski commented on #894
Hi,

you can do this in node_pool, see:

https://www.terraform.io/docs/providers/google/r/container_cluster.html#service_account

This should work for you...?

Yours,

Iiro

[2017-12-22 19:38] iniinikoski commented on #796
Hi,

I have similar issues - but originally those started when I defined policies two different service accounts. The first run which creates the resources goes fine - but the second plan would just reset the "first" one and add everything to second one.

@danawillow I tried to follow your suggestion to @nathanleclaire and replace mine with "google_project_iam_binding" - but this seems to have the

[2017-12-22 19:45] iniinikoski commented on #796
Here are my examples:

[code]

And this is what I get with the second apply:

[code]

And if I try to do this with the same way how @nathanleclaire originally did, I get:

[code]

I'm not sure do we have one bug or two ones...

[2017-12-22 19:55] danawillow commented on #796
Hey @iniinikoski, do you want to keep the original service accounts in place?
 `google_project_iam_binding` is an authoritative binding of members for a given role, so if you don't want those accounts to be removed you should use `google_project_iam_member` instead to specify a single member. If you do want them to be removed but the bug is that they aren't getting removed on the first apply, that

[2017-12-22 21:43] rosbo commented on #870
Hi Dennis,

Which feature exactly are you referring to?

Thank you

[2017-12-22 21:48] rolandkool commented on #843
Hi @rosbo

For me, option 2 is fine and expected. For default rules we want to keep, we will just make sure to add them in the policy as well. For project policy bindings, we are doing the same.

[2017-12-22 21:57] #629 closed

[2017-12-22 22:11] danawillow commented on #864
Fixed in #837.

[2017-12-22 22:11] #864 closed

[2017-12-23 11:17] rawkode commented on #611
@danisla So I've been using this more and more. The `gcloud` workflow seems to be: `gcloud config configurations activate <profile>`

So I believe we should update the provider to use the active profile credentials, rather than the application default, which removes the need to pop up a browser and login when switching accounts

[2017-12-23 17:46] dolvany commented on #870
Cloud DNS zones can now be public or private.
<img width="79" alt="screen shot 2017-12-23 at 10 45 15 am" src="https://user-images.githubusercontent.com/10111600/34321535-77f6d300-e7ce-11e7-88a9-608780f6f32d.png">

[2017-12-23 19:01] rameshvenk commented on #864
Thank you so much for such a quick fix!

[2017-12-24 10:49] spacez320 opened #897 "Providing GCP URL paths allows resources to be created but refresh needlessly"
It appears that you can successfully create resources using attribute values that just provide an API path (example: `projects/wf-gcp-gb-vpchost-prod/global/networks/wf-gcp-gb-vpchost-prod-network`) but these don't persist -- Terraform tries to constantly recreate them on every plan/apply unless you provide the full path (example: `https://www.googleapis.com/compute/v1/projects/wf-gcp-gb-vpchost-p

[2017-12-24 14:26] koalalorenzo opened #898 "Unable to create a GKE cluster"
Reporting the same as in:
https://github.com/hashicorp/terraform/issues/16981

Probably this is more adequate place to put this.

### Terraform Version
[code]

### Terraform Configuration Files

[code]

*Note*: The error happens also when creating a `google_container_node_pool`

### Debug Output

### Crash Output

### Expected Behavior

The cluster is created within 15-30 minutes

### Actual Behav

[2017-12-24 17:06] iniinikoski commented on #796
@danawillow  - yes I do want to keep those in place. Thanks for this - using the `google_project_iam_member` seems to work perfectly here. Merry Christmas! 🎁 :)

[2017-12-26 13:37] sarunask commented on #76
Raised PR https://github.com/terraform-providers/terraform-provider-google/pull/899

[2017-12-26 13:44] sarunask commented on #76
Also some documentation how to use would be required. Even I have tried to make usage of resource and data as easy and straight forward as possible, some explanation would be beneficial :)

[2017-12-26 16:32] koalalorenzo commented on #898
After testing with different setup, the only way to made it working was to enable monitoring and logging. The VM that was created by the cluster was not reachable via ssh, even from the cloud shell.

I had to logging and monitoring:
[code]

I think this is some sort of bug because CLI and the portal are capable of deploying with no problem.

[2017-12-26 23:57] gdubicki commented on #18
That's a bit better, thank you @danawillow . (Although I imagine that newbies seeing the new message will still have to, well, google around to learn why they need a "valid HTTP check" here. "Why is my HTTPS check not ok here? I have just created it with terraform a moment ago...?")

[2017-12-27 19:54] danawillow commented on #796
Great, glad that helped! I'm going to go ahead and close this out, but if anyone else is still having problems feel free to comment or open a new issue.

[2017-12-27 19:54] #796 closed

[2017-12-27 19:57] danawillow commented on #18
I agree- feel free to forward that feedback on to your GCP rep if you have one, or in the relevant [issue tracker](https://cloud.google.com/support/docs/issue-trackers). Since it's not actually related to Terraform, the best we can do here is just try to provide a more descriptive error message.

[2017-12-27 20:29] #727 closed

[2017-12-28 11:02] migibert opened #900 "IAM Policy collisions"
Hi,

I am trying to work with the google_project_iam_policy resources but I hit some collisions.

Let me explain: I have two code repositories and each one hosts the code relative to an application. Each repository contain the terraform files needed to provision the necessary infrastructure on GCP including instances, storage, etc...

I am trying to include dedicated service account per applicatio

[2017-12-28 12:35] migibert commented on #900
I think I understood thanks to this issue: https://github.com/terraform-providers/terraform-provider-google/issues/58 and especially the comment from @paddycarver !

[2017-12-28 12:54] #900 closed

[2017-12-28 14:23] wmuizelaar commented on #894
Yes, it does. Sorry, I overlooked it...

[2017-12-28 14:23] #894 closed

[2017-12-28 14:45] Stono commented on #773
Can anyone give me some sample code of their implementation with null_resource as I have this exact problem to fix too!

[2018-01-02 03:55] rvaidya opened #901 "The google_compute_address data provider should fetch the IP address during the plan phase"
### Terraform Version

0.11.1

### Affected Resource(s)

google_compute_address

### Terraform Configuration Files
[code]

### Expected Behavior

google_compute_address should pre-fetch the IP address into the "address" export.

### Actual Behavior

This fetch does not seem to happen during the plan phase, so plan shows <computed>.

This causes my load balancer forwarding rules to be recreated on

[2018-01-02 03:58] rvaidya commented on #901
Nevermind, I should be using the export from the resource directly - closing.

[2018-01-02 03:58] #901 closed

[2018-01-02 13:35] czka opened #902 "google_compute_global_forwarding_rule: invalid target type TARGET_TCP_PROXY for forwarding rule with IPProtocol TCP"
[code]

I'm trying to reproduce this kind of setup https://cloud.google.com/compute/docs/load-balancing/tcp-ssl/tcp-proxy with terraform. My code is as follows:

[code]

I can't see what could be missing compared to Google's doc linked above. However, `terraform apply` fails as follows for this setup (`terraform plan` passes fine):

[code]

I can't figure out what I could be doing wrong. I guess m

[2018-01-02 13:36] czka opened #903 "google_compute_backend_service: region support confusion"
[code]
[code]
Documentation says `region` **is** supported:
https://www.terraform.io/docs/providers/google/r/compute_backend_service.html#region

Please fix code or docs.

[2018-01-02 17:25] rosbo commented on #870
Hi,

This feature is currently in alpha. Our policy is to wait until it reaches the BETA stage before adding Terraform support.

[2018-01-02 18:35] rosbo commented on #897
Hi,

This issue was fixed in #487.

Make sure to update the Google Terraform provider to the latest version.

Thank you.

Feel free to reopen if you are still experiencing this issue after updating to the latest version.

[2018-01-02 18:35] #897 closed

[2018-01-02 19:21] #903 closed

[2018-01-03 10:48] michaelbannister commented on #633
Hi - I just hit the same problem in #397 and happy to look into this if others don't have time?

[2018-01-03 15:32] dasch opened #910 "Allow defining a bigquery_table schema directly"
Currently, one must write BigQuery table schemas as JSON, typically in a separate file that's loaded with `file()`. This is a rather odd user experience, as the rest of the table and most other resources in Terraform are defined using HCL.

I'd like to suggest that some DSL be added to the resource that allows defining the schema of the table. I'm not terribly opinionated about how that DSL should

[2018-01-03 18:33] danawillow commented on #633
I'd rather see this one fixed, personally. If you have some time, go for it!

[2018-01-03 19:07] rosbo commented on #902
Hi Maciej,

Google Cloud Platform imposes constraints on acceptable ports for forwarding target.

In your case, since you are using a TCP proxy, you are constrained to the following ports: 25, 43, 110, 143, 195, 443, 465, 587, 700, 993, 995, 1883, 5222

I will update our documentation these constraints

[2018-01-03 19:20] genevieve opened #912 "SQL Database Instance does not have attribute `ip_address.0.ip_address`"
### Terraform Version
Terraform v0.11.1
+ provider.google v0.1.3
+ provider.random v1.0.0
+ provider.tls v1.0.0

### Affected Resource(s)
- google_sql_database_instance

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected & Actual Behavior
If I were to change the output value to:

[code]

I get:

[code]

I expect that in the former version of the output syntax (as is sp

[2018-01-03 20:10] dhawal55 commented on #633
+1 for `node_version` attribute in `google_container_node_pool` resource

[2018-01-03 20:20] hashibot opened #913 "scopes param for service_account of google_compute_instance should be optional"
_This issue was originally opened by @borgilb as hashicorp/terraform#17004. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.11.1
+ provider.google v1.4.0

### Terraform Configuration Files
[code]

### Expected Behavior
"scopes" s

[2018-01-03 21:21] #902 closed

[2018-01-04 02:14] danawillow commented on #912
I can get to the "why was it implemented that way?" questions tomorrow, but for now- is it possible to just output the working value and then when you're trying to use it in a resource, grab the value you need from the list of maps? (does that make sense? I can try to come up with a sample config if not)

[2018-01-04 02:18] genevievelesperance commented on #912
When this instance has a count of 1, we want to grab the value of it's ip address and expose it as a terraform output. It's possible to get that value when the instance is present, but we haven't yet found a way to make the output "empty" so that terraform does not fail.

If we know the instance is there, we tired to say `google_sql_db_instance.master.0.ip_address.0.ip_address` but that also retur

[2018-01-04 02:22] genevievelesperance commented on #912
It seems like the combination of splat syntax + nested attributes is hard for terraform to follow. We tried splitting it into multiple small local vars:

(This code might be a little off, I checked out the changes and am trying to remember one of dozens of things we tried :smile:.)
[code]

And this will fail when the count is 0.

[2018-01-04 02:23] genevievelesperance commented on #912
This is obviously only breaking us since the `v0.11.0` change to terraform output errors when empty (and forcing the splat syntax).

[2018-01-04 10:13] conord33 commented on #74
+1

[2018-01-04 14:35] rosbo commented on #16
Note: The `disk` field has been removed in favor of `(boot|attached|scratch)_disk` field.

You can use the following syntax to create a dependency on the disk:
[code]

Unfortunately, it will wait before all the disks are created before creating the instances.

[2018-01-04 14:35] #16 closed

[2018-01-04 14:59] rosbo commented on #913
Hi @borgilb,

You can achieve this by adding the `cloud-platform` scope:

``hcl
service_account {
    email = "your-account@your-project.iam.gserviceaccount.com"
    scopes = ["cloud-platform"]
  }
[code]

[2018-01-04 15:15] Stono commented on #829
@homelessnessbo just wondering how you're getting on with this or if you could share your WIP?
We have some people here who may be able to assist

[2018-01-04 15:49] rosbo commented on #890
Copied from the issue on the Terraform repo

Here's the relevant stack trace from the log:
[code]

[2018-01-04 16:23] rosbo commented on #892
Hi @srunix88,

The behavior is definitely wrong and has to be fixed. There is even a comment in the code about it:
[code]

Have you considered using IAM permission on the bucket instead of ACL?
https://cloud.google.com/storage/docs/access-control/lists
https://www.terraform.io/docs/providers/google/r/storage_bucket_iam.html

Thank you

[2018-01-04 17:19] danawillow commented on #912
Ah, ok. In that case I'd recommend filing an issue in the core repository: github.com/hashicorp/terraform, since even though you're using the Google provider, the actual problem could have happened with any of them if they followed this pattern. Probably best to make a note that you filed here first and I sent you there, so they don't try to send you back here.

As for why we use a nested resource

[2018-01-04 17:49] danawillow commented on #910
Hey @dasch, the reason behind this is that BigQuery schemas can have arbitrary depth (i.e. a schema can contain another schema: https://godoc.org/google.golang.org/api/bigquery/v2#TableFieldSchema), which isn't something that HCL supports. See https://github.com/hashicorp/terraform/pull/13743 for the original discussion about this.

Defining another language to support just this use case isn't rea

[2018-01-04 18:31] #913 closed

[2018-01-04 20:11] Stono opened #919 "preemptible instances in the google_container_node_pool"
Hi there,
As you can see, [you can do preemptible](https://www.terraform.io/docs/providers/google/r/container_cluster.html#preemptible) as part of node configuration on the google_container_cluster resource, however if you use [node pool](https://www.terraform.io/docs/providers/google/r/container_cluster.html#node_pool) it says invalid or unknown key.

I presume that's because the items in the arr

[2018-01-04 21:17] #890 closed

[2018-01-04 22:10] danawillow commented on #898
Hey @koalalorenzo, I've been playing around with this and I have a solid idea of what's going on.

When you create a cluster in the UI or with gcloud, it comes with a default set of permissions that are enabled for the service account running on the instances that get created. You can see this in the console under "Access Scopes". If you try to edit these in the console, you can see that it doesn'

[2018-01-04 23:17] Stono commented on #860
+1 to this problem, I just hit it too

[2018-01-04 23:57] dhawal55 opened #920 "Using alias for google provider at root module does not pass region attribute to child module"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
v0.11

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_instance
- google_storage_bucket

If this issu

[2018-01-05 01:14] danawillow commented on #920
I think this is an issue with Terraform core, not the google provider. Can you file an issue at github.com/hashicorp/terraform instead? I'm going to go ahead and close this one since I don't think there's anything we can do in this repo to help.

[2018-01-05 01:14] #920 closed

[2018-01-05 07:53] koalalorenzo commented on #898
Ok, so there should be a PR enabling by default monitoring and logging APIs. Is that going to fix it?

[2018-01-05 12:39] dasch commented on #910
Do we need to support _all_ schemas if there's still a JSON fallback option? It would be a much better UX if there was at least support for schemas that can be represented in HCL...

[2018-01-05 13:56] homelessnessbo commented on #829
@Stono sorry, but I've met a few more limitations in terraform that blocks me and switched to Google Cloud Deployment Manager with it's jinja2 templates that are way more flexible (IMO). But GCDM also doesn't support beta api for container.clusters (https://cloud.google.com/deployment-manager/docs/configuration/supported-resource-types), so ¯\_(ツ)_/¯.

[2018-01-05 16:34] qvallance opened #922 "Request: Add google_logging_organization_sink Stackdriver logging resource"
Please add a `google_logging_organization_sink` Stackdriver logging resource, to manage organization-level logging sinks.  There are already resources for project, folder, and billingAccount, with organization the only missing resource.

[2018-01-05 17:41] genevievelesperance commented on #912
Thanks Dana! Will do!

[2018-01-05 17:49] danawillow commented on #910
Are you saying that BigQuery schemas _can_ be represented in HCL? HCL doesn't parse arbitrary text, it has to be part of a specific schema that we specify in the resource definition. Since this field is self-referential (a TableFieldSchema contains a list of other TableFieldSchemas), there's no way to represent it in the resource definition. If you have a workaround I'd be happy to hear it though!

[2018-01-05 17:51] danawillow commented on #898
Yeah, that would fix it. I'm just confirming with people in GKE whether we want to add any others to be enabled by default too.

[2018-01-05 21:04] ihmccreery commented on #898
Just adding my 2¢: this is primarily an issue because you've turned off cloud logging & monitoring (which are on by default):

[code]

Starting in v1.9, this bug is fixed: we'll always add the `monitoring` scope to nodes (which is necessary for other reasons as well) regardless of if you've enabled cloud monitoring.

[2018-01-05 22:23] qvallance commented on #922
I went ahead and created a new resource for this, based on the folders one.  I'll submit a PR for it shortly.

[2018-01-06 08:55] waldiTM opened #925 "google_compute_backend_service: Please support some way to have non-existing backend groups"
Hi

I have a module that sets up a global load balancer in the Google cloud. Backends for it are distributed over several regions. So the `google_compute_backend_service` lists quite a few backend groups (ten right now).

Now I would like to setup a reduced version of this as test environment. In this setup only one region is used for backends. However all backend groups referenced in the `google_

[2018-01-06 11:45] waldiTM opened #926 "google_compute_instance: Subnetwork name expanded with wrong region"
### Terraform Version
[code]

### Affected Resource(s)
- google_compute_instance
### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/waldiTM/3ef518510d7514b18f0e78405ee813ba

### Expected Behavior
Subnetwork is used in the correct region. It worked in the past, not sure when.

### Actual Behavior
According to the error, Terraform provides the full subnetwork URL in t

[2018-01-06 12:32] ofpiyush opened #927 "Don't store SSL private_key in the tfstate file"
Thank you for the amazing software

### Terraform Version
Terraform v0.11.1

### Affected Resource(s)
- google_compute_ssl_certificate

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Expected Behavior
The private key should not show up in tfstate

### Actual Behavior
It did

### St

[2018-01-08 08:16] Stono opened #930 "Concurrency issues when doing multiple Google Container Engine cluster or Pool operations"
Hi there,
We have a terraform file that manages multiple GKE clusters and associated node pools.
You can however, only perform a single operation on a cluster pool at a time.

In this example, I had two operations to two different node pools within the same cluster.  Terraform attempts to do such calls in parallel resulting in one of them failing:

[code]

There should be a concurrency limit on no

[2018-01-08 10:20] hashibot opened #931 "subnetwork_project for google_dataproc_cluster"
_This issue was originally opened by @paul-opsguru as hashicorp/terraform#17052. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi TF team,

A feature request for Google DataProc resource -

`subnetwork_project` (similar to https://www.terraform.io/docs/providers

[2018-01-08 10:33] dasch commented on #910
If the HCL version simply disallows nested schemas it wouldn't be a problem, right? As long as there's a JSON fallback you'd be able to cover most use cases with a nice DSL instead of forcing everyone to use JSON.

[2018-01-08 13:39] wmuizelaar opened #932 "Add import command for bigtable"
### Terraform Version
0.11.1

### Affected Resource(s)
Please list the resources as a list, for example:
- google_bigtable_instance
- google_bigtable_table

### Expected Behavior
I can import the resources on my tfstate

### Actual Behavior
Import is not supported for resource: <resource>

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `terraform impo

[2018-01-08 19:02] ndmckinley commented on #714
I'm thinking that this will expose the names and addresses of the APIs configured, the DNS address of the service, and the names and addresses of any endpoints configured if they're nonstandard.  It's going to have to run off a config file provided as per the Endpoints spec, like this example here: https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/endpoints/getting-started/opena

[2018-01-08 19:10] danawillow commented on #910
If you have a proposal for a "nice DSL" I'd be happy to hear it- it's not really in our best interest to have to come up with a new language along with a parser/compiler for it in order to support one resource for people that don't wish to use JSON.

One thing we _could_ do is have a schema field that allows you to define a flat list of `TableFieldSchema`s with no nesting, meaning people only need

[2018-01-08 21:59] sl1pm4t commented on #930
We've worked around this using the `depends_on` attribute to set explicit dependencies.

[2018-01-08 22:18] sl1pm4t commented on #892
Hi @rosbo

Just to add my 2c - I also came across this problem recently while trying to set permissions on a bucket for stackdriver logging export/sink. I thought I'd be able to use IAM permissions instead of the legacy ACL's but the log export refused to work unless I added the logging service account to the ACL.

[2018-01-08 22:35] rosbo commented on #927
@paddycarver is there any work in Terraform core to handle more securely the fields marked as `Sensitive`?

[2018-01-08 23:54] #898 closed

[2018-01-09 00:35] rosbo commented on #931
I opened PR #935 to properly support network and subnetwork fields with a self_link using a different project.

Don't forget to add the `compute.subnetworks.use` IAM permission to your `@dataproc-accounts.iam.gserviceaccount.com` service account used by the dataproc agent. Let me know if you need additional instructions on how to do this.

[2018-01-09 00:39] paul-opsguru commented on #931
@rosbo , thanks for the prompt response, this is really helpful!

[2018-01-09 00:42] uschen opened #936 "Support AuditLogConfigs in Policy"
Currently the `google_iam_policy` data source / object doesn't expose `AuditConfigs` which prevents
enabling`DATA_READ` Audit Log mentioned in https://cloud.google.com/kms/docs/logging

[2018-01-09 00:52] uschen commented on #936
wonder it is just expose AuditLog (https://godoc.org/google.golang.org/api/cloudresourcemanager/v1#AuditConfig) in  https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_iam_policy.go#L147

[2018-01-09 03:14] paddycarver commented on #611
Typically, I like to recommend service accounts for the following reasons:

* Their authentication options seem to be easier to reason about and more stable
* They can have limited permissions, so Terraform doesn't have to run as the project owner
* Auditing will say whether Terraform or a user performed an action

However, we try to make sure that user accounts work, as well. Service accounts sho

[2018-01-09 09:35] dasch commented on #910
My preference would be for something like this:

[code]

[2018-01-09 09:36] dasch commented on #910
Note that I'm not suggesting a new language that needs to be parsed, just HCL support for defining simple, non-nested fields.

[2018-01-09 17:39] #930 closed

[2018-01-09 17:41] rosbo commented on #930
I added a mutex to ensure operations on the same cluster are applied serially. The work-around using `depends_on` won't be necessary next release :)

[2018-01-09 17:44] Stono commented on #930
And when would that next release be? :)

On 9 Jan 2018 5:41 pm, "Vincent Roseberry" <notifications@github.com> wrote:

[2018-01-09 18:04] rosbo commented on #930
No dates set yet but should be soon :) We have a good amount of changes/bug fixes waiting for a release.

[2018-01-09 21:04] Stono commented on #930
@rosbo just to config, it will solve this problem (this is me trying to update the min node count on three pools):

[code]

[2018-01-09 21:57] #926 closed

[2018-01-09 21:59] rosbo commented on #926
We changed the behavior to infers region from the zone in schema instead of the provider-level region.

[2018-01-09 22:36] rosbo commented on #930
Yes it should, I tested my fix with a similar example.

[2018-01-09 22:55] Stono commented on #930
Then I plead with you to publish a new version soon as this is crippling
us!  Thank youuu

On 9 Jan 2018 10:36 pm, "Vincent Roseberry" <notifications@github.com>
wrote:

[2018-01-10 00:33] paddycarver commented on #927
There's talk, and thoughts, but I don't think it's on the immediate roadmap. Storing the hash of the private key is an option, and something we could do, but I'm wondering if it's worthwhile. After all, the private key must still be on disk, readable by whoever is running Terraform, and in cleartext _anyways_. I'm struggling to find a parallel to this to see if we've addressed it elsewhere.

I'm w

[2018-01-10 04:18] ofpiyush commented on #927
@paddycarver our use-case was to keep all workspaces and the state in the same github repo.

But with all things around secrets going sideways, we ended up making 2 levels of state.

1. For `ops` project. This state is checked into github. Among other things, it has a gcs bucket with correct permissions to hold state for individual workspaces.
2. Workspace specific state, that is kept in the bucke

[2018-01-10 19:05] #931 closed

[2018-01-10 21:16] rosbo commented on #480
Hi zbikmarc,

Using the latest version of Terraform, it does not have this perpetual diff if `scopes` is set to `[]`. It creates a service account with no scope set.

Feel free to reopen if you are still experiencing this issue after updating.

[2018-01-10 21:16] #480 closed

[2018-01-10 21:24] rosbo commented on #925
We could discard the backend if the group is empty.

However, I am wondering if the new HCL2 language will support adding conditional around the whole `backend` block. @paddycarver do you know if this is a use case supported by the new config language?

[2018-01-10 21:30] rosbo commented on #604
The crash was fixed in #556.

Feel free to reopen this issue if you are still having trouble after updating the terraform google provider to the latest version.

[2018-01-10 21:30] #604 closed

[2018-01-10 21:32] #596 closed

[2018-01-10 21:33] rosbo commented on #595
This issue should be fixed now. Feel free to reopen this issue if you are still having trouble after updating the google terraform provider to the latest version.

[2018-01-10 21:33] #595 closed

[2018-01-10 21:42] rosbo commented on #441
Closing.

We now have resources to manage kms entities: [google_kms_key_ring](https://www.terraform.io/docs/providers/google/r/google_kms_key_ring.html) and [google_kms_crypto_key](https://www.terraform.io/docs/providers/google/r/google_kms_crypto_key.html). We also have resources to manage IAM for crypto keys and key rings.
And the next release of this provider will include a new `google_kms_secr

[2018-01-10 21:42] #441 closed

[2018-01-10 21:45] evralston commented on #480
Clarification for anyone stumbling across this later: "latest version" is 0.11.2 released Jan 9.

[2018-01-10 21:50] rosbo commented on #94
Since the definition of `default` changes over time, it is probably a better practice to explicitly list the scopes you want. It is also likely that the scopes included  by `default` is too broad for your use case. For a CLI tool, it is a nifty feature to start quickly. In Terraform, probably better to be explicit about about which scope you want and narrow that list down to only what you need.

A

[2018-01-10 21:50] #94 closed

[2018-01-10 21:58] rosbo commented on #88
Hi,

I added a link to the list of scopes from the `google_compute_instance` and `google_compute_instance_template` in #917.

Thanks for reporting this issue. I agree that this list is hard to find.

[2018-01-10 21:58] #88 closed

[2018-01-10 22:22] rosbo commented on #77
This issue was fixed by #784.

[2018-01-10 22:22] #77 closed

[2018-01-10 22:28] rosbo commented on #71
Hi,

I want to make sure I understand your issue correctly.

In the event of a missing snapshot,

The current behavior only fails when creating a new disk. If the disk has already been created, then, we don't notify the user that the snapshot do not exists.

The behavior you expect, if the snapshot doesn't exist, always notify the user.

Am I understanding your problem correctly?

[2018-01-10 22:38] #81 closed

[2018-01-10 22:57] rosbo commented on #63
Hi @tmlink,

Sorry for the late reply, are you still experiencing this issue?

If yes, I can help you debug it.
If you have been able to resolve it, then I will close this issue. Sharing your findings is always appreciated for future users hitting the same problem :)

Thank you

[2018-01-10 22:59] rosbo commented on #60
Hi @vise890,

What is your use case exactly? What are you using these indexes for?

Thank you

[2018-01-10 22:59] #59 closed

[2018-01-10 23:02] rosbo commented on #57
Note to the implementer:

We can use the new helper [customdiff](https://godoc.org/github.com/hashicorp/terraform/helper/customdiff), to make the `ip_cidr_range` ForceNew only if the change narrows down the range.

[2018-01-10 23:08] rosbo commented on #36
Hi Eugene,

We now exports the ip of an instance. Use `network_interface.0.access_config.0.assigned_nat_ip` to get its public ip and `network_interface.0.address` to get its internal IP.

Please open a new issue if there is other fields you would need.

Thank you

[2018-01-10 23:08] #36 closed

[2018-01-10 23:12] #30 closed

[2018-01-10 23:15] rosbo commented on #29
Hi Mickey,

Using Terraform v0.11.2 with the google provider v1.4.0, I cannot reproduce this issue.

Closing. Feel free to reopen this issue if you are still having trouble after updating Terraform and the Google provider to the latest version.

Thank you

[2018-01-10 23:15] #29 closed

[2018-01-10 23:18] rosbo commented on #15
Hi @wint00,

Are you still experiencing this issue with the latest version of Terraform?

Thank you

[2018-01-10 23:20] wint00 commented on #15
Nah. Just switched to GKE and don't use it anymore. Thanks!

On Wed, Jan 10, 2018 at 3:18 PM, Vincent Roseberry <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @wint00<https://github.com/wint00>,

Are you still experiencing this issue with the latest version of Terraform?

Thank you

—
You are receiving this because you were mentioned.
Reply to this email directly, view it o

[2018-01-10 23:21] #15 closed

[2018-01-11 08:22] rawkode commented on #611
This article, on the GCP blog by a SA at Google seems to advocate the use of service accounts:

https://cloud.google.com/community/tutorials/managing-gcp-projects-with-terraform

[2018-01-11 14:02] ean commented on #714
We are using gRPC cloud endpoints as part of our Kubernetes Engine setup in Google Cloud.

Getting support for that as well would be great, I am available for testing if needed.

[2018-01-11 16:38] vise890-ovo commented on #60
Anything that requires an `index.yaml`s really.

A bit more motivation is provided in the [DS index docs](https://cloud.google.com/appengine/docs/standard/python/datastore/indexes#index-configuration):

.. If you need to have any of these, you need an index.yaml. Right now this is checked into the repo and it is a manual process to apply it. It'd be awesome to have it integrated in terraform.

[2018-01-11 20:02] ndmckinley commented on #714
Glad you mentioned it!  I'll see what can be done and report back.  :)

[2018-01-11 21:43] dolvany opened #949 "provider project alias"
Terraform v0.11.1
+ provider.google v1.4.0

I would like to keep some Cloud DNS records in sync across multiple projects. Should provider aliases work for this purpose? Here is the config that I am attempting to use.

provider "google" {
  region      = "somewhere"
  project     = "proj1"
  credentials = ".secret.json"
}
provider "google" {
  alias      = "two"
  project     = "proj2"
}
provider "

[2018-01-12 00:06] ndmckinley commented on #714
Good news - it turned out to be pretty doable.  @ean If you feel like it, it'd be nice if you would take a look at the documentation on PR #933 and let me know what you think about which attributes I've selected to make available.  Please let me know if you would use anything I'm not exporting - there'll never be an easier time than now to add them in.  :)

[2018-01-12 08:33] ean commented on #714
@ndmckinley thanks!

The provided attributes looks good. The only ones we use right now are config_id and dns_address, so out current use-case should at least be properly covered.

[2018-01-12 16:22] podwhitehawk opened #952 "unable to use service_scopes parameter under google_dataproc_cluster resource"
Hello,

This is a quickfix for documentation, which was preventing me from adding custom scopes to Google Dataproc cluster.

I've found the right param name [here](https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_dataproc_cluster_test.go#L993).

### Terraform Version
Terraform v0.11.1
+ provider.google v1.4.0

### Affected Resource(s)
- google_dataproc_c

[2018-01-12 18:19] ndmckinley commented on #714
Great, glad to hear it.  I'll go ahead and start code review and try to get that in soon.  It might not make 1.5.0, it depends on when we cut that release, but I'll be pretty surprised if it's not in the release after that.

[2018-01-12 20:20] genevievelesperance commented on #912
@rosbo Would it be possible to re-open this issue as there is something that can be done in this provider that would fix the issue and also be convenient for users?

The suggestion is from this comment: https://github.com/hashicorp/terraform/issues/17048#issuecomment-357336045

[2018-01-12 20:57] rosbo commented on #912
I missed that part. Reopening.

[2018-01-12 23:12] ndmckinley commented on #607
Okay!  It seems like this will be a data source instead of a resource, because there's no "creation" or "deletion" operation for GCR repos, and it will export "repository_url" which will be computed from data-source-level or provider-level project name, plus an optional "region" parameter.

[2018-01-13 01:24] ndmckinley commented on #607
Could one of you folks take a look at #954 and make sure that what it does is helpful for you?  GCR is a strange one because (afaict) the repos are "available" / "created" as soon as the project is created, so there's no API requests to make here - it's all just convenient string concatenation.

[2018-01-13 06:29] breznik opened #955 "Documentation Incorrect for SQL Maintenance Day"
### Affected Resource(s)
https://www.terraform.io/docs/providers/google/r/sql_database_instance.html#day

Resource:
- google_sql_database_instance.settings.maintenance_window.day

### Expected Behavior
The documentation says Day of Week (1-7) starting on Monday with 1=Monday.

### Actual Behavior
1 is actually Sunday

### Steps to Reproduce
Pretty straightforward - just apply a maintenance_window

[2018-01-13 17:24] iiro opened #956 "Request: add support for "accidental VM deletion" in "google_compute_instance""
Hi,

It could be great to get support for the "accidental VM deletion" for the "google_compute_instance" - now that the feature got into GA.

And thank you for an excellent provider! :)

[2018-01-16 12:44] wmuizelaar opened #961 "Add import command for google_organization_iam_member"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
0.11.2

### Affected Resource(s)
Please list the resources as a list, for example:
- google_organization_iam_member

### Expected Behavior
I can

[2018-01-16 14:04] greenhua opened #962 "diffs didn't match during apply."
### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

https://gist.github.com/greenhua/de70e09a50da626398c0968785b599a0

### Crash Output

https://gist.github.com/greenhua/fb2361843e61cef13a28a2c81a15d4cb

### Expected Behavior

We need to put file with random string in the GCP bucket

### Actual Behavior

 Diff error returned.

### Steps to Reproduce

1. `ter

[2018-01-16 18:06] ljfranklin opened #964 ""Error setting IAM policy for project" on terraform destroy"
### Terraform Version

Terraform v0.10.8

### Affected Resource(s)
Please list the resources as a list, for example:
- google_project_iam_member

### Terraform Configuration Files
[code]

### Expected Behavior

We're attempting to run `terraform destroy` against a project containing multiple `google_project_iam_member`s. We expect this destroy to succeed.

### Actual Behavior

[code]

### Steps to

[2018-01-16 20:25] ndmckinley commented on #49
Looks like this was fixed here:
https://github.com/terraform-providers/terraform-provider-google/commit/092b29c4baf87aea31316549754afb899b3ea1cb

Prior to the provider split.

[2018-01-16 20:25] #49 closed

[2018-01-16 20:31] ndmckinley commented on #19
Hey there!  I see that this issue is extremely old and I know you're certainly not waiting for a response from us, but in case someone else finds this someday, I wanted to answer it.

This is something we run into a lot - you can see that we've got a recurring pattern in the code called "flatten" or "expand" for doing exactly this.  Here are some examples:

https://github.com/terraform-providers/t

[2018-01-16 20:31] #19 closed

[2018-01-16 21:02] ndmckinley commented on #56
Good news!  This no longer repros - the repro steps need to be updated because of a change in how we use the "disk" attribute, which I've done here:
https://gist.github.com/ndmckinley/951e6348ebc77c9b6458796e35876c9d

The apply / reapply with different image / destroy cycle works without errors.

[2018-01-16 21:02] #56 closed

[2018-01-16 21:16] ndmckinley commented on #22
Good news!  No repro, so it must have been fixed at some point.  Likely an upstream fix, if I understand the issue correctly.

https://gist.github.com/anonymous/41bc51dc8de1843bdfc6b0b3cd70ac4f

[code]

[2018-01-16 21:28] ndmckinley commented on #35
Hi there!  The behavior here (setting things to how they are in your terraform config) seems correct to me, but you are 100% right that you should have been warned about it.  Let me try and do some quick work on the read method so that you would have been warned about the changes when you ran `terraform plan`.

[2018-01-16 21:54] ndmckinley commented on #35
Oh, never mind, looks like it's all already there!  For example, here's the output I get after creating an instance and making a few changes in the console, then rerunning apply:

[code]

[2018-01-16 21:54] #35 closed

[2018-01-16 22:05] ndmckinley commented on #21
This issue was fixed by adding longer (and configurable) timeouts for these resources.

[2018-01-16 22:05] #21 closed

[2018-01-16 22:14] danawillow commented on #554
Closing this since it's been a few months, feel free to re-comment here if it needs to be reopened.

[2018-01-16 22:14] #554 closed

[2018-01-16 22:16] danawillow commented on #667
I haven't actually checked, but this might be fixable now either with GetOkExists or CustomDiff. I'm not working on it right now though so unassigning.

[2018-01-16 22:17] danawillow commented on #705
Closing this since it appears to be working from the last comment, feel free to comment again to open it up if I'm misunderstanding.

[2018-01-16 22:17] #705 closed

[2018-01-16 22:18] danawillow commented on #763
Closing since it's been a few months, feel free to comment to re-open if there's anything I should take a look at.

[2018-01-16 22:19] danawillow commented on #474
Closing this in favor of more granular issues per field that needs to be updatable (I think most are now anyway)

[2018-01-16 22:19] #474 closed

[2018-01-16 22:25] danawillow commented on #426
Just coming back to this- I'm not totally sure what this issue is about, since you can define multiple disks in an instance template. See the docs at https://www.terraform.io/docs/providers/google/r/compute_instance_template.html.

I'm going to go ahead and close this since I don't think there's anything that needs to be done here, but feel free to comment on this to reopen it if I'm misunderstand

[2018-01-16 22:25] #426 closed

[2018-01-16 22:29] danawillow commented on #98
This issue is a bit old, but since the last comment I've come to the mindset that it's better to encourage the use of the random provider instead of adding extra fields in the google one, so I'm going to go ahead and close this.

[2018-01-16 22:29] #98 closed

[2018-01-16 22:30] danawillow commented on #78
Closing as out-of-date since the attached_disk field doesn't allow setting auto_delete.

[2018-01-16 22:30] #78 closed

[2018-01-16 22:33] danawillow commented on #74
Looks like this was fixed over the summer but we just never updated this issue: https://github.com/terraform-providers/terraform-provider-google/commit/b2f789ca0a25aefc70397cd68ba4397b6e5de50c, https://www.terraform.io/docs/providers/google/r/container_cluster.html#timeouts. Closing now.

[2018-01-16 22:33] #74 closed

[2018-01-16 22:39] #5 closed

[2018-01-16 22:41] rosbo commented on #961
This was added in #835. The next release of the google terraform provider will include this feature.

[2018-01-16 22:41] #961 closed

[2018-01-16 22:41] ndmckinley commented on #38
Agreed!  We should try to match the API here.  I'm on it.  :)

[2018-01-17 01:10] #38 closed

[2018-01-17 01:42] ndmckinley commented on #140
Closing this issue due to lack of response - if you would still like this done, please let us know what format you're wanting to have added!  An example snippet would be handy, too.  We'd be happy to take a look.  :)

[2018-01-17 01:42] #140 closed

[2018-01-17 02:20] ndmckinley commented on #758
Hi there @davidquarles!  I can't seem to repro this in unit tests, where two pools attacked to a single cluster do seem to succeed - can you post the config you're using so I can look at a fix?  :)

[2018-01-17 07:19] wmuizelaar commented on #961
Ah cool, thanks!

[2018-01-17 15:41] ewbankkit opened #968 "Travis CI 'go vet' error - 'arg found.AutoscalingPolicy.CpuUtilization.UtilizationTarget for printf verb %d of wrong type: float64'"
[code]

[2018-01-17 15:41] ewbankkit commented on #968
Looks like this was introduced in https://github.com/terraform-providers/terraform-provider-google/commit/719bbb40aafe40f2641bc5358ec30a034c545602.

[2018-01-17 15:48] genevievelesperance commented on #912
@danawillow Would you be interested in a PR that added a `first_ip_address` to the sql db instance resource to provide a convenient syntax for accessing the first ip in the list?

[2018-01-17 17:52] #968 closed

[2018-01-17 19:02] amoiseiev opened #971 "GCS: Notifications [feature request]"
Implement Notifications for google_storage_buckets:

https://cloud.google.com/storage/docs/json_api/v1/notifications

[2018-01-17 19:08] amoiseiev opened #972 "GCS: Logging [feature request]"
google_storage_bucket

Implement GCS logging: https://cloud.google.com/storage/docs/json_api/v1/buckets

[2018-01-17 19:19] #743 closed

[2018-01-17 19:54] danielcompton commented on #532
I think the title and tags on this issue are no longer accurate, it's not that better documentation is needed (AFAICT), it's that it isn't actually possible to create a `google_compute_region_backend_service` that uses the HTTP protocol.

[2018-01-17 20:54] #510 closed

[2018-01-17 20:58] #57 closed

[2018-01-17 21:23] #87 closed

[2018-01-17 23:45] rosbo commented on #75
Hi @luhkevin,

I am closing the issue for now. I have not been able to reproduce it.

However, if you are still experiencing issues, feel free to reopen it.

Thank you

[2018-01-17 23:45] #75 closed

[2018-01-18 00:04] rosbo commented on #955
Hi,

In Terraform, you need to set the maintenance window in UTC. The docs already mentions this "The maintenance window is specified in UTC time".

However, the Google Console shows the maintenance window in your timezone. The console prints out below the maintenance window field the timezone it is using. For me, I can see: "Hours shown in your local time zone ( UTC-8 )."

[2018-01-18 00:04] #955 closed

[2018-01-18 00:20] hashibot opened #973 ""project: required field is not set" when it is explicitly set for a gcs resource"
_This issue was originally opened by @jamesbot9000 as hashicorp/terraform#17131. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I have a block for a storage bucket, which explicitly sets the required project variable:
[code]
When I attempt to import this bucket l

[2018-01-18 00:20] hashibot opened #974 "Cannot create Google Cloud source repository through terraform"
_This issue was originally opened by @lkaranam as hashicorp/terraform#17128. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I have created a simple repo.tf file to create a source repository in one project. I am the owner of that project. But cannont create sourc

[2018-01-18 00:51] #824 closed

[2018-01-18 02:07] rosbo commented on #956
Additional link: https://cloud.google.com/compute/docs/instances/preventing-accidental-vm-deletion

[2018-01-18 02:47] #607 closed

[2018-01-18 10:41] matti opened #975 "Error creating NodePool: is currently creating a node pool for cluster"
One `google_container_cluster` with two `google_container_node_pool`s

Once the cluster creation is done:
[code]

Terraform starts to create node pools:

[code]

And when the another one completes, the second one errors:

[code]

Running apply again works.

[2018-01-18 16:20] samhagan commented on #975
#930 refers to the same problem.  There is an unreleased fix or you can use `depends_on` to make terraform wait

[2018-01-18 17:04] Evesy opened #976 "google_storage_bucket_acl invalid value"
### Terraform Version
Terraform v0.11.2

* provider.google: version = "~> 1.4"

### Affected Resource(s)
- google_storage_bucket_acl

### Terraform Configuration Files
[code]
### Debug Output

https://gist.github.com/Evesy/bceab6ce92aff4e68f788677dea5a2d6

### Expected Behavior
Terraform should create the specified bucket ACL.

### Actual Behavior
Google API returns a 400 from the request

### Ste

[2018-01-18 17:54] rosbo commented on #974
Have you visited `https://console.developers.google.com/apis/api/sourcerepo.googleapis.com/overview?project=usable-auth-library` to enable the `usable-auth-library` API?

[2018-01-18 18:40] lkaranam commented on #974
I tried it. Getting 'Don not have permission' error when I click on the link. Even use with 'organization owner' is getting the same error
![image](https://user-images.githubusercontent.com/8977179/35115102-e361ff58-fc3b-11e7-8425-a246f20655f2.png)

[2018-01-18 18:41] lkaranam commented on #974
sourcerepo.googleapis.com is enabled in the project that I am trying to create repo in

[2018-01-18 20:48] matti commented on #475
I think I'm finally successful with:

[code]

This will create an extra node pool (I don't understand how `null_resource` can be used to delete that (that sounds awful)), but now it works as expected. If this is the correct way to go, this is the example that should be in the docs.

[2018-01-18 21:17] ndmckinley commented on #974
I'll take a look.

[2018-01-18 21:24] matti opened #980 "google_container_node_pool requires zone"
The zone required in `google_container_node_pool` when it's not required in a `node_pool` defined in `google_container_cluster`

This zone shouldn't matter, as the pool will follow clusters zones?

[2018-01-18 21:36] jamesbot9000 commented on #973
I figured it out.  This will happen if you do not have a project defined in your provider config. I shouldn't need it there, as the project is defined in the bucket resource configuration, or so I thought.

I added a project (project A) as my default in my provider config, and then added a different project for the resource (project B).  This fixed my issue and the bucket was imported into state w

[2018-01-18 21:45] ndmckinley commented on #974
Okay, I have a strange question ... is billing enabled on your project?  Beacuse I get no repro with:

[code]

But... if I remove `billing_account = "${var.billing_account}"`, creating a project which does not have billing, I hit a very strange upstream bug where the project I'm trying to use gets ignored (it's included correctly in the HTTP request Terraform makes, but the response references the

[2018-01-18 21:53] ndmckinley commented on #974
Alternately, can you include a few more lines of debug output?   I want to see the request that your instance of terraform is making.

[2018-01-18 22:09] lkaranam commented on #974
Here are the more debug output lines:

2018/01/18 14:04:07 [INFO] command: backend <nil> is not enhanced, wrapping in local
2018/01/18 14:04:07 [INFO] backend/local: starting Apply operation
2018/01/18 14:04:07 [INFO] terraform: building graph: GraphTypeInput
2018/01/18 14:04:07 [DEBUG] Resource state not found for "google_sourcerepo_repository.test_repo": google_sourcerepo_repository.test_repo
sf

[2018-01-18 22:10] lkaranam commented on #974
2018/01/18 14:04:07 [INFO] terraform: building graph: GraphTypeValidate
2018/01/18 14:04:07 [DEBUG] Resource state not found for "google_sourcerepo_repository.test_repo": google_sourcerepo_repository.test_repo
2018/01/18 14:04:07 [DEBUG] ReferenceTransformer: "google_sourcerepo_repository.test_repo" references: []
2018/01/18 14:04:07 [DEBUG] ReferenceTransformer: "provider.google" references: []
2

[2018-01-18 22:11] ndmckinley commented on #974
Unfortunately that doesn't include the request I'm looking for. Can you maybe upload the entire output as a gist?

[2018-01-18 22:11] ndmckinley commented on #974
Ah, there it is.

[2018-01-18 22:12] ndmckinley commented on #974
Yep, that's the bug. Please confirm that the project `info4-research` has billing set up and the right permissions.

[2018-01-18 22:14] lkaranam commented on #974
Yes, Billing is enabled on the project, source repo API is enabled. I am able to create repo using gcloud command in same project

[2018-01-18 22:34] jamesbot9000 commented on #973
Update: It looks like the config ALWAYS defaults to the provider project, no matter what project is specified in the terraform config. After importing my buckets, it seems their project is not correct as I had thought.  As a result, terraform now wants to delete/recreate the buckets.

Why would it only look at the provider config? We have many projects with many buckets, and we want to manage them

[2018-01-18 22:35] jamesbot9000 commented on #973
-/+ google_storage_bucket.tapad-cross-platform-test (new resource required)
      id:                                                            "tapad-cross-platform-test" => <computed> (forces new resource)
      force_destroy:                                                 "" => "false"
      location:                                                      "US" => "US"
      name:

[2018-01-18 23:12] ndmckinley commented on #975
The fix was released early this afternoon.  :)

[2018-01-18 23:12] #975 closed

[2018-01-18 23:21] ndmckinley commented on #980
This mirrors the structure of the request that needs to be made to create the `google_container_node_pool` - the path for that request is `POST https://container.googleapis.com/v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools`.  Basically, we need the zone to localize the cluster ID.  Does that make sense?  Reopen if you think I've got this wrong or this doesn't work for you.

h

[2018-01-19 10:22] matti commented on #980
@ndmckinley okay understood - I think this is a documentation issue then, the docs should mention this?

[2018-01-19 10:28] matti opened #982 "aborting long running terraform apply operation removes all state"
I was doing a terraform apply with two `google_container_cluster`s and 4 `google_container_node_pool`s and when it took over 10 minutes (because some preemptible machines weren't available, so it kept waiting for them for ever) my terraform state file went empty, so basically terraform has no idea of the clusters/nodepools anymore even if they are running. Not sure if this is a terraform issue or

[2018-01-19 18:03] ndmckinley commented on #980
Oh geez, they should!  I'm doing that.  :)

[2018-01-19 18:11] ndmckinley commented on #974
I've reported this issue internally to Google - I'm tagging this "upstream" and will report back when the issue is closed.

[2018-01-19 18:45] #980 closed

[2018-01-19 19:24] ndmckinley commented on #976
Confirming that I can reproduce and looking into it.

[2018-01-19 19:28] ndmckinley commented on #976
Aha - the problem is with the config.  :)

https://www.terraform.io/docs/providers/google/r/storage_bucket_acl.html points you to https://cloud.google.com/storage/docs/json_api/v1/bucketAccessControls, which tells us that you need to specify the type of user to add the ACL for.

When I change the line in role_entity to "OWNER:user-${google_service_account.test-user.email}", it works.  Let me know

[2018-01-19 19:28] #976 closed

[2018-01-19 20:14] davidquarles commented on #919
@Stono you should be able to specify preemptibility under `google_container_node_pool.node_config.preemptible`

[2018-01-19 20:43] davidquarles commented on #758
Hi @ndmckinley!  Thanks for taking the time to look at this.  It's been a good many days (and rebases) since i created this issue, and I apologize for not posting the corresponding config back when.  I've done my best to reconstruct what I was doing at the time, which still fails:

[code]

I tested with the current terraform version (0.11.2) and the version we were using in November (0.11.0), and

[2018-01-19 20:49] #758 closed

[2018-01-19 21:05] ndmckinley commented on #982
Can you provide logs?  My suspicion is that this is intended behavior - we very intentionally don't mark the resource as created until the initial creation request returns that the creation operation has started - but it could be that there's something we can do to make this a better experience.

If I'm right, would it be accurate to title this issue "Long-running terraform apply does not store st

[2018-01-19 21:17] ndmckinley commented on #973
You're right, that seems pretty bad!  :)  I'll see where the problem's coming from.

[2018-01-19 23:32] #973 closed

[2018-01-20 00:02] ndmckinley commented on #964
Oh boy, you must!  That error is only going to show up after 4 retries all fail with the concurrent modification error.  :)  Let's see what I can do about that.

[2018-01-20 00:09] ndmckinley commented on #964
Aha!  It makes sense - there's a bug in the way we're detecting whether an IAM error wraps a concurrent modification issue.  Fixing it now.  :)

[2018-01-20 00:31] #964 closed

[2018-01-20 11:40] matti commented on #982
This happens after the `google_container_cluster` and `google_container_node_pool` has been created. To repro this (100% success rate in my ~6 tests):

1. Apply and wait for cluster and node pool to be created
2. Change the number of nodes in `google_container_node_pool` or add a new node_pool
3. Run apply again and let it run for couple of minutes and then ^C that forcefully.
4. The state file is

[2018-01-20 12:05] waldiTM opened #988 "google_compute_instance: Tries to change boot disk infos every time"
### Terraform Version
[code]

This is a regression from
[code]

### Affected Resource(s)
- google_compute_instance

### Terraform Configuration Files
[code]

### Debug Output

### Expected Behavior
On subsequent apply calls no changes should be done.

### Actual Behavior
All parameters of the boot disk are changed in a no-op operation:

[code]
If I ignore changes for `boot_disk.0.initialize_params

[2018-01-21 00:07] paul-opsguru opened #989 "Feature Request: Pass Custom Metadata Key/Values to DataProc Nodes"
Hi,

Would be great to have a similar functionality to https://www.terraform.io/docs/providers/google/r/compute_instance.html#metadata (custom key/value metadata) when provisioning Google DataProc nodes (in my use-case I use tags to filter specific nodes by Prometheus).

Thanks,
--Paul

[2018-01-22 10:09] hawksight commented on #831
Just wanted to give a heads up that some kind person on slack pointed out the new release. I noticed the point `google_container_cluster` as a datasource and just wondered if this might fix the issue I was having here.

I checked if the instance group URLS were present on google end:
[code]

As they were, I decided, what the hell, lets see if that affects my load balancer.
I went from google provi

[2018-01-22 15:37] ctavan opened #991 "Use updateMask for google_logging_project_sink update"
While implementing logging exclusions in #990 I came across a note in https://cloud.google.com/logging/docs/reference/v2/rest/v2/projects.sinks/patch which states:

Maybe this should be updated in the terraform Google provider before the API changes?

[2018-01-22 17:03] Stono opened #993 "Setting project explicitly doesn't work on IAM resources"
Hey:

This doesn't work
[code]
It gives you this:
[code]

Whereas this does:
[code]

The actual terraform file is running against a different project (which is why i explicitly specify the project on the resource), I'm guessing it isn't being interpolated correctly

[2018-01-22 18:40] matti commented on #982
still happening, always fixed by copying state from the backup.

[2018-01-22 18:51] ndmckinley commented on #982
Interesting, yep, that's definitely not what I would expect to happen.  Let me do some investigation and report back.

[2018-01-22 18:56] ndmckinley commented on #982
I'm seeing similarities to https://github.com/hashicorp/terraform/issues/17066 - are you using -state-out?

[2018-01-22 20:20] hashibot[bot] opened #995 "Need a better way of exposing fine-grained resource documentation"
_This issue was originally opened by @paddycarver as hashicorp/terraform#17162. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

We currently have no real documentation on the fine-grained resource pattern, and it would probably really help users to be have more do

[2018-01-22 20:20] #995 closed

[2018-01-22 21:09] jamesbot9000 opened #996 "Terraform crash on import:"
I get this crash attempting to import storage buckets in the google provider for terraform:

!!!!!!!!!!!!!!!!!!!!!!!!!!! TERRAFORM CRASH !!!!!!!!!!!!!!!!!!!!!!!!!!!!
COMP0307:gcp james.mullan$ terraform import module.tapad-cross-platform-test-module.google_storage_bucket.failbox-testbucket-1 failbox-testbucket-1
module.tapad-cross-platform-test-module.google_storage_bucket.failbox-testbucket-1: Im

[2018-01-22 21:10] ndmckinley commented on #996
Can you run it again with TF_LOG=trace and post the log?  :)

[2018-01-22 21:14] jamesbot9000 commented on #996
[trace.txt](https://github.com/terraform-providers/terraform-provider-google/files/1653604/trace.txt)

Log is attached

[2018-01-22 21:28] ndmckinley commented on #996
Okay, yep, we're dereferencing "is_live" even though we haven't checked it for nil, and in the log you posted it is coming back nil.  I'll fix that.

[2018-01-22 22:14] #996 closed

[2018-01-22 22:17] danawillow commented on #988
Hey @waldiTM, I'm having trouble reproducing this. I tried running that config at v1.5.0 and also by running it at v1.4.0, upgrading to v1.5.0, and then running terraform plan again (in case it had something to do with the upgrade specifically). Can you comment with the full `terraform plan` output? This might actually be a red herring for something else.

[2018-01-22 22:49] danawillow commented on #993
Hey @Stono, thanks for the issue! The interpolation is actually working fine, but custom roles have to be specified with the project. Note what happens if you run `gcloud iam list-grantable-roles //cloudresourcemanager.googleapis.com/projects/PROJECT_ID`. Standard roles look something like this:
[code]
Notice here that the name is `roles/{role-name}`.

Whereas custom ones look like this:
[code]
No

[2018-01-22 23:34] #993 closed

[2018-01-22 23:51] danawillow commented on #962
Hi @greenhua, I'm having trouble reproducing this. Can you confirm for me that you can? Here's what my config looks like:

[code]

And here's the output:
[code]

[2018-01-23 00:34] danawillow commented on #86
This was fixed in #200 (not sure why it wasn't auto-closed)

[2018-01-23 00:34] #86 closed

[2018-01-23 00:36] danawillow commented on #218
This was fixed in #238, closing.

[2018-01-23 00:36] #218 closed

[2018-01-23 05:19] waldiTM commented on #988
Your are right. I did not even see that only some instances show this behaviour. You can find the plan at  https://gist.github.com/waldiTM/ff91d446f9b5a11bb2a61d73b3ad21ce and the code at https://gitlab.com/waldi/debian-mirror-cloud-terraform.

[2018-01-23 11:43] matti commented on #982
nope, just `terraform apply`

[2018-01-23 13:27] hawksight opened #1000 "Destroying `google_container_node_pool` fails because instance group persists"
Destroying `google_container_node_pool` fails because instance groups persist. They are resized from counts of 1 to counts of 0. But the instance groups are not actually removed.

This breaks the removal of other resources subsequently. As the node pool creation created they instance groups, it should remove them upon deletion.

### Terraform Version
[code]

### Affected Resource(s)
Please list th

[2018-01-23 13:59] ubschmidt2 commented on #728
The same applies to changes to the assigned service account and the API scopes (e.g. https://github.com/terraform-providers/terraform-provider-google/blob/2a6974451838133bd89ac8e40d09285f91d6da61/google/resource_compute_instance.go#L483).

[2018-01-23 14:01] ubschmidt2 commented on #728
@danawillow

[2018-01-23 14:38] hawksight commented on #831
For anyone struggling with the same issue - managed to work around this now by using the following:
[code]

This waits for node pool(s) to be created and executes before the load balancer module. This is then  passed out of my k8s module as an output:
[code]

Load balancer module reads this var now. I still have to manually specify the backends ie.
[code]

But at least I know that all instance_url

[2018-01-23 14:58] greenhua commented on #962
Hm... it is very  interesting. Your code is working without problem but with one difference: your terraform is building new bucket. My should use existing. If you remove bucket creation you can get error.

[2018-01-23 15:21] pdecat commented on #996
Also happens on plan.

[2018-01-23 15:26] ndmckinley commented on #996
Hm, even after this fix? Can you post a debug log?

[2018-01-23 15:32] pdecat commented on #996
Nope sorry, it also happens during plan before the fix.

Just tested the fix and it is ok.

[2018-01-23 16:14] pdecat commented on #988
FWIW, I am affected too with 1.5.0, also coming from 1.4.0, and also for some instances but not others in the same terraform configuration.

Also, the subnetwork part is affected by the same issue.

[code]

[code]

[2018-01-23 16:44] jamesbot9000 commented on #996
Just reporting the fix worked great for me. I've imported like 300 buckets. Thanks Nathan for all the help and the quick responses! This was also my first time building the provider from source, which was useful to me to learn

[2018-01-23 18:49] Stono opened #1002 "ignore_changes on node_config doesn't seem to work"
I have the following on my google_container_cluster
[code]

But as you can see, it's trying to rebuild:
[code]

[2018-01-23 19:04] ndmckinley commented on #982
Thanks.  This is definitely a terraform issue, and not a google provider issue, so I'm going to boot this upstream - I've referenced this issue there and I'll tag with "upstream".  You can follow along there, or I'll report back to this bug if any significant progress is made.

[2018-01-23 19:16] Stono commented on #1002
Ahhh,
I've figured this out.

There was another resource which is not included in my `ignore_changes` block, which was causing the rebuild.  I actually think we could improve this by only showing `(forces new resource)` for things which are actually causing the change (ie if they're in the ignore block, they shouldn't show that message).

[2018-01-23 21:10] rosbo commented on #988
@danawillow Here is more to help you pin point the root cause:

Probably caused by #948. However, the diff on the `image` and `subnetwork` *should* in theory be suppressed by their respective DiffSuppressFunc.

For instance, the diff @waldiTM is showing should be suppressed by the DiffSuppressFunc. See unit test for this particular case: https://github.com/terraform-providers/terraform-provider-go

[2018-01-23 21:45] mattdodge commented on #773
Here's an example of a container cluster, a separately managed node pool (how it should work, IMO), and then a `null_resource` that deletes the default pool created by the cluster after it is created.

[code]

I would recommend using the `--project` flag in the `gcloud` command in the local provisioner to make sure that you aren't accidentally running in some other configuration. The `--quiet` fla

[2018-01-23 21:48] mattdodge commented on #475
It's a pain to set up, but I do think that in production you should almost always be managing your cluster and your node pool separately. Primarily because of @matti's second edit, that any changes to the node pool will require the entire cluster to go down and come back up, no zero-downtime deploys are possible. That means you're left with that pesky default node pool though. Terraform is kind of

[2018-01-23 23:37] danawillow commented on #773
Thanks @mattdodge! A quick note that with #937 (which made it into our most recent release), the depends on shouldn't be necessary anymore (though it also doesn't hurt at all to keep it)

[2018-01-23 23:49] mattdodge commented on #773
Oh, interesting, glad to see that made it in. I think I would still have to tell terraform that the null resource is doing something to the cluster though, unless there's some super crazy magic going on behind the scenes. Is that right?

I'm running terraform 0.11.2 and 1.5.0 of the google provider and I needed to include it. I would rather mark the null resource as affecting the cluster rather th

[2018-01-23 23:52] danawillow commented on #773
Oh nope you're totally right, sorry to mislead.

[2018-01-24 00:05] danawillow commented on #962
@greenhua it doesn't make a difference for me whether I create the bucket in Terraform or use an existing one.

[2018-01-24 00:08] #989 closed

[2018-01-24 00:10] danawillow commented on #1002
Closing this since it appears solved. If you have suggestions on Terraform things that aren't google-specific, feel free to file an issue at github.com/hashicorp/terraform!

[2018-01-24 00:10] #1002 closed

[2018-01-24 16:01] ewbankkit opened #1003 "Import Shared VPC host/service resources"
I'd like the ability to `terraform import` `google_compute_shared_vpc_host_project` and `google_compute_shared_vpc_service_project` resources.

[2018-01-24 20:50] #728 closed

[2018-01-24 20:54] #1003 closed

[2018-01-24 21:03] #714 closed

[2018-01-25 07:29] zbikmarc commented on #962
Seems to work on google provider version `1.5`

[2018-01-25 14:18] jasonjho commented on #400
@danawillow @sebglon I see that you're now able to generate service account keys, but is there a way to generate the furnished JSON key file? As @drzero42 mentioned, these files are typically consumed by other resources, whether referenced on disk or uploaded as a Kubernetes secrets.

Any pointers here would be greatly appreciated. Thanks!

[2018-01-25 17:43] ewbankkit opened #1006 "Error importing google_compute_network/google_compute_subnetwork when project not set in provider"
I don't have `project` set in my `google` provider (either explicitly or implicitly via environment variable) and want to import networks and subnets via `terraform import`:
[code]
[code]

[2018-01-25 17:46] ewbankkit commented on #1006
It's the calls to `getProject` [here](https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_compute_network.go#L139) and [here](https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_compute_subnetwork.go#L191) that return the error.

Will need to add an additional, optional part to the ID specified to `terraform import`

[2018-01-25 18:50] ewbankkit commented on #1006
The better solution seems to be to set the `GOOGLE_PROJECT` or equivalent environment variable before running `terraform import`:
[code]

[2018-01-25 18:50] #1006 closed

[2018-01-25 18:57] danawillow commented on #400
Isn't that the [`private_key`](https://www.terraform.io/docs/providers/google/r/google_service_account_key.html#private_key) field? Or are you looking for something else?

[2018-01-25 18:59] drzero42 commented on #400
@jasonjho It is easily possible, it is just unintuitively named, and badly documented (IMHO). The attribute named `private_key` on the `google_service_account_key` resource, contains a base64 encoded version of the json-file normally downloaded when you create a service account key through the console or gcloud cli. Here is a simply example of how to use it:

[code]
Same deal for setting a kuberne

[2018-01-25 19:02] danawillow commented on #972
Fixed in #946

[2018-01-25 19:02] #972 closed

[2018-01-25 19:04] danawillow commented on #400
@drzero42 was that an offer to improve the documentation? ;)

[2018-01-25 19:34] jphalip opened #1007 "Dataproc cluster creation doesn't work with internal_ip_only=true"
### Terraform Version
+ Terraform v0.11.2
+ provider.google v1.5.0

### Affected Resource(s)
Please list the resources as a list, for example:
- google_dataproc_cluster
- google_compute_subnetwork

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/jphalip/351366e767697069c808bb885160cc78

### Expected Behavior
The Dataproc cluster should get created correctly with

[2018-01-25 19:34] matti commented on #982
@ndmckinley Sorry where have you referenced this issue? It's not linked back here

[2018-01-25 19:39] ndmckinley commented on #982
A few posts up- https://github.com/hashicorp/terraform/issues/17066. That seems that it will wipe out your existing statefile if you aren't using `state-out`.

[2018-01-25 19:39] jasonjho commented on #400
@danawillow @drzero42 Thank you for the assist here! I had a hunch this might be the case, but glad that this is confirmed. I'd imagine adding this to the docs would be immensely helpful for others.

[2018-01-25 20:03] drzero42 commented on #400
@jasonjho You're welcome :)
@danawillow Me and my big mouth eh? I'll take a stab at making a PR for the documentation to make it more obvious that the private_key attribute has the same content as the JSON-file normally downloaded :)

[2018-01-25 20:38] jphalip commented on #1007
On second try, it seems like it actually worked. Must have been a fluke, sorry for the noise. Closing.

[2018-01-25 20:38] #1007 closed

[2018-01-25 21:02] apenney opened #1008 "google_container_cluster creating cluster in the wrong project"
### Terraform Version

» terraform -v
Terraform v0.11.2
+ provider.google v1.5.0
+ provider.random v1.1.0

### Affected Resource(s)
- google_container_cluster

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/apenney/b4f176ba802e3b73de9f2e9b20709924

### Expected Behavior
The cluster should be created in the "development" project.

### Actual Behavior
It tried to

[2018-01-25 21:19] danawillow commented on #1008
Hey @apenney, sorry for the trouble! Would you mind getting some debug logs for me? You can do that by running `TF_LOG=DEBUG terraform apply`.

[2018-01-25 22:30] apenney commented on #1008
https://gist.github.com/apenney/f0e462554c33b5e8746d61ac7ee0bfa2 - I redacted a couple of emails, etc, I don't think there's anything sensitive left in there (I hope!)

[2018-01-25 23:00] danawillow commented on #1008
Hmm it looks like the logs got a bit clobbered at places and I think the request I'm looking for didn't make it in. Can you try again, this time redirecting the output in case that was what did it? `TF_LOG=DEBUG terraform apply 2>debug.txt`

[2018-01-25 23:15] apenney commented on #1008
[debug.txt](https://github.com/terraform-providers/terraform-provider-google/files/1666019/debug.txt)

I was hoping to avoid certain bits of the output, but I don't want to kill your ability to troubleshoot so here's the entire unmodified output.

[2018-01-25 23:25] jphalip opened #1009 "Route resource's priority parameter should be optional"
### Terraform Version
+ Terraform v0.11.2
+ provider.google v1.5.0

### Affected Resource(s)

- google_compute_route

### Debug Output

[code]

### Expected Behavior
The route priority should be optional and default to 1000, similarly to the "gcloud" command [counterpart](https://cloud.google.com/sdk/gcloud/reference/compute/routes/create).

### Actual Behavior
The route resource requires you to p

[2018-01-25 23:31] albertomurillo commented on #1009
I just faced this. Will you work on a PR?

[2018-01-26 00:11] albertomurillo opened #1010 "google_compute_route fails to create on first run"
`google_compute_route` creation fails on first run when a custom `google_compute_subnetwork` is defined

### Terraform Version
[code]

### Affected Resource(s)
- google_compute_route

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/albertomurillo/25fe037da7d66f04476a3a300538592e

### Panic Output

### Expected Behavior
All resources created

### Actual Behavior
1

[2018-01-26 00:31] danawillow commented on #1008
Thank you! I downloaded the file so if you want to remove it from here to make it less public feel free to do so.

So the answer is that the service account you're using to run Terraform is in the cota-terraform-admin project, and that project doesn't have the container API enabled. I don't know why it works out in GCP that the project the service account belongs to is the one that needs to have t

[2018-01-26 00:31] #1008 closed

[2018-01-26 00:48] danawillow commented on #1010
Hey @albertomurillo, you're going to want to use depends_on for this: https://www.terraform.io/docs/configuration/resources.html#explicit-dependencies. I'm going to go ahead and close this issue since if I'm understanding the problem correctly it's WAI, but thanks for the report!

[2018-01-26 00:48] #1010 closed

[2018-01-26 01:00] danawillow commented on #603
This issue is pretty old, so I'm going to go ahead and close it. If you run into it again and manage to get a debug log, let us know and we'd be happy to reopen!

[2018-01-26 01:00] #603 closed

[2018-01-26 01:10] danawillow commented on #919
What @davidquarles said :)

Closing this, but let me know if it still doesn't work and I'll reopen.

[2018-01-26 01:10] #919 closed

[2018-01-26 01:16] danawillow commented on #860
Pretty sure the answer for this is just to add support for the `networkPolicyConfig` addon: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.zones.clusters#AddonsConfig.

[2018-01-26 01:22] danawillow commented on #682
Fixed in #1001.

[2018-01-26 01:22] #682 closed

[2018-01-26 01:29] danawillow commented on #64
Fixed in #992

[2018-01-26 01:29] #64 closed

[2018-01-26 01:40] danawillow commented on #844
Question- if you set autoscaling but not node_count, what would you expect to happen? It seems like we have two options:
* Un-deprecate initial_node_count
* Allow not setting initial_node_count or node_count if autoscaling is set (and then set the initial node count to min_node_count)

I like the second one so that users don't have to worry about whether they set initial_node_count or node_count f

[2018-01-26 01:56] danawillow commented on #831
Thanks for the detailed writeup, @hawksight! An alternative way to solve this would be to have the output depend on the node pools- that should get rid of the need for the data source.

Aside from that, anything else regarding this issue in particular that needs to be looked at?

[2018-01-26 02:02] danawillow commented on #817
@senpx @jsilberm I agree with @sl1pm4t, I'm not sure whether what you're asking is possible to do with the API- at the very least, it's not part of the [NodeConfig](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/NodeConfig) object that `local_ssd_count` is. If you've found a way to do this with the API or gcloud, that would help us figure out how to implement it in Terraform.

[2018-01-26 02:04] danawillow commented on #803
FYI to whoever implements this: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.zones.clusters/setMasterAuth.

[2018-01-26 02:27] danawillow commented on #949
Hey @dolvany, I don't think provider aliases is what you want here. In order to use provider aliases, you specify which provider you're planning to use in the resource itself: https://www.terraform.io/docs/configuration/providers.html#multiple-provider-instances. It sounds like your goal is to have three projects, each with a dns record set resource, is that correct? If so, you could use variables

[2018-01-26 09:19] wmuizelaar commented on #844
I like the second one best as well.

[2018-01-26 12:38] hawksight commented on #831
thanks @danawillow for the tip, I didn't realise an output could be dependant on a resource. That probably would have helped. That also explains why on the first run, there wold only ever be the default instance groups, but second run would show the node pool as well.

Ok so between the the new data resource in 1.5 and the `depends_on` solution, I think the should cover my initial request. Even th

[2018-01-26 13:34] apenney commented on #1008
I just wanted to say thank you @danawillow for looking into this for me!  I definitely appreciate it.  I'll ask google what's up with that, because it's... definitely a little weird that it needs them in both projects, but it did work afterwards.  Weird stuff!

[2018-01-26 14:43] hamshif opened #1013 "Upgrading from terraform google plugin 1.4 to 1.5 disables deployment"
### Terraform Version
Terraform v0.11.0
+ provider.google v1.5.0

Your version of Terraform is out of date! The latest version
is 0.11.2. You can update by downloading from www.terraform.io/downloads.html

### Affected Resource(s)
- google_container_node_pool
- google_container_cluster

It may be an issue with Terraform's core.

### Terraform Configuration Files
[code]

[code]

[code]

### Debug O

[2018-01-26 17:46] danawillow commented on #831
Great, happy to help!

[2018-01-26 17:46] #831 closed

[2018-01-26 18:58] danawillow commented on #1000
Hmm, I'm having trouble reproducing this. What does your configuration look like for `google_container_cluster`?

Here's the config I tried testing this with:
[code]
Then I tried removing the node pool, which succeeded.

[2018-01-26 20:38] danawillow commented on #1013
Hey @hamshif, can you try posting your debug logs in a different format? The gist links aren't working for me.

[2018-01-27 07:20] hashibot[bot] opened #1014 "google_compute_backend_service: terraform can't set capacity_scaler as 0"
_This issue was originally opened by @y-i as hashicorp/terraform#17206. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I tried to launch a blue/green deployment on GCP by terraform. I couldn't set the capacity of a backend as 0.

### Terraform Version
[code]

###

[2018-01-27 10:54] michaelbannister commented on #633
Sorry I haven't made a start on this yet. At work I'm busy with our first migration to GCP while at home I'm preparing for my wedding at the end of Feburary! If it's still open by March I'll be sure to pick it up but meanwhile if anyone else fancies it… go ahead. :)

[2018-01-27 13:34] hamshif commented on #1013
Sure thanks

On Jan 26, 2018 22:38, "Dana Hoffman" <notifications@github.com> wrote:

[2018-01-27 13:36] hamshif commented on #1013
Error: Error applying plan:

1 error(s) occurred:

* google_container_cluster.primary: 1 error(s) occurred:

* google_container_cluster.primary: Post
https://container.googleapis.com/v1/projects/...-gcp-poc/zones/europe-
west1-d/clusters?alt=json: dial tcp: i/o timeout

[2018-01-27 13:36] hamshif commented on #1013
Error: Error applying plan:

1 error(s) occurred:

* google_container_cluster.rtp_container_cluster: 1 error(s) occurred:

* google_container_cluster.rtp_container_cluster: Error reading
instance group manager returned as an instance group URL: Get
https://www.googleapis.com/compute/v1/projects/rtp-gcp-
poc/zones/europe-west1-b/instanceGroupManagers/gke-rtp-container-
cluste-default-pool-8bb9aa85-

[2018-01-27 21:51] ewbankkit opened #1016 "Crash if updating labels on google_project fails"
Crash when attempting to update `labels` on a `google_project` resource and that update fails:
[code]
Relevant code:
https://github.com/terraform-providers/terraform-provider-google/blob/838296e155281a0014092248216cab4e2dc2b262/google/resource_google_project.go#L290-L293

The problem is that `p` is `nil` on failure so `p.Name` causes the _nil pointer dereference_ panic.

[2018-01-28 22:43] ewbankkit opened #1018 "Importing google_logging_project_sink resource fails to set 'project' attribute"
Importing a `google_logging_project_sink` resource via `terraform import` fails to set the `project` attribute causing the next `terraform plan` to show that the resource needs to be recreated if `project` is explicitly set in code.
[code]

`terraform import google_logging_project_sink.infra_storage_sink projects/project-xxxxxx/sinks/xyz` succeeds.

`terraform plan`:
[code]

[2018-01-29 12:32] iniinikoski commented on #988
Hmm, same issue here I guess with 1.5.0 vs. 1.4.0... But it says the "id" of the resource would be causing the destroy+create... Gist available here: https://gist.github.com/iniinikoski/0cbd04cee23a470d357131a1e09dca21

Locked to 1.4.0 for now...

[2018-01-29 16:21] #1016 closed

[2018-01-29 17:33] danawillow commented on #988
Thanks @iniinikoski! @rosbo, looks like this breaks our assumption that the family name will always be part of the image name:
[code]

That's different from the other examples above where the assumption did hold true, so I'm still curious why the DiffSuppress didn't work on those, but we may need to go with a different solution altogether.

[2018-01-29 17:36] danawillow commented on #1013
Hey @hamshif, would you mind posting debug logs? You can do so by running `TF_LOG=DEBUG terraform plan > debug.txt` and then pasting the output into a gist.

[2018-01-29 18:30] rosbo commented on #988
@danawillow We need to fix our DiffSuppressFunc to handle these cases too. I am still puzzled by the issue experienced by @pdecat and @waldiTM... It triggers an `in-place` update but the `subnetwork` and `image` field diff should be suppressed and these fields are `ForceNew` which means they would trigger a `forces new resources` update, not an `in-place` update...

@iniinikoski, a workaround for

[2018-01-29 19:25] hamshif commented on #1013
Thanks !!!

I will also post this in the issue

<script src="
https://gist.github.com/hamshif/2d86c2dc842be8ae58f37ea69883b9f9.js
"></script>

https://gist.github.com/hamshif/2d86c2dc842be8ae58f37ea69883b9f9.js

On 29 January 2018 at 19:36, Dana Hoffman <notifications@github.com> wrote:

[2018-01-29 19:28] hamshif commented on #1013
https://gist.github.com/hamshif/2d86c2dc842be8ae58f37ea69883b9f9

don't use the .js end

[2018-01-29 19:44] johnsonj commented on #635
It'd be great start to export the `serverCaCert` which is exposed as part of the [instance resource](https://cloud.google.com/sql/docs/mysql/admin-api/v1beta4/instances#resource).

[2018-01-29 22:01] danawillow commented on #1013
Sorry to keep making you do this, can you run this command for me and paste the output in a gist?
[code]

[2018-01-29 22:02] hamshif commented on #1013
Sure no problem

On Jan 30, 2018 00:01, "Dana Hoffman" <notifications@github.com> wrote:

[2018-01-29 22:12] hamshif commented on #1013
https://gist.github.com/hamshif/f0ca4ad95b9c1f71b620a92c7dc10f15

[2018-01-29 22:15] hamshif commented on #1013
I'm still able to provision with 1.4 plugin

[2018-01-29 22:16] danawillow commented on #1013
Looks like the error those logs are talking about is that the resource already exists. Can you try changing the name and posting new logs once you have an error output that matches the problem from your original post?

[2018-01-29 22:17] hamshif commented on #1013
I'll delete the current clusters and reapeat the process

On Jan 30, 2018 00:16, "Dana Hoffman" <notifications@github.com> wrote:

[2018-01-29 22:36] hamshif commented on #1013
https://gist.github.com/hamshif/523cad7787d5a514525b7b5b1b770fb3

[2018-01-29 23:21] paddycarver commented on #611
@rawkode from what I can tell, it _looks like_ we're on the same page about service accounts being the way to do this, but I don't want to put words into your mouth. I'm going to close this as a `wontfix`, but please feel free to reply and reopen the conversation if I've misunderstand the situation.

[2018-01-29 23:21] #611 closed

[2018-01-30 11:24] rgardam commented on #878
Any work around on this?

[2018-01-30 15:44] tanner-bruce opened #1022 "Allow creation of GCP instances via the "Select docker image""
Is it possible to launch VMs with the deploying containers on option?

https://cloud.google.com/compute/docs/containers/deploying-containers?hl=en_US

[2018-01-30 17:30] danielporto commented on #1022
I was precisely searching for a solution for that right now. Hope it is.

[2018-01-30 20:06] Stono opened #1023 "Feature request: Disable master basic auth"
Hi,
I'd love to be able to disable master basic auth on my google_container_cluster:

<img width="588" alt="screen shot 2018-01-30 at 20 05 48" src="https://user-images.githubusercontent.com/1486729/35588588-0532af12-05f9-11e8-9de3-5f1f72f0dfb1.png">

[2018-01-30 20:22] #1023 closed

[2018-01-30 21:33] #1018 closed

[2018-01-30 23:06] emilymye commented on #1022
Unfortunately I don't think we can do this using current GCP APIs. It looks like you can only use gcloud or the UI right now, which I suspect just does the extra deployment work for you on top of the Container-Optimized OS image. I also probably wouldn't redo this deployment work within Terraform since the original feature is beta they may decide to expose this in the API eventually.

@danawillow

[2018-01-30 23:20] #1009 closed

[2018-01-30 23:51] danawillow commented on #1022
Actually I think this will work with Terraform as-is, though it's definitely not intuitive. I went into the UI and pretended to create an instance and then clicked on the "Equivalent REST" button, which gave me:
[code]

So it looks like the container-specific stuff that it added was:
[code]
[code]
[code]

I don't think it makes sense currently to try to add any extra knobs in Terraform to handle t

[2018-01-31 00:53] emilymye commented on #1014
Should be an easy fix - will have a PR shortly.

[2018-01-31 01:13] #1014 closed

[2018-01-31 01:24] danawillow commented on #1013
Hey @hamshif, I'm totally stumped. I'm using 1.5.0 and my plan output looks the same as yours, but I'm able to create the cluster just fine. As far as I can tell from the error messages, the request to create the cluster is timing out after its been sent to GCP- I'm not sure why using a different version of Terraform would make a difference at that point. Sorry I couldn't help further :-/

[2018-01-31 03:26] hamshif commented on #1013
I deleted the gcp project from the UI [it's not possible from terraform
destroy] before I ran this so how can there be a resource?

On 30 January 2018 at 00:16, Dana Hoffman <notifications@github.com> wrote:

[2018-01-31 11:55] Stono opened #1029 "Updating master_authorized_networks replaces entired auth list with changes"
Hey,
I've just come across a problem with `master_authorized_networks` on `google_container_clusters`, where when updating the master authorized networks on a cluster, all existing networks are removed and only the changes (additions) are left in place.

Take this example, I have a single network called Darren:
<img width="483" alt="screen shot 2018-01-31 at 11 48 51" src="https://user-images.gith

[2018-01-31 12:03] Stono commented on #1029
Dunno if it helps but this is the first time i've added a new MAN since using `1.5.0`, so perhaps it's a regression since then

[2018-01-31 14:02] hamshif commented on #1013
I'm willing to Skype or hangouts to demo

On Jan 31, 2018 03:24, "Dana Hoffman" <notifications@github.com> wrote:

Hey @hamshif <https://github.com/hamshif>, I'm totally stumped. I'm using
1.5.0 and my plan output looks the same as yours, but I'm able to create
the cluster just fine. As far as I can tell from the error messages, the
request to create the cluster is timing out after its been sent t

[2018-01-31 17:12] pdecat opened #1031 "Disabling a container cluster's network policy enforcement with an assignement results in endless changes detected"
### Terraform Version

Same behavior with 1.5.0 and recent master@cc5f77e3:

[code]

### Affected Resource(s)

- google_container_cluster

### Terraform Configuration Files

1. configuration to enable network policy enforcement:

[code]

2. configuration to disable network policy enforcement:

[code]

Notes: replacing `network_policy {}` by `network_policy = []` has the same behavior with a slight

[2018-01-31 21:26] emilymye commented on #1029
Hi @Stono - do you mind posting your config and debug logs?

[2018-02-01 06:18] hamshif commented on #1013
Hello Dana

My name is Gideon

If you are running the same configuration I then the only differences I can
think of are:

   1. The content of my variables
   2. My laptop

Can it be that parsing the variables changed?

Can it be that some security issue is timing connection out?

On 31 January 2018 at 03:24, Dana Hoffman <notifications@github.com> wrote:

[2018-02-01 15:06] adam-sandor commented on #397
Any progress on this one? We just ran into the same issue. We have a cluster with multiple node pools and we changed the node version. We are fine with updating all node pools (as long as it's done as a rolling upgrade) but this error is preventing us to do anything through Terraform.

[2018-02-01 15:21] adam-sandor commented on #397
Update: The workaround is to upgrade all the node pools through gcloud cli or web console.

[2018-02-01 17:58] koalalorenzo commented on #898
I am almost sure that `google_container_node_pool` is affected as well. @danawillow is the PR also fixing for the node_pool? I am creating nodes and it goes in timeout. But if I add the oauth scope I have no problem.

I am adding to both `google_container_node_pool` and `google_container_cluster` the following scopes:

[code]

[2018-02-01 18:33] #1031 closed

[2018-02-01 19:20] JanisOrlovs opened #1036 "Lack of functionality for google_compute_network_peering connecting multiple projects"
Hi there,

Terraform module google_compute_network_peering is missing options to connect networks located in different projects.

For example:

need to connect project-a and project-b, but there are no such module options.

[2018-02-01 21:36] emilymye commented on #1036
The `network`/`peer_network` fields ([docs](https://www.terraform.io/docs/providers/google/r/compute_network_peering.html)) accept self-links with the project defined, i.e.
[code]
would connect networkA in project A to networkB in project B. The `self_link`s look like `https://www.googleapis.com/compute/v1/projects/projectA/global/networks/defaultA`, so there is a project associated with the netwo

[2018-02-01 21:59] JanisOrlovs commented on #1036
Hello,
Thanks, I'm marking this as closed.

[2018-02-01 21:59] #1036 closed

[2018-02-02 08:38] eik3 opened #1039 "Add support for managing Build Triggers in Container Builder"
It would be nice if we could manage Build Triggers with Terraform.
There's an [REST API for that](https://cloud.google.com/container-builder/docs/api/reference/rest/v1/projects.triggers).

[2018-02-02 17:42] saleh-sedighi-ck commented on #936
+1

[2018-02-02 20:19] Stono opened #1041 "Update never completes (ever)"
Hey,
Take this example of me making a single change to my cluster:

[code]

You'll see from the debug logs that terraform never actually stops (this is only a couple of minutes, but i've left it for 20+):
[code]

Interestingly it says DONE, but nothing has change (my master is still on the old version).
I also find it very strange that in the debug logs we have `GKE cluster delivery-platform maste

[2018-02-02 20:19] Stono commented on #1041
The master authorised networks thing could be linked to https://github.com/terraform-providers/terraform-provider-google/issues/1029

[2018-02-02 22:12] emilymye commented on #1041
@Stono would you mind adding the config you're using to this issue and to #1029? It would very helpful for debugging purposes. I think I know what's happening here but the config would be very helpful for your other issue.

[2018-02-03 11:24] meverone opened #1043 "Problem with the 'port' in the google_compute_backend_service"
## Terraform Version
Terraform v0.11.3

## Terraform Configuration Files

[code]

Hi,

I'm having a problem with proper configuring my https target proxy namely, I'm not able to forward traffic to the specific backend (which base on ports).
The code above let's say work correctly because it creates named port in instance groups from what I saw in the console - which is weird because I'm not defini

[2018-02-03 20:58] Stono commented on #1041
@emilymye sure:

main.tf
[code]

variables:
[code]

And then the code which calls the above module:
[code]

[2018-02-03 23:18] Mistobaan opened #1044 "Stackdriver Monitoring Provider"
Is there any plans to create a stackdriver provider for monitoring ?

something similar to [datadog's provider](https://www.terraform.io/docs/providers/datadog/r/user.html)

API https://cloud.google.com/monitoring/api/ref_v3/rest/

[2018-02-04 02:58] danderson opened #1045 "Cannot specify license URIs when creating images"
### Terraform Version

Terraform v0.11.2
+ provider.google v1.5.0

### Affected Resource(s)
- google_compute_image

### Expected Behavior
To beta test nested virtualization, https://cloud.google.com/compute/docs/instances/enable-nested-virtualization-vm-instances#enablenestedvirt says you must create a custom GCE image with a magic license URI to enable VMX on the instance.

I expected to be able

[2018-02-04 10:54] matti opened #1046 "deposed google_compute_disk fails to destroy with an instance group"
In my setup
- disk-raw.tar.gz is uploaded to a bucket with filename `disk-raw-${md5("disk-raw.tar.gz")}.tar.gz`
- a volume is created from that file
- instance template is created that uses the volume as root
- instance group manager is created from the template

I've set lifecycle `create_before_destroy` so that when the `disk-raw.tar.gz` is updated, the md5 sum changes and a everything is re-cre

[2018-02-05 07:04] nodesocket opened #1048 "google_compute_disk: Hot-remove of the root disk is not supported"
Building a `google_compute_disk` from a snapshot:

[code]

I updated the snapshot manually and bumped the snapshot, but now when trying to run `terraform apply` it is erroring with:

[code]

Ideas?

[2018-02-05 17:50] emilymye commented on #1029
Crosspost config from #1041
[code]

[2018-02-05 17:50] #1041 closed

[2018-02-05 17:51] emilymye commented on #1041
Hi @Stono, I'm merging in a fix for this issue. I'm going to cross-post your config in #1029 but can you also verify that #1029 is still happening for you after the fix (#1042)?

[2018-02-05 18:48] rosbo commented on #1044
Hi Fabrizio,

I believe @srivasta was working on this. @srivasta, can you post an update about your progress on this?

Thank you

[2018-02-05 19:23] rosbo opened #1051 "Cannot update or create backend_service backed by a group."
# Config
[code]

# Error
[code]

# Expected behavior

Create my backend service without failing since I am not setting maxRate or maxRatePerInstance.

[2018-02-05 19:40] matti opened #1052 "google_compute_disk not available causes google_compute_instance_template to fail in later apply"
First apply fails in "not have enough resources"
[code]

Then the second apply fails because the disk was not created:
[code]

had to `terraform state rm "google_compute_disk.i_docker[0]"` it to get apply working again

[2018-02-05 20:58] #1051 closed

[2018-02-05 21:25] danawillow commented on #898
Yes, that PR fixes the issue for `google_container_node_pool` as well. Version 1.5.0 of the google provider has the fix- is that the version you're using?

[2018-02-05 22:17] danawillow commented on #971
Fixed in https://github.com/terraform-providers/terraform-provider-google/pull/1033

[2018-02-05 22:17] #971 closed

[2018-02-05 23:05] apparentlymart commented on #982
Hi @matti! Sorry for this strange issue, and thanks for reporting it.

After some investigation today I concluded that although you are seeing similar _symptoms_ as hashicorp/terraform#17066 the root causes seem to be separate. (You can see some details of how I got to that conclusion in a comment on that issue, if you're interested.)

So with that said, if you'd be willing it'd be great if you co

[2018-02-06 01:03] danawillow opened #1054 "Deprecate `name_prefix`"
Right now, a few of our resources support specifying the name in multiple ways:
* A `name` field, which is for the name explicitly
* A `name_prefix` field, which specifies a prefix and generates a random string for the rest
* Setting neither, which generates a random string

Because of the existence of the [random provider](https://www.terraform.io/docs/providers/random/index.html), we don't need

[2018-02-06 01:07] rosbo commented on #1054
👍

[2018-02-07 09:33] hden opened #1055 "Request: Support creating BigQuery table definitions."
Support creating BigQuery table definitions i.e. tables with external data sources.
https://cloud.google.com/bigquery/external-table-definition

### Affected Resource(s)
- google_bigquery_table

[2018-02-07 10:05] hawksight commented on #1000
sorry I haven't had time to drop a copy of my config in but I can reproduce consistently with the following [gist](https://gist.github.com/hawksight/5b442cdc33ba00ca638af861dc0a7d74)

Sorry for all the vars, its my own module, so to make it easier, this is the dev config I use to build with it. The output should be a cluster with 1 additional nodepool, - 6 nodes in total:
[code]

The actual node p

[2018-02-07 11:37] sdouche opened #1057 "Postgres user creation again and again"
### Terraform Version
Terraform v0.11.3
+ provider.google v1.5.0

### Affected Resource(s)
- google_sql_user

### Terraform Configuration Files
[code]
### Expected Behavior
The creation of users the first time, and nothing after.

### Actual Behavior
The users are destroyed and created again each time I use Terraform.

[code]

### Steps to Reproduce
1. `terraform apply`

[2018-02-07 17:24] hamshif commented on #1013
Hi @danawillow

I've managed to resolve my issue by mistake!!.
When I migrated to a new project and created a new service account neither google plugin 1.4 nor 1.5 worked so I fiddled with the roles and gave myself project owner which enabled me to use the 1.5 plugin easily.

I think the resolution of this issue should be in creating more descriptive logs i.e. relaying verbose gcloud responses as

[2018-02-07 18:15] mioi opened #1058 "Perpetual diff with google_compute_instance's network_interface.0.*"
### Terraform Version
v0.11.3
google provider v1.2.0

### Affected Resource(s)
- google_compute_instance

### Terraform Configuration Files
[code]

### Debug Output

### Panic Output

### Expected Behavior
Doing a `plan` shows:
[code]
Doing an `apply` successfully deletes and recreates the access config, but doing another `plan` shows the same plan output. Expected behavior is that a subsequent `p

[2018-02-07 21:29] danawillow commented on #1013
Great, glad to hear it's working for you now!

[2018-02-07 21:29] #1013 closed

[2018-02-08 00:07] danawillow commented on #1000
Weird, I used your updated config and I'm still not getting an error.

Paging @rosbo / @paddycarver / @ndmckinley , either of you want to give this a try and see if you can get a repro?

[2018-02-08 01:25] danawillow commented on #1054
@sl1pm4t here's what I'm thinking about for your scenario:
[code]
The `keepers` parameter in `random_id` gives a map of values that cause the random id to be regenerated, so by tying it to attributes that you think might change, it'll make sure the random id changes too.

[2018-02-08 02:04] sl1pm4t commented on #1054
Yeah, that could be a pretty elegant solution @danawillow.
I'll try it out, thanks!

[2018-02-08 18:54] paddycarver commented on #982
Seeing as this has moved (I believe) to hashicorp/terraform#17282, I'm going to close this issue out. If it appears this bug is specific to the Google provider, we can reopen this issue to track it down.

[2018-02-08 18:54] #982 closed

[2018-02-09 01:42] paddycarver commented on #1054
That matches my understanding.

[2018-02-09 03:03] rosbo commented on #1057
Salut Sébastien,

POSTGRES databases are 2nd generation sql instances. Restricting access by hostname is only supported for 1st generation instances like `MYSQL_5_6`.

Set the host field to empty (for now, the field is required).

I opened a PR to improve the documentation around this and to make the host field optional.

Thank you.

[2018-02-09 03:03] #1057 closed

[2018-02-09 16:31] kmontag opened #1067 "Allow specifying accelerators in cluster node_config"
Beta support for GPUs on Kubernetes clusters has been released: https://cloud.google.com/kubernetes-engine/docs/concepts/gpus

It looks like they can be added via REST API using the `accelerators` field in a node pool configuration, e.g. (when creating a cluster):

[code]

Would be great if this could be supported in the `node_config` block for `google_container_cluster` / `google_container_node_p

[2018-02-09 17:40] DeviaVir commented on #90
@dcousens pinging, will relay the same message as in the linked issue below.

I had a need for such a provider, so I started one here:
https://github.com/DeviaVir/terraform-provider-gsuite

It currently has (pretty basic) support for `users`, `groups` and `group memberships`, hope to see it extended further by the FOSS community but this covers my needs for now.

[2018-02-09 20:04] sl1pm4t commented on #1054
@danawillow I tried out the alternative and it works well. Thanks!

[2018-02-09 22:09] morgante opened #1068 "Support setting GCE usage bucket"
I would like to be able to set the (GCE) usage bucket for a project via Terraform. This is useful for capturing usage information across all projects I create automatically in an organization.

The equivalent gcloud command is here: https://cloud.google.com/sdk/gcloud/reference/compute/project-info/set-usage-bucket

The config syntax might look something like this:

[code]

### Terraform Version
`

[2018-02-09 22:12] morgante commented on #1068
The REST API method is here: https://cloud.google.com/compute/docs/reference/rest/beta/projects/setUsageExportBucket

[2018-02-10 00:16] uschen opened #1069 "google_sql_database_instance Error 403: The client is not authorized to make this request., notAuthorized"
Hi there,

tried with both service account (Project Editor) or Application default (project owner)

### Terraform Version
11.3

### Affected Resource(s)
- google_sql_database_instance

### Terraform Configuration Files
[code]

### Debug Output
[code]

[2018-02-10 10:43] waldiTM commented on #988
1.6.0 does not fix the problem.

As you mentioned that this plan should force a new resource: Is there a way to see in the debug output which resource actually triggers refreshs? I did not manage to find it.

[2018-02-10 10:56] waldiTM commented on #988
I updated to terraform 0.11.3 and the diffs looks larger:

[code]

[2018-02-10 10:58] waldiTM commented on #988
But now the whole diff vanishes if I ignore `boot_disk.0.initialize_params.0.image`.

[2018-02-10 11:25] waldiTM commented on #988
And after some instrumentation I found out that `diskImageDiffSuppress` works correctly:

[code]

However I see a lot of calls without any old image, which according to the comment should not happen.

[code]

[2018-02-10 11:28] waldiTM commented on #988
If I make this error condition return `true`, it does not happen any more. So Terraform sometimes does not provide the old image, even if the shown diff lists it.

[2018-02-10 11:53] waldiTM commented on #988
The problem in question is triggered by a completely different part of the config. I added a workaround for #926 and this seems to trigger this weird behaviour:

[code]

[2018-02-10 15:23] Ruwan-Ranganath opened #1070 "google_container_registry_repository invalid parameters"
### Terraform Version
Terraform v0.11.3
+ provider.google v1.5.0

### Affected Resource(s)
Please list the resources as a list, for example:
- google_container_registry_repository

### Terraform Configuration Files
[code]

### Debug Output

### Expected Behavior
create google container registry

### Actual Behavior
Above error generated

### Steps to Reproduce
just use this syntax from doc.
1.http

[2018-02-11 17:56] matti opened #1072 "terraform force-unlock explodes in ParseInt"
Not sure if this is this provider issue or not:

Terraform v0.11.3

backend with gcs
[code]

lock goes stale..
[code]
$ terraform force-unlock -force c0f204fa-5887-e159-04f8-329a90cb072a
Failed to unlock state: strconv.ParseInt: parsing "c0f204fa-5887-e159-04f8-329a90cb072a": invalid syntax
[code]

[2018-02-12 17:03] danawillow commented on #1072
Hey @matti, the gcs backend is part of Terraform core- you'll want to file an issue at https://github.com/hashicorp/terraform instead. I'll go ahead and close this one- good luck!

[2018-02-12 17:03] #1072 closed

[2018-02-12 19:25] ndmckinley commented on #1069
I'm seeing the same thing, let me figure out what's happened here.

[2018-02-12 21:25] #1070 closed

[2018-02-12 21:59] ndmckinley commented on #1069
Been at this for a while - can't figure out what's going on here.  The request is being sent correctly, and it really seems that it's being processed incorrectly.  But if that were the case, everyone would be failing to create new instances, and I'm not seeing reports of that...

[2018-02-12 22:48] ndmckinley commented on #1069
I've filed a bug internally at Google about this issue and I'll update when I hear back.

[2018-02-12 23:18] ewbankkit opened #1075 "Feature request: Add 'google_folder_iam_binding' and 'google_folder_iam_member' resources"
Add `google_folder_iam_binding` and `google_folder_iam_member` resources to allow management of a single binding and a single member within a single binding respectively within IAM policy for GCP folders.

[2018-02-13 11:12] matti commented on #1072
https://github.com/hashicorp/terraform/issues/17328

[2018-02-13 15:52] mytran opened #1079 "metadata startup-script for google_compute_instance broken after 1.4.0"
In my google_compute_instance resource, I have a metadata block with startup script defined instead of the **metadata_startup_script** argument because I do not want the VM to get recreated when it changes.
ie
[code]

This works fine for me on 1.4.0 but both 1.5.0 and 1.60, it keeps on thinking that I have **metadata_startup_script** set when I run terraform plan and tries to destroy it.
[code]

L

[2018-02-13 16:28] DayFan commented on #608
Hello, I think my problem similar to this issue.  I don't know what a exact steps needed to reproduce this problema and it does not always appear . But thats starts after I start trying to recovery disk from a snapshot on a Google cloud.

Im using:
Terraform v0.11.2
+ provider.google v1.6.0
+ provider.null v1.0.0
---
## Logs
[Small](https://gist.github.com/DayFan/15db9f5c0060144cf9c47fbf536b3e12)

[2018-02-13 19:01] ndmckinley commented on #1079
I agree that that's broken and that you've found the reason - we'll need a diff-suppress for diffs specifically adding something to metadata.startup-script and removing that exact thing from metadata_startup_script.  I'll look into it.

[2018-02-13 19:08] srivasta commented on #1044
I had started working with the stackdriver V3 API which was initially whitelist only. It has been published, so the work can be proceed now. I have a private branch that started working with it, but it is not yet complete. I should be able to get back to working on it next week (there is a work based exercise this week that is making availability sketchy)

[2018-02-13 20:49] #1075 closed

[2018-02-13 21:15] ndmckinley commented on #1079
Ah, bummer, I've misunderstood diff suppress.  :-1: I'll figure out another solution.

[2018-02-13 21:30] #1068 closed

[2018-02-13 22:48] ndmckinley commented on #1079
That PR will fix it going forward, but for your existing instances you'll need to either do state munging to get the state to reflect the config, or a full `terraform destroy` / `terraform apply`.  I can't figure a way around that, unfortunately.

[2018-02-14 04:37] jphalip opened #1082 "Feature request: Add the ability to retrieve a data source based on its self_link"
Most data sources require multiple parameters (most often the resource's name, project and region). In cases where one already has a resource's self_link, it'd be great if one could simply pass that as the unique parameter to retrieve the data source.

If you agree that this would be a good idea, I'd be happy to provide a patch.

[2018-02-14 07:28] ndmckinley commented on #1082
Sounds pretty reasonable to me!  You'll probably want to make sure to use `ConflictsWith` so that only one of `name` (or other identifier) and `self_link` can be used, but that's the only thing I can see being an issue.

[2018-02-14 12:11] Stono commented on #1029
@emilymye apologies for the delay, I've only just got round to testing this.
This is still broken in 1.6.  I added an authorized_network and all the other networks were deleted, and just the new one was added.

[2018-02-14 12:22] sami-alajrami opened #1083 "Terraform fails with 403 when creating a cloudsql instance with replica configuration."
### Terraform Version
Terraform v0.11.3
+ provider.google v1.6.0

### Affected Resource(s)
Please list the resources as a list, for example:
- google_sql_database_instance

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/sami-alajrami/37485fb4bca

[2018-02-14 17:23] dhague commented on #1067
I have the same requirement - currently hacking on the code for it, unless someone else has already started work on this?

[2018-02-14 18:14] ndmckinley commented on #1083
Thank you for the report!  We're on it.  This is a duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/1069.

[2018-02-14 18:14] #1083 closed

[2018-02-14 18:27] ndmckinley commented on #1069
Confirmed the report in the other issue that removing `master_instance_name` makes the request succeed.

[2018-02-14 18:35] ndmckinley commented on #1067
That's great!  Tag me in the PR and I'll expedite the review.

[2018-02-14 20:26] ndmckinley commented on #580
I think the correct approach from our perspective is to use a provisioner for this.  This is what I did, and it seemed to work (although the mixing of gcloud and terraform makes me feel pretty :upside_down_face:, and it requires some environment configuration to make sure they're using the same credentials, which could be improved)

[code]

I don't think we're likely to attach this feature to the

[2018-02-14 21:44] ndmckinley commented on #1029
Interesting, our unit test for this update case goes "1 `master_authorized_netwroks_config` -> 0 -> different 1" which would not trip over this bug.  I'll investigate!

[2018-02-15 00:45] #580 closed

[2018-02-15 01:47] ndmckinley commented on #1029
I've got a consistent repro - I'll keep at it.

[2018-02-15 06:15] paddycarver commented on #925
Apologies for the delay on this. Let me see if I'm following correctly, and then I can try to propose some solutions.

* You've got a single `google_compute_backend_service` that has N `backend` blocks, where N is any arbitrary number greater than 1.
* This is in a module or some other parameterized form that makes it suitable for reuse across environments.
* I'm unsure about this bit, clarificati

[2018-02-15 11:08] rolandkool opened #1089 "Creating a storage bucket require Compute API"
Hi,

With the latest terraform google provider version (1.6.0) it is required to enable the Compute API in order to create a bucket. This doesn't seem right.
With version 1.5.0 or older, this is not needed.

### Terraform Version
terraform 0.11.3
terraform-google-provider 1.6.0

### Affected Resource(s)
- google_storage_bucket

### Terraform Configuration Files
[code]
A service account with only b

[2018-02-15 17:20] hashibot[bot] opened #1090 "Import of compute.disk fail on Google cloud provider"
_This issue was originally opened by @stekole as hashicorp/terraform#17357. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

Just have a regular disk attached to a compute instance - however the size

[2018-02-15 22:04] zandersmith-wp commented on #1069
Does this mean that you are unable to create a replica then? How would you create a replica without the master_instance_name?

[2018-02-15 22:33] ndmckinley commented on #1069
Seems so. I'm still trying to figure that out.

[2018-02-16 04:13] ndmckinley commented on #1089
That's correct - this is necessary to make imports workable.

https://github.com/terraform-providers/terraform-provider-google/commit/7b54aa854028843471fd68d67452a01ee2af4f4e#diff-b93d962cfcd3c90fba7b47c0240bd1fc

Does it cause you substantial problems?

[2018-02-16 04:14] #1079 closed

[2018-02-16 11:40] dhague commented on #1067
Almost done with this - in case anyone is desperate for it, the code [here](https://github.com/dhague/terraform-provider-google/commit/9af59a1d0f95dcb7c4034bc147d25d7b18f50b43) works, I just need to tweak the tests to pass (so caveat emptor!). I'm on vacation for a long weekend, so I expect to finish this on Tuesday.

[2018-02-16 11:42] thomasjungblut commented on #1067
I can also pick this up if there's anything urgent, synced with Darren yesterday on what's missing.

[2018-02-16 11:48] wmuizelaar commented on #1089
Well, if we for example have a project with only storage-buckets, the Compute Engine API is not needed to be enabled. But with this change, we need to enable it. Which also automatically creates networking, firewall-rules, etc, etc. Which feels like a total overkill for just being able to manage buckets.

So, it's not a substantial problem, but it feels a bit weird to need it suddenly.

Is the imp

[2018-02-16 18:43] amoiseiev commented on #761
@stchris I believe it was covered here: https://github.com/terraform-providers/terraform-provider-google/issues/971

Sorry for filing a duplicate, didn't notice it at first

[2018-02-16 18:50] jplouis opened #1096 "Can't set public read on storage buckets"
### Terraform Version
Terraform v0.11.3
+ provider.google v1.6.0
+ provider.null v1.0.0

### Affected Resource(s)
Please list the resources as a list, for example:
- google_storage_bucket_acl

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/jplouis/068ebd7132ab5a3bbf46c3368ad2a7bb

### Expected Behavior
READER role set for all users

### Actual Behavior
The apply

[2018-02-16 19:01] ndmckinley commented on #1089
The API calls to get the project name from a bucket are in Compute, for some reason.  It's unfortunate - but without the Compute API calls, we can only import buckets in the provider default project.  Agreed that it's a bit weird to need it suddenly, but if it helps at all, in reality you needed it all along and we were skipping it by mistake.  :)

If it's a sizable issue for you, like enabling Co

[2018-02-16 19:37] rosbo commented on #761
Fixed in #1033

[2018-02-16 19:37] #761 closed

[2018-02-16 22:56] ndmckinley commented on #1069
Got it!  `master_instance_name` must refer to an instance that already exists.

This 403 error is the (somewhat opaque) way that GCP has of telling us "There's no such master".  It's possible a 400 would have been more appropriate, but I *suspect* (just speculating here) that the intention goes along the lines of "You don't have permission to create an instance with that instance as its master, be

[2018-02-16 22:56] #1069 closed

[2018-02-16 23:54] ndmckinley commented on #1090
Trying to reproduce.

[2018-02-17 00:05] ndmckinley commented on #1090
I'm having trouble following your repro steps - could you please be a little more specific?  I'm making educated guesses, but haven't been able to reproduce yet.  Ideally, post the portion of your config that includes both the instance and the disk, and specify what actions you take in the console?

[2018-02-17 00:08] ndmckinley commented on #1048
Can you post the output of `terraform plan`?  If it's trying to destroy and recreate the disk, that would explain it - you'd need to shut down the instance first.  That kind of cross-resource update dependency can't be modeled by Terraform, to the best of my knowledge.

[2018-02-17 00:17] ndmckinley commented on #1046
Hi!  Thanks for reporting this issue.

It would be helpful if you could post a repro config - it sounds like the order of destruction is the problem, and I suspect we can fix that by making disks ignore detach errors if they're already detached.  It might be easier to tweak the config, though.  Even if it isn't, a repro config will help me verify that I have fixed the problem.

[2018-02-17 00:25] ndmckinley commented on #1096
Hi, thanks for filing this issue!

I notice that you're calling `defacl` instead of `acl`, but I think you're setting regular ACLs.  I wonder if there's something there.  When I try to reproduce, my bucket does in fact end up with allUsers as READER.  Can you post the output of `gsutil acl get gs://cse-dev-194416-jp-test`?

[2018-02-17 00:27] ndmckinley commented on #1096
Ah, yes, it does seem that that's what's happening from your debug log:

[code]

The bucket ACLs are set as you requested, but the default object ACL is not changed.

[2018-02-17 00:28] ndmckinley commented on #1096
Aha, got it - you'll want
[code]

If that doesn't help, please reopen the issue!

[2018-02-17 00:28] #1096 closed

[2018-02-17 06:44] jplouis commented on #1096
Thank you, that did work. Turns out this is what I wanted to do and works as well.
[code]

[2018-02-17 10:57] waldiTM commented on #925
I have
* one module that creates a `google_compute_instance_group` ([implementation](https://gitlab.com/waldi/debian-mirror-cloud-terraform/blob/master/gce/archive/backend/instances.tf)) per zone,
* a parent module that references all the groups into one `google_compute_backend_service` ([implementation](https://gitlab.com/waldi/debian-mirror-cloud-terraform/blob/master/gce/archive/backend/instanc

[2018-02-18 16:08] waldiTM opened #1099 "google_compute_disk: Support short names for snapshots in other projects"
### Terraform Version
[code]

### Affected Resource(s)
- google_compute_disk

### Terraform Configuration Files
[code]

### Feature request
Google Cloud compute support creating disks from snapshots in other projects ([API doku](https://cloud.google.com/compute/docs/reference/rest/v1/disks/insert), see part about `resource.sourceSnapshot`).

Please support some short form for such an snapshots lik

[2018-02-19 12:25] matti commented on #1046
@ndmckinley here you go: https://github.com/matti/repro-terraform-provider-google-issue-1046

you need to apply twice - each time with different "trigger"

[2018-02-19 14:20] hashibot[bot] opened #1100 "Terraform Dataproc pyspark driver args"
_This issue was originally opened by @AngshumanGhosh as hashicorp/terraform#17353. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi,

I faced this issue while submitting pyspark jobs on google Dataproc clusters. The job gets created without the args. Here's my j

[2018-02-19 16:28] chiefy opened #1101 "Cannot re-create previously destroyed projects"
### Terraform Version

[code]

### Terraform Configuration Files

https://github.com/chiefy/tf-gcp-mediawiki

### Debug Output
https://gist.github.com/chiefy/fd205a65c8727dbde3de29c915ed849d

### Crash Output
n/a

### Expected Behavior
A previously deleted project is re-created

### Actual Behavior

### Steps to Reproduce
[code]

### Additional Context
This occurred after TF had already created/de

[2018-02-19 17:04] vaijab commented on #925
Just to add some noise to this issue. I have exact same problem.

[2018-02-19 22:13] amoiseiev opened #1103 "Add project info data source"
We need to expose project number and project name information to terraform.

This information is exposed via CRM: https://cloudresourcemanager.googleapis.com/v1/projects

[2018-02-19 22:17] amoiseiev opened #1104 "Add default GCE account data source"
For IAM related purposes, we need to expose default GCE account as a data source.

[2018-02-19 22:20] amoiseiev opened #1105 "Add GCS project account data source"
Expose GCS project service account as data source

[2018-02-20 07:11] paddycarver commented on #925
I'm looking through your linked repo (both implementation links lead to the same file, which doesn't use `module`) and notice you have `count` set conditionally on the instance group. So it seems you already have a way to avoid creating the instance group? I feel like I'm missing a key part of the problem statement.

From what I understand:

* You want to create a `google_compute_instance_group` p

[2018-02-20 09:56] waldiTM commented on #925
If you take a look into the documentation of [`google_backend_service`](https://www.terraform.io/docs/providers/google/r/compute_backend_service.html) (code works also), you'll see that the backend group link is required. I can drop the `google_compute_instance_group` objects, but I can't remove the reference to it in the backend service.

[2018-02-20 10:11] paddycarver commented on #925
OK, so I think I'm following here. For future-me (or others trying to understand the problem):

* There's no problem with setting `count = 0` on `google_compute_instance_group`
* The module returns the `self_link` of the `google_compute_instance_group` (using splat, I assume, to return an empty list when none is created, instead of an error?)
* `google_backend_service`'s `backend` block is optiona

[2018-02-20 10:27] paddycarver commented on #927
I think the prevalent recommendation among the Terraform team is to store your state in [remote backends](https://www.terraform.io/docs/backends), which can then be encrypted. GCS' remote state backend, for example, is encrypted at rest, and access to it can be granted using GCP credentials. You can even supply a Customer Supplied Encryption Key to encrypt the state with your own key. My understan

[2018-02-20 11:26] ofpiyush commented on #927
Adding lessons we learnt about GCP. Using GCS buckets are a little weird at this moment.

One gets read access to storage buckets even if they are a `viewer` on that project or have any permission related to `storage`, irrespective of bucket's own permissions.

This means a new project needs to be made just to manage this state.

[2018-02-20 12:44] matti opened #1107 "google_compute_forwarding_rule ip_protocol should be case insensitive"
When you have a resource with `ip_protocol` with lowercase value `tcp` like this:
[code]

The resource will create, but next applys will re-create the resource because the "tcp" gets uppercased in the API.

[2018-02-20 14:38] migibert opened #1108 "Updating tags leads to instance restart"
Hi there,

Since we updated provider to v1.6.0, we observe that managing tags with terraform has unexpected behavior.
Changing a tag now leads to an error (although the tags are correctly added / removed), asking us to set allow_stopping_for_update to true. When we set this flag, changing tags lead to restart our instances.
If we force google provider version to 1.5.0, everything works as expected

[2018-02-20 15:30] matti opened #1109 "google_compute_target_pool.instances should be a set"
`data.google_compute_instance_group.group.instances` return URLs that are accepted by the `google_compute_target_pool` (docs: "They can be given as URLs, or in the form of "zone/name".) but once applied, the URLs will always cause resource to be modified because apparently `zone/name` is really expected.

[2018-02-20 18:41] ndmckinley commented on #1046
Thanks!

[2018-02-20 18:52] nodesocket commented on #1048
@ndmckinley should Terraform just destroy the disk and recreate it from the new snapshot?

[2018-02-20 19:59] colin92 commented on #1101
To my knowledge, this is because of the way project deletion in GCP works. The `project_id` namespace is global in GCP and it takes 30 days for projects to be actually *deleted* (until then they are just pending deletion) and for the `project_id` to be available again. You can get around this by using the random provider to add a random element to a project ID so that it unique every time it is de

[2018-02-20 21:20] chiefy commented on #1101
@colin92 I have limited GCP experience, but I believe you are correct. I think maybe the solution to this is to check if the project-id is in "pending deletion" state and throwing a message to the user? I know it left me very confused.

[2018-02-20 23:02] zandersmith-wp commented on #1069
@ndmckinley you don't have
`replica_configuration {
    failover_target = "true"
 }
}
`
on the replica. Does this work for that case as well? I'm still seeing a 400 with the replica_configuration set.

[2018-02-20 23:14] ndmckinley commented on #1069
@zandersmith-wp Is that a 400, or a 403?  I was working with the 403 here and haven't tried it with `failover_target`.  Let's check the API to see how to craft that request.

[2018-02-20 23:18] ndmckinley commented on #1069
Here's what I see:

Is that how yours is configured?  In a different zone, and after the master is created?

[2018-02-21 00:54] danawillow commented on #1109
Hey @matti, can you paste in the config you're using that's encountering this error? I just tried to reproduce it and didn't have any problems. Here's the config I used:

[code]

[2018-02-21 01:27] danawillow commented on #1043
Hey @meverone, I'm having a bit of trouble understanding what the issue you're having is. Are you getting an error message? Or is it that you expected the resource to have a certain property which isn't getting set? Or are you expecting the resource not to have a certain property but it is being set? Or something else?

[2018-02-21 08:51] matti commented on #1109
Made a repro here: https://github.com/matti/repro-terraform-provider-google-issue-1109

[2018-02-21 09:33] matti opened #1112 "google_compute_backend_service to have backends from list setter"
Currently it's not possible to have a dynamic number of backends because the backends need to be given as blocks:

[code]

Something like
[code]
would be great

[2018-02-21 17:41] mrparkers opened #1116 "Resource google_container_cluster always enables legacy authorization"
I'm not sure if this would be classified as a bug, but I was advised by @paddycarver to report it.

According to the GKE docs, GKE clusters with a version of 1.8 or higher will have legacy authorization disabled by default.  [Reference](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control#prerequisites_for_using_role-based_access_control):

However, it looks like this r

[2018-02-21 18:22] uschen commented on #680
Is this on the road map?

[2018-02-21 21:33] danawillow commented on #1108
All right, as far as I can tell this is caused by an issue in Terraform core. Filed https://github.com/hashicorp/terraform/issues/17411, let's hope it's an easy fix :)

[2018-02-22 00:31] apearsall opened #1117 "google_compute_network routing mode - unknown key"
Howdy Y'all!

Attempting to build some custom VPC networks for a test environment using Terraform, and running into a bit of a snag trying to specify the "GLOBAL" routing mode per [the documentation.](https://www.terraform.io/docs/providers/google/r/compute_network.html)

### Terraform Version
[code]

### Affected Resource(s)
- google_compute_network

### Terraform Configuration Files
[code]

###

[2018-02-22 00:39] danawillow commented on #1117
Hey @apearsall! `routing_mode` was added in version 1.5.0, and it looks like you're running 1.4.0. You'll want to upgrade your provider: https://www.terraform.io/docs/configuration/providers.html#provider-versions. Give that a try and let me know if it helps!

[2018-02-22 01:13] danawillow commented on #1052
Hey @matti, I'd need to see your config to know what's going on. Mind sharing it?

[2018-02-22 05:20] apearsall commented on #1117
Well, that is rather embarrassing!  Specified version 1.5.0 or greater, and all is right with the world now.  Thanks for the quick help @danawillow!!

[2018-02-22 05:20] #1117 closed

[2018-02-22 06:15] seanmalloy commented on #51
@danawillow this would be a very nice feature to have. I sent you brief email with some additional details.

[2018-02-22 10:23] matti commented on #1052
Sorry, can't really share any config that would be of any help: This only triggers when you get the "The zone 'projects/my-project/zones/europe-west3-a' does not have enough resources available to fulfill the request.  Try a different zone, or try again later." so it's also hard to run without running in a loop for days or so. I've seen this twice during the last two weeks and I've been running te

[2018-02-22 10:28] meverone commented on #1043
Hey,
I would like to have the ability to set port for backends e.g.
[code]

[2018-02-22 10:29] matti opened #1123 "Support for target_pools in google_compute_instance_group"
In regional instance group manager there is an option to automatically add instances to target pools https://www.terraform.io/docs/providers/google/r/compute_region_instance_group_manager.html#target_pools

If zonal instance group manager (https://www.terraform.io/docs/providers/google/r/compute_instance_group_manager.html) would support this also then hacks like the one failing in https://github.

[2018-02-22 10:30] matti commented on #1109
Opened #1123 that would make the approach I'm using here unnecessary

[2018-02-22 17:21] danawillow commented on #1052
Sure, but in order to help debug the issue, I need to know what your .tf file looks like, what the output of terraform plan looks like, etc. Right now it doesn't look like anything google-specific: that error looks to be because you're trying to access a disk that doesn't exist (maybe you're supposed to have the same number of instance templates and disks and after the first apply you don't?) Othe

[2018-02-22 17:23] danawillow commented on #1043
Hey @meverone, `port` isn't a property of a backend though, it's a property of the backend service as a whole: https://cloud.google.com/compute/docs/reference/rest/v1/backendServices

[2018-02-22 17:27] #1107 closed

[2018-02-22 17:31] danawillow commented on #51
@paddycarver looks like this is assigned to you. Have you started thinking about this? Also @ishashchuk it looks like you might be doing some work around this. If you are could you claim the issue here so we don't end up duplicating work? Thanks!

[2018-02-22 17:40] meverone commented on #1043
But from what I checked, there is no possibility to set `port` in BackendService.
Only `named_port` is created somehow, but after that, I have to set manually the port for BackendService.

[2018-02-22 17:42] danawillow commented on #1043
I see. What's preventing you from using `port_name`?

[2018-02-22 17:43] rolandkool commented on #1089
@ndmckinley thanks for your feedback.
For us, it works so far without Compute API, even the importing. Our setup is such that we only manage resources within one project with one terraform run, so managing buckets in different clouds from one terraform is not something we do. I understand that this is the use case for having the Compute API enabled?

Buckets themselves don't require Compute API ei

[2018-02-22 17:48] ndmckinley commented on #1089
Got it. I'll take a look, then, and try to keep that API call out of `Read`.

[2018-02-22 17:59] meverone commented on #1043
In this case, I would have to modify `google_compute_instance_group` (in my case, I have to "dynamically" generate terraform file) but I wanted to avoid this.
or might be there is another way to set port?

[2018-02-22 18:25] paddycarver commented on #51
I've investigated this and it's on my short list. I'll either have an update on 3/1 or will unassign myself from the issue at that time to free it up for someone else to nab. Sorry for the slowness on my end. :(

[2018-02-22 18:46] lawrenae opened #1124 "specifying project for google_pubsub_topic_iam_policy"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- google_pubsub_topic_iam_policy

### Terraform Configuration Files
[code]

### Expected Behavior
that `google_pubsub_topic_iam_policy` supports a `project` attribute, but doesnt:
[code]

### Actual Behavior
[code]

So far so good, but when I go to apply:
[code]

### Steps to Reproduce
1. `terr

[2018-02-22 20:02] toppur commented on #1045
+1

[2018-02-22 20:36] gkohen commented on #936
+1

[2018-02-22 23:25] danawillow commented on #1123
I'm seeing https://www.terraform.io/docs/providers/google/r/compute_instance_group_manager.html#target_pools. Is that what you're looking for or something different?

[2018-02-22 23:31] #1089 closed

[2018-02-23 03:02] ishashchuk commented on #51
@danawillow  I already have something working for instance group manager and am planning to create a PR shortly. Once I get some feedback around my approach, my plan is to implement it for regional instance group manager in a separate request.

[2018-02-23 10:17] rolandkool commented on #1089
Thanks for the change!

[2018-02-23 12:06] DeWaRs commented on #517
@danawillow may I ask why you close this issue? Did you find a way to attach multiple disk to one single instance on GCP? Thanks for your feedback

[2018-02-23 14:31] mrparkers commented on #1116
Hi @danawillow, thanks for the response.  I think it would probably make sense to have legacy authorization default to false going forward, since GKE defaults to using a version higher than 1.8, which would normally have this disabled when creating it using the GCP console.

I will submit a PR for this and a change to the docs some time this weekend.

Thanks!

[2018-02-23 15:19] migibert commented on #1108
Oh thank you for analysis and bug report, I did not think that could be related to terraform core! I'll keep an eye on this issue!

[2018-02-23 18:31] danawillow commented on #1108
No worries, I definitely wouldn't have expected that either :)

[2018-02-23 18:38] danawillow commented on #517
Hey @DeWaRs, I closed the issue because it doesn't relate to the Google provider at all- the feature request is to be able to support counts inside a block, which isn't currently a part of Terraform. If that becomes something that Terraform supports as a whole, then the Google provider will get it automatically. I think https://github.com/hashicorp/terraform/issues/7034 is the right issue to be fo

[2018-02-23 21:42] fromz opened #1127 "google_container_cluster crash"
Hi there,

Plugin is crashing when attempting to make a kubernetes cluster in version 1.6, 1.5, 1.4, 1.3. The cluster is actually created within GCP, however the plugin crashes before saving the state.

### Terraform Version
$ terraform -v
Terraform v0.11.3
+ provider.google v1.6.0

### Affected Resource(s)
Please list the resources as a list, for example:
- google_container_cluster

### Terraform

[2018-02-23 21:49] a13x212 commented on #829
Any updates on this issue? This has become a blocker to use terraform within our organization.

[2018-02-24 00:55] #1067 closed

[2018-02-24 09:06] geekflyer commented on #773
here's a small enhancement to @mattdodge 's workaround:
When using the `node_pool` config in `google_container_cluster` one can actually initialize the cluster with an empty node pool (it still creates a node pool, but the node pool itself has 0 nodes).
This makes deletion of the default node-pool a bit faster. No intermediate VM is created, just the useless empty node pool.

To do so, instead of:

[2018-02-24 09:07] Stono commented on #773
The problem with this approach is then changing parameters of the node pool
which are updatable results in a complete cluster rebuild.

Or at least it did last time I tried

On 24 Feb 2018 9:06 am, "Christian Theilemann" <notifications@github.com>
wrote:

[2018-02-24 09:11] geekflyer commented on #773
@Stono

Well you don't wanna update that inline node_pool config, but you can just delete it.
In my case when I delete the node_pool config after the initial deployment, terraform actually doesn't detect any changes and just ignores it:

[code]

[2018-02-24 22:11] fromz commented on #1127
So I've narrowed it down in code:

In google/resource_container_node_pool.go flattenNodePool() there is a range over np.InstanceGroupUrls. The URL in my case is similar to:
`https://www.googleapis.com/compute/v1/projects/xxx:yyy/zones/australia-southeast1-a/instanceGroupManagers/gke-cluster-1-default-pool-xxxxx-grp`

That URL is then passed to:
`matches := instanceGroupManagerURL.FindStringSubmatc

[2018-02-24 22:36] fromz commented on #1127
Okay, I get it. The xxx in the xxx:yyy I was providing for my project wasn't needed. Case closed, hah. Sorry :)

[2018-02-24 22:40] #1127 closed

[2018-02-25 04:03] gwoo commented on #1079
`terraform state rm ADDRESS...` worked for me.

[2018-02-26 06:04] beenanner commented on #763
@danawillow I actually just had this happen to me today. I'm unable to run any terraform commands plan, apply or destroy against the resource.
[code]

[code]

[code]

[code]

[2018-02-26 09:08] matti commented on #1123
Huh - okay I missed that. Thanks!

[2018-02-26 09:08] #1123 closed

[2018-02-26 09:09] matti commented on #1109
^-- #1123 is closed, but the bug still triggers with my example

[2018-02-26 09:12] matti commented on #1052
Umm, yes the latter error is not google-specific, but if you have a look at the first error that comes from the Google API:

[code]

This is what makes the disk not exist in the next apply - so in the event when the google cloud runs out of disks (!) then the state for `google_compute_disk` is stored as it would exist.

[2018-02-26 09:13] matti commented on #1072
(fixed in there)

[2018-02-26 09:14] matti commented on #982
(fixed in  hashicorp/terraform#17282)

[2018-02-26 14:20] lawrenae opened #1128 "add a google_organization_iam_policy resource"
Hi,

I need the ability add multiple roles to a group at the organization level.

## Actual
[code]

## Expected
[code]

I can do this at a project level like so:

[code]
(from https://www.terraform.io/docs/providers/google/r/google_project_iam_policy.html)

and so would like the same at the organization level.

Am I missing it somewhere? Thanks in advance!

[2018-02-26 15:23] beenanner commented on #763
@danawillow is there any temporary workaround. If I go into the console and manually delete the instances would terraform be able to resolve this issue by looking at the current state of the instances as not existing? I just don't want to cause a irreversible mess that would force me to tear down my entire infrastructure if not necessary. :-p

[2018-02-26 17:02] danawillow commented on #763
Hey @beenanner mind posting your full config (or at least just the relevant part), plan output, and debug logs? Is this something that happens on create, on update, or both?

And yes, if you delete the instances Terraform will recognize that they don't exist and remove them from state.

[2018-02-26 17:21] danawillow commented on #1043
The `google_compute_instance_group` resource only supports named ports, so every port that's in there has a name associated with it that you could use for the `port_name` field.

[2018-02-26 19:13] #1052 closed

[2018-02-27 04:56] saturnism opened #1131 "add ability to wait for operation completion"
### Affected Resource(s)
Please list the resources as a list, for example:
- all

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Expected Behavior
What should have happened? Rather than wait for unknown number of seconds (which is flaky), provide option to wait for operation comple

[2018-02-27 16:00] beenanner commented on #763
Sure thing @danawillow.

Here is my worker.tf file.

[code]
Output from  `terraform plan -target google_compute_instance.worker[0]`
[code]

Debug output of the above

[code]

[2018-02-27 16:43] kylegoch opened #1132 "Resource `google_container_engine` Enforcing Un-necessary Check"
The `google_container_cluster` resource is enforcing an unnecessary check to make sure the CIDR is valid for `cluster_ipv4_cidr` https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_container_cluster.go#L141 however the API actually accepts values other than CIDRs (https://github.com/terraform-providers/terraform-provider-google/blob/master/vendor/google.gol

[2018-02-27 19:27] kylegoch opened #1134 "Overly Restrictive Regex for Service Accounts"
This regex validates Service Account Ids:
https://github.com/terraform-providers/terraform-provider-google/blob/master/google/validation.go#L33

However, I have a service account that TF created that fails that check. But the SA is in my project, and referenced just fine when i do `terraform plan`, but when the `apply` happens for `google_service_account_iam_policy` the regex freaks out saying it'

[2018-02-27 20:55] ndmckinley commented on #1134
It can't be discarded, but it can be made to accommodate whatever it's missing.  Still, to make that change, we're going to need something to go on - can you give us a fictional service account name that doesn't reveal sensitive information while still causing the regex to fail?

[2018-02-27 20:58] kylegoch commented on #1134
Why cant you discard it, and let the API handle the failure?

As it stands right now, Terraform is actually saying that something coming from Google Cloud itself is invalid. Which doesn't make a lot of sense, unless I have missed something.

[2018-02-27 21:08] ndmckinley commented on #1134
It can be very bad for some users to discover failures partway through the infrastructure creation process.  Say you're creating a large infrastructure system, and you go to change a service account name, and you make a typo which you don't notice.  You `terraform apply`, and destroy a bunch of infrastructure, then the API returns an error because of your bad service account name, and you spend a

[2018-02-27 21:10] kylegoch commented on #1134
Fair enough. Let me see if I can make something that still acts weird but doesnt reveal anything.

[2018-02-27 21:46] danawillow commented on #1131
So my opinion here is that the resource should always wait for completion, rather than making it a separate option. This is already how we handle resources with proper asynchronous APIs (they return an Operation, and we poll until the Operation says complete). The issue here is that the ResourceManager/IAM API doesn't work that way- it just returns the newly created Policy, even if that change has

[2018-02-27 22:29] #1108 closed

[2018-02-27 22:48] danawillow commented on #1109
Ah ok, I see what's happening. The "zone/name" is completely a red herring here. The actual issue is that the order of the instances within the target pool changed. See this part here:
[code]
Your config has them in the order "1, 2, 3", but the API is returning them in the order "2, 3, 1", causing the diff. We should probably make that field into a set since the order doesn't matter.

I'm going to

[2018-02-28 02:06] beenanner commented on #763
@danawillow let me know if there is anything I can help with.

[2018-02-28 09:20] hashibot[bot] opened #1135 "Multiple terraform apply timeouts provisioning Google Cloud Kubernetes engine clusters"
_This issue was originally opened by @hamshif as hashicorp/terraform#17459. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
 terraform -v
Terraform v0.11.3
+ provider.google v1.6.0

### Affected Resource(s)
- google_container_node_pool
- goog

[2018-02-28 09:34] allistera opened #1136 "google_container_cluster crash"
Hi there,

Getting a terraform crash when attempting to create a Kubernetes container cluster using the standard example.

Details under.

Thanks

### Terraform Version

Terraform v0.11.3
+ provider.google v1.6.0

### Affected Resource(s)

google_container_cluster

### Terraform Configuration Files

Using example from https://www.terraform.io/docs/providers/google/r/container_cluster.html

[code]

[2018-02-28 10:53] matti commented on #1109
oh, right. makes sense now!

[2018-02-28 15:17] justinholmes commented on #1039
I've started work on this, currently it creates a build trigger.

[2018-02-28 16:06] justinholmes commented on #1039
Delete and updating working as well.

[2018-02-28 16:37] justinholmes commented on #1039
Initial version https://gist.github.com/justinholmes/af62356ebd485e4b63e1e3153baef392

[2018-02-28 16:41] justinholmes commented on #1039
Will sort out a PR once unit tests are done.

[2018-02-28 19:14] madamkiwi opened #1138 "Terraform fails to delete default root cloudsql user"
### Terraform Version
terraform 0.11.3
provider 1.6.0

### Affected Resource(s)
Please list the resources as a list, for example:
- google_sql_database_instance

### Terraform Configuration Files

https://gist.github.com/madamkiwi/e0aa06d6b4479cdaf8b1cbbcb4eeeb83#file-cloud-sql-tf

### Debug Output
google cloud api logs: https://gist.github.com/madamkiwi/e0aa06d6b4479cdaf8b1cbbcb4eeeb83#file-googl

[2018-02-28 23:40] danawillow commented on #1135
Hey @hamshif, thanks for the report. Is this the same issue that you reported in #1013 or a different one? I noticed in that one you said you solved it by using an account with more permissions.

[2018-02-28 23:50] Farhie commented on #936
I would like to see support for this. I see this is labelled as an enhancement. @rosbo is this an enhancement? Enabling data access logs for all services is important for my current team and would argue it is likely a high priority for others.

https://cloud.google.com/logging/docs/audit/configure-data-access

[2018-03-01 04:32] paddycarver commented on #1131
(I've solved this in other providers by polling until I get N results back that match what I expect, or a timeout occurs.)

[2018-03-01 04:36] paddycarver commented on #1109
As this is a list -> set change, I'm going to flag it as a potentially backwards incompatible change (which means it may need to be held for the next major release), but will evaluate the solution to see if we can get it in in a minor or patch release.

[2018-03-01 04:42] paddycarver commented on #1048
Unfortunately, I don't know that even that would be allowed--from my understanding, a boot disk, once attached to a resource, cannot be unattached or deleted until the instance is deleted or stopped.

[2018-03-01 04:44] paddycarver commented on #1046
Is this potentially related to #54?

[2018-03-01 04:58] paddycarver commented on #927
Hm, I wonder if that is changing with the new custom roles. I also bet the Google Cloud Storage team would love to hear about it (you can open an issue against GCS here: https://issuetracker.google.com)

I think my vote at the moment, however, is to hold off on making this more complex, but I'll check with some of the other provider developers and see what other people are doing in this kind of si

[2018-03-01 05:00] paddycarver commented on #922
It looks like the PR for this was merged, so I'm going to close the issue. Thanks for contributing to the provider!

[2018-03-01 05:00] #922 closed

[2018-03-01 05:03] paddycarver commented on #910
I think my concern would be that allowing for inline definitions of the simple case inevitably will lead to bug reports where people want to define nested schemas in HCL.

[2018-03-01 05:09] paddycarver commented on #892
I left the comment being referenced there, but I believe it's for a different scenario. That comment specifically refers to the case where a predefined ACL is used (e.g., `publicRead`) which the API translates into a set of ACLs on the backend. Terraform can't match those anymore. It looks like in this case full ACLs are being used, in the `OWNER:user-WHATEVER` format, which Terraform _should_ be

[2018-03-01 05:12] paddycarver commented on #892
Ah, https://github.com/terraform-providers/terraform-provider-google/commit/72114636da48ac38a51e9bcee50e1bb453535c62#diff-3fea3b74d283e6b124ef3009fc921ec3 has more information, too.

I believe a possible workaround would be to add `OWNER:project-owners-PROJECTNUMBER`, `OWNER:project-editors-PROJECTNUMBER`, and `READER:project-viewers-PROJECTNUMBER` to your config, which should cause the issue to g

[2018-03-01 05:27] paddycarver commented on #647
This hasn't gotten a response for some time, so I'm going to close it out. If someone runs into this issue, feel free to open a new issue!

[2018-03-01 05:27] #647 closed

[2018-03-01 05:29] paddycarver commented on #583
This looks like it was merged as part of #630, so I'm going to close it out.

[2018-03-01 05:29] #583 closed

[2018-03-01 08:27] dasch commented on #910
Sure, that's probably inevitable – but my guess would be that most TF resources are less powerful than tooling specific to the provider. It's not reasonable to expect TF to be able to handle every single nuance, and since there's a fallback that offers the functionality I think it's fine.

I think TF is all about a unified, great user experience. Currently, my `plan` output is just a long line of

[2018-03-01 08:54] ofpiyush commented on #927
They already know of it. [Documentation](https://cloud.google.com/storage/docs/access-control/iam?hl=en_US&_ga=2.126149389.-1400000011.1501215668)

I don't see a way to say "Give `viewer` minus `storage object viewer` access"

[2018-03-01 13:46] stefanthorpe commented on #674
If we're adding uptime checks is it easy enough to add support for alert policies?

[2018-03-01 16:41] stxyzth opened #1140 "Add support for Interconnect VLAN attachments"
The ability to order an interconnect itself is not something I imagine can be run through terraform being that it involves physical hands on the other side of the request.

The process for assigning VLAN attachments with an already established interconnect is something that could possibly be automated through Terraform, along with setting up the Hybrid Connectivity/Interconner cloud routers

https

[2018-03-01 16:59] sennerholm commented on #1131
I hade the original problem wish @saturnism filled the bug for.

When I don't have the sleep I get permission errors when the testcase in the pod tries to connect to the datastore.
The full repo is: https://github.com/sennerholm/node-todo-backend/tree/master/terraform/todo-backend
and the terragrunt https://github.com/sennerholm/terraform-infrastructure-live

I don't know how the Policy is distrub

[2018-03-01 21:19] #1029 closed

[2018-03-01 21:25] ndmckinley commented on #1048
As it stands, I think `terraform apply` is giving you the correct error, because GCE does not allow this without taking down the instance.  You can work around this by making a destroy/create change to the instance, like changing the name, which will destroy and recreate in the right order.

[2018-03-01 21:34] amoiseiev commented on #51
@danawillow @paddycarver hey guys, we should have claimed this item earlier, it's on our high priority list, sorry for this. As @ishashchuk mentioned above, we're committed to get this implemented for main components of the rolling updates for IGMs and rIGMs. It won't include "canary updates" on its first iteration but should implement basic rolling updates that will cover, in our opinion, most us

[2018-03-01 21:42] paddycarver commented on #51
Cool! I'm going to unassign myself (sorry for the failure to communicate on my part!) just for clarity.

I'd be happy to review any PR you want to send our way, and am super grateful you're willing to take on the work and are open to feedback!

[2018-03-01 21:43] paddycarver commented on #51
Oops, I just saw #1137, I'll review that ASAP. Very excited for this!

[2018-03-01 22:05] nodesocket commented on #1048
Ok makes sense. I'll close this issue.

[2018-03-01 22:05] #1048 closed

[2018-03-02 01:09] danawillow commented on #1131
@paddycarver do you have an example that comes to mind? I can look around myself for one (or just try it myself) but if you have one handy that would certainly help :)

[2018-03-02 01:26] danawillow commented on #1135
I don't think your network is the problem- I think the timeout is occurring inside of GCP and then that error is getting propagated back down. Just for fun, can you try re-enabling the GKE api and see if that works or if you get a different error message?
`gcloud services enable container.googleapis.com`

[2018-03-02 01:58] danawillow commented on #1140
For reference, API is here: https://cloud.google.com/compute/docs/reference/rest/v1/interconnectAttachments.

I'm curious, I do see an interconnects API at https://cloud.google.com/compute/docs/reference/rest/v1/interconnects, which looks like it's for ordering an interconnect and then retrieving information about it. Would that be something useful to have too, or is that generally a process that

[2018-03-02 02:02] #1100 closed

[2018-03-02 04:13] stxyzth commented on #1140
@danawillow

The ordering process requires a manual action not possible for the terraform applicator to complete. A google engineer is required to physically drop fiber from their demarc to your equipment in a cloud-rack.

Testing does become an issue unless there is a sandbox available to developers to run their code to. The logic here for the interconnect is like the need to specify a project to

[2018-03-02 07:05] hamshif commented on #1135
I will tommorow and get back to you
I'm on weekend.

On Mar 2, 2018 03:26, "Dana Hoffman" <notifications@github.com> wrote:

[2018-03-02 15:57] ronan-mch opened #1144 "Terraform plan permits renaming BigQuery column"
I tried to rename a Google BigQuery column by altering the Terraform schema. `terraform plan` reported that the table would be changed (see below), but `terraform apply` led to an error from Google BigQuery. As it turns out, Google BigQuery [does not permit renaming columns](https://cloud.google.com/bigquery/docs/manually-changing-schemas) but perhaps this should be flagged by `terraform plan`?

#

[2018-03-02 18:53] Oralordos commented on #91
Bumping since it looks like this feature has hit beta now. This would be ideal for my workflow currently, especially with autoscaling down to 0 instances when there is nothing in the queue.

[2018-03-02 19:31] ndmckinley commented on #1138
I'll try to repro this.  Did you try this more than once, and did it happen every time?  Did both `terraform apply` tasks use the same project?

[2018-03-02 19:42] ndmckinley commented on #1138
Hm, your example config won't load, because:
[code]

I'm going to continue trying to reproduce, but could you provide some more details about what steps reproduce this error?

[2018-03-02 19:55] andyshinn opened #1146 "Replica Cloud SQL instances fail to be created"
I am running into this issue reliably. We are provisioning multiple replicas and a failover for a master database. At least one (usually more) of the replicas / failover fail to get created. They end up in a failed state in the GCP console and cannot be removed:

![image](https://user-images.githubusercontent.com/315485/36918908-fd1eb8b2-1e20-11e8-89fe-6b37c794055b.png)

It seems to be a timing is

[2018-03-02 20:03] ndmckinley commented on #1138
When I ran this config (modified so that `terraform apply` would run) I successfully got 2 instances with no trouble.  The trouble you had might have been a fluke, but please reopen if you have a consistent repro case or more details about the error.

[2018-03-02 20:07] ndmckinley commented on #1146
I've seen something like this before, yeah.  I think this will be a tricky one, I'll try to dig in.

[2018-03-02 20:08] morgante commented on #1131
This is potentially an issue with the policy API itself, as I sometimes have issues with permissions not propagating even when done through the Cloud Console.

[2018-03-02 20:09] ndmckinley commented on #1144
The easiest solution would be to make schema changes `ForceNew`, since almost all of them are.  But that seems like overkill... let's see if there's something simpler that can be done.

[2018-03-02 20:16] andyshinn commented on #1146
👍 Thanks for the quick response. Let me know if there is any ways I can assist.

[2018-03-02 22:29] ndmckinley commented on #1144
I'm not sure there is something simpler, and there's no API to check whether an update is possible.  Let's see what people think - is it better to get this error during `apply`, or is it better to have all schema changes be `ForceNew`?

[2018-03-02 23:07] paddycarver commented on #1131
@danawillow here's an example I wrote for the Vault provider, to ensure that the AWS access keys it returned are _probably_ done propagating before it returned them: https://github.com/terraform-providers/terraform-provider-vault/blob/d8921672d5e07aa78e4a6497478fafaa1b707537/vault/data_source_aws_access_credentials.go#L129-L169

[2018-03-02 23:35] kkallday commented on #1138
The issue was with running two `apply`s at the same time. I'll confirm this next week and touch base.

Thanks for your help!

[2018-03-02 23:41] ndmckinley commented on #1146
Thanks.  I've got a consistent minimal repro and I hope that'll help ... but it may take a little while.

[2018-03-03 00:05] ndmckinley commented on #1136
Hey there!

Sorry for your trouble ... but when I do the same thing from head, I get the outputs specified.  I see the same thing from v1.6.0.  My best guess is that the URL which came back didn't match the instance group manager URL for whatever reason, and we should report that error instead of crashing.

[2018-03-03 00:17] ndmckinley commented on #1146
Good news!  An internal bug is open and there are people who work on the Cloud SQL systems working on root-causing it.  :)  I'll tag this "upstream", and keep it updated.

[2018-03-03 00:51] ndmckinley commented on #1132
Hi, sorry, I see the documentation string:

[code]

Meaning that the only valid values are CIDRs or blank, right?

[2018-03-03 01:14] #1136 closed

[2018-03-03 12:01] allistera commented on #1136
Awesome thanks Nathan!

[2018-03-03 20:17] ronan-mch commented on #1144
As an end user I would prefer to get an error from `plan` or perhaps even a dialog saying "Hey, BigQuery doesn't permit this - do you want to remake the table (**you will lose all your data**)". The thing is that forcing recreation of the table is a big step and I don't think any user would want to do this without carefully planning and preparing for it first (you could for example create a new ta

[2018-03-04 10:21] dasch commented on #1144
I think the error only happens when removing a column, right? If so, the
plan stage could check the diff and see if that’s the case, returning an
error? I don’t think ForceNew is required, as some schema changes should
work.
On Sat, 3 Mar 2018 at 21.17, Ronan McHugh <notifications@github.com> wrote:

[2018-03-04 19:01] snowsky commented on #71
@rosbo yes, you are right. Here is the original discussion, https://github.com/hashicorp/terraform/issues/12859.

[2018-03-05 16:05] mrparkers commented on #974
Just chiming in here that I'm experiencing the same issue.  It's very strange, since I don't specify the project `usable-auth-library` anywhere, nor do I have ownership of that project.

For anyone else who runs into this, here is a temporary workaround:

[code]

[2018-03-05 18:13] rosbo commented on #71
I am not sure we want to check if the snapshot exists at every read since we only need the snapshot at create time. If the user change the snapshot name, we detect this and force a new instance to be created. However, if the snapshot is deleted, then the VMs running referencing that snapshot are still technically running in the expected state even though the snapshot doesn't exist anymore.

Also,

[2018-03-05 20:52] rosbo commented on #936
The `enhancement` tag simply means it will update existing resources. We use one of the three tags: `enhancement`, `new resource` or `new datasource`.

[2018-03-05 20:55] Farhie commented on #936
Ah, my misunderstanding. Thanks for clearing that up. I should RTFM more 😎

On 5 Mar 2018 12:52, "Vincent Roseberry" <notifications@github.com> wrote:

[2018-03-05 22:03] Farhie commented on #878
@rgardam Not that I can see without running `gcloud` commands which then leaves you configuring infra across two different tools. I am all ears for suggested work arounds in the meantime that don't lead to you granting project wide pubsub.subscriber permissions.

[2018-03-05 22:38] rosbo commented on #878
I will start working on this today.

[2018-03-05 23:31] #1124 closed

[2018-03-05 23:43] #1103 closed

[2018-03-05 23:46] Farhie commented on #878
@rosbo brilliant. Thanks for the swift response.

[2018-03-06 00:40] #863 closed

[2018-03-06 00:40] #862 closed

[2018-03-06 01:03] ndmckinley commented on #1144
I think you folks are probably right that ForceNew is a drastic step.  @dasch it's unfortunately not as simple as "removing a column" - there seem to be lots of kinds of changes that aren't supported, according to the BigQuery docs, and they aren't enumerated.  That is the one that people are most likely to hit, in my opinion ... it could be that solving that case is the right way to go.  I'll dis

[2018-03-06 01:34] lawrenae commented on #1124
awesome! Thanks! will check it out soon

[2018-03-06 02:00] smileprem commented on #60
Hi - Is there any progress on this?.  Do I still have to manually run this using glcloud CLI?

[2018-03-06 15:07] amoiseiev commented on #1140
I've been looking into this from our end. It's a gray area. Interconnect automation definitely fits into "everything is automated" scenario but has very limited use as this part of the infrastructure isn't fluid enough. It involves a procurement of physical hardware, wires etc. IMHO, building of automation for Google's side of it may add more entropy and potential failure cases than added benefits

[2018-03-06 17:52] #878 closed

[2018-03-06 17:54] pdecat commented on #878
Thanks @rosbo!

[2018-03-06 18:55] ndmckinley commented on #1090
Closing due to lack of response - reopen and ping me if you can post more detailed repro steps.

[2018-03-06 18:55] #1090 closed

[2018-03-06 21:54] Farhie opened #1157 "[Feature Request] Data source google_storage_bucket_object"
Hello,

Feature request for being able to get an object as a data source.

As part of our CloudFunction deployment we have a pipeline that syncs a CloudFunction zip to a Google Cloud Storage Bucket. We did consider making our Terraform pipeline a downstream dependency of the package step of our Cloud Functions. However, this proved to be clunky.

We would like to be able to get the object within t

[2018-03-07 15:03] jmerinen opened #1159 "TRACE output should print the REST POST request content"
With TF_LOG=TRACE, terraform does not log the contents of the REST POST command that is used to create a Kubernetes cluster.

Seeing the exact command that was used to create the cluster is important for investigating problems with the cluster.

### Terraform Version

[code]

### Affected Resource(s)
- google_container_cluster

Other resources are likely affected as well.

### Terraform Configurat