[2022-06-27 15:23] shuyama1 opened #11959 "Add test section in MM readme"
Add a section on how to add implement handwritten and mmv1 generated tests in dedicated readme page.
Mostly copy from the internal contribution guide page.

https://github.com/GoogleCloudPlatform/magic-modules/tree/main/mmv1/third_party/terraform#test
https://github.com/GoogleCloudPlatform/magic-modules/tree/main/mmv1#test

[2022-06-27 16:26] evgenii-rodionov-affise opened #11961 "Add a new network_tier type FIXED_STANDARD to google_compute_address resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-27 16:32] shuyama1 opened #11962 "Add handwritten resource section in MM handwritten readme"
Add a section in MM handwritten readme on how to **update** handwritten resources.
Instructions on **adding** new handwritten resources may not be a priority, since the current team policy strongly encourages adding new resources through one of the generated tools, mmv1 or DCL.

https://github.com/GoogleCloudPlatform/magic-modules/tree/main/mmv1/third_party/terraform#resource

[2022-06-27 16:38] shuyama1 opened #11963 "Add mmv1 generated resource section in MM mmv1 readme"
Add a section in MM generated readme on how to add and update generated resources.
We've already got a contribution guide section internally. So for this section, we could mostly copy the content from the internal page and add some additional information.

https://github.com/GoogleCloudPlatform/magic-modules/tree/main/mmv1#resource

[2022-06-27 17:20] jacob-a6 commented on #11555
@Tadzioss
[code]

I also got the error. I ran `git checkout -- google-beta/resource_compute_subnetwork.go` and `make build` succeeds (it no longer returns the "undefined: cidr" error).

[2022-06-27 17:35] rileykarson commented on #11919
Note: going optional -> required is likely a breaking change

[2022-06-27 17:39] rileykarson commented on #11935
Note: I haven't looked at the API yet, but this sounds like it may be a resource rather than a datasource

[2022-06-27 17:47] ace-n opened #11964 "Why does `google_compute_region_url_map` need multiple `default_service`s?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-27 19:56] julio-vaz commented on #11730
Hello, any update on this?

[2022-06-27 21:26] #11534 closed

[2022-06-27 21:26] #11664 closed

[2022-06-27 21:38] krishna4ldw commented on #11664
I see changes were merged but who will be updating documentation in terraform
https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/data_source_dataproc_metastore_service ?
Is this not by google ?
If i need terraform gcp resource details where can i get?

[2022-06-27 22:25] rileykarson commented on #11555
If you're running Magic Modules w/o `goimports` installed, I think this happens!

[2022-06-27 22:27] rileykarson commented on #11937
Does the Console fail with the same error? I'd be curious what it fails with, to help identify a Terraform issue vs an API issue.

[2022-06-28 06:16] asifhj opened #11969 "google_sql_database is getting deleted when deletion_protection=true"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-06-28 07:22] #11765 closed

[2022-06-28 09:08] cgrotz opened #11970 "Error on creating google_compute_region_network_endpoint_group with API Gateway backend"
When trying to create a serverless neg with an API gateway backend, I get the following error message:
[code]

### Terraform Version
Terraform v1.0.3
on linux_amd64
+ provider registry.terraform.io/hashicorp/google v4.27.0
+ provider registry.terraform.io/hashicorp/google-beta v4.27.0
+ provider registry.terraform.io/hashicorp/random v3.3.2

### Affected Resource(s)
* google_compute_region_network

[2022-06-28 10:45] oilegor1029 commented on #11937
This is a GCP Issue:
https://status.cloud.google.com/incidents/6ocKuGf4LTJTjaB84Ms4
I think that we can close this issue (or leave it open till GPC fixes it) @rileykarson

[2022-06-28 10:50] drandell opened #11971 "Cloud functions gen 2 - GCS trigger"
Hi,

The current documentation has an example for a pubsub topic and HTTP trigger but not one for GCS.
Does anyone have an example of a GCS trigger for cloud_functions2_function ?

Kind regards,
Dan

[2022-06-28 13:29] tejavar opened #11972 "Promote kms_key_name in compute region disk to GA from Beta"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-28 14:33] julio-vaz commented on #11730
Hello again guys, this should be working already since [4.25.0](https://github.com/hashicorp/terraform-provider-google/blob/main/CHANGELOG.md#4250-june-15-2022) or I misunderstood it?

Thanks in advance!

[2022-06-28 14:45] megan07 commented on #11664
Sorry for the confusion, @krishna4ldw, this was merged yesterday and will be available in the next release, docs will be updated then as well. Thanks!

[2022-06-28 16:44] k-ezis commented on #11937
Yes, this was an API issue that should now be resolved: https://status.cloud.google.com/incidents/6ocKuGf4LTJTjaB84Ms4
This was separate from our Terraform configuration and everyone should be able to delete functions as expected. Please let me know if you continue to see issues and I'll raise the issue with my team.

[2022-06-28 16:59] #11937 closed

[2022-06-28 17:35] rileykarson commented on #11969
There are two separate resources here, and I suspect the module you're using is only providing `deletion_protection` to one of the two. You can see in the snippet above that while `google_sql_database.default` is successfully destroyed,  destruction of `google_sql_database_instance.default` fails as expected.

Without debug logs or a repro config to show otherwise, this doesn't appear to be provid

[2022-06-28 17:38] rileykarson commented on #11970
This error is coming from the API, refers to a field not implemented at all in the provider, and one that's output only per https://cloud.google.com/compute/docs/reference/rest/beta/regionNetworkEndpointGroups. Is it possible the issue here is at the API level rather than in the provider?

[2022-06-28 18:04] #11605 closed

[2022-06-28 18:51] #11972 closed

[2022-06-28 20:13] ctavan commented on #11102
My observation was that there is a propagation delay between creation of the log-based metrics in the logging API and that metric becoming available in the monitoring API.

Terraform does not seem to have any visibility into this propagation, so the best workaround I could come up with was adding a [`time_sleep`](https://registry.terraform.io/providers/hashicorp/time/latest/docs/resources/sleep) p

[2022-06-28 20:14] ace-n opened #11977 "`google_cloud_scheduler_job` state is flaky"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-06-28 20:56] rileykarson opened #11978 "Have the Magician fail more clearly if one or both generator steps fail"
See https://github.com/GoogleCloudPlatform/magic-modules/pull/6179, where generation keeps going after tpgtools fails, and we won't produce a working provider. We should return a clear failure message, and point the author (for maintainers and Googlers) or reviewer (for external contributions) towards the Cloud Build log for details.

[2022-06-29 03:45] edwardmedia commented on #11977
[code]

[2022-06-29 04:44] independentid opened #11979 "Role roles/iap.httpsResourceAccessor has been retired"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-06-29 06:30] asifhj commented on #11969
@rileykarson Yes, I agree there are 2 resources

1. https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_database
2. https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_database_instance

There is no deletion_protection feature for sql_database whereas for sql_instance resource there is a checkpoint in the source. This checkpoint ensures

[2022-06-29 16:44] maguro commented on #4418
We use Terraform to publish DAGs etc.

[2022-06-29 16:45] #8994 closed

[2022-06-29 17:09] rileykarson commented on #11969
Whoops, managed to pull up the wrong docs and convince myself both supported it. Sorry about that! Changing to an enhancement request.

[2022-06-29 18:18] melinath commented on #9086
b/237107072

[2022-06-29 18:22] melinath commented on #10492
b/237554378

[2022-06-29 18:28] melinath commented on #11848
The problem here seems to be that the doc strings use `<` and `>` to enclose variables, which apparently gets interpreted by the docs as html elements.

[2022-06-29 20:14] edwardmedia commented on #11979
I can repro the issue. As stated in #11751, the error is from api, and looks like it is the role specific. The tf resource is fine. After changing the role to `roles/compute.admin`, the resource gets created without an issue.

[2022-06-29 20:49] jamiet-msm opened #11985 "google_bigquery_dataset_access does case-sensitive comparisons of email addresses"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-06-29 21:12] DrFaust92 commented on #11754
Ill try to take a crack at this

[2022-06-29 21:30] #11897 closed

[2022-06-29 21:30] #11898 closed

[2022-06-29 22:50] #6599 closed

[2022-06-29 23:18] caieo opened #11988 "Error setting autoscaling_config on `bigtable_instance`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-06-30 04:06] voycey commented on #11459
Are there any updates on this? With the release of BQ Omni and BigLake this is more important than ever in order to setup cross cloud external tables.

[2022-06-30 08:37] mcinquin commented on #10484
I have also some issues with database_encryption:

- If I create a cluster with database_encryption enabled, the GKE cluster is created without encryption
- If I create a cluster with database_encryption disabled and after I want to enable it, terraform says that there is nothing to change

[2022-06-30 10:49] shamil opened #11990 "google_storage_bucket: support for `MatchesPrefix` and `MatchesSuffix` in condition of the lifecycle rule"
Provider version: `4.27.0`
Terraform version: `1.2.3`

Please add support for [`MatchesPrefix` and `MatchesSuffix`](https://cloud.google.com/storage/docs/lifecycle#matchesprefix-suffix) to the condition of the lifecycle rule.

[2022-06-30 11:56] debrutal opened #11991 "CMEK for Redis (resource google_redis_instance)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-30 14:31] peter-mueller-viacom opened #11992 "google_container_aws_cluster / google_container_aws_node_pool should provide either data module or output of security_group_id it manages"
Hello!

When creating Anthos on AWS cluster using terraform it creates a security group for the control plane & node pool that it manages.  I cannot seem to access this security group programmatically from the resource() modules output, or find a data source to ingest it from.

As a workaround to finding the IDs I am currently using a double filter:
data "aws_security_group" "nodepool_sg" {
  filt

[2022-06-30 15:34] melinath commented on #7128
Resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/6062

[2022-06-30 15:34] #7128 closed

[2022-06-30 17:21] DrFaust92 commented on #9962
looking into this

[2022-06-30 17:59] #11956 closed

[2022-06-30 18:27] #10367 closed

[2022-06-30 18:34] #10663 closed

[2022-06-30 18:45] tgoodsell-tempus commented on #11909
Yes I was able to do so:

Apply 1:
[code]

Apply 2:
[code]

[2022-06-30 20:28] gustavovalverde commented on #10488
I'm having this issue after applying `01-resman` from Fast stages, destroying and trying to reapply with a different configuration:

[code]

I'm not sure how to proceed after we hit this scenario.

[2022-06-30 22:58] #10759 closed

[2022-07-01 07:51] anagasAcc opened #12000 "Cloud Function gen2 add eventfilter"
Hello

I tried to create a CF gen2 with a Cloud Storage trigger but this currently not possible as it does not support eventfilter.

  "eventTrigger": {
    "trigger": "projects/x/locations/eu/triggers/x",
    "triggerRegion": "eu",
    "eventType": "google.cloud.storage.object.v1.finalized",
    "eventFilters": [
      {
        "attribute": "bucket",
        "value": "x"
      }
    ],
    "pubs

[2022-07-01 11:06] mro-amboss opened #12001 "terraform-provider-google_v3.90.1_x5 plugin crashes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-01 12:52] edwardmedia commented on #12001
@mro-amboss can you share the terraform config that can be used to repro the issue?

[2022-07-01 13:29] AlexandreAlvesL opened #12002 "google_iam_workload_identity_pool - fails when a pool already exists"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-01 15:37] edwardmedia commented on #12002
@AlexandreAlvesL can you provide the steps to repro the issue? Did you bring the resource into state before you apply? For me it seems to be fine through apply and re-apply.

[2022-07-01 15:39] DrFaust92 opened #12003 "Dataproc ASP IAM rsources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-01 16:02] #8748 closed

[2022-07-01 16:21] #11521 closed

[2022-07-01 16:52] #12003 closed

[2022-07-01 17:07] rileykarson commented on #11988
I took a look at this and don't believe it can be replicated when using the provider directly, but may be an issue for indirect users of the provider. We have a few tests that exercise various behaviours on the field, all of which succeed:

* [TestAccBigtableInstance_createWithAutoscalingAndUpdate](https://github.com/hashicorp/terraform-provider-google/blob/f5d835227a556d2417ba46ef171d099bacd63ddb

[2022-07-01 17:07] #11988 closed

[2022-07-01 17:26] DrFaust92 opened #12009 "Add Metastore Federation Resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-01 17:26] DrFaust92 commented on #12009
will be looking into this

[2022-07-01 20:13] edwardmedia commented on #11950
@steenblik do you have the config that I can use to repro the issue?

[2022-07-01 20:40] edwardmedia commented on #11911
@G-Tejaswini this appears to be a question to the module. Do you mind filing an issue at the module owners?

[2022-07-02 11:23] DrFaust92 commented on #9938
will take a look as this is a potential blocker for #12009

[2022-07-02 22:35] alamothe commented on #10820
What a mess.

[2022-07-04 06:41] mro-amboss commented on #12001
i am afraid this is not possible.

[2022-07-04 07:46] amardeep opened #12011 "location is set to null on terraform import for bigquery transfer config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-04 07:56] AlexandreAlvesL commented on #12002
@edwardmedia did another try via a new project and also by clearing the state file in the existing project and it works as expected. most likely I provisioned via local code and then used it as part of the pipeline without clearing the configuration first. feel free to close this.

[2022-07-04 08:04] amardeep opened #12012 "Changing display name on google_bigquery_data_transfer_config resource shouldn't force replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-04 08:14] amardeep opened #12013 "Changing data_path_template in google_bigquery_data_transfer_config should result in force replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-04 09:35] tSte opened #12014 "Cloud SQL instance storage auto-increase limit"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-04 09:43] moiseslodeiroedosoft opened #12015 "google_document_ai_processor resource fails when setting the "eu" location."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-04 09:44] black-snow commented on #10666
I just stumbled over this. Why do we have all the options (https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_router_nat#tcp_established_idle_timeout_sec) except for the TCP wait time? :D

[2022-07-04 10:04] cgrotz commented on #11970
That's strange, when inserting via [API Explorer ](https://cloud.google.com/compute/docs/reference/rest/beta/regionNetworkEndpointGroups/insert) it works without providing a creationTimestamp. (If I provide an empty creationTimestamp it works as well, even with random gibberish. It seems the value is ignored).
[code]
I also don't get an error when fetching the resource via the API Explorer.

Any i

[2022-07-04 13:29] dxk185 opened #12016 "example of usage of alert_strategy for google_monitoring_alert_policy"
Hi Team,

I could not get a good example of using alert_strategy option for google_monitoring_alert_policy, resource.
The documentation https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/monitoring_alert_policy#nested_alert_strategy, is not clear on this either.
I keep on getting this error message :

**Error: Unsupported block type
Blocks of type "alert_strategy" are n

[2022-07-04 14:44] edwardmedia commented on #12002
@AlexandreAlvesL glad you found the problem. Closing the issue then

[2022-07-04 14:44] #12002 closed

[2022-07-04 14:55] #12001 closed

[2022-07-04 19:16] edwardmedia commented on #12015
https://github.com/hashicorp/terraform-provider-google/issues/10684

[2022-07-04 19:59] ShaohuiQian opened #12017 "Error waiting for Creating CloudFunctions Function: timeout while waiting for state to become 'done: true'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-04 20:51] muresan commented on #11327
The webhook URL format is made from project id, cloud api key and secret. Currently the issues are:
1. Finding out which Cloud API Key is generated automatically when creating a cloudbuild trigger, as there is no field in the cloudbuild trigger that references that key (and there is no corresponding data.google_apikeys_key to look it up). One solution is to create another `google_apikeys_key` but

[2022-07-05 03:30] voycey opened #12018 "Cycle when creating BigQuery Omni Connection"
It seems like there is a bug / error in how `google_bigquery_connection` needs to be setup. Currently the documentation on the Google Cloud website states that `gcloud` must be used to set this up (as there is a cyclical dependency), however there needs to be the ability to have this setup in Terraform 100% (as our deployments are touch free).

Specifically I can't see a way to define the connecti

[2022-07-05 09:43] lemoo5sg opened #12019 "google_billing_budget: allow having a budget with only a pubsub topic as a target, no threshold_rules, no monitoring notification channel"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-05 10:00] przsab opened #12020 "Extreme persistent disk provisioned IOPS recreates disk"
Terraform provider removes existing pd-extreme disks every time it is run if **provisioned_iops** is missing from disk definition.

[code]

When no updates are made to template, provider replaces the disk during `terraform apply` because of PIOPS implementation (https://github.com/hashicorp/terraform-provider-google/issues/8603)
[code]

From the output:
[code]

Using latest provider version over T

[2022-07-05 11:21] drandell commented on #11971
closing as not supported currently, requires event_filters:
[code]

[2022-07-05 11:21] #11971 closed

[2022-07-05 11:25] drandell opened #12021 "google_cloudfunctions2_function - support event_filters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-05 12:37] DIONNiklas opened #12022 "Dialogflow CX - Cycle Issue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-05 14:50] edwardmedia commented on #12013
@amardeep as you see [here](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigquery_data_transfer_config#params), parameters specific to each data source. Thus all individual fields in the params are not defined in the provider. It is up to api how to behave if you plan to update each field. I guess this would be fixed. Does this make sense?

[2022-07-05 14:52] edwardmedia commented on #12012
@amardeep same answer to your question https://github.com/hashicorp/terraform-provider-google/issues/12013

[2022-07-05 14:53] #12012 closed

[2022-07-05 14:54] kustodian commented on #2570
Running `terraform apply` multiple times doesn't solve the issue. The problem is that no matter how I delete/update ranges, TF continuously detects that it will do both delete/update/add. Here is the code:
[code]
Because `secondary_ip_range` is a map, changing any key name of the map (rename keys or remove keys) TF changes the order of the dynamic elements and reports a lot of changes which can ne

[2022-07-05 14:57] amardeep commented on #12013
If I understand you correctly:
- Individual fields in params aren't/can't be defined in the provider.
- Some but not all of the fields are immutable - so if they are changed, api will throw error.

I guess it is fine to leave it like this if there is no better option. But it would be nice to atleast document
this behaviour in the docs and suggest a workaround of applying with `-replace=...` flag.

[2022-07-05 15:08] edwardmedia commented on #12011
The location is part of the {{name}}

[2022-07-05 15:19] edwardmedia commented on #12013
@amardeep that is correct. What do you mean about the workaround of applying with `-replace=...`?

[2022-07-05 15:44] edwardmedia commented on #12022
@DIONNiklas I see what you mean. This is not something the provider can solve. Both [parent](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/dialogflow_cx_page#parent) and [target_page](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/dialogflow_cx_flow#target_page) are optional. Have you tried omitting one, ie, not provide target_page?

[2022-07-05 15:46] kustodian commented on #2570
After some trial and failure, I realized that if I just first remove or add secondary ranges `terraform plan` will report a strange diff like this:
![image](https://user-images.githubusercontent.com/1949229/177366577-61b5a219-00dd-47b7-907f-be507da2e112.png)
It would actually just add two more secondary ranges (in this case `an-prod-composer-etl-prod-pod` and `an-prod-composer-etl-prod-service`) a

[2022-07-05 19:15] joe-a-t commented on #10488
@gustavovalverde That is definitely a very different issue, I would recommend you create a separate issue since issues re-creating buckets is unrelated to issues updating objects within a bucket

[2022-07-05 19:56] reinaldo-pinto opened #12023 "Error: Error creating Config: googleapi: Error 400: Precondition check failed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-05 20:57] DIONNiklas commented on #12022
Both attributes are optional you are right. But otherwise the link between flow and page resource cannot be set up. Further more its not possible to create the link by string interpolation because I don't have any chance to create the id manually (or by a function which is controlled by myself)

[2022-07-05 22:38] edwardmedia commented on #12022
@ScottSuarez what do you think about this?

[2022-07-05 23:25] edwardmedia commented on #12013
@amardeep oh I see what you mean. @ScottSuarez do we usually specify this out in the doc?

[2022-07-05 23:26] edwardmedia commented on #12023
https://github.com/hashicorp/terraform-provider-google/issues/12013

[2022-07-05 23:27] edwardmedia commented on #12023
@reinaldo-pinto can you share the full debug log?

[2022-07-06 03:59] amardeep commented on #11237
I also faced a similar issue in #12013

Though, looking at the console UI, it appears that only few of the fields in params are immutable.
For google cloud storage transfers, the only immutable fields in UI are:

- Destination Table (`params.destination_table_name_template`)
- Cloud Storage UI (`params.data_path_template`)
- Write Preference (`params.write_disposition`)

Rest of the fields can be

[2022-07-06 07:53] black-snow opened #12024 "gcloud resource-config bulk-export - Permission denied during export"
When I try to bulk-export for tf I receive

Maybe I'm missing something. I am project owner, editor and storage admin and the API is enabled.

First, I tried `gcloud alpha resource-config bulk-export --resource-format=terraform --on-error=continue --project=my-project --path=./` but gcloud tried to create a temporary GCS bucket in US, which is prohibited via a policy.

There is no `--storage-key`

[2022-07-06 13:00] cedriccheron opened #12025 "Terraform waits for the end of the OS Policy rollout to finish"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-06 13:15] edwardmedia commented on #12025
@cedriccheron do you have log that can be shared? How to trigger your next step in your pipeline? I noticed that you set the timeout to 2h. Why?

[2022-07-06 13:20] edwardmedia commented on #12024
@black-snow it appears this is about `gcloud`.  Can you ask `gcloud` for that? This is more about terraform provider

[2022-07-06 13:35] edwardmedia commented on #12018
@voycey It seems there is no perfect solution. [aws](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigquery_connection#aws) is optional. Is it possible you can deploy twice?

[2022-07-06 13:36] voycey commented on #12018
I think I can do it by creating proxy roles and applying them in multiple steps but its not a clean solution.

I will test it and then post it. The AWS is required here to be able to set the policy to allow BigQuery to access S3

[2022-07-06 13:37] cedriccheron commented on #12025
I forgot to add.
A side effect of this issue is that the OS Policy config is not saved in the tfstate, which means the following pipelines fail unless we remove manually the policies

[2022-07-06 13:46] voycey commented on #12018
I understand - but unfortunately we need to have it in a single apply as we deploy multiple environments off the same code, I will have a crack with the multiple policy attachments tomorrow and report back!

[2022-07-06 14:17] #9938 closed

[2022-07-06 14:19] #11977 closed

[2022-07-06 15:56] #11985 closed

[2022-07-06 16:37] edwardmedia commented on #12018
@voycey from the provider's perspective, I can't think of any perfect solution.

[2022-07-06 16:45] edwardmedia commented on #11970
@cgrotz can you share the debug log when you applied the config? You may mark up the secrets but I'd like to take a closer look at the api requests & responses.

[2022-07-06 17:19] #12014 closed

[2022-07-06 17:36] cgrotz commented on #11970
I was using the wrong attribute to reference the gateway:
[code]
instead of
[code]
The error message from the API is misleading (creationTime instead of resourceName). I opened a bug with the API Gateway team.

[2022-07-06 17:36] #11970 closed

[2022-07-06 17:50] #11830 closed

[2022-07-06 17:52] ScottSuarez opened #12034 "Remove deprecated field `enable_binary_authorization`"
deprecated in https://github.com/GoogleCloudPlatform/magic-modules/pull/6101/files

should remove in next major release.

### Affected Resource(s)

* google_container_cluster

[2022-07-06 18:15] #9962 closed

[2022-07-06 18:24] ScottSuarez commented on #12013
We can, I don't see why not

[2022-07-06 18:39] reinaldo-pinto commented on #12023
Hi @edwardmedia, full log is very big and have others modules that are working.
Only error part I already shared above.

But follow log  ```terraform plan```

[code]
Remembering: when trying to run the pipeline again manually, the process works.
The error is unstable. The pipeline works for many days without an error.

[2022-07-06 19:43] ShaohuiQian commented on #12017
Hey Edward, it is deployed with terraform in a large project, and we are using `terraform init && terraform apply -auto-approve`. Is this what you are asking for?

terraform found cf was not done at a certain time point, but cf was actually done later on after the time point tf was checking it.

[2022-07-06 19:57] megan07 commented on #11825
Per [this comment](https://github.com/GoogleCloudPlatform/magic-modules/pull/6165), this will be considered a breaking change. tl;dr - fixing this test uncovers a bug, and fixing that bug is a breaking-change.

[2022-07-06 20:38] edwardmedia commented on #12017
@ShaohuiQian can you repro it manually? Just including the related resources. Please share the debug log of the execution?

[2022-07-06 20:41] ScottSuarez commented on #12022
I'm not sure there is anything we can do here. Best bet would be to file a bug with the api team. This seems like an issue they can look into.

For a work around could you create the config with a transition route empty then fill in the transition route with the provisioned page manually within an update? Thats the only way I could see this working.

[2022-07-06 20:46] ShaohuiQian commented on #12017
It's flaky, I am not sure I can make it happen by intention.

But here's a log from history run. https://gist.github.com/ShaohuiQian/acb8a5cfffe7e3e9b531f973da403463

[2022-07-06 22:06] edwardmedia commented on #12022
@DIONNiklas closing this as there is not something that can be done at the provider level. You may file an issue as @ScottSuarez  provided above

[2022-07-06 22:06] #12022 closed

[2022-07-06 22:08] toninator commented on #10810
So would I!

[2022-07-06 22:22] edwardmedia commented on #12017
@ShaohuiQian it looks like you have everything from project to other resources in one repo. This makes hard to isolate the problem. Since you can't repro the issue, I would think this could be something at the terraform core level. Do you want to file an issue at terraform core instead? Closing this now. You may reopen if you can repro it on individual resources.

[2022-07-06 22:22] #12017 closed

[2022-07-07 07:13] PerEkskogSEB commented on #12022
I stumbled on the exact same issue just a few days ago and have discussed it with Google support and reached to the same workaround (which kind of defeats the purpose of using Terraform for us).

When I first looked into using Terraform with Dialogflow it seemed odd that the transition_routes go into the flow resource. When I design an agent in the Dialogflow GUI the transition_routes are actually

[2022-07-07 12:00] nostalos opened #12042 "google_service_networking_connection: does not have options for export subet routes with public ip"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-07 12:54] zymotik opened #12043 "Error: Provider produced inconsistent final plan - google_dns_record_set - rrdatas list with unknown value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-07 13:50] edwardmedia commented on #12043
@zymotik do you plan to create the resource right after the project is created? It might take a certain time for the project to be ready. Can you try add sleep [logic](https://registry.terraform.io/providers/hashicorp/time/latest/docs/resources/sleep) between two to see if that help solve the problem?

[2022-07-07 14:44] edwardmedia commented on #12016
@dxk185 how about this?
[code]

[2022-07-07 15:00] billyfoss opened #12045 "Support for GKE Blue/Green Upgrade Strategy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-07 16:18] mldmld68 commented on #12025
Cedric is off today and tomorrow.
So I may explain : Terraform wait the policy on many GCE beeing removed and the new one being applied. And it take a while if the GCP project contains many GCE.
For us, Terraform should only change the policy, and then leave without waiting the apply of the new OS Policy.

Without changing the timeout of the resource, one get :

google_os_config_os_policy_assignme

[2022-07-07 16:56] megan07 commented on #10512
Closing per internal discussion.

[2022-07-07 16:56] #10512 closed

[2022-07-07 17:35] fclabs commented on #11395
I am having a similar issue with

terraform v1.2.4
provider version = "4.27.0"

Debug shows an error in the API call, where an empty body is shown.

[code]

And the response:
[code]

[2022-07-07 19:44] black-snow commented on #12024
@edwardmedia thanks, I think I found the right spot to report this.

[2022-07-07 19:51] hanumantharao19 opened #12049 "google_sql_user not able to create for myssql"
module.mssql.google_sql_user.additional_users["qa"]: Still creating... [10s elapsed]
╷
│ Error: Error setting disabled: Invalid address to set: []string{"disabled"}
│
│   with module.mssql.google_sql_user.additional_users["prod"],
│   on ../modules/mssql/main.tf line 167, in resource "google_sql_user" "additional_users":
│  167: resource "google_sql_user" "additional_users" {
│
╵
╷
│ Error: Error

[2022-07-07 20:39] edwardmedia commented on #12049
@hanumantharao19 can you share your config and the full debug log?

[2022-07-07 21:08] megan07 commented on #11115
Hi @mfwgenerics - sorry for the delay around this. I think the issue here is that you are running this remotely (in TFC) and the default credentials that you create with `gcloud auth application-default login` are stored locally. You can solve this in two ways - you can change your [execution mode](https://www.terraform.io/cloud-docs/workspaces/settings#execution-mode) to `Local` in TFC, or, if yo

[2022-07-07 21:36] StephenWithPH opened #12051 "cannot create google_compute_region_network_endpoint_group with cloud_function.url_mask"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-07 21:45] StephenWithPH commented on #12051
From GCP support:

[2022-07-07 21:49] zymotik commented on #12043
An interesting suggestion, but I think the problem is that the value goes from null at plan to being a string on create. I can't see how delaying the resource at apply will fix the incorrectly computed null at the plan stage.

Am I misunderstanding how terraform plan works?

[2022-07-07 22:10] edwardmedia commented on #12051
dup. https://github.com/hashicorp/terraform-provider-google/issues/11970
It has been reported to the api team. Closed now

[2022-07-07 22:11] melinath opened #12052 "Support "conflicts:" for nested fields in mmv1 generated resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-07 22:17] edwardmedia commented on #12043
@zymotik are you able to repro the issue if you separate these resources in different apply?

[2022-07-07 22:20] edwardmedia commented on #11970
label this as upstream issue

[2022-07-07 22:25] zymotik commented on #12043
No, because if the Google Cloud project resource is already created in one apply, the next plan knows the values it needs in advance. The "random_id" resource does not generate a new id because of the "keepers" configuration.

The terraform example I have given is contrived. In the code we use, running it twice does work, but it's not an ideal solution.

[2022-07-07 23:03] reinaldo-pinto commented on #12023
Hi @edwardmedia, follow all configuration in module:
[code]

* Follow log requests Terraform [Link here](https://gist.githubusercontent.com/reinaldo-pinto/7a4323c51c7dcd8c78710f5b567d0058/raw/bad52d7d6d00e3ec68fec0390e6324aff3c4765d/Terraform_Logging.txt)

I encountered http error 429 (maybe we are overstepping Google API limits).
Could it be that ```Precondition error``` is a consequence of this

[2022-07-07 23:36] apparentlymart commented on #12043
I think this item in the trace log points more directly to the cause of this oddity:

[code]

"because it is using the legacy plugin SDK", Terraform Core is reporting the problem as an inconsistency between the intermediate plan and the final plan, rather than between the configuration and the plan, but this warning shows that it's really the initial planning step that misbehaved here.

I wonder i

[2022-07-07 23:43] apparentlymart commented on #12043
Followup note, for completeness: if I was right in my theory above, my proposed fix should avoid the error reported above but I think it will still show up as a warning message in the logs similar to the one I quoted above. The new one will be something like this:

[code]

Notice that _this_ error message says `planned value cty.UnknownVal(cty.List(cty.String))` instead of `planned value cty.NullV

[2022-07-08 04:22] prateek2408 commented on #11806
Issue has been fixed - https://github.com/GoogleCloudPlatform/magic-modules/pull/6218

[2022-07-08 10:14] #11115 closed

[2022-07-08 12:31] talonx opened #12054 "Mismatch between documentation and actual resource's behaviour for google_sql_database_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-08 12:45] #12054 closed

[2022-07-08 13:39] pawelczuczwara opened #12055 "google_cloudfunctions2_function event_trigger service_account_email not set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-08 13:49] ettancos opened #12056 "Reading data source google_kms_crypto_key_version is failing due to 404"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-08 15:12] #11806 closed

[2022-07-08 16:13] DrFaust92 commented on #10814
ill take a look

[2022-07-08 16:20] DrFaust92 commented on #10904
seems to be supported already https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/artifact_registry_repository#version_policy

[2022-07-08 16:36] #12020 closed

[2022-07-08 17:22] shuyama1 commented on #10904
Thanks @DrFaust92! Yeah! Looks like the feature got implemented in https://github.com/GoogleCloudPlatform/magic-modules/pull/5294. Closing this issue then.

[2022-07-08 17:22] #10904 closed

[2022-07-08 17:42] DrFaust92 commented on #12042
This doesnt seem to be available via [api](https://cloud.google.com/service-infrastructure/docs/service-networking/reference/rest/v1/services.connections) so i would set this as upstream unless there is something im missing

[2022-07-08 18:31] melinath opened #12060 "Magic Modules: Eliminate custom_import requirement for resources with parent fields"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-08 19:27] edwardmedia commented on #12056
@ettancos I am not sure if I understand how to repro the issue. It is fine with me using your [code](https://github.com/hashicorp/terraform-provider-google/issues/12056#issue-1299050208) above. In both cases 1) creating all listed resources 2) then deleting delete`google_binary_authorization_attestor` and `google_container_analysis_note`, no issue. Can you detail the steps?

[2022-07-08 19:34] edwardmedia commented on #12023
@reinaldo-pinto here is the explanation for error [429](https://developers.google.com/google-ads/api/reference/rpc/v9/QuotaErrorEnum.QuotaError?hl=en#resource_exhausted) Can you fix that first?

[2022-07-08 19:46] ettancos commented on #12056
@edwardmedia sorry, I could have make that clearer, deleting the data source `data.google_kms_crypto_key_version.version` is also necessary, otherwise it will not try to read it again

[2022-07-08 20:06] jamesnicolas opened #12061 "Add Support for sendFullResource field for configuring pub/sub notifications in FHIR Stores"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-08 21:05] edwardmedia commented on #12043
@apparentlymart with below change, the issue is not resolved, with same error. Likely we need help from terraform core to resolve this.

[code]

[2022-07-08 21:25] #12013 closed

[2022-07-08 21:38] #9690 closed

[2022-07-08 21:38] #10814 closed

[2022-07-08 21:45] edwardmedia commented on #12056
@ettancos how did you import?
[code]

[2022-07-08 21:47] apparentlymart commented on #12043
@edwardmedia, I'm sorry my guesses were not correct!

That this does still seem to be an SDK-related issue or a provider-related issue, rather than Terraform Core issue, because we can see in the warning message that the `PlanResourceChange` response definitely did violate the expected rules, so this doesn't seem to be an example of Terraform Core misclassifying the response.

Given that, I did a

[2022-07-08 21:49] harpreetpaul opened #12064 "Terraform always replaces(destroy & create) GKE autopilot"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-08 21:52] ettancos commented on #12056
I can import the both the key and the attestor but plan/apply fails with the `...public_key is null` error as it is trying to read the key version and calculate/refresh the public key in the attestor (as far as I understood) based on that.

[2022-07-08 22:04] choudharira opened #12066 "google-beta api telling false resource deletion when delete permission is missing."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-08 22:51] apparentlymart commented on #12043
Some more information! I'm sharing this just for completeness since I don't know yet what is useful, since I've not yet learned enough to actually have an answer to what's going on here.

The `d.GetChange` method wraps a hidden abstraction called a "field reader". The field reader for the _diff_ uses a shared helper function to deal with reading lists, which treats unknown lists and empty lists in

[2022-07-08 23:03] apparentlymart commented on #12043
I think I've run out of ideas for what I can do just by code review and thought experiment, so I have some suggestions for next steps for gathering more information:

I would first suggest temporarily disabling the `DiffSuppressFunc` altogether to see if that makes the problem go away. Everything else I've been investigating here hinges on the `DiffSuppressFunc` somehow causing the problem, so if

[2022-07-09 06:07] DrFaust92 commented on #11571
[rileykarson](https://github.com/rileykarson) forgot to link this to PR, can be closed

[2022-07-09 06:09] DrFaust92 commented on #11727
[kubasieron](https://github.com/kubasieron) are you still on this, if not i can take this

[2022-07-09 06:13] brunotorrente opened #12067 "Add data list Networks, List subnets, similar to AWS hashcorp providers"
Currently the provider only provides information about a subnet or network if you have their names previously.

My suggestion, add an option similar to another Hashcorp provider ( AWS )

https://registry.terraform.io/providers/hashicorp/aws/latest/docs/data-sources/subnets

Google API

https://cloud.google.com/compute/docs/reference/rest/v1/subnetworks/list?hl=pt-br

Via Gcloud CLI

  gcloud compu

[2022-07-09 11:09] bro2020 commented on #3089
In Terraform v1.2.4 worked
[code]
and
[code]

[2022-07-09 11:29] gnarea opened #12068 "Add support for Error Reporting notification channels"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-09 14:40] edwardmedia commented on #12066
@choudharira the plan and the destroy result is to the resource `random_string`. How the permission of `aiplatform.metadataStores.create` affects `random_string`? Can you provide the full config?

[2022-07-09 15:41] edwardmedia commented on #12064
@harpreetpaul I can't repro, `autopilot` does not cause destroy & create. Your config contains a number of local variables. Can you provide a minimum config with hard-coded attributes which can be used to repro the issue? I wonder if there are other reasons that cause force recreation.

[2022-07-09 16:01] edwardmedia commented on #12056
@ettancos not sure why you need to run below import.  did you delete state for `google_kms_crypto_key.crypto-key` as well?
[code]

Can you run `terraform show` before and after below steps? Compare both results and see if there are any difference. Are you able to call terraform plan following the steps/ I assume this was what you did. It is fine with me
[code]

[2022-07-10 02:07] Vermyndax opened #12069 "Cloudscheduler job fails to create successfully"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-10 05:33] harpreetpaul commented on #12064
@edwardmedia
The mail culprit is the `node_config {{}` section. Probably you can try with any configuration and add `node_config ` to it. As per my understanding the network tags ( for fw rules) and node service account can only configured under `node_config` section.
When I remove the `node_config` the terraform is able to retain the state and subsequent plans does not try to replace the cluster.

[2022-07-10 13:54] edwardmedia commented on #12069
@Vermyndax can you run the [example](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_scheduler_job)? Which project is `72154013424`? Can you also try adding the `project` in the config instead of leaving it using default?

[2022-07-10 14:45] edwardmedia commented on #12064
@harpreetpaul here is what the doc says about [NodeConfig](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/NodeConfig) for Autopilot
[code]

Does this make sense?

[2022-07-10 16:38] rajcheval commented on #11228
I am also trying to create vertex ai managed notebook instance.
Instructions to do manually are here https://cloud.google.com/vertex-ai/docs/workbench/managed/create-instance

There are some options like enable idle shutdown. I am assuming that I will need to set a variable in meta data but I don't know how to find the name of the metadata variable.

For nbcovert option I was able to set notebook-

[2022-07-10 18:22] rajcheval commented on #11228
answering my own question. Managed notebooks are supported.
Example and software_config are documented here
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/notebooks_runtime#software_config

[2022-07-11 00:00] dxk185 commented on #12016
From the response explanation, it is just the same position where I have provided the "alert_strategy" block as well. That is just outside the "conditions" block. The same level as in "display_name".

[2022-07-11 04:30] kirupa-ambiata commented on #8485
Hi @rileykarson , will this issue be fixed ?

[2022-07-11 08:32] volodymyr-stoiko opened #12070 "google_container_cluster is recreated on each apply when default nodepool has node_config block"
Following the issue https://github.com/hashicorp/terraform-provider-google/issues/2115

In the original issue it was said, that to prevent terraform from recreating cluster we have to skip using `node_config` block in the cluster and use it only in node pool.

In our setup, we have default service accounts prohibited in projects. That means we must use `node_config` at least because we have to spe

[2022-07-11 09:13] DIONNiklas commented on #12022
Thank you for the responses. Unfortunately, there is a hen egg problem here. Thus, Terraform is unfortunately unusable in this area. Which is a great pity. The solution for this problem would be an additional resource that can subsequently adjust the transition routes within the flow. As you can do it for example with the settings of the S3 Service on the AWS terraform provider.

[2022-07-11 11:51] brantgurga opened #12071 "change to google_gke_hub_membership issuer is not forcing a replace"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-11 12:01] ettancos commented on #12056
@edwardmedia you are right I messed up the steps again, sorry
crypto key needs to be removed from state and re imported

so running it on a new key (test-key2):

key
[code]

attestor
[code]

key version
[code]

delete key, key version and attestor
[code]

import cropto_key
[code]

plan fails
[code]

tf show:
[code]

import attestor
[code]

plan still fails
[code]

show attestor:
[code]

so might i

[2022-07-11 14:26] edwardmedia commented on #12070
@volodymyr-stoiko can you share your config?

[2022-07-11 15:10] #11918 closed

[2022-07-11 15:18] edwardmedia commented on #12071
[code]

[2022-07-11 16:30] #12071 closed

[2022-07-11 17:34] #12015 closed

[2022-07-11 17:42] rileykarson commented on #12067
Closing as a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/8255

[2022-07-11 17:42] #12067 closed

[2022-07-11 17:44] rileykarson commented on #12052
@megan07 to take a look at the difficulty here

[2022-07-11 17:45] rileykarson commented on #12052
(this may be an MMv1 issue, but may also be an SDK issue)

[2022-07-11 17:47] rileykarson commented on #12000
Duplicates https://github.com/hashicorp/terraform-provider-google/issues/12021

[2022-07-11 18:16] ScottSuarez opened #12075 "Magician link to documentation based on issue tagging"
We can enhance the magician to link to relevant documentation based on a combination of tags and milestones so that third party members can attempt to self service the issue.

For example if there is a request to add a field to `google_x_y` we can comment and it is tagged with `new_field` and `goals` we can comment with the magician linking to the documentation to enable that field themselves.

##

[2022-07-11 18:28] shuyama1 commented on #11991
Looks like the feature is implemented in https://github.com/GoogleCloudPlatform/magic-modules/pull/6197 which should be released in version 4.28.0

[2022-07-11 18:28] #11991 closed

[2022-07-11 18:30] harpreetpaul commented on #12064
@edwardmedia
Can the `cluster_autoscalling`  be used to provision node configuration for GKE Autopilot? Its not very clear in documentation
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#cluster_autoscaling

To configure AutoprovisioningNodePoolDefaults via terraform what is the best way?
https://cloud.google.com/static/kubernetes-engine/docs/refer

[2022-07-11 18:54] shuyama1 commented on #11992
Hi @peter-mueller-viacom! Thanks for filing the request. Looks like we do support field `security_group_ids` in both `google_container_aws_cluster` and `google_container_aws_node_pool`. Is this what you are looking for or are you looking for a datasource specifically?
Would you mind sharing what your use case is? Are you trying to refer the value of `security_group_id` in the same configuration as

[2022-07-11 20:22] #9094 closed

[2022-07-11 20:43] ScottSuarez commented on #12022
Could you file a request for a new resource. Perhaps we can breakout this field to be used as a new fine-grained resource which will exclusively manage this field.

[2022-07-11 20:45] ScottSuarez commented on #12022
Thats another alternative. If you push for this perhaps through support or a pr it could be prioritized. unfortunately our team is quite overloaded as is

[2022-07-11 20:50] kylekurz commented on #11354
I ran into this today as well. I can get a `google_compute_managed_ssl_certificate` into the `PROVISIONING` state, but there is no equivalent TF resource to `networking.gke.io/v1/ManagedCertificate` that can allow this entire configuration to happen within Terraform.

[2022-07-11 21:00] DmitriSmirnovCTL opened #12077 "google_os_config_os_policy_assignment failure on Windows"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-11 21:43] StephenWithPH commented on #12051
For future searchers, GCP support came back with:

The following change worked:

[code]

@edwardmedia : Do you anticipate any changes to the provider to do this automagically, or do you think this will just be a provider documentation update? Asking so I know whether or not to expect future breakage of the literal workaround above.

[2022-07-11 21:47] StephenWithPH commented on #11970
https://github.com/hashicorp/terraform-provider-google/issues/12051#issuecomment-1180899823 shows GCP supports successful workaround with `cloud_function`.

[2022-07-11 21:49] edwardmedia commented on #12070
@volodymyr-stoiko as https://github.com/hashicorp/terraform-provider-google/issues/2115. stated, it is not recommended to set `node_config` in both cluster and node_pool. The limitation is not at the terraform provider.

[2022-07-11 22:03] edwardmedia commented on #12077
@DmitriSmirnovCTL I am able to create the `fireeyehx-agent-windows` using your code without issue. The Error from your log was complaining on the field of `generation` Where did you run the code?

[2022-07-11 22:20] DmitriSmirnovCTL commented on #12077
Code works for me on MacOS and CloudShell but fails on Windows 10 and Window 2022

[2022-07-11 22:21] edwardmedia commented on #12023
@reinaldo-pinto how did you simulate the data transfer on the google panel at that speed? Basically it says the api can't take so many calls at the same time.

[2022-07-11 22:28] edwardmedia commented on #12077
@DmitriSmirnovCTL I was using the very your code. I saw the resource was created. Not sure what was wrong with yours. It appears the terraform fails at the precheck stage which has not launch api calls yet. Are you able to run the code at the GCP Cloudshell?

[2022-07-11 22:36] DmitriSmirnovCTL commented on #12077
Correct, it fails on precheck stage if terraform executed on Windows OS. Were you able to deploy from Windows-based machine? The code is part of custom project template on my side. I can deploy projects myself from MacOS but have users with terraform deployed on Windows machines and code fails for them. I did reproduce the failure from Windows 2022-based machine too.

[2022-07-11 23:26] slevenick commented on #12077
Looks like a conversion issue on the generation number? My first guess is that it's too large for the windows architecture you're on to handle, so TF converts it?
`│ Error: Attribute must be a whole number, got 1.633065744445004e+15`

If the error happens when running Terraform on windows but not for the same config file on MacOS, the problem is likely not in the provider. I may direct you to eith

[2022-07-12 00:03] rileykarson commented on #8485
I've unassigned myself as I'm not actively working on it- it's something we'd like to, but haven't found the cycles for.

[2022-07-12 04:58] guptamukul-google commented on #10066
Any update on this ? Is enabling the APIs in the **admin project** (aka control project, where Service account is created) the only workaround here ?

I am facing the similar issue when I am trying to create `google_service_networking_connection` resource in a **user project** via Service Account.

Service Account is created in a different project (lets call it **admin project**, example Project#:

[2022-07-12 08:08] drandell commented on #12055
are you using the beta provider version 4.25 or greater? https://github.com/hashicorp/terraform-provider-google-beta/releases/tag/v4.25.0

[2022-07-12 08:40] pawelczuczwara commented on #12055
I´m using the:
  provider "registry.terraform.io/hashicorp/google-beta" {
    version     = "4.27.0"

[2022-07-12 08:57] #12055 closed

[2022-07-12 13:45] edwardmedia commented on #12016
@dxk185 what do you try to do?

[2022-07-12 14:51] volodymyr-stoiko commented on #12070
It makes sense, but in the current case, it doesn't help as there is no way for us to not specify node_config in the default node pool because we must set the service account. And without it, the cluster won't start because we don't have default service accounts enabled in projects.

[2022-07-12 15:10] slevenick commented on #12077
Talked to some people on the SDK team, I think the issue is at the SDK level.

Can you confirm if you're on a 32-bit version of windows? And if so, can you try on a 64-bit version and see if it solves the issue?

[2022-07-12 15:20] tSte commented on #11920
Hey,

I enabled [access transparency](https://cloud.google.com/cloud-provider-access-management/access-transparency/docs/enable) for the entire GCP organisation.

I also enabled access approval API, like this:
[code]

But I also tried to enable the API [manually, via GCP console UI](https://cloud.google.com/cloud-provider-access-management/access-approval/docs/review-approve-access-requests-google

[2022-07-12 16:01] edwardmedia commented on #11911
closing this assuming it is no longer an issue

[2022-07-12 16:01] #11911 closed

[2022-07-12 16:10] G-Tejaswini commented on #11911
Hey can you please let me know the link or path where I can raise issue to
module owners?

On Tue, Jul 12, 2022, 9:31 PM Edward Sun ***@***.***> wrote:

[2022-07-12 16:29] edwardmedia commented on #12025
Closing as this issue goes to OS Policy team
b/238658842

[2022-07-12 16:29] #12025 closed

[2022-07-12 16:30] uda commented on #10176
I also encountered this issue exactly as described, an uptime check with a linked alert policy cannot be destroyed+created, I didn't check if just destroy works, which I assume will work because the policy depends on details from the uptime check and will be destroyed first so the uptime check delete won't fail.

For now, Since it isn't something we do often, I opted for the ugly workaround, delet

[2022-07-12 16:34] chalmagr commented on #11171
Seems there was no traction here and really need this to be done... so I've created an issue - I am unable to see the component mentioned earlier... hopefully this is good as well

https://issuetracker.google.com/issues/238667783

[2022-07-12 16:51] DmitriSmirnovCTL commented on #12077
Thank you, we were using  64-bit Windows machines and 32-bit terraform binary. Switched to 64-bit terraform binary and was able to pre-check and deploy.

[2022-07-12 16:51] #12077 closed

[2022-07-12 17:04] marino-serna opened #12079 "Delete protection to Notebooks Instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-12 17:06] longlho commented on #10622
hello is there any workaround for this?

[2022-07-12 19:59] rquinlivan commented on #8769
I have seen this issue with the `google_project_iam_member` resource. Re-creating the plan seems to have caused the issue to disappear. This leads me to suspect it is a race condition in the provider.

[2022-07-12 21:33] luk-kop commented on #10885
Any update on this? The same issue here :/

[2022-07-12 22:12] fribeiro1 opened #12081 "Make 'region' Argument Optional in Dataflow Configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-12 22:27] fribeiro1 opened #12082 "Remove "temp_gcs_location" Argument in Dataflow Configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-13 05:43] steenblik commented on #11950
Hi @edwardmedia - So just to confirm if I have ever set the value for `container_concurrency` and want to go back to the default I must explicitly set the value to 80. Correct?

Thanks

[2022-07-13 07:28] PerEkskogSEB commented on #12022
Google support came to the conclusion that from an API perspective you actually can create the flow, then the page, and then update the "default page part" of the flow.

Now my thinking is, perhaps it could be as simple (!) as introducing a "magic name" for the default page (that is automatically created) and when Terraform sees this it will instead update the flow as if it was a new page.

[2022-07-13 07:44] DrFaust92 commented on #12079
unless this is provider only feature, its an upstream issue as the api doesnt have such an option. to prevent complete data loss you can use `[no_remove_data_disk](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/notebooks_instance#no_remove_data_disk)`

[2022-07-13 08:19] Vermyndax commented on #12069
Hi @edwardmedia - I tried running the oauth example from the page and it does not work either. It produces the same error.

The project 72... is the numbered project ID of the google project (should have left that out of the paste, honestly). I've found that some GCP modules use the friendly name of the GCP project and some others use the numbered project name. It seems that this module auto-resol

[2022-07-13 09:00] mksh opened #12083 "Implement data source for Cloud Logging Sinks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-13 09:10] volodymyr-stoiko commented on #12070
@edwardmedia I'll try to explain this in more detail.

At organization level our company has a policy **Domain restricted sharing** with a constraint **constraints/iam.allowedPolicyMemberDomains** configured to accept only specific list of customer IDs. Google is not among those customer IDs. This requirement results in service accounts being disabled in any project we have in organization (e.g. d

[2022-07-13 09:50] arpitgup commented on #9624
Hi all,
Do we have any resources available for GCP Database migration service in Terraform?
Because the configuration you have used above:
resource google_dms_connection_profile source {
  type = "mysql"
  ...
}

Is not visible in hasicorp documentation

[2022-07-13 12:03] marino-serna commented on #12079
You are right DrFaust92, that is enough to solve most of the problem.

The policies will not remain as they are removed and cannot be added with the deployment:
https://github.com/hashicorp/terraform-provider-google/issues/11795
but for my current situation is not that urgent. Hopefully the issue 11795 gets solved. I will choose this one.

[2022-07-13 13:51] edwardmedia commented on #12082
@fribeiro1 here you may see the t`emp_gcs_location` from other doc

https://developers.google.com/resources/api-libraries/documentation/dataflow/v1b3/java/latest/com/google/api/services/dataflow/model/CreateJobFromTemplateRequest.html#getGcsPath--

Does this make sense?

[2022-07-13 16:06] corey-hammerton opened #12084 "google_storage_bucket_object Resources have Apparent lifecycle.create_before_destroy Behaviour"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-13 16:25] #11647 closed

[2022-07-13 16:25] #11120 closed

[2022-07-13 17:29] DrFaust92 commented on #12019
lookin

[2022-07-13 17:56] edwardmedia commented on #12084
@corey-hammerton I don't understand the issue here. What is wrong with that order? I need the detailed config and steps to repro the issue.

[2022-07-13 17:59] edwardmedia commented on #12069
@Vermyndax do you use module or directly call execute the resource mentioned in the [here](https://github.com/hashicorp/terraform-provider-google/issues/12069#issue-1299807263)?

[2022-07-13 18:52] corey-hammerton commented on #12084
Hi @edwardmedia I've updated this issue description with more details. I've redacted some of the finer details for security reasons for my organization.

Essentially the storage_bucket_object is the startup-script-url target for the compute instance, but because of the lifecycle it is removed before it is used.

[2022-07-13 19:22] mcdermg commented on #11947
@c2thorn Any update on this, client was asking if there is an ETA on a fix?

[2022-07-13 19:24] fribeiro1 commented on #12082
@edwardmedia Thanks for your quick reply. "gcs_path" is a different argument. It holds the path to the template in Cloud Storage. "temp_gcs_location" isn't required by the API or other tools.

[2022-07-13 19:26] fribeiro1 commented on #12081
@edwardmedia Thanks for your quick reply. "region" is optional in the API and should also be optional in the provider.

[2022-07-13 19:46] c2thorn commented on #11947
@mcdermg planning on having the fix in by next available release cut, which would place the ETA for release on July 25th

[2022-07-13 20:10] edwardmedia commented on #12084
@corey-hammerton can you share the full debug log? I'd like to see what is going on during the apply.

[2022-07-13 21:05] fribeiro1 opened #12088 "Add Support for Importing Dataflow Jobs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-13 21:34] edwardmedia commented on #12081
@fribeiro1 could you share the api doc that shows the region is optional?

[2022-07-13 22:12] andrewyz opened #12089 "Support Spot Termination Action"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-13 22:34] fribeiro1 commented on #12081
@edwardmedia The default behavior when you don't provide a location is described at https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.locations.jobs/create.

For example, the CLI, Java, and Python client libraries already implement it. I published samples at https://simplesassim.wordpress.com/2022/07/12/how-to-create-a-job-in-google-dataflow/.

[2022-07-13 23:48] psvaiter commented on #10967
@c2thorn any update on this? Do you think it will be fixed?

[2022-07-13 23:54] psvaiter commented on #11535
The provider version is already in version 4.28.0 and the bug introduced in version 4.9.0 is still there. Previous to 4.9.0 it was working as expected. Shouldn't this be prioritized? @c2thorn

[2022-07-14 01:16] Vermyndax commented on #12069
It was a direct resource execution, no module.

[2022-07-14 04:34] martinOrigin8Cares opened #12090 "Documentation: google_storage_bucket_object t & data.google_storage_bucket_object have missing arguments/attributes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-14 07:44] woohgit commented on #11268
It looks like it's caused by terraform not applying "default' values. Yeah the bump to 21 and revert back to 20 works as if it's not a default value, terraform applies it properly and most importantly it writes it to the statefile.

[2022-07-14 13:29] corey-hammerton commented on #12084
Unfortunately I do not have a debug log available at the moment. I'll be sure to enable debug logging the next time we perform an update.

[2022-07-14 13:32] alekssaul opened #12091 "google_certificate_manager_certificate: self_managed GCP API fields"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-14 14:36] jimsnab opened #12093 "Fix log level"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-14 15:21] kasteph opened #12094 "Workload Identity Pool is still lowercased"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-14 15:51] edwardmedia commented on #12093
@jimsnab this is controlled by Terraform Core. Do you want to file an issue other there instead?

[2022-07-14 15:56] kasteph commented on #12094
Running `terraform init -upgrade` and thus upgrading the `hashicorp/google` provider to `v4.28.0` fixed the issue.

[2022-07-14 15:56] #12094 closed

[2022-07-14 16:06] EricStG commented on #11346
There's an issue for it on the [tracker](https://issuetracker.google.com/issues/184556867) but it doesn't seem to have much traction

[2022-07-14 16:53] edwardmedia commented on #12084
I am not sure what happened. Waiting for the debug log to take a close look

[2022-07-14 17:11] edwardmedia commented on #12081
@fribeiro1 don't you need to provide {location} in the below endpoint?

POST https://dataflow.googleapis.com/v1b3/projects/{projectId}/locations/{location}/jobs

https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.locations.jobs/create

Is this what you referred to when {location} is not provided? It is pretty clear not recommended.

[code]

[2022-07-14 17:13] esteban-castillo opened #12095 "Terraform doesn't apply changes to column length in bigquery table despite having been excecuted succesfully"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-14 18:17] esteban-castillo commented on #12095
[code]

[2022-07-14 18:33] itsavvy-ankur commented on #9956
Hi, I have recently stumbled on this as well. Just wondering if this is being worked upon or any workarounds exist for creating the trigger for GitHub enterprise repositories?

[2022-07-14 19:02] fribeiro1 commented on #12081
@edwardmedia No, you don't. I know it is odd. Still, I think the provider should align with the other tools.

[2022-07-14 19:44] edwardmedia commented on #12095
b/239072731

[2022-07-14 20:28] #12081 closed, assigned to edwardmedia

[2022-07-14 21:04] #9961 closed

[2022-07-14 21:44] wyardley opened #12099 "permadiff on google_sql_database_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-14 21:47] edwardmedia commented on #12069
@Vermyndax I don't see the code in the resource that uses the pattern. The issue seems to be clear.
1) how do you verify the Terraform runner account has the right permissions. To test, can you use an account of the project owner to run?
2) I guess you have enabled these two services `Cloud Run Admin API` and `Cloud Scheduler API`. But double check
3) Is `72154013424` is right project you are work

[2022-07-14 22:51] edwardmedia commented on #12095
@esteban-castillo update maxLength from 50 to 10 is not allowed. Can you try from 10 to 50 instead?

https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language#alter_column_set_data_type_statement

[2022-07-15 00:56] fribeiro1 commented on #12081
@edwardmedia I'm afraid I have to disagree with your evaluation, but I appreciate your attention to the issue. Regards.

[2022-07-15 05:31] srs2210 commented on #12049
I was able to replicate this issue as well and this error occurs when deploying the `google_sql_user` resource.

I believe the issue originates from the [PR# 11834](https://github.com/hashicorp/terraform-provider-google/pull/11834) where modifications were made to `google_sql_user` resource in provider version [v4.25.0](https://github.com/hashicorp/terraform-provider-google/releases/tag/v4.25.0).

[2022-07-15 06:40] brajesh-singh commented on #10946
+1
if `google_sql_user` , type attribute is either `CLOUD_IAM_SERVICE_ACCOUNT` or `CLOUD_IAM_USER` and you use `host` attribute with any values (other than null), it gives terraform error   " Error: Error, failure waiting for insertion"
with Google SQL-Admin API error --
[code]

[2022-07-15 14:57] jlevesy opened #12102 "Setting an authenticator_groups_config forces cluster replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-15 15:08] Thomasdezeeuw opened #12103 "Follow up to #6127"
This is a follow up to #6127, but that is locked so I can't ask my question their.

In https://github.com/hashicorp/terraform-provider-google/issues/6127 the issue was raised that when an instance is deleted and recreated (no updated in place) it will no be added back the instance group. The issue was closed pointing to https://github.com/hashicorp/terraform-plugin-sdk/issues/122. Fortunately it w

[2022-07-15 15:58] SarahFrench commented on #11131
@/megan07 suggested I take a look at this issue, but after looking I think this is a known issue stemming from an old provider version (👉 [see description from 2021](https://github.com/GoogleCloudPlatform/magic-modules/pull/4643#discussion_r605168759)) rather than a current issue requiring a fix.

@sharmaansh21 if you're still having this problem, and you're using a version of the provider around

[2022-07-15 15:59] esteban-castillo commented on #12095
Yes, we tried that as well and the behaviour is the same

[2022-07-15 17:16] slevenick commented on #12103
What version of the Terraform CLI are you using? I think the fix is not applied in the provider itself, it's a meta-argument you can add to your config according to https://github.com/hashicorp/terraform-plugin-sdk/issues/122#issuecomment-1114912583

[2022-07-15 17:31] slevenick commented on #11891
Very strange, it looks like during the Read function we set an invalid value that isn't in the schema, but I would expect this to fail during the test. It appears we aren't receiving this block back from the API which is why the test hasn't been failing.

@lra are you able to provide a debug log that shows the GET request that is issued and the corresponding response that I suspect has the sql_ser

[2022-07-15 17:40] SarahFrench commented on #12021
I've been working on implementing this - going to open a PR soon

[2022-07-15 19:25] tsamaras opened #12106 "Add support for setting the Dataproc Metastore endpoint protocol"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-15 19:43] tsamaras opened #12108 "Add support for Auxiliary versions to google_dataproc_metastore_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-15 20:46] pbr0ck3r opened #12111 "Google Storage Notification fails and seems to use wrong service account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-15 21:36] nosammai opened #12112 "Getting instance name from google_compute_instance datasource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-16 03:31] edwardmedia commented on #12112
@nosammai can you share what you see if you run `terraform show`? Particularly the data source `google_compute_region_instance_group`?

[2022-07-16 06:46] DrFaust92 commented on #12108
ill take a look at this

[2022-07-16 13:44] DrFaust92 commented on #12106
https://github.com/GoogleCloudPlatform/magic-modules/pull/6214 added support for endpoint_protocol to allow for GRPC endpoints

[2022-07-16 21:48] carlos4ndre commented on #1758
@rileykarson It would be great to have support for `resource_labels` at the node pool level, as you highlighted in your example.

Looking at the [REST API](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/NodeConfig) and [SDK](https://cloud.google.com/sdk/gcloud/reference/container/node-pools/create) this feature doesn't seem to be supported yet, so at the moment the default behav

[2022-07-17 07:46] jbg commented on #11918
This was missed from the release notes / changelog, and is a breaking change; previously the `external_ipv6_address` attribute was always set to an empty string, whereas now it seems that it's either a valid IPv6 address or `null`. We had hacks in place before to deal with the empty string, and those hacks now cause the TF plan to error out when an instance doesn't have an IPv6 address (because pa

[2022-07-17 13:02] carlos4ndre commented on #1758
Having support for `resource_labels` at the node pool level is particularly useful for billing, as we can do cost allocation per Team by setting a `team` label.

[2022-07-17 15:39] edwardmedia commented on #12070
@volodymyr-stoiko I am not sure if you can 100% avoid the accounts like ` gserviceaccount.com`. Below is the doc that you may want to review.
https://cloud.google.com/iam/docs/service-accounts#google-managed

The issue you are facing in creating gke clusters seems to be the reason. If you are using other services, could see more. Here is the list of Google managed service agents.

https://cloud.go

[2022-07-17 15:47] edwardmedia commented on #11920
@tSte my understanding is that you are using a service account that has the key file `application_default_credentials.json`, like [here](https://cloud.google.com/docs/authentication/production#passing_variable). What role did you give to that service account?

https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#credentials

[2022-07-18 05:30] rashmi1s opened #12114 "Add support for changing machine type of secondary dataproc workers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-18 12:06] Thomasdezeeuw commented on #12103
We're using 1.2.4-r0 (from Alphine).

I guess I misunderstood the linked comment. I though it mean that providers could indicate that another provider could change it's value. So, the Google provider could indicate that an instance could affect a group. But I'll give `replace_triggered_by` a manual try first.

[2022-07-18 13:43] harsha-chamarthi commented on #10962
I am facing the same issue too, works only after i do a terraform destroy. Expected behaviour is, for a replacement it should execute first a delete and then a create

[2022-07-18 13:48] reinaldo-pinto commented on #12023
Hi @edwardmedia,  you have some idea ?

[2022-07-18 13:53] edwardmedia commented on #12070
Closed per suggestion

[2022-07-18 13:53] #12070 closed

[2022-07-18 16:43] #11959 closed

[2022-07-18 16:47] edwardmedia commented on #12049
https://github.com/hashicorp/terraform-provider-google/issues/11891

[2022-07-18 16:50] edwardmedia commented on #11950
That is correct. @steenblik Closed this issue then. Thank you

[2022-07-18 16:52] edwardmedia commented on #11922
Closed this assuming this is no longer an issue

[2022-07-18 16:52] #11922 closed

[2022-07-18 17:19] edwardmedia commented on #12016
@dxk185 it should work as configured like [this](https://github.com/hashicorp/terraform-provider-google/issues/12016#issuecomment-1177728530). Closing this question then.

[2022-07-18 17:19] #12016 closed, assigned to edwardmedia

[2022-07-18 17:29] #12052 closed

[2022-07-18 17:45] rileykarson commented on #12089
This seems to be closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/6272

[2022-07-18 17:45] #12089 closed

[2022-07-18 17:49] rileykarson commented on #12075
Note: we're planning to add a table to one of the repos that links resource <> contribution type (based on engine, handwritten/mmv1/tpgtools)

[2022-07-18 18:06] c2thorn commented on #12106
From what I can tell https://github.com/GoogleCloudPlatform/magic-modules/pull/6214 has done this and is scheduled to release soon. If there is more, please let us know specifically.

[2022-07-18 18:06] #12106 closed

[2022-07-18 18:10] zhan5380 opened #12117 "Terraform module to create non-classic Global HTTP(S) with serverless negs."
Is there any terraform module to create non-classic Global HTTP(S) with serverless negs?

[2022-07-18 20:28] #11957 closed

[2022-07-18 20:33] #11855 closed, assigned to nobody

[2022-07-18 20:53] edwardmedia commented on #12018
@voycey any update?

[2022-07-18 20:54] edwardmedia commented on #12049
closing this as a dup #11891

[2022-07-18 20:54] #12049 closed

[2022-07-18 20:55] edwardmedia commented on #12066
@choudharira is this still an issue?

[2022-07-18 21:07] edwardmedia commented on #12023
@reinaldo-pinto the payload looks fine to me. The error of `FAILED_PRECONDITION ` came from API. Is your GCP account a trial account? Check out to see if there are external issues, such as billing, etc.

[2022-07-18 21:29] edwardmedia commented on #12056
@melinath Can you help check what went wrong?

[2022-07-18 22:14] Jberlinsky opened #12119 "Missing Resource: Active Directory Domain Peering"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-18 22:50] melinath commented on #12023
That's definitely an error from the API.

If the error is due to the provider constructing an invalid request, that would be a provider bug. However, it's more likely a configuration error. Since it's intermittent - it could be a race condition or a flakey bug on the API side.

[2022-07-18 22:58] saikrishnakudelli opened #12120 "Terraform unable to recognize private service access connection for FileStore in Shared VPC"
Hi There,

Terraform is not recognizing "private service access connection" in the host project part of the shared VPC setup. It is complaining on UNSUPPORTED argument : An argument named "connect_mode" is not expected here when trying to create a **FileStore** instance in the service project.

**Terraform Version and Provider Versions:**

[code]

**Terraform Configuration Files**

[code]

**Expec

[2022-07-18 23:23] mfhuang opened #12121 "terraform plan is hanging at refreshing state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-18 23:28] rileykarson commented on #11714
Done in the PRs above.

[2022-07-18 23:28] #11714 closed

[2022-07-19 00:52] voycey commented on #12018
The only update is workarounds that need to be done to solve this temporarily - I stand by this being a bug that needs to be addressed.

I have got it applying with the following but haven't tested the connectivity yet

[code]

[2022-07-19 02:21] wata727 commented on #12099
Same issue here. Perhaps this is the effect of [`secondary_zone` added in v4.28.0](https://github.com/hashicorp/terraform-provider-google/pull/11996). In our case, we were able to work around this issue by setting the `secondary_zone` attribute.

[2022-07-19 03:36] edwardmedia commented on #12112
@nosammai can you try function tolist() like below to see if that works for you?

[code]

[2022-07-19 03:46] edwardmedia commented on #12121
@mfhuang I can't open the log file you provided under Debug Output. It gives me 404 error. I can't open the GCP support ticket either as I don't have access to your project.

Are these only happening for resources `google_compute_*`? Do you have other non `google_compute_*` resources in the plan? How many resources does it have in the plan? Are you using a lot of dynamic blocks?

[2022-07-19 04:20] wyardley commented on #12099
Thanks for that reference. Also mentioning
https://github.com/terraform-google-modules/terraform-google-sql-db/issues/320
and the upstream for the issue you linked
https://github.com/GoogleCloudPlatform/magic-modules/pull/6178

[2022-07-19 04:49] wyardley commented on #12099
The issue does seem to be that `secondaryZone` (which is now supported) is set at the API level for the affected instance; however, as best I know, we haven't set it explicitly in the past.

Wondering if there's any way to unset it (e.g., using `gcloud sql instances patch`), vs. adjusting the terraform code to match.

[2022-07-19 08:09] smbugua commented on #10694
would love to help work on this too. trying out this tool but would love it on tf

[2022-07-19 09:36] marc-at-boum opened #12122 "Cannot deploy google api gateway config with wildcards in endpoint path"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-19 11:45] JPMoresmau commented on #12103
Unfortunately, `replace_triggered_by` sent me a rabbit hole and didn't fix my issue. So when I asked for the instance group to be replaced when the instances change, it doesn't work because that instance group is being referenced by other things (a load balancer backend service, etc.). I tried then to add `create_before_destroy` but this fails as well because we have things like IP addresses that

[2022-07-19 11:57] steenblik opened #12123 "Add support for cmekSettings on google_logging_project_bucket_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-19 13:10] shumak80 opened #12124 "Resize boot disk cause destroy and recreate VM"
### Terraform Version
Terraform v1.2.2

### Affected Resource(s)

* google_compute_instance

### Terraform Configuration Files

resource "google_compute_instance" "default" {
  name              = "vm1"
  machine_type = "e2-standard-2"
  zone               = "europe-west3-a"

  boot_disk {
    initialize_params {
      image = "debian-cloud/debian-10"
      size = "20"
      type = "pd-standard"

[2022-07-19 15:36] edwardmedia commented on #12122
@marc-at-boum  it seems to be fine in your `post` call. API complains about `{device}`.  I did not see it until it shows up in the error. Is that part of the yaml file? I am not sure how you can use the wildcard in the yaml if that is true. There is little the provider can help. Here is the API doc that might help you resolve the issue https://cloud.google.com/api-gateway/docs/reference/rest/v1bet

[2022-07-19 15:44] edwardmedia commented on #12124
@shumak80 did you notice the discussion in https://github.com/hashicorp/terraform-provider-google/issues/8597 Is that relevant?

[2022-07-19 16:19] melinath commented on #12023
b/239472726

[2022-07-19 16:41] #12018 closed

[2022-07-19 17:21] mfhuang commented on #12121
@edwardmedia I had to remove the debug output because it contains some internal data, but now it's updated: https://gist.github.com/mfhuang/3d9efb1a974adf48ae2f0c510b762717

We have only a few other resources but GCE is the majority. We have total 251 resources in our plan.
I will take a look at the other hanging issues as well. Thanks!

[2022-07-19 17:51] edwardmedia commented on #12121
@mfhuang your log reveals little regarding the work at the provider level. How did you know this happened on the resources `google_compute_*`? Where is the remote state? How good is the connection between your Terraform runner and the bucket where the state is?
Yes, let me know what you find after you reviewed the earlier reported issues

[2022-07-19 18:06] #11161 closed

[2022-07-19 18:06] #11227 closed

[2022-07-19 18:13] slevenick commented on #12103
I'm not very familiar with replace_triggered_by, but if it doesn't work in the way you expect it may be worth bringing that up with the SDK team directly. Does it not cause all the dependent resources to be recreated when the instance group is destroyed?

Overall I don't think we have a good way of handling this from within the provider, so if replace_triggered_by doesn't solve for your use-case w

[2022-07-19 18:47] #11963 closed

[2022-07-19 18:52] wyardley commented on #12099
That tracks with what I know - I can imagine that someone may have viewed or edited (as a noop) the instance in the cloud console, and also agree that this may be outside of what the provider itself can solve (i.e., it's not really a bug or provider permadiff, however, as I don't recall anyone setting this explicitly for this instance vs. any other, the behavior is still unexpected / undesirable.

[2022-07-19 19:14] #11738 closed

[2022-07-19 19:26] mfhuang commented on #12121
@edwardmedia the debug and trace logs didn't tell us much so we don't actually know what is happening. `terraform plan` just hangs at refreshing state and google_compute_forwarding_rule.bastion_http happens to be the last resource in the log.
This is the log from TFE console after we cancel the run.
[code]

We host our private terraform enterprise in cloud. I'm reaching out to our SRE team to get

[2022-07-19 20:27] melinath commented on #12056
It looks like this is a problem with the crypto key import. After create the id looks like `projects/<project-id>/locations/europe-west3/keyRings/test-key-ring/cryptoKeys/test-key1`. After import with the short id, the resource id looks like `<project-id>/europe-west3/test-key-ring/test-key2` - it's not actually a full id, which is why the URL for the crypto key version ends up being wrong.

[2022-07-19 20:54] wyardley commented on #12099
So maybe closing this and creating an issuetracker ticket is the right thing? I asked on the GCP slack if there's an "under the hood" way to zero out that field again, but haven't gotten a response yet.

[2022-07-19 22:20] melinath commented on #12056
b/239617381

[2022-07-19 22:37] melinath commented on #12056
It looks like there would be a couple potential fixes:

1. modify the data source for crypto key versions so that it allows the crypto key id to be in the import format.
2. modify the crypto key resource to always set a full ID rather than using the passed-in import id

My preference would be the latter unless it's a breaking change.

[2022-07-19 23:36] #11653 closed

[2022-07-19 23:55] Vermyndax commented on #12069
Hey @edwardmedia ...

1. The Terraform runner and service account does have owner permissions. I am using the same repo/account to deploy other resources from the same repository. Currently, this is the only resource that is failing.
2. Verified that Cloud Run and Cloud Scheduler APIs are enabled. I had also hand-created a version of this resource in Cloud Scheduler and it worked fine as well. We

[2022-07-20 00:49] Vermyndax commented on #12069
@edwardmedia I figured out the issue. The issue is that this resource cannot talk to the API with the project number, it requires the friendly project_id instead. Other resources in the provider resolve to the proper project fine, but this one does not. Changing to the friendly named project_id resolved the issue.

I still think this is a bug since other resources handle this fine, but it may be a

[2022-07-20 06:53] MarioIshac commented on #10694
+1 on this, often IDS is required for compliance, and having it configurable via Terraform makes it reproducible.

[2022-07-20 06:56] tSte commented on #11920
I'm not using service account, I'm using my own account.

[2022-07-20 08:35] X4mp commented on #9505
Any update on this?

[2022-07-20 09:40] loeffel-io commented on #11325
+1

[2022-07-20 12:48] IsaacDayan opened #12134 "Incorrect basePath for IAMBetaBasePathKey"
Missing the version number on api base path. ( /v/  instead of /v1/)
Current: IAMBetaBasePathKey:              "https://iam.googleapis.com/v/"
According to docs shall use v1, like this "https://iam.googleapis.com/v1/"
docs: https://cloud.google.com/iam/docs/reference/rest/v1/projects.locations.workloadIdentityPools/create

line: https://github.com/hashicorp/terraform-provider-google/blob/45d1cb75e

[2022-07-20 13:41] lra commented on #11891
There you go, I had to redact a few things, I also used the latest versions:
[code]
[code]

[2022-07-20 14:48] edwardmedia commented on #12112
@nosammai don't you get anything from below outputs?

[code]

[2022-07-20 15:11] solumos commented on #11743
What would it take to get this done? Since the resource is already in magic modules, does that mean a PR similar to https://github.com/hashicorp/terraform-provider-google-beta/pull/4389 ?

[2022-07-20 16:38] c2thorn opened #12135 "Remove CGC region tags from terraform.io docs"
remove the header region tag like at https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudfunctions2_function from the docs examples

[2022-07-20 17:06] #11958 closed

[2022-07-20 17:22] mfhuang commented on #12121
Any other suggestion how to debug/troubleshooting the issue @edwardmedia
Our Terraform Enterprise cluster is hosted in AWS but the connection between AWS and Google should be via a pretty fast direct connect.
I also checked our TFE server logs and didn't see any interesting things other than the heartbeat requests from the UI while the plan is hanging at refreshing state.

[2022-07-20 18:50] solumos commented on #11743
Did a bit more research - it appears that the schema hasn't been updated, so the bulk of this work would mean adding the following resources to [mmv1/products/cloudrun/api.yaml](https://github.com/GoogleCloudPlatform/magic-modules/tree/main/mmv1/products/cloudrun/api.yaml) + [mmv1/products/cloudrun/terraform.yaml](https://github.com/GoogleCloudPlatform/magic-modules/tree/main/mmv1/products/cloudru

[2022-07-20 19:51] c2thorn commented on #10645
Hey folks, sorry you've run into this issue. For clarity:
`network` and `subnetwork` fields are not supported at all in the providers
`network_config` is only in the google-beta provider.

Given that, if you are running into `Blocks of type "network_config" are not expected here.` using an updated google-beta provider, please post a sanitized debug log as I am unable to reproduce myself.

[2022-07-20 21:13] melinath commented on #11502
This succeeded for a while in May/June but is back to 100% failure

[2022-07-20 21:17] melinath opened #12138 "Failing test(s): TestAccPrivatecaCertificate_* failure: Tenancy unit reached the maximum number of tenant projects"
Failure rate:
- TestAccPrivatecaCertificate
  - 65% July 1-20 2022 but 81% since first error

Impacted tests:
- TestAccPrivatecaCertificate_privatecaCertificateUpdate
- TestAccPrivatecaCertificate_privatecaCertificateConfigExample
- TestAccPrivatecaCertificate_privatecaCertificateCsrExample
- TestAccPrivatecaCertificate_privatecaCertificateWithTemplateExample
- TestAccPrivatecaCertificate_privatec

[2022-07-20 21:22] melinath opened #12139 "Failing test(s): TestAccMonitoringMetricDescriptor_update (permadiff)"
### Affected Resource(s)

* google_monitoring_metric_descriptor

Failure rate: 100% since 7/15/2022

Impacted tests:
- TestAccMonitoringMetricDescriptor_update

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/315760?buildTab=tests&expandedTest=-1336336578166089859

Message:

[code]

[2022-07-20 21:26] melinath opened #12140 "Failing test(s): TestAccIAMBetaWorkloadIdentityPool_*"
Failure rate:

- 100% since added 7/9/2022

Impacted tests:
- TestAccIAMBetaWorkloadIdentityPool_iamWorkloadIdentityPoolBasicExample
- TestAccIAMBetaWorkloadIdentityPool_iamWorkloadIdentityPoolFullExample
- TestAccIAMBetaWorkloadIdentityPoolProvider_iamWorkloadIdentityPoolProviderAwsBasicExample
- TestAccIAMBetaWorkloadIdentityPoolProvider_iamWorkloadIdentityPoolProviderAwsFullExample
- TestAccIAM

[2022-07-20 21:37] melinath opened #12141 "Failing test(s): TestAccDNSManagedZone_dnsRecordSetBasicExample"
Failure rate:
- 100% since added 6/7/2022

Impacted tests:
- TestAccDNSManagedZone_dnsRecordSetBasicExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/315760?buildTab=tests&expandedTest=2265647454284273382

Message:

[code]

[2022-07-20 22:23] rileykarson commented on #11743
I would imagine only `jobs` is necessary (the others don't seem to be CRUD resources, and don't make as much sense as Terraform resources), but otherwise yes!

[2022-07-20 22:32] melinath opened #12142 "Failing test(s): TestAccContainerNodePool_xxxx "No valid versions with the prefix "1.19" found""
Failure rate:
- 100% since 6/16/22

Impacted tests:
- TestAccContainerNodePool_gvnic
- TestAccContainerNodePool_gcfsConfig

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/315760?buildTab=tests&expandedTest=-1979449378611059623

Message:

[code]

[2022-07-20 22:45] melinath opened #12143 "Failing test(s): TestAccComputeDisk_imageDiffSuppressPublicVendorsFamilyNames"
Failure rate:
- 100% since 7/13/2022

Impacted tests:
- TestAccComputeDisk_imageDiffSuppressPublicVendorsFamilyNames

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/315760?buildTab=tests&expandedTest=-7980878948564565037

Message:

[code]

[2022-07-20 23:41] #12134 closed

[2022-07-21 01:00] shigwata commented on #11642
other examples are also wrong.

[2022-07-21 02:00] muhammadaldyan opened #12148 "Error when provision read replica with binary log enabled"
I used this module to provision my cloudsql https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_database_instance

1. Provision master and read replica using terraform module above (version 5.7)
2. Enable binary log on read replica using gcloud command
3. But when running terraform apply, the error occurred :

│ Error: Error, failed to update instance settings for :

[2022-07-21 04:13] collardmsc opened #12149 "google_sql_database_instance: disk_autoresize listed 2x in [sql_database_instance.html.markdown]"
### Terraform Version
1.2.5

### Affected Resource(s)

https://github.com/hashicorp/terraform-provider-google/blob/main/website/docs/r/sql_database_instance.html.markdown

google_sql_database_instance

### Expected Behavior

The latter [disk_autoresize] should be [disk_autoresize_limit]

### Actual Behavior

[disk_autoresize] is written twice

### References

The pull request where a second [disk_

[2022-07-21 05:34] mfhuang commented on #12121
We found out that the hanging issue was caused by another provider. After we upgraded that provider, we were able to run the plan. Thanks for looking into this issue.

[2022-07-21 05:34] #12121 closed

[2022-07-21 05:57] saikrishnakudelli commented on #12120
Never mind I fixed this issue, Please ignore this request.  Terraform documentation was poor, it should be improved.

[2022-07-21 05:57] #12120 closed

[2022-07-21 09:14] manojchinnala opened #12150 "Restore functionality for Bigtable using terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-21 12:44] AlbertMoser opened #12151 "Add TTL Policy to Firestore"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-21 13:37] edwardmedia commented on #12148
@muhammadaldyan can you post the terraform config and gcloud command you used so I can repro the issue?

[2022-07-21 13:50] edwardmedia commented on #12112
@nosammai how did you get [this](https://github.com/hashicorp/terraform-provider-google/issues/12112#issuecomment-1188353387) when the plan is failing? You may want to comment the issue resources first to debug the problem....

[2022-07-21 14:02] edwardmedia commented on #11891
b/239809673

[2022-07-21 15:31] jon-at-rithmik commented on #12140
These WIP resources were promoted to GA. I can't speak to the naming, but the resources are no longer available via beta REST api, they are on v1 api. But, the latest provider release tries to reach them with invalid URL, so these resources are not usable at all with any version of the provider.

[2022-07-21 15:42] #12149 closed

[2022-07-21 15:43] apparentlymart commented on #12043
Hi @slevenick,

Yes, I think your result here indicates that. I believe `DiffSuppressFunc` in SDKv2 works by literally deleting all of the entries in the "diff" (an internal SDK structure) that are related to the attribute that the `DiffSuppressFunc` was attached to, and so if the _old_ value had no value for this attribute either then the SDK will end up constructing an object which has this attr

[2022-07-21 15:50] slevenick commented on #12043
Looks like adding `(new == "0" || new == "")` does fix the issue. Yeah it's unexpected that the DiffSuppressFunc is called for a new resource, I can't imagine a time where that is useful

[2022-07-21 16:17] melinath opened #12154 "Failing test(s): TestAccCloudRunService_*"
Failure rate:
- 100% since added 7/15/2022

Impacted tests:
- TestAccCloudRunService_cloudrunServiceIdentityExample
- TestAccCloudRunService_cloudRunSystemPackagesExample
- TestAccCloudRunService_cloudRunServiceScheduledExample
- TestAccCloudRunService_cloudRunServiceStaticOutboundExample
- TestAccCloudRunService_cloudRunServiceConfigurationExample

Nightly builds:
- https://ci-oss.hashicorp.engin

[2022-07-21 17:03] connor-napster commented on #11408
@rileykarson  or @k-ezis any update on this?

[2022-07-21 17:14] philip-harvey opened #12155 "Add support for matches suffix and prefix to google_storage_bucket lifecycle_rule block"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-21 18:08] melinath commented on #11571
This might be resolved by https://github.com/hashicorp/terraform-provider-google/pull/12065 but according to feedback on https://github.com/hashicorp/terraform-provider-google/issues/12140 it sounds like the GA version is not currently working - there may have been some changes to the API between beta and GA.

[2022-07-21 18:08] melinath commented on #12140
It looks like the beta API still exists for now (which is why our beta tests are still passing) but is marked as deprecated. It's possible something significant changed between beta & GA, which could be why the GA tests are failing. Based on the feedback above it sounds like this represents a real bug for users.

b/239836939

[2022-07-21 18:15] edward-lui-exa commented on #10645
I changed the provider and it works for me now.

[2022-07-21 18:17] #12043 closed

[2022-07-21 18:28] melinath commented on #12141
b/239838250

[2022-07-21 18:39] melinath commented on #11899
Updated permissions. Rerunning test: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/316326

[2022-07-21 18:44] jon-at-rithmik commented on #12140
The error message reveals cause:

[code]

"v" is the invalid part, there should be a 1/2/3 after it. It lines up with [this line](https://github.com/modular-magician/terraform-provider-google/blob/0c1eb75297565aec63f6d35b7439e214dd27d204/google/config.go#L385) from the promotion PR.

I'm not familiar with building providers or else I'd try a local fix.

[2022-07-21 18:46] #10645 closed

[2022-07-21 18:50] melinath commented on #11906
Updated permissions. Test run: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/316330

[2022-07-21 18:52] melinath commented on #11899
Resolved.

[2022-07-21 18:52] #11899 closed

[2022-07-21 18:58] melinath commented on #11819
Updated permissions. Test run: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/316333

b/239844638

[2022-07-21 20:15] #12141 closed

[2022-07-21 20:17] melinath commented on #11906
Retrying in case it just needed time to propagate: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/316345

[2022-07-21 20:18] melinath commented on #11819
Permissions seem to work; now failing with a new error. Retrying in case it's transient: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/316347

[2022-07-21 20:44] megan07 opened #12159 "Handle gRPC ListenSocket logs"
Handle the `ListenSocket *` logs that are coming through via logrus. I think we'll want to either
* see if we can make it work by using the standard go log for gRPC logging
* see if we can configure logrus in a way that will work with the SDK's logging

[2022-07-21 20:50] melinath commented on #11912
I was able to disable and re-enable the API but now the service account doesn't seem to exist at all - maybe it gets created on first usage? attempting a test re-run: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/316349

[2022-07-21 20:51] melinath commented on #11819
looks like that error was transient; marking this resolved.

[2022-07-21 20:51] #11819 closed

[2022-07-21 20:53] melinath commented on #11912
b/239856827

[2022-07-21 20:55] melinath commented on #11912
test run failed - looks like it may take a few minutes to propagate

[2022-07-21 20:57] melinath commented on #11912
both SAs exist now, retrying https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/316351

[2022-07-21 21:05] melinath commented on #11912
retrying https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/316353

[2022-07-21 21:12] melinath commented on #11906
There was another permission missing. retrying: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/316355

[2022-07-21 21:22] melinath commented on #11912
Passed

[2022-07-21 21:22] #11912 closed

[2022-07-21 21:26] melinath commented on #11826
I think this probably has the same root cause as https://github.com/hashicorp/terraform-provider-google/issues/11912, which is now resolved. Rerunning tests: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/316357

[2022-07-21 21:27] melinath commented on #11906
passing

[2022-07-21 21:27] #11906 closed

[2022-07-21 21:52] melinath commented on #10925
This is now passing.

[2022-07-21 21:52] #10925 closed

[2022-07-21 21:54] melinath commented on #11080
this is now passing

[2022-07-21 21:54] #11080 closed

[2022-07-21 21:55] melinath commented on #11826
yep, these are now passing.

[2022-07-21 21:55] #11826 closed

[2022-07-21 22:10] melinath commented on #11820
Added missing roles; running tests: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/316359

[2022-07-21 22:24] melinath commented on #12142
b/239865882

[2022-07-21 22:25] melinath commented on #12142
support for 1.19 was removed recently, so this is not a bug - it's an API-side change. https://cloud.google.com/kubernetes-engine/docs/release-notes#June_30_2022

[2022-07-21 22:32] melinath commented on #11820
Had a typo in the tests to run. Dicom succeeded, rerunning FHIR https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/316361

[2022-07-21 22:45] melinath commented on #12143
It looks like this is an API change - there are no suspicious PRs, and the test fails the same way if I check out an older version of the code.

[2022-07-21 23:00] melinath commented on #11820
Passed.

[2022-07-21 23:00] #11820 closed

[2022-07-21 23:26] edwardmedia commented on #12112
@nosammai  did you run `apply`?

[2022-07-22 05:47] shumak80 commented on #12124
@edwardmedia It's not related to #8597 ... #8597 is about downsize disk. My case is about increase size of disk. It can be done without any changes to VM instance.

[2022-07-22 10:31] flisak-robert opened #12160 "Can't import google_firebase_web_app resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-22 13:04] pawel-grz-krawczyk commented on #11037
`CertificateMap` and `CertificateMapEntry` were added 3 days ago: https://github.com/GoogleCloudPlatform/magic-modules/pull/6203

[2022-07-22 14:39] edwardmedia commented on #12160
@flisak-robert it seems fine with me with below command

[code]

https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/firebase_web_app#attributes-reference

[2022-07-22 14:54] flisak-robert commented on #12160
@edwardmedia
Thanks for looking into this. Could you please tell me what kind of authentication method you're using? I've stumbled upon some cases where the exact same code worked with service account authentication and didn't work with other authentication methods. I'm using Application Default Credentials (logged in using gcloud cli - `gcloud auth application-default login`), maybe that's the is

[2022-07-22 15:16] melinath commented on #12159
Added in https://github.com/GoogleCloudPlatform/magic-modules/pull/5139/files

[2022-07-22 16:23] #12142 closed

[2022-07-22 16:26] melinath commented on #12154
b/239869386

[2022-07-22 16:27] edwardmedia commented on #12160
@flisak-robert `gcloud auth application-default login` should work as long as the account has right permissions. Based on what you said below, it appears these accounts have different roles (permissions) assigned.

[code]

Here is the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#authentication) you might want to review regarding the supported

[2022-07-22 16:50] marchchad commented on #3074
I know this is digging up an old issue, but another solution would be to allow exporting the app engine firewall rule(s). This will allow terraform-ers to get the definition and state of the default rule. Then they can modify it to be "DENY" for example. This will allow the default rule to be modified rather than creating a new rule with a priority value one lower.

[2022-07-22 17:12] melinath commented on #12139
This is a real permadiff but it's not a breaking change since the labels field isn't ForceNew. I don't see any changes in the provider that would've caused this so it's probably an api-side change.

Specifically, it looks like the API is not properly updating the labels to remove the old label:

[code]

[2022-07-22 17:17] melinath commented on #12139
Oddly, this api doesn't actually seem to officially support updates at all - only create & delete. So it's odd that we're a) allowing update, and b) treating the update as an update

[2022-07-22 17:21] melinath commented on #9921
Note that the API [doesn't actually support an "update" operation](https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors/create), but it seems like "creating" something that already exists sort of updates it? This is how we currently handle updating the labels field to e.g. add new labels

[2022-07-22 17:33] melinath commented on #9921
b/239950421

[2022-07-22 17:33] melinath commented on #12139
b/239950166

[2022-07-22 17:38] melinath commented on #12140
Resolved by https://github.com/hashicorp/terraform-provider-google/pull/12145

[2022-07-22 17:38] #12140 closed

[2022-07-22 18:14] melinath commented on #11571
The bug was resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/6309 - so this is now resolved.

[2022-07-22 18:14] #11571 closed

[2022-07-22 20:31] #12154 closed

[2022-07-22 20:32] #12056 closed

[2022-07-22 20:58] edwardmedia commented on #12124
@shumak80 That is the boot_disk, right? Where did you see you can resize the boot_disk without recreation?

[2022-07-22 21:02] melinath commented on #12143
These are new images that were added, so this won't impact users with existing configs.

[2022-07-23 00:44] DanishKhakwani opened #12167 "Cloud composer ip_allocation_policy bug"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-23 14:43] cagataygurturk opened #12168 "google_netblock_ip_ranges requires credentials"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-23 16:50] pj opened #12169 "Import for google_iap_brand tries to recreate after terraform apply, destroy, import, apply sequence."
google_iap_brand tries to recreate a brand if you destroy it and then recreate.

### Terraform Version

[code]

### Affected Resource(s)

* google_iap_brand

### Terraform Configuration Files

[code]

### Debug Output

First run where brand doesn't exist:

[code]

Second run, destroying the brand:

[code]

3rd run, import brand:

[code]

4th run, apply again:

[code]

### Expected Behavior

Google

[2022-07-23 17:02] pj commented on #12169
Workaround is to set the project on the provider and remove the `project` field on the google_iap_brand resource:

[code]

You might need to run the google project creation in a different terraform project.

[2022-07-23 21:39] edwardmedia commented on #12167
@DanishKhakwani could you try something like below config
[code]

[2022-07-24 03:09] yehoshuadimarsky commented on #9151
+1 to this, any updates?

[2022-07-24 11:07] radeksimko opened #12170 "Use `quota_project_id` as a default project for resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-24 14:58] edwardmedia commented on #12099
@wata727 @wyardley  I can't repro this using the config [here](https://github.com/hashicorp/terraform-provider-google/issues/12099#issuecomment-1189369974). Reviewed the provider code, `secondary_zone` is defined optional. Based on the response under [output](https://github.com/hashicorp/terraform-provider-google/issues/12099#issue-1305317629)  it appears API sets a value to `secondary_zone` under

[2022-07-24 14:58] #12099 closed

[2022-07-24 15:15] edwardmedia commented on #12069
@Vermyndax I can't repro the issue. Mind post your debug log so I can take a closer look? What version of the provider are you using? (you have given the Terraform version)

[2022-07-25 04:29] muhammadaldyan commented on #12148
[verbose.txt](https://github.com/hashicorp/terraform-provider-google/files/9178021/verbose.txt)
[tf.txt](https://github.com/hashicorp/terraform-provider-google/files/9178022/tf.txt)
[log.txt](https://github.com/hashicorp/terraform-provider-google/files/9178023/log.txt)
[plan (2).txt](https://github.com/hashicorp/terraform-provider-google/files/9178024/plan.2.txt)
[log-with-verbose.txt](https://git

[2022-07-25 04:32] muhammadaldyan commented on #12148
[terraform.txt](https://github.com/hashicorp/terraform-provider-google/files/9178038/terraform.txt)
[terraform-tfvars.txt](https://github.com/hashicorp/terraform-provider-google/files/9178039/terraform-tfvars.txt)
[variables.txt](https://github.com/hashicorp/terraform-provider-google/files/9178040/variables.txt)
[versions.txt](https://github.com/hashicorp/terraform-provider-google/files/9178041/ve

[2022-07-25 04:41] muhammadaldyan commented on #12148
[main.txt](https://github.com/hashicorp/terraform-provider-google/files/9178062/main.txt)
[terraform.txt](https://github.com/hashicorp/terraform-provider-google/files/9178063/terraform.txt)
[terraform-tfvars.txt](https://github.com/hashicorp/terraform-provider-google/files/9178064/terraform-tfvars.txt)
[variables.txt](https://github.com/hashicorp/terraform-provider-google/files/9178065/variables.t

[2022-07-25 07:45] tomli-optus opened #12171 "Add support for new 'version' property in DLP - InfoType"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-25 10:37] shumak80 commented on #12124
@edwardmedia It's a common thing ... you can read about this [here](https://cloud.google.com/compute/docs/disks/resize-persistent-disk). Even you can try it via console. If you create a boot disk as separate resource and use it as source for boot disk, then you are able to resize boot disk without re-creation.

[2022-07-25 12:45] burnier commented on #11408
The official [Google documentation ](https://cloud.google.com/functions/docs/2nd-gen/overview#preview_limitations)says "Deploying from Cloud Source Repositories is not currently supported in Cloud Functions (2nd gen)." So how was it supposed to work in the first place?

[2022-07-25 13:20] ben-marengo-msmg commented on #9291
it's worth noting that the proposed workaround doesn't work if you want to run a template that you don't own. eg the [google managed public flex templates](https://console.cloud.google.com/storage/browser/dataflow-templates/latest/flex)

[2022-07-25 16:01] edwardmedia commented on #12148
@muhammadaldyan I am curious why you want to update the config via gcloud command (step 2)? Was the error from replica instance? What the config for your master? Can you try update the master with below config first to see if your issue is resolved?

[code]

[2022-07-25 17:23] edwardmedia commented on #11920
@tSte can you try using a service account instead of your User Credential? Giving that account with owner role for your project.

[2022-07-25 17:25] #10666 closed

[2022-07-25 17:45] rileykarson commented on #12170
We're not sure if we can access this project, and would prefer that users are explicit in their Terraform configuration rather than implicitly using this one.

I believe that we align on at least one project environment variable with gcloud for users that want to set it exactly once.

[2022-07-25 17:45] #12170 closed

[2022-07-25 17:49] rileykarson commented on #12155
Duplicates https://github.com/hashicorp/terraform-provider-google/issues/11990

[2022-07-25 17:49] #12155 closed

[2022-07-25 17:51] wyardley commented on #12099
Thanks all
@edwardmedia yes, after @wata727's comments, I agree that this is not a provider bug

@wata727 I created
https://issuetracker.google.com/issues/240108929
if you'd like to follow that or add additional comments

[2022-07-25 17:58] ben-marengo-msmg commented on #9291
@n-oden - i just understood what @rileykarson means here.

the workaround for having (FlexTemplateRuntimeEnvironment](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.locations.flexTemplates/launch#FlexTemplateRuntimeEnvironment) parameters is to define them in the `parameters` section

the workaround for labels is to both define them in the `parameters` section && use the depre

[2022-07-25 18:36] DanishKhakwani commented on #12167
Same error:
[code]

According to the [docs](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/composer_environment#use_ip_aliases) `use_ip_aliases` is not required to be set
[code]

Also this is Composer v1 Cluster.

[2022-07-25 20:09] black-snow commented on #10666
awesome @DrFaust92 !

[2022-07-25 20:53] melinath commented on #12139
b/239950421

[2022-07-25 21:23] melinath commented on #12143
b/239955917

[2022-07-25 23:43] edwardmedia commented on #12168
@cagataygurturk all terraform provider google resources follow the same pattern, share multiple layers of library. It is not a good idea to break that just for this. You may consider a terraform local provider without TPG.

https://registry.terraform.io/providers/hashicorp/local/latest/docs/resources/file#example-usage

[2022-07-25 23:44] #12168 closed

[2022-07-25 23:50] edwardmedia commented on #12169
@pj can you share the debug logs that shows all the api requests and responses?

[2022-07-26 08:54] flisak-robert commented on #12160
@edwardmedia Unfortunately, it is not a permissions issue since I'm the owner of this GCP/Firebase project. The import works if I explicitly set the project attribute in `provider` configuration. Previously, my provider configuration looked like this:
[code]
And now when I've changed it to this:
[code]
the import works. Why isn't the `project` field from the `google_firebase_web_app` resource prop

[2022-07-26 09:12] kashtan404 opened #12177 "VPN between GCP projects"
Hi, I see no option in [google_compute_vpn_tunnel](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_vpn_tunnel) resource to specify target "project" for vpn tunnel. Will it be added in the nearest future?
<img width="578" alt="Screenshot 2022-07-26 at 12 10 54" src="https://user-images.githubusercontent.com/26811914/180970091-b96de8f6-d55a-46db-9e18-09eb81890d

[2022-07-26 09:13] SarahFrench commented on #11813
Hi all! I had a look into this and it looks like you can only set a non-default service account via the gcloud CLI (as linked above in this PR), and the API doesn't have the ability to set non-default service accounts yet - [REST API reference here](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions). What we can manage in the provider is limited by what is

[2022-07-26 11:01] luis-guimaraes-exoawk commented on #6812
Hi, has there been any development regarding this issue?

[2022-07-26 14:00] edwardmedia commented on #12177
@kashtan404 here is the [api](https://cloud.google.com/compute/docs/reference/rest/v1/vpnTunnels) which is behind resource. There is no project. VPC tunnel is universal to the gateway on the other side while `project` is GCP specific. Does this make sense?

[2022-07-26 15:25] dlesco opened #12178 "resource bigquery_table "forces replacement" additional conditions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-26 15:42] lemoo5sg commented on #10692
Hi @megan07 ,

We have also faced the issue described as Expected Behavior / 2.

From our window Expected Behavior / 1 (The code should create a workload pool without a specified project) is not a priority, documentation could just be changed to required instead of optional.

However, we lost some time due to Expected Behavior / 2, the documentation says we have to use the project id, however it f

[2022-07-26 16:10] rolandkool opened #12179 "google_compute_router_nat missing support for NAT rules"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-26 16:21] megan07 commented on #10213
Closing given the comment above, this can be set in the `annotations` block.

[2022-07-26 16:21] #10213 closed

[2022-07-26 16:33] edwardmedia commented on #12178
@dlesco if I understand correctly, you want to recreate the table when a new filed is added. In this case, do you need to keep the existing data in the table? In most use cases, force-replacement is the last resort.
In your case, can't you add step to delete the resource first?

[2022-07-26 17:18] #11774 closed

[2022-07-26 18:50] #12143 closed

[2022-07-26 18:52] edwardmedia commented on #12167
@DanishKhakwani can you share your full debug log so I can take a close look?

[2022-07-26 18:57] edwardmedia commented on #12160
@flisak-robert yes, you do need to provide the project in somewhere. Great you have figured it out. Close the issue then

[2022-07-26 18:57] #12160 closed

[2022-07-26 19:03] edwardmedia commented on #12112
@nosammai can you try to test with a single node (just index = 0)? If not working, can you post your config and the debug log?

[2022-07-26 23:56] rjouhann commented on #11458
Here is another use case: automate the BGP creation with a partner (e.g. [PacketFabric](https://docs.packetfabric.com/cr/bgp/bgp_google/)).

I see 2 ways to approach this:

1. Update [existing data source](https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/compute_router) `google_compute_router` and add below new element to the data source output:

[code]

API refere

[2022-07-27 03:18] alanvuong opened #12185 "google_billing_budget services bug"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-27 04:31] prateek2408 commented on #9086
Issue has been fixed now

[2022-07-27 06:23] dimitdb opened #12186 "Unable to create google_iam_workload_identity_pool - the google api call is using incorrect api version"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-27 12:11] danil-smirnov commented on #11311
Faced the same issue since

See https://cloud.google.com/iam/docs/creating-custom-roles#deleting-custom-role

[2022-07-27 12:51] kutysam commented on #10679
+1 This is a bug. It is not supporting global field for location.

[2022-07-27 12:58] endorama commented on #7644
@claudio-vellage I can confirm that enabling `containerscanning.googleapis.com` API enables container security scanning. I've not tested the `ondemand` one, but I would expect it to work in the same way!

[2022-07-27 13:00] DanielMSchmidt opened #12188 "google_os_config_os_policy_assignment is under the wrong section in the documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-27 13:00] caiodelgadonew commented on #12148
I can confirm that this happens on any change of the settings for the `google_sql_database_instance` in a read replica,

We upgraded from provider 4.14 to 4.30, but we also tried lower versions from 4.25 up to 4.30, all them have the same issue.

My solution was to add a `lifecycle` to `ignore_changes` on the changed settings... but it is only a workaround.

Plan
[code]

This is what solved for us

[2022-07-27 13:47] edwardmedia commented on #12185
@alanvuong could you share the debug log?

[2022-07-27 14:01] edwardmedia commented on #12186
Dup. A fix is https://github.com/hashicorp/terraform-provider-google/issues/12134. Should be in provider next week

[2022-07-27 14:01] #12186 closed

[2022-07-27 14:34] dlesco commented on #12178
Not a physical table, a view.  When the type of the "table" is a View, rather than a Physical Table, the API does not allow you to add fields to the schema.  You need to recreate the view.  Views are also handled by this resource, because Views are a subtype of Table.

Views do not have any physical data that will be dropped when the view is recreated.

[2022-07-27 15:18] melinath commented on #9086
Resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/6250

[2022-07-27 15:18] #9086 closed

[2022-07-27 17:04] edwardmedia commented on #12148
@muhammadaldyan any change in below statement, which one as an example? In your case, there is a change [here](https://github.com/hashicorp/terraform-provider-google/issues/9561) that might be related to yours

[code]

[2022-07-27 17:55] shuyama1 commented on #10720
Closing this issue, as the feature should be available in v4.22.0+

[2022-07-27 17:55] #10720 closed

[2022-07-27 18:07] #7883 closed

[2022-07-27 18:21] Suresh-Sathish-Kumar opened #12191 "Schedule Backup functionality for Bigtable using terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-27 18:22] Suresh-Sathish-Kumar commented on #12191
Hi,

We are looking for a resource to be available for scheduling the bigtable backup via terraform.

Thanks,
Suresh

[2022-07-27 20:36] shuyama1 commented on #12124
It seems that in-place update for this field is not yet supported when the feature was implemented. Making it updatable is a feature request and making this issue as enhancement then.

[2022-07-27 21:37] Lockszmith-GH commented on #9459
An old thread, but I had an issue similar to this, following the discussion here and other part of the web, I ended up modifying the state and only then applying the new `metadata.startup-script`, this is what I run on the command line:

[code]

This modified the state, removing the `metadata_start_script` attribute, increments the serial, and pushes the new state.

Next I `plan`, and `apply` - an

[2022-07-27 22:12] joe-a-t opened #12193 "Add member attribute to all service account resources/data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-27 23:10] alanvuong commented on #12185
updated link to debug in initial post

[2022-07-28 01:15] alexbacchin-asx commented on #11448
I am not familiar with the contributing process, but we need to include an optional location parameter to the tags api definition
https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/products/tags/api.yaml

Similar to cloudrun
https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/products/cloudrun/api.yaml

[2022-07-28 05:32] saburo9 commented on #10694
+1 me too!  IDS is required for compliance,

[2022-07-28 07:24] edwardsPaul421 commented on #11813
Hey Sarah,
I have been trying to use the `app_yaml_path` flag and to specify the service account in it.
But unfortunately, It didn't work for me (Maybe I used it wrong), but non of the configuration that I wrote in the .yaml file was applied.

[2022-07-28 10:50] Thomasdezeeuw commented on #12103
@slevenick I'm going to close this for now. We couldn't get `replace_triggered_by` to work, but the double apply works well enough for at the moment so this has fallen of the list of priorities.

[2022-07-28 10:50] #12103 closed

[2022-07-28 13:54] edwardmedia commented on #12178
@dlesco I see what you meant now. I do not believe there is a mechanism available in terraform that can detect a change in another resource and handle something accordingly. To your case, besides deleting the `view`, you may also take a look at [terrafrom taint](https://www.terraform.io/cli/commands/taint#command-taint) to see if you can add it in your pipeline. What do you think?

[2022-07-28 14:59] tSte commented on #11920
It seems to be working with service account. Why doesn't it work with regular one?

[2022-07-28 17:46] mysolo opened #12194 "add labels parameter for google label on ressource cloudrun service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-28 18:02] #12119 closed

[2022-07-28 20:37] megan07 commented on #10692
Hi @lemoo5sg, were you using `data.google_project.project.project_id` or `data.google_project.project.id` when you were attempting the project id? I just want to clarify that I think you want to use `data.google_project.project.project_id` in this case.

[2022-07-28 20:54] edwardmedia commented on #12112
@nosammai it is failing on line 82 on `name` field. Looks like on your `local.instance_name[x]`. How come it is related to the state?

[code]

[2022-07-28 20:58] RenardTheFox commented on #11218
We're seeing the same problem across our projects and this has been going on for quite some time.

We've explored other options, including restructuring our resources to use "google_bigquery_dataset_access" or, even better (since it actually allows us to use the Google recommended BQ roles and not the BQ dataset level legacy basic roles they discourage people from using, especially in production)

[2022-07-28 21:05] andrewdelave opened #12196 "google_billing_budget projects bug"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-28 21:09] edwardmedia commented on #11920
@tSte I think the API's error message has explained a little bit. Glad it works with a service account. Closing the issue then

[2022-07-28 21:09] #11920 closed

[2022-07-28 21:11] edwardmedia commented on #12196
https://github.com/hashicorp/terraform-provider-google/issues/12185

[2022-07-28 21:14] CrackerJackMack opened #12197 "Missing support for region in google_compute_target_tcp_proxy resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-28 21:51] rileykarson opened #12198 "Split nightly and presubmit tests across multiple projects"
We run our nightly tests across both providers and our presubmits in the same test project. There are a set of resources with global quotas imposed by the design of the API that we're unable to get additional quota for within a single project. Given our project's highly unusual- putting up and tearing down nearly every kind of resource in GCP fairly constantly- we should take some corrective measu

[2022-07-28 22:12] alexanderjlee opened #12199 "Add BigQuery push subscriptions for Google Pub/Sub"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-28 23:23] #12188 closed

[2022-07-29 08:53] lemoo5sg commented on #10692
Hi @megan07 ,

Thanks for your help on this topic.

Our module do not use any data resource.
We are refering to the direct project attribute of the  google_iam_workload_identity_pool & google_iam_workload_identity_pool_provider resources.

From our testing, project has to be the project number, the resource fails when passing the project ID.
However the documentation refers to project ID:

`projec

[2022-07-29 13:29] edwardmedia commented on #12112
@nosammai do you still have an issue with using the data source? Try below line. It works for me. I did not see it was failing in your [error message](https://github.com/hashicorp/terraform-provider-google/issues/12112#issuecomment-1198328575).

[code]

[2022-07-29 15:30] MihaiBojin opened #12204 "Domain ownership verification failure when setting PTR record on google_compute_instance (public_ptr_domain_name)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-29 15:30] prateek2408 commented on #9113
@melinath - Can you assign this one to me please.

[2022-07-29 15:34] MihaiBojin commented on #12204
I assume the verification behavior is correct (i.e., the principal operating on the Compute Engine instance must be a verified domain owner).  If someone could confirm this, I'd be more than happy to submit a PR for the Terraform Provider page (and the [Google site](https://cloud.google.com/compute/docs/instances/create-ptr-record), though I suspect I wouldn't have access to it).

Thank you!

[2022-07-29 16:38] edwardmedia commented on #12112
@nosammai how about this?

[code]

[2022-07-29 17:15] shumak80 commented on #12124
Ok. Then it should be mentioned in terraform documentation. To warn everybody that this feature is not ready yet.

[2022-07-29 17:24] slevenick commented on #12112
This sort of makes sense to me based on the weird way the data source looks up the instance itself. It's a super old resource so it behaves a little strangely I think.

Basically, *most* datasources and resources require fields like name, location, zone to be set, but it looks like this datasource allows you to identify it by its self_link which is what you are doing. This work fine, but results i

[2022-07-29 17:36] slevenick commented on #12112
If the format of the self_link changed the provider code would have a bad time. I think it's fairly safe to depend on the name being the last element after splitting on "/"

[2022-07-29 17:50] slevenick commented on #12112
Not that I know of. If this was implemented today I would lean towards not supporting identifying the instance by self_link, and marking `name` as required

[2022-07-29 18:01] slevenick commented on #12112
I don't believe we actually receive this information from the API. If we implemented it we would simply be doing the same split on "/" and grab the last element logic.

I believe that's the best way to get just the name. Honestly the mix of names vs URLs in some of these Compute resources is frustrating, and there's not a great way to handle them

[2022-07-29 18:27] usingh83 opened #12208 "Enable root_password for Mysql and Postgres in cloudsql"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-29 18:29] usingh83 commented on #12208
I am working on this issue and have a PR https://github.com/GoogleCloudPlatform/magic-modules/pull/6329

[2022-07-29 18:31] usingh83 opened #12209 "Cloudsql password validation policy support for postgresql and Mysql"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-29 18:31] usingh83 commented on #12209
I am working on this in https://github.com/GoogleCloudPlatform/magic-modules/pull/6329

[2022-07-29 23:23] shuyama1 commented on #12196
@andrewdelave Thanks for filing the issue. Unfortunately, I was not able to reproduce the error. The request seems valid. I've already created a ticket internally to ask the service team to look into the problem as I don't think the error message returned by the API is accurate. b/240743529

[2022-07-30 11:56] DrFaust92 commented on #12199
looking into this

[2022-07-30 12:33] bschaatsbergen commented on #12151
I'll happily pick this up

[2022-07-30 18:25] damiancancela opened #12212 "Firewall rule, pipeline error"
Hello,

im trying to create a FW rule in GCP using Terraform 4.13 with this code over an orchestration pipeline.

Code

resource "google_compute_firewall" "ingress" {
  name    = "test-firewall"
  network = data.google_compute_network.shared_vpc.id

  allow {
    protocol = "tcp"
    ports    = ["8080"]
  }
  priority = "1020"

  source_ranges = ["35.191.0.0/16","130.211.0.0/22"]

}*/

Error

[2022-07-30 21:48] jtallar opened #12213 "Documentation: provider configuration is missing GOOGLE_PROJECT"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-07-31 03:19] lazcamus commented on #11448
Debugging this with `gcloud --log-http` on a compute instance. You can create a tagbinding with `gcloud` IF you provide `--location`.

I run:
[code]
which first calls the compute instances API to pull down the instance info, then POSTs this json payload to `https://us-central1-a-cloudresourcemanager.googleapis.com/v3/tagBindings?alt=json`:
[code]

So `gcloud` is doing 2 tricks: looking up the nume

[2022-08-01 11:13] maciekforycki opened #12215 "google_dns_record_set data source should return empty map rather than failing when no data found"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-01 13:13] edwardmedia commented on #12212
@damiancancela can you share your debug log?

[2022-08-01 13:15] edwardmedia commented on #12066
Closing the issue, assuming this is no longer an issue

[2022-08-01 13:15] #12066 closed

[2022-08-01 13:18] #12069 closed

[2022-08-01 13:19] edwardmedia commented on #12082
@fribeiro1 is this still an issue?

[2022-08-01 13:20] #12082 closed

[2022-08-01 13:22] damiancancela commented on #12212
Hello, ive fixed the issue creating a service account with proper roles permissions. That fixed the issue.

Thank you and sorry for bothering

[2022-08-01 13:22] #12212 closed

[2022-08-01 13:23] edwardmedia commented on #12084
@corey-hammerton closing the issue now. Please reopen if you have the debug log. Thanks

[2022-08-01 13:23] #12084 closed

[2022-08-01 15:07] #12199 closed

[2022-08-01 15:32] edwardmedia commented on #12215
@maciekforycki Most of resources & data sources behave like this. When you prepare the data source, don't you know if it has records already? Terraform is a tool helping us to build the infrastructure. Not a best one matching other programing languages. This is by design. Closing this issue accordingly

[2022-08-01 15:32] #12215 closed

[2022-08-01 15:39] edwardmedia commented on #12213
@jtallar I am seeing GOOGLE_PROJECT in the link you provide. Not sure exactly what you referred to `missing` It is under [full reference](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#full-reference) section. Can you check again or am I missing your point?

[2022-08-01 17:10] ambeshsingh commented on #10798
@unki regarding your statement to enable the storage-transfer API in both projects, I have created Composer, Dataflow, and many other services without enabling their respective APIs in the project which homes the service-account. Their APIs are enabled only in the project where these resources are being created. Also, I can run Terraform from my local machine right with my user credentials. Only w

[2022-08-01 17:29] xuchenma opened #12218 "Add support for nodeConfig in ApigeeEnvironment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-01 17:32] xuchenma opened #12219 "Add support for retention when deleting ApigeeOrganization"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-01 18:10] n-oden commented on #10486
Possibly worth mentioning in terms of prioritization: google seems to have recently (and silently) made a change that has resulted CloudSQL backups becoming instantly unavailable when an instance is deleted.  While this admittedly aligns with what the documentation has always said, the actual observed reality until this month was that as long as you had a record of the deleted database instance ID

[2022-08-01 20:49] edwardmedia commented on #11891
https://github.com/GoogleCloudPlatform/magic-modules/pull/6165#pullrequestreview-1030611518

[2022-08-02 11:36] alen-z opened #12220 "Control plane monitoring"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-02 12:31] SarahFrench commented on #11813
Just to follow this up - I went back to look at the API documentation and it appears that the page was updated on 2022-07-27 and now lists [serviceAccount as something that can be set via the API](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.service_account) 🎉

[2022-08-02 14:12] msampathkumar opened #12221 "compute_instance: Could not find image or family debian-cloud/debian-9"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-02 14:15] yungdarek122 commented on #12220
AFAIK, there is no prerequisite to add Terraform support to this feature. I am working on https://github.com/GoogleCloudPlatform/magic-modules/pull/6352 for that.

The API documentation should be updated accordingly soon.

[2022-08-02 14:46] edwardmedia commented on #12221
@msampathkumar you may run below command to see if the image is available. The error indicates the image might not. It is not something the terraform can control. Does this make sense?

[code]

[2022-08-02 14:57] #12021 closed

[2022-08-02 15:05] jogoldberg opened #12223 "Root of domain not returning correct record type or resource record data"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-02 15:27] edwardmedia commented on #12223
@jogoldberg could you share your full debug log?

[2022-08-02 15:31] jogoldberg commented on #12223
I'll need some time to redact it. It contains a lot of secrets.

[2022-08-02 15:43] jogoldberg commented on #12223
OK I distilled the log down to just the relevant section and have removed secret information.
https://gist.github.com/jogoldberg/990ac609add9e0c2ecec190901ce60c4

[2022-08-02 15:59] jogoldberg commented on #12223
Having checked the debug, it looks like terraform is getting a bad response from the API. I've opened an issue with Google.
https://issuetracker.google.com/issues/241076235

If you concur that this is the cause, please feel free to close this issue

[2022-08-02 16:01] edwardmedia commented on #12223
@jogoldberg this is what the api sent back (see in your log), the same as you reported originally. Closing the issue as you requested

[code]

[2022-08-02 16:01] #12223 closed

[2022-08-02 17:18] c2thorn opened #12226 "google_storage_bucket name does not validate correctly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-02 20:13] rileykarson commented on #12138
https://github.com/GoogleCloudPlatform/magic-modules/pull/6338 seems to have taken- the VCR failures are resolved and we're down to 704 outstanding CAPools. I think that means we'll burn down to 300-500, where we capped a hair below 900 previously.

[2022-08-02 20:26] jtallar commented on #12213
My bad @edwardmedia , I was looking at the incorrect section. This issue can be closed.

[2022-08-02 21:25] edwardmedia commented on #12213
Thanks @jtallar Closing now

[2022-08-02 21:25] #12213 closed

[2022-08-02 23:01] akhil-senroy opened #12232 "Unable to use existing Pub/Sub topic ID in eventarc"
### Issue Description

I am trying to deploy an eventarc trigger for type = google.cloud.pubsub.topic.v1.messagePublished trough Terraform.
Terraform seems to deploy a new Pub/Sub topic when I refer to the [documentation](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/eventarc_trigger). Is there a way we can specify an existing Pub/Sub topic ID?

[2022-08-03 07:17] edwardsPaul421 commented on #11813
@rileykarson Could you please add it to the backlog? I'm sure it will help a lot of people.

[2022-08-03 07:26] edwardsPaul421 opened #12234 "Support user-managed service account for app engine"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-03 09:50] Vasanth2896 opened #12235 "Provider crash"
### Affected Resource(s)

* google_*

Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

If this is a bug report (for when something is there, but doesn't work how it should), please use the [bug issue template](https:

[2022-08-03 14:02] megan07 commented on #12235
Hi @Vasanth2896! Sorry you're running into this issue. Would you mind sharing any debug logs we could see? Thanks!

[2022-08-03 14:29] SarahFrench commented on #12232
Hi there @akhil-senroy !

If I understand you correctly, you want eventarc to send messages to an existing Pub/Sub topic but currently it is making its own, right?

There is the ability to instruct eventarc to use an existing topic (e.g here's a [gcloud command where that's done](https://cloud.google.com/eventarc/docs/creating-triggers#pubsub-messages-existing-topic), and [the default behaviour se

[2022-08-03 15:23] SarahFrench commented on #12234
Duplicate of https://github.com/hashicorp/terraform-provider-google/issues/11813

I'm planning to make a PR for that issue soon, but it's a question of fitting it into my next sprint! If you'd like to have a go, the new feature would require changes in [these files](https://github.com/GoogleCloudPlatform/magic-modules/tree/main/mmv1/products/appengine) and these READMEs cover contributions ([magic

[2022-08-03 15:23] #12234 closed

[2022-08-03 15:59] roy-work opened #12236 "`enable_private_endpoint` is required, but documented as "Optional""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-03 16:24] #12220 closed

[2022-08-03 16:28] #12226 closed

[2022-08-03 16:34] edwardmedia commented on #12236
@roy-work I understand what you are experiencing. But [enable_private_endpoint](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#enable_private_endpoint) is part of [private_cluster_config](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#private_cluster_config) and they are only required when you want

[2022-08-03 17:02] c2thorn commented on #10824
https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#serviceexternalipsconfig

[2022-08-03 17:06] cxhercules opened #12245 "Adding enable_autopilot=false or via variable to google_container_cluster gives Error: Conflicting configuration arguments"
Hi I am trying to use a current module and make enable_autopilot a variable option, but just adding it to configuration and setting it to false explicitly returns `Error: Conflicting configuration arguments`.  If I set it up as a variable I get more of the same error.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-

[2022-08-03 17:08] andrewdelave commented on #12196
@shuyama1 appreciate the help. Believe we were able to find the root cause of the issue. Essentially the projects that were being specified in the `["projects/12345123456"]` block were newly created and not attached to the billing account. Believe that is why it was returning the 400 error. A more useful error message still might be helpful if people come across the same issue in the future.

[2022-08-03 17:12] edwardmedia commented on #12122
Closing assuming this is no longer an issue

[2022-08-03 17:12] #12122 closed

[2022-08-03 17:13] edwardmedia commented on #12148
Closing assuming this is no longer an issue

[2022-08-03 17:13] #12148 closed

[2022-08-03 17:15] edwardmedia commented on #12167
@DanishKhakwani is this still an issue?

[2022-08-03 17:36] caiodelgadonew commented on #12148
Hello @edwardmedia , that is still happening, I did not replied because you where not asking me about it.

I can get a new output if you need..

[2022-08-03 17:42] c2thorn commented on #9758
The related field in the [REST API](https://cloud.google.com/compute/docs/reference/rest/v1/globalForwardingRules) is `serviceDirectoryRegistrations[].serviceDirectoryRegion`

[2022-08-03 17:55] red8888 opened #12249 "Network and subnet field of google_vpc_access_connector conflict"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-03 18:32] edwardmedia commented on #12245
@cxhercules I see what you are experiencing. By removing `enable_autopilot`, the plan-time validation error will go away. I believe you know that.  There are many other fields that share the same behavior. Basically it prevents conflicting fields showing up in the same plan. This is by design.

[2022-08-03 18:32] #12245 closed

[2022-08-03 18:42] shuyama1 commented on #12196
@andrewdelave Glad your problem got figured out. Agree that it would be more clear to users if the API returns a more useful error message. I'll update it on the internal ticket. Thanks!

[2022-08-03 18:42] #12196 closed

[2022-08-03 19:20] #11379 closed

[2022-08-03 19:47] spideyz0r commented on #10810
Waiting for it!!

[2022-08-03 19:56] edwardmedia commented on #12249
@red8888 can you share the debug log for your initial apply?

[2022-08-03 22:09] mrondael1 opened #12250 "Failed to install provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-04 03:17] muhammadaldyan commented on #12148
@edwardmedia yes it's still an issue.  and this is not working.  i used MySQL 5.7 (Cloudsql GCP)
 lifecycle {
    ignore_changes = [
      settings["active_directory_config"]
    ]
  }

[2022-08-04 04:58] usingh83 opened #12252 "Add support for major version upgrade to Postgresql and Mysql in cloud sql instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-04 04:59] usingh83 commented on #12252
I am working on this

[2022-08-04 07:05] kiewel commented on #10897
What is the status?

[2022-08-04 08:59] saifulwebid commented on #11197
RDB snapshots are now in GA: https://cloud.google.com/memorystore/docs/redis/release-notes#August_03_2022, so would appreciate if this feature can be supported on this Terraform provider.

[2022-08-04 10:56] pfilourenco opened #12253 "Error creating ConsumerQuotaOverride - COMMON_QUOTA_LIMIT_NOT_FOUND"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-04 11:01] SarahFrench commented on #12250
Hi @mrondael1  - I noticed your [comment elsewhere](https://github.com/genesys/multicloud-platform/issues/8#issuecomment-1205099128) about how the directory structure was too long - is the issue resolved now?

[2022-08-04 11:01] fedexist opened #12254 "Reference Eventarc created subscription to change its configuration"
Hi, I have an Eventarc trigger which creates an underlying topic and related subscription. Thing is, I'd like to update the subscription configuration by changing its default value of `ack_deadline_seconds`.

I tried creating the following resource

[code]

but it fails with the error

`Error: Error creating Subscription: googleapi: Error 409: Resource already exists in the project`

So, apparentl

[2022-08-04 11:01] mrondael1 commented on #12250
Yes

On Thu, Aug 4, 2022 at 4:01 AM Sarah French ***@***.***>
wrote:

[2022-08-04 11:09] SarahFrench commented on #12250
That's great, I'm glad you found the solution!

When you were experiencing the issue, did you enable any debug output by setting  the`TF_LOG` environment variable? I'm wondering if the core Terraform code currently provides logs that helped you debug this problem, or if it's something that could be added to help users in future.

[2022-08-04 12:39] SarahFrench commented on #12253
Hi @pfilourenco , thanks for reporting this issue!

I've been able to reproduce this and it looks like the API has changed structure at some point in the past. The provider is using an older version of the API but the old structure of the API is still being supported (but I guess excludes newer types of quota?) , so our tests didn't fail

I'll work on a fix and will add a new test, thanks again 😁

[2022-08-04 13:38] anfperez opened #12255 "Unable to download version 2.20.3"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-04 14:59] edwardmedia commented on #12254
@fedexist I don't know why you received `Error 409: Resource already exists in the project`. What resource(s)? Mind share the full debug log so I could have a big picture. You have mentioned other attributes, mind share how you config other resources?

[2022-08-04 15:34] tgoodsell-tempus opened #12257 "Compute Firewall API Response Mismatch"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-04 15:36] fedexist commented on #12254
Sure thing, I'll try to explain myself better.

This would be the complete configuration and should be enough to reproduce the issue:

[code]

What I think is happening is this:

1. The Eventarc trigger gets created by Terraform -> this creates a PubSub topic and a subscription, resources "managed" by the Eventarc trigger
2. I retrieve the created subscription from the resource outputs
3. I use th

[2022-08-04 16:46] akhil-senroy commented on #12232
Thanks Sarah, this is exactly what I wanted!

[2022-08-04 16:46] #12232 closed

[2022-08-04 16:57] brendonrapp commented on #7810
Does anyone have a reasonable workaround to this issue? We want to be able to shut down database instances for idle apps to save on cost, but this completely blocks that.

[2022-08-04 18:04] edwardmedia commented on #12254
@fedexist Now I see. Instead of using `google_pubsub_subscription` to CREATE a new resource, you may [import](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/pubsub_subscription#import) the existing `google_pubsub_subscription` first and then update its attributes on the existing one. Does this make sense?

[2022-08-04 18:38] corey-hammerton commented on #12084
[debug_apply_output_dirty.txt](https://github.com/hashicorp/terraform-provider-google/files/9262338/debug_apply_output_dirty.txt)

@edwardmedia I've attached the debug log from one of our runs to this issue. I redact some of the sensitive information from the log for security reasons.

[2022-08-04 19:25] SarahFrench commented on #12255
Hi @anfperez , thanks for raising this problem!

It looks like that version of the provider needs `{"protocols":["4,5"],` changed to `{"protocols":["4.0","5.0"],` in the Terraform Registry's data about that release. I've asked the Registry team to confirm that it's a bug (v2.20.3 is about 3 years old and the release process has changed since then) and let me know if that data can be edited by them

[2022-08-04 20:37] megan07 commented on #12249
Hi @red8888, this appears to be fixed in the most recent version. It looks like it was fixed by [this PR](https://github.com/GoogleCloudPlatform/magic-modules/pull/5886) and released in version `4.18.0`. Thanks!

[2022-08-04 20:37] #12249 closed

[2022-08-04 21:01] megan07 commented on #12257
Hi @tgoodsell-tempus, sorry that you're running into this issue. Unfortunately, I was unable to reproduce it. Could you please provide me the version of the provider that you're using? And also any logs you have generated with `TF_LOG=DEBUG`? Thanks!

[2022-08-04 21:41] razilevin commented on #12167
I am experiencing it as well except I am trying to use it in reverse by specifying the range names

`...
      ip_allocation_policy = [{
        cluster_secondary_range_name  = var.airflow_cluster_secondary_range
        services_secondary_range_name = var.airflow_services_secondary_range
        use_ip_aliases                = true
}]`

 I see this when validating with the above ip_allocation_pol

[2022-08-04 22:31] razilevin commented on #12167
This sounds interesting.
https://github.com/hashicorp/terraform-plugin-sdk/issues/705

[2022-08-04 22:46] razilevin commented on #12167
OK the ip-allocation policy cannot be an array but an object

`ip_allocation_policy {
...
}`

Sorry about the noise maybe help @DanishKhakwani

[2022-08-05 01:14] elvis-cai commented on #11688
[code]
got the same error with  hashicorp/google v3.70.0

[2022-08-05 07:21] marc-at-boum commented on #12122
Sorry I was on holidays. Somebody on Stackoverflow found the solution. I didn't give the parameter block in the specification. The log was rather confusing though.

[2022-08-05 08:34] fedexist commented on #12254
@edwardmedia Yep, it makes sense and that's what I was asking in the first place.

Still, I was wondering if it wouldn't make more sense that this resource gets automatically imported or, even, add the possibility to configure these resources directly from the eventarc trigger resource.

I don't know if it can be considered a feature request or something like that, but it would be nice to add that

[2022-08-05 09:01] SarahFrench commented on #12255
@anfperez Could you please check if you're able to download the provider?

The Registry team has fixed the issue I described and I was able to download that provider version with the configuration you posted 🎉

[2022-08-05 09:47] abdrehma commented on #12255
Hi just came across this - error still shows:

[code]

[2022-08-05 10:34] amardeep opened #12262 "Changing display name on google_bigquery_data_transfer_config resource shouldn't force replacement"
Bug is detailed in #12012 but it was incorrectly marked as duplicate and closed

[2022-08-05 12:46] SudharsaneSivamany opened #12263 "google_clouddeploy_target resource's execution_configs block doesn't support string to null for service_account and artifact_storage option."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-05 12:55] zraider7 commented on #8949
@megan07 Our team is also running into this and it is tedious when investigating drift to find that it is a false alarm. Has there been any update on this?

[2022-08-05 14:11] bmakumar opened #12264 "Terraform cdk doesnot support to create API Proxies for gcp"
Hi Team,

Trying to create apigee using cdktf but the document provided helps in creating only endpoints , environments, organizations and instance. cannot we create a API Proxy or is it still under development.

If i am missing the steps from the documentation on how to create the api proxy , please do let me know.

Also if possible can you share the sample snippet on how to create the api proxy

[2022-08-05 14:33] edwardmedia commented on #12254
@fedexist I don't believe this could happen: `this resource gets automatically imported`. Terraform does not have knowledge about what other changes are made because API usually does not send the other underlying changes back. Do you have other questions?

[2022-08-05 15:43] anfperez commented on #12255
@SarahFrench, unfortunately, I am still getting the same error as well. But we might just need to wait for the update to propagate, so I will try again on Monday.

[2022-08-05 16:44] GuilhermeFaga commented on #5833
Following [Google documentation about IAM permissions on Cloud Functions](https://cloud.google.com/functions/docs/securing/managing-access-iam#gcloud_4) and [Terraform Google Provider documentation](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudfunctions_function_iam) you can use `allUsers` as a member to allow invocations as seen below:

[code]

On the interf

[2022-08-05 17:00] ragaskar commented on #12255
I am also seeing this error.

[2022-08-05 17:45] #12250 closed

[2022-08-05 18:47] #11189 closed

[2022-08-05 19:23] zs-codex opened #12269 "Add Support for BigQuery Data Masking"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-05 19:25] #12185 closed

[2022-08-05 19:33] mastersingh24 commented on #9505
@rileykarson  - happy to take this on ... I think I have the answer

[2022-08-05 22:23] fedexist commented on #12254
@edwardmedia I see your point, but, still, when the trigger is created it has both the topic and the subscription created, available in `google_eventarc_trigger.trigger_name.transport[0].pubsub[0].subscription` and `google_eventarc_trigger.trigger_name.transport[0].pubsub[0].topic`, so the information about the created resources _is_ there, it's just not being inserted in the tf state as an additi

[2022-08-05 22:44] uramirez-sada opened #12273 "Kubernetes Permissions Missing when attaching a Service-Project to Shared-VPC Host-Project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-06 10:15] alen-z commented on #12220
Hey, just got here to mention that I've seen those new values being available, but you are fast! Looking for a next release.

[2022-08-06 17:02] brettcurtis opened #12275 "CMEK support for google_logging_project_bucket_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-06 17:10] edwardmedia commented on #12254
@fedexist thanks for your point and understand what you expected, but again as I explained earlier it is impossible to implement that at the provider level. Closing the question now

[2022-08-06 17:10] #12254 closed

[2022-08-06 17:23] mdzierzecki commented on #10908
up!

Any updates on this issue? :(

[2022-08-06 18:54] edwardmedia commented on #12167
@DanishKhakwani have you tried updating your config and see if your issue can be resolved?

instead of
[code]
use this
[code]

[2022-08-06 18:56] DanishKhakwani commented on #12167
Thanks. I'll try that out and update. Sorry haven't got a chance to post the debug log.

[2022-08-07 00:02] CAR commented on #10556
@rileykarson Any chance of an update here?

[2022-08-07 09:07] edwardsPaul421 commented on #12234
I would like if this issue can be solved soon.
Thank you :)

[2022-08-07 15:56] danielknode opened #12276 "Add Support Dataflow Data Pipelines"
### Affected Resource(s)

* google_dataflow_pipeline

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do

[2022-08-08 01:22] linouk23 opened #12277 "Add deletion_protection attribute to google_project resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-08 08:00] yitzchake commented on #12255
Error while installing hashicorp/google-beta v2.20.3: could not query
│ provider registry for registry.terraform.io/hashicorp/google-beta: registry
│ response includes invalid version string "4,5": can't specify multiple
│ versions; a single exact version is required

[2022-08-08 08:44] N214 opened #12278 "google_bigquery_dataset_access disappears after editing google_bigquery_dataset_iam_*"
Hello,

I want to discuss the issue [#10156 ](https://github.com/hashicorp/terraform-provider-google/issues/10156) that has been locked.

I have had exactly the same problem and it has been tedious to find the culprit since the Terraform config is maintained by different people in the Team.
I was not aware that  google_bigquery_dataset_iam_* would delete all the access created by google_bigquery_d

[2022-08-08 09:16] martinzuern opened #12279 "google_storage_bucket: Bug in string validation of name"
As already pointed out in https://github.com/hashicorp/terraform-provider-google/pull/12183#discussion_r936482945

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_

[2022-08-08 12:45] vibhoragarwal commented on #1938
The workaround mentioned above need not serve purpose if I
1. Need to run re-deploy always when code changes
2. My deployment bucket has versioning enabled as I need it track all past deployments of the code.
3. Since when object is deployed, it deletes old object, I cannot have a different dynamic object name as then old is deleted and versioning works only on object with same name. So this is wh

[2022-08-08 14:09] jaksky commented on #11865
4.31.0 is also having same issue

[2022-08-08 14:10] victorbiga commented on #10622
I don't feel convinced pinning to old version. Any progress on this issue ? Would be great if there would be some movement on this or at least workaround?

The value of default_ttl is 0 in current state file

`"module": "module.deployment_my_service.module.backend_documentation",
"mode": "managed",
"type": "google_compute_backend_bucket",
"name": "default",
"provider": "provider[\"registry.terrafo

[2022-08-08 15:25] melinath commented on #11571
@jva-dot-sh It looks like workload identity pools are in GA: https://cloud.google.com/iam/docs/reference/rest/v1/projects.locations.workloadIdentityPools If you're seeing an issue with it, could you open a new bug ticket? https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=bug&template=bug.md

[2022-08-08 15:41] pfilourenco commented on #12253
Hi @SarahFrench, any update on this?

[2022-08-08 15:41] edwardmedia commented on #12273
@uramirez-sada when you create a service project using `google_compute_shared_vpc_service_project`, what behind the scene is the Terraform provider calls below API endpoint, nothing else. What you asked actually is done via separate calls which create IAM resources. The provider have separate resources that can help achieve them, and they are not done in one single `google_compute_shared_vpc_servi

[2022-08-08 16:49] edwardmedia commented on #12279
@martinzuern Below fix will be available in next release

https://github.com/GoogleCloudPlatform/magic-modules/pull/6353

[2022-08-08 16:51] #12279 closed

[2022-08-08 16:59] ranjithkumar-glean commented on #12234
I can take a go at fixing this, Thanks!

[2022-08-08 17:44] rileykarson commented on #12277
Note: There's a built-in GCP resource to add addtl deletion protection past Terraform's plan stage / lifecycle rule, https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/resource_manager_lien.

It's still opt-in, so an opt-out `deletion_protection` is still valuable, but less so that for some other resources w/o addtl protections.

[2022-08-08 17:49] ranjithkumar-glean commented on #11813
@SarahFrench i opened a PR to fix this https://github.com/GoogleCloudPlatform/magic-modules/pull/6391.
first PR, so not really sure on the workflow. Can you take a look?

[2022-08-08 17:49] megan07 commented on #12264
Wanted to clarify, is this the resource you'd like added? https://cloud.google.com/apigee/docs/reference/apis/apigee/rest/v1/organizations.apis

[2022-08-08 17:54] rileykarson commented on #12197
Note: We'd likely implement this as a new resource entirely, in line with similar GCE resources

[2022-08-08 17:58] rileykarson commented on #12124
See https://github.com/hashicorp/terraform-provider-google/issues/6087 for prior discussion on the matter, mostly https://github.com/hashicorp/terraform-provider-google/issues/6087#issuecomment-619270971. `initialize_params` indicates "I want the instance to have been created with these properties" meaning that recreating it when changed *is* the expected behaviour of the provider.

[2022-08-08 17:58] #12124 closed

[2022-08-08 18:07] DanishKhakwani commented on #12167
@edwardmedia That was indeed a syntax issue. Seems to be working as expected now :). Thanks for your help!

[2022-08-08 18:15] SarahFrench commented on #12253
Hi, I'm still digging into this - I think there are 2 factors affecting this bug so it's taking a little while!

[2022-08-08 19:25] SarahFrench commented on #12255
Hi all, I'm waiting on help from the Registry team- the [API response that lists all versions](https://registry.terraform.io/v1/providers/hashicorp/google/versions) how includes `{"version":"2.20.3","protocols":["4.0","5.0"],` but in the data for [specific builds of that version](https://registry.terraform.io/v1/providers/hashicorp/google/2.20.3/download/linux/amd64) it still shows the old `"proto

[2022-08-08 21:05] ScottSuarez commented on #12191
Scheduling backups isn't supported at the API level thus we cannot support it within terraform.
https://cloud.google.com/bigtable/docs/backups

If you are looking for a way to schedule backups i would recommend filing an issue or feature request against the API. A terraform resource/field could then be created as an interface for it.