[2022-09-09 23:57] yanweiguo opened #12532 "Add startup and liveness probe field for Cloud Run service resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-10 16:08] lescoggi commented on #8827
Working on this one. 👍

[2022-09-11 14:37] edwardmedia commented on #12512
@hazcod this concurrent execution is built by the terraform core regarding how to build the execution graph. There is not much we can do at the provider level.  To workaround, can you try adding [depends_on](https://www.terraform.io/language/meta-arguments/depends_on#the-depends_on-meta-argument) and [sleep](https://registry.terraform.io/providers/hashicorp/time/latest/docs/resources/sleep) logic

[2022-09-11 15:05] edwardmedia commented on #12504
@shuyama1 shouldn't api send 404 (instead of 400) for this case?

https://github.com/hashicorp/terraform-provider-google/blob/main/google/utils.go#L96

[2022-09-11 15:13] edwardmedia commented on #12485
@shuyama1 shouldn't this be an API issue?

[2022-09-11 15:21] edwardmedia commented on #12472
@blessedwithsins glad you have found the solution. Closing the issue then

[2022-09-11 15:21] #12472 closed

[2022-09-11 15:29] edwardmedia commented on #12470
@ahmedloai I agree the documentation isn't super good. This is a constant topic on where to put those words. Questions and suggestions keep coming. We will continue implementing improvement to better serve users. Thanks for your suggestion. Closing the issue then

[2022-09-11 15:29] #12470 closed

[2022-09-11 15:35] edwardmedia commented on #12469
@jawnsy Can you share the whole gcloud command for updating the `purpose`?

[2022-09-11 15:38] jawnsy commented on #12469
@edwardmedia Sure.

[code]

[2022-09-11 21:39] bschaatsbergen commented on #9812
Still facing this issue..

[2022-09-12 06:26] davidedironza commented on #12457
@edwardmedia any news here when this could be solved?

[2022-09-12 10:19] Raffaello commented on #12504
i don't know. I have reported the behaviour in that specific use case. I didn't go check the code or what the API should return.

I had a 400 after trying to create a new secret with terraform when the "last" secret was deleted manually.

[2022-09-12 10:58] skorobogatydmitry opened #12535 "Provider errors out on GCP SA key creation with "new value: Root resource was present, but now absent.""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-12 12:40] #11804 closed

[2022-09-12 13:32] oioki opened #12537 ""Either maxRate or maxRatePerEndpoint should be set with RATE mode" when maxRate=0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-12 14:01] edwardmedia commented on #12535
@skorobogatydmitry could you share the longer debug log which have more api requests and responses?

[2022-09-12 14:33] edwardmedia commented on #12537
@oioki it looks like this is the rule for [balancing_mode](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_backend_service#balancing_mode) . Did you set it the same for the case of the Google Cloud console?

[code]

[2022-09-12 16:38] edwardmedia commented on #12308
b/242557342

[2022-09-12 17:02] melinath commented on #12138
Failing test: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/335482?buildTab=tests&expandedTest=-1376995991222728547

Test history: https://ci-oss.hashicorp.engineering/test/-1376995991222728547?currentProjectId=GoogleCloud&branch=%3Cdefault%3E

[2022-09-12 17:33] NA2047 commented on #9074
Suggest Closing this issue due to fix being merged in main

[2022-09-12 17:59] #12516 closed

[2022-09-12 18:10] #9074 closed

[2022-09-12 18:24] roy-work commented on #12395
No. I have a particular resource here, in my instance, which fails, repeatedly, and I've no idea on how to make forward progress with that, given that the diagnostic, again — presumably from the provider — is useless.

It's not realistic to separate TFE out; we're not exporting the entire project from it to accomplish an import, which ought to be a trivial operation. Again, _I don't know_ if it is

[2022-09-12 18:34] c2thorn opened #12540 "Developer Documentation - Bootstrapping resources for tests"
We generally push against tests that need prequisite manual setup. Usual workarounds for these include defining everything required with the TF configuration, or using a [bootstrap function](https://github.com/hashicorp/terraform-provider-google/blob/main/google/acctest/bootstrap_test_utils.go). In rare cases, we actually accept a manual step like first time enablement of new APIs in our test proj

[2022-09-12 18:34] prateek2408 commented on #11499
Working on it

[2022-09-12 18:35] c2thorn commented on #12488
closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/6429

[2022-09-12 19:28] rileykarson opened #12541 "Add guidance on handling API-side default values for contributors"
# Background

When APIs have default values, we're able to solve those in a few ways:

* `Default` values, which apply a fixed default at plan time for _every user_ that has not set a field
* `Optional` + `Computed`, or O+C values, which behave like optional fields when set and output fields when not set
* Making a field `Required` locally

# What kind of contribution is this issue about?

* gener

[2022-09-12 20:20] melinath commented on #12386
Wasn't able to get to this

[2022-09-12 20:25] melinath commented on #12386
it seems like we should probably suppress the diff in this case, since using a standard TF reference works (apart from the fact that the API returns it in a different format.) And we probably would rather let folks use the standard TF reference.

[2022-09-12 20:31] melinath commented on #12465
Wasn't able to get to this. I can't tell whether the extra fields are something we should diff suppress or what. It looks like there's also an extraneous change to `max_bad_records`?

[2022-09-12 20:33] melinath commented on #12471
Wasn't able to get to this. I can't easily tell from the provided debug information what the issue is. Could someone experiencing this please provide a minimal configuration that reproduces the issue? i.e. _just_ using the container_cluster resource, not a module. Thanks!

[2022-09-12 20:34] ScottSuarez commented on #12397
Hi @ace-n, this is an unfortunate situation where an api isn't declarative friendly. Our team doesn't have the capacity to take this on currently.

As a work around look to using lifecycle rules to get around this. Specifically [ignore_changes](https://www.terraform.io/language/meta-arguments/lifecycle#ignore_changes).

[2022-09-12 20:39] melinath commented on #12483
hm, that's weird. serviceAccount is what you use to [set this value on create](https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.transferConfigs/create) but on read it shows up in ownerInfo.... but it looks like the ownerInfo might also be a non-service-account user? So I don't think we can always assume that field is a service account. But maybe it

[2022-09-12 20:40] melinath commented on #12487
It seems like location should probably be a required field.

[2022-09-12 21:01] edwardmedia commented on #12422
@shuyama1 can you take a look at this?

[2022-09-12 21:56] djschaap opened #12544 "google_storage_bucket custom_time_before/noncurrent_time_before changes not applied"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-12 22:14] imrannayer opened #12546 "Add Certificate Manager Public CA resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-12 22:40] melinath commented on #12487
Or we should allow a way to specify a default, like we do for project and some other fields.

[2022-09-13 00:15] ScottSuarez opened #12547 "Automate delivery of standard advice on field or resource development"
## motivation
There is generic standard advice and practices that we can quickly give feedback for on any given pr.

For example enum fields should generally always be a string. If a contributor is adding a enum field lets automate feedback and link to supporting documentation about best practices. This ruleset could be extensible and implemented similarly to the breaking-change detector.

[2022-09-13 01:36] enchorb commented on #7242
Still an issue

[2022-09-13 09:30] harpratap opened #12548 "Validation of Nodepool spec in Plan"
### Description

When you create a nodepool with incorrect spec `plan` works fine but it fails during `apply`.
One such example is the name of the nodepool which has a character limit of 39 and it doesn't warn about it when you run a plan command on it.
There are other parts of spec that are not validated too, eg there is no validation on custom  machine type, the increments you can specify the me

[2022-09-13 10:16] SarahFrench commented on #10565
This issue was addressed in PR #6481 above, and the feature was released in v4.36.0 - [see docs here](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/dataproc_workflow_template#nested_shielded_instance_config)

[2022-09-13 10:16] #10565 closed

[2022-09-13 10:56] SarahFrench commented on #12421
I've got a PR open to update the tutorial to use debain-11, just like how [a lot of acceptance tests were updated to 11](https://github.com/GoogleCloudPlatform/magic-modules/pull/6372/files) recently.

[2022-09-13 11:17] sheikhaafaq commented on #8288
Any updates on this?

[2022-09-13 12:12] sheikhaafaq commented on #8288
Is there any option available in gcloud to create an identity provider by email and password?

[2022-09-13 12:31] davidgrundstrom opened #12549 "node_pool_defaults block count changed without having it specified during apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-13 13:18] SarahFrench commented on #9113
Validation was added to `google_compute_network` in https://github.com/GoogleCloudPlatform/magic-modules/pull/6348, marking this issue as closed

[2022-09-13 13:18] #9113 closed

[2022-09-13 13:26] edwardmedia commented on #12465
b/245412495

[2022-09-13 13:27] edwardmedia commented on #12386
b/245412495

[2022-09-13 13:30] edwardmedia commented on #12549
@davidgrundstrom could you share your debug log?

[2022-09-13 14:01] edwardmedia commented on #12395
@roy-work if you can run `terraform apply` with an account, I can't think of any reason that `terraform import` can't be run with the same account. Did I miss anything here?

[2022-09-13 15:33] c2thorn commented on #10341
looks like this was closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/5772

[2022-09-13 15:33] #10341 closed

[2022-09-13 15:42] #6040 closed

[2022-09-13 16:32] matdtr commented on #10596
Any update ?

[2022-09-13 17:20] HemilTheRebel opened #12550 "Broken link in:https://learn.hashicorp.com/tutorials/terraform/google-cloud-platform-change?in=terraform/gcp-get-started"
# Background

The first paragraph after the code segment in creating a new resource heading is:

When I click on the link, it shows me 404. A little research tells me, the link should probably be: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance

[2022-09-13 17:56] NA2047 commented on #8324
This feature is currently blocked by https://github.com/googleapis/nodejs-monitoring/issues/517 which was correctly identified by @georgecrawford I have set this as a blocker internally for now

[2022-09-13 18:08] skorobogatydmitry commented on #12535
@edwardmedia , there are 8 occurrences of this issues for ~400 runs. So I don't have a reliable way to reproduce it with `TF_LOG=trace`. But I'll try to run it a couple times and post trace log here in case it gets reproduced.

[2022-09-13 18:14] philip-harvey commented on #12471
I think this is a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/12422

[2022-09-13 18:16] philip-harvey commented on #12549
Basically the same issue as https://github.com/hashicorp/terraform-provider-google/issues/12422
The newer providers are broken and needs to be fixed.
As a work around you can manually set this with a dynamic block, which is a PITA.

[2022-09-13 19:47] jdpribula commented on #12422
This is becoming very impactful especially because it can cause node pools to be deleted and not created when making immutable updates to pools.

[2022-09-13 21:32] melinath commented on #12411
previous PR caused test failures that represent real user issues - see https://github.com/GoogleCloudPlatform/magic-modules/pull/6541 for revert PR.

[2022-09-13 22:58] shuyama1 commented on #12422
Thanks for the feedback! I was able to reproduce this error locally and I'm working on a fix now.

[2022-09-13 23:05] #9651 closed

[2022-09-14 01:50] billyfoss opened #12554 "Unable to manage Cloud Armor adaptive_protection_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-14 03:33] billyfoss commented on #12422
Something seems different about the process of detecting changes in the node pool.  I've been working on workarounds to enable dynamically updating node pool labels, tags, and taints (recently supported by the Google API if the cluster is >= 1.23 or if the cluster is 1.22 and the node pool autoscaling is turned off).

Yesterday I ran into a problem where updating the node pool configuration (label

[2022-09-14 07:20] lirlia commented on #6782
get all gcp api endpoints

[code]

[2022-09-14 07:31] AlbertMoser commented on #12151
Thanks for looking into it. Concerning the last part:

Is that something I should look into or was it more of a general question?

[2022-09-14 08:34] oioki commented on #12537
Yes, I am keeping "Rate" balancing mode when updating via the Google Cloud console:
<img width="493" alt="image" src="https://user-images.githubusercontent.com/1127549/190103269-ed618b2b-a4b2-4ef9-b657-5b4a0459b4c7.png">

[2022-09-14 10:04] cg547 opened #12555 "google_compute_per_instance_config/google_compute_region_per_instance_config ignores the most_disruptive_allowed_action argument"
Whatever value is set in the `most_disruptive_allowed_action` argument in the `google_compute_per_instance_config`/`google_compute_region_per_instance_config` resources is being overridden by the provider to `REPLACE`, causing instances to unexpectedly be recreated.

The offending code is most likely this, overriding when the string is **not** empty:

https://github.com/hashicorp/terraform-provide

[2022-09-14 13:36] AleixPaytuviGallart opened #12556 "Documentation: google_monitoring_metric_descriptor > argument `type`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-14 15:33] melinath commented on #12151
If you have the time and inclination to look into it, that would be great; otherwise it's a more general question I suppose! :-) No worries either way.

[2022-09-14 15:51] yurifrancalacci opened #12557 "google_beta >= 4.32 google_container_node_pool update issue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-14 15:59] Freebios opened #12558 "Documentation: type on google_compute_security_policy is misplaced"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-14 16:18] edwardmedia commented on #12557
Looks like it is a dup https://github.com/hashicorp/terraform-provider-google/issues/12549

[2022-09-14 16:27] c2thorn commented on #12292
This is possible via the [customPlacementConfig](https://cloud.google.com/storage/docs/json_api/v1/buckets) field.

[2022-09-14 16:52] rileykarson opened #12559 "Document adding website docs for datasources in more detail"
# Background

We have a lot of datasources that predate the datasource wrapper, and what I'd call "modern" datasource docs like those for https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/compute_backend_bucket. I've seen a few contributions that have documented individual resource fields, for example- we should make it clear in our contribution guide the exact form

[2022-09-14 17:16] zli82016 opened #12560 "Documentation: Document the selection of PRODUCT in detail for the command compiling providers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-14 17:28] SarahFrench commented on #12560
It might be useful to include details about RESOURCE too. Here's something I wrote for some internal HashiCorp onboarding docs if it helps!

[code]

[2022-09-14 17:29] juangaitanv commented on #4704
https://registry.terraform.io/modules/terraform-google-modules/pubsub/google/latest#:~:text=oidc_service_account_email%20%3D%20%22sa%40example.com%22

Use `oidc_service_account_email` attribute instead

[2022-09-14 19:05] fredzqm opened #12561 "google_bigquery_dataset.default_partition_expiration_ms "must be a whole number" error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-14 19:25] edwardmedia commented on #12561
@fredzqm using your code, it works fine with me. Can you share your debug log?

[2022-09-14 19:49] jsekar3 commented on #10897
how long it will take to merge fix PR?

[2022-09-14 19:50] fredzqm commented on #12561
https://gist.github.com/fredzqm/3909b0e1e422bd93ae586af92fb58db8

Not sure if I should share the whole content externally. The actual configs are much bigger, so the debug log contains other information, but we should be locate where that error is thrown.

Note that I am trying to upgrade from an `Terraform v0.12.29` to an earlier version. It's possible this is just a backward compatibility issue.

[2022-09-14 19:56] roy-work commented on #12395
Again, my guess is and continues to be that `terraform import` is run _locally_, whereas `terraform apply` is not, when TF is remote (i.e., when it is TFE or TF Cloud).

[2022-09-14 20:10] shuyama1 commented on #11903
Closing this issue as it may have already implemented. Feel free to reopen this issue or create a new one if you think the feature is not yet supported in the providers.

[2022-09-14 20:10] #11903 closed

[2022-09-14 20:13] shuyama1 commented on #12560
Thanks @SarahFrench! That's super useful! I'll also add it to the documentation.

[2022-09-14 20:16] tylerg-dev commented on #12294
Firestore mode is not managed as part of the FirebaseProject.  The current way to manage this is through [app_engine_application#database_type
](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/app_engine_application#database_type)

[2022-09-14 21:11] melinath commented on #12408
also, resource-level `input` field.

[2022-09-14 22:47] edwardmedia commented on #12554
@billyfoss can you share the gcloud command that `manually disables the policy`?

[2022-09-14 22:52] edwardmedia commented on #12561
@fredzqm probably you need to run the code with the latest versions of terraform and provider. Please let me know the results with the latest versions.

[2022-09-14 23:04] fredzqm commented on #12561
Okay, so I am trying to upgrade, but there are lots of breaking changes (e.g. 0.13), so I want to churn through them gradually.

Let me reach out to you internally tomorrow. Trying to clean up tech debt with a crazy old version terraform binary `v0.12.29`. It's getting really difficult now.

[2022-09-14 23:04] #12561 closed

[2022-09-15 00:11] billyfoss commented on #12554
Instead of

gcloud compute security-policies update mobile-clients-policy \
   --enable-layer7-ddos-defense

Use

gcloud compute security-policies update mobile-clients-policy \
   --no-enable-layer7-ddos-defense

[2022-09-15 08:42] AlbertMoser opened #12562 "`google_cloudfunctions2_function_iam_member` unable to set `roles/run.invoker` to make cloudfunction public"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-15 09:22] drandell opened #12563 "google_redis_instance - auth_string"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-15 11:26] AndreasBergmeier6176 opened #12564 "Error Root resource was present, but now absent."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-15 11:31] losisin opened #12565 "google_cloudfunctions2_function doesn't work with secret_volumes or secret_environment_variables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-15 12:28] albrechtflo-hg commented on #9828
@melinath You mention something about key rings and keys, but I do not really get the point here. Is this request here analogous to something from key management, or is there something mixed up?

[2022-09-15 13:47] #12555 closed

[2022-09-15 13:50] edwardmedia commented on #12564
@AndreasBergmeier6176 can you share all api requests & responses?

[2022-09-15 13:53] edwardmedia commented on #12565
@losisin can you share your config? Does this [example](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudfunctions2_function#example-usage---cloudfunctions2-secret-volume) work for you?

[2022-09-15 13:59] AndreasBergmeier6176 commented on #12564
Where should I send it to?

[2022-09-15 14:42] losisin commented on #12565
No it didn't :(
Does it work for you @edwardmedia ?

[2022-09-15 15:52] Raffaello commented on #12504
One more thing: This is also a bug, because to fix this 400 error is enough to just modify the tfstate file manually (and not recommended honestly), in this specific case increase by 1 the secret version number...

for e.g:

 if it was `mysecret/versions/1`
and it terraform failing to destroy that version because manually destroyed already,
changing to `mysecret/versions/2` it will work, eventuall

[2022-09-15 16:00] losisin commented on #12565
here is my config
[code]

[2022-09-15 16:35] melinath commented on #9828
@albrechtflo-hg apologies, I misread the initial request.

If I understand correctly now, what you're asking for is for a `version` field to be available on the resource, similar to the one on the data source. That seems doable. It would just be a convenience method that uses the same regex described in the workaround.

There's also a separate request for exporting the ["secretId" field](https://c

[2022-09-15 16:47] melinath commented on #9828
docs for secretKeyRef: https://cloud.google.com/run/docs/reference/rest/v1/Container#secretkeyselector

[2022-09-15 16:50] albrechtflo-hg commented on #9828
Additional note: In the linked docs, they use "key" for this "latest" or integer value field. I am not sure if this is consistent throughout the Google API, but that is why I initially suggested "key" as name for the attribute. "version" is totally fine to me (and IMO semantically more clear), but maybe inconsistent to Google API docs - don't know if any rules for this apply here.

[2022-09-15 17:04] ScottSuarez commented on #11462
Missing documentation was added by ASM team.. this can now be supported fully
b/242868571

[2022-09-15 17:17] ScottSuarez opened #12570 "Only assign terraform reviewer when a pr is in a non-draft state"
Unsure if we can hook into this.

However it would be nice to not get assigned to changes until they are ready for review, maybe with an automated comment saying we won't assign anyone until the change is ready.

[2022-09-15 18:41] c2thorn commented on #10109
closing as this is a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/7775

[2022-09-15 18:41] #10109 closed

[2022-09-15 18:42] sandmman opened #12572 "Support multiple API's with same terraform resource product namespace"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-15 18:49] melinath commented on #9828
we'd want to use `version` on the secret version resource to be consistent with the datasource. :-) The secretKeyRef would still refer to it as `key` since that's how that API works.

[2022-09-15 18:49] melinath commented on #9828
@mitj04

[2022-09-15 18:53] edwardmedia commented on #12565
@losisin can you share the full debug log when you run the example?

[2022-09-15 19:16] NA2047 commented on #10492
Suggest closing this issue as it has been solved with the following pull request being merged

https://github.com/GoogleCloudPlatform/magic-modules/pull/6537

[2022-09-15 19:29] #10492 closed

[2022-09-15 19:29] ScottSuarez commented on #10492
Thanks for the work !

[2022-09-15 19:57] marcusricardoaguiar commented on #12532
It would also be good to include the liveness_probe. :)

[2022-09-15 20:05] #11854 closed

[2022-09-15 22:32] Syphon83 commented on #12557
Same behaviour here , Error 400 during pool update.

[2022-09-15 22:54] melinath commented on #10212
b/243811404

[2022-09-15 22:59] melinath commented on #11251
@cagataygurturk could you elaborate on how these resources would need to change to support this feature, and link to the relevant REST API docs? Thanks!

[2022-09-15 23:02] melinath commented on #9709
marking this as `upstream` to indicate that it's not supported by the API.

[2022-09-15 23:07] melinath commented on #4193
Is this supported by the REST API? If so, could someone provide a docs link? Thanks!

[2022-09-15 23:13] melinath commented on #4704
Closing based on https://github.com/hashicorp/terraform-provider-google/issues/4704#issuecomment-627092643 - if that's incorrect please let us know.

[2022-09-15 23:13] #4704 closed

[2022-09-15 23:20] edwardmedia commented on #12564
@AndreasBergmeier6176 can you post it here?

[2022-09-15 23:22] melinath commented on #6939
It looks like this is not possible because the private key data is not available after create. Please let us know if there's a use case that we're missing that isn't covered by the [datasource](https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/service_account_key)

[2022-09-15 23:22] #6939 closed

[2022-09-15 23:28] melinath commented on #8363
Closing as this is for the v1 cloudfunctions API and it's not clear what fields need to change. If this is still needed, please clarify what support for the https://cloud.google.com/functions/docs/reference/rest/v1/projects.locations.functions API is missing in the current implementation. Thanks!

[2022-09-15 23:28] #8363 closed

[2022-09-15 23:31] melinath commented on #9151
b/247009610

[2022-09-15 23:31] melinath commented on #10756
b/247006238

[2022-09-16 00:11] jsbroks opened #12576 "Database replacement on patch bumps"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-16 06:50] ahmedloai commented on #12470
thx for clarification

[2022-09-16 09:07] cagataygurturk commented on #11251
The API flag is documented here: https://cloud.google.com/cdn/docs/dynamic-compression#enabling

[2022-09-16 09:29] bmoyet opened #12577 "google_bigquery_table external_data_configuration.csv_options is not setting the right properties in BQ"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-16 11:17] SarahFrench commented on #12159
I did a quick PR to address this that didn't solve the underlying issue, so didn't close this issue

[2022-09-16 11:48] AlbertMoser opened #12578 "Allow Cloud SQL connection creation when deploying `cloudfunctions2`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-16 12:54] perios101 opened #12579 "google_compute_resource_policy not handling minor changes"
### **Terraform Version**
1.1.5

### **Affected Resource(s)**

- google_compute_resource_policy

### **Terraform Configuration Files**

Changing from:
[code]
...to:
[code]

### **Expected Behavior**
Terraform should replace the resource policy (along with VM instance attachment), since any minor change to a schedule will force replacement of the resource.

This is especially important for clean CI

[2022-09-16 13:04] mitj04 commented on #9828
@melinath, just to make sure that we're on the same side, we've to add 2 output fields named 'version'(the version of the Secret) and 'secret_name'(the name of the Secret) which are derived from the fully qualified name using regex, correct?

[2022-09-16 14:54] edwardmedia commented on #12579
@perios101 can you share the full debug log?

[2022-09-16 14:54] davidgrundstrom commented on #12549
Skipping adding a debug-log as this was reproduced by @shuyama1 and a potential fix seems to be on the way.

@philip-harvey thank you, will look into introducing this in our state until fix is deployed!

[2022-09-16 14:57] edwardmedia commented on #12577
@bmoyet can you share your debug log?

[2022-09-16 15:00] edwardmedia commented on #12576
@jsbroks where did you see replacement is not necessary? Do you have steps to achieve using other tools?

[2022-09-16 15:27] melinath commented on #9828
I'm not entirely sure that we want the secret_name exposed from the `secret_version` resource - probably it would be best on the `secret` resource, and I'm not sure what the best name for it would be. We could leave it off for now - it seems like there's less clear value (probably since the secret name changes less frequently).

[2022-09-16 16:29] rileykarson commented on #12572
It's intentional that services are split by service endpoint in their provider representations, and merging multiple endpoints into a single product prefix is undesirable.

Note that this is possible technically with [`legacy_name`](https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/overrides/terraform/resource_override.rb#L34-L38), but that's a feature used to support handwritten

[2022-09-16 16:29] #12572 closed

[2022-09-16 16:30] #12560 closed

[2022-09-16 16:34] bmoyet commented on #12577
Here you go :

https://gist.github.com/bmoyet/fbf1c528dda684023710ba5cfdf15010

[2022-09-16 17:40] #8827 closed

[2022-09-16 17:42] rileykarson commented on #10756
Dupes https://github.com/hashicorp/terraform-provider-google/issues/8827 (which was just closed)

[2022-09-16 17:42] #10756 closed

[2022-09-16 17:46] Obsecurus opened #12581 "Remove OR note the cost implications of the default scratch disk in the example."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-16 21:38] AdamMAtWork opened #12582 "Errors disabling google_compute_region_backend_service.log_config"
It's not currently possible to disable logging on a google_compute_region_backend_service resource, once it has been enabled with a non-zero sample rate.

Affected provider versions: 3.54, 4.36

If I create a
[code]
, the resource is created with logging disabled. This is working as expected.

If I then update the resource using

[code]
then the log_config is enabled, but the sample_rate remains z

[2022-09-16 22:39] billyfoss opened #12584 "Panic when updating google_container_node_pool node_config linux_node_config {}"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-16 22:48] billyfoss commented on #12584
Note: when trying to apply the plan
[code]

I get
[code]

[2022-09-16 22:58] melinath commented on #12529
My guess is that the problem is that the API is probably returning project numbers instead of project ids. I think there might be examples of other places we have to work around this?

[2022-09-16 23:00] melinath commented on #12527
b/247158627

[2022-09-16 23:00] melinath commented on #12529
b/247157806

[2022-09-16 23:03] melinath commented on #12525
This likely requires a diff suppress on the labels field for these specific labels - there may be other examples in the codebase.

[2022-09-16 23:15] melinath commented on #11251
the new field is `compressionMode`. Looks like it should be supported at both create and update.

[2022-09-16 23:18] melinath commented on #12570
I think this is already the behavior - but it only works if the PR is created in draft mode (rather than being converted after the fact). I wonder if there's a way to force draft mode?

[2022-09-16 23:21] melinath commented on #12515
It doesn't look like this is possible to set through the API: https://cloud.google.com/vertex-ai/docs/workbench/reference/rest/v1/projects.locations.instances

[2022-09-16 23:26] melinath commented on #11448
b/247163900

[2022-09-16 23:29] melinath commented on #12444
@jonathan-falomir could you link to the REST API docs for this resource?

[2022-09-16 23:30] melinath commented on #11682
Sounds like this is resolved by the above PRs.

[2022-09-16 23:30] #11682 closed

[2022-09-16 23:49] ScottSuarez commented on #12570
oh interesting ! I didn't realize. Perhaps the CLs that were assigned to me were converted to draft by the contributor.

I'll have to take a look.

[2022-09-17 04:56] losisin commented on #12565
[code]

[2022-09-17 05:07] prateek2408 commented on #9956
Working on it.

[2022-09-17 13:36] edwardmedia commented on #12584
Possible dup https://github.com/hashicorp/terraform-provider-google/issues/12557

[2022-09-17 15:07] edwardmedia commented on #12565
@losisin it appears you are using v4.33.0 while the feature was introduced in [v4.35.0](https://github.com/hashicorp/terraform-provider-google/releases/tag/v4.35.0). Can you try the latest version to see if it works for you?

[2022-09-17 15:45] edwardmedia commented on #12563
@drandell I agreed `auth_string` should be in the exported section. Because this is a specially handled field, currently the code generation tool does not support adding a field like this into the exported section. Changing the label to `document`

https://github.com/GoogleCloudPlatform/magic-modules/blob/70352381f79e67152922421649d1b48cdacf8fe9/mmv1/templates/terraform/resource.html.markdown.erb#

[2022-09-17 17:14] edwardmedia commented on #12562
@AlbertMoser I can repro what you said.  I think the API does not accept `roles/run.invoker`. But `roles/viewer` works for me. Are you able to give users with `roles/viewer` role? The provider seems working fine. There is not much we can do at the provider level.  You may want to file an issue to the API to see if `roles/run.invoker` is accepted?

[code]

[2022-09-17 17:25] edwardmedia commented on #12441
This is reordering on the api side

[2022-09-17 19:31] drandell commented on #12563
If I get some time this week I might make the PR for this, agree wrong label :)

[2022-09-17 20:51] nbali commented on #12441
Well I think you missed probably the most important business aspect of this issue. The table should never be dropped, and that deletion protection should never be turned off. I mean doesn't it just drops the table and creates a new one in that case? That is an even worse scenario than to unable to update a schema.

[2022-09-18 10:57] arikmaor commented on #12584
Having the same issue
Is there a workaround?

[2022-09-18 11:04] arikmaor commented on #12584
Had same problem
Managed to workaround it for now by adding:
[code]
to the `node_config` block

[2022-09-18 15:06] edwardmedia commented on #12554
Here is the payload.
[code]

[2022-09-18 16:01] DrFaust92 commented on #12578
it doesnt look like cloudfunction api directly exposes this. there might be an extra step needed here according to : https://cloud.google.com/sql/docs/mysql/connect-functions#public-ip-default.
might be simpler with private conn: https://cloud.google.com/sql/docs/mysql/connect-functions#private-ip

[2022-09-18 19:57] DrFaust92 commented on #11459
[rileykarson](https://github.com/rileykarson) i think this can be closed.

[voycey](https://github.com/voycey) i think you will need to extract the name and "manually" construct the iam role arn when passing to the connection resource.

[2022-09-18 20:00] DrFaust92 commented on #11741
[rileykarson](https://github.com/rileykarson) this can be closed

[2022-09-18 20:02] DrFaust92 commented on #5530
[rileykarson](https://github.com/rileykarson) this can be closed

[2022-09-18 20:42] DrFaust92 commented on #12479
taking a look + ill add missing fields

[2022-09-19 02:00] todd-dsm commented on #10782
Even the minor version increase errors with the posted message...

I just tried to build an autopilot cluster with providers `v4.36.0`.

[code]

Dialed it back to `v4.3.0` and it works.

[2022-09-19 05:14] urwa commented on #11241
I have added in above issue in google issue tracker. But `gcloud functions list` seems to be working fine and list all gen2 functions as well.

[2022-09-19 09:34] alexmeise commented on #12584
I had to remove:
[code]

in order to be able to deploy a new nodepool.

otherwise:

`panic: interface conversion: interface {} is nil, not map[string]interface {}`

[2022-09-19 09:47] janosif opened #12585 "GCS Lifecycle rule with Age="0" returns invalid argument error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-19 09:59] losisin commented on #12565
Thank you @edwardmedia

[2022-09-19 09:59] #12565 closed

[2022-09-19 13:02] edwardmedia commented on #12582
@AdamMAtWork I see the provider sending the related data to API. I wonder if there is a rule that the config does not follow. Are you able to disable it (problem#2) via other tools?

[code]

[2022-09-19 14:07] ruchi-goyal-04 opened #12586 "Add case-insensitive feature while creating datasets in BigQuery"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-19 16:18] AdamMAtWork commented on #12582
@edwardmedia

Yes, the Google REST API accepts the following logConfig with a value of false:
[code]
Submitting this to the [update endpoint](https://cloud.google.com/compute/docs/reference/rest/v1/regionBackendServices/update) results in a success message.

[2022-09-19 16:25] dlesco opened #12588 "resource_bigquery_table schema evolution"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-19 16:25] AdamMAtWork commented on #12582
@edwardmedia
Interestingly, submitting the following update to an ILB that already has logging enabled results in a success message, and a followup [GET request](https://cloud.google.com/compute/docs/reference/rest/v1/regionBackendServices/get) retrieves the updated value:
[code]

[2022-09-19 16:56] sirius-ed-hammond opened #12589 "Error: Collection of global_address confuses networking_connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-19 16:57] edwardmedia commented on #12588
@dlesco can you provide a terraform config that shows what the problem is? Along with the debug log.

[2022-09-19 17:00] edwardmedia commented on #12589
@sirius-ed-hammond can you provide the config without the dynamic code which can be used to repro the issue?

[2022-09-19 17:06] edwardmedia commented on #12582
@AdamMAtWork we should be able to update the sampleRate to 0, but I am not able to update the enable from `true` to `false` with below error. I wondered if this is an API rule, and there is not much we can do with it at the provider level. Please let me know if you see the behavior differently.

[code]

[2022-09-19 17:13] shuyama1 commented on #12557
Thanks for reporting the issue! Are you also seeing the error when manage the resource using only `google_container_cluster` and `google_container_node_pool` configuration but not using the module. I was trying to reproduce the error using only the resource configuration and it worked fine for me. So I wonder if only happens when using the module or I've missed something during my local test.

[2022-09-19 17:26] sirius-ed-hammond commented on #12589
My use case is:
1) Create a GCP project
2) Create a variable number of VPC networks in the project  (a list of networks names that map the IP ranges, etc.)
3) Configure a Private Service Connection in each VPC  (using the map value from the list of network names)

The issue is that the "simple name" of 'net1' is then getting fully qualified and it is confusing Terraform.

here is more of the code

[2022-09-19 17:51] ScottSuarez commented on #12526
closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/6554

[2022-09-19 17:51] #12526 closed

[2022-09-19 17:53] rileykarson commented on #12570
There's a wider question about overall workflow w/ draft PRs, a user that needs the most help is often the one that's clicked "Draft" rather than opening a traditional PR.

OTOH there's things like changelog checks that could be referred.

[2022-09-19 17:54] rileykarson commented on #12578
@shuyama1 to investigate the required changes

[2022-09-19 17:55] ScottSuarez commented on #11865
Closing this issue as no response. I am going to assume this is a non-issue.

[2022-09-19 17:55] #11865 closed

[2022-09-19 17:55] nicain opened #12590 "google_service_directory_namespace not authenticating from provider access token"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-19 18:36] #10897 closed

[2022-09-19 18:38] #12585 closed

[2022-09-19 20:17] melinath opened #12594 "Document how to ensure that update tests actually test update i.e. don't trigger ForceNew"
we should modify the docs for [update tests](https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/third_party/terraform/README.md#update-tests) to include a discussion of using [`lifecycle.prevent_destroy`](https://www.terraform.io/language/meta-arguments/lifecycle#prevent_destroy) to ensure that the resource isn't being destroyed by a change to a [`ForceNew`](https://www.terraform.

[2022-09-19 20:21] melinath opened #12595 "Allow autogeneration of data sources"
Data sources are currently all handwritten; however, they are fairly simple. We should allow autogeneration so that we can more cheaply support the existing data sources and also more easily add new ones.

[2022-09-19 21:05] ScottSuarez opened #12596 "Make examples collapsable in generated documentation"
## motivation
Terraform examples [can get quite long](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/app_engine_standard_app_version#example-usage---app-engine-standard-app-version). Unfortunately this means we have low motivation to show more complex configurations in documentation. Especially for resources that could utilize this.

## action
If the sample exceeds

[2022-09-19 21:12] #12423 closed

[2022-09-19 21:29] melinath opened #12598 "document array properties (like min_size) that can be set in api.yaml"
Arrays have some properties (like min_size) that can be set in api.yaml. These are currently not documented. We should document them.

[2022-09-19 21:35] melinath opened #12599 "Allow nested object definitions"
A lot of GCP APIs have a concept of "shared objects" that get used multiple times inside a particular REST API. Currently developers need to hand-copy the definitions for these objects into all the places they're used, which is toilsome and error-prone, and can easily get out of sync over time. For example: https://cloud.google.com/datastream/docs/reference/rest/v1/projects.locations.streams#oracl

[2022-09-19 22:05] edwardmedia commented on #12589
@sirius-ed-hammond it appears to me that is a question more about how to use the dynamic code. By removing the `for_each`, are you able to repro the issue? Please share the config if you can.

[2022-09-19 23:10] rileykarson commented on #12504
It seems likely we should remove the object from state at read time. I'm not sure why we don't, and don't see anything in the original PR (but didn't do more than scan through it). Maybe an interaction with `enabled`.

IMO failing if the Delete call 404s is reasonable, removing the object on Read is what makes us never make a Delete call.

[2022-09-19 23:51] rileykarson commented on #12599
I am personally a strong opponent of this one. We've seen time and time again that they aren't as shared as they initially seem, with different sets of validations and required fields. https://github.com/GoogleCloudPlatform/declarative-resource-client-library represented resources this way, but actually took steps to revert it based on many of them being invalid.

Additionally, this _significantly

[2022-09-20 01:11] equals215 opened #12600 "google_iap_brand documentation is wrong about import"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-20 01:14] megan07 commented on #12550
Merged internally. Thanks!

[2022-09-20 01:14] #12550 closed

[2022-09-20 08:24] lauraseidler commented on #12422
With the update to 4.37.0, the same problem now happens additionally with `node_pool_defaults`.

[2022-09-20 08:55] Syphon83 commented on #12557
Hi @shuyama1 , I am currently experiencing this behavior using the GKE module at version 23.0. Unfortunately I am not using resources, sorry.

[2022-09-20 09:44] zculek-fb commented on #11424
Hello,

This bug/issue is still present, even though it was supposedly fixed in https://github.com/GoogleCloudPlatform/magic-modules/pull/4907.

We are using the latest provider and TF, and the issue is still present. Other people have also confirmed it, in e.g. https://github.com/hashicorp/terraform-provider-google/issues/12148, but I cannot reopen nor comment on that thread to confirm it there a

[2022-09-20 11:23] luis-guimaraes-exoawk opened #12601 "Add a data source for google_compute_firewall"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-20 11:25] sirius-ed-hammond commented on #12589
If I remove the for_each, then the functional requirement would not be met.  We need to have a dynamic list of networks, within each we allocate an internal global IP address range, and with that, we create the private network connection.

Without the for_each, we would need to have a static configuration of "allocate address and create connection with that address" pairs in the terraform code.  T

[2022-09-20 11:31] yurifrancalacci commented on #12557
Hello,
I'm currently testing the same code with the latest (4.37.0) provider version to check if the error is gone. I will keep you updated

[2022-09-20 11:47] AlbertMoser commented on #12562
@edwardmedia Thanks for looking into it. When I deploy it with `roles/viewer`the deployment works, but the cloudfunction still stays private. I will look into the API itself and if it doesn't work, I will open a ticket in the Google issuetracker.

[2022-09-20 12:25] AlbertMoser commented on #12562
I created the corresponding ticket. For transparency reasons here it is https://issuetracker.google.com/issues/247748089

[2022-09-20 12:29] bakuljajan opened #12602 "Ability to create service directory namespace for Private Service Connect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-20 13:09] ar-qun opened #12603 "data.google_project doesn't accept value in format 'projects/my-project-id' after resent update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-20 14:20] ranuka123 opened #12604 "provider "registry.terraform.io/-/google" produced an unexpected new value for was present, but now absent."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-20 14:39] aceresia commented on #6177
I'm still experiencing this issue.  Any progress?

[2022-09-20 15:58] shuyama1 commented on #12422
The PR has not been merged and released yet. You could try to pin the provider version to 4.33.0 to prevent issues in the short term until the fix is released. The PR is targeting the next release.

[2022-09-20 16:12] jonathan-falomir commented on #12444
Sorry yeah that would have been helpful.
[Cloud Speech-to-Text API](https://cloud.google.com/speech-to-text/docs/reference/rest)

[2022-09-20 16:16] edwardmedia commented on #12604
@ranuka123 can you provide a config and steps that can repro the issue?

[2022-09-20 17:04] #12385 closed

[2022-09-20 17:38] csimard01 opened #12607 "Support user-managed service account for app engine STANDARD"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-20 17:47] melinath commented on #12599
that makes sense - I'm down with not implementing it but in that case I'd change this ticket to cover documenting the reasoning for not covering it, so that contributors understand why they're being asked to do the toil.

[2022-09-20 17:52] melinath commented on #12444
@jonathan-falomir thanks! Looking at the API I see CustomClasses and PhraseSets seem to be real resources that could potentially be provisioned with Terraform; I don't see `workspaces` - could you clarify what a `workspace` is and which API specifically would be used to create it? Or alternately - would custom classes and phrase sets meet your needs?

[2022-09-20 18:04] shuyama1 commented on #12504
Hi @Raffaello! I was trying to reproduce the error and everything worked fine for me.
The config I used to repro the issue:
[code]
The steps I followed to repro the issue:
1. run `terraform apply` to create the resources
2. delete the secret from UI
3. run `terraform apply` again (I've also tried changing `secret_data` to "secret-data-new" and then run `terraform apply`)

The resources created cor

[2022-09-20 18:14] freddessert opened #12608 "Support for Dataflow Pipelines"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-20 18:16] dip10du commented on #12603
our team is encountering the exact same issue as well!

[2022-09-20 18:29] skorobogatydmitry commented on #12535
I ran the module ~50 times and issue didn't reproduced. So it looks that I'm unable to provide logs.

[2022-09-20 18:44] roaks3 commented on #12607
See https://github.com/GoogleCloudPlatform/magic-modules/pull/6391 for the flex version of this implementation

[2022-09-20 18:47] roaks3 commented on #11596
Closing as a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/11813

Note that the implementation specific to standard_app_version is captured by https://github.com/hashicorp/terraform-provider-google/issues/12607

[2022-09-20 18:47] #11596 closed

[2022-09-20 19:05] roaks3 commented on #10549
This appears to be fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/5449, and was promoted to GA with https://github.com/GoogleCloudPlatform/magic-modules/pull/5838

[2022-09-20 19:05] #10549 closed

[2022-09-20 19:08] SarahFrench opened #12610 "Check if `ga`-only logic can be removed from `iam_test_file.go.erb` file"
In Magic Modules' `mmv1/templates/terraform/examples/base_configs/iam_test_file.go.erb` file there's ga-only logic around import steps of acceptance tests and also around [this code](https://github.com/hashicorp/magic-modules/blob/f363d1c9fbfffc12a491a8dbde18dbc34bdbb77a/templates/terraform/examples/base_configs/iam_test_file.go.erb#L59-L63)

[code]

I think this can be removed as it originated a

[2022-09-20 19:14] roaks3 commented on #2024
Looks to be fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/4125

[2022-09-20 19:14] #2024 closed

[2022-09-20 20:22] jonathan-falomir commented on #12444
Hi, so after digging some more into the API and the SDK it doesn't look like gcp gives us the ability to create workspaces (which are just a reference to a cloud storage bucket that will keep a record of transcriptions). It's very weird since the UI won't let you create a transcription without setting a workspace but the gcloud cli won't complain and will work just fine.
So, while the custom class

[2022-09-20 20:22] #12444 closed

[2022-09-20 20:48] nicain opened #12612 "google_dialogflow_cx_agent"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-20 21:25] edwardmedia commented on #12589
@sirius-ed-hammond not sure how I can help. Please keep in mind that here is the site we focus on individual resources. In term how to put various resources together, terraform core/sdk plays bigger role. By saying that, it is still possible there are issues in the provider. Maybe you can hard-code the resources to see where the problem is?

[2022-09-20 21:30] rileykarson commented on #12603
fyi @melinath @sanghaniJ this seems like it needs to be expanded to include this format or reverted.

[2022-09-20 21:55] Raffaello commented on #12504
Hi,

to recap your steps, with the `secret-data-new`:

1. run `terraform apply` to create the resources (`secret-data`)
2. delete the secret from UI (destroy)
3. run `terraform apply` again, but using the new secret

well that should have reproduced the error i have experienced.

as a per DEBUG output reported in this isse too.
[code]

I think the whole point of the error i have experienced is abo

[2022-09-20 21:56] edwardmedia commented on #12562
@AlbertMoser Thanks for filing the bug against the API. I am closing this issue then. Feel free to reopen if you see anything we can do at the provider level

[2022-09-20 21:56] #12562 closed

[2022-09-20 21:57] Raffaello commented on #12504
p.p.s / addendum
@shuyama1 I have used a micro module to deal with secret that is basically applying those 2 resources, but not sure, it shoud be the same as applying those directly. unless the bug is somehow hidden with some module refresh state or whatever, not knowing the internal, just guessing.

[2022-09-20 23:07] #12603 closed

[2022-09-20 23:12] guptamukul-google opened #12613 "Billing Budget creation failing when adding pubsub_topic rule without monitoring_notification_channels"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-21 09:50] Ryan-Lintern opened #12616 "Updating a BigQuery View with a Schema Description Drops the Descriptions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-21 09:56] Ryan-Lintern commented on #12616
This behaviour seems linked to the following issue and Pull Request:
* https://github.com/hashicorp/terraform-provider-google/issues/9096
* https://github.com/hashicorp/terraform-provider-google/pull/10819

When updating the BigQuery View it appears that, when a schema is provided, this should possibly follow the same logic as the [BigQueryTableCreate](https://github.com/hashicorp/terraform-provid

[2022-09-21 10:36] villesau opened #12617 "request_coalescing missing from google_compute_backend_service cdn config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-21 12:41] sirius-ed-hammond commented on #12589
Seem we have differing perspectives.  Terraform exists to create collections of resources within a plan file, not a single resource in a plan file.  Iteration and symbolic substitution of values is vital to the effective use of the real world terraform plans.

In this case, the provider is not adapting to the value change that gets resolved to being more specific.
As the error message says:
`"regi

[2022-09-21 13:42] stawik-mesa commented on #6734
Hi,
I will try to implement it. Testing might be challenging as CUDs can't be destroyed.

[2022-09-21 16:14] edwardmedia commented on #12616
@Ryan-Lintern do you have a config and the steps that can repro the issue?

[2022-09-21 16:19] edwardmedia commented on #12612
@nicain it seems clear what the problem is. Where is the code to enable the api?

[code]

[2022-09-21 16:37] Ryan-Lintern commented on #12616
I've updated the initial message to include an example config. For reproducing this issue, I've provided an example - all it takes is a change to the View resource, whether that's changing the description, or changing the SQL code that builds the view. One of the instances where we hit this issue was when running the apply on different systems (Windows vs Linux). In these instances, the view code

[2022-09-21 16:39] Ryan-Lintern commented on #12616
Reading up on the previous issue(s) and reviewing the code, it appears like the issue is that when the view is being updated, it needs to submit the schema in a separate API call, similar to how it is now done in the BigQueryCreateTable function.

[2022-09-21 16:46] shuyama1 commented on #12485
This feature is implemented based on the API description. Filed a ticket b/248037977 against the upstream API to confirm if the requirements are still valid

[2022-09-21 18:54] #12422 closed

[2022-09-21 18:54] #12549 closed

[2022-09-21 19:14] pjo256 opened #12618 "Cloud SQL disk_size and disk_autoresize documentation is misleading"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-21 20:22] shuyama1 commented on #12504
Hi @Raffaello. I used Terraform v1.1.9 and provider v4.35.0 (the versions you listed in the issue description) to test the resource. I also tried creating a module with these 2 resources and it seems still work fine for me. Let me know if you still see this error.

[2022-09-22 08:43] liamnv commented on #12608
+1 waiting for

[2022-09-22 08:50] JunchengL commented on #10908
up
Any news for this stateful ip support?

[2022-09-22 09:00] alexh2o17 commented on #10908
+1

[2022-09-22 09:33] SarahFrench commented on #12421
The fix is merged and live on the tutorial page, closing

[2022-09-22 09:33] #12421 closed

[2022-09-22 10:33] Evesy opened #12620 "GKE Nodepool adding tags & labels should not recreate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-22 12:44] thameezb commented on #12549
Would it be possible to trigger a release to enable this fix to be pulled in by users?

[2022-09-22 13:14] awatson72 opened #12621 "Provider Crash on parsing creation_time"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-22 13:16] awatson72 commented on #12621
Here's an excerpt from the state file which shows that the integer reported in the output above as 'value out of range' is the creation_time:

[code]

Happy to provide more info if needed.

[2022-09-22 13:38] edwardmedia commented on #12621
@awatson72 what resource is it? `google_pubsub_topic`? But it does not have `dataset_id`.  Can you share the config, the state and debug log?

[2022-09-22 13:50] awatson72 commented on #12621
@edwardmedia  I don't believe this is related to one particular resource, I don't see an option to generate a debug log while running 'terraform plan'. No debug log, or crash log is generated, only the output to the screen which I pasted above.
Here's the tfconfig:
[code]
And the provider config:
[code]

If the state file is needed, I would need to share that privately or do a bit of 'sanitization

[2022-09-22 13:51] awatson72 commented on #12621
Note that I have tried a bunch of different provider versions, including the newer 4.x versions - all have the same issue.

[2022-09-22 13:59] edwardmedia commented on #12621
@awatson72 it appears on the field `creation_time` but I have no clue which resource it belongs to. The value of that `time` seem wrong. We need to understand how and when it was created. After it was already entered, all subsequent `read` could fail. I guess that is what are experiencing no matter what version you choose. I am looking for the logic where it is created and entered. Make sense?

[2022-09-22 13:59] awatson72 commented on #12621
It might be relevant to report the Windows version that I'm using WSL on Windows 10 21H2.

[2022-09-22 14:01] awatson72 commented on #12621
Yep - I follow you. I assumed 'creation_time' applied to the whole state file, but let me dig deeper....

[2022-09-22 14:02] edwardmedia commented on #12621
@awatson72 it is very likely. From the log you showed above, it has nothing to do with the provider

[2022-09-22 14:04] awatson72 commented on #12621
ok, so it appears to be related to this resource:

[code]

The state file:

[code]

[2022-09-22 14:56] edwardmedia commented on #12621
@awatson72 are you able to test run on a macbook to see if that happens?

[2022-09-22 15:18] pjo256 commented on #12618
I'll have a pull request up later this afternoon in https://github.com/GoogleCloudPlatform/magic-modules to address this

[2022-09-22 15:22] awatson72 commented on #12621
The issue does not occur on a macbook.

[2022-09-22 16:14] Raffaello commented on #12504
hi thanks.
for the reply.
oh nice to that you have been able to reproduce the error.

[2022-09-22 16:37] rileykarson commented on #12621
This has come up in the past, https://github.com/hashicorp/terraform-provider-google/issues/6518 / https://github.com/hashicorp/terraform-plugin-sdk/issues/469

[2022-09-22 16:37] rileykarson commented on #12621
(whoops, just meant to click comment)

[2022-09-22 16:57] edwardmedia commented on #12621
https://github.com/hashicorp/terraform-provider-google/issues/6518

[2022-09-22 18:46] SarahFrench commented on #12584
Hi @billyfoss  - I'm having some trouble reproducing this issue, could you please post an example of how you're calling the [beta-private-cluster](https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/latest/submodules/beta-private-cluster) module?

[2022-09-22 19:13] rjouhann opened #12624 "New data source for google_compute_interconnect_attachment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-22 21:17] edwardmedia commented on #12613
@guptamukul-google I have tested below config which does not have `monitoring_notification_channels`. It works fine. Can you try it?

[code]

[2022-09-22 21:20] #12577 closed

[2022-09-22 21:44] edwardmedia commented on #12487
Changing the label from bug to enhancement for triage
Should make the location to be a required field?

[2022-09-22 21:48] edwardmedia commented on #12353
@saidi-adam closing this as I can't repro it. Please reopen this once you have the debug log to share.

[2022-09-22 21:48] #12353 closed

[2022-09-22 22:01] CaliWee opened #12628 "project field in google_container_engine_versions data source not working"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-22 22:15] imrannayer opened #12629 "Add feature GKE cluster-scoped DNS zone in google_dns_managed_zone & google_dns_response_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-23 06:01] rjouhann opened #12630 "New google_compute_router_peer_asn_update resource for Partner Interconnect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-23 06:13] rjouhann opened #12631 "google_compute_interconnect_attachment Error 400: The resource is not ready"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-23 11:21] awatson72 commented on #12621
This issue is resolved when using the amd_64 version of terraform. So the takeaway is that Windows WSL users might be able to use the linux_386 version of terraform, but could have problems in certain circumstances.
[code]

[2022-09-23 11:21] #12621 closed

[2022-09-23 14:34] eraac opened #12632 "secret_manager_secret_version: retrieve value only"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-23 14:40] megan07 commented on #11822
TestAccDataFusionInstance_update also fails with the new message

[2022-09-23 15:57] edwardmedia commented on #12631
@rjouhann the link to your config isn't working. Mind share the config here?

If there are other resources involved, could it be a timing issue?

[2022-09-23 16:20] #12600 closed

[2022-09-23 16:20] rjouhann commented on #12631
@edwardmedia my bad, the example was in a different [branch](https://github.com/PacketFabric/terraform-provider-packetfabric/tree/update_use_case_cloud_router_v0.3/examples/use-cases/cloud_router_google_ipsec).

I confirm all resources are correctly created before I call the destroy. I will get the debug output as well in a bit.

[2022-09-23 16:45] rjouhann commented on #11458
I found a workaround by using the [terraform-google-modules](https://registry.terraform.io/modules/terraform-google-modules/gcloud/google/latest). Not the best but it works.

[2022-09-23 16:47] eraac opened #12634 "Support "Backup for GKE""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-23 17:20] philip-harvey commented on #9709
Is there a Google Issuetracker for this?  I can't find one

[2022-09-23 18:05] #9151 closed

[2022-09-23 19:00] lodotek commented on #12011
What's the latest status here?

Thank you.

[2022-09-23 20:05] etruong42 commented on #11935
There's an internal Google ticket (b/234447582) about this that I am actively working on.

Preview: jakubsacha's choice of `google_monitoring_service` matches our design choice as well!

We currently have `google_monitoring_custom_service`, but we have found that it would be more useful for users to create all sorts of "service" resources to support SLOs in Cloud Run and all the other aforemention

[2022-09-23 20:08] heph2 opened #12640 "google_artifact_registry_repository Fails with `artifactregistry.repositories.create`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-23 21:19] #12618 closed

[2022-09-24 18:21] edwardmedia commented on #12640
@heph2 what account are you using to run the terraform (and gcloud)? Does the account have permission of `artifactregistry.repositories.create`? I see you have enabled the API (service), but you also need to provide iam for the account through other resources. Does this make sense?

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project_iam#google_project_iam

[2022-09-24 19:08] edwardmedia commented on #12628
@CaliWee I think this is the expected behavior. To verify, can you try to do this with other tools like gcloud?

[2022-09-24 19:46] jakubsacha commented on #11935
Thanks for a feedback. Please let me know in case I can support you.

[2022-09-24 23:18] edwardmedia commented on #12589
@sirius-ed-hammond do you see below plan in the initial plan? After the first apply and the networks are created, the value for network in the plan has changed. That is what the Terraform complains about and the execution is blocked by Terraform. It is beyond what the provider can do.

[code]

[code]

I was also thinking you may use its data source. But unfortunately the data source does not expor

[2022-09-24 23:21] edwardmedia commented on #12535
@skorobogatydmitry thank you for the efforts. I am closing the issue now. Feel free to reopen if the issue resurfaces.

[2022-09-24 23:21] #12535 closed

[2022-09-25 00:29] sundar-mudupalli-work opened #12642 "deletion_protection for google_sql_database_instance does not work"
Hi,

The documentation for the provider at https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_database_instance states that `"deletion_protection - (Optional, Default: true )"`. However, deletion_protection is not true by default. When it is set to true, it is ignored when the instance is created and deletion protection is not set for the instance.

Use the followin

[2022-09-25 14:28] edwardmedia commented on #12469
@jawnsy are you able to change `purpose` back without recreating the resource? I think Patching is limited to certain condition. Please let me know what you see.

[code]

[2022-09-25 14:39] edwardmedia commented on #12642
@sundar-mudupalli-work the provider implemented the deletion protection before API has its own version on server side.  When you use gcloud, the API side feature is used.  Below is the enhancement that tracks the effort to sync them. I would think this is a dup. Do you agree?

https://github.com/hashicorp/terraform-provider-google/issues/12372

[2022-09-25 15:23] edwardmedia commented on #12471
@anudeet-m it does appear to be a dup. Closing now. Feel free to reopen if the issue persists.

[2022-09-25 15:23] #12471 closed

[2022-09-25 15:25] edwardmedia commented on #12446
Closing this then

[2022-09-25 15:25] #12446 closed

[2022-09-26 07:41] yurifrancalacci commented on #12557
issue seems to be resolved with the latest provider.

[2022-09-26 11:48] #11166 closed

[2022-09-26 14:58] #12504 closed

[2022-09-26 15:03] shuyama1 commented on #12557
Thanks for the update! Closing this issue now. Please feel free to reopen this issue or open a new one if the error occurs again.

[2022-09-26 15:03] #12557 closed

[2022-09-26 15:08] juicemia opened #12645 "Plan fails when a resource depends on `google_compute_address`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-26 15:16] juicemia commented on #12645
For anybody who might also be having this issue, downgrading to `3.90.1` will get a successful plan. Downgrading to `4.0.0` gets the same error.

[2022-09-26 15:37] juicemia commented on #12645
Running plan with the provider on `4.0.0` will work if the address is specified on the `google_compute_address` resource like this:

[code]

However, this doesn't solve my use case because I'm using this address for a cloud NAT, so it needs to be a public external address, which means I have to leave the `address` field blank.

[2022-09-26 15:54] melinath commented on #12292
b/249089097

[2022-09-26 16:06] #12061 closed

[2022-09-26 16:51] CaliWee commented on #12628
@edwardmedia `gcloud` cli tools work fine. Also using other resources work just fine. I only ran into issues when trying to create container resources.

For example, the `compute` API was disabled in project A, but I was still able to create a compute engine VM instance in project B.
But when I try to refer to the get available kubernetes versions from project B, I get an error saying that the con

[2022-09-26 17:41] rileykarson commented on #12601
Even though the datasource is singular in the config snippet, the gcloud equivalent suggests this should be a plural datasource: https://github.com/hashicorp/terraform-provider-google/issues/8255

[2022-09-26 17:49] SarahFrench commented on #12596
To help with this, check out the Registry's doc preview tool (https://registry.terraform.io/tools/doc-preview), and here's something to copy-paste in to the field at the top:

[code]

[2022-09-26 17:57] c2thorn commented on #12602
The referenced guide uses a Compute Forwarding Rule to create the namespace. This should be available via https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_forwarding_rule#namespace

Please let us know otherwise, with specific API reference documentation.

[2022-09-26 17:57] #12602 closed

[2022-09-26 20:10] shuyama1 commented on #12630
Hi @rjouhann! [`google_compute_router_peer`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_router_peer) looks similar to your use case. Is this the resource you're looking for?

[2022-09-26 20:28] rjouhann commented on #12630
Hello @shuyama1,
I cannot use the existing `google_compute_router_peer` as the BGP session is automatically created in the Google Cloud Router when the Partner Interconnect Connection is setup. `google_compute_router_peer` can be used to create the BGP session but I cannot update an existing one.

Here is the workaround using the cloud terraform module to set the BGP Peer ASN to the BGP session cr

[2022-09-26 20:35] roaks3 commented on #9065
b/249140868

[2022-09-26 21:26] niels-s opened #12647 "Change boot_disk labels to in-place updates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-26 21:44] melinath opened #12648 "document how to use conflicts and exactly_one_of with nested fields"
`conflicts` and `exactly_one_of` use syntax like the following for nested fields `top_field.0.nested_field`. This is because the nested objects are modeled as a list with a single item in it. We should document this.

Related: https://github.com/hashicorp/terraform-provider-google/issues/12396

[2022-09-26 22:36] zli82016 opened #12650 "Document"
It will help engineers onboarding to add more information to README files. These are based on my onboarding experience. Feel free to provide your opinion.

1. [Magic Modules README]( https://github.com/GoogleCloudPlatform/magic-modules)

      1. Add high level explanation about the relationship between two repositories, [magic modules repository](https://github.com/GoogleCloudPlatform/magic-modul

[2022-09-26 22:48] melinath opened #12651 "document how to use `allow_empty_object`"
developers can set `allow_empty_object` in api.yaml to allow a nested object to be sent to the API even if it's empty. This is important for some APIs that do things like using empty objects to represent a boolean state of "true" - for example whether a particular feature is enabled.

We should document how to use this property.

[2022-09-26 22:51] melinath commented on #12651
note: requires `send_empty_value` as well.

[2022-09-27 05:07] bakuljajan commented on #12602
Hello @c2thorn, I've tried using the `google_compute_forwarding_rule` code below.

[code]

But I'm getting errors like this.

[code]

Do you have any examples for creating via `google_compute_forwarding_rule` ?

[2022-09-27 07:02] Rstar1998 commented on #11346
Any updates on this issue ? Facing the same thing. Have to created everything manually 😞

[2022-09-27 07:05] Rstar1998 commented on #10810
Any updates on when we will be able to create datastream resources using terraform ? Have to created everything manually 😞

[2022-09-27 07:46] michalswi commented on #10903
Tested with:
[code]
problem persists.

[2022-09-27 10:29] #8701 closed

[2022-09-27 13:58] #12647 closed, assigned to edwardmedia

[2022-09-27 14:12] pmjacinto opened #12654 "Support maxTimeTravelHours in google_bigquery_dataset"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-27 14:48] niels-s opened #12655 "Google compute instance in-place updates of labels of boot disk"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-27 15:27] cagataygurturk opened #12656 "Missing Confidential VM configuration for Dataproc clusters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-27 15:49] #12604 closed

[2022-09-27 15:51] ranuka123 commented on #12604
The error is vaguely correct. The resource was being deleted by a different actor and terraform wasn't seeing it when it does its state check after creation (I'm assuming that's what it does based on the error). So closing this.

[2022-09-27 17:10] edwardmedia commented on #12458
@kubitz is this still an issue?

[2022-09-27 17:12] edwardmedia commented on #12369
Closing this now. @pysiok1983 feel free to reopen if you want to continue

[2022-09-27 17:12] #12369 closed

[2022-09-27 17:18] edwardmedia commented on #12486
@Demacr are you able to get the debug log? Or is it still an issue?

[2022-09-27 19:01] #9828 closed

[2022-09-27 19:04] melinath opened #12657 "Document meaning of "flatten" and "expand" in the context of Terraform provider development"
Currently we have two types of conversion functions: Flatteners and expanders. These are not intuitive for new users (or even experienced users), because it's not clear what is being flattened or expanded. In most cases, the end result is exactly the same level of flat or nested as the starting point.

It would be great to rename these functions (for example to `tf2apiResourceName` and `api2tfReso

[2022-09-27 20:04] #11881 closed

[2022-09-27 20:11] rileykarson commented on #12657
Note that the nomenclature is common across providers: https://github.com/hashicorp/terraform-provider-aws/blob/a2ee3af3cc8a395039f055397d8f71b7463effde/internal/service/firehose/delivery_stream.go#L1638 and https://github.com/hashicorp/terraform-provider-azurerm/blob/8debe94a1db69c92019c069b3ccbf1cce1c61209/internal/services/datashare/data_share_account_resource.go#L195 are examples.

We may want

[2022-09-27 20:40] Klaitos commented on #10094
Same issue here, thanks for the workaround.

[2022-09-27 20:53] drandell opened #12660 "Folder log sink - Missing uniqueWriterIdentity"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-27 20:58] #12554 closed

[2022-09-27 20:59] #12457 closed

[2022-09-27 21:10] yanweiguo commented on #12532
Changed the title :)

[2022-09-27 21:23] melinath opened #12663 "Document adding a new service"
We should document how to add a new service; there are some unusual things & gotchas that people can predictably run into.

In particular: we should document how to set up the `async` block, what the different properties are / do, and that setting `autogen_async: true` is required. This was previously documented at https://docs.google.com/document/d/1wICyhilVgorxLyyso7fU5nnA3PoqEB8l8VXk9VPWSw8/edi

[2022-09-27 23:49] g-awmalik commented on #12620
This also applies to labels also reported [here](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/1412). Seems like there is a [PR](https://github.com/GoogleCloudPlatform/magic-modules/pull/6599) but needs to account for labels as well.

[2022-09-28 09:46] AndreasTA-AW commented on #10128
We got this error as well and we currently can't move away from aliases since we are migrating domains.

[2022-09-28 13:27] Demacr commented on #12486
Possibly it is fixed in #11872 or #12157, because I updated provider 1.25 -> 1.31

[2022-09-28 13:55] Dev25 opened #12667 "Add GKE logging variant field for increasing log agent throughput"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-28 15:09] modax commented on #9505
Why don't we revert https://github.com/GoogleCloudPlatform/magic-modules/pull/4894 but do the same workaround for `node_pool` instead. I have already tested this approach, it works. I know it is not optimal but at least make things work. PR is in progress. Based on the excellent comment https://github.com/hashicorp/terraform-provider-google/issues/9505#issuecomment-1039029610

[code]

[2022-09-28 15:12] benfielden-onx commented on #10331
@c2thorn it looks like this is also not functional for minor version changes (causes an environment replacement). Would it be possible to unblock that portion of the improvement rather than fully blocking until major version upgrades are supported?

[2022-09-28 17:03] melinath commented on #10438
Reopening this ticket. It is not actually resolved for any sql database types, even sql server. Per https://github.com/GoogleCloudPlatform/magic-modules/pull/6165#pullrequestreview-1030611518 SqlServerUserDetails is actually read-only.

[2022-09-28 17:41] jaredkosanovic opened #12669 "Unsetting the "paused" property in google_cloud_scheduler_job does not unpause the job"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-28 17:51] melinath commented on #7696
marking as upstream since this is an issue with the API implementation.

[2022-09-28 17:56] melinath commented on #8263
@tylerg-dev is there any work to do here or is this ticket completed?

[2022-09-28 17:57] melinath commented on #10694
b/198475470

[2022-09-28 18:06] melinath commented on #8288
This is scoped to adding a new resource to support [getting](https://cloud.google.com/identity-platform/docs/reference/rest/v2/projects/getConfig)/[updating](https://cloud.google.com/identity-platform/docs/reference/rest/v2/projects/updateConfig) the default [Config](https://cloud.google.com/identity-platform/docs/reference/rest/v2/Config) object, and specifically only supporting the sign-in confi

[2022-09-28 18:11] edwardmedia commented on #12669
@jaredkosanovic what do you see if you set `paused = false`?

[2022-09-28 18:21] sandmman opened #12670 "Support details LRO error messages in mmv1"
### Description

The API surface of mmv1 supports LRO error handling configuration; however, there is no way to configure the resulting error message to include anything aside from the LRO.error.message field. Many APIs add additional information inside the details of the LRO message (see https://google.aip.dev/193). The mmv1 API should be extended to include these details.

Further context: https

[2022-09-28 18:22] #3382 closed

[2022-09-28 18:40] jaredkosanovic commented on #12669
This works as expected. It seems that this issue is only present when the property is unset.

[2022-09-28 18:40] edwardmedia commented on #12628
@CaliWee Sorry I may have not made clear. When you tried gcloud to test, did you use the service account in project A? If yes, could share your debug logs from both gcloud (succeeded) and the terraform apply execution?

[2022-09-28 18:42] edwardmedia commented on #12514
closing this now assuming it is no longer a question

[2022-09-28 18:42] #12514 closed

[2022-09-28 18:43] edwardmedia commented on #12486
Cool. Thanks for the update @Demacr  Closing this then

[2022-09-28 18:43] #12486 closed

[2022-09-28 18:45] edwardmedia commented on #12669
@jaredkosanovic when you update a property, most time you have to be explicit. Closing the issue then

[2022-09-28 18:45] #12669 closed

[2022-09-28 18:56] neidiom opened #12672 "principalSet is missing as an option for member"
``principalSet`` is not on the list on the following link:

* https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_service_account_iam#member/members

example provided here

https://github.com/GoogleCloudPlatform/magic-modules/pull/4595#issuecomment-800472800

[2022-09-28 19:01] jaredkosanovic commented on #12669
Can you help me understand how you came to this conclusion? This runs counter to what the [documentation for the `paused` property states](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_scheduler_job#paused), and doesn't make sense for terraform as a declarative language.

[2022-09-28 19:07] edwardmedia commented on #12395
@roy-work where the state resides is specified at the terraform provider [configuration](https://www.terraform.io/language/settings/backends/configuration). `terraform import` and `terraform apply` should use the same config if you are using the config https://www.terraform.io/language/providers/requirements#requiring-providers

Again this is a question that appears to be about how to use the terr

[2022-09-28 19:11] darkangel01111991 commented on #12532
Would love to get this.

Have you found any workaround to setup a startup/liveness probe while avoiding the misalignment between terraform state and the current infra?

Any short term solution would be much appreciated! Thanks a lot!

[2022-09-28 19:30] g-awmalik commented on #12620
@edwardmedia - would you like us to create another issue for label or can we track it here?

[2022-09-28 19:40] roaks3 commented on #8861
This was implemented with https://github.com/GoogleCloudPlatform/magic-modules/pull/2106, but missing docs. Then the datasource docs were updated with https://github.com/GoogleCloudPlatform/magic-modules/pull/6326.

The only remaining item here is to update the resource docs, which will be almost exactly the same as the datasource.

Note that some of the discussion/work here is on https://github.c

[2022-09-28 19:41] roaks3 commented on #9097
Closing as duplicate of https://github.com/hashicorp/terraform-provider-google/issues/8861

[2022-09-28 19:41] #9097 closed

[2022-09-28 19:43] roaks3 commented on #8861
b/249551103

[2022-09-28 19:50] roaks3 commented on #10729
Yep, that PR has been merged, and this is currently available in the beta provider. Thanks for linking the duplicates for us as well!

[2022-09-28 19:50] #10729 closed

[2022-09-28 19:52] roaks3 commented on #10476
Per https://github.com/hashicorp/terraform-provider-google/issues/10729, this is now implemented in the beta provider.

[2022-09-28 19:52] #10476 closed

[2022-09-28 19:54] roaks3 commented on #10061
Per https://github.com/hashicorp/terraform-provider-google/issues/10729, this is now implemented in the beta provider.

[2022-09-28 19:54] #10061 closed

[2022-09-28 19:55] roaks3 commented on #9907
Per https://github.com/hashicorp/terraform-provider-google/issues/10729, this is now implemented in the beta provider.

[2022-09-28 19:55] #9907 closed

[2022-09-28 20:26] brettcurtis opened #12676 "Dataplane V2 is immutable but resource updated in place"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-28 21:02] edwardmedia commented on #12537
@oioki I don't see the balancing_mode in below call. It looks like its default value is [UTILIZATION](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_backend_service#balancing_mode), Can you try sending Rate mode to see what you get?

[code]

I have tried setting maxRate = 0 and got the response from api `None of the backends have a valid capacity`

[code]

P

[2022-09-28 21:02] roaks3 commented on #9818
It looks like this is not currently supported by the API, and I'm not seeing any trigger-related commands in `gcloud`. For reference, this type of feature appears to not be prioritized by the API team: https://github.com/GoogleCloudPlatform/cloud-builders/issues/130. It might be an option to have Terraform do client-side parsing of the yaml file to construct the `build` block for the user, but the

[2022-09-28 21:44] #10990 closed

[2022-09-28 21:45] #7775 closed

[2022-09-28 21:48] edwardmedia commented on #12445
@AlfatahB what do you mean with below statement under [Actual Behavior](https://github.com/hashicorp/terraform-provider-google/issues/12445#issue-1358554394)?  if api call succeeds, can you share the full log?

[code]

[2022-09-28 21:50] edwardmedia commented on #12612
@nicain is this still an issue?

[2022-09-29 06:58] zvikaga opened #12677 "Terraform uses default service account for creating google.container.cluster resulting in "Gaia id not found" error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-29 08:00] yash-nigam-db opened #12678 "Error: Provider produced inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-29 10:06] Chupaka commented on #8861
@roaks3

https://github.com/GoogleCloudPlatform/magic-modules/pull/6558

[2022-09-29 10:06] elsmorian commented on #12678
We are hitting a very similar bug,

[code]

Versions:
[code]

[2022-09-29 13:14] AlfatahB commented on #12445
I have used the following Terraform configuration:
[code]
I have made API GET call for this Router (tf-router-1) through [API Explorer](https://cloud.google.com/compute/docs/reference/rest/v1/routers/get). I am getting the following response:
[code]
We can see in the above response that there are 2 interfaces. One is the interface that I've created using terraform i.e. **tf-router-interface**, whi

[2022-09-29 13:39] alina-bylkova opened #12679 "Support time-sharing GPUs on GKE"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-29 14:02] jsteinberg-rbi opened #12680 "firebase -- only project, project_location and web_app are supported? just want to confirm"
I just want to confirm that the provider indeed only supports these three resources and thus it is not possible to terraform crashlytics, performance, graphs, dashboards, audiences, realtime or any of these analytics features? Thank you.

[2022-09-29 14:45] rosmo commented on #12197
I'm working on this.

[2022-09-29 14:59] natedogith1 opened #12681 "VM machine_type change false-positive"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-29 16:07] melinath commented on #8263
Okay closing this issue - please feel free to open separate issues for any remaining change requests.

[2022-09-29 16:07] #8263 closed

[2022-09-29 17:32] knjoroge opened #12682 "Inconsistent result after apply when adding roles in BigQuery"
I am getting a bug with provider `"provider[\"registry.terraform.io/hashicorp/google\"]" ` when I am trying use a module to add permissions for a `reader_list` in GCP BigQuery.

Custom role:

[code]
Dataset Module:
[code]

main.tf

[code]

When running terraform apply it works just fine with these two users but as soon as I add another user to the list of "engineers" it throws an error.

[code]

T

[2022-09-29 17:37] edwardmedia commented on #12681
@natedogith1 sorry about that, but this is caused by API and there is not much we can do at the provider level. Yes, I think the [mitigation](https://github.com/hashicorp/terraform-provider-google/issues/7517#issuecomment-708601418) is the solution we can suggest now. Does this make sense?

[2022-09-29 19:19] natedogith1 commented on #12681
The mitigation doesn't work, because we have a lot of VMs using a common module, and sometimes we want to change the machine type.  Couldn't the provider determine that n2-highmem-16 and n2-custom-16-131072 are both N2 and have the same vCPU and RAM?

[2022-09-29 22:52] edwardmedia commented on #12681
@natedogith1 sorry unfortunately there are not much we can do at the provider level. Suppress the diff with the suggestions could lead to more issues. Closing the issue then

[2022-09-29 22:52] #12681 closed

[2022-09-30 02:28] zvikaga commented on #12677
Hi,  from Google documentation:
user is an individual user identified by a Gaia ID. Gaia is the ID management system for all Google products. This ID may be a e-mail address associated with a Google domain (for example, user@gmail.com) or an e-mail address in another domain that has been configured by a Google Workspace domain administrator.

That could also be an option, where google still choose

[2022-09-30 04:03] sundar-mudupalli-work commented on #12372
This is mischaracterized and is a bug fix. The documentation talks about deletion protection and the provider does not work as mentioned in the documentation (i.e. does not create an instance with deletion protection turned on). Provider is unusable for a production deployment. Please reclassify and prioritize. Thanks.

[2022-09-30 04:07] sundar-mudupalli-work commented on #12642
Edward,

If the other issue #12372
<https://github.com/hashicorp/terraform-provider-google/issues/12372> is
reclassified as a bug fix, I am OK with closing this as a dup. Here is the
comment I added to #12372
<https://github.com/hashicorp/terraform-provider-google/issues/12372>
This is mischaracterized and is a bug fix. The documentation talks about
deletion protection and the provider does not wo

[2022-09-30 06:50] thameezb commented on #12422
4.38.0 has been released, and the issue still persists on both `node_pool_defaults` and `node_pool_auto_config`. This has not been resolved

[2022-09-30 06:52] thameezb commented on #12549
4.38.0 has been released, and the issue still persists on both `node_pool_defaults` and `node_pool_auto_config`. This has not been resolved

Apply output:
[code]

[2022-09-30 07:19] dani2819 commented on #12422
Agree with @thameezb. I have the same issue on the latest release i-e `4.38.0` on both `node_pool_defaults` and `node_pool_auto_config`. The block count changed without having it specified.

[2022-09-30 07:21] multani commented on #12372
Hi @sundar-mudupalli-work ,

This has been discussed already in https://github.com/hashicorp/terraform-provider-google/issues/12344

[2022-09-30 09:16] tomwphillips commented on #10548
I found it on the [`google_organization_iam` page](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_organization_iam#google_organization_iam_audit_config).

[2022-09-30 09:43] jack-parsons-bjss commented on #10548
It's not very intuitive compared with the AWS provider documentation where every resource has its own documentation page - I can't remember what the docs layout was when I raised this!

[2022-09-30 12:20] #12479 closed

[2022-09-30 14:57] edwardmedia commented on #12677
@zvikaga mind share the link of the [Google doc](https://github.com/hashicorp/terraform-provider-google/issues/12677#issuecomment-1263030904) you mentioned.

Do you have question regarding the Terraform runner? That is where the issue you are facing?

[2022-09-30 15:46] jw-websensa opened #12688 "Cloud Run - problem with "run.googleapis.com/ingress" annotation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-30 17:48] alextodicescu commented on #11448
I came across this as well, using null local-exec as a workaround for now
eg.
[code]

I'll have a look next week to see if can contribute with an PR.

[2022-09-30 19:08] red8888 opened #12690 "google_container_cluster addons_config property is ignored after initial apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-30 19:43] natedogith1 commented on #12681
I'm not sure what you mean about supressing the diff causing more issues.  If you determine that it won't actually change, I wouldn't think there would be any issues.

[2022-09-30 20:35] natedogith1 opened #12692 "plan/apply shows false-positive changes when removing an attached disk"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-30 21:35] #12449 closed

[2022-09-30 21:45] c2thorn opened #12695 "Failing test(s): TestAccIdentityPlatformConfig_identityPlatformConfigBasicExample"
100% failure since 2022-09-28

Message:

[code]

line in question: https://github.com/GoogleCloudPlatform/magic-modules/pull/6587/files#diff-2d4382e9db63078ff2a8ac1357597a38a440c6cb51129232fa71f44e2e052df8R9

needs to be updated to `google_project.default.project_id`, but it may need further verification as it has never passed

[2022-09-30 21:47] natedogith1 opened #12696 "Terraform fails when removing already destroyed kms key."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-30 21:47] c2thorn opened #12697 "Failing test(s): TestAccStorageTransferJob_basic"
Message:

[code]

API change? There were not changes to this field/lines before

[2022-10-01 02:19] Metroxe commented on #12688
Also receiving the same issue, starting today. But mine is with `maxScale`. Currently looking for a solution. My example is below...

[code]

[code]

[2022-10-01 02:46] Metroxe commented on #12688
I temporarily was able to solve this issue by commenting out the annotations for the initial creation. Then after deployment I put them in again and re-applied. Not ideal, but solved the issue for the time being for me.

However interestingly enough in my deployment, I have 6 cloud run instances, 3 of them had the following annotation, and all of these deployed properly, despite the exact same min

[2022-10-01 14:41] knjoroge opened #12699 "Error: Provider produced inconsistent result after apply when adding roles in BigQuery"
I am getting a bug with provider `"provider[\"registry.terraform.io/hashicorp/google\"]" ` when I am trying use a module to add permissions for a `reader_list` in GCP BigQuery.

Custom role:

[code]
Dataset Module:
[code]

main.tf

[code]

When running terraform apply it works just fine with these two users but as soon as I add another user to the list of "engineers" it throws an error.

[code]

T

[2022-10-01 14:42] #12682 closed

[2022-10-02 00:25] shotarok opened #12700 "Add a terraform resource to set up a repository on Dataform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-02 11:21] RxGoodness opened #12701 "Permission 'cloudkms.cryptoKeyVersions.viewPublicKey' denied on resource"
Hi there,

Please I'm having this error and I've not been able to find a breakthrough after trying all solutions i got.
I am having this error :
  details: "Permission 'cloudkms.cryptoKeyVersions.viewPublicKey' denied on resource 'projects/nftiket500/locations/us-east1/keyRings/nftiket500/cryptoKeys/nftiket5000/cryptoKeyVersions/1' (or it may not exist)

[2022-10-02 12:52] juicemia commented on #12645
It doesn't make sense to me because using version `3.90.1` correctly fills in values for that required field.

When `terraform plan` is run using that provider version I can see that the `source_ranges` requirement is fulfilled, and it's value is `(known after apply)` because the `google_compute_address` hasn't actually been created yet. When upgrading to provider version `4.x` somehow the provide

[2022-10-02 15:24] ernani commented on #8288
Is this related to this issue?
https://github.com/hashicorp/terraform-provider-google/issues/8510

I think there we have a clearer explanation of what's required.

[2022-10-02 23:32] edwardmedia commented on #12699
@knjoroge you closed [this issue](https://github.com/hashicorp/terraform-provider-google/issues/12682). Looks like it is similar, if not same. What happened?

Looks like the issue was in the module. I have no clue what `segment_datasets` is and what resources are involved.  For me to investigate, could you repro this issue with the resources of the provider?

[2022-10-03 00:03] edwardmedia commented on #12696
@natedogith1 I think this is the pattern for most of the resources. When the provider sends the DELETE request to the API, this is the expected response.

If you delete the resources outside of the terraform, you may call `terraform rm` to delete them in the state.

Does this make sense?

[2022-10-03 00:08] edwardmedia commented on #12692
Need to change the type from list to set, which is breaking-chnage

[2022-10-03 00:32] edwardmedia commented on #12701
@RxGoodness how did you get to this point? Are you manage resources via Terraform? Can you share the full debug log?

Also you may want to take a look at

[google_kms_key_ring_iam_member](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_kms_key_ring_iam#google_kms_key_ring_iam_member)

[google_kms_crypto_key_iam_member](https://registry.terraform.io/providers/h

[2022-10-03 00:39] edwardmedia commented on #12688
@Metroxe @jw-websensa the provider does not have much control over the contents of annotations. Over time, the API makes some adjustments. Does `lifecycle` help mitigate the issue?

[2022-10-03 01:54] edwardmedia commented on #12690
@red8888 this is expected. When the provider does not send any for `addons_config`, the API set bunch of defaults and send them back in the response, which could have caused permdiff all the time. To mitigate this behavior, Terraform provides [computed](https://www.terraform.io/plugin/sdkv2/schemas/schema-behaviors#computed) for it.

With this in place, the provider can't tell any diff for this fi

[2022-10-03 02:46] hSATAC commented on #12549
I am also having this issue upgraded to 4.38.0

[2022-10-03 10:42] dvanrhenen opened #12702 "Cloud Build Trigger with `script` field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-03 11:40] jw-websensa commented on #12688
@edwardmedia I am not sure how am I supposed to do that, could you explain?

[2022-10-03 12:03] marcusricardoaguiar opened #12703 "Plan crashing for resource google_storage_transfer_job"
Whenever I plan a code with the resource `google_storage_transfer_job`, it's crashing as shown on **Debug output**, no matter which terraform version and/or gcp provider I've been using.

### Terraform Version

Terraform v1.3.1
on linux_amd64
+ provider registry.terraform.io/hashicorp/archive v2.2.0
+ provider registry.terraform.io/hashicorp/google v4.35.0
+ provider registry.terraform.io/hashicor

[2022-10-03 12:35] thibaultserti commented on #11274
It seems now that you can have a maximum of 20 maintenance exclusion (with always a max of 3 NO_UPGRADES) but the provider only support a maximum of 3.
https://cloud.google.com/kubernetes-engine/docs/concepts/maintenance-windows-and-exclusions#exclusions

Is this why this PR is not closed ?

[2022-10-03 14:06] csms commented on #12677
Same error over here,
node_config.service_account value is ignored.

` googleapi: Error 400: Service account xxxxx-compute@developer.gserviceaccount.com is disabled., badRequest`

[2022-10-03 14:39] cdemire1 commented on #12688
I ran into the same error and moved the metadata block out of the template as explained in https://github.com/hashicorp/terraform-provider-google/issues/10958#issuecomment-1019698109

@edwardmedia Is it possible to update the related documentation with a new example?

[2022-10-03 15:50] jw-websensa commented on #12688
@cdemire1 thank you very much, problem solved!
It is still strange to me that my first approach worked in the past, but hey, why google should inform about changes? :)
I would also like some more detailed examples so that similar mistakes don't happen in future

[2022-10-03 16:00] giovanni-girelli-sdg commented on #12697
Same issue here, on calling plan - crashes trying to refresh the state of a transfer job.

[2022-10-03 16:26] giovanni-girelli-sdg commented on #12703
same error on this resource.

[2022-10-03 16:35] c2thorn commented on #11197
closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/6528

[2022-10-03 16:35] #11197 closed

[2022-10-03 16:47] shuyama1 commented on #12549
Thanks everyone for the feedback! I double checked our release plan. It looks like the fix is not released yet and it will be out in v4.39.0 later this afternoon as scheduled. Please try that after v4.39.0 is released and let me know if the error still occurs. Thanks!

[2022-10-03 17:50] rileykarson commented on #12672
That list is pretty old, does it work if you specify the value? It's not necessarily exhaustive, although it was at the time it was written.

[2022-10-03 17:51] mattmclimans commented on #7242
If your .JSON is static, adding the `lifecycle` meta-argument will eliminate the change outputs within your TF plan.

[code]

[2022-10-03 17:51] neidiom commented on #12672
it does work for me.

[2022-10-03 19:17] #12697 closed

[2022-10-03 19:17] #12703 closed

[2022-10-03 20:02] Kevin-X-Wang opened #12705 "Support creation of SQL Server instances with Timezones using Google Cloud SQL"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-03 20:11] melinath opened #12706 "Support example-powered update tests"
Making a new resource generally requires adding three tests: basic, full, and update. Basic and full can be handled with examples, usually, but update is _always_ handwritten, which introduces complication for first-time contributors. We could simplify the contribution experience by supporting example-based update tests.

Essentially this would mean that update tests would be able to be specified

[2022-10-03 22:03] thiagoescobar commented on #7449
any updates on this issue? I'm having the same problem

[2022-10-03 22:11] iabimac opened #12709 "Adjust the error label for the import of google_access_context_manager_access_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-03 22:40] edwardmedia commented on #12709
@iabimac can you share the full debug log for your import?

[2022-10-04 00:26] iabimac commented on #12709
Here is the full debug log.
[code]

[2022-10-04 03:03] kcook769 commented on #11743
@melinath I do not see any API call examples they typically provide but this documentation exists
https://cloud.google.com/run/docs/reference/rest/v1/namespaces.jobs

[2022-10-04 08:21] Pinolo commented on #10176
This issue is solved/mitigated by the solution highlighted in https://github.com/hashicorp/terraform-provider-google/issues/3133#issuecomment-468783073

I only wish it was documented, since I think it's a common use case and nobody should be requested to infer the logical lifecycle of GCP resources behind a generic 400 error code

[2022-10-04 10:37] damir-dezeljin commented on #12672
@neidiom , were you able using `google_service_account_iam_member` with `member` starting with `principalSet:`?

I'm trying to set up IAM policy binding using Google TF provider 4.39. I need this for setting up _GCP Identity Federation_. Unfortunately I'm getting the following error:
[code]

This is my .tf code:
[code]

Hints?

[2022-10-04 11:24] tarrade opened #12711 "Add a terraform resource to set up a managed Tensorboard instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-04 11:28] damir-dezeljin commented on #12672
I'm sorry, please ignore my previous post. I was mistaken - the issue was caused by the wrongly specified `member`. It had to be:
[code]
^^^
Please, note the `.name` instead of the `.workload_identity_pool_id`.

[2022-10-04 12:14] edwardmedia commented on #12688
@cdemire1 here is the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#annotations) that explains what to do. There have been some discussions like https://github.com/hashicorp/terraform-provider-google/issues/8380 Closing this issue now.

[2022-10-04 12:14] #12688 closed

[2022-10-04 12:26] hanikesn opened #12712 "Add support for linux_node_config cgroupMode"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-04 14:19] knjoroge commented on #12699
Hi @edwardmedia

I solved the issue. This issue is similar to this https://github.com/hashicorp/terraform-provider-google/issues/8171#issuecomment-769706722

[2022-10-04 14:19] #12699 closed

[2022-10-04 14:24] soudaburger opened #12713 "google_secret_manager_secret_version import documentation incorrect"
Terraform import instructions for the `google_secret_manager_secret_version` resource are incorrect.  At the bottom of https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/secret_manager_secret_version it shows `$terraform import google_secret_manager_secret_version.default {{name}}/{{name}}`.

Error message received:
[code]

The correct import configuration should be `pr

[2022-10-04 14:40] jessee-kung commented on #12464
Same question here. It seems that there's no option to configure the Pub/Sub Lite topic as **Regional** or **Zonal**?

Providing `region` and left the `zone` argument empty leads the same 400 error:
[code]

Result:
[code]

----

Provding both `region` and `zone` argument as the value of `region` argument (e.g., all filled in `us-west1`, which looks weird), it creates regional topic:
[code]
Result:

[2022-10-04 14:49] roaks3 commented on #12650
Adding a few notes to this one that we may want to include:

- Environment vars:
    - `GOOGLE_ORG` or `ORG_ID` is needed in some cases (one of them is probably better, but I'm not sure which)
    - `GOOGLE_BILLING_ACCOUNT` is needed in some cases
    - For credentials, I typically find it easiest to test with [this approach](https://registry.terraform.io/providers/hashicorp/google/latest/docs/gui

[2022-10-04 15:26] alphanota opened #12714 "Fix TestAccClouddeployTarget_Target"
### Affected Resource(s)

* google_clouddeploy_target

The error is because of a misconfigured field in the Target resource. The field `execution_timeout` has a non-empty default value that is set by server, if not specified by the user.
However, terraform thinks this string field is empty by default, leading to the test failure.

[2022-10-04 16:24] #12197 closed

[2022-10-04 16:27] edwardmedia commented on #12713
@soudaburger can you share the full debug log?

[2022-10-04 16:29] edwardmedia commented on #12714
@alphanota where did you run this? Mind share your full debug log?

[2022-10-04 16:29] soudaburger commented on #12713
This is just a documentation error, you shouldn't need a debug log?

[2022-10-04 17:52] alphanota commented on #12714
The dcl version was rolled back to v.1.19 from v1.21 because of the test failure (https://github.com/hashicorp/terraform-provider-google/commit/38a14f1ed8668391665b923bacfec828bcc33981) which is why its working now.

The DCL version with the fix is v.1.23. I created this issue to follow PR guidelines and track the bug.
The PR to upgrade the DCL version is here (https://github.com/GoogleCloudPlatfo

[2022-10-04 18:01] rileykarson commented on #12650
For auth see https://github.com/hashicorp/terraform-provider-google/wiki/Developer-Best-Practices#authentication as a reference. We can move those docs to the MM repo now. (We used to have docs in _way_ too many places due to a mix of target audience / access control concerns and are paring down)

[2022-10-04 19:08] colakong commented on #12561
I've encountered this same problem, but only when accidentally using a [32-bit build](https://releases.hashicorp.com/terraform/0.12.31/terraform_0.12.31_linux_386.zip) of terraform instead of [64-bit](https://releases.hashicorp.com/terraform/0.12.31/terraform_0.12.31_linux_amd64.zip).

[2022-10-04 20:13] DavidCorino opened #12716 "google_compute_global_address - An argument named "labels" is not expected here."
### Terraform Version

1.2.1

### Affected Resource(s)

google_compute_global_address

### Adding labels to resource

resource "google_compute_global_address" "teste" {
  name    = "teste"
  labels  = teste
}

### Error Output

│ Error: Unsupported argument
│
│   on main.tf line 3, in resource "google_compute_global_address" "teste":
│    3:   labels  = teste
│
│ An argument named "labels" is not

[2022-10-04 20:43] edwardmedia commented on #12709
@iabimac below is what the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/access_context_manager_access_policy#import) specifies. What's wrong? Where did you find the format of `accessPolicies/56336513683`?

terraform import google_access_context_manager_access_policy.default {{name}}

[2022-10-04 20:48] edwardmedia commented on #12716
@DavidCorino looks like `labels` is still [beta](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_global_address#labels). Can you try  with **google-beta**?

[2022-10-04 20:52] edwardmedia commented on #12714
@alphanota I have added the label **tpgtools** then

[2022-10-04 21:00] DavidCorino commented on #12716
Yes, i was using BETA, but seems something in cache, after retry works.

[2022-10-04 21:00] #12716 closed

[2022-10-04 21:03] edwardmedia commented on #12677
@csms @zvikaga I am not super clear how to repro this issue.  Can you share the longer debug logs that could contain the API requests?

[2022-10-04 21:15] edwardmedia commented on #12645
@juicemia that is why it is called a **breaking-change**. An issue is expected. You may choose to keep **v3.90.1** or delete the state and import the resource with new version. I agree it is not the optimal and we have done out best to minimize the impacts

[2022-10-04 21:21] tylerg-dev commented on #12680
Analytics, Crashlytics and Firebase Performance Monitoring do not currently have entities in the Provider.

I'd suggest opening issue/requests for each Firebase product you are interested in using, in particular what part of their functionality you wanted to manage in Terraform.  This makes it a lot easier to raise this to the relevant teams.

[2022-10-04 21:26] iabimac commented on #12709
Hey @edwardmedia try to import that resource with an invalid format, it will error out the following.
[code]
This makes me think that the format issue is comming from the Google API but not Terraform but please confirm.

[2022-10-04 23:01] edwardmedia commented on #12469
@jawnsy is this still an issue?

[2022-10-04 23:03] edwardmedia commented on #12395
@roy-work is this still an issue?

[2022-10-04 23:05] edwardmedia commented on #12512
@hazcod I am closing this issue now. Feel free to reopen if you want to continue the conversation

[2022-10-04 23:05] #12512 closed

[2022-10-04 23:06] edwardmedia commented on #12537
@oioki is this still an issue?

[2022-10-04 23:07] edwardmedia commented on #12564
@AndreasBergmeier6176 is the log available?

[2022-10-04 23:09] edwardmedia commented on #12576
@jsbroks is this still an issue?

[2022-10-04 23:10] edwardmedia commented on #12579
@perios101 is this still an issue?

[2022-10-04 23:13] edwardmedia commented on #12582
@AdamMAtWork closing this issue. I believe this is by desgin

[2022-10-04 23:13] #12582 closed

[2022-10-04 23:18] edwardmedia commented on #12588
@dlesco this looks like a new feature. Please file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=01_enhancement.md) instead. Closing this now

[2022-10-04 23:18] #12588 closed

[2022-10-04 23:21] edwardmedia commented on #12590
@nicain looks like this is a new feature. Could you please file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=01_enhancement.md) instead? Closing this now

[2022-10-04 23:21] #12590 closed

[2022-10-05 01:16] panxuejian commented on #12479
Thanks for fixing it. Do we know when this change will be picked up by the release?

[2022-10-05 01:23] kovalevvlad opened #12719 "Add support for Cloud Tasks Queue `TombstoneTtl` parameter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-05 09:51] cen1 opened #12720 "google_sql_database_instance should verify backup location value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-05 12:00] juicemia commented on #12645
I'm sorry maybe I've been unclear about what exactly the issue is. The `google_compute_firewall` has a breaking change and it's documented: `source_ranges` is now required whereas it wasn't before.

The change you linked is breaking because it changes the API of `google_compute_firewall` in a way that will break people who were not setting any of the `source_` parameters. What I'm reporting is a r

[2022-10-05 12:38] LoicMahieu commented on #11865
Hi @ScottSuarez

I also experiencing this issue.
I don't use multiple provider versions.

Here is my TF:

[code]

And here is the error logs:

[code]

- registry.terraform.io/hashicorp/google 4.39.0
-

[2022-10-05 12:46] jw-websensa commented on #12688
@edwardmedia in my opinion these docs are not very informative about annotations, they only redirect to kubernetes docs, still it is hard to tell what particular annotations are possible

[2022-10-05 13:19] mariux commented on #7170
we just had a case where we moved a bucket to a new project and the initial plan did not trigger any IAM recreation as terraform does not know about the underlying relationship. for terraform the bucket name stays the same so no changes were planned.

i assume there is a trigger missing if the underlying project of a bucket actually changes? we will work around this with explicit dependencies now

[2022-10-05 14:10] dmitsf opened #12721 "Can not set `cross_series_reducer = "REDUCE_NONE"` aggregation for `google_monitoring_alert_policy`, TF always shows changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-05 14:56] psvaiter commented on #12465
@edwardmedia any updates on this?

[2022-10-05 15:08] mrvarmazyar opened #12722 "Add support for disk type and size configuration on the GKE Node Auto provisioning"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-05 15:45] philip-harvey commented on #11891
Is there any work around to this issue apart from using an old provider version?  I can't use an old provider due to needing fixes in the newer provider for other provider issues.

[2022-10-05 15:56] philip-harvey commented on #11891
Why is this labeled as upstream? This seems to be a provider issue, possibly introduced by https://github.com/pulumi/pulumi-gcp/pull/863

[2022-10-05 16:13] #12292 closed

[2022-10-05 16:17] slevenick commented on #11891
I think there's some confusion around how this field should work. The API apparently doesn't support setting it: https://github.com/GoogleCloudPlatform/magic-modules/pull/6165#pullrequestreview-1030611518

But in some cases it seems to?

[2022-10-05 17:58] c2thorn commented on #6521
b/251203893

[2022-10-05 18:17] philip-harvey commented on #11891
does this mean it's impossible to create a MS SQL user via Terraform currently?

[2022-10-05 18:26] #12269 closed

[2022-10-05 19:39] maoueh commented on #12564
@edwardmedia I've got the same error message on a different resource however, do you want me to add my log here or should I create a completely new issue. Error message I get right trying to add a user through `google_sql_user`:

[code]

[2022-10-05 19:50] maoueh commented on #12564
Strangely, it created the resources correctly (at least I see them in Google Cloud Console). I'm able to reproduce even if I delete them manually and apply again.

[2022-10-05 20:45] ScottSuarez commented on #11865
Hi Loic, this is a specific, opt in feature. Try adding `user_project_override=true` to your provider level configuration

[2022-10-05 21:11] #12713 closed

[2022-10-05 21:23] edwardmedia commented on #12720
@cen1 here is the API [doc](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/instances#backupconfiguration). The provider is based on it. I don't think the provider could add a validation on a field if the API does not explicitly specify the business logic. Does this make sense?

[2022-10-05 21:57] tgoodsell-tempus opened #12727 "LDAP Configuration For Managed AD"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-05 23:16] edwardmedia commented on #12721
b/251257895

[2022-10-05 23:30] edwardmedia commented on #12696
@natedogith1 what did you see from below command before you execute step #4? For step #4, did you call `terraform apply` or `terraform destroy`?

[code]

[2022-10-05 23:32] edwardmedia commented on #12642
Closing as a dup

[2022-10-05 23:32] #12642 closed

[2022-10-06 00:57] edwardmedia commented on #12676
Can repro on `datapath_provider  = "LEGACY_DATAPATH"`

It looks like `ADVANCED_DATAPATH` can't be used as `IPAllocationPolicy.UseIPAliases` has not be implemented yet

│ Error: googleapi: Error 400: Clusters with DatapathProvider=ADVANCED_DATAPATH must set IPAllocationPolicy.UseIPAliases to true., badRequest
│
│   with google_container_cluster.primary,
│   on main.tf line 6, in resource "google_co

[2022-10-06 01:17] edwardmedia commented on #12564
@maoueh please create a separate issue as it happens on a different resource. Also please share the config and the debug log. Thanks

[2022-10-06 01:18] edwardmedia commented on #12564
@AndreasBergmeier6176 is your redacted log available?

[2022-10-06 04:57] AndreasBergmeier6176 commented on #12564
Don't think redacting the log is realistic. I will be out of office for two weeks. If you have a mail I might be able upload it somewhere afterwards.

[2022-10-06 13:46] anarwal opened #12729 "GCP Logging Bucket IAM permissions"
Hi,

I am trying to add IAM permissions for Cloud Logging Bucker created via `google_logging_project_bucket_config`. I don't see any specific `IAM policy for Cloud Logging Bucket` (only thing I found was for [storage bucket](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/storage_bucket_iam#google_storage_bucket_iam_member).

I want to know should I be using :

1. `g

[2022-10-06 14:14] roaks3 commented on #7170
I see that https://github.com/GoogleCloudPlatform/magic-modules/pull/4662 and https://github.com/GoogleCloudPlatform/magic-modules/pull/4899 were both attempts at fixing this, but they do not entirely work and have been stalled for quite a while. There is agreement that the `project` parameter should be removed from the docs, but in this case it is slightly more complicated because this line of th

[2022-10-06 14:32] Malik-Muneeb commented on #12422
Agree with @thameezb. I'm facing the same issue with `v4.38.0` on both `node_pool_defaults` and `node_pool_auto_config`

[2022-10-06 14:56] LoicMahieu commented on #11865
Hi @ScottSuarez
Great thanks for your quick help !

It works fine when adding `user_project_override=true` in my previous example. (Not sure to understand the whole thing ;))

But... I get the same error when adding a `browser_key_restrictions.allowed_referrers` field!
Here is a complete example:

[code]

Thanks in advance for your knowledge ;)

[2022-10-06 15:03] rd-nikhil-singh opened #12730 ""authenticator_groups_config" is not working as intended"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-06 16:10] maoueh opened #12731 "`google_sql_user` got error `Root resource was present, but now absent` on apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-06 16:38] StephenWithPH commented on #8288
@ernani ... I did not open this issue, but I believe #8510 addresses supporting email and password signin as this issue requests.

#8510 would certainly satisfy the use case I'm after.

[2022-10-06 16:48] #12607 closed

[2022-10-06 16:51] StephenWithPH commented on #8510
As noted in https://github.com/hashicorp/terraform-provider-google/issues/8288#issuecomment-1270397463, this _is_ supported for multi-tenant.

[2022-10-06 16:55] shuyama1 commented on #12422
The fix is released in v4.39.0. Can you try upgrading to v4.39.0 and see if the issue still occurs?

[2022-10-06 16:56] Malik-Muneeb commented on #12422
The issue is resolved now with v4.39.0. Thanks much!

[2022-10-06 16:57] shuyama1 commented on #12422
Glad it's solved! Thanks for the update!

[2022-10-06 17:05] c2thorn commented on #6992
@roaks3
In a customize diff, we could get the old and new `params` maps from the diff, and then compare the `data_path_template` and `destination_table_name_template` values. If either of them have changed in value, we could call `diff.ForceNew("params")` . Closest example I could find in a limited time: https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/templates/terraform/consta

[2022-10-06 17:05] edwardmedia commented on #12620
@g-awmalik we can track labels over here. Let me update the subject

[2022-10-06 17:18] edwardmedia commented on #12645
@slevenick what do you think about this?

[2022-10-06 17:23] edwardmedia commented on #12730
@rd-nikhil-singh I am not clear how to repro the issue. Can you detail the steps? What do you mean `Tried both one by one`? Can you also share your debug log?

[2022-10-06 17:25] bgpat commented on #10835
FYI: This feature is implemented in https://github.com/GoogleCloudPlatform/magic-modules/pull/5446 and waiting for a reviewer's response.

[2022-10-06 17:32] roaks3 commented on #9748
Unfortunately this option does not seem to be possible using our API at the moment ([v1](https://cloud.google.com/functions/docs/reference/rest/v1/projects.locations.functions) or [v2](https://cloud.google.com/functions/docs/reference/rest/v2/projects.locations.functions)). Please correct me if there are API or `gcloud` docs that describe this configuration being applied directly to the Cloud Func

[2022-10-06 17:41] slevenick commented on #12645
If you apply the address first does it work? What are the actual values coming out of the .address value from that resource?

This is strange, because it seems like the address value coming out of the `google_compute_address` is empty, but I would imagine they do have values. Maybe because it's Optional+Computed there is plan-time unknownness that is being passed to the firewall resource?

[2022-10-06 17:41] ScottSuarez commented on #11865
interesting, are you saying when you update the field through a sequential apply you get the error?

[2022-10-06 17:45] #12679 closed

[2022-10-06 17:50] edwardmedia commented on #12731
@maoueh I used your code to test and couldn't repro the issue. Did you put an ip for the `host`?

[2022-10-06 17:52] slevenick commented on #12645
Oh, I believe this was fixed in https://github.com/GoogleCloudPlatform/magic-modules/pull/5526

Upgrading to a newer version of the provider should fix it

[2022-10-06 17:52] #12645 closed

[2022-10-06 18:21] edwardmedia commented on #12729
@anarwal Can you checkout below doc?

https://cloud.google.com/logging/docs/access-control

[2022-10-06 18:48] juicemia commented on #12645
Running the latest module version has the same issue. I was doing this in a brand new project.

As soon as I get some time I'll try your suggestion of running `google_compute_address` first just to see what it's outputting.

[2022-10-06 18:51] maoueh commented on #12731
@edwardmedia The config show is the one I use, let me test some of those.

[2022-10-06 19:26] slevenick commented on #12645
You're seeing this with version 4.30+ of the provider?

[2022-10-06 19:42] maoueh commented on #12731
@maoueh You are right, removing the `host` fixed the problem. Should this be turned into a feature request to better handle this case or there is not much that can be done on that matter?

[2022-10-06 19:48] natedogith1 commented on #12696
I used `terraform apply` after removing it from terraform.

I only checked after the failure, and the project has since been deleted, but I believe it said the state was `DESTROYED` for version 1.  I don't remember what it said for versions 2-6, but a different key/key-ring showed something to the effect of `DESTROY_SCHEDULED` for its versions when it was removed from terraform in the same apply.

[2022-10-06 20:09] edwardmedia commented on #12731
@maoueh this behavior is controlled by the API. I don't believe there is much we can do at the provider level at this moment. Glad you have figured this out. Closing the issue then. Feel free to reopen if you have more questions on this matter

[2022-10-06 20:09] #12731 closed

[2022-10-06 20:25] edwardmedia commented on #12564
@AndreasBergmeier6176 are you able to run the samples in this [page](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/privateca_certificate)? If yes, then you could try to figure out what are the difference. If not, let me know and I will try to repro. Based on the [info](https://github.com/hashicorp/terraform-provider-google/issues/12564#issue-1374373167) you provide

[2022-10-06 21:03] edwardmedia commented on #12445
@AlfatahB it appears you want to create a [Partner Interconnect](https://cloud.google.com/network-connectivity/docs/interconnect/how-to/partner/provisioning-overview). Please explain to me why you need to create `google_compute_router_interface`?

[2022-10-06 21:35] edwardmedia commented on #12616
@Ryan-Lintern can you share both FILE.json and FILE.sql?

[code]

[2022-10-06 21:35] LoicMahieu commented on #11865
- I destroy the state successfully but I keep the same project
- I apply and I got this error:

[code]

- I rename the keys with `-2`
- I apply and it works
- I add more `api_targets` to `test-secondary`, it become:

[code]
- I got the error:

[code]

- Then, I rollback the `api_targets` and re-apply the plan, same error.

- I destroy the plan with success
- Got the error due to the key, I renamed

[2022-10-06 21:52] edwardmedia commented on #12308
@steenblik where did you see below document?

[code]

[2022-10-06 21:59] jrab66 commented on #9624
Are theree any plans to have this on the roadmap?

[2022-10-06 22:07] ScottSuarez commented on #11865
Ahh the error message they give back encompasses the fix. Looks like they want you to set a billing project.

Try doing that on your provider cofig
[code]

[2022-10-06 22:17] davidalger opened #12735 "Support preconfigured_waf_config field on rules for google_compute_security_policy resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-06 22:20] slevenick commented on #12677
@csms @zvikaga are you continuing to see this issue come up?

It may have been a temporary issue on the service side which is why we cannot reproduce it.

[2022-10-06 22:21] edwardmedia commented on #12458
@kubitz closing this assuming this is no longer an issue

[2022-10-06 22:21] #12458 closed

[2022-10-06 22:25] edwardmedia commented on #12469
@jawnsy I believe this is not an issue. Closing this now

[code]

[2022-10-06 22:25] #12469 closed

[2022-10-06 22:29] edwardmedia commented on #12395
@roy-work you might want to review how to config the provider. If you are able to create a resource, you should be able to import the same resource using the same terraform runner account. I am closing the issue now. Feel free to reopen if you want to continue the conversation

[2022-10-06 22:29] #12395 closed

[2022-10-06 22:31] natedogith1 commented on #12696
@edwardmedia terraform shouldn't have created a new version. Did you remove the key/key-ring from the tf file before running the apply?

[2022-10-06 22:36] edwardmedia commented on #12576
@jsbroks closing this assuming it is no longer an issue

[2022-10-06 22:36] #12576 closed

[2022-10-06 23:31] #10536 closed

[2022-10-06 23:46] roaks3 commented on #6992
b/251556517

[2022-10-06 23:49] roaks3 commented on #7170
b/251565688

[2022-10-06 23:57] roaks3 commented on #9317
b/251560503

[2022-10-07 07:29] rd-nikhil-singh commented on #12730
Hi @edwardmedia, I have added the config with which you can reproduce it. It is recommended in the comments [here](https://github.com/hashicorp/terraform-provider-google/blob/main/google/resource_container_cluster.go#L492) that Group name must be in format "gke-security-groups@xxx.com." so this is what I tried first. It did not work then I tried without . in the end "gke-security-groups@xxx.com" a

[2022-10-07 08:18] kpocius commented on #12678
@edwardmedia, we've got the same issue as @yash-nigam-db. Very similar code too:
[code]
It happens on the first apply. That is, it won't let us apply this code, even though the same file contains similar blocks of code that were applied before. So it seems the issue started fairly recently.

What debug info can I provide to make this easier to reproduce?

One thing to note, that at least in our ca

[2022-10-07 08:34] kpocius commented on #12678
Well, this is embarrassing. Turns out in my case group name had a typo 🤦🏻

The error message could be more useful though.

[2022-10-07 08:57] AlfatahB commented on #12445
@edwardmedia I was working on this [issue](https://github.com/hashicorp/terraform-provider-google/issues/9688). Hence, I was trying to create `google_compute_router_interface` to confirm the behavior of router interface according to the [API docs](https://cloud.google.com/compute/docs/reference/rest/v1/routers). I have also raised [another issue](https://github.com/hashicorp/terraform-provider-goo

[2022-10-07 08:58] AlfatahB commented on #12445
@edwardmedia I was working on this [issue](https://github.com/hashicorp/terraform-provider-google/issues/9688). Hence, I was trying to create `google_compute_router_interface` to confirm the behavior of router interface according to the [API docs](https://cloud.google.com/compute/docs/reference/rest/v1/routers). I have also raised [another issue](https://github.com/hashicorp/terraform-provider-goo

[2022-10-07 12:43] pietrodn commented on #11268
You can even set it to 21 through the UI and let Terraform set it back to 20 to resolve the permadiff.
This is the link:

https://console.cloud.google.com/hybrid/routers/list

[2022-10-07 12:55] AarshDhokai opened #12738 "Support `location` being in the domain of a resource's URLs for only a subset of resources in an MMv1 service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-07 12:56] McFacePunch opened #12739 "Error 400: Invalid value for field 'resource.rateLimitOptions when tuning cloud armor rules?"
Not sure if question, due to bad understanding on my side, or a bug related to a previous issues?

My Issue:
When using the google terraform provider to manage ReCAPTCHA redirect rules in Cloud Armor, I can get the rules to deploy if there is only two simple rules but as soon as I modify either to be more complex like, excluding specific SQLi rules, it seems to throw the error similar to a previou

[2022-10-07 13:37] cen1 commented on #12720
Makes sense. Should be check in the API then. Will raise the issue to support.

[2022-10-07 13:37] #12720 closed

[2022-10-07 15:46] Eraac commented on #12696
I got the same issue, but on key with rotation

The last key is active, but the first is deleted, and Terraform try to delete the first version (despite new versions exist)

I guess the issue is here https://github.com/hashicorp/terraform-provider-google/blob/b2abd5d517a27c7f3da1940e7646a6d65248eec8/google/kms_utils.go#L177, there are no filter for disable/deleted keys

[2022-10-07 17:39] #12721 closed

[2022-10-07 17:50] slevenick commented on #12696
Hmmmm, I thought this was fixed recently but I can't seem to find it. I think we need to check if the key is in the destroyed state already and remove it from state if it is. This should happen when the resource refreshes, so it should be fairly easy to handle in the read method. @edwardmedia can you look into adding this?

[2022-10-07 17:53] slevenick commented on #12690
Closing as intended behavior

[2022-10-07 17:53] #12690 closed

[2022-10-07 17:55] slevenick commented on #12678
@kpocius how was the group name incorrect, was it a casing issue or just an invalid group name? I ask because I would expect the API to fail with a different error message if the group didn't exist, not for TF to have an inconsistent result

[2022-10-07 17:57] #12612 closed

[2022-10-07 17:58] kpocius commented on #12678
The name was misspelled. So yeah, I thought it would say the group didn't exist (which it did in the debug logs), but the main error was "inconsistent results" one.

[2022-10-07 18:08] slevenick commented on #12579
Unfortunately we don't really have control over this within the provider. You could handle this as a two-step apply, removing the policy first or deleting the instance and then recreating, but we don't have control over this level of resource ordering within the provider without making the resource policy field entirely ForceNew which would be harmful in a lot of other cases

[2022-10-07 18:08] #12579 closed

[2022-10-07 18:19] alextodicescu commented on #12738
Nice find!
So what you're saying is the API doesn't support a location attribute, but rather the location is selected depending on which API service endpoint is used

I did some digging through the code (disclaimer: it's my 1st time looking through it and go is not my 1st language):
* looks like there's a config map being built with default service endpoints: https://github.com/hashicorp/terraform

[2022-10-07 18:35] #11825 closed

[2022-10-07 19:54] bobdanek opened #12743 "No-op changes keep appearing in plans for layer_7_ddos_defense_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-08 00:27] roaks3 commented on #9184
This was fixed with https://github.com/GoogleCloudPlatform/magic-modules/pull/5191, which reverted the ForceNew behavior

[2022-10-08 00:27] #9184 closed

[2022-10-08 00:31] roaks3 commented on #9614
This was happening because `rrdatas` was set to ForceNew, but that behavior has since been reverted with https://github.com/GoogleCloudPlatform/magic-modules/pull/5191, and updates should now be happening in-place.

[2022-10-08 00:31] #9614 closed

[2022-10-08 03:20] roaks3 commented on #7710
b/251967813

[2022-10-08 03:37] roaks3 commented on #6574
b/251966466

[2022-10-08 06:58] steenblik commented on #12308
Hi @edwardmedia - I got this impression for the terraform documentation. I've just re-read it and my paraphrase was not entirely accurate. However, for me the doc leaves the impression that `unique_writer_identity` is required only when for cross project logging or with `bigquery_options`. Otherwise why not just say it's always required or when it's not required.

https://registry.terraform.io/pro

[2022-10-08 14:18] Eraac commented on #12696
I'm not sure `google_kms_crypto_key` resource hold the version. I don't think the resource has a bug, is more the utils method in charge of deleting a key, because we can't really delete a key, Terraform (like the console does) must remove all the versions of the key + disable the auto-rotating, but it's seems to have no exception for non enable versions, which cause the error (the call to destroy

[2022-10-08 20:08] jawnsy commented on #12469
Thanks Edward. I understand that the validation logic is not stateful, so there's no straightforward way for you to resolve this in code (i.e. there's no way to indicate that a one-way transition from INTERNAL_HTTPS_LOAD_BALANCER to REGIONAL_MANAGED_PROXY is allowed, but REGIONAL_MANAGED_PROXY to INTERNAL_HTTPS_LOAD_BALANCER requires replacement).

I think that the workaround for people encounteri

[2022-10-08 22:38] bschaatsbergen commented on #12151
@melinath, I would like to pick this up but we should first agree on the implementation. As you've stated - it seems like this doesn't directly map to an API call, nor is there an existing resource to manage collections.. what are your thoughts on this?

[2022-10-09 05:08] richiefrich commented on #12677
I could reproduce it, https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/1418

[2022-10-09 19:39] elsmorian commented on #12678
@edwardmedia It did happen in the initial apply yes.

`google_project_iam_member` was the resource we were trying to use, we ending up using `google_project_iam_binding` to get around this instead

[2022-10-10 10:13] nbali commented on #12441
@edwardmedia
Using tables.patch instead of table.update would change the "replace" behaviour? I don't see how it's coming from the API at all, so why would that change it?

"this is by design"
What part of your statement are you referring to here? That it recreates the table? I highly doubt anyone would assume the table will be recreated with a simple schema modification.

[2022-10-10 10:25] Aracki opened #12746 "Can we add tags within root_volume of google_container_aws_node_pool"
Would be nice to have option to add tags for `root_volume` within [google_container_aws_node_pool](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_aws_node_pool#root_volume).

[2022-10-10 12:05] kristoferlundgren opened #12747 "Support snapshotType=ARCHIVE in google_compute_resource_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-10 12:16] Rstar1998 commented on #10810
Thanks @melinath and team  [ Stephen Lewis (Burrows) ] for providing terraform support to GCP datastream connection profile. This has save a lot of my time rather than doing things manually

[2022-10-10 13:53] kevinsi4508 commented on #12191
We (Cloud Bigtable) are aware of the scheduled backup feature. Nothing concrete to share at the moment.

[2022-10-10 13:56] kevinsi4508 commented on #10132
The issue should be fixed with this PR: https://github.com/GoogleCloudPlatform/magic-modules/pull/6612.

[2022-10-10 14:03] megan07 commented on #11891
Closed by https://github.com/GoogleCloudPlatform/magic-modules/pull/6165

[2022-10-10 14:03] #11891 closed

[2022-10-10 15:52] iabimac commented on #12709
Hey @edwardmedia let me know what do you think about this issue.

[2022-10-10 16:25] #8019 closed

[2022-10-10 16:45] edwardmedia commented on #12743
@bobdanek I do see below block in the API response. Using your code above, I don't see this block in the response. I wonder how you created the resource. Can you share the API request that created it?

[code]

[2022-10-10 16:55] tgoodsell-tempus opened #12748 "Compute IP Deletion & NAT Order of Operations Issue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-10 17:02] edwardmedia commented on #12730
@rd-nikhil-singh there is a daily test that works to verify `authenticator_groups_config`. Below is the source code.  It appears working fine. The format should be "[gke-security-groups@xxx.com](mailto:gke-security-groups@xxx.com)". Without the log, it is difficult to guess what went wrong.

https://github.com/hashicorp/terraform-provider-google/blob/main/google/resource_container_cluster_test.go#

[2022-10-10 17:08] edwardmedia commented on #12748
@tgoodsell-tempus have you looked at the [depends_on](https://www.terraform.io/language/meta-arguments/depends_on) to see if that help solve your problem?

[2022-10-10 17:18] philip-harvey commented on #11891
Will there be a release with this fixed?  Just re-tested with the most recent release and it's still broken.  Thanks.

[2022-10-10 17:27] rileykarson commented on #12706
There are a couple different approaches that can be taken here- tests that only change the values but not the structure of the config, and tests that require a new config per step. The first means we need less overall configs but have less flexibility, and need to add non-suffixed variables (`vars` assumes it can safely add a suffix right now). The second means duplicating configs.

[2022-10-10 17:28] c2thorn commented on #12655
Hi @niels-s,
I think the following discussion is still relevant here: https://github.com/hashicorp/terraform-provider-google/issues/6087#issuecomment-619270971

`initialize_params` is meant to be a create-only field. Updating anything within this field is defined as recreate/destroy behavior. If you want to do in-place updates, I believe the `source` field as pointed out in the comment above, will

[2022-10-10 17:28] #12655 closed

[2022-10-10 17:50] rileykarson commented on #12738
Given this is a new pattern, we should handwrite the regional variants of these resources. We're not sure if this pattern will happen in the future, as most APIs we've seen are global-only or regional-only.

[2022-10-10 18:20] snuggie12 commented on #10556
I'd like to see this for both igress/egress as well as projects. Should that be a separate request?

[2022-10-10 18:42] bobdanek commented on #12743
I don't have that info unfortunately. I'll see if I can reproduce this in a dev env and report back the details of an offending API request if so

[2022-10-10 18:51] #10119 closed

[2022-10-10 19:40] ScottSuarez opened #12751 "Auto truncate comment in release making process"
When making a release the release note thats generated contains a lot of unrelated content that the user needs to manually truncate. I would be nice to automatically detect and truncate this string before generating the note.

steps 4 and 7

<img width="943" alt="Screen Shot 2022-10-10 at 3 23 33 PM" src="https://user-images.githubusercontent.com/9483464/194940711-29b31392-ae13-4073-9da0-85efbd217

[2022-10-10 20:46] DrFaust92 commented on #12747
will look into this

[2022-10-10 20:48] DrFaust92 commented on #12747
https://cloud.google.com/compute/docs/reference/rest/beta/resourcePolicies/insert does not seem to support it on the schedule resource (yet?)

[2022-10-10 21:08] #12696 closed

[2022-10-10 21:41] edwardmedia commented on #12677
@csms @zvikaga the config from [here](https://github.com/hashicorp/terraform-provider-google/issues/12677#issue-1390355701) is not working.  The log isn't long enough for helping investigation.  Can you provide a minimum config that can be used to repro the issue? Without that, it is hard for me to proceed. Does that make sense?

[2022-10-10 21:41] DrFaust92 commented on #6694
im going to look into adding the capacity commitment resource

[2022-10-10 21:42] DrFaust92 commented on #11619
[c2thorn](https://github.com/c2thorn) i see you are assigned so FYI i opened a quick PR for this

[2022-10-10 21:46] edwardmedia commented on #12678
@yash-nigam-db @elsmorian @kpocius could you share the full debug log for this issue? The log from [here](https://github.com/hashicorp/terraform-provider-google/issues/12678#issuecomment-1262060490) isn't long enough. I need full API requests and responses so I can take a closer look.

[2022-10-10 21:52] edwardmedia commented on #12445
@AlfatahB I don't think `google_compute_router_interface` should be used in [Partner Interconnect](https://cloud.google.com/network-connectivity/docs/interconnect/how-to/partner/provisioning-overview) . This use case is invalid. That is why you got the error.

[2022-10-10 21:55] kpocius commented on #12678
I think my case is slightly different from what was originally reported. Just tried to replicate using a fake group and got entirely different error, leading me to dig into the "misspelled" group  and the issue there was that I used group alias to refer to a group rather than primary email. So the error message could still be a bit more helpful, but this is such an edge case that I'm not sure it w

[2022-10-10 22:38] #11619 closed

[2022-10-10 22:40] #7839 closed

[2022-10-11 01:01] tgoodsell-tempus commented on #12748
Based on the following issue in the Terraform repo, https://github.com/hashicorp/terraform/issues/31309, I was able to "workaround" the behavior by setting the `create_before_destroy` flag on the `google_compute_address` object.

Full example:
[code]

[2022-10-11 03:34] toandm commented on #5833
@Ripeey thank you so much! The `google_cloud_run_service_iam_binding` worked! How did you figure that out?
Also, it's so unintuitive

[2022-10-11 06:30] rd-nikhil-singh commented on #12730
Hi @edwardmedia, thanks for your response. Once you apply the changes terraform shows applied successfully but you do not see it in the cloud console. So, it appears working fine but it doesn't work in reality. We have used "gke-security-groups@xxx.com" format with no success. Please try it and then you will see it.

[2022-10-11 07:16] AkselAllas opened #12757 "cloud_run_service using service_account /w policy gets error locked after deleting service from UI"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-11 07:17] googlerjk commented on #10989
Hi Cameron,

I have this particular issue that I can see in github, but in buginizer it
doesn't exist. And i don't have two issues that exist in the buganizer
list. Should the item I am working on be moved to buganizer or added?

On Thu, Sep 15, 2022 at 11:45 AM Cameron Thornton ***@***.***>
wrote:

[2022-10-11 07:25] AkselAllas commented on #12757
I think it's probably not provider's fault when I delete manually 🤔

But interestingly when I tried to delete all resources, it still gave the same error.

[2022-10-11 07:25] #12757 closed

[2022-10-11 07:37] george-oakling commented on #10066
Any news on this? Facing this again.

[2022-10-11 09:26] Tei1988 commented on #11501
Hi, I would like to work on this issue.

[2022-10-11 10:43] apinter commented on #10066
Same here, facing the same issue when trying to import a `google_service_networking_connection` resource.

[2022-10-11 13:54] jonathan-ostrander opened #12758 "`google_bigquery_dataset`: add support for `storage_billing_model`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-11 14:10] cpf-hse opened #12759 "Module shared_vpc_access causes v >= 12.0 causes unnecessary changes"
When switching from Version 11.3.1 to 13.0 terraform plan delivered 34 to add and 34 to destroy without any other changes.
Going back to version 11.3.1 terraform plan shows "No Changes".

We also upgraded the provider version from 3.5.8 to >= 4.0.0

All changes looked like this
(Please not I renamed real project names, project ids, subnets etc.)

module.shared_vpc.module.shared_vpc_access["PROJECT

[2022-10-11 14:59] Chupaka commented on #6484
There's an automatic option for standaline NEGs scenario: https://github.com/GoogleCloudPlatform/gke-autoneg-controller

[2022-10-11 15:08] #12705 closed

[2022-10-11 15:53] edwardmedia commented on #12748
@tgoodsell-tempus now I see what the problem is. Yes, I think `create_before_destroy` is the solution. I can't think of any other methods available. BTY, this is more about the terraform feature that manage the behavior of inter resources. There is not much we can do at the provider level. Does this make sense?

[2022-10-11 16:09] edwardmedia commented on #12730
@rd-nikhil-singh I don't have a valid gke-security-group email available for reproing this. Can you share you debug log? You may redact your secrets in the log. I want to see the API requests and responses in general. Also I am curious what you meant `but it doesn't work in reality`? Are you able to enable it via gcloud?

[code]

[2022-10-11 16:22] edwardmedia commented on #12441
@nbali I am quoting the content from the link I provided [here](https://github.com/hashicorp/terraform-provider-google/issues/12441#issuecomment-1270614105)

[code]

Still have questions?

[2022-10-11 16:38] #9521 closed

[2022-10-11 19:23] daniele-dynabase commented on #11244
same here with Terraform v1.2.8

unfortunately adding the provider leads to the error message

`googleapi: Error 400: The network policy addon must be enabled before updating the nodes., badRequest`

[2022-10-11 19:36] edwardmedia commented on #12739
@McFacePunch can you share the config you are using and explain what you are trying to build?

[2022-10-11 22:45] rmb938 opened #12763 "Add support for Cloud Workstations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-11 23:35] slevenick commented on #11195
Reopening for workaround documentation

[2022-10-11 23:36] slevenick commented on #5527
Reopened for workaround documentation

[2022-10-12 06:50] cpf-hse commented on #12759
Good Morning @edwardmedia
Yes you are correct. I go the info from google that I should open the bug here.
I also filed a bug in the google repo but there no one is looking at the bug :(
https://github.com/terraform-google-modules/terraform-google-project-factory/issues/750

But if this repo is also not the right place, I close this bug.
Thank you for your quick response.

[2022-10-12 06:50] #12759 closed

[2022-10-12 08:49] jeremad opened #12764 "`cloud_run_service`'s `container_concurrency` documentation is unclear"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-12 09:39] gskconfo opened #12765 "Add a terraform resource support for Network Firewall Policies"
### Affected Resource(s)

* google_compute_firewall_policy

Include support for creating [Google Network Firewall Policies resources](https://cloud.google.com/vpc/docs/network-firewall-policies) via the provider.

cloud shell command :
gcloud compute network-firewall-policies

[2022-10-12 09:52] #11088 closed

[2022-10-12 10:37] edwardmedia commented on #12464
I see where the problem is. To fix it,
1) Need to update all urls like below to dynamically assign {{location}} with either `region` or `zone` whichever is available. If `region` is picked, the regional resource is created. When `zone` is used, the resource becomes zonal.
[code]
2) ExactlyOneOf needs to be added to both `region` and `zone` as only one of them is used. But this is breaking-change.

[2022-10-12 11:02] kalanithiM commented on #11594
I am also facing the same Issue with node not getting attached to GKE node pool when auto-scaling is set to true. One thing which I don't understand is, Nodes are getting created and I can see that in GCP Compute Engine  VM Instance Console Page but its not getting attached to node pool. is there anything I missing out ?
Can someone please help me on resolving the above Issue.

[2022-10-12 11:21] edwardmedia commented on #12764
Here is what the provider's doc is based on. I guess the API has updated its part.

https://cloud.google.com/run/docs/reference/rest/v1/RevisionSpec

[code]

[2022-10-12 15:08] McFacePunch commented on #12739
What's being built: Basically just a typical website. Issue appeared when trying to add additional rules or update rules after doing some analysis on which WAF rules where too noisy to disable preview for.

Config: are you looking for the terraform.rc or infrastructure? The change is deployed via CI/CD so no .rc to show, but the latest terraform version is setup in the worker and providers are add

[2022-10-12 16:19] aswinmu commented on #10198
Hi All,

I am also seeing the same issue. I am trying to update the cluster which has been created  with the option Control plane authorized networks as "enabled".

gcloud container clusters update <cluster> --project <project> --no-enable-master-authorized-networks --region <region>
ERROR: (gcloud.container.clusters.update) INVALID_ARGUMENT: Master authorized networks must be enabled if private e

[2022-10-12 16:42] #12193 closed

[2022-10-12 16:51] gtsorbo opened #12769 "google_clouddeploy_target support for Cloud Run"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-12 16:54] philip-harvey opened #12770 "new optional defaults in 1.3 produces incorrect results when you want a variable to be null"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-12 16:56] philip-harvey commented on #12770
wrong repo

[2022-10-12 16:56] #12770 closed

[2022-10-12 16:58] mmllc-jsilverman commented on #12730
Howdy. I am also having this issue as described, and I think I can clarify some of the details.

I have a cluster in GKE. However, I did not enable RBAC sec group on creation. I wanted to rectify this.

I added a configured `authenticator_groups_config` block to implement the change via Terraform. (This block was not set on my original plan.)

I added:
[code]

I re-ran the plan and there were no c

[2022-10-12 17:07] mmllc-jsilverman commented on #12730
Ouch! I must add to my last comment...

Terraform plan **did detect** the change when I tried to re-add the security_group.

However, terraform **apply did not apply** the change even though it is explicitly listed in the plan, and is explicitly declared as "Updated" in the apply step.

This is the first time I've ever seen a change called out in the plan, and `apply` says it is applying the chang

[2022-10-12 17:29] gtsorbo opened #12771 "`google_clouddeploy_pipeline` support for deployment verification"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-12 17:50] melinath commented on #12747
b/253256148

[2022-10-12 18:12] #10995 closed

[2022-10-12 18:16] betsy-lichtenberg commented on #11195
The Data Guy has posted an article with a workaround. I personally tried it, and confirmed that it worked in my project. Here is the article: https://thedataguy.in/cloudsql-shared-vpc-private-ip-and-servicenetworking.serviceagent-role/

TL;DR: here is the workaround:

[code]

[2022-10-12 18:17] betsy-lichtenberg commented on #5527
The Data Guy has posted an article with a workaround. I personally tried it, and confirmed that it worked in my project. Here is the article: https://thedataguy.in/cloudsql-shared-vpc-private-ip-and-servicenetworking.serviceagent-role/

TL;DR: here is the workaround:

[code]

[2022-10-12 18:20] #11195 closed

[2022-10-12 18:21] #5527 closed

[2022-10-12 18:27] edwardmedia commented on #12464
It might be better to add the new field `location`, and remove both `region` and `zone`. It is a feature request and add  the label with `enhancement` accordingly

[2022-10-12 18:51] dgnemo opened #12774 "GOOGLE_APPLICATION_CREDENTIALS doesn't work but GOOGLE_OAUTH_ACCESS_TOKEN does"
I am trying to feed a specific ADC credentials to terraform.

The following workflow works fine
[code]

but this other workflow unexpectedly fails
[code]

I checked and the content of `~/.config/gcloud/legacy_credentials/dgnemo@company.com/adc.json` matches the content of `~/.config/gcloud/credentials.db` used to generate the access-token in the first approach.

Is there a particular reason why th

[2022-10-12 18:53] bukzor-sentryio commented on #9505
After struggling with this some time today, I believe I've found the key. The request must define one node pool with name "default-pool". Using any other name results in getting a different "default-pool" configured with autopilot defaults.

Other findings:

 1. setting `autoscaling.autoprovisioning_node_pool_defaults.service_account` is allowed by the API but seems to do nothing
 2. The above met

[2022-10-12 19:43] rhyas commented on #6782
I can't believe this is still an issue 2+ years after the bug was opened.

[2022-10-12 19:54] carlyeks opened #12775 "`google_network_services`: Add support for dual-token authentication"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-12 20:06] natedogith1 opened #12776 "using metadata_startup_script and changing machine_type and metadata at the same time fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-12 20:49] edwardmedia commented on #12774
@dgnemo can you add GOOGLE_APPLICATION_CREDENTIALS into the environment variable to see if that works for you?

https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#full-reference

[2022-10-12 20:58] edwardmedia commented on #12776
@natedogith1 below is the error. I don't think it has anything related to the `machine_type`. Can you try by removing `metadata_startup_script` at the same time?

[code]

[2022-10-12 21:09] natedogith1 commented on #12776
I haven't modified metadata_startup_script.  Changing machine_type is where I saw the issue, but I suspect anything that triggers a machine restart (anything documented as needing allow_stopping_for_update) would also trigger it.

[2022-10-12 21:14] k4leung4 opened #12778 "google_container_cluster: support for workload-vulnerability-scanning and workload-config-audit"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-12 21:17] dgnemo commented on #12774
Tried again following your instruction. Same error.

[2022-10-12 21:18] melinath commented on #12670
Possibly related to https://github.com/hashicorp/terraform-provider-google/issues/12431

[2022-10-12 21:21] melinath commented on #12719
b/253294293

[2022-10-12 21:24] melinath commented on #12711
API reference: https://cloud.google.com/vertex-ai/docs/reference/rest/v1/projects.locations.tensorboards

[2022-10-12 21:26] melinath commented on #12711
b/253294891

[2022-10-12 21:31] melinath commented on #12702
It looks like this is supported by the API: https://cloud.google.com/build/docs/api/reference/rest/v1/projects.builds#Build.BuildStep

[2022-10-12 21:36] bukzor-sentryio commented on #9505
I was able to terraform an autopiloted gke cluster by removing the conflict between `enable_autopilot` and `node_pools`. Empircally, the `resource_limits` and `autoscaling_profile` subsettings of node_pools does in fact conflict with enable_autopilot, so I pushed the conflict down to those.

This is the resulting patch: https://github.com/bukzor-sentryio/terraform-provider-google-beta/commit/pr-95

[2022-10-12 21:53] melinath commented on #12660
b/253298732

[2022-10-12 21:58] melinath commented on #12656
supported by the API: https://cloud.google.com/dataproc/docs/reference/rest/v1/ClusterConfig#ConfidentialInstanceConfig

looks like it's under gce_cluster_config.

b/253299050

[2022-10-12 22:00] melinath commented on #12654
b/253299674

[2022-10-12 22:05] melinath commented on #10722
Closing based on the above comment.

[2022-10-12 22:05] #10722 closed

[2022-10-13 07:05] DrFaust92 commented on #6694
Q for maintainers.

capacity commitment supports crud technically but if we delete it according to docs:
[code]

[2022-10-13 08:37] jeremietharaud opened #12780 "`google_cloudfunctions_function` resource creates topic if not exist but does not destroy it"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-13 09:19] marengaz commented on #6694
Docs:
https://cloud.google.com/bigquery/docs/reference/reservations/rest/v1/projects.locations.capacityCommitments/delete

Not a maintainer. As a user, I'd expect to see these errors be passed through to my console and the terraform apply fail. Similar to a permission denied error, I guess?

[2022-10-13 10:45] AtzeDeVries commented on #12549
i still have simular issues
[code]

with 4.39

[2022-10-13 11:21] Ryan-Lintern commented on #12616
@edwardmedia I've updated the above to also include an example of our schema and view code files. There will be varying degrees of complexity in the files (beyond just a standard select statement), but the same approach is used for how we store those files

[2022-10-13 11:31] akerone opened #12781 "Separate resource for Composer extra Python dependencies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-13 11:34] DrFaust92 commented on #9624
will take a look

[2022-10-13 13:08] PaulGWatson opened #12782 "Bug reported when assigning custom role"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-13 15:25] nphilbrook commented on #11448
@alextodicescu I'm curious if you were able to make any progress on this? I am going to take a stab at it tomorrow as part of my employer's Open Source Hack Day.

[2022-10-13 15:53] melinath commented on #11448
@AarshDhokai has been working on this but there are technical complications that may require refactoring parts of mmv1 core.

[2022-10-13 15:53] melinath commented on #11448
@AarshDhokai could you leave a comment here so I can assign it to you?

[2022-10-13 15:54] edwardmedia commented on #12782
@PaulGWatson It looks like the error was from the module. I have no knowledge about it.  Are you able to repro the issue with resources? Also can you share the full debug log?

[2022-10-13 16:00] edwardmedia commented on #12780
@jeremietharaud how to repro the issue? Are you able to share the object of `index.zip`? Because the resources like topics are not managed in your config, the terraform has no knowledge of them. It is expected they are not destroyed via `terraform destroy` Does this make sense?

[2022-10-13 16:05] nphilbrook commented on #11448
I noticed this in the cloud run YAML:
https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/products/cloudrun/api.yaml#L21
It _looks_ like this is doing something similar? But I have not dug any further than this single file (e.g. haven't even peeped the generated golang, sorry).

[2022-10-13 16:08] deepjy opened #12783 "Unable to create google_dataproc_workflow_template without job"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-13 16:11] jeremietharaud commented on #12780
@edwardmedia
The content of index.zip file is not related to the issue (just zip a main.py with a handler endpoint).

The problem is that although the topic does not exist at all (no Terraform resource, nothing in pubsub console) Terraform creates it automatically.
The fact is that Terraform should not create unmanaged resources (e.g. outside of its configuration) since it will be not able to dest

[2022-10-13 16:15] edwardmedia commented on #12780
@jeremietharaud agree with below statement. But in some cases, API could create other underline resources for you. Can you share your full debug log so we can inspect if the topics were created by Terraform?

[code]

[2022-10-13 21:35] edwardmedia commented on #12774
@dgnemo what do you see from `env | grep GOOGLE` before you hit `terraform apply`?

[2022-10-14 07:31] GabrieleCalarota opened #12787 "Add `google_pubsub_schema_iam_member` resource for permissions on pubsub schemas"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-14 08:35] PaulGWatson commented on #12782
The module is one defined in our terraform config files, the guts of which are pasted into the ticket above. The core resource in this process is `google_project_iam_member`.

Regrettably, no, not at this time. There's concern up the food-chain about scrubbing nearly 16k lines of log for anything potentially sensitive in a reasonable amount of time. If there's something specific you're looking for

[2022-10-14 09:53] jeremietharaud commented on #12780
OK here are the DEBUG logs:

[debug.log](https://github.com/hashicorp/terraform-provider-google/files/9784740/debug.log)

[2022-10-14 12:01] palo-manel commented on #11660
When enabling auto-upgrade the user is expected to provide an upgrade schedule:
![image](https://user-images.githubusercontent.com/91119043/195841172-6f8eee97-b9b9-4369-8e01-f3b2f190d2ba.png)

So the configuration would potentially look a bit more like this:
[code]

I hope this gets implemented soon!

[2022-10-14 12:29] McFacePunch commented on #12739
I can also confirm this issue shows up when trying to deploy rules for an API that is tied to different terraform resources from core site. The only commonality is the worker itself which is rebuilt on each instantiation.

This time im only using `action  = "deny(403)"` and `action   = "throttle"`, no redirects. It seems to appear whenever i'm excluding rules via `evaluatePreconfiguredExpr`. Somew

[2022-10-14 13:01] nphilbrook commented on #12738
@rileykarson So something like a new resource `google_tags_location_tag_binding` ? I can work on that (which would be part of https://github.com/hashicorp/terraform-provider-google/issues/11448 of course, not this issue).

[2022-10-14 13:02] nphilbrook commented on #11448
As per Riley over at https://github.com/hashicorp/terraform-provider-google/issues/12738#issuecomment-1273642960 it seems like one perspective from the provider maintainers would be to hand write these resources for now. @melinath are you on board with that approach?

[2022-10-14 13:26] Sytten commented on #10622
This issue reappeared for us with a recent update and it is blocking for so many people.

[2022-10-14 13:54] McFacePunch commented on #12739
The error message when only using `Deny` and `Throttle` actions differs, :

 `Error: Error updating SecurityPolicy "app-gateway--load-balancer-armor": googleapi: Error 400: Invalid value for field 'resource.redirectOptions': ''. Redirect options can only be specified if the action is redirect., invalid`

[2022-10-14 14:06] toshi0607 opened #12788 "hashicorp/google 4.33.0 or later is not available on darwin_arm64"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-10-14 14:15] edwardmedia commented on #12780
@jeremietharaud I see below code in the log and your config. Don't you need to create `"projects/my-project/topics/blablaeverythingisfine"` in advance?

[code]

[code]

[2022-10-14 14:32] ScottSuarez opened #12789 "Failing test(s): TestAccIdentityPlatformTenant**"
Failure rate: 100% since oct 11 2022

Impacted tests:
- TestAccIdentityPlatformTenant_identityPlatformTenantUpdate
- TestAccIdentityPlatformTenantOauthIdpConfig_identityPlatformTenantOauthIdpConfigUpdate
- TestAccIdentityPlatformTenantOauthIdpConfig_identityPlatformTenantOauthIdpConfigBasicExample
- TestAccIdentityPlatformTenantInboundSamlConfig_identityPlatformTenantInboundSamlConfigUpdate
- Test

[2022-10-14 14:42] edwardmedia commented on #12788
@toshi0607 mine is fine. Mine is darwin_arm64 as well.

[code]

[2022-10-14 14:47] jeremietharaud commented on #12780
@edwardmedia it looks like the topic is automatically created by Terraform (provider or gcp api?), which is to my mind not correct. There is no verification of the existence of the topic.
The `plan` or the `apply` should fail if the topic does not exist, what do you think?

[2022-10-14 15:18] edwardmedia commented on #12788
@toshi0607 **_v4.41.0_** will be released today. Please check if that is available to you

[2022-10-14 15:27] nphilbrook commented on #12738
I noticed this in the cloud run YAML:
https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/products/cloudrun/api.yaml#L21
It _looks_ like this is doing something similar? I am digging through the generate golang for this to see if maybe this is already possible. From a cursory look at TF_LOG=DEBUG output from an apply creating a `google_cloud_run_service` resource, I can confirm tha

[2022-10-14 15:30] toshi0607 commented on #12788
Thank you! I'll report the result today.

[2022-10-14 16:54] AarshDhokai commented on #11448
Hey @melinath, just commenting so that you can assign the issue.