[2020-08-21 05:18] bobbui commented on #6003
can believe a doc update took 6 months and haven't completed

[2020-08-21 07:04] emmaLP commented on #7014
Even if I hard code the snapshot, I get the same issue. The issue is because the name of the regional disk is not unique. The gist link I sent yesterday contains 2 files, the plan logs as well as the apply logs.  The plan logs are after the apply logs

Only use tf to manage GCP infrastructure and the project is a personal one, only I have access to. I haven't gone and created a regional disk manua

[2020-08-21 09:25] mejuhi opened #7073 "google_project_iam_binding removes other service accounts from roles not mentioned in the same terraform script"
### Terraform Version
Terraform v0.12.24

### Affected Resource(s)
IAM
google_project_iam_binding

### Terraform Configuration Files

[code]
### Expected Behavior

Attach new service account to the role, without removing other service accounts for that role

### Actual Behavior

Attach new service account to the role, but removes other service accounts from that particular role

### Important Fact

[2020-08-21 13:05] #7073 closed, assigned to venkykuberan

[2020-08-21 13:49] olivertodhunter opened #7074 "Deterministic ordering for IAP policy google_iap_web_backend_service_iam_policy causes existing policy to be reordered"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-21 15:15] mig42 opened #7075 "Add a setting to destroy+create google_compute_instance during update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-21 17:05] #7074 closed, assigned to edwardmedia

[2020-08-22 01:27] innovia opened #7078 "Provider produced inconsistent result after apply terraform0.13"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-24 00:23] innovia commented on #7078
@edwardmedia thank you for your quick respond,  I'm so sorry! this is 100% my mistake.

I have a function that creates the google project and return the project object

`hostProject := iam.CreateProject(t, hostProjectID, "Terratest Host Project", parent, billingAccount)`

and this returns a project object not a project ID , which I pass down to the terraform vars instead of doing this:

[code]
I'v

[2020-08-24 00:23] #7078 closed

[2020-08-24 02:11] remiscarlet opened #7079 "Project Creation Fails when Parent is an Organization"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-24 02:45] remiscarlet commented on #7079
*Sigh*

Of course I find the issue half an hour after creating ticket.

I was checking to confirm I actually hadn't set any of the service account key environment variables like I mentioned in the bug, but it seems I had a rogue env var still set from a project I did last year. Explicitly `unset`'ing all the env vars cleared up the issue.

Apologies for the noise :(

[2020-08-24 02:45] #7079 closed

[2020-08-24 07:52] emmaLP commented on #7014
@edwardmedia The external data source only returns a snapshot id if there is one to be found, which is correct. I have run several tests against the external datasource and returns as expected.

My problem is that when terraform wants to replace the regional disk, it tries to create the new disk first is which then fails because the name of the disk already exists. The regional disk name needs to

[2020-08-24 10:24] tmarszal commented on #2895
@danawillow hi, just encountered this one myself today. When I try to create Object ACL it is not encoding object name in the URL.

I tried to encode it myself in HCL, but then the API is complaining that object value from url and body doesn't match. So the other part of this is that object doesn't need to be sent in the body - it is not when running this method from the API explorer.

[2020-08-24 10:41] mejuhi commented on #7073
We were using `google_project_iam_member ` previously but we switched to  `google_project_iam_binding` since we were facing some issues with the role.
We confirmed once again. When we add roles using `google_project_iam_member`, even though it has the required permission, it gives back the error of permission denied

How to recreate:
1. On cloud function we added default service account of app eng

[2020-08-24 10:42] mejuhi commented on #7073
@venkykuberan can you please help with the issue, and reopen it

[2020-08-24 11:37] jgireeshj opened #7081 "Terraform google_cloudfunctions_function"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-24 12:59] ahipster opened #7082 "GAE Error waiting for Creating StandardAppVersion: Error code 3, message: Checksums do not match"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-24 13:52] burnzy commented on #6766
That's great to know! Thanks for the info @tylerwengerd-cr

[2020-08-24 14:50] Arconapalus opened #7083 "Cloud Build triggers build step args not executing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-24 15:45] edwardmedia commented on #7081
@jgireeshj can you share the debug log?

[2020-08-24 15:53] edwardmedia commented on #7082
@ahipster can you share your debug log so I can take a close look?

[2020-08-24 16:13] tmarszal commented on #2895
Looks to me like this is what it takes to fix it (https://github.com/GoogleCloudPlatform/magic-modules/compare/master...tmarszal:master)

[2020-08-24 16:20] edwardmedia commented on #7083
@Arconapalus I don't the enclosed **]** for one **env = [**

[2020-08-24 16:31] upodroid commented on #7003
@c2thorn we can close this out. It is already available in beta.

[2020-08-24 16:53] slevenick opened #7084 "TestAccActiveDirectory failures"
Test failures on:
TestAccActiveDirectoryDomain_update
TestAccActiveDirectoryDomain_activeDirectoryDomainBasicExample
due to quota errors. Probably need sweepers on these.

TestAccActiveDirectoryDomainTrust_activeDirectoryDomainTrustBasicExample
Seems to require setup?

[2020-08-24 16:54] slevenick opened #7085 "TestAccComputePerInstanceConfig_statefulBasic & regional"
Tests failing on import? Not sure why

[2020-08-24 16:54] #7003 closed

[2020-08-24 16:55] slevenick opened #7086 "TestAccContainerNodePool_withInvalidKubeletCpuManagerPolicy"
Test fails with
`config is invalid: expected node_config.0.kubelet_config.0.cpu_manager_policy to be one of [static none], got dontexist`

[2020-08-24 16:58] danawillow opened #7087 "Add skipInitialVersionCreation to KMS crypto key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-24 17:02] JoshuaEdwards1991 opened #7088 "vpcAccessConnector functionality missing from app_engine_standard_app_version resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-24 17:48] danawillow commented on #7075
Will probably be fixed by https://github.com/hashicorp/terraform-provider-google/issues/6857.

[2020-08-24 17:52] danawillow commented on #7088
Duplicate of https://github.com/hashicorp/terraform-provider-google/issues/4988, should appear in next week's release.

[2020-08-24 18:02] ndmckinley commented on #5654
Hi, could you elaborate a little bit about what you'd like to do with this field?  You're saying you'd like to prevent the instances from being recreated, is that right?

[2020-08-24 18:29] raddaoui commented on #5654
Hi @ndmckinley, that's right we want to prevent instances from being recreated, you can specify both minimal-action and most-disruptive-allowed-action  in the managed instance group with the Google API as you can see [here ](https://cloud.google.com/compute/docs/instance-groups/rolling-out-updates-to-managed-instance-groups#updating_selected_instances) but in terraform only the [minimal-action](ht

[2020-08-24 19:16] Arconapalus commented on #7083
I added ] to the module cloud build triggers and here is my variables.tf
[code]

[2020-08-24 20:03] mejuhi opened #7089 "While using google_project_iam_member roles don't get applied properly"
### Terraform Version

Terraform v0.12.24

### Affected Resource(s)

* google_project_iam_binding
* IAM

### Terraform Configuration Files

[code]

### Expected Behavior

1. Service account should get role `roles/editor`  attached
2. Cloud component (for eg cloud function) which uses this SA should get all the access which comes with editor role

### Actual Behavior

1. Cloud component using this

[2020-08-24 21:46] Arconapalus commented on #7083
I figured out the problem with this. One, in order to replicate cloudbuild.yaml steps to build > steps. Need to delete filename="cloudbuild.yaml" What this does, makes the build steps inline which isn't an option when creating cloud build triggers. From here, we can go ahead and add
[code]
As you can see above TF code, I'm passing the ${var.branch_name} in the args and below I have filename commen

[2020-08-24 22:14] #7059 closed

[2020-08-25 00:05] AlistairB commented on #4193
@paddycarver Sorry for the ping. Can the `upstream` label be removed as per my above comment?

[2020-08-25 01:18] lucasteligioridis opened #7092 "Data source for google_secret_manager_secret_version constantly has ID changing due to timestamp issue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-25 03:47] ops18 commented on #6496
yes, it works now, its due to custom-tier for database, now when i changed the configuration it works.
Thanks for your time

[2020-08-25 03:47] #6496 closed

[2020-08-25 10:13] sidineycrescencio opened #7093 "Plans to implement 'user_account' resource"
Hi there,

Is there any plans to implement 'user_account' resource using the google cloud provider?

I see it's only possible create service accounts now, so wonder why we don't have yet the 'user_account' ?

Thanks.

[2020-08-25 10:49] dpogorzelski opened #7094 "Can't use resourcePolicies inside disk block in the google_compute_instance_template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-25 12:53] sumeetoc opened #7096 "Update Dataproc autoscaling_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-25 14:27] tylerwengerd-cr opened #7097 "Error when trying to set boolean field to `false` on google_data_catalog_tag"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-25 14:32] edwardmedia commented on #7092
I think setting `id` to the same as `name` might make more sense in this case.

[2020-08-25 15:38] #7092 closed

[2020-08-25 15:51] #6500 closed

[2020-08-25 17:25] danawillow commented on #7084
@venkykuberan, I'm working on the Domain tests and think I have that solved. Can you look at the Trust test? It fails consistently with:
[code]

[2020-08-25 17:58] ItsMattL opened #7101 "Invalid resource usage: 'Instance should be in the STOPPED state.'"
### Terraform Version
2.20.2

### Affected Resource(s)

* google_compute_instance

### Terraform Configuration Files (if applicable)

[code]

### Issue Description

When creating new compute instances using Windows images and shielded_instance_configured, the instance is successfully created, but Terraform fails when trying to fully apply the shielded_instance_config settings.

[code]

If the inst

[2020-08-25 18:11] c2thorn commented on #7020
b/165640832

[2020-08-25 18:12] imrannayer commented on #7020
We really need this feature as Composer service account use to be part of enabling the service. Recently they changed the behavior and it is not created as part of enabling composer service. It can be enabled by running gcloud beta services identity create --service=composer.googleapis.com

[2020-08-25 18:55] megan07 opened #7102 "Update documentation for `node_pool.upgrade_settings` no longer in beta"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-25 19:16] bharathkkb opened #7103 "Concurrent activation of dependent APIs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-25 19:25] edwardmedia commented on #7097
When transformedStringValue == false, it always skip below assignment. That is why the transformed["boolValue"] is empty
https://github.com/hashicorp/terraform-provider-google/blob/f0e20f6bbcb5886c77740b2b8c3bef6cd1d75344/google/resource_data_catalog_tag.go#L440

[2020-08-25 20:01] #7102 closed

[2020-08-25 20:20] hashibot[bot] opened #7107 "Unable to create a encrypted Cross region mysql replica in Google CloudSQL"
_This issue was originally opened by @asbchakri as hashicorp/terraform#25969. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

### Expected Behavior

### A

[2020-08-25 20:49] #6878 closed

[2020-08-25 21:23] #7083 closed

[2020-08-25 21:29] #7086 closed

[2020-08-25 22:05] upodroid commented on #4789
@danawillow We can close this issue out. It already exists in the provider.

According to the docs it is the `database_encryption` block.

https://cloud.google.com/kubernetes-engine/docs/how-to/encrypting-secrets

[2020-08-25 22:56] upodroid commented on #6583
@danawillow We can close this issue out.

If you are looking to gather logs from system components you can set the following:
[code]
I haven't specified `logging_service` or `monitoring_service` as it is enabled by default and you need GKE version 1.15 or higher.

https://cloud.google.com/stackdriver/docs/solutions/gke/installing#controlling_the_collection_of_application_logs

[2020-08-25 23:00] upodroid commented on #7093
Hi

The user_account resource is effectively a GSuite/Cloud Identity or a Google Account user and they are both beyond the scope of the Google Cloud Provider.

There is a provider for GSuite if you are looking for a programmatic way of a creating gsuite users.
https://github.com/DeviaVir/terraform-provider-gsuite

Thank you

[2020-08-25 23:08] #7046 closed

[2020-08-25 23:43] danawillow commented on #4789
You sure? The original poster specifically wrote "Not to be confused with database_encryption"

[2020-08-25 23:51] edwardmedia commented on #7014
I do see the problem now.

[2020-08-26 00:00] danawillow commented on #6583
@upodroid this is a different feature. The one in question isn't actually available yet from what I can tell, so marking upstream.

[2020-08-26 01:29] jwieringa commented on #5121
I understand I have run into the same issue on `google_project`. Here are the versions and the steps I took place prior to the error. Please let me know if there is anything more I can provide, thanks!

**Resource:**

[code]

**Error message:**
[code]

**Versions:**

During import:
+ Terraform 0.11
+ Google Provider 2.20

Versions with observed error:
+ Terraform 0.13
+ Google Provider 3.36.0

**S

[2020-08-26 02:34] #4857 closed

[2020-08-26 08:22] upodroid commented on #4789
I saw that but the it is the same thing. You are encrypting the etcd store which holds k8s Secrets.

From blog post posted by the original poster:

![image](https://user-images.githubusercontent.com/25100905/91279666-ae55ac80-e77d-11ea-9097-f01d5688818c.png)

[2020-08-26 08:38] upodroid commented on #6583
This is not documented in the SDK docs or in the API Reference 😒 . Looks like it is setting signalsConfig in the master block.

https://cloud.google.com/sdk/docs/release-notes#kubernetes_engine_9
https://cloud.google.com/sdk/gcloud/reference/beta/container/clusters/create
https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters

[code]

[2020-08-26 12:16] joe-boyce commented on #6810
@edwardmedia I haven't tried the new example but when you say "provide yours, or let GCP provides", does this cater for not having an external IP at all, as that is the main purpose of the ticket to provide all 3 variations

Thanks,

Joe

[2020-08-26 12:42] jugup commented on #7089
@venkykuberan maybe if you can, please help me with this issue?

[2020-08-26 12:59] edwardmedia commented on #7101
@ItsMattL can you share the debug log for the execution when the error occurs?

[2020-08-26 13:45] edwardmedia commented on #7014
https://paste.googleplex.com/5908394709876736
https://paste.googleplex.com/4923115122458624
https://paste.googleplex.com/4797858035269632

[2020-08-26 13:52] edwardmedia commented on #7093
@sidineycrescencio does the answer from @upodroid make sense to you?

[2020-08-26 14:00] edwardmedia commented on #7089
@mejuhi how do you verify if the SA is the one used for triggering the function? Do you want to look into below resource to see if that works for you?

[code]

[2020-08-26 14:00] sidineycrescencio commented on #7093
Yes, it does @edwardmedia . Thanks for the prompt response @upodroid.

[2020-08-26 14:00] #7093 closed

[2020-08-26 14:11] jugup commented on #7089
I am able to trigger the cloud function properly, but my cloud function is not able to perform its task properly(like publishing to pub/sub or calling cloud run) due to inadequate permission.
After triggering the cloud function which is using the SA with roles(editor role) given using `google_project_iam_member` crashes
but the same cloud function works perfectly fine when i run it using default a

[2020-08-26 14:18] mejuhi commented on #7089
I am able to trigger the cloud function properly, but my cloud function is not able to perform its task properly(like publishing to pub/sub or calling cloud run) due to inadequate permission.
After triggering the cloud function which is using the SA with roles(editor role) given using `google_project_iam_member` crashes
but the same cloud function works perfectly fine when i run it using default a

[2020-08-26 15:49] #7085 closed

[2020-08-26 16:11] #5529 closed

[2020-08-26 16:28] upodroid commented on #7081
@jgireeshj Your event trigger is incorrect.

It should be like this:

[code]

[2020-08-26 17:17] c2thorn commented on #6953
Labeling this upstream since the feature is still in alpha.

[2020-08-26 17:17] edwardmedia commented on #7089
@mejuhi it sounds to me that the SA you created does not have right permission to the pubsub and cloud run. You may need to take a close look at the doc like below
https://cloud.google.com/pubsub/docs/access-control

[2020-08-26 17:20] #6747 closed

[2020-08-26 17:21] #6914 closed

[2020-08-26 18:02] danawillow opened #7115 "BigQuery Data Transfer Service service account activation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-26 18:19] danawillow commented on #7115
It's possible that we could take care of this and all future requests like this in one fell swoop with https://github.com/hashicorp/terraform-provider-google/issues/7020. Needs more investigation, maybe we have one person working on both issues next sprint.

[2020-08-26 18:24] umairidris commented on #7020
@c2thorn I am looking into adding support for this in magic modules. Thanks!

[2020-08-26 18:36] danawillow opened #7116 "Traffic Director with proxyless gRPC"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-26 18:51] danawillow opened #7117 "TPU shared VPC"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-26 18:52] mejuhi commented on #7089
Yes, I did check i have attached pub/sub publisher role attached to it, as you can see in the screenshot attached. The second SA is the one whose roles are attached using `google_project_iam_member`
![image](https://user-images.githubusercontent.com/45816852/91344162-30d08180-e7fb-11ea-859d-719da16e9f9f.png)

[2020-08-26 18:59] danawillow opened #7118 "Update support for google_compute_instance.network_interface"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-26 19:06] danawillow commented on #6916
Fixed in https://github.com/GoogleCloudPlatform/magic-modules/pull/3863.

[2020-08-26 19:06] #6916 closed

[2020-08-26 19:12] edwardmedia commented on #7089
@mejuhi can you manually create a SA that works for you? In this way, you can figure out what exact permissions it needs to run the job. This is nothing to do with Terraform. You may share your debug log and I can take a look.

[2020-08-26 19:18] mejuhi commented on #7089
I have tried creating SA and attaching the roles manually using gcloud command, It works perfectly fine when i create SA and attach the role manually to it. This issue with permission only arises when SA is created and roles are attached using  terraform with `google_project_iam_member`.
I am sure about all the roles my SA needs for proper execution. Since when i am attaching the roles using gclou

[2020-08-26 19:51] danawillow opened #7120 "add self_link to google_container_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-26 20:16] umairidris commented on #7020
If anyone wants to use this immediately, an initial version of the resource is available at https://github.com/hashicorp/terraform-provider-google-beta/pull/2430.

I verified correctness with the following config:

[code]

[2020-08-26 21:35] icco commented on #7051
This is still happening in 0.36 @slevenick

[2020-08-26 21:47] danawillow commented on #4789
Cool, I'm convinced. @fproulx-dfuse or anyone else subscribed, if you disagree, please comment. In the meantime, closing.

[2020-08-26 21:47] #4789 closed

[2020-08-26 21:48] danawillow commented on #6583
That's why the upstream label is there- waiting for GCP to properly release the feature :)

[2020-08-26 21:48] imrannayer commented on #7020
Thanks. Any ETA when it will be available?

[2020-08-26 22:16] upodroid opened #7122 "Remove bucket_policy_only field from google_storage_bucket"
In https://github.com/GoogleCloudPlatform/magic-modules/pull/3916 I deprecated the `bucket_policy_only` field in google_storage_bucket so in the next major release of the provider, this field needs to be removed.

[2020-08-26 22:24] slevenick commented on #7051
@icco it looks like this was merged just after the 3.36 release was cut. It will be in the 3.37 release expected next monday

[2020-08-26 22:46] edwardmedia commented on #7089
@mejuhi have you also looked into below resources?

https://www.terraform.io/docs/providers/google/r/pubsub_topic_iam.html

[2020-08-26 23:23] umairidris commented on #7020
@imrannayer google providers are released on a weekly basis, but if you need it sooner you can clone the repo and run `go build` to build the provider yourself (and move the binary to the same dir as the deployment or a [central one](https://www.terraform.io/docs/configuration-0-11/providers.html#third-party-plugins)).

[2020-08-26 23:35] icco commented on #7051
Is there any way I can test it or use it before then?

[2020-08-26 23:48] slevenick commented on #7051
Yes! You can build the provider from source and use it locally.

Directions are here: https://github.com/hashicorp/terraform-provider-google#building-the-provider
and here: https://github.com/hashicorp/terraform-provider-google/blob/master/.github/CONTRIBUTING.md#running-a-local-copy-of-the-provider

[2020-08-27 00:15] venkykuberan commented on #7096
I am seeing the same outcome but slightly different behavior. Actually provider isn't detecting the change in the config at all.

**Initial config**
[code]
I commented the whole cluster_config block however i don't see provider detecting the diff
[code]

[2020-08-27 00:39] danawillow commented on #7014
The order of operations here isn't intuitive, but I'm having trouble coming up with something that would work with the config in question. Here are our options:

1. Create new InstanceTemplate, then destroy old RegionDisk. This won't work because the disk won't be able to be deleted; it's currently in use.
2. Create new InstanceTemplate, then create new RegionDisk. This won't work because the old

[2020-08-27 06:48] ahipster commented on #7082
See gist below of debug output from nodejs deployment
https://gist.githubusercontent.com/ahipster/73589eefa941fa5bdaf179728e7cb0cd/raw/2eb7de8db0c8f03c8136d10d00387c34a3694e3b/debug.log

[2020-08-27 07:48] cookejames opened #7124 "OS Config Patch Deployment is missing rollout option"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-27 08:03] cookejames commented on #7124
PR created in https://github.com/GoogleCloudPlatform/magic-modules/pull/3919

[2020-08-27 08:24] Linux-oiD opened #7125 "Resource google_bigquery_data_transfer_config for S3 transfer always produce diff in terraform's plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-27 10:01] ajishikea commented on #7089
Hi Team,

The above URL you have mentioned is only for Pubsub.

But we have service account with more roles for example currently we have created SA with pubsub publisher, cloudrun invoker and logs writer. If i go via your statement i can see only pub sub and cloud run iam member in terraform but logs writer is not available.

However my main concern is if i create service account manually and add

[2020-08-27 12:17] medzin opened #7126 "google_dataflow_job: current user cannot act as service account error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-27 13:05] galan opened #7127 "GCP Slack invalid"
* [Google Cloud Platform Slack](https://gcp-slack.appspot.com/)

I receive a 404 for the Slack mentioned above, can you please update the pointer to the correct one (is there one?).

[2020-08-27 13:11] galan commented on #7127
Yes, found one. You might update the pointer to https://cloud.google.com/community or the slack channel mentioned there. Thanks.

[2020-08-27 13:35] hmoravec opened #7128 "Add DNS Managed Zone ID"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-27 14:26] asbchakri commented on #7107
@venkykuberan thank you for looking into it. Can you please let me know of any update on why I'm having this issue and how to resolve it.

[2020-08-27 15:53] anubbhavm opened #7129 "Support for a terraform resource that creates Cloud TPUs in a shared VPC network"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-27 16:04] danawillow commented on #7129
Duplicate of https://github.com/hashicorp/terraform-provider-google/issues/7117

[2020-08-27 16:04] #7129 closed

[2020-08-27 16:13] edwardmedia commented on #7126
@medzin can you review below doc to see if you have proper roles assigned?
https://cloud.google.com/dataflow/docs/concepts/access-control#example_role_assignment

[2020-08-27 16:17] edwardmedia commented on #7127
Closing this as this issue seems to be not Terraform Provider Google related. Reopen it if it is and detailed config is needed. Thanks

[2020-08-27 16:17] #7127 closed

[2020-08-27 17:11] venkykuberan commented on #7107
@asbchakri the error message says `Disk encryption config` is missing. Does the module have that attribute ?

[2020-08-27 18:05] #7101 closed

[2020-08-27 18:09] #7020 closed

[2020-08-27 18:43] jsoref commented on #7044
The steps are:
1. define a keyring and a key in terraform.tf (see the various tickets I've filed)
1. `terraform apply -auto-approve`
1. delete the key from the terraform.tf
1. `terraform apply -auto-approve`
1. If this actually does successfully remove the key from the terraform state, then restore the terraform state to the state from before asking terraform to delete the key -- otherwise, if you

[2020-08-27 18:43] jsoref commented on #7044
@edwardmedia: GitHub won't let me reopen this ticket.

[2020-08-27 18:59] medzin commented on #7126
@edwardmedia I added `roles/dataflow.admin` explicitly to my account and I still get the same error. I'm able to create jobs with selected service account (I see Compute nodes using it) from the Console so I suspect that may be a problem with a way Terraform call the GCP API or the API itself.

[2020-08-27 19:29] jmturwy opened #7134 "goolge_compute_router_nat & for_each issue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-27 21:04] #6003 closed

[2020-08-27 21:04] erniebilling opened #7135 "tf destroy google_sql_user fails for postgres if an application has connected to the database"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-27 21:20] ndmckinley commented on #5880
Note that this is blocked on some upstream-gcp work - The GKE Hub team wants to do a little more work on their end before releasing a terraform integration.  The date that I have for that is ~end of September, plus or minus, so I will hold off on merging this until then.  That said, this is "done", in GoogleCloudPlatform/magic-modules#3923.

[2020-08-27 21:30] upodroid commented on #2373
@danawillow I think we should close this issue out for several reasons:

1. @sjmiller609 You can specify custom tags on node_pool creation and reference it when you are creating the rule.
[code]
2. If you want a regional TCP LB, you can create a k8s service on terraform. Have a look at https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs/resources/service and https://www.terraf

[2020-08-27 21:51] edwardmedia commented on #7126
@medzin are you aware of the Dataflow's [controller](https://cloud.google.com/dataflow/docs/concepts/security-and-permissions#cloud_dataflow_service_account) ? If not, you may also want to review below doc as well.
https://cloud.google.com/dataflow/docs/concepts/security-and-permissions

[2020-08-27 21:51] rsalmond opened #7137 "The maintainers of the API behind google_iap_brand have decided not to support PATCH either"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-28 06:15] mvyletel commented on #6996
in case anyone is looking for workaround this is what I've implemented on our side until the provider is fixed

[code]
and the helper script is slightly modified version of the script from doc at https://cloud.google.com/vpc/docs/configure-private-google-access#ip-addr-defaults

[code]

[2020-08-28 07:12] priyankak1212 opened #7138 "google_cloudbuild_trigger unable to create cloud build trigger within github."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-28 07:19] #5868 closed

[2020-08-28 08:20] rtoma commented on #7115
Hi Dana,

FYI - We noticed same behaviour on Cloud SQL. Using "google_sql_database_instance", with a private network configuration. This requires the servicenetworking.googleapis.com API enabled. Previously enabling this API triggered creation of service account service-[PROJECTNUMBER]@service-networking.iam.gserviceaccount.com, but that is no longer the case

[2020-08-28 10:58] galan commented on #7127
@edwardmedia Sorry when my request was confusing, but it is related. The link mentioned above will be displayed when creating a Github Issue in this repository when using "Question" as template: https://github.com/hashicorp/terraform-provider-google/issues/new?template=question.md

So you might update the template please, thank you.

[2020-08-28 13:01] asbchakri commented on #7107
well yes, as I mentioned above,  it has but, if I provide the  details at the Replica resource module it says

**_C:\Terraform_Modules_GCP_Instance\iaas_mysql>terraform plan_**

**_Error: Unsupported argument
  on ..\modules\mysql_instance\mysql_replica.tf line 10, in resource "google_sql_database_instance" "replica-db":
  10:   encryption_key_name     = each.value.encryption_key_name_**

_**An ar

[2020-08-28 13:15] marengaz opened #7140 "Fix import format for google_storage_bucket_iam_member"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-28 14:42] #5612 closed

[2020-08-28 15:51] danawillow commented on #7115
My impression is that many more of these are likely to come, but that the new `google_project_service_identity` resource will work for all of them. I'm actually going to go ahead and close this issue in favor of that one, which is now closed. The new resource should appear in v3.38.0 of the provider on Monday 9/8 (probably actually the Tuesday though because the Monday is a US holiday)

[2020-08-28 15:51] #7115 closed

[2020-08-28 16:27] edwardmedia commented on #7138
@priyankak1212 it works for me. Can you share you debug log? I noticed the error massage. Can you follow the suggestion to proceed?

[2020-08-28 16:28] red8888 opened #7142 "Reordering of google_bigquery_dataset.access and every change"
If i have this:

[code]

And then I add another permission to it
[code]

In the plan terraform says its going to remove the first access{} entry and re-add it

This means every time I add an access{} entry the plans shows all exists access entries being removed and readded

[2020-08-28 16:37] venkykuberan commented on #7107
`encryption_key_name` is available only in beta version of the provider. Please try using `google-beta`.

[2020-08-28 16:46] edwardmedia commented on #7135
@erniebilling I can't repro it as I see  `destroy` succeeded. Can you post your debug log.

[2020-08-28 17:26] priyankak1212 commented on #7138
Refreshing Terraform state in-memory prior to plan...
The refreshed state will be used to calculate this plan, but will not be
persisted to local or remote state storage.

------------------------------------------------------------------------

An execution plan has been generated and is shown below.
Resource actions are indicated with the following symbols:
  + create

Terraform will perform the

[2020-08-28 17:28] priyankak1212 commented on #7138
Debug Output:-

Refreshing Terraform state in-memory prior to plan...
The refreshed state will be used to calculate this plan, but will not be
persisted to local or remote state storage.

------------------------------------------------------------------------

An execution plan has been generated and is shown below.
Resource actions are indicated with the following symbols:
  + create

Terraform

[2020-08-28 17:36] priyankak1212 commented on #7138
Need to connect github repository manually and above script is worked for creating cloud build trigger. Does terraform support automation for connecting repository?

[2020-08-28 17:43] #5875 closed

[2020-08-28 17:52] edwardmedia commented on #7134
@jmturwy **nat_ips** expects `set of string` instead of a string, like below format
[code]

[2020-08-28 18:05] venkykuberan commented on #7107
Looks like setting up encryption key requires some manual steps outside of terraform. The provided key must be in the same region as the SQL instance.

Please refer this doc:
https://www.terraform.io/docs/providers/google/r/sql_database_instance.html#encryption_key_name

[2020-08-28 18:10] edwardmedia commented on #7089
@mejuhi @ajishikea My understanding is that you have already created a SA. How did you assign roles to that SA for access to specific resources? Below is an example that shows assigning a role (viewer) to a member (user.jane@exampe.com) for access to the resource ( pubsub/topic). If you plan to use that SA to access other resources, you need to do similar IAM on other resources. Let me know if thi

[2020-08-28 18:17] edwardmedia commented on #7138
@priyankak1212  I was looking for the debug output right after you type "yes" for "terraform apply". Are you aware of **TF_LOG**? You may create below environment variable if you haven't done so.
[code]

[2020-08-28 18:33] jmturwy commented on #7134
Yep, sorry I figured that out last night and forgot to update the ticket. [each.value.self_link] worked fine.

[2020-08-28 19:43] asbchakri commented on #7107
Yes I am using the google-beta vestion.
I'm assigning CMEK key created in the same region as the Replicas. I have 2 Replicas in east and Central Location.
Replica East         - CMEK Key ID created in East Location
Replica Central    - CMEK Key ID created in Central Location

[2020-08-28 21:31] edwardmedia commented on #7134
@jmturwy I am glad you found the answer. I am going to close this issue. In term of the doc related to this, the attribute uses plural and it is widely used for other attributes as well. If you think it could cause confusion, please file a document issue, and we will address it in a proper way.  Thank you

[2020-08-28 21:31] #7134 closed

[2020-08-28 21:42] r0bj opened #7147 "CloudSQL MYSQL_8_0 Error 400: Invalid request: Point-in-time recovery can only be enabled for Postgres instances."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-28 21:42] rileykarson opened #7148 "Add an instance template test that provisions a scratch disk"
During a [Slack conversation](https://googlecloud-community.slack.com/archives/C1VNJ4EG7/p1598647646023800) where someone was having trouble [doing the 3.0.0 instance template upgrade](https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html#disks-with-invalid-scratch-disk-configurations-are-now-rejected), I noticed we're not testing an instance template config where a scratch

[2020-08-28 22:19] danawillow opened #7149 "Add transformNameMapping to dataflow job"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-28 22:20] edwardmedia commented on #7082
@ahipster I see below POST request in your log. Do you have any clue why it has the line ** "runtime": "nodejs10"** while **go113** is provided in the Terraform config?

[code]

[2020-08-28 22:21] Arola1982 opened #7150 "Resource project id isnt optional"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-28 22:30] c2thorn opened #7151 "Apply operation resume feature to RIGM"
Apply the fix from https://github.com/GoogleCloudPlatform/magic-modules/pull/3928 to RIGM. Should be extremely similar. Mostly just need time to thoroughly test.
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this r

[2020-08-28 22:58] danawillow opened #7152 "Decide whether dataflow jobs (and other resource jobs) should be removed from state when they finish"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-28 23:00] edwardmedia commented on #7150
@Arola1982 how did you `Define the google provider, supplying the project id`? Below is the doc that shows the recommended ways for Google Provider.
https://www.terraform.io/docs/providers/google/guides/provider_reference.html

[2020-08-29 00:11] #6683 closed

[2020-08-29 00:38] danawillow opened #7154 "Fail fast on google_sql_database_instance when private networking is requested but service network connection isn't enabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-29 01:00] #7088 closed

[2020-08-29 13:56] edwardmedia commented on #7147
I can repro this issue. According below doc, it appears `Point-in-time recovery` is supported with MySql.

https://cloud.google.com/sql/docs/mysql/backup-recovery/pitr

[2020-08-29 16:48] edwardmedia commented on #7147
I have filed below issue against CloudSql API for tracking. Closing this issue
b/166921988

[2020-08-29 22:54] Arola1982 commented on #7150
Hi @edwardmedia thank you for getting beck to me so quickly

https://registry.terraform.io/providers/hashicorp/google/latest/docs shows

Under the use provider option for terraform 0.13 i also added the project region and zone:

[code]

Following the getting started section under provisioning your resources - https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/getting_start

[2020-08-30 10:46] aabedraba commented on #7015
Hi Edward! Thanks for your solution. It worked fine!

For some reason I wasn't receiving notifications from this thread, excuse the lack of response.

[2020-08-30 11:31] cagataygurturk opened #7155 "http://www.gstatic.com/ipranges/goog.json returning 403 breaks google_netblock_ip_ranges"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-30 11:42] cagataygurturk commented on #7155
Issue reported to Google also https://issuetracker.google.com/u/2/issues/167014919

[2020-08-30 18:08] cagataygurturk commented on #6996
I have sent a PR to fix this #7157

[2020-08-31 01:29] edwardmedia commented on #7150
@Arola1982 can you try adding `provider` inside the resource?
[code]

[2020-08-31 07:07] rtoma commented on #7020
FYI - for more details/background explained by a Google engineer (afaik), see https://github.com/terraform-google-modules/terraform-google-project-factory/issues/448#issuecomment-683468418

[2020-08-31 10:22] mejuhi commented on #7089
There Seems to be a difference in how roles get attached to a service account using gcloud(eg given below) and roles attached using `google_project_iam_member`.

[code]

When we deploy the cloud run using the sa with roles added using `google_project_iam_member`, It gives the following error. But when we create a sa manually and add the exact same roles the manually created sa, it works fine. This

[2020-08-31 11:55] mejuhi commented on #7089
There Seems to be a difference in how roles get attached to a service account using gcloud(eg given below) and roles attached using google_project_iam_member.

[code]
When we deploy the cloud run using the sa with roles added using google_project_iam_member, It gives the following error. But when we create a sa manually and add the exact same roles the manually created sa, it works fine. This seem

[2020-08-31 16:05] edwardmedia commented on #7089
@mejuhi besides `google_project_iam_member` showing at the very top, do you have other Terraform code? If yes, can you post your complete code related to the SA? I am curios how you did in term of `attaching roles`. In the meantime, can you post your debug Terraform log?

[2020-08-31 16:13] Arola1982 commented on #7150
@edwardmedia

[code]

Results in:

[code]

To be honest if that worked it would seem kind of a pointless option given that the resource is google_compute_instance you'd think it was implied that it was a google provider.

I dont mind having to provide the project within the resource, the only reason i raised this really was to raise awareness of the documentation implying that project within the r

[2020-08-31 16:19] danawillow opened #7158 "Fix TestAccDataSourceGoogleNetblockIpRanges_basic"
[code]

[2020-08-31 16:26] danawillow opened #7159 "Fix TestAccActiveDirectoryDomainTrust_*"
### Affected Resource(s)

* google_active_directory_domain_trust

These have been failing for a few days in a row, but not always for the same reason.  May need to look into adjusting timeouts, requesting more quota, etc. Pretty sure the way quota works we basically can only have 2 or 3 domains at one time, and we need to keep one running for the trust test, which means we get 1-2 we can create in

[2020-08-31 16:28] danawillow opened #7160 "Fix TestAccMonitoringGroup_monitoringGroupBasicExample"
This is failing with `googleapi: Error 409: Could not fulfill the request.`

We should try to get someone on that team to tell us if we should be retrying these or not (right now we only retry 409s if they contain the phrase `operationInProgress`).

[2020-08-31 16:30] danawillow opened #7161 "Fix TestAccComputeDisk_VSSWindows"
Looks like various calls sometimes time out, and we're seeing some `resourceInUseByAnotherResource`

[2020-08-31 16:57] edwardmedia commented on #7150
@Arola1982 below is the excerpt from the link I mentioned earlier. `optional` is based on the condition when you have already setup the **default project**. Same applied for other attributes, like `region`, `zone`, etc. This saves users many typing for each resources if they share same `project`. I don't think you can create resources in a project with specifying the `project`.

[code]
I am closin

[2020-08-31 16:57] #7150 closed

[2020-08-31 17:36] danawillow commented on #7140
Relabeling as enhancement to allow either import option.

[2020-08-31 17:44] danawillow commented on #7152
Calling it large/4.0.0 because requires some thinking on how to be consistent across resources

[2020-08-31 17:55] danawillow opened #7163 "Figure out a way to ensure tests get run on community PRs in MM before they're merged"

[2020-08-31 18:10] cagataygurturk commented on #7158
#7155

[2020-08-31 18:19] frankdice opened #7164 "google_compute_network - delete_default_routes_on_create not working"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-31 20:27] riteshnanda09 opened #7165 "GCS default service account during project creation"
Hello Guys,

I use Terraform to create projects in GCP, during project creation I want to make sure gcs default service account is added to a gsuite group, right now I use interpolation to form the service account email address and add it as a member to the group rather using the below data source because using data source will show as a change in every consecutive run to the state.

[code]

But d

[2020-08-31 23:20] hashibot[bot] opened #7166 "Iam policy set on a instance is not reapplied when the GCE instance in recreated -"
_This issue was originally opened by @mldmld68 as hashicorp/terraform#26050. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]

### Terraform Configuration Files
[code]

### Debug Output
### Expected Behavior
When the startup script of t

[2020-08-31 23:20] ryusuke-kimura-visasq opened #7167 "How to add Cloud Run google_compute_engine network endpoint group (serverless) with google_compute_backend_service"
### Terraform Version

* terraform: 0.13.1
* provider google-beta 3.35.0

### Expected Behavior

[code]

### Actual Behavior

[code]

I read #6876 and tried to add CloudRun to NEG Serverless.

Of the above issue https://github.com/hashicorp/terraform-provider-google/issues/6876#issuecomment-675594922
Setting.

However, when I execute it, I get an error.

Could you tell me how to add NEG(Serverless

[2020-09-01 10:00] ct-dh commented on #7155
Just an FYI that the upstream issue seems to be blocked waiting for CLA approval/signoff. I am guessing this won't make it into a release for roughly a week? It's blocking all our deploys currently.

[2020-09-01 11:02] jenshonkan84 opened #7168 "Terraform ends in error if association is removed manually (google_compute_organization_security_policy_association)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-01 11:22] hyww opened #7169 "Cannot remove or update max_utilization field of backend service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-01 11:50] GavBurke opened #7170 "google_storage_bucket_iam* does not allow project per the docs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-01 13:43] edwardmedia commented on #7170
@GavBurke can you post the debug log?

[2020-09-01 15:39] tbrown-payments commented on #1959
Hey! Hoping this gets resolved.

[2020-09-01 16:21] #7155 closed

[2020-09-01 16:22] #7158 closed

[2020-09-01 16:39] edwardmedia commented on #7168
The url `/compute/beta/locations/getAssociation` appears not correct, which misses `policy_id` portion. Should be like below format...

[code]

[2020-09-01 16:52] #7124 closed

[2020-09-01 17:12] edwardmedia commented on #7166
@mldmld68 I can't repro this issue as I do see the below resource that is going to recreate as well along with the instance recreation. I would encourage you to look into the dynamic code to see how it impacts. Let me know how it works. You may also post your debug log so I can take a look

[code]

[2020-09-01 17:12] #7125 closed

[2020-09-01 17:23] edwardmedia commented on #7165
@riteshnanda09 you may want to look into some third party providers to see if that works for you
https://github.com/DeviaVir/terraform-provider-gsuite

[2020-09-01 17:24] venkykuberan commented on #7142
It could be due to data type issue, `access` is defined as a `typeSet` and may need to change to `typeList`

[2020-09-01 17:31] edwardmedia commented on #7167
@ryusuke-kimura-visasq  there is below ongoing effort related to your question. Please follow that issue. I am closing this one right now. Feel free to reopen it if your question is different. Thanks

https://github.com/hashicorp/terraform-provider-google/issues/6750

[2020-09-01 17:31] #7167 closed

[2020-09-01 18:28] mldmld68 commented on #7166
Hi,
Here is the terraform log in trace mode
https://gist.github.com/mldmld68/796f9e243549aba288fb363dbfee6b55
This job replicate the issue.
Variable tbr_iap_enable                      = "linux"

But, I notice some others, with the same terraform code don't replicate it.
Thank you

[2020-09-01 18:47] AndreasBergmeier6176 opened #7175 "Provide google_container_registry_image resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-01 18:54] icco opened #7176 "google_compute_forwarding_rule expects region when it's global"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-01 18:59] icco commented on #7176
@slevenick FYI

[2020-09-01 19:05] slevenick commented on #7176
Does https://www.terraform.io/docs/providers/google/r/compute_global_forwarding_rule.html not work for this use case? I believe the `google_compute_forwarding_rule` requires a region

[2020-09-01 19:09] icco commented on #7176
Yes it does #faceplam. Thank you.

[2020-09-01 19:09] #7176 closed

[2020-09-01 19:23] venkykuberan commented on #7164
@frankdice looks like the recent code change introduced that bug. I see its working as expected (default routes are being deleted) in the provider version `0.33`, please use that version in the mean time while we work on the issue.

[2020-09-01 19:43] megan07 commented on #7168
It looks like the API is returning a `400` error code (invalid request) for not found rather than a `404` error, and we key re-creation off of the error code being `404`. I will file an issue upstream to see if they can resolve this.

[2020-09-01 20:11] upodroid commented on #7165
I believe this is related a new behaviour when you enable APIs recently as mentioned in https://github.com/hashicorp/terraform-provider-google/issues/7020. You will need to enable the API and then make this additional api call to create the email and use that output for other operations.

[2020-09-01 20:38] ryusuke-kimura-visasq commented on #7167
thank you. I check the content of the issue

[2020-09-01 20:39] edwardmedia commented on #7166
@mldmld68 in your log, I don't see the recreation of the instances. Can you spot where the call is? Also you may post both states (terraform show) before and after the 2nd 'apply'.

[2020-09-01 20:56] mldmld68 commented on #7166
The log is a terraform plan only.
Here is the same with no trace mode.
https://gist.github.com/mldmld68/982f09bfd8e2319fdcccf58db04ac74c
And the tfstate
https://gist.github.com/mldmld68/bb36b88b3d19b3f54632fc6b1a53d9a8

[2020-09-01 22:48] ryusuke-kimura-visasq commented on #7167
I solved it by upgrading google-beta to 3.37.0.
Thank you

[2020-09-02 08:07] medzin commented on #7126
Following gcloud command works without any problems (it is using the same user account as the Terraform code):

[code]

[2020-09-02 12:58] MikeMoore63 opened #7178 "Adding clustering index to existing table destroys and recreates table and does not patch it thus destroying all data"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-02 15:46] pkatsovich commented on #1504
Is there any planned timeline for implementing `diskSizeGb` to be configurable as well? As documented in [Google Dataflow's common error guidance](https://cloud.google.com/dataflow/docs/guides/common-errors#no-space-left) we'd like to be able to manage the workers Disk Size when managing Dataflow jobs with terraform.

[2020-09-02 16:00] hamza3202 opened #7179 "google_monitoring_alert_policy doesn't allow filter without resource.type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-02 18:59] nyc3-mikekot opened #7183 "google_compute_region_backend_service 2.x->3.x upgrade showing possible erroneous diffs in plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-02 19:14] frankdice commented on #7164
I can confirm that the `3.33.0` provider version does indeed delete the default route when specified. I'll use that version for now. :)

[2020-09-02 20:11] upodroid opened #7185 "Removing deprecated API fields from GKE Resources"
### Affected Resource(s)

* google_container_cluster
* google_container_node_pool

According to this page, https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters and https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters  Google has deprecated a lot of fields from the API which need to be removed in v4 of the provid

[2020-09-02 21:13] mldmld68 commented on #7166
Hi,
Any update ? Do you need other logs ?
Thank you
Best regards

[2020-09-02 22:40] edwardmedia commented on #7179
@hamza3202 can you post the debug log?

[2020-09-02 23:17] edwardmedia commented on #7166
@mldmld68 I only see one state from your link. Is that before you ran `2nd apply` or after? From that state, I see  4 `google_compute_instance_iam_member` but only one have data. The one has data is based on the instance  `myprojectadmint`. Is that instance the one you saw `Iam policy set on a instance is not reapplied when the GCE instance in recreated`?

I don't understand your below comment. Wh

[2020-09-02 23:51] edwardmedia commented on #7126
@medzin The error was from dataflow api. There are two accounts `Cloud Dataflow service account` and `Controller service account` involved. When you say  `(it is using the same user account as the Terraform code)`, which account were you refer to? Or both?

[2020-09-03 00:19] rh161528 opened #7186 "Terraform not working with Billing API"
Setting billing budget appears to be broken,

When done via api I get this error::

WARNING: This command is using service account impersonation. All API calls will be executed as [<<Project owner Service Account>>].
{
  "name": "billingAccounts/accountID",
  "displayName": "Keep my spending down",
  "budgetFilter": {
    "projects": [
      "projects/projectNumber"
    ],
    "creditTypesTreatmen

[2020-09-03 08:53] hamza3202 commented on #7179
@edwardmedia [here is the debug log](https://gist.github.com/hamza3202/e19f694cd91232b3b62b9df8f746a3eb).

[2020-09-03 11:32] jgireeshj commented on #7081
@upodroid , Thanks it worked

[2020-09-03 11:32] #7081 closed

[2020-09-03 12:00] upodroid commented on #7081
That is nice to hear.

[2020-09-03 12:27] pskrbasu opened #7187 "Add APIs for containerregistry.googleapis.com"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-03 12:29] #7187 closed

[2020-09-03 14:38] charlex opened #7188 "google_compute_default_service_account: Error: project: required field is not set"
[code]

[code]

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* I

[2020-09-03 15:27] #6985 closed

[2020-09-03 15:40] bdronneau opened #7190 "google_dns_record_set create record override"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-03 18:22] danawillow commented on #7107
The config listed in the initial issue description doesn't have a line that says `provider = "google-beta"`, which I would expect if it's _actually_ using the beta provider. I tried reproing it but it works fine on my end once I put that line in. Can you please double-check that the config in question is using the beta provider?

[2020-09-03 19:05] #5916 closed

[2020-09-03 19:07] edwardmedia commented on #7179
@hamza3202 note the error message `"Field alert_policy.conditions[0].condition_threshold.filter had an invalid value of \"metric.type=\"logging.googleapis.com/user/resource-created\"\": must specify a restriction on \"resource.type\" in the filter; see \"https://cloud.google.com/monitoring/api/resources\" for a list of available resource types.",`

You might want to follow the suggestions to inves

[2020-09-03 19:10] edwardmedia commented on #7179
@hamza3202 as I explained above, you may want to seek further assistance from `Monitoring` api.  There is not much we can do in the provider. I am closing this issue. Free free to reopen it if you think it is an issue with the provider.

[2020-09-03 19:10] #7179 closed

[2020-09-03 19:10] #7120 closed

[2020-09-03 19:15] edwardmedia commented on #7126
@medzin  can you provider both debug logs from gcloud and Terraform executions? We may compare what the difference is.

[2020-09-03 19:19] #7186 closed

[2020-09-03 19:29] nyc3-mikekot opened #7193 "JSONBytesEqual function go panic >= 3.32.0 for bigquery tables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-03 19:31] nyc3-mikekot commented on #7193
Note: This might also have relevance: the current state file is based off an apply from provider version 2.20.0, and we are thus trying to upgrade to a newer 3.x version (3.32.0 being a breaking change as reported above)

[2020-09-03 20:27] mldmld68 commented on #7166
Hi
The tfstate is after I lauch a second apply
google_compute_instance_iam_member.allow_on_off_role_on_jumpbox_to_tbr_group_for_linux is the iam policy which is not applied after rebuilding the GCE as you may see in the terraform plan.

As after recreating the GCE, terraform do not set anymore google_compute_instance_iam_member.allow_on_off_role_on_jumpbox_to_tbr_group_for_linux , That's why I set

[2020-09-03 20:39] edwardmedia commented on #7188
@charlex you do need to provide `project` for the data source. It is optional if you have setup environment variables. Below is the document you may want to review. There are other environment variables you may want to set for `region`, `zone`, etc.

https://www.terraform.io/docs/providers/google/guides/provider_reference.html

[2020-09-03 20:43] charlex commented on #7188
Got it, thank you.

[2020-09-03 20:43] #7188 closed

[2020-09-03 20:50] chakravarthyakundi77 commented on #7107
Yes, I have used the Provider as google-beta. Also My primary instance and replica Instance are in 2 seperate scripts. Like

mysql_instance.tf
mysql_replica.tf

So you are saying you were able to create a Replica in each region with a different CMEK key for each region?.

[2020-09-03 20:53] antoinecastex opened #7194 "Service Usage Quota"
Following this
https://www.terraform.io/docs/providers/google/r/service_usage_consumer_quota_override.html

I need to modify BigQuery daily Query Quota per user

esource "google_service_usage_consumer_quota_override" "override" {
    provider       = google-beta
  project        = var.PROJECT_ID
  service        = "bigquery.googleapis.com"
  metric         = "bigquery.googleapis.com%2Fquota%2Fquer

[2020-09-03 20:58] danawillow commented on #7107
Why can't you set the provider on the resources in the replica config file?

[2020-09-03 21:05] megan07 commented on #7193
Hi @nyc3-mikekot ! Sorry that you're running into difficulties in your upgrade. Would you be able to share what one of your schemas looks like by chance? Thanks!

[2020-09-03 21:14] edwardmedia commented on #7194
@antoinecastex can you post the debug logs for the Terraform script execution?

[2020-09-03 21:25] #7178 closed

[2020-09-03 21:37] nyc3-mikekot commented on #7193
Hi @megan07 upon closer inspection, I believe I've found the culprit on our end.

There is one particular schema we have in which someone made the key name have a leading whitespace, so it looks like: `"name ":` rather than `"name":`. This was being accepted as valid JSON in previous versions of the provider, however 😆 . After fixing the name of the key, the panic is no longer persisting on subseq

[2020-09-03 21:42] antoinecastex commented on #7194
Thanks @edwardmedia  for reply

i'm pretty sure this is the right one because by API i'm doing like this (and that's work very well )
body = "projects/"+project_name+"/services/bigquery.googleapis.com/consumerQuotaMetrics/bigquery.googleapis.com%2Fquota%2Fquery%2Fusage/limits/%2Fd%2Fproject"
request = SERVICE_QUOTA_USAGE_MANAGER.services().consumerQuotaMetrics().limits().consumerOverrides().create

[2020-09-03 22:18] hamza3202 commented on #7179
Out of curiosity, does the console UI not use the same API? because I am able to create a resource in the UI, import it into terraform but not able to use it because of this field. So the issue might be in the provider?

[2020-09-03 22:43] bharathkkb commented on #6021
@danawillow I have collected debug logs and attached to b/164189639

[2020-09-04 00:08] danawillow commented on #6021
Thank you, those are super helpful! I have some changes I'd like to make that should improve this (it might not fix it 100% but should make it better in some cases). Will keep you informed.

[2020-09-04 07:56] YannSfeir opened #7196 "global or zonal IAP SSH tunnel"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-04 07:59] semangard commented on #7196
+1
For sure it is a mandatory missing feature.

[2020-09-04 10:10] dsiebel opened #7197 "can not move google_project from org_id to folder_id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-04 10:19] dsiebel commented on #7197
After some more digging I also found this and was wondering if and how it might be related
https://github.com/hashicorp/terraform-provider-google/issues/5073

[2020-09-04 10:23] tonnihult opened #7198 "Label not updated when using google_dns_managed_zone"
Hi

When we update the labels in a google_dns_managed_zone nothing happens. The deploy seems to go fine because apply step is green but when running a new plan terraform says that the same change needs to be done.

When looking at cloud logging we also see no patch or update calls done to cloud dns, only get calls.

//Tonni

### Community Note

* Please vote on this issue by adding a 👍 [reaction](

[2020-09-04 12:06] chakravarthyakundi77 commented on #7107
If I do that it gives this error message...

Error: Duplicate provider configuration

  on ..\modules\mysql_instance\mysql_replica.tf line 1:
   1: provider "google-beta"{

A default (non-aliased) provider configuration for "google-beta" was already
given at ..\modules\mysql_instance\mysql_instance.tf:1,1-23. If multiple
configurations are required, set the "alias" argument for alternative
configu

[2020-09-04 12:47] edwardmedia commented on #7198
@tonnihult can you post the config code?

[2020-09-04 13:52] #7164 closed

[2020-09-04 14:14] JarvisIn opened #7200 "CLOUDSQL DB (mysql) running an instance type update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-04 16:30] edwardmedia commented on #7197
I can repor this issue. It appears `org_id` is not removed from the `plan` even when it is not listed in the updated config

[2020-09-04 17:38] megan07 commented on #7193
Hi @nyc3-mikekot! Thanks for the update! I have created a PR that will log an error if `name` is not defined. This will avoid the panic, but show a diff. The diff might be confusing because the whitespace error won't appear, but the debug logs will point out where the error is. Does that sound ok?

[2020-09-04 17:42] edwardmedia commented on #7166
@mldmld68 if you can repro the issue, I would like to see the tfstate **before** you launched the second apply.
It's hard to see what is going on with your code. Whether the iam policy is recreated based on the GCE instance, I have provided my version of config code, and it seems to be fine. Can you hard-code your config (and remove unrelated portion) and let me repro the issue with your code?

[2020-09-04 18:18] nyc3-mikekot commented on #7193
That sounds good to me!

[2020-09-04 20:23] megan07 commented on #7183
Hi @nyc3-mikekot! I'm sorry that you're seeing these diffs. I wasn't able to recreate it with a simple test I wrote up.
A few questions I have for you
- was your order of operations after changing the provider version `terraform init` then `terraform plan`?
- is there any way your infrastructure could have changed outside of terraform?
- can you provide me with your `var.backends`?

i'm curious ho

[2020-09-04 20:29] #6941 closed

[2020-09-04 21:03] venkykuberan commented on #7200
I am not able to repro it, HTTP 412 is pre-condition not met. Its possible that Master may be up & running while replica is setting up, that's why rerunning the apply works fine.
 Are you getting the error consistently ? If so, please send us the debug log.

[2020-09-05 20:11] tonnihult commented on #7198
I checked the provider version and we are using 3.35.0. The resource looks like this

[code]

[2020-09-06 07:11] nyurik opened #7202 "[docs] Clarify signed key requirements"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-07 07:46] YannSfeir commented on #7196
Hello,

First of all, thanks for your quick answer.

But, the main issue with assigning the role  roles/iap.tunnelResourceAccessor with IAM is we can't use conditions based on access levels. However, our IAP tunnels have a couple of restrictions based on access levels, which we won't be able to use with IAM...

So, we really need that kind of resources.

Thanks for your help!

[2020-09-07 09:15] cagataygurturk commented on #7155
Hello @slevenick . When will this change be shipped in a new release? Google updated the documentation with https, it means that http endpoint will unlikely to return. Currently deployments are broken.
Thanks.

[2020-09-07 10:03] nozhang commented on #7194
any update? I have same problem

[2020-09-07 10:38] ademariag opened #7203 "Allow google_project_service to accept google.project.id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-07 11:04] ademariag commented on #7203
I think this is somehow caused by the "project" key in the resource.

if I run it without, it works, e.g.:
[code]

if I re-add, I get
[code]

[2020-09-07 11:08] ademariag commented on #7203
The correct attribute to call is `${google_project.project.project_id}` instead of `${google_project.project.id}`

This resolves my issue, but I will leave this bug on for someone else to decide whether this behaviour is insane or working as intended.

[2020-09-07 12:51] JarvisIn commented on #7200
Hi,

Yes, the problem appears each time the instance type is updated ...

Actually, the deployment of replicas is working well - this issue is the change related to the instance type, once you got the replica running.

I investigated and discovered when Google is replacing the instance type on the master , the job on the replica instance is done too - both instance types are in sync then.

My unde

[2020-09-07 13:22] jasperroel opened #7204 "google_firebase_web_app import requires ID instead of (display) name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-07 13:47] edwardmedia commented on #7204
@jasperroel I think you have found below definition in the doc. The behavior you was seeing is by design. I am closing this issue then. Regarding the request of support using `display name`, I would suggest to file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?template=enhancement.md) instead and it will be triaged.
[code]

[2020-09-07 13:47] #7204 closed

[2020-09-07 14:25] jasperroel opened #7205 "Add easy way to retrieve by name to google_firebase_web_app"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-07 14:40] edwardmedia commented on #7198
@tonnihult I can't repro the issue. In my test, I saw the labels created and updated. I also verified the labels correctly showing up in GCP console. Can you repro the issue using your above code? If yes, can you post the debug logs before and after the config updated?

[2020-09-07 14:59] edwardmedia commented on #7203
Below is what `google_project` provides. The formats of `id` and `project` are different. We should let  `google_project_service` to accept both.
[code]

[2020-09-07 15:12] mldmld68 commented on #7166
I repro the issue starting . Please see https://gist.github.com/mldmld68/3270f32e6c02b2470dc662851a191af3

- First run shows the first terraform apply output done just after a terraform destroy to erase everything a have a empty tfstate
==> The resource google_compute_instance is created
==> The resource google_compute_instance_iam_member.allow_on_off_role_on_jumpbox_to_tbr_group_for_linux[0] is c

[2020-09-07 16:29] upodroid commented on #7196
https://cloud.google.com/iam/docs/conditions-overview#example-access-level

[2020-09-07 19:25] bharathkkb opened #7207 "Add Dataplane V2 support for GKE (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-07 19:45] edwardmedia commented on #7194
@antoinecastex it is OK when I tested using below code. I see the **quota data** updated in the GCP Console each time I apply the new config.

[code]

[2020-09-07 20:20] antoinecastex commented on #7194
@edwardmedia  thanks, the differences are the metric and the limit, because i'm trying to do that for bigquery, not servicemanagement ...

How. to know the exact value ?

What's the name field ?

thanks

[2020-09-07 20:27] edwardmedia commented on #7194
Below is the test using your code

[code]
Below are the API requests and responses. Every time I update the `overrideValue`, I do see the new values in the responses.
[code]

[2020-09-07 20:39] antoinecastex commented on #7194
so your conclusion @edwardmedia  is that it's working well, there is only a bug in the console ?

[2020-09-07 21:04] edwardmedia commented on #7166
@mldmld68 I don't have the right answer for you. I am curious what `data.template_file.init_jumpbox_linux_script[0].rendered` do? If you comment that line, what do you see?

[2020-09-07 21:05] edwardmedia commented on #7089
@mejuhi is this still an issue with you?

[2020-09-07 21:26] antoinecastex commented on #7194
This is really crazy @edwardmedia  you right

'overrideValue': '1048576

Shame on the console , how can the dev team let something so bad like that in production ? crazy !

[2020-09-07 21:54] edwardmedia commented on #7103
@bharathkkb I tried below code without hitting the error `Error 400: Another activation or deactivation is in progress for the following service(s)`

[code]

[2020-09-07 22:08] edwardmedia commented on #7194
@antoinecastex I will reach out other teams to see how much they can help us.

[2020-09-07 22:39] edwardmedia commented on #7194
@antoinecastex you can also verify what value was set in the `Quota` service by running Terraform import. In my case `"overrideValue" is "850000"`

[2020-09-07 23:13] bharathkkb commented on #7103
@edwardmedia could you try with the anthos apis?
Perhaps,
[code]
In our case this has been sporadic and began on August 19th. From August 19th until Sept 2nd we saw this happen ~33 times out of ~100 builds and on 2nd we merged https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/640 and yet to see this happen again.
an example: https://github.com/terraform-google-mod

[2020-09-08 01:33] nozhang commented on #7194
@antoinecastex question, how do you know the limit string like _limit          = "%2Fd%2Fproject"_ ?

[2020-09-08 03:29] edwardmedia commented on #7103
@bharathkkb Using your list, I have tried 5 times. All succeeded, without hitting issues.

[2020-09-08 03:39] bharathkkb commented on #7103
@edwardmedia thanks for investigating, I just opened a test PR https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/657 to check from our side as well.  This has debug logs enabled, so if we hit this issue, we should have some further info.

[2020-09-08 04:06] jiang95-dev opened #7208 "__init__() got an unexpected keyword argument 'version'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-08 05:19] bharathkkb commented on #7103
@edwardmedia I was able to repro. My third test run https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/runs/1084084131 failed with this error. Debug logs attached to b/164189639

[2020-09-08 08:39] brancz commented on #7207
I'm gonna try and give this a shot.

[2020-09-08 08:50] ZPascal opened #7209 "CloudSQL - Error, failure waiting for deletion of postgres database"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-08 09:14] antoinecastex commented on #7194
@nozhang  very good question !

it's impossible to use the REST Api to that so , we try to look at the query send through the browser when we do that in the UI , we copy paste the full query and have discovered this ....

crazy !

[2020-09-08 13:57] edwardmedia commented on #7208
@jiang95-dev can you post the Terraform debug log?

[2020-09-08 14:15] Chupaka opened #7210 "google_compute_health_check permadiff if http_health_check.port is not set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-08 14:29] tonnihult commented on #7198
Ok. I doubled checked the permissions if there was a problem there but the account that is running the deploy has the dns admin role. Even tested to grant it owner rights but it still did not work. But when I grant myself the dns admin role I have no problem to remove the label through the UI.

I don't find that there are others with issue for this resource so I'm going to close the issue and do t

[2020-09-08 14:29] #7198 closed

[2020-09-08 14:31] venkykuberan commented on #7200
Great, will close the issue then. Thanks

[2020-09-08 14:31] #7200 closed

[2020-09-08 14:33] mldmld68 commented on #7166
@edwardmedia

On my code, one have
- A step to generate a ssh key which write a public sshkey in a file  : resource "null_resource" "linux_tbr_create_ssh_key"
- A step to put the public key in a terraform variable sshpubkey     : data "null_data_source" "sshkey" : sshpubkey
- A step to build the startup script of the Linux GCE using the template and the variable sshpubkey : data "template_file" "i

[2020-09-08 14:51] megan07 opened #7211 "Fix test TestAccComputeTargetInstance_targetInstanceCustomNetworkExample"
Fix failing test TestAccComputeTargetInstance_targetInstanceCustomNetworkExample

I think we just need to specify `provider = google-beta` in the config.

[2020-09-08 16:12] upodroid opened #7212 "Add API Gateway Resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-08 16:20] danawillow opened #7213 "More service networking resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-08 16:31] slevenick commented on #7155
@cagataygurturk It should be included in the release expected to go out today.

[2020-09-08 16:32] danawillow opened #7214 "GKE Exclusion Windows"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-08 16:43] #7193 closed

[2020-09-08 17:09] edwardmedia commented on #7209
@ZPascal The error is `INTERNAL_ERROR` from Cloud SQL (the response code 200). I guess this is SQL error. I am afraid there are not much we can do about it at this moment.  What do you see if you run the Terraform again? I would suggest file a issue to Cloud SQL.

[2020-09-08 17:12] nyc3-mikekot commented on #7183
Hi @megan07 ; i think you're just about correct about all of these assertions.

It's very likely someone edited these resources outside of terraform given that the configs I shared did not have these values (I was originally of the impression that perhaps these were all new things simply being tracked as of a 3.x change).

I think what makes the most sense to do here is to align the configs with t

[2020-09-08 17:35] mejuhi commented on #7089
Hello @edwardmedia, we tried recreating this issue in another project & environment, we found out there were some additional issues of service api not being enabled properly.
Thankyou for your help and support. We were able to close this issue 👍

[2020-09-08 17:35] #7089 closed

[2020-09-08 17:38] danawillow commented on #7175
Is this something you could use the docker provider for?

[2020-09-08 18:12] jiang95-dev commented on #7208
I just posted it.

[2020-09-08 18:40] edwardmedia commented on #7194
@antoinecastex It is good now. I was looking at a different Quota. To retest it using above code, I see the updates on Quota limit under below **Quota** Let me know if this solves your problem

BigQuery API | Query usage per day

[2020-09-08 19:09] #7211 closed

[2020-09-08 19:15] danawillow commented on #7107
That sounds like adding a new provider block, not setting provider on the resource. I was thinking:

[code]

can you give that a try?

[2020-09-08 20:34] edwardmedia commented on #7208
@jiang95-dev  is the file name **main.app** or **main.py**?

[2020-09-08 20:48] edwardmedia commented on #7165
@riteshnanda09  is this still an issue with you?

[2020-09-08 20:50] edwardmedia commented on #7082
@ahipster is this still an issue with you?

[2020-09-08 20:51] edwardmedia commented on #7126
@medzin  is this still an issue with you?

[2020-09-08 20:54] edwardmedia commented on #7135
@erniebilling is this still an issue with you?

[2020-09-08 20:55] edwardmedia commented on #7138
@priyankak1212 is this still an issue with you?

[2020-09-08 21:04] #7137 closed

[2020-09-08 21:56] edwardmedia commented on #7166
@mldmld68 not sure if I understood correctly. Let me try. From the 4 steps you described above, does Terraform knows the state of the end of 4 steps when it prepare the **plan** (before apply)? This is similar to design time vs. run tine. You can do whatever you want to do to manipulate the GCE after it is created. But Terraform does not have the knowledge about these changes. If you want to see i

[2020-09-08 22:27] riteshnanda09 commented on #7165
Thanks @upodroid i see how it can help me with other service identities which i will need to do in future.

But specifically for gcs which i was looking for  , when i try to enable `storage.googleapis.com` it says

[code]

[2020-09-08 22:37] edwardmedia commented on #6810
@joe-boyce if the suggestions are not good enough to meet your use case, I would recommend you post the question  at discuss.hashicorp.com as the solutions would be more Terraform, not the Provider specific. I am closing this issue then. Feel free to reopen it if you think needing assistance for the provider. Thank you

[2020-09-08 22:37] #6810 closed

[2020-09-08 23:06] jiang95-dev commented on #7208
I actually found the problem. Terraform requires the field entrypoint. If I use gunicorn, then I have to add gunicorn in requirements.txt, otherwise app engine will complain that gunicorn does not exists. However, if add gunicorn in requirements.txt, it will cause this issue. So my solution was to use uwsgi instead. The working configuration is posted below.
[code]
[code]
The uwsgi is on top. Not

[2020-09-08 23:07] #7165 closed

[2020-09-08 23:07] riteshnanda09 commented on #7165
Thanks Guys .

[2020-09-08 23:34] edwardmedia commented on #7208
I am glad you found the solution. Closing the issue then

[2020-09-08 23:34] #7208 closed

[2020-09-09 01:25] sfc-gh-jihuang opened #7219 "Please Support google_compute_region_ssl_certificate as a Data Source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-09 05:32] medzin commented on #7126
@edwardmedia yeah, give me a moment to prepare logs.

[2020-09-09 05:32] AndreasBergmeier6176 commented on #7175
If I am reading the docs right, there is no pushing there either.
As a bonus I would really like to have something that works regardless of a docker daemon on a machine.

[2020-09-09 06:30] hoxu commented on #7001
I think this should be reported upstream so that GCP can fix the error message. It's misleading at best.

[2020-09-09 07:14] ZPascal commented on #7209
@edwardmedia If I run terraform again, I get the same error. I will open an issue at GCP and embed the corresponding link here.

[2020-09-09 07:46] antoinecastex commented on #7194
@edwardmedia  what code have you used ?

you say now you can see the change in the UI ?

[2020-09-09 10:01] mercuriete commented on #5311
I have the same necessity, how this issue is going?

thanks for your work.

[2020-09-09 10:25] DeanBrunt opened #7220 "`google_compute_firewall` can not be updated in place if no `log_config` block is present or `enable_logging` is false or not present"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-09 10:30] ppennanen opened #7221 "Add support for GKE Ingress for Internal HTTP(s) load balancing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-09 12:57] remm opened #7222 "Add data source for google_compute_instance_group_manager"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-09 13:07] kustodian opened #7223 "google_storage_bucket support additional lifecycle conditions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-09 13:35] ct-dh commented on #7170
Simple repro with debug log attached for a terraform plan:

[code]

[debug.log](https://github.com/hashicorp/terraform-provider-google/files/5195490/debug.log)

[2020-09-09 13:39] tchiotludo opened #7224 "Handle rate limits on google_bigquery_dataset_access"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-09 13:44] GavBurke commented on #7170
Thanks @ct-dh , sorry I completely forgot to come back to this @edwardmedia

Just for info though, a colleague of mine suggested removing the project and let Google figure out itself which project the bucket is in, and to my surprise that just worked!

The original issue, however, is still prevalent in that the documentation says you can specify project in the bucket_iam resources but that doesn’t

[2020-09-09 13:46] mldmld68 commented on #7166
@edwardmedia
Not sure to understand your last post.
But I did not change anything not using terraform.

So, see the two terraform plans here
https://gist.github.com/mldmld68/f167720ed9ee2ced3275125d2d12e0a2

The first plan says :
[code]
Which is correct

The second plan says
[code]
But there is no message like
[code]
As the compute engine is replaced, the Iam policy set a GCE level should be repla

[2020-09-09 14:48] cm-wayfair opened #7228 "google_notebooks_instance documentation bug"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-09 15:55] edwardmedia commented on #7209
@ZPascal below call looks good to me. Yes, we need helps from Cloud SQL to resolve this issue. I am closing this issue now. Feel free to reopen it if you see we can help further about this. Thank you
[code]

[2020-09-09 15:55] #7209 closed

[2020-09-09 15:59] edwardmedia commented on #7220
@DeanBrunt can you share your config and the debug log so I can take a close look? Thanks

[2020-09-09 16:08] edwardmedia commented on #7228
@cm-wayfair  You are correct. It should be something like below. Thank you
[code]

[2020-09-09 16:39] edwardmedia commented on #7166
@mldmld68 I see what the problem is. Here is the cause. https://github.com/hashicorp/terraform-plugin-sdk/issues/122

Unfortunately this is a limitation at Terraform and there is not much we can do in the provider. Closing this issue then. Feel free to reopen it if you see a need to continue the investigation. Thanks

[2020-09-09 16:39] #7166 closed

[2020-09-09 17:05] edwardmedia commented on #7170
@GavBurke by removing `project`, the Google provider will pick the default value you have already set on your box It will not work if you have not done so. Below is the link to the detailed description you may want to review. I am glad you have got the answer and closing this issue then.

https://www.terraform.io/docs/providers/google/guides/provider_reference.html#project-1

[2020-09-09 17:10] ct-dh commented on #7170
@edwardmedia you seem to have misunderstood the issue. The provider docs state that you can supply the `project` attribute on the resource, but you can't. If you do the provider complains as below and the run fails. The easiest fix in my mind is to remove that attribute from the docs.

[code]

Excerpt from the docs page at https://www.terraform.io/docs/providers/google/r/storage_bucket_iam.html:

[2020-09-09 17:40] #7228 closed

[2020-09-09 18:20] hashibot[bot] opened #7229 "one_time_schedule in google_os_config_patch_deployment crashes"
_This issue was originally opened by @jameschingtelus as hashicorp/terraform#26147. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi,

Seems like the **one_time_schedule** argument in **google_os_config_patch_deployment** resource does not work. I tested this in

[2020-09-09 18:29] #7103 closed

[2020-09-09 18:30] rileykarson commented on #7103
We should retry under these circumstances, beginning with the Sep 21 release (`3.40.0`, I think?).

[2020-09-09 19:03] #6902 closed

[2020-09-09 19:21] upodroid commented on #7221
Hello

This is not done through terraform but through Kubernetes Service and Ingress resources.

Have a look at https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balance-ingress for details.

If this resolves your question, please go ahead and close this issue.

Thank you

[2020-09-09 19:34] bharathkkb commented on #7103
Thanks @rileykarson

[2020-09-09 20:49] chakravarthyakundi77 commented on #7107
Well it did not give me any error for Plan, Let me apply and see if it deploys the script successfully

[2020-09-09 21:00] #7183 closed

[2020-09-09 21:38] chakravarthyakundi77 commented on #7107
So I'm seeing different issues, can you please let me know if I'm missing something or doing something wrong here.

**_Error: Error, failed to create instance mysql-replica04: googleapi: Error 400: Invalid request: Disk encryption config should not be specified for replica that is in the same region of master.., invalid_**

  **_on ..\modules\mysql_instance\mysql_replica.tf line 1, in resource "go

[2020-09-09 21:57] danawillow commented on #7107
It looks like you created a module with variables that are all required, but you need to be able to sometimes not set a specific one. It's important to first notice the difference between an error that comes back from the GCP API, an error that comes back from the provider, and an error that comes back from the tool. In this case:
[code]
Because this says `googleapi`, you can tell that this error

[2020-09-09 22:12] cm-wayfair commented on #7228
@edwardmedia thanks for the quick response.

For metadata I was more pointing out the examples. Was wondering if the terraform = "true" meant something specific. Seemed undocumented. If it was just an example that doesn't have any impact on the system then that is fine and you can probably close this. For example, if you set proxy-mode = "service_account" it definitely would have an impact.

`meta

[2020-09-09 22:25] danawillow commented on #7175
Got it. I don't think GCP has the APIs that would be necessary to add this as a resource, but please let me know if you're aware of any that we could use. In the meantime, a module like https://registry.terraform.io/modules/neomantra/mirror/docker/0.3.0 might do what you're looking for. It does require the docker daemon, and I'm not sure there's much of a way around that at this time.

[2020-09-09 22:27] cm-wayfair opened #7233 "google_notebooks_instance should allow the 'tags' attribute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-09 22:39] cm-wayfair opened #7234 "google_notebooks_instance should allow for labels on resources automatically created like disks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-09 22:51] chakravarthyakundi77 commented on #7107
Ok so this worked ,

_replicainstnames = {
        "sql-east"  =   {
            "replicaname"             = "${local.inst_name}-replica04", //just add the number suffix
            "tier"                    = "db-custom-1-3840",
			      "disk_size"               = 20,
			      "region"                  = "us-east1",_
           **_"encryption_key_name"     = null_**

Thank you very much Dana. I'

[2020-09-09 22:55] cm-wayfair opened #7235 "google_notebooks_instance does not recreate IAM member bindings if the notebook is recreated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-09 22:55] danawillow commented on #7107
Cool, that also works! Closing the issue out.

[2020-09-09 22:55] #7107 closed

[2020-09-09 23:17] cm-wayfair opened #7236 "google_notebooks_instance doesn't honor google_compute_instance_iam_member bindings for Notebook permissions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-09 23:27] venkykuberan commented on #7210
Its working as expected, your state has value 80 (updated from API default value) and config has empty value thus you would see diff. In Place update happens as expected.

[2020-09-09 23:27] #7210 closed

[2020-09-10 05:53] #7138 closed

[2020-09-10 05:53] priyankak1212 commented on #7138
Resolved.

[2020-09-10 06:18] AndreasBergmeier6176 commented on #7175
That looks promising. Thanks for the pointer.
Probably what would be great is having a Provider which internally would make use of Skopeo.

[2020-09-10 06:47] #7221 closed

[2020-09-10 08:17] jakesyl opened #7237 "node_pool with scratch disk type"
If you have a support request or question please submit them to one of these resources:

I have a [`google_container_node_pool`](https://www.terraform.io/docs/providers/google/r/container_node_pool.html) with a [`node_config`](https://www.terraform.io/docs/providers/google/r/container_node_pool.html#node_config) and a [`local_ssd_count`] > 1 how do I specify wether the disk is an nvme or scsi

[2020-09-10 08:55] Daanvm opened #7238 "New uniform_bucket_level_access field not accepted by terraform validate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-10 10:38] Chupaka commented on #7210
@venkykuberan so how should I use that default value without setting "port = 80" explicitly in my config? Should I remove 80 from the state so that there's no the same diff every time?

[2020-09-10 12:16] Tailzip opened #7239 "Add SLO "availability" SLI metric support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-10 13:39] edwardmedia commented on #7235
@cm-wayfair can you post the other part of code (including Notebook) so I can take a close look? It also would be helpful if you can attach the debug log.

[2020-09-10 13:42] upodroid commented on #7238
Hello

Your provider version is 3.33 and this feature was released in 3.38.

Please upgrade your provider version by either pinning 3.38 or running `terraform init -upgrade`

If this solves your issue, please go ahead and close the issue.

Thank you

[2020-09-10 14:13] cm-wayfair commented on #7235
@edwardmedia good call-out. I have updated the description ^ with the full terraform config. I don't have immediate access to the debug logs, but I will work on gathering them.

[2020-09-10 14:36] DeanBrunt commented on #7220
As quickly as that issue arrived it now seems to be gone.
When we were seeing the issue if you started from scratch and created this resource:
[code]

Then modified it to this and reapplied:
[code]

You would of observed the issue I described in my initial post.

[2020-09-10 15:51] edwardmedia commented on #7236
@cm-wayfair when you say **I** `should be able to perform Notebook Admin permission`, I assume you were using the account **cmarkus@gcp.wayfair.com**.  Does this account have `iam.serviceAccounts.actAs` role?

[2020-09-10 16:18] cm-wayfair commented on #7236
Ok, I will try gcloud. Our policy is actually to systematically use custom roles. We only use built-in roles in limited cases. So I have tested both custom and built-in via Web Console.

No, we don't generally apply iam.serviceAccounts.actAs in our custom roles. Only exception least privilege scenarios. In this case both testing with the custom role and built-in roles of compute.admin and notebook

[2020-09-10 16:21] cm-wayfair commented on #7236
Our custom role has notebook.instances.stop. Our custom role basically mirrors the built-in role with the exception of *.setIam

[code]

[2020-09-10 16:22] edwardmedia commented on #7235
@cm-wayfair  this is a known issue https://github.com/hashicorp/terraform-plugin-sdk/issues/122

Unfortunately this is a limitation at Terraform and there is not much we can do in the provider. Closing this issue then. Feel free to reopen it if you see a need to continue the investigation. Thanks

[2020-09-10 16:22] #7235 closed

[2020-09-10 16:42] edwardmedia commented on #7236
@cm-wayfair  you have both roles bond to `google_compute_instance` but not to `google_notebooks_instance'. There is no `google_notebooks_instance_iam_member` available yet. I think you have to wait. You can file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?template=enhancement.md) for that so it will be triaged. I m closing this issue then. Feel free to reopen

[2020-09-10 16:42] #7236 closed

[2020-09-10 17:22] edwardmedia commented on #7237
@jakesyl not quite sure what you are looking for. Regarding
[code]

[2020-09-10 17:41] edwardmedia commented on #7220
@DeanBrunt I tested using you suggested code, and seems to be fine. I guess the issues you experienced may be intermittent on API side. I am closing the issue now. Please feel free to reopen it if the issue comes bask. Thank you

[code]

[2020-09-10 17:41] #7220 closed

[2020-09-10 19:36] antoinecastex commented on #7194
@edwardmedia  yes this code is mine, it's working very well, the api return OK

but the web console is not seeing any modifications ...

Service: BigQuery API
Name: Requests per day
Quota Metric: bigquery.googleapis.com/unlimited_requests

Requests per day | Unlimited
-- | --

[2020-09-10 19:41] yegle opened #7242 "google_monitoring_dashboard: resource always need to be updated."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-10 20:34] edwardmedia commented on #7194
@antoinecastex what do you see under ** Query usage per day**?

[code]

[2020-09-10 20:37] icco commented on #7242
An example of what it shows every time.
[code]

[2020-09-10 20:48] yegle commented on #7242
So apparently I misread the diff in `terraform plan` result and missed the bit that attempt to change `columns` field from a number `2` to a string `"2"`. In that case the diff on the `name` field and the `etag` field makes sense.

The `columns` field should always be a number, unless the concern is to support large number of columns that cannot be represented in JSON.

[2020-09-10 21:08] riteshnanda09 opened #7243 "Resource google_compute_network, delete_default_routes_on_create flag not working with recent change of ComputeDefaultBasePath"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-10 22:09] rileykarson commented on #7197
Interesting- both `org_id` and `folder_id` are marked as "Optional+Computed" fields. Normally fields consider being unset as being set to the empty string. These fields instead consider being unset to mean they're output-only fields.

You can explicitly specify the empty string to resolve this.

A fix isn't really feasible, unfortunately. It would probably break users if we changed their unset beh

[2020-09-10 22:09] #7197 closed

[2020-09-10 22:11] rileykarson commented on #5073
From https://github.com/hashicorp/terraform-provider-google/issues/7197, we should also ensure that we make those fields detect drift in `4.0.0`. They're currently Optional+Computed.

[2020-09-10 22:21] crockpotveggies opened #7244 "Race condition when creating VPC before GKE"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-10 22:26] edwardmedia opened #7245 "Add support GRPC for google_compute_(region)_backend_service.protocol"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-10 22:43] yegle opened #7246 "google_monitoring_dashboard: Add a computed attribute url"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-10 22:56] #2079 closed

[2020-09-10 23:18] upodroid commented on #7244
Hello

You should reference the name of the google_compute_network.vpc_network instead of writing the name of the vpc in the google_container_cluster resource. That creates the resource dependency and terraform will create it in the correct order.

`network = google_compute_network.vpc_network.name`

If this solves your issue, please go ahead and close this issue.

Thank you

[2020-09-10 23:33] crockpotveggies commented on #7244
Thanks that worked as expected. Is there a reason why I can't use the actual name of the VPC network, in case I have multiple? For example:

[code]

When I try to do so:

[code]

[2020-09-10 23:50] upodroid commented on #7244
You can only use the values available in the schema which is found in the provider docs. You specify the name inside the resource so if you need to change it you only change it one place.

Have a look at the documentation and the learning guides at https://terraform.io. They have great guides on best practices tutorials.

[2020-09-10 23:58] #7244 closed

[2020-09-11 00:14] cm-wayfair opened #7248 "google_notebooks_instance_iam_member should exist so roles can be bound to google_notebooks_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-11 07:52] jenshonkan84 opened #7249 "Support new ingress option for cloud function"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-11 07:59] jenshonkan84 commented on #7249
API documentation: https://cloud.google.com/functions/docs/reference/rest/v1/projects.locations.functions#IngressSettings

[2020-09-11 08:34] antoinecastex commented on #7194
@edwardmedia  that's working perfectly

Limit:1,048,576 MiB (1 TiB)Current usage:
0 MiB
(0%)7 days peak:
0 MiB
(0%)

[2020-09-11 08:34] #7194 closed

[2020-09-11 09:21] McVillano commented on #7243
Same problem here, default routes are not being deletd

[2020-09-11 11:48] rick-pri commented on #4388
This is extremely dangerous default behaviour and completely opposite to how the `startup-script` value is interpreted elsewhere (i.e. not in Terraform).  This should never have been accepted as the default for imports where users are typically coming from alternative systems that won't behave like this, and more importantly, without any way to override it.

[2020-09-11 11:58] ZPascal commented on #7209
@edwardmedia

**GCP answer:**

Shouldn't this step actually be done by Terraform?

[2020-09-11 13:07] edwardmedia commented on #7243
@riteshnanda09 @McVillano looks like this is a dup issue. https://github.com/hashicorp/terraform-provider-google/issues/7164.
Please follow it for the resolution. Thanks

[2020-09-11 13:07] #7243 closed

[2020-09-11 14:11] anitakar opened #7250 "provider-google for Cloud Composer uses v1beta1 API instead of v1 API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-11 14:20] anitakar commented on #7250
I would like to work on it.

[2020-09-11 15:09] Daanvm commented on #7238
[code]

You are correct, thank you for the fast response!

[2020-09-11 15:09] #7238 closed

[2020-09-11 19:14] n-oden commented on #7051
Small note on this: while it works, the maxUtilization etc values are still shown in the terraform plan output.

[2020-09-11 19:41] slevenick commented on #7051
Yeah, that's due to maxUtilization having a default value. It's tricky to remove without causing a breaking change, so I went with leaving it in the plan but stripping it from the request for serverless NEGs

[2020-09-11 21:21] #7219 closed

[2020-09-11 22:12] #7245 closed

[2020-09-11 22:34] #7203 closed

[2020-09-12 00:13] danawillow commented on #7196
Just to link the prior request for this: https://github.com/hashicorp/terraform-provider-google/issues/5577.

@upodroid, I'm pretty sure that specific condition is only valid for IAP resources, and doesn't work at the project IAM level. If you've been able to get it to work properly, I bet the subscribers on this issue would be interested in an example.

[2020-09-12 19:39] upodroid commented on #7196
I assumed the OP wasn't using conditions but later on he talked about access levels which can be specified in IAM conditions and work if you use the iap.googleapis.com setIamPolicy calls.

On that note, there are other resources such as backend services have iam methods which we don't have resources for. I'll open separate issues for those.

[2020-09-12 19:46] upodroid opened #7256 "Add IAM resources to Snapshots"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-12 19:49] upodroid opened #7257 "Add IAM Resources for Instance Templates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-12 19:58] upodroid opened #7258 "Add Workflow Resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-13 03:04] jakesyl commented on #7237
Ah okay - I'm not sure why this isn't implemented at the api level, but makes sense.

[2020-09-14 04:07] #7149 closed

[2020-09-14 09:38] lchastel opened #7260 "Enhancement : google_compute_disk should not allow shrinking if already exists"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-14 10:29] FrancoisPoinsot opened #7261 "google_project_iam_member is slow when upgrading >= v3.14"
When upgrading the google provider I noticed one of the workflow I am working one takes a lot longer to execute.
Not even the actual deployment phase, just the `terraform plan`.
The "refreshing state" step took ~10 minutes before and now it takes 3 hours.
I probed the different versions available and found out that this issue started for v3.14

I have reduced this issue to a single component `goog

[2020-09-14 13:13] gaspar-chilingarov opened #7262 "google_project_iam_policy - terraform plan showing what existing bindings are going to removed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-14 13:21] edwardmedia commented on #7237
@jakesyl closing this issue then. Thanks

[2020-09-14 13:21] #7237 closed

[2020-09-14 13:26] edwardmedia commented on #7262
@gaspar-chilingarov below is what is says in the document. You might want to use google_project_iam_binding or google_project_iam_member instead
[code]

[2020-09-14 13:55] gaspar-chilingarov commented on #7262
Yes, about **replacing** part - it does not show up in TF plan/apply output, this decreasing trust in the tool, that it will tell you **exactly** what it plans to do.

Adding second warning on the `google_project_iam_policy` section would be helpful too. We warn in case of the `destroy` scenario, but we don't warn user that it can be also dangerous during the `create`.

[2020-09-14 15:02] ademariag opened #7263 "Unable to manage old CLOUD_DATASTORE pre CLOUD_DATASTORE_COMPATIBILITY"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-14 15:41] c2thorn commented on #6910
This flew under my radar. @sergeunity I used your example config and the resource was able to create successfully. From here, are you saying:
1. Running `tf plan` will show a force recreate
or
2. Modifying labels and running `tf plan` will show a force recreate

The second scenario is intended behavior and neither @edwardmedia or I have reproduced the first scenario. If you can provide any [debug

[2020-09-14 15:43] rndlaine opened #7264 "Credentials property ignored - No credentials loaded"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-14 15:58] edwardmedia commented on #7264
@rndlaine looks like you defined `provider "google"` but used as `google-beta`. Can you see what happens?
[code]

[2020-09-14 16:16] #7229 closed

[2020-09-14 17:21] #7175 closed

[2020-09-14 17:23] danawillow commented on #7175
Closing this out since it's not something we'll realistically do here. You could probably try filing a feature request on the docker provider.

[2020-09-14 17:26] edwardmedia commented on #7262
@gaspar-chilingarov changed the label from `bug` to `enhancement`. Will be triaged

[2020-09-14 17:31] danawillow commented on #7233
@cm-wayfair, the API in this case doesn't have an attribute for tags: https://cloud.google.com/ai-platform/notebooks/docs/reference/rest/v1beta1/projects.locations.instances. I'd recommend filing an issue against GCP itself for this API to get the field. Once it's there, we can add it to the provider.

[2020-09-14 17:33] danawillow commented on #7234
Same response here as #7233 - if it's in the API then we can add it to the provider, but in this case it doesn't look like it is: https://cloud.google.com/ai-platform/notebooks/docs/reference/rest/v1beta1/projects.locations.instances.

[2020-09-14 17:33] rndlaine commented on #7264
Ok so this works 💯  on a new project, however it doesn't work on an existing project using a terraform backend.

[code]

I get the same "No credentials loaded" error.

[2020-09-14 17:37] danawillow commented on #7246
I'm pretty hesitant to add this since it isn't an attribute that the API returns. We'd have to hard-code it in the provider, and then if the URL ever changed, people would have to upgrade their provider version to get the new one. I'd recommend filing a feature request against the Monitoring team to see if they would add that as an output-only attribute in their API.

[2020-09-14 17:47] danawillow commented on #7260
Hey @lchastel, I think what you're looking for is https://www.terraform.io/docs/configuration/resources.html#prevent_destroy. I'd recommend putting that on any resource you want to make sure that Terraform doesn't destroy.

[2020-09-14 17:47] #7260 closed

[2020-09-14 18:05] ael-computas commented on #5121
this worked for me as well in a production setup.  also removed "predefined_acl"
My state was in a remote gcs bucket.
I of course took a backup of the state file before attempting this black wizardry ;)

[2020-09-14 18:15] ajishikea opened #7267 "create gcp alert policy using terraform"
Hi Team,

I am trying to create gcp alert policy using terraform but i dont have a feature to JSON file while creating the alert policy. Can we know is any way in terraform we can provide JSON file to create a alert policy. Since gcloud we have a option --policy-from-file. DO we have any functions like this?

`gcloud alpha monitoring policies create --notification-channels=[NOTIFICATION_CHANNELS,…

[2020-09-14 18:51] upodroid commented on #7267
Hi

The Google SDK takes the policy in yaml/json and converts it to this object https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.alertPolicies . You can verify this by running it with `--log-http` flag and see the api calls.

That feature doesn't exist in terraform because you are expected to specify all the alertPolicy fields when creating the resource in terraform.

https://www.te

[2020-09-14 18:56] AndreasBergmeier6176 commented on #7175
Just FYI, I took a look at that. Problem with Skopeo is that it uses CGO and is quite involved to build. Thus not a thing I want to tackle right now. Will have a look at the docker module next.

[2020-09-14 19:44] edwardmedia commented on #7261
@FrancoisPoinsot I would think this might be caused by api, as its responses did not end sooner. Can you repro the issue in different time?

[2020-09-14 20:06] #7096 closed

[2020-09-14 20:15] FrancoisPoinsot commented on #7261
What do you mean by "in different time"?

[2020-09-14 20:15] edwardmedia commented on #7262
@gaspar-chilingarov   We probably can't do that. That's just a consequence of Terraform itself. If a resource isn't in state, then the first plan for it will always show it being created, even if it's actually just overwriting something that already exists. If you want that sort of functionality, you can import it first like what is recommended at https://www.terraform.io/docs/providers/google/r/g

[2020-09-14 20:15] #7262 closed

[2020-09-14 20:28] edwardmedia commented on #7261
Do you constantly see this issue with version > v3.14? I mean you can repro the issue?

[2020-09-14 21:36] imrannayer opened #7270 "Add capability to add a project in service perimeter in dry-run mode"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-14 23:21] upodroid commented on #7270
Hi

The field you are looking for is called `use_explicit_dry_run_spec`. Have a look at the docs for how it works.

https://cloud.google.com/access-context-manager/docs/reference/rest/v1/accessPolicies.servicePerimeters

Thank you

[2020-09-14 23:26] imrannayer commented on #7270
I am looking for that capability in `google_access_context_manager_service_perimeter_resource`
Right now that parameter is only available in

`google_access_context_manager_service_perimeter`

[2020-09-15 00:27] ndmckinley commented on #5654
Hi!

Okay, we have investigated, and this is fairly nuanced, so I want to lay it out here.

**tl;dr: The `most-disruptive-allowed-action` support is in an API which Terraform will never call, and therefore this request cannot be implemented.**

To explain:  there are two types of update strategy that the Managed Instance Group (MIG) can use - `PROACTIVE` and `OPPORTUNISTIC`.  A `PROACTIVE` update

[2020-09-15 00:27] #5654 closed

[2020-09-15 00:34] mikhail-khodorovskiy opened #7271 "Error creating private composer environment due to malformed name (BETA v 3.37.0)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-15 03:42] artazar commented on #6260
Don't want to file a new issue, as the cause seems to be the same.
Provider version 3.38.0.
When I have log_config section as follows:
[code]
for backend_service resource and
[code]
for health checks, terraform always suggests adding these to resources, while it finds it empty querying API:
[code]
and inside terraform provider log:
[code]
we can see
[code]
which is not treated well.

[2020-09-15 07:15] FrancoisPoinsot commented on #7261
Yes, I have been able to reproduce this issue for the past week.

[2020-09-15 07:18] FrancoisPoinsot commented on #7261
and I can reproduce it now

[2020-09-15 07:43] lchastel commented on #7260
Hello @danawillow

Sorry about that, I missed this setting.
I tested it, and it's working like I want.

Best regards
Laurent

[2020-09-15 08:23] ferrarimarco opened #7273 "Add support for the SEV_CAPABLE Guest OS feature"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-15 09:02] upodroid commented on #7270
Think of `google_access_context_manager_service_perimeter_resource` as a slice of the `spec.resources` or `status.resources` field in `google_access_context_manager_service_perimeter`.  All the other parameters of the perimeter still need to be specified in `google_access_context_manager_service_perimeter`.

[code]

The docs in https://www.terraform.io/docs/providers/google/r/access_context_manage

[2020-09-15 12:09] dsiebel commented on #7197
I tried seeting `org_id = ""` but it didn't change anything in the behavior.

[2020-09-15 12:33] edwardmedia commented on #7264
@rndlaine Your 2nd question is about the use of Terraform `backend` which is a Terraform feature.You may find the reference over https://www.terraform.io/docs/backends/config.html

[2020-09-15 12:56] imrannayer commented on #7270
I agree `google_access_context_manager_service_perimeter_resource` is an extension to status.resources but it is not an extension to spec.resorces. I ran test using the following code and it adds the project to the enforced section only. Nothing in dry run mode. This is similar to your code. I was wondering if we can use `google_access_context_manager_service_perimeter_resource` to add project to

[2020-09-15 14:18] c2thorn opened #7275 "Support load-balancer-type for CloudRunConfig within Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-15 14:33] #7202 closed

[2020-09-15 14:54] nyurik commented on #7202
@megan07 thanks for creating a fix!  I was just looking at it again, and from my recent implementation, I suspect the `b64_std` is actually an error -- please double check.  The `b64_std` could include the `+` and `/` symbols. The `b64_url` is part of the newer standard that replaces them with `-` and `_`.  The **optional** part of the standard is that it no longer requires padding the value with

[2020-09-15 14:57] edwardmedia commented on #7271
The error message does not make sense
[code]

[2020-09-15 16:23] #7275 closed

[2020-09-15 16:47] mikhail-khodorovskiy commented on #7271
@edwardmedia - is there a workaround I can use in the mean time before it's fixed?   Just to make it clear the name I set in my resource is "janus" and is not the id that includes project in it.

[2020-09-15 16:58] #7116 closed

[2020-09-15 20:41] slevenick commented on #7163
Can be done by commenting `/gcbrun` on a MM PR after the diffs have been generated. This may require contributors to rebase off master as the cloudbuild file must exist on their branch to be able to run.

This runs VCR tests in REPLAYING mode, then runs any failing tests in RECORDING mode on their branch.

[2020-09-15 20:41] #7163 closed

[2020-09-15 21:08] #2082 closed

[2020-09-15 21:27] venkykuberan commented on #7263
@ademariag first one seems legit error from the API and second error is from plan time validation. Currently provider supports only these 2 database_types {"CLOUD_FIRESTORE", "CLOUD_DATASTORE_COMPATIBILITY"}.  We will work on adding the rest as API now supports other database_types.

[2020-09-15 22:25] slevenick opened #7278 "IAM issues due to deleted IAM member"
### Community Note

This is a canonical bug for IAM issues related to the deleted: [IAM member syntax that is being rolled out soon](https://cloud.google.com/iam/docs/policies#handle-deleted-members). I expect to see bug reports due to this new behavior, this bug should contain information on how to handle the transition period while this is being rolled out.

Please check out the [IAM deleted pri

[2020-09-15 22:25] slevenick commented on #6736
https://github.com/hashicorp/terraform-provider-google/issues/7278 has some information on this. Closing in favor of that issue

[2020-09-15 22:25] #6736 closed

[2020-09-15 23:31] #6531 closed

[2020-09-16 04:25] edwardmedia commented on #7082
@ahipster closing this issue as not heard back from you. Feel free to reopen it once you have the answers.

[2020-09-16 04:25] #7082 closed

[2020-09-16 04:28] edwardmedia commented on #7135
@erniebilling closing the issue as assuming it is no longer an issue with you.

[2020-09-16 04:28] #7135 closed

[2020-09-16 09:34] upodroid commented on #3442
@danawillow Can we close this issue? this feature is not needed for GCE Images.

1. https://cloud.google.com/compute/docs/reference/rest/beta/images/getFromFamily and https://cloud.google.com/compute/docs/reference/rest/beta/images/get API Calls return exactly one image from Google so there is no point in filtering the response. Images are globally unique within a project.
2. The OP referred to fi

[2020-09-16 11:04] akovtun-extenda opened #7281 "Unable to add roles/iam.serviceAccountTokenCreator role to the default Pub/Sub service account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-16 12:25] gtmtech opened #7283 "Timeouts on storage bucket iam please"
Can we have configurable timeouts on storage bucket iam please. It shouldn't block on waiting 30 minutes / 1 hour or whatever it is for a simple iam policy update, but should be more responsive. Suggest 2 minutes max as a default but at the very minimum allow overriding...

[code]

Perhaps this could be extended to _all_ iam updates, but taking a look at the code it seems Timeouts are sometimes in

[2020-09-16 15:26] pst opened #7284 "Provider has indicated "requires replacement" for a non-existent attribute path"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-16 16:30] edwardmedia commented on #7281
A dup https://github.com/hashicorp/terraform-provider-google/issues/6833. Closing this

[2020-09-16 16:30] #7281 closed

[2020-09-16 16:31] danawillow commented on #3442
@upodroid, I think the request is to be able to get a list of images that specify certain conditions, so that the user _doesn't_ have to know the name of the image in order to use it. That seems totally reasonable to me. This would be using https://cloud.google.com/compute/docs/reference/rest/beta/images/list instead of get or getFromFamily. Given the 25 👍  on this issue, it seems like this is som

[2020-09-16 16:36] upodroid commented on #3442
In that case, I can implement the list method when no `name` or `family` is provided and use the filter query params to supply user filters. Like the `aws_ami` datasource, the filters provided must return a single image or an error is returned.

[2020-09-16 17:18] bwmaas opened #7285 "google_cloud_identity_group fails to create"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-16 17:45] ct-dh opened #7286 "google_cloud_scheduler_job permadiff"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-16 18:07] #7207 closed

[2020-09-16 18:29] venkykuberan commented on #7285
Looks like its a breaking change, I don't see that param in the beta-provider. We will work on it, thanks for filing the issue.

[2020-09-16 18:58] venkykuberan commented on #7286
@ct-dh can you please share the debug log, want to see what `attempt_deadline` value in HTTP response. Initially it was set to 180s.

[2020-09-16 19:02] #7249 closed

[2020-09-16 21:50] kurdybacha commented on #5528
@Arconapalus thanks for the reply.
For me real issue is that you have to make an ESPv2 image build after configuration change openapi.json as per official documentation. That means that you can't really manage ESPv2 configuration (e.g. openapi.json) and ESP Cloud Run deployment  from the same terraform file without extra hops as per examples above.
Original issue in this thread is about circular d

[2020-09-16 22:33] edwardmedia opened #7288 "Linter error on the google_compute_target_grpc_proxy website"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-16 22:33] #1572 closed

[2020-09-17 07:57] pst commented on #7284
@edward2a I linked the PR the entire code base is open-source. You should be able to see everything.

[2020-09-17 10:20] ollimandoliini opened #7292 "google_composer_environment creation times out"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-17 13:27] ollimandoliini commented on #7292
Turns out this was because Cloud Composer is not availably in `europe-west4`. Closing.

[2020-09-17 13:27] #7292 closed

[2020-09-17 14:20] megan07 commented on #7202
Hi @nyurik!  So sorry for the delay, great catch! Thank you! I'm fixing it now.

[2020-09-17 15:21] #7117 closed

[2020-09-17 15:22] joscabmar opened #7293 "Additional local SSD disks not supported (max 8)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-17 15:37] dogmatic69 opened #7295 "Problem creating revision after manual revision"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-17 15:57] thommahoney commented on #3793
Is there a common workaround to this problem?

[2020-09-17 16:15] #7288 closed

[2020-09-17 17:54] edwardmedia commented on #7293
@joscabmar this is googleapi error. Terraform has nothing to do with it. The document says a max of 24, and I think not all types support that count. Can you try using different instance type to see if that make sense?

[code]

[2020-09-17 18:00] ScottSuarez commented on #6857
Enabling support for this seems quite difficult.
Not all properties can be updated together. Some properties require RESET and some require REFRESH.

Note: properties that require REFRESH cannot be updated during RESET.

https://cloud.google.com/compute/docs/instances/update-instance-properties#updatable-properties

[2020-09-17 18:00] edwardmedia commented on #7295
@dogmatic69 can you share the terraform debug logs for both `rf apply`?

[2020-09-17 18:20] Colum opened #7298 "Unable to create secret version after creating a secret."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-17 19:45] rndlaine commented on #7264
The issue was caused by another resource that used the `google-beta` provider while only the `google` provider was declared.

[2020-09-17 19:45] #7264 closed

[2020-09-17 19:59] Sytten opened #7299 "Support custom headers on backend bucket and backend service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-17 20:18] edwardmedia commented on #7298
@Colum there is an example from below link. Does it works for you? In term of how to use `sleep`, I would suggest you can take a look at [this](https://github.com/hashicorp/terraform-provider-google/issues/6377#issuecomment-628978514)

https://www.terraform.io/docs/providers/google/r/secret_manager_secret_version.html

[2020-09-17 20:34] Colum commented on #7298
The example in there is what I based my code off of, unfortunately does not work. About the sleep, it was to rule out another possible reason why the code is failing, not for routine use.

[2020-09-18 00:22] smaslennikov opened #7302 "Empty google_bigquery_table schema crashes Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-18 08:46] samhumphreys-2sixty opened #7303 "Incorrect `Provider Configuration Not Present` Removing google_compute_global_address"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-18 08:52] joscabmar commented on #7293
You are totally right @edwardmedia. It was my mistake. N2 machines are not yet compatible with  >8 local SSD: https://cloud.google.com/compute/docs/disks#local_ssd_limits
I will give it a try with a custom N1. Thanks for your response!

[2020-09-18 10:15] joscabmar commented on #7293
Using a custom N1 worked perfectly with the 16 local SSD. Thanks again. Closing the issue.

[2020-09-18 10:15] #7293 closed

[2020-09-18 11:00] tobias-farrenkopf opened #7304 "CloudSQL - need REVOKE ALL FROM user for destroy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-18 11:01] ct-dh commented on #7286
Sorry I made a mistake in the initial example I pasted, I accidentally included the config from when I had removed the `attempt_deadline` setting to avoid the permadiff. Below is a full repro example:

[code]

The debug log for an initial apply and a re-run is attached (redacted some bits).

[first-apply.log](https://github.com/hashicorp/terraform-provider-google/files/5245088/first-apply.log)
[se

[2020-09-18 17:24] Colum commented on #7298
Seems related this https://github.com/google/exposure-notifications-server/issues/214. I've tried using the service account's json file and `gcloud auth application-default login` to authenticate, unfortunately both produce the same result.

[2020-09-18 20:55] crockpotveggies commented on #7298
@edwardmedia I can confirm I am experiencing the same problem

[2020-09-18 21:13] Chupaka commented on #7210
@venkykuberan ping?..

[2020-09-18 21:23] Blufe opened #7305 "Can't get status when running google_bigquery_job in a non-US location?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-18 22:28] edwardmedia commented on #7304
@tobias-farrenkopf have you tried to run 'REVOKE ALL FROM user' as[ #7209](https://github.com/hashicorp/terraform-provider-google/issues/7209) suggested?
I think users should do that before run Terraform destroy.
I don't think the provider is a right place where this step should be implemented to handle this situation.  But Let me update the issue label to `enhancement` so it can be triaged.

[2020-09-21 07:32] sowmiya-ragu opened #7307 "Error creating PatchDeployment: googleapi: Error 403: Cloud OS Config API has not been used in project *** before or it is disabled."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-21 10:52] MrVentzi opened #7309 "Error: log_config cannot be defined when enable_logging is false"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-21 11:14] jsosic commented on #2794
:+1:

[2020-09-21 13:48] natzert opened #7310 "Integrate pricing calculator"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-21 13:51] ct-dh commented on #7278
We see the scenario deleted members remaining in policies fairly often in our dev/testing environments because we have multiple teams working the have shared ownership of certain resources between different deployment configuration.

In case it is useful for anyone else, in some cases we use the below to clean up stale bindings in pipelines if they are expected to occur, prior to running terraform

[2020-09-21 13:53] sergeunity commented on #6910
It is the 1.

There is not particular scenario. It is when you create a node pool with gvisor and labels but you can reproduce it like that:

1. write a node pool resource with gvisor  and labels
1. tf apply
1. tf plan <- here TF want to recreate it because the label gvisor was added by GKE

[2020-09-21 14:19] n-oden opened #7311 "cannot edit a google_compute_regional_network_endpoint_group in use by a google_compute_backend_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-21 14:41] #7273 closed

[2020-09-21 14:46] c2thorn opened #7312 "Healthcare v1beta1 API Updates"
Healthcare v1beta1 API is updating during 9/22-9/28 with the following list of changes: https://cloud.google.com/healthcare/docs/how-tos/v1beta1-updates

We should investigate whether there is anything within the provider that needs updating as well.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-an

[2020-09-21 15:28] edwardmedia commented on #7298
@Colum I can't repo it. The example works fine with me. Can you post the full debug log?

[2020-09-21 15:31] upodroid commented on #7307
Hi

Your error happens because you are not referencing the project from the correct resource.

`google_os_config_patch_deployment` is currently dependent on `google_project.project.` instead of `google_project_service.project`. What that means is that the patch deployment will be created immediately after the project is created instead of after the api service is enabled.

Since you are using fore

[2020-09-21 15:58] edwardmedia commented on #7303
I can repro this issue. It appears me an Terraform issue. What do you think @c2thorn?

[2020-09-21 16:03] edwardmedia commented on #7305
@Blufe can you post the full debug log?

[2020-09-21 16:37] edwardmedia commented on #7309
@MrVentzi I can repro the `issue`. But both `log_config` and `enable_logging` basically point to the same thing. It is fine with me when I added `log_config` and set `enable_logging` to true. If you leave `enable_logging` false, that conflicts the config with addition of `log_config`. Does this make sense to you?

[2020-09-21 16:40] Colum commented on #7298
I've adjusted the service account to have role `Secret Manager Admin` and it works now. What threw me off was that previously when creating the secret version, I was getting a 403 but the secret version was being created - sounds like this is an issue with GCP.

Thanks for the help.

[2020-09-21 16:40] #7298 closed

[2020-09-21 16:49] mark-00 commented on #7220
We have the same problem with the following resource that has to be recreated after the source ranges change

[code]

Terraform v0.12.17
+ provider.google v3.36.0

in  the trace during refresh of the state the api retruns
[code]

During apply the following is sent to the api
[code]

Although this works on the initial switch from enable:true to enable:false this fails on subsequent api calls with t

[2020-09-21 16:52] mark-00 commented on #7220
can this ticket be reopend ?

[2020-09-21 16:56] iangelov commented on #7309
I can confirm the issue as well (just saw it in our environment). Using the deprecated field to have the new field work doesn't make sense.

[2020-09-21 17:07] n-oden opened #7314 "cannot update routing information in google_bigtable_app_profile"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-21 17:32] edwardmedia commented on #7309
@iangelov To workaround the issue, when you add `log_config`, you can set the `enable_logging` to true at the same time.

[2020-09-21 17:45] ndmckinley commented on #7270
To Riley to investigate, size and milestone.

[2020-09-21 18:01] edwardmedia commented on #7267
@ajishikea is this still an question to you?

[2020-09-21 18:04] rileykarson commented on #7270
Hmm- the `google_access_context_manager_service_perimeter_resource` resource edits the status directly, and not the spec. I'm curious what happens if we edit the spec when `use_explicit_dry_run_spec` is set to false (/ unset) on the parent and whether we'd be able to safely change the modified field. @danawillow do you happen to remember if you considered the spec as part of https://github.com/Goo

[2020-09-21 18:18] Blufe commented on #7305
@edwardmedia

I forgot to get the debug log, so I re-executed it.

- [main.tf](https://gist.githubusercontent.com/Blufe/4948b9e282fc18176ffa65f7bfb8bd47/raw/d50017d0aeb141651b5a6c1aa397bfe930d54404/main.tf)
- [stdout & stderr](https://gist.githubusercontent.com/Blufe/4948b9e282fc18176ffa65f7bfb8bd47/raw/d50017d0aeb141651b5a6c1aa397bfe930d54404/stdout-and-stderr.log)
- [trace.log](https://gist.gith

[2020-09-21 18:48] c2thorn commented on #7312
FHIR store will now require a `version` specified on create, which is not required in the provider resource. However, the field has a `Default` value, so we should still be fine.
I did not find anything else that looked like it would cause issues, so I am going to close this.

[2020-09-21 18:48] #7312 closed

[2020-09-21 20:21] #7285 closed

[2020-09-21 20:42] ACenterA-SLNet opened #7318 "Terraform error"
We used the google provider using terraform 0.13.beta2 successfully for various elements.

Now we wanted to use terraform 0.13.3 (to support multiple provider with the latest fixes)

But now we have error about data and also the following. Not sure what this error is linked to.

Using

[code]

[code]

[2020-09-21 20:42] avarmaavarma opened #7319 "Launch VM from a GCP Marketplace Image"
Is there  a way to create a compute engine resource where the image is pulled off the public marketplace? I've tried this to no avail...

**example marketplace image**
https://console.cloud.google.com/marketplace/details/f5-7626-networks-public/f5-big-ip-adc-hourly-good-200mbps

**Example Compute Instance Spin up TF**

[code]

Basically, regardless of how I try it, TF is UNABLE To find the image.

[2020-09-21 21:08] slevenick commented on #6832
Available via https://github.com/GoogleCloudPlatform/magic-modules/pull/3995

@megan07 Do we have plans on where this will be documented?

[2020-09-21 21:08] #6832 closed

[2020-09-21 21:22] venkykuberan commented on #7311
Looks like global back end service is still using your resource. Please try using `google_compute_region_backend_service` instead of global back_end service.

[2020-09-21 21:37] #7318 closed

[2020-09-21 21:37] ACenterA-SLNet commented on #7318
Wrong, 32 bit binary? :/

[2020-09-21 22:04] danawillow commented on #7270
Spec wasn't added to the service_perimeter resource until after the service_perimeter_resource resource was added, so it wasn't on my radar (https://github.com/GoogleCloudPlatform/magic-modules/pull/3353 vs https://github.com/GoogleCloudPlatform/magic-modules/pull/3052)

[2020-09-21 22:07] rileykarson commented on #7270
Whoops, I was very convinced in my head that those happened in the opposite order and didn't check. Thanks!

Leaving this open for the next triage meeting, but I vote `size/M` since we need to evaluate whether we can transparently upgrade the resource or whether we need to add a boolean.

[2020-09-21 23:11] venkykuberan commented on #7314
@n-oden terraform/provider isn't deducting the change in `single_cluster_routing` block thus not including it in update masks list.. We will work on fixing it. However submitting your rerouting request gets you the following error

`
Error: Error updating AppProfile "projects/xxx/instances/profile-test/appProfiles/test-profile": googleapi: Error 400: Rerouting this app profile to test-cluster-us-c

[2020-09-22 06:27] sowmiya-ragu commented on #7307
I have also tried setting up depends_on in google_os_config_patch_deployment.
`depends_on = [google_project_service.project]`
Setting `project = google_project_service.project["osconfig.googleapis.com"].project` in google_project_service throws the below error `Error: Cycle: module.test-project-module.google_project_service.project["osconfig.googleapis.com"], module.test-project-module.google_proj

[2020-09-22 06:54] ajishikea commented on #7267
Hi Thanks. I understand in Alert policy we cant able to pass the file using terraform.

[2020-09-22 08:32] mark-00 opened #7322 "modify firewall rule error Invalid value for field 'resource.logConfig'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-22 08:35] MrVentzi commented on #7309
@edwardmedia Yes I did see that if I have both the `log_config` and `enable_logging` it works, but then that defeats the purpose of deprecation. If `enable_logging` is deprecated, surely `log_config` should be enough, otherwise there is no value of changing the current config.

[2020-09-22 08:59] przsab opened #7323 "Stateful MIG beta timeline"
With Stateful MIG in GA, can we expect this will get out of google-beta provider anytime soon?

[2020-09-22 10:29] carlpett opened #7324 "Artifact registry import broken"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-22 10:35] marengaz opened #7325 "default labels on provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-22 10:40] carlpett commented on #7324
It might also be noteworthy that the import specs in the docs say that some formats work which actually give errors:
[code]

Format 2 and 3 works (apart from the bug in the above post), but
Format 1 duplicates projects/, maps project to location, and seems to drop the location and repository:
[code]

Format 4 doesn't populate location or repository:
[code]

I'm not sure if those would also have be

[2020-09-22 12:09] n-oden commented on #7314
Hi @venkykuberan and thanks for the quick review!  Yes, sorry, I should have added `ignore_warnings = true` to the example HCL.  (Our internal use case here is for handling regional outages / disaster recovery, so at the time this executes there should be no transactions in-flight.)

[2020-09-22 12:33] n-oden commented on #7311
Ah, fair point, but this leads me into what appears to be another lacuna:

[code]

...fails to apply with this error:

[code]

...but if I leave out the `health_checks` attribute from the `google_compute_region_backend_service`, the apply fails because it claims the attribute is required:

[code]

[2020-09-22 12:46] gaspar-chilingarov opened #7326 "Fix documentation for `release_channel` in `google_container-cluster`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-22 12:54] imrannayer opened #7327 "google_access_context_manager_service_perimeter_resource failed to remove projects from perimeter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-22 13:32] dvalemark opened #7328 "Having labels in google_cloud_run_domain_mapping forces deletion and recreation of the resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-22 13:35] pantelis-karamolegkos opened #7329 "gce_persistent_disk_csi_driver_config not recognised as a valid key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-22 14:31] edwardmedia commented on #7322
dup https://github.com/hashicorp/terraform-provider-google/issues/7309. closing

[2020-09-22 14:31] #7322 closed

[2020-09-22 14:34] edwardmedia commented on #7329
@pantelis-karamolegkos **gce_persistent_disk_csi_driver_config** is beta. Did you add `provider = google-beta` inside the resource?

[2020-09-22 14:34] mcfedr opened #7330 "google_sql_source_representation_instance is missing quite a few fields"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-22 15:09] pantelis-karamolegkos commented on #7329
So I should format it as in:

[code]

?

[2020-09-22 15:20] edwardmedia commented on #7329
@pantelis-karamolegkos add it at the root like below. [Here](https://www.terraform.io/docs/providers/google/guides/provider_reference.html) is the official document you may want to review

[code]

[2020-09-22 15:27] pantelis-karamolegkos commented on #7329
First of all I noticed I was using the wrong way the add on enablement. So now my code is:

[code]

Yes, my provider is `beta`

[code]

Now I get:

[code]

[2020-09-22 15:52] mark-00 commented on #7322
I don think this is a dup if #7309

I have an other error message and I specify neither log_config or enable_logging

[2020-09-22 15:54] mark-00 commented on #7309
I don think this is a dup of #7322

I have an other error message and I specify neither log_config or enable_logging

[2020-09-22 15:54] edwardmedia commented on #7319
@avarmaavarma  Can you see if you can [create an image](https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images) first, and then use the **data source** like below code?

[code]

[2020-09-22 16:05] edwardmedia commented on #7307
@sowmiya-ragu what did you see after adding `depends_on = [google_project_service.project]`? Can you share your full code & debug log if the issue is not resolved?

[2020-09-22 16:08] edwardmedia commented on #7329
@pantelis-karamolegkos can you share the debug log?

[2020-09-22 17:10] edwardmedia commented on #7305
It appears the GET request missing the [*location*](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/get) parameter

[code]

[2020-09-22 19:44] imrannayer commented on #7327
https://gist.github.com/imrannayer/2b980fd6d0198c60bebcab7672291b1c

[2020-09-22 21:06] avarmaavarma commented on #7319
Thanks - yes - able to do the above (with debian), but not with the marketplace image. However, I believe there is a way to use the marketplace images using a public URI to access them. It's not ideal, but it avoids the issue of the image not being correctly found using the data source technique above.

[2020-09-22 21:48] ndmckinley commented on #7271
I believe that this is not related to the name canonicalization.  Name canonicalization is working fine in our nightly integration tests and is working for me at HEAD.  I believe the issue is related to

[code]

Specifically, I believe that the `store_dag_code` and `store_serialized_dags` keys both need the `core-` prefix, according to the docs here:
https://airflow.apache.org/docs/stable/configur

[2020-09-22 21:48] #7271 closed

[2020-09-23 00:06] upodroid opened #7332 "Proposal: Remove credentials and access_token fields from the terraform provider."
### Affected Resource(s)

* google_*

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help priori

[2020-09-23 00:14] upodroid opened #7333 "Rework google_service_account_id_token to accept Impersonated and User Credentials"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-23 00:38] ndmckinley commented on #7286
Ah, I have found the issue!  Unfortunately, `attemptDeadline` is not supported for pubsub targets.  I will update the documentation.

[2020-09-23 00:38] #7286 closed

[2020-09-23 05:11] sowmiya-ragu commented on #7307
@edwardmedia Please find the code and log:
`resource "random_id" "id" {
  byte_length = 4
  prefix      = "${var.project_name}-"
}

locals {
  mandatory_Labels = {
    is_terraform      = "true"
    environment       = var.environment
    created_by        = var.created_by
    product_owner     = var.product_owner
    business_unit     = var.business_unit
    team              = var.team
    techn

[2020-09-23 07:40] aman-w-kumar opened #7334 "Google IAP client ID doesn't appear while creating"
Hi,
I'm facing a strange issue while creating IAP client through terraform. Terraform does show that **"resource google_iap_client.iap-xxx: Creating..."** but its value doesn't appear after creation (_checked in GCP UI and iap client was created_) that and becasuse of this terraform didn't create backend service because i use iap block in backend service resource which allow to map IAP client to b

[2020-09-23 08:41] upodroid commented on #7307
Hi

Can you format you code block correctly?

Also that is not the debug logs we need.

Run the following command `TF_LOG=debug terraform apply --auto-approve > debug.log` . Copy the contents of that log into a gist and paste the link to it here. Just run a plan beforehand as it won't prompt you to approve the apply.

Have a look at the gist in this issue https://github.com/hashicorp/terraform-pro

[2020-09-23 10:06] aman-w-kumar commented on #7334
Here are logs (test GCP project will no longer exist after this test)

google_iap_client.oauth-3: Creation complete after 1s [id=projects/55629310208/brands/55629310208/identityAwareProxyClients/55629310208-c5kb097motjefue8b082ch4u6hbf4s3c.apps.googleusercontent.com]
google_iap_client.oauth-6: Creation complete after 1s [id=projects/55629310208/brands/55629310208/identityAwareProxyClients/55629310

[2020-09-23 10:39] carlpett opened #7336 "Perma-diff container_node_pool if image_type non-canonical casing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-23 11:14] freddd opened #7337 "Add cluster upgrade notifications (gke)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-23 12:36] aman-w-kumar commented on #7334
Terraform v0.13.3
+ provider registry.terraform.io/hashicorp/google v3.40.0

[2020-09-23 13:43] nyc3-mikekot commented on #7148
Hi @rileykarson; bumping this for visibility.

I originally reported this issue in the Slack channel; I've finally gotten around to trying to update our configuration for this old instance template that was provisioned in 2.20.0 for provider version 3.40.0.

To start off, I added "disk_size_gb = 375" to the appropriate .tf file which has the resource definition for `google_compute_instance_templat

[2020-09-23 14:31] ops18 opened #7339 "google_compute_instance_group instances count not updated when apply the terraform resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-23 14:44] n-oden commented on #7311
I guess the actual issue here is that `google_compute_region_backend_service` should be ommitting the `health_checks` attribute when the backend is a serverless NEG.  Should I open a different ticket on that, and/or do you need debug output from the runs that generated this error?

This seems conceptually similar to https://github.com/hashicorp/terraform-provider-google/issues/6876

[2020-09-23 15:20] edwardmedia commented on #7319
@avarmaavarma you may also want to review [images](https://cloud.google.com/compute/docs/images#os-compute-support). Once you can see it using below command, you can reference it in Terraform code. As how to create an image is beyond the provider area, I am closing this question. Feel free to reopen if you see a need to continue the conversation. Thanks
[code]

[2020-09-23 15:20] #7319 closed

[2020-09-23 15:23] #7148 closed

[2020-09-23 15:34] edwardmedia commented on #7339
@ops18 did you expect below change? If yes, what new value should it be?

[code]

[2020-09-23 15:39] edwardmedia commented on #7334
@aman-w-kumar can you post your Terraform config code?

[2020-09-23 15:43] c2thorn commented on #7147
`binary_log_enabled` is the correct field for enabling Point-in-time recovery for MySql. We can check user's configs during `plan` and point them to `binary_log_enabled` in the error message.

[2020-09-23 16:27] edwardmedia commented on #7327
@imrannayer I can't repro the issue with the [example](https://www.terraform.io/docs/providers/google/r/access_context_manager_service_perimeter_resource.html).

I noticed that you have below line in `google_access_context_manager_service_perimeter`. Is it *projects/31629304376*? What do you try to do here when you try to remove it from the *perimeter"*?
[code]

[2020-09-23 16:27] rileykarson commented on #7148
Hey @nyc3-mikekot! Would you mind filing an issue specifically for the problems you're encountering with the upgrade, filling out the bug template? This issue was intended to track a missing test case- which has now been added.

From my look at this problem before, I would have expected editing the state file to work. Weird! I suspect the value in the API is "sticky" so that if the value was sent

[2020-09-23 16:37] edwardmedia commented on #7267
@ajishikea I am glad you understand. closing this question then.

[2020-09-23 16:37] #7267 closed

[2020-09-23 16:42] edwardmedia commented on #7295
@dogmatic69 is this still an issue?

[2020-09-23 16:44] edwardmedia commented on #7126
@medzin Closing this issue. Please feel free to reopen it once you have the logs. Thanks

[2020-09-23 16:44] #7126 closed

[2020-09-23 17:05] edwardmedia commented on #7014
@emmaLP is this still en issue with you?

[2020-09-23 17:09] nyc3-mikekot opened #7341 "provider 2.20.0 -> 3.40.0 google_compute_instance_template scratch disk validation anomalies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-23 17:09] nyc3-mikekot commented on #7148
Sorry about that! #7341

[2020-09-23 17:13] rileykarson commented on #7332
Just a couple minor comments/thoughts from me right now. Nothing necessarily actionable- as Dana noted in https://github.com/GoogleCloudPlatform/magic-modules/pull/3999 it's likely we make a decision when we're closer to `4.0.0`- just writing down some thoughts before I forget them.

* Application Default Credentials only allow a single authentication method while `credentials` and `access_token`

[2020-09-23 17:15] imrannayer commented on #7327
@edwardmedia I posted the code above to reproduce the issue. Example is very simple scanrio and it works fine. Spec section has nothing to do with this issue. It is status section which is facing issue.
First code to create perimeter and second code is how I am removing the projects from perimeter. Just provide policy and project value in variables. Execute two codes an you will see resources stay

[2020-09-23 17:21] edwardmedia commented on #7284
@pst I see below PR which is in the review process. I am not super clear why you create this issue. If both try to address the same issue, should we use the PR for issue tracking? Let me close this issue. Please reopen it if there is a different issue we need to address. Thanks

https://github.com/kbst/terraform-kubestack/pull/132

[2020-09-23 17:21] #7284 closed

[2020-09-23 17:26] edwardmedia commented on #7309
https://github.com/hashicorp/terraform-provider-google/issues/6260

[2020-09-23 17:51] c2thorn opened #7342 "Support new Cloud Logging API v2 features"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-23 17:57] #7326 closed

[2020-09-23 18:04] edwardmedia commented on #7327
@imrannayer after removing the `google_access_context_manager_service_perimeter_resource` and setting the `status.restricted_services = []`, I see the changes happen that match the new config. Can you post the debug log for the 2nd run (the one you posted appears doing different things)?

[2020-09-23 18:09] imrannayer commented on #7327
Gist already have debug logs for both codes. Here is direct link to those debug logs. Code 2 is where I set `status.restricted_services = []` and removed `google_access_context_manager_service_perimeter_resource`

Code1: https://gist.github.com/imrannayer/2b980fd6d0198c60bebcab7672291b1c#file-tf_create_resource-log
Code2: https://gist.github.com/imrannayer/2b980fd6d0198c60bebcab7672291b1c#file-tf_

[2020-09-23 18:37] danawillow commented on #6857
By RESET you mean RESTART, right? My impression from reading that page is that you specify the most disruptive allowed action, and then the API itself decides what to do, which would mean that if you said RESTART was allowed and you passed in a mix of REFRESH and RESTART properties, that it would restart the instance and update all of them.

[2020-09-23 19:01] edwardmedia commented on #7327
@imrannayer Sorry I have missed the `delete` one. From that log, I see two calls that seem correct

[code]

[code]
[code]

[2020-09-23 19:10] salrashid123 commented on #7332
yeah, i'm not quite sure about removing the parameters for the samereasons above (i.,e you can specify mutliple credentials at runtime).

I'm not aware of a single preferred type in the ADC hierarchy but any most situations we don't encourage handling and distributing raw secrets, if possible (you have to in a number of cases...).  The ambient credentials (eg metadata) is better than having access

[2020-09-23 19:18] edwardmedia commented on #7327
@imrannayer sorry I have missed the `delete` log. But from it, I see both requests which seem correct. They are almost identical as mine. How do you check the resources are failed to remove? From TF state or/and GCP console?

[code]
[code]

[2020-09-23 19:46] ScottSuarez commented on #6857
I think your interpretation is the correct one after re-reading the documentation.

[2020-09-23 20:21] edwardmedia commented on #7341
@nyc3-mikekot I am not sure there is a way in Terraform side that can help you.  Below are the nodes of *disk* in the responses from api. The first one is the old node when you creates the instance without specifying the size, while the later was created with v3.40.0. Clearly the Cloud does not have the attribute of *diskSizeGb* (but it shows "375" on the GCP Console), therefore there is always a

[2020-09-23 20:26] #7151 closed

[2020-09-23 20:28] #6351 closed

[2020-09-23 20:53] nyc3-mikekot commented on #7341
@edwardmedia So would something on the API end have to be changed to remediate this, and nothing can be done on the provider level?

On the terraform end, wouldn't it just be possible to relax the validation slightly for when disk_size_gb is 0 and default to 375 somehow? Scratch disks can ONLY be 375 GB anyway, so it seems superfluous to offer the option of passing in a value for `disk_size_gb` if

[2020-09-23 21:00] edwardmedia commented on #7341
@nyc3-mikekot ideally it would be a change in API end. But we can plan on `write 375gb in the provider if the API doesn't return a value` to take care of this issue.

[2020-09-23 21:55] upodroid commented on #7332
1. The ADC allows you to use 1 credentials, but you can instantiate multiple providers that are impersonating different accounts if you have a niche requirements of having multiple identities running the same terraform code.
2. The approach of pulling access_tokens from Vault isn't a great idea. Usually, the person running terraform for GCP will have a Google account that they use to interact with

[2020-09-23 23:22] imrannayer commented on #7327
Both gcp console and and tfstate are showing that resource(projects) are still in perimeter in enforced mode.

[2020-09-24 00:19] Justin-W opened #7348 "Data sources with non-deterministic IDs show perpetual diff with Terraform 0.13"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-09-24 05:13] ops18 commented on #7339
Here the new value is when the same instance when created again

[2020-09-24 06:22] emmaLP commented on #7014
@danawillow When trying with a random provider to append to the end of the disk name, on the second run I hit the same issue because the random provider only generates the string once.

 I've actually implemented a work around where if a snapshot of the disk exists then the name of the disk name gets appended with the snapshot id so each disk name is always unique. It's not really ideal because th

[2020-09-24 06:23] emmaLP commented on #7014
Ideally this issue should be fixed in the provider, can you give me an ETA of when this likely to be worked on?

[2020-09-24 06:38] kustodian commented on #6351
Why have you closed this? Is it now fixed?

[2020-09-24 06:51] aman-w-kumar commented on #7334
Here is Terraform config code. (sometime it works but most of time, i see error)
provider "google" {
version = "~> 3.40"
}

data "google_project" "project" {
project_id = "project_id"
}

resource "google_iap_client" "oauth-1" {
  display_name = "IAP-1"
  brand        =  "projects/805xxxxxxxxxx/brands/805xxxxxxxxxx"
}
resource "google_iap_client" "oauth-2" {
  display_name = "IAP-2"
  brand

[2020-09-24 06:52] aman-w-kumar commented on #7334
I tested here with only creation of IAP clients and found that it is having some bug in creation.

[2020-09-24 07:22] aman-w-kumar commented on #7334
Another example (when Terraform is failed while creating IAP-6 but in fact it is created and seen in GCP UI and doesn't show up in "terraform state"
![image](https://user-images.githubusercontent.com/45878098/94113472-3693a400-fe47-11ea-86f0-cc87cbd05cc3.png)

![image](https://user-images.githubusercontent.com/45878098/94113583-6773d900-fe47-11ea-8e3f-2ad98ad68245.png)

[2020-09-24 08:31] aman-w-kumar commented on #7334
Trace logs of one of IAP-5 client creation.
########################################################
google_iap_client.oauth-5: Creating...
2020/09/24 07:54:52 [TRACE] eval: *terraform.EvalCheckPlannedChange
2020/09/24 07:54:52 [TRACE] EvalCheckPlannedChange: Verifying that actual change (action Create) matches planned change (action Create)
2020/09/24 07:54:52 [TRACE] eval: *terraform.EvalGetProv

[2020-09-24 09:45] sowmiya-ragu commented on #7307
The issue is resolved with the following code. I dont see much difference in the code which I had previously posted here and now.
`resource "random_id" "id" {
  byte_length = 4
  prefix      = "${var.project_name}-"
}

locals {
  mandatory_Labels = {
    is_terraform      = "true"
    created_by        = var.created_by
    environment       = var.environment
    product              = var.product

[2020-09-24 09:49] #7307 closed

[2020-09-24 12:01] pst commented on #7284
@edwardmedia sorry I pinged the wrong user the first time.

Not sure why you closed this. The Terraform output suggests this is a bug in the provider. The bug surfaces as part of the linked PR, yes. But the PR is not about fixing the bug.

I linked the PR, because it shows the Terraform configuration that causes this presumed provider bug. I opened this issue, because I think the bug needs to be f

[2020-09-24 13:40] edwardmedia commented on #7348
I see the difference in id

[2020-09-24 14:09] oscarwest commented on #7348
We also see ID difference, e.g.

`
 <= data "aws_acm_certificate" "wildcard"  {
        arn         = "arn:aws:acm:us-east-1:...:certificate/...-...-..-...-..."
        domain      = "staging.some.domain"
      ~ id          = "2020-09-24 13:57:35.730091589 +0000 UTC" -> "2020-09-24 13:59:40.610712375 +0000 UTC"
        most_recent = false
        statuses    = [
            "ISSUED",
        ]

[2020-09-24 15:11] bflad commented on #7348
Drive-by comment: This problem can have a few causes -- while the data source difference will show the more obvious `id` attribute change, there can actually be other data source schema issues which are at play as well including:

* Ensuring that data source attributes that are optionally configurable, but always call `d.Set()`, should set `Computed: true`. Terraform can determine this as a differ

[2020-09-24 15:14] nyc3-mikekot commented on #7341
I think either or would be good enough (at least in terms of a resolution). Is the only other workaround at this point to simply recreate the resource altogether using the latest provider?

Additionally, Sorry if this might seem pressing, but is there any way to ETA when the fix could be live?