[2019-11-12 22:28] rileykarson commented on #4773
While [private clusters have both a public and private endpoint](https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#endpoints), public clusters have a sole public endpoint. Clusters gain a private endpoint when their nodes are private- when `enable_private_nodes` is set to `true`. Since `master_ipv4_cidr_block` controls the ip range of the private master endpoint, it can't be

[2019-11-12 22:39] rileykarson opened #4882 "Simplify `private_cluster_config` in `google_container_cluster`"
The `private_cluster_config` block has a related DSF and `CustomizeDiff` that make working with it complicated. Particularly, it has a multi-field DSF that ends up suppressing certain invalid configurations.

Today, users can specify the following:

[code]

This should fail- `master_ipv4_cidr_block` can only be set for clusters where `enable_private_nodes = true`- but the DSF removes the block ent

[2019-11-12 22:39] rileykarson commented on #4882
Related: https://github.com/terraform-providers/terraform-provider-google/issues/4773

[2019-11-12 22:53] paddycarver commented on #4324
There's a blog post on this: https://www.hashicorp.com/blog/deprecating-terraform-0-11-support-in-terraform-providers/

I have one last release process change to make, and this should be done.

[2019-11-12 23:07] slancio commented on #4773
Ahh, that makes things much more clear.  Thank you for the clarification -- I'll update my terraform code accordingly.

[2019-11-13 00:06] hixus commented on #4832
Have the same issue. Running with TF_LOG=true it seems that terraform drops minNumReplicas from POST request if it's set to zero. Therefore autoscaler selects some minimum other than zero. Below post request body terraform made.

[code]

[2019-11-13 00:13] hixus commented on #4832
Ok, this seems to be fixed but when does the fix come out?

[2019-11-13 01:01] danawillow commented on #4832
v2.20 (probably tomorrow)

[2019-11-13 01:25] dfang commented on #4871
currently a hack like this works for me

[code]

[2019-11-13 01:44] chrisst commented on #4123
@paddycarver I think the issue here is that Postgres instances require a password and will fail without one but MySql instances don't. Since we support both types of databases through the same user resource we have to be at the lowest common level of validation so I don't think we can restrict this right now.

There are some outstanding problems with the user API and what MYSQL accepts, such as bl

[2019-11-13 04:47] paddycarver commented on #4123
OK. I'm willing to not leave this optional and document it for 3.0.0, and if it turns out to be required, we'll hit it in 4.0.0 or decide if it's a breaking change to fix something that doesn't work at all.

[2019-11-13 06:09] chrissng commented on #4841
@Stono the `google_container_node_pool` underlying GKE Beta API specifies only two settings: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/UpgradeSettings

PR addressing this issue is here: https://github.com/GoogleCloudPlatform/magic-modules/pull/2669

[2019-11-13 10:54] ocervell commented on #4097
@rileykarson can we please add the docs ? Lots of customers are wondering why this is not documented so far.

[2019-11-13 12:36] maxcct opened #4885 "Declare Cloud SQL instance for google_cloud_run_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-13 14:11] zagr0 commented on #4272
@danawillow , yes Im using aws s3 backend for state

[2019-11-13 14:46] JordanP commented on #4828
I can confirm this. KMS resources are created in the `service account` project (the one set in `credentials =  file("service-account.json")` ) and not in the `provider project` (the one set in `project = ...`).

This makes using a single service account for multiple terraform-managed GCP projects impossible.

[2019-11-13 14:51] vmarchaud commented on #4604
@ndmckinley Do you have any news on that ?

[2019-11-13 15:02] ahamed-atypon commented on #4272
Yes GCP backend

[2019-11-13 15:54] #4773 closed

[2019-11-13 16:20] hashibot[bot] opened #4886 "Terraform crash with panic: runtime error: index out of range"
_This issue was originally opened by @albertomardomingo as hashicorp/terraform#23356. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi!

I'm getting a crash while running terraform with a datasource from the Google provider. I'm not sure wether this is a terrafo

[2019-11-13 16:39] SkYNewZ commented on #4828
Project A has a service account to create KMS resources on project B.
To do that we need `X-Goog-User-Project` header on each KMS resource requests otherwise project A will require KMS API enabled.

I found that `X-Goog-User-Project` has been implemented during https://github.com/GoogleCloudPlatform/magic-modules/pull/2145 and require `config.UserProjectOverride && project != ""`

But currently in

[2019-11-13 17:40] rileykarson commented on #4886
We expect the full value (prefixed with `https://`) in that field. I'll make it stop crashing, at least.

[2019-11-13 18:12] rileykarson commented on #4633
Done in `2.19.0` with https://github.com/GoogleCloudPlatform/magic-modules/pull/2523

[2019-11-13 18:12] #4633 closed

[2019-11-13 18:22] #4617 closed

[2019-11-13 18:45] rileykarson commented on #4876
Are you able to make a smaller config that reproduces the problem? Particularly one that doesn't feed nearly every field in as a variable. As-is, reproducing this  will take me a while to feed in values and I'll probably end up in a significantly different state.

[2019-11-13 18:51] tysen commented on #4604
The last PR for TD support is here: https://github.com/GoogleCloudPlatform/magic-modules/pull/2603

[2019-11-13 18:52] rileykarson commented on #4881
Right, so this case is a little unfortunate. Due to the specific attributes we used in the resource schema to represent the resource, Terraform loses track of `log_config` when it's unset (specifically, it considers it a computed value).

We'd tested disablement, but did it by using the old field. In `2.19.0`/`2.20.0`, you can disable flow logging by setting `enable_flow_logs = false` as an interm

[2019-11-13 18:53] #4881 closed

[2019-11-13 19:21] rileykarson commented on #4855
We've all reviewed the docs- closing out.

[2019-11-13 19:21] #4855 closed

[2019-11-13 20:35] umairidris commented on #4698
I can take a stab at implementing this.

[2019-11-13 20:40] tonglil commented on #4068
The api was released: https://cloud.google.com/billing/docs/how-to/budget-api-overview

[2019-11-13 21:06] albertomardomingo commented on #4886
And error instead of a panick would be great, thank you! :-)

[2019-11-13 21:12] rileykarson commented on #4843
- third_party/terraform/resources/resource_compute_instance.go
- third_party/terraform/resources/resource_container_cluster.go.erb
- third_party/terraform/resources/resource_storage_bucket.go
- third_party/terraform/resources/resource_google_project.go

[2019-11-13 21:38] chrisst commented on #3784
Assigning this to 4.0 so that if there still isn't any update from the API team we can make a breaking change to avoid this for future users. It will likely require manual resolution of problematic resources if we address this in the provider.

[2019-11-13 21:47] romankor commented on #1572
+1 much needed feature

[2019-11-13 23:02] rileykarson commented on #4097
I can get to it next week, probably landing for `3.1.0` on ~12/3

[2019-11-14 00:17] #4325 closed

[2019-11-14 00:52] bharathiraja29 opened #4894 "GKE cluster always updates even if there is no change"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-14 01:18] bluemalkin opened #4895 "Feature request - support for Network Intelligence"
https://console.cloud.google.com/net-intelligence/ is now in Beta, it would be great to add support to Terraform.

[2019-11-14 01:29] danawillow commented on #4828
Cool, that makes sense. I think we can fix this without adding additional fields (either to magic modules itself or to a resource). I'll be able to look at this again next week (maybe as early as Friday of this week), or if you have a PR you'd like reviewed before then, feel free to tag me to review.

[2019-11-14 02:38] rileykarson commented on #4894
Can you reproduce this with a recent version like `2.20.0`? There've been extensive changes since `2.5.1`, and I wouldn't doubt it if this was fixed by coincidence since then.

If you're unable to upgrade, attaching debug logs would be a big help

[2019-11-14 08:41] ondrejklucka opened #4903 "Add support for enabling/disabling google_service_account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-14 08:54] shaulishaked commented on #3820
@emilymye can what @JlUgia wrote help you? Can you work with that?

I'll try to reproduce again and send you the logs once this happens on my setup again.

Thanks,

[2019-11-14 14:21] lchastel commented on #4876
Here is a extract of my code (I have a lot of modules and extract was not so easy).
It's a fully working code.
It's creates the GCP project, the VPC, the Cloud SQL.

Please follow instruction in README.md to test.

After trying to reproduce the issue in this sample, I think the issue is due to manual operation on autorized networks from console (which could always happen)

[bug-auth-net.tar.gz](ht

[2019-11-14 16:22] bdubertret opened #4908 "Resource google_cloud_run_service doesn't allow using attribute status.url"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-14 16:58] janmasarik commented on #2909
So _next_ release (2.21.0) @danawillow? :-)

We're also waiting for this and it would be amazing to have it there

[2019-11-14 17:03] morgante opened #4910 "Unclear error when using google_sourcerepo_repository_iam_member"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-14 17:34] danawillow commented on #2909
GCS was harder than I expected (I'm doing it by migrate resources to magic modules in order to avoid a ton of copy/pasting) and we're pushing real hard towards 3.0 right now, so probably not until 3.1 unfortunately.

[2019-11-14 18:20] janmasarik commented on #2909
Thanks a lot for the prompt response, but not even https://github.com/GoogleCloudPlatform/magic-modules/pull/2633 will be released before 3.0? 😞

[2019-11-14 18:22] danawillow commented on #2909
That's in 2.20! https://github.com/terraform-providers/terraform-provider-google-beta/blob/master/CHANGELOG.md#2200-november-13-2019

[2019-11-14 18:34] janmasarik commented on #2909
Wow, I totally overlooked that! Thank you very much! :)

[2019-11-14 21:45] richard-whitney-clover opened #4914 "Add region variable support for compute_target_https_proxy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-15 02:19] umairidris commented on #4850
There is now an API for this resource, so I am looking to add it into the terraform google provider.

[2019-11-15 02:35] inductor commented on #4697
I'd like this feature too!
Especially GKE can be upgraded very unexpectedly like this https://twitter.com/mareksuscak/status/1192053133989629952

It will be great if we can control this in a better way

[2019-11-15 07:18] marrau commented on #4903
I don´t think that it will work to set this field as it is ignored in a request. But in a response it makes sense if "alpha"-state is ok.

[2019-11-15 11:02] nikhilbalekundargi opened #4915 "Cloud SQL - Error, failure waiting for deletion of postgres"
If you have a support request or question please submit them to one of these resources:

* [Terraform community resources](https://www.terraform.io/docs/extend/community/index.html)
* [HashiCorp support](https://support.hashicorp.com) (Terraform Enterprise customers)
* [Google Cloud Platform Slack](https://gcp-slack.appspot.com/)

When I destroy Postgres DB created on cloud sql getting the error -

[2019-11-15 15:20] vmarchaud opened #4916 "Region Autoscaler on stackdriver metrics w/ Region Group manager"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-15 16:11] vmarchaud commented on #4916
Note that it work correctly from the UI, i can set `agent.googleapis.com/memory/percent_used` as a metric for autoscaling.

[2019-11-15 19:07] universalvishwa opened #4918 "data.google_project.id breaks configs in 3.0.0-beta.1"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-15 19:15] rileykarson commented on #4908
Hey @bdubertret! This is actually a variant of https://github.com/terraform-providers/terraform-provider-google/issues/4091. At creation time, the API doesn't make all of the attributes available.

[2019-11-15 19:15] #4908 closed

[2019-11-15 19:17] rileykarson commented on #4910
It looks like the `member` field is malformed. See the formats in https://www.terraform.io/docs/providers/google/r/sourcerepo_repository_iam.html#member-members.

[2019-11-15 19:17] #4910 closed

[2019-11-15 19:19] morgante commented on #4910
Oops, can't believe I missed that. Sorry for the issue!

[2019-11-15 19:27] paddycarver commented on #4918
hey @universalvishwa, sorry for the issues here. The bug you noticed will probably still affect 0.12 users, but I notice you're on Terraform v0.11.14. 3.0.0-beta.1 went out to Terraform 0.11 users on accident today as a release mishap; it should be cleared up now. If you haven't applied yet, you should be able to remove your downloaded copy of the provider and run init again, and get 2.20.0.

Sorr

[2019-11-15 19:42] sgringwe opened #4919 "Version 2.20.0 breaking google_bigquery_table expected specifier?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-15 19:53] ndmckinley commented on #4697
It's in `2.20.0`, released yesterday.  :)

[2019-11-15 19:53] #4697 closed

[2019-11-15 19:55] sgringwe commented on #4919
Seems like https://github.com/terraform-providers/terraform-provider-google/pull/4680/files#diff-cbec323b17374a909a0b4b360c9d3a8aR480 may be the related change here.

[2019-11-15 20:14] byoshimi opened #4920 "Was there an outage this morning between 9:47-10:05 PST 2019-11-15?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-15 20:19] universalvishwa commented on #4918
@paddycarver ,

When I run re-init it still shows like this,
[code]

[2019-11-15 20:26] paddycarver commented on #4918
That's correct. Can I ask what OS and architecture you're using?

[2019-11-15 20:52] universalvishwa commented on #4918
My local dev is done on Mac OS X, Our actual build on CentOS linux.

[2019-11-15 20:55] rileykarson commented on #4919
Can you confirm your provider version is `2.20.0` and not `3.0.0-beta.1`?

[2019-11-15 20:58] paddycarver commented on #4918
And both are giving you 3.0.0-beta.1 with Terraform 0.11? Are they amd64 machines?

[2019-11-15 20:59] tysen commented on #4715
Does a service perimeter with no restricted services do anything? What's the use case?

[2019-11-15 21:27] paddycarver commented on #4920
Hey @byoshimi,

Yes, I can confirm there was a brief period where users attempting to download the terraform-provider-google version 3.0.0-beta.1 binary this morning would have received a 403 error code. That would mean users of Terraform 0.11 without a major version pinned as their provider version, and users of Terraform 0.12 without any provider version constraints set at all.

The 3.0.0-beta.1

[2019-11-15 21:48] byoshimi commented on #4920
Cool. Thanks for the update!

Sent from my iPhone

[2019-11-15 21:52] paddycarver commented on #4920
I'm going to close this issue, as there's no further action it requires, but if people are still getting version 3.0.0-beta.1 of the provider and believe they should not be, please open an issue and let us know so we can look into it. When you do, please include your operating system (e.g., linux, macos, etc.) and your processor architecture (amd64, i386, arm, etc.) to aid our debugging. Sorry for

[2019-11-15 21:52] #4920 closed

[2019-11-15 21:53] arsiesys opened #4921 "update_policy do not allow "NONE" anymore"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-15 22:17] paddycarver commented on #4918
We've just discovered a caching issue, where the cache wasn't updated like we thought it was, which was leading some users to get the uncorrected binary. Please let me know if you continue to have problems after this point.

[2019-11-15 22:47] chrisst commented on #4843
@yukinying FYI I'm not able to reflect any of the changes from `resource_container_cluster` to the validator version as the two files have diverged so far it's difficult to determine what changes need to be added. Until we can get those resources partially automated or refactored to reduce the delta between the two they will continue to drift.

[2019-11-15 22:56] samcgardner commented on #4859
We've already worked around this and I don't want to revert that change and re-deploy to all our environments, so I can't verify that the change you're referencing fixes this issue. That said, I'm confident that it would, so unless you'd like input on verifying this fix I'm happy to close this issue and call it good.

[2019-11-15 23:03] rileykarson commented on #4859
Thanks! I'll close this out, let us know if you run into it again for whatever reason.

[2019-11-15 23:03] #4859 closed

[2019-11-15 23:51] danawillow commented on #4918
I'm going to un-waiting-response this, since the actual bug in question seems pretty clear.

The actual bugfix here is either:
1. add DSFs on all project fields and allow both forms in getProject
2. have the data source (and probably the project resource) return the old id format

My preference is option 1, but I could be convinced otherwise. @rileykarson, feel free to tell me to shut up if I'm st

[2019-11-15 23:55] paddycarver commented on #4918
Oh, sorry, I hijacked the issue. My bad. I had forgotten about the actual bug we were talking about.

[2019-11-15 23:56] rileykarson commented on #4918
The impact of changing `google_project.id` is large enough that preserving the old value makes sense to me. It's a little sad that the format won't be consistent, but it's a tremendously dangerous change otherwise.

I'm low availability for a bit, so handing over the issue to you @danawillow.

[2019-11-16 00:00] danawillow commented on #4918
Handing over to @slevenick because IDs, feel free to just assign it back to me if you need an extra pair of hands though.

[2019-11-16 00:07] slevenick commented on #4918
Yeah, I'm tempted to move the id on this one back to just the `project-id` rather than `projects/project-id`.

Changing the config from `project    = "${data.google_project.project.id}"` => `project    = "${data.google_project.project.project_id}"` will fix the problem, but I would expect a large number of people to be using this, as it was used in several of the tests in the past.

[2019-11-16 00:11] triangletodd opened #4928 "google_cloudbuild_trigger requires trigger_template even for github triggers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-16 00:13] chrisst commented on #4921
@arsiesys there's a few different things in your request so I'll start with some background for the change: `update_strategy` isn't part of the API and was something that we had bolted on to the resource because that functionality wasn't available in the API yet. Since then the API has now added the ability to declaratively manage version updates 🎉 This change pushes the management of restarting/r

[2019-11-16 00:29] slevenick commented on #4918
@universalvishwa I'm concerned about the report of resources being recreated due to this. I'm unable to reproduce locally using a sample config with several resources including `google_compute_global_forwarding_rule` though.

When upgrading providers I do see the diff:
[code]

but changing from `project.id` to `project.project_id` causes a `terraform plan` to show no diff. Are you able to provide

[2019-11-16 03:24] naseemkullah commented on #4928
@ndmckinley  Seems like a regression as you know `trigger_template` and `github` are mutually exclusive as per https://cloud.google.com/cloud-build/docs/api/reference/rest/v1/projects.triggers

[2019-11-17 03:40] inductor commented on #4697
@ndmckinley Thanks. Can it be in the release note? It seems not at the point.

[2019-11-17 05:32] Sciguymjm opened #4932 "google_cloudfunctions_function - Error code 7, message: Failed to retrieve function source code"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-17 14:52] jba opened #4933 "update cloud run to v1 API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-18 13:16] dedamico commented on #4918
@slevenick this type of issue (confusion related to `project_id`) appears to happen for other resources as well.  A customer reported to us (HC support) that when using the `google_dns_managed_zone` this no longer works in 3.0.0-beta.1.

I was able to recreate by doing the following steps:

**Terraform version:** 0.12.10

1. Create a Cloud DNS zone in Cloud console (name = `daved-test-zone`)
2. ru

[2019-11-18 14:00] migibert opened #4934 "Unable to use instance_template with instance_group_manager anymore"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-18 14:01] adimania opened #4935 "missing way to create gcp internal HTTPS load balancer."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-18 14:50] bdubertret commented on #4908
@rileykarson I agree there is a problem at creation time, but even once it's created, when the `status` attribute is populated, the output also fails, as shown here (edited to replace personal informations with [XXX]) :

[code]

So even when this information is available, terraform still considers the output value unavailable :

[code]

Also, using `terraform state show` fails on this resource :

[2019-11-18 15:42] universalvishwa commented on #4918
@paddycarver, It seems like the provider downloading is fixed now. Refer the output below.
[code]
...
google_compute_region_instance_group_manager.default: Refreshing state... (ID: projects/my-project-7jewd/regions/us-east1...roupManagers/my-instance-grp)

Error: Error refreshing state: 1 error occurred:
        * module.us-east1.google_compute_region_instance_group_manager.default: 1 error occurr

[2019-11-18 15:54] ArnauFauquer opened #4936 "Unable to create External regional TCP Load balancer"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-18 16:13] migibert commented on #4936
I think this is not a good resource to create external load balancers;
As stated in the documentation:

I used to use the following resources to manage external TCP load balancers:
* google_compute_instance_group_manager
* google_compute_global_forwarding_rule
* google_compute_target_http_proxy
* google_compute_url_map

Complete example:
[code]

It may have change a little bit but I think the gene

[2019-11-18 16:37] ArnauFauquer commented on #4936
Thank you @migibert, I am sure that what you say can work for me. But the functionality of the resource should be the same as the console, right?.

[2019-11-18 16:51] migibert commented on #4936
Oh right, I just checked and I think the UI is misleading as it shows a simple way to configure the load balancer, but you can go in the "advanced menu" on which you will see the resources I mentioned.

![lb_advanced_menu](https://user-images.githubusercontent.com/488493/69072475-04960200-0a2c-11ea-8179-bf31f334fe3f.jpg)

[2019-11-18 17:07] megan07 commented on #3928
This can be closed by the PRs referenced above.

[2019-11-18 17:07] #3928 closed

[2019-11-18 17:17] bmenasha opened #4937 "Support compute.reservations.resize"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-18 17:46] slevenick commented on #4928
Assigning to @ndmckinley who made this change

[2019-11-18 17:54] slevenick commented on #4932
I believe this is an issue with the Cloud Function interacting with the code in your source repository. This error code comes up when it cannot find a valid entry point, probably because it can't find the index.js file

Can you make sure that you have a file named `index.js` in that repository, and that it has the `parse_replay` function defined?

[2019-11-18 18:13] slevenick opened #4939 "dns_managed_zone datasource fails in 3.0.0-beta1"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-18 18:22] slevenick commented on #4918
@dedamico That is a separate issue, looks like the `google_dns_managed_zone` datasource is currently broken. I filed an issue here: https://github.com/terraform-providers/terraform-provider-google/issues/4939

and a fix will be coming soon via https://github.com/GoogleCloudPlatform/magic-modules/pull/2712

@universalvishwa it looks like you are using a module to manage the instance group manager?

[2019-11-18 18:23] Sciguymjm commented on #4932
It's a Python runtime so I'm not sure how it looks for an entrypoint in cloud functions.

[2019-11-18 18:29] slevenick commented on #4932
Right, so not `index.js` but it looks like the file should be named `main.py` and the function name has to match your `entry_point`, so `parse_replay`.

[2019-11-18 18:35] danawillow opened #4941 "Add retries for data.google_organization"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-18 18:41] TheOriginalAlex commented on #4619
I'd like to pick this up if no one's already working on it.  :)

[2019-11-18 18:59] Sciguymjm commented on #4932
Yes, that exists, and I have another cloud function using the exact same repo/code and it works fine. Like I mentioned, when I deploy manually using the settings that terraform gives (by clicking edit on the broken terraform cloud function in the console, then clicking deploy), it then deploys and works perfectly.

[2019-11-18 19:01] slevenick commented on #4934
Interesting....

I was unable to reproduce in Terraform v0.12.13, but when I upgraded to 0.12.15 I see the errors about cycles as well.

I'll do some digging, but a potential fix would be to downgrade to 0.12.13 and see if that works for you

[2019-11-18 19:08] #4886 closed

[2019-11-18 19:11] #4921 closed

[2019-11-18 19:11] slevenick commented on #4934
Looks like this is caused by https://github.com/hashicorp/terraform/issues/23374

It was introduced in terraform core version 0.12.14, so downgrading to 0.12.13 should work until the fix is ready.

[2019-11-18 19:13] universalvishwa commented on #4918
@slevenick, I found the problem. When I run the init the data source for `google_project`  still returns this (`id = projects/my-project-7jewd`). The below output is was what is shown in `terraform show` command sourcing form the remote state file. I tried to do `terraform taint` on the data source and re-run init to re-initialize the data source, but it doesn't allow me taint it.
[code]

[2019-11-18 19:19] slevenick commented on #4918
The `id` field should not be used as an input to other resources. Use the `project_id` field instead, like: `project = data.google_project.project_id`

Does that solve the issue?

[2019-11-18 19:24] universalvishwa commented on #4918
I suppose it will. In addition to that, may I ask why is it recommended to do so? (Just for me my understanding)

More over, this was the original issues I had initially.

[2019-11-18 19:32] #4843 closed

[2019-11-18 19:32] slevenick commented on #4918
The issue is that the format of the `id` field changed from provider version 2.x -> 3.0.0. In 2.20 and below it was recommended to not use the `id` field as an input to other resources because the format was not documented and it was likely to change (as it has here).

We decided to move ids to be similar to the `self_link` field on many resources, so that it can be used as an input for other reso

[2019-11-18 19:53] rileykarson commented on #4908
Can you try a `terraform refresh` prior to `terraform apply`? If that errors, try `-target=google_cloud_run_service.service` for the Cloud Run resource.

`terraform state show` not working is unrelated to this- https://github.com/hashicorp/terraform/issues/22010 is the issue for that.

[2019-11-18 20:01] rileykarson commented on #4908
Also, do you mind trying this syntax instead? Unintuitively, nested objects in Terraform are treated as 1-element lists.

`google_cloud_run_service.service.status[0].url` should be the correct syntax, I believe.

[2019-11-18 20:45] slevenick commented on #4932
I was able to deploy a simple function using python via a source repository and terraform, so I'm not sure what to do here. The repository that you are using seems to be private, so I cannot access it.

I get the error code 7 when attempting to deploy based off of the repo that I do not have permission to access, could this be happening when you deploy via terraform?

Does the service account that

[2019-11-18 20:51] slevenick commented on #4918
Closing this, if there are further questions either re-open this or file a different issue

[2019-11-18 20:51] #4918 closed

[2019-11-18 21:21] japgolly commented on #4934
I've got a similar issue and tried downgrading but unfortunately that doesn't work:

[code]

[2019-11-18 21:52] anubbhavm opened #4944 "'min_instances' under 'secondary_worker_config' block of 'google_dataproc_autoscaling_policy' resource defaults to value 2"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-18 23:09] Sciguymjm commented on #4932
You may be right - I'll test this, thanks. I feel like that's something that should be documented if it's not already.

[2019-11-18 23:13] #4944 closed

[2019-11-18 23:38] slevenick commented on #4939
This will be fixed in the next release

[2019-11-18 23:38] #4939 closed

[2019-11-18 23:44] rileykarson commented on #4876
Using `0.12.15` with `3.0.0-beta.1`, I'm unable to reproduce this. I was also unable to using `0.12.9`. That doesn't discount that it's happening, but means that it's on a limited range of versions of TF Core or on a provider release series we can't update anymore (`2.X`).

However, I am seeing some odd results where a valid configuration has a diff:

[code]

I'll use this issue to track fixing th

[2019-11-19 00:49] slevenick commented on #4934
Looks like the upstream PR was merged in, so I would guess this will be fixed in the next release of terraform core.

Unfortunately there isn't a way to work around this within the provider itself

[2019-11-19 02:25] ndmckinley commented on #4928
Yeah, the confusion here is that it is required in GA, but one-or-the-other of trigger_template or github is allowed in beta.  I'll get this fixed.

[2019-11-19 08:59] migibert commented on #4934
terraform core version v0.12.16 has been released including the PR fixing the issue causing the problem. Thanks for pointing me on the correct upstream issue!

It looks better but it does not seem to completely fix the issue:

Here is the output with the same scenario (a change in the base image):

Then it works fine on the second execution (because it only remains resources to delete).
Is it stil

[2019-11-19 11:40] bdubertret commented on #4908
@rileykarson Using `google_cloud_run_service.service.status[0].url` works, but only after a `terraform refresh` which is indeed caused by the initialization bug #4091 you mentioned. Without a `refresh`, the output value is empty. Thanks for the help!

[2019-11-19 13:35] ArnauFauquer commented on #4936
Researching more I found the most accurate solution and issue, thanks you @migibert https://github.com/terraform-providers/terraform-provider-google/issues/2373#issuecomment-434802918

[2019-11-19 13:35] #4936 closed

[2019-11-19 14:12] abgm opened #4947 "data.google_project.project.id output change from <project_id> to projects/<project_id>"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-19 16:45] slancio commented on #3321
This is desperately needed for anyone working with https loadbalancers and/or GKE.

[2019-11-19 17:25] slevenick commented on #4947
Hey @abgm this is an intentional change in the format of the id for this datasource, and similar changes have been made to many resources for the 3.0.0 release.

I would recommend not depending on the `id` field prior to 3.0.0.

The fix in this case will be to change uses of `google_project.id` to `google_project.project_id` which is the value you expect, and will not cause infrastructure updates

[2019-11-19 17:25] #4947 closed

[2019-11-19 18:06] slevenick commented on #4934
This looks like a provider problem now!

What is happening is that terraform builds a graph of operations that need to occur to get to the intended state, in this case that looks something like:

create new template
               |                   \
delete old template     update instance group manager

Where we create the new template before anything else, but then updating the IGM and deletin

[2019-11-19 18:32] rileykarson commented on #4908
Great! Sorry for your experience here. It looks like we have a PR out to poll for a ready state, so this should be fixed in `3.1.0`.

[2019-11-19 20:23] c2h5oh commented on #4935
I've had the same problem until I've set
[code]
for the 2nd subnet (the one used by LB)

[2019-11-19 20:26] ndmckinley commented on #4697
Ah, I was mistaken, it's in `2.19.0`.  https://github.com/terraform-providers/terraform-provider-google/blob/master/CHANGELOG.md#2190-november-05-2019

[2019-11-19 20:28] #4928 closed

[2019-11-19 21:03] slevenick commented on #4934
Not entirely sure this is a provider issue anymore. I've filed an issue upstream about the change in behavior between 0.12.13 and 0.12.16.

[2019-11-20 00:16] andyshinn opened #4950 "google_service_networking_connection fails when referencing data.google_compute_network"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-20 00:39] danawillow commented on #4828
It sounds like there are two separate issues being discussed in this bug, and I want to make sure both of them get resolved.

Issue 1 is that certain KMS resources are being created in the project where the service account lives, instead of the one defined in the Terraform config. I can't resolve this issue until I've seen debug logs (https://www.terraform.io/docs/internals/debugging.html) for a f

[2019-11-20 01:02] abgm commented on #4947
Thanks @slevenick

[2019-11-20 04:12] korjik opened #4951 "2.20.0 breaks google_compute_region_backend_service with "backend.0.group": required field is not set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-20 09:08] migibert commented on #4934
Thanks for investigating, I will closely monitor the upstream issue!

[2019-11-20 15:00] Eraac opened #4952 "google_container_node_pool cluster not found if isn't regional"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-20 15:15] Eraac commented on #4952
fixed, attribute location should be the zone instead of the region

[2019-11-20 15:16] #4952 closed

[2019-11-20 16:03] mattayes opened #4953 "Add support for encrypting individual bucket objects with KMS keys"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-20 16:45] marko7460 opened #4954 "google_compute_router_peer keeps being destroyed and recreated when advertised_ip_ranges is changed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-20 16:55] axisofentropy commented on #4941
I'm also seeing `429` rate limit errors on other operations like creating Service Accounts.  Really any rate limit error should prompt a retry, for any GCP API request.

[2019-11-20 17:02] emmekappa commented on #1572
I have a scenario in which all my zones are fully managed by [external-dns](https://github.com/kubernetes-sigs/external-dns) so it makes perfect sense to allow the destruction of the managed zone even if it contains something.

[2019-11-20 17:41] slevenick commented on #4950
Creation of a project and reference within a data source *should* work. I've been able to use a simple config to create a data source that depends on another resource, and the data source doesn't attempt to refresh its state until the other resource is successfully created.

I notice that in your debug logs the only operations that happen are KMS calls, and then the network GET. Does the project a

[2019-11-20 18:02] chetaldrich commented on #602
@rileykarson This can be closed given the following, right?

https://www.terraform.io/docs/providers/google/r/bigtable_gc_policy.html

[2019-11-20 18:12] slevenick commented on #4951
Hey @korjik,

Are you sure that the variable that is defined for `backends` has the `group` field set? The `group` field is now marked as required, so if that field is not set it would throw an error.

In the past you could theoretically provide an empty block for the `backend` object and it would succeed (but not be actually useful). I'm able to run terraform plan with the following config:

[cod

[2019-11-20 18:23] slevenick commented on #4954
From looking at the `google_compute_router_peer` resource it looks like we don't allow for updates to the resource, so any change to the resource including `advertised_ip_ranges` causes the resource to delete itself and recreate with the new `advertised_ip_ranges`. This is not ideal, but the solution is fairly difficult.

This PR may help moving in the direction of being able to patch this resourc

[2019-11-20 18:46] xingao267 commented on #4698
Triaged with Umair, I'm currently working on this.

[2019-11-20 19:05] andyshinn commented on #4950
There is no `google_project` in state at all (not even one with empty `instances`, all my other managed resources have state with empty `instances`).

[2019-11-20 19:15] slevenick commented on #4950
If you throw an explicit `depends_on` on the data source does it change anything?

[code]

[2019-11-20 19:29] slevenick commented on #4915
Can you elaborate on the issue you are seeing, and provide the terraform config that you are running that causes the issue?

You could try increasing the waiting period that terraform waits for a successful operation:
https://www.terraform.io/docs/configuration/resources.html#operation-timeouts

[2019-11-20 19:45] rileykarson commented on #4919
@KimRomBot can you also confirm your version?

[2019-11-20 21:43] megan07 commented on #4631
Thanks @dustinblackman for opening this issue! It's been closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/2441 and was released in version 2.20.0.

[2019-11-20 21:43] #4631 closed

[2019-11-20 22:54] andyshinn commented on #4950
That appears to work, at least, the plan now completes. But shouldn't it already depend on it from `project    = google_project.analytics.project_id`?

[2019-11-20 23:30] slevenick commented on #4950
Normally it does, and I am unable to reproduce this locally.

I'd guess that terraform core is doing something clever to realize that it can tell `project_id` at plan time rather than depending on the project being created before it can interpret it.

Might be worth asking the question on terraform core: https://github.com/hashicorp/terraform
But at this point I'm going to close this as it is not

[2019-11-20 23:30] #4950 closed

[2019-11-21 00:43] andyshinn commented on #4950
This seems strange because now the `depends_on` change is forcing a re-read of `data.google_compute_network.default` which is causing replacements of things like `google_compute_global_address` and `google_service_networking_connection` which worries me that I'm about to kill an existing private SQL IP address.

Are you looking for a more reliable way to troubleshoot? I'm not sure how to reproduce

[2019-11-21 00:53] slevenick commented on #4950
I would expect a re-read of the datasource is necessary because if the project didn't exist there was no way for the data source to successfully read in the first place.

Replacement of the global address and networking connection are worrying, but were they successfully configured during a previous run when the project was created but the data source read was unsuccessful? I was under the impress

[2019-11-21 01:00] andyshinn commented on #4950
There are multiple workspaces in this case, each having been created at different iteration points in the Terraform project. The existing workspaces probably had the service networking created _after_ the project was already set up (which is why they didn't have a dependency issue).

But now applying this fix for the _new_ workspace also affects the existing ones by forcing replacements and other

[2019-11-21 02:58] neilepalmer commented on #4951
FWIW, I get the same error with the same TF & provider configurations.  I'm passing in:
  backends       = [
    { group = "${module.es_client.region_instance_group}" },
  ]

[2019-11-21 09:11] GeKasap opened #4959 "google_composer_environment fails with terraform-provider-google_v3.0.0-beta"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-21 11:00] Shriyut opened #4961 "Creating Shared VPC through terraform and launching VMs in it"
I've been trying to create a shared vpc through terraform but this is the error that I get

Error: googleapi: Error 403: Required 'resourcemanager.projects.get' permission for 'projects/project-2-256305', forbidden on main.tf line 8, in resource "google_compute_shared_vpc_service_project" "service1": 8: resource "google_compute_shared_vpc_service_project" "service1" {

I tried creating the VPC man

[2019-11-21 16:46] rileykarson commented on #4919
I'd recommend using version restraints to pin to a specific release / release series as shown in https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html#provider-version-configuration.

I believe this would lock you to the `2.X` series:

[code]

[2019-11-21 16:48] andyroyle commented on #4059
Would it be simple to add this to resources that aren't auto-generated by magic-modules?

For context; we're being bitten by this when using the `google_container_cluster` resource, which doesn't respect the `user_project_override` attribute on the provider.

[2019-11-21 17:06] rileykarson commented on #602
Yep!

[2019-11-21 17:06] #602 closed

[2019-11-21 17:21] slevenick commented on #4959
Hey @GeKasap this definitely looks like a problem. Could you include more complete debug logs? Specifically I would like to see the calls for that environment, as it seems like we are not handling the API's response correctly. It would be much easier to diagnose the issue with the response that is causing this failure, it should be directly above the panic

[2019-11-21 17:24] chetaldrich opened #4962 "Allow terraform to import `google_bigtable_gc_policy` for a column family"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-21 17:28] slevenick commented on #4959
One thing that jumps out at me is that the `use_ip_aliases` field in `ip_allocation_policy` is now required, but it is not specified in your config. If you specify that field is there any change?

[2019-11-21 17:59] slevenick commented on #4959
It looks like your config is invalid. According to the documentation: https://www.terraform.io/docs/providers/google/r/composer_environment.html

If you specify `ip_allocation_policy` you *must* specify `use_ip_aliases`, and you must specify either `cluster_secondary_range_name` or `cluster_ipv4_cidr_block` but not both. You must also specify either `cluster_ipv4_cider_block` or `cluster_secondary

[2019-11-21 18:06] slevenick commented on #4961
It looks like you are having permissions issues.

You are creating resources across two projects with a single service account via terraform, so that service account needs to have the necessary permissions on *both* projects. It looks like you added permissions on the service account for `host-prj-249608` to resolve the first 403 error, but I would guess that the service account does not have perm

[2019-11-21 18:19] rileykarson commented on #4634
Assigning to @hashibot to indicate that @maxlip has a PR out.

[2019-11-21 18:50] nicktrav opened #4963 "Consider deprecating / removing remove_default_node_pool in google_container_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-21 20:13] hleb-albau commented on #3657
Still not possible or we can try to move this issue further?

[2019-11-21 20:43] rileykarson commented on #3657
Still not possible. I"m watching the internal issue for support getting added, but there's been no progress.

[2019-11-21 20:56] rileykarson commented on #4963
Hey @nicktrav! This was one of the deprecations (and related to several of the deprecations) that I was considering for `3.0.0`, however I ultimately decided against it. While creating a GKE cluster isn't a great experience and I wanted to improve it, there wasn't a clear enough benefit from removing the field to justify the impact on existing users.

In the underlying API, all of the "special" fi

[2019-11-21 21:31] danawillow commented on #4059
It wouldn't be simple to do it for all of them in a big sweeping change, but on an individual basis, yup it would be pretty easy. Most of the client libraries we use have a  `Header()` function that can be used to add headers to the request before it's sent out. Are you asking because you'd like to contribute that change, or because you'd like someone on our team to do so?

[2019-11-21 22:19] megan07 commented on #4093
Thanks @paulpalamarchuk for opening this issue!  When I upgraded to the most recent version of the provider I was not able to reproduce the error, it looks like it was fixed with https://github.com/terraform-providers/terraform-provider-google/pull/4446 and was released in the 2.15.0 release.  I will close this, but please upgrade and open a new issue if you continue to see any errors.

[2019-11-21 22:19] #4093 closed

[2019-11-21 22:24] iloveicedgreentea opened #4965 "Iam policy binding completely broken"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-21 23:23] slevenick commented on #4965
Hey @iloveicedgreentea,

Can you provide the version of the terraform provider that you are running? This will help me track down the issue. You can run `terraform -v` and the provider versions should be below the terraform core version, like so:
[code]

[2019-11-21 23:31] slevenick commented on #4965
Can you also send debug logs containing the failing request? I understand not wanting to share full logs, but if you can share the failing request it would definitely help.

It should be a POST call to `/v1/projects/{your_project}:setIamPolicy` that is followed by the 400 response.

I'm unable to reproduce this with the latest version of the google provider `2.20.0` as well as `3.0.0-beta.1`

[2019-11-22 00:58] #4437 closed

[2019-11-22 01:09] iloveicedgreentea commented on #4965
Hey @slevenick thanks for looking into it. I was using 2.20.0 and also 3.0.0-beta.1. I even tried to hardcode the exact SA name. I just tried 2 hours later and the exact same broken code now works. Either something was reallllllyyyyy "eventually" consistent or their API had a hiccup. Either way, works now so I will close this. Thanks again.

[2019-11-22 01:39] rvandegrift opened #4971 "google_folder_iam_policy import misbehaves if given a bare folder id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-22 04:45] Shriyut commented on #4961
Thanks @slevenick
That did the trick

[2019-11-22 04:45] #4961 closed

[2019-11-22 05:54] chrisst commented on #4334
At this point even though namespace will not technically always be the project id/number I suspect that for managed cloudrun it is very unlikely to be something else. So I think it's ok to default to the project and I'll be adding this in the v1 release of the resource.

However for location there are only a few regions that managed cloudrun is available in and it has to be injected into the [doma

[2019-11-22 08:42] meirhazon2 opened #4973 "Cloud Armor, google_compute_security_policy, how can I add the target LB backend?"
Hello,
I am using terraform to create cloud armor rules, I miss the target part (LB backends).
How can it be done?
Thanks so much,
Meir

[2019-11-22 08:52] andyroyle commented on #4059
I would be up for making the changes myself. I had a quick look at the generated API client for the container service yesterday, so I will take another look today and see if I can find a path. Should we be setting `X-Goog-User-Project` irrespective of the setting for `user_project_override`?

[2019-11-22 10:48] KimRomBot opened #4974 "App engine standard version app doesn't work nor communicate problem"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-22 11:48] kdefives opened #4975 "google_compute_instance : min_cpu_platform issue when setted to "empty""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-22 14:21] GeKasap commented on #4959
Thanks for the reply. Actually I had to update the code. I have the `use_ip_aliases` set to true by default. This error is with that parameter set.

[2019-11-22 14:26] c3st7n commented on #4973
You need to add the security policy to the backend service instead. Take a look at the docs for google_compute_backend_service, the security-policy argument.

[2019-11-22 14:59] meirhazon2 commented on #4973
Thanks so much

On Fri, Nov 22, 2019 at 3:26 PM Chris Tomlinson <notifications@github.com>
wrote:

[2019-11-22 15:03] dlinares-linux opened #4976 "Shielded GKE cluster nodes"
Hi all,

Raising this as a question as I am not sure it's a bug or just my misunderstanding.
I am using "google-beta" providers (terraform-providers/google-beta) 3.0.0-beta.1 to deploy a GKE cluster with a separately managed node pool.
I have the following structure:

[code]

I have then added an org policy to prevent at org level the creation of non-shielded compute instances :
[code]

With this

[2019-11-22 15:19] meirhazon2 commented on #4973
What should the security_policy be then, in the case of cloud armor?
Thanks

[2019-11-22 17:20] hashibot[bot] opened #4978 "Terraform crash"
_This issue was originally opened by @chriswood123 as hashicorp/terraform#23469. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

https://gist.github.com/c

[2019-11-22 17:22] c3st7n commented on #4973
I wasn't sure but I just tried using the self_link of the security policy and it worked.

[2019-11-22 17:26] rvandegrift opened #4979 "Please add policy reference field to google_service_account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-22 17:48] mllu commented on #4097
@rileykarson Do you by any chance know if this'll work for gke-managed peerings as mentioned in https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#master-on-prem-routing?

[2019-11-22 17:59] MMBRitter commented on #4061
+1 for this.  I am unable to use cluster autoscaler because my default oauth scopes exclude the devstorage.read_only which is required to pull images from GCR.  Would love to see this feature added.

[2019-11-22 18:21] meirhazon2 commented on #4973
I have looked into this and we are using kubernetes_ingress to create the backend. I dont see a security_policy attribute in this module. any suggestion? thanks so much

[2019-11-22 18:21] slevenick commented on #4975
Well that's not good. It seems like something within the API response has changed recently, because this didn't work this way in the past.

I'll fix this in an upcoming release

[2019-11-22 18:24] slevenick commented on #4978
Hey @chriswood123

This was a bug in older versions of the provider. Provider versions 2.11.0+ fix this.

See the original bug https://github.com/terraform-providers/terraform-provider-google/issues/4010 for context

[2019-11-22 18:24] #4978 closed

[2019-11-22 18:41] #4830 closed

[2019-11-22 19:08] megan07 commented on #4061
Hi @mattnworb, thank you for opening this issue!  I can take a look into this unless anyone else has started working on it.

[2019-11-22 19:11] rileykarson commented on #4097
Yes, they'd work. You'd need to read the values of the peering resource manually and write it out right now, then run `terraform import` so Terraform knows to manage it.

We could improve that by exporting the `peeringName` from `google_container_cluster` and adding a datasource for peerings; then, the only manual step would be import.

[2019-11-22 19:23] slevenick commented on #4973
I believe you will need to specify the https://www.terraform.io/docs/providers/google/r/compute_backend_service.html#security_policy field on the backend service. If you are using a module to create the backend service you may be able to pass this field as a variable to the module, but it depends on how the module is set up.

Normally you would do something like this in your `google_compute_backen

[2019-11-22 19:46] danawillow commented on #4059
Cool! I actually just did a combination generated and handwritten one at https://github.com/GoogleCloudPlatform/magic-modules/pull/2737, so you can take a look at how I did it there. Since using project overrides requires specific IAM permissions, it's best if we continue making it opt-in using the `user_project_override` setting.

[2019-11-22 20:45] meirhazon2 commented on #4973
Thanks so much @slevenick , we are using kubernetes_ingress to create the backend services today and not google_compute_backend_service, do you suggest changing this and use google_compute_backend_service instead? it would be quite a big change.

[2019-11-22 20:47] slevenick commented on #4973
I don't know what makes sense for your particular use case.

Just providing information around how to use the provider

[2019-11-22 20:53] meirhazon2 commented on #4973
Looks like there is no possible way to use cloud armor with kubernetes_ingres. please correct me if I am wrong, Thanks

[2019-11-22 20:55] slevenick commented on #4973
I'm not familiar with kubernetes_ingress, so I do not know

[2019-11-22 20:57] meirhazon2 commented on #4973
thanks

[2019-11-22 21:00] slevenick commented on #4959
So, it looks like the config is still invalid and *should* fail at plan time. I'm not sure why you are able to run attempt to apply this config.

The fields `cluster_secondary_range_name` and `cluster_ipv4_cidr_block` are not allowed to be specified at the same time, as they conflict. Same with `services_secondary_range_name` and `services_ipv4_cidr_block`.

I'm unsure why you are able to attempt

[2019-11-22 21:01] #4973 closed

[2019-11-22 21:08] slevenick commented on #4951
@neilepalmer are you able to output the `backends` variable and post the result?

Are you able to provide full debug logs for this issue? It would help track down the problem as I am unable to reproduce currently

[2019-11-22 21:10] slevenick commented on #4932
If you have a suggestion on where that should go I'm happy to consider it. I'm not entirely sure where that would go though, and error code 7 is an API-side error.

[2019-11-22 21:21] slevenick commented on #4976
Hey @dlinares-linux

What I think is happening here is that the `google_container_cluster` creates a default node pool when it is created. That default pool would be replaced later with the `google_container_node_pool` that you have declared, but the default pool defaults the secure boot flag to false, which fails and stops execution.

Could you try adding a similar `node_config` with `shielded_in

[2019-11-22 21:22] slevenick commented on #4971
I have a fix for this in the pipeline, but until that gets released I would recommend using the format `terraform import google_folder_iam_policy.stuff folders/234421525268` as you found

[2019-11-22 21:27] rvandegrift commented on #4971
great, thanks!

[2019-11-22 22:14] slevenick commented on #4975
I think this may not be caused by a change in the API, but rather the specific machine type that you are using. `n2-standard-4` seems to only be supported by Intel Cascade Lake CPU platforms, so it somewhat makes sense that the API returns that value.

Were you able to run this configuration in the past successfully?

In any case, you can either specify the `min_cpu_platform` OR declare that you d

[2019-11-22 22:22] slevenick commented on #4974
I think there is an issue with the `source_url` you have defined.

You have it starting with: `https://storage.cloud.google.com/` but I believe it should be `https://storage.googleapis.com/`.

Try this out and see if it gives you a better error message at that point. I agree that the error message is obtuse, but that is coming directly from the API so there is not a lot we can do about it from the

[2019-11-22 22:26] chrisst commented on #4885
Cloud Run is using a special annotation (`run.googleapis.com/cloudsql-instances`) on a given RevisionTemplate to attach the SQL instance. When v1 is launched I'll be adding support for the `annotations` block required for this.

here's a quick preview syntax:
[code]

will be fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/2740

[2019-11-22 23:20] hashibot[bot] opened #4984 "0.12.16 breaks conditional defined variables when variables are mutually exclusive"
_This issue was originally opened by @GeKasap as hashicorp/terraform#23445. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

https://github.com/GeKasap/terraform-google-network/blob/master/network.tf

[2019-11-22 23:22] slevenick commented on #4971
This will be in the 3.1.0 release of the provider

[2019-11-22 23:22] #4971 closed

[2019-11-22 23:23] mllu commented on #4097
I see, thanks for the info, but I just tried to import `google_compute_network_peering`, it showed me the following error message, wondering if it's expected?
[code]

[2019-11-22 23:38] slevenick commented on #4984
Going to tag @megan07 who did most of this work

[2019-11-22 23:52] #4975 closed

[2019-11-22 23:56] slevenick commented on #4975
This field will default to the value set by the API if it is not specified with the release of 3.1.0 of the provider. Until then, the mitigations in my previous comment apply

[2019-11-23 10:46] dlinares-linux commented on #4976
Hi @slevenick ,
Thanks a lot. Your suggestion worked and I needed the following to allow the creation of Shielded VMs with the org policy in place:

[code]

I have tested a few combinations with and without the flag `enable_shielded_nodes = true` in `google_container_cluster` but it seems this flag has no effect at all and we absolutely need both shielded_instance_config blocks.

[2019-11-23 23:30] benbro opened #4986 "Error: no schema available for google_project_services.default while reading state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-24 16:41] jaketf opened #4987 "Docs Isse Dataflow job IP Configuration"
The Terraform Google Provider [docs for google_dataflow_job ip_configuration](https://www.terraform.io/docs/providers/google/r/dataflow_job.html#ip_configuration)
incorrectly lists options duplicating `"WORKER_IP_PUBLIC"` rather than enumerating `"WORKER_IP_PUBLIC"` and `"WORKER_IP_PRIVATE"`. However the [source code for this block](https://github.com/terraform-providers/terraform-provider-google/

[2019-11-24 17:09] sharkyze opened #4988 "Support for VpcAccessConnector on App Engine Standard"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-24 18:38] OwenMatsuda commented on #4272
@danawillow I apologize and will use the issue template in the future.

I expected that when I delete the module, it should destroy the specific resources associated with that module and complete successfully. When I do this, it destroy the resources as expected, but it throws the unexpected error described above.

[2019-11-24 18:45] megan07 commented on #4987
Thanks @jaketf for opening this issue!  It's been closed with #4806 and will be released shortly.

[2019-11-24 18:45] #4987 closed

[2019-11-25 05:50] OTA2000 commented on #4449
I'm not yet familiar with this release, can this be solved?
https://cloud.google.com/bigquery/docs/release-notes#November_21_2019

[2019-11-25 08:33] kdefives commented on #4975
This is the first time i run this configuration so i cannot say.

Yes, this is what we are doing for the moment until the fix will be released.

Thx

[2019-11-25 11:46] dlinares-linux opened #4989 "IP forwarding is enabled for GKE nodes"
Hi all,

Raising this as a question.
I am using "google-beta" providers (terraform-providers/google-beta) 3.0.0-beta.1 to deploy a GKE cluster with a separately managed node pool.
I have currently enabled an organization policy enforcing that no VM in my organization can do IP forwarding with the following:

[code]
With the policy above enforced, I am getting the following error when creating the

[2019-11-25 16:45] #4097 closed

[2019-11-25 16:53] rileykarson commented on #4097
1. You should have permission to read the network, I think? GKE should put the nodes in an existing network you control.

2. Ah, import used to be somewhat uncommon in this provider but nearly all newer resources now support it. I'd assumed `google_compute_network_peering` did, but I guess not. It's an older one. Mind filing an issue asking for import support on it, so that we can track that separ

[2019-11-25 16:56] dlinares-linux opened #4990 "Project creation with auto_create_network=false should not fail when constraints/compute.skipDefaultNetworkCreation is enforced"
Hi all,

Reporting this issue faced when I enforced an organization policy at organization level to skip the default network creation (constraints/compute.skipDefaultNetworkCreation).
Any project created with `auto_create_network = false` fails because it doesn't find the default network to try and delete it. As the result, the project is created on GCP, but is not imported to the tfstate.

Here i

[2019-11-25 16:57] anubbhavm commented on #2014
Hi, just checking if there's been any progress on this?

[2019-11-25 17:30] slevenick commented on #4974
Can you specify a `service` for the `google_app_engine_standard_app_version`? I think this might be required but not marked as such.

I'm able to deploy a similar config with the only difference being a `service` specified and the URL

[2019-11-25 17:31] #4976 closed

[2019-11-25 18:59] dlinares-linux commented on #4976
Hi @slevenick ,
Happy for this issue to be closed.
Would you like me to raise a new one to get an understanding of the flag `enable_shielded_nodes`?
As mentioned above, that flag doesn't seem to have any effect at all.

[2019-11-25 19:27] ndmckinley commented on #4989
Yes, it seems to be required - I don't believe any GKE clusters can be created with that policy in place.

[2019-11-25 19:27] #4989 closed

[2019-11-25 20:10] ndmckinley commented on #4990
Agreed - I can fix that.

[2019-11-25 20:13] ndmckinley commented on #4990
Ah, that's been fixed since 2.17.0 - please upgrade your provider and the issue should disappear.

[2019-11-25 20:21] ndmckinley commented on #4986
I recommend you follow https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html#i-accidentally-upgraded-to-3-0-0-how-do-i-downgrade-to-2-x-, then update your config to remove any deprecation warnings.

If this is a production configuration or otherwise needs to be stable, I recommend you use a version constraint - https://www.terraform.io/docs/providers/google/guides/version_3_

[2019-11-25 20:21] #4986 closed

[2019-11-25 20:55] spacetj commented on #4436
@danawillow Any update on this?

[2019-11-25 21:41] megan07 commented on #4984
Thank you @GeKasap for opening this issue!  I was able to reproduce this with the empty lists, however, with the `null`s in place, it seemed to run fine for me.  Could you give me a little more information, such as which provider version you are using?  And is the debug output gist you provided with running the empty lists, or with the `null`s?

[2019-11-25 22:13] danawillow commented on #4436
No updates, sorry! It's still on my radar but other things have come up in the meantime.

[2019-11-25 22:24] mllu commented on #4097
will do, realized someone already created such issue https://github.com/terraform-providers/terraform-provider-google/issues/4793

[2019-11-25 23:35] spew opened #4993 "Use server Response as Apply(...) result instead of fetching new"
# Description

### New or Affected Resource(s)

google_*_iam_policy
google_*_iam_member
google_pubsub_subscription

### References

* #0000

[2019-11-25 23:42] ScubaDrew commented on #4165
@rileykarson I can confirm that log_entry_count works without resource but byte_count fails. Adding `resource.type=\"gke_container\"` to the filter fixes it. The resource is NOT required in Stack driver metric explorer in either case.

I'm fine closing this as I can track down the resource type - but it remains strange behavior.

[2019-11-26 00:10] slevenick commented on #4976
Frankly I'm not super sure what that flag does either. It seems like it *should* cause the default node pool to have shielded nodes, but I think it requires some extra configuration to make that work.

Following https://cloud.google.com/kubernetes-engine/docs/how-to/shielded-gke-nodes allows us to create a cluster with shielded nodes enabled via gcloud, and has this field set along with a couple o

[2019-11-26 01:10] oownus opened #4994 "CloudArmor Customized Rules and WAF"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-26 09:07] ondrejklucka commented on #4903
Hi @marrau, thanks for the update. Let's add the field once it's fully supported in REST API. I'll close the ticket for now.

[2019-11-26 09:07] #4903 closed

[2019-11-26 09:32] dlinares-linux commented on #4990
Hi @ndmckinley ,
I am using the following, which is the latest for the provider:
[code]

Please also note that I faced a similar issue with the `constraints/serviceuser.services`. If that org policy is set to deny the `compute.googleapis.com`, then, the project creation fails because it tries to use the compute API to delete the default network and fails.

[2019-11-26 11:38] upodroid commented on #4951
Hi

I'm getting the same error.

[code]

Configuration:

[code]

Terraform version
[code]

[2019-11-26 13:10] upodroid commented on #4951
On a sidenote, I fixed my issue because I was referencing the self link of the IG instead of the instance group parameter.

[code]

Will it be possible to use the self link to reference the IG instead of the instance group parameter?

Thanks

[2019-11-26 16:50] rileykarson commented on #4097
Ah, great. Looks like the PR got dropped- I'll get the reviewer looking at it again.

[2019-11-26 19:16] ndmckinley commented on #4990
Can you link your debug logs?  I don't have access to an organization I can set that constraint on, so I'll have to work from your logs.

[2019-11-26 19:20] ndmckinley commented on #4990
I find this part acceptable - if you have denied access to `compute.googleapis.com`, lots of `project` attributes won't work.  A handful of `project` features are in `compute`.  You can just get what you're looking for by not setting `auto_create_network` there.

[2019-11-26 20:09] tomboc opened #4997 "google_dns_record_set doesn't handle 404 error on deletion"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-26 21:12] xingao267 commented on #4698
This is fixed by https://github.com/terraform-providers/terraform-provider-google/pull/4977

[2019-11-26 21:13] #4698 closed

[2019-11-26 22:55] slevenick commented on #4951
@upodroid I don't understand,

You want to reference the instance group that is created by the instance group manager via `self_link`? `self_link` generally refers to the resource itself, not anything managed by it. Why do you not want to reference the created instance group via the `instance_group` field?

[2019-11-26 22:56] slevenick commented on #4934
Going to close this out as it should be fixed in the next version of terraform core via that upstream issue and fix

[2019-11-26 22:56] #4934 closed

[2019-11-26 23:12] upodroid commented on #4951
I assumed the IG and IGM are the same thing. If they aren't, then please ignore my request.

[2019-11-26 23:13] #4954 closed

[2019-11-26 23:26] #4776 closed

[2019-11-26 23:32] #4061 closed

[2019-11-27 00:17] #4334 closed

[2019-11-27 00:17] #4933 closed

[2019-11-27 00:46] mackoftrack commented on #3938
@rileykarson

[2019-11-27 08:49] sho-abe commented on #674
FYI, it seems that REST API for listing Uptime Check IPs has been implemented since May 2019.
https://cloud.google.com/monitoring/api/ref_v3/rest/v3/uptimeCheckIps/list

[2019-11-27 09:53] bdubertret opened #5001 "Unable to access a google_dns_managed_zone data source with provider version v3.0.0-beta.1"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-27 12:02] jaceq opened #5002 "Cloud function resource despite documentation does not support custom update timeout."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-27 12:50] GeKasap commented on #4959
Upgrading terraform to latest, caused me another issue that I have reported to  https://github.com/hashicorp/terraform/issues/23445 and was migrated to https://github.com/terraform-providers/terraform-provider-google/issues/4984
According to terraform when a variable has null value (which works for this version of TF) it is ommited. If you check `vars.tf`, default values for these parameters are `

[2019-11-27 13:18] GeKasap commented on #4984
I had updated the repository to `null`s and pointed my code to the new version.
But today I have tried to run it again in order to be sure 100%.
The only diff is that I have deleted `.terraform` directory. And now it works.
So, I suspect that since I include this module from remote repo, it actually didn't fetched the new version although I had no warning/error and the output in gist is with `[]`.

[2019-11-27 14:07] olegkorol commented on #4919
I had the same issue and can confirm that pinning the provider's version to 2.X (e.g. 2.16.0) solves the problem.

The new version `v3.0.0-beta.1` seems to have a bug.

[2019-11-27 15:17] dlinares-linux commented on #4990
Hi @ndmckinley ,
Here is a link to a gist showing some logs (with DEBUG level) : https://gist.github.com/dlinares-linux/d83fb7ea79997dc8a22b56aa2a3ff539
For this test, I have only applied the policy enforcing compute.skipDefaultNetworkCreation.
Kind regards,
David

[2019-11-27 16:08] migs commented on #5001
This seems to be fixed in https://github.com/terraform-providers/terraform-provider-google-beta/pull/1405 - so I guess we just need to wait for it to be brought into the next version

[2019-11-27 18:05] slevenick commented on #4959
If you manually remove the fields that will be evaluated to `null` within `ip_allocation_policy` and set the others manually does it deploy?

What I'm trying to do is figure out if this is a provider issue or a terraform core issue caused by the variable evaluation. I believe it is a terraform core issue because the diff on the composer environment file between 2.20.0 and 3.0.0-beta does not inclu

[2019-11-27 18:07] slevenick commented on #5001
Yep, this was reported here: https://github.com/terraform-providers/terraform-provider-google/issues/4939

And will be fixed in the next release (3.0.0)

[2019-11-27 18:07] #5001 closed

[2019-11-27 19:03] rileykarson commented on #4919
Thanks for confirming the version! It looks like we didn't catch that this resource relies directly on the `id` value, which isn't true of most resources anymore. Changing the format ended up being incompatible, but not in a way that our tests caught.

I'm working on a fix, I'll try to get it in for the `3.0.0` release ~Tuesday. If it misses that, it should land in `3.1.0` ~Thursday next.

[2019-11-27 19:30] mllu opened #5007 "Request a dedicated resource to enable export/import custom routes for auto-generated gke peering"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-27 20:07] jnahelou opened #5008 "Error creating ManagedZone due to timeout"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-27 20:59] ndmckinley commented on #5008
That is _surprising_.  I did not know that there were GCP APIs that had synchronous, long-running operations with side-effects.  :)

I'll see if there's something I can do that won't alter the behavior of other resources.

[2019-11-27 21:24] ndmckinley commented on #5008
Thanks for the in-depth bug report, that was very helpful.

[2019-11-28 00:29] billyfoss commented on #4951
I am getting the same error
`Error: module.my-lb.google_compute_region_backend_service.default: "backend.0.group": required field is not set`

This is on an environment already created with 2.19.0 and trying to run terraform plan with 2.20.0.

The terraform.tfstate file shows the backend list is populated with full links. (names updated to be generic)

[code]

Is this an issue with using the group

[2019-11-28 01:29] billyfoss commented on #4951
With 2.20.0 the debug ends with
[code]
With 2.19.0 the same section looks like
[code]

[2019-11-28 09:14] pc-dok opened #5015 "cloud nat - add network to vm instance"
hi all

i am on the way to create a new lab in gcp. i am before in Azure so here are some differncies. what i am trying is, to create a bunch of vm´s where i do not want always have a public IP for this vm´s, but i want Internet connection for all of this vm´s. so i read that you need here the cloud nat solution. what i have now create is a VPC, with default Subnets, and than i try to create with

[2019-11-28 13:33] freakssy opened #5016 "google_monitoring_alert_policy - Understanding flapping"
### **Terraform Version**
Terraform v0.12.16

### **Affected Resource(s)**
google_logging_metric and google_monitoring_alert_policy

### **Terraform Configuration Files**
[code]
### **Result**
![image](https://user-images.githubusercontent.com/22796433/69809954-1d03da80-11eb-11ea-9631-623e64a5c672.png)

A new incident is created approximately every 5 minutes and resolved.

### **expected Behavior*

[2019-11-28 15:26] pradeepbhadani commented on #5015
@pc-dok  - you can leverage the google cloud NAT terraform module to create one in your project.
Here is the CLoud NAT module https://github.com/terraform-google-modules/terraform-google-cloud-nat and it has some examples as well https://github.com/terraform-google-modules/terraform-google-cloud-nat/tree/master/examples

[2019-11-28 15:31] pradeepbhadani commented on #4984
@GeKasap  - `terraform init ` does not fetch new module version from remote source.
You can pass the upgrade flag like `terraform init --upgrade `, this should fetch the new module version.
Practically speaking, i had some cases where upgrade also failed to fetch the new version(for unkonw reason) and deleting `.terraform` directory helped in those cases.

[2019-11-28 15:37] ocervell commented on #674
@danawillow can we add this soon ? it would be very useful

[2019-11-28 15:40] pradeepbhadani commented on #4143
@IslamAzab @oussemos  Bigquery does not have functionality to update the schema (https://cloud.google.com/bigquery/docs/managing-table-schemas), so terraform cannot update the Bigquery table schema from `schema1` to `schema2`.
It seems that terraform is failing silently.

[2019-11-28 16:08] Shanjohn opened #5017 "Add BigTable instance labeling"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-28 16:58] pc-dok commented on #5015
i know that example, but it is not helpful for me. i  must know how i add now a network interface to the vm with the right subnet. that is what i am searching for. what is the part than on creating a compute instance to take than the cloud-nat for internet breakout. so i need a example from google_compute_instance. thx and best regards franco

[2019-11-28 21:56] hallvors opened #5018 "plugin.terraform-provider-google_v2.11.0_x4: panic: runtime error: invalid memory address or nil pointer dereference"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-28 23:09] jamesmoriarty commented on #2605
@danawillow any updates from your side?

[2019-11-29 01:48] ocantov opened #5019 "google_compute_subnetwork - 'log_config' does not enable flow logs on a subnet created with an older version of the provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-29 06:09] veeral-patel commented on #2973
@josephlewis42 Hi - doesn't this already exist?

https://github.com/elislusarczyk/terraform-provider-firebase

[2019-11-29 09:19] pradeepbhadani commented on #5015
@pc-dok  you configure a `subnetwork` to use `Cloud NAT` and under your VM config, you can mention it to use the `subnetwork` like below :

[code]

[2019-11-29 09:49] pc-dok commented on #5015
hi prad
thx for helping and pointing me in the right direction. is it possible to wrote me, where in my code you define cloud-nat in the subnetwork ressource? or i mean, did you know if there is an example from the beginning, to create a bunch of vm's with cloud-nat as solution to have internet connection? so with all rg's what we need for that this will work. or is my code ok? only some lines of

[2019-11-29 15:07] m477r1x opened #5022 "Unable to set availability_type"
### Terraform Version

Terraform v0.11.14
+ provider.google v2.20.0
+ provider.random v2.2.1

### Affected Resource(s)

* google_sql_database_instance

### Debug Output

https://gist.github.com/m477r1x/4a1ea827ca6fcf37c9bf8713a96b582d

### Expected Behavior

I was expecting the following output which is successful if you run the command on the CLI.

[code]

### Actual Behavior

The terraform did n

[2019-11-29 16:02] pradeepbhadani commented on #5015
I am not able to run your code and identify the exact issue at the moment.
but having a quick look, you are trying to create a new `VPC` with name `var.voc-name-1` but in VM config you are setting it to `default`. So your VM will live in `default` VPC not in the one you are creating.

To create VM in the newly created VPC, update the `network_interface` as below:
[code]

Also, you `subnet` block i

[2019-11-29 17:58] hallvors commented on #5018
Maybe related to the state JSON trying to list the "instances" - and Google Compute Engine basically starting and stopping them at will? So when Terraform runs and tries to compare its state with reality there will likely be some inconsistencies?

`plan` and `apply` crash. `destroy` works and the next plan/apply will not crash and appear to succeed. However, it soon starts crashing again. (FWIW, I

[2019-11-29 18:06] hallvors commented on #5018
I hacked the Terraform state and emptied the `instances: [ ... ]` arrays of all `google_compute_instance_template` entries. This prevented crashing, so I think I'm making some useful assumptions here..

[2019-11-29 22:13] szheng-nyc3 opened #5023 "Cloud Scheduler Takes Pubsub.topic_id not topic_name, make documentation clearer"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-29 22:33] Chupaka commented on #5018
Can you check with more recent version of the provider? 2.11 is quite old.

[2019-11-30 15:48] flelli opened #5024 "Version v3.0.0-beta.1 breaks when using alternative dynamic blocks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-30 23:33] hallvors commented on #5018
Hi @Chupaka - thanks. I'm a newbie, so I expected `terraform init -upgrade` to get the latest version(s) of things but thanks to your comment I noticed that some copy-pasted code indeed pins the Google provider version to 2.11. I'll have to run some more deploys to be certain the issue is gone, but thanks a lot for the response. Will follow up after more testing.

[2019-12-01 13:39] geeslb commented on #1578
I am also checking for an update. Currently there is no integrated way to reset windows password on a new Google cloud windows build.  I am going to try local-exec , but the proper calls are documented in both go and python. getting data back out of serial port 4 is an essential item for this. Without this we have incomplete windows solutions and have to rely on startup scripts to create initial u

[2019-12-01 14:15] pc-dok commented on #5015
hi prad
i think i have now the right configuration. so cloud-nat is working, my vm has internet connection and i can connect over IAP (gcloud compute start-iap-tunnel) a RDP Session to the host. so that is working fine. only one thing i dont understand here. if i have also create a VPN Tunnel from Google to my Home Office, why i can than not connect directly over RDP to the VM. Without Cloud-NAT t

[2019-12-02 09:40] ExalDraen commented on #2973
@veeral-patel that provider will configure firebase resources _given an existing firebase user and service account key file_.

This issue is about setting up firebase inside a GCP project in the first place.

However, as per @ndmckinley's comment, it seems like there is no interest at Google internally to support this particular workflow so we may have to be content with not having it.

[2019-12-02 11:39] GeKasap commented on #4959
Hi @slevenick , first of all I want to thank you for the time you spend to reply to me.
I have sorted other issues that TF0.12.16 was causing to me and run the above code with the latest version (as you suggested initially). It worked perfectly without any issue.
So from my point, I think this should be closed.

[2019-12-02 11:41] GeKasap commented on #4984
Hello @megan07 from my point of view, this is not an issue anymore. But I cannot close it. So, if you have nothing else to add, can you please close the ticket for me?

Regards

[2019-12-02 12:13] jackap opened #5025 "Adding support for app engine flexible app version"
### Community Note
I am asking this here because I did not find any resource online
* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue follow

[2019-12-02 15:55] #4984 closed

[2019-12-02 16:04] JeanDaniel-Fischer opened #5027 "Feature request: IPv6 google_compute_address"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-02 17:36] danawillow opened #5028 "Fix TestAccCloudRunService_cloudRunServiceSql"

[2019-12-02 17:37] danawillow opened #5029 "Fix TestAccComputeBackendService_withSecurityPolicy"

[2019-12-02 17:38] danawillow opened #5030 "Fix TestAccComputeSslPolicy_* tests"
TestAccComputeSslPolicy_sslPolicyBasicExample
TestAccComputeSslPolicy_update
TestAccComputeSslPolicy_update_to_custom

[2019-12-02 17:39] danawillow opened #5031 "Fix TestAccComputeTargetHttpsProxy_update"

[2019-12-02 17:40] #4959 closed

[2019-12-02 17:45] slevenick commented on #5019
Ah, that's no good. The log config enable field defaulted to false in previous versions of the provider and then that value is being respected in 2.20.0.

You can add the `enable_flow_logs = true` field to your 2.20.0 config and it should enable it

[2019-12-02 17:46] danawillow opened #5032 "Fix TestAccComputeTargetPool_basic"

[2019-12-02 17:47] danawillow opened #5034 "Fix TestAccContainerNodePool_* tests"

[2019-12-02 17:48] danawillow opened #5035 "Fix TestAccDNSManagedZone_privateForwardingUpdate"

[2019-12-02 17:49] danawillow opened #5036 "Fix TestAccDataSourceDnsManagedZone_basic"

[2019-12-02 17:49] danawillow opened #5037 "Fix TestAccDataSourceGoogleVpnGateway"

[2019-12-02 17:50] danawillow opened #5038 "Fix TestAccDataflowJobCreateWithServiceAccount"

[2019-12-02 17:50] danawillow opened #5039 "Fix TestAccEndpointsService_*"
TestAccEndpointsService_basic
TestAccEndpointsService_grpc

[2019-12-02 17:51] danawillow opened #5040 "Fix TestAccKmsCryptoKey_rotation and TestAccStorageBucket_encryption"

[2019-12-02 17:51] danawillow opened #5041 "Fix TestAccProviderUserProjectOverride"

[2019-12-02 17:52] danawillow opened #5042 "Fix TestAccRedisInstance_redisInstanceFullExample"

[2019-12-02 17:52] danawillow opened #5043 "Fix TestAccServiceNetworkingConnection* and TestAccSqlDatabaseInstance_withPrivateNetwork"
TestAccServiceNetworkingConnectionCreate
TestAccServiceNetworkingConnectionDestroy
TestAccServiceNetworkingConnectionUpdate

[2019-12-02 17:54] danawillow opened #5044 "Fix TestAccVPCAccessConnector_vpcAccessConnectorExample"

[2019-12-02 18:08] cinder-fish opened #5045 "google_compute_vpn_tunnel always recreated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-02 18:43] #4997 closed

[2019-12-02 18:56] #5002 closed

[2019-12-02 20:11] jharshman commented on #4935
Running into this as well.
[code]

tf:
[code]

[2019-12-02 20:44] slevenick commented on #3294
The PR fixing this was merged in and should be released soon. Upgrading to 3.1.0 when it is released should fix this issue

[2019-12-02 20:44] #3294 closed

[2019-12-02 20:46] slevenick commented on #2367
This was fixed via https://github.com/GoogleCloudPlatform/magic-modules/pull/2662

and will be available soon

[2019-12-02 20:46] #2367 closed

[2019-12-02 20:54] slevenick commented on #4262
Going to be taking a look at adding the IAM policy and binding resources for this.

Adding service accounts to cloud run services was done via: https://github.com/GoogleCloudPlatform/magic-modules/pull/2740

[2019-12-02 20:56] selslack commented on #4692
@slevenick can you please clarify why `ip_address` field of `google_compute_router_peer` is read-only?

It's editable in the API (I guess, it's `bgpPeers[].ipAddress`) and in the Cloud Console.

If it's a mistake, can you please fix it as well?

[2019-12-02 21:02] slevenick commented on #4692
I don't believe it is editable because it is assigned when the peer is created. The gcloud command doesn't allow you to specify the ip_address field either: https://cloud.google.com/sdk/gcloud/reference/compute/routers/add-bgp-peer

Why do you want to be able to set this field?

[2019-12-02 21:46] danawillow opened #5046 "Use different example in dataflow tests"
Our tests run against the deprecated [WordCount example pipeline](https://cloud.google.com/dataflow/examples/wordcount-example), which uses an old SDK version. The new WordCount templates are at `gs://dataflow-templates/latest/Word_Count`. Old ones will start failing eventually. The new ones also add some labels to the job so that'll have to be fixed too.

[2019-12-02 21:46] selslack commented on #4692
@slevenick it's definitely editable here:
<img width="459" alt="Screen Shot 2019-12-02 at 9 42 26 PM" src="https://user-images.githubusercontent.com/4094244/69997757-c11fb580-154c-11ea-8f72-e3349b79606d.png">.

I'm setting up Site-to-Site VPN with AWS, the default value provided by GCP is not correct in that case (it's the first address in the subnet).

[2019-12-02 21:51] danawillow commented on #674
Pings on issues aren't the best way to get something prioritized, unfortunately. If there's a customer request you can file it internally with our team, otherwise we prioritize based on 👍s.

[2019-12-02 21:52] slevenick commented on #4692
I'm not very familiar with that field, and I think it is a separate issue from this one. Feel free to file a request for enhancement to make the `ip_address` field editable, it should be much easier now that we are generating the BgpPeer resource

[2019-12-02 21:52] #4692 closed

[2019-12-02 21:55] chrisst commented on #5028
fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/2716

[2019-12-02 21:55] danawillow commented on #2605
No updates on a date. If you're part of the alpha, you can ask your GCP rep to contact our team on  your behalf for support.

[2019-12-02 22:00] #4091 closed

[2019-12-02 22:05] slevenick commented on #4635
Fixed via https://github.com/GoogleCloudPlatform/magic-modules/pull/2765

This will be released soon

[2019-12-02 22:05] #4635 closed

[2019-12-02 22:10] #5028 closed

[2019-12-02 22:18] #4919 closed

[2019-12-02 22:30] rileykarson commented on #4919
This should work again in `3.1.0`, I missed the cutoff for `3.0.0` by a day. Sorry for the breakage! `3.1.0` should be later this week.

[2019-12-03 00:06] danawillow opened #5048 "GCIP (google cloud identity platform)"
b/145217263

API documentation: https://cloud.google.com/identity-platform/docs/reference/rest/

[2019-12-03 00:14] danawillow opened #5049 "b/144576075"

[2019-12-03 00:16] danawillow commented on #4848
Marking as blocked upstream since we can only add support for resources that have APIs we can call.

[2019-12-03 01:21] inductor opened #5052 "The example format for gooogle_container_cluster in doc for recurring_window returns invalid error."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-03 09:26] rnechita commented on #4276
still not working

[2019-12-03 13:38] pratik141 opened #5054 "Cloud Run for Anthos"
Is Cloud Run for Anthos is supported by Terraform?

if yes Please share the document and reference links.

If you have a support request or question please submit them to one of these resources:

* [Terraform community resources](https://www.terraform.io/docs/extend/community/index.html)
* [HashiCorp support](https://support.hashicorp.com) (Terraform Enterprise customers)
* [Google Cloud Platform

[2019-12-03 17:52] rileykarson commented on #3912
Enough of this stuff is generated that I feel pretty good about not doing it. We had the error come up a few times early on, but it hasn't in a while.

[2019-12-03 17:52] #3912 closed

[2019-12-03 17:53] rileykarson commented on #4894
Closing as stale.

[2019-12-03 17:53] #4894 closed

[2019-12-03 17:53] rileykarson commented on #4391
Closing as stale.

[2019-12-03 17:53] #4391 closed

[2019-12-03 17:53] rileykarson commented on #4459
Closing as stale.

[2019-12-03 17:53] #4459 closed

[2019-12-03 17:58] rileykarson commented on #4628
Sorry, the notification for this response got eaten and I missed your update. Are you still encountering the issue?

I'm surprised by the format being returned, I haven't seen that one before. Is there anything unusual about your environment you can think of?

[2019-12-03 18:26] danawillow opened #5058 "Stackdriver Service Monitoring"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-03 18:48] danawillow opened #5060 "packet mirroring"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-03 19:09] slevenick commented on #5030
This was caused by SSL policy limits. I have cleared the existing SSL policies and the tests pass without orphaning any SSL policies.

I'm confused as to how we orphaned so many SSL policies in the first place, any ideas @danawillow ?

[2019-12-03 19:13] #5029 closed

[2019-12-03 19:15] danawillow commented on #5030
Usually orphaned resources come from tests that panic before they finish or tests whose delete steps fail. I don't have anything more specific for this though. At some point soonish we'll have way more sweepers, which will fix this style of test.

Marking as fixed since the test is now passing.

[2019-12-03 19:15] #5030 closed

[2019-12-03 19:33] danawillow opened #5062 "DNS Non-RFC1918 support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-03 20:38] danawillow commented on #4850
This is now done: https://github.com/GoogleCloudPlatform/magic-modules/pull/2734

[2019-12-03 20:38] #4850 closed

[2019-12-03 20:38] danawillow commented on #4068
This is now done, and will be released in version 3.1.0: https://github.com/GoogleCloudPlatform/magic-modules/pull/2734

[2019-12-03 20:38] #4068 closed

[2019-12-03 21:28] danawillow commented on #4895
Closing due to lack of issue template

[2019-12-03 21:28] #4895 closed

[2019-12-03 21:30] danawillow commented on #4885
@chrisst is this done? can it be closed?

[2019-12-03 21:32] #4885 closed

[2019-12-03 22:03] bluemalkin commented on #4895
@danawillow not sure why a feature request needs a "template" when it's a brand new F.R.

[2019-12-03 22:41] danawillow commented on #4895
This is what I'm talking about: https://github.com/terraform-providers/terraform-provider-google/issues/new?template=enhancement.md

When you go to https://github.com/terraform-providers/terraform-provider-google/issues/new/choose, you can choose the "enhancement" option to get there. By filling out the template, HashiBot will automatically label it, so when we're searching the issue tracker for F

[2019-12-03 22:45] danawillow commented on #4771
Hi  @pulidon, this should work if you pass in a reference to the subnetwork as a URL or relative  path that includes the project, rather than as a name.

Since I'm pretty sure this works already, closing, but feel free to open a bug report if it doesn't.

[2019-12-03 22:45] #4771 closed

[2019-12-03 22:47] danawillow commented on #4793
Added in https://github.com/GoogleCloudPlatform/magic-modules/pull/2751, should be available in  3.1.0

[2019-12-03 22:47] #4793 closed

[2019-12-03 22:47] danawillow commented on #4841
https://github.com/GoogleCloudPlatform/magic-modules/pull/2669 was merged today and should be available in 3.1.0.

[2019-12-03 22:47] #4841 closed

[2019-12-03 22:49] danawillow commented on #4858
Added in https://github.com/GoogleCloudPlatform/magic-modules/pull/2592, will be available in version 3.1.0.

[2019-12-03 22:49] #4858 closed

[2019-12-03 22:53] danawillow commented on #4914
This was added in https://github.com/GoogleCloudPlatform/magic-modules/pull/2363 as `google_compute_region_target_https_proxy`, but the link to its documentation on the website was accidentally omitted. That will be fixed in the next few days, but in the meantime you can access it directly at: https://www.terraform.io/docs/providers/google/r/compute_region_target_https_proxy.html

[2019-12-03 22:53] #4914 closed

[2019-12-03 22:56] danawillow commented on #4935
@tysen, can you check on the configs in here and see whether they seem all right or need to be adjusted? it would also probably be worth having an end-to-end example on the website if there isn't one already.

[2019-12-03 23:15] rileykarson commented on #4962
I'll attach the context on why I didn't initially support it here as well.

In the provider, we typically use generated service libraries or hit the rest API directly. At the time of writing the initial BT resources, neither was supported. We picked up the only available client, a handwritten one based on the grpc API. That's been carried forward to today.

In that client, we're unable to read bac

[2019-12-03 23:17] tysen commented on #4935
`google_compute_region_ssl_certificate` is only available in the beta provider for now because HTTP(S) ILB has not yet reached GA. Same for the `purpose` and `role` fields for `google_compute_subnetwork`.

[Here](https://www.terraform.io/docs/providers/google/r/compute_region_ssl_certificate.html)'s the doc page for `google_compute_region_ssl_certificate`. Looks like the sidebar hasn't been update

[2019-12-03 23:17] danawillow commented on #4449
As per @OTA2000, I believe this should work now.

I'm going to close this out, but if it's still not working let me know and I'll reopen + raise with the team internally again.

[2019-12-03 23:27] jharshman commented on #4935
@tysen my use case is HTTP.

[2019-12-03 23:58] slevenick commented on #5034
Fixed via https://github.com/GoogleCloudPlatform/magic-modules/pull/2764

These pass now

[2019-12-03 23:58] #5034 closed

[2019-12-04 00:14] tysen commented on #4935
I was able to repro your 503. Forwarding rules set to `INTERNAL_MANAGED` can't point (directly) to a backend service, but must go through a proxy (as shown [here](https://cloud.google.com/load-balancing/docs/forwarding-rule-concepts)). However, the `target` field in `google_compute_forwarding_rule` only accepts `google_compute_target_pool`, but it needs to accept other types. I'll work on resolvin

[2019-12-04 01:20] #5040 closed

[2019-12-04 01:23] #5032 closed

[2019-12-04 01:23] #5035 closed

[2019-12-04 01:23] #5037 closed

[2019-12-04 02:22] bigbitbus opened #5067 "Dataflow job max_workers not being applied"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-04 09:35] courteouselk opened #5068 "Can not import existing google_app_engine_domain_mapping"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-04 10:04] mercuriete commented on #3938
same problem
any workaround?

[2019-12-04 10:18] justinholmes commented on #4935
So currently this only works with internal global target proxies?

[2019-12-04 12:06] mercuriete commented on #3938
trying to edit remote state on GCS to do a workaround fails due to refresh is setting always this:
[code]

My intention is to fix by hand the remote state.
I thought that if I fix the remote state then the apply doesn't change and I could continue with another changes.
But the problem is terraform refresh is changing again the remote state to that previous error vaules.

Someone can share their ex

[2019-12-04 12:27] mercuriete commented on #3938
ok...
I can continue for now.
What I did was trying to lie terraform in order that everything is up-to-date

1) do the modifications by hand adding more authorized_netwoks using the google console.
2) putting this:
[code]
this obviously fails because doesnt have days and it will return
[code]
but only if you have differences with your state.
3) change the plan using gcloud:
[code]

With all this c

[2019-12-04 13:07] ahuiberts opened #5069 "Error: Error reading AppProfile: googleapi: Error 400: Deleting an app profile will cause all requests using it to fail."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-04 15:41] zagr0 commented on #4272
hello, is there any progress with the issue?
still present on 0.12.17

[2019-12-04 17:52] #5031 closed

[2019-12-04 17:52] danawillow opened #5072 "`enable_binary_authorization` beta -> ga in container cluster"

[2019-12-04 18:03] danawillow commented on #4272
I haven't had any time to verify that it's a core issue and not a provider one, but if you think it might be, you can try filing at http://github.com/hashicorp/terraform/issues

[2019-12-04 18:06] megan07 opened #5073 "Enforce exclusivity between org_id and folder_id for google_project"
The documentation for `google_project` says:

This adds `ConflictsWith` to declare this mutual exclusivity as part of the resource schema.

* #5064

[2019-12-04 18:15] danawillow commented on #4411
@rileykarson I know this was a while back, but do you remember whether this was a permadiff or just the apply-time error? If the latter, could we add extra logic after HasChange to check whether old and new are equivalent?

[2019-12-04 18:17] slevenick commented on #5044
Fixed by clearing excess connectors in test project

[2019-12-04 18:17] #5044 closed

[2019-12-04 18:20] cinder-fish commented on #5045
Closing as I believe we've found our issue, the `shared_secret` value was different in our CI pipeline

[2019-12-04 18:20] #5045 closed

[2019-12-04 18:27] rileykarson opened #5074 "Failures when enabling google_project_service are opaque"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-04 18:30] rileykarson commented on #5074
I wonder if we could retry services from a failed request one-by-one as well. I did that for renamed services to reduce the risk of failing other requests. That probably falls more into an FR than this bug, though. For whoever resolves this, I'll leave that call up to you- can you make an FR if it isn't resolved here?

[2019-12-04 18:42] rileykarson commented on #4411
I believe it was a permadiff

[2019-12-04 18:54] danawillow opened #5076 "Allow updating `condition` on IAM resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-04 19:09] #5036 closed

[2019-12-04 19:09] tysen commented on #4935
It's blocked by some changes to RegionUrlMap that are waiting for code review. I'll mention this issue in that PR.

[2019-12-04 19:18] #4497 closed

[2019-12-04 19:18] #4994 closed

[2019-12-04 19:23] paddycarver commented on #4811
I believe this is a duplicate of #4802, closing it in favor of that.

[2019-12-04 19:23] #4811 closed

[2019-12-04 19:28] paddycarver commented on #4719
This looks like it was resolved in https://github.com/terraform-providers/terraform-provider-google/pull/4734.

[2019-12-04 19:28] #4719 closed

[2019-12-04 19:38] danawillow commented on #5042
Tried disabling + enabling the API, that usually fixes it.

[2019-12-04 21:32] nikhilk commented on #4963
+1 to removing the inline config of node pools to support node-pool-less clusters, and faster creation of clusters (avoiding creation/deleting of default node pool).

[2019-12-04 23:38] ferreolgodebarge opened #5079 "google_cloudbuild_trigger.trigger_template required even if google_cloudbuild_trigger.github is set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-05 00:25] ejschoen commented on #4024
This may be unrelated--I'm not sure.    I've switched to using Google's cloud shell to run Terraform, and I see--reliably--failures of a different kind.  At the point the original node pool is finished initializing, the master node becomes unavailable for a little while, 30 seconds to a minute.  I wonder if this is related to the communication failure/timeout that we're seeing when we try to spin

[2019-12-05 01:09] rileykarson commented on #4165
That's surprising, that it works there but not here. We're hitting the API directly, so I wonder if they provide a default value like `metric` as in https://github.com/terraform-providers/terraform-provider-google/issues/4165#issuecomment-519098176.

I'm going to close this out because I think we're sending the right request and hitting an API limitation. If you're able to find the exact `filter`

[2019-12-05 01:09] #4165 closed

[2019-12-05 01:12] rileykarson commented on #4318
@stankiewicz, let me know if you made any more progress on this that didn't end up on GH. I'll pick this up in a couple weeks if not, and get it in for whatever release happens next after that, somewhere between `3.3.0` and `3.5.0`.

[2019-12-05 10:36] pradeepbhadani commented on #5015
@pc-dok Cloud-NAT is for outbound Internet access and you are creating a VPN tunnel for the inbound connection.. right?
Not sure why VPN tunnel is not behaving properly with Cloud NAT. Can you check you have a Firewall Rule which allows inbound RDP access to your VM from your VPN Server and you can connect your VPN server from your home network on that port as well?

[2019-12-05 12:06] pc-dok commented on #5015
hi prad.
yes i have forgotten to make also a Firwall Rule also for VPN Subnet, now IAP and also direct rdp sessions are working. wow, cool. it works. best thanks for supporting me here.

[2019-12-05 12:06] #5015 closed

[2019-12-05 12:48] ferreolgodebarge commented on #5079
I close this PR as I tested the same with following versions version:
Terraform v0.12.17
+ provider.google v3.1.0
+ provider.google-beta v3.1.0

[2019-12-05 12:48] #5079 closed

[2019-12-05 13:44] zagr0 commented on #4272
created issue for core
https://github.com/hashicorp/terraform/issues/23567

[2019-12-05 16:29] jharshman commented on #4935
@tysen
can you give us that PR number so we can track that as well?
It hasn't been cross linked here.

[2019-12-05 16:38] mvanholsteijn opened #5084 "google_sourcerepo_repository_iam_policy permission denied on source repository with / in name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-05 17:48] slevenick commented on #4974
That last error looks like it wants you to specify an entrypoint. Can you try that and see if it changes anything?

Reference: https://www.terraform.io/docs/providers/google/r/app_engine_standard_app_version.html#entrypoint

It will probably look like this, maybe with a different shell command:
[code]

[2019-12-05 18:03] #3917 closed

[2019-12-05 19:20] hashibot[bot] opened #5087 "Add external master replication to the "sql_database_instance" resource"
_This issue was originally opened by @paulpalamarchuk as hashicorp/terraform#23566. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Proposal
Add opportunity to configure MySQL instance as [replica of an external master-server](https://cloud.google.com/sql/docs

[2019-12-05 19:59] eknarf opened #5088 "Increase character limit for names of Cloud Functions from 48 to 63"
Via the GCP console, Cloud Functions' names are limited to 63 or fewer characters.  This provider, however, fails validation for Cloud Function names larger than 48 chars.

```    'Error: "name" cannot be longer than 48 characters'```

Secondarily yet related, it'd also be great if the subsequent error would include the offending name value for which validation failed.

[2019-12-05 21:45] #4262 closed

[2019-12-05 23:09] tysen commented on #5024
3.0.0 adds some restrictions to configs like marking some fields as members of `ExactlyOneOf` sets, which applies here. Unfortunately, you have discovered an instance of the SDK not nicely handling the combination of `ExactlyOneOf` and dynamic blocks.

[2019-12-05 23:19] griffinator76 commented on #90
Example where this would be useful is defining dataset access controls for BigQuery datasets. Roles (e.g. READER) can be assigned to Google groups and ideally I'd like to create the group as part of the same Terraform infrastructure as it would be specifically for that purpose.

[2019-12-05 23:28] danawillow commented on #4937
google-internal request: b/145758596

[2019-12-05 23:28] slevenick commented on #4262
This will be available in the next release of the provider (3.2.0)

[2019-12-06 00:15] danawillow opened #5091 "Remove support for first generation SQL instances"
https://cloud.google.com/sql/docs/mysql/upgrade-2nd-gen

This requires:
* Updating our docs to note that 1st gen instances are deprecated and should not be created
* (Maybe) adding validation to reject new 1st gen instances
* Updating our tests to second gen
* If the API allows it, supporting migrating a 1st gen instance to a 2nd

[2019-12-06 00:33] tysen commented on #5068
The import format is regrettably labeled - when you use `[app]` in your usage example, is that the name of the project?

[2019-12-06 01:45] griffinator76 commented on #3990
Maybe something similar to bucket access control resource that exists for storage buckets? https://www.terraform.io/docs/providers/google/r/storage_bucket_access_control.html

[2019-12-06 02:04] ndmckinley commented on #5016
@freakssy From the information here, it feels likely that the event was truly flapping - that this is unrelated to Terraform configuration.  My recollection of k8s is that this is fairly common.  You can see that each of the events has a duration of 1 minute, meaning that the condition was checked 60 seconds later and found to be fixed.

You could try increasing the `google_monitoring_alert_policy

[2019-12-06 02:20] chrisst opened #5095 "Change cloud run `namespace` to fully computed"
### Affected Resource(s)

* google_cloud_run_service
* google_cloud_run_domain_mapping

The namespace doesn't need to be passed in the request body and if it is passed in it can only be the project that is also being used in the request URL. There is no possibility in overriding this to a different value so it should be Computed and not Optional.

b/272365147

[2019-12-06 08:41] benesis002 opened #5096 "google_logging_metric exponential_buckets growth_factor is limited to a whole number"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-06 09:21] benesis002 commented on #5096
Workarround :

Update manualy the value `growth_factor` using Stackdriver UI and add in the Terraform ressource block :
[code]

[2019-12-06 09:22] courteouselk commented on #5068
Yes.  Actually I tried all three variants documented at https://www.terraform.io/docs/providers/google/r/app_engine_domain_mapping.html:

[code]

... and all of them produce the same error.

[2019-12-06 12:37] selslack commented on #4809
@danawillow

here's the minimum repro test case

[code]

Then, `terraform plan`.

Basically any `(known after apply)` / computed / not-known-at-the-time-of-plan value is not good for either `ip_range` or `vpn_tunnel` value.

In the example above, if `google_compute_vpn_tunnel.test.self_link` is known at the time of plan (i.e. existed before `google_compute_router_interface` is added) -- then there

[2019-12-06 14:25] Nosmoht opened #5098 "data.google_organization.id returns organization/id instead of just the id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-06 14:30] Chupaka commented on #5098
https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html#id-format-changes

[2019-12-06 14:32] Nosmoht commented on #5098
Wow, that was fast. Anyhow docu just says
[code]
https://www.terraform.io/docs/providers/google/d/google_organization.html

[2019-12-06 14:34] Nosmoht commented on #5098
Just for others, my current workaround
[code]

[2019-12-06 15:00] Chupaka commented on #5098
I believe, the problem is "id" was not officially exported anywhere with a few exceptions like this one, so it has to be addresses personally.

[2019-12-06 15:00] rolandkool commented on #4792
@danawillow https://gist.github.com/rolandkool/f1f507d60e90ec78b837760396f4495e (sorry for the delay)

[2019-12-06 15:02] Chupaka commented on #5068
Do you have "project" field set in your configuration (either in provider or in the resource)?

[2019-12-06 15:16] courteouselk commented on #5068
Yes, of course.  In fact, if I just delete the existing resource and do `terraform apply` then the new one is created without problem.  Only importing the existing one does not work.

[2019-12-06 15:31] Chupaka commented on #5027
Isn't that about "IP version can only be specified for global addresses that are generated automatically" and
resource "google_compute_global_address" "default_v6" {
  name       = "global-ip-v6"
  ip_version = "IPV6"
}
?

[2019-12-06 18:20] hashibot[bot] opened #5100 "GKE Node Pool status stuck as PROVISIONING"
_This issue was originally opened by @mingsterism as hashicorp/terraform#23593. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi guys, I'm running the below terraform script.
[code]
However am getting stuck with this error
[code]
On SO with others mentioning sam

[2019-12-06 18:20] hashibot[bot] opened #5101 "Creating SQL instance with same name as previously deleted instance hangs"
_This issue was originally opened by @jovankricka as hashicorp/terraform#23594. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

When you try to create new SQL instance that has same name as some SQL instance that was previously created, terraform hangs with "Still

[2019-12-06 18:46] jdziat opened #5103 "Permission 'cloudkms.cryptoKeyVersions.useToEncrypt' denied on resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-06 19:03] #2014 closed

[2019-12-06 19:22] #5008 closed

[2019-12-06 19:24] StephenWithPH commented on #5100
Adding a breadcrumb for future searchers...

We've been working with GCP support since ~ 2019/12/05 20:00 UTC on this. As of 2019/12/06 19:00 UTC, the problem is ongoing.

Node pool creation _operations_ succeed (GCP's container operations api shows `DONE`). This allows Terraform to proceed past:
https://github.com/terraform-providers/terraform-provider-google/blob/2eb04684ddf7de1b2f860b922168d207

[2019-12-06 19:49] parabolic commented on #5100
Same for us, I tried multiple things, modules, resources, bumping versions but to no avail. Hopefully    google will get it working soon.

[2019-12-06 20:03] harishkashyap569 commented on #5100
Same for us as well ```Nodepool  has status "PROVISIONING" with message ""```

[2019-12-06 21:13] paddycarver commented on #4740
Closing this as a duplicate of #4619.

[2019-12-06 21:13] #4740 closed

[2019-12-06 21:30] #4441 closed

[2019-12-06 21:34] StephenWithPH commented on #5100
![Screenshot from 2019-12-06 13-30-57](https://user-images.githubusercontent.com/2990492/70357955-0aae2000-182d-11ea-8637-3a6ef2373c98.png)

https://status.cloud.google.com/

Not a Terraform bug.

[2019-12-06 21:35] paddycarver commented on #4422
I think the ideal solution here is for the location field to just be required, as the provider locations and the storage locations differ and so inferring them is hard. Unfortunately, making the field required is a breaking change, and so we need to wait for 4.0.0 to be able to do that.

[2019-12-06 21:39] rileykarson commented on #5100
@StephenWithPH's appears correct, this is a service issue and not provider-related.

However, I'd like the provider to handle situations like this a little better, and that's actually work I've already started. In addition to catching the production issue for users, I'll use this issue to track slightly better mitigations for similar cases in the future.

[2019-12-06 21:42] ndmckinley commented on #4990
Hi, @dlinares-linux,

The log you've pasted includes only the top 20 and bottom 20 lines of the output - I need much more detail than that.  If you're uncomfortable posting it publicly, you can email it to me at the email address on my profile, nmckinley@google.com.

[2019-12-06 21:44] paddycarver commented on #4388
I think the direction we want to go with here is getting rid of the top-level `metadata_startup_script` field. It was historically added so we could make it recreate instances when it changed, but we can do that now in the map with `CustomizeDiff`, I believe. Unfortunately, I think that's a breaking change that will have to wait until 4.0.0.

[2019-12-06 21:54] danawillow commented on #4288
Looks like the upstream fix was merged as part of TF v0.12.14. @marcb1, can you give that a try?

[2019-12-06 21:55] paddycarver commented on #4277
This should be done as part of 3.0.0.

[2019-12-06 21:55] #4277 closed

[2019-12-06 21:58] marcb1 commented on #4288
yes much better now! closing this out

[2019-12-06 21:58] #4288 closed

[2019-12-06 22:13] marcb1 commented on #4675
yep that worked 👍

[2019-12-06 22:13] #4675 closed

[2019-12-06 22:20] paddycarver commented on #4193
There's more information on this here: https://github.com/terraform-providers/terraform-provider-google/issues/1022#issuecomment-361774647

[2019-12-06 22:46] paddycarver commented on #4059
Closing as it's not looking like we're going to move forward with this, due to the IAM permissions issue.

[2019-12-06 22:46] #4059 closed

[2019-12-06 23:00] paddycarver commented on #3983
I believe this is already implemented. Please see https://www.terraform.io/docs/providers/google/r/composer_environment.html#ip_allocation_policy

[2019-12-06 23:00] #3983 closed

[2019-12-06 23:06] #4324 closed

[2019-12-06 23:27] paddycarver commented on #4060
Hey!

Unfortunately, we can't actually do this. We would need to rely on the current resource's master version, which we don't actually know until after apply. But we want to rely on it before apply. So it's kind of a circular dependency; before we can decide whether to set workload_identity, we need to know the master version, meaning we need to apply, but we can't apply until we know workload id

[2019-12-06 23:27] #4060 closed

[2019-12-06 23:28] paddycarver commented on #4130
Hey @jbrekelmans, so we already have this supported for google_project. Was there another resource you were looking for support for this for?

[2019-12-06 23:31] jjorissen52 opened #5107 "google_project_iam_member/google_project_iam_binding Fails for roles/cloudsql.client, Works for Other"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-06 23:32] paddycarver commented on #4619
This appears to be a duplicate of #4493.

[2019-12-06 23:32] #4619 closed

[2019-12-07 02:21] venkykuberan commented on #5101
Hi @jovankricka,
  I am able to reproduce the issue. Although UI/cloud console shows that sql instance has been deleted apparently its still in "PENDING_DELETE" status. API is responding with the status HTTP-409 however terraform retries it for 20 mins as per https://www.terraform.io/docs/providers/google/r/sql_database_instance.html#create and giving up after that.

Error message captured from de

[2019-12-07 11:12] jackivanov opened #5108 "google_cloudbuild_trigger is missing some parameters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-07 11:28] jamiekt commented on #4493
Bringing over the points I made on #4619 which @paddycarver has (rightly) closed as a duplicate. This may add discussion to the points that @chetaldrich raised above.

[2019-12-07 18:29] NagarajGoud opened #5109 "restrict ephemeral[external] Ips for the compute engines [VMs] created in the subnet"
Hi,
We have a setup with one vpc network with two subnets (private, public)
vms created in public subnet can have external ip where as in private subnet cannot have.

I have a use case such that any vm created in private-subnet should not be getting ephemeral[external] Ips by default.

Initially I thought of tweaking any org policy related to external IP would serve my purpose but i didnt see any

[2019-12-07 23:52] Chupaka commented on #5109
The policy you're looking for is "constraints/compute.vmExternalIpAccess" and it has nothing to do with Terraform.

[2019-12-08 14:12] giorgioazzinnaro opened #5110 "Org IAM custom role fails with canonical organization id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-09 01:10] benhoskings commented on #5110
We're seeing this same issue, occuring in the same circumstance. The org IDs in question are being pulled from other resources or data sources so we're only ever using a value from the provider itself. The same configuration applies from scratch correctly on v2.20.0.

[2019-12-09 09:00] parabolic commented on #5100
Just a small update, it seems that google has fixed the issue and I was able to do a `plan/apply` after the cluster has been created.
Thank you all for your support :)

[2019-12-09 10:12] NagarajGoud commented on #5109
Yes, I have used this constraint "constraints/compute.vmExternalIpAccess" but we can apply at org/project/vm level but not at subnet level.

My use case: no external ip for vms created in particular subnet.

Please let me know if we can achieve this or any other alternatives for the same. Thanks!

[2019-12-09 11:21] upodroid commented on #5110
I can confirm the same with this resource.

[code]

[code]

[code]

Downgrading to 2.20 makes it go away.

It seems the google_organization data source has changed.

2.20 provider output: org_id = 000000000000
3.1.0 provider output org_id = organizations/0000000000

[2019-12-09 15:34] hallvors commented on #5018
I tried with 3.1.0 now and it seems to still crash at the "Refreshing state..." step for google_compute_instance_template. Not sure if it is exactly the same problem but seems very similar:

module.slipway-servers.google_compute_instance_template.default: Refreshing state... [id=capua-staging-instance-20191209141641307900000001]

Error: rpc error: code = Unavailable desc = transport is closing

pa

[2019-12-09 17:02] sethvargo opened #5113 "Panic: google_cloud_run_service interface{} is nil"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-09 17:20] rileykarson opened #5114 "GCE Operations return an unintuitive error on timeouts"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-09 17:31] megan07 commented on #5103
Hi @jdziat!  Thank you for reporting this issue.  This is caused because the Compute Engine System service account does not have the correct permissions.  In order to update those permissions, you can add this to your configuration file:

[code]

I will update the documentation to hopefully avoid this issue in the future.
Thanks!

[2019-12-09 18:26] slevenick commented on #5110
This was an intentional change to canonicalize resource ids that changed the id of the organization datasource from `12345` -> `organizations/12345`.

The raw org number should be accessible via that datasource though, I'll add it as a separate field

[2019-12-09 18:38] upodroid commented on #5110
I couldn't find this in the changelog for the 2.x to 3.x changes.

Thank you for the fix though.

[2019-12-09 18:46] venkykuberan commented on #5101
Hi @jovankricka,
  It seems we can not reuse the same instance name for up to a week after deleting an instance. Please refer this documentation https://cloud.google.com/sql/docs/mysql/delete-instance

[2019-12-09 18:53] c2thorn opened #5116 "Add test sweepers to GKE `resource_container_cluster_test`"
GKE seems to be a large pain point for dangling resources, so let's add some sweepers to clean up clusters. Test resource names will also need to be changed to include a common prefix, so the sweeper knows to remove them.

[2019-12-09 18:53] #5042 closed

[2019-12-09 18:56] danawillow commented on #2909
https://github.com/GoogleCloudPlatform/magic-modules/pull/2794 is out for review for GCS. After that, I believe the only remaining product is KMS. Once that's done, I'll close this issue out, and as more GCP products support conditions they can be requested separately.

[2019-12-09 19:43] jdziat commented on #5103
Thanks i actually just figured that out. i was using:

[code]

[2019-12-09 20:05] abstrctn opened #5119 "Lost ability to automatically create GKE subnetworks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-09 20:33] jharshman opened #5121 "Removed fields in state cause errors when importing as of `3.X.0`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-09 20:33] danawillow commented on #4308
Hi @flapp, sorry for the delay in responding! Nested blocks are actually the big use case for dynamic expressions, so this should be working as-is. I noticed that your example has quotes around "networks.value", whereas the docs at https://www.terraform.io/docs/configuration/expressions.html#dynamic-blocks show no quotes there. Changing that should be enough to get this working.

I'm going to go a

[2019-12-09 20:33] #4308 closed

[2019-12-09 20:36] danawillow commented on #4589
This isn't yet available in the beta GKE APIs (https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/NodeConfig), so marking as blocked on upstream

[2019-12-09 20:41] oownus commented on #4994
Hello, thanks to @megan07 and @danawillow for getting this issue closed. In which release, could we   expect to see this change? Thanks!

[2019-12-09 20:59] #5103 closed

[2019-12-09 21:01] megan07 commented on #5103
Great!  I've updated the doc now too.  Thanks!

[2019-12-09 21:07] #5096 closed

[2019-12-09 21:10] #5110 closed

[2019-12-09 21:11] slevenick commented on #5110
This will be available in the next release of the provider, expected to go out tomorrow

[2019-12-09 21:42] chrisst commented on #5113
Fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/2793/files
This will be resolved in 3.2.0

[2019-12-09 21:42] #5113 closed

[2019-12-09 22:24] jason-huling opened #5123 "Invalid user silently auto-corrected when assigning IAM roles"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-09 22:47] danawillow opened #5124 "Stackdriver Dashboards"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-09 22:56] danawillow opened #5125 "BigQuery reservations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-09 22:59] y0ns0n opened #5126 "google_bigquery_table no longer respects require_partition_filter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-09 23:58] y0ns0n commented on #5126
Looks like this is still enforced on queries, and is just a UI bug.

[2019-12-09 23:58] #5126 closed

[2019-12-10 07:13] ijies opened #5131 "google_compute_route ignores "priority = 0""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-10 11:42] ondrejklucka opened #5132 "Missing google_project_service data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-10 13:07] jpawlowski-sapient opened #5133 "google_compute_router_interface doesn't work correctly with google_compute_interconnect_attachment resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-10 15:14] megan07 commented on #5121
Hi @jharshman!  Thank you for reporting this issue.  I've been trying to reproduce it, but have not been able to.  I see in the error there seems to be an issue with the `google_project` resource.  Is it possible to share the rest of your configuration?  Thanks!

[2019-12-10 15:20] drigz commented on #5124
Once a dashboard has been created in the Cloud Console,  [dashboards.get](https://cloud.google.com/monitoring/api/ref_v3/rest/v1/projects.dashboards/get) can retrieve a JSON representation. If `google_monitoring_dashboard` accepts a JSON file/string for the dashboard, it would be possible to migrate an existing dashboard into Terraform by getting it with `curl`, removing `name`/`etag`, and creatin

[2019-12-10 18:41] jharshman commented on #5121
@megan07 thanks for looking into this!  Below I included the project resource config.  I'm not sure where the errors about `state: unsupported attribute "app_engine".` are coming from.  Can't find `app_engine` referenced anywhere in my Terraform configs.
[code]

[2019-12-10 19:57] #5114 closed

[2019-12-10 20:14] danawillow commented on #5124
If we add [import](https://www.terraform.io/docs/import/index.html) support, would that resolve your concerns? People often use Terraform in order to standardize the process for their teams to not use the console, ever, and so requiring creating one in the console first before exporting it to Terraform feels not great.

[2019-12-10 20:52] megan07 commented on #5123
Hi @jason-huling!  I was not able to reproduce this bug.  Sounds like such a strange thing to be happening.  I know you don't want to try running it again, but do you have any debug logs by chance that I could take a look at?  I'd be curious to see what the HTTP response was after the initial apply was run.
Thanks!

[2019-12-10 22:43] rileykarson opened #5137 "Add example for google_compute_disk_resource_policy_attachment"
https://www.terraform.io/docs/providers/google/r/compute_disk_resource_policy_attachment.html

[2019-12-10 23:16] paddycarver commented on #3805
It sounds like this got resolved, so I'm going to close it out. If this is still something people are looking for, feel free to open a new issue. Thanks!

[2019-12-10 23:16] #3805 closed

[2019-12-10 23:24] paddycarver commented on #3736
This has been merged and released, so I'm going to close this issue out. If this is not actually resolved, my apologies for the error, please feel free to open a new issue.

[2019-12-10 23:24] #3736 closed

[2019-12-10 23:25] danawillow commented on #5087
Closing as duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/3704

[2019-12-10 23:25] #5087 closed

[2019-12-10 23:35] paddycarver commented on #3580
I think this is a useful and valuable conversation to have, and I think that improving the validation is something we'd like to do. Unfortunately, hunting down all the areas where validation is sub-optimal is a time-consuming and very manual process. Given that, I think the best way forward is when you notice that validation would have been useful, you open an individual issue to add that specific

[2019-12-10 23:37] paddycarver commented on #3537
This has gone a while without any response, and it sounds like this is an upstream limitation in the API, so I'm going to close this out. If you feel this is in error, please feel free to open a new issue.

[2019-12-10 23:37] #3537 closed

[2019-12-10 23:52] paddycarver commented on #3447
This issue is basically waiting for someone to compile a list of redundant tests for GKE, and then remove them.

[2019-12-11 00:06] danawillow commented on #3288
Putting this as XL since it touches a bunch of resources. @c2thorn, if you want to divide this into smaller issues once you've done the first one and have a better sense of the scope, feel free!

[2019-12-11 00:20] chrisst commented on #3360
@ocervell IIRC there were a few issues with the underlying API that our code generator didn't handle well yet, such as lack of Operation objects for an async request and non standard HTTP codes. Additionally I got guidance from the API team that API descriptors should be automatically created for most scenarios and that custom metric descriptors should be exceptional. So at the time I chose to foc

[2019-12-11 00:25] paddycarver commented on #3038
This has been merged and released, so I'm going to close this issue out. If we're still missing resources you'd like to see for ML engine, please feel free to open an issue for those resources. Thanks!

[2019-12-11 00:25] #3038 closed

[2019-12-11 00:26] #5116 closed

[2019-12-11 00:29] paddycarver commented on #2999
I'm not seeing support for this anywhere in the API. I think we're blocked on adding an API to generate these credentials.

[2019-12-11 00:35] paddycarver commented on #2995
It looks like this issue was addressed in a PR, merged, and released, so I'm going to close the issue out. If there's still work to be done here, feel free to open a new issue. Thanks!

[2019-12-11 00:35] #2995 closed

[2019-12-11 00:43] paddycarver commented on #2885
As `create_subnetwork` was removed in 3.0.0, I'm going to close this out, with the recommendation being the same as the `create_subnetwork` removal recommendation: create a subnetwork explicitly. If this doesn't work for your use case, please feel free to open a new issue. Thanks!

[2019-12-11 00:43] #2885 closed

[2019-12-11 00:59] paddycarver commented on #2711
Hi! It looks like you're trying to do provisioning steps. Unfortunately, this isn't the best place to get that kind of help--you probably want one of the [community forum](https://discuss.hashicorp.com/c/terraform-providers/tf-google).

[2019-12-11 00:59] #2711 closed

[2019-12-11 02:02] danawillow commented on #4994
You can expect it in 3.2.0, which should be coming out tomorrowish

[2019-12-11 03:06] danawillow commented on #4792
Thanks! Since I'm not super familiar with what service perimeter bridges do, what's the use case for leaving an empty status?

[2019-12-11 04:45] chrisst commented on #2026
fixed by https://github.com/terraform-providers/terraform-provider-google/pull/3766

[2019-12-11 04:45] #2026 closed

[2019-12-11 05:57] jason-huling commented on #5123
Hey @megan07, thanks for looking into this! I’ll try to see if I can grab some, but I don’t think I set the log level to debug on the Atlantis server... if there isn’t anything there, I can try to provision a sandboxed GCP project and assign with a low risk role to recreate the issue since you weren’t able to. I’ll try to provide something in a couple days.

[2019-12-11 08:09] Nosmoht commented on #5098
Honestly, this has a bigger impact. So far for `google_project_service` it tells me that replacement while running `terraform plan` would be forced and results in an error while running `terraform apply`

terraform plan output
[code]

terraform apply output
[code]

[2019-12-11 08:21] drigz commented on #5124
How would the import workflow work? I haven't used it extensively, but the phrase "prior to running terraform import it is necessary to write manually a resource configuration block for the resource" would suggest I'd still have to write a complete configuration.

While I also prefer to use Terraform instead of the console, in the case of creating/tweaking a graphical dashboard I would prefer edit

[2019-12-11 10:16] pradeepbhadani commented on #5137
I can pick this up

[2019-12-11 10:30] pradeepbhadani commented on #5137
Added example in https://github.com/terraform-providers/terraform-provider-google/pull/5097

[2019-12-11 11:55] rolandkool commented on #4792
On a bridge, you cannot set access levels or enable APIs, so those are empty by default.
Because of a dependency issue between bridges and regular perimeters, it is impossible to manage project resources in perimeters: to add a project to a regular and bridge perimeter, first it needs to be added to the regular perimeter before it can be added to the bridge. For removing, it is the other way aroun

[2019-12-11 14:30] sagikazarmark commented on #4024
I had the same issue repeatedly with 2.5.1 provider. After upgrading to 2.20 terraform created the cluster successfully.

[2019-12-11 14:53] ggramal commented on #4965
Hi @slevenick we have encountered the same issue with
[code]
After looking at the debug output of terraform we saw that it tries to POST a JSON with this
[code]
as one of the element in `"bindings" :` array

So we assumed that this can cause strange errors like this
[code]

[2019-12-11 15:03] morgante commented on #5107
I've been noticing the same error across many different projects as of today:

For example, [this config](https://github.com/terraform-google-modules/terraform-google-gcloud/blob/master/test/setup/iam.tf#L29) is causing this error:
[code]

The error is quite confusing, because `serviceAccount:ci-account@ci-gcloud-b081.iam.gserviceaccount.com` looks valid as an IAM member to me.

[2019-12-11 15:20] #5131 closed

[2019-12-11 16:31] megan07 commented on #5123
@jason-huling that'd be great, thanks!

[2019-12-11 16:32] stevenaldinger commented on #4951
This is happening to us as well. We're trying to upgrade from `1.17.1` to `2.20.0` with terraform code we know works and running into this issue. We're using `Terraform v0.11.11`

[2019-12-11 17:26] morgante commented on #5073
One question: will this prevent you from *moving* a project from the org to a folder?

[2019-12-11 17:33] slevenick commented on #4965
Hey @ggramal

Can you elaborate on what IAM resource you are using (binding, member or policy?)

The `deleted:` prefix is new for IAM, and could definitely be causing issues with service accounts specifically because of how our IAM comparison works

[2019-12-11 17:46] morgante commented on #5024
@tysen Is there any workaround? I don't think we should add constraints which will prevent using dynamic blocks.

As it is now, we will be unable to upgrade major Terraform modules to 3.0. FYI @danawillow

[2019-12-11 18:14] neomantra commented on #5098
So I was bit by this... started working on a PR to add `org_id` and see that this change was [committed  two days ago](https://github.com/terraform-providers/terraform-provider-google/commit/8baff6ea14b32f414289db2a13f5706219fcdb0c)

Once this is released, you can use `data.google_organization.name.org_id`

You can build your own latest with [these instructions](https://github.com/terraform-provid

[2019-12-11 19:22] andyshinn commented on #4950
I want to bring this up again because this broke my private SQL addresses the next application. Reading `data.google_compute_network` is changing on _every_ plan. My example is just these two resources:

[code]

This will change on every apply. Is this not a bug? Am I doing something wrong?

[2019-12-11 20:03] morgante commented on #5107
I've been doing a bit more investigation into this (tracked in #333). @megan07 I've been able to consistently reproduce it on my project, here are the [debug logs](https://gist.github.com/morgante/2354f45045451ab92155bdaa5bab1063).

Looking at the logs, I suspect the issue is related to deleted IAM principles. Specifically, I see that we attempt to reflect a [deleted IAM principle](https://gist.gi

[2019-12-11 20:05] morgante commented on #4965
@slevenick I think the issue is that we're reflecting `deleted:` IAM members back in the setPolicy response (even when using an entirely unrelated `iam_member` resource). More details [here](https://github.com/terraform-providers/terraform-provider-google/issues/5107#issuecomment-564709577).

[2019-12-11 20:49] edwardmedia commented on #5133
@jpawlowski-sapient can you post the debug log? Thanks

[2019-12-11 20:58] slevenick commented on #5107
I've got a fix for this on the way: https://github.com/GoogleCloudPlatform/magic-modules/pull/2819

[2019-12-11 21:49] megan07 commented on #5121
Thank you @jharshman!  Sorry, I still was not able to reproduce this - do you have any debug logs by any chance?  And the `app_engine` thing is very odd.  Are you able to see if `app_engine` appears in your state file at all?  Thanks!

[2019-12-11 22:15] spheromak commented on #5119
this alone prevents us from using this version of the provider. Where we have multiple state files that control single clusters, and networks are defined in other Terraform runs. Yes we can reference the other state but it changes some scoping with the automation that allows folks to spin up gke clusters via infra pr's.

I agree that something was lost by removing this setting, and nothing was act

[2019-12-11 22:20] jason-huling commented on #5123
Hey @megan07, I was able to reproduce the issue and it looks like the GCP API is at fault. At least, terraform is passing the correct user `john@acme.com`, and the response from GCP is the modified user `john.doe@gmail.com` (keeping in mind these aren't the actual usernames) with a 200 code... which is a little worrisome :). I will be opening a support ticket with google with the full un-redacted

[2019-12-11 22:21] venkykuberan commented on #5069
Hi @ahuiberts,
  In order to prevent to the error message, you can use 'ignore_warnings' argument. Please find the example below.
[code]

[2019-12-11 22:21] maqiuyujoyce opened #5148 "Support "source_image" and "source_snapshot" in Compute Image resource?"
Could you support `source_image` and `source_snapshot` in [Compute Image resource](https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_compute_image.go)? According to the [public doc](https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images#create_image), there are different sources for image creation and it would be great to have

[2019-12-11 22:21] jason-huling commented on #5123
I used the following `main.tf` for the above logs:
[code]

[2019-12-11 23:32] danawillow commented on #5024
I would recommend filing an issue against Terraform to see if this can be fixed on their end. It's not that we're adding constraints that prevent using dynamic blocks, it's that a dynamic block with no content is being seen as set instead of unset.

[2019-12-11 23:37] rileykarson commented on #5119
I'm sorry that this change caused a disruption for you both! I'd like to break into a few of the points that have been raised.

In these cases, is it possible to reuse existing subnetworks on the network? GKE nodes are just GCE VM instances, so I don't think that a dedicated subnetwork is often necessary. That's the default behaviour of the Cloud Console, for both the `default` network and custom

[2019-12-12 00:04] jpawlowski-sapient commented on #5133
@edwardmedia here's the link to debug output: https://gist.github.com/jpawlowski-sapient/814f9f87ac32f307eb6377d6a525c29d

Here's the code which is responsible for that error: https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_compute_router_interface.go#L300
[code]

It seems like it would be fixed if we change implementation of that GetOK function
[code]

[2019-12-12 01:01] tysen commented on #4062
https://github.com/GoogleCloudPlatform/magic-modules/pull/2806

[2019-12-12 01:01] #4062 closed

[2019-12-12 01:55] at-ishikawa commented on #4965
We had the similar issue today.
When we tried to add the group, which was added in different resource, in `google_project_iam_binding`, it throws next error.

[code]

This is the debug log I got when I tried to apply the changes.
It includes the versions information and request/response logs.
<details><summary>Debug log for apply</summary>

[code]
</details>

[2019-12-12 03:53] jason-huling commented on #5123
Hey @megan07, I was able to replicate this directly in "Try This API" here: https://cloud.google.com/resource-manager/reference/rest/v1/projects/setIamPolicy and have communicated that with google support.

So it looks like this is fully a GCP issue and not Terraform. If anything changes I'll communicate here.

[2019-12-12 05:54] chrisst commented on #5054
I'm pretty sure that you are looking for what was formally known as Cloud Run on GKE, which is supported already on the `google_container_cluster` resource: https://www.terraform.io/docs/providers/google/r/container_cluster.html#cloudrun_config but only in the Google Beta provider.

If you follow the directions on the Cloud Run for Anthos page to [set up a new cluster with Cloud Run](https://cloud

[2019-12-12 07:17] inductor opened #5150 "Add `NodeLocalDNS` as beta for "google_container_cluster""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-12 08:07] flelli commented on #5024
I don't know the internals but I wonder I it could work before v3.0.0-beta.1

[2019-12-12 08:10] ggramal commented on #4965
@slevenick we use `google_project_iam_binding` resource

[2019-12-12 11:02] mldmld68 opened #5151 "Google provider Set IAM policy not remove "deleted:" entries and API returns 400 : Policy members must be of the form "<type>:<value>"., badRequest"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-12 11:03] pc-tradelab opened #5152 ""terraform apply" is not idempotent with a bigquery dataset with an access"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-12 11:13] uhinze opened #5153 "SetIamPolicy fails if there are leftover "deleted:" permissions in project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-12 11:28] eyalzek opened #5154 "Confusing upgrade instructions regarding `container_cluster.ip_allocation_policy.use_ip_aliases`"
As per the upgrade instructions to v3.0.0 (https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html) I see conflicting information. First it says that the field `ip_allocation_policy.use_ip_aliases` is deprecated (https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html#detailed-changes-) and indeed I see the deprecation message already in earlier versions o

[2019-12-12 11:54] paddycarver commented on #4209
I opened a PR to make the backend respect a `GOOGLE_BACKEND_CREDENTIALS` environment variable. This will allow credentials to be specified for the backend, and users won't need to worry about precedence at all.

[2019-12-12 12:25] mleonhard commented on #2973
@ndmckinley wrote:

I don't see any explanation, just "it will not work correctly" and "I expect this issue to be permanent".

This issue creates several manual steps in our deployment of services that send push notifications to our Android app.  Google Firebase Cloud Messaging is the *only* way to send Android push notifications.

This is an example of [API Practices If You Hate Your Customers -

[2019-12-12 12:47] paddycarver commented on #4263
Hey @tmshn,

Thanks for the issue, and my apologies for the delayed response. I agree, that's a sub-optimal upgrade experience. Unfortunately, because of the way the Terraform's protocol works, we have limited control right now over the diffs. I know you have a bit of code that could help, but it's also a subtle area of code that has a lot of edge cases, and so making sure all the edge cases are h

[2019-12-12 12:47] #4263 closed

[2019-12-12 14:29] HectorLagos opened #5155 "DataProc Cluster Scheduled deletion, max-age and expiration-time support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-12 15:32] dpfeif commented on #4449
I could still reproduce the exact same error today with:

Terraform v0.12.8
    provider.google v2.20.0
    provider.google-beta v2.20.0

[2019-12-12 16:29] megan07 commented on #5123
Hi @jason-huling, thanks for the update!  I'll close this issue now, but if you do find any further issues involving this and Terraform, please open another issue so we can take a look.  Thanks!

[2019-12-12 16:29] #5123 closed

[2019-12-12 17:46] edwardmedia commented on #5133
It appears the resources creation requires in certain order. Can you add `depends_on` mega-argument in two resources? Here is the reference for how to add the mega-argument https://www.terraform.io/docs/configuration/resources.html#depends_on-explicit-resource-dependencies

[2019-12-12 17:58] techjacker opened #5157 "`google_cloudiot_registry` `credentials` error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-12 18:13] c3st7n commented on #5153
This is due after a recent change to the IAM API which had introduced the 'delete:' prefix. We have been hit by this also.

To make matters worse, the API change is being done in a phased rollout between December 9th and 13th so the new behaviour is intermittent in this period, so you cannot rely on doing a getIamPolicy call to check for delete entries reliably.

[2019-12-12 19:34] megan07 commented on #5154
Hi @eyalzek!  Thank you for opening this issue.  I'm very sorry for the confusion. `google_container_cluster.ip_allocation_policy.use_ip_aliases` is indeed removed, I will update the upgrade guide accordingly.  Thank you!

[2019-12-12 20:03] #5101 closed

[2019-12-12 20:33] danawillow commented on #5024
The reason why it probably worked before 3.0 is that we didn't add the `ExactlyOneOf` validations until then- so the TF bug was still there, it just got triggered when we added the validations.

[2019-12-12 20:34] danawillow commented on #4449
@dpfeif, can you post the config you're using and debug logs from a failed run?

[2019-12-12 20:50] dantswain opened #5160 "`google_bigquery_table` doesn't support PARQUET format"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-12 21:04] #5154 closed

[2019-12-12 21:35] morgante commented on #5024
Ok I opened an [upstream issue](https://github.com/hashicorp/terraform/issues/23668) but keep in mind that this will prevent modules from upgrading to the 3.0 provider - it might be worth relaxing the constraint until the upstream bug is fixed.

[2019-12-12 21:48] danawillow commented on #5024
If we relax the constraint and then add it back, adding it back would be a breaking change, which would require another major release.

[2019-12-12 22:03] gazmania opened #5161 "google_project_service fails with 404 when attempting to call enable api"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-12 22:43] venkykuberan commented on #5157
Hi @techjacker,
   It looks to me something is wrong on the generated cert. I am able to create resources successfully from your config. I followed this page https://cloud.google.com/iot/docs/how-tos/credentials/keys to generate RSA Key with self signed X.509 certificate.

I used the following command to generate cert and used rsa_cert.pem in the config file.
[code]

[2019-12-12 23:16] edwardmedia commented on #5109
@NagarajGoud there is no direct control in Terraform at subnet level you can use to achieve this. But you can build some logic to dynamically add `access_config` based on the type of your subnetwork.  Basically you could first output a list type "control" to the state from the TF code that builds your network/subnetwork. When your subnet is public, it is a single element in the list while it is em

[2019-12-12 23:20] hashibot[bot] opened #5163 "Unexpected in-place updates on each apply"
_This issue was originally opened by @sandratatarevicova as hashicorp/terraform#23653. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Expected Behavior

- 4 Pub/Sub topics are created a

[2019-12-12 23:20] hashibot[bot] opened #5164 "Terraform crash on `google_cloud_run_service` with blank metadata"
_This issue was originally opened by @gaahrdner as hashicorp/terraform#23650. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

https://gist.github.com/gaah

[2019-12-12 23:22] ogreface opened #5165 "googe_compute_region_disk has partial / not working image support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-12 23:33] paddycarver commented on #2255
This looks like it has been added and released, so I'm going to close this issue out.

[2019-12-12 23:33] #2255 closed

[2019-12-12 23:35] paddycarver commented on #2159
This looks like a duplicate of #3039.

[2019-12-12 23:35] #2159 closed

[2019-12-12 23:36] paddycarver commented on #2146
Looks like this got fixed. Please open a new issue if you're still missing information. Thanks!

[2019-12-12 23:36] #2146 closed

[2019-12-12 23:39] paddycarver commented on #2094
I'm going to close this out, as the change requested is really better suited to the Postgres provider.

[2019-12-12 23:39] #2094 closed

[2019-12-12 23:51] paddycarver commented on #2058
I believe this has been implemented and shipped, so I'm going to close this issue out. If you still are having trouble with this, please feel free to open a new issue.

[2019-12-12 23:51] #2058 closed

[2019-12-12 23:54] paddycarver commented on #2056
:ship: :rocket: :writing_hand: :memo: :tada: :sparkles:

(I can't find any instances of this with a quick grep, so I'm gonna say we did it.)

[2019-12-12 23:54] #2056 closed

[2019-12-13 00:02] danawillow commented on #1950
@ndmckinley, what's remaining here in order to close this?

[2019-12-13 00:14] paddycarver commented on #1871
I can't seem to find an API supporting the IAM on objects; it looks like buckets are the only things with IAM. I think the `google_storage_object_access_control` resource is the closest we can get right now until an IAM API is added.

[2019-12-13 00:22] paddycarver commented on #1814
We now have batching functionality and 0.12 makes specifying multiple `google_project_service` resources a lot easier, so I'm not sure this is necessary anymore. If users are still experiencing pain around this, please feel free to open a new issue and we can examine solutions.Thanks!

[2019-12-13 00:22] #1814 closed

[2019-12-13 00:31] paddycarver commented on #1560
This looks like it has been implemented on https://www.terraform.io/docs/providers/google/r/compute_autoscaler.html, so I'm going to close it out.

[2019-12-13 00:31] #1560 closed

[2019-12-13 00:38] venkykuberan commented on #5160
Hi @dantswain ,
    Thank you for filing the issue. Currently provider isn't supporting the "PARQUET" source format, we will add it to feature list to work on it soon.

[2019-12-13 00:58] ndmckinley commented on #1950
Ah, this should have been closed back in early October, sorry about that!

[2019-12-13 00:58] #1950 closed

[2019-12-13 01:04] paddycarver commented on #627
At the moment, our policy is to specify things like this as HCL. If someone has a good reason for why this needs to be specified as YAML or why specifying this as YAML opens up new use cases for them, I'd love to hear it in a new issue.

[2019-12-13 01:04] #627 closed

[2019-12-13 01:12] paddycarver commented on #91
I'm pretty sure the `metric` block of the `google_compute_autoscaler` resource's `autoscaling_policy` block resolves this issue. If not, please feel free to open a new issue. Thanks!

[2019-12-13 01:12] #91 closed

[2019-12-13 01:53] danawillow commented on #4941
@megan07 do you have cycles to look at this this week? If not, @rileykarson could it get added to your queue for next week? Looks like it didn't get picked up the week it was filed, and it should be like a two line change.

[2019-12-13 02:33] jpawlowski-sapient commented on #5133
I already had implicit "depends on" because of this line:
[code]
I've tried adding the explicit one but, as expected, it doesn't change anything and I'm getting the same error.

[2019-12-13 03:09] griffinator76 commented on #5151
I have the exact same issue with `google_storage_bucket_iam_member` resources. The Google API call to `/storage/v1/b/my-bucket/iam?alt=json&prettyPrint=false` returns deleted members for some of the roles, which Terraform then tries to reapply. That results in a HTTP 400 Bad Request error with the message:

[2019-12-13 03:41] sho-abe opened #5168 "Feature Request: Add support for GCP Secret Manager"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-13 03:41] griffinator76 commented on #5153
See also https://github.com/terraform-providers/terraform-provider-google/issues/5151

[2019-12-13 03:43] griffinator76 commented on #5153
@c3st7n have you seen anything published online about this? I couldn't find anything that mentioned this change, although the timing of when this started does line up with what you said.

[2019-12-13 03:53] griffinator76 commented on #5152
See also https://github.com/terraform-providers/terraform-provider-google/issues/3990 and possibly https://github.com/terraform-providers/terraform-provider-google/issues/2686

[2019-12-13 05:15] c3st7n commented on #5153
@griffinator76 yeah stumbled across this release note: https://cloud.google.com/iam/docs/release-notes

Look at the entry for December 9th.

[2019-12-13 09:23] eyalzek commented on #5154
@megan07 just to be clear, with the latest version I would have to have an empty ip_allocation_policy block in order to create a vpc native cluster?

[2019-12-13 11:32] Tenzer commented on #1950
Has support for this arrived in the non-beta provider? According to the documentation the `github` block is only supported in the google-beta provider:
https://www.terraform.io/docs/providers/google/r/cloudbuild_trigger.html#github
![Screenshot 2019-12-13 at 11 31 31](https://user-images.githubusercontent.com/68696/70797334-35075c80-1d9c-11ea-8fd0-05f41ebcf642.png)

[2019-12-13 15:04] techjacker commented on #5157
@venkykuberan thanks for quick response. Using the command you linked to resolved the issue for me.

I was previously using the command from the [Generating an RSA Key](https://cloud.google.com/iot/docs/how-tos/credentials/keys#generating_an_rsa_key) section above:
[code]

Are there any plans to adapt the provider to accept regular public key PEMs rather than just X509 certs?

[2019-12-13 15:46] Jeskz0rd commented on #5151
Have you checked [this resource](https://cloud.google.com/iam/docs/policies#handle-deleted-members) guys?

Release notes from [9th December](https://cloud.google.com/iam/docs/release-notes)
---

Cloud IAM policies now identify deleted members that are bound to a role. Deleted members have the prefix deleted: and the suffix ?uid=`[NUMERIC_ID]`.

For example, if you delete the account for the user b

[2019-12-13 17:14] edwardmedia commented on #5161
Can't repo for me in creating google_service_account. Noticed that your project is created in live `project_id = "${var.environment}-${var.seed}"`. How did you make sure this project id is used in creating  `google_service_account`?

[2019-12-13 17:25] danawillow commented on #1950
That's correct- the beta provider tracks GCP beta features, so it'll stay in the beta provider as long as the GCP functionality is still in beta (see https://cloud.google.com/cloud-build/docs/create-github-app-triggers and https://www.terraform.io/docs/providers/google/guides/provider_versions.html)

Once it goes GA in GCP, feel free to open an issue to have it moved to the GA provider.

[2019-12-13 17:54] rileykarson commented on #4941
Assigned to myself so I don't lose it, @megan07 feel free to take it if you have the cycles.

[2019-12-13 17:58] slevenick commented on #5151
Looks like this is a duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/5107

This was caused by the API change that started returning `deleted:` IAM members. A fix will be included in the next release of the provider. I'm going to close this issue in favor of #5107

[2019-12-13 17:58] #5151 closed

[2019-12-13 18:00] slevenick commented on #4965
I believe the recent reports are unrelated to the original bug report, so I'm going to close this issue.

The recent issues are caused by the API change that started returning `deleted:` IAM members. A fix will be included in the next release of the provider. I'm going to close this issue in favor of #5107

[2019-12-13 18:00] #4965 closed

[2019-12-13 18:01] slevenick commented on #5153
Looks like this is a duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/5107

This was caused by the API change that started returning `deleted:` IAM members. A fix will be included in the next release of the provider. I'm going to close this issue in favor of #5107

[2019-12-13 18:01] #5153 closed

[2019-12-13 18:03] slevenick commented on #5107
As a workaround until the fix is released you can delete service account IAM members with the `deleted:` prefix and terraform will work as usual.

This issue is caused specifically by deleted service accounts that exist on the resource that terraform is managing members on, so removing references to them will allow terraform to work normally.

[2019-12-13 18:39] venkykuberan commented on #5157
@techjacker I am glad it worked for you. Regular PEM keys can be used only on the devices not at the registry level.  I can't add regular PEM keys to registry even at the Cloud Console. It looks to me its more of an API feature.

We don't have terraform resource for iot_device in the provider yet. We will add it to features list and work on it soon.

[2019-12-13 21:06] megan07 commented on #5154
@eyalzek, sorry!  I meant to respond to your question too and forgot.  Yes, you are correct, you would leave the block empty.  Thank you!

[2019-12-13 21:49] gazmania commented on #5161
I'm not quite sure I get the question. The project id for the google_service_account is retrieved from the newly created project.

[code]

[2019-12-13 22:06] edwardmedia commented on #5161
@gazmania can you post full debug log? Thanks

[2019-12-13 22:37] slevenick commented on #5107
This fix is available now in the `2.20.1` version of the provider, and will be available for 3.x in the 3.3.0 release expected next week.

[2019-12-13 22:41] edwardmedia commented on #5152
you can see below detail after `tf plan`

  # google_bigquery_dataset.dataset will be updated in-place
  ~ resource "google_bigquery_dataset" "dataset" {
        ......
        self_link                       = "https://www.googleapis.com/bigquery/v2/projects/myproject/datasets/test_tf"

      - access {
          - role          = "OWNER" -> null
          - user_by_email = "account-terraform@myp

[2019-12-13 22:54] rileykarson commented on #5152
@pc-tradelab: Sorry about the behaviour here. Terraform is authoritative on the `access` field when set, and ignores it (treating it as output-only, specifically) when it's unset.

Instead of the intuitive behaviour- adding the access entry to your config adds that access entry- what your config has told Terraform is "start managing access, and I'd like exactly this list of entries". If you look a

[2019-12-13 22:54] #5152 closed

[2019-12-13 22:57] edwardmedia commented on #5165
@ogreface can you post full debug log with the variable data?

[2019-12-13 23:00] edwardmedia commented on #5164
@gaahrdner can you post the debug log here?

[2019-12-13 23:01] rileykarson commented on #3990
It's _very_ likely that this and https://github.com/terraform-providers/terraform-provider-google/issues/2686 and are resolved by adding a `google_bigquery_dataset_access_member` resource, similar to that or to `*_iam_member` resources.

[2019-12-13 23:47] emilymye commented on #4096
Whoops, forgot to close this - done by community contributor @bpineau very soon after the issue was opened in https://github.com/GoogleCloudPlatform/magic-modules/pull/2112

[2019-12-13 23:47] #4096 closed

[2019-12-13 23:48] #3814 closed

[2019-12-13 23:49] ogreface commented on #5165
Hi @edwardmedia. Just to confirm, I simplified the test case / removed the variable and get the same issue.

Using this TF:
[code]

TF debug log:
`rishimalik@Rishis-MacBook-Pro-2:~/temp/5165$ TF_LOG=debug terraform validate
2019/12/13 16:47:21 [INFO] Terraform version: 0.12.8
2019/12/13 16:47:21 [INFO] Go runtime version: go1.12.9
2019/12/13 16:47:21 [INFO] CLI args: []string{"/usr/local/Cellar/tf

[2019-12-13 23:50] emilymye commented on #3814
Closing this issue for now - it seems that the consistent fix has been to disable the org-level domain restricted sharing policy. Feel free to reopen if you're running into this issue but fix didn't work.

[2019-12-13 23:51] emilymye commented on #542
Done in https://github.com/GoogleCloudPlatform/magic-modules/pull/2812

[2019-12-13 23:51] #542 closed

[2019-12-13 23:52] megan07 commented on #5084
Began working on this in https://github.com/GoogleCloudPlatform/magic-modules/pull/2831

[2019-12-13 23:53] morgante commented on #5024
@danawillow The resources I've noticed this being an issue for, in priority order:
- google_compute_firewall
- google_folder_organization_policy
- google_organization_policy
- google_project_organization_policy
- google_compute_health_check
- google_compute_region_health_check
- google_compute_route (still need to confirm workarounds)

[2019-12-13 23:58] megan07 commented on #5155
hi @HectorLagos

Thanks for opening this issue :)

Taking a look through this appears to be a duplicate of #4725  - rather than having multiple issues open tracking the same thing I'm going to close this issue in favour of that one; would you mind subscribing to #4725  for updates?

Thanks!

[2019-12-13 23:58] #5155 closed

[2019-12-14 00:16] megan07 commented on #5160
Thanks @dantswain for opening this issue. It's been closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/2832 and will be released shortly.

[2019-12-14 00:16] #5160 closed

[2019-12-14 00:32] joemiller opened #5171 "gke node pool creation fails when using location output from gke master"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-14 00:53] clebio opened #5172 "Project creation failing with "invalid argument""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-14 01:04] #5171 closed

[2019-12-14 02:02] edwardmedia commented on #5165
I can't find the the image. Can you provide a link to that build?

[2019-12-14 03:48] ogreface commented on #5165
HI @edwardmedia . I'm afraid I don't understand, a link to what build?

I'm getting this locally when running the above Terraform. Also note that the image itself doesn't matter, this is failing before TF ever talks to GCP. It happens in the validate stage.

For the record, the image is a GCP provided image: `projects/centos-cloud/global/images/centos-8-v20191121`, but as above, the image itself d

[2019-12-14 15:38] techjacker commented on #5157
Yes you're right, the only way I was able to register a device was to generate a signed cert and pass that as the `public-key` flag to `gcloud iot devices create`.

Having a `iot_device` resource would be great. Is there an issue which I can upvote to get it quicker? :) You could combine with the [TLS provider](https://www.terraform.io/docs/providers/tls/index.html) to fully automate device onboar

[2019-12-14 19:20] venkykuberan commented on #5157
Can you please create a Feature Request for it to track. We can close this issue.

[2019-12-14 19:34] remorses opened #5173 "google_cloud_run_domain_mapping linking to nonexistent service"
I am creating a service with public url, a dns CNAME record and a domain mapping to a service on the subdomain `backend`.

The `terraform apply` is successful but on the console on the domain mappings screen i see this error on the newly created mapping:
![Screenshot 2019-12-14 at 20 25 51](https://user-images.githubusercontent.com/31321188/70853618-9f112600-1eb0-11ea-92d2-117e7b2a4986.png)

This

[2019-12-14 21:28] sanmmishra opened #5174 "Updating IAM Members at bigquery dataset level"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-15 09:44] techjacker opened #5175 "Add `iot_device` resource to GCP IoT Core"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-15 09:45] techjacker commented on #5157
https://github.com/terraform-providers/terraform-provider-google/issues/5175

thanks for your help @venkykuberan

[2019-12-15 09:45] #5157 closed

[2019-12-15 19:20] gazmania commented on #5161
debug here....

https://gist.github.com/gazmania/1bedfccad614dfb1ea71cda63591e4ce

[2019-12-15 20:38] griffinator76 commented on #4493
Regarding whether to have a single Terraform resource or multiple resources for stored procs, functions - the existing `google_bigquery_table` resource can be used to implement both tables _and views_ in a dataset, even though these are conceptually different, because that is how the table API is implemented.  For consistency, I think I would prefer a single "routines" resource that maps to the ro

[2019-12-15 21:52] xynova commented on #4990
We just ran with 2.20 and faced the issue too

  required_providers {
    google      = "v2.20.0"
    google-beta = "v2.20.0"
  }

[2019-12-16 02:59] BALABHASKARARAO opened #5176 "parameterize bigtable cloumn_family name in GCP terrafrom"
resource "google_bigtable_table" "table" {
   name          = "tf-table"
   project       = "${var.project_id}"
   instance_name = google_bigtable_instance.production_instance.name
   column_family {
      family = "payment"
   }
   column_family {
     family = "test"
   }
  depends_on = [google_bigtable_instance.production_instance]
}

Question : any can help me to parameter "column family names

[2019-12-16 03:12] BALABHASKARARAO opened #5177 "how to paramerixe bigtable name in the following code in GCP by terraform"
terraform code to create bigtable in gcp with out parameter.  then main.tf file will look this.
It is working. but error occurs at the time of paramertiize . Please read entire document.
resource "google_bigtable_instance" "production_instance" {
  name = "tf-instance2"
  project = "saturada

  cluster {
    cluster_id   = "terraform-cluster"
    zone         = "us-central1-b"
    num_nodes    = 3

[2019-12-16 08:46] sandratatarevicova commented on #5163
I have found out what the problem was - from the documentation:

I was creating more than one `google_pubsub_subscription_iam_binding` per role. I don't know why there is this restriction, but I can achieve what I need by specifying more members for the bindings instead of creating more bindings per role. So I think this issue can probably be rejected :-)

[2019-12-16 13:56] rileykarson commented on #5133
The issue here is that the value of the fields in `google_compute_router_interface` are unknown as a result of the interpolation. At apply time, all values are known and GetOk works as expected. Unknown fields are considered to be unset in `CustomizeDiff`, and the function author needs to remember that when using it. Terraform handles them correctly in most other cases- it's an annoying gotcha. Th

[2019-12-16 14:04] javapapo opened #5179 "Regression - HTTP 409 while provisioning Google Cloud SQL instance - using a previously used db name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest