[2020-11-27 18:29] beingminimal commented on #7894
Hi @edwardmedia,

What we are trying to achieve is to create a base project "project-a" which can manage IAC for other new projects "project-b" in GC.
Below are the steps which I performed:
1. Created base project from console e.g. "project-a"
2. Created cloud source repo from console e.g. "project-a-repo"
3. Enable Cloud build API , Cloud Resource manager API, Cloud Billing API in "project-a" fro

[2020-11-27 20:08] BusiPlay commented on #7892
To clarify, removing the subnets correctly removes the resources, however removing all secondary IP ranges does not cause the existing subnets to be changed.

Files attached. If you apply as is, then change sec_ranges in the second subnet to an empty map, you will see no changes on a subsequent apply:

[repro.zip](https://github.com/hashicorp/terraform-provider-google/files/5609446/repro.zip)

[2020-11-28 14:21] hadim commented on #7869
For context please see also https://github.com/hashicorp/terraform/issues/3874

[2020-11-29 00:51] Muhamed-Hamid opened #7899 "google_app_engine zip deployment " no such file""
Hey Team,

Using "**google_app_engine**" either flexible or standard gives the same error, i wonder using zip how will read the files. In cloudbuild always gives error
`FileNotFoundError: [Errno 2] No such file or directory: '/cloudbuild.yaml'`
Also when trying to define runtime version it responds with not found for "python38 or python3 " which works in app.yaml

Below is the template to create t

[2020-11-29 04:15] edwardmedia commented on #7899
@Muhamed-Hamid can you print out the file structure of the zip file?

[2020-11-29 17:53] edwardmedia commented on #7892
@BusiPlay I can repro your issue. It only happens when **all** elements are removed from `secondary_ip_range`. Unfortunately this is the Teeraform SDK issue. Below is the code in the provider plugin where `schema.ResourceDiff` does not detect any changes in that case. On the other side, when one `ip_cidr_range` is removed, thing is different. Does this make sense to you?

https://github.com/hashic

[2020-11-30 07:20] Muhamed-Hamid commented on #7899
It's like below

[code]

[2020-11-30 08:57] krathow commented on #7898
@edwardmedia - thanks, meanwhile I could find the problem:
the corporate policy forbids to access the Cloud DNS API via certain paths and GCP's response is just a 404 instead of a permission denied because of organization controls.
In turn Terraform wants to create the resource again even though it has that resource in the state.

[2020-11-30 09:48] talonx commented on #7878
@edwardmedia According to the docs, `master_instance_name` refers to the instance that will act as the master in the replication setup. I have just one instance (and if I setup failover I want this one to be the master). I tried two things
 *

[2020-11-30 09:52] talonx commented on #7878
@edwardmedia I tried both of these
- Setting `master_instance_name = "grafana-mysql"` which fails with

`Error: Error, failed to create instance grafana-mysql: googleapi: Error 400: The instance being created cannot have the same name as the source instance., errorMatchingSourceDestinationInstanceName`

which seems to indicate that this instance is a failover and it needs to refer to a master from

[2020-11-30 11:55] kos-maverik opened #7900 "AI Platform Notebooks are missing "no sudo access" option"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-30 13:13] BusiPlay commented on #7892
Yes, I'm observing the same behavior - however, would you not want to evaluate the presence of any existing keys for secondary_ip_range if schema.ResourceDiff does not provide any changes (ie when all ip_cidr_range are removed?)

The related issue I linked, https://github.com/hashicorp/terraform/issues/22605, asks providers to handle this kind of occurrence.

[2020-11-30 14:41] edwardmedia commented on #7899
@Muhamed-Hamid can you try below setting?

[code]

[2020-11-30 14:46] wimo7083 commented on #7185
Thank you for this answer.

[2020-11-30 15:00] edwardmedia commented on #7894
@beingminimal Is the serviceAccount of project-a a member of Project-b?

[2020-11-30 17:47] venkykuberan commented on #7873
Doc says not to set this field for postgres.

[code]
I will close this issue as its working as expected.

[2020-11-30 17:47] #7873 closed

[2020-11-30 18:12] #7867 closed

[2020-11-30 18:35] rileykarson commented on #7882
Note that there may be assumptions about the schema of `preemptible_worker_config` from when it was always preemptible.

We also likely don't wan't to rename `preemptible_worker_config` since renames of objects are pretty complex- we can add a note to the docs that it's an outdated name.

[2020-11-30 19:07] #7826 closed

[2020-11-30 19:08] #7615 closed

[2020-11-30 19:53] #7893 closed

[2020-11-30 20:12] tnguyen14 commented on #7538
For some reason, even when I do import with `["1"]`, terraform still write the state index as `1`. After manually updating the state index to `"1"`, it seems to be working as expected.

[2020-11-30 20:12] #7538 closed

[2020-11-30 20:37] #7855 closed

[2020-11-30 20:38] #7881 closed

[2020-11-30 21:19] edwardmedia commented on #7898
@krathow  I guess you no longer have the issue. Closing the issue accordingly. Feel free to reopen it this is no the case.

[2020-11-30 21:19] #7898 closed

[2020-11-30 21:55] rileykarson commented on #7837
Your proposal suggests that this is more a proposal for Terraform Core functionality than something provider specific, so the robot probably miscategorized this. The current best approach is to use Terraformer, as you've identified.

[2020-11-30 21:55] #7837 closed

[2020-11-30 23:45] pndurette commented on #7658
@xingao267 We have the same requirements, _but_ after a few days of digging through undocumented features via Dataflow and Beam source code, we discovered that you can pass any Beam pipeline option as Dataflow Flex Template parameter, even if they're not in the template spec.

Eiher Python or Java-style [params](https://cloud.google.com/dataflow/docs/guides/specifying-exec-params#setting-other-clo

[2020-11-30 23:50] venkykuberan commented on #7694
You can try passing the id as `projects/project-id/meta-data/key`.

[2020-12-01 04:09] Muhamed-Hamid commented on #7899
It isn't under the app directory the content i mentioned is the root folder

[2020-12-01 05:18] beingminimal commented on #7894
Hi @edwardmedia ,

I tried giving "Project Owner" permission at the Organisation level to "project-a" service account which means it can now access all the resources of "project-b". We have verified it by looking at the IAM of "project-b". "project-b" IAM is listing "project-a" service account with Project Owner permission.

Correct me if I am wrong and let us know which specific permission we sho

[2020-12-01 07:18] antrusd commented on #7859
@ndmckinley , what would be the problem if `host_rule` changed to TypeList rather than keep as TypeSet ?

CMIIW, if we use TypeList, we can move the updated `host_rule` to the bottom of List then updating or removing should not change the rest.

[2020-12-01 09:28] trietsch opened #7907 "Clarify Terraform Import for google_firebase_web_app"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-01 09:43] kmullen-omnislash commented on #6137
I've received a similar error when importing a gcloud cli deployed function
& trying to change to source_archive_bucket & object

`Error while updating cloudfunction configuration: googleapi: Error 400: Invalid value at 'function' (oneof), oneof field 'source_code' is already set. Cannot set 'sourceUploadUrl', invalid`

[2020-12-01 12:06] ralbertazzi commented on #7896
Hi @joerayme, here are the steps to reproduce it:

1. Create a dataset and two service accounts. Assign them roles on the dataset through `google_bigquery_dataset_iam_member` (in the example below I had to create the `google_bigquery_dataset_iam_member` resources _after_ applying other resources to avoid the Terraform error: _The "for_each" value depends on resource attributes that cannot be deter

[2020-12-01 13:16] knyttl opened #7908 "GCP provider 3.49 wants to delete all my disks"
### Terraform Version

`v0.12.29`

### Affected Resource(s)

* GCP provider 3.49

### Expected Behavior

I have upgraded the Terraform GCP provider from 3.35 to version 3.49 and suddenly all the disks are to be replaced, eg.:

[code]

I tried to fiddle with the `interface` field, but it does not help. Only found solution was to use:

[code]
Which is not super-correct.

### Actual Behavior

Terrafo

[2020-12-01 15:07] nirby821 opened #7909 "Unable to create external tables over Google Spreadsheets"
Using terraform v0.13.5 and provider hashicorp/google-beta v3.36.0, we are unable to create an external table over Google spreadsheets. The process fails with the following error:

[code]

Running the command using `bq mk` with the same service account authentication and exactly the same spreadsheet and destination tables - succeeds. Also tried adding `scopes = ["https://www.googleapis.com/auth/dr

[2020-12-01 16:34] txomon opened #7910 "google_sql_database_instance can't be created in parallel"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-01 16:56] lpzdvd-packlink commented on #7299
@ndmckinley @cagataygurturk I'm trying it for HSTS header and it does not seem to work.
should it be block?
not sure about implementation considering examples...

[code]

[2020-12-01 17:07] venkykuberan commented on #7910
Are you using the same name for all the 5 instances ? Please attach the debug log , want to see the request/response to API for the Create calls.

[2020-12-01 17:33] bharathkkb commented on #7880
Looks like this is missing docs as well https://github.com/hashicorp/terraform-provider-google-beta/pull/2521

[2020-12-01 18:07] lpzdvd-packlink commented on #7299
In fact I also tried a dummy example like:

[code]

and it seems to be the terraform right syntax but I've been unable to get any header working (also tried X-Frame-Options: DENY as seen in doc).

**Custom headers only seems to be working using UI or gcloud command an are visible after 5-6 minutes.** Opened a case in GCP and they confirmed it. BTW, it does not work in GKE ingress controllers eithe

[2020-12-01 18:12] cagataygurturk commented on #7299
@lpzdvd-packlink You are right. Terraform succeeds but the setting is not persisted.

@ndmckinley do you think it is a Terraform issue?

[2020-12-01 18:14] edwardmedia commented on #7899
@Muhamed-Hamid  in that case, you may try below.

[code]

[2020-12-01 18:31] ndmckinley commented on #7299
I think that's unlikely - I am not sure how the tests passed if the values are not persisted, let me ask this week's onduty to look into that.  @c2thorn, any guesses?

[2020-12-01 18:32] rileykarson commented on #7538
Hmm- weird! The provider is acting correctly here, but Terraform appears to record the ID of the imported resource incorrectly. If you're interesting in pushing forward for a fix, I would file a bug against [Terraform Core](https://github.com/hashicorp/terraform), probably, given that it appears to be impossible to import a resource with the appropriate Terraform ID into state.

[2020-12-01 18:33] ndmckinley commented on #7859
It would show a diff if the API returned the list in a different order than the one you maintain.  Since the API doesn't guarantee any particular order, that would probably happen a lot, maybe every time.

[2020-12-01 19:02] nathkn commented on #7403
closed in https://github.com/GoogleCloudPlatform/magic-modules/pull/4205

[2020-12-01 19:02] #7403 closed

[2020-12-01 19:03] upodroid opened #7911 "Remove deprecated field from google_billing_budget."
In https://github.com/GoogleCloudPlatform/magic-modules/pull/4273 I deprecated all_updates_rule field but we need to remove it in the next major release of the provider.

The v1 API has changed the field name from allUpdatesRule to notificationsRule when it became v1.

[2020-12-01 19:18] edwardmedia commented on #7896
@ralbertazzi is this the same issue as @joerayme originally reported?

As you mentioned, this can't be repro by using two separate resources. The issue is likely in Terraform core/sdk related to how to use the `for_each`

By introducing the dynamic code, basically you break the relationship between resources. Have you tried by adding `depend_on` in the `google_bigquery_dataset_iam_member`?

[2020-12-01 19:53] smakkena12 opened #7912 "While adding additional components(Ranger and Solr) to the main.tf, Its throwing an error "Unsupported block type""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-01 20:00] ndmckinley commented on #7853
Thank you, that makes sense!  This is very difficult to reproduce - do you have a repro case?  I can safely make that change - no harm to it - but it will be hard to know if it works.

[2020-12-01 20:21] venkykuberan commented on #7912
Placing `software_config` under `cluster_config` block should work as expected.

doc
[code]

[2020-12-01 20:24] smakkena12 commented on #7912
Hi Venky,

I have added the cluster configs as below shown. But still its giving an error. I copied my code to the ticket. Kindly review and help me with it.

Thanks in advance..!

Best Regards,
Srinivas.

From: venkykuberan <notifications@github.com>
Date: Tuesday, December 1, 2020 at 3:21 PM
To: hashicorp/terraform-provider-google <terraform-provider-google@noreply.github.com>
Cc: Srinivas Makke

[2020-12-01 20:33] smakkena12 commented on #7912
Hi Venky, Thanks  for your quick reply..!

As you recommended, I've applied the changes and ran the Terraform init, validate and plan. Below are the outputs,

Changes I've made:

resource "google_dataproc_cluster" "kb-iscan-env-ranger" {
    provider = google-beta
    name       = "kb-iscan-env-ranger"
    region     = "us-central1"

cluster_config {
     software_config {
      optional_component

[2020-12-01 20:33] edwardmedia commented on #7894
@beingminimal what account were you using to conduct step #4 `Created manual trigger to perform terraform init, plan and apply...`? Is that the same as `service-acc-iac.json`? Does the account of `service-acc-iac.json` have the right permissions?

[2020-12-01 20:48] Muhamed-Hamid commented on #7899
Not working either. Same error.

[2020-12-01 20:56] tibers commented on #2605
Similar verbiage for TF 12:
`Error: Error creating AlertPolicy: googleapi: Error 400: 'projects/<PROJECT ID>' is not a workspace.`

[2020-12-01 22:05] xingao267 commented on #7658
@pndurette Thanks! That's great to know! I changed my PR to just adding tests and docs for using custom service accounts.

[2020-12-01 23:37] #7832 closed

[2020-12-02 00:05] #7886 closed

[2020-12-02 00:31] #7872 closed

[2020-12-02 00:32] #7417 closed

[2020-12-02 00:36] bleything commented on #7828
@rileykarson @c2thorn: I don't think that GoogleCloudPlatform/magic-modules#4247 adequately addresses this issue. The docs that were added don't make it clear that the user has to encode the string, imo. And I still think pushing that responsibility to the user is the wrong choice, as I said above.

If you can give me a pointer or a hint about how to add the encoding magic I'd be happy to put in a

[2020-12-02 01:42] lawliet89 commented on #2605
Hey @chrisst It's been more than half a year since your comment. Is that API still in alpha?

[2020-12-02 04:01] c2thorn commented on #7828
@bleything I think it's reasonable to push the encoding to the provider and add a stronger note stating what the provider is doing. I'll reopen this.

Looks like we use base64 encoding here: https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/data_sources/data_source_storage_object_signed_url.go#L313

[2020-12-02 05:39] beingminimal commented on #7894
Hi @edwardmedia, please refer to the latest files which I have attached with the steps. service-acc-iac.json was used when we tried to perform steps locally. But after that, we tried it in cloud code and in that also receiving the same error.

Regarding which service account we used in step 4,
It is the default service account that cloud build provides. And the same service account has org level P

[2020-12-02 07:57] ralbertazzi commented on #7896
@edwardmedia which explicit dependency should I define in `google_bigquery_dataset_iam_member`? The service account?

By the way, we have this problem in a project in which we assign permissions to many service accounts from other projects. This means that if somebody in project B deletes a service account, our Terraform definition in project A (the one with `google_bigquery_dataset_iam_member`) b

[2020-12-02 09:21] NandoTheessen opened #7919 "GKE cluster creation throws an auth error, yet is created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-02 09:43] Muhamed-Hamid commented on #7899
Same issue with same error. Have you tried it for a sample to see if it works from your end ?  I wonder how it extract files

[2020-12-02 10:20] txomon commented on #7910
@venkykuberan these are five different resource definitions.

I'm afraid I don't have the debug logs as the terraform code has been corrected with timers.

[2020-12-02 10:45] terradict opened #7920 "Using Multiple Service Accounts and Credentials"
Hi everyone !

In my team, we have been using Terraform with the Google provider for a while now.

As of today, we have one service account that has several (often admin) roles on our GCP project (to be able to do the tasks we ask it to do).
As we are trying to improve our security best practices compliance, we are splitting that service account into several smaller ones (as recommended here https

[2020-12-02 11:03] joerayme commented on #7896
I've added more detailed steps to reproduce the problem I encountered in the original issue above ☝️ I think it's probably a simpler version of @ralbertazzi 's.

The issue here is when changes are made that are outside of perfectly-written Terraform which is managing both the service account and the full IAM policy of the bigquery (and possibly other types) resource.

Let me know if that makes sen

[2020-12-02 11:25] afafara opened #7921 "Cloud function fails to update when migrated from gcloud"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-02 12:09] vladyege opened #7922 "can't modify google_sql_database_instance after patching it through gcloud sql instances patch command"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-02 14:20] hashibot[bot] opened #7923 "Project Creation under subfolders GCP"
_This issue was originally opened by @balagaa as hashicorp/terraform#27072. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.13.5
+ provider registry.terraform.io/hashicorp/google v3.46.0

### Terraform Configuration Files

terraf

[2020-12-02 16:23] tibers commented on #2605
@lawliet89 yeah all the gcloud commands are still `gcloud alpha ...` for working with stackdriver.

example: https://cloud.google.com/sdk/gcloud/reference/alpha/monitoring/policies/create

[2020-12-02 16:51] lpzdvd-packlink commented on #7299
Just to clarify,

I've been looking for an answer last weeks because we're passing trough an audit process and it requires custom response headers. It started in GKE ingress controllers (implements HTTP(s) LB) and we realized there are no BackedConfig spec but you can manually patch ingress (using gcloud CLI or UI). It works but is erased after some minutes. Btw, this feature is not in the product

[2020-12-02 17:13] edwardmedia commented on #7920
@terradict the service account you were talking about is for Terraform runner. If you intend to use Terraform to manage GCP resources, you must give this account certain roles, at least to cover these resources.

You can create Terraform runners as many as you want, and give each one limited roles. But you might want to consider setting up roles for users and deciding who can access the runner acc

[2020-12-02 17:18] edwardmedia commented on #7921
@afafara Can you share the imported state, and specify what did you change before `apply`?

[2020-12-02 17:30] edwardmedia commented on #7919
@NandoTheessen  can you get the debug log so I can take a close look? You might want to set the environment variable `TF_LOG=TRACE` if you haven't done so.

[2020-12-02 17:36] edwardmedia commented on #7923
@balagaa as the error suggested, have you tried
1) providing the numeric number to the **folder**
2) verifying the Terraform runner has the `roles /resourcemanager.projectCreator`?

If still fail, can you share the debug log?

[2020-12-02 17:40] rileykarson opened #7924 "Add support for Pub/Sub Lite"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-02 17:41] edwardmedia commented on #7922
@vladyege help me understand, did you want to run gcloud command each time you all `tf apply`? If so, have you verified if you can rerun the gcloud command?

[2020-12-02 17:42] c2thorn opened #7925 "Make scheduling node_affinities updatable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-02 17:52] edwardmedia commented on #7899
@Muhamed-Hamid yes, I did. Using below config if the yaml is at the root of zip file. What so you see if you run `vim abc.zip`?

[code]

[2020-12-02 18:56] edwardmedia commented on #7894
@beingminimal sorry I am confused. In the[ Terraform code](https://github.com/hashicorp/terraform-provider-google/issues/7894#issue-751331505) at the very top, you have specified what account is used which is from the key file. But you also mentioned for step4, it uses `default service account` which I assume is `project_id@cloudbuild.gserviceaccount.com`
Can you run [Terraform code](https://githu

[2020-12-02 19:17] edwardmedia commented on #7896
@joerayme I have just run [your code](https://github.com/hashicorp/terraform-provider-google/issues/7896#issue-751653642). After updating the `account_id`, applying the new change is fine with me.  I see both resources (`google_service_account` and `google_bigquery_dataset_iam_member`) are successfully recreated. Can you share your debug log so I can take a close look?

[2020-12-02 20:12] veggie124 opened #7926 "KMS key ring trying to be created in wrong project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-02 20:26] edwardmedia commented on #7892
@BusiPlay  By removing the settings inside the it using the `dynamic` code, basically it removes the `secondary_ip_range` node from the request payload. Unfortunately because `secondary_ip_range` is defined as `optional` and `computed`, what Terraform treats it is no change for this field.
To make it working, you need to include the node `secondary_ip_range = []` instead of omitting it completely.

[2020-12-02 20:26] #7892 closed

[2020-12-02 20:42] edwardmedia commented on #7926
@veggie124 Is `spins-poshta-dev` project-A or Project-B? It is not clear how you reference the project_id. Can you try hardcoding below attribute?

[code]

[2020-12-02 21:16] veggie124 commented on #7926
I should have mentioned it, the new project (being created in another part of this same config) is spins-poshta-dev (project B) and that is from the module project-factory. We have also tried hard coding the project ID.
Code for that below:
[code]

Project A is what contains the terraform service account.

[2020-12-02 21:41] edwardmedia commented on #7926
@veggie124  what is the result of running below config? If it fails, can you share the debug log?

[code]

[2020-12-02 22:15] veggie124 commented on #7926
Same error when hard coding. Here is the debug from that round:
https://gist.github.com/veggie124/8dd22fc6325cbdc17dbe5cac95a5f3d2

note that the project number 308178187047 is from project A (where the service account lives)
[code]
This is the project we expect it to be created in.
![image](https://user-images.githubusercontent.com/1765654/100937986-80d57900-34b9-11eb-8e86-2a138f13abe7.png)

This

[2020-12-02 22:44] c2thorn commented on #7299
Looks like `customResponseHeaders` is available in the [beta API](https://cloud.google.com/compute/docs/reference/rest/beta/backendServices) but not [v1](https://cloud.google.com/compute/docs/reference/rest/v1/backendServices). Since the google-beta provider uses the beta API, that seems to be working and those tests are passing. @lpzdvd-packlink @cagataygurturk can you confirm if using the google

[2020-12-02 23:16] melinath commented on #7781
Terraform-google-conversion is being built by the Magician as of #4281. Looks like it's working.

Innocuous change: #4284
Bad change: #4285

Search logs for step #22

[2020-12-02 23:16] #7781 closed

[2020-12-02 23:21] edwardmedia commented on #7926
@veggie124 your log appears not the result running directly from the [code](https://github.com/hashicorp/terraform-provider-google/issues/7926#issuecomment-737528640)

I have tested your code cross different projects, it works fine with me.

If you still see an error in creating `google_kms_key_ring` by running above code, please post it debug log.

[2020-12-02 23:40] crossbill opened #7927 "Temp bucket parameter for google_dataproc_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-02 23:42] cagataygurturk commented on #7299
@c2thorn Correct, with the beta provider the property is properly applied and persisted. Thanks for fixing and apologies for the bug I have created!

[2020-12-03 00:00] veggie124 commented on #7926
Sorry I don't understand what you mean by

Are you saying the code I pasted is not what is running in the debug? The runs get kicked off when we merge branches with our source control and I'm looking at the master branch with the above code in it.

Here is the plan that the run created as well:
![image](https://user-images.githubusercontent.com/1765654/100945751-82a63900-34c7-11eb-89e9-89f48432436

[2020-12-03 03:37] bharathkkb commented on #7880
This one seems to be missing too https://github.com/GoogleCloudPlatform/magic-modules/pull/3956

[2020-12-03 04:01] beingminimal commented on #7894
Hi @edwardmedia ,

Let me brief about how we use the default service account and execute tf apply.
We need to perform all our terraform operations through Cloud build pipeline, and that has default service account project_id@cloudbuild.gserviceaccount.com. We have created `cloudbuild.yaml` file and integrated it with cloud build to perform tf apply in Cloud build.

[code]
Reference for default ser

[2020-12-03 08:11] afafara commented on #7921
@edwardmedia debug log and statefile: https://gist.github.com/afafara/2aa85a4bc65efe7088c5fc3d4052e537

Steps:
- create a simple function through `gcloud functions deploy` with `--source` param pointing to local folder with code (that deployed function with `sourceUploadUrl` parameter)
- run `terraform import`
- run `terraform apply`

According to [API reference](https://cloud.google.com/functions

[2020-12-03 08:39] lpzdvd-packlink commented on #7299
It will be nice if examples are updated as it's not clear if custom headers is a block or list(string).

[2020-12-03 14:11] vladyege commented on #7922
@edwardmedia Hi,
No, I can run gcloud command from provisioner "local-exec" or manually in console. It's not a problem. The problem is that I can't modify an instance after that. If I make some changes in google_sql_database_instance after patching an instance and then run "terraform apply" I've got above described error
Error: Error, failed to update instance settings for : googleapi: Error 400:

[2020-12-03 14:14] joerayme commented on #7896
Here's the [gist](https://gist.github.com/joerayme/788741c984d141d2a5db902973c68a56) for when I follow the above steps to reproduce after having changed the name of the service account.

Looking at [the code](https://github.com/hashicorp/terraform-provider-google/blob/08c9e64a8e261b6ec73bea97e2cfd7e7adb63f4b/google/iam_bigquery_dataset.go#L192) it appears that it's not expecting to find `deleted:`

[2020-12-03 14:34] schaffino commented on #7853
@ndmckinley @venkykuberan

Apologies for the slow response. I noticed that a fix has been put in for this so i've tested the test case in the issue with current master.

TRACE level logs below

https://gist.github.com/schaffino/1b969e148baa6f6d285104c68986980f

What we see now is that the operation is eventually successful, but is uninterruptible and continues retrying the failed call for 20 minut

[2020-12-03 15:26] lpzdvd-packlink commented on #7299
@c2thorn it works as expected.
Just one question, how do we know it is promoted again to GA?

[2020-12-03 16:56] ralbertazzi commented on #7896
@joerayme on a side note, I also think that this will fail in the context of this toy example, but that could be a separate issue:
1. Create a service account A
2. Assign IAM permission to it
3. Delete the service account A
4. Re-create the service account A with the same name (aka email)
5. Re-apply the IAM permission to it <- FAIL

I think that GCP will complain about the unfeasible existence of

[2020-12-03 17:04] edwardmedia commented on #7926
@veggie124 I thought you could have run `tf apply` manually. I see below call in your log which appears to be correct. I also noticed that there were a lot of other activities in the log. Because I don't have a full picture of config, I can't tell what's going on. When did you enable the kms service on `spins-poshta-dev` and does the Teeraform runner has permissions?

[code]

[2020-12-03 17:21] edwardmedia commented on #7922
@vladyege I see. Looking at the error `Binary log must be disabled when backup is disabled or the instance must be a replica instance with a MySQL 5.7 or above version...`, it seems to be a legit sql **rule**. Have you verified the patch you had applied is still compatible with your Terraform config?

[2020-12-03 18:32] venkykuberan commented on #7912
Curly brackets aren't matching, add `}` at the end of the config. Also looks like `RANGER` property values requires you to pre-set other attributes. Yoo need to refer API doc for more info

[code]

[2020-12-03 18:32] #7912 closed

[2020-12-03 18:36] venkykuberan commented on #7910
I am closing this issue now. if you come across the same situation again, please open a new issue with debug logs.

[2020-12-03 18:36] #7910 closed

[2020-12-03 18:48] c2thorn commented on #7299
@lpzdvd-packlink We can promote to GA after the API promotes the field to GA, and I am not sure when that would be. The [google provider changelog](https://github.com/hashicorp/terraform-provider-google/blob/master/CHANGELOG.md) will have an entry for when it is promoted to GA, and the [field documentation](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_back

[2020-12-03 18:53] venkykuberan commented on #7909
@nirby821 can you please attach the debug log here. If you can get http request/response from bq tool please include that as well.

[2020-12-03 19:00] edwardmedia commented on #7896
@joerayme did you do anything in the `project`? If

[code]

[2020-12-03 19:29] veggie124 commented on #7926
Alright, so I created a brand new project with the only resource being the keyring and received the same error.

Here is the config for that project:
[code]
the cloudkms api is enabled on this project (spins-keyring-test).

Here is the plan showing the project being hardcoded:
![image](https://user-images.githubusercontent.com/1765654/101076838-94401d00-3569-11eb-803f-edfaeb8e8922.png)

Here is th

[2020-12-03 21:28] andre-lx opened #7928 "nvidia taint along custom taints in google_container_node_pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-03 21:33] c2thorn commented on #7817
`TestAccIAMBetaWorkloadIdentityPoolProvider_aws` seems to be failing because the PATCH request
[code]
fails to persist and `accountId` does not change

[2020-12-03 21:39] slevenick commented on #7817
Hmmmm, potentially a eventual consistency issue?

[2020-12-03 22:01] slevenick commented on #7817
Nope, looks like the API updated to not allow updates on that field. The real error is hidden by a weird update mask behavior

[2020-12-03 22:02] c2thorn opened #7929 "Handwrite Data Catalog Taxonomy Sweeper"
### Affected Resource(s)

* google_data_catalog_taxonomy

When our CI project hits the limit of data catalog taxonomy resources, taxonomy tests get the unhelpful error message:
[code]
Based on b/144370106, this means we have too many unswept taxonomies from previous tests. The current sweeper https://github.com/hashicorp/terraform-provider-google-beta/blob/main/google-beta/services/datacatalog/res

[2020-12-03 22:03] c2thorn commented on #7817
Should it be moved to ForceNew?

[2020-12-03 22:29] slevenick commented on #7816
This seems to be fixed in the latest build

[2020-12-03 22:29] #7816 closed

[2020-12-03 22:56] rileykarson commented on #7871
@venkykuberan: Do you mind verifying whether or not you see the same behaviour, where non-default-SA  IAM bindings/members are affected?

[2020-12-03 22:59] upodroid opened #7931 "Allow changes to network_interface on compute_instance resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-03 23:53] #3950 closed

[2020-12-04 00:13] BusiPlay commented on #7892
@edwardmedia doesn't this effectively preclude the use of dynamic blocks in this case? Not sure how I can work around this - if I explicitly change the main.tf to provide an empty value I can’t do one thing if the variables contain data and another thing if they don’t?

[2020-12-04 03:29] edwardmedia commented on #7926
@veggie124 Besides other permissions, you have to enable the same service(s) on the host project as well. This is common GCP behavior.

[2020-12-04 04:06] edwardmedia commented on #7894
@beingminimal Oh it seems clear now. The Terraform provider uses its own way to authenticate itself to the APIs. How do you provide the credential to the Terraform? Do you expect it automatically uses `project_id@cloudbuild.gserviceaccount.com`  Please review this [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#impersonate_service_account_delega

[2020-12-04 04:46] ronjarrell opened #7934 ""boot_disk.0.kms_key_self_link": conflicts with boot_disk.0.disk_encryption_key_raw"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-04 11:25] Muhamed-Hamid commented on #7899
Thanks a lot edward this was error in the path as you pointed. Thanks a lot.

[2020-12-04 11:25] #7899 closed

[2020-12-04 12:44] BusiPlay commented on #7892
The Google Network module does work around this using the following:
  secondary_ip_range = [
    for i in range(
      length(
        contains(
        keys(var.secondary_ranges), each.value.subnet_name) == true
        ? var.secondary_ranges[each.value.subnet_name]
        : []
    )) :
    var.secondary_ranges[each.value.subnet_name][i]
  ]

[2020-12-04 13:11] upodroid commented on #6858
Still bugged.

[code]

[2020-12-04 14:27] eychenz commented on #7829
Temp workaround for me was to ignore its changes.
[code]

[2020-12-04 15:28] geirsagberg opened #7935 "google_storage_bucket: Support for DaysSinceCustomTime condition"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-04 15:59] salrashid123 opened #7936 "Add google_compute_instance argument to enable GCP cofidential compute instances"
Terraform provider (`v3.49.0`) does not include an argument that would enable a GCE VM to use [Confidential Compute](https://cloud.google.com/compute/confidential-vm/docs/creating-cvm-instance#create_a_new_instance)

the config parameter to enable that is:
[code]
[API:](https://cloud.google.com/compute/docs/reference/rest/v1/instances/insert#request-body)
[code]

---

maybe something similar to th

[2020-12-04 16:48] edwardmedia commented on #7928
@andre-lx help me understand how it should work after you uncomment the block?

[2020-12-04 16:52] edwardmedia commented on #7934
@ronjarrell can you provide all data for the variables and steps how to repro the issue?

[2020-12-04 16:58] #7223 closed

[2020-12-04 16:59] edwardmedia commented on #7892
@BusiPlay I will take a look at the [example](https://github.com/hashicorp/terraform-provider-google/issues/7892#issuecomment-738764397) . It would be better if you can have a full config. Sorry about the inconvenience  . I understood and agreed with you.

[2020-12-04 17:52] andre-lx commented on #7928
Hi @edwardmedia . Don't know if I understand correctly your question.

After uncomment the nvidia taint, everything works correctly in the updates.

The problem is with the first deploy using `terraform apply`, if the gpu pool have more than one taint.

I will provide a more extensive example:

First `terraform apply`:

`gke-cluster.tf`
[code]

This configuration, will work, and the pool is correc

[2020-12-04 18:30] rileykarson opened #7938 "Add support for `enableEndpointIndependentMapping` to `google_compute_router_nat`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-04 19:26] #7792 closed

[2020-12-04 19:27] rileykarson opened #7939 "Make instance reference fields consistent between google_bigtable_table/google_bigtable_table_iam"
One refers to the instance by `instance` and the other by `instance_name`. We could consider making them match.

[2020-12-04 19:31] rileykarson opened #7940 "Fail fast on Filestore 429s"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-04 19:42] jcanseco opened #7942 "Field descriptions for container_cluster and container_node_pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-04 22:35] #7299 closed

[2020-12-04 23:05] Sytten opened #7944 "Bug in target https proxy causing a failed state"
**EDIT: I realized this is mostly likely due to terraform 0.14.0, my bad**

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for

[2020-12-05 00:58] #7944 closed

[2020-12-05 01:01] Sytten opened #7945 "Weird state error with TF 0.14.0 on changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-05 01:55] ndmckinley commented on #7853
Understood.  I think the 412s are probably getting caught in a retry loop that doesn't use the isConflictError - that would explain why it takes so long.  I'll put this back on the pile!

[2020-12-05 10:36] beingminimal opened #7946 "Document link update for security command center"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-05 12:44] eychenz opened #7947 "enable_private_endpoint is true, yet the cluster is publicly accessible"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-05 13:09] salrashid123 commented on #7936
its actually already there.
https://github.com/hashicorp/terraform-provider-google-beta/blob/master/CHANGELOG.md#3360-august-24-2020
https://github.com/GoogleCloudPlatform/magic-modules/pull/3824/files

but not in the documentation page

[2020-12-05 17:04] cagataygurturk commented on #7299
@lpzdvd-packlink The example usage is here and it is as same as custom request headers: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_backend_service#example-usage---backend-service-network-endpoint

[2020-12-05 22:51] geirsagberg commented on #7935
Seems this is a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/7223, which has been fixed in https://github.com/hashicorp/terraform-provider-google/pull/7937. Nice, closing this :)

[2020-12-05 22:51] #7935 closed

[2020-12-06 00:05] JSteeleIR opened #7948 "google_billing_budget cannot be used under user authority."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-06 16:42] edwardmedia commented on #7948
@JSteeleIR the error message seems clear about what is wrong. Yo may also check if you can follow the [steps](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#impersonating-service-accounts) to resolve the issue

[code]

[2020-12-06 16:46] edwardmedia commented on #7945
@Sytten Is this the same issue of #7944? Can you share the full debug log?

[2020-12-06 16:50] mbrancato commented on #7846
hi @rileykarson - It looks like subnetworks are included in the REST API response on both creating a network and reading a network.
https://cloud.google.com/compute/docs/reference/rest/v1/networks/get
https://cloud.google.com/compute/docs/reference/rest/v1/networks/insert

I think the code generated would need to look like this in `resource_compute_network.go`:

[code]

[2020-12-06 16:50] edwardmedia commented on #7894
@beingminimal Is this still an question? Cloud Build odes not automatically use its default account to be as the Terraform runner account. You need to link these together. If I misunderstood your question, please clarify.

[2020-12-06 16:52] edwardmedia commented on #7895
@tetsuya0617 is this still an issue?

[2020-12-06 16:53] edwardmedia commented on #7919
@NandoTheessen is this still an issue?

[2020-12-06 16:53] edwardmedia commented on #7920
@terradict Is this still a question?

[2020-12-06 16:55] Sytten commented on #7945
Same issue but different resources so it hunts at a larger problem. Is it possible to get debug logs on terraform cloud?

[2020-12-06 16:56] edwardmedia commented on #7922
@vladyege have you verified if the gcloud command actually has changed the behavior that causes the error in further TF run?

[2020-12-06 16:58] edwardmedia commented on #7923
@balagaa is this still an issue?

[2020-12-06 16:59] edwardmedia commented on #7926
@veggie124 does this make sense to you? Is this still an issue?

[2020-12-06 17:12] Sytten commented on #7945
@edwardmedia Found it, here is the debug of the apply. Let me know if you need the debug of the planning, it contains sensitive stuff so I can send it over email but not here.
[run-f3xqCuxgPnmv3xrm-apply-log.txt](https://github.com/hashicorp/terraform-provider-google/files/5649187/run-f3xqCuxgPnmv3xrm-apply-log.txt)

[2020-12-06 17:18] edwardmedia commented on #7945
@Sytten I noticed you use random data for the name. Any particular reason? Do you want to new name for every time it runs?

[code]

[2020-12-06 17:23] balagaa commented on #7923
Issue resolved

On Sun, Dec 6, 2020, 5:58 PM Edward Sun <notifications@github.com> wrote:

[2020-12-06 17:46] Sytten commented on #7945
@edwardmedia I use the keeper parameter with the list of domains, its because you need a new name for the provider to create a new certificate when you change domains in the cert. So this doesnt change on every run.

[2020-12-06 18:07] edwardmedia commented on #7945
@Sytten can you post the other resources?  It looks this happens in the following applies. If this is the case, can you specify the steps how I can repro the issue? You may redact the secrets in the logs and post them at https://gist.github.com/.

[2020-12-06 18:24] Sytten commented on #7945
I am still unconvinced that has anything to do with the random provider. The logs I posted above are related only to this resource which doesn't use it.
[code]
I think the steps are fairly simple:
1. Use terraform 0.14.0 with latest gcp provider version
2. Create the url map like above
3. make a change to the url map
4. Try to apply it, it fails
Here is the plan: https://gist.github.com/Sytten/3fa

[2020-12-06 18:46] edwardmedia commented on #7945
@Sytten can you specify what change(s) in step2? To repro, I don't know the data for variables / modules, etc? Can you hard-coded all the values, and rerun all the steps?

[code]

[2020-12-06 19:53] edwardmedia commented on #7928
@andre-lx I have tested cases by providing either one of below `taint` or both `taint` together. All tests are fine with during the first `tf apply`. Can't hit your error. By changing any taint afterward, it does show `force replacement` in the following `tf apply`, which is expected. I noticed the error `more than one taint with key nvidia.com/gpu`, Are you aware if the key is already in place? D

[2020-12-06 20:39] Sytten commented on #7945
Anything can change it doesn't matter, the issue is not in the resource AFAIK. I can create a repo to reproduce if you want. Do the tests even pass with TF 0.14? This is such a core issue I would assume they don't.

[2020-12-06 21:11] andre-lx commented on #7928
Hi @edwardmedia .

Thanks for the quick response.

Since the nvidia taint is the default for the gpu node pools created by gke itself (even if you create the node pools manually), the only configuration missing in my examples, that can actually affect this, is the `guest_accelerator`, as the following example:

[code]

Thanks!

[2020-12-07 00:55] tetsuya0617 commented on #7895
I solved this issue after I wrote tf file as you suggested. Thank you.

[2020-12-07 01:06] edwardmedia commented on #7928
@andre-lx below is the result from my first run. Did I miss anything?

[code]

[2020-12-07 01:15] edwardmedia commented on #7945
@Sytten there are daily tests which do not show failures. I need specific steps and changes to repro the issue.

[2020-12-07 01:16] edwardmedia commented on #7923
Cool. Closing the issue then

[2020-12-07 01:16] #7923 closed

[2020-12-07 01:17] edwardmedia commented on #7895
Cool. Closing the issue then

[2020-12-07 01:17] #7895 closed

[2020-12-07 04:11] beingminimal commented on #7894
Hi @edwardmedia ,

Regarding cloud build service account, to run terraform runner with cloud build we have given additional IAM roles to default service account so that can be used as terraform runner. And with that service account, we can create all other required GCP resources but getting errors with the cloud build trigger.

And can you please elaborate on why we need to impersonate service acc

[2020-12-07 05:03] talonx commented on #7878
Can somebody help here? I tried what you suggested. What am I missing?

[2020-12-07 05:10] edwardmedia commented on #7894
@baroncharlus the Terraform provider uses its way to [provider credentials](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/getting_started#adding-credentials). How do you let the provider to pick the CB's service account? Please go over the doc to understand how the provider authenticate itself. This is not the permissions. It is the issue of a wrong account

[2020-12-07 05:48] JSteeleIR commented on #7948
I can confirm, impersonating a service account does appear to work. From the terraform/google-provider perspective, I guess this is a non-issue.

We might want to file a bug with the Budget API team, though. I think this restriction is something that should be addressed on their side. I can think of no logical reason this API should be inaccessible from EUCs, and I think that restriction does forc

[2020-12-07 09:14] terradict commented on #7920
Thanks for the answer @edwardmedia !

Indeed, I am realizing that in our case, there no point in splitting the roles between several SAs, given that all the steps are executed at the same step. So I am closing this issue.

Thanks again !

[2020-12-07 09:14] #7920 closed

[2020-12-07 11:57] andre-lx commented on #7928
Hi @edwardmedia.

You didn't miss anything. Bellow is my full config:

[code]

I just copy and paste your `google_container_node_pool` in my files and run `tf apply`. The follow error occured:
[code]

The full `tf apply` output:

[code]

Creating the pool using the `gcloud container command`, with the same service account as terraform:

[code]

Output:
[code]

Thanks!

[2020-12-07 13:54] BusiPlay commented on #7892
Full config of the workaround used by the Google Network module can be reviewed at https://github.com/terraform-google-modules/terraform-google-network/tree/master/modules/subnets. I've mainly placed it here for posterity, it just confirms that dynamic can not be used with this resource, and shows how to work around it.

As a purely academic exercise, I looked for other keyed attribute blocks that

[2020-12-07 15:47] ggprod opened #7950 "Will beta 3.50.0 include custom_response_headers in backend_bucket and backend_service?"
Also, it seems like it is overdue, when will the release of 3.50.0 (specifically of the beta provider) happen?

If you have a support request or question please submit them to one of these resources:

* [Terraform community resources](https://www.terraform.io/docs/extend/community/index.html)
* [HashiCorp support](https://support.hashicorp.com) (Terraform Enterprise customers)
* [Google Cloud Plat

[2020-12-07 16:11] edwardmedia commented on #7948
@JSteeleIR I am glad you have found the solution. Closing the issue then. Feel free to reopen if you need further discussion.

[2020-12-07 16:11] #7948 closed

[2020-12-07 16:14] edwardmedia commented on #7950
@ggprod Likely it will come out today

[2020-12-07 16:14] #7950 closed

[2020-12-07 16:26] edwardmedia commented on #7928
@andre-lx `forceReplacement` on *taint* is[ by design](https://github.com/hashicorp/terraform-provider-google/blob/b5463e7e012feba895c8d8182894c7f8325ab10b/google/node_config.go#L179). Do you have reasons why it should trigger node pool recreation?
Do you still have questions regarding `Found more than one taint with key nvidia.com/gpu...`? I think running `gcloud command...` has explained why.

[2020-12-07 16:42] andre-lx commented on #7928
Hi @edwardmedia.

In short,
Since I can't create the node pool with the nvidia taint, since it's a default from gke, how can I prevent the pool recreation each time I run `tf apply`? How can I set custom taints at the same time as the nvidia taint?

Why the pool is recreated if the nvidia taint is the default by gke?

And, why the pool is not recreated if no custom taints are used (or better, if o

[2020-12-07 16:44] upodroid commented on #7936
:D I'll get it fixed.

[2020-12-07 16:52] edwardmedia commented on #7921
@afafara Looked at the state, it seems `sourceUploadUrl` has already been set after you ran the `gcloud function deploy ...`. In the Terraform config, you are adding more source(s) which might trigger the exception against the cloudfunction rule. This is not error from Terraform. You might need to play around with the settings.

[2020-12-07 17:09] afafara commented on #7921
@edwardmedia `gcloud function deploy` with [local source code](https://cloud.google.com/sdk/gcloud/reference/functions/deploy#--source) does that - it zips the content and sets `sourceUploadUrl` - nothing else was done with cloud function except these 3 steps (gcloud deploy, terraform import, terraform apply).

Terraform Google provider currently does not use that method (see #3085), and `sourceUp

[2020-12-07 17:29] edwardmedia commented on #7928
@andre-lx I am not sure if I understand what you said correctly. In my tests, I have tried to put 1) both nvidia and a customer `taint` together 2) either one of `taint` in new node pools. All 3 cases were fine. No exceptions were received.  I don't understand what you meant below.

[code]

Where do you see `nvidia taint is the default by gke`? Can you share a document?

From the provider's perspe

[2020-12-07 18:03] edwardmedia commented on #7950
@ggprod  it has been released 40 minutes ago

[2020-12-07 18:19] andre-lx commented on #7928
@edwardmedia the nvidia taint is created by default on gpu node pools as you can see here:
https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#create

That't why (I think), I can't add the taint in node pools at creation time, as I explained in the other comments, and that's why terraform and gcloud give me the error:

[code]

Because of this I don't understand how did you manage to create

[2020-12-07 18:30] edwardmedia commented on #7928
@andre-lx I see. Thanks for the link. In my tests, all node pools were added to a new cluster, which is different from adding pools to an existing cluster

[code]

[2020-12-07 18:34] slevenick commented on #7921
Hm, ok so the easy solution would be to remove the `sourceUploadUrl` when updating the cloudfunction. That *should* work for this use case

[2020-12-07 18:35] Gilles95 opened #7951 "default_service wrongly required in google_compute_region_url_map in path_matcher bock"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-07 18:36] andre-lx commented on #7928
@edwardmedia I didn't know that either or had already mentioned it! I'm glad you saw that.

[2020-12-07 18:40] edwardmedia commented on #7928
@andre-lx closing this issue then. Feel free to reopen if you see there is something the provider can help. Thank you

[2020-12-07 18:45] morgante commented on #7928
I don't think we should close this, as it's still a fundamental issue with how the provider interacts with the GKE API. There is no way to get it working without manual workarounds (commenting/uncommenting) today.

The provider should be smart enough to ignore the GPU taint, either on first creation/apply or when diffing backwards later.

[2020-12-07 18:58] edwardmedia commented on #7896
@ralbertazzi [this](https://github.com/hashicorp/terraform-provider-google/issues/7896#issuecomment-737060651) is not the use case for Terraform. You should try to avoid manual updateing the resources. If you have to, you may run `import` to sync.

[2020-12-07 19:02] ralbertazzi commented on #7896
@edwardmedia unfortunately this happens in our organization. We usually have one Terraform configuration per project, but in some projects we assign IAM roles to service accounts from other projects (i.e. managed in another Terraform configuration), which means that we don't have full visibility of what happens in other projects.

[2020-12-07 19:19] melinath commented on #7752
b/174871072

[2020-12-07 19:26] edwardmedia commented on #7896
@joerayme reviewing your [comments](https://github.com/hashicorp/terraform-provider-google/issues/7896#issuecomment-737158892), changes applied outside Terraform might not be a good use case either.

[2020-12-07 19:29] edwardmedia commented on #7896
@joerayme @ralbertazzi up to now, I don't see anything breaks in the provider plugin. Closing the issue then. Feel free to reopen the issue if you need further conversation. Thank you

[2020-12-07 19:29] #7896 closed

[2020-12-07 19:30] c2thorn opened #7952 "Fix TestAccDataSourceComposerEnvironment_basic test"
[code]
Looks like the datasource isn't being read correctly?

[2020-12-07 19:32] tSte opened #7953 "data.google_policy_iam fails with key does not identify an element"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-07 19:35] c2thorn opened #7954 "Fix TestAccCloudRunDomainMapping_cloudRunDomainMappingBasicExample test"
[code]
Terraform wants to destroy/recreate after applying, probably due to a new server-provided annotation:
[code]

[2020-12-07 19:37] c2thorn opened #7955 "Fix TestAccBigqueryConnectionConnection_bigqueryConnectionBasicExample"

[2020-12-07 19:40] c2thorn opened #7956 "Fix TestAccComposerEnvironment_* tests"
They seem to be for separate issues, but hopefully they can both be tackled at the same time.

TestAccComposerEnvironment_privateWithWebServerControl
[code]

TestAccComposerEnvironment_withUpdateOnCreate
[code]

[2020-12-07 19:41] andre-lx commented on #7928
I can't agree more with @morgante.

A simple and effective solution can be:

If it is a gpu pool (have the `guest_accelerator` defined) in the `google_container_node_pool`, you can have 3 types of config:

- the nvidia taint **is specified** in the taint block along another specific taint by the developer -> the provider should ignore the nvidia taint in creation, and leave it in the next deploys

[2020-12-07 19:42] c2thorn opened #7957 "Fix TestAccContainerCluster_* tests"
Both `TestAccContainerCluster_withConfidentialNodes` and `TestAccContainerCluster_withAdvancedDatapath` return errors indicating that the tests are simply misconfigured. Finding the test values to satisfy the API errors seems to be the path here.

[2020-12-07 19:43] c2thorn opened #7958 "Fix TestAccDataCatalogPolicyTag_dataCatalogTaxonomiesPolicyTagChildPoliciesExample"
[code]

[2020-12-07 19:47] c2thorn opened #7959 "Fix TestAccFirebaseWebApp_firebaseWebAppFull"
[code]

[2020-12-07 19:52] c2thorn opened #7960 "Fix TestAccFilestoreInstance_* tests"
Terraform wants to update the `file_shares` block after applying. Very likely the block needs to be set to computed.

[2020-12-07 19:53] #7817 closed

[2020-12-07 19:59] ggprod commented on #7950
@edwardmedia Thanks!

[2020-12-07 20:05] edwardmedia commented on #7953
@tSte can you provide data for the variables so I can test your code? As you mentioned above under **Important Factoids**, without going details, it seems me to the issue is about how to use the dynamic code.

[2020-12-07 20:22] edwardmedia commented on #7951
@Gilles95 do you notice the [default_service](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_region_url_map#default_service) field at the root? Let me know if that works

[2020-12-07 20:33] rileykarson commented on #7907
Note for implementing: We need to change the MMv1 id format from `{{name}}` to `projects/{{project}}/webApps/{{app_id}}`. This will also add support for `{{project}}/`{{app_id}}` and
 `{{app_id}}` formats.

[2020-12-07 20:43] ndmckinley commented on #7940
Related: https://github.com/hashicorp/terraform-provider-google/issues/7853 - wherever we define fail-fast errors should probably be done for this one too.

[2020-12-07 21:19] upodroid commented on #7828
I don't agree because the API expects a b64 payload and terraform has a way of easily converting something to b64. In the unlikely event a newcomer doesn't know that terraform has b64 helper functions, there is a clear example that uses the b64 encode function.

Also, this is isn't the only resource that wants a b64 encoded field.

[2020-12-07 21:20] rileykarson commented on #7928
Ah- the behaviour on creation time is definitely something we need to fix.

For general handling of GPU taints, we can unify the behaviour with https://github.com/GoogleCloudPlatform/magic-modules/pull/3749. We'd previously [removed special handling for system taints](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/version_3_upgrade#taint-field-is-now-authoritative-when

[2020-12-07 21:31] bleything commented on #7828
Yeah, I hear you. There's certainly a philosophical difference here that needs to be considered and decided upon.

My position is that the user shouldn't have to know that the API expects base64. The principle of least surprise is a core value of mine, and so my opinion is that we should make an effort to allow the user to specify the payload in any format and the provider should do the right thin

[2020-12-07 21:47] upodroid commented on #7956
Might be a temporary thing.

https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#req_res_lim found this while looking for something else.

Regardless that range breaks CloudSQL which is part of the infra that Composer creates. https://cloud.google.com/sql/docs/sqlserver/configure-private-ip

[2020-12-07 21:55] venkykuberan commented on #7871
@rileykarson I don't see any non-default SA members are affected on my end by that resource.

[2020-12-07 22:05] schirayu opened #7961 "Add backup retention field to Cloud SQL"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-07 22:07] slevenick commented on #7871
Huh, the code certainly looks like it would remove any bindings for any service accounts in the project IAM policy. Should be able to write a test to confirm.

Suspect code: https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/resources/resource_google_project_default_service_accounts.go#L116

This line should probably check more explicitly for the default service

[2020-12-07 22:09] Gilles95 commented on #7951
@edwardmedia , thanks for following up. Yes I noticed it at the root, the root one is actually optional which is good, and we also have default_service within the path_matcher block, but that one is not optional and should be.
I am getting familiar with magic-module to PR it.

[2020-12-07 22:12] rileykarson commented on #7871
@slevenick: The default service accounts this resource covers are specifically the same-project ones of which there are exactly two, I think? GCE and AppEngine: https://github.com/hashicorp/terraform-provider-google-beta/blob/master/google-beta/resource_google_project_default_service_accounts.go#L207-L208

[2020-12-07 22:14] slevenick commented on #7871
Ah, yeah it looks like we list *all* service accounts and remove permissions from them: https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/resources/resource_google_project_default_service_accounts.go#L169

That can't be right

[2020-12-07 22:14] renchap commented on #7945
I am seeing the same issue with TF 0.14 & provider 3.50.0, and I am using fixed strings as names:

[code]

[2020-12-07 22:15] rileykarson commented on #7871
That list gets filtered: https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/resources/resource_google_project_default_service_accounts.go#L147-L158

While you're in the resource, we could inline a whole bunch of the code to make it clearer to read.

[2020-12-07 22:22] nma commented on #7213
The original customer that requested this feature has went with another solution. There is also no additional demand for the resource, so we can close this ticket for now.

I will keep my forked branches around for a few quarters in case there is more user demand to reopen this issue.

[2020-12-07 22:25] upodroid commented on #7807
Is this a public resouce yet?

[2020-12-07 22:28] rileykarson commented on #7807
Nope, this one's expected around mid-Jan.

[2020-12-07 22:34] #7936 closed

[2020-12-07 22:35] rileykarson commented on #7936
@salrashid123: Note that this is currently only available at beta. It's now documented, though!

[2020-12-07 22:37] c2thorn commented on #7878
@talonx, sorry about the delay. From what I can understand you do _not_ want to create this instance as a replica? If that is the case, you can remove the `replica_configuration` block entirely.

If that is not the case and you want `grafana-mysql` to be a replica, you must supply a `master_instance_name` referring to another instance. It seems to be an oversight that the provider does not require

[2020-12-07 22:40] salrashid123 commented on #7936
yep! thanks for the  really quick turnaround!
 @upodroid , @rileykarson

[2020-12-07 22:57] c2thorn commented on #7878
I see, `master_instance_name` can exist without `replica_configuration` defined. @talonx, let me know if my previous comment has helped your issue, and I can reopen.

[2020-12-07 22:57] #7878 closed

[2020-12-07 23:19] Sytten commented on #7945
@renchap Did you see similar issues with other resources? because I had issues with another resource in #7944 so thats why I thought it was a more serious issue.

[2020-12-08 00:10] melinath commented on #7797
Is the expectation for this ticket that I should essentially pull in the terraform provider and use its client configuration code? Or that I would assume (for now) that the user has a basic setup with common env vars set, and instantiate the api client(s) necessary using that information if available?

I think the full configuration code couldn't easily be copied over, but I could potentially copy

[2020-12-08 00:37] alex-pravdin-sn opened #7964 "Lack of the documentation of the import command resources FQN formats"
It seems like there's no documentation of how to use the import command with GCP. Particularly, I can't find the second parameter format which identifies resources in GCP. It seems to be completely different from the format used in GCP API.

For example, I somehow invented the format to import a Cloud Run service: `locations/<location>/namespaces/<project id>/services/<service name>`. But I'm stuc

[2020-12-08 03:32] mhenderson-t2 commented on #7934
I had this same issue. I'm not able to provide a complete code sample due to the block being way too large to filter down to a useful subset. However, I rolled Terraform back to 0.13.5 and the issue went away.

My disk was defined like this:

[code]

That's it - no encryption specified at all.

[2020-12-08 06:10] Clausewitz45 commented on #7871
@slevenick Yes, I can confirm, after running `terraform apply` my IAM was completely cleaned up. Not just Gcp service accounts, but user accounts too.

[2020-12-08 06:41] jpuyy commented on #7945
we have the same issue

[code]

[2020-12-08 08:23] beingminimal opened #7965 "Add support for atomically updating multiple rules in a security policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-08 08:34] tSte commented on #7953
@edwardmedia I created sample TF project like this:
[code]

Do not get confused by fact that `gke/main.tf` has only public IP address; in our case, it has entire GKE cluster. I just wanted to reproduce the scenario as closely as possible while staying minimalist.

gke/main.tf
[code]

job/main.tf
[code]

job/variables.tf
[code]

main.tf
[code]

variables.tf
[code]

[code]

main.tfvars
[code]

Run `

[2020-12-08 09:06] pdemagny commented on #7945
I think i'm having the same issue, or something related to it maybe ...

I can create my infrastructure without issues, i can also destroy it without issues. But when i tried to plan, it errors out :(
Using **Terraform 0.14.0**, **google-provider-beta 3.49.0**, **google-provider 3.49.0**.

[code]

I'm not sure if this is relevant, but i'm seeing lots of similar things in the debug logs, for other

[2020-12-08 09:20] mcfedr opened #7966 "Changing SSL certificates in google_compute_target_https_proxy results in inconsistent final plan from .proxy_id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-08 10:27] Tony-Proum commented on #1938
Hi, I use this little workaround
[code]
As the name of the cloud function force the creation of a new version, I just injected the md5 hash at the end of its name.
The regex allows to only outputs authorized characters. (if the name became too long I also suggest to use something like `substr` function to only use 8 or 10 characters from the md5)

[2020-12-08 11:14] mcfedr commented on #7966
Appears to be similar to https://github.com/hashicorp/terraform-provider-google/issues/7945

[2020-12-08 11:15] mcfedr commented on #7966
And https://github.com/hashicorp/terraform-provider-google/issues/7944

[2020-12-08 12:57] edwardmedia commented on #7934
@ronjarrell Is your case the same as Mark's? If yours is still an issue, can you provide data so I can repro it?

[2020-12-08 13:00] tSte opened #7967 "GCS Bucket CORS cannot be removed once created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-08 13:36] edwardmedia commented on #7951
@Gilles95 have you tried to put `default_service` at the root?

[2020-12-08 13:49] edwardmedia commented on #7953
@tSte how did you figure `my_playground.svc.id.goog[${var.gke_ns}/${each.value}]"` is the format of the service account? After execution, did you see these two accounts available?

[code]

[2020-12-08 13:52] edwardmedia commented on #7894
@baroncharlus does that make sense to you?

[2020-12-08 13:53] edwardmedia commented on #7919
@NandoTheessen Closing this issue, assuming it is no longer an issue.

[2020-12-08 13:53] #7919 closed

[2020-12-08 13:55] edwardmedia commented on #7922
@vladyege Closing, assuming it is no longer an issue

[2020-12-08 13:55] #7922 closed

[2020-12-08 14:13] tSte commented on #7953
@edwardmedia this is a GKE binding, see [Workload identity docs](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#concepts).

Please, keep in mind that we have been using this successfully for some time, but with the exception that we do not supply `"serviceAccount:my_playground.svc.id.goog[${var.gke_ns}/${each.value}]"` but something like this `"serviceAccount:${google_con

[2020-12-08 14:16] edwardmedia commented on #7967
@tSte it is fine with me. In my test, I see the `cors` block is removed. Can you post the debug log?

[2020-12-08 14:26] edwardmedia commented on #7953
@tSte in your example,  `"serviceAccount:my_playground.svc.id.goog[${var.gke_ns}/${each.value}]` does not make sense to me. That matches the error you observed and reported.
Regarding `a GKE binding`, without seeing the code, it's hard for me to comment. It would be helpful if you provide any code that can help repro the issue.

[2020-12-08 15:09] Sytten commented on #7966
Ok I am glad to see I was not crazy :D

[2020-12-08 15:12] Sytten commented on #7967
There was an issue fixed in provider release 3.50.0 about that: https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.50.0
Since the example is using 3.49.0 I would guess this is the issue.

[2020-12-08 16:02] sharkymcdongles opened #7968 "Setting kubelet_config to disable cpu_cfs_quota does not seem to work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-08 16:38] edwardmedia commented on #7967
@tSte yes. there was a fix in v3.50.0 that might be related. Can you confirm changing the version fixes the problem? If not, please post the debug log

[2020-12-08 17:17] edwardmedia commented on #7968
@sharkymcdongles i tested it seems fine with me. Below is what I got.

[code]

Not sure why you checked by running `gcloud compute instances...`. Mine is `gcloud beta container node-pools describe....` Do you want to try?

[2020-12-08 17:26] melinath commented on #7960
This is a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/7750

[2020-12-08 17:26] #7960 closed

[2020-12-08 17:30] slevenick commented on #7871
Yeah, I've got a fix for this coming. There is definitely a bug with `DEPRIVILEGE` I would recommend not using that action until the fix is available.

[2020-12-08 17:49] sharkymcdongles commented on #7968
@edwardmedia I tried the command you suggested and here is what I get back:

gcloud beta container node-pools describe --project MY_PROJECT --cluster MY_CLUSTER --region europe-west2 MY_NODEPOOL

[code]

I'd expect to see this under kubelet config because cpuCFSQuota is true by default:

[code]

![image](https://user-images.githubusercontent.com/29139537/101521398-183d3f00-3986-11eb-985d-b92a62c35

[2020-12-08 17:49] rolandkool opened #7969 "Unable to remove google_access_context_manager_access_level in one run when still referenced"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-08 19:02] edwardmedia commented on #7968
@sharkymcdongles I can't explain you can't see it. You may post the debug log for `terraform apply`, and I can take a look.

[2020-12-08 19:15] tSte commented on #7967
@Sytten confirmed - 3.50.0 solves this.

[2020-12-08 19:15] #7967 closed

[2020-12-08 19:16] edwardmedia commented on #7959
These attributes database_url, location_idand measurement_id are no longer included in the response.

[2020-12-08 19:18] sharkymcdongles commented on #7968
I dont see it in what you pasted me from your end either though. All I see
is cpuManagerPolicy nothing cos quota related. Can you see cfs quota as
false in your output for nodepools describe?

I am afk now, but I can add logs tomorrow. When I check the plan and state
I do see it set, but I don't see it anywhere in gcloud cli nor the gui.

On Tue, 8 Dec 2020, 20:02 Edward Sun, <notifications@github

[2020-12-08 19:51] Gilles95 commented on #7951
@edwardmedia, yes I did but the issue remains and the error point to the path_matcher line block.

[2020-12-08 20:09] edwardmedia commented on #7968
@sharkymcdongles I see what the problem is. No log needed. Thanks

[2020-12-08 21:17] tSte commented on #7953
@edwardmedia okay, clean up and change `gke/main.tf` to
[code]

and try the procedure again. Keep in mind that I don't use `my-playground` but real GCP project. Change this to whatever you need. Also I mage a typo in `"serviceAccount:my_playground.svc.id.goog[${var.gke_ns}/${each.value}]"` - it should have been `my-playground`, not `my_playground`.

Anyway, try those steps again:
1. Run `terraform

[2020-12-08 22:11] slevenick commented on #7966
This looks like a problem in 0.14.0 rather than the provider. I have filed https://github.com/hashicorp/terraform/issues/27208

I would recommend downgrading to 0.13.x if possible as we track down what the fix should be

[2020-12-08 22:11] slevenick commented on #7945
This looks like a problem in 0.14.0 rather than the provider. I have filed https://github.com/hashicorp/terraform/issues/27208

I would recommend downgrading to 0.13.x if possible as we track down what the fix should be

[2020-12-09 04:46] NandoTheessen commented on #7919
@edwardmedia hey, sorry for the late response.
Yes, this still is an issue.

I've found that if I removed the OAuth scopes from the nodes completely and reran, nodes did come up for the new cluster but that behavior isn't consistent. However, I'm pretty sure now that the issue isn't with the Google Provider itself but with the used terraform module.

[2020-12-09 07:56] dawidpogorzelski opened #7971 "google_compute_instance_template: Error: doesn't support update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-09 11:06] pietrodn commented on #7896
@joerayme what if we are tracking some dataset permissions with `google_bigquery_dataset_iam_member` and a service account, whose permissions we don't track in the Terraform state, is deleted?
It would give a parsing error.

`google_bigquery_dataset_iam_member` is **non-authoritative**, therefore it should handle gracefully (i.e., ignore) the changes in the permissions that are not tracked in Terr

[2020-12-09 12:23] joerayme commented on #7896
Exactly. This exact issue has cropped up for us; it's why I opened the ticket. Things happen and my Terraform shouldn't break because someone accidentally deleted a service account or even offboarded a member of staff that's managed by some other bit of Terraform. Deleted members are handled elsewhere and a bug related to this was even opened pre-emptively (#7278) so I don't see why this should be

[2020-12-09 13:36] pietrodn commented on #7896
Oops, I meant to tag @edwardmedia instead 😄  but yes, that's my concern.

[2020-12-09 15:10] Sytten commented on #7966
Ha so my guess was correct but not the source of the problem. It is a core issue and not a resource issue.
Thanks @slevenick

[2020-12-09 16:40] edwardmedia commented on #7894
@beingminimal closing this assuming it is no longer a question. Feel free to reopen it if you need further conversation

[2020-12-09 16:40] #7894 closed

[2020-12-09 16:41] edwardmedia commented on #7926
@veggie124 closing this assuming it is no longer an issue.

[2020-12-09 16:41] #7926 closed

[2020-12-09 16:44] edwardmedia commented on #7934
@ronjarrell has your issue been resolved?

[2020-12-09 16:50] edwardmedia commented on #7953
@tSte can you update the [code](https://github.com/hashicorp/terraform-provider-google/issues/7953#issuecomment-741047194) to include all other resources and variables that are needed to repro the issue?

[2020-12-09 16:55] venkykuberan commented on #7239
@Tailzip per [API doc](https://cloud.google.com/monitoring/api/ref_v3/rest/v3/services.serviceLevelObjectives#AvailabilityCriteria), availability SLI isn't supported yet. Looks to me its just a place holder. I am not sure we can achieve any by passing empty `availability{}` to API. Can you please brief us what you are trying to achieve with the `availability` metric there ?

[2020-12-09 17:04] edwardmedia commented on #7969
@rolandkool can you be more specific how to `remove`? Mind add the config that is after `remove` is done?

[2020-12-09 17:19] edwardmedia commented on #7971
@dawidpogorzelski this is by [design](https://github.com/hashicorp/terraform-provider-google/blob/13e49e48828cb5a2d6ac15f3f1b195209edb4c25/google/resource_compute_instance_template.go#L38). [API](https://cloud.google.com/compute/docs/reference/rest/v1/instanceTemplates) does not support update. Please close the issue if this makes sense to you

[2020-12-09 17:22] dawidpogorzelski commented on #7971
Well there's 2 issue with the above code,
first that there is a change detected even tho there was no change made and there is actually no change detected even if the diff output but somehow the resource is marked to be updated.
The second is that if any updates happen to the template the google provider should destroy and recreate the resource as it used to be so far. This issue only happens from

[2020-12-09 17:50] rileykarson opened #7972 "Add CI-only tests that provision interconnects"
Our CI project should have a debug flag enabled that causes us to spin up test interconnects instead of real ones, making debugging feasible. Note that outside of initial development, we should only run these as part of our nightly tests- the service team asked us to have low usage.

[2020-12-09 18:16] edwardmedia commented on #7971
@dawidpogorzelski oh I see. Probably there is not much we can do with it within the provider plugin. Mind file an issue with Terraform against 0.14.0 instead?

[2020-12-09 18:16] #7971 closed

[2020-12-09 19:55] ronjarrell commented on #7934
No, I;ve tried it under, as i said, 12.29, 13.5 and 14, and the provider fails each time.  I segfaults in 12 15, but got an actuall error message from 14.0 about the message variables.  Note it's complaining  I'm using kms keys I'm not using and and that I'm writing to the sha256 output value, which Im not.

Some of those values are generated a cross a few thousand likes of distributed code in dif

[2020-12-09 20:05] ronjarrell commented on #7934
The good news is I just tried it with 0.14.2, and while were holding off temporarily on going to 14, it seems to work ok in .2. with google 3.50.0_x5.  That's the doing 2 apply's in a row test.  Then I went in and changed the boot disk size from 20 to 21 and ran it, and segfaulted.

[code]

[2020-12-09 20:20] rileykarson opened #7973 "`google_cloud_run_domain_mapping` `force_override` is incorrectly set to `false` even when sent as `true`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-09 20:26] rileykarson commented on #7699
note: I filed this issue describing a part of the upcoming GA API. We need to ensure we can enable gvnic under `guestOsFeatures[].type`.

[2020-12-09 20:33] venkykuberan commented on #7947
I see that `private_cluster_config.enable_private_nodes` have to be used in-conjunction with master_authorized_networks_config{} in order to block access to public endpoint of the cluster. It looks to me our docs have to be corrected. @slevenick your thoughts ?

[2020-12-09 20:36] tSte commented on #7953
@edwardmedia I've updated [code](https://github.com/hashicorp/terraform-provider-google/issues/7953#issuecomment-740469867) with GKE cluster and step-by-step guide how to reproduce issue.

[2020-12-09 22:29] #6122 closed

[2020-12-10 04:25] tnguyen14 opened #7977 "google_compute_router_peer peer_asn and advertise_mode forcing replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-10 07:41] kalanyuz opened #7978 "`google_storage_object_access_control` seems to not work with existing objects"
### Terraform Version
[code]

### Affected Resource(s)

data.google_storage_bucket_object
google_storage_default_default_object_access_control
google_storage_object_access_control
google_storage_object_acl

### Terraform Configuration Files

[code]

### Expected Behavior
ACL for object is created.

### Actual Behavior
Failed

### References
Might relate too #2895 since the object has "/" in the pa

[2020-12-10 10:10] rolandkool commented on #7969
@edwardmedia I've updated the issue description.

[2020-12-10 10:48] owennewo opened #7979 "bigquery table schema with field having missing mode attribute causes perma plan diff"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-10 11:50] mcfedr commented on #7966
Yes, so the issue in my example is with `proxy_id` field, that is represented by an `TypeInt` in the provider  (https://github.com/hashicorp/terraform-provider-google/blob/master/google/resource_compute_target_https_proxy.go#L106) , but the documentation of the API defines the id as a string - https://cloud.google.com/compute/docs/reference/rest/v1/targetHttpsProxies - so maybe there is a problem

[2020-12-10 12:30] mcfedr commented on #7966
I havent made a PR, I dont really understand what the impact would be on upgrading etc, but a fix like this might be what is required, https://github.com/GoogleCloudPlatform/magic-modules/compare/master...mcfedr:compute-id-type-string

[2020-12-10 13:56] vladyege commented on #7922
@edwardmedia
please reopen an issue. I've not managed to answer and you closed it immediately. Not nice, frankly speaking.
What did you mean by "have you verified if the gcloud command actually has changed the behavior that causes the error in further TF run?"
I provided all the information, logs, scenario how to reproduce it. Could you please start investigating it. Thanks

[2020-12-10 14:23] edwardmedia commented on #7978
@kalanyuz can you post the debug log? It is hard to see what is going on with `modules`? Is the commented code the part causing issue? Can you try to run the resource code directly to see if the issue resolved?

[2020-12-10 14:25] edwardmedia commented on #7979
@owennewo can you hare the debug log?

[2020-12-10 14:28] edwardmedia commented on #7934
@ronjarrell can you post the full debug log?

[2020-12-10 14:29] lupupitkanen opened #7980 "Add support for transaction_log_retention_days in Cloud SQL backup configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-10 15:18] Sytten commented on #7966
That seems to be the recommended way in https://github.com/hashicorp/terraform-plugin-sdk/issues/655, but it would not fix #7945, so I think it would be better to have an upstream fix by the plugin SDK because other similar errors will pop up in this provider I am pretty sure.

[2020-12-10 17:12] rileykarson opened #7981 "Add support for DNS ResourceRecordSet API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-10 17:37] soulmanos commented on #7790
I've been testing this resource today, and I'm seeing this exact issue.

`terraform plan` will always result in an output of `Plan: 0 to add, 1 to change, 0 to destroy.` even after apply.

[code]

[code]

[2020-12-10 17:39] #7213 closed

[2020-12-10 17:55] rileykarson opened #7983 "Promote google_compute_instance.confidential_instance_config to GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-10 18:00] #7871 closed

[2020-12-10 20:01] xingao267 opened #7986 "Support InitialGroupConfig in google_cloud_identity_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-10 20:04] mcfedr commented on #7966
I think the change to strings would fix #7945 as the `map_id` you have a problem with is also caused by rounding errors, that wouldnt happen if it was a string.

[2020-12-10 20:20] xingao267 commented on #7616
@ndmckinley any updates on this?

[2020-12-10 20:26] xingao267 commented on #7616
I had an issue with this resource which might be related to the update method as well. When I re-apply the same config without any changes. It shows the following plan:

[code]

[2020-12-10 20:29] xingao267 commented on #7616
I can work around the above issue by switching the order of the two roles in the resource, i.e.

From
[code]
to
[code]

[2020-12-10 21:30] gogasca commented on #7233
I added support to Notebooks API, this will be available in ~2 weeks in production

[2020-12-10 21:34] #7652 closed

[2020-12-10 21:42] rileykarson commented on #7828
Summarising some team discussion:

* Terraform's builtin functions make base64 encoding an input extremely easy
* Changing the field behaviour in a way that isn't backwards-compatible (eg: to expect raw values) would be a breaking change, so that isn't an option we'd take.
* Auto-encoding a value would be undesirable in case our heuristic was wrong. Having to choose the correctly formatted field i

[2020-12-10 21:58] ndmckinley commented on #7616
Interesting, it looks like those are meant to be a set rather than a list.

As for updates, this is in our "Goals" milestone, which means that we agree it should be done, but don't currently have the resources to do it and also don't think we will have the resources soon (by contrast with "Near Term Goals").

We would love to accept a community PR that fixes this issue - otherwise it may be quite

[2020-12-10 22:00] slevenick commented on #7947
@eychenz how are you verifying that the public endpoint is accessible to public IPs? I don't believe it should be as setting `master_authorized_networks_config` to empty in Terraform shouldn't impact that

[2020-12-10 22:41] yegle opened #7988 "google_monitoring_dashboard: thresholds are compared as float point numbers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-10 23:00] rileykarson opened #7990 "`google_sql_database_instance.settings.0.replication_type` diff on `"SYNCHRONOUS"` value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-10 23:08] rileykarson commented on #7797
Spoke offline, but where I believe we ended up is that Validator already has access to creds, and passes a Config object through to tgc. We should be able to pull a client out of the Config object and make requests. Does that sound right?

[2020-12-10 23:17] xingao267 opened #7991 "Support security group in google_cloud_identity_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-10 23:17] c2thorn commented on #7828
@rileykarson that sounds right. By adding the regex validation we can fail fast and give a hint towards the builtin function.
I removed the sizing label since the scope has expanded a bit.

[2020-12-11 02:09] deekthesqueak commented on #7990
Here is the DEBUG output I got for this error
[WARN] Provider "registry.terraform.io/hashicorp/google" produced an invalid plan for module.platform_gcp.google_sql_database_instance.main, but we are tolerating it because it is using the legacy plugin SDK.
    The following problems may be the cause of any confusing errors from downstream operations:
      - .settings[0].replication_type: planned va

[2020-12-11 02:24] ScottSuarez opened #7993 "Hand back better error message for fields not provided in generated iam resource"
### Description

On IAM resources if location (or potentially other parameters) is not provided we are directly calling the api before handing a failure back to the user. Lets catch this at plan time and fail before execution.

### New or Affected Resource(s)

* google_iam_***

### References

* #7963

[2020-12-11 05:06] kalanyuz commented on #7978
@edwardmedia
Yes, the commented out code was causing the issue. The debug log is as the following, you can see that the POST url object part is not properly encoded
[code]
However, when I try to encode `/` myself to `%2f` then it doesn't work either, saying that the name and the body does not match.

I try sending request to googleapi via `curl` and it works properly with encoded url but gets 404

[2020-12-11 12:49] NishantRanout opened #7994 "How to add already created CMEK in Terraform Template for Dataflow."
How to add already added CMEK in Terraform Template for Dataflow. I am using Terraform v.0.11.13

[2020-12-11 13:27] indypinball opened #7995 "Add support for security center notifications configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-11 13:43] supersmo commented on #7694
Tried now and it doesn't work. It doesn't use the project-id from the full resource name.

[2020-12-11 13:46] edwardmedia commented on #7994
@NishantRanout Here is the resource you may checkout for the work. If that does not work, can you explain details about what you are trying to do? The latest versions are recommended..

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/dataflow_flex_template_job

[2020-12-11 14:03] dzarmola opened #7996 "Add support for Composer CMEK encryption"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-11 16:54] zepplen opened #7997 "google_service_account_key Imports key on every update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-11 16:56] autumnw commented on #6520
This is needed by lots of people, where are we?

[2020-12-11 16:57] autumnw commented on #6521
Lots of people needs this, where are we?

[2020-12-11 17:44] slevenick commented on #7977
Hey @tnguyen14 I would be curious why `advertise_mode` is not being read correctly when you import it.

Are you able to include debug logs for your import & plan afterwards?

Otherwise, adding support for updating `peer_asn` and `advertise_mode` would be a feature request and I can add it to the list to be triaged

[2020-12-11 17:45] dabbertorres commented on #7512
I'd be happy to take a crack at adding this feature (over in [magic-modules](https://github.com/GoogleCloudPlatform/magic-modules)?), unless of course someone is already working on it.

[2020-12-11 17:45] tnguyen14 commented on #7977
@slevenick thanks for the response. I would say go with the feature request for now. I will open a separate ticket for the import issue with more debug logs.

[2020-12-11 17:48] venkykuberan commented on #7988
This is more TF Core issue, did the config ran successfully in prior versions or terraform (< 0.14) ?

[2020-12-11 17:52] #7658 closed

[2020-12-11 17:57] rileykarson opened #7998 "Create `3.52.0` release"
With `3.51.0` going out on 2020/12/14, it's likely to be the last provider release for `google` and `google-beta` in 2020. I'm filing this issue to track our next release, `3.52.0`, which we currently project we'll release on 2021/01/05 or 2021/01/11.

[2020-12-11 18:03] xingao267 commented on #7991
API doc for how to upgrade a group to security group https://cloud.google.com/identity/docs/how-to/update-group-to-security-group

[2020-12-11 18:07] melinath opened #8000 "github checks failing during `make website`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-11 18:12] melinath opened #8001 "Switch to github actions for tests"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-11 18:13] rileykarson opened #8002 "Add support for capacity aware modes in `google_compute_region_instance_group_manager`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-11 18:18] rileykarson opened #8003 "Add support for `scaling_schedules` to `google_compute_autoscaler` (and regional variant)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-11 19:06] zepplen commented on #7997
noticed this in the debug output:

[code]

[2020-12-11 19:09] xingao267 commented on #7991
From the API doc, it seems I need to first create a regular Google group, and then update it to be a security group by adding an additional label. Is it possible with Terraform to create a security group in one `terraform apply` execution?

[2020-12-11 19:54] melinath commented on #7752
Should be on track to be resolved today.

[2020-12-11 19:54] melinath commented on #7750
Should be on track to be resolved today.

[2020-12-11 19:58] yegle commented on #7988
This was recently added after we upgrade to 0.14, I'm not sure if it worked before.

[2020-12-11 20:21] c2thorn commented on #7908
@knyttl Sorry you are running into issues here. I don't think it was expected for `interface` to not have a value. If you set `interface=""` does the problem go away for you?

Otherwise, do you mind sending the debug logs when you run `terraform plan`? I'd like to see the configuration and API response.

[2020-12-11 21:40] rileykarson opened #8005 "Promote `auth_enabled` in `google_redis_instance` to GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-11 23:54] #7990 closed

[2020-12-12 09:10] eychenz commented on #7947
In config1 I set `master_authorized_networks_config` to an empty block, and the public endpoint is not accessible to public IPs, so its all good. But then if I modify my tf code to remove `master_authorized_networks_config` like in config2, then the public endpoints are reachable from public IPs. This happens while the `private_cluster_config` has not been modified and all the values are set in a

[2020-12-13 14:25] MarymagdalenaX86 opened #8008 "All Star Eyes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-13 16:51] edwardmedia commented on #8008
@MarymagdalenaX86 what specific issue(s) are you facing?

[2020-12-14 05:26] NishantRanout commented on #7994
@edwardmedia I am trying the below code : -

provider "google" {
  project= var.project_id
  region = var.region

resource "google_dataflow_job" "dataflow_job" {
  project               = var.project_id
  region                = var.region
  zone                  = "${var.region}-a"
  name                  = var.project_name
  on_delete             = "cancel"
  max_workers           = var.max_work

[2020-12-14 05:31] NishantRanout commented on #7994
everything is working fine until I am defining my own CMEK.

when I am defining dataflow_kms_key in my template it is giving me below error : -

Error : google_dataflow_job.dataflow_job: : invalid or unknown key: dataflow_kms_key

[2020-12-14 05:33] NishantRanout commented on #7994
I am not able to find out the correct syntax for already created dataflow_kms_key for dataflow terraform template.

[2020-12-14 07:06] tSte commented on #7953
@edwardmedia were you able to reproduce this issue? Can I assist you in some other way? Thanks!

[2020-12-14 08:26] knyttl commented on #7908
I confirm that `interface=""` helps here and the disk is not being replaced.

However I find this strange - because the disk already is `SCSI`, so why setting `interface="scsi"` should be causing replacement?

[code]

[2020-12-14 09:42] alex-pravdin-sn commented on #3730
Any plans to fix this? My configuration works fine with the stable google provider but fails with the google-beta with the error in the subject.

[2020-12-14 10:01] alex-pravdin-sn commented on #3730
[code]

This block fails with the google-beta provider but not with the stable one.

[2020-12-14 15:05] ralbertazzi commented on #7896
@edwardmedia GCP added the `deleted:` prefix after a change in September 14, 2020. This was quite an important change as people received information about it by email. These are some interesting parts from the email that I received at that time:
[code]

I think this that the error `Failed to parse BigQuery Dataset IAM member type: deleted:serviceAccount:<service-account>@<account>.iam.gserviceacco

[2020-12-14 15:21] edwardmedia commented on #7978
@kalanyuz have you tried to use data source instead?
[code]

[2020-12-14 16:28] melinath commented on #7797
Yes, that's where we ended up. The Config available in tgc should support creating an appropriate client.

[2020-12-14 16:29] edwardmedia commented on #7994
@NishantRanout currently the resources do not support CMEK. You may file a [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?template=enhancement.md) for the feature request. Closing this issue then

[2020-12-14 16:29] #7994 closed

[2020-12-14 16:39] melinath commented on #7750
These tests are now succeeding. See bug for detailed rollout.

[2020-12-14 16:39] #7750 closed

[2020-12-14 16:41] melinath commented on #7752
These tests are now succeeding.

[2020-12-14 16:41] #7752 closed

[2020-12-14 17:13] c2thorn commented on #7908
@knyttl Thanks for that information. My hunch is that this is due to the provider not supporting `guestOsFeatures`, which would need some interaction with the `interface` field. Once the provider adds support for that, this issue would likely be resolved. Thankfully, there is a workaround for now. Appreciate your support in this.

[2020-12-14 17:13] #7908 closed

[2020-12-14 17:18] knyttl commented on #7908
Will this be tracked somewhere?

[2020-12-14 17:32] rileykarson commented on #3730
Can you confirm that you've done the same thing as was done in the original issue + my reproduction, interpolated a project into one of your provider blocks? Unfortunately there's no solution in the provider & we need to wait on https://github.com/hashicorp/terraform/issues/4149 being iterated upon.

[2020-12-14 17:34] #7921 closed

[2020-12-14 17:39] tnguyen14 opened #8009 "Issue with import bgp peer"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-14 17:40] tnguyen14 commented on #7977
@slevenick I created https://github.com/hashicorp/terraform-provider-google/issues/8009 for the import issue

[2020-12-14 18:08] #7924 closed

[2020-12-14 18:18] #7959 closed

[2020-12-14 18:44] jaycarlton commented on #7979
@edwardmedia I can repro. My logs are [here](https://gist.github.com/jaycarlton/aefd923ed2052831070fec65496e6ba4).

In my case I've tried every combination of setting my fields to `"NULLABLE"`, 'null', and just leaving the fields out. I still see this frequently in my workflow, where I create a number of tables from JSON files with a `for` loop.

[2020-12-14 18:51] rileykarson commented on #8000
Likely handled by doing https://github.com/hashicorp/terraform-provider-google/issues/8001

[2020-12-14 18:57] venkykuberan commented on #8009
@tnguyen14 can you please include the debug log of your import ?

[2020-12-14 19:23] dzarmola commented on #7996
I created a pull request for this: https://github.com/GoogleCloudPlatform/magic-modules/pull/4310

[2020-12-14 19:25] tnguyen14 commented on #8009
@venkykuberan the debug log is provided in the issue above.

[2020-12-14 20:10] venkykuberan commented on #7988
This is not a provider issue, please raise it against Terraform Core. You can try with older version of tf and see if it works and add that to the issue. As we can't do much here, i am closing this one. Sorry for not being very helpful here.

[2020-12-14 20:10] #7988 closed

[2020-12-14 20:25] jaycarlton commented on #7979
You can also observe a very similar phenomenon with the `description` field, which is optional, and cycles between `""`, `null`, and missing altogether in the input file. I've generally resolved to set this field every time to a nonempty string so it stays stable.

I want to say I've seen it on other optional fields as well, but I'm not sure.

[2020-12-14 20:29] edwardmedia commented on #7964
@alex-pravdin-sn I am not certain if I understand your question correctly. Not all resources support `Import`. If one does, you should be able to find the format like [this](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#import) for `cloud run service`.  here is the one for [google_cloud_tasks_queue](https://registry.terraform.io/providers/hashicor

[2020-12-14 20:41] edwardmedia commented on #7934
@ronjarrell closing this issue as we need to be able to repro the issue. Please feel free to reopen it once you are able to help repro

[2020-12-14 21:45] edwardmedia commented on #7953
@tSte this error occurs related to how to use the dynamic code. There is nothing to do with gke & other resources. I can repro the error by completely removing gke folder. Let me know if this makes sense to you

[2020-12-14 22:08] rileykarson commented on #7911
Closing as #4273 no longer deprecates a field.

[2020-12-14 22:08] #7911 closed

[2020-12-14 22:38] venkykuberan commented on #7997
I don't see it happening on my end, i can associate 2 keys to a svc_account and can rerun the apply to find no changes in the config. Can you please try running the config with prior versions of terraform (< 0.14)

[code]

[2020-12-14 23:02] c2thorn opened #8012 "Support guestOsFeatures in `google_compute_disk`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-14 23:02] c2thorn commented on #7908
Good call, made https://github.com/hashicorp/terraform-provider-google/issues/8012 with a note explaining what happened here.

[2020-12-14 23:04] ScottSuarez commented on #7969
I would suggest filing an issue against terraform directly. This issue seems identical to [20196](https://github.com/hashicorp/terraform/issues/20196) which the terraform team has resolved but this seems to be a reemergence. If I look at the state file the dependency chain is there, but terraform isn't calling the api's in the correct order because it seems to be forgetting the dependency chain (w

[2020-12-14 23:12] ScottSuarez commented on #7969
In the meantime I suggest a two step apply (i know its not ideal and apologize)

[2020-12-14 23:38] alex-pravdin-sn commented on #7964
You're right, I didn't read the documentation well, sorry.

[2020-12-14 23:38] #7964 closed

[2020-12-14 23:42] #7833 closed

[2020-12-14 23:44] alex-pravdin-sn commented on #3730
I got this error on the config like this:

[code]

with Terraform v0.14.0 and google provider v3.50.0

[2020-12-15 03:39] alex-pravdin-sn opened #8014 "Can't read Cloud Run status URL attribute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-15 04:16] beingminimal opened #8015 "Support Google Cloud Repository as a source of terraform module"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-15 07:25] tSte commented on #7953
@edwardmedia we've encountered this issue so far only with this particular resource. We don't use `data` resources much, but in this particular case, I'm not sure if it's even avoidable. I could construct the JSON like
[code]
and pass it to `google_service_account_iam_policy.job_workload_identity.policy_data` but... I guess that's the main reason why `google_iam_policy` exists, right? Or is there

[2020-12-15 08:31] kalanyuz commented on #7978
@edwardmedia Yup, tried that before too and it doesn't work since it generates the same thing. This is what's generated by the datasource
[code]
using `name` generates 404, replace a portion of encoded `self_link` will get me `content does not agree`

[2020-12-15 11:06] DanielJonesEB commented on #2605
I know we're not supposed to leave +1 style messages, but given that there appears to be no other way to provide feedback or get visibility on StackDriver stuff, I'd like to say that I find it somewhat astonishing that in 2020 I can't fully automate the provisioning of an IAAS environment.

[2020-12-15 11:51] omelnyk1 commented on #7587
Hi guys,
Any updates on this?

[2020-12-15 15:02] edwardmedia commented on #7953
@tSte you use `google_service_account_iam_policy` in your code. You may have already noticed it **replaces any existing policy already attached**. Unless necessary, I would suggest consider other two resources.
I think either [google_service_account_iam_binding](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_service_account_iam#google_service_account_iam_bind

[2020-12-15 15:09] edwardmedia commented on #7978
@kalanyuz can you share the complete code?

[2020-12-15 16:24] rileykarson commented on #7512
@dabbertorres: Nobody is that I'm aware! You could edit in Magic Modules (there's a handwritten file @ https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/resources/resource_sql_user.go) but sending a PR in this repo is fine. One of us will upstream it to MM.

[2020-12-15 16:33] rileykarson commented on #6352
Supported as https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/app_engine_application#database_type

[2020-12-15 16:33] #6352 closed

[2020-12-15 16:36] rileykarson commented on #8015
Hey @beingminimal! Mind filing an issue at https://github.com/hashicorp/terraform/issues/new/choose? This repo specifically covers the GCP provider and not Terraform "core" features like modules.

[2020-12-15 16:36] #8015 closed

[2020-12-15 16:44] #3100 closed

[2020-12-15 16:46] ScottSuarez commented on #7931
Hi @upodroid, previously a request was filed [7118](https://github.com/hashicorp/terraform-provider-google/issues/7118) which I fulfilled in a [two](https://github.com/GoogleCloudPlatform/magic-modules/pull/4011) [part](https://github.com/GoogleCloudPlatform/magic-modules/pull/4030) series to add support. So this should be there. Can ask for details on your scenario and why this change might not s

[2020-12-15 17:10] upodroid commented on #7931
Sorry it is a duplicate issue.

We can close it out.

[2020-12-15 17:19] rileykarson commented on #7239
@venkykuberan: Is it possible that specifying `availability` in a request enables the feature and that placeholder is for more configuration options?

[2020-12-15 17:23] rileykarson commented on #7239
Also, note that the `BasicSli` object appears at multiple points during the request object. We'll want to support them all to close this issue. See the sample in https://github.com/hashicorp/terraform-provider-google/issues/7884, for example.

[2020-12-15 17:23] rileykarson commented on #7884
Closing in favour of https://github.com/hashicorp/terraform-provider-google/issues/7239

[2020-12-15 17:23] #7884 closed

[2020-12-15 17:42] rileykarson opened #8018 "Add support for Private Services Connect for Google APIs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-15 17:55] ScottSuarez commented on #7979
@owennewo @jaycarlton

So I took a look at this resource and couldn't reproduce this. It does not seem like this `mode:nullable` reproduces on every configuration, and in my case I could not reproduce it. In our implementation we are simply surfacing the api get for this object and don't really do a whole lot on top of that. I went ahead and did a manual get on a configuration I deployed and confi

[2020-12-15 17:55] caieo opened #8019 "google_bigtable_gc_policy -- support minutes for `max_age` field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-15 18:02] #7931 closed

[2020-12-15 18:03] ScottSuarez commented on #7931
no worries !

[2020-12-15 18:03] Tailzip commented on #7239
Agreed with @rileykarson, it looks like it's a _placeholder_ according to the API doc. It is indeed already possible to enable that feature directly in the Console, or via API as mentioned in the issue description.

[2020-12-15 18:20] jaycarlton commented on #7979
Most of our config is [open source](https://github.com/all-of-us/workbench-terraform-modules/pull/4). Is there a tool for bundling up the whole thing and redacting it?

[2020-12-15 18:26] venkykuberan commented on #8014
status is an array type, It has to be referenced like below,
[code]

[2020-12-15 18:26] #8014 closed

[2020-12-15 18:32] ndmckinley commented on #7587
This is in our "Goals" milestone, which means that we agree it should be done, but don't currently have the resources to do it and also don't think we will have the resources soon (by contrast with "Near Term Goals").

We would love to accept a community PR that fixes this issue - otherwise it may be quite some time. We re-prioritize based on issue thumbs-ups - if many people give the issue a thum

[2020-12-15 18:41] melinath commented on #7797
This is blocked by https://github.com/GoogleCloudPlatform/terraform-validator/issues/158

[2020-12-15 19:50] ScottSuarez commented on #7084
Reopening this regular failures on TestAccActiveDirectoryDomainTrust_activeDirectoryDomainTrustBasicExample.
https://ci-oss.hashicorp.engineering/project.html?projectId=GoogleCloud&testNameId=2484026027688699297&tab=testDetails
https://ci-oss.hashicorp.engineering/project.html?projectId=GoogleCloudBeta&testNameId=2484026027688699297&tab=testDetails

strangely on the failure there is no stacktrace

[2020-12-15 19:52] wvanderdeijl commented on #7852
@rileykarson I don’t want to be a PITA, but is there anything we can do to help? This issue is preventing us to roll our workload identity federation, which is a great new feature.

[2020-12-15 20:20] ScottSuarez commented on #7084
Closing this... failure is tracked with [7159](https://github.com/hashicorp/terraform-provider-google/issues/7159)

@rileykarson

[2020-12-15 20:20] #7084 closed

[2020-12-15 20:53] venkykuberan commented on #8009
As per the debug log only your `bgp` advertisedmode (compute_router resource) is returned CUSTOM, not the `bgpPeers`.  I am able to create bgp_peer resource with custom advertise mode and import the same with all the attributes as expected. Please verify your bgp_peer config settings. I am attaching sample config and its state. Hope that helps

sample bgp_peer resource config:
[code]

state:
[code

[2020-12-15 21:25] ScottSuarez commented on #7979
We would just have to parse the json and do a manual comparison with these fields. The current function doing this comparison is [located here](https://github.com/hashicorp/terraform-provider-google/blob/a3015d0d1f5612315eaa8619dbd76f3c0ea15aef/google/resource_bigquery_table.go#L61). I'll take a stab at resolving this for you guys. @jaycarlton also gave me some of the example plans so hopefully I

[2020-12-15 21:46] #4033 closed

[2020-12-15 21:49] #7877 closed

[2020-12-15 21:49] #7890 closed

[2020-12-15 22:26] tnguyen14 commented on #8009
@venkykuberan then perhaps the API response is missing advertisemode for the BGP peer. Because the BGP peer as shown in the GCP console already has its advertisement mode set the "Custom"

[2020-12-15 23:20] alex-pravdin-sn commented on #8014
@venkykuberan Thank you.

Also, could you update the documentation that the status is an array? https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#status - I can't see here that it's an array.

[2020-12-15 23:48] venkykuberan commented on #7694
@supersmo currently this resource supports import only by the `key`. I will make this issue as an enhancement ticket to support for other formats as well.

[2020-12-16 00:03] #7694 closed

[2020-12-16 00:08] venkykuberan opened #8024 "support for other import formats for google_compute_project_metadata_item"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-16 00:15] venkykuberan commented on #8009
@tnguyen14 where would you see that on the console ?

[2020-12-16 03:28] #7958 closed

[2020-12-16 03:30] #7973 closed

[2020-12-16 09:59] tSte commented on #7953
Yeah, I know them, but I wanted to use purely authoritative binding...
Anyway @edwardmedia thanks for help. I'm still not sure if this is not a bug, but who am I to tell ;)

[2020-12-16 09:59] #7953 closed

[2020-12-16 10:12] ferrarimarco opened #8027 "google_compute_instance documentation reports the zone as being required"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-16 10:32] omelnyk1 opened #8028 "google_cloud_tasks_queue diff on retry_config.max_retry_duration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-16 11:20] owennewo commented on #7979
[bq_perma_diff_debug_plan.txt](https://github.com/hashicorp/terraform-provider-google/files/5702280/bq_perma_diff_debug_plan.txt)

Here is plan with TF_LOG=DEBUG

[2020-12-16 15:25] tnguyen14 commented on #8009
@venkykuberan attached is a screenshot of that

<img width="1009" alt="Screenshot_2020-12-16 BGP session details – Hybrid Connectivity – bb-bpipe-dev – Google Cloud Platform" src="https://user-images.githubusercontent.com/1652595/102368626-0f9dc780-3f89-11eb-9cfb-4318cc921941.png">

[2020-12-16 16:21] slevenick commented on #7954
This is fixed in the most recent run

[2020-12-16 16:21] #7954 closed

[2020-12-16 16:22] #7955 closed

[2020-12-16 17:10] alanroche opened #8029 "google_dataproc_job stays in a creating state (perpetually) while job is RUNNING"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-16 17:11] rolandkool commented on #7969
Hi @ScottSuarez
Thanks for taking the time to look into this. I will file a bug against terraform and reference this issue.
I noticed that tf 0.14 was released and tested with that as well, but same issue.
For now we already do a two step apply and that works, but it is just annoying.

[2020-12-16 17:26] alanroche commented on #8029
Also confirmed on Terraform v0.14.2

[2020-12-16 18:16] alanroche commented on #8029
Adding terraform output.
Terraform output continues perpetually as follows, as long as the job is running.
It is necessary to CTRL-C and abort terraform to end the terraform apply.

google_dataproc_job.test_dataproc_job: Still creating... [10s elapsed]
google_dataproc_job.test_dataproc_job: Still creating... [20s elapsed]
google_dataproc_job.test_dataproc_job: Still creating... [30s elapsed]
googl

[2020-12-16 18:47] venkykuberan commented on #8029
Can you please attach the debug log here, would like to see what we get for status.state & status.substate.

[2020-12-16 19:31] venkykuberan commented on #8009
@tnguyen14 since we don't receive bgp_peer advertise mode in the API response provider assigns the default value for the attribute in the state (which is working as expected).  As we can see that when the bgppeer is created through terraform API sends back the advertised mode as expected, you can try creating a bgp_peer resource through terraform and compare it with the existing one on the console

[2020-12-16 19:31] #8009 closed

[2020-12-16 19:55] tnguyen14 commented on #8009
How can I find out why the API isn't returning the advertise mode?

[2020-12-16 20:21] upodroid opened #8031 "Remove redundant OAuth scopes from the provider."
In https://github.com/GoogleCloudPlatform/magic-modules/pull/4321 we scrubbed all references to redudant OAuth scopes in examples as the current best practice is to use custom service accounts on VMs that are scoped to cloud-platform and control its access via IAM roles.

In the next major release of the provider, the default scopes that provider uses needs to be changed as well.

https://github.c

[2020-12-16 21:00] edwardmedia commented on #7968
@sharkymcdongles this appears not an issue. You may see _cpuCFSQuota is **false** by default_ from the screenshot you posted above

[code]

[2020-12-16 21:02] upodroid opened #8032 "Remove master_auth fields from google_container_cluster resource"
Upstream Kubernetes has deprecated and removed basic auth from kubernetes as of v1.19 . In the next major release of the provider, `master_auth` nested fields needs to be removed given that there are many breaking changes issues open against this resource.

https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication#legacy-auth
https://github.com/rancher/rancher/issues/28673

[2020-12-16 22:05] rileykarson commented on #8032
Note: This should only be removed if the lowest available GKE version has removed support for basic auth.

[2020-12-16 22:16] rileykarson opened #8034 "Add support for Dataproc Metastore Service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-16 22:45] #7956 closed

[2020-12-16 22:45] #7952 closed

[2020-12-16 23:27] edwardmedia opened #8035 "google_logging_project_sink.disabled can't be updated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-16 23:50] melinath commented on #5988
Should we re-triage this now that we're getting validator back in sync more generally?

[2020-12-16 23:57] melinath opened #8037 "Run terraform-validator tests when terraform-google-conversion is changed by MM"
Now that terraform validator is caught up to terraform-google-conversion, we should make sure that changes to terraform-google-conversion don't break it.

Specifically, even if all the tests for terraform-google-conversion pass, there can still be breaking issues that would be caught by terraform-validator tests. There may also be issues in terraform-google-conversion that would only get caught by

[2020-12-17 10:26] Overbryd opened #8038 "Requires replacement on google_container_cluster for non-existent attribute path"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-17 10:29] Overbryd commented on #8038
The workaround (I still think this is a bug, because it should not end up in this abysmal state) for anybody who is interested:

[code]

[2020-12-17 14:17] edwardmedia commented on #8038
@Overbryd below is what the document specifies about **master_ipv4_cidr_block**. `This field only applies to private clusters, when enable_private_nodes is true` which seems to match what you have found. Is there any issue left that needs to be addressed?

[code]

[2020-12-17 14:21] alanroche commented on #8029
Hopefully this is what you need:

[code]

[2020-12-17 14:23] edwardmedia commented on #7978
@kalanyuz is this still an issue?

[2020-12-17 14:58] alanroche commented on #8029
To add, eventually, it timed out with the following:

Error: Error waiting for Creating Dataproc job: timeout while waiting for state to become 'CANCELLED, DONE, ATTEMPT_FAILURE, ERROR' (last state: 'RUNNING', timeout: 20m0s)

[2020-12-17 15:11] tocak opened #8039 "Please add location region to Cloud SQL automated backups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-17 15:13] Overbryd commented on #8038
@edwardmedia I think it should fail at an earlier stage rather 1) allowing to create the cluster with the wrong settings and 2) marking the cluster for replacement on a subsequent apply.

[2020-12-17 17:03] tocak commented on #8039
I ran curl to set location but on the next apply terraform provider removed my change
`
          ~ backup_configuration {
                binary_log_enabled      = false
                enabled                        = true
              - location                       = "europe-west1" -> null
`

[2020-12-17 17:15] yegle commented on #7988
Hmm it looks like the upstream think the issue is with the provider: https://github.com/hashicorp/terraform/issues/27305#event-4125566251

I did confirm the API is likely returning 0.995 as expected:

[code]

[2020-12-17 17:19] venkykuberan commented on #8009
You can report an error from this page - https://cloud.google.com/network-connectivity/docs/router/reference/apis. API team will triage it and work on it

[2020-12-17 17:25] rileykarson opened #8040 "Promote google_compute_packet_mirroring to GA, add filter.direction"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-17 17:30] rileykarson commented on #7699
@edwardmedia: The instance part of this API should be available now. When you have the chance, mind giving it a try?

[2020-12-17 19:40] edwardmedia commented on #8028
_max_retry_duration_ is NOT included in the API response when it is set to `0s`

[2020-12-17 22:39] #7938 closed

[2020-12-17 23:04] melinath commented on #7501
This is no longer blocked! 🥳  https://github.com/GoogleCloudPlatform/magic-modules/pull/4226 will resolve it. However, there's a bug in that PR that I'm not sure how to resolve, and I won't be around to work on it next sprint. (See chat for discussion.)

[2020-12-18 07:14] kalanyuz commented on #7978
@edwardmedia Yes. I think you can replicate the error for `google_storage_object_access_control ` pretty easily.

Also, referring to the description for [google_storage_bucket_object](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/storage_bucket_object) that I think name and path is used interchangeably  in this case

[code]

Given these two resources, try to use `g

[2020-12-18 07:46] sharkymcdongles commented on #7968
@edwardmedia I saw your PR. It seems you are saying the cfsquota cannot be set if the cpu manager is set is that correct? I ran a test with the cli tool to see what happens:

`gcloud beta container node-pools create cfsquotatest --image-type=COS_CONTAINERD --machine-type=e2-standard-2 --node-locations=europe-west4-b --preemptible --shielded-secure-boot --system-config-from-file=./kubelet_test.yaml

[2020-12-18 08:22] rolandkool commented on #7969
Unfortunately, there is no solution to fix this. Dependencies only work properly when deleting both resources (perimeter and access level), not when deleting one and updating another as delete is always done before update.

[2020-12-18 08:22] #7969 closed

[2020-12-18 08:33] sharkymcdongles commented on #7968
When I try omitting it I get this back:

[code]

[2020-12-18 08:35] sharkymcdongles commented on #7968
Sorry I misread you code. It seems you are going to add the ability to set the above to false while the other is true to alleviate the issue. My mistake.

[2020-12-18 08:38] yanc0 commented on #6789
I can easily reproduce the problem when I use tfvars:

**main.tf**
[code]

**test.tfvars**
[code]
**Execution**
[code]

As you can see, the 0.0.0.0/0 source range have been set and I think we cannot be implicit on that rule. This is a **dangerous** behaviour.

[2020-12-18 09:12] omelnyk1 commented on #8028
@edwardmedia you're right. Would be nice to handle that responses in terraform plugin.

[2020-12-18 15:23] czka opened #8050 "point_in_time_recovery_enabled is actually not only for PostgreSQL"
### Affected Resource(s)

* google_sql_database_instance

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_database_instance#point_in_time_recovery_enabled reads:

Which seems not be the case (anymore?), as documented by Google: https://cloud.google.com/sql/docs/mysql/backup-recovery/pitr.

[2020-12-18 16:11] tocak commented on #8039
actually this is not documented but is already supported in the code https://github.com/hashicorp/terraform-provider-google/blob/9e6d959ab9270cd56af15254e573414f61b29688/google/resource_sql_database_instance.go#L45

[2020-12-18 16:11] #8039 closed

[2020-12-18 16:29] ssanderson opened #8051 "Document Proper Management of Slack Auth Token for google_monitoring_notification_channel"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-18 22:04] ahmetb opened #8052 "Using locally compiled provider instructions are not working"
I'm reading https://github.com/hashicorp/terraform-provider-google/blob/master/.github/CONTRIBUTING.md#instructing-terraform-to-use-a-local-copy-of-the-provider and I am finding it to be really complex, also can't get it to work at all.

To verify this, I did this:

1. `git clone hashicorp/terraform`
2. `git install`
3. go to a working example
4. `rm -rf .terraform*`
5. clone this repo
6. `make`
7

[2020-12-18 23:54] #7957 closed

[2020-12-19 04:33] sherifkozman opened #8053 "google_cloud_run_domain_mapping resources keeps recreating with every apply action"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-20 05:19] marcus-kempe commented on #7966
@slevenick The upstream bug has been fixed, does this mean that a fix can be applied in the provider as well?

[2020-12-21 11:09] Abdelwaheb-Hnaien commented on #7945
I'm having the same issue with google_compute_url_map resource since I upgraded to terraform v0.14.0
I created the url_map in my project using terraform v0.13.5
what I'm trying to do now is to make the url_map point to a new backend service (previously an instance group, now a bucket) and then I get this error:

[code]

This is a bug in the provider, which should be reported in the provider's own

[2020-12-21 11:24] thilohaas commented on #7945
This should be resolved with TF2.4.0 https://github.com/hashicorp/terraform-plugin-sdk/issues/655#issuecomment-748389946 but seems like the Google provider needs to be updated to reflect the fix.

[2020-12-21 12:48] dwilliams782 opened #8054 "Add ability to set storedInfoTypeId on stored info types DLP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-21 14:17] edwardmedia commented on #7978
@kalanyuz I just ran below code and it works fine. Can you try and see if that works for your case?

[code]

[2020-12-21 14:49] edwardmedia commented on #8053
I can repro it https://paste.googleplex.com/5619834659274752

[2020-12-21 16:15] dwilliams782 opened #8055 "Unable to specify multiple exclusion/hotword rules inside a ruleset"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-21 17:30] c2thorn commented on #7751
Got around to looking at this, we need to give the test runner SA `Organization Administrator` permission to the `GOOGLE_ORG_2` test org. We'll need to ask Hashicorp folks next month when they are back.

[2020-12-21 18:37] slevenick commented on #8019
Should be fixed by https://github.com/hashicorp/terraform-provider-google/pull/7879

[2020-12-21 18:47] c2thorn commented on #8050
Need to verify if this has changed since https://github.com/hashicorp/terraform-provider-google/issues/7147

[2020-12-21 19:17] ndmckinley opened #8058 "Move bigquery reservation to GA."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-21 19:33] rileykarson commented on #7946
Closed by https://github.com/GoogleCloudPlatform/magic-modules/pull/4339

[2020-12-21 19:33] #7946 closed

[2020-12-21 19:35] sethvargo commented on #7601
We also need this in the Exposure Notifications project.

[2020-12-21 19:48] rileykarson opened #8060 "Add support for Redis transit_encryption_mode"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-21 19:54] rileykarson commented on #8051
Hey @ssanderson! We don't want to provide opinionated documentation for these kinds of fields inside the provider documentation, I think. However I'm glad you found a configuration that works well for your expectations.

[2020-12-21 19:54] #8051 closed

[2020-12-21 19:58] rileykarson commented on #8052
What Terraform version are you using? There's been a lot of churn in how local providers work recently, and those instructions will only work for `0.13`. `0.12` made it much simpler to use local providers, and I believe `0.14` aims to be easier than `0.13` but won't be as simple as `0.12`. Unfortunately, it gets there by breaking how they're set up for a second time in a row.

[2020-12-21 20:01] upodroid commented on #8027
On a sidenote, some resources have zone/region marked as required when it shouldn't be. All resources should infer zone/region from provider and then fail if it is empty.

[code]

[2020-12-21 20:30] ronjarrell commented on #7934
Ok, so, this is affecting most of our jobs, and is completely replicable on our end, but other than a guess that in involves the KMS key logic (because that's the only runs it blows up on) I'm at a loss to isolate it.  I can't upload you the hundreds of lines of modules and submodules that our environment uses, can I get some suggestions for narrowing it down?

[2020-12-21 20:34] ronjarrell commented on #7934
Verified it still fails with 14.3 btw.

[2020-12-21 22:29] rileykarson commented on #8053
Can both of you please share the version of the provider you're using? There have been several changes to this resource recently as a result of an annotation that was suddenly enforced, and it's hard to tell whether this has already been fixed or not.

Additionally:

@edwardmedia: Did part of your plan output get clipped? The plan indicates that the resource is getting recreated, but there's no `(

[2020-12-21 22:39] rileykarson opened #8061 "b/174084978"

[2020-12-21 23:16] rileykarson commented on #7852
I had the start of a solution to this which corrected `createIamBindingsMap` but calling `strings.ToLower` throughout our IAM resources is fairly pervasive. It's going to be a more involved fix than originally anticipated.

I've relabelled using the `persistent-bug` label which means we'll treat this like an `enhancement`, triaging and assigning this to a sprint.

[2020-12-21 23:25] ahmetb commented on #8052
I’ve tried HEAD on Terraform repo (0.15 dev) as well as 0.14.
After spending a couple of hours, I mostly gave up.

[2020-12-22 12:55] drastiq opened #8062 "google_dataflow_job kms key feature is missing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-22 13:37] BusiPlay commented on #1218
Could you use a data resource here?

data "google_compute_instance" "dataproc_master" {
  name = google_dataproc_cluser.dp_cluster.cluster_config.0.master_config.0.instance_names[0]
  zone = "us-central1-a"
}

then reference data.google_compute_instance.dataproc_master.network_interface.network_ip in any DNS resources?

You could use a similar construct with a for_each for multiple instances.

[2020-12-22 13:45] BusiPlay opened #8063 "Adding Optional Components does not update components or force Dataproc cluster recreation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-22 14:54] edwardmedia commented on #8063
@BusiPlay can you share the config code you use?

[2020-12-22 15:09] #8029 closed

[2020-12-22 17:25] yegle commented on #6260
Still have the same problem with 3.51.0

[2020-12-22 19:03] #8038 closed

[2020-12-22 19:45] timothyrenner opened #8067 "`cloud_run_service_iam_member` unable to retrieve IAM policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-22 21:05] asko commented on #7449
just experienced the same while migrating state from one workspace to another. With 3.51.0 the problem exists, with 3.20 everything goes fine. So probably a regression somewhere. Tried searching through logging statements in terraform 0.13.3 and google provider of 3.51 which is in use - no luck. But I might have a stable way to reproduce the issue, so lmk how I could help here

[2020-12-22 21:13] jvkessel opened #8068 "need Data Source for google_compute_disk"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-22 23:28] schirayu commented on #8060
Hi @rileykarson,
Would there be support for supplying a DNS name that can be included in the cert. I'm not seeing that in the API doc linked above. Also not sure if this is the right place to ask the question (apologies in advance if it is not).
Thanks!

[2020-12-22 23:45] upodroid opened #8069 "Add support for Eventarc"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-23 00:23] yegle opened #8070 "google_compute_url_map: Provider produced inconsistent final plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-23 00:37] yegle commented on #8070
I was able to return back to normal by destroying `module.en.google_compute_url_map.urlmap-https[0]` and re-run `terraform apply`.

[2020-12-23 07:22] shako92 commented on #4515
I'm also getting the same type of behavior:

`Terraform v0.12.29
Initializing plugins and modules...
2020/12/23 07:14:48 [DEBUG] Using modified User-Agent: Terraform/0.12.29 TFC/294fe188ce
[0m[1mdata.google_billing_account.revolver-development-billing-account: Refreshing state...[0m
[0m[1mmodule.create-jenkins-https-lb.google_compute_health_check.default["default"]: Modifying... [id=projects

[2020-12-23 08:38] skolenkin opened #8071 "Argument Reference oAuth doesn't contain a field to reflect developer's email."
During the creation oAuth brand field "Developer email" should be set. But current version 3.51.0 doesn't cover this variable.
Developer's email field is mandatory.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/iap_brand
[code]

[2020-12-23 08:51] lagmacx opened #8072 "google_storage_bucket_acl API 400"
Hi there, could you please fix this?

[code]

Output:

[code]

**Error: Error updating ACL for bucket artifacts-storage: googleapi: Error 400: Invalid Value, invalid**

Terraform v0.14.3

[2020-12-23 11:52] Sandhya-boreddy opened #8073 "Facing issue while creating Monitoring Dashboard "google_monitoring_dashboard""
Hi,

When I tried to create monitoring dashboard in GCP using terraform script, I am getting error message as "The provider provider.google does not support resource type "google_monitoring_dashboard"

used version = "~> 3.5.0" in providers.tf

Terraform script:
resource "google_monitoring_dashboard" "verification-server" {
  project        = var.project
  dashboard_json = <<EOF
{
  "displayName":

[2020-12-23 14:12] skolenkin opened #8074 "Terraform can't update Host and path rules in LoadBalancer (NEG)"
Subject: Terraform can't update Host and path rules in LoadBalancer (NEG)
terraform apply will fail If we want to add or edit additional path rules

terraform plan:
[code]

Terraform code:
[code]

Terraform apply:
[code]

If we add or edit URL path manually Terraform apply will work.

[code]

[2020-12-23 14:17] baens opened #8075 "google_service_account_key should have a way to rotate the key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-23 14:59] averbuks opened #8076 "Firewall rule source_ranges remain undeleted in GCP when replaced with source_tags in a fw rule resource configuration."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-23 16:22] IkechukwuAKalu opened #8077 "Unable to create a Cloud Run service on GKE"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-23 17:01] edwardmedia commented on #8067
@timothyrenner can you try something like below?
[code]

[2020-12-23 17:10] edwardmedia commented on #8070
@yegle can you isolate which resource or data source has issues?

[2020-12-23 17:17] yegle commented on #8070
I think it's `module.en.google_compute_url_map.urlmap-https[0]` that was causing issue.

[2020-12-23 17:23] tarrencev commented on #6953
looking forward to support for this

[2020-12-23 17:33] slevenick commented on #4515
This looks like a permission issue rather than the issue with the self link the others are seeing. Are you sure that the service account/user that Terraform is using has access to set IAP IAM?

[2020-12-23 17:48] edwardmedia commented on #8070
@yegle your config is too broad. Can you run the `google_compute_url_map` to see  if you can repro the issue? Remove the module code, and hardcode the variables, etc. Those things are out of this site focus.

[2020-12-23 17:56] edwardmedia commented on #8073
@Sandhya-boreddy can you try the version `v.3.51.0`? If the issue remains, can you share your debug log?

[2020-12-23 18:37] edwardmedia commented on #8074
@skolenkin can you share the debug log?

[2020-12-23 19:56] #8028 closed

[2020-12-23 20:20] #8058 closed

[2020-12-23 20:33] #6833 closed

[2020-12-23 20:33] #7853 closed

[2020-12-23 20:33] #7940 closed

[2020-12-23 20:40] skolenkin commented on #8074
@edwardmedia  Yes sure,

[code]

[2020-12-23 20:50] yegle commented on #8070
I can no longer reproduce the issue on my end as I've destroyed the resource and recreate.

[2020-12-23 21:47] venkykuberan commented on #8055
API doesn't allow to set more than one type of `exclusionrule` per ruleset as per the [API doc](https://cloud.google.com/dlp/docs/reference/rest/v2/InspectConfig#exclusionrule)

API throws error like below for your confiig
[code]
As provider schema is setup as expected I will close this issue. Please reopen it if feel otherwise

[2020-12-23 21:47] #8055 closed

[2020-12-23 22:29] shako92 commented on #4515
@slevenick yep you are right, SA had Primitive Editor Role, which doesn't cover IAP.
the solution for me was to add "IAP Policy Admin" to the SA.

Thank you

[2020-12-23 23:27] venkykuberan commented on #8077
Currently terraform provider don't support deploying Cloud Run service in to a GKE Cluster. Please raise a feature request for it, Team will traige it and work on it .

[2020-12-24 01:28] timothyrenner commented on #8067
Adding the project and location explicitly worked. Any idea why I have to do that just for this resource?

[2020-12-24 07:36] IkechukwuAKalu commented on #8077
@venkykuberan thank you for your quick response. I have modified the issue to an enhancement ticket.

[2020-12-24 09:51] dwilliams782 commented on #8055
Hi,

![image](https://user-images.githubusercontent.com/42545485/103080193-3ed9b780-45cd-11eb-85ee-830b68868891.png)

The GUI definitely supports having multiple rules per ruleset, this is from an existing inspect template we have created.

The api spec linked says that rules is just a list of InspectionRules:

[code]

I can't see any reference to only one being allowed, and obviously this doesn't

[2020-12-24 09:52] dwilliams782 commented on #8055
I don't have any permissions to reopen this issue but I do think it is genuine, or that I am misunderstanding something?

[2020-12-24 12:23] skolenkin opened #8083 "Allow gcloud composer to work with private GKE cluster endpoint via IAP as it works with GCE."
To increase composer usability, please add a possibility to allow gcloud composer to work with private GKE cluster endpoint via IAP as implemented in cloud compute.

Current command creates a cluster with private IP (via what) but then it is unable to communicate to it from remote.

The current implementation of a terraform google provider doesn't allow add airflow connections:
https://github.com/

[2020-12-24 14:39] ronjarrell commented on #7934
@edwardmedia

[2020-12-24 14:53] skydalriol opened #8084 "Link interconnect_attachment to bgp_peer using attribute reference breaks because of prefix"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-24 16:01] skydalriol commented on #8084
a workaround I found about getting only the IP address without prefix is the following:

[code]

Not ideal but it works :)

[2020-12-24 17:12] edwardmedia commented on #8083
@skolenkin help me understand your request. Is this for Terraform provider? If yes, could you add the the config for the details?

[2020-12-24 17:16] skolenkin commented on #8083
@edwardmedia Because currently terraform doesn't support customization GCP composer we implemented a workaround via gcloud command. But gcloud compose need GKE public endpoint and doesn't support IAP.

[2020-12-24 21:13] upodroid commented on #8072
Out of curiosity, why are you using `google_storage_bucket_acl` instead of `google_storage_bucket_iam_member` resource?

[2020-12-25 00:13] ronjarrell commented on #7934
https://gist.github.com/ronjarrell/c755419d32b13b6b3c0a7ddf0e6d9b67
Latest crash.  updated provider to 3.51, tf to 14.3.  Works fine on a greenfield apply, crashes on a second apply with or without changes, works fine for a destroy.

[2020-12-25 01:13] ronjarrell commented on #7934
Also, tried doing a state list, then doing an apply -target= each item on that list.  THey all work great except the compute instances - that consistently crashes.  But if I do a state show on one of the instances that crash, copy that to a tf file, make some slight changes to it to get rid of immutable variables, I can run apply to my hearts content and never fail.

[2020-12-25 14:30] edwardmedia commented on #7978
@kalanyuz can you try above example code to see if that works for you?

[2020-12-25 14:40] edwardmedia commented on #8053
@rileykarson my version is `terraform-provider-google_v3.51.0_` Yes to the plan output

[2020-12-25 15:51] edwardmedia commented on #8067
@timothyrenner it is based on the `google_cloud_run_service`. Your default settings appear not the same as ones from the service. Closing the service then. Feel free to reopen if you have further questions. Thank you

[2020-12-25 15:51] #8067 closed

[2020-12-25 15:53] edwardmedia commented on #8070
@yegle closing the issue then. Feel free to reopen if you can repro it

[2020-12-25 15:53] #8070 closed

[2020-12-25 16:13] edwardmedia commented on #8072
**[entity](https://cloud.google.com/storage/docs/json_api/v1/bucketAccessControls/insert#request-body)** format is incorrect, by missing `user-`, `group-`, etc.

Existing data for **entity**.
[code]
Should be
[code]

[2020-12-25 16:38] edwardmedia commented on #8074
I can repro the [issue](https://paste.googleplex.com/6143337418457088)

[2020-12-25 16:54] edwardmedia commented on #8083
@skolenkin please be clear and more details about what you want and how we can help. Is this a request for new resource(s)? Or new feature(s) in existing resource(s)? If this is for existing resource(s), please list the name(s) . If you see the features that are supported by GCP api, please post the links to the documents.

Currently Terraform provider supports `google_composer_environment`. I hav

[2020-12-25 17:19] edwardmedia commented on #8084
@skydalriol with or without prefix means different. `google_compute_interconnect_attachment` provides a range of ips, not a single one. You just pick one of IPs, right?  I don't think we should make changes to force the resource to provide one IP instead of a range. What do you think?

[2020-12-25 21:13] skolenkin commented on #8083
@edwardmedia We want to create additional connections in Airflow (composer) via terraform resource.
Using terraform we can’t do it. Could you please take a look at the following comment in the issue:
https://github.com/hashicorp/terraform-provider-google/issues/4418#issuecomment-548440892.
  We have found a workaround via cloud command but we have GCP composer which deployed in private GKE cluster

[2020-12-26 02:41] mbrancato opened #8085 "Support Anthos as a deployment platform for Cloud Run"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-26 16:50] edwardmedia commented on #8083
@skolenkin what you request is the same as [#4418](https://github.com/hashicorp/terraform-provider-google/issues/4418#issuecomment-548440892)? #4418 is already labelled as enhancement and has been triaged. If this is true, we should use #4418, do you agree?

[2020-12-27 22:30] tarrencev opened #8086 "Istio Gateway external Ip"
Hi,

I would like to retrieve the `istio-gateway` external ip for DNS record creation. Is there a way to do this right now?

[2020-12-28 08:11] skolenkin commented on #8083
@edwardmedia
4418 is close to this, but the main issue, that gcloud composer doesn't support IAP, so in case of using IAP 4418 will not resolve it. To create an environment with auth via IAP for gcloud composer, with GKE (private endpoint) it is needed to create a proxy GCE and route traffic via it

[2020-12-28 16:17] edwardmedia commented on #8083
@skolenkin I am still not sure what we can help. I guess you choose to enable `enable_private_endpoint`. Isn't the connection issue you are facing from that setting? What's wrong about the workaround with IAP and proxy GCE if that works? From Terraform perspective, there are other resources/modules available you can use to manage these resources. To execute commands remotely, have you looked into

[2020-12-28 16:51] edwardmedia commented on #8086
@tarrencev Currently supporting istio from the provider is limited. I would say no right now. But I can take a close look if you provide the details about what you want to achieve

[2020-12-28 17:22] tarrencev commented on #8086
@edwardmedia when enabling the istio addon in gke, an external port is assigned to the ingress gateway. im not sure how to query for this inside the terraform config. one work around it seems is to generate a new external ip and assign it to the gateway

[2020-12-28 17:27] #7829 closed

[2020-12-28 17:41] edwardmedia commented on #8086
@tarrencev in that case, you should be able to use Terraform [output](https://www.terraform.io/docs/configuration/outputs.html) to obtain it

[2020-12-28 18:07] tarrencev commented on #8086
@edwardmedia is it possible to use an output value from the cluster for the gke provisioned ip? if so, do you know the attribute name? in the workaround case i use the output.

[2020-12-28 18:07] rileykarson commented on #8060
I'm not sure how it would be attached given the current API. If you've got relevant documentation, I can try to help puzzle it out!

[2020-12-28 18:32] edwardmedia commented on #8086
@tarrencev  possible. I don't know the attribute name. You should be able to check it by running `tf show` after the cluster is created. It is possible I may have misunderstood your requirement. You may share the config code that shows where the generated ip and its use are.

[2020-12-28 18:59] rileykarson opened #8087 "Log warning messages on certain GKE configurations at cluster creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-28 19:08] rileykarson commented on #8053
@edwardmedia can you post a full plan output if your original one was clipped?

[2020-12-28 19:35] #7983 closed

[2020-12-28 20:57] edwardmedia commented on #7978
@kalanyuz closing this as I don't think this is an issue. Feel free to reopen it if above example does not work for you

[2020-12-28 20:57] #7978 closed

[2020-12-28 21:07] edwardmedia commented on #8063
@BusiPlay do you have the debug logs available to share?

[2020-12-28 21:08] edwardmedia commented on #8072
@lagmacx does above code work for you?

[2020-12-28 21:09] edwardmedia commented on #8073
@Sandhya-boreddy is this still an issue?

[2020-12-28 22:35] #7601 closed

[2020-12-28 22:35] #8005 closed

[2020-12-28 22:42] rileykarson commented on #8074
@edwardmedia: Quick note! Your repro is failing due to a different reason. It hits the API and receives an error there- I believe you've got a stray reference to the `mysite` matcher once you've removed its definition.

[2020-12-28 22:42] #8074 closed

[2020-12-28 22:44] rileykarson commented on #8074
Also one additional note, #7945 is ultimately the provider SDK issue https://github.com/hashicorp/terraform-plugin-sdk/issues/655

[2020-12-29 07:38] skolenkin commented on #8083
@edwardmedia I created a future request in gcloud using the following link https://issuetracker.google.com/issues/new?component=460446&template=1162764.
We can close this issue.

Thanks

[2020-12-29 07:38] #8083 closed

[2020-12-29 14:44] edwardmedia commented on #8053
Here is the [plan](https://paste.googleplex.com/5937886986764288)  @rileykarson

[2020-12-29 14:59] vgomenyuk commented on #6066
The same issue for v 3.51.0.
`Error: Error, failed to create instance temp-cloud-sql-db-1-stg: googleapi: Error 409: The Cloud SQL instance already exists. When you delete an instance, you cannot reuse the name of the deleted instance until one week from the deletion date., instanceAlreadyExists`

[2020-12-29 17:10] edwardmedia commented on #7799
I have tried several times today, none were failed. Likely this is a temporally api issue.  I am closing the issue then. @dskdas @justyns if you still see exception happens, please reopen this and share the debug logs. Thanks

[2020-12-29 17:10] #7799 closed

[2020-12-29 17:12] #7968 closed

[2020-12-29 19:23] bharathkkb opened #8091 "Make mtu in google_compute_network updatable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-29 19:39] randell-blackline opened #8092 "Support shielded instance configs for creating google dataproc cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-29 20:36] rileykarson commented on #8053
@edwardmedia: Did your original `terraform apply` fail? Your plan indicates the resource is tainted, and Terraform is behaving correctly (tainted resources are resources that are created in a bad state or marked as tainted by the user, and should be destroyed on next apply). When I try a create, I get the following message related to domain ownership which taints the resource:

[code]

[2020-12-29 21:17] venkykuberan commented on #8076
Since it is `Computed`, the provider can receive input from the user or API. If the user doesn't specify a value in the config, the provider will use the API value which is `0.0.0.0/0` in this case.  If you explicitly set a value provider pass it on API.
if you set the value to empty, then its removing the `source_range` entries and replace with `0.0.0.0/0` as its a mandatory attribute. Does it he

[2020-12-29 22:41] rileykarson commented on #7981
API: https://cloud.google.com/dns/docs/reference/v1beta2/resourceRecordSets

[2020-12-29 22:51] #8035 closed

[2020-12-30 11:49] averbuks commented on #8076
Hi @venkykuberan
Maybe I'm missing something, but my understanding is following:
1. API value is 0.0.0.0/0 in case of source_tags are not provided, when they are provider - source ranges should be empty. In the current case they are provided after config change.
2. Again speaking of API value 0/0, but when I remove source_ranges the value is not replaced to 0/0, but remains unchanged
see in the ou

[2020-12-30 12:14] abergmeier opened #8095 "Precondition check failed for google_service_networking_connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-30 12:55] Legogris opened #8096 "google_sql_user does not support lifecycle"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-12-30 13:37] jwilner commented on #8075
I've been looking for this same thing. Currently, I have achieved it with the following, but it'd be nice to do it with something less clever:

[code]

[2020-12-30 13:37] jwilner commented on #8075
I'll submit a PR adding this.

[2020-12-30 14:28] #6953 closed

[2020-12-30 15:01] upodroid commented on #8085
This is a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/8077

[2020-12-30 15:02] edwardmedia commented on #8095
@abergmeier there is an [example](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/service_networking_connection) that be tested everyday. Yours has not much different. Likely the issue is with your settings. Mind sharing the whole log so I can take a close look?

[2020-12-30 18:40] AndreasBergmeier6176 commented on #8095
@edwardmedia Do you have a way I can get you the non-redacted version privately?

[2020-12-30 18:45] AndreasBergmeier6176 commented on #8095
The thing that confuses me though is that both me (Project Owner) and the CloudBuild Service Account get the same failure.

[2020-12-30 19:05] c2thorn commented on #8076
Hey @averbuks, thanks for taking the time to point this out. `source_ranges` is designed to accept values returned by the API if it is not set in configuration. The value can exist/change in the backend and users do not have to manage it in Terraform. If this seems incorrect let us know, but this has been the behavior I believe since around the beginning of the implementation.

Within this behavio

[2020-12-30 22:05] edwardmedia commented on #8095
@AndreasBergmeier6176 I would suggest to post the info at [gist](https://gist.github.com/). Please redact appropriately before post. Mainly I need to see the requests and responses with API.

[2020-12-30 22:08] #8040 closed

[2020-12-30 22:09] #7945 closed

[2020-12-30 22:09] #7966 closed

[2020-12-30 22:10] slevenick commented on #7945
We have a fix for this using the new version of the SDK. This should be in the release expected to go out next week.

[2020-12-30 22:10] slevenick commented on #7966
We have a fix for this using the new version of the SDK. This should be in the release expected to go out next week.

[2020-12-30 22:10] edwardmedia commented on #8096
@Legogris where does you see `lifecycle` should be supported?

[2020-12-30 22:14] edwardmedia commented on #8063
@BusiPlay closing this as no reply received. Feel free to reopen it if you have the details ready to share.

[2020-12-30 22:14] #8063 closed

[2020-12-30 22:16] edwardmedia commented on #8072
@lagmacx closing this as no reply is received. Above code works for me. Feel free to reopen it if that does not work for you

[2020-12-30 22:16] #8072 closed

[2020-12-30 22:17] upodroid commented on #8077
@mbrancato

This can be implemented in Terraform but it is going to be messy.

https://cloud.google.com/run/docs/reference/rest/v1/namespaces.services

You need to supply ca cert of the cluster, namespace, cluster endpoint(needs to be reachable from where Terraform is running), sufficient IAM roles(Kubernetes Engine Developer or more) on the cluster.

[code]

gcloud.

[code]

[2020-12-30 22:17] edwardmedia commented on #8073
@Sandhya-boreddy closing this assuming this is no longer an issue. Feel free to reopen if need

[2020-12-30 22:17] #8073 closed

[2020-12-30 22:19] edwardmedia commented on #8084
@skydalriol   closing this as no reply is received. Feel free to reopen it if that does not make sense to you

[2020-12-30 22:19] #8084 closed

[2020-12-30 22:20] edwardmedia commented on #8086
@tarrencev do you still need me to take a look?

[2020-12-30 22:25] upodroid commented on #8086
You will need to use the `kubernetes_service` data source from the Kubernetes Terraform provider to pull the IP of the service. Once Istio is installed the service lives in the istio-system namespace with the name istio-ingressgateway.

Have a look at this article for how to authenticate to the gke and use it with the kubernetes terraform provider.

https://registry.terraform.io/providers/hashicor

[2020-12-30 23:57] tarrencev commented on #8086
perfect thanks! i will check it out

[2020-12-31 03:11] Legogris commented on #8096
@edwardmedia

https://www.terraform.io/docs/configuration/meta-arguments/lifecycle.html
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_user

Should be expected to work with resources, no? The stanza works fine with any other resource in this porvider I tried with, without being in docs.

[2020-12-31 07:30] AndreasBergmeier6176 commented on #8095
There you go: https://gist.github.com/AndreasBergmeier6176/f7769304ca97c934267dd235cb45f792

[2020-12-31 16:46] edwardmedia commented on #8095
@abergmeier the error message returned from api is not super clear. Is `vpn-peer` in the same project `foobar`?
What do you see if you run `gcloud beta services vpc-peerings list --network=vpn-peer`

[2020-12-31 17:05] edwardmedia commented on #8096
@Legogris looks like there is a typo in your [code](https://github.com/hashicorp/terraform-provider-google/issues/8096#issue-776442708). Can you try by updating it?
[code]

[2021-01-01 21:27] ggprod opened #8105 "Support for Certificate Authority service in beta provider?"
I'm just curious when the Certificate Authority service and its associated apis will be supported with corresponding resources/data-sources in the beta provider.

Thanks,
Mark

[2021-01-02 07:46] tjwebb opened #8106 "documentation typo for google_cloud_run_service"
The documentation here is incorrect: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#example-usage---cloud-run-service-sql

The `metadata` section should be outside of the template section, like this:

[code]

[2021-01-02 14:35] edwardmedia commented on #8105
@ggprod looks like you are talking about https://githubs .com/hashicorp/terraform-provider-google/issues/7657
It is currently labelled as **goal**, which means there is no firm timeline. If you want to have in the earlier and you have Google's account managers working with you, you may reach out to reset the priority.

[2021-01-02 14:35] #8105 closed

[2021-01-02 14:37] ggprod commented on #8105
@edwardmedia ok, thanks Edward

[2021-01-02 18:40] hkmushtaq opened #8107 "HTTP 403 - Forbidden - Creating google_cloudfunctions_function resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-03 09:50] AndreasBergmeier6176 commented on #8095
Yes

[code]

Output in the same project is:
[code]

[2021-01-03 10:28] AndreasBergmeier6176 commented on #8095
BTW: I tried disabling and enabling Service Network API and it does not solve the problem.

[2021-01-04 05:08] tjwebb commented on #1504
+1, would like to be able to set `disk_size_gb` and `worker_disk_type`

[2021-01-04 11:01] dwilliams782 commented on #8055
I've done more testing today and worked out you can specify multiple `rules` blocks within a rule_set, which is how you can implement multiple exclusion / hotword rules, so `rules` should probably be changed to `rule` given it's singular?

Hope this helps someone else as the documentation is unclear.

[2021-01-04 14:20] hashibot[bot] opened #8110 "crash: Error: rpc error: code = Unavailable desc = transport is closing"
_This issue was originally opened by @vsekhar as hashicorp/terraform#27393. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

https://github.com/vsekhar/terraform-crash

### Debug Output

https://gist

[2021-01-04 15:06] skydalriol commented on #8084
@edwardmedia (sorry for re-opening, Xmas break, and btw Happy New Year 😄 )

`You just pick one of IPs` is not entirely correct.
When you create a VLAN attachment, either you specify the `candidate_subnet` or Google will pick one of the available within the range (let it be 169.254.1.0/29 for the sake of this example).

Either way, once the attachment has been created, unless specified during its c

[2021-01-04 16:31] edwardmedia commented on #8107
@hkmushtaq Can you review the service account has proper [roles](https://cloud.google.com/functions/docs/concepts/iam#access_control_for_service_accounts) assigned?

[2021-01-04 16:56] hkmushtaq commented on #8107
Yes, I even added editor and owner roles to test

![image](https://user-images.githubusercontent.com/4555208/103559235-cd7aee00-4e83-11eb-9154-4d6f40b623f7.png)

[2021-01-04 18:55] edwardmedia commented on #8107
@hkmushtaq what **project** do you provide when you created other resources? I noticed below line in your code. Is it the same as one for other resources?

[code]

[code]

[2021-01-04 19:15] venkykuberan commented on #8110
@vsekhar can you please share the plan output of just `google_compute_region_instance_group_manager`, I suspect dynamic block is passing nil value for `target_size`, however tf/provider shoudn't crash in any situation. I want to look at your plan out to better understand the issue.

[2021-01-04 19:44] edwardmedia commented on #8095
@AndreasBergmeier6176 can you check if the billing account is properly set on the project and it does not meet the quote limits?

[2021-01-04 19:53] AndreasBergmeier6176 commented on #8095
What solved this is adding:

[code]

to our `google_project_iam_policy`.
While enabling _Service Network API_ might have implicitly added the serviceAgent role, the policy would have erased it afterwards.
The only thing I cannot yet explain why the erase happened even though we tried applying with `-target`.
Anyway it works now - thanks for all your effort.

[2021-01-04 19:54] #8095 closed

[2021-01-04 20:31] edwardmedia commented on #8095
@AndreasBergmeier6176 I am glad you have resolved the issue. In term of the behavior you see, are you aware of the differences of three iam resources?

**_xxxx_iam_policy_**: Authoritative. Sets the IAM policy for the project and **_replaces any existing policy already attached_**.

[2021-01-04 20:40] AndreasBergmeier6176 commented on #8095
Yes. Although we currently are migrating from member/binding to policy.
Would be really good to have a way of disallowing mixing between these, though.

[2021-01-04 22:29] edwardmedia commented on #8053
@rileykarson  there is another fresh run [log](https://paste.googleplex.com/6743284153057280)

[2021-01-04 22:49] abiydv opened #8111 "Documentation: Issue with link"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-04 23:10] ronjarrell commented on #7934
@edwardmedia Can we reopen this before the bot locks it and we have to start over... I'm having serious production issues every time I touch an instance.  We crash terraform 10-15 times a day now.

[2021-01-05 03:33] hkmushtaq commented on #8107
I use the default one - I only manually specified the project for this to see if it would make a difference. But all resources should be using the same project

________________________________
From: Edward Sun <notifications@github.com>
Sent: Monday, January 4, 2021 1:55:26 PM
To: hashicorp/terraform-provider-google <terraform-provider-google@noreply.github.com>
Cc: Hammad Mushtaq <hkmushtaq@gmai

[2021-01-05 07:29] msgongora opened #8112 "Provider crashes updating existing gke cluster by adding maintenance_exclusion"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-05 15:49] edwardmedia commented on #8107
@hkmushtaq under project, there are **id**, **name** and **number**. Which one do you use? Because it is provided with data in your code, I can't tell which one you were using. Can you verify if it is the same as one you used for other resources?

[2021-01-05 15:57] edwardmedia commented on #8096
@Legogris does my above finding solve your problem?

[2021-01-05 15:57] edwardmedia commented on #8086
@tarrencev is this still an issue?

[2021-01-05 16:23] AswinKakarot opened #8113 "After importing google_compute_ssl_certificate resource is marked to be replaced"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-05 18:15] yegle commented on #7988
Can we reopen this issue? Per https://github.com/hashicorp/terraform/issues/27305 this is an issue with the provider, thank you!

[2021-01-05 18:58] rileykarson commented on #8037
This could be achieved by merging conversion into the validator repo

[2021-01-05 20:47] #8087 closed

[2021-01-05 21:31] #8062 closed

[2021-01-05 22:28] edwardmedia commented on #8106
@tjwebb it looks like there are two different metadata. Both are correct. Below is the link to their APIs. Let me know if that makes sense to you.

https://cloud.google.com/run/docs/reference/rest/v1/namespaces.services

[2021-01-05 22:42] melinath commented on #7797
In case this is useful to future people: config.go (which provides Config) is copied over to tgc by `magic-modules/provider/terraform_object_library.rb`)

[2021-01-05 22:55] averbuks commented on #8076
Hi @c2thorn, thank you for the detailed explanation.
In my way of thinking that behaviour is incorrect, I did a few tests and these are my assumptions:
1. source_tags - are managed with terraform, if no source_tags specified but some present - terraform will detect it and delete unmanaged tags,
2. source_sa - same thing as for source tags
3. So finally when source_ranges are specified but tags or

[2021-01-06 00:11] melinath commented on #7501
Since chat is difficult to find things in again, I'll summarize here:

- `opRes` is not getting set correctly because the operation is coming back `done` right away
- Riley:

[2021-01-06 00:21] venkykuberan commented on #8113
API does not return `private_key` during import call as its a client asset, therefore we set it to null in the state. Also `name_prefix` is a computed field which gets created only in the resource Create call.  This is one of the resources not suited well for import due to its sensitive values (`private_key`).
Any change (addition/ modification) in `private_key` will make the resource to be recrea

[2021-01-06 00:39] upodroid commented on #7659
This needs to be retriaged. The resource doesn't support import today.

[2021-01-06 00:39] upodroid commented on #5633
@c2thorn is this done?

[2021-01-06 01:43] msgongora commented on #8112
I have submitted a PR, both providers were tested on my end

[2021-01-06 02:34] Legogris commented on #8096
@edwardmedia Can confirm I should have gone to bed way earlier that day - was sure triple-checked that.. PEBKAC, closing.

[2021-01-06 02:34] #8096 closed

[2021-01-06 14:28] vrvaderom opened #8124 "cloud_sql_database_instance data source documentation errorendous?"
Hi

The documentation for cloud_sql_database_instance data source [here](https://registry.terraform.io/providers/hashicorp/google/3.49.0/docs/data-sources/sql_database_instance)

States in the example:
`data "google_sql_database_instance" "qa" {
    name = google_sql_database_instance.master.name
}`

However, this doesn't work, and I think the intended code should be:

`data "google_sql_database_i

[2021-01-06 17:23] anubbhavm opened #8125 "google_access_context_manager_access_level_condition should provide an option to add the new condition to the existing condition with an "OR" operator"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-06 17:41] c2thorn commented on #5633
No, but it isn't something very useful to do at this point. There are changes coming to Magic Modules where we will get this for free.

[2021-01-06 18:29] #8112 closed

[2021-01-06 19:10] rileykarson opened #8127 "Add documentation about using Cloud Run on GKE/Anthos with Terraform"
This provider supports Cloud Run (fully managed), the Google-managed Cloud Run offering. There are also additional variants of Cloud Run: a self-run GKE one and a self-run Anthos one.  All of these can be configured from `gcloud`.

We should add a page documenting how to provision these Cloud Run variants using Terraform, likely using the `kubernetes_manifest` resource.

Obseletes https://github.c

[2021-01-06 19:10] rileykarson commented on #8085
We'll likely detail how to use the `kubernetes_manifest` resource to provision this instead: https://github.com/hashicorp/terraform-provider-google/issues/8127

[2021-01-06 19:10] #8085 closed

[2021-01-06 19:10] rileykarson commented on #8077
We'll likely detail how to use the `kubernetes_manifest` resource to provision this instead: https://github.com/hashicorp/terraform-provider-google/issues/8127

[2021-01-06 19:10] #8077 closed

[2021-01-06 19:26] chaopeng opened #8128 "Crash error: Root resource was present, but now absent."
I have see a when "Root resource was present, but now absent." error when upgrade the version of terraform-provider-google to 3.51.0

In this PR https://github.com/terraform-google-modules/terraform-google-healthcare/pull/36

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the origin

[2021-01-06 23:30] jcanseco opened #8129 "google_container_cluster: support workloadPool and identityProvider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-07 10:44] dlaburthe opened #8130 "Cloud DNS : Terraform can't remove managed zone labels"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-07 11:03] AswinKakarot commented on #8113
Thanks for the prompt reply. If this is the case then wouldn't it be better to disable importing such a resource? Would be a bummer though.

[2021-01-07 13:59] ralbertazzi opened #8132 "google_bigquery_dataset_iam_member doesn't handle deleted members"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-01-07 14:38] jaceq opened #8133 "google_storage_bucket_object add ability to use Customer Supplied Encryption Keys"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-07 15:04] ScottSuarez commented on #7979
Checked in the [fix for this](https://github.com/GoogleCloudPlatform/magic-modules/pull/4347).. thanks for your patience. Holidays held things up. Hope this will make your lives easier :)

[2021-01-07 15:04] #7979 closed

[2021-01-07 16:06] Frazer-4c opened #8136 "Error when using email alias with Google account."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere