[2019-12-16 16:24] ocervell commented on #5123
@jason-huling I'm getting the same issue, could you please give more context as to what was the issue in the GCP API ? I am using provider `2.20.1` so doesn't seem to be fixed there either.

[2019-12-16 16:54] ocervell commented on #5107
Running on `2.20.1` and still getting an error (seems a bit different):

[code]

Log:

[code]

[2019-12-16 17:10] jharshman commented on #5121
@megan07 I ran a `terraform state list | grep app_engine` and got no results.

[2019-12-16 17:11] jharshman commented on #4935
@tysen any updates or ETA for the fix?

[2019-12-16 17:25] eversC commented on #4856
I had the same thing, but unfortunately `gcloud config set project` didn't work for me..

I got it working by setting the env var: `GOOGLE_PROJECT`

[2019-12-16 17:30] danawillow commented on #5174
The BigQuery API doesn't have getIamPolicy/setIamPolicy methods, which would be necessary in order to use the same IAM infrastructure we have in the provider (https://cloud.google.com/bigquery/docs/reference/rest/#rest-resource-v2datasets). However, we can probably do something similar- marking this as a duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/3990 and

[2019-12-16 17:30] #5174 closed

[2019-12-16 17:43] danawillow commented on #3990
Closing this as a dupe since https://github.com/terraform-providers/terraform-provider-google/issues/2686 is older and they're functionally asking for the same thing.

[2019-12-16 17:43] #3990 closed

[2019-12-16 17:51] danawillow commented on #5176
Hi @BALABHASKARARAO, as noted in https://github.com/terraform-providers/terraform-provider-google/issues/new?template=question.md, the issue tracker is intended to keep track of bugs and feature requests for the provider, and is not the correct place to ask for help writing your Terraform configs. Please check out one of our community resources listed there instead!

[2019-12-16 17:51] #5176 closed

[2019-12-16 17:51] danawillow commented on #5177
Hi @BALABHASKARARAO, as noted in https://github.com/terraform-providers/terraform-provider-google/issues/new?template=question.md, the issue tracker is intended to keep track of bugs and feature requests for the provider, and is not the correct place to ask for help writing your Terraform configs. Please check out one of our community resources listed there instead!

[2019-12-16 17:51] #5177 closed

[2019-12-16 17:57] danawillow commented on #5175
Closing as duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/1495

[2019-12-16 17:57] #5175 closed

[2019-12-16 18:00] marcb1 opened #5181 "google provider returning 0 exit code on error"
Terraform version info:
[code]

We are creating the following resource via the google provider:
[code]

When running terraform apply, we get the following error:
[code]

[code]

However the exit code returned by terraform is `0`. Our automation relies on an error exit code (non-zero) being returned.
Is this a terraform bug, or a google provider bug? Let me know I can close and re-open this on terr

[2019-12-16 18:01] danawillow opened #5182 "Fix TestAccAccessContextManager (Add Sweeper)"

[2019-12-16 18:02] danawillow opened #5183 "Fix TestAccBillingBudget_billingBudgetFilterExample"

[2019-12-16 18:02] danawillow opened #5184 "Fix TestAccContainerCluster_withDatabaseEncryption"

[2019-12-16 18:03] danawillow opened #5185 "Fix TestAccDataFusionInstance_update"

[2019-12-16 18:06] danawillow opened #5186 "Fix TestAccMonitoringAlertPolicy"

[2019-12-16 18:06] danawillow opened #5187 "Fix TestAccMonitoring* tests"
TestAccMonitoringGroup_monitoringGroupBasicExample
TestAccMonitoringGroup_monitoringGroupSubgroupExample
TestAccMonitoringGroup_update
TestAccMonitoringUptimeCheckConfig_uptimeCheckTcpExample

[2019-12-16 18:10] danawillow opened #5188 "Fix TestAccAppEngineApplicationUrlDispatchRules_appEngineApplicationUrlDispatchRulesBasicExample"

[2019-12-16 18:20] rileykarson commented on #4116
Closing as dupe of #3304

[2019-12-16 18:20] #4116 closed

[2019-12-16 18:28] c2thorn opened #5189 "Generate Test Sweepers"
Part of https://github.com/terraform-providers/terraform-provider-google/issues/3288

Enhance MM to generate sweepers for all possible generated resources

[2019-12-16 18:29] #5133 closed

[2019-12-16 18:53] jjorissen52 commented on #5107
@slevenick I've just attempted it after pinning `v2.20.1`, but there's no change in behavior as far as I can tell. Any advice for me?

[code]

![image](https://user-images.githubusercontent.com/12461302/70934153-e4456d00-2002-11ea-827a-fb8cfc5582b8.png)

[2019-12-16 18:56] danawillow commented on #5148
Duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/2092 and https://github.com/terraform-providers/terraform-provider-google/issues/4696

[2019-12-16 18:56] #5148 closed

[2019-12-16 18:59] orikashi opened #5190 "google_sql_database_instance incorrectly has SQLSERVER_ENTERPRISE_2016 documented as an option"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-16 19:26] #4190 closed

[2019-12-16 19:26] slevenick commented on #5107
@jjorissen52 can you provide debug logs for the failing run? That will help me debug what is going on

[2019-12-16 19:27] #4604 closed

[2019-12-16 19:48] rileykarson commented on #5132
Hey @ondrejklucka! I'm curious what your use case for this datasource is. Have you found that you often need to check in Terraform whether services are enabled? And in what cases?

Since there's no way to specify a service as disabled in TF, the only actionable thing TF can do for a disabled service is enable it.

---

Generally, I see the `google_project_service` resource as an assertion more tha

[2019-12-16 21:14] jjorissen52 opened #5192 "google_app_engine_standard_app_version ModuleNotFoundError: No module named 'hello_world.wsgi'""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-16 21:22] danawillow opened #5193 "Change affected AtLeastOneOfs back to ExactlyOneOf"
See https://github.com/terraform-providers/terraform-provider-google/issues/5024

This affects:
- google_compute_firewall
- google_folder_organization_policy
- google_organization_policy
- google_project_organization_policy
- google_compute_health_check
- google_compute_region_health_check

Because of https://github.com/hashicorp/terraform-plugin-sdk/issues/280, several fields that were ExactlyOne

[2019-12-16 21:29] tysen commented on #4935
@jharshman I have been working on this but encountered an issue with creating a forwarding rule uses a subnetwork with purpose = `INTERNAL_HTTPS_LOAD_BALANCER`. I'm talking with the relevant team but haven't found a resolution yet.

Specifically what I mean is that if I attempt to have Terraform provision the resources listed for the example ([part 1](https://cloud.google.com/load-balancing/docs/l

[2019-12-16 21:33] #5163 closed

[2019-12-16 22:34] jason-huling commented on #5123
Hey @ocervell, here is the information I got back from GCP support for my specific use case. I would be curious if yours is the same issue...

There is an account whose primary email is `john.doe@gmail.com` and who has `john@acme.com` as a secondary email. Support suggested that the reason is probably that this person registered the alias `john@acme.com` as a secondary/alternate email before `acme

[2019-12-16 22:41] venkykuberan commented on #4644
@haf-afa,
 I am able to query the IAM API with "Viewer" permissions for the project.

Terraform - v0.12.18
provider.google - v3.2.0
===========================================
data "google_service_account" "kubernetes" {
  account_id = "terraform-test"
  project    = "cloud-xxx-xxx" # using this prop or implicit from `provider "google"` makes no difference
}

output "service_account" {
  value = d

[2019-12-16 22:47] jwcmd commented on #5121
Any chance you see `app_engine` in the output of `terraform show`?

`terraform state list` looks like it just lists the resource names, but if this is an attribute of a resource it may only show up in `terraform show`.

Hope that helps!

[2019-12-16 23:00] venkykuberan commented on #5190
@orikashi
  Thank you for pointing out. API is not supporting SQLServer_Enterprise_2016 as per https://cloud.google.com/sql/docs/sqlserver/db-versions. We will correct the provider documentation

[2019-12-16 23:08] venkykuberan commented on #5179
@javapapo You can't reuse the same instance name for up to a week. Please refer this issue #5101. Closing this one.

[2019-12-16 23:08] #5179 closed

[2019-12-16 23:26] ndmckinley opened #5196 "Improve CI system by converting to a PR-after-submit workflow."

[2019-12-16 23:38] #5024 closed

[2019-12-16 23:46] jjorissen52 commented on #5107
@slevenick unfortunately, earlier today I bumped up to `v3.2.0` on this project for an unrelated reason, and I am unable to downgrade again.

[2019-12-16 23:49] slevenick commented on #5107
The 3.3.0 release is expected to go out tomorrow which has this fix. Please let me know if you encounter the same issue with that version, but I'll close this until then.

I believe this issue has been fixed with 2.20.1 as I am unable to reproduce issues at this point

Downgrading from 3.x to 2.x is going to be difficult and not recommended

[2019-12-17 01:13] #5084 closed

[2019-12-17 01:15] venkykuberan commented on #5163
Following binds the role with the members

resource "google_pubsub_topic_iam_member" "default" {
[code]

[2019-12-17 02:00] emilymye commented on #5046
Closing and tracking in https://github.com/terraform-providers/terraform-provider-google/issues/5038

[2019-12-17 02:00] emilymye commented on #5038
Need to switch to new templates

[2019-12-17 10:27] judika03 opened #5208 "Error uploading object redis_test.sh: googleapi: Error 403: The project to be billed is associated with an absent billing account., accountDisabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-17 10:28] javapapo commented on #5179
Ooh understood. thanks

[2019-12-17 10:30] judika03 opened #5209 "Error uploading object redis_test.sh: googleapi: Error 403: The project to be billed is associated with an absent billing account., accountDisabled"
### Community Note

*Error uploading object redis_test.sh: googleapi: Error 403: The project to be billed is associated with an absent billing account., accountDisabled

### Terraform Version

terraform version
Terraform v0.12.0
+ provider.google v3.2.0
+ provider.google-beta v3.2.0
+ provider.template v2.1.2

Your version of Terraform is out of date! The latest version

### Affected Resource(s)

[2019-12-17 10:31] judika03 commented on #3429
I'm same issue about that, How to solved to create new bucket?

[2019-12-17 10:49] judika03 commented on #3429
Error uploading object redis_test.sh: googleapi: Error 403: The project to be billed is associated with an absent billing account., accountDisabled.

I have same issue, I already to adding sleep to create bucket. but same issue. How to solved?

[2019-12-17 12:30] #4209 closed

[2019-12-17 14:05] jaceq opened #5210 "Allow configuring Datastore / Firestore mode (native - Firestore or legacy Datastore)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-17 14:13] rileykarson commented on #5210
Duplicates https://github.com/terraform-providers/terraform-provider-google/issues/3657

[2019-12-17 14:13] #5210 closed

[2019-12-17 14:20] hashibot[bot] opened #5211 "GCP compute instance can't attach a new disk"
_This issue was originally opened by @Dmitry1987 as hashicorp/terraform#23698. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]

### Expected Behavior
Disk created and attached, instance created

### Actual Behavior
Instance can't be cr

[2019-12-17 14:24] haf-afa commented on #4644
You're testing with a different version. This was two months ago for me, and I don't have the setup to generate more information right now, so we'd better close it.

[2019-12-17 14:24] #4644 closed

[2019-12-17 14:56] pradeepbhadani commented on #5211
@Dmitry1987 I tried the provided terraform code and unable to reproduce this issue. Terraform is able to create a disk first and then instance.

Can you attach the `terraform graph` output and `TF_LOG=DEBUG terraform apply` output?

Here is the output of `terraform graph` at my end
[code]

[2019-12-17 15:08] pradeepbhadani commented on #5172
@clebio Can you update ` project = google_project.project.id` to ` project = google_project.project.project_id` ?

Also, could you please paste the output of `terraform graph` and `terraform plan` ?

It seems like `google_project_service` is not waiting for `google_project.project` to finish.

[2019-12-17 15:10] pradeepbhadani commented on #5161
@gazmania  Can you try to update `project = google_project.project.id` to `project = google_project.project.project_id` and try?

[2019-12-17 15:37] pradeepbhadani commented on #5190
@orikashi @rileykarson  - I have added a fix for this in https://github.com/terraform-providers/terraform-provider-google/pull/5207

[2019-12-17 15:50] rileykarson commented on #5190
Thanks @pradeepbhadani! However, I'd like to keep those changes separate instead of rolling several together into a single PR. I've sent https://github.com/GoogleCloudPlatform/magic-modules/pull/2850 which includes a deprioritisation of first-gen instances for https://cloud.google.com/sql/docs/mysql/deprecation-notice

[2019-12-17 15:51] rileykarson commented on #5208
Closing as dupe of https://github.com/terraform-providers/terraform-provider-google/issues/5209

[2019-12-17 15:51] #5208 closed

[2019-12-17 15:55] rileykarson opened #5212 "Make google_sql_database_instance version required"
We've drifted from the API default of MySQL 5.7 (we're still on 5.6) and eventually 5.6 will be deprecated. Admittedly, there's no concrete timeline and we will have a 12mo window: https://cloud.google.com/sql/docs/mysql/db-versions#major_version_deprecation_plan

With 3 DB types and an old default version, I think it's time we make the field `Required`.

[2019-12-17 15:55] BenCoughlan15 commented on #4935
I'm getting this too: when I try to run the following  :

[code]

[code]

I get

2019/12/17 15:50:37 [WARN] module.internal-lb: eval: *terraform.EvalValidateResource, non-fatal err: expected load_balancing_scheme to be one of [EXTERNAL INTERNAL INTERNAL_MANAGED ], got INTERNAL_SELF_MANAGED
2019/12/17 15:50:37 [ERROR] module.internal-lb: eval: *terraform.EvalSequence, err: expected load_balancing_s

[2019-12-17 16:01] pradeepbhadani commented on #5190
@rileykarson  - git puts commit into the open PR. I couldn't find a way to open multiple PRs from a fork repo to upstream repo.

[2019-12-17 17:10] clebio commented on #5172
@pradeepbhadani , I think you're right. That seems to have fixed this for me. Thanks!

[2019-12-17 17:10] #5172 closed

[2019-12-17 18:28] neomantra commented on #5098
This `org_id` commit has landed on `v3.2.0`

[2019-12-17 20:44] AbhinayGupta741 commented on #451
Well, the restoring terminated project in GCP worked for me.
We are facing the same issue while creating the new project through Jenkins using terraform.

[2019-12-17 20:48] #5184 closed

[2019-12-17 20:54] jharshman commented on #4935
@tysen I am able to create a L7 ILB from the UI when starting from scratch. However, having TF provision only part of the resources and then going into the UI to finish the forwarding rule does result in an error.

[2019-12-17 21:22] danawillow commented on #451
Hi @AbhinayGupta741, this issue has been closed for over two years so I think most of us have lost context as this point. If you're experiencing problems still, could you please open a new one in the tracker and fill out the template completely? Thanks!

[2019-12-17 23:12] mikhail-khodorovskiy opened #5215 "data provider google_service_account fails to lookup existing service account due to changes to google_project"
### Terraform Version

Terraform v0.12.8
+ provider.external v1.2.0
+ provider.google v3.2.0
+ provider.google-beta v3.2.0
+ provider.null v2.1.2
+ provider.random v2.1.2

### Affected Resource(s)

* google_XXXXX

### Terraform Configuration Files

[code]
Note that the project id is now of a format "projects/project-id" which breaks subsequent IAM API call URI constructions in the logs below as us

[2019-12-17 23:12] edwardmedia commented on #5161
@gazmania using `project_id` instead of `id`

[code]

[2019-12-17 23:15] #5046 closed

[2019-12-17 23:15] #5038 closed

[2019-12-17 23:23] #2909 closed

[2019-12-17 23:37] danawillow commented on #4792
https://github.com/terraform-providers/terraform-provider-google/issues/4509 is currently being worked on to allow adding a project to a perimeter separately from the perimeter resource. Would that obsolete this, or would this still be an issue if that separate resource is added?

[2019-12-17 23:45] venkykuberan commented on #5173
@remorses I am able to reproduce the issue, its working as designed. In order to use the custom domain mapping for your cloud run service, you need to use the verified(existing) domain. Please refer this [doc](https://cloud.google.com/run/docs/mapping-custom-domains?_ga=2.214071703.-1839344524.1574712989)

I have attached the debug log which matches the error message seen on the cloud console UI.

[2019-12-17 23:47] edwardmedia commented on #5165
@ogreface `not being able to specify the image (in google_compute_region_disk) is a pain point for us,`  Why do you need it? Can you please provide your use cases?

[2019-12-17 23:53] danawillow commented on #4809
https://github.com/GoogleCloudPlatform/magic-modules/pull/2835 should fix this, which was released today in v3.3.0.

If for some reason that doesn't fix it, the equivalent PR of https://github.com/GoogleCloudPlatform/magic-modules/pull/2852 that I started working on before I saw the other one should :)

Closing this out, but feel free to reopen if you still see issues after upgrading to the releas

[2019-12-17 23:53] #4809 closed

[2019-12-17 23:59] danawillow commented on #5124
I agree that it would be worth getting opinions from Terraform users on this pattern, since it's super uncommon across providers.

[2019-12-18 00:13] edwardmedia commented on #5192
@jjorissen52 do you have `/hello_world.zip` some place where I can download the package?

[2019-12-18 03:14] edwardmedia commented on #5215
@mikhail-khodorovskiy Can you try to use `project_id` instead of `id`?
[code]

[2019-12-18 08:13] naihsi commented on #3385
Hi, I also encountered this issue. my case is also to add two additional nodepools, and it upgrade automatically to block the followed deployment.

[2019-12-18 11:37] Lirt opened #5218 "Error 400: Requested policy version (1) cannot be less than the existing policy version (3)"
[issue-type:bug-report]

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the requ

[2019-12-18 13:48] chreble commented on #5173
I have the same issue, it was working fine so far...

[2019-12-18 14:44] #5190 closed

[2019-12-18 14:56] chreble commented on #5173
There's a function that transforms the `route_name` property to this old format, which is no longer supported by the API.

Probably this one: https://github.com/terraform-providers/terraform-provider-google/blob/4e3c5913387d18aae970a360af0085f2f93b6ba3/google/resource_cloud_run_domain_mapping.go#L656-L662

[code]

See `"routeName":"projects/d2p-canary-eu/global/services/geoip-api"`

While in my `T

[2019-12-18 16:09] rileykarson commented on #5190
@pradeepbhadani: You can have a single PR per branch, by using multiple branches you can open multiple PRs per fork.

[2019-12-18 16:13] rileykarson commented on #5098
Sorry about the disruption! This and a few resources- particularly, datasources- slipped through the cracks and didn't have a great equivalent. `org_id` supersedes old uses of `id`, which held the short-form ID value (`012345678910`), and `id` across most resources is expected to hold the long-form value (`organizations/012345678910`).

I'm closing this out since that's available, if I missed anyt

[2019-12-18 16:13] #5098 closed

[2019-12-18 16:55] ogreface commented on #5165
Hi @edwardmedia

This is a pain for for a few reasons.

1. This resource behaves differently then the `google_compute_disk` resource. This means we have to special case logic to handle the difference between the two. The only difference could be passing in additional zones, but since we can't pass the image we need an additional step.
2. The additional step requires provisioning after the resource

[2019-12-18 17:24] RaniHirave opened #5219 "Binary Authorization issue for google-beta provider with terraform version 0.12.14."
### Terraform Version

0.12.14

### Affected Resource(s)
 Binary Authorization Attestor Kms

### Terraform Configuration Files
[code]

### Issue Description

I am getting below error.

Error: Invalid index

resource "google_binary_authorization_attestor" "attestor":
 public_key_pem      = data.google_kms_crypto_key_version.version.public_key[0].pem
    |----------------
    | data.google_kms_crypt

[2019-12-18 17:30] RaniHirave commented on #5219
facing this issue

Error: Invalid index

  on main.tf line 126, in resource "google_binary_authorization_attestor" "attestor":
 126:         public_key_pem      = data.google_kms_crypto_key_version.version.public_key[0].pem
    |----------------
    | data.google_kms_crypto_key_version.version.public_key is empty list of object

The given key does not identify an element in this collection value.

[2019-12-18 18:27] venkykuberan commented on #5211
@Dmitry1987,
  I am able to repro your situation, however it's working as designed.
 In your config you are creating Compute Instance and a Disk with the same name for both the resources. GCP internally creates a bootdisk (for each instances) with the name given as instance name. Since you are attaching the external disk with the same name, its creating the conflict. Giving different name to exter

[2019-12-18 19:06] #5188 closed

[2019-12-18 19:19] Dmitry1987 commented on #5211
@venkykuberan thank you so much! It's probably the reason, I didn't know in GCP boot disks are separate entity unique by "name" (in AWS all resources are by unique ID).

[2019-12-18 19:29] venkykuberan commented on #5052
@inductor
 Using the following format i am able to create the cluster successfully.
resource "google_container_cluster" "foo-cluster" {
  provider = google-beta
  name = "test-cluster"
  initial_node_count=1

  maintenance_policy {
    recurring_window {
      **start_time = "2019-01-01T03:00:00+09:00"
      end_time   = "2019-01-01T08:00:00+09:00"**
      recurrence = "FREQ=DAILY"
    }
  }
}

[2019-12-18 19:54] jjorissen52 commented on #5192
@edwardmedia https://storage.googleapis.com/hellow-world-debug-bucket/hello_world.zip

[2019-12-18 20:12] emilymye commented on #5186
Closing as duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/5187

[2019-12-18 20:12] #5186 closed

[2019-12-18 20:14] emilymye commented on #5187
Tests are returning Error 409: Too many concurrent edits to project configuration - adding a retry predicate

#2845 + #2860 should fix this

[2019-12-18 20:23] pb0101 opened #5222 "Project is getting tainted in TF state file, even though it got created; when billing id is incorrect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-18 20:38] edwardmedia commented on #5219
@RaniHirave can you post the full debug log? Thanks

[2019-12-18 22:59] edwardmedia commented on #5219
@RaniHirave I can't repo it. Can you run below commands to see what you have?
[code]

[2019-12-18 23:02] edwardmedia commented on #5218
@Lirt can you post the full debug log?

[2019-12-18 23:20] Lirt commented on #5218
Hi @edwardmedia here is the relevant part
https://gist.github.com/Lirt/aacfb287edb288f10ae1de091ebbf0ec

[2019-12-18 23:22] emilymye commented on #5043
Moving to sprint 3 for now - I think we need information from the service team, so I filed a bug

[2019-12-19 00:59] venkykuberan commented on #5067
@bigbitbus my understanding is max_workers config value is being used during Auto scaling. If your job requires more resources then GCP increase the workers/instances up to 12 (for your config). However it starts the job with minimal workers and bump up when it needed.  The examples i tried started with 1 worker though.
Regarding the params [here](https://cloud.google.com/dataflow/docs/guides/spec

[2019-12-19 01:25] edwardmedia commented on #5192
@jjorissen52 from your screenshot, it seems you did not include the app.yml from hello_world.zip. Was that on purpose? Why? You might want to take a look at the sample https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/appengine/standard_python37/django Please try to rerun `tf apply` for the zip file with app.yml. I don't think the error has anything to do with terraform. Pleas

[2019-12-19 01:40] dmmatson opened #5228 "File Store: Shared VPC Not Supported"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-19 01:49] edwardmedia commented on #5218
@Lirt `terraform-provider-google` might not be the best team to help you resolve this issue. But I notice that you don't have `bindings={}`. Is that on purpose? Here is the link where you can see a sample for using this module. https://github.com/terraform-google-modules/terraform-google-iam/blob/master/examples/project/main.tf

[2019-12-19 02:40] gowrisankar22 opened #5229 "Cluster creation and node pool creation not working"
Hello Folks,

I am unable to create cluster and node pool creation via terraform. Looks like something wrong?
can someone help ?
[code]

[2019-12-19 07:03] inductor commented on #5052
@venkykuberan

The point was that the document example did not work.

[2019-12-19 08:23] judika03 opened #5231 "Error creating DNS RecordSet: googleapi: Error 400: Invalid value for 'entity.change.additions[0].rrdata[0]':"
### Community Note

 Error creating DNS RecordSet: googleapi: Error 400: Invalid value for 'entity.change.additions[0].rrdata[0]': '$google_compute_instance_template.redis-1.network_interface.address', invalid

### Terraform Version

Terraform v0.12.0
+ provider.google v3.2.0
+ provider.google-beta v3.2.0
+ provider.template v2.1.2

### Affected Resource(s)

* google_XXXXX

### Terraform Configura

[2019-12-19 10:11] Lirt commented on #5218
@edwardmedia I'm sorry, I have it in code, but I accidently missed it. I updated the description now.

[2019-12-19 11:14] rolandkool commented on #4792
Yes that would definitely help. Would be great if that also solves the dependency issue.

[2019-12-19 13:24] Lirt commented on #5218
I think I found what is the issue here. If someone was trying the new Google IAM `conditions` feature, the IAM policies were updated to version 3, which is currently in `beta`.

Using `google-beta` provider fixes the issue. Is this worth investigating for you?

[2019-12-19 15:20] hashibot[bot] opened #5232 "google_database_instance ignores database_flags on resource update"
_This issue was originally opened by @c-ryan-johnson as hashicorp/terraform#23723. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
0.12.18

[code]

### Terraform Configuration Files

[code]

### Debug Output
Excerpt is only the settings block

[2019-12-19 15:25] rileykarson commented on #5165
Are you able to create a regional disk based on an image in other tools? https://cloud.google.com/compute/docs/disks/regional-persistent-disk#limitations indicates that it's impossible:

[2019-12-19 16:40] RaniHirave commented on #5219
@edwardmedia  This is working with command line but when do the same using terraform code and uses a example given in official document I am getting above error.

[2019-12-19 16:41] RaniHirave commented on #5219
I am uses the same example code given at below link.
https://github.com/terraform-providers/terraform-provider-google/blob/master/website/docs/r/binary_authorization_attestor.html.markdown

[2019-12-19 16:41] RaniHirave commented on #5219
Let me know if you need any further information from my end.

[2019-12-19 17:37] emilymye commented on #5187
Closing since they didn't fail last night! yay

[2019-12-19 17:37] #5187 closed

[2019-12-19 17:38] emilymye commented on #5185
if i see it fail again, i'll reopen, but it looks fine as of yesterday

[2019-12-19 17:38] #5185 closed

[2019-12-19 17:39] emilymye commented on #5182
i temporarily fixed it by removing the org access policy, but we should add a sweeper to remove it since there can only be one per org.

[2019-12-19 17:42] ogreface commented on #5165
@rileykarson No, I cannot. You are correct, I confirmed that the underlying API doesn't support that yet. Do you have an ETA on when it will? And/or why regional disk resources are treated differently in that regard? Thanks!

[2019-12-19 17:46] nryoung opened #5233 "Failure to create VPC Access Connector"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-19 17:55] rileykarson commented on #5165
Unfortunately not- I'm not aware of any plans from the service team, or why that restriction is in place in the first place. If you [file an issue against GCE](https://issuetracker.google.com/issues/new?component=187134&template=0), they may be able to provide some insight. If you do, link back here and I'll follow the issue as well.

In the meantime, marking this issue as upstream and unassigning

[2019-12-19 18:00] ogreface commented on #5165
Gotcha, thanks. I filed the ticket here: https://issuetracker.google.com/issues/146534399

[2019-12-19 18:13] mikhail-khodorovskiy commented on #5215
Yes, that worked.  Thank you!

[2019-12-19 18:16] jjorissen52 commented on #5192
It could very well not be a bug with Terraform, but I spent quite some time on this and came up dry. A minimum working example work be greatly appreciated!

I did not include the app.yaml file in the screenshot because it was added afterwards when I was trying to see if it works with `gcloud app deploy`.

This is that same app created using `terraform apply`: https://b841f60c38b7ffc47c1497f8eee73b

[2019-12-19 18:36] dmmatson commented on #5228
Documented as known issue with Filestore:

https://cloud.google.com/filestore/docs/known-issues

[2019-12-19 18:36] #5228 closed

[2019-12-19 19:08] JaymoKang opened #5235 "GKE node pools are not remade after cluster is recreated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-19 19:46] venkykuberan commented on #5052
@inductor
 The [doucment](https://www.terraform.io/docs/providers/google/r/container_cluster.html#maintenance_policy) says:
``` daily_maintenance_window - (Required in GA, Optional in Beta) Time window specified for daily maintenance operations. Specify start_time in RFC3339 format "HH:MM”, where HH : [00-23] and MM : ```
I tested different time zones with RFC3339 formats. It worked fine, i didn't

[2019-12-19 19:49] venkykuberan commented on #5211
Closing the issue

[2019-12-19 19:49] #5211 closed

[2019-12-19 20:17] edwardmedia commented on #5229
@gowrisankar22  can you post your terraform code and full debug log? And how did you repro the issue?

[2019-12-19 20:38] edwardmedia commented on #5232
@c-ryan-johnson there are two `database_flags` in your code. They are dup. Can you try again by removing one?

[2019-12-19 20:53] oswalya commented on #5019
I have the same issue. I am using:

[code]

When using `enable_flow_logs` I got prompted with:

`Warning: "enable_flow_logs": [DEPRECATED] This field is being removed in favor of log_config. If log_config is present, flow logs are enabled.`

I tried than to create new subnetworks without using `enable_flow_logs` and just specifying `log_config` as follows:

[code]

This results in the described be

[2019-12-19 20:59] slevenick commented on #5019
@oswalya You are creating a new subnetwork with a `log_config` and are not seeing it be enabled? Can you provide debug logs for the run that fails to enable logging?

[2019-12-19 21:03] c-ryan-johnson commented on #5232
@edwardmedia Good catch. That was simply a copy/paste error when creating the issue. I have tried it with only one `database_flags` block and am having the same issue.

[2019-12-19 21:03] danawillow commented on #4792
Cool! I think there's a chance that we'll still need this once that's done, so I'll keep this open for the time being and check back again later.

[2019-12-19 21:18] oswalya commented on #5019
@slevenick
Sry for the misleading description. Creating a subnetwork on the first run works with `log_config` enabled.
What is not working is a state change afterwards (both ways). If I created the subnet with flow logs enabled and remove now the block from my terraform file another plan shows no diff. Expected behaviour would be: deactivate flow logs.
The other way round it is the same. When I cr

[2019-12-19 21:29] ocantov commented on #5019
Hi!
I have faced this issue, I reported it :
https://github.com/terraform-providers/terraform-provider-google/issues/4881

[2019-12-19 21:30] slevenick commented on #5019
Yeah, as mentioned in that issue I would recommend setting
`enable_flow_logs` while you use version `2.20.1` and then remove it when you upgrade to `3.x` where the presence of `log_config` works correctly.

[2019-12-19 21:30] #5019 closed

[2019-12-19 21:43] tristan957 opened #5239 "Support range partitioning for BigQuery tables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-19 21:43] edwardmedia commented on #5232
@c-ryan-johnson I can't repro your issue. Can you post the complete terraform code and the full debug log? What are the versions of terraform-provider-google and terraform-provider-google-beta?

[2019-12-19 22:05] tristan957 commented on #5239
Is there anything more required, other than editing this file (https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/resources/resource_bigquery_table.go.erb) and adding documentation somewhere?

[2019-12-19 22:49] venkykuberan commented on #5231
@judika03 DNS recordset A (alias) expects an host ip address as value for rrdatas. Resource google_compute_instance_template is a template and it doesn't create any VMs and not have any physical ip address. You may want to use **google_compute_instance_from_template** to create an instance and attach its ip to your DNS.

Here is the sample config if it helps
---------------------------------------

[2019-12-19 22:52] edwardmedia commented on #5219
@RaniHirave I'd like you to run two `gcloud` commands to see if there are existing keyrings & keys. What version of `terraform-provider-google` are you using? Can you post full debug log?

[2019-12-19 22:54] edwardmedia commented on #5218
@Lirt can you post the `full` debug log?

[2019-12-19 22:57] edwardmedia commented on #5215
@mikhail-khodorovskiy I am glad the suggestion works for you. I am closing this issue. Thanks

[2019-12-19 22:57] #5215 closed

[2019-12-19 23:17] slevenick opened #5241 "Fix google_bigquery_table encryption_configuration modifications"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-20 00:03] venkykuberan commented on #5173
@chreble Actually its a warning message. Can you please just clarify couple of things.

1) Is google_cloud_run_domain_mapping resource successfully created ?
2) Are you using verified/valid domain name in your config ?

Please attach your debug log for the post call for google_cloud_run_domain_mapping

[2019-12-20 00:52] inductor commented on #5052
@venkykuberan The following part of the doc is what I tried as I wrote in the original issue 🤒
It got error with

[code]

<img width="866" alt="スクリーンショット 2019-12-20 9 50 55 1" src="https://user-images.githubusercontent.com/20236173/71221039-3e4d7780-230e-11ea-8768-f043b50aea09.png">

[2019-12-20 02:02] bitglue opened #5243 "google_compute_router_peer requires replace due to `advertise_mode` when upgrading to 2.3"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-20 02:40] lawliet89 commented on #4165
I encountered the exact same issue. I tried comparing the updates of the resource in both Terraform and in the UI.

Terraform uses PATCH `https://monitoring.googleapis.com/v3/projects/<PROJECT>/alertPolicies/<ID>` endpoint to do the update.

The UI uses POST `https://monitoring.clients6.google.com/v3/projects/<PROJECT>:parseTimeSeriesFilter?key=<REDACTED>` instead.

<details><summary>POST info</su

[2019-12-20 12:05] jaksky opened #5244 "google_composer_environment fails with `Http error message: BAD REQUEST`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-20 16:00] umairidris opened #5245 "google_billing_budget does not support last_period_amount"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-20 16:24] remorses commented on #5173
I already followed the linked doc and i can make domain mappings work from the Web UI, the problem must be in the api call for the domain mapping creation imo

I am using a verified domain managed with Cloud DNS in a zone already manually created, i changed the example so that you can try with your own domain.

You need to create a cloud DNS zone and place its name in the var  `cloud_dns_zone_name

[2019-12-20 16:49] judika03 commented on #5231
I'm already to using template instance,
[code]
I'm already to used your guide, but same problem, Any suggestion to fix the issue?

[2019-12-20 16:53] remorses commented on #5173
I think `expandCloudRunDomainMappingSpecRouteName` should only return the service name

[2019-12-20 17:59] judika03 commented on #5231
I have purpose to create template instance is google_compute_instance_group_manager, I want to create many instance to one group from template instance, Is  it possible to google_compute_instance_from_template to google_compute_instance_group_manager. For example
[code]

[2019-12-20 18:16] ogreface commented on #3937
Same issue. The solution by @vigohe works for me. I have to apply twice, but it works. Changes/deletes/adds after that all work as expected.

`resource "google_compute_region_backend_service" "service_vip" {
  provider = "google-beta"
  name     = "${var.lb_prefix_name}-vip-bs"

  health_checks         = var.lb_health_checks
  project               = var.project
  region                = var.regio

[2019-12-20 18:30] #5182 closed

[2019-12-20 18:56] jjorissen52 commented on #5192
going to @ you here @edwardmedia since I did not do so in my previous comment https://github.com/terraform-providers/terraform-provider-google/issues/5192#issuecomment-567602862

[2019-12-20 19:25] danawillow commented on #5245
The only workaround I can think of would be to add a dummy field (probably a Computed one so that people don't accidentally set it) inside the object that we eventually deprecate. The other option would be to make a boolean instead of a nested block, but that would require a config change for users that eventually migrate from the boolean to the block, so I'm more cautious about something like tha

[2019-12-20 20:18] #4803 closed

[2019-12-20 20:30] #4941 closed

[2019-12-20 20:35] gordcook commented on #3580
Would it help to isolate the 3 concerns?  If so, the permission problem is the top issue, in my opinion.

Terraform has a well known problem that if you try to apply without appropriate permissions, it often gets stuck in a bad state.  We were working with a valid Terraform configuration, but it took hours of iterations of applying and initializing the Terraform jobs to get the permissions correct

[2019-12-20 21:18] dylanPowers opened #5248 "Request for datasource google_compute_network_peering"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-20 23:39] Dmitry1987 commented on #4276
this is broken for me, when creating "google_project_iam_custom_role" too.

[2019-12-21 00:59] c-ryan-johnson commented on #5232
@edward2a I've tested this further and cannot reproduce it now. Please close the issue.

[2019-12-21 06:57] gowrisankar22 commented on #5229
I am closing this as it was a problem from my side.

[2019-12-21 06:57] #5229 closed

[2019-12-21 07:34] gowrisankar22 opened #5249 "terraform apply not deploying all the resources specified"
Hello Colleagues,

I am trying to deploy the GKE cluster with a custom node pool. While deploying it deploys the cluster only for the first time and it fails. During the second attempt, it deploys the node pool and it is getting succeeding. It should deploy all the resources ideally.

Please find the terraform below
[code]

[2019-12-21 09:28] charleskorn opened #5250 "google_project_iam_binding for custom role must be replaced after import"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-21 13:24] chreble commented on #5173
@remorses Yes, that’s the culprit IMHO

[2019-12-22 09:15] charleskorn commented on #5173
Is there a workaround available for this issue?

[2019-12-22 09:22] charleskorn opened #5251 "google_cloud_run_domain_mapping fails to update existing mapping"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-22 14:28] MartinNowak commented on #5241
@slevenick while there is no API error when adding an encryption key to a previously unencrypted (default encrypted) table, it doesn't actually have any effect in BigQuery. This is the same behavior as with the BigQuery CLI, it silently passes, but doesn't actually switch to CMEK.
[code]

So the docs are correct in that you need a full copy atm. to switch to/from CMEK.
https://cloud.google.com/big

[2019-12-23 03:04] judika03 opened #5252 "Error creating InstanceGroupManager: googleapi: Error 400: Invalid value for field 'resource.versions[0].instanceTemplate"
### Community Note
Error creating InstanceGroupManager: googleapi: Error 400: Invalid value for field 'resource.versions[0].instanceTemplate':
Unexpected resource collection 'instances'., invalid

### Terraform Version
Terraform v0.12.0

provider.google v3.2.0
provider.google-beta v3.2.0
provider.template v2.1.2
### Affected Resource(s)

* google_compute_instance_template
* google_compute_instance

[2019-12-23 05:31] kaihendry commented on #4359
Is "dataproc" notebook the same as https://console.cloud.google.com/ai-platform/notebooks/instances?

Confused by **dataproc**. Thank you,

[2019-12-23 06:06] gowrisankar22 commented on #5249
@edwardmedia  can you help ?

[2019-12-23 16:10] emilymye commented on #5252
It looks like your config sets `instance_template` to the instance-from-template self-link, not the actual `redis-1` template resource self_link. I'm guessing this is just a typo since you named your instance (from-template) `tpl`.

i.e.

should be
`instance_template = "${google_compute_instance_template.redis-1.self_link}"`

Both instance-from-template and IGMs depend on an instance template, not

[2019-12-23 16:10] #5252 closed

[2019-12-23 16:41] emilymye commented on #5250
In general, we suggest that you don't use `.id` for a resource, as this is a Terraform-specific ID and we have historically changed it. We typically don't document it for that reason.

Probably the best workaround for this right now would be interpolating the `role_id` and `project`, i.e.

[code]

In the meantime, I think it might be good to
a) creating a Terraform-specific `role_name` field that

[2019-12-23 17:01] emilymye commented on #5244
Looks like this might be from the upstream API: https://issuetracker.google.com/146592602

[2019-12-23 17:13] emilymye commented on #5241
@MartinNowak Sorry to butt in since I'm not fully up-to-speed on the unique behavior of bigquery, but this *sounds* like it might be a good use-case for [CustomDiff](https://www.terraform.io/docs/extend/resources/customizing-differences.html)? Particularly [`ForceNewIfChange`](https://github.com/hashicorp/terraform/blob/master/helper/customdiff/force_new.go#L32), which can force new on "not-set" -

[2019-12-23 17:16] emilymye commented on #5239
Test: [third_party/terraform/tests/resource_bigquery_table_test.go](https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/tests/resource_bigquery_table_test.go)

Website Doc: [third_party/terraform/website/docs/r/bigquery_table.html.markdown](https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/website/docs/r/bigquery_table.html.ma

[2019-12-23 17:20] #5232 closed

[2019-12-23 18:49] emilymye commented on #5243
Would it be possible to get the full config/state before and after, and debug logs (i.e. run with `TF_LOG="DEBUG"`) ? I just tried with TF 0.12.17 (and 18) where I created using v2.20, changed my provider version to 3.20 and re-applied and I couldn't recreate. My config:

[code]

I'm noticing that my state for v2.20 also has `advertise_mode = "DEFAULT"` set when I have no advertise_mode set in my

[2019-12-23 18:55] emilymye commented on #5249
@gowrisankar22 my guess is that, if this is your exact config, you're running into an issue because the node_pool has no dependency on the cluster and thus Terraform may try to create it before or at the same time as the cluster, causing a failure because the cluster doesn't exist yet. You need to either interpolate the cluster name into the node pool config or add an explicit depends_on.

i.e.

[

[2019-12-23 19:21] aaliddell opened #5255 "Zone argument to google_compute_disk_resource_policy_attachment is not optional"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-23 20:30] #5251 closed

[2019-12-23 20:53] emilymye opened #5256 "Fix TestAccLoggingMetric_loggingMetricBasicExample"
metricDescriptor labels need to be a set

[2019-12-23 21:21] charleskorn commented on #5250
Thanks for your quick response @emilymye.

It looks like the issue is not with what `role` is set to in the resource, but the value that is stored in state when the binding is imported - it's always imported in the short form (`roles/deployer`) when the correct value is the longer form for custom roles.

[2019-12-23 22:07] emilymye commented on #5250
After some more careful reading on my part, I realized you're using the short-hand role to import the binding. Have you tried importing with the full role name? i.e.

[code]

I just did that and it worked.

I'll add some checks to be stricter about how we read the bindings - it seems that we are allowing importing with "roles/custom-role" if we see "projects/my-proj/roles/custom-role" in the IAM p

[2019-12-23 22:25] charleskorn commented on #5250
Yep that works - thanks for your help @emilymye.

[2019-12-23 22:49] emilymye commented on #5250
Ah, this is a more complicated problem! So, currently, the way in which we import bindings allows for empty bindings, i.e. if a binding for a role isn't found, it's still imported but with no members. That's why your diff also shows adding the member back in. When you re-apply, your members will get added with the appropriate bindings.

However, because import uses the values you give in the impor

[2019-12-23 23:53] RaniHirave commented on #5219
I have ran the above two command and output is below.

➜  gcloud kms keyrings describe test-attestor-key-ring --location=global

createTime: '2019-12-05T05:44:58.116454932Z'
name: projects/<project-name>/locations/global/keyRings/test-attestor-key-ring
➜  gcloud kms keys describe test-attestor-key --location=global --keyring=test-attestor-key-ring
createTime: '2019-12-05T05:44:59.701989185Z'
name:

[2019-12-24 00:19] venkykuberan commented on #5235
@JaymoKang  Just referring the cluster name in the following way makes terraform to understand that it has to recreate the node pool as it refers a computed value of another resource.
[code]

[2019-12-24 00:29] venkykuberan commented on #5052
@inductor Sorry for misinterpretation. We will fix the documentation.

[2019-12-24 01:57] judika03 commented on #5252
I'm already to testing google_compute_instance_from_template to adding rrdatas google_dns_record_set already done, but I want use google_compute_instance_from_template to create instance group. I have purpose to create template instance is google_compute_instance_group_manager, I want to create many instance to one group from template instance, Is it possible to google_compute_instance_from_templa

[2019-12-24 04:20] gowrisankar22 commented on #5249
hi @emilymye I dint get any error but after adding depends_on field it worked like a charm

[2019-12-24 04:20] #5249 closed

[2019-12-24 08:12] nikhilbalekundargi commented on #4820
+1

[2019-12-24 12:33] #4974 closed

[2019-12-24 18:57] harsh-dialpad commented on #5233
According to GCP docs, `ip_cidr_range` has to belong to an unused block with a network mask of `/28`: https://cloud.google.com/vpc/docs/configure-serverless-vpc-access#creating_a_connector (look at `[IP_RANGE]`)

[2019-12-24 20:54] JaymoKang commented on #5235
it seems like you're saying as long as the value is only known after apply, then the node pools will also be recreated. However, it should be the case that the node pool depending on the cluster will force the node pools to recreate regardless of whether i use a value that is known before or after the apply, especially since the dependency is explicit

[2019-12-26 16:20] #5256 closed

[2019-12-26 16:28] nryoung commented on #5233
@harsh-dialpad good catch, however, even with changing it to the `/28` network mask suffix, I still get the same error from googleapis.

[2019-12-26 16:34] Erouan50 commented on #5161
We had the same issue but using the `project_id` instead of `id` works, which makes sense since the v3.0.0 sets the ID of resources with the self-link: https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html#id-format-changes.

[2019-12-26 19:08] venkykuberan commented on #5235
In your config file the cluster property was actually coming from variable.  When you change the cluster to non-private and run the plan terraform recognizes that the cluster needs to be recreated. However for the node-pool resource it sees that only property its depending on is the cluster name which is not changing so its doesn't care to delete it. Therefore terraform perceives that its deleting

[2019-12-26 19:53] venkykuberan commented on #5231
Yes, you can create Manage Instance group pointing to your template

[2019-12-26 19:53] #5231 closed

[2019-12-26 21:28] pradeepbhadani commented on #5161
There is no `id` that is defined as an argument or attribute. So that's why it's giving issue.
Ref: https://www.terraform.io/docs/providers/google/r/google_project.html

[2019-12-26 23:18] edwardmedia commented on #5192
@jjorissen52 your files inside the zip don't have exec permissions. Can you update that? Let me know if this helps. Thanks

[2019-12-26 23:27] edwardmedia commented on #5161
@gazmania I am closing this issue. Using project_id should solve your problem. You may reopen the issue if this does not help, or open another issue if you see a different problem. Thanks

[2019-12-26 23:27] #5161 closed

[2019-12-26 23:28] #5039 closed

[2019-12-26 23:34] #5052 closed

[2019-12-26 23:57] edwardmedia commented on #5219
@RaniHirave I can't repro this issue. Have you enabled `binaryauthorization.googleapis.com`? Can you post the full debug log?

[2019-12-27 00:01] charleskorn opened #5262 "google_bigquery_table shows as modified when using 'STRUCT' instead of 'RECORD'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-27 00:10] charleskorn opened #5263 "google_cloud_run_service destroys and recreates service when adding an environment variable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-27 00:14] venkykuberan commented on #5023
@szheng-nyc3,
 The documentation says the expected format
[code]
Actually its inline with what we see on the cloud console
[code]

[2019-12-27 09:44] Stono opened #5265 "google_container_node_pool incorrectly recreating"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-27 09:56] Stono commented on #5265
There's a very similar problem with `google_container_cluster` too.  Omitting `zone` and `additional_zones` gives you update in place, but setting them gives you:

[code]

The work around again is to add them to the ignore_lifecycle block

[2019-12-27 11:29] Stono opened #5266 "Migrating to google_project_service from google_project_services = much slower"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-27 11:45] Stono commented on #5266
reading into this more, it appears that batching is limited by `parallelism`, which defaults to 10.  I'm able to get my plan time down by setting this to 100, but that feels like a strange workaround!

[2019-12-27 16:29] szheng-nyc3 commented on #5023
so i think i might have been unclear on my example

this was a while back but i think this was the issue

for a pubsub topic resource named for example `topic`

`google_pubsub_topic.topic.id` != `google_pubsub_topic.topic.name`

and i was using the later to pass into the cloudscheduler because the param was `topic.name` but was looking for `topic.id`.

1)  I think in this case the issue was these

[2019-12-27 16:40] venkykuberan commented on #5023
We will add this item to documentation update list. Thank you

[2019-12-27 19:07] #5255 closed

[2019-12-27 19:10] emilymye commented on #5266
We actually also batch calls to get the project services - this might actually be due to the fact that our batches are created on intervals, and it defaults to 10 seconds. We have a parameter for setting this interval here in the provider configuration:
https://www.terraform.io/docs/providers/google/guides/provider_reference.html#send_after - could you try seeing if reducing this interval helps yo

[2019-12-27 19:34] #5048 closed

[2019-12-27 19:39] #5173 closed

[2019-12-27 20:30] venkykuberan commented on #5263
@charleskorn Thank you for pointing out. We are forcenewing it whenever there is a change in env variables which we shouldn't be. I will add this item for code change on the provider.

[2019-12-27 21:40] emilymye commented on #5023
I can try to emphasize that it's the full resource name, but I'm not sure what else we can say. The documentation both states the expected full-path format for topic name and uses the correct interpolation in the [example](https://www.terraform.io/docs/providers/google/r/cloud_scheduler_job.html#example-usage-scheduler-job-pubsub):

[code]

If you have a suggestion for what additional notes we can

[2019-12-27 22:31] venkykuberan commented on #5265
@Stono can you please copy here your both cluster and node_pool config.

[2019-12-27 22:50] emilymye commented on #5262
Oof! I can see the issue and how we might fix it, but honestly I'm not sure whether it is worth it if you can easily change your schema.json to use "RECORD" in your schema json. BigQuery might start returning STRUCT instead of RECORD in the future, which would eliminate the need for this, and this field is already sensitive to change, i.e. if you switched around the order of some fields so JSON is

[2019-12-27 23:03] #5263 closed

[2019-12-28 00:08] venkykuberan commented on #5233
@nryoung  please use network property for that resource. If you are using default network just use this way
[code]

[2019-12-28 00:35] emilymye opened #5270 "Fix TestAccRedisInstance_regionFromLocation"
Is a zone exhausted error, fixing for now hopefully by switching to a zone that isn't?

see https://github.com/GoogleCloudPlatform/magic-modules/pull/2894

[2019-12-28 00:37] venkykuberan commented on #5181
@marcb1 Its not a bug working as expected. If you haven't used that service before in your project, GCP expects you to enable it before you use it. It can be done in 2 ways

1) On the Cloud Console, Search for the API **Google Cloud KMS API** under Api & Services side bar
2) run the command on terminal **gcloud services enable cloudkms.googleapis.com**

[2019-12-28 00:52] emilymye opened #5272 "Support for other ML Engine Resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-28 01:00] emilymye opened #5273 "Unable to update cache_key_policy for backend service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-28 01:00] emilymye commented on #5273
@ilicmilan

[2019-12-28 09:38] debakkerb opened #5277 "Link request and response in DEBUG output"
I've probably been staring at this for way too long, but how can you link a REQUEST and RESPONSE in the output logs, when log level is set to DEBUG?

For some reason my config is failing, but the only feedback I'm getting is the following: `Error reading Organization policy for organizations/ORG_ID: googleapi: Error 400: Request contains an invalid argument., badRequest`

I set the log level to TR

[2019-12-28 17:45] lpfeup commented on #4915
I am having the same issue:

when destroying with:
[code]

with the following configuration:

[code]

[2019-12-30 17:02] venkykuberan commented on #5277
@debakkerb Can you share your config file to learn what resources you are creating and what values you are passing ?

[2019-12-30 17:16] nryoung commented on #5233
@venkykuberan that worked! Looks like the docs for the `google_vpc_access_connector` resource needs to be updated:

https://www.terraform.io/docs/providers/google/r/vpc_access_connector.html#argument-reference

As it lists the `network` argument as optional.

[2019-12-30 17:48] emilymye opened #5278 "Fix TestAccCloudRunDomainMapping_cloudRunDomainMappingBasicExample"
Issue for tracking, I plan to fix this rn

[2019-12-30 19:15] debakkerb commented on #5277
Well, I'm still in the "how should I code this" phase, so I don't really have anything to share.

Currently, the module looks like this:
[code]

This is how I call the module:
[code]
What I want to do is add the IAM users to that module as well, so I can pass on a list of users/group and their role, so I can add them as part of the Folder creation.

Does that make sense?  The variable definition w

[2019-12-30 21:25] danawillow commented on #5265
@venkykuberan it looks to me like this particular issue is caused by having a node pool that was already using `zone`, and then updating the provider to a version where `zone` was removed. Creating a node pool without setting `zone` is the correct thing to do for new clusters, but won't help users that already have clusters that used the old field.

Here's how I can repro this-

In my terraform-pr

[2019-12-30 21:43] danawillow commented on #5218
@Lirt, do you have any IAM Conditions set on the policy? Also, are you using the google provider or the google-beta provider with that module?

[2019-12-30 21:43] emilymye commented on #5273
Fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/2897

[2019-12-30 21:43] #5273 closed

[2019-12-30 21:45] #5270 closed

[2019-12-30 21:49] emilymye commented on #5244
@jaksky im going to go ahead and close this since Im not sure we can do anything about this in Terraform and its being tracked in the upstream issue. If it persists or you have other questions, feel free to reopen!

[2019-12-30 21:49] #5244 closed

[2019-12-30 22:00] natarajaya opened #5280 "Add option to set TTL for the DNS records created by google_dns_managed_zone"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-31 00:32] marcb1 commented on #5181
@venkykuberan thanks for the info. I think this was a bug in the main terraform core and the google provider. We've upgraded from 0.12.16 to 0.12.18 and the issue went away.
(terraform now returns a 1 exit code on errors, before this was inconsistent as sometimes an error will be printed by terraform but the shell exit code would be 0- we rely on exit codes for our terraform automation)

[2019-12-31 00:32] #5181 closed

[2019-12-31 00:35] venkykuberan commented on #4916
@vmarchaud sorry for the delay in response. Somehow this issue fell through the cracks.

**Regional managed instance groups do not support autoscaling using per-group metrics** as per the [doc](https://cloud.google.com/compute/docs/autoscaler/scaling-stackdriver-monitoring-metrics#per_group_metrics). I get the same error on the UI as well. However you can create Autoscaling per-group metrics for s

[2019-12-31 03:01] JaymoKang commented on #5235
hmm ok, ill think about this more and then re-open if I'm still concerned. Happy new years :)

[2019-12-31 03:01] #5235 closed

[2019-12-31 07:55] Stono commented on #5266
Hey,
I set the timer to 3 seconds, combined with setting parallelism to 100 and my plan time is now `1m 33s`, whereas on the old provider it was `3m 12s`, so it's actually faster :-)

Thanks for your help!

[2019-12-31 09:57] Lirt commented on #5218
@danawillow We tried IAM conditions but not on policies that are bugged. Currently we are using stable provider, but I also tried beta. It didn't help.

[2019-12-31 10:27] vmarchaud commented on #4916
I can totally set it with a regional autoscaler via the UI (it saved without an error) even though i'm not actually sure it's working:
![image](https://user-images.githubusercontent.com/2820968/71618427-ce69a780-2bbf-11ea-8216-96e29db81aa4.png)

What's the procedure to ask for this feature ?

[2019-12-31 21:12] jsoref opened #5283 "Ordering for scopes doesn't match input"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-31 21:24] jsoref opened #5284 "conflicts with are called out both ways"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-01 02:10] jsoref opened #5285 "canIpForward field is missing from terraform created template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-01 17:41] donnyv12 commented on #4276
I seem to be facing the same issue originally reported here. Any update on a fix?

[2020-01-02 11:14] eyalzek opened #5286 "`availability_type` should be supported on MYSQL `sql_database_instance`"
https://www.terraform.io/docs/providers/google/r/sql_database_instance.html#availability_type

Regional HA is available for mysql instances (https://cloud.google.com/sql/docs/mysql/high-availability) but this attribute can only be set for postgres instance at the moment.

[2020-01-02 13:20] hashibot[bot] opened #5287 "Terraform Crash (v0.12.18)"
_This issue was originally opened by @weeco as hashicorp/terraform#23744. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

# Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

[crash.log](https://github.com/has

[2020-01-02 13:20] Lirt commented on #5218
This should make sense now.

The exact error I got is listed in documentation - `Scenario 2: Requesting a policy with an insufficient version` (https://cloud.google.com/iam/docs/policies#specifying-version)

When I display version of bugged IAM policy, I get `version: 1`.

[code]

[code]

The error log says `Requested policy version (1) cannot be less than the existing policy version (3).`. That m

[2020-01-02 17:23] c2thorn opened #5289 "b/146659622"

[2020-01-02 17:29] edwardmedia commented on #5218
@Lirt I am glad you have found the reason. I am closing this issue now. You may reopen it if you feel a need for more help. Thanks

[2020-01-02 17:31] #5183 closed

[2020-01-02 17:51] #5266 closed

[2020-01-02 17:51] emilymye commented on #5266
Glad to hear it :)

[2020-01-02 19:32] Dmitry1987 opened #5291 "google_iam_policy is not idempotent"
## My versions

* provider.google: version = "~> 3.2"

Terraform v0.12.18
+ provider.ansible (unversioned)
+ provider.google v3.2.0
+ provider.null v2.1.2

## What was expected
Idempotency of  `google_iam_policy`

## What actually happens
The `google_iam_policy`  is broken, not idempotent, shows that it wants to do changes over and over.

## How to reproduce

My code is:
[code]

On any `terraform

[2020-01-02 21:14] danawillow commented on #5286
Hey @eyalzek, thanks for filing! Next time could you please fill out the issue template? That helps our bot label bugs / enhancements.

For this specific issue, does Terraform fail if you try to set availability_type on MySQL? I'm curious whether we need to update our code at all or just our docs.

[2020-01-02 21:21] danawillow commented on #5280
The ManagedZone API doesn't have a `ttl` attribute unfortunately, so this isn't a trivial change (https://cloud.google.com/dns/docs/reference/v1/managedZones). However, we do have the ability to change `ttl` on record sets that are managed by Terraform using the `ttl` attribute on [`google_dns_record_set`](https://www.terraform.io/docs/providers/google/r/dns_record_set.html). For this particular r

[2020-01-02 21:25] danawillow commented on #5277
Unfortunately we just don't have that ability right now :-/
We can usually make a guess by looking at the API the request was sent to (whatever.googleapis.com), but if there are two requests sent to the same endpoint then it's just a matter of guessing.

I think it could be solved by printing a random number in the logs for each request/response pair, but that logic actually lives in the SDK at ht

[2020-01-02 21:25] #5277 closed

[2020-01-02 21:26] edwardmedia commented on #5283
@jsoref Can you provide use cases why you think this is an issue?

[2020-01-02 21:33] eyalzek commented on #5286
Apologies!

It fails, I can run it tomorrow and get you the output. The thing is, it looks like it's not supported in any Google api at the moment, nor gcloud. It's a manual process that has to be done via the cloud console.

[2020-01-02 21:37] edwardmedia commented on #5284
The error message could be more accurate

[2020-01-02 21:38] jsoref commented on #5283
We're trying to migrate from existing templates. Being able to generate the exact format that our existing templates has would be nice.

Or being able to predict the format (by having it match what we enter) would be nice.

Even having it generate a sorted format would be nice.

The fact that it does none of these things is just mind-boggling.

Or simply put: The plan should match the results.

[2020-01-02 21:40] #5023 closed

[2020-01-02 21:41] jsoref commented on #5284
Yes. blaming line 9 twice instead of blaming/listing line 10 at least once is unfortunate.

[2020-01-02 21:52] natarajaya commented on #5280
@danawillow Yes, to workaround this, we decided to override entries created by `google_dns_managed_zone` with `google_dns_record_set` resources to set proper TTL, and it seems to do the trick!

[2020-01-02 21:58] danawillow commented on #5245
For what it's worth, we do have precedent for the boolean solution: https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_bigtable_app_profile.go#L69

[2020-01-02 22:04] jsoref opened #5295 "Can't avoid hardcoding interface:scsi"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-02 22:05] danawillow commented on #5280
Glad it worked! Going to close this out since the workaround seems like a reasonable one going forward.

[2020-01-02 22:05] #5280 closed

[2020-01-02 22:10] edwardmedia commented on #5285
@jsoref I see `IP forwarding` is set to on/off for the template from the GCP Console which correctly reflects the `can_ip_forward` value when it is set to true/false accordingly. I think this is a correct behavior from terraform's perspective. I do see `properties/canIpForward` showing up in the gcloud result when it is set to `true` but not when it is set to `false`. I agree it is not consistent

[2020-01-02 22:14] jsoref commented on #5285
@edwardmedia: I don't see why this would be a bug in `gcloud`. I have templates from `gcloud` where it properly includes `canIpForward` -- to me, it seems like the terraform provider is doing something wrong.

Beyond that, I'm not a `gcloud` expert, and it seems more fruitful for a terraform provider expert to talk to a `gcloud` expert and hash out the inconsistency rather than asking a bug report

[2020-01-02 22:36] edwardmedia commented on #5283
@jsoref sorry for the behavior that causes your inconvenience. I doubt if these use cases are widely asked for and any related changes will be implemented soon. Before you see any changes in provider side, have you thought of applying `ordering` code in your side using something like https://www.terraform.io/docs/configuration/functions/sort.html? Based on the reality, I am closing this issue. If

[2020-01-02 22:36] #5283 closed

[2020-01-02 22:42] venkykuberan commented on #5022
@m477r1x  sorry for the delay in response. If you still have that issue, in order to set HA for  MYSQL_5_x instances you need to enable Binary Logging flag. This setting is not required for PostgreSQL.

[code]

[2020-01-02 22:48] danawillow commented on #5284
I'm happy to make the change for this resource specifically- however, as a whole, I think this should be fixed in the provider SDK itself. For 2 fields that conflict with each other, it's easy enough to just set one of them, but if there were 3, the only way to accurately have the plan fail is to set ConflictsWith on at least two of them. Filed https://github.com/hashicorp/terraform-plugin-sdk/iss

[2020-01-02 22:51] jsoref commented on #5283
@edwardmedia: As you can see, our input to terraform and the `terraform plan` are both sorted.

What kind of sort function would possibly result in the output yielded by `terraform apply`?

[2020-01-02 22:55] jsoref commented on #5285
@danawillow: Could you please bring this to the gcloud folks?

[2020-01-02 22:56] venkykuberan commented on #5233
@nryoung  Agreed, docs need to be updated. We will work on it.

[2020-01-02 23:06] venkykuberan commented on #5022
[Doc](https://www.terraform.io/docs/providers/google/r/sql_database_instance.html#availability_type) need to be updated that  **binary_log_enabled** flag to be enabled for MYSQL instance type for the DB instance to be regional and High Available.

[2020-01-02 23:07] danawillow commented on #5285
@jsoref, if you run `terraform show` does it have a value set for `can_ip_forward`? I also noticed you didn't provide debug logs in your original bug report. If you have those, we can check whether the Terraform provider is sending the correct values along.

We can certainly talk to the gcloud team, but I'd like to know your use case first so the team can accurately assess the priority of the requ

[2020-01-02 23:18] m477r1x commented on #5022
Hi,

Thank you for your response. I can confirm that binary logging is set to enabled as I did state in my original issue. However the problem is present regardless.

Thank you
Matt

[2020-01-02 23:20] danawillow commented on #5022
Can you please post the config that isn't working and debug logs as requested in the original issue template? https://www.terraform.io/docs/internals/debugging.html explains how to do so. Without the config, we can't accurately reproduce the issue.

[2020-01-02 23:32] #5284 closed

[2020-01-02 23:53] danawillow commented on #4163
Added in https://github.com/GoogleCloudPlatform/magic-modules/pull/2879

[2020-01-02 23:53] #4163 closed

[2020-01-03 00:21] jsoref commented on #5285
Yes, `terraform show` includes `can_ip_forward`.

[code]

So, no, it doesn't appear that the property is included.

Which makes this the opposite of #5295 where the interface is forcibly included and can't be omitted.

[2020-01-03 00:24] jsoref commented on #5285
I have one more bug to file in these fun adventures...
`source_image` lines change in plan output when I make an unrelated change to metadata.

[code]

[2020-01-03 00:28] venkykuberan commented on #4916
@vmarchaud can you please verify the following to confirm your resources are created as expected.

1. Click on the Notifications icon (top right on the UI) and see if you get any error for the instance group creation
2. Describe the resource you created in gcloud and verify it shows the autoscaling and metrics info
 ``` gcloud compute instance-groups describe <your_instance_group> --region="<your_

[2020-01-03 00:39] danawillow commented on #5285
Cool, the last one is unrelated to this specific issue so it should be filed separately.

I'd like to repeat my question about your use case. It would be helpful to know what you expect and why so we can try to solve your issue in the best way possible. My guess is that gcloud just doesn't show default values if they weren't set explicitly, which seems reasonable.

[2020-01-03 00:40] edwardmedia commented on #5291
@Dmitry1987  you are using `data` which does not modify resources. Also I see below output when to call `tf plan` and `tf apply`.
[code]
I am closing this issue. If you think otherwise, please reopen it for further discussion. Thanks

[2020-01-03 00:40] #5291 closed

[2020-01-03 00:41] jsoref opened #5299 "source_image is listed in show as relative which results in jitter during apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-03 00:47] jsoref commented on #5285
Generally, I expect to have the same behavior as I get from using `gcloud`/[google console](https://console.cloud.google.com/).

Since the templates I created using those (I'm not sure which of the two) included the `canIpForward: false` marker, it doesn't make sense to me that terraform can't produce the same output.

I'm trying to migrate from manually created things to **terraform** managed thi

[2020-01-03 00:51] c2thorn opened #5300 "Generate sweepers for resources that use aggregatedList"
Part of https://github.com/terraform-providers/terraform-provider-google/issues/3288

Some resource APIs use a [separate call](https://cloud.google.com/compute/docs/reference/rest/v1/targetInstances/aggregatedList) to list resources across all locations. The response is also formatted differently, so accommodating for these resources will take a bit more effort than the average resource.

[2020-01-03 00:58] jsoref commented on #5299
Fwiw, the distinction between `[]`, `{}` and `null` in:
[code]
and
[code]
is also fairly unhelpful.

I can file an extra bug about the fact that terraform claims it doesn't know what the `project` will be, it seems strange for terraform to claim that it doesn't know the project:
[code]
That is definitely a known quantity.

This:
[code]
relates to #5284 -- I was trying to suppress that, but I can't

[2020-01-03 00:59] c2thorn opened #5301 "Sweeper generation: aggregatedList case"
Part of https://github.com/terraform-providers/terraform-provider-google/issues/3288

Test sweepers need to list resources from all locations to determine which need to be deleted. Some resource APIs use a [separate call](https://cloud.google.com/compute/docs/reference/rest/v1/targetInstances/aggregatedList) to list resources across all locations. The response is also formatted differently, so acc

[2020-01-03 01:00] c2thorn commented on #5301
duplicate of #5300

[2020-01-03 01:00] #5301 closed

[2020-01-03 01:10] c2thorn opened #5302 "Write project sweeper"
Plenty (over 500 pages) of projects left dangling from tests. We need to write/generate a sweeper for projects and conform project names in existing tests to use the proper prefix.

[2020-01-03 01:47] #5233 closed

[2020-01-03 02:24] Dmitry1987 commented on #5291
@edwardmedia got it, thanks! My mistake...

[2020-01-03 04:14] jsoref commented on #5285
Note: if I explicitly set something in terraform, I expect it to be persisted.

If I don't set it, my preference is for it not to be persisted. Between how terraform handles this field and how it handles the `interface: SCSI` field, it's violating both ways.

[2020-01-03 09:34] vmarchaud commented on #4916
@venkykuberan
1. See screenshot i can totally create it via the UI:
![image](https://user-images.githubusercontent.com/2820968/71715900-424fbe00-2e13-11ea-98b4-31322a239655.png)

2. Here the output of `gcloud compute instance-groups managed describe test --region europe-west-1` (i've redacted the project id):

[code]
I believe the error comes from the fact that i specified a wrong metric (or that

[2020-01-03 15:06] sebglon commented on #4570
Hi,

I have au bug with the same bigquery service:

terraform version:
[code]
and the definition:
[code]

The terraform destroy not work i have this error:
[code]

I think it's linked

[2020-01-03 15:09] sebglon opened #5304 "Fail to destroy google_project_service bigquery.googleapis.com"
terraform version:
[code]

and the definition:
[code]

The terraform destroy not work i have this error:
[code]

I have tested with only one resource and it's the same...

[2020-01-03 17:45] #5041 closed

[2020-01-03 17:50] #5189 closed

[2020-01-03 19:09] danawillow commented on #5285
In case you find it interesting (@edwardmedia you probably will!), here's some context as to what's going on and why. There are three different places that this field gets handled:
1. The google provider code
2. The GCP client library (some of our resources send HTTP requests directly, but this one uses the golang client library)
3. gcloud, when asking to describe the resource

The thing that make

[2020-01-03 19:09] #5285 closed

[2020-01-03 19:20] danawillow commented on #4570
Hey @sebglon, thanks for opening a new issue about the problem you're currently facing. Since this one is about a resource that has been removed in the later versions of the provider, I'm going to close it.

[2020-01-03 19:20] #4570 closed

[2020-01-03 21:54] pbrumblay opened #5310 "Upgrade_settings block for google_container_node_pool does not appear to be implemented."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-03 22:22] jakebiesinger-onduo opened #5311 "Add a data entry for google_storage_bucket"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-03 22:43] pratikmallya commented on #5218
I am seeing a similar issue. The strange thing is that the version of the IAM policy is still 1. Not sure why this is cropping up

[2020-01-03 22:52] danawillow commented on #5218
@Lirt and @pratikmallya (and anyone else encountering this), if you have a support contract, customer engineer, or account rep with Google Cloud can you reach out to them? I'd like to get the IAM team's perspective on this behavior, and using an official GCP support channel will help get the right information to the right people.

[2020-01-03 23:09] pratikmallya commented on #5218
@danawillow I do, will open a support ticket. Thanks!

This actually worked after using the provider mentioned by @Lirt. But yeah its rather strange that it just broke.

[2020-01-03 23:13] danawillow commented on #5218
What provider version were you using before, and which one are you using now that worked?

[2020-01-03 23:20] pratikmallya commented on #5218
The changes I had to make to fix were:

![Screen Shot 2020-01-03 at 3 17 54 PM](https://user-images.githubusercontent.com/904679/71754708-3f1cf800-2e3c-11ea-8b6e-0625365a84de.png)

[2020-01-03 23:22] venkykuberan commented on #5304
@sebglon if i set the disable_dependent_services=true, i can successfully delete the resources.
[code]
[code]
Can you please make sure you run the `terraform apply` command after adding the `disable_dependent_services=true` config statement. So that terrform state gets updated with the latest config. Then running `terraform destroy` should clean the resources successfully

[2020-01-03 23:26] pratikmallya commented on #5218
The changes I had to make to fix were. Using terraform 0.11.14

![Screen Shot 2020-01-03 at 3 25 37 PM](https://user-images.githubusercontent.com/904679/71754956-53152980-2e3d-11ea-86d7-dd5af2690f79.png)
![Screen Shot 2020-01-03 at 3 25 30 PM](https://user-images.githubusercontent.com/904679/71754970-5c05fb00-2e3d-11ea-860e-1f36804f7849.png)

[2020-01-03 23:32] danawillow commented on #5218
Yeah I think the reason it's working now is that we started reading policy version 3 around then in the beta provider.

[2020-01-03 23:54] edwardmedia commented on #5310
@pbrumblay  the feature is in beta. You may want to check out https://github.com/terraform-providers/terraform-provider-google-beta/blob/master/google-beta/resource_container_node_pool.go. I am closing this issue. You may reopen this if you have more questions about it. Thanks

[2020-01-03 23:54] #5310 closed

[2020-01-04 00:16] danawillow commented on #5304
Also, watch out for dependencies- it looks like `google_project_service.bigquerystorage` is depending on itself, which may be why things didn't happen in the order you expected. Give that a try first :)

[2020-01-04 02:06] venkykuberan commented on #5299
@jsoref i think more than one issue is filed in this ticket. It would be helpful to track if you can open separate issues in future.  Let me attempt to address it here and see ..

1.  $PROJECT is computed value so terraform is expecting its value is coming outside of config (provider, env. variables etc.). If you use `project=value` as part of resource config you wouldn't see the diff.
2. tags = [

[2020-01-04 14:10] madmaze commented on #5107
I am definitely still encountering this issue with `2.20.1`, is it possible that version does not yet include the fix?

[code]

[2020-01-04 18:49] pn-y commented on #3336
Can confirm the same behaviour with newest TF version.
[code]
[code]

[2020-01-04 23:25] jsoref commented on #5299
There is a project set, I excluded it from the config because it's private. It also isn't the core to my issue. The tags thing was an observation – I'm happy to file a bug for it.

Source image is the only thing this issue is for. I'm happy to have it marked as a duplicate.

[2020-01-04 23:46] sorenhansendk commented on #4935
Is there any ETA on this feature - or this there any working workaround with URL maps and all the stuff there is possible to configure via the `gcloud` CLI on the external L7 LB?

[2020-01-05 17:44] viktorbenei commented on #4915
Seeing the same issue, once a Google Cloud SQL Postgres is created successfully with `terraform` and you try to `terraform destroy` it it'll hang at destroying `google_sql_user`.

[2020-01-06 08:15] sebglon commented on #5304
Hi, thank's and my bad

[2020-01-06 11:03] jaksky commented on #5244
That is correct, I found later that even `gcloud` is not able to create an environment so seemed as internal GCP issue

[2020-01-06 11:42] kurtmaile opened #5317 "bigquery_data_transfer_config - 'partition_field' missing from resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-06 15:24] pbrumblay commented on #5310
Ok @edwardmedia . I'll omit this from my implementation and watch to see when the provider implements this properly.

[2020-01-06 15:33] pbrumblay commented on #5310
Hmm... I wasn't aware that the google provider was split into "google" and "google-beta". I don't know if this is new for 0.12 or if I've just never used a beta feature before. I'll have to consider switching to google-beta. https://www.terraform.io/docs/providers/google/guides/provider_reference.html

[2020-01-06 16:34] neale-bpm commented on #5171
@joemiller Did you intend to close this without commeit?  We're getting the same error since updating to 3.3.0, so I'm wondering if you found some other cause.

[2020-01-06 17:05] morgante commented on #5218
@danawillow Did we start reading policy version 3 for the GA provider? Is that planned?

[2020-01-06 17:51] danawillow commented on #5218
@morgante We haven't, and I haven't really thought about it much. If a user has conditions enabled (which as far as I know is the only way to get a version 3 policy) and then tries to use TPG to make modifications to it, it would clobber the conditions, so I'm a bit hesitant to read at version 3 until conditions are GA. How would a user end up in a situation when using TPG that their policy is at

[2020-01-06 18:04] morgante commented on #5218
@danawillow It was raised on the [module](https://github.com/terraform-google-modules/terraform-google-iam/issues/89) here, @Lirt could you provide more context?

I can definitely imagine a scenario where we'd see issues with this:
1. An IAM role is assigned with conditions (using the UI maybe?)
2. A user attempts to add a `google_project_iam_member` using TPG for an *unrelated* role/membership (n

[2020-01-06 18:50] kurtmaile opened #5320 "bigquery_data_transfer_config - 'email_notifications' missing from resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-06 18:58] venkykuberan commented on #5299
Thank you @jsoref, will close it as its tracked on other issue

[2020-01-06 18:58] #5299 closed

[2020-01-06 19:01] venkykuberan commented on #5304
@sebglon I am closing this issue as the solution worked out.

[2020-01-06 19:01] #5304 closed

[2020-01-06 19:03] jsoref commented on #5299
@venkykuberan which is?

[2020-01-06 19:11] venkykuberan commented on #5299
https://github.com/terraform-providers/terraform-provider-google/issues/4328

[2020-01-06 19:16] jclarksnps commented on #3820
We're having lots of problems with the sql instance relating to the above feedback, basically when I say destroy sql instance, i expect it to be fully torn down (I don't care if there are connections open or if a user owns a database they shouldn't etc.. ) .  Destroy means destroy... and from what I see, it currently does not because of the intertwined dependencies.  Basically delete sql instance

[2020-01-06 19:20] ndmckinley commented on #5241
After some discussion, it seems like the correct move here is to just mark this field `ForceNew` - the API call to add encryption succeeds, but doesn't do anything.  Approved @MartinNowak's PR and will merge once the magician finished running.

[2020-01-06 19:21] danawillow commented on #2896
Revisiting: add docs on the difference between metadata and metadata_startup_script

[2020-01-06 20:40] danawillow commented on #5218
Got it, that makes sense. I think in the interest of safety, I'd still prefer to wait until the conditions GA, though if it becomes too unusable this way we can reevaluate.

[2020-01-06 20:47] #5265 closed

[2020-01-06 20:53] #5241 closed

[2020-01-06 22:07] morgante commented on #5218
Hmm, it seems like a rather severe bug that a working Terraform resource (`google_project_iam_member`) would start failing unpredictable and forcing users to migrate to `beta` even when they are *not* using permissions.

[2020-01-06 23:30] edwardmedia commented on #5287
@weeco Can't repro on my side. Could you post your plan result and full debug log when this happens? Thanks

[2020-01-06 23:42] venkykuberan commented on #5295
@jsoref per [API spec] (https://cloud.google.com/compute/docs/reference/rest/v1/instanceTemplates) the default value for disk.interface is `SCSI`. If the default values for API, the provider will be updated.

[2020-01-06 23:55] #5278 closed

[2020-01-07 00:04] danawillow commented on #5218
If they aren't using conditions, then their policy version should be 1, and TPG and TPGB are both viable options.

If they are using conditions, and they're using it on the binding referenced by that resource, they have to use TPGB since that's what has conditions support.

So the circumstance we're dealing with, as you said, is a binding that doesn't have a condition on it but somewhere else in t

[2020-01-07 00:08] edwardmedia commented on #5209
@judika03 it's not clear how to repro this issue from your context. You post your tf configurations files, along with the plan result, and the full debug log? Thanks

[2020-01-07 00:08] morgante commented on #5218
I think the complication is that IAM for a resource (particularly an org or project) isn't necessarily managed all in a single Terraform config. If that were the case, I think it'd be easy to simply upgrade to TPGB. However, there are definitely cases where some memberships are managed elsewhere.

I agree that clobbering is an issue though. Maybe we can leave this open for a bit and see who else r

[2020-01-07 00:11] #4436 closed

[2020-01-07 00:25] edwardmedia commented on #5222
@chrisst here is the two plans
[code]

[2020-01-07 01:21] venkykuberan commented on #4611
@cornmander sorry for the delay in response. Its a bug I will add it to our issue list and will get prioritized.

[2020-01-07 01:34] chrisst commented on #5222
@pb0101 There was a change in 0.12 that will taint a resource when the create call throws an error for any reason unlike 0.11 which did not automatically taint the resource. Unfortunately there's no elegant solution in the provider to this problem with the existing version of Terraform core. The only way to avoid tainting the resource is to suppress the error, in which case the resource will appea

[2020-01-07 04:03] pratikmallya commented on #5218
In our case, it seems like we had a policy in v1 that failed to plan because of this error:

[code]

Whereas the policy was certainly v1:
[code]

It isn't quite clear to me what triggered this failure

[2020-01-07 09:35] Lirt commented on #5218
@morgante Just like you said. Conditions were tested in UI for some temporary account and all other iam policies / members in terraform got broken.

[2020-01-07 10:19] yannlambret opened #5327 "Provider 3.3.0 introduces a change in filter attribute for google_logging_project_sink resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-07 13:05] yannlambret commented on #5121
I it helps, I think it's related to this commit: https://github.com/terraform-providers/terraform-provider-google/commit/1b413bcb4e704933b16f61207b4f70c0cb6a4dbb#diff-c9e10abda825286093bfa6bbad9fb4c2

The datasource `google_project` does not support `app_engine` attribute anymore because the latter has been removed from the primary resource `google_project` (in 3.3.0 provider version). I also had

[2020-01-07 15:31] edwardmedia commented on #5327
@yannlambret config changes are expected between versions as the new ones are needed to cover more use cases. Can you tell us why you think this `appending` should not happen in general?

[2020-01-07 17:06] jbouchery commented on #5218
Hi @Lirt  ! We encountered this problem today. We checked our UI and deleted a user with conditions and all worked !

Thx for your comment which guide us to this solution ;)

[2020-01-07 17:57] yannlambret commented on #5327
Hi @edwardmedia, I didn't understand that this change was made on purpose. I have nothing against configuration changes as a general rule, but I don't really see the added value of this one, given the fact that we have to provide a lot of additional information in the ```logName``` field. But if this is the intended behavior, I will change our configuration and close this issue.

[2020-01-07 18:10] edwardmedia commented on #5327
@yannlambret Sorry about the change which causes you headache. Please modify your configuration accordingly as you plan to use new versions of providers. I am closing the issue. You may reopen it if you think you need further discussions or assistance. Thanks

[2020-01-07 18:11] #5327 closed

[2020-01-07 18:14] mayeco commented on #4143
I have the same problem here, many updates

[2020-01-07 18:36] edwardmedia commented on #5018
@hallvors can you post your latest config file that you tested with updated version 3.1.0? If you still see crash, please post the both logs again. Thanks

[2020-01-07 19:45] emilymye commented on #5043
This fix requires both code changes and freeing up of tenant projects - keeping open to track progress for that

[2020-01-07 19:56] probert-gameloft commented on #2605
For the record, I'm also having the same issue. Had to create the workspace manually in StackDriver to be able to create the alert.

[2020-01-07 20:46] #4318 closed

[2020-01-07 20:49] rileykarson commented on #4318
This will be supported in `3.5.0`+.

[2020-01-07 21:02] lobsterdore commented on #5107
I have just tried this with version 3.4.0 and I am getting this error, here's a code snippet:

[code]

Error output:

[code]

[2020-01-07 21:39] slevenick commented on #5107
@madmaze or @lobsterdore can you include a debug log for the failed apply?

I am able to apply the config provided with `3.3.0`, but a debug log would help identify the issue

[2020-01-07 21:49] jjorissen52 commented on #5107
@slevenick , I just upgraded to v3.4.0 and can confirm that this is still affecting me. [Debug Logs](https://gist.github.com/jjorissen52/7a7fc5e6a5bc68cb35b02348c2c3db70)

[code]

`terraform apply -target=module.booklawyer.module.etl.google_project_iam_binding.sql_client`

Shows same error as before:

[code]

[Debug Logs](https://gist.github.com/jjorissen52/7a7fc5e6a5bc68cb35b02348c2c3db70)

[2020-01-07 22:00] venkykuberan commented on #4916
@vmarchaud  adding the `single_instance_assignment` property created the resource from terraform.   As you said the metric you picked isn't the right one for timeseriesperinstance scope.

[code]
Let us know this is what you are looking for ?

[2020-01-07 22:05] slevenick commented on #5107
@jjorissen52 That is odd. Can you apply the same config on a new (clean) project?

I suspect that there is something strange happening with the IAM policy for your existing project. I believe this is an unrelated issue, but it presents with the same (not very helpful) error message.

Looking at the debug log, I would guess that this is causing the failure:
[code]

Terraform receives an IAM policy

[2020-01-07 22:47] jjorissen52 commented on #5107
@slevenick Apologies, I manually modified those lines so as to not publish my co-workers email addresses. each of those lines once contained an `valid-user@valid-domain.com`.

[2020-01-07 23:47] slevenick commented on #5107
Ok that makes sense.

I'm back to being confused about why this is happening. This seems unrelated to the other issues around `deleted:` IAM members, though it started occurring at the same time. It could possibly be related to changes in the IAM API that happened around the filing date of this issue

Were you able to successfully apply this config with versions of the provider after `2.12.0` prio

[2020-01-08 00:17] chrisst opened #5334 "Issues that are waiting-response should get marked stale"
Similarly to how hashibot auto closes stale issues, hashibot should also mark an issue as `stale` if it has had a `waiting-response` label for a configurable amount of time.

[2020-01-08 00:20] edwardmedia commented on #5068
@courteouselk I have tried `import` using all three commands and all are successful. No issues can be repro. I noticed that your provider versions are pretty old. Do you want to try with the latest versions? I am closing the issue. You can reopen this for further assistance if you still encounter the issue. Thanks

[2020-01-08 00:20] #5068 closed

[2020-01-08 00:38] jjorissen52 commented on #5107
@slevenick I had never attempted this particular role assignment (`roles/cloudsql.client`) using a `resource "google_project_iam_binding" "" {}` block before on any version, but I do have a project that assigns a role which currently uses `provider.google v2.16.0`.

[code]

Unfortunately, I cannot tell if this is the version that was used when creating the binding or if I've since updated the vers

[2020-01-08 00:39] edwardmedia commented on #4717
@snoozesecurity what version of the provider were you using? If that was old, can you try again using the latest version? Please provide the new full debug log if you can repro this issue.

[2020-01-08 00:46] edwardmedia commented on #4610
@PsyonixEvan your provider version is pretty old. Can you try to `import` using the latest version? If you still encounter the issue, please specify the commands you are using and re-attach the full debug log. Thanks

[2020-01-08 00:56] edwardmedia commented on #4543
@JanMa your provider's version is old. Can you upgrade it and then try to see if you can repro the issue? If you still see the issue, please attach the full debug log and `plan` for both `tf apply` and `tf delete`. Thanks

[2020-01-08 00:59] danawillow opened #5336 "Stop using beta API for binary authorization before March 16"
https://cloud.google.com/binary-authorization/docs/ga-migration-guide

From email: Binary Authorization Beta API will be deprecated on the GA release date and will stop working on March 16, 2020

[2020-01-08 01:10] venkykuberan commented on #4405
@lawliet89 sorry for the delay in response. Using this [resource](https://www.terraform.io/docs/providers/google/r/storage_default_object_acl.html) will give more control over the default behavior.  Plan wouldn't find the difference

[code]
Let us know if it worked for you.

[2020-01-08 01:18] edwardmedia commented on #4382
@algermissen the `width` must be a whole number. There is a rule that validates the input. Also the version of the provider you used, I guess, is pretty old, as the syntax has changed. Please upgrade your version and try again. I am closing this issue. If you think you still need assistance on this issue, please reopen it. Thanks

[2020-01-08 01:18] #4382 closed

[2020-01-08 01:20] hashibot[bot] opened #5337 "google_compute_firewall provider does not recognize enable logging"
_This issue was originally opened by @srisurya777 as hashicorp/terraform#23806. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hello there,

I have been trying to deploy firewall on google cloud with terraform. Google_compute_firewall terraform official document

[2020-01-08 03:19] lawliet89 commented on #4405
`google_storage_default_object_acl` does not have a permanent diff but this does not solve the issue:

- It's a completely different resource with different semantics
- OR the docs should make it clear that `google_storage_bucket_acl` is authoritative.

[2020-01-08 03:47] madmaze commented on #5107
I have a debug log of both `v2.12.0` and `v2.20.1`, are there any specific parts that would be most valuable to share? I'm hesitant to share the whole log, its full of seemingly sensitive info.

I've cleaned up two snippets, [2.12.0](https://gist.github.com/madmaze/ccda69be4ac861f6ac0fc15cdf9e8bf3#file-2-12-0-debug-log) & [2.20.1](https://gist.github.com/madmaze/ccda69be4ac861f6ac0fc15cdf9e8bf3#fi

[2020-01-08 09:39] lawliet89 commented on #4165
After a frustrating back and forth with GCP support, they pointed me to this issue: https://issuetracker.google.com/issues/143436657

[2020-01-08 13:24] radkomateusz opened #5339 "'google_monitoring_alert_policy' can't successfully apply 'labels' after update from 3.3.0 to 3.4.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-08 14:38] ondrejklucka commented on #5132
Hi @rileykarson , thank you for the quick answer.

We need to know what APIs have been enabled (directly or as dependency) so that we can apply the appropriate IAM policy bindings on project-level (using google_project_iam_policy resource).

[2020-01-08 16:29] gilberthdez commented on #5339
Also happens in Terraform v0.12.18

[2020-01-08 16:51] preston-hawkfish opened #5341 "Cloud Tasks max_dispatches_per_second should support floats/doubles"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-08 17:07] edwardmedia commented on #5337
@@srisurya777 can you share your configuration files, so I can repro the issue? What versions (terraform and google provider) are you using? It will be good if you can attach the full debug log when this happens. Thanks

[2020-01-08 17:13] edwardmedia commented on #5339
@gilberthdez it looks to me to me by design. @chrisst could you please answer?

[2020-01-08 17:39] srisurya777 commented on #5337
provider "google" {
   version = "~> 2.5"
   project = var.gcloud_project_name
   region  = var.gcloud_region
}

provider "google-beta" {
  version = "~> 2.5"
  project = var.project
  region  = var.region
}

resource "google_compute_firewall" "default_firewall" {
  name     =  "${var.deployment_prefix}-https-base"
  network  =  var.network
  allow {
    protocol = "tcp"
    ports    = ["443"]
  }

[2020-01-08 17:48] megan07 commented on #5121
Hi @jharshman and @yannlambret, thank you for your updates and further research into this.  I think I understand the problem and have a couple of directions of where I might go from here.  Unfortunately, I’m still unable to recreate it to test these ideas out.

I have a configuration with 2 `google_compute_network` resources, a `google_compute_network_peering` resource and a `google_project` datas

[2020-01-08 19:45] #4725 closed

[2020-01-08 20:19] chrisst commented on #5339
AlertPolicy labels was removed but as of https://github.com/GoogleCloudPlatform/magic-modules/pull/2910 is was changed to computed. This was done in an attempt to make sure any fields that previously had something set but are now removed would not have a diff when they were upgraded. It unfortunately had the opposite effect for this field.
Resources should not have a diff that doesn't resolve in a

[2020-01-08 20:22] HebertCL opened #5344 "Instance template creation uses a random, non-existent image"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-08 20:31] slevenick commented on #5107
@madmaze those are helpful logs, but they don't seem to indicate what the issue is.

The nearly identical request failing is very strange. The change in `etag` between the two requests is expected as it is used for locking, and should change whenever the IAM policy is updated.

I'm asking around internally to try and track down an answer on this.

How are you resetting the IAM policy when you chan

[2020-01-08 20:42] edwardmedia commented on #5337
@srisurya777 this field is not supported in provider's early version. I just tested your code in `terraform-provider-google_v3.4.0`, and it is accepted. Please upgrade your provider version and try again. I am closing this issue. If you still see an issue or need further discussion, please reopen this issue or another one accordingly. Thanks.

[2020-01-08 20:42] #5337 closed

[2020-01-08 21:05] #3034 closed

[2020-01-08 21:08] yannlambret commented on #5121
Hi @megan07, as far as I'm concerned, it's difficult to assess with any certainty which provider version could have lead to this issue, because we have been using multiple versions of the provider, including beta ones. So it may well be an edge case. I've just noticed that the issue only occurs when using the ```terraform import``` command. When testing, I've switched the provider from v2.20.1 to

[2020-01-08 21:48] chrisst commented on #5339
This looks like it's an issue with Terraform core not calculating the diff correctly for attributes that are lists. I've filed an upstream bug, but if there isn't a quick resolution to it I can revert the change for our next version of the provider.

[2020-01-08 21:49] chrisst commented on #5339
Filed: https://github.com/hashicorp/terraform/issues/23814

[2020-01-08 22:08] robins35 commented on #3104
I need this as well. I am spinning up multiple instances with a group manager and a template, I am using a null_resource to run an ansible playbook on each of them. How am I supposed to know the IPs of the instances that are spun up when 1) I can't explicitly define them, google defines them, and 2) terraform won't even let me know what the IPs are?

It doesn't matter if google changes the IPs in

[2020-01-08 22:11] rileykarson commented on #5339
We can also work around this by calling `d.Set("field", nil)` in `Read`. We've done that in a handful of places in the past where `Removed` complex values are (correctly) marked `Computed`.

[2020-01-08 22:25] edwardmedia commented on #5341
Here is the response I get from an API call. It appears this field does accept double
[code]

[2020-01-08 22:38] edwardmedia commented on #3659
@bodemckenna Can you repro the issue again? If yes, could you please attach the full debug log, and the plan? The versions of your terraform and provider are pretty old. Can you upgrade them and try again to see if you can repro the issue?

[2020-01-08 22:59] chrisst commented on #4788
@ideasculptor It looks like the panic appears to be happening in code related to the `google_project_usage_export_bucket` resource and not because of the project services. It looks like export usage was disabled on the project which was causing this resource to crash. I'll have a fix shortly but if you haven't already, re-enabling exports should fix your immediate issue.

[2020-01-08 23:10] danawillow opened #5348 "IAM Conditions support for iap_tunnel_instance_iam"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-08 23:23] mralanlee opened #5350 "Bigquery Dataset access shows an update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-08 23:41] chrisst commented on #5074
As of the most recent batching updates the error coming back is:
[code]

Additionally I'll add a caveat on how to disable batching in the error.

[2020-01-08 23:45] edwardmedia commented on #3558
@salrashid123 I followed your steps and can't repro the Error. Both return the expected outputs. I am using `terraform-provider-google_v3.4.0`. What version were you using? If your versions were old, could you please upgrade and then try it again? I am closing the issue. Please reopen it if you still experience the issue or you need further discussion. Thanks

[2020-01-08 23:54] chrisst commented on #4993
@spew do you have a good example to repro this or a debug log from when this was causing a diff it shouldn't have? I played around with a couple of the resources you noted but haven't seen one where the update succeed but resulted in the state being set incorrectly.

[2020-01-09 00:02] chrisst commented on #4146
@paddycarver how about trying to fetch the composer environment before removing the id from state. I believe it's a fair assumption that if the resource is still get-able then it's in a state that exists but is in error and likely tainted.
I'm also not keen on playing whack-a-mole with unmanageable packages.

[2020-01-09 00:40] chrisst commented on #4990
closing as this is a duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/3582

[2020-01-09 00:40] #4990 closed

[2020-01-09 00:48] rileykarson commented on #4993
https://gist.github.com/kibbles-n-bytes/3d2bb8a76c856354f65ff50cfc72cc44 is a terraform-less repro of the pubsub one

[2020-01-09 02:19] edwardmedia commented on #5350
@mralanlee Use your configuration without any change, if I use the plugin v1.20, I receive below error.
[code]
After I updated your configuration by replacing below `role` like below. It passed the resource creation. Look at the error message you reported, it seems make sense someone may have already updated the configuration.
[code]
Can you double check if this is the case?

[2020-01-09 04:18] madmaze commented on #5107
I don't have access to the actual files right now, but here is the order of operations I performed:

0. use config from this [original issue](https://github.com/terraform-providers/terraform-provider-google/issues/5107#issue-534307337), set provider to 2.12.0
1. terraform init
2. comment out the `google_project_iam_member` block
3. terraform apply
4. uncomment the `google_project_iam_member` block

[2020-01-09 05:25] mralanlee commented on #5350
Hi @edwardmedia,

Thanks for the response.

Regarding the access roles, I was able to get the resource created in plugin v2.20.1.

With respect to the possibility someone else updating the configuration... I, initially, thought this could be a possibility so I accepted the update change to move forward and then I ran `terraform apply` again (after waiting 1 minute in case ACL changes had to be pro

[2020-01-09 06:17] spew commented on #4993
It's eventually consistent so you won't expect to see it often -- I'd say it happens 1/50 times or so

[2020-01-09 06:19] spew commented on #4993
Yes, the pubsub example is better.

[2020-01-09 06:56] salrashid123 commented on #3558
yeah, i can still repro this even with
[code]

By expected output do you mean an actual signedURL issed by the `impersonated` service account as intended above?
i.,e with

- with `GOOGLE_APPLICATION_CREDENTIALS` it may appear to work but pls check the value of `GoogleAccessId` in the URL ouptput
- with `GOOGLE_CLOUD_KEYFILE_JSON` you should get an error

---

The code in  https://github.com/terraf

[2020-01-09 06:58] salrashid123 commented on #3558
@edwardmedia could you reopen this one?  its a pretty uncommon usage but its still an issue

[2020-01-09 09:30] i2dcarrasco opened #5356 "Terraform tries to destroy the certificate before remove it from google_compute_target_https_proxy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-09 10:15] craigwatson opened #5357 "Add support for `resource_policy_attachment` for `google_compute_region_disk`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-09 12:10] craigwatson opened #5358 "google_monitoring_alert_policy flags label changes on every run"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-09 12:31] cristiani opened #5359 "Generate computed attribute Email for Cloudbuild service account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-09 13:45] JanMa commented on #4543
Hello @edwardmedia , the described issue still occurs with the latest provider version. After creating all resources with the attached config file and then trying to remove the line `"b-vm" : "europe-west1-c",` from the `local.instances` variable, I still get the following error:
[code]

If I have some more time I will add the full `debug` output of all commands.

[2020-01-09 19:01] srisurya777 opened #5361 "Auto create sub network for a google container cluster"
We are in the process of migrating from google deployment-manager to terraform. Initially, I have been using 2.x version google provider to have the create subnetwork functionality inside google_container_cluster resource. However, as per the recommendations, I am trying to update the provider to 2.x. Well aware that the create subnetwork feature in ip_allocation_policy is deprecated. Hence, we ne

[2020-01-09 19:11] rileykarson commented on #5361
Deduplicating this to https://github.com/terraform-providers/terraform-provider-google/issues/5119

[2020-01-09 19:11] #5361 closed

[2020-01-09 20:22] edwardmedia commented on #5350
@mralanlee I may have misunderstood your problem. Can you specify what you tried to do and failed? Thank you

[2020-01-09 20:25] chrisst commented on #4993
I think this would require changing these resources to no longer call into Read after create/update in order to accomplish this. Naturally any subsequent `refresh` phase will still call into read so it can't completely solve the issue.
We could alternatively add polling for transitions of individual field values to ensure that an update has fully succeeded, but that would require a medium sized ov

[2020-01-09 20:26] edwardmedia commented on #4543
@JanMa  waiting for your debug logs. Thanks

[2020-01-09 20:33] edwardmedia commented on #5358
@craigwatson What do you mean "No changes" for the Expected Behavior? Can you specify the steps how to repro your issue? Also it would be very helpful if you can attach a full debug log. Thanks

[2020-01-09 20:47] venkykuberan commented on #5344
@HebertCL I am not able to repro your issue, however i am able to successfully create igm with the disk image given in the config and Cloud console shows the right image on instance template as well on the compute instance property page.

1. Created 2 disk images from gcloud (it does't matter how images are baked i believe)
[code]
2.
[code]
3. verified that on the cloud console that both instance

[2020-01-09 20:57] #5300 closed

[2020-01-09 21:02] edwardmedia commented on #5357
@craigwatson it appears your default zone is not set to the ones you specify in other resources. There is no logic in the provider that will "auto-detect". If you use default values for all resources, this should be fine. I am closing this issue. If you think you need further discussion or assistance, please reopen this or create a new issue. Thanks

[2020-01-09 21:05] craigwatson commented on #5357
@edwardmedia My point is that I'm using a **regional** disk, not **zonal** - the provider's zone shouldn't matter, because the disk is split among two zones - note the `google_compute_region_disk` resource.

[2020-01-09 21:11] #5074 closed

[2020-01-09 21:18] craigwatson commented on #5358
@edwardmedia By "no changes" I mean that no changes should be flagged by Terraform, as nothing is actually changing.

I believe that this may be a bug introduced by 3.4.0 (where removed fields were marked as computed - see #5313 - specifically [this commit),](https://github.com/terraform-providers/terraform-provider-google/pull/5313/files#diff-92d943eb5aad07f2fc62a04b2e2b8132) as I've only started

[2020-01-09 21:18] srisurya777 commented on #5337
While I am going back and forth for an enhancement #5361 in adapting to the latest version of provider, its likely that I stick to the 2.x version. Hence, the enable_logging field will not be working.

I will be happy to take any suggestions you offer.

[2020-01-09 21:20] craigwatson commented on #5357
@edwardmedia @venkykuberan I don't seem to be able to re-open this issue, but I definitely feel that it's a bug or a feature deficiency - can you please take a look at my response above?

[2020-01-09 21:27] #4611 closed

[2020-01-09 21:28] #4788 closed

[2020-01-09 21:42] mralanlee commented on #5350
Sure.

1. I created the dataset with the configuration listed above.
2. Ran `terraform apply`, and it was exactly as I had expected: 1 to add.
3. I made a slight modification elsewhere, unrelated to this resource.
4. Ran `terraform apply`, the output said I had an update on this resource specifically regarding the `access`:
[code]

I didn't make any changes to the configuration regarding the bigqu

[2020-01-09 23:33] joemiller commented on #5171
@neale-bpm Sorry, I  closed it because I did not  feel like I was able to communicate enough usable information in the ticket, and also because I had trouble verifying the issue.

In our case it was solved by using an existing local var we already had in place, eg:

[code]

If you think the issue has sufficient information to re-open and reproduce, I'd be happy to re-open. Another option might be

[2020-01-09 23:38] edwardmedia commented on #5356
@i2dcarrasco how did you do `Remove one of the certificates from both resources at same time`? It it fine with me if I remove one from the workspace.

[2020-01-09 23:44] #5339 closed

[2020-01-09 23:49] emilymye commented on #1892
It looks like the API now returns a proper error message, so I'm going to close this and related issues.

[2020-01-09 23:49] #1892 closed

[2020-01-09 23:49] emilymye commented on #1903
It looks like the API now returns a proper error message, so I'm going to close this and related issues.

[2020-01-09 23:49] #1903 closed

[2020-01-10 00:26] #5250 closed

[2020-01-10 00:29] emilymye commented on #5250
Closing this issue - currently we don't see a way to resolve this other than being careful when importing or being ok with the extra apply. We have to allow both import and reading bindings with empty roles so users can revoke access easily, and we can't determine on our end the difference between roles/my-custom-role and roles/built-in-role.

[2020-01-10 01:01] rsalmond opened #5369 "google_monitoring_notification_channel labels field not marked Sensitive"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-10 01:09] #4500 closed

[2020-01-10 01:11] emilymye commented on #3820
Sorry this fell on the backlog, I think I still need some clarification before I actually start trying to fix this. I feel like there are multiple issues being presented by @JlUgia and since I'm not firsthand using Cloud SQL, please bear with me. Bolded text below is the work to fix this issue - so far my understanding is:

1) Postgres will prevent deletion of a user if a database depends on it, s

[2020-01-10 01:24] venkykuberan commented on #5357
@craigwatson i have reopened the issue. I reproduced the issue. It seems bug to me as well as i am able to attach the backups schedule to region_disk on the cloud console. Before i conclude can you please provide me a little more detail about your config to have a better understanding. I see in your config you don't use any snapshot link for the region_disk. I am just curious what data does the di

[2020-01-10 01:30] eriksw commented on #3582
@chrisst I just hit this and wound up with the project created in Google but marked as tainted in the terraform state.

When I planned again it wanted to destroy/recreate the project. I let it proceed and it failed:

    module.REDACTED.google_project.project: Destroying... [id=REDACTEDID]
    module.REDACTED.google_project.project: Destruction complete after 5s
    module.REDACTED.google_project.

[2020-01-10 01:59] chrisst commented on #3582
@eriksw have you tried removing `auto_create_network` from your config for the `google_project` resource?

[2020-01-10 02:14] Gi60s commented on #5164
Isn't the debug log what was already shared in the top post?

https://gist.github.com/gaahrdner/3b05aee2ebab1de0f7a173cfd33b1de0

[2020-01-10 07:08] craigwatson commented on #5357
@venkykuberan the disk in the posted config above was just a random piece of code I wrote to prove the bug  - our actual code is a little more complex and involves nested modules.

In reality, the disk in question contains application data, which is then backed up by the snapshot policy, so it's a standard persistent "blank" (at the point of creation) disk with no source snapshot or image.

[2020-01-10 07:34] courteouselk commented on #5358
We have the same issue.  I can keep running `terraform apply` over and over again, with `labels` argument causing the delta.

[2020-01-10 10:06] flelli opened #5371 "google_dns_managed_zone doesn't yet support peering_config blocks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-10 17:53] chrisst commented on #4405
@lawliet89 You are correct that `google_storage_bucket_acl` tries to be authoritative for a given bucket's acl list. If you are looking for a non-authoritative way to manage ACL's try taking a look at [storage_bucket_access_control](https://www.terraform.io/docs/providers/google/r/storage_bucket_access_control.html). I'll add some clarification to the docs to point future users in this direction.

[2020-01-10 18:04] rileykarson commented on #4435
I didn't end up making some of the changes I thought I was going to make in `3.0.0` (I decided against them), so a top-level field doesn't make sense.

Unfortunately, a node pool (with an SA attached) is required at creation time by the API. I'm tracking an issue to relax this restriction and improve the UX here, but right now workarounds like highlighted above are the best way to handle this.

[2020-01-10 18:20] venkykuberan commented on #5357
@craigwatson Thank you for the detail, I have moved this to bug list. It will get prioritized and worked on.

[2020-01-10 19:21] maroux opened #5374 "google_pubsub_subscription doesn't allow empty ttl"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-10 19:55] Chupaka commented on #5374
What provider version do you use?

[2020-01-10 20:13] maroux commented on #5374
@Chupaka ah sorry it's 3.4.0

[2020-01-10 20:20] eriksw commented on #3582
@chrisst Leaving it unset allows project creation via terraform to succeed.

It's worrying to see that `"auto_create_network": true` is persisted in the state, however, given that the network definitely does not exist.

[2020-01-10 20:20] venkykuberan commented on #5369
@radeksimko plaintext field is already marked as sensitive in data source `google_kms_secret`. Hence it shouldn't be shown in the plan. However i see you are using ciphertext in your kms_secret config and using plaintext in `google_monitoring_notification_channel` resource.

Could you please try using the plaintext field and verify if its working as expected ?

[2020-01-10 20:31] EmilyMazo opened #5377 "google_bigtable_app_profile doesn't interpolate explicit dependencies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-10 20:33] rsalmond commented on #5369
Hey @radeksimko to clarify this is not an issue with the `google_kms_secret` attribute.`google_monitoring_notification_channel` reveals the sensitive contents of the `labels` attribute when used in isolation as well. Eg.

[code]

[code]

[2020-01-10 21:24] venkykuberan commented on #5371
@flelli peering_config is available only in beta provider. Please use the same, i tested your config with beta provider and it worked fine.
Closing this issue, please reopen if still get the same error

[2020-01-10 21:24] #5371 closed

[2020-01-10 22:10] emilymye opened #5378 "Fix TestAccDataprocCluster_withLifecycleConfigAutoDeletion"
Fixing with https://github.com/GoogleCloudPlatform/magic-modules/pull/2959

[2020-01-10 22:36] edwardmedia commented on #5358
@craigwatson I see what you said. Here is what I got repeating `tf apply`. It seems a bug to me.
[code]

[2020-01-10 23:08] edwardmedia commented on #5350
@mralanlee there are 2 things I am not clear: 1) what specific thing did you do for `made a slight modification elsewhere, unrelated to this resource.` 2) between your repro steps, did you change the versions?  If yes, please specify. If not, what version I can use to repro the issue. Thanks

[2020-01-10 23:38] umairidris opened #5380 "Default advertise_mode is inconsistent"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-10 23:46] umairidris commented on #5380
Turns out this is the same behaviour for whatever reason when using `gcloud` as well, so I think terraform should be consistent with that. Closing.

[code]

[2020-01-10 23:46] #5380 closed

[2020-01-10 23:57] umairidris opened #5381 "Check for valid google_compute_router.bgp.asn number"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-11 00:00] danawillow commented on #4915
Hi @lpfeup, could you please file a new issue with the bug template fully filled out? It's hard for us to really know what's going on without the information we request there, especially the full error message and debug logs. Thanks!

[2020-01-11 00:00] #4915 closed

[2020-01-11 00:00] umairidris opened #5382 "Add checks for valid google_compute_router.bgp.advertise_mode"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-11 00:02] venkykuberan commented on #5369
Hi @rsalmond i intend to refer you in my previous message but picked a different person from the list. I apologize to both.

Regarding the issue, thanks for posting the plan output, I see it now. We don't have Sensitive property available for `google_monitoring_notification_channel` resource and i will add this issue to feature/bug list to be prioritized.  Thank you

[2020-01-11 00:19] danawillow commented on #925
This issue hasn't been active in a while, but I wanted to follow up for anyone that's still subscribed to it. Terraform 0.12 brought with it the addition of dynamic blocks, which allow for solving this sort of issue without any provider-side changes.

In this particular case, something like this may work (I haven't actually tested it so it probably needs some tweaking, but this is the general idea

[2020-01-11 00:19] #925 closed

[2020-01-11 00:30] edwardmedia commented on #5164
@Gi60s I was thinking of requesting `tf plan`. Sorry about that. Thanks
Yeah It is OK with me with the provider (v3.4.0) But I can repro this issue with `terraform-provider-google_v3.1.0`, showing `crash` as well.

[2020-01-11 00:33] rsalmond commented on #5369
Perfect, thanks @venkykuberan!

[2020-01-11 00:51] danawillow opened #5384 "support google_iap_tunnel_instance_iam in GA provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-11 01:10] danawillow opened #5385 "Add client-name and client-version values by default into google_cloud_run_service annotations fields"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-11 01:41] edwardmedia commented on #5374
@maroux if you have `expiration_policy` block in the config, the plugin looks for the `ttl`. If you want to leave it to default value, you should not have `expiration_policy` block. Below is the response I got when I don't have  `expiration_policy` block in the config. I think the doc needs to update to reflect the behavior.
[code]

[2020-01-11 01:47] edwardmedia commented on #5358
Reassign as it is too late for this week

[2020-01-11 01:51] edwardmedia commented on #5164
Reassign as it is too late for this week

[2020-01-11 09:31] Chupaka commented on #5374
@edwardmedia "ttl": "2678400s" (31 days) is the default value if you don't set expiration_policy at all. To set it to "unlimited" in version 2.x you set "expiration_policy {}". That works. Looks like in v3 something was broken.

[2020-01-11 19:36] mralanlee commented on #5350
Before doing anything, I upgraded the provider version from `1.20` to `2.20.1`. Here is the change that I had made...

1. The change I made was [this](https://www.terraform.io/docs/providers/google/guides/version_2_upgrade.html#resource-google_project). This should not create an update or change for the `bigquery_dataset` resources.

2. Not _between_ the steps. Upgrading was the first thing I had

[2020-01-12 16:01] neale-bpm commented on #5171
Thanks for the reply @joemiller. Simple workaround did the job for us too.

[2020-01-13 07:14] yegle opened #5387 "When the hash of the file on GCS changes, a new deployment should be triggered"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-13 09:14] poligraph opened #5388 "Cannot create CloudFunction with terraform app authorization"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-13 09:34] shaulishaked commented on #3820
Hi,

1) Explicit dependencies:
I tried adding an explicit dependency. It did not resolve the issue. Probably because the error is related to "root" user, and not the user I created myself.

2) root_password field:
I am using Google Postgres SQL. root_password is ignored in Postgres SQL: https://www.terraform.io/docs/providers/google/r/sql_database_instance.html#root_password.

I agree with @jclark

[2020-01-13 11:05] sebglon opened #5389 "Can we have an attribute or resource to add ssh key of service-account on os-login"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-13 12:34] courteouselk opened #5390 "Can not create google_identity_platform_default_supported_idp_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-13 12:36] courteouselk commented on #5388
I have a similar situation.  Only I could circumvent the problem by using service account.

[2020-01-13 12:42] Qvazar commented on #4650
Hi, I'm experiencing this exact same error.
I've attached a http log of the gcloud command: `gcloud compute instances create sj-n2-test --custom-vm-type=n2 --custom-cpu=4 --custom-memory=7168MB --zone=europe-west1-b --log-http`
[n2-instance-http-log.txt](https://github.com/terraform-providers/terraform-provider-google/files/4053533/n2-instance-http-log.txt)

The generated custom machine type is "n

[2020-01-13 13:34] JlUgia commented on #3820
I think it's two separate issues we are discussing.

1. @shaulishaked's issue relates to the fact that, when using Terraform, attempting to delete a Cloud SQL user fails if there are other objects making use of that user. I think I saw this issue in the past, and IIRC, it's not related to the instance but to the database objects created in Terraform. Have you tried adding a dependency to your data

[2020-01-13 14:51] gowrisankar22 opened #5391 "when maintenance_policy recurring_window & release_channel feature move to stable release"
Hi colleagues,

when will the maintenance_policy recurring_window feature and release_channel feature move to the stable release? currently, it is beta.

BRs, Gowrisankar

[2020-01-13 16:14] #5022 closed

[2020-01-13 16:47] rileykarson commented on #1480
I'm triaging this as a new resource, adding a resource like `google_compute_instance_group_named_ports` (and `google_compute_region_instance_group_named_ports` I'd imagine) that can expose named ports on the underlying instance groups managed by GKE's node pools. It'll fall under our team's regular triage process, so 👍 reactions to the parent post will help get it picked up sooner.

[2020-01-13 16:53] agosto-calvinbehling commented on #5388
My workaround is to actually call gcloud as a `local-exec` provisioner. Super janky but it works.
[code]

[2020-01-13 16:55] rileykarson commented on #2373
I'm triaging this as a new resource, adding resources like `google_compute_instance_group_manager_target_pool` and `google_compute_region_instance_group_manager_target_pool` that can [set target pools](https://cloud.google.com/compute/docs/reference/rest/v1/instanceGroupManagers/setTargetPools) on the underlying instance group managers managed by the GKE node pools. It'll fall under our team's reg

[2020-01-13 18:09] slevenick commented on #5374
You can set `ttl` to `""` for the same effect.

The change happened here: https://github.com/GoogleCloudPlatform/magic-modules/commit/5b665adf05cb75efaa1c6da9aeff0d5da87a1516#diff-293147022553799829844cb248360ba3L235

Creating a pubsub subscription with
[code]
Works as expected

[2020-01-13 18:15] HebertCL commented on #5344
@venkykuberan thanks for the reply. As you mentioned, using the format `project-name/image-name` did the trick, and assign the desired image to my template as expected. After sorting this out I moved on to IGM and, once again, I faced with the same odd behavior where image the IGM isn't the one from template. I made extra testing this time, using a plain CentOS image and metadata startups script.

[2020-01-13 18:20] slevenick commented on #5374
For a little context, this change happened during 3.0.0 to try to prevent the setting of empty blocks in most cases. Generally we try to not allow empty blocks to be set, and in this case we fixed it by requiring users to set `""` for ttl

[2020-01-13 18:20] #5374 closed

[2020-01-13 18:24] jclarksnps commented on #3820
@JlUgia Yeah our plan is to remove database creation from TF all-together, I agree that it does not belong there at all.   I did try adding dependencies, although not reverse from the instance to the users.  Most of my issues have been someone using the user to create another db or having connections open, which im not sure the dependencies would fix (unless I'm missing something)?

[2020-01-13 18:28] slevenick commented on #5164
Looks like this was fixed in version `3.2.0`: https://github.com/terraform-providers/terraform-provider-google/blob/master/CHANGELOG.md#320-december-11-2019

I'm able to confirm that it works in `3.4.0`, so I'll go ahead and close this out.

[2020-01-13 18:28] #5164 closed

[2020-01-13 18:41] edwardmedia commented on #5388
@poligraph it seems to me this is caused by the account you used and its permission. Can you go to https://www.terraform.io/docs/providers/google/guides/getting_started.html and follow the steps under `Adding credentials`? Make sure you give the new service account with `Cloud Functions Admin` role. Please let me know if you still have the problem? Thanks

[2020-01-13 18:48] #5378 closed

[2020-01-13 18:52] michyliao commented on #5107
I am also seeing this issue when applying iam_member with ` provider.google: version = "~> 3.4"`

`Error: Batch "iam-project-<project id> modifyIamPolicy" for request "Create IAM Members roles/storage.objectAdmin serviceAccount:<service-account-id>@<project-id>.iam.gserviceaccount.com for \"project \\\"<projet-id>\\\"\"" returned error: Error applying IAM policy for project "<project-id>": Error s

[2020-01-13 18:53] danawillow commented on #5359
Note from triage meeting: maybe new data source or maybe generic one with enum, needs a bit of thought

[2020-01-13 19:11] danawillow commented on #5289
Done

[2020-01-13 19:11] #5289 closed

[2020-01-13 19:13] #4935 closed

[2020-01-13 19:15] tysen commented on #4935
The fix is merged so it should be in the next release.

[2020-01-13 19:20] chrisst commented on #5358
Closing as a duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/5339

[2020-01-13 19:20] #5358 closed

[2020-01-13 19:50] maroux commented on #5374
@slevenick Ah indeed that works as expected. My test case was flawed. thanks!

[2020-01-13 20:30] chrisst commented on #5369
@rsalmond I agree this should be sensitive but we can't mark the entire labels attribute as sensitive because it wouldn't be good for every other use case of labels. We also are unable to mark a single key value pair as sensitive at run time because the sensitive attribute is effectively a compute time type.

Instead I think we can make a new attribute that contains only the slack token (eg: `slac

[2020-01-13 20:32] chrisst commented on #3582
@eriksw we will leave this bug open until you don't have to use `"auto_create_network": true` or omit it from your config as a work around.

[2020-01-13 21:04] chrisst commented on #3755
Assigning to Hashibot as @ondrejklucka has generously already started on the solution for this.

[2020-01-13 21:31] rsalmond commented on #5369
Hey @chrisst yeah that'd help us out, it's kludgy but it works. Not your fault, weird to use labels as control data.

Based on the output of `gcloud alpha monitoring channel-descriptors list` it looks like you may want to include `service_key` for the pagerduty descriptor and `password` for the  `webhook_basicauth` channel. And maybe the `url` label for the `webhook_tokenauth` channel? I think tha

[2020-01-13 21:44] goobysnack commented on #5132
In my use case, which is also spanner, there is a race condition.  When you add the spanner api, it doesn't spin up quickly enough before the instance creation fails.  It would be nice if either there were explicit module dependencies or, the way this is often done, poll a data source for the service and make that a dependency of the spanner resources.

[2020-01-13 21:45] danawillow commented on #3957
Jan 9 2020 TPG run has a few examples of "read: connection reset by peer" in case anyone needs debug logs for a failure

[2020-01-13 21:49] rileykarson commented on #5132
Thanks for the feedback! I'm somewhat surprised the datasource works when the resource doesn't- it *should* verify that the service is enabled as part of creation. We're tracking this issue as part of our triage process; if there's lots of interest (measured by number of :+1:s on the parent post), we're likely to move it up in our priority list.

[2020-01-13 21:56] goobysnack commented on #5132
This is the issue I run into, for context
spanner.tf:
[code]
module:
[code]
Error Message:
[code]

[2020-01-13 22:00] venkykuberan commented on #5377
@EmilyMazo When you change the config for the resource `google_bigtable_instance`, terraform decides not to destroy the `google_bigtable_app_profile` since its dependent on the  `name` property which is not going to change even after big_table instance is recreated. However GCP deletes both the resources since it knows the underlying dependency.  Next time during the refresh process (apply) terraf

[2020-01-13 22:06] venkykuberan commented on #5344
sure @HebertCL will wait for your more details

[2020-01-13 23:02] HebertCL commented on #5344
Continuing with my previous comment, I've documented my findings so it makes a bit more sense. While trying to get passed my issue with cooking images (which by the way, as you suggested, how image is cooked makes no difference) I decided to make it simple for me and have a startup script to handle the configuration. I will make sure to include a gist with my startup script, IGM module and main.
F

[2020-01-13 23:22] slevenick commented on #5390
Looks like I did not correctly understand this resource when I implemented it.

I'm fixing via a PR to add a new field `idp_id` that is separate from `client_id`. `idp_id` should be the identifier of the IDP, for instance `google.com`

[2020-01-13 23:33] venkykuberan commented on #4650
I am closing this issue as now i am able to create instances with custom type `n2-custom-8-10240`. Please reopen if you still face the issue.

[2020-01-13 23:54] edwardmedia commented on #5350
@mralanlee during the steps when I try to repro the issue, at least I have to modify below syntax between v1.20 and v2.20.1. Not sure how you did upgrade without modifying the configuration. Can you double check if this happens on your side?
[code]
[code]
After I upgraded the plugin to v2.20.1, and successfully run `tf apply` initially, I always get below response each time I rerun `tf apply`
[cod

[2020-01-14 00:13] danawillow commented on #4650
Given that @Qvazar's comment is from earlier today, I think that means they're still facing the issue :)

@Qvazar, do you have debug logs (https://www.terraform.io/docs/internals/debugging.html) from a run of Terraform that failed with that machine type?

[2020-01-14 00:30] #5302 closed

[2020-01-14 00:42] venkykuberan commented on #3504
@TAvardit, apologies for the delay in response. Somehow this issue fell through the cracks.  If you are still facing the issues, please refer the updated docs [here](https://www.terraform.io/docs/providers/google/r/sql_database_instance.html).

Please let us know if the docs didn't help to fix your issue.

[2020-01-14 01:14] danawillow commented on #3582
Drive-by: I'm not convinced all the errors around this are the same issue, but I think some of them would be fixed by using errwrap.Wrapf at https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_google_project.go#L459 so that we can later parse it as a googleapi.error and see whether it's a 404

[2020-01-14 03:26] AndrewZurn commented on #5054
I was looking for what I believe is what the original author might have been looking for, that being, how to select Cloud Run for Anthos as the Deployment platform for the containers that Cloud Run will be managing. Here is screenshot for the relevant functionality from the GCP Cloud Run UI.

![image](https://user-images.githubusercontent.com/2126119/72311734-807e8600-363a-11ea-9f02-794526f4ef9e.p

[2020-01-14 09:15] Qvazar commented on #4650
Hi @danawillow,
Since @venkykuberan is able to create custom instances with type n2, I assume this is fixed in the newest TF release?
I'm still stuck on 0.11 for now, but upgrading is planned for the near future.

[2020-01-14 09:41] eddy-curv commented on #4650
When trying to create a node pool with N2 custom mcahine type (n2-custom-2-4096) using the following configuration:

Terraform v0.12.18
+ provider.google-beta v3.3.0

I get the following error:
` Error waiting for creating GKE NodePool: (1) Google Compute Engine: Not all instances running in IGM after 27.74815672s. Expect 1. Current errors: [UNSUPPORTED_OPERATION]: Instance 'gke-c4759v3-cluster-c4

[2020-01-14 09:41] #4650 closed

[2020-01-14 12:22] poligraph opened #5401 "google_composer_environment - allowed to pass empty environment variable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-14 12:40] poligraph commented on #5388
@edwardmedia thanks for response, I use service account called "Google APIs Service Agent" with name `PROJECT_NUMBER@cloudservices.gserviceaccount.com` and authenticate with `gcloud auth application-default login` and actually there is no json key configuration for terraform. I have quite big config and all modules work fine except cloud_functions.

[2020-01-14 14:03] JlUgia commented on #3820
That's right per my understanding too. If there are other objects or connections open or created outside of the scope of Terraform, that'd conflict with the deletion of the resource.

[2020-01-14 15:29] edwardmedia commented on #5388
@poligraph can you verify if the service account has that role?

[2020-01-14 17:12] TAvardit commented on #3504
@venkykuberan  We applied this change to all our instances and activated private ip configuration manually on the instance to have it working. Unfortunately, I don't have any instance that doesn't have it already configured and that I could test with it.

[2020-01-14 17:31] venkykuberan commented on #3504
Thank you @TAvardit, I will close this issue then. Please open a new one incase if you happened to hit the same issue.

[2020-01-14 17:31] #3504 closed

[2020-01-14 18:11] #5390 closed

[2020-01-14 18:54] emilymye opened #5403 "Fix TestAccComputeRegionBackendService_*"
Broken in #2961 - INTERNAL type backends cannot have capacityScaler set

[2020-01-14 20:18] megan07 opened #5407 "Remove deprecated fields from SQL Generation upgrade"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-14 20:39] #5403 closed

[2020-01-14 20:40] #5091 closed

[2020-01-14 20:44] #5341 closed

[2020-01-14 21:45] chrisst commented on #3755
After digging a bit more it looks like the `folder_iam_policy` resource was fixed to correctly read/set `audit_config` as part of https://github.com/GoogleCloudPlatform/magic-modules/pull/2313

Closing this bug as resolved. I'll work to get the `audit_config` resource PR merged in separately.

[2020-01-14 21:45] #3755 closed

[2020-01-14 22:07] chrisst commented on #3202
This was added in https://github.com/GoogleCloudPlatform/magic-modules/pull/2741

[2020-01-14 22:07] #3202 closed

[2020-01-14 22:09] chrisst commented on #4130
folder audit config is being added as part of https://github.com/terraform-providers/terraform-provider-google/pull/5282

organization audit config was added in https://github.com/GoogleCloudPlatform/magic-modules/pull/2741

Once folder audit configs are added I will be closing this out

[2020-01-14 23:06] maqiuyujoyce opened #5408 "Updating a field that requires stopping failed when the compute_instance resource has an encrypted disk"
I created a compute_instance resource that has an encrypted disk, and wanted to update the `machine_type` field. However, the update failed at [this line](https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_compute_instance.go#L1402) because [Instances.Start() doesn't work when the instance has any encrypted disks](https://cloud.google.com/compute/docs/inst

[2020-01-14 23:22] edwardmedia commented on #5408
@maqiuyujoyce Can you post your configuration and full debug log here? Thanks

[2020-01-15 00:41] goobysnack commented on #3074
Is this the simple fix here? To just use one value lower on the priority?  So, everything should be denied by rule 2147483646 before ever reaching rule priority 2147483647 right?
[code]

[2020-01-15 01:06] maqiuyujoyce opened #5413 "Creating instance from template failed because the boot disk name is not expanded to the full selfLink"
I'm trying to use the instance_from_template resource to create an instance. The boot disk is defined in the instance_template and [it is referenced by name in the `source` field](https://www.terraform.io/docs/providers/google/r/compute_instance_template.html#source). However, the creation failed because the disk name is not expanded to the full selfLink (code [here](https://github.com/terraform-p

[2020-01-15 01:44] #4171 closed

[2020-01-15 01:44] #5088 closed

[2020-01-15 09:10] pkaramol opened #5414 "Unable to create gcs acl with Terraform 0.11.4 / Error message not descriptive at all"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-15 10:42] pkaramol opened #5415 "TF fails to create GCP IAM member with roles/storage.admin. Via GCP Console, this is possible"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-15 10:49] pkaramol commented on #5415
__update__: Via the `gcloud` command it is also possible:

[code]

[2020-01-15 13:42] edwardmedia commented on #5414
@pkaramol  The version of your plugin is v2.11.0 which is pretty old. Have you tried to upgrade it and then run again?

[2020-01-15 13:43] cschroer commented on #5132
I do have the same problem here, the main use cases for data source is related to the `google_project_iam_policy` resource.

If you want to be authoritative on your project IAM policiy, you need to know the enabled services (and also the services enabled by dependencies). You may need to add some IAM rules for service-specific  service accounts. I did this with some conditional magic inside my `go

[2020-01-15 13:47] edwardmedia commented on #5415
@pkaramol same as the issue #5414, could you try to upgrade your plugin and then to see if you still have this problem?

[2020-01-15 14:37] dens-github opened #5416 "Implementation of minNodeCpus"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-15 14:45] pkaramol commented on #5414
This time I didn't specify / limit the provide to a version, therefore `v2.20.2_x4` was used. The end result was the same.

[code]

[2020-01-15 15:15] marcin-kolda commented on #3074
Hi @goobysnack, this is exactly what we did as a workaround, but still it would be great to be able to change the default rule without importing.

[2020-01-15 15:47] BenCoughlan15 commented on #4935
Thanks @tysen

[2020-01-15 16:53] edwardmedia commented on #5414
@pkaramol  Thank you. Can you try v3? Here is the instruction https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html

[2020-01-15 17:10] pkaramol commented on #5414
Sure, but is `v3` compatible with Terraform `0.11.4` ?

[2020-01-15 17:57] danawillow opened #5417 "Look into using GCE Operations.Wait API instead of polling"
https://cloud.google.com/compute/docs/reference/rest/v1/zoneOperations/wait (also exists for global and regional)

I'm not sure how much it'll end up actually making a difference, but it's worth looking into.

[2020-01-15 18:01] slevenick commented on #5107
@michyliao that looks like a different issue. Can you file a separate issue with debug logs included?

[2020-01-15 18:21] coolblknerd commented on #5229
@gowrisankar22 what was your solution to this issue? I'm running into the same error.

[2020-01-15 18:44] coolblknerd commented on #5229
Nevermind, I figured it out. I made my cluster a zonal cluster and I was trying to make a node pool in a different zone. Once I re-created my cluster to be regional and made sure my node pool matched my region everything worked as expected.

[2020-01-15 18:56] edwardmedia commented on #5414
@pkaramol
[code]

[2020-01-15 19:35] venkykuberan commented on #5344
@HebertCL It looks like your instance_template is picking up the right image now.
Regarding IGM,  If i understand your issue you are saying that you destroyed the igm & instances (with the config you manually did) and ran the apply command again you see new instances coming up with old config or setup you manually did.  I am sensing its not a Terraform issue and not sure how could it happen.
  GCP

[2020-01-15 19:41] venkykuberan commented on #5243
@bitglue if you still need help on this issue, please provide the details asked above.

[2020-01-15 19:45] venkykuberan commented on #4770
@Gustavo-Benitez,
        If you still need help can you please provide the config to repro ?

[2020-01-15 19:48] venkykuberan commented on #4712
@HebertCL are you still needing help on this issue ? or can i go head and close it if you have what you needed.

[2020-01-15 19:53] venkykuberan commented on #4250
@espala Do you still need help on this issue ? If you have what you need, shall i go head and close this  one ?

[2020-01-15 20:00] venkykuberan commented on #3690
@atmatthewat Do you still need help on this issue or shall i go head and close it ?

[2020-01-15 20:06] venkykuberan commented on #3688
@morgante I am closing this issue as we can't do any action here. Please reopen or open a new issue if you still face the same problem.

[2020-01-15 20:06] #3688 closed

[2020-01-15 20:46] bitglue commented on #5243
It's quite possible the resource was created with an older version, but sharing the entire state is not something I can do. I understand if you'd prefer to simply close the issue.

[2020-01-15 20:58] HebertCL commented on #5344
@venkykuberan long story short is pretty much as you mention and uses the following workflow:

1. Cooked image/metadata startup script > Instance template > IGM
2. Once IGM launches the instance(s), it can be one of these two scenarios:
  - Cooked image gets replaced by an older, deleted image
  - Metadata startup script sets instance up, and any additional configuration added manually appears bac

[2020-01-15 21:05] HebertCL commented on #4712
@venkykuberan I haven't had the chance to revisit this issue. For now I have integrated it to my workflow using gcloud, so for now it's safe to close it. If I get back to it and find it happening, I will reopen it.

[2020-01-15 21:35] venkykuberan commented on #4712
Thank you @HebertCL. I am closing it.

[2020-01-15 21:35] #4712 closed

[2020-01-15 21:40] venkykuberan commented on #5243
Thank you @bitglue, I will close this issue. Please open a new one in case if you happened to hit the issue again.

[2020-01-15 21:40] #5243 closed

[2020-01-15 21:55] venkykuberan commented on #3890
@pietraspan Do you still need help on this issue ?. if not I will close it.

[2020-01-15 22:50] mralanlee commented on #5350
I updated the `labels` and still seeing a `1 to change` on just the `access` portion of the resource.

Running `terraform show` exposes some certs and credentials that I cannot share.

[2020-01-15 22:53] venkykuberan commented on #5344
@HebertCL As image/instance_template is working as expected.  Lets try to isolate terraform in igm issue you are facing. You can try creating the igm in following ways
 1) gcloud
 2) cloud-console
Verify any of the above behavior (deleted disk image or non-configured startup scripts) is occurring ?

[2020-01-16 04:31] nikrhes opened #5420 "google_cloud_run_service return HTTP response 404 during creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-16 05:34] TetsutaroWatanabe opened #5421 "Can not create google_service_account with doesn't match regexp error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-16 07:34] ChethanUK opened #5422 "Option to enable access to Composer's Private GKE Cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request

### Description

Need cidr range in Master authorized networks of Composer's GKE instead of `Master authorized networks Enabled`

### New or Affected Reso

[2020-01-16 07:43] pkaramol commented on #5414
Thank you @edwardmedia. I guess there is no reason keeping this open any more.

[2020-01-16 07:43] #5414 closed

[2020-01-16 07:43] #5415 closed

[2020-01-16 09:14] Gustavo-Benitez commented on #4770
@venkykuberan Thank you. I cannot provide the code however, upgrading to terraform 0.12.18 and using Google Provider 2.19 seems to have had a positive effect. I believe the resource that was corrupt on every state file was the Google Provider **compute_global_forwarding_rule**

[2020-01-16 09:14] #4770 closed

[2020-01-16 09:50] vmarchaud commented on #4916
I believe so, i can't re-test now but i will re-open if i find another issue when i do.

[2020-01-16 09:50] #4916 closed

[2020-01-16 09:52] pietraspan commented on #3890
@venkykuberan - yes, I'm fine with closing that.

Sorry for the late response.

[2020-01-16 10:32] Chupaka commented on #5421
Correct. Minimum SA name length is 6 chars in GCP. "hoge" is only 4.

[2020-01-16 12:17] mcqj opened #5423 "Cannot destroy network used by Container Engine"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-16 13:04] TetsutaroWatanabe commented on #5421
Thank you.
I am sorry to make the issue without investigating regexp in error message well.

[2020-01-16 13:04] #5421 closed

[2020-01-16 15:23] mcqj commented on #5423
Closing issue - it was actually caused by a manual edit of a resource

[2020-01-16 15:23] #5423 closed

[2020-01-16 16:43] Chupaka commented on #5415
By that gcloud command you create project-level IAM entry.

google_service_account_iam_member creates resource-level IAM entry (on Service Account, actually). You cannot allow Service Account to admin the storage on itself. Because Service Account doesn't have storage, a project does :)

[2020-01-16 16:46] matti opened #5424 "google_project_service compute disable_dependent_services does not work"
[code]

says
[code]

when destroying

[2020-01-16 16:56] pkaramol commented on #5415
@Chupaka you are right, thanks!

[2020-01-16 17:38] megan07 commented on #5121
Hi @yannlambret!  Thanks again for the response!  So it seems like `app_engine` was used in `1.x.x` versions.  In `2.0.0` we marked it as `Removed`, which should update the state to empty out that value once `terraform apply` is run.  I’m seeing it do this when I follow the path above.  Upgrading to `3.0.0`, we took out the `Removed` field and this should remove it from the state file at all.  I w

[2020-01-16 18:01] danawillow commented on #5287
This was fixed in v3.2.0 in https://github.com/terraform-providers/terraform-provider-google/pull/5094.

@edwardmedia fyi the way I was able to figure this out was by looking at the crash.log file. Since it was a crash, there is likely to be a panic in the logs, so I looked for it and found this:
[code]

This shows that there's a line in the provider that is trying to convert a variable to a map,

[2020-01-16 18:01] #5287 closed

[2020-01-16 18:06] #3890 closed

[2020-01-16 20:28] edwardmedia commented on #5420
@nikrhes I can't repro your issue. All three resources are successfully created by using your code. Can you post 1)  `tf plan` 2) full debug log in order for me to take a closer look. Thanks

[2020-01-16 21:11] venkykuberan commented on #5424
@matti if you have any other resources (of container.googleapis.com) running in your project which are created outside of your terraform config you can't disable that service until you delete them.
 I am able to run your config on a blank project without any issues. If you are running your config on a blank project please attach the debug log.

[2020-01-16 21:15] venkykuberan commented on #3350
@bukzor Do you still need help on this issue ? If not shall i go head and close it ?

[2020-01-16 21:38] jacobstr commented on #4314
Is there a workaround available for this? I've tried to remove the `google_container_cluster` state as well as the `google_container_node_pool` state with no success. _Something_ is causing a lookup of an old instanceGroupManager.

I've looked at my terraform state as well and cannot find evidence of e.g. `gke-$cluster-default-af15db45-grp`.

[2020-01-16 21:43] #4747 closed

[2020-01-16 23:22] edwardmedia opened #5428 "Boot to set true for non-boot disks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-16 23:40] edwardmedia commented on #5413
1. Using above config, `'existing-disk'. The URL is malformed.` is received
2. Changing the config to use self-link: `Disk must be in a regional scope.` is received.
3. Changing it to use regional disks, `Regional disks cannot be used as a boot device.` is received

[2020-01-16 23:47] edwardmedia commented on #5350
@mralanlee having `tf plan` and `tf show` could help us identify the issue. You may redact the credentials, etc. before put them in the public. Also after the upgrade the provider plugin, have you ever successfully run `tf apply`? It is expected that the state files could be different between different versions. If this is the first time you run `tf apply`, you may have to accept the different.

[2020-01-16 23:59] venkykuberan commented on #3469
@sriabhi3229 output is refreshed after apply command when i check with the current provider version. Hence i am closing this issue. Please reopen if you still see the issue on your end.

[code]

[2020-01-16 23:59] #3469 closed

[2020-01-17 00:33] edwardmedia commented on #5401
@poligraph it's hard to understand what the issue is. Can you post the entire configuration, along with  lot of `var ` and `local.default_pypi_packages`, etc. How to navigate to find `ENV VAR in google cloud console for composer.`? Thanks

[2020-01-17 01:07] rayuduc commented on #4935
Hi @tysen,
 Is this fix available in google-provider Beta ?
Am getting same issue when using even though we have dedicated subnetwork with
 purpose = "INTERNAL_HTTPS_LOAD_BALANCER" and role = "ACTIVE"

resource "google_compute_forwarding_rule" "nginx-europe-lb" {
  provider = "google-beta"
  name = "nginx-int-lb-test"
  load_balancing_scheme = "INTERNAL_MANAGED"
  project = var.tes-project
  backe

[2020-01-17 09:10] matti commented on #5424
I created https://github.com/matti/repro-terraform-provider-google-issues-5424

but I can't see what I'm doing wrong, I'm just getting:

[code]

...what am I missing?

[2020-01-17 12:06] dpfeif commented on #4449
Hi @danawillow, sorry for the delay.
As I was trying to reproduce the issue with debug logs, it actually passed this time :)
I'm copying the relevant configuration, in case it can help someone else.
Thank you very much for the support.

[code]

[2020-01-17 12:38] poligraph commented on #5388
@edwardmedia I tried to use GOOGLE_CLOUD_KEYFILE_JSON with service account "Editor" permissions and it worked. But anyway, is it any possibility to look through the original issue, that cloudfunctions.googleapis.com could not be created via Google APIs Service Agent. I manage tens projects in gcloud and it is not convenient to use service account json for every single project. Thanks.

[2020-01-17 13:25] BenCoughlan15 commented on #4935
Hey, looks like it's still not released.

B

[2020-01-17 13:36] matti opened #5431 "docs: sandbox_config vs sandbox_type"
https://www.terraform.io/docs/providers/google/r/container_cluster.html
says

[code]

but in "below" it's "sandbox_type"

[2020-01-17 13:38] matti commented on #5431
so the actual bug is

"The sandbox_type block supports:" but it should say "The sandbox_config block supports:"

[2020-01-17 18:01] danawillow commented on #4449
Glad it's working now! I'm going to go ahead and close this out, but if anyone else encounters it again, feel free to post debug logs for a failed run and I can reopen and keep investigating.

[2020-01-17 18:09] #5007 closed

[2020-01-17 18:35] venkykuberan commented on #5424
The service_account you are using for terraform doesn't have the right `roles/serviceusage.serviceUsageAdmin` permissions setup. Please refer this [page](roles/serviceusage.serviceUsageAdmin) for roles and permissions

[2020-01-17 20:22] #5413 closed

[2020-01-17 20:29] edwardmedia commented on #5388
@poligraph your question is beyond what `terraform provider` can do. The account you chosen might not be best fit for running terraform. Please take a look below comments about this account. Besides, You should be able to create a specific service account that have permissions to all the projects you need to manage. It is not limited to just one project.

"Google APIs service account
An example of

[2020-01-17 20:33] #5348 closed

[2020-01-17 20:33] #5384 closed

[2020-01-17 21:20] danawillow opened #5434 "CMEK support in google_sql_database_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-17 21:47] slevenick commented on #5107
I'm unable to track this down by just the error message from the debug logs (invalid argument is very generic)

I'll probably need to be able to reproduce this to make further progress. @madmaze can you send me the full debug logs for a failing run? It would help to have the full request/response pair without any changes. If you don't want to post them publicly could you send them to my username @

[2020-01-17 21:52] venkykuberan commented on #5431
yes, the block name should be `sandbox_config`. I will add this to doc update bug list which will be fixed soon. Thank you @matti

[2020-01-17 22:50] danawillow opened #5435 "Direct Google Access"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-17 23:14] venkykuberan commented on #3385
@singh-ajeet looks like you trying in gcloud which is not in scope for this channel. Please raise the issue against glcoud team if you still have the issue

[2020-01-17 23:24] venkykuberan commented on #3385
@yellowmegaman Please let us know if you still face this issue or you want me to close it.
Also I am able to successfully create the GKE cluster with your config. Cluster completes within the timeout period  after that don't see master getting upgraded.
[code]

[2020-01-18 01:16] danawillow commented on #5150
Internal at b/141945015.

Also note to the implementer to make sure we warn in the docs about recreating nodes.

[2020-01-18 01:17] #5431 closed

[2020-01-18 20:41] dylanpiergies commented on #5154
This breaks private clusters. Given the following:

[code]

We get:

[code]

But if we uncomment:
[code]
then we get:
[code]

and still the same `if (true) remove() else remove()` thing going on in the error message.

[2020-01-18 22:52] eyalzek commented on #5154
@dylanpiergies did you try `ip_allocation_policy {}` ?

[2020-01-19 00:08] Arconapalus opened #5438 "CloudFunctions_Function Error 400: The request has errors, badRequest"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-19 03:53] Arconapalus commented on #5438
I found the within the python cloud function, the event_trigger> event_type was not correctly correlating to Google Cloud Function docs as to, calling a cloud function. Under the supported triggers value I assumed that finalize was acceptable. Later, checking the logs it was not. Only does change and publish work.
My means to an end, was to create a cloud function and cloud composer where, cloud f

[2020-01-19 13:13] jr-01 opened #5439 ""Provider produced inconsistent final plan" when trying to add FW rule to default VPC"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-19 20:19] yellowmegaman commented on #3385
@venkykuberan just tried code above again. Had only to edit metadata field, add '=' to make it work with 0.12.X.

All is just the same. After cluster and nodepool are created, wait for few mins. In my case it was 2 minutes when cluster started to upgrade:

![image](https://user-images.githubusercontent.com/3943191/72687700-96e08200-3b11-11ea-87ab-c08fbbd91639.png)

Kubectl returning this:
[code]

[2020-01-19 20:19] yellowmegaman commented on #3385
@venkykuberan just tried code above again. Had only to edit metadata field, add '=' to make it work with 0.12.X.

All is just the same. After cluster and nodepool are created, wait for few mins. In my case it was 2 minutes when cluster started to upgrade:

![image](https://user-images.githubusercontent.com/3943191/72687700-96e08200-3b11-11ea-87ab-c08fbbd91639.png)

Kubectl returning this:
[code]

[2020-01-20 05:32] lawliet89 opened #5440 "Allow `dnssec_config` update for `google_dns_managed_zone`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-20 06:32] nikrhes commented on #5420
@edwardmedia thank you for reaching out. i Have updated my initial post with link to debug log. kindly check it.

[2020-01-20 12:41] BenCoughlan15 commented on #4935
Hey all, any sign of this being released?

[2020-01-20 13:14] koesper commented on #5388
I'm not certain, but is this happening when you use google-project-factory v6.2.0 or v6.2.1?
For me, it worked again with v6.1.0.
(I'm working on a simplified testcase so i can file a bug, but I'm not certain yet)

[2020-01-20 20:06] MaT1g3R opened #5441 "Verify min and max node count for google_container_node_pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-20 20:49] MaT1g3R opened #5442 "google_container_cluster auto_provisioning_defaults state never converges"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-20 22:12] michyliao opened #5443 "iam_binding/iam_member"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-20 22:58] j-martin opened #5444 "Add `google_project_iam_policy` as a data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-21 04:58] takat0-h0rikosh1 opened #5445 "How to specify `roles/run.invoker` permission to a iam's domain"
I want to do these.

- Only specific gmail's domain can request to Cloud Run service.
- Can request with no authorization.

I used `google_cloud_run_service_iam_member` in terraform code.
I wrote the following code.

[code]
A domian is splited by `-`.
When did terraform apply, returned these error.

[code]

What is reason this problem.

[2020-01-21 05:00] takat0-h0rikosh1 commented on #5445
I forgot to set label. This issue is question.

[2020-01-21 05:14] takat0-h0rikosh1 commented on #5445
How do I set label?

[2020-01-21 09:38] stephanlindauer commented on #4195
i think, after this `invert` flag is currently not exposed through the [google cloud api](https://cloud.google.com/cloud-build/docs/api/reference/rest/Shared.Types/Build#RepoSource), there is not much we can do on the terraform provider side.
is there an ETA on when this flag will be exposed through the google api? @danawillow @paddycarver

[2020-01-21 12:35] dijitali opened #5446 "google_project_iam_audit_config doesn't allow multiple log_type settings to be configured"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-21 12:41] jaceq commented on #3657
@rileykarson any update on that? it's been a few months...

[2020-01-21 12:53] paddycarver commented on #4514
Hi there! In accordance with [Terraform's guidance](https://www.terraform.io/docs/extend/best-practices/sensitive-state.html#don-39-t-encrypt-state) on best practices for providers, we're not going to implement this. The suggested workaround is to use an [enhanced remote backend](https://www.terraform.io/docs/backends/types/index.html), which should meet most security needs.

The workaround of sim

[2020-01-21 12:53] #4514 closed

[2020-01-21 12:58] paddycarver commented on #4398
Hi! Unfortunately, depending on providers at the Go package level is not something that Terraform endorses or that HashiCorp is willing to support at this time. There's (now) [a page](https://www.terraform.io/docs/extend/best-practices/depending-on-providers.html#do-not-import-providers-as-go-modules) on terraform.io laying out the reasoning behind this and the suggested alternative paths availabl

[2020-01-21 12:58] #4398 closed

[2020-01-21 13:05] paddycarver commented on #4327
The understanding we reached is that the Object type (https://github.com/zclconf/go-cty/blob/master/docs/types.md#ctyobject-types) is probably the right solution for what we're calling "structural fields"--that is, in the following JSON

[code]

`foo` is a structural field. Right now we would implement that as a TypeList with a MaxItems of 1, but it's actually distinct from a list, which would loo

[2020-01-21 13:05] #4327 closed

[2020-01-21 13:06] paddycarver commented on #4326
We're going to hold on off on this one until we see a new SDK, as mentioned in #4327, because so much of it depends on what the SDK allows us to do.

[2020-01-21 13:06] #4326 closed

[2020-01-21 13:08] paddycarver commented on #3491
Going to close this as a dupe of #4326.

[2020-01-21 13:08] #3491 closed

[2020-01-21 13:09] paddycarver commented on #2190
Hi there! In accordance with [Terraform's guidance](https://www.terraform.io/docs/extend/best-practices/sensitive-state.html#don-39-t-encrypt-state) on best practices for providers, we're not going to implement this. The suggested workaround is to use an [enhanced remote backend](https://www.terraform.io/docs/backends/types/index.html), which should meet most security needs.

If an enhanced remote

[2020-01-21 13:09] #2190 closed

[2020-01-21 14:42] shaulishaked opened #5463 "Update support for google_container_cluster.addons_config.cloudrun_config"
Hi there,

### Terraform Version
Terraform v0.12.18

### Affected Resource(s)
- google_container_cluster

Can you please add support for enabling Anthos for Cloud Run on a GCP Kubernetes cluster (https://www.terraform.io/docs/providers/google/r/container_cluster.html)?
Currently from what I see this is possible only using a local exec with a kubectl command (https://cloud.google.com/run/docs/gke/e

[2020-01-21 14:47] drigz commented on #5124
I have contacted three Terraform users who requested this feature. The two that responded prefer the UI+JSON workflow. How does affect the issue size/priority?

I proposed the following workflows:

Response from developer advocate:

Response from GCP customer:

[2020-01-21 15:08] matthias-froomle commented on #5124
I would still prefer the Terraform-only workflow for 2 reasons:
* It enables the definition of charts in terraform syntax which is consistent with the way the `google_monitoring_alert_policy` resource works
* It allows for easier interpolation of chart parameters such as filters

[2020-01-21 15:59] rileykarson commented on #3657
@ndeitch: I'd suggest filing a new issue for that feature.

@jaceq: Still nothing, sorry!

[2020-01-21 16:29] HebertCL commented on #5344
@venkykuberan sorry for the late response. I've tried creating IGM from cloud console before, although I didn't follow up with manual configs and then delete/create the IGM once again to see if the issue persisted. I will try to get it done throughout the day and share the results.

[2020-01-21 16:58] anubbhavm opened #5447 "request for new resource 'google_folder_iam_audit_config'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-21 17:44] slevenick opened #5448 "TestAccCloudFunctionsFunction_vpcConnector"
Test failing since 01/13/2020

[2020-01-21 17:45] slevenick opened #5449 "Fix Tests using RegionBackendService"
Test failing since 01/15/2020

TestAccComputeForwardingRule_forwardingRuleHttpLbExample
TestAccComputeRegionBackendService_regionBackendServiceBalancingModeExample

[2020-01-21 17:45] slevenick opened #5450 "TestAccComputeRegionBackendService_regionBackendServiceBalancingModeExample"
Test failing since 01/15/2020

[2020-01-21 17:46] slevenick opened #5451 "TestAccContainerCluster_sharedVpc"
Failing since 01/14/2020

Seems like the project_id is too long (30 char max)

[2020-01-21 17:47] slevenick opened #5452 "TestAccDataSourceGoogleMonitoringNotificationChannel_byType"
Test failing since 01/16/2020

[2020-01-21 17:54] #5408 closed

[2020-01-21 17:57] emilymye opened #5453 "Add batching to other IAM (or general) resources"
Currently we support batching for specific IAM resources (project_iam_*, healthcare_iam_*, autogenerated IAM resources) but we should extend support to other resources as we see fit.

The change for IAM resources is very easy - substitute the shared IAM resource constructors with their `...WithBatching()`equivalent.

The lack of batching for other resources doesn't seem to be causing quota issues

[2020-01-21 18:17] umairidris opened #5454 "Expose service_account field in data fusion instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-21 18:23] edwardmedia commented on #5438
@Arconapalus  could you post your full debug log here? Thanks

[2020-01-21 18:37] c2thorn commented on #5451
This was due to a change I made, didn't notice there was a beta-only failure.

[2020-01-21 18:55] slevenick commented on #5428
This is a tricky one. The ordering of disks in the Terraform instance_template resource expects the boot disk to be the first specified disk. There is actually an API-level restriction that enforces this. We could potentially re-order the disks from the Terraform config to pass the boot disk first, and then re-order from the response to prevent diffs, but this is tricky.

I'll add an error for if

[2020-01-21 18:56] emilymye commented on #5448
This is an upstream issue with Cloud Functions (b/147393131)

[2020-01-21 18:58] emilymye commented on #5450
Closing as duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/5449

[2020-01-21 18:58] #5450 closed

[2020-01-21 19:28] #5451 closed

[2020-01-21 19:33] chrisst commented on #5447
Closing as duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/4130

[2020-01-21 19:33] #5447 closed

[2020-01-21 20:36] chrisst opened #5457 "Manage multiple examples better in the documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest