[2022-11-16 22:09] c2thorn commented on #13051
`v4.43.1` for the `google` provider has been released. I've confirmed in my previous reproduction of the crash that upgrading to `v4.43.1` no longer produces the crash.

`google-beta` to follow soon.

[2022-11-16 22:13] c2thorn commented on #12974
Hey folks,
If you are seeing
[code]
in your crash log, your issue likely was https://github.com/hashicorp/terraform-provider-google/issues/13051

upgrading to `v4.43.1` should resolve for that.

[2022-11-16 22:14] mgoodness commented on #9505
I don't think this is fixed. I've built the provider with #13024 and am trying to provision an Autopilot cluster. We'd previously deleted the default GCE SA from the project entirely, and get

[2022-11-16 22:14] rileykarson commented on #11408
Ideally we'd have omitted the Cloud Source Repositories related fields and added them in later, in order to avoid confusion! Normally we'd consider deprecation for fields that don't currently work, but it sounds like these will start working the future- we could consider amending the docs to state that the feature is currently unavailalable.

[2022-11-16 22:55] pwmb commented on #11388
I am using this version and still the service account is not getting set

[code]

[code]

Instead the function uses the usual `Compute Engine Default Service Account`

[2022-11-16 23:06] #13038 closed

[2022-11-16 23:33] shuyama1 commented on #9505
Hey @mgoodness! Would you mind providing the terraform config so that we reproduce the error and also the debug log so that we can take a look?

[2022-11-16 23:39] Jahadul-Rakib commented on #13052
Ok. Thanks @edwardmedia for your response.

[2022-11-17 01:38] voycey commented on #5698
This is absolutely required from an automation stand point and I am actually incredulous that this isn't standard in the provider or that the APIs aren't set up in such a way at GCP.

The above module doesn't work (at least not with latest versions of Terraform) and there is no documentation - please get this supported in the provider asap

[2022-11-17 05:01] k-ezis commented on #11408
The end-points are (partially) implemented from an API perspective, which is why it was written into the configuration. I'd be good with commenting that functionality out if we think that would clarify this issue. We are doing 2023 planning currently, so the roadmap towards this feature is uncertain at the moment.

[2022-11-17 05:05] adiii717 commented on #12564
same issue here
[code]
I have to removed the `%` from the  user creation module, the `depends_on` did not help either

[code]

[2022-11-17 08:01] meniluca commented on #13051
I can also confirm, the issue is gone. Thanks!

[2022-11-17 09:32] drandell opened #13060 "Spanner IAM Conditions on Instance / Database"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-17 10:30] nkukka opened #13061 "Terraform import error: no schema available for google_logging_log_sink"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-17 12:31] cg547 opened #13062 "google_compute_per_instance_config/google_compute_region_per_instance_config sends the wrong argument"
The value set in the `most_disruptive_allowed_action` argument in the `google_compute_per_instance_config` / `google_compute_region_per_instance_config` resources is sent to the API in the `mostDisruptiveActionAllowed` JSON field, but [the API](https://cloud.google.com/compute/docs/reference/rest/v1/instanceGroupManagers/applyUpdatesToInstances) uses the `mostDisruptiveAllowedAction` field.

This

[2022-11-17 14:54] edwardmedia commented on #13061
@nkukka which resource do you want to import? `google_compute_instance`, `google_logging_log_sink`? Can you share your config used for your import?

[2022-11-17 16:27] aleks-m commented on #13039
@edwardmedia ok, it looks better now after I changed it to
[code]

But now I have another issue - now it doesn't accept network name.
If I just use a network name (just "nuorder-monitoring-network" string):
[code]

If I use `network.id` from a `data.google_compute_network` like:
[code]

[code]

So why is it expecting `projects/${PROJECT_NUMBER}/locations/${LOCATION}/networks` vs `projects/nuorder-

[2022-11-17 16:42] cizara commented on #10066
Hi @ScottSuarez, I'm facing the same issue. The project where I want to create the `google_service_network_connection` was created with the [project factory](terraform-google-modules/project-factory/google) module (version `11.3.0`). The Terraform Seed project, and the service account that Terraform use, were created with the [helper script](https://github.com/terraform-google-modules/terraform-go

[2022-11-17 16:48] courtsimas commented on #13061
Same issue.

[2022-11-17 17:23] jsilva commented on #11743
Is there any news on this feature reaching terraform please ?

[2022-11-17 17:51] mgoodness commented on #9505
Sure thing! Let me know if there's anything else I can try/share.

[Archive.zip](https://github.com/hashicorp/terraform-provider-google/files/10034268/Archive.zip)

[2022-11-17 17:53] c2thorn commented on #13050
Hi folks, apologies for your experience with this crash.
It seems somewhere we are expecting a value to be an Integer, but didn't expect the value to go above the maximum for the type.

I cannot determine which field is returning the out of range value from the crash log. Does anyone have a sanitized [DEBUG log](https://developer.hashicorp.com/terraform/internals/debugging) of this scenario that w

[2022-11-17 17:54] JeremyOT commented on #9505
Thanks @mgoodness  - looking into this, I don't think it's related to the TF implementation. There may be a dependency issue at initialization. If the default SA exists, you should still see your workloads scheduled on nodes using your provided SA but we may still be looking for the default anyway.

[2022-11-17 18:36] melinath commented on #13023
Looking into this - it seems to be an ordering issue of some kind. In CI, the test does actions in the following order:

1. PATCH dataset to remove references to routine (this is from dataset access deletion)
2. DELETE routine
3. PUT dataset to update it (unclear to me why this request is being issued.) This uses access state (which is now stale after the PATCH) that includes a reference to the ro

[2022-11-17 18:51] ScottSuarez commented on #10066
@cizara, could you share the terraform configuration you are importing the module with? Are you defining the blocks I recommended in [this comment](http://go/magician-breaking-change) in your root module?

The link to the module seems to be broken, do you have another link?

[2022-11-17 19:14] mgoodness commented on #9505
@JeremyOT So more of a GCP API issue? Worth opening a ticket with them...somewhere?

I should note that we are able to provision non-Autopilot clusters using (essentially) the same TF config, even with the missing default SA. Seems to only be an issue with AP.

[2022-11-17 19:59] courtsimas commented on #13061
the .tf file in question:
[code]

running `terraform import module.terraform-<project number-Project-LoggingLogSink.google_logging_log_sink.a_required <project number>###_Required` spits out:

`│ Error: unknown resource type: google_logging_log_sink`

If we run the main project import command which is one line up in the script file, it's `terraform import module.terraform-<id>-Project.google_proje

[2022-11-17 20:08] sakuya9t opened #13064 "google_container_node_pool: enabling resource labels"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-17 20:09] sakuya9t commented on #13064
Created pull request [here](https://github.com/GoogleCloudPlatform/magic-modules/pull/6842)

[2022-11-17 20:21] #12711 closed

[2022-11-17 21:09] #13062 closed

[2022-11-17 22:23] joeysilva-g opened #13068 "Error running tf destroy when google_sql_database was already deleted out of band"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-17 22:55] #12870 closed

[2022-11-17 23:17] #12850 closed

[2022-11-17 23:21] edwardmedia commented on #13061
@courtsimas @nkukka can you provide the link to the document of `google_logging_log_sink`?

[2022-11-18 03:35] davidchua opened #13071 "resource google_compute_network id attributes does not return in documented format"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-18 04:32] anoojnairp commented on #13050
Hi Cameron, thanks for responding. My other colleagues were able to apply terraform from the same folder, and so I reinstalled my terraform by using chocolatey and it fixed the issue.  Thanks again.

[2022-11-18 04:32] #13050 closed

[2022-11-18 06:58] brano-nmh commented on #13051
Thanks, the upgrade to 4.43.1 fixed the problem!

[2022-11-18 08:05] nkukka commented on #13061
This is generated by gcp bulk-export
[code]
There however are no docs for these types of resources online, and the error applies to all of my GCP resources I try to import from the same project, for example the following compute instance:

[code]

All in all, doesn't `terraform import` just write things to state that it reads from the cloud provider API? The configs or the lack thereof shouldn't m

[2022-11-18 09:54] cizara commented on #10066
I have a project factory module in my project (to set some defaults) with this configuration:
[code]
and then, in each project I call it like this:
[code]
it is very similar to this [example](https://github.com/terraform-google-modules/terraform-google-project-factory/blob/v11.3.1/examples/simple_project/main.tf) and the link to the module is [this](https://github.com/terraform-google-modules/terr

[2022-11-18 10:42] MarcoCQin opened #13072 "Vertex AI Endpoint deploy failure"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-18 14:08] carlyeks opened #13073 "`network_services`: Add support for enhanced origin resolution"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-18 14:21] lewis-strong opened #13074 "Apigee X Target Server & KVM Resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-18 14:27] tpdownes opened #13075 "Filestore should fail fast when storage quota is struck"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-18 14:29] edwardmedia commented on #13061
@nkukka sorry I am still not clear which provider supports `google_logging_log_sink`. Without the document, I am not sure how I can help.

[2022-11-18 14:33] nkukka commented on #13061
@edwardmedia shouldn't google or at least google-beta support it?

It seems to be an integral part of GCP, to the extent where `terraform import` tries to import such resources as direct child/sibling resources for the bread and butter google_compute_instance.

[2022-11-18 14:33] BolajiAkerele2013 opened #13076 "Service Directory Endpoint's Network Defaulting to Global"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-18 14:43] nkukka commented on #13061
To reiterate, the problem is that the GCP API seems to be telling terraform that "okay you need this type of a resource which you should know how to handle" and the provider then tells terraform that it doesn't understand what that resource is.

[2022-11-18 14:48] edwardmedia commented on #13061
@nkukka by this moment, I don't think google and google-beta support it. What endpoint of GCP API? How did you get `okay you need this type of a resource which you should know how to handle`? Can you share any related document.

google_logging_organization_sink
google_logging_folder_sink
google_logging_project_sink
google_logging_billing_account_sink
google_logging_log_view

Above are the resource

[2022-11-18 14:50] tpdownes commented on #13075
It does eventually report something accurate:

[code]

[2022-11-18 14:52] kevinsi4508 commented on #13045
Do we have an example of a configurable time for a resource?

[2022-11-18 14:53] nkukka commented on #13061
@edwardmedia whichever api endpoint is used by terraform to do operations to perform CRUD on GCP resources, I don't know.

The part you quoted on me was not explicit terraform output, but only me putting the case into laymens terms.

I do not have a document for the said resource, the only way I have come across it, is the error message regarding not having a schema for it, printed out by the terr

[2022-11-18 15:33] edwardmedia commented on #13072
closing as dup of https://github.com/hashicorp/terraform-provider-google/issues/12944

[2022-11-18 15:33] #13072 closed

[2022-11-18 15:54] tpdownes commented on #13075
I have confirmed that a similar error (`PremiumStorageGbPerRegion`) is triggered quickly when one provisions a BASIC_SSD tier filestore instance above the default quota (which is more than 0 but not infinite)

[2022-11-18 16:18] #12123 closed

[2022-11-18 16:30] melinath commented on #13045
Here's an example of a resource that had a configurable timeout that didn't actually do anything: https://github.com/GoogleCloudPlatform/magic-modules/pull/2001

[2022-11-18 16:45] #6628 closed

[2022-11-18 16:45] melinath commented on #6628
Closing the issue - if there are additional similar issues please open a new ticket.

[2022-11-18 18:19] #12520 closed

[2022-11-18 19:17] edwardmedia commented on #13076
@BolajiAkerele2013 I think below setting is invalid based on the api [doc](https://cloud.google.com/service-directory/docs/reference/rest/v1beta1/projects.locations.namespaces.services.endpoints)

[code]

`network | stringImmutable. The Google Compute Engine network (VPC) of the endpoint in the format projects/<project number>/locations/global/networks/*.`

[2022-11-18 19:24] edwardmedia commented on #13071
@davidchua Can you share your debug log by running your below code?

[code]

[2022-11-18 19:30] edwardmedia commented on #13052
@Jahadul-Rakib closing this issue now. Feel free if you see we can help at the provider level

[2022-11-18 19:30] #13052 closed

[2022-11-18 19:37] #12805 closed

[2022-11-18 20:26] markeverettbeck opened #13085 "Google Router Nat Subnet Attachment Resource"
Issue: I am creating a new subnet for the vpc access connector, but there is no resource to simply add the subnet to the nat router when "LIST_OF_SUBNETWORKS" is used.

The Ask: Create a new resource to attach subnets to router nat.

[2022-11-18 21:42] melinath opened #13087 "Failing test(s): IAP generated tests"
The following IAP generated tests were added (but didn't get generated at the time due to an issue resolved in https://github.com/GoogleCloudPlatform/magic-modules/pull/6848) and do not pass. We should fix them.

- TestAccIapWebTypeCompute_iapProjectExample
- TestAccIapWebTypeAppEngine_iapAppengineExample
- TestAccIapWeb_iapProjectExample
- TestAccIapWebBackendService_backendServiceBasicExample
-

[2022-11-18 21:47] melinath opened #13088 "Failing test(s): ServiceManagementService generated tests"
### Affected Resource(s)

* google_endpoints_service
* google_endpoints_service_iam_binding

The following ServiceManagementService generated tests were added (but didn't get generated at the time due to https://github.com/hashicorp/terraform-provider-google/issues/13138) and do not pass. We should fix them or determine they are not needed.

- TestAccServiceManagementService_endpointsIamExample
-

[2022-11-19 02:57] charims commented on #10622
This is affecting us as well, can I just override default_ttl with "null" so I can force it not to set the value? As of now, it still tries to set 0 even when I set it to null.

[2022-11-19 04:25] davidchua commented on #13071
@edwardmedia

With that code snippet, I do get the expected id structure.

[code]

But strangely it doesn't when used in a module.
[code]

[code]

[code]

[2022-11-19 16:26] sharkymcdongles commented on #11408
It is pretty sad this wasn't documented because I just rewrote my module to use this after the archive way of handling it failed to work idempotently. I guess API in this case stands for Absolutely Positively Inoperable. :p

Hope it is added soon since it would be a much cleaner solution than a zip file in a  bucket.

[2022-11-19 16:36] sosimon commented on #12804
@prauc I'm not sure that's true, we ran into this bug with only locals and vars.

[2022-11-19 18:49] edwardmedia commented on #13054
@laksh-bhat I do see `force` is available in below api but I am not sure if that should be implemented in the Terraform. 1) For use case, how do you manage those child routes? If they are created via Terraform, you better continue let Terraform to manage deletion. 2) Implementing `force` seems against the pattern, as Terraform is more declarative.

https://cloud.google.com/datastream/docs/referenc

[2022-11-19 18:53] edwardmedia commented on #13085
@markeverettbeck have you had chance to review the example [here](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/vpc_access_connector#example-usage---vpc-access-connector-shared-vpc) to see if that can address your question?

[2022-11-19 19:03] edwardmedia commented on #12895
@densnoigaskogen do you know what algorithm the key is used? [KEY_ALG_RSA_2048](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_service_account_key#key_algorithm) is the default. If yours is different, you need to provide yours. Let me know if that helps

[code]

[2022-11-19 19:06] edwardmedia commented on #12989
@bourdeau glad you have solved the problem. Thanks for the confirmation. Closing this now

[2022-11-19 19:06] #12989 closed

[2022-11-19 19:23] edwardmedia commented on #13033
@sreenivas-ps let's halt adding sleep logic. I reviewed your debug log again, and did not find below `backendServices` being created. Is it supposed to be created by the code [here](https://github.com/hashicorp/terraform-provider-google/issues/13033#issue-1448613815)? You said it is already created? Can you share the result by running `terraform show`?

projects/data-mdm-sandbox/global/backendServ

[2022-11-19 19:32] edwardmedia commented on #13039
@aleks-m you can reference its id [here](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_network#import). I think below is the proper format

[code]

[2022-11-21 02:14] davidchua commented on #13071
thanks @edwardmedia!

After more investigation it seems like when I replace the module's output `network_id` with something else, the id appears as expected.

[2022-11-21 08:57] nkukka commented on #13061
I am now unable to reproduce this problem. The provider and terraform versions are the same as before.

Maybe GCP fixed something on their end?

[2022-11-21 09:11] aleks-m commented on #13039
@edwardmedia but I've already tried to do so and it doesn't work:

[code]

[code]

So in network id I have `projects/nuorder-monitoring/global/networks/` but Service Directory endpoint wants `projects/${PROJECT_NUMBER}/locations/${LOCATION}/networks` and I have no idea why...

[2022-11-21 09:12] McFacePunch commented on #12739
hey coming back to this, was out for a while. It is indeed still an issue so going back pulling something for you to test

[2022-11-21 09:38] sreenivas-ps commented on #13033
@edwardmedia : I said the resource `google_compute_security_policy` (cloud armor policy) was already created and the `google_compute_backend_service` uses it. Yes, the backend service should be created as I mentioned the resource here [here](https://github.com/hashicorp/terraform-provider-google/issues/13033#issue-1448613815)

[2022-11-21 10:45] LucaPrete commented on #12765
Hello @ghabian

Are you already working on this? I'm planning to commit the resource as well but I don't want to step on your feet :)
Please, let me know if I can help, or if I can take over the task.

[2022-11-21 13:17] cherusk opened #13090 "google_certificate_manager_certificate - introduce locality argument"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-21 14:17] Thomasdezeeuw commented on #12532
Not sure if this is the correct place to report bugs or if I should open a new issue instead. I noticed that `startup_probe` is not removed (properly) once added. Steps to reproduces:
1. Create a Cloud Run service with `startup_probe` (plan & apply).
2. Remove the `startup_probe` config.
3. Run `terraform apply` and you'll notice that it doesn't actually remove the `startup_probe` related configur

[2022-11-21 14:39] ghabian commented on #12765
Hi Luca, it's already committed just waiting on the team to release the changes. (looking at the changelog it might make it into v4.40 tomorrow)

[2022-11-21 15:33] edwardmedia commented on #13061
@nkukka not sure what went wrong. Closing this issue now. Feel free to reopen if this comes back. Thanks

[2022-11-21 15:33] #13061 closed

[2022-11-21 15:44] BolajiAkerele2013 commented on #13076
Thanks for the noted @edwardmedia. This addresses the problem.
Since the VPC network is  global resource, the location should be global.

[2022-11-21 15:44] #13076 closed

[2022-11-21 16:15] paper-michael opened #13091 "Terraform script failing when removing ability to act as root inside of image being provisioned"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-21 17:31] edwardmedia commented on #13091
@edwardmedia it is hard to guess without the details. I am not sure what you mean below? Can you share the debug log what contains the related api requests and responses? Also please share your config

[code]

[2022-11-21 17:50] tgoodsell-tempus commented on #12857
@edwardmedia Mind re-opening this issue? This is still a problem and I've collected some data to help demonstrate.

[2022-11-21 17:52] tgoodsell-tempus commented on #12857
When setting the BGP peers with a configuration like:
[code]

[2022-11-21 17:52] tgoodsell-tempus commented on #12857
We get an API response from the BGP peer setup of:
[code]

[2022-11-21 17:58] tgoodsell-tempus commented on #12857
When we `refresh` / `plan`, the API response for the router interfaces get is the same thing now of:
[code]

Therefore, it detects the drift and wants to do a re-create:
[code]

[2022-11-21 18:10] paper-michael commented on #13091
This is the change in our dockerfile that was added. It's a laravel app
[code]

[2022-11-21 19:57] #12876 closed

[2022-11-21 21:18] sh4sh opened #13094 "Add TCP TIME_WAIT to google_compute_router_nat"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-21 22:41] yanweiguo commented on #12532
It's intended behavior as the result of that this field is optional and it has a default value. You can't actually get rid of startup probe.

Before Cloud Run supports a customized startup probe, it always applies a TCP health check for a Cloud Run service deployment although it is not reflected in the API. Cloud Run will capture this default TCP startup probe in the API soon.

[2022-11-21 22:59] davorceman opened #13095 "google_dataproc_job - How to define "id" or "name"?"
If I create job via GCP console, I can define job id I want.
But I don't see how to set it via terraform.
Am I missing something?

[2022-11-21 23:15] melinath opened #13096 "Separate reviewer assignment from generate-diffs"
Currently if generate-diffs doesn't run (for example because the PR doesn't change anything in mmv1 or tpgtools) we don't assign a reviewer. Reviewer assignment should be separate from diff generation.

[2022-11-21 23:33] aebrahim opened #13097 "Panic in terraform-provider-google_v4.44.0_x5 plugin"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-22 06:35] entertvl opened #13099 "Error when applying retention policy in Apigee X Organization"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-22 09:20] tguvdamm opened #13100 "google_cloud_run_service_iam_member required location argument not enforced"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-22 10:06] jacek-jablonski commented on #11346
Also affected by this bug.

[2022-11-22 11:04] Thomasdezeeuw commented on #12532
I didn't know about this. Is this something worth calling out explicitly in the documentation? I found it a rather annoying gotcha when debugging a startup probe issue.

[2022-11-22 11:49] tuukkalahti opened #13101 "Binary authorization policy - add support for namespace rules"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-22 15:54] edwardmedia commented on #13100
@tguvdamm do you have the environment variable `region` setup locally? `location` is required but it does look for that variable if you do not have it in the config. This is common for most of TPG resources. Does this make sense?

[2022-11-22 16:35] rlapin-pl opened #13102 "Add Terraform support for Cloud Composer's Airflow triggerer beta"
Community Note
Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
If you are interested in worki

[2022-11-22 17:02] rjouhann opened #13103 "Add md5_authentication_key in google_compute_router"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-22 18:02] #13064 closed

[2022-11-22 18:42] edwardmedia commented on #13091
@paper-michael I am not sure how I can help here.  Were you able to deploy before the change? It looks like the issue happens after you modified the permissions. From the provider's perspective, as long as the terraform runner has right permissions, it should work. Your log reveals little about the error that is directly related to the provider.

[2022-11-22 18:59] edwardmedia commented on #13100
@tguvdamm there is a logic built [here](https://github.com/hashicorp/terraform-provider-google/blob/main/google/regional_utils.go#L14) for the location. Most resources are not global thus location/region/zone is required. To make config easier, the defaults are provided via different methods.

You have provided `location` in the locals, but I don't see it is used in below code.

[code]
Does this m

[2022-11-22 19:19] edwardmedia commented on #13095
@davorceman is this field you are looking for?

[name](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/dataflow_job#name) - (Required) A unique name for the resource, required by Dataflow.

[2022-11-22 19:27] #11287 closed

[2022-11-22 21:27] #12968 closed

[2022-11-22 22:05] #13097 closed

[2022-11-22 22:06] slevenick commented on #13097
I'll be releasing 4.44.1 today if everything goes according to plan to fix this issue

[2022-11-22 22:16] kevinsi4508 commented on #5069
Sure, I can verify that. It should be a generic thing, but something we did specifically for Cloud Bigtable.

[2022-11-22 23:04] mihok opened #13110 "google_container_cluster says 172 based cluster_ipv4_cidr is invalid."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-22 23:42] #12730 closed

[2022-11-23 00:30] rileykarson commented on #2076
I'm definitely not experienced with Beam or Dataflow, so it's very possible I'm getting this wrong. AIUI this isn't a request for launch/create w/ [cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.locations.templates](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.locations.templates), but is actually a request to stage the files required to run those commands in a

[2022-11-23 07:36] tguvdamm commented on #13100
@edwardmedia
Indeed it's not used in the code snippet. I also see in the logic that indeed the zone is used, thanks for that pointer.

However, wouldn't you want the region rather than the zone to fallback to? Using the provider zone here breaks the config, while using the provider region results in what I expected to happen: the location (=similar to region) is inferred from the provider region,

[2022-11-23 10:43] rlapin-pl commented on #13102
I wish to work on this item.

[2022-11-23 12:12] renzepost opened #13112 "google_storage_transfer_job: Add support for S3-compatible source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-23 12:12] drandell commented on #11711
Still seeing this issue occurring in our business and having to explain to users to-do state imports or requiring manual intervention by admins is frustrating. Can we get an update on this?

[2022-11-23 12:51] edwardmedia commented on #13110
@mihok can you share the debug log that contains api requests & responses?

[2022-11-23 13:03] #13100 closed

[2022-11-23 13:38] mihok commented on #13110
@edwardmedia sorry for being naive, I ran the command with `TF_LOG=DEBUG` how do I get the api request & responses?

[2022-11-23 13:51] kevinsi4508 commented on #5069
Confirmed:

Case#1 without ignore warning

  + resource "google_bigtable_app_profile" "ap1" {
      + app_profile_id  = "tf-profile-single"
      + id              = (known after apply)
      + ignore_warnings = false
      + instance        = "tf-instance"
      + name            = (known after apply)
      + project         = (known after apply)

      + single_cluster_routing {
          + allo

[2022-11-23 15:20] imrannayer opened #13113 "google_alloydb_instance updates display_name, id and name on every execution"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-23 15:29] italogar6 opened #13114 "google_cloudfunctions2_function: Documentation update"
There is no documentation about how to get the "google_cloudfunctions2_function" HTTP trigger URL.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudfunctions2_function#attributes-reference

You can find how to get it in the example "Example Usage - Cloudfunctions2 Basic"

`
output "function_uri" {
  value = google_cloudfunctions2_function.function.service_config

[2022-11-23 15:54] imrannayer opened #13115 "google_alloydb_instance is dropping and recreating instance when machine_config.cpu_count value changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-23 16:49] CMDennis opened #13116 "google_cloud_storage dual region buckets are not properly located in TF statefile."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-23 17:19] Tringy commented on #10431
I also encountered this issue when applying a tag to a resource that already exists in the DataCatalog. The `terraform plan` went well, but when applying it, only a few features were created and the others failed.

resource I tried to create and there was an error applying:
[code]

`terraform apply` errors output for resource:
[code]

As I said earlier, only a few features were properly provisione

[2022-11-23 17:28] slevenick commented on #13034
Do you have the HTTP request/responses from using Terraform to fetch this resource? I wonder how we are using the project in the request

[2022-11-23 21:17] edwardmedia commented on #13116
@CMDennis when you send the api with `location = "US-EAST4+US-CENTRAL1"`, the api treats it as `US`, and populates data in the field `custom_placement_config`. This is all done at the API and there is little we can do at the provider level. For the specific multiple regions, can you use below config instead?

[code]

[2022-11-23 22:01] laksh-bhat commented on #13054
I understand this may seem like an anti-pattern for terraform but the `private connections` API doesn't allow us to manage the routes explicitly (you set a subnet and private VPC through a peering config).
[code]
The routes created by this, hence, aren't in terraform state. I strongly urge you to reconsider this decision to not implement the `force` flag. Without this flag, the resource is pretty

[2022-11-23 22:24] edwardmedia commented on #13113
api doesn't include [display_name](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/alloydb_instance#display_name) in its response

[2022-11-24 00:29] edwardmedia commented on #13110
@mihok you are on the track. Just share the output of `tf apply` when you have `TF_LOG=DEBUG`.

[code]

[2022-11-24 12:20] AlfatahB commented on #12927
[google_access_context_manager_service_perimeter](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/access_context_manager_service_perimeter) has `ingress_policies` and `egress_policies` fields. I was able to find gcloud commands for [setting/updating ingress and egress policies for a service perimeter](https://cloud.google.com/vpc-service-controls/docs/configuring-ing

[2022-11-24 14:45] CMDennis commented on #13116
Ahh that resolves it....very strange that the API just quietly treats that location as "US" without throwing an error.

[2022-11-24 15:23] edwardmedia commented on #13116
@CMDennis that is all done at the api. Glad the suggestion works for you. Closing this now

[2022-11-24 15:23] #13116 closed

[2022-11-24 16:09] mihok commented on #13110
@edwardmedia https://gist.github.com/mihok/367f41af6cabdd9c85509b81d67a5d16

[2022-11-24 16:54] slevenick commented on #13087
I don't believe these are actual tests that should be run. They were only added to test the IAM resources, there is no real IAP resource to test here

[2022-11-24 17:02] edwardmedia commented on #13099
@entertvl are you able to enable TF_LOG=DEBUG and then share the debug log?

I am having trouble repro the issue

b/260337744

[2022-11-24 17:36] franviera92 commented on #10431
i have same problem

`resource "google_data_catalog_tag" "CORP_TBL_CORP_CREDITS_ARRAGMENTS_CRD_ENV_CORP" {
  template = format("projects/%s/locations/us/tagTemplates/table_template_data_governance_unicomer", local.central_command_project)
    parent          = format("projects/%s/locations/us/entryGroups/@bigquery/entries/%s", var.project_id,
      trim(
          base64encode(
            format(

[2022-11-24 18:19] stenalpjolly commented on #4696
@paddycarver @danawillow @aclowkey
I believe https://github.com/GoogleCloudPlatform/magic-modules/pull/3799 has already added support for source_snapshot and source_image

If nothing is missing, Can we please close the ticket?

[2022-11-24 22:07] edwardmedia commented on #13110
@mihok You might want to check [RFC1918-compliant CIDR](https://netbeez.net/blog/rfc1918/) to see if yours are compliant? Are you using cdk?  From the log you provided, I don't see any api calls invoked.

[code]

[2022-11-24 23:15] edwardmedia commented on #13033
@sreenivas-ps can you confirm `google_compute_backend_service` was created and the `security_policy` was successfully attached even you see this error at the end?

[2022-11-24 23:37] edwardmedia commented on #13039
@aleks-m I have reviewed the [api doc](https://cloud.google.com/service-directory/docs/reference/rest/v1beta1/projects.locations.namespaces.services.endpoints), it looks like you do have to provide `project_number` instead of `project_id`. This is required by api and there is little we can do at the provider level.

[code]

You may want to file an issue against the api. Let me know if the api sugg

[2022-11-25 04:59] stenalpjolly commented on #11241
I believe the data source is available now, https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/cloudfunctions2_function

Merged as part of https://github.com/GoogleCloudPlatform/magic-modules/pull/6523

[2022-11-25 06:47] tclift commented on #10095
I like the idea of the revision and traffic resources.

Regarding the service resource, I wish it didn't create revisions at all. Ideally, this would allow us to define base "template" parameters via Terraform, like service name, location, service account, scaling parameters, ports, and common environment variables. Updating this resource would not affect any revisions.

The revision resource woul

[2022-11-25 10:23] aleks-m commented on #13039
@edwardmedia I tried this:
[code]

[code]

And now it just returns "precontidion failed" without any explanation:
[code]

[2022-11-25 12:17] sreenivas-ps commented on #13033
@edwardmedia I didn't check the backend service if the `security_policy` was applied when this error occurred. I will have to create this issue and then check it.

[2022-11-25 13:42] shotarok commented on #9298
https://github.com/GoogleCloudPlatform/magic-modules/pull/6759 added `google_vertex_ai_tensorboard`.

[2022-11-25 13:45] jamiet-msm commented on #12278
This is tricky because its the underlying API that (IMO) is at fault here. Nevertheless, it would be handy if the TF provider could mitigate this.

We first mitigated this by putting a big warning at the top of any TF files that manipulate BigQuery dataset IAM:

[code]

This obviously isn't failsafe though so we now have a check in our CI pipeline that greps the codebase and throws an error if it

[2022-11-25 14:21] kev-in047 commented on #9505
@johanneswuerbach I'm getting the same error you're with a similar config. Did you manage to find a fix?

[2022-11-25 14:34] johanneswuerbach commented on #9505
Sadly not, I think this needs to be reopened @shuyama1

[2022-11-25 16:16] JeremyOT commented on #9505
This appears to be a server-side issue. The TF config passes the correct parameters to the backend, but the initial nodes created at bootstrapping still use the default SA. New nodes created as workloads are added do use the supplied SA, but this is preventing proper startup when the default SA is deleted. A fix is in progress.

[2022-11-25 16:21] edwardmedia commented on #13085
@markeverettbeck is this still an question?

[2022-11-25 16:28] edwardmedia commented on #12839
@chase-replicated  Closing this assuming it is no longer an issue. Feel free to reopen if this is not the case

[2022-11-25 16:28] #12839 closed

[2022-11-25 16:32] edwardmedia commented on #13035
@codeangler is this still an issue?

[2022-11-25 16:44] edwardmedia commented on #13039
@aleks-m hmm that is interesting. I agreed the error message isn't very clear. All I knew is it is from the API. Are you able to run the [example](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/service_directory_endpoint#example-usage---service-directory-endpoint-with-network)?

[2022-11-26 00:07] tuunit opened #13117 "google_container_cluster add support for selecting gateway api channel when creating or updating a GKE cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-26 00:23] tuunit commented on #13117
I already implemented a solution and I'm currently running the test suite and will raise a PR in the magic-modules repository shortly.

[2022-11-26 01:51] tuunit commented on #13117
Resolved in: https://github.com/GoogleCloudPlatform/magic-modules/pull/6875

[2022-11-26 16:05] edwardmedia commented on #12384
@hrchu I don't believe it is available yet. Not sure if Terraform is a right tool to build that. You may file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=01_enhancement.md) to request. Closing the question now

[2022-11-26 16:05] #12384 closed

[2022-11-27 02:18] RezaRahmati opened #13118 "Please support adding "principals" to "resource_bigquery_datapolicy_data_policy""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-27 18:18] galkin opened #13119 "Bug with imported google_firebase_apple_app. deletion_policy is null"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-27 21:19] joeheaton commented on #12584
Getting the same when setting `linux_node_config.sysctls` in `google_container_node_pool`.

[code]

[2022-11-28 02:58] saulortega opened #13120 "authentication on import google_firebaserules_ruleset"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-28 11:52] mgorsk1 opened #13121 "google_cloudfunctions2_function fails to deploy (error waiting for creating function, container healthcheck failed)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-28 11:57] headincl0ud opened #13122 "cloudfunctions.allowedVpcConnectorEgressSettings Error: googleapi: Error 400"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-28 15:41] jlpettersson opened #13123 "google_sql_user resources cannot be used when the google_sql_database_instance is stopped"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-28 17:30] marcusricardoaguiar opened #13125 "Add resources google_workflows_workflow_iam_*"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-28 17:50] hao-nan-li commented on #12906
b/260590932

[2022-11-28 18:06] mgorsk1 commented on #13121
I think I found an issue, it's with `environment_variables` section, I changed this notation:

[code]

to this:

[code]

and it worked. I am not sure what was the issue - name of the env variable or the notation I used (my suspicion is it's the former one).

Assuming it's expected behavior I can close this issue. If not, I can reopen dedicated one @edwardmedia

[2022-11-28 19:41] pbecotte opened #13127 "Still Missing confidential VM configuration for google_container_node_pool"
### Affected Resource(s)

* google_container_node_pool

https://github.com/hashicorp/terraform-provider-google/issues/10236

This field is required for google_container_node_pool as well as the cluster

[2022-11-28 20:41] edwardmedia commented on #13123
@jlpettersson what detailed error did you get? Can you share the debug log? I guess it is the API that refuses to serve based on the Error 400. If so, there is no much we can do at the provider level

[2022-11-28 20:49] edwardmedia commented on #13122
@edwardmedia the api complains `VPC_CONNECTOR_EGRESS_SETTINGS_UNSPECIFIED`. Where did you find this value?

[code]

[2022-11-28 20:55] melinath commented on #13087
makes sense, closing this issue.

[2022-11-28 20:55] #13087 closed

[2022-11-28 21:01] edwardmedia commented on #13121
@mgorsk1 yeah I am glad you found how to fix it. I guess this is an issue more toward the Terraform core/sdk. Closing this now. Feel free to reopen if you want to continue the conversation

[2022-11-28 21:01] #13121 closed

[2022-11-28 21:24] mgorsk1 commented on #13121
Thanks @edwardmedia. I am not 100% sure on how to establish whether this is core/provider issue but I am now 100% sure the problem was with `DRY_RUN` key present inside `environment_variables` section. I deployed my stack multiple times now, including it and removing and every time it's there it's causing this problem (once removed/renamed the issue is gone). So I am for reopening it and I extende

[2022-11-28 21:56] edwardmedia commented on #13120
@saulortega can you share the debug log?

[2022-11-28 22:24] sorenhansendk commented on #12832
@AkselAllas

You can enable HTTP/2 end-to-end on your port configuration.

<pre>
# Enable HTTP/2
# https://cloud.google.com/run/docs/configuring/http2
ports {
  name           = "h2c"
  container_port = 8080
}
</pre>

Reference: https://cloud.google.com/run/docs/configuring/http2#terraform

[2022-11-28 22:36] #12836 closed

[2022-11-28 23:55] #12832 closed

[2022-11-29 00:15] danawillow commented on #4696
@megan07 @slevenick can you help?

[2022-11-29 00:18] slevenick commented on #4696
Yep, looks like this was done via https://github.com/GoogleCloudPlatform/magic-modules/pull/3799

[2022-11-29 00:18] #4696 closed

[2022-11-29 00:19] #13113 closed

[2022-11-29 00:42] saulortega commented on #13120
I'm the owner/administrator of this account. I created the project with this account. This is the only account I use, there is no chance I'm using the wrong account. I reathenticated after updating terraform and google provider. The issue is the same before and after updating terraform and Google provider (I updated to see if the issue was solved in newer version). The ruleset is working in my pro

[2022-11-29 00:56] ScottSuarez commented on #10431
I'll peak around a little bit this week

[2022-11-29 01:05] #9068 closed

[2022-11-29 11:17] stefluhh opened #13131 "Googlemail is resolved to gmail, failing terraform expectation (IAM)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-29 14:16] edwardmedia commented on #13131
@stefano-lucka interesting. I would agree with your below expectation, but that is all done at the API. There is little we can do at the provider level. Can you share your debug log?

[code]

[2022-11-29 16:51] xkobal commented on #12944
HI @edwardmedia , I have the same problem, I'm unable to create an endpoint in a different region from the ressource one.
Bug I need to create and endpoint in `europe-west4` and I have the error `"The provided location ID doesn't match the endpoint. The valid location ID is europe-west1"` which is my default region for my project.

How can I fix this ?

[2022-11-29 17:19] #11241 closed

[2022-11-29 18:57] edwardmedia commented on #13120
@saulortega is below account the owner of the project?

sssssssssssss@gmail.com

[2022-11-29 19:40] #12525 closed

[2022-11-29 19:42] #6992 closed

[2022-11-29 21:28] melinath opened #13138 "Allow sample tests for handwritten resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-29 21:39] LucaPrete opened #13139 "Add support for logging bucket to google_logging_metric"
### Description

Add support for [bucket_name argument](https://cloud.google.com/logging/docs/reference/v2/rest/v2/projects.metrics#LogMetric) in google_logging_metric

### New or Affected Resource(s)

* google_logging_metric

### Potential Terraform Configuration

* modify product/logging/api to support the new field
* update the test
* create an ad-hoc example

### References

* https://cloud.go

[2022-11-29 22:30] saulortega commented on #13120
Yes it is.

Same error after each of those.

`gcloud auth application-default login`:

[code]

`gcloud auth login`:

[code]

My default project is the same as the one configured in terraform.

[2022-11-30 00:13] nyonson opened #13140 "Extend google_identity_platform_default_supported_idp_config with AppleSignInConfig"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-30 00:33] gfxcc commented on #9844
Requested feature is added via https://github.com/GoogleCloudPlatform/magic-modules/pull/6161

[2022-11-30 00:40] zli82016 commented on #10568
@brokenjacobs , do you have another sample? Thanks.

[2022-11-30 03:06] saulortega commented on #13120
After checking out the code of this repo, and the Google documetnation, I figured it out.

When you works with multiple projects, it seems the "billing project" doesn't change in your environment when you switch your "project". So you need to specify it (https://github.com/hashicorp/terraform-provider-google/blob/main/google/config.go#L506):

Before:
[code]

After:
[code]

Now it works.

(This "bi

[2022-11-30 03:06] #13120 closed

[2022-11-30 06:47] mitj04 commented on #8661
Based on this comment, it looks like it's been resolved back in time. Also, currently it's been passing with 100% success rate.

Link: https://ci-oss.hashicorp.engineering/project.html?projectId=GoogleCloud&testNameId=-3074006311885699769&tab=testDetails

[2022-11-30 06:54] illmaticz opened #13141 "```google_bigquery_table```: Cannot create materialized views for existing tables with schema field"
### Community Note
Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
Please do not leave +1 or me too comments, they generate extra noise for issue followers and do not help prioritize the request.
If you are interested in wor

[2022-11-30 09:51] mitj04 commented on #9236
As per the new runs of tests, adding priority/2 label.

[TestAccComputeRouterPeer_basic](https://ci-oss.hashicorp.engineering/project.html?projectId=GoogleCloud&testNameId=52391852189696790&tab=testDetails)
[TestAccComputeRouterNat_update](https://ci-oss.hashicorp.engineering/project.html?projectId=GoogleCloud&testNameId=-1323705874708314492&tab=testDetails)
[TestAccComputeRouterPeer_advertiseMode

[2022-11-30 12:02] tomekporozynski opened #13142 "google_cloudbuild_trigger repository mapping validation is not case sensitive"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-30 12:11] mitj04 commented on #9241
Current Passing Rate: 93% ([TestAccBigQueryJob_bigqueryJobCopyTableReferenceExample](https://ci-oss.hashicorp.engineering/project.html?projectId=GoogleCloud&testNameId=-3890092861340691398&tab=testDetails))

[2022-11-30 12:41] brokenjacobs commented on #10568
I mean I could make something up, but wouldn’t this depend on the api?

[2022-11-30 14:00] tomekporozynski commented on #13142
Based on further investigation I reproduced the same "issue" by sending API requests via Method projects.locations.triggers.create.  So this issue is not strictly related to provider, rather API itself. Not sure if, in such case, this is a correct place to raise this bug. Please advice.

[2022-11-30 15:38] manojkumarmv2 opened #13143 "Sole Tenanat node group Attribute to configure share steeing is missing from the node f=group resource block"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-30 15:49] edwardmedia commented on #13142
@tomekporozynski can you share the debug log so I can take another look?

[2022-11-30 15:51] edwardmedia commented on #13141
@illmaticz can you share the debug log?

[2022-11-30 16:14] melinath commented on #9844
👍  it looks like the PR only added the link to the issue without noting that it fixed the issue, so Github automation didn't automatically close this issue. Thanks!

[2022-11-30 16:14] #9844 closed

[2022-11-30 16:21] #8661 closed

[2022-11-30 16:57] #13115 closed

[2022-11-30 17:07] enchorb commented on #7325
+1

[2022-11-30 18:02] zli82016 commented on #10568
I talked with API team and I am good, thanks.

[2022-11-30 18:28] #12909 closed

[2022-11-30 18:58] gfxcc commented on #9999
This should not be an issue now as we revoke certificate on deletion.

Rerun the test and passed.

@melinath could you check if this is still an issue and close the issue if this is not needed.

[2022-11-30 19:04] illmaticz commented on #13141
Hey @edwardmedia, I am attaching the part after the TF tries to apply since it is huge and I don't want to expose any info.
Can you let me know if that's enough for debugging?
[tf_debug.txt](https://github.com/hashicorp/terraform-provider-google/files/10126456/tf_debug.txt)

Thanks!

[2022-11-30 19:19] gfxcc commented on #9593
Auto-generated key can be achieved via using `tls_private_key`. [This code sample](https://github.com/terraform-google-modules/terraform-docs-samples/blob/main/privateca_quickstart/main.tf) shows how to generate the private key in terraform and sign it via CAS.

Code snippets
[code]

At the end, you can output the private key of `tls_private_key.example` as needed.

This should fulfill the request

[2022-11-30 19:20] gfxcc commented on #9593
@slevenick please take a look and close the issue as needed.

[2022-11-30 19:35] rileykarson opened #13147 "Reduce import-related build issues"
# Background

New contributors run into the same class of error fairly frequently, getting roughly this error:

[code]

We should remove some of the friction here- improve docs, throw errors, obviate entirely, etc.

# What kind of contribution is this issue about?

general contributions

# Related PR(s), if any:

* N/A

# Details

This is _likely_ to have to do with `goimports`, or not having clon

[2022-11-30 20:51] clive-h-townsend opened #13148 "Container Cluster doesn't respect project when checking if service enabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-11-30 21:22] edwardmedia commented on #13141
@illmaticz Thanks for the log but I am more interested in seeing the api requests & responses before the error occurred?

[2022-11-30 21:32] melinath commented on #13103
b/260899743

[2022-11-30 21:34] edwardmedia commented on #13148
@clive-h-townsend I think you were talking about two issues here:
1) the error you received. A cluster can't be created until the service `container.googleapis.com` is enabled in the project. You may want to add `depends_on` in `google_container_cluster` to make sure that order. Sometimes you may want to add [sleep](https://registry.terraform.io/providers/hashicorp/time/latest/docs/resources/sleep

[2022-11-30 21:39] edwardmedia commented on #13000
@thclark closing this assuming it is no longer an issue

[2022-11-30 21:39] #13000 closed, assigned to edwardmedia

[2022-11-30 21:39] edwardmedia commented on #12895
@densnoigaskogen is this still an issue?

[2022-11-30 21:41] edwardmedia commented on #13033
@sreenivas-ps can you confirm google_compute_backend_service was created and the security_policy was successfully attached even you see this error at the end?

[2022-11-30 21:41] clive-h-townsend commented on #13148
@edwardmedia - Thanks for the fast response! So it is the same issue because as you point out, on 1) that it is checking if `container.googleapis.com` is enabled. That is, of course, correct. But it is checking for that enabled status on the wrong project. The service is enabled on the child/controlled project (correctly) and not enabled on the parent (controlling) project (also correct). However,

[2022-11-30 21:43] edwardmedia commented on #13035
@codeangler closing this assuming it is no longer an issue

[2022-11-30 21:43] #13035 closed

[2022-11-30 21:44] melinath commented on #13147
in my experience this is usually due to either not having the main branches in sync or due to stale files from a previous branch. I usually have folks run `git checkout -- . && git clean -f google/ google-beta/ website/` and sync their PR & downstream to main, and that generally fixes it.

I've also noticed there's additional confusion because of `> output.log` redirecting stdout to a file.

I've

[2022-11-30 21:45] clive-h-townsend commented on #13148
Sorry for the noob question... I see the debug info in the console, not quite sure how to get that to you. It also appears to include sensitive data?

[2022-11-30 21:47] edwardmedia commented on #13039
@aleks-m I can't repro the issue. Are you able to run the [example](url)? If not let me know what you see. If yes, then we can check what the difference both configs have which could trigger your problem?

[2022-11-30 21:51] edwardmedia commented on #13085
@markeverettbeck closing this assume it is no longer a question

[2022-11-30 21:51] #13085 closed

[2022-11-30 21:53] edwardmedia commented on #13091
@paper-michael is this still an issue?

[2022-11-30 21:53] melinath commented on #9999
@gfxcc it looks like it's still failing ~10% of the time as of Nov. 2022 - was there a recent change?

[2022-11-30 21:56] #9593 closed

[2022-11-30 22:07] edwardmedia commented on #13148
Can you try something like `terraform apply >>debug.log`

[2022-11-30 22:12] clive-h-townsend commented on #13148
The `terraform apply >> debug.log` only prints the state refresh logs to the file. i.e 

`[0m[1mgoogle_cloud_tasks_queue.rq-news: Refreshing state... [id=projects/XXX/locations/us-central1/queues/XXX][0m`

 Everything else ends up in the terminal.

 If the answer is that the service is required on both projects, I understand. Seems weird but I can do that. Might suggest a documentation update o

[2022-11-30 22:35] edwardmedia commented on #13148
@clive-h-townsend this is a gcp behavior, not at the provider specific. Closing the issue then.

[2022-11-30 22:35] #13148 closed

[2022-11-30 23:53] anoopvenkataramana opened #13151 "point_in_time_recovery_enabled for mssql"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest