[2020-07-15 21:01] #6768 closed

[2020-07-15 21:06] edwardmedia commented on #6742
@neurolabs feel free to reopen the issue if you see the issue again. Please share the debug log if you can. Thanks

[2020-07-15 21:06] #6742 closed

[2020-07-15 21:11] edwardmedia commented on #6769
@preston-hf is this still an issue with you? If yes, could you please provide the config so I can repro it?

[2020-07-15 23:00] #2841 closed

[2020-07-15 23:08] mikhail-khodorovskiy opened #6798 "ai notebook is being updated when there were no changes to its properties and then fails to find the instance on apply."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-16 06:24] neurolabs commented on #6742
@megan07 maybe you could somehow verify the connection to a billing account. in issue #6758 you can see that for the resource google_service_account, validation is done using the timeout concept.

[2020-07-16 13:05] hahomdal opened #6800 "Add data source for pubsub topics"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-16 14:04] huang-jy commented on #6746
I have had a play with the updates you made to the terraform code, @megan07 and for the most part it works. One thing I have noticed though, and that is with ordering.

If I go from an empty list "[]" to a list with names, say "["a.com", "b.com]", this update works.

If I add a third: "["a.com", "b.com", "c.com"]", it also works.

If I _change_ the last element of the list: "["a.com", "b.com", "d.

[2020-07-16 14:54] preston-hf commented on #6769
The issue still exists, yes. Unfortunately I can't provide proprietary config here and I don't have more time to track this down. The quick fix would be to document that this resource accepts the project parameter.

[2020-07-16 15:06] edwardmedia commented on #6769
@preston-hf Using above code, I tested the resource does accept `project`. I guess the issue may be caused by other reasons. Without the code, it is difficult to guess. I am closing this issue at this moment. Please feel free to reopen it if we could have code to repro it. Thanks

[2020-07-16 15:06] #6769 closed

[2020-07-16 15:50] edwardmedia commented on #6798
Can repro it using below code
[code]

[2020-07-16 16:22] crisalid opened #6801 "Passing multiline filter values as strings is not working with escape and heredoc"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-16 17:30] megan07 commented on #6746
@huang-jy yes, great point! i brought this up to my team, and this didn't even cross my mind, but we can join the list together, and that should work fine, so just change that block to
[code]

[2020-07-16 17:35] edwardmedia commented on #6801
@crisalid your log does not contain the ERROR section. But from your plan, I am able to mimic and create the `sink` with below filter. Do I miss your point? Please provide the filter values that could trigger the error along with your longer debug log. Thanks

`filter           = "(protoPayload.methodName=\"google.admin.AdminService.assignRole\" OR protoPayload.methodName=\"google.admin.AdminServi

[2020-07-16 18:14] crisalid commented on #6801
@edwardmedia thanks for your reply!
so the issue does not occur when the filter is assigned in a plain value inside resource, but when I put for_each and assign filter value through variable:

Error: googleapi: Error 400: Resource id contains illegal character, badRequest

  on main.tf line 40, in resource "google_logging_organization_sink" "static_filters":
  40: resource "google_logging_organiza

[2020-07-16 18:26] edwardmedia commented on #6801
@crisalid can you post your code showing how you assign the filter values through variables?

[2020-07-16 18:28] crisalid commented on #6801
[code]

[2020-07-16 19:07] #4143 closed

[2020-07-16 19:17] #6464 closed

[2020-07-16 21:09] edwardmedia commented on #6801
@crisalid by using for_each, do you expect you can create multiple sinks? I don't think it supports that

[2020-07-16 23:19] crisalid commented on #6801
ok, I removed for_each.
I put my filter just like you did.
the plan runs Ok
apply fails due to illegal character, \

[2020-07-16 23:22] edwardmedia commented on #6801
@crisalid can you post your updated code which yields `illegal character` error?

[2020-07-16 23:26] crisalid commented on #6801
@edwardmedia I think this might be related to the backslash symbol not being url encoded for being used with google rest api
https://gist.github.com/crisalid/2e761ae1708c920253827f5ad1f51032

[2020-07-16 23:40] edwardmedia commented on #6801
@crisalid I was using below **filter** in the code and apply was complete successfully. Could you be more specific about the **backslash symbol** which causes problem? Please share your code so I can repro the problem. Thanks
filter = "(protoPayload.methodName=\"google.admin.AdminService.assignRole\" OR protoPayload.methodName=\"google.admin.AdminService.addPrivilege\")"

[2020-07-17 02:06] crisalid commented on #6801
my fault.
dumb.
spaces in resource name :)

[2020-07-17 02:06] #6801 closed

[2020-07-17 11:48] hburak opened #6805 "Big Query Table Level Access/Permission Setting on with Terraform?"
Can we grant table level access on bigquery tables with terraform? It's in beta in GCP at the moment. https://cloud.google.com/bigquery/docs/table-access-controls

[2020-07-17 13:07] muscovitebob commented on #6788
Looking at the source code there seems to be a [mismatch between a comment and a descriptio](https://github.com/terraform-providers/terraform-provider-google/blob/ef4bb4963b6c37bc38a32bf19b0425c3d679da98/google/resource_bigquery_table.go#L150)n on whether specifying Schema with Parquet is allowed at all.

[2020-07-17 13:07] rmanyari commented on #6773
@gplasky [LinuxNodeConfig](https://godoc.org/google.golang.org/api/container/v1beta1#LinuxNodeConfig) takes a Sysctls map[string]string where the keys are the kernel configs in the original format.

Your proposed configuration replaces dots with dashes. Any thoughts on that? I started to do something like:

[code]

But it feels a bit forced... Not sure if there's precedence in other places in the

[2020-07-17 13:12] muscovitebob commented on #6788
I see a very recent commit where the comment was added [also added this Parquet schema restriction to the `.html`](https://github.com/terraform-providers/terraform-provider-google/commit/2aa1b9d4428ca19351b80c077df5fb09e747f3c0) of the resource documentation, which is not yet reflected on the terraform website.

[2020-07-17 13:16] muscovitebob commented on #6788
However the BigQuery docs state that one [should be able to use an external schema definition](https://cloud.google.com/products/?hl=EN#table-definition) for querying Parquet files.

[2020-07-17 15:49] danawillow commented on #6755
Hi @jasonmcboyd, the docs at https://www.terraform.io/docs/providers/google/r/bigquery_table.html#schema say:

Unfortunately this is just another instance of that case. Marking as a persistent bug because fixing it would be tricky and require us to do some thinking about how we handle diffs on json fields. I don't expect us to get around to it any time soon though.

[2020-07-17 16:08] edwardmedia commented on #6805
@hburak Not yet. It is in the backlog. Closing this issue as below is the issue tracking its implementation.
https://github.com/terraform-providers/terraform-provider-google/issues/6561

[2020-07-17 16:08] #6805 closed

[2020-07-17 18:16] gplasky commented on #6773
I have no strong preference on the format, and in fact waffled a bit when deciding which formatting to use in my example. I'm not actually sure if TF supports dot-based naming but I'm definitely in favor of going down that route if so. That said, I believe only underscores and dashes are supported:

https://www.terraform.io/docs/configuration/syntax.html#identifiers

If that's the case I think tha

[2020-07-17 19:02] gplasky commented on #6774
@ykyr since. you're already working on the feature.

[2020-07-17 19:50] seanearley opened #6806 "Cloud Identity Resources require Delegated Credential"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-17 20:11] rmanyari commented on #6773
Sounds good. If we use only `_` then I'd probably need to keep a map of TF parameter string -> sysctl key. No big deal, I'll drop some comments to keep track of this decision. Thanks for the input!

[2020-07-17 21:01] edwardmedia commented on #6105
Closing the issue as **descriptions** have been added to the schema in above resources.

[2020-07-17 21:01] #6105 closed

[2020-07-17 21:10] danawillow commented on #6783
Cool, this is easy enough to change. @mhanline, since the provider is versioned and people can upgrade as they please, you might still see requests come in for the legacy endpoints long after we make the change on our end. Is that going to be ok?

[2020-07-17 21:19] danawillow commented on #6783
another question @mhanline: I noticed deployment manager isn't on your list, and that seems to still recommend the www.googleapis.com endpoint in its docs. Should I leave that alone?

[2020-07-17 21:27] danawillow commented on #6775
@UrsysC, have you enabled the billing budget API in your project? You can do that in your terraform config with the `google_project_service` resource.

[2020-07-17 22:30] danawillow commented on #6782
Here's what I know so far:

Based on https://github.com/golang/go/issues/25321 and https://github.com/hashicorp/terraform-provider-vsphere/issues/636, something that could fix it would be to compile with CGO enabled.
The build script that I assume our release pipeline uses explicitly disables CGO. This was introduced in https://github.com/hashicorp/terraform/pull/7107 because it ensures the compil

[2020-07-18 04:43] ndmckinley commented on #6730
I think the server isn't sending the value back when it is `false` - I'm going to make a change to assume the value is false if not received and run the tests on that.

[2020-07-18 05:04] nyurik opened #6807 "[docs] compute_url_map documentation page has confusing redirect_response_code info"
The [compute_url_map](https://www.terraform.io/docs/providers/google/r/compute_url_map.html) docs page has incorrect and confusing info for the redirect_response_code -- please change it as shown in #6765 pull request -- see [diff](https://github.com/terraform-providers/terraform-provider-google/pull/6765/files?diff=split&w=1).

[2020-07-18 14:06] edwardmedia commented on #6798
The `plan` shows below after the initial `apply`.
[code]

[2020-07-18 18:16] edwardmedia commented on #6806
@seanearley do you want to take a look into below data source to see if it helps?
**google_service_account_access_token**

[2020-07-19 01:34] brucearctor commented on #6749
@Sytten  -- `serverless NEG` and `global NEG` -- not supporting `health_checks` .  Is there a design/choice for the way forward here?  Is it that these services need to support health check?  So the services need modified?  Or, that `google_compute_backend_service` needs to be modified for `health_checks` to be optional?  Or ??  Verifying I understand what has been identified at issue here.  I'm i

[2020-07-19 08:39] simov commented on #1938
I think another way of solving this is by using the random provider with a keeper:

[code]

[2020-07-19 11:37] tvvignesh commented on #6465
@mkushakov Tried RFC 1918 range and few other things to make it work. Thanks.

@danawillow @venkykuberan There is one question that I wanted to ask. I use a shared vpc within which I have subnets where I am hosting my private K8 clusters across different zones.

After struggling a lot, I found out that when I created the cluster in this subnet, it worked:
[code]

but if I try to create the same cl

[2020-07-20 03:49] Sytten commented on #6749
The `google_compute_backend_service` needs to be modified to make the health check optional for sure. Otherwise I don't really more insight into the issue, I just know it is necessary for the serverless NEG to be of any practical use.

[2020-07-20 07:38] huang-jy commented on #6746
I am closing this issue now. The updates work perfectly, thanks for your help @megan07

[2020-07-20 07:38] #6746 closed

[2020-07-20 14:48] gdubicki commented on #6087
How probable is that this is going to be implemented within the next few weeks, @danawillow ?

I am asking because we are also affected by this issue on hundreds of machines and we would like to know if we should work around this limitation or wait for the fix.

[2020-07-20 15:15] megan07 commented on #6617
Hi @mikida12! Just wanted to follow up and see if you were able to resolve this issue and if we could close it. Thanks!

[2020-07-20 16:16] seanearley commented on #6806
Hi, thanks for the reply!

This looks like the right direction, but it appears the target_service_account field can only take another service account, not an end user.

[code]

[code]

I think the issue is that the `google_service_account_access_token` resource is using the `https://iamcredentials.googleapis.com/v1/` endpoint, while to create the G Suite compatible credential the `https://oauth2.g

[2020-07-20 16:41] danawillow opened #6809 "Fix TestAccStorageBucketIamPolicyGenerated"
This test was previously skipped in CI because of environment variables, now that it's enabled it should be fixed to pass.

[2020-07-20 17:08] joe-boyce opened #6810 "Dynamically create google_compute_instance nat_ip"
We are currently using modules across the board to ease the use of terraform for many customers, one of the pain points at the moment is the use of external IPs being assigned to instances

We currently have the following configuration in place:

[code]

This works by either allowing the user to provide a static external IP for each instance or if left blank will assign a dynamic external IP

Foll

[2020-07-20 17:41] danawillow commented on #6764
This looks to me like the error message that is coming back from the API. I don't think there's much we can really do about it on our end. May be worth filing a bug against GCS instead.

[2020-07-20 17:41] #6764 closed

[2020-07-20 17:47] danawillow commented on #6790
REST API version: https://cloud.google.com/storage/docs/json_api/v1/objects/copy

[2020-07-20 17:56] ndmckinley commented on #6764
I've updated this error message - the change will roll out according to the normal schedule.  :)

[2020-07-20 18:02] rmanyari commented on #6773
Opened a PR, it's still WIP (needs more tests and one of the acceptance tests doesn't pass right now) but any early feedback is appreaciated.

[2020-07-20 18:38] #6780 closed

[2020-07-20 18:46] #6730 closed

[2020-07-20 19:59] hectorj commented on #5698
Similar issue was closed before: https://github.com/terraform-providers/terraform-provider-google/issues/1724

But I think it would be a good addition to this provider!

In the meantime, you can use this: https://github.com/hectorj/terraform-provider-googlesiteverification

[2020-07-20 20:39] gmauleon opened #6812 "Cannot delete google_compute_address when it's a dependency of google_compute_router_nat"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-20 23:21] mhanline commented on #6783
I'm not the authority on domain split, but I don't see this as being an issue.

Yes, I would keep as-is until the docs say otherwise. There are some exceptions that are being worked on such as this one, but getting as many onto the new endpoints as possible should be the way to go.

[2020-07-20 23:30] caieo opened #6813 "Support labels for Bigtable Instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-21 00:06] edwardmedia commented on #6812
I can repro this issue
[code]

[2020-07-21 00:08] edwardmedia commented on #6812
[code]

[2020-07-21 00:08] rohitvyavahare opened #6814 "creating google_container_cluster with resource_usage_export_config fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-21 00:14] danawillow opened #6815 "Create fewer kms resources in tests"
There isn't anything specific that prompted this concern, but since crypto keys and key rings can't be deleted, it would be good to make sure we're using the bootstrapping framework everywhere we can so we don't clog up the test project too much.

[2020-07-21 00:57] UrsysC commented on #6775
Thanks for the reply! Unfortunately, I still get the same `Error creating Budget: googleapi: Error 400: Request contains an invalid argument.` even when manually enabling the billing budget API in my created project. Relevant addition to the code (everything else is identical).

`resource "google_project_service" "billing" {
  provider = google
  project = var.project_name
  service = "billingbudg

[2020-07-21 10:37] marengaz opened #6816 "concurrency limitations / max instances for google cloud functions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-21 12:08] 9474757 commented on #6465
Before run TF need to use "export TF_VAR_masquerade=false"

[2020-07-21 13:42] edwardmedia commented on #6814
@rohitvyavahare  I just created a cluster using below code and it seems fine with me. Can you share your full debug log?
[code]

[2020-07-21 14:26] tmshn commented on #6574
I've just started to see the API reference, and learned that Data Catalog supports renaming of fields (not only the display name, but also id).
https://cloud.google.com/data-catalog/docs/reference/rest/v1/projects.locations.tagTemplates.fields/rename

Then, how should these changes treated?

- Delete `foo` and create `bar`
- Rename `foo` into `bar`

[code]

(I think it's okay not to support renami

[2020-07-21 15:17] edwardmedia commented on #6775
@UrsysC from your above trace, I noticed that below call occurred right before the resource is being created which was failed Can you share the rest of config?
``
POST /v1/projects/ursys-test-project-3/services/billingbudgets.googleapis.com:disable
[code]

[2020-07-21 16:15] danawillow commented on #6087
Not very likely. Our team still isn't quite convinced that we want to support updating something that's specifically meant to be for initialization.

[2020-07-21 16:18] edwardmedia commented on #6806
@seanearley Can you take a look into this?
https://github.com/terraform-providers/terraform-provider-google/issues/6704#issuecomment-651285723

[2020-07-21 16:20] hashibot[bot] opened #6818 "Role roles/appengine.deployer is not supported for this resource."
_This issue was originally opened by @1mdc as hashicorp/terraform#25623. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

[code]
### Crash Output

### Expected Behavior

rol

[2020-07-21 16:59] caueasantos opened #6819 "Cloud Armor, google_compute_security_policy, how can I add the target LB backend?"
@slevenick Looks like there is no possible way to use cloud armor with kubernetes_ingres. please correct me if I am wrong, Thanks

_Originally posted by @meirhazon2 in https://github.com/terraform-providers/terraform-provider-google/issues/4973#issuecomment-557690348_

[2020-07-21 17:05] seanearley commented on #6806
Yes, just tried this and it does resolve the issue, we are unblocked for now. Thanks for that find!

I do have concerns that this is not an officially supported method. Is there any way to confirm that using the API to directly assign the role will work moving forward? It seems passing an impersonated credential is the preferred approach by Google.

[2020-07-21 17:10] caueasantos commented on #6819
Ingress won' t be handled by terraform, so make sense find new alternatives to do it through google ingress capabilities, please try to do the following:

[code]

On each service referenced by ingress include the annotation:

[code]

This should be enough to add your target loadbalancers on google cloud armor

[2020-07-21 17:42] #6465 closed

[2020-07-21 17:42] UrsysC commented on #6775
I added a depends on tag to the budget to depend on enabling the service, to force it to be created after. Gist: https://gist.github.com/SaraMurphyFreshbooks/ba0b033071b4b5b70b5830fb12b2a9ce

The rest of my config is available here: https://github.com/UrsysC/terraform-gcp-createProject

[2020-07-21 17:46] tmshn commented on #6574
One possible solution for this is to introduce `deleted` field to each tag.

With that field, the following example denotes rename operation

[code]

And the following example denotes delete+create operation:

[code]

Having almost empty `{deleted = true}` field looks a little bit tricky, but it's explicit and the behavior is predictable. Also, this doesn't require any breaking change to the schem

[2020-07-21 17:50] edwardmedia commented on #6806
@seanearley I am glad this helps resolve your issue.  What you described is possible but there is no any plan yet. You may file an [enhancement](https://github.com/terraform-providers/terraform-provider-google/issues/new?template=enhancement.md) for what you prefer and the team could add it into the backlog.  I am closing this issue then.  Thank you!

[2020-07-21 17:50] #6806 closed

[2020-07-21 17:58] edwardmedia commented on #6819
@caueasantos Thank you for offering a solution. I don't see anything else I can do for this issue. So close it then.

[2020-07-21 17:58] #6819 closed

[2020-07-21 18:14] megan07 commented on #6549
Fixed with https://github.com/GoogleCloudPlatform/magic-modules/pull/3750

[2020-07-21 18:14] #6549 closed

[2020-07-21 19:31] mikhail-khodorovskiy commented on #6798
In addition, as far as I can tell when boot_disk_size_gb and data_disk_size_gb properties are specified, they are either not persistent into the plan or not set/read when the notebook is created via the APIs.

[2020-07-21 19:44] edwardmedia commented on #6818
@slevenick below call yields following response.
[code]

[code]

[2020-07-21 20:24] #6593 closed

[2020-07-21 21:43] slimsag opened #6824 "google_compute_router_nat.nat_ips changes forever due to API URL prefix"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-21 21:47] rileykarson opened #6825 "Run VCR tests for TPGB instead of TPG"
We run our VCR gauntlet against TPG instead of TPGB. We should swap, so that we cover more fields and more test cases. This will result in a longer but more accurate run. Anecdotally I find beta fields are more likely to fail tests than GA fields, largely because fields are most likely to fail right after they're added to the provider.

[2020-07-21 22:24] dsymonds opened #6826 "Support gRPC health checks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-21 22:31] edwardmedia commented on #6818
@1mdc you may want to use below resource instead. Here is what you might want to review. Please let me know if this make sense.
`When managing IAM roles, you can treat a service account either as a resource or as an identity. This resource is to add iam policy bindings to a service account resource to configure permissions for who can edit the service account. To configure permissions for a servic

[2020-07-21 23:08] edwardmedia commented on #6824
@slimsag  I can repro your issue ONLY when I replace your code with below assignment. Using `self_link` is fine. If you see the issue when `self_link` is used, could you share your debug log?
[code]

[2020-07-21 23:14] slimsag commented on #6824
Thanks for the prompt response @edwardmedia -- you're 100% correct I by mistake was still using `.id` instead of `.self_link` - this is fixed by using `.self_link`

I got this code from this snippet in the docs: https://www.terraform.io/docs/providers/google/r/compute_router_nat.html#example-usage-router-nat-manual-ips

Is it possible to update that so others don't run into this as well?

[2020-07-22 14:54] #6572 closed

[2020-07-22 14:55] #3360 closed

[2020-07-22 15:51] edwardmedia opened #6830 "enable google_compute_router_nat.nat_ips to accept google_compute_address.id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-22 16:26] #6824 closed

[2020-07-22 16:41] tswast opened #6832 "Enhancement: allow amending user-agent with additional information"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-22 16:51] rileykarson commented on #6832
See https://github.com/hashicorp/terraform/pull/22583 which is the outcome of our longstanding feature request that will allow us to implement this, newly available in Terraform `0.13`. Once we implement the provider side it requires users to be using a version of TPG/TPGB with the new SDK (which we have not yet merged) as well as `0.13`.

[2020-07-22 17:33] rohitvyavahare commented on #6814
@edwardmedia thank you for reply

I tested again and found that if dataset_id is empty or "" in following config
it throws that error

[code]

[2020-07-22 17:47] preston-hf opened #6833 "Setting IAM conditions on a bucket after creating it in the same request deadlocks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-22 18:00] debakkerb commented on #6732
Any updates on this?  Thanks!

[2020-07-22 18:07] SaugataDutta opened #6834 "Add filters support for PubSub subscription"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-22 18:25] danawillow commented on #6732
No updates currently, but it's still on my list of things to try to figure out soon. I should have a better update by the end of the week.

[2020-07-22 18:33] edwardmedia commented on #6833
@preston-hf I have tried your code multiple times (all in the same apply) and none yielded `412` error code. I think `adding retry` should be fine. To workaround this, users could always add `sleep` between two.
@slevenick what do you think of this issue?

[2020-07-22 18:41] slevenick commented on #6833
@preston-hf How long are you seeing terraform deadlock on creating the IAM member for? It should be constrained by the timeout for creating the resource, which defaults to 6 or 10 minutes I believe.

[2020-07-22 18:43] preston-hf commented on #6833
Yeah I am dealing with a pretty complicated config, I tried to provide one that would trigger it but maybe there's something further going on. I started out with a local-exec sleep on the bucket and it didn't work 100% of the time but it didn't deadlock that I can remember, it's been a couple of months now IIRC. It will run until I kill it, easily 15m+. It will not terminate gracefully either, it

[2020-07-22 18:43] preston-hf commented on #6833
The logs are accurate I just sanitized them. It will just loop doing that until you kill it.

[2020-07-22 18:44] edwardmedia commented on #6814
@rohitvyavahare yes, by set `dataset_id = ""`, it does cause crash. The document indicates `bigquery_destination.dataset_id (Required)` I think we should update the field validation.

[2020-07-22 20:38] megan07 commented on #4055
Hi @daveth! You are correct, it looks like this would be implemented on the google-beta provider. We'd love to have your contribution. Please take a look at our [contributing guide](https://github.com/terraform-providers/terraform-provider-google/blob/master/.github/CONTRIBUTING.md) and please reach out with any questions!
Thanks!

[2020-07-22 20:41] danawillow commented on #6724
My hypothesis is that this is internal issue b/161132865 (as per b/158705501)

[2020-07-22 20:49] megan07 commented on #4195
Closed by https://github.com/GoogleCloudPlatform/magic-modules/pull/3628

[2020-07-22 20:49] #4195 closed

[2020-07-22 22:23] Arconapalus commented on #5528
I've been working on something similar. Instead of creating an new issue I'll apply right here. In my development I'm looking to accomplish passing in output from child module to parent module and then back to child module. Hind sight, cloud run module output to main.tf config output and then back to cloud endpoint module. Where cloud endpoint module will use the output of the parent module (main.

[2020-07-22 22:47] #6814 closed

[2020-07-23 13:41] mejuhi opened #6840 "Terraform crashes while creating Google cloud Endpoint using Cloud build"
### Terraform Version

hashicorp/terraform:0.12.24

### Affected Resource(s)

* google_endpoints_service

### Terraform Configuration Files

[code]

### Debug Output

[code]

### Expected Behavior

Create Google Cloud endpoint from the openapi swagger file given as input

### Actual Behavior

"hashicorp/terraform:0.12.24" failed: step exited with non-zero status: 1

### Steps to Reproduce

Run  te

[2020-07-23 13:57] edwardmedia commented on #6840
@mejuhi  could you post the file `crash.log`? It is specified in the section of TERRAFORM CRASH. Thanks

[2020-07-23 14:25] mejuhi opened #6841 "Ability to add "min-instances" field for fully managed cloud run in terraform "google_cloud_run_service""
### Description

I have a use case which requires to have min instance of my cloud run to be set as 1 (to avoid the cold start). CICD solution used for creating and updating the resources is in terraform script(main.tf) . We can set min instance  using gcloud command
 ``` gcloud alpha run deploy --image gcr.io/cloudrun/hello --min-instances=<# of min instances> helloservice ```

It would be nice t

[2020-07-23 14:48] kevinohara80 opened #6842 "google_container_cluster doesn't create default pool, fails after long health check"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-23 15:03] mejuhi commented on #6840
Yes, following is the crash log received.
[crash.log](https://github.com/terraform-providers/terraform-provider-google/files/4966892/crash.log)

[2020-07-23 15:39] kevinbirch opened #6843 "Resource `google_bigquery_dataset_iam_binding` Documentation Incorrect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-23 15:49] edwardmedia commented on #6842
@kevinohara80 can you share your debug log? Thanks

[2020-07-23 16:18] danawillow commented on #6775
Just to try something else- is the billing budget API enabled on the project that the service account you're running TF as comes from? So in https://github.com/UrsysC/terraform-gcp-createProject/pull/6/files, that would be "terra-276704". If not, can you try enabling it and seeing whether that works?

[2020-07-23 16:24] edwardmedia commented on #6843
@kevinbirch I see what you mean. It only accepts `{{dataset}}`.

[2020-07-23 16:24] #6807 closed

[2020-07-23 16:25] UrsysC commented on #6775
It is enabled, and more than that, I can actually see a metric of all my API responses. You can see below that project is receiving my API responses (and returning a 400 error). I actually have a bunch of pretty charts measuring my API response times... all of which are for the 400 error responses.

![image](https://user-images.githubusercontent.com/10835481/88311763-4e339c80-ccdf-11ea-9c0a-78469e

[2020-07-23 16:34] nielm commented on #2082
I wrote: https://github.com/GoogleCloudPlatform/spanner-schema-diff-tool as a way of generating non-destructive alter statements to migrate schemas...

[2020-07-23 16:42] danawillow commented on #6732
@debakkerb can you go to https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.alertPolicies/list and send over the result for the two alert policies in question? My guess is something happened with parsing the data into yaml that makes it look more equivalent than it actually is, and the json should be less forgiving.

I'd also like to know how you managed to do two aggregations in the

[2020-07-23 17:04] kevinbirch commented on #6843
I see you've opened up a fix for the documentation which is fantastic.  May I also suggest that another output attribute is added to `google_bigquery_dataset` which is just the dataset's name (i.e. `test` in the above example).  Currently only `dataset_id` is available and using the `basename` function feels like a clunky workaround.

[2020-07-23 17:13] edwardmedia commented on #6818
@1mdc does this make sense to you? Let me know if you still have questions.

[2020-07-23 18:20] hashibot[bot] opened #6848 "google_sql_database_instance PITR restore action"
_This issue was originally opened by @doriandekoning as hashicorp/terraform#25660. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Current Terraform Version

[code]

### Use-cases

Create an gcloud instance clone from a specific point in time of another instan

[2020-07-23 18:25] doriandekoning commented on #6848
Duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/6774

[2020-07-23 19:31] edwardmedia commented on #6843
@kevinbirch  Instead of `basename()`, can you use `dataset_id = google_bigquery_dataset.dataset.dataset_id`?

[2020-07-23 19:39] robertvanhoesel commented on #6848
@doriandekoning This suggestion is different in that it proposes a way to create a new Database Instance using pitr rather that the enabling pitr through configuration.

[2020-07-23 19:56] fredo838 commented on #5528
The only thing we really need to not deploy 2 images to Cloud Run - which is the big thing messing with terraform - is the HASH in the url: https://my-cloud-run-HASH-LOC.a.run.app. If we can compute this value, or retrieve it through an API before a new image is deployed, we can make this work. We would need a data source, `data.cloud_run_hash`, that has as output that HASH value.
The steps would

[2020-07-23 20:03] doriandekoning commented on #6848
Oh my bad, you're right! I thought that was what the `start_time` parameter was to be able to do that, but seems to be to specify when to start backing up?

[2020-07-23 20:09] kevinbirch commented on #6843
Sure, that's fine.

[2020-07-23 20:51] preston-hf commented on #6769
As I said, the docs need to be updated to show that they accept a project parameter. I do understand that it accepts one, I am using it.

[2020-07-23 20:53] aradyuk commented on #6637
+1

[2020-07-23 21:03] #6840 closed

[2020-07-23 21:34] slevenick commented on #6812
Looks like this is the same basic problem as #6376

Unfortunately there is not a great option for resolving this permanently. We could split out a fine-grained resource similar to the suggestion in that other issue, allowing us to update `nat_ips` separately from the `google_compute_router_nat` resource.

Alternatively we could mark `nat_ips` as `ForceNew` which would force a recreation of the res

[2020-07-23 21:36] danawillow commented on #6775
I forwarded this issue to the billing API folks and they believe the issue is that your billing account is in CAD, but the request sent was for USD. Could you try using `currency_code = "CAD"` and see if that works?

[2020-07-23 22:01] gmauleon commented on #6812
Hum unfortunately recreating the whole NAT resource would render a somewhat "seamless change" (minus a drain), disruptive, if we're talking real live operation.

Which bring another concept on the table actually, we could have an `initial_nat_ip` which is mandatory and `ForceNew` and then a fine grained resource to add more IPs, with this we could actually bake an automatic synchronous drain on de

[2020-07-24 05:31] AlistairB opened #6850 "Add support for redis 5.0 to google_redis_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-24 07:12] mejuhi commented on #6840
Wanted to know timeline for the updated code.
Image tag to be referred  and when can it be available for using it in the cloud build.

[2020-07-24 14:28] kevinohara80 commented on #6842
@edwardmedia Added the gist url to the original issue body

[2020-07-24 16:25] slevenick commented on #6840
It should be available in the 3.33.0 release expected august 3rd

[2020-07-24 16:49] stvkng commented on #4485
I too have been experimenting with the above approach to enabling workload identity in a shared module used to build multiple clusters and have noted some unexpected behaviour when testing various scenarios, which I thought might be helpful to post here.

- To disable workload identity on a cluster on which it has previously been enabled, removing the `workload_identity_config` block entirely _doe

[2020-07-24 18:09] mejuhi commented on #6840
Thankyou @slevenick  for the quick response. It was extremely helpful.
I am using terraform image from https://hub.docker.com/r/hashicorp/terraform/tags
I will wait for the docker image to be updated with the fixed code. I hope fix will be available on docker image on the date suggested.

[2020-07-24 18:45] #6656 closed

[2020-07-24 18:48] rileykarson commented on #4485
The two failing cases under `Cluster having had workload identity previously enabled` seem like a clear-cut bug. I'll see if I can handle those next week.

That may involve exposing `enabled` and may not- if it doesn't, I can re-triage this issue as an enhancement.

[2020-07-24 19:04] UrsysC commented on #6775
That did the trick! Which of course would make sense. Thank you very much for your help, and taking the time to walk me through all the troubleshooting.

Have a great weekend!

[2020-07-24 19:04] #6775 closed

[2020-07-24 19:31] bharathkkb opened #6852 "Increasing timeout for deleting default network"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-24 21:06] edwardmedia commented on #6852
@bharathkkb  yes, please provide `additional logs for example builds`

[2020-07-24 21:08] edwardmedia commented on #6852
@rileykarson what do you think about this?

[2020-07-24 21:15] bharathkkb commented on #6852
Logs have been sent privately.

[2020-07-24 21:31] Arconapalus commented on #5528
I Fixed this issue

[2020-07-24 22:18] Arconapalus commented on #5528
Food for thought, I notice that running TerraForm with TF_logg=debug that the hash of the cloud run is shown during the building process as url. I'm not quite familiar with API's (just diving in) but I've have seen this in Cloud Build when I ran the script to rebuild the new ESPv2 API gateway. Through my CI/CD pipeline is github>cloudbuild.app>terraform>GCPproject.
The has is only unique to Cloud

[2020-07-25 00:52] #6155 closed

[2020-07-25 23:15] glisignoli opened #6854 "Error: Error setting IAM policy for project "xxxxx": googleapi: Error 400: Request contains an invalid argument., badRequest"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-26 09:21] glisignoli commented on #6854
Ignore this. I should have been using the resource `google_project_iam_binding`

[2020-07-26 09:21] #6854 closed

[2020-07-27 02:24] imrannayer commented on #6842
I had the same issue. It all started since the default version for new clusters changed to 1.15.12-gke.2 (previously 1.14.10-gke.36) for stable release channel on July 22.
https://cloud.google.com/kubernetes-engine/docs/release-notes#july_22_2020_r24

I solved the issue by removing release channel and setting min_master_version to 1.14.10-gke.42 or 1.14.10-gke.46 as a workaround.

[2020-07-27 08:54] ferrarimarco opened #6855 "Cloud IoT Core Device resource documentation page is missing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-27 16:17] dhvogel commented on #4988
+1. What is the status of this feature request?

[2020-07-27 16:36] nick-hf opened #6856 "Bug in Resource "google_bigquery_table": hive_partition_options does not properly create the hive fields"
### Terraform Version
Terraform v0.12.28

[code]

### Terraform Configuration Files
resource "google_bigquery_table" "xxx" {
  project = xxx
  dataset_id = xxx
  table_id = xxx

  external_data_configuration {
    autodetect = false
    source_format = "CSV"
    max_bad_records = 0
    source_uris = [
      "xxx"
    ]
    csv_options {
      quote = "\""
      field_delimiter = ","
      skip_lea

[2020-07-27 16:44] edwardmedia commented on #6856
@nick-hf can you share the debug log? Thanks

[2020-07-27 16:47] rileykarson commented on #6855
Thanks for the bit about the page being available before- that helped narrow it down!

We made a [`3.29.1` release of `google-beta`](https://github.com/terraform-providers/terraform-provider-google-beta/releases/tag/v3.29.1) that unintentionally overwrote the website (which is based on `google-beta`) with an older revision. We're doing our next release (`3.32.0`) in the next couple of hours, so th

[2020-07-27 16:47] #6855 closed

[2020-07-27 16:48] nick-hf commented on #6856
There's no debug log to be shared. Terraform thinks it created the table properly, there's no error output at all. In fact, the created table in the BQ UI thinks it has hive partitioning set up, and reports the proper prefix URI and everything. But, the partition fields don't exist. Using the exact same configuration via the BQ UI works fine.

As I said, it also happens with the BQ command line to

[2020-07-27 16:54] edwardmedia commented on #6856
@nick-hf I understand. With the debug login, we can verify if the field is properly set as wanted from Terraform side, and review the responses from API's.

[2020-07-27 16:55] rileykarson commented on #6852
`google_project` actually implements [Timeouts](https://www.terraform.io/docs/configuration/resources.html#timeouts), although it's missing that fact in the documentation. As a workaround, you can add user-defined timeouts as well. A little less invasive than a new org policy 🙂

I'll add that documentation, and bump the timeout for actions on project from 4 to 10 minutes. It's a substantial amount

[2020-07-27 17:12] danawillow opened #6857 "Use new compute.instances.update API"
https://cloud.google.com/compute/docs/reference/rest/v1/instances/update

[2020-07-27 17:12] nick-hf commented on #6856
Plan:
[code]

Relevant bits from the apply:
[code]

[2020-07-27 17:17] danawillow opened #6858 "instancegroupmanager serviceaccount"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-27 17:29] slevenick commented on #6834
Duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/6727

[2020-07-27 17:29] #6834 closed

[2020-07-27 17:32] #6852 closed

[2020-07-27 17:36] nick-hf commented on #6856
Looks like this was fixed here https://github.com/terraform-providers/terraform-provider-google/issues/6693

Thanks for your assistance

[2020-07-27 17:36] #6856 closed

[2020-07-27 17:51] danawillow commented on #6848
@doriandekoning you're welcome to give this a try! Depending on what sorts of things you see when you implement it, you may end up needing to do it as a separate resource. We can give you more help once you send out the PR for review.

[2020-07-27 17:51] preston-hf commented on #6693
Seems like the docs for this didn't make it to the Terraform docs site? It's not showing it's possible to specify schema under external_data_configuration block

[2020-07-27 17:52] ndmckinley commented on #6848
If you need some help while working on this, I'm happy to consult - post here if you need anything.  :)

[2020-07-27 17:52] danawillow commented on #6850
Hey @AlistairB, we don't actually do any client-side validation on that field so you should be able to set it to whatever value you want. Updated this issue to mark it as a docs fix only.

[2020-07-27 18:09] danawillow commented on #6693
Try a hard refresh? I see it there.
![mxiaraTGC3r](https://user-images.githubusercontent.com/1130694/88575973-8dbcfa00-cff9-11ea-9685-7750b18538b6.png)

[2020-07-27 18:30] bharathkkb commented on #6852
Thanks @rileykarson !!!

[2020-07-27 18:30] preston-hf commented on #6693
It's not clear what it was but it's there now. Thanks for looking into it.

[2020-07-27 18:57] #6843 closed

[2020-07-27 19:41] c2thorn commented on #6841
Hi @mejuhi you should be able to set the min/max instances via the revision template under `metadata` annotations. See https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#example-usage---cloud-run-service-sql for an example of setting the max instances.

[2020-07-27 19:41] #6841 closed

[2020-07-27 19:42] Arconapalus commented on #5528
The API value is status.url mention from a Google Cloud Developer. This value is retrievable after Cloud Run has be configured.

[2020-07-27 20:07] #6809 closed

[2020-07-27 20:07] slevenick commented on #6809
Was a permission error

[2020-07-27 20:15] onlydole opened #6861 "Update Google Service Account Key - Public Key Type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-27 20:34] doriandekoning commented on #6848
@danawillow @ndmckinley
Thanks for your replies! I've looked into making it a separate resource but I think this will cause some strange behaviour when importing instances. for example. Because afaik there is no way to distinguish a clone from a "real" instance after creation. I've taken a shot at this which can be seen here: https://github.com/terraform-providers/terraform-provider-google/pull/68

[2020-07-27 21:35] edwardmedia commented on #6861
@onlydole saw you have had above PR. You might want to update the file at `Magic Module` instead
https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/website/docs/r/google_service_account_key.html.markdown

[2020-07-27 21:40] edwardmedia commented on #6736
@ct-dh let's close this question as it is July 27th today. Please feel free to reopen it if you see a need to continue the question. Thanks

[2020-07-27 21:48] onlydole commented on #6861
@edwardmedia - thank you for the heads up! I have submitted a PR here: https://github.com/GoogleCloudPlatform/magic-modules/pull/3787

[2020-07-27 23:37] ahmadnassri opened #6865 "missing: apps.authorizedCertificates in google_app_engine_domain_mapping"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 03:01] edwardmedia commented on #6818
@1mdc I am closing this issue now. Please feel free to reopen it if you still have questions. Thanks

[2020-07-28 03:01] #6818 closed

[2020-07-28 08:13] ferrarimarco commented on #6855
@rileykarson the page is back online! Thanks.

Maybe it's a chance to add a sanity check to prevent this in MM? WDYT?

[2020-07-28 10:25] MaxenceAdnot opened #6867 "Reason: authError, Message: Invalid Credentials while creating GKE NodePool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-28 10:33] ct-dh commented on #6736
Just in-case anyone else looks at this, the IAM release notes say this change is being pushed back to the end of August 2020:

[code]
https://cloud.google.com/iam/docs/release-notes#July_20_2020

[2020-07-28 11:55] chrhansen commented on #6075
How would it look like when applied to an actual table? [The docs](https://cloud.google.com/bigquery/docs/column-level-security-intro#example_use_case) says that you add tags to a column/field using the schema, but Bigquery table schemas are often inferred (e.g. from a scheduled query) or using a heredoc, so it would be quite dirty to apply a tag to a schema string-interpolating it. Would it be so

[2020-07-28 12:11] brettcurtis opened #6868 "Billing Budget - Customize budget alert email recipients"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 13:00] aacloudlearn opened #6869 "terraform support of serverless vpc access connector in a shared VPC"
hello

the feature, serverless vpc access in a shared VPC, has been made available a few weeks ago.
https://cloud.google.com/functions/docs/networking/connecting-vpc#shared-vpc
Is it supported by terraform yet?
For non shared VPC , it is already supported
https://www.terraform.io/docs/providers/google/r/html

thanks and best regards

[2020-07-28 13:14] edwardmedia commented on #6869
@aacloudlearn  you might want to take a look into the argument, `vpc_connector`, which has same format.
`projects/HOST_PROJECT_ID/locations/CONNECTOR_REGION/connectors/CONNECTOR_NAME`
Let me know if that works for you.

[2020-07-28 13:24] edwardmedia commented on #6867
@MaxenceAdnot I can't run your code as key configs are in hidden modules. To verify if there are issues with `GKE NodePool`, can you run examples from below links?
https://www.terraform.io/docs/providers/google/r/container_node_pool.html

[2020-07-28 14:20] hashibot[bot] opened #6870 "GCP : Not able to attach instance_group to the target pool as backend while creating loadbalancer"
_This issue was originally opened by @b-rajesh as hashicorp/terraform#25689. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]

### Terraform Configuration Files

[code]

### Debug Output

This above config creates external TCP load bala

[2020-07-28 15:29] edwardmedia commented on #6870
@b-rajesh could you post the debug log?

[2020-07-28 15:44] fredo838 commented on #5528
@Arconapalus What do you mean "configured"? After the cloud run application is already deployed?

[2020-07-28 15:48] #6596 closed

[2020-07-28 16:08] rileykarson commented on #6855
There isn't much MM can do! The issue comes from how HashiCorp's provider release tooling works. It was built for a monotonous series of releases over time, with each release being a superset of the last. As such, it automatically overwrites the website with the latest release.

While performing a backport we accidentally overwrote the website with the old one. I think we missed an argument in the

[2020-07-28 16:52] Arconapalus commented on #5528
@fredo838  yes that's correct, once the cloud run services has been deployed and created.

[2020-07-28 16:53] rileykarson commented on #6842
I'm not sure there's much we can do in Terraform to fix this, unfortunately. We're sending correct requests to the API, but the GCE instances GKE provisions are failing to register themselves correctly as nodes. As @imrannayer's experience shows, it appears to be tied to the GKE K8S version and not the Terraform provider version. I've experienced the same myself intermittently, and it's generally

[2020-07-28 16:53] #6842 closed

[2020-07-28 17:53] pietrodn commented on #6075
I propose to strictly follow Google's API and abstraction model by providing policy tags in the table schema.
It's better to be explicit when setting security and access control policies, after all.

[2020-07-28 17:54] pietrodn commented on #6075
I like your proposal too! However, is it possible to define blocks with dynamic keys? Maybe it's better to use a map so that it can be generated dynamically.

[2020-07-28 20:00] devendradk opened #6872 "Validate function does not fail during plan or apply"
`Non working:`
https://github.com/terraform-providers/terraform-provider-google/blob/38aa8fadac5b6ea813308e6364581dd52a62e21b/google/resource_compute_address.go#L48

`Working:`
https://github.com/terraform-providers/terraform-provider-google/blob/38aa8fadac5b6ea813308e6364581dd52a62e21b/google/resource_compute_firewall.go#L84

`Terraform Version`
v0.12.0

`Terraform Configuration Files`

resource_

[2020-07-28 20:01] #5539 closed

[2020-07-28 21:12] c2thorn commented on #6861
Closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/3787
Thanks for helping us out with this @onlydole !

[2020-07-28 21:12] #6861 closed

[2020-07-28 22:24] dboshardy opened #6875 "`google_bigquery_job` does not execute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-28 22:59] Arconapalus commented on #6840
I'm having the same issue when deploying cloud endpoints. Terraform crash when terraform plan is ran in cloudbuild.
Also, I would like to pass in vars to cloud endpoints from cloud run url's. I have tested this locally and works fine, just to clarify that it works in cloudbuild. I'm passing the cloud run url's in root module via outputs.tf then, as vars to cloud endpoints then, to swagger.yml (tem

[2020-07-28 23:23] preston-hf commented on #5761
Just reporting in more resources: `google_bigquery_dataset_iam_member` also doesn't detect there's no project until apply-time.

[2020-07-29 00:59] mikhail-khodorovskiy commented on #6798
Still seeing the issue that the created ai notebooks asked to be replaced without any changes in the template:

[code]
follows by terraform apply produces:
[code]

[2020-07-29 01:11] b-rajesh commented on #6870
@edwardmedia
I dont see any error , I can attach the plan here if that makes sense

[code]

[2020-07-29 04:46] b-rajesh commented on #6870
@edwardmedia
As usual its my bad :( as I missed to refer the target pool in the google_compute_instance_group_manager . Now it works fine and load balancer can see those instances as backend.

On other note - my humble opinion too - it would have been much better if I am able to reference target_pool referencing the instance_group_manager . It would be better to do this way to understand the flow

[2020-07-29 07:53] jugup commented on #6840
@Arconapalus  To answer your first question, I think they have fixed the issue in master and as suggested by @slevenick  we might have expect a release on 3rd August. (Not sure when the docker image will be updated, I am waiting for that as well).

To answer the second part of the question, I did just cat on crash.log after terraform plan command.
Hope this helps

[2020-07-29 07:55] mejuhi commented on #6840
@Arconapalus   To answer your first question, I think they have fixed the issue in master and as suggested by @slevenick  we might have expect a release on 3rd August. (Not sure when the docker image will be updated, I am waiting for that as well).

To answer the second part of the question, I did just cat on crash.log after terraform plan command.
Hope this helps

[2020-07-29 08:00] sannnan commented on #1959
so any update so far?

[2020-07-29 10:14] andyroyle opened #6876 "google_compute_backend_service doesn't support serverless NEGs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-29 10:26] longwuyuan opened #6877 "Terraform crashes with nil context when making requests"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-29 13:37] edwardmedia commented on #6875
@dboshardy could you post your full debug log?

[2020-07-29 13:50] saranicole opened #6878 "Add support for pd-balanced storage option"
Google has come out with a new storage option pd-balanced - https://cloud.google.com/compute/docs/disks#disk-types .  It would be great to be able to provision this via Terraform.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainer

[2020-07-29 14:27] RuchirCR7 opened #6879 "Getting error "Error refreshing state" when using Circle CI with Terraform"
Getting the below mentioned error when trying to run Terraform generated code using Circle CI.
Error refreshing state: state snapshot was created by Terraform v0.12.29, which is newer than current v0.12.28; upgrade to Terraform v0.12.29 or greater to work with this state

When using Terraform.io to perform the same operation the error is not encountered in command line.
It was working previously u

[2020-07-29 16:19] dontgetit opened #6880 "google_endpoints_service panic: time: missing Location in call to Time.In"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-29 17:11] rileykarson opened #6882 "Add sweeper for IGM/RIGM"
Similar to https://github.com/terraform-providers/terraform-provider-google/issues/5651, sweeping igms/rigms will reduce the # of instances we keep around and therefore the subnetworks/networks/routes they reside in.

[2020-07-29 17:15] danawillow commented on #6798
Thanks @mikhail-khodorovskiy, I'll look into making the same fixes for the fields that are showing changes now.

[2020-07-29 17:34] edwardmedia commented on #6880
@dontgetit can you post the full debug log? Thanks

[2020-07-29 17:42] rileykarson commented on #6879
Hey @RuchirCR7!

This error isn't specific to the Google provider. The [`hashicorp/terraform` repo](https://github.com/hashicorp/terraform) is a more relevant place to file this issue.

Is it possible that the version of Terraform [Core] that you use in CI has regressed, or that someone edited the state file using a local copy of Terraform that's ahead in versions? The solution to this is almost c

[2020-07-29 17:42] #6879 closed

[2020-07-29 18:29] rileykarson commented on #6877
I'm unable to reproduce this using the datasource alone or in your provided config. Do other datasources and resources work? Does it work differently if you specify a different network?

The panic appears to be related to a context that's set to `nil`. However we don't actually set a context on a per-request basis. If this datasource fails, I'd expect all requests to fail.

[2020-07-29 18:50] ahmadnassri opened #6884 "project field is both required and cannot be set on data.google_compute_network_endpoint_group [schrodinger state]"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-29 19:34] dboshardy commented on #6875
I can't post our full log ,but looking at the debug trace, the google api returns a 200 response but the response contains this:

[code]

So there's two issues. Looking at the debug trace, while the plan shows `use_legacy_sql = false` the create job request doesn't have any `useLegacySql` property in the `configuration` object.

Despite the 200 response, IMO this should return an error that the jo

[2020-07-29 19:51] dboshardy commented on #6875
It looks like I'm not the first to encounter the `use_legacy_sql` bug, as this issue was closed without resolution in April:
https://github.com/terraform-providers/terraform-provider-google/issues/6231

[2020-07-29 20:34] dboshardy commented on #6875
It looks like this line is the culprit [0].  That will always return true for a false boolean value.  That means this statement[1] always evaluates to false:

[0]https://github.com/terraform-providers/terraform-provider-google/blob/master/google/transport.go#L29
[1]https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_big_query_job.go#L1867

[2020-07-29 20:36] kaisellgren opened #6887 "Terraform crashed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-29 21:01] dontgetit commented on #6880
@edwardmedia   I recreated the issue  in cloud shell  by creating a simple endpoints resource. If I remove the tzdata package from cloud shell  - then I get the problem when trying to plan any change -  the crash.log is in this [gist](https://gist.github.com/dontgetit/46f76c4cbbd9b8152104f39d0d77c37f)    Thanks.

[2020-07-29 21:59] mltsy opened #6889 "Changing a node_pool's initial_node_count forces recreation of the whole container_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-29 22:42] edwardmedia commented on #6884
I do receive error if I set project in the config. (Using environment variable works)

[2020-07-29 22:53] edwardmedia commented on #6889
@mltsy where do you see `initial_node_count` on Web GUI? I updated the `Number of Nodes` on the Weg GUI and then run `tf plan`, it  shows below which seems make sense. Is this not what you saw?
[code]

[2020-07-29 23:16] mltsy commented on #6889
Oh - that's strange.  That is the same thing I did, but that is not what I saw.  The output I got showed:
[code]

I did do this about 2 weeks ago, and just haven't gotten around to submitting the ticket (because I wanted to make sure the provider in the config was relatively up-to-date which it was) so, the GUI does look slightly different now from what I recall 2 weeks ago.  It's possible that ha

[2020-07-29 23:53] Ginja commented on #3650
Just experienced this using `3.25.0`.

[code]

[2020-07-30 00:00] mltsy commented on #6889
Okay - I just did it again, and was able to reproduce the same result.  This is a screenshot of the field I edited:

![image](https://user-images.githubusercontent.com/248385/88865541-c9a8b880-d1cd-11ea-9a4d-5fd6c69b1222.png)

[2020-07-30 00:32] longwuyuan commented on #6877
- Other resources work (at least in the conig I have pasted)
- If I delete the vpc.tf that contains nothing more than just that data source VPC, then no crash
- My need is to put a VM in that default VPC so I am not creating a network
- What is "context" here ?  Is it description of the default network. It is empty

![image](https://user-images.githubusercontent.com/5085914/88867014-cf1cf780-d1fb-

[2020-07-30 01:02] edwardmedia commented on #6889
@mltsy That is the same place where  Could you share your debug log? Thanks

[2020-07-30 11:24] dansiviter opened #6891 "Enhancement: Support for Network Intelligence"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-30 11:50] MaxenceAdnot commented on #6867
I refactored my module and managed to get it working 100% of the time. I also tested the GKE NodePool on its own with no context and it worked too. I guess the problem was between the chair and the keyboard...

Sorry for the inconvenience then and thank you for your support.

[2020-07-30 11:50] #6867 closed

[2020-07-30 12:19] longwuyuan commented on #6877
now it crashed on apply
[code]
[crash.log](https://github.com/terraform-providers/terraform-provider-google/files/5001142/crash.log)

[2020-07-30 14:19] mltsy commented on #6889
Well, practically everything in the plan is new, because of the re-creation, but if you look at the next line you can see it's saying the `initial_node_count` is the reason for the replacement (it literally says `# forces replacement` on that line, I didn't add that).

I verified this by using `gcloud` CLI to describe the node_pool, where I can see that the intial_node_count has changed from 1 to

[2020-07-30 15:02] mltsy commented on #6889
Here's a simpler way to reproduce the root cause, and figure out why you're not seeing the same thing as me:

1. `gcloud container clusters create joes-test --region=us-central1` (wait for it to complete)
1. `gcloud container clusters describe joes-test | grep initialNodeCount` (should be 3)
1. Change the "Number of Nodes" in Cloud Console from 3 to 1 and wait for it to finish resizing
1. `gcloud

[2020-07-30 15:06] mltsy commented on #6889
Let me know if you still need a debug log - I think this should help you reproduce the issue (without needing a debug log?)

[2020-07-30 15:09] mrzor opened #6892 "google_compute_instance > boot_disk > auto_delete update should not force replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-30 16:30] rileykarson commented on #6813
The magic words `fix #6813` in a vendoring change closed this. Sorry for the noise!

[2020-07-30 16:56] longwuyuan commented on #6877
I am running terraorm binary on my linux laptop.
Can you kindly hint at some likely atypical scene on laptop.
I deleted .terraform directory and init again but GRPCStdio still shows up again on apply
Does my go env matter ?
![image](https://user-images.githubusercontent.com/5085914/88951338-5c585e80-d285-11ea-9ca6-2ef9cbc6720a.png)

[2020-07-30 16:59] rileykarson commented on #6877
Thanks! The linked Azure issue mentioned an atypical environment, so I was wondering if that was the case here. Turns out we also recently got another issue with the same message and error: https://github.com/terraform-providers/terraform-provider-google/issues/6887

[2020-07-30 16:59] rileykarson commented on #6887
I believe this is the same issue as https://github.com/terraform-providers/terraform-provider-google/issues/6877. I'm going to deduplicate there.

[2020-07-30 17:40] longwuyuan commented on #6877
3.31 also crashed
3.23 did not crash
With 3.23 .. I saw normal error in my .tf file ;
[code]

[2020-07-30 17:48] edwardmedia commented on #6889
@mltsy I see. In my test, I did not have below line in  `google_container_node_pool`. It is only in `google_container_cluster`
[code]

[2020-07-30 18:10] longwuyuan commented on #6877
![image](https://user-images.githubusercontent.com/5085914/88958323-d392f000-d28f-11ea-852a-cb9a1468f304.png)

![image](https://user-images.githubusercontent.com/5085914/88958408-f32a1880-d28f-11ea-8160-0381125e4183.png)

[2020-07-30 18:41] rileykarson commented on #6877
Thanks for all the context! We've identified a potential fix, although nobody on my team has been able to reproduce the issue. We'll merge it- https://github.com/GoogleCloudPlatform/magic-modules/pull/3800- and push it through to the next valid release. Even if it isn't ultimately the fix, it's harmless to add either way.

That should release as part of `3.34.0`. In the meantime, versions `3.30.0`

[2020-07-30 19:14] rileykarson commented on #6880
Closing as a dupe of #6840. That fix will release on Monday in `3.33.0`. While `3.32.0` released since that change was merged, we tend to cut release branches on the prior Wednesday to give us some flexibility to patch in changes if required.

If you're still encountering the issue on `3.33.0+`, please feel free to comment here or file again!

[2020-07-30 19:14] #6880 closed

[2020-07-30 20:22] Arconapalus commented on #6840
Right on thanks!!

Yes that worked for me thank you

[2020-07-30 20:48] mltsy commented on #6889
Yes!  In fact, that is the work-around we're currently using, and it seems to be working alright 😃

However, I think there are cases where one might want to actually set an `initial_node_count` (for faster provisioning of a new cluster) - and in that case, it would be nice if the provider wouldn't try to destroy the cluster if that ever changes.  I think the reason the GKE API's setSize endpoint c

[2020-07-30 22:38] iangudger opened #6894 "Enhancement: expose google_storage_bucket_object.media_link"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-30 22:57] edwardmedia commented on #6889
@mltsy I am glad the workaround works for you. You have made good use cases. Please file an [enhancement](https://github.com/terraform-providers/terraform-provider-google/issues/new?template=enhancement.md) to continue for the requirements. I am closing this issue then.

[2020-07-30 22:57] #6889 closed

[2020-07-30 23:00] edwardmedia commented on #6872
@devendradk I can't repro the issue. Can you post your test configs? Thank you

[2020-07-30 23:08] edwardmedia commented on #6875
@dboshardy can you create a job without a destination using a different way? If you can, could you post the steps? Thank you

[2020-07-30 23:09] Arconapalus opened #6895 "Error: creating folder when creating project in a specified folder"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-30 23:13] edwardmedia commented on #6876
@andyroyle can you see if **google_compute_region_backend_service** works for you? If not, can you post your debug log?

[2020-07-30 23:16] mltsy commented on #6889
I'll try to open an enhancement request tomorrow.  For now, I think it would make sense to at least document and warn users about this odd behavior (#6896)

[2020-07-30 23:23] edwardmedia commented on #6895
@Arconapalus what roles does this account (var.credentails_file) have? Please note `folder` is above projects and creating a folder requires folder level permissions.

[2020-07-30 23:54] edwardmedia commented on #6870
@b-rajesh I am glad your issue has been resolved. To answer your question, could you review below doc to see if that makes sense? I am closing this issue now. Please feel free to reopen it if you still need to continue the discussion. Thank you

https://cloud.google.com/compute/docs/instance-groups/adding-an-instance-group-to-a-load-balancer#adding_a_managed_instance_group_to_a_target_pool

[2020-07-30 23:54] #6870 closed

[2020-07-31 01:11] longwuyuan commented on #6877
Thanks.
I will test and update on 3.34.
I just need to change the version string so not complicated at all.

[2020-07-31 01:43] ryanyuan commented on #6813
cool. thank you @rileykarson

[2020-07-31 02:28] rakyll opened #6898 "Cloud Spanner resources could document the lifecycle argument"
Similar to https://www.terraform.io/docs/providers/google/r/bigtable_table.html, google_spanner_instance and google_spanner_database could document the availability of the lifecycle argument to prevent accidental destructions.

[2020-07-31 08:50] SimonTheLeg opened #6899 "Creating custom role returns 400 with cryptic error message"
### Terraform Version

[code]

### Affected Resource(s)
* google_organization_iam_custom_role

### Terraform Configuration Files

[code]

### Debug Output

https://gist.github.com/SimonTheLeg/d598751ddc6deabdfe7077dc2ba51007

### Expected Behavior

Create the custom role on org level.

### Actual Behavior

[code]

### Steps to Reproduce

1. `terraform apply` with the aforementioned role

[2020-07-31 09:37] Shriyut commented on #3336
Has anyone figured out how to use remote-exec provisioner with gce. I'm getting a known hosts key mismatch error when i try to do the same.

[2020-07-31 14:26] edwardmedia commented on #6899
@SimonTheLeg the error message has told us something. What roles do you give to the Terraform runner? I have checked your log file but if you could share earlier calls like `POST` requests / responses, it would be helpful.

[2020-07-31 14:59] BradErz commented on #1959
would be nice to have this

[2020-07-31 15:03] benhoskings opened #6900 "Shielded instance config parameters don't match"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-31 15:33] mltsy opened #6901 "Ignore initial_node_count setting for Node Pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-31 16:08] Arconapalus commented on #6895
@edwardmedia Ok so this resource is creating a new folder? Which is not what I want to do then, I'll have to use the data source right? If so, then this is where I was confused.

[2020-07-31 16:17] edwardmedia commented on #6898
@rakyll below is the API that is behind the resource. Which attribute do you refer to?
https://cloud.google.com/spanner/docs/reference/rest/v1/projects.instances.databases

[2020-07-31 16:22] edwardmedia commented on #6895
@Arconapalus yes. Below is the link to its data source. I am closing this issue then. Feel free to reopen it if you need to continue the discussion. Thanks
https://www.terraform.io/docs/providers/google/d/folder.html

[2020-07-31 16:22] #6895 closed

[2020-07-31 17:02] edwardmedia commented on #6900
I see the `shieldedVmConfig` in the request payload as well. Below is the schema section from https://cloud.google.com/compute/docs/reference/rest/v1/instances

[code]

[2020-07-31 17:02] rileykarson commented on #6892
This probably makes sense to fix as part of https://github.com/terraform-providers/terraform-provider-google/issues/6857

[2020-07-31 17:06] rileykarson commented on #6900
Assigning to next week's bug onduty (@ndmckinley) as it's Friday.

It's worth noting that we use the beta API for this resource, where `shieldedVmConfig` was the original name of the field. Both appear, though: https://cloud.google.com/compute/docs/reference/rest/beta/instances

[2020-07-31 17:12] edwardmedia commented on #6900
I also see it in the `v0.beta`
https://godoc.org/google.golang.org/api/compute/v0.beta#ShieldedVmConfig

[2020-07-31 18:17] rakyll commented on #6898
@edwardmedia, sorry that I was not specific enough.

I was wondering if we can  suggest the following Terraform's [prevent_destroy](https://www.terraform.io/docs/configuration/resources.html#prevent_destroy) for Cloud Spanner resources as well?

[code]

An example from BigTable:

[code]

[2020-07-31 18:33] ctwilleager commented on #6901
This is actually more of a significant problem than a simple enhancement. For my deployment mode, I am essentially forced to use the "initial_node_count" option because otherwise the provider spins up empty nodepools with no workers, despite Autoscaling being defined with a minimum node count of 1. If someone else comes in and changes the value via the UI or some other means, and I attempt to reru

[2020-07-31 18:36] rakyll opened #6902 "Cloud Spanner config is missing multi-regional config examples"
The current description for [instance config](https://www.terraform.io/docs/providers/google/r/spanner_instance.html) only contains regional configuration examples.

Please also provide a multi-regional configuration to document the format required by the module.

We can say something like the following sentence in the description:

config - (Required) The name of the instance's configuration (sim

[2020-07-31 18:45] edwardmedia commented on #6898
@rakyll `lifecycle` block is a Terraform feature. It should be available for all resources. Can you try it in Spanner to see if that works?

https://www.terraform.io/docs/configuration/resources.html#lifecycle-lifecycle-customizations

[2020-07-31 19:22] maroux opened #6904 "Add support for warm up requests in `google_app_engine_standard_app_version`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-31 20:12] rakyll commented on #6898
It works as expected, we should document it as a good practice the way BigTable does.

[2020-07-31 20:54] mltsy commented on #6901
Yeah, I agree that this is more a bug than an enhancement, but after filing the bug (#6889) @edwardmedia suggested that since I was able to work around the bug, fixing it should be filed as an "enhancement" ticket.  Sounds like you're not able to work around it, so maybe the bug should be reopened - I don't know.  I am curious what your "deployment mode" is though, where it ends up spinning up 0 n

[2020-07-31 21:26] ctwilleager commented on #6901
@mltsy I'm deleting the default node pool and then using Terraform's "google_container_node_pool" resource to deploy the actual node pools configured to our requirements. If I don't specify the "initial_node_count" value in the "gke_container_node_pool" resource, then Terraform provisions the node pools as empty, even if Autoscaling configuration has been defined with a minimum of 1 worker.

Howev

[2020-07-31 23:17] edwardmedia commented on #6869
@aacloudlearn is this still an issue with you?

[2020-08-01 09:40] cldlrn commented on #6869
hello
thanks for your answer.
I did not  test it yet

[2020-08-01 16:23] kaisellgren commented on #6877
I can confirm that 3.30.0 version worked for me! So, there's something wrong with the 3.32.0.

[2020-08-02 10:49] Pylypp opened #6906 "Issue with data source: google_compute_backend_bucket"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-02 13:13] dex4er opened #6907 "google_memcache_instance: Cannot fetch an endpoint for memcached instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-02 13:48] dhvogel opened #6908 "How to set up a test environment?"
Hi terraform-provider-google team --

I am trying to test changes for my first magic-modules contribution [0]. To do so, I have set up a test project within a test organization, linked to a valid billing account that I have created. I have granted myself administrator access to the billing acocunt, the project, and the organization. However, when I try to run the test [1], I see the following erro

[2020-08-03 00:15] rjerrems opened #6909 "OS Config - patch deployment for Windows only supports one classification"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-03 13:26] sergeunity opened #6910 "Gvisor feature doesn't handle label and taint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-03 13:29] mltsy commented on #6901
Oooh, I didn't know that was an option!  I haven't used a lifecycle block before... well that's interesting.  I mean I still think that would be a good default behavior, but thank you for a great workaround!

[2020-08-03 14:32] #6906 closed

[2020-08-03 14:32] Pylypp commented on #6906
Wrong backend bucket name used

[2020-08-03 15:55] dboshardy commented on #6875
Yes, if you use `use_legacy_sql = true` or left unspecified (default is true), and use a valid legacy sql query, it works.  If you use a standard sql query, and `use_legacy_sql = false` the legacy sql setting is not honored. When applying, you get an error in the debug level, but not in info. The resource says it was created successfully, but it in fact errorred and was not created. As per my resp

[2020-08-03 16:05] danawillow opened #6911 "Confidential VMs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 16:07] rileykarson opened #6912 "Fix TestAccContainerCluster_misc"
Newer GKE versions don't support the legacy monitoring/logging plugins, which this test uses. We can lock the GKE version in the test to a `1.14` prefix (the last version supporting the legacy plugin) or remove the legacy entirely. `1.14` will be around for 3 more months at which point GKE will remove support entirely.

[2020-08-03 16:08] rileykarson opened #6913 "Fix TestAccComputeInstance_shieldedVmConfig1, TestAccComputeInstance_shieldedVmConfig2"
Related: https://github.com/terraform-providers/terraform-provider-google/issues/6900

[2020-08-03 16:09] danawillow opened #6914 "Add user project overrides to GKE and service usage resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 16:11] rileykarson opened #6915 "Fix TestAccNotebooksInstance_* suite"
Errors like the following throughout:

[code]

[2020-08-03 16:19] danawillow opened #6916 "Add support for composer machine type selection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 17:02] #6850 closed

[2020-08-03 17:07] #6884 closed

[2020-08-03 17:21] danawillow commented on #6891
I think you're looking for https://www.terraform.io/docs/providers/google/r/network_management_connectivity_test_resource.html. Closing since I think this is already done, but feel free to reopen if I'm wrong.

[2020-08-03 17:21] #6891 closed

[2020-08-03 17:27] dansiviter commented on #6891
@danawillow Yea, that looks the one. Thanks

Bit strange that it doesn't mention 'network intelligence'.

[2020-08-03 17:28] danawillow commented on #6901
Note to the team: probably setSize is the way to go on this, but whoever takes it should investigate a bit how the API behaves.

[2020-08-03 17:33] danawillow commented on #6904
This looks possible via https://www.terraform.io/docs/providers/google/r/app_engine_standard_app_version.html#inbound_services (as per https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#inboundservicetype).

Changing this to docs change.

[2020-08-03 17:40] dboshardy commented on #6875
I have a fork that fixes these issues [0]. However, it opens up some more issues, primarily:

1. DML statements cannot have a `create_disposition` or `write_disposition` set which is always set by default to the default values, `CREATE_NEVER`, `WRITE_EMPTY`.

[0] https://github.com/dboshardy/terraform-provider-google

[2020-08-03 17:47] dlorch opened #6919 "Documentation: attribute values instead of value for node_affinities block"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-03 18:09] dboshardy commented on #6875
After investigating, specifying `create_disposition = ""` and `write_disposition = ""` will properly create DML query jobs.  My fork contains a change to docs to note this.

Shall I create a PR with my fork? @ndmckinley

[2020-08-03 19:03] #6813 closed

[2020-08-03 19:04] danawillow commented on #5017
Added in https://github.com/GoogleCloudPlatform/magic-modules/pull/3793.

[2020-08-03 19:04] #5017 closed

[2020-08-03 21:12] edwardmedia opened #6927 "iamPolicyVersion needed to be configurable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 21:56] #6898 closed

[2020-08-03 22:38] morevillo commented on #6909
When running an apply with only one classification (eg: SECURITY), getting the following error
`Error: Error reading PatchDeployment: patch_config.0.windows_update.0.classifications: '' expected type 'string', got unconvertible type '[]interface {}'
  on deployer_compute.tf line 44, in resource "google_os_config_patch_deployment" "patch_deployer":
  44: resource "google_os_config_patch_deployment"

[2020-08-03 23:41] danawillow commented on #6724
The internal issue has been marked fixed, and we're seeing a lot less failures than we were before. There's still a small amount of flakiness, but marking this as resolved for now.

[2020-08-03 23:41] #6724 closed

[2020-08-04 00:05] #6894 closed

[2020-08-04 01:19] edwardmedia commented on #6908
@dhvogel  The test uses Terraform-specific `service account` for the authentication and authorization. You may want to review https://www.terraform.io/docs/providers/google/guides/provider_reference.html#full-reference for that.
1) Have you created the environment variable which points to the `service account`? Like GOOGLE_CREDENTIALS
2) For this `service account`, does it have right roles? In you

[2020-08-04 01:48] edwardmedia commented on #6869
@cldlrn I am closing this issue. Feel free to reopen it if you need to continue the discussion. Thanks

[2020-08-04 01:48] #6869 closed

[2020-08-04 08:44] SoundaryaChinnu144 commented on #6877
Same panic error i got with version 3.32.0, after downgrade to 3.30.0 looks fine.
Thanks for the update.

[2020-08-04 12:22] 7adietri opened #6930 "Unexpected behaviour in google_container_cluster when using separate node pool and tags"
When running a second `terraform apply` for a `google_container_cluster` that is using `node_config.tags` on either the default node pool or a separate pool (but not both), Terraform wants to replace the cluster unexpectedly to "update" the tags. Our setup deletes the default node pool and uses just a separate one.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://b

[2020-08-04 12:34] alexandre-cruel opened #6931 "Schema update for bigquery table"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-04 13:04] Shriyut opened #6932 "Remote-exec provisioner doesn't work with gcp vm"
I'm trying to use remote-exec provisioner for a use-case related to my project on GCP using Terraform version 12, based on the format specified in terraform docs I get a known hosts key mismatch error after the provisioner timesout.

`resource "google_compute_instance" "secondvm" {
    name = "secondvm"
    machine_type = "n1-standard-1"
    zone = "us-central1-a"
 boot_disk {
            initiali

[2020-08-04 13:41] thearchitectt opened #6933 "google_compute_instance_from_template missing attribute references"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-04 13:46] stolendog commented on #6260
the same here, I cannot disable logging on existing google_compute_backend_service

[2020-08-04 16:44] #6798 closed

[2020-08-04 16:44] #6915 closed

[2020-08-04 17:44] sharkymcdongles commented on #5935
I would love to have this! <3

[2020-08-04 20:09] JSchwerberg commented on #4448
Adding a +1 for this feature request.  Using RSA-wrapped CSEKs means that we don't have to store a raw, obfuscated encryption key containing a private key in state, and can instead store an encrypted encryption key wrapped with Google's public key, that only Google can decrypt, which is obviously a much more desirable, secure option.

[2020-08-04 20:51] #6535 closed

[2020-08-04 22:43] Arconapalus commented on #5528
I see that this fixed for modular-magician, I'm running into the same problem with TerraForm CLI in cloudbuild env.
Would this be the right place to make an issue?

[2020-08-04 22:51] #6816 closed

[2020-08-04 22:58] danawillow commented on #2082
@rakyll I noticed you're now proposing that people not manage their schema in TF at all. I think this is probably smart- writing ALTER statements isn't really a great fit for a declarative tool, since it means the same config can't be applied to a blank slate to create the same environment.

We'll probably still want to have update support for these statements anyway though so that people who wish

[2020-08-04 23:16] Arconapalus commented on #5528
seems as this is fixed, just tested this with TerraForm 0.12.29

Thank you

[2020-08-05 01:14] charleskorn opened #6936 "google_artifact_registry_repository after import reported as needing to be recreated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-05 03:19] #6927 closed

[2020-08-05 04:41] lucasteligioridis commented on #6900
Just to add to this, looks like Google have recently created backwards compatibility with this, here is a snippet of the response body in terraform debug mode:

[code]

[2020-08-05 05:08] ndmckinley commented on #6900
That makes sense - the deprecation policy says that they're supposed to do that - but we should still switch to the un-deprecated name.  Thanks for letting us know!  :)

[2020-08-05 05:10] lucasteligioridis commented on #6900
No problem, happy to help 👍
But to further clarify, looks like in between @benhoskings and my attempts something was changed. Hence our different results.

[2020-08-05 05:22] ndmckinley commented on #3898
I'll be consulting with the team next week, so we can gather the right information and add this to our roadmap at our next sprint planning meeting, a week from next monday.

[2020-08-05 06:01] PratikshaInfoworks commented on #6370
i am facing the same issue as well. using * provider.google: version = "~> 3.33" but getting

`module.singlenode.data.google_compute_subnetwork.subnetwork: Refreshing state...
module.singlenode.data.google_project.project: Refreshing state...

Error: rpc error: code = Unavailable desc = transport is closing

Error: rpc error: code = Unavailable desc = transport is closing

panic: nil context
2020-

[2020-08-05 07:53] neurolabs commented on #5528
@Arconapalus  with which version of the google provider did you test?

[2020-08-05 08:39] aymericbbc opened #6937 "google_bigquery_dataset_iam does not support jobUser and user roles"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-05 08:59] jgireeshj opened #6938 "Invalid resource type "google_cloud_asset_organization_feed""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-05 11:34] alessiofranceschini opened #6939 "Include google_service_account_key import"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-05 13:20] hashibot[bot] opened #6940 "Terrafrom Crash"
_This issue was originally opened by @cah-ed-hammond as hashicorp/terraform#25742. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

This works:
[code]
This causes the crash:
[code]

### Terraform Configuration Files

### Debug Output
Error: r

[2020-08-05 13:58] upodroid commented on #5784
Hi

This value has been added now and should ship with provider version 3.34 which should be released next week.

https://github.com/GoogleCloudPlatform/magic-modules/pull/3805

[2020-08-05 14:04] upodroid commented on #5577
@vDMG If you grant the role at the project, every instance in the project will inherit the role. It also eventually consistent so if you grant the role, you won't be able use the IAP tunnel immediately so you have to wait a minute or two.

@danawillow we can close this issue out

[2020-08-05 15:29] edwardmedia commented on #6938
@jgireeshj I can't repro your issue. There is a daily test using the example and it works fine. It seems your code is not exact same as the example. Could you post your config and full debug log? Also what roles (permissions) does the Terraform runner has?

[2020-08-05 16:20] jen20 opened #6941 "`google_compute_snapshot` does not support setting `storage_locations`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-05 16:56] Arconapalus commented on #5528
* provider.google: version = "~> 3.33"

[2020-08-05 17:05] #6907 closed

[2020-08-05 17:06] #5577 closed

[2020-08-05 18:00] #6900 closed

[2020-08-05 18:00] #6913 closed

[2020-08-05 18:16] ndmckinley commented on #6940
This is a duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/6877, was most likely fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/3800, which will be released in 3.34.0, next monday.  This issue seems to be intermittent and environment-dependent, and we haven't been able to reproduce it, unfortunately.

[2020-08-05 18:16] ndmckinley commented on #6940
I'm going to close this in favor of tracking at #6877.

[2020-08-05 18:16] #6940 closed

[2020-08-05 18:56] #6774 closed

[2020-08-05 20:17] curtbushko commented on #3069
+1 for looking for a fix for this.

[2020-08-05 22:37] #6909 closed

[2020-08-05 22:41] edwardmedia commented on #6910
@sergeunity I don't see abnormal behavior. Below is what I got in the state related to that portion. I ran `tf plan` and the initial apply and it does not show any difference. Could you be more specific how to repro your issue?

[code]

[2020-08-05 23:10] dhvogel commented on #6908
Thanks, I am able to run tests by using a service account and giving the service account permissions on the billing account. Thank you!

[2020-08-05 23:50] #6912 closed

[2020-08-06 04:58] edwardmedia commented on #6908
@dhvogel I am glad you are able to run tests now. so I am losing this issue. Feel free to reopen it if you still need further discussion. Thanks

[2020-08-06 04:58] #6908 closed

[2020-08-06 05:52] mejuhi commented on #6840
@Arconapalus  I tried again, issue is fixed, you can use docker image and try it as well

[2020-08-06 06:33] lawliet89 opened #6948 "Support uploading public keys for service accounts"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-06 07:15] jgireeshj commented on #6938
@edwardmedia please find the below code I am using:

provider "google-beta" {
  project  = "my-project-name"
}

# Create a feed that sends notifications about network resource updates.
resource "google_cloud_asset_organization_feed" "default" {
  project          = "my-project-name"
  feed_id          = "network-updates"
  content_type     = "RESOURCE"

  asset_types = [
    "compute.googleapis.co

[2020-08-06 07:18] jgireeshj commented on #6938
First I used the provider as google
provider "google" {
  project  = "my-project-name"
}

as this was not working, I've tried using google-beta

provider "google-beta" {
  project  = "my-project-name"
}

The version of terraform is up-to date

[2020-08-06 07:27] jgireeshj commented on #6938
Steps:

1.  terraform init
2. terraform validate

while running a validate command I am getting the below error:

**_

Error: Invalid resource type

  on test_assets_monitoring.tf line 7, in resource "google_cloud_asset_organization_feed" "default":
   7: resource "google_cloud_asset_organization_feed" "default" {

The provider provider.google does not support resource type
"google_cloud_asset_org

[2020-08-06 10:44] gmartinez-anchor opened #6949 "google_compute_instance metadata inconsistency with full plan and target plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-06 11:13] gmartinez-anchor commented on #6949
After further testing, it appears that we caused this problem ourselves.

We followed the recomendation from [Allowing or blocking project-wide public SSH keys from a Linux instance](https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys#block-project-keys), where it suggests `--metadata block-project-ssh-keys=TRUE`, and since terraform only allows booleans as lowercase, we used

[2020-08-06 11:13] #6949 closed

[2020-08-06 12:01] sergeunity commented on #6910
I saw that yesterday the taint is ok. But not lablels.

Add some labels to you node-pool and that will enable the issue.

[2020-08-06 13:07] mrzor opened #6950 "google_compute_instance > boot_disk > auto_delete should not have a default value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-06 14:17] preston-hf commented on #6833
I got debug logging turned on and caught this again. Is it possible that it's actually two different resources fighting over the same IAM policy? One of them changes it in parallel after the other resource has already fetched the old policy as part of the previous apply or plan, and it looks like it's making the same request over and over with the same etag. Is there some way to resolve this? Make

[2020-08-06 14:47] preston-hf commented on #6833
I think the fix in #6235 actually caused this bug. It now retries the request when it gets a 412, but it retries without refreshing the etag. I think it should actually fail in this case and we should serialize changes to this resource in terraform. Not sure that's something the provider needs to handle or can we specify it in our tf config? I don't really want to make various iam_members arbitrar

[2020-08-06 15:11] edwardmedia commented on #6938
@jgireeshj  do you provide **billing_project** somewhere? It is required argument.

```billing_project - (Required) The project whose identity will be used when sending messages to the destination pubsub topic. It also specifies the project for API enablement check, quota, and billing.```

[2020-08-06 15:13] edwardmedia commented on #6910
@sergeunity can you post your code showing how do you use the `labels` so I can repro the issue? Thanks

[2020-08-06 15:15] dhvogel opened #6952 "How to test magic modules contribution"
If you have a support request or question please submit them to one of these resources:

* [Terraform community resources](https://www.terraform.io/docs/extend/community/index.html)
* [HashiCorp support](https://support.hashicorp.com) (Terraform Enterprise customers)
* [Google Cloud Platform Slack](https://gcp-slack.appspot.com/)

Hi Magic Modules Team --
I am trying to test a contribution to the

[2020-08-06 15:17] sergeunity commented on #6910
Sure
[code]

[2020-08-06 15:44] ccancellieri opened #6953 "disk create: Enable multi-writer option"
Hi,
 I'm trying to enable beta (or alpha) --multi-writer flag in my gcloud project doing:

`
$ gcloud beta compute disks create XXXXXXXXXX-disk --project=XXXXXXXX --type=pd-ssd --size=30GB --zone=us-central1-a --multi-writer --physical-block-size=4096 --verbosity="debug"
`

With no success... the documentation says that it's possible to use that option but it doesn't work currently.

And: .... Is

[2020-08-06 16:17] danawillow commented on #6938
Drive-by (I happened to be browsing the issue tracker, don't mind me): That resource was added in v3.32.0. So according to the versions of the google and google-beta providers that you've specified, only the google-beta provider will have support for that resource. You can specify the beta provider by putting `provider = google-beta` in the resource block.

@edwardmedia, not setting a required fie

[2020-08-06 16:20] hashibot[bot] opened #6954 "Unable to fetch zones in Google Cloud"
_This issue was originally opened by @harshchauhan1988 as hashicorp/terraform#25724. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

PS D:\codeRepo\terraformcodes\azure> te

[2020-08-06 16:20] edwardmedia commented on #6910
@sergeunity I don't see `labels` available in `google_container_node_pool`. Have you tried to put it in the `google_container_cluster` instead?

[2020-08-06 16:22] #6390 closed

[2020-08-06 16:28] slevenick commented on #6833
It makes sense that modifying the IAM policy changes the etag which causes it to continue to fail trying to apply with the old etag. Generally two IAM resources on the same parent should use a mutex to prevent simultaneous updates, but with somewhat asynchronous APIs I could see something going wrong there.

Maybe we should revert that PR and no longer poll on 412 as it seems to be an unretryable

[2020-08-06 16:32] edwardmedia commented on #6952
@dhvogel thank you for your efforts to the contributions. I would suggest review the docs and follow the steps before running the tests.

https://github.com/terraform-providers/terraform-provider-google/blob/master/.github/CONTRIBUTING.md#tests

[2020-08-06 16:37] edwardmedia commented on #6953
@ccancellieri  for this feature, where did you see? Can you post the doc over here that will be helpful? Thanks

[2020-08-06 16:52] sergeunity commented on #6910
Yes it is available, in `google_container_node_pool ` we use  the `node_config` to setup the poll and there is labels.

You don't find labels in the because for node_config you have to get parameter in `google_container_cluster`

[code]

It is already working, I have multiple node_pool with labels and just one in with gvisor.

That answer your question

[2020-08-06 16:55] dhvogel commented on #6952
I have, and even after following those steps, I am seeing an error compiling a dependency.

[2020-08-06 16:59] edwardmedia commented on #6952
@dhvogel looks like you built the `ga` but I have no idea why it references `beta` ( see in the log )
For this particular test, the Terraform runner needs "billing.resourceAssociations.create"

[2020-08-06 17:02] dhvogel commented on #6952
Yes, and the lack of billing permissions was the error encountered in https://github.com/hashicorp/terraform-provider-google/issues/6908.

When I pull the latest terraform-google-provider from head, I can run the test just fine, so I am sure this is not an IAM issue.

This issue only occurs when I generate the terraform-google-provider code from the upstream magic-modules contribution.

[2020-08-06 17:36] gturetsky commented on #5687
I was looking for a first issue and found this one.

Looks like the `resourceGoogleProject` `project_id` schema field's `ValidateFunc` ([link](https://github.com/hashicorp/terraform-provider-google/blob/fd9dab7d615f8331dfc65d6f898365777e6f1ae5/google/resource_google_project.go#L49)) doesn't get copied in the `datasourceSchemaFromResourceSchema` [function](https://github.com/hashicorp/terraform-pro

[2020-08-06 17:44] preston-hf commented on #6833
Yes, I would support rolling that back, it's better to have an error and we are considering just polling with curl before moving on, but it's not clear that would resolve this issue. Based on my reading of the docs we should be getting a 409 Conflict not a 412 though. Is there any way you could work with GCP to find out exactly why this request is sending a 412? I can send you logs via sharing wit

[2020-08-06 17:50] #6904 closed

[2020-08-06 18:02] ccancellieri commented on #6953
Here it is:

https://cloud.google.com/sdk/gcloud/reference/beta/compute/disks/create#--multi-writer

[2020-08-06 18:44] edwardmedia commented on #6810
@joe-boyce can you see if below code works for you?
[code]

[2020-08-06 18:53] edwardmedia commented on #6954
@harshchauhan1988  do you see anything back using below code?
[code]

[2020-08-06 18:59] edwardmedia commented on #6932
@Shriyut can you explain a little more detail about what exactly you want to achieve?

[2020-08-06 19:16] edwardmedia commented on #6953
@ccancellieri  Thank you for clarification. Unfortunately the feature has not been implemented in `google_compute_disk` yet. Changing the label to 'enhancement` for dev backlog.

[2020-08-06 19:24] edwardmedia commented on #6952
@dhvogel have you run `git diff` for your generated terraform-google-provider against the GH? It might tell you something...

[2020-08-06 19:25] #6936 closed

[2020-08-06 19:27] Shriyut commented on #6932
@edwardmedia i was trying to learn about remote exec provisioner and wanted to check if i could make configuration changes on some files on the VM.
Eg: Say i need the value of sonarqube vm's ip to change it in the plugin xml file in jenkins directory that keeps the ip of sonarqube.
But the main issue I have here is I can't even connect the host with remote-exec provisioner

[2020-08-06 19:36] edwardmedia commented on #6872
@devendradk is this still an issue with you?

[2020-08-06 20:12] #6749 closed

[2020-08-06 20:14] dhvogel commented on #6952
`git diff` shows me, among other things:

[code]

It's automatically pulling in github.com/terraform-providers/terraform-provider-google-beta v1.20.0, which appears to have the bug that is preventing compilation.

Unfortunately when I try to manually bump the version to v2.0.0, I see the following error message:

[code]

[2020-08-06 20:23] andrewhou-zonar opened #6961 "Unable to set zone in GCP Dataflow Job"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-06 20:27] gturetsky commented on #5687
https://github.com/hashicorp/terraform-provider-google/blob/fd9dab7d615f8331dfc65d6f898365777e6f1ae5/google/datasource_helpers.go#L12 - Looks like this was intentional...

[2020-08-06 20:30] gturetsky commented on #5687
@danawillow @sl1pm4t @ndmckinley - Is there a reason why validation func aren't included in the copy?

[2020-08-06 20:45] ndmckinley commented on #5687
A change in strategy about client-side validation, I think!

Too much client-side validation which falls out of date, and we wind up prohibiting requests that are legitimate - too little and we wind up allowing requests that we should know will fail.  As the size of the provider increased, we found that more and more we were prohibiting valid requests, so we decided to have fewer validators.

This

[2020-08-06 20:58] ndmckinley commented on #6930
Yep, I think this is a problem on the GKE side.  @venkykuberan can you file a bug with them asking them if they are seeing that tags which are applied to a node pool are returned from the API as if they are also applied to the cluster?  That's my read of the logs I have seen.

[2020-08-06 20:58] ndmckinley commented on #6930
Let me see if there's a quick workaround, though...

[2020-08-06 21:53] danawillow opened #6964 "Deprecate/remove google_compute_route.next_hop_instance_zone"
We can just get the zone out of `next_hop_instance` (and we already do). This ends up being extra custom code that, though easy to maintain, could be cleaned up.

[2020-08-06 22:10] upodroid commented on #6093
This was released with provider version 3.30 https://github.com/hashicorp/terraform-provider-google/blob/master/CHANGELOG.md

I'll open a PR to update the docs.

[2020-08-06 22:21] wastrachan opened #6967 "Path matcher default_route_action conflicts with default_url_redirect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-06 22:48] upodroid commented on #1586
@danawillow Can we close this out?

- Using Failover Replicas is deprecated now in favour setting avalability_type to REGIONAL https://cloud.google.com/sql/docs/mysql/high-availability#legacy_mysql_high_availability_option
https://cloud.google.com/sql/docs/mysql/configure-ha#ha-create
- You can't create Failover replicas after Q1 2021
- It offers poorer performance compared to the new HA option th

[2020-08-06 23:03] ndmckinley commented on #6930
I can't see one, so in the meantime I recommend adding

[code]

to your cluster.  Apologies for the inconvenience, we'll get this sorted out and come back with a better solution.  :)

[2020-08-06 23:12] danawillow commented on #1586
Seems reasonable. If anyone subscribed to this issue disagrees, comment and let me know why.

[2020-08-06 23:12] #1586 closed

[2020-08-07 02:37] edwardmedia opened #6969 "[Doc] region missing the google_dataflow_job's argument"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-07 03:03] edwardmedia commented on #6961
@andrewhou-zonar not sure what causes that error. Where did you get that template? Can you try a sample (below) to see how it works? If that doesn't work, could you post your full debug log?

https://cloud.google.com/dataflow/docs/guides/templates/provided-templates

[2020-08-07 04:37] harshchauhan1988 commented on #6954
Thanks. I did try with the code bloack change what you suggested and didn't see any change in result:

data "google_compute_zones" "available" {}

output "result_list" {
  value= data.google_compute_zones.available.names
}

PS D:\codeRepo\terraformcodes\azure> terraform apply
data.google_compute_zones.available: Refreshing state...

Apply complete! Resources: 0 added, 0 changed, 0 destroyed.

Outp

[2020-08-07 06:37] edwardmedia commented on #6961
@andrewhou-zonar as it complains the template, I am not sure what template do you have. Are you able to test the template using other tools like `gcloud`? Is there a way I can use your template?
https://github.com/GoogleCloudPlatform/DataflowTemplates

[2020-08-07 07:33] edwardmedia commented on #6967
@wastrachan can you try moving `default_route_action` block out of `path_math`?

[2020-08-07 09:43] jgireeshj commented on #6938
I have tried with provider as "google-beta" also. But the same error is persisting.

Providers:
Terraform v0.12.29
+ provider.google v3.27.0
+ provider.google-beta v3.33.0

I sorted out with the issue, by clearing the terraform plugins and rerun the code so that the Providers is updated with the latest version

After clearing the cache:

Providers:
Terraform v0.12.29
+ provider.google v3.33.0
+ pr

[2020-08-07 09:43] #6938 closed

[2020-08-07 09:58] jgireeshj opened #6970 "google_auto_dns_record feature"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-07 10:52] jgireeshj opened #6971 "Update DNS Record when metadata of compute instance is changed or deleted"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-07 11:44] MBarendregt opened #6972 "google_dns_managed_zone reference network by id doesn't work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-07 13:58] edwardmedia commented on #6954
@harshchauhan1988  can you post your debug log so I can take a close look?

[2020-08-07 14:10] wastrachan commented on #6967
That I can.

If I remove `default_route_action` totally, obviously everything works as intended. If I move it directly underneath `google_compute_url_map` I do get a conflict with `default_url_redirect`, which is anticipated.

If I move `default_route_action` to underneath `google_compute_url_map` and then totally remove `default_url_redirect` I do get an expected failure:

[code]

[2020-08-07 14:18] imrannayer opened #6973 "google_dns_managed_zone : in-place update for private_visibility_config cannot remove network"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-07 14:42] edwardmedia commented on #6967
@wastrachan here is how **default_route_action** should be used, along with other attributes. I think `default_route_action` should be set at the root of the resource, which is your original problem. You might want to double check the following doc and adjust your config. Let me know if this helps address your issue. Thanks

`
default_route_action - (Optional) defaultRouteAction takes effect when

[2020-08-07 14:59] wastrachan commented on #6967
@edwardmedia I think perhaps there might be some documentation inconsistency then. The docs show that `default_route_action` is _also_ available under `path_matcher`

[code]

This description is consistent with what appears to be available in GCP. So I suspect that either:

1. The module documentation is incorrect
2. The feature to have a default route action is available in GCP but not implemente

[2020-08-07 15:02] edwardmedia commented on #6973
`private_visibility_config` block is not in the PATCH payload
[code]

[2020-08-07 15:55] hallvors opened #6975 "[Doc] region marked as required cloud_scheduler_job argument"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-07 16:05] danawillow opened #6976 "Upgrade to SDKv2"
https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html

Looks like some work has begun on this by @paddycarver in https://github.com/hashicorp/terraform-provider-google/tree/sdkv2, so we just need to figure out whether Paddy will finish it up or hand it off to a TPG person.

[2020-08-07 16:09] danawillow opened #6977 "Add provider meta to user agent for module attribution"
https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html#support-for-provider-metadata

Blocked on https://github.com/hashicorp/terraform-provider-google/issues/6976.

[2020-08-07 16:12] rileykarson commented on #6977
Should we dedupe to https://github.com/hashicorp/terraform-provider-google/issues/6832 / dedupe that one here?

[2020-08-07 16:14] andrewhou-zonar commented on #6961
@edwardmedia Thanks for the response. I'm using this default template from GCP:

https://cloud.google.com/dataflow/docs/guides/templates/provided-streaming#cloudpubsubsubscriptiontobigquery

https://github.com/GoogleCloudPlatform/DataflowTemplates/blob/master/src/main/java/com/google/cloud/teleport/templates/PubSubToBigQuery.java

I've successfully used the template by click-button creating the da

[2020-08-07 16:34] harshchauhan1988 commented on #6954
`##################################################################################
# VARIABLES
##################################################################################

variable "region" {
  default = "us-east-1"
}
variable "project" {
  default = "**********"
}

##################################################################################
# PROVIDERS
##############################

[2020-08-07 16:38] edwardmedia commented on #6975
@hallvors Thank you for pointing this out. `Region` is optional. If user does not provide, the default value (like one from environment variable) will be used. Will update the doc.

[2020-08-07 16:38] jxub opened #6978 "google_bigquery_data_transfer_config has no documented way of loading data from Cloud Storage"
Hi,

First off, apologies if this question shouldn't belong here.

The GCP UI does provide an option to load from Cloud Storage (https://console.cloud.google.com/bigquery/transfers/configs/create), but there are no documented the allowed values of `google_bigquery_data_transfer_config.data_source_id` nor `google_bigquery_data_transfer_config.params` at https://www.terraform.io/docs/providers/googl

[2020-08-07 16:39] 7adietri commented on #6930
Thank you! I found that using the same tags on both the default node pool and the separate one seems to prevent this behaviour.

[2020-08-07 16:44] danawillow commented on #5687
That specific function doesn't copy over validatefuncs, because it sets every single field to "computed", which means it's an output-only field. We don't want to validate those because, similar to what @ndmckinley mentioned, we might accidentally prohibit a valid API response if there was a change in the API between provider versions.

Setting the fields that can be set to either optional or requi

[2020-08-07 16:45] danawillow commented on #6977
Oh good find, I looked around for an existing one but didn't have the right keywords in my search.

[2020-08-07 16:45] #6977 closed

[2020-08-07 17:20] edwardmedia commented on #6971
@jgireeshj what `DNS Record sets` do you refer to? Can you post the state after you have applied the config and specify the field(s) in the state? Thank you

[2020-08-07 17:48] edwardmedia commented on #6967
@wastrachan i agreed the doc is not super clear. There are a lot of fields they are interrelated. Below is the original doc. Hope this might be helpful. I do see you can set `default_route_action` inside the `path_matcher`. If you see the conflicts in the doc and behavior between provider and the GCP API, let me know. Please be specific what the difference are. Thank you

https://cloud.google.com/

[2020-08-07 17:58] wastrachan commented on #6967
Thanks @edwardmedia, this is helpful to review.

So looking at the official REST docs, this is the section that stands out:

[code]

I've definitely not tried to make any calls to the REST API directly, however, I don't see any indication that this would conflict with the root `defaultUrlRedirect` in the documentation, and the behavior available through the web UI supports the notion that there is

[2020-08-07 18:38] #2092 closed

[2020-08-07 20:07] venkykuberan commented on #6978
Hi,
  It looks to me the [API](https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.transferConfigs#TransferConfig) doesn't support that feature yet.  Let us know once API supports it , we will take as a work item.

[2020-08-07 20:28] ndmckinley commented on #6930
Ah, great, yes!  Glad you found a workaround.  If you are okay with the tags being applied to both the node pool and the cluster, then adding them to both resources should stop the issue.  :)

[2020-08-07 22:18] psvaiter commented on #6978
Yes, it works, but it's not documented. I've also had a hard time trying to find something.
I use this resource to load data from GCS. Here's a sample of terraform code.
[code]

It seems `params` accept the same parameters that official API, and they are documented in some places. The best match I found was the [Python client library for BigQuery Transfer Service](https://googleapis.dev/python/big

[2020-08-08 00:14] danawillow opened #6985 "Add network to google_compute_target_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-08 09:11] jgireeshj commented on #6971
As I have mentioned, I have done the coding for creating the organization asset feed. I am unsure of how to integrate the code to update a DNS Record.

I need your help in doing the following:

- A compute instance is already running.

- A DNS Record(A Record) has been defined in the Cloud DNS.

Scenario is :
If a customer is updating the name/tag/ip_address of the instance, the respective DNS Rec

[2020-08-09 11:37] kurdybacha commented on #5528
So what is your approach exactly @Arconapalus ? Would you mind sharing a sample here, please?

[2020-08-09 11:47] harshchauhan1988 commented on #6954
I suppose this is an easy case for you to simulate.  Let me know in case you really need debug logs?

[2020-08-09 18:28] michaelbannister commented on #3085
I've been using Terraform's `archive_file` resource to achieve this but I'm now having trouble because GCF's python38 build process runs Python's `compileall` module, which has this bug/limitation https://bugs.python.org/issue34990 which is triggered by the 2049 modification date that archive_file chooses for the files in the zip.

https://github.com/hashicorp/terraform-provider-archive/issues/40

[2020-08-10 08:31] jxub commented on #6978
Thanks @psvaiter !

I tried looking around a couple of APIs but didn't found any example. I might add a CSV or JSON load example to the `google_bigquery_data_transfer_config` terraform docs in the future for anyone who might be interested.

[2020-08-10 08:31] #6978 closed

[2020-08-10 15:41] mercuriete commented on #6961
I have the same problem.

and it is very similar to: https://github.com/googleapis/google-api-nodejs-client/issues/1034

terraform provider is using a wrong endpoint.

[2020-08-10 16:23] #6969 closed

[2020-08-10 16:23] #6975 closed

[2020-08-10 16:42] edwardmedia commented on #6954
@harshchauhan1988 it is fine by adding `project` and `region` in the `provider`. I am receiving the list of `zone`. Can you post your debug log?

[2020-08-10 17:00] edwardmedia commented on #6810
@joe-boyce does above code work for you?

[2020-08-10 17:28] edwardmedia commented on #6971
@jgireeshj I am not sure what to do with your above code against what you are trying to achieve. Is this resource you are looking for? There are some examples showing how to manage the DNS records  with `google_compute_instance`.

https://www.terraform.io/docs/providers/google/r/dns_record_set.html

[2020-08-10 17:49] harshchauhan1988 commented on #6954
[https://gist.github.com/harshchauhan1988/9347afac345c2d14d5f78e185766d05a](url)

[2020-08-10 17:50] ndmckinley commented on #6970
Hi there!

Thanks for your request.  We are not going to do this, but it is fortunately already possible in HCL!  For instance,

[code]

Does that make sense?

[2020-08-10 17:50] #6970 closed

[2020-08-10 17:56] rileykarson commented on #6950
Hey @mrzor!

I'm not sure what you mean regarding #6846. Did you mean #6857 there?

While that field has an explicit default (reflecting the setting in the API), other fields actually implicitly default to `false` as well. Terraform will attempt to manage drift on all fields.

However you can disable that behaviour for a given field in your config with [`lifecycle.ignore_changes`](https://www.terr

[2020-08-10 17:56] #6950 closed

[2020-08-10 18:07] edwardmedia commented on #6972
@MBarendregt what provider are you using?

[2020-08-10 18:16] edwardmedia commented on #6954
@harshchauhan1988 Looks like you are using **us-east-1** for the `region`. You might want to try **us-east1** instead. Below is the link to the valid regions-zones.  Let me know if this help address your issue>

https://cloud.google.com/compute/docs/regions-zones

[2020-08-10 20:30] megan07 opened #6989 "In generated `DestroyProducer` methods, ResourceRef's may not translate well in URL"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-10 22:39] #6093 closed

[2020-08-10 22:39] #6220 closed

[2020-08-10 23:33] charleskorn opened #6992 "Modifying google_bigquery_data_transfer_config.params.data_path_template fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-11 02:38] edwardmedia commented on #6967
@wastrachan here is what API docs says (search by **defaultUrlRedirect**
[code]
https://cloud.google.com/compute/docs/reference/rest/v1/urlMaps

[2020-08-11 04:13] wastrachan commented on #6967
@edward2a I'm still nearly positive this is referring to a conflict withing the current scope.

To prove this, I captured the API request Terraform generated and modified it to include the defaultRouteAction we've been discussion:

[code]

Which _does_ work:

[code]

The result of the operation was then verified with a GET to the selected resource:

[code]

I don't know how I can more conclusively

[2020-08-11 05:23] edwardmedia commented on #6967
@wastrachan  I see. Looks like current Terraform behavior differently. Thank you @wastrachan for reporting this. I am inviting @c2thorn  to take another look.

[2020-08-11 06:28] harshchauhan1988 commented on #6954
Perfect. this works.

@edwardmedia  Should we add some error logs when an invalid region is passed?

[2020-08-11 08:36] tmshn commented on #6574
I've spared a little bit time on tackling on this, and found some limitations. Let me share.

### Strategy 1. Use `deleted=true` with ordered list

This first strategy is the one I describe above. It requires fields ordering, but

- Current tfstate does not preserve order because type of `fields` is now `TypeSet`
- API response does not preserve order (even more, it seems to be indeterministic), s

[2020-08-11 11:31] jgireeshj commented on #6971
@edwardmedia ,

I think you have not understood the concept.

Please find the details below:

A compute instnace is launched Google cloud.(used google_compute_instance)
A DNS record has been created for the respective instance. (used google_dns_record_set)

These two were created by means of a terraform script.

Now, the name of the instance is updated manually in the Google cloud console.

What f

[2020-08-11 11:34] jgireeshj commented on #6970
@ndmckinley , I was asking for updating existing DNS records. This solution doesn't match to the requirement.

[2020-08-11 14:54] #6868 closed

[2020-08-11 15:04] edwardmedia commented on #6992
@charleskorn this error comes from API. It seems clear  `data_path_template` is not allowed to update
**Immutable** parameter data_path_template

[2020-08-11 16:12] kentb commented on #6876
@edwardmedia @andyroyle  I believe this is related to this issue: https://github.com/hashicorp/terraform-provider-google/issues/6749
Looks like the fixed has been merged and ready to be released.

[2020-08-11 16:23] mvn-srizzari opened #6995 "No change detected when google_sql_user managed user's password is changed via console"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-11 16:59] ndmckinley commented on #6970
Hi,

I believe it does.  If the records already exist before you start writing terraform configuration, you can [import them](https://www.terraform.io/docs/import/index.html), and work from there.  :)

[2020-08-11 17:31] edwardmedia commented on #6995
@mvn-srizzari if it secure if you can retrieve the updated **password** using Terraform? Yes, you can use Terraform to update the password. Please provide a link if you see API provide an option to let you retrieve that value. Thanks

[2020-08-11 17:42] cagataygurturk opened #6996 "Switch to cloud.json for cloud-netblocks"
From https://cloud.google.com/compute/docs/faq#find_ip_range

while [the module is still querying the DNS record](https://github.com/hashicorp/terraform-provider-google/blob/584893fec6f9662ea7536afa72a4d64e05307d14/google/data_source_google_netblock_ip_ranges.go#L60).

Maybe it would be better to switch to the JSON file as the documentation recommends.

[2020-08-11 18:12] c2thorn commented on #6996
Similar to the work done in the `google-netblocks` work done here:
https://github.com/GoogleCloudPlatform/magic-modules/pull/3689

Seems reasonable to do, I'll add the appropriate tag

[2020-08-11 18:13] #6727 closed

[2020-08-11 18:15] edwardmedia commented on #6971
@jgireeshj sorry if I misunderstood what you were trying to do. Looks at the line `rrdatas` in below code (from the link I provided), you can see the relationship between `google_compute_instance` and `google_dns_record_set`. Does this make sense?

[code]
Below is what I tested using the example I provided earlier. After I update the instance name, I see below plan on  `google_dns_record_set`. Doe

[2020-08-11 18:33] mvn-srizzari commented on #6995
I don't see a way to retrieve it via the API.  I see that this wouldn't be possible for the terraform provider to do since API doesn't support it.

Can the documentation be updated to reflect that you can set the password with terraform but there is no way for a diff to be created if the password is changed via other methods?

[2020-08-11 18:42] edwardmedia commented on #6995
@mvn-srizzari the doc has already specified the `password` can be updated. I don't think we need to stress users can't retrieve password. Do you see other tools that provide that feature? Thank you very much for your attention. I am closing this issue now. Feel free to reopen it if you see a need to continue the conversion. Thanks

[2020-08-11 18:42] #6995 closed

[2020-08-11 18:47] edwardmedia commented on #6954
@harshchauhan1988  API returns an empty list. It does not indicate an error. I don't think Terraform should raise an error either. Closing this issue. Please feel free to reopen it if you see a need to continue the conversation. Thanks

[2020-08-11 18:47] #6954 closed

[2020-08-11 19:29] ndmckinley commented on #3898
Great!

We will want to start with the Trigger resource, which depends on the Template resources (both Inspect and Deidentify, with Inspect being marginally more important).  Slightly less crucial (but still mandatory) is the stored info type.

Project and org resources can safely be combined into one multiparent resource.

We'll discuss in our next sprint planning meeting.

[2020-08-11 20:17] upodroid opened #6998 "sql instance datasource doesn't allow project to be specified"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-11 21:11] upodroid commented on #2900
@danawillow Can we close this issue? Metadata Concealment has been deprecated in favour of Workload Identity.

https://cloud.google.com/kubernetes-engine/docs/how-to/protecting-cluster-metadata#concealment

[2020-08-11 21:21] #6948 closed

[2020-08-11 21:31] #6911 closed

[2020-08-11 21:31] charleskorn commented on #6992
@edwardmedia yes, I understand the error message. The reason I filed a bug is that normally, Terraform resources

[2020-08-11 21:34] charleskorn commented on #6992
@edwardmedia yes, I understand the error message. The reason I filed this as a bug is that normally, Terraform resources know which properties are immutable or not and therefore whether an in-place update can be performed or if the resource needs to be recreated.

For example, if I change a resource's project, Terraform knows that change can't be made in place, so it plans to recreate the resource

[2020-08-11 22:02] kevinsimper opened #7001 "Error 403: The principal (user or service account) lacks IAM permission "cloudscheduler.jobs.create""
You get this error if you try to create a Cloud Scheduler Job in a region where your App Engine were not created.

So if config is this:
[code]

but you region where you created App Engine is "europe-west1", it will not work. You will get this error:

[code]

However, if you change it to
[code]

It will show you this error:
[code]

Which will help you set the correct error on the cloud scheduler j

[2020-08-11 22:28] upodroid commented on #6998
Opening a PR to fix this.

[2020-08-11 22:33] upodroid commented on #4130
This issue can be closed now. This feature was added recently.

https://www.terraform.io/docs/providers/google/r/google_folder_iam_audit_config.html

[2020-08-11 22:39] upodroid commented on #4196
@danawillow we can close this issue out.

You can achieve this by setting the organization constraint `constraints/compute.skipDefaultNetworkCreation`  https://cloud.google.com/resource-manager/docs/organization-policy/org-policy-constraints .

They can be set via this resource https://www.terraform.io/docs/providers/google/r/google_organization_policy.html.

[2020-08-11 23:02] kentb commented on #6876
I'm able to reproduce the same issue.
I know Serverless NEGs is coming out on the next release.
It'll be good to have this fix come out soon, so we can properly use the Serverless NEGs.

### Terraform Version
terraform: 0.13.0
google-beta: 3.34.0

### Affected Resource(s)
* google_compute_backend_service

### Terraform Configuration Files
[code]

### Expected Behavior
Backend should be created.

#

[2020-08-11 23:14] kentb commented on #6876
[backend-service-serverless-neg-error.txt](https://github.com/hashicorp/terraform-provider-google/files/5059888/backend-service-serverless-neg-error.txt)
Here's the Debug log from the above run.
Note that I replaced the actual project name w/ the dummy name from above example.

[2020-08-12 00:56] axot opened #7002 "service_name is missing in datasource google_compute_forwarding_rule"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-12 01:29] cornmander opened #7003 "Add support for health check logging"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-12 03:13] edwardmedia commented on #6876
@kentb do **google_compute_region_backend_service** work for you?

[2020-08-12 03:29] wastrachan commented on #6967
Thanks @edward2a, and thanks in advance @c2thorn

[2020-08-12 10:46] mancaus commented on #6736
I have a further question on this after seeing the latest update on the rollout of this feature, sent to me via email. That outlines a period during which the changes will be rolled out, and states that

Can you clarify how this will impact role assignments made with the `*_iam_member` resources, e.g. `google_project_iam_member`? In particular, if during the "propagation period" I:

 1. Create a s

[2020-08-12 10:48] RomTin opened #7005 "google_compute_security_policy produces argument error when defining CloudArmor custom language"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-12 10:59] ct-dh commented on #6736
Attempting to re-open due to @mancaus question.

[2020-08-12 11:48] jenshonkan84 opened #7006 "google_cloud_identity_group import not working"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-12 12:03] thomas-stockx commented on #3950
The command line example here uses Realtime Database instead of Firestore and is therefore not really a workaround for having no Firestore Document resource.

Our use-case is the same however, storing config data in Firestore for some of our more lightweight applications, as well as an admin list for some Firestore security rules.

[2020-08-12 13:18] edwardmedia commented on #7006
@jenshonkan84 can you try using config like below instead?
[code]

[2020-08-12 13:20] nahz commented on #5245
I'm looking at adding this functionality at the moment.
Branch is over here: https://github.com/nahz/magic-modules/tree/update-product-billingbudget-amount

Just want to do some more testing before submitting a PR.

[2020-08-12 13:42] edwardmedia commented on #7005
@RomTin your code works for me except I have to replace "deny(503)" with "deny(403)". I notice that the version of your provider is pretty old (v2.20.3). Can you try to use the latest versions?

[2020-08-12 15:41] kentb commented on #6876
@edwardmedia
It doesn't work since it requires healthchecks, serverless NEG's also do not have healthchecks.
According to GCP docs, Serverless NEGs only work with Global backend service.
https://cloud.google.com/load-balancing/docs/backend-service

<img width="1959" alt="GlobalBackend-Serverless" src="https://user-images.githubusercontent.com/618315/90036169-8e02f980-dc77-11ea-9eba-6951d7a6a433.pn

[2020-08-12 15:53] kentb commented on #6876
If it helps, here are the details of a Backend Service I created using gcloud commands, connected to 2 Serverless NEGs in us-east4 and europe-west1. (Names are swapped w/ more generic ones)

[code]

[2020-08-12 16:13] slevenick commented on #6736
@mancaus the expected result will be #3, but with the caveat that the error will be on the API-side not the provider side. This means the API will not accept the request to set the policy with a new and deleted member with the same name.

The way to resolve this error will be to remove the deleted member on the policy, either manually or by using the `_iam_policy` resource.

This is to prevent gra

[2020-08-12 16:56] RomTin commented on #7005
@edwardmedia
Thank you for your response!
I executed `terraform apply` with google provider v3.34.0, and found it produced an error "deny(503) can't be used in action"
 which you pointed out, without argument error of `expr`.
Thus, the latest version of google provider worked properly.

It was very helpful in solving my question. Thank you very much!

[2020-08-12 16:56] #7005 closed

[2020-08-12 17:23] #6998 closed

[2020-08-12 17:25] #6882 closed

[2020-08-12 19:02] c2thorn commented on #6931
Hi @alexandre-cruel, just wanted to get some clarification. There are two `schema` fields in the resource. The `external_data_configuration.schema` field you linked to is within the `external_data_configuration` block, and looks like it is only used during table creation.

However there is the standard `schema` field [here](https://www.terraform.io/docs/providers/google/r/bigquery_table.html#schem

[2020-08-12 19:06] edwardmedia commented on #2964
@rileykarson yes, it works when `public` -> `private` But it does not work when `private` -> `public` Below plan shows it is not for `recreate`
[code]
[code]

[2020-08-12 19:58] edwardmedia commented on #6961
Yeah I see the issue. Thank you, @andrewhou-zonar, for reporting this.
Here is what I got. Three fields are incorrect
`region` ---> `zone`
`temp_gcs_location` ---> `tempLocation`
`template_gcs_path` ---> `gcsPath`
[code]

[code]

[2020-08-12 20:12] edwardmedia commented on #6932
@Shriyut `remote-exec` is a Terraform feature. Below is the link to its document. `terraform-provider-google` does not own that feature. You might want to ask a question at https://github.com/hashicorp/terraform/issues. I am closing this issue. Please feel free to reopen it if you have questions specific to the provider. Thanks

https://www.terraform.io/docs/provisioners/remote-exec.html

[2020-08-12 20:12] #6932 closed

[2020-08-12 20:14] edwardmedia commented on #6899
@SimonTheLeg is this still an issue with you?

[2020-08-12 20:26] venkykuberan commented on #7001
@kevinsimper Cloud Scheduler is not available in the region europe-west4 as mentioned [here](https://cloud.google.com/about/locations#europe) so my hunch is the preliminary check itself is failing for euorpe-west4 before it tries to validate the App Engine region. Thus we see different error messages on your 2 scenarios.

Hope that helps.

[2020-08-12 20:47] #6595 closed

[2020-08-12 21:00] Arconapalus commented on #5528
@kurdybacha Are you talking about what I was developing or the API getting Cloud Run HASH?

[2020-08-12 22:07] edwardmedia commented on #6910
@sergeunity yes, I do see now updating labels leads recreating the resource.

[code]

[2020-08-12 22:12] edwardmedia commented on #6872
@devendradk I am closing this issue as I have not heard back from you. Please feel free to reopen it if this is still an issue

[2020-08-12 22:12] #6872 closed

[2020-08-13 06:56] jenshonkan84 commented on #7006
Tried your suggestion but same error:
[code]

Terraform code:
[code]

[2020-08-13 07:12] emmaLP opened #7014 "Unable to replace google_compute_region_disk if snapshot is changed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-13 07:21] xylene314 commented on #5544
I agree to the above point, it would be really if logging can be configured through Terraform

[2020-08-13 08:55] mancaus commented on #6736
Thanks for confirming @slevenick.

For us this will be quite difficult to manage as we have no way of testing the changes we will be required to make in advance of the change.

For others I expect they will come across failures without having understood the impact.

This could be a fairly large set of impacted users, as I would expect most use those IAM resources that allow a part of policy to be

[2020-08-13 09:37] mancaus commented on #6833
We also see this quite frequently. I think it occurs both when applying multiple resource bindings to the same policy, and when running concurrent deployments that apply bindings to the same policy. The latter is a common use case in projects that host many deployments, especially when applying project level policy bindings, but also when applying bindings to the artifacts bucket that backs gcr.io

[2020-08-13 10:35] aabedraba opened #7015 "Creating Uptime Checks will error in the first try and succeed in the second"
### Terraform Version
[code]

### Terraform Configuration Files

[code]

### Debug Output
VM creates fine.

### Crash Output
Error: Error creating UptimeCheckConfig: googleapi: Error 404: Error confirming monitored resource:
type: "gce_instance"

### Expected Behavior
UptimeCheck waits for the VM to be created and then tries to be created.

### Actual Behavior
UptimeCheck fails to be created as it

[2020-08-13 10:42] upodroid opened #7016 "Google HealthCheck is perma diffing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-13 11:04] pythonrocks commented on #6412
Sorry if this comment violates some rules, but we're also interested in having ability to set up notifications for scheduled queries. Are there plans on fixing this issue?

[2020-08-13 11:10] samhumphreys-2sixty commented on #6412
Duplicate of #5866

[2020-08-13 11:13] samhumphreys-2sixty commented on #5866
@danawillow /other - Is there any update on this?

[2020-08-13 11:14] samhumphreys-2sixty commented on #6412
@danawillow /other - Is there any update on this?

[2020-08-13 12:31] edwardmedia commented on #7006
@jenshonkan84 I am not sure how your module is built. To test if the `import` works, can you use the config provided with below command?  (remove modules in your code temporarily)
[code]

[2020-08-13 13:32] jenshonkan84 commented on #7006
@edwardmedia

Same result:

[code]
[code]

[2020-08-13 14:34] edwardmedia commented on #7014
@emmaLP below is the plan when I tested the behavior by updating the snapshot, The replacement is done successfully. From your log, I noticed there was no `DELETE` before `POST`. Can you post its `plan`? Your code uses `external` data source, I assume you are aware of its limitations.

[code]

[2020-08-13 14:42] edwardmedia commented on #7006
@jenshonkan84  What do you see if you run below below command?
[code]

[2020-08-13 15:32] megan07 commented on #7006
Hi @jenshonkan84 @edwardmedia - I see the problem. I need to add a custom import in order to allow us to import names with slashes in them `groups/xxxxxxx`, I'll add that in now. Thanks for catching this!

[2020-08-13 15:39] joe-boyce commented on #6810
Thanks for the response @edwardmedia, how does this work in terms of within a module thats using count for x instances, as your example only seems to work with a single instance being created

As mentioned above the code is currently:

module main.tf:
[code]

module variables.tf
[code]

Resources being created via module:
[code]

As mentioned if external_ip is not provided above the resources woul

[2020-08-13 16:14] anitakar commented on #6916
Doing it. See https://github.com/anitakar/magic-modules/tree/machine_types

[2020-08-13 16:30] dpanyam opened #7019 "Need support to add IAM role binding to grant access to machine images stored in a different GCP Project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-13 16:46] umairidris opened #7020 "Support project service identity"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-13 17:41] preston-hf commented on #6833
I think we tracked ours down to actually being a race with the storage notification.

[2020-08-13 17:59] jtslear opened #7021 "Request for easier configuration of resource_usage_export_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-13 18:03] #5245 closed

[2020-08-13 18:04] #7006 closed

[2020-08-13 19:19] slevenick commented on #6736
@mancaus thanks for the perspective

The problem is that the concept of `deleted:` members is new, and attempting to prevent users from assigning permissions meant for an old, deleted account to a new account with the same name. From my point of view we have two options:

1. If a user specifies a member in any terraform IAM resource that matches a `deleted:` member on the same policy, delete any r

[2020-08-13 20:05] bharathkkb commented on #6021
@danawillow I am seeing this more often as well for our GKE module CI tests, TPGB `3.32.0`.
Examples:
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/runs/981817055
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/runs/981830578

[2020-08-13 20:56] #6973 closed

[2020-08-13 21:04] naseemkullah opened #7023 "log exclusion sampling"
Please see https://github.com/hashicorp/terraform-provider-google/issues/3844

[2020-08-13 21:23] naseemkullah commented on #7023
After creating an 1% sampling on jsonPayload.foo=bar in console and importing, here is the value for filter:

[code]

Is this the way to go?

[2020-08-14 02:42] naseemkullah commented on #7023
It appears that this works, but is not intuitive and so an example in the docs would be appropriate:

[code]

[2020-08-14 10:35] upodroid commented on #7019
https://cloud.google.com/compute/docs/machine-images/create-instance-from-machine-image
https://cloud.google.com/compute/docs/reference/rest/beta/instances/insert

Terraform is missing:
-  google_compute_machine_image_iam_* resources
-  google_compute_machine_image data source
-  google_compute_instance_from_machine_image resource.

Final Config would look like this.

[code]

@dpanyam In the meanw

[2020-08-14 10:46] rosmo opened #7025 "Data source google_cloud_identity_groups doesn't handle pagination"
Data source `google_cloud_identity_groups` doesn't handle pagination. It gives 50 first groups, when I have a couple hundred. Looking at the code implementation, it just lacks the support for pagination.

### Terraform Version

[code]

### Affected Resource(s)

* google_cloud_identity_groups

### Terraform Configuration Files

[code]

### Expected Behavior

All groups are returned.

### Actual Beh

[2020-08-14 15:10] #6989 closed

[2020-08-14 15:10] edwardmedia commented on #7025
Looks like the API does support `pageSize`
[code]

[2020-08-14 15:19] #6751 closed

[2020-08-14 19:14] c2thorn commented on #6992
Hey @charleskorn! It makes sense to expect the `data_path_template` param to recreate the resource. Unfortunately the current design of the resource treats the `params` block as a single field, so it doesn't have the right granularity to treat `data_path_template` differently. Changing this the right way would require some schema changes, and makes this more of a feature request. I'll label it as

[2020-08-14 20:03] edwardmedia commented on #6952
dhvogel I had a similar problem with myself. For my case, I did
1)  delete all terraform@v0.xx.xx under $GOPATH/pkg/mod/github.com/hashicorp/.
2) make sure you get the latest https://github.com/hashicorp/terraform-provider-google.git before you build MM.
3) double check go version. Mine is go1.14.

Let me know if that work for you

[2020-08-14 20:06] c2thorn commented on #6919
Closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/3869

[2020-08-14 20:06] #6919 closed

[2020-08-14 20:11] #7025 closed

[2020-08-14 20:17] edwardmedia commented on #7015
@aabedraba  can you take a look below solution and see if that helps address your issue?

https://github.com/hashicorp/terraform-provider-google/issues/6377

[code]

[2020-08-14 22:03] charleskorn commented on #6992
Makes sense, thanks @c2thorn

[2020-08-15 02:11] sjosegarcia opened #7033 "Cannot provision a service account with sql role"
As stated in the title, I cannot provision a service account with sql admin roles. I looked at the documents and I am a little lost.
Would someone explain what I might be doing wrong. The goal is to create a service account, which will contain the roles to launch/modify/delete the infra.
This is the error that appeared:
[code]

[code]

[2020-08-15 15:03] MBarendregt commented on #6972
@edwardmedia, i have to admit, didn't go through to process of trying the beta provider.

But I'm using the normal google provider
tf version, 0.12.25
google version, 3.20

[2020-08-15 22:55] Siegfriedk opened #7034 "boot_disk_kms_key not supported under google_container_node_pool->node_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-16 05:20] longwuyuan commented on #6877
@rileykarson 3.34 did not crash. I will close

[2020-08-16 05:20] #6877 closed

[2020-08-16 06:28] ryanyuan opened #7035 "Missing enableMessageOrdering Field in Pub/Sub Subscription Resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-16 09:34] jgireeshj commented on #6971
@edwardmedia I know this concept.

For a new or existing instance, this is possible. But this is manual work.

I want to automize the task as whenever a new tag is added to a compute instance, a DNS CNAME Record has to be automatically created.

As per the details, you have shared it is not possible to check if the DNS Record exists and to create a new one.

[2020-08-16 12:00] upodroid commented on #7033
Hello

You effectively broke your Google Project by using the `google_project_iam_policy` resource by removing every IAM role from your project and assigning SQL Admin role to your service account.

Unless you had inherited roles from an Organization or a Folder, your permissions were revoked and the remaining steps of your apply failed with 403 errors.

Open the activity logs and reassign all the

[2020-08-16 14:39] bvarga opened #7036 "Provider project id and resource project id is mixed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-16 18:22] edwardmedia commented on #7034
@Siegfriedk did you use `beta` provider? Below is what from its document. Let me know if this help address your issue.
[code]

[2020-08-16 18:25] Siegfriedk commented on #7034
I have both provider declared at the top @edwardmedia

That should work in theory right?

I hope it fits here, contribution of beta writes i should open a tickethere.
`
provider "google" {
  version = "~> 3.34.0"
  region  = var.region
  project = var.project
}

provider "google-beta" {
  version = "~> 3.34.0"
  region  = var.region
  project = var.project
}
`

[2020-08-16 18:30] edwardmedia commented on #7034
@Siegfriedk have you tried by adding `provider` inside the resource?
[code]

[2020-08-16 18:34] Siegfriedk commented on #7034
@edwardmedia nope i haven't seen this syntax before; I can try that tomorrow.

But the boot_disk_kms_key is also beta for the google_container_cluster https://www.terraform.io/docs/providers/google/r/container_cluster.html#boot_disk_kms_key where it works without issues and both resources are in the same file (one is below the other)

[2020-08-16 18:38] Siegfriedk commented on #7034
@edwardmedia i forgot i was able to try it out sry 👍
And that actually works. Tx

Can you give me a hint why?

[2020-08-16 18:52] edwardmedia commented on #6972
@MBarendregt there was a feature that was released with v3.26.0. Can you try with provider's latest version, and let me know how it works? Thanks

https://github.com/hashicorp/terraform-provider-google/blob/master/CHANGELOG.md#3260-june-15-2020

[2020-08-17 07:22] mancaus commented on #6736
I agree there's no clear "right" path to mitigating the impact.

I like the idea of removing deleted members from a policy when a non-deleted member with matching email is specified in a resource. I think the plan / state could show that the internal ID of the member (which is keyed on email) has changed, which forces the recreation. I think that would work in all cases when using member bindings,

[2020-08-17 08:36] ccancellieri commented on #6953
FYI:
Just created an [issue report](https://issuetracker.google.com/issues/164841448) on the GCP side:

[2020-08-17 12:38] edwardmedia commented on #7034
@Siegfriedk I am glad it works for you. Here is the document that might be helpful. https://www.terraform.io/docs/providers/google/guides/provider_versions.html

[2020-08-17 12:47] edwardmedia commented on #6971
@jgireeshj `I want to automize the task as whenever a new tag is added to a compute instance, a DNS CNAME Record has to be automatically created.` how do you apply the change for `a new tag`?

[2020-08-17 14:04] c2thorn commented on #6961
Hi @andrewhou-zonar! I believe the problem here is that you are missing a `parameters` block in your `google_dataflow_job` resource. The error
[code]
implies this, although it uses "invalid" instead of saying the parameters are missing. This error is straight from the API. According to the guide for the particular Dataflow template you are using, you'll need a `inputSubscription` and `outputTableS

[2020-08-17 14:04] #6961 closed

[2020-08-17 15:41] #7034 closed

[2020-08-17 15:55] megan07 commented on #6937
Hi @aymericbbc ! Thanks for letting us know about this. I took a look and the error I got was being returned by the API, so I looked to see if I could do it in the console, and I don't see that I'm able to. The BigQuery permission options that I see can be applied to the dataset are `BigQuery Admin`, `BigQuery Data Editor`, `BigQuery Data Owner`, `BigQuery Data Viewer`, `BigQuery Metadata Viewer`

[2020-08-17 15:58] edwardday7 commented on #6996
Since the IP addresses are different between the DNS record and the JSON file are different we have experienced some traffic being blocked unexpectedly. Just an FYI for anyone reading, you might want to hard code the IP ranges for the time being until this gets updated.

[2020-08-17 16:08] #6826 closed

[2020-08-17 16:25] alexandre-cruel commented on #6931
In the use case I'm working on this isnt for external_data_configuration, it was for tables with data directly living on bigquery but according to the documentation I thaught it was the same for the 2 schema parameters.

Totally suitable yes, if you're sure that updating the schema to add a column wont delete the table and erase the dat, that'd be perfect 👍 !

[2020-08-17 16:26] edwardmedia commented on #7033
@sjosegarcia does what @upodroid explain make sense to you? You may want to review the differences among `_iam_policy`, '_iam_memebr` and `_iam_binding` before hit `apply`.

[2020-08-17 16:35] c2thorn commented on #6931
That makes sense! It can be slightly confusing, and we are working on a UI update that should hopefully make it easier to differentiate between the two schema parameters.

I cannot guarantee how the API will behave when the provider calls update, but I can say that Terraform will not try to destroy/recreate the table while updating the top-level schema field. To fully make sure, I recommend testin

[2020-08-17 16:35] #6931 closed

[2020-08-17 16:48] edwardmedia commented on #6876
@andyroyle **v3.35.0** has released today which contains below feature. Let me know if that helps address your issue. Thanks
[code]
https://github.com/hashicorp/terraform-provider-google/blob/master/CHANGELOG.md

[2020-08-17 17:28] rileykarson commented on #7035
Fixed in https://github.com/GoogleCloudPlatform/magic-modules/pull/3872

[2020-08-17 17:28] #7035 closed

[2020-08-17 17:36] rileykarson commented on #7002
It's probably worth updating this datasource to be similar to newer datasources in the process, so that new fields are automatically picked up.

[2020-08-17 17:37] c2thorn commented on #6992
On second thought, it may be best to use a customize diff. Putting a note for the future implementer.

[2020-08-17 17:39] #4130 closed

[2020-08-17 17:41] slevenick commented on #6825
This happens now!

[2020-08-17 17:41] #6825 closed

[2020-08-17 17:51] #6561 closed

[2020-08-17 18:54] alexandre-cruel commented on #6931
Great, thank you for your investigation time and help !

[2020-08-17 18:55] #6933 closed

[2020-08-17 20:20] andrewhou-zonar commented on #6961
This worked, thank you @c2thorn !

[2020-08-17 20:27] jsoref opened #7044 "source key/cryptoKeyVersions/1 has value DESTROYED in field crypto_key_version.state., failedPrecondition"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-17 21:08] #2900 closed

[2020-08-17 21:25] danawillow commented on #5866
No updates! If you have a google-side customer engineer, TAM, or similar contact, you can ask them to reach out to our team internally for prioritization.

[2020-08-17 21:26] danawillow commented on #6412
Thanks, closing as a duplicate. If anyone is subscribed to this and +1'd this but not the other, please go +1 the other issue so we have an accurate check.

[2020-08-17 21:26] #6412 closed

[2020-08-17 21:33] danawillow commented on #6021
Interesting, thanks @bharathkkb. You don't happen to have debug logs (showing the full request/response) for those, do you? I'd be curious to see what sorts of responses we're getting back from the API and retrying on before we finally get that error.

[2020-08-17 21:34] #6783 closed

[2020-08-17 21:43] bharathkkb commented on #6021
Unfortunately not since its in CB, I will post if I encounter locally.
We have had much for frequent failures recently with at least one in three failing due to this.

[2020-08-17 21:48] upodroid commented on #7003
This already exists in the beta provider but it is buggy #7016

[2020-08-17 21:57] edwardmedia commented on #7044
@jsoref can you specify steps how I can repro the issue? Can you share the log that contains the other calls that might be helpful?

[2020-08-17 23:11] jsoref commented on #7044
I'm working on it. But I've hit a number of other bugs in this provider trying to get there, so it'll take me a bit +filing them.

[2020-08-17 23:25] AlistairB commented on #4193
Hi,

`--container-env`, `--container-arg` and `--container-image` are now appearing in gcloud stable https://cloud.google.com/sdk/gcloud/reference/compute/instance-templates/create-with-container . As such I believe this is no longer blocked on upstream? Can we get these properties added?

FWIW, https://registry.terraform.io/modules/terraform-google-modules/container-vm/google/2.0.0 is nice, but c

[2020-08-18 04:53] edwardmedia commented on #7044
@jsoref please post the steps whenever you have them.

[2020-08-18 05:23] xdqyzy commented on #7020
This is the relevant API.
https://cloud.google.com/service-usage/docs/reference/rest/v1beta1/services/generateServiceIdentity

[2020-08-18 05:35] frasercarter commented on #3753
Would be worth upping the priority on this, being able to ref those inbound forwarder ip's will be useful in a multicloud dns deployment, amongst other things.

[2020-08-18 07:41] SimonTheLeg commented on #6899
Sorry for the late reply, was on leave. I fell victim to `gcloud auth application-default` and was using the wrong account. Error message was what threw me off a bit.

[2020-08-18 07:41] #6899 closed

[2020-08-18 09:05] robcharlwood commented on #6876
@edwardmedia I don't believe this helps - unless I'm missing something. That release allows you to create the serverless NEG resource. However, you still cant reference that resource within the google_compute_backend_service since its not "serverless neg aware" and tries to apply max utilisation to the resource. :)

[2020-08-18 10:01] #5463 closed

[2020-08-18 13:50] pdecat opened #7046 "Doc: IAM policy audit_config is a top level field, not a sub-field of binding"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-18 14:21] #6754 closed

[2020-08-18 14:55] edwardmedia commented on #7046
@pdecat the example in the document seems to be clear where `audit_config` should be put. I agreed it is a little bit confusion in the `Argument Reference` section as the `audit_config` is listed along with `role` and `member`. Am I right in term of understanding the issue you reported?  Any suggestion that will make it clear?

[2020-08-18 14:58] pdecat commented on #7046
Hi @edwardmedia, the example is right, but the above documentation for binding states:

Moving the `audit_config` documentation above the `binding` would eliminate the ambiguity IMO.

[2020-08-18 15:52] fpoppinga commented on #1945
Another workaround for this, if you happen to create the project in the same run as the GCR:

[code]

[2020-08-18 15:57] fpoppinga opened #7048 "Error: project: required field is not set. - on google_container_registry"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-18 16:29] jsoref opened #7050 "produced an unexpected new value for %!s(MISSING)."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-18 16:35] icco opened #7051 "Max utilization is not supported for Serverless network endpoint groups."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-18 16:35] icco commented on #6749
https://github.com/hashicorp/terraform-provider-google/issues/7051

[2020-08-18 16:38] icco commented on #6876
I filed https://github.com/hashicorp/terraform-provider-google/issues/7051 as I ran into the point that @robcharlwood points out.

[2020-08-18 16:53] edwardmedia commented on #6876
@slevenick  By removing the `maxUtilization` from the payload, I can create that `backend-service`. Below is the payload I used
[code]

[2020-08-18 17:03] edwardmedia commented on #6876
closing this issue as https://github.com/hashicorp/terraform-provider-google/issues/7051 for tracking this issue

[2020-08-18 17:03] #6876 closed

[2020-08-18 17:12] slevenick commented on #7051
Ah yeah, I made this work specifically for global NEGs based on inferring type from their URL. A similar check will be needed for regional NEGs

[2020-08-18 17:13] edwardmedia commented on #7048
@fpoppinga I can't repro the issue. Either providing `project` explicitly or using `environment variable, I can create the registry. Can you share your debug log?

[2020-08-18 17:22] edwardmedia commented on #7050
@jsoref here is the error we may want to check. Can you verify if the key exists?
[code]

[2020-08-18 17:23] jsoref commented on #7050
For this bug, there are no keys in the keyring. And I don't care. I'm annoyed by the `MISSING` thing.

[2020-08-18 17:35] iangelov commented on #7051
I attempted setting max_utilization (which is documented as being optional) to null (from its default value of 0.8), but to no avail.

[2020-08-18 17:39] jsoref commented on #7050
ok. This bug is due to the trailing `+` which should be a `,` here:
https://github.com/hashicorp/terraform/blob/27affd06cedff04d5a74c819cd296fa8ecff9e2b/terraform/eval_read_data_plan.go#L135

[2020-08-18 18:00] jsoref commented on #7044
So... I suspect a significant portion of our problem is:
[code]

@edwardmedia: I don't suppose you know of an easy way to prevent that code from running?

[2020-08-18 18:21] craigh1015 opened #7052 "Using self_link on instance creation is causing constant "forces replacement" on the instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-18 18:38] edwardmedia commented on #7050
@jsoref Thank you again for participation. It appears your fix is targeting `terraform`. I would suggest you file an issue at below GH. I am closing this issue then. Feel free to reopen it if you see a need to continue within the provider

https://github.com/hashicorp/terraform/issues

[2020-08-18 18:38] #7050 closed

[2020-08-18 18:44] edwardmedia commented on #7044
@jsoref I am not clear what you are trying to do from your above comment. Can you explain a little more detail? If you have other questions as opposed to this particular issue, I would suggest you file other issues so we can track issues properly. I need repro steps from you so I can understand more about this issue.

[2020-08-18 18:47] jsoref commented on #7044
Right now in the other issue, it looks like terraform decides it isn't interested in creating the nodes -- afaict it seems to have decided nothing is using them, and therefore instead of creating them, it decides not to.

It's pretty hard to get all these pieces to cooperate when they actively fight that.

[2020-08-18 18:50] jsoref commented on #7050
I didn't realize that this bug was caused by terraform until I debugged it.

I hope you don't expect end users to be able to divine the right place for a given bug in advance.

[2020-08-18 19:08] #7016 closed

[2020-08-18 19:12] edwardmedia commented on #7052
@craigh1015 it seems that you were trying to assign `network` to `subnetwork`.  Look at the plan after you have applied, you may see
it keeps trying to replace the `subnetwork` with the `network`. Please let me know if this make sense?

[code]

[2020-08-18 19:19] edwardmedia commented on #7044
@jsoref if there are anything we can help, let us know. Regarding this issue, if you can provide the repro steps, that can help address the issue. If you don't what the issue is, I would suggest to close the issue at this moment and you can always to reopen it if you have the answer.

[2020-08-18 19:42] craigh1015 commented on #7052
This is from the PluralSight training course. I had assumed that it is requesting any valid subnet from those defined on the network.
How are you suggesting I modify the script?

The subnets are automatically created when the network is created. I am not sure how to get a self_link to the default subnet that was created in the region

[2020-08-18 20:18] robmessick opened #7053 "Support enable-tpu-service-networking for google_container_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-18 20:27] edwardmedia commented on #7052
@craigh1015 you may try something like below

[code]

[2020-08-18 20:36] #2964 closed

[2020-08-18 20:43] craigh1015 commented on #7052
This appears to be creating a new subnet rather than use the default subnets.

Is there a mechanism to specify a self_link to the `default` subnet created when the network is created?

[2020-08-18 20:59] robertrockjr opened #7055 "Add machine_image to google_compute_instance resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-18 22:18] jsoref opened #7058 "Simplistic google_kms_key_ring does not create key ring"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-18 22:43] #5731 closed

[2020-08-18 22:56] edwardmedia commented on #7052
@craigh1015  you could also just provide `network` instead of `subnetwork`. In that way, you can keep auto-created `default` subnetwork

[code]

[2020-08-19 00:16] edwardmedia commented on #6810
@joe-boyce I was thinking of something like below code which can create multiple instances. You can notice their `natip` for each instance.

[code]
[code]
[code]

[2020-08-19 02:48] craigh1015 commented on #7052
OK - that was exactly what I was looking for - thanks!

[2020-08-19 02:48] #7052 closed

[2020-08-19 03:47] edwardmedia commented on #6952
@dhvogel do you have more questions?

[2020-08-19 09:44] dex4er opened #7059 "google_memcache_instance: Cannot fetch a discoveredEndpoint for memcached instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-19 12:42] sjosegarcia commented on #7033
I am sorry for the late response. Ill dive depeer later at the difference. But I have used just `iam_policy` before with the role that is contained in `project_iam_policy`.

[2020-08-19 13:13] edwardmedia commented on #7033
@sjosegarcia Closing this issue now. Please feel free to reopen it if you see a need to continue the conversation. Thanks

[2020-08-19 13:13] #7033 closed

[2020-08-19 14:53] upodroid commented on #7055
There is an open PR for this.

https://github.com/GoogleCloudPlatform/magic-modules/pull/3873#issuecomment-675712186

[2020-08-19 16:46] #6773 closed

[2020-08-19 17:09] venkykuberan commented on #7058
If you are trying to create the resource, you need to use the following, [doc](https://www.terraform.io/docs/providers/google/r/kms_key_ring.html)

[code]

[2020-08-19 17:09] #7058 closed

[2020-08-19 17:14] jsoref commented on #7058
Sigh. I copy+pasted from https://www.terraform.io/docs/providers/google/d/kms_key_ring.html#example-usage -- the disinction between `data` and `resource` regularly trips me up.

[2020-08-19 17:54] #4988 closed

[2020-08-19 18:07] #6967 closed

[2020-08-19 18:09] c2thorn commented on #6967
Thanks for your patience @wastrachan! Turns out this was definitely unintentional. The fix will take some time to propagate to a release (looks like it will end up in v3.37).

[2020-08-19 19:45] joe-a-t opened #7064 "Impersonating GCP service accounts"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-19 20:33] edwardmedia commented on #6972
@MBarendregt  do you still see the issue with the latest version of the provider?

[2020-08-19 22:06] upodroid commented on #7064
There is a new feature being developed in the golang google api client that should make this much easier.

https://github.com/googleapis/google-api-go-client/pull/625

When this comes out, the provider should be able to accept this and use the ADC to acquire and renew an access token belonging to the impersonated service account.

[code]

[2020-08-19 22:14] #7051 closed

[2020-08-19 22:44] jsoref opened #7067 "google_kms_crypto_key already_exists instead of resurrecting the deleted key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-20 01:22] edwardmedia commented on #7067
@jsoref this is the KMS' behavior.  Here is what its doc explains,  Are you able to recover them using other tools?
[code]
https://cloud.google.com/kms/docs/destroy-restore

[2020-08-20 01:22] #7067 closed

[2020-08-20 01:26] edwardmedia commented on #6971
@jgireeshj I am closing this issue now as I assume you have resolved the issue. Feel free to reopen it if you need to continue the conversation. Thanks

[2020-08-20 01:26] #6971 closed

[2020-08-20 01:29] edwardmedia commented on #7014
@emmaLP is this still an issue?

[2020-08-20 01:30] edwardmedia commented on #7015
@aabedraba does that workaround work for you?

[2020-08-20 01:31] edwardmedia commented on #7036
@bvarga is this still an issue with you?

[2020-08-20 01:34] edwardmedia commented on #7044
@jsoref I am closing this issue at this moment. Please reopen it once you figure out the steps about how to repro the issue. Thank you

[2020-08-20 01:34] #7044 closed

[2020-08-20 03:23] jsoref commented on #7067
I'm not really trying to recover them. I'm trying to get things into a happy state where terraform stops trying to delete things it can't delete.

If terraform can't really delete things, then why does it bother complaining when it fails?

[2020-08-20 06:58] emmaLP commented on #7014
@edwardmedia sorry for the delay in getting back to you. Yes this is still an issue.

I re-tested this morning but used a plan file and then attempted to apply afterwards. I get the same error
Logs can be found here: https://gist.github.com/emmaLP/df852803af7e615e227f47db989deb59

This is down to the name of the disk been the same for the replacement. Google doesn't seem to allow duplicate disk na

[2020-08-20 08:39] matthias-froomle opened #7069 "Add support for autoprovisioned field of v1beta1 in google_container_node_pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-20 13:23] edwardmedia commented on #7067
@jsoref below is from `google_kms_key_ring` resource document. Does it match what you have found? If not, what the behavior you would like it be?
[code]
https://www.terraform.io/docs/providers/google/r/kms_key_ring.html

[2020-08-20 13:42] jsoref commented on #7067
Our state is stuck with some terraform managed keyrings for keyrings which were deleted (either by terraform or a human, I haven't determined which).

Every time we try to apply (which doesn't list the rings in the plan because we've deleted them from our plan), it fails complaining about being unable to delete the resources.

The behavior I'd expect is not failing and actually remove the items fr

[2020-08-20 13:47] #4782 closed

[2020-08-20 16:47] #5784 closed

[2020-08-20 17:55] edwardmedia commented on #7014
@emmaLP using external data source seems to be fine as long as it returns the right snapshot. If you add `output` for your external data source, what do you see? Also you may want to try hard-coding the result of the external data source, and see what it happens?

[2020-08-20 18:16] arbourd opened #7071 "Default provider variable `project` is not inherited by resources with 0.13"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-08-20 18:40] megan07 commented on #5773
These seem to have been passing for awhile now, so I'll close this and we can re-open if the problem arises again!

[2020-08-20 18:40] #5773 closed

[2020-08-20 18:41] arbourd commented on #7071
Okay solved. This isn't an issue with the provider but with my understanding of how the new local names work.

[code]

[2020-08-20 18:41] #7071 closed

[2020-08-20 22:21] david-wb opened #7072 "Please add a deletion_protection field for google_sql_database_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest