[2021-04-29 18:19] rcaril commented on #9022
@aareet This has solved my problem, thanks!

[2021-04-29 18:52] aareet opened #9036 "Warning during init for Terraform versions 0.12.1 - 0.12.30: "This version of Terraform has an outdated GPG key and is unable to verify new provider releases.""
### Affected Resource(s)

* google_*

As part of HashiCorp's response to [HCSEC-2021-12](https://discuss.hashicorp.com/t/hcsec-2021-12-codecov-security-event-and-hashicorp-gpg-key-exposure/23512), the Terraform Registry is returning a warning message to Terraform Clients version 0.12.1 - 0.12.30:

[code]

This message means that the Registry is omitting provider versions signed by the new GPG key,

[2021-04-29 19:06] aareet commented on #9019
Hi all, apologies again for the disruption here.

We have just shipped some changes to the Terraform Registry to mitigate this problem. You will now see a [warning](https://github.com/hashicorp/terraform-provider-google/issues/9036) if you are using Terraform versions 0.12.1 to 0.12.30. This message means that the Registry is omitting provider versions signed by the new GPG key, and your Terraform

[2021-04-29 19:06] flightlesstux commented on #9030
@megan07 @rileykarson Hello, module version `3.65.0` also is working, and now, I've tested on `3.66.1` the issue is solved.

[2021-04-29 19:06] #9030 closed

[2021-04-29 19:22] jknarr-mw opened #9037 "master_ipv4_cidr_block should accept some sort of nil or false value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-29 19:29] jknarr-mw commented on #9037
This is counter-intuitive to me but

[code]

Turned out to be the correct syntax to enable this behavior.

[2021-04-29 19:29] #9037 closed

[2021-04-29 22:26] upodroid commented on #8882
@rameshdharan I see that PR has been merged now. Do you know when that team will cut a new release?

One of the reasons I want to rewrite it with the autogen library is that it is using gRPC to communicate which is troublesome (#8221) as we can't log requests in terraform.

https://github.com/googleapis/google-cloud-go/blob/master/bigtable/admin.go#L632

I did some reading when I looked at 8221 an

[2021-04-29 22:43] bharathkkb commented on #6782
@c2thorn @rileykarson some of the team members have been running into this lately. Any possibilities for a fix?

/cc @daniel-cit

[2021-04-30 05:25] toumorokoshi opened #9038 "pubsub_subscription retry_policy.minimum_backoff outputs diff with fractional seconds."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-30 05:51] softveda opened #9039 "Terraform plan fails with service_account block for google_compute_instance resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-30 10:03] aba75-sbg commented on #8904
Hey. It's nice to see a PR on this issue. Looking through the commits, it seems like tests have been added but no change to any code. Am I missing something?

[2021-04-30 13:07] mBouamama opened #9040 "Change url for ressources dns_record_set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-30 13:16] mBouamama opened #9041 "Error on google_dns_record_set but ressource is created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-30 13:41] edwardmedia commented on #9031
@kwri-avongluck help me to understand what you expected. You use the dynamic code, which may or may not produce the result as what you expect. From the provider's perspective, can you repro the issue with hard-coded attributes? In the meantimes, can you post the debug log that contains the api requests & responses?

[2021-04-30 13:59] edwardmedia commented on #9038
@toumorokoshi this seems to be an api issue. The provider sends right format "60.0s" which is good as specified by api [doc](https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.subscriptions#retrypolicy) but receives "60s".

[code]

[2021-04-30 14:02] kwri-avongluck commented on #9031
Hi!  So essentially the dynamic code makes a series of google compute instances with some inputs:

[code]

So in qa, we get 4 instances with the above input (just example vm names)

* node1-us-central1-a
* node2-us-central1-a
* node1-us-central1-c
* node2-us-central1-c

This is all working fine and has been for quite some time.  However, the google provider keeps attempting to attach the same snap

[2021-04-30 14:18] kwri-avongluck commented on #9031
[run-sp5YRn7EHTDbDU6A-apply-log.txt](https://github.com/hashicorp/terraform-provider-google/files/6405956/run-sp5YRn7EHTDbDU6A-apply-log.txt)

TF_LOG=DEBUG with some redactions around IAM bindings, project names, any kind of potential keys, etc.

[2021-04-30 14:36] diasjorge commented on #6260
Dear maintainers, any possibility to get this fixed, or at least some guidance where to try to fix it please?

[2021-04-30 14:56] edwardmedia commented on #9041
@mBouamama closing this as dup https://github.com/hashicorp/terraform-provider-google/issues/8935 as well. The [fix](https://github.com/GoogleCloudPlatform/magic-modules/pull/4725) was merged yesterday, and watch for the next release.

[2021-04-30 15:13] kwri-avongluck commented on #9031
The only recent change was adding a second disk to the gcp instance (with a new snapshot policy)

* Tracking one single disk attachment, no issues were encountered on creation / run for 6 months+
* As soon as secondary volume was attached, the complaints about having a snapshot schedule already attached began.

The code attaches the snapshot policy to each individual disk (which should be fully wi

[2021-04-30 15:28] melinath commented on #8904
@aba75-sbg no, you're not missing anything. It's a partial PR I haven't sent out for review yet.

[2021-04-30 15:31] upodroid commented on #8928
These were made updatable recently by @c2thorn in https://github.com/GoogleCloudPlatform/magic-modules/pull/4402

[2021-04-30 15:54] adrian-gierakowski opened #9042 "error when destroying and recreating google_compute_per_instance_config/google_compute_region_per_instance_config"
When a `google_compute_per_instance_config` is created, both a vm and the instance config linked to it are [created](https://github.com/hashicorp/terraform-provider-google/blob/9a98b299ee7f59ab55a52d9e9d65e2db6faed321/google/resource_compute_region_per_instance_config.go#L184).

However when `google_compute_per_instance_config` is destroyed, the is vm remains untouched

This leads to errors when a

[2021-04-30 16:27] adrian-gierakowski commented on #9042
note that this can be worked around by calling `gcloud compute instance-groups managed delete-instances ...` from within `local-exec` provisioner executed on destroy of google_compute_region_per_instance_config, but the solution should really be incorporated natively into the resource itself

[2021-04-30 17:12] c2thorn commented on #8928
Thanks for the reminder @upodroid, it does seem to no longer flake.

[2021-04-30 17:12] #8928 closed

[2021-04-30 17:22] mBouamama commented on #9041
@edwardmedia i tested with the version 3.66.1(https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.66.1) with fix #8935 and i have still the same problem.

[2021-04-30 17:49] maheshwara-bwd opened #9043 "google_compute_snapshot - Snapshot cannot be created for Regional disks (google_compute_region_disk)"
Hi team,

I was not able to create a Snapshot for Regional disks created with **google_compute_region_disk**.

google_compute_snapshot is not able to find the source disk for Regional disks as it is specifically searching for a disk inside **project/<project_name>/zones/<zone_name>/disks/<disk_name>** while regional disks are created inside **project/<project_name>/regions/<region_name>/disks/<dis

[2021-04-30 19:02] venkykuberan commented on #9026
@drigz This issue is on the API side, provider have no control of it. I am closing this now. Please reopen when you get the error next time with the debug log attached.

[2021-04-30 19:02] #9026 closed

[2021-04-30 19:06] jaredkosanovic opened #9044 "google_apigee_envgroup_attachment creation returns error with HTTP 404"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-30 19:06] venkykuberan commented on #9027
@cah-rick-sheets that's legit error, the id you are using doesn't match the regular expression expected. Were you able to perform the same operation outside terraform (cloud console, gcloud, API Rest call ) ?

[2021-04-30 19:22] RobCannon opened #9045 "The referenced disk resource cannot be found"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-30 20:36] edwardmedia commented on #9038
I am building a diffSupress func now

[2021-04-30 20:58] #8904 closed

[2021-04-30 21:10] edwardmedia commented on #9031
@kwri-avongluck are you able to repro it with a single instance with 2 disks? Start from brand new, and share the debug log.

[2021-04-30 22:14] melinath commented on #8924
It looks like all the excess compute global internal addresses are prefixed with either "cluster" or "resourcegroup" which seems to indicate they come from dataproc metastore: https://cloud.google.com/dataproc-metastore/docs/create-service#using-non-rfc1918-address

[2021-04-30 22:24] melinath commented on #8924
It seems likely that the ip addresses are actually associated with dataproc clusters rather than directly with metastore services: https://cloud.google.com/dataproc/docs/reference/rest/v1/ClusterConfig

[2021-04-30 23:00] #9038 closed

[2021-04-30 23:29] edwardmedia commented on #9045
@RobCannon can you share the entire debug log?

[2021-05-02 15:08] yorix20 opened #9050 "google_project_iam_binding returns "Request contains an invalid argument""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-02 17:22] gcaracuel opened #9051 "google_compute_instance_template missing disk_labels at documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-02 17:26] gcaracuel commented on #9051
Fixed by ( #9052 )

[2021-05-03 05:18] maheshwara-bwd opened #9053 "google_compute_snapshot - Snapshot cannot be created for Regional disks (google_compute_region_disk)"
Hi team,

I was not able to create a Snapshot for Regional disks created with google_compute_region_disk.

google_compute_snapshot is not able to find the source disk for Regional disks as it is specifically searching for a disk inside project/<project_name>/zones/<zone_name>/disks/<disk_name> while regional disks are created inside project/<project_name>/regions/<region_name>/disks/<disk_name>

A

[2021-05-03 11:54] felixogg-britned commented on #7883
Using 3.65.0 actually a ```paused``` state, configuration drift originating from the GUI, **blocked Terraform apply** with an error
``` googleapi: Error 400: Job.state must be ENABLED or UPDATE_FAILED  for UpdateJob.```

It all cleared up when I manually enabled the jobs in the GUI, and re-ran ```plan``` and ```apply```.

[2021-05-03 13:44] edwardmedia commented on #9050
@yorix20 how did you create the credential file? Since you are working on `project` level resources, does the account used in the credential file have `org` level privilege?

[2021-05-03 15:57] yorix20 commented on #9050
Hi @edwardmedia,

Thanks for your response.

I added `roles/resourcemanager.organizationAdmin` to the service account but I still get the same error.

Here are the logs from `gcloud`

[code]
https://gist.github.com/yorix20/a462900b157ff8cdc8c0e9168760591b

[2021-05-03 17:00] venkykuberan commented on #8918
@tSte we have added fix for this condition [here](https://github.com/hashicorp/terraform-provider-google/blob/fb5f35b29250ca8976ae3d237d28a55b8f823299/google/resource_container_cluster.go#L79). Can you please try with latest version for the provider .

[2021-05-03 17:10] nirby821 opened #9056 "terraform tries to drop table on partition_expiration_days update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-03 17:41] rileykarson commented on #8985
Note: this is / will be available in the DCL

[2021-05-03 17:42] rileykarson commented on #8998
The service identity resource @upodroid pointed out is the correct way to retrieve this account.

[2021-05-03 17:42] #8998 closed

[2021-05-03 17:44] rileykarson commented on #9001
note: this may require changes on the affected resource if it is not already supported

[2021-05-03 17:46] RobCannon commented on #9045
Sorry, when I run with TF_LOG=TRACE, the error doesn't happen. Since I suspect this to be a timing issue, I guess the additional time for the error log to write out is enough time for the disk creation to finish and for the resource to show up from the Google API.  The error still occurred in some of our jobs over the weekend, but I didn't have trace logging setup for the production terraform runs

[2021-05-03 17:48] rileykarson commented on #9040
Note: I think that this is due to the `legacy_name` field in MMv1 not getting used in the filename.

[2021-05-03 17:49] carlpett commented on #8985
Great, but, eh, what is the DCL? :sweat_smile:

[2021-05-03 17:56] rileykarson commented on #8985
Notes that I add to issues are generally during a team triage meeting so I don't completely flesh out the details, sorry about that! The DCL ('declarative client library') is https://github.com/GoogleCloudPlatform/declarative-resource-client-library, a client library for declarative tooling like TF which substantially simplifies the implementation of new resources.

[2021-05-03 18:02] rileykarson commented on #9006
Note: We have support for this in the private provider already, so we can just apply those changes to the public provider

[2021-05-03 18:04] rileykarson commented on #9006
Ah wait- duplicates https://github.com/hashicorp/terraform-provider-google/issues/8822 as https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/spanner_database#encryption_config

[2021-05-03 18:04] #9006 closed

[2021-05-03 18:05] carlpett commented on #8985
Oh, okay, thanks for the explanation!

[2021-05-03 18:15] venkykuberan commented on #9053
@maheshwara-bwd what is your provider version ?, Hope this doc helps - https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_region_disk

[2021-05-03 20:32] slevenick commented on #9027
Hmmmm, it looks like you are missing something in the config that you have shared. I don't think this error is coming from the config that you have posted because it is a validation error on the `google_service_account` resource's `account_id` field.

The following config works for me:
[code]

Can you check that this error is actually reproducible with this config, and not from a `google_service_a

[2021-05-03 20:34] #9000 closed

[2021-05-03 20:40] venkykuberan commented on #9044
@jaredkosanovic can you please try using `id` instead of `name` and see if it works ?

[2021-05-03 20:59] mikhail-khodorovskiy opened #9058 "Support for equivalent to gcloud beta dataflow flex-template build for beta provider."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-03 21:42] rileykarson commented on #6858
I closed our internal bug as won't fix, since I haven't received a response there 🤷‍♀️

[2021-05-03 22:15] rileykarson opened #9062 "Add support for ServiceAttachment (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-03 22:17] rileykarson commented on #8454
Closing based on the initial pass, with revisions superseded by https://github.com/hashicorp/terraform-provider-google/issues/9062

[2021-05-03 22:17] #8454 closed

[2021-05-03 22:28] ahmed1smael commented on #8470
For API the default is on, so it's nice to have the option to turn it off.

[2021-05-03 23:10] #8515 closed

[2021-05-03 23:45] edwardmedia commented on #9045
@RobCannon your code looks fine. Normally timing is not an issue for these resources. One thing I can think of is API may experience issues at that time.  Let's leave the issue open for a few days. Please try to repro the issue so we can take a close look.

[2021-05-04 00:09] edwardmedia commented on #9050
@yorix20 is your `service account` one of below account?
You chose `_binding` resource in your config, which means it will try to replace the below two members with your new one for the `roles/owner`.  As a result, the account `terraform@terraform-312509.iam.gserviceaccount.com` will no longer be an owner on the project. Is that what you want to do?  Instead you may want to try `google_project_iam

[2021-05-04 05:03] PrateekKhatri opened #9064 "google_compute_machine_image does not support machine_image_encryption_key configuration"
While  adding **"machine_image_encryption_key"** configuration getting **"Computed attributes cannot be set, but a value was set for machine_image_encryption_key.0.kms_key_name"** error.

Below is the code:

Provide version used : 3.64.0

**Source Code**
resource "google_compute_machine_image" "image" {
  provider        = google-beta
  project         = var.project_name
  name            = "${var

[2021-05-04 05:19] maheshwara-bwd commented on #9053
Hi Venky,

Thanks for the quick reply.
The document like you have shared is **compute_region_disk** which is used to create a Regional disk from snapshot or other sources.
But my requirement is to create a Snapshot out of the Regional disk. I can create a snapshot of the Zonal disk with **google_compute_snapshot** but not of a Regional disk.
The issue is **google_compute_snapshot** is not able to

[2021-05-04 08:57] Guimove opened #9065 "google_datafusion_instance does not support RBAC activation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-04 09:00] yorix20 commented on #9050
Hi @edwardmedia

I thought `google_project_iam_binding`would append the new binding. Anyways, using `google_project_iam_member`worked.

Thank you very much =)

[2021-05-04 09:00] #9050 closed

[2021-05-04 11:32] Djabx opened #9066 "Better management of google_project_iam_custom_role deleted status"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-04 13:06] PrateekKhatri commented on #9064
Hi Team,

Any updates for this issue?

[2021-05-04 13:35] edwardmedia commented on #9031
@kwri-avongluck is this still an issue?

[2021-05-04 14:51] kwri-avongluck commented on #9031
yesterday i deleted every snapshot attachment in the project (even unrelated ones) and reapplied the terraform.
The snapshots were re-attached.  Ran the TF a second time and it applied cleanly.

🤷

I guess resolved?  This kind of stuff seems to happen all the time with the google provider.

[2021-05-04 14:51] #9031 closed

[2021-05-04 14:55] Ameausoone opened #9067 "Label resources at provider level"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-04 15:22] Guimove opened #9068 "google_datafusion_instance as no zone argument in DEVELOPER mode"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-04 15:22] #8924 closed

[2021-05-04 15:34] edwardmedia commented on #9041
@mBouamama reopening the issue as you still experience the problem. By now the fix has not been released yet. Below is the release history. Can you check after it is released? Please provide the details to repro if the fix does not work.

https://github.com/hashicorp/terraform-provider-google/releases

[2021-05-04 15:39] Guimove opened #9070 "google_datafusion_instance add support for accelerators"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-04 16:49] rileykarson commented on #5727
Ah! The instance should be given a name that changes, if possible.

[2021-05-04 16:50] axcosta commented on #9010
hi @venkykuberan! I'm running this through Atlantis pipeline and at the moment when I try using  `TF_LOG=DEBUG`, I'm getting an error and execution plan doesn't come through. I already opened an issue withing Atlantis. So while I'm waiting on that, I cannot send you debug log. If appropriate, please put this ticket on hold. Thanks!

[2021-05-04 16:56] venkykuberan commented on #9053
Are you referring the source_disk by name ?, if so can you try id/self_link of the resource ?

[2021-05-04 17:28] tonybenchsci commented on #8692
Any updates on when this might be supported?

[2021-05-04 17:46] openlyDarwin opened #9074 "Throw a validation error when CNAME rrdatas strings don't end with a dot in google_dns_record_set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-04 17:50] venkykuberan commented on #9053
@maheshwara-bwd currently this resource supports only zonal disk snapshot [code](https://github.com/hashicorp/terraform-provider-google/blob/7174b27705e94b4f910a2a95cb5a1bd1a46bd526/google/resource_compute_snapshot.go#L285) , we may need a new resource for regional disks or modify the existing one to support both. I will mark this issue as an enhancement and will take it from there.  Thanks for fi

[2021-05-04 18:19] tSte commented on #8918
There is [open issue](https://issuetracker.google.com/issues/186511728) on this matter...

[2021-05-04 18:27] slevenick commented on #8918
Great find @tSte we will likely need to track that to see what the resolution looks like before we can fix this in the provider. Until then the restriction on specifying these fields at the same time seems to be the best solution

[2021-05-04 18:36] edwardmedia commented on #9056
@nirby821 can you share the debug log?

[2021-05-04 19:15] akkornel commented on #8998
That's awesome, thanks both!  That looks good; I'll keep a watch on it, and push it into production as soon as it leaves beta.

[2021-05-04 20:23] #8570 closed

[2021-05-04 21:19] saranicole17 opened #9077 "Add Access Transparency resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-04 22:00] slevenick commented on #9043
This looks related to https://github.com/hashicorp/terraform-provider-google/issues/9053 closing in favor of that one.

I don't believe there is currently a way in Terraform to create snapshots of regional disks, the existing snapshot resource only works on zonal disks as far as I can tell

[2021-05-04 22:00] #9043 closed

[2021-05-04 22:33] melinath commented on #8826
`serve_while_stale` seems likely to be the root cause behind https://github.com/hashicorp/terraform-provider-google/issues/8939; hopefully fixing that will eliminate one of the contributing factors.

[2021-05-05 02:43] #4275 closed

[2021-05-05 03:54] briantkennedy opened #9079 "Allow google_container_cluster cluster_ipv4_cidr to accept block size without prefix"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-05 04:23] maheshwara-bwd commented on #9053
Sure, Thanks @venkykuberan

[2021-05-05 04:25] maheshwara-bwd commented on #9053
It does not work with self_link or id.

[2021-05-05 09:12] hazcod opened #9080 "google_compute_managed_ssl_certificate does not support namespace prefix"
### Terraform Version

Terraform v0.15.1
on darwin_arm64

### Affected Resource(s)

google_compute_managed_ssl_certificate

### Terraform Configuration Files

[code]

[code]

### Expected

Be able to automatically create an ingress for cert `gke-ingress-cert`.

### Outcome

Console returns `ManagedCertificate dev-web:gke-ingress-cert missing`.
If I try to set `dev-web:gke-ingress-cert` in the `nam

[2021-05-05 09:37] samiwel commented on #4388
In case someone is looking for a workaround I recently ran into this exact issue and was able to get around by doing the following:

[code]

[2021-05-05 10:27] amacey44 opened #9081 "Release for Secrets Manager Updates"
Is there a timeline for the next release?  I'm keen to incorporate the secret manager updates into my next set of updates for an internal release, do you know when they will be rolled up?

[2021-05-05 11:35] hazcod commented on #9080
Seems to be a wrong error message, it doesn't use the namespace prefix.

[2021-05-05 13:30] PrateekKhatri opened #9082 "google_compute_machine_image does not support machine_image_encryption_key configuration"
While adding "machine_image_encryption_key" configuration getting "Computed attributes cannot be set, but a value was set for machine_image_encryption_key.0.kms_key_name" error.

**Below is the code:**

**Provide version used : 3.64.0**

**Source Code**
resource "google_compute_machine_image" "image" {
provider = google-beta
project = var.project_name
name = "${var.env_name}-${var.infra_type}-mach

[2021-05-05 14:24] sethvargo commented on #9077
Internal tracking bug: b/187290137

[2021-05-05 14:46] edwardmedia commented on #9080
@hazcod can you share the debug log when you ran above config?

[2021-05-05 18:23] venkykuberan commented on #9068
@Guimove I am able to get the resource created successfully, It took about 15 mins  though ..
 I used the following config and attached the API response as well. It seems like it took the default zone for the region.

Terraform version
[code]

[code]

API response
[code]

[2021-05-05 18:26] abstrctn opened #9084 "google_compute_security_policy rules are always recreated if they have a match expr set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-05 18:43] venkykuberan commented on #9082
`kms_key_name` is set as `computed` [here](https://github.com/hashicorp/terraform-provider-google-beta/blob/master/google-beta/resource_compute_machine_image.go#L96) although it shouldn't be. We will fix it, thank you for filing the issue

[2021-05-05 18:46] melinath commented on #9084
I vaguely remember this - the summary of my findings is in https://github.com/GoogleCloudPlatform/magic-modules/pull/4472. TLDR there _is_ an outstanding issue here. Since I've lost the context it would probably make sense to assign this to the current bug onduty.

[2021-05-05 18:57] hazcod commented on #9080
@edwardmedia : │ Error: Error creating ManagedSslCertificate: googleapi: Error 400: Invalid value for field 'resource.name': 'dev-web:gke-ingress-cert'. Must be a match of regex '(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?)', invalid
[code]

[2021-05-05 19:23] hazcod commented on #9080
Hmm, had to pick `ingress.gcp.kubernetes.io/pre-shared-cert`. Sorry, closing.

[2021-05-05 19:23] #9080 closed

[2021-05-05 19:44] rux616 opened #9086 "Have local google_storage_bucket resource name validation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-05 20:03] edwardmedia opened #9087 "google_compute_instance crash on serviceAccountDiffSuppress"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-05 20:54] rileykarson commented on #9077
I don't believe this is currently possible- I don't see any indication that an API exists to allow us to add this functionality within Terraform.

[2021-05-05 21:00] #8939 closed

[2021-05-05 21:12] hazcod opened #9088 "Create FrontendConfig resource"
Would be nice to have a Terraform equivalent of:

[code]

[2021-05-05 23:31] edwardmedia commented on #9087
Closing it as it is fine with official build

[2021-05-05 23:31] #9087 closed

[2021-05-06 01:25] guilledipa commented on #7242
Folks, this is still happening. Even by fixing the `columns` field; Terraform keeps setting `name` and `etag` to `null`.

[2021-05-06 01:39] edwardmedia commented on #9088
@hazcod  do you want to create k8s resources? k8s' api is different from what we discuss here which is GCP's apis. If I misunderstood, mind provide the api that supports what you are asking?

[2021-05-06 03:47] yashbhutwala opened #9092 "Managing multiple google_service_networking_connection for same VPC, different cloudsql instances causes permadiff"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-06 05:04] PrateekKhatri commented on #9082
Thanks for the update.

[2021-05-06 05:35] rameshdharan commented on #8882
Release has been cut (two recent ones actually):
https://pkg.go.dev/cloud.google.com/go/bigtable@v1.10.0

Understood, however note that while I can see how request logging can be useful FWIW I haven’t heard it raised from any of our existing Bigtable+Terraform users as a blocking concern.

We do meanwhile have a customer blocked and eagerly awaiting the ability to use Terraform to create Bigtable

[2021-05-06 05:53] hazcod commented on #9088
@edwardmedia I guess it's a bit of an oddball scenario. In this case the FrontendConfig instruments the GCP external HTTPS load balancers, so are actually part of GCP. But for some reason, it must be instructed from within the Ingress on kubernetes using an annotation to the FrontendConfig.

[2021-05-06 07:30] MontyD opened #9093 "Creating google_dns_record_set with rrdatas from google_dns_keys data source causes replacement due to case differences"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-06 07:57] Guimove commented on #9068
mmh OK seems it also worked on my side today with my original code... maybe a temporary issue or something like.

But imo I think having the option to choose the zone could be great, what do you think ?

Like that you can stick some resources on the same zone or on the opposite, be sure that two instances are not on the same zone, for example.

[2021-05-06 09:01] ocervell commented on #6782
same here, could you give steps to resolve ?

[2021-05-06 09:02] MelchiSalins commented on #7449
Can confirm this is still an issue in 3.61.1. Can't use "google_dataflow_job" at this stage

[2021-05-06 09:32] cschroer commented on #8444
Is this still an upstream error? For me it mostly looks like the terraform provider assumes a certain order for those project IDs and threshold_rules  blocks and this order doesn't match the APIs responses.

[2021-05-06 11:20] rjw57 commented on #9093
https://github.com/GoogleCloudPlatform/magic-modules/pull/4769 opened which should fix this

[2021-05-06 12:52] RobCannon commented on #9045
I have set TF_LOG=TRACE on our production jobs and the issue has not come up since.  It was still happening before that change.  I suspect that changing it back will re-introduce the bug.

[2021-05-06 13:54] #7168 closed

[2021-05-06 13:55] forestoden opened #9094 "Support for Dataproc on GKE"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-06 13:57] forestoden commented on #9094
I may have time to work on this soon, but if someone else is interested in picking it up, please do!

[2021-05-06 14:39] sanflores commented on #6251
While using google_compute_router_nat some times I get the error that subnet is not in ready state, adding a time_sleep of a couple of second fix it, but it not ideal, I think that provider should try a couple of times before failing.
My terraform plan is using terraform-google-network in order to create the network/subnets and terraform-google-cloud-router for the router and nat, If I don't put a

[2021-05-06 15:12] edwardmedia commented on #9088
@hazcod have you seen a GCP api that supports it? Please provide the link if so.

[2021-05-06 15:20] edwardmedia commented on #9045
@RobCannon setting `TF_LOG=TRACE` shouldn't change the behavior. If it does, we will need help from the Terraform core to take a look. In term of timing as you suspected, it could be the reason ( I did not see such cases for these resources ). In this case, you may add `sleep` logic between these two resources.

[2021-05-06 15:41] avercoutere opened #9096 "Can't create or update a Big Query View with a schema"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-06 16:14] olegeech-me commented on #7449
Getting the same on the latest v3.65.0

[2021-05-06 16:29] hazcod commented on #9088
I guess this fits under the new kubernetes provider, closing.

[2021-05-06 17:53] thomaswors opened #9097 "Unable to label disk when made with google_compute_instance"
### Description ###

The Boot Disk block in google_compute_instance does not support labels.

This can be mitigated by declaring a google_compute_disk and having the instance use this disk, however that leads to issues when updating existing resources.

If an existing instance has a disk mounted, it cannot destroy that disk until the instance is dead. An instance "depends on" block will have issue

[2021-05-06 18:20] thomaswors commented on #9097
My suggestion is addressed in the beta-provider.
https://registry.terraform.io/providers/hashicorp/google-beta/latest/docs/data-sources/compute_instance#boot_disk

There is still the issue of not being able to re-create the disk with a new image if it is in use by an existing instance.
[code]

[2021-05-06 18:24] thomaswors commented on #9097
second complaint being looked at here
https://github.com/hashicorp/terraform-provider-google/issues/9045#issuecomment-833608963

[2021-05-06 19:15] #9093 closed

[2021-05-06 19:39] #9021 closed

[2021-05-06 20:33] jaredkosanovic commented on #9044
@venkykuberan Thanks for your suggestion. That worked! I would like to offer a couple suggestions to improve the provider:
- The [documentation](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/apigee_envgroup_attachment) shows using the name, not the ID, in the example. It would be helpful if the example showed the correct attribute to use.
- A more detailed error me

[2021-05-06 20:33] #9044 closed

[2021-05-06 20:34] edwardmedia commented on #9088
Yeah that is for k8s provider

[2021-05-06 20:34] #9088 closed

[2021-05-06 20:59] megan07 commented on #8961
Hi @vitdolphin, after looking into this a bit, it looks like this is a manual step you will have to take for now, as there is no way for us to automate it (see [here](https://github.com/hashicorp/terraform-provider-google/issues/1950#issuecomment-540117897)). I'll close this for now, but if you have an idea of how we can automate it, please feel free to open a new issue! Thanks!

[2021-05-06 20:59] #8961 closed

[2021-05-07 00:08] venkykuberan commented on #9068
Agreed, will mark this as an enhancement request since it's not a bug. Team will triage it and take it from there.

[2021-05-07 06:42] steinroe opened #9103 "google_container_cluster causes panic exception after plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-07 07:29] Guimove commented on #9068
Thanks you, is it something also build by the magic modules ? if yes I've another PR ongoing so I can also take this point

[2021-05-07 09:06] avercoutere commented on #9096
I know that issue must be discuss before implementing, but take this PR has a discussion start. Currently the code in this Pull Request is working for my use cases and don't seems to broke anything but i'm sure that you have advice for me.

[2021-05-07 09:30] hprotzek opened #9104 "Adding cpu_cfs_quota breaks node pool"
Terraform v0.15.2
on darwin_amd64

Google 1.20.5-gke.2000

google-beta 3.66.1

Since we upgraded GKE to 1.20.5-gke.2000

our terraform plan failed for various node pools with the error:

[code]

After adding kubelet_config (was't set beore) with the default values

[code]

the node pools get completely broken and had to be deleted, as no pods couldn't run on it anymore:

[code]

Re-creating the no

[2021-05-07 10:26] Elephantei commented on #8470
It would be helpful to have this option, seeing that some of the alerts do not need notification upon resolution - without this option, all of them have this by default and it makes it a very "dense" space to go through alerts.

[2021-05-07 12:19] mBouamama commented on #9041
@thnee if you want u can change version to 3.63.0 like that:
[code]
That change solved my problem while waiting for the new release.

[2021-05-07 13:20] PrateekKhatri opened #9105 "Error when reading or editing ServiceNetworkingConnection. Error 400: There is no peering (servicenetworking-googleapis-com) for the network."
**Description :** While destroying resources getting error: **"Error when reading or editing ServiceNetworkingConnection. Error 400: There is no peering (servicenetworking-googleapis-com) for the network."**

**Terraform Configuration**

**Provider version used: 3.66.0**

resource "google_compute_global_address" "private_ip_mysql" {
  provider            = google-beta
  count         = var.infra_t

[2021-05-07 13:40] edwardmedia commented on #9041
@thnee the fix will be in v3.67.0 based on

https://github.com/hashicorp/terraform-provider-google/pull/9102/files

[2021-05-07 16:17] upodroid commented on #8671
@rileykarson We can close this now. Both issues have been fixed.

[2021-05-07 16:19] #8671 closed

[2021-05-07 16:40] melinath commented on #9079
I think this is either a bug or expected behavior - from the [API docs](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters):

On a quick glance it doesn't seem like we're doing anything to the value other than passing it to the API, so I'm not sure what gcloud might be doing that we're not. OTOH I could totally be missing something.

[2021-05-07 19:34] #9082 closed

[2021-05-07 19:41] yashbhutwala commented on #9092
Based on conversation with @morgante in https://github.com/terraform-google-modules/terraform-google-sql-db/issues/215, it was an issue with how we were using the resource.  Thanks @morgante for all the help!

P.S. maybe it'd help the next person, if somewhere it was clarified that `google_service_networking_connection` resource is meant to be managed per VPC, rather than per cloudsql instance, bu

[2021-05-07 19:41] #9092 closed

[2021-05-07 20:02] briantkennedy commented on #9079
It looks like a doc update just went out.  `clusterIpv4Cidr` is now deprecated and replaced with `clusterIpv4CidrBlock` which has docs:

This seems to indicate that the provider should switch to using the new field, however, this will require reconciling with the need to set the newly required `useIpAliases` field to `true` when making requests.  Would the right idea be to add the `use_ip_aliases`

[2021-05-07 23:21] erlanderlo opened #9108 "add cryptoDeterministicConfig tranformation for DLP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-08 12:22] shailesh-tendolkar opened #9109 "Startup-script is not working on the boot of VM instance (debian 9)"
Using Terraform I added startup script metadata to install the apache server on the VM instance. After terraform apply it creates everything but that startup script fails to run and I can see that script on the console under custom metadata...On the other hand, if I write the same script on the console it works. I am doing exactly the same thing using console then why it's not working via Terrafor

[2021-05-08 13:37] edwardmedia commented on #9109
@shailesh-tendolkar can you share your config and debug log?

[2021-05-08 16:04] PaddyMann commented on #9013
Any update on this?

It adds 5–10 minutes to each terraform deploy, including changes that in no way affect app engine. This is particularly painful when updating other areas of the infrastructure, which often takes 5–10 attempts to get right. Hours quickly get lost...

[2021-05-10 04:34] zbutt-badal opened #9110 "Cloud DNS RESPONSE POLICY ZONES"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-10 08:53] rlopezl opened #9111 "Error aplying Dataproc Workflow Template: [{true <nil> Placement}]"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-10 09:21] tSte commented on #8918
To be honest, I'm not sure what should be passed to GCP REST API in order to create GKE autopilot cluster with custom service account and access scopes (e.g. `node_config.service_account` vs. `auto_provisioning_defaults.service_account`). Hope the issue will be resolved soon...

[2021-05-10 09:21] rbianchi29 opened #9112 "Error when overwriting google_dns_record_set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-10 13:51] edwardmedia commented on #9112
@rbianchi29 can you try v3.67.0? Please share the debug log if that does not work

[2021-05-10 13:56] edwardmedia commented on #9056
@nirby821 is this still an issue?

[2021-05-10 14:16] amitlaspal commented on #4388
@samiwel  I am also facing the same issue. I am tying to import a existing compute instance resource into terraform.  Terraform plan was success full but plan shows destroy and recreate.
`~ metadata_startup_script = <<-EOT # forces replacement
            #!/bin/bash
          -
          +
            #Do something()
          -
          +
            # Do somthing()
          -
          +

[2021-05-10 14:19] RobCannon commented on #9045
We are not seeing this issue any more.

[2021-05-10 14:19] #9045 closed

[2021-05-10 14:40] aareet commented on #9019
I'll close this issue now, in favour of #9036. Please let us know if you have additional feedback.

[2021-05-10 14:40] #9019 closed

[2021-05-10 14:41] samiwel commented on #4388
@amitlaspal I was able to avoid destroying and re-creating the resource by defining a `data` source and referencing it in the `metadata_startup_script` attribute as demonstrated in my example above. Did this not work for you?

[2021-05-10 14:54] aucampia commented on #9086
I don't actually understand how it is acceptable to not validate. This wastes a lot of your users time, as the failures now occurs after PRs have been reviewed and merged, so then for every validation error I have to make a new PR, just to find out what is next.

Is there some other solution that is being suggested to do validation? I think issuing warnings would be okay, or maybe calling actual A

[2021-05-10 15:03] aucampia opened #9113 "No validation for google_compute_network resource name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-10 16:28] #7909 closed

[2021-05-10 16:36] iennae commented on #3793
One workaround that I've seen implemented is using an MD5 hash of the zipped file as the filename. Diarmuid Mac Namara wrote this pattern up here https://diarmuid.ie/blog/setting-up-a-recurring-google-cloud-function-with-terraform. I don't know how common this pattern is.

[2021-05-10 17:30] rileykarson commented on #9053
This is very likely to be a new resource- although it could make sense to merge them, the default `zone` behaviour could make this problematic.

[2021-05-10 19:43] upodroid commented on #9051
@rileykarson This has been fixed. OP forgot to use fixed by in the pull request.

[2021-05-10 20:33] ScottSuarez commented on #9096
https://issuetracker.google.com/171967405

Normally we don't do work arounds for api limitations, its a bit of a maintenance burden. We would prefer you escalate with the api to add this functionality. I'll discus with the team to gather thoughts. @rileykarson

[2021-05-10 20:54] ScottSuarez commented on #9103
This looks to be an issue with terraform core. I notice that function fails to Marshal your plan to json due to some nested object deserialization issue.

[code]

The debug output you posted lists some relevant debug logs you should be able to open.

[code]

I would recommend you post that log here and file the bug with terraform core.

[2021-05-10 21:04] #8677 closed

[2021-05-10 21:27] jamiet-msm opened #9117 "json: cannot unmarshal string into Go struct field TableFieldSchema.policyTags of type bigquery.TableFieldSchemaPolicyTags"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-10 21:40] edwardmedia commented on #9041
@thnee just released. Can you verify
https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.67.0

[2021-05-10 21:41] edwardmedia commented on #9112
@rbianchi29 just released.
https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.67.0

[2021-05-10 23:12] upodroid commented on #9067
Dupe of https://github.com/hashicorp/terraform-provider-google/issues/7325

[2021-05-10 23:13] upodroid commented on #9067
Please close this issue and add thumbs up to #7325

[2021-05-10 23:18] ScottSuarez opened #9118 "enable_shielded_nodes is not sent for container cluster resource"
When you specify `enable_shielded_nodes` on `container cluster` resource the value isn't being sent.

### References

* b/187748032

[2021-05-10 23:19] ScottSuarez commented on #9118
terraform sdk has this thing where if a field is computed it wont't tell you if it exists in the config with getOk if the underlying value is falsey.. This seems like a problem where we rely on this behavior.
https://github.com/hashicorp/terraform-plugin-sdk/blob/main/helper/schema/resource_data.go#L85

ie b/187748032 runs into this issue because it tries to read if `enable_shielded_nodes` exists

[2021-05-10 23:55] upodroid commented on #9113
@rileykarson  Dupe of #3580 and #8347

Futher details are in #8347 but plan time validation will never be perfect and end users are expected/required to be reading API documentation to supply valid values to Terraform.

In short Terraform plan-time validation is broken/buggy as explained below:
- Google doesn't have an API for testing values. Failures are detected after a POST API Call is made and

[2021-05-10 23:55] upodroid commented on #9086
@rileykarson  Dupe of #3580 and #8347

Futher details are in #8347 but plan time validation will never be perfect and end users are expected/required to be reading API documentation to supply valid values to Terraform.

In short Terraform plan-time validation is broken/buggy as explained below:
- Google doesn't have an API for testing values. Failures are detected after a POST API Call is made and

[2021-05-11 05:16] PaddyMann commented on #9013
@c2thorn Thank you — that works!

It's a bit weird having two `".*"` blocks, but I'm happy with the solution for now :)

[2021-05-11 08:14] mBouamama commented on #9041
Hi, i'm testing with the new version(3.67.0) and i'm facing the same problem

[2021-05-11 08:38] aucampia commented on #9113
@upodroid Will you be open to PRs that add [schema validation](https://www.terraform.io/docs/extend/schemas/schema-behaviors.html#validatefunc) for ` google_compute_network.name` and other fields? The alternative is to implement this stuff in tflint I guess.

[2021-05-11 11:32] SKAUL05 commented on #8917
@rileykarson This got released in [v3.67.0](https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.67.0)

[2021-05-11 12:28] trenslow commented on #9084
I have a similar issue. Terraform always wants to recreate the whole security policy when the list of IP ranges differs from what's in the state. This has been going on since Terraform 0.12 AFAIK.

[2021-05-11 12:29] avercoutere commented on #9096
Issue you mentioned said that they won't fix :( The thing is, with Terraform Cloud triggered by VCS, it's impossible to make 2 steps deployment.

[2021-05-11 13:42] ct-dh opened #9119 "google_compute_project_metadata_item concurrency issues causing rate limit errors"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-11 13:45] edwardmedia commented on #9041
@mBouamama below is the error you gave [here](https://github.com/hashicorp/terraform-provider-google/issues/9041#issue-872490874) . That appears to be different. Your config contains unknown pieces. Can you provide a complete code and the steps so I can repro your issue?

[2021-05-11 15:37] #9013 closed

[2021-05-11 16:42] upodroid commented on #9086
You are missing the point. For example, how would you even validate the examples I linked above? There isn't a way of validating those right now because of the limitations mentioned above. However, your proposal is valid but IMHO it won't be enough as there will always be resource `x` not validating field `y`, which is why I don't recommend relying on plan time validation.

#8437 is for fixing pla

[2021-05-11 16:50] #9064 closed

[2021-05-11 17:06] rileykarson commented on #9113
We validate names for many resources, particularly in GCE. They're a well-known format, and you can likely just reuse the regex from another GCE resource. See https://github.com/GoogleCloudPlatform/magic-modules/blob/a4f009f238cc42580678353535895ebe33a04692/mmv1/products/compute/terraform.yaml#L59-L61 for an example (that one targets address).

3580 / 8347 are generic enough to not really be usefu

[2021-05-11 17:17] deviojha09 opened #9120 "how to update NS records of a domain in GCP"
If you have a support request or question please submit them to one of these resources:

* [Terraform community resources](https://www.terraform.io/docs/extend/community/index.html)
* [HashiCorp support](https://support.hashicorp.com) (Terraform Enterprise customers)
* [Google Cloud Platform Slack](https://gcp-slack.appspot.com/)

domain : mildev.com. is already existing in GCP, all i am looking i

[2021-05-11 17:34] ct-dh commented on #9119
I have raised a PR to MagicModules that adds a mutex to this resource, it seems to address the issue - https://github.com/GoogleCloudPlatform/magic-modules/pull/4778

I would also think this would be a great use case for batching, but haven't had a chance to fully figure out how to implement that.

[2021-05-11 17:42] steinroe commented on #9103
is fixed: https://github.com/hashicorp/terraform/issues/28670

[2021-05-11 17:50] #3580 closed

[2021-05-11 17:56] rileykarson commented on #8347
Given an API doesn't exist and there's no way to make progress here, closing out as infeasible. See also https://github.com/hashicorp/terraform-provider-google/issues/3580#issuecomment-838904967

Just as a process note: I'd originally filed this into our backlog milestone and marked it with `upstream` + `upstream-terraform` to indicate that there was no way to make progress on it, but taking anoth

[2021-05-11 19:11] ScottSuarez commented on #9096
I reopened the issue. We'll see if anyone's able to volley it. If I don't get an update I'll try and ping someone later in the week.

[2021-05-11 19:14] ScottSuarez commented on #9096
Also kind of hacky but you could maybe make a script execution/hook after provisioning to get the resource into your desired state. Not ideal but maybe could unblock you if this is a P0 for you while we figure out the best solution for dealing with this on our end.

[2021-05-11 19:43] mehdicopter commented on #3382
What about your PR [#168](<https://github.com/hashicorp/terraform-provider-google/pull/168>) @tpoindessous ?

[2021-05-11 19:48] rux616 commented on #9086
I do get the point. I completely understand that _full_ validation isn't feasible right now (though like you, I absolutely wish it were), and I accept that fact and concur that having the provider dev team spend all their time chasing down each API change and adding specific validation for them all would simply be an exercise in futility. My counterpoint, to continue to use the unit test analogy,

[2021-05-11 19:55] ScottSuarez opened #9122 "change enable_shielded_nodes default to true on google_container_cluster"
Currently we have set container_node_cluster default to force send false due to computed/optional issue. This is suboptimal, but changing to default true and non-computed would be a breaking change. Since shielded config is useful. Lets consider for 4.0.0

### References

* https://github.com/hashicorp/terraform-provider-google/issues/9118

[2021-05-11 23:15] slevenick commented on #9079
Looks like the existing field is working as intended, so I'm going to close this bug.

In the longer term we should probably move to the new field and deprecate the existing one, allowing for the blocks without prefixes. I'd guess we would just add the `clusterIpv4CidrBlock` and mark it as ConflictsWith with the existing field and eventually remove the existing field

[2021-05-11 23:32] slevenick commented on #8843
So you are able to import it, but not successfully run `terraform apply` after the import?

Can you create a client through the console for this brand? I'm guessing there is something that isn't working with the brand setup but that API error is very unhelpful

[2021-05-12 00:54] akamalov opened #9124 "google_storage_bucket_object resource referencing git repo"
This is a question:

For the resource 'google_storage_bucket_object', can a source be git repo? Let's say we have a constant file or a many JSON files that need uploading. Would it be possible to reference git repo in 'source' to be able to upload files that have changed in repo?

[2021-05-12 02:29] kostacasa commented on #8532
This is possibly outside of the hands of the Terraform team. As mentioned, the API config is immutable and it creates a problem for how Terraform manages state. An API specification can't be updated in-place, a new one must be created, but terraform will opt for a create/destroy cycle, taking the associated gateway with it.

I was planning to explore the option of adding API config resources using

[2021-05-12 07:19] tpoindessous commented on #3382
Hi @mehdicopter , it was 3 years ago :) I tried to finish it but I failed ...

Now, with MagicModules, I find that the step to contribute a new datasource to TF GCP is too high for me :(

[2021-05-12 09:00] JorgeRSG commented on #7399
Based on the initial ask which is making the cache_mode available in the `google` provider I think it's safe to assume making the features currently available in the `google-beta` provider also available in the `google` provider would solve the issue.

[2021-05-12 09:14] Abdennebi opened #9125 "Unable to use the provider on MacOs running on M1"
Hi I'm facing this weird problem with terraform and the Google provider running on Apple M1 :

## Case 1 : Using terraform darwin_arm64
### Terraform Version

[code]

[code]
### Affected Resource(s)
The provider ``terraform-provider-google``

### Terraform Configuration Files

[code]

### Debug Output
[code]

When I remove the provider's version, it tries de get the ``v3.52.0`` but it fails :
[cod

[2021-05-12 10:05] nirby821 commented on #9056
While invoking this operation on a different table, in order to create logs - I noticed that the change to expiration_ms is done in-place(!), this probably means that there was another reason for which terraform decided to drop the original table. Is there a way to know which operation require that a table to be dropped and which will modify the table in-place? Tnx

[2021-05-12 10:25] drandell opened #9126 "Artifact Repository resource - format docs missing valid formats"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-12 12:53] mBouamama commented on #9041
Hi @edwardmedia,
Thanks for your help. i will give you full informations.
Tell me if you need other informations.
Regards.
# Informations
- do you want to verify the runner has right permissions?Yes, he have full access.
- Terraform version: `Terraform v0.14.10`
- resume: i have a diferent behaviour when i use google version 3.67.0 and google verison 3.63.0

# TL;DR
- with 3.67 on terraform apply

[2021-05-12 14:48] kishorv06 opened #9127 "Bucket object gets destroyed when a resource with create_before_destroy has dependency on it"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-12 16:14] ajlake opened #9128 "google_cloud_identity_group.initial_group_config flag triggers recreate of existing groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-12 16:16] pdallecarbonare opened #9129 "Error creating EnvgroupAttachment: googleapi: got HTTP response code 404"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-12 16:26] black-snow opened #9130 "Error applying IAM policy for storage bucket - Error 400: Role roles/storage.viewer is not supported for this resource."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-12 18:45] ScottSuarez commented on #9056
set deletion protection to `false` and run terraform plan you should be able to see which field will cause a modify/cause deletion.

[2021-05-12 20:38] edwardmedia commented on #9129
@pdallecarbonare can you share the debug log that have all the requests & responses?

[2021-05-12 20:42] edwardmedia commented on #9130
@black-snow instead of `module`, can you repro the issue with plain terraform config? If yes, post the config here

[2021-05-12 20:53] edwardmedia commented on #9041
@mBouamama looking at below log, that shows there are different project **prod** and **lh**. Is that what you intended to do? I can't answer why it works in one version but not the latest with the **exact same configs**.  Can you post the full debug logs for both situations?

[code]

[2021-05-12 21:06] #9118 closed

[2021-05-12 22:08] ScottSuarez commented on #8532
Since this topic continues to generate significant interest I'll take another stab at considering this.

Ultimately you would need to set a lifecycle rule for creation before destroy on the new `google_api_gateway_api_config` in order for terraform to engage on intended behavior. I agree even with this complexity this change will significantly improve your workflows. My job is to make your lives e

[2021-05-12 22:22] jtjanchor opened #9132 "BigQuery permadiff when using field of type "DECIMAL""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-13 00:17] edwardmedia commented on #9132
@jtjanchor here is what the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigquery_table#schema) says:

Does this make sense to you?

[2021-05-13 03:38] agola11 commented on #8532
@kostacasa @ScottSuarez -- thank you so much for your comments and help!

[2021-05-13 06:08] oprudkyi opened #9133 "add support for Cloud DNS response policy rules"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-13 06:22] pdallecarbonare commented on #9129
[](https://gist.github.com/pdallecarbonare/7080a2ef9cdd5324f169b85a8daf47e4)

[2021-05-13 07:22] black-snow commented on #9130
@edwardmedia thanks for the quick reply. Where do I post issues for this samples https://registry.terraform.io/modules/terraform-google-modules/cloud-storage/google/latest/examples/simple_bucket?

Here's a stripped down version:

[code]

The issue is that there's no such role by default. :|

[2021-05-13 07:28] black-snow commented on #9130
Moved the issue here: https://github.com/terraform-google-modules/terraform-google-cloud-storage/issues/114

[2021-05-13 07:28] #9130 closed

[2021-05-13 07:51] nirby821 commented on #9056
Ok, thanks

[2021-05-13 07:51] #9056 closed

[2021-05-13 07:55] rlopezl commented on #9111
Hi,

I'm attaching you my variables definition:

template_name              = "poc-distribution-daily-data-template"
  cluster_name               = "dwt-distribution-poc-dev"
  cluster_zone               = "europe-west1-b"
  internal_ip_only           = "true"
  service_account_scopes     = ["https://www.googleapis.com/auth/cloud-platform"]
  subnetwork                 = "https://www.googleapis.co

[2021-05-13 09:42] lwsanty opened #9134 "google_pubsub_topic and google_pubsub_subscription -> provide deletion_protection argument"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-13 10:01] onsails opened #9135 "iam member condition gets deleted on update in-place"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-13 13:42] edwardmedia commented on #9129
@pdallecarbonare can you try changing the name to id in below field to see if it works for you?

[code]

[2021-05-13 13:49] edwardmedia commented on #9111
@rlopezl can you share the debug log that shows the api requests and responses? The one [here](https://github.com/hashicorp/terraform-provider-google/issues/9111#issue-883759542) does not show enough info

[2021-05-13 14:01] edwardmedia commented on #9135
@onsails I can't repro this. What version of provider are you using? Can you share the debug log?

[2021-05-13 14:02] sboyatsis commented on #9129
I'm running into same issue.  I wasn't sure what the format of the resource ID of the environment should be.  The code I'm getting not found on the environment is :
resource "google_apigee_envgroup_attachment" "attach1" {
  count = var.org_name == "gds-sdp-apigee-snd" ? 1 : 0
  envgroup_id  = format("%s/%s/%s/%s","organizations",var.org_name,"envgroups","useast")
  environment  = format("%s/%s/%s/

[2021-05-13 14:23] megan07 opened #9136 "Replace Hashibot Functionality with GitHub Actions"
HashiBot will soon be deprecated in favor of GitHub Actions. We want to replace the functionality of what we currently have to use GitHub Action instead.

[2021-05-13 14:35] edwardmedia commented on #9129
@sboyatsis you can find the right format [here](https://cloud.google.com/apigee/docs/reference/apis/apigee/rest/v1/organizations.envgroups.attachments/create)

[code]

[2021-05-13 14:50] xingao267 commented on #8609
Duplicate of https://github.com/hashicorp/terraform-provider-google/issues/8958 which is fixed.

[2021-05-13 14:50] #8609 closed

[2021-05-13 15:14] sboyatsis commented on #9129
I'm confused then on how I specify the environment that I want to attach to this environment group?  I want to attach environment snd-useast-1 to the useast environment group .

This is code that successfully creates the useast environment group:

esource "google_apigee_envgroup" "env_grp" {
  count = var.org_name == "gds-sdp-apigee-snd" ? 1 : 0
  name      = "useast"
  hostnames = ["sandbox-steve

[2021-05-13 17:11] upodroid commented on #8532
FYI, you can use `api_config_id_prefix` field to have terraform generate a unique name when it creates a new api config similar to how instance templates work in terraform.

There are a few other immutable resources that have the prefix field but the underlying Google APIs work properly in the sense that the returned operation for the creation is done once it is ready to be used(eg, certificates,

[2021-05-13 17:16] upodroid commented on #8738
I think we can close this. I added ILB Subsetting a while back in https://github.com/GoogleCloudPlatform/magic-modules/pull/4626 and the other fields are already available.

https://pkg.go.dev/google.golang.org/api/container/v1beta1#NetworkConfig

[code]

GKE has many breaking changes planned for v4. We might as well make NetworkConfig parameters nested as well to make it lineup with the API forma

[2021-05-13 17:21] rileykarson commented on #8738
This refers to the very similarly named https://pkg.go.dev/google.golang.org/api/container/v1beta1#NodeNetworkConfig block at the node pool level, not that cluster-level one!

[2021-05-13 17:29] upodroid commented on #8738
Got it https://cloud.google.com/kubernetes-engine/docs/how-to/multi-pod-cidr

[2021-05-13 17:33] edwardmedia commented on #9129
@sboyatsis  Sorry I should have made it clearer. I was referring to the one in the below error. It should be "organizations/gds-sdp-apigee-snd/envgroups/snd-useast-1" instead

Have you had chance to run below instead? If fail, can you post the debug log?
[code]

[2021-05-13 17:39] sboyatsis commented on #9129
I'm pretty sure the envgroup_id is being specified correctly.  It's the environment that It says not found but it is an actual environment so thinking it's this bug.  In the documentation it states:
envgroup_id - (Required) The Apigee environment group associated with the Apigee environment, in the format organizations/{{org_name}}/envgroups/{{envgroup_name}}

[2021-05-13 17:54] kostacasa commented on #8532
Unfortunately, even using prefixes, a gateway destroy/create cycle is performed when the config is updated. This will cause downtime while the gateway is being re-created.

[code]

[2021-05-13 18:44] kostacasa commented on #8532
Changing the gateway lifecycle to create before destroy results in:

[code]

[2021-05-13 18:59] #8532 closed

[2021-05-13 19:00] ScottSuarez commented on #8532
I've checked in a potential change. Going to monitor our test pipeline. If everything is green and pending no revert you should see this change in 3.69.0

[2021-05-13 19:00] syntapy opened #9137 "googleapi: Error 403: on first attempt at creating repository, but works on 2nd attempt"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-13 19:02] drandell opened #9138 "Data catalog tag - optional parent"
The documentation for https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/data_catalog_tag suggests that the parent attribute is optional.

However, if I do not supply a parent I currently get, the below output on my apply;
[code]
I have made a tag template using the example with source, num_of_rows, and pii_type and then have used that in my tag resource.

[2021-05-13 19:25] ScottSuarez commented on #9125
Its my time to shine! I also have a M1 mac :D

I just tried this with the following config

[code]

[code]

seems to have worked for me? This might be an issue with terraform core

[2021-05-13 19:51] kostacasa commented on #8532
Thank you @ScottSuarez ! What will the new behavior be?

[2021-05-13 20:02] ScottSuarez commented on #8532
You will be able to update `google_api_gateway_gateway.api_config` in place. When doing so you should ensure the api config is a new entry (not an overwrite of the original resource) and the life_cycle rule create_before_destroy is set.

[2021-05-13 21:04] AndreyRomanchev commented on #5132
It's nice to have. We were using it to check if "container.googleapis.com" is enabled for a project.
Is there a way to check this without google_project_service data source?

[2021-05-13 22:20] Abdennebi commented on #9125
Thank you @ScottSuarez for your tests which let me suspect a configuration problem.

So I had a ``.terraform.d`` folder which contained the following directory ``.terraform.d/plugins/registry.terraform.io/hashicorp/google/3.52.0/darwin_amd64``.

Deleting specifically the ``hashicorp`` directory **solved the problem** (I need to check the plugin [discovery process](https://www.terraform.io/docs/ext

[2021-05-13 22:20] #9125 closed

[2021-05-13 22:23] ScottSuarez commented on #9125
no worries ! glad you figured it out !

[2021-05-14 05:39] jtjanchor commented on #9132
Yep this makes sense, and we were able to fix it this way. Still a bit unexpected, but I missed that part of the docs. Thanks for the response.

[2021-05-14 09:29] thnee commented on #7295
It seems to me like Terraform is doing the wrong thing here. Why would it try to update an existing revision? If anything changes, it should create a new revision.

I have a `google_cloud_run_service` like this.

[code]

Add a new var to `env`, and apply, and see the following output.

[code]

[2021-05-14 10:23] mBouamama commented on #9041
hi @edwardmedia
tell me if you want more information or if i didn"t something wrong.
# Information
- yes i want to create my static ip in my project prod and add a record set in project lh
- prod is a prject for my dev team. And lh is a project shared by all team of my compagny.And all dns zone are stored in lh.So if you want to link your ip of your project stored in prod project you need to add a

[2021-05-14 13:12] sboyatsis commented on #9129
The issue was that environment argument is just a string with the environment name.

resource "google_apigee_envgroup_attachment" "attach1" {
count = var.org_name == "gds-sdp-apigee-snd" ? 1 : 0
envgroup_id = format("%s/%s/%s/%s","organizations",var.org_name,"envgroups","useast")
environment ="useast"
}

[2021-05-14 13:23] thnee commented on #9041
@edwardmedia I can confirm it is fixed in 3.67.0. Thank you!

[2021-05-14 13:49] upodroid commented on #9136
While you are here, can you add logic to autoclose issues labelled waiting-response AND have no new comment in the last 30 days? Adding a comment removes the label.

btw, 27 of the 53 open issues labelled waiting-response are older than 2021.

[2021-05-14 14:52] edwardmedia commented on #9109
@shailesh-tendolkar is this still an issue?

[2021-05-14 14:54] edwardmedia commented on #9112
@rbianchi29  the release should be out now. Can you verify?

[2021-05-14 14:59] #9128 closed

[2021-05-14 15:02] edwardmedia commented on #9132
@jtjanchor closing the issue. Thanks

[2021-05-14 15:02] #9132 closed

[2021-05-14 15:13] edwardmedia commented on #9039
@softveda closing the issue then. Please reopen if it is still an issue

[2021-05-14 15:13] #9039 closed

[2021-05-14 15:19] #8937 closed

[2021-05-14 15:54] melinath opened #9145 "`make lint` gives extraneous feedback"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-14 16:07] melinath opened #9146 "Split up display of generate-diffs CI step to users"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-14 16:19] Kampe commented on #8918
We see the same issue while attempting to create clusters even without Autopilot.  It seems that the node config block is not respecting the service account definition what so ever.

[2021-05-14 16:28] pdallecarbonare commented on #9129
If I use the ID, it works. . Then it just seems to be wrong documented in the example. I could have figured that out myself!

[2021-05-14 16:30] melinath opened #9147 "Skip provider linting / go tests / TeamCity tests if go code is unmodified."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-14 16:32] slevenick commented on #8918
@Kampe that is definitely worrying. Can you provide a config that specifies `node_config` & a service account that doesn't create using that service account?

[2021-05-14 16:36] melinath opened #9148 "Run VCR tests using GA provider for GA-only PRs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-14 17:05] #8981 closed

[2021-05-14 18:08] rileykarson opened #9150 "google_compute_region_instance_group_manager Capacity Aware Modes Beta -> GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-14 18:48] Kampe commented on #8918
[code]

[2021-05-14 18:53] hsblhsn opened #9151 "Artifact Registry data source."
I can not see any data source documentation for Artifact Registry. Although there's documentation for Container Registry data sources.

Is data source for Artifact registry not ready yet? Or, it's just a missing documentation?

[2021-05-14 19:36] rileykarson opened #9153 "Add support for google_compute_instance_group_manager Graceful Updater (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-14 20:01] edwardmedia commented on #9129
@pdallecarbonare I am glad the **ID** works for you. Closing the issue then

[2021-05-14 20:01] #9129 closed

[2021-05-14 20:21] slevenick commented on #8918
Huh, how are you checking the service account that is set on the default node pool?

I'm setting up a cluster with the following config:
[code]

And I'm getting the following response from the API after creating it:
[code]
which seems to point to the service account being set correctly

[2021-05-14 20:24] edwardmedia commented on #9041
Cool @thnee. Thanks for confirming. I am glad the fix works for you.
@mBouamama your issue is different. I am still looking into your issue.

[2021-05-14 20:27] edwardmedia commented on #8915
@circa10a is

[2021-05-14 20:28] edwardmedia commented on #8915
@circa10a do you still see your issue? If yes, can you post the full debug log so I can take a look?

[2021-05-14 20:59] venkykuberan commented on #9127
@kishorv06 In the step 4, do you mean the new storage object created in step 1 is getting deleted ?
[code]
I don't item 4th isn't happening, the old storage object is correctly replaced by the new one.

Can you please attach your debug log to understand what's going on ?

You should only one DELETE call to the storage api alike below
```DELETE /storage/v1/b/cloudfunction-xxxx/o/startInstancePubSub

[2021-05-14 22:59] edwardmedia commented on #9041
@mBouamama from your log of **v3.63,** I do not see a new recordset was being created with this apply. Specifically, I am looking for the request like below one. This is the api call that creates the recordset. Looks like it is missing in the log. Not sure how the recordset was created in your case. (?) When you retry, did you delete the resources? If yes, how did you do that?

From your log of **

[2021-05-14 23:13] edwardmedia commented on #9137
@syntapy likely `google_project_service` took extra long time in the background before it becomes available to use.  To solve the problem you may modify the config by 1) adding the dependency in `google_sourcerepo_repository` 2) adding a wait (or sleep) logic between two resources. Let me know if that solves the problem

[2021-05-15 01:29] syntapy commented on #9137
@edwardmedia I did each independently and they both worked

[2021-05-15 04:29] kishorv06 commented on #9127
@venkykuberan By new object, I guess you meant the replacement resource created because of the `create_before_destory` flag?

I am not sure if `google_storage_bucket_object` even supports `create_before_destroy` as the resource doesn't have a random suffix in the `self_link` and might have a unique constraint for the object name.

The end result in my case is, the object would go missing from the

[2021-05-15 05:30] kishorv06 commented on #9127
Sorry, The example I have mentioned didn't reproduced the issue. So I have updated it to one that reproduces.

Debug log: https://pastebin.com/PQTQCx1M

As you can see in the debug log, the second apply ( after updating the content of file ) wasn't applied properly. The storage object was deleted and I had to apply the changes once again to create the object again.

[2021-05-15 06:22] codecycletechnologies opened #9155 "Provide external repository mirroring in google_sourcerepo_repository"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-15 10:48] megan07 commented on #8912
Closed by https://github.com/GoogleCloudPlatform/magic-modules/pull/4789

[2021-05-15 10:48] #8912 closed

[2021-05-15 12:32] pdallecarbonare commented on #9129
However, the example should still be updated -> [Example Usage - Apigee Environment Group Attachment Basic](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/apigee_envgroup_attachment#example-usage---apigee-environment-group-attachment-basic).

`resource "google_apigee_envgroup_attachment" "envgroup" {
  envgroup_id  = google_apigee_envgroup.apigee_envgroup.name   <<<

[2021-05-15 14:22] edwardmedia commented on #9137
@syntapy you could put them together. But just make sure giving extra time for the service to be provisioned before the next resource starts to use it. It is pretty common behavior. Closing the issue then.

[2021-05-15 14:22] #9137 closed

[2021-05-15 14:24] edwardmedia commented on #9112
@rbianchi29 is this still an issue?

[2021-05-15 14:52] edwardmedia commented on #9041
@mBouamama looking at below payload from the log of **v3.67**, the `managed_zone` contains `global`, which is not the same zone. You use the data source which is not super clear what it is.

[code]

[2021-05-15 20:01] edwardmedia commented on #9041
@mBouamama Your code still looks fine to me. Can you double check what role(s) your runner has in the project **lh**? Specifically regarding below access-control?

https://cloud.google.com/dns/docs/access-control

[2021-05-16 14:09] lankakiran opened #9157 "while creating vm in gcp i am getting below error"
![image](https://user-images.githubusercontent.com/48472282/118400151-0c188480-b67e-11eb-9835-9b3f79ae7907.png)
[](url)

module "google_instance_example_new" {​​​​​
source    = "../../google_instance"
project = "mtech-wms-oms-poc"
 zone = "us-central1-a"
  instance_name = "vm-macys-092"
role = "roles/compute.osLogin"
member = "user:sai.prasad.rao@macys.com"
}​​​​​

│    7: resource "google_compute

[2021-05-16 14:46] edwardmedia commented on #9157
@lankakiran you are running a module. The code you provided does not tell us how you want to config. You may want to check with the module owners to see if they can help.

Here is the doc about the resource [google_compute_instance_iam_member](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance_iam#google_compute_instance_iam_member) and its examples tha

[2021-05-16 18:04] kostacasa commented on #8172
Hi @slevenick , have you had a chance to look into this? It's an issue we hit frequently with TF deployments to Cloud Run.

[2021-05-16 22:36] ricardolpd opened #9158 "Missing example cloud_run_service_secret_volumes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-16 22:42] ricardolpd opened #9159 "Cloud Run Service Secret Environment Variables, throws spec.template.spec.containers[0].env.value_from should be empty"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-17 08:41] upodroid opened #9161 "Update the provider to use the new impersonate package."
I used an experimental [ClientOption](https://pkg.go.dev/google.golang.org/api/option#ImpersonateCredentials) to implement service account impersonation last year but this has been superseded by the impersonate package.

From godocs:

This option has been replaced by `impersonate` package: `google.golang.org/api/impersonate`. Please use the `impersonate` package instead.

The experimental ClientOp

[2021-05-17 09:54] prakad1991 opened #9162 "Terraform init is not working"
Hi Team,

I am trying to do a terraform init post exporting my key file. But its throwing the below error :
Instance specifications:
O/S - Ubuntu 16.04.5 LTS

--------------------------------------------------------------------------------------------------------
Initializing provider plugins...
- Checking for available provider plugins on https://releases.hashicorp.com...

Error installing provid

[2021-05-17 12:57] rbianchi29 commented on #9112
Apologies for the delayed response. I've just tested with 3.67.0 and it's still an issue am afraid.

[2021-05-17 13:05] vvdaal opened #9163 "Documentation on google_project is incorrect for attributes Reference"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-17 13:40] edwardmedia commented on #9112
@rbianchi29 can you post your config and the steps to repro, and the debug log?

[2021-05-17 13:46] edwardmedia commented on #9158
@ricardolpd did you click `Open GOOGLE CLOUD SHELL` button? Your link leads to the cloud shell. What is the problem?

[2021-05-17 13:50] edwardmedia commented on #9159
@ricardolpd can you share the debug log?

[2021-05-17 13:52] edwardmedia commented on #9162
@prakad1991 can you post your Terraform code and steps you reached that point?

[2021-05-17 13:53] Karrot96 opened #9164 "google_notebooks_instance seems to always force recreation when CMEK key encryption is set."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-17 13:53] ricardolpd commented on #9158
When opening that examply through the google cloud shell, the folder the example points at is missing, thats what i am trying to explain in this issue:

this is the output from cloud shell when opening that example (if you open the link to cloud provided you will the errors below:
[code]

[2021-05-17 14:01] edwardmedia commented on #9163
@vvdaal the `id` is listed under `as exported` section like below. Examples on that page use `project`_id`. Not sure what is wrong. Can you be clear?

[2021-05-17 14:21] mBouamama commented on #9041
# informations
- my role on lh: roles/dns.admin
- can you try to run them in the same project? its good when i try on same project
- during my test when i sent you my log i run exacly same code for v3.63 and v3.67.0 and verify after each test result and i delete everything was created.

My question is if its a permissions issue why i have a different result with differents plugin version?

[2021-05-17 15:41] rbianchi29 commented on #9112
Sure. Below are the two config files. I run an apply on Config File 1 first to deploy the DNS record, which runs successfully. I then run an apply on Config File 2 which fails because the DNS record already exists. It used to overwrite the record. Terraform State is kept separate for both deployments.

**Config File 1**
terraform {
  required_version = "0.14.4"
}

resource "google_dns_record_set"

[2021-05-17 16:47] ct-dh commented on #9119
@venkykuberan / @ScottSuarez any comments/thoughts?

I have an initial build locally using batching, which does seem to work quite well, but wondering if it's worth polishing up or not.

[2021-05-17 17:30] rileykarson commented on #9133
Is this requesting the same thing as https://github.com/hashicorp/terraform-provider-google/issues/9110?

[2021-05-17 17:34] rileykarson commented on #9136
Note: We aren't sure whether there are preexisting actions we can reuse, sizing larger than this may end up for now

[2021-05-17 17:36] rileykarson commented on #9145
Note: It seems to ignore the config file locally, and I have not been able to figure it out

[2021-05-17 17:41] rileykarson commented on #9147
Note: https://github.com/hashicorp/terraform-provider-google/issues/9146 probably makes this harder

[2021-05-17 17:43] rileykarson commented on #9148
Notes: Figuring out a GA-only PR is difficult. We could consider a rule like "if go files are altered in ga and not beta, run at ga".

[2021-05-17 17:46] rileykarson commented on #9151
Data sources do not become automatically available, and we don't aim for complete coverage w/ them. We'll use this issue to track interest.

[2021-05-17 18:22] thommahoney commented on #3793
I ended up working around this using the following pattern:

[code]

By naming the object based on the shasum of the archive, it's possible to only update the object & function when the source changes.

[2021-05-17 18:56] oprudkyi commented on #9133
@rileykarson  hm, it seems I didn't found bc "Response policy zones" in #9110 aren't official name.
but anyway closing now

[2021-05-17 18:57] #9133 closed

[2021-05-17 19:00] megan07 commented on #8913
Closed by https://github.com/GoogleCloudPlatform/magic-modules/pull/4788

[2021-05-17 19:00] #8913 closed

[2021-05-17 19:47] edwardmedia commented on #9041
it works in below format
[code]
but not
[code]

[2021-05-17 19:51] Cartman75 opened #9166 "google provider does not support binary logging on replica's"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-17 20:49] rileykarson commented on #9155
Is there a GCP rest API available that exposes this flow?

[2021-05-17 20:49] vvdaal commented on #9163
@edwardmedia

Specifically I encountered weird behavior on the output of google_project "id"

The docs on https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project#attributes-reference mention the following available Attributes Reference:

[code]

However, there is an ondocumented attribute reference, namely "project_id".
The different between "id" and "project_

[2021-05-17 20:52] rileykarson commented on #9134
We've reserved the use of provider-side `deletion_protection` fields for cases where they default to `true1, as when they default to `false` they duplicate the functionality of [`prevent_destroy`](https://www.terraform.io/docs/language/meta-arguments/lifecycle.html#prevent_destroy). A `true` default makes deletion difficult and is appropriate for a limited number of cases, particularly database re

[2021-05-17 20:52] #9134 closed

[2021-05-17 22:03] rileykarson commented on #9041
Hmm- nothing looks obviously wrong to me, and we're successfully retrieving the record when we create one in our tests. @mBouamama can you successfully retrieve the recordset in `gcloud` (`describe` is the right verb, I think)? If so, can you find the GET URL using `--log-http`?

It's unusual that reading would fail while creation/destruction/list succeed.

[2021-05-17 22:26] ScottSuarez commented on #9119
looks good to me !

should be live in versioned release `6.69.0`

[2021-05-17 22:36] ricardolpd commented on #9159
@edwardmedia

I had another retracing my steps to get your logs, and after getting a few times the same error. I realised the only thing missing from the example i had was:

`"run.googleapis.com/launch-stage"  = "ALPHA"` in the metadata annotations.

Apologies for kinda jumping the gun on the issue.

Looking at the docs i couldnt find any mention of this annotation being a requirement for beta fea

[2021-05-17 23:44] slevenick commented on #8172
Ah, I totally had half-written a solution and then got distracted and forgot! https://github.com/GoogleCloudPlatform/magic-modules/pull/4793 should fix this

[2021-05-18 05:01] codecycletechnologies commented on #9155
@rileykarson, Please refer to below API detail

https://cloud.google.com/source-repositories/docs/reference/rest/v1/projects.repos/create
https://cloud.google.com/source-repositories/docs/reference/rest/v1/projects.repos#Repo

Check mirrorConfig in request object.

[2021-05-18 06:16] ews99 commented on #9163
The reference "id" is used internally by Terraform, for example in the statefile. The output "project_id" is perfectly documented since all arguments can also be used as an output. I think you missed the sentence "In addition to the arguments listed above".

To summarize:
- "id" is used internally by Terraform for statefiles etc.
- "project_id" is like "name" a parameter of the google project (jus

[2021-05-18 06:50] vvdaal commented on #9163
Yeah that clarifies things. Seems I just overlooked and for some reason never realised before that is the case. Thanks @ews99

[2021-05-18 06:50] #9163 closed

[2021-05-18 08:40] ct-dh commented on #9119
@ScottSuarez I assume the version number you mentioned there was a placeholder to be filled in later when you had decided which one? Unless there has been a massive bump in major versions I am not aware of.

Also, I don't think I was very clear in my last reply. I have a separate build locally, that I haven't pushed yet as I have tidied up var names etc that adds a batcher for project metadata ite

[2021-05-18 08:58] punsandh commented on #8390
We are facing the same issue:
The release_channel block is ignored as well if channel = "UNSPECIFIED".  tf apply results in cluster created with release_channel set to "REGULAR".  Is there any update on this bug and any workarounds ?

release_channel {
    channel = "UNSPECIFIED"
}

[2021-05-18 13:12] Flydiverny commented on #9159
When deploying using gcloud CLI we noticed our cloud run deployment had the annotation `"run.googleapis.com/launch-stage" = "BETA"` which we tried to add thru terraform but we seem to be facing the same issues even after adding it. Seems odd if we need `ALPHA` stage for it to work with terraform? Maybe we are missing something else.

[2021-05-18 13:14] rbabyuk opened #9169 "google container cluster cannot enable addon 'config_connector_config'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-18 14:06] mBouamama commented on #9041
hi @rileykarson,
Thanks for you replying.
i run ` gcloud dns managed-zones describe --project=lh lh-zone --log-http`:
[code]

[2021-05-18 14:07] mBouamama commented on #9041
And for recordset:

i run `gcloud dns record-sets list --project=lh --log-http -z lh-zone`:
[code]

[2021-05-18 14:22] edwardmedia commented on #9112
@rbianchi29 yes, waiting for the debug log

[2021-05-18 14:40] mkotsbak opened #9170 "Support for adding project to monitoring workspace"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-18 14:43] circa10a commented on #8915
@edwardmedia I just captured a single instance(there are many). Is this what you're looking for?

[code]

[2021-05-18 14:48] edwardmedia commented on #9159
@ricardolpd  please provide the debug log so I can take a close look at how to reach that error.

@Flydiverny for the field **annotation**, there is comment below in the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#annotations). Terraform does not have full control over it.

[2021-05-18 15:15] asml-erwin-willems opened #9171 "Add support for labels on resource_compute_interconnect_attachment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-18 15:15] ploth opened #9172 "Allow to specify a retry policy for cloudfunctions_function when using event trigger"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-18 15:26] rbianchi29 commented on #9112
2021/05/18 16:24:15 [WARN] Log levels other than TRACE are currently unreliable, and are supported only for backward compatibility.
  Use TF_LOG=TRACE to see Terraform's internal logs.
  ----
2021/05/18 16:24:15 [INFO] Terraform version: 0.14.4
2021/05/18 16:24:15 [INFO] Go runtime version: go1.15.6
2021/05/18 16:24:15 [INFO] CLI args: []string{"/usr/local/bin/terraform", "apply"}
2021/05/18 16:24

[2021-05-18 15:43] venkykuberan commented on #9169
@rbabyuk `config_connector_config` is supported only in `google-beta` at this time. Please try the same.

[2021-05-18 16:18] rileykarson commented on #9041
Could you specifically try [`gcloud dns record-sets describe`](https://cloud.google.com/sdk/gcloud/reference/dns/record-sets/describe)? That's the equivalent `gcloud` command to the call that is failing in Terraform.

[2021-05-18 16:22] c2thorn commented on #8390
@punsandh What version of the provider are you using? This was supposed to be closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/4554, I just tagged the wrong issue in the PR.

Just in case, I tried using `UNSPECIFIED` and it seems to be working. I'll close this as this was meant to be closed a couple of months ago.

If you are using a recent provider and still experiencing the

[2021-05-18 16:22] #8390 closed

[2021-05-18 16:34] punsandh commented on #8390
@c2thorn: thanks for getting back to me. I tried earlier with provider version 3.60.0 and it appears to work fine. So all good for now :)

[2021-05-18 17:19] mBouamama commented on #9041
oh!!  I got an error:
[code]

[2021-05-18 17:30] ScottSuarez commented on #9119
@ct-dh ahh sorry yeah mistype there `3.69.0`

Ah I see, sorry about that. If you would like you can submit another pull request with the batching feature and ping me on for the review.

[2021-05-18 17:32] ScottSuarez commented on #9119
I can definitely see batching being useful but it does depend on the complexity of the feature. I can't promise anything but I don't see why we would want to outright avoid that at the moment.

[2021-05-18 17:32] #9119 closed

[2021-05-18 17:33] vitaminmoo opened #9173 "Silent failures when BIGTABLE_EMULATOR_HOST is set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-18 17:45] eyalc10 opened #9174 "google_redis_instance cannot be upgraded - # forces replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-18 17:55] rileykarson commented on #9155
That field is not actually available in the request object, unfortunately!

`How this repository mirrors a repository managed by another service. Read-only field.`

[2021-05-18 18:07] rileykarson commented on #3085
No updates- as highlighted above, it's possible to perform this workflow already using `archive_file` and the `google_storage_bucket_object` resource. The [documentation examples](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudfunctions_function#example-usage---public-function) showcase this using a preexisting zip, but interpolating an `archive_file` based one

[2021-05-18 18:17] #9001 closed

[2021-05-18 18:23] txomon opened #9175 "google_cloud_run_service using environment variables from secret manager is ordering sensitive making it difficult to use"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-18 18:27] rileykarson commented on #9041
Hmm- seems like it's a general error and not just restricted to Terraform in that case. Tagging `upstream`- can you reach out to the DNS team through GCP support or [the issue tracker](https://issuetracker.google.com/issues/new?component=187241&template=0)?

The resource used a slightly different API in earlier versions in the `3.X` series, and transitioning should have been transparent. While it'

[2021-05-18 18:53] ScottSuarez commented on #9096
It looks like it was assigned to someone, I'll continue to track it on my side..

[2021-05-18 19:04] venkykuberan commented on #9174
@eyalc10 `redis_version` is ForceNew field [here](https://github.com/hashicorp/terraform-provider-google/blob/master/google/resource_redis_instance.go#L129), so any value change makes the resource to be recreated.

Were you able to upgrade the redis version via `gcloud` or `REST API` without recreating the resource ?

[2021-05-18 20:46] ashokballolli commented on #5889
Hi, do we have any update on this issue? or any workaround? thanks

[2021-05-18 21:03] rileykarson commented on #9173
Can you link documentation on running the emulate so I can attempt to repro this and see why import is failing? Terraform makes it difficult to display error messages to users, so I may need to resort to logging the error in debug logs otherwise which won't help much.

[2021-05-18 21:12] rileykarson commented on #5889
My bug report was closed as won't fix upstream, unfortunately.

[2021-05-18 21:37] rileykarson commented on #9158
Same issue as https://github.com/hashicorp/terraform-provider-google/issues/8317, for some reason a subset of examples aren't showing up. I renamed the old one to be general, and deduplicating there.

[2021-05-18 21:37] #9158 closed

[2021-05-18 22:02] vitaminmoo commented on #9173
Here you go: https://cloud.google.com/bigtable/docs/emulator

[2021-05-18 22:02] jwtracy opened #9177 "google-beta 3.68.0 provider is not found"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-18 22:04] vitaminmoo commented on #9173
Note that the bigtable emulator does not support the InstanceInfo call, so even if one was purposefully pointing at the emulator, the import would not work (some other operations likely would not as well).

In my case, we use the emulator for other testing, so the env variable was accidentally causing imports to fail.

I definitely consider the env var being set for terraform to be a configuration

[2021-05-18 22:09] rujieyin commented on #9177
+1 getting the same error on failure to load `google-beta` provider with `provider "google-beta" {  version = "~>3.0"}`.

[2021-05-18 22:44] rileykarson commented on #9177
Updating the respository involves some minor manual processes, that's done now. The release was cut from a branch, `release-3.68.0`.

That shouldn't cause this issue, though which I can't reproduce:

[code]

I'm on `darwin_amd64`, although there's no good reason for that to matter. @megan07 is this something you've seen before?

[2021-05-19 01:38] pib opened #9180 "Add support for the rest of the AutoprovisioningNodePoolDefaults settings in `google_container_cluster`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-19 04:22] codecycletechnologies commented on #9155
@rileykarson , Can you please verify the same in https://cloud.google.com/source-repositories/docs/reference/rest/v1/projects.repos/create?apix=true. In this, request body contains selection of mirrorConfig.

[2021-05-19 06:27] eyalc10 commented on #9174
@venkykuberan , yes ,
`gcloud redis instances upgrade my-tf-memorystore-upgrade-test --redis-version=redis_5_0 --region=us-central1`
- upgrade was successful , data kept safe , when working with "STANDARD_HA" tier instance

IP was not changed as well .

[2021-05-19 07:35] PrateekKhatri opened #9181 ""list" function was deprecated in Terraform v0.12"
Terraform Version = v0.15.3

**Error:**

**Call to function "list" failed: the "list" function was deprecated in Terraform v0.12 and is no longer available; use tolist([ ... ]) syntax to write a literal list.**

[2021-05-19 08:49] rbianchi29 commented on #9112
First Run - This is the initial DNS record creation

2021/05/19 09:48:15 [WARN] Log levels other than TRACE are currently unreliable, and are supported only for backward compatibility.
  Use TF_LOG=TRACE to see Terraform's internal logs.
  ----
2021/05/19 09:48:15 [INFO] Terraform version: 0.14.4
2021/05/19 09:48:15 [INFO] Go runtime version: go1.15.6
2021/05/19 09:48:15 [INFO] CLI args: []string{

[2021-05-19 08:58] matty-rose commented on #7866
I'm interested in helping to contribute this feature - at a cursory glance it seems I should be looking at actually contributing to https://github.com/GoogleCloudPlatform/magic-modules since that seems to be where a majority of the resources are generated from? I'm also leaning towards making it a separate resource as opposed to coupling it to the traffic split.

[2021-05-19 09:15] progressivesasha opened #9182 "Bug: google_sql_user password state entry gets updated despite of failed apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-19 09:28] tSte commented on #8918
There's an update re. [the autopilot issue](https://issuetracker.google.com/issues/186511728) so I'll check it out with both `cloud` and TF later today...

[2021-05-19 10:04] jeremypick-sky opened #9183 "backend_service CDN policy not applying negative_caching and serve_while_stale"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-19 14:52] edwardmedia commented on #9181
@PrateekKhatri are you filing a bug against Google provider? If yes, could you provide the config and details as mentioned in the template? If you file an issue against Terraform features, do you mind file one directly to Terraform?

[2021-05-19 15:04] edwardmedia commented on #9112
@rbianchi29 this is [409](https://cloud.google.com/dns/docs/error-messages#alreadyexists) error from api

[2021-05-19 15:34] rbianchi29 commented on #9112
No the plan states it will be created, not replaced.

That link looks like it's more for the Google Workspace console rather than GCP.

If it helps this issue doesn't occur with 3.63.0 of the provider. Any version after that and I get this issue.

[2021-05-19 16:14] rileykarson commented on #9155
The "Request Body" section of the page links to the Repo type, which
declares the field read-only. The API Explorer allows unspecifiable fields
to be specified, unfortunately. If you're able to provision the resource
(and the documentation is wrong) please let me know!

On Tue, May 18, 2021 at 9:22 PM Codecycle ***@***.***> wrote:

[2021-05-19 16:46] spew opened #9184 "rrdatas field on dns_record_set incorrectly marked as ForceNew"
The 'rrdatas' field on resource_dns_resource_dns_record_set has been marked as 'ForceNew'. Previously this field did not have ForceNew.

https://cloud.google.com/dns/docs/reference/v1beta2/resourceRecordSets#resource

[2021-05-19 18:01] #9040 closed

[2021-05-19 18:05] #9150 closed

[2021-05-19 18:06] #8694 closed

[2021-05-19 18:18] ScottSuarez opened #9187 "Share override settings in tpgtools"
Currently tpgtools doesn't share override configurations. This can become a maintenance issue if we try to maintain 3 separate files with the same overrides across two repositories. Suggest adding a unifying approach with version specific overrides.

[2021-05-19 18:38] megan07 commented on #9177
@jwtracy I'm sorry you're running into this. I was also unable to reproduce it. Are you able to set `TF_LOG=DEBUG` and send the output along.  Thanks!

[2021-05-19 18:42] rileykarson commented on #9174
Lack of update support is not a bug, changing to an enhancement request

[2021-05-19 18:45] ggprod opened #9189 "Support cloud build triggers via pubsub messages and webhooks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-19 18:54] melinath opened #9190 "tpgtools --version option should default to GA"
### Affected Resource(s)

* google_*

According to the tpgtools README I should be able to omit --version - but if I do, I get a nil pointer dereferencing error, because the version is never set to its default value (ga). We should make sure that this is set properly & tested.

[2021-05-19 19:04] red8888 commented on #5530
Any updates on this?

[2021-05-19 19:52] n-oden commented on #8408
Some testing with hashicorp/terraform-provider-google-beta#3069 suggests to me that this is not fully baked yet:

- if a flex template job is cancelled/drained from the console, the provider still sees the job as available for update rather than needing to be created from scratch
- if the new job created by an update action fails, the provider does not recognize this, and the resource stays in "St

[2021-05-19 20:07] upodroid commented on #5385
@rileykarson

I submitted a patch, whoever is doing releases needs to adjust the version package with the right values.

Useragents are still marked as dev :(

[2021-05-19 20:13] definitelynotskylarc commented on #9177
We're encountering the same issue, debug logs below:

[code]

[2021-05-19 20:20] rileykarson commented on #9177
I double checked on my linux machine, since these have said `linux_amd64` but I checked on `darwin_amd64` originally. It still succeeded, logs below in case a success is helpful!

[code]

[code]

[code]

[2021-05-19 20:27] rileykarson commented on #9177
Never mind, the `google` provider works but I tried `google-beta` and it fails for `3.66.0+`.

[code]

[2021-05-19 20:28] andy-caruso commented on #9177
We're using terraform 0.13.4, not v0.14. If that matters.

[2021-05-19 20:46] edwardmedia commented on #9112
@rbianchi29 are you running on different env (not shared state) for these two executions?

[2021-05-19 21:25] #8603 closed

[2021-05-19 22:12] ScottSuarez opened #9194 "Interface field forcing recreation on `google_compute_region_disk`"
`interface` was introduced as a field for region_disk in https://github.com/GoogleCloudPlatform/magic-modules/pull/4727 unfortunately as it is a input only resource the new value is causing deletion due to this being generated downstream as `ForceNew` https://github.com/hashicorp/terraform-provider-google-beta/blame/master/google-beta/resource_compute_region_disk.go#L128

### References

* b/18870

[2021-05-19 22:27] rileykarson opened #9195 "Add additional fields to google_secret_manager_secret"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-19 22:29] ScottSuarez commented on #8012
**note if adding support for this field that this resource has no update method!!** Therefore using O+C or default_if_empty might be needed

[2021-05-19 22:36] rileykarson opened #9196 "Add time fields to `google_billing_budget.budget_filter`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-19 22:46] melinath opened #9197 "include field descriptions when generating resources with tpgtools"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-19 22:58] edwardmedia commented on #9182
https://github.com/hashicorp/terraform-provider-google/issues/7810

[2021-05-19 23:02] ScottSuarez commented on #8457
pushing a fix forward for this issue that **should** resolve this if anyone is still encountering it

[2021-05-19 23:41] jcanizalez opened #9200 "Support to deploy DialogFlow CX Agent"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-19 23:43] andy-caruso commented on #9177
We're able to work around this currently by adding this to our terraform files,
[code]

It looks like the debugging [here](https://github.com/hashicorp/terraform-provider-aws/issues/19435) has yielded some additional details, I'm not enough of a terraform expert to know how to workaround this in terraform init.

[2021-05-20 00:24] #8457 closed

[2021-05-20 00:24] #9194 closed

[2021-05-20 05:14] maitreya-source commented on #8521
We were able to replicate this issue with smaller config as well and we increased the timeout to 3600s too just to be safe.
Provider version - 3.61
Terraform version - 0.13.6

[2021-05-20 06:04] hlastraspfx opened #9201 "Can't create composer preview versions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-20 06:23] eyalc10 commented on #9174
When changing a value in Terraform - you would expect TF to change the remote resource with as minimal changes as possible - according to the supported method.

For example - IP change for a specific resource

I can definitely agree that it's not a bug perse, but it is a behaviour that you do not expect,
STANDARD_HA tier was set to support data integrity upon an upgrade,
TF should not be the platf

[2021-05-20 07:42] rbianchi29 commented on #9112
That's right, different state.

[2021-05-20 07:46] codecycletechnologies commented on #9155
@rileykarson Hey, we tried but not able to figure out how to solve this. Basically we want to link Github repository to Google cloud repository through terraform. And we think this feature should be there.

[2021-05-20 09:13] PrateekKhatri commented on #9181
List function was deprecated by terraform. I have updated my code and everything is working. We can make use to "tolist" function instead of the "list" function.

Closing the issue.

[2021-05-20 09:13] #9181 closed

[2021-05-20 11:03] progressivesasha commented on #9182
@edwardmedia Thank you for the response,
I don't think these issues have a common root cause, for me they seem different.

[2021-05-20 16:39] sethvargo opened #9202 "New data source: google_secret_manager_secret"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-20 16:54] danawillow commented on #6066
@megan07 @rileykarson would you consider revisiting whether this needs the `upstream` label? I think the error message is back to the original one (or something that's, at the very least, distinguishable) now:
[code]

(also, hi!)

[2021-05-20 16:55] jwtracy commented on #9177
Could this be a Hashicorp registry issue rather than a google-beta provider issue?

Sorry for the confusion on providers. The google-beta repo doesn't have issues enabled so I figured this repo would be the next best place to escalate.

[2021-05-20 18:27] upodroid opened #9204 "DCL Clients don't set X-Goog-User-Project header in API Calls"
@slevenick @rileykarson

I'm working on building apikeys (#8959 ) via DCL and it looks like dcl clients don't set that header. I fixed this in the http.client used by handwritten and mmv1 resources in https://github.com/GoogleCloudPlatform/magic-modules/pull/3886.

[code]

[code]

[code]

https://github.com/GoogleCloudPlatform/declarative-resource-client-library/blob/main/dcl/config.go

DCL isn't

[2021-05-20 20:32] melinath opened #9205 "Include default base path in provider_dcl_endpoints.go"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-20 20:34] melinath commented on #9205
We can skip basepath generation with an override of:

[code]

This is what dataproc does.

[2021-05-20 20:37] rileykarson commented on #9204
Duplicates https://github.com/hashicorp/terraform-provider-google/issues/8203

[2021-05-20 20:37] #9204 closed

[2021-05-20 20:38] upodroid commented on #9204
Thanks

[2021-05-20 21:11] rileykarson commented on #9182
I can confirm I can reproduce this. The problem with this field is that the API doesn't return it, and it's tracked locally by Terraform. Terraform is preemptively updating the state even though the intended changes don't go through. This is not a problem for readable fields, as they get fixed by a refresh.

I was under the understanding that an error returned in Update reverted any changes to the

[2021-05-20 21:18] rileykarson opened #9207 "Add retries for GCE Quota 403s"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-20 21:25] rileykarson opened #9208 "Preemptively handle BigQuery KMS changes"
It isn't clear whether you're supposed to specify keys or versions on tables following the change. If you specify a key and get back a version, we may want to make the version a separate output field.

[2021-05-20 22:04] melinath commented on #8758
@priya-saxena21 Any progress here?

[2021-05-21 01:20] grzebis1 opened #9210 "google_compute_url_map"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-21 01:35] mjlshen commented on #6082
Is there a way I can work on this? From my understanding, since this resource is autogenerated any PR I make would be rejected, is this true?

[2021-05-21 06:24] hlastraspfx commented on #9201
I have a solution ready:

[code]

[2021-05-21 11:33] progressivesasha commented on #9182
@rileykarson Thank you for the quick response and the time you have dedicated to this issue.
The `delete` issue I mentioned in `UPD` section is kinda related to this, because the behaviour of terraform is the same in both cases. As you said, "Terraform is preemptively updating the state even though the intended changes don't go through" and this happens to both these resources, and I didn't test t

[2021-05-21 13:43] megan07 commented on #9177
Hi everyone! The registry team cleared the cache last night in attempt to resolve this issue. Would you please try again and let us know if the problem persists? Thank you all for your patience!

[2021-05-21 14:27] upodroid commented on #9210
Hi

This was fixed a while back in 3.51.1 and higher.

More details are in the changelog and the linked pull requests.

https://github.com/hashicorp/terraform-provider-google/blob/master/CHANGELOG.md#3511-january-07-2021

[2021-05-21 14:36] definitelynotskylarc commented on #9177
Issue is resolved for me, thanks!

[2021-05-21 14:55] nielm commented on #9195
... and Topic please :)

[2021-05-21 15:02] edwardmedia commented on #9175
@txomon you mentioned there are two issues here. Mind file separate issues so they can be tracked properly. Also can you post the debug logs for each case?

I noticed your analysis below. I am not quite clear. [Here](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#name) is what the doc suggested. Following is a test that runs everyday. Can you share

[2021-05-21 16:21] jwtracy commented on #9177
Issue is also resolved for me! Thanks a bunch!

[2021-05-21 16:25] melinath opened #9211 "Bigtable quota running out during tests"
It looks recently there's been an uptick in the number of bigtable instances that are getting created during test runs, which is causing test failures due to quota issues. It seems likely that adding a sweeper would fix the issue.
<img width="822" alt="Screen Shot 2021-05-21 at 9 25 08 AM" src="https://user-images.githubusercontent.com/299979/119169072-7468bc80-ba16-11eb-8347-f7abf2731e0c.png">

[2021-05-21 17:11] megan07 commented on #9177
Great! I'll close this issue. Thanks again for your patience!

[2021-05-21 17:11] #9177 closed

[2021-05-21 17:20] #9211 closed

[2021-05-21 18:58] edwardmedia commented on #9157
@lankakiran  is this still an issue?

[2021-05-21 19:02] edwardmedia commented on #9162
@prakad1991 is this still an issue?

[2021-05-21 19:16] edwardmedia commented on #9109
@shailesh-tendolkar closing assuming this is no longer an issue

[2021-05-21 19:16] #9109 closed

[2021-05-21 19:16] edwardmedia commented on #9111
@rlopezl is this still an issue?

[2021-05-21 20:32] jcanizalez commented on #6086
Hi team I hope you don't mind but I raised a PR to fix this issue GoogleCloudPlatform/magic-modules#4808

[2021-05-21 20:46] #8172 closed

[2021-05-21 21:00] jcanizalez commented on #9200
Hi team I would like to work on this issue, but I have some questions:

1. Because the API for Dialog Flow CX is very different from the current supported resource google_dialog_flow (DialogFlow ES), is ok if I create a new product folder for dialogflowcx and inside I can create the new resource google_dialogflow_cx_agent, and probabbly the additional resources in the future: google_dialogflow_cx_

[2021-05-21 21:06] edwardmedia commented on #9210
@grzebis1 can you try using the latest provider to see if you are still able to repro?

[2021-05-21 21:20] ScottSuarez commented on #8418
delayed respond on this, red, are you still running into this issue?

[2021-05-21 21:59] #9183 closed

[2021-05-22 08:11] lankakiran commented on #9157
Dear Edward ,

I am getting still same issue i don't know what happened can you please
help to me .

Thanks & Regards
Kiran

On Sat, May 22, 2021, 12:29 AM Edward Sun ***@***.***> wrote:

[2021-05-23 02:10] joeyorlando opened #9215 "google_storage_bucket lifecycle_rule throwing List shorter than MinItems error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-23 15:25] edwardmedia commented on #9164
Both **disk_encryption** and **kms_key** are missing in the API response. Added label upstream

[2021-05-23 21:34] edwardmedia commented on #9157
@lankakiran sure. But the info you provided is not enough. Instead of module, can you execute [google_compute_instance_iam_member](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance_iam#google_compute_instance_iam_member)  directly? There are several examples in the [docs](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/co

[2021-05-23 21:37] edwardmedia commented on #8915
@circa10a is this still an issue?

[2021-05-23 21:39] circa10a commented on #8915
Yes it is, sorry I didn't get to check the debug output and compare with the upstream bug yet

[2021-05-23 21:44] edwardmedia commented on #9111
@melinath what do you see this issue?

[2021-05-23 21:45] edwardmedia commented on #8915
Still waiting for the debug log

[2021-05-23 21:50] edwardmedia commented on #9135
@onsails is this still an issue?

[2021-05-23 22:12] edwardmedia commented on #9159
@ricardolpd is this still an issue?

[2021-05-23 22:16] ricardolpd commented on #9159
@edwardmedia i had already replied, i found the issue, i have apologised and asked a simple question regarding the annotation requirement for beta funcionality.
see below. Other than that i am happy to close.

[2021-05-23 23:18] edwardmedia commented on #9215
API takes empty array of **matches_storage_class**

[2021-05-23 23:33] andremarianiello commented on #8408
@n-oden

This issue seems to occur when the old job is in the "cancelling" state. The provider does not consider this to be a terminal state, so the job is seen as an existing resource while this is the case. Once the job finished cancelling the provider recognizes it as a missing resource, and applying at this point will create the job again. This is the behavior I saw with both v3.67.0 and v3.68

[2021-05-24 01:46] joeyorlando commented on #9215
that did the trick. I was importing this `google_storage_bucket` resource and the `terraform plan` prior to the `import` showed `matches_storage_class      = []`. Omitting `matches_storage_class` fixed things for me, thank you.

[2021-05-24 02:45] lucasteligioridis opened #9216 "google_binary_authorization_policy - require_attestations_by flapping between multiple elements in list"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-24 02:58] andremarianiello commented on #8408
@n-oden I have made https://github.com/hashicorp/terraform-provider-google-beta/pull/3279 to address your second bullet point.

[2021-05-24 10:47] progressivesasha opened #9219 "google_sql_database_instance state entry gets updated despite of failed apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-24 10:55] onsails commented on #9135
Yes, it's still an issue. I'll try ot narrow down to a minimal repro repo.

[2021-05-24 11:54] priya-saxena21 commented on #8758
Hi Stephen,

The remaining issue is due to the product team's change in default value in
the return parameter. My test script is not expecting that value to be
returned back by the API (Perma-diff??).  Is it okay to book a session with
you or anyone from your team to help me in fixing it?

On Thu, May 20, 2021 at 11:04 PM Stephen Lewis (Burrows) <
***@***.***> wrote:

[2021-05-24 11:55] huang-jy opened #9220 "Cluster does not recreate or reattach node pools if a change requires cluster respin."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-24 12:24] ToeFungi commented on #8288
Any updates on this?

[2021-05-24 17:22] n-oden commented on #8408
Thank you!  W/R/T the first issue I noted, I think there's a state-handling issue at this level as well: even if you wait for the cancelled/drained job to fully terminate, the provider does not see that the job needs to be re-created.

[2021-05-24 17:28] #9215 closed

[2021-05-24 18:03] c2thorn commented on #9200
@jcanizalez

1. With the differences in the API, I think a new product folder would be appropriate. We'd want to keep both versions simultaneously.
2. Please continue using MMv1, dialogflow is not currently available upstream in the DCL.

[2021-05-24 18:08] andremarianiello commented on #8408
Can you provide the steps you performed to trigger that issue? In my testing I did the following:

1) `terraform apply` to create brand-new job. Wait for job to be running.
2) Cancel running job in console
3) While job is cancelling, running `terraform apply` says that there are no changes, so it does nothing.
4) After job is fully terminated, `terraform apply` refreshes state, sees that the job i

[2021-05-24 18:22] RayBB commented on #5069
FYI ignore warning is now the default:
https://github.com/googleapis/google-cloud-cpp/pull/2692

[2021-05-24 18:33] kostacasa commented on #8532
Hey @ScottSuarez just tried this out and it worked perfectly!

[code]

[2021-05-24 19:03] jefsg opened #9222 "[Documentation Enhancement] Link to Google Cloud Function ingress settings documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-24 19:10] thusoy opened #9223 "google_service_account_key is occasionally not found by GCP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-24 19:42] ranjitk-burwood opened #9224 "Unable to remove whitelisted IP addresses in Cloud Composer resource with a blank list (beta function)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-24 19:43] errordeveloper opened #9225 "multiple `google_project_iam_binding` for the same `role` not working"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-24 19:55] jcanizalez commented on #9200
Thanks @c2thorn for your quick response

I will work on this

[2021-05-24 19:57] ScottSuarez commented on #8532
nice ! happy to see it's working well for you :)

[2021-05-25 04:57] 27Bslash6 commented on #6766
Can anyone confirm this workaround still works?

When trying to attach to an existing dataset/entry I'm seeing:

[code]

[2021-05-25 07:56] hprotzek commented on #9104
@ScottSuarez here is the debug output: https://gist.github.com/hprotzek/30e23e0348e8ee070b114df2206968b4

Also the latest updated from gke and terraform google provider didn't change anything.

[2021-05-25 09:40] jack-tee opened #9226 "google_dataproc_workflow_template doesn't understand metastore_config black"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-25 11:17] scdekov commented on #9201
Is there any workaround that we can use until this is fixed?

[2021-05-25 13:25] ranjitk-burwood commented on #9226
Hi, can you try that out in the `jobs` block instead? If you scroll up from the `metastore_config` it looks like that attribute is supported under the `jobs` block.

[2021-05-25 13:48] n-oden commented on #8408
@andremarianiello to my aggravation this doesn't seem to be happening consistently, so right now I can just promise that the next time I run into it I'll post an update here.

[2021-05-25 14:32] mattseymour commented on #5311
Could we please have an update on this particular request / issue?

[2021-05-25 14:51] txomon commented on #9175
This one is related to #9159

[2021-05-25 15:09] jack-tee commented on #9226
Thanks @ranjitk-burwood Tried it in a few places in the jobs block but I get the same error. Not sure it really makes sense there as I think this needs to be set at cluster create time, and you could have multiple jobs blocks.

[code]
[code]

[2021-05-25 15:28] ranjitk-burwood commented on #9226
@jack-tee Sorry about that, thought it was just a formatting error. Don't think I'll be able to help further.

[2021-05-25 15:51] n-oden opened #9227 "cloud dataflow jobs in "cancelling" or "draining" states should not be considered update candidates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-25 15:54] n-oden commented on #8408
Opened https://github.com/hashicorp/terraform-provider-google/issues/9227 to track the update-while-terminating issue.

[2021-05-25 16:18] slevenick commented on #9226
Looks like that field is only available on the `google-beta` provider at this time. Definitely a docs bug going on, I'll figure out why that isn't showing up in the docs correctly

[2021-05-25 16:33] andremarianiello commented on #9227
Something to keep in mind with this issue: if you try to create a job with the same name as a cancelling/draining job it will fail, whether or not it is an update.

[2021-05-25 16:57] skydalriol commented on #6379
Not entirely sure what changed, but I just set it up and it seems to work this way:

`hashicorp/google v3.67.0`

Knowing we are going to use the `169.254.0.8/30` range, the interfaces and bgp needs to be configured as the below (example with two GCP VPN Gateways as per HA VPN standards now - just 1 tunnel configuration shown):

[code]

So basically, to provide the router the correct IP for its int

[2021-05-25 17:20] ct-dh commented on #9225
(Another user here, not a contributor)

If you take a look at https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project_iam you will see a few "note" boxes - the behavior you are seeing is expected and documented there.

What you want to use to do things the way you initially had them is to use `google_project_iam_member` as this is not authoritative for a given

[2021-05-25 17:22] venkykuberan commented on #9219
@progressivesasha Can you please share me what field value got changed ? from what to what ?

[2021-05-25 17:28] edwardmedia commented on #9216
I can repro this

[2021-05-25 18:13] fhaubner opened #9228 "google_vpc_access_connector getting redeployed on every `terraform apply` without changes in configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-25 18:32] dan-ladd opened #9229 "Composer unable to use new Airflow 2.0.1 image version due to regex constraint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-25 19:03] edwardmedia commented on #9223
@thusoy as what you have observed , I can't repro it with repeated `plan` locally. My guess it was the API that experienced issues. Did all the occurrences happen in a limited period? I don't need debug logs so I can take a close look.

[2021-05-25 19:09] edwardmedia commented on #9225
@errordeveloper as @ct-dh pointed out, you might want to compare the differences among three **iam** resources (_policy, _binding and _member). In your case, you might just put them in one _binding resource. Does this make sense?

[2021-05-25 20:02] ScottSuarez commented on #9104
To confirm this is happening at *plan* and not at *apply*. Do you have a minimum config/change that can get me to a reproduction. Trying to find the source of this, looks like we are sending some improper `PUT` request somewhere. Just trying to track it down.

[2021-05-25 20:45] edwardmedia commented on #9228
sending
[code]
leads to
[code]

[2021-05-25 20:53] edwardmedia commented on #9135
Waiting for the log

[2021-05-25 20:57] edwardmedia commented on #9159
Great. Closing the issue then

[2021-05-26 00:38] KevinDukelow5 opened #9230 "Terraform plan crashes: interface conversion: interface {} is string, not map[string]interface {}"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-26 01:01] KevinDukelow5 commented on #9230
The issue is caused by the following TF file:

[code]

[2021-05-26 05:29] ujwaldhakal commented on #9159
@edwardmedia even though i copy exact code from the cloud run with secrets or value i ended up same error
`Error 400: spec.template.spec.containers[0].volumeMounts: spec.template.spec.containers[0].volumeMounts should be empty`
and `Error 400: spec.template.spec.containers[0].env.value_from: spec.template.spec.containers[0].env.value_from should be empty`

[2021-05-26 05:38] PaddyMann commented on #9013
@c2thorn It's a little worse than I previously shared.

It's not possible to simply include the additional lines when creating a new resource. Instead, you need to add these lines in addition to whatever's there when you first create the resource (!).

This means literally duplicating the lines if you already had them:

[code]

[2021-05-26 08:05] jack-tee commented on #9226
Thanks @slevenick that works for me 👍

[2021-05-26 10:03] thusoy commented on #9223
It's been happening somewhat steadily since we first observed it, last occurrence yesterday at 3:22 CET. I'll modify our tooling to capture the debug logs and see if I can get you the details of what is happening.

[2021-05-26 10:15] skydalriol commented on #6133
FYI:

documentation is here: https://cloud.google.com/architecture/configuring-privately-used-public-ips-for-GKE

[2021-05-26 10:22] KevinDukelow5 commented on #9230
This is the relevant state entry:
[code]

[2021-05-26 16:31] #8311 closed

[2021-05-26 18:49] melinath opened #9232 "Flakey tests: Quota exceeded for quota metric 'Mutate requests' and limit 'Mutate requests per minute'"
Causing consistent failures in at least the following tests:

- TestAccRedisInstance_redisInstancePrivateServiceExample
- [TestAccMemcacheInstance_update](https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/189260?buildTab=tests&status=failed&pager.currentPage=1&expandedTest=9212193369445625188)

[2021-05-26 18:51] melinath opened #9233 "Test Failure: TestAccMemcacheInstance_memcacheInstanceBasicExample"
[code]

Failing consistently since Apr. 23

[2021-05-26 18:54] melinath opened #9234 "Failing tests: TestAccOrganizationPolicy/list_allowAll and TestAccProjectOrganizationPolicy/list_update"
ImportStateVerify is failing due to etag not being equivalent. This started May 22 so is possibly a bug introduced this week.

Failing example: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/189260?buildTab=tests&status=failed&expandedTest=7771503424824565256

[2021-05-26 18:58] melinath opened #9235 "Failing tests: Clusters with minor version 1.18 and basic authentication enabled cannot migrate"
Tests are failing consistently with the following error:

[code]

Impacted tests:

- TestAccContainerClusterDatasource_zonal
- TestAccContainerCluster_withMasterAuthConfig_NoCert
- TestAccContainerCluster_withMasterAuthConfig

Example failure: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/189260?buildTab=tests&status=failed&expandedTes

[2021-05-26 19:01] melinath opened #9236 "Test failure: Quota 'SUBNETWORKS' exceeded"
### Affected Resource(s)

* google_compute_router_nat
* google_compute_router_peer

The following tests are failing consistently:
- [TestAccComputeRouterNat_update](https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/189260?buildTab=tests&status=failed&expandedTest=-1323705874708314492)
- [TestAccComputeRouterPeer_advertiseMode](https://ci-o

[2021-05-26 19:03] melinath commented on #9229
This looks like a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/9201

[2021-05-26 19:03] #9229 closed

[2021-05-26 19:04] melinath commented on #9201
It looks like this will be resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/4797

[2021-05-26 19:07] melinath opened #9237 "Failing tests: Invalid provider configuration"
A few tests are currently failing with the following error:

[code]

Impacted tests:

- [TestAccProviderIndirectUserProjectOverride](https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/189260?buildTab=tests&status=failed&expandedTest=-644959833650203088)
- TestAccProviderUserProjectOverride

Note that even fixing this error will probably sti

[2021-05-26 19:43] dvmorris commented on #4593
When will this be released?

[2021-05-26 20:39] melinath opened #9238 "Failing test: TestAccActiveDirectoryDomainTrust_activeDirectoryDomainTrustBasicExample"
### Affected Resource(s)

* google_active_directory_domain_trust

This test is currently consistently failing with the following error:

[code]

https://ci-oss.hashicorp.engineering/repository/download/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/189260:id/debug-google-beta-28181b2-TestAccActiveDirectoryDomainTrust_activeDirectoryDomainTrustBasicExample.log

I don't believe this is a dupli

[2021-05-26 20:40] melinath commented on #7159
TestAccActiveDirectoryDomainTrust_activeDirectoryDomainTrustBasicExample has been failing consistently for a few months now; I think it's a separate issue from the flakiness described above, so I've opened https://github.com/hashicorp/terraform-provider-google/issues/9238 to track that issue.

[2021-05-26 20:46] melinath opened #9239 "Flakey test: Successful backup required for carrying out the operation was not found."
### Affected Resource(s)

* google_sql_database_instance

Impacted tests:
- TestAccSqlDatabaseInstance_basicClone
- TestAccSqlDatabaseInstance_cloneWithSettings

Error message:

[code]

Error rate:
- [fail ~75% of the time](https://ci-oss.hashicorp.engineering/test/7309789566661006962?currentBuildTypeId=GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject&currentProjectId=GoogleCloudBeta&branch=%3

[2021-05-26 20:48] melinath opened #9240 "Test failure: Quota 'N2D_CPUS' exceeded"
Failing tests:
- [TestAccContainerCluster_withILBSubsetting](https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/189260?buildTab=tests&status=failed&pager.currentPage=1&expandedTest=-659600059215143847)

[2021-05-26 20:51] melinath opened #9241 "Flakey test: TestAccBigQueryJob_bigqueryJobCopyTableReferenceExample"
### Affected Resource(s)

* google_bigquery_job

Failure rate:
- 16% in May 2022

Impacted tests:
- TestAccBigQueryJob_bigqueryJobCopyTableReferenceExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/301968?buildTab=tests&expandedTest=-3890092861340691398

Message:

[code]

[2021-05-26 20:53] melinath commented on #8154
Causing failures for at least the following tests:

- TestAccRedisInstance_redisInstancePrivateServiceExample
- TestAccMemcacheInstance_update

There's also a separate (I think?) quota issue tracked at https://github.com/hashicorp/terraform-provider-google/issues/9232

[2021-05-26 20:54] melinath commented on #9235
Here's a slightly different failure of [TestAccContainerCluster_withMasterAuthConfig_NoCert](https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/189234?buildTab=tests&pager.currentPage=1&expandedTest=5733852761232748583)

[2021-05-26 20:58] melinath opened #9242 "Test failure: TestAccComputeBackendService_withCdnPolicy"
Seems to have been caused by https://github.com/GoogleCloudPlatform/magic-modules/pull/4805. May represent a new bug.

https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/189234?buildTab=tests&pager.currentPage=1&expandedTest=-7367724656599971863

[2021-05-26 21:00] melinath commented on #9201
This is causing failures of the following tests:

- TestAccComposerEnvironment_update
- TestAccComposerEnvironment_withSoftwareConfig

[2021-05-26 22:23] melinath opened #9244 "Flakey test: TestAccNotebooksInstance_notebookInstanceFullExample"
### Affected Resource(s)

* google_notebooks_instance

This test seems to be flakey due to state/update_time issues. Failed 3 times in the last week. https://ci-oss.hashicorp.engineering/test/1861864166893878271?currentBuildTypeId=GoogleCloud_ProviderGoogleCloudGoogleProject&currentProjectId=GoogleCloud&branch=%3Cdefault%3E&expandedTest=id%3A245071%2Cbuild%3A%28id%3A188774%29

[2021-05-26 22:26] melinath opened #9245 "Flakey test: TestAccPubsubSchema_pubsubSchemaBasicExample"
This test sometimes fails with:

[code]

Error rate: 37% failure since the test was added on May 11.

[2021-05-26 22:29] melinath commented on #9234
FolderOrganizationPolicy tests are also flakey from this starting May 20, so it may be an API change. https://ci-oss.hashicorp.engineering/test/-1136876000528037419?currentProjectId=GoogleCloud&branch=%3Cdefault%3E&expandedTest=id%3A243180%2Cbuild%3A%28id%3A188436%29

- TestAccFolderOrganizationPolicy_list_denySome
- TestAccFolderOrganizationPolicy_list_allowAll

[2021-05-26 22:30] melinath commented on #9234
TestAccDataSourceGoogleProjectOrganizationPolicy_basic is also impacted https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/189234?buildTab=tests&pager.currentPage=1&expandedTest=8091250829059690167

[2021-05-26 22:39] melinath opened #9246 "Flakey test: TestAccInstanceTemplateDatasource_filter_mostRecent"
TestAccInstanceTemplateDatasource_filter_mostRecent was previously updated in https://github.com/GoogleCloudPlatform/magic-modules/pull/4719. That seems to have triggered flakey test behavior due to accidentally capturing other simultaneously created instance templates. https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/189234?buildTab=tests&pager.

[2021-05-27 11:42] upodroid opened #9247 "Updating IGMs externally creates permadiff in Terraforms"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-27 12:25] iva-bashmat opened #9248 "google_secret_manager_secret_version produces changes in plan after v3.69.0 release"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-27 14:17] gangsta commented on #9247
+1

[2021-05-27 14:41] Maarc-D opened #9249 "google_service_account_iam_member bugged with google_compute_default_service_account"
# Description

When I tried to affect a role to a service account on the default compute one I get a "non defined" error for parametter service_account_id, but I used a code like the sample here : https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_service_account_iam#google_service_account_iam_member

### Community Note

* Please vote on this issue by adding a 👍

[2021-05-27 14:50] KevinDukelow5 commented on #9230
From what I understand this bug is occurring when reading the state file for the associated resources.

[2021-05-27 15:40] melinath commented on #9242
This is a test failure in GA because the fields are beta-only. The tests are passing fine in beta.

[2021-05-27 16:45] edwardmedia commented on #9249
@Maarc-D it is fine by running below code. Can you share the full debug log to see what is going on?

[code]

[2021-05-27 17:05] rileykarson opened #9251 "Add support for configurable SMT to GCE Instance (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-27 17:23] melinath commented on #9111
I can reproduce this but it seems like it's probably an upstream bug in the DCL.

[2021-05-27 17:23] RayBB opened #9252 "google_bigtable_gc_policy - don't apply all GC policies concurrently"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-27 17:40] #6086 closed

[2021-05-27 17:46] melinath commented on #9111
b/189466972
b/189467799
b/189468329
b/189468970

[2021-05-27 17:56] rileykarson opened #9254 "GCE NetLB Support for all protocols (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-27 21:32] melinath commented on #9145
Reopening as the fix (though it makes an improvement) doesn't fully resolve the issue - see comments on the PRs.

[2021-05-27 22:53] krishna4ldw commented on #9201
Is this fixed in new terraform version or google provider version for terraform?

[2021-05-27 22:53] #9201 closed

[2021-05-27 22:54] rileykarson commented on #9201
This'll be fixed in a provider version, likely `3.71.0` on June 6th.

[2021-05-27 22:58] #4593 closed

[2021-05-28 00:10] ScottSuarez commented on #9145
Ah sorry about that, I removed the closes from one of the prs but not the other !

[2021-05-28 06:40] Maarc-D commented on #9249
Sure :

[code]

Seems it cant find the id

[2021-05-28 08:46] deviojha09 commented on #9120
So, This was working until 3.5.0 version, tested out with and it works as expected. however in later versions it isn't  working.will raise a issue

[2021-05-28 08:46] #9120 closed

[2021-05-28 08:56] deviojha09 opened #9257 "Unable to append secondary NS for a domain"
Requirement to append a secondary list of NS to automatically allocated NS of domain  is failing recent versions of GCP provider.
It was working fine with older versions. I am not sure which version onwards its broken. but comparing provider 3.5.0 and current, with former it was working fine

**terraform version 15.4 , provider 3.69.0**
[code]
**above fails with error**
[code]
**Change the provide

[2021-05-28 10:11] Djabx opened #9258 "google_essential_contacts_contact 404"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-28 12:29] hprotzek commented on #9104
The error happens at _apply_. I am struggling to reproduce it in a test case, as it happened to random nodepools in our dev and prod clusters.

[2021-05-28 13:16] thusoy commented on #9223
FWIW I haven't seen this anymore for the last couple days, so assuming GCP caught wind of the issue and fixed it. Will re-open if I see it again.

[2021-05-28 13:16] #9223 closed

[2021-05-28 13:39] mcortinas opened #9259 "Discover web_backend_service name created previously with helm creating a BackendConfig in k8s api"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-28 13:47] Maarc-D commented on #9249
ok seems the default service account was removed I will ask google support

[2021-05-28 14:53] edwardmedia commented on #9258
@Djabx what do you provide for the field **parent**? It expects the format like `projects/{project_id}` not `{project_id}`. Let me know if new format works for you.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/essential_contacts_contact#parent

[2021-05-28 14:59] edwardmedia commented on #9257
@deviojha09 there is an open issue below. Are you managing the resources in separate environments?

https://github.com/hashicorp/terraform-provider-google/issues/9112

[2021-05-28 15:07] edwardmedia commented on #9157
@lankakiran closing the issue now based on no response received.

[2021-05-28 15:07] #9157 closed

[2021-05-28 15:07] deviojha09 commented on #9257
@Edward, sorry didn't understand your question but  the resource creation
and management is done from one single environment and is written to one
single state file.
 #9112 is about A records,  and this is related to NS records which
obviously would be existing as they get assigned when resource gets
created. And in my next step I'm trying to append a few more name servers
to the list.

On Fri, Ma

[2021-05-28 15:08] edwardmedia commented on #9162
@prakad1991 closing the issue now assuming it is no longer a problem

[2021-05-28 15:08] #9162 closed

[2021-05-28 15:16] Djabx commented on #9258
@edwardmedia Thanks ! I miss read `project_id` and `id` in the sample.

Sorry about that.

[2021-05-28 15:16] #9258 closed

[2021-05-28 16:14] edwardmedia commented on #9257
@deviojha09 oh I see. Can you share the debug log that contains the api requests & responses?

[2021-05-28 16:17] edwardmedia commented on #9249
@Maarc-D closing the issue per your suggestion

[2021-05-28 16:17] #9249 closed

[2021-05-28 16:36] edwardmedia commented on #9248
@iva-bashmat I can't repro this. I applied your above config first with v3.68.0 and then upgrade to v3.69.0. With plan and apply, I did not see the diff. Can you share the debug logs for the execution with both versions?

[2021-05-28 19:17] davidg251 opened #9260 "Error creating instance: googleapi: Error 503: Internal error on google_compute_instance_from_template resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-28 19:33] esn89 opened #9261 "etags keep trying to change"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-05-29 17:58] edwardmedia commented on #9228
API returns 300 for `max_throughput` if it is not set. Change its default to 300.

[2021-05-30 23:55] edwardmedia commented on #9260
We should send the **_id_** instead of the **_name_** for **resourcePolicies**. Below is the current implementation which has the problem

[code]

[2021-05-31 09:47] deviojha09 commented on #9257
[tf_log.log](https://github.com/hashicorp/terraform-provider-google/files/6569421/tf_log.log)

[2021-05-31 12:53] PrateekKhatri opened #9263 "Terraform GCP Error: Provider produced inconsistent result after apply"
Getting below error while terraform apply:

When applying changes to module.storage_bucket[0].google_storage_bucket_iam_member.storage_admin[0], provider "provider[\"registry.terraform.io/hashicorp/google\"]"  produced an unexpected new value: Root resource was present, but now absent.  This is a bug in the provider, which should be reported in the provider's own issue tracker.

Terraform version:

[2021-05-31 15:16] edwardmedia commented on #9260
Noticed the data format of `resourcePolicies`, it is a shortname returned from api but when creating an instance, it requires the format like `projects/%s/regions/%s/resourcePolicies/%s`. The provider rely on whatever returned from the template to create an instance.

[2021-05-31 16:39] edwardmedia commented on #9257
@deviojha09  what do you try to do with below statement?

[2021-05-31 19:56] jamiet-msm opened #9264 "Support for Feature Store please"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-31 22:43] edwardmedia commented on #9261
@esn89 I tested by switching Terraform version back and forth between **_v0.14.5_** and **_v0.15.4_** and can't repro the issue. Under both conditions, the provider first checks if there is diff in the policy based on the same below call, which does not touch the field `etag`. API does issue a new `etag` after a diff is detected and new policy is set. By updating the Terraform version, I don't see

[2021-05-31 22:48] xiaobaitusi opened #9265 "Existing compute_interconnect_attachment will have to be recreated with v3.69.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-01 02:44] matty-rose commented on #7866
As an update I have submitted a PR to the magic modules repo implementing a new network_settings resource that should resolve this - https://github.com/GoogleCloudPlatform/magic-modules/pull/4810

[2021-06-01 02:45] matty-rose commented on #8984
I'm interested in working on this issue - happy to have it assigned to me

[2021-06-01 06:36] sobi3ch opened #9266 "Install gcloud with apt-get doesn't work if you don't have source list for google"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-01 08:12] hprotzek commented on #9104
I deleted the affected node pools and let Terraform re-create them with the config from above. When I re-run terraform I get this:

[code]

When I look into the node pool with gcloud:
[code]

So it seems the terraform provider thinks the default of `cpu_cfs_quota` is false, which is wrong according to https://cloud.google.com/sdk/gcloud/reference/beta/container/node-pools/create#--system-config-fr

[2021-06-01 08:50] deviojha09 commented on #9257
@edwardmedia , my requirement is to  append 4 NS to the domains NS, so thats the reason I am using concat to create a list of my 4 NS + 4 Domain NS.  This is working at-least i can say in version 3.5.0 with terraform 12.xx.31

[2021-06-01 10:25] tzahari opened #9267 "ressource google_iap_client is missing attributes "Authorised JavaScript origins" and "Authorised redirect URIs""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-01 14:00] edwardmedia commented on #9257
@deviojha09 any changes in `rrdatas` forces recreation of the resource `google_dns_record_set`, that includes two api calls (DELETE and POST). From the log you provided, I don't see DELETE. When the provider invokes POST to create the resource, api rejects. That is why we see [alreadyExists](https://cloud.google.com/dns/docs/error-messages#alreadyexists). I have tested trying to update `rrdatas` u

[2021-06-01 14:29] edwardmedia commented on #9159
@ujwaldhakal can you be specific what exact code you copied from?

[2021-06-01 14:34] deviojha09 commented on #9257
@edwardmedia , i see what you are trying say and that  makes sense, Attached is the logs with provider version 3.5.0 and it works perfectly there and you can see it call deletes to update the NS.

there is no change in plan though, it looks same for 3.69.0 and 3.5.0
it just seems 3.69.0 is simply not calling up the  DELETE to update NS.

[tf_log_12.log](https://github.com/hashicorp/terraform-provi

[2021-06-01 14:52] nyc3-mikekot opened #9268 "Terraform apply for cloudfunctions returns 400 if function is modified in gcp console whilst managed by terraform state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-01 15:06] Flydiverny commented on #9159
The mistake on our part was setting the annotation on the `template` part

[code]

instead of
[code]

[2021-06-01 15:20] ricardolpd commented on #9159
@edwardmedia can you please clarify if this annotation is required for all beta features?

`"run.googleapis.com/launch-stage" = "BETA"`

I noticed the docs mentioned "ALPHA" not beta. If this annotation is required to use beta features, can you please add it to the docs. as its very easy to miss from examples.

[2021-06-01 15:41] edwardmedia commented on #9159
@ricardolpd regarding the annotation, I added the comment [here](https://github.com/hashicorp/terraform-provider-google/issues/9159#issuecomment-843236468) . Does this make sense?

[2021-06-01 15:54] melinath commented on #9111
DCL upstream says the underlying issue has already been fixed; upgrading that dependency may fix the issue.

[2021-06-01 15:55] melinath commented on #9145
No worries! :-)

[2021-06-01 16:08] ujwaldhakal commented on #9159
@edwardmedia
Looks like i had to clear my .terraform and state then it was working fine . Looks like it was version issue i was using beta 3.4x it has been solved

[2021-06-01 16:25] megan07 commented on #9265
Hi @xiaobaitusi ! I'm sorry you're running into this issue. Would you be able to provide me with a copy of the state of this resource, from the `3.67.0` version? And a debug log from running `terraform plan` would also be helpful. Thanks!

[2021-06-01 17:02] edwardmedia commented on #9159
@ujwaldhakal  I am glad you have found the solution. Closing the issue then.

[2021-06-01 17:02] #9159 closed

[2021-06-01 17:13] edwardmedia commented on #9257
@deviojha09 in above plan for 3.5.0, it show that below resource will be created. If `reddev.com.` is already there, the creation should be denied. Do you see otherwise for the version 3.5.0?

[2021-06-01 17:29] ricardolpd commented on #9159
@edwardmedia i had read this before i opened the issue, but i think you will agree that between that line and

`"run.googleapis.com/launch-stage" = "BETA"`

I fully understand terraform doesnt have control over which annonations are allowed since, some of these are obscure and a consequence of using kuberneters in th background. However since this little line makes all the different when adopting

[2021-06-01 17:36] rileykarson commented on #9236
We may want to reduce the number of auto_create_subnetworks networks, I don't think this is due to leaked resources.

[2021-06-01 17:38] rileykarson commented on #9239
Note: this is likely an issue with the bootstrapping of the instance

[2021-06-01 17:41] rileykarson commented on #9244
notes: this is likely eventual consistency from the API

[2021-06-01 17:42] dotnetpiper commented on #6409
Hi Team,

Could you please share an update on this, as i'd also like  to "Apply policy to targets (optional)" using terraform. If it has been implemented than kindly share the way to implement that.
Highly Appreciated!

![image](https://user-images.githubusercontent.com/20516546/120367736-de466780-c32e-11eb-8b33-9a1cbb1344f5.png)

[2021-06-01 17:59] deviojha09 commented on #9257
ah! no i started it from clean slate,  the only change in the TF code was provider version locked down 3.5.0.  The plan of that TF was identical to plan 3.69.0 and it went ahead and created the domain and update the NS with my addition Sn as shown in the screen shot.

followed process
-  main.tf with provider version 3.69.0 it would create the domain but fail to update NS
- Destroy the stack
- cha

[2021-06-01 18:15] edwardmedia commented on #9257
@deviojha09 when you switch to a different provider version, don't you need to run `tf init --upgrade` (instead of `tf init`?

Anyway, after I switched to a different version between 3.5.0 and 3.69.0, I don't see the diff in the plan. In that case, I don't think it would try to call POST directly without hitting DELETE.

I need specific repro steps for going further. Otherwise, suggest closing the

[2021-06-01 18:43] deviojha09 commented on #9257
All I am saying is it is working in 3.5.0 just giving an example.

It’s not about upgrading , I am trying it out fresh with  3.69.0 and it’s not working. Let’s just forget about 3.5.0 completely. If you just take my main.tf and use latest terraform and latest provider it won’t work. I just need to know how can I update NS records of a Domain. And I think it’s a bug in provider which doesn’t allow

[2021-06-01 19:06] slevenick commented on #9267
Unfortunately I don't believe this will be possible.

Terraform uses the REST API for IAP client which is documented here: https://cloud.google.com/iap/docs/reference/rest/v1/projects.brands.identityAwareProxyClients

You will notice that none of these fields appear in the documentation, and I don't believe they will be added anytime soon. I believe this is an intentional choice made by the API te

[2021-06-01 19:06] #9267 closed

[2021-06-01 19:12] #9240 closed

[2021-06-01 19:16] edwardmedia commented on #9257
@deviojha09 staying with v3.69.0, I have no issue by changing records in `rrdatas`. As I mentioned, each time I added ( or removed ) NS, I always see `will be replaced` in the plan, not `will be created`

Can you share the state by calling `terraform show`?

[2021-06-01 19:20] xiaobaitusi commented on #9265
For sure.
the state of this resource:
[code]
Debug log: https://gist.github.com/xiaobaitusi/6fb91f7bfbd9e0c8c132ec342fc70d0a

[2021-06-01 19:32] brownoxford commented on #6521
Taking a quick look through magic-modules, this resource *seems* pretty straight forward to auto-generate but I didn't see how to generate the data elements... I'm happy to contribute a PR if anyone can point me in the right direction.

[2021-06-01 19:32] brownoxford commented on #6520
Taking a quick look through magic-modules, this resource *seems* pretty straight forward to auto-generate but I didn't see how to generate the data elements... I'm happy to contribute a PR if anyone can point me in the right direction.

[2021-06-01 19:35] jcanseco opened #9272 "google_secret_manager_secret: support for automatic replication with CMEK"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-01 19:42] rileykarson commented on #6583
The surface of this API has changed, renaming the issue.

[2021-06-01 20:08] debakkerb opened #9273 "google_notebooks_instance don't persist tags in state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-01 20:37] melinath commented on #9232
requested quota increase

[2021-06-01 21:53] edwardmedia commented on #9263
@PrateekKhatri can you share your config and the full debug log?

[2021-06-01 23:03] #8204 closed

[2021-06-02 05:00] mike-19 opened #9276 "google provider google_storage_bucket Documentation BUG for days_since_custom_time"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-02 08:58] muffl0n commented on #9261
I had the same with Terraform v0.15.4 and provider v3.70.0. Running `terraform apply -refresh-only` fixed it, for now.

[2021-06-02 11:13] deviojha09 commented on #9257
Hey @edwardmedia , i understand what you are saying. Thats what  I'm trying to say it never says is going update the NS records. It always says its to be cerated which is what its saying the record is already existing.

I dont see anything wrong with my terraform main.tf. It just i have combined two process of creating domain and NS in one. However for trying out, I did test the two step process.

[2021-06-02 11:35] javimoya commented on #8692
Any updates on when this might be supported?

[2021-06-02 11:53] CrAzE124 commented on #7486
We're also trying to migrate from `access` to `google_bigquery_dataset_access` and face the same problem (also in #8165 ). We'd like to move to this resource instead of `bigquery_dataset_iam` as we need authorized view support, but would also like the permissions to be non-authoritative, so that we can set additional permissions dynamically from client SDK's. Is there any plan to make this migrati

[2021-06-02 12:09] edwardmedia commented on #9257
@deviojha09 have you tried changing the name like below to make it unique? The provider underwent a significant change. Because of that, the api does not like using the dns_name to be name. With the latest code, actually your code no longer work, with or without appending the NS.

[2021-06-02 12:25] brownoxford commented on #6520
I am currently working on a PR for this issue, will update when I post the first draft.

[2021-06-02 12:25] brownoxford commented on #6521
I am currently working on a PR for this issue, will update when I post the first draft.

[2021-06-02 13:12] deviojha09 commented on #9257
@edwardmedia  I'm sory but  in this is NS records are root level of the domain , how can we change the name of the NS record that doesn't sound right ! All i want is to achieve this

https://user-images.githubusercontent.com/14299991/120342130-67d64500-c2ef-11eb-8805-24eb161b9812.png

so i wont have a address and yes '${google_dns_managed_zone.selected.dns_name}'  is what terraform was using in te

[2021-06-02 13:20] edwardmedia commented on #9257
@deviojha09 my suggestion is to add `my-address.` in the front of `${google_dns_managed_zone.selected.dns_name}`.

[2021-06-02 13:21] deviojha09 commented on #9257
And also @edwardmedia , if this code of mine is incorrect can you please guide me a example of what could work. I didnt see any change in terraform doc. Infact all  other records works A, CANME, PTR,TXT,SRV except NS so dont understand whats the different for NS

[2021-06-02 13:24] deviojha09 commented on #9257
i tried and i just created a record with
my-address.<<domain.com>>  as was expected
[code]

[2021-06-02 14:28] edwardmedia commented on #9261
@esn89 running `terraform apply -refresh-only` solves your problem?

[2021-06-02 15:03] atrauzzi opened #9277 "Provide a way to obtain/calculate the URL of a cloud run service prior to its creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-02 15:33] edwardmedia commented on #9257
Yeah I see what you mean @deviojha09 . With the current implementation, there is no way new name servers can be added to the default NS. This seems to be wrong. What do you think? @megan07

[2021-06-02 15:59] megan07 opened #9278 "Bump dataproc cluster boot disk size to 35 for dataproc job tests"
Fix failing dataproc job tests `Error 400: Requested image requires minimum boot disk size of 35 GB;`

[2021-06-02 16:09] melinath commented on #9232
b/189866473

[2021-06-02 16:51] rileykarson commented on #8622
@circa10a: That issue is likely due to a restriction at the API level where the GA API does not consider IAM roles granted at the folder level while the beta API does. Previously the GA provider called the beta API but that was changed in `3.60.0`. You can switch those resources to use the beta provider to take advantage of folder-level permissions, [as documented on the resource](https://registry

[2021-06-02 16:57] rileykarson commented on #8915
Yes, this appears to be a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/9041. See https://github.com/hashicorp/terraform-provider-google/issues/9041#issuecomment-843424205 for context.

[2021-06-02 16:57] #8915 closed

[2021-06-02 17:21] circa10a commented on #8622
Thanks @rileykarson , that seemed to resolve this bug, but hit another due to the [upstream dns permissions bug](https://github.com/hashicorp/terraform-provider-google/issues/9041)

[code]

[2021-06-02 17:22] esn89 commented on #9261
Hi there, this works!  Thanks!

[2021-06-02 17:22] #9261 closed

[2021-06-02 17:28] prabhu34 opened #9279 "Support for IAP in compute_region_backend_service resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-02 17:46] rileykarson commented on #3370
This was fixed (but the issue not closed) and later reverted, as we enforced the use of GA APIs in the GA provider. Given it's now a documented limitation in https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_shared_vpc_service_project, closing.

[2021-06-02 17:46] #3370 closed

[2021-06-02 17:49] thuck opened #9280 "source_ranges = null doesn't work on EGRESS rule"
### Terraform Version
* v0.15.1

### Affected Resource(s)

* google_compute_firewall
* registry.terraform.io/hashicorp/google v3.70.0

### Expected Behavior

When setting source_ranges on egress rule terraform shouldn't try to set it.

### Actual Behavior

terraform includes source_ranges on request and rule fails.

### Steps to Reproduce

Create a EGRESS rule using source_rnages = null.
terraform

[2021-06-02 18:11] megan07 commented on #6133
I'm going to close this as it appears to be working now. If you experience any issues, please feel free to open a new issue. Thanks!

[2021-06-02 18:11] #6133 closed

[2021-06-02 18:49] #9228 closed

[2021-06-02 19:13] Unichron opened #9285 "google_project data source with depends_on is quirky"
### Terraform Version

0.15.4

### Terraform Configuration Files

[code]

### Expected Behavior

Running `terraform apply` should work.

### Actual Behavior

[code]

### Important Factoids
If I remove `depends_on = [random_id.foo]` the apply runs nicely. If I uncomment `project_id=""` I get an inconsistent final plan error:

[code]

I don't actually need the depends_on on the data source, but this

[2021-06-02 19:42] #9136 closed

[2021-06-02 20:17] rileykarson commented on #8622
Yep, details for that issue can be tracked there!

I've also noted the impact on `google_compute_shared_vpc_service_project` permissions directly in the [release page](https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.60.0) and [changelog](https://github.com/hashicorp/terraform-provider-google/blob/master/CHANGELOG.md#3600-march-15-2021).

[2021-06-02 21:16] ScottSuarez commented on #9104
hmm curious, let me look a little more into this. In the meantime if you like you can always try debugging the raw provider. It's not overly complex that you wouldn't be able to understand it. Although getting it to run locally can be a little annoying.

Also, before the apply breaks your node pools, I assume there is already something pre-existing? Could you give me the plan before the apply so I

[2021-06-02 21:31] upodroid commented on #9238
@rileykarson

This is not a fixable test. I created a managed domain(very slow 😢 ).

[code]

Then I ran the test.

Test fails because you need a legit and available Windows Farm that has AD enabled and configured to join a domain trust. Google seems to be validating the trust values that are supplied and trying to connect to those machines that don't exist.

All of the steps in the guides below ne

[2021-06-02 22:34] thedmeyer opened #9287 "How to emulate a gcloud app deploy cron.yaml call?"
Does the provider support the ability to submit a `cron.yaml` equivalent with either the `google_app_engine_standard_app_version` or the `google_app_engine_flexible_app_version` resource?

As far as I can tell the only way to do this is by moving crons into cloud scheduler but then these are not managed under app engine.

[2021-06-02 22:57] melinath commented on #6755
duplicate of https://github.com/hashicorp/terraform-provider-google/issues/7979

[2021-06-02 22:57] #6755 closed

[2021-06-03 01:18] paulspiegel commented on #8607
Perhaps this is an additional enhancement request but adding the networkEndpointType of NON_GCP_PRIVATE_IP_PORT and endpoints of IP:PORT would also allow hybrid connectivity backends.

[2021-06-03 03:04] grugnog commented on #9104
This has been driving me a bit nuts for the last week also. I handful of things I have confirmed:

- Based on my testing it appears to be a change in the GCP API sometime since May 21.
- I have a log of an working apply to create a completely new environment (projects, VPC and GKE) with Git tagged config and pinned versions of everything (Docker image containing OS/libraries, gcloud, TF, providers

[2021-06-03 03:08] grugnog commented on #9104
Here is a snippet showing the delta for a plan on a freshly provisioned infrastructure with no configuration change, and no configuration referencing kubelet_config or cpu_cfs_quota:

[code]

[2021-06-03 04:27] PrateekKhatri commented on #9263
Hi,

**Please find the config file below:**

resource "google_storage_bucket" "bucket_complaint" {
  count                       = var.infra_type == "compliant" ? var.var_count : 0
  name                        = "${var.env_name}-${var.infra_type}-bucket-${count.index + 1}"
  location                    = data.google_compute_regions.available.names[index(data.google_compute_regions.available.names

[2021-06-03 16:09] #9266 closed

[2021-06-03 16:37] #9278 closed

[2021-06-03 18:05] rileykarson commented on #8769
Given that the overall error here is _extremely_ general as any API with consistency issues is going to trigger it, I'm retitling this issue to reflect the affected resource. For users that see this error on a new resource, please file a separate issue but feel free to reference this one from yours!

---

Providing more context for the error class as a whole; we make the assumption by default that

[2021-06-03 18:12] n-oden opened #9291 "Support for flex template runtime environment options"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest