[2020-06-01 17:55] danawillow opened #6500 "Advanced logging config options in google_compute_subnetwork"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-01 18:05] #5894 closed

[2020-06-01 18:05] #6329 closed

[2020-06-01 18:19] kitschysynq opened #6501 "google_container_registry builds invalid request URL"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-01 18:21] danawillow commented on #6487
Duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/5664. The feature has been merged so I think it'll show up in next Monday's release.

[2020-06-01 18:21] #6487 closed

[2020-06-01 18:22] danawillow commented on #6494
Closing as duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/5879

[2020-06-01 18:22] #6494 closed

[2020-06-01 18:30] gogasca commented on #5879
Hi @preston-hf , I'm part of the Notebooks API team (Here you will find a workaround to create notebooks using GCE https://github.com/GoogleCloudPlatform/ai-platform-samples/tree/master/notebooks/tools/terraform) is in our plan to add Terraform support in next quarter.
As I will be working on it, I would appreciate any pointers as how to get started/documentation for developers so I can add direct

[2020-06-01 19:09] #6452 closed

[2020-06-01 19:12] preston-hf commented on #5879
Thanks for reaching out. Could you provide more info about what kind of information you're looking for? Thanks for the link, I will definitely check it out.

[2020-06-01 19:30] coffer-msk opened #6503 "Error: Error setting IAM policy for project "xxxxx": googleapi: Error 400: Request contains an invalid argument., badRequest"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-01 19:39] larsenqec opened #6504 "Add support for BackendConfig"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-01 19:57] megan07 commented on #6501
Hi @kitschysynq !  Thanks for opening this issue, I'm sorry it's not working for you. Are you able to provide me more of your configuration file? I'm unable to reproduce it with just the `google_container_registry` resource. I'm specifically interested in how it's being used with the k8s provider, but the more you can provide me, hopefully the quicker I can solve the issue.
Thanks!

[2020-06-01 20:05] edwardmedia opened #6505 "[Doc] typo in example in google_compute_router_nat"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-01 21:19] #6505 closed

[2020-06-01 22:25] edwardmedia commented on #6503
@coffer-msk I noticed below section in your log. It seems the `member` is not valid. Do you have any clue what happened?
[code]

[2020-06-01 22:36] edwardmedia commented on #6477
@kurtmaile  are you looking for `clustering` in the **google_bigquery_table** instead of `google_bigquery_data_transfer_config`?

https://www.terraform.io/docs/providers/google/r/bigquery_table.html#clustering

[2020-06-01 23:18] danawillow commented on #6484
Hi @Sytten, I'm curious how you would approach this implementation. If these values are only available as k8s service annotations, how would you read them in this provider?

My naive suggestion would instead be to use the kubernetes provider. The `kubernetes_service` data source for example will let you get annotations (https://www.terraform.io/docs/providers/kubernetes/d/service.html). Would that

[2020-06-01 23:24] Sytten commented on #6484
@danawillow The problem I see with this approach is that it will still fail if you do it in the same project/apply because the annotation is added at some point in the future and the data source won't wait for that.

As for the implementation, the name of the cluster is always present in the name of the created NEG with a random suffix, so it should be easy to list all NEGs and filter. Though I do

[2020-06-02 02:44] ops18 commented on #6496
Yah its working fine with change the tier but I am warried about when I am running the terraform refresh it is not idenity the changes between the remote state and the terraform state file.
you can try the same. But before run terraform plan run the terraform refresh , and in refresh I am getting problem.

1. Create instance using the terraform resource
2. Change the configuration from Google clou

[2020-06-02 03:10] kaihendry opened #6508 "How do I provision with APIs enabled?"
I want to avoid situations like this:

<img src="https://s.natalian.org/2020-06-02/1591067228_2560x1440.png">

When my terraform provisioned function is executed and fails due to a API not being enabled. How can I avoid this situation in my code https://github.com/kaihendry/gcp-label

[2020-06-02 03:20] edwardmedia commented on #6483
https://github.com/terraform-providers/terraform-provider-google/issues/6498

[2020-06-02 04:02] edwardmedia commented on #6466
@akumar-lbg is this still an issue with you?

[2020-06-02 04:03] edwardmedia commented on #6469
@rottenbytes is this still an issue with you?

[2020-06-02 04:08] edwardmedia commented on #6486
@Pritilender Please try to use `project_id` instead of `id` in above code. I am closing this issue. Please feel free to reopen it if your problem remains. Thanks

[2020-06-02 04:08] #6486 closed

[2020-06-02 04:12] edwardmedia commented on #6508
@kaihendry  you may use `google_project_service` to enable APIs. https://www.terraform.io/docs/providers/google/r/google_project_service.html

[2020-06-02 05:18] kaihendry commented on #6508
So if my [function](https://github.com/kaihendry/gcp-label/blob/master/src/main.go) uses {compute,iam} APIs, I need something like:

[code]
IIUC, in my https://github.com/kaihendry/gcp-label/blob/master/main.tf

[2020-06-02 06:58] coffer-msk commented on #6503
@edwardmedia I think this is the way console shows the log :
2020-06-02T09:57:00.311+0300 [DEBUG] plugin.terraform-provider-google_v3.23.0_x5: Content-Length: 558
2020-06-02T09:57:00.311+0300 [DEBUG] plugin.terraform-provider-google_v3.23.0_x5: Content-Type: application/json
2020-06-02T09:57:00.311+0300 [DEBUG] plugin.terraform-provider-google_v3.23.0_x5: X-Goog-Api-Client: gl-go/1.13.4 gdcl/20200

[2020-06-02 07:18] giimsland commented on #6458
Yes, that worked. However my original config is not working, still. There probably is parameter issues, but I can not figure out which parameter it is. Terraform accepts the config.
Config:
[code]
Output from terraform plan:
[code]

Output from terraform apply:
[code]

[2020-06-02 07:26] frasercarter commented on #6478
can I get some understanding on this, would it be authoritative if both binding and member was used?

if not, what is the use case for binding?

thanks

[2020-06-02 07:29] kurtmaile commented on #6477
Hi,

Thanks.  No just like how partitioning is enabled in scheduled queries (data transfer) when tables are created by the transfer itself, clustering is an option on the table also.

So while this is as you say is a property on an actual table object, the transfer config itself also creates tables, thus, we also want to specify clustering fields alongside partitioning (currently supported) when t

[2020-06-02 07:33] Pritilender commented on #6486
@edwardmedia Sorry for taking me a few days to reply.

Changing `id` to `project_id` works! Thank you!

[2020-06-02 09:06] Phlamethrower opened #6509 "google_bigquery_table expiration_time isn't handled correctly during table creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-02 13:21] kitschysynq commented on #6501
:facepalm:

The config was changed so that `var.project_key` did in fact contain that json key. Sorry for the false alarm.

[2020-06-02 13:22] #6501 closed

[2020-06-02 13:40] edwardmedia commented on #6508
@kaihendry looks right to me. Keep in mind it may take a little long time to enable the services.

[2020-06-02 14:00] KevYuen opened #6510 "storage_bucket retention_period incorrect max value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-02 14:21] rottenbytes commented on #6469
Hello,

I changed the aligner and reducer (and the values of course) to get a "working alert condition". I still can't figure out the culprit of the behaviour but I'm fine with my setup now

[2020-06-02 14:45] edwardmedia commented on #6509
I can see below plan after the first apply
[code]

[2020-06-02 15:00] edwardmedia commented on #6503
@coffer-msk here is the test conducted daily for **google_project_iam_policy**.
https://github.com/terraform-providers/terraform-provider-google/blob/aecf30abcb81f93f601a23ea5ab4a26f3be6b44e/google/resource_google_project_iam_policy_test.go#L233

Under the **expected behavior** section, you referred to **google_service_account_iam_policy**: Which resource were you testing?

[2020-06-02 15:11] edwardmedia commented on #6477
@kurtmaile If the API supports it, could you provide the link?
Below is the one I am looking at. Can you specify which field you are referring to?
https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.transferConfigs

[2020-06-02 15:23] edwardmedia commented on #6469
OK I am closing the issue right now. Please feel free to reopen it if you have further info. Thanks

[2020-06-02 15:23] #6469 closed

[2020-06-02 15:41] paulbsch commented on #6003
I created a GKE feature request to allow node-role.kubernetes.io labels over on the Google issue tracker.  Up vote and/or add your two cents if you would like to see this implemented:
https://issuetracker.google.com/issues/157973836

[2020-06-02 16:42] megan07 commented on #6496
Hi @ops18!  Thank you for clarifying your steps. I've done the same steps and saw that `terraform refresh` updated the state file to `db-custom-2-7680` right away. My understanding is that after `refresh` you are still seeing `db-f1-micro`? Have you seen `terraform refresh` not work for any other resources?

[2020-06-02 17:42] anubbhavm opened #6512 "Support to add a Service Account (at the time of its provisioning) to an existing VPC-SC access level"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-02 18:05] edwardmedia opened #6513 "[Data Source] bring google_compute_image's `id` field format to match resources'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-02 18:16] megan07 commented on #6374
With https://github.com/terraform-providers/terraform-provider-google/pull/6359 and https://github.com/terraform-providers/terraform-provider-google-beta/pull/2128 this can now be closed.

[2020-06-02 18:16] #6374 closed

[2020-06-02 20:06] megan07 commented on #6509
Hi @Phlamethrower! This is interesting! I had to re-read this a few times to make sense of it, but I think this is something GCP has set.

At any point after the table is created, you can update the table's expiration time

It appears that, on create, if nothing is set, its set to the default.  But on update, if nothing is set, its set to `Never`. Nothing says that explicitly, but that's how it ap

[2020-06-02 20:06] #6509 closed

[2020-06-02 21:15] #6319 closed

[2020-06-03 00:09] danawillow commented on #6456
I don't think there are any provider changes we can make here, since this was caused by Terraform attempting to destroy and create different resources in parallel, which is exactly what it should be doing. I agree that @edwardmedia's suggestion is going to be the easiest way to apply these sorts of changes in the future.

[2020-06-03 00:09] #6456 closed

[2020-06-03 00:19] danawillow commented on #6481
@edwardmedia I don't think the field can be updated. I tried it in API explorer and got the response:
[code]

Closing this since I think there's nothing to do here.

[2020-06-03 00:19] #6481 closed

[2020-06-03 08:13] Phlamethrower commented on #6509
OK, thanks for looking into it. For now, I can get the effect I want by setting an expiration time which is far in the future (e.g. year 3000).

[2020-06-03 13:56] svenschwermer opened #6517 "google_endpoints_service only allows to specify 1 compiled .pb file"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-03 14:44] edwardmedia commented on #6466
@akumar-lbg I am closing this issue at this moment. Please feel free to reopen it if you still the issue. Thanks

[2020-06-03 14:44] #6466 closed

[2020-06-03 15:58] #5836 closed

[2020-06-03 15:59] thecodeassassin opened #6518 "Value out of range when trying to run plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-03 16:10] Pritilender opened #6520 "Add support for managing Firebase iOS apps"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-03 16:15] Pritilender opened #6521 "Add support for managing Firebase Android apps"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-03 17:54] #6470 closed

[2020-06-03 19:25] edwardmedia commented on #6477
@kurtmaile I am closing this issue at this moment. Please feel free to reopen it you need further assistance on your question.

[2020-06-03 19:25] #6477 closed

[2020-06-03 19:28] edwardmedia commented on #6508
@kaihendry I am closing this issue.at this moment. Please feel free to reopen it if you still have the question about how to enable the APIs via Terraform. Thanks

[2020-06-03 19:28] #6508 closed

[2020-06-03 20:49] amerenda opened #6525 "google_bigquery_table cannot create a table with num_hash partition start range of 0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-03 21:45] gogasca commented on #5879
I'm looking for a contribution guide to start Development. (Code structure for the Terraform component)
We have the REST API and SDK, already and I will generate the GoLang library

I found a sample PR for Dataproc.
https://github.com/terraform-providers/terraform-provider-google/pull/252/files#diff-022d1bbf3b0cde7c913a68aac08359eb

Not sure if this is the best starting point

[2020-06-03 22:01] ndmckinley commented on #5879
I'm helping @gogasca accomplish this - I've sent you the initial steps you'll need to take, thanks so much for your contribution, and please reach out whenever or if you ever need help.  :)

[2020-06-03 23:26] edwardmedia opened #6526 "enable google_compute_instance_group to accept instances id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-03 23:46] edwardmedia commented on #6525
@amerenda  can you share your `table_schema.json`?

[2020-06-04 00:12] danawillow opened #6527 "access context manager access level custom levels"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-04 01:32] frasercarter opened #6530 "import of google_service_account fails"
Original issue #2232 was supposedly fixed in #2261

Issue still exists

Steps to reproduce:
terraform import google_service_account.foo user@foo.iam.gserviceaccount.com

only accepted format:
terraform import google_service_account.foo projects/foo/serviceAccounts/user@foo.iam.gserviceaccount.com

[2020-06-04 11:35] KyuRish commented on #365
I still don't see this, it is a very much required to force no public IPs with the template in terraform

[2020-06-04 13:28] craigsdickson opened #6531 "google_cloudbuild_trigger is missing several arguments"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-04 14:07] megan07 commented on #6530
Hi @frasercarter! Thanks for letting us know - can you tell me what version of terraform and of the provider that you are using?
Also, any debug logs or error messages would be appreciated.  Thanks!

[2020-06-04 17:20] emilymye commented on #5893
Fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/3601

[2020-06-04 18:47] brabster opened #6532 "Re-created service account does not trigger replacement of PubSub IAM bindings"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-04 18:48] #6498 closed

[2020-06-04 21:29] edwardmedia commented on #6532
@brabster how did you delete and recreate the service account? If you did via other tools, Terraform does not have knowledge about this change. Do you see your expected behavior somewhere?

[2020-06-05 02:35] tanjinP commented on #6531
@craigsdickson I would like to take this on - just got my local environment working earlier this week for this project.

[2020-06-05 03:34] edwardmedia commented on #6503
@coffer-msk I am closing this issue at this moment. Please feel free to reopen it if this is still an issue with you. In the meantime, please provide the steps so I can repro the issue. Thank you.

[2020-06-05 03:34] #6503 closed

[2020-06-05 03:42] edwardmedia commented on #6423
@paoloventriglia does below note help address your issue? I am closing this issue at this moment. If it is still an issue with you, please feel free to reopen it. In the meantime, please provide full debug log. Thank you

[2020-06-05 03:42] #6423 closed

[2020-06-05 08:19] jenshonkan84 commented on #6461
Sorry for late replay.
Here is the documentation:
https://cloud.google.com/security-command-center/docs/how-to-web-security-scanner-custom-scans?&_ga=2.259902730.-1600235768.1588667725#firewall-configuration

[2020-06-05 08:24] jenshonkan84 opened #6535 "Add support for Hierarchical firewall policies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-05 11:32] tvvignesh opened #6537 "Disabling snat using Terraform - GKE"
Hi. I tried setting up Private GKE clusters using Terraform. While I was able to successfully set it up for 3 clusters, one of the clusters keeps failing with this error:

![Screenshot from 2020-06-05 16-47-14](https://user-images.githubusercontent.com/1165845/83871588-f3a1a980-a74d-11ea-8fa9-c5e548bdcaca.png)

I did refer information about the error here (disabling snat): https://cloud.google.com

[2020-06-05 12:49] sreechok commented on #4449
i'm using
[code]
and I get this error when using terraform version: `0.12.13`
[code]

is this fix available in the terraform releases yet?

[2020-06-05 13:01] MajorBreakfast commented on #6074
I find myself also in need of this resource. My use case is fully automating our internal GitLab installation including single sign-on via Google. From the instructions at https://docs.gitlab.com/ee/integration/google.html it seems that what's missing is the functionality described by @MPV and more specifically what @imortkz describes in [their comment above](https://github.com/terraform-providers

[2020-06-05 13:39] edwardmedia commented on #6525
@amerenda  is this still an issue with you?

[2020-06-05 13:55] edwardmedia commented on #6537
@tvvignesh can you share you module code so I can repro the issue? In the meantime, can you post your debug log? Thank you

[2020-06-05 16:28] danawillow commented on #4449
That version you mentioned is your terraform tool version. You want to make sure you're on at least version 3.23.0 of the google provider. When you run `terraform version` it should tell you both versions.

[2020-06-05 16:28] danawillow commented on #4449
Also, thanks for bringing this up. Closing this issue since I think the addition of that parameter should resolve it.

[2020-06-05 16:28] #4449 closed

[2020-06-05 17:02] tvvignesh commented on #6537
@edwardmedia Thanks for your quick reply. I am using this as the module for the GKE Cluster without any changes: https://github.com/terraform-google-modules/cloud-foundation-fabric/tree/master/modules/gke-cluster

[2020-06-05 17:06] cliles opened #6538 "google_binary_authorization_attestor KMS public_key id does not reference cloudkms v1"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-05 17:44] tvvignesh commented on #6537
Also wondering why its picking up `1.17.5-gke.0` and says it is unsupported when `gke.9` has been released. I have not specified version anywhere. Have just specified the release channel as RAPID.

[code]

[2020-06-05 20:39] #6342 closed

[2020-06-05 20:47] slevenick commented on #6074
@MajorBreakfast unfortunately that is not possible in Terraform as APIs to manage many of the fields on `iap_client` do not exist. These changes must be done manually through the GCP console.

I do not expect APIs for managing these fields to be available in the near future, so I will add notes on the `google_iap_client` resource that explain that manual steps must be taken to use a client created

[2020-06-05 22:20] ghost opened #6541 ""publisher_service_account" expects value though its not specified in pubsub module being optional field"
_This issue was originally opened by @shefaliA as hashicorp/terraform#25155. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi,
I am trying to use TF pubsub mofule for creating topic in GCP . I am getting below error when deploying module

Error: Unassigned varia

[2020-06-05 22:40] venkykuberan commented on #6541
@shefaliA it doesn't seem anything provider related, you aren't passing value to your config. Please pass on your plan output, will see if we can help.

[2020-06-05 23:03] caieo opened #6542 "Add name collision warning/reminder in google_storage_bucket errors"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-07 01:24] tvvignesh commented on #6537
@edwardmedia I have looked up the Terraform documentation completely regarding this and am not able to find a way to currently do this. Puzzled :confused:

[2020-06-07 21:22] brabster commented on #6532
Hi @edwardmedia, thanks forthe question! The account was deleted and recreated by Terraform, but a totally independent Terraform state. I raised this issue because I could see the updated UID when imported the service account, so it seemed like the provider could detect the change and handle it as a replacement if it stored the original UID of a service account in the TF state.

As I've learned si

[2020-06-07 22:46] pmrowiec opened #6543 "Applying adding oidc_token in push pubsub subscription errors with a 500 after 4 minutes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-08 02:54] edwardmedia commented on #6532
@brabster if you manage the resources using Terraform, these are expected behaviors. I am closing this issue at this moment. Please feel free to reopen it if you need further assistance. Thank you

[2020-06-08 02:54] #6532 closed

[2020-06-08 03:03] edwardmedia commented on #6537
@tvvignesh can you post the sections of  `request` and 'response` of the log?

[2020-06-08 04:37] syedrakib commented on #6066
this could be something to consider for a start. Especially since @megan07 mentioned [here](https://github.com/terraform-providers/terraform-provider-google/issues/6066#issuecomment-614071479) that the error messages for 2 different cases are being the same right now.

[2020-06-08 07:24] carlpett opened #6544 "google_sql_database_instance retry loop on reused name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-08 07:38] carlpett opened #6545 "google_sql_database_instance does not recreate when changing to private network"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-08 08:36] stepan111 commented on #6074
@slevenick  and can we have a `data source` to reference existing resources ? I suppose it may help in cases when you create `iap_client` manually and then refer to it within terraform. Basically I  am searching for secure way to get `Client ID` and `Client Secret`.

[2020-06-08 08:54] sreechok commented on #4449
@danawillow : thank you for the update. when I run `terraform version`, it returns just the terraform version but does not return anything else. are you saying that it should also return the google provider version? If not, is there a command to get google provider version that I'm using?

[2020-06-08 10:09] MajorBreakfast commented on #6074
@stepan111 At the project I'm working on, we were able to create a neat automated setup for this use case and I'm quite happy with it. So, maybe this helps: We create the OAuth brand centrally at the location where we create the google cloud project. The brand is a singleton and can only be created once per project. For each use case we create a different IAP client. The lack of a data source is n

[2020-06-08 13:54] wilson-codeminus opened #6546 "Datastore Error creating or reading Index: googleapi: Error 409: too much contention"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-08 15:28] Backstreets commented on #6074
@stepan111 "and can we have a data source to reference existing resources ?"  This is exactly what enhancement request https://github.com/terraform-providers/terraform-provider-google/issues/6482 is about.

[2020-06-08 15:52] edwardmedia commented on #6543
@pmrowiec I can't repro the issue. Can you post your full debug log so we can take a close look?

[2020-06-08 16:27] #6205 closed

[2020-06-08 17:03] pmrowiec commented on #6543
Thanks for having a look.

The `terraform plan` produces (after listing all of the Nodes in the huge project):
[code]
and `terraform apply`:
[code]
repeated every ~10 seconds until the ultimate error after 4 minutes.

[2020-06-08 17:04] megan07 opened #6548 "Fix TestAccComputePerInstanceConfig_statefulBasic and TestAccComputeRegionPerInstanceConfig_statefulBasic tests"
Follow up on these test errors -
`Step 2 error: Check failed: Check 1/1 error: config with name instance-npjzy7y878 still exists`

[2020-06-08 17:08] edwardmedia commented on #6543
@pmrowiec Its seems the versions of your both Terraform and provider are old. Can you upgrade both and then try again?

[2020-06-08 17:13] pmrowiec commented on #6543
I can't currently upgrade Terraform to 0.12 because of the breaking changes (it's a big project and the main team responsible for its maintenance can't do it now). If we can't make it work then I'll just add that piece of configuration manually, though it's not the perfect solution. oidc_token was added with the provider v2.19, so I was hoping it would work with Terraform v0.11.14 + provider.googl

[2020-06-08 17:17] edwardmedia commented on #6543
@pmrowiec  can you try removing `serviceAccount:` in the **serviceAccountEmail** field?

"serviceAccount:pubsub-acc@proj-platform-rapid-53e7-team.iam.gserviceaccount.com"
--->
**pubsub-acc@proj-platform-rapid-53e7-team.iam.gserviceaccount.com**

[2020-06-08 17:22] c2thorn opened #6549 "Cloud Asset Feeds"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-08 17:29] pmrowiec commented on #6543
That seems to solve the issue! Thank you for spotting it.

I'm not very experienced with Terraform and I've seen the `serviceAccount:email` syntax used in many places, but I suppose this is one where it doesn't work.

[2020-06-08 17:44] danawillow commented on #6484
Thanks. Our team is a bit concerned with having to  maintain such a data source going forward if APIs change or we encounter new bugs. If you want to try implementing something and test it well, we can consider it.

[2020-06-08 17:45] venkykuberan commented on #6544
@carlpett Its a known issue and we have an open issued with upstream - https://github.com/terraform-providers/terraform-provider-google/issues/6066

 I see a work around mentioned [here](https://github.com/terraform-providers/terraform-provider-google/issues/6066#issuecomment-620489346) for the same issue. Closing this one as we are already tracking it on other.

[2020-06-08 17:45] #6544 closed

[2020-06-08 17:49] danawillow commented on #6512
If the list of service accounts becomes known later, why not just add it to the `google_access_context_manager_access_level` resource at that time?

[2020-06-08 17:58] edwardmedia commented on #6543
@pmrowiec I am glad that solves your problem. I am closing the issue Then. Thank you for using the solutions

[2020-06-08 18:02] danawillow commented on #6531
Thanks @tanjinP! Assigning you now. Make sure you check out the CONTRIBUTING guide since this is a MM-generated resource.

[2020-06-08 18:03] danawillow commented on #6535
@drebes you already have some code for this, right?

[2020-06-08 18:09] anubbhavm commented on #6512
We've seen with the customers that the `google_access_context_manager_access_level` resource is created as an organization resource and maintained in a separate workspace/ state file. The service accounts are created as a part of different workspaces/ state files and the customer would like to add the service account to the access level at the time of SA creation in the SA workspace instead of goi

[2020-06-08 18:10] ndmckinley commented on #6202
Fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/3593.

[2020-06-08 18:10] #6202 closed

[2020-06-08 18:10] #5893 closed

[2020-06-08 21:00] danawillow commented on #4449
When you run `terraform init`, it should tell you what version it's downloading. I'd also recommend pinning at least to a major version series (https://www.terraform.io/docs/configuration/providers.html#provider-versions) so you don't get caught unaware.

[2020-06-08 21:33] #6151 closed

[2020-06-08 23:19] #5520 closed

[2020-06-09 00:42] #6030 closed

[2020-06-09 05:30] LipingSun opened #6556 "google_container_cluster: Cannot determine region"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-09 08:22] mkushakov commented on #6537
Hello, I have the same problem but i am using `terraform-google-modules/kubernetes-engine/google//modules/beta-private-cluster` module.

I am trying to create private cluster using REGULAR channel with access to master over internet.

Here is mine TF config:
[code]

And here is error message i have:
[code]

[2020-06-09 15:02] natalysheinin opened #6557 "Add support for not managing audit_config in google_project_iam_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-09 15:12] megan07 commented on #6497
Hi @ialidzhikov! Thanks for bringing this to our attention, and sorry you're experiencing it. I've spent quite a few hours looking into this and seeing what we can do about it. It looks like the issue is an upstream issue. We are calling `googleoauth.CredentialsFromJSON` and that expects a console-generated credentials file. I tried to work around it locally, but ran into the issue that the privat

[2020-06-09 15:15] #4591 closed

[2020-06-09 15:32] venkykuberan commented on #6556
@LipingSun please share your plan output .

[2020-06-09 15:51] edwardmedia commented on #6537
**--disable-default-snat** has not been implemented. Change to `enhancement` for backlog planning

[2020-06-09 16:57] edwardmedia commented on #6525
The **start** field appears to be dropped in the request payload after setting its value to **0**
[code]

``
2020-06-09T16:50:12.341Z [DEBUG] plugin.terraform-provider-google-beta_v3.25.0_x5:  "rangePartitioning": {
2020-06-09T16:50:12.341Z [DEBUG] plugin.terraform-provider-google-beta_v3.25.0_x5:   "field": "permalink",
2020-06-09T16:50:12.341Z [DEBUG] plugin.terraform-provider-google-beta_v3.25.

[2020-06-09 19:49] rileykarson commented on #6504
Hey @larsenqec!

I'm not sure that this resource is something that should be managed using this provider. While it's true that it's somewhat of a GCP resource, given that it's a GKE-published Kubernetes custom resource that creates a backend service, it isn't a resource that's [directly] created through the _GCP APIs_.

The `google` (and `google-beta`) providers are aware of how to authenticate wi

[2020-06-10 00:24] larsenqec commented on #6504
Yes, I suppose it is complicated if it's not exposed through the Google REST API.  I will look at the kubernetes_manifest resource. Thank you.

[2020-06-10 02:26] tvvignesh commented on #6537
**CC:** @danawillow

[2020-06-10 06:57] sumeetoc commented on #5731
Hi, wanted to know any initial timeline by when it will be available in Terraform?

Thanks!

[2020-06-10 07:04] gleichda commented on #5916
Workload identity is now available GA by #6490 🎉
But when creating I get the issue (both for google_container_cluster
[code]

Can this be also handled in this issue or should I create a new one?

[2020-06-10 10:57] sergeylanzman commented on #5924
fixed  https://github.com/GoogleCloudPlatform/magic-modules/pull/3622

[2020-06-10 14:22] preston-hf opened #6561 "Add support for BigQuery table ACLs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-10 23:33] venkykuberan commented on #6545
`ip_configuration` is not set to ForceNew, thus we are making the API call and fail from there. I think `ForceNew` is required here. @rileykarson  can `ForceNew` & `Computed` go into same attribute ?

[2020-06-11 00:20] edwardmedia commented on #6499
`Invalid value for [--purpose]: must be VPC_PEERING for global internal addresses.`

[2020-06-11 05:20] erielt opened #6572 "Add support for Filestore High Scale"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-11 11:57] brett-wright opened #6573 "unable to provision google_sql_database_instance when availability_type = "REGIONAL" is set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-11 15:21] venkykuberan commented on #6458
Can you attach your debug log here ..

[2020-06-11 16:02] mcaballeropinto commented on #5924
Thanks @sergeylanzman ! Feel free to close this issue. 👍

[2020-06-11 16:10] baelish commented on #6128
We're having issues updating the list of authorised networks, I imagine that would be related to this also. When the Terraform has a different list of CIDRs then what is configured on the cluster `terraform plan` doesn't detect differences. When it applies the Terraform for different changes then I can see that it correctly lists the CIDRs as they are configured on the cluster but still no changes

[2020-06-11 16:33] danawillow opened #6574 "Add update support for google_data_catalog_tag_template.fields"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-11 16:34] danawillow commented on #5892
Filed https://github.com/terraform-providers/terraform-provider-google/issues/6574 for update support on tag template fields. Please +1 that issue if it's important to you so we know whether or not its worth putting effort into.

Closing this one out since we now have all resources supported.

[2020-06-11 16:34] #5892 closed

[2020-06-11 16:58] #5924 closed

[2020-06-11 17:23] rileykarson commented on #6545
The network can be changed for an existing instance. Running both of those configs in order is actually a success for me. However, once a private network is enabled, it can't be disabled- is that the operation you're trying to perform?

[2020-06-11 17:50] carlpett commented on #6545
Hi @rileykarson,
Interesting. I'm getting the error when enabling private networking, with the exact steps in the initial report :thinking:
I'll do a few more tests.

[2020-06-11 18:03] #6538 closed

[2020-06-11 18:22] carlpett commented on #6545
Got it. It happens when the private network I try to use is a shared vpc network. If I use a network in the same project, it works.

[2020-06-11 18:32] rileykarson commented on #6545
Ah, yep- Cloud SQL lets you _create_ a private cluster in a shared VPC but not upgrade an existing one. [See here for docs](https://cloud.google.com/sql/docs/mysql/private-ip#quick-reference). I think that's a deeper validation than we tend to track in the provider, so I'm going to close this out.

[2020-06-11 18:32] #6545 closed

[2020-06-11 19:39] edwardmedia commented on #6573
Below command receives same error. After removing `--availability-type`, The error goes away
`gcloud sql instances create regionalinstance1 --availability-type=REGIONAL --database-version=MYSQL_5_7  --cpu=4 --memory=9GiB --region=us-central1
`

[2020-06-11 20:04] rileykarson commented on #6573
I believe in addition to backups being enabled, binary logging needs to be as well. This flag: https://www.terraform.io/docs/providers/google/r/sql_database_instance.html#binary_log_enabled

Can you see if enabling that works @brett-wright?

Otherwise, something you can try is using the Console to create an instance similar to the one you want, and importing it to Terraform to find the differences

[2020-06-11 21:38] edwardmedia opened #6577 "enable google_dns_policy to accept network id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-11 22:36] edwardmedia opened #6578 "replace self_link in more examples"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-11 23:20] gogasca commented on #5879
Created PR https://github.com/GoogleCloudPlatform/magic-modules/pull/3620

[2020-06-12 06:09] brett-wright commented on #6573
@rileykarson I set binary_log_enabled = true and I was able to provision the cloud sql instance

[2020-06-12 08:06] yin commented on #5892
I see this PR includes EntryGroups. Tagging is most relevant with entries as well. Do we need to file a new feature request for maintaining entries as well?

[2020-06-12 10:59] kikuingithub opened #6579 "google cloud composer shows ip_allocation_policy attributes as required. But shows conflicted when the same are provided."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-12 13:03] rileykarson commented on #6573
Cool! I'll update our documentation to reflect the requirement. Weirdly enough, I can't find it anywhere on the cloud.google.com docs, so I filed a bug upstream as well.

[2020-06-12 15:06] edwardmedia commented on #6579
@kikuingithub  can you post the debug log so I can take a close look?

[2020-06-12 15:07] #6578 closed

[2020-06-12 15:16] kikuingithub commented on #6579
Hi Edward,

Thanks for the quick turnaround ! Here are the debug logs.

2020-06-12T20:36:52.698+0530 [DEBUG]
plugin.terraform-provider-google_v3.13.0_x5.exe: 2020/06/12 20:36:52 [INFO]
Authenticating using DefaultClient...
2020-06-12T20:36:52.698+0530 [DEBUG]
plugin.terraform-provider-google_v3.13.0_x5.exe: 2020/06/12 20:36:52 [INFO]
  -- Scopes: [https://www.googleapis.com/auth/compute
https://ww

[2020-06-12 15:34] edwardmedia commented on #6573
Thank you @rileykarson I am closing this issue then.

[2020-06-12 15:34] #6573 closed

[2020-06-12 15:42] edwardmedia commented on #6579
@kikuingithub can you add steps to repro the issue?

[2020-06-12 16:01] kikuingithub commented on #6579
Nothing significant..!

terraform init .. plan.. apply. The resource declaration for
google_composer_envoronment is included in the github issue details. I
would also like to add that the terraform doc for the composer says that
any two of the four attributes in the ip_allocation_policy block are
required. But the actually, all four attribites are mandatory.

Thanks,

On Fri, Jun 12, 2020, 9:12 PM

[2020-06-12 16:28] edwardmedia commented on #6579
@kikuingithub  can you share the plan?

[2020-06-12 16:54] danawillow commented on #5892
https://github.com/GoogleCloudPlatform/magic-modules/pull/3532 is the PR for Entry

[2020-06-12 16:55] edwardmedia commented on #6579
The doc is correct, according to https://cloud.google.com/composer/docs/reference/rest/v1/projects.locations.environments#ipallocationpolicy

[2020-06-12 16:57] kikuingithub commented on #6579
This will never take me to plan. The terraform execution stops with the
ip_allocation conflict message which i have already posted.

On Fri, Jun 12, 2020 at 9:58 PM Edward Sun <notifications@github.com> wrote:

[2020-06-12 18:20] davidxia opened #6583 "Support GKE's new logging features"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-12 19:28] edwardmedia opened #6584 "[Document] `The xxxxx block supports:` repeats in google_compute_url_map"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-12 20:21] #5416 closed

[2020-06-13 01:21] #6266 closed

[2020-06-14 17:53] goobysnack opened #6587 "DOCUMENTATION - google_filestore_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-15 08:00] kurtmaile opened #6588 "BigQuery Data Transfer Config: Add Integer Partitioning Support"
### Description

```google_bigquery_data_transfer_config ``` to support integer partitioning which is GA.

Seems this resource is generally getting left behind a bit of late, there are 4 outstanding issues on it, will it be given some priority?  Realise the team will be busy on many things, but it is starting to force us to look away from TF on GCP.

### New or Affected Resource(s)

* google_bigqu

[2020-06-15 10:26] Hashfyre commented on #6312
terraform apply has been run. This case happens afterwords.

[2020-06-15 12:58] ferrarimarco commented on #1495
FYI: the work to support this resource is here: https://github.com/GoogleCloudPlatform/magic-modules/pull/3637

[2020-06-15 13:09] kikuingithub commented on #6579
Hi Edward,
Hope you are doing well !!

Do you need any more information from me? I am happy to provide.
Found that `shared VPC ` is NOT supported by the V1 version of API,
but it is implemented in v1beta1. Is this beta API version used in the
latest terraform modules ?

Thanks !!

On Fri, Jun 12, 2020 at 10:25 PM Edward Sun <notifications@github.com>
wrote:

[2020-06-15 16:06] rileykarson opened #6589 "Fix TestAccBigqueryDataTransferConfig test"

[2020-06-15 16:07] rileykarson opened #6590 "Fix TestAccComputeNodeGroup_nodeGroupBasicExample test"

[2020-06-15 16:29] rileykarson opened #6591 "Fix TestAccComputeInstance_soleTenantNodeAffinities test"

[2020-06-15 16:30] rileykarson opened #6592 "Fix TestAccComputeNodeGroup_nodeGroupAutoscalingPolicyExample test"

[2020-06-15 16:31] rileykarson opened #6593 "Fix TestAccContainerCluster_withReleaseChannelEnabled test"

[2020-06-15 17:09] venkykuberan commented on #6587
@goobysnack the doc has a divider between network block  and upper level attributes. Doc is shown as expected hence closing this one

[2020-06-15 17:09] #6587 closed

[2020-06-15 17:19] goobysnack commented on #6587
Okee.

[2020-06-15 17:32] emilymye commented on #6579
@kikuingithub May I ask where you see that ip_allocation_policy attributes are required? From our (docs)[https://www.terraform.io/docs/providers/google/r/composer_environment.html] and [the GCP docs](https://cloud.google.com/composer/docs/reference/rest/v1/projects.locations.environments#ipallocationpolicy), you can only specify cluster or service IP addresses by one of `_secondary_range_name` or

[2020-06-15 17:48] danawillow opened #6595 "access approval settings"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-15 17:57] preston-hf commented on #3851
Triggering the templates should be left to a provisioner, but it would be quite nice to be able to define them with terraform

[2020-06-15 17:58] danawillow opened #6596 "firewall logging controls"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-15 19:56] danawillow commented on #6588
Hey @kurtmaile, I don't see anything in the REST API for transfer configs (https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.transferConfigs) that mentions range partitioning, though it's possible that it's supported via the params map, like in your potential config. That block is just a key/value map, so you could try putting those fields in there t

[2020-06-15 20:04] danawillow commented on #6557
Hey @natalysheinin, we have two other types of IAM resources that will manage a policy without audit configs: *_iam_binding resources, which are an authoritative list of members for a specific role, and *_iam_member resources, which ensure that a specific member is present in the list for that role. We typically recommend that users use those less authoritative versions of the IAM resources, which

[2020-06-15 20:49] natalysheinin commented on #6557
I prefer using the `google_iam_policy` because it's provides much tighter security controls over the entirety of the IAM bindings in a given resource (org/folder/proj/etc).

If I couldn't use `google_iam_policy`, I would need to have 100+ empty bindings just to ensure that I am tracking the membership of every role. The terraform file would become to large and I'll never know if a new custom role

[2020-06-15 22:01] chriswacker opened #6599 "Add resources google_cloud_tasks_queue_iam_*"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-15 22:23] techwolf359 opened #6600 "Adding resource_policies to a google_compute_disk forces replacement of the disk"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-16 00:09] #5870 closed

[2020-06-16 00:27] emilymye commented on #6600
This is an interesting case that I don't think we document very well - we actually support this as a different resource [`google_compute_disk_resource_policy_attachment`](https://www.terraform.io/docs/providers/google/r/compute_disk_resource_policy_attachment.html). We support it this way for a few reasons, but mostly because the [API method](https://cloud.google.com/compute/docs/reference/rest/v1

[2020-06-16 00:38] #6600 closed

[2020-06-16 03:17] kentcb opened #6602 "Confused about the status of Firestore support"
I'm trying to understand how much of my infrastructure I can automate with Terraform. I need to stand up several GCP projects with Firestore enabled, and preferably be able to create a default document or two.

I'm able to create the GCP projects via `google_project` and `google_firebase_project`, but from there I'm stuck. There's a `google_firestore_index` resource, but that seems to assume that

[2020-06-16 09:07] tvvignesh commented on #6465
@danawillow Hi there. I have been facing the same issue with GKE private clusters which I have reported here: https://github.com/terraform-providers/terraform-provider-google/issues/6537

May I know what the temporary resolution could be to solve this issue so that I can move forward without being stuck till this is out. Thanks.

[2020-06-16 09:11] mkushakov commented on #6465
@tvvignesh for me solution was to move `master_ipv4_cidr_block` to RFC-1918 range - https://cloud.google.com/vpc/docs/vpc#valid-ranges

[2020-06-16 09:15] tvvignesh commented on #6465
@mkushakov Ahh.. Thanks a lot. Let me try it out. Will reply back with the status :+1:

[2020-06-16 10:21] jambt opened #6603 "Cloud Function: In-place update of source_repository_url fails with message to organizational policies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-16 13:02] kikuingithub commented on #6579
Hi Edward,

Replying your previous query,
ip_allocation_policy
                {
                    cluster_ipv4_cidr_block       = ""
                    cluster_secondary_range_name  = "name of range1"
                    services_ipv4_cidr_block      = ""
                    services_secondary_range_name = "name of range 2"
                    use_ip_aliases                = true

[2020-06-16 14:18] salrashid123 commented on #6602
pr https://github.com/terraform-providers/terraform-provider-google/pull/6598  would allow you to create a firestore or datastore instance on a new project

[2020-06-16 15:26] salrashid123 opened #6604 "Create google_cloudbuild resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-16 17:07] #6589 closed

[2020-06-16 17:18] #6591 closed

[2020-06-16 17:59] emilymye commented on #6579
Hi @kikuingithub - I can't seem to find the error message you mentioned previously about all fields being mandatory. I only see the `conflicts_with` error message when you supply all four optional nested fields in `ip_allocation_policy`. Did you post a log with that message and the exact config?

Shared VPC (`ip_allocation_policy` fields) was added to the GA provider in [2.12.0](https://github.com

[2020-06-16 18:08] emilymye commented on #6602
@kentcb It's a bit confusing since we split the issue into two but https://github.com/terraform-providers/terraform-provider-google/issues/3657 is actually meant to manage the project-level enabling of Firestore, whereas https://github.com/terraform-providers/terraform-provider-google/issues/3950 is for document level. I'd follow #3657, which may get resolved soon :)

[2020-06-16 18:08] #6602 closed

[2020-06-16 19:47] preston-hf commented on #5520
How does this differ from the `bigquery_dataset_access` resource?

[2020-06-16 20:07] cynful opened #6609 "Allow GKE update on Composer environments"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-16 20:42] slevenick commented on #5520
Only in the structure to make it act similarly to other `*_iam` resources. `bigquery_dataset_access` would be the preferred way to handle this as it allows assigning access to `view`s

[2020-06-16 20:53] danawillow commented on #5520
@slevenick worth adding something in the docs that explains when to use which resource type?

[2020-06-16 21:04] #6527 closed

[2020-06-16 21:17] megan07 commented on #6592
Should be fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/3652

[2020-06-16 21:17] #6592 closed

[2020-06-16 21:18] megan07 commented on #6590
Should be fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/3652

[2020-06-16 21:18] #6590 closed

[2020-06-16 21:57] rtoma opened #6614 "google_compute_network_peering_routes_config fails to disable import/export custom routes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-16 23:16] venkykuberan commented on #6603
@jambt it doesn't seem like a terraform/provider issue. Would you be able to update the CF url in glcoud ?

[2020-06-16 23:22] kentcb commented on #6602
Exciting! Thanks @salrashid123 & @emilymye.

[2020-06-17 05:49] jambt commented on #6603
Hi @venkykuberan,

thank you for having a look at this issue. Indeed I am *able* to change the desired URL parameter by issuing

[code]

Which I built copying and pasting the values from the desired terraform plan output (which still fails). The change can also be done using the Cloud Console, so only the provider confronts me with this issue.

Note that due to `retry=false` and `max_instances=0`,

[2020-06-17 09:18] mikida12 opened #6617 "google_compute_node_types - support new Node Types in node template creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-17 09:28] kikuingithub commented on #6579
Hi ,
In above example, can you try it with actual `shared VPC`, that is shared
from a host project..

Yes, the conflict error is what i see when I give all the attribues in the
IP_allocation_policy, it worked when i give only range names or address
ranges.
And now i am getting a new error. But when tried from Terraform getting
below error.
CREATE operation on this environment failed 51 minutes ago

[2020-06-17 17:03] dcloud9 opened #6619 "Cloud SQL Terraform crash"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-17 17:07] edwardmedia commented on #6614
I am able to update those two fields via REST API call.

[2020-06-17 17:32] emilymye commented on #5609
My guess is to just grep through test logs to see which retryable errors are being found in specific product/resource tests.

[2020-06-17 18:09] #6548 closed

[2020-06-17 18:46] emilymye commented on #6579
The error you got on creating the environment after 51 minutes actually looks like the creation API call succeeded but the Composer API returns an operation error because the underlying GKE cluster is being edited.

At this point, this is an upstream API error (i.e. a Composer issue, not a Terraform one) and likely a temporary timing issue. I can file a bug against the upstream API to handle issue

[2020-06-17 18:46] #6579 closed

[2020-06-17 19:10] emilymye commented on #5681
I'm curious whether this is just a eventual consistency error - I'd be curious to see whether it's really a random issue where the rule doesn't even get added, or if waiting on the rule to exist after creation will solve this. I'll add a PR for that.

[2020-06-17 19:17] koalaty-code opened #6623 "Add support for Retry Policy property when creating PubSub Subscription"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-17 19:29] kikuingithub commented on #6579
Hi,

Yes please .. do raise a bug against the upstream API and share the details
here so that i can follow up on it.

Once again, Thanks for all your help !!

Thanks,

On Thu, Jun 18, 2020, 12:16 AM emily <notifications@github.com> wrote:

[2020-06-17 19:31] #6577 closed

[2020-06-17 19:33] emilymye commented on #6213
@megan07 I'm going to assign this to you just because I can't access the PGP logs and may not be here to handle this after

@aaad This is a bit hard to debug since I can't recreate it. If you could try and let us know the outcome for the following situations, that would be very helpful:

- same config on a newer provider
- disk_config is set and service_account_scopes are NOT set
- disk_config is

[2020-06-17 19:35] emilymye commented on #5738
Marking this as a persistent-bug because it requires determining what resources/errors should be waited upon, or if we need to add a sleep to a resource. I'd be hesistant to actually wait on the 403 since there are real 403s that shouldn't eat quota.

[2020-06-17 19:36] #6614 closed

[2020-06-17 21:26] edwardmedia commented on #6483
All `self_link` for resources in examples are replaced with `id`.

[2020-06-17 21:26] #6483 closed

[2020-06-17 21:53] AnirudhaS opened #6628 "Add retries for operations to account for intermittent network issues"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-17 22:34] #3657 closed

[2020-06-18 08:52] aaad commented on #6213
I can not reproduce the behavior anymore.

[2020-06-18 12:18] Hmerac opened #6634 "Add support for advanced routing rules for External HTTP(s) Load Balancers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-18 14:58] salrashid123 commented on #5669
@dinvlad correct, you can even [exchange google id tokens for AWS native ones via STS](https://github.com/salrashid123/awscompat) but thats a separate thing.  If there's need, maybe a 'helper'  datasorce that does this exchange as a separate module somewhere.

[2020-06-18 15:21] salrashid123 opened #6635 "google_container_registry_image should provide actual image data"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-18 15:27] kornface13 opened #6636 "Autoscaler scale-in support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-18 16:41] dinvlad commented on #5669
Exactly, that's what we do!

[2020-06-18 16:51] JoshuaEdwards1991 opened #6637 "Data Source "google_compute_managed_ssl_certificate" is missing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-18 17:01] emilymye commented on #6213
Oh, ok! I'll close the issue then

[2020-06-18 18:08] emilymye commented on #5681
(hopefully) fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/3663 which will most likely get released in 3.28.0

[2020-06-18 18:08] #5681 closed

[2020-06-18 18:11] ndmckinley opened #6640 "Remove manual step for using cloudsql CMEK."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-18 21:56] emilymye commented on #6603
I can't seem to recreate this issue with a function + connector, updating the URL seems to be working fine for me. It might be helpful to see debug logs or the log from the successful gcloud update (`gcloud --log-http ...`) request to see if/how the successful request differs, but it's likely something related to your Org policies that's causing this issue and I'm not sure we have the background w

[2020-06-18 21:59] emilymye commented on #5262
We added [documentation](https://github.com/GoogleCloudPlatform/magic-modules/commit/52f4ca13f427dfffbc6ce59a601f52bdb912f828#diff-db3306666058109f5d1b00ac5648ffd4) to schema but the actual schema diff-suppress/comparison is an issue that I'm not sure is worth fixing unless we switch client libraries

[2020-06-18 22:00] #5262 closed

[2020-06-18 22:19] #6499 closed

[2020-06-18 23:29] gogasca commented on #5879
PR [#3620 ](GoogleCloudPlatform/magic-modules#3620)was merged today!

[2020-06-19 00:08] #5879 closed

[2020-06-19 15:46] tishen25 commented on #6495
Starting to work on this issue.

[2020-06-19 22:29] martinmaly opened #6652 "GKE cluster gets destroyed on update if using workload identity without node_metadata"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-20 21:00] yashsaini77 commented on #4449
@danawillow can you please tell me can I transfer BQ scheduled queries from one project to another is it possible with the same terraform config available on the tf docs if yes then in the params block we will need some kind of variable like source_project but it is not anywhere in tf docs please help to provide some clarity

[2020-06-21 07:18] vladimirfaile commented on #6617
a must have - for me too

[2020-06-22 07:37] jambt commented on #6603
I ran both commands in debug mode. There is a clear difference that `gcloud deploy` repeats all parameters while Terraform only gives the parameters that are to be changed (url in this case).

Please see the output below:
Terraform (output manually formatted for anonymization and better readability):
[code]

gcloud
[code]

Might the Org Policy
 * Require VPC Connector (Cloud Functions) - constrain

[2020-06-22 16:21] danawillow opened #6656 "Dataflow flex templates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-22 17:17] emilymye opened #6657 "Fix flaky TestAccComputeGlobalForwardingRule_internalLoadBalancing test"
On and off failures - my hunch is it's related to default ports and that setting a different port for different FR tests will fix this

The error:
`Error: Error creating GlobalForwardingRule: googleapi: Error 400: Invalid value for field 'resource.IPAddress': '0.0.0.0'. Duplicate IP:port 0.0.0.0:80-80, invalid`

[2020-06-22 18:03] slevenick commented on #6074
Closing, I added a note on this behavior to the client resource. Fully configuring the client is not possible via the API, and must be done manually.

[2020-06-22 18:03] #6074 closed

[2020-06-22 18:24] megan07 commented on #6617
Hi @mikida12 and @vladimirfaile!  Thanks for the feature request. I just want to clarify what you're looking for, are you looking for more filter options on the `google_compute_node_types` data source? Similar to the `filter` parameter [here](https://cloud.google.com/compute/docs/reference/rest/v1/nodeTypes/list)?

[2020-06-22 18:24] emilymye commented on #3558
As is, you can use a service account key instead of an `google_service_account_access_token` and provide it as the `credentials` field.

I do also see the benefit of not requiring a local key/exposing that potentially in state. We could treat this as a datasource that just calls iam.SignBlob on a URL for the provider credentials, instead of trying to use a local private key.

If we added a `servic

[2020-06-22 18:32] edwardmedia commented on #6652
Keep showing `Plan: 1 to add, 0 to change, 1 to destroy.` even no changes are added

[2020-06-22 19:39] danawillow commented on #4449
Hi @yashsaini77, that sounds like a different question than what this specific issue is for. To answer your question though, most GCP resources can't be transferred between projects. Do you see anything in the GCP docs at https://cloud.google.com/bigquery/docs/scheduling-queries that says it's possible? If so, I'd recommend opening a new FR here, but I'm doubtful that it is. As a reminder, the par

[2020-06-22 20:17] salrashid123 commented on #3558
i don't think you an just use the service account name field alone to do this since the actual API could potentially several additional parameter for it to work (eg if the impersonation requires chained delegation, you wouln't know which ones to supply in request

[2020-06-22 21:11] danawillow commented on #6635
GCR doesn't have an API for reading image information. Instead, it uses the Docker Registry API (https://cloud.google.com/container-registry/docs/reference/docker-api). I'd recommend, then, using the [Docker provider](https://www.terraform.io/docs/providers/docker/index.html) instead.

[2020-06-22 21:11] #6635 closed

[2020-06-22 21:31] yashsaini77 commented on #4449
Thanks, much @danawillow  I checked we can't transfer the bq scheduled queries from one project to another.
Another concern is about the service_account_name parameter that we are talking here about. Does that parameter's value will be the email of the service account and is it officially used now ?

[2020-06-22 21:48] danawillow commented on #4449
Yup, here's the docs: https://www.terraform.io/docs/providers/google/r/bigquery_data_transfer_config.html#service_account_name.

I don't think we have an example in the docs but we do have a test you can look at: https://github.com/terraform-providers/terraform-provider-google/blob/f661c5ba9dc57107082926bd28b8b39a478c27ff/google/resource_bigquery_data_transfer_config_test.go#L184-L220

[2020-06-22 23:36] universalvishwa opened #6658 "Terraform tries recreating the SSL cert everytime due to domain name mismatch"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-23 01:53] salrashid123 commented on #6635
ok,  guess th'll need docker running werever terrform run but for ref

https://roidelapluie.be/blog/2019/04/22/docker-gcp-terraform/

[code]

[2020-06-23 05:43] jambt commented on #6603
I opened a [bug ticket with google](https://issuetracker.google.com/issues/159561771). They pointed out that the requests made by the provider is not according to the specification of the [patch call](https://cloud.google.com/functions/docs/reference/rest/v1/projects.locations.functions/patch) since the request body should contain a complete [CloudFunction](https://cloud.google.com/functions/docs/

[2020-06-23 06:23] tama1214 opened #6659 "Google Cloud VPC Peering Issue"
### Current Terraform Version
Terraform v0.12.17

### Public Cloud Provider
provider.google-beta: version = "~> 3.26"

#### Description of the issue
I am trying to install VPC Peering between networks belonging to different GCP projects ("HUB VPC Project" and "Spoke VPC Project"). But I can’t do this  - get the following error:

[code]
The error occurs because the Terraform script is executed usin

[2020-06-23 07:02] krackjack29 commented on #3037
Hi Guys, has there been any updates on the automl terraform resource.

[2020-06-23 08:04] mikida12 commented on #6617
@megan07 I think so but I don't see an example that could verify this 100%. When I create a node template from GCP console, there are 3 options (c2-node-60-240, m1-node-96-1433, n1-node-96-1433) but I don't see anywhere I can specify this in TF, so it can only create c2-node-60-240 template by default. I can't create a node template for the other 2 machine types - and this is the functionality I a

[2020-06-23 11:57] joscabmar commented on #6260
I am having the same issue. I always get suggested changes like:
[code]
or:
[code]
In my TF code I used:
[code]

[2020-06-23 12:23] zmeggyesi commented on #6596
Quite coincidentally, for about eight days now, I've been seeing a related error whenever I try to terraform a firewall configuration.

Consider the following configuration:

[code]
Applying this yields the error `Error updating Firewall "permit-https": googleapi: Error 400: Invalid value for field 'resource.logConfig': '{  "enable": false}'. Logging for this firewall rule must be enabled to toggl

[2020-06-23 14:14] singh-ashutosh1 opened #6661 "GCP Monitoring Dashboard Creation in Workspace"
I am planning to create a dashboard in monitoring workspace but not sure to which project i should provide access of Monitoring.editor.

Scenario:
Resources in project x-y-z
Monitoring Workspace project a-b-c

https://www.terraform.io/docs/providers/google/r/monitoring_dashboard.html

For above module what would be the project id to which we need to provide access?

If you have a support request o

[2020-06-23 14:42] megan07 commented on #6617
@mikida12 I think there are two examples on how you can do this. One is already possible, the other is what I'm referring to above (we'd have to implement)

Current option (you can hard-code `node_type` to be whatever you'd like)

  name      = "terraform-test-tmpl"
  region    = "us-central1"
  node_type = "n1-node-96-1433"
}

Second option (we'd need to implement)

  zone = "us-central1-b"
  cpu

[2020-06-23 15:16] lwsanty opened #6662 "Cloud Functions -> pubsub triggered function update leads to unexpected build error reffering to http triggered type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-23 16:35] lwsanty commented on #6662
https://issuetracker.google.com/issues/159608139

[2020-06-23 16:37] Eraac opened #6663 "Create secondary_ip_range without compute_subnetwork"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-23 16:55] edwardmedia commented on #6658
@universalvishwa I ran below code and can't repro your issue. It does not show difference after initial apply. Your error complains related to `google_compute_target_https_proxy`which is not listed here.  Can you post all code so I can repro the issue?

[code]

[2020-06-23 17:46] edwardmedia commented on #6659
@tama1214 you can create a service account with organizational level permissions like Organization Administrator, which has access to different projects within the org. Here is a link you may want to review.
https://cloud.google.com/resource-manager/docs/creating-managing-organization

[2020-06-23 17:58] edwardmedia commented on #6661
@singh-ashutosh1 I am not sure if I understand what your question. Below is the link to GCP Dashboard. If you want to know what project, you may want review GCP **Resource hierarchy**  to decide. I am closing this issue. Feel free to reopne the issue if you have Terraform Google Provider issues

https://cloud.google.com/monitoring/dashboards
https://cloud.google.com/resource-manager/docs/cloud-pla

[2020-06-23 17:58] #6661 closed

[2020-06-23 18:04] #6363 closed

[2020-06-23 18:04] #5521 closed

[2020-06-23 18:04] #6636 closed

[2020-06-23 21:29] anubbhavm opened #6665 "Services 'profiler.googleapis.com' and 'eu-automl.googleapis.com' are not supported by VPC-SC perimeter resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-23 21:54] venkykuberan commented on #6662
@lwsanty I am able to deploy the cf without any errors. Infact tried the same config in https://issuetracker.google.com/issues/159608139. Can you please share your debug logs to understand more ..

sample config
[code]

[2020-06-23 22:33] billyfoss commented on #2570
Are there any recommended workarounds?
I'm seeing this when trying to rename secondary cidr ranges for GKE clusters.

I'm using the following versions
[code]

I even tried to manually delete the secondary ranges, but Terraform was seeing the state and still tried to remove the secondary ranges in the same request.

[code]

[2020-06-23 23:42] c2thorn commented on #5738
Reached out to the ACM team for assistance as a long-running operation from the API would be ideal here.

[2020-06-24 00:21] akumar-lbg commented on #6466
Hi @edwardmedia , I've not included the actual config and was a typo. Its about the number of IPs which can be defined per rule. If I use `src_ip_ranges = ["192.168.1.1","192.168.1.2","192.168.1.3","192.168.1.4","192.168.1.5","192.168.1.6"]` i get the issue with limit and quota.
We still have a workaround to create new rules with policy, but wanted to check if this is limitation to tf provider onl

[2020-06-24 00:33] michaelneale commented on #6662
I can reproduce this even without terraform: https://github.com/michaelneale/func-deploy-failure

[2020-06-24 06:32] mikida12 commented on #6617
Thanks for the detailed answer @megan07 .
I tried 2 approaches, but both failed:
1.  specifying node_type = "n1-node-96-1433" is not working:
`Error: Error creating NodeGroup: googleapi: Error 404: The resource 'projects/solebit-dev/zones/us-central1-c/nodeTypes/n1-node-96-1433' was not found, notFound`
2. when I tried to specify node_type = data.google_compute_node_types.node-zone[0].names[2] ->

[2020-06-24 07:08] fpopic opened #6676 "Add support for BigQuery hourly time partitioning"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-24 07:10] fpopic commented on #6676
Disclaimer: Would like to contribute with [PR](https://github.com/terraform-providers/terraform-provider-google/pull/6675/files), but totally fresh with terraform and not even Go dev.

[2020-06-24 08:23] steven-edgar opened #6677 "google_project throws "Error reading Project" when project is deleted in GCP but state still present"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-24 10:39] grzebis1 opened #6678 "WINDOWS image families do not support metadata concealment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-24 10:56] mavaa commented on #6662
Just ran into this myself. It seems to be happening when there's a vendor folder present AND runtime is go113. If I set runtime to go111 OR publish something at as go113 without any dependencies/vendor folder it works perfectly.

[2020-06-24 12:50] #4583 closed

[2020-06-24 13:38] caleonardo opened #6679 "Unable to link project with Billing Account"
*Issue creating Projects in Terraform*

Hi team, I was running into an issue while creating a new project.

I thought it was permissions related, but I had all the permissions needed.

[code]

The problem was on how I login using gcloud.

*Solution:* I was using 'gcloud init --skip-diagnostics' to configure the gcloud credentials. But the right way of doing it `gcloud auth application-default logi

[2020-06-24 13:38] #6679 closed

[2020-06-24 14:27] anubbhavm opened #6680 "Supporting a wildcard capability so we don't have to explicitly add new services as they become available to google_access_context_manager_service_perimeter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-24 14:38] megan07 commented on #6617
Hi @mikida12!  I took a look - it looks like node-type `n1-node-96-1433` is not available in `us-central1-c`. I'm sure this is documented somewhere, but I did a quick manual lookup in the "Try this API" [here](https://cloud.google.com/compute/docs/reference/rest/v1/nodeTypes/list) specifying the project and zone.
It looks like for `us-central1-c` you can use `n1-node-96-624`, `n1-node-96-624`, or

[2020-06-24 16:26] edwardmedia commented on #6634
@Hmerac Can you see if below code works for you?
[code]

[2020-06-24 16:48] #3479 closed

[2020-06-24 16:57] #6214 closed

[2020-06-24 17:18] universalvishwa commented on #6658
@edwardmedia, Here is the actual code that I am sure will reproduce the problem.

[code]

[2020-06-24 17:26] c2thorn opened #6683 "Allow google_compute_instance_group_manager to resume operation after interruption"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-24 17:28] edwardmedia commented on #6665
@anubbhavm   can you try **cloudprofiler.googleapis.com**,  and **automl.googleapis.com** instead? **eu-automl.googleapis.com** is listed beta. I can't find it available besides the doc you linked.  This appears beyond the control of `Terraform Provider Google`, I am closing this issue. Please feel free to reopen it if you still have questions

[2020-06-24 17:28] #6665 closed

[2020-06-24 17:53] edwardmedia commented on #6658
I do see now the plan shows the differences. Thank you, @universalvishwa

[2020-06-24 17:56] edwardmedia commented on #6634
@Hmerac examples are added https://github.com/terraform-providers/terraform-provider-google/issues/6340

[2020-06-24 18:00] MitchellBot opened #6684 "Invalid target type for forwarding rule"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-24 18:22] edwardmedia commented on #6678
@grzebis1 can you share your full debug log?

[2020-06-24 18:45] lbordowitz opened #6686 "Add a sign JWT resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-24 19:22] rileykarson commented on #6268
fwiw, copy-paste of my thoughts from inside that bug:

[2020-06-24 19:23] venkykuberan commented on #6662
@lwsanty its an upstream issue not related to terraform/provider, i am closing it here as its been tracked elsewhere. Please reopen if you feel otherwise.

[2020-06-24 19:23] #6662 closed

[2020-06-24 19:31] jsoref opened #6688 "Error: Error when reading or editing Dataset: googleapi: Error 400: Dataset gcp-project-name:test_cluster_dataset is still in use, resourceInUse"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-24 20:00] danawillow commented on #2570
I think the best workaround at the moment is just to `terraform apply` multiple times (once for deletions, once for additions, with the assumption that a modification is a deletion followed by an addition).

I filed an upstream issue (b/159828937 for googlers who wish to follow along) to see if that restriction could be removed on the API side.

[2020-06-24 20:24] Hmerac commented on #6634
I actually tried to apply the same logic with GCP provider version of v3.25.0, that's how I got the error.
I should've pointed that out in the description, sorry.

[2020-06-24 23:22] grzebis1 commented on #6678
https://gist.github.com/grzebis1/27f7e3138cdcf353f69286f063715e71

[2020-06-25 02:02] grzebis1 commented on #6678
@edwardmedia I think the error maybe a red herring, I just worked out that workload identity has been switched on for the cluster which is not supported but Windows Node Pools so this maybe why I'm getting that error.

[2020-06-25 08:21] gwendal-lecren opened #6692 "Running into issue while trying to create a composite index"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-25 09:01] benv666 commented on #3479
Note sure if this should be a new ticket instead, but the datasources (as mentioned in the issue description) still seem to be unimplemented.
Since we're using an external AD group sync we would like to iterate over the members of existing groups, but since they are not managed in terraform it would be great to have datasources to get a list of groups and their members.

[2020-06-25 10:40] LoekL opened #6693 "BigQuery Table Hive Partitioning not Working with Explicit Schema (autodetect=false)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-25 11:35] marengaz opened #6694 "bigquery slot commitments"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-25 11:47] hallvors opened #6695 "Regression: can't set up a www -> no-www redirect now, used to work in 3.25.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-25 11:55] ffung commented on #6693
@LoekL it would help if you could run this with `TF_LOG=debug terraform apply` and `bq --apilog "" mk ...` so we can compare the payloads and investigate further.

[2020-06-25 13:44] edwardmedia commented on #6678
@grzebis1 I am glad you have figured it out. Closing the issue then.

[2020-06-25 13:44] #6678 closed

[2020-06-25 14:28] edwardmedia commented on #6634
@Hmerac do you want to share your debug log if above code does not work for you?

[2020-06-25 14:28] LoekL commented on #6693
Dropped a table & then:
[code]

Other one:

[code]

[2020-06-25 14:30] dpatrick opened #6696 "Mark google_secret_manager_secret_version.secret_data field as sensitive"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-25 15:01] venkykuberan commented on #6688
@jsoref did the retry of `terraform destroy ` worked ?

[2020-06-25 15:15] jsoref commented on #6688
Sorry, I don't understand what you mean.

running `terraform apply` and then `terraform apply` again doesn't improve things. I've been trying to delete this thing for days.

[2020-06-25 15:42] edwardmedia commented on #6695
I do see behavior changes

[2020-06-25 15:49] universalvishwa commented on #6658
@edwardmedia @c2thorn , is there any chance that you can confirm if this is a clear bug or not. I'm somewhat blocked on a project I'm working on without clarity. To me it seemed like bug that can be fixed. I would be grateful if you can confirm. Thanks.

[2020-06-25 16:24] SarbajitRath opened #6697 "Conditional IAM resulting into duplicate roles (one with condition and one without condition created during enabeling API)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-25 16:59] edwardmedia commented on #6693
@ffung It appears `CUSTOM` has not been implemented in the https://github.com/GoogleCloudPlatform/magic-modules/pull/3335. Do you want to finish that? Thanks

[2020-06-25 18:08] #6340 closed

[2020-06-25 18:32] venkykuberan commented on #6688
The reason for asking to rerun the destroy command to check if retry mechanism helps.

My understanding is that you are trying to rename the cluster, if so you don't have to run the destroy command, just change the name of the cluster and run the `terraform apply`. It will do the force destroy and recreate the cluster with the new name.

P.S. - Please just share the problematic config, It would be

[2020-06-25 18:43] c2thorn commented on #6658
Hi @universalvishwa
This certainly seems like unintended behavior and can most likely be solved by suppressing differences in the provider when the domain is read with an extra period. I'll be looking into it further today.

[2020-06-25 18:53] danawillow commented on #6542
Closing as per offline discussion.

[2020-06-25 18:53] #6542 closed

[2020-06-25 19:01] jsoref commented on #6688
What we've done is rename the cluster (in terraform), it successfully performs all the other steps (deleting the cluster, creating the cluster, creating the new dataset), it just fails with the delete.

[2020-06-25 19:18] #6495 closed

[2020-06-25 19:33] #6676 closed

[2020-06-25 21:19] c2thorn commented on #6658
@universalvishwa
Turns out there was already diff suppression in place that was intended to catch this issue, but fails because it doesn't account for multiple domain names. A fix should be ready soon, but will likely not be released for about a week and a half.

I'm not sure if this would be a viable workaround for you, but you may be able to quickly get around this error by splitting up your IPv

[2020-06-25 22:00] c2thorn commented on #6584
Looking at the api.yaml file that generated the docs, blocks like `request_headers_to_add` appear in several different fields legitimately and even have differences in them (like Required vs Optional) that would be good to point out. The generated documentation is pretty confusing though, I think better marking or navigation would be better by providing the attribute tree:

`google_compute_url_map

[2020-06-25 22:56] viyh commented on #6531
+1, the log bucket is critical if all users are not able to be given IAM project-level viewer permissions.

[2020-06-26 06:52] bharathkkb commented on #3820
I was able to fix a similar issue where I was receiving
[code]
 based on comment https://github.com/terraform-providers/terraform-provider-google/issues/3820#issuecomment-573665424 part 1 by explicitly enforcing dependency.

[2020-06-26 07:33] ffung commented on #6693
if you look at the `bq` payload, `autodetect` is set to `true` in this case instead of `false` for the `terraform` payload, can you rerun using `bq` with autodetect set to `false` and see if this also correctly creates the table?

Besides that I currently don't see any differences between the `terraform` payload and the `bq` one.

[code]

[2020-06-26 08:22] LoekL commented on #6693
@ffung see first post, [bq mkdef](https://cloud.google.com/bigquery/docs/reference/bq-cli-reference#bq_mkdef) seems to always set this to `true`, even if `--autodetect` isn't passed. That said, I've tried setting it to `false` and removing it altogether, each work.

#### Using `"autodetect": false`

[code]

<img width="300" alt="Screenshot 2020-06-26 10 16 57" src="https://user-images.githubuserco

[2020-06-26 08:28] LoekL commented on #6693
I also just tried adding `"compression": "GZIP",` to the `bq` definition file (for which `bq mkdef` does not have an option yet) and using `bq mk ...`, again works.

[2020-06-26 08:41] benv666 opened #6704 "Cloud Identity Group datasources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-26 09:24] rybus commented on #6596
The only workaround I found was to enable manually through the UI for this to work... Not ideal at all unfortunately.

[2020-06-26 09:29] zmeggyesi commented on #6596
@rybus Well yes, the UI works.

However, we're both using Terraform to avoid having to use the UI. Currently, Terraform is not suitable for controlling the GCP Firewall settings.

[2020-06-26 09:30] ffung commented on #6693
@LoekL thanks for the info, I had a closer look at the payloads and there's a difference, `bq` uses the nested `schema` object in `externalDataConfiguration` instead of the toplevel one, apparently this is only applicable for CSV and JSON. I'll see if I can try to create a fix for this this, but no guarantees, we don't make use of this and this is not my day-job ;-).

[2020-06-26 11:44] LoekL commented on #6693
I see, so it should work if we move `schema = ...` into the `external_data_configuration {}` block? When I try this now I get `An argument named "schema" is not expected here.` Fingers crossed for the fix 🤞

[2020-06-26 12:21] ffung commented on #6693
yes, the terraform schema for `external_data_configuration` doesn't support the `schema` field yet.

[2020-06-26 12:38] Hmerac commented on #6634
@edwardmedia I cannot reproduce the same case now because we've proceeded with Istio to do the header-based routing. But, as far as I remember the only error we received was:

`Advanced routing rules are not supported for scheme EXTERNAL, invalid`

Which I believe is quite understandable, looking at the terraform docs for `google_compute_url_map` for `route_rules`:
https://www.terraform.io/docs/pr

[2020-06-26 13:36] Pritilender commented on #5359
This is also a problem with creating Firebase projects, where new Firebase project creates a service account for Admin SDK. The email for the created service account has following format `firebase-admin-${RANDOM_5_CHAR}@${PROJECT_ID}.iam.gserviceaccount.com`. The problem is how to know this 5 random characters that are added because of email clash on GCP level.

A new data source that would be use

[2020-06-26 13:47] jackivanov commented on #4844
Any progress on this one?

[2020-06-26 15:09] LudovicTOURMAN commented on #1938
June 2020, I still encountered this issue :roll_eyes:

I used to hack it by adding the md5 sources as bucket file prefix such as `gs://my-bucket/cloud-functions/my-function.zip#a1b2c3d4e5f6`.

Cons for this is that previous archives are not deleted and depending on your sources size, it could have a cost in duration.
But currently, it works.

Here is an example:
[code]

Hope that resource `google_

[2020-06-26 15:23] imrannayer opened #6705 "google_binary_authorization_attestor is not accepting EC_SIGN_P256_SHA256 as valid algorithm"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-26 15:59] dinvlad commented on #1938
Yeah we do that too now, and even turned on lifecycle policy for the archive bucket so the old archives get deleted after 1 day!

[2020-06-26 16:03] dinvlad commented on #1938
The only caveat here is some CIs (e.g. Google Cloud Build) mess up permissions on the files to be archived, so one may need to fix them before running this (we do that via an `external` script inside the TF template).

[2020-06-26 16:17] edwardmedia commented on #6634
@Hmerac routeRules should work for External load balancers now. The doc is out of date, and we are going to update it. I am closing this issue. Please feel free to reopen it if you see the error `Advanced routing rules are not supported for scheme EXTERNAL, invalid` again. Thanks

[2020-06-26 16:17] #6634 closed

[2020-06-26 16:29] p4309027 commented on #1938
Tried with terraform `timestamp()` instead of `base64sha256` , it worked fine, but this is not right way, HashiCorp should come up something like `source_code_hash` for Cloud Functions too

[code]

[2020-06-26 17:30] edwardmedia commented on #6692
@gwendal-lecren can you provide the full debug log which contains the API's Request & Response? Thank you

[2020-06-26 17:32] dinvlad commented on #1938
@p4309027 I think `data.archive_file.function_archive.output_md5` actually solves this problem in this case.

[2020-06-26 17:50] dlorch opened #6706 "Cloud Run Deployment not updating when Docker image changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-26 18:05] venkykuberan commented on #6688
I am able to repro it, however i don't think its a provider/terraform issue. Its more of an upstream issue as i get the same error when i hit API directly - https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets/delete. I am not sure its a cache issue on the API side.

[code]
If this is one time activity it can be mitigated by deleting the dataset on the console and run `terraform destr

[2020-06-26 19:46] megan07 commented on #6704
Hi @benv666 !  Sorry, I didn't see you had opened this - I had started working on the datasources yesterday and was hoping it wouldn't take me as long as it did, but alas, I've got the PR out for them.  I didn't make the group singular, I misunderstood that that's what you were looking for. Let me know if this will work or if you need a singular resource for `google_cloud_identity_group`. Thanks!

[2020-06-26 20:15] jsoref commented on #6688
I think the problem is that `delete_contents_on_destroy` isn't set.

This is [technically documented](https://github.com/terraform-providers/terraform-provider-google/blob/29e553119f238bcf91113ca010a29d8b4ef1cc86/website/docs/r/bigquery_dataset.html.markdown#argument-reference):

Offhand, I think the error should basically suggest adding it. I claim the current user experience is user hostile.

[2020-06-26 20:33] venkykuberan commented on #6706
Terraform isn't aware of changes happening in the image repository, the config has to reflect that. When there is a change in the config terraform picks the diff and tries to the inplace update for the resource. Just added plan output for reference.

[code]

[2020-06-26 20:44] dlorch commented on #6706
Thank you for reviewing the issue. Yes, I understand that. The use case I have is: `terraform apply` is executed each time my project's repository is `git push`-ed. The project repository consist of both the application code and the terraform manifests. If there are changes in the application code, the Docker image will be re-built, but the new application version will __not__ be re-deployed to Cl

[2020-06-26 20:47] mcrmonkey opened #6711 "app_engine_flexible_app_version `service` should be a required field or have a default value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-26 21:56] edwardmedia commented on #6684
@MitchellBot  can you post the **plan** before the 2nd apply which generates the error?

[2020-06-26 22:27] fhut opened #6713 "google_endspoints_service config_id output variable inconsistent final plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-06-26 22:28] c2thorn commented on #6688
Hi @jsoref
Thanks for the feedback and sorry about your experience. Usually we just pass the error through, but this may be a good candidate for wrapping the error message with a suggestion. I'll close the issue for now, since adding the field does `delete_contents_on_destroy` solve the issue when reproducing.

[2020-06-26 22:28] #6688 closed

[2020-06-26 22:33] #6658 closed

[2020-06-26 22:53] emilymye commented on #6619
This is a weird crash I didn't get around to figuring out, passing to this weeks on-duty

[2020-06-26 23:00] emilymye commented on #6603
I labeled this as an persistent bug to hand off to someone.

It looks like we'll need to change the update logic to operate more like a regular (non-partial?) update operation, but I don't think I have the time to also confirm that this allows for patching more than one field at a time or other potential weird update behavior, considering this PATCH doesn't work as expected.

[2020-06-26 23:16] #6652 closed

[2020-06-26 23:44] emilymye commented on #3820
It seems like this issue is now related to many different things. The original issue seems to be related to adding explicit dependencies and managing the root user in Terraform (given that Terraform should delete the root user upon instance creation unless on a replica instance). I'm going to close this issue and ask that @JlUgia and other folks open a new issue to discuss ways in which we can man

[2020-06-26 23:44] #3820 closed

[2020-06-27 00:14] venkykuberan commented on #6705
It looks to me API isn't accepting that format although i see it on their docs https://cloud.google.com/kms/docs/reference/rest/v1/CryptoKeyVersionAlgorithm. Provider don't have any validation for that attribute, it just pass on to API. Also I am able to create the resource with RSA_** format.  Please report the issue against the API.

[2020-06-27 00:14] #6705 closed

[2020-06-27 11:37] benv666 commented on #6704
Hi @megan07! Awesome!
The data source for group does not need to be singular - in fact, this probably makes more sense.
I'll give it a try on monday, thanks!

[2020-06-27 12:37] #6268 closed

[2020-06-29 13:58] megan07 commented on #6704
Hi @benv666!
Great question, I struggled through this a bit too. I chose the `GROUP_ADMIN` role that's listed here https://support.google.com/cloudidentity/answer/2405986?hl=en. If you follow these links it should show you how you can assign it to your service account with the Admin API.

[2020-06-29 15:13] ffung commented on #6693
@LoekL https://github.com/GoogleCloudPlatform/magic-modules/pull/3717

[2020-06-29 15:33] benv666 commented on #6704
Hi @megan07!
Thanks for the link, jumped through some hoops to get access on admin.google.com (why is this not possible from inside GCP -- GSuite is entirely unused as far as we're concerned), but so far we've been unable to add a service account as admin. How did you manage to do that?
Even with the gserviceaccount.com domain as whitelisted domain it seems impossible to assign group admin to anyt

[2020-06-29 16:02] syedrakib commented on #6066
Reviving this issue. Faced it again today after a long time 😭😭😭

The error being reported now is

[code]

Terraform version: **0.12.28**
Google provider version: **3.27.0**

[2020-06-29 16:20] gwendal-lecren commented on #6692
@edwardmedia Here is the [link](https://gist.github.com/gwendal-lecren/4579d9443a20296744e7ee1c0f1c9b2f) to the output I get

[2020-06-29 17:19] edwardmedia commented on #6713
@fhut  Can you repro the **inconsistent** error by removing `null_resource`?  I can see the output **config_id** is just fine. The error happens on `null_resource`. There is nothing to do with `google_endpoints_service`. Let me know if this makes sense to you?

[2020-06-29 17:53] edwardmedia commented on #6692
@gwendal-lecren do you see `POST` and/or `PATCH` in the log?

[2020-06-29 17:56] edwardmedia commented on #6684
@MitchellBot I don't know a simpler way  to sanitize a plan

[2020-06-29 18:27] megan07 commented on #6704
Hi @benv666! Admittedly I didn't read through that link, sorry. It sounds like there isn't any public-facing documentation on this, so I will summarize what I did.
1. I logged into the project I have my service-account in and noted it's "Unique ID"
2. I went to this [API explorer link](https://developers.google.com/admin-sdk/directory/v1/reference/roles/list?apix_params=%7B%22customer%22%3A%22my_c

[2020-06-29 22:09] ndmckinley commented on #6619
Hi,

Sorry, but with terraform 0.12.24 I can't reproduce. I'm going to try again with 0.12.28.  Are you getting this 100% of the time?  If so, can you share the variables you're using or anything else I ought to know about your environment?

[2020-06-29 22:24] ndmckinley commented on #6619
I also can't reproduce with 0.12.28.  The variables I am using are the defaults listed here:

[code]

[2020-06-29 22:25] ndmckinley commented on #6619
Since I can't reproduce, I'm going to close this - please let me know if you still have this issue - and what variables it happens with - and I'll reopen.

[2020-06-30 06:45] dlorch commented on #6706
Here's an idea on how Terraform could handle this situation: given an image definition like "gcr.io/cloudrun/hello:latest", Terraform could transparently look up the "latest" tag and store the respective digest in its own state file. On subsequent runs, Terraform would then discover that the underlying image has changed and do the right thing.

[2020-06-30 06:55] gwendal-lecren commented on #6692
@edwardmedia Yes I do. This seems to be the POST request executed in order to create the index (returning a 200):
2020-06-29T18:03:32.461+0200 [DEBUG] plugin.terraform-provider-google_v3.18.0_x5.exe: ---[ REQUEST ]---------------------------------------
2020-06-29T18:03:32.461+0200 [DEBUG] plugin.terraform-provider-google_v3.18.0_x5.exe: POST /v1/projects/<PROJECT_ID>/databases/(default)/collectio

[2020-06-30 11:14] benv666 commented on #6704
Hi @megan07!

Thanks again for your explanation -- at first we could not find the _GROUPS_ADMIN_ROLE in the response, so we decided to create a new role, which did show up in the response.
After adding the RoleAssignment it works as expected, currently tested it like this to generate a map of members per group:
[code]
which generates something like:
[code]
Thanks again!

[2020-06-30 11:14] #6704 closed

[2020-06-30 14:33] edwardmedia commented on #6692
@gwendal-lecren Thanks for the log. I think you have identified what causes the problem. As you can see, the resource name was truncated and certainly the truncated name can't be found. This is beyond what TPG can do. Instead of encoding it by yourself, I would suggest follow the GCP's naming conventions.  Please let me know if this helps address your issue.

`/collectionGroups/blendeez#auditLog/i

[2020-06-30 14:35] edwardmedia commented on #6659
@tama1214 Is this still an issue?

[2020-06-30 14:45] gwendal-lecren commented on #6692
@edwardmedia Thank you very much, I guess I'm running into the same issue while trying to import it into my tf state as well.

[2020-06-30 14:57] pmiles01 opened #6718 "google_compute_network has no way to set flow logs on auto_create_subnetworks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-30 17:05] chrisboulton opened #6719 "Add support for configuring disk resource policies for google_compute_instance_template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-30 17:48] #6711 closed

[2020-06-30 19:29] fhut commented on #6713
The issue occurs in exactly the same way if I replace
[code]
with
[code]
I believe that the fact that terraform core misattributes the inconsistent final plan to the dependent resource (`null_resource` or `google_storage_bucket`), rather than attributing it to the `google_endpoints_service`, is a separate issue in terraform core, it also says in the debug log:
[code]

[2020-06-30 19:37] edwardmedia commented on #6692
@gwendal-lecren if you rename the `collection` with plain string, do you still see the problem?

[2020-06-30 19:55] c2thorn commented on #6706
Hi @dlorch,
You have a totally reasonable viewpoint, and I believe there is a way to get what you need. See: https://github.com/terraform-providers/terraform-provider-google/issues/6635

`google_container_registry_image` is completely offline because GCP doesn't provide a way to read docker info. Essentially, you'll want to use the [docker provider](https://www.terraform.io/docs/providers/docker/d

[2020-06-30 19:55] #6706 closed

[2020-06-30 21:18] edwardmedia commented on #6684
@MitchellBot Can't you get the `plan`, and then manually replace the sensitive data with something else, like you did for the log?

[2020-06-30 22:45] #6695 closed

[2020-06-30 22:46] c2thorn commented on #6695
@hallvors thanks for pointing this out! It was unintended behavior, and should be resolved in the next patch.

[2020-06-30 23:26] #6713 closed

[2020-06-30 23:27] ndmckinley commented on #6713
Hi there - this is a terraform core issue that we can (sometimes!) work around.  This workaround is imperfect but it will be right _most_ of the time.  If you find that this issue is recurring often after the next release (as of next monday), please refile the issue.

One thing that will trigger this issue to recur is if you trigger an update from Terraform while a rollout (not managed by Terrafor

[2020-06-30 23:42] sherifkozman commented on #5539
Has there been any updates on this issue, its breaking pretty much all of our deployments on the first run or we have to accomodate to the default port 8080!

[2020-07-01 01:08] kevinchu85 opened #6723 "Permissions issue while trying to create VPC in GCP"
Hello All,

New to Terraform and was trying to setup a VPC for my GCP environment and came across permissions issue, hope someone can guide me on how to resolve this issue. I had a look at the old closed issues and gave a number of access to the service account but unfortunately none of that is helping with getting the VPC created. I am getting the following error.

An execution plan has been gene

[2020-07-01 01:39] xiaobaitusi commented on #3851
This resource is also requested by one of ConfigConnector customers.

[2020-07-01 02:40] rbong commented on #5528
It appears that setting `ENDPOINTS_SERVICE_NAME` is no longer the favored way of passing the OpenAPI config to ESPv2.
See [this error](https://github.com/GoogleCloudPlatform/esp-v2/blob/f8d98017f9bce27b9fe0a49bb93045558667ca08/docker/serverless/env_start_proxy.py#L22).

 service in the ENDPOINTS_SERVICE_NAME environment variable.
 Note this deployment mode is **not** officially supported.

The rec

[2020-07-01 05:18] c2thorn opened #6724 "Fix flaky TestAccMonitoring* tests"
TestAccMonitoringGroup_monitoringGroupBasicExample
TestAccMonitoringGroup_monitoringGroupSubgroupExample
TestAccMonitoringGroup_update
TestAccMonitoringUptimeCheckConfig_uptimeCheckTcpExample

[2020-07-01 11:58] dcloud9 commented on #6619
Apologies for late reply.
Here are the tfvars we provide to out nonprod env. This crash is not happening in PostgreSQL engine of CloudSQL if we target that module `-target=module.cloud-sql-instance-postgresql`.
Another difference from our prod env is there are lesser `resources` and `modules` instantiated compared to prod, hence crash is not happening (yet). Could it be the `google-provider` is up

[2020-07-01 11:58] kevinchu85 commented on #6723
I am not sure how I resolved this issue but after creating a new project and going with the same permissions it is working now
the only difference is this time I only game the service account the following permissions

Compute Admin
Compute Network Admin
Project-Editor

[2020-07-01 11:58] #6723 closed

[2020-07-01 12:43] ghost opened #6725 "BigQuery - add optional 'require_partition_filter' to range partitioning"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-01 13:15] rbong commented on #5528
I've got something working for the new instructions, the new workaround follows the same pattern but is more complicated:

[code]

Where `make docker-deploy-espv2` submits the docker image just like the [Google ESPv2 build script made for this purpose](https://github.com/GoogleCloudPlatform/esp-v2/blob/master/docker/serverless/gcloud_build_image) and also updates the cloud run image:

[code]

You

[2020-07-01 16:41] #6657 closed

[2020-07-01 20:11] brachipa opened #6727 "Add support for GCP PubSub Subscription filter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-01 20:22] ndmckinley commented on #6619
I see, interesting.  I think then that it is extremely likely that this is an issue with Terraform core - I'm going to have to refer you to github.com/hashicorp/terraform, because I think that's where the issue is.  You will need to refile the issue over there - they might attempt to send you back here, so make sure you say in the issue that you have already had us look into it.  :)

That said, I

[2020-07-01 20:22] #6619 closed

[2020-07-01 21:14] #6677 closed

[2020-07-01 22:51] msgongora opened #6730 "PodSecurityPolicy state is not being saved if it's declared explicitly as false"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-01 23:54] kskewes opened #6731 "Dialogflow - `project` key not used"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-02 09:17] debakkerb opened #6732 "Creating Cloud Monitoring alert policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-02 16:16] edwardmedia commented on #6732
@debakkerb can you share the debug log for creating the policy via Terraform?

[2020-07-02 16:34] edwardmedia commented on #6731
@kskewes do you have environment variables for `project=<service account user project>`? Which project is the service account in for `~/.config/gcloud/<service_account>.json`? Can you share your Terraform debug log as well?

[2020-07-02 16:53] marko7460 commented on #4789
Are there any plans on adding this feature in near future?

[2020-07-02 17:10] edwardmedia commented on #6730
This only happens when
[code]

[2020-07-02 17:42] msgongora commented on #6730
Correct, I forgot to mention that since I was able to verify it.

[2020-07-02 20:00] marko7460 opened #6733 "database_encryption forces cluster recreation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-03 00:08] dylanPowers commented on #4778
I found a workaround in the google-beta provider that addresses this issue https://www.terraform.io/docs/providers/google/r/compute_network_peering_routes_config.html#example-usage-network-peering-routes-config-gke

[code]

[2020-07-03 06:43] gleichda commented on #5916
@danawillow any update when this will be done?

[2020-07-03 08:16] debakkerb commented on #6732
Logs can be found [here](https://drive.google.com/file/d/1eVxaMbY7eW6g3sMfTiD3lsmtk8MdM9yO/view?usp=sharing).

[2020-07-03 10:28] thirdeyenick opened #6734 "Support of commited use discounts (CUD)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-03 12:13] ct-dh opened #6736 "Question regarding the upcoming IAM behaviour change on 27th July"
Hi, the release notes for Cloud IAM show that on July 27th 2020 the change to prefix deleted service accounts in IAM policies with 'deleted:' will be attempted again. It was enabled in December 2019 and caused a lot of issues because a lot of things (including this provider) were not ready to handle the behavior change and was rolled back.

My question is, are the maintainers of this provider awar

[2020-07-03 13:51] irvifa commented on #4418
@danawillow I was wondering if there's specific API in golang equivalent with run command. From what I've seen in the [API](https://godoc.org/google.golang.org/api/composer/v1beta1). Note that we're using this for the Terraform Provider there's several utility for `ListCall`, `CreateCall`, and `DeleteCall`. However there's no specific API to `run` an environment.

[2020-07-03 13:57] edwardmedia commented on #6733
I see it requires `replacement` after adding the `database_encryption`

[2020-07-03 15:10] neurolabs commented on #5528
@rbong Thanks for sharing your approach. In that approach, can't we use google_endpoints_service.api.config_id as a trigger, because it will at least change when the config of the endpoints service changes? That won't cover updates to the base docker image, though.

[2020-07-03 15:35] TitanRob16 opened #6737 "Error waiting for Setting usage export bucket.: Required 'read' permission for ' gcp-bucket '"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-03 15:39] abhianand09 commented on #6537
We had a similar requirement of creating private GKE cluster.But because of missing "default sNAT"  feature **in terraform**  we are blocked for now.

**Error: Error waiting for creating GKE cluster: Must disable default sNAT (--disable-default-snat) before using public IP privately in the cluster.**

Can you let me know when this support will be available in terraform for GKE ?

[2020-07-03 15:43] rbong commented on #5528
@neurolabs that would work except for the docker image as you've noted.

[2020-07-03 16:05] marko7460 commented on #6733
I enabled logging for the `gcloud` command and i see that gcloud sends:
[code]

[2020-07-03 16:34] neurolabs commented on #5528
Thanks, @rbong for the feedback.

In the hack section of my head, I am including another trigger part based on substr(timestamp()) that would force deployment every month ;).

[2020-07-03 17:24] rbong commented on #5528
@neurolabs my approach, which I didn't include because it's hacky and subjective, is to hash every file in the espv2 docker image build directory, use it for the tag name, and then check if the tag name exists before pushing it with gcloud build.

[code]

The `gcloud run deploy` command is executed regardless of if the image exists or not since the Run image is ignored by Terraform.

[2020-07-03 17:52] edwardmedia commented on #6737
@TitanRob16 can you specify how you verify the `service account` has the `Storage Object Viewer` role on `gcp-backet`?

[2020-07-03 20:28] neurolabs commented on #5528
I hopefully figured something out to rebuild on endpoint change and (base) image update only. Add an external data source that resolves the digest of the latest image:

[code]

scripts/latest-digest.sh looks like

[code]

What do you think @rbong ? It should be enough to rebuild on base image change AFAICS.
[code]

[2020-07-03 21:47] rbong commented on #5528
Should be enough to rebuild on base image change AFAIK

[2020-07-04 01:01] daveth commented on #4055
The [referenced link](https://cloud.google.com/functions/docs/calling/realtime-database#event_types) implies Firebase RT DB triggers are not GA. Would this mean the change to resolve the issue would be more appropriate to be applied to the google-beta provider instead?

[2020-07-04 14:15] edwardmedia commented on #6732
@debakkerb I created a policy using you provided Terraform config, and the result looks similar to what you described in the two links under **Manual**. I am not able to create one like  **Terraform alert policy Manual** (https://photos.google.com/share/AF1QipN41YH9iQJIUYuNqpq1txir3bImqwRPu0ohuusFxpNHMr7bIGt-OFEIkNatHakwWg?key=d2xqZmFUSEFkeXd1VVk1NTVhRnB6NkxyREVBZHpn). Not sure what happens.
I not

[2020-07-05 10:58] upodroid opened #6738 "Access Context Manager doesn't work with user ADC because terraform doesn't set the X-Goog-User-Project Header"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-06 03:49] kskewes commented on #6731
Hi @edwardmedia - thanks for the quick response.

`<service_account_project>` number confirmed different to `abc-project` (changed) number at this url:
https://console.cloud.google.com/iam-admin/settings?project=abc-project&folder=

No.

`<service_account_project>`. A different project to `abc-project` but under same Organization.

Sanitised debug output here: https://pastebin.com/Cqim97Mz

[2020-07-06 08:23] TitanRob16 commented on #6737
@edwardmedia I'm an organisation admin, so I simply browse to the project hosting the bucket and check the permission via the GUI (Show Info Panel - Permissions - 'Storage Object Viewer' shows the service account has been granted the permission at the bucket level).

[2020-07-06 14:11] edwardmedia commented on #6737
@TitanRob16 can you share the debug log when you execute above script?

[2020-07-06 14:18] edwardmedia commented on #6736
@ct-dh Can you be more specific to the release notes & PRs you mentioned above? Links and numbers would be greatly helpful. Thanks

[2020-07-06 14:24] ct-dh commented on #6736
Cloud IAM release notes: https://cloud.google.com/iam/docs/release-notes#July_01_2020
Magic modules PR: https://github.com/GoogleCloudPlatform/magic-modules/pull/2819

[2020-07-06 14:59] andriymarchuk opened #6740 "RuntimeConfig: terraform fails to recreate RuntimeConfig after it was deleted manually(using gcloud)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-06 15:04] tim-codes commented on #6727
Looking to contribute to this issue however getting a bit confused by the source code. I can see that the resource is generated by magic modules as it has the "AUTO GENERATED CODE" warning in the source file. However, following the contribution guide and the link to this [repository](https://github.com/GoogleCloudPlatform/magic-modules/tree/master/third_party/terraform) I'm unable to find the corr

[2020-07-06 15:31] gwendal-lecren commented on #6692
@edwardmedia Thank you very much, it fixed the issue when I removed the '#' char from the collection name.

[2020-07-06 16:08] edwardmedia commented on #6738
@upodroid to apply `google_access_context_manager_access_policy`, the account needs to have `org` level permission. Can you double checked if this is the reason? Also I am curious why you need to set a quote project here?

[2020-07-06 16:38] edwardmedia commented on #6740
@andriymarchuk That is expected as you have already deleted the resource manually. To solve the problem, you have to manually sync the state, like delete the state file. Let me know if this addresses your issue.

[2020-07-06 16:48] upodroid commented on #6738
The account executing the commands has the org level permissions. Issues #6401 and #3620 are similar to mine but now we know that accesscontextmanager API allows ADCs to work if the quota project is defined so this needs to be implemented in the terraform provider.

In the meanwhile, i'm using service account impersonation to carry on with my work.

[2020-07-06 17:10] edwardmedia commented on #6731
@kskewes I am not sure if I understand enough. I do see `<project1_number>`  but `abc-project` is the only project appeared in the config. Where do you provide ``<project1_number>`?  To answer your question, below is the place where `Project` is used.
`POST /v2/projects`**/abc-project**`/agent?alt=json HTTP/1.1`

[2020-07-06 17:26] edwardmedia commented on #6738
@upodroid I am glad you are not blocked and closing this issue then. If you want this feature to be implemented, would you please file an enhancement using below link and specify the reason why you think you need it? We could prioritize it into the backlog. Thank you
https://github.com/terraform-providers/terraform-provider-google/issues/new?template=enhancement.md

[2020-07-06 17:26] #6738 closed

[2020-07-06 17:35] andriymarchuk commented on #6740
Hi @edwardmedia,
I thought for terraform  default  expected behavior  is recreating the resource as it does for `kubernetes_config_map` resource (tested deleting manually with `kubectl delete configmap` and terraform recreate it )

[2020-07-06 17:45] upodroid commented on #6738
I'll open an enhancement but just to clarify this is a bug that needs a fix. The API works with ADCs as I showed with curl above so terraform needs to implement the missing header.

[code]

Thanks

[2020-07-06 19:10] edwardmedia commented on #6692
@gwendal-lecren I am glad you got the fix and I am closing the issue then.

[2020-07-06 19:10] #6692 closed

[2020-07-06 19:10] danawillow commented on #5916
Looks like this was done in https://github.com/GoogleCloudPlatform/magic-modules/pull/3580. @ndmckinley, anything else that needs to be done here?

[2020-07-06 19:12] danawillow commented on #5916
Ah, that one was for identity config, and you're looking for metadata config. That's why that PR didn't cover it, because it's two different fields. Probably best to leave this issue open then, and assign it out soon.

[2020-07-06 19:16] danawillow commented on #4418
I don't see anything at the link you posted or at https://cloud.google.com/composer/docs/reference/rest. If you run gcloud with `--log-http`, it'll tell you what requests it's making. Maybe there's a clue there, but it's also possible that it's calling an endpoint that isn't accessible from tools that aren't gcloud. For new resources we'd want them generated with magic modules anyway, so it doesn'

[2020-07-06 19:17] danawillow commented on #6537
@abhianand09 we're tracking it in https://github.com/terraform-providers/terraform-provider-google/issues/6465, which this issue was marked as a duplicate of. I'd expect a few weeks max.

[2020-07-06 19:50] #6270 closed

[2020-07-06 20:24] neurolabs opened #6742 "google_project resource exits early leading to "Error: googleapi: Error 403: The project to be billed is associated with an absent billing account., accountDisabled""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-06 21:19] kskewes commented on #6731
Sorry Edward, I made a mistake in sanitising the Pastebin.
I had incorrectly find/replaced the `<service_account_project>` real value with `<project1_number>`.

Have updated now.

FWIW: Giving the service account `Owner` role to `abc-project` still didn't succeed.

[2020-07-06 21:52] mattbowes opened #6743 "google_compute_address: expected purpose to be one of [GCE_ENDPOINT ], got SHARED_LOADBALANCER_VIP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-07 00:01] edwardmedia commented on #6743
@mattbowes can you share your debug log?

[2020-07-07 07:56] Eshanel opened #6744 "Error 400 creating google_container_cluster on v3.29.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-07 08:54] thimovss opened #6745 "google_cloudbuild_trigger github throws 403 Forbidden whilst having required permissions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-07 09:13] jahernandezmartinez13 commented on #6744
With the provider.google v3.29 was failing for me as well.
I had to downgrade to terraform-provider-google_v3.14.0_x5 to make it work again.

[2020-07-07 10:03] thimovss commented on #6745
I resolved the issue. For future users encountering this issue:
My terraform backend state applied successfully because the bucket is global/ not project dependent. Applying the trigger used the google-beta provider, and thus the configured project id.
I had my project id configured wrong, I had the project name `template`, instead of the project id `template-123456`.
Would be nice if we get a mor

[2020-07-07 10:03] #6745 closed

[2020-07-07 10:18] debakkerb commented on #6732
It's weird, because I'm working together with a team who noticed the exact same result.  In terms of execution, I'm running this via Cloud Build and the Service Account who runs it is owner of the project.

In terms of steps, I created the project via Terraform and then enabled the workspace.  The user with which I enabled the workspace (and added the projects to it) was Owner of the project.

Can

[2020-07-07 10:34] TitanRob16 commented on #6737
@edwardmedia Please see the edited OP: I've included the debug output from my test this morning.

[2020-07-07 12:19] huang-jy opened #6746 "[google-beta provider]: compute_managed_ssl_certificate unable to create cert with alternative name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-07 12:33] upodroid opened #6747 "Access Context Manager doesn't work with User ADC"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-07 13:56] #5952 closed

[2020-07-07 14:16] universalvishwa commented on #6658
Is this fix been released yet?

[2020-07-07 14:42] Eshanel commented on #6744
I found a successful workaround with the [beta argument `networking_mode`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#networking_mode) set to `VPC_NATIVE`

I wonder if the problem is the default blank `cluster_ipv4_cidr_block` and `services_ipv4_cidr_block` in `ip_allocation_policy` block which doesn't inferred the VPC_NATIVE mode for the clust

[2020-07-07 14:58] Sytten opened #6749 "Support serverless NEG"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-07 15:03] preston-hf opened #6750 "google_compute_network_endpoint_group serverless support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-07 15:14] milentzvetkov commented on #6744
Confirmed that the workaround is working just now, I spend a good 2-3 hours of wondering why just 2 days ago everything was finе....
Thanks @Eshanel you owe you one for this.

[2020-07-07 15:52] M3t0r commented on #6744
As @jahernandezmartinez13 pointed out, just using a previous version works. But since it took me a while to find the [syntax for specifying versions](https://www.terraform.io/docs/configuration/terraform.html#specifying-a-required-terraform-version), I'm posting what helped me here:

[code]

[2020-07-07 16:26] danawillow commented on #6750
Duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/6749

[2020-07-07 16:26] #6750 closed

[2020-07-07 16:37] danawillow opened #6751 "Resources for access_levels and service_perimeters (plural)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-07 16:52] rileykarson commented on #6593
I took a look at this and don't have a great solution- we test upgrading between release channels, but it's an impossible transition right now. The STABLE and REGULAR channel are 2 minor versions apart, which is an impossible transition (you can only upgrade a single minor version at a time).

This doesn't have much to do with release channels- we actually turn the feature off to perform the trans

[2020-07-07 16:57] preston-hf commented on #6750
Beat me by 5 minutes! Might make sense to copy the examples over, I put a little more time into them :)

[2020-07-07 17:40] danawillow commented on #6680
This seems more like a feature request for the API itself, rather than for Terraform. If the API supports it then Terraform can do it already, but if not, you should make a request there.

[2020-07-07 17:51] danawillow commented on #6718
@pmiles01, given that you want to be able to manage the properties of the subnetwork, is there anything stopping you from importing or creating the subnetworks manually?

[2020-07-07 17:51] Sytten commented on #6750
Done @preston-hf. I still think it makes more sense to create a new resource since they created a new one for the external URL (`google_compute_global_network_endpoint_group`).

[2020-07-07 17:53] Sytten commented on #6749
@danawillow I suggest also bumping #6155 to the same level otherwise this improvement is basically useless since you can't use it in the load balancer.

[2020-07-07 17:58] danawillow commented on #6725
Looks like the field on time_partitioning is deprecated in the API, but there's a top-level field we can add that should give the same thing: https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#timepartitioning

[2020-07-07 18:14] mattbowes commented on #6743
@edwardmedia, debug log is below. Since `3.29` was released yesterday it pulled that version down and still has the same error
[code]

[2020-07-07 18:40] mattbowes commented on #6743
Looks like it was added to the beta provide: https://github.com/terraform-providers/terraform-provider-google-beta/pull/2204/files

but it was never added to the standard one: https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_compute_address.go#L93

[2020-07-07 19:16] danawillow commented on #6749
That specific issue is for global NEGs, whereas this one is for regional. Can you explain further what the connection is?

[2020-07-07 19:17] danawillow commented on #6750
We'll probably end up just adding it into the existing resource since that lines up with the API (which has separate endpoints for global and regional neg, but not for serverless vs not)

[2020-07-07 19:20] danawillow commented on #6727
@tim-codes the third_party folder only has the non-generated resources. Since pubsub is generated, its definition lives at https://github.com/GoogleCloudPlatform/magic-modules/tree/master/products/pubsub (api.yaml and terraform.yaml). I'd also recommend reading through the README/codelab to get a sense of how to do things in MM, but happy to have you help out with this! Thanks!

[2020-07-07 19:26] pmiles01 commented on #6718
Importing isn't really an option as I'm striving for a one touch Terraform install.

I could manually create them, except the auto create looked like a great time and complexity saver.

[2020-07-07 19:58] danawillow commented on #6718
Got it. There are two things here that work together to make this tricky:
1. When new regions are introduced, new subnetworks get added
2. The networks API (https://cloud.google.com/compute/docs/reference/rest/v1/networks) doesn't have the ability to customize the subnetworks that get created in auto mode

So, what would end up happening is:
1. You create a network in auto mode
2. Terraform calls

[2020-07-07 19:58] #6718 closed

[2020-07-07 20:02] edwardmedia commented on #6746
It fails after adding another domain

[2020-07-07 20:14] edwardmedia commented on #6743
@mattbowes  currently`SHARED_LOADBALANCER_VIP` is supported only `google-beta`. Closing this issue then. Feel free to reopen it if you see this problem in `google-beta`

[2020-07-07 20:14] #6743 closed

[2020-07-07 21:08] megan07 commented on #6696
Hi @dpatrick! Sorry for the confusion. It looks like `secret_data` is sensitive on both the [resource](https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_secret_manager_secret_version.go#L64) and the [datasource](https://github.com/terraform-providers/terraform-provider-google/blob/master/google/data_source_secret_manager_secret_version.go#L51). It's not c

[2020-07-07 21:32] #6740 closed

[2020-07-07 21:40] asaba-gl opened #6754 "google_bigquery_dataset_access produces `produced an unexpected new value` errors when assigning a service account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-07 22:19] Sytten commented on #6749
The problem is not related to global vs regional NEG, the problem is that `google_compute_backend_service` requires the parameter `health_checks`. That means that the (future) serverless NEG and the global NEG will not be usable since both not support the health check.

[2020-07-07 22:52] jasonmcboyd opened #6755 "Treat column mode = NULLABLE and unspecified column mode as the same"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-08 00:08] danawillow commented on #6749
Got it, thanks for the explanation! Will update that one to match this milestone / priority label.

[2020-07-08 00:59] #6463 closed

[2020-07-08 01:30] #6733 closed

[2020-07-08 08:06] neurolabs opened #6758 "google_service_account: Service account gets created, but apply run fails with "Error reading service account after creation""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-08 08:45] ermakov-oleg opened #6759 "Impossible specify memcache_parameters for google_memcache_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-08 09:55] simonvanderveldt commented on #5520
What does the change introduced in #6553 do exactly? I haven't been able to find any documentation about IAM supporting BigQuery, AFAIK access can only be managed on the dataset itself, see https://cloud.google.com/bigquery/docs/dataset-access-controls

[2020-07-08 13:13] farmdawgnation commented on #6744
Hi folks,

I'm just here to comment that I ran into a related issue with a different error message. While attempting to create a private cluster, I was receiving this error message:

[code]

My `ip_allocation_policy` is using `cluster_secondary_range_name` and `services_secondary_range_name` to call out specific ranges in the network to pull addresses from. It appears as though I had to specify `n

[2020-07-08 13:24] megan07 commented on #6744
Sorry for the mix-up with this!  Yes, `networking_mode = "VPC_NATIVE"` is what we want to use going forward. It was the default when `ip_allocation_policy` was set before, however, we made this change in the most recent release. Unfortunately, we missed this backward-compatability in implementation.  I have created a PR to address this change. Thanks for your patience!

[2020-07-08 13:26] farmdawgnation commented on #6744
No worries, thanks for the quick reply

[2020-07-08 13:57] dpatrick commented on #6696
@megan07  - Oh! Okay no, I can confirm that this is working as it should. I just realized I was seeing the value from the datasource in the output of another terraform object that references it.  Sorry for the false alarm!

[2020-07-08 13:58] #6696 closed

[2020-07-08 16:15] #6744 closed

[2020-07-08 16:23] megan07 commented on #6746
Hi @huang-jy ! I'm sorry you're running into this. This was fixed in the `3.3.0` release, once you are able to upgrade to `0.12` you will be able to use this fix. Can I ask what breaking change you are seeing in `0.12` that is preventing you from upgrading?
Thanks!

[2020-07-08 16:26] edwardmedia commented on #6732
@debakkerb I reviewed the log you provided. How come I can't find a `POST` REST call if a resource is going to be created. Maybe I have missed that piece. If you see those calls, can you highlight them?
To answer your question about local setup, I just copy/paste your code of very top box and added two `google_monitoring_notification_channel` in the plan, and then call `terraform apply`.

[2020-07-08 16:30] huang-jy commented on #6746
Thanks for the reply, @megan07

I'll try to confirm what was breaking our upgrade and come back to you.

Is 3.3.0 reliant on 0.12+ terraform?

[2020-07-08 16:57] megan07 commented on #6746
@huang-jy I'm sorry, unfortunately, yes. We don't support `0.11` anymore, so you would have to upgrade.

[2020-07-08 17:20] hashibot[bot] opened #6760 "I've tried deploying using "google_compute_instance" resource but it is not working. We need image name, family name to deploy the image, how can i get that?"
_This issue was originally opened by @bskrishna60 as hashicorp/terraform#25519. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

I'm trying to deploy CDAP VM (shorturl.at/qMN39) from GCP marketplace using terraform.

I've tried deploying using "google_compute_insta

[2020-07-08 18:34] dinvlad opened #6761 "ip_allocation_policy forces re-deployment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-08 19:08] hmm2001 opened #6762 "Does iam_custom_policy support wildcard?"
Dear Support,

I am trying to create custom iam policy and when I am using wildcard like.

    permissions = [
        "automl.*",
    ]

It gave me the following error "Error: Error updating the custom project role Role: googleapi: Error 400: Permission automl.* is not valid., badRequest"

I am not sure if the gcp provider support wildcard for permissions or not. Please guide.

Thanks.

Mengmeng

[2020-07-08 19:39] #6759 closed

[2020-07-08 19:58] edwardmedia commented on #6731
@kskewes I can repro the issue you are facing. After I enabled the `dialogflow.googleapis.com` on `<service_account_project>`, the `dialogflow_agent` was deployed successfully on `abc-project`. I think this type of requirement is up to the individual service, beyond the terraform's control. Can you follow the suggestion from the error massage to enable the service and then see if that works for yo

[2020-07-08 20:06] megan07 commented on #6742
Hi @neurolabs! I'm sorry you're still running into this issue. If I'm able, I'm hoping to find a better work around than increasing the sleep, however, I'm unable to reproduce it (even after commenting out the sleep) so I'm not sure what the responses look like and if there is something in the response I can key off of to see if we can retry, or do something different. Do you happen to have any de

[2020-07-08 20:15] poy opened #6764 "GCS: Broken (ish) URL on error message"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-08 20:31] dinvlad commented on #6761
Additionally, I tried hard-coding
[code]
from the "healthy" state, and confirmed that it is not stored in the new state either:
[code]

[2020-07-08 20:39] edwardmedia commented on #6737
@TitanRob16 I am able to create the `google_project_usage_export_bucket` on another project's bucket without issue. Have you already had the bucket `usage-exports-summer-sun` in the place?

[2020-07-08 20:58] megan07 commented on #6761
Hi @dinvlad! Sorry for the inconvenience. In the last release we added an attribute `networking_mode`. `networking_mode` can be either `"VPC_NATIVE"` or `"ROUTES"` and if it's not set it will default to what is returned by the API. In the past, if `ip_allocation_policy` showed up in the config, we would essentially default it to be VPC_NATIVE, however, with this change the user is allowed to set i

[2020-07-08 21:38] dinvlad commented on #6761
I see - thanks for the explanation!

So it seems like we should just set this?
[code]

I can see in my "healthy" state `"networking_mode": "VPC_NATIVE",` already, so this config makes no change there. It will re-create the "new" cluster however, as expected.

[2020-07-09 00:34] rakyll commented on #2082
@SargisPlusPlus we (the Cloud Spanner team) was just looking into this because we think we shouldn't destroy any resources for DDL updates.

Recently, we have been working on schema migration tool support lately (e.g. Flyway, Liquibase, etc). We also discussed whether Terraform is a good place for this but given provisioning is not always in the path of development and Terraform itself doesn't hav

[2020-07-09 02:01] Bharathkumarraju commented on #4848
is the API available now?

[2020-07-09 08:08] Ryan-Lintern opened #6766 "Data Catalog - Add ability to link to existing entries (or obtain the entryId) via linkedResource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-09 08:17] bdronneau commented on #6073
Hey,

If you're looking for
- 35.191.0.0/16
- 130.211.0.0/22

With:
[code]

Output:
[code]

[2020-07-09 10:27] nozieren commented on #4493
Hi all, does Terraform give us a release date or do we have to get enough 👍 ?
Thanks !

[2020-07-09 11:55] quulah commented on #6730
I encountered the same problem, I think.

I thought it's just caused by the parameter disappearing from the GCP side and Terraform then tries to set it to false every time as it's false in the managed state.

Due to that, I tried to work around the issue by defining a `dynamic` block, which is subtly different to the example above. But that just caused an explosion in the API when moving from true

[2020-07-09 12:59] preston-hf opened #6767 "Many documentation pages have broken links/anchors"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-09 13:00] felimartina commented on #6706
Alternatively,
You could use multiple tags instead of defaulting to `latest`. You can have an image tagged as `latest` and `1.0.0`. Then use the version tag within terraform, that way everytime you bump your version terraform will detect a change in the image and re-deploy a new revision. Obviously, you will need a way to read the version number in Cloud Build and pass it on as argument to terrafo

[2020-07-09 13:39] hmm2001 commented on #6762
@megan07  Any update on this?

[2020-07-09 14:20] hashibot[bot] opened #6768 "terraform import module.scheduler.google_app_engine_application.app not have permission,but The Service Account. is. Owner"
_This issue was originally opened by @MakeYuan-Driver as hashicorp/terraform#25529. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

`
provider "google" {
    version = "3.5.0"

    credentials = fil

[2020-07-09 15:22] msgongora commented on #6730
@quulah you could take a look how we have approached this issue on
terraform-google-kubernetes-engine:
terraform-google-modules/terraform-google-kubernetes-engine/pull/586

[2020-07-09 15:23] edwardmedia commented on #6768
@MakeYuan-Driver What roles did you give to the Terraform runner? Is there a way I can see your code of `google_app_engine_application`? It would be great if you can share the debug log that contains request/response with POST calls?

[2020-07-09 15:44] preston-hf opened #6769 "google_bigquery_dataset_iam_member requires undocumented project parameter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-09 15:52] bdronneau opened #6770 "google_iam_role return all included_permissions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-09 17:03] edwardmedia commented on #6769
@preston-hf  I am able to run below code without adding the **project**. Am I missing the point you make?

[code]

[2020-07-09 17:27] c2thorn commented on #6658
@universalvishwa yes this should be a part of[v3.29](https://github.com/terraform-providers/terraform-provider-google-beta/blob/master/CHANGELOG.md#3290-july-06-2020) of google-beta

[2020-07-09 17:38] preston-hf commented on #6769
Do you have a default project set on your provider possibly?

[2020-07-09 17:40] preston-hf commented on #6769
I have been getting this error:
[code]
Pretty standard, I get it all of the time. The main issue here is you can't specify the project a dataset is in by using the full dataset id, only the dataset name without the project. Also, the project var is totally undocumented.

[2020-07-09 18:21] megan07 commented on #6761
Hi @dinvlad! Thank you for your understanding! Yup, that sounds right!

If I'm understanding correctly, your "healthy" state cluster looks correct in the console and the plan shows no change when you add `networking_mode = "VPC_NATIVE"`, and the "new" cluster refers to a separate cluster that is currently routes-based and you wanted to be vpc native, and when you add `networking_mode = "VPC_NATIVE

[2020-07-09 18:21] #6761 closed

[2020-07-09 19:16] #6693 closed

[2020-07-09 19:22] gplasky opened #6773 "[Beta provider] Add support for new kubelet and sysctl option groups for GKE nodes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-09 20:43] megan07 commented on #6762
Hi @hmm2001! I just tried it out in the API (outside of Terraform) and it looks like this is a limitation of the Google API, so, no, currently the GCP provider does not support wildcard for permissions. Sorry!

[2020-07-09 20:43] #6762 closed

[2020-07-09 21:10] danielcompton commented on #6073
Thanks! I did see that you can get the same result from using other data resources. This issue is more about creating a new resource that is semantically correct and represents the intent better. Especially in firewall rules, it's not always clear why something has been created.

[2020-07-09 21:27] megan07 commented on #5121
Hi @preston-hf! Thank you for the extra information. I am so sorry for the delay on this. I tried it again, just importing `iap_brand`. Are you able to show me your configuration prior to importing `iap_brand` and `iap_client`? I was able to import them successfullly with `3.17.0` and a previous state of `2.20.3`. I only had the project datasource in my previous state, but I'm wondering if maybe a

[2020-07-09 22:04] kskewes commented on #6731
Thanks for confirming Edward.
That indeed sounds like a bug.
We don't want to enable Dialogflow on the service account project so have done this outside of terraform for now. :(

[2020-07-09 23:07] mr-andyd opened #6774 "Add support for CloudSQL Point-In-Time-Recovery (PostgreSQL)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-10 01:42] paulspiegel commented on #6177
I don't there's a module dependency issue in my case.  I removed a single module reference that was defining one google_compute_shared_vpc_service_project and two google_compute_subnetwork_iam_member resources.

The apply looked successful:
[code]

However both the service project still exists and the network.user membership is also still assigned.  This is Terraform 0.12.24 / Google provider 3.29

[2020-07-10 02:16] edwardmedia commented on #6769
@preston-hf can you provide the config that will fail? Thanks

[2020-07-10 02:22] edwardmedia commented on #6731
@kskewes Sorry to see this, but this is not something the provider handles. Please feel free to reopen the issue if you need further discussion. Thank you

[2020-07-10 02:22] #6731 closed

[2020-07-10 04:14] UrsysC opened #6775 "google_billing_budgets does not seem to function properly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-10 10:53] huang-jy commented on #6746
Okay, I have reviewed this and the upgrade wasn't done due to the syntax changes in 0.12. The upgrade tool is helping reduce the concerns, but will still require more testing before we upgrade.

As for the original issue, I've tested using 0.12.0 and 0.12.28 and can confirm the cert does work. However, I have discovered something else, which may or may not be an expected behaviour.

I have a Cloud

[2020-07-10 11:45] edwardmedia commented on #6775
@UrsysC your code seems fine with me. My guess is something wrong with the account you use to run the Terraform. Please review below doc and make sure the account has proper roles assigned.
https://cloud.google.com/billing/docs/how-to/budgets

[2020-07-10 11:48] MeNsaaH commented on #1572
A much needed feature, my records are managed by `external-dns` too
+1

[2020-07-10 13:15] abhinav454 opened #6777 "Add option to set retry policy in google_pubsub_subscription resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-10 14:23] UrsysC commented on #6775
![image](https://user-images.githubusercontent.com/10835481/87163715-cc328500-c295-11ea-82c9-ceeca24d6437.png)
My service account is a billing account administrator. As mentioned, when I ran without that permission

![image](https://user-images.githubusercontent.com/10835481/87164087-50850800-c296-11ea-9319-3d99526f08a3.png)
![image](https://user-images.githubusercontent.com/10835481/87164315-a528

[2020-07-10 15:37] slevenick commented on #5520
@simonvanderveldt the change fits the dataset access controls to the standard terraform IAM binding/member/policy format. Access is still managed on the dataset itself, but this makes it a little more familiar

[2020-07-10 16:17] venkykuberan commented on #6754
Looks like API is accepting `iam_member` as access member type however its sending the response under `user_by_email` access member type. Provider doesn't find the required member type in the response and failing to set the state

sample response
[code]
Change is required on the API side i believe @megan07 what are your thoughts on this ?

[2020-07-10 17:02] Ja50nRu550 opened #6779 "Support for Materialized Views"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-10 19:40] MaxRenaud opened #6780 "Improve UX when a service account isn't used."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-10 21:16] c2thorn commented on #6758
Hey @neurolabs sorry to hear you are still getting this error. The PR added a retry timeout that is adjustable via the [create timeout](https://www.terraform.io/docs/configuration/resources.html#operation-timeouts). It's possible that your service account creation is taking longer than the default timeout of 5 minutes to become eventually consistent.

I'm unable to get a failure on apply in my rep

[2020-07-11 10:42] dlorch commented on #6706
@c2thorn thank you very much, I can confirm the approach with the docker_registry_image works: https://github.com/dlorch/errors.fail/commit/a6b8381f18dae797ae5fd225c390b21eda981f31

@felimartina thank you too for your suggestions, I was considering this as an alternate option.

[2020-07-11 13:02] edwardmedia commented on #6775
@UrsysC I have tested your request payload and it works fine. Do you have other resources that are in the same `apply`? Can you share the entire debug log?

[2020-07-11 13:14] edwardmedia commented on #6659
@tama1214 closing this issue as not hear back from you. Feel free to reopen it if you need. Thanks

[2020-07-11 13:14] #6659 closed

[2020-07-11 13:15] edwardmedia commented on #6684
@MitchellBot is this still an issue?

[2020-07-11 13:17] edwardmedia commented on #6732
@debakkerb is this still an issue?

[2020-07-11 13:19] edwardmedia commented on #6737
@TitanRob16 is this still an issue?

[2020-07-11 13:37] debakkerb commented on #6732
It is still an issue yet, but I've been OOO for the past few days.  I'll have a look this week.

[2020-07-11 17:29] UrsysC commented on #6775
first things first, thank you for taking the time on this! I really appreciate it.

Here is the first gist

https://gist.github.com/UrsysC/dc36d8540545a0916c2c24320650d425

I noticed the following:

[code]

I added spend_basis = "FORECASTED_SPEND" which removed this warning but still gave the same error as above.

https://gist.github.com/UrsysC/63be332f475c8b59cd26d097c5e48781

In case you didn't

[2020-07-11 19:49] kskewes commented on #6731
Thanks Edward, that's okay. Will consider raising with GCP. :)

[2020-07-11 20:41] #6684 closed

[2020-07-12 04:12] kobayashi commented on #6207
I came across this issue. I would like to take this.
Is it better to describe about each runtime like python2,3 go etc or put [The App Engine standard environment page](https://cloud.google.com/appengine/docs/standard/) ?

[2020-07-12 04:13] mhanline opened #6782 "Terraform not honouring OS IPv4 settings, using IPv6 dst to call *.googleapis.com"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-12 23:40] mhanline opened #6783 "Domain Split Service Endpoints from www.googleapis.com/compute to compute.googleapis.com, storage.googleapis.com etc"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-13 08:42] TitanRob16 commented on #6737
@edwardmedia Yep, the "usage-exports-summer-sun" bucket is located in another project.
I need the new project to setup the Compute Engine export to this bucket, but every time I do this I run into the 'read' permission error (even though the service account deploying the project and settings via Terraform has the Storage Object Viewer role).

[2020-07-13 13:39] debakkerb commented on #6732
I tested again, in an isolated project, and the end result is the exact same.

Steps:

1. Create project

[code]
2. Create the workspace
3. Create the notification channel, plus the alert policy
[code]
When I check the UI, it shows the alert policy in the exact same way as the screenshot posted earlier.  I'm really wondering what the difference is with your setup, because I'm now able to reproduce

[2020-07-13 13:57] ct-dh commented on #6736
Any update on this by the way, the July 27th date is getting close if we think this will require any remediation/workarounds.

[2020-07-13 14:35] TitanRob16 commented on #6737
@edwardmedia I managed to resolve this by giving the service account the Storage Object Admin role.
I would have thought the 'Viewer' role would be enough considering it only needs the 'read' permission, but clearly not.
Thanks for the help :)

[2020-07-13 14:49] debakkerb commented on #6732
Apologies, I missed your last question.  I extracted the logs from `terraform apply` and copied them [here](https://drive.google.com/file/d/1cug1On6JtzpPno89vXyy9nAhANktwAQb/view?usp=sharing).  I assume this is what you meant, but do let me know if you need additional information.

[2020-07-13 17:07] edwardmedia commented on #6783
@mhanline Are the resources created correctly? If not, could you please provide sample configs?

[2020-07-13 17:26] danawillow opened #6784 "E2 VMs in GKE examples"
https://cloud.google.com/blog/products/compute/google-compute-engine-gets-new-e2-vm-machine-types
https://cloud.google.com/compute/docs/machine-types

We may also want to use them for GCE examples too while we're here, but this issue specifically is for using them in GKE examples.

[2020-07-13 17:32] venkykuberan commented on #6764
doc link update reqd.

[2020-07-13 17:44] edwardmedia commented on #6737
@TitanRob16 Glad you have resolved this issue. Closing it then. Thanks

[2020-07-13 17:44] #6737 closed

[2020-07-13 17:44] danawillow commented on #6777
Duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/6623

[2020-07-13 17:44] #6777 closed

[2020-07-13 17:57] #1495 closed

[2020-07-13 18:09] megan07 commented on #6746
Hi @huang-jy!  I'm glad it is working after the upgrade. I did a little looking and found this section [here](https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs#replace-ssl). It looks like it's suggesting you create a new cert and then go back and delete the old cert. I've never done this before, but theoretically, if you have all the resources in your terraform con

[2020-07-13 18:26] edwardmedia commented on #6783
I see the differences of the endpoints between used and the suggested by APIs

[2020-07-13 18:42] huang-jy commented on #6746
The problem here, I think is the ordering. In other to update the cert, the provider would have to

1. Configure the SSL proxy to remove the cert
2. Delete the cert (since you can't delete the cert if it is being used)
3. Create the new cert
4. Reconfigure the proxy to use the new cert

The provider currently recognises it needs to replace the cert if I add a new domain to the list, but when it tr

[2020-07-13 19:03] robertrockjr opened #6786 "TF import GCP backend_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-13 19:32] edwardmedia commented on #6768
@MakeYuan-Driver is this still an issue with you?

[2020-07-13 19:39] edwardmedia commented on #6769
@preston-hf I do have below environment variable.
`GOOGLE_PROJECT=`

[2020-07-13 20:14] danawillow commented on #6760
Hi @bskrishna60, GCP Marketplace doesn't have built-in Terraform support right now, so there isn't a super easy way to do this. One option would be to create it from the marketplace and then [import](https://www.terraform.io/docs/import/index.html) the VM into your terraform state. You could either use Terraform's native import functionality and then reconstruct the config file based on the state,

[2020-07-13 20:14] #6760 closed

[2020-07-13 20:16] slevenick commented on #6736
Hey @ct-dh I worked on the initial PRs around the deleted IAM behavior back in December.

"there is a deleted service account binding for role X and deleted user A, I add a new binding via google_project_iam_member for the same role X for user B. I would hope this would work without issue."

This should work without issue. The current implementation of `iam_member` will only add the specified memb

[2020-07-13 20:30] edwardmedia commented on #6786
@robertrockjr can you verify the name of the backend-services? What do you see `gcloud compute backend-services list`?

[2020-07-13 20:36] robertrockjr commented on #6786
Hey, Edward.

Thanks for the quick response.  Here is the result of gcloud compute
backend-services list
NAME                             BACKENDS
       PROTOCOL
rstudio-connect-tcp-ilb          us-central1-a/instanceGroups/connect-uig
       TCP

Here is the json from the same command:
[
  {
    "backends": [
      {
        "balancingMode": "CONNECTION",
        "description": "",
        "fail

[2020-07-13 20:38] ndmckinley commented on #6780
Thanks!  Added this message in a few places that someone playing around is likely to find, as well as in the main error message they are likely to see.

Fortunately, the second suggestion, to use the default output location, is already incorporated - if it didn't work for you when you tried it please let me know and we can debug!  But we call https://godoc.org/golang.org/x/oauth2/google#FindDefaul

[2020-07-13 20:40] edwardmedia commented on #6786
@robertrockjr  Can you run
`$ terraform import google_compute_backend_service.default us-central1-a/instanceGroups/connect-uig`

[2020-07-13 20:43] robertrockjr commented on #6786
$ terraform import google_compute_backend_service.default
us-central1-a/instanceGroups/connect-uig
google_compute_backend_service.default: Importing from ID
"us-central1-a/instanceGroups/connect-uig"...
google_compute_backend_service.default: Import prepared!
  Prepared google_compute_backend_service for import
google_compute_backend_service.default: Refreshing state...
[id=projects/us-central1-a/

[2020-07-13 21:49] megan07 commented on #6754
@asaba-gl and @venkykuberan , it looks like this is a bug in the provider and will require some custom code, I believe. From what I'm seeing it appears that the API accepts an "iamMember" which has a prefix (in this case "serviceAccount"), and it seems like on the backend they parse that to realize it is of type "userByEmail" and sends it back in the response that way. I'm guessing (but will requi

[2020-07-13 21:59] megan07 commented on #6746
@huang-jy I'm afraid I'm not understanding what your expectations of the provider would be here? Reading from the document, I think the suggestion is that a new cert should be created in parallel to the existing cert and added to the proxy, and once the new cert status becomes active, the proxy would be reconfigured to remove the old cert and the old cert can than be deleted.
This process would ta

[2020-07-13 22:08] edwardmedia commented on #6786
Try this
'$ terraform import google_compute_backend_service.default projects/asc-ahnat-rstudio-team-prd/regions/us-central1/backendServices/rstudio-connect-tcp-ilb'

[2020-07-14 00:27] joshuarli commented on #5539
Isn't `request_timeout` possible with [`timeout_seconds`](https://www.terraform.io/docs/providers/google/r/cloud_run_service.html#timeout_seconds)?

[2020-07-14 06:09] huang-jy commented on #6746
Indeed, it would take several runs, each time having to manipulate my terraform files -- meaning each time I have to add an additional domain to the cert, I would need to run Terraform multiple times, to manipulate the cert and proxy states as above, rather than just say "Hey, Terraform, here's an additional domain name on the cert, make my config state like this", and then let the provider manage

[2020-07-14 08:48] ct-dh commented on #6736
Hi @slevenick thanks for the detailed response.

I think I understood everything apart from the last point where I can't quite tell if you meant:
1) For example, if you have a terraform iam_member for a user A, role X, then manually delete user A, on the next run terraform will not identify the existing binding for deleted:user:userA as matching the iam_member, so it will attempt to recreate it (a

[2020-07-14 10:01] steinbrueckri commented on #6390
As you could check in the documentation about GKE v1 API projects.locations.clusters, nowadays the feature ReleaseChannel is in GA since yesterday. 🙌

[2020-07-14 10:04] ermakov-oleg commented on #6759
@megan07 When can I expect to release a version with this fix?
This issue is also relevant in version 3.30.0

[2020-07-14 11:12] dpfeif opened #6788 "Support setting BigQuery table schema for google_bigquery_table sourced from external data in Parquet"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-14 13:00] megan07 commented on #6759
Hi @ermakov-oleg! It looks like it missed the cut-off for `3.30.0` by one day, so it should be available in `3.31.0`.

[2020-07-14 13:02] dmelliot opened #6789 "Firewall source_ranges defaults to 0.0.0.0/0 when source_tags not provided (dangerous!)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-14 13:03] megan07 commented on #6746
@huang-jy, would you be willing to share your configuration so I could play around with it some and try to find a more ideal solution? I have never personally done this before, so if I had your configuration handy, I might be able to find a quicker/better work around. Thanks!

[2020-07-14 13:06] robertrockjr commented on #6786
Same error.

On Mon, Jul 13, 2020 at 6:08 PM Edward Sun <notifications@github.com> wrote:

--
PTO: 7/16 - 7/27

Warm Regards,

Robert (Bob) Rock
Cloud Strategy & Services - Cloud Engineer
Ascension Technologies
(989) 513-0772

CONFIDENTIALITY NOTICE: This email message and any accompanying data or files is confidential and may contain privileged information intended only for the named recipient(s)

[2020-07-14 14:02] oswalya commented on #6482
This would really be a helpful implementation.
As long as google does not provide the API to fully automate the oauth2 client configuration, at least with this approach we could reuse the data within our infrastructure automation.

Any news on this so far?

[2020-07-14 14:10] huang-jy commented on #6746
Sure, let me sanitise it a bit and I'll share it in a repo.

On Tue, 14 Jul 2020 at 14:04, megan07 <notifications@github.com> wrote:

[2020-07-14 14:25] edwardmedia commented on #6786
You may use `google_compute_region_backend_service` instead, and then
`$ terraform import google_compute_region_backend_service.default projects/asc-ahnat-rstudio-team-prd/regions/us-central1/backendServices/rstudio-connect-tcp-ilb`

[2020-07-14 14:28] robertrockjr commented on #6786
Awesome! Works perfect. Thanks for the assist Ed! :)

On Tue, Jul 14, 2020 at 10:25 AM Edward Sun <notifications@github.com>
wrote:

--
PTO: 7/16 - 7/27

Warm Regards,

Robert (Bob) Rock
Cloud Strategy & Services - Cloud Engineer
Ascension Technologies
(989) 513-0772

CONFIDENTIALITY NOTICE: This email message and any accompanying data or files is confidential and may contain privileged informatio

[2020-07-14 15:08] mrzor opened #6790 "google_storage_bucket_object should support storage URI as source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-14 15:15] edwardmedia commented on #6786
Great. I am glad it works for you. Closing the issue then

[2020-07-14 15:15] #6786 closed

[2020-07-14 15:53] venkykuberan commented on #6789
Can you please share the plan output of your config ?

[2020-07-14 17:09] MaxRenaud commented on #6780
Thanks ndmckinley,
I tried this again and can confirm that #2 is a non-issue. Thanks for for PR.

[2020-07-14 18:26] tishen25 commented on #3360
Started working on this

[2020-07-14 18:45] joshuarli commented on #5539
Also reproduced the fact that adding a PORT env results in:

[code]

[2020-07-14 20:36] #5669 closed

[2020-07-14 22:18] #6784 closed

[2020-07-14 22:24] edwardmedia opened #6792 "data source google_compute_image id field not consistent with its resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-15 09:20] huang-jy commented on #6746
@megan07 I've put a cut-down version in a repo on GitLab: https://gitlab.com/blenderfox/gcp-static-website-terraform

To use, checkout the repo, and edit the variables in the two scripts `terraformDestroy.sh` and `terraformPlanAndRun.sh`

Run the `terraformPlanAndRun.sh` like this:

`EXTRA_CERT_NAMES="[]" ./terraformDestroy.sh`

This will create a stack with a cert of only one name (will not add a

[2020-07-15 16:15] slevenick commented on #6736
@ct-dh For your first question option 1 should be correct. Terraform attempts to fix drift, so as long as the `iam_member` still exists in the terraform config, it should be recreated once terraform sees that it does not exist.

For your second question I would expect that the API would be able to handle receiving requests with `deleted:` prefixes to the "v1 API". I don't have much info on how thi

[2020-07-15 17:04] PDQDakota opened #6794 "google_container_cluster Blocks of type "release_channel" are not expected here."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-07-15 17:16] edwardmedia commented on #6794
@PDQDakota How about adding `provider = google-beta` like below?
[code]

[2020-07-15 18:18] rmanyari commented on #6773
Hey - happy to work on this one. I can submit an PR in the next few 2-3 days.

[2020-07-15 18:28] megan07 commented on #6746
Hi @huang-jy! Thank you for your patience and letting me see your code!
I think what you're seeing is actually a [known upstream issue](https://github.com/hashicorp/terraform-plugin-sdk/issues/122) in terraform. However, I was able to manipulate what you had to circumvent the bug.

The bug you're hitting can be avoided if your proxy depends on the cert's `self_link` field, and lucky for you, the `

[2020-07-15 18:30] #6792 closed

[2020-07-15 18:40] huang-jy commented on #6746
Thanks for all the help, @megan07 I will implement and check your changes then incorporate those into the prod setup if they work. I'll come back and let you know if it all works or not.

[2020-07-15 19:24] PDQDakota commented on #6794
@edwardmedia That was it, thank you for your help and sorry for the bother!

[2020-07-15 19:24] #6794 closed

[2020-07-15 21:01] edwardmedia commented on #6768
@MakeYuan-Driver I am closing this issue now as assuming this is no longer an issue. Please feel free to reopen it you see the issue again.