[2018-03-07 15:07] james-masson opened #1160 "Please reconsider deprecating google_container_node_pool -> initial_node_count"
### Terraform Version
Terraform v0.11.3
google-provider 1.6.0

### Affected Resource(s)
google_container_node_pool

### Terraform Configuration Files
[code]

### Problem

I'm trying to provide seamless nodepool upgrade/replacement with Terraform - always maintaining enough nodes to run all services on the cluster during the upgrade.
The cluster workload is highly elastic, and uses node autoscaling

[2018-03-07 15:50] paultyng commented on #1160
@james-masson I'm not sure it would work in this scenario, but have you experimented with [`ignore_changes`](https://www.terraform.io/docs/configuration/resources.html#ignore_changes)?

[2018-03-07 15:53] klausitto commented on #1138
Confirming bug. Going to create 1 SQL instance and getting the same issue. Affected version: 0.11.3.
Version 0.10.8 works well.

[2018-03-07 16:43] NAJ10 opened #1161 "Importing a GCS bucket results in terraform wanting to change the bucket immediately afterwards"
### Terraform Version
Terraform v0.11.3
+ provider.google v1.6.0

### Affected Resource(s)
- google_storage_bucket

### Terraform Configuration Files
[code]

What should have happened?
importing a GCS bucket created outside of terraform should not result in a terraform plan command wanting to try to change the force_destroy state of the bucket

### Actual Behavior
After importing the GCS bucket a

[2018-03-07 17:24] michaelbannister opened #1162 "`google_logging_project_sink` always shows changed if filter has trailing whitespace"
I use a HEREDOC string to specify `filter` for a `google_logging_project_sink`, which includes a trailing newline.
The value as refreshed from the google API is without a trailing newline, so it always shows as changed.

### Affected Resource(s)
Please list the resources as a list, for example:
- google_logging_project_sink

### Terraform Configuration Files
[code]

### Expected Behavior
Upon repe

[2018-03-07 18:33] ndmckinley commented on #1138
Okay, it sounds like there is a bug here, but I'm still not clear on how I can repro it.  Does it happen to you every time with the config as you've got it, @klausitto?  Can you share that config?

[2018-03-07 18:50] rosbo commented on #1161
As a workaround before we publish a fix you can manually update your state file to set force_destroy to `false`.

[2018-03-07 19:08] danawillow commented on #1159
@radeksimko this used to work, and then at some point it stopped. Any chance you could look into this since you added the feature?

[2018-03-07 19:11] danawillow commented on #1160
There's a bit of discussion around this in #844. Can you take a look at https://github.com/terraform-providers/terraform-provider-google/issues/844#issuecomment-360658757 and see if solution #2 would work for your use case?

[2018-03-07 19:32] rosbo commented on #60
We haven't made progress on this yet. Linking to the AppEngine issue because we might want to tackle both together: #638.

[2018-03-07 19:33] klausitto commented on #1138
@ndmckinley, yep.

`resource "google_sql_database_instance" "master" {
  name = "master-instance"
  region = "europe-west1"

  settings {
    tier = "db-f1-micro"
  }
}

resource "google_sql_database" "eval" {
  name      = "eval-db"
  instance  = "${google_sql_database_instance.master.name}"
}

resource "google_sql_user" "eval" {
  name     = "db-user"
  instance = "${google_sql_database_instance

[2018-03-07 19:36] ndmckinley commented on #1138
All righty, I'll take a look.  Thanks!

[2018-03-07 21:00] pbzdyl opened #1163 "Creating GKE cluster without initial_node_count"
### Terraform Version
Terraform v0.11.3
+ provider.google v1.6.0

### Affected Resource
- `google_container_cluster`

### Terraform Configuration Files
[code]

### Expected Behavior
With the configuration above - notice that it doesn't specify `initial_node_count` in the embedded `node_pool` - a new cluster with a node pool of size 1 is created.

### Actual Behavior
A node pool with size 0 is crea

[2018-03-07 21:02] ndmckinley commented on #1138
Sorry!  Still no repro with:
[code]

(The provider's unversioned because it's built from `master`)

[code]

I copied that config exactly as posted.  You could try attaching debug logs, and maybe I can work from there?

[2018-03-07 21:04] ndmckinley commented on #1138
I suppose I can try to update to terraform 0.11.3, in case the bug is introduced in the two patch versions between yours and mine, but terraform does semver, so I certainly hope not.  :)

[2018-03-07 21:14] klausitto commented on #1138
@ndmckinley
I'm building "deployer" using docker. So It's easy for me to use any terraform version I wish. You may try using docker image as well with the latest version. I suspect bug in latest version. Probably your version doesn't have this bug.

[2018-03-07 21:17] ndmckinley commented on #1138
That would certainly be interesting!  I'm testing that theory now.

[2018-03-07 21:19] pbzdyl commented on #1163
According to [GKE API reference initialNodeCount](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters.nodePools#NodePool) is mandatory thus I think it shouldn't be deprecated in terraform-provider-google. It's value has to be within auto-scaling range.

If it's not present in tf configuration and auto-scaling is used then it could be defaulted to [`mi

[2018-03-07 21:28] ndmckinley commented on #1138
Sorry!  Still no repro.

[code]

Can you post debug logs?  Maybe we can see what's going wrong from there.

[2018-03-07 22:01] smileprem commented on #60
Thanks, @rosbo . Just in case anyone is looking to manage cloud datastore indices using terraform, here is what I did.

This needs an ENV variable TF_VAR_GOOGLE_APPLICATION_CREDENTIALS pointing to the location of the Service Account JSON file.

Anytime the `index.yaml` file is updated, the below code will be executed.

[code]

[2018-03-07 22:09] klausitto commented on #1138
I don't know how... but I switched back to 0.11.3 and everything works fine. But I swear... I tried multiple times (not concurrently) to spin up cloudsql - and it failed. So my user wasn't created and even error in CloudSQL log appeared like "Unexpected error".

[2018-03-07 22:51] ndmckinley commented on #1138
I'm going to chalk it up to intermittent server-side errors and close the issue.

[2018-03-07 22:51] #1138 closed

[2018-03-08 02:04] Farhie opened #1164 "Failure to create resilient background functions (i.e. retry on failure)"
Hello,

We are triggering CloudFunctions upon new messages being inserted in to a PubSub topic. The team spent time investigating why the CloudFunctions were not being re-invoked upon failure. Turns out we can't configure the `retry on failure` property of Background CloudFunctions. Can a retry upon failure parameter be added to `google_cloudfunctions_function`. Or are we missing something in the

[2018-03-08 10:02] james-masson commented on #1160
Apologies for not finding #844 - it is a similar use case.

Unfortunately, the solution you mentioned wouldn't work for me. I want the ```initial_node_count``` to be significantly higher than ```min_node_count``` and close to the ```max_node_count```.

This initial capacity boost and multiple nodepools is the only way I've found to make the upgrade process close to seamless.

The reason I have blu

[2018-03-08 10:21] psalaberria002 opened #1166 "Provider project not used in google_container_cluster"
### Terraform Version
Terraform v0.11.3
+ provider.google v1.6.0

### Affected Resource(s)
Please list the resources as a list, for example:
- google_container_cluster

Other resources get the project from the provider configuration.

### Terraform Configuration Files
[code]

### Expected Behavior
If project is not provided in google_container_cluster, the provider project is used.
https://www.ter

[2018-03-08 11:54] psalaberria002 commented on #1166
Enabling the Kubernetes API in the Terraform project fixed the issue. Is this the expected behavior?

[2018-03-08 14:10] paultyng commented on #1160
So you are saying something similar to how ASG's work on the AWS provider (https://www.terraform.io/docs/providers/aws/r/autoscaling_group.html#wait_for_elb_capacity) is what you are looking for here? The ability to wait for a certain number of healthy nodes before moving on to dependencies?

[2018-03-08 14:12] james-masson commented on #1160
Exactly.

[2018-03-08 14:52] paddycarver opened #1167 "Make all resources authoritative"
Early versions of the Google provider had resources that tried to respect changes made outside of Terraform, instead of overwriting them. Later versions introduced an `authoritative` field that would turn this behavior off, overwriting changes outside Terraform. Both of these behaviors should be removed, so all resources just overwrite changes outside of Terraform, as that is how Terraform is mean

[2018-03-08 15:23] arturaslayerv commented on #638
+

[2018-03-08 15:58] wmuizelaar commented on #1163
I guess this is related to https://github.com/terraform-providers/terraform-provider-google/issues/844

[2018-03-08 16:03] wmuizelaar commented on #1101
Well, the `project_id` actually never becomes available again. At least, not for a whole lot longer then 30 days, in my experience. We actually questioned Google about this, and they told is that once it's gone, it's gone.

[2018-03-08 16:26] wmuizelaar opened #1168 "Add support for podsecuritypolicies in google_container_cluster"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- google_container_cluster

### Expected Behavior
This is a feature request to add support for PodSecurityPolicies on creating/updating a container cluster.

### References
This document describes what needs to be done
https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/proje

[2018-03-08 19:39] ashish-amarnath opened #1170 "Add support for regional GKE clusters in google_container_cluster"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.11.2 and upwards
+ provider.google

### Affected Resource(s)
Please list the resources as a list, for example:
- google_container_cl

[2018-03-08 21:50] kkallday commented on #1138
Yes I think this is due to server-issues. My team has a CI pipeline that runs two `terraform apply` at the same time in the same project. Each one is creating a CloudSQL instances, a few logical DBs, and users. They are name-spaced so that they won't collide. We've received various errors. Here is another type of error (in addition to the original post above):

[code]

Just as FYI @madamkiwi and I

[2018-03-08 23:27] danawillow commented on #1170
Unassigning myself because @ashish-amarnath mentioned in slack they were planning on implementing this.

[2018-03-08 23:34] rosbo commented on #1166
I also find this behavior surprising. My team filed an issue to the IAM team about it a little while ago. Not much we can do on the Terraform side to fix this.

Thanks for reporting and I am sorry that you wasted time on this...

[2018-03-08 23:34] #1166 closed

[2018-03-08 23:50] ndmckinley commented on #1138
I'm sorry to hear you're having these issues!  I've asked the Cloud SQL team to look into it, but I am going to leave this issue closed as it's not an issue with Terraform.

[2018-03-09 00:20] hashibot[bot] opened #1173 "400 Error when creating Google Cloud Function"
_This issue was originally opened by @kaifresh as hashicorp/terraform#17522. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

Error: Error applying plan:

1 error(s) occurre

[2018-03-09 08:49] sebglon commented on #397
same for me this day with 1.9.2-gke1 and terraform 0.11.3

[2018-03-09 11:46] Stono commented on #1170
@ashish-amarnath do we know when this is coming?  As regional clusters are now beta it'd be awesome to make use of them.

[2018-03-09 13:18] Stono opened #1174 "Add support for private Kubernetes clusters"
Hi there,
With Kubernetes 1.9.2 on GKE (see release notes: https://groups.google.com/forum/#!topic/google-cloud-sdk-announce/GGW3SQSANIc) there is now a private cluster flag, allowing us to deploy internal ranges for the master:

[code]

Would it be possible to add this to [google_container_cluster](https://www.terraform.io/docs/providers/google/r/container_cluster.html) ?

[2018-03-09 15:13] c4po opened #1175 "add support for datasource google_compute_disk"
can we have a datasource for google_compute_disk?

[2018-03-09 15:35] #1175 closed

[2018-03-09 16:03] darrenhaken commented on #1174
I'll pick this up

[2018-03-09 17:47] ashish-amarnath commented on #1170
@Stono I don't have an ETA at the moment. Based on our plans this might be a couple of weeks away.
I'll keep this issue updated.

[2018-03-09 19:05] danawillow commented on #549
Fixed in #1092

[2018-03-09 19:05] #549 closed

[2018-03-10 10:43] Farhie opened #1178 "Add IAM support at the database level for Spanner"
Hi,

I would love to see the addition of a google_spanner_database_iam_policy resource to manage IAM policies on Spanner Databases. We are currently having to bind Spanner permissions at the project level which provides far too much access.

Following is an example of what this could look like setting an IAM policy on a Spanner database:

[code]

[2018-03-11 10:33] ssaqua opened #1179 "Support for new Cloud Functions Storage trigger events"
The current `providers/cloud.storage/eventTypes/object.change` trigger event type is marked as legacy with new finer-grained storage triggers available:

- `google.storage.object.finalize`
- `google.storage.object.delete`
- `google.storage.object.archive`
- `google.storage.object.metadataUpdate`

https://cloud.google.com/functions/docs/calling/storage#legacy_cloud_storage_triggers

After February

[2018-03-12 00:46] ashish-amarnath commented on #1170
@danawillow I was able to put together an initial set of changes for this. I've opened a WIP PR at https://github.com/terraform-providers/terraform-provider-google/pull/1181 hoping to get some initial feedback on the approach.

[2018-03-12 16:09] migibert opened #1183 "Unable to switch address from an instance to another"
Hi there,

I am facing some problems when switching google_compute_address resource from an instance to another.

My use case is pretty simple: we have an instance with a public IP and we want to update it without downtime (but for simplicity, we don't want to set up a load balancer or something like that). So we created a second instance using terraform.

Now, our two instances are tested and cor

[2018-03-12 16:15] wmuizelaar commented on #1170
I guess this is doubling with https://github.com/terraform-providers/terraform-provider-google/issues/829 ?

[2018-03-12 16:41] #1104 closed

[2018-03-12 17:42] ndmckinley commented on #1146
Wanted to let you all know they're still working it internally.

[2018-03-12 20:08] danawillow opened #1184 "`google_sql_user` id is not necessarily unique"
We store the IDs as "instance/name", but users with the same instance/name pair can exist with different hosts.

As far as I can tell, there are no user-visible effects of this. However, it does make our import tests flaky because they expect that IDs are unique. I also wouldn't be surprised if other parts of Terraform assume that IDs are unique as well.

Sample failure:
[code]
In this test, the "

[2018-03-12 20:16] ndmckinley commented on #1173
Hi,

I can't reproduce with the information provided.  When I use your config with a hello world `index.js` zipped up into `index.zip`, it succeeds:

[code]

There may be some mistake with the way that the code is provided?  Please reopen if you can provide more information, especially if you can provide the .zip.

[2018-03-12 21:29] ndmckinley commented on #1144
I've changed my mind!  @dasch has had a better idea by starting https://github.com/terraform-providers/terraform-provider-google/pull/1113, and the right move is probably to make this field `ForceNew` but to support a detailed system of diffs on the new fields introduced there.

[2018-03-12 23:55] benbro opened #1186 "Change allow_stopping_for_update from true to false"
It should be possible to change the "allow_stopping_for_update" field without restarting the server if all other fields like machine type aren't changed.

### Terraform Version
Terraform v0.11.3
+ provider.google v1.6.0
+ provider.local v1.1.0

### Affected Resource(s)
- google_compute_instance

### Terraform Configuration Files
[code]

### Expected Behavior
The field should change without restart

[2018-03-13 00:01] danawillow commented on #1186
Hey @benbro, I think this was caused by the issue that #1130 fixed. We just released that fix today- can you try upgrading to 1.7.0 and seeing if that helps?

[2018-03-13 00:04] benbro commented on #1186
It is fixed in 1.7.0.
Thank you for the fast response.

[2018-03-13 00:04] #1186 closed

[2018-03-13 00:33] kaifresh commented on #1173
Hey there, unfortunately I'm still getting the error. Here's the zip, containing my code & the terraform file.  Reinstalling terraform also failed to solve the problem...
[zipped_cloudfunction.zip](https://github.com/terraform-providers/terraform-provider-google/files/1804998/zipped_cloudfunction.zip)

[2018-03-13 01:09] ndmckinley commented on #1173
I tried it with your zip file and:

[code]

Can you attach debug logs of your run?

[2018-03-13 05:03] kaifresh commented on #1173
Sure thing, here they are:

[terraform.log](https://github.com/terraform-providers/terraform-provider-google/files/1805529/terraform.log)

[2018-03-13 17:36] ndmckinley commented on #1173
Very interesting.  This is not making a lot of sense to me yet!  What's your provider version?

[2018-03-13 17:40] snowsky commented on #71
I understand. It seems it is a chicken or eggs issue. :) Let me close the issue for now.

[2018-03-13 17:46] #71 closed

[2018-03-13 18:20] ndmckinley commented on #1173
Got it.  You're sending the request to `australia-southeast1`, which is not possible: Cloud Functions is only supported in `us-central1`:
https://cloud.google.com/about/locations/?region=asia-pacific#region

![image](https://user-images.githubusercontent.com/605324/37361506-4ef7bade-26b0-11e8-9060-e255997004bf.png)
![image](https://user-images.githubusercontent.com/605324/37361539-5f386efc-26b0-11

[2018-03-13 18:20] ndmckinley commented on #1173
There may still be a bug here, but it'd be a bug in our validation or region auto-selection - I don't see any region specifier in your config.

[2018-03-13 18:35] ndmckinley commented on #1173
Aha!  Got it!  We aren't validating that the result that comes back from `getRegion` is okay for cloud functions.  I'm fixing that right now.

[2018-03-13 18:45] #844 closed

[2018-03-13 18:45] #1160 closed

[2018-03-13 18:45] #1163 closed

[2018-03-13 19:11] #1173 closed

[2018-03-13 19:13] ndmckinley commented on #1183
That makes sense!  You should definitely be able to do that, but from terraform's perspective, of course, this is a cross-resource unstated dependency.  It doesn't know that it needs to wait for the `instance-1` change to finish before attempting the `instance-2` change.  Let me see what I can do.  :)

[2018-03-14 01:17] ndmckinley commented on #1183
Hm, interesting - when I remove the `nat_ip` section from `instance-1`, it doesn't schedule `instance-1` for a change.  Wonder what's going on there!  I'm on it.

[2018-03-14 01:33] ndmckinley commented on #1183
Ah!  It needs something else to change to.  Okay, here's my solution: you use `depends_on` to make sure that this change happens in the order you're hoping for, like so:

Step 1:
[code]

Step 2:
[code]

And what will happen is that `instance-1` will drop `address`, where `instance-2` will wait for the `instance-1` change then pick up `address`.  If you want to swap them back in the future, you do

[2018-03-14 01:33] #1183 closed

[2018-03-14 01:35] ndmckinley commented on #1183
One more note to help validate the solution: this is the output you get from Terraform when you make those swaps:

[code]

[2018-03-14 16:20] hashibot[bot] opened #1191 "Terraform destroy does not stop dataflow jobs"
_This issue was originally opened by @kaifresh as hashicorp/terraform#17578. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
Terraform v0.11.3
+ provider.google v1.7.0

[code]

### Terraform Configuration Files

[code]

### Debug Output

###

[2018-03-14 19:12] lawrenae commented on #1128
thanks @danawillow -- I do think thats what I want.  Essentially my thinking is that "org level" iam config should be overwritten by terraform so as to "reset" any customization of such config outside of terraform -- that is, if it isnt configured in terraform, it didnt happen :)

No doubt, it would be a dangerous thing to use, however

[2018-03-14 19:23] lawrenae opened #1193 "add support for a google_project_organization_policy resource"
I'd like to be able to do the equivelant of the following command in terraform:

[code]

The bigger use case is to define an org policy at a folder level like so:

[code]

and then be able to "override" it on a per project basis:
[code]

Thoughts?  I'd be interested in alternatives to solving this problem, or implementing the solution in the provider, so please let me know.

Thanks!

-- Andy

[2018-03-14 20:10] ndmckinley commented on #1191
@kaifresh I'm sorry this isn't working for you!  Can you send debug logs along so that I can try and trace the problem?  In the meantime, I'm going to take a stab at it with a quick PR to only remove the job from state if it's actually cancelled.

[2018-03-14 20:23] ndmckinley commented on #1128
By analogy to https://github.com/terraform-providers/terraform-provider-google/issues/843 / https://github.com/terraform-providers/terraform-provider-google/pull/1190, I think this can probably be done by ignoring defaults and placing big warnings on the docs page.  I'll go do that real quick and we can discuss on the PR.

[2018-03-14 21:00] #1168 closed

[2018-03-14 21:11] ndmckinley commented on #1191
Aha!  In writing that PR I found what I believe to be the problem.  :)

[2018-03-14 21:13] amoiseiev commented on #1101
As @colin92 mentioned above, the right way of handling it appears to be adding some extra logic, maybe on exception, to check if lifecycleState of the project is "DELETE_REQUESTED" and then calling "undelete" REST endpoint.

Additional info:

https://cloud.google.com/resource-manager/reference/rest/v1/projects#Project
https://cloud.google.com/resource-manager/reference/rest/v1/projects/undelete

[2018-03-14 21:47] danawillow commented on #763
@beenanner did you ever have an `attached_disk` block in your config for this resource? Can you also show me what the output of `terraform show` is for it? (feel free to hide any sensitive information)

[2018-03-14 22:21] #1128 closed

[2018-03-14 22:22] ndmckinley commented on #1128
I also want to let you know that we don't have any way to acceptance test this resource - we can't create organizations programmatically and our test org is administered by hand, so running this in a real live test is guaranteed to cause damage.  Import is the only thing we can test without destructive effect, and that does work correctly.

[2018-03-14 22:27] kaifresh commented on #1191
Oh awesome! Do you still need the debug logs?

[2018-03-14 22:31] ndmckinley commented on #1191
Wouldn't hurt - it'd help me be certain that I've found the right problem - but I'm feeling moderately confident I've fixed it, so if you're not at your machine or in the wrong environment or what have you, feel free to wait for the merge and re-open if I haven't fixed it.  :)

[2018-03-14 22:47] kaifresh commented on #1191
Ok here you go. This contains both a `terraform apply` and a `terraform destroy`. Interestingly, when I called `destroy` I got a response of: "Destroy complete! Resources: 0 destroyed."

[terraform.log](https://github.com/terraform-providers/terraform-provider-google/files/1813388/terraform.log)

[2018-03-14 23:16] ndmckinley commented on #1191
Thanks!  I do think that what I've got will solve that.  Strangely, it's actually the refresh that removes your job from terraform state, not the destroy, because the job was in state `FAILED` when the refresh happened.

[2018-03-14 23:18] kaifresh commented on #1191
It could be in a failed state because I didnt provide all the required options. I copied the DataFlow deployment to a separate workspace so that the log wouldn't be too crazy.

[2018-03-15 10:38] f-f commented on #860
+1 for this, I also just hit it.

[2018-03-15 14:50] amoiseiev commented on #1105
Implemented in #1110. Closing

[2018-03-15 14:50] #1105 closed

[2018-03-15 18:15] #1131 closed

[2018-03-15 18:27] nickjacques commented on #1140
We have a use case for Private Interconnect (still in Alpha) and would like to use Terraform to create/manage state for these objects as well. Like many network constructs (networks, subnets, etc), we do not expect to spin up/down these types of resources frequently, but rather would like to have the config and state stored for DR purposes.

Regardless of external state (ordering the physical inte

[2018-03-15 18:32] nickjacques commented on #1101
Assuming "project-a" existed and was deleted, would it make sense for the workflow to look like this?

- `terraform apply` to create the project using default values: fails, due to namespace collision (project already "exists" but is in an inactive [pending deletion] state). The `apply` fails/exits 1.
- `terraform apply` to create the project, with a property key `undelete: true`, which will cause

[2018-03-15 18:43] jravetch commented on #1140
I fully second @nickjacques request.  I am also very interested in seeing Terraform GCP provider have the ability to add interconnect resources, as well as, attach them to specific VLANs.

[2018-03-15 19:20] chiefy commented on #1101
@nickjacques I like that. I don't mind the control parameter since GCP projects are not truly ephemeral.

[2018-03-15 19:59] paddycarver commented on #1140
Thinking this through, I'm going to equate it to a _reaaaaalllly_ annoying billing account or organization; we need one set up to run some of the tests, but we can't (AFAIK) set one up with the test framework, we need to do it manually. To that end, I'd say passing in the pre-existing interconnect resources would be the way to go, but the question of how expensive and maintenance-heavy it is to es

[2018-03-15 20:17] paddycarver commented on #51
Looks like #1137 has been merged, thanks @ndmckinley! Closing this out.

[2018-03-15 20:17] #51 closed

[2018-03-15 20:59] paddycarver opened #1203 "Remove deprecated attributes"
When we release version 2.0.0, we should make sure to remove any fields and attributes that are deprecated. This issue exists to track those fields and attributes, so we can ensure they're all removed for 2.0.0.

* [x] `google_compute_instance.network_ip`
* [x] `google_compute_instance.create_timeout`
* [x] `google_project_iam_policy.authoritative`
* [x] `google_project_iam_policy.disable_project`

[2018-03-15 21:50] #860 closed

[2018-03-16 00:13] nickjacques commented on #956
I'm currently working on this; I have the create/update code for instance resources finished and am writing tests for it now. Expect to see a PR linked to this issue soon!

[2018-03-16 00:13] nickjacques commented on #956
@danawillow not sure if it's allowable to set non-Googlers as assignees, but if that's not a problem, feel free to tag me!

[2018-03-16 00:24] danawillow commented on #956
Looking forward to it! GitHub only allows setting maintainers as assignees so just claiming it in a comment like you did is about the best we can do now.

[2018-03-16 00:30] nickjacques commented on #956
Right on! I'll try to knock out the tests today or tomorrow. I'll put up a WIP PR later this evening and xref this issue!

[2018-03-16 18:57] #956 closed

[2018-03-16 21:01] a13x212 commented on #680
@davidquarles could you post the utils.sh also?

[2018-03-16 22:32] #1191 closed

[2018-03-17 01:29] morgante opened #1213 "Add operation to wait for MIG resize before completion"
### Terraform Version
`Terraform v0.11.2`

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_instance_group_manager
- google_compute_region_instance_group_manager

### Terraform Configuration Files
[code]

### Expected Behavior
When I change the target size of a MIG, update the instance template, or otherwise change the instance group property, I expect th

[2018-03-18 13:20] pwhn opened #1214 "terraform apply throws Error 409: alreadyExists when re-creating google_kms_key_ring"
### Terraform Version
[code]

### Affected Resource(s)
- google_kms_key_ring

### Terraform Configuration Files
[code]

### Expected Behavior
GCP resources `google_kms_key_ring` and `google_kms_crypto_key` can't be deleted. This is by design. But if they already exist, terraform should skip their creation and not break the deployment.

### Actual Behavior
When resource `google_kms_key_ring` alread

[2018-03-18 17:53] jstephenson opened #1215 "It should be possible to change the description of a google_dns_managed_zone even if it's not empty?"
### Terraform Version
[code]

### Affected Resource(s)
- google_dns_managed_zone

### Terraform Configuration Files
**From**
[code]
**To**
[code]

### Expected Behavior
I would have thought it'd do what's necessary to recreate the resource, including emptying it as necessary?

### Actual Behavior
`Error deleting DNS ManagedZone: googleapi: Error 400: The resource named 'example-com' cannot be dele

[2018-03-19 00:24] pwhn commented on #1214
Looks like this has already been raised in https://github.com/terraform-providers/terraform-provider-google/pull/518#issuecomment-365080711 and answered in https://github.com/terraform-providers/terraform-provider-google/pull/518#issuecomment-365093782.

And the answer is to import `google_kms_key_ring` before calling `terraform apply`, https://www.terraform.io/docs/providers/google/r/google_kms_k

[2018-03-19 00:24] #1214 closed

[2018-03-19 17:04] asaraseka opened #1218 "[feature request] Access to google_dataproc_cluster master/worker node IP"
### Terraform Version
[code]
### Affected Resource(s)
Please list the resources as a list, for example:
- google_dataproc_cluster
### Expected Behavior
Be able to access to IP addresses for created VMs (master and workers).
That would be useful if (like in our case) you want to create DNS records for created VMs
### Actual Behavior
Now we can only get list of names for instances:
`cluster_config.m

[2018-03-19 18:59] rowanjacobs commented on #22
We're still seeing this issue, with provider version 1.7.0:

[code]

[2018-03-19 19:01] ishashchuk opened #1220 "Support rolling updates for regional instance group manager"
Add support for rolling update functionality for regional IGM:
https://cloud.google.com/compute/docs/instance-groups/updating-managed-instance-groups#updating_a_regional_managed_instance_group

This is a follow up to [this closed issue](https://github.com/terraform-providers/terraform-provider-google/issues/51), where similar functionality was implemented to IGM

[2018-03-19 19:05] rameshvenk commented on #1157
+1 for this as well. We are trying to figure out if a object within a storage bucket exists, but currently there seems to be no way to do that within the provider. This would help us greatly in our consul deployments

[2018-03-19 19:05] ishashchuk commented on #1220
This issue can be assigned to myself, since we are committed to have this functionality implemented for both rIGM and IGM. Rolling update for IGM has been already merged into master and we are planning to use similar approach for rIGM using the feedback we've received on that MR.

[2018-03-19 21:19] danawillow commented on #1215
Hey @jstephenson, thanks for the report!

I think the `description` part here is a bit of a red-herring. It sounds like what you want is that deleting a `google_dns_managed_zone` from Terraform empties its record sets as well, right? We can make that happen, but first I want to check on the use case. If you manage both your managed zone and your record sets with Terraform and interpolate them corr

[2018-03-19 22:38] jstephenson commented on #1215
@danawillow Yes indeed – the more general form of this issue would suggest that it should be possible to change any attribute of a Cloud DNS resource and have the provider figure out how to apply it successfully, whatever steps that might reasonably require. Habits of a lifetime cause me to open every bug with a specific, reproducible use-case!

Your proposed flow does indeed work for me thank you

[2018-03-19 23:37] #1161 closed

[2018-03-20 00:03] danawillow commented on #1215
Glad to hear it worked!

[2018-03-20 17:16] rickypai opened #1225 "How to add bind a role to service account?"
Hi, thank you for maintaining this project to allow GCP be used on terraform and potentially looking at this issue.

I'm trying to follow the [guide](https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine) to connect GKE applications to Cloud SQL, but instead of using the console `gcloud` to create the necessary service accounts and binding, using terraform with very limited success.

I

[2018-03-20 18:25] danawillow commented on #1225
Thanks @rickypai for the detailed report! The IAM resources are tricky to get right, and we're still thinking about how to make it clearer which to use in what situations.

In your case, you should be looking at the `google_project_iam_binding` resource- similar to how your gcloud command was `gcloud projects add-iam-policy-binding`. The `google_service_account_iam_binding` resource corresponds to

[2018-03-20 20:54] nickjacques opened #1228 "[new resource] Support SSL Policies"
Now that [SSL Policies](https://cloud.google.com/compute/docs/load-balancing/ssl-policies) have [been released](https://cloudplatform.googleblog.com/2018/02/announcing-SSL-policies-for-HTTPS-and-SSL-proxy-load-balancers.html), let's support them in the TF provider so that teams can perform CRUD ops on SSL Policies.

Not in scope (separate issues/enhancements):
- add SSL Policy support to Target HT

[2018-03-20 20:56] nickjacques opened #1229 "[enhancement] Add SSL Policy support to Target HTTPS Proxies"
Now that [SSL Policies](https://cloud.google.com/compute/docs/load-balancing/ssl-policies) have [been released](https://cloudplatform.googleblog.com/2018/02/announcing-SSL-policies-for-HTTPS-and-SSL-proxy-load-balancers.html), let's add SSL Policy support to Target HTTPS Proxies.

Parent issue for creating SSL Policy resources is #1228.

[2018-03-20 20:57] nickjacques opened #1230 "[enhancement] Add SSL Policy support to Target SSL Proxies"
Now that [SSL Policies](https://cloud.google.com/compute/docs/load-balancing/ssl-policies) have [been released](https://cloudplatform.googleblog.com/2018/02/announcing-SSL-policies-for-HTTPS-and-SSL-proxy-load-balancers.html), let's add SSL Policy support to Target SSL Proxies.

Parent issue for creating SSL Policy resources is #1228.

[2018-03-20 21:08] tomwilkie opened #1231 "panic: interface conversion: interface {} is nil, not map[string]interface {}"
I get this error when I try and apply this config:

[code]

Version terraform-provider-google_v1.7.0_x4

[code]

[2018-03-20 21:20] #1213 closed

[2018-03-20 21:32] paddycarver commented on #1231
I traced this a bit, the error is in line 467 of `resource_compute_backend_service.go`, but I see @danawillow has assigned herself, so I'll drop this here and then back away. :)

[2018-03-20 21:53] danawillow commented on #1231
lol @paddycarver too slow 😛

@tomwilkie just curious (while I work on a fix), what's your use case for setting both fields to the empty string?

[2018-03-20 22:38] rosbo opened #1233 "google_project_services project field should be optional default to provider project"
The `project` field for the `google_project_services` is required.

This field should be optional and defaults to the provider-level project.

See code:
https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_google_project_services.go#L24

[2018-03-20 22:41] #1231 closed

[2018-03-21 06:51] endemics opened #1236 "[enhancement] Add support for log-based metrics"
Hi,

We are planning to use [log-based metrics](https://cloud.google.com/logging/docs/logs-based-metrics/) to create counter metrics from application logs or google cloud API logs (such as reported errors for Cloud KMS Decrypt calls), and unless mistaken this is not yet supported in terraform.

I believe such terraform resource would be using the API detailed in https://cloud.google.com/logging/do

[2018-03-21 07:40] ean opened #1237 "gRPC Endpoints configuration is never equal to existing resource"
Hi there,

### Terraform Version
Terraform v0.11.3

### Affected Resource(s)
- google_endpoints_service

### Terraform Configuration Files
[code]

### Debug Output
NA

### Expected Behavior
When applying or planning with the same input data, the resource should not be modified.

### Actual Behavior
The protoc_output field is always modified even if the input file is the same.

### Steps to Reprodu

[2018-03-21 08:30] ArchiFleKs commented on #22
I'm having the same error today when creating user on a newly created database:

[code]

[2018-03-21 09:48] Stono commented on #1174
@danawillow, @darrenhaken won't be picking this up - it was an error and he wrote it on the wrong thread because i linked him the wrong issue :-)

[2018-03-21 10:23] hawksight commented on #1000
Apologies for a long silence but I think this can be closed now.

I no longer seem to be able to reproduce this as I have been building / tearing down a dev cluster and have no had the error appear.
Checked in compute and the instance groups are removed appropriately. So in this case It may have just been something on the google end perhaps.

[2018-03-21 11:44] lenartj commented on #1174
Funny it happened like that, I am actually interested in picking this one up as it is needed for a project.

[2018-03-21 14:06] Stono commented on #1174
Please do!

On 21 Mar 2018 11:44 am, "Janos Lenart" <notifications@github.com> wrote:

[2018-03-21 15:11] stevehayes commented on #1164
Hey Ninjas!

My team is also experiencing this same issue and it is a blocker for us. Is there anything we can do to escalate or expedite this enhancement? I didn't find anything in the docs the indicated we had misconfigured anything. HALP!

[2018-03-21 15:59] paddycarver commented on #1000
Hm. Weird. I'll take a closed issue, though! Let us know if it resurfaces. :) Thanks for chiming back in!

[2018-03-21 15:59] #1000 closed

[2018-03-21 17:27] natalysheinin opened #1238 "Support GKE cluster labels for google_container_cluster"
### Terraform Version
Terraform v0.11.7

### Affected Resource(s)
- `google_container_cluster`
Currently a provisioner needs to be created to do this operation for us. This is an important feature because once its included in the cluster configuration, we would need to recreate every cluster since cluster label creation/modification causes a cluster recreate. Better to have sooner than later if po

[2018-03-21 17:40] morgante opened #1239 "Add support for restoring default organization policies"
### Terraform Version
`Terraform v0.11.2`

### Affected Resource(s)
Please list the resources as a list, for example:
- google_organization_policy
- google_folder_organization_policy

## Feature Request
I'd like to be able to restore default policies lower in the organization hierarchy, using the [restoreDefault](https://cloud.google.com/resource-manager/reference/rest/v1/Policy#restoredefault) co

[2018-03-21 20:02] danawillow commented on #1237
@ndmckinley you have more context on endpoints than I do. Is there anything about this that jumps out at you? If not I can take a look and see if I come up with anything.

[2018-03-21 21:00] lenartj commented on #1174
Just an update. I have a working prototype of this change. Tomorrow I will start adding some PRs and link them to this issue.

- [x] Proof of Concept
- [ ] Submit PR to update vendor
- [ ] Fix the tests
- [ ] Add some sanity checks
- [ ] Submit PR to add `private_cluster` and `master_ipv4_cidr`

[2018-03-21 21:34] danawillow commented on #1046
So we do check that the instance exists before we detach the disk from it, and at the time that we call detach, the instance still exists. However, the operation is asynchronous, and so while we're waiting for it to return, the IGM deletes the instance and our operation fails.

I think the best way forward is just to check the return error from the detach call, and if it's a 404 ignore it.

[2018-03-21 22:57] danawillow commented on #962
Hey @greenhua, can you confirm whether you're still having the issue? Thanks!

[2018-03-21 23:01] danawillow commented on #623
`host` is now optional as per #1066. Closing this issue, but if you're still having issues please feel free to open a new one!

[2018-03-21 23:01] #623 closed

[2018-03-21 23:37] danawillow commented on #41
I'm going to go ahead and close this issue since it's pretty old, the user reported that it started working, and our tests do cover this case and consistently pass. If anyone else has a similar problem, please feel free to open a new one.

[2018-03-21 23:37] #41 closed

[2018-03-21 23:48] danawillow commented on #52
This is a fairly old issue but I thought I'd take a look and see what I could come up with.

As mentioned in the comments of the originally-filed issue, the sample configuration in question is trying to `remote-exec` on an instance template. Instance templates themselves don't have any sort of ssh ability; it's the instances created from those templates that do. Hypothetically I could see an FR to

[2018-03-22 07:03] pdecat commented on #988
Hi @danawillow, I just tried to revert the changes I made to workaround the issue two months ago ( https://github.com/terraform-providers/terraform-provider-google/issues/988#issuecomment-359842304 ), i.e. using `self_link` instead of `name` for image and subnetwork for these instances and the issue is still there.

When using `name`, after every terraform apply execution, the plan will still want

[2018-03-22 11:11] tomwilkie commented on #1231
No good use case; I was trying to optionally enable Iap in a module by leaving it blank. Thanks for the fix!

[2018-03-22 14:35] ndmckinley commented on #1237
Interesting!  Sure, I'll take a look.

[2018-03-22 16:58] michelleheh opened #1244 "Terraform destroy should not error if cloud sql instance is already gone"
### Terraform Version
Terraform v0.11.3

### Affected Resource(s)
- google_sql_database_instance

### Expected Behavior
When I run `terraform destroy` with a terraform state file that has `google_sql_database_instance` and its databases listed, while the instance has already been destroyed, it should be a no-op rather than an error.

### Actual Behavior
When I run `terraform destroy` with a terraf

[2018-03-22 18:08] nickjacques commented on #1244
Was the DB instance deleted out-of-band (e.g., via Cloud Console or gcloud, and not via Terraform)? If the resource was deleted out-of-band, what about running `terraform state rm <resource>.<name>` and then `terraform destroy`? I think the error is valid in the sense that the state is expecting an object to exist, but it does not.

[2018-03-22 20:14] danawillow commented on #988
@pdecat thanks! Do you have a configuration you'd be willing to share that can reproduce this? Ideally it would be something fairly small to make it easy to pinpoint what's going on. I'm pretty sure that this is an issue with tf core (since the issue is that it's showing a diff in the first place on something that should have been suppressed), but I'd rather not file the report there until I can s

[2018-03-22 20:22] danawillow commented on #1244
Nah, this is a real bug- when things are deleted outside of Terraform we remove them from state automatically. The issue here is that apparently Cloud SQL returns 403s when an instance isn't found instead of 404s (which we do handle). I'll confirm that that's actually the case, but if so the fix is probably to fix Cloud SQL rather than Terraform (since we do want Terraform to fail on actual 403s)

[2018-03-22 20:23] danawillow commented on #1244
But yes, the workaround that @nickjacques posted will definitely help in the meantime

[2018-03-22 20:57] michelleheh commented on #1244
Thank you, @danawillow, for acknowledging the bug. We run the `terraform destroy` in an automated fashion in our CI. While the manual workaround suggested by @nickjacques is better than our hack to edit the tfstate file, getting the bug fixed will be much appreciated in the long run. Many thanks!

[2018-03-22 23:57] nickjacques commented on #1244
Thanks @danawillow, I learned something (and checked to make sure the resource I'm writing follows those conventions as well)!

@michelleheh apologies if I sounded authoritative - I'm just an occasional contributor to this provider. I hope the `state rm` is a useful workaround until a fix is made available!

[2018-03-23 10:02] jgoclawski opened #1246 "GCE managed group instances' IPs as output"
Hi there,

### Terraform Version
Terraform v0.11.3
+ provider.google v1.6.0

### Affected Resource(s)
- google_compute_region_instance_group_manager
- google_compute_instance

### Terraform Configuration Files
[code]

### Expected Behavior
I would like to be able to discover managed instances IPs via Terraform and expose them as an output.
Use case:
Step 1 - create managed instances with Terraform

[2018-03-23 18:07] pdecat commented on #988
@danawillow I tried to put together a reproduction test case but failed to reproduce the issue outside of my actual complete stack so far.

I quickly compared the trace level outputs of `terraform plan` executions of those two setups to try identifying the cause but did not find anything suspect there yet.
Did the same with dumps of the terraform states, no luck.

I think I have to resort to add s

[2018-03-23 18:16] kevinconstantine opened #1248 "Can't generate service_account_key for default service account"
### Terraform Version
Terraform version: 0.11.5  342c529aa58d824f2f2ed1f6ec6118059876aad0

### Affected Resource(s)
- google_compute_default_service_account
- google_service_account_key

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/kevinconstantine/63f84ae02731d739b11cee42fe2af5ef

### Expected Behavior
I would expect that terraform would provide me with the n

[2018-03-23 18:18] ndmckinley commented on #1237
Okay, I've confirmed that this only happens for gRPC - OpenAPI doesn't have this issue.  Still not sure what's going on, but I'm investigating.

[2018-03-23 18:35] danawillow commented on #1248
Hey @kevinconstantine, are you positive that plan output lines up with that config? That particular error would happen because it's missing a resource called `google_service_account_key.default`, but it doesn't seem to be referenced anywhere within your config so I'm not sure why it's popping up. Can you double-check for me?

[2018-03-23 18:37] ndmckinley commented on #1237
And I've confirmed that our test case for gRPC doesn't do this either, sorry!  Our example is as follows:
[code]

And `protoc_output` is the result of compiling `bookstore.proto` from here: https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/endpoints/bookstore-grpc/bookstore.proto

So!  How much information can you provide about your setup to help me replicate it?  If you can't

[2018-03-23 18:51] kevinconstantine commented on #1248
Sorry @danawillow my mistake when I sanitized after-the-fact and missed something.  The config snippet has been updated to match the output gist.

[2018-03-23 20:09] ean commented on #1237
I was able to create a minimal example using `bookstore.proto` that reproduced the issue on my end.

https://github.com/ean/terraform-endpoints-modification-poc

The protoc version I am running is: `libprotoc 3.5.1`

[2018-03-23 20:10] ndmckinley commented on #1237
Fantastic!  Thank you!  I'll see what I can find out.

[2018-03-24 09:04] VincentHokie commented on #902
Just to confirm @czka , once you updated your port to one of

Did your setup work as expected?

[2018-03-24 13:24] Stono commented on #1174
Ah awesome.  Unfortunately I'm away on holiday for a week but I'll be sure
to test it out when I get back.

Thanks so much for your efforts
Karl

On Sat, 24 Mar 2018, 2:22 pm Janos Lenart, <notifications@github.com> wrote:

[2018-03-24 22:15] stvb opened #1251 "Error destroying IAM policy on pubsub"
Hi,

I'm trying to set-up a logging sink to pubsub. Apply seems to work, but destroy of the full configuration always yields an error:

google_pubsub_topic_iam_member.log-writer: Error applying IAM policy for pubsub topic "projects/logging-f/topics/gcplog": Error setting IAM policy for pubsub topic "projects/logging-f/topics/gcplog".

Is this an error in the configuration, or a bug ?

Thanks,
Stev

[2018-03-26 11:29] burdiyan commented on #680
GKE API now allows to specify node taint on creation of a node pool. It would be super cool to have this feature in the provider!

[2018-03-26 13:37] migibert opened #1252 "Feature Request: Support canary release for instance group manager"
Hi,

I am currently looking forward to use the recently added rolling upgrade operation to our managed instance groups.

I noticed Google supports Canary Release pattern by supporting two instance templates inside an instance group manager (https://cloud.google.com/compute/docs/instance-groups/updating-managed-instance-groups#starting_a_canary_update)

It would be great to add this to the google_i

[2018-03-26 16:22] PepperTeasdale opened #1253 "Feature request: support datastore entities"
### Terraform Version
0.11.5

We need to configure google datastore in multiple environments and we were hoping to use terraform to manage it. Unfortunately for now we can just create manually or write ad hoc scripts. Would love to see this resource supported :)

[2018-03-26 18:04] emilymye commented on #1251
Hi @stvb, do you mind posting your debug logs from when you run?

[2018-03-26 18:26] danawillow commented on #1248
All right, there are two separate things going on here:
1. The `service_account_id` field takes the key id in the form of a link. See https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts.keys/create. Our docs don't say that at all, so I can see why that would be confusing. I'll try to update it so that it can take an email address as well.
2. Regardless of that, apparently the d

[2018-03-26 18:30] stvb commented on #1251
[terraform.log](https://github.com/terraform-providers/terraform-provider-google/files/1849019/terraform.log)

I've made a clean set-up and captured a full log file. Seems to be caused by an internal server error from google API.

[2018-03-26 18:37] genevieve opened #1255 "Feature Request: DNS Managed Zone data source by DNS Name, not just Zone Name"
### Affected Resource
- data google_dns_managed_zone

### Expected Behavior
A dns managed zone can be found by it's dns name, not just the zone name.

### Actual Behavior
The only way to retrieve a dns managed zone with a terraform google data source is via the zone name. With the aws terraform provider, you retrieve the zone with the dns name.

Would you be willing to accept a PR for this functio

[2018-03-26 20:28] emilymye commented on #1255
We are always happy to accept PRs! However, this might not be a problem we can fix - it looks like https://cloud.google.com/dns/api/v1/managedZones/get requires name or ID, probably because it's possible to create two zones with the same DNS name under GCP (I just did it) :/

[2018-03-26 20:29] genevieve commented on #1255
Yeah, it probably wouldn't be ideal to get a list of the managed zones and then filter on the dns name instead of doing the api call with the zone name..

[2018-03-26 21:10] emilymye commented on #1251
With this config, my guess was that if we destroy the topic first, we're try to remove a member from a policy for a deleted resource later. However, I would expect this to return a 404, which I do get when I run with the given config:

[code]

This is something we should fix, but I'm not sure why you are getting such a weird error - is it consistently a 500?

[2018-03-26 21:25] emilymye commented on #1255
Honestly, the filter option isn't the worst idea  I'll be honest - since our team mostly come from the GCP side, I have no idea how AWS or AWS provider does things at all (is that what a aws_route_53_zone is?) but it's certainly possible.

However, I guess I'm actually confused as to why you need this in particular. Are you talking only about import? I'm not sure if there is another situation wher

[2018-03-26 21:29] genevieve commented on #1255
We have users that use the terraform templates for multiple environments that are all manually added as record sets to the same dns zone.

If we could use the data source for importing the existing dns zone that matches the domain you intend to use for X environment, we could add the record set for you to that zone instead of requiring manual intervention for every environment that needs to be a r

[2018-03-26 22:44] #1248 closed

[2018-03-26 23:25] temujin9 opened #1257 "Multiple zones in container_node_pool"
### Affected Resource(s)
Please list the resources as a list, for example:
- google_container_node_pool

### Terraform Configuration Files
[code]

Some details elided: ask if they might matter.

### Debug Output
https://gist.github.com/temujin9/cca208b29cc032f79960a2b1e680ea68

### Expected Behavior
I am expecting to be able to create a pool or collection of pools which cross regional boundaries,

[2018-03-26 23:53] #1228 closed

[2018-03-27 04:14] beenanner commented on #763
Sorry @danawillow for the late response let me take a look tomorrow and update if the instances are still around.

[2018-03-27 07:05] stvb commented on #1251
Indeed, it's not consistently a 500. That one might be caused by not waiting long enough for the resources to be provisioned.

 If i leave sufficient time between apply & destroy, i get the 'expected' 404.

[2018-03-27 10:43] AntonTumasov opened #1258 "Terraform tries to apply resource with network from default region"
### Terraform Version
Terraform v0.11.3
Provider.google v1.3.0

### Affected Resource(s)
Please list the resources as a list, for example:
- *google_compute_instance*
- *google_compute_subnetwork*
- *provider*

### Expected Behavior
I have subnetwork and instance resources with the same values and provider section in *variables.tf* with different value.

I expect instance being applied with overri

[2018-03-27 14:37] mathyourlife-fitbit commented on #1039
Is there a branch/fork somewhere with the work in progress on this, or just the gist?

[2018-03-27 23:25] #680 closed

[2018-03-27 23:41] #1251 closed

[2018-03-27 23:44] rosbo opened #1265 "Add support for DNSSEC in dns_managed_zone"
Affected resources:

* dns_managed_zone

Context:
https://cloud.google.com/dns/api/v1beta2/managedZones#resource

This feature is in beta.

[2018-03-28 00:23] emilymye commented on #1257
My understanding is that multizone clusters automatically replicate node pools you create in the primary cluster zone for the other zones (see [docs](https://cloud.google.com/kubernetes-engine/docs/concepts/multi-zone-and-regional-clusters#multi-zone)), and that you can't explicitly create or control the node pool for these additional zones.

[2018-03-28 00:36] temujin9 commented on #1257
That was it exactly. Thank you!

[2018-03-28 00:36] #1257 closed

[2018-03-28 17:16] theothermike opened #1267 "terraform crash when creating google_sql_database_instance"
using terraform-provider-google checked out and built on 3/28/2018 13:00:00 EST

### Terraform Version
Terraform v0.11.5

### Affected Resource(s)
- google_sql_database_instance

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/theothermike/3e78aa38815c944b567f336a288e4e89

### Panic Output
https://gist.github.com/theothermike/3e78aa38815c944b567f336a288e4e89

###

[2018-03-28 17:19] theothermike commented on #1267
updated gist link with crash.log:  https://gist.github.com/theothermike/3e78aa38815c944b567f336a288e4e89

[2018-03-28 17:36] tanner-bruce opened #1268 "Terraform fails to find existing kubernetes cluster with same name when removed from state"
### Terraform Version
[code]

### Affected Resource(s)
`google_container_cluster`

### Terraform Configuration Files
[code]
### Expected Behavior

Terraform sees that cluster already exists

### Actual Behavior

Terraform does not see that the cluster exists during plan and fails during apply

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `terraform

[2018-03-28 21:06] sl1pm4t commented on #1268
This is the expected behaviour of Terraform.
You can use `terraform import` to bring the cluster resource back into the state file, then Terraform knows the cluster exists and won't try to create on the next run.
e.g.
`terraform import google_container_cluster.mycluster us-east1-a/my-cluster`

[2018-03-28 21:39] zamir0109 opened #1269 "Add folder information retrieval by folder id"
### Terraform Version
Terraform v0.10.8

### Affected Resource(s)
- (data source) google_active_folder

## Feature request
We'd like to be able to retrieve the folder information by its id, actually that data source requires the display name and the parent (another folder or the organization), but it'll be a lot easier if we could retrieve the folder info by its id.

### Terraform configuration fi

[2018-03-29 07:28] pdaborowski-playtech opened #1270 "google_container_cluster import does not set required project variable"
### Version:
Terraform v0.11.5
+ provider.google v1.8.0

### Affected resources:
google_container_cluster

### Import resource:
## variant 1:
[code]
## variant 2:
[code]
## variant 3:
[code]
### Debug output:
https://gist.github.com/pdaborowski-playtech/97ebe7e5a6c04e6307e5b8db942e78b4

### Expected Behavior
tfstate with cluster resource expected

### Actual Behavior
Import fails complaining that

[2018-03-29 10:27] stevewolter commented on #1237
Running into the same issue for a Google-internal project in MUC. Happy to help with the testing.

[2018-03-29 14:35] #1268 closed

[2018-03-29 20:27] #633 closed

[2018-03-29 20:48] theothermike opened #1273 "google_container_cluster with custom service account is unable to pull from gcr.io"
### Terraform Version
0.11.5
1.8.0 of provider plugin

### Affected Resource(s)
google_container_cluster

### Terraform Configuration Files
[code]

[2018-03-29 22:20] danawillow commented on #1054
I tested this flow out with a build of the random provider with my changes and it works:

[code]
where originally, `name_prefix` was filled in and not name.

Imported `random_id.rand` with the following command:
[code]

The base64 encoding came from this script: https://play.golang.org/p/9KrkDoxRTOw
The value of "val" in the script came from running `terraform show` and looking for the value of `n

[2018-03-30 10:09] Stono opened #1274 "unable to GKE update node version when there are multiple pools"
Hi there,
We have quite a complex GKE setup which uses a `google_container_cluster`, and then 3x `google_container_node_pool` as well.

When we come to update the node_version today, we're getting this error:
[code]

So it looks like the google api is wanting you to specify which pool to upgrade so behind the scenes you'd need to iterate over each `node_pool` and one by one (as you can only do one

[2018-03-30 13:11] Stono commented on #1274
Linking https://github.com/terraform-providers/terraform-provider-google/pull/1266

[2018-03-30 14:08] zandersmith-wp commented on #1146
any updates on this @ndmckinley ?

[2018-03-30 14:20] hashibot[bot] opened #1275 "Provide `zone` as an exported attribute for google_compute_instance"
_This issue was originally opened by @jarv as hashicorp/terraform#17739. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]

### Feature request for google provider

Provide `zone` as an exported attribute

### Use-case

When creating goo

[2018-03-30 17:02] danawillow commented on #1274
Closing this since it's a duplicate of #633 and is already fixed by #1266 (which will be in the next release, likely next week but no promises)

[2018-03-30 17:02] #1274 closed

[2018-03-30 19:08] danawillow commented on #1275
Hey @jarv, I'm not totally sure I understand the issue. Can you explain why using the zone attribute on the resource (https://www.terraform.io/docs/providers/google/r/compute_instance.html#zone) doesn't work for your case and what you'd like to see instead?

[2018-03-30 20:16] smileprem commented on #335
Hi - How to achieve `authoritative` behavior with `google_project_iam_member` ?

[2018-03-30 21:44] danawillow commented on #1174
Fixed in #1250

[2018-03-30 21:44] #1174 closed

[2018-03-31 16:30] jarv commented on #1275
@danawillow specifically I would like zone as an _exported_ attribute.

For example, I  have a single google_compute_instance resource that create 20 instances spread across multiple zones in the same region.

Given that instance groups can only contain instances that belong in the same zone I need to take that list and filter it by the zone of the instance group.

This is exactly what you can do

[2018-03-31 17:36] vincepri opened #1278 "Support advanced routing in `google_compute_router`"
BGP Peers now support `CUSTOM` advertise mode, which is documented [here](https://cloud.google.com/compute/docs/reference/rest/v1/routers/insert).

Custom mode allows to set `advertisedGroups` and `advertisedIpRanges` which are really useful when connecting to external providers and to allow route summarization.

[2018-03-31 17:53] vinceprignano opened #1279 "Allow `google_compute_shared_vpc_service_project` to share only specific subnetworks"
In the current example of Shared VPC

[code]

the service account will inherit all subnets from the host project. From the Cloud Console UI it's possible to select only specific subnets to share. Adding support for this feature is useful in large organizations where a main network project own different subnets for different groups.

[2018-04-02 01:38] emilymye commented on #1258
Hi @AntonTumasov, can you provide the config you are using and debug logs? I'm not sure there is any region that we get from the provider for google_compute_instance, but possibly a seperate resource requires the region. For subnetworks, if you are using a different region than the given zone, you need to provide that zone or it will use the provider default (see [region parameter docs](https://ww

[2018-04-02 01:41] emilymye commented on #1273
Hi @theothermike, can you post your debug logs? (running `export TF_LOG="DEBUG"` before `terraform apply`). I don't have a lot of experience with the container registries but will try to debug.

[2018-04-02 17:34] andyshinn opened #1283 "Retrying on 503 errors?"
I am trying to run `terraform plan -detailed-exitcode` periodically as a CI job to detect when workspaces diverge. But I am noticing a lot of HTTP 503 errors that fail the job. I am wondering if these should be retried and this is considered a bug?

I am also noting that the 503 errors always seem to happen on `google_sql_user`:

[code]

### Terraform Version
[code]

### Affected Resource(s)
- goo

[2018-04-02 17:40] danawillow commented on #1275
Hey @jarv, I'm still not quite sure what you want to see changed. All attributes from all resources can always be referred to from other resources. The config you posted should work fine as-is (except that instances should be a list). Do you get an error message when trying to use it?

[2018-04-02 18:03] danawillow commented on #1054
Fixed in #1035

[2018-04-02 18:03] #1054 closed

[2018-04-02 18:05] jarv commented on #1275
Ah in that case this was a complete misunderstanding on my part as I thought that you only had access to attributes that were explicitly listed in the export section. I will give it a go so feel free to close this if that is the case. thanks!

[2018-04-02 18:09] ndmckinley commented on #1146
There's movement and people are working it, but it's still going to be a while - this problem is not unique to terraform, it's a general "creating multiple replicas at once" issue, which requires a general fix.

[2018-04-02 18:09] danawillow commented on #1275
Sounds good, glad I could help!

[2018-04-02 18:09] #1275 closed

[2018-04-02 18:18] rosbo commented on #1283
@danawillow Did you reach out to the Google Cloud SQL team about these 503? I remember you looked into it because this is causing flakiness for our acceptance tests.

[2018-04-03 13:22] markfra opened #1286 "Support for gcp bucket transfers"
Hi,

Currently it's not possible to create a bucket-transfer in combination terraform.
We would like to use transfers for various reasons, but mainly for automated backups.

### Terraform Version
0.11.1

### Affected Resource(s)
Please list the resources as a list, for example:
- resource_storage_bucket_transfer

### Expected Behavior

We would like to define transfers as a resource, for example:

[2018-04-03 16:38] andyshinn opened #1287 "Resource to create OAuth 2.0 credentials"
IAP support was added to `google_compute_backend_service` a while ago. But there isn't a way to create OAuth 2.0 credentials for it yet. It would be great if there was a resource to handle this so I can create IAP enabled backends where I don't have existing credentials.

### Terraform Version
[code]

### Important Factoids
I can't actually find any API for managing OAuth 2.0 credentials. I am not

[2018-04-03 17:58] rosbo commented on #1286
Hi @markfra,

Can you add a bit more details about your use case please? Which feature are you referring too? The resource you are listing above does not exist but you are talking about supporting import for it...

Thank you

[2018-04-03 19:51] rosbo commented on #335
You can't. `*_iam_member` resource are not authoritative by design.

Here is how each iam resources differ from each other:

`*_iam_policy`: Authoritative. Sets the IAM policy for an entity and replaces any existing policy already attached.
`*_iam_binding`: Authoritative for a given role. Updates the IAM policy to grant a role to a list of members. Other roles within the IAM policy for the entity

[2018-04-03 20:02] ndmckinley commented on #1237
I wanted to let you know that this does repro, so thanks for providing that great repro case.  I'm on it, and I'll keep you up to date with what I find.

[2018-04-03 20:26] rosbo commented on #1283
With the work in #1212, we will be retrying on 503. Thanks

[2018-04-03 20:26] #1283 closed

[2018-04-03 20:39] #1270 closed

[2018-04-03 20:56] smileprem commented on #335
Thanks @rosbo for the clarification

[2018-04-03 21:00] ndmckinley commented on #1237
Okay, it looks like terraform treats strings as UTF8, which can cause some munging to take place for things that aren't UTF8 characters.  Going to switch over to base64-encoded protoc_output - working on that now.  Should be quick.

[2018-04-03 21:25] rosbo commented on #335
You're welcome. We updated the docs in #1227 to make this clearer.

[2018-04-03 21:35] mikeraimondi opened #1289 "Support deploying Cloud Functions from source control"
As of the time of writing, `google_cloudfunctions_function` requires a `source_archive_bucket` and `source_archive_object`. I'd like to be able to create a function that deploys from source, as described [here](https://cloud.google.com/functions/docs/deploying/repo).

[2018-04-03 21:44] #403 closed

[2018-04-03 21:46] rosbo commented on #22
We added retry logic on 503 errors in #1212. The next release should fix the problem your are experiencing.

[2018-04-04 13:35] dkpat12 commented on #52
This feature would be extremely useful to me. I need to add a file (not a startup script, which I can use the metadata tag for) to all the instances in the managed group for their use during the startup script.

[2018-04-04 14:04] lloydcotten commented on #1286
+1 for this feature.  No so sure about the resource example in the OP, since a transfer consists of just one transfer job, not a list.  But yes would love to be able to configure this via terraform.

[2018-04-04 19:10] morgante opened #1291 "Add support for subnet IAM"
### Terraform Version
`Terraform v0.11.5`

### Feature Request
I would like to be able to apply IAM policies to a subnet via Terraform. This is most useful for sharing only specific subnets into a service project in XPN.

Equivalent gcloud command: https://cloud.google.com/sdk/gcloud/reference/beta/compute/networks/subnets/set-iam-policy

This would ideally introduce 3 resources (like existing IAM

[2018-04-04 19:11] morgante commented on #1279
Actually, under the hood there's not the ability to share specific subnets with a service project. Instead, that happens via IAM. Specifically, as per the [docs](https://cloud.google.com/vpc/docs/provisioning-shared-vpc#networkuseratsubnet), the process is to associate the service project with the host project and *then* share the subnets via IAM

I've opened #1291 to address this.

[2018-04-04 20:16] markfra commented on #1286
@lloydcotten you are correct. Within GCP its 1 spec per job. so it should not be a list (updated the example).

[2018-04-04 21:02] morgante opened #1292 "Deleting activated services on a project fails"
I'm trying to delete a module which both created a project and activated some services on that project, but it fails because the project gets created first.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- google_project_service

### Terraform Configuration Files
[code]

### Debug Output
Ping me privately if this is needed.

### Expected B

[2018-04-04 21:42] morgante commented on #1292
Also running into this with usage bucket export:

[code]

[2018-04-04 22:04] rosbo commented on #1292
We should add a field `disable_on_destroy` like we did for `google_project_service`.

Excerpt from the `google_project_service` documentation:

* `disable_on_destroy` - (Optional) If true, disable the service when the terraform resource is destroyed.  Defaults to true.  May be useful in the event that a project is long-lived but the infrastructure running in that project changes frequently.

[2018-04-04 22:25] morgante commented on #1292
Thanks @rosbo but I'm not sure that actually solves it since I'm already using `google_project_service` with the default parameter (`disable_on_destory` defaults to true).

[2018-04-04 22:48] rosbo commented on #1292
Ooops. I read too quickly and mistakenly read "google_project_services" for the resource you are using  because the name of your resource is "project_services"...

I believe the problem you are experiencing is caused by the fact that `google_project_service.project_services` doesn't have a `depends_on` relationship with the `google_project.folder` so Terraform tries to delete both at the same time

[2018-04-04 22:50] morgante commented on #1292
I'm curious why the dependency isn't being created automatically? Do you know why the transitivity isn't working when it passes through the locals variable first?

The dependency *did* work when the project was created since I didn't get any errors about trying to activate services on a non-existent project.

[2018-04-04 23:20] hashibot[bot] opened #1294 "Terraform crash on apply"
_This issue was originally opened by @tgjonestx as hashicorp/terraform#17783. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]
### Terraform Configuration Files
Can't tell which of many files is relevant

### Debug Output
See crash.log

[2018-04-04 23:33] tgjonestx commented on #1294
FYI - Not sure if this is relevant or not, but I'm storing the terraform state files in a GCP bucket.

[2018-04-04 23:37] rosbo opened #1295 "Reuse the same GOOGLE_FOLDER for our data source acceptance tests."
To avoid creating/deleting a bunch of folders, our tests for the google_folder and the google_active_folder datasource should reuse the same folder.

[2018-04-04 23:57] #1215 closed

[2018-04-05 00:44] danawillow opened #1296 "Ids on IAM binding/member create and import are different"
https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_iam_binding.go#L69 (name/role)
vs
https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_iam_binding.go#L127 (name)

Likewise for `iam_member`

Since we don't use the Id in the resource itself, this only causes issues when trying to do an `ImportStateVerify` in tests (

[2018-04-05 02:15] vinceprignano commented on #1279
You're totally right! I tested this in GCP Console myself and I was under the wrong assumption, I assume we can close this issue then :)

[2018-04-05 16:41] lawrenae commented on #1193
Closing this issue with the PR being merged

[2018-04-05 16:41] #1193 closed

[2018-04-05 20:33] catsby commented on #1292
I'm guessing it's because `google_project_service` depends on `locals`, which depends on `google_project`, so the dependencies are interpolated correctly for create.

I imagine the graph looks different for a complete destroy, IIRC that would read from state and plan to destroy everything, meaning it wouldn't consider the dependency on local et. al. I could be wrong though...

If I'm write, that w

[2018-04-05 21:52] danawillow commented on #1170
Fixed in #1181

[2018-04-05 21:52] #1170 closed

[2018-04-05 21:52] danawillow commented on #829
Added in #1181.

[2018-04-05 21:52] #829 closed

[2018-04-05 21:56] Stono commented on #1170
Eeek exciting.
Do you have a rough feeling for 1.9 release date?

On Thu, 5 Apr 2018, 10:53 pm Dana Hoffman, <notifications@github.com> wrote:

[2018-04-06 01:36] danawillow commented on #1170
@Stono released it today!

[2018-04-06 06:00] Stono commented on #1170
Rock star!  I'll give it a go later

On Fri, 6 Apr 2018, 2:36 am Dana Hoffman, <notifications@github.com> wrote:

[2018-04-06 07:41] ellmkay commented on #1287
Yes, this would be really helpful, or at least some documentation detailing how this can be handled externally from terraform if this is not added.

[2018-04-06 08:33] Stono opened #1300 "node_pools don't support regional clusters"
Hey,
We're trying to rebuild our clusters using the new regional clusters added in 1.9.0, however we use `google_container_node_pool` to add custom pools to our cluster.

The node pools however do not work against regional clusters:

[code]

**Proposal**
I think the [google_container_node_pool](https://www.terraform.io/docs/providers/google/r/container_node_pool.html) resource should be changed wi

[2018-04-06 08:45] Stono commented on #1300
@danawillow :-) I tried!

[2018-04-06 08:52] darrenhaken commented on #1300
I'll take this up @Stono

[2018-04-06 09:14] Stono commented on #1300
Thank you oh random stranger @darrenhaken who definitely doesn't work in my office :)

[2018-04-06 16:47] danawillow commented on #763
Thanks, that was exactly what I needed! Fix incoming.

[2018-04-06 17:22] danawillow opened #1302 "Some tests are importing without verifying"
We should do an audit to make sure all our import tests have `ImportStateVerify: true` or some equivalent that actually checks the import worked.

[2018-04-06 21:49] blackjid commented on #1267
Hi, I having a similar error

[code]

[2018-04-06 23:34] rosbo commented on #1164
Hi stevehayes@,

We always welcome contributions from the community, if you feel like taking a stab at it, I can review your PR promptly if you tag me on it.

More info here: https://github.com/terraform-providers/terraform-provider-google/blob/master/README.md#developing-the-provider

[2018-04-07 00:38] #1291 closed

[2018-04-07 00:40] #763 closed

[2018-04-07 07:31] darrenhaken opened #1306 "What IAM permissions do I need to give a role for developing the provider?"
I've picked up #1300 which is my first Google provider contrib but I've tried to run one of the tests and I receive this error:

[code]

Can anyone offer advice on what IAM permissions I'd need?

We have been using TF for a while and not seen this issue before.

[2018-04-07 14:47] techwolf359 opened #1307 "Add create timeout support for google_compute_snapshot"
Hello!

I'm trying to use google_compute_snapshot to take a snapshot of a source disk before creating a new disk from the just-created snapshot. Here's the basics:

[code]

Running apply, I get:

I tried to add this to give us more time to create the snapshot:

[code]

That results in an error:

I think adding create timeout support to the google_compute_snapshot would allow it the time to complet

[2018-04-08 01:05] sdouche commented on #1044
Hi,
Any update on this? The StackDriver Monitoring v3 API is now in beta, and it would be cool to use it with Terraform.

Regards.

[2018-04-09 07:58] Stono commented on #1306
@danawillow any chance you can help @darrenhaken and I resolve this so we can work on https://github.com/terraform-providers/terraform-provider-google/issues/1300 ?

It seems extremely strange as we've created a brand new project and created a service account with the following IAM roles:

  - Compute Admin
  - Compute Instance Admin (v1)
  - Compute Network Admin
  - Kubernetes Engine Admin
  - E

[2018-04-09 08:29] b4b4r07 commented on #444
Thank you for your development. This feature is what I want! BTW, can we manage ACL about IAP via terraform? As far as I see docs, it seems that it cannot be manage. https://www.terraform.io/docs/providers/google/r/compute_backend_service.html

[2018-04-09 09:56] Stono commented on #1306
I think we may have got to the bottom of this... will update soon!

[2018-04-09 13:54] #1134 closed

[2018-04-09 15:55] catsby commented on #1307
Hey all – the `timeout` is a feature that each resource must opt-in to, meaning a developer must add support for it where it's useful / reasonable.

For anyone looking to take a stab at it, AWS DB Instance implements time-outs for create, update, and delete

- https://github.com/terraform-providers/terraform-provider-aws/blob/2d4e976d2c149f049ebb3348d91d8bcc9c6654b5/aws/resource_aws_db_instance.go

[2018-04-09 18:14] AntonTumasov commented on #1258
variables.tf
[code]
instances.tf
[code]

network.tf

[code]
So, eventually I get 404 error like that
[code]

[2018-04-09 20:50] ndmckinley commented on #1307
I can add a timeout to that resource, sure.

[2018-04-09 21:10] danawillow commented on #1306
@darrenhaken @Stono any updates? You're right that I can't really tell what's going on without debug logs. I'm also inclined to agree that the 403 is likely a red herring, but I'd double check to make sure you're using the service account you think you are (it should say in the debug logs how you're authenticating)

[2018-04-10 07:00] vyckou opened #1312 "Add option to delete default VPC on the new project creation"
Hi,

This "issue" is more like a new feature, rather than a bug.

What I am missing so far in this provider is a capability to get rid off the default VPC, when creating a new GCP project and enabling "compute.googleapis.com" service API.

Google behalf of the requestor creates the default VPC and enables "Auto Network creation" option.
For our usecase we do not require to have a subnets in every

[2018-04-10 08:03] Stono opened #1313 "Multiple race condition issues in google_project and google_project_services"
Hi,
We were recently working on https://github.com/terraform-providers/terraform-provider-google/issues/1300 and were experiencing 403 errors when using our new "test" project.

This led us to raising https://github.com/terraform-providers/terraform-provider-google/issues/1306 for support however, upon further investigation it seems like the "test" project was being created with an incorrect IAM p

[2018-04-10 08:05] Stono commented on #1306
Closing this issue in favour of #1313 which highlights the issue was due to a bad IAM policy caused by race conditions in TF

[2018-04-10 08:34] darrenhaken commented on #1306
Closed

[2018-04-10 08:34] #1306 closed

[2018-04-10 09:34] shaharmor opened #1314 "Rolling upgrade - max_unavailable_fixed is not being set to 0"
Hi,

### Terraform Version
Terraform v0.11.6

### Affected Resource(s)
- google_compute_instance_group_manager

### Terraform Configuration Files
[code]

### Debug Output
I can't copy the debug output as it includes some stuff that we prefer not to share, but in the logs I see that the response from GCE is
[code]
While it should be:
[code]

### Expected Behavior
The correct max unavailable value b

[2018-04-10 09:54] bdronneau opened #1315 "Feature request: Cloud Armor"
Hi,

Thanks to provide GCP in Terraform. I am currently looking forward to use Cloud Armor and stop having IPs list in nginx.
For now, it's only a beta product, but maybe someone is already looking to integrate it.
There is no trace of armor in [google api go client](https://github.com/google/google-api-go-client/), so for now I've to wait before give a try develop something on this subject.

###

[2018-04-10 16:49] rosbo commented on #1258
Hi,

This issue was fixed and released in 1.5.0 and I see that you are using 1.3.0. Here is a link to the PR fixing it: #938.

If you are not ready to upgrade to the latest version of the provider, you can, as a workaround, use the `self_link` to refer to the subnetwork.

[code]

[2018-04-10 16:49] #1258 closed

[2018-04-10 17:42] #1307 closed

[2018-04-10 18:04] ndmckinley commented on #1312
Yeah, I see the frustration!  I wonder what we can do about this.  Let me see.  :)

[2018-04-10 18:37] andyshinn opened #1317 "allow_stopping_for_update causes wrong ephemeral IP state"
Not quite sure if this is considered a bug but definitely caused some confusion for us.

When resetting an instance it will retain its ephemeral IP. However, when stopping / starting and instance with an ephemeral IP address, it will get a new IP. The `allow_stopping_for_update` means that `network_interface.0.access_config.0.assigned_nat_ip` will be out of sync.

### Terraform Version
[code]

###

[2018-04-10 18:59] ndmckinley commented on #1313
Hi there!

Part 1: the API for enabling billing is marked as synchronous in the Cloud Platform docs, but if you're seeing some kind of propagation delay, I'll see what we can do about that.  Probably just have to add in a write-read loop instead of the simple write we've got now.  Sorry for the inconvenience!

---

Part 2: Definitely confusing!  `foo_iam_policy` is a very blunt instrument and ther

[2018-04-10 19:09] ndmckinley commented on #1314
It's correct that it's not possible to set `MaxUnavailable` to 0.  If you could set that, you'd be asking for a rolling update without taking any instances down, which of course can't be done.

Since that's not possible, what behavior would you expect to see here?  The existing behavior takes an approach I'm inclined to like, and the only alternative I can suggest is for terraform to present you w

[2018-04-10 19:11] shaharmor commented on #1314
This is incorrect. In the UI you can set MaxUnavailable when manually running a rolling update.
You can only set it to 0 if you set MaxSurge to a positive number, in which case a new server will be added before one is removed, always keeping your number of servers at the configured minimum.

[2018-04-10 19:14] ndmckinley commented on #1314
Aha, I see.  The API docs and the other docs disagree, and the behavior of the UI matches the other docs... since the UI uses the same API we do, I bet if we just sent along a `maxSurge: 1` / `maxUnavailable: 0` it would work, even though the docs say it shouldn't...  :)  Let me test that.

[2018-04-10 20:54] ndmckinley commented on #1314
Okay, looking at the code it seems that we already do.  I see that you can't share your debug output, but can you copy the `PUT` request we send to initiate the update?

[2018-04-10 21:05] shaharmor commented on #1314
Hm.. seems to be working now. I think I had to modify it to something other than 0 and then change back while in version 1.9

[2018-04-10 21:05] #1314 closed

[2018-04-10 21:42] ndmckinley commented on #1317
I agree with you that it might not be a bug - or, at least, in my opinion, it's not a provider bug.  The state does actually get updated - if you set an output for `network_interface.0.access_config.0.assigned_nat_ip` you'll see the new value there.  I've just tested with an instance (swapping instance size).  A second `terraform apply` should propagate those changes, but if it doesn't then that's

[2018-04-11 01:33] danawillow commented on #1315
Hey @bdronneau, we have Cloud Armor support via the security policy resource: https://www.terraform.io/docs/providers/google/r/compute_security_policy.html, which can also be referenced from backend services: https://www.terraform.io/docs/providers/google/r/compute_backend_service.html#security_policy. Did you have any other functionality in mind for Cloud Armor support?

[2018-04-11 06:44] Cidan commented on #444
@b4b4r07 Can you open a new issue to add ACL support? Thanks!

[2018-04-11 07:04] bdronneau commented on #1315
Hi @danawillow ,
I've missed this part, and it contains all I need to bootstrap Cloud Armor.
Many thank.

[2018-04-11 07:04] #1315 closed

[2018-04-11 12:49] Stono commented on #1313
Hey,
Thanks for the response.
I think you're right and there is a strange situation where google_iam_policy manages an entire policy but there are other providers, such as enabled_apis which result in that IAM policy being modified outside of terraform state....

Will think about it more, I'm half inclined to suggest not permitting the use of certain providers in the same project when they're know

[2018-04-11 17:57] ndmckinley commented on #1313
I like the thought, but unfortunately I don't think it's something we have the ability to do - I'm not aware of any terraform provider hooks where you can operate on the whole plan graph.

I'll try and get around to adding that loop soon, but glad you found something that works in the meantime.  :)

[2018-04-11 19:22] angelzamir opened #1321 "Error with service account id on google_service_account_iam_member"
### Terraform Version
v0.10.8

### Affected Resource(s)
- google_service_account_iam_member

### Terraform Configuration Files
[code]
Hello,
Something weird is happening on the resource above. In this case var.service_account = "" and
[code]
and

[code]
So, the resource shouldn't be created, but with terraform plan command, this happens:

[code]

But if I put on the service_account_id a valid serv

[2018-04-11 20:57] danawillow commented on #1321
Hey @angelzamir, I'm a bit confused about your use case. Why are you trying to set the `service_account_id` to the empty string?

[2018-04-11 21:02] angelzamir commented on #1321
Hi @danawillow, thanks for the fast response.
Well, the creation of this resource depends if the user sets the service account var, if so, I check that in a variable (service_account_additive_iam), as the user sets the service account variable to "", the boolean (service_account_additive_iam) is false, and the resource shouldn't be created, but it seems that even when count is 0 or whatever else,

[2018-04-11 21:12] danawillow commented on #1321
Hey @angelzamir, I'm not able to reproduce this. What version of the terraform tool are you using? (`terraform -v` will tell you both the tool and the provider)

Here's the config I tried to repro it, by the way:
[code]

When running this in an empty directory, it tells me no changes.

[2018-04-11 21:38] danawillow commented on #1321
Ah ok, are you able to upgrade Terraform? 0.10.8 is a fairly old version, and I wouldn't be surprised if this was a bug that's been fixed since then.

[2018-04-11 21:53] angelzamir commented on #1321
I've upgrade it but fails.

[2018-04-11 21:56] danawillow commented on #1321
Hmm ok. If you use the exact config that I posted, does it still fail?

[2018-04-11 21:59] angelzamir commented on #1321
No, it doesn't fail... I'm surprised because the difference is that I call a module. I'll try to reproduce this as a small mirror of my project.

[2018-04-11 22:25] angelzamir commented on #1321
Okay, I think I could and the bug is with the additive_bindings_array variable. If I set it up as a random array, it works, but if I put it like:

[code]
If fails, here the file.

[code]

In the script I'm just doing string manipulation and returning a string like:
"string1 string2 string3 string4"

Note: I have several resources under those conditions using the same variables, and only this one f

[2018-04-11 22:45] #1296 closed

[2018-04-12 02:36] danawillow commented on #1167
Found another! `google_compute_instance.metadata` is not authoritative (this one might be tricky since I assume metadata may get added out of band by gcp itself (this should be verified though))

[2018-04-12 04:11] negz commented on #1054
@danawillow I'm in the process of updating my `google_compute_instance_template`s to account for this new pattern. We use `create_before_destroy = true` on our templates per [this advice](https://www.terraform.io/docs/providers/google/r/compute_instance_template.html#using-with-instance-group-manager).

If I'm not mistaken, given instance templates are immutable, the combination of `create_before_

[2018-04-12 09:49] mikehardenize opened #1324 "Changing google_compute_disk from snapshot to not-snapshot, crash"
### Terraform Version
Terraform v0.11.6

### Affected Resource(s)
- google_compute_disk

### Terraform Configuration Files

[code]

I have a disk configured as above so that under normal circumstances, boot_disk_snapshot is "" and boot_disk_image is "centos-cloud/centos-7". However, if I want to recreate the server from a snapshot, I pass "-var boot_disk_snapshot=snapshot-name" on the command line

[2018-04-12 12:30] hawksight commented on #831
Note that node_pools now output instance_group_urls as of 1.8 plugin, see [here](https://github.com/terraform-providers/terraform-provider-google/blob/master/CHANGELOG.md#180-march-19-2018)

PR #1207 for reference.

[2018-04-12 20:33] shamil opened #1326 "name_prefix must be resurrected"
Hi,

I understand that it was decided to remove `name_prefix` to avoid complexity of the provider's code. I was totally agree with the decision. **BUT!** After I started migrating to `random_id` resource, it became my worst nightmare.

Adding keepers made my `terraform` code unmanageable. It is error prone, most of the time you can't get your keepers right and need to focus on this little thing li

[2018-04-12 21:17] danawillow commented on #1324
Hey @mikehardenize, I'm having trouble reproducing this. Here's what my config looks like:
[code]

First apply:
[code]

Second apply:
[code]

Did I accurately represent what you were trying to do?

[2018-04-12 23:06] negz commented on #1054
If other folks find themselves here, you might want to be aware of https://github.com/terraform-providers/terraform-provider-random/issues/21. It seems that reading variables 'through' the `random_id`'s `keepers` can fail sporadically.

[2018-04-12 23:08] #1326 closed

[2018-04-12 23:13] danawillow commented on #1302
Fixed in #1327

[2018-04-12 23:13] #1302 closed

[2018-04-13 00:12] genevieve commented on #912
Going to close this since the above PR got merged!

[2018-04-13 00:12] #912 closed

[2018-04-13 10:31] shamil commented on #1326
Hi @paddycarver

Sorry if you got the impression that I fill like you don't care. This was not my intention. The reason that I expressed the way I did, is that from my experience for larger projects such as `terraform`, usually once something merged it is really hard to convince maintainers/core committers to roll back something. Most of the time they are right by not rolling back and if something

[2018-04-13 14:17] angelzamir opened #1331 "Error on auto_create_network = false"
### Terraform Version
v0.11.7

### Affected Resource(s)
Please list the resources as a list, for example:
- google_project

Hi there,
I'm trying to do the following:
[code]

But when I perform the terraform apply command, it creates the project but throws the following error:

[code]

I think it's searching project by name and not by id. project_id is "pf-test-smoke-april13-2" but the error says t

[2018-04-13 16:26] ducksauz opened #1333 "[feature request] - Set instance Public DNS PTR Record"
### Terraform Version
0.11.7

### Affected Resource(s)
- google_compute_instance

While this isn't a process that is 100% automate-able, as you have to go to the google webmaster console to claim the name with a TXT record first, it would be helpful if I could set the Public DNS PTR Record for an instance via Terraform.

https://cloud.google.com/compute/docs/instances/create-ptr-record

[2018-04-13 17:19] bradserbu opened #1334 "Question: GCEProvider - acceleratorCount"
Hi,

**I would like to know how you configure a GPU attachment using terraform and the GCE provider.**

The property on the GCE configuration is "acceleratorCount".  I saw there is logic that seems to support the mapping of this property in the in the "helpers" file in the project.

_Can someone please explain how to leverage this by providing a sample terraform script to provision an instance wit

[2018-04-13 18:37] danawillow commented on #1334
Hey @bradserbu, here's the test case we use for this: https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_compute_instance_test.go#L2495

and here are the docs for the field: https://www.terraform.io/docs/providers/google/r/compute_instance.html#guest_accelerator (you might have to ctrl/cmd-f for the fields it contains).

Does that work? If so I can add ano

[2018-04-13 20:02] angelzamir commented on #1321
I've changed from the script calling to a null resource calling. The null resource does the same, string manipulation with the map's items, but it fails too.

[2018-04-13 20:52] polc opened #1335 "Panic error with google_sql_database_instance's timeouts option."
### Terraform Version
Terraform v0.11.7
+ provider.google v1.9.0
+ provider.kubernetes v1.1.0
+ provider.random v1.2.0

### Affected Resource(s)
- google_sql_database_instance

### Terraform Configuration Files
[code]
### Panic Output
https://gist.github.com/polc/46cdd70693e9e54cee46b41473229abf

### References
I tried the new `timeouts` option (https://github.com/terraform-providers/terraform-pro

[2018-04-13 21:24] genevieve commented on #1335
I think you should write
[code]

[2018-04-14 07:28] polc commented on #1335
OK thanks!

[2018-04-14 07:28] #1335 closed

[2018-04-15 02:29] chrisboulton opened #1338 "Empty binding members for google_project_iam_policy result in continually changing plan"
### Terraform Version

Terraform v0.11.7
+ provider.google v1.9.0

### Affected Resource(s)

- google_project_iam_policy

### Terraform Configuration Files
[code]

This is actually all encapsulated within a generic module I have for managing GCP projects with Terraform. Sometimes I don't necessarily have any one that might be considered a viewer, so the member list might be empty. It'd be nice to

[2018-04-16 03:47] b4b4r07 commented on #444
OK, I'll do later. Thanks

[2018-04-16 09:36] Stono opened #1339 "google_container_node_pool version upgrade fails if cluster has more than one pool"
Hi there,
We have a kubernetes cluster which has three node pools.  We've successfully updated the master however updating the node_pools results in an error.

Here is the plan:
[code]

And here is the resulting error:
[code]

[2018-04-16 09:59] ellmkay opened #1341 "Protocol Forwarding (google_compute_target_instance)"
This feature is now GA:
https://cloud.google.com/compute/docs/protocol-forwarding

Target instances are a nice way of not having to configure instance-groups for single-instance use-cases.

So from my understanding, implementing a new resource called:
google_compute_target_instance
and then supporting it within google_compute_forwarding_rule would make sense.

[2018-04-16 10:12] Stono commented on #1339
Ahhh interestingly, this was actually because we were using `node_version` on the cluster as well.

In order to get this to work we had to add `ignore_changes = ["node_version"]` then explicitly set the `version` on the `node_pool`.

I will leave this issue open for now (based on your thoughts) because i think perhaps we could add some simple validation to the plugin that is like (pseudo code):

[

[2018-04-16 10:20] dwatson opened #1342 "Instance Group Manager (and Region IGM) crash on plan if resource manually removed"
When running terraform plan on an IGM or rIGM where the resource no longer exists terraform will crash.

### Terraform Version
Terraform v0.11.7

### Affected Resource(s)
- google_compute_instance_group_manger
- google_compute_region_instance_group_manager

### Terraform Configuration Files
[code]

### Panic Output
https://gist.github.com/dwatson/6bb866f6f3a12fb1d805bd6fb7951b20

### Expected Beha

[2018-04-16 13:48] AlexKulbiy commented on #1342
I believe I've hit the same issue and it also happens when you are trying to create a new managed instance group which did not exist before.

[2018-04-16 17:25] #1331 closed

[2018-04-16 18:00] ndmckinley commented on #1338
Interesting! Thanks for the report, let's see what we can do.

[2018-04-16 18:03] ndmckinley commented on #1338
Aha, I see what's happened here.  You're seeing a permanent diff because the state you're requesting _cannot_ be the state retrieved by `terraform refresh`, and your suggestion is that we avoid reporting diffs of this kind.  I wonder if that's possible - I'll take a look.

[2018-04-16 18:14] chrisboulton commented on #1338
Yup - purely because the list of members is empty. I'm suggesting that in this case, we don't attempt to generate that binding in the resulting policy.

[2018-04-16 19:14] tholcman commented on #1326
It complicates things with `google_container_node_pool` in exactly same way as with template. We can workaround this by creating multiple pools with copy-paste, chaning name and params and then removing old pool, but using `lifecycle { create_before_destroy = true }` looks to me as more terraform-way of doing things.

So what are these "... things that would make the user experience better" behind

[2018-04-16 20:13] #1338 closed

[2018-04-16 21:25] #1313 closed

[2018-04-16 23:20] hashibot[bot] opened #1346 "google_dns_record_set fail to create SRV record"
_This issue was originally opened by @yellowmegaman as hashicorp/terraform#17876. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]

### Terraform Configuration Files

[code]

### Plan Output
[code]

### Crash Output (apply)
[code]

###

[2018-04-16 23:34] ndmckinley commented on #1339
To make sure I understand, your preference is for the error to be clearer rather than for behavior changes?

[2018-04-16 23:42] ndmckinley commented on #1342
Thanks for the PR!  :)  We'll get that merged ASAP.

[2018-04-16 23:58] ndmckinley commented on #1346
I don't think SRV records are supported by Cloud DNS, since the docs say that `type` is

https://cloud.google.com/dns/api/v1/resourceRecordSets#resource

Reopen if you disagree and think they are supported - I can't find any evidence to suggest that, but I could be wrong!

[2018-04-16 23:58] #1346 closed

[2018-04-17 00:20] hashibot[bot] opened #1347 ""Error retrieving IAM policy for project" on Google when binding a service account to a role"
_This issue was originally opened by @xswanggit as hashicorp/terraform#17875. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

When trying to bind a service account to a role on Google cloud, I encountered this error.   I am able to issue the gcloud cmd to bind the

[2018-04-17 00:25] ndmckinley commented on #1347
@xswanggit - can you post debug logs?  It looks like the project `gcp-project` is being set to empty-string, and I want to see whether that's true the whole way through or if it's an issue unique to this resource.

[2018-04-17 00:43] ndmckinley commented on #1317
I'm going to close this issue since I believe I've answered it, but don't let that dissuade you from reopening the issue if you think there's more here.

[2018-04-17 00:43] #1317 closed

[2018-04-17 00:50] ndmckinley commented on #1321
I'm trying to understand what the issue is - it seems like it's an issue with the config, and not an issue with the google provider, since the issue shows up even when you use a null data source?

[2018-04-17 00:51] ndmckinley commented on #1334
I think Dana has answered the question, so I'm going to close the issue - but please don't let that dissuade you from reopening if you'd like anything more on this.

[2018-04-17 00:51] #1334 closed

[2018-04-17 01:25] andyshinn commented on #1317
I guess the state _is_ updated. I was more concerned that other dependents of `network_interface.0.access_config.0.assigned_nat_ip` did not get updated (I was thinking that `allow_stopping_for_update` could somehow signal that it was changed so dependents would know). But if this isn't something really part of Terraform (I'm guessing it has to be a full delete / create) then probably not worth get

[2018-04-17 02:35] beenanner commented on #763
Nice! Glad it helped thanks for the fix!

[2018-04-17 06:36] Stono commented on #1313
Cheers for fixing the fixable part of this @ndmckinley - we switched our IAM policy control to "member" resources for the other one as suggested.

[2018-04-17 06:38] Stono commented on #1339
Yeah it's an interesting point actually and I would like to understand your general stand point on this and if it's something you endeavour to do generally.

There are certain errors/logic that could be validated in terraform and presented as part of the plan (such as this one) and i think that is valuable because otherwise we end up with half applied plans (if we are making multiple changes), so

[2018-04-17 07:58] matti opened #1348 "europe-north1 breaks things"
Following:
[code]

explodes with:

[code]

Apparently a new region is coming that is not supported by everything yet...

[2018-04-17 08:04] matti commented on #1348
fixed for now with:
[code]

[2018-04-17 15:11] angelzamir commented on #1321
I think is an error with the resource because I have several resources with the same conditions and logic, and this resource is the only one that fails.

I'm building up an array (first with a external provider and then (I changed it) with a null data source); many resources take that array in the count variable in the same way that google_service_account_iam_member does, and this is the only reso

[2018-04-17 17:44] yellowmegaman commented on #1346
@ndmckinley Found the error.

Value for SRV record must end with `.`

Like so:

[code]

SRV records added to GCE/GCP/Google Cloud DNS ok.

[2018-04-17 17:54] ndmckinley commented on #1346
Huh, what do you know?  The API's more permissive than the docs.  :)

Sorry we didn't send a more useful error message... Not sure how we could change that without making ourselves the source of truth for what's a valid rrdata (which we do not want to do).  It seems like you found what you needed, so I'll leave this closed.

[2018-04-17 18:05] ndmckinley commented on #1348
Ah, the downside of client-side validation.  :)  I'll see where europe-north1 is valid but not accepted.

[2018-04-17 18:10] ndmckinley commented on #1348
Oh, I see, that will be the official name of the new Finland region.
https://cloud.google.com/compute/docs/regions-zones/

It's not listed as officially launched - are you a member of the early-access group, or are the docs strangely out of date?

[2018-04-17 18:17] ndmckinley commented on #1317
Yeah, that's a tough one - since Terraform only executes the things it knows about at plan time, and `allow_stopping_for_update` doesn't signal that the IP address may be updated, the downstream resources can't know about that change during plan time.  Running `apply` twice is the best thing I can suggest.  Have you tried that?  Does it work for you?

[2018-04-17 18:27] andyshinn commented on #1317
Yes, that does work. It was just not apparent at first. We're just going to work to try and avoid using `allow_stopping_for_update` as it has a more predictive result.

[2018-04-17 18:29] yellowmegaman commented on #1346
@ndmckinley Yup :)

[2018-04-17 18:35] ndmckinley commented on #1339
I'm just one of the Google-side team that works on this, so I don't presume to speak for everyone, but my standpoint is that our ideal form is "very convenient API client".  To me, that means that we can clarify error messages and do field-level validation - e.g. if you type something that's 90 characters long for a project name, we can tell you "that field in the API accepts 63 characters or less

[2018-04-17 20:00] #1237 closed

[2018-04-17 20:43] ndmckinley commented on #1321
Right.  What I think is happening is, this resource validates its fields before it sends requests.  It validates them even if the count is 0, which you might be able to argue is a bug - but it'd be a terraform bug, not a provider bug, and you could ask for that to be changed on the main terraform repo.  Other resources might not do that validation.  As a hacky solution, you might try

[code]

Does

[2018-04-18 07:41] ean commented on #1237
Thanks!

[2018-04-18 10:34] dwatson commented on #1342
Thanks @ndmckinley, I'll close this issue now.

[2018-04-18 10:34] #1342 closed

[2018-04-18 10:37] Stono commented on #1339
@ndmckinley I've mulled this over more and I agree with your points, you've tipped me onto your side of the fence when it comes to duplicating validation in terraform.

[2018-04-18 10:37] #1339 closed

[2018-04-18 13:55] rolandkool opened #1350 "Removing a label on a bucket doesn't work"
Hi there,

When a bucket contains a label that is not part of the terraform file or state, terraform tries to remove it. However this doesn't work so with every run it tries to remove the label.

### Terraform Version
Terraform 0.11.5
Google Provider 1.9.0

### Affected Resource(s)
- google_storage_bucket

### Terraform Configuration Files
[code]

### Debug Output
When adding a label to this bucke

[2018-04-18 15:03] bborysenko opened #1351 "Add defaultClusterVersion to google_container_engine_versions data source"
Will be great to have [`defaultClusterVersion`](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/ServerConfig#FIELDS.default_cluster_version) for the `google_container_engine_versions` data source as well.

We have a module to create GKE cluster and if user doesn't provide specific version we stuck to the latest one:

[code]

[2018-04-18 15:45] morgante commented on #1300
I'm also encountering this bug.

[2018-04-18 16:18] morgante opened #1352 "Cannot change google_container_cluster additional zones"
When editing the additional_zones property on clusters, there's an issue when editing the additional_zones property. The API only supports adding or removing values in a single operation, but Terraform tries to request both at once.

### Terraform Version
`Terraform v0.11.5`

### Affected Resource(s)
- google_container_cluster

### Terraform Configuration Files
[code]

### Terraform Plan
[code]

#

[2018-04-18 16:25] morgante commented on #1352
Update: it looks like even adding by itself doesn't work.

Plan:
[code]

Error:
[code]

[2018-04-18 16:31] matti commented on #1348
Nope, the api (ds) just started to return that and it brakes everything.

[2018-04-18 18:09] ndmckinley commented on #1348
I'm sorry, I'm a little confused, so let me make sure I've got this right.  You're saying that your code config N data sources for subnetworks, one for each of the subnetworks in your network, that one of those subnetworks has the region europe-north1, and that when trying to do a `Read` on that, you got a 400 because subnetworks don't support requests in that region even though the network is tel

[2018-04-18 20:51] ndmckinley commented on #1333
Making good progress on this, but the lack of automatability is making it hard to test.  :)  I'll keep at it!

[2018-04-19 00:01] ndmckinley commented on #1352
That's interesting - I'm inclined to believe that's working at head, because `TestAccContainerCluster_withAdditionalZones` tests exactly this use case.  What version of the provider are you using?

[2018-04-19 00:06] ndmckinley commented on #1352
I do repro the first issue you report - that we don't sequence those adds & removes.  I'll update the tests and fix that.

[2018-04-19 00:28] ndmckinley commented on #1352
Specifically I'm inclined to believe that either your version of the provider is old, or your cluster's zone is set to `us-central1` (instead of `us-central1[a-f]`), because I can't understand how else we'd have sent `us-central1` along as one of the zones to cause that 400 error in your second comment... If you post your config or debug logs, I'll look into it.

[2018-04-19 00:29] ndmckinley commented on #1352
I've closed this with the merging of that PR (since the test covers both adding and removing zones, and passes), but in the event that you feel the second bug you report (add-only) is not a config problem, please reopen!

[2018-04-19 01:10] ndmckinley commented on #1350
Interesting - you're right.  The requests seem to be getting correctly formulated...  I wonder what's going on there.  I'll check on that.

[2018-04-19 01:24] ndmckinley commented on #1294
I recall someone finding and fixing this crash - what version of the google provider are you on?

[2018-04-19 01:26] ndmckinley commented on #1273
Ping - can you send along the debug logs for this issue?

[2018-04-19 10:35] hawksight opened #1356 "google_project_iam_binding & google_project_service incorrect destruction order"
### Terraform Version
[code]

### Affected Resource(s)
- google_project_iam_binding
- google_project_service

### Terraform Configuration Files
The following is an extract but gets the gist for the main issue here:
[code]

### Debug Output
The plan to destroy: `terraform plan -var-file=inputs.tfvars -out plan -destroy`

[code]

Apply output
[code]

### Expected Behavior
The resources `google_proje

[2018-04-19 15:42] morgante commented on #1352
My config:
[code]

The plan:
[code]

The error:
[code]

[2018-04-19 16:54] mathyourlife-fitbit commented on #1039
#1357 not as fully featured as your gist, @justinholmes , but possibly a place to start.

[2018-04-19 16:57] angelzamir commented on #1321
I'm doing it with a local

[code]
And in the resource:

[code]
It works. I suppose then it's a terraform bug.

[2018-04-19 17:59] #1351 closed

[2018-04-19 19:52] morgante commented on #1321
Do we have a fix for this? @ndmckinley's proposed hack is fine for now.

I'm unsure as to why this only happens on this resource though. Shouldn't all iam resources exhibit the same behavior?

[2018-04-19 19:58] ndmckinley commented on #1321
I don't know if it's a bug at all, but you could probably file on terraform core and see if they would like the idea of not doing validation in the event that `count = 0`.  And @morgante I'm not sure why it's only on this resource.  Can you give me a list of the resources you tried?

[2018-04-19 20:11] angelzamir commented on #1321
@ndmckinley the resources are:

- google_folder_iam_member
- google_kms_crypto_key_iam_member
- google_kms_key_ring_iam_member
- google_organization_iam_member
- google_project_iam_member
- google_pubsub_subscription_iam_member
- google_pubsub_topic_iam_member
- google_storage_bucket_iam_member
- google_compute_subnetwork_iam_member

Same conditions in all for count:
[code]
(boolean = false as in

[2018-04-19 20:11] ndmckinley commented on #1352
The first issue @morgante reported shows up only if the cluster is regional - I'm working on it.

[2018-04-19 20:16] ndmckinley commented on #1321
Sure.  The only one of those with a `ValidateFunc` that is invalidated by this PR is service account.  See here:

https://github.com/terraform-providers/terraform-provider-google/blob/master/google/iam_service_account.go#L16

Closing because this is WAI.

[2018-04-19 20:59] ndmckinley commented on #1356
Hi, thanks for the detailed error report.  I'm sorry that you had trouble with the google provider, but unfortunately there's not going to be much we can do to make this process less painful.  It seems like there are three issues here:

Deletion Order
---

Terraform's deletion order is the reverse of its creation order, which is entirely based on the dependency graph.  Unfortunately, cross-resourc

[2018-04-20 01:10] matschaffer commented on #1054
@negz great writeup. I've run into https://github.com/terraform-providers/terraform-provider-random/issues/21 as well. And also noticed that it doesn't seem `random_id` knows what to do with keepers of type list which I tried when assigning `service_account.scopes` to an instance template.

[2018-04-20 18:14] #1333 closed

[2018-04-23 08:24] spesnova commented on #1312
@vyckou

Could you give me the link about this?  I have in a situation to create so many google projects. And I don't need to create default network every project. So I'd like to understand the pros/cons of disabling the "Auto Network Creation".

[2018-04-23 10:29] roobert commented on #475
For anyone else who finds this issue it looks like there is now the `remove_default_node_pool` parameter (#1245).

The following config will create a cluster (`cluster0`) with two attached node pools (`nodepool{0,1}`) and no `default` node-pool):
[code]

Updating node pool properties and adding/deleting node pools to the cluster seems to behave as expected.

I think this issue is probably still va

[2018-04-23 18:35] ellipticasec opened #1364 "Add VPC flow logs support for google_compute_subnetwork"
Hi,

I would like to get VPC flow logs support in subnet (currently in beta).

### Terraform Version
[code]
### Affected Resource(s)
- google_compute_subnetwork

[2018-04-23 18:46] waldiTM commented on #925
I missed that response, sorry about that.

Yep, just ignoring empty groups would work for me.

[2018-04-23 19:15] renchap opened #1365 "Feature: QUIC support (beta) for load-balancers"
Hi there,

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_target_https_proxy

HTTPS load-balancing now supports the QUIC protocol in beta: https://cloud.google.com/compute/docs/load-balancing/http/#QUIC.

It requires setting a new property (`quicOverride`) on the Target HTTPS Proxy (described here: https://cloud.google.com/compute/docs/reference/rest/be

[2018-04-23 23:11] ellipticasec opened #1367 "Support disabling Basic Auth on google_container_cluster"
Hi,

### Terraform Version
[code]

### Affected Resource(s)
- google_container_cluster

### Expected Behavior
When using `gcloud` or Console, I can disable Basic Auth and Client Cert auth when creating my cluster. I always want to use `gcloud container cluster get-credentials` when doing `kubectl`, so those are useless.  Also, this means that my `tfstate` contains sensitive key material.

### Actu

[2018-04-23 23:32] plasticine commented on #1367
@ellipticasec You can disable `master_auth` by setting both `username` & `password` to an empty string.

[code]

[2018-04-24 04:10] mattdodge opened #1369 "Project IAM Bindings with automatically created service accounts"
**Terraform Version**: 0.11.3
**Google Provider Version**: 1.6

**Affected Resource(s)**
- `gcp_project_iam_binding`
- `google_service_account`

I am wondering if there is a way to use the `gcp_project_iam_binding` resources when your project has service accounts that use those roles that were automatically created by GCP. I am trying to manage all of my IAM roles/resources with terraform. However

[2018-04-24 07:46] bmwcmw opened #1370 "google_sql_database_instance removal making tfstate mismatched"
Hi,

The scenario happens when we want to renaming old_instance and old_user to new_instance and new_user.

### Terraform Version
[code]

### Affected Resource(s)
- google_sql_database_instance
- google_sql_user

### Terraform Configuration Files
[code]

### Debug Output
First terraform apply
[code]
then for the second terraform apply or terraform plan :
[code]

### Panic Output

### Expected Beha

[2018-04-24 12:03] hprotzek opened #1371 "google_container_cluster taint triggers new instance"
### Terraform Version
Terraform v0.11.7

### Affected Resource(s)
Please list the resources as a list, for example:
- google_container_cluster

### Terraform Configuration Files
[code]
### Expected Behavior
Updating existing GKE cluster without modifying anything, shouldn't trigger a destroy.

### Actual Behavior
Seems the taint config block wasn't stored during creation and now triggers a destroy

[2018-04-24 15:20] stefanthorpe commented on #17
Is it possible to add label support for

- database_instance

[2018-04-24 17:07] rosbo opened #1372 "Support label in sql_database_instance"
The API has a field called `settings.userLabels` to store a dict of key-value user-provided labels.

See: https://cloud.google.com/sql/docs/mysql/admin-api/v1beta4/instances

cc/ @stefanthorpe

[2018-04-24 17:07] rosbo commented on #17
Hi,

I filed a separate issue (#1372) to track this. Thanks for reporting.

[2018-04-24 17:53] morgante commented on #1369
The service account's email is based on the project ID, so it should be straightforward to compute. For example:

[code]

[2018-04-24 18:36] rolandkool opened #1374 "google_service_account_iam_policy doesn't allow setting policy on GCP created accounts"
Hi,

When trying to apply an IAM policy on a service account that is automatically created by GCP when you enable an API for example, it fails stating that the service account doesn't match a regex.

### Terraform Version
terraform 0.11.7
google provider: 1.9.0

### Affected Resource(s)
- google_service_account_iam_policy (tested)
- google_service_account_iam_binding (assumed)
- google_service_acc

[2018-04-24 20:17] noogg opened #1375 "google_compute_region_backend_service : Every plan show a diff even after multiple apply"
### Terraform Version
[code]

### Affected Resource(s)
- google_compute_region_backend_service
- google_compute_region_instance_group_manager

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/noogg/317bfb95fe1fcbc604f7e6aee31d532f
https://gist.github.com/noogg/d2aba84f35086b9d5366d34d1106ffbe
https://gist.github.com/noogg/59069679333dbd90f53134a3c78309a4

### Expe

[2018-04-24 20:39] tammersaleh opened #1376 "Option to snapshot disk before destroy"
### Affected Resource(s)

* google_compute_instance

Much like terraform-providers/terraform-provider-aws#2715, I'd love to see a `termination_snapshot_name` option that takes a final snapshot before destroying a disk.  I imagine this makes most sense as an option under the `boot_disk` and `attached_disk` structures on `google_compute_instance`, but I could also see it being an option on `google_c

[2018-04-24 22:34] mattdodge commented on #1369
Ah that's true. I was thinking of using the actual `google_service_account` terraform resource, where you can't change the service account domain name. But I suppose I could just put them in the members list directly too, duh. Is this the recommended way to do this?

[2018-04-24 22:38] morgante commented on #1369
Yes, that's definitely my recommendation. It wouldn't make sense to put these in as a Terraform resource anyways - you don't actually control those service accounts, so if you wanted to (for example) delete them you wouldn't be able to.

[2018-04-24 22:44] mattdodge commented on #1369
Ok great, I think that will work as a solution for me. Going to go ahead and close this but if there are other ideas feel free to leave them here. Thanks a lot @morgante!

[2018-04-24 22:44] #1369 closed

[2018-04-25 06:03] michaelbannister commented on #475
According to the docs, GKE chooses the master VM’s size based on the initial number of nodes, so if you’re going to have a large cluster, you may want that initial number to be bigger than 1, even though you’re going to delete it!
https://kubernetes.io/docs/admin/cluster-large/#size-of-master-and-master-components
If anyone knows this to be outdated, I’d love to hear it :)

[2018-04-25 06:13] francisd commented on #22
we're still experiencing this issue:
[code]

[code]

[2018-04-25 11:38] rochdev commented on #475
@michaelbannister This only seems to apply when using the `kube-up.sh` script to manage the master nodes yourself on GCE. With GKE however, the master nodes are managed by Google, in which case it becomes their responsibility to deal with scaling to support your nodes.

[2018-04-25 15:00] ellipticasec commented on #1367
Thanks @plasticine that worked.

Now I will close and re-open to support not issuing Client Key / Cert.

[2018-04-25 15:00] #1367 closed

[2018-04-25 15:03] ellipticasec opened #1378 "[google_container_cluster] Support not issuing Client Key on K8S cluster creation"
`gcloud beta container cluster create` has option `--no-issue-client-certificate`, which avoids creating a client key and fully leverages gcloud IAM.

### Terraform Version
[code]

### Affected Resource(s)
- google_container_cluster

### Expected Behavior
Have a way to disable cert creation in `masterAuth` attribute

### Actual Behavior
Client Key / Cert is created along with the cluster and the s

[2018-04-25 17:42] ndmckinley commented on #22
Ah, shoot, that makes sense if the servers take a really long time to recover.  We are retrying, but only until a timeout.  Right now it's either 3 minutes or 1 minute, depending on where in the process the read errors come - I'll send a PR to bump them both to 5 minutes, and fingers crossed, that should do it.

[2018-04-25 19:20] hashibot[bot] opened #1382 "Perma-diff when using self_link for network or subnetwork in google_container_cluster"
_This issue was originally opened by @nikitashalnov as hashicorp/terraform#17919. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Expected Behavior
`terraform plan` should show the plan,

[2018-04-25 19:25] ndmckinley commented on #22
I hope that the higher timeouts will be the end of it - if you see more problems after the next release, please comment again.

[2018-04-25 19:25] #22 closed

[2018-04-26 12:08] paddycarver commented on #1364
I just opened a PR to support this: #1385

[2018-04-26 13:18] migibert commented on #1252
I've been thinking about the syntax and we could stick to gcloud cli ones:

Gcloud CLI
`gcloud beta compute instance-groups managed rolling-action start-update <my_instance_group> --version template=<version n> --canary-version template=<version n+1>,target-size=<size>`

Managed instance group
[code]
In this scenario, I would have two templates:
one using an image from my release image family
[cod

[2018-04-26 14:16] kim0 commented on #1008
Thanks @danawillow for helping out .. I was just banging my head on this for the past few hours. Very unexpected behavior indeed! @apenney Did Google guys ever explain what's up with that? Thanks!

[2018-04-26 14:53] paddycarver commented on #1178
#1386 isn't the _exact_ thing you were looking for, in that the usage looks like this:

[code]

But hopefully that still fits your needs? Project is optional, and will use the provider default project if not set.

[2018-04-26 17:04] tm-paigr opened #1388 "Changing the metadata in node_config forces new resource"
The `google_compute_instance` resource is capable of updating instance metadata without replacing the instance entirely. It would be nice to update things like `ssh-keys` without having to bring down the whole cluster.

https://github.com/terraform-providers/terraform-provider-google/blob/31a5c9d93c903019ddebd08aed7856d896f9ccca/google/node_config.go#L88-L93

### Terraform Version
Terraform v0.11.

[2018-04-26 20:53] icflournoy opened #1389 "[google_pubsub_subscription] Requires push_config that API defines as optional"
I'm writing TF plans to cover some existing infrastructure and have run into an issue where the `google_pubsub_subscription` resource requires a push config. The Google API indicates this is optional.

https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.subscriptions#resource-subscription

### Terraform Version
[code]

### Affected Resource(s)
- google_pubsub_subscription

### Terrafor

[2018-04-26 21:49] emilymye commented on #1389
That log looks like it says "topic" is missing from the subscription resource - you probably need to add `topic = "projects/test-project/topics/test-topic" ` (or some interpolate-y equivalent) to your subscription.

[2018-04-26 22:25] icflournoy commented on #1389
Ah, yup when I was sanitizing the Terraform code to post here I removed that part and didn't catch that the error changed.

I was trying to initialize an empty push_config block like
[code]
which is why Terraform was throwing a required error.

In reading the docs closed I see that push_config is optional, but the parameters within are required, which makes sense why I was seeing the error with th

[2018-04-26 22:25] #1389 closed

[2018-04-26 22:44] emilymye commented on #1378
To be specific, this is actually not just in beta and is requesting that we allow the "clientCertificateConfig" in https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.zones.clusters#masterauth

[2018-04-26 22:46] #1374 closed

[2018-04-27 09:26] paddycarver commented on #1382
As you identified, it looks like we're storing the name of the network/subnetwork, but you're specifying a self_link. As a workaround, specifying the name should make this go away. A real solution would probably be to either validate this and throw an error if it's not just a name, accept a name or a self_link, or suppress the diff if a self_link is for a resource with the right name.

[2018-04-27 09:29] paddycarver commented on #1371
What change do you make that triggers the update? Or is this the change, in which case, what config did you start with? Any help you can provide so we can get a reproduction would be greatly appreciated.

[2018-04-27 09:36] paddycarver commented on #1370
Sorry for the issue! Looking at what you're describing, it _looks_ like Terraform is trying to remove the user, but can't because an operation is already in progress (I'm not 100% on what that is, but my guess would be deleting the instance?). So the delete fails, so Terraform _assumes_ the user still exists. That is borne out by the second error you're seeing, which is saying that we can't read a

[2018-04-27 14:15] ellipticasec commented on #1378
@emilymye Hi. Any chance this can be done soon? The problem I have is that there is no way to disable certificate / key once the cluster is provisionned (no `gcloud` command for that). Which means that once my production cluster is setup it will have that key dangling forever (or until I trash and rebuild, which is not ideal with live traffic)

I still have about 3 weeks before I must freeze my se

[2018-04-27 15:54] sethvargo opened #1393 "Wait and verify google_project_service is enabled before continuing"
### Terraform Version

[code]

### Affected Resource(s)
- `google_project_service`
- `google_project_services`

### Terraform Configuration Files
[code]

### Expected Behavior
Terraform should not consider `google_project_service(s)` finished until the API is enabled **AND** ready.

### Actual Behavior
Terraform assumes a successful response from the API means the API is finished.

### Steps to Re

[2018-04-27 17:51] egouraud-claranet opened #1394 "host parameter needed in cloud_sql_user resource whereas documented as optional"
Hi there,

### Terraform Version
0.10.8
terraform google provider version : 1.6.0

### Affected Resource(s)
google_sql_user

### configuration example
[code]
### Expected Behavior
creation of a google_sql_user resource  with a 2nd generation instance

### Actual Behavior
`Error: google_sql_user.myuser: "host": required field is not set`

### Steps to Reproduce
just declare a google_sql_user withou

[2018-04-27 18:03] emilymye commented on #1394
Hi @egouraud-claranet, is this your full config? It seems like the required `settings` value is missing from `google_sql_database_instance`. Can you tell what tier your database_instance is using? i.e. "DO"

Otherwise, I'll probably need the debug logs (run with export TF_LOG=DEBUG) on the apply to figure out what's wrong, since host is optional in the user schema.

[2018-04-27 18:27] egouraud-claranet commented on #1394
hi @emilymye ,
sorry for the incomplete configuration, i just focused on the user resource, and put a partial instance configuration to show that i use a 2nd generation instance (db-f1-micro to answer to your question)

the fail appears at the terraform plan

cheers,
Emmanuel

[2018-04-27 18:33] egouraud-claranet commented on #1394
ok @emilymye ,
i got it
the parameter was required on 1.6.0 version of google provider, it is optional since 1.7.0

sorry for the noise

[2018-04-27 18:33] #1394 closed

[2018-04-27 20:13] mathyourlife-fitbit commented on #974
@ndmckinley any update on this bug from upstream?  I've reproduced the bug with the latest google.golang.org/api/sourcerepo/v1 pkg (ee8cc1fe56761368e66676bb8262437bb035d116).

[code]

generates a POST of

[code]

and errors out with

[code]

where 764086051850 is **not** the project number for my project, but replacing 764086051850 with the actual project number in the error url shows the Source R

[2018-04-27 20:15] ndmckinley commented on #974
I do not have an update, but I have got a suspicion.  :)  Is 764086051850 the project number of the service account you're calling the API with?

[2018-04-27 20:19] mathyourlife-fitbit commented on #974
764086051850 is not a project number for any project in my org

[2018-04-27 20:50] ndmckinley commented on #974
Well, that's very interesting.  I've re-escalated the internal issue.

[2018-04-27 21:09] ndmckinley commented on #974
New question: are you using `gcloud application-default login`?

[2018-04-27 23:59] mathyourlife-fitbit commented on #974
Yes, and my account shows as active under `gcloud auth list`

[2018-04-28 01:06] #1378 closed

[2018-04-28 12:54] jason-tian commented on #1225
Hi @danawillow , I have the same issue, use `gcloud projects add-iam-policy-binding` is suceesful, but it doesn't work if I use `google_service_account_iam_binding` in TF. Is it still an open issue? Or is there any workarounds for this?
Thanks

[2018-04-30 11:12] hprotzek commented on #1371
I didn't change anything, the first `terraform apply` creates the cluster and the second `terraform apply` reports the changes and forces a destroy.

[2018-04-30 11:41] hprotzek commented on #1371
Found the problem. If the `node_config` is wrapped in a `node_pool` then `taint` got ignored. If `node_config` is used directly in the `google_container_cluster` resource , then the taint settings are working.

[2018-04-30 11:48] bmwcmw commented on #1370
Hi paddycarver,

Thanks for your reply.

Yesterday I've upgraded terraform to 0.11.7 + google cloud provider 1.10.0. Then by replaying the same operations in another gcloud project, I only having sometimes Error 403 operationInProgress.

I haven't found related lines in last release note but it seems the issue has been fixed somehow. I'll close the ticket now and come back when it occurs again.

[2018-04-30 11:48] #1370 closed

[2018-04-30 11:52] mumblez opened #1399 "Add support to attach an ssl_policy to target_https_proxy"
### Terraform Version
Terraform v0.11.7
+ provider.google v1.10.0

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_ssl_policy
- google_compute_target_https_proxy

### Expected Behavior
No option listed @ https://www.terraform.io/docs/providers/google/r/compute_target_https_proxy.html to attach the ssl_policy

Maybe it's yet to be implemented?
I tried `ss

[2018-04-30 13:42] loffelmacher opened #1400 "Importing Load-Balancer Resources Fails When Service Account from A Different Project"
## Terraform Version
[code]

## Affected Resources
- `google_compute_url_map`
- `google_compute_target_http_proxy`
- `google_compute_target_https_proxy`
- `google_compute_backend_bucket`
- `google_compute_backend_service`
- `google_compute_global_forwarding_rule`
- `google_compute_global_address`

## Expected Behavior
While using `terraform import` I should be able to use a service-account from
an

[2018-04-30 17:36] rosbo commented on #1388
I don't see any method in the GKE API to update this field: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.zones.clusters.nodePools

I will leave it open for now and if the GKE API adds this feature, we will add it to Terraform.

[2018-04-30 17:41] ndmckinley commented on #974
Gotcha.  It's a bug on the Source Repos side, which is triggered by application default credentials.  A workaround, until they fix it, will be to create a service account and use that instead.  It's probably a good idea to do that, since I don't have a timeline for a fix yet, and I know this affects a few more resources than just Source Repos.

[2018-04-30 17:41] rosbo commented on #1382
We already have a `DiffSuppressFunc: compareSelfLinkOrResourceName`. However, this function expects the value stored in state to be a self-link.

All the other APIs return a self-link for the subnetwork and network field except the GKE API.

In the `Read` method, we should use the ParseNetworkFieldValue and ParseSubnetworkFieldValue and save the self-link.

[code]

[2018-04-30 18:05] mathyourlife-fitbit commented on #974
Oh, interesting.  Thanks, @ndmckinley I'll give that a shot.

[2018-04-30 18:20] hashibot[bot] opened #1401 "GCP Billing Cleanup Not Happening on Project Distruction"
_This issue was originally opened by @JohnRoach as hashicorp/terraform#17970. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]

### Terraform Configuration Files

[code]

### Debug Output
https://gist.github.com/JohnRoach/349278867008da

[2018-04-30 19:42] PepperTeasdale opened #1404 "<Feature Request> Logging exclusions resource"
Hello!

Just curious if adding something like a `google_logging_exclusion` resource was on the roadmap for this project. This would be very helpful to have codified and easily applicable to every environment. Currently, this would look like writing an ad hoc script using their API, [as described here](https://cloud.google.com/logging/docs/exclusions). Keeping it with our terraform code would be aw

[2018-04-30 22:49] paddycarver commented on #1404
It looks like #990 is open as a PR to add that.

[2018-04-30 22:52] paddycarver commented on #1401
According to the [docs](https://cloud.google.com/resource-manager/docs/creating-managing-projects#shutting_down_deleting_projects), my guess would be that this is intended behavior. Notably:

Sadly, there's nothing we can do through the API to bypass that 30 day period.

[2018-04-30 22:53] paddycarver commented on #1400
This issue was raised following a discussion on the GCP slack, and my conclusion was the same.

[2018-04-30 22:55] paddycarver commented on #1399
The [docs](https://cloud.google.com/compute/docs/load-balancing/ssl-policies) for the feature. It [looks](https://cloudplatform.googleblog.com/2018/02/announcing-SSL-policies-for-HTTPS-and-SSL-proxy-load-balancers.html) like it was introduced in late February.

At the moment, we don't seem to have support for this, but I see no reason we couldn't add it.

[2018-04-30 22:59] paddycarver commented on #1393
I'd be 👍 to adding some polling to the service enable function. We could, conceivably, just drop an extra poll-until-present into https://github.com/terraform-providers/terraform-provider-google/blob/e58e099b1adb893333b5974c7438b88415acab8a/google/resource_google_project_services.go#L202-L209.

[2018-04-30 23:03] paddycarver commented on #1382
I have _feelings_ about changing this on people mid-major-version, because it's _technically_ a breaking change, though one could argue it probably doesn't matter. But this would change the value returned for every interpolation of network or subnetwork, which seems like a value you'd want to interpolate?

I'm not saying let's leave it weird, but would it seems like we could work around it for the

[2018-04-30 23:05] paddycarver commented on #1401
I'm going to close this one, as I don't think there's anything we can actually do here. But I don't mean to shut off discussion, I just want to make it easier to track things that we can actually work on. If you want to discuss, please feel free to continue replying to the issue.

[2018-04-30 23:05] #1401 closed

[2018-04-30 23:07] paddycarver commented on #1287
From what I can tell, no programmatic way exists to create an API client or to retrieve the credentials of one, which kind of ties our hands here. I think the best we can do is document how to handle this manually.

[2018-05-01 11:04] JohnRoach commented on #1401
@paddycarver I think there is still an issue as the project is still there after 30 days

[2018-05-01 13:04] hawksight opened #1410 "Importing sql instance with no provider project fails"
### Terraform Version
[code]

### Affected Resource(s)
- google_sql_database_instance
- Google provider

### Terraform Configuration Files
[code]

Module just has `random_int` and `google_sql_database_instance` resources:
[code]

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior
Terraform import should have imported the resource as normal with the command:
`terraform import -var-fi

[2018-05-01 13:57] PepperTeasdale commented on #1404
Oh excellent! Thanks for referencing. Watching that PR now :)

[2018-05-01 14:06] hawksight commented on #1356
### Deletion Order

Thank you for this, I had always assumed terraform had some basic behind the scenes order config such as 'Delete compute resources before permissions resources' etc.
I can see now it doesn't and it relies entirely on implicit and explicit dependencies.

In my case I am now using implicit dependencies because there is no dependencies (`depends_on`) between modules. I just hadn't

[2018-05-01 17:34] JohnRoach commented on #1401
@paddycarver ok if this needs to be handled via GCP and not an addition to the module regarding destroy, I will take this to them. Thank you for the quick response!

[2018-05-01 17:43] rosbo commented on #1399
I will be adding this feature in the next couple of days. The https proxy resource will be autogenerated and will support this field.

[2018-05-01 20:52] paddycarver commented on #1410
All of your diagnosis seems correct, to me. I just want to comment on this part:

When importing a resource, at the moment, the provider only gets access to the ID. That is, if you're running `terraform import module.sql.google_sql_database_instance.single sopost-infra-dev-4552` the provider only gets `sopost-infra-dev-4552` and the type of resource it is, and has to identify it based on that. So

[2018-05-01 22:27] danawillow commented on #1225
Hey @jason-tian, the fix I mentioned in https://github.com/terraform-providers/terraform-provider-google/issues/1225#issuecomment-374706467 will apply to you as well. Since your gcloud command was `gcloud projects`, you'll want to use the equivalent `google_projects_iam_binding` resource.

[2018-05-01 22:42] danawillow commented on #1393
Hey @sethvargo, your config has the key ring dependent on the project, so it's going to be created in parallel with the API enablement from the project service resource. I'd recommend adding a `depends_on` clause to the resource, or creating a dependency via interpolation.

I'm going to go ahead and close this since I don't think it's a real bug, but if my suggestion doesn't work let me know and I

[2018-05-02 05:28] jason-tian commented on #1225
Thanks @danawillow , the issue is fixed when I use projects iam binding.

[2018-05-02 07:52] jacobleonw opened #1416 "GCP Netblock Data Source"
Hi,

It would be good if there was an IP range data source in the Google provider like [Cloudflare's](https://www.terraform.io/docs/providers/cloudflare/d/ip_ranges.html)

[2018-05-02 08:55] hawksight commented on #1410
I had not realised the import resource doesn't actually use the resources configuration, although now you say it, something does ring a bell.

Your proposal sounds good:
[code]
But I assume that this might break how import works with other providers?
Can't think is AWS uses projects or equivalent. But if this doable in just google space it would be great.

The `<project>/` bit could be optional to

[2018-05-02 13:18] hawksight commented on #1410
just a though whilst I was browsing elsewhere, how about passing the `self_link` in rather than the name? self links usually contain all that valuable googley information like project and region etc. and should be easily parsable?

[2018-05-02 15:17] morgante commented on #927
How about using pgp_key? https://www.terraform.io/docs/providers/google/r/google_service_account_key.html#pgp_key

[2018-05-02 15:49] migibert opened #1417 "Cannot add multiple source service accounts to a firewall rule"
Hi,

I am trying to set a firewall rule that allows some service accounts to access to some instances.
The documentation at https://www.terraform.io/docs/providers/google/r/compute_firewall.html#source_service_accounts says that source_service_accounts is a list but it fails if I add more than one element (Google API answers with a 413 status code because it expects only one service account).

Did

[2018-05-02 18:28] rosbo commented on #1416
Would this data source meet your needs?
https://www.terraform.io/docs/providers/google/d/datasource_compute_lb_ip_ranges.html

[2018-05-02 18:36] #1178 closed

[2018-05-02 18:57] jacobleonw commented on #1416
According to [the link on that page](https://cloud.google.com/compute/docs/load-balancing/health-checks#health_check_source_ips_and_firewall_rules), this only covers
* 209.85.152.0/22
* 209.85.204.0/22
* 35.191.0.0/16

I'm ultimately trying to lockdown SSH access to an instance from Google Cloud Shell, and according to what I've read on the internet, it can use any IP from `_cloud-netblocks.google

[2018-05-02 19:16] paddycarver commented on #1178
Awesome, glad to hear it! It'll ship in the next release, though because 1.11.0 went out yesterday, I imagine it'll be at least a week, probably two, before we get an official release with it.

[2018-05-02 20:26] morgante commented on #1157
It is possible to do this today doing a combination of google_storage_object_signed_url data provider and http.

[code]

[2018-05-02 21:10] morgante opened #1419 "Allow setting folder_id on google_project to """
### Terraform Version
[code]

### Affected Resource(s)
- google_project

### Terraform Configuration Files
[code]

### Expected Behavior
Setting folder_id to "" should have the same behavior as leaving it off entirely.

### Actual Behavior
The only way to successfully execute this is to leave folder_id off entirely (and create at org level) or leave off org_id (and create at folder level). This ha

[2018-05-02 21:13] sethvargo commented on #1419
This is happening because of the use of `conflicts_with` in the schema, which is doing validation on the presence of keys instead of presence of keys _with_values_. If we move that validation into the resource-level, this becomes possible at the expense of more code to maintain.

[2018-05-02 22:13] rosbo commented on #1419
I opened an issue against Terraform core a few months ago about this.

The answer I got was that HCL2 will introduce a proper concept of `unset` and `null`.

For more details, here is the issue I opened:
https://github.com/hashicorp/terraform/issues/16575

Given that we would lose plan-time validation, I suggest we wait until HCL2.

What do you think?

[2018-05-02 22:26] morgante commented on #1419
I'm not convinced that we benefit much from plan-time validation, to be honest. In fact, I would suggest we don't need it at all and could instead switch on a single value (whether folder_id is set or not). I think if folder_id is specified, the desired behavior (being in that folder) is clear, even if org_id is also specified.

[2018-05-02 23:16] sethvargo commented on #1419
I tend to agree with @morgante that the trade-off leans toward giving customers power of extensibility in the short term

[2018-05-02 23:18] rosbo commented on #1419
Alright, you convinced me. I will open a PR soon to fix this.

[2018-05-02 23:41] morgante opened #1424 "Add support for regional clusters in google_container_cluster data source"
The google_container_cluster data source does not currently support regional clusters.

### Terraform Configuration Files
[code]

### Error
[code]

[2018-05-03 05:50] vijayboopathy commented on #1218
@danawillow @asaraseka I have a similar use case. Instance names wont help much if we do not know the connection strings for master.

[2018-05-03 16:32] cblecker commented on #1236
I would also love to see this.

[2018-05-03 16:53] #1419 closed

[2018-05-03 17:00] jason-tian commented on #858
Hi @rosbo , I have the same problem, and I also define the data source in module, but I get the error below:

`Resource 'data.google_compute_subnetwork.my-subnetwork' not found for variable 'data.google_compute_subnetwork.my-subnetwork.self_link'`
Any suggests for this?
Thanks.

[2018-05-03 17:08] rosbo commented on #858
@jason-tian, this should work. Could you share your config and we can start from there to determine what is missing?

Thank you

[2018-05-03 17:10] jason-tian commented on #858
`resource "google_compute_instance_template" "instance_template" {
  name         = "${var.base_instance_name}-instance-template"
  machine_type = "${var.machine_type}"

  tags   = "${var.tags}"
  labels = "${var.labels}"

  // boot disk
  disk {
    source_image = "debian-cloud/debian-9"
    auto_delete  = true
    boot         = true
    disk_type    = "${var.disk_type}"
    disk_size_gb = "${va

[2018-05-03 17:12] rosbo commented on #858
I don't see the data source for the subnetwork in your config. You should have a block like:
[code]

[2018-05-03 17:33] jason-tian commented on #858
@rosbo  Sorry to paste wrong config before. Above should be that I am using.

[2018-05-03 19:30] derwei opened #1426 "Google provider v1.11.0 introduces 32-bit integer conversion overflow"
We ran into a problem using the 32-bit binary of Terraform and google provider v1.11.0

[code]

We have worked around this by using the 64-bit binary of Terraform.

### Terraform Version
Terraform v0.11.7
+ provider.google v1.11.0
+ provider.tls v1.1.0

### Affected Resource(s)
- google_compute_target_http_proxy
- google_compute_target_https_proxy

### Panic Output
https://gist.github.com/derwei/1

[2018-05-03 22:17] rosbo commented on #1426
Thanks for reporting. I have a PR out to fix this and we will do a release quickly once it is in. Stay tuned!

[2018-05-03 22:35] #1426 closed

[2018-05-03 23:46] jkupferer opened #1430 "google_compute_region_instance_group_manager import fails with missing region"
### Terraform Version
[code]

### Affected Resource(s)
- google_compute_region_instance_group_manager

### Terraform Configuration Files
[code]

### Debug Output

The important bit:
[code]

Even though the resource and the provider both specify region, the debug has no region in the URL.

### Expected Behavior
Import should have succeeded.

### Actual Behavior
Import failed claiming the resource d

[2018-05-04 00:09] rosbo commented on #858
You're welcome. Glad that it works now!

[2018-05-04 00:09] #858 closed

[2018-05-04 14:18] meverone commented on #1043
Hey,

Sorry, I totally forgot about this ticket.
I solved this in a different way. You can close this ticket.

[2018-05-04 15:59] danawillow commented on #1043
Ok, glad to hear you were able to figure something out!

[2018-05-04 15:59] #1043 closed

[2018-05-04 17:13] cbeckhashicorp opened #1435 "Add support to configure lien on project"
GCP has added the ability to protect projects from accidental deletion using liens. Request support be added to provider for configuration of liens with Terraform.

https://cloud.google.com/resource-manager/docs/project-liens

[2018-05-04 19:46] alfred-tio-ck opened #1438 "google_compute_address assumes EXTERNAL address_type for imported resources."
### Executive Summary

According to the docs at https://www.terraform.io/docs/providers/google/r/compute_address.html, all fields except name are optional.

However, when importing an existing internal static IP reservation, the EXTERNAL address_type is assumed and enforced upon subsequent terraform executions, despite being an optional field.

### Terraform Version
Terraform v0.11.7
+ provider.go

[2018-05-04 20:00] rosbo commented on #1426
1.12 has been released and include a fix for this bug. Sorry for the trouble.

[2018-05-04 20:39] rosbo commented on #1438
Hi @alfred-tio-ck,

The default value for `address_type` is `EXTERNAL`.

You must update your resource in the .tf file to match this:
[code]

Let me know if you are still having troubled after doing this change and I will reopen the issue.

Thank you

[2018-05-04 20:39] #1438 closed

[2018-05-07 10:52] dasch commented on #910
Any update on this?

[2018-05-07 22:02] #1424 closed

[2018-05-07 22:25] danawillow commented on #910
Hi @dasch, are you looking for feedback on your idea or on https://github.com/terraform-providers/terraform-provider-google/pull/1113? In that PR I see a bunch of checkboxes, only a few of which were checked. Were you planning on putting the rest of the checkboxes into that PR, or following up with a separate one? I think we just didn't realize you were waiting on us for something.

[2018-05-07 22:34] #1132 closed

[2018-05-08 00:02] ndmckinley commented on #1435
This is obviously a good idea.  :)  In progress.

[2018-05-08 00:05] ndmckinley commented on #1430
Having the region in the config won't help with the read - the resource doesn't get to look at the config when making a read, unfortunately.  It's just import -> read.  Having the region in the provider should have worked, though, so I'm on that.

[2018-05-08 01:59] emalloy opened #1448 "google_compute_region_instance_group_manager rolling_update instance_template resourceInUseByAnotherResource"
google_compute_region_instance_group_manager rolling_update instance_template resourceInUseByAnotherResource

TLDR; Maybe we need polling to wait after the instance_template gets updated in `google_compute_region_instance_group_manager` before attempting to destroy the former instance_template?

debug logs forthcoming, Need to scrub and encrypt. Will update.

### Terraform Version
[code]

### Affe

[2018-05-08 09:10] Chupaka opened #1449 "Creating google_compute_instance with attached_disk fails with "A zone must be specified""
### Terraform Version
Terraform v0.11.7
+ provider.google v1.12.0

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_instance
- google_compute_disk

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/Chupaka/1b318496b87946ee4e43c99995ce1526

### Expected Behavior
`terraform apply` should not give an error with 'attached_disk

[2018-05-08 09:44] dasch commented on #910
@danawillow I was unsure whether the PR would be accepted, so I paused work.

[2018-05-08 12:25] Stono opened #1450 "Updating from a zonal to a regional cluster does not recreate the resource (it should)"
At the moment there is no migration path from zonal to regional clusters from Google.

Support for regional was added in this provider recently, however i've noticed when setting region (and unsetting zone) on an existing cluster, it does not taint the resource for recreation.

Going from:
[code]

To:
[code]

Results in:
[code]

Expected:
[code]

**Workaround**
Do a `terraform destroy -target=modu

[2018-05-08 14:53] calinah commented on #397
Hiya is there any progress on this? or a Terraform managed workaround? I'm running terraform v0.11.7 and google provider 1.12.0

[2018-05-08 16:59] danawillow commented on #397
Thanks for the bump! I haven't gotten around to fixing this yet but it's on my list.

[2018-05-08 17:57] ndmckinley commented on #1417
Interesting!  I've filed a bug internally - I don't consider this a Terraform bug at the moment, I consider it either a GCP bug or a doc bug, and we'll see which one it is.  :)  Depending, we may need to update the field to be `MaxSize: 1`, or maybe it'll be fixed upstream.

[2018-05-08 19:17] Stono opened #1451 "Enabling NetworkPolicy on a Regional cluster causes issues"
Sorry for the broad title, but I didn't know how to word this best.

Long story short if you do this:

  - build a cluster with network policy enabled
  - add a new node pool to that cluster
  - run a manual command to delete the default node pool (as we don't want it)

#3 will fail:

[code]

I found it interesting when I queried the pending operations:

[code]

CREATE_NODE_POOL completed, so the

[2018-05-08 19:38] Stono commented on #1451
Yay for inconsistent behaviour.
The first three times I ran this, I saw what I showed you above.

The fourth time (after I added some operational wait logic to the bash script), it hasn't done the UPGRADE_MASTER and it works:

[code]

[2018-05-08 19:52] primeroz commented on #54
Is there any update on this ?

Having the load balancer contain the instances after those are recreated because of a change is quite important for no downtime

[2018-05-08 22:58] ndmckinley commented on #1448
The debug logs will help with this one - lots of little details.  :)  Please do update when you've got those ready!

[2018-05-08 23:01] ndmckinley commented on #1449
Good odds that the problem is related to provider-level zone - let me look into it.  :)

[2018-05-08 23:07] ndmckinley commented on #1449
Sure enough - found it.  PR incoming.

[2018-05-08 23:11] ndmckinley commented on #1450
Thanks for the report!  These resources are tough to get perfect.

Question: are those first two examples precise?  I suspect it can't be quite that simple, because `zone` is marked as `ForceNew`.  Although `region` is not, the two are marked as conflicting, so moving to a region would force you to set the `zone` to `""`, which would force a new resource.  Are you using provider-level zone or regi

[2018-05-08 23:28] ndmckinley commented on #1451
Thanks for the report.  Can you tell me - does it work if you set `remove_default_node_pool = true` in the config?

[2018-05-08 23:30] #1449 closed

[2018-05-08 23:33] ndmckinley commented on #1417
Yep, they've agreed that that's expected behavior.  I'll update the code accordingly soon.

[2018-05-09 04:12] shankarkc commented on #45
@rosbo  i dont see this feature yet in current release v0.11.7 When is the expected release of this feature?

[2018-05-09 05:31] zbikmarc commented on #45
@shankarkc it works from version 1.0.0 of google provider, see Features in [this changelog](
https://github.com/terraform-providers/terraform-provider-google/blob/master/CHANGELOG.md#100-october-02-2017)

You provided Terraform version while providers are separated from main Terraform binary. What you should check is google provider version.

[2018-05-09 06:25] Stono commented on #1300
This works now so closing the issue :-) ta

[2018-05-09 06:25] #1300 closed

[2018-05-09 06:27] Stono commented on #1450
I think we may have a more confusing bug as zone = "" did not trigger the new resource either.

I am back in the office later today so i'll repeat the process just to validate.

[2018-05-09 06:41] Stono commented on #1451
Hey @ndmckinley - I did not even know about that flag!
It worked, but I saw another strange thing happen, I ended up with a bonus additional node in one of the zones?:

[code]

[2018-05-09 10:00] caminale opened #1457 "google_compute_backend_service \ list group into backend"
Hi there,
I tried to insert a list of backends that serve my BackendService and I want to automated all my terraform with inputs.
If I change the number of group-instance, I have to change my code to add this one into my backend-service.
this one works but it's not automatic :

[code]

So I want to automize it and I tried to make template_file to shape my backends list:
I have list of backends in

[2018-05-09 13:08] borekb opened #1458 "`plan` thinks that persistent disk can be made smaller"
### Terraform Version

[code]

### Affected Resource(s)

- google_compute_disk

### Description

I tried making a persistent disk size smaller:

[code]

Google Cloud doesn't support that ([docs](https://cloud.google.com/compute/docs/disks/add-persistent-disk): "You can only resize a persistent disk to increase its size. You cannot reduce the size of a persistent disk.") but `terraform plan` was ha

[2018-05-09 13:19] borekb opened #1459 "Could `region` be optional for `google_sql_database_instance`?"
### Terraform Version

[code]

### Affected Resource(s)

- google_sql_database_instance

### Description

For all of my resources, `region` is inferred from a provider section which looks like this:

[code]

So for example, I can do this:

[code]

instead of:

[code]

One major exception seems to `google_sql_database_instance` which requires `region` and I'm wondering why. Is it because of the leg

[2018-05-09 16:29] rosbo commented on #45
@zbikmarc is correct. The feature was released on October 2nd 2017.

[2018-05-09 16:48] rosbo commented on #1458
This is similar to the `ip_cidr_range` for subnetwork. You can expand the range but not shrink it. To support this, we used the `CustomizeDiff` function:
https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_compute_subnetwork.go#L127

[2018-05-09 17:38] ndmckinley commented on #1458
Ah, cool, that's an easy one, then.  :)

[2018-05-09 17:59] #1458 closed

[2018-05-09 18:03] ndmckinley commented on #1451
Glad it worked!  Unfortunately we don't really interact with the API the way kubectl does - we're a wrapper around the GKE apis.  Does the bonus node show up in [nodePools.get](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.zones.clusters.nodePools/get)?

[2018-05-09 18:03] ndmckinley commented on #1450
Thanks!  Please let me know.  :)

[2018-05-09 20:03] ndmckinley commented on #1459
Interesting point.  Investigating!  Thanks for the report.

[2018-05-09 20:10] ndmckinley commented on #1459
After some quick investigation, that's almost definitely why.  I don't mind changing it, as long as there's a big call-out in the docs that says that this is a pitfall.  I'm also not changing `region` from "Required" to "Optional", because almost everyone should set `region` in their config.

[2018-05-09 20:11] lpil commented on #76
It looks like the PR has been merged, is this issue resolved?

[2018-05-09 20:14] borekb commented on #1459
Sounds great, thanks for such a quick response!

[2018-05-09 20:14] ndmckinley commented on #76
I think the issue was left open to track the author adding documentation, but the docs are there, so I'm closing it.  Thanks!

[2018-05-09 20:14] #76 closed

[2018-05-09 20:38] #1417 closed

[2018-05-09 20:52] ndmckinley commented on #1457
It looks like you've tried to provide a string representation of your json as an entry in the backend list.  This won't work - terraform doesn't parse strings into HCL in the way that would be required for this to work.  You need a solution that automatically adds
[code]

Where `NUMBER` takes on every value from `0 - ${google_compute_instance_group.cockroach_crew.count}`.  I'm not sure HCL can rep

[2018-05-09 20:57] #1164 closed

[2018-05-09 21:16] #1459 closed

[2018-05-09 21:48] ndmckinley commented on #54
This one's a perennial!  We keep trying to figure out how to fix it best, and not coming up with a good solution.  The broad contour of the issue is this:

* The load balancer keeps track of instance groups as a list of `self_link`s.
* The instance groups keep track of instances as a list of `self_link`s, interpolated from the instances' `self_link` property.
* The instance gets marked for destroy

[2018-05-09 22:55] #1399 closed

[2018-05-09 22:55] rosbo commented on #1399
This feature will be available in the next release. Thank you

[2018-05-09 22:58] #1116 closed

[2018-05-09 23:01] danawillow commented on #1364
Merged in https://github.com/terraform-providers/terraform-provider-google/pull/1385

[2018-05-09 23:01] #1364 closed

[2018-05-10 01:18] dimitropoulos opened #1467 "Feature Request: Cloud Memorystore Resources"
Now in Beta: Cloud Memorystore fills an important void in the GCP landscape.  It would be fantastic to have support for it.

### References
- https://cloud.google.com/memorystore/
- https://cloud.google.com/sdk/gcloud/reference/beta/redis/
- https://github.com/GoogleCloudPlatform/google-cloud-go
- https://github.com/google/google-api-go-client

[2018-05-10 03:13] shankarkc commented on #45
I have below libaries

[2018-05-10 05:17] dthapa opened #1469 "enable_flow_logs in google_compute_subnetwork error 400 - resource.fingerprint not specified"
### Terraform Version
Terraform v0.11.7
+ provider.google v1.12.0

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_subnetwork

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/dthapa/dd7f6a37c92f31b6c2b598722edc10ff

### Panic Output
na

### Expected Behavior
enable_flow_logs should be set to true

### Actual Behavior
go

[2018-05-10 09:51] johananl commented on #1376
I can take this one, too.

[2018-05-10 16:43] paulcdejean commented on #1045
Does anyone know if there's any alternative methods of creating terraform instances which support nested virtualization?

For instance on other providers?

[2018-05-10 17:16] discentem opened #1472 "No support for Automated Windows Password generation"
### Terraform Version
Terraform v0.11.7

### Affected Resource(s)
Please list the resources as a list, for example:
- google_compute_instance

terraform-google-provider does not have support for https://cloud.google.com/compute/docs/instances/windows/automate-pw-generation as far as I can tell. Having the equivalent of https://github.com/terraform-providers/terraform-provider-aws/pull/2219 for thi

[2018-05-10 19:02] toppur commented on #1045
Paul.

For GCP, you could shell out using a local-exec provisioner during image
creation. Terraform does not have an option to specify license to enable
vmx during image creation yet.

provisioner "local-exec" {
    command = "gcloud compute images create  <params> --licenses
https://www.googleapis.com/compute/v1/projects/vm-options/global/licenses/enable-vmx
"
}

At the current time, AWS does not

[2018-05-10 19:07] drubin opened #1473 "Support Custom Machine types in google_container_node_pool"
I am trying to move away from manually configuring my node_pools in the GUI/CLI and I would like to manage them but currently, I make use of custom machine types in my node pools so this makes it hard.

### Terraform Version
Terraform v0.11.5
+ provider.google v1.12.0
+ provider.random v1.2.0

### Affected Resource(s)
- google_container_node_pool

### Terraform Configuration Files
[code]

### Debu

[2018-05-10 20:36] ndmckinley commented on #1469
@paddycarver - you might have the most context on this.  Did you run into this in your PR?

[2018-05-10 22:42] paddycarver commented on #1469
I think this is just shoddy testing on my part, sorry. :( I'll take this one on. I think I just botched the update function and then didn't have sufficient test coverage to catch it.

[2018-05-11 09:31] axot opened #1476 "Creating google_iam_policy with json will get an error."
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- google_iam_policy

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. create a `iam.tf.json` file
[code]
2. `terraform plan`

### ERROR OUTPUT

[2018-05-11 12:47] kim0 commented on #1215
Hey @danawillow

I just hit this same problem. But my use-case is different. I'm using TF to create the zones, then I'm launching gke cluster. In GKE, I use [external-dns](https://github.com/kubernetes-incubator/external-dns) to create public DNS entries for the services dynamically. Now, I changed my domain name, and was expecting TF to delete the old zone and create a new empty one, but it faile

[2018-05-11 13:31] mrparkers commented on #1467
If nobody has signed up to take this on, I volunteer to work on this over the weekend.

[2018-05-11 14:25] pdecat commented on #1467
@mrparkers I'm not sure its worth to implement it by hand given new resources are now generated by the @modular-magician : https://github.com/modular-magician/terraform-provider-google / https://github.com/GoogleCloudPlatform/magic-modules

[2018-05-11 15:00] mrparkers commented on #1467
@pdecat Cool, I didn't know that existed.  How long does it usually take for resources to be implemented automatically?  I'd like for this resource to exist before the next release of this provider, so I really don't mind doing this manually if it means achieving that.

I was also looking for something to do this weekend so I may just do it anyways :smile: if nothing else, it's an opportunity to h

[2018-05-11 16:56] danawillow commented on #1467
@mrparkers it depends on the API in question and whether magic modules has support for all the features (for lack of a better term) of that API. I was playing around with this the other day and found one that needs to be added: https://github.com/GoogleCloudPlatform/magic-modules/issues/182. I was planning on doing this early next week, and I _think_ that'll be the only thing that blocks this, so

[2018-05-11 17:38] ndmckinley commented on #1457
Sounds great!  Please comment again if you have any trouble - happy to try and help.  I'm going to close this now, since we prefer not to have open-ended issues like this stay open indefinitely, but happy to help if that doesn't work for you.

[2018-05-11 17:38] #1457 closed

[2018-05-11 18:13] mrparkers commented on #1467
@danawillow sounds good, I can look for something else.

This is a bit off-topic, but does this repository have a concept of tagging "good first issues"?  Although I have contributed before, I'm still very new to Go and I was looking for ways to help with my learning experience.  Usually new resources are pretty easy, which is why I wanted to work on this one.

[2018-05-11 19:16] jpza opened #1480 "google backend_service to container_node_pool and named ports"
Hi there,

My issue is that there is no **[named_port](https://www.terraform.io/docs/providers/google/r/compute_instance_group.html#named_port)** param for google_container_node_pool and when I hook up a backend service to the node_pool (which is [brand new](https://github.com/terraform-providers/terraform-provider-google/pull/1207)) named_port has to be set manually from the UI. Any suggestions o

[2018-05-11 20:07] discentem commented on #1472
This example could be helpful as reference for integrating support for this feature https://github.com/GoogleCloudPlatform/compute-image-windows/pull/139/files

[2018-05-11 20:27] paddycarver commented on #1467
So we've got the `good first issue` and `help wanted` labels, which are made for tracking things we _believe_ to be straightforward enough that someone could tackle them as a first contribution. We haven't gotten great at using them (or at least I haven't), so they may be of limited use. There's also `easy`, which is going to go away, because I dislike the implications of that one, but historicall

[2018-05-12 01:46] Mistobaan opened #1486 "google_storage_notification has no 'project' field"
`google_storage_notification` has no project field.
And the only way to make the terraform succeed is to explicitly configure the google provider project in your terraform project.
it will fail with:
[code]

Which comes from copy & pasting from the official doc.
Also the [Documentation](https://www.terraform.io/docs/providers/google/r/storage_notification.html)
is wrong (    event_types       = ["

[2018-05-14 19:59] nikoren commented on #1275
@danawillow Not sure it is related,
but slightly confused with terraform docs and your comment^^^

[code]
according to [documentation](https://www.terraform.io/docs/configuration/interpolation.html#matchkeys-values-keys-searchset-)  this functions returns list:
[code]

 and the code I found [here](https://github.com/hashicorp/terraform/blob/b002b4303b83f856b851622df9192972ae5191e5/config/interpola

[2018-05-14 20:55] emilymye commented on #1473
I strongly suspect that using "machine_type=custom-NUMBER_OF_CPUS-AMOUNT_OF_MEMORY" in your config will work (see formats for API examples from https://cloud.google.com/compute/docs/instances/creating-instance-with-custom-machine-type#creating_the_instance for example). I will have to get back to you after I test this, but feel free to try this :)

[2018-05-14 21:09] drubin commented on #1473
@emilymye Ah I see now what you mean. That is hidden away in the API section of the google docs. I wonder if it would make more sense to highlight this in the terraform docs?

As someone that has used the CLI and the console it isn't exactly transparent that `gcloud compute instances create example-instance --custom-cpu 4 --custom-memory 5` maps to this magic value. `machine_type=custom-NUMBER_OF_

[2018-05-14 21:44] danawillow commented on #1275
Hey @nikoren, I think it's just an idiosyncrasy of the way HCL requires specifying lists- I wouldn't worry about it.

[2018-05-14 23:31] #54 closed

[2018-05-15 07:34] tkawachi opened #1492 "Support BigQuery dataset regional location"
BigQuery supports [regional location](https://cloud.google.com/bigquery/docs/dataset-locations?hl=en) which is not supported according to [the documentation](https://www.terraform.io/docs/providers/google/r/bigquery_dataset.html).

### Terraform Version

[code]

### Affected Resource(s)

- google_bigquery_dataset

### Expected Behavior

Able to specify regional locations.

[2018-05-15 15:01] tkawachi commented on #1492
I confirmed that BigQuery API returns `"location": "asia-northeast1"` for my existing dataset. Also, I could create a dataset by specifying `"location": "asia-northeast1"` using [Try this API form](https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets/insert#try-it).

I'm not confident about the usage. The documentation says:

[2018-05-15 15:36] sdouche opened #1493 "Cloud IoT Core: Support multiple Pub/Sub topics"
According to the [documentation](https://cloud.google.com/iot/docs/how-tos/devices), A Cloud IoT Core device registry supports multiple Pub/Sub topics:

### Terraform Version
[code]
### Affected Resource(s)
- google_cloudiot_registry

### Expected Behavior
Be able to use multiple topics for a device registry.

[2018-05-15 15:45] marcin-kolda opened #1494 "Support for importing google_logging_organization_sink and google_logging_folder_sink"
Please add support for importing [google_logging_organization_sink](https://www.terraform.io/docs/providers/google/r/logging_organization_sink.html) and [google_logging_folder_sink](https://www.terraform.io/docs/providers/google/r/logging_folder_sink.html) resources.

Currently I'm getting error:
[code]

I get the similar error during importing google_logging_folder_sink.

Used versions:
[code]

[2018-05-15 17:19] sdouche opened #1495 "Clout IoT: ability to add devices"
The module can create registries but not handle devices.

### Terraform Version
[code]

### Affected Resource(s)
google_cloudiot_registry

### Expected Behavior
Be able to create devices with these arguments:

- id
- device communication
- public key format (rs, es, rs_x509, es_x509)
- public key expiration
- device metadata

[2018-05-15 17:38] nmavor commented on #1112
look as some code was done on the terraform side
https://github.com/hashicorp/terraform/pull/11059

[2018-05-15 20:31] #1486 closed

[2018-05-15 21:10] emilymye commented on #1476
Data must be an list, as well as "binding" in the iam policy. Are you trying to name your terraform resource "Compute Engine default service account"? I am not sure that will work.

For better examples:
[code]

HCL version:
[code]

[2018-05-15 21:10] #1476 closed

[2018-05-15 21:36] #1492 closed

[2018-05-15 22:14] emilymye commented on #1480
In general, if named_port isn't enabled in the API on the GKE resource, I'm not sure it makes sense to have it saved as a separate attribute on node pools in Terraform, or that it's the the right way. I'm not the most up-to-date on GKE, so I'll need some clarification - where are you setting the named port in the UI (i.e. on what resource)?

Do you have an ideal example config with barebones resou

[2018-05-15 23:10] #1473 closed

[2018-05-15 23:56] sdouche commented on #1495
Hi @emilymye. You right, it is this API. I stupidly copy/paste the name of fields on the screen, communication is the `Blocked` field in the API.

[2018-05-16 00:00] morgante opened #1498 "Error message for long project name is unclear"
### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

### Affected Resource(s)
Please list the resources as a list, for example:
- google_project

### Terraform Configuration Files
[code]

### Expected Behavior
I get some sort of error that explains my project ID is too l

[2018-05-16 06:40] drubin commented on #1473
Thank you @emilymye

[2018-05-16 14:58] shinzui opened #1500 "Label support for topics and subscriptions"
Is it possible to add label support to pubsub [topics](https://www.terraform.io/docs/providers/google/r/pubsub_topic.html) and [subscriptions](https://www.terraform.io/docs/providers/google/r/pubsub_subscription.html)?

[2018-05-16 16:09] jimmy-huang-ck commented on #1140
@paddycarver @danawillow : Does the team have agreement on how best to move forward?

[2018-05-16 16:57] k4k commented on #397
@danawillow There are two behaviors for this situation that would feel intuitive to me. The first case would be for `node_version` to only apply to nodes defined explicitly within the `google_container_cluster` resource and for `version` to only apply to the `google_container_node_pool` resources. That would be the most straight forward behavior to implement in my mind.

If you wanted to get fancy

[2018-05-16 18:53] davispolly opened #1501 "Custom route advertisement feature for Cloud routers"
Currently, cloud routers support custom route advertisements(https://cloud.google.com/router/docs/how-to/advertising-overview) and this feature is not yet supported by the google_compute_router resource. It would be great if this supported as I have few customers who are actively using it.

[2018-05-16 21:55] danawillow commented on #1215
@kim0, I'm not totally sure I understand what you're getting at. Can you file a new issue about it? If you provide a sample configuration, what you expected to happen, and what actually happened, that'll help. Thanks!

[2018-05-16 22:47] danawillow commented on #397
Yeah, I think having it apply to node pools defined in the cluster resource that don't otherwise have a version set (including the default node pool) makes sense. I won't be able to actually get started on this until next week at the earliest, so if anyone else catches this and has an opinion before I start the work, feel free to continue sharing :)

[2018-05-16 23:17] kim0 commented on #1215
@danawillow .. Sorry for not being clear enough. I suppose I was looking for a parameter like [force_destroy](https://www.terraform.io/docs/providers/aws/r/route53_zone.html#force_destroy) but for Google's DNS. Thanks

[2018-05-17 02:27] robolmos commented on #1044
This would be a helpful provider to have.

[2018-05-17 17:08] paddycarver commented on #1140
So my hangup on this is that we have no real way to test it on our end. We can't verify it works nightly like we do with the rest of the provider, and if someone reports a bug, we have no way to reproduce it on our end.

The upshot is I'm ok with this going in, but I'd really like some sort of warning for users on the docs page for it that--while we believe it works--the level of support for this

[2018-05-17 20:59] emilymye commented on #1480
Ah, I see. I'm not sure there's a good way to essentially import the created instance group to use as a resource currently. We could iterate through the node_pool.instance_group_urls and set a named port on each group, but we'd probably have to discuss how we could do that in the terraform workflow

[2018-05-17 21:29] paddycarver commented on #1140
I'll talk with the other maintainers--I have a meeting with them in 30 minutes--about our merge strategy for this and get an owner on it. I'm of the mindset that if you want to use this, you should be able to, but I just want people to be able to make an informed choice about the risks of it. :) I'll update either later today or tomorrow (I've got to catch a plane at some point...) with how we're

[2018-05-17 22:51] paddycarver commented on #638
The beginning of our app engine support, the ability to create and manage apps, is added in #1503. We'll continue to add resources to better support App Engine, too.

[2018-05-17 23:20] ghost opened #1504 "Google Cloud Data flow - execution parameters are not configurable in Terraform - (diskSizeGb, workerDiskType,workerMachineType )"
### Affected Resource(s)

* google_dataflow_job

_This issue was originally opened by @karthik-papajohns as hashicorp/terraform#18073. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Deb

[2018-05-18 05:17] shraddhajain01 commented on #974
No. I also used Terraform resource to create a source repository. API is enabled and I am able to create a repo from cloud console. I get the error when I run terraform script to provision repo.

[2018-05-18 12:26] mytototo commented on #638
Thank you very much for your work (and for the update) @paddycarver.
Should we close this issue in favor of your PR?

[2018-05-18 14:54] jpza commented on #1480
@emilymye I think this is a common use-case for people using GCP. Since the terraform policy is not to implement things in beta (which for google means critical components) we have no ability to create ingress resources (kind: Ingress) via terraform other than by using forked versions of terraform which can be problematic.

Since everything I'm discussing here is considered stable (v1) this allows

[2018-05-18 15:14] apenney opened #1506 "rolling_update_policy in regional_group_manager's seems buggy"
### Terraform Version
Terraform v0.11.7
+ provider.google v1.12.0

### Affected Resource(s)
- google_compute_region_instance_group_manager

I tried enabling rolling_update_policy in two different modules.  Both didn't work for different reasons.

#### Bastion

Our bastion module makes a single instance.  I added:

[code]

When I checked via the console I saw the settings were:

[code]

Which is ob

[2018-05-18 15:55] #1404 closed

[2018-05-18 16:50] theothermike commented on #1267
still happening on 0.11.7 w 1.12 of provider.

"panic: interface conversion: interface {} is nil not map[string]interface {}"

[2018-05-18 17:04] emilymye commented on #1506
Hi @apenney! It would be very helpful if you could run with env variable `TF_LOG=DEBUG` and give us  the debug logs output for some example configs where you are changing/adding rolling update. If you can give us the debug logs and the configs you are using, we can probably help more.

[2018-05-18 17:43] shraddhajain01 commented on #974
This is surprising. Today again I ran my Terraform script to create a source_repo, in a VM. It worked fine. I did not touch the code or tried anything else to fix it, I just SSHed to the VM again and ran the script, it worked. I am able to create a source_repo without any issue.

[2018-05-18 17:44] ndmckinley commented on #974
Can you describe your authentication setup?  The error that you are getting is the known issue related to using `gcloud auth application-default login`.  When you run your script to create a source repo in a VM, you're authenticating using the service account, which does not have this issue.

[2018-05-18 17:47] mathyourlife-fitbit commented on #974
Confirmed, works now for me too. I believe the API was enabled for that internal google project.

[2018-05-18 17:49] ndmckinley commented on #974
Ah, I see that the upstream fix was merged!  That's great.  I suppose based on your experience that it has been deployed, as well.  I'll close this tracking issue.

[2018-05-18 17:49] #974 closed

[2018-05-18 18:06] booi commented on #638
Great work!

[2018-05-18 18:31] robgil commented on #1469
Running in to this as well while attempting to apply `enable_flow_logs`.

[2018-05-18 22:05] benbro opened #1509 "Delete non-empty storage bucket with force_destroy"
### Terraform Version
Terraform v0.11.7
+ provider.google v1.12.0
+ provider.local v1.1.0

### Affected Resource(s)
- google_storage_bucket

### Terraform Configuration Files
[code]

### Expected Behavior
I have a bucket with several objects. The bucket and all objects should be destroyed when using force_destroy=true.

### Actual Behavior
Fail to destroy non-empty bucket with the following error:

[2018-05-18 23:54] paddycarver commented on #638
I'd love to leave the issue open just so we can track the issue separately from the implementation of a fix. I'll come close the issue out when the PR (or a different PR adding the support, if we decide not to go with #1503) is merged.

[2018-05-19 00:01] paddycarver commented on #1469
Do you happen to have a reproducible config for this, or debug logs? I've been unable to reproduce it in our tests or on my own.

[2018-05-19 00:16] paddycarver commented on #638
Just merged in #1503, so I'm going to close this out, as it looks like the next release will have support for creating App Engine applications.

[2018-05-19 00:16] #638 closed

[2018-05-21 15:58] danawillow commented on #1480
I don't have anything new to add about named ports at the moment, but I wanted to pop in here and say that we don't have any policy not to implement things that are in beta; we have plenty of beta features in the GCP terraform provider! If there are any missing, feel free to file a feature request :)

[2018-05-21 18:15] jpza commented on #1480
@danawillow My mistake - I was referring to https://github.com/terraform-providers/terraform-provider-kubernetes/issues/14 which reflects the policy of the Kubernetes provider not GCP.

[2018-05-21 22:28] danawillow commented on #1506
Actually, I think this is WAI. @apenney, when you were running the update, were you also changing the instance template?

[2018-05-21 22:35] danawillow commented on #1509
Hey @benbro, I'm not able to reproduce this. Can you post your debug logs as well by setting TF_LOG=DEBUG and putting the output into a gist? (https://www.terraform.io/docs/internals/debugging.html)

[2018-05-21 22:59] danawillow commented on #1371
Hey @hprotzek, I'm giving this a try but I can't reproduce it with your example. What version of the google provider are you using? Would you mind posting debug logs (run `TF_LOG=DEBUG terraform apply` and put the output into a gist)?

[2018-05-22 02:18] dthapa commented on #1469
@paddycarver ty; apologies for not getting to this fast enough.

here is my test config:

subnetworks.tf

[code]

[debug.log](https://github.com/terraform-providers/terraform-provider-google/files/2024697/debug.log)

[2018-05-22 04:41] benbro commented on #1509
I've deleted the GCP project so I can't reproduce it now.
You can close the issue and I'll open it again with debug logs if I'll run into it again.
Thanks

[2018-05-22 11:58] apenney commented on #1506
I was, I was definitely updating the image it was deploying as well!

[2018-05-22 19:45] danawillow commented on #1498
Fixed in #1519

[2018-05-22 19:45] #1498 closed

[2018-05-22 20:22] jpza opened #1520 "PEM parse asn1 error on terraform apply"
Hi there,

I have an issue where trying to create a simple cluster is resulting in a PEM error. I've read other issues that say this error indicates that the resource has an incorrect configuration but I have checked the documentation thoroughly and my config seems simple and well-formed.

### Terraform Version
$ terraform -v

[2018-05-22 20:28] danawillow commented on #1506
Hm, ok then. When you get the chance, feel free to send over the config and debug logs (and plan output, just to be safe) and I'll take another look :)

[2018-05-22 20:30] danawillow commented on #1509
Will do, sorry I couldn't be of more help!

[2018-05-22 20:31] #1267 closed

[2018-05-22 20:35] danawillow commented on #1520
Hey @jpza, that sounds like potentially a credentials issue. How did you download your credentials file? Are you able to provision other resources in TF?

[2018-05-23 08:56] wmuizelaar commented on #1469
I can reproduce this as well - what I noticed is that resources that do /not/ have secondary_ip_ranges defined didn't work, and resources that /do/ have secondary_ip_ranges defined actually work.

[2018-05-23 14:43] ffilippopoulos commented on #1375
+1 We are seeing the same behaviour when defining a `google_compute_region_backend_service` using a backend from a `google_compute_region_instance_group_manager` that has a `rolling_update_policy`.

@paddycarver did you guys managed to work around this?

[2018-05-23 19:16] abevoelker opened #1526 "`google_sql_user` always wants to recreate (not populating tfstate)"
### Terraform Version
Terraform v0.11.7
+ provider.google v1.12.0
+ provider.random v1.3.1

### Affected Resource(s)
- google_sql_user

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/abevoelker/6b650dcd6b639388e6f11b9bf139e370

### Panic Output
N/A

### Expected Behavior
The user should be added to the Cloud SQL database instance, and subsequent `terraform plan`

[2018-05-23 21:20] morgante opened #1529 "App engine API unnecessarily required for project creation"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- google_project

### Summary
When I try to create a project using a Service Account, it fails unless the Service Account's project has the App Engine API enabled. After #1503, if I create Project B using Service Account A (which lives in Project A), it requires that I activate the App Engine A

[2018-05-23 21:50] paddycarver commented on #1529
Argh, it seems this is my week to get bitten by this. Here's what I've got on this issue for the moment:

We're operating under the belief that the _target_ project (the project the app is getting created in) needs the App Engine Admin API turned on, and _only_ the _target_ project. So we turn that API on as part of project creation, because there's no opportunity for a user to turn it on--the pro

[2018-05-23 21:53] #1393 closed

[2018-05-23 21:53] morgante commented on #1529
Hi @paddycarver, that makes sense and I believe it's correct that the source project does indeed need it.

However, in my configuration I don't use App Engine at all - I don't have any App Engine block. In that case, I don't think I should have to (or want to) activate the App Engine Admin API on *any* project.

[2018-05-23 21:54] paddycarver commented on #1529
Oh, I'm sorry, I misread and got ahead of myself. I just merged #1523, which should address the issue. If you build off master, this should be resolved. Sorry for the confusion there!

[2018-05-23 23:13] danawillow commented on #1467
Added in #1485.

[2018-05-23 23:13] #1467 closed

[2018-05-24 00:40] abevoelker commented on #1526
I just added some outputs that reference `google_sql_user.cloudsqlproxy`:

[code]

Which suddenly causes `terraform apply` to error out:

[code]

However if I do a `terraform refresh` right after, the outputs do show up, although it seems to ignore the `sensitive` option:

[code]

[2018-05-24 02:25] danawillow commented on #1526
Thanks for providing the debug logs!

So, right now you're creating a postgres db instance and then assigning a user to that instance. Postgres users don't have hosts, so the API is ignoring the host you set for it (ideally it would error instead- I'll ask around and see if I can get that changed). When we try to read back the list of users to match it with the one in your config, we're not seeing

[2018-05-24 11:14] javiercri opened #1532 "Deploy GKE with a shared VPC in other GCP project"
Hi there,
I try to deploy a google_container_cluster with VPC shared in other GCP project. I can deploy manually using the network like this: “projects/“project with VPC shared"/global/networks/“VPC Shared network” in the console but with terraform I receive this error:
google_container_cluster.primary: googleapi: Error 400: must use a network belonging to project.

I think we need something for t

[2018-05-24 12:13] thomasriley opened #1533 "Add support for VPC native on GKE"
Hi there,

It would be useful if the google_container_cluster resource allowed disabling alias IP. It is enabled by default when using setting secondary ranges in `ip_allocation_policy` for a GKE private cluster however alias IP is not required to be enabled for private GKE as I understand.

Issue is we use Terraform to launch our cluster however do not use VPC native routing. Working around this

[2018-05-24 15:06] abevoelker commented on #1526
Thanks for that explanation - I should've read the other issue(s) closer (my bad). I was getting hung up on the Cloud SQL Proxy user creation instructions I was using which do seem to specify a hostname, but I must've been looking at the MySQL-specific instructions as the [Postgres-specific page](https://cloud.google.com/sql/docs/postgres/connect-kubernetes-engine#3_create_the_proxy_user) does say

[2018-05-24 15:06] #1526 closed

[2018-05-24 19:14] jpza commented on #1520
Credentials are gathered as suggested on the provider docs: "Contents of the JSON file used to describe your account credentials, downloaded from Google Cloud Console."

[code]

/Users/myuser/.tfcreds/tfadmin-dev.json has a valid service-account key

I'm not able to provision anything. I just tested. Everything throws this PEM error

[2018-05-24 19:20] jpza commented on #1520
Just realized my problem. I was setting the wrong env var. Should have been setting `GOOGLE_CLOUD_KEYFILE_JSON`

[2018-05-24 19:20] #1520 closed

[2018-05-24 19:47] danawillow commented on #1532
Hey @javiercri, sorry to hear this isn't working for you! Would you mind posting a full config for the resource, as well as plan output and debug logs? That would help me figure out why it isn't working.

In the meantime, feel free to check out how I set up shared vpc with gke in this test: https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_container_clust

[2018-05-24 22:34] javiercri commented on #1532
[code]
Here is my main for the cluster. I check your example and I check all the permissions for my projects and all are ok.
I follow the instructions here and I can deploy my cluster.
https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-shared-vpc#summary_of_roles_granted_on_subnets

Do you have a config for this variable "--enable-ip-alias" or it is automatic

[2018-05-24 22:55] danawillow commented on #1532
It's automatic when `ip_allocation_policy` is set.

[2018-05-24 23:02] danawillow commented on #1533
Hey @thomasriley, the documentation at https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#creating_a_private_cluster says:

what am I missing?

[2018-05-24 23:11] danawillow commented on #1382
Fixed as part of #1528

[2018-05-24 23:11] #1382 closed

[2018-05-24 23:12] danawillow commented on #1162
Fixed in #1206

[2018-05-24 23:12] #1162 closed

[2018-05-25 07:18] javiercri commented on #1532
https://github.com/terraform-providers/terraform-provider-google/commit/974c3f7646ae2d54a7d5f06cfcd8868ca2fcde65
I see your yesterday commit and I download the 1.13 version (Yesterday I use the 1.12)
Fixed with the new provider version v 1.13.
Thank you so much :)

[2018-05-25 07:18] #1532 closed

[2018-05-25 07:26] pdaborowski-playtech opened #1538 "terraform-provider-google_v1.13.0_x4 fails to create services"
Hi,
When creating new resource google_project_services in google provider version published 14 hours ago, project ID seems to be hardcoded to 764086051850 in every  new project we're creating.

`* google_project_services.service: Error creating services: googleapi: Error 403: Service Usage API has not been used in project 764086051850 before or it is disabled. Enable it by visiting https://console

[2018-05-25 09:08] paddycarver commented on #1538
Hey @pdaborowski-playtech, sorry for the issue! As called out in the [changelog](https://github.com/terraform-providers/terraform-provider-google/blob/master/CHANGELOG.md#1130-may-24-2018), this is a change in how the services resource works. Clicking the link in that error message and hitting the button should make the issue go away. Apologies again for the error.

[2018-05-25 09:57] moxli opened #1539 "master version "1.10.2-gke.1" is unsupported."
### Terraform Version

Terraform v0.11.7
+ provider.google v1.13.0

### Affected Resource(s)
- google_container_cluster

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/6110ef5127b1cad9f9fdb143521e5ccd

### Panic Output
n/a

### Expected Behavior
Terraform creates a new GKE cluster with the master version 1.10.2-gke.1.

### Actual Behavior
The google API says the

[2018-05-25 14:07] rgardam commented on #1539
Hi.
I was also hitting this silly bug today. It might be that gke has published a new version and not updated their docs

I found that I was able to deploy the `1.10.2` version without the `-gke.1` at the end

During this time I found that terraform was flip flopping between 1.10.2 and 1.10.2-gke.3

`node_version:                                                            "1.10.2-gke.3" => "1.10.2

[2018-05-25 15:14] camechis commented on #1538
Also seeing this error.  Seems kind of like a chicken and the egg when generating a project with terraform.  I would have to generate the project only, then click the api, then continue on with terraform.

[2018-05-25 15:43] ronlipke commented on #1538
This also broke existing projects that are already being managed with terraform.  Now we have to use the console to enable this api outside of our terraform ci pipeline and version control.

[2018-05-25 15:49] TaysirTayyab commented on #1538
@paddycarver Can you describe how this change fits into pipelines? The change essentially makes it to so that you need the api to use the resource, but you need the resource to enable the API.

Are end-users expected to just enable the API manually each time?

[2018-05-25 16:01] pdecat commented on #988
Similar issue upgrading from 1.12.0 to 1.13.0, `terraform apply` now wants to perform this change every time:

[code]

Note the `beta` => `v1` change in the subnetwork link.

[2018-05-25 16:08] mlauter commented on #1538
I agree with the commenters above about the issues this change introduces. In addition to that, I have enabled the service usage api by hand for one of my projects, and I'm still getting this error. The error message says `If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry`, however, it's been about an hour now.

@paddycarver is `project_id=76

[2018-05-25 16:10] danawillow commented on #988
Hmm, I'm not sure why our diffsuppress isn't catching that. Mind posting debug logs?

[2018-05-25 16:12] pdecat commented on #988
Sure, let me redact some parts of it.

[2018-05-25 17:02] camechis commented on #1538
I did just notice one thing that may help.  I Believe this api has to be enabled on the project executing terraform.  For instance I have a terraform project setup that has an account to be able to create other projects and the tfstate is stored in this project.  It seemed like this was the account that needed the api.  Not the one being created.

[2018-05-25 17:14] mlauter commented on #1538
yeah @camechis i just realized that too. In that light, this seems alright. Still a bit annoying to have to do this manually for the project we're running tf from, but not a big deal.

[2018-05-25 17:28] paddycarver commented on #1538
Apologies for an unclear answer, everyone. Here's how this should be working (and works in my tests):

You have a project that is the default for Terraform; this is the project the service account you're authenticating with belongs to, or the `project` field in your provider config, or the `GOOGLE_PROJECT` environment variable. Let's call this project A.

You have a project that is being created,

[2018-05-25 17:59] camechis commented on #1538
@paddycarver Thats exactly how its working for me. This is less of an issue now that this is cleared up (at least for me ).

[2018-05-25 18:31] mlauter commented on #1538
Thanks for the follow up @paddycarver this makes a lot more sense now! The one thing I'll say is clicking the link directly didn't work for me. It didn't lead to my project (but i just had to select my project, so not a huge deal).

[2018-05-25 18:36] morgante commented on #60
We're working on a temporary workaround module.

[2018-05-25 20:06] TaysirTayyab commented on #1538
@paddycarver That makes more sense. Thank you so much!

[2018-05-26 00:26] ndmckinley commented on #53
We no longer have this assumption!