[2020-01-21 20:51] Anthonyntilelli opened #5458 "app_engine_application: disable appenging on destroy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-21 21:16] flaker commented on #5388
I've used the exact same account for the last 5 months (at least). But this issue showed up like a week ago or a bit more.

[code]
while a service account is clearly suggested. I still don't get why the error shows up now. Is it a change gcp side? I don't remember updating any provider.

[2020-01-21 21:17] danawillow opened #5460 "Retries for everything"
Request from KCC. Generated resources have retries for everything, but handwritten ones only do sometimes.

Ideally this would be done as a custom transport or something like that so that we don't have to copy/paste retry blocks into all the handwritten resources. If we do that strategy, we'll at least want to remove the ones we already have so that we aren't retrying our retries.

[2020-01-21 21:55] spew opened #5461 "Control over logging in the provider, ex: add a prefix to every log line"
### Affected Resource(s)

* google_*

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help priori

[2020-01-21 21:56] jba opened #5462 "google_monitoring_alert_policy: "labels" doesn't go away"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-21 22:32] ndmckinley commented on #4779
Hey there!

Thanks for the question.  Unfortunately, the information that you would need to do this is just not present in the API object.  It seems like your workaround is genuinely the best way to do this right now.

I do wish there was a way to do this in a single step, but unfortunately there is not at the moment.

[2020-01-21 22:33] #4779 closed

[2020-01-21 22:34] ndmckinley commented on #5016
Going to close - please comment if you need this reopened.

[2020-01-21 22:34] #5016 closed

[2020-01-21 22:39] #5072 closed

[2020-01-21 23:46] edwardmedia commented on #5439
Able to repro this issue
[code]

[2020-01-21 23:48] danawillow commented on #4195
You're welcome to file an issue against the GCP API if it's something you'd like to see! https://cloud.google.com/support/docs/issue-trackers

[2020-01-22 00:09] edwardmedia commented on #5446
@dijitali you might want to try
[code]
Let me know if you still have questions.

[2020-01-22 00:10] edwardmedia commented on #5446
@dijitali I am closing this issue. If you still encounter problems or want to further discussion, you may reopen the issue. Thanks

[2020-01-22 00:10] #5446 closed

[2020-01-22 00:17] edwardmedia commented on #5440
@lawliet89  Can you post your configuration here? Thanks

[2020-01-22 00:19] danawillow commented on #5124
Is the developer advocate a terraform user, or someone from the product side? Just want to get a sense of whether their opinion is coming from their expectations of how users use a product or whether it's because they actively are using it.

Regardless, it probably makes sense to have the json ability, but it might make sense to also have a resource that allows for HCL, which makes it easier for o

[2020-01-22 00:20] venkykuberan commented on #3385
@yellowmegaman could you try  `initial_node_count  = 7` on your cluster config and see you can avoid the upgrade as with that config, state was `Running` for me all the time (tried for about 5 mins) when i hit cluster from gcloud after the cluster creation is complete from terraform.

However coming to the core issue, Once Terraform gets the status as cluster complete it will close the loop and it

[2020-01-22 00:32] ndmckinley commented on #3378
Hi - it seems to me that this was fixed in https://github.com/terraform-providers/terraform-provider-google/pull/4556 - if you update to any version past 2.18.0, you'll have the fix.

[2020-01-22 00:32] #3378 closed

[2020-01-22 00:44] edwardmedia commented on #5442
@MaT1g3R yes, I can repro this issue. It does show below plan
[code]

[2020-01-22 00:44] #5454 closed

[2020-01-22 00:54] edwardmedia commented on #5443
@michyliao I need a little more info from you so I can help repro the issue. I have no idea when you say `some iam_member modules applies and others return this error.`. Can you specify the differences? Also could you post your full debug logs for both cases? Thanks

[2020-01-22 01:15] lawliet89 commented on #5440
This is the diff in the configuration that caused the issue.

[code]

[2020-01-22 01:20] thefirstofthe300 commented on #3385
What I'd love to see is the Terraform provider make a check to if it needs
to wait for an ongoing operation on the cluster before attempting to apply
anything. I'd envision this being solved in some way where the provider
would wait for both the operation and Terraform application to either
complete before the given Terraform application timeout or trigger the
timeout.

In the case of these small

[2020-01-22 01:43] edwardmedia commented on #5420
@nikrhes the region you selected is `asia-southeast1` where the `Cloud Run` has not be enabled. Below are the regions where `Cloud Run` is available
[code]

[2020-01-22 01:44] edwardmedia commented on #5420
@nikrhes I am closing the issue now. If you want further assistance, please reopen the issue. Thanks

[2020-01-22 01:44] #5420 closed

[2020-01-22 01:49] venkykuberan commented on #5445
@takat0-h0rikosh1, this error message isn't related to your config. It's much broader issue happening on the SDK side which we are working on it currently.

regarding your initial question about assigning a role to a domain, i attached a sample config for reference.
[code]

[2020-01-22 02:19] #4405 closed

[2020-01-22 06:05] clee231 commented on #4276
So I believe the same error can occur with `google_project_iam_binding` and `google_project_iam_member`.

After a little bit more investigation, I noticed that running the same policy update via Terraform vs the gcloud CLI generates slightly different error messages. (Does it show different messages based on API client?)

My Terraform definition is as follows:
[code]

Using the gcloud CLI, I get:

[2020-01-22 08:36] drigz commented on #5124
I don't know, although looking at their comments again, I don't get the impression they're heavy user.

[2020-01-22 09:21] dijitali commented on #5446
@edwardmedia - many thanks for taking the time to help and it's even documented like that:

Had a brain fart.  Apologies for not RTFM here!

![doh](https://media.giphy.com/media/xT5LMESsx1kUe8Hiyk/giphy.gif)

[2020-01-22 10:53] poligraph commented on #5244
it's only reproducible if image_version `composer-1.7.1-airflow-1.10.2`  is used , if use `composer-1.8.3-airflow-1.9.0` - I can create composer with no issues.

[2020-01-22 10:59] poligraph commented on #5401
@edwardmedia here is my config

[code]

[2020-01-22 12:09] jonefmc opened #5464 "Add metadata field in google_storage_bucket_object"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-22 14:13] weargoggles commented on #4628
I'm encountering this today. The datasource read [delegates to the resource read](https://github.com/terraform-providers/terraform-provider-google/blob/1b413bc/google/data_source_google_compute_instance_group.go#L108), and the [resource read always validates the zone](https://github.com/terraform-providers/terraform-provider-google/blob/1b413bc/google/resource_compute_instance_group.go#L203).

[2020-01-22 14:15] weargoggles commented on #4628
Oh, it seems by the time the resource read validates it that it [should have been set](https://github.com/terraform-providers/terraform-provider-google/blob/1b413bc/google/data_source_google_compute_instance_group.go#L101)…

[2020-01-22 14:21] weargoggles commented on #4628
The `instance_group_urls` of a `google_container_node_pool` appear to be the URLs for instance group _managers_ not instance groups: https://github.com/terraform-providers/terraform-provider-google/blob/1b413bc/google/resource_container_node_pool.go#L491

[2020-01-22 16:57] eakarsu opened #5466 "Dataproc is not able to use service account with terraform"
terraform version
Terraform v0.12.19
+ provider.google v3.5.0

I set both GOOGLE_CREDENTIALS and GOOGLE_APPLICATION_CREDENTIALS with my service account. I have small test tarraform script to create a dataproc cluster. When run it with "terraform apply", I am getting error saying default SA is not found. Why gcloud is not using my sa?

terraform apply

An execution plan has been generated and is sh

[2020-01-22 18:04] eakarsu commented on #5466
We need to add service account to gce_cluster_config section for dataproc

[2020-01-22 18:04] #5466 closed

[2020-01-22 18:46] dijitali opened #5468 "Ability to reference a GKE google_compute_backend_service by kubernetes.io/service-name label"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-22 19:20] rileykarson commented on #5444
Hey @j-martin!

I'm a little confused how these datasources will help your use case. If you were to use `google_project_iam_policy` with the policy data fed in from `data.google_project_iam_policy`, wouldn't the effect just be that Terraform never sees a diff?

I think one avenue to explore would be to create a service account on your project, and grant it the project owner role. Then, "`sudo`" us

[2020-01-22 20:17] edwardmedia commented on #5440
I do see below plan if I want to flip the dnssec between `on` and `off`
[code]

[2020-01-22 21:32] j-martin commented on #5444
As counter interruptive as it may seem we do want to have zero change for
this role. For example, if doing a plan I might have not granted myself the
extra role so I don't want to add it in terraform. If I do an apply and
granted myself the role temporarily then I want terraform to keep the role.

In the end I got it working by using the external provider and invoking
`gcloud Ian roles ...` direct

[2020-01-22 21:34] #5444 closed

[2020-01-22 22:17] edwardmedia commented on #5401
@poligraph I see what you mean now. I see the difference for this between GCP console and API. While the console does not allow you to enter an empty value key, API does. We follow the API standard. Below is the API reference
https://cloud.google.com/composer/docs/reference/rest/v1beta1/projects.locations.environments#SoftwareConfig
I am closing this. If you want further discussion, you may reopen

[2020-01-22 22:17] #5401 closed

[2020-01-22 22:35] edwardmedia commented on #5462
duplicate https://github.com/terraform-providers/terraform-provider-google/issues/5339

[2020-01-22 22:35] #5462 closed

[2020-01-22 22:46] edwardmedia commented on #5463
@shaulishaked  is this something you are looking for
https://www.terraform.io/docs/providers/google/r/container_cluster.html#cloudrun_config

[2020-01-22 22:59] edwardmedia commented on #5388
@flaker if you take a closer look at the error message, it appears your calls were rejected by `googleapi`. Sorry, we don't have much I can provide related to the API changes.
[code]

[2020-01-22 23:45] #5452 closed

[2020-01-22 23:49] ndmckinley commented on #5439
Hi there!

Unfortunately, this is an issue introduced by some new handling of plans in Terraform 0.12.  We aren't able to work around this on our side right now, but you will be able to.  Instead of the string `default` as the base value for `network` in your `google_compute_instance`, please try the full name of that resource, which is `https://www.googleapis.com/compute/v1/projects/terraform-01-

[2020-01-22 23:49] #5439 closed

[2020-01-22 23:58] ndmckinley commented on #5445
That was correct.  After some further investigation, @venkykuberan's configuration will also address the problem you are seeing!  Thanks, @venkykuberan.  Please reopen if you have any further issues!

Best,
Nathan

[2020-01-22 23:58] #5445 closed

[2020-01-23 00:53] #5218 closed

[2020-01-23 01:01] danawillow opened #5478 "GKE CMEK on Boot DIsk"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-23 01:19] lawliet89 commented on #5440
For reference, the entire `dnsssec_config` attribute has `ForceNew: true`. cf. https://github.com/terraform-providers/terraform-provider-google/blob/e47132abd91fd0410dbc8b4b55fef833ea302657/google/resource_dns_managed_zone.go#L70

[2020-01-23 01:53] chrisst commented on #5357
@craigwatson you are correct that `google_compute_disk_resource_policy_attachment ` will not work with region_disk's right now. We usually end up supporting the regional use cases by adding new resources rather, but this isn't 100% consistent as some resources do transparently support both.

Unfortunately because zone and region can be specified in environment variables or the provider block, it's

[2020-01-23 02:14] venkykuberan commented on #5422
@ChethanUK it looks to me [API](https://cloud.google.com/composer/docs/reference/rest/v1beta1/projects.locations.environments#EnvironmentConfig) doesn't support that field yet. We will add the fields to provider once API support it. If you agree i will go head and close this issue.

[2020-01-23 03:37] chrisst commented on #5054
@AndrewZurn The dropdown you see is filtering the list of available GKE instances to only those that have cloud run enabled. This isn't something that would be part of KNative.

It looks like the UI filter is checking for any GKE cluster that satisfies the requirements for it to be able to work with cloud run. I don't know the exact filter but it appears to more than just setting `cloudrun_config`

[2020-01-23 09:20] haf-afa commented on #1472
@morgante What about the suggestion of @discentem - using the PKI infra to extract the password rather than "screen scraping" the password from the output of the serial port?

[2020-01-23 10:54] yellowmegaman commented on #3385
@venkykuberan Don't see any reason to try with initial node count = 7, since all users have different scenarios.
Actually same for workaround, it's working, but only for this size/count, for larger pools it *may* not work, at least the sleep limit.

I totally understand that this is happening outside terraform interaction loop, but was hoping to bring this issue to attention of someone developing

[2020-01-23 13:07] hallvors commented on #5018
@edwardmedia can I share a demo project with you so you can try to reproduce?

[2020-01-23 14:50] koesper commented on #2973
I contacted our google accountmanager about this issue, and after that he disappeared completly. Hasn't replied to any mail or call in three weeks.

It looks like firebase + terraform is a a no-go area for Google :-(

[2020-01-23 15:26] edwardmedia commented on #5018
@hallvors yes please. Please let me know how I can repro this.

[2020-01-23 15:49] moos3 opened #5482 "Import of google_sql_database_instance crashs provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-23 16:57] eakarsu opened #5483 "Not able to create dataproc cluster in another project"
I am creating dataproc cluster with terraform with latest version and lates version of gcloud provider 3.5

Even though we are giving all roles to sa account to use, still we are getting error.

Roles:
Compute Instance Admin (v1)
Dataproc Administrator
Dataproc Service Agent
Dataproc Worker
Dataproc Editor
Storage Admin

It does not matter whether we c rate dataproc cluster with glcoud direct comm

[2020-01-23 19:00] calbach commented on #4715
@tysen yes; the specific use case we have for this is in combination with perimeter bridges. To ingest data into a restricted perimeter, one of the recommended patterns is to use a bridge to move data from a source project (in a different perimeter) into the target perimeter. In our case, we're simply defining the perimeter to satisfy the requirements for creating the bridge - there is not need to

[2020-01-23 19:01] AndrewZurn commented on #5054
I more so curious, if upon creating a cluster with cloud run enabled, that you can then specify it as the backing/deployment platform for the a new cloud run resource.

Something like this:
[code]

Does that make sense, or am I totally in left field? More or less, we can create a GKE cluster with cloud run enabled, but how is it that we can then leverage that same cluster to deploy our cloud run s

[2020-01-23 20:12] paddycarver commented on #5439
I think you can also use the `google_compute_network` [data source](https://www.terraform.io/docs/providers/google/d/datasource_compute_network.html) to resolve this:

[code]

[2020-01-23 20:37] edwardmedia commented on #5483
@eakarsu  can you share your configurations? Also please post the full debug log so I can take a look. Thanks

[2020-01-23 22:37] calbach commented on #4509
My team has a similar need which I think would likely already be covered by this ticket but wanted to include here explicitly. In our case, the perimeter projects are managed entirely outside of Terraform, but we still want to manage the other status fields with Terraform (e.g. `restrictedServices`).

Ideally we could specify:
[code]

but when I last checked the only level of granularity supported

[2020-01-23 22:55] danawillow commented on #4509
@calbach I don't think having a fine-grained `google_access_context_manager_service_perimeter_resource` would solve that need, since the only extra behavior it would add is allowing an association between a project and a service perimeter.

Just to check, do either of these work?
[code]
[code]

[2020-01-23 22:58] venkykuberan commented on #5482
@moos3 I assume you have created the `google_sql_database` and `google_sql_database_instance` successfully outside the terraform and want to import the resource state to terraform.

the import commands are
[code]
I am able to import the state with the version
[code]

---------------- sample config ----------------
[code]

[2020-01-23 23:25] calbach commented on #4509
:man_facepalming: Thank you @danawillow ! This works as desired:

[code]

Admittedly I don't understand why I'm indexing into an apparently non-repeated field, but I'll take it. I suspect this is what tripped me up when I last tried it.

[2020-01-24 00:56] chrisst commented on #5054
Ok I think what you are looking for is described a bit better in the follow documents. Setting up a GKE cluster to be equipped to be used by cloud run is described much better in [this set up guide](https://cloud.google.com/run/docs/gke/setup#create_cluster) than in my previous comment.
To answer your question, deploying a cloud run service to an existing GKE instance is described at https://cloud

[2020-01-24 01:05] #5442 closed

[2020-01-24 01:23] venkykuberan commented on #3495
@ellisio It looks to me this issue is fixed in the later versions, as i am able to create both master/fail over without any errors. Hence i am closing this ticket. Please reopen if you still see the issue on your end.

[2020-01-24 01:23] #3495 closed

[2020-01-24 13:37] hallvors commented on #5018
@edwardmedia I have attempted to create a demo and zipped it up here:
https://drive.google.com/file/d/1cuZkPmsWRjYxK-aZUyzMtXtK70dhllL4/view?usp=sharing

I have tried to remove secrets and set up a dedicated GCP project with a separate service account. Hopefully I have not published anything risky, if you spot anything let me know. Also kindly let me know when you have downloaded the zip so I can

[2020-01-24 13:48] hallvors commented on #5018
(I should also ofc remove that project when you're done since Google is probably charging for the test VMs :) )

[2020-01-24 17:07] AndrewZurn commented on #5054
@chrisst - Thanks for sharing those. Yeah, definitely sounds like opening a new issue for a new potential feature request is a good route. I'll put together some notes around what/where I see myself using this, and get that opened sometime in the next few days. Thanks again for the assistance!

[2020-01-24 18:17] slevenick commented on #4951
@billyfoss and/or @stevenaldinger can you provide configs that are causing the failure?

Sorry for taking so long to get back on this, there seem to be several different reports of issues around backend.group in here

[2020-01-24 18:20] #4932 closed

[2020-01-24 18:21] #4562 closed

[2020-01-24 18:25] #4251 closed

[2020-01-24 18:26] #4039 closed

[2020-01-24 18:26] #4025 closed

[2020-01-24 18:26] #2498 closed

[2020-01-24 18:27] slevenick commented on #4024
Glad to hear that 2.20 might have cleared it up. Are you still seeing this issue @ejschoen ?

[2020-01-24 18:31] EmilyMazo commented on #5377
Hi @venkykuberan! Thank you for your response! This solution would not allow our services to continue specifying the app profile they wish to use by app_profile_id. In addition, I believe the Bigtable Instance itself is what needs to have a randomly-generated name, so that when the Instance is deleted by tf and a new one is created, the name changes and the app profiles have parameters that need t

[2020-01-24 19:15] upodroid commented on #5483
@eakarsu Hi that error is to do with the dataproc service account not having Compute Network User role in the Shared VPC Host project.

Please review this document. https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/network#creating_a_cluster_that_uses_a_vpc_network_in_another_project

[2020-01-24 19:42] Arconapalus commented on #5438
@edwardmedia
I'm sure if this is right with the logs
[code]

[2020-01-24 20:27] edwardmedia commented on #5483
@eakarsu you said you see the same error by running `gcloud` and `terraform`. You file this issue at `terraform-provider-google`, before I say for sure this is not a terraform issue, do you mind if you post your terraform code and your full debug log so I can take a closer look? Thank you

[2020-01-24 20:29] venkykuberan commented on #5377
@EmilyMazo  can you please share you big_table_instance and app_profile config. Your `random_string` resource doesn't have any `keeper` and i wonder you get random value on the next plan after you change "PRODUCTION" to "DEVELOPMENT".

Also I am not able to repro the error message you are getting. It would be helpful if you can share the config.

[2020-01-24 20:35] EmilyMazo commented on #5377
Sure! Here is the config after I made the changes that created the plan output I shared above:

[code]

[2020-01-24 21:20] #5428 closed

[2020-01-24 22:22] edwardmedia commented on #5438
@Arconapalus After you updated the value for `event_type`, what did you receive? Terraform syntax error? It seems fine to me. Below is what I have
[code]

[2020-01-24 22:34] venkykuberan commented on #3385
@yellowmegaman i didn't mean to use constant value 7 for the node count. I wanted to try the same node_count for default node pool as well, so that master is sized correctly in the initial creation time (doesn't have to resize it later).

Also please let us know
 is terraform successfully creating the cluster and exiting or timing out ?

[2020-01-24 22:47] edwardmedia commented on #5018
@hallvors  go the zip file. Please remove it

[2020-01-24 23:43] cynful opened #5492 "google_bigtable_instance force replacement of development instance_type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-24 23:43] venkykuberan commented on #5377
@Ebolon I believe your config would generate random string only once after that some value change is needed to trigger the random_generator for new string (which is not there). Given in your config you have big_table_instance and app_profile resources the best bet i can think of setting the randomness on app_profile ("static name - <random value>"). This way i am able to force create every time i

[2020-01-25 00:05] #5062 closed

[2020-01-25 00:22] venkykuberan commented on #5492
@cynful as long num_nodes is unset you don't get any error message about `num_nodes`.
Can you please confirm that when you are changing the `instance_type` from PRODUCTION to DEVELOPMENT that you are removing the num_nodes entry in the config.
the below config created Dev cluster successfully.
[code]

[2020-01-25 00:28] cynful commented on #5492
@venkykuberan I never re-assigned it to PRODUCTION.
I made a DEVELOPMENT instance. I would like it to remain as such.
However, when you do a `terraform plan` in the same state, you get a plan that suggests that you're changing instance types, and that the number of nodes needs to be increased.

[2020-01-25 00:38] mikhail-khodorovskiy opened #5494 "Failing to manage organization IAM policy."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-25 00:54] stephanlindauer commented on #4195
please star this ticket to indicate that you are also effected by this missing api feature: https://issuetracker.google.com/issues/148122483

[2020-01-25 00:54] edwardmedia commented on #5494
duplicate https://github.com/terraform-providers/terraform-provider-google/issues/5218

[2020-01-25 00:54] #5494 closed

[2020-01-25 01:03] mikhail-khodorovskiy commented on #5494
In which version of the google provider will this be fixed, 3.6.0?

[2020-01-25 01:18] jwcmd opened #5495 "Fix Misleading Error: Owner gets Permission Denied with CloudSQL Replica"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-25 03:33] wyardley commented on #5492
We've done this two different ways, we've tested without `num_nodes` set

We see different behavior with 2.17 provider (in which case we hadn't changed anything on our end other than updating from terraform 0.12.19 to 0.12.20), and things had been stable for a while, so maybe an API change on Google's end?). With 2.17, it wanted to change the instance from development to production, with 2.20.1, e

[2020-01-25 04:55] wyardley commented on #5492
creating a new instance (with 2.20.1):
[code]

[code]

[code]

however, the next plan shows:
[code]

[2020-01-25 20:51] JackCA opened #5496 "Cloud Run Resource update destructive environment variables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-26 11:23] matti opened #5497 "google_dns_record_set always wants to update"
like in #863

[code]

[code]

[2020-01-27 07:06] #5196 closed

[2020-01-27 07:12] ndmckinley opened #5498 "Fix tests using container node version "1.15.7-gke.2""
`TestAccContainerCluster_updateVersion`
`TestAccContainerCluster_withNodePoolUpdateVersion`

[2020-01-27 07:13] ndmckinley opened #5499 "Fix TestAccDataSourceGoogleMonitoringNotificationChannel_UserLabel"
[code]

[2020-01-27 07:14] ndmckinley opened #5500 "Fix dataproc tests"
`TestAccDataprocCluster_withAccelerators`
`TestAccDataprocCluster_withInternalIpOnlyTrue`
`TestAccDataprocCluster_withServiceAcc`

[2020-01-27 07:15] ndmckinley opened #5501 "Fix `_updateBigquerySink` tests"
`TestAccLoggingBillingAccountSink_updateBigquerySink`
`TestAccLoggingFolderSink_updateBigquerySink`
`TestAccLoggingOrganizationSink_updateBigquerySink`

[2020-01-27 07:57] ChethanUK commented on #5422
ya. Also, why is this error? `Private IP Composer Environment does not support Shared VPC`
When we can create GKE in shared vpc? Also instead iof creating new K8s cluster for composer cant why can't we use existing gke only?

[2020-01-27 10:39] diodfr opened #5502 "Not managed `expr` to `google_compute_security_policy.rule.match`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-27 14:26] craigwatson commented on #5357
@chrisst thanks for the response and the clarification on documentation :)

@venkykuberan are you able to confirm if there's an ETA on the `google_compute_region_disk_resource_policy_attachment` being added to the provider?

[2020-01-27 15:04] mtricolici commented on #5442
This issue is still present in latest terraform version 0.12.20 !

[2020-01-27 15:04] mtricolici commented on #5442
/reopen

[2020-01-27 15:09] mtricolici opened #5503 "google_container_cluster auto_provisioning_defaults state never converges"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-27 16:44] imranzunzani opened #5505 "In a Shared VPC, is it possible to attach a Service Project to a specific Subnet of a Host VPC?"
### Affected Resource(s)

* google_compute_shared_vpc_host_project
* google_compute_shared_vpc_service_project

Based on the documentation here:
https://cloud.google.com/vpc/docs/provisioning-shared-vpc#networkuseratsubnet

Is there a way to pass these configurations when creating a Service Project for a Shared VPC:
![Specific_subnets_shared_vpc](https://user-images.githubusercontent.com/21126414/

[2020-01-27 17:19] robcroteau opened #5506 "CloudSQL Postgres Error 400: Invalid request: Invalid full instance name: xxxxxxx:., invalid"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-27 17:45] emilymye opened #5507 "Fix TestAccDataSourceDnsManagedZone_basic"
=== RUN   TestAccDataSourceDnsManagedZone_basic
=== PAUSE TestAccDataSourceDnsManagedZone_basic
=== CONT  TestAccDataSourceDnsManagedZone_basic
--- FAIL: TestAccDataSourceDnsManagedZone_basic (5.53s)
    testing.go:635: Step 0 error: Check failed: reverse_lookup is ; want false

[2020-01-27 17:46] danawillow commented on #5457
Related: https://github.com/terraform-providers/terraform-provider-google/issues/4077

[2020-01-27 17:47] emilymye commented on #5507
@slevenick might be related to https://github.com/GoogleCloudPlatform/magic-modules/pull/3026

[2020-01-27 17:49] slevenick commented on #5507
Ah, dang forgot the datasource

[2020-01-27 18:00] danawillow commented on #5442
Hi @mtricolici, we close issues once the code is checked in, but that doesn't mean it's been released yet. You can see whether or not a given PR has made it into a release by checking the [CHANGELOG](https://github.com/terraform-providers/terraform-provider-google/blob/master/CHANGELOG.md).

Note also that 0.12.20 is a Terraform CLI version but not a Google Provider version. You can read about pro

[2020-01-27 18:00] danawillow commented on #5503
Closing as duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/5442.

[2020-01-27 18:00] #5503 closed

[2020-01-27 18:30] emilymye opened #5509 "Fix TestAccRedisInstance_*"
Add bootstrapping for test network so we don't run out of tenant resources?

[2020-01-27 18:34] emilymye opened #5510 "Fix TestAccDataSourceGoogleMonitoringNotificationChannel_UserLabel"

[2020-01-27 18:39] #5054 closed

[2020-01-27 18:51] slevenick commented on #5461
@paddycarver has thoughts on this

[2020-01-27 19:00] #5499 closed

[2020-01-27 19:09] c2thorn opened #5511 "Dialogflow Agent resource"
Dividing out the resources in https://github.com/terraform-providers/terraform-provider-google/issues/3487

(1/3) Agent Resource

[2020-01-27 19:10] c2thorn opened #5512 "Dialogflow Intent Resource"
Dividing out the resources in https://github.com/terraform-providers/terraform-provider-google/issues/3487

(2/3) Intent Resource

[2020-01-27 19:11] c2thorn opened #5513 "Dialogflow Entity Resource"
Dividing out the resources in https://github.com/terraform-providers/terraform-provider-google/issues/3487

(3/3) Intent Resource

[2020-01-27 20:48] venkykuberan commented on #5422
You can't create a Cloud Composer environment using an existing GKE cluster because the cluster is created as part of the environment provisioning process, which associates that specific cluster with the environment (and also labels resources, etc).

`Caution: If you delete the GKE cluster that Cloud Composer uses, you must delete your environment, and create a new environment.`

Please refer this

[2020-01-27 20:48] #5422 closed

[2020-01-27 21:00] rileykarson commented on #5468
I would recommend trying to raise an issue against the GCE Ingress implementation, I'd hope that resource-level permissions for GKE-managed resources can be handled in GKE itself instead of awkwardly crossing control planes as proposed. Alternatively, if the name of the backend service is available within K8S, [Config Connector](https://cloud.google.com/config-connector/docs/overview) may support

[2020-01-27 21:33] luigizhou opened #5514 "google_compute_project_metadata_item overwrites existing key/value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-27 22:07] mbrowne opened #5516 "google_service_networking_connection project ID issue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-27 22:15] venkykuberan commented on #5495
@jwcmd I agree with you about the misleading error message. However that's the error message and the error code upstream API is returning and provider pass that onto client.

I am attaching the debug log just for reference. This issue has to be addressed by the upstream API and I am closing this issue as we can't do much on it.

Debug Log
==============
[code]

[2020-01-27 22:15] #5495 closed

[2020-01-27 23:08] #5336 closed

[2020-01-27 23:37] anubbhavm opened #5519 "provider block using google-beta"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-27 23:40] danawillow commented on #4792
Looking at this again. I was able to create a bridge with nothing in it by omitting the status field completely. Does that work for you, @rolandkool, or am I missing something?

[2020-01-28 01:05] hden opened #5520 "google_bigquery_dataset_iam_member"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-28 02:04] edwardmedia commented on #5516
@mbrowne  this is an expected behavior. It is nothing to do in the terraform layer.

[2020-01-28 07:56] jwcmd commented on #5495
@venkykuberan Thanks for confirming that, I mistook it for a bug in the provider. I'll raise this with Google, cheers!

[2020-01-28 10:02] dijitali commented on #5468
Thanks @rileykarson - that makes good sense.

Turns out there's already something open on the GCE Ingress side for this: https://github.com/kubernetes/ingress-gce/issues/511 (and also [#133192467: add/change "IAP-Secured Web App Users" in BackendConfig](https://issuetracker.google.com/issues/133192467)) which looks like a more elegant way of doing this.

Happy to close this issue and wait on progr

[2020-01-28 10:02] #5468 closed

[2020-01-28 10:04] sonots commented on #5492
same here

[2020-01-28 11:23] averdigi opened #5521 "Compute Engine Autoscaler no support for MODE property"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-28 15:18] mbrowne commented on #5516
So it's expected that the service networking API needs to be enabled for both projects (given the above example) and not only in the project where you're actually making the change? I was thinking that maybe the provider is checking if the API is enabled in `terraform-admin-project` based on an assumption that that's where I want to create the `google_service_networking_connection`. But if Google

[2020-01-28 17:20] wyardley commented on #3937
We're seeing this issue with our integration tests, because idempotency is one thing we're testing for, would prefer not to simply reapply.
Interestingly, I don't think we'd been seeing this with 2.17 provider, but are getting it consistently with 2.20.1. Will try to investigate further.

[2020-01-28 17:43] maroux opened #5522 "Add dead letter policy to pubsub"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-28 17:44] maroux commented on #5522
I can work on this if there's no objection to adding a feature which is publicly available, but isn't publicly documented just yet (it's just a delay in updating the webpage).

[2020-01-28 17:49] hpio opened #5523 "google_compute_managed_ssl_certificate attribute supports 1 item maximum, config has 3 declared"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-28 20:27] edwardmedia commented on #5516
@mbrowne  yes. This is the case. Thank you. I am closing the issue now.

[2020-01-28 20:27] #5516 closed

[2020-01-28 21:57] edwardmedia commented on #5514
@luigizhou when you plan to use workspace like your cases, shouldn't you set config like below instead? Let me know if this works for you.
[code]

[2020-01-28 23:08] edwardmedia commented on #5519
@anubbhavm Not sure what exact cases you are referring, but if you are taking about below two configs, they are different. Let me know if I addressed your issue.
[code]
[code]

[2020-01-28 23:11] danawillow opened #5525 "Stop using beta API for access context manager"
Similar to https://github.com/terraform-providers/terraform-provider-google/issues/5336.

[2020-01-28 23:13] anubbhavm commented on #5519
Okay let me clarify:
In order to use the google-beta provider, is it required to explicitly define a google-beta provider block?
[code]
Or, just stating the provider on the resource suffice?
[code]

[2020-01-28 23:20] danawillow commented on #4715
I got some extra context on this, and I've been told that setting an empty restricted services list is possible using the GA API even without setting the `unrestrictedServices` field (which is marked as deprecated). I filed https://github.com/terraform-providers/terraform-provider-google/issues/5525 for us to use the GA API even in the beta provider, but until that's done, I'd recommend just using

[2020-01-28 23:20] #4715 closed

[2020-01-28 23:49] #5507 closed

[2020-01-29 00:11] edwardmedia commented on #5523
@hpio  This is controlled by GCP API and maximum = 1 is expected. Below is the reference from GCP API. I am closing this issue. Please reopen it if you have more questions.
[code]
https://cloud.google.com/compute/docs/reference/rest/beta/sslCertificates/insert

[2020-01-29 00:11] #5523 closed

[2020-01-29 00:17] edwardmedia commented on #5519
@anubbhavm  the block is not required. You need to provide the attribute `provider` inside the resource if it is `google-beta`.

[2020-01-29 00:20] luigizhou commented on #5514
@edwardmedia the workspace was just a simple way to reproduce the issue, the main problem is that I believe the behavior of Terraform, in this case, is wrong. I expected to receive a 403 because I was trying to create a resource that existed already.

The real-world scenario that I want to avoid is having someone testing their terraform code and accidentally delete/overwrite my configured project

[2020-01-29 01:11] c2thorn commented on #3487
There are [a lot of potential responses](https://cloud.google.com/dialogflow/docs/reference/rest/v2/projects.agent.intents#Message) for Dialogflow Intents. Text and Custom Payload responses are available in the Default platform, so I plan to implement those for now. Feel free to request additional response types in separate issues so we can determine their demand.

[2020-01-29 01:15] c2thorn commented on #5512
Quoting my comment from the parent issue:

https://github.com/terraform-providers/terraform-provider-google/issues/3487#issuecomment-579547793

[2020-01-29 01:17] edwardmedia commented on #5497
It shows
[code]

[2020-01-29 01:27] edwardmedia commented on #5514
@luigizhou I don't think terraform checks if the resource already exists. If check happened, how terraform performs `update`?
Instead of using `workspace`, have you check out the feature of `backend` which saves state files remotely. **gcs** is an option.

[2020-01-29 03:31] Vendin opened #5527 "Error creating GlobalAddress"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-29 05:39] anubbhavm commented on #5519
Thanks. Could we then have the TF documentation updated please?
https://www.terraform.io/docs/providers/google/guides/provider_versions.html#using-both-provider-versions-together

[2020-01-29 11:27] luigizhou commented on #5514
@edwardmedia I don't think the solution you are proposing makes sense. Let's say for the sake of the argument that I would use the `backend` feature. What would happen if another user would apply their own Terraform code where they are defining their own `google_compute_project_metadata_item` in their own repo separate from mine? They may not be aware of a previously existing resource defined by a

[2020-01-29 12:43] nikolay-bocharov opened #5528 "Creation of Endpoints for Cloud Functions causes circular dependency between ESP and Endpoint services"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-29 13:20] davidxia opened #5529 "Support configuring GKE resource consumption metering"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-29 16:37] robcroteau commented on #5506
Just so we're on the same page -- Are you asking me to upgrade to version 0.12.x?

[2020-01-29 17:24] jmcarp opened #5530 "BigQuery connection resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-29 17:25] Arconapalus commented on #5438
No, I input the "eventType": "google.storage.object.finalize" and was able to provision correctly.
I think the previously syntax was this "providers/cloud.storage/eventTypes/object.finalize" which I haven't found in the terraform docs. Which, I might of got this from a outdated tutorial.
Thank you so much for your time and expertise!!

[2020-01-29 17:49] danawillow commented on #5497
@edwardmedia, when you reproed were you able to get DEBUG logs that you could share? It looks like it has to do with escaping the quotes but it would be good to know for sure whether it's the API doing it or something in our code.

@matti, thanks for the report! Next time, please fill out the [bug template](https://github.com/terraform-providers/terraform-provider-google/issues/new?template=bug.md

[2020-01-29 18:12] #5502 closed

[2020-01-29 19:12] #5501 closed

[2020-01-29 19:15] ScubaDrew commented on #5492
[code]

[code]

This was/is already a Development instance

[2020-01-29 19:18] matti commented on #5497
@danawillow Which particular piece of information did I leave out by not following the template? Honest question.

[2020-01-29 19:20] danawillow commented on #5497
Debug logs and provider version

[2020-01-29 19:21] danawillow commented on #5497
Oh and there's also some metadata in the template that helps our automation label issues so that our teammates don't have to hunt down issues without a label.

[2020-01-29 19:28] matti commented on #5497
Okay, the template is missing information on how to get DEBUG logs - I have used terraform and google provider for 3 years and I have no idea what is DEBUG log

[2020-01-29 20:10] edwardmedia commented on #5514
@luigizhou  Do you use github or other tools to manage the code? Is the second person able to see if the key is already used from the source control?

[2020-01-29 20:33] danawillow commented on #5497
The template has the following block in the debug logs section:

If that documentation is confusing or could be improved, I'd recommend filing an issue against https://github.com/hashicorp/terraform so they can try to improve clarity there. Or if you'd just prefer that our bug template be phrased in a different way, you're welcome to propose a PR to change it (the source is at https://github.com/t

[2020-01-29 20:38] danawillow commented on #5519
Thanks @anubbhavm, that's a good suggestion and I didn't even know that not providing the provider block for google-beta even worked, so I learned something new today :)

Changing the labels since this is a docs improvement rather than a bug in the provider. We'll triage this alongside FRs.

[2020-01-29 20:40] edwardmedia commented on #5527
@Vendin can you check if the terraform account has below permissions.
[code]
Check out  https://cloud.google.com/compute/docs/reference/rest/v1/globalAddresses/insert
Let me know if this helps address your issue

[2020-01-29 20:44] luigizhou commented on #5514
Hey @edwardmedia I didn't mean to antagonise you, I'm just trying to be as clear as possible since we are on two very different timezones. I apologise if I came across in a bad way.

To clarify, I believe with best practices, effective communication and good access control to gcp the issue can be mitigated. I'm just looking to see if it's possible to implement a solution upstream either by fixing

[2020-01-29 20:49] rileykarson commented on #5519
This changed in Terraform 0.12. We were aware at the time of `2.5.1`'s release, but kept the docs indicating it was required because the majority of users would have been using `0.11` still. It could be worth including a note about `0.11` still needing it, since our docs are unversioned and we expect some users to be using `2.X` + `0.11` still.

[2020-01-29 20:50] nstonesplunk opened #5535 "PubSub topic trigger event context.resource has different structure/content when created using terraform instead of CLI/console"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-29 20:54] matti commented on #5497
It is still not 100% clear

I am assuming TF_LOG=DEBUG ?

the template could just say:

Debug logs (TF_LOG=DEBUG terraform apply ...):

?

[2020-01-29 21:51] rvandegrift opened #5537 "google_organization_iam_policy misbehaves if given a bare organization id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-29 22:02] #5510 closed

[2020-01-29 22:42] venkykuberan commented on #5506
Your `terraform version - 0.11.14; provider - google-beta 2.20.0`

Actually terraform was crashing while running your config and i found the reason for the crash is empty `database_flags { }` block which cause the provider/terraform crash. In later version of the provider that case has been take care, `terraform plan` doesn't allow empty database_flags block.

With your current versions if you cha

[2020-01-29 22:56] rvandegrift commented on #5537
I just tried to work around this by deleting the org IAM policy from the state & re-importing, but that fails.  terraform import only accepts the non-canonical form of the id:
[code]

And unfortunately, after this import, the IAM policy still has the non-canonical form that terraform wants to replace:
[code]

[2020-01-29 22:57] viprerk opened #5539 "Allow specifying 'container_port' and 'request_timeout' for google_cloud_run_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-29 23:24] BrianPi opened #5540 "Support region instance groups as resource"
I'd like to be able to create instance_groups which span a region. https://cloud.google.com/compute/docs/reference/rest/v1/regionInstanceGroups

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please d

[2020-01-30 00:18] rileykarson opened #5542 "Document `id` field for resources"
In `3.0.0`, we changed Terraform's internal `id` field from formats like `{{project}}/{{region}}/{{name}}` to `projects/{{project}}/regions/{{region}}/resources/{{name}}`, a valid reference value.

Historically we've encouraged users to use `name` or `self_link` as the reference value, however these values should be preferred going forward. We've since documented the field on generated resources,

[2020-01-30 00:21] venkykuberan commented on #5505
@imranzunzani We can't attach a specific subnet to a service project, they get attached to all the subnets exposed by the Host project.  Currently provider isn't supporting to expose the subnets of a Host project. I will add this issue to feature list to get prioritized and to work on.

Thank you

[2020-01-30 00:29] danawillow commented on #5542
We should also probably update our examples/tests to use it

cc @slevenick since we were talking about this for a bit earlier

[2020-01-30 00:52] chrisst commented on #5496
@JackCA To clarify a bit, it was my understanding from our slack conversation that you want to partially manage the env variables via terraform but allow other variables to be managed by other tools

Additionally I would suggest re-titling this to something along the lines of "support deployimng/managing revisions via gcloud in a cloud build job". By trying to support the use case rather than a mo

[2020-01-30 01:20] edwardmedia commented on #5514
@luigizhou you don't need to feel bad at all. I am here trying to assist you. What I understood is you were trying to avoid overwriting existing keys. If you use source control, does it help? If my understanding is not accurate, could you explain a little more in details about your use cases?
To answer your question, technically `yes` to implement steps to check if the resources have been created

[2020-01-30 01:38] ish-xyz commented on #5514
@edwardmedia I had the same behaviour too.

I’ve done:
terraform workspace select default
terraform apply
*ssh key created*

terraform workspace select testing
terraform apply
*the new ssh key overwrite the previous one*

As said before, the expected behaviour should be a 409 HTTP error as per other GCP resources.

Could please flag it as bug?

[2020-01-30 04:41] jacobstr commented on #1480
How does this interact with `google_container_node_pool`? The underlying instance groups created by `google_container_node_pool` seem intentionally opaque, though tricks like the string substitution mentioned in https://github.com/hashicorp/terraform/issues/4336 can work around that.

I'd love to see an example of the proposed resources + a `google_container_node_pool` resource.

[2020-01-30 11:46] courteouselk opened #5544 "Add stackdriverLoggingConfig to google_cloud_tasks_queue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-30 12:24] hawksight commented on #1480
I think I've had this issue before as well. I build our load balancer with terraform as it allows me to use the same load balancer for all ingress, and even potentially across clusters if needed.

I have to remember for each new cluster to go and set the named ports and port number values on each instance group, to match the k8s nodePort service I create inside the cluster. Otherwise the `google_c

[2020-01-30 12:53] imranzunzani commented on #5505
Thank you @venkykuberan

[2020-01-30 15:06] mtricolici opened #5545 "autoprovisioning scopes are wrong with service account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-30 15:29] nikolay-bocharov commented on #5528
I've found a workaround for this using [provisioners](https://www.terraform.io/docs/provisioners/index.html)

[code]

[2020-01-30 16:08] ejschoen commented on #4024
It looks to me as if the _timeout_ errors have gone away.  I haven't seen them recently, using Terraform 2.20, from either the google cloud shell or from our local infrastructure spinning up a cluster in GKE.

I do pretty often see the error that I noted on December 4, in which Terraform fails due to transient issues on the master node (maybe?), at the point that  the non-default initial node pool

[2020-01-30 17:05] #5500 closed

[2020-01-30 17:56] slevenick commented on #4024
Well at least one of the errors is taken care of!

I'm not too familiar with Kubernetes, but that error message seems to be coming from helm rather than Terraform.

I'm going to close this issue out now as the initial bug report is no longer reproducible. Feel free to file another issue if you believe the `Could not get apiVersions` error is due to a bug in the Terraform provider

[2020-01-30 17:56] #4024 closed

[2020-01-30 17:57] rileykarson commented on #1480
@jacobstr: I see this as being similar to [`google_compute_network_peering_routes_config`](https://www.terraform.io/docs/providers/google/r/compute_network_peering_routes_config.html#example-usage-network-peering-routes-config-gke)

[code]

With the caveats that it's a Terraform-applied value on a GKE-managed resource, and that it's entirely possible (but implausible) that GKE will recreate the ma

[2020-01-30 19:29] jjorissen52 commented on #5107
@slevenick It seems that, for the affected project, `resource "google_project_iam_binding"` always fails to apply. Should I update the title to more accurately describe the issue?

[2020-01-30 23:53] edwardmedia commented on #5545
@mtricolici the oauthScopes was controlled by GCP API. The values are related to serviceAccount. Below is the reference regarding how to use oauthScopes and serviceAccount. I don't know the details about your `zuzu@` account. Take a close look at the API reference to see if this make sense to you. Thank you
[code]
https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations

[2020-01-30 23:55] #5509 closed

[2020-01-31 00:00] edwardmedia commented on #5438
@Arconapalus I am glad you got your issue resolved. Thank you for using terraform/google-provider. I am closing this issue. You may reopen it if you need further assistance with it.

[2020-01-31 00:00] #5438 closed

[2020-01-31 00:00] schaffino commented on #5388
What's strange about this issue is that the function gets created fine, if you run the deploy a second time it will complete successfully. Using a service account works, but i dislike having service account keys kept around on devs machines. You also lose the audit trail of who has done what. Impersonation works fine too, but again, no audit trail in the logs as to who has actually modified or cre

[2020-01-31 00:28] JackCA commented on #5496
@chrisst

That is correct.

That works for me, I'm not attached to any individual solution.

Thanks for the thoughtful comment/questions/

[2020-01-31 01:05] edwardmedia commented on #5388
@schaffino Need **audit trail** is legit. Let's see what we can do.

[2020-01-31 06:49] Vendin commented on #5527
My service account has roles.
![image](https://user-images.githubusercontent.com/9011975/73517867-d2caef80-440d-11ea-959f-92d46e15fe9f.png)

Compute Network Admin role has compute.globalAddresses.createInternal  compute.globalAddresses.create permissions. My service account has this role. You can see it in the picture.

[2020-01-31 07:37] vgirnet commented on #5545
The issue we've experienced with defaults is that we were unable to access any resources from the cluster using service account, and the error was related to:

`OAUTH scope https://www.googleapis.com/auth/cloud-platform is not allowed`

We are very confused by the fact that creating a cluster manually or using gcloud is automatically adding https://www.googleapis.com/auth/cloud-platform to OAUTH s

[2020-01-31 09:17] mtricolici commented on #5545
So, let me please be more clear:

we have a service account zuzu in project1 (it doesn't have any permissions here) ...
this service account zuzu is used as service account for kubernetes cluster in project1.

we host docker images in GCR in project2  and zuzu has read access to this project.

BUT, API (scopes) are disabled. as a result this cluster cannot read docker images from GCR Project 2 (it

[2020-01-31 10:01] christian-roggia opened #5550 "google_cloud_run_service_iam_policy import results in "project: required field is not set""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-01-31 11:18] eyalzek commented on #5286
@danawillow the `waiting-response` label doesn't seem right to me :)

[2020-01-31 16:09] igorwwwwwwwwwwwwwwwwwwww opened #5551 "google_compute_region_backend_service is missing port_name field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-01-31 17:32] fproulx-eoscanada commented on #5492
Also coming here for same reason .... annoying regression.

[2020-01-31 17:37] danawillow commented on #5286
I was waiting for that :)

[2020-01-31 17:57] danawillow commented on #5492
This is indeed an API change that caused this and not a provider one. I'm going to work on a fix now on our side that lets Terraform still behave correctly. In the meantime, if you're affected by this, please make sure you're upgraded to the latest version of the Google provider so that you can get the fix once it appears in a release.

[2020-01-31 18:20] hashibot[bot] opened #5552 "`terraform plan` fails when indexing into data source with dependency"
_This issue was originally opened by @actgardner as hashicorp/terraform#23996. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

Using the example under `Example Usage - Binary Authorization Attestor

[2020-01-31 18:51] christian-roggia commented on #5550
**Import works fine if `project` and `zone` are explicitly set in the `provider "google"` block.**

It seems like the import command here fails to extrapolate the information from the resource id `projects/myproject/locations/mylocation/services/myservice`.

[2020-01-31 20:16] edwardmedia commented on #5527
@Vendin To me, your issue is more credential related. How do you use your credential? Can you follow below instruction to create new and then try?
https://www.terraform.io/docs/providers/google/guides/getting_started.html

[2020-01-31 20:31] #3065 closed

[2020-01-31 20:41] #5492 closed

[2020-01-31 20:54] #5511 closed

[2020-01-31 21:01] stephenashank commented on #5219
@RaniHirave @edwardmedia I just ran into the same error while following the same example. The solution for me was to change the crypto key version definition to this:
[code]

After adding this and running terraform plan, no errors.

[2020-01-31 21:11] stephenashank commented on #5552
This looks like the same issue as #5219

One solution provided by @actgardner in the issue comments was to change "google_kms_crypto_key.crypto-key.self_link" to the actual path of the key.

The other solution I found and mentioned on #5219 was to add "public_key {}" to the google_kms_crypto_key_version definition.

[2020-01-31 21:19] #5449 closed

[2020-01-31 21:21] #5498 closed

[2020-01-31 21:27] actgardner commented on #5552
I'm going to test the resolution in #5219, is there a plan to fix the provider or the docs?

[2020-01-31 21:57] #5168 closed

[2020-01-31 22:05] danawillow commented on #5514
I took a look at the original implementation of this resource (https://github.com/terraform-providers/terraform-provider-google/pull/176) and it doesn't seem like having it overwrite an existing entry was a conscious decision, so I'm happy to make the change to make it fail when it tries to do so. That would bring it in line with the behavior that most of the rest of our resources have.

For some

[2020-01-31 22:06] ScubaDrew commented on #5492
Wow, thanks for the quick fix @danawillow ! How long does it take for this merged fix to be available to us?

[2020-01-31 22:09] danawillow commented on #5492
If all goes according to plan, it'll be released on Monday as part of 3.7.0.
Some more potential good news- the fix merged cleanly into the 2.X series, and since the resource is effectively unusable without the fix for affected DEVELOPMENT instances, we might be doing a 2.20.2 with it as well.

[2020-01-31 22:14] wyardley commented on #5492
@danawillow would be really, really appreciated if we can get this into 2.20.2 - we reported the issue originally, and won't be jumping to 3.x for a bit longer.

[2020-01-31 22:52] stephenashank commented on #5552
After testing it looks like it only really fixed the issue in terraform plan. I had to run plan and apply twice for it to resolve.

I wasn't able to get this to work with the literal crypto key path though. I used `projects/{MY_PROJECT_ID}/locations/global/keyRings/{MY_KEY_RING}/cryptoKeys/{MY_CRYPTO_KEY}` using the values I had used for the google_kms_key_ring and google_kms_crypto_key resources

[2020-01-31 22:55] actgardner commented on #5552
I tested and this also breaks our workflow with Atlantis - planning works but neither the public_key block nor putting the literal path in the data stanza fixed applying. The only solution has been to put the literal public key and algorithm in the attestor resource which is obviously very sub-optimal

[2020-01-31 23:41] danawillow commented on #5497
Hey @matti, aside from the perpetual diff, do the record sets actually get created correctly? Our [documentation](https://www.terraform.io/docs/providers/google/r/dns_record_set.html#rrdatas) says:

which was added after https://github.com/terraform-providers/terraform-provider-google/issues/232, which implies the record might be invalid with the extra quotes. I don't know if that's the case with

[2020-01-31 23:50] hiloboy0119 commented on #3558
@edwardmedia I am running into this same issue, trying to deploy forseti on gke using service account impersonation

[2020-02-01 00:21] slevenick commented on #4184
Hey @DukeyToo

I'm looking at how we would implement a feature like this, and I'm wondering what your use case is.

You can currently use the [docker provider](https://www.terraform.io/docs/providers/docker/index.html) to push an image to a repository to create the bucket. What else are you looking to be able to do with a terraform resource for this?

Anyone else who is interested in this feature

[2020-02-01 00:24] danawillow opened #5565 "Add Placement Policy support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-01 00:30] danawillow opened #5566 "google_compute_router_nat.drain_nat_ips beta -> GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-01 01:30] DukeyToo commented on #4184
I'm not familiar with this provider, but reading the linked docs, pushing an image does not seem like a supported activity. It is certainly possible that there is a simple way to do this, but I have not found it.

My use case is to use terraform to manage permissions on the backing "artifacts" bucket, without having to do any prior manual steps such as pushing an image (to create said bucket), or

[2020-02-01 02:39] stephenashank commented on #5552
I believe this is an issue with how the google_kms_crypto_key creation is evaluated as "complete". When a new key/key version is created, it is not immediately ready. See [key states](https://cloud.google.com/kms/docs/key-states).

Because it is an asymmetric key, it will start in state `PENDING_GENERATION`. Then when it is generated it will become `ENABLED`. It goes directly to refreshing and pop

[2020-02-01 03:19] stephenashank commented on #5552
Temporary workaround based on https://github.com/hashicorp/terraform/issues/17726#issuecomment-377357866, still needed the `public_key {}` for plan to succeed:
[code]
Everything else in the original example was unchanged.

When the google_kms_crypto_key is created and the id attribute is populated, the null_resource provisioner runs, waiting for a short while before refreshing the data for the goo

[2020-02-01 03:58] jwcmd commented on #5495
A ticket has been created on Google's Issue Tracker, feel free to Star that ticket for updates.

[2020-02-01 10:54] rolandkool commented on #4792
Yes, that should work for us. Which provider version will include the fix?

[2020-02-02 23:32] MisguidedEmails commented on #4276
It looks like I'm also having the same issue where Terraform treats the IAM policy data as case-insensitive, so sends it as all lowecase even though the response it got from the API had case-sensitive information (such as the email address).

In this case I'm using the `google_project_iam_member` resource and Terraform pulls the current policy, makes changes locally and pushes the new one, which i

[2020-02-03 09:55] eyalzek commented on #5286
@danawillow my bad! Here is trace level output for the failed request. Let me know if I can provide any additional info:

[code]

[2020-02-03 12:24] mtricolici commented on #5545
Update, we have a good working cluster when we create it via this command:
[code]

Unfortunately we can't set both autoprovisioning service account and scopes via terraform :(

[2020-02-03 12:33] mtricolici commented on #5545
So, terraform should allow to specify BOTH service account and scopes as google command line!

[2020-02-03 13:02] dancmeyers opened #5568 "`secondary_ip_range` block cannot be deleted from `google_compute_subnetwork`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-03 13:20] salrashid123 commented on #3558
here is an example of generating signedurl with iamcredentials signblob:

https://gist.github.com/salrashid123/b8cb77bd0119f3b48610a4d9f16cb167

in this case, the terraform signedurl function would accept the new parameters below and elect to use iamcredentials instead of the certificate file

[code]

there are probably cleaner ways but if the last three prameters are set, youcan use iamcredential

[2020-02-03 17:39] danawillow commented on #5520
Bigquery APIs don't implement IAM the same way as the resources where you see the *_iam_member resources so we wouldn't be able to do exactly that, but there is already a FR open for breaking the `access` block into its own resource, so marking this as a duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/2686.

[2020-02-03 17:49] danawillow commented on #5530
Hey @jmcarp, the BigQuery API defines this resource as a "transfer config", so that's what we've named the Terraform resource: https://www.terraform.io/docs/providers/google/r/bigquery_data_transfer_config.html. I'm going to go ahead and close this since as far as I can tell it's already done (🎉 ) but if there's more that I'm missing we can certainly reopen it and take another look.

[2020-02-03 17:54] jmcarp commented on #5530
Thanks @danawillow. It looks like query federation uses the `bigqueryconnection` API, not the `bigquerydatatransfer` API. Documentation is at https://cloud.google.com/bigquery/docs/reference/bigqueryconnection/rest/. I don't see a way to set up Cloud SQL federation with the transfer config resource. Am I missing something?

[2020-02-03 17:54] danawillow commented on #5535
Hey @nstonesplunk, I'm having some trouble mapping what you're looking for back to the REST API, since there's no `triggerTopic` field there (https://cloud.google.com/functions/docs/reference/rest/v1/projects.locations.functions). Can you run the gcloud command that works with `--log-http` and the current Terraform one with `TF_LOG=DEBUG` so we can see the difference in the API requests being made

[2020-02-03 17:59] danawillow commented on #5540
Hey @BrianPi, thanks for linking directly to the API docs! Unfortunately as you can see there, there isn't a create endpoint for RegionInstanceGroups- only get/list (which we already support via [this datasource](https://www.terraform.io/docs/providers/google/d/datasource_compute_region_instance_group.html).

The GCP docs at https://cloud.google.com/compute/docs/instance-groups#unmanaged_instance_

[2020-02-03 17:59] #5540 closed

[2020-02-03 18:02] danawillow commented on #5530
Nope, I think you're right! The GCP docs were misleading in this case. Reopening.

[2020-02-03 18:09] danawillow commented on #5505
The docs that were linked to in the initial post say that this is accomplished using IAM bindings on the subnetwork, which can already be done with the `google_compute_subnetwork_iam_*` family of resources: https://www.terraform.io/docs/providers/google/r/compute_subnetwork_iam.html.

@imranzunzani, do those accomplish what you're looking for? If not, could you clarify what you're trying to do? Th

[2020-02-03 18:12] danawillow commented on #5286
Yeah, that's a GCP-side error. Since your other comment mentions that it can't be done via the API or gcloud, there isn't anything we can really do in Terraform to get around that. Marking as `upstream` since we can't start working on this until there's support in the API for it.

[2020-02-03 18:27] nstonesplunk commented on #5535
Hi @danawillow. Did a bit more digging since posting this. Looks like this was an error on my part. I took a closer look at the difference between the console/gcloud and the Terraform deployed Cloud Function and the difference is in the eventTrigger's eventType. I was using the legacy `providers/cloud.pubsub/eventTypes/topic.publish` eventType while the console (and gcloud using `--trigger-topic`)

[2020-02-03 18:44] danawillow opened #5571 "Fix cloudrun tests"
TestAccCloudRunDomainMapping_cloudRunDomainMappingBasicExample
TestAccCloudRunServiceIam*
TestAccCloudRunService_*

Looks like a few fields are getting returned from the API with defaults.

[2020-02-03 18:46] danawillow opened #5572 "Fix TestAccTPUNode_* issues"

[2020-02-03 19:18] danawillow commented on #5542
Riley to add more details before this goes to bug triage folks

[2020-02-03 19:32] slevenick commented on #4184
Ah, yeah looks like pushing an image is not supported by that provider.

I've found a way to do this, but I'll have to do some investigation before putting it into a resource.

Do storage bucket IAM policy/member/bindings work for your use case to manage permissions once the GCR bucket is created? IE, this request is just to make a resource that will ensure that the bucket is created?

[2020-02-03 21:54] jehiah opened #5573 "google_bigtable_instance: cluster destroyed when adding replicated cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-03 21:56] danawillow commented on #4792
I believe it should be doable at whatever version of the provider the service perimeter resource first appears in- I didn't make any changes to the provider to get it working. Have you gotten a chance to try it?

To clarify, instead of:
[code]
my config looks like:
[code]

[2020-02-03 22:22] DukeyToo commented on #4184
Yes that is correct

On Mon, Feb 3, 2020, 1:32 PM Sam Levenick <notifications@github.com> wrote:

[2020-02-03 22:29] #4509 closed

[2020-02-03 22:53] rileykarson opened #5575 "Document import for service networking"
It's missing on https://www.terraform.io/docs/providers/google/r/service_networking_connection.html but has import: https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_service_networking_connection.go#L22-L24

[2020-02-03 23:02] edwardmedia commented on #5545
@mtricolici @vgirnet If you don't provide the oauth_scopes in terraform config, gcp api (not terraform provider) will give you defaults which you have got. If you want to have a specific oauth_scopes, you may set it in the terraform config like below, and those two will not be showed up
[code]
Please let me know if this helps address your issue?

[2020-02-03 23:08] danawillow commented on #5535
Glad you were able to figure it out!

[2020-02-03 23:08] #5535 closed

[2020-02-03 23:15] #5514 closed

[2020-02-03 23:20] danawillow commented on #5522
Hey @maroux, that's totally fine! Thanks for helping. You can read more about contributing at https://github.com/terraform-providers/terraform-provider-google/blob/master/.github/CONTRIBUTING.md. The pubsub subscription resource is a generated one, so you'll want to make your changes at https://github.com/GoogleCloudPlatform/magic-modules.

Assigning to hashibot to show this is being worked on.

[2020-02-03 23:26] danawillow commented on #5522
Oh cool apparently I don't need to assign to hashibot anymore. It's yours!

[2020-02-03 23:43] danawillow commented on #5551
For context, many fields were omitted from the region backend service resource because they couldn't actually be set on it, and we prefer to keep the resource only with fields that a user can actually set (even if they're present in the API). However, things change over time and it's possible that something that didn't used to work for a resource now does. For this specific one, the [docs](https:/

[2020-02-03 23:59] venkykuberan commented on #5537
@rvandegrift it should treat 1234567890 & organizations/1234567890 as same. The provider needs to be updated, i will add this issue to features list for code change.

Thanks for filing it.

[2020-02-04 00:53] umairidris commented on #5381
Thanks for the fix @ankitvg

[2020-02-04 00:53] #5381 closed

[2020-02-04 01:41] edwardmedia commented on #5219
Now I can repro the issue

[2020-02-04 01:44] edwardmedia commented on #5552
@c2thorn related to https://github.com/terraform-providers/terraform-provider-google/issues/5219

[2020-02-04 01:48] edwardmedia commented on #5552
@c2thorn debug log is in email

[2020-02-04 03:17] ankitvg commented on #5381
@umairidris I didn't see that you wanted this issue to be assigned to yourself. Sorry if I interfered.

[2020-02-04 03:29] umairidris commented on #5381
No need, you saved me the trouble as this was a bit low on my list anyway :)

On Mon., Feb. 3, 2020, 10:17 p.m. Ankit Gupta, <notifications@github.com>
wrote:

[2020-02-04 06:10] ScubaDrew commented on #5492
Thank you so so much @danawillow -- this was really killing us.

[2020-02-04 08:31] RaniHirave commented on #5219
@stephenashank I  just ran the same solution that is
data "google_kms_crypto_key_version" "version" {
  crypto_key = google_kms_crypto_key.crypto-key.self_link
  public_key {}
}

After adding this and running terraform apply, I am getting below error.

Error: Invalid index

resource "google_binary_authorization_attestor" "attestor":
public_key_pem = data.google_kms_crypto_key_version.version.publi

[2020-02-04 11:03] mtricolici commented on #5545
@edwardmedia that fixes the oauth_scopes for default-pool but not for new pools created automatically via autoprovisioning:
[code]

[2020-02-04 11:07] mtricolici commented on #5545
The problem is we can't use BOTH service_account and oauth_scopes inside auto_provisioning_defaults block.

[code]

Error given by terraform:
[code]

[2020-02-04 11:12] mtricolici commented on #5545
gcloud console allows using both arguments:
[code]

[2020-02-04 16:19] hawksight commented on #3937
I bit the bullet and moved one of my projects to use my 0.12 updated code. Unfortunately I don't seem to be able apply again in my case, as suggested in other comments.

I use the following commands:
[code]

I checked it wasn't due to `plan` usage and got the same errors apply interactively:
[code]

Version are:
[code]

Note that my input to the dynamic block `var.backend_group_list` is a list and

[2020-02-04 16:28] vDMG opened #5577 "Add possibility to google_iap_tunnel_instance_iam_* grant role to all Tunnel ressources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-04 17:46] hawksight commented on #3937
Actually think I have resolved my issue after some poking around.

## tl;dr

Issue was passing the results of a data lookup (on the k8s cluster) as an output in one module(gcloud-k8s), and trying to use those as the input to another module (gcloud-lb-custom).

## longer read

I had a setup as such:
[code]

### What I was doing

In each environment, I'd call my module (`gcloud-k8s`) to build a clus

[2020-02-04 17:52] davidquarles opened #5579 "Add support for management settings in `google_container_cluster` NAP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-04 17:57] davidquarles commented on #5579
I contributed the linked PR for this functionality at the `google_container_node_pool` layer back when (and very much appreciated the community vibe over here!) and I'm happy to contribute here as well, assuming it's not a wild amount of additional complexity to do so.

[2020-02-04 18:42] davidquarles opened #5580 "Add support for `upgrade_settings` in `google_container_cluster` NAP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-04 18:43] stephenashank commented on #5219
@RaniHirave If you run terraform apply a second time, it should work. Otherwise I have a work around that works in one apply command on the other issue here: https://github.com/terraform-providers/terraform-provider-google/issues/5552#issuecomment-580985793

[2020-02-04 18:48] davidquarles commented on #5580
I haven't contributed here in ~2 years as I've been in non-GCP environments (I can't adequately express how good it is to be back), so please forgive my ignorance around the new repo structure.  Should I be submitting issues over in magic-modules instead/too?  I'm happy to contribute, if that's helpful.  Thanks!

Also: it seems like `google_container_node_pool.upgrade_settings` can be promoted fro

[2020-02-04 19:19] ogreface commented on #3937
Not data providers technically, but they are references to other blocks in the same module. Glad you have a solution though!

[2020-02-04 19:31] rileykarson commented on #5580
@davidquarles: Either repo is fine to contribute to, the [Magic Modules](https://github.com/GoogleCloudPlatform/magic-modules) repo is a little easier for us but a little harder for contributors. Specifically, [the first-time setup is a little annoying](https://github.com/GoogleCloudPlatform/magic-modules#preparing-magic-modules--one-time-setup).

Issues belong here and not against the MM repo.

Y

[2020-02-04 19:47] venkykuberan commented on #5573
@jehiah this issue has been taken from provider version 3.5.0 and later. Adding a new cluster will be in-place.  I have attached the sample plan out below.
[code]
closing this issue, please reopen if you still the see the same behavior with the recommended provider versions.

[2020-02-04 19:47] #5573 closed

[2020-02-04 22:54] chrisst opened #5585 "Increase urgency of the warning for google_organization_iam_policy"
It is extremely easy to misuse the `organization_iam_policy` resource and misuse often results in locking all accounts out of the organization. The warning is long and doesn't appear urgent. There should be a concise warning that helps avoid misusing this resource.

Example page with urgent (red) warnings: https://www.terraform.io/docs/providers/google/r/bigtable_instance.html

[2020-02-04 23:05] venkykuberan commented on #4836
@sanmmishra enable-logging feature is added to GA [here](https://github.com/terraform-providers/terraform-provider-google/pull/4999). Hence i am closing this ticket

[2020-02-04 23:05] #4836 closed

[2020-02-04 23:05] edwardmedia commented on #5568
[debug.log](https://github.com/terraform-providers/terraform-provider-google/files/4156596/debug.log)

[2020-02-04 23:30] akilman opened #5586 "Bogus use_ip_aliases state reported on upgrade to v3.7.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-04 23:32] edwardmedia commented on #5550
@christian-roggia do you have service code in your config something like below
`resource "google_cloud_run_service" "default" {
  name     = "tftest-cloudrun"
  location = "us-central1"

  template {
    spec {
      containers {
        image = "gcr.io/cloudrun/hello"
      }
    }
  }

  traffic {
    percent         = 100
    latest_revision = true
  }
}`
Once you have that, can you try import

[2020-02-04 23:47] c2thorn commented on #5537
The change to `id` in the organization datasource was intentional, and part of a larger set of id changes in 3.0.0.

This specific datasource was also brought up in https://github.com/terraform-providers/terraform-provider-google/issues/5110, so a new field `org_id` was added in 3.0.0 to maintain access to the raw org id. **Using `org_id` instead of `id` from the datasource should get you what you

[2020-02-05 00:30] c2thorn commented on #5537
Whoops, `org_id` wasn't added until 3.2, so it couldn't have been in the upgrade guide to 3.0. It is present in the [3.2 changelog](https://github.com/terraform-providers/terraform-provider-google-beta/blob/master/CHANGELOG.md#320-december-11-2019).

[2020-02-05 00:37] c2thorn commented on #5537
Closing as this is intentional. If there is still a desire to be able to import using either format, a feature request can be added.

[2020-02-05 00:37] #5537 closed

[2020-02-05 00:53] akilman commented on #5586
For good measure, attempted to spin up a fresh cluster to see if it was just a state reporting issue on upgrade. But, was able to reproduce the same behavior on a newly provisioned environment.

`terraform show` reports `use_ip_aliases = false`, and GCP's UI reports VPC native (Alias IP) attribute of the cluster is set to `true` 🤷‍♂

[2020-02-05 00:57] davidquarles commented on #5545
We are experiencing the exact same issue.  `gcloud` allows you to specify both flags, as does the `google_container_node_pool` resource, but the `auto_provisioning_defaults` block does not.

@mtricolici: FWIW I think the only scope that's truly necessary for cross-project GCR usage (in addition to the two being generated) is `https://www.googleapis.com/auth/devstorage.read_only`.  There does not a

[2020-02-05 01:14] danawillow commented on #5545
I sent an email over to some GKE folks that have context on this, and I'll update back when I get a response. I think the answer is going to be that we should allow both to be set and that the API docs should be updated to make it clear that it's actually allowed, but I'm going to hold off on any changes until I find out for sure.

[2020-02-05 15:04] courteouselk opened #5587 "Perma-diff google_cloud_run_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-05 16:03] imranzunzani commented on #5505
@danawillow ,
Taking the reference from:
https://www.terraform.io/docs/providers/google/r/compute_shared_vpc_service_project.html

`resource "google_compute_shared_vpc_service_project" "service1" {
  host_project    = "host-project-id"
  service_project = "service-project-id-1"
}`

I am looking to specify the 'individual subnets' that the service project can access.
Other subnets should not be ava

[2020-02-05 17:00] menarulalam commented on #5587
I am interested in working on this issue. Is this issue appropriate for beginners?

[2020-02-05 17:27] filipzyzniewski-fexco opened #5588 "import google_firestore_index skips important attributes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-05 17:39] christian-roggia commented on #5550
@edwardmedia the `google_cloud_run_service` was already configured and imported successfully. I solved the issue by explicitly setting the `zone` and `project` in the `provider "google"` block as I stated above.

I was only surprised that Terraform was not able to extrapolate this information from the imported id as all information was already provided.

I am gonna assume that this configuration o

[2020-02-05 17:54] morgante commented on #3582
@danawillow @chrisst @paddycarver Is there an ETA for fixing this? It's very confusing behavior and also represents a regression from previous fixes.

[2020-02-05 18:28] slevenick commented on #5550
I see the issue, we shouldn't return the error here if a default project isn't found: https://github.com/terraform-providers/terraform-provider-google/blob/5a0c6e5c945e706eb77275bed45e1c1fabe168fd/google/iam_cloud_run_service.go#L99

I believe the import will work correctly as long as *some* project and zone are set. It should correctly parse the import id and set those values rather than the defa

[2020-02-05 18:31] christian-roggia commented on #5550
Glad to see that the behavior was indeed unexpected. Thank you!

[2020-02-05 18:56] #5434 closed

[2020-02-05 19:31] jcanseco opened #5592 "Allow "subnetwork" field of google_dataflow_job to accept self_links and partial URIs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-05 20:52] #4184 closed

[2020-02-05 20:58] rileykarson commented on #5575
Adding bug because KCC folks were unable to import after trying the format in code, `{{network}}:{{service}}`, so we should verify that this is working. We have very few CI logs for this resource, all failures.

[2020-02-05 21:09] emilymye commented on #5571
looks like https://github.com/terraform-providers/terraform-provider-google/issues/5587 is related

[2020-02-05 21:12] emilymye opened #5594 "Fix TestAccDialogflowAgent_update"

[2020-02-05 21:16] chrisst commented on #5587
@menarulalam thank you for your interest! However I took a quick look at this yesterday and I think it's going to be a bit more involved of a fix as the fields that are now coming back from the API are complex types that might need some custom logic.

[2020-02-05 22:40] edwardmedia commented on #5586
@c2thorn after tf init, I see this in the plan
[code]
after `tf apply` I see this in the `show` (it is **false**)
[code]
In the meantime, GCP UI show
[code]

[2020-02-05 23:20] jcanseco opened #5596 "Support a "job_id" field for google_dataflow_job"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-05 23:27] sanmmishra opened #5597 "expr block does not work in google_compute_security_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-05 23:29] sanmmishra commented on #5597
@danawillow Please let me know what you think.

[2020-02-05 23:43] edwardmedia commented on #5588
@c2thorn After import, I see null for both fields `collection` and `database`
[code]
But I do see something in both fields in `tf show` on original state
[code]

[2020-02-05 23:45] danawillow commented on #5545
Cool, that is indeed the answer. Assigning over to the current bug onduty for the terraform-side fix.

[2020-02-05 23:48] benbro opened #5598 "404 in google_compute_forwarding_rule doc link"
https://www.terraform.io/docs/providers/google/r/compute_forwarding_rule.html
The [API documentation](https://cloud.google.com/compute/docs/reference/rest/v1/forwardingRule) link points to 404.

[2020-02-06 00:03] chrisst commented on #5587
The root cause here is that CloudRun has started returning default values that weren't previously exposed. This means that all versions of this resource are currently affected. I have reached out to their team to see if it's possible to address this in the API. (b/148965108)

It's further complicated that these fields appear to be affected by a bug in Terraform core so I'm unable to fix it in the

[2020-02-06 00:39] sanmmishra commented on #5597
actually i noted that it is only in google beta. i think that was the problem. we can either close this bug or just move to GA?  any timelines?

[2020-02-06 01:21] venkykuberan commented on #5598
@benbro We will fix the doc., thanks for filing the issue

[2020-02-06 01:30] arturrez opened #5599 "google_storage_object_signed_url -> credentials must have sensitive flag set to true"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-06 01:47] c2thorn commented on #5568
Hi! `secondary_ip_range` is a computed field meaning if it is not present in the field, terraform will default to what is returned by the API.
If you want to explicitly delete any existing `secondary_ip_ranges` you can do so by setting
`secondary_ip_range = []`
into your config. Hope this helps.

[2020-02-06 01:49] chrisst commented on #3582
Sorry for the delay, looks like this fell through the cracks again.
@danawillow your guess was correct and I've added a PR for this scenario.

@all Once this is merged this issue will auto close again, but let me know if there is a scenario I haven't caught yet and I'll reopen.

[2020-02-06 04:16] lucwillems commented on #4250
i seem to have simular problems,
i'm  have configured 2 node pools , 1 cluster , while testing i noticed that each apply was destroying my node_pools and rebuild them again without changes in the pool configuration.

my plan output goes like this :
[code]

for some reason the configured oauth_scopes triggers a  destroy/add sequence.
using :
luc@lap2-luc:~/src/gcloud/project-test> terraform -versio

[2020-02-06 04:25] lucwillems commented on #4250
switching back to normal instead of beta provider,
but this requires to removing the upgrade settings,
makes it work again.

[2020-02-06 08:38] mtricolici commented on #5545
thank you @danawillow @edwardmedia for help.

[2020-02-06 09:44] dancmeyers commented on #5568
Hi @c2thorn, thanks for the update. I tried to simplify the problem I was actually having to the simplest version in the issue, but unfortunately I think that means the nuance has been lost. I'm not actually defining `secondary_ip_range` statically. I'm building the subnets based on configuration in a module, so the actual block looks like this:

    resource "google_compute_subnetwork" "subnet" {

[2020-02-06 11:23] paddycarver commented on #5458
Hi there! Thanks for the feedback.

I think the closest we're able to offer at this time is setting the [serving_status](https://www.terraform.io/docs/providers/google/r/app_engine_application.html#serving_status) field to `USER_DISABLED`, which _might_ work. If it doesn't, we don't have many options beyond waiting for the upstream to make that functionality available to us.

I think setting a fir

[2020-02-06 15:29] weeco commented on #4143
Same problem here:

[code]

This issue is the [4th most upvoted bug in this repository](https://github.com/terraform-providers/terraform-provider-google/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc+label%3Abug) making it a pain to use this provider for BigQuery.

[2020-02-06 18:11] #3582 closed

[2020-02-06 18:24] chrisst commented on #5568
There are many fields in the GCP API's which will allow a user to specify the value in their config or the API will provide a default value if it is not specified by the user. This is a pattern that Terraform didn't anticipate would be so prevalent and as such there isn't great built in functionality for handling this well.

We ended up marking these fields as Computed _and_ Optional, but in terra

[2020-02-06 20:21] #5594 closed

[2020-02-06 21:28] davidquarles commented on #5580
This is going to require vendoring / upgrading the google beta api from 0.13.0 to at least 0.14.0, which seemed fairly nontrivial when I attempted.  Is there already any sort of inertia around making that happen?

[2020-02-06 21:50] chrisst commented on #5587
I have learned that this is expected Terraform behavior and have adjusted my PR to be able to handle deeply nested default values. The API team is unable to address the upstream issue at this time so it looks like the fix will be coming in 3.8.0.

In the mean time you can manually work around this permadiff by manually specifying the defaulted values in your config. Here's an example with the defa

[2020-02-06 21:53] courteouselk commented on #5587
Thanks @chrisst.  Yes, this is exactly the workaround I use to silence the perma-diff for now.

[2020-02-06 22:40] rileykarson commented on #5580
It shouldn't be too bad- I believe you can edit the version in the `go.mod` file and run the commands at https://github.com/terraform-providers/terraform-provider-google/blob/master/.github/CONTRIBUTING.md#vendoring-libraries. Are you seeing issues inside the code after the update?

[2020-02-06 22:51] #5568 closed

[2020-02-06 22:54] rileykarson commented on #5580
Oh, looks like we're bumping it in another PR: https://github.com/terraform-providers/terraform-provider-google/pull/5584/files

[2020-02-07 00:40] edwardmedia commented on #5597
@sanmmishra can you post what var.rules did you provide? Thanks

[2020-02-07 11:34] sanmmishra commented on #5597
rules = [
    {
    name = "rule1"
    action   = "deny(403)"
    priority = "1000"
    match = {
            versioned_expr = "SRC_IPS_V1"
            config = {
                src_ip_ranges = ["9.9.9.0/24"]
            }
        }
    description = "Deny access to IPs in 9.9.9.0/24"
    },
    {
    name = "rule2"
    action   = "deny(403)"
    priority = "100"
    match = {
            expr =

[2020-02-07 13:43] mcqj opened #5605 "google_compute_target_https_proxy: Error creating TargetHttpsProxy No SSL certificate can be specified in TargetHttpsProxy when using Traffic Director"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-07 16:00] tatiana opened #5606 "Create google_compute_machine_type Data Source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-07 16:08] Tony-Proum commented on #2686
trying to figure out how to find a way to solve this issue, I found this issue https://github.com/hashicorp/terraform/issues/4149
It make me thought that it could be related and that this circular dependency issue could not be easily solved without "Partial/Progressive Configuration Changes" in the Terraform core project

[2020-02-07 16:18] Tony-Proum commented on #2686
Also maybe this terraform cloud feature may help, https://www.hashicorp.com/blog/creating-infrastructure-pipelines-with-terraform-cloud-run-triggers/ ?

[2020-02-07 16:21] c2h5oh commented on #5124
@drigz  As Stackdriver user I would strongly prefer HCL approach despite the fact I don't like HCL. Console UI-first approach is a bad idea:

1. Console UI constantly lags behind APIs, by a lot.
2. In large enterprise setups number of employees that get any kind of write access to cloud stuff is tiny compared to the number of de that can open a pull request. Making dashboards is way below pay grad

[2020-02-07 17:44] mcqj commented on #5605
Figured this out. The problem was created by setting the `load_balancing_scheme` in the  `google_compute_backend_service` resource. Removing that and allowing it to default solved the issue.

[2020-02-07 17:44] #5605 closed

[2020-02-07 18:23] emilymye commented on #5572
CIDR range overlap from dangling test resources is a problem - might just need nice sweepers

[2020-02-07 19:00] chrisob opened #5608 "Updating resource_labels field on google_container_cluster fails with a 400 error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-07 19:14] c2thorn commented on #5018
Hi @hallvors . Thanks for the effort in creating a demo for us to reproduce. However, would you mind uploading your demo into a github repository or something a bit more transparent? Also, the simpler the demo, the easier it will be for us to pinpoint the root issue. Is there a way we can repro with a terraform apply instead of a shell script?

On first glance, it looks like an issue outside of ou

[2020-02-07 19:36] emilymye opened #5609 "Split up error codes for common retry on error"
Right now we retry a very large number of codes globally but it seems more likely they apply globally within specific APIs (429, 500, 502, 503, 409 'operationInProgress') - we should figure out which APIs are actually retryable per these errors and add them as specific errorPredicates for the API

[2020-02-07 19:40] venkykuberan commented on #4250
@lucwillems oauth_scope `https://www.googleapis.com/auth/monitoring`  gets added by the API by default which is for both Read/Writing monitoring data. You can either remove the `https://www.googleapis.com/auth/monitoring.write` entry in the config or update it to `https://www.googleapis.com/auth/monitoring`. It should stop throwing the diff.

Will close this issue after hearing from you

[2020-02-07 20:30] umairidris opened #5610 "google_project does not return precondition details in error message"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-07 20:35] #5550 closed

[2020-02-07 20:40] edwardmedia opened #5612 "Quotes for providers needs to be removed in the document"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-07 21:02] #5478 closed

[2020-02-07 21:43] edwardmedia commented on #5597
@sanmmishra I have seen the same as what you got. It is in beta only and we don't have the date to release to GA yet. I am closing this issue. Please reopen it if you want a further discussion. Thanks

[2020-02-07 21:43] #5597 closed

[2020-02-07 21:46] edwardmedia commented on #5610
@umairidris can you post your config which can help me to understand what the problem is? Thanks

[2020-02-07 22:00] umairidris commented on #5610
Hi edward,

I'll ping you my config and full debug logs to avoid leaking any info.

In general:
- Create a project in a non-google org with a google managed billing account
- Observe the error just says preconditions failed
- Run https://cloud.google.com/sdk/gcloud/reference/beta/billing/projects/link instead
- Observe the clear error message being returned

[2020-02-07 22:03] danawillow commented on #5597
Looks like it was added to the GA provider in https://github.com/GoogleCloudPlatform/magic-modules/pull/3028, so it'll be available there in our next release (Mondayish)

[2020-02-07 22:23] #5219 closed

[2020-02-07 22:27] c2thorn commented on #5219
Hi folks. The fix should be available in the v3.8 releases of the TPG and TPGB providers next week. With it, you should be able to implement the original example without any modifications.

[2020-02-07 22:27] c2thorn commented on #5552
Hi folks. The fix should be available in the v3.8 releases of the TPG and TPGB providers next week. With it, you should be able to implement the original example without any modifications.

[2020-02-07 22:35] edwardmedia commented on #5608
@c2thorn I see the same problem. Debug.log is the same (above). In the plan I do see
[code]

[2020-02-07 23:18] rileykarson opened #5620 "Decide on the implementation for source representation instance"
https://github.com/GoogleCloudPlatform/magic-modules/pull/2871 and https://github.com/terraform-providers/terraform-provider-google/pull/3307 both propose adding roughly the same feature, but with significantly different implementations.

This issue is to track investigating the feature (https://cloud.google.com/sql/docs/mysql/replication/external-server#config-description) and deciding which impl

[2020-02-07 23:22] rileykarson commented on #4135
https://github.com/terraform-providers/terraform-provider-google/pull/4132, https://github.com/GoogleCloudPlatform/magic-modules/pull/2401 were both an implementation + upstreaming of this, but fell out of date. Once this is picked up, they'll be useful as references.

[2020-02-07 23:40] rileykarson opened #5621 "Add recommendations on GKE authentication / K8S usage"
It's common for TPG users to want to authenticate with K8S in clusters provisioned through Terraform.

It's an [open issue in the CFT GKE module](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/393) to generate a `kubeconfig` file; we've provided a reference implementation of Terraform-native OpenId authentication in the [Gruntwork GKE module](https://github.c

[2020-02-08 00:15] danawillow commented on #5505
Yup, you would do something that looks like this (note- I haven't actually tried it so this is an approximation):
[code]
This makes it so the only users with the compute.networkUser permission on the host subnetwork are the ones you specify. This corresponds to the docs at https://cloud.google.com/vpc/docs/provisioning-shared-vpc#networkuseratsubnet:

If you take a look at the gcloud tab, this ter

[2020-02-08 01:10] umairidris commented on #5610
I think this might be an API bug if at all. Let me follow up with the API team first to see what they say. Thanks!

[2020-02-08 01:10] #5610 closed

[2020-02-08 01:43] edwardmedia commented on #5599
@megan07 I am able to see the private key as well in the output.

[2020-02-08 14:02] hallvors commented on #5018
Hi @c2thorn, thanks for following up. As far as I remember I set up the demo to actually create infrastructure in a (test) project on my employer's Google account, and I'm a bit worried about abuse if it's kept online. I can share the file if you email hallvord at minus dot no. The shell script runs a few Terraform init and apply commands. If you add `set -x` or whatever it is at the start you wil

[2020-02-08 14:22] actgardner commented on #5552
Amazing, thanks everyone :)

[2020-02-08 20:55] maguro opened #5622 "Add support to add rules to a google_compute_security_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-09 08:22] jeet-parekh commented on #5596
Can I try to work on this?

[2020-02-09 22:55] nergdron opened #5623 "docs for data.google_compute_network are incorrect for attribute id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-10 06:38] c2thorn opened #5624 "Fix TestAccIapTunnelInstanceIam*"
More are failing in the beta provider than the GA provider.

[2020-02-10 12:04] al-dann commented on #4449
Does not work for me... Gave up after spending about 20 hours trying to find a combination of parameters that works...

[2020-02-10 15:43] mgaidia opened #5625 "Add resourcePolicies support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-10 17:44] slevenick commented on #5624
This *should* be fixed on the next run via https://github.com/GoogleCloudPlatform/magic-modules/pull/3090

[2020-02-10 18:15] danawillow commented on #3479
Removing the waiting-response label so this doesn't get lost in automation, but if anyone who is subscribed to this could answer @megan07's question, that would help give us the information we need to get this prioritized.

[2020-02-10 18:39] #5588 closed

[2020-02-10 18:41] #5585 closed

[2020-02-10 18:52] danawillow commented on #5612
It's not just that page but should also be done for our other examples (see https://www.terraform.io/docs/providers/google/r/data_fusion_instance.html for an example of one that still has quotes)

[2020-02-10 18:53] emilymye commented on #5609
Part of work is done in https://github.com/GoogleCloudPlatform/magic-modules/pull/3096 - figuring out which APIs use the default code will be follow up work

[2020-02-10 19:05] rileykarson commented on #5621
@morgante: If you or anyone from CFT has thoughts, let us know.

[2020-02-10 19:12] morgante commented on #5621
I agree this is definitely a pain point, but also agree with avoiding legacy cert or password-based auth.

My preference would be:

Could we even package this as a small GKE submodule?

Based on some non-Terraform work, I do think this is possible. Ideally we could make this an additional output of the module.

[2020-02-10 19:15] emilymye commented on #5572
The generated test is now sweepable, so this shouldn't be an issue anymore!

[2020-02-10 19:15] #5572 closed

[2020-02-10 19:18] rileykarson commented on #5621
1. We've been talking about adding a GKE section to the provider's Guides, and link from the GKE resources. We'd cover auth + probably some details on node pools and VPC-native clusters. Given that, would you still like to see a submodule?

2. It's possible, but it was unclear what the format was to me when I last looked. I think it would make sense as a datasource.

[2020-02-10 19:23] rileykarson commented on #3288
Keeping open for @c2thorn to split this into a few smaller issues

[2020-02-10 19:28] emilymye opened #5628 "Sole Tenancy Nodes Autoscaling (b/135550646)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-10 19:29] morgante commented on #5621
I think it'd still be better as a submodule. Having to copy a bunch of code from the provider docs is fine (and better than having to develop it yourself), but still not as easy as invoking a submodule which automatically configures the Kubernetes provider for me.

[2020-02-10 19:44] c2thorn opened #5629 "Handle id's in test sweeper template"
Breaking up remainder of https://github.com/terraform-providers/terraform-provider-google/issues/3288

[2020-02-10 19:57] c2thorn opened #5630 "Fix BillingBudget generated test sweeper"
`Error in response from request https://billingbudgets.googleapis.com/v1beta1/billingAccounts//budgets: googleapi: Error 400: Request contains an invalid argument.`

[2020-02-10 19:58] #5624 closed

[2020-02-10 19:58] c2thorn opened #5631 "Fix Healthcare* generated test sweepers"
`Error in response from request https://healthcare.googleapis.com/v1beta1//fhirStores: googleapi: got HTTP response code 404 with body: <!DOCTYPE html>
`

`Error in response from request https://healthcare.googleapis.com/v1beta1//hl7V2Stores: googleapi: got HTTP response code 404 with body: <!DOCTYPE html>`

`Error in response from request https://healthcare.googleapis.com/v1beta1//dicomStores: go

[2020-02-10 20:01] c2thorn opened #5632 "Fix SecretManagerSecretVersion generated test sweeper"
`Error in response from request https://secretmanager.googleapis.com/v1beta1/: googleapi: got HTTP response code 404 with body: <!DOCTYPE html>
`

[2020-02-10 20:04] c2thorn opened #5633 "List pagination in sweeper template"
### Affected Resource(s)

* google_*

Part of https://github.com/terraform-providers/terraform-provider-google/issues/3288

[2020-02-10 20:04] #3288 closed

[2020-02-10 20:17] danawillow commented on #5579
That would be great! I'll assign this issue to you. I imagine it'll be quite similar to the other one.

[2020-02-10 20:43] #5519 closed

[2020-02-10 21:40] marko7460 opened #5635 "Stateful Managed Instance Groups"
Is there are plan to add a resource for stateful managed instance groups as described in https://cloud.google.com/compute/docs/instance-groups/stateful-migs?

[2020-02-10 21:48] jpbecotte commented on #4025
Hi @slevenick !

I think @frankfarrell question was «How can I specify the repo URL so I can describe my function in Terraform language».

A cloud function has many meta values that refers to the infrastructure, such as: memory limit, region, trigger, etc.

I understand that deploying a function should be different than providing it.

Unfortunately, it is impossible at the moment to create an «emp

[2020-02-10 21:58] marko7460 opened #5636 "Creating instances in managed instance group with predefined names"
Is there a way to create instances in the managed instance group as described in this API?
[code]

[2020-02-10 21:59] danawillow opened #5637 "CDN custom origins"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-10 22:58] danawillow commented on #5622
Hey @maguro, just to check- you can already add rules to security policies in the security policy resource itself, so this specific FR is to have a separate resource just for the rule, correct? Can you expand a bit on your proposed use case?

[2020-02-10 22:59] danawillow commented on #5596
Sure! Putting @jeet-parekh as the assignee. Since this is the same value that we already set in the id field, this should be pretty straightforward, but let me know if you have questions.

[2020-02-10 23:00] kunalkg11 opened #5640 "GitHub App Triggers: Error 400: update not yet supported for GitHub App Triggers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-10 23:01] danawillow commented on #5580
@davidquarles I'm going to go ahead and put you as the assignee for now, but if you end up deciding not to work on this (or don't think you'll get around to it for a while) feel free to unassign :)

[2020-02-10 23:05] morgante commented on #5640
It looks like the API doesn't support updates, so we'll want to force recreate.

[2020-02-10 23:44] edwardmedia commented on #4085
Error occurs during the first `tf apply`. Below is the pair of request and its response.
Terraform version: 0.12.20
provider.google v3.8.0

[code]

[2020-02-11 00:09] edwardmedia commented on #5640
@kunalkg11 can you specify the steps how I can repro this issue? Thanks

[2020-02-11 00:19] venkykuberan commented on #5575
@rileykarson  I am able to import the resource with the following format with no issues

sample
```terraform import google_service_networking_connection.peering_connection {{peering-network}}:{{servicenetworking.googleapis.com}}```

I will update the doc after synced up with you

[2020-02-11 00:29] #5545 closed

[2020-02-11 00:51] jcanseco commented on #5596
Thank you for taking the initiative @jeet-parekh!

[2020-02-11 00:58] edwardmedia commented on #5636
@marko7460 have you had a chance to check out
https://www.terraform.io/docs/providers/google/r/compute_instance_group_manager.html? Does it help you?

[2020-02-11 08:46] chrissng commented on #4802
The way magic-module resources are defined seems to suggest that this cannot be a computed property of `google_dns_managed_zone`. It could be defined as a data source instead.

[2020-02-11 13:29] eadred commented on #5608
The same issue affects terraform-provider-google-beta (v2.18.1 in my case).

[2020-02-11 13:35] ndechandon opened #5645 "google_bigquery_table : optional field range is required"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-11 13:57] allandrick opened #5646 "google_project_iam_member allows wrong case in member names"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-11 14:00] allandrick commented on #5646
Apart from being a clear case of "well ... don't do that", it would be nice to fix some day :)

[2020-02-11 15:11] billyfoss commented on #5218
We are seeing this with:
Terraform v0.11.14
+ provider.google v2.19.0
+ provider.template v2.1.2

Is there a recommended version to upgrade to?  I see 2.20.0 has breaking changes.

[2020-02-11 15:39] billyfoss commented on #5218
@danawillow  FYI, I've opened a Google Support ticket as this appears to have migrated to the non-beta version and is blocking updates to our environments.

I see there were changes in https://github.com/GoogleCloudPlatform/magic-modules/pull/3003
to help with this, but I'm not sure if they will make it into any 2.x stream.

[2020-02-11 15:49] maguro commented on #5622
You may be speaking of features of which I am unaware of.  I'll flesh out my idea here, in this thread.  Once it gels, after community input, I'll update the description above.

Let's say we work for a huge corporation, MegaCorp.  There are a number of companies under its umbrella, each with their own IT team.  For our various internal websites, we'd like to setup security policies where each IT t

[2020-02-11 16:15] raddaoui commented on #5625
I will be working on this because it's a priority for us right now.

[2020-02-11 16:43] bjaworski3 commented on #1578
Just checking in again to see if there is any update. I see it is in the current sprint, does that mean this is being actively worked on now? Would be great to be able to manage Windows VMs via Terraform

[2020-02-11 17:21] slevenick commented on #5625
Looks like this is similar enough to https://github.com/terraform-providers/terraform-provider-google/issues/5565 for me to call it a duplicate.

Fixing #5565 will require adding the resourcePolicies field to instance and instance_template.

@raddaoui I have already started on this, so I would recommend holding off on any work on this feature

[2020-02-11 17:21] #5625 closed

[2020-02-11 17:40] marko7460 commented on #5636
@edwardmedia allows me to set `base_instance_name` to which a random 4 character string is appended. I would like to control the names myself like in this example:
[code]
Source: https://cloud.google.com/compute/docs/instance-groups/working-with-managed-instances#adding_instances_with_specific_names

[2020-02-11 18:09] dlee commented on #5025
Please support custom runtimes to allow running custom Dockerfiles on App Engine: https://cloud.google.com/appengine/docs/flexible/custom-runtimes/about-custom-runtimes?hl=en

Also, please support `beta_settings.cloud_sql_instances` (https://cloud.google.com/sql/docs/postgres/connect-app-engine) to allow connecting to Cloud SQL for PostgreSQL without VPC.

<img width="872" alt="Screen Shot 2020-02

[2020-02-11 18:31] mackoftrack commented on #3938
This is kind of ridiculous as this point. The bug has been open for almost 8 months. Nobody seems to care.

[2020-02-11 18:39] rileykarson commented on #3938
Ah, I'd been trying to look at this but couldn't figure it out. I've lost all context- unassigning myself so that someone else can pick it up.

[2020-02-11 20:20] hashibot[bot] opened #5649 "google_project resource exits early leading to "Error: googleapi: Error 403: The project to be billed is associated with an absent billing account., accountDisabled""
_This issue was originally opened by @c-dingwell as hashicorp/terraform#24079. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

## Terraform Version
Terraform v0.12.20
+ provider.google v3.8.0
+ provider.random v2.2.1

## Affected Resource(s)
google_project

## Ter

[2020-02-11 20:38] rileykarson opened #5651 "Add sweeper for Compute VM Instances (google_compute_instance)"
VM Instances aren't generated, and would be a good target for a handwritten sweeping function. We create a lot of them, so they're often left behind after test runs. They keep an entire network & it's associated routes, as networks can't be deleted if they have users.

We can probably skip instances managed by an igm/rigm, if that's easy to find.

Also we should prefix them all with tf-test.

[2020-02-11 20:43] danawillow commented on #5388
As @edwardmedia noted, we don't recommend using gcloud credentials to authenticate to Terraform, because it opens the doors for this exact style of breakages. From https://www.terraform.io/docs/providers/google/guides/provider_reference.html#credentials-1:

If you can't use a service account, you should be able to succeed by using an [access token](https://www.terraform.io/docs/providers/google/gu

[2020-02-11 20:43] #5388 closed

[2020-02-11 20:45] edwardmedia commented on #5636
@marko7460 does this module for you? https://github.com/terraform-google-modules/terraform-google-vm/blob/master/examples/mig/simple/main.tf

[2020-02-11 20:46] venkykuberan commented on #5646
@allandrick we already have that fix in later versions of the provider. They don't throw perma diff for case sensitive differences. Please update your provider and try it.
Looks like you are behind 2 major releases. I recommend you to update your provider to have the latest features and bug fixes.

Closing this issue as the fix is already in place.

[2020-02-11 20:46] #5646 closed

[2020-02-11 22:37] raddaoui opened #5654 "Add most-disruptive-allowed-action support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-11 22:57] #5596 closed

[2020-02-11 23:01] marko7460 commented on #5636
@edwardmedia It doesn't . It will still create an instance with random string  (https://github.com/terraform-google-modules/terraform-google-vm/blob/master/modules/mig/main.tf#L38) which is different behavior from the above mentioned command.

I don't think that the following flow can be done with the current resources:
[code]

[2020-02-11 23:04] rileykarson commented on #5100
https://github.com/GoogleCloudPlatform/magic-modules/pull/3077, https://github.com/GoogleCloudPlatform/magic-modules/pull/3114 should improve Terraform's behaviour in similar situations a little. After both those changes land, probably `3.10.0`, we'd see clusters / pools stuck in a state like this get tainted on creation, and Terraform wouldn't error out if they already existed.

Additionally, the

[2020-02-11 23:04] #5100 closed

[2020-02-11 23:15] rileykarson commented on #3249
The explicit check for `RUNNING` that failed this was removed a while ago, and there's currently a check for `ERROR` or `DEGRADED` that will cause the read to bail out. That's going away in https://github.com/GoogleCloudPlatform/magic-modules/pull/3115, but I'm optimistically going to close this out early since the original error wouldn't happen anymore.

[2020-02-11 23:15] #3249 closed

[2020-02-11 23:16] rileykarson commented on #5629
The `identity` field and how we create import ids are a good place to start with this.

[2020-02-11 23:21] rileykarson commented on #3035
This is due to the underlying API I think. Some operations are impossible on node-less clusters, which happens if your final node pool is deleted. Unfortunately, there isn't anything that can be done in the provider to mitigate this behaviour. Apply ordering is chosen by Terraform Core.

[2020-02-11 23:29] edwardmedia commented on #5645
@chrisst below error occurs on the resource example as well  https://www.terraform.io/docs/providers/google/r/bigquery_table.html
[code]

[2020-02-12 00:04] danawillow commented on #5049
@chrisst we weren't totally sure whether this is essentially done, or should continue into sprint 6. can you update it?

[2020-02-12 00:06] venkykuberan commented on #5649
@c-dingwell I tried few times and i didn't get the error message. I am able to create project every time in around 9 secs. I used the following config just to ensure i have the billing id from the data_source before i create the project. Could you please try this config and let me know how it goes ?

[code]
If you get the same error even with the above config please attach the debug logs (export T

[2020-02-12 00:11] c2thorn commented on #5586
`use_ip_aliases` is a removed field since v3.0.0, so ideally it would not appear in state at all. Filed an [issue](https://github.com/hashicorp/terraform-plugin-sdk/issues/320) with the Terraform SDK, but in the meantime I'll add a workaround for this field.

[2020-02-12 00:17] danawillow commented on #5218
@billyfoss this specific issue happens when there exists an IAM binding with a condition, but you're trying to read at a version of the provider that doesn't support reading those sorts of bindings. In order to fix it, you would either need to remove the conditional binding (so that the policy becomes a version 1 policy again) or use a version of the provider that reads version 3 policies.

The `g

[2020-02-12 01:13] edwardmedia commented on #5636
@marko7460 yeah we don't have existing implementation that supports that. Can you explain in what use cases you need to specify the full names by yourself?

[2020-02-12 01:17] edwardmedia commented on #5635
@marko7460 like other issue you filed, we don't have timeline to implement this yet. Can you tell us your use cases why you need this?

[2020-02-12 02:36] c-dingwell commented on #5649
I am unable to reproduce it using the "google_billing_account" data structure.  If I change it from that to a variable that is passed ("billing_account = var.billing_account" in the google_project resource) then I can get a regular reoccurrence of the issue.

[2020-02-12 04:39] morgante commented on #5640
@edwardmedia You should be able to reproduce with a simple config like this:

[code]

Run `terraform apply` on this config and the trigger is created successfully.

Then update the config, for example by adding a new substitution:
[code]

Run `terraform apply` on the update config and Terraform will attempt to update the trigger but the API responds with this error:
[code]

It looks like edit to G

[2020-02-12 07:34] brodin commented on #4449
@dpfeif using your example I cannot for the life of me get it to work, it fail with
[code]

I took your example and made it even smaller

[code]

It looks like somehow the service account is not getting the correct roles or is not even used? Can I have missed some other step?

Maybe it could be worth extending `google_bigquery_data_transfer_config` to support the usage of real servicea accounts ht

[2020-02-12 07:47] billyfoss commented on #4951
@slevenick I recreated the issue this evening.  I'll have to see if I can find a smaller segment that recreates the issue.  I remember doing quite a bit to get the logs I copied above.

[2020-02-12 07:50] billyfoss commented on #5218
@danawillow  I tried moving to 2.20.x and was reminded of https://github.com/terraform-providers/terraform-provider-google/issues/4951 which is why I pinned to 2.19.0.

[2020-02-12 08:33] mgaidia commented on #5654
Other affected resource:
- google_compute_instance_group_manager

[2020-02-12 08:37] #60 closed

[2020-02-12 09:19] mercuriete commented on #3938
Please someone pick this bug.

I just give it up messing with my remote state. The DB replica support is broken that means I can't use terraform on my production systems.
Anyway my boss doesn't like to have terraform on important assets so I just leave the databases out of terraform.

I am looking forward to this bug to be fixed.

Thanks in advance.

[2020-02-12 10:00] Alfablos commented on #1480
Hi Guys,
I've got the same problem. This is so frustrating, we're not able to fully automate the deployment of a multi-source (meaning different backend types) load balancer.
If we had the chance to set the named_port property in the node pool OR edit the instance group consequently we could automate an entire deployment process using the google provider along with the kubernetes one.

Any effort

[2020-02-12 11:02] ocervell commented on #5124
@c2h5oh agree with you. I think the HCL approach does make sense. Note that we can still download a JSON and `jsondecode` it to HCL before passing it to the resource, so both workflows would work.

[2020-02-12 13:40] gabsn opened #5656 "Cannot create an instance with replica"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-12 13:42] gabsn commented on #5656
Here is the payload that is posted to the cloud sql API:
[code]

I'm not sure if it's the problem or not but the replication field is prefixed with `mysql` whereas I want to create a postgres instance.

[2020-02-12 15:36] mackoftrack commented on #3938
I was actually able to work around it by removing those replicas completely from remote state, then re-importing them without the `maintenance_window` defined

[2020-02-12 15:53] tpoindessous opened #5657 "[doc][website] google_compute_region_autoscaler is beta or not ?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 16:00] megan07 opened #5658 "Updated docs to include `PARQUET` as `source_format` option in bigquery table external data configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-12 17:41] marko7460 commented on #5636
One use case would be creating a cluster of mongo instances where we want to name instances mongo1, mongo2, mongo3. In that case my mongo config can deduce the DNS names right from the hostname and i can also set mongo1 to be a Primary for example.

I think that having an ability to specify my own hostname fits use case of stateful managed instance groups. Stateful MIGs can keep the name and the d

[2020-02-12 18:10] rileykarson commented on #5621
I tried making a kubeconfig again, we can directly feed a token into one. https://www.terraform.io/docs/providers/google/d/datasource_client_config.html#access_token can be used directly as the `token`. I'd imagine https://www.terraform.io/docs/providers/google/d/datasource_google_service_account_access_token.html#access_token works too, in that case.

[2020-02-12 18:12] danawillow commented on #4951
@emilymye could this be related to the other regionbackendservice stuff?

[2020-02-12 18:16] danawillow commented on #5218
Hmm ok. Are you using both `google` and `google-beta` versions of the provider at the moment? You could pin them to different versions and choose which one to use on a resource-by-resource  basis.

[2020-02-12 19:31] Alfablos commented on #1480
So, here's a dirty little trick I came up with as a workaround.
I'm posting it here in case anyone needs to automate this process and has hit this problem.

Say you have a variables.tf entry like this:
[code]

Say you have a node pool called "main_nodepool".
We export the node pool instance group data :
[code]

Now we can access the instance group name using:

We're going to use a **local-exec pro

[2020-02-12 19:31] edwardmedia commented on #5640
@kunalkg11 below is the plan I got after I added one more line in the substitutions block. It doesn't look like recreating the resources. I noticed that the version of your provider is old. Can you try to use the latest version? Let me know what you find. Thanks
[code]

[2020-02-12 19:38] edwardmedia commented on #5636
@marko7460 do you mind file an enhancement (using template) so the team can prioritize it. In the meantime, I am closing this issue. Thank you

[2020-02-12 19:38] #5636 closed

[2020-02-12 19:39] edwardmedia commented on #5635
@marko7460 do you mind file an enhancement (using template) with business needs so the team can prioritize it. In the meantime, I am closing this issue. Thank you

[2020-02-12 19:39] #5635 closed

[2020-02-12 19:52] #5043 closed

[2020-02-12 19:53] emilymye commented on #5043
Fixed as of feb 12 run

[2020-02-12 20:03] ahsan518 commented on #5654
👍

[2020-02-12 20:35] chrisst commented on #5222
assigning to @hashibot and myself as @umairidris is working on a fix for this.

[2020-02-12 20:38] chrisst commented on #5049
I have a handful of follow up bugs to finish on this, so unfortunately sprint 6 it is.

[2020-02-12 21:07] morgante commented on #5640
@edwardmedia Did you try applying that plan?

That's the bug: Terraform thinks it can simply update the trigger in place, but the API rejects in-place updates to GitHub triggers.

[2020-02-12 21:58] slevenick opened #5661 "Implement VCR testing within provider_test.go"
### Description

Add flags for VCR testing to consolidate HTTP clients within single tests. Add support for seeding random strings within tests for deterministic resource definition generation.

This will allow us to run VCR based tests against recorded responses rather than the actual GCP API.

[2020-02-12 22:33] #3304 closed

[2020-02-12 22:34] rileykarson commented on #3304
Following the `3.10.0` release ~ Feb 24, this behaviour should be improved if not fixed altogether, as Terraform won't bail out on clusters / pools in error states.

[2020-02-12 22:51] preston-hf opened #5664 "BigQuery external tables should be able to be defined using HivePartitioningOptions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 22:54] marko7460 opened #5665 "Create stateful instances for managed instance group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-12 22:56] jwcmd commented on #1287
It looks like that google issue is finally resolved!

https://issuetracker.google.com/issues/116182848#comment75

https://cloud.google.com/iap/docs/reference/rest#rest-resource:-v1.projects.brands
https://cloud.google.com/iap/docs/programmatic-oauth-clients

🎂

[2020-02-12 23:00] #5586 closed

[2020-02-12 23:20] hashibot[bot] opened #5667 "Crash in PlanResourceChange"
_This issue was originally opened by @thnee as hashicorp/terraform#24093. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

https://gist.github.com/thnee/2155a68405c4db6737b5f161551d969d

### Steps to Reproduce
1. `terragrunt apply`

#

[2020-02-12 23:23] edwardmedia commented on #5656
@gabsn have you had the `app-master` instance in place? To make replica work, you have to have the master instance. Can you try something like below config? Let me know if this help address your issue. Thanks
[code]

[2020-02-13 00:18] chrisst commented on #5667
@paultyng I see you moved this issue over here but looking at the debug logs the stack trace appears to be in the sdk. Specifically in "terraform-plugin-sdk/internal/helper/plugin.(*GRPCProviderServer).PlanResourceChange".

Is there something I'm not seeing that is making you think this is a provider issue?

[2020-02-13 00:27] chrisst commented on #5571
fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/3081

[2020-02-13 00:27] #5571 closed

[2020-02-13 00:45] #3617 closed

[2020-02-13 00:45] edwardmedia commented on #5640
@morgante I did. To show you the result, I added one more line in the block. Below was the request & response to api call. I may have missed your point. Can you clarify more details?  In the meantime, can you try to upgrade the version of the provider and then try on your side to see if that helps?
[code]

[2020-02-13 04:57] dpkirchner commented on #4644
This issue is present in the latest google-beta plugin:

[code]

Ideally, you shouldn't be required to have IAM Viewer permissions on the project in which the service account exists, but instead be able to use whatever permissions that may be inherited from above (say, a folder or an organization).

The problem appears to be that `project` is not used everywhere it needs to be when generating the

[2020-02-13 10:22] gabsn commented on #5656
Thanks, I finally got it to work. See this minimal config:

[code]

The problem is that [terraform doc](https://www.terraform.io/docs/providers/google/r/sql_database_instance.html) says to have `binary_log_enabled`
![image](https://user-images.githubusercontent.com/18901085/74424555-74acfc00-4e52-11ea-85a9-bdac96ad2e5e.png).

But this is only true for `mysql`. As you can see in [Cloud SQL postgres

[2020-02-13 10:22] #5656 closed

[2020-02-13 11:30] allandrick commented on #5646
/facepalm - thanks @venkykuberan - I must have the provider version pegged for some reason.  I'll fix that!

[2020-02-13 13:44] salrashid123 opened #5669 "Add support for openid connect token datasource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-13 14:12] FallenHoot commented on #5539
I just stumbled on this issue as well. To provide more context to the issue:

In Cloud Run container instances, the PORT environment variable is always set to 8080, but for portability reasons, your code should **not hardcode** this value.
https://cloud.google.com/run/docs/reference/container-contract#port

The current way to deploy Cloud Run makes us hardcode this and is not best practice.

[2020-02-13 16:00] paultyng commented on #5667
Sorry, should have left more context, without additional repro though its hard for me to dig in, but when I traced this, the diff has an attribute key with a nil diff value, the diff generation runs through `CustomizeDiff`, specifically I think this may be related to diff login for the `google_compute_instance_template` but this was just my guess. The logs are sometimes hard to parse due to the pa

[2020-02-13 16:51] seboudry commented on #1287
Can't wait for Terraform resources :D

[2020-02-13 17:21] chrisst commented on #5667
Thanks for the context Paul!

@thneecan you post a config that can reproduce this panic? If not, could you post the delta between your working config and the one that crashes? This is going to be a tough one to track down without the ability to reproduce as the code may have changed since this bug was filed.

Finally can you let us know what version of the provider you were using at the time?

[2020-02-13 19:07] c2thorn commented on #5018
Hey @hallvors, sorry for the delay. In order to help resolve your issue, let's figure out a way to get your configuration in a more transparent manner. Posting a terraform config will not allow other users access to your employer's infrastructure. If you remove the project/orgId, there shouldn't be any chance for malicious intent. If you are still concerned, feel free to join our [slack channel](h

[2020-02-13 19:45] lpxavi opened #5673 "When Google Private catalog will be supported by terraform google provider ?"
Hi,

somebody knows when Google Private catalog will be supported by terraform google provider ?

Tks !

[2020-02-13 23:17] rileykarson opened #5678 "Add a warning to docs for generated resources with sensitive fields"
When we generate a resource that has a sensitive field, we can add a warning that the sensitive field is stored in plaintext.

[2020-02-13 23:59] c2thorn commented on #5608
Thanks for contributing @eadred! Merged in your changes. If you ever want to contribute in the future, the easiest way is to make a change in our Magic Modules repo like so: https://github.com/GoogleCloudPlatform/magic-modules/pull/3128. That way it will make the same change to both providers.

Either way, thanks a ton for helping out!

[2020-02-13 23:59] #5608 closed

[2020-02-14 00:47] chrisst commented on #5587
Fixed in https://github.com/GoogleCloudPlatform/magic-modules/pull/3081 which was shipped in 3.8.0

[2020-02-14 00:47] #5587 closed

[2020-02-14 01:01] danawillow commented on #4757
This appears to have been fixed in https://github.com/GoogleCloudPlatform/magic-modules/pull/2886.

[2020-02-14 01:01] #4757 closed

[2020-02-14 01:07] danawillow commented on #4314
The IGM URL that it's looking up comes directly from the cluster or node pool response from the GCP API, so it's surprising that the groups are still there if that's removed. Do either of you have debug logs (env var TF_LOG=DEBUG) that you could share from a run that had this error? Those will have the api requests/responses sent to/from GCP, and should have more data on where those URLs are comin

[2020-02-14 05:51] billyfoss commented on #5218
We have references to both providers, but currently only using the “google” provider.  I’ve used your advice and configured the iam resources to use the google beta provider and it seemed to resolve the issue in one environment.  I’m debugging why it is still failing in the original environment.  I’ll update tomorrow.

[2020-02-14 06:53] goobysnack opened #5681 "Error applying GAE Firewall Rules"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-14 08:36] bappr commented on #5608
Hey guys,
Is this issue supposed to be fixed already?
I am stucked because of that atm. Any advices?

[2020-02-14 09:39] thnee commented on #5667
@chrisst So if I remember correctly, I got rid of the crash by destroying and creating again. It was fairly apparent to me that some kind of state had been achieved in GCP that produced some kind of response that was unexpected to terraform. But what state was that? Why did it happen in the first place? Why did it go away when destroying a few resources and recreating them? I don't know..

But per

[2020-02-14 10:49] ringods opened #5682 "Creating a google_service_account results in an incorrect Google Cloud creation REST URI"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-14 12:28] mercuriete commented on #3938
@mackoftrack can you explain better on what you mean on "reimporting them without the maintenance_window defined"?

delete all DB from state.
go to google cloud console web and disable maintenance window using de UI?
reimport again?

Thanks for your help.
(this is only curiosity because I am not using terraform on DB or at least I am not using continuous delivery with dangerous assets)

[2020-02-14 13:14] missinglink commented on #5523
Hi @edwardmedia, I also found this confusing as the docs say:

[2020-02-14 14:44] eadred commented on #5608
The fixes didn't make it into v3.8.0 - presumably the next release will have them.

[2020-02-14 15:44] Fryuni commented on #5682
Just tried and its working with this configs:

Terraform v0.12.19
- provider.google v3.7.0

[2020-02-14 17:26] c2thorn commented on #5608
v3.9.0 was cut before the change went in. The fix should be available in v3.10.0 which should be released around 2/24.
If needed sooner, you can always build direclty from the master branch.

[2020-02-14 19:14] c2thorn opened #5683 "Add -sweep-allow-failures to TeamCity param"
Let's try using this:
https://github.com/hashicorp/terraform-plugin-sdk/blob/master/CHANGELOG.md#120-october-25-2019
So that sweeper failures don't stop other sweepers/tests.

[2020-02-14 22:20] hallvors commented on #5018
OK @c2thorn - please clone this:
https://github.com/hallvors/google-terraform-provider-crash

Running `terraform apply` in slipway-test-master/slipway/terraform/rollout/ tends to cause the crash. But of course you need a bit of state first, and I call this from a shell script setting plenty of required variables, some of them output from terraform commands in other subfolders.. so the actual comma

[2020-02-15 17:38] billyfoss commented on #5218
I was still seeing the issue because I had a resource that was going to be removed, so it was not getting updated with the google-beta provider.  Terraform was still refreshing its state with the google provider.

In summary, the advice from @danawillow worked great to get us past this.
Include both google and google-beta providers.
[code]

For resources that need to handle the new IAM Policy Vers

[2020-02-15 20:20] billyfoss commented on #4951
I ran into https://github.com/terraform-providers/terraform-provider-google/issues/5218 which required me to update to 2.20, but this issue was breaking the move to 2.20.

Thanks to @danawillow for helping me workaround by using the google-beta provider at 2.20 on only the resources that needed the newer version while remaining on 2.19 for the remaining resources until this is fixed.  Details of t

[2020-02-16 18:42] swarupdonepudi commented on #4184
@slevenick how to use magic-modules to adrdress this issue?

[2020-02-16 21:13] ringods commented on #5682
In my example above, I am passing `myproject.id` as the project ID to the service account. The value of `id` is `projects/tftest-my-project-id`. If I change my example to pass `myproject.project_id`, then it works!

`myproject.id` = `projects/tftest-my-project-id`
`myproject.project_id` = `tftest-my-project-id`

[2020-02-16 21:13] #5682 closed

[2020-02-17 03:22] bappr opened #5685 "Recent commit about `autoscaling_profile` makes terraform crash"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-17 03:27] bappr commented on #5685
PR is here -> https://github.com/terraform-providers/terraform-provider-google-beta/pull/1766

[2020-02-17 12:19] themanifold opened #5687 "data source google_project does not check for space at end of project_id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-17 13:40] rvdh opened #5688 "Add 'primary' version of cryptokey to google_kms_crypto_key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-17 14:52] tpoindessous opened #5689 "[doc][website] google_compute_region_target_http_proxy and google_compute_region_ssl_certificate are still in beta ?"
Hi

Internal HTTPS Load Balancer is GA since 10 December : https://cloud.google.com/load-balancing/docs/release-notes#December_10_2019

But when I want to use google_compute_region_target_http_proxy / google_compute_region_target_https_proxy and google_compute_region_ssl_certificate objets, they are still in beta provider.

Is this normal ?

Thanks !

PS : my customer doesn't like using google-bet

[2020-02-17 15:43] bdronneau opened #5690 "[data source] implementation google_compute_backend_bucket"
### Community Note

- Please vote on this issue by adding a +1 reaction to the original issue to help the community and maintainers prioritize this request.
- Please do not leave +1 or me too comments, they generate extra noise for issue followers and do not help prioritize the request.
- If you are interested in working on this issue or have submitted a pull request, please leave a comment.
- If

[2020-02-17 21:20] hashibot[bot] opened #5691 "google_compute_network does not wait for project to be ready"
_This issue was originally opened by @lkraider as hashicorp/terraform#24125. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Using Google Cloud Platform provider, creating a network fails when running consecutively with a new project:

[code]

### Terraform Versio

[2020-02-17 23:39] mrusme opened #5692 "CAA record support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-18 01:03] bkms opened #5693 "BigQuery dataset data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-18 04:11] jeet-parekh commented on #5544
I'll try this one.

[2020-02-18 09:23] bdronneau commented on #5690
Hi,

I'll propose a PR.

[2020-02-18 09:23] dhrapson opened #5694 "Feature Request: gcloud services identity create"
### Description

Please add support for the `gcloud services indentity create` command. This is a pre-requisite for using CMEK with CloudSQL as described in the 'Creating a service account' section of https://cloud.google.com/sql/docs/mysql/configure-cmek

The Terraform provider recently [added support for configuring CMEK with CloudSQL](https://github.com/terraform-providers/terraform-provider-go

[2020-02-18 10:50] venkat44488 opened #5695 "Is there any way to launch instance form GCP market place"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-18 14:56] EmilyMazo commented on #5377
Hi @venkykuberan! Thanks for your response, and sorry about my delay in getting back to you. While this would allow us to recreate the app profile IDs when the bigtable instances are recreated, it would necessitate renaming all app profiles everywhere they are used, whenever bigtable instances are altered. We are definitely looking for an infrastructure-as-code solution that doesn't require large-

[2020-02-18 16:10] edwardmedia commented on #5694
@dhrapson could you please file an enhancement for this request so we can prioritize it into the backlog? I am closing this issue. You can reopen it if you want to have a further discussion.

[2020-02-18 16:17] dhrapson opened #5697 "Add support for 'gcloud services identity create'"
### Community Note

Please vote on this issue by adding a +1 reaction to the original issue to help the community and maintainers prioritize this request.
Please do not leave +1 or me too comments, they generate extra noise for issue followers and do not help prioritize the request.
If you are interested in working on this issue or have submitted a pull request, please leave a comment.
If an issue

[2020-02-18 16:21] toadjaune opened #5698 "Add resources to validate a domain"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-18 17:12] toadjaune commented on #4422
Actually, I'd propose the following inference logic if location is not explicitly defined :
* if storage_class = "MULTI-REGIONAL", infer location (EU, US or ASIA) from provider region (if defined, fail otherwise)
* if storage_class has any other value (STANDARD, REGIONAL, NEARLINE, COLDLINE), use provider region (if defined, fail otherwise)

I'm not sure that would be a breaking change ; if I'm no

[2020-02-18 17:47] slevenick commented on #4184
@swarupdonepudi I don't understand your question. This resource should be in the next released version of the terraform provider (3.9.0) which is expected soon

[2020-02-18 18:09] morgante commented on #3582
@chrisst Did this make it into the 3.8.0 release, or do we need to wait for the next one?

[2020-02-18 18:12] dancmeyers opened #5702 "google_container_cluster.cluster_autoscaling.auto_provisioning_defaults does not allow oauth_scopes and service_account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-18 18:26] #4802 closed

[2020-02-18 18:51] emilymye opened #5704 "Fix TestAccAccessContextManager"
Looks related to https://github.com/GoogleCloudPlatform/magic-modules/pull/3085 - sounds like somewhere we read the resource we accidently read it back as nil

[2020-02-18 18:54] emilymye opened #5705 "Fix TestAccIdentityPlatform(Tenant)InboundSamlConfig_*"

[2020-02-18 19:08] rileykarson commented on #5689
Hey @tpoindessous!

It's normal for features to have entered GA in GCP but not to have moved providers yet. We haven't got an automated process to promote resources / fields from Beta -> GA, mostly because the transition occasionally comes with behaviour changes or field renames that we need to handle manually to minimise the disruption for existing users.

We tend to GA fields when we do other wo

[2020-02-18 19:08] #5689 closed

[2020-02-18 19:26] rileykarson commented on #5690
Hey @bdronneau!

We've reserved backports for bugfixes in exceptional circumstances, generally when existing resources break due to changes in the underlying API soon after a major provider release. We use them to make sure that users aren't forced to perform a (possibly risky) migration so that their configs continue working.

I don't think that's something we'd do for a new datasource, unfortuna

[2020-02-18 21:00] chrisst commented on #3582
Looks like it missed the 3.8.0 release, but it did make it into the 3.9.0 release. It got missed in the changelog generation, adding it back in via https://github.com/terraform-providers/terraform-provider-google/pull/5707

[2020-02-18 21:25] duffenterprises commented on #2973
My TAM pointed me here:

https://cloud.google.com/sdk/gcloud/reference/alpha/firestore/databases/create.

I'm hopeful that this will migrate up the chain, but haven't researched more.

[2020-02-18 21:27] emilymye commented on #3957
Some tests were fixed, but I think various libraries are still returning weird error formats, keeping open to track removing debug logs from a fix

[2020-02-18 21:50] chrisst commented on #5667
@thnee thanks for the context. Unfortunately there isn't much I can do to solve this without being able to understand the state that the resource has gotten into. If you see another crash with a recent version of terraform and the google provider please file another issue. If it's breaking in the SDK code base again we can open an issue on the SDK so they can cover the code that is causing the pan

[2020-02-18 21:50] #5667 closed

[2020-02-18 22:11] chrisst commented on #4085
@swenzel You appear to have found the root cause already :) This is definitely not something we are able to address within the provider code given the current state of the SDK. The upstream issue will possibly fix this but I suspect we might need to wait until the next version of the SDK is released first.

I'm going to close this as a duplicate of https://github.com/terraform-providers/terraform-

[2020-02-18 22:11] #4085 closed

[2020-02-18 22:52] danawillow commented on #5218
Glad to hear that it worked! A couple additional notes:
* I'd recommend explicitly specifying the 'google' provider for the ones that you want that one to be on rather than relying on it being the one chosen by default, just as a precaution
* I believe that if you were to do a `terraform refresh` with the changed provider/version before removing it from your config for the delete, then it would de

[2020-02-18 23:28] edwardmedia opened #5710 "[doc] ```hcl resource shows up on the website"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-19 01:19] #5704 closed

[2020-02-19 02:16] #5705 closed

[2020-02-19 08:09] bdronneau commented on #5690
Hi @rileykarson ,

Thank for answer.

Missing alias and version does not work from my testing in terraform. I already encountered this use case when playing with [module](https://www.terraform.io/docs/configuration/modules.html#module-versions)

In `providers.tf`:
[code]

Output:
[code]

Too bad for the backport, I'll make a less automate version of our IAC and improve it when we bump in 3.x.

[2020-02-19 09:28] xanonid commented on #4141
Related merged PR that probably was supposed to fix this (unfortunately still open) issue: https://github.com/terraform-providers/terraform-provider-google/pull/5258

[2020-02-19 13:27] aleks-m opened #5715 "Issue with renaming bigquery-json.googleapis.com on 2.20.0 -> 3.9.0 upgrade"
Hi.

I am trying to upgrade Google provider in my configs from 2.20.0 to 3.9.0.
I know what `bigquery-json.googleapis.com` has been renamed to `bigquery.googleapis.com` in 3.x. I made a corresponding change in configs and got this on `terraform apply`:

Config snippet:
[code]

[code]

[code]

From https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html#resource-google_containe

[2020-02-19 13:59] TheWolfNL opened #5716 "AppEngine Configuring Handlers not working / needs example"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-19 16:51] #5658 closed

[2020-02-19 17:16] danawillow commented on #5694
This looks like an enhancement request to me, just that the "please do not remove this line" message got removed so it didn't get auto-labeled. However, it looks like an additional issue was filed at https://github.com/terraform-providers/terraform-provider-google/issues/5697, so I'll go ahead and re-close this and we can use the other as the canonical version.

[2020-02-19 17:16] #5694 closed

[2020-02-19 17:19] #5382 closed

[2020-02-19 17:50] #5222 closed

[2020-02-19 18:02] rileykarson commented on #5690
Huh! I'd assumed it worked, but looks like it's [intentional that it doesn't](https://github.com/hashicorp/terraform/issues/16641#issuecomment-344370704). If you're not already using `google-beta` you may be able to use that at a different version, since it's implemented as a different provider.

[2020-02-19 18:18] #5690 closed

[2020-02-19 18:49] #5464 closed

[2020-02-19 20:46] rileykarson commented on #5715
You can set `disable_on_destroy` to `false` during the transition, as shown [in the example](https://www.terraform.io/docs/providers/google/guides/version_3_upgrade.html#new-config-google_project_service-). You may need to commit the value first by running `terraform apply` while the old bigquery service name is still set (Terraform doesn't read the new value from config during destroys).

Sorry!

[2020-02-19 20:46] #5715 closed

[2020-02-19 20:55] #5710 closed

[2020-02-19 22:00] rileykarson commented on #5702
Duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/5545, a fix for this should have landed in `3.9.0` yesterday. If you find that it doesn't work, do you mind filing a new issue?

[2020-02-19 22:00] #5702 closed

[2020-02-19 22:37] rileykarson commented on #2973
I'm removing the `upstream` label on this issue for now, so that it gets evaluated as part of our team's issue review process.

It's possible for us to implement, given the API exists, although it's a frustrating limitation that service accounts can't call it. Not only does that conflict with our (and generally the rest of GCP's) guidance to prefer service accounts, but it means that we won't be a

[2020-02-19 23:14] danawillow opened #5724 "ILB global access beta -> GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-19 23:50] danawillow commented on #5528
I think the best way to solve this would be to add a fine-grained resource for a single cloud run environment variable. That would also fix the issue of wanting to be able to say that some env vars exist, but not be authoritative about them, which IIRC has been brought up as a concern. @chrisst, does that align with some of the things you've been thinking about?

[2020-02-20 00:12] ndmckinley commented on #5697
Hi there,

I implemented that support for Cloud SQL CMEK, and I'm disappointed that it does require that once-per-project setup.  Unfortunately, at the moment, the docs are accurate -

We would love to implement this in Terraform, but gcloud setup is quite complicated and shelling out to it in a provider is a nonstarter.  As a workaround, you might consider ensuring that gcloud is set up correctly

[2020-02-20 00:12] #5697 closed

[2020-02-20 00:24] eriksw commented on #2973
@rileykarson Is there anything we can do other than beating the drum at our respective TAM / sales contacts to apply pressure on the service account aspect of this issue?

[2020-02-20 00:35] #5598 closed

[2020-02-20 00:43] duffenterprises commented on #2973
@rileykarson Would quoting the Bezos mandate a few times help?

@eriksw I'll drum my TAM / Account Partner as well.

1 yr from the issue being raised, 300 or so up votes, and "Cloud Firestore is the next generation of Cloud Datastore. Learn more about upgrading to Cloud Firestore" and I'm surprised we are no further forward in either issue.

I acknowledge the naming of the products makes it diffic

[2020-02-20 08:31] c2thorn commented on #5018
Thanks for being so cooperative @hallvors ! Just wanted to provide an update: I've been able to repro the crash by while limiting the scope down to just the `servers` and `diskimage` modules (`servers` didn't seem to do it by itself).  While a bit busy at the moment, I should be able to look for the root cause in the next couple of days. Thanks for your patience.

[2020-02-20 11:47] bdronneau commented on #5695
Hi,

Something like ?
[code]

Instance generated:
[code]

In order to get image name:
[code]
Project extract from marketplace URL: https://console.cloud.google.com/marketplace/details/bitnami-launchpad/rabbitmq-cluster?filter=category:developer-tools&q=rabbit&id=6710c653-a89f-4a39-bff7-eb6c54bcdbb8&project=ma-dev2&organizationId=5867207345

[2020-02-20 12:29] Miyurz commented on #4272
I've been experiencing the same issue with terraform 0.12.21.
[code]

[2020-02-20 15:16] megan07 commented on #5683
I've added `-sweep-allow-failures` to all the Google projects in TC, and tests still ran last night (which was my test).  I'll close this now.

[2020-02-20 15:16] #5683 closed

[2020-02-20 17:21] rsalmond opened #5726 "BigQuery dataset attribute delete_contents_on_destroy cannot be added after dataset has been created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-20 17:40] danawillow commented on #4272
@Miyurz since https://github.com/hashicorp/terraform/issues/23567 was closed, I'd recommend filing a new issue against hashicorp/terraform with full reproduction steps. I haven't been convinced yet that this is something we can fix at a provider level, but at the very least with a reproduction they can funnel it back over here if it is indeed a provider thing.

[2020-02-20 18:40] rgolab opened #5727 "`google_iap_tunnel_instance_iam_binding` is not recreated when instance is recreated"
[issue-type:bug-report]

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the req

[2020-02-20 18:47] #5657 closed

[2020-02-20 19:24] cynful commented on #3937
Same issue. Errors on first apply, passes on second apply

I've tried the work around described by @hawksight however based on the way that I'm dynamically assigning the backend blocks I get a splat error instead. This may or may not be related to how the dependency graph gets walked.
[code]

So next, I tried to pass the attribute to the module as a variable.
[code]

This seems to works, but now g

[2020-02-20 20:04] edwardmedia commented on #5691
@lkraider  I can't repro this issue. Tried multiple times and all succeeded without hitting that error. Did I miss anything?

[2020-02-20 20:50] preston-hf commented on #5664
Is this something that Google is working on internally, or would you accept a pull request for it?

[2020-02-20 21:16] rileykarson commented on #2973
@eriksw @duffenterprises: I just added a paragraph about how GCP-internal folks like TAMs can raise awareness of your requests with my team: https://github.com/terraform-providers/terraform-provider-google/wiki/Customer-Contact#raising-gcp-internal-issues-with-the-provider-development-team. I don't think Firebase has come up before internally, and I can't find any internal bugs my team has been CC

[2020-02-20 21:37] Alfablos commented on #1480
I've come up with another solution, which is more general in fact.
What happens if you need to deploy a **REGIONAL** cluster??
Well, as a matter of fact you'll end up dealing with two problems:

1. **google_container_node_pool.main_nodepool.instance_group_urls** will be a list with more than one string which, **again**, **contains the instanceGroupManagers URLs, not the instanceGroup URLs**. It'll

[2020-02-20 22:30] venkykuberan commented on #3329
@conorgil example has been fixed for [google_service_account](https://www.terraform.io/docs/providers/google/r/google_service_account.html), hence closing the issue.

[2020-02-20 22:30] #3329 closed

[2020-02-20 22:55] venkykuberan commented on #5649
Its an eventual consistency issue. An explicit delay is required to handle this issue which you already have in place.

Its a timing issue between 2 different APIs. Terraform/provider gets the confirmation from project API that billing account is enabled. But the update isn't propagated to storage API while creating the bucket resource thus it throws an error.

I am tagging @emilymye @rileykarson

[2020-02-20 23:00] jacobstr commented on #4314
@danawillow I have this on hand from an internal ticket, but haven't had a chance to repro recently:

[code]

[2020-02-20 23:04] venkykuberan commented on #5377
@EmilyMazo I will move this issue to enhancement bucket. We will work on it once it get prioritized.

[2020-02-20 23:07] rileykarson commented on #5649
@emilymye: You're most familiar with eventual consistency problems- how do you think I should solve this?

I'm leaning towards a retry predicate that checks for the specific `The project to be billed is associated with an absent billing account` on a 403, but also considered the lazy approach of building in a 10s sleep in project.

[2020-02-21 05:27] glasnt opened #5730 "Error creating SecretVersion (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-21 05:59] rjerrems opened #5731 "Add resources for Managed Active Directory (Now GA)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-21 09:07] misha-ridge commented on #4314
@jacobstr This seems to be a different issue.

[2020-02-21 14:30] streetmapp opened #5733 "Unable to link Project with Billing Account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-21 18:12] danawillow commented on #4314
Agreed, that one seems to be regarding node taints. If it's causing issues still then I'd recommend filing a new issue with the bug template fully filled out (config, plan output, debug logs), keeping in mind that any fixes that we make on our side (if it's determined to be a bug in the provider) will likely occur in the 3.X series of the provider.

For this one specifically, I'm going to go ahead

[2020-02-21 19:19] emilymye commented on #3957
Moving to near-term goals, since it will most likely get fixed by https://github.com/terraform-providers/terraform-provider-google/issues/5460

[2020-02-21 19:26] danawillow commented on #5620
Taking a look through the docs, this seems like a good fit for a separate resource, despite using the same API endpoint and resource proto (and gcloud command). The only fields that overlap between source representation instances and regular cloud sql instances are Name, Region, and DatabaseVersion. It feels like a nicer UX to keep it as a separate instance rather than relying on a bunch of Confli

[2020-02-21 19:26] #5620 closed

[2020-02-21 19:27] danawillow commented on #3704
Clearing the milestone to propose adding it to sprint 7 in our planning meeting, as per https://github.com/terraform-providers/terraform-provider-google/issues/5620#issuecomment-589799193

[2020-02-21 20:15] edwardmedia commented on #5716
@TheWolfNL your 2nd handlers does not have one of the `**type**` the handler expected. Here is the explanation from API document. Please let me know if this addresses your issue.
[code]
https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#scripthandler

[2020-02-21 20:19] Alfablos commented on #1480
Hi guys,
it's me again. I've found out an interesting fact.
In the google_container_cluster terraform documentation we can read that instance_groups_is are exported, **BUT** when I read it a big "what if" popped up in my mind.

Let's say we want to deploy a big application with maybe two kinds of backends: one is a light and not so CPU intensive service, and the other is a heavy duty monster.
It w

[2020-02-21 20:22] caieo opened #5737 "Remove abbreviated 'GCS' in compute_resource_policy field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-21 20:24] rileykarson commented on #5727
This is a variant of https://github.com/terraform-providers/terraform-provider-google/issues/2213, caused by https://github.com/hashicorp/terraform/issues/19052. The advice in https://github.com/terraform-providers/terraform-provider-google/issues/2301#issuecomment-434511564 is relevant.

I'm leaving this open since that's what we've done with the other issue.

[2020-02-21 21:08] slevenick commented on #5565
Postponing work until update functionality becomes available on compute instance, and resource policies are preserved on instance templates (currently you can POST resource policies but they are never returned)

[2020-02-21 21:34] edwardmedia commented on #5726
@rsalmond I am not able to hit that error. Below is the result I just tested. You may noticed the attribute getting updated. If you can repro the issue. Can you post the full debug log? Thank you
[code]

[2020-02-21 22:02] venkykuberan commented on #5692
@mrusme following sample config creates DNS zone and recordset of type `CAA`.
[code]
Please let me know how it works for you.

[2020-02-21 22:14] edwardmedia commented on #5730
@glasnt can you try to use `id` instead of `secret_id` in below line? Let me know if this address your issue. Thanks
[code]

[2020-02-21 22:23] glasnt commented on #5730
@edwardmedia Oh, that worked.

I think I see where I got confused:

In google_secret_manager_secret_version it takes a `secret` based on the `id` of the google_secret_manager_secret

But you define a google_secret_manager_secret with a [secret_id](https://www.terraform.io/docs/providers/google/r/secret_manager_secret.html#secret_id)

I'm *guessing* what I've done is use the user-provided identifie

[2020-02-21 22:35] edwardmedia commented on #5730
@glasnt I am glad this works for you. I am closing the issue right now. Thanks again for using the tools

[2020-02-21 22:35] #5730 closed

[2020-02-21 23:30] husunal opened #5738 "google_access_context_manager_service_perimeter_resource doesn't work inside a VPC-SC perimeter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-22 00:23] venkykuberan commented on #5733
@streetmapp Can you please try making that svc account user as "Billing Account User" & "Project Creator" at the Org level (only at the Org level) and run your config. The service account will come as just owner for the project after it gets created.

sample config
[code]
I am able to create a project and assign the billing account.  Please let me know if it helped

[2020-02-22 00:31] venkykuberan commented on #3350
@bukzor I am closing this one. Please reopen if you still face the same issue and needing help

[2020-02-22 00:31] #3350 closed

[2020-02-22 00:43] venkykuberan commented on #5681
@goobysnack can you please share the plan output and debug logs to better understand what's being passed to provider and APIs ?

[2020-02-22 11:57] filip-sc opened #5740 "Support ingressSettings for google_cloudfunctions_function"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-22 12:30] streetmapp commented on #5733
So I just tried this out, using your sample config, and I got the same error as I mentioned on my initial report.

Can confirm that my service account in use at the Org level ONLY has "Billing Account User" & "Project Creator" set.

[2020-02-22 13:19] Alfablos commented on #5551
Hi guys,
we're pushing a little bit here: [google backend_service to container_node_pool and named ports #1480](https://github.com/terraform-providers/terraform-provider-google/issues/1480)

There you'll find a solution (a hack, actually) I've found.
Hope it helps

[2020-02-24 00:22] geekflyer commented on #5054
@chrisst I'm just having the same issue. I want to deploy cloud run services to a GKE / Anthos Cluster.
There is no new resource required - the resource is already there: https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_cloud_run_service.go

However it currently doesn't expose the deployment platform parameter  (equivalent to `gcloud run deploy --platfor

[2020-02-24 05:43] venkat44488 commented on #5695
Thanks a lot, this helps me a lot.

[2020-02-24 05:43] #5695 closed

[2020-02-24 07:41] anativ commented on #5388
I have the same issue
it works when the `provider = google` but fail when `provider = google-beta`
It creates the cloud function but I get an error:

`
Error waiting for Creating CloudFunctions Function: error while retrieving operation: googleapi: Error 403: Your application has authenticated using end user credentials from the Google Cloud SDK or Google Cloud Shell which are not supported by the

[2020-02-24 07:52] flaker commented on #5388
Hi @edwardmedia  . Yes, I noticed the 403. Checking the debug logs, I see the function being created (and I can also see that in the admin console) but the subsequent call to check the status of the creation failing (403). That seems counter intuitive right? the function creation was allowed (output seems to indicate everything failed). Plus I used this for several months working before it stopped

[2020-02-24 08:04] anativ opened #5741 "google-beta v3.9 fail to get cloud function status"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-24 09:15] pdecat opened #5742 "Importing google_compute_project_metadata_item fails with "Error: project: required field is not set""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-24 09:21] pdecat commented on #5742
Hmm, this issue does not happen with an new empty state:

[code]

Mine was just upgraded from 2.20.2 to 3.9.0.

[2020-02-24 09:42] pdecat commented on #5742
Import also works with an empty state when resources are in a module:

`main.tf`:
[code]

`root_state/main.tf`:
[code]

[code]

[2020-02-24 16:39] edwardmedia commented on #5741
@anativ before 403 error, actually there was a 404 error (below). Not sure if this makes sense to you. There are multiple variables in your config. If you can provide the values for those variables and the zip file, I can try to repro on my side to see if we can get more insights. Please let me know if we can do further assistance for your issue. Thanks

[code]

[2020-02-24 17:03] streetmapp commented on #5733
I also tried the gcloud SDK method of linking a billing account, and this failed due to permissions as well.

[2020-02-24 17:11] edwardmedia commented on #5742
@pdecat you provided two cases in which import works for `empty state`. That is expected. If I leave the state file in place, I got below error, which is not the same as you got. What is the scenario for NON `empty state`? Can you specify the steps how you hit your error and what exact config do you have then?
[code]

[2020-02-24 17:25] pdecat commented on #5742
I just added that `google_compute_project_metadata_item` part this morning to catch up with out of band changes I noticed:

[code]

The first version of the state for that stack was created in 2016 (terraform 0.7.4 at the time, before the big provider split) and was upgraded to almost all versions of terraform and the google provider since then.

I wanted to import the project metadata item resour

[2020-02-24 17:33] rileykarson opened #5743 "Fix TestAccAppEngineServiceSplitTraffic_appEngineServiceSplitTrafficExample test"
Missing a mutex I think.

[2020-02-24 17:44] goobysnack commented on #5681
sorry, that's all the data I have.

[2020-02-24 18:11] danawillow opened #5744 "ILB multi-nic beta->GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-24 18:18] danawillow opened #5745 "Stackdriver custom log retention"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-24 18:20] rileykarson opened #5746 "Add `tfgen` prefix to Spanner sweeper"
Spanner automatically generates a shortname like `tfgen-spanid-20200212140837281` when `name` isn't provided for an instance. We use this a few times in our tests, and we've leaked a handful of instances. We should add this prefix to our sweepers.

[2020-02-24 18:22] danawillow opened #5747 "container analysis note/occurrence for attestation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-24 19:06] jacobstr commented on #4314
Deleted my earlier comment - indeed a different issue.

[2020-02-24 19:06] emilymye commented on #5746
We could also use this prefix for names that don't support dashes (not a lot of them, but some)

[2020-02-24 19:23] slevenick commented on #4951
Hey @billyfoss  if you move to terraform 0.12 do you still notice the same error? I'm wondering if this is a similar issue to https://github.com/terraform-providers/terraform-provider-google/issues/3937 which may show up differently because they are using 0.12

[2020-02-24 20:12] edwardmedia commented on #5742
@pdecat  can you try to import if you have the config like below, then manually add the key / value in the config accordingly?
[code]

[2020-02-24 20:32] #5737 closed

[2020-02-24 20:32] chrisst opened #5748 "Google Game Server Cluster should have integration tests added"
`google_game_services_game_server_cluster` was added as part of https://github.com/GoogleCloudPlatform/magic-modules/pull/3160 but does not have any integration tests. This is because the game server cluster must be created and attached to an existing gke cluster with the [Agones platform](https://agones.dev/site/) already installed.

There is an [existing Terraform module](https://github.com/goog

[2020-02-24 20:40] pdecat commented on #5742
@edwardmedia, thanks for the help on this issue!

I've tried commenting these fields but the same issue still happened.

Doing further tests, I've managed to locate the cause.
I had this in my `root_state` module that came from pre-0.11 configuration (we fixed this in our other modules a long time ago):

[code]

The underlying issue is described here: https://github.com/hashicorp/terraform/issues/