[2020-04-01 13:53] gwendal-lecren commented on #4449
That makes sense. In your case, it seems you were trying to deploy the transfer config with your own identity. In this case, the workaround is to authorize the bigquerydatatransfer service account through the console first (to allow him to execute the data transfer with your own identity). In my case, the transfer config needed to be executed as a service account (DUMB_NAME in my example). In that

[2020-04-01 14:27] venkykuberan commented on #6004
@kkom you can use the following annotations for `google_cloud_run_ service` metadata in your config. Please let me know if it works for you

[code]

[2020-04-01 15:56] edwardmedia commented on #6013
@stankolubomir what do you get `tf plan`? Can you post your full debug log for the `plan`?

[2020-04-01 16:32] kkom commented on #6004
Very interesting @venkykuberan! Thank you!

Yes, the connection strings make their way to the UI, but I believe they are not correct:

<img width="668" alt="Screenshot 2020-04-01 at 17 21 43" src="https://user-images.githubusercontent.com/5056119/78161418-4fde0980-743d-11ea-8423-0d6cece030ee.png">

(My service will fall back to a dummy SQL lite database if the socket is not open, so that deploymen

[2020-04-01 17:41] kkom commented on #6004
My error was different... Sorry for the noise @venkykuberan !

I actually had my `metadata` section on the top level of the resource... While it should have been nested under `template`! So the issue is resolved on my side.

But before closed the issue – do you think it would be possible for Terraform or the plugin to notify the user that the resource definition was nonsensical?

[2020-04-01 18:39] venkykuberan commented on #6004
@kkom here metadata is a valid attribute for both service level and service template, Provider doesn't validate sub-blocks on all the resources. However for this resource we do have the code to parse metadata for service and template and it didn't find any issues in the config  thus passed the block to the API and didn't get any error back since its a valid request.

Hope it helps, please let me k

[2020-04-01 18:43] kkom commented on #6004
If the API accepted it, it would be odd for the provider to block it locally... I guess that's it – I just need to be more careful in the future, and maybe the API will do more validation too!

Thanks for your explanation and help!

[2020-04-01 18:43] #6004 closed

[2020-04-01 19:20] ghost opened #6024 "[pub/sub]cant find resource when create subscription different project"
### Affected Resource(s)

* google_pubsub_topic
* google_pubsub_subscription

_This issue was originally opened by @guor911 as hashicorp/terraform#24519. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

terraform.io/docs/providers/google/r/pubsub_subcription.html
r

[2020-04-01 19:55] danawillow commented on #6012
Sounds like a bug to me! Will prepare a fix.

[2020-04-01 21:24] edwardmedia commented on #6024
@guor911 I'd like to repro the issue. Could you post the HCL you used?

[2020-04-01 22:59] edwardmedia commented on #5350
@danawillow we can repro it with below config
[code]
It keeps giving below `plan`
[code]

[2020-04-01 23:10] danawillow commented on #5350
This looks to be WAI from what I can tell. Our docs specifically point this out: https://www.terraform.io/docs/providers/google/r/bigquery_dataset.html#role

So to stop the permadiff, you should change `roles/bigquery.dataEditor` to `WRITER` and `roles/bigquery.dataOwner` to `OWNER`.

Closing this out because the behavior is already documented. @preston-hf, not sure if your issue is the same one a

[2020-04-01 23:10] #5350 closed

[2020-04-02 00:28] preston-hf commented on #5350
It turns out I was having exactly the same issue. Thanks!

[2020-04-02 00:30] danawillow commented on #4276
I have a working repro for this, and am looking into a fix.

[2020-04-02 05:22] stankolubomir commented on #6013
@edwardmedia I think that `tf plan` runs correctly.
Full debug log: https://gist.github.com/stankolubomir/59c0741c93778b793411d151a9495514#file-terraform-plan-debug-google_project_service-not-enabling-api-log

[2020-04-02 06:08] #5389 closed

[2020-04-02 08:39] lgylym commented on #3016
Why would adding a managed zone needs to perform domain validation? It is not the case when I use the console to add a zone.

[2020-04-02 10:35] weeco opened #6030 "Add support for cluster telemetry mode"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-02 10:48] antrusd opened #6031 "Enable dns_cache_config on exsting k8s version 1.15.x will still destroying the resource first"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-02 15:03] Jberlinsky opened #6032 "ipip protocol missing from google_compute_firewall documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-02 15:24] edwardmedia commented on #4152
@majelbstoat it seems to be fine that both services are successfully enabled using below code. How many nodes did you specified?
[code]

[2020-04-02 16:40] guor911 commented on #6024
provider version:
terraform-provider-google_2.20.0_x4

![52246817-8ED0-4778-8713-E5820EEA54F1](https://user-images.githubusercontent.com/30921262/78274654-1e4f6600-7543-11ea-81d1-797b0f253453.jpeg)

[2020-04-02 16:46] majelbstoat commented on #4152
I can't recall, I think it was 3.

[2020-04-02 17:14] TobKed commented on #4276
I think it is related: https://github.com/terraform-providers/terraform-provider-google/issues/5107

[2020-04-02 17:47] edwardmedia commented on #6013
@stankolubomir I can repro your issue after I removed certain permissions on the terraform account. Can you double check if the service account your terraform uses has related permissions?

[2020-04-02 18:09] cee-dub commented on #5107
I was just experiencing what seems like a related issue to this and #4276 and was able to solve it. Maybe this can help others in the thread.

I have a `resource "google_project_iam_custom_role"`, a `data "google_iam_policy"` (not certain this is required), and a `resource "google_project_iam_member"`. The API was returning the error `googleapi: Error 400: Role roles/myCustomRole is not supported

[2020-04-02 18:23] slevenick commented on #5107
Yes, #4276 is related, and @danawillow has a working reproduction of this issue, so hopefully we should get it fixed soon!

I'll close this as a duplicate at this point as #4276 is the same issue

[2020-04-02 18:23] #5107 closed

[2020-04-02 18:48] edwardmedia commented on #6031
@antrusd I'd like to repro your issue. How did you specify `master_version`? Do you have more complete HCL that I can use to repro your issue?

[2020-04-02 18:50] edwardmedia commented on #4152
@majelbstoat  can you retry with 5 nodes? Let me know what you see.

[2020-04-02 19:12] stepanstipl opened #6034 "GCS Bucket - delete operation stuck in never-ending loop when it can't delete objects"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-02 21:47] edwardmedia commented on #6024
@guor911  Yeah, currently the provider is only looking for a topic in the same project with the subscription you intend to create. It does not support cross projects for the resources.

[2020-04-02 22:09] antrusd commented on #6031
My bad, `master_version` was taken from the output of `terraform plan`, actually it's `min_master_version`. Original report edited. The process were updating the existing 1.15.x cluster by enable `dns_cache_config`.

I'm also trying to enable NodeLocal DNSCache by `gcloud` command, it does not destroy the cluster. So I believe the API have non-disruptive mechanism.

[2020-04-02 23:36] morgante commented on #1472
I don't have the Terraform code, but you should be able to do the equivalent of https://github.com/GoogleCloudPlatform/compute-image-windows/pull/139/files using the new data source.

[2020-04-02 23:39] stepanstipl commented on #6034
Thanks @edwardmedia, @danawillow  - I'm putting together a PR against magic-modules, should have that ready shortly.

[2020-04-03 00:36] #2686 closed

[2020-04-03 01:17] hden commented on #2686
Now that https://github.com/GoogleCloudPlatform/magic-modules/pull/3312 is merged, can we move forward to fined grained access control such as https://github.com/terraform-providers/terraform-provider-google/issues/5520?

[2020-04-03 01:30] danawillow commented on #6013
Took a look at the debug logs and I see what's going on. @edwardmedia I'm going to explain it thoroughly so that you can get some ideas on how to do similar sleuthing in the future.

The 403 is actually happening on the request to read the project, not on any project service reads/writes, and even though it's a 403, it's not a permissions error. It just says that the API hasn't been enabled yet:
[

[2020-04-03 01:45] danawillow commented on #2686
@hden, that PR added fine-grained access control.

[2020-04-03 02:25] hden commented on #2686
I meant as a terraform resource, or did I missed the document somewhere?

[2020-04-03 02:28] guor911 commented on #6024
Will you consider increasing support for cross projects？Since official documentation is supported.

[2020-04-03 10:45] stepanstipl opened #6037 "Storage bucket: Try harder to delete objects with force_destroy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-03 10:49] valtos opened #6038 "Bucket iam binding policy with expiration condtion"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-03 12:33] hcliff commented on #1144
any follow up on this? while #1113 seems nice it appears to be stale

[2020-04-03 15:22] gillesdouaire commented on #6030
For reference: https://godoc.org/google.golang.org/api/container/v1beta1#ClusterTelemetry

[2020-04-03 15:54] quentinleclerc commented on #5551
Hello,
@Alfablos it seems that it's not the same problem. Here the issue is that google_compute_region_backend_service is missing a field. It can not be solved with the workaround from container node_pool not containing named_ports!

Any news on this particular issue? I see that @igorwwwwwwwwwwwwwwwwwwww made a commit? @danawillow

Thanks!

[2020-04-03 16:01] igorwwwwwwwwwwwwwwwwwwww commented on #5551
@quentinleclerc Unfortunately I was not able to submit the patch due to the CLA requirement on the magic-modules repo. Somebody else is going to have to do that.

[2020-04-03 16:35] eqinox76 opened #6040 "google_cloudbuild_trigger make machinetype available"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-03 17:12] danawillow commented on #2686
Once it gets released (it should appear in version 3.17.0) it'll be usable as a `google_bigquery_dataset_access` resource. Here's a preview of what the docs page will look like: https://github.com/terraform-providers/terraform-provider-google/blob/master/website/docs/r/bigquery_dataset_access.html.markdown

[2020-04-03 17:16] #6012 closed

[2020-04-03 17:20] danawillow commented on #5551
Looks like there's already an open pr: https://github.com/GoogleCloudPlatform/magic-modules/pull/3265

[2020-04-03 19:31] slevenick commented on #5965
If you want a short term workaround you can add a lifecycle `ignore_changes` to that field to prevent it from attempting to recreate.
https://www.terraform.io/docs/configuration/resources.html#ignore_changes

I'm unclear on why setting both `true` and `false` are causing issues, I would assume that setting it to the value in the API would make the diff go away. Could you include debug logs for bot

[2020-04-03 20:01] edwardmedia commented on #6038
@valtos I can't repro your issue. Same as yours, I have one `serviceAccount` and two `group`. I see three resource were created in the `tf apply`, and also verified three new `permissions` listed in the gcp console on the bucket. Can you post your full debug log so I can take a close look?

[2020-04-03 20:03] #6034 closed

[2020-04-03 20:39] venkykuberan commented on #5851
Yes i see it. API is not sending enough info on the `message` attribute. Even we customize the error handler to include the `fieldViolations` description, it wouldn't be descriptive enough to explain the domain name string length issue.  Its best to raise an issue against the cloud_run API as provider can't do much here. Please let me know your thoughts ..

[code]

[2020-04-03 20:46] yinzara commented on #2973
[WebApp resource](https://github.com/GoogleCloudPlatform/magic-modules/pull/3340) coming soon too

[2020-04-03 23:36] #5965 closed

[2020-04-03 23:36] #5982 closed

[2020-04-04 12:56] AgrimPrasad commented on #6031
Seeing this issue too where trying to enable `dns_cache_config` on a cluster with master + worker nodes at `1.15.9-gke.24` results in an attempt to destroy the cluster (I'm using Pulumi which actually rejects this update with the error `panic: fatal: An assertion has failed: Expected diff to not require deletion or replacement during Update of urn:pulumi:<pulumi-stack>::<pulumi-project>::gcp:conta

[2020-04-04 15:37] missinglink commented on #2973
Did this make it into 3.15.0?
I didn't see any mention of Firebase in the [release notes](https://github.com/terraform-providers/terraform-provider-google/releases/tag/v3.15.0)

[2020-04-04 17:59] Vendin commented on #5527
@edwardmedia screenshot also shows that the service account has the role of Compute Network Admin.

Could there be a problem with the time applying the permissions to service account in Google Cloud Platform ?

I found the like.
googleapis / google-api-nodejs-client # 1382 (comment)

I will return to this question again, check and write to you, thank you.

[2020-04-04 22:39] hcliff commented on #4449
As per https://issuetracker.google.com/issues/118921817 this was resolved in December by allowing users to specify a service account to run the scheduled query as.
https://cloud.google.com/sdk/docs/release-notes#27400_2019-12-17  suggests there's a cli flag for this feature (`service_account_name`) but there's no reference to this in the api docs, so it's not even clear if the module magician coul

[2020-04-04 22:59] andrew-s commented on #5497
I came here for the same issue on TXT records (DKIM/SPF, etc..) - the quotes worked but it seems like a really odd syntax, e.g.

[code]

I'm really unclear on the defaults here, this provider splits strings within a list into a further list (so a list of lists?)? Why would it do that by default? It makes no sense to me, I'd maybe suggest this default behaviour is changed as it's completely counter

[2020-04-05 02:45] engrravijain commented on #5665
@rileykarson, Any progress on this?

[2020-04-05 11:44] vmarchaud opened #6048 "Giving `google_iap_web_iam_*` project id is required"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-05 15:59] edwardmedia commented on #6048
I can repro this issue. Once I commented line of `project`, I received the error. The doc says `project` is optional for the resource
[code]

[2020-04-05 18:43] akamalov opened #6049 "Missing Attributes for Google CloudFunctions"
Greeetings,

I am looking at Terraform Provider for Google and specifically at cloudfunctions - https://www.terraform.io/docs/providers/google/d/datasource_cloudfunctions_function.html.

However, I am not seeing an attribute support for

[code]

...as displayed in Google's ```gcloud functions deploy``` command manual

https://www.terraform.io/docs/providers/google/d/datasource_cloudfunctions_funct

[2020-04-06 00:11] digiology opened #6050 "google_compute_instance_from_template doesn't get scheduling parameters from template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-06 02:50] sleterrier opened #6051 "google_folders datasource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-06 11:49] wvanderdeijl opened #6052 "appengine standard is missing basic and manual scaling"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-06 14:27] valtos commented on #6038
i updated providers version just to see if it could be link, but no

I try to repro and now, i can't... i did wrong declaration, i put same roles and same expiration, but in 2 differents resources blocks (one for the service account and one for a group).
Correct delcaration is one resource for all members sharing same roles & condtion.

So terraform was each time either adding one and removing the

[2020-04-06 14:27] #6038 closed

[2020-04-06 16:35] rileykarson commented on #5665
The issue has been assigned to a sprint starting today, so it should end up with an owner in the next couple of hours.

[2020-04-06 16:37] rileykarson commented on #2973
It's available in `google-beta` `3.15.0`: https://github.com/terraform-providers/terraform-provider-google-beta/releases/tag/v3.15.0

[2020-04-06 16:52] edwardmedia commented on #6050
@digiology I can't repro your issue. To workaround, you may add below block in `google_compute_instance_from_template` to explicitly set `preemptible` for the instance
[code]

[2020-04-06 17:03] danawillow commented on #5815
Looks like the dependent bug was marked fixed, and according to https://cloud.google.com/composer/docs/how-to/managing/configuring-shared-vpc there aren't any API changes that were made as part of this. Is this still not working for anyone? If so, could you please provide debug logs (env variable TF_LOG=DEBUG) that show an API request/response that did not successfully work?

[2020-04-06 17:11] danawillow opened #6053 "Service Directory"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-06 17:15] danawillow commented on #6032
Added in https://github.com/terraform-providers/terraform-provider-google/pull/6033.

[2020-04-06 17:15] #6032 closed

[2020-04-06 17:15] chrisst commented on #2605
I have added alpha support for stackdriver workspaces to our closed build of the google provider. Since this is a closed alpha you will need to contact your account manager to get access to the stackdriver API and also the alpha Google provider builds.
Both the API and the Google provider are in alpha so are probably not good candidates for integrating into production at this point. Unfortunately

[2020-04-06 17:24] danawillow commented on #6049
Hey @akamalov. To clarify, that documentation page is actually for the data source. The resource page is at https://www.terraform.io/docs/providers/google/r/cloudfunctions_function.html.

Both fields were added recently, and appear in version 3.16.0 of the provider, which was just released a few minutes ago: https://github.com/terraform-providers/terraform-provider-google/blob/master/CHANGELOG.md#

[2020-04-06 17:24] #6049 closed

[2020-04-06 17:31] danawillow opened #6054 "Fix TestAccAppEngineApplicationUrlDispatchRules_appEngineApplicationUrlDispatchRulesBasicExample"

[2020-04-06 17:32] danawillow opened #6055 "Fix TestAccAppEngineFlexibleAppVersion_update"

[2020-04-06 17:41] danawillow commented on #6021
@toshitanian what version of the provider are you on? We have several improvements in our recent versions to take care of these sorts of issues.

If you're on an up-to-date version, it would help also to get some of the information that we ask for in the bug template since this feels more like a bug to me.

[2020-04-06 18:23] danawillow opened #6056 "Plan a fixit"

[2020-04-06 18:33] danawillow commented on #5124
Hey all, sorry to keep going back and forth on this one. After talking to the Stackdriver team, it sounds like the question of which approach to go with is no longer set in stone, and we'd like to take some more time to think this through.

As usual, if you have preferences that haven't yet been voiced (around the implementation specifically, not just that you want support for the resource), feel

[2020-04-06 18:36] danawillow commented on #6037
Hey @stepanstipl, maintainers talked about this today and we don't have a strong preference for one approach over the other. We're currently leaning towards the one with separate flags in order to be safer and more explicit, but would prefer to get some more input from the community around their expectations for how much Terraform would handle under-the-hood and whether removing retentions/holds w

[2020-04-06 19:11] venkykuberan commented on #3070
I am closing this is issue as i am able to associate/add a VM to an Instance Group created in the same config. Please reopen it if you still face issues adding a VM to an instance group

[2020-04-06 19:11] #3070 closed

[2020-04-06 19:25] venkykuberan commented on #3151
Closing this one as another issue - https://github.com/terraform-providers/terraform-provider-google/issues/5649 is being tracked for the same problem

[2020-04-06 19:25] #3151 closed

[2020-04-06 19:28] archyufa opened #6057 "Request for datasource google_compute_network_peering when creating Private GKE Cluster with Private Endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-06 19:35] edwardmedia commented on #6031
Now I can repro the issue. By adding `dns_cache_config` block in `google_container_cluster` and then `tf apply`, nodes are failed to be created. Below is the HCL I was using to repro the issue
[code]

[2020-04-06 20:25] raddaoui opened #6059 "panic: interface conversion: interface {} is map[string]interface {}, not string"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-06 20:53] edwardmedia commented on #5527
@Vendin `google-api-nodejs-client` is a client tool. There is nothing to do with `terraform-provider-google`.
Anything possible. If you can provide a little bit details and then we can take a look.
Have you tried to verify the account for terraofrm is the one you think of? Can you specify how you did?

[2020-04-06 20:58] #6048 closed

[2020-04-06 21:37] rileykarson commented on #6057
Have you tried using the [`google_compute_network_peering_routes_config `](https://www.terraform.io/docs/providers/google/r/compute_network_peering_routes_config.html) resource? It was added to close this gap, since you like don't want Terraform to think that it fully manages the GKE-managed peering.

If that resource didn't work for you, please let us know!

[2020-04-06 23:05] danawillow commented on #5497
@andrew-s that requirement comes straight from the GCP documentation on record sets (https://cloud.google.com/dns/records/json-record). The provider is just passing along the strings exactly as they're sent.

I'm going to go ahead and close this issue for now since it's been open for a few months without a response, but feel free to comment or file a new issue if you encounter any other issues or

[2020-04-06 23:05] #5497 closed

[2020-04-06 23:16] danawillow commented on #4449
@hcliff that's the bq CLI, which uses different APIs than gcloud/terraform. For the REST API, the service account that's used to deploy the resource is the one that the scheduled query will be set up with. There's a lot of information in this issue already, so I recommend reading it through.

[2020-04-06 23:26] venkykuberan commented on #6059
@raddaoui i tried your config few times, resources created all the times without any issues. Can you attach the plan output or full debug log to get an idea what value passed caused the crash.
 Is the resource `google_compute_region_disk_resource_policy_attachment` causing the crash ?

[2020-04-06 23:38] hcliff commented on #4449
ok that's good to know, thanks! does that mean I just need to grant the right set of perm _on_ that service account? if so any pointers would be much appreciated.

when trying to repo this, using my gcloud personal access token (owner permissions, previously walked through the oauth flow for a bigquerytransferconfig) worked, switching over to my terraform service account was no beauno.

[2020-04-06 23:41] danawillow commented on #4449
What happened when you switched to your terraform service account, and what does your terraform config look like?

[2020-04-06 23:51] #5512 closed

[2020-04-07 00:04] chrisst commented on #3069
Sorry no update at this point. The upstream team is still working on it and I'll update if I see that anything has been resolved.

[2020-04-07 00:53] #6013 closed

[2020-04-07 03:13] toshitanian commented on #6021
I added the version

[2020-04-07 03:26] ardagnir commented on #5928
I'd like to add AR support. Can someone assign this to me?

[2020-04-07 12:07] sagar-raythatha opened #6063 "Copying resources from one project to another"
Hi,

I am very new to the Terraform so it might be the basic question.

I am working with the large projects where we have developed things in the Dev project and now we want to setup same things in the another project that we are using as the Prod project.

As a part of a task I want to copy the resources from one project to another.
Resources need to be copied: BigQuery Tables, BigQuery views, C

[2020-04-07 14:02] venkykuberan commented on #6063
@sagar-raythatha refer this doc. if you want to maintain the states of each environment (dev, stage, prod) of the same config - https://www.terraform.io/docs/state/workspaces.html

Please let me know if this is what you are looking for ?

[2020-04-07 14:48] pikesley opened #6065 "Cannot import `google_billing_budget`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-07 15:51] nlamirault commented on #1287
@slevenick any news on this feature ? Thanks.

[2020-04-07 15:57] pdecat commented on #1287
IAP OAuth brand and client resources were released in 3.15.0:
- https://www.terraform.io/docs/providers/google/r/iap_brand.html
- https://www.terraform.io/docs/providers/google/r/iap_client.html

[2020-04-07 15:57] nlamirault commented on #1287
@pdecat THanks !

[2020-04-07 16:41] edwardmedia commented on #4146
I can't repro this issue. From terminal, `tf apply` stopped with below exception, while the Composer itself seems to be fine. The link to `Airflow` UI is good. `DAGs Folder` has been created.

Below is the HCL I was using, followed by the request & response in the log.
[code]

[code]

[code]

[2020-04-07 17:09] venkykuberan commented on #6065
@pikesley couple of things going on here, let me try to break it down

1) Terraform provider needs the Project variable to be set in one of the ways (env. variable, provider config, resource config) in order to run. Although this billing API call doesn't require the project id, the validation happens before the API call to check project id value is set. Project id is validated once API call is mad

[2020-04-07 17:43] edwardmedia commented on #4143
@IslamAzab I am using provider **v3.16.0,** and it seems fine with me. Below is the `plan` I got. After I applied the plan, I verified the schema and the new column was added. I realized your provider appears to be old. Can you update it and try again?
[code]

[2020-04-07 17:52] danawillow commented on #6021
Does this happen consistently or only sometimes? Does it happen with every resource / data source, or just GKE?

[2020-04-07 18:05] syedrakib opened #6066 "Creating CloudSQL with same name as deleted CloudSQL still having issues in v3.13.0"
### References

I had [previously commented](https://github.com/terraform-providers/terraform-provider-google/issues/5101#issuecomment-603384185) on a pre-existing issue #5101. But the issue was **closed** saying it is resolved in Google provider version **v3.3**. Turns out it's not yet resolved in Google provider version **v3.13.0**

### Community Note

* Please vote on this issue by adding a 👍 [

[2020-04-07 18:07] edwardmedia commented on #4139
@dijitali as you found out, changing a field data type is rejected by the API. To recreate the resource for this will break the terraform pattern. If you have a strong desire to have this feature in place, please file an `enhancement` instead so the development team can prioritize it in the backlog. As the current behavior is expected, I am closing this issue. Thank you for filing the issue

[2020-04-07 18:37] venkykuberan commented on #3074
@marcin-kolda not sure you still looking for response for this issue. Sorry for the delay.
 GCP doesn't allow to create a default app_engine_firewall_rule, only 'Edit` operation is permitted.  The new firewall rules should use the priority value between 1 & (2147483647-1).

API doc - https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.firewall.ingressRules

Priority -
A positi

[2020-04-07 18:39] edwardmedia commented on #6066
Can we stop retrying earlier if this msg is received?

[2020-04-07 18:46] venkykuberan commented on #6066
@syedrakib you can't use same name for sql instance for a week even after deleting it. GCP does some clean up process in the background to clear all the references.

[2020-04-07 18:55] dijitali commented on #4139
@edwardmedia - I can but I _do_ think this is a bug rather than a feature: a `terraform plan` should _always_ be compatible with `terraform apply`; in normal usage like this, it should never error and surface an API error.

If the API has an immutable attribute like this, the terraform provider should behave accordingly and indicate in the plan that the resource in question requires recreation.

F

[2020-04-07 18:59] dijitali opened #6067 "google_logging_metric attempts to update in-place resource changes that should require resource recreation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 18:59] dijitali commented on #6067
Sorry, this was supposed to be a feature.

[2020-04-07 18:59] #6067 closed

[2020-04-07 19:01] dijitali opened #6068 "google_logging_metric attempts to update in-place resource changes that should require resource recreation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 19:02] dijitali commented on #6068
Raised as a feature as requested but as noted in the original, closed issue, I believe this should be considered a bug: a `terraform plan` should _always_ be compatible with `terraform apply`; in normal usage like this, it should never error and surface an API error.

If the API has an immutable attribute like this, the terraform provider should behave accordingly and indicate in the plan that the

[2020-04-07 19:05] dijitali commented on #4139
Have re-raised this here as requested https://github.com/terraform-providers/terraform-provider-google/issues/6068.

We use several of these resources in multiple GCP projects and so do encounter this issue quite frequently.

[2020-04-07 19:33] MPV commented on #1287
This sounds nice, but I'm not entirely following: how would you create and use this for using Google as an IdP/identity provider for another application?

For web applications being set up in the ["api credentials in GCP"](https://console.cloud.google.com/apis/credentials) you need to provide a redirect url, but I don't see that being needed for any of the `iap_*` resources?

[2020-04-07 20:30] megan07 commented on #6031
The node pool isn't being recreated due to the issue here: https://github.com/hashicorp/terraform-plugin-sdk/issues/122.
However, it looks as though `dns_cache_config` shouldn't be `ForceNew`, which will solve this particular issue.  We may run into the same issue with the node pool if other `ForceNew` fields are updated though, so I wanted to make that note here for future reference.

[2020-04-07 20:33] #6050 closed

[2020-04-07 20:56] rileykarson commented on #3650
@stono: Are you still encountering this? Changes around `3.10.0`-`3.13.0` should have made it much less likely.

[2020-04-07 20:57] slevenick commented on #1287
I'm not sure I understand your question. This resource is to allow programmatic generation of OAuth client_id and secret for use in IAP resources. Are you looking for something like the `identity_platform` resources? https://www.terraform.io/docs/providers/google/r/identity_platform_oauth_idp_config.html

These resources are for this flow: https://cloud.google.com/iap/docs/programmatic-oauth-clien

[2020-04-07 21:32] em-pe commented on #1287
As far as I understand when you use this resource, `redirect uris` are configured automatically for IAP (and IAP only!) it's managed on google side.

[2020-04-07 21:34] pietrodn commented on #1287
I think that MPV is trying to configure [this authentication flow](https://support.google.com/cloud/answer/6158849?hl=en).

The idea is to use IAP to provide an authentication layer for third-party SaaS web applications (example: [Looker](https://docs.looker.com/admin-options/security/google-auth)).

How can this configuration be automated in Terraform?

[2020-04-07 22:59] edwardmedia commented on #3326
I think this is no longer an issue. I have tested `google_compute_project_metadata` upgrade from **v.2.6.0** to **v3.16.0**, and no change is found in the plan.
I am closing this issue. Please feel free to reopen if the issue is not resolved.

[2020-04-07 22:59] #3326 closed

[2020-04-07 23:36] edwardmedia commented on #3322
Some service accounts are different formats. Below are two examples. Without proper `data source`, it might be difficult to manipulate them via terraform

`20267131xxxx-compute@developer.gserviceaccount.com`
`myproject@appspot.gserviceaccount.com`

[2020-04-07 23:37] asbchakri commented on #5870
Any update on when this enhancement will be released

[2020-04-08 00:10] danielcompton opened #6073 "Add global load balancer IP ranges to google_netblock_ip_ranges"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 02:34] toshitanian commented on #6021
It happened only on GKE cloud cluster for me as I don't use other resource with terraform.
In terms of frequency, it happens earlier when I applying again and again.
So, I suppose that this error is related to GCP's API request limitation.
I'm not sure but there might be something like GCP's API have limitation of 10 requests / minutes.

[2020-04-08 09:00] MeghanaSrinath commented on #5948
@edwardmedia , we did ```tf destroy``` soon after ```tf `apply`` and we still had the issue.
These left over firewalls are due to the load balancers that get created while we deploy the microservices application in our GKE cluster. Each of these microservices need a LB to function. What we don't understand is that why these resources are not getting deleted after the cluster is destroyed.

[2020-04-08 10:04] MPV commented on #1287
Would that be these resources instead?
https://www.terraform.io/docs/providers/google/r/identity_platform_oauth_idp_config.html

In order to do this, I mean (in my case as IdP for a Kubernetes cluster):
https://developers.google.com/identity/protocols/oauth2/openid-connect

I've also been wanting to do this (as IdP for an OpenShift cluster), but couldn't find any matching TF resources?
https://dev

[2020-04-08 10:54] Chupaka commented on #3326
Could you please test the upgrade from v1.15, not v2.6?.. The initial problem is with v1.15...

[2020-04-08 11:45] MPV opened #6074 "Creating "OAuth 2.0 Client IDs" (from GCP console) using this provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 11:47] MPV commented on #1287
@pietrodn Is right about what GCP configuration I'm trying to do with Terraform. 👍

I created a new issue #6074 for that now, which maybe isn't related to IAP (after reading up on that now, sorry for the confusion/mixup on my part, folks). 😊

[2020-04-08 12:31] pietrodn opened #6075 "Add support for BigQuery taxonomies and policy tags"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-08 15:11] #6031 closed

[2020-04-08 15:21] venkykuberan commented on #5506
@robcroteau this issue has been on waiting-response state for quite some time. If the issue is solved shall i close this one ?

[2020-04-08 15:55] edwardmedia commented on #5948
@MeghanaSrinath  between `tf destroy` soon after `tf apply`, did you deploy the microservice applications to the cluster? You mentioned they need a **LB** to function. What happened to the function? I don't have the full picture of all your infrastructure. It is hard to guess. When I tried repro, I was using your above code. Have you tried to use same code to see if you can repro the issue?

[2020-04-08 17:20] hashibot[bot] opened #6077 "terraform import on GCP Cloud Armor resource causes crash"
_This issue was originally opened by @RobertFr0st as hashicorp/terraform#24596. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

So essentially terraform crashes with a Seg Fault when importing a GCP Cloud Armor resource. It happens consistently, I have not yet att

[2020-04-08 17:24] ConstantineAbayeu commented on #5815
we are still having some issues with this:
Error: googleapi: Error 400: Found 1 problem:
	1) Network and subnetwork must belong to the same project., badRequest

[2020-04-08 17:26] danawillow commented on #5815
@ConstantineAbayeu mind sharing the config that you used as well as debug logs that show it not working (running terraform with the env var TF_LOG=DEBUG)?

[2020-04-08 17:32] edwardmedia commented on #3076
@conorgil we just have had a fix for a similar issue https://github.com/terraform-providers/terraform-provider-google/issues/6050. Can you help verify if this works for you after the fix is released?

[2020-04-08 17:42] ConstantineAbayeu commented on #5815
`Terraform v0.12.20
Initializing plugins and modules...
2020/04/08 17:15:44 [DEBUG] Using modified User-Agent: Terraform/0.12.20 TFE/v202001-4

google_composer_environment.TEAM-composer-prod: Creating...

Error: googleapi: Error 400: Found 1 problem:
	1) Network and subnetwork must belong to the same project., badRequest

  on ipt-composer.tf line 1, in resource    "google_composer_environment" "

[2020-04-08 17:56] hcliff commented on #4449
@danawillow i copied the sample from above,
[code]

in the meantime https://github.com/GoogleCloudPlatform/magic-modules/pull/3347 was opened which would suggest maybe terraform doesn't already set the service_account_name (unless the connector was hand written? 🤷‍)

[2020-04-08 18:46] conorgil commented on #3076
@edwardmedia Great to see this get fixed! Unfortunately, I have not been working with Terraform recently and I do not have time to help test.

[2020-04-08 18:58] danawillow commented on #5815
The information I'm looking for in the debug logs are specifically the full requests/responses that get sent to GCP. That looks like the regular output from running Terraform.

That output also doesn't say which provider version you're using, so I can't say whether an upgrade would help or not.

[2020-04-08 19:12] danawillow commented on #4449
Oh gosh, that's so frustrating- the parameter _does_ exist, it's just not documented anywhere. I raised that internally just now, so hopefully it'll make it into the documentation soon.

In the meantime, it does look like that PR will fix this issue, so I'll go ahead and link the two. Once it's merged and released, you'll have the opportunity to explicitly set the field yourself.

[2020-04-08 19:16] hcliff commented on #4449
awesome, thanks :)

[2020-04-08 19:41] ConstantineAbayeu commented on #5815
[run-x7dodfAkqtas6sE5-apply-log.txt](https://github.com/terraform-providers/terraform-provider-google/files/4452467/run-x7dodfAkqtas6sE5-apply-log.txt)

Attached is the full debug log from terraform for that run ( i have reducted our company name from it)

as a side note, deploying it via gcloud command works just fine with that same shared VPC works fine. it is just trying to use the terraform mo

[2020-04-08 19:47] danawillow commented on #5815
Cool, so looking at those logs it's showing that Terraform is trying to use a network from the same project as the composer environment, but a subnetwork from a different project. I assume you're looking to have it use a network in a different project- how are you setting the two fields in your config? My guess is that network is just getting set to a network name, rather than the full path of the

[2020-04-08 19:49] ConstantineAbayeu commented on #5815
`resource "google_composer_environment" "REDUCTED-composer-prod" {

    name = "REDUCTED-composer-prod"
    region = var.region
    config {
        node_count = 3
        node_config {
            zone = "us-central1-a"
            machine_type = "n1-standard-1"
            network = "projects/ccnetwork-prd-dc3570/regions/us-central1/networks/REDUCTED-composer"
            subnetwork = "projects/

[2020-04-08 20:00] sebglon opened #6079 "The latest release note and online doc does not have the new google_os_login_ssh_public_key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-08 20:06] danawillow commented on #5815
Ah, I see the issue: networks are global, so that link is incorrect. You want `projects/OTHER_PROJECT-prd-dc3570/global/networks/REDUCTED-composer`

You could also use something like the `data.google_compute_network` data source (https://www.terraform.io/docs/providers/google/d/datasource_compute_network.html) to avoid hard-coding the link of the network.

[2020-04-08 20:37] edwardmedia commented on #3029
@dgarstang Is this still an issue with you? The version of your provider is pretty old. Can you try with the latest version? To verify your issue, I was using below code to build two resources. It seemed the metadata was available and one piece of data was successfully written to the file `data.txt` on the VM. Can you let us if this is still an issue?
[code]

[2020-04-08 20:53] shane-lawrence commented on #4976
There's a lot of misunderstanding around this set of features, and I think [the docs](https://cloud.google.com/kubernetes-engine/docs/how-to/shielded-gke-nodes) were somewhat confusing (though they've gradually improved over time). I believe there are actually three separate features that are all configured independently of each other. "Shielded" seems to be the name for the group of features, as

[2020-04-08 21:36] rileykarson commented on #6079
We have a slight delay between code landing in master and getting released, this will arrive in `3.17.0`: https://github.com/terraform-providers/terraform-provider-google/pull/6080/files

[2020-04-08 21:36] #6079 closed

[2020-04-08 21:42] edwardmedia commented on #3076
@conorgil Please feel free to reopen it if you still see this is an issue. Thank you

[2020-04-08 21:42] #3076 closed

[2020-04-08 21:43] venkykuberan commented on #6077
@RobertFr0st upgrading your provider version to `3.2.0 or later` will fix your issue. I am able to import the resource on latest version of provider. Please let us know if you still face the error even after provider upgrade.

[2020-04-08 21:53] edwardmedia commented on #3016
@Ruwan-Ranganath Is this still an issue with you? If yes, could you provide your code so I can take a close look? Thanks

[2020-04-08 22:02] ConstantineAbayeu commented on #5815
awesome! this seems to have worked. at least it is attempting to spin up the composer! thank you for all your help!

[2020-04-08 22:03] edwardmedia commented on #3015
@billyfoss  The version of your provider is pretty old. Could you please upgrade your provider and let me know if this is still an issue? Thank you

[2020-04-08 22:07] danawillow commented on #5815
Great! Going to go ahead and close this out then, but feel free to comment back if it doesn't work.

[2020-04-08 22:07] #5815 closed

[2020-04-08 22:09] edwardmedia commented on #3012
@gosseljl close this issue as the fix (#3012) was applied. Please feel free to reopen it if you still encounter the issue. Thanks

[2020-04-08 22:09] #3012 closed

[2020-04-08 22:54] chriswacker commented on #5889
I'm sorry I haven't had time to come up with more detailed steps or the information you asked for. I looked at the code, and although I am very inexperienced with this code base, I spotted what might be the issue (although I am not sure how to fix it):

"service_account_email" shows up in:
https://github.com/terraform-providers/terraform-provider-google/blob/e820eaf01aafd5e3a55315372037b3f424b6732

[2020-04-09 02:46] jroper opened #6081 "Add support for default_url_redirect to google_compute_url_map"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-09 08:13] chrisob opened #6082 "Allow setting the storage location for google_compute_image resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-09 13:22] nesl247 opened #6084 "google_monitoring_notification_channel requires display_name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-09 15:12] edwardmedia commented on #6084
`display_name` is required. Please update doc for this field accordingly

[2020-04-09 16:37] nesl247 commented on #6084
@edwardmedia Out of curiosity, why is it required? Because it isn't required on GCP's web console.

[2020-04-09 16:59] edwardmedia commented on #5889
@chriswacker I am using below HCL to test your issue. But I see the `service_account_email` remain unchange. Please provide the your details so I can see your issue. Thanks
[code]

[2020-04-09 17:43] edwardmedia commented on #3008
I can repro it with v3.16.0

[code]

[code]

[code]

[2020-04-09 17:51] danawillow opened #6085 "Use actual nested objects in resource_cloudiot_registry"
Several elements in this resource's schema look like this:
[code]

This is wrong- it should be a `TypeList` with `MaxItems: 1`. Maps don't actually check nested elem schemas at plan-time, so a user could put anything they want in the map (including omitting required fields) and the plan would still succeed.

[2020-04-09 17:52] #5959 closed

[2020-04-09 18:23] raddaoui commented on #6059
yes the problem is intermittent and only happens in a certain state @venkykuberan
this is the full debug log. I suspected that it was caused by `google_compute_region_disk_resource_policy_attachment` resource because the function that errored when panic happened is `resourceComputeRegionDiskResourcePolicyAttachmentDecoder()`
https://gist.github.com/raddaoui/94d3d39bd05719d988116cf34590f0a7

[2020-04-09 18:26] robcroteau commented on #5506
Thank you - you can close this.  Apologies for the delayed response.

On Wed, Apr 8, 2020 at 11:21 AM venkykuberan <notifications@github.com>
wrote:

[2020-04-09 18:52] kenmazaika commented on #3820
Any update on this?  I'm running into this issue, too.

It seems the best option is to manually do `terraform state rm` on the postgres user outside of the terraform configuration.

Seems like a hack.

I tried to create a `remote-exec` or `local-exec` on the `google_sql_user` to automatically trigger the action when `destroy`ed but it didn't seem to work.

IMO a good solution to this would be to a

[2020-04-09 18:56] archyufa commented on #6057
Hi @rileykarson .
It solves part of the puzzle indeed thank you!

After GKE gets created we can take the peering naming value and manually copy in to the ` google_compute_network_peering_routes_config` and run terraform second time to --export-custom-routes.

It would of been great to make this process fully automated thought. Do you think we need to close this ticket or we can something as part o

[2020-04-09 19:05] rileykarson commented on #6057
The process should be fully automated already by using Terraform interpolations, as shown in this example: https://www.terraform.io/docs/providers/google/r/compute_network_peering_routes_config.html#example-usage-network-peering-routes-config-gke. You can actually try it for yourself! The "Open in Cloud Shell" button opens the example in a Cloud Shell environment to test the resource out.

However

[2020-04-09 19:09] rangerscience opened #6086 "DialogueFlow fulfillment support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-09 19:10] rangerscience commented on #6086
I'm interested in working on this myself, but I'm really not sure how to get started (particularly with regards to the modular magician). If someone would be so nice as to point me at some resources for that, I'll see what I can do.

[2020-04-09 19:11] rangerscience commented on #3487
Added! Thanks @c2thorn

[2020-04-09 19:33] chriswacker commented on #5889
After looking more closely, it turns out the problem only occurs when the service account that terraform is using does not have `roles/iam.serviceAccountUser` on the default service account: `myproject@appspot.gserviceaccount.com`, even when that shouldn't be required.

Steps to reproduce:

1. Create service account 'function-agent' to be the service account assigned to the function.
2. Create ser

[2020-04-09 19:34] edwardmedia commented on #3007
@drigz it seems to be fine with me for creating `google_cloudiot_registry`. I am using provider v3.16.0. Based on what I can see, I am closing this issue. Please feel free if you discover this is still an issue. Thank you

[code]

[2020-04-09 19:34] #3007 closed

[2020-04-09 19:52] jdziat opened #6087 "Terraform V11.14 Google-Provider v2.20.3"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-09 20:02] edwardmedia commented on #2863
@bantonj yes, I was using the data source of the subnet for the config and the resources were created successfully. Below is the HCL I was using to test. Based on the result I got, I am closing the issue. Please feel free to reopen it if this is still an issue with you. Thanks
[code]

[2020-04-09 20:02] #2863 closed

[2020-04-09 20:35] danawillow commented on #6021
@emilymye any idea whether there's anything that can be done here? You know more than I do about this type of error.

In the meantime, @toshitanian, keep us posted on whether this seems to happen often or just during certain times. Normally, quota errors show up as successful requests but with an error code (rather than this, where the request doesn't seem to have actually made it to a GCP backend

[2020-04-09 20:46] c2thorn commented on #6086
Hi @rangerscience thanks for creating this, and for your interest in contributing! The Magic Modules repo [README](https://github.com/GoogleCloudPlatform/magic-modules) is definitely the best place to get you started. It has a link to a codelab that will give you an overview of Magic Modules and how to create resources.

Looking over Dialogflow Fulfillments specifically, it seems that this would b

[2020-04-09 21:10] jclarksnps commented on #3820
@kenmazaika that's what we did, we remove the state and we actually use gcloud to tear the instance down.

[2020-04-09 21:49] edwardmedia commented on #2861
Using above code, I can repro the issue. my provider is v3.16.0

[2020-04-09 22:00] mleonhard commented on #2973
Thanks for adding the [`google_firebase_project`](https://www.terraform.io/docs/providers/google/r/firebase_project.html) resource.

How about also adding more resources?
- `google_firebase_ios_app` resource
   - `google_firebase_project_id`
   - `bundle_id`
   - `app_store_id`
   - `team_id`
   - `apns_auth_key`
   - `google_service_info_plist` attribute
- `google_firebase_android_app` resource

[2020-04-09 22:14] edwardmedia commented on #2570
I received the error too when I tried to update the `secondary_ip_range`.  My provider v3.16.0

[code]

[2020-04-10 03:23] mbeken commented on #2686
Hi - just curious, is there an expected release for 3.17.0?
Thanks

[2020-04-10 14:34] #5506 closed

[2020-04-10 16:21] danawillow commented on #2686
Monday!

[2020-04-10 16:36] mbeken commented on #2686
That is awesome! I could have guessed that based on your history of releasing weekly! Big impediment removed! Thank you.

[2020-04-10 17:03] megan07 commented on #3322
This is a great question.  From what I see, and the tests I've run against the service account API, I can only get any service accounts that are listed in `Service Accounts` in the console.  However, the `default cloudbuild service account` is Google-Managed and is not listed there (https://cloud.google.com/iam/docs/service-accounts#google_apis_service_account), thus when I tried to `GET` it with

[2020-04-10 17:03] #3322 closed

[2020-04-10 17:14] upodroid opened #6089 "Updating to google_project_iam_custom_role docs to include id field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-10 17:16] chrisst commented on #2973
@mleonhard We can add more resources but can you file them as new issues please? This allows us to prioritize our work based on the need per resource by letting the community weigh in with 👍's. Feel free to link back to this issue for discoverability.

[2020-04-10 17:53] edwardmedia commented on #5889
@chriswacker It looks like the account the Terraform uses must have the `iam.serviceAccounts.actAs`. It is by design. The error you received is from API and there is nothing to do with Terraform provider. Below is what the `cloud function` doc says https://cloud.google.com/functions/docs/securing/function-identity#permissions_required_to_use_non-default_identities. Please let me know if this makes

[2020-04-10 18:12] danawillow commented on #5629
@c2thorn can you add more details about what this entails?

[2020-04-10 18:12] danawillow commented on #3957
@emilymye what work (if any) is remaining for this?

[2020-04-10 18:14] #6084 closed

[2020-04-10 18:16] danawillow commented on #5609
@emilymye any ideas on the best way to go about doing this? It seems like a lot of work to find out which APIs use which error codes for which things.

[2020-04-10 18:18] danawillow commented on #5453
Are there any resources you have in mind at the moment that could use batching? Handwritten IAM resources? Anything else?

[2020-04-10 18:35] danawillow opened #6091 "Document nested objects immediately below the fields they correspond to"
Right now we usually say "structure is documented below", requiring the user to find the correct place later in the page to get the list of nested fields. Instead of that, we should just put them immediately below the parent field.

[2020-04-10 18:37] c2thorn commented on #5629
The sweeper template naively uses `name` to construct the delete URL. A minority of the generated resources use `id` in the delete URL, so the template needs to be updated to capture those cases correctly.

[2020-04-10 18:58] edwardmedia commented on #4125
@eddytrex @fstutz-pp  I am able to repro the issue with the provider **v2.11.0**, but not with **v3.16.0**. Looks like this issue has been **fixed**. Could you please upgrade your provider to see if that helps? I am closing this issue based on the testing result. Please feel free to reopen it if you still see the issue with new versions of the provider.  Thanks

[2020-04-10 18:58] #4125 closed

[2020-04-10 19:01] chriswacker commented on #5889
@edwardmedia the documentation you linked states:

In order to deploy a function with a non-default service account, the deployer must have the iam.serviceAccounts.actAs permission **on the service account being deployed.**

In my case, **the service account being deployed** is `function-agent` which `terraform-agent` _does_ have the `iam.serviceAccounts.actAs` permission for. This is why I was ab

[2020-04-10 19:07] Arconapalus commented on #5733
I followed from the GCP/Slack channel to here. I have a similar error. I have Terraform config file to provision a new project with gcp services. I have Terraform admin service account at an Org. level role Billing Account User and Project Creator. At project level I have custom roles, owner, and storage admin.

When I have TerraForm apply, I get this error
Error: failed pre-requisites: missing pe

[2020-04-10 19:44] danawillow opened #6092 "Generate enum values into docs"
Copy of https://github.com/GoogleCloudPlatform/magic-modules/issues/2222

[2020-04-10 20:00] megan07 commented on #4146
Hi @kardiff!

I’ve been looking into this some, and after some trial, error and discussion, I think it might be working as intended in `0.12`.  This is significantly different than in `0.11`, as terraform `0.12` now marks the resource as `tainted` after the error, but still stores the rest of the values in state. Being `tainted`, you can check the resource in the console, and if it appears to be v

[2020-04-10 20:03] venkykuberan commented on #6087
Initialize_params are the parameters of a disk on creation, they’re a shorthand for actually creating a disk resource. So the only way to change the params a disk was created with is to actually recreate it (and therefore the instance).

I tried the API and Cloud Console they didn't allow boot disk size property. Please let me know if it helps ..

[2020-04-10 20:33] taylorludwig opened #6093 "Add IAM conditions support for folder iam member"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-10 21:20] hashibot[bot] opened #6094 "Crash While Doing Basic Terraform Tutorial"
_This issue was originally opened by @dkeirouz as hashicorp/terraform#24636. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

https://gist.github.com/dkeir

[2020-04-10 21:49] danawillow commented on #5520
Reopening to try to get resources in the traditional iam formats as well

[2020-04-10 21:58] edwardmedia commented on #2518
@edward2a @Matthew-Wroblewski Is this still an issue with you? I am not able to repro it with provider **v3.16.0**. Below is the `plan` and the `apply` result. I am closing this issue based on the result. Please feel free if you still see this is an issue. Thanks

[code]

[2020-04-10 21:58] #2518 closed

[2020-04-10 22:35] #5637 closed

[2020-04-10 23:27] weeco opened #6096 "google_cloud_run_domain_mapping exports no attributes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-10 23:35] venkykuberan commented on #6094
Its pretty standard config, i am not able to repro the crash. I am able to add and remove labels. Since you are playing with the tutorial can you try clean up your old state file and try creating an instance and then add the labels (as a change in config) ?
please let me know how it goes ..

[2020-04-10 23:38] weeco commented on #4143
@edwardmedia At the time these posts had been created the used provider versions were up to date. I do still have this issue.

What further information can I provide?

[2020-04-11 01:37] eugene-chernyshenko opened #6097 "Add option to add taints to google_container_node_pool"
There is an option to taint all nodes in the cluster

https://www.terraform.io/docs/providers/google/r/container_cluster.html#taint

But there is no clear way to set taints to the node pool

There are too many cases when you need to taint some set of separate nodes, then allow scheduling specific pods tolerated those taints
(looks like a node pool is a good way to do it)

[2020-04-11 11:14] charleskorn opened #6098 "google_container_registry doesn't support import"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-12 09:51] charleskorn opened #6099 "google_cloud_run_service doesn't show details when definition is invalid"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-12 11:38] venkykuberan commented on #5851
As we agreed in this case the upstream API have to send the appropriate error message and provider have limited role i am closing this issue. Please reopen if you feel otherwise.

[2020-04-12 11:38] #5851 closed

[2020-04-12 11:50] venkykuberan commented on #6099
@charleskorn I have noticed cloudrun API isn't sending detail description of the error in the message attribute for other failures too. We will append the fieldViolations description in the provider returned error message.

[2020-04-12 12:00] minac opened #6100 "google_iap_brand does not work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-12 13:01] venkykuberan commented on #6096
@weeco `rrdata` is an array type. Use the following syntax and let me know if it helps

sample :
rrdatas = `[google_cloud_run_domain_mapping.this.status[0].resource_records[0].rrdata] `

[2020-04-12 14:10] weeco commented on #6096
@venkykuberan Yes that fixed it, thanks for the help and sorry for submitting this issue.

The JetBrains IDEs wrongly highlight it as invalid but `terraform validate` and other commands work fine.

![image](https://user-images.githubusercontent.com/23424570/79070758-2001f200-7cd8-11ea-9402-3a4828e0b43a.png)

[2020-04-12 14:10] #6096 closed

[2020-04-13 03:33] y0ssar1an opened #6101 "Enabling the Cloud Resource Manager API requires the Cloud Resource Manager API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-13 10:31] #4828 closed

[2020-04-13 15:40] venkykuberan commented on #6101
@y0ssar1an the service needs to be registered for your project before we enable/disable it by calling its API methods.  Please enable them on the Cloud console (one time activity) first.

similar stack overflow issue
 https://stackoverflow.com/questions/44411141/access-not-configured-1-api

Hope this helps, if so please close the issue.

[2020-04-13 16:48] edwardmedia commented on #6098
@charleskorn as the `Error` indicates, this resource doesn't support **import**.

[2020-04-13 16:48] #6098 closed

[2020-04-13 16:51] edwardmedia opened #6102 "add explicit notes to resources w/o import support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-13 16:57] danawillow commented on #4276
Worked with the IAM team internally to get this resolved on the API side, which means the fix should now work in all versions of the provider 🎉

Give it a try! Closing this out now that it seems to be fixed.

[2020-04-13 16:57] #4276 closed

[2020-04-13 17:15] chrisst opened #6103 "Improve the exactly_one_of feature in magic modules"
The `exactly_one_of` field is often added to fields where it doesn't make sense. This is usually top level fields instead of the terminal nested fields where it needs to be. This results in generated code that has `ExactlyOneOf: []string{},` instead of the correct restrictions. Magic Modules should be changed to throw a error during generation if the `exactly_one_of` field is going to generate inv

[2020-04-13 17:37] Arconapalus commented on #5733
I have testing this will be variations, At organization level projects creator and billing account user needs to be assigned to custom service account. I'm in the process of cloud build provisions tf config files. However, cloudbuild doesn't allow permissions to be granted at project level for project creator. Cloud build doesn't allow using external service account either.

[2020-04-13 18:04] emilymye commented on #3957
This was just open to see if we ran into more network errors - since we pretty much don't get them now unless there's a big outage, I'm going to close

[2020-04-13 18:04] #3957 closed

[2020-04-13 18:12] danawillow commented on #6068
Closing in favor of the bug.

[2020-04-13 18:12] #6068 closed

[2020-04-13 18:13] pierrefevrier opened #6104 "Can't specify support_email with google_iap_brand resource"
Hi,

I'm trying to use the `google_iap_brand` but always got the following error: `Error: Error creating Brand: googleapi: Error 400: Support email is not allowed: fake@my-domain.com`.

I'm executing Terraform with a gcp project specific service account.

I tried several email address and groups but nothing works.
I'm asking my-self whether the only way to make it works is to run Terraform with th

[2020-04-13 18:16] danawillow commented on #6074
Labeling documentation since we think this is already doable, but we could be more explicit with how.

[2020-04-13 18:33] edwardmedia commented on #6097
@eugene-chernyshenko currently the provider does not support it. Would you please file an enhancement instead (using below link) so the team can priorize it into the backlog. Thank you
https://github.com/terraform-providers/terraform-provider-google/issues/new?template=enhancement.md

[2020-04-13 18:33] #6097 closed

[2020-04-13 18:52] xiaobaitusi opened #6105 "Some resource schemas lack field descriptions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-13 19:39] bw-josepavonalvarez opened #6106 "Composer environment fields are missing, one is required to create private environments"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-13 20:13] danawillow commented on #6056
https://github.com/terraform-providers/terraform-provider-google/labels/fixit

Will be the first week of Sprint 11, and take precedence over all sprint work the first week. If there's carryover to the second week, non-fixit work will take precedence over fixit work.

[2020-04-13 20:13] #6056 closed

[2020-04-13 20:15] #6054 closed

[2020-04-13 20:15] #6055 closed

[2020-04-13 20:16] venkykuberan commented on #5920
@Crizstian are you still needing help on this issue ?

[2020-04-13 20:34] rileykarson commented on #6099
Filed a bug against the team upstream to return the useful error message in the message that we parse. We don't have a precendent for parsing details in the provider- they're generally (externally) undocumented formats that we're hesitant to hook in to.

b/153896811 for my / other team members' preferences.

[2020-04-13 21:41] rileykarson commented on #3008
This is an issue in upstream Terraform, unfortunately. It decides the order that changes like this are made to resources and we can't do anything about it in the provider (which operates on a single-resource-at-a-time basis).

I don't know any canonical issue for this problem. If it remains a problem, I'd suggest filing a new one (and link back here!).

[2020-04-13 21:41] #3008 closed

[2020-04-13 22:28] achew22 opened #6109 "Can't specify machine type in `cloudbuild_trigger`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-13 22:35] epall opened #6110 "Terraform import of google_container_node_pool in state RUNNING_WITH_ERROR still doesn't work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-13 23:01] edwardmedia commented on #5889
@chriswacker I can repro it now. We will take a closer look. Thank you for filing this issue.

[2020-04-13 23:09] george-harness commented on #5124
If the JSON approach, what will be my options to impact the JSON content based on variables, etc. Would I need to build the whole JSON with string operations?

[2020-04-13 23:10] Arconapalus commented on #5733
I did a final test. I was creating automation for the TerraForm provisioning GCP project and services. I found upon my research that for now, we will need to have a cloud build default service account (at org_level) that must have billing account user and project creator for cloud build to execute TerraForm config file to provision GCP projects from Terraform admin project. Thus, you could supplem

[2020-04-13 23:14] danawillow commented on #5124
You should be able to do it with `templatefile` and/or `jsonencode`: https://www.terraform.io/docs/configuration/functions/templatefile.html

[2020-04-13 23:15] #6089 closed

[2020-04-13 23:17] venkykuberan commented on #6104
@pierrefevrier can you try your google group email (of your org) for support_email attrubute and see if the error goes away.

[2020-04-13 23:24] george-harness commented on #5124
then, please do whatever is faster, I really hate that I have to write shell scripts for this

[2020-04-14 01:46] awolde opened #6112 "Regional Health Check"
Seems there is no way of creating regional health check here - https://www.terraform.io/docs/providers/google/r/compute_health_check.html

GCP support is already there and it looks like its GA - https://cloud.google.com/sdk/gcloud/reference/compute/health-checks/create/http

[2020-04-14 06:38] ChethanUK opened #6113 "Private IP Cloud Composer options missing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-14 06:55] bw-josepavonalvarez commented on #6113
You can define the GKE cluster master private IP range with the current terraform resource.

Look at the resource documentation: https://registry.terraform.io/providers/hashicorp/google/3.16.0/docs/resources/composer_environment#master_ipv4_cidr_block

On the other hand, this is a duplicate of #6106

[2020-04-14 07:39] aaleksandrov commented on #4143
@edwardmedia Same issue in 3.16
[code]

[2020-04-14 07:39] ChethanUK commented on #6113
Ya this was there: `master_ipv4_cidr_block`

But What about CloudSQL and Webapp?

[2020-04-14 07:49] charleskorn commented on #6098
@edwardmedia is there a reason why it doesn't support import? Happy to submit a PR to add it if necessary.

[2020-04-14 09:39] tchiotludo commented on #5121
Same here, but I've this error during a simple plan after the upgrade from 2.8 to 3.17.
[code]

After looking my state file, I notice that :
[code]

I remove `app_engine`, `policy_data` & `policy_etag` attribute from my state file and the plan works well.

[2020-04-14 09:42] wvanderdeijl commented on #6052
I tried to chip in and have created PR GoogleCloudPlatform/magic-modules#3373

[2020-04-14 10:38] y0ssar1an commented on #6101
Yes, that's the project I've been using for `terraform` practice.

I think the fact that you can't use `google_project_service` to enable the Cloud Resource Manager API should at least be documented.

[2020-04-14 14:22] ilya-korotya opened #6114 "Error 400: The request has errors, badRequest"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-14 16:09] venkykuberan commented on #6114
@ilya-korotya changing your runtime attribute value to `go111` should work. Please close the issue if it works.

[2020-04-14 16:48] rileykarson commented on #6110
Ah, looks like a check survived those changes before that shouldn't have- I was certain I'd removed that one. I sent out a PR fixing it. It'll be available in next monday's release if it gets merged today, and the week after if it doesn't.

[2020-04-14 16:48] rileykarson commented on #6110
Ah, looks like a check survived those changes before that shouldn't have- I was certain I'd removed that one. I sent out a PR fixing it. It'll be available in next monday's release if it gets merged today, and the week after if it doesn't.

[2020-04-14 17:09] venkykuberan commented on #6101
I can enable the Cloud Resource Manager API through `google_project_service` without any issues. However i get that error when the terraform service account was created on a project  and tries to enable a service on a different project. In that case API have to be enabled on the main project first (either though API or manual) where the service account belongs to before you use that account on oth

[2020-04-14 17:11] boostrack commented on #6074
How? @danawillow

[2020-04-14 17:46] #6110 closed

[2020-04-14 17:53] slevenick commented on #6100
Hey @minac

Can you include debug logs for the run where terraform fails to create the brand when the project does not have a brand already?

The debug logs that you included are from a run where the brand already exists, and this fails in an expected way. When a specific resource already exists but terraform does not know about it, terraform will attempt to create it, which causes the 409 conflic

[2020-04-14 18:04] edwardmedia commented on #6109
@achew22 `machineType` is part of `build` while `cloudbuild_trigger` creates `trigger`. They represent different things. We don't have the resource for `build` yet. Can you explan why you need to specify `machineType`? If you see a business need, could you please file an `enhancement` instead using below template link?

[2020-04-14 18:33] edwardmedia commented on #4143
I see it now. With steps 'tf apply` --> update schema --> `tf apply` ---> 'tf plan`. I see below schema section in the plan.

[code]

[2020-04-14 18:54] slevenick commented on #6104
Hey @pierrefevrier

Wanted to chime in with some extra information on the `support_email` field.

You are onto something: https://cloud.google.com/iap/docs/programmatic-oauth-clients the `support_email` field has restrictions as follows:

```The support email displayed on the OAuth consent screen. This email address can either be a user's address or a Google Groups alias. While service accounts al

[2020-04-14 19:25] rileykarson commented on #5889
Terraform is sending a correct request to the API, it's getting misinterpreted upstream. I filed a bug against Cloud Functions, I'll update this issue when I get a response. In the meantime, I'm marking it `upstream` and unassigning myself to mark that there's no action to be taken.

Internal Reference: b/154019086

[2020-04-14 19:56] marcusjwhelan opened #6116 "Cluster creation Error: rpc error: code = Unavailable desc = transport is closing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-14 20:39] Reifier opened #6117 "Add attributes for gcs backend to specify an existing bucket in another project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-14 21:06] achew22 commented on #6109
@edwardmedia, please forgive my ignorance if I've messed something up here. It looks to me as if [`build`](https://www.terraform.io/docs/providers/google/r/cloudbuild_trigger.html#build) is a property of `cloudbuild_trigger`. I even have code in my terraform to the effect of:

[code]

WRT your comment:

Maybe the breakdown is in my nomenclature. I guess it's not a resource, but maybe it's called a

[2020-04-14 21:19] #6114 closed

[2020-04-14 21:28] ctavan commented on #6081
@danawillow is this something that modular-magician will be able to take care of?

If not I could take a closer look and work on this since I really want to make use of this new feature (I've literally been waiting for this [for years](https://issuetracker.google.com/issues/35904733#comment28)).

[2020-04-14 22:28] minac commented on #6100
Hey Sam. I no longer have the debug session and logs, I’m afraid. The
listing of operations showed the creation of all the other objects (like a
GKE cluster), but not the brand. Then when I try to run again it says that
the brand has already been created.

The import fails as well. The docs mention a {{ name }} to import, but one
must use the full project path. And then it fails to import in the s

[2020-04-14 22:33] pierrefevrier commented on #6104
Thank you @venkykuberan  and @slevenick.
By adding the service account as owner of the Cloud Identity group I want to use the email address to use as `support_email`, it works !

[2020-04-14 22:33] #6104 closed

[2020-04-14 22:35] danawillow commented on #6081
Since url_map is a generated resource, the feature addition would have to happen inside of MM, but nothing there actually happens automatically- it's just a different way to describe the API schema for a resource and remove some of the boilerplate that happens when adding features. So if you'd like, you're absolutely welcome to work on this- there's a README/codelab at https://github.com/GoogleClo

[2020-04-14 22:44] venkykuberan commented on #6116
@marcusjwhelan  upgrade your beta provider to `2.19 or later` as API response had changed. We recommend to upgrade your providers close to latest major version if not the latest version to get latest bug fixes and new features.

Please let me know if it worked for you.

[2020-04-14 22:45] slevenick commented on #6100
Hmm, I'm able to import a brand. I'd note that the format of {{name}} is documented here: https://www.terraform.io/docs/providers/google/r/iap_brand.html#name

So the import command would look something like:
`terraform import google_iap_brand.brand projects/{project}/brands/{project_number}`

I would note that running terraform destroy causes terraform to think it destroyed the iap_brand, but it

[2020-04-14 22:55] edwardmedia commented on #6109
@achew22  `A build resource in the Cloud Build API.` is from https://cloud.google.com/cloud-build/docs/api/reference/rest/v1/projects.builds. (vs. https://cloud.google.com/cloud-build/docs/api/reference/rest/v1/projects.triggers)  I think there is no implementation on the first resource yet.

[2020-04-14 22:55] marcusjwhelan commented on #6116
Awesome I just got it updated. and it worked. I don't know where to find a list of current google-beta releases. I chose 3.17 and it updated and worked. Could you please tell me where I can find a list of google-beta release versions. I have checked all over. Links just point me to the google releases.

[2020-04-14 23:37] venkykuberan commented on #6116
https://github.com/terraform-providers/terraform-provider-google-beta/releases
https://github.com/terraform-providers/terraform-provider-google/releases

Glad it worked for you. I will go head and close this issue

[2020-04-14 23:37] #6116 closed

[2020-04-14 23:38] achew22 commented on #6109
In the link for [project.triggers](https://cloud.google.com/cloud-build/docs/api/reference/rest/v1/projects.triggers), in the JSON section it has the following inside of a section titled `Resource: BuildTrigger`:

[code]

I believe the `build` object is a `projects.builds` embedded inside of a trigger. Can you provide me an alternative understanding of that part of the documentation?

In the Golan

[2020-04-14 23:50] achew22 commented on #6109
I've also adapted this issue to be based on the enhancement template and filled in the sections with an example usage.

Thanks again for taking the time to help me out with this!

[2020-04-15 01:14] hyww opened #6119 "Don't store SSL private_key in the tfstate file"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-15 01:17] hyww commented on #6119
fix proposal: https://github.com/GoogleCloudPlatform/magic-modules/pull/3376

it will be a breaking change as https://github.com/terraform-providers/terraform-provider-google/pull/2976 should have been.

[2020-04-15 06:22] sleterrier opened #6120 "Add customrolessupportlevel filtered attribute to d/google_iam_role"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-15 07:42] y0ssar1an commented on #6101
I made a fresh GCP project, created one service account with the Project Owner role (full permissions), and created a terraform file with one `google_project_service` resource.

[code]
I set `GOOGLE_ACCOUNT_CREDENTIALS` to the service account key on my machine. Then I ran `terraform init` and `terraform apply` and got the same error.
[code]
This is for enabling the Cloud Resource Manger API in pro

[2020-04-15 10:28] syedrakib opened #6121 "google_sql_database_instance.settings.backup_configuration.binary_log_enabled is not changing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-15 10:37] sergei-ivanov commented on #3008
One option might be to annotate `notification_channels` with `ForceNew`, so that whenever the list of channels changes, the whole `google_monitoring_alert_policy` is recreated.

A more generic issue on the Terraform side is probably this one:
https://github.com/hashicorp/terraform/issues/8099

[2020-04-15 12:49] syedrakib commented on #6066
Any development with this?

[2020-04-15 14:08] jdziat commented on #6087
We use this without incident across many different instances. We can also increase this size without issue from api/ui. We shouldn't need to recreate an entire instance simply because we need to increase disk size.

[2020-04-15 14:12] syedrakib commented on #6121
When i tried changing **"Enable point-in-time recovery"** (of CloudSQL MySQL) from `true` to `false` using **the GCP console**, it showed a confirmation pop-up that CloudSQL requires a restart for the changes to take effect. I don't think we are invoking that restart when we are change `settings.backup_configuration.binary_log_enabled` from `true` to `false` via Terraform - the "modification" stat

[2020-04-15 14:12] syedrakib commented on #6121
When we change `settings.backup_configuration.binary_log_enabled` from `true` to `false` using **Terraform** and then we do `terraform refresh -target=resource`, the state of this resource is not actually refreshed - the refreshed value for `settings.backup_configuration.binary_log_enabled` still stays at `true`

[2020-04-15 14:22] venkykuberan commented on #6087
You can make changes to additional disks (increase its size) without recreating the instance, however you can't do that on boot disk. Boot_disk is for specific instance can't be shared, looks like what you are looking for is additional disk.

[code]

[2020-04-15 14:25] megan07 commented on #6066
Hi @syedrakib!  Sorry for the delayed response, we are looking into it.  The problem is that the API responds with a `409` error, which means two different things for this endpoint, either "the sql instance is undergoing another change and when it's finished we will retry the request" _or_ "a sql instance with the same name has been deleted and the name cannot be reused for a week".
When the issue

[2020-04-15 15:10] yannlambret commented on #6081
It also looks like we're now able to define the redirect in the default host rule of an URL map, without defining a default backend service. So I think that the ```default_service``` attribute of the ```google_compute_url_map``` should be optional, to reflect this behavior.

![url_map](https://user-images.githubusercontent.com/3092811/79353848-e8937f80-7f3b-11ea-9271-b66873d11ce5.png)

[2020-04-15 15:13] syedrakib commented on #6066
Thanks for the update. Closely following this :)

[2020-04-15 15:49] loozhengyuan opened #6122 "Add info that advanced sink options requires unique writer identity in documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-15 16:09] wilhelmi commented on #6074
Would like to be able to create credentials of type IOS rather than the Web Application type that gets created from the resources referenced in #1287

[2020-04-15 16:28] #2861 closed

[2020-04-15 16:50] rileykarson commented on #3008
Yep, this statement from that issue describes the problem we're encountering:

That's based on this config:

[code]

We're seeing a similar behaviour here, where Terraform wants to modify the notification channel before the alert policy even though it needs to do it in the opposite order. `ForceNew` wouldn't help I don't think, because it would still try to process the notification channel first (

[2020-04-15 17:48] Backstreets commented on #6074
Just to add: we would like to be able to create OAUTH2 Client Ids (Web applications), as mentioned by MPV,  for the Oauth screen (brand) that's **already** created via Console in a GCP Project.
Thanks!

[2020-04-15 17:54] ctavan commented on #6081
The `default_service` is already optional: https://www.terraform.io/docs/providers/google/r/compute_url_map.html#default_service

[2020-04-15 18:01] venkykuberan commented on #6121
@syedrakib if backup_configuration block is `enabled` then API sets the binary_log_enabled to `true` although you set it to false in your config. Terraform updates the state file based on the response from API. If you want binary_log_enabled to be false don't use that block in your config API sets it to false.

doc -  https://www.terraform.io/docs/providers/google/r/sql_database_instance.html

bin

[2020-04-15 18:05] ctavan commented on #6081
@danawillow I've opened the PR over at GoogleCloudPlatform/magic-modules#3379

I tested it on a fresh Google Cloud project with the following manifest (also committed as an example in the PR) and it does what I expect:

[code]

[code]

[2020-04-15 18:07] edwardmedia commented on #6109
@achew22 Actually this is already in the backlog. Therefore I am closing this issue. Thank you for using `terraform-provider-google`
https://github.com/terraform-providers/terraform-provider-google/issues/6040

[2020-04-15 18:07] #6109 closed

[2020-04-15 20:11] edwardmedia commented on #3938
@YoSmudge @mackoftrack @mercuriete this behavior seems to be by desgin. Here is what from cloudsql doc: **You can't set a maintenance window directly on a failover instance, because it shares the maintenance window of the primary instance.**
https://cloud.google.com/sql/docs/mysql/maintenance#how_does_maintenance_affect_read_replicas_and_failover_instances
Please take a look, and let me know if th

[2020-04-15 20:11] Chupaka commented on #6074
@Backstreets

Can't you just import oauth screen to Terraform?

[2020-04-15 20:26] Backstreets commented on #6074
@Chupaka, what I meant is that we (in our case) dont need to create the Oauth screen from terraform, as it is already created in GCP.  What we need is the ability to create OAuth2 clients (web applications)  with Terraform, that can be related to that Oauth screen.
Thanks!

[2020-04-15 20:31] venkykuberan commented on #6077
I am closing this as provider upgrade would fix it. Please reopen if you still face the issue

[2020-04-15 20:31] #6077 closed

[2020-04-15 20:34] venkykuberan commented on #5067
@bigbitbus are you still needing help on this issue, if not can you close this one ?

[2020-04-15 20:42] rileykarson commented on #4143
This ends up being fairly complicated to solve. We opted to make the `schema` field a JSON string instead of a typed object because it's a complicated nested schema, and Terraform would struggle to understand it- it doesn't support nested resources, primarily.

The API presents the fields in the schema as a [JSON array](https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#TableSchema),

[2020-04-15 20:52] megan07 commented on #6059
Hi @raddaoui!  I'm sorry you ran into this. It's very interesting. By looking at the code, I can understand how we might potentially run into that error, but with the understanding of the API (even with the response in the debug logs you've provided), I'm having a hard time figuring out what actually went wrong here.
There is a method that takes `resourcePolicies` from the API response and basical

[2020-04-15 21:53] venkykuberan commented on #6101
I see some issues in `3.16.0`, can you upgrade your provider to 3.17.0 from 3.16.0 and run the config.  I see its working in 3.17.0 and 3.5.0, somewhere between a change introduced causing this error.

[2020-04-15 22:22] venkykuberan commented on #5295
@jsoref if you aren't looking for help on this issue, shall i go head and close this one ?

[2020-04-15 22:25] venkykuberan commented on #5482
@moos3 the above command would help to import the sql_database_instance resource. I am closing this issue, if you need any other help please open an new issue

[2020-04-15 22:25] #5482 closed

[2020-04-15 22:27] venkykuberan commented on #5344
@HebertCL Can you please close this issue if you don't help on this issue any more

[2020-04-15 22:30] venkykuberan commented on #3385
@yellowmegaman do you still want to keep the issue open ? or shall i close if you aren't looking anything from us here?

[2020-04-15 22:31] syedrakib commented on #6121
I don't quite understand what is meant by "API sets the `binary_log_enabled` to true although you set it to false". I mean, defeats the purpose of having a `binary_log_enabled` argument then?

:/

According to the referred doc, if `settings.backup_configuration.enabled` is `false` then this `settings.backup_configuration. binary_log_enabled ` must also be false.

Here is what i have in my backup_c

[2020-04-15 22:33] syedrakib commented on #6121
According to the referred doc, if `settings.backup_configuration.enabled` is `false` then this `settings.backup_configuration. binary_log_enabled ` must also be false.

Here is what i have in my backup_configuration:

    backup_configuration = {
      enabled            = false
      binary_log_enabled = false
      start_time         = "00:05"
    }

That complies with the doc, right? The expect

[2020-04-15 22:36] venkykuberan commented on #4250
I am closing this issue as the needed information provided above.

[2020-04-15 22:36] #4250 closed

[2020-04-15 23:49] venkykuberan commented on #6121
When backup is disabled, binary_log should also be disabled, API accepts it.  If backup is disabled and binary_log is enable API throws

```Error: Error, failed to create instance test-sql6: googleapi: Error 400: Invalid request: Binary log must be disabled when backup is disabled.., invalid ```

 The following state is invalid, i am not sure how apply command worked for you.
``
"backup_configurat

[2020-04-16 00:45] jsoref commented on #5295
@venkykuberan: sorry. I thought it was plainly obvious. There's no reason that terraform should take the `node` case which doesn't hard-code `scsi` and hard-code `scsi` into the template. Google will on the other side do that.

I'm not sure how else to explain it. Just because Google's backend does something by default doesn't mean your frontend should perform that coercion up front. Let the backe

[2020-04-16 01:11] jacobstr commented on #4314
So - I was able to reproduce this by modifying the node locations on an existing `google_container_cluster`.

The output below is fairly butchered from the original output because due to attempts at obscuring some details. I hope I've left the substantiative points intact.

- It looks like the _missing_ `InstanceGroupManager` is showing up in some cluster-level API response within the `nodePools`

[2020-04-16 02:14] jdziat commented on #6087
We use attached disks as well but there are instances when the boot disk needs to grow in size. Having to completely recreate the instance seems excessive when we can increase the disk size.

[2020-04-16 04:25] jmymy commented on #6031
Do we know what release this will make it in? I've done some digging and it was merged into master before the last release was cut but didn't make it into the release.

Confused on how the release process works in this waterfall of automation.

[2020-04-16 04:55] venkykuberan commented on #6087
Would you be able to increase the boot_disk size of an instance in gcloud or cloud console  without stopping the instance ?. If so and terraform provider lacks that feature we can work on a feature request for that.

[2020-04-16 04:57] syedrakib commented on #6121
Hi @venkykuberan . Thanks for the reply. Yes that's exactly the bug i guess how come it worked on the first place.

I am using these provider versions:

[code]

[2020-04-16 08:20] sorenhansendk opened #6126 "Unable to destroy unstable managed instance group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-16 08:28] mercuriete commented on #3938
We didn't se anything.
just import and the terraform provider tries to missuse the API.
I will try to reproduce the error.

[2020-04-16 08:54] karolsochk commented on #4033
@adarobin any plans to progress this ?

[2020-04-16 09:33] imortkz commented on #6074
Just want to add that it would be very helpful to have that for be too.

Ideally, it should allow create OAuth 2.0 client with type `web application`, providing both allowed JS URI's and redirect URI's lists.
I has to do it manually at this moment.

[2020-04-16 11:58] syedrakib commented on #6121
Just now i have manually changed the value of `backup_configuration . binary_log_enabled` from `true -> false` inside the TFState file.

My main.tf file still says `backup_configuration . binary_log_enabled = false`

Then i tried `terraform plan` & `terraform apply` and the value of `backup_configuration . binary_log_enabled` inside the TFState file changed to `true` again.

I check the CloudSQL i

[2020-04-16 12:28] adarobin commented on #4033
@karolsochk I'm still pushing for the CLA

[2020-04-16 12:59] yannlambret commented on #6081
Indeed, but it looks like compute API won't let us do this anyway:
[code]

Maybe it's not possible to create an url map without any backend service at first, but it is possible to edit one after its creation an to remove this reference (as I did through the console actually).

[2020-04-16 13:15] ctavan commented on #6081
@yannlambret oh well, yes: You can't just leave `defaultService` away! But it works well as soon as you specify the `defaultUrlRedirect`!

As the API docs state: If `defaultUrlRedirect` is specified, `defaultService` or `defaultRouteAction` must not be set.

So exactly one of these three parameters must be set.

As mentioned above my example

[code]

works well with the terraform provider built fr

[2020-04-16 13:23] yannlambret commented on #6081
Thanks for this clarification (and for the PR) :)

[2020-04-16 14:15] dawidpogorzelski opened #6127 "google_compute_instance_group not updated when an instance is replaced"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-16 14:20] jdziat commented on #6087
Yes you can increase disk size without stopping the instance or destroying it from the gcp ui/gcloud cli/api

[2020-04-16 14:25] venkykuberan commented on #6121
`Just now i have manually changed the value of backup_configuration . binary_log_enabled from true -> false inside the TFState file. `
  Terraform state file shouldn't edited manually. The flow is

- Change the desired state in config file (.tf)
-  run `terraform plan` => checks syntactical errors and run other internal funcs (No API call is made yet)
- run `terraform apply` => API call is made an

[2020-04-16 14:47] edwardmedia commented on #3938
@mercuriete what do you see `terraform show`? To obtain the debug log, in your terminal, create the environment variable `export TF_LOG=DEBUG` first, and then you can start to run `terraform` commands. Yes, please post full debug logs. Thanks

[2020-04-16 15:36] fallard84 opened #6128 "The `master_authorized_networks_config` block is only returning one `cidr_blocks` when using the google_container_cluster data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-16 17:10] edwardmedia commented on #6128
I can repro this. Below first is from `tf show` followed by its output
[code]
[code]

[2020-04-16 18:46] danawillow commented on #6021
@toshitanian, if this happens again, can you post debug logs (env var TF_LOG=DEBUG)? I just ran into this myself where it started returning that error after retrying on several 503s in a row, and I'm curious whether yours are the same or if it happens on the very first request.

[2020-04-16 19:01] venkykuberan commented on #6127
I see that , Its a teraform core issue

[2020-04-16 19:51] rileykarson commented on #6127
This is an occurence of https://github.com/hashicorp/terraform-plugin-sdk/issues/122, Terraform Core believes that the instance group is unchanged in the (single-pass) plan and doesn't call into the provider to update it. It doesn't understand that removing the underlying instance would modify the instance group as well.

Unfortunately, this is a limitation of Terraform's single-pass plan/apply de

[2020-04-16 19:51] #6127 closed

[2020-04-16 20:24] rileykarson commented on #6128
@edwardmedia: Can you investigate whether importing a `google_container_cluster` resource has the same behaviour? The datasource keys into the same read method, so I'm surprised this isn't an issue in the resource as well.

[2020-04-16 21:23] edwardmedia commented on #6128
@rileykarson below is from the import state
[code]

[2020-04-16 21:39] sammyyu opened #6130 "Rename static IP description without recreation"
### Terraform Version
Terraform v0.12.13
+ provider.google v3.16.0
+ provider.google-beta v3.16.0

### Affected Resource(s)
* google_compute_global_address

### Terraform Configuration Files (if applicable)
resource "google_compute_global_address" "proj-prod-sip-cla2-lb-b0e8-com" {
  project         = "${google_project.proj-production1.project_id}"
  name            = "sip-cla2-lb-b0e8-com"
  addr

[2020-04-16 21:42] sammyyu opened #6131 "Rename k8 cluster description without recreation"
### Terraform Version
Terraform v0.12.13
+ provider.google v3.16.0
+ provider.google-beta v3.16.0

### Affected Resource(s)
* google_container_cluster

### Terraform Configuration Files (if applicable)
resource "google_container_cluster" "prod_central-proxy-cluster-us-east1" {
  name = "central-proxy-cluster-us-east1"
  project = "${google_project.proj-production1.project_id}"
  description = "cen

[2020-04-16 21:50] edwardmedia commented on #6131
Yes I see it. Below is the plan
[code]

[2020-04-16 22:13] edwardmedia commented on #6130
Yes, I see below plan
[code]

[2020-04-16 23:55] y0ssar1an commented on #6101
I can confirm this worked in 3.17.0. I'm not sure what changed, but thanks for the fix 👍

[2020-04-16 23:55] #6101 closed

[2020-04-17 00:05] bharathkkb opened #6132 "Cloud Function deployment is Flaky: Error code 3, message: Failed to retrieve function source code"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-17 00:10] bharathkkb commented on #6132
cc @angelchang

[2020-04-17 00:16] angelchang commented on #6132
Encountering same issue without use of project-factory.
Substitute code in place of project-factory displayed in issue:
[code]

[2020-04-17 01:58] toshitanian commented on #6021
@danawillow yes. when it happens again, i will report more detail logs. Thank you for your help.

[2020-04-17 04:26] luthes commented on #5733
I was having a similar issue, where I couldn't create projects. I was nearly about to give up, and I came across a Terraform module (https://github.com/terraform-google-modules/terraform-google-project-factory) that had slightly different permissions. I removed everything that I had previously added using the above mentioned guide (include the .terraform folder) and added the permissions recommend

[2020-04-17 13:40] PeWu commented on #6106
Composer no longer requires web server network access control in Private IP mode.

[2020-04-17 15:02] spirrello opened #6133 "Enable Non-RFC 1918 Addresses in 100.64.0.0/10"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-17 15:11] megan07 commented on #6031
Hi @jmymy!  Sorry for the confusion, it will be released in the `3.18.0` release. Thanks!

[2020-04-17 15:13] #3868 closed

[2020-04-17 15:38] callppatel opened #6135 "Change Configuration of PubSub subscription which created by Background Cloud Function"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-17 15:39] syedrakib commented on #6121
Ok. Ignore that. That was me just sharing that even when i explicitly change the value in the sate file myself, it reverts back to what it was.

[2020-04-17 15:42] syedrakib commented on #6121
The bottom-line of the problem is.....

in GCP CloudSQL MySQL instance:
* the auto-backup feature is checked off
* the point in time recover featue is checked off
* which implies the binary_log feature is also turned off

Then why is it that the `google_sql_database_instance` resource "refreshing" and setting the value of `settings.backup_configuration.binary_log_enabled` to `true`?

[2020-04-17 15:55] BusiPlay opened #6136 "node_locations not supported in resource google_container_node_pool"
The documentation states that node_locations should be a supported argument for the google_container_node_pool resource.
https://www.terraform.io/docs/providers/google/r/container_node_pool.html#node_locations

It does note that this is in Beta, However even with the google-beta provider running terraform plan results in 👍 Error: Unsupported argument

on gke.tf line 48, in resource "google_contain

[2020-04-17 16:07] morgante commented on #6132
My initial assumption is that object creation might be returning successful before the object is fully propagated.

[2020-04-17 16:12] preston-hf opened #6137 "google_cloudfunctions_function does not detect change from sourceArchiveUrl to sourceUploadUrl"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-17 16:32] angelchang commented on #6132
Console UI shows that object was uploaded in bucket before function attempted to deploy. I also tried adding a sleep on the functions deployment triggered by the object upload.

[2020-04-17 17:51] edwardmedia commented on #6136
@BusiPlay can you post your node pool code?

[2020-04-17 18:18] rileykarson commented on #6130
Unfortunately, this isn't possible. The underlying resource has no update API, so the only way to change this value is to recreate it.

[2020-04-17 18:18] #6130 closed

[2020-04-17 18:19] BusiPlay commented on #6136
[mcld-sand-cp-central-gke.zip](https://github.com/terraform-providers/terraform-provider-google/files/4494596/mcld-sand-cp-central-gke.zip)

[2020-04-17 18:21] rileykarson commented on #6131
This isn't possible in the underlying API. Clusters can only have a subset of their fields updated, shown [here](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/ClusterUpdate). You can file an issue against the API at https://issuetracker.google.com/issues/new?component=187077&template=0.

[2020-04-17 18:21] #6131 closed

[2020-04-17 18:38] edwardmedia commented on #6136
@BusiPlay  what's value for `var.cluster_node_locations `?

[2020-04-17 18:43] SergeSpinoza opened #6140 "Deploying Google Cloud Function by Terraform got "Error 400: The request has errors, badRequest""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-17 18:54] venkykuberan commented on #6126
Your debug log shows the `currentActions.verifying =1`, one of the instances are in verifying state. In order to delete the instance group, currentAction should have state `NONE. No actions are being performed on the instances `

Destroy makes a Get call to check the status before it destroys the IGM.  Its working as expected. Let me know if its helps, i can close the issue.

[2020-04-17 19:05] #5067 closed

[2020-04-17 19:25] venkykuberan commented on #6140
@SergeSpinoza i don't see which resource was failing from your debug log. Can you provide the full debug log to get a better idea?

[2020-04-17 19:29] SergeSpinoza commented on #6140
Hi! @venkykuberan https://pastebin.com/raw/R3RmY6Aj

[2020-04-17 19:29] tomalexander opened #6141 "Document the dnssec_config block on google_dns_managed_zone"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-17 19:40] #6141 closed

[2020-04-17 20:23] pierrefevrier opened #6143 "Can't import certificate with google_compute_ssl_certificate resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-17 22:24] rileykarson commented on #2570
This resource is generated by Magic Modules, and it has a limitation that it expects that each field can be updated with a single update method call. However, the rules imposed by the API mean that it would take 2 or more (addition & removal) to do so.

There isn't anywhere in the MM code generator to add this logic, and the addition would be a substantial change to the templates that I don't beli

[2020-04-18 00:29] jmcarp commented on #4493
I was curious about this feature and looked at generating the resource via `api.yaml`, but the api includes a recursive data type: https://cloud.google.com/bigquery/docs/reference/rest/v2/StandardSqlDataType. I'm not very familiar with the `api.yaml` format--is it possible to represent recursive data types?

[2020-04-18 02:27] venkykuberan commented on #6132
This seems to me an eventually consistency issue, when i separate out the project creation from the rest of the config it works fine all time. Discussing with another developer feels the same. I would recommend separate out the project config or implement some explicit delays on the project creation.  As provider function is limited here, i am closing this issue now. Please reopen if you feel othe

[2020-04-18 03:19] bharathkkb commented on #6132
@venkykuberan Thanks for looking into this! I had a couple of followup questions.

-  We are creating the project, then enabling APIs and uploading. It seems like this should give it enough time to become eventually consistent?

- Is there a specific timeout that you recommend to get consistent applies?

- Is this a limitation on the GCP API part specific to CF because I have other TF configs that

[2020-04-18 05:35] venkykuberan commented on #6140
@SergeSpinoza our internal log shows format errors for labels block, API accepts only lower case values for `labels { key : value}`. I will create an issue for our doc update.

[2020-04-18 05:35] #6140 closed

[2020-04-18 05:49] venkykuberan opened #6144 "cloud_functions should specify that labels should be lower case"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-18 10:32] BusiPlay commented on #6136
cluster_node_locations      = ["us-central1-a","us-central1-b",]

[tf.log](https://github.com/terraform-providers/terraform-provider-google/files/4496458/tf.log)

[2020-04-18 10:37] BusiPlay commented on #6136
I've reread the provider configuration instructions - if I explicitly specify provider="google-beta" in the resource then this works. I did not realize that was a requirement if a resource was supported in both providers.

[2020-04-18 14:52] sorenhansendk commented on #6126
Ok, how can I then delete the instance group when its in the verifying state?

As I see it i cannot delete it with Terraform. But only, if I go to the Google Cloud Console and scale it down to 0 and then deletes the group after that.

[2020-04-18 15:31] edwardmedia commented on #6136
@BusiPlay I am glad it works for you. I am closing the issue now. Feel free to reopen if you see a need to a further discussion. Thanks

[2020-04-18 15:31] #6136 closed

[2020-04-18 17:55] ngodec opened #6145 "Cloud Composer environment fails sometimes with "project: required field is not set""
I've seen this bug reported multiple times for different resources in different versions of the google provider, but it's still present in  2.20.3.

We are trying to deploy Cloud Composer environments in a set of different projects. The setup is identical, and it works most of the time - but sometimes we run into this error:

[code]

Provider versions (not fixed in provider.tf, but this config is

[2020-04-18 19:18] alfredw33 commented on #6106
Hello,

I've been playing with this resource for the last couple of weeks. Ideally if we're building a private cluster could we atleast expose the `master_authorized_networks_config` for it so we can set a bastion host ip or a set of trusted networks we would allow connection to?

RIght now, there will be a manual process to setup a bastion host and then manually go into the console to attach the

[2020-04-18 21:26] ngodec commented on #6145
Update: issue disappears when `project` and `region` are explicitly set in provider config:
[code]

However, since the same deployment, with the same configuration, was working first and then failing, there must be a bug in the provider that's causing it.
All the rest of GCP modules that we have don't specify `project` and `region` in the provider config, and work well.

[2020-04-19 14:08] MeghanaSrinath commented on #5948
@edwardmedia , Sorry for the delay in response. Yes, we are creating a LB in our cluster. So this is our use case-
We create a cluster using above modules and then we create a VM using terraform. Now through this VM, we connect to the cluster. We have written our application logic in the remote_exec part of the VM. So basically the idea here to to connect to the cluster through a VM and remotely e

[2020-04-19 18:45] SergeSpinoza opened #6146 "Create Scheduler Job Pubsub by Terraform got "Error 400: Location must equal europe-west3 because the App Engine app that is associated with this project is located in europe-west3""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-20 06:32] rgolab opened #6147 "Updating a google_compute_managed_ssl_certificate fails if it is used by a google_compute_target_https_proxy"
[issue-type:bug-report]

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the req

[2020-04-20 07:16] rybus opened #6148 "Reboot instance on attached disk changed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-20 10:34] devdinu commented on #5846
For instance, while updating `release_channel`, it forces new cluster creation `google_container_cluster.gcp_kubernetes` , would this solve the issue?

[code]

[2020-04-20 11:33] abgm opened #6149 "Create google_bigtable_table_iam resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-20 11:40] abgm commented on #6149
this feature will address a use case of having multiple apps running with the same Bigtable instance and accessing only particular tables.

[2020-04-20 11:55] syedrakib commented on #6121
Hi... just following up on the issue with this one..... could we identify the bug with this?

[2020-04-20 16:00] venkykuberan commented on #6146
This is API restriction, see https://cloud.google.com/scheduler/docs/#supported_regions.  Let me close this issue as provider can't do much here.

[2020-04-20 16:00] #6146 closed

[2020-04-20 16:03] rileykarson commented on #6057
Closing based on communication out-of-band (on an internal issue) where changes to the `terraform-google-modules/kubernetes-engine/google` fixed this workflow.

[2020-04-20 16:03] #6057 closed

[2020-04-20 16:04] danawillow commented on #5846
Yes, that's what this issue is tracking.

[2020-04-20 16:15] slevenick commented on #5665
I'm actively working on this feature, and I have some questions on how this would be used for anyone who was looking to use stateful instances:

The current way I'm planning on implementing this would be a separate resource for stateful instances within an instance group, similar to the sample config in this issue.

1. Do you expect to manage stateful *and* non-stateful instances with the same ins

[2020-04-20 16:36] danawillow commented on #5947
Currently blocked on internal issue, will resume once that's resolved.

[2020-04-20 16:42] danawillow commented on #5058
`google_monitoring_custom_service` and `google_monitoring_app_engine_service` added in https://github.com/GoogleCloudPlatform/magic-modules/pull/3341
`google_monitoring_slo` added in https://github.com/GoogleCloudPlatform/magic-modules/pull/3363

All 3 will be in v3.18.0, releasing later today.

Keeping this issue open for now as per comment in https://github.com/GoogleCloudPlatform/magic-modules/

[2020-04-20 16:42] rileykarson commented on #6128
I couldn't see anything off- it's very unusual that the datasource doesn't work but the resource does, since they share the same code. Filed an issue upstream against the SDK, I'm blocking this issue on that. https://github.com/hashicorp/terraform-plugin-sdk/issues/395

[2020-04-20 16:45] rileykarson commented on #1558
@edwardmedia: Can you reproduce this with a minimal config and pass it forward to the current bug onduty once you've done so?

[2020-04-20 17:36] edwardmedia commented on #6143
@pierrefevrier Can you post your config for your import? What command did you run?

[2020-04-20 17:36] danawillow commented on #6112
I think you're looking for https://www.terraform.io/docs/providers/google/r/compute_region_health_check.html.

Also next time, please fill out the issue template- thanks!

[2020-04-20 17:36] #6112 closed

[2020-04-20 17:36] danawillow commented on #6113
Closing as duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/6106.

[2020-04-20 17:36] #6113 closed

[2020-04-20 17:39] danawillow commented on #6117
I think @upodroid is right here. In addition, the gcs backend is actually part of the https://github.com/hashicorp/terraform repo, not the provider one. I'm going to go ahead and close this out- if the comments around checking permissions don't work, I'd recommend trying to file an issue there.

[2020-04-20 17:39] #6117 closed

[2020-04-20 17:45] danawillow commented on #6133
@spirrello do you have any pointers to docs that state this is possible in GCP today? https://cloud.google.com/vpc/docs/vpc#manually_created_subnet_ip_ranges and https://cloud.google.com/vpc/docs/using-vpc#subnet-rules both state that the subnet IP address needs to be RFC-1918.

[2020-04-20 17:55] edwardmedia commented on #6145
@ngodec do you have GOOGLE environment variables created on your machine? You may run command `env | grep GOOGLE` in terminal to see. Here is the doc you may want to review. Let me know if this helps address your issue. https://www.terraform.io/docs/providers/google/guides/provider_reference.html

[2020-04-20 18:25] ngodec commented on #6145
Hi @edwardmedia , we have GOOGLE_APPLICATION_CREDENTIALS env var, but that's it.

[2020-04-20 18:26] yinzara commented on #2973
@chrisst I think with our recent merge of "google_firebase_project_location" somehow we messed up the doc generation:
https://www.terraform.io/docs/providers/google/r/firebase_project_location.html

The side menu now only shows "google_firebase_project_location" under the Firebase Resources and does not show "google_firebase_project.

[2020-04-20 18:34] kustodian commented on #5665
We would only plan to use these for DBs, so answers to your questions from our point of view would be:

1. No
2. TBH, I have no idea. My gut tells me that if I have 3 instances of e.g. Mongo that we would want to have the same minimal action configured for all of them, since we would like to be able to update all of them when needed, but I guess being able to configure it per instance could probab

[2020-04-20 18:54] Reifier commented on #6117
No, the 403 is not related to the bucket. Project B is not spun up yet. When I spin it up without specifying any terraform backend everything is ok state is stored locally, project B gets up with setting specified in provider. However, as soon as I add a gcs backend:

[code]

So the project itself specified in provider which does not exist yet, not an existing bucket send me 403.

[2020-04-20 19:14] edwardmedia commented on #6147
I can repro this. Below is the plan in my test.
[code]

[2020-04-20 19:24] #6053 closed

[2020-04-20 19:28] edwardmedia commented on #6145
@ngodec Regarding your comments `since the same deployment, with the same configuration, was working first and then failing`, were they running on same terraform runner? Please provide detail steps so I can repro the issue. Thanks

[2020-04-20 19:39] anubbhavm opened #6151 "Add support for streaming FHIR export"
### Description

Cloud Healthcare API has released a new feature to automatically stream new and updated FHIR resources to a target BigQuery dataset. To enable this feature, StreamConfig settings need to be added to any FHIR store.

### New or Affected Resource(s)

* google_healthcare_fhir_store

### References

* https://cloud.google.com/healthcare/docs/reference/rest/v1beta1/projects.locations.d

[2020-04-20 19:43] anubbhavm opened #6152 "Add support for redesigned Hl7V2NotificationConfig"
### Description
Previously, an HL7v2 store could only publish notifications of changes on a single Cloud Pub/Sub topic. With the new release, you can now configure HL7v2 stores to publish notifications on multiple Pub/Sub topics, and restrict notifications sent to each topic with a filter.

### New or Affected Resource(s)

* google_healthcare_hl7_v2_store

### References

* https://cloud.google.co

[2020-04-20 20:00] ndmckinley commented on #1144
Let me unassign this so that it gets picked up by our triage process next week.  :)

[2020-04-20 20:26] pierrefevrier commented on #6143
Hi @edwardmedia ,

Sorry, output was hidden in my post, I just edited it so you can see what it is telling me and I added more details about the command I launch.
Tell me if these infos are enough for you.

Thanks.

[2020-04-20 20:34] #5632 closed

[2020-04-20 20:39] danawillow commented on #6122
Happy to take a PR for the docs change!

In our triage meeting today, we also discussed that it would be good to have plan-time validation for this field as well. If you want to try to add that, it would be doable via a CustomizeDiff (there are a few good examples in the compute_instance_template resource), otherwise someone on our team will get to it eventually.

[2020-04-20 20:45] danawillow commented on #6135
If you know the name of the subscription, you could [import](https://www.terraform.io/docs/providers/google/r/pubsub_subscription.html#import) it, though that would make it fully managed by Terraform, and cause drift issues if GCP made changes to it behind the scenes.

Otherwise, I'm not sure there's a way for Terraform to know programmatically the name of the subscription that cloud functions cre

[2020-04-20 21:15] chrisst commented on #2973
@yinzara just me being bad at html. https://github.com/GoogleCloudPlatform/magic-modules/pull/3390 will fix. Thanks for catching.

[2020-04-20 21:15] venkykuberan commented on #6137
With request/response i see sourceArchiveUrl has been used.

terraform version

[code]

[code]
If you want to attach your debug log, i will have a look

[2020-04-20 22:15] edwardmedia commented on #5948
@MeghanaSrinath Your above code works fine with me. I am not able to hit your error. You have mentioned other resources in this issue. Can you post code that created these resources? Without other code, I am only on guess. Also please post full apply and destroy debug logs

[2020-04-20 22:25] edwardmedia commented on #6143
@pierrefevrier when I tested the import for your case, I used below code
[code]
And used below command. You need to replace {{name}} with real ssl cert name.
`terraform import google_compute_ssl_certificate.my_domain {{name}}`
Was that similar to what you did?

[2020-04-20 23:50] spirrello commented on #6133
I don't have any documentation to point to but it's possible through the UI.

![image](https://user-images.githubusercontent.com/7174260/79810090-347d6480-8340-11ea-8efe-804218ffab3f.png)

[2020-04-20 23:52] venkykuberan commented on #6126
Yeah, Delete it manually and clean up the terraform state file and start the resource creation again.  s Tearraform doesn't make a destroy call when IMG have instances in some intermediate state. I am closing this issue as provider is working as expected

[2020-04-20 23:52] #6126 closed

[2020-04-21 00:20] kenmazaika commented on #3820
@jclarksnps Thanks for the update!

How do you hook into SQL and drop into the database?  I think that `local-exec` to call terraform commands directly causes lock errors.

Did you just make a separate script to combine the `terraform destroy` and the manual SQL?

Thanks for the reply!  Really appreciate it!

[2020-04-21 00:47] jclarksnps commented on #3820
@kenmazaika we actually use gcloud commands to tear the instance down, prior to that call we use terraform to remove the state for the db and its databases and users.  We basically gave up on terraform doing the teardown.  So in our bash that calls terraform (we use concourse pipelines), we first use gcloud to delete the instance and then we remove all the state, then we go about regular TF activi

[2020-04-21 02:00] edwardmedia commented on #1558
@arvidviderberg It was fine with me using your code. Below is the `DELETE` request / response I got. Did you do anything with the database before run `tf destroy`?

[code]

[2020-04-21 06:43] arvidviderberg commented on #1558
@edwardmedia Yes, you need to add some data to the database. If not, the deletion works fine. I guess an optimal solution would be to have an extra flag to ensure that the user is willing to destroy the database even though it contains data.

[2020-04-21 08:10] olksdr opened #6155 "Backend service resource cannot be used with global network endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-21 11:14] cah-ed-hammond opened #6156 "Add support for BigQuery Column Level Security"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-21 13:48] Lirt commented on #5959
There was a mistake in release 3.18. The release mentioned that this change is in it, but somehow it doesn't contain the commits.

I think mistake happened here https://github.com/terraform-providers/terraform-provider-google/commit/486fd05631067f4cccec90d9b4803a844d5dccee

[2020-04-21 13:55] onetwopunch commented on #6120
I'll take this one. @danawillow feel free to assign me.

[2020-04-21 14:05] venkykuberan commented on #6132
@bharathkkb Yes its a limitation on the GCP side, we observed this pattern between Project API and Storage APIs. We have an active issue https://github.com/terraform-providers/terraform-provider-google/issues/5649 to track that.

[2020-04-21 14:15] bharathkkb commented on #6132
@venkykuberan makes sense. Thank you

[2020-04-21 14:23] mcapts opened #6157 "google_bigquery_dataset mistakenly removes access"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-21 16:36] chrisst commented on #5959
Apologies, I didn't upstream this fix correctly to our code generator and it did get overwritten. I should be able to able to get this in time to get into the 3.19 release.

[2020-04-21 17:09] #5783 closed

[2020-04-21 17:11] venkykuberan commented on #6157
Default roles get added by the API and terraform finds the diff and tries to removes them but fails. Including the lifecycle block should fix that issue.

[code]
I tested your config and it works fine. Let me go head and close the issue

[2020-04-21 17:11] #6157 closed

[2020-04-21 17:12] #5649 closed

[2020-04-21 18:15] chrisst commented on #5733
As is this looks like a problem with getting permissions correct and not necessarily a bug with the provider. Please let me know if I'm missing something.

In terms of getting the permissions set correctly you will need to give the service account that is being used by Terraform permission to modify the billing account in question. The IAM permissions for the billing account are configured in a di

[2020-04-21 18:18] chrisst commented on #5733
If you think the tutorial could be improved you are welcome to open a PR that improves it. The source for the tutorial is at https://github.com/GoogleCloudPlatform/community/tree/master/tutorials/managing-gcp-projects-with-terraform. Or feel free to open up an issue against that repo and see if the author will update.

[2020-04-21 18:18] #5733 closed

[2020-04-21 18:21] edwardmedia commented on #1558
@arvidviderberg That makes sense. The error you caught was from `sql internal operation`. Likely it only happens on `destroy`. I guess that is different from what other users reported.
[code]

[2020-04-21 18:32] ngodec commented on #6145
Yes, they were running on the same machine (Jenkins node) using the same user, with the following commands:
[code]

`ENVIRONMENT_DIR` is composed from a set of parameters that determine our architecture, but it's safe to assume it being `environment/$GCP_PROJCT_ID/`.

I have also run these steps locally on my laptop, and saw both successful runs and errors such as described in the issue.

Hope thi

[2020-04-21 20:15] pierrefevrier commented on #6143
Arf, when I talk about import, I mean Terraform to GCP, not GCP to Terraform (I didn't try to import the certificate via `terraform import` as I want to do the opposite).

[2020-04-21 21:05] #6121 closed

[2020-04-21 21:06] chrisst commented on #6121
Fix will be going out in 3.19.0

[2020-04-21 22:16] edwardmedia commented on #6145
@ngodec can you share the both success and fail terraform debug logs?

[2020-04-21 22:54] venkykuberan commented on #6155
INEG doesn't need health check attribute per [doc](google_compute_global_network_endpoint_group). @chrisst does provider need to make health_checks as optional if the backend service is for INEG ?

[2020-04-22 00:33] venkykuberan commented on #6087
With the current state of the provider code we can't resize the boot_disk(internal) without recreating the instance as we deal with only instance APIs for this resource. We may need to interact with Disk API directly for altering the size (`boot_disk.initialize_params.size` ) which is more of a feature request.  Can you please close this issue and raise an enhancement ticket ?

[2020-04-22 06:55] kirin-13 commented on #6066
Encountered the same problem as you. In the test, the instance name contains a random string, and an error is reported when updating the instance. The instance name does not contain a random string, and the instance configuration can be successfully updated.
I don't know if it will help you solve the problem.

[2020-04-22 08:30] matthias-froomle commented on #5058
Is there any timeline on the support of *requestBased* and *windowsBased* SLO's for custom services in the `google_monitoring_slo` resource?

[2020-04-22 09:33] ngodec commented on #6145
Hi @edwardmedia that would prove difficult, since the error comes and goes arbitrarily

[2020-04-22 10:35] ykodama commented on #5959
Same here.
@chrisst [3.18 release note] should be fixed.

[2020-04-22 12:54] jdziat commented on #6087
I understand that it may require an additional api call but changing the boot disk size should not cause a recreation of the instance. So i don't think this is appropriate for an RFE. Terraform documentation also refers to these initialization options in the default documentation.

[2020-04-22 15:54] edwardmedia commented on #6143
@pierrefevrier Oh I see. The error seems to be clear  what went wrong.`googleapi: Error 400: The SSL certificate and key do not match., sslCertificateKeyAndCertMismatch`.  To verify if your terraform  code works, can you deploy a sample certificate?

[2020-04-22 15:55] #5193 closed

[2020-04-22 16:00] syedrakib commented on #6066
hi @kirin-13 . I am not sure i understand you. What random string are you talking about?

Just to re-iterate, we are facing this issues when i have deleted a CloudSQL instance and then trying to create a new CloudSQL instance with the **"same" name** as the deleted instance's name.

[2020-04-22 16:14] edwardmedia commented on #6145
@ngodec ` since the same deployment, with the same configuration, was working first and then failing,` does it still happen after you updated below providers? The error `project: required field is not set` appears to be clear. I would encourage you to review the doc from above link I gave you and double check your implementation. Without having your full code, it is difficult for me to pinpoint wh

[2020-04-22 16:20] hashibot[bot] opened #6166 "Terraform unable to recognize private service access connection for Redis in Shared VPC"
_This issue was originally opened by @viharikrishna as hashicorp/terraform#24729. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Hi there,

Terraform is not recognizing that private service access connection in the host project part of the shared VPC setup. It is

[2020-04-22 16:52] danawillow commented on #5058
It's being actively worked on now, so I'd expect within the next few weeks (this issue is part of our upcoming sprint- you can see that in the Milestone field)

[2020-04-22 17:03] fbaier-fn commented on #6100
Importing an existing brand (particular one that wasn't created by Terraform) succeeds, however I think this behavior makes a problem:

Let's say you want to change the `support_email` of an existing brand.

1) You import the brand
[code]

2) Run `terraform plan` just to see if there are any diffs (there shouldn't)
[code]

3) Make changes in your `support_email` field and apply:

[code]

This is g

[2020-04-22 17:12] iiro commented on #6166
Hi,

You're using quite an old provider version. Support for connect_mode was added in provider version 3.13 (see here: https://twitter.com/rakyll/status/1252799616166195201) - and the latest is already 3.18.0 (as there's a weekly release cycle).

[2020-04-22 17:32] slevenick commented on #6100
Ah, ok I see the issue. When the `google_iap_brand` resource is deleted it does not actually delete the brand in GCP. This is because there is currently no support for deleting or modifying the brand via the REST API: https://cloud.google.com/iap/docs/reference/rest/v1/projects.brands

Also see: https://cloud.google.com/iap/docs/programmatic-oauth-clients?#branding

Unfortunately this is not fixab

[2020-04-22 17:56] fbaier-fn commented on #6100
Filed the feature request https://issuetracker.google.com/issues/154652489

[2020-04-22 18:15] tedwardd opened #6168 "google_compute_route requires attribute not required by API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-22 18:47] chrisst commented on #6147
@rgolab you are correct, it is the same issue as #5356. Thanks for linking. I'll close this as a duplicate and respond on that thread.

[2020-04-22 18:47] #6147 closed

[2020-04-22 19:09] edwardmedia commented on #6168
@tedwardd **import** works fine without one of the mentioned attributes. Can you post the exact HCL and the command you used for import?

[2020-04-22 19:11] chrisst commented on #5356
The solution will require managing the ssl certificate's name in a way that will generate a new name so that `create_before_destroy` will not conflict with the existing certificate. This isn't something that we are able to handle in the provider because we can't make a decision on how the proxy should be updated. However using the random provider and keepers can provide a good way to manage this w

[2020-04-22 19:17] edwardmedia commented on #1558
retry needed if the polling for success fails

[2020-04-22 20:08] tedwardd commented on #6168
@edwardmedia minus the redactions, that is the exact HCL, unfortunately I can't share the unredacted form because it contains confidential information. The import used was:
[code]

Can you please show me the route you created and imported with `gcloud compute routes describe` to make sure it looks the same as the one I'm referencing? I will attempt to create a new dummy route and reproduce on that

[2020-04-22 20:12] tedwardd commented on #6168
Sorry, that was the wrong import:
```terraform import google_compute_route.default-route-xxxxxxxxx projects/xxxxxx-xxxxxxx/global/routes/default-route-xxxxxxxx```

[2020-04-22 20:14] pierrefevrier commented on #6143
What do you mean by deploy a sample certificate (I don't have other certificates to test :/) ? Deploying the same certificate via GCP console works.

[2020-04-22 20:19] venkykuberan commented on #6166
yes, please upgrade to provider version 3.14 or later.

[2020-04-22 20:19] #6166 closed

[2020-04-22 21:18] dboshardy opened #6171 "The provider provider.google does not support resource type "google_bigquery_job"."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-22 21:25] edwardmedia commented on #6168
@tedwardd Here is what I used. I created `issue6167` via gcp console. Let me know if this helps. Thanks
[code]
`terraform import google_compute_route.default issue6167`

[2020-04-22 21:27] #5356 closed

[2020-04-22 21:33] viharikrishna commented on #6166
Thank you. It works now.

[2020-04-22 21:33] edwardmedia commented on #6143
@pierrefevrier I meant a self-signed certificate.

[2020-04-22 22:17] #5651 closed

[2020-04-22 22:48] edwardmedia commented on #6171
The code was committed 5 days ago https://github.com/terraform-providers/terraform-provider-google/commits/master/google/resource_big_query_job.go

[2020-04-22 23:05] dboshardy commented on #6171
So presumably, this will go out in 3.19.0? Looking at the changelog for 3.19, it's not included there either. And this is already "released" in so far as it shows up in the documentation.  What is the expected release procedure in this case?

[2020-04-22 23:16] chrisst commented on #6168
@tedwardd Taking a closer look at this now. When I look in the gcp console (UI) nexthop is a required dropdown but it adds a default for you. When I tried to create a route through the API directly without a nexthop specified the API rejected the request with:
"message": "Invalid resource usage: 'A Route must specify at least one type of next hop.'."

When I described the resource from gcloud I al

[2020-04-22 23:20] #5928 closed

[2020-04-23 09:11] rebelthor commented on #3360
We're also interested in this since we want to have a full automated setup of our infrastructure, which also includes alerts. Since some metrics are only populated after everything is set up, we need to define these custom metrics prior to creating the alert policies, otherwise, it fails.

[2020-04-23 09:45] agadelshin commented on #3360
One year later I'd like to raise discussion again:

1. does stackdriver API still have this problems?
1. if it does, how can we motivate stackdriver team to fix it?

[2020-04-23 10:25] chrissng commented on #5463
@shaulishaked AFAIK, this can be updated in-place. Unfortunately, the docs is not updated to reflect this change.

[2020-04-23 11:58] webervin commented on #5784
Not sure if it is worth stand-alone issue or not, but just because persistenceIamIdentity should be rechecked every time as it can change over time, it would be very good to also have a terraform data source for redis memorystore, so we could obtain relevant service account by instance name.

[2020-04-23 12:24] farnoy opened #6175 "Provider produced inconsistent result in bigquery_dataset_access"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-23 14:00] rlopezl-c4 opened #6176 "Cannot apply google_bigquery_dataset_access"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-23 14:08] pfilourenco opened #6177 "Error disabling Shared VPC Host - Destroy"
Hi

I'm trying to disable/destroy  google_compute_shared_vpc_host_project but looks like is giving error:

"Error: Error disabling Shared VPC Host "my_project": googleapi: Error 400: Cannot disable project as a shared VPC host because it has active service projects., badRequest"

Before this I successfully destroyed google_compute_shared_vpc_service_project.

Any idea?

### Community Note

* Pleas

[2020-04-23 14:42] bharathkkb commented on #6132
Hi @venkykuberan
I noticed the same issue today when project creation was not a part of the same config. I passed in a pre created project id that already had billing.
Could you share your config that you tested out?

[2020-04-23 15:43] edwardmedia commented on #6171
@dboshardy likely go out in next release. Thank you for reporting this issue.

[2020-04-23 15:43] #6171 closed

[2020-04-23 15:48] tpoindessous opened #6178 "[DOC] Link google_compute_region_disk_resource_policy_attachment and google_compute_disk_resource_policy_attachment docs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-23 15:49] venkykuberan commented on #6175
If you see default roles are trying to be removed every time you apply,  add the following block should help.  Please close the issue if it works

[code]

[2020-04-23 16:26] farnoy commented on #6175
I'm not sure what you mean @venkykuberan, the role bindings are being added with `apply`, but it does not change the terraform state, which means that the next time I run terraform, it's going to attempt (and fail) doing the same thing.

1. I run `terraform apply`, it executes the plan:

[code]
2. It fails with:

google_bigquery_dataset_access.private_dataset_access["jakub.okonski"],
provider "reg

[2020-04-23 17:17] tedwardd commented on #6168
@edwardmedia Here are some more specific reproduction steps with a dummy project and network so I can provide exact steps and information:

1. Create a route through GCP console. Below is the REST response:
[code]

2. Create TF file:
[code]

3. Initialize the project:
[code]

4. Import the resource:
[code]

5. Plan project:
[code]

[2020-04-23 17:28] tedwardd commented on #6168
Oh, I also went back through the comments and noticed you had asked for the output of `terraform show` after the import. Here is the result from that command against the import in the previous comment:
[code]
So, somehow the nexthop is in there without me having set anything?

[2020-04-23 17:29] c2thorn commented on #6000
@megan07 actually completed this shortly after this was posted. The next build step is set up to run even if sweepers have failed. I'll create a new issue to revert all of the sweepers return errors.

[2020-04-23 17:29] #6000 closed

[2020-04-23 17:31] c2thorn opened #6179 "Revert "soft failure" in sweepers"
Thanks to https://github.com/terraform-providers/terraform-provider-google/issues/6000, we no longer have to have our sweepers fail softly. They can return their true errors and bubble them up.

[2020-04-23 17:38] tedwardd commented on #6168
OK, well, now this is odd (sorry for the back to back comments. The output from `terraform show` on the networks I'm trying to import in the production project look like this:
[code]

The REST response is:
[code]

[2020-04-23 18:00] tedwardd commented on #6168
OK! (again, sorry for the comment spam) I have more information that may be useful! Further testing indicates that these routes are the "local routes" which are created between VPC networks automatically. I created a VPC network called `dummynet` through the console:

[code]
and noticed this route appear automatically in the routes screen. Notice the lack of `nextHopGateway`:
[code]

It would appe

[2020-04-23 18:49] chrisst commented on #6168
@tedwardd Thanks for the extra information, that makes it a lot more clear. It sounds like there are two things at play; The `at_least_one_of` validation is happening a bit early and thus causing an error which is legitimate but misleading. Also the `next_hop_network` is a valid field which isn't part of the `at_least_one_of` block.
I'm not sure how possible the former is as the provider doesn't h

[2020-04-23 19:07] venkykuberan commented on #6175
I see the issue, role format being used is crashing the provider. Can you use the following format as per the [doc](https://cloud.google.com/bigquery/docs/access-control-primitive-roles#dataset-primitive-roles)

resource "google_bigquery_dataset_access" "access" {
  dataset_id = google_bigquery_dataset.dataset.dataset_id
  #   role          = "roles/bigquery.dataOwner"
  role          = "OWNER"

[2020-04-23 19:10] farnoy commented on #6175
It worked @venkykuberan, I assume this is a legitimate bug in the tf provider, correct? Google's API docs mention that they accept both (and these uppercase, single-word variants are deprecated).

[2020-04-23 19:11] venkykuberan commented on #6176
Can you use the following format for the roles per [doc](https://cloud.google.com/bigquery/docs/access-control-primitive-roles#dataset-primitive-roles)

[code]
Let me know if it helps ..

[2020-04-23 19:15] venkykuberan commented on #6175
Agreed, provider should handle it. I will keep this issue open and move it to code change bucket. Meantime using the Upper case role would get you going. Thank you for filing the issue

[2020-04-23 19:36] chrisst commented on #6168
The validation logic for the `exactly_one_of` isn't aware of the state of the resource as its been imported and can only currently be used to validate the config version of the resource. However since the resource can't be created with `next_hop_network` through the API it's a valid assertion that this field is output only and shouldn't be in a user's config.

Taking a step back though - compute_r

[2020-04-23 19:49] #5678 closed

[2020-04-23 19:57] tedwardd commented on #6168
Yes, thank you for hashing this out with me. I now understand what's going on here and I agree. These resource blocks were generated by [Terraformer](https://github.com/GoogleCloudPlatform/terraformer) and I was naively attempting to import them as discovered. Based on the information here, I agree that importing them as resources makes no sense and that a data source would be beneficially for the

[2020-04-23 19:57] #6168 closed

[2020-04-23 20:38] mikhail-khodorovskiy opened #6182 "google_project_service fails to produce consistent results."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-23 20:40] pierrefevrier commented on #6143
Yeah, I managed to make it work by passing only the intermediate certificate !
This is confusing because I had to pass the root certificate too, when importing the certificate via GCP console.
Thanks for your tips @edwardmedia !

[2020-04-23 20:40] #6143 closed

[2020-04-23 21:05] megan07 opened #6184 "Need docs for `google_app_engine_application.iap`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-23 21:05] wvanderdeijl commented on #6052
My PR in magic-modules was merged and has no trickled down to this repo in #6183

[2020-04-23 21:05] #6052 closed

[2020-04-23 21:41] #5759 closed

[2020-04-23 21:43] #5631 closed

[2020-04-23 21:46] edwardmedia commented on #6182
@mikhail-khodorovskiy I noticed that "**}**" is missing before `resource`. After adding that, your code works fine for me. Let me know if this can address your problem. If not, would please specify the steps how to reach the error?

[2020-04-23 21:58] mikhail-khodorovskiy commented on #6182
I made a mistake copying the snippet of the code.  I tried to only give you relevant parts where locally I have the API being enabled as part of an internal module.  I tried destroying and recreating the API enablement a dozen of times and it always fails with the error I posted on the first apply.   Did you try the exact versions of terraform and provider combination?  I even tried with the googl

[2020-04-23 22:05] edwardmedia commented on #6182
@mikhail-khodorovskiy your versions should be fine. I noticed your code are in modules. Can you test by putting your above code in a single `main.tf`, removing everything else?

[2020-04-23 22:38] shields-fn commented on #4314
We're seeing similar behavior on a cluster where we enabled Batch on GKE, which dynamically creates and destroys instance groups. That's a lot more concerning, since it implies that we can't use Terraform to manage the node pools of a cluster with Batch enabled.

[2020-04-23 23:01] #6001 closed

[2020-04-23 23:47] venkykuberan commented on #6177
I can't repro the issue, trying multiple times. Do you see similar plan output ?, verify right project ids are shown in plan output.

[code]

[2020-04-24 01:50] mikhail-khodorovskiy commented on #6182
I briefly moved the enabling of the service to my main and I still get the same error.
After I moved it back I captured the trace logs:
[code]

[2020-04-24 01:55] mikhail-khodorovskiy commented on #6182
I think I need to explain a little more of what's going on:
I use the project factory to activate "essential" for my terraform setup services:

[code]

then in a different repo this time using the project editor terraform service account I want to add the enabled service list with the code from the issue above and this is when I get the problem.   I know the service list is additive but some servi

[2020-04-24 06:11] bharathkkb opened #6194 "google_app_engine_flexible_app_version seems to time out at 10m with 500 error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-24 08:03] jmymy opened #6195 "access_context_manager_access_policy requireScreenLock is broken"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-24 13:52] MeghanaSrinath commented on #5948
Hi  @edwardmedia
Unfortunately, I wont be able to provide the complete terrafrom apply logs as it contains our application logic in the remote execution part of the bastion instance. However, I can say the resources that we create in terraform.
1. Create VPC, subnetworks.
2. Create a private cluster in the subnet.
3. Create a Bastion instance.
	3a. Connect to the cluster in the bastion remote_exec

[2020-04-24 14:04] edwardmedia commented on #6182
@mikhail-khodorovskiy I am not sure how many projects are involved. Where do you run the terraform? What credential does it use? Does the credential has the required permissions in the projects where these services are intended to be enabled? Please double check if you have proper settings for the terraform runner. https://www.terraform.io/docs/providers/google/guides/getting_started.html#adding-c

[2020-04-24 14:12] tpoindessous commented on #3382
Hi !

Anybody interested by this enhancement ? ;)

It would be great to be able to filter by name and by creationTimestamp.

My use case :

- automatic creation of a disk + VM from the backup (snapshot) of "2020-04-20"

Thanks !

[2020-04-24 14:39] edwardmedia commented on #5948
@MeghanaSrinath Without seeing the complete code, I am not sure. But do you want to destroy the resources you created in step 3d? Terraform has no knowledge about their existence. Because they likely have dependencies on the resources you creates in pre-3d. steps, You need to delete these manually created resources before next steps. Does this make sense?

[2020-04-24 16:25] mikhail-khodorovskiy commented on #6182
Would I not be getting the authentication error if the credentials were not specified or not privileged enough?  As you can see in the logs above I am getting a number of HTTP responses with 404 errors codes while getting the services enabled.  Does this look something that should be happening in the provider to you?

[2020-04-24 17:40] #6092 closed

[2020-04-24 17:52] #5629 closed

[2020-04-24 17:54] edwardmedia commented on #6195
I can repro this issue. Above code works fine if I set `require_screen_lock = **false**`. But if I set it to `require_screen_lock=true`, it generates above error.

[2020-04-24 18:06] morgante commented on #6182
@mikhail-khodorovskiy How are you managing the dependency ordering between project creation and API activation? This could also be happening if APi activation is attempted before project creation is finished.

[2020-04-24 18:10] c2thorn commented on #6182
@mikhail-khodorovskiy
Looking at the debug logs, it looks like the GET URL is malformed:
`/v1/projects/projects/chcs-dev-tools-54c9/services...`
Do you mind double-checking what `var.tools_project_id` is set to?

[2020-04-24 18:15] edwardmedia commented on #6182
@mikhail-khodorovskiy I think it all depends. It sounds like a bug as you said `I am getting a number of HTTP responses with 404 errors codes while getting the services enabled`. Do you know which specific service(s) were enabled by this call? I assume you have watched the changes on these services before and after the call.

[2020-04-24 18:23] #777 closed

[2020-04-24 18:25] danawillow commented on #6182
@c2thorn is absolutely correct on this. We could mitigate this in the provider by accepting both values (`projects/{{project}}` and `{{project}}`) in the `google_project_service` resource, but it should be super easy to work around on your end, @mikhail-khodorovskiy, by making sure the project getting sent over doesn't have a `projects/` prefix.

[2020-04-24 19:15] #5630 closed

[2020-04-24 19:28] danawillow commented on #6091
After some offline discussion, this is going to be a much larger effort than just nesting fields underneath. Once an object has more than a few fields in it, it's really hard to tell where you are  ([Google_ google_cloud_run_service - Terraform by HashiCorp.pdf](https://github.com/terraform-providers/terraform-provider-google/files/4531085/Google_.google_cloud_run_service.-.Terraform.by.HashiCorp.

[2020-04-24 19:42] mikhail-khodorovskiy commented on #6182
Thank you so much for all your help!!!

It turns out all I had to do while looking up the project id is to change:

[code]

and it worked.

The only feedback I have is I wish the provider gave me a better error to figure this out without your help.

Close the issue please!

[2020-04-24 19:50] edwardmedia commented on #6182
@mikhail-khodorovskiy Thank for using the product and your feedback

[2020-04-24 19:50] #6182 closed

[2020-04-24 22:34] danawillow commented on #6132
If apply immediately after failure works, that implies that we should have the resource retry the create until the API is consistent.

[2020-04-24 22:42] danawillow opened #6202 "Cloud Memorystore for Memcached"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-24 22:42] #6081 closed

[2020-04-24 22:51] bharathkkb commented on #6132
@danawillow yes, apply immediately after has been consistently working

[2020-04-24 22:52] danawillow commented on #6087
Hey @jdziat, this is one reason why we support the [source](https://www.terraform.io/docs/providers/google/r/compute_instance.html#source) parameter on the boot disk block. This way, you can create a disk in Terraform that can be updated whenever  you want, and we can let `initialize_params` be something that truly means exactly what it says: parameters that are set when the disk is initialized.

[2020-04-24 23:03] venkykuberan commented on #6144
sample config

[code]

[2020-04-24 23:58] lc-chrisbarton opened #6204 "google_cloud_scheduler_job attribute retry_config does not maintain state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-25 00:35] danawillow opened #6205 "L7-XLB URL Rewrites & Redirects"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-25 03:30] MeghanaSrinath commented on #5948
HI @edwardmedia , I agree on this. Terraform doesn't have a knowledge about these resources. Then we better find a way to delete these resources before we do a terraform destroy.You also mentioned about importing the state? Can you please explain more about that? Is it possible to have a state file for non-terraform created resources?

[2020-04-25 03:57] cynful opened #6206 "google_compute_region_backend_service gets destroyed when updating locality_lb_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-25 12:12] jdziat commented on #6087
@danawillow I appreciate that it supports the source block, but that's not clear from the examples or documentation what the best practice should be in this case. I don't see the use case for having the initialization params as a locked in value. I may be biased though because I have a few hundred machines that could be impacted by this.

[2020-04-25 15:35] jeet-parekh commented on #5544
I couldn't make this work. Please feel free to pick it up. I'll be watching this issue to understand the fix.

[2020-04-25 19:32] edwardmedia opened #6207 "[Doc] "404" received on the link in runtime_api_version"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-25 21:50] rub-a-dub-dub opened #6208 "Client.timeout on google_project"
### Terraform Version
[code]

### Affected Resources
* `google_project`

### Terraform Configuration Files
[code]
### Debug Output
[code]
### Steps to Reproduce
1. `terraform apply -auto-approve --parallelism=1 -input=false -backup=-`
### Expected Behaviour
New project is created.
### Actual Behaviour
Error shown above occurs.
### Other Information
* Terraform provider is using a service account i

[2020-04-25 22:29] dinvlad opened #6209 "Add ability to call Cloud Functions and receive results"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-26 00:33] rub-a-dub-dub commented on #6208
PEBKAC - The CI runner wasn't injecting GCP credentials correctly.

[2020-04-26 00:33] #6208 closed

[2020-04-26 14:03] gal432 opened #6210 "google_cloudfunctions_function - egress settings Enum is invalid"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-26 18:53] kardiff18 commented on #2973
Is there support for enabling the google signon or redirect domains?

[2020-04-26 20:07] yinzara commented on #2973
Unfortunately this API doesn't even exist for that yet. The UI is the only way to set that up. So there's no way we could enhance the terraform provider to do that at this time.

[2020-04-27 01:08] edwardmedia commented on #6194
@bharathkkb the path of your `liveness_check` and `readiness_check` are questionable. Check out if that path is valid in your container. Below is the HCL that works for me. If you still see problems, could you post full debug log, and code for your image?

[code]

[2020-04-27 02:07] bharathkkb commented on #6194
@edwardmedia
The paths for the liveness_checks was lifted as is from docs and it made sense as the app should respond 200 OK at `/`. In you example, what does path = `.` imply?

I will send full debug log internally as it will be difficult for me to sanitize.

[2020-04-27 03:43] edwardmedia commented on #5948
@MeghanaSrinath sure yes, you can `import` state from non-terraform created resources. Most resources now support `import`. As an example, here is the command for `google_compute_firewall` https://www.terraform.io/docs/providers/google/r/compute_firewall.html#import

You might also want to review `terraform import` in general. https://www.terraform.io/docs/import/usage.html

For now, I am closing

[2020-04-27 03:43] #5948 closed

[2020-04-27 04:00] edwardmedia commented on #6194
@bharathkkb for my example, I created the image using below **nginx** sample. I provided the relative location which is at `/usr/share/nginx/www`
https://github.com/GoogleCloudPlatform/appengine-custom-runtimes-samples/tree/master/nginx
You might want to review your container implementation to provide info for appengine `health check`

[2020-04-27 11:43] wvanderdeijl commented on #2973
@chrisst could you elaborate why it would not make sense to provision Firebase Hosting with Terraform? I would love to try to get firebasehosting to work with Magic Modules, and thus terraform. But I am wondering why/if this is a bad idea I should abbandon.

[2020-04-27 12:35] jdziat commented on #6087
✔ Prerequisite check
  ✔ Git
  ↓ Cleanup [skipped]
  ✔ Installing dependencies using npm
  ✔ Running tests using npm
  ✔ Bumping version using npm
  ✔ Publishing package using npm
  ✔ Pushing tags

 seal-contract-deleter 1.1.1 published 🎉

[2020-04-27 14:11] marianne-butaye commented on #4951
Hello, for my part I couldn't test with 0.12, but this is what I have seen:
- when I pass directly a variable reference into the backends, it works
[code]
- when I pass the variables into dictionaries declared directly, it works
[code]
- when I pass the variables into dictionaries declared directly inside a list, it works
[code]
- but when I try to use a data source such as null_data_source, I get

[2020-04-27 14:18] nareshgnT commented on #5522
Documentation should be updated with DLQ details, currently documentation does not updated with DLQ details

[2020-04-27 15:11] sagarr8130 opened #6211 "GCS terraform_remote_state Backend | Error: Unsupported attribute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-27 15:54] slevenick commented on #5522
@nareshgnT I see the documentation here: https://www.terraform.io/docs/providers/google/r/pubsub_subscription.html

[2020-04-27 15:59] edwardmedia commented on #6204
@lc-chrisbarton yes I can repro this issue

[2020-04-27 16:06] edwardmedia commented on #6206
I can repro this issue.

[2020-04-27 16:19] venkykuberan commented on #6210
@gal432 I am not sure what value is passed to vpc_connector, make sure its in the format `projects/xxx/locations/us-central1/connectors/vpcconn`.  If you still get the error, please share your debug log. The following config worked fine for me

sample config
[code]

[2020-04-27 16:38] preston-hf opened #6212 "Bucket resource returns as completed before it actually exists"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-27 17:20] hashibot[bot] opened #6213 "usage of service_account_scopes in google_dataproc_cluster replaces cluster every time"
_This issue was originally opened by @aaad as hashicorp/terraform#24773. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

When I use a custom **service_account_scopes** in **gce_cluster_config** of **google_dataproc_cluster** the google cloud DataProc cluster gets

[2020-04-27 17:22] danawillow opened #6214 "KMS External Key Import"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-27 17:32] #5621 closed

[2020-04-27 17:41] chrisst commented on #6152
This was added in https://github.com/GoogleCloudPlatform/magic-modules/pull/3417 and should be released in 3.20.0.

[2020-04-27 17:41] #6152 closed

[2020-04-27 17:44] danawillow commented on #6103
Closing since we're replacing MMv1 anyway and didn't get to it in the fixit

[2020-04-27 17:44] #6103 closed

[2020-04-27 17:47] danawillow commented on #6156
What version of the provider are you using? I think this should work in some of the more recent versions.

[2020-04-27 18:20] yinzara commented on #2973
I believe, with the additional of "google_firebase_web_app", you can provision Firebase Hosting. The issue is with the custom domain mapping.  There are no APIs to manage that as of yet.

[2020-04-27 18:48] red8888 opened #6220 "Fix docs for importing google_folder_iam_binding example"
I wasted a little time on this and I think it would be easy to make it a little more obvious: https://www.terraform.io/docs/providers/google/r/google_folder_iam_binding.html

[code]

**folder-name** should be changed to **folder-id** and maybe an example?

I could not understand why this wasnt working:
`$ terraform import google_folder_iam_binding.viewer "myfolder roles/viewer"
`
I needed to use t

[2020-04-27 19:55] venkykuberan commented on #6212
`google_storage_bucket` makes a GET call following the Create call to ensure resource creation is complete and its available to use. However we see similar eventual consistent issue with other resources trying to consume the recently created GCS resources. Since its working fine if you rerun the Apply command immediately, its good candidate for retry approach.

I tried few times its not happening

[2020-04-27 20:27] preston-hf commented on #6212
Maybe instead of simply GETting the bucket, you could issue a strongly-consistent operation like listing the bucket contents or something? https://cloud.google.com/storage/docs/consistency

[2020-04-27 20:30] preston-hf commented on #6212
Additionally, if it's determined that the existing behavior should be strongly consistent, we should open an Issue Tracker issue because this is likely a regression that others will have problems with.

[2020-04-27 20:31] venkykuberan commented on #6211
Looks like the way you are referencing the resources isn't right.  You can refer this doc - https://www.terraform.io/docs/providers/terraform/d/remote_state.html.

I am closing this issue as this isn't GCP specific, you can check it in Terraform general channel about remote state objects to find more related information.

[2020-04-27 20:31] #6211 closed

[2020-04-27 20:49] danawillow commented on #6178
Hey @tpoindessous, you're welcome to propose a PR against magic modules if you'd like! The CONTRIBUTING  page is meant to express that we won't accept PRs in _this_  repo  for autogenerated resources, since the changes would just get clobbered. The docs are generated there, so typically you'd just have to do a bit of grepping to figure out where to make your edits (until you develop an understandi

[2020-04-27 20:57] wvanderdeijl commented on #2973
AFAIK the firebase_web_app resource is from https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.webApps which only registers a web app, which gives you the configuration to include in the html/js code to communicate to the Firebase backend. But this doesn’t setup hosting.

Hosting is from the API at https://firebase.google.com/docs/hosting/reference/rest
You are right tha

[2020-04-27 21:24] morgante opened #6222 "Disabled serviceusage.googleapis.com API leads to tainted project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-27 21:27] morgante commented on #6222
I've observed a fair number of issues and failures can happen during the network deletion, which is potentially a source of pain for users. While the simplest fix would be to add a precheck (similar to #5671), I wonder if we should instead split the network deletion into a *separate* resource.

My reasoning is that failures in the `google_project` resource are very expensive as they taint the proj

[2020-04-27 21:30] yinzara commented on #2973
Oh ok. now I understand what you're meaning.  Hmmmm I probably would have to agree with @chrisst on this one.  The whole idea of application code deployment is not something in general Terraform is best used for. Terraform is great for infrastructure as code (i.e. setting up the infrastructure for an application) but deploying a version of that application is usually left up to other tools. I won'

[2020-04-27 23:01] edwardmedia commented on #6213
In my test, if I set one below item in the scopes, after the `tf apply`, I see two more items added in the plan
[code]

2nd terraform plan
[code]

[2020-04-27 23:34] edwardmedia commented on #6222
Yes, this is an issue. It does prompt project replacement
[code]

[2020-04-27 23:44] aaad commented on #6213
Maybe I misunderstand you and you mean tags + metadata but according to the documentation adding these two items to service_account_scopes should be expected behavior: https://www.terraform.io/docs/providers/google/r/dataproc_cluster.html#service_account_scopes

[2020-04-27 23:54] chrisst commented on #2973
@wvanderdeijl In my experience Terraform isn't always the best tool for managing software (like) deployments. It can be difficult to declaratively manage things like incremental roll outs, canary deploys or automated rollbacks of code. This isn't to say it's not possible but if Terraform redeploys a broken version of code that had been rolled back it wouldn't be ideal. There are many release pipel

[2020-04-27 23:54] bluemalkin opened #6224 "google_storage_transfer_job add support for Azure storage container source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-27 23:56] chrisst commented on #2973
I'm locking this conversation as most of these discussions are more relevant in individual feature requests instead of this broader forum. Feel free to back link for discoverability.

[2020-04-28 00:11] danawillow commented on #3954
The merged PR fixes most of these. Here's a list of resources which, according to their documentation, don't support timeouts (`grep -rL 'Timeouts' website/docs/r/`):

- bigquery_table
- bigtable_gc_policy
- bigtable_instance
- bigtable_table
- cloudiot_registry
- compute_security_policy
- container_registry
- dataflow_job
- dns_record_set
- folder
- folder_organization_policy
- logging_billing_ac

[2020-04-28 00:25] #5745 closed

[2020-04-28 00:26] #6144 closed

[2020-04-28 03:44] gowrisankar22 opened #6229 "TF12/google provider 3.15 migration tries to destroy DB itself"
Hello Colleagues,

I tried migrating from TF11 to TF12 my cloud SQL component but ran into a problem. While applying with TF12, basically it tries to delete my DB user and cloudsql db itself which is really weird

[code]

Error
[code]

I don't really know what's happening. Could you please help?

BRs, Gowrisankar

[2020-04-28 04:58] emilymye commented on #6175
From [docs](https://www.terraform.io/docs/providers/google/r/bigquery_dataset_access.html#role) for `google_bigquery_dataset_access.role`:

This isn't quite accurate, since it's showing a provider error instead of a diff - we created the object and attempt to read it from a list of access objects on the dataset. Since we have to identify access objects by its fields (i.e. `(user, role, ...)`, when

[2020-04-28 06:22] rlopezl-c4 commented on #6176
Yes, it works with Writer/Owner/Reader roles, but the block access in resource google_bigquery_dataset admits roles like roles/bigquery.*

Can you review this case to include it into the resource google_bigquery_dataset_access?

Thank you so much

[2020-04-28 09:04] y0ssar1an commented on #6066
I worked around this problem by appending a random string to the name of the db on creation.

[code]

[2020-04-28 09:23] gal432 commented on #6210
OK. the problem was when I set the connector.name instead of connector id. the cloud function did attached to the vpc_connector, but I couldn't use the vpc_connector_egress_settings.

[2020-04-28 09:23] #6210 closed

[2020-04-28 09:26] syedrakib commented on #6066
hi @y0ssar1an . This workaround may not completely work.

If you delete the `google_sql_database_instance.main_primary` resource and then re-create that resource, you have a new db_instance resource.

However, the `random_string.four_chars` was never destroyed and re-created. So the `four_chars` resource will still return the same output as before and, thus, back to the same problem again.

[2020-04-28 09:29] syedrakib commented on #6066
BTW, this GitHub issue is raised here so that the prodvider fails early and creates a meaningful error message if the CloudSQL name is the issue instead of having to wait forever as it is currently behaving now.

[2020-04-28 09:38] y0ssar1an commented on #6066
I see the concern. It hasn't been an issue though. I've got the `random_string` and `google_sql_database_instance` together in a module. They always get created and destroyed together.

[2020-04-28 10:20] y0ssar1an opened #6230 "Warning: planned value does not match config value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-28 10:21] cah-ed-hammond commented on #6156
I upleveled to 3.19.0 and it works as expected.
I should have tried that before filing the issue.
Thanks.  Sorry to have bothered you.

[2020-04-28 10:21] #6156 closed

[2020-04-28 13:14] kemer15 opened #6231 "google_bigquery_job resource ignores use_legacy_sql flag"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-04-28 14:46] thnee opened #6232 "Add Container port in google_cloud_run_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-28 15:37] thnee commented on #6232
Duplicate of #5539

[2020-04-28 15:37] #6232 closed

[2020-04-28 15:38] agosto-raypitmon commented on #5879
[This medium article](https://medium.com/google-cloud/using-google-cloud-ai-platform-notebooks-as-a-web-based-python-ide-e729e0dc6eed) describes how to create an AI platform notebook using `gcloud` commands to create a GCE VM. Using that, I was able to create a notebook using `google_compute_instance` resource and setting some metadata, boot disk image, etc.

[2020-04-28 15:51] zhhuta commented on #2652
I believe you may use https://www.terraform.io/docs/providers/google/d/datasource_google_iam_role.html
where ```name``` is
```organizations/{ORGANIZATION_ID}/roles/{ROLE_NAME}``` or ```projects/{PROJECT_ID}/roles/{ROLE_NAME}```
here is example
[code]

[2020-04-28 16:45] ct-dh opened #6233 "Race condition with google_compute_route and VPC peering operations"
I don't have time to find a small reproducable snippet for this issue at the moment, but hoping someone has some advice in the interim.

I am trying to create a google_compute_route resource but it regularly errors in our pipeline with the below error:

[code]

I can see there was previous issue (https://github.com/terraform-providers/terraform-provider-google/issues/3034) requiring a mutex to be

[2020-04-28 17:09] danawillow commented on #6175
If we reject predefined roles from here and not from the bigquery_dataset resource, then we have a weird inconsistency between the two. But if we reject predefined roles from there, it's a breaking change. I'd lean towards just hardcoding the mapping so we can have a consistent fix now instead of having to wait for 4.0.0, and maybe also safeguarding against the possibility of a new primitive role

[2020-04-28 17:39] #6195 closed

[2020-04-28 17:39] #6212 closed

[2020-04-28 17:39] #6206 closed

[2020-04-28 18:04] edwardmedia commented on #6233
@ct-dh could you share larger debug log that contains multiple requests & responses? If could, please also share your HCL so we could try to repro?

[2020-04-28 20:42] venkykuberan commented on #6231
Unless you set to `false`, provider submit the request with default value `true` to API. Provider can't validate the type of SQL being sent and also i see API sending back the response with `useLegacySql=true` for the standard SQL request.  As provider is working as expected i am closing this issue. Please reopen if you feel otherwise.

Terraform config
[code]

sample partial API response just for

[2020-04-28 20:42] #6231 closed

[2020-04-28 21:09] danawillow opened #6236 "Make node auto-repair default to true"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-28 21:14] venkykuberan commented on #6176
Yes we have an open issue to bring both the resources inline https://github.com/terraform-providers/terraform-provider-google/issues/6175. Since this is a duplicate i will close this one and will track the other.

[2020-04-28 21:14] #6176 closed

[2020-04-28 21:28] edwardmedia commented on #6229
@gowrisankar22 to repro your reported issue, I first apply below code using TF **v0.11.14**. Once that is complete, I switched to TF to v0.12.24, then call `tf plan`, I don't see any changes needed in the plan with **v0.12.24**. Could you post your HCL and detailed steps how to repro the issue?

[code]

[2020-04-28 21:34] venkykuberan commented on #5344
I am closing this issue as i don't see any help needed from us. Please reopen if needed..

[2020-04-28 21:34] #5344 closed

[2020-04-28 21:50] venkykuberan commented on #6230
This is not a provider issue, its SDK compatibility issue. Please refer this https://discuss.hashicorp.com/t/context-around-the-log-entry-tolerating-it-because-it-is-using-the-legacy-plugin-sdk/1630 to learn more.
 Closing this as its not provider related.

[2020-04-28 21:50] #6230 closed

[2020-04-28 22:47] danawillow commented on #4314
Thanks everyone for your patience; coming back to this now.

One way I could fix this is to just not include any instance group url that 404s in the `instance_group_urls` field, and stop throwing that error. I'll prepare that PR now.

If I did that, does that sound like something that would be sufficient?