[2020-10-26 19:34] brettcurtis commented on #7611
You're saying you run the exact code above changing the obvious things that need to be changed and it runs for you to completion? Let's pull the null_resource out of the mix as I think it's cluttering the problem.

So, run the tf above if it succeeds show me the apply, if it doesn't, and fails with the error above wait as long as you want and re-run it.

[2020-10-26 21:08] #7364 closed

[2020-10-26 21:08] #4670 closed

[2020-10-27 04:25] #7196 closed

[2020-10-27 07:04] frasercarter opened #7636 "Unable to use parenthesis in filter (gcloud_projects)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-27 10:12] warden opened #7637 "NEGs and SQL private connections not destroyed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-27 14:35] FromZeus opened #7638 "Cloud Composer environment cannot be created due to "Http error status code: 400""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-27 14:46] red8888 opened #7639 "No examples of how to use peerExternalGateway with the new google_compute_ha_vpn_gateway"
Im trying to use `google_compute_ha_vpn_gateway` to create a vpn to aws as classic VPNs have been deprecated

Usually I would use `peer_ip` in the `google_compute_vpn_tunnel` resource with the IP of the aws vpn tunnel

That throws this error:
`Error creating VpnTunnel: googleapi: Error 400: Invalid value for field 'resource.peerIp': '1.2.3.4'. Cannot specify peer IP for HA VPN tunnel creation, ple

[2020-10-27 15:52] wyardley commented on #7624
I think it would also be useful to be able to put data marked sensitive _into_ secrets manager secrets, for example, the generated auth string returned by Redis https://github.com/hashicorp/terraform-provider-google/issues/7601

If they could be put there directly without also tracking them in the state, that would be a bonus.

To me, the storage at rest is not really my concern, but more that (as

[2020-10-27 16:41] rileykarson commented on #7624
Values marked sensitive should be omitted from plans, but will appear as cleartext in provider debug logs. Since those are configured by an environment variables / in config they're readily available to any interactive user but may not be available to automation users.

[2020-10-27 16:45] edwardmedia commented on #7611
@brettcurtis I don't see anything wrong in your log in term of the API requests. Whether the expected service account becomes available or not after you apply the plan is beyond Terraform provider. We have identified the time issue when new project and services are created. The length of waiting time varies depending on the type of services. Does this make sense to you? I am more than happy to hel

[2020-10-27 16:45] wyardley commented on #7624
They're cleartext in the raw state files as well too, though, right?

[2020-10-27 16:46] rileykarson commented on #7624
Yep! Those are harder to access when they're in remote backends, but not much harder.

[2020-10-27 16:53] FromZeus commented on #7638
Sorry, the same error I'm getting creating with UI. Closing the issue on your side.

[2020-10-27 16:53] #7638 closed

[2020-10-27 17:28] davestibrany-dd commented on #7609
@rileykarson We were adding a `database_flags` entry for work_mem, so probably any database flag would recreate it.

[2020-10-27 18:45] jcanseco opened #7642 "google_dataflow_job zone should not be required if region is specified"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-27 19:06] upodroid commented on #7637
This is a known issue. GKE creates resources that use the network/subnetwork out of band(outside of terraform).

When you delete the GKE Cluster, the resources it created such as IPs/NEGs/LBs are deleted but it may not be deleted so when terraform is destroying the subnets it will fail as the NEG might still be around.

You can ensure this doesn't happen by deleting the Ingresses before you destro

[2020-10-27 20:45] xingao267 opened #7643 "Support `region` in `google_dataflow_flex_template_job`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-27 20:46] xingao267 commented on #7643
NVM. Seems supported as part of https://github.com/hashicorp/terraform-provider-google-beta/blob/master/CHANGELOG.md#3420-october-05-2020

[2020-10-27 20:46] #7643 closed

[2020-10-27 20:49] claywd opened #7644 "Enable Vulnerability Scanning for container_registry"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-27 21:48] #7087 closed

[2020-10-27 21:48] upodroid opened #7645 "Add Bucket Log Views"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-27 21:49] edwardmedia commented on #7636
@frasercarter this is handled in the layer of Terraform core. I would suggest you file an issue at [Terraform](https://github.com/hashicorp/terraform/issues). Feel free to reopen this if you see this is the Google provider specific.

[2020-10-27 21:49] #7636 closed

[2020-10-27 21:54] ahmetb opened #7646 "Missing "project" fields not caught during "terraform plan""
Trying to use the example at https://www.terraform.io/docs/providers/google/r/compute_region_network_endpoint_group.html  to generate a GCLB.

### Terraform Version

Terraform v0.12.29
+ provider.google v3.44.0
+ provider.google-beta v3.44.0
### Affected Resource(s)

Unclear. :( :(

terraform apply shows 3 weird log lines with no info + weird spacing around those lines:

[code]

### Terraform Conf

[2020-10-27 21:56] #7574 closed

[2020-10-27 21:57] venkykuberan commented on #7637
Yes, its advised to clean up the GKE resources before running the TF destroy. Although my destroy ran successfully (all the gke resources were cleaned) its not consistent.

[2020-10-27 21:57] #7637 closed

[2020-10-27 21:59] ahmetb commented on #7646
I realized these 3 errors happen like that because 3 resources are being created in parallel.

However that's not an excuse. I think errors should be prefixed with the resource attempted to being created.

Some resources do this properly:

Also unclear why `terraform plan` or `terraform validate` doesn't capture this.

[2020-10-27 22:03] edwardmedia commented on #7639
@red8888 there are some [examples](https://www.terraform.io/docs/providers/google/r/compute_vpn_tunnel.html) that shows how to use these resources. VPNs are industrial standard. I have not tried your case yet but I don't believe it is for GCP VPC [VPNs](https://cloud.google.com/network-connectivity/docs/vpn/concepts/overview) only.

[2020-10-27 22:06] edwardmedia commented on #6732
Closing this. Feel free to reopen it if this is still an issue

[2020-10-27 22:06] #6732 closed

[2020-10-27 22:08] #7516 closed

[2020-10-27 22:09] edwardmedia commented on #7014
Closing this. Feel free to reopen it if this is still an issue.

[2020-10-27 22:09] #7014 closed

[2020-10-27 22:11] edwardmedia commented on #7608
@Sardonic-1 is this still an issue?

[2020-10-27 22:30] #7625 closed

[2020-10-27 22:48] edwardmedia commented on #7571
There is a [PR](https://github.com/GoogleCloudPlatform/magic-modules/pull/4113) that has already updated the `machine_type`. Will be showed up in v3.45.0

[2020-10-27 22:48] #7571 closed

[2020-10-27 23:06] ndmckinley commented on #7261
Hey - I'm sorry, but I have finally gotten around to trying to reproduce this and it just does not reproduce for me on 3.14.0.  I am able to apply 5 iam members in 11 seconds using your config, the same as in 3.13.0.

There must be something else about your config that is causing this to happen - can you help me debug a little more?

Big question first: Does this happen to you on a new project?
Sm

[2020-10-27 23:12] upodroid commented on #1799
@rileykarson We can close this issue because:
- Private GKE Clusters exist today. You have to supply a /28 private ip block when creating them so you can add that block to a custom route.
- Private Nodes communicate with the GKE Master via the private IP endpoint which would never be routed via a Cloud NAT or NAT Instances.

[2020-10-28 05:23] #5435 closed

[2020-10-28 07:17] garbetjie opened #7652 "Allow VPC_PEERING and SHARED_LOADBALANCER_VIP in google_compute_address.purpose"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-28 08:37] Sardonic-1 commented on #7608
@edwardmedia sorry for the delayed response - for the time being I've enabled the service manually, I can't modify our environments too much to test right now.

[2020-10-28 08:43] FrancoisPoinsot commented on #7261
The project is not new. There are ~100 users and ~50 service accounts

My test project, for which you see the number in the previous posts, only contains.

![image](https://user-images.githubusercontent.com/25101691/97412322-b0fd8b00-1901-11eb-8e03-52c68f19da88.png)

[2020-10-28 08:54] jmthvt opened #7653 "Add BigTable source format in BigQuery tables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-28 08:56] FrancoisPoinsot commented on #7261
For clarity:
The GCP project is not new.
The terraform project, "test project", I use is new.

To give more context: I was migrating from a terraform project 0.11 to a new one 0.12.
I am starting with an empty statefile and run import commands to load only the resources a moved.

[2020-10-28 10:20] drandell opened #7654 "Cloud Function Memory Limit"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

If this is a bug report (for when something is there, but doesn't work how it should), please use the [bug issue template](https://github.com/terraform-providers/terra

[2020-10-28 12:11] Shaybs opened #7655 "[Feature Request] Add the ability to add Filestore instance backups via Terraform"
Feature request is in the title.

[2020-10-28 12:19] Shaybs opened #7656 "[Enhancement] Regional Filestore instances like in AWS"
Enhancement/Feature Request is in the title.

[2020-10-28 14:18] paulwilljones opened #7657 "GCP Certificate Authority Service support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-28 15:39] xingao267 opened #7658 "Support service_account_email in google_dataflow_flex_template_job"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-28 16:40] edwardmedia commented on #7654
The [doc](https://cloud.google.com/functions/quotas) states 2GB

[2020-10-28 16:51] edwardmedia commented on #7605
@mr-andyd is this still an issue?

[2020-10-28 16:53] edwardmedia commented on #7608
@Sardonic-1  Let's close this issue now. Feel free to reopen it once you can repro the issue. Thanks

[2020-10-28 16:53] #7608 closed

[2020-10-28 16:59] steven-edgar opened #7659 "google_bigquery_dataset_access missing documentation on importing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-28 17:30] ndmckinley commented on #7261
Okay, so it's neither of those.  I'll have to keep asking questions to figure out how I can reproduce this.

Here are a few:
What version of terraform are you using?
What kind of iam members are you using?  `user:`? `domain:`? etc.
Can you reproduce this on a fresh GCP project?

[2020-10-28 17:45] FrancoisPoinsot commented on #7261
terraform `0.12.28`
My iam members are `user:` and `group:`

will try to reproduce on a fresh GCP project later.

[2020-10-28 18:31] rileykarson opened #7660 "Support billing_project in google_project_service"
`billing_project` is a configurable project used in user project overrides (eg https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#user_project_override)

It works automatically for generated resources, but doesn't work on handwritten resources where it's not manually added. We should support it here.

This is useful particularly for this resource because

[2020-10-28 20:04] ndmckinley commented on #7587
This is intentional - if you take a look at the logs you'll see

[code]

This was implemented by @chrisst who has since left our team - @rileykarson do you know why this is the way it is?  The API does have a DELETE:
https://cloud.google.com/logging/docs/reference/v2/rest/v2/projects.locations.buckets/delete.

[2020-10-28 20:11] ndmckinley commented on #7606
I believe this to be an issue with the `dynamic` feature of Terraform, rather than an issue with our provider - I can't reproduce it with the example you point to.  I think it's fairly likely your config is producing an empty string for "x-goog-version" when it's evaluated for state saving - that is the default and it is returned inconsistently from the API, so the behavior you're seeing reflects

[2020-10-28 20:28] rileykarson commented on #7587
Hmm- I've got no context and couldn't find any in the original PR. Maybe because it's a gradual deletion? we've supported those before, though.

We could consider moving this to an enhancement, to add delete support. If it's not on the resource page, we should document this behaviour before removing the bug label.

[2020-10-28 20:51] ndmckinley commented on #7606
Ah, our unit tests exclude this resource specifically to avoid detecting this permadiff constantly.  I believe I can fix this with a sufficiently complex diffsuppress.

[2020-10-28 21:01] red8888 commented on #7639
There are no examples for using `peer_external_gateway` and that is the only supported configuration for `google_compute_ha_vpn_gateway`

There should be an example in the docs of using `google_compute_external_vpn_gateway` with `peer_external_gateway` in addition to the included example for just hooking up two GCP VPNs together

[2020-10-28 21:02] drandell commented on #7654
So can you explain the UI option then @edwardmedia ?

[2020-10-28 21:23] mwohlin opened #7661 "google_compute_url_map is requiring default_service and will not let me use default_url_redirect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-28 21:28] ndmckinley commented on #7587
Okay, will do.  It says in the docs page that

This doesn't seem obviously right to me anymore but I assume it was right when we added the resource and is correct about how the resource works today.  I'll swap this to an enhancement.

[2020-10-28 21:31] red8888 opened #7662 "weird google_compute_router_peer error - peer IP address 1.2.3.4 is specified, but IP address is not specified"
tf and provider version:
[code]

trying to use google_compute_router_peer resource:
[code]
I get this cryptic error:
`Error: Error creating RouterBgpPeer: googleapi: Error 400: Invalid value for field 'resource.bgpPeers[0]': '{  "name": "gcw1-gcp-to-aws-bgp1",  "interfaceName": "gcw1-gcp-to-aws-interface1...'. In BGP Peer "gcw1-gcp-to-aws-bgp1", peer IP address 1.2.3.4 is specified, but IP address

[2020-10-28 21:40] camerondavison opened #7663 "Data for pubsub service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-28 22:00] edwardmedia commented on #7661
@mwohlin your version of the provider is pretty old. Can you use the latest version to see if the issue is resolved?
[code]

[2020-10-28 22:06] red8888 commented on #7662
looks like this issue was how I created the route interface.

I did this:
[code]

Instead of this:
[code]

but im confused because shouldnt tunnel1_inside_cidr give me the right value here?

[2020-10-28 22:14] mwohlin commented on #7661
Hi Edward, thank you for the quick response.
I did not provide a version for the Google Provider, so it said it downloaded the latest version available.
Are you aware if there is a more recent version of the Google provider, newer than 2.5?

I can try to upgrade my terraform to v13, but I was not ready to do that yet as we have a good bit of infrastructure already running on 12.

[code]

[2020-10-28 22:23] edwardmedia commented on #7662
@red8888 both resources have examples on web documents [google_compute_router_peer](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_router_bgp_peer), [google_compute_router_interface](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_router_interface)
For your last question, can you use *output` and then manipulate the dat

[2020-10-28 22:25] #7464 closed

[2020-10-28 22:29] edwardmedia commented on #7654
@drandell the UI option seems clear it supports 4GB. Somehow it does not match the API doc, which the Tearrform provider is based on. I have filed an issue against the related teams. Hopefully this discrepancy can get resolved soon.

[2020-10-28 22:33] edwardmedia commented on #7661
@mwohlin  Here is a [link](https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.44.0) you can check what the provider versions are available

[2020-10-28 22:35] ndmckinley commented on #7616
Got it.  This resource is largely not implemented with update support, adding our "large bug" tag because this needs a lot of work.  I'll try to get around to this one later this week, but it could be that this will have to wait for a migration we're planning on in early 2021 to a new way of managing resources which is more compatible with odd resources like this one.

[2020-10-28 22:36] venkykuberan commented on #7627
I am able to repro the behavior even without module

```eval: *terraform.EvalSequence, err: Provider produced inconsistent final plan: When expanding the plan for google_compute_route.route to include new values learned so far during apply, provider "registry.terraform.io/hashicorp/google" produced an invalid new value for .next_hop_instance_zone: was null, but now cty.StringVal("europe-west1-b").

[2020-10-28 22:44] edwardmedia commented on #7639
@red8888 I noticed you have filed another [issue](https://github.com/hashicorp/terraform-provider-google/issues/7662) . Are they the same questions? I am closing this one and using the other issue for tracking. Feel free to reopen it if you see a reason to keep two issues open.

[2020-10-28 22:44] #7639 closed

[2020-10-28 22:54] drandell commented on #7654
@edwardmedia okay maybe I should have been a bit more specific. Are you staying that the doc linked by yourself is the source of truth or this is as yet unknown?

[2020-10-28 23:03] ndmckinley commented on #7627
It is - you can duplicate this against the main issue we have open against core for this issue.

@Mayeu - Sorry for the inconvenience here, this is a persistent issue with the core way that a Terraform plan treats values that are unknown at plan time and only available mid-apply.  Is there any way for you to get that information other than depending on that resource's `zone` output?

[2020-10-28 23:07] #5320 closed

[2020-10-28 23:54] mikhail-khodorovskiy opened #7668 "Composer webseb_server_network_access removals are not detected."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-29 00:03] chrisst commented on #7587
If I remember correctly there were only 2 logging buckets that could be configured, Default and Audit, and they were pre-created for every project. There was no way to create or to delete them and thus this resource was more of a configuration of a singleton resource. The relevant excerpt from https://cloud.google.com/logging/docs/buckets is:

At the time there wasn't a unified way for handling si

[2020-10-29 00:06] ndmckinley commented on #7617
Similar to #7616, this resource is not implemented as well as it could be - it seems there were some API changes since we implemented it.  We should revisit this entire resource.

[2020-10-29 00:15] mhuxtable commented on #4593
I'm working on this one. Should have a functional integration with the `google_compute_instance` and `google_compute_instance_template` resources in the morning.

[2020-10-29 01:46] venkykuberan commented on #7646
Uncomment the `google` provider block and try it. If don't have the provider attribute in the resource config, tf picks the default `google` provider for creds, project, zone, region etc.

[2020-10-29 09:51] bartcode opened #7670 "`google_dataproc_cluster_iam` shows headers for `google_pubsub_subscription_iam`."
### Affected Resource(s)

* google_dataproc_cluster_iam
* google_pubsub_subscription_iam

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate e

[2020-10-29 09:55] enicholson125 opened #7671 "Recreating storage object doesn't recreate storage object ACL"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-29 11:59] rosmo commented on #2926
+1 to this.

[2020-10-29 12:13] rosmo commented on #2926
Hey @OmarDarwish,

Here's a workaround I used:

[code]
Then you can refer to the ID with `data.external.audience-id.result.id`. Hope this help!

[2020-10-29 13:28] drandell opened #7673 "VPC Connector -> Project Required"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-29 13:52] edwardmedia commented on #7671
I can repro this. `google_storage_object_access_control` is **recreated** in the 2nd apply

[2020-10-29 14:02] edwardmedia commented on #7673
@drandell `project` is optional if you have set the default project on your machine. One method is you can do it by providing environment variable `GOOGLE_PROJECT`. Here is the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#project) you may want to review. You may close this issue if this makes sense to you

[2020-10-29 14:09] drandell commented on #7673
Ah i see, no that makes sense. I will close this.

[2020-10-29 14:09] #7673 closed

[2020-10-29 14:15] mwohlin commented on #7661
@edwardmedia Thank you for the link. I set the google provider version to 3.44 and that did the trick.
[code]
I am able to run a plan and apply and create the url-map in a project.

Can you please look into why, as I posted above, without me specifying a version, Terraform told me it had installed the latest provider version of 2.5. This led me to believe I was actually running the latest version,

[2020-10-29 15:51] edwardmedia commented on #7661
@mwohlin I don't think Terraform does upgrade  automatically. Thinking of syntax differences between different versions, you might not want it being upgraded for you without your knowledge.... I am glad you found the fix, and I go ahead to close the issue then

[2020-10-29 15:51] #7661 closed

[2020-10-29 15:52] mhuxtable commented on #4593
Now implemented, comments welcome on #7669

[2020-10-29 18:44] kwri-avongluck opened #7674 "Poor documentation around load balancers and health checks"
1) I setup a healthcheck for our load balancer:

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_health_check

<img width="610" alt="Screen Shot 2020-10-29 at 1 34 33 PM" src="https://user-images.githubusercontent.com/40496582/97617766-2d6c9880-19ec-11eb-8e10-31d2794bd955.png">

2) It hasn't been working at google.  (No errors applying, it just isn't detectin

[2020-10-29 19:51] ahmetb commented on #7646
@venkykuberan Thanks for the advice. Since commenting-out `google` and having only `google-beta` still worked, I assumed `project = [...]` config can be picked up from `google-beta` as well ––however that was not the case.

Is that a bug that `google-beta { project = ... }` setting is not used properly when `google` provider is commented out?

[2020-10-29 19:51] ahmetb commented on #7646
Also we should probably keep this bug open because clearly some resources are able to print better error messages (https://github.com/hashicorp/terraform-provider-google/issues/7646#issuecomment-717565355) however some still aren't.

Similarly, I am not sure why these are not being caught during `plan` phase.

[2020-10-29 20:11] rileykarson commented on #7671
Probably a reoccurrence of https://github.com/hashicorp/terraform-provider-google/issues/2301

[2020-10-29 20:16] kwri-avongluck commented on #7674
Actually... it looks like the Note about having to use the legacy google_compute_http_health_check with network load balancers might no longer be correct?

Potential Solutions:
1. Mention needing to use the legacy healthcheck for Network Load Balancers on the google_compute_health_check page
2. Drop the Note from google_compute_http_health_check if it is no longer true.

[2020-10-29 20:29] #7614 closed

[2020-10-29 21:12] ldelossa opened #7677 "Need `abandon_on_delete` behavior for SQL User due to bug in GCP postgres delete behavior."
Hello I am having an issue. I'm setting up a gcp cloud sql instance. I reset the postgres user password, but when destroying the infra, it tries to delete the postgres user.
Error: Error, failed to deleteuser postgres in instance clair-indexer-main-8be49086:

[code]

(password is not sensitive, this is throw away)
can i tell terraform to not even try to delete that sql user?
it'll be deleted on it

[2020-10-29 21:35] yegle commented on #7464
It looks like https://github.com/hashicorp/terraform-provider-google-beta/pull/2651 just missed the v3.45.0 cutoff.

What's the release cadence for the beta provider? Thank you!

[2020-10-29 22:04] ndmckinley commented on #7464
It should be released next Monday.  :)

[2020-10-29 22:18] venkykuberan commented on #7642
Agree, Zone isn't required when region is given in the config.  Able to create hit the API with just region to create a data flow job

[2020-10-29 22:55] edwardmedia commented on #7677
@ldelossa what versions of your Terraform and the provider? Can you post the full debug log?

[2020-10-29 23:04] ldelossa commented on #7677
Terraform v0.13.4

Your version of Terraform is out of date! The latest version
is 0.13.5. You can update by downloading from https://www.terraform.io/downloads.html

Using google cloud provider.

log attached.

file:///home/ldelossa/Documents/log.txt

[2020-10-29 23:04] ldelossa commented on #7677
[log.txt](https://github.com/hashicorp/terraform-provider-google/files/5461722/log.txt)

[2020-10-30 00:51] ndmckinley commented on #7671
It does seem to be - if that's the case, this issue is best tracked there.  @enicholson125 please feel free to comment on that issue, but we believe this to be a core Terraform issue and not fixable in the provider right now.

[2020-10-30 00:51] #7671 closed

[2020-10-30 07:26] pietrodn opened #7679 "google_data_catalog_taxonomy, google_data_catalog_policy_tag: import not working"
I want to import the existing taxonomy and policy tag that I have manually defined in my project, but the import using the `google-beta` 0.45 provider does not work.
I am owner and "Policy Tag Admin" on the GCP project.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original is

[2020-10-30 10:18] yk-47 opened #7680 "App Engine API unnecessarily required for Datastore creation"
### Terraform Version

Terraform v0.12.29
+ provider.google v3.45.0

### Affected Resource(s)

* google_app_engine_application

### Summary
I'm trying run a terraform plan after I've imported `google_app_engine_application` for my datastore instance in my target project (PROJECT-B), I'm authtenticating to gcloud using a service account from my source project (PROJECT-A).

When running terraform pl

[2020-10-30 10:54] upodroid commented on #7656
Hi

This doesn't exist yet on Google Cloud. Terraform can only support products that Google has release and have an API to control them.

In the meanwhile:
- Open a feature request with Google directly.
- Use NetApp Cloud Volumes. They are regional nfs stores and much better than Filestore.

If this answers your question, please go ahead and close this issue.

Thank

[2020-10-30 10:56] upodroid commented on #7655
For reference: https://cloud.google.com/filestore/docs/reference/rest/v1beta1/projects.locations.backups

[2020-10-30 11:07] upodroid commented on #7680
Hi

The API has to enabled in the project that the service account belongs to.

For example, `gcloud compute instances create foo-bar --account terraform@potato.iam.gserviceaccount.com --project tomato` will only work if:
- Compute Engine is enabled on project tomato because this is the project that will hold the instance.
- Compute Engine is enabled on project potato because this is the project t

[2020-10-30 11:43] yk-47 commented on #7680
Hi @upodroid

Why is this not the case with other google apis?

[2020-10-30 11:48] upodroid opened #7681 "Fix the positions of some of the documentation entries."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-30 11:48] upodroid commented on #7680
Yeah

[2020-10-30 12:37] edwardmedia commented on #7679
The GET request URL is no correct

terraform import google_data_catalog_taxonomy.personal_data projects/my-project/locations/us/taxonomies/2286267978568221919

[code]

[2020-10-30 12:48] edwardmedia commented on #7680
@yk-47 does this make sense to you? You may close it if yes, or leave it open if you still have issues with it.

[2020-10-30 12:51] brettcurtis commented on #7611
No, it makes sense, I agree it's outside the provider. I'll create a support ticket with Google since I would expect the service account to become available after the API was enabled without actually invoking it.

[2020-10-30 12:57] edwardmedia commented on #7677
@ldelossa  it appears your issue has been addressed in https://github.com/hashicorp/terraform-provider-google/issues/7209
Close it then. Free free to reopen it if you want to continue the investigation

[2020-10-30 13:09] ldelossa commented on #7677
@edward2a I reviewed #7209 but wouldn't the solution be to just have terraform *not* attempt the deletion of the user at all? If the instance is deleted in the UI it will automatically delete the any users in that database instance as well.

[2020-10-30 13:11] ldelossa commented on #7677
Or rather, can we attempt that solution to see if it works some how?

[2020-10-30 13:15] jdsalaro commented on #5833
This is correct, until a while ago `allUsers` was added by default to any cloud function created, which required explicit removal.

A less elegant but likely more self-explanatory way to go about this at the time was to explicitly remove the IAM binding.

[code]

Also, the documentation has been updated accordingly at some point this year:

![image](https://user-images.githubusercontent.com/946289

[2020-10-30 13:27] yk-47 commented on #7680
This makes sense, thanks for the prompt response.

[2020-10-30 13:27] #7680 closed

[2020-10-30 13:42] ldelossa commented on #7677
@edward2a can we please re-open this. @ZPascal

I simply went into my TF state file and removed the "google_sql_user" block from the terraform state. The only api call then deleted the database instance and deleted the user with it.

[code]

can we please update terraform to *not* delete the google_sql_user resource? It will always cause this error. Terraform should *only* delete the database inst

[2020-10-30 13:43] matthias-froomle opened #7682 "Make google_monitoring_metric_descriptor display_name field optional"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-30 13:50] edward2a commented on #7677
Can you please @ZPascal read who you send the message to before you submit?

On Fri, 30 Oct 2020, 13:42 Louis DeLosSantos, <notifications@github.com>
wrote:

[2020-10-30 16:15] #7642 closed

[2020-10-30 16:26] ldelossa commented on #7677
Sorry Eduardo, that was my fault not ZPascal's

[2020-10-30 16:29] edward2a commented on #7677
No worries, have a nice Friday!

On Fri, 30 Oct 2020, 16:27 Louis DeLosSantos, <notifications@github.com>
wrote:

[2020-10-30 17:21] ogreface opened #7683 "region_backend_service doesn't support EXTERNAL"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-10-30 18:02] upodroid commented on #7681
I'll leave CRM resources alone and move the other resources/datasources.

[2020-10-30 18:06] rileykarson commented on #7681
I think blue+black make sense to keep there too! yellow+red sgtm

[2020-10-30 19:16] upodroid commented on #7681
I think that decision needs to be revisited for a few reasons:
- Docs are hosted in a new place.
- Resources/Datasources are searchable.

The switchover happened recently so we could come out say "new site and we shuffled some of the docs to line them up with their correct APIs and Google Docs."

[2020-10-30 20:13] ldelossa commented on #7677
@edwardmedia can we re-open please?

[2020-10-30 20:21] chaopeng opened #7685 "Support Healthcare Consent API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-30 21:01] rileykarson commented on #7681
Fair enough! I'll bring it up with the team in our triage monday and see if anyone else has any inputs.

[2020-10-30 21:03] upodroid commented on #7681
Great, in the meanwhile I'll fix the red and the yellow ones.

[2020-10-30 21:31] melinath opened #7686 "Add full example for OSLogin SSHPublicKey"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-30 21:37] ndmckinley commented on #7668
That's the right identification of the problem, for sure, but we do need it to stay Computed. This is a recurrence of https://github.com/hashicorp/terraform/issues/20505, which is an unresolvable upstream bug.

@mikhail-khodorovskiy - unfortunately there is currently no way to blank out a block - that is, a list of objects - when that list of objects has a default on the server side.  You will hav

[2020-10-30 21:37] #7668 closed

[2020-10-30 21:38] #7654 closed

[2020-10-30 21:40] c2thorn commented on #7686
Thanks for filing this @melinath ! I think this could go under tech-debt, but I'll let you all decide during triage.

[2020-10-30 21:50] #7597 closed

[2020-10-30 22:15] #4135 closed

[2020-10-31 05:24] ZPascal commented on #7677
@ldelossa Thank you for notifying us and pointing out your solution. I hope @edwardmedia opens the issue again.

I have opened a [Feature Request](https://issuetracker.google.com/issues/171235562) at GCP and was informed that there is also the possibility to delete users separately via an API call.

[2020-10-31 07:48] wvanderdeijl commented on #7455
Now that the first data source is merged, I’ll create the second data source which should complete this issue.

[2020-10-31 09:06] omelnyk1 commented on #7587
@chrisst  you're right. It seems custom named logging buckets were released only this summer. I think so, cause article https://cloud.google.com/blog/products/management-tools/cloud-logging-adds-log-buckets-feature was dated on August 21, 2020.

[2020-10-31 11:43] ldelossa commented on #7677
The need to perform a separate api call outside of terraform defeats my use case of integrated terraform into a public Quay/Clair builder i am working on. The point is to have terraform automate the process of creation and removal.

[2020-10-31 18:14] ZPascal commented on #7677
I completely understand that and I would prefer not to place a call outside Terraform.  I see Terraform as a central unit that should be able to create and clean up databases etc. Furthermore, the other Terraform plugins (Alicloud, AWS, Azure) offer this functionality and you can use these interfaces to create and clean up the necessary resources. I actually expect that the GCP plugin has the same

[2020-11-01 16:17] chriswdmr commented on #7295
Hey there,

maybe this is related. I publish with `gcloud builds submit --tag gcr.io/<project>/<name>` a new version of the image.
After that, I run the same config as above ➡️ no revision was created.

Also `autogenerate_revision_name` is set to `true`.

Is there a way to trigger a new revision if a new tag was submitted?

Thanks!

[2020-11-01 18:56] edwardmedia commented on #7605
@mr-andyd is [this](https://github.com/hashicorp/terraform-provider-google/issues/7609) similar to what you see?

[2020-11-01 19:02] edwardmedia commented on #7609
Here is [another case](https://github.com/hashicorp/terraform-provider-google/issues/7422) that seems similar

[2020-11-02 00:49] mr-andyd commented on #7605
@edwardmedia Apologies for not getting back sooner. Over the weekend I ended up upgrading Terraform from v0.12.18 to v0.13.5 and applied my module successfully. I am still unsure as to the reason why my replica was failing to create, however, I can confirm that I can no longer replicate the issue with the current Terraform version. I did nothing to change my modules other than upgrading my Terrafo

[2020-11-02 01:31] #7605 closed

[2020-11-02 03:57] edwardmedia commented on #7605
@mr-andyd I am glad upgrading solves your problem. Should I close this issue? Feel free to reopen it if you want to continue the investigation.

[2020-11-02 04:02] edwardmedia commented on #7662
@red8888 closing this as the examples show how to code. Feel free to reopen if you want to continue the conversation

[2020-11-02 04:02] #7662 closed

[2020-11-02 04:33] lc-chrisbarton opened #7689 "google_cloud_scheduler_job attribute retry_config does not maintain state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-02 10:46] txomon commented on #7652
Same thing applies to `google_compute_global_address`. The complete list of options enabled for both should be:

* GCE_ENDPOINT
* DNS_RESOLVER
* VPC_PEERING
* NAT_AUTO
* IPSEC_INTERCONNECT

For google_compute_address.purpose https://cloud.google.com/compute/docs/reference/rest/v1/addresses#Address.FIELDS.purpose
For google_compute_global_address.purpose https://cloud.google.com/compute/docs/refere

[2020-11-02 13:19] mvanholsteijn commented on #7624
Hashicorp Sentinel will handout clear-text secrets as well when you let it create mocks for you.

[2020-11-02 14:20] hashibot[bot] opened #7690 "Terraform 0.13.5 crash when creating GCS bucket"
_This issue was originally opened by @syedrakib as hashicorp/terraform#26771. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Plan

All other resources and modules have been created and refreshing successfully. Only thi

[2020-11-02 16:39] edwardmedia commented on #7674
Here is what [Health checks overview ](https://cloud.google.com/load-balancing/docs/health-check-concepts?_ga=2.186289837.-564592060.1584370165#selecting_hc )explains

[code]

[2020-11-02 16:43] laurenemms opened #7691 "`google_bigquery_table` doesn't support ORC format"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-02 16:57] syedrakib commented on #7690
Ok. After troubleshooting the GCS module that i used, turns out the `cors {}` line in it was the bad player. Removing that line helped. The bucket created successfully.

However, TF should produce a more reasonable error message than the crash.log that it produced. Is it something that can be addressed?

[2020-11-02 17:32] rileykarson commented on #7295
@chriswdmr: I think that's a variant of https://github.com/hashicorp/terraform-provider-google/issues/1938. When working with resources that can be updated out of band like files or images, Terraform doesn't consider whether the underlying resource has changed. If you've specified `gcr.io/<project>/<name>:latest`, it won't see a diff, and won't take any action. There isn't a great way to track pro

[2020-11-02 18:08] #7455 closed

[2020-11-02 18:15] rileykarson commented on #7583
Retriaging to enhancement, since this is closer to additive behaviour than a bugfix.

[2020-11-02 18:23] rvandegrift opened #7693 "Docs for google_monitoring_alert_policy have incorrect import instructions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-02 18:27] rileykarson commented on #7682
Based on the following, reclassifying to bug:

[2020-11-02 18:36] rileykarson commented on #7656
Thanks for filing! As @upodroid says, since this appears to be unsupported in GCP, there's not much we can do in the provider.

[2020-11-02 18:36] #7656 closed

[2020-11-02 18:41] upodroid commented on #7691
@venkykuberan there is another identical issue for the same field.

https://github.com/hashicorp/terraform-provider-google/issues/7653

I'll open to fix the valid options

[2020-11-02 18:42] rileykarson commented on #7604
ImportStateVerify does not follow diff suppress func rules, which is why this is disabled right now.

[2020-11-02 18:58] danawillow commented on #7604
Sure, but not all of them are fields where a DSF would be used, and setting the format of the field to the same one that's stored in state would also make it so a DSF isn't necessary.

[2020-11-02 19:02] rileykarson commented on #7604
Setting to the value in state is impossible because there's no value in state during the import step though, right?

It does seem possible to remove the `p.url_param_only` bit from the following rule at first glance:

[code]

[2020-11-02 19:31] jcanseco commented on #7642
Thanks for getting to this issue so quickly @venkykuberan!

[2020-11-02 19:38] edwardmedia commented on #6429
For **mesh istio**. is it **meshUid** for **meshid"?

From https://cloud.google.com/monitoring/api/ref_v3/rest/v3/services
[code]

From https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/
[code]

[2020-11-02 20:13] venkykuberan commented on #7690
Added the fix for crash/panic situation, however its advised not to use the empty (cors) block in the config, as API may not return any data for that object in the response. In that case TF stores nothing on your state file for the `cors` and the subsequent plan finds difference (perma diff) between your config & state.
 I would recommend either use the cors block with attributes or don't use it,

[2020-11-02 21:09] ndmckinley commented on #7677
@ldelossa @ZPascal

Unfortunately, no, we can't do that in the provider.  The ideal state would be "do not delete the user if the instance is about to be deleted as well", but Terraform does not allow us to modify the plan based on what is happening to other resources.

It would also be okay if we fixed the underlying issue, which is that deletions of postgres users are fraught - they require an a

[2020-11-02 21:24] ldelossa commented on #7677
@ndmckinley

I think thats the perfect solution. Simply having a flag which removes the sql user from the plan, the exact opposite of "deletion_protection" would solve the issue in a (IMO) flexible and elegant way.

[2020-11-02 23:11] venkykuberan commented on #7689
`retry_count` > 0 should work as expected. If don't want to have retry_config you can just ignore that block as its optional.

[2020-11-02 23:26] venkykuberan commented on #7691
Thank you @upodroid.

@laurenemms i am closing this issue as a duplicate. We have a work in progress here #7653 for the same field. I requested to include ORC in the source_format list.

[2020-11-02 23:47] ndmckinley commented on #7677
All right - we will go ahead and plan to implement that solution.  We'll triage this at our meeting next Monday, I expect that it will be prioritized, and we will have this to you as soon as we can.

[2020-11-03 08:53] avegao commented on #7402
This request is included in v3.46.0 in #7633

[2020-11-03 08:53] #7402 closed

[2020-11-03 09:31] #7606 closed

[2020-11-03 10:26] ZPascal commented on #7677
@ndmckinley That sounds very good and looks like a great solution. Thank you very much for your support.

[2020-11-03 11:51] TaylorMutch commented on #4485
Hi, any word on this? This is still a problem in version 3.46.0.

[2020-11-03 14:43] supersmo opened #7694 "Import of google_compute_project_metadata_item uses the provider default project instead of the project specified in the resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-03 15:51] Arconapalus opened #7695 "Using kms to encrypt buckets in cloud storage (google_storage_project_service_account)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-03 17:02] edwardmedia commented on #7693
@rvandegrift what the format of **{{name}}** did you put?
Below is what I see both **id** and **name**, and it is fine with me. Can you check?
[code]

[2020-11-03 17:13] rvandegrift commented on #7693
@edwardmedia - the bit you cited is the `name` field for the embedded `condition` block.  According to the docs `google_monitoring_alert_policy` has no `name` or `id` field - so I didn't include either.

But after import, `terraform state show google_monitoring_alert_policy.default` includes both `id` and `name`.  I wouldn't expect them to be required in the config, since they're computed from the

[2020-11-03 19:26] ndmckinley commented on #7646
If the resource is not in state, unfortunately the plan phase does not call into our code with the information we'd need to check whether the project is set, so this problem is not resolvable in our provider.  I do encourage you to open a bug in hashicorp/terraform with this as a motivating example - specifically what we would need is the provider configuration alongside the proposed configuration

[2020-11-03 20:14] edwardmedia commented on #7693
@rvandegrift  do you see both `id` and `name` under **Attributes Reference**? Does that make sense? Those are what I refer to. (I updated above context)

[2020-11-03 22:29] dogmatic69 commented on #7295
@megan07 It seems to have been behaving recently. Perhaps it was in a weird state, but after destroying and recreating things a few times I can now seem to do both manual and terraform deploys.

[2020-11-03 22:34] rvandegrift commented on #7693
I see those attributes, but that says:

But I never have needed to configured computed attributes to import before.  Are you saying that's a requirement here?

[2020-11-03 23:02] c2thorn commented on #7223
Removing the Milestone label so this can have the chance to be re-triaged

[2020-11-03 23:13] edwardmedia commented on #6429
- [x] cloud endpoints
has been removed from https://cloud.google.com/monitoring/api/ref_v3/rest/v3/services. Adding that DataSource is out of scope

[2020-11-03 23:35] danawillow commented on #7604
Ah I just meant use the same formatting. So if state stores the short name, then the test can use the short name and there would be no need for a DSF (same with a projects/x/service/y formatted name). url_param_only is going to depend on the resource, since some of those are create-time-only fields that don't have returned values from the API.

[2020-11-04 03:36] joshk0 commented on #7583
I disagree; this is an essential annotation for using `google_cloud_run_domain_mapping` so every single user of it will run into this issue, unless I'm mistaken.

By the way, the requirement for the BETA launch stage annotation was not originally there, and was added as a constraint later. I have resources in my tf state which are grandfathered in, it seems.

I think I'd rather have it set up so t

[2020-11-04 09:09] MarinoSerna commented on #7616
Hi,

I’m facing a similar error, in a similar situation:

I need to assign an existing group to a new user

I think it may be related to this issue, and hopefully it can be fix at the same time in the same release. It could be even a reason to speed-up the effort of solving the problem.
Otherwise I’ll open a new issue.

This requirement is critical, as it is the mechanism that we can use to grant

[2020-11-04 09:52] peter-fe commented on #6379
Same problem here, the wrong IP is taken from the range.
The Google API supports setting this, as well as the UI and gcloud.

Why is that rated as an enhancement? From a network perspective and also following the Google docs taking the network address is plain wrong.
A /30 network is defined to have exactly 2 usable IP addresses for the router interface and it's peer.

[2020-11-04 10:09] loozhengyuan opened #7696 "Support Cloud Domains API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-04 12:06] rosmo commented on #5889
Is there a reasonable workaround? (I don't consider `terraform taint` before apply a really good one)

[2020-11-04 12:28] jonathanrboniface commented on #7094
Can you provide any solutions to associate a snapshot with a google_compute_instance_template?

[2020-11-04 12:38] muscovitebob opened #7697 "google_bigquery_dataset does not support roles/bigquery.dataEditor/Owner/Viewer despite them being aliases for WRITER/OWNER/READER, producing endless diffs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-04 13:41] upodroid commented on #7697
Hi

Terraform is behaving as expected.

Have a look at the API documentation.

https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets

In `access[].role` it says the following:

This field will accept any of the above formats, but will return only the legacy format. For example, if you set this field to "roles/bigquery.dataOwner", it will be returned back as "OWNER"

Please ensure that

[2020-11-04 16:29] mvanholsteijn opened #7698 "container analysis notes IAM policy support"
### Community Note
* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are intereste

[2020-11-04 16:33] edwardmedia commented on #7693
@rvandegrift when you plan to import a resource, I guess you have already known what it is. We don't expect you to get the id/name from Terraform. Does this make sense? Are you able to find its `name` via other tools like GCP Console or gcloud?
I don't understand what you mean. I have verified the `import` command and it works for me. If that doesn't work for you, do you want to post your complete

[2020-11-04 18:40] #7697 closed

[2020-11-04 19:55] rvandegrift commented on #7693
@edwardmedia Yea, I have no problem getting the `name` - it looks like `projects/{{project_id}}/alertPolicies/{{alert_policy_id}}`.  My first post shows the invocation and error.

I think I figured out the issue.  In my case, `{{project_id}}` in `name` is a stackdriver workspace project - so it's different than the project configured on my provider instance.

Terraform should be able to handle thi

[2020-11-04 21:09] #7583 closed

[2020-11-04 21:58] rileykarson opened #7699 "Add support for Google Virtual Network Interface (gVNIC)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-04 22:00] Muhamed-Hamid opened #7700 "No option to select different service account for node pool"
When creating a new cluster under composer with custom service account, then associate a new node pool, it takes the default gke service account which brings access denied when trying to use this pool from composer. The option is available from google api but not available in tf.

[2020-11-04 22:01] #7646 closed

[2020-11-04 22:03] ahmetb commented on #7646
@ndmckinley I'm not entirely familiar with terraform internals, basically my main problem was that some resources print "which resource" was trying to fetch project ID:

    Error: Invalid value for ssl_certificates: project: required field is not set

it seems your commit might address that?

[2020-11-04 22:06] rileykarson commented on #4485
It's been a while, but this was a bigger problem than I expected, if I remember right. I'm triaging this as a `persistent-bug`, which means we'll pick it up in our triage process as if it was an enhancement request.

[2020-11-04 22:23] edwardmedia commented on #7693
@rvandegrift this follows the general pattern for other resources. You may file new [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?template=enhancement.md) for your suggestions. I am glad you found the solution to your issue. Do you still see issue with the doc? I am closing this now. Feel free to reopen if you need further discussion.

[2020-11-04 22:23] #7693 closed

[2020-11-04 22:38] ndmckinley commented on #7646
Yep!  Now all resources will print that for project.  I think I _just_ missed the release cut, so that should be released a week from Monday.

[2020-11-05 00:05] gengmao opened #7701 "Add additional components for dataproc 1.5"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-05 00:10] edwardmedia commented on #7700
@Muhamed-Hamid can you post your config code and then explain what you are trying to do?

[2020-11-05 00:50] #6603 closed

[2020-11-05 01:06] jakubpawlowski opened #7710 "Support CSCC security marks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-05 03:52] steren commented on #7583
I do not understand the previous comment. My request is about serving.knative.dev/creator and serving.knative.dev/lastModifier annotations. Launch stage should not be ignored.

[2020-11-05 08:58] Muhamed-Hamid commented on #7700
@edwardmedia You can find the below, it creates a node pool under my composer gke cluster, but doesn't have the same service account, instead it takes the default and i can't specify the service account in "google_container_node_pool". This results the no jobs can run from composer over this node pool.

[code]

[2020-11-05 09:47] Muhamed-Hamid commented on #7700
Sorry, you can close it. i found in the cluster details

[2020-11-05 09:47] #7700 closed

[2020-11-05 10:55] zkauker commented on #6065
@venkykuberan could we warm up this topic a little bit? In general there are multiple problems around importing (or just reading) budget resources:

1. Before the resource import there is an option to tokenize the import ID and extract information from that. This logic fails, so the import fails as well
2. After fixing this problem it turns out that the API changed because the details of the budge

[2020-11-05 13:44] upodroid opened #7724 "API Config Prefix field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-05 16:07] #7686 closed

[2020-11-05 18:55] #7701 closed

[2020-11-05 19:58] sethrandalldev opened #7728 "API Config name invalid"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-05 20:17] #7728 closed

[2020-11-05 20:18] sethrandalldev commented on #7728
I think this issue may be premature. I was not fully understanding the terraform documentation.

[2020-11-05 21:20] rileykarson commented on #7663
This is likely a similar case to https://github.com/hashicorp/terraform-provider-google/issues/7522

[2020-11-05 21:22] rileykarson commented on #7644
Hey @Claywd! This one is a bit of an unusual resource. Instead of provisioning it through the GCP API, it works by [making a handshake with an api, which causes the resource to get provisioned](https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/resources/resource_container_registry.go#L65-L66). What API would enable this feature?

[2020-11-05 21:25] rileykarson commented on #6135
I'm going to close this out. While the information is available and it would be _possible_, it's outside of the scope of what we'd like to do in the Terraform resource. If this becomes a part of the cloud function API, we'll gladly implement it, though.

[2020-11-05 21:25] #6135 closed

[2020-11-05 21:27] rileykarson commented on #7681
After consulting with the team, I think we're happy with the split as-is after your change! The project/folder/org resources (including service accounts) make sense to group together under a single label.

Closed by https://github.com/GoogleCloudPlatform/magic-modules/pull/4182

[2020-11-05 21:27] #7681 closed

[2020-11-06 00:43] wyardley opened #7731 "provider can't remove manually created CORS drift"
I'm seeing an idempotency issue where, if CORS settings are altered outside of terraform, the provider can't bring the resource back into line.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please

[2020-11-06 00:56] ScottSuarez commented on #7140
I just tested this in my local environment and found it to be working appropriately. I suspect this is due to an older version of the provider you are working with.

[2020-11-06 10:18] quentinms opened #7732 "Error 400 when updating a google_spanner_instance's config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-06 14:04] edwardmedia commented on #7731
@wyardley can you share the debug log?

[2020-11-06 14:05] edwardmedia commented on #7732
@quentinms can you share the debug log?

[2020-11-06 16:44] quentinms commented on #7732
@edwardmedia Added [a gist](https://gist.github.com/quentinms/fb986ab0dbc83faf5c8b5edc8d50dace) to the issue description.

[2020-11-06 16:46] wyardley commented on #7731
@edwardmedia I already "fixed" it in the original use case, but this is trivially reproducible

[code]
`policy.json`:
[code]

create the bucket and then
`% gsutil cors set policy.json gs://tmpbucket12349`

I'm not posting the full debug output, because even with resource targeting, some other stuff from my state shows up, but here's the part that I think is relevant; if that's not enough, I think

[2020-11-06 17:58] Dhanabalan-pop opened #7734 "Uptime config keeps re-creating whenever deploy is done"
resource "google_monitoring_uptime_check_config" "https" {
  project     = myproject
  display_name = "Uptime check"
  timeout = "10s"
  period = "60s"

  http_check {
    path = "/"
    port = "443"
    use_ssl = true
    validate_ssl = true
  }

  monitored_resource {
    type = "uptime_url"
    labels = {
      host = "myhost"
    }
  }
   lifecycle {
    create_before_destroy = true
    preven

[2020-11-06 19:24] steren commented on #7583
The PR ignores everything that contains `serving.knative.dev`, which is dangerous IMO, the request was only to ignore `serving.knative.dev/creator` and `serving.knative.dev/lastModifier`

[2020-11-06 19:27] joshk0 commented on #7583
My point was that most people are only using annotations to specify launch-stage, and that's only required because you can't use `google_cloud_run_domain_mapping` without using a launch-stage anymore. So I proposed that an alternative solution might include implying the beta launch stage whenever the domain mapping resource is used within terraform, and that might 'dodge' the problem rather than m

[2020-11-06 19:42] steren opened #7736 "google_cloud_run_domain_mapping require a specific annotation"
Domain Mappings for Cloud Run are a Beta feature. The Cloud Run API enforces the presence of a specific annotation when using any Beta feature:
[code]

I suggest Terraform to auto add this annotation when creating a `google_cloud_run_domain_mapping` resource.

Or alternatively, to better document this, notably by updating the [example on this page](https://registry.terraform.io/providers/hashicorp

[2020-11-06 19:47] melinath commented on #7501
It looks like the feature is only in the v1alpha API - is that accurate? If so, does the resource only go into the beta provider?

[2020-11-06 20:03] rileykarson commented on #7501
It's possible the cloud docs are behind the actual API available! Can you try hitting the GA endpoint with the path for this resource?

[2020-11-06 20:08] rileykarson commented on #7736
Tagged as bug because not having this annotation breaks the resource right now, after a breaking change in the API.

Note that we got this resource's lifecycle stage wrong. It should have only been added to the `google-beta` provider. It had a `v1` API, and the REST reference had no indicator it was non-GA: https://cloud.google.com/run/docs/reference/rest/v1/namespaces.domainmappings

We probably

[2020-11-06 20:21] c2thorn commented on #7683
Hi @ogreface , I wasn't able to get to this until now. If you weren't aware, the feature was released in [v3.46](https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.46.0). We aim to release on Mondays to allow for extra test time, so we likely wouldn't have released when you requested.

If it helps at all in the future, it is always an option to checkout this repository at the c

[2020-11-06 20:21] #7683 closed

[2020-11-06 20:30] ogreface commented on #7683
Thanks @c2thorn , appreciate it.

Building the provider is fine, but overriding in TFE is a bit more problematic. :) Regardless, I appreciate you following up on this, thanks again!

[2020-11-06 21:36] ndmckinley commented on #7583
I'll contact the author and see if they'd like to revise it.  You propose ignoring specifically and exclusively `serving.knative.dev/creator` and `serving.knative.dev/lastModifier`?

[2020-11-06 22:11] upodroid commented on #7583
Hey

I have used Knative and Cloud Run myself so i'm pretty confident there are no user settable annotations under the serving.knative.dev namespace.

I had a look at the API Spec for Knative Serving at https://knative.dev/docs/serving/spec/knative-api-specification-1.0/ and it looks like annotations like serving.knative.dev/* are set by other components of Knative that end users shouldn't be mani

[2020-11-06 22:13] cloudryder opened #7738 "google_compute_interconnect_attachment - updating bandwidth is replacing resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-06 22:46] edwardmedia commented on #7734
Yes, I can repro it.

[2020-11-06 22:54] edwardmedia commented on #7738
@cloudryder this is be design. Why do you think it should not recreate the resource?

[2020-11-06 23:38] ScottSuarez commented on #7583
I have a PR to restrict the annotations to the specific values that Cloud Run adds. Better to be precise about what we ignore imo.

https://github.com/GoogleCloudPlatform/magic-modules/pull/4202

[2020-11-06 23:41] cloudryder commented on #7738
Thanks for the response @edwardmedia . From the GCP Console we can edit the attachment to update the speed by increasing or decreasing it, without having to recreate the attachment.

Also, API reference
https://cloud.google.com/compute/docs/reference/rest/v1/interconnectAttachments/patch

[2020-11-07 00:10] slevenick commented on #7734
I think what is happening here is that there is a label being added to the `monitored_resource.labels` by the API. In our examples this is shown being set to the project id: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/monitoring_uptime_check_config#example-usage---uptime-check-config-https

If you add this `project_id` label does it fix the issue for you?

Like t

[2020-11-08 07:12] itmayziii opened #7741 "google_cloud_run_domain_mapping must be replaced"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-08 15:39] edwardmedia commented on #7731
I do see below change in the plan but the result of `apply` does not match the expected.
[code]

[2020-11-08 15:44] edwardmedia commented on #7738
I see
https://github.com/hashicorp/terraform-provider-google/blob/a4fd4d854cf6e0808a79c38f157631419dcd95e7/google/resource_compute_interconnect_attachment.go#L99

[2020-11-08 16:13] edwardmedia commented on #7741
I do see the issue https://paste.googleplex.com/5651860913389568
https://github.com/hashicorp/terraform-provider-google/issues/7736

[2020-11-09 06:04] syedrakib commented on #7690
Hey @venkykuberan . Yes you are right. It was certainly a bug from our side. We shouldn't have added empty cors block to begin with.

However, the error experience made it difficult for us to find out our mistake. Thanks for arranging the fix :)

[2020-11-09 06:05] syedrakib commented on #7690
BTW, is there any PR or merge that you can refer to for this fix?

[2020-11-09 13:16] Chupaka opened #7742 "Make strip_query in google_compute_url_map optional"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-09 14:12] avdheshs opened #7743 "Issue with private service access"
I am creating below resources
1. BAshion host
2. Kubernetes cluster
3. Cloud SQL instances
4. MEmcached
5. service account  using respoitory https://github.com/v1bh0r/konga-gke/

I am getting below error while running terraform plan for private access.

Error: Required attribute is not set

  on .terraform/modules/private-service-access/modules/private_service_access/main.tf line 43, in resource "

[2020-11-09 14:13] avdheshs commented on #7743
here are the version and provider files look like.
terraform {
  required_providers {
    google = {
      source = "hashicorp/google"
    }
    google-beta = {
      source = "hashicorp/google-beta"
    }
    random = {
      source = "hashicorp/random"
    }
    template = {
      source = "hashicorp/template"
    }
  }
  required_version = ">= 0.13"
}

provider "google" {
  version = "~> 3.44.0

[2020-11-09 14:18] avdheshs commented on #7743
![image](https://user-images.githubusercontent.com/4152143/98552431-77932b00-22c4-11eb-9ef5-9861c3ff5ca4.png)

[2020-11-09 14:32] avdheshs commented on #7743
Debug file is having 30K lines above snippet from the log files only

[2020-11-09 14:56] avdheshs commented on #7743
When I comment below in memcached.tf file plan generated successfully but apply failed.

#module "private-service-access" {
#  source      = "GoogleCloudPlatform/sql-db/google//modules/private_service_access"
#  version = "4.2.0"
#  project_id  = var.project
#  vpc_network = module.network_non_prod.google_compute_network_network.name
#}

[2020-11-09 15:14] avdheshs commented on #7743
I ran after commenting above in memcached.tf and got below error.
google_container_node_pool.private-np-1: Creation complete after 54s [id=projects/lending-point-poc/locations/us-east4-b/clusters/private-cluster/nodePools/private-np-1]

Error: Error creating GlobalAddress: googleapi: Error 400: Invalid value for field 'resource.prefixLength': '16'. The field cannot be specified with external addre

[2020-11-09 15:19] IamGabrielWu opened #7744 "Failure import google_project_iam_member with Error Error: Cannot find binding for "project \"<project id>\"" with role "roles/custom_pubsub_roles", member "serviceAccount:<service account id>@<project id>.iam.gserviceaccount.com", and condition title """
this is main.tf in my module
[code]
And this is my terragrunt file
[code]

I tried to import existing google_project_iam_member then i got this error. I don't get why it keeps looking for `\<project id>\`

My project id is  in this form xxx-xx,  such world-xxx.  Don't know how come the error came out with `\` surrounded project id.
I ran this command to import

[code]
Error like below
[code]

[2020-11-09 15:24] mvanholsteijn opened #7745 "container analysis notes IAM policy support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-09 16:16] c2thorn opened #7746 "Fix TestAccComputeImage* tests"
Also: `TestAccComputeInstanceTemplate_imageShorthand`

Likely, the default `raw_disk.source` we use is no longer available: https://storage.googleapis.com/bosh-cpi-artifacts/bosh-stemcell-3262.4-google-kvm-ubuntu-trusty-go_agent-raw.tar.gz

We should figure out what the replacement should be and use that instead.

[2020-11-09 16:35] jayenzo opened #7747 "Error: Cannot determine region: set in this resource, or set provider-level 'region' or 'zone'."
it seems I'm getting the following error when applying this terraform config

when I remove network and subnetwork inside the resource block it works

[code]

[2020-11-09 16:47] c2thorn opened #7748 "Fix TestAccDataSourceGameServicesGameServerDeploymentRollout_basic"
Flaky(?) error:
[code]

[2020-11-09 16:50] c2thorn opened #7749 "Fix TestAccComputeInstanceMigrateState_scratchDisk & _v4FixScratchDisk"
Looks like we just need to use different instance features:
[code]

[2020-11-09 16:53] c2thorn opened #7750 "Fix TestAccFilestoreInstance* tests"
Getting a ` After applying this test step, the plan was not empty.` error for these tests. Looks like a diff remains in `file_shares`

[2020-11-09 16:56] c2thorn opened #7751 "Fix TestAccOrganizationPolicy"
Seems like a permission issue:
[code]

[2020-11-09 16:57] c2thorn opened #7752 "Fix TestAccAccessContextManager tests"
Multiple failures from `Error 400: Org owning policy must have license`

[2020-11-09 17:17] #7724 closed

[2020-11-09 17:19] slevenick commented on #7736
@steren I believe this annotation will not be enforced anymore. Will it be enforced again in the future, or for other annotations?

[2020-11-09 17:25] edwardmedia commented on #7747
@jayenzo  can you post your config and the steps how to reach the error?

[2020-11-09 17:32] Dhanabalan-pop commented on #7734
thanks..it works after adding project_id under labels

[2020-11-09 17:32] #7734 closed

[2020-11-09 17:36] rileykarson opened #7754 "Supply ignore_warnings on bigtable_app_profile create requests"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-09 17:40] slevenick commented on #7732
I can reproduce this, and the issue is that `config` is not added to the fieldMask under any circumstances. I think that is intentional though, as when I add it to the fieldMask I get the following error: `Error 501: Changing the configuration of an existing instance is not supported.`

Other than the interesting choice of error code #, I think updating `config` is not supported and what we actual

[2020-11-09 17:41] rileykarson commented on #5697
I believe this is https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/project_service_identity?

[2020-11-09 17:43] slevenick commented on #7738
This is an enhancement request rather than a bug

[2020-11-09 17:45] Dhanabalan-pop opened #7755 "Bigquery dataset access is getting removed and added whenever something is deployed"
### Affected Resource(s)

* google_bigquery_dataset

resource "google_bigquery_dataset" "bq_dataset" {
  project     = var.project_name
  dataset_id  = var.dataset-id
  location    = var.location

  access {
            role          = "READER"
            group_by_email = var.hr_group_email
         }
  access {
            role          = "roles/bigquery.user"
            group_by_email = var.hr

[2020-11-09 17:49] jayenzo commented on #7747
[code]

[2020-11-09 17:50] jayenzo commented on #7747
If I uncomment the network and subnetwork portion it throws the errorn related to
module.gke_cluster.google_container_cluster.primary: Creating...

[code]

[2020-11-09 17:56] #7600 closed

[2020-11-09 17:59] slevenick commented on #7741
Unfortunately this is tricky. It appears that several annotations are added by the API automatically, and Terraform is trying to remove them (which causes it to try to destroy them)

This is actually intentional Terraform behavior, and there is not a reasonable way for us to detect that *some* fields in the annotations map are intentional and some aren't. By adding the `annotations` field with `"r

[2020-11-09 18:03] venkykuberan commented on #7694
When importing an existing resource the config should have just the name of the resource like below

 `resource "google_compute_project_metadata_item" "enable_oslogin" {
 }`

Can you remove the attributes in your config and try importing ?

[2020-11-09 18:04] quentinms commented on #7732
Recreating the instance sounds good. I was actually surprised when I first planned that it would update in-place.

[2020-11-09 18:04] slevenick commented on #7741
Hm, actually there may be a way to do this. Will investigate

[2020-11-09 18:05] ndmckinley commented on #6640
Agree - I must have forgotten to close this or reassign it.

[2020-11-09 18:05] #6640 closed

[2020-11-09 18:06] melinath opened #7757 "Move cloud identity apis to ga"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-09 18:14] #7140 closed

[2020-11-09 18:15] ScottSuarez commented on #7140
Closing this as I could not encounter this scenario. If you upgrade and run in to similar issues please feel free to reopen.

[2020-11-09 18:39] rileykarson commented on #7698
Closing as a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/7745- are these issues different?

[2020-11-09 18:39] #7698 closed

[2020-11-09 18:43] rileykarson commented on #7677
I think there's precedent elsewhere for a field called `deletion_policy`, so you could write:

[code]

[2020-11-09 18:52] melinath commented on #7598
b/172669603

[2020-11-09 19:15] brs opened #7758 "google_iam_testable_permissions missing permssions without stage"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-09 19:17] edwardmedia commented on #7743
@avdheshs can you post the configs that you are used to create the mentioned resources?

[2020-11-09 19:41] #7679 closed

[2020-11-09 19:47] #7590 closed

[2020-11-09 19:48] #7690 closed

[2020-11-09 19:50] #7748 closed

[2020-11-09 20:05] edwardmedia commented on #7758
@brs from provider's perspective, there is no change since it was released 6 months ago. I am not sure what you had and what you see now. We don't have control over how API behaves. Below is its API doc and it seems all those parameters are supported. Are there anything we can help?

https://cloud.google.com/iam/docs/reference/rest/v1/permissions/queryTestablePermissions

[2020-11-09 20:15] edwardmedia commented on #7747
@jayenzo  did you run the above config directly (removing module code)? With `subnetwork` uncommented, what do you see? If it still fail, can you post your debug log?

[2020-11-09 20:18] edwardmedia commented on #7744
@IamGabrielWu I don't have experience with `terragrunt`. Can you try to run import using terraform directly? If fails, can you post the config and the import script?

[2020-11-09 20:25] steren commented on #7736
Because the feature is in beta, is preferred for client to set the
annotation.

On Mon, Nov 9, 2020, 09:19 Sam Levenick <notifications@github.com> wrote:

[2020-11-09 20:49] pietrodn commented on #7679
Thank you! I'll try it as soon as a new version is released. 👍

[2020-11-09 20:55] brs commented on #7758
@edwardmedia The issue is that in the data source code, if the user does not specifiy a stage, the code defaults to GA. The change I would be looking for is to not send the stage with the API call because there are permissions that don't have a stage.

I just checked with the API (I had been using gcloud commands) and the example permissions I provided earlier are included in the results.

[code]

[2020-11-09 20:59] #7738 closed

[2020-11-09 20:59] #7732 closed

[2020-11-09 20:59] jayenzo commented on #7747
not I didn't run the resource directly I ran this module infront

[code]

[2020-11-09 21:55] jayenzo commented on #7747
Hey I've attached the debug output
[terraform.txt](https://github.com/hashicorp/terraform-provider-google/files/5513491/terraform.txt)

[2020-11-10 00:09] edwardmedia commented on #7758
@brs  Please take a look at the **request-body** schema from below link. It appears API does not take `stage` as you wanted. Does this make sense?

[code]

https://cloud.google.com/iam/docs/reference/rest/v1/permissions/queryTestablePermissions#request-body

[2020-11-10 00:15] edwardmedia commented on #7747
@jayenzo we need to isolate if this is the provider issue or the module issue. I encourage you to run your above code directly to create the resource. I can't repro your issue. Let me know if the issue remains.

[2020-11-10 01:15] #7741 closed

[2020-11-10 01:15] #7695 closed

[2020-11-10 02:59] IamGabrielWu commented on #7744
OK @edwardmedia  as you wish.

main.tf
[code]
I ran this script and still got below error
[code]
[code]
the project Id is surrounded with `\` .
And my project id is like comanyname-env, for example, microsoft-test.  Don't know it has issue with project name.

[2020-11-10 03:22] IamGabrielWu commented on #7744
And also below is what i use
[code]

[2020-11-10 03:51] avdheshs commented on #7743
I am using many different files along with 2 modules.
resource "google_container_cluster" "cluster" {
  provider = google-beta

  name     = var.cluster_name
  project  = var.project
  location = var.zone

  network    = module.network_non_prod.google_compute_network_network.self_link
  subnetwork = module.network_non_prod.google_compute_subnetwork_subnetwork.self_link

  logging_service    = "log

[2020-11-10 03:52] avdheshs commented on #7743
#module "private-service-access" {
#  source      = "GoogleCloudPlatform/sql-db/google//modules/private_service_access"
#  version = "4.2.0"
#  project_id  = var.project
#  vpc_network = module.network_non_prod.google_compute_network_network.name
#}

module "memcached_non_prod" {
  source = "../modules/memcached"
  project = var.project
  region = var.region
  name = "memcache-non-prod"
  network

[2020-11-10 03:52] avdheshs commented on #7743
resource "google_compute_global_address" "private_ip_address" {
  provider = google-beta

  name          = format("%s-priv-ip", var.cluster_name)
  purpose       = "VPC_PEERING"
  address_type  = "INTERNAL"
  prefix_length = 16
  network       = module.network_non_prod.google_compute_network_network.self_link
}

resource "google_service_networking_connection" "private_vpc_connection" {
  provider

[2020-11-10 03:52] avdheshs commented on #7743
Network Module

[2020-11-10 03:52] avdheshs commented on #7743
module "network_non_prod" {
  source = "../modules/network"
  project = var.project
  region = var.region
  zone = var.zone
  env = "non-prod"
  service_account_iam_roles = var.service_account_iam_roles
  service_account_custom_iam_roles = var.service_account_custom_iam_roles
  project_services = var.project_services
  cluster_name = var.cluster_name
}

[2020-11-10 03:52] avdheshs commented on #7743
provider "google" {
  version = "~> 3.44.0"
  credentials = file("gcp-credentials.json")
  project = var.project
  region  = var.region
  zone    = var.zone
}

provider "google-beta" {
  version = "~> 3.44.0"
  credentials = file("gcp-credentials.json")
  project = var.project
  region  = var.region
  zone    = var.zone
}

provider "random" {
  version =  "~> 2.2.1"
}

provider "template" {
  vers

[2020-11-10 03:53] avdheshs commented on #7743
// Required values to be set in terraform.tfvars
variable "project" {
  description = "The project in which to hold the components"
  type        = string
}

variable "region" {
  description = "The region in which to create the VPC network"
  type        = string
}

variable "zone" {
  description = "The zone in which to create the Kubernetes cluster. Must match the region"
  type        = string

[2020-11-10 03:53] avdheshs commented on #7743
Network.tf

resource "random_id" "service_account_suffix" {
  byte_length = 4
}

// Create the GKE service account
resource "google_service_account" "gke-sa" {
  account_id   = format("clstr-node-sa-%s", random_id.service_account_suffix.hex)
  display_name = "GKE Security Service Account"
  project      = var.project
}

// Add the service account to the project
resource "google_project_iam_member"

[2020-11-10 06:31] IamGabrielWu commented on #7744
I also tried with project id unlike xxx-xx, i also get the same issue. Maybe it does not relates to form of project id.

[2020-11-10 06:49] jmthvt commented on #7652
This is already in beta, it just needs to be promoted to GA.

[2020-11-10 11:52] rafstef opened #7769 "google_composer_environment always must be replaced"
When we launch terraform, in every case, also without change the behavior is resource replace.
Is it normal?

We must re-deploy the cluster every time ?

[2020-11-10 12:21] playersons opened #7770 "unable to provide value for app_yaml_path in app_engine_flexible_app_version"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-10 13:48] edwardmedia commented on #7769
@rafstef Normally no. If you update certain attributes, which may force to recreate the resource.  If you don't change any attribute, certainly not. Could you give details about whether you have updated fields and if yes, what they are? I could take a close look.

[2020-11-10 14:43] edwardmedia commented on #7770
@playersons below is the official doc you may reference. Is the file `app.yam` available in the `https://storage.googleapis.com/my-project-id.appspot.com/hello-world.zip`? If not, can you try by adding it into the zip?

https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#cloudbuildoptions

[2020-11-10 14:50] edwardmedia commented on #7743
@avdheshs because you have many modules, it makes difficult to identify the problems. Can you try by creating each resource one by one? If necessary, hard-coded the variables.

[2020-11-10 14:59] playersons commented on #7770
@edwardmedia thanks for your reply, the app.yaml is in the .zip archive.

[2020-11-10 15:07] brs commented on #7758
Thank you for your response. I think I am not communicating the issue clearly enough. I am NOT asking to send the stage in the API call, I'm actually asking for the option to not use stage at all as there are permissions that don't have this attribute.

[2020-11-10 17:05] edwardmedia commented on #7770
@playersons did you try by something like below if it is at the root of zip file?

[code]

[2020-11-10 17:22] playersons commented on #7770
@edwardmedia appreciate your support, my tf code looks like this here:
[code]

[2020-11-10 17:29] playersons commented on #7770
thank you, @edwardmedia appreciate your support. my tf code looks like this here
[code]

[2020-11-10 17:42] c2thorn opened #7772 "Update database_version default or make required"
### Description

As @upodroid has stated [here](https://github.com/GoogleCloudPlatform/magic-modules/pull/4210#issuecomment-724297566) the default value for `database_version` could be updated to `MYSQL_5_7`. Alternatively, we could make the field required and force the user to acknowledge the version. Either way, these are breaking changes and should be considered for 4.0

### New or Affected Res

[2020-11-10 17:56] upodroid commented on #7699
This doesn't exist in the generated go client yet.

https://raw.githubusercontent.com/googleapis/google-api-go-client/master/compute/v0.beta/compute-gen.go and search for "type NetworkInterface"

Also:

- We need to add GVNIC to this enum too:
https://github.com/GoogleCloudPlatform/magic-modules/blob/6c09b5a5a9a9cff255cd074f433d4d446c24c705/products/compute/api.yaml#L5547
- Amend the Instance Temp

[2020-11-10 18:05] #7621 closed

[2020-11-10 18:29] edwardmedia commented on #7758
@brs the default is set to ["GA"]. To change the behavior, I update the label to **enhancement** for triage

https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/iam_testable_permissions#stages

[2020-11-10 18:32] edwardmedia commented on #7770
@playersons  can you share the file structure of your `hello-world.zip`? Did you have app.yaml at root?

[2020-11-10 19:02] edwardmedia commented on #7744
@IamGabrielWu what do you see if you add **serviceAccount:** in front of the service account?

[code]

[2020-11-10 19:03] venkykuberan commented on #7755
@Dhanabalan-pop config seems right, you shouldn't see any perma diffs. I don't see it happening on my end. Can you please share your plan output and include the  terraform version you are using ?

P.S. - In future please follow the template while raising the issue as It helps us to narrow down the problematic area.

[2020-11-10 19:54] c2thorn opened #7774 "Add at_least_one_of to google_compute_packet_mirroring.filter"
https://github.com/hashicorp/terraform-provider-google-beta/blob/master/google-beta/resource_compute_packet_mirroring.go#L148
`google_compute_packet_mirroring` `filter` field can be set to an empty list. We should make at least one of `filter.cidr_ranges` or `filter.ip_protocols` required in configs to avoid potential diffs with the API.

[2020-11-10 20:27] jcanseco opened #7775 "google_storage_transfer_job -- notification_config field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-11 00:16] krishna4ldw opened #7777 "Composer ip_allocation_policy Issue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-11 01:02] zbjornson opened #7778 "Incorrect docs for google_service_account_iam"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-11 02:18] sulantha2006 opened #7779 "Google Cloud Run update image after creation"
I am trying to use Cloud Run with ESP V2. This requires me to

1. Reserve a cloud run address by deploying a dummy cloud run instance.
2. Use the address and API spec file to build an endpoints container image
3. Update the service created at step 1 with the image created at step 2.

Extra details are https://cloud.google.com/endpoints/docs/openapi/get-started-cloud-run#reserve_hostname

Can you s

[2020-11-11 08:21] playersons commented on #7770
this is the content of my hello-world.zip
[code]

[2020-11-11 12:39] rafstef commented on #7769
We need to update the env_variables but this behavior is always the same.
If I change or not my terraform code, my plan/apply destroy and re-create my composer.

The resource is

resource "google_composer_environment"

I am creating a private environment with this option

private_environment_config {
        enable_private_endpoint = true
 }

[2020-11-11 14:05] edwardmedia commented on #7777
@krishna4ldw can you share your config?

[2020-11-11 14:14] edwardmedia commented on #7778
@zbjornson that statement is correct. Closing this issue then. Feel free to reopen it if you have code backing your thought.

[2020-11-11 14:14] #7778 closed

[2020-11-11 14:51] edwardmedia commented on #7779
@sulantha2006 I don't think you can do it. Terraform maintains one state.  What you are trying to do seems involving multiple states, which is against TF pattern. Does this make sense to you?

[2020-11-11 15:38] sulantha2006 commented on #7779
Yes. I figured it, just wanted to know if there is a workaround.

So the only way to achieve this is to do step 1 with TF and 2,3 with an external script. I also will have to add disregard_modifications to step 1. Thank you.

[2020-11-11 15:38] #7779 closed

[2020-11-11 15:45] edwardmedia commented on #7769
@rafstef yes, this is by design. Changing private_environment_config will trigger recreate the resource

https://github.com/hashicorp/terraform-provider-google/blob/2be0beb3757bb10e60669ef4b60c99d67c611c71/google/resource_composer_environment.go#L296

[2020-11-11 15:50] edwardmedia commented on #7770
@playersons what error do you get? Can you post the full TF debug log (you mentioned the log not available, can you explain why?)

[2020-11-11 16:30] ggprod opened #7780 "support for new backend bucket cdnPolicy settings (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-11 16:52] playersons commented on #7770
@edwardmedia I was trying to say that TF does not provide very much information in its debug log but does refer to the Cloud Build log instead. This is what TF provides:

[code]

and this is what's there in Cloud Build:

[code]

[2020-11-11 17:49] zbjornson commented on #7778
@edwardmedia the examples on that page include:

[code]

The `"roles/iam.serviceAccountUser"` role "Allows members to indirectly access all the resources that the service account can access" ([ref](https://cloud.google.com/iam/docs/impersonating-service-accounts#allow-impersonation)).

I created a `google_service_account_iam_binding` with that role like the one I pasted above, and the GCP console

[2020-11-11 18:29] krishna4ldw commented on #7777
Never mind i find the root cause.
earlier i used empty string for cluster_ipv4_cidr_block , services_ipv4_cidr_block that caused issue . I changed to null
      cluster_ipv4_cidr_block       = null
      cluster_secondary_range_name  = "<pods name>"
      services_ipv4_cidr_block      = null
      services_secondary_range_name = "<services name>"
      use_ip_aliases                = true

[2020-11-11 18:33] rileykarson opened #7781 "Ensure that GoogleCloudPlatform/terraform-google-conversion builds, automate building it"
We let tgc break, as seen with a PR like https://github.com/GoogleCloudPlatform/magic-modules/pull/4215 to fix it. We should ensure we've fixed it, and make sure that the Magician builds it so that we don't break it again in the future.

[2020-11-11 19:16] rileykarson commented on #7663
Reopening- I think we want this to appear on the original resource page too, not just the service identity resource. This is about improving the discoverability of `google_project_service_identity`.

[2020-11-11 19:16] rileykarson commented on #7522
Reopening- I think we want this to appear on the original resource page too, not just the service identity resource. This is about improving the discoverability of `google_project_service_identity`.

[2020-11-11 19:31] rileykarson commented on #7522
Re-opening, I was too fast for the robot.

[2020-11-11 19:31] rileykarson commented on #7663
Re-opening, I was too fast for the robot.

[2020-11-11 19:56] #7777 closed

[2020-11-11 20:07] Dhanabalan-pop commented on #7755
Terraform will perform the following actions:
  # module.bigquery_test_dataset_module.google_bigquery_dataset.bq_dataset will be updated in-place
  ~ resource "google_bigquery_dataset" "bq_dataset" {
        creation_time                   = 1576811777338
        dataset_id                      = "test"
        default_partition_expiration_ms = 0
        default_table_expiration_ms     = 0

[2020-11-11 20:31] upodroid commented on #7522
Any specific page @rileykarson?

[2020-11-11 20:48] rileykarson commented on #7522
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudbuild_trigger for this issue

[2020-11-11 21:36] #7522 closed

[2020-11-11 22:09] #7757 closed

[2020-11-11 22:32] melinath commented on #7750
It looks like the API is returning nfsExportOptions, which was not set by terraform. It seems like probably a new default returned by the API.

[2020-11-11 23:14] supersmo commented on #7694
Yes, the import succeeds using the default project set in the provider config.
That is not what I want to achieve though.

In my case I expected the imported resource to use the project specified in the resource block rather than the default project in the provider. I've seen this work for other resources... although I'm not sure if  in all of those cases the project was taken from the import id o

[2020-11-12 02:12] venkykuberan opened #7788 "Storage test failure due to recent code push"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-12 07:34] IamGabrielWu commented on #7744
I found out reason why i failed to import
I import custom role, which means
[code]
the id has to be `$PROJECT projects/$PROJECT/roles/$ROLE_NAME serviceAccount:$ACCOUNT_ID@$PROJECT.iam.gserviceaccount.com`

which is dfiferent from pre defined roles.
id is like
[code]
case can close @edwardmedia  thanks for your attention.

[2020-11-12 08:31] txomon opened #7789 "google_redis_instance inconsistent plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-12 12:02] tek08 commented on #7736
I think there's a still a bug here, though maybe a different bug...  With this annotation set, terraform insists on replacing the mapping even if nothing has changed.  I've taken to commenting out the annotation once the mapping is created initially, such as to not cause teardowns of existing infra.

Here's the reasoning terraform insists on the replacement, which lends me to think that #7583 (whi

[2020-11-12 14:49] laurenemms commented on #7691
Hi! Is it possible to reopen this? I noticed that this change was [considered out of scope of that PR](https://github.com/GoogleCloudPlatform/magic-modules/pull/4155/files#r520275350).

[2020-11-12 14:58] rafstef commented on #7769
The cluster is already created with private_environment_config = true. When I run terraform, without any code change, the behavior is re-deploy.

[2020-11-12 15:10] upodroid commented on #7691
I don't agree with the assesment in https://github.com/GoogleCloudPlatform/magic-modules/pull/4155/files#r520275350

Tests are not required for relaxing ValidateFuncs. It is the job of the enduser to supply valid values.

@slevenick Do you agree?

[2020-11-12 16:30] slevenick commented on #7736
Hey @tek08 that should be fixed with the next release via: https://github.com/GoogleCloudPlatform/magic-modules/pull/4209

[2020-11-12 16:53] cornmander opened #7790 "google_compute_organization_security_policy_rule creates permadiff on match description"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-12 17:49] rileykarson opened #7792 "Add support for new cdnPolicy settings in google_compute_backend_service (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-12 18:18] rileykarson commented on #3100
The discussion here was a while ago, but it seems reasonable to me to support this as a `google_storage_bucket_object_contents` datasource based on making the call with the `alt=media` parameter set. That avoids introducing (potentially secret) contents to users' state files, but provides a first-class way of getting at them.

[2020-11-12 19:12] melinath commented on #7750
b/173061584 TLDR a default that was already being set is now also being returned by the API.

[2020-11-12 19:24] slevenick commented on #7691
I'd say it could be added to that PR, but I wouldn't require them to add it. I'll reopen this as the format can be added in a separate PR

[2020-11-12 19:30] venkykuberan commented on #7755
The diff you posted says that terraform identified a change in your config that legacy format is replaced with `roles/xx/xx` format which isn't recommended approach.

We have a note for this in our [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigquery_dataset)

[code]

[2020-11-12 21:38] rileykarson opened #7797 "Merge in actual IAM policy bindings in terraform-google-conversion"
See b/172575813 for details. It's valuable for Terraform Validator to be able to compare policies against full changes to IAM instead of individual memberships or bindings.

Mappers to update:
- [x] Project https://github.com/GoogleCloudPlatform/terraform-validator/pull/180
- [x] Storage Bucket https://github.com/GoogleCloudPlatform/magic-modules/pull/4618 https://github.com/GoogleCloudPlatform/te

[2020-11-13 00:17] trodge opened #7798 "compute_external_vpn_gateway lacks resource labels"
The TF provider implementation for compute_external_vpn_gateway does not have a field supporting resource labels. Is there a reason why some resources support labels and not others? Labels exist in the underlying REST API representation of the resource, but cannot be set using TF provider.

[2020-11-13 00:27] justyns opened #7799 "Datastore index fails to create after 21 retries"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-13 10:04] antoinecastex opened #7800 "Google API Service Account problem"
Hello

Just have discovered something wrong happening when i create my project with TF

In the same time i also enable APIs like Compute ou Cloud Build

That mean in the same time the Service Account of each API is created automatically and managed by Google

That's work

But normally the last step is the IAM part, i mean Cloud Build SA needs to be Cloud Build Service Account

And that's not the c

[2020-11-13 13:52] antoinecastex opened #7801 "Project creation"
After create a project with TF by using a specific service account

The SA inherit the OWNER role on this project

That's not so beautiful

Do you recommend to add another step in TF which will remove the SA from OWNER IAM ?

[2020-11-13 14:20] hashibot[bot] opened #7802 "Terraform import crashes for google_project_iam_custom_role resource"
_This issue was originally opened by @jenniebrown as hashicorp/terraform#26900. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

https://gist.github.com/je

[2020-11-13 14:46] upodroid commented on #7801
Hi

Please use the issue template.

That behaviour is not specific to terraform. Google grants Owner role to the identity that creates a project.

I don't see why you would want to remove that. The google_project resource executes https://cloud.google.com/billing/docs/how-to/modify-project#permissions_required_for_this_task_3 as part of setting the billing account on a project which you can't do w

[2020-11-13 14:48] antoinecastex commented on #7801
You right this is not specific to Terraform

I'm just saying to you think it's acceptable to let the SA Owner, or do you recommend to remove it at the end of the operation ? :)

[2020-11-13 14:49] upodroid commented on #7801
It is acceptable because the identity is used for other operations in the project.

[2020-11-13 15:08] #7801 closed

[2020-11-13 16:56] upodroid commented on #5359
@rileykarson We can close this issue as it has been fixed in https://github.com/GoogleCloudPlatform/magic-modules/pull/4224

[2020-11-13 17:00] upodroid commented on #2652
@rileykarson We can close this too. The name arg in the doc specifies formats for both project and org level custom roles

[2020-11-13 17:57] edwardmedia commented on #7800
@antoinecastex can you share your Terraform config?

[2020-11-13 17:58] melinath commented on #7501
Turns out this is also going to be blocked by https://github.com/hashicorp/terraform-provider-google/issues/7752, since I need to test it with the other Access Policy tests (which are what that bug represents). 😂

[2020-11-13 18:03] #5359 closed

[2020-11-13 18:03] rileykarson commented on #5359
Thanks @upodroid!

[2020-11-13 18:17] #7685 closed

[2020-11-13 18:20] #7691 closed

[2020-11-13 18:35] antoinecastex commented on #7800
Yes

terraform {
backend "gcs" {
bucket = "xxx"
}
}
variable "PROJECT_ID" {
description = "Project ID"
type = string
}
variable "BUDGET_PROJECT_ID" {
description = "Project ID for the Budget"
type = string
}
variable "PROJECT_NAME" {
description = "Project name"
type = string
}
variable "FOLDER_ID" {
description = "Folder ID of the project"
type = string
}
variable "BILLING_ACCOUNT" {
description

[2020-11-13 18:46] #7749 closed

[2020-11-13 18:47] #7754 closed

[2020-11-13 19:22] melinath commented on #7752
b/173221359

[2020-11-13 19:24] melinath commented on #7598
b/172675017

[2020-11-13 19:26] melinath commented on #7598
Confirmed tests are passing again - see b/172675017

[2020-11-13 19:26] #7598 closed

[2020-11-13 20:24] rileykarson opened #7807 "b/169147582"
2021/02/11 note: This is a request for multiple resources that will remain ACL'd indefinitely, but who we're able to add to the beta provider regardless.

[2020-11-13 20:55] edwardmedia commented on #7799
I see the same bahavior

[2020-11-13 21:21] melinath commented on #7752
b/171604360

[2020-11-13 21:22] edwardmedia commented on #7800
@antoinecastex what service account(s) are you talking about? I see you have `google_project_iam_binding` and do you have other **iam policy* for each resource? Following is the iam resource example for compute instance.

[code]

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance_iam

[2020-11-13 21:48] #3164 closed

[2020-11-13 21:48] #7539 closed

[2020-11-13 22:28] edwardmedia commented on #7798
`label` is supported in API (below). Added labels to `enhancement` for triage

https://cloud.google.com/compute/docs/reference/rest/v1/externalVpnGateways

[2020-11-13 23:23] paddycarver opened #7810 "google_sql_database_instance can break refresh when activation_policy is set to NEVER"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-13 23:45] paddycarver commented on #7810
This was resolved in v3.19.0 by #6162, but that was meant for when the parent instance is _deleted_, and so it removes the sql_user and sql_database from state entirely. In this case, the instance is still there, but off, and so removing the user and database from state means when the database is turned back on, they'll need to be imported, which isn't ideal.

It sounds like the right thing to do

[2020-11-14 00:50] edwardmedia commented on #7769
@rafstef it is fine with me. I can't repro the issue with below code. Can you share your state and debug log for your 2nd plan?

[code]

[2020-11-14 00:53] edwardmedia commented on #7744
@IamGabrielWu I am glad you have figured it out. I am closing the issue then

[2020-11-14 00:53] #7744 closed

[2020-11-14 00:55] edwardmedia commented on #7743
@avdheshs Is this still an issue? If yes, can you identify which specific resource causes the issue?

[2020-11-14 05:40] matthewblain opened #7811 "google_logging_project_sink does not work for automatically created sinks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-14 13:42] tillias commented on #3089
I have following warning when using suggestions provided in this ticket:

[code]

Is this expected to be so?

[2020-11-14 17:55] antoinecastex commented on #7800
@edwardmedia  i'm talking about SA of Cloud Build for example

On my TF code as you can see i'm enabling some APIS , one of them is Cloud Build, and i'm also giving permission to the people who ask the project, that mean for Cloud Build they will be Cloud Build ADMIN OK ?

But the problem is that, when you enable the API of Cloud Build for example (you can try in the UI console) it create a SA for

[2020-11-14 18:34] minherz opened #7812 "google_app_engine_standard_app_version fails if "entrypoint" parameter is not defined"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-14 21:55] andrewm4894 commented on #5320
Does anyone know where i might find an example of how to use `email_preferences` - have been looking around but unable to find and example.

[2020-11-15 05:00] edwardmedia commented on #7800
@antoinecastex I see what you mean now. What you needed is the IAM resources for Cloud Build, very much like the one I mentioned above for the compute instance. The IAM resources are separate. They are not created automatically when you create their corresponding resources. Unfortunately the Could Build IAM are not available yet. You may file an [enhancement](https://github.com/hashicorp/terraform

[2020-11-15 05:00] #7800 closed

[2020-11-15 05:12] edwardmedia commented on #7811
@matthewblain was this error from the first `terraform apply` or 2nd `apply`? If this is the first, did you run `terraform import`?

[2020-11-15 05:21] edwardmedia commented on #7812
It appears the `entrypoint` should have been a required field.

[2020-11-15 06:08] matthewblain commented on #7811
@edwardmedia  First apply fails with the 'create' error. After trying import... well it seems it can run in one of two paths, one seems to work! This may be less severe than I thought.

* Path one: The unique_writer_identity flag is different -> "~ unique_writer_identity = true -> false # forces replacement" -> failure on delete of _Default. See attached
[elidedlog2.txt](https://github.com/hashico

[2020-11-15 23:09] edwardmedia commented on #7811
@matthewblain because the error was `alreadyExists`, that is why I asked if your run was 1st or 2nd apply. It does not make sense if that was 1st try. Your successful running `import` seems to prove that error message `alreadyExists` was correct. Does this make sense?  If you can repro the error message when you try to create a fresh resource, please post the debug log, and I can take a close look

[2020-11-15 23:12] edwardmedia commented on #7743
Closing this issue as assuming it is no longer an issue.

[2020-11-15 23:12] #7743 closed

[2020-11-15 23:13] edwardmedia commented on #7747
@jayenzo  is this still an issue?

[2020-11-16 02:52] edwardmedia commented on #7789
@txomon can you share the full debug log?

[2020-11-16 02:55] edwardmedia commented on #7790
@cornmander can you share the debug log for `terraform plan`?

[2020-11-16 04:35] matthewblain commented on #7811
@edwardmedia It happened on the first apply.

The key here is that every Google Cloud project has several resources which always exist. That includes the `_Default` log sink. These resources can neither be created nor deleted. However, a number of properties on them can be changed, and thus it makes sense to be able to manage them with a tool like Terraform.

The other bug I referenced calls these

[2020-11-16 08:21] minherz commented on #7812
Is there a way to define it as a bug in the documentation?

[2020-11-16 09:37] Chupaka commented on #3089
@tillias Also, `list("")` can be shortened to `[""]` :)

[2020-11-16 10:07] antoinecastex opened #7814 "IAM ressource for Google APIs enabled"
Following my problem

https://github.com/hashicorp/terraform-provider-google/issues/7800#issuecomment-727515474

The action which is : give specific permission to the SA created by the API when you enable it, is not done when you do everything throug TF

Specially Cloud Build

Enabling API of CB with TF , create the SA, but the SA has not the appriopriate permissions automatically assigned ..

[2020-11-16 13:52] edwardmedia commented on #7814
@antoinecastex when you enable Cloud Build, gcp created the `<project_id>@cloudbuild.gserviceaccount.com` for you. I guess it is the SA you are referring to. Did you say this SA does not have enough permissions? Can you be more specific what permissions are missing? I assume these permissions were assigned when you enable the API through other methods. Please provide steps so I can repro the issue

[2020-11-16 13:59] antoinecastex commented on #7814
That's exactly the SA that i have in mind @edwardmedia

SA does not have enough permission ... no he has NOTHING, he is not having any permissions .. that's the problem

Normally (you can reproduce that by enabling API CB in the Console) he would have Cloud Build Service Account Role ...

[2020-11-16 14:22] edwardmedia commented on #7811
I see. Change label to `enhancement` (reference the work https://github.com/hashicorp/terraform-provider-google/issues/7587)

[2020-11-16 14:26] edwardmedia commented on #7814
@antoinecastex  can you post the terraform config code that you used to enable the CB api?

[2020-11-16 14:33] antoinecastex commented on #7814
The same as here https://github.com/hashicorp/terraform-provider-google/issues/7800#issuecomment-727515474

@edwardmedia  i giv an array with multiple apis to enable in this code during the project creation , and  lets gooo

nothing more !

[2020-11-16 16:17] edwardmedia commented on #7814
@antoinecastex I see your below code but no clue what services were you enabling. If you did successfully enable
the API, it is up to the GCP service that assigns the necessary permissions to the default SA. At this moment, I am not convinced as that process is beyond Terraform provider. It is still possible the plugin handles inappropriately, that is why I need the details. Can you post the code

[2020-11-16 17:01] antoinecastex commented on #7814
Example for one the var.APIS value passed for the last project created 👍 ["bigquery.googleapis.com", "storage-component.googleapis.com", "cloudfunctions.googleapis.com", "run.googleapis.com", "datastore.googleapis.com", "dataflow.googleapis.com", "apigateway.googleapis.com", "appengine.googleapis.com", "sql-component.googleapis.com", "redis.googleapis.com", "storagetransfer.googleapis.com", "iap.g

[2020-11-16 17:02] antoinecastex commented on #7814
you can see @edwardmedia  APIs are enabled , but the IAM permission related to the API are not set by TF .... I was thinking this was the job of Google when you say : i want this API  even if it's throug UI or throug TF ... but finally not

[2020-11-16 17:27] slevenick opened #7816 "TestAccDataSourceCloudIdentityGroups_basic"
Fix TestAccDataSourceCloudIdentityGroups_basic

[2020-11-16 17:27] slevenick commented on #7816
Error:
[code]

[2020-11-16 17:29] slevenick opened #7817 "TestAccIAMBetaWorkloadIdentityPoolProvider_*"
Failing with plan not empty:
[code]

[2020-11-16 17:31] slevenick opened #7818 "Fix TestAccLoggingOrganizationSink_disabled and _described"
These were added via https://github.com/GoogleCloudPlatform/magic-modules/pull/4233 but the tests seem to have bad configurations.

[2020-11-16 17:31] #7677 closed

[2020-11-16 17:32] slevenick opened #7819 "Fix API gateway VCR tests"
These reliably fail due to generating unique ids within the TF resource. Should fix by avoiding this, or skipping these tests

[2020-11-16 17:34] #7746 closed

[2020-11-16 18:02] #7674 closed

[2020-11-16 18:05] edwardmedia commented on #7770
@playersons I am able to deploy a sample to `app engine flexible`.  I have the `app.yaml` at the root and it is good for me.  I suspect the zip file structure. How did you create the zip file? What do you see by run `vim hello-world.zip`?

[2020-11-16 18:07] ldelossa commented on #7677
Thanks for taking this on so promptly! Will a new release of the provider be required? Thinking about how I can test this out.

[2020-11-16 18:14] edwardmedia commented on #7814
@antoinecastex can you repro the issue? Did you say no single permissions assigned to the CB SA?

[2020-11-16 18:27] ndmckinley commented on #7677
Yep!  We do release cuts every Wednesday for release the subsequent Monday, so this should be out a week from today.  You can also try building from head by cloning the repo into your `$GOROOT` at master, then running "make" in that directory, then re-running `terraform init` in your terraform directory.  Upgrading after that can be a little finicky, though, and I can't find good documentation abo

[2020-11-16 18:29] edwardmedia commented on #7814
@antoinecastex look at your code, your project is a fresh. you enabled the APIs right after the project creation. There is a possible reason that something are not ready in a fresh project when some services are enabled. In that case, we may have to workaround it in the Terraform level which adds `delay` logic. Can you repro the issue on a old project?

[2020-11-16 18:38] tibers opened #7823 "GKE cluster nodepools don't wait for cluster to exit RECONCILING state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-16 18:53] upodroid commented on #7819
FYI there was some char limits on the resource which isn't documented by Google

[2020-11-16 18:55] ldelossa commented on #7677
Thanks for the heads up, I can afford to be patient on this one, so I'll wait for the release. :)

[2020-11-16 18:56] upodroid commented on #7819
Talked about it in https://github.com/GoogleCloudPlatform/magic-modules/pull/4193

Case ref is 25747924

[2020-11-16 19:22] #7788 closed

[2020-11-16 19:30] cagataygurturk commented on #7299
@ndmckinley this issue can be closed now :)

[2020-11-16 19:43] ndmckinley commented on #7299
Ah of course, thank you.  :)

[2020-11-16 19:46] rileykarson commented on #2652
Tracks with me. Thanks!

[2020-11-16 19:46] #2652 closed

[2020-11-16 19:47] antoinecastex commented on #7814
That's very interesting @edwardmedia  i have to just enable cloudbuild.googleapis.com on a project with the ressource google_project_service  and  ... the SA has been created + IAM permissions

So you are very close to the truth .... delay is mandatory ? but strange ?  how many time ?  do you recommend me maybe to make a pause between every APIs that i enable ?

Have you see this issue ?

https://

[2020-11-16 20:11] FromZeus opened #7826 "Add data source for Composer environment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-16 20:55] edwardmedia commented on #7814
@antoinecastex this is not mandatory. Based on how each API was built, some APIs may take longer time. Some may return `done` while the internals are still in the middle of process. In the Terraform layer, we don't have insights other than relying on the returns of status. How long does the delay (pause) needs? Case by case.
Sorry about the inconvenience. I am closing this issue then. Feel free to

[2020-11-16 20:55] #7814 closed

[2020-11-16 20:55] rileykarson commented on #7812
We could label the issue `documentation`, but this is a schema issue too.

[2020-11-16 21:35] rileykarson commented on #7802
This is an old resource that expects a certain import format (`projects/my-project/roles/myCustomRole`). I'll update it to expect the series of formats we normally accept.

[2020-11-16 21:41] edwardmedia commented on #7769
@rafstef is this still an issue with you?

[2020-11-16 22:56] jliukai opened #7827 "app engine creation Error 403: The caller does not have permission"
I want to create a new google app engine
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/app_engine_application

my project is in a GCP organization.
my gcp service account(terraform.json) has the following permissions: "project > editor; App engine creator; organization administrator". I cannot find `roles/resourcemanager.projectCreator` permission

Here is my tf fi

[2020-11-16 23:52] venkykuberan commented on #7827
@jliukai  To assign a `Project Creator` role to svc, you need to assign it under Org level, a level above the project. If you are trying it on Cloud Console, It can be done under the `Identity Organization` menu on the console. Hope that helps.

[2020-11-17 01:04] bleything opened #7828 "cloud scheduler HTTP bodies should be base64-encoded"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-17 02:14] jliukai commented on #7827
fixed. ok GCP has bad UI.
I kept going to project level, instead of org level.
Select org level and project level at the top bar. to get to org level, just select the org, no project, then IAM. should see a smaller list of permissions and it has a drop down "project creator" permission.

[2020-11-17 02:14] #7827 closed

[2020-11-17 02:32] currankaushik opened #7829 "master_global_access_config repeatedly shows up in Terraform plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-17 05:18] edwardmedia commented on #7828
`A base64-encoded string.` from the [doc](**https://cloud.google.com/scheduler/docs/reference/rest/v1beta1/projects.locations.jobs#HttpTarget**) . Update the document accordingly. Change label to document

[2020-11-17 05:31] edwardmedia commented on #7829
similar error https://github.com/hashicorp/terraform-provider-google/issues/7097

[2020-11-17 08:16] pietrodn commented on #7679
I confirm the import works. However I'm observing another problem: Terraform wants to replace the policy tag on the imported resource because it wants to "add" the taxonomy attribute:

[code]

Adding the `lifecycle` block seems to be an effective workaround:
[code]

[2020-11-17 08:49] ocervell commented on #3851
Hello, any updates here ?

[2020-11-17 17:42] c2thorn commented on #7679
@pietrodn So the import is successful, but if you immediately run `terraform apply` it will show new diffs? This is a different problem but a problem nonetheless. Do you mind opening another issue with your repro steps?

[2020-11-17 18:31] edwardmedia commented on #7747
@jayenzo I am closing this issue now. Feel free to reopen it once you can help isolate where the issue issue.

[2020-11-17 18:31] #7747 closed

[2020-11-17 18:33] edwardmedia commented on #7769
Closing now assuming it is no longer an question

[2020-11-17 18:33] #7769 closed

[2020-11-17 18:35] #7214 closed

[2020-11-17 18:35] edwardmedia commented on #7770
@playersons  Is this still an issue? If yes, as I suggested, double check the zip file structure, or post the result by running vim  command.

[2020-11-17 18:36] edwardmedia commented on #7789
@txomon is this still an issue?

[2020-11-17 18:37] edwardmedia commented on #7790
@cornmander is this still an issue?

[2020-11-17 19:48] nyetsche opened #7832 "compute ssl-certificates: beta -> v1"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-17 19:55] edwardmedia commented on #7832
Changing label to `enhancement` to enable **v1**

[2020-11-17 19:56] xingao267 commented on #7658
Any chance we can prioritize this? This is needed by urgent customers.

[2020-11-17 20:28] rileykarson commented on #7799
@justyns: Mind checking if this is still happening? I'm not seeing it- I wonder if the API was having trouble returning operations in time a few days ago.

[2020-11-17 21:00] paxorus opened #7833 "Docs: Example is invalid, since conditions can't be set on primitive roles"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-17 21:19] rileykarson commented on #7818
@ScottSuarez: mind taking a look?

[2020-11-17 21:31] ScottSuarez commented on #7818
looking

[2020-11-17 21:42] rileykarson commented on #7823
We can call https://github.com/hashicorp/terraform-provider-google-beta/blob/master/google-beta/resource_container_cluster.go#L2649 from https://github.com/hashicorp/terraform-provider-google-beta/blob/master/google-beta/resource_container_node_pool.go#L1083 (probably before the node pool level check) to do this, I think

[2020-11-17 22:42] edwardmedia commented on #7833
@paxorus it works fine with me using below code. After `tf apply`, I saw the new user added with the `Editor` role. Can you share the code you used and the debug log?

[code]

[2020-11-17 22:53] justyns commented on #7799
Thanks @rileykarson  - I just tried the example code in my post again and it is working fine now with no changes:

[code]

So I think you're right that it was probably a temporary API issue.

Is it worth changing the logic in the provider to use a different api to check the status of the index (instead of relying on the operation status), or to fallback to checking the index status if the operatio

[2020-11-17 23:54] upodroid opened #7836 "Regional Managed SSL Certificates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-18 00:20] hashibot[bot] opened #7837 "Example or guide for deriving the config information from an existing infrastructure (GKE) and importing it to terraform management"
_This issue was originally opened by @StevenACoffman as hashicorp/terraform#26525. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

Is there an example or how-to guide for deriving the config information from an existing (non-TF) GKE cluster using [the container cl

[2020-11-18 00:26] #7818 closed

[2020-11-18 01:14] autumnw opened #7839 "Support attributes for google_bigtable_table column_family"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-18 08:16] playersons commented on #7770
the zip file structure is as follows:
[code]

[2020-11-18 10:45] quentinms opened #7840 "When destroying & creating a Spanner instance, its database isn't recreated with it"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-18 11:07] kladiv commented on #6953
+1

[2020-11-18 13:56] toumorokoshi opened #7841 "google_compute_instance network_ip selflink reference causes re-creation."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-18 15:21] upodroid commented on #7837
Hi

Managing resources created outside of terraform is straight forward. You will need to import the resource in to the state.

Importing resources to terraform is well documented and a tutorial is available on Hashicorp Learn.

The google provider documents the import format for this resource which is found at the bottom of https://registry.terraform.io/providers/hashicorp/google/latest/docs/reso

[2020-11-18 15:43] etiennelandais opened #7842 "Firestore index timeout on creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-18 16:21] paxorus commented on #7833
Hi, @edwardmedia! Thanks for getting back to me. Would you be able to retry that snippet with a condition? I had meant the "With IAM Conditions" example in the docs:
[code]

Here is our exact code:
[code]

For the debug log, getting this log will be a little challenging with our current setup, so I would prefer not to do it unless we believe it will definitely help. Our current setup requires us t

[2020-11-18 16:57] edwardmedia commented on #7840
Yes, we have to apply twice to restore the database. Not sure if there is a proper way that the Terraform code can be configured to reflect the underlying relationship.

[2020-11-18 17:04] edwardmedia commented on #7841
Given the fact that the state only keeps the ip data instead of the reference, I am not sure if that is possible for not recreating the instance.

[2020-11-18 17:17] venkykuberan commented on #7823
I am moving this issue to enhancement bucket, we will work on once it gets triaged.

[2020-11-18 17:23] matthewblain commented on #7587
It appears that google_logging_project_bucket_config  and google_logging_project_sink have different philosophies as to how they manage this sort of 'singleton' resources, as I found out and filed in #7811 .

Issue #1561 (and followups) about App Engine is a similar philosophical question... one which I'm rather familiar with, having worked on and documented that when on the App Engine team. And I

[2020-11-18 17:23] edwardmedia commented on #7833
@paxorus  got it, you are right.  Thank you

[2020-11-18 17:33] goodspark opened #7844 "Terraform does not enforce only-one-of google_compute_url_map.path_matcher.route_rules.match_rules on full_path_match, prefix_match, or regex_match"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-18 17:39] edwardmedia commented on #7770
@playersons looks like there is a folder `hello_world` at the root, and app.yaml is in that folder (not at the root). You may try below command to create the zip file. Let me know if you see the difference
[code]

[2020-11-18 17:41] edwardmedia commented on #7789
Closing this as assuming this is no longer an issue.

[2020-11-18 17:41] #7789 closed

[2020-11-18 17:42] edwardmedia commented on #7790
Closing this as assuming this is no longer an issue

[2020-11-18 17:42] #7790 closed

[2020-11-18 17:54] edwardmedia commented on #7842
@etiennelandais we had an [issue](https://github.com/hashicorp/terraform-provider-google/issues/6692) in creating indexes but that appears different. Your config looks good. I wonder if API experienced difficulties in returning operation responses during that period. Mind try again to see if the issue go away?

[2020-11-18 18:54] edwardmedia commented on #7844
@goodspark help me understand what your case is. What you want is `Terraform should not have allowed this configuration to go through.` Did you make any config change before you run `apply`? On the other side, how to handle the situation when someone wants to update the configuration?

[2020-11-18 20:00] mbrancato opened #7846 "Export subnet attributes from google_compute_network with auto subnets"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-18 21:09] jseris commented on #7356
@upodroid @slevenick Thanks for your investigations.

However, I have tested this with v0.14.0-rc1 and I am still encountering the same issue. You should be able to reproduce it again with the exact same code as I described in this issue.

[2020-11-18 21:54] #6429 closed

[2020-11-18 22:03] yashbhutwala opened #7848 "How to stop cloudsql instance using this terraform provider"
https://cloud.google.com/sql/docs/postgres/start-stop-restart-instance#stop

Be able to do what this gcloud command does with terraform:

[code]

[2020-11-18 22:04] keerthi0489 opened #7849 "Destroying "google_composer_environment" terraform resource disables cloud composer API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-18 22:51] #7849 closed

[2020-11-18 22:53] keerthi0489 commented on #7849
Not a bug, config error in the setup.

[2020-11-18 23:04] dskdas commented on #7799
issue happened multiple times for me today. i had to eventually do a terraform import of the datastore indexes to allow me to continue.

[2020-11-18 23:44] ahmetb opened #7850 "Add google_cloud_run_locations data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-19 05:23] edwardmedia commented on #7848
@yashbhutwala `activation-policy` is supported in `sql_database_instance`. Below is its doc

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_database_instance#activation_policy

[2020-11-19 08:54] etiennelandais commented on #7842
Hello @edwardmedia

Indeed this issue doesn't seems to be related to mine.

I've just run terraform apply on my project and the issue is still here.

To add more information, I've run the following commands at different times of the deployment:

`gcloud firestore indexes composite list`
`gcloud firestore operations list`

At the begining of the deployment :

`---
metadata:
  '@type': type.googleap

[2020-11-19 11:55] tetsuya0617 opened #7851 "Error: error creating NodePool: googleapi: Error 404: Not found: projects/hoge-dev/zones/asia-northeast1-a/clusters/hoge-tf., notFound"
### Terraform Version

[code]

### Affected Resource(s)

gke

### Terraform Configuration Files

gke.tf
[code]

### Debug Output

This is the output from the below command.

`TF_LOG=debug terraform apply > output.log`

[code]

### Expected Behavior

No error with the deployment of the private cluster on the GKE.

### Actual Behavior

This error occurs but the cluster itself is created on the GKE b

[2020-11-19 12:35] playersons commented on #7770
the app.yaml file is present at the root:
[code]

[2020-11-19 12:52] wvanderdeijl opened #7852 "Handle 3rd-party identities in IAM correctly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-19 13:29] yashbhutwala commented on #7848
I see!  OK thanks @edwardmedia!  💯

[2020-11-19 13:29] #7848 closed

[2020-11-19 14:06] edwardmedia commented on #7770
@playersons there is just one file needed which is the `gs://my-service-bucket.appspot.com/hello-world.zip`. `app.yaml` is at the root of `hello-world.zip` file.If you don't want to recreate the zip file, you may also try removing **./** from the 2nd one of your original list

"./hello-world/app.yaml"   ---> "hello-world/app.yaml"

[2020-11-19 14:09] edwardmedia commented on #7851
@tetsuya0617 can you share the full debug log?

[2020-11-19 14:40] tetsuya0617 commented on #7851
No, I do not have any reason.
I already tried to execute the terraform command as you wrote above but I still got the same error.

[2020-11-19 16:32] edwardmedia commented on #7851
@tetsuya0617 can you share your full debug log?

[2020-11-19 16:41] edwardmedia commented on #7852
This appears to be a legit case

[2020-11-19 16:48] edwardmedia commented on #7770
@playersons Below structure indicates the app.yaml file is NOT at the root of the zip file. I tested my suggestion and it works for me. Please try what I have suggested. Closing this issue as it can't be reproduced.

[code]

[2020-11-19 16:48] #7770 closed

[2020-11-19 17:04] ahmetb commented on #7850
Internal context for Googlers: we are trying to develop a Terraform equivalent of [serving traffic from multiple regions guide](https://cloud.google.com/run/docs/multiple-regions), having this would be necessary to publish such a sample.

[2020-11-19 17:38] edwardmedia commented on #7842
@etiennelandais Can you try to add [timeout](https://www.terraform.io/docs/configuration/resources.html?&_ga=2.74577754.91921133.1605645248-671278361.1584370291#operation-timeouts) to see it that helps?

The default timeout for this resource is 10 minutes. Did it take more than that?

[2020-11-19 17:54] schaffino opened #7853 "concurrent google_storage_bucket_iam_member calls result in googleapi: Error 412: Precondition Failed, conditionNotMet"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-19 18:22] slevenick commented on #7356
Reopening to allow comments, will immediately close again.

@jseris if you are still seeing the same issue with 0.14.0 you may want to raise this issue with the Terraform core team. I believe this issue is due to the interaction between `for_each` and `create_before_destroy` as described in the linked issue.  This issue is not unique to this provider or to the resources you are using, so there's n

[2020-11-19 18:22] #7356 closed

[2020-11-19 18:25] rileykarson opened #7854 "Add retries to Cloud Run 409s on Create"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-19 18:35] rileykarson commented on #7840
This is an occurrence of an upstream issue in Terraform's resource model (https://github.com/hashicorp/terraform-plugin-sdk/issues/122) for which we're not aware of any solution, unfortunately. Since there's nothing we can do here, I'm closing this out.

[2020-11-19 18:35] #7840 closed

[2020-11-19 18:38] rileykarson commented on #7799
If either of you are able to capture debug logs, I'd be interested in seeing what the create request prior to the operation GET that 404's looks like. That should be the request right before https://gist.github.com/justyns/57d8af0a59c6364d8546558b609e9cda#file-datastore-index-fail-to-create-log-L8 in the original gist.

I've tried to repro this a few more times, and it hasn't failed for me yet.

[2020-11-19 19:46] venkykuberan commented on #7853
@schaffino what's the behavior if you re-run failed config? is it succeeding ?. Looks to me more of an API concurrency issue.

[2020-11-19 21:22] carolguo-dd commented on #7609
@edwardmedia  is there any update on this case? or if there's a workaround for it?

[2020-11-19 21:57] socketbox opened #7855 "Error in formatting online documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-19 22:24] tibers opened #7856 "Allow us to configure default providers with google_identity_platform_oauth_idp_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-19 22:58] carolguo-dd commented on #7609
I think it maybe it's because we created the replica instance with maintenanceWindow attributes, and now those attributes persists, as I can see those attributes from
[code]

Is it possible to remove this setting from gcloud cli or ui so that future modification can happen ?

[2020-11-19 23:06] edwardmedia commented on #7856
@tibers  what do you mean `providers (or default providers)`? I am not sure if that is a Terraform [provider](https://www.terraform.io/docs/providers/index.html). Can you explain a little more details about what you are trying to do?

[2020-11-20 01:08] #7731 closed

[2020-11-20 01:24] wyardley commented on #7731
Thanks @c2thorn @edwardmedia

[2020-11-20 01:34] tetsuya0617 commented on #7851
The full debug log seems to be  too much long, so I copied a part of the log about the google API request fail below.

[code]

[2020-11-20 06:28] merceskoba opened #7859 "host_rule will always be reordered"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-20 13:42] eliasscosta commented on #1504
Another feature nice to have is the possibility to set numbers of workers.

[2020-11-20 15:06] tibers commented on #7856
OK so we're working with the Identity Platform API's Identity Provider component in gcloud, which has some functionality in the google-beta provider.

My understanding of the IDP config is from the first refs link so the code should be something like:

[code]

In the docs I see a list of `app_id`s which I believe setup the Identity Providers which can be something like `apple.com` or `facebook.com

[2020-11-20 15:23] schaffino commented on #7853
It will succeed the next time as there is only one permission being applied on the second run. If you remove both permissions and run it again it will hang again. There are no API rate limits being hit that i can tell.

I have done a quick test with gsutil doing the same thing

With two terminals

[code]

and

[code]

This does surface periodic errors of the form

gslib.cloud_api.PreconditionExcep

[2020-11-20 16:02] edwardmedia commented on #7851
@tetsuya0617 the problem is likely the sequence,  creating the `node` happens before creating the `cluster`. Does this make sense to you? Can you try the suggestions I provided earlier?

[2020-11-20 16:24] edwardmedia commented on #7856
@tibers you are right. Below is the code that handles the resource creation. It only takes the one you listed above. Closing this question then. Feel free to reopen it if you have more question about it. Thaks

https://github.com/hashicorp/terraform-provider-google/blob/ee251c46904022e68f857408f2192295d3f18ecf/google/resource_identity_platform_default_supported_idp_config.go#L128

[2020-11-20 16:24] #7856 closed

[2020-11-20 16:28] edwardmedia commented on #7844
@goodspark is this still an issue?

[2020-11-20 16:55] edwardmedia commented on #7859
@ndmckinley shouldn't it be TypeList instead?

https://github.com/hashicorp/terraform-provider-google/blob/ee251c46904022e68f857408f2192295d3f18ecf/google/resource_compute_url_map.go#L687

[2020-11-20 17:26] goodspark commented on #7844
Yes, but I don't understand the question. The config is in the description, right?

If you're asking what changed, before hand the URL map was using default_route_action.weighted_backend_services to route requests to different backends. This change was to enable that routing only when a header was present.

I updated the config in the description to show the weighted routes to be a fuller example.

[2020-11-20 17:38] venkykuberan commented on #7694
@supersmo import command (all resources) uses the information given in the command arguments and for `project` it rely on env. variable or provider config. It doesn't look into resource config as that's the resource its trying to import.

[2020-11-20 18:14] venkykuberan commented on #7853
@schaffino can you attach the full debug log. We want to see the etag value being passed on the retry requests.

[2020-11-20 18:40] #7802 closed

[2020-11-20 19:00] stephencroberts opened #7863 "Support `self_link` as an input for `google_compute_network` data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-20 19:26] edwardmedia commented on #7844
I see. Need to add `Only one of prefixMatch, fullPathMatch or regexMatch must be specified.` in the validation

[2020-11-20 20:30] matthewblain opened #7866 "Support for network ingress settings on App Engine services"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-20 22:15] xingao267 commented on #7658
I'll take a stab at implementing this.

[2020-11-20 23:25] #7736 closed

[2020-11-20 23:26] #7819 closed

[2020-11-21 03:24] freeseacher commented on #6376
lack of pretty essential features and bugs like this makes me very disappointed with all the terraform and GCP

[2020-11-21 06:00] toumorokoshi commented on #7841
Thanks for the reply! If that's the case, I might consider actively discouraging this practice.

The detected mutation isn't the end of the world, but the main issue is that re-creating the instance can lead to downtime. I feel like it severely limits the scenarios where leveraging the selflink is useful, if this is the case.

[2020-11-21 14:46] pietrodn commented on #7679
@c2thorn exactly. I'll try to reproduce a set of minimal reproduction steps and open another issue. Thanks

[2020-11-21 15:08] pietrodn opened #7867 "Diff in imported google_data_catalog_policy_tag resource (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-21 16:11] owennewo commented on #7828
Whilst the above got me passed the error it did not present a proper json body to the destination cloud function.  This helped:
[code]
without this a python cloud function calling `request.get_json()` was not receiving the json.

[2020-11-21 16:55] bleything commented on #7828
@edwardmedia: I think changing the behavior of the provider is a stronger fix than changing the docs. If we know the API always expects base64 then the provider can automatically handle the encoding so the user doesn't have to think about it.

[2020-11-22 14:07] hadim opened #7868 "Add `deletion_protection` to `google_storage_bucket`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-22 14:11] hadim opened #7869 "Destroy with `deletion_protection` returns a exit code of `"
When running `terraform destroy` on a config with `deletion_protection` set to `true` for a `google_sql_database_instance`, tf will delete all the resources except the `google_sql_database_instance` one and its parent dependencies.

But the `terraform destroy` command returns an exit code of 1 with the following error message:

[code]

It seems to me this behaviour is not correct and the command s

[2020-11-22 14:12] hadim commented on #7869
(this behaviour can have consequence in a CI setup for example, where a build could be marked as failed while in fact, it succeded)

[2020-11-22 16:05] mancaus commented on #7853
Hi - we have also come across this, per [this comment on a potentially related issue](https://github.com/hashicorp/terraform-provider-google/issues/6833#issuecomment-673374475).

From further investigation, we have a theory - that in `iam_storage_bucket.go`, updates to bucket policy are retried on 412, per the check in `isStoragePreconditionError`. In this case the 412 indicates "invalid etag", du

[2020-11-22 16:11] hadim opened #7870 "`google_container_node_pool.autoscaling.*_node_count` should not trigger a node pool deletion"
It seems to me changing one of those values could be done without deleting and recreating a node pool. At least this is possible to do it using the GKE dashboard.

[2020-11-23 07:28] merceskoba commented on #7859
Could we push the fix in next release, please ?

[2020-11-23 10:31] etiennelandais commented on #7842
@edwardmedia

OK now it's working without increasing the timeout.

It maybe was a transient operation API issue

Sorry the inconvenience

[2020-11-23 10:31] #7842 closed

[2020-11-23 12:33] Clausewitz45 opened #7871 "google_project_default_service_accounts Cleaned up the whole IAM"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-23 14:20] steffencircle opened #7872 "Move Data Source google_compute_resource_policy out of Beta"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-23 15:05] karolsochk opened #7873 "google_sql_user is allowed to change postgres user password, but then things happen when you try to delete cloudsql instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-23 15:10] karolsochk commented on #7873
another strange thing is that when I taint and delete underlying cloudsql postgres instance, after running apply I got:

[code]

somehow, google_sql_user resource objects are not too attached to the db instance they're linked to. Or maybe there's another way of doing this ?

[2020-11-23 15:41] upodroid commented on #7869
Hey, you need to set it to false or it won't delete. There is a note at the top of the docs about this.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_database_instance

[2020-11-23 15:45] hadim commented on #7869
Sorry I wasn't clear. I actually DONT want the db to be destroyed. My point is that in that case the destroy command should return no error and an exit code of 0.

[2020-11-23 16:15] ldelossa commented on #7677
@ndmckinley

Am I to expect this to be released today?

[2020-11-23 16:31] upodroid commented on #7869
It is not written like that because terraform destroy must remove the resource from the platform. To prevent accidental deletions, that field is in place.

What you are describing is equivalent to `terraform state rm google_sql_database_instance.foobar` which you can already do but not as part of destroy.

[2020-11-23 16:39] hadim commented on #7869
I am not saying the behaviour of `deletion_protection` is wrong and actually, it behaves exactly as I want. I am just wondering why the `terraform destroy` command returns an exit code of 1 (failure) while IMO it should return an exit code of 0 (success).

[2020-11-23 17:14] edwardmedia commented on #7869
Using `fmt.Info` instead?

https://github.com/hashicorp/terraform-provider-google/blob/82a2e365aab23e99feaf574d30054269880ed949/google/resource_sql_database_instance.go#L1047

[2020-11-23 17:16] hadim commented on #7869
An info log makes sense to me. Maybe something like "The instance has not been deleted because deletion_protection is set to true. Set it to false to proceed with instance deletion"

[2020-11-23 17:17] upodroid commented on #7868
Something like deletion_protection already exists with the name force_destroy.

The Google API requires the buckets to be empty before they are deleted. Terraform doesn't empty the bucket if force_destroy is not set to true.

As long as you set force_destroy to false or leave it undefined (defaults to false) terraform won't destroy the bucket if it has objects in it.

[2020-11-23 17:23] hadim commented on #7868
Perfect I'll use that then (already used it but wasn't sure if it was similar to `deletion_protection`).

I also have a similar question to https://github.com/hashicorp/terraform-provider-google/issues/7869. Would that be possible to return an exit code of 0 without displaying any error when a bucket is not deleted?

[2020-11-23 17:24] slevenick commented on #7404
Checked with the team, it looks like this was a temporary error and shouldn't happen anymore. If you are able to reproduce this please let me know and I'll reopen this

[2020-11-23 17:24] #7404 closed

[2020-11-23 17:39] upodroid commented on #7868
Unlike #7869, the API returns an error if you try to delete a bucket with objects in it. We can't make it exit with a code of 0.

https://cloud.google.com/storage/docs/deleting-buckets#json-api

[2020-11-23 17:40] edwardmedia commented on #7851
@tetsuya0617 is this still an issue?

[2020-11-23 17:45] rileykarson commented on #7677
Not @ndmckinley, but yes. `3.49.0` changelog is here: https://github.com/hashicorp/terraform-provider-google/blob/release-3.49.0/CHANGELOG.md

[2020-11-23 17:52] hadim commented on #7868
So I guess adding the `deletion_protection` in addition to `force_destroy` would solve this.

[2020-11-23 18:00] #7663 closed

[2020-11-23 18:01] rileykarson commented on #7213
I'm going to move this into sprints until it's resolved to reflect @nma and @ScottSuarez's ongoing work to get testing infrastructure set up.

[2020-11-23 18:05] rileykarson commented on #7699
Moving into Sprint 26 for the assignee to re-investigate. We can move this back out if it's still not available.

[2020-11-23 18:05] upodroid commented on #7868
I don't think it is needed and I don't understand why you want terraform to exit code 0 when an incorrect configuration is being applied.

I expect a pipeline to break if terraform is deleting a bucket that has force_destroy set to false and it is not empty.

[2020-11-23 18:11] upodroid commented on #7792
Also, the region_backend_service needs the same fields updated too.

https://cloud.google.com/compute/docs/reference/rest/beta/regionBackendServices

Copy & paste the diff from https://github.com/GoogleCloudPlatform/magic-modules/pull/4261

IDM doing it

[2020-11-23 18:14] hadim commented on #7868
My use-case is a bit different actually. I want to create a bucket with `deletion_protection = true` (in that case the value of `force_destroy` does not really matter). The idea is really the same as for an SQL db.

So when I apply `tf destroy` the bucket (as for the db) is not deleted and `tf destroy` will return an exit code of 0 SINCE everything has succeeded.

In short, replace a db instance w

[2020-11-23 18:19] ldelossa commented on #7677
thanks a lot @rileykarson appreciated.

[2020-11-23 18:31] rileykarson commented on #7836
Small instead of Medium- this should be almost an exact copy of `google_compute_managed_ssl_certificate`

[2020-11-23 18:33] rileykarson commented on #7839
If this is available under columnfamilies type, we likely want to avoid it (at least as part of this resource). Our support for families in google_bigtable_table is just the `initialColumnFamilies` you can supply on a create request.

[2020-11-23 18:34] rileykarson commented on #7846
Is this information available directly in the API, as part of a GET response on the network?

[2020-11-23 18:37] rileykarson commented on #7854
Moving this up because it will cause test-only failures (CheckDestroy will see the resource continuing to exist)

[2020-11-23 19:12] rileykarson commented on #7868
We are a little hesitant the same `deletion_protection` field here, because we expect that it's more normal to destroy storage buckets than it is to destroy databases. Additionally, `force_destroy` applies largely the same protection.

However I'm going to leave this open to collect additional feedback, and in case folks feel strongly otherwise. Also worth reading is https://github.com/hashicorp/t

[2020-11-23 19:21] hadim commented on #7868
Thanks for the feedback.

I don't think my use-case is very special and feel like I am not the only person that needs that flag. I am deploying an application that requires one database to store archived objects and an associated bucket storing the log files for each archived object of the database. I want both to persist while other resources (mostly networks, sa, clusters and compute instances)

[2020-11-23 19:23] hadim commented on #7868
About https://github.com/hashicorp/terraform/issues/24658, I totally understand that `deletion_protection` flags are cumbersome to handle on your side and that is something that should be handled by Terraform itself. Hope it will be at some point.

[2020-11-23 19:25] rileykarson commented on #7868
`deletion_protection` defaulting to `false` ends up largely providing the same protection as [`lifecycle.prevent_destroy`](https://www.terraform.io/docs/configuration/resources.html#prevent_destroy). Could that work for you?

Additionally, I think that it's useful for all `deletion_protection` fields in the provider to default true- that avoids users needing to remember which resources default tru

[2020-11-23 19:29] hadim commented on #7868
Using `prevent_destroy` is an option too but then the destroy command returns an exit code of 1 (similar to https://github.com/hashicorp/terraform-provider-google/issues/7869) which is wrong IMHO (at least for that particular case) since, in fact, the command has succeeded. I will report you upstream too.

[2020-11-23 20:37] wimo7083 commented on #7185
`node_config` allows someone to network tag for firewall rule application. After the cluster is provisioned they can use the `remove_default_node_pool` to delete it, at which point they can use a `google_container_node_pool` to create the node pools that should persist.

Current docs state that using `resource:google_container_node_pool` and `google_container_cluster.node_pool` together are incomp

[2020-11-23 21:22] ndmckinley commented on #7859
Ah, that's a really unfortunate diff - that should be a lot more readable than it is.

Unfortunately, I believe this behavior is correct to the extent we can control it in the provider.  Because this is a set, the order is not preserved / not important, and you are correct - the host rules are _not_ removed at any step of the process.  The update you're proposing should be safe to apply.

If the m

[2020-11-23 21:22] #7859 closed

[2020-11-23 21:45] ndmckinley commented on #7869
Hi,

Sorry for the inconvenience, but I feel that the behavior is correct, including the return code.  I think that "I ran `terraform destroy` but it did not destroy all my resources" merits a "failure" rather than a "success" exit code.  This is also important to stop terraform from destroying upstream resources.  I propose that if you want to check, in ci, whether `terraform destroy` was "succes

[2020-11-23 21:45] #7869 closed

[2020-11-23 21:48] rileykarson commented on #7869
To add to @ndmckinley's response (mostly because they got to this right before I did as a response to https://github.com/hashicorp/terraform-provider-google/issues/7868):

I feel that Terraform returning an exit code of `1` here is appropriate because the plan stage of `terraform apply` indicated that it would destroy the resource, but Terraform failed to do so.

[2020-11-23 21:49] rileykarson commented on #7868
Replied inline to that issue (along with ndmckinley) that Terraform returning a `1` there feels appropriate.

[2020-11-23 21:52] rileykarson commented on #7185
See https://github.com/hashicorp/terraform-provider-google/issues/4963#issuecomment-557268286 for what configuration would look like for `default-pool` specific configuration if we removed the `node_config` field.

[2020-11-23 21:56] hadim commented on #7869
I disagree since a failure (at least to me) is when something unexcepted happens such as an error. In that particular case, `terraform destroy` is doing the right thing since he didn't destroy something I specifically ask to not destroy. So I would except the command to return a success code.

Looks like you guys see that from a different perspective and I got your point :-)

All good and thanks a

[2020-11-23 21:56] hadim commented on #7869
Yes, there is plenty of ways to hack this of course. It's just less robust and less readable.

[2020-11-23 22:56] hadim commented on #6482
I also could benefit from this in case it helps prioritizing.

[2020-11-24 00:42] merceskoba commented on #7859
I got it, @ndmckinley
I just check [named_port](https://github.com/hashicorp/terraform-provider-google/blob/master/google/resource_compute_instance_group_manager.go#L120)
It's a TypeSet because host_rule are push togather at the same time, like named_port do
Thank you for enlightening me

[2020-11-24 00:54] nahz opened #7877 "Promote Billing Budgets to v1 / GA from v1beta1 / Beta"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-24 01:33] venkykuberan commented on #7873
@karolsochk  i am able to delete the default "postgres" user from the instance. Attaching the sample config and debug log for your reference.

[code]

Config
[code]

Request/Response for the Delete call
[code]

[2020-11-24 02:15] tetsuya0617 commented on #7851
I exactly followed what you suggested and could solve it. Thank you.

https://github.com/hashicorp/terraform-provider-google/issues/7851#issuecomment-730399914

[2020-11-24 08:46] karolsochk commented on #7873
strange, cause for me with pretty much same code:

[code]

I still get Error: Error, failed to deleteuser bazinga in instance postgres-907b5020: - so for non postgres users too while deleting

Here's my debug log:

[code]

[2020-11-24 09:13] upodroid commented on #2999
@rileykarson We can close this issue.

HMAC Keys can be created in terraform.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/storage_hmac_key

[2020-11-24 13:07] talonx opened #7878 "google_sql_database_instance : MySQL : Invalid request: Invalid full instance name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-24 14:38] Tenzer commented on #7435
https://cloud.google.com/cloud-build/release-notes also lists GitHub triggers as being GA since Feb 6th, 2020.

[2020-11-24 16:26] edwardmedia commented on #7851
@tetsuya0617 I am glad your issue has been resolved. Closing this issue then

[2020-11-24 16:26] #7851 closed

[2020-11-24 16:28] edwardmedia commented on #7878
@talonx can you share your full debug log?

[2020-11-24 17:48] upodroid commented on #7538
@rileykarson  We can close this issue. You can import BGP Peers as described here.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_router_bgp_peer#import

https://github.com/hashicorp/terraform-provider-google/blob/b9cf8ca7a3722f8e5c0dfbbb2d9756431ca217ef/google/resource_compute_router_bgp_peer.go#L509

[2020-11-24 17:53] rileykarson commented on #7538
Hmm, good point. I guess I was on autopilot while triaging this.

@tnguyen14 (or anyone else who 👍 'd) what `terraform import` are you running that's failing for you? I see that our tests import successfully using the `terraform import google_compute_router_peer.default projects/{{project}}/regions/{{region}}/routers/{{router}}/{{name}}` format.

[2020-11-24 17:56] rileykarson commented on #2999
👍  thanks!

[2020-11-24 17:56] #2999 closed

[2020-11-24 18:03] wvanderdeijl commented on #7852
I have been working on a number of PR’s over the last couple of weeks to introduce Workload Identity Federation resources and datasources to magic modules/terraform. Now that those are merged we were looking forward to using them in our stack, but we now run into this showstopper that we cannot use the federated identities 😢

Fixing this last issue myself will be a real challenge as I have very li

[2020-11-24 19:02] edwardmedia commented on #7870
@hadim I don't see it is possible to update the `*_node_count` without deleting the node pool based on the provided the API

https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters.nodePools/create

[2020-11-24 19:12] ldelossa commented on #7677
This worked great.

[code]

thanks for the quick turn around on this solution!

[2020-11-24 19:28] edwardmedia commented on #7870
@hadim I am not seeing the a node pool deletion plan after I update the count below. What plan did you see? Can you share your plan?

[code]

[2020-11-24 19:30] hadim commented on #7870
I don't remember can you try with `min_node_count`? I will try again (not working on this code currently) and let you know soon.

[2020-11-24 20:54] ndmckinley commented on #7844
Hm, I think that that's a misreading of "must" in the documentation.  I agree it is unclear, but I believe that the configuration you applied is a valid one, which is why GCP didn't error.  The config you show here would forward all traffic with the specified header to the backend services you provided.

"Only one of X, Y, or Z must be specified", in Google's documentation language, tends to imply

[2020-11-24 20:54] #7844 closed

[2020-11-24 21:48] rileykarson commented on #7841
It's a little less dire than that! In many cases the API converts a reference to a canonical format (whether the self link format or the partial URI format) and the provider handles those. This is a little different. There's no way to tell if the returned IP corresponds to the provided self link. That leaves us with a few options:

1. Never record the value returned from the API into state. This h

[2020-11-24 21:48] #7841 closed

[2020-11-24 22:43] bharathkkb opened #7880 "[Docs] google_logging_*_sink seems to support `exclusions` block but not documented"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-24 22:54] rileykarson commented on #7852
I intend to get to this! It's taken a little longer to find the time than I expected, though.

[2020-11-24 23:11] edwardmedia commented on #7699
Using pre-configured images works (like below)

[code]

[2020-11-24 23:30] compermisos opened #7881 "[DOCS] google_compute_global_network_endpoint bad example"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-24 23:46] ndmckinley commented on #7587
There's no such document, because we handle those things on a case-by-case basis.  One approach we've had success with is `"create" == "acquire"` - if it exists, begin to manage it, if it does not, create it.  Is there something in particular you're interested in?

[2020-11-25 00:28] venkykuberan commented on #7871
@Clausewitz45 as doc says, `DEPRIVILEGE` action can't be reverted. You can use `DELETE` action if you want IAM policies to be restored upon deletion of the resource.

Doc:
The action to be performed in the default service accounts. Valid values are: DEPRIVILEGE, DELETE, DISABLE. Note that DEPRIVILEGE action will ignore the REVERT configuration in the restore_policy

Config
[code]

[2020-11-25 00:55] carlosmarin opened #7882 "[feature request] Allow secondary-workers to be non_preemptible in google_dataproc_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-25 07:11] Clausewitz45 commented on #7871
@venkykuberan many thanks for the feedback, but this wasn't the main problem. The main problem was that not just the default service accounts were cleaned up, but everything. During the Terraform apply, all users, groups, custom service accounts have been deprivileged which means that either the documentation is inaccurate or something is wrong with the resource. From the documentation:

I cannot

[2020-11-25 07:40] pietrodn opened #7883 "google_cloud_scheduler_job: support a "paused" attribute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-25 09:31] marcfong opened #7884 ""google_monitoring_slo" is missing Availability option"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-25 14:13] kevin-thomas-ct opened #7885 "Using a Backend Bucket with a Compute URL map Route Rule"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-25 14:14] #7885 closed

[2020-11-25 14:19] OneLittleRobot opened #7886 "Using a Backend Bucket with a Compute URL map Route Rule"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-25 14:53] edwardmedia commented on #7884
Change label to `enhancement`
https://cloud.google.com/monitoring/api/ref_v3/rest/v3/services.serviceLevelObjectives#availabilitycriteria

[2020-11-25 16:46] #7823 closed

[2020-11-25 17:18] venkykuberan commented on #7873
On your DELETE call `/sql/v1beta4/projects/terraform-demo2-pko/instances/postgres-907b5020/users?alt=json&host=&name=bazinga&prettyPrint=false `, i don't see any host is being passed. Can you change `host=""` on sql_user resource config and try it ?

[2020-11-25 17:21] #7780 closed

[2020-11-25 17:26] edwardmedia commented on #7886
Need to replace the hard-coded 'backendServices`

https://github.com/hashicorp/terraform-provider-google/blob/e3915b2cac40cc4aaa1f94595d4bf1b6eb96b8b0/google/resource_compute_url_map.go#L7291

[2020-11-25 19:44] ndmckinley commented on #7886
We definitely do that sometimes, but probably won't in this instance.  I'm fairly likely to fix it today, and it's quite likely to be released a week from Monday - if I can nail it today, maybe it can even be released next Monday.  We only update the docs once a week, also on monday, so giving at most one week's notification doesn't seem worth it.  Thanks for the suggestion, though!

[2020-11-25 19:57] jdub55 opened #7890 "Add support for labels in budget_filter block when creating a budget via google_billing_budget API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-25 20:19] BusiPlay opened #7892 "removing all items from dynamic block for google_compute_subnetwork secondary_ip_ranges does not change resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-25 20:48] tnguyen14 commented on #7538
Thanks for the tip. I tried importing that, and while the importing worked, running `terraform plan` forces the bgp peer to be destroyed and recreated, even though the plan output doesn't have any indication that anything forces the re-creation.

Here's the plan output for reference

<details>
<summary>terraform plan</summary>
<pre><code>
[2020-11-25T20:34:05.358Z]   # google_compute_router_peer.b

[2020-11-25 20:54] rileykarson commented on #7538
It appears that you've imported those into state with slightly different Terraform URLs than it anticipated, causing it to believe they're different resources. Instead of `terraform import google_compute_router_peer.bgp_peer[1] {{id}}` can you try `terraform import google_compute_router_peer.bgp_peer["1"] {{id}}`?

[2020-11-25 22:05] edwardmedia commented on #7892
@BusiPlay can you share the `plan` in the step #1 and step #3?

[2020-11-25 23:03] edwardmedia commented on #7870
@hadim I got below plan. Let me know if you see a different plan

[code]

[2020-11-25 23:59] u2g-tg opened #7893 "google_service_usage_consumer_quota_override (Beta) should support "force" flag on updates as well as creation."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-26 00:35] BusiPlay commented on #7892
Step #1
[plan1.log](https://github.com/hashicorp/terraform-provider-google/files/5599799/plan1.log)

Step#3
[plan3.log](https://github.com/hashicorp/terraform-provider-google/files/5599803/plan3.log)

[2020-11-26 06:45] beingminimal opened #7894 "google_cloudbuild_trigger 403 caller doent have permission"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-26 08:49] karolsochk commented on #7873
well, it works, thank you! - why would host="" be so significant ?

[2020-11-26 12:16] supersmo commented on #7694
Then my understanding of how importing other resources in terraform was incorrect as I thought it could respect the project field specified in the resource.
Thanks @venkykuberan for explaining the limitations of terraform import.

Would it be possible to support a full resource name for the import and use the project specified there? Not sure if a project metadata item has a standard full resource

[2020-11-26 13:13] tetsuya0617 opened #7895 "Error: googleapi: Error 400: Subnetwork "projects/hoge-development/regions/asia-northeast1/subnetworks/hoge-vpc-subnet" is not valid for Network "hoge-vpc"., badRequest"
### Terraform Version

[code]

### Affected Resource(s)
gke
vpc network
subnet
firewall

### Terraform Configuration Files

gke.tf
[code]

network.tf
[code]

### Debug Output

$ TF_LOG=DEBUG terraform apply

[code]

### Expected Behavior

No error with the successful deployment

### Actual Behavior

Actually, everything which I wrote in the .tf file seems to be successfully deployed as I looked ov

[2020-11-26 14:56] joerayme opened #7896 "google_bigquery_dataset_iam_member doesn't handle deleted members"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-26 15:37] joerayme opened #7897 "google_bigquery_dataset_iam_member fails to properly update state for IAM policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-26 15:46] joerayme commented on #7897
I noticed 3.49.0 has been released so I tried that and had the same problem.

[2020-11-26 16:05] joerayme commented on #7897
This was my fault, I wasn't using the correct member type for the service account. The code should be:

[code]

[2020-11-26 16:05] #7897 closed

[2020-11-26 16:45] edwardmedia commented on #7878
@talonx is this still an issue?

[2020-11-26 16:55] edwardmedia commented on #7894
@beingminimal did you enable **cloudbuild** service? If not, you might want to take a look below resource

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project_service

[2020-11-26 17:11] edwardmedia commented on #7896
@joerayme  can you provide the config along with the repro steps?

[2020-11-26 17:24] edwardmedia commented on #7895
@tetsuya0617 what did you provide to **network** and subnetwork? Can you try below reference if that fits? Or using `data source` if you manage these resources separately.

[code]

[2020-11-26 19:39] hadim commented on #7870
I actually can confirm what you see and cannot reproduce the issue. Not sure what happened before. I'll close here. Thanks for the assistance.

[2020-11-26 19:39] #7870 closed

[2020-11-27 06:09] beingminimal commented on #7894
Hi @edwardmedia yes, cloudbuild.googleapis.com is enabled.

[2020-11-27 06:57] tnguyen14 commented on #7538
@rileykarson I did import with `["1"]` like you suggested.

[2020-11-27 07:31] talonx commented on #7878
@edwardmedia Thanks for the response. Here is the debug log - https://gist.github.com/talonx/ef7a50ac231150db64bb77c30b08e6fa

[2020-11-27 14:02] edwardmedia commented on #7894
@beingminimal You have listed service accounts and roles. Do you intend to use your own service account (vs the default Cloud Build service account) to trigger builds? What benefits do you get if that is true? How did you manage these accounts and roles?

https://cloud.google.com/cloud-build/docs/securing-builds/configure-access-for-cloud-build-service-account

[2020-11-27 15:18] krathow opened #7898 "TF wants to create already existing google_dns_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-11-27 16:10] edwardmedia commented on #7878
@talonx have you tried to add `master_instance_name` like below?

[code]

We should add validations to make sure
1. `replica_configuration` and `master_instance_name` coexist.
2. `backup` must not be enabled if replica is configured.

[2020-11-27 16:24] edwardmedia commented on #7898
@krathow Was it originally created by applying the same config? Can you share the state and the full debug log for the 2nd apply? (above log message does not tell us much)

[2020-11-27 16:50] edwardmedia commented on #7892
@BusiPlay  I can't repro your issue. By removing the items in the list, I got below plan. I see the two subnets are gone after applying the plan. Can you share your data in `locals` and `variables` and detailed steps to repro your issue?

[code]

[2020-11-27 16:52] beingminimal commented on #7894
Hi @edwardmedia , agree that creating our own service account for using terraform will not be so much useful. So tried to perform the same steps with Cloud build default service account. But unfortunately in that also I am getting the same error.

Do I need to grant any other permission to cloud build default service account to use "google_cloudbuild_trigger" resource of terraform?

[2020-11-27 16:59] edwardmedia commented on #7894
@beingminimal I am not super sure what the error comes from (what permission needed on what resources). Hope me understand
1) How did you create other resources? If they are managed by Terraform, can you share the configs? If not, can you import the states?
2) Have you verified if the account has proper permissions to the repository?