[2020-02-24 21:00] chrisst commented on #5049
closed by https://github.com/GoogleCloudPlatform/magic-modules/pull/3160

[2020-02-24 21:00] #5049 closed

[2020-02-24 21:02] danawillow commented on #5388
@flaker indeed this was an API-side change rather than a Terraform one. The comment above yours and the one above that mention some workarounds, so hopefully one of those will work for you. I agree that the behavior is counterintuitive.

For anyone on this thread that's a Googler or has a Google-side contact, you (/they) can follow b/148479480 for updates.

[2020-02-24 21:22] edwardmedia commented on #5742
@pdecat  Great. I am glad you have identified the problem. I am closing this issue now. Thank you for using the tool

[2020-02-24 21:22] #5742 closed

[2020-02-24 22:06] edwardmedia opened #5750 "[doc] example typo in google_access_context_manager_service_perimeter_resource"
### Community Note

[code]
should be
[code]

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the req

[2020-02-24 22:48] edwardmedia commented on #5738
@husunal I can't repro this issue. Could you please post your plan and full debug log so I can try to hit the error? Thanks

[2020-02-25 00:01] venkykuberan opened #5751 "google_bigtable_app_profile resource should support long form 'id' for big_table instance reference"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-25 00:08] husunal commented on #5738
@edwardmedia
Updated reproduce steps as below. I will add plan and debug logs later today.

### Steps to Reproduce
1. Use `google_access_context_manager_service_perimeter` resource to create a perimeter. Make sure you protect Cloud Resource Manager API and a project (projects/12345678) which you will run Terraform inside. We protect `cloudresourcemanager.googleapis.com` because `"google_project_ia

[2020-02-25 07:16] chrisst opened #5753 "b/150183995"

[2020-02-25 07:26] chrisst opened #5754 "b/150184382"

[2020-02-25 12:11] filip-sc commented on #5740
I can give it a shot? Only question is if this should be handled in magic modules or if its fine if I create a PR here.

[2020-02-25 14:13] TheWolfNL commented on #5716
Thnx @edwardmedia , This seems to work.

[code]

[2020-02-25 14:13] #5716 closed

[2020-02-25 16:02] Gwen56850 commented on #4449
The example still does not work. I found a workaround by setting the role `roles/iam.serviceAccountTokenCreator` to the bigquerydatatransfer service account for the service account used to deploy (and create) the scheduled queries:

[code]

It seems the issue comes from the role "roles/iam.serviceAccountShortTermTokenMinter" which seems not to be enough.

[2020-02-25 18:20] hashibot[bot] opened #5756 "Creating a few hundred GCP topics in google_pubsub_topic foreach loop fails"
_This issue was originally opened by @andreww51 as hashicorp/terraform#24199. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

panic: runtime error: invali

[2020-02-25 18:20] hashibot[bot] opened #5757 "Creating a few hundred GCP topics in google_pubsub_topic foreach loop fails"
_This issue was originally opened by @andreww51 as hashicorp/terraform#24199. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version

[code]

### Terraform Configuration Files

[code]

### Debug Output

### Crash Output

panic: runtime error: invali

[2020-02-25 18:39] edwardmedia commented on #5757
@andreww51 Can you post the full debug log?

[2020-02-25 18:41] edwardmedia commented on #5756
@andreww51 Can you post the full debug log?

[2020-02-25 18:48] chetaldrich opened #5759 "Adding a Bigtable column family to an existing table forces replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-25 19:21] danawillow commented on #3661
Storage resources all take the bucket name API-side rather than the full path, so trying to interpolate based on bucket or object self links already will result in errors (as far as I can tell from the API docs). Since all our documentation says to use names anyway I don't think we need to do anything here.

[2020-02-25 19:21] #3661 closed

[2020-02-25 19:26] thnitendra opened #5760 "google_project_iam_binding replaces existing permissions. IAM to be removed are not shown in tf-plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-25 19:36] venkykuberan commented on #3429
@derekschauland and others,  If you are creating a project and adding a storage bucket for the project in the same config, you would hit eventually consistency issue.

 1) Project API confirms project is created successfully and billing account association is good.
 2) If Storage API didn't get the propagated data, it throws an `absent billing account` error. It happens intermittently, its not a p

[2020-02-25 19:36] #3429 closed

[2020-02-25 19:46] preston-hf opened #5761 "Missing project is not discovered at plan-time"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-25 20:37] edwardmedia commented on #5760
@thnitendra how did you add the 2nd user? When I try adding the 2nd user, it seems to be fine. I got the plan below and verify bother users are fine after applied. Did I miss something? Please let me know how I can repro your issue. Thanks
[code]

[2020-02-25 20:45] venkykuberan commented on #5761
@preston-hf, during plan there is no syntax error thus it allowed. During apply provider checks if project attribute has any value passed, if not it checks env variable `GOOGLE_PROJECT` is set. If none of them applied then throws an error.

You need to pass the project name in the config or use the environment variable for apply command to be successful.

[2020-02-25 20:47] thnitendra commented on #5760
User2 was added through terrafrom. User1 was added from GCP IAM UI, before the terrafrom resource was applied.
The plan you shared, I see that only after this resource "google_project_iam_binding" is present in the state file - either through `terrafrom import` or if it has been applied at least once before.
The issue can be reproduced when this resource is newly added. You can remove the state fi

[2020-02-25 20:48] preston-hf commented on #5761
I understand how to use it, it doesn't mean this isn't an issue. This breaks git-ops, especially with modules. It should be smart enough to figure out if the project needed when planning instead of breaking the "build" after it's merged. Are you saying it's totally impossible to fix this? Could the check not be done when the plan is run?

[2020-02-25 20:49] preston-hf commented on #5761
And there are other errors that aren't syntax errors that fail the plan, like not including a required parameter, which this is, or a string not fitting a regex.

[2020-02-25 21:47] venkykuberan commented on #5761
Actually we can't make the project attribute as mandatory for this resource, as it would break the code for others using the project at provider level or as environment variable.  Let me discuss with my team and see the possibilities of adding that validation to plan phase.

[2020-02-25 21:50] preston-hf commented on #5761
Thanks for re-opening! I hope there's some way to resolve it because the only thing I see is defining a provider block in every module to make configure it, and that gets messy with a bunch of modules. It's also a footgun because most of the examples in the docs don't have project set so you don't find out until after the code is merged in, then it requires manual admin intervention.

[2020-02-25 21:54] venkykuberan commented on #5757
Closing this issue since its duplicate ([another issue open by the same user](https://github.com/terraform-providers/terraform-provider-google/issues/5756)

[2020-02-25 21:54] #5757 closed

[2020-02-25 23:08] venkykuberan commented on #5761
@emilymye what are your thoughts on this issue ? How would we ensure project id isn't blank during the plan run ?

[2020-02-25 23:54] venkykuberan commented on #5733
I am attaching the plan and apply output and also screen shot of my svc account access privileges of both Org and Project level.
 I am outputting the service account being used to create the project to verify i am using the right svc  account. Project successfully created with no issues.

Please cross verify it again with my settings with yours. Also can you verify that by changing the org level p

[2020-02-26 01:24] bendrucker commented on #5073
Hey @morgante—this shouldn't prevent that. Validation applies to the active configuration and AFAIK doesn't interact at all with anything from state. So it's fine if the existing project resource in state has an org ID but the configuration now specifies a folder.

[2020-02-26 11:22] brodin commented on #4449
Interesting solution @Gwen56850!  If I understand this correctly this changes the service account used for all scheduled queries for the entire project? If so it feels as you say, more of a workaround/hack than a sustainable pattern. Is it possible to get this issue re-opened @danawillow since it seams to be unsolved?

[2020-02-26 11:44] Gwen56850 commented on #4449
It won't change the service account for all the scheduled queries but for the ones you deploy through terraform. In other words, it deploys the scheduled queries using a service account which is then used to execute them (credentials need to be set in the provider configuration). This way service-<project.id>@gcp-sa-bigquerydatatransfer.iam.gserviceaccount.com is able to impersonificate (get an ac

[2020-02-26 13:14] aubm opened #5767 "google-beta v3.10.0 fail to modify gke node pool status"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-26 13:55] aubm commented on #5767
Currently trying to reproduce the error outside of the context of my project. Closing this issue in the meantime, as the elements in the current description are not enough to reproduce.

[2020-02-26 14:53] juzna opened #5768 "Segfault in google_container_cluster since 3.10.0"
`terraform plan` fails with `Error: rpc error: code = Unavailable desc = transport is closing`.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they gen

[2020-02-26 15:17] streetmapp commented on #5733
Using `Billing Account Administrator` does not produce any different results.

[2020-02-26 15:38] bmoyet opened #5769 "Crash when trying to update google_container_cluster resources_label on 3.10.0 beta"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-26 15:53] juzna commented on #5769
Same problem in #5768.

[2020-02-26 15:56] juzna commented on #5768
It works fine on a newly created cluster, but crashes on old ones. I'm still trying to figure out what's the difference between them...

[2020-02-26 16:06] juzna commented on #5768
Comparison of `terraform import` using old cluster (crashes) vs newly created cluster (works): https://gist.github.com/juzna/441b1aa363b54db5cd8a275e14a4e1ed; for some reason there seem to be multiple outputs interleaved, which makes the JSON mangled :/

[2020-02-26 16:47] jeet-parekh commented on #5544
Would like a confirmation before I make any changes. The change has to be made in https://github.com/GoogleCloudPlatform/magic-modules/blob/master/products/cloudtasks/api.yaml, right?

The `samplingRatio` has to be between 0.0 and 1.0. Is there a way to enforce that through magic modules?
https://cloud.google.com/tasks/docs/reference/rest/v2beta3/projects.locations.queues#stackdriverloggingconfig

[2020-02-26 17:53] danawillow commented on #5740
Go for it! I'll assign the issue to you.

Since this is a handwritten resource + data source, you're welcome to do it in either location, but it's easier for your reviewer if you do it against magic modules. https://github.com/GoogleCloudPlatform/magic-modules/blob/master/third_party/terraform/resources/resource_cloudfunctions_function.go is the location of the resource code, tests/docs/data sourc

[2020-02-26 17:57] danawillow commented on #4449
Reopened, thanks all for the extra information! I'm hoping as @Gwen56850 suggested that this might just be that our example is out-of-date and that the feature actually works. I'm not going to be able to get to this immediately, but hopefully within the next few weeks. In the meantime, feel free to continue the conversation here.

[2020-02-26 18:12] rsalmond commented on #5726
Hey @edwardmedia thanks for the quick response. I went back to the repo where I first encountered the problem and realized there is a key detail I failed to include in my initial report.

While I tested deleting the dataset with the latest provider release, it was actually created with the v2.20.0 release. In that version, when `delete_contents_on_destroy` is omitted from the HCL the field is stor

[2020-02-26 19:12] venkykuberan commented on #5733
It has to do with the roles you setup for your service account.  As you get the same error from gcloud as well, i don't see any issues with terraform/provider. Once you get the gcloud working (project creation with billing account) the above given config can be used with terraform.

Please ping us back if it fails in terraform and works fine in gcloud.

[2020-02-26 19:16] venkykuberan opened #5770 "google_bigtable_table API link in doc points to wrong document"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-26 19:26] slevenick commented on #5661
Initial work done, will need refining as we go.

[2020-02-26 19:26] #5661 closed

[2020-02-26 19:27] emilymye opened #5771 "Fix flaky TestAccServiceAccount_basic"
Once https://github.com/GoogleCloudPlatform/magic-modules/pull/3155 is in, we can probably add a poll async to service account

[2020-02-26 20:34] emilymye commented on #5751
A workaround would be to use `google_bigtable_instance.bgtable-instance.name` instead of `.id` - is there a specific reason you want to use the ID? Right now this is only a field we use to construct the URL, hence the 404

[2020-02-26 21:31] venkykuberan commented on #5759
@chetaldrich I am able to repro the behavior (and cbt adds the column family without deleting the table). Looking at the code we are forcenewing for `cloumn_family` attribute in our provider, we shouldn't be doing that . I will move this item for code change, it will be added to our sprint work once prioritized.

[2020-02-26 21:39] c2thorn opened #5773 "Fix/Follow up on TestAccFolderIamMember_* tests"
It is suspected that Folder Search is returning cached results. If TestAccFolderIamMember_remove and TestAccFolderIamBinding_multipleAtOnce keep failing, we should investigate this more thoroughly.

[2020-02-26 21:43] emilymye commented on #5759
This requires a custom update using the https://cloud.google.com/bigtable/docs/reference/admin/rest/v2/projects.instances.tables/modifyColumnFamilies API endpoint

[2020-02-26 21:55] remorses commented on #5539
I would like to have this feature too, this change was made in the [January 7 release](https://cloud.google.com/run/docs/release-notes#January_07_2020) together with the option to deploy from a knative yaml file

[2020-02-26 22:14] c2thorn opened #5775 "Deflake TestAccDialogflowAgent_update"
The Dialogflow Agent `tier` field is not consistent enough during updates. We should probably reevaluate polling approach or the field altogether.

[2020-02-26 22:44] Reifier opened #5777 "google_compute_network resource does not honor delete_default_routes_on_create flag"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-26 23:07] emilymye commented on #5761
Hi @preston-hf - this is true for almost all our resources with `project`/`region`/`zone` fields that also have provider-level defaults (for, etc). While we have the ability to plan-time validate this, it's neither a nice nor simple solution - we are limited by the plan-time hooks the provider SDK provides for us - and so we've generally had it as a lower-priority task.

In fact, we ended up makin

[2020-02-26 23:31] emilymye commented on #5773
If it's the caching issue, we might want to add a PollAsync (after https://github.com/GoogleCloudPlatform/magic-modules/pull/3155)

[2020-02-26 23:43] emilymye commented on #5738
this looks like an issue with eventual consistency with access context manager/IAM - we might just have to add some retries for one of these resources.

[2020-02-26 23:44] edwardmedia commented on #5738
@husunal have you had a chance to add plan and logs?

[2020-02-27 00:38] edwardmedia commented on #5777
@Reifier  from the log you provided, I noted that provider did send the `delete` request to api and received `DONE` response from API. Can you double check if the default route still exist?
[code]

[2020-02-27 00:43] c2thorn commented on #5018
Another update here @hallvors. This is definitely a bug, but there may be a workaround before the fix is finished.

The relevant parts of the crash you are facing have to do with your `google_compute_instance_template` referencing your `google_compute_image` `self_link` in `source_image`. What I believe is happening is your `google_compute_image` is being created from the first time your script ca

[2020-02-27 00:46] Reifier commented on #5777
Yes. I can still see the routes being in place after full terraform run cycle.

[2020-02-27 01:04] edwardmedia commented on #5777
@Reifier  the doc says
[code]
Do you see below
![default-route](https://user-images.githubusercontent.com/42220489/75402570-0c323600-58ba-11ea-86d8-0921777160f2.png)

[2020-02-27 01:09] chrisst commented on #5054
@geekflyer `gcloud run deploy` is hitting different API's depending on what is configured in the `--platform` flag. When using `platform=gke` it will query a list of GKE clusters and then apply the Knative Service configuration to the kubernetes cluster. You can add `--log-http` to your gcloud commands to see what I mean. Unfortunately gcloud and the user docs for Cloud Run don't make this distinc

[2020-02-27 01:20] edwardmedia commented on #5760
@thnitendra can you try to use below resource to see if that help your use case?
[code]

[2020-02-27 01:23] Reifier commented on #5777
My apologies, I am dumb.

[2020-02-27 01:23] #5777 closed

[2020-02-27 01:32] #5751 closed

[2020-02-27 01:51] emilymye commented on #5769
Closing as duplicate of #5768 - please track there

[2020-02-27 01:51] #5769 closed

[2020-02-27 01:52] edwardmedia commented on #5750
Fixed in https://github.com/GoogleCloudPlatform/magic-modules/commit/008d2301e07f5496b71049170faf15f0dcbf94ff

[2020-02-27 01:52] #5750 closed

[2020-02-27 01:59] agosto-raypitmon opened #5781 "setting multiple GCS acls causes Error 409"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-27 03:43] #5768 closed

[2020-02-27 09:05] namm2 opened #5783 "[req] Support: GCP Compute Persistent Disk CSI Driver"
### Description

Google Kubernetes Engine now has option to enable "GCP Compute Persistent Disk CSI Driver" as an add-on on their Web console. But it seems like Terraform doesn't support it yet, and it'd be better if we can enable this add-on via Terraform.

More on CSI driver: https://kubernetes-csi.github.io/docs/introduction.html

Currently there are 2 ways to enable CSI: on web console, or usi

[2020-02-27 14:06] filip-sc opened #5784 "Support persistenceIamIdentity for google_redis_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-27 15:03] preston-hf commented on #5761
I would prefer to be explicit for every resource. It's just a simple line or two of code, that is especially helpful at preventing footguns if you've got more than one project in the module. I think the best of both worlds would be to allow explicit configuration of the default (instead of inferring it from gcloud/service account credentials), let me pull it from an environment variable or config

[2020-02-27 16:32] robertvanhoesel opened #5786 "google_project_organization_policy list_policy all default value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-27 18:47] venkykuberan commented on #5681
I am able to repro the issue. I am seeing that API call (POST) to create app_engine_fire_wall_rule is succeeding with 200 response, but the following GET call to pull the fire wall rule is failing. I am attaching the debug log here
[debuglog.txt](https://github.com/terraform-providers/terraform-provider-google/files/4263424/debuglog.txt)

[2020-02-27 18:52] edwardmedia commented on #5786
@robertvanhoesel I did not hit the error as you described. Below is the request & response I caught. Can you post your plan and full debug log so I can take a closer look? Thanks
[code]

[2020-02-27 19:32] emilymye opened #5787 "Make project required (explicit) on google_project_iam_member/resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-27 19:43] jnearing-kabam opened #5788 "`google_compute_attached_disk` doesn't recognize `google_compute_instance` replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-27 19:49] venkykuberan commented on #3690
I am closing this one, please reopen if needed

[2020-02-27 19:49] #3690 closed

[2020-02-27 19:53] venkykuberan commented on #5424
@matti I am closing this issue as the above solution would fix the issue. Please reopen if you still get the error.

[2020-02-27 19:53] #5424 closed

[2020-02-27 20:10] edwardmedia commented on #5726
@rsalmond I have tried using two versions of the provider. In both cases, the field `delete_contents_on_destroy` were set to `false` when this field in the HCL was commented.
I also tried by applying with v2.20.0 first and then un-commenting the line and re-applying with new version, v3.10. No error was caught. Can you post your full debug log and the state files before and after the change if you

[2020-02-27 22:18] chrisst opened #5789 "Move the provider from vendoring dependencies to gomodules"
We are currently checking in the whole vendor folder into github and also the go.mod. The only thing keeping these in sync is a manual process.

- [x] Ensure that magic modules can generate the correct imports once the vendor directory is removed
- [x] Change the makefiles in TPG and TPGB to remove mod=vendor references
- [x] Update the kokoro build files to remove any references to vendoring
- [x

[2020-02-27 23:08] chrisst commented on #5528
Yes I have been thinking that the set up for the cloud run resource itself should be separated from the deploying of an actual revision. I think this scenario and those wanting to deploy from cloud build or other CI's but not have Terraform roll back a revision make it clear that managing both workflows in the same resource isn't ideal. Right now the API doesn't accept an "empty" request to set th

[2020-02-27 23:16] venkykuberan commented on #5788
@jnearing-kabam It does triggered replacement for both instance and attached_disk when i forced a replacement for an instance. Can you please share your config or plan output to have an understanding what's going on ?
Alternate way to attach disk is to have `attached_block` in instance config (commented in the following config).

Also i am sharing my working config, please verify with yours
[code]

[2020-02-27 23:20] #5781 closed

[2020-02-27 23:34] husunal commented on #5738
@edwardmedia please find them below.

[terraform.log](https://github.com/terraform-providers/terraform-provider-google/files/4264627/terraform.log)

[code]

[2020-02-28 02:43] #5623 closed

[2020-02-28 06:56] iiro opened #5792 "Adding support for "Private service access" for Cloud MemoryStore Redis (for Shared VPC setups)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-28 12:50] robertvanhoesel commented on #5786
@edwardmedia Thanks for looking into this!
I ran some debug logs on the whole setup and it turns out downstream Pulumi is applying the default values before it reaches Terraform, my apologies. https://github.com/pulumi/pulumi-gcp/issues/291

[2020-02-28 12:50] #5786 closed

[2020-02-28 14:36] TheWolfNL commented on #5681
I was running into this issue as well,
Turned on debugging an retrieved a selection of the logs.
I did replace the IP and description 😅 so the content length might not match
[code]

[2020-02-28 14:38] TheWolfNL commented on #5681
I am also encountering this issue.

[2020-02-28 20:13] webyneter opened #5794 "`Blocks of type "release_channel" are not expected here` though Terraform docs suggest otherwise"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-28 20:31] webyneter opened #5795 "`An argument named "end_time" is not expected here`/`An argument named "end_time" is not expected here` though Terraform docs suggest the opposite"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-02-28 20:54] venkykuberan commented on #5795
@webyneter `end_time` is supported only inside the `recurring_window` block.  Moving the config to right block should fix the issue. Let me know if it works.

[2020-02-28 21:01] webyneter commented on #5795
@venkykuberan thanks for the lead but not that I have

[code]

it says:

[code]

Do I have to specify the timestamps with regard to a particular moment in time?

[2020-02-28 21:03] venkykuberan commented on #5794
@webyneter `release_channel` is `google_container_cluster` resource property. Looks like you are using it for node pool, it won't here.  I am closing this issue as the fix suggested will work, please reopen if you still get that error

[2020-02-28 21:03] #5794 closed

[2020-02-28 21:05] webyneter commented on #5795
Ah, my bad, that's all in the docs actually. Though I'm a little bit confused as to why I have to specify the exact timestamp even though it's gonna be a recurring thing as soon as the stack is up and running, starting whatever the moment in future after it's deployed...

[2020-02-28 21:08] webyneter commented on #5794
Indeed, thank you.

[2020-02-28 21:11] webyneter commented on #5795
My understanding is that we need to specify a pivot point in future to jumpstart recurrences given the frequency, onwards.

[2020-02-28 21:38] thnitendra commented on #5760
@edwardmedia
Thanks for looking into this.
Yes, google_project_iam_member is safe. Unlike iam_binding; it does not replace existing IAMs when applied for the first time.
We do now understand that we must run a `terraform import` when adding a new iam_binding for a role. But, I guess It would useful to document this behavior at least. What do you think?
We ended up losing all our network user permi

[2020-02-28 22:25] venkykuberan commented on #5795
I don't think its expecting the exact minute/sec in the time stamp. As long as its in RFC339 date format its acceptable. Please refer the examples section in this page - https://www.ietf.org/rfc/rfc3339.txt

sample config for 2 different time zones
[code]

[2020-02-28 22:29] mrusme commented on #5692
@venkykuberan thank you, this seems to have done the trick!

[2020-02-28 22:29] #5692 closed

[2020-02-28 22:51] c2thorn opened #5796 "Address `resource_dataflow_job` drain on batch type jobs"
### Affected Resource(s)

* google_dataflow_job

TestAccDataflowJob_withRegion attempts to drain a batch dataflow job. We either need to make this not possible, or explicitly state that setting `on_delete=drain` for batch type jobs will wait for the job to finish on destroy.

b/340204067

[2020-02-28 23:51] edwardmedia commented on #3558
I do see the `impersonated-account` is not the one used for the GoogleAccessId in the signedurl

[2020-02-28 23:54] wyardley commented on #3937
Not 100% sure if it's the cause of this or not, but one thing we noticed is that for resource creation, the dependency order is "backend => urlmap"; for deletion it's "urlmap => backend". For modification, it will try to use the same order as creation

[2020-02-29 00:10] edwardmedia commented on #5760
@thnitendra the difference between these two resources are authoritative vs non-authoritative. That are mentioned by the resources in the doc. You are right. You need to update the states before you can apply if you want to use the authoritative resources. I am closing the issue now. Please reopen the issue if you still need further assistance. Thank you

[2020-02-29 00:10] #5760 closed

[2020-02-29 03:49] jnearing-kabam commented on #5788
Looking at this, I have a disk module responsible for attaching disks. So my config looks something like:

[code]

Im guessing that the module doesn't recognize the change since the only dependency is on `google_compute_instance.instance.name`. I suspect that if I put a dependency on a unique identifier it would pick up the change as expected.

Reasonable to assume this is on my end. I'll close th

[2020-02-29 03:49] #5788 closed

[2020-02-29 18:03] damoxc opened #5797 "data.google_compute_subnet fails silently on missing resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-01 18:29] webyneter commented on #5795
Yes, it worked, thank you.

[2020-03-01 18:29] #5795 closed

[2020-03-02 06:54] Ginja opened #5798 "Replacing a `google_compute_instance` requires two applies to replace any `google_compute_network_endpoint` that references it"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-02 13:30] filipzyzniewski-fexco opened #5800 "google_cloudfunctions_function: trigger_http = false conficts with event_trigger"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-02 15:20] hashibot[bot] opened #5801 "Dynamic block doesn't detect changes when the array is blank"
_This issue was originally opened by @emmaLP as hashicorp/terraform#24245. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
v0.12.20
v0.12.21

### Terraform Configuration Files

[code]

### Expected Behavior
First run `local.secondary_ip_range

[2020-03-02 15:20] hashibot[bot] opened #5802 "Crash during apply - null pointer error in google-beta update"
_This issue was originally opened by @jonasdebeukelaer as hashicorp/terraform#24247. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Terraform Version
[code]

### Terraform Configuration Files

main.tf
[code]

gcp-gke.tf
[code]

### Debug Output
https://gist.g

[2020-03-02 16:36] edwardmedia commented on #5798
@Ginja I have followed your steps trying to repro this issue. After modifying the metadata and first `apply`, I checked the `plan`. Below is the what I got. When I then call `apply`, it says no changes. Can you please post the full debug log for the `apply` after metadata modification and the `plan` right after that. Thanks
[code]

[2020-03-02 16:55] emilymye commented on #5761
Split this issue, so we'll track adding plan-time validation of projects here (as it's a non-straightforward task to do so, we can't promise we'll get to it ASAP). I've filed a separate issue (#5787) to track making project required for _member/_binding, since that will need to be released as a breaking change.

[2020-03-02 16:56] #5743 closed

[2020-03-02 17:02] emilymye commented on #5802
closing as duplicated of https://github.com/terraform-providers/terraform-provider-google/issues/5768

[2020-03-02 17:02] #5802 closed

[2020-03-02 17:02] edwardmedia commented on #5800
@filipzyzniewski-fexco  Below is from the resource documentation. It is clear you can't use `event_trigger` and `trigger_http` together. The error you got is from `plan` which fails in the schema validation. When you set the value to `false`, it is very much like using it at runtime. You first need to pass the validation before you hit the runtime. Does it make sense to you? Please let me know if

[2020-03-02 17:09] valtos opened #5804 "google_compute_security_policy - no error message when rule has same priority"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-02 17:19] edwardmedia commented on #5797
@damoxc I got below error in the debug log when I call `plan` to your config data. It seems to me clear what went wrong. Are you able to see this error? If it is not set to null, what value would be appropriate? Thanks
[code]

[2020-03-02 17:27] filipzyzniewski-fexco commented on #5800
Thanks for your reply. Should the schema prevent using `trigger_http = false` with `event_trigger`? Why can't I say 'don't trigger with HTTP, trigger with that other thing' with that?

It makes it hard to achieve what I was trying to demonstrate with the example code - creating multiple cloud functions sharing most of the attributes, but some of them are triggered with http and some with other eve

[2020-03-02 18:13] edwardmedia commented on #5804
@megan07  after adding a rule in the resource, I got below `plan`. But there is only one "POST" call. You can see the rules in the console does not match the settings in the config. Also if you delete one rule from the config and then `apply`, I only see one `POST` call.
[code]
[code]

[2020-03-02 20:11] edwardmedia commented on #5801
@emmaLP not sure what exactly you try to achieve. In your example, the ip ranges are conflicting (`pod` vs `test` and `services` vs `test2`). But if I provide non-conflicting ranges, I see the secondary ip ranges changes when I set the kubernetes_enabled between 1 and 0. In order to repro your issue, could you please post exact values for `secondary_ip_ranges.default`,  `k8s_pod_ip_range.default`,

[2020-03-02 20:28] ndmckinley commented on #5060
Fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/3157.

[2020-03-02 20:28] #5060 closed

[2020-03-02 21:30] #5018 closed

[2020-03-02 22:04] bwmaas commented on #5608
Any chance we can get a v2.20+ that includes this fix?

[2020-03-02 22:37] venkykuberan commented on #5377
Just to summarize for the feature request :

Issue :- When a google_bigtable_instance config is changed (Instance type PRODUCTION to Development), terraform/provider not able to determine the internal dependency between instance and the app profile, hence its only replacing the instance. However GCP deletes both the resources since it knows the underlying dependency.  Terraform comes to aware of t

[2020-03-02 22:46] #2810 closed

[2020-03-02 23:13] venkykuberan commented on #5770
`google_bigtable_gc_policy` API link also need to be corrected -  https://www.terraform.io/docs/providers/google/r/bigtable_gc_policy.html

[2020-03-02 23:26] dsludwig opened #5811 "cloudfunctions_function: vpc_connector not updated in-place"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-02 23:47] venkykuberan commented on #5770
It seems that big_table_instance and big_table_gc_policy resources are using go client libraries instead of direct REST API calls (as Admin APIs didn't had the required features while building the resources). I am closing this issue as API links are pointing to the right docs.

[2020-03-02 23:47] #5770 closed

[2020-03-03 00:51] morgante commented on #5073
I know historically there have been issues with attempting to move between folders and projects in Terraform.

[2020-03-03 06:53] eadred commented on #5608
The fix only went into HEAD, but you should be able to fork and cherry pick the fix onto v2.20. It worked OK without any changes on v2.18.

[2020-03-03 07:43] emmaLP commented on #5801
Exact values used when adding secondary ip ranges:
[code]

When setting `kubernetes_enabled` to zero to then removal of the secondary ranges on the subnetwork aren't picked up

[2020-03-03 11:55] damoxc commented on #5797
@edwardmedia for example, assuming that `missing-family` doesn't exist but `some-project` does, using this

[code]

I receive this during a `terraform refresh`, so it is flagged during a `terraform plan`.
[code]

I know immediately that the issue is my image family is missing, or I've made a typo. The key part is that this is different behaviourally to the subnetwork data resource, at the very lea

[2020-03-03 14:08] valtos commented on #5804
@edwardmedia ,  the error is specifically with security policy containing custom rules with Common Expression Language (CEL)
[https://cloud.google.com/armor/docs/rules-language-reference]

[code]

[2020-03-03 16:17] edwardmedia commented on #5801
@emmaLP when I set `kubernetes_enabled=1` I see the both secondary IP ranges created. Then I change the config to set  `kubernetes_enabled=0`, both secondary IP ranges are gone. Still not sure what issue it is. But I noticed that no matter what changes I have, the provider appears to send correct payloads to API and the responses appear to be correct too. In order to further investigate, can you t

[2020-03-03 16:26] edwardmedia commented on #5797
Different behavior. I would call it `enhancement`

[2020-03-03 16:52] preston-hf commented on #5664
This is now GA. Is this something you'd accept a contribution for? Need this ASAP :)

[2020-03-03 17:13] DanielWozniak opened #5815 "Add the ability to Create a Composer Environment on a Shared VPC"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-03 18:38] vivalaks opened #5816 "Terraform apply showing one GCP project (correct one) in actions and using a different project (the default project) while creating.."
### Community Note

Block of related configuration
resource "google_storage_bucket" "text-store" {
  name     = "${module.new_project.project_id_out}-10xcc-gcf-ocr-texts"
  location = "EU"
  project = module.new_project.project_id_out
  force_destroy = true
}

**resource "google_pubsub_topic" "topic_gcf_ocr_results" {
  name     = "${module.new_project.project_id_out}-topic_gcf_ocr_results"
  proj

[2020-03-03 18:49] edwardmedia commented on #5816
@vivalaks  from the error, it appears you have not enabled `pubsub` service yet. You need to do that before you can proceed. Follow the link you can enable it first. Also your config is not clear. In order for me to help investigate the issue, probably you might want to post the entire config along with the full debug log. Please let me know if I can help further.

[2020-03-03 19:14] vivalaks commented on #5816
Thanks Edward.

The _pubsub_ service is enabled in the project (id = ai-apis-pocs-dev614d421b) where I am trying to create a new topic. But the pubsub service is not enabled in the Provider Google default project (id = tenxcc-terraform-admin-host, number = 481178746626). Does Terraform use the default project configuration for API services (enabled or not enabled) to create a resource in another p

[2020-03-03 20:57] megan07 commented on #5800
Hi @filipzyzniewski-fexco!  Thank you for submitting this issue.  When you tried setting `trigger_http = null`, was that error at `plan` time or `apply` time?  I was able to apply by switching `false` to `null` in the code block that you provided above.  If you continue to see the error, would you mind providing the debug information with `trigger_http = null` please?
Thanks!

[2020-03-03 21:01] emilymye commented on #5815
Private IP Composer environments and Shared VPC are two different modes for a Composer environment. While they both use VPC-native clusters, the first specifically applies to setting up the Composer environment as private, whereas the second involves setting up the GKE cluster in a shared VPC (I believe Composer service directly sends that node config to GKE). The combination is what is not suppor

[2020-03-03 21:05] hallvors commented on #5018
Thanks a lot for your work on this, @c2thorn ! :bowing_man:

[2020-03-03 21:42] edwardmedia commented on #5816
@vivalaks I don't know what you have in the module ` "/Users/laks/python-git-basics/terraform_basics/modules/project"`. If you can post the entire code, we can try to investigate. To answer your question, you may want to try hard-coded the project first and see how it behave.

[2020-03-03 22:44] kuwas opened #5819 "Feature Request > google_compute_managed_region_ssl_certificate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-03 23:43] venkykuberan opened #5820 "google_bigtable_table and google_bigtable_gc_policy resources should support long form 'id' for big_table instance reference"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-04 00:52] #5566 closed

[2020-03-04 01:06] venkykuberan opened #5822 "google_compute_network_endpoint should support 'id' attribute for"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-04 08:35] filipzyzniewski-fexco commented on #5800
Hi @megan07, my issue is PEBKAC apparently, apologies for wasting your time.

I can set trigger_http to null and this solves my problem. The `The condition value is null. Conditions must either be true or false.` error I was getting was caused by a reference to functions' `trigger_http` in another place. I was doing: `if f.trigger_http` instead of `f.trigger_http == true`.

One could still argue t

[2020-03-04 10:12] emmaLP commented on #5801
@edwardmedia I set up a new project with the subnet with the secondary ranges as described.

See attached the zip file for the code.
[dynamic_secondary_ip_ranges.zip](https://github.com/terraform-providers/terraform-provider-google/files/4286682/dynamic_secondary_ip_ranges.zip)

## Steps to reproduce

### Enabled
* Set terraform.tfvars in the with the tf scripts
terraform.tfvars for enabled kubern

[2020-03-04 12:23] jsfrerot opened #5823 "Issue with google_compute_instance->scheduling->node_affinities->operator"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-04 15:41] danielyaghini commented on #1943
+1

[2020-03-04 16:58] DarioBernardo opened #5824 "`google_sql_database_instance`, `google_container_cluster` through `google_compute_network` why are not able to see each other?"
Hi, please help. Lot's of frustration going on.
I am trying to create an infrastructure where a kubernetes cluster and a sql database are able to communicate in a VPC. My code is [here](https://github.com/DarioBernardo/cloud-infrastructure).
A pod in my k8s cluster is trying to ping the database (see yaml) but nothing happens. (I also try to ping by manually exec into the pod). I have runned out o

[2020-03-04 17:11] edwardmedia commented on #5823
@jsfrerot you don't have other code which makes a little hard to investigate. Could you please post complete code along with the full debug log? Thanks

[2020-03-04 18:28] jsfrerot commented on #5823
Here is the debug output: https://gist.github.com/jsfrerot/08611cac298c5128151ceb05efa8e793
And here is the code: https://gist.github.com/jsfrerot/5df3c070ec120ad5f34e6f23cfd5bfc8

[2020-03-04 18:57] jravetch commented on #1959
@morgante Any updates you can share?

[2020-03-04 19:55] megan07 commented on #5797
Hi @damoxc!  Thank you for bringing this to our attention.  After digging into the code, I see that our datasources are inconsistent in general on how we handle these.  After some internal discussion, I think we're going to address this in the next major release when we address other breaking changes.

The approach we discussed is that singular datasources that are not found will return an error,

[2020-03-04 21:24] #2896 closed

[2020-03-04 23:23] davegalos opened #5828 "allow_stopping_for_updates should not restrict changes when the instance is stopped."
provider.google v2.17.0
Terraform v0.12.13

Right now the code simply aborts if allow_stopping_for_updates=false and if certain fields are being modified. If the instance is stopped; however these there is no need to abort, these fields can be updated with no special confirmation. A flag to bring up the stopped instance in this situation would be useful as well.

[2020-03-04 23:37] #5811 closed

[2020-03-04 23:47] edwardmedia commented on #5801
@emmaLP your below dynamic code works if the list is not empty. If it is empty, you have to set it to `secondary_ip_range = []` This is a special case for this field. Here is the reference you might want to follow.  https://www.terraform.io/docs/providers/google/r/compute_subnetwork.html#secondary_ip_range
Please let me know if this helps address your issue.
[code]

[2020-03-05 06:44] JSANL opened #5832 "Equivalent of gcloud compute instances create-with-container"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-05 10:50] arvidviderberg commented on #1558
Any update on this? I'm having the same problems as @stuart-c-moore. It seems to only happen when the DB user has been used to populate the DB.

[2020-03-05 11:21] emmaLP commented on #5801
Since I need the dynamic block, how would I explicitly set secondary_ip_ranges to []  if `local.secondary_ip_ranges` is `[]` when the values are driven from variables?

[2020-03-05 11:49] sid0911 commented on #5239
Team, range_partitioning is not working for me. Could you please help to resolve this issue ?

Error: Unsupported block type

on bigqtable.tf line 51, in resource "google_bigquery_table" "bq_tables_rgpt":
51: range_partitioning {

Blocks of type "range_partitioning" are not expected here.

[2020-03-05 15:35] tristan957 commented on #5239
I already answered you yesterday. Are you using the beta provider?

[2020-03-05 15:35] #5239 closed

[2020-03-05 16:47] JordanStebbings opened #5833 "Cloud Functions: Allow / Disable unauthenticated invocations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-05 17:16] danawillow commented on #1558
@arvidviderberg can you post a config and debug logs (running with TF_LOG=DEBUG) that reproduce the issue? (essentially looking for the information in the new bug template, since this issue is fairly old)

[2020-03-05 17:17] edwardmedia commented on #5828
@davegalos do you mind if you can open an enhancement instead? Please use the template and state your suggestions and business needs. I am closing this issue right now. In that way we can prioritize each item in the backlog. Thank you

[2020-03-05 17:17] #5828 closed

[2020-03-05 17:46] edwardmedia commented on #5823
@jsfrerot can you replace `ǸOT` by `NOT_IN`. Here is the reference from API
https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling.
Let me know if this helps address your issue. In the meantime, I change the issue form `bug` to `document`

[2020-03-05 17:54] jsfrerot commented on #5823
I'm getting the following error with "NOT_IN"
Error: expected scheduling.0.node_affinities.0.operator to be one of [IN NOT], got NOT_IN

  on .terraform/modules/gce_mariadb_lunashared_dsm_sand/main.tf line 6, in resource "google_compute_instance" "master":
   6: resource "google_compute_instance" "master" {

[2020-03-05 18:03] rileykarson commented on #5828
Hey @davegalos! This is actually supported as-of https://github.com/terraform-providers/terraform-provider-google/blob/master/CHANGELOG.md#3110-march-02-2020. It isn't stated explicitly, but https://github.com/terraform-providers/terraform-provider-google/pull/4797 added the behaviour.

Prior to that change, Terraform assumed that instances were always in the RUNNING state, so stopped instances we

[2020-03-05 18:17] edwardmedia commented on #5823
@jsfrerot yeah this is a bug in the validation. I am going to reset it to `bug`. Thank you for reporting it. We will get it fixed as soon as we can.
[code]
https://github.com/terraform-providers/terraform-provider-google/blob/master/google/compute_instance_helpers.go#L13:6

[2020-03-05 18:18] venkykuberan commented on #5673
@lpxavi I don't see that work in near team goals. Please raise a feature request for the team to look into and prioritize.

[2020-03-05 18:18] #5673 closed

[2020-03-05 18:58] Ginja commented on #5798
Thanks for taking a look at this, @edwardmedia!

I figured out the exact problem from trying to replicate it with the config above. When an instance is replaced it's the `ip_address` attribute of `google_compute_network_endpoint` that forces the change. However, when an instance is replaced with a reserved internal IP the associated `google_compute_network_endpoint` does not properly catch that it

[2020-03-05 18:59] #5804 closed

[2020-03-05 19:24] sebglon commented on #5389
Hi today we have an issue.
We can upload a public key for an another service account.
I am the owner of the project but i can't add an SSH Key for a service account on this project.
i have this message: `"End user credentials must match the user specified in the request.`

[2020-03-05 19:54] edwardmedia commented on #5824
@DarioBernardo it looks like you need to add more pieces. Here are some docs that might help to set it up.
https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine
https://github.com/GoogleCloudPlatform/kubernetes-engine-samples/tree/master/cloudsql

[2020-03-05 20:00] #5820 closed

[2020-03-05 20:00] #5822 closed

[2020-03-05 20:05] c2thorn opened #5836 "Track Dialogflow agent `time_zone` issue"
b/150811852

One the fix is out, confirm and revert https://github.com/GoogleCloudPlatform/magic-modules/pull/3218

[2020-03-05 20:33] #3704 closed

[2020-03-05 20:37] rsalmond commented on #5726
@edwardmedia after reporting I just edited my statefiles so I could get on with my tasks. Spent some time fiddling with old and new version combinations I am unable to reliably reproduce this.

Thanks for sanity checking, I guess it is safe to close this!

[2020-03-05 20:59] #5125 closed

[2020-03-05 22:11] #5823 closed

[2020-03-05 22:37] Gatsby-Lee commented on #5792
@danawillow Thank you for working on this :)

[2020-03-05 23:59] rileykarson opened #5842 "Make VPC-native clusters the default in `google_container_cluster`"
This is a breaking change and possibly not worth doing if the user impact is too high.

Many new GKE features rely on clusters being "vpc-native", first-class citizens in GCP VPC networks. Many older clusters are "routes-based", where they communicate over routes instead of through networks. gcloud and the Cloud Console both default to VPC-native, while the REST API defaults to routes-based.

A co

[2020-03-06 00:03] edwardmedia commented on #5726
@rsalmond you are welcome. I am closing the issue now.

[2020-03-06 00:03] #5726 closed

[2020-03-06 00:20] danawillow commented on #5792
This is in our Goals milestone, which means it's something we'd like to do but don't have a timeline on. You can see our full list of sprints and milestones at https://github.com/terraform-providers/terraform-provider-google/milestones, and we move things around depending on demand. We always happily accept PRs, which is the easiest way for you to control the timeline around features. Otherwise, w

[2020-03-06 02:12] iiro commented on #5792
@danawillow since I've created the issue, I've received some mixed messages from my peers at Google. They said things should already work without any additions, which sounded like the issue actually would not be valid. @danawillow were they right, or is there pending work to be done to the provider on this?

[2020-03-06 02:16] iiro commented on #5792
And @danawillow thank you for the update on this :) I need to ping both peers at Google and Hashicorp if we can affect this to get more action ;) Unfortunately we're very blocked by this, cannot go live with a project at all... :/ I'd like to try to help with a PR here, but unfortunately there are legal obstacles on the way.

[2020-03-06 05:36] venkykuberan commented on #3334
This issue is outdated as we made a decision to add `id` attribute to all the resources and data sources and work is in progress. Hence closing this issue.

[2020-03-06 05:36] #3334 closed

[2020-03-06 07:28] Gatsby-Lee commented on #5792
@iiro BTW, this is not only related to Shared VPC. connection-mode ( direct peering / private services access ) argument is not supported.

[2020-03-06 13:56] sid0911 commented on #5239
Thanks for your response tristan957.
Yes, I am using beta provider

[2020-03-06 15:34] sebglon commented on #5389
That is the security implementation but we can use the impersonate feature to do that.

[2020-03-06 15:35] sebglon commented on #5389
Can i have some help on the API usage?
I have a stange error on the implementation: https://github.com/GoogleCloudPlatform/magic-modules/pull/3221

[2020-03-06 15:39] DanielWozniak commented on #5815
Thanks for the response. Unfortunately it won't be possible for us to create the Composer environment in the vpc host project but appreciate the suggestion. I heard from google that the feature is supposed to be available some time in March. So I will have to wait for that and hopefully it doesn't get pushed back. However, I would want to possibly keep this open so that when the feature does get p

[2020-03-06 16:11] kustodian commented on #5665
We are very interested in this feature as well, so that we can create [stateful MIGs](https://cloud.google.com/compute/docs/instance-groups/stateful-migs).

[2020-03-06 17:01] diodfr opened #5844 "Allowing host_ruleS and path_matcherS in google_compute_url_map"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-06 18:27] rileykarson commented on #5842
Alternatively, safely making Terraform pick up whatever the API default is may be a better alternative.

[2020-03-06 18:36] danawillow commented on #5792
Well, not sure whether it was you or a coincidence but this just popped up on our internal tracker  :)

@Gatsby-Lee yup, the only thing missing from our end right now from what I can tell is the connect-mode argument.

[2020-03-06 18:45] Gatsby-Lee commented on #5792
@danawillow Nice!!. it's PR2 now. 👍

[2020-03-06 19:05] rileykarson opened #5845 "Handle GKE Surge Upgrade defaults change"
This was announced in an MSA, and we expect minor changes in the API response format we need to work around. [MSA image](https://user-images.githubusercontent.com/2080520/76245372-fd704b00-61f8-11ea-95fe-2fb9c02a05d6.png).

We can probably mark the `upgrade_settings` field O+C.

b/150953562

[2020-03-06 19:57] tristan957 commented on #5239
Post your whole resource definition

[2020-03-06 20:45] danawillow opened #5846 "Add update support for google_container_cluster.release_channel"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-06 22:39] edwardmedia commented on #5801
@emmaLP  can you try by replacing `dynamic` block with below one?  Let me know if that works for you.
[code]

[2020-03-07 00:40] paddycarver commented on #5461
I think we need some more information about this use case. Who is "we"? What kind of control are you looking for? What's the user experience desired here? There are a lot of ways I can think to implement this, but at the moment, I think we need some more details about what you're looking for and what kind of solution you're envisioning.

[2020-03-07 00:42] paddycarver commented on #1943
Spitballing: it may be worth supplying a data source for this instead of hardcoding it in the provider, so people could pass in a shortname to the data source and then interpolate the scopes it returns elsewhere. Not sure if this is a good idea or not, but Terraform would probably react better to it than to one list item becoming many.

[2020-03-07 01:03] #5357 closed

[2020-03-07 17:44] xEcEz commented on #5527
I am actually getting similar errors while trying to create a private ip address:

[code]

Could it be that terraform looks for wrong permission? To me, it seems that it looks for `compute.globalAddresses.createInternal` which is not listed in the [roles/permissions list](https://cloud.google.com/iam/docs/understanding-roles). Checking the [globalAdresses](https://cloud.google.com/compute/docs/ref

[2020-03-08 11:04] DarioBernardo commented on #5824
@edwardmedia Thank you for the answer. The second link you provided, the wordpress example, uses a proxysql sidecar. I thought that the point of having a VPC and a private IP address was to bypass the sidecar and connect directly through the private IP. I think the documentation in your first link mention this too. Is this the piece you think I am missing or something else? furthermore, why in my

[2020-03-08 11:47] sid0911 commented on #5239
Here is my resource definition:

resource "google_bigquery_table" "bq_tables_rgpt" {
  project       = var.project_id
  dataset_id    = google_bigquery_dataset.tera_gcp_dtset1.dataset_id
  table_id      = "btd_ebim_fal_product_agg_mnth"
  friendly_name = "Weather Loactions"
  schema     = file("${path.module}/files/createTableSqls/rangept/btd_ebim_fal_product_agg_mnth.json")
  range_partitioning {

[2020-03-08 16:15] kristianmandrup commented on #5539
@remorses Do you know how to customise the container port? The release notes say it is now possible, but not how. Any idea where I can find the docs for this? Thanks.

[2020-03-08 17:54] dogmatic69 opened #5851 "Errors for domain mapping to cloud run are swallowed."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-08 19:53] remorses commented on #5539
Someone should update the terraform provider to do so, unfortunately the provider is not updated by the google devs themselves so you just need to wait

[2020-03-08 20:34] tristan957 commented on #5239
post where you instantiate your provider

[2020-03-08 21:43] kibbles-n-bytes opened #5852 "deleted service accounts cause `google_storage_bucket_access_control` reads to fail"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-09 04:58] sid0911 commented on #5239
provider "google" {
  version = "~> 3.11"
  credentials = file("creds/round-pilot-267411-bd02bbe634d8.json")
  project     = "round-pilot-267411"
  region      = "us-central1"
}

provider "google-beta" {
  version = "~> 3.11"
  credentials = file("creds/round-pilot-267411-bd02bbe634d8.json")
}

terraform {
  backend "gcs" {}
}

[2020-03-09 09:19] emmaLP commented on #5801
@edwardmedia That worked. Thank you!

[2020-03-09 10:50] norbjd commented on #4492
I may be mistaken, but I don't believe this error is related to the `-` character present in the `role_id`. I've tried to reproduce the error with the latest provider (`3.11.0`) and also the last provider at the time when the issue was written (`2.15.0`, released September 17, 2019) with the following resource (notice the `-` character in the `role_id`) :

[code]

And in both cases, I got the foll

[2020-03-09 10:56] tristan957 commented on #5239
you have to specify your beta provider in your resource otherwise you will use the non-beta provider. Reminder that GitHub is not a support forum.

[2020-03-09 12:09] arvidviderberg commented on #1558
@danawillow Sure. Please find logs attached below. Note that I use Terragrunt, but that shouldn't change the behavior of Terraform. I'm currently using [this module](https://github.com/gruntwork-io/terraform-google-sql/tree/master/modules/cloud-sql), but I have the same behavior using [Googles module for cloud sql](https://github.com/terraform-google-modules/terraform-google-sql-db), indicating th

[2020-03-09 13:07] JohnMcSpedon opened #5853 "minor typos in google_billing_account_iam_binding"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-09 13:35] lkraider commented on #5691
The terraform I have involves many steps, not sure what specific part of it may be the issue. Does the log I attached in the original post help?

[2020-03-09 14:57] edwardmedia commented on #5824
@DarioBernardo you probably can find multiple different ways to connect Cloud sql from k8s clusters. Sidecar is one way. This repo is specific for `terraform-provider-google` and probably is not the best resources for you to seek advice for the solutions. In term of the `ping`, you might want to check your firewalls settings. I am going to close this issue. Please feel free to reopen it if you hav

[2020-03-09 14:57] #5824 closed

[2020-03-09 14:58] jenshonkan84 opened #5854 "Cannot Create VPC Connector"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-09 15:58] akrasnov-drv commented on #5107
Just today faced this bug and am very surprised that it's not fixed for months.
After wasting several hours I found that member/binding functions fail when there is a user (in the project) with Capital letter(s) in its ID (email)
Fortunately I had just 1 inactive user with Capital letters and I was able to remove it and apply my "google_project_iam_member" rules.

The error message " Error 400: Re

[2020-03-09 16:21] xEcEz commented on #5854
I actually ran into the same issue two days ago. I tried to create a connector through the gcloud cli but could not achieve it either. I've opened an issue on the [Google issue tracker](https://issuetracker.google.com/issues/151002486).

[2020-03-09 16:29] sid0911 commented on #5239
Thank you so much, Tristan. Appreciate your help!

[2020-03-09 16:42] #5775 closed

[2020-03-09 16:54] slevenick commented on #5107
Hey @akrasnov-drv sorry that this caused issues for you.

How are you adding back the user with lower case letters? Can you give me an overview of your workflow, like are you using terraform to attempt to add this user back, but it gets sent as  `lowercase@mail.com` and comes back as `LOWERCASE@mail.com`?

[2020-03-09 17:16] paddycarver commented on #5334
Because this is a feature request for hashibot, I'm going to move it to the hashibot repo, instead of tracking it here. I opened issue 104 for it. Unfortunately, that's a private repo, but the issue should be visible to at least some of the maintainers here.

[2020-03-09 17:16] #5334 closed

[2020-03-09 17:24] akrasnov-drv commented on #5107
Hi @slevenick
User creation is not actually relevant to the case. It's just another side effect that adds troubles.
I created user in Google console (IAM). I specified lowercase useremail@gmail.com, and Google found it, but then it added the user as UserEmail@gmail.com (likely it was initially registered so in gmail by the user)
The terraform google provider bug is that it can't  work with such "u

[2020-03-09 17:36] mattysweeps opened #5856 "GKE Node Pool doesn't get reassigned to new GKE cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-09 17:36] slevenick commented on #5565
Implementing via https://github.com/GoogleCloudPlatform/magic-modules/pull/3217 that adds support for `google_compute_instance` and adds `placement_policy` on `google_compute_resource_policy`. Will add support for templates and updating instance when it becomes available

[2020-03-09 17:37] #5565 closed

[2020-03-09 17:37] #2880 closed

[2020-03-09 17:43] #5801 closed

[2020-03-09 17:43] davidxia commented on #5767
I just hit this issue today when trying to upgrade a node pool for the first time with provider 3.11.0. It worked for me on 3.9.0. My error was the same as above.

This might be a [related issue](https://github.com/pulumi/pulumi-gcp/issues/282#issuecomment-586026822).

[2020-03-09 17:48] danawillow commented on #5833
Hey @JordanStebbings! We actually have an example of how to do this in our docs: https://www.terraform.io/docs/providers/google/r/cloudfunctions_function.html. Take a look at the first example :)

[2020-03-09 17:49] danawillow commented on #5833
Just kidding, I can read. Reopening for a bit more detailed response later on how to remove the binding.

[2020-03-09 17:52] paddycarver commented on #2880
This has been deployed, terraform.io/docs/provider/google-beta now redirects to terraform.io/docs/provider/google.

[2020-03-09 17:58] emilymye commented on #4993
https://github.com/GoogleCloudPlatform/magic-modules/pull/3155 added the ability to poll post create/update for PubSub and generic utils. We've moved this this near-term goals so we can track adding additional polling in other resources as we find them.

[2020-03-09 18:39] edwardmedia commented on #5854
@jenshonkan84 @xEcEz I can´t repro the issue. I am able to create a connector with this resource. Could you post the full debug log so I can take a closer look? Thanks

[2020-03-09 18:39] syl20bnr commented on #5792
Thank you for working on this, this is great to have this limitation being addressed.

Will this be in the provider v2 or in v3 ?

[2020-03-09 18:52] tristan957 commented on #5239
no problem. Good luck with your work.

[2020-03-09 18:53] slevenick commented on #5107
Hm, can you provide debug logs for the failing run? I'm unable to create a user with capital letters in their name. I have created a user with capital letters, but the IAM console only finds it as lowercase, which doesn't cause any issues.

[2020-03-09 18:57] edwardmedia commented on #5691
@lkraider your log file appears to be encrypted. Can you provide steps to open it? You might just directly remove the critical ID infos from the log. Thanks

[2020-03-09 19:10] danawillow commented on #1558
Thanks, removing the upstream-terraform label for now so this can get picked back up by our bug triaging process.

[2020-03-09 19:12] danawillow commented on #5792
We try to make our release numbers monotonically increasing as best as possible, so it'll be in 3.X. 2.X releases are only being done in emergencies (such as an API changing out from underneath us that makes the provider unusable)

[2020-03-09 19:47] xEcEz commented on #5854
On my end, I am actually getting a 403 error (Error 403: The caller does not have permission) but I assumed that was in fact due to the subsequent gcloud call failing with the same error than OP (Error 400: Request contains an invalid argument.). It was maybe a wrong assumption given you can actually create a connector with this resource.

This is slightly off-topic then, but could I ask what perm

[2020-03-09 19:55] megan07 opened #5860 "Fix TestAccDataprocCluster_withAccelerators test"
TeamCity error:

Config:
[code]
It looks like certain accelerator_types are only available in certain zones (https://cloud.google.com/compute/docs/gpus#gpus-list) and `nvidia-tesla-k80` is not available in `us-central1-f`.  I think `nvidia-tesla-v100` is available in all `us-central1` zones, or we should consider hard-coding the zone.

[2020-03-09 20:12] megan07 opened #5862 "Add firestore index sweeper (was: Fix TestAccFirestoreIndex_firestoreIndexBasicExample)"
TC output:

It looks like we need a handwritten sweeper for this resource.

[2020-03-09 20:14] edwardmedia commented on #5854
@xEcEz have you ever created other resources via terraform? For this particular resource, you need to enable `vpcaccess.googleapis.com` at least.

[2020-03-09 20:24] emilymye commented on #5649
yeah, i don't really see a good way to use PollAsync for this, since it's happening on resources that are children of the project. There might be another way we can read a project/resourcemanager-specific state that means it's actually ready, but this wouldn't hurt for now

[2020-03-09 20:26] edwardmedia commented on #5527
@xEcEz how do you verify if the account you use is the right one? can you try to create a brand new account to test the results?

[2020-03-09 21:08] raddaoui commented on #5565
Thanks @slevenick for this patch.
can we reopen this until we add support for google_compute_instance_template as per the description or maybe track it in another issue.

[2020-03-09 21:11] megan07 commented on #5844
Hi @diodfr!  Thank you for reaching out.  Our naming convention for this is `host_rule`, so you can pass that list to `host_rule`.
I think the configuration that you're looking for looks like this
[code]
Let me know if this helps and I can close the issue.  Thanks!

[2020-03-09 21:29] slevenick opened #5863 "Placement Policy for Instance Template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-09 21:30] slevenick commented on #5565
Opened https://github.com/terraform-providers/terraform-provider-google/issues/5863 to track this for instance templates

[2020-03-09 21:36] xEcEz commented on #5854
@edwardmedia Yes, I have a bigger architecture with a vpc network, memstore, bigtable, sql, functions... This and the fact I can not create a vpc connector through the cli are the reasons I was suspecting the permission might have been a wrong error, if this makes sense.

[2020-03-09 22:46] ndmckinley commented on #5377
Hi there - you should be able to solve this problem by using the bigtable instance's `id` field instead of its `name` field as your interpolation into the `app_profile`, as long as the instance name does not include the `/` character - which is disallowed in almost all cases.

[code]

should do it!

Please comment if this doesn't solve your issue.

[2020-03-09 22:46] #5377 closed

[2020-03-09 23:05] #5628 closed

[2020-03-09 23:36] ndmckinley commented on #5832
No problem, that's very doable in Terraform, but like you've said, there is no direct equivalent.  The reason for that is that GCP does not support it through the API:

One way to do it would be to use `metadata_startup_script` in `google_compute_instance` - simply select the Container Optimized OS image of your choice from [this section](https://cloud.google.com/container-optimized-os/docs/how-to

[2020-03-09 23:36] #5832 closed

[2020-03-10 00:23] jravetch commented on #5580
@rileykarson We've found an issue where terraform throws a 404 when trying to enable surge upgrades on a node pool.  The only solution is to recreate the node pool, which properly enables surge upgrades.  Is this due an API incompatibility issue as mentioned here https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-upgrades#surge ?  Enabling surge upgrades does work on the console on a

[2020-03-10 02:56] spew commented on #5461
We, https://github.com/GoogleCloudPlatform/k8s-config-connector, are using the terraform library to communicate with GCP. The provider logs to the main log package and does not give us any control over the output. Here are a several things we would like to have the ability to do:

1. Add a request id to each print statement. Our application has many threads (go routines) so it would make debugging

[2020-03-10 06:55] jenshonkan84 commented on #5854
@edwardmedia I looked through the debug log and found this:
 2020/03/09 15:15:21 [WARN] Provider "registry.terraform.io/-/google" produced an invalid plan for google_vpc_access_connector.vpc-connector-euw1, but we are tolerating it because it is using the legacy plugin SDK.
     The following problems may be the cause of any confusing errors from downstream operations:
       - .max_throughput: pl

[2020-03-10 07:22] jenshonkan84 commented on #5854
Hmm.. I see my error I had a to long name for my VPC Connector. I thought it was standard 63 chars but it is only 25 char. So you can close this issue from my side.

Thx for your help and sorry for taking your time.

[2020-03-10 07:51] paddycarver commented on #5461
Hey @spew, I'm a bit confused. What does "the terraform library" mean in this context? [According to the documentation](https://www.terraform.io/docs/extend/best-practices/depending-on-providers.html) we don't really support using Terraform or its providers as a library, so I'd love some more information.

[2020-03-10 08:37] xEcEz commented on #5854
Those answers made me question my config, and indeed the error was on my side. The `google-beta` provider was referring to an old credentials file while the `google` one was using the correct file, hence giving me permission on most of the other elements used in my project. Sorry about this.

[2020-03-10 08:40] xEcEz commented on #5527
@edwardmedia The error was on my side and due to a configuration mistake in the `google-beta` provider block that was referring to an outdated credentials file. Sorry about this.

[2020-03-10 09:52] akrasnov-drv commented on #5107
Yes, sure.
As I wrote before, Google provides the email it finds in its databases, and it keeps capital/lowercase as it's in its DB. I don't know if you can register new Google user with capital letters in email now, but it was definitely possible in the past.

Test code
`resource "google_service_account" "del_me" {
  account_id = "del-me"
  display_name  = "bug test sa"
}
resource "google_project

[2020-03-10 09:55] akrasnov-drv commented on #5107
[tf.log](https://github.com/terraform-providers/terraform-provider-google/files/4311587/tf.log)

[2020-03-10 10:51] sdif commented on #5767
Hi there,
We have the same issue but with every version of the provider since the 3.X.
Our node pools are fine with the v2.20.2 when we change `autoscaling.max_node_count` for example but as soon as we try to do the same thing with the v3 of the provider we have this issue:

[code]
We tried many versions of the provider: 3.2, 3.5, 3.9 and 3.12.

[2020-03-10 10:58] JordanStebbings commented on #5833
Hey Dana, thanks for the response, I will describe what I have tried below:

To replicate what I have test please use the follow:

1) Create a Google Cloud Function with Python 3.7, keep everything the default settings however under Authentication Untick the Checkbox for Allow Unauthenticated Invocations

2) When the function is deployed, click the HTTP Trigger and you should receive the message:

[2020-03-10 12:42] sebglon opened #5865 "Add compute status field on data.google_compute_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-10 12:56] samhumphreys-2sixty opened #5866 "Add Notification Options to google_bigquery_data_transfer_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-10 13:17] diodfr commented on #5844
It works. Sorry for the noise. Maybe an example in the documentation could help.
Thanks you.

[2020-03-10 13:17] #5844 closed

[2020-03-10 13:35] DanielWozniak commented on #5815
@emilymye, looks like the feature has finally been put into starting composer-1.9.2.
[Release Notes](https://cloud.google.com/composer/docs/release-notes)

[2020-03-10 13:56] rtoma commented on #5767
Observed with 3.12.0 on a state created by a 2.x provider. Will try downgrades.

[2020-03-10 14:14] pkaramol opened #5867 "Unable to import google logging metric using terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-10 15:15] Karunamon opened #5868 "google_projects data resource should return the project number"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-10 15:15] rileykarson commented on #5580
@jravetch mind filing a new issue and filling out the bug template? I just tried modifying the surge settings on a cluster and it worked for me.

[2020-03-10 15:31] edwardmedia commented on #5854
@jenshonkan84 @xEcEz Thanks for your both efforts. I am closing this issue now. Please feel free to reopen if you need further assistance.

[2020-03-10 15:31] #5854 closed

[2020-03-10 17:35] edwardmedia commented on #5856
@mattysweeps I can´t repro the issue.
I used your HCL to create a cluster, then manually deleted it. Waited a little bit time as some resources were still being cleaned up. Then ran tf plan, I did see the differences available. After I applied the changes, I saw the cluster was successfully recreated.
Per matt´s suggestion, I am closing this issue

[2020-03-10 17:35] #5856 closed

[2020-03-10 18:05] danawillow commented on #5580
https://github.com/terraform-providers/terraform-provider-google/issues/5767 might also be relevant

[2020-03-10 18:25] rileykarson commented on #5767
Ah, got it- if it's happening for users upgrading from `2.X`, it's very likely that it's a change related to the `id`. We used to store the `id` as `{{location}}/{{name}}` but now store `projects/{{project}}/locations/{{location}}/clusters/{{cluster}}/nodePools/{{name}}`. Code relying directly on the `id` won't work as expected.

@davidxia: Thanks for the release range! And whoops, the change to n

[2020-03-10 18:52] ndmckinley commented on #5767
Acknowledged, I see how to fix this.  :)

[2020-03-10 19:03] goobysnack opened #5870 "Resource google_sql_database_instance root_password (MS SQL) for GA"
Based on https://github.com/terraform-providers/terraform-provider-google/issues/4776

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extr

[2020-03-10 19:20] jravetch commented on #5767
We ran into the same issue when trying to set `upgrade_settings` on a node pool created in 2.x.  The only fix was to destroy the node pool and create a new one with 3.11 google-beta provider.

[2020-03-10 19:21] lwmobeent opened #5871 "GCP Storage Permissions returns error on destroy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-10 20:10] #4092 closed

[2020-03-10 20:24] #5369 closed

[2020-03-10 20:53] elsbrock opened #5875 "Uniform access control for storage bucket"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-10 20:54] slevenick commented on #5107
That's very unusual. How did you create the user with capital letters, is it just an old email that existed?

And you have found that removing the user with capital letters allows you to apply the binding?

I'll ask around for why the API would be returning upper case values and if this is intended we should handle this correctly in Terraform

[2020-03-10 22:14] bharathkkb opened #5876 "Sporadic error which lasted for an hour during release of v2.20.3"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-10 22:23] #5767 closed

[2020-03-10 22:39] bharathkkb commented on #5876
/cc @morgante @ChandranshuRao14 @kodyc1

[2020-03-10 23:00] edwardmedia commented on #5867
@ndmckinley Besides, in the `tf import`, I see "NOT_FOUND" to the get request against /v2/projects/myproject/metrics/proservices_run. Is this the right api? Below is what I got from gcloud and it appears calling https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors/get instead.

[code]

[2020-03-11 00:16] VigneshCanada opened #5878 "Terraform provider is out of sync with Dataproc API, to Enable Component Gateway"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-11 01:13] kewei5zhang commented on #1883
Run `terraform refresh` before `terraform destroy` solved the problem for me

[2020-03-11 01:22] danawillow commented on #5876
Assigning over to @megan07 to provide some context and to close (since it's working now).

[2020-03-11 08:57] akrasnov-drv commented on #5107
- likely yes, that's the email that user provided. Likely it's old.
- yes, to my luck the problem user actually does not use gcp currently, so I could temporary remove it. Now all binding/membership works. As I wrote before, I tried to re-add the user in low case letters, but Google added it again with capital ones like it originally was (and you saw this behavior when you tried to add a user with

[2020-03-11 12:17] JordanStebbings commented on #5833
Also just been looking at the Gcloud documentation for deploying Cloud Functions, there is a Flag which can be set for --allow-unauthenticated, could this be replicated for this?

https://cloud.google.com/sdk/gcloud/reference/functions/deploy

[2020-03-11 15:53] edwardmedia commented on #5853
fixing in https://github.com/GoogleCloudPlatform/magic-modules/pull/3244

[2020-03-11 16:09] preston-hf opened #5879 "AI Platform Notebook support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-11 16:10] preston-hf commented on #4359
Hey stranger! I think this may be something else. I created an issue for AI notebooks though. #5879

[2020-03-11 16:13] vmarchaud opened #5880 "Implement GKE Hub Membership"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-11 16:38] edwardmedia commented on #5870
@goobysnack You have got the answer in below PR. I have verified it works for `google-beta`.  I am closing this issue here. Thanks
https://github.com/GoogleCloudPlatform/magic-modules/pull/2592

[2020-03-11 16:46] edwardmedia commented on #5870
Change this `issue` to `enhancement`
Refer to: https://github.com/GoogleCloudPlatform/magic-modules/pull/2592

[2020-03-11 16:51] slevenick commented on #5107
@jjorissen52 does your IAM policy have users with upper case letters?

I'm tracking down the intended behavior here, and will definitely handle this in the provider if needed

[2020-03-11 17:17] #1287 closed

[2020-03-11 17:24] edwardmedia commented on #5527
@Vendin Have you resolved the issue? How do you use your credential? Can you follow below instruction to create new and then try?
https://www.terraform.io/docs/providers/google/guides/getting_started.html

[2020-03-11 17:33] #5025 closed

[2020-03-11 17:47] slevenick commented on #1578
@bjaworski3 just FYI I'm actively working on this now and expect to finish it soon (may take a week or two to be fully released though)

[2020-03-11 18:17] #5853 closed

[2020-03-11 18:41] goobysnack commented on #5870
It does work in google-beta.  I was told to open an issue to get it moved to google provider.  Is that not accurate?

[2020-03-11 19:24] asbchakri commented on #5870
I have the same issue. It works in Provider=google-Beta but nit in Provider = Google

[2020-03-11 20:48] danawillow opened #5885 "Add user project overrides for Cloud Functions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-11 21:22] oliverdauben commented on #4583
For what it's worth: I just reproduced the issue with Terraform 0.12.23, too.

[2020-03-12 06:39] chandu-007 commented on #4143
I am also facing same issue. Any update on fix?

[2020-03-12 06:46] jjorissen52 commented on #5107
@slevenick The project does have one user with capital letters in the email, though none of bindings defined via terraform do anything with that user. Don't know if that makes a difference.

[2020-03-12 07:20] akrasnov-drv commented on #5107
Yes, I also do nothing with the problem user. But you can see it in debug and it brakes the workflow (I mean just existence of it).
@josephlewis42 if you have an option to (temporary) remove that user, you'll see it fixes your terraform processing.

[2020-03-12 10:16] JohnMcSpedon commented on #5853
thanks for the quick fix!

[2020-03-12 14:41] megan07 commented on #5876
Hi @bharathkkb!  Sorry for the interruption and inconvenience.  Our release on Tuesday ran into a problem due to a new deploy tool, and it was briefly unavailable for Terraform 0.12 users. We've fixed the release and updated our internal processes to ensure we don't run into this specific problem again. Thanks for your patience.

[2020-03-12 14:41] #5876 closed

[2020-03-12 15:14] jjorissen52 commented on #5107
@akrasnov-drv @slevenick That was it.

1. Run apply with the binding. Failure.
2. Remove user with capital letters in their Gmail account from IAM via cloud console.
3. Run apply with binding. Success!

[2020-03-12 17:00] slevenick commented on #5107
@akrasnov-drv thank you for figuring out the root cause of this issue!

I still cannot reproduce, but it seems like this is a (somewhat) common case, so I'll find a fix

[2020-03-12 18:07] lpzdvd-packlink commented on #5107
Ended here facing same issue. I was using `google_project_iam_member` as

foo@xxx.iam.gserviceaccount.com

fiexed using:

serviceAccount:foo@xxx.iam.gserviceaccount.com

It's in doc anyway.

[2020-03-12 19:17] bharathkkb commented on #5876
@megan07 thanks for the explanation :)

[2020-03-12 23:20] umairidris commented on #910
FYI for those looking to solve this today, there is a way to define it somwhat in HCL:

[code]

[2020-03-13 12:44] Omarimcblack commented on #3753
@MPV do you know if there has been any movement on this? or has anybody found a feasible alternative solution in the meantime?

[2020-03-13 14:29] llicour commented on #5192
same problem for me in similar situation. Seems appengine is not able to load modules if deployed from terraform with a zip bucket as source.
Insteed, if each file is describe, this works
[code]

gcloud app deploy use this way to deploy app

[2020-03-13 15:07] edwardmedia commented on #5192
@llicour the original issue was likely what I stated earlier. For yours, it may or may not be the same. Could you create a separate issue so that helps us to track? Please also post your terraform config and state how to repro the issue.

[2020-03-13 16:58] Vendin commented on #5527
@edwardmedia  my issue is not resolved. A new account has not yet been possible to create.

[2020-03-13 17:59] venkykuberan commented on #5871
@lwmobeent I used your config to create and destroy the resources. Every time it worked fine and i don't see the errors you are facing. BTW, what role does your terraform service account have ?, mine have `Storage Admin` role. I tried with older versions of terraform and provider as well.

I am suspecting some concurrency issue, however i am not able to repro it. Please try setting the `Storage Ad

[2020-03-13 20:27] DnR-iData commented on #1572
Hi,

Some news for this feature really appreciated ?

Same error today ...

[code]

My zones are fully managed by external-dns too.

[code]

Thank you

---
DR

[2020-03-13 20:36] #5150 closed

[2020-03-13 20:49] #5792 closed

[2020-03-13 21:29] lwmobeent commented on #5871
The service account I am using with terraform has the storage admin role on the project level, also the complete template has other things as well so it might be conflicting with those if it's a concurrency issue? I can upload the complete template to google drive folder and share with you?

[2020-03-13 21:32] edwardmedia commented on #5527
@Vendin your error message clearly indicates the account your terraform uses does not the specified permission. I have verified that if the account has the role of `Compute Network Admin`, it is enough for the account that can successfully run the scripts. Your error message is from API. It has nothing to do with terraform itself. I would suggest you go back to verify if you use the account you th

[2020-03-13 22:00] chriswacker opened #5889 "service_account_email missing from resource cloudfunctions_function update function"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-13 22:24] geojaz opened #5890 "Unclear error message when unauthorized: google_secret_manager_secret_version"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-13 22:25] danawillow opened #5891 "Add support for quota overrides"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-13 22:53] danawillow opened #5892 "Data Catalog tagTemplates + tags"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-13 23:07] danawillow opened #5893 "Network Connectivity Tests"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-14 01:14] danawillow opened #5894 "Machine Images"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-14 20:26] ooq commented on #5552
I'm still seeing this issue with:
[code]
Now that the `public_key` field does not seem to be set in any way:
$ tf console
[code]

[2020-03-15 14:38] c2thorn opened #5895 "`google_kms_crypto_key_version` `public_key` returns 400"
`public_key` is returning an error during the initial GET request:
[code]

Thus `public_key` returns with an empty list during apply, causing the error seen in https://github.com/terraform-providers/terraform-provider-google/issues/5552#issuecomment-599131035

[2020-03-15 14:41] c2thorn commented on #5552
Hi @ooq,
Thanks for pointing this out!  Looks like this is a separate issue, as the API returns an error on apply-time. I've opened up a new bug at https://github.com/terraform-providers/terraform-provider-google/issues/5895

[2020-03-15 14:41] #5552 closed

[2020-03-15 15:07] ooq commented on #5895
Thanks for creating this bug @c2thorn !
I'm new to terraform. But It seems that even when the key is indeed generated (by checking GCP console), refreshing terraform state for `version` would still not retrieve the `public_key`. Is this expected?

[2020-03-16 03:00] dsymonds opened #5896 "Updating google_container_node_pool stopped working"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-16 07:08] Gatsby-Lee commented on #5792
Thank you.

[2020-03-16 07:17] ndmckinley opened #5897 "Fix TestAccAppEngineFlexibleAppVersion tests"
These tests started failing with a 500 without any obvious changes - probably something API-side.

[2020-03-16 13:39] Unichron commented on #5027
I think the confusion comes from the documentation mess on google's side. They have two resources:

- https://cloud.google.com/compute/docs/reference/rest/v1/addresses
- https://cloud.google.com/compute/docs/reference/rest/v1/globalAddresses

The intro texts on both of these are the same and have very inconsistent settings, for example in theory the 'address' has an ipVersion field but you are onl

[2020-03-16 13:39] FallenHoot opened #5898 "Cloud Run revision already exists"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-16 13:50] JSANL opened #5899 "GCP Credentials per file work in "google" but not "google-beta""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-16 14:47] rileykarson commented on #5896
I believe this is a duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/5767. If the [`3.13.0` release](https://github.com/terraform-providers/terraform-provider-google/blob/release-3.13.0/CHANGELOG.md#3130-unreleased) later today doesn't fix it, can you reopen this / open a new issue?

[2020-03-16 14:47] #5896 closed

[2020-03-16 14:50] megan07 commented on #5798
Hi @Ginja, it looks like this issue is related to an upstream SDK issue (https://github.com/hashicorp/terraform-plugin-sdk/issues/122).  I'll label this with the upstream label and we'll revisit it once that issue had been addressed.  Thanks!

[2020-03-16 16:16] venkykuberan commented on #5871
Please share your config and debug log

[2020-03-16 16:47] c2thorn commented on #5895
@ooq that is not expected, mind sharing your Terraform configuration file?

[2020-03-16 16:47] edwardmedia commented on #5889
@chriswacker I have followed the steps you provided and saw NO change in the field of the custom `service account email`. Could you please post the full debug logs of the executions before and after you apply the change in the environment field? Thank you

[2020-03-16 16:53] ooq commented on #5895
@c2thorn Exactly this one: https://www.terraform.io/docs/providers/google/r/binary_authorization_attestor.html#example-usage-binary-authorization-attestor-kms

[2020-03-16 17:02] c2thorn commented on #5895
Thanks for your cooperation @ooq! I cannot seem to reproduce what you are seeing (refreshing is showing `public_key`). Do you mind sharing your [DEBUG](https://www.terraform.io/docs/internals/debugging.html) logs when you apply/refresh?

[2020-03-16 17:15] eddy-curv opened #5901 "google_compute_disk_resource_policy_attachment cant be created for google_compute_region_disk"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-16 17:38] rileykarson commented on #5901
We actually just released [`3.13.0`](https://github.com/terraform-providers/terraform-provider-google/releases/tag/v3.13.0), which includes a `google_compute_region_disk_resource_policy_attachment` resource. Closing since this is now supported.

Original issue: https://github.com/terraform-providers/terraform-provider-google/issues/5357

[2020-03-16 17:38] #5901 closed

[2020-03-16 17:38] danawillow commented on #5878
Closing as duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/4128.

[2020-03-16 17:38] #5878 closed

[2020-03-16 17:55] edwardmedia commented on #5898
similar to b/151577360

[2020-03-16 17:57] slevenick commented on #5107
I'm still having trouble reproducing this issue, and I believe that there is something strange going on with the particular emails being used here as emails are not handled case sensitively by the API.

Can I have one of you @akrasnov-drv or @jjorissen52 send me the actual email that is causing the problems? It will help me track down what exactly about these users is causing the issue.

You can s

[2020-03-16 18:06] danawillow commented on #5865
Since I see you have a PR out for review already, assigning the issue to you as well!

[2020-03-16 18:15] danawillow commented on #5880
Unfortunately this product doesn't have public APIs that we can call at the moment, so labeling this upstream until there's something we can call to provision these.

[2020-03-16 18:33] emilymye commented on #5460
Fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/3196

[2020-03-16 18:33] #5460 closed

[2020-03-16 18:34] danawillow commented on #5875
Hey @elsbrock, we do support this via the [bucket_policy_only](https://www.terraform.io/docs/providers/google/r/storage_bucket.html#bucket_policy_only) field, which unfortunately was renamed at a product level after we had already added support, which is why it wasn't immediately obvious that it's the same thing. I'm going to relabel this as a documentation issue, because we can definitely do a be

[2020-03-16 19:26] lwmobeent commented on #5871
Please find the config file zipped in the folder below
https://drive.google.com/drive/folders/1S6OQiKDtSjmo7zfVoWQjAVV1Te5uvtnq?usp=sharing

[2020-03-16 19:46] venkykuberan commented on #5899
@JSANL per your debug log i see your resource is trying to use google provider as its the default. Try using the provider attribute `provider = "google-beta" ` in your network resource, it will work as expected. Let me know if it isn't working.

[2020-03-16 19:50] elsbrock commented on #5875
Perfect, thank you!

[2020-03-16 20:36] danawillow commented on #5137
Fixed in https://github.com/terraform-providers/terraform-provider-google/pull/5257.

[2020-03-16 20:36] #5137 closed

[2020-03-16 20:44] dsymonds commented on #5896
Yes, updating to 3.13.0 did indeed fix things. Thanks! Sorry I couldn't find that other issue with some searching.

[2020-03-16 20:46] JSANL commented on #5899
Yes, It works :)
Is this the expected behavior though? Because for many resources it will be quite painstaking.

[2020-03-16 21:13] danawillow opened #5904 "Missing documentation for google_dataproc_cluster.cluster_config.software_config.optional_components"
https://www.terraform.io/docs/providers/google/r/dataproc_cluster.html
vs
https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_dataproc_cluster.go#L446

[2020-03-16 21:27] danawillow commented on #4359
According to https://cloud.google.com/dataproc/docs/tutorials/jupyter-notebook#create_a_cluster_and_install_the_jupyter_component, the only things necessary to create a notebook in a cluster are:
1. create your cluster and install the Jupyter and Anaconda components on the cluster's master node
2. enable the Component Gateway

1 is already doable via cluster_config.software_config.optional_compone

[2020-03-16 21:27] #4359 closed

[2020-03-17 00:08] edwardmedia commented on #5833
@JordanStebbings when you create a function through `google_cloudfunctions_function`, the provider calls api service https://cloud.google.com/functions/docs/reference/rest/v1/projects.locations.functions/create. Currently by default, api creates `google_cloudfunctions_function` and implicitly creates an iam object which binds allUsers to Invoker role. These are all done inside API service. At the

[2020-03-17 01:24] danawillow commented on #4449
I tried to repro this again today, and again, it works fine for me 😐

I have a hypothesis- for those of you that were unable to get this working, was the service account that you were running Terraform with in the same project or a different project as the transfer  config that you were trying to create?

[2020-03-17 04:18] Karunamon commented on #5681
I did a bit of digging on this, and I think it has to do with priorities. Namely, the priority appears to be how Terraform (and the Google API) keeps track of the rule in state.

Using @goobysnack's method of using a count index of a list of ranges to set a priority, I get the same error. More galling, though, is the fact that **random rules within the set are created successfully**. Re-applying t

[2020-03-17 09:47] Unichron opened #5905 "Unable to switch from port to port_name in tcp health check"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-17 11:05] jplogos opened #5907 "terraform crash."
We see terraform crash as below.
This is similar to an old issue #2112 [](https://github.com/terraform-providers/terraform-provider-google/issues/2112)

Can you please advise on this?

**Terraform v0.11.12**

**Crash Output:** (complete crash log attached).
[crash.log](https://github.com/terraform-providers/terraform-provider-google/files/4343070/crash.log)

2020-03-17T09:01:23.795Z [DEBUG] plugin

[2020-03-17 11:21] #5907 closed

[2020-03-17 11:21] jplogos commented on #5907
wrong provider.

[2020-03-17 14:31] samuel-begin opened #5909 "Release the google_secret_manager to the general availability provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-17 15:28] #5845 closed

[2020-03-17 16:16] venkykuberan commented on #5899
Yes, its is expected to work that way. Please refer this doc for using `google-beta provider` - https://www.terraform.io/docs/providers/google/guides/provider_versions.html#using-the-google-beta-provider

I am closing this issue as its solved

[2020-03-17 16:16] #5899 closed

[2020-03-17 16:28] emmaLP commented on #2605
Is there a workaround for this in the meantime while this is is being worked on?

This is a blocker for a fully automated project set up.

[2020-03-17 16:40] #1472 closed

[2020-03-17 16:40] #1578 closed

[2020-03-17 17:54] #5724 closed

[2020-03-17 20:07] kurdybacha commented on #3657
Any update on this? This prevents automatic project creation with datastore, does't it?

[2020-03-17 21:08] JessicaGreben commented on #2605
@emmaLP the only workaround that I could come up with is to get early access to the alpha for Stackdriver Workspace API. I was told to talk with our Google Cloud Support point of contact to ask to be added to that. However you would still need to write the code to use the API to create stackdriver stuff, since terraform still doesn't have support for it.

[2020-03-18 00:29] venkykuberan commented on #5871
@lwmobeent  I am able to repro the behavior with your whole template, I see its conflicting with `google_storage_notification` resource during the destroy. You can avoid the error by adding the iam_member resources (example given below) of storage as dependents to `google_storage_notification` resource so terraform can manage the sequence during destroy.  I don't think that's the best solution, we

[2020-03-18 01:13] dmcgowandmc opened #5914 "Two Composer Environments on a Shared VPC results in a IP Overlap Error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-18 02:26] newtorob commented on #4128
Once component gateway moves to Beta stages, would it be useable with Terraform? Or is it something we have to wait until post-beta?

Thanks.

[2020-03-18 08:19] uhinze opened #5916 "Move Workload Identity to GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-18 09:57] yu-yamada opened #5917 "Unable to import google_access_context_manager_access_level"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-18 10:26] rangerscience commented on #3487
Are there any plans to add fulfillment/webhook configuration to this provider? How would I go about properly requesting / implementing that?

(As nice as it'd be to have intents, responses, etc configurable in TF, the webhook stuff would actually interact with the rest of what TF is typically used for, right?)

[2020-03-18 14:30] edwardmedia commented on #5905
@c2thorn in the plan, I see this after making changes
[code]
[code]

[2020-03-18 16:34] edwardmedia commented on #5890
@c2thorn  it would be better if the error message could give more hints.

[2020-03-18 16:37] venkykuberan commented on #5852
@kibbles-n-bytes , the service account you are using in `google_storage_bucket_access_control` resource is created in the same config or its created outside ?

[2020-03-18 16:48] #5860 closed

[2020-03-18 16:58] chrisst commented on #5753
done

[2020-03-18 16:58] #5753 closed

[2020-03-18 17:01] edwardmedia opened #5919 "Example error in google_access_context_manager_access_level"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-18 17:20] kibbles-n-bytes commented on #5852
@venkykuberan The issue is most apparent when you created the service account outside of the same config, but could happen as part of the same config. Basically, if as part of whatever ordering you happen to delete the service account first, the bucket access control becomes stuck due to the storage API now returning 400s, not 404s.

[2020-03-18 17:39] edwardmedia commented on #5917
@yu-yamada import seems to be fine with me. Below is what my config looks like and how I run the command. Can you try again?
[code]

[code]
If you don't know your-policy-number, you could run below command
[code]

[2020-03-18 17:42] c2thorn commented on #4128
@newtorob Once it hits beta, the feature would go straight to the [google-beta](https://github.com/terraform-providers/terraform-provider-google-beta) provider. When made generally available, it would be moved over to this provider.

[2020-03-18 17:50] venkykuberan commented on #5852
With the following config i see terraform destroys the resources without any errors based on the dependency graph it created.

sample config
[code]
Please let me know if it helps,  if not i would like to your config to understand better

[2020-03-18 17:55] danawillow commented on #5865
@sebglon I see that the PR you had out for review was on the compute instance resource, though this issue is about the data source. Are you also intending to create a PR for the data source change, or should I unassign this from you?

[2020-03-18 18:06] danawillow commented on #5664
Always happy to look at PRs! Take a look at our contributing guide at https://github.com/terraform-providers/terraform-provider-google/blob/master/.github/CONTRIBUTING.md

[2020-03-18 18:14] danawillow commented on #5544
@jeet-parekh correct! You'll also probably need to make changes in the corresponding terraform.yaml file. Enforcing the samplingRatio would be done via a validate func; `FloatBetween` should do it. Search MM for "validation" to see how we typically add those.

[2020-03-18 18:16] danawillow commented on #5522
Hey @maroux, just checking in here. Did you still want to contribute this, or should I unassign you?

[2020-03-18 18:27] danawillow commented on #5317
Hey @kurtmaile, `params` is a map so you can put any value you'd like in the key. If the API accepts `partition_field` as a param, then you can do it without any changes to the provider.

Looking at the docs a bit, I'm not totally sure how you would do it, but I did find https://cloud.google.com/bigquery-transfer/docs/gcs-transfer-parameters#partitioning_options which hopefully helps (it's GCS-spe

[2020-03-18 18:27] #5317 closed

[2020-03-18 19:33] kibbles-n-bytes commented on #5852
Hey @venkykuberan ; sorry, when I said "it could be part of the same config", I meant theoretically you could manually populate the entity field as `user-test-cfg-sa@my-project-id.iam.gserviceaccount.com`, but realistically yes it's when the service account is created out-of-band.

To reproduce:
- Create the service account using gcloud:
  `gcloud iam service-accounts create test-cfg-sa`
- Apply t

[2020-03-18 19:35] maroux commented on #5522
hey @danawillow - I was waiting to get access to DLQ beta so I don't work blind but reps are being slow. Happy for someone else to take over if they're willing.

[2020-03-18 19:44] danawillow commented on #5522
Got it, I didn't realize the feature wasn't public yet. We generally try to keep the provider for publicly available features only, so might just be best to wait for a public beta.

[2020-03-18 20:04] danawillow commented on #5891
Marking as P1 now because we no longer need to rush. Perhaps it'll become a P2 later, we'll see.

[2020-03-18 20:06] ndmckinley commented on #5891
It _should_ still be done this sprint, unless something goes wrong.  :)

[2020-03-18 20:13] Crizstian opened #5920 "Unable to use google-beta provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-18 21:32] slevenick opened #5922 "IAP test failures"
TestAccIapClient_iapClientExample
And brand

They seem to be intermittent, but are a:
[code]

So we should fix them before merging.

Likely around caching and will need polling for consistent result.

[2020-03-18 21:33] slevenick opened #5923 "Appengine Flexible Test Failures"
Appengine flexible tests are failing, maybe due to CI project settings?

TestAccAppEngineFlexibleAppVersion_appEngineFlexibleAppVersionExample
and
TestAccAppEngineFlexibleAppVersion_update

[2020-03-18 21:34] sebglon commented on #5865
@danawillow Sorry the PR is here: https://github.com/GoogleCloudPlatform/magic-modules/pull/3269

[2020-03-18 21:47] mcaballeropinto opened #5924 "Cloud Run service template spec field timeoutSeconds missing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-18 22:21] rileykarson opened #5927 "Bump Cloud Shell images to Terraform 0.12.24"
From 0.12.9 (main) / 0.12.18 (OiCS)

[2020-03-18 22:52] danawillow commented on #5865
Great, thanks! Sounds like this is done now, so closing.

[2020-03-18 22:52] #5865 closed

[2020-03-18 22:59] venkykuberan commented on #5920
@Crizstian it looks to me its more of connectivity issues rather than google-beta provider issue.

 Were you able to create the same resources with google provider ? or try to create 1 or 2 resources using gcloud just to narrow down network component ?

[2020-03-19 00:10] danawillow commented on #4151
Added in https://github.com/GoogleCloudPlatform/magic-modules/pull/2195.

[2020-03-19 00:10] #4151 closed

[2020-03-19 02:07] yu-yamada commented on #5917
Thank you for your reply

it worked with example

[2020-03-19 02:08] #5917 closed

[2020-03-19 03:23] dinvlad opened #5928 "Support Google Cloud Artifact Registry"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-19 07:14] yohei1126 opened #5929 "Authenticating a BigQuery scheduled query with a service account"
I am trying to set a service account to a scheduled query.
https://cloud.google.com/bigquery/docs/scheduling-queries#using_a_service_account
Does this plugin support this feature?

[code]

Then I run `terraform plan`

[code]

I got this error.

[code]

[2020-03-19 08:28] vDMG commented on #5665
We are also very interested on this feature to create our zookeeper cluster on `RECREATE` mode.

[2020-03-19 10:27] wietsevenema commented on #3657
There is alpha gcloud support for this now, but there is a bug:

When you create the app engine application from a service account, creating the firestore instance fails.

https://issuetracker.google.com/issues/148567895 (the suggestion to downgrade gcloud is wrong)

[2020-03-19 11:15] spil-dbhagat opened #5930 "Terraform changes the project name in a resource reference when running terraform apply."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-19 12:23] debek opened #5931 "List issue during upgrade terraform 0.11 to 0.12"
Hi,

I have a problem how to rewrite a list to work in terraform 0.12
This is my list:
[code]

I added it to module:
`master_authorized_networks_config = var.master_authorized_networks_config`

After terraform apply i have the error:

[code]

I can't resolve this problem. Can you help me?

[2020-03-19 15:03] #1480 closed

[2020-03-19 15:07] rileykarson commented on #1480
Alright, this resource is expected for our March 30th release. Config looks like this (`for_each` /`count` can be used to provide the `group` param):

[code]

[2020-03-19 15:13] jeduden commented on #1183
This doesn't sound like a proper solution. Since the only reason for the dependency with instance-1 to exist is that it had the ip address in the past associated with it.

I think, a concept on address is missing. Something like: 'it can only have a single owner'. Terraform should figure out that the owner changed, and then use this property to ensure that this change can be applied without manual

[2020-03-19 16:14] ndmckinley commented on #1183
I agree that this solution feels incomplete.  The issue is in the core planner of Terraform, which we cannot control in our provider.  We have an open issue against Terraform core to enable us to build better solutions, but for now, this is what we've got, unfortunately.

[2020-03-19 16:51] IslamAzab commented on #4143
@pradeepbhadani Sorry for the late reply.

This is the line that caught my eye
`Provider "google" produced an invalid plan for google_bigquery_table.test_us_bigquery_table, but we are tolerating it because it is using the legacy plugin SDK.`

Here is the full output.

[code]

[2020-03-19 17:45] venkykuberan commented on #5929
@yohei1126 service account on bigquery_data_transfer_config is a beta feature, please try with `google-beta` provider and let us know if it works.

[2020-03-19 18:54] IslamAzab commented on #4143
Another update, or a workaround, if the new field is added always at the end of the list the issue of always seeing schema changes will not happen.

For example when this schema is updated as follows
[code]

[2020-03-19 20:13] spil-dbhagat commented on #5930
Tracking my way through the source code, the call from expandComputeTargetHttpsProxySslCertificates at https://github.com/terraform-providers/terraform-provider-google/blob/15ebe233dc45ce34e5250ee1c15f3a1245d331d4/google/resource_compute_target_https_proxy.go#L148 ends up at https://github.com/GoogleCloudPlatform/terraform-validator/blob/4ffa90923d2d8ab808e4b4f2487f22bfd8fe0d15/vendor/github.com/G

[2020-03-19 20:14] c2thorn commented on #3487
Hey @rangerscience, additional Dialogflow features are best filed as separate issues as this one is a bit overloaded. This will help us keep track of the different Dialogflow features and their demand.

[2020-03-19 20:45] edwardmedia commented on #5930
@spil-dbhagat could you post the config so I can try to repro the issue?

[2020-03-19 21:03] rileykarson commented on #5542
@edwardmedia did https://github.com/GoogleCloudPlatform/magic-modules/pull/3205 fix every id, or are some remaining?

[2020-03-19 21:16] spil-dbhagat commented on #5930
https://gist.github.com/spil-dbhagat/099f11411ea68398f7fd44eda5d5d735 is the relevant config. Mostly unredacted.

To summarise:
spil-infra-prd is the central resource management project. Letsencrypt certificates are generated here.
spil-portal-dns-prd is the DNS resource zone
spil-portal-widgetplatform-stg is the project with webservers and loadbalancers. The desired LB should be created here, wit

[2020-03-20 00:59] chrisst opened #5935 "Allow access to alpha GCP features"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-20 01:13] chrisst commented on #5935
I'll start by saying this is a bit of a sneaky enhancement request because this is something that I've already been working on. But I am hoping to use this issue for a couple of different things:
1. A place to post updates as to what we support and how to use it.
2. A opportunity to solicit feedback on how people are using public alpha features to help us shape our roadmap

In regards to the first

[2020-03-20 08:51] yohei1126 commented on #5929
@venkykuberan It still does not work.

I changed provider to `google-beta` and use the same terraform code.

[code]

After I run `terraform init` I got the same error.

[code]

[2020-03-20 12:21] shree1988 opened #5936 "Terraform code to fetch kms encrypted cer and key file from bucket and use it for a application"
Hi Folks,

I need terraform code which will decrypt the file which is stored on CGS and use it for application.

Thanks

[2020-03-20 12:47] eyalzek opened #5937 "Changing `workload_metadata_config` on `google_container_node_pool` forces replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-20 13:44] MajorBreakfast opened #5938 "google_storage_bucket_iam_member shows diff for bucket self links"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-20 15:29] mikekuzak opened #5939 "Network tag for GKE Nodes"
Hi All,

I have setup a K8s cluster via terraform on GCP. Now I need to add some firewall rules but in order to do this I need somehow to get the network tag from the Kubernetes nodes to use as Source in the Firewall rule. How do I obtain that ?

[2020-03-20 16:19] spil-dbhagat commented on #5930
This is also true in the latest 2.X version of the provider.
[code]

Plan:
[code]

Apply
[code]

[2020-03-20 16:59] edwardmedia commented on #5930
@spil-dbhagat  have you tried to add `project` in the related resource?

[2020-03-20 17:29] edwardmedia commented on #5938
I can repro this issue with plugin.terraform-provider-google_v3.13.0_x5
[code]
reference: https://github.com/terraform-providers/terraform-provider-google/issues/1722

[2020-03-20 17:41] venkykuberan commented on #5937
`metadata` is set to `ForNew` in the node config schema which is causing the replacement.  I will move this one to code change bucket. will get prioritized and picked up to work .

[2020-03-20 17:45] edwardmedia commented on #5939
@mikekuzak Can you post your terraform code that created your existing resources? Have you checked the state for these resources if it contains what you are looking for?

[2020-03-20 18:07] shree1988 commented on #5936
Hi @edwardmedia,

Thanks for your reply..

I have deployed vault on GCS kubernetes cluster "https://github.com/sethvargo/vault-on-gke"
the code is using self sign certificate and i want to replace the self signed with actual cer and key files.

For this i have created a GCS bucket and uploaded key and cer files encrypted with kms

I will need to download the encrypted cert from GCS and decrypt usi

[2020-03-20 19:10] edwardmedia commented on #5936
@shree1988 did you use terraform to create those resources? If yes, you may just replace the key files in the terraform code, and reapply. If not and you want to use terraform to do your work, you might still need to create terraform by importing the state for existing resources. Once you have the terraform config code, do the same as I mentioned above.

[2020-03-20 19:22] shree1988 commented on #5936
Hi @edwardmedia ,

I can not directly add, i will need to download or decrypt from GCS and will have to take the content of cer file, how can i do in below resource

# Create the request to sign the cert with our CA
resource "tls_cert_request" "vault" {
  key_algorithm   = tls_private_key.vault.algorithm
  private_key_pem = tls_private_key.vault.private_key_pem

  dns_names = [
    "vault",
    "v

[2020-03-20 20:21] megan07 commented on #5124
After some discussion we've decided we might just take the json approach where you can download it from the console and paste it into the HCL.  If we went with an HCL approach, this resource would be by far the largest with number of fields and the amount of nesting, the json approach allows us to implement this much faster so users can start using it.

[2020-03-20 20:29] danawillow commented on #4135
I'm a bit confused about what the use case for this is. From what I can tell via https://cloud.google.com/iam/docs/service-accounts, there are a few service accounts that are created when specific APIs are enabled on the project (compute, etc.) that need to stick around, but also aren't created at the same time the project is created. Which service accounts are the ones you're hoping to delete wit

[2020-03-20 20:41] danawillow commented on #3898
We're looking at adding this to our roadmap, but would like some clarity on use cases and priorities since some of these resources are quite large. If anyone who's subscribed to this could give an overview of which resources they would use in Terraform and how they would configure them, that would be a big help.

[2020-03-20 22:19] spil-dbhagat commented on #5930
Which resource(s) should I be adding a project to? The certificate is created in the correct project. The https_proxy is in the correct project, which is not the same as the project where the certificates are managed.

If I add project = spil-infra-prd to the https_proxy resource,
[code]
I get
[code]

I could work around this by creating the certificate in spil-portal-widgetplatform-stg, but I hav

[2020-03-20 22:46] spil-dbhagat commented on #5930
Creating the certificate for individual domains by setting project in the certificate creation does not work either.
[code]

[code]

The relevant config changes:

resources/ssl-certificates/main.tf
[code]
projects/spil-infra-prd/certificates.tf
module "static_stg_spela_certificate" {
    source = "../../resources/ssl-certificates"
    common_name = "static.stg.spela.se"
    project = "spil-portal-

[2020-03-20 23:42] edwardmedia commented on #5931
@debek Can you try similar below code to see if that works for you?
[code]

[2020-03-20 23:43] #5867 closed

[2020-03-20 23:45] ndmckinley commented on #5867
When this change is released, which should be a week from Monday, you will be able to import resources like this by running `terraform import  google_logging_metric.proservices_run "my-project proservices-run"`

[2020-03-21 10:28] #5931 closed

[2020-03-22 04:28] thehunmonkgroup opened #5945 "google_compute_route forced replacement on second run of 'terraform apply' with no changes since first run"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-22 04:37] thehunmonkgroup commented on #5945
I will note that running ```terraform apply``` more than twice results in the same bug again -- it looks to me like the incorrect value for ```network``` is being stored in the state file.

[2020-03-22 14:55] rmanyari opened #5946 "Support for NodeLocal DNS cache in cluster addons"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-22 15:00] rmanyari opened #5947 "Support for MinCPUPlatform in auto_provisioning_defaults"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-23 07:40] MeghanaSrinath opened #5948 "Firewall rules not getting deleted on terraform destroy in GKE"
We have used terraform to set up a private GKE cluster along with the VPC and required firewall rules.
However, when we try to delete all the resources with terrafrom destroy, the VPC is not getting deleted and the error is as below:
[code]
When I view the firewall in the GCP console, I can see that there are 2 firewall rules created by GKE for allowing master node to communicate with the worker n

[2020-03-23 10:33] akrasnov-drv commented on #5107
Hi,
Have you seen email I sent you about a week ago?
Any progress?

[2020-03-23 11:44] shree1988 commented on #5936
Hi @edwardmedia,

I am able to download the file using locla-exec from GCS but its failing to read that file

[2020-03-23 14:02] edwardmedia commented on #5948
@MeghanaSrinath Can you post the code and steps you reached that error?

[2020-03-23 15:20] hashibot[bot] opened #5950 "Unable to set GKE Cluster version"
_This issue was originally opened by @arijeetm1 as hashicorp/terraform#24423. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Use-cases

Hi terraformers,

Currently there is no provision to enforce cluster version for GKE using the resource google_container_cl

[2020-03-23 15:25] MeghanaSrinath commented on #5948
Hi @edwardmedia

Here are the cluster and network related modules that we have in place:
[code]
We do have other modules for the bastion VM, NAT and router along with the above modules.
We are using terraform destroy command to delete each of these resources, module wise.
We destroy the bastion VM first, then cluster, NAT, router, firewall, subnet and the VPC in this order.
As such VPC module is t

[2020-03-23 15:34] edwardmedia commented on #5930
@spil-dbhagat it says `The resource 'projects/spil-portal-widgetplatform-stg/global/sslCertificates/terraform-20200317085037056700000001' was not found` in your log. It seems the cert was created in that project in earlier steps. Your provided log only contains one call. Do you have the full debug log? Can you see where/when the cert was created? Looking at the `gistfile1.txt` you provided, I noti

[2020-03-23 16:40] risheak081 opened #5951 "Not able to create N2 machines in GCP managed instance group."
I am not able to create the n2 machine type for managed instance group instance template in GCP.
It simply says - "not found" while I am able to create the same from the GUI.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers pri

[2020-03-23 16:51] danawillow commented on #5946
This has already been added in the code (see https://github.com/terraform-providers/terraform-provider-google/issues/5150, https://github.com/GoogleCloudPlatform/magic-modules/pull/3126). I'd expect it in the next release today-ish.

[2020-03-23 16:51] #5946 closed

[2020-03-23 17:10] danawillow opened #5952 "Add IAM Conditions to GA provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-23 17:16] mldmld68 commented on #1578
Hi,

So now the generated password can be get using this datasource.
But to generate the password, do we still need to write a shell script or go/python program ?

It seems this new resource take into account only step 7 of the manual procedure

Thank you

[1] : https://cloud.google.com/compute/docs/instances/windows/automate-pw-generation

[2020-03-23 17:26] spil-dbhagat commented on #5930
There are a grand total of three projects involved. All resources get applied/created in the scope of that individual project. We don't add the project in the config in most resources because it comes from the current project

If you look at line 9 of gistfile1.txt, you will see the project where the certificate is created (correctly).

Line 9: projects/spil-infra-prd/regions/europe-west1/sslCerti

[2020-03-23 17:27] slevenick commented on #1578
@mldmld68 you can also set the windows-keys label on the instance via the `google_compute_instance` resource, as shown in the example here: https://github.com/terraform-providers/terraform-provider-google/blob/master/website/docs/d/datasource_compute_instance_serial_port.html.markdown#google_compute_instance_serial_port

Handling RSA public/private keys is somewhat outside of the scope of this pro

[2020-03-23 17:33] slevenick commented on #1578
You may also need https://www.terraform.io/docs/configuration/functions/rsadecrypt.html

[2020-03-23 17:34] slevenick commented on #5922
@emilymye fixed these, thanks!

[2020-03-23 17:34] #5922 closed

[2020-03-23 17:41] venkykuberan commented on #5852
Hi @kibbles-n-bytes, API returns the following response for an non-existent email address. Terraform provider have no control of API response code, it just passes back to the client.  As we can't do much on this issue, i am closing this issue.

If you would like to raise an issue against the API, please do  [https://cloud.google.com/support/docs/issue-trackers#trackers-list](here)

[code]

[2020-03-23 17:41] #5852 closed

[2020-03-23 17:43] chrisst commented on #5924
related issue #5539

[2020-03-23 17:45] danawillow commented on #5950
From https://cloud.google.com/kubernetes-engine/versioning-and-upgrades#automatic_master_upgrades, it sounds like the GKE service will automatically upgrade master. The docs don't mention a way to opt-out of that, so I don't think this is something we can feasibly do in Terraform.

[2020-03-23 17:45] #5950 closed

[2020-03-23 17:50] #5746 closed

[2020-03-23 17:55] megan07 commented on #5923
Duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/5897

[2020-03-23 17:55] #5923 closed

[2020-03-23 18:10] #5895 closed

[2020-03-23 18:17] edwardmedia commented on #5890
with below permissions only
[code]

[code]

[2020-03-23 19:29] mldmld68 commented on #1578
Thanks Slevenick. The sample is not ready to use, but it's a foot in the door !

[2020-03-23 19:31] venkykuberan commented on #5951
@risheak081 with the following sample config, i am able to create N2 instances through instance group. Please let me know if this helps, if not please share your instance group config. I will take a look.

[code]

[2020-03-23 19:45] edwardmedia commented on #5948
@MeghanaSrinath I can't repro the issue. Not sure what you did after the gke created which may impact some behaviors. Can you try to run `tf destroy`, right `after apply` is complete? If you can repro the issue, can you post full debug logs for both `apply` and `destroy`?

[2020-03-23 21:00] edwardmedia commented on #5930
@spil-dbhagat how did you use the scope of individual project? how did you make sure `it comes from the current project`?

[2020-03-23 21:17] danawillow commented on #4404
Fixed (a while back) in https://github.com/GoogleCloudPlatform/magic-modules/pull/2266.

[2020-03-23 21:17] #4404 closed

[2020-03-23 21:20] danawillow commented on #4492
That validation was added in https://github.com/terraform-providers/terraform-provider-google/pull/3109, which makes me think the report was from an older provider version. Regardless, the field is checked for valid values at plan-time, so closing.

[2020-03-23 21:20] #4492 closed

[2020-03-23 21:46] #5744 closed

[2020-03-23 21:47] spil-dbhagat commented on #5930
My understanding is that Terraform will always use the scope of the current project when run, unless explicitly specified otherwise. This has so far been verified by experience.

Each project in my setup is independent of the others. All shared resources are created and managed in spil-infra-prd, exported to a shared bucket (using the outputs functionality of Terraform), and then imported as data

[2020-03-23 21:59] danawillow commented on #4392
Pretty sure this is fixed now: https://github.com/terraform-providers/terraform-provider-google/releases.

[2020-03-23 21:59] #4392 closed

[2020-03-23 22:22] edwardmedia commented on #5930
@spil-dbhagat  do you notice `ssl_certificates` in below plan (./terraform.log-portal-widgetplatform-stg:66)? It tried to create one in project `spil-infra-prd`. Is that where you want to have it?
[code]

[2020-03-23 22:49] spil-dbhagat commented on #5930
Yes. The certificate is created in the right place. The output is correct.

When the change is applied, the certificate reference changes from regional to global, and the project changes.

[2020-03-23 23:28] #5871 closed

[2020-03-23 23:31] c2thorn commented on #5871
Hey @lwmobeent, the fix mentioned by @venkykuberan is the way to go. `google_storage_notification` has a side effect of modifying the IAM policy. When Terraform goes to destroy that along with the IAM resources at once, you can end up in a race condition error. Currently, there isn't a way to control the `destroy` ordering other than `depends_on`.

[2020-03-24 00:37] venkykuberan commented on #5929
@yohei1126 I created this resource on Cloud Console and bq tool. Although I was able to attach the service account for a scheduled query in UI Console and bq tool when i hit the API to pull the transfer_confg (scheduled query is treated as transfer_config) i don't see service_account_name coming over as part of `params` attribute.  I tried to import the resource through terraform after i update th

[2020-03-24 00:43] yohei1126 commented on #5929
@venkykuberan Thank you for taking time on this research. I also confirmed that `bq` command support `service_account_name` in `params `.   https://cloud.google.com/bigquery/docs/scheduling-queries#setting_up_a_scheduled_query
I already have decided not specify `service_account_name` in my terraform code but deploy scheduled queries using service account credential instead. So I do not need this f

[2020-03-24 02:04] jianglai commented on #1480
This is great! Thank you for finally making this possible!

[2020-03-24 02:48] venkykuberan commented on #5929
Thank you, will close it for now.

[2020-03-24 02:48] #5929 closed

[2020-03-24 04:35] risheak081 commented on #5951
@venkykuberan I am still seeing the same error while creating the instanceTemplate itself. It halts at the template creation process. Doesn't even go to instance group creation step.
I tried with the sample config you gave above, but no luck.

Error: Error creating RegionInstanceGroupManager: googleapi: Error 400: Invalid value for field 'resource.versions[0].instanceTemplate': 'https://www.google

[2020-03-24 04:44] risheak081 commented on #5951
@venkykuberan - Found the issue. GCP doesn't allow creating n2 instances in us-central1-b zone.
I had this zone in the distribution_policy_zones property for google_compute_region_instance_group_manager.

After removing this zone from the array of zones, I was able to create MIG with N2 instances.

Thanks.

[2020-03-24 04:44] #5951 closed

[2020-03-24 06:47] pdecat commented on #4392
Indeed, thanks!

[2020-03-24 08:51] quentinleclerc commented on #1480
Hello,

Thanks to you guys for the work and solutions.

About @Alfablos workaround and @rileykarson solution, in both cases you use for_each (or tell to use for each) but it's impossible to correctly use for_each with instance groups. Indeed we get Instance Groups URL from a data block or from the output of the node pool, and it's impossible to do a for_each on "non-known values" with Terraform (m

[2020-03-24 09:32] Lirt opened #5959 "Support for one and two nodes production bigtable clusters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-24 14:47] Jberlinsky opened #5960 "Support for beta ApplicationManager GKE add-on"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-24 15:47] rileykarson commented on #1480
I wasn't actually aware of that restriction, that's frustrating. There isn't anything we can do in the provider about it, unfortunately- the restriction comes from Terraform Core.

You could do a partial apply with `-target`, creating the GKE cluster first, or split your configs and get the instance group url values off of a cluster datasource (which I believe will count as a known value).

[2020-03-24 16:37] edwardmedia commented on #5930
@spil-dbhagat  Exactly in `creation of the google_compute_target_https_proxy, which should be created in spil-portal-widgetplatform-prd, using the certificate created in spil-infra-prd`. how did you know `It should be possible to use this certificate in a loadbalancer in a different project.`?

[2020-03-24 16:42] hawksight commented on #1480
@quentinleclerc - I have had this issue when trying to pass around the instance group urls from the output of my cluster module into my load balancer module. Terraform didn't know the contents of the output variable, therefore could not be planned properly in my load balancer module.

In my case as described [here](https://github.com/terraform-providers/terraform-provider-google/issues/3937#issuec

[2020-03-24 17:19] syedrakib commented on #5101
This [GCloud doc](https://cloud.google.com/sql/docs/mysql/delete-instance) is saying "You cannot reuse an instance name for up to a week after you have deleted an instance".

if google is declaring it, then terraform shouldn't hang like this. Terraform could try for some time and then fail saying this is a probable cause and the developer should verify.

[2020-03-24 17:38] adamallred opened #5963 "google_secret_manager_secret_iam_policy forces replacement with no changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-24 18:08] ogreface opened #5964 "Can't fetch any 2.x series providers from registry"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-24 18:20] innovia commented on #5107
@slevenick

I've hit the same issue today running [terraform gke public module](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/modules/beta-public-cluster)

I believe that the issue happens when attempting to add a role to a new service account (existing policy), you have to first fetch the policy which includes the user with the capital letter, then app

[2020-03-24 18:21] ogreface commented on #5964
Appears to be local.

[2020-03-24 18:21] #5964 closed

[2020-03-24 18:58] fredzqm commented on #1287
Hi,
I can't wait to use this soon. Is this getting releases?

I didn't see it in the release note of `3.14.0`, even though it has already included the related code changes.
https://github.com/terraform-providers/terraform-provider-google/releases

[2020-03-24 18:59] slevenick commented on #1287
Hey @fredzqm this should be included in the `3.15.0` release. There were test failures so I pulled it out of the `3.14.0`

[2020-03-24 19:12] smssoleimani opened #5965 "google_compute_interconnect_attachment - admin_enabled"
In the google_compute_interconnect_attachment resource, admin_enabled is listed as an optional field, however, if you don’t set it, terraform tries to recreate the resource every time you run an apply, effectively destroying and recreating your interconnect attachments (which will break networking functionality).

[2020-03-24 19:16] megan07 commented on #5101
Hi @syedrakib!  I'm sorry you have run into this issue.  It appears that the fix was released in version 3.3.0 of the provider.  If you are using the 3.3.0 release or later and still seeing the issue, please open a new issue and we can take another look.  Thanks!

[2020-03-24 19:33] slevenick commented on #5107
Surprisingly I'm unable to reproduce this issue in my own project. If I add a user with a capital letter, it behaves the same way as in all of the cases described here, where Terraform lowercases any capital letters coming from the API, but in all of my cases the API accepts the lowercase version.

For example, the API will return:
[code]
I add a binding with a different user, posting back a polic

[2020-03-24 20:23] #5891 closed

[2020-03-24 20:56] chrisst commented on #2973
It looks firebase team has just recently added support for service accounts even though much of the documentation hasn't caught up yet. https://github.com/GoogleCloudPlatform/magic-modules/pull/3281 is to support the addFirebase behavior to enable this on a given google project which I believe is the most critical part of supporting Firebase.

The surface area of the Firebase APIs is pretty large

[2020-03-24 21:23] hectorj commented on #5898
Manually setting `resource.google_cloud_run_service.default.template.metadata.name` to a value matching the format `hello-00005-raz` (`projectName-revisionNumber-3letterID`) makes the update go through, though that's not a viable solution.

The revision name used to auto-update given a new configuration, I am not sure when it stopped doing so.

[2020-03-24 21:44] c2thorn commented on #5898
@hectorj You are correct. In order to autogenerate the revision name, the template.metadata.name must be omitted when Terraform sends the API request. Unfortunately once the revision name gets set in state, there is no way to unset the name to start autogenerating again (it is a `computed` field, so it will be read and set every time Terraform refreshes).

We are working on a solution to toggle re

[2020-03-24 21:57] slevenick commented on #5391
Recurring window will be available in the next release of the Terraform provider. I don't have information on when the `release_channel` feature will move to GA on the API, but when it does you can file a request for us to make it available in the GA provider.

[2020-03-24 21:57] #5391 closed

[2020-03-24 22:45] edwardmedia commented on #5963
I do see below `plan` right after `tf apply`
[code]

[2020-03-24 23:08] slevenick commented on #5963
Hm, yeah that's an issue.

I think the best way to avoid this would be to change your config to use:
[code]
instead. This changes `secret_id = google_secret_manager_secret.my-secret.name` => `secret_id = google_secret_manager_secret.my-secret.secret_id`. *Or* use `.id` instead of `.name`

The weird thing here is that `google_secret_manager_secret.name` is actually `projects/{project_number}/secret

[2020-03-24 23:09] braderhart opened #5967 "google_compute_attached_disk - Doesn't have encryption_key option"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-24 23:11] slevenick commented on #5963
I would alternatively recommend not setting the `project` field if you use `google_secret_manager_secret.my-secret.name`. The reason it causes issues is that you are specifying two different forms of `project` within the config by setting both `project` and using `google_secret_manager_secret.my-secret.name` as the `secret_id`.

[2020-03-24 23:40] #2961 closed

[2020-03-24 23:45] venkykuberan commented on #5945
@thehunmonkgroup you are referring subnet in your route instead of network resource.  The following config should work. Please let me know if it helps

[code]

[2020-03-24 23:53] venkykuberan commented on #5965
@smssoleimani Can you please share your plan output or config to get a better understanding. It is optional if you aren't using the `type` attribute

reference
 admin_enabled - (Optional) Whether the VLAN attachment is enabled or disabled. When using PARTNER type this will Pre-Activate the interconnect attachment

[2020-03-25 00:10] venkykuberan commented on #5967
@braderhart  i see API is supporting `diskEncryptionKey` attribute. I will move this issue to field addition bucket. It will be added to a sprint after prioritizing it. Thanks for filing it.

[2020-03-25 00:39] adamallred commented on #5963
Ah, I missed that I used `name` instead of `secret_id`, the latter being what's present in the docs. I'll check that `secret_id` behaves as expected.

[2020-03-25 00:57] thehunmonkgroup commented on #5945
@venkykuberan yes, thank you, that was the main issue.

For completeness, I did run into one other issue:

[code]

This is because Terraform creates resources in parallel if it detects no dependencies. With your updated configuration, the subnetworks were sometimes being created after the routes, and throwing the above error message. Declaring an explicit dependency on the related subnetwork fixed

[2020-03-25 00:57] #5945 closed

[2020-03-25 06:18] spil-dbhagat commented on #5930
We use other resources that way (all networks and most subnets are defined in spil-infra-prd, for example).

For example:
In spil-portal-widgetplatform-stg:
[code]

In spil-infra-prd
[code]

[2020-03-25 08:40] kurtmaile commented on #5317
Hi,

Thanks - this worked for ```partitioning_field```, which could be one of these.

However, ```email_preferences``` needs to be an explicit top level config item as its not related to the data sourced, rather, the transfer config itself as below .  thanks heaps!

[code]

[2020-03-25 12:07] adamallred commented on #5963
Using `secret_id` works as expected.

I don't know if you want to continue to investigate the behavior when `.name` is used or not, I'll leave it to you to keep the issue open or close it. From my end, I'm all good.

Thanks!

[2020-03-25 13:28] akrasnov-drv commented on #5107
@slevenick
Thank you for the efforts :)
Try using the user I sent you by mail. In my project it breaks binding functions with 100% consistency. I added and removed it already about 5-7 times.
In my project this user has "owner" rights if it changes anything.

[2020-03-25 14:19] choonchernlim opened #5969 "google_projects: Adding * to filter returns unreliable result"
Given the project ID has random ID suffix, I want to query for project ID that begins with `mt-mps-cpl-atfe-d-`, and it should return just `mt-mps-cpl-atfe-d-e981`.

So far, I'm unable to reliably return the correct result.

Here are my tests:-
[code]

Then, I added quotes around it:-

[code]

What should my filter be to return just `mt-mps-cpl-atfe-d-e981`?

This is my Terraform version:-
[code]

[2020-03-25 14:22] flokli opened #5970 "unable to upload google_storage_bucket_objects larger than ~16MiB (16777215 bytes)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-25 15:16] edwardmedia commented on #5930
@spil-dbhagat  Network & its subnets are limited within a project in GCP. You can build networks and subnets in different projects based on shared HCL code, but I don't think you can `use` networks cross projects. GCP provides many ways to allow networks to talk to each other between different projects. I don't have a full picture of what you are doing. You may want to double check whether you wan

[2020-03-25 15:18] sdif opened #5971 "Make change on google_compute_network_peering non destructive"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-25 15:55] #5890 closed

[2020-03-25 16:00] edwardmedia commented on #5970
@slevenick I can repro this issue. Small objects are fine for upload, but larger sizes are not. But is what I got
[code]

[2020-03-25 16:41] spil-dbhagat commented on #5930
To summarise my expectations:
Create a regional SSL certificate in project A
Use that certificate in project B

Certificate creation works fine.
Using the certificate does not, because terraform replaces the URL of this certificate with a different one (global scope in project B).

You can certainly use networks cross project in GCP (their acronym is XPN for cross project networking).

[2020-03-25 16:48] danawillow commented on #5317
Is there a programatic way to set that? If so, would you mind filing a new FR that links to the cloud.google.com page that says how to set that field? All I'm seeing is https://cloud.google.com/bigquery-transfer/docs/transfer-run-notifications#email_notifications which says "These messages are sent to the user who set up the transfer", so my impression is that would be whatever account you're auth

[2020-03-25 16:49] edwardmedia commented on #5930
@spil-dbhagat `XPN` is the one way I mentioned earlier in GCP which allows different networks to talk to each other.
Have you seen any documents which say GCP supports `Create a regional SSL certificate in project A, Use that certificate in project B`?

[2020-03-25 17:35] #5904 closed

[2020-03-25 20:09] #5970 closed

[2020-03-25 20:15] shaxbee commented on #5522
This seems to be available in v285:
[code]

[2020-03-25 22:09] cynful commented on #4449
I recently tried to create a biquery_data_transfer_config and got
[code]

I tried the workaround described by @Gwen56850 to no avail. Got this error
[code]

Then I tried to go the other route, create one manually and terraform import.
After filling out all relevant fields and hitting the create button, a window popped up
![image](https://user-images.githubusercontent.com/2008829/77589747-8057fd80-

[2020-03-25 22:16] athak commented on #5939
I have been needing this too and apparently not available. It can't even be extrapolated from other attributes either.

It would be very useful since currently the only way around is to add network tags in the node config of a pool, but it has to be done on creation.

[2020-03-25 22:55] rioam2 opened #5980 "Add attribute for Autoscaling Profiles in Terraform Google Kubernetes Engine Provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-26 00:01] spil-dbhagat commented on #5930
Ah, this is not supported. Maybe an enhancement to the error reporting in terraform plan that cross project use of SSL certificates is not allowed?

I would have been happier with this error (which I got from gcloud):
ERROR: (gcloud.compute.target-https-proxies.create) Could not fetch resource:
 - Invalid value for field 'resource.sslCertificates[0]': 'https://www.googleapis.com/compute/v1/project

[2020-03-26 00:40] #5740 closed

[2020-03-26 01:32] sleterrier opened #5982 "google_compute_interconnect_attachment - non empty candidate_subnet arg forces resource replacement on subsequent apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-26 08:58] quentinleclerc commented on #1480
@hawksight I'm not sure to understand your solution. Where you have a for_each based on a "dynamic" variable the plan won't work, being in the module or not. In your case you suggest using a data module like this ?
[code]
If yes it'll still crash (module.gke.instance_group_urls being the output of the node pool, not known before apply). Or do you use a "trick" with regex etc... to get the instance

[2020-03-26 11:29] shaxbee commented on #5522
@danawillow submitted PR upstream based on discovery endpoint for v1.

[2020-03-26 11:43] hawksight commented on #1480
I may not have had the exact same issue, as my cluster was actually built, and in my case I just needed to get the up to date instance groups to the load balancer module. Have not tried a full stack rebuild with my changes just yet.

But here is my example code from the top of my load balancer module.. which builds after my cluster module.

[code]

In your case, after your cluster is built. Someth

[2020-03-26 12:47] mikekuzak commented on #5939
I was able to get it the hard way, as the rancher2 provides doesn't return the auto generated google resources.

[code]

If someone has a better idea I'm keen to hear.

[2020-03-26 15:02] shree1988 commented on #5936
Hi,

I have added code to read the encrypted content form GCS using KMS key.

But getting content-type error while reading content from GCS with http resource,

**Error: Content-Type is not a text type. Got: application/octet-stream
 268: data "http" "remote_contents_client_key"**

**data "http" "remote_contents_cacerts" {
 url = "${data.google_storage_object_signed_url.file_url_cacerts.signed_url

[2020-03-26 15:04] #5897 closed

[2020-03-26 15:33] spew opened #5986 "Support for the big_query_job resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-26 15:39] rileykarson commented on #1480
The zone will be inferred off `group` if possible. Precedence should go `zone` field > `group` field > provider, I believe.

[2020-03-26 16:10] venkykuberan commented on #5969
@choonchernlim the upstream API is yielding unmatched results. I created an issue against the API  `152504876` and will be tracked on.

[2020-03-26 17:48] #5898 closed

[2020-03-26 18:43] rileykarson opened #5988 "Resync google_container_cluster with tf-conversion"
Magician v2 doesn't alert us when handwritten validator files are modified, so GKE has drifted. We need to resync it and make sure all GA fields are expanded.

[2020-03-26 18:44] rileykarson opened #5989 "Add back warnings if handwritten validator files are modified to Magician"
We lost this feature going to Magician v2

[2020-03-26 19:06] #4634 closed

[2020-03-26 19:34] slevenick commented on #5937
Looks like a duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/4041

Closing in favor of that request

[2020-03-26 19:34] #5937 closed

[2020-03-26 19:41] slevenick commented on #5963
I looked into creating a plan-time error for this (and similar issues) where the project doesn't match a long name's project. The issue that I ran into in this case is that `name` is computed, so we cannot in any circumstance get a plan time error from depending on the value of it. The plan time validation actually made the issue *worse* because it would allow creation of the policy with non match

[2020-03-26 19:41] #5963 closed

[2020-03-26 20:08] slevenick commented on #5982
Hey @sleterrier this is going to be a tricky one to debug, as interconnect attachments are difficult to get set up.

Can you provide the debug logs for the output of the `terraform plan` that shows the diff on `candidate_subnets`? I'd like to see the API response that shows the current state of the interconnect attachment.

[2020-03-26 20:09] jcanseco opened #5991 "Support for Dataflow job "update-by-replacement""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-26 20:17] slevenick commented on #5986
This looks like a duplicate of https://github.com/terraform-providers/terraform-provider-google/issues/3868

Closing in favor of that issue

[2020-03-26 20:17] #5986 closed

[2020-03-26 20:18] rileykarson commented on #5927
https://source.cloud.google.com/graphite-cloud-shell-images/terraform/+/336b469f3f6205cfdee03a3d53674af2832d2568 for OiCS

[2020-03-26 20:20] slevenick commented on #5685
I believe this was closed with https://github.com/terraform-providers/terraform-provider-google-beta/pull/1766

[2020-03-26 20:20] #5685 closed

[2020-03-26 21:36] sleterrier commented on #5982
I had to obfuscate names and ids, but I hope this will still help:
It looks like the API is not including `candidate_subnets` as part of the returned payload?

[code]

[2020-03-26 21:47] #5927 closed

[2020-03-26 21:48] rileykarson commented on #5927
Done for the mainline image as well.

[2020-03-26 22:05] edwardmedia commented on #5930
@spil-dbhagat I am closing this issue as we know the cross project sslCertifcation reference is not supported. I would suggest you file another issue or enhancement if you feel a need for your expectation. Thank you very much

[2020-03-26 22:05] #5930 closed

[2020-03-26 22:56] edwardmedia commented on #5939
@mikekuzak not sure exactly what you want to do. If you just want to retrieve the node tags, you may just below block in your HCL. (based on https://www.terraform.io/docs/providers/google/r/container_cluster.html#example-usage-with-the-default-node-pool)
[code]

[2020-03-27 13:24] iniinikoski commented on #5286
Oijh, just bumped into this. The documentation should at least implicate that this does not work...

[2020-03-27 14:34] mholleville commented on #5193
Hello !

Do you have a date for the availability of these new features? It is quite structuring on the firewall part etc..

[2020-03-27 15:28] c2thorn commented on #5898
PR has been merged, and will likely be part of the `3.16.0` release scheduled for 4/6/2020.

We've added `autogenerate_revision_name` as a field. This will toggle the provider to ignore the revision name (`template.metadata.name` in state) and let it be managed server-side.

If you are receiving `Error 409: Revision named '<revision name>' with different configuration already exists.` setting `aut

[2020-03-27 17:05] danawillow commented on #5193
The behavior of this should be correct as of https://github.com/GoogleCloudPlatform/magic-modules/pull/2856. This specific issue is to simplify the code by having it be ExactlyOneOf instead of AtLeastOneOf+ConflictsWith. Are you seeing otherwise? I'm not totally sure from your comment what you mean by "it is quite structuring on the firewall part"

[2020-03-27 17:48] c2thorn opened #5994 "Make sweepers fail softly"
Lately sweepers have been failing causing test builds to cease before tests are actually ran. Let's log the sweeper errors but not return them.

[2020-03-27 18:18] danawillow opened #5996 "BigQuery encryption service account data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-27 19:03] drebes commented on #5996
Thanks!

[2020-03-27 19:27] #5905 closed

[2020-03-27 19:53] kosxe commented on #5815
will ability to use shared VPC be coming to this terraform module anytime soon?

[2020-03-27 20:58] #5996 closed

[2020-03-27 21:23] rileykarson commented on #4780
Updated to exclusively. https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_container_cluster.go#L1019 needs to be updated, https://github.com/terraform-providers/terraform-provider-google/blob/master/google/resource_container_cluster.go#L1057 is already using taints.

[2020-03-27 21:51] #4937 closed

[2020-03-27 22:34] c2thorn opened #6000 "Continue test builds after sweeper step failures"
As a quick fix to current sweeper errors, we've modified sweepers to fail softly to allow test builds to continue to run.

We should modify our CI process to allow runs to continue after failed sweeper steps. This will let the failing sweepers bubble up their errors more effectively, and we can reverse PR's like https://github.com/GoogleCloudPlatform/magic-modules/pull/3315.

[2020-03-27 22:50] edwardmedia commented on #4276
@ryu1kn do you still have this issue? I have tried to repro it with both versions v2.12.0 and v3.14.0, I see the service account `foobar@myproject.iam.gserviceaccount.com` was created with the `Storage Admin` role. Please let me know if this is still an issue.

[2020-03-27 22:54] #5994 closed

[2020-03-27 22:57] danawillow opened #6001 "Generate the sidebar"
There's enough metadata in the website docs files that we shouldn't need to write the sidebar by hand.

Proof of concept at https://gist.github.com/danawillow/2319c7df4821f2304502930f3ddd0df7 (stick it in scripts/sidebar/sidebar.go). Doing it as a script inside the provider makes it easy to group the handwritten and generated resources all together, though it means that we'd need a way to generate

[2020-03-27 23:01] danawillow commented on #5525
As far as I can tell, we've always used only the v1 API there (https://github.com/GoogleCloudPlatform/magic-modules/blob/master/products/accesscontextmanager/api.yaml) so not sure why I thought otherwise. Closing.

[2020-03-27 23:01] #5525 closed

[2020-03-28 00:52] ryu1kn commented on #4276
@edwardmedia thanks for the check-in! Yes, just a couple of days ago I tried to use `google_project_iam_member` on version v3.14.0 and encountered this issue again.

I wanted to use `google_cloudfunctions_function_iam_member` but as it's not available in v2.12.0, I had to choose only one of them.

[2020-03-28 01:41] loozhengyuan commented on #4276
@edwardmedia I took some time last week to analyse this issue, and it seems to me that the bug was introduced when PR https://github.com/GoogleCloudPlatform/magic-modules/pull/1957 was merged to fix #3880. The issue then was that case sensitivity in IAM members causes a change loop, so that PR renders all IAM members case insensitive. As to how that PR relates to this bug, I think https://github.c

[2020-03-28 15:13] rtoma commented on #4792
Hi Dana, I can confirm removing the empty `status {... }` did the trick for us (reporter is team mate).

[2020-03-28 19:42] clebio opened #6003 "GKE cluster and node pools fail when using valid Kubernetes labels"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-29 11:44] sharmautkarsh31 commented on #4276
I am also getting the same error when I am trying to `getIamPolicies` as per [this](https://cloud.google.com/resource-manager/reference/rest/v1/projects/setIamPolicy) link

[2020-03-29 16:33] kkom opened #6004 "Unable to connect to Cloud SQL from Cloud Run using Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-30 00:58] backnotprop commented on #2079
bump, `persistent-ssd` is supported? but not `local-ssd`? correct? ... local-ssd would require a bit more guardrails in config

[2020-03-30 01:00] backnotprop commented on #2079
ah, disregard, seems like the config is setup for local-ssd:
https://github.com/terraform-providers/terraform-provider-google/issues/4417

cool. Yea, clearer docs would be helpful. I'll see how some deployments go and might take a stab

[2020-03-30 14:03] adesormi opened #6005 "OAuth error when creating BigQuery view depending on a table with external configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-30 16:19] danawillow commented on #4792
Great! Closing this out, then.

[2020-03-30 16:19] #4792 closed

[2020-03-30 16:25] edwardmedia commented on #6005
@adesormi Using your code, I am not able to hit the error you received. Could you post your full debug log and let me take a closer look?
In my case, because the `view` is not available for `query` right after the `table` is created, I had to add below `resource` in order to make all resources creation smoothly.
[code]

[2020-03-30 16:50] maroux commented on #5522
ah thanks @shaxbee I missed that.

[2020-03-30 16:51] edwardmedia commented on #4276
@ryu1kn can you post a fresh full debug log when you rerun your code? Thank you

[2020-03-30 17:27] kwri-avongluck opened #6008 "Unable to upload to gcs via google_storage_bucket_object"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-30 17:34] #674 closed

[2020-03-30 17:57] slevenick commented on #5982
Yeah, looks like not having `candidate_subnets` come back from the API is the issue. I'd like to wait on fixing this until I have a way to test this locally, but the fix should be trivial

[2020-03-30 18:09] chrisst commented on #2973
Closing this as it will be added in 3.15.0

[2020-03-30 18:09] #2973 closed

[2020-03-30 18:10] danawillow commented on #5980
It's in the beta cluster API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters#clusterautoscaling

[2020-03-30 18:18] rioam2 commented on #5980
Thanks @danawillow! I discovered this a few days ago after digging through the provider source code. Works perfectly.

To future readers of this thread, I highly recommend reading through the appropriate files in https://github.com/terraform-providers/terraform-provider-google-beta/tree/master/google-beta if you're ever in doubt of attributes that may/may not exist.

[2020-03-30 18:18] #5980 closed

[2020-03-30 18:29] danawillow commented on #5980
Ah good find, I didn't even notice. It's also in the docs, and our hope is that people can find what they need without reading through the code (though it definitely helps too)!

[2020-03-30 18:40] #5522 closed

[2020-03-30 19:28] #5440 closed

[2020-03-30 19:32] smerchek commented on #5965
I believe I'm having the same issue for an interconnect attachment that was initially created in terraform with version 2.x of google provider. Below is the initial plan diff.

As it turns out, I can't get around this without replacing the resource (which I don't want to do since it is a PARTNER connection). If I set admin_enabled to `true` or to `false`, it wants to change to the opposite.

[code

[2020-03-30 20:15] edwardmedia commented on #6008
@kwri-avongluck can you try if you replace `bucket` to something like below? Make sure `assets/cool.rpm` is in place
[code]

[2020-03-30 21:09] edwardmedia commented on #4276
@sharmautkarsh31 yours is on `getIamPolicies`, while the original failure was on `setIamPolicies`. If you are using other library, there is nothing to do with terraform provider.

[2020-03-30 21:26] edwardmedia commented on #4276
@loozhengyuan how did you create a service account with non-lower case emails? It is blocked in the gcp console as well?

[2020-03-30 21:31] kwri-avongluck commented on #6008
nice catch, but same error.
[code]

[2020-03-30 22:05] #5748 closed

[2020-03-30 22:13] jcanseco opened #6012 "google_sql_database_instance inconsistent defaulting for ipv4_enabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-30 23:38] venkykuberan commented on #6003
@clebio GKE API is not allowing to set Kubernetes name space labels for the cluster nodeconfig. `kubectl` use kubernetes API thus it was able to set k8s name space labels.

I am able set custom namespace labels for the node config
[code]
Please let us knows if it helps

[2020-03-31 00:02] clebio commented on #6003
This should be documented on the `google_container_cluster ` resource page, in that case.

https://www.terraform.io/docs/providers/google/r/container_cluster.html

[2020-03-31 01:46] loozhengyuan commented on #4276
@edwardmedia In my case, I had custom domain Google Account users (i.e. `FooBar@company.com`) as [IAM members](https://www.terraform.io/docs/providers/google/r/google_project_iam.html#member-members). I was able to add these users via GCP console, though the letter cases of the emails _seem_ to inherit from Google Accounts so I wasn't able to 'override' the letter cases of the emails.

[2020-03-31 05:26] ogreface commented on #5965
Seeing the same issue.

[2020-03-31 06:06] stankolubomir opened #6013 "google_project_service 403 - not enabling API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-31 14:41] edwardmedia commented on #6008
@kwri-avongluck did you use the posted code to run? Look at below URL, what is **upload_id=BLAH**? Again, you might need to double check all the settings.
[code]

[2020-03-31 16:24] venkykuberan commented on #6003
yes, we will update the doc.

[2020-03-31 18:04] mnothic opened #6015 "resource google_sql_database_instance crash durning plan/apply"
### Terraform Version
terraform version
Terraform v0.12.6
+ provider.google v3.15.0
+ provider.google-beta v3.15.0
+ provider.null v2.1.2
+ provider.random v2.2.1
+ provider.template v2.1.2

Your version of Terraform is out of date! The latest version
is 0.12.24. You can update by downloading from www.terraform.io/downloads.html

### Affected Resource(s)

* google_sql_database_instance

### Terraf

[2020-03-31 18:33] jsirianni opened #6016 "N2D instance types are not idempotent"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-31 18:36] preston-hf commented on #5350
I am having a similar issue. I try to define access blocks but Terraform seems to really care about the order yet it doesn't seem the BigQuery API stores/returns them in the order they were created, so this makes it seem like it's constantly changing. I believe access {} blocks may be totally broken with BigQuery. Is there some way you could just treat the access blocks as a set or something?

[2020-03-31 18:38] vtatarin opened #6017 "google_monitoring_notification_channel: empty Service name for pagerduty"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2020-03-31 19:01] edwardmedia commented on #6013
@stankolubomir  I can't repro the issue. After I ran your code, I verified the services were enabled. I don't see `POST` requests in your log. Can you post the entire debug log so I can take a closer look? Thanks

[2020-03-31 19:14] edwardmedia commented on #6015
@mnothic can you post your configs for your variables, as well as the full debug log? Thanks

[2020-03-31 20:27] tswast commented on #6008
Shouldn't this module be using the (somewhat new) `https://storage.googleapis.com` endpoint? https://cloud.google.com/storage/docs/json_api/v1

[2020-03-31 20:29] tswast commented on #6008
How large is the file you are trying to upload? I'm having a similar error when trying to upload a 83.6 MB deb package file.

[2020-03-31 20:45] kwri-avongluck commented on #6008
~80 MiB.  It seems to be working inconsistently.

"@kwri-avongluck did you use the posted code to run? Look at below URL, what is upload_id=BLAH? Again, you might need to double check all the settings."

Yes.  BLAH is me hiding potentially sensitive information.

[2020-03-31 20:49] edwardmedia commented on #6008
@tswast regarding the size, we have a fix in https://github.com/terraform-providers/terraform-provider-google/issues/5970

[2020-03-31 20:54] edwardmedia commented on #6008
@kwri-avongluck do you have `assets/cool.rpm` in place?
Without full debug log, It is a little bit difficult to help you debug. I can run your code with a problem

[2020-03-31 21:10] mnothic commented on #6015
ok I will update if I get the time crash will be fixed syncing the disk_size just in case!

[2020-03-31 21:27] clebio commented on #6003
Confirmed in my reproduction code above that something like `repro.io/name` deploys fine. I'm ok closing this if/when the docs get updated. Thank you for that clarification! I had not tried using `gcloud` vs `kubectl` to add the labels.

[2020-03-31 21:39] edwardmedia commented on #6016
@jsirianni I can repro your issue with provider v2.12.0. But I tested it with v3.15.0, the issue appears to be fixed. Can you try the latest version?

[2020-03-31 21:45] jsirianni commented on #6016
@edwardmedia I just tried 3.15 and it resolves my issue. Thank you.

[2020-03-31 21:45] #6016 closed

[2020-03-31 22:11] venkykuberan commented on #6012
I am able to repro the error behavior and i see provider is defaulting to false for `ipv4_enabled` when its not in the config.
However i verified that API accepts the `ip_configuration` block without `ipv4_enabled` or `private_network` attributes. So i think provider should be able not set those fields in the request.

API - https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/instances/

[2020-03-31 22:14] #5938 closed

[2020-04-01 03:19] chrisst commented on #2973
[Finalize location resource](https://github.com/GoogleCloudPlatform/magic-modules/pull/3319) coming in 3.16.0 thanks to @yinzara

[2020-04-01 04:22] yinzara commented on #2973
I've got the "WebApp" resource working locally in my development environment now. I just gotta get an official release of it.

[2020-04-01 07:02] toshitanian opened #6021 "google provider is rejected from gcp API for frequent request"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-01 07:15] stankolubomir commented on #6013
@edwardmedia The full debug log:
https://gist.github.com/stankolubomir/5480c79487b4aee9c97c84adf1752869

[2020-04-01 08:32] haf commented on #1472
Do we have some sample code to do this available now that #1578 is closed @morgante ?

[2020-04-01 10:25] adesormi commented on #6005
The error comes from the fact that I didn't specify the provider in my resource.
I was using "google-beta" provider and had set up the "drive.readonly" scope for that provider only.
By default, terraform use the "google" provider (based on the resource type prefix 'google_*').
Specifically specifying the provider in the resource fixed the issue.

[code]

So it was a misconfiguration. Not a bug. I

[2020-04-01 10:25] #6005 closed

[2020-04-01 11:09] matthias-froomle opened #6022 "Storage bucket object holds"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-01 13:34] gwendal-lecren commented on #4449
The service account used in terraform to create the service account which deploys the transfer config is not in the same project. The service account used in terraform to deploy the transfer config itself is in the same project.