[2021-09-24 16:41] edwardmedia commented on #10141
@rovindsouza do you have the debug log available? I am not sure what that means below which is not included in the steps

[2021-09-24 17:02] edwardmedia commented on #10129
@devqore currently this is by design. Not sure if that is possible for what you expected.

[2021-09-24 17:29] melinath commented on #10129
This is probably an enhancement request.

It looks like the issue is basically:

1. Secrets Manager lets you set secret values with a [base64-encoded string](https://cloud.google.com/secret-manager/docs/reference/rest/v1/SecretPayload)
2. Our implementation allows secret_data as a literal string, which we then base64 encode/decode to communicate with the API.
3. So, you can't provide a literal bas

[2021-09-24 20:45] #10026 closed

[2021-09-24 20:47] #10053 closed

[2021-09-24 21:04] joe-a-t opened #10160 "authenticator_groups_config forces cluster replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-24 21:45] nancek00 commented on #9812
In my case the subnet was not there so TF failed trying to create this VPC Access Connector on the apply. (my bad!)

However, GCP actually creates the resource where STATE=ERROR.

If I remove the resource from TF, and do a plan and apply nothing happens and it doesn't try to delete it.

If I try to create it with a good subnet TF Apply fails because the entity already exists in GCP.

Workaround is

[2021-09-24 21:48] rileykarson commented on #10079
Generally! `gcloud` has implemented different messages clientside sometimes.

I'm not sure where to file offhand, sorry!

[2021-09-24 23:08] rileykarson opened #10161 "Failing test(s): unable to extract CPU cores from machine type (TestAccNotebooksInstance_*, TestAccNotebooksInstanceIam*Generated)"
Failure rate: 100% since around 08/15

Impacted tests:
- TestAccNotebooksInstance_notebookInstanceBasicExample
- TestAccNotebooksInstance_create_vm_image
- TestAccNotebooksInstance_notebookInstanceFullExample
- TestAccNotebooksInstance_update
- TestAccNotebooksInstance_notebookInstanceBasicContainerExample
- TestAccNotebooksInstance_notebookInstanceBasicExample
- TestAccNotebooksInstance_create_co

[2021-09-25 08:38] Leo843 commented on #10103
Ok, I found the error.

It did not work because `GOOGLE_APPLICATION_CREDENTIALS` was not set (I thought that login in with gcloud set the env automatically, but this is not the case). However, I don't understand why the provider was able the create a service account (even though setting the IAM fails) without credentials.

So this is not a bug but a misunderstanding.

[2021-09-25 08:38] #10103 closed

[2021-09-25 11:11] MikeMoore63 opened #10163 "Provider 3.75.0 and higher at least to 3.87.0 not handling change of big query table keys to versions correctly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-25 17:21] adambabik opened #10164 "Endpoints service incorrectly generates config_id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-27 04:24] edwardmedia commented on #10163
@MikeMoore63 can you create a minimum config that can repro the issue (your config uses `local` which make it hard to guess)? Also please share the debug log.

[2021-09-27 06:43] pankajmt commented on #7811
@estliberitas guess you will be updating this thread when you have a new simplified PR?

[2021-09-27 11:38] lichensky opened #10167 "Enable autoscaling on existing Dataproc cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-27 12:36] fourstepper commented on #10096
I think this isn't a bug in the provider, but rather in GCP itself where the created Slack notification channel cannot be chosen even from the GUI; thus, closing

[2021-09-27 12:36] #10096 closed

[2021-09-27 13:32] NotNoah commented on #9684
+1

[2021-09-27 13:41] courteouselk commented on #10143
hi @edwardmedia, here is it: https://gist.github.com/courteouselk/7a8fc6f2b8d940ad42219b2ea24b6219

[2021-09-27 15:17] joe-a-t opened #10168 "Add deletion_protection argument to google_container_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-27 15:35] megan07 commented on #9968
I'm going to reopen this because some are still failing, only for different reasons, so I'll look into it more.

[2021-09-27 16:23] rileykarson commented on #9847
@marktru: Make sure to unassign the milestone and attach the appropriate `priority/n` label as well!

[2021-09-27 16:27] edwardmedia commented on #10009
@sairajm is this still an issue?

[2021-09-27 16:41] #9970 closed

[2021-09-27 16:51] rileykarson commented on #9956
I think this is a matter of adding both a resource for https://cloud.google.com/build/docs/api/reference/rest/v1/projects.githubEnterpriseConfigs#GitHubEnterpriseConfig and the `enterpriseConfigResourceName` field to trigger. The API guide is confusing, and talks about creating JSON files and pushing them using curl rather than using a language client.

[2021-09-27 16:56] rileykarson opened #10170 "Reduce noise from serialization.go"
`tpgtools` has a bootstrapping problem with the serialization.go file- it has to exist, but doesn't need to be up-to-date unless we're serializing. Today we update it by running `tpgtools` in serialize mode and then run `tpgtools` in generate mode using the new version of `serialization.go`. This causes problems because we've got it committed, and most changes to `tpgtools` will have a delta on th

[2021-09-27 17:15] slevenick commented on #9593
@pmansour is there any action that should be taken within the Terraform provider at this point? It seems like there is not a great solution to storing the private key at this point, and Terraform is likely not the right answer here.

[2021-09-27 17:32] rileykarson commented on #10079
Closing based on not enough info from the API

[2021-09-27 17:32] #10079 closed

[2021-09-27 18:33] rileykarson commented on #9790
This is adding support for the `shareSettings` block:

[code]

Note that `projects` will return projects by number even when specified with their id, so we may need to ignore reading back the value from the API or something similar (this will make import difficult regardless)

[2021-09-27 18:34] slevenick commented on #10110
I don't think this is something we will reasonably be able to handle within the provider. Unfortunately the logic around which service accounts permissions need to exist for the default service accounts to work is somewhat complex, as some services need more permissions than the default to work correctly.

We likely don't want to add complex logic around what default roles should exist for specifi

[2021-09-27 18:34] #10110 closed

[2021-09-27 18:43] edwardmedia commented on #10143
@courteouselk instead of `:tag`, can you try to use `@digest` for the image to see what happens? But formats are acceptable for the API request, but it looks like API always sends the `@digest` back which Terraform does not have much control.

[2021-09-27 19:10] rrmestl-cx commented on #10114
@edwardmedia , not a problem, will get it ran again soon, and feedback posted.
Thanks,
Rob

[2021-09-27 19:40] rileykarson commented on #10160
Retriaging to enhancement, not supporting update is considered a feature request and not a bug.

[2021-09-27 19:42] rrmestl-cx commented on #10114
@edwardmedia , I have reran the terraform config again, with the env var in place...
attached are the plan and apply output log files...

[test_20210927_plan.txt](https://github.com/hashicorp/terraform-provider-google/files/7238831/test_20210927_plan.txt)
[test_20210927_apply.txt](https://github.com/hashicorp/terraform-provider-google/files/7238832/test_20210927_apply.txt)

Thanks,
Rob

[2021-09-27 19:45] rileykarson commented on #10168
Capturing my thoughts from triage earlier today:

- We have a precedent to do this for resources that contain customer databases
- Conversely, I think we've rejected the same on `google_compute_instance` and `google_compute_disk`, which are compute products and much more reasonable to delete as part of a normal workflow (even if they do hold data)
- If we decide we *can* make this change we should

[2021-09-27 20:23] megan07 commented on #9882
Hi @tgirier ! Is this still an issue?

[2021-09-27 20:26] megan07 commented on #9892
Hi @tgirier ! Is this still an issue?

[2021-09-27 20:27] megan07 commented on #9906
Hi @adrian-visoiu-db ! Is this still an issue?

[2021-09-27 20:28] megan07 commented on #9918
Hi @Sannis ! Is this still an issue?

[2021-09-27 20:32] megan07 commented on #9910
Hi @mldmld68 ! Is this still an issue?

[2021-09-27 20:36] slevenick commented on #10028
Based on the discussion here and my previous comments I don't believe the requested behavior is possible in GKE. GKE does not allow specifying a specific version of Kubernetes to run in the cluster. It allows specifying this on a node pool level, which we currently support in the Terraform provider.

I'm closing this for now. If this behavior is possible in GKE you can comment here or make a new t

[2021-09-27 20:36] #10028 closed

[2021-09-27 20:48] edwardmedia commented on #10114
@rrmestl-cx from two [logs](https://github.com/hashicorp/terraform-provider-google/issues/10114#issuecomment-928212618) you provided, I only see below two statements. Where to find the error you described [here](https://github.com/hashicorp/terraform-provider-google/issues/10114#issue-1001496974)?

[2021-09-27 21:45] ScottSuarez commented on #8521
Closing this issue since there is nothing we can do here. The tokens retrieved in the manner are good for one hour. Excessively long configuration deployments can run into this issue.

[2021-09-27 21:45] #8521 closed

[2021-09-27 21:58] ScottSuarez commented on #9489
We pushed a change just now that should release next Monday. Please let us know if you continue to experience this issue after this change hits. We were unable to reproduce the issue listed due to it's transient nature but are confident in our fix.

[2021-09-28 00:28] ericnorris commented on #9489
Thanks @ScottSuarez! It's been happening to us once every couple days, so we'll be able to confirm whether or not this was fixed for us about a week after the release.

We're also interested in seeing increased support for `billing_project`, so thank you for the additional PR to address that. It may also solve the issue for us, since we have the `serviceusage.googleapis.com` API enabled on our "ho

[2021-09-28 05:27] hanneshayashi commented on #9981
@ndmckinley Since my PR was merged, should this issue be closed?

[2021-09-28 07:30] AndreasBergmeier6176 opened #10175 "retention_config missing for pubsub_topic"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-28 09:29] jaceq opened #10176 "Not possible to delete uptime check (google_monitoring_uptime_check_config)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-28 09:50] courteouselk commented on #10143
@edwardmedia yes, thanks.  Indeed, with `@digest` there is no perma-diff.

However, this sounds more like a workaround rather than an ultimate solution.

Since the API does return the "converted" image like:

[code]

... wouldn't it be possible for the provider to save that in the state?  So that it does not detect a diff if the `image` is either the original value (the one with a tag), or the "co

[2021-09-28 10:15] adrian-visoiu-db commented on #9906
Hi Megan, issue was solved as mentioned above, however it is up to you to consider investigating why having two resources A and B, B depending on A, having changes in both, B is not waiting for A's update and references an obsolete resource, to me it seems a problem with the tf planning.

[2021-09-28 11:19] zlatina-lazarova-db opened #10177 "google_service_directory_endpoint cannot be updated with a new service, errors with "The update_mask must be set, and must contain a non-empty paths list""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-28 12:53] lichensky commented on #10167
It looks that the documentation needs to be updated. I've check the code and updating autoscaling policy was implemented in #7269. I'm closing the issue.

[2021-09-28 12:53] #10167 closed

[2021-09-28 13:05] circa10a commented on #9041
I think this was fixed in `v3.86.0`

[2021-09-28 15:19] joe-a-t commented on #10168
Definitely, https://github.com/hashicorp/terraform/issues/3116 would be highly preferable and allow you to rip out all of the google provider specific `deletion_protection` stuff. I highly doubt that it will happen though since it's been open without progress for 6+ years so it would be great if we could add the Google provider protection for GKE clusters.

[2021-09-28 15:46] edwardmedia commented on #10177
@zlatina-lazarova-db can you share the config are you using? Also please share the debug log as well.

[2021-09-28 16:09] rrmestl-cx commented on #10114
@edwardmedia , apologies, I had some other config code setup... let me revert and rerun the test...
Thanks,
Rob

[2021-09-28 17:46] ndmckinley commented on #9981
Ah, yes, thank you!

[2021-09-28 17:46] #9981 closed

[2021-09-28 17:54] xiaobaitusi commented on #10132
Any updates?

[2021-09-28 17:56] trax721 opened #10180 "google_compute_network_peering - incorrect attrib in documentation"
Hi there,

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_network_peering

references to use .id to establish the peerings. This is incorrect it is .self_link

can you please correct the documentation.

Thanks,

Robert S Goldstein

[2021-09-28 19:17] rrmestl-cx commented on #10114
@edwardmedia , here are the debug output files for plan & apply for the correct config setup now...

[test_20210928_plan.txt](https://github.com/hashicorp/terraform-provider-google/files/7246735/test_20210928_plan.txt)
[test_20210928_apply.txt](https://github.com/hashicorp/terraform-provider-google/files/7246736/test_20210928_apply.txt)

env var set for it...
[code]

Thanks,
Rob

[2021-09-28 20:12] megan07 commented on #9968
Fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/5243

[2021-09-28 20:12] #9968 closed

[2021-09-28 20:16] megan07 commented on #9906
@adrian-visoiu-db Thanks for the response! Would you mind adding some configurations here and what the plan looks like so that I can try and recreate it? Thanks!

[2021-09-28 23:10] edwardmedia commented on #10143
@courteouselk I agreed this is not the best solution. To your suggestion, my guess is not. The diff occurs between what you configured and what is returned from api. We can't change either side. A lot of times we can suppress the diff if there is a pattern between two. But in this case, it is not clear. The best solution is api should return what we send (clearly api accepts both formats) but unfo

[2021-09-28 23:10] #10143 closed

[2021-09-28 23:21] edwardmedia commented on #10114
@rrmestl-cx where did you get the data for `writer_identity` in below config? Can you verify if it exists?

[code]

[2021-09-29 07:32] zlatina-lazarova-db commented on #10177
Apply the below

[code]

Update the config and remove service_X and try to apply again but using service_Y in the endpoint. And at this point this errors.

[code]

The problem seems to be specifically when the endpoint tried to be updated. It's fine if it's recreated completely, but on update it fails.

Unfortunately I don't have access to the debug logs at this point in time.

[2021-09-29 10:22] akorb opened #10184 "google_artifact_registry_repository: Error 400 Invalid argument"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-29 11:37] sasemb opened #10185 "##critical -- google_app_engine_flexible_app_version failing with weird errors in production"
Hi Team,

We are building google app engine both standard and flexible version using terraform .

It was working until yesterday . All of sudden when we ran the terraform code , during the flexible app deployment , Terraform thrown the below error:

**Terraform reference :-** https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/app_engine_flexible_app_version#attributes-r

[2021-09-29 14:54] giulianisanches opened #10186 "The referenced disk resource cannot be found for additional disks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-29 14:57] rrmestl-cx commented on #10114
@edwardmedia , it was taken from the resulting log router sink creation, using locals variable manipulation, and then placed into the iam_member resource to attempt setting the role for pubsub.publisher ...
[code]
This terraform excerpt was part of the original TF file attached in the previous/parent issue [https://github.com/hashicorp/terraform-provider-google/issues/9953](url)

Thanks,
Rob

[2021-09-29 15:26] giulianisanches commented on #10186
I have update my terraform version to 1.0.7 and my provider to 3.86.0, but the problem persists.

[2021-09-29 18:40] marktru opened #10188 "L4 ILB - Support for connection tracking policy (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-29 18:49] #9860 closed

[2021-09-29 20:19] c2thorn commented on #10122
The API seems to let you specify `rootPassword` for Postgres without any complaints. Not sure why this was excluded in the first place, but it's possible there was a limitation during the initial implementation.

[2021-09-29 20:34] c2thorn commented on #10154
This should be available via metadata annotation:
https://cloud.google.com/run/docs/configuring/cpu-allocation#yaml

From the documentation, it seems setting `run.googleapis.com/cpu-throttling` to `false` is the way to go

[2021-09-29 20:34] #10154 closed

[2021-09-29 21:01] #5311 closed

[2021-09-29 21:14] cieslicki opened #10191 "Error: Provider produced inconsistent result after apply ... "provider[\"registry.terraform.io/hashicorp/google\"]" produced an unexpected new value: Root resource was present, but now absent."
When I give a group access to a dataset via the google_bigquery_dataset_access resource, it takes effect in GCP and appears in state, but produces an error in the Terraform output, and also subsequent runs want to re-run the apply, even though it has taken effect in GCP and is in state.

All of which is weird because we set a lot of dataset access in other terraform repos and we don't get this beh

[2021-09-29 22:46] sethvargo opened #10193 "Provider produced inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-29 23:04] sethvargo commented on #10193
The issue appears to be related to use `serviceAccountId` instead of `serviceAccount`.

[2021-09-30 09:19] rwblokzijl commented on #10106
This looks like a simple typo that can be easily fixed, i made a PR which i hope helps.

[2021-09-30 09:49] cvalentin-dkt opened #10196 "google_cloud_run_service can't push secret metadata"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-30 14:26] SabySen opened #10198 "disabling master authorized network after it is enabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-30 14:54] giulianisanches commented on #10186
As a workaround, i used the `attached_disk` parameter within the `google_compute_instance_from_template`, and the disk got attached.

I also, i read that there are some race conditions that could lead to some errors when using the `attached_disk` and to avoid those errors, you need to use `google_compute_attached_disk` resource (reference: https://github.com/hashicorp/terraform-provider-google/iss

[2021-09-30 16:03] #8201 closed

[2021-09-30 16:24] rileykarson commented on #8205
Note: 2 were completed in https://github.com/GoogleCloudPlatform/magic-modules/pull/5138

[2021-09-30 16:25] rileykarson commented on #8208
Whoops, turns out we duplicated this one. https://github.com/hashicorp/terraform-provider-google/issues/9430

[2021-09-30 16:25] #8208 closed

[2021-09-30 16:38] #10177 closed

[2021-09-30 16:41] aprettyloner commented on #7242
Can we get a timeslot for this?

I am constantly getting the same. This causes very noisy (and difficult to parse) tf plans, with 266 of these `= "Y1" -> null` across ~20 dashboards templated with .tpl. I've tried adding to the template file but still causes same plan issue:

[code]

![image](https://user-images.githubusercontent.com/22802852/135496278-2cebd978-12a9-4a25-8974-e814d7a61ba7.png)

[2021-09-30 17:04] tpdownes opened #10201 "budget_filter on labels does not work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-30 17:37] rileykarson commented on #2605
Closed in https://github.com/GoogleCloudPlatform/magic-modules/pull/5218 /  https://github.com/GoogleCloudPlatform/magic-modules/pull/5235

[2021-09-30 17:37] #2605 closed

[2021-09-30 18:28] c2thorn opened #10202 "Add ability to use external providers in MM Examples"
We could scan the example HCL for providers used other than `google` and add them to the `ExternalProviders` map automatically.

This would allow https://github.com/GoogleCloudPlatform/magic-modules/pull/5248 to pass after a rebase.

[2021-09-30 19:01] #2794 closed, assigned to shuyama1

[2021-09-30 20:13] DanCech commented on #7142
I'm seeing this same issue, resulting in a lot of work to try and decipher diffs against large access rule sets.  I did a little digging to try and figure out what might be going on, and it seems like `TypeSet` should work so long as the hashing algorithm works correctly, but it's using the generic hashing algorithm so it's possible that the optional fields are tripping it up?

[2021-09-30 20:26] rileykarson opened #10204 "Add `pod_security_policy_config` in `google_container_cluster` to a test"
Apparently not included in any 🙁

[2021-09-30 20:43] diegosucariaG commented on #9489
Hello there! We are facing the same issue.
It only happens when we try to create multiple projects while enabling multiple APIs on each.

I'll be happy to confirm the fix next week too.

Thanks!

[2021-09-30 21:14] melinath commented on #10156
Unfortunately, this is just how these resources interact. You need to choose either IAM or the dataset_access resource. See https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigquery_dataset_iam for details:

[2021-09-30 21:14] #10156 closed

[2021-09-30 21:21] melinath commented on #10198
Hi! It sounds like you're using a module, which make this hard to diagnose. Could you provide a small reproducible Terraform file that can reproduce the issue?

[2021-09-30 22:15] #10123 closed

[2021-09-30 22:35] melinath commented on #10186
Possibly relevant: https://stackoverflow.com/questions/68151084/how-to-define-disk-in-gcp-in-a-regional-scope

I'm not quite sure what "zonal names" means.

[2021-09-30 22:52] marktru opened #10206 "gcloud_compute_routers BgpPeer new options"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-30 22:53] melinath commented on #9967
Possibly related: https://github.com/hashicorp/terraform-provider-google/issues/5572

[2021-09-30 22:57] melinath opened #10207 "Failing test(s): TestAccStorageBucket_update"
Failure rate: 100% since September 16

Impacted tests:
- TestAccStorageBucket_update

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/208057?buildTab=tests&expandedTest=-6995816846068080552

Message:

[code]

Possibly related: https://github.com/hashicorp/terraform-provider-google/issues/8769, though the described race conditio

[2021-09-30 23:01] melinath opened #10208 "Failing test(s): TestAccNotebooksInstance unable to extract CPU cores from machine type"
Failure rate: 100% since Sept. 14

Impacted tests:
- TestAccNotebooksInstance_notebookInstanceBasicContainerExample
- TestAccNotebooksInstance_notebookInstanceBasicExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/208057?buildTab=tests&expandedTest=7820053237238386387

Message:

[code]

[2021-09-30 23:33] rileykarson opened #10209 "Configure IAM Batching with IamSettings"
Added in https://github.com/GoogleCloudPlatform/magic-modules/pull/5267, IamSettings is an example of https://golang.cafe/blog/golang-functional-options-pattern.html. We can use those for variable settings like Batching rather than function overloads.

[2021-10-01 01:14] philip-harvey commented on #10113
Looking into getting monitoring scopes and monitored projects working as part of a larger GCP migration project and excited to find this is in progress.  Should this issue be re-opened since it was reverted?

[2021-10-01 02:19] ndmckinley commented on #10113
It was un-reverted and will be released on the 4th.  :)

[2021-10-01 02:21] philip-harvey commented on #10113
I thought only google_monitoring_monitored_project was un-reverted and that google_monitoring_metrics_scope is not yet implemented?  Or am I misunderstanding?  Thanks.

[2021-10-01 08:44] esciara commented on #8977
Also `terraform apply -refresh-state` does not solve the issue: it simply keeps the project that has been set during import. Makes you wonder where the provider gets the information about the bucket, as it is not refreshed when refreshing the state file.

This also means that if a bucket has been manually moved from one project to another, `terraform` will not pick up the move and will still force

[2021-10-01 10:33] pdfrod opened #10211 "Add sourceToBuild block to google_cloudbuild_trigger"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-01 10:36] pdfrod commented on #10211
Oops, just realized there's already an issue for this: #9883

Sorry for the spam.

[2021-10-01 10:36] #10211 closed

[2021-10-01 10:49] stephenc opened #10212 "data google_compute_addresses with filter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-01 11:17] pranavsky commented on #8703
+1

[2021-10-01 11:29] framilocvt opened #10213 "Add support for customer-managed encryption keys (CMEK) for Cloud Run"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-01 15:06] melinath opened #10214 "Failing test(s): TestAccProjectService_disableDependentServices"
Failure rate: 100% since Sept. 10

Impacted tests:
- TestAccProjectService_disableDependentServices

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/208057?buildTab=tests&expandedTest=1012647840504938459
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/208265?buildTa

[2021-10-01 15:08] melinath opened #10215 "Failing test(s): TestAccComputeRouterInterface_* (QUOTA_EXCEEDED: IN_USE_ADDRESSES)"
Failure rate: Currently 100% (less frequently prior to ~7 days ago)

Impacted tests:
- TestAccComputeRouterInterface_basic
- TestAccComputeRouterInterface_withTunnel
- TestAccComputeVpnTunnel_router
- TestAccComputeVpnTunnel_defaultTrafficSelectors

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/208057?buildTab=tests&expandedT

[2021-10-01 15:16] melinath opened #10216 "Failing test(s): TestAccComputeRegionBackendService_regionBackendServiceConnectionTrackingExample"
Failure rate: 100% in GA since [added on 9/24](https://github.com/GoogleCloudPlatform/magic-modules/pull/5207) (but passes in beta - likely a GA-only failure)

Impacted tests:
- TestAccComputeRegionBackendService_regionBackendServiceConnectionTrackingExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/208057?buildTab=tests

[2021-10-01 15:21] melinath commented on #10216
It looks like this is a [beta-only feature](https://cloud.google.com/compute/docs/reference/rest/beta/regionBackendServices) (search for connectionTrackingPolicy & compare to [GA](https://cloud.google.com/compute/docs/reference/rest/v1/regionBackendServices)) that was added to GA inadvertently. It seems like the API probably doesn't complain about the extra fields but also doesn't do anything with

[2021-10-01 15:24] edwardmedia commented on #10185
@sasemb below is the latest version that was released two day before you encountered the problem. From the release, I don't see any change that might cause the problem. From the error you provided, it could be caused by the changes either on your code or the api. Are you still able to repro the issue? If yes, could you provide the config (replace the var with real value) along with the debug log?

[2021-10-01 15:32] edwardmedia commented on #10193
@sethvargo yes. Below are the member formats that are supported. Closing this issue then

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project_iam#member/members

[code]

[2021-10-01 15:37] edwardmedia commented on #10009
@sairajm closing assuming this is no longer an issue

[2021-10-01 15:37] #10009 closed

[2021-10-01 15:37] edwardmedia commented on #10131
@tpoindessous is this still an issue?

[2021-10-01 15:42] edwardmedia commented on #10141
@rovindsouza can you repro the issue by removing the dynamic code so that we can isolate where the problem comes from?

[2021-10-01 15:49] edwardmedia commented on #10114
@rrmestl-cx yes. Below is the issue which complains the account is not found. Whatever you do, you need to make sure that account exists at that point. To debug, you can start to verify if is exists. Does this make sense?

[2021-10-01 15:55] melinath opened #10217 "Failing test(s): Error waiting for Create Instance (google_sql_database_instance)"
Failure rate: 13% in Sept 2021 (4 failures each) (Seems to generally succeed on retry.)
Note that this is failure rate _per test_, so the chance that at least one test is failing for this reason is pretty high on any given day.

Impacted tests: any test that uses a google_sql_database_instance. Incomplete list below:
- TestAccSqlClientCert_postgres
- TestAccSqlUser_mysql
- TestAccSqlUser_postgresA

[2021-10-01 16:03] melinath opened #10218 "Failing test(s): TestAccMonitoringMonitoredProject_BasicMonitoredProject"
Failure rate: 100% since day after adding

Impacted tests:
- TestAccMonitoringMonitoredProject_BasicMonitoredProject (beta)

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/208265?buildTab=tests&pager.currentPage=1&status=failed&expandedTest=-5478096038333557051

Message:

[code]

Notes:

Using the incorrect provider. A

[2021-10-01 16:07] melinath opened #10219 "Failing test(s): TestAccComputeGlobalForwardingRule_externalHttpLbMigBackendCustomHeaderExample"
Failure rate: 100% since added

Impacted tests:
- TestAccComputeGlobalForwardingRule_externalHttpLbMigBackendCustomHeaderExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/208265?buildTab=tests&pager.currentPage=1&status=failed&expandedTest=-2298775931028285021

Message:

[code]

Notes:
- Not using the correct plu

[2021-10-01 16:10] melinath opened #10220 "Failing test(s): TestAccBigqueryConnectionConnection_bigqueryConnectionFullExample"
Failure rate: 100% since Sept 3 2021

Impacted tests:
- TestAccBigqueryConnectionConnection_bigqueryConnectionFullExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/208265?buildTab=tests&pager.currentPage=1&status=failed&expandedTest=6391010822202363986

Message:

[code]

[2021-10-01 16:13] melinath opened #10221 "Failing test(s): TestAccBigqueryConnectionConnection_bigqueryConnectionBasicExample"
Failure rate: 100% since Sept. 3 2021

Impacted tests:
- TestAccBigqueryConnectionConnection_bigqueryConnectionBasicExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/208265?buildTab=tests&pager.currentPage=1&status=failed&expandedTest=-1276239178058950263

Message:

[code]

Notes:
- Possibly related to https://gi

[2021-10-01 16:16] melinath opened #10222 "Failing test(s): TPU Node Capacity"
### Affected Resource(s)

* google_tpu_node

Failure rate:
- TestAccTPUNode_tpuNodeBasicExample: 50% in Sept 2021 (15 failures)
- TestAccTPUNode_tpuNodeBasicExample: 80% in March 2022 (24 failures)

Impacted tests:
- TestAccTPUNode_tpuNodeBasicExample
- TestAccTPUNode_tpuNodeFullExample
- TestAccTPUNode_tpuNodeBUpdateTensorFlowVersion

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildCo

[2021-10-01 16:21] melinath opened #10223 "Failing test(s): TestAccTPUNode_tpuNodeBUpdateTensorFlowVersion (cidr range conflict)"
Failure rate: 100% in Sept 2021

Impacted tests:
- TestAccTPUNode_tpuNodeBUpdateTensorFlowVersion

Nightly builds:
- https://ci-oss.hashicorp.engineering/test/7910401290365399987?currentProjectId=GoogleCloudBeta&branch=%3Cdefault%3E&expandedTest=id%3A298151%2Cbuild%3A%28id%3A207496%29&showLog=207496_298151_284741.284752.298151&logFilter=debug

Message:

[code]

Note: This is separate from issues w

[2021-10-01 16:23] sethvargo commented on #10193
@edwardmedia okay, but that doesn't match the list of allowed values IAM accepts for principals. Service account emails are re-usable, but service account IDs are unique and are not subject to eventual consistency challenges like emails.

[2021-10-01 16:24] sethvargo commented on #10193
At the very least, if you don't want to support this, Terraform should catch this and raise a more specific error. The current error specifically notes that this is a bug in the provider and should be reported upstream. /cc @rileykarson

[2021-10-01 16:30] melinath opened #10224 "Failing test(s): TestAccGkeHubFeatureMembership_gkehubFeature*"
Failure rate:
- 13% (4 failures) in Aug 2021
- 23% (7 failures) in Sept 2021
- 20% in July 1-20 2022
- 9.7% in Mar 2023

(Note: the were also three unrelated individual transient issues in Aug/Sept 2021 which are excluded from these numbers.)

Impacted tests:
- TestAccGkeHubFeatureMembership_gkehubFeatureAcmUpdate
- TestAccGKEHubFeatureMembership_gkehubFeaturePolicyController

Nightly builds:
- ht

[2021-10-01 16:41] rileykarson commented on #10193
We'll probably have to validate away `serviceAccountId` given that the API turns it into the service account email format in the response. Looking at your debug logs, here's the POST request and response snippet:

[code]

[code]

We could probably figure it out and handle this correctly in a `CustomizeDiff` if we *needed* to, but could be pretty annoying to get right so disallowing the format is p

[2021-10-01 16:56] sethvargo commented on #10193
I'll ping you a link privately.

[2021-10-01 17:04] rileykarson commented on #10193
Thanks! For Googlers: go/iam-types

[2021-10-01 17:10] melinath opened #10225 "Failing test(s): TestAccCloudRunDomainMapping_foregroundDeletion"
Failure rate:
- 3% (1 failure) in Aug 2021
- 3% (1 failure) in Sept 2021
- 6% in Oct 2021

Impacted tests:
- TestAccCloudRunDomainMapping_foregroundDeletion

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/208265?buildTab=tests&pager.currentPage=1&status=failed&expandedTest=-2343550295366946238

Message:

[code]

[2021-10-01 17:20] melinath opened #10226 "Failing test(s): TestAccBigQueryTableIamBindingGenerated_withAndWithoutCondition"
Failure rate:
- 0% in July 2021
- 0% in Aug 2021
- 3% (1 failure) in Sept 2021

Impacted tests:
- TestAccBigQueryTableIamBindingGenerated_withAndWithoutCondition

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/208265?buildTab=tests&pager.currentPage=1&status=failed&expandedTest=-7841423435055770169

Message:

[code]

[2021-10-01 17:23] edwardmedia commented on #10131
@tpoindessous let's get the config first

[2021-10-01 17:55] maxwell-oroark commented on #8263
This would be amazing. +1

[2021-10-01 18:25] aaron-brown opened #10227 "Error reading service account after creation - 403 Halts Execution"
### Issue

My team and I have been creating Service Accounts for some time, but recently (perhaps maybe the past two weeks) we have encountered the following error when attempting to create Service Accounts:

[code]

We had done numerous things to try and mitigate seeing this error (updating Provider versions, ensuring we had up-to-date ```gcloud``` components, updating terraform, etc.), and at fi

[2021-10-01 20:01] SabySen commented on #10198
OK here are the combination tried
what works
master_authorized_networks = [
  {
    cidr_block   = "10.158.20.10/25",
    display_name = ""
  },
]

What does not work and this is the problem. I cannot give anything of the below to create a private cluster without any master auth network
master_authorized_networks = [
  {
    cidr_block   = "",
    display_name = ""
  },
]
 or
master_authorized_net

[2021-10-01 21:18] melinath commented on #10133
It's not clear to me that this proposed change is an improvement - for now I'm closing this ticket[1], but please feel free to post here with the following information:

- What about the current documentation is confusing or incomplete?
- What about the new documentation is better?
- (if it's not answered by one of those) Why should you use subnetwork if you're not using the default network?

If y

[2021-10-01 21:18] #10133 closed

[2021-10-01 21:54] melinath commented on #10176
I can't reproduce this - could you please add an example minimal terraform configuration that demonstrates this behavior?

[2021-10-01 22:24] rrmestl-cx commented on #10114
@edwardmedia , yes, the writerIdentity service account does exist, as I see it, after the apply is completed, though failing...

luckily, I was able to get some support assistance through GCP support, and they found that if I used the following resource setup, it would work as expected, and complete successfully.

[code]

If you have any other insight as to the resource usage I was using, that wou

[2021-10-01 22:27] marktru opened #10231 "Terraform support for A100 GPU partitioning"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-01 22:54] maqiuyujoyce opened #10233 "IAM resources for google_compute_backend_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-01 23:18] melinath commented on #10164
It looks like `config_id` is a Computed field, which means that users are not able to update it directly. However, we do use a CustomizeDiff func to automatically provide a "preview" of what we expect the value to be post-apply (if we're able to guess.) In this case, because TF detected a change, the provider generated a new config_id - but the server didn't update the config_id because there wasn

[2021-10-02 01:14] jkugler opened #10234 "Backed gives an extremely unhelpful error message when it can't find the credentials"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-02 16:30] estliberitas commented on #7811
@pankajmt can do ;)

[2021-10-02 17:54] edwardmedia commented on #10227
@aaron-brown I noticed you said it happens `intermittently`. Were they on the exact same code? Can you post the config ( the values for the variables are needed) along with the debug log?

[2021-10-02 19:07] adambabik commented on #10164
@melinath in my case the rendered content is exactly the same. What changes are the resources the rendered content depends on but not really the actual values used by it. For example, `google_cloud_run_service.gateway` does change as a whole but not `google_cloud_run_service.gateway.name`.

[2021-10-03 05:37] unrealcloud commented on #9519
I'd gladly help if needed as well!

[2021-10-03 07:38] xuchenma commented on #9767
Working on this issue.

[2021-10-03 16:33] avnit opened #10235 "Composer deployment fails when we specify Node Zone (required field) ."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-04 06:47] hazcod opened #10236 "Missing confidential VM configuration for google_container_node_pool"
### Terraform Version

[code]

### Affected Resource(s)

- google_container_node_pool

### Terraform Configuration Files

n/a

### Debug Output

n/a

### Panic Output

n/a

### Expected Behavior

A way to configure confidential VMs for our GKE nodepool.

### Actual Behavior

No way to configure.

### Steps to Reproduce

`gcloud` has the `--enable-confidential` flag in creating a GKE cluster.

[2021-10-04 14:27] megan07 commented on #9910
Closing  assuming this is no longer an issue

[2021-10-04 14:27] #9910 closed

[2021-10-04 14:48] megan07 commented on #9882
Closing assuming this is no longer an issue

[2021-10-04 14:48] #9882 closed

[2021-10-04 14:49] megan07 commented on #9892
Closing assuming this is no longer an issue

[2021-10-04 14:49] megan07 commented on #9918
Closing assuming this is no longer an issue

[2021-10-04 14:49] #9918 closed

[2021-10-04 15:38] edwardmedia commented on #10114
@rrmestl-cx `google_service_account_iam_member` and `google_project_iam_binding` work on different resources. One is assigning IAM on a `service account` while the other is on the `project`.  I am glad you have fixed the problem. Closing the issue then

[2021-10-04 15:38] #10114 closed

[2021-10-04 15:41] edwardmedia commented on #10163
@MikeMoore63 is this still an issue?

[2021-10-04 17:07] melinath opened #10239 "The google_privateca_ca_pool Terraform resource doesn't pass issuance_policy.baseline_values.ca_options.is_ca to the API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-04 17:38] rileykarson commented on #10208
Duplicates https://github.com/hashicorp/terraform-provider-google/issues/10161

[2021-10-04 17:38] #10208 closed

[2021-10-04 17:54] briantopping commented on #9812
GCP creates internal resources that depend on the network. Some of what's created can depend on local project policy. It's not always easy to tell, I don't know if the Gcloud API can enumerate "things that depend on this network" before trying to delete it.

It's even more confusing when one goes to GCP console and deletes it too quickly. The console finds the transitive closure of these dependent

[2021-10-04 17:55] rileykarson commented on #10239
Note: This is not guaranteed to be breaking, but may be

[2021-10-04 18:48] briantopping commented on #9657
Could this issue manifest itself as `terraform apply` (without plan) working but `terraform plan -out=plan.cache && terraform apply "plan.cache"` failing?

[2021-10-04 18:58] rileykarson commented on #10218
Fixed by @trodge w/ https://github.com/GoogleCloudPlatform/magic-modules/pull/5265

[2021-10-04 18:58] #10218 closed

[2021-10-04 19:09] rileykarson commented on #10212
See https://github.com/hashicorp/terraform-provider-google/issues/8255, this is blocked on that.

[2021-10-04 19:11] rileykarson commented on #10008
Fields under `node_config` are supported by both resources, so this should already work. Note you'll need `provider = google-beta` on the node pool, as the feature is still at beta.

[2021-10-04 19:11] #10008 closed

[2021-10-04 20:08] #9697 closed

[2021-10-04 20:09] melinath commented on #10216
Resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/5272

[2021-10-04 20:09] #10216 closed

[2021-10-04 21:49] aaron-brown commented on #10227
Working on getting the requested info. Trying to reproduce in a simpler way if possible, I'm wondering if this happens when we are building a lot of things at the same time along with the service account(s). The issue is that for us it's intermittent so difficult to say.

At the very least I want to try to get the debug logs, we haven't done an apply where this occurs and with debug enabled, yet.

[2021-10-04 21:58] ScottSuarez commented on #9489
The new version should now be released. When you are consuming `3.87.0` please inform us if this continues to occur

[2021-10-04 23:29] bharathkkb opened #10244 "google_vpc_access_connector forces recreate with default max_throughput"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-04 23:33] dcallao commented on #9890
@megan07, any luck with this issue?

[2021-10-04 23:41] bharathkkb commented on #10244
Seems similar to the observation in https://github.com/hashicorp/terraform-provider-google/issues/9228#issuecomment-848581189

[2021-10-04 23:43] #8207 closed

[2021-10-04 23:47] ndmckinley commented on #10244
Hmm, suspicious ... I wonder if the API automatically sets it to 100 x `max_instances`, given this set of two examples...

[2021-10-05 00:40] ndmckinley commented on #10113
No, that's correct, but `monitored_project` is the only resource - `metrics_scope` does not contain any data or editable fields, once `monitored_project` exists, so there's no need for `metrics_scope`.

[2021-10-05 03:24] husseyd commented on #6376
This has been driving me nuts for months.
Using Cloud Run behind external GCLB. Backend services for the Serverless NEGs are in use by the URL map.

Once all this config/infra is in place, the service / backend service cannot be deleted even if removing the URL map in the same change. It's becomes a two step of removing URL map, then removing service and backend service.

In an enterprise setting

[2021-10-05 09:16] blueyed commented on #10196
The same appears to happen when trying to use `volume_mounts`:
[code]

[code]

This is using google-beta 3.86.0.

[2021-10-05 11:01] paolo-rm opened #10246 "router_peer advertised_route_priority not applied if set to "0""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-05 11:38] pankajmt commented on #7811
Many thanks :)

[2021-10-05 12:30] blueyed commented on #7467
I assume that it is using the data source, isn't it?  (https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/secret_manager_secret_version)

If so, I could not verify this to be an issue, using:
[code]

@skreinberg97 is it still an issue for you?  If so, can you provide more information, please?

[2021-10-05 12:51] jeroenj opened #10247 "Permadiff for failover_policy in google_compute_region_backend_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-05 15:19] edwardmedia commented on #10227
@aaron-brown it is possible for the time when you build a lot of things at the same time. It could be the service account has not been ready yet (may take longer time than it says done) when other processes try to use it. In this case, you could add `sleep` logic to workaround it.... Yes, let's review the logs to see ....

[2021-10-05 16:48] #10106 closed

[2021-10-05 18:18] rileykarson opened #10252 "`tpgtools` should generate beta website files into the GA provider"
### Affected Resource(s)

* google_*

See https://registry.terraform.io/providers/hashicorp/google-beta/latest/docs/resources/monitoring_monitored_project which works, and https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/monitoring_monitored_project which doesn't (but should)

A fix here may be obviated by using the `google-beta` website as the `google` website (which

[2021-10-05 18:26] cezarsa opened #10253 "Add support for more network types in google_compute_network_endpoint_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-05 18:37] cezarsa commented on #10253
Sorry, I just found that https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_global_network_endpoint_group and https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_region_network_endpoint_group support different network types

[2021-10-05 18:37] #10253 closed

[2021-10-05 18:55] melinath commented on #10164
@adambabik I'm able to reproduce this bug in Terraform 1.0+. It looks like [template_file is only recommended for tf <0.11](https://registry.terraform.io/providers/hashicorp/template/latest/docs/data-sources/file#rendered). In my testing, using [templatefile](https://www.terraform.io/docs/language/functions/templatefile.html) resolves the issue in 1.0.X. Does that work for you as well?

[2021-10-05 19:28] #9698 closed

[2021-10-05 19:56] dpcollins-google opened #10257 "Add Pub/Sub Lite Reservation Support"
https://github.com/GoogleCloudPlatform/magic-modules/pull/5284

[2021-10-05 20:49] satata-clgx opened #10258 "Unable to cleanly delete resources with google_gke_hub_feature_membership resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-05 21:49] adambabik commented on #10164
@melinath I run only a very simple check but it works as expected now with `templatefile()`, that is it does not detect unnecessary changes. I hope I will have a bit more time this week to battle test this. I think we can close this issue and I will reopen it if it happens again. Thanks!

[2021-10-05 22:09] ndmckinley commented on #10244
Yes, it looks like we should probably prohibit providing both `max_instances` and `max_throughput`, according to the API.

Funny, the solution in https://github.com/hashicorp/terraform-provider-google/issues/9228 worked for literally the one user who filed the bug - but will stop working as soon as they change their number of instances.  Okay, sure - might be okay to just remove the default and ad

[2021-10-05 22:13] ndmckinley commented on #10234
Wow, that _is_ a difficult-to-parse error message.  Sorry about that!  Unfortunately I believe the GCS backend is not part of this project and this issue should be handled by Terraform Core, since it's a ["standard backend"](https://www.terraform.io/docs/language/settings/backends/gcs.html).  @megan07, should we leave the issue open here, or are we better off to close it and reopen in core?

[2021-10-05 22:31] Talador12 opened #10259 "Missing example for pub sub protobuf schema definition"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-05 22:42] ericnorris opened #10260 "`google_client_openid_userinfo` fails when used with `billing_project`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-06 05:51] octopop commented on #9684
Any progress on this? (or any workarounds so that we don't have to keep that section commented out in our TF code)?

[2021-10-06 06:19] KeisukeYamashita opened #10262 "`dns_cache_config` should conflict with GKE Autopilot mode is enabled (`enabled_autopilot = true`)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-06 06:49] #10257 closed

[2021-10-06 07:38] tgmof opened #10264 "Bigquery routines are not updated as expected"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-06 10:20] st250475 opened #10266 "Cannot change a MIG from stateful to stateless"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-06 12:15] tstadje commented on #9684
+1

[2021-10-06 14:06] lcoupe opened #10267 "error creating project xxxx: googleapi: Error 409: Requested entity already exists"
Hi there,

I am trying to deploy a new project via Terraform into GCP - the project definitely doesn't already exist - however, Terraform is reporting it does and failing to apply.

However, if I change the project name it works...

Folder ID and Billing Account are correct - as it works with an alternative project id...

It's almost like something is hanging around in the state - however, I have

[2021-10-06 15:56] tony-kerz opened #10268 "allow lookup of google managed service-accounts"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-06 17:32] dbslone commented on #9942
Having the same issue with `hashicorp/google ~> 3.86`. According to #9723 this was resolved and released in 3.79 but downgrading to 3.77 resolved the issue

[2021-10-06 17:32] #9611 closed

[2021-10-06 18:49] PatrickDale commented on #9489
Hey @ScottSuarez, thanks for the help with this issue! We ran into this issue again today after upgrading to provider version `3.87.0`.

Here are some `info` logs from the run that failed:
[code]

[2021-10-06 19:25] ScottSuarez commented on #9489
do you perhaps have more information here. We added retries on the polling of the operation. I want to confirm that we did poll that operation several times. This is tricky to fix since I can't repro it so I can't ensure it's fixed before I check it in.

[2021-10-06 19:26] ScottSuarez commented on #9489
Only other fix I can think of would be to poll with a larger interval?

[2021-10-06 19:30] PatrickDale commented on #9489
We can enable debug output to get more information for the next run that fails. Unfortunately, that is all the output we received from this run that failed. And I definitely understand how this is tricky to test since it is really inconsistent!

I did notice in the info message that enabling the service failed after 7 seconds:
[code]

Does that window line up with the amount of time you'd expect t

[2021-10-06 19:31] ScottSuarez commented on #9489
Possibly, I'd have to check. Is this latency longer then the previous attempts? If you have those old logs it would be easy to see.

[2021-10-06 19:33] PatrickDale commented on #9489
It looks to be the same -- here is a gist of the first run we noticed failing, and it also failed after 7 seconds: https://gist.githubusercontent.com/PatrickDale/321a68360b28632d19a89144199058f3/raw/7cab66872dfe5c03a149e406f9bc141a7ce6bb01/gistfile1.txt

[2021-10-06 20:02] imrannayer opened #10271 "request_reason in provider is not setting values in audit logs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-06 20:06] imrannayer commented on #10271
Looks like provider is sending information in API. See trace bwlow

[code]

[2021-10-06 20:17] ScottSuarez commented on #9489
unfortunately seems infeasible from the api teams response
[code]

[2021-10-06 23:07] geojaz opened #10275 "Missing monitoring_config option: GKE workload metrics"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-07 10:27] brtkwr opened #10277 "Only github and trigger_template should be mutually exclusive with google_cloudbuild_trigger"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-07 10:36] richaslab opened #10278 "Hi How to spin up a compute instance using an image from Marketplace"
I tried this:

data "google_compute_image" "image" {
  family  = "cis-windows-server-2019-level-1"
  project = "cis-public"
}

but it throws an error:
error retrieving image information: googleapi: Error 404: The resource 'projects/cis-public/global/images/family/cis-windows-server-2019-level-1' was not found, notFound

[2021-10-07 13:48] hazcod opened #10280 "google-beta v3.87 crashes with monitoring_config on google_container_cluster"
When doing an `apply`, terraform crashes.

### Terraform Version

terraform v1.0.8
google-beta v3.87.0

### Affected Resource(s)
* google_container_cluster

### Terraform Configuration Files

[code]

Logs:

[code]

[2021-10-07 16:04] imrannayer commented on #10271
Got it. Thanks @edwardmedia  for checking. Just tested creating secret using Terraform and it is showing request_reason in audit logs.
I guess storage apis are not supporting it.

[2021-10-07 16:32] #10271 closed, assigned to edwardmedia

[2021-10-07 16:58] #10278 closed, assigned to edwardmedia

[2021-10-07 17:32] ndmckinley commented on #10244
Yeah, okay, this needs a bigger change with more conflicts specified.  Working on that.

[2021-10-08 00:32] ndmckinley commented on #10268
Hi,

Thanks for your report.  I think the error message is most likely correct - I suspect that your Terraform user does not have permission to perform this operation.  I do not think there's anything that Terraform can do to ensure that your permissions are set correctly - this sort of access does appear to work and is used routinely in our integration tests, so I would ask you to double-check yo

[2021-10-08 00:32] #10268 closed

[2021-10-08 00:42] ndmckinley commented on #10260
Interesting - I also am having trouble finding documentation on enabling this API.  I will look more deeply next week.

[2021-10-08 04:35] boosh opened #10282 "Cloud build trigger machine type E2_MEDIUM not allowed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-08 10:13] #10282 closed, assigned to nobody

[2021-10-08 12:21] omarkammoun commented on #10116
Hello,
I'm having the same issue, I'm forced to manually create and import the filestore instance while this is not resolved.
Thanks to anyone working on this.
Rergards,
Omar

[2021-10-08 13:13] kubasieron opened #10283 "Add environment_size flag to config of composer v2 environment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-08 13:19] kubasieron opened #10284 "Enhance Terraform documentation for Cloud Composer"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-08 14:02] jlporter opened #10285 "Terraform support for Regional External HTTP(S) Load Balancer"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-08 15:11] melinath opened #10286 "Failing test(s): Folder not found issues"
Failure rate: ???

Impacted tests:
- TestAccLoggingFolderSink_described
- TestAccLoggingFolderSink_disabled
- TestAccLoggingFolderSink_update
- TestAccLoggingFolderSink_removeOptionals
- TestAccLoggingFolderSink_folderAcceptsFullFolderPath
- TestAccLoggingFolderSink_updateBigquerySink
- TestAccLoggingFolderSink_heredoc
- TestAccLoggingFolderSink_basic
- TestAccFolderOrganizationPolicy_list_update

[2021-10-08 16:00] sephethus opened #10288 "Data Catalog Tagging: plugin.(*GRPCProvider).UpgradeResourceState: error="rpc error: code = Canceled desc = context canceled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-08 16:50] rileykarson commented on #10193
@ndmckinley: See https://github.com/hashicorp/terraform-provider-google/issues/10193#issuecomment-932384158, an endpoint to get the email exists but is gonna need extra permissions so we probably don't want to use it. Using validation to reject the value will stop users hitting permadiffs, at least.

I think a broader IAM fix is going to need a breaking change in order to completely remove the cas

[2021-10-08 18:12] trodge commented on #9811
https://github.com/GoogleCloudPlatform/magic-modules/pull/5290 partially resolves this issue. It is now possible to update dependencies in terraform tests generated by tpgtools.

[2021-10-08 18:23] yuryu opened #10289 "Support initialize_params inside attached_disk"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-08 22:14] rileykarson commented on #8129
@ahmedtd: Would it be safe to remap `identity_namespace` onto the `workload_pool` field in the provider given the only difference is the read-modify-write requirement change? I'm doing https://github.com/hashicorp/terraform-provider-google/issues/8696 to remove beta clients in the GA provider, and we're in a bit of a rough spot- we GA'ed the feature based on a user asking for it to get GA'ed, but

[2021-10-08 22:41] #10280 closed

[2021-10-10 16:19] MikeMoore63 commented on #10163
and with latest same issue
[code]

[2021-10-10 16:19] MikeMoore63 commented on #10163
so looks to fail in all versions so yes it is very much an issue

[2021-10-11 00:39] philip-harvey commented on #10113
Any ideas on where to find documentation on how to use this now that it is in the Beta provider?  Thanks.

[2021-10-11 00:52] dv-stephen opened #10291 "Plugin v3.87.0 crashes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-11 00:52] dv-stephen commented on #10291
I think this should be a straight-forward fix, but please let me know if more information is needed. Thanks!

[2021-10-11 01:06] philip-harvey commented on #10113
I think I managed to work out what it is looking for.
[code]

[2021-10-11 01:14] ndmckinley commented on #10113
Yep!  Unfortunately due to https://github.com/hashicorp/terraform-provider-google/issues/10252, we currently only show docs for this on the beta provider page, and it is not easy to find.  Here it is:

https://registry.terraform.io/providers/hashicorp/google-beta/latest/docs/resources/monitoring_monitored_project

And the relevant example is also not being generated well - your example is better t

[2021-10-11 01:25] ndmckinley commented on #10193
Ah, of course - I forgot that `CustomizeDiff` actually got an authenticated `Config` object and didn't think we'd be able to use it for that, but just checked, reminded myself that it does.

Okay, acknowledged, this bug is exclusively to reject the types we can't currently handle.

[2021-10-11 01:55] ndmckinley commented on #10286
Also
- TestAccLoggingFolderExclusion
- TestAccFolderOrganizationPolicy_*
- TestAccFolderIamAuditConfig_*

and a whole ton of others.  i'll just go delete em myself real quick.

[2021-10-11 02:52] ndmckinley commented on #10286
Hm, easier said than done.  I got a few dozen with

[code]

but that's not enough, I mostly got "folder not empty".  Which would explain why we're having sweeper problems!  That's where I'd look next.

[2021-10-11 02:59] nat-henderson opened #10294 "Failing test(s): TestAccComputeRegionBackendService_regionBackendServiceConnectionTrackingExample"
Failure rate: 100% since 5 October

Impacted tests:
- TestAccComputeRegionBackendService_regionBackendServiceConnectionTrackingExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/209359?buildTab=tests&status=failed&expandedTest=-5779997063818494546

Message:

[code]

[2021-10-11 06:28] arivictor opened #10295 "google_storage_notification: project: required field is not set | An argument named "project" is not expected here."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-11 08:32] arivictor commented on #10295
Did some testing. Looked at the provider code and saw that this resource trys to look for the project in the default provider rather than accepting the project as an input like other resources. My current provider config looked like this:

[code]
These obviously don't accept the project attribute so I then added a second provider block

[code]
This fixed the issue. I think a good fix would be to a

[2021-10-11 15:17] xM8WVqaG opened #10296 "storage_transfer_job: Add support for schedule.repeatInterval"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-11 15:47] neilstuartcraig opened #10297 "Missing docs/link for EventArc WRT "matching_criteria" (filters)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-11 16:57] rileykarson opened #10298 "Point tpgb repo to tpg repo more explicitly"
We've seen folks look for docs in the tpgb repo and not find them a few times- we could consider a more explicit warning in the README rather than what we do today, just turning more repo features off.

[2021-10-11 17:38] rileykarson commented on #10286
Marking as large because we probably need a bigger solution than we've currently got (and a manual cleanup will probably fix it for a while, but the problem will recur)

[2021-10-11 17:58] btleedev commented on #10065
Customer Impact: low (see b/195658189)
Follow up work: b/202743046

[2021-10-11 21:01] #10294 closed, assigned to nat-henderson

[2021-10-11 23:13] wyardley opened #10300 "workload_metadata_config permadrift on google_container_node_pool resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-11 23:28] edwardmedia commented on #10291
@dv-stephen do you have the config that can be used to repro the issue?

[2021-10-12 01:18] #10295 closed

[2021-10-12 06:57] toumorokoshi opened #10301 "panic when attempting to apply container_cluster with monitoring_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-12 07:00] #10301 closed, assigned to nobody

[2021-10-12 15:25] vponnam opened #10302 "SCC notification_config fails on an update to filter property"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-12 15:53] dv-stephen commented on #10291
@edwardmedia It's a very large terraform run with a lot that I can't post here, but I updated the issue with the two [modified] resources that are most likely being affected.

[2021-10-12 17:57] wyardley commented on #10300
Thanks for looking into it @megan07 @rileykarson!

[2021-10-12 18:14] #7628 closed

[2021-10-12 18:31] alexku7 commented on #10300
I forked the module localy and changed the deprecated node_metadata to node and to the value GKE_METADATA instead of the previous GKE_METADATA_SERVER and seems the error has gone

[2021-10-12 20:55] megan07 opened #10304 "Failing test(s): TestAccGkeHubFeatureMembership_gkehubFeatureAcm"
Failure rate: Consistently since 10/5

Impacted tests:
- TestAccGkeHubFeatureMembership_gkehubFeatureAcmAllFields
- TestAccGkeHubFeatureMembership_gkehubFeatureAcmUpdate

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/210229?buildTab=tests&expandedTest=838033674041769552

Message:

[code]

Looks like we just need to up

[2021-10-12 20:59] megan07 opened #10305 "Failing test(s): TestAccContainerNodePool_ephemeralStorageConfig"
Failure rate: Consistently since 10/8

Impacted tests:
- TestAccContainerNodePool_ephemeralStorageConfig

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/210229?buildTab=tests&expandedTest=-6735754406430096182

Message:

[code]

Seems we need to update a version in the test.

[2021-10-12 21:01] megan07 opened #10306 "Failing test(s): TestAccAssuredWorkloadsWorkload_FullHandWritten"
Failure rate: Consistently since 10/3

Impacted tests:
- TestAccAssuredWorkloadsWorkload_FullHandWritten

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/210229?buildTab=tests&expandedTest=-2079162262247133313

Message:

[code]

Need to update a time in the test, I think

[2021-10-12 21:21] edwardmedia commented on #10185
@sasemb are you able to set the environment variable `export TF_LOG=DEBUG` and then obtain the log?

Can you check if the zip is accessible?

[2021-10-12 23:02] danekantner opened #10307 "google_dataflow_job on_delete default is incorrectly documented as cancel vs. drain"
The default behavior of the google_dataflow_job on_delete parameter is actually drain. But it is incorrectly documented on the Terraform registry site, as well as in Google's own example repos as being a default of cancel.

If you do not explicitly set on_delete, it shows it draining when the dataflow is recreated. Additionally, if you then set the on_delete explicitly to on_delete = "drain" the p

[2021-10-12 23:29] amitcodex commented on #10113
Has anyone else run into this issue? ```Error: Error creating MonitoredProject: Resource already exists - apply blocked by lifecycle params: &beta.MonitoredProject{Name:(*string)(0xc000d271f0), CreateTime:(*string)(0xc000bd3950), MetricsScope:(*string)(0xc000d270f0)}.```

I destroyed the project I was using to monitor (with `terragrunt destroy`) and reinitialized it.

[2021-10-13 05:30] MikeMoore63 commented on #10163
Only 2 variables are required projectid and key i.e.
project="projectid"
kmskey="cryptokey"

thats it
There are no errors at all just does it the debug log will have my project in not interested in sharing this. You can repeat the test yourself so not sure why you need me to do it I have provided an exact implementation that repeats the error. So should be able toget the debug yourself.

[2021-10-13 05:47] schmurfy opened #10308 "disable GKE "Cloud Monitoring""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-13 08:56] balboah opened #10309 "Support Spot VMs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-13 09:36] jogoldberg opened #10310 "Error 403 when trying to use newly created KMS key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-13 11:29] ruanda opened #10311 "google_compute_backend_service perma diff with log_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-13 14:18] stamak opened #10312 "import google_monitoring_alert_policy.cloudsql project: required field is not set"
[code]

Meanwhile `project` argument is set for resource I am trying to import

### Terraform Version

[code]

### Affected Resource(s)

**google_monitoring_alert_policy**

### Terraform Configuration Files

[code]

### Debug Output

[code]

### Expected Behavior

successful import

### Actual Behavior

error

### Steps to Reproduce

Import existing alert policy

[2021-10-13 15:50] #10262 closed, assigned to KeisukeYamashita

[2021-10-13 15:53] #10300 closed, assigned to megan07

[2021-10-13 17:00] Talador12 commented on #10259
I did get this working with the above schema, but the project was not being inferred as it is with my other modules. Adding
[code]
did the trick for me.

Either way - I would recommend providing an example of the protobuf alongside the avro example

[2021-10-13 17:46] s-dschro opened #10314 "Serverless Network Endpoint Group"
Hey guys,

I checked the docs how to create a serverless network endpoint group on terraform:
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_region_network_endpoint_group

And I saw that apigateway is currently not supported. Do you plan to add this feature even that it is a preview product?
https://cloud.google.com/api-gateway/docs/gateway-serverless-neg

W

[2021-10-13 18:16] #10302 closed, assigned to megan07

[2021-10-13 19:17] c2thorn commented on #8701
Setting as `persistent-bug` due to length of time the bug has existed and amount of resources it affects.

Solution seems to require adding diff suppress logic to ignore the json order, or sorting the list.

[2021-10-13 21:26] #10283 closed, assigned to kubasieron

[2021-10-13 21:35] Talador12 opened #10318 "Is there a way to create a publisher topic with message retention enabled and a specified time window?"
I can do this in the UI but cannot find a way to enable this on the publisher topic itself

[2021-10-13 22:44] #9679 closed

[2021-10-13 23:38] #10275 closed

[2021-10-14 01:43] rileykarson commented on #8749
Hey! We reviewed the list of proposed breaking changes and accepted/rejected them based on a few factors including cost (in effort), value to users, and disruption to users. This one and #7332 both got rejected because we felt the disruption to users wasn't worth the value- for example, here,]\ we _could_ change the policy around beta resources/fields and breaking changes, but felt that it wasn't

[2021-10-14 08:15] gdsotirov opened #10323 "Changing description of google_compute_instance_group_manager forces recreation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-14 08:36] kubasieron opened #10324 "Composer zone field in config.node_config shouldn't be required"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-14 09:18] #9670 closed

[2021-10-14 09:27] schmurfy commented on #10308
thanks a lot, it worked !

[2021-10-14 09:27] #10308 closed, assigned to megan07

[2021-10-14 11:42] casperakos opened #10325 "Error creating AlertPolicy: googleapi: Error 404: The metric referenced by the provided filter is unknown. Check the metric name and labels."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-14 16:08] blevitan516 opened #10326 "google_cloud_scheduler_job should no longer require App Engine application for any target type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-14 21:27] #10323 closed, assigned to edwardmedia

[2021-10-15 05:37] gdsotirov commented on #10323
Thank you @edwardmedia for fixing this. May I just know in which version it would be included, so I could test it when it is released?

[2021-10-15 14:47] megan07 opened #10330 "Failing test(s): TestAccSpanner*"
Failure rate: Consistently since 10/11

Impacted tests:
- TestAccSpannerDatabaseIamBinding
- TestAccSpannerDatabaseIamMember
- TestAccSpannerDatabaseIamPolicy
- TestAccSpannerDatabase_basic
- TestAccSpannerInstance_spannerInstanceProcessingUnitsExample
- TestAccSpannerInstanceIamBinding
- TestAccSpannerInstanceIamMember
- TestAccSpannerInstanceIamPolicy
- TestAccSpannerInstance_basic
- TestAccSpan

[2021-10-15 15:03] csingh20 opened #10331 "Cloud Composer in-place version Upgrade"
**Maintainer note: minor version upgrades of `image_version` are supported as a beta feature in the `google-beta` provider**

See `image_version` in the [Composer V2 documentation](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/composer_environment#argument-reference---cloud-composer-2)

This issue is treated as a feature request for in-place major version upgrades,

[2021-10-15 15:04] apottere opened #10332 "google_compute_backend_bucket cdn_policy block does not allow setting default_ttl, client_ttl, or signed_url_cache_max_age_sec to 0, instead uses default value (not 0)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-15 17:15] sairajm commented on #10009
@edwardmedia My apologies on such a late reply. My org recently moved to Office 365 and all of my GitHub mails have been going to trash.
I do not have `GOOGLE_PROJECT` set as an environment variable. I have multiple projects that I work with and it's not convenient to have that fixed for me. I think calling this out in the docs would be helpful for folks.

[2021-10-15 17:44] #10326 closed, assigned to megan07

[2021-10-15 17:50] eliastsironis commented on #10325
Thanks @edwardmedia , the issue is solved as I had to include the project that has the metric to the project that has the alert. I did this manually and it failed for some reason but it succeeded in the second try and now everything works as expected.

[2021-10-15 17:51] #10325 closed, assigned to edwardmedia

[2021-10-15 18:55] caieo opened #10334 "google_compute_address: add support for `PRIVATE_SERVICE_CONNECT` in `purpose` field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-15 20:07] edwardmedia commented on #10267
@lcoupe is this still an issue?

[2021-10-15 20:18] yuryu commented on #8861
I think this issue is related to (and has conflicting ideas with) #9097. I think having the explicit ability to set labels for the boot disk gives more flexibility, and also is backward-compatible.

[2021-10-15 20:34] novascreen commented on #4123
It is not required for Postgres when using `type = "CLOUD_IAM_SERVICE_ACCOUNT"` for example so it can't be made required, right?

[2021-10-15 20:42] upodroid commented on #10213
@rileykarson We can close this.

CMEKs can be set by adding an annotation which is already supported

https://cloud.google.com/run/docs/securing/using-cmek#enabling_cmek_for_a_service
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#example-usage---cloud-run-service-sql

[2021-10-15 21:28] #10334 closed

[2021-10-16 10:56] atrauzzi commented on #9277
Uh, no. This is totally unrelated to that.

[2021-10-16 11:59] omarkammoun commented on #10116
Bonjour,
On a shared VPC, the filestore only works with a `private service access`
It is therefore necessary to add the attribute `connect_mode = "PRIVATE_SERVICE_ACCESS" `
At the moment, it only works with the Beta provider, since it's only the Google Beta APIs that can do this.
So you have to add `provider = google-beta` and of course you have to declare the provider googe-beta
[code]

[2021-10-16 18:29] MikeMoore63 commented on #10163
I am aware the output field has been added but not sure how this helps. I don't want to have to care about this change from a terrafom perspective and expecting not to have too.

[2021-10-17 18:25] bobleujr opened #10336 "google_container_cluster - panic: interface conversion: interface {} is []interface {}, not []string"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-17 20:29] philip-harvey commented on #10312
This seems to be a bug across may parts of the provider.  It only allows importing from your "default" project since it doesn't allow passing a project to import, and in my case I can't get it to work at all by setting a default project due to how we are using impersonation for our provider.
The only only way you can do an import if you are using impersonation is to create a keyfile for the servic

[2021-10-17 23:18] sgarciajaramillo commented on #10116
@omarkammoun  thanks a lot for the code details.
I've tried it as below (variables and data resources OK) and I'm getting the following error.

Thanks a lot!

[code]

POST /v1beta1/projects/SERVICE-PROJECT-ID/locations/us-central1-b/instances?alt=json&instanceId=NAME HTTP/1.1
Host: file.googleapis.com
User-Agent: Terraform/1.0.7 (+https://www.terraform.io) Terraform-Plugin-SDK/2.5.0 terraform-prov

[2021-10-18 09:34] #10116 closed

[2021-10-18 14:44] #10259 closed, assigned to megan07

[2021-10-18 14:45] IIBenII opened #10337 "Add force delete for google_monitoring_notification_channel"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-18 15:24] #10231 closed

[2021-10-18 16:30] mbleigh opened #10341 "google_cloud_run_service is missing "tag" in traffic block"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-18 16:30] marcb1 opened #10342 "Weird crash in google_storage_object_acl"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-18 17:19] c2thorn commented on #7774
Removing my assignment, I did not start on this yet.

[2021-10-18 17:22] salrashid123 opened #10343 "Add support for ExirationDate value for groups.memberships.ExpiryDetail"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-18 21:42] c2thorn commented on #7774
After this issue was created, `filter.direction` was added with a default. Looks like we do not need this anymore.

[2021-10-18 21:42] #7774 closed

[2021-10-18 22:23] AuroraLi opened #10344 "Private Service Connect Published service support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-18 22:41] edwardmedia commented on #10163
@MikeMoore63 using below config, it seems I can't repro the issue. In your config, it seems `local.bqkeyconfidentiatlitylow` is static. Am I right? What format of its data do you see?

[code]

[code]

[2021-10-18 23:32] #10307 closed, assigned to edwardmedia

[2021-10-19 05:43] MikeMoore63 commented on #10163
yes my key is exactly of that form to reproduce the issue. Note the roll out of change has to have happened on your project by Google. If you have not had the change rolled out the problem cannot be reproduced.

[2021-10-19 05:43] MikeMoore63 commented on #10163
You can tell if its rolled out by using table get if you get the version back it has happened if you do not it has not.

[2021-10-19 12:26] stamak commented on #10312
@megan07 , yes setting `GOOGLE_PROJECT` env var - works, thx so much.

[2021-10-19 12:26] #10312 closed, assigned to megan07

[2021-10-19 15:12] remko opened #10347 "Bug in Markdown documentation generator"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-19 15:47] arpitran opened #10348 "An argument named "scheduler_count" is not expected here"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-19 17:22] phydroxide opened #10349 "ip_allocation_policy swapped in terraform doc"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-19 18:59] melinath commented on #6694
@duffenterprises if you have a TAM and you need bigquery slot commitments, to expedite the investigation and resolution of this issue, please refer to these instructions: https://github.com/hashicorp/terraform-provider-google/wiki/Customer-Contact#raising-gcp-internal-issues-with-the-provider-development-team

[2021-10-19 19:11] rileykarson commented on #9436
@slevenick: marking `4.0.0-staged` given https://github.com/GoogleCloudPlatform/magic-modules/pull/5313 is approved.

[2021-10-19 19:27] rileykarson commented on #8545
@ScottSuarez: Feel free to unassign if you won't get to this!

I'm marking as `4.0.0-ready` because there is no change needed in `3.X` (we can't send a deprecation message)

[2021-10-19 19:33] rileykarson commented on #7122
Deprecation was done earlier in `3.X`, no `3.X` changes needed.

[2021-10-19 19:44] rileykarson commented on #6085
Doing this in a compatible way will be a lot more work than `size/S` imo, and I think that a hard break (changing the field types in place) is an unacceptable outcome here. The problem is that the user state will get messed up meaning they need to manually remove the resource from state, then config, then upgrade their provider, then add it back, and then import it.

I'm gonna size it up and disqu

[2021-10-19 21:27] xiaobaitusi opened #10350 "Support bigtable_app_profile to in place switch between single & multi cluster routing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-19 22:00] edwardmedia commented on #10347
@remko the descriptions of `url_mask` appears to match the ones of their APIs (below). From their doc, I don't see `<tag>` and `<service>`. Do I miss your point?

https://cloud.google.com/compute/docs/reference/rest/beta/regionNetworkEndpointGroups

[2021-10-19 22:39] keithmcneill commented on #10350
👍

[2021-10-20 00:20] ace-n opened #10351 "Make App Engine provider idempotent"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-20 06:09] remko commented on #10347
@edwardmedia The URL mask in those docs is wrong as well. You can tell if you inspect the HTML of that page:

        can be backed by the same Serverless NEG with URL mask
        "<code translate="no" dir="ltr"><service>-dot-appname.appspot.com/<version></code>".

The `<service>` and `<version>` are not properly HTML encoded.

It's not clear to me whether the terraform docs have the same bug as

[2021-10-20 15:15] nyurik opened #10352 "google_container_node_pool allows both the version and the auto_upgrade at the same time"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-20 15:20] #10324 closed, assigned to kubasieron

[2021-10-20 17:44] jimsnab opened #10354 "Docs - google_container_cluster - initial_node_count 1 for remove_default_node_pool = true causes auto repair"
This [doc page](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster) recommends

[code]

Unless the separately managed node pool only has one node, GKE will go into repair mode after creation. GKE will spin for about 30 mins in repair mode - although the cluster is mostly usable.

The docs should recommend sizing the default node pool the same as the re

[2021-10-20 17:45] rileykarson opened #10355 "Failing test(s): TestAccSqlUser_postgresIAM"
Failure rate: 100% since 10/18

Impacted tests:
- TestAccSqlUser_postgresIAM

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/211570?buildTab=tests&status=failed&expandedTest=-8931663425942659432
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/220058?buildTab=tests&

[2021-10-20 20:02] edwardmedia commented on #10347
@remko generally the provider follows what API defines.  For the doc of this particular resource, here is the source code. Do you see `<service>` somewhere?

https://github.com/hashicorp/terraform-provider-google/blob/master/website/docs/r/compute_region_network_endpoint_group.html.markdown

[2021-10-20 20:26] edwardmedia commented on #10351
@ace-n can you share the debug logs for 3 `run`?

[2021-10-20 21:30] hazcod commented on #10280
Seems to be fixed in v3.89.0! However...

[code]

[code]

[2021-10-20 21:53] rileykarson opened #10358 "Copy samples automatically into tpgtools"
Followup to https://github.com/hashicorp/terraform-provider-google/issues/8201, pull samples off the DCL and generate tests + docs automatically.

The technical portion of this is a fraction of the work. We're going to need to ensure that the samples we take in are high-quality, the generated tests pass, and likely manage an opt-in or opt-out system. https://github.com/GoogleCloudPlatform/magic-mo

[2021-10-21 03:30] kkr16 opened #10359 "Cannot edit a network_endpoint_group resource if used by a load balancer backend service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-21 06:44] philipp-hb opened #10360 "Redis Update timeout too low"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-21 08:04] hazcod opened #10361 "Feature: add WORKLOADS to monitoring_config.enable_components"
### Description

Currently it is not possible to enable GKE monitoring for workloads:

[code]

Results in: `monitoring_config  must have one of [SYSTEM_COMPONENTS]`

### New or Affected Resource(s)

* `google_container_cluster`

### Comments

Can we also clarify the difference between `logging_config` and `monitoring_config` and how they tie in with `service`?
e.g. I get `googleapi: Error 400: Can

[2021-10-21 10:57] mdideles opened #10362 "Bigquery: Alter Table using Terraform"
I am altering a bigquery table to rename a column name using the terraform.
Is there a way to prevent terraform from destroying the table when I am just renaming the column name?

[2021-10-21 10:58] mdideles commented on #10362
this looks like a bug to me.  I saw some bug report on this before but it is not clear to me what is the fix.

[2021-10-21 11:57] ghpu opened #10363 "Network_endpoint_group update problem"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-21 12:00] ltylski opened #10364 "google_service_account creation fails"
### Affected Resource(s)

* google_service_account

Hi,

I'm trying to create a new project and service account inside (packed in a module):

resource "google_project" "project" {
  name       = "TRAINING-lukasz-tylski"
  project_id = "training-lukasz-tylski"
  org_id     = "xxx"
}

# project gets created

resource "google_service_account" "sa" {
  account_id   = "training"
  display_name = "Train

[2021-10-21 12:19] ghpu commented on #10363
Work-around : add the prefix "https://www.googleapis.com/compute/v1/" inside the google_network_endpoint_group.default subnetwork field .

[2021-10-21 14:52] #4624 closed

[2021-10-21 17:17] edwardmedia commented on #10359
@kkr16 it seems you mix use of `regional` and `global` resources. Is this intentional? Can you try `google_compute_region_backend_service` instead?

[2021-10-21 17:20] #10284 closed, assigned to kubasieron

[2021-10-21 17:22] rdiaz002 opened #10365 "Deleting instance template while updating template of an Instance group manager in the same apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-21 18:38] jsoref opened #10366 "Error: googleapi: Error 400: Operation operation-... is currently deleting a node pool for cluster default-cluster. Please wait and try again once it is done., failedPrecondition"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-21 18:47] bmenasha opened #10367 ""google_project_service_identity" should handle an empty ServiceIdentity"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-21 19:08] #10332 closed

[2021-10-21 20:47] #8545 closed

[2021-10-21 23:36] yukinying opened #10368 "flawed logic within google/image.go"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-22 02:38] #10311 closed, assigned to edwardmedia

[2021-10-22 03:04] edwardmedia commented on #10367
@bmenasha it appears API has changed the response schema. It used to contain `email`

[2021-10-22 12:07] Ulf-H opened #10379 "Adding required column to big query table fails with 'Cannot add required fields to an existing schema.'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-22 18:00] jeheyer opened #10380 "Add Private Service Connect as purpose to resource google_compute_subnetwork"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-22 21:08] stenio123 opened #10381 "google_project exported attribute "id" shouldn't have the prefix string "project/""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-24 00:39] dinvlad opened #10382 "Support multi-repo sync for Anthos Config Management"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-24 01:40] boosh opened #10383 "Allow defining VPC connectors on google_cloud_run_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-24 04:12] #10381 closed, assigned to edwardmedia

[2021-10-25 11:24] suckowbiz opened #10385 "v3.87.0 introduced a delete issue with the google_compute_resource_policy resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-25 11:50] indypinball opened #10386 "Internal error encountered when updating an essential contact"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-25 13:45] finlaye opened #10387 "google_cloudbuild_trigger missing "filter" field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-25 16:38] melinath opened #10390 "Downstream builder failures cascade, are not noticed, and cause CI worker shortage"
The downstream builder waits for the previous build to finish before continuing; if the previous build failed catastrophically, the downstream builder will wait essentially indefinitely. If the previous build failed catastrophically due to an issue with one of the faster-building downstreams, this can cause _all_ of the downstreams to stop building. It may take hours to notice this, because there'

[2021-10-25 17:25] #10347 closed, assigned to nobody

[2021-10-25 19:10] circa10a opened #10396 "wait_for_instances not working as expected"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-25 20:56] upodroid opened #10401 "Update `google/image.go` mappings"
### Affected Resource(s)

* google_*

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prior

[2021-10-25 21:50] #9122 closed, assigned to c2thorn

[2021-10-25 22:18] sandy-0007 opened #10404 "Composer - node location is not supported for Cloud Composer environments in versions 2.0.0 and newer"
Terraform Version: v0.13.5, v1.0.9

Terraform Code:

[code]

When I am trying to deploy "composer-2.0.0-preview.4-airflow-2.1.2", I am encountering the below error. So not sure which terraform parameter is controlling the node location.

[code]

FYI, I tried commenting out "region" and "zone". Still its not helpful and moreover, "zone" is a required attribute
Looking for any help on this.

I tried

[2021-10-25 22:32] sandy-0007 opened #10406 "Composer - useIpAliases is not supported in versions 2.0.0 and newer"
Terraform Version: v0.13.5, v1.0.9

Terraform Code:
[code]

When I am trying to deploy "composer-2.0.0-preview.4-airflow-2.1.2", I am encountering the below error.

` Setting useIpAliases is not supported for Cloud Composer environments in versions 2.0.0 and newer, as they always use VPC Native (IP Aliases)., badRequest
`

So `use_ip_aliases` was a required parameter for defining the secondary ran

[2021-10-26 00:44] #10344 closed, assigned to nobody

[2021-10-26 08:31] ghpu opened #10408 "Network_endpointçgroup subnetwork changes between applies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-26 11:16] sreenivas-ps opened #10409 ""gcloud compute networks peerings update" command equivalent terraform resource cannot find (Cloud build private pools)"
Hi Team
I'm working to automate the GCP's cloud build private pools using the instructions from [here](https://cloud.google.com/architecture/accessing-private-gke-clusters-with-cloud-build-private-pools#creating_a_private_cluster) but I'm unable to find the terraform resource equivalent `gcloud compute networks peerings update` command which is needed to update the peering between the vpc network

[2021-10-26 17:49] #10406 closed, assigned to edwardmedia

[2021-10-26 17:51] #10404 closed, assigned to edwardmedia

[2021-10-26 23:40] billyfoss opened #10414 "google_compute_instance_from_machine_image fails with resourceInUseByAnotherResource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-27 00:09] andy-caruso opened #10415 "gpu_partition_size is not treated as optional in v3.90.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-27 08:22] Gercho4 opened #10416 "Documentation update for resource "google_dataflow_job""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-27 10:02] tomekzielins opened #10417 "google_sql_database_instance - add option to select Allocated IP Range from Private Service Connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-27 11:17] drandell opened #10418 "Composer - Persistent Volume"
Hi,

I'm curious if someone could explain the generation of the persistent volume (2GB) disk that is created as part of Composer but it is not destroyed via terraform?

![image](https://user-images.githubusercontent.com/393945/139055438-db29afc9-ecaf-48bc-95d8-bbba39435617.png)

Is this something that Terraform should be managing and it is not?

For some background context:
We generate our project

[2021-10-27 13:20] ps1248 opened #10419 "Build Enviroment Vars for Cloud Functions doesn't update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-27 15:21] #10408 closed, assigned to edwardmedia

[2021-10-27 15:22] #10379 closed, assigned to edwardmedia

[2021-10-27 19:07] NicholasAzar opened #10423 "Cloud storage bucket retries slowing state refreshes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-28 00:32] g-nikolay opened #10428 "Equal values are interpreted differently due terraform import & plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-28 03:10] JCFlores93 opened #10431 "Terraform google_data_catalog_tag: Error: Provider produced inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-28 08:18] AndreasBergmeier6176 opened #10432 "default_version logic in google_ml_engine_model is broken"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-28 10:39] rsamy-tech opened #10433 "Subnet secondary range not deleting"
Hi,

We were created the subnet with two secondary ranges in GCP, we deleted one secondary range successfully and tried to delete the second secondary range its not picked up by terraform, we want to delete the entire subnet and recreate it, let us know how to delete last secondary ranges only without deleting the entire subnet.
provider version : 3.84.0
terraform version: v1.0.7

### Community No

[2021-10-28 15:59] finlaye opened #10434 "Cannot specify `trigger_template` and `webhook_config` using `google_cloudbuild_trigger`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-28 16:03] mldmld68 opened #10435 "GCP Plugin 3.89.0_x5 crashed while updating an org policy with an empty list"
I want to create a org policy to restrict the locations of resources with conditions using tags.
So the list should be empty by default, and putting tags related to a region grants a location
The error occurs because of allowed_values = []

With allowed_values = [""], one get :
Error: Error updating Policy: googleapi: Error 400: Request contains an invalid argument.

With allowed_values = [" "]
Er

[2021-10-28 17:23] aaron-lane opened #10436 "google_artifact_registry_repository location appears to be required"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-28 21:18] enocom opened #10438 "Add support for roles in google_sql_user"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-29 16:44] dansiviter opened #10444 "master_global_access_config does not apply on existing private cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-29 17:58] #10419 closed, assigned to edwardmedia

[2021-10-29 19:00] slevenick commented on #10432
Hm, so the issue you are describing is that you have modified a field on this resource outside of Terraform and now Terraform is trying to reconcile that diff? You may want to look into a lifecycle directive to ignore changes on that field as you actively manage it outside of Terraform

It's possible that we should not support the default_version field, but it would be a breaking change to do so a

[2021-10-29 19:25] paulbsch opened #10451 "Add support for Google Container Filesystem (GCFS)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-29 19:26] paulbsch commented on #10451
Here is a pull request that implements `gcfs_config`:
https://github.com/GoogleCloudPlatform/magic-modules/pull/5398

[2021-10-29 23:55] cooperneil commented on #9438
Any update on this?

[2021-10-30 00:34] socketbox opened #10461 "Documentation indicates `provider` of `network_policy` is optional"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-10-31 09:18] DrFaust92 opened #10462 "Add datasource for google_dataproc_metastore_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-01 03:06] jachenyp opened #10464 "can not specify current project image for google_compute_image"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-01 05:50] AndreasBergmeier6176 commented on #10432
Thanks, that should do the trick for us.

[2021-11-01 09:27] thenaturalist commented on #10406
@edwardmedia could you clarify why this issue has been closed?

This is not an enhancement, it has nothing to do with Composer v1 vs. v2.
It is simply a bug in the TF provider.

For Composer v2 environments, the API does not accept the `useIpAliases` flag, but in the provider, it is a required field.
The TF provider is simply broken, it's a bug, not an enhancement.

[2021-11-01 11:43] djetelina commented on #10309
Hi, this might be a spam, and might go without saying, but please keep in mind that it affects GKE too.

gcloud cli
`gcloud beta container node-pools create POOL_NAME --cluster=CLUSTER_NAME --spot`

which is similar to preemptible node pools. So the syntax in node pools I'd expecet would be

[code]

[2021-11-01 15:32] edwardmedia commented on #10461
@socketbox where did you get your expected behavior. Can you provide a link? The following is a link to k8s which does not specify  `CALICO` should be chosen as the default.

https://kubernetes.io/docs/concepts/services-networking/network-policies/#default-policies

[2021-11-01 15:57] sandy-0007 commented on #10331
Hello @csingh20. do you have an ETA for releasing the updated or a working provider for Composer-2.x?

[2021-11-01 16:08] edwardmedia commented on #10185
Waiting for the logs

[2021-11-01 16:11] edwardmedia commented on #10227
@aaron-brown is this still an issue?

[2021-11-01 16:12] edwardmedia commented on #10267
@lcoupe closing assuming this is no longer an issue

[2021-11-01 16:12] #10267 closed

[2021-11-01 16:14] edwardmedia commented on #10359
@kkr16 does `lifecycle.create_before_destroy` help? Is this still an issue?

[2021-11-01 16:16] edwardmedia commented on #10336
@bobleujr is this still reproducible? Is still an issue?

[2021-11-01 16:17] edwardmedia commented on #10349
@phydroxide do you have the full debug log available so we can take a closer look?

[2021-11-01 16:20] edwardmedia commented on #10360
@philipp-hb have you tried to provide the `timeout` by yourself? Is this still an issue?

[2021-11-01 16:21] edwardmedia commented on #10362
@mdideles is this still an question?

[2021-11-01 16:31] edwardmedia commented on #10365
Does `lifecycle.create_before_destroy` work for you?

[2021-11-01 16:34] edwardmedia commented on #10415
@andy-caruso does this make sense?

[2021-11-01 16:36] edwardmedia commented on #10423
@NicholasAzar is this still an issue?

[2021-11-01 16:37] edwardmedia commented on #10433
@rsamy-tech is this still an issue?

[2021-11-01 16:57] rileykarson commented on #10306
https://github.com/GoogleCloudPlatform/magic-modules/pull/5396

[2021-11-01 16:57] #10306 closed

[2021-11-01 16:58] rileykarson commented on #10305
https://github.com/GoogleCloudPlatform/magic-modules/pull/5404

[2021-11-01 16:58] #10305 closed

[2021-11-01 17:03] rileykarson opened #10466 "google_privateca_ca_pool_iam_binding resource flattens the case of the member names"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-01 17:25] rileykarson commented on #10314
Hey! Can you file a new issue w/ the template? Thanks!

[2021-11-01 17:25] #10314 closed

[2021-11-01 17:31] c2thorn commented on #10331
The `image_version` field seems to be already updatable in place. Can you provide more details of the functionality you would like to see?

[2021-11-01 17:39] andy-caruso commented on #10415
I can't say that "An empty list requires optional values to be specified" makes sense. It's counterintuitive to the meaning of optional.

Did we resolve the issue? Yes, by supplying `gpu_partition_size = null` and merging that with the list. Although it's unclear what this means for an empty list.

[code]

[2021-11-01 17:39] #10415 closed

[2021-11-01 17:42] killthekitten commented on #9151
Same here – sharing an artifact registry is impossible at the moment, which was not the case with container registry.

[2021-11-01 17:50] rileykarson commented on #10417
Dupes https://github.com/hashicorp/terraform-provider-google/issues/9986, I believe

[2021-11-01 17:50] #10417 closed

[2021-11-01 18:34] matt-hottinger commented on #10084
FWIW, the same exact problem exists when attempting to create multiple instances.

**Provider Version**
hashicorp/google v3.90.0

**Affected Resource(s)**
google_apigee_instance

**Expected Behavior**
Both Apigee Instance are created successfully

**Actual Behavior**
[code]

Since the problem seems to be similar enough, I though it would be sufficient to consider this an "Interesting Factoid" on t

[2021-11-01 20:36] phydroxide commented on #10349
Edward, I'd rather abandon this request. I believed it to be a simple find
and do not have the time to invest in a fix.

*Philip Waters*
Senior Security Engineer II
onX Success Team: 406-540-1600

45°41’34.8684”N
111°02’5.2116”W
onXmaps.com <https://www.onxmaps.com/>

On Mon, Nov 1, 2021 at 10:18 AM Edward Sun ***@***.***> wrote:

--
This e-mail message may contain confidential or legally privileg

[2021-11-01 22:28] choonchernlim opened #10469 "google_project_service_identity doesn't return the correct managed service account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-01 22:55] rileykarson opened #10470 "`google_compute_snapshot.source_disk` only accepts the shortname format"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-01 23:02] g-nikolay opened #10471 "google_bigquery_table import is failing without any meaningful error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-02 06:18] deepak-pradeep-db opened #10473 "Log Sink description Bug -- Terraform 0.14.11"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-02 07:04] philipp-hb commented on #10360
@edwardmedia sorry, I was unavailable in the meantime, so I also didn't try it.

Furthermore, I don't think overwriting it manually is a solution, since you never know beforehand, if the operation will take longer or not. I agree, that setting it to 4h for default sounds a bit ugly, but I don't know how we could determine beforehand how long the operation will take and which timeout is suitable

[2021-11-02 09:19] gab-nando opened #10474 "google_composer_environment after initial rollout, forces new resource with no changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-02 12:48] bobleujr commented on #10336
@edwardmedia as I mentioned, it won't work with the options (monitoring_config and logging_config) enabled, it will give this error. I don't have the debug log near but the reproduction steps seem very much described in the issue. It's up to you to close it or not this issue. I just commented the two lines for now (which is not a proper solution to the error but it lets my pipelines finish)

[2021-11-02 14:38] BenCoughlan15 commented on #8994
Still no movement on this, can I add a PR for this?

[2021-11-02 15:08] pdecat commented on #6734
I believe this is covered by the `google_compute_reservation` resource: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_reservation

Maybe the documentation for that resource should be updated to mention `CUD` and `Committed Use Discounts`.

[2021-11-02 15:09] pdecat commented on #6734
Oops, I'm mistaken apparently :facepalm:

Reservations and CUDs are too separate things...

[2021-11-02 15:21] lwsanty opened #10475 "google_secret_manager_secret_version -> googleapi: Error 400: Field [payload] is required on empty secret_data field"
**terraform version**
[code]

**terraform configuration**
[code]
**result**
[code]
**question**
I do understand that `secret_data` field has to be set, otherwise the corresponding `payload` field will be absent, but what if I have to set and empty string `secret_data` in order to have an empty string `payload`? Is there any way to achieve this?

**refs**
- https://github.com/hashicorp/terraform-pr

[2021-11-02 17:20] ricardolpd opened #10476 "How to create serverless neg for API-gateway"
I am trying to configure an load balancer for API-gateway

The goal for us is to to aggregate over different url paths, different gateways, and for this I am trying to follow this [tutorial](https://cloud.google.com/api-gateway/docs/gateway-serverless-neg)

in which i have to create the equivalent serveless-neg of the following command, but i can't find an example for this in this page [compute_re

[2021-11-02 17:42] edwardmedia commented on #10473
@deepak-pradeep-db can you repro? If yes, please provide the configs and the steps.

[2021-11-02 18:52] rileykarson commented on #10280
That issue comes from the API. We don't seem to run into it in our tests where we've set logging_config and logging_service together- I'm not sure why.

You may be able to set `logging_service` and `monitoring_service` to `""`, potentially?

[2021-11-02 19:05] ScottSuarez commented on #10365
Can you put ` lifecycle { create_before_destroy = true }` on the offending resource that you want to be deleted after creation/update? ie `template_1`?

[2021-11-02 19:13] ScottSuarez commented on #10444
could you provide the debug logs for this request? potentially scrubbed of any PII

You can do so by enabling TF_LOG=DEBUG and TF_LOG_PATH=`path-to-file`

[2021-11-02 19:15] ScottSuarez commented on #10464
Does the SA provisioning the compute instance has access to this image?

This doesn't seem like an issue with terraform but an access/permission issue as the correct image url is being found and supplied to the compute api.

[2021-11-02 19:17] ScottSuarez commented on #10464
I would recommend trying to poll `projects/gcp-mmprd-nprd-80388/global/images/centos-7-v20200403` directly with gcloud commands. Make suer there is no reference issue here.

[2021-11-02 19:23] rohitvyavahare opened #10480 "google_storage_bucket - Change in lifecycle_rule's condition is not recognised"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-02 19:46] edwardmedia commented on #10471
@g-nikolay what config and command did you use?

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigquery_table#import

[2021-11-02 19:55] edwardmedia commented on #10469
@choonchernlim I see the email in my test. Can you share your debug log?

[2021-11-02 20:02] edwardmedia commented on #10475
@lwsanty the error is from API. I don't think any other client tools that can workaround it. Does this make sense?

[2021-11-02 20:50] g-nikolay commented on #10471
@edwardmedia basically I had 2 options - 1 manually created resources, 2 using dm config below:
[code]

[2021-11-02 21:43] choonchernlim commented on #10469
Hi @edwardmedia , typically a service has just 1 Service Agent, for example: Dataflow, ML, etc.

In this case, Vertex AI (`aiplatform`) has 2 Service Agents, and it seems to return just 1 of the Service Agents... and there doesn't seem a way for me to specify which Service Agent to generate/retrieve.

My gut feel is Terraform is calling [this Rest API](https://cloud.google.com/service-usage/docs/r

[2021-11-02 21:53] rileykarson commented on #8696
Done w/ https://github.com/GoogleCloudPlatform/magic-modules/pull/5379

[2021-11-02 21:53] #8696 closed

[2021-11-02 21:58] rileykarson commented on #7185
We did a partial removal in `4.0.0`, but did not completely remove every associated field. Remaining values for cluster @ GA include:

[code]

[2021-11-02 22:00] rileykarson commented on #9980
@slevenick and I appear to have cleared this up

[2021-11-02 22:00] #9980 closed

[2021-11-02 22:01] rileykarson commented on #9977
Fixed by GAing the feature

[2021-11-02 22:01] #9977 closed

[2021-11-02 22:01] rileykarson commented on #9987
This one appears to have resolved itself

[2021-11-02 22:01] #9987 closed

[2021-11-02 22:02] rileykarson commented on #10161
This appears to have resolved itself

[2021-11-02 22:02] #10161 closed

[2021-11-02 22:04] rileykarson commented on #10330
Timeout resolved, although the API seems to drop requests for TestAccSpannerDatabase*

[2021-11-02 23:15] cooperneil opened #10482 "Cannot set resource_version on Cloud Run Service for concurrency controls"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-02 23:22] socketbox commented on #10461
@edwardmedia I'm describing my experience with GKE, that's why I referred to the Google provider docs initially.

[2021-11-03 06:48] deepak-pradeep-db commented on #10473
Let me tell. What I did step by step.

Step 1 :

I created a sink you Terraform v0.14.11

`resource "google_logging_project_sink" "my-sink" {
  name                           = "sink-for-description-test"
  description                  = "Test Sink Description"
  destination                  = "pubsub.googleapis.com/projects/<MT DESTINATION>"
  filter                             = "resource.type =

[2021-11-03 07:20] a-zen commented on #10341
@mbleigh thx for raising this. Tried to migrate gcloud run deploy commands to terraform and hit this issue.

[2021-11-03 07:42] tferi opened #10484 "google_container_cluster.database_encryption changes are not being planned/applied"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-03 09:34] lwsanty commented on #10475
@edwardmedia please correct me if I'm wrong, but I have a feeling that if tf variable `secret_data` is empty, then during composing a request to GCP API we do not set a `payload` field at all, and that causes a

so, I'm just wondering if we set a `payload` field in the request with an empty string instead of not setting it at all, that should  bypass the request validation on GCP API side

[2021-11-03 10:36] sasemb commented on #10185
@edwardmedia  Continously monitoring the deployments . Unfortunately some of the recent releases are passing and it's sporadic in nature . Will post the debug logs once we get the failure again

[2021-11-03 10:56] sasemb opened #10485 "##critical - google_cloud_run_service - Not deploying the newer versions from registry automatically"
Hi Team,

We are deploying one of our services into cloud run engine

It was working previously as expected . So the actual problem is as part of our CI/CD process , For any changes going into codebase , we build a new docker image
and push to google container registry with latest tag and the same artifacts will trigger our deployment where terraform will read the latest image from registry
and de

[2021-11-03 15:10] shepherdjay commented on #5622
+1 for this - Since CloudArmor has a default quota of only 10 ip ranges per rule a new resource that could be tied back to the policy would allow using terraforms for_each and count metavars.

[2021-11-03 15:34] jimsnab commented on #7545
@rileykarson

When I specify the shared vpc as the network, subnetwork, it comes down to this conflict you mention.

[code]

Result:

`Error: googleapi: Error 404: Not found: project "my-service-project" does not have a subnetwork named "my-subnet" in region "us-central1"., notFound`

Note the project id mixup.

Is my issue this bug, or should I file a new one?

[2021-11-03 15:39] edwardmedia commented on #10485
@sasemb do you trigger `terraform apply` in an automation fashion?

[2021-11-03 15:56] kp250278 opened #10486 "Terraform resource to promote cloud sql replica to primary"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-03 16:26] rileykarson commented on #7545
A new one, thanks @jimsnab!

[2021-11-03 16:53] edwardmedia commented on #10473
@deepak-pradeep-db I see where the problem is. I will open a PR for it

[2021-11-03 16:55] beninada commented on #10476
Seeing the same issue here too. Running the command via CLI returns:
[code]

[2021-11-03 16:57] lwsanty commented on #10475
@edwardmedia yes, thanks for your help

[2021-11-03 16:57] #10475 closed

[2021-11-03 16:57] joe-a-t opened #10488 "Update instead of replace google_storage_bucket_object"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-03 17:02] ScottSuarez commented on #10066
Are we sure it's trying to create the resource within that project. Setting the billing project means the SA will use the API endpoint of the project specified to initiate the creation. This is so the appropriate project is billed. This doesn't mean that the resource itself will be created within that project.

[2021-11-03 17:03] ScottSuarez commented on #10066
I've attempted to reproduce this but the end state resource is always created within the correct project

[2021-11-03 17:06] albertocalderari commented on #8769
Having the same issue:
[code]

[2021-11-03 17:42] #10201 closed

[2021-11-03 17:47] jimsnab opened #10489 "google_container_cluster shared vpc network has a project ID mixup"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-03 17:48] edwardmedia commented on #10471
@g-nikolay have you tried `import` following the link I provided [above](https://github.com/hashicorp/terraform-provider-google/issues/10471#issuecomment-958114132)? If it still fails, can you share your config and the command you are using?

[2021-11-03 17:53] g-nikolay commented on #10471
@edwardmedia sure, this is import commands
[code]

TF config is attached to ticket, DM config is attached to the comment above

[2021-11-03 18:19] edwardmedia commented on #10469
@choonchernlim API only returns the default agent's email. Did you notice below statement from the doc [here](https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents)? Can you verify if the `Vertex AI Custom Code Service Agent` has been created?

[2021-11-03 18:26] edwardmedia commented on #10471
@g-nikolay can you try below config for your import?

[code]

[2021-11-03 18:32] edwardmedia commented on #10461
@socketbox I am not sure if we should change the behavior.

[2021-11-03 18:41] g-nikolay commented on #10471
@edwardmedia getting this output
[code]

[2021-11-03 18:52] edwardmedia commented on #10431
@JCFlores93 I can repro the issue once increasing the number of columns. I guess this might be a race condition issue.  To workaround, you can add `depends_on` in each `column` resource (2->1, 3->2 ...) to force the execution in sequence. I am not sure if there a better way. @ScottSuarez what do you think?

[code]

[2021-11-03 19:16] edwardmedia commented on #10360
@philipp-hb I get your point. But doesn't the size of data play a role? 4 hours is too long and 20 mins is too short. What is the number that is appropriate? Personally I prefer short as most users have not reported that is an issue, plus too long timeout could lead bad consequences. In your case, you can overwrite it as you know at least the size of data...

[2021-11-03 19:46] JCFlores93 commented on #10431
@edwardmedia  I'm going to replicate this example, because I'm not sure if I already tested.
BTW, I'm working in a big data project we have a lot of tables with more than 100 columns, my approach is reading from a yaml file this configuration then create a terraform object to automate these attachments, I'm not sure if dependes_on works with dynamic objects, and taking the depends_on approach it's

[2021-11-03 20:03] choonchernlim commented on #10469
@edwardmedia I called out that statement to Google PSOs because that statement isn't accurate.

If I enable the API, and do IAM binding with the hardcoded Service Agent email (without using `google_project_service_identity`), it will fail with "Service account not exist" error... which is expected due to eventual consistency problem.

However, when I replan and reapply, the IAM binding works fine.

[2021-11-03 21:17] jcanseco opened #10492 "google_sql_database_instance permanent diff when disk_type is set to pd-ssd"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-03 21:20] g-nikolay commented on #10471
@edwardmedia import then plan as it's described in repro steps

[2021-11-03 21:56] edwardmedia commented on #10471
@g-nikolay **import** brings the attributes to the **state**. It does not auto fill the **config**. I guess you need to manually add them into config before you run `plan`. Does that make sense?

[2021-11-03 21:57] #10473 closed

[2021-11-03 22:00] edwardmedia commented on #10349
@phydroxide closing the issue now per your suggestion.

[2021-11-03 22:00] #10349 closed

[2021-11-03 22:07] edwardmedia commented on #10336
@bobleujr I can't repro the issue. Per your suggestion, let's close this issue now. Please reopen once you experience the issue again with the repro steps & debug log. Thanks

[2021-11-03 22:07] #10336 closed

[2021-11-03 22:19] g-nikolay commented on #10471
@edwardmedia sorry, I'm a little bit confused. I have created ticket with the config which I used for import and plan, then you asked me test again with empty config. Is there anything wrong with the config from the bug description?

[2021-11-03 22:24] edwardmedia commented on #10469
@choonchernlim I am not 100% certain about the statement, but I inspected the response from API in your case. Only one email is included. There is not much the provider can do for this.

[2021-11-03 22:24] rileykarson commented on #9658
Hey, we're at 3!

[2021-11-03 22:24] #9658 closed

[2021-11-04 05:58] knyttl commented on #9893
can we pls push this? there is no reason for this condition to be missing.

[2021-11-04 07:55] philipp-hb commented on #10360
I guess size and load are important factors on this.

Of course we can overwrite it, but I think the tf provider should be of universal use without the need to overwrite timeouts for normal routine operations.

I don't know how complicated it is: Since tf also knows the size, could it be an option to set the timeout in proportion to the size?
e.g. <10GB: 20 minutes, 10-20GB: 30 minutes, 20-30GB 40

[2021-11-04 10:02] visheyra opened #10494 "Terraform crashing when planning a google compute firewall resource based on module output that do not exists yet"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-04 11:00] rdeknijf commented on #9259
They are indeed hard to access. You can get the correct service id from the annotation on the k8s service. (In my case the service was created by Helm so I had to use a data source)

`web_backend_service = jsondecode(data.kubernetes_service.<your_service>.metadata[0].annotations["cloud.google.com/neg-status"])["network_endpoint_groups"][<your_port>]`

[2021-11-04 11:14] parabolic opened #10495 "google_project resource cannot have null for org_id and goes into a modify cycle"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-04 12:03] bmsareias opened #10496 "gcp_compute_firewall source_ranges is never deleted (in favor of source_tags)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-04 12:05] yagince opened #10497 "Add support to advancedOptionsConfig(jsonParsing and logLevel) to a google_compute_security_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-04 13:51] ritmas commented on #10496
I'm facing kind of similar issue related to `source_ranges` on v4.0.0 with both google & google-beta providers.

- I have a rule with 45 items (I guess it can be of any size) in `source_ranges`
- Upgraded providers from v3.89.0 to v4.0.0
- Added one more IP range

While applying the changes terraform shows it will add new item and the rest of them will be unchanged, but actually all existing IP ra

[2021-11-04 15:50] edwardmedia commented on #10495
@parabolic when we create a project, a parent is required, either `folder_id` or `org_id`, but not both. That is why both fields are defined as `optional`.  Which one did you provide? Can you repro with a single `google_project`?

[2021-11-04 15:57] edwardmedia commented on #10471
@g-nikolay the config in this [block](https://github.com/hashicorp/terraform-provider-google/issues/10471#issue-1041727817) is used to create resource (`plan` and `apply`). The config in this [block](https://github.com/hashicorp/terraform-provider-google/issues/10471#issuecomment-959806893) is used to `import`. The subject of this issue is `import is failing`. Which config did you use for the `imp

[2021-11-04 17:22] #10175 closed

[2021-11-04 17:24] parabolic commented on #10495
Hi @edwardmedia thanks for the answer.
That's interesting, I was suspecting that one of those params is required, but we haven't had this issue so far and we were using neither. Let me try and create another project with the latest provider and I'll get back to you.

[2021-11-04 17:32] marktru opened #10502 "Add support for dns_config to google_container_cluster (ga)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-04 18:02] g-nikolay commented on #10471
@edwardmedia please create bq dataset and table either using DM config above or manually, then try import and plan using terraform config from the ticket description.

[2021-11-04 18:33] ScottSuarez commented on #10461
changing this would be breaking change for users who have

[code]

admittedly this would be a smaller edge case... what do you think @rileykarson

[2021-11-04 18:40] rileykarson commented on #10461
We should definitely not make a breaking change, which a move to required or a removal of the default would be. I think the config you've provided highlights a case where `PROVIDER_UNSPECIFIED` is appropriate. Additionally, users can specify the following, indicating that the field being optional seems correct.

[code]

[2021-11-04 20:26] ScottSuarez commented on #10431
We could mutex field to make sure that you can only add one column at a time?

If that is the issue.

[2021-11-04 21:19] edwardmedia commented on #10471
@g-nikolay what do you mean `import and plan`? I am **not** going to use the **same** config for `terraform import` and `terraform plan`. Like I said [here](https://github.com/hashicorp/terraform-provider-google/issues/10471#issuecomment-961181818), the config code is different. Does this make sense?

[2021-11-04 21:25] edwardmedia commented on #10495
@parabolic let me know what you found.

[2021-11-04 21:30] bnelson729 opened #10503 "Cannot create google_app_engine_application with an SA from a different project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-04 23:10] edwardmedia commented on #10503
@bnelson729 did you follow below suggestion to enable the api?

Regarding your words under Important Factoids, I'd like to comment 1) The project where the Terraform run shouldn't matter in this case. You can run Terraform from your local machine, can't you? 2) the service account matters. You mentioned it has `resourcemanager.projects.create`, on which project?

Does it make sense?

[2021-11-04 23:18] edwardmedia commented on #10362
@mdideles closing assuming this is no longer a question

[2021-11-04 23:18] #10362 closed

[2021-11-05 01:03] JCFlores93 commented on #10431
Guys, looking further in the logs I can see many times Skipping item with name, looks like the id of the item table or column is not found, then this message appears.
`[WARN] Provider "registry.terraform.io/hashicorp/google" produced an unexpected new value for google_data_catalog_tag.data_catalog_tag_column_description_mock_column_column15, but we are tolerating it because it is using the legacy

[2021-11-05 09:21] parabolic commented on #10495
@edwardmedia I was able to create a new project without providing `org_id` nor `folder_id`. We only pass the `id` and the `billing_id` for the project, and as to my knowledge those are the only 2 required parameters.[^1]

Closely reading the documentation there's no hint that any of those 2 params (org_id, folder_id) are required:

A second run of `terraform apply`, shows the same removal of `org_

[2021-11-05 09:30] bhagyashreemohan opened #10504 "Hi Hashicorp Team,"
If you have a support request or question please submit them to one of these resources:

* [Terraform community resources](https://www.terraform.io/docs/extend/community/index.html)
* [HashiCorp support](https://support.hashicorp.com) (Terraform Enterprise customers)
* [Google Cloud Platform Slack](https://gcp-slack.appspot.com/)

[2021-11-05 09:31] bhagyashreemohan commented on #10504
I tried picking registry for AutoML GCP in terraform but major registry is missing please release it soon.Cuurently i'm trying to test Automl in gcp using terraform using infra creation.

[2021-11-05 10:00] mdideles commented on #10362
Thanks.  This can be closed

On Thu, Nov 4, 2021 at 7:18 PM Edward Sun ***@***.***> wrote:

[2021-11-05 11:28] gsipos opened #10505 "How to define app engine entrypoint that is required required, for purely hosting static files?"
In the recent v4 version there was a breaking change that broke our pipelines.

I only want to host static files on app engine. I don't have any runnable server code.
What do I have to define in the `entrypoint` block in this case?

Could I just write something like this:
[code]
This feels hacky and wrong. Any help is appreciated!

[2021-11-05 13:16] bnelson729 commented on #10503
I have project X and project Y.

Project X holds the SA and does not have `appengine.googleapis.com` enabled. I do not have permissions to enable it and I'm not sure why I would need to.

Project Y is the brand new project that does have `appengine.googleapis.com` enabled. This is the project where I'm trying to create the app engine.

The error message I'm getting says that Project X needs `appen

[2021-11-05 13:23] gsipos commented on #10505
It seems that the `entrypoint` is required but the value of the shell property can be empty like:
[code]

Can someone confirm that this is the correct way to configure this?

[2021-11-05 15:50] ScottSuarez commented on #10461
closing this as we won't be changing the behavior

[2021-11-05 15:50] #10461 closed

[2021-11-05 15:59] ScottSuarez commented on #10474
Do you have the logs here? this looks like a functional change with composer api
It is returning an empty object {} if the value is not set here. Which terraform does not like.

Please set `TF_LOG=DEBUG` and `TF_LOG_PATH=./path-to-log` and post the scrubbed results as a gist

[2021-11-05 16:01] ScottSuarez commented on #10480
This is a question/issue for terraform-core. Please redirect this issue to them
https://github.com/hashicorp/terraform

[2021-11-05 16:01] #10480 closed

[2021-11-05 16:05] edwardmedia commented on #10503
@bnelson729 This is exact by design. Below is what the [doc](https://cloud.google.com/iam/docs/service-accounts#locations) describes.

Make sense?

[2021-11-05 16:17] edwardmedia commented on #10495
@parabolic Interesting. You can create a project without specifying a parent. Can you share the full debug log that contains all api requests & responses?

[2021-11-05 16:20] gab-nando commented on #10474
I cannot share the full log at the moment but it's indeed expecting a null but gets back an empty map:
[code]
[code]
Is this log sufficent? I can setup a test env and share the full log otherwise.

Do you also happen to know why this change forces a replacement instead of an update? I currently cannot manage pypi_packages or env_variables from Terraform as any changes done there would trigger a re

[2021-11-05 16:31] ScottSuarez commented on #10482
could you include the debug logs to verify the PUT request to update this parameter does not carry this field?

This field should be in state

[2021-11-05 16:36] ScottSuarez commented on #10492
changing to enhancement... resource working in acc with doc.. potential improvement

[2021-11-05 16:46] ScottSuarez commented on #10484
As a workaround

can you set to `unset` this field?
[code]

This is very difficult to fix in practice without breaking our users who currently have this resource deployed

[2021-11-05 17:04] parabolic commented on #10495
@edwardmedia That is interesting.
I haven't switched accounts and me and my team are using the gsuite authentication.
We execute `gcloud auth login` and then my gsuite email is  set as active when I run `gcloud auth list` [^1]
Are you using a service account ? I can create a service account and try an apply with it.

[^1]:![image](https://user-images.githubusercontent.com/2648043/140549973-6f12334

[2021-11-05 17:06] ScottSuarez commented on #10494
Could you provide a complete minimum configuration so I can debug this scenario?

[2021-11-05 17:12] edwardmedia commented on #10495
@topfunky I do see it is possible that a project can be created without providing folder or org. (yes, must use a non service account) That is not enterprise. But in your case, gcp assigns a org_id even you did not provide one? Interesting use case

[2021-11-05 17:23] JV-HCA commented on #2924
This needs to be updated in Terraform documentation. Currently doesn't list one of these as required

[2021-11-05 17:26] melinath opened #10506 "Safe user detection not working in some (all?) cases"
See https://pantheon.corp.google.com/cloud-build/builds/60d23ca1-ff2b-4f1b-823e-33d2f80dca90;step=23?project=graphite-docker-images. This was for a PR that was made by a safe user, but the CI pipeline didn't detect them properly as such and so didn't automatically run the VCR tests. Possibly something is wrong with the detection code, or something changed about Github - it's unclear from the outpu

[2021-11-05 17:38] slevenick commented on #10471
I think the confusion here is that the import command *does* succeed, but the next time `terraform plan` is run it causes the error. This is likely due to some failure in the import function for this resource (or the customize diff that I assume is being called here), and causes the resource to be unmanageable.

Regardless of where exactly the error is happening (import or plan) this is definitely

[2021-11-05 18:39] ScottSuarez commented on #10474
Try ignoring changes here. Could you make a bug request against the api? I can get around to it otherwise
https://www.terraform.io/docs/language/meta-arguments/lifecycle.html#ignore_changes

[2021-11-05 19:22] gab-nando commented on #10474
I tried to ignore_changes (see iniital message) but somehow it has no effect:
[code]
Result:
[code]
It still shouldn't replace the whole environment on a change to env_variables or pypi_packages.

Is this a Terraform or Google API (which one?) issue? I'm asking because the Terraform module does set both env_variables and pypi_packages to {} on initial rollout. Why does Terraform want to change tha

[2021-11-05 19:29] marktru opened #10507 "Support setting per-version service account in google_app_engine_standard_app_version, google_app_engine_flexible_app_version"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-05 21:10] kkr16 commented on #10359
@edwardmedia - thank you for your patience. As far as I remember, lifecycle.create_before_destroy didn't help - I'll make time to test it again this weekend, and revert back.

[2021-11-05 21:16] cooperneil commented on #10482
The field is in the state, but the main issue here is there is no way to add it to the config, which should supersede the value in state, just like a field like `spec.template.spec.timeout_seconds` or `concurrency`

[2021-11-05 21:44] pentago opened #10509 "Add support for GKE image streaming feature"
### Description

Add support for image streaming configuration as per feature announcement blog post.

### New or Affected Resource(s)

* google_container_node_pool (maybe even _google_container_cluster_)

### Potential Terraform Configuration

[code]

### References

Feature anouncement: https://cloud.google.com/blog/products/containers-kubernetes/introducing-container-image-streaming-in-gke

[2021-11-05 21:49] choonchernlim commented on #10469
I wanted to obtain the `Vertex AI Custom Code Service Agent` email (the one not returned by `google_project_service_identity`) and do IAM binding once the API is enabled... all in the same provisioning step. I'm trying to figure out the best way to do `depends_on` without doing a sleep hack.

[2021-11-05 23:51] edwardmedia commented on #10469
@choonchernlim I understand what you want but unfortunately there is not much the provider can do. Closing the issue then. You may reopen if you can use other tools to retrieve the 2nd emails

[2021-11-05 23:51] #10469 closed

[2021-11-05 23:57] edwardmedia commented on #10504
The release is on schedule. Please looking for next one.

[2021-11-05 23:57] #10504 closed

[2021-11-06 00:39] betsy-lichtenberg opened #10510 "Not waiting until Serverless VPC Access API enabled before exiting the resource"
Seeing "Error 403: Serverless VPC Access API has not been used in project".

[code]

Full error:

[code]

[2021-11-06 12:31] edwardmedia commented on #10471
I see where the problem is. Thanks @slevenick

[2021-11-06 13:15] michaelgobz commented on #10494
Am facing the same problem the plan never proceeds it ask for
``` one of source_tags, source_ranges, or source_service_accounts must be defined```
needs address @ScottSuarez

[2021-11-06 15:49] kkr16 commented on #10359
`lifecycle.create_before_destroy` did it.
For some reason, I had to manually destroy my LB, then have TF recreate it - this allowed TF to then modify the Backends to point to the NEGs. I'll try to repro when I have time.
Closing this as my primary issue is resolved. Thanks!

[2021-11-06 15:49] #10359 closed

[2021-11-07 03:54] edwardmedia commented on #10510
@betsy-lichtenberg have you tried adding `depends_on` to see if that helps?

[code]

[2021-11-07 04:05] edwardmedia commented on #10505
@gsipos here is the original api doc that explains how to use it.

https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Entrypoint

[2021-11-07 15:36] edwardmedia commented on #10431
@JCFlores93 you could ignore this type of warnings. Have you had a chance to test with more columns?

[2021-11-07 15:40] edwardmedia commented on #10360
@philipp-hb it would be nice to do it dynamically but unfortunately it is impossible to implement at the provider level. Closing the issue now. Feel free to reopen if you want to continue the conversation. Thank you

[2021-11-07 15:40] #10360 closed

[2021-11-07 23:18] olivertappin commented on #7242
Regarding the `etag` and `name` attributes, I can definitely still see this happening:

[code]

And that was after reviewing this thread and removing all unnecessary default items within the json. I tried adding the lifecycle block:

[code]

but because it is json, we cannot target these items using this feature.

Please help @icco.

[2021-11-08 05:44] harmeetsinghgujral commented on #10494
Recently i am also seeing this issue earlier same set of terraform cmd for .tf file was executing.

resource "google_compute_firewall" "testlogs-test" {
  name    = "testlogs-automation-${random_string.globalrandom1.result}"
  network = "${google_compute_network.testlogs-test-network.name}"

  allow {
    protocol = "tcp"
    ports    = ["90", "1100"]
  }
}

[2021-11-08 07:09] suckowbiz commented on #10385
Hi @edwardmedia,

are there plans now to fix the `create_before_destroy` issue, @slevenick described?

[2021-11-08 07:51] sasemb commented on #10185
[12_Read the Debug Log.log](https://github.com/hashicorp/terraform-provider-google/files/7495151/12_Read.the.Debug.Log.log)
So finally we got the error again and here I attached the complete DEBUG log . please let me know

[2021-11-08 08:03] sasemb commented on #10185
@edwardmedia  added the logs . please check and let me know if you need any further information

[2021-11-08 08:39] parabolic commented on #10495
@edwardmedia so the takeaway is, if one uses a service account then `org_id` or `folder_id` must be provided. With the gsuite (`gcloud auth login`) authentication the `org_id` somehow is automatically assumed.

To answer your question, no I haven't provided a `org_id`. I  just provide the `name`  and the `billing_id` parameters.
For us ( I imagine for other companies) using Service Accounts makes

[2021-11-08 09:37] bestefreund commented on #9684
The issue still occurs.
When it comes to the deployment of the resource `google_cloudbuild_worker_pool` with Terraform it comes to the error `Error creating WorkerPool: googleapi: Error 403: project is not allowlisted for this feature, please contact Google Cloud Support at https://cloud.google.com/support-hub`

Is here any progress on this & when will this `priority/1`-issue be solved?

If we can

[2021-11-08 11:34] miguepintor commented on #2301
I can't believe terraform has a big bug like this and there is no progress since 2018.
We are reproducing this issue with these versions:
[code]

@danawillow , @stjasink Have you found a better way to workaround this? Do you know if terraform have in plan something to fix this?

[2021-11-08 15:01] tejavar opened #10511 "Requesting an informative warn when create operations can overwrite existing data"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-08 15:07] tejavar opened #10512 "create_before_destroy lifecycle propagated to the dependent objects"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-08 16:56] slevenick commented on #10385
We cannot fix the create_before_destroy issue within the provider. A fix would need to come from Terraform core, but we don't have any indication on when that would happen. I'll mark this as upstream to indicate we cannot fix this within the provider

[2021-11-08 17:31] paulbsch commented on #10451
With the pull request having been merged, it would seem that this is complete @rileykarson.  Just let me know if there's anything else that needs to be done to get it into the next release.  Thanks!

[2021-11-08 17:34] rileykarson commented on #10451
Nope, nothing else needed. This should go out in `4.1.0` next ~Monday, provided nothing comes up! Closed w/ https://github.com/GoogleCloudPlatform/magic-modules/pull/5398

[2021-11-08 17:34] #10451 closed

[2021-11-08 17:41] edwardmedia commented on #10227
@aaron-brown closing this assuming it is no longer an issue

[2021-11-08 17:41] #10227 closed

[2021-11-08 17:42] edwardmedia commented on #10423
@NicholasAzar closing this assuming it is no longer an issue

[2021-11-08 17:42] #10423 closed

[2021-11-08 17:43] edwardmedia commented on #10433
@rsamy-tech closing this assuming it is no longer an issue

[2021-11-08 17:43] #10433 closed

[2021-11-08 17:49] edwardmedia commented on #10185
@sasemb I am seeing below two sources in the call. I can't tell from you config. Do you know which one is valid? Can you check your code to see how they both were got in?

[code]

[2021-11-08 18:06] #10496 closed

[2021-11-08 18:10] rileykarson commented on #10511
Duplicates https://github.com/hashicorp/terraform-provider-google/issues/8354 where there's some existing discussion. The tl;dr is that we need Core or SDK level support for this, really, and https://github.com/hashicorp/terraform/issues/19017 is the primary avenue we believe it would be supported through. I've raised that w/ HC directly, as well as re-raised several times.

[2021-11-08 18:10] #10511 closed

[2021-11-08 18:13] rileykarson opened #10513 "Add support for google_recaptcha_enterprise_key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-08 18:15] rileykarson opened #10514 "Add support for google_network_connectivity_* resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-08 18:45] ScottSuarez commented on #9796
https://github.com/GoogleCloudPlatform/magic-modules/pull/5290

[2021-11-08 18:45] #9796 closed

[2021-11-08 19:31] #10470 closed

[2021-11-08 19:33] #10416 closed

[2021-11-08 20:50] danawillow commented on #2301
Hi @miguepintor, I don't work on Terraform anymore so I don't have a great answer for you. I'd recommend keeping tabs on https://github.com/hashicorp/terraform-plugin-sdk/issues/122, since that's tracking a fix at an SDK level. I'll also pull in @rileykarson in case he knows something I don't.

While I'm here though, I will point out that I care deeply about the folks working in this code base and

[2021-11-08 20:53] MikeMoore63 opened #10518 "google_bigquery_table destroyed and recretead every time if created in dataset with default key and key not set on table resource object"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-08 21:50] #10084 closed

[2021-11-08 21:50] #10471 closed

[2021-11-08 21:50] ScottSuarez commented on #10084
Fixed, please create a separate issue topic fo `google_apigee_instance`

[2021-11-08 22:37] beninada commented on #10476
Using `gcloud beta` resolved this for me.

[2021-11-08 22:39] ricardolpd commented on #10476
Sorry i was busy with other work, its good that you managed to get it working, but my question was more of how do I achieve the equivalent of the gcloud command with terraform. I can seem to find a serverless neg for the api-gateway within the terraform modules.

[2021-11-09 05:36] sasemb commented on #10185
No , I haven't passed any image reference to this service and there was no change in terraform code from long time . It has only the sourceURL block . Adding the source code skeleton again for your reference below

**Terraform code**

resource "google_app_engine_flexible_app_version" "myapp_v1" {
  count = "${var.apptype == "flex" ? 1 : 0}"
  version_id = "v1"
  service    = var.service
  runtime

[2021-11-09 06:35] deepak-pradeep commented on #10473
@edwardmedia

When I can see the changes or which version I have to use to see the changes.

Thanks in advance.

[2021-11-09 08:52] kanjih opened #10522 "Terraform always replaces(destroy & create) GKE autopilot"
### Terraform Version
[code]

### Affected Resource
* google_container_cluster

### Terraform Configuration Files

[code]

### Expected Behavior
When I exec terrafrom plan with the above same code, terraform shows there's no change and terraform won't do anything.

### Actual Behavior
When I exec terrafrom plan with the above same code, terraform says it will replace (destroy & create) the gke clu

[2021-11-09 10:06] ronisec opened #10523 "google_monitoring_alert_policy: support "Incident autoclose duration" (also known as Incident auto-close duration)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-09 12:53] grieshaber opened #10524 "Add support for GcpFilestoreCsiDriver addon in GKE"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-09 14:16] hudson-m commented on #10494
Had the same problem today, solved by adding source_tags = ["mynetwork"]

resource "google_compute_firewall" "mynetwork-allow-http-ssh-rdp-icmp" {
  name    = "mynetwork-allow-http-ssh-rdp-icmp"
  network = google_compute_network.mynetwork.self_link
  allow {
    protocol = "tcp"
    ports    = ["22", "80", "3389"]
  }
  allow {
    protocol = "icmp"
  }
  source_tags = ["mynetwork"]
}

[2021-11-09 14:40] matt-hottinger opened #10525 "Creating multiple Apigee instances failing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-09 15:59] c4po commented on #10386
same error on terraform-provider-google/4.0.0

[2021-11-09 16:39] gtalton opened #10526 "Please add allocatedIpRange support to google_sql_database_instance "GoogleCloudPlatform/sql-db/google//modules/mssql""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-09 17:33] marktru opened #10527 "Metrics Scopes API GA Terraform module"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-09 17:53] rileykarson commented on #2301
Nothing new from me! Also waiting on https://github.com/hashicorp/terraform-plugin-sdk/issues/122 as we haven't found a really effective provider-side workaround.

I would note that the issue may be mitigated by using an output value like `id` rather than `name` where that is accepted- this issue boils down to Terraform misunderstanding the relationship between resources, and using a value that is

[2021-11-09 19:01] edwardmedia commented on #10221
The issue is `connection_id` is nil at https://github.com/hashicorp/terraform-provider-google-beta/blob/46757a596f1480e979a621e7b18da8d787498a53/google-beta/resource_bigquery_connection.go#L208. Need to move this [block](https://github.com/hashicorp/terraform-provider-google-beta/blob/46757a596f1480e979a621e7b18da8d787498a53/google-beta/resource_bigquery_connection.go#L214) to ahead of it

[2021-11-09 19:08] edwardmedia commented on #10220
need to add `cloud_sql.0.credential` to `ImportStateVerifyIgnore`

[2021-11-09 19:34] betsy-lichtenberg commented on #10510
Yes, I've tried that, and I've also tried a sleep timer.

[2021-11-09 20:06] sanmmishra opened #10530 "Support to add transit_encryption_mode in google_redis_instance to the google GA provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-09 21:23] #10236 closed

[2021-11-09 21:46] raphaelauv commented on #7443
same as https://github.com/hashicorp/terraform-provider-google/issues/9027

A fix would be great , thanks

[2021-11-09 22:28] edwardmedia commented on #10510
@betsy-lichtenberg Can you share the config that has the `depends_on` and `sleep` along with the debug log?

[2021-11-09 22:42] nat-henderson opened #10533 "Brownfield resources need additional testing"
### Description

The automated magic-modules CI pipeline should run both diff testers on PRs that migrate a resource from Magic Modules to the DCL.

### Affected Resource(s)

* google_*

[2021-11-09 22:50] betsy-lichtenberg commented on #10510
Here's the config with just depends_on:

[code]

Here are the logs for just depends_on:

[code]

Here's the config with depends_on and sleep:

[code]

Here are the logs for depends_on and sleep:

[code]

[2021-11-09 23:34] edwardmedia commented on #10495
@parabolic please review the GCP [Resource hierarchy](https://cloud.google.com/resource-manager/docs/cloud-platform-resource-hierarchy) A project should be created either under a folder or directly under a org. Like what you did, a project may be created without an org or folder, but this is not for enterprise. As a tool targeting enterprise, I don't think this needs to be supported. To resolve th

[2021-11-10 07:09] kp250278 commented on #10486
Can you please help on above we are stuck due to this issue

[2021-11-10 07:09] sasemb commented on #10185
@edwardmedia  Added the code block above for your reference

[2021-11-10 09:25] pfilourenco opened #10534 "google_scc_notification_config - Error 403: Security Command Center API has not been used"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-10 11:52] albertocalderari commented on #8769
So we got to the end of this!
In our case the service account was belonging to a deleted project.
Not sure how but I could manually add that service account in the console, yet in terraform I was getting a ton of errors.

[2021-11-10 12:10] bhagyashreemohan commented on #3037
Can anyone share terraform code for automl .i want to automate my ML deployment in my projects on priority.

[2021-11-10 12:20] FooBarWidget opened #10535 "google_gke_hub_feature_membership does not support Policy Controller mutation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-10 16:16] bdmogal opened #10536 "Support CMEK for the google_datafusion_instance resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-10 16:28] #10220 closed

[2021-11-10 16:28] #10221 closed

[2021-11-10 17:02] edwardmedia commented on #10510
@betsy-lichtenberg from the logs you provided above, it might not be a time issue. You have projects `load-balancer-https` and `962980043765` and not sure what and how many projects are involved. The logs show the apis not enabled at the very start of `tf apply`, I guess this execution is a re-apply. The service might have been already enabled but not in a right project? I have no issue with below

[2021-11-10 17:18] betsy-lichtenberg commented on #10510
There is only one project involved. 962980043765  is the project number, while load-balancer-https is the project name.

Before you tried the config, did you make sure that the vpcaccess.googleapis.com service is disabled in your project?

If the service is already enabled in my project, the tf config works fine. If the service is disabled at the start, I get the error.

[2021-11-10 17:41] c2thorn commented on #10522
@kanjih `node_config.oauth_scopes` does not seem to be configurable with Autopilot enabled. I'd recommend removing the field since the backend will just replace your values automatically.

It'd be nice if the provider prevented you from trying to attempt this, but I'm not sure that is possible with how `node_config` is structured internally.

[2021-11-10 17:41] #10522 closed

[2021-11-10 17:46] c2thorn commented on #10534
@pfilourenco To confirm, you have applied the `securitycenter` API at the project listed in your provider schema?

The number returned by the API here is probably your project "number", not your project "ID". Can you confirm the number of your project?

[2021-11-10 18:03] FransUrbo opened #10538 "google_service_networking_connection creates the peering connections but not all routes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-11-10 18:23] linuxdaemon commented on #10386
The issue seems to be that the `patch` endpoint does not let you update the email. To change the email the resource must be recreated.

[2021-11-10 18:24] FransUrbo opened #10540 "Resource id needs to be "url-defied""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere