[2022-08-08 22:02] vancleimatheus opened #12281 "validate doesn't accept uniform_bucket_level_access"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-09 05:17] voycey commented on #12199
I can see this is merged however with the latest release (that I can see it is included in) I am still getting:

[code]

[2022-08-09 10:07] ari-becker opened #12283 "Move `google_project_service` into the provider configuration / add `enabled_services` to the provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-09 10:58] gtirloni opened #12284 "Validate BigQuery naming requirements before apply"
### Description

Plan shows resources will be created but then it fails during apply.

[code]

It'd be more productive if Terraform would validate that the names satisfy the requirements before applying.

### New or Affected Resource(s)

* google_bigquery_*

b/308248587

[2022-08-09 11:05] gtirloni commented on #12284
Here is an example of a workflow that the lack of validation "enables":

* Work on changes locally (write code, plan, plan, plan)
* Submit PR
* CI shows same plan that you had locally
* Request reviews
* Get approvals
* CI tries to apply the change and fails
* Troubleshoot issue
* Update PR -> Approvals are invalidated
* Request reviews
* Get approvals
* CI applies changes

[2022-08-09 11:37] gtirloni commented on #12283
AFAIK, provider{} blocks do not configure anything remotely. They just enable TF to access the provider's API, no?

[2022-08-09 11:49] karan-kaushik commented on #12253
Hi, I was facing the same issue with the terraform code, using the following limit value `/d/project/user` helped solve it.

### Terraform Configuration
[code]

### Terraform Plan
[code]

### Terraform Output
[code]

Hope this helps solve the issue

[2022-08-09 13:21] edwardmedia commented on #12281
@vancleimatheus can you try the latest version of the provider to see if that wrks for you?

[2022-08-09 13:24] edwardmedia commented on #12167
@DanishKhakwani glad your problem is solved. Closing the issue then

[2022-08-09 13:24] #12167 closed

[2022-08-09 13:35] SarahFrench commented on #12253
@pfilourenco Does the above advice from @/karan-kaushik solve your problem?

[2022-08-09 13:53] ss39881 opened #12285 "Add multiple GCP HA instance to Unmanaged Instance Group by Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-09 13:54] SarahFrench commented on #12255
After a bunch of cache purging, the fix should now be available for all os/arch builds of this version - @anfperez can you do `terraform init` ok now?

[2022-08-09 13:55] ArsenyBelorukov opened #12286 "Changing AliasIP issue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-09 13:56] tolgaio commented on #12255
yup - it's working for me now after the latest update! Thanks.

[2022-08-09 13:59] SarahFrench commented on #12255
Brilliant, in that case I'll mark the issue as closed - thanks for everyone's patience!

[2022-08-09 13:59] #12255 closed

[2022-08-09 14:21] karan-kaushik commented on #12253
Thank you for this clarification @SarahFrench 🙏
I will keep my eye out for the new changes to the provider.

[2022-08-09 14:22] karan-kaushik commented on #12253
Thank you for this clarification @SarahFrench 🙏
I will keep my eye out for the new changes to the provider.

[2022-08-09 15:05] gmenuel commented on #11711
We're having the same problem, it seems that terraform didn't store the name of the environment in the state during the creation of composer (name=""), and during the deletion it uses this information to retrieve the info on the composer, so it failed.

The resourceComposerEnvironmentRead function is only called if the creation was successful, maybe the name should at least be set even if the crea

[2022-08-09 15:07] oleksiilopasov opened #12287 "Updating Pub/Sub topic schema causes issues"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-09 15:12] tyohan commented on #11208
I had the same issue and found out it's exactly like @marfenij said. It's a GCP IAM known issue. Got the answer [here](https://stackoverflow.com/questions/67907211/how-to-resolve-googleapi-error-403-the-caller-does-not-have-permission-forbi).

[2022-08-09 15:25] edwardmedia commented on #12286
@ArsenyBelorukov I don't understand what the issue here. Here is what I can see from the log you provided. Can you clarify what was wrong?

Initial state
[code]

What to change
[code]

final state
[code]

[2022-08-09 15:35] #11208 closed

[2022-08-09 15:58] pfilourenco commented on #12253
Yes, it works.

Thanks for the support @SarahFrench  and @karan-kaushik .

[2022-08-09 16:16] #12253 closed

[2022-08-09 16:24] edwardmedia commented on #12281
@vancleimatheus here is the version for the provider https://github.com/hashicorp/terraform-provider-google/releases/tag/v4.31.0

Looks like you pinned the version in your [code](https://github.com/hashicorp/terraform-provider-google/issues/12281#issue-1332448201)

[code]

[2022-08-09 16:26] edwardmedia commented on #12169
@pj is this still an issue?

[2022-08-09 16:29] edwardmedia commented on #12177
@kashtan404 closing the issue now assume it is no longer a question

[2022-08-09 16:29] #12177 closed

[2022-08-09 16:45] rileykarson commented on #9973
Appears to have been closed in https://github.com/GoogleCloudPlatform/magic-modules/pull/6328

[2022-08-09 16:45] #9973 closed

[2022-08-09 16:58] edwardmedia commented on #12287
@oleksiilopasov unfortunately this is not the case. Once you apply changes on `google_pubsub_schema`, there is no mechanism in terraform that can **_inform_** `google_pubsub_topic`. One of the solutions you may consider is to apply [taint](https://www.terraform.io/cli/commands/taint). Does this make sense?

[code]

[2022-08-09 17:00] vancleimatheus commented on #12281
@edwardmedia  my bad, you're correct. Upgrading to v4.31.0 worked fine, thanks

[2022-08-09 17:00] #12281 closed

[2022-08-09 18:29] ArsenyBelorukov commented on #12286
@edwardmedia
Yes, the final state is correct.
But during applying configuration, terraform deleted "192.168.10.2/32" and added it again, although it could be left untouched.

Even if I just added a new AlisaIP range
[code]
terraform does two requests:  removes existing AlisaIP ranges, and then set needed.
https://gist.github.com/ArsenyBelorukov/2f131fe14872001f7b16321f0774c535#file-debug_output_2-

[2022-08-09 19:36] #10525 closed

[2022-08-09 21:53] melinath commented on #4055
It looks like this switch has been fixed as of https://github.com/hashicorp/terraform-provider-google/commit/92e352dcafa7e1b467a9cfcdd77e43ee4b41e3c7 (August 2019). There may also have been a problem on the API side; however, I'm marking this as resolved for now.

[2022-08-09 21:53] #4055 closed

[2022-08-09 22:26] melinath commented on #7659
@rileykarson it looks like you had previously triaged this as documentation - is the issue that we need to document the fact that it can't be imported, as opposed to implementing import?

[2022-08-09 22:30] melinath commented on #12090
b/241975760

[2022-08-09 22:37] melinath commented on #9651
b/241976514

[2022-08-09 22:39] melinath commented on #9688
b/241976681

[2022-08-09 22:43] melinath commented on #10908
b/175683748

[2022-08-09 22:43] melinath commented on #10908
@hao-nan-li

[2022-08-09 22:48] melinath commented on #11197
b/241977656

[2022-08-10 06:10] ari-becker commented on #12283
The implementation for this may simply be to, whenever attempting to use an API (for another resource), if that API is in the `enabled_services` list, then to just go ahead and enable that API and then resume with resource creation, instead of failing the apply. The key is to not require nearly every resource to include the `depends_on` block to guarantee a clean apply on a fresh project.

[2022-08-10 07:00] vnachimu opened #12291 "GCS - Custom Dual Region is not functioning thru Terraform as expected"
### TL;DR

Terraform provider is NOT supporting to create a custom dual-region GCS bucket using location field.  It works just fine with Google's predefined dual-regions - NAM4, ASIA1, EUR4.  When you create a custom-dual region with a location field as US-CENTRAL1+US-EAST1, the terraform state stores the location as US. When we make an update to the bucket next time, there is a mismatch between c

[2022-08-10 07:01] vnachimu commented on #12291
Refer to this issue for additional information. [182](https://github.com/terraform-google-modules/terraform-google-cloud-storage/issues/182)

[2022-08-10 08:28] oleksiilopasov commented on #12287
@edwardmedia Hi, thanks for a quick response
Accoding to to the .tf code
[code]
the topic refers schema, so terraform automatically triggers topic to update with new schema id.
BUT
`schema_settings.schema` field is immutable from Pub/Sub API's perspective and topic cannot be updated in-place. It should be recreated the same way, the schema is recreated.
BTW you can not even modify the schema in pu

[2022-08-10 08:38] Sylphe88 commented on #11862
Got the same issue. Looks like we need to specify the project that hosts the subnet in the network_interface block but I'm still unable to set up the instance in my service project, with the following block:

network_interface {
    subnetwork = data.google_compute_subnetwork.my_host_vpc_subnet.name
    subnetwork_project = data.google_project.my_host_project.name
    access_config {
      network

[2022-08-10 08:42] ricardoeusse commented on #11862
ya lo resolvi!

Gracias!!

Un saludo.
[image: Tecnología | Confianza inspiradora. Globalmente.]
<http://www.techedgegroup.com/>
Ricardo Eusse Sanchez
Consultor de Nube

Móvil  679080554
Ricardo Eusse Sánchez <Ricardo%20Eusse%20Sanchez>
Spain - Madrid
Martínez Villergas, 52. Edificio B – Planta 6
Madrid, 28027
Phone +34 91 556 0013 <+34+91+556+0013>
techedgegroup.com <http://www.techedgegroup.com/>

[2022-08-10 14:38] edwardmedia commented on #12287
@oleksiilopasov did you say it should trigger to recreate `google_pubsub_topic`? I don't think so. Do you see `force recreate` on this resource in the plan?

[2022-08-10 14:53] edwardmedia commented on #12291
@vnachimu I do see [Dual-region storage](https://cloud.google.com/storage/docs/dual-regions#availability) is available in the API but this is the feature the provider has not implemented. Can you create an enhancement using below link so it can be added in the backlog? Closing this issue then

https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=

[2022-08-10 14:53] #12291 closed

[2022-08-10 15:08] vnachimu opened #12292 "Terraform support to deploy GCS using custom dual-region"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-10 16:20] #11713 closed

[2022-08-10 16:20] #11962 closed

[2022-08-10 17:52] AdamMAtWork opened #12294 "Set Firestore database mode"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-10 19:04] uramirez-sada commented on #12273
I see.
So what's the best way to deploy GKE Clusters on a Service Project (SP), once that SP is attached to a Host Project?

If I were to perform this attachment via the GCP Console, there's a checkbox marked: "Kubernetes Engine access" that allows those deployments to be possible.

In other words, there are a few Host-Project IAM Bindings that need to be granted for the Cluster Deployment to work

[2022-08-10 20:09] rdooley opened #12295 "Add `skipBacklog` option to pubsublite subscription creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-10 21:11] edwardmedia commented on #12286
@ArsenyBelorukov here is the reason why it behaves this way. This is by design. Closing the issue then

_Alias IP ranges cannot be updated; they must be removed and then added unless you are changing subnetwork/network_

[2022-08-10 21:20] edwardmedia commented on #12273
@uramirez-sada You can use [google_project_iam_member](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project_iam#google_project_iam_member) to create the IAMs at the project level. Make sense?

[2022-08-10 21:25] ArsenyBelorukov commented on #12286
@edwardmedia
I gave the example of how it should be removed.
It is not necessary to remove **all** AliasIP ranges. Terraform should remove unneeded and then add the described list.

In the current situation, terraform just brokes network connectivity to AliasIps, but should not

[2022-08-10 23:21] bharathkkb opened #12296 "google_logging_metric invalid update command"
We should clarify that the [google_logging_metric import](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/logging_metric#import) statement id is space separated  i.e `terraform import google_logging_metric.default '{{project}} {{name}}'` similar to [what we do for IAM.](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project_iam#

[2022-08-11 00:29] edwardmedia commented on #12286
@ArsenyBelorukov can you share you the full log of your gcloud command execution? You said `Via gcloud it looks (deleting 192.168.10.3, then adding 192.168.10.4):`

I receive below error.

[code]

[2022-08-11 01:56] aetherknight opened #12297 "google_monitoring_uptime_check_config http_check support for acceptedResponseStatusCodes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-11 08:28] SarahFrench commented on #12263
Hi @SudharsaneSivamany - thank you for bringing this to our attention!

So if I understand correctly, the issue is that unsetting `service_account` or `artifact_storage` in the `execution_configs` block doesn't cause the API to make the resource use the default values for these fields. But if `worker_pool` is first set and then unset in separate apply steps the expected behaviour _does_ happen.

I

[2022-08-11 09:08] andrejohansson opened #12298 "Support for alert & notification in google_monitoring_uptime_check_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-11 10:33] SudharsaneSivamany commented on #12263
HI @SarahFrench - thank you for the response!!

Yes, your understanding is correct.

Regarding the temporary fix. If we pass google_compute_default_service_account and google_storage_bucket as an input to the execution config, the cloud deploy target will consider that as a user input. When we try to trigger the deploy ,it will fail by saying "ERROR: (gcloud.deploy.releases.create) INVALID_ARGUMEN

[2022-08-11 10:45] oleksiilopasov commented on #12287
Ok, it seems we going to refuse from using the schemas. The schema and topic are always working in pair, but have different lifecycles: the schema is always recreated and topic tries to update the immutable field in-place and fails to do that. Each schema recreation breaks this pair :(
Meanwhile we have realized the second problem - recreating the topic is also not the good idea, cause it's receiv

[2022-08-11 11:02] bahag-klickst opened #12299 "Support serverless neg in google_compute_region_backend_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-11 11:06] bahag-klickst commented on #12299
Okay, just found out, that I missed to check setting balancing_mode to "UTILIZATION".
Using "UTILIZATION" works and setup of ILB with CR based backend is possible.

[2022-08-11 11:11] bahag-klickst commented on #12299
However, not sure if this is the right setting.

[2022-08-11 11:50] SarahFrench commented on #12263
Ah, sorry, I didn't realise that there was a 'runtime problem' if the user provides the details of Google-managed resources. Thank you for checking!

The updates to required to fix this bug in the provider touches a repo that is internal to Google, which I am unable to access, but I've passed on details about this problem to people who _can_ do the fix

[2022-08-11 13:42] MrwanBaghdad commented on #11919
@rileykarson, I'm not sure it'd be a breaking change, as the API is already refusing null values for the `routine_type`, the current schema definition in terraform allows an invalid case per the docs IMO updating the field to required would remove an invalid case to be accessible from the terraform module and enforce the exact definition that the upstream API is enforcing

[2022-08-11 14:40] jaksky opened #12300 "google_project_service disable_on_destroy has no effect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-11 14:43] edwardmedia commented on #12287
@oleksiilopasov sorry about the inconvenience, but I think that is the way by design at Terraform level across all providers. You may think of building `modules` that can put individual resources together to achieve something you described.  Closing this issue then

[2022-08-11 14:43] #12287 closed

[2022-08-11 14:46] edwardmedia commented on #12300
@jaksky could you provide the steps and config that I can repro the issue?

[2022-08-11 15:47] SudharsaneSivamany commented on #12263
Thank you @SarahFrench !!

[2022-08-11 16:34] rileykarson commented on #7696
We've talked with the product team internally about Terraform support for a domain registration resource, and have elected not to move forward with it at this time based on ambiguity about how we'd manage the pricing information in the registration, and concerns on their end about the dangerousness of Terraform. And, uh, a whole laundry list of issues below:

* There are additional difficulties wr

[2022-08-11 17:30] edwardmedia commented on #12178
@dlesco is this still an issue?

[2022-08-11 17:34] edwardmedia commented on #12221
@msampathkumar I am closing this now. I believe the issue is the image is just no longer available.

[2022-08-11 17:34] #12221 closed

[2022-08-11 17:35] edwardmedia commented on #12236
@roy-work is this still an issue?

[2022-08-11 20:02] jaksky commented on #12300
@edwardmedia Was simple 1 resource mentioned above. Just enable container registry and cloud run API outside of the TF. Different TF code or manually. There is hidden dependency between those services on the GCP side. Apply was completely ok, but destroy I wasn't able to find working configuration of switches on latest versions of TF core and providers

[2022-08-11 20:51] edwardmedia commented on #12300
@jaksky 1 resource? how many services were involved? [enable container registry](https://github.com/hashicorp/terraform-provider-google/issues/12300#issuecomment-1212432148) and [pubsub.googleapis.com](https://github.com/hashicorp/terraform-provider-google/issues/12300#issue-1336061426). **hidden dependency**? Not sure If I fully understand. I need steps and config that I can repro. Sorry I did no

[2022-08-11 22:02] jaksky commented on #12300
@edwardmedia I minimised to single resource as described in the issue description. Outside this config file, there were other script that enabled container registry API and Cloud Run API. Then run apply with pubsub resource and then run destroy. I was getting this error. Because container registry depends on PUbSub API. My understanding of disable_on_destroy is that should cause that even when thi

[2022-08-11 23:15] edwardmedia commented on #12300
@jaksky the error you received indicates that likely you set [disable_dependent_services](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project_service#disable_dependent_services) = false or unset. Basically API is not gonna do anything until you set disable_dependent_services = true, no matter what you set for [disable_on_destroy](https://registry.terraform

[2022-08-12 01:03] rileykarson commented on #12300
@edwardmedia: If `disable_on_destroy = false` is set, the service should not be attempted to be destroyed, regardless of the value of `disable_dependent_services`. `disable_dependent_services` affects a parameter on the disable call while `disable_on_destroy` skips the call altogether, taking precedence.

@jaksky: One common issue here is that Terraform skips whatever has been defined in config (w

[2022-08-12 06:10] mr-pascal commented on #12199
@voycey
I think the latest release `4.31.0` was done right before this was merged. So I guess we have to wait for `4.32.0` till this feature is released 😞

This PR was merged on 1st August at 17:07 CEST, while the `4.31.0` release was at 1st August at 16:37 CEST, so really just like 30 minutes 😞

[2022-08-12 07:55] victorbiga commented on #10622
Adding the below, seems fixed the issue:

[code]

[2022-08-12 09:16] ArsenyBelorukov commented on #12286
@edwardmedia thanks for your attention!

python pseudo-code:
[code]

Applying the new config should be done in two steps:
1. Setting common ranges for current_aliasip_ranges and desired_aliasip_ranges. It removes the unneeded 192.168.10.3/32 range
[code]
https://gist.githubusercontent.com/ArsenyBelorukov/2f131fe14872001f7b16321f0774c535/raw/c882ad4d9f731fd209c10bf844a06b25d91db1ec/gcloud_step1

Re

[2022-08-12 13:29] philip-harvey opened #12303 "google_container_cluster should export the cluster tag or node network tag to allow for creation of custom firewall rules"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-12 15:50] hdotking commented on #12279
Hey all it's been 4 days and I can't create bucket's with underscores in the name.

Can I please have an ETA on how long this will to put this in the next release? Otherwise is there a workaround I can utilise in the meanwhile?

[2022-08-12 16:40] wyardley commented on #10622
For us, `request_coalescing = true` still does not fix the issue when modifying `custom_response_headers`.

[code]

The API call has
[code]
 despite `default_ttl` being listed as an optional param, and us not having it set in `cdn_policy`:

Actual code:
[code]

[2022-08-13 20:39] bubu1225 opened #12306 "Why there is no resource type of `google_vertex_ai_featurestore_entity_feature`"
I can see there are resources of [google_vertex_ai_featurestore](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/vertex_ai_featurestore) and [google_vertex_ai_featurestore_entitytype](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/vertex_ai_featurestore_entitytype). But I can't find the resource of `featurestore_entity_feature`, which

[2022-08-14 14:56] edwardmedia commented on #12306
@bubu1225 it is not implemented yet. Go ahead to create an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=enhancement.md) so it will be added into the backlog.

https://cloud.google.com/vertex-ai/docs/reference/rest/v1beta1/projects.locations.featurestores.entityTypes.features

[2022-08-14 14:56] #12306 closed

[2022-08-14 21:39] bubu1225 commented on #12306
Thank you @edwardmedia. Will do.

[2022-08-14 23:45] voycey commented on #12199
I checked the commits and could see the modified code in there but maybe there wasnt the magic module release in time :(

[2022-08-15 02:14] bubu1225 opened #12307 "Add support `google_vertex_ai_featurestore_entity_feature`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-15 05:20] iJebus commented on #10622
`request_coalescing = true` does not make any difference in my case 🤷 .

[2022-08-15 11:32] steenblik opened #12308 "google_logging_project_sink always requires unique_writer_identity argument"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-15 13:06] jaksky commented on #12300
Thanks. State value seems to be an issue. I was adding it in my local copy without running a apply beforehand

[2022-08-15 13:49] GuilhermeFaga commented on #1938
Complementing @vibhoragarwal response:

a. zip the code folder..
[code]

b. upload with a fixed name to deployment bucket
[code]

c. upload it again with a dynamic name (overhead to have redundant copy, but this is just a workaround)
[code]

d. deploy the app
For Cloud Functions use `google_storage_bucket_object.latest_source.output_name` on `source_archive_object` field with `source_archive_bucke

[2022-08-15 14:46] edwardmedia commented on #12169
@pj closing the issue

[2022-08-15 14:46] #12169 closed

[2022-08-15 14:48] edwardmedia commented on #12178
@dlesco closing this assuming it is no longer an issue

[2022-08-15 14:48] #12178 closed

[2022-08-15 14:49] edwardmedia commented on #12273
@uramirez-sada closing this issue now. Please reopen if you still see an issue

[2022-08-15 14:49] #12273 closed

[2022-08-15 14:58] nickozilla commented on #12284
This isn't something the google terraform provider has native support for, I'd recommend defining your validation rules on an input variable instead: https://www.terraform.io/language/values/variables#custom-validation-rules.  Or if you want to go even further than that, there is a terraform provider for jsonschema validation - which also does a good job of creating custom enforced rules: https://

[2022-08-15 15:34] dnbar commented on #11346
I ran into the same issue of not able to send slack alerts when the *slack* notification created via terraform.
Watching 👀

[2022-08-15 16:41] edwardmedia commented on #12308
@steenblik This error code 400 is from API which indicates this is API's behavior. There is not much the provider can do. Setting unique_writer_identity to false works for PubSub's topics.

b/242557342

[2022-08-15 16:50] edwardmedia commented on #12286
@ArsenyBelorukov I see what you mean now.  Currently the SDK does not directly support handling common nodes. Change this to enhancement for triage.

[2022-08-15 17:02] #12102 closed

[2022-08-15 18:24] ScottSuarez commented on #12298
It doesn't look like the api for [uptimeCheckConfigs](https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.uptimeCheckConfigs) supports this. I'm guessing they internally set it up with an [alertPolicies](https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.alertPolicies) resource. If you have an idea you can try to set this up with [google_monitoring_alert_policy](https://re

[2022-08-15 19:15] #12262 closed

[2022-08-15 20:58] msgongora commented on #12178
Hi @edwardmedia,
thank you for the suggestion, I think taint/replace could help in combination with some CI/CD logic.
However, I would like to say that what this issue is suggesting would be a nice to have feature and I think it could be possible simulating a DDL instruction `CREATE OR REPLACE`. Whenever the apply is happening, the provider uses the `tables.get` method to get the view, I think it

[2022-08-15 21:36] #12297 closed

[2022-08-15 23:33] uramirez-sada commented on #12273
We are currently using:
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_shared_vpc_service_project
to attach a service project to a host project.

If we were to execute this same attachment process, via the GCP console, there's a checkbox that automates this IAM Binding we're speaking of.

So is there a way to achieve the same, here, using this resource? (i.e

[2022-08-16 06:52] mr-pascal commented on #12199
@voycey
Seems like `4.32.0` is released, containing the changes we waited for :)

Also you can find the docs now in the Terraform Registry documentation -> https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/pubsub_subscription#example-usage---pubsub-subscription-push-bq

[2022-08-16 07:41] voycey commented on #12199
Great thanks 🙏

[2022-08-16 08:23] sahmadov opened #12315 "Discontiguous multi-Pod CIDR for GKE node pools"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-16 08:58] cagataygurturk commented on #12315
Hi @sahmadov, what you are trying to achieve is possible via `container_node_pool.network_config` attribute: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_node_pool#network_config

[2022-08-16 10:39] matt-pave commented on #11251
Could really use this functionality being added...

[2022-08-16 11:19] sahmadov commented on #12315
Thanks @cagataygurturk after following the link you provided I found it here.
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#network_config

[2022-08-16 11:19] #12315 closed

[2022-08-16 14:38] edwardmedia commented on #12236
@roy-work closing assuming this is no longer an issue

[2022-08-16 15:17] melinath commented on #10655
This was resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/5565

[2022-08-16 15:27] przsab opened #12317 "Add deletion_protection to google_compute_disk"
### Terraform Version

Terraform v0.12.31
+ provider.google v3.90.1

### Affected Resource(s)

google_compute_disk

### Expected Behavior

Terraform should throw error like gcloud.

### Actual Behavior

Terraform recreates the disk, wiping all data when smaller size is provided.

### Steps to Reproduce

Deploy disk:

[code]

Then change code to include size of 1 and apply:
[code]

Plan output show

[2022-08-16 15:40] etalaevsky opened #12318 "google_pubsub_subscription with bigquery_config created with wrong 'Delivery type'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-16 15:56] edwardmedia commented on #12318
@etalaevsky can you share your config and the debug log so I can take a close look?

[2022-08-16 16:05] edwardmedia commented on #12317
@przsab disk recreation is expected. 1) This is mentioned in the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_disk#size). 2) Also did you review the terraform plan before you approve it? In the terraform workflow, there is no pause step available after you approve it. What do you suggest to improve this?

[code]

[2022-08-16 16:06] etalaevsky commented on #12318
@edwardmedia the config is exactly as in official provider documentation. Please refer to the link in the bug.

Moreover, if I change the delivery type manually from 'Pull' to Big Query (Push) via the gcp console and re-run terraform plan, the plan does not show any significant changes apart from IDs changes.

I believe it has to be easy to reproduce.

[2022-08-16 16:21] edwardmedia commented on #12317
@przsab there are use cases where users want to downsize disks. To highlight: 1) here is the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_disk#size) that specifies what will happen if one choose resize on the config.  2) In the terraform workflow, there is a plan that shows the same before one approve it. There is no pause step available in the workf

[2022-08-16 16:30] rjouhann commented on #11458
Any solution or workarounds @rileykarson  ?

[2022-08-16 17:37] #12209 closed

[2022-08-16 17:37] #12208 closed

[2022-08-16 18:03] #12108 closed

[2022-08-16 18:34] corey-hammerton commented on #12084
@edwardmedia I've confirmed that the behaviour of this issue is actually a symptom of https://github.com/hashicorp/terraform/issues/31635

[2022-08-16 19:08] ScottSuarez commented on #12298
It looks like they set a [filter](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/monitoring_alert_policy#filter) on alert policy to track the uptimecheck_config

[code]

[2022-08-16 19:58] DrFaust92 commented on #12269
ill take a look into this

[2022-08-16 21:35] dmead commented on #11365
this is still an issue. I've noticed that on my machine with the latest provider i'm still sending host to the server.

it's not set in terraform and the docs say to not set this for postgres. Should this be sending `host: ""`?

[code]

  and then in terraform

[code]

it should be noted that my google_sql_database_instance is postgres and I'm able to establish types of CLOUD_IAM_SERVICE_ACCOUNT j

[2022-08-16 22:28] pehowell opened #12323 "Add connection_state read-only attribute to the google_apigee_endpoint_attachment resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-16 22:52] melinath commented on #11743
Do folks happen to have any idea what a successful API request should look like for `namespaces.jobs`? It doesn't seem to be documented. https://cloud.google.com/run/docs/create-jobs#command-line

[2022-08-17 00:57] g-awmalik opened #12324 "Unable to update database flags on postgresql"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-17 01:03] g-awmalik commented on #12324
Just one additional piece of information. If you re-apply the second config after failure it going through just fine. Here's the [gist](https://gist.github.com/g-awmalik/9d57d174ea99e952844b84e851a61d38) for that.

[2022-08-17 01:32] richmcw commented on #12318
I believe the issue to be the project delimiter in bigquery_config.table. I was able to manually create one; import into Terraform and examine the state between the two resources.

The [docs](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/pubsub_subscription#example-usage---pubsub-subscription-push-bq) show the following for the BigQuery config block:

[code]

but s

[2022-08-17 03:16] jesse-l commented on #12324
Actually for us it was giving this error, "Error 412: Condition does not match., staleData", for the update after the main and replica nodes had been created.  They did try to run a deploy after getting the 412 error and then they got a different error message, Error 400: This operation is not valid for this instance., invalidOperation.

[2022-08-17 04:17] felipepazsquid opened #12325 "Unable to apply manged_prometheus to google_container_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-17 07:13] przsab commented on #12317
Lifecycle method is entirely static and cannot be automated in a parametrized way (sed is not reliable and we are using HCL so stuck on https://github.com/hashicorp/hcl/issues/294).

Because we are all automated, our goal is to prevent accidental destroy of disk during resize operations. Even if documented, every other tool errors out during this operation (GCP SDK, AWS CLI, AWS Terraform provider

[2022-08-17 09:16] etalaevsky commented on #12318
@richmcw there is a chance you're right about ':'
BTW, I was also looking at the description in the code. It says to use the '.'
`Description: `The name of the table to which to write data, of the form {projectId}.{datasetId}.{tableId}`
https://github.com/hashicorp/terraform-provider-google/blob/v4.32.0/google/resource_pubsub_subscription.go#L106

[2022-08-17 11:01] Chupaka commented on #9930
Recreating the instance group is not acceptable. Do we expect some "update_triggered_by" in near future?

[2022-08-17 11:48] gcaracuel commented on #11990
https://github.com/hashicorp/terraform-provider-google-beta/pull/4527 is merged so can we close this?

[2022-08-17 13:27] edwardmedia commented on #12317
@przsab what do you suggest to help you in this case at the terraform & provider level?

[2022-08-17 13:28] danistrebel opened #12326 "Document the Forwarding Rule Usage for PSC"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-17 13:57] rileykarson commented on #11743
@melinath it may be possible to create a Job using the Console and GET that? Assuming there's not significant skew between the create and read calls.

[2022-08-17 14:13] nokernel commented on #12325
I believe that this is not a bug, this feature is in the google beta provider. Try using google-beta provider instead.

[2022-08-17 15:08] rileykarson commented on #12300
@edwardmedia @slevenick: We may want to consider documenting this behaviour explicitly on the field. It's probably the most common place this happens in the provider.

[2022-08-17 15:23] edwardmedia commented on #12325
@felipepazsquid that is true. The feature is beta. Can you try `google-beta`?

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#managed_prometheus

[2022-08-17 15:53] richmcw commented on #12318
@etalaevsky The linked PR addresses that too.

When I examine the state of the resource created via copy/paste from documentation:
[code]

vs when I examine the state of a manually created resource after importing to Terraform:

[code]

Notice the ':' between project and dataset and not a '.'

[2022-08-17 15:56] slevenick opened #12327 "Document disable_on_destroy vs disable_dependent_services"
Per https://github.com/hashicorp/terraform-provider-google/issues/12300

These interact a bit awkwardly, and may need specific documentation

[2022-08-17 16:22] etalaevsky commented on #12318
@richmcw noticed. Replacing it with ':' does the trick.
I am wondering there is no validation. It should've been fail on apply.
Cause gcloud documentation states ':'
https://cloud.google.com/pubsub/docs/create-subscription#create_a_subscription
[code]
From the other side Python and Java uses "." in example
`"your-project.your-dataset.your-table"`

[2022-08-17 18:04] solumos commented on #11743
@melinath is [this](https://cloud.google.com/run/docs/reference/rest/v1/namespaces.jobs#Job) what you're looking for?

[2022-08-17 18:23] #12318 closed

[2022-08-17 19:03] edwardmedia commented on #12324
@g-awmalik it works fine with me to update the instance by adding `max_connections` block. Looked at the log you shared, I don't understand what caused below change `5 -> 7` and `old: 5, new: 4`. Can you enable TF_LOG=DEBUG and share your debug log?

[code]

[code]

[2022-08-17 19:28] g-awmalik commented on #12324
I'll try to get you those logs but can you share what version of TF and google provider you're using?

[2022-08-17 20:00] edwardmedia commented on #12324
@g-awmalik Terraform version: 1.2.3. Local build provider should be the latest from github

[2022-08-17 20:30] melinath commented on #11743
@solumos not quite - I need an example of what a successful basic create request to that API would look like.

[2022-08-17 20:58] g-awmalik commented on #12324
OK FWIW i'm on TF v1.2.7 and latest provider version. [Here](https://gist.github.com/g-awmalik/f4499d940eafe98dc5ab9211365011e3) are the debug logs.

Just to confirm, you are reproducing this with the same configs I shared, right?

[2022-08-17 21:05] lboutin-acn opened #12330 "Make the `denial_condition` block optional for the `google_iam_deny_policy` resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-17 21:35] edwardmedia commented on #12324
@g-awmalik no I am on the resource level. It behaves normal. I have seen anything wrong.

You are on the module. Can you try by removing the replicate to see if the problem remain?

[code]

[2022-08-17 22:07] g-awmalik commented on #12324
At just the resource `google_sql_database_instance` level, you won't see it. The problem occurs when you have replicas and you create multiple `google_sql_database_instance` resources and set them as replicas on the master using the [`master_instance_name`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_database_instance#master_instance_name) argument. That is w

[2022-08-17 22:21] jcquiles opened #12331 "GCP AutoPilot cluster has no nodes?"
Hello,

I recently built a GCP Autopilot cluster with Terraform. The cluster seems fine but when running `kubectl get nodes` nothing appears. The UI says there are nodes but kubectl is saying other wise. Is there something I can do to get the nodes going? Here is the output. Thank you!

[code]

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03

[2022-08-17 22:29] edwardmedia commented on #12331
@jcquiles can you share your config that created the autopilot, along with the debug log?

[2022-08-17 22:32] jcquiles commented on #12331
This is the configuration file I used to create the cluster along with the variables needed here.

[code]

[2022-08-17 22:36] jcquiles commented on #12331
Here is the `node_pool` looks empty

[code]

[2022-08-17 22:53] PranavSathy commented on #6376
Can confirm that this is the case with manual global load balancing setup on Google Provider as well. Definitely super annoying that we need to manually need to:

1. Update our terraform config to remove a desired deployment region (e.g. `us-central1).
2. Run the following command manually:

[code]

3. `terraform apply` to achieve desired state.

This means anytime we turn down on a region some ad

[2022-08-18 05:39] ss39881 commented on #12285
@c2thorn Did you get a chance to look into it ?

[2022-08-18 07:43] seehausen commented on #11594
I'm facing the same problem, node pool was created, but no node was created, I had to set min_node = 1 manually in the console
[code]

[2022-08-18 12:11] rs1986x opened #12332 "google_pubsub_subscription bigquery_config is creating pull subscriptions instead"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-18 12:21] rs1986x commented on #12332
closing because solved by #12318

[2022-08-18 13:18] przsab commented on #12317
One of these:
1. Throw an error during downsize just like gcloud does.
2. Add **allow_downsize = bool** optional property to google_compute_disk that would error out if size is decreased.
3. Query Stateful MIG configurations to see if the disk is configured as stateful, and if so, throw an error when downsized.

Option 2 will not break backwards compatibility if declared as optional or defaulting

[2022-08-18 14:00] solumos commented on #11743
Somewhat tedious to un-nest, but it looks like it's the same as a [Service](https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/products/cloudrun/api.yaml#L225) but with a [Job](https://cloud.google.com/run/docs/reference/rest/v1/namespaces.jobs#Job) instance as the [request body](https://cloud.google.com/run/docs/reference/rest/v1/namespaces.jobs/create#request-body) (not sure if

[2022-08-18 14:53] edwardmedia commented on #12331
@jcquiles I guess this is expected as the nodes for autopilot are fully managed by GCP. Below is the doc that explains. Can you share docs that support what you expect? Anyway, this is the GKE/autopilot behavior. I think there is little the provider can do based on the terraform execution was successful. Let me know if you think otherwise

https://cloud.google.com/kubernetes-engine/docs/concepts/a

[2022-08-18 16:27] rainshen49 opened #12334 "Provisioning firebase.googleapis.com succeeds only on second try"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-18 16:45] edwardmedia commented on #12334
@rainshen49 below is from api in the error message. Some apis might need to do extra work even after it reports to client the enabling is complete. This looks like the case. To workaround, you may add [sleep](https://registry.terraform.io/providers/hashicorp/time/latest/docs/resources/sleep) logic between the resources. Do this make sense?

[code]

[2022-08-18 16:52] lemoo5sg commented on #9748
Hello,
We have the same need here.
Thanks in advance for your help.

[2022-08-18 17:10] tylerg-dev commented on #12334
This is basically the same issue as:
https://github.com/hashicorp/terraform-provider-google/issues/11020
https://github.com/hashicorp/terraform-provider-google/issues/11023
https://github.com/hashicorp/terraform-provider-google/issues/11465

[2022-08-18 17:23] megan07 commented on #11594
Hi @seehausen, would you mind sharing your cluster config as well, please?

[2022-08-18 17:33] rainshen49 commented on #12334
Yup, added a 10 sec delay fixes the issue.

[code]

I'm pretty sure there is no extra work during the provisioning of `firebase.googleapis.com`. This can work, but is not great. Thanks Edward!

[2022-08-18 17:33] #12334 closed

[2022-08-18 18:09] xuchenma commented on #12219
This issue is fixed with https://github.com/GoogleCloudPlatform/magic-modules/pull/6350

[2022-08-18 18:09] #12219 closed

[2022-08-18 18:58] #12252 closed

[2022-08-18 21:03] slevenick commented on #12317
This is intended Terraform functionality, as a recreate is required to decrease the disk size.

See previous discussion: https://github.com/hashicorp/terraform-provider-google/issues/10168#issuecomment-928214374

allow_downsize could theoretically work, but we want to avoid case-by-case situations like this, so I would lean towards not implementing this.

We can leave this open as an enhancement r

[2022-08-18 21:16] SherriTrojan commented on #12317
The disks in this case are defined as stateful.  Please see the stateful-migs link above. The disks are defined with a stateful policy of 'never'.  Stateful disks are meant to identify disks where the data is stateful and must not be deleted.  Recreating and destroying the data  breaks this configuration.  This is a bug for stateful instances/disk.

[2022-08-18 21:20] SherriTrojan commented on #12317
Please change this back to 'bug'

[2022-08-18 21:22] slevenick commented on #12317
I wouldn't consider this a bug even if the disk in question is stateful. The same situation could happen for a database, or any other resource managed by Terraform.

This could be considered as a feature request, but in general Terraform is acting correctly. It finds a change that requires a recreation of the resource, presents that to the user with the warning that the change will require recreat

[2022-08-18 21:24] SherriTrojan commented on #12317
Then I have defined a critical database as stateful, and you are completely ignoring this and destroying the data.  What have I gained by going through the effort to declare this as stateful?  Terraform is ignoring the policy and incorrectly taking the wrong action.

[2022-08-18 21:45] ac185391 opened #12342 "│ There is no variable named "var". when implementing dynamic blocks for google_compute_region_instance_group_manager"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-18 22:06] slevenick commented on #12317
I would argue that Terraform is correctly detecting that it needs to recreate a disk to satisfy the user's intended change (downsize the disk), asking the user if they accept the plan that it created, and then applying that plan. None of these steps are out of line with what Terraform is expected to do

Terraform in general doesn't have a sense of what resources are or are not stateful, or policie

[2022-08-18 23:53] dpkirchner commented on #6024
@j0hnsmith FWIW this documentation suggests using ".name": https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/pubsub_subscription#example-usage---pubsub-subscription-different-project

[2022-08-19 04:30] wyardley commented on #9588
This is a bummer; I don't know all the background / politics, but hope we can see either a GCP project that supports spec testing of these resources, or a return of using Magic Modules to generate inspec resources.

I realize this may not necessarily be on Google's end, and inspec-gcp itself doesn't seem super actively maintained these days, but it seems inconvenient to manually add support to res

[2022-08-19 08:13] seehausen commented on #11594
added config, is that the config you are looking for?

[2022-08-19 09:46] multani opened #12344 "Unable to configure GCP's "deletion protection" on Cloud SQL databases"
Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are interested in workin

[2022-08-19 12:09] jeremietharaud opened #12345 "Cannot reference a secret using `google_cloudfunctions2_function`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-19 12:18] rosmo commented on #6082
@mjlshen The resource is autogenerated, but you can make the against the [magic-modules](https://github.com/GoogleCloudPlatform/magic-modules) repository.

In this case, adding something like this to `mmv1/products/compute/api.yaml` under `Image` objects `properties` should do the trick:

[code]

[2022-08-19 13:25] danistrebel commented on #11631
The above mentioned issue is fixed in the Google provider >=4.31.0 by [this PR](https://github.com/hashicorp/terraform-provider-google/pull/12176)

[2022-08-19 13:25] SherriTrojan commented on #12317
prevent_destroy is a primitive command that is not parameterized and is not usable in automation.
If Terraform is not able to identify correct state of a disk, then it should not delete the data!  It should error out as gcloud also does.

*** Policy: never: (Default.) Never delete the disk; detach the disk when the VM is deleted.

Please escalate to your leader.  We would like someone else to revi

[2022-08-19 13:25] #11631 closed

[2022-08-19 14:25] edwardmedia commented on #12344
@multani can you share the debug log that has api requests?

[2022-08-19 14:44] Lindblomsebastian opened #12346 "google_clouddeploy_target is created in google but not present in the terraform state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-19 15:13] densnoigaskogen commented on #11594
hi @megan07 , thanks for following up this. My apology for neglecting this thread since I opened it.
Yeah, my cluster config is similar to @seehausen ,  would this initial_node_count =1 the cause?
![image](https://user-images.githubusercontent.com/33136996/185650573-195b9ab3-07ee-4c35-944a-4db215cdff6a.png)

[2022-08-19 15:37] edwardmedia commented on #12346
@Lindblomsebastian the error is clear but I can't tell which resource. With all the variables, I can't repro. Are you able to replace all vars with data so I can repro?

[code]

[2022-08-19 15:59] edwardmedia commented on #12342
@ac185391 I am not sure how I can help here. Do you receive them in the plan? I guess this is a question more about how to code the terraform config than an issue with the provider. To repro an issue with provider, I need all the data (vs. vars). Could you provide?

[2022-08-19 16:13] slevenick commented on #12317
I'll add one last recommendation that auto-approving plans is considered dangerous and not recommended for production workloads: https://learn.hashicorp.com/tutorials/terraform/automate-terraform#auto-approval-of-plans

If you wish to escalate this issue, please do so through official support channels. Unfortunately we are unable to do so via a GitHub issue

[2022-08-19 16:29] #11051 closed

[2022-08-19 16:33] SherriTrojan commented on #12317
Relying on a human to validate a plan is a guarantee you will have it missed at some point and will take a significant outage with loss of data.

Even where this bug was introduced: https://github.com/hashicorp/terraform-provider-google/pull/1460
the requestor did not want it recreated:
......this situation probably doesn't have a good solution as throwing away a persistent disk and creating a new

[2022-08-19 17:40] multani commented on #12344
Hi @edwardmedia :wave:

I created this instance with this flag already set, and I double-checked in the Google Console that the deletion protection was indeed still enabled.

I'm sharing several debug logs here:

* [`tf1.log.gz`](https://github.com/hashicorp/terraform-provider-google/files/9384298/tf1.log.gz) shows the **apply** Terraform log, and is my original issue: it creates a Cloud SQL _clon

[2022-08-19 18:13] Lindblomsebastian commented on #12346
Hi, thanks for looking into it. I've updated the initial post with an updated version

[2022-08-19 18:37] slevenick commented on #12317
We always want to be able to make the user's infrastructure match their desired state when requested, which is why ForceNew was added when the disk size decreases. The only way for us to get to that desired state is to recreate the disk with the correct size. If you add the lifecycle argument to prevent destroy then Terraform understands the intention to not destroy this particular resource, and t

[2022-08-19 18:49] melinath commented on #4962
b/243127709

[2022-08-19 18:51] multani commented on #12344
I'll try to make a fix in magic-modules :+1:

[2022-08-19 20:38] SherriTrojan commented on #12317
Even the original requestor understood how harmful this action could be.  Note: Disk downsize is not possible with Terraform alone, requires OS block level migration so erroring out during an attempt would properly reflect the actual state of things.
 I don't believe those writing the stateful managed instance documentation could foresee someone deleting the persistent stateful disk marked with ne

[2022-08-20 20:53] edwardmedia commented on #12344
@multani below is where the logic is implemented. `Destroy` is blocked when the `deletion_protection` is set to true. Its default is true. Have you checked the state (terraform show) to see if `deletion_protection` is available?

https://github.com/hashicorp/terraform-provider-google/blob/main/google/resource_sql_database_instance.go#L1443

[2022-08-20 22:07] multani commented on #12344
I'm trying to implement a fix for this issue in https://github.com/GoogleCloudPlatform/magic-modules/pull/6434

[2022-08-20 22:09] multani commented on #12344
@edwardmedia The state correctly reflects the value of `deletion_protection` configured, but even if it's set to `false`, in the Terraform configuration and inside the state, the deletion is prevented by GCP itself.

This is apparently a new feature from GCP (from [August 15th](https://cloud.google.com/sql/docs/postgres/release-notes#August_15_2022)).

[2022-08-21 21:30] edwardmedia commented on #12346
@Lindblomsebastian I can't repro the issue. All resources were created successfully, and did not hit `Resource already exists` error.

Here is a similar issue https://github.com/hashicorp/terraform-provider-google/issues/10934

[2022-08-21 22:09] edwardmedia commented on #12344
@multani yes, `deletion_protection` was built in the provider before API has the feature. The provider does not send `deletion_protection` to the api. I have tested your code in both origin and clone instances, and I am able to delete both instances. Have you call `terraform destroy` when `deletion_protection` is set to false? Can you share your debug log of that so I can take a close look?

[2022-08-22 06:42] ahmedloai commented on #6734
Any updates here regarding the support of terraform for GCP CUDs creation and management...!

[2022-08-22 07:35] multani commented on #12344
@edwardmedia I should have logged the destroy commands last Friday ... because the deletions work now and the GCP's own deletion protection doesn't seem to be enabled anymore on new databases :thinking: :thinking: :thinking: :thinking:

I'm 100% sure I had to explicitly disable it from the GCP's Cloud Console in order to remove the databases using Terraform.

Anyway, I'm attaching all the informat

[2022-08-22 09:46] multani commented on #12344
For a cloned instance, where the original instance has the GCP's deletion protection enabled:

[code]

The apply logs and the state at this stage:

* [tf-apply.log.gz](https://github.com/hashicorp/terraform-provider-google/files/9393147/tf-apply.log.gz)
* [terraform.tfstate.before-destroy.gz](https://github.com/hashicorp/terraform-provider-google/files/9393146/terraform.tfstate.before-destroy.gz)

[2022-08-22 11:56] saidi-adam opened #12353 "Unable to deploy `google_compute_instance` when a NAT IP address is associated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-22 13:16] mikouaj commented on #11743
@melinath

The successful gcloud command to create Cloud Run Job:
[code]

results in HTTP POST on `https://europe-west2-run.googleapis.com/apis/run.googleapis.com/v1/namespaces/xyz/jobs?alt=json` with the blow body.

[code]

[2022-08-22 13:22] kyledef commented on #6694
Checking in on this as well. I see that in v 4.32.0, there is both `google_bigquery_reservation` and `google_bigquery_reservation_assignment` but there are no configurations for the project slot configuration which is needed before making a reservation.

[2022-08-22 13:57] edwardmedia commented on #12353
@saidi-adam this is likely a temporary API issue. We have below test code that runs fine. Can you re-try? If the issue remains, could you share the debug log?

https://github.com/hashicorp/terraform-provider-google/blob/main/google/resource_compute_instance_test.go#L3372

[2022-08-22 13:57] christianTNG opened #12355 "Clarification that PubSub topic message retention duration can be up to 31 days"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-22 14:03] christianTNG commented on #10318
Hey Keith!

#10175 added the `message retention duration` argument in the associated PR GoogleCloudPlatform/magic-modules#5347. You can see the details in the [corresponding terraform documentation](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/pubsub_topic#message_retention_duration).

However, note that the description there claims a maximum duration of 7 days. H

[2022-08-22 14:35] ac185391 commented on #12342
sure. So what do you need, I have provided the code above as well as the variables throwing the error, do you need the rest of the variables and tfvars file for this?

[2022-08-22 14:40] edwardmedia commented on #12344
@multani I guess now I understand what is going on. How did you set deletionProtectionEnabled on the original instance? If you do it by `gcloud`, probably you need to disable it on the cloned instance manually first before you can destroy via terraform.

[code]

`deletion_protection` has nothing to do with `deletionProtectionEnabled`. To make deletionProtectionEnabled available in the provider, yo

[2022-08-22 14:47] edwardmedia commented on #12342
@ac185391 to repro, replace all variables with the data so I can run directly.

[2022-08-22 16:01] saidi-adam commented on #12353
Hi @edwardmedia im unable to share the debug logs because they're very long (we have a large project) and also, they contain sensitive values too... is there another way? I've been deploying the VM instances by commenting out the nat ip reference so far...

[2022-08-22 16:12] edwardmedia commented on #12353
@saidi-adam have you had chance to re-run first?

[2022-08-22 17:23] c2thorn commented on #12355
This should be addressed in https://github.com/GoogleCloudPlatform/magic-modules/pull/6430

[2022-08-22 17:23] #12355 closed

[2022-08-22 17:46] c2thorn commented on #12326
@danistrebel Can you explain a bit more about what you are looking for?

[2022-08-22 19:07] slevenick commented on #12283
I don't think we want to support this in this way.

google_project_services was a resource that managed a group of services similar to the proposed `enabled_services` and it was intentionally removed due to issues: https://github.com/hashicorp/terraform-provider-google/issues/4592

Additionally I don't think we want to add this sort of configuration to the provider block as it introduces a lot of

[2022-08-22 19:54] ynwang007 commented on #10509
Current solution only support enabling image streaming on node pool level for a manually managed node pool (not via GKE [Node Auto Provisioning]((https://cloud.google.com/kubernetes-engine/docs/how-to/node-auto-provisioning)). Unfortunately, for NAP, it does't support enabling image streaming at the node pool level yet, so for NAP user, current solution won't work.

GKE allows enabling `image stre

[2022-08-22 20:16] korenlev commented on #7325
will be awsome

[2022-08-22 22:02] ScottSuarez opened #12359 "Automate manual restart process on CI heartrate"
If the CI flatlines we need to manually resuscitate the pipeline.

This is often done by pushing a commit bit that tracks the success of downstreams built.   If there is a pipeline error in CI its a cascade of failures in the subsequent builds. Especially if the tracking bit on some changes gets updated but not all it will preliminarily exit the run.

We can reexamine the architecture and see if t

[2022-08-22 22:10] melinath opened #12360 "Make downstream builders short-circuit with success if downstream commit was already built"
Currently, if a downstream builder detects that the corresponding downstream commit was already built, it will fail with an error. [Example failure](https://pantheon.corp.google.com/cloud-build/builds;region=global/bd0ec1e4-9d37-4bb1-ba8a-42c48135f410?project=graphite-docker-images)

This means that if one downstream fails due to a transient error, it has to be resolved manually instead of by clic

[2022-08-22 22:13] ScottSuarez commented on #12360
related https://github.com/hashicorp/terraform-provider-google/issues/12359

[2022-08-22 22:22] edwardmedia commented on #12324
@jesse-l I see the same error with your code. But the request sent from the provider is Okay. My 2nd apply is successful. No issue on a single resource, as you discovered below. I think the issue is at the API. You may file an issue against SQL API for an explanation?

[code]

[2022-08-22 22:46] edwardmedia commented on #12331
@jcquiles isn't the warning you mentioned above from kubectl? Can you try to follow whatever the link provides to see if the warning can be resolved?

I think all these are beyond the provider. Do you have other questions / issues?

[2022-08-23 04:57] danistrebel commented on #12326
Thanks @c2thorn.

The list of examples here: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_forwarding_rule currently doesn't include an example where the forwarding rule is pointing to a target that is a PSC service attachment.

For that the load balancing scheme needs to be set to `load_balancing_scheme = ""` as shown in the tf snippet above.

Does that he

[2022-08-23 08:33] saidi-adam commented on #12353
@edwardmedia I've been having this issue for about a week now and retried this morning again, getting a HTTP503 response. Are you able to replicate if you deploy a `google_compute_instance ` resource with a `google_compute_address ` instance associated via

[code]

[2022-08-23 09:40] hege-aliz commented on #9809
Hello,
I've just bumped into this issue a year later... Does this mean that with terraform we can only manage global agents at the moment?

[2022-08-23 11:53] gtirloni commented on #12284
I don't know about the validation rules. Is there a document detailing everything? Otherwise, I'd have to go the trial and error route which is what we already are doing with all the failures in CI.

I'd think the provider is a better chokepoint to implement this kind of validation.

[2022-08-23 13:56] edwardmedia commented on #12353
@saidi-adam I can't replicate the problem with your code. I am not super clear what those values would be. Have you verified if the nap_ip is valid?

It is fine with the code https://github.com/hashicorp/terraform-provider-google/blob/main/google/resource_compute_instance_test.go#L3357

[code]

[2022-08-23 14:20] nickozilla opened #12361 "documentation incorrect for google_dataplex_asset labels"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-23 17:20] matalo33 opened #12363 "Permadiff on google_org_policy_policy resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-23 18:38] jbrardport opened #12364 "[Bug]: google_compute_security_policy "Blocks of type "rate_limit_options" are not expected here.""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-23 19:53] jbrardport commented on #12364
I'm closing this.

I see it was release in 4.10.0 and I am on 4.3.0.

In my head I was thinking I was on 4.30.0

[2022-08-23 19:53] #12364 closed

[2022-08-23 20:00] rileykarson opened #12365 "Show new VCR failures separately from preexisting ones in VCR status reports"
After a run of our presubmit "VCR" tests, we display a summary of the tests that failed after punching through to the live APIs. We'd expected the number of failures to be near-zero, but in practice, we tend to accumulate a couple failures a week that we burn through intermittently. We haven't built a process to systematically address these failures, and struggle to find the cycles to do so. These

[2022-08-23 20:06] slevenick opened #12366 "Add magician step to verify that VCR tests pass in REPLAYING mode"
Currently when a new VCR test passes in RECORDING mode we consider it good. In some cases this test can fail in REPLAYING mode due to non-determinism in a couple forms:
* Calls to a random number generator within the code to generate unique IDs or similar
* Dependencies between fine-grained resources like IAM members. These are not applied in a particular order by Terraform, and can cause problems

[2022-08-23 20:27] jcanizalez commented on #9809
Hi @hege-aliz
yeah at the moment you can only manage global agents with terraform

[2022-08-23 20:34] jcanizalez commented on #9809
hi @hege-aliz

It seems this issue was fixed in  [v4.18.0](https://github.com/hashicorp/terraform-provider-google/releases/tag/v4.18.0)

Please check and let us know so we can request to close this issue

[2022-08-23 20:43] joshtree41 commented on #10810
any update?

[2022-08-23 21:59] pysiok1983 opened #12369 "apigee_endpoint_attachment - Error 400: the resource is locked by another operation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-23 22:04] c2thorn commented on #12326
Yes it does, thank you. If you are interested in taking a stab at it yourself, we have documentation available for it: https://github.com/GoogleCloudPlatform/magic-modules/tree/main/mmv1#testing

Otherwise, it'll be a bit before it is picked up by someone directly.

[2022-08-23 22:38] edwardmedia commented on #12369
@pysiok1983 this limitation is at the API. There is little the provider can do. Does this make sense?

[2022-08-24 01:28] szihai opened #12370 "ACM submodule missing two constraint templates"
The ACM sub module installs several constraint templates. Two of them are missing: asmpeerauthnmeshstrictmtls and asmauthzpolicydefaultdeny.
I manually configured ACM from GCP console and the two constraint templates are there.
Both occasions are using the version 1.12.2. Please fix it.

[2022-08-24 01:49] #12370 closed

[2022-08-24 08:38] headincl0ud commented on #11499
+1

[2022-08-24 08:55] hege-aliz commented on #9809
hi @jcanizalez,
I can confirm, it's working with 4.18.0, thank you!

[2022-08-24 09:01] pysiok1983 commented on #12369
Can we add a delay for each iteration within this resource?

[2022-08-24 09:20] BaskiGIT opened #12371 "serviceExternalIpsConfig missing from google_container_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-24 09:57] saidi-adam commented on #12353
Hi @edwardmedia the `nat_ip` resource is valid and i've tested it elsewhere, the `project ` value is just the GCP project, whilst the other `project` being populated by the `network_project_id` is our host project - not really related afaik in this situation.

I've tried to deploy a test instance with a `nat_ip` and it failed again with blank config...

[2022-08-24 10:05] multani commented on #12344
@edwardmedia I will close this issue and create a new enhancement issue then, although the title is likely to be very similar (wouldn't it have been easier just to relabel this issue instead?)

[2022-08-24 10:05] #12344 closed

[2022-08-24 10:11] multani opened #12372 "Configure GCP's own "deletion protection" on Cloud SQL databases #12344"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-24 10:11] multani commented on #12372
This is being implemented in https://github.com/GoogleCloudPlatform/magic-modules/pull/6441

[2022-08-24 14:00] edwardmedia commented on #12369
@pysiok1983 I don't think so. There is no need when one resource is created. When you prepare a module, that might be a good place to do. Does this make sense?

[2022-08-24 14:05] ac185391 commented on #12342
I am only providing the below values, the rest are all default.
project            = "xyz"
region             = "us-central1"
name               = "test"
base_instance_name = "tf_test"
versions = [
  {
    name              = null,
    instance_template = "projects/xyz/global/instanceTemplates/test-instance-template",
    set_target_size   = false,
    fixed             = null,
    percent

[2022-08-24 14:34] pysiok1983 commented on #12369
I have tested a module - same issue.

[code]

[2022-08-24 14:41] edwardmedia commented on #12369
@pysiok1983 sorry, what I meant was that delay logic could be built inside a module which might handle the concurrency in multiple instances.

[2022-08-24 14:46] pysiok1983 commented on #12369
Are you able to provide an example?

[2022-08-24 14:46] Raffaello opened #12373 "[google_secret_manager_secret_iam_binding] Other roles within the IAM policy for the secret are NOT preserved."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-24 14:48] edwardmedia commented on #12353
@saidi-adam did you deploy a test instance using above example I gave above?

[2022-08-24 14:50] trentkgUjet commented on #10810
I'm going to give this feature a try myself.

[2022-08-24 15:16] edwardmedia commented on #12369
@pysiok1983 sorry no. This repo is for the individual resource. If there is no existing module available, you probably need to build it by yourself.

[2022-08-24 15:59] matalo33 commented on #12363
I slept on this and realised I can get the same result with only one rule. This will apply the deny rule UNLESS the tag is present.

[code]

But unless I was doing something very wrong beforehand this still feels like a possible bug in the resource. Having multiple rules is permitted and their ordering should not matter, so far as I understand it

[2022-08-24 16:17] melinath commented on #11597
Resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/6412

[2022-08-24 16:17] #11597 closed

[2022-08-24 16:17] melinath commented on #9556
Resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/6412

[2022-08-24 16:17] #9556 closed

[2022-08-24 17:20] edwardmedia commented on #12373
@Raffaello in your test, are both config share the same role: "roles/secretmanager.secretAccessor"? How about giving one to "roles/secretmanager.admin"? Please let me know what you find.

[2022-08-24 17:30] edwardmedia commented on #12342
@ac185391 Those error messages are not from the provider. I guess you better file a question or bug at the Terraform SDK to see if they can help.

[2022-08-24 18:22] gatsbysghost commented on #11886
I this this should be fairly trivial to fix; I have a PR ready on [magic-modules](https://github.com/GoogleCloudPlatform/magic-modules) and I'll see if I can submit it today.

[2022-08-24 18:43] fribeiro1 commented on #12082
Thanks for the clarification, @edwardmedia! I don't think it should be a required parameter, though, but I will open a new ticket for that change in the future.

[2022-08-24 19:07] ScottSuarez opened #12377 "Developer productivity - create two links for specific error and full test log"
### motivation
improve time to diagnose error for external contributor

### action

It's difficult to parse a test log to figure out and diagnose an error for a contributor. The suggestion proposed is to surface that error separately and in addition to from the full log itself. Perhaps in a file or in a dropdown.

[2022-08-24 19:25] natedogith1 opened #12378 "Add validation for resource names"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-24 19:41] reinaldo-pinto commented on #12023
We still have the error sporadically, let's try to update the provider to the latest version (4.x) to see if it helps us.
Thanks @melinath @edwardmedia.

[2022-08-24 19:41] #12023 closed

[2022-08-24 20:27] Vedaad-Shakib commented on #11255
I have the same problem. Did anyone figure out the solution?

[2022-08-24 20:29] melinath opened #12379 "Allow running specific non-VCR tests within Github interface"
Problem:
Non-VCR tests are necessary if the test case can't be run in VCR.

Currently, running non-VCR tests requires:

1. Having access to Teamcity
2. Finding the right project
3. running a manual test with parameters for PR & tests to run updated

It would be really cool to have the ability to run these from a PR - for example with a magic comment from someone in the review rotation. This would

[2022-08-24 20:33] melinath opened #12380 "Detect when tests added in a PR did not run in VCR"
It would be great if the Magician could include a list of tests added in a PR that did not get run in VCR; non-VCR tests are easy to miss during review, which can cause failures in the nightly builds.

Potentially this could even include a pre-filled link for creating a non-VCR test run for the skipped tests.

[2022-08-25 00:00] ScottSuarez opened #12383 "fix TestAccComputeInstance_networkPerformanceConfig"
### Affected Resource(s)

* google_compute_instance

[code]

It's possible this could be a bug and not a bad configuration.

related: https://github.com/GoogleCloudPlatform/magic-modules/pull/6458

[2022-08-25 04:36] hrchu opened #12384 "Events for Cloud Run for Anthos support"
I am working on provisioning a Knative eventing cluster on GKE.
Is there any way to enable GKE knative events by terraform?
https://cloud.google.com/anthos/run/archive/docs/events/quickstart#initialize-events
I can only find `addons_config.cloudrun_config` on the reference.

[2022-08-25 08:30] jlowe64 commented on #10810
I have done a bit of work on a terraform module using @arunsingh2803 's script posted above. I have ripped some of his features out and added some features of my own. Would anyone be interested in me publishing this and allowing you all to modify it to be a fully featured module?

[2022-08-25 09:34] renescheepers opened #12385 "google_container_cluster: unable to use managed Prometheus with logging & metrics disabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-25 09:42] renescheepers commented on #10805
I'm also running into this bug, makes it currently impossible to use Managed Prometheus with logging & metrics disabled.

[2022-08-25 11:57] Raffaello commented on #12373
yes in my test both share the same role.

It is working as exepcted if using `google_secret_manager_secret_iam_member`

i have reported because either is a bug on the provider or the documentation is misleading:

[google_secret_manager_secret_iam_member](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/secret_manager_secret_iam#google_secret_manager_secret_iam_member)

[2022-08-25 12:00] Raffaello commented on #12373
oh i see:

the role itself that is applied won't be preserved....
Than is no bug, I have just  been misreading the documentation all along! sorry 😄

[2022-08-25 12:53] flovouin opened #12386 "`google_bigquery_table`: `external_data_configuration.connection_id` is detected as having changed when it's not"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-25 14:58] Red-Five commented on #10258
I see same behavior with GKE on GCP

`terraform -v
Terraform v1.2.7
on linux_amd64
+ provider registry.terraform.io/hashicorp/google v4.33.0
+ provider registry.terraform.io/hashicorp/google-beta v4.33.0
+ provider registry.terraform.io/hashicorp/random v3.3.2`

After TF destroying google_gke_hub_feature_membership for ACM, all the ACM GKE Workloads remain running.

[2022-08-25 14:59] danieldeleo commented on #6574
How is the work progressing on supporting field addition/modifications? (excluding rename functionality)

[2022-08-25 16:05] jawnsy opened #12388 "Adding search indexes for BigQuery tables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-25 16:16] edwardmedia commented on #12373
@Raffaello I am glad you have figured this out. Closing this issue then

[2022-08-25 16:16] #12373 closed

[2022-08-25 16:20] edwardmedia commented on #12324
@jesse-l does this make sense? Sorry for the inconvenience but I am afraid there is little we can help at the provider level

[2022-08-25 17:09] SarahFrench commented on #8701
I've been working on a PR to address this, and just adding some notes about how I've explored and reproduced the issue

**1. Problem due to different JSONs in state vs returned from Google APIs**

[code]

<details>
<summary>👉  Configuration I used is here (expand to see)</summary>

[code]
</details>

After a successful apply the resource is created but debug logs warn that there's an unexpected ch

[2022-08-25 17:54] xuchenma commented on #8776
This seems to be a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/8804 and is already live: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/apigee_envgroup_attachment

[2022-08-25 17:57] xuchenma commented on #8587
This is fixed with https://github.com/GoogleCloudPlatform/magic-modules/pull/4553 and is live: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/apigee_environment

[2022-08-25 18:02] xuchenma commented on #10635
This feature is included in https://github.com/hashicorp/terraform-provider-google/issues/11379 and is live now: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/apigee_environment

[2022-08-25 18:59] #8776 closed

[2022-08-25 19:19] renescheepers opened #12391 "google_container_cluster: enabling cost allocation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-25 19:20] renescheepers commented on #12391
Created pull request [here](https://github.com/hashicorp/terraform-provider-google-beta/pull/4631).

[2022-08-25 19:33] usingh83 opened #12392 "Cloudsql Password Validation User Policy support for Mysql"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-25 19:40] usingh83 commented on #12392
I am working on this

[2022-08-25 20:35] AndreasBergmeier6176 opened #12393 "Terraform errors with: no schema available"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-25 20:40] AndreasBergmeier6176 commented on #12393
Our fault - we deployed using an older provider version.

[2022-08-25 20:40] #12393 closed

[2022-08-25 20:51] roy-work opened #12395 "Unable to import resources? (with TFE?)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-25 21:08] melinath opened #12396 "Document how to use `conflicts` in api.yaml"
Alongside the documentation for [exactly one of](https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/README.md#exactly-one-of) it would be great to have docs for `conflicts:`

[2022-08-26 00:16] ace-n opened #12397 "`google_cloud_run_service` has flaky attributes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-26 01:22] mponton-cn opened #12398 "google_compute_instance data source returns mangled "id" field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-26 05:54] gatsbysghost commented on #11886
@strunov I'm curious, because I'm updating the provider tests for my fix now--in order to get the auth token to use as the value of `version_info` or `authorization_code`, wouldn't you need to create a full `google_bigquery_data_transfer_config` resource first, and then use the resulting `data_source_id` parameter to run [the query you mentioned from the API reference](https://cloud.google.com/big

[2022-08-26 06:00] t-indumathy commented on #10565
I have started working on this.

[2022-08-26 08:04] ramonvermeulen opened #12399 "Is it possible to configure cloud run jobs through the google provider and/or is it on the roadmap?"
Hello! I was looking through he cloud run resources in the Google Provider, and couldn't find anything about the new cloud run jobs.
I was wondering if this is something which is on the roadmap to be added to the Google Provider in the near future?

[2022-08-26 08:15] strunov commented on #11886
I got a list of available data source ids from this REST endpoint
https://cloud.google.com/bigquery-transfer/docs/reference/datatransfer/rest/v1/projects.locations.dataSources/list

However each "tutorial" for how to set up a specific datatransfer, usually has a CLI variant, in which the datasource argument matches the data source id requested. For ex:
[code]
https://cloud.google.com/bigquery/docs

[2022-08-26 08:30] pnjha opened #12400 "cloudsql instance deletion failure obsereved"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-26 16:34] melinath opened #12401 "document basic types"
Currently we have documentation for complex types like enum, array, etc. However, we don't have documentation for basic types (string, integer - [looks like there may also be others](https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/api/type.rb)) This might be as simple as just adding string & integer if we don't want to encourage use of the other basic types.

[2022-08-26 16:37] melinath opened #12402 "document `sensitive` field"
We should document the existence of the `sensitive` field in mmv1 - seems to be terraform.yaml specific

[2022-08-26 16:47] melinath commented on #12401
It looks like these are documented already.

[2022-08-26 16:47] #12401 closed

[2022-08-26 16:52] rileykarson commented on #12317
Hey all! I'm going to close this, given that the discussion has sidebarred into a discussion about disk resizes rather than deletion protection, and given that we've already stated a general stance that disk `deletion_protection` is not something we're interested in in https://github.com/hashicorp/terraform-provider-google/issues/10168#issuecomment-928214374.

I want to +1 @slevenick's response th

[2022-08-26 16:52] #12317 closed

[2022-08-26 17:06] edwardmedia commented on #12400
@pnjha looking at the repro steps, can you detail what command did you use? Just delete `google_sql_database_instance` only?

[code]

[2022-08-26 18:11] pnjha commented on #12400
@edwardmedia yes I performed `terraform destroy` on the template provided above. The issue is intermittent in my observation. So reproducing this error won't be straightforward. Since we maintain a large number of instances hence we see this error more often, but not always.
As a workaround for this issue we perform `terraform state rm` of all the resources except the`google_sql_database_instance`

[2022-08-26 18:41] mponton-cn commented on #12398
@edwardmedia Thanks for such a quick PR to fix this! Much appreciated.

[2022-08-26 18:44] trav commented on #12399
See:  #11743

[2022-08-26 18:47] edwardmedia commented on #12395
@roy-work those two [import command](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_node_pool#import) work for me.

Did you notice below error? You might want to fix this problem first.

[code]

[2022-08-26 18:55] edwardmedia commented on #12400
@pnjha yeah maintaining a large of instances could be tricky. That is the area beyond the individual resource. Do you want to checkout [this](https://www.terraform.io/cli/commands/apply#parallelism-n) to see if that helps?

[2022-08-26 18:55] #12398 closed

[2022-08-26 18:58] #8587 closed

[2022-08-26 18:59] #10635 closed

[2022-08-26 19:00] c2thorn commented on #10849
https://github.com/GoogleCloudPlatform/magic-modules/pull/5872 also fixed the documentation

[2022-08-26 19:00] #10849 closed

[2022-08-26 19:00] #10870 closed

[2022-08-26 19:01] #11331 closed

[2022-08-26 19:01] #11445 closed

[2022-08-26 19:01] #12218 closed

[2022-08-26 19:07] SherriTrojan commented on #12317
This bug is being escalated.

From: Riley Karson ***@***.***>
Sent: Friday, August 26, 2022 11:52 AM
To: hashicorp/terraform-provider-google ***@***.***>
Cc: SherriTrojan ***@***.***>; Comment ***@***.***>
Subject: Re: [hashicorp/terraform-provider-google] Add deletion_protection to google_compute_disk (Issue #12317)

Hey all! I'm going to close this, given that the discussion has sidebarred into

[2022-08-26 19:10] logston opened #12406 "Plugin did not respond after cancelled refresh"
### Terraform Version

[code]

### Debug Output

[code]
This retry loops for many minutes.

Trying to stop Terraform leads to this...
[code]

... and an inability to stop the plugin provider.

I've also tried to kill this provider process several times and in many ways and it never responds (by stopping).

[code]

### Expected Behavior

Terraform refreshes my state or stops properly if I cancel th

[2022-08-26 19:23] #11193 closed

[2022-08-26 21:40] edwardmedia commented on #12406
@logston `terraform refresh` is a terraform feature. Not sure if it accept _interruption_ via `ctrl + c`. Where did you see that? Can you share a link?

[2022-08-26 21:41] melinath opened #12408 "document resource-level properties"
It would be great to have docs for resource-level attributes in api.yaml like `create_url`, `self_link`, `iam_policy`, etc. as well as terraform.yaml overrides like id_format and import_format. We currently have a "add a beta resource" guide but it is pretty sparse and specifically focuses on how to make a new GA resource beta instead - but there doesn't seem to be guidance on how to create the GA

[2022-08-26 22:18] kgibson-insight opened #12409 "How to add multiple consumer_accept_lists definitions"
### Terraform Version
[code]

### Affected Resource(s)

* google_compute_service_attachment

### Terraform Configuration Files

[code]

I'm having issue getting terraform to write the same order of list of objects to state, so anytime apply runs, terraform thinks there is a change.

Getting a few warnings

[code]

[code]

Basically what I'm seeing is list of objects defined in `var.consumer_accept

[2022-08-26 23:11] melinath opened #12410 "support ignore_read on nested fields"
Currently apparently ignore_read is not supported on nested fields, which means that fields that need this behavior have to be handled with a custom_flatten function: https://github.com/GoogleCloudPlatform/magic-modules/blob/9498a19e5c3013fb6e0b4f0fbb965d3ed5ff94b8/mmv1/products/compute/terraform.yaml#L392

We should support ignore_read on all fields.

[2022-08-26 23:40] BluetriX commented on #1938
With Terraform 1.2 I used [replace_triggered_by](https://www.terraform.io/language/meta-arguments/lifecycle#replace_triggered_by) as a workaraound

`resource "google_storage_bucket_object" "sourcecode" {
  name   = "sourcecode.zip"
  bucket = google_storage_bucket.bucket.name
  source = "${path.module}/sources/sourcecode.zip"
}

resource "google_cloudfunctions_function" "function" {
  <...>

  lif

[2022-08-27 10:06] pnjha commented on #12400
@edwardmedia thanks for the suggestion, that might help but for now we already have a workaround mentioned above that should be enough to deal with this issue. From looking at the error message is it possible to figure out what might cause it?

[2022-08-27 15:16] lokinegalur commented on #10351
@rogerthatdev worked !! Thanks

[2022-08-28 14:46] edwardmedia commented on #12400
@pnjha not sure what exactly the error message means. When you have a large number of databases, the created sql user account is shared among the instances? Somehow I feel this is a concurrency issue. Glad you have a workaround and close the issue then. Feel free to reopen if you want to continue the conversation

[2022-08-28 14:46] #12400 closed

[2022-08-28 15:00] edwardmedia commented on #12308
@steenblik can you try with the destination like below format?

[code]

[2022-08-28 20:22] gkelly commented on #10946
I have found the same error will occur (`failure waiting for insertion`) if the `password` field is set with `CLOUD_IAM_SERVICE_ACCOUNT` users as well. At least on MySQL instances.

[2022-08-29 02:11] ace-n commented on #12397
@edwardmedia was there any additional info you needed?

[2022-08-29 07:18] sho-abe opened #12411 "Unintended forces replacement in google_vpc_access_connector"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-29 07:26] ramonvermeulen commented on #12399
Cool, thanks. I'll follow that issue and close this one.

[2022-08-29 07:26] #12399 closed

[2022-08-29 12:13] eternityduck opened #12412 "Monitoring_uptime_check_config headers needs a better description than now"
# Background

# What kind of contribution is this issue about?
To make better docs about Monitoring_uptime_check_config.

I suggest you to change the description of headers argument reference, cause it`s says that `The list of headers to send as part of the uptime check request.`, but actually this argument accepts a map of headers(key:value), so it will be good if you change description to make p

[2022-08-29 13:40] edwardmedia commented on #12411
Looks like the defaults are
[code]

[2022-08-29 14:09] justin-watkinson-cherre opened #12413 "Apigee State Rendering with Computed Name Field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-29 14:12] logston commented on #12406
Hi @edwardmedia, thanks for quick the reply. I didn't see that `ctrl +c` would stop the provider anywhere explicitly, this is just my expectation of CLI tools. I know that a single `ctrl + c` will initiate a graceful shut down, and I would expect the providers to respect that request to the best of their ability.

This issue is present for me in other terraform subcommands (eg. apply, destroy).

[2022-08-29 14:58] edwardmedia commented on #12386
@flovouin it appears fine to me when I assign the connection_id with below value. No permdiff is found in the subsequent `plan`.  Can you share your full debug log so I can take a close look?

[code]

[2022-08-29 15:55] edwardmedia commented on #12413
@justin-watkinson-cherre by running below sample, it seems to be fine with the `name` field. Can you share your debug log?

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/apigee_organization#example-usage---apigee-organization-cloud-basic

[2022-08-29 16:43] edwardmedia commented on #12406
@logston as far as I know I don't think terraform has implemented such command. You may file a new feature request at the Terraform core/sdk. Sorry the plugin current does not support it in general. Closing the issue then.

[2022-08-29 16:43] #12406 closed

[2022-08-29 17:18] c2thorn commented on #12285
Hi @ss39881, this repository is not meant for debugging modules, but individual Google provider resources. From the information provided, I cannot tell if there is an issue with a specific resource, or some misconfiguration in the module you are using. If there is an issue with a specific resource, please help us replicate the issue by reducing your configuration down to a single file with the min

[2022-08-29 17:18] #12285 closed

[2022-08-29 17:39] melinath commented on #12410
I think the issue may be that this line just leaves out the `ignore_read` properties: https://github.com/GoogleCloudPlatform/magic-modules/blob/38743f39e7e2b2bc8304abdca6c9677804f3e9ce/mmv1/templates/terraform/flatten_property_method.erb#L73

For nested fields, I'm not sure if this has the desired effect - it might end up overwriting the fields with nil values? Instead, we might want to always set

[2022-08-29 17:43] melinath commented on #12410
hmm, that may not be quite what's going on. [google_compute_backend_service.iap.oauth2_client_secret has `ignore_read` set](https://github.com/GoogleCloudPlatform/magic-modules/blob/9498a19e5c3013fb6e0b4f0fbb965d3ed5ff94b8/mmv1/products/compute/terraform.yaml#L392) but the generated code [doesn't skip the flatten line for the nested property](https://github.com/hashicorp/terraform-provider-google/

[2022-08-29 17:44] rileykarson commented on #12371
@c2thorn to dedupe if possible

[2022-08-29 17:47] rileykarson commented on #12377
Should we make the build log more prominent?

[2022-08-29 17:48] c2thorn commented on #12371
This was just added in https://github.com/GoogleCloudPlatform/magic-modules/pull/6392

[2022-08-29 17:48] #12371 closed

[2022-08-29 17:49] melinath commented on #12410
flatten functions that seem to work around this issue:

[code]

Found by searching in flatten folder for `return d.Get(`

[2022-08-29 17:52] slevenick commented on #12365
This could likely be done by calculating the current failing tests for each PR during the VCR run step, then copying that file to the storage bucket that holds the main cassettes during the merge step. This may have confusing merge problems though

[2022-08-29 17:53] rileykarson commented on #12378
Duplicate of https://github.com/hashicorp/terraform-provider-google/issues/3580

[2022-08-29 17:53] #12378 closed

[2022-08-29 17:55] rileykarson commented on #12380
How big of a problem is this? Are tests getting added w/o VCR often in your experience?

[2022-08-29 17:56] rileykarson commented on #12380
Proposal: if Go can emit the list of tests, calculate a delta between main and PR, crosscheck against the list of tests that ran

[2022-08-29 18:04] shuyama1 commented on #12377
Creating two links for VCR logs should be relatively easy based on the current setup of VCR recording tests. I could find some time to implement it this week if folks think it's more clear.

[2022-08-29 18:13] justin-watkinson-cherre commented on #12413
I've attached the debug output to this comment:

[debug.txt](https://github.com/hashicorp/terraform-provider-google/files/9446943/debug.txt)

"Bug" is probably too strong a word, but it really comes as a mismatch between the expectations of the two projects.  Naturally, when using the standard terraform tooling for creation/import, it works as expected.

When terrajet renders a tfstate file, it is

[2022-08-29 18:37] melinath commented on #12410
Note: `ignore_read` also triggers tests to ignore the field during import state verification; this is also currently broken and should also be fixed as part of this ticket. The workaround is to [manually add the field in `ignore_read_extra` on the example.](https://github.com/GoogleCloudPlatform/magic-modules/blob/38743f39e7e2b2bc8304abdca6c9677804f3e9ce/mmv1/products/certificatemanager/terraform.

[2022-08-29 18:43] rileykarson commented on #12365
Yeah- an approach with commits and merge bases gets around the merge problems, at the cost of needing to run on merges.

[2022-08-29 18:47] melinath commented on #12408
The documentation for how to create a resource should also include instructions to add an update test.

[2022-08-29 18:59] melinath commented on #10810
b/233804820

[2022-08-29 19:24] #12345 closed

[2022-08-29 20:32] edwardmedia commented on #12413
@justin-watkinson-cherre I am not aware of supporting terrajets is one of the goals for this provider. As you discovered, this resource works as expected.  Regarding `id` and `name`, I think generally you are right. But there are exceptions. To understand how this resource work, I also would encourage you to review below api. I still don't know. Does this make sense?
[code]

https://cloud.google.c

[2022-08-29 20:45] justin-watkinson-cherre commented on #12413
I see.  The only reason I noticed is because it looks like their interface supports the `id` field as what is expected for most resources.

I also placed an enhancement request on their project as well to provide a workaround from when a field other than `id` is used somehow in the statefile to bridge this gap.

https://github.com/crossplane/terrajet/issues/299

[2022-08-29 21:09] trentkgUjet commented on #10810
@melinath  Oh excellent! Do you have anything to show yet? I have only gotten as far as familiarizing myself with the work needed. I've setup the environment for `magic-modules` and can build and compile the go code. Happy to yield this to someone with more experience.

[2022-08-29 21:46] melinath commented on #10810
I'll reference this ticket in all PRs so they'll show up in the comment thread as I make them :-) The first one is above my previous comment.

[2022-08-29 22:26] steencaleb opened #12419 "Add support to enable/disable Shadowed rule insights and Overly permissive rule insights"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-29 22:33] melinath opened #12420 "Document what are considered breaking changes"
One of the things I most frequently have to reference is: is X a breaking change. It would be great to have a document that lays out known breakable changes in an easily-searchable way, with a brief description of why it's a breaking change and what alternatives might be available.

For example: changing default value is a breaking change. The only backwards compatible change w/ changing default v

[2022-08-29 22:57] chaseoli opened #12421 "Minor GCP getting-started guide update needed"
# Background

Documentation needs to be updated to debian-10  given EOL error

Update docs here: https://learn.hashicorp.com/tutorials/terraform/google-cloud-platform-change?in=terraform/gcp-get-started#create-a-new-resource

# What kind of contribution is this issue about?

* Documentation update needed to GCP getting-started guide

# Related PR(s), if any:

* (same issue documented here a few ye

[2022-08-30 01:05] sho-abe commented on #12411
@edwardmedia Thank you for your response.
I think there is not a good way to change Terraform provider's default values.
Because the difference is not detected when `max_instances = 2` and `min_instances = 3` as below.

[code]

I guess the API is also changing the `max_throughput` and `min_throughput` values, probably according to the `max_instances` and `min_instances` values.
So I think it's bet

[2022-08-30 02:32] natedogith1 commented on #12378
I didn't notice #3580.  Should I open a separate issue for each resource that doesn't have its name validated? (or just one for each naming convention, for instance all compute engine resource apparently have the same format: https://cloud.google.com/compute/docs/naming-resources#resource-name-format)

[2022-08-30 07:11] loginakhil commented on #11682
@rileykarson Will this be fixed anytime soon?

[2022-08-30 10:00] flovouin commented on #12386
Hi @edwardmedia, thanks for your reply.
I'm not sure I understand. Are you setting the `connection_id` as this hardcoded string directly? In which case, yes, this is indeed the expected format.

My point is that [the documentation](https://cloud.google.com/bigquery/docs/biglake-quickstart#create-table-storage) shows an example of how to reference a connection managed by Terraform:
<img width="664"

[2022-08-30 11:14] lauraseidler opened #12422 "Upgrade to 4.34.0 breaks on `node_pool_auto_config` block with `google-beta` provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-30 13:24] edwardmedia commented on #12413
@justin-watkinson-cherre cool. Closing this then. Feel free to reopen if you want to continue the conversation

[2022-08-30 13:24] #12413 closed

[2022-08-30 13:41] edwardmedia commented on #12422
@lauraseidler can you add a config that can be used to repro the issue?

[2022-08-30 13:46] edwardmedia commented on #12324
@jesse-l closing this now as there is little we can do for this. Feel free to reopen if you want to continue the conversation

[2022-08-30 13:46] #12324 closed

[2022-08-30 13:47] edwardmedia commented on #12325
@felipepazsquid closing this now

[2022-08-30 13:47] #12325 closed

[2022-08-30 13:49] edwardmedia commented on #12331
@jcquiles closing this now. Feel free to reopen if you have more questions about this

[2022-08-30 13:49] #12331 closed

[2022-08-30 13:50] edwardmedia commented on #12342
@ac185391 closing this now. Feel free to reopen if you want to continue the conversation

[2022-08-30 13:50] #12342 closed

[2022-08-30 13:52] edwardmedia commented on #12346
@Lindblomsebastian is this still an issue?

[2022-08-30 14:19] Lindblomsebastian commented on #12346
I deleted the resource using `gcloud` and was able to create it with a second terraform apply run. I haven't have the time to try it again. I'll close this and re-open if this issue pops up again.

[2022-08-30 14:19] #12346 closed

[2022-08-30 14:46] linus opened #12423 "google_bigquery_job: Add support for importing GeoJSON"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-30 15:15] linus commented on #12423
After running a test with both `bq` and terraform, and fetching the jobs with `bq show --job=true`, these are the job configurations.

For `bq`:

[code]

For terraform with `autodetect`:

[code]

It seems as if a `json_extension` attribute which gets forwarded to the job configuration would be enough to mimick the `bq load` feature?

[2022-08-30 15:41] linus commented on #12423
Looking at the [API reference documentation](https://cloud.google.com/bigquery/docs/reference/rest/v2/Job#JobConfigurationLoad) for bigquery JobConfigurationLoad, it seems like the `jsonExtension` attribute is not documented. I'm not sure what the take is on this but since the `bq` tool uses it, it seems safe enough.

[2022-08-30 16:18] slevenick commented on #12363
Filed b/244225718

[2022-08-30 16:32] melinath opened #12424 "Document requirement to have update tests on new resources"
New resources being added via mmv1 autogeneration need to have update tests to make sure that updating the resource works as expected. This is already documented at https://github.com/GoogleCloudPlatform/magic-modules/tree/main/mmv1/third_party/terraform#update-tests but it's not linked from the mmv1 docs.

[2022-08-30 17:23] edwardmedia commented on #12386
@flovouin you are right, I have not found a direct `id` available we can use. This is what I followed in my testing https://github.com/hashicorp/terraform-provider-google/blob/main/google/resource_bigquery_table_test.go#L1968

[2022-08-30 17:25] brokenjacobs commented on #12422
happening to us to. Basically any cluster you provision that uses nodepool autoprovisioning or autopilot, when upgrading the provider, will have this optional dynamic block added in and trigger this. At least that's what it looks like to me.

[2022-08-30 17:25] philip-harvey commented on #12422
The provider needs to be fixed, but as a work around we added this to our GKE module:

variable "node_pool_network_tags" {
  description = "Network tags to use in autopilot or auto provisioned node pools"
  type = list(string)
  default = []
}

  dynamic "node_pool_auto_config" {
    for_each = var.cluster_autoscaling.enabled || var.enable_autopilot ? [""]: []
    content {
      dynamic "network_

[2022-08-30 17:25] brokenjacobs commented on #12422
also as an aside... it would be great if the resource output an attribute with the current cluster network tag....

[2022-08-30 17:32] c2thorn opened #12425 "Documentation for updating `go.mod.erb`"
# Background

https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/third_party/terraform/go.mod.erb

# What kind of contribution is this issue about?

updating the go.mod is not intuitive and needs documentation

# Related PR(s), if any:

* https://github.com/GoogleCloudPlatform/magic-modules/pull/6432

[2022-08-30 17:37] c2thorn opened #12426 "Document advanced workflow of developing in the downstreams (MM->provider->MM)"
For handwritten/complicated changes, developers on our team will often build the feature stub in MMv1, generate, and continue development in the generated downstream to shorten the iteration loop. We should document this more advanced workflow as a best practice/tip.

[2022-08-30 17:55] rileykarson commented on #12378
If there are specific resources where you think the additional validation is valuable, please feel free! A general validation backfill isn't something our team is interested in at the moment, however.

[2022-08-30 19:40] c2thorn opened #12428 "Testing - Add a test step check to verify a resource was NOT destroyed+recreated"
Historically we have relied on manual log review to verify that a resource was updated in place vs simply destroyed/recreated. This leads to gaps where update functions are unintentionally untested, since the test will still pass when the resource is recreated.

We should provide a common test step check function that will verify that the resource was not destroyed during the current step. We shou

[2022-08-30 20:05] jesse-l opened #12429 "Add Snapshot Chain Name Support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-30 20:10] jesse-l commented on #12429
About to submit a PR for this

[2022-08-30 20:37] melinath commented on #12424
closing as duplicate of https://github.com/hashicorp/terraform-provider-google/issues/12428

[2022-08-30 20:38] melinath commented on #12424
reopening - slightly different purpose

[2022-08-30 20:38] melinath commented on #12428
A couple things which should be mentioned in the docs for this:

- Avoiding changes to ForceNew fields
- `lifecyle.prevent_destroy = true`

[2022-08-30 20:56] melinath opened #12431 "Honor `async.error` settings from api.yaml in Terraform providers"
It looks like the operation error options that you can set in api.yaml don't actually get used anywhere - for example: https://github.com/GoogleCloudPlatform/magic-modules/blob/065f680d36c0a653e9d8542257d60663f96c15c5/mmv1/products/datastream/api.yaml#L40

it looks like the actually operation error just gets wrapped in CommonOpError which just always uses `e.Message`: https://github.com/hashicorp/

[2022-08-30 21:00] melinath commented on #12431
The workaround is to turn off `autogen_async`.

[2022-08-30 21:06] cameronhimself opened #12432 "google_privateca_certificate_authority data source should not attempt to fetch the CSR for subordinate CAs that aren't in AWAITING_USER_ACTIVATION state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-30 21:23] linus commented on #12423
I'm barely superficially familiar with Go so take it with a pinch of salt, but I think something like this might do the trick:

[code]

[2022-08-30 21:38] #10083 closed

[2022-08-31 04:28] cameronhimself commented on #12432
Addressed by #12435.

[2022-08-31 07:42] danistrebel commented on #12326
@rileykarson do you think it should be?

In my view the dependency is Forwarding Rule => Service Attachment and a service attachment could also be used by another PSC consumer like a [PSC NEG].(https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_region_network_endpoint_group#example-usage---region-network-endpoint-group-psc).

[2022-08-31 08:07] flovouin commented on #12386
Thanks for confirming the issue @edwardmedia. I guess the easiest solution would be to at least update the documentation, because the current example will result in this issue.
However the most convenient fix would be to either expose the connection ID in its expected format in `google_bigquery_connection`, or have `google_bigquery_table` handle the conversion or support both format.
It seems that

[2022-08-31 08:16] oscarsjlh opened #12436 "Terraform doesn't update in place"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-31 09:22] astellingwerf opened #12437 "CHANGELOG.md lacks 4.34.0 changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-31 12:17] kevinsi4508 commented on #10132
We are working on the fix. Some errors are retryable, but not this one.

[2022-08-31 13:07] ggprod commented on #11316
@muzammil360 it looks like the error you got is different (it is an authorization problem).  I haven't had that problem myself.  Perhaps the service account credentials aren't being correctly picked up by terraform?

[2022-08-31 13:11] ggprod commented on #11316
I recently did some index building with v4.33.0 of the provider and though the problem still occurs (some indexes take too long to complete and cause a timeout error). However it is much better behaviour now as after the timeout if you rerun `terraform apply` it will check for indexes in the CREATING state and not try to rebuild them.. so you can converge to all indexes built correctly just by rer

[2022-08-31 13:58] edwardmedia commented on #12436
@oscarsjlh adding / removing a range in the `source_ranges` seems working fine with my test. Mind share your debug log so I can take a close look?

[2022-08-31 14:34] maxcbc opened #12439 "support for google_tag_manager_* resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-31 15:04] oscarsjlh commented on #12436
Hi sure should I try to remove any of my public ip in the logs or is it fine?

[2022-08-31 15:05] oscarsjlh commented on #12436
Yeah sure should I try to block any public ip there might be there or is it fine?

[2022-08-31 16:59] rileykarson commented on #12437
Sorry about the delay! That bit of the process is manual.

Done in https://github.com/hashicorp/terraform-provider-google/commit/9f8835b328885b04eb09d8d3bab20103376ab49f, https://github.com/hashicorp/terraform-provider-google-beta/commit/7992695d254bf9917c087cacfd6132ef5dd11a7b

[2022-08-31 16:59] #12437 closed

[2022-08-31 17:09] edwardmedia commented on #12409
@kgibson-insight this is a bug, but the fix would be a breaking-change. Label is a `breaking-change` then

[2022-08-31 18:23] melinath opened #12440 "document usage of update_mask and update_mask_fields"
update_mask and update_mask_fields are important for getting PATCH methods working in a number of APIs. We should document how to use them.

[2022-08-31 18:38] nbali opened #12441 "BigQuery table schema update fails/tries to replace the table if a column gets removed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-08-31 18:39] melinath commented on #12440
We should also be clear about when update_mask should _not_ be used, since some resources work best if update_mask is not specified.

[2022-08-31 19:40] #12377 closed

[2022-08-31 19:47] rafaeljesus commented on #9180
Any idea when these features will be available? I can't enable NAP due to this limitation as well

[2022-08-31 19:48] ScottSuarez commented on #12377
Thanks Shuya !! ^-^

[2022-08-31 19:51] edwardmedia commented on #12441
@nbali did you review the limitation on the schema below?

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigquery_table#schema

[2022-08-31 20:05] nbali commented on #12441
@edwardmedia I did, and I get why is it like that, BUT I don't see how is that relevant on the long term though. IMO it's not a limitation that can't be worked around. It's just a limitation that hasn't been handled in a more thorough manner. YET. Both values are JSONs. They can be diffed, merged, etc. This config would require the current and the expected schema to be merged together (if a column

[2022-08-31 20:54] psvaiter commented on #11535
@yudoufu I saw you made a PR recently to fix a permadiff related to this resource. Could you help me with this one?

[2022-08-31 21:27] roy-work commented on #12395
Not only did I see it, it is the core of this issue. I consider it a bug in `terraform`; if it is something I need to correct (I don't believe it is) the diagnostic TF is emitting is too vague to be helpful enough to understand what it is I am doing wrong.

Yes, via the website console / UI. GCP's `gcloud` has proven somewhat opaque and difficult to use. But, and again, my account should have suff

[2022-08-31 21:43] kevinsi4508 opened #12442 "Bigtable: Avoid race between TableCreation and ModifyColumnFamily"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-31 21:51] kevinsi4508 opened #12443 "Bigtable: Increase timeout on ModifyColumnFamily API call when adding column families"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-31 23:39] jonathan-falomir opened #12444 "Speech-to-Text workspaces"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-31 23:46] ScottSuarez commented on #12388
REST api support unclear

## ref
* mb/102797610

[2022-09-01 06:12] brabster commented on #11419
Supporting the [index definition JSON](https://firebase.google.com/docs/reference/firestore/indexes) might be the way to do this?

[2022-09-01 06:18] mbyrne00 commented on #11419
Thanks @brabster - good to have this as a backup. In our case we use firestore through gcp and _not_ firestore. We use `gcloud app deploy` to deploy our app with various `yaml` definitions for app, tasks, etc. We use `terraform` to set up anything that does not fall within standard `gcloud app deploy`. Ideally we'd like to avoid using `firebase` client as a third means but it's a good option to ke

[2022-09-01 06:21] brabster commented on #11419
Same position here @mbyrne00, Firestore in GCP - I'm hoping Terraform can support the index definition JSON directly if it's not able to support index exemptions one-by-one

[2022-09-01 06:22] mbyrne00 commented on #11419
oh right, gotchya. Thanks for insights.

[2022-09-01 09:42] AlfatahB opened #12445 "google_compute_router_interface cannot refer to google_compute_interconnect_attachment as interconnect_attachment creates its own router_interface"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-01 10:56] AndreasBergmeier6176 opened #12446 "principalSet not working in google_service_account_iam_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-01 11:19] meropis commented on #5833
Can anyone else simply not find the mythical "Authentication section on the Configuration panel" in the google cloud console? This is completely confusing.

[2022-09-01 11:40] omgMath opened #12447 "State seems not to be updated properly when arguments are removed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-01 12:54] bogaertg commented on #9151
👍

[2022-09-01 13:13] GuilhermeFaga commented on #5833
@meropis are you referring to this section during Clound Function creation?

![image](https://user-images.githubusercontent.com/32572430/187922343-a0133e58-74d4-4098-a429-a1bebbd7d779.png)

[2022-09-01 14:50] deundral commented on #11884
Hi Riley, I hope you are well! Any update on this?

[2022-09-01 15:53] c2thorn commented on #11535
I'll take a look at this

[2022-09-01 16:22] cameronhimself commented on #12432
Aaaand addressed upstream by https://github.com/GoogleCloudPlatform/magic-modules/pull/6496

[2022-09-01 16:42] KernelPanicAUS opened #12449 "Add support for Dataplex spefic labels for GCS buckets"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-01 16:48] IchordeDionysos commented on #10622
Is there any new on this bug? It's really blocking ...

[2022-09-01 16:49] IchordeDionysos commented on #10622
The same issue also appears when using a `compute_backend_service` ...

[2022-09-01 17:03] #11624 closed

[2022-09-01 17:17] #11712 closed

[2022-09-01 17:17] #11925 closed

[2022-09-01 17:53] c2thorn commented on #11535
not sure what is going on with the `deletion_time` field, as that is an output only field, and was unable to replicate.
Have a PR that should resolve the `role_arn` diff. Due to timing, it will likely be a couple of releases (maybe 4.36?) out.

In the meantime, you should be able to stop the diffs with [lifecycle ignore_changes argument](https://www.terraform.io/language/meta-arguments/lifecycle#i

[2022-09-01 18:51] psvaiter commented on #11535
@c2thorn I think that changing the `role_arn` to computed will not solve the permadiff on `aws_access_key` which is what I'm using. After this change https://github.com/hashicorp/terraform-provider-google/pull/10950 the keys are not being persisted in state.

Here's what's happening:
- First it detects changes "made outside"
- Then it tries to apply the key again

[code]

[2022-09-01 19:49] c2thorn commented on #11535
@psvaiter I see. I believe the API does not return values for `aws_access_key` (likely because they are sensitive), and the provider should be updated to ignore that fact.

I am not able to reproduce the `role_arn` or `deletion_time` diffs, can you verify if adding
[code]
to the resource prevents all 3 diffs? If not does the version in https://github.com/hashicorp/terraform-provider-google/issues/

[2022-09-01 23:43] googlerjk commented on #12299
I reviewed the latest Magic Modules resource "google_cloud_run_service" in the regional neg and see not all required fields are supported and/or tested.

The cloud_run_service.traffic property is not supported in the terraform.yaml. Also, the full configuration expressed here is not represented or tested in its entirety. Once the missing fields and handwritten tests are added, the support for serv

[2022-09-02 04:19] alankan-finocomp opened #12455 "Should flag dependents of `google_compute_instance_template` "Forces replacement" transitively"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-02 05:43] ackris opened #12456 "GKE Nodepool shows 0 (zero) number of nodes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-02 06:41] davidedironza opened #12457 "docker_repository and kms_key_name for Cloud Functions doesn't update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-02 08:16] ackris commented on #12456
Closing the bug issue as the solution mentioned in [this](https://github.com/hashicorp/terraform-provider-google/issues/6901#issuecomment-667369691) comment helped to resolve this issue.

[2022-09-02 08:16] #12456 closed

[2022-09-02 09:50] kubitz opened #12458 "unwanted recreation of filestore instance when using PRIVATE_SERVICE_ACCESS and reserved_ip_range"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-02 10:15] linus opened #12459 "Documentation: `source_uri` property of the `load` block of `google_bigquery_job` has incorrect formatting"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-02 10:19] AarshDhokai commented on #10655
My Findings are as per given below :
[code]

(this is the reference of tfstate file)
So as we can see that in alert_strategy block, all the attributes that provided in api is supported by the GA provider. But in comment (https://github.com/hashicorp/terraform-provider-google/issues/10655#issuecomment-1017691706) The required attribute is not supported in GA and Beta as well so @melinath you can cl

[2022-09-02 12:01] IuryAlves opened #12460 "Add suport for Continuous validation in the google_binary_authorization_policy resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-02 13:53] ggprod commented on #11316
@muzammil360 ah, I see, good find!  It is strange that the `roles/datastore.indexAdmin` doesn't have that `datastore.operations.get` permission, but I'm glad you figured it out and were able to resolve your issue.

One reference that you may find useful (if you aren't already aware of it) is this: https://cloud.google.com/iam/docs/permissions-reference which you can use to find which roles have an

[2022-09-02 14:05] sebxgd commented on #9956
I have same issue

[2022-09-02 14:50] edwardmedia commented on #12458
@kubitz can you share the debug log of both exectuions?

[2022-09-02 15:54] psvaiter commented on #12386
Same issue here. I like the idea of "`google_bigquery_table` handle the conversion" as everything else is already in place.

[2022-09-02 16:04] psvaiter commented on #11730
BigLake table is a Cloud Resource, so you are able to create a connection with an empty `cloud_resource` block and use that in your `google_bigquery_table` resource.

(confirmed with v4.33.0)

[2022-09-02 16:13] melinath commented on #10655
Here's the link to the provider docs for these fields: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/monitoring_alert_policy#nested_alert_strategy

If there are any issues with the field, please open a [bug ticket](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=bug&template=00_bug.md) describing the behavior you're seeing (or no

[2022-09-02 16:13] #10655 closed

[2022-09-02 16:15] edwardmedia commented on #12455
@alankan-finocomp can you try adding `depends_on` to see if that helps?

[2022-09-02 16:23] rileykarson commented on #11730
Closing, seems the service has documentation confirming that's the case. With a Terraform config, too!

https://cloud.google.com/bigquery/docs/biglake-quickstart#terraform

[2022-09-02 16:23] #11730 closed

[2022-09-02 16:35] rileykarson commented on #12455
Variant of https://github.com/hashicorp/terraform-plugin-sdk/issues/122, see HashiCorp's solution: https://www.terraform.io/language/meta-arguments/lifecycle#replace_triggered_by

[2022-09-02 16:35] #12455 closed

[2022-09-02 17:23] edwardmedia commented on #12446
@AndreasBergmeier6176 below error is from api and it seems to be clear. There is not much the provider can do. Where did you see this member is valid?

[code]

[2022-09-02 17:41] psvaiter commented on #11535
@c2thorn Just adding the `transfer_spec.0.aws_s3_data_source.0.aws_access_key` prevent all 3 diffs.

I'll keep this block for now in order make the output clean, however we may need to update credentials in the future and a fix will be good.

I believe it's not an API problem as the version 4.8.0 works as expected.

[2022-09-02 18:02] edwardmedia commented on #12445
@AlfatahB do you know what they are `tf-router-interface` and `auto-ia-if-tf-ica-333d2bd0ed8b25c`? Can you share your debug log?

[2022-09-02 18:08] edwardmedia commented on #12441
@nbali are you able to create a config with resources (not module) that can be reproed the issue?

[2022-09-02 18:21] ramiresdallago commented on #9956
Hi, same issue here!

[2022-09-02 18:30] edwardmedia commented on #12422
@brokenjacobs @lauraseidler @philip-harvey can you provide a config that can be used to repro the issue?

[2022-09-02 18:35] #11813 closed

[2022-09-02 18:41] flpablo opened #12464 "PubSub Lite Topic Location"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-02 18:44] edwardmedia commented on #12395
@roy-work all what I did was to test the provider's `import` functionality. This is what the repro focuses. Without knowing further, I can't comment what happened to your issue. The issue could well be in other tools. If you can repro the issue at the resource level, please provide the config and steps so I can repro the issue. Does this make sense?

[2022-09-02 18:56] sandeepdivekar commented on #11682
This is expected to be in GA on 9/12.

[2022-09-02 19:07] philip-harvey commented on #12422
@edwardmedia as far as I can tell any GKE cluster config that doesn't explicitly set node_pool_auto_config would break since the provider trys to delete node_pool_auto_config (set to null?) and this causes the provider to fail.   If you set node_pool_auto_config to {}, as in my example above, then the provider doesn't fail.

In the example code I provided above we are setting

Below is an example

[2022-09-02 19:15] naterkane commented on #12221
The default example repo hasn't been updated to reflect debian 10 or 11, so though they're available, there isn't any instruction for making this update in this article here https://cloud.google.com/architecture/managing-infrastructure-as-code

[2022-09-02 19:16] psvaiter opened #12465 "Diff in schema in google_bigquery_table when using a connection_id and hive_partitioning_options"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-02 20:07] jcanizalez opened #12466 "Add support for Dialogflow Conversation Profile"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-02 20:44] #12443 closed

[2022-09-02 21:53] edwardmedia commented on #12465
@psvaiter can you provide the values for the variables (locals) so I can repro?

[2022-09-02 21:54] edwardmedia commented on #12465
https://github.com/hashicorp/terraform-provider-google/issues/12386

[2022-09-02 22:08] edwardmedia commented on #12464
@flpablo it is fine with me with either zone or region provided. Can you try one like below?

[code]

[2022-09-02 22:56] flpablo commented on #12464
@edwardmedia I tried as mentioned but still I got the error of not determine the zone:

``% terraform apply
google_pubsub_lite_reservation.example-reservation: Refreshing state...
Terraform used the selected providers to generate the following execution plan. Resource actions are indicated with the following symbols:
  + create

Terraform will perform the following actions:

  # google_pubsub_lite

[2022-09-03 07:44] oscarsjlh commented on #12436
@edwardmedia Yes terraform runs without any errors, and It keeps the last value added in "Source ranges", but if I plan and apply again it wants to put the old ones back, and removes the new one, and if I plan again it wants the new one and removes the old ones. And it's stuck on that loop

I've tried forgetting all the resources, and importing them again, deleting the module containing the resour

[2022-09-03 21:49] edwardmedia commented on #12464
@flpablo can you enable debug for your log with below environment variable?

[code]

[2022-09-03 22:07] edwardmedia commented on #12436
@oscarsjlh I see what you meant now. This bug has been fixed in [v4.1.0](https://github.com/hashicorp/terraform-provider-google/releases/tag/v4.1.0). Can you try the latest provider to see if it works as expected?

[2022-09-03 22:09] edwardmedia commented on #12308
@steenblik is this still an issue?

[2022-09-03 22:11] edwardmedia commented on #12353
@saidi-adam is this still an issue?

[2022-09-04 07:55] steenblik commented on #12308
Hi @edwardmedia - I am not able to get this to work for Cloud Logging buckets, which is what I am interested in. I believe this is an upstream issue or simply a misunderstanding on my part about when a new writer id is required.

[2022-09-04 14:28] edwardmedia commented on #12386
@melinath what do you think about this issue?

[2022-09-04 16:26] AndreasBergmeier6176 commented on #12446
We saw the member working with `google_service_account_iam_member`. How come it works for `_member` but not for `_policy`?

[2022-09-04 17:24] jawnsy opened #12469 "Changing subnet to Regional Managed Proxy forces replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-04 21:11] flpablo commented on #12464
@edwardmedia Sure. These are the logs:

2022-09-04T15:26:05.328-0500 [DEBUG] Building and walking apply graph for NormalMode plan
2022-09-04T15:26:05.329-0500 [DEBUG] Resource state not found for node "google_pubsub_lite_topic.example-topic", instance google_pubsub_lite_topic.example-topic
2022-09-04T15:26:05.329-0500 [DEBUG] ProviderTransformer: "google_pubsub_lite_topic.example-topic (expand)" (

[2022-09-04 23:05] Bharathkumarraju commented on #6521
any update on this @brownoxford

[2022-09-04 23:10] Bharathkumarraju commented on #8293
@mleonhard when can this be available in tf code?

[2022-09-05 01:38] mleonhard commented on #8293
@Bharathkumarraju On 2019-01-31, someone filed https://github.com/hashicorp/terraform-provider-google/issues/2973 "Add Support for Firebase".  Google Firebase team ignored it for a year.  Then a Google engineer added support for creating a Firebase project.  A project without resources is useless.  They didn't add the resources.  They did the bare minimum to close the ticket.  They asked me to fil

[2022-09-05 05:29] AlfatahB commented on #12445
@edwardmedia Here I am sharing my debug logs.
[debug_logs.log](https://github.com/hashicorp/terraform-provider-google/files/9486908/debug_logs.log)

[2022-09-05 06:47] Bharathkumarraju commented on #8293
@mleonhard  thanks a lot for the clarifications for now it should be manual for us then :)

[2022-09-05 07:58] canatella commented on #8293
Here is the code for a module I created to do that using the firebase CLI. It's far from perfect, sometimes I need to apply multiple times, but it does the job: https://gist.github.com/canatella/121eab76622679b477bfdb0e19fd99b2

This is how I use it:
[code]

[2022-09-05 10:57] oscarsjlh commented on #12436
@edwardmedia That did the trick, I feel kind of dumb to not think of that. Thanks very much

[2022-09-05 10:57] #12436 closed

[2022-09-05 11:34] fiadliel commented on #12446
I think you need `google_iam_workload_identity_pool.default.id ` instead of `google_iam_workload_identity_pool.default.workload_identity_pool_id`.

Looking at https://cloud.google.com/iam/docs/workload-identity-federation#impersonation the format is documented as
`principalSet://iam.googleapis.com/projects/PROJECT_NUMBER/locations/global/workloadIdentityPools/POOL_ID/attribute.ATTRIBUTE_NAME/ATTRI

[2022-09-05 12:31] ahmedloai opened #12470 "google_monitoring_notification_channel == project parameter is missing in documentation and it is required"
During my trial to deploy google_monitoring_notification_channel by Terraform and based on the provided docs i Found that
Examples are

resource "google_monitoring_notification_channel" "basic" {
  display_name = "Test Notification Channel"
  type         = "email"
  labels = {
    email_address = "fake_email@blahblah.com"
  }
}

resource "google_monitoring_notification_channel" "default" {
  disp

[2022-09-05 12:57] anudeet-m opened #12471 "Latest Google beta provider v4.34.0 for gke_container_cluster looking for value of new added attribute node_pool_auto_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-05 13:54] edwardmedia commented on #12457
@davidedironza can you share your config and steps so I can repro the issue?

[2022-09-05 13:54] AndreasBergmeier6176 commented on #12446
@fiadliel Thanks a lot. It indeed was the problem. Seems like the error message of the API is a bit misleading.

[2022-09-05 13:55] adambozson commented on #11865
Experiencing this on 4.34.0, Terraform v1.2.6

[2022-09-05 16:04] jakubsacha commented on #11935
Hey,

I've been looking at this today a bit, and you're right. *Monitoring service* needs to be created so it's resource not a data source.

Regarding the name, shouldn't it be `google_monitoring_cloud_run_service` instead of `google_monitoring_cluster_cloud_run_service`? Maybe even `google_monitoring_service` that supports all possible cases. That would reflect google API a bit better. [Google do

[2022-09-05 16:58] psvaiter commented on #12465
Sure. I've built a complete working (simplified) example from scratch so you can reproduce. Run once to apply, and run again to see the diff problem. I didn't include the backend and provider configurations.

[code]

[2022-09-05 18:31] edwardmedia commented on #12464
@flpablo I see what is going on. Do you have below environment variables available? Please set them if you don't have

https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#zone

[2022-09-05 20:35] nbali commented on #12441
@edwardmedia I have updated the issue with original + modified config, and the received output.

[2022-09-05 21:09] Aryaman6492 commented on #5833
Does anyone know how to do the same for Gen2 functions? Am unable to find similar solution for gen2 functions!

[2022-09-05 22:05] Aryaman6492 commented on #5833
Can you please specify where? :D I really dont see any exact example of allowing unauth invocation within terraform gen2 docs which allows allUsers, the example given simply allows a service account which has to pass an authentication anyway.

But anyway Got it i looked up your [earlier reply](https://github.com/hashicorp/terraform-provider-google/issues/5833#issuecomment-1206649366) and found som

[2022-09-05 22:06] Ripeey commented on #5833
Can you please specify where? :D I really dont see any exact example of allowing unauth invocation within terraform gen2 docs which allows allUsers, the example given simply allows a service account which has to pass an authentication anyway.

But anyway Got it i looked up your [earlier reply](https://github.com/hashicorp/terraform-provider-google/issues/5833#issuecomment-1206649366) and found som

[2022-09-05 22:28] alexbacchin-asx commented on #11448
@kpocius the [gcloud tag binding create](https://cloud.google.com/sdk/gcloud/reference/resource-manager/tags/bindings/create) documentation states location is only required for non global resources.  Based on
@lazcamus, the location just point the regional api endpoint and it is not part of the paylod

[2022-09-06 03:24] blessedwithsins opened #12472 "Nodepool not getting created"
I am trying to create a GKE Cluster using Terraform. However, it's unable to create managed Nodepool and fails with the error below.

google_container_node_pool.primary_nodes: Creating...
╷
│ Error: error creating NodePool: googleapi: Error 404: Not found: projects/piyushgaur-exams/locations/us-central1/clusters/piyushgaur-exams-gke., notFound
│
│   with google_container_node_pool.primary_nodes,
│

[2022-09-06 03:28] blessedwithsins commented on #12472
I have tried using timeouts and depends_on as well, but resulting in same error.

[2022-09-06 03:35] flpablo commented on #12464
@edwardmedia Yes, I've tried setting the environment variables, but the problem is that it creates (by default) the topic to be "Zonal lite topic". I can't figure out how to "overcome" this behavior and create a "Regional lite topic". In the example code you provided a few days ago, did it created a "Regional" topic?

<img width="473" alt="Screen Shot 2022-09-05 at 22 27 36" src="https://user-imag

[2022-09-06 05:25] blessedwithsins commented on #12472
It does create the Nodepool and then deletes it, but doesn't create the managed Nodepool.

![image](https://user-images.githubusercontent.com/26162427/188553485-7785bab4-bc65-4df4-8982-631db23ca09b.png)

![image](https://user-images.githubusercontent.com/26162427/188553509-034206ca-554e-4253-ab72-58971cffdb05.png)

[2022-09-06 06:43] Bharathkumarraju commented on #8293
@canatella thank you let me test it as well.

[2022-09-06 09:36] davidedironza commented on #12457
@edwardmedia find here some terraform code. I couldn't provide our original code because we have a special setup in our org. maybe you have to change or add some missing stuff (iam-bindings?!) so it fits for you.
`
locals {
  cf_name = "cf-test-cmek"
  location = "europe-west6"
}

//KMS
resource "google_kms_key_ring" "my_key_ring" {
  project  = var.project_id
  name     = "keyring-${var.project_i

[2022-09-06 10:20] guidodl commented on #12364
Hi,
I am facing the same problem but in my case i am using google provider with version 4.34.0 (beta too).

Error: Unsupported block type

 on main.tf line 123, in resource "google_compute_security_policy" "policy":
123:         rate_limit_options {

Blocks of type "rate_limit_options" are not expected here.

Thank you for your help,
Guido

[2022-09-06 16:09] brownoxford commented on #6521
My apologies - this was pushed aside by other priorities and I have not been able to work on it.

[2022-09-06 16:26] edwardmedia commented on #12471
@melinath what happened?

[2022-09-06 17:16] ScottSuarez commented on #12388
Search indexes can only be created through [DDL](https://cloud.google.com/bigquery/docs/search-index). REST operations are not currently supported, thus terraform support is impossible until this is added.

[2022-09-06 17:45] #12090 closed

[2022-09-06 17:47] rileykarson commented on #12424
Note: This is stated at https://github.com/hashicorp/terraform-provider-google/wiki/Developer-Best-Practices#acceptance-tests, I think

[2022-09-06 17:51] rileykarson commented on #12409
@ScottSuarez to investigate in more depth an approach we could take

[2022-09-06 17:52] rileykarson commented on #12442
@rileykarson to investigate for triage

[2022-09-06 17:53] rileykarson commented on #12449
Note: As a workaround, you can use `lifecycle.ignore_changes`. This will mean Terraform sets labels on creation, but then ignores diffs following that.

[2022-09-06 17:56] kevinsi4508 commented on #12442
Internal bug: b/244186196

[2022-09-06 18:10] rileykarson commented on #12431
Based on the number of wrong / untrusted async blogs in MM and the infrequency of operations deviating significantly, we'd rather handwrite exceptional cases for now.

Terraform's templates only use a limited number of fields from the operations.

[2022-09-06 18:43] #11323 closed

[2022-09-06 18:56] ScottSuarez opened #12478 "Detail provider project requirements more explicitly in external docs"
#### motivation
We regularly have users [reach out to us](https://github.com/hashicorp/terraform-provider-google/issues/12470), confused as to why they get plan time errors provisioning resources where they don't provide the project on the resource itself. Since they also don't define a provider level project as an environment variable or project value in the provider block, we have no source for

[2022-09-06 19:51] rileykarson opened #12479 "Switch `google_bigquery_reservation` endpoint to `v1`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-06 22:03] edwardmedia commented on #12472
@blessedwithsins it works fine with me using your code. You can run below code to see if that works for you

[code]

[2022-09-06 22:21] edwardmedia commented on #12470
@ahmedloai the google provider allows users to provide `project` and other common parameters like `region` and `zone` with multiple ways. If you have already configured in the provider block or [environment variables](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#project), they become optional in the individual resource. Because most gcp resources a

[2022-09-06 23:11] edwardmedia commented on #12469
@jawnsy this is the intended behavior. Below is where the provider code is. Do you see anywhere you can update the field without recreating the resource?

https://github.com/hashicorp/terraform-provider-google/blob/main/google/resource_compute_subnetwork.go#L199

[2022-09-06 23:41] edwardmedia commented on #12465
This looks like an API issue.

b/245412495

[2022-09-07 01:13] blessedwithsins commented on #12472
@edwardmedia Thanks Edward. Let me check internally and get back to you on this. Please allow me some time to provide an update.

[2022-09-07 02:01] jawnsy commented on #12469
@edwardmedia Thanks for the reply! Do you know why `gcloud` seems to allow an in-place update? Are there issues with doing that?

I didn't explain very well in the issue, but if you create a subnet using the legacy purpose field (`INTERNAL_HTTPS_LOAD_BALANCER`) and then update it to `REGIONAL_MANAGED_PROXY` using the Google Cloud SDK (gcloud), it seems able to make the change. If it were to requir

[2022-09-07 06:00] mmn0o7 commented on #10934
Is there a fix or workaround other than manually configuring via cli ?

[2022-09-07 07:09] rajeevkghosh opened #12482 "bigtable_instance ## Able to define 5 cluster blocks and create bigtable instance while Terraform documentation says that Maximum 4 cluster blocks can be defined."
bigtable_instance ## Able to define 5 cluster blocks and create bigtable instance while Terraform documentation says that Maximum 4 cluster blocks can be defined.

Please confirm How many cluster blocks at max can be defined?

Please refer this link below:
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigtable_instance#nested_cluster

### Community Note

* Please v

[2022-09-07 08:19] anderssonpof opened #12483 "service_account_name is set to null on terraform import for bigquery transfer config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-07 10:50] psvaiter commented on #12465
The connection id has updated due to another issue that yourself has referenced above in the comments. #1236

[2022-09-07 10:55] psvaiter commented on #12465
I think that external tables expect schema to be informed inside the `external_data_configuration`. Hive-partitioning works properly this way.

However, when you set a connection id, it doesn't accept a schema in `external_data_configuration` and that's when things mess up.

IMO, it makes sense to inform the schema in the same block the connection id is informed.

[2022-09-07 11:42] jdomeracki opened #12484 "Documentation: "all" protocols option is omitted in the `ip_protocol` argument reference of resource `google_compute_firewall_policy_rule`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-07 12:11] AlfatahB opened #12485 "Router interface API Documentation suggests that some attributes are required,But making API calls without these attributes also works"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-07 12:34] Demacr opened #12486 "`google_dns_record_set` don't update resource from single A record to WRR"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-07 12:52] 1ron commented on #10622
Any updates on this?

[2022-09-07 13:04] AlfatahB opened #12487 "Cannot create google_cloudfunctions2_function without providing the location attribute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-07 14:49] IIBenII commented on #10337
Solved in 4.35.0

[2022-09-07 14:49] #10337 closed

[2022-09-07 15:40] rwblokzijl opened #12488 "Automatically add `exp` claim to `google_service_account_jwt`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-07 15:42] ivanRylach opened #12489 "Can't change `concurrency` setting on `google_cloudfunctions2_function` resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-07 17:29] #11848 closed

[2022-09-07 17:42] #8485 closed

[2022-09-07 17:50] pehowell commented on #12323
Hi, @ScottSuarez, would you be able to review the associated PR? Thanks!

[2022-09-07 17:57] #12447 closed

[2022-09-07 17:59] sophhu opened #12494 "Changing bigquery table schema forces table replacement"
Hello, what I'm using:
  google = {
      source  = "hashicorp/google"
      version = "4.12.0"
    }
    google-beta = {
      source  = "hashicorp/google-beta"
      version = "4.12.0"
    }

    and terraform version 1.2.3

The problem is that I am adding new fields to the schema of an existing bigquery table in terraform and terraform is asking that I replace the entire table but I cannot do t

[2022-09-07 19:12] rileykarson opened #12496 "Add documentation on handling errors in Resource Create funcs"
# Background

In most APIs, our behaviour on Create is pretty simple- if we return an error we null out the resource, and return the error to the user. However, there are cases where the behaviour of APIs is more complicated and resources are left around.

It's very easy to end up with a UX that locks up `terraform apply` without manual intervention on behalf of the user- for example, if we drop t

[2022-09-07 21:16] jcanizalez commented on #12466
I will work in this Feature

[2022-09-07 21:31] #12442 closed

[2022-09-07 21:53] rileykarson commented on #12326
Either one is fine- it's probably just documented the way it is because Forwarding Rule predates Service Attachment

[2022-09-07 21:57] edwardmedia commented on #12494
@sophhu this is by design. [Here](https://github.com/hashicorp/terraform-provider-google/blob/main/google/resource_bigquery_table.go#L452) is the code where this logic is implemented, which is based on its [API](https://cloud.google.com/bigquery/docs/reference/rest/v2/tables/patch)

[code]

[2022-09-07 21:57] #12494 closed

[2022-09-07 22:09] edwardmedia commented on #12487
@AlfatahB the location is required for this resource. Do you set it like other common attributes like project, zone etc. in the provider, or environment variables? Once you provide defaults for them, they thus become optional for most of resources/data source. Does this make sense?

https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#region

[2022-09-07 22:17] edwardmedia commented on #12486
@Demacr you reported this issue happened when you tried to update the resource. Are you able to manually delete the resource and recreate it? The error is from api and it seems the config is blocked by api. Can you share the debug log as well?

[code]

[2022-09-07 22:18] rileykarson commented on #7659
Not sure, sorry! It already states it can't be imported: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigquery_dataset_access#import

[2022-09-07 22:20] edwardmedia commented on #12485
@AlfatahB can you share your debug log that can demo `making API calls without these attributes also works`?

[2022-09-07 23:55] bmenasha opened #12499 "Requires two terraform applications to change the IP address of a forwarding to to a reserved static IP"
* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are interested in working on t

[2022-09-08 00:19] #12323 closed

[2022-09-08 03:04] blessedwithsins commented on #12472
@edwardmedia I was able to create the cluster. However, I have to provide the value of location as "us-central1-a". It didn't work without it.

[2022-09-08 04:31] AlfatahB commented on #12487
@edwardmedia I've provided a region in the provider block. Even after providing region in the provider block, I get the same error i.e. Malformed URL error

[2022-09-08 08:02] Demacr commented on #12486
@edwardmedia thank you for response. Yes, updated it manually by web console. So I think I could did it through recreating. Okay, I'll send debug logs a little bit later.

[2022-09-08 09:02] A-THS5826-temp opened #12501 "create the new VM with snapshot ID"
I wanted to create VM with exiting snapshot IT. where the code in terraform not available. i tried this below
resource "google_compute_instance" "vm_instance" {
  name         = "terraform-instance"
  machine_type = "e2-micro"

  boot_disk {
    initialize_params {
   sk {
    disk = "demo-sanpshot"
    auto_d   image = "debian-cloud/debian-11"
    }
  }
  dielete = true
  }

but no luck

even thi

[2022-09-08 09:14] hazcod opened #12502 "Feature: support for GKE gke security posture"
### Description

We might want to support GKE Security Posture so we can, via terraform, include clusters into the monitoring.

### New or Affected Resource(s)

- google_container_cluster

### References

https://console.cloud.google.com/kubernetes/security/dashboard

[2022-09-08 09:35] hazcod opened #12503 "Unable to set empty sandbox_config block on google_container_node_pool"
### Terraform Version

[code]

### Affected Resource(s)

- google_container_node_pool

### Terraform Configuration Files

[code]

### Expected Behavior

If `sandbox_type` is left empty, the block is ignored. This enables use cases to only enable sandboxing based on a boolean flag.

### Actual Behavior

[code]

[2022-09-08 10:40] villesau commented on #10622
@rileykarson What about adding a check that if the `cache_mode` is `FORCE_CACHE_ALL` or similar that specifically do not accept `max_ttl` the config would fail. And when it is not set and cache mode is appropriate, `max_ttl` is not sent to the api? I think that should not be a breaking change since that functionality simply does not work at the moment and is crucial if you want to use CDN with clo

[2022-09-08 11:13] Raffaello opened #12504 "GCP secret when destroy manually terraform goes on 400 request as secret already destroyed."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-08 11:45] KayvanShah1 commented on #11408
They have also specified that we have to use `google-cloud-beta` as a provider, none of the providers work...

[2022-09-08 12:13] AlfatahB commented on #12485
By making Create call (https://compute.googleapis.com/compute/v1/projects/project-name/regions/us-central1/routers) with the following request body, the router is being created along with interface without providing either linkedResources or ipRange
Request Body for Post Call:
[code]
To confirm this, I have also made Read call (https://compute.googleapis.com/compute/v1/projects/project-name/region

[2022-09-08 13:45] kittydoor opened #12505 "Missing resource: Anthos Config Controller"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-08 14:01] edwardmedia commented on #12483
@melinath would you call this is an api issue? Below is where the service_account is in the response body. `ownerInfo` is not defined anywhere in the resource.

[code]

[2022-09-08 14:40] edwardmedia commented on #12465
@melinath checkout the response from b/245412495. How do you want to resolve this?

[2022-09-08 14:41] #12459 closed

[2022-09-08 15:22] natedogith1 opened #12507 "Add name validation for load balancer resources."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-08 15:23] Raffaello commented on #12504
It is happening generally on a specific resource: `google_secret_manager_secret_version`

basically:
1. create a secret with terraform,
2. then destroy the secret manually
3. update the secret with terraform.

at point 3 terraform is trying to destroy an already destroyed secret and throws.

The 400 status code error i guess is the google API response: the call could be enclosed in a sort of try c

[2022-09-08 15:29] Raffaello commented on #12504
the code is simple as the 2 resources required to create a secret like:
[code]
I let you substitute those variables ...
the throw is on the "my_secret_version"

basically apply this micro module once (or just put it equivalently in a main.tf should reproduce the issue i guess).
with a value let say `"secretdata_1"`

it is all ok.
2. then going on GCP UI destry this novel secret manually.
3. then a

[2022-09-08 15:42] c2thorn opened #12509 "Remove api.yaml entries that are excluded in Terraform in MM"
There are several api.yaml schema definitions that are obsolete due to the removal of Ansible and Inspec in MM. For example, [this Compute resource](https://github.com/GoogleCloudPlatform/magic-modules/blob/main/mmv1/products/compute/terraform.yaml#L2650). We should find what is excluded in Terraform and remove them from MM to avoid confusion.

[2022-09-08 16:34] edwardmedia commented on #12504
@Raffaello why did you want to run `terraform apply` after the secret is manually deleted? If you want to recover the secret, can you check if [terraform taint](https://www.terraform.io/cli/commands/taint) help in your case?

[2022-09-08 16:39] rileykarson commented on #12509
Part of https://github.com/hashicorp/terraform-provider-google/issues/9588

[2022-09-08 17:13] hao-nan-li commented on #7775
b/245746513

[2022-09-08 17:53] edwardmedia commented on #12499
@bmenasha I don't think this can be fixed. When you first create `google_compute_forwarding_rule`, it assigns `ip_address` for you even you do not provide a value. After you uncomment `ip_address` with a reference to `google_compute_address`, initially it can't tell if the value has altered during the plan time. After `google_compute_address` is created, the new value of `ip_address` becomes avail

[2022-09-08 18:12] bmenasha commented on #12499
Yes.  I'm pretty sure it's the introduction of the "DiffSuppressFunc: internalIpDiffSuppress,"  to the ip_address property on the forwarding rule from the referenced commit that caused the problem.

My argument is that we are going from a known value to an unkown value, which should result in resource recreation in the initial plan.

I'm not sure why this was added for PSC, this is arguably a pret

[2022-09-08 19:53] shuyama1 commented on #11903
@songalbert Sorry for the late investigation on this issue. It seems like we recently implemented the functionality of in-place major version upgrade for sql instance. The feature is released in version 4.34.0. Is this something you are looking for?

[2022-09-08 20:27] hazcod commented on #12503
@edwardmedia Ideally some logic around it if the input is `""` the block should be ommitted.

[2022-09-08 20:35] #12432 closed

[2022-09-08 20:52] hazcod opened #12512 "Error setting IAM policy for KMS KeyRing: There were concurrent policy changes."
### Terraform Version

Terraform v1.2.9
on darwin_arm64
+ provider registry.terraform.io/hashicorp/google-beta v4.35.0

### Affected Resource(s)

- google_kms_key_ring

### Command
`terraform apply 		-auto-approve \
		-lock=true \
		-input=false \
		-refresh=false`

### Terraform Configuration Files

[code]

### Debug Output

[code]

[2022-09-08 21:20] edwardmedia commented on #12487
@melinath shouldn't `location` be required for this resource?

[2022-09-08 21:28] edwardmedia commented on #12503
@hazcod unfortunately there is not much we can do at the provider level as the field is clearly defined. What you wanted are some feature at the Terraform Core/SDK. Closing the issue now. Please reopen if you want to continue the discussion

[2022-09-08 21:28] #12503 closed

[2022-09-08 21:36] edwardmedia commented on #12499
@bmenasha I think you are right. This was likely introduced with `DiffSuppressFunc: internalIpDiffSuppress` as the diff is suppressed on purpose in this case. I agreed the case you found is minor comparing other use cases. I don't think we could fix this at this moment. Closing the issue now. Please reopen if you want to continue the conversation.

[2022-09-08 21:36] #12499 closed

[2022-09-09 03:07] MattPumphrey commented on #10962
I am also having this issue, and I have a lifecycle rule in place, I can provide you with logs at the trace level.  Basically I am attempting to use the random_id with the google_compute_instance_template to generate a new template when something changes.

I would also like to note here that I am using a lifecycle meta that is not being honored properly, however that might be due to the fact that

[2022-09-09 03:22] wata727 opened #12513 "Failed to update `target_https_proxy` from `ssl_certificates` to `certificate_map`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-09-09 06:28] ayush-jain1 commented on #12471
@edwardmedia @melinath
can anyone please look into it ?

[2022-09-09 06:51] mpsanj opened #12514 "Labelling Dataflow Jobs"
We want to label Dataflow Jobs in GCP, we are use the latest provider and the label field seems to be deprecated as in the doc.

Is there a way around this ? why is the label field not being supported ?

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/dataflow_flex_template_job#labels

[2022-09-09 10:18] alexanderblnf opened #12515 "Add `no_remove_boot_disk` to `google_notebooks_instance`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-09 12:29] dvanrhenen opened #12516 "Cloud Build Trigger in specific region"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
- If you are interest

[2022-09-09 12:49] intotecho commented on #11724
I have the same issue. App Engine and Compute Engine both create a default service account with Editor Role.
I want to restrict the account to the few specific roles that the app or vm actually needs.
It's not recommended to delete the default service account - even though I can use a custom service account.

[google_project_iam_policy](https://registry.terraform.io/providers/hashicorp/google/late

[2022-09-09 13:17] OscarVanL commented on #1938
This didn't work for me, no resources changed when applying this, and I'm on terraform 1.2.6.

[2022-09-09 13:35] edwardmedia commented on #12514
@mpsanj  It appears api does not support it. The provider is based on API, and can't do much until API supports it. Does this make sense?

https://github.com/hashicorp/terraform-provider-google-beta/blob/main/google-beta/resource_dataflow_flex_template_job.go#L56

[2022-09-09 14:16] daveavi opened #12517 "Add New Resource into TPG, Eventarc Channel"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-09 14:35] Raffaello commented on #12504
it is not about recovering the secret. It is about really a simple situation like:
1. create a secret with terraform
2.  that secret is deleted outside terraform
3. create a new secret with terrafrom ( <- here terraform can't recover and i think it should, hence a bug ticket)

oh well, because it can be deleted manually, and create a new one with terraform.
at the same time i will, say why not?, a

[2022-09-09 17:28] sh-cho opened #12519 "Documentation: Appropriate formatting for callouts"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-09 17:38] melinath commented on #12151
This would likely be a new resource called `google_firestore_field`. It looks like the TTL property is an object that needs to be explicitly set to an empty (but present) value in order to enable TTL on the field - which is a bit odd but which I believe should be doable.

[2022-09-09 17:43] melinath commented on #12151
hmm, actually, the Field resource doesn't seem to have a Create method - it may not be a real resource that we would want to support directly.

`google_firestore_ttl_policy` also doesn't map to a real API resource, as far as I can tell.

Ideally, we would add support for this feature to a resource that can be managed fully with CRUD operations - that's simplest to implement and maintain. Does such

[2022-09-09 17:47] melinath commented on #10120
resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/5489

[2022-09-09 17:47] #10120 closed

[2022-09-09 17:49] bschaatsbergen commented on #12516
I believe this is addressed in: [#6440](https://github.com/GoogleCloudPlatform/magic-modules/pull/6440)

[2022-09-09 17:58] melinath commented on #8324
b/245957600

[2022-09-09 18:03] melinath commented on #11990
resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/6237

[2022-09-09 18:03] #11990 closed

[2022-09-09 18:16] melinath commented on #9828
Here's a link to the API: https://cloud.google.com/secret-manager/docs/reference/rest/v1/projects.secrets.versions

I think that the request is to add support for the `replicationStatus` field, which includes `kmsKeyVersionName` as a nested subfield.

The key name is in `projects/*/locations/*/keyRings/*/cryptoKeys/*/versions/*` format; shortening that in output might be fine, but it would be wort

[2022-09-09 18:17] rileykarson commented on #9437
(just removing a stale assignment on this)

[2022-09-09 18:21] melinath commented on #7991
More details on https://github.com/hashicorp/terraform-provider-google/issues/10570

[2022-09-09 18:22] melinath commented on #10570
closing as duplicate of https://github.com/hashicorp/terraform-provider-google/issues/7991

[2022-09-09 18:22] #10570 closed

[2022-09-09 18:24] melinath commented on #7991
b/245963372

[2022-09-09 18:27] melinath commented on #6082
@mjlshen I'm assigning this to a contributor - let me know if you're already working on a fix & nearly complete.

[2022-09-09 18:29] melinath commented on #6082
ah @c2thorn already beat me to it.

[2022-09-09 18:33] melinath commented on #9654
Resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/6182/files

[2022-09-09 18:33] #9654 closed

[2022-09-09 18:47] melinath commented on #9172
Closing since it doesn't appear that the underlying GCP resource supports this functionality: https://cloud.google.com/functions/docs/reference/rest/v1/projects.locations.functions

[2022-09-09 18:47] #9172 closed

[2022-09-09 18:53] melinath commented on #8139
Just to confirm - does this mean that the current App Engine API will return a service account email immediately, but there's a delay before the service account can be fetched from the API with the data source?

[2022-09-09 18:58] melinath commented on #10122
It doesn't look like we're doing anything special here, just passing the value to the API. It looks like the API docs & TF docs have been updated and no longer say that this is limited to MS SQL. If there is any issue with the root password not being respected by the API, that would be an API issue, not a Terraform one.

[2022-09-09 18:58] #10122 closed

[2022-09-09 18:59] melinath commented on #10523
This seems to now be implemented: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/monitoring_alert_policy#auto_close

[2022-09-09 18:59] #10523 closed

[2022-09-09 19:12] ScottSuarez commented on #11865
Could you share your full configurations ?

I deployed with the example configuration below. All rest requests had the the correct headers.

What I *suspect* is happening is that you are using multiple provider versions but don't have a provider block for each of them. Please ensure if your configuration uses 2 provider versions you have a provider block for both `google` and `google-beta`.
[code]

[2022-09-09 19:20] daveavi opened #12520 "Add resource to TPG, Eventarc Google Channel Config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-09 20:18] melinath commented on #9070
b/245981973

[2022-09-09 20:23] melinath commented on #10990
the top-level field would be `cloud_logging_config` to match the API better. If `kind` is required, we would ideally not require users to set it; I'm not sure what that would look like. Requiring users to set it would probably be better than a complex workaround, though.

[2022-09-09 20:25] melinath commented on #10990
b/245982965

[2022-09-09 20:27] melinath commented on #11419
Possibly related to https://github.com/hashicorp/terraform-provider-google/issues/12151 as well

[2022-09-09 20:30] melinath commented on #11854
b/245984490

[2022-09-09 20:37] melinath commented on #3793
It looks like the aws source_code_hash field is an API field. We might be able to make a local field that's only used for change detection but I'm not sure that's something we'd want to do.

[2022-09-09 20:38] melinath commented on #8465
resolved by https://github.com/GoogleCloudPlatform/magic-modules/pull/6007

[2022-09-09 20:38] #8465 closed

[2022-09-09 20:39] melinath commented on #8465
duplicate of https://github.com/hashicorp/terraform-provider-google/issues/11086

[2022-09-09 20:41] melinath commented on #7900
Sounds like this is already supported by the `metadata` field. Closing.

[2022-09-09 20:41] #7900 closed

[2022-09-09 20:44] melinath commented on #10119
b/245987699

[2022-09-09 21:45] melinath commented on #10223
Seems to still be happening: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/335482?buildTab=tests&expandedTest=-6496095039754300046

[2022-09-09 21:47] melinath opened #12523 "Failing test(s): TestAccTPUNode_tpuNodeBasicExample"
### Affected Resource(s)
* google_tpu_node

Failure rate: 100%

Impacted tests:
- TestAccTPUNode_tpuNodeBasicExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/335482?buildTab=tests&expandedTest=-6496095039754300046

Message:

[code]

Related: https://github.com/hashicorp/terraform-provider-google/issues/10223

Separate f

[2022-09-09 21:49] melinath opened #12524 "Failing test(s): TestAccDataprocMetastoreService_*"
### Affected Resource(s)

* google_dataproc_metastore_service
* google_dataproc_cluster

Failure rate: 100% since Aug 6 2022

Impacted tests:
- TestAccDataprocMetastoreService_dataprocMetastoreServiceCmekTestExample
- TestAccDataprocMetastoreService_updateAndImport
- TestAccDataprocMetastoreService_dataprocMetastoreServiceBasicExample
- TestAccDataprocCluster_withMetastoreConfig

Nightly builds:
-

[2022-09-09 21:52] melinath opened #12525 "Failing test(s): TestAccDataflowJobWithAdditionalExperiments permadiff on google_dataflow_job.labels"
Failure rate: 100% since Aug 2, 2022

Impacted tests:
- TestAccDataflowJobWithAdditionalExperiments

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/335482?buildTab=tests&expandedTest=9018555820170157669

Message:

[code]

[2022-09-09 21:53] melinath commented on #11822
Message has possibly been updated? Now reads:

[code]

https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/335482?buildTab=tests&expandedTest=7345538750413882111

[2022-09-09 21:55] melinath opened #12526 "Failing test(s): TestAccContainerCluster_withMonitoringConfig"
Failure rate: 100% since Aug 24 2022

Impacted tests:
- TestAccContainerCluster_withMonitoringConfig

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/335482?buildTab=tests&expandedTest=-1619661655963524941

Message:

[code]

[2022-09-09 21:58] melinath opened #12527 "Failing test(s): google_app_engine_flexible_app_version.service_account (permadiff)"
Failure rate: 100% since Sept 3 2022

Impacted tests:
- TestAccComputeRegionNetworkEndpointGroup_regionNetworkEndpointGroupAppengineExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/335482?buildTab=tests&expandedTest=5403825055001777426

Message:

[code]

[2022-09-09 22:01] melinath opened #12528 "Failing test(s): TestAccComputeManagedSslCertificate_managedSslCertificateBasicExample"
Failure rate: 100% since July 27 2022

Impacted tests:
- TestAccComputeManagedSslCertificate_managedSslCertificateBasicExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/335482?buildTab=tests&expandedTest=1607815478030699844

Message:

[code]

[2022-09-09 22:04] melinath commented on #9988
The other issues have been resolved; these fields no longer cause permadiff.

[2022-09-09 22:04] #9988 closed

[2022-09-09 22:06] melinath opened #12529 "Failing test(s): TestAccApigeeInstance_apigeeInstanceServiceAttachmentBasicTestExample (permadiff causing recreate)"
Failure rate: 100% since June 11 2022

Impacted tests:
- TestAccApigeeInstance_apigeeInstanceServiceAttachmentBasicTestExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/335482?buildTab=tests&expandedTest=13181212698358612

Message:

[code]

[2022-09-09 22:06] mjlshen commented on #6082
I haven't gotten around to it yet, thanks!

[2022-09-09 22:09] melinath opened #12530 "Failing test(s): Service account my-service-account already exists within project"
### Affected Resource(s)

* google_cloudbuild_trigger
* google_cloud_run_service

Failure rate: 100% since Sept 5 2022

Impacted tests:
- TestAccCloudBuildTrigger_cloudbuildTriggerServiceAccountExample
- TestAccCloudRunService_cloudrunServiceIdentityExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/335482?buildTab=tests&

[2022-09-09 22:14] melinath opened #12531 "Failing test(s): TestAccDataprocMetastoreService* (timeout)"
### Affected Resource(s)

* google_dataproc_metastore_service
* google_dataproc_metastore_service_iam

Failure rate: 100% since Aug 7 2022

Impacted tests:
- TestAccDataprocMetastoreServiceIamPolicyGenerated
- TestAccDataprocMetastoreServiceIamMemberGenerated
- TestAccDataprocMetastoreServiceIamBindingGenerated
- TestAccDataprocMetastoreServiceDatasource_basic
- TestAccDataprocMetastoreService_dat

[2022-09-09 22:20] melinath commented on #12527
This is almost certainly a bug in the implementation of https://github.com/GoogleCloudPlatform/magic-modules/pull/6391 - attn @ranjithkumar-glean in case you want to take a stab at fixing it!

Probably what's happening is that the API is always returning a service account even if one isn't set - the fix is likely to use `default_from_api`: https://github.com/GoogleCloudPlatform/magic-modules/blob/

[2022-09-09 22:29] melinath commented on #10355
This issue no longer seems to happen

[2022-09-09 22:29] #10355 closed

[2022-09-09 22:31] melinath commented on #12138
it looks like there was a chunk of time where failures were down but now they're up again.

[2022-09-09 23:39] rileykarson commented on #12138
Where do you see that? I don't see failures in nightlies or a few VCR runs I spot-checked. I see `TestAccPrivatecaCertificateAuthority_privatecaCertificateAuthoritySubordinateExample` failed in `RECORDING`, but seems to record successfully.

We are back up to 877, however, so close to where we were before. More kicking around since the last few days of August, I think.