[2021-07-14 19:16] LondonAppDev commented on #8374
I opened a bug on the Google issue tracker as per their feature request process: https://issuetracker.google.com/issues/192637573

Might be useful to vote for it with a ⭐:
<img width="439" alt="Screenshot 2021-07-14 at 20 15 22" src="https://user-images.githubusercontent.com/4703936/125679879-71047642-0e23-4151-86c5-9df084bfd7f3.png">

[2021-07-14 19:18] #9514 closed

[2021-07-14 21:51] rglenn-accenture opened #9559 "Support for export of routes w/ public IPs in google_compute_network_peering_routes_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-14 22:47] rileykarson commented on #9112
Note: the solution to https://github.com/hashicorp/terraform-provider-google/issues/9257 is almost certainly the solution to this

[2021-07-14 22:47] rileykarson commented on #9416
Note: the solution to https://github.com/hashicorp/terraform-provider-google/issues/9257 is almost certainly the solution to this

[2021-07-14 22:49] rileykarson commented on #9257
This is very likely to be resolved by reverting to the old implementation of the resource, the new API in use now had unintended consequences. When resolving this we should also look at https://github.com/hashicorp/terraform-provider-google/issues/9112 and https://github.com/hashicorp/terraform-provider-google/issues/9416, both of which are likely to be fixed.

Additionally, we should bolster our

[2021-07-14 22:59] alkolome opened #9561 "Support creation of SQL Server instances integrated with Active Directory using Google Cloud SQL"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-14 23:00] rileykarson commented on #7624
Also note https://github.com/hashicorp/terraform-provider-google/issues/927 which captures extensive past discussion about this

[2021-07-15 06:07] bluemalkin opened #9563 "google_monitoring_notification_channel data: support for mobile app"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-15 07:30] MarcinKowalski101 commented on #9450
I provide all necessary documentation, I also consulted this case with GCP support to make 100% that this field is not mandatory meaning it is optional. All steps to recreate this bug is in the example. So if you don't know how to hendle it please just give information in documentation that terraform has limitation in this usecase meaning that if anyone want to use call procedure in scheduled quer

[2021-07-15 07:34] zidz commented on #9557
Thank you for taking a look into this @edwardmedia

I don't quite understand how they differ regarding to authentication, would you please elaborate a bit?
Scrolling down a bit in the provider reference documentation it mentions the `GOOGLE_OAUTH_ACCESS_TOKEN` environment variable.
It describes how you can use the OAuth `Authorization: Bearer` tokens with Terraform, so that's what we've been using

[2021-07-15 10:50] Mor-Kam opened #9564 "google_monitoring_notification_channel auth_token for slack doesn't work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-15 11:41] matthieu-audin commented on #7462
Is there any update regarding this subject ?
I can not pick the latest version available depending on the release channel

[2021-07-15 13:00] iokacha commented on #9535
@edwardmedia no, i'm closing the issue.

[2021-07-15 13:00] #9535 closed

[2021-07-15 13:05] rahulsen opened #9565 "Support promotion of an existing external ephemeral IP address to static IP address"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

If this is a bug report (for when something is there, but doesn't work how it should), please use the [bug issue template](https://github.com/terraform-providers/terra

[2021-07-15 13:55] rahulsen commented on #9565
Promotion not needed if you reserve IP first and then use it in the consuming resource later. For example to use it in a GKE cluster ingress use the annotation "kubernetes.io/ingress.global-static-ip-name". Closing the issue.

[2021-07-15 13:55] #9565 closed

[2021-07-15 15:12] jalmeroth opened #9566 "google_billing_budget budget_filter projects order is unpredictable and leads to constant changes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-15 15:14] jcanizalez opened #9567 "Support to deploy Pages in DialogFlow CX"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-15 17:43] edwardmedia commented on #9450
@megan07 what do you think about this issue?

[2021-07-15 17:48] rileykarson opened #9569 "Support `google_gke_hub_membership` at GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-15 19:21] r4hulgupta opened #9570 "resource_container_node_pool Change initial_node_count -> ForceNew to false"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-15 19:43] karlkfi commented on #9437
This issue now affects [Config Controller](https://cloud.google.com/anthos-config-management/docs/concepts/config-controller-overview) users trying to use the `config-control` namespace to manage resources with [Config Connector](https://cloud.google.com/config-connector/docs/overview), which delegates resource management to terraform-provider-google.

The `config-control` namespace is configured

[2021-07-15 20:37] #9108 closed

[2021-07-15 20:53] ScottSuarez commented on #8673
It will be available in `3.76` pending no new issue.

[2021-07-15 22:45] bharathkkb opened #9573 "provider_meta not being inherited by submodules"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-15 22:48] bharathkkb commented on #9573
/cc @morgante

[2021-07-16 03:24] tony-kerz commented on #6930
i'm witnessing the same with the `preemptible` attribute,
but i think applying the same to node-pool and cluster as with `tags` is a similar workaround...

[2021-07-16 08:29] szisiu commented on #9469
thanks @melinath but I tried this and other combinations and `cpuUtilization` is always pushed, eg.:

[code]

then

[code]

the thing is - I dont know what policy will be the best for my case, that is why I am testing different ones with different values and as a result I noticed the issue with `cpuUtilization`

[2021-07-16 08:33] szisiu commented on #9469
also found some related issue regarding Computed and Optional: https://github.com/hashicorp/terraform-provider-google/issues/4326

[2021-07-16 10:55] jlrosende opened #9575 "Confusing environment variable with secrets in google_cloud_run_service documentation."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-16 15:49] Luke-Scott opened #9576 "Error creating Monitoring Alert Policy - Expected type 'Duration' but got 'String'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-16 18:13] ScottSuarez commented on #9507
customer supplied encryption should be supported on the generated client
https://github.com/googleapis/google-api-go-client/blob/master/storage/v1/storage-gen.go#L1712

[2021-07-16 18:13] #9507 closed

[2021-07-16 18:41] rileykarson commented on #9437
Note: general discussion should go in https://github.com/hashicorp/terraform-provider-google/issues/9454, I've retitled this issue to cover what will actually close it

[2021-07-16 19:14] thuck commented on #9280
@venkykuberan did you had so time to take a look on this? Can I help in any way?

[2021-07-16 20:30] edwardmedia commented on #9576
This appears to be an API bug. Duration in below request is working

[code]

[2021-07-16 20:57] MartinPetkov opened #9577 "google_bigquery_job requires bigquery.tables.create permission?"
We have a terraform config which is creating a google_bigquery_job to insert data into an existing unpartitioned BigQuery table in an existing dataset. It's pretty much this:

[code]

However, for some reason trying to apply it via Terraform with a limited role results in this error:

[code]

Why does this happen? I can't find any mention in the docs of this permission being required just to run a

[2021-07-16 21:22] #7995 closed

[2021-07-16 21:22] megan07 commented on #9450
@edwardmedia - thanks for taking a look into this!

@MarcinKowalski101, sorry you're experiencing this issue. We work on numerous different resources each day, it's sometimes hard to find the exact documentation we need, so anytime you can provide us with that documentation, the quicker we can help you. After some digging, this looks specific to data transfers of datasource type `scheduled queries

[2021-07-17 00:15] ScottSuarez commented on #9104
Just deployed locally, seemed to be resolved...

Thanks folks for your patience here :)

[2021-07-17 00:15] #9104 closed

[2021-07-17 17:58] terekete opened #9579 "Google provider - notebooks environment"
Hi Community,

Looking for a bit of help with the Google Provider in regards to Notebook Environments. I am looking to build out some environments based on container images. When I try to do that I am not seeing them appear in the notebook UI console drop down in the Vertex notebooks section.

Question I have is:
1. Is this how this resource is meant to function, show the environment in the UI? (h

[2021-07-19 08:25] aloiscochard opened #9580 "invalid memory address or nil pointer dereference during plan."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-19 10:10] aloiscochard commented on #9580
After a few more experiments, the resource causing the exception is `google_storage_object_acl`, as commenting it makes plan succeed.

Please note that this problem occur with a fresh and empty remote state.

[2021-07-19 11:25] drandell opened #9581 "google_project_organization_policy - Resource Location Restriction"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-19 13:24] aholyoake-bc opened #9582 "Ability to create Layer 2 Partner Interconnect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-19 15:49] Matroxt opened #9584 "Add example in doc to create Subordinate CAs for google_privateca_certificate_authority"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-19 16:05] edwardmedia commented on #9579
@terekete can you see if the below resource can help you?

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/notebooks_instance#example-usage---notebook-instance-basic

[2021-07-19 16:13] edwardmedia commented on #9577
@MartinPetkov the error comes from api, which is pretty clear. Terraform does not have much control over that. You may want to review the 1) [permissions] (https://cloud.google.com/bigquery/docs/jobs-overview#required_permissions) are in place and 2) if the dataset exists. Does this make sense?

[2021-07-19 16:19] edwardmedia commented on #9581
@drandell instead of the dynamic / variable code, can you repro the issue with a hard-coded config? If can, please post the config so we can take a look at the resource's implementation.

[2021-07-19 16:34] megan07 commented on #9553
Hi @joshuasimon-taulia ! Sorry you're experiencing this issue! Can I see your configuration for `google_service_account.app.email` please?

Also, can I ask for clarification on a couple of things:

This would be a provider error, typically an eventual consistency error, and I can dig into this once I'm able to reproduce the issue.

This seems to be an error internal to Google, is this an error you

[2021-07-19 16:43] edwardmedia commented on #9564
@Mor-Kam from what you provided, it is hard to say what went wrong. In order to debug the issue, can you follow the suggestion from the [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/monitoring_notification_channel) to see if we can figure it out?

[2021-07-19 17:03] melinath commented on #9147
Basically, this would require doing something similar to the [github-differ](https://github.com/GoogleCloudPlatform/magic-modules/blob/master/.ci/containers/github-differ/generate_comment.sh) for the linter/tester containers and only running the respective check if the list of files in the diff contains at least one `.go` file.

[2021-07-19 17:04] slevenick commented on #9580
Well that's bad...

I'm unable to reproduce this with the configs provided, but it looks like for some reason the owner of the object is undefined on this line: https://github.com/hashicorp/terraform-provider-google/blob/master/google/resource_storage_object_acl.go#L83

I can add a check before that, but I'm not super sure what the right behavior would be if we find that. I'm tempted to just retur

[2021-07-19 17:07] melinath opened #9585 "Extract metrics related to MM Github PR status trust"
We want to be able to trust that our checks are reliable. One way to measure this is: how many PRs do we merge that have failed checks? (Ideally it would also be great to know how many we merged without waiting to see whether tests passed.) We should track this over time.

Essentially this comes down to getting the following information about each MM PR that was merged since the last script run:

[2021-07-19 17:11] c2thorn commented on #9580
I agree with that route. I wonder if something changed in the API, this CustomizeDiff is fairly old.

[2021-07-19 17:22] edwardmedia commented on #9557
https://github.com/hashicorp/terraform-provider-google/issues/8671

[2021-07-19 17:32] melinath opened #9586 "Detect whether tests added in a PR have been run in TeamCity and alert reviewers if not"
We sometimes have tests that get added but don't get run by the TeamCity CI, either because the test is being added to GA (for example, when a resource is promoted to GA) or because the test is skipped during VCR runs. These sometimes contain failures, which then show up in nightly builds and need to be triaged and fixed later.

Since tests are generally declared with a specific function name / fo

[2021-07-19 17:56] rileykarson commented on #9426
note: m instead of xs to cover handwritten resources

[2021-07-19 18:04] c2thorn commented on #9559
`exportSubnetRoutesWithPublicIp` and `exportSubnetRoutesWithPublicIp` exists in https://cloud.google.com/compute/docs/reference/rest/v1/networks

[2021-07-19 18:08] rileykarson commented on #9585
note: We should consider Apps Script [Google] internally, they can be shared in team drive

[2021-07-19 18:17] #9477 closed

[2021-07-19 18:33] revionics-ryan-felder commented on #9553
I am having the same issue exactly. Here's my slightly redacted code, hopefully it helps.

`resource "google_sql_database" "demoissue" {
  name     = "demoissue-${var.territory}-${var.customer}-${var.sdlc_tier}"
  instance = var.demoissue_db_instance
}

resource "google_service_account" "demoissue" {
  account_id   = "demoissue-${var.territory}-${var.customer}-${var.sdlc_tier}"
  display_name = "d

[2021-07-19 18:44] joshuasimon-taulia commented on #9553
i've updated the issue with the sa creation logic
[code]

[2021-07-19 18:46] melinath opened #9588 "Remove ansible/inspec support from magic modules"
Practically speaking, mmv1 has not been supporting ansible/inspec for some time - i.e. we would not do work to add support for new resources, update resources due to API changes, or fix bugs in those codebases.

However, we still have a lot of code in magic modules related to supporting those codebases, which adds complexity / makes the code harder to search, and makes the prospect of making impro

[2021-07-19 18:48] joshuasimon-taulia commented on #9553
on the first `terraform apply`, after creation of the `google_sql_user`, i hit `Root resource was present, but now absent. error`

on a subsequent `terraform apply`, i hit `Error: Error, failure waiting for insertion of [myapp-staging@bla123-integration.iam.gserviceaccount.com](mailto:myapp-staging@bla123-integration.iam.gserviceaccount.com) into myapp-staging: error`. fixing the above eventual co

[2021-07-19 19:11] megan07 commented on #9553
Thank you @revionics-ryan-felder and @joshuasimon-taulia . I'm unable to recreate the same error you're getting, however, I am running into an error with it. The error I get is:

When I changed `name  = google_service_account.demoissue.email` to `name = google_service_account.demoissue.account_id` it seemed to work. Could you give that a try?

[2021-07-19 19:21] revionics-ryan-felder commented on #9553
I tried this, but got the following...

[code]

[2021-07-19 19:22] revionics-ryan-felder commented on #9553
Also, here is my mysql instance declaration.

[code]

[2021-07-19 19:31] revionics-ryan-felder commented on #9553
@megan07 If I had to guess, I'd guess our configs for the google_sql_user resource are different.
Can you verify you are passing the following variable to your cloud_sql_user resource?
[code]

[2021-07-19 19:39] edwardmedia commented on #9513
@PatrickDale is this still an issue?

[2021-07-19 19:39] megan07 commented on #9553
I've got that
[code]

(The only change I've made is the `account_id`) I have no idea why it would make a difference, but I am running with Terraform version 1.0, trying to make it work with `0.13`, just working through some old set-ups to get that fired up now.

[2021-07-19 19:41] revionics-ryan-felder commented on #9553
For what it's worth, I'm using Terraform version 0.15.1

[2021-07-19 19:41] edwardmedia commented on #9461
@mchesler is this still an issue?

[2021-07-19 19:50] mchesler commented on #9461
@edwardmedia yes, still an issue.  It seems as though the values get stored in terraform state when terraform creates the resource, so it's not constantly trying to destroy and recreate.  While I can recreate at will for testing, I'm not able to destroy and recreate the resource in production, so I'm somewhat stuck.

[2021-07-19 20:24] megan07 commented on #9553
I was able to repro it now. I likely won't have more time today to do it, but will continue working on it tomorrow. Thanks for your quick responses and your help today!

[2021-07-19 20:26] melinath opened #9589 "Quality & reliability metrics dashboard"
b/194116820

[2021-07-19 20:28] #6066 closed

[2021-07-19 20:44] drebes opened #9592 "Support for google_service_networking_peered_dns_domain"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-19 20:51] emossman opened #9593 "Add support for requesting a Private Certificate Authority Certificate using an auto-generated key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-19 21:50] aholyoake-bc commented on #9582
I've raised a support ticket with GCP and they have send this issue tracker link
https://issuetracker.google.com/issues/150502627

However, at a minimum it would be great to have a gotcha / illustration of a workaround in the provider docs to stop people wasting hours where the problem lies.

Cheers!

[2021-07-19 21:51] betsy-lichtenberg opened #9594 "The terraform-provider-google-beta_v3.62.0_x5 plugin crashed!"
Report attached.

[crash-report.txt](https://github.com/hashicorp/terraform-provider-google/files/6844112/crash-report.txt)

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or

[2021-07-19 22:11] #9423 closed

[2021-07-19 22:12] revionics-ryan-felder commented on #9553
Thanks!

[2021-07-19 22:30] edwardmedia commented on #9461
@mchesler was the state created via [imported](https://github.com/hashicorp/terraform-provider-google/issues/9461#issue-932876173) or when you [created the resource ](https://github.com/hashicorp/terraform-provider-google/issues/9461#issuecomment-882813803)? Did something happen after the resource initially created?

[2021-07-19 22:40] edwardmedia commented on #9594
@betsy-lichtenberg can you post the steps to get the log?

[2021-07-19 23:02] betsy-lichtenberg commented on #9594
1. Run the example https://github.com/terraform-google-modules/terraform-google-lb-internal/tree/master/examples/simple

terraform init
terraform apply
terraform destroy

It didn't happen right away, but after several rounds of creating and destroying, it started happening.

I fixed it locally by removing the beta block from main.tf:

provider "google-beta" {
  version = "~> 3.62.0"
}

[2021-07-20 07:46] aloiscochard commented on #9580
Thanks for looking into this issue.

Not sure if that helps, but I thought I would share here the output of `gsutil acl get gs://#redacted#/`.

As far as I can see, the owner should be defined on this bucket object.

[code]

I'm still trying to work out how to manually change the ACL so the provider can run a plan/apply successfully, thanks for the pointer in the code, that will help!

[2021-07-20 08:29] drandell commented on #9581
Had state re-fresh off by mistake. It did work with hard-coded values and after that i looked into this more. Closing this now

[2021-07-20 08:29] #9581 closed

[2021-07-20 12:51] aloiscochard commented on #9580
Just found a workaround by replacing the resource `google_storage_object_acl` with a `google_storage_object_access_control`; this is fine in my case as the ACL is merely about making the bucket object public.

[code]

[2021-07-20 12:51] BasileNq opened #9596 "Cloud Run Service Secret Environment Variables throws "spec.template.spec.containers[0].env.value_from should be empty" with further metadata annotations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-20 13:06] vishramyadav-g opened #9597 "[Project factory] API dependency causing issues in terraform destroy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-20 13:37] #9597 closed

[2021-07-20 13:38] maitreya-source commented on #9597
- Needs to be filed under google terraform modules.

[2021-07-20 13:40] mchesler commented on #9461
@edwardmedia the state appears to be created correctly when I create the resource via `terraform apply`, but not via `import`.  Here's the debug output from the creation via `terraform apply`:
[code]
And the resulting state shows the correct information:
[code]

However, if I remove and reimport the resource, the state looks like this:
[code]

To recap, the API responses on create vs import look i

[2021-07-20 13:55] atrauzzi commented on #9509
@megan07 - I'm not sure how to produce that value or what it even is really. None of those names look familiar to me. If there's something specific that I can give you the output from - ideally anonymized - feel free to send me commands to run or files to `cat` here. 🙂

[2021-07-20 15:04] megan07 commented on #9553
I found the bug here - it's a combination of two things really, and I'll have to dig into how to solve it, as I'm not an expert on the nuances of the SQL resources. I'll explain what's happening, and if anyone can point me to any documentation that might help me fix our assumptions, that'd be greatly appreciated!

There isn't a way to `GET` a sql user, so we use `LIST` and filter the list to find

[2021-07-20 16:30] megan07 commented on #9509
@atrauzzi oh! sorry! I can help with that :)
And yes, anonymized is great!

So, for the debug logs, you can take a look here and this should help us a lot!
Documentation: https://www.terraform.io/docs/internals/debugging.html
Tutorial: https://learn.hashicorp.com/tutorials/terraform/troubleshooting-workflow#enable-terraform-logging

As for sending us a snippet of your configuration, you'll have to

[2021-07-20 16:47] edwardmedia commented on #9594
@betsy-lichtenberg do you have a debug log available so I can take a look? The example you provided is a module. Do you want to file an issue against its owner instead?

[2021-07-20 17:08] edwardmedia commented on #9596
@BasileNq there is a discussion (see below). Can you see if that helps?

https://github.com/hashicorp/terraform-provider-google/issues/9441

[2021-07-20 17:19] betsy-lichtenberg commented on #9594
Sure, I'll do that. Thanks.

[2021-07-20 17:19] #9594 closed

[2021-07-20 18:14] edwardmedia commented on #9461
@mchesler I think I understood your issue now. After import, you still need to construct the resource config, `google_cloud_asset_folder_feed` manually, by adding those fields with the data obtained from the import. There is no automatic process that can handle that in the provider. Do I address your issue?

[2021-07-20 18:25] mchesler commented on #9461
@edwardmedia I think that covers the issue.  Stated slightly differently - after importing a `google_cloud_assets_folder_feed` resource, the real state of the resource is not accurately reflected in terraform state.

[2021-07-20 18:33] rileykarson opened #9599 "Add support for `processing_units` to `google_spanner_instance` (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-20 19:34] asodja opened #9600 "google_compute_url_map does not support weighted backend service with serverless NEG"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-20 20:04] mustafakirimli commented on #9553
As per below 3 documentations when creating CloudSql user with IAM authentication `CLOUD_IAM_SERVICE_ACCOUNT` or `CLOUD_IAM_USER` we specify org email (johndoe@site.com) or iam service account `<name>@<project>.iam.gserviceaccount.com` but we use only username when we connect to the database.

As you mentioned there is no `GET` method for sql user and when use `LIST` method it does not return full

[2021-07-20 20:12] red8888 opened #9601 "Constant RPC errors with big table resources "google_bigtable_instance", "google_bigtable_table", "google_bigtable_app_profile""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-20 21:17] bboughton opened #9602 "Location validation for Cloud Function"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-20 21:31] slevenick commented on #9584
Currently I don't think this is actually possible through the provider. In my understanding configuring a subordinate CA requires setting up 2 CAs, using [this method](https://cloud.google.com/certificate-authority-service/docs/reference/rest/v1/projects.locations.caPools.certificateAuthorities/fetch) to fetch the CSR, manually signing that CSR and then adding the result back into the CA with anot

[2021-07-20 21:31] #9584 closed

[2021-07-20 21:37] slevenick opened #9604 "Support configuring Subordinate CA with PrivateCA resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-20 21:42] #9450 closed

[2021-07-21 03:19] atrauzzi commented on #9509
Well I know what I'm putting in there. It's the value from the data-module. My initial problem description has the answers to your questions.

That's the problem that I'm trying to report here. The value from the google project data-module is behaving unpredictably. Sometimes it will generate a change, and other times it won't.

This data-module is so basic and has no inputs, I have no influence o

[2021-07-21 08:12] Guimove commented on #9070
Hello,

Do you have any news about that feature ?

Actually, I’m using a custom null_resource to run after the instance creation :

[code]

But this is not really flexible.

This is major for us

[2021-07-21 11:15] BasileNq commented on #9596
Thank you for your answer edwardmedia. I take a look to the discussion but unfortunately it doesn't help.
If i'm setting up either the secret or the connector, it works perfectly. However, when i'm setting up both in the same Cloud Run service, i get the output below:
[code]

[2021-07-21 15:19] bquinart opened #9606 "Correct google_monitoring_slo documentation to indicate that ranges are inclusive."
Current documentation at https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/monitoring_slo mentions:

However, Google recently clarified that it is actually range.min <= x <= range.max.
Google documentation for MetricRange is clear at: https://cloud.google.com/monitoring/api/ref_v3/rest/v3/services.serviceLevelObjectives#metricrange
For Range (as of writing) Google docu

[2021-07-21 15:25] edwardmedia commented on #9596
@BasileNq can you share the full debug log?

[2021-07-21 15:50] BasileNq commented on #9596
Sure: [here](https://gist.github.com/BasileNq/7e716bc345b606e757a55091af8a277e)

[2021-07-21 17:17] edwardmedia commented on #9600
@asodja this error is from api where these rules are set. Can you create this **url_map** via other methods?

[2021-07-21 17:20] rileykarson opened #9607 "Add support for PrivateCA Certificate Templates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-21 17:21] edwardmedia commented on #9601
@red8888 can you share the config code and the debug log?

[2021-07-21 20:09] melinath opened #9609 "Validate bigquery reservation name match expected format"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-21 20:54] tianmarin commented on #7655
Is there a way to call a gcloud commando to crete backups while this feature is developed?

[2021-07-21 21:13] JamesDuncanNz opened #9610 "google_compute_forwarding_rule: target-service-attachment and target-service-attachment-region"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-21 21:19] upodroid commented on #7655
yeah.

`gcloud filestore backups` https://cloud.google.com/sdk/gcloud/reference/filestore/backups

Riley, this resource isn't really great for terraform given how it is intended to work. Something like a snapshot policy that you can attach to it to create backups on an interval(Something for Filestore Product Team to improve) would be more useful.

Also, `fileshare.0.source_backups` needs to be ad

[2021-07-21 22:55] gor-obr opened #9611 "Add support for Cloud Composer v2"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-21 22:55] gor-obr commented on #9611
I wish to work on this item.

[2021-07-22 10:08] AlexT-Ki commented on #6766
This is what I've done as a workaround (Requires gcloud cli installed):
[code]

The entry location can be retreived using `data.external.data_catalog_lookup.result.name`.

[2021-07-22 10:23] vishramyadav-g opened #9612 "google_project_service bug"
### Terraform Version
Terraform: 0.13.6

### Affected Resource(s)

* google_project_service

### Terraform Configuration Files

[code]

### Debug Output
https://gist.github.com/vishramyadav-g/88e8242606d7153295d262724fbcf400

### Panic Output

### Expected Behavior
Project should be deleted successfully.

### Actual Behavior
It is throwing an error while disabling dependent APIs.

### Steps to Rep

[2021-07-22 10:27] suckowbiz commented on #8524
We are also in need to set the default collation of a SQL Server instance.

@Patryk7975 How did you workaround this issue?

[2021-07-22 11:53] #9612 closed

[2021-07-22 12:26] danesggen opened #9613 "Creating a new google_iap_client off of the default OAuth brand"
Because the modification and deletion of OAuth brands (`google_iap_brand`) is not yet supported by the GCP API, I am unable to go the route of baking in the creation of a new brand in to my TF infra.

As a workaround, I'd like to leverage the default existing brand that is available in my project, which if I run

`gcloud alpha iap oauth-brands list`

gives me

`projects/123456789/brands/123456789`

[2021-07-22 15:25] hatzibod opened #9614 "Updating google_dns_record_set forces replacement of the resource instead of in-place update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-22 15:50] hanikesn opened #9615 "Add name_regex matching to google_compute_ssl_certificate data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-22 16:15] edwardmedia commented on #9614
Related to https://github.com/hashicorp/terraform-provider-google/issues/9416. Add label of persist-bug

[2021-07-22 16:30] #9569 closed

[2021-07-22 16:56] #9575 closed

[2021-07-22 17:03] jwtracy opened #9617 "google_service_account_key project: required field is not set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-22 18:59] #9610 closed

[2021-07-22 19:05] pgoldtho opened #9620 "Assured workloads do not work as documented"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-22 19:13] edwardmedia commented on #9461
I see. We can populate `folder` and `feed_id` for the import but not the `billing_project` as it is not directly available. Add label of `persistent-bug`

[2021-07-22 19:50] asodja commented on #9600
Oh ok. I will check.

[2021-07-22 21:00] c2thorn commented on #9126
Formats available for TF listed here: https://cloud.google.com/artifact-registry/docs/integrate-terraform

[2021-07-22 21:29] edwardmedia commented on #9617
@jwtracy can you try adding below environment variable?

[code]

[2021-07-22 22:49] bgmonroe opened #9621 "Option in google_project resource to NOT create a project Owner IAM policy for the project creator"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-23 06:48] pratik-anand opened #9622 "setting_a_maintenance_window in Redis"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-23 10:43] arivictor opened #9623 "google_service_account expects <project-id>, google_project output gives project/<project-id>"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-23 10:50] Tensho opened #9624 "Database Migration Service (DMS)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-23 14:22] megan07 commented on #9509
Hi @atrauzzi, I'm sorry for this misunderstanding. The reason we ask for you to share your configuration is because the first step in our process is for us to reproduce the issue that you're seeing. Without your configuration, we can't see everything that is at play.

Debug logs are equally as helpful, if not more. Would you please send us some debug logs so we can see what value is being returned

[2021-07-23 15:02] bgmonroe commented on #9621
TBH, I think this should be a boolean constraint Org Policy similar to compute.skipDefaultNetworkCreation but this seems like the path of least resistance.

[2021-07-23 16:01] edwardmedia commented on #9596
@BasileNq it works fine with me for having both the secret and the connector. Do you have `run.googleapis.com/secrets` in your annotation like below?

[code]

[2021-07-23 16:05] edwardmedia commented on #9620
@pgoldtho are you able to create the desired structure using different method? If yes, how and show me the result.

[2021-07-23 16:34] edwardmedia commented on #9623
@arivictor `id` is more a global identifier. Here is the [doc](https://cloud.google.com/apis/design/resource_names) that might be helpful to follow. There could be exceptions.

Does below `name` or `project_id` work for you?

[code]

[2021-07-23 17:00] BasileNq commented on #9596
No, i don't have the ```run.googleapis.com/secrets``` in my annotation. This annotation isn't specified  in the cloud run service terraform documentation. How did you get the first part of the annotation value: ```secret-1b43ced0-7ffd-7734-98ed-fe39c701579f``` ?

[2021-07-23 17:27] edwardmedia commented on #9596
@BasileNq it is the secretName. This is the format when the secret is in a different project. There is a little discussion over [here](https://github.com/hashicorp/terraform-provider-google/issues/9441#issuecomment-875761254)

[2021-07-23 17:31] edwardmedia commented on #9564
@Mor-Kam is this still an issue?

[2021-07-23 17:32] edwardmedia commented on #9513
@PatrickDale closing this assume it is no longer an issue

[2021-07-23 17:32] #9513 closed

[2021-07-23 17:35] edwardmedia commented on #9418
Closing this as it appears to be taken care by https://github.com/GoogleCloudPlatform/magic-modules/pull/4848

[2021-07-23 17:35] #9418 closed

[2021-07-23 17:39] edwardmedia commented on #9577
@MartinPetkov is this still an issue?

[2021-07-23 17:48] pgoldtho commented on #9620
This is what I ended up using:

[code]

[2021-07-23 18:03] pgoldtho commented on #9620
Based on the [documentation](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/assured_workloads_workload). I would expect the Project IDs to be available as resource_id's in `workloads.devops.resource_settings` and  `workloads.network.resource_settings` but these were populated with internal project numbers instead of IDs.

I suspect the `ERROR_CODE_AW_PROJECTS_NOT_SU

[2021-07-23 18:12] pgoldtho commented on #9620
The other issue was the way kms rotation periods were handled. I was not expecting a dedicated "ENCRYPTION_KEYS_PROJECT" for each assured workload but I'm still learning about assured workloads so could be wrong about that.

[2021-07-23 18:40] BasileNq commented on #9596
Okay but my secret is in the same project. I try it out with the following configuration :
[code]
But I have still the same issue.

[2021-07-23 18:44] jdstone commented on #9418
@edwardmedia why hasn't that PR been reviewed yet?  It's over a month old.  Is a review process this long common/normal?

[2021-07-23 19:14] megan07 commented on #9553
Closed by https://github.com/GoogleCloudPlatform/magic-modules/pull/4984

[2021-07-23 19:14] #9553 closed

[2021-07-23 19:20] niraj06 opened #9626 "BigQuery Table are force to recreate"
Below logs will have a comparison between provider version 3.76.0(BUG) and 3.55.0(works as expected)
### Terraform Version 1.0.1 and provider version 3.76.0

First Imported existing BigQuery table to terraform state.

terraform import module.bq_create_table.google_bigquery_table.main <Project_ID>/staging_area/delete_customers_list

then terraform plan

Here is the log
 # module.bq_create_table.goo

[2021-07-23 20:02] upodroid commented on #9621
This a behavior of the Google API and can't be overriden.

[2021-07-23 21:51] edwardmedia commented on #9626
@niraj06 it looks like it is by design. Looking at below code. Should the name be case sensitive?

[code]

[2021-07-23 22:08] niraj06 commented on #9626
ok, now it makes sense, Thanks

[2021-07-23 22:13] edwardmedia commented on #9626
@niraj06 closing this. Feel free to reopen or file another issue if you have more things to discuss.

[2021-07-23 22:24] #9626 closed

[2021-07-23 22:35] MartinPetkov commented on #9577
It is still an issue and I haven't explored by the extra permission is needed, but I'll close this issue since it's something to do with GCP and not the provider.

[2021-07-23 22:35] #9577 closed

[2021-07-23 22:40] bgmonroe commented on #9621
Yes, I assumed it was "baked in" to the API.

As I said above, for my use-case, the service account has all the privileges it needs defined above the project.  Also, as  I mentioned above, I can't use `google_project_iam_binding` for my use-case.

It seems that a couple of the `google_project` resource arguments are secondary API calls (`billing_account` and `auto_create_network` anyway) so I woul

[2021-07-24 04:10] edwardmedia commented on #9596
@BasileNq below is the config I was using to test.  Can you see if that works for you?

[code]

[2021-07-24 09:51] BasileNq commented on #9596
I have created a new project to test this configuration. It does not pose any problem.
So I went back to my initial project, I delete my Cloud Run service and ran terraform apply and didn't get any error.
Here is my final configuration:
[code]
I don't know if it's because I deleted the service but the two annotation sections are important in this configuration.
Thank you edwardmedia  for your time

[2021-07-24 14:14] VikramVasudevan opened #9628 "Error, attempting to list users associated with instance abstracta-repo-cec1f008: googleapi: Error 403: The client is not authorized to make this request., notAuthorized"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-24 14:33] VikramVasudevan commented on #9628
Ok this is going to be a bit of a surprise. I think there is some regional dependency here ..
I dont get this error when I use region asia-south1 and zone asia-south1-a
I do get this error when I use region asia-southeast1 and zone asia-southeast1-a

Am I missing something?

[2021-07-24 20:18] Patryk7975 commented on #8524
For now default collation of our server and collation o system databases is Latin General because there is no way to change it in terraform script.
I changed only collation of application database in google_sql_database resource configuration.
In case of collation conflicts (for example when using temporary tables) we will solve it programatically in sql.

[2021-07-25 03:19] paulowe commented on #4848
Agree, @umairidris . How do you configure this on terraform?

[2021-07-25 12:18] debakkerb opened #9629 "Update documentation for Service Network Connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-25 15:53] lgandras opened #9630 "Add support for guest-os-features in data.google_compute_image"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-25 23:07] dv-stephen opened #9631 "instance_group_manager marked tainted if healthcheck failing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-26 04:33] VikramVasudevan commented on #9628
Another user had reported similar issue ...

[https://stackoverflow.com/questions/62332850/why-cant-terraform-list-sql-users-in-gcp-account](url)

Looks like the root cause is the following request that fails with 404 Not Found
[code]

Any clues on this one?

[2021-07-26 06:21] sowmiya-ragu opened #9633 "Not able to set data source in a list parameter in biiling_budget"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-26 07:49] thomas-vl commented on #6521
Any update on this?

[2021-07-26 07:56] jalmeroth commented on #9566
@edwardmedia has this fix been released with the release 3.76.0? I don't see it been mentioned in the changelog nor the issue has been resolved.

[2021-07-26 08:38] paolo-rm opened #9634 "Service Perimeter not found 404"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-26 10:10] paolo-rm commented on #9634
Sorry my fault, didn't read the instructions....
Name should be: `accessPolicies/{policy_id}/servicePerimeters/{short_name}`

[2021-07-26 10:10] #9634 closed

[2021-07-26 12:12] thomastoye opened #9635 "`google_cloudfunctions_function` does not support NPM tokens for private packages of Node.js GCFs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-26 12:20] VikramVasudevan commented on #9628
OK this is a showstopper for us to continue using terraform ... if we cant get this resolved soon...  The striking thing about this issue is its inconsistency. It failed in my local windows machine, later it worked, then it failed in ubuntu consistently. I cant seem to draw a pattern here ... Clearly, terraform is unable to find the resource immediately after it gets created (possibly a delay is r

[2021-07-26 14:46] vishramyadav-g opened #9637 "google_project_service bug"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-26 15:40] edwardmedia commented on #9631
@dv-stephen do you have the debug log available?

[2021-07-26 15:46] dps3ven opened #9638 "Error patching google_compute_router and google_compute_router_interface"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-26 15:49] edwardmedia commented on #9633
@sowmiya-ragu this appears to be an issue about how to properly use the dynamic code vs an issue with the plugin. You may want to debug to see if the list is null. Below error seems clear. What do you see if you hard-coded the resources?

[2021-07-26 16:00] edwardmedia commented on #9637
@vishramyadav-g where did you see below expected behavior?

[2021-07-26 16:03] melinath opened #9639 "Merge terraform.yaml files into api.yaml"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-26 16:11] melinath opened #9640 "Extract test run data from TeamCity builds for MM PR builds"
Currently we don't have a lot of insight into our test reliability for PRs over time, and it's not in a centralized location. At a minimum, we should extract VCR test run time & total test count. This could be done with Apps Script.

Depends on https://github.com/hashicorp/terraform-provider-google/issues/9589 for completion.

[2021-07-26 16:22] melinath opened #9641 "Extract test run data from TeamCity builds for nightly builds"
Currently we don't have a lot of insight into our nightly build test reliability over time, and it's not in a centralized location.

At a minimum, we should extract:

- test run duration
- total test count
- \# of new test failures
- \# of total test failures
- \# of test failures TeamCity thinks are flakey
- \# of test successes TeamCity thinks are flakey

This could be done with Apps Script.

De

[2021-07-26 16:27] edwardmedia commented on #9596
@BasileNq You are welcome. I am glad you have resolved the problem. Closing the issue then

[2021-07-26 16:27] #9596 closed

[2021-07-26 16:31] melinath opened #9642 "Extract MM build data from Cloudrun"
Currently we don't have a lot of insight into our build reliability over time, and it's not in a centralized location. At a minimum, we should extract:

- Build duration (broken down by build step)
- Build step success or failure

This could maybe be done with Apps Script? Or some other way.

Depends on https://github.com/hashicorp/terraform-provider-google/issues/9589 for completion.

[2021-07-26 16:54] edwardmedia commented on #9620
@slevenick what do you see this issue?

[2021-07-26 17:53] rileykarson commented on #9593
@slevenick: Can you take a look at how this would work w/ TF?

[2021-07-26 17:58] rileykarson commented on #9611
@c2thorn to investigate the changes required for this. We support the v1beta1 API in the `google-beta provider already, what's changed here?

[2021-07-26 18:03] rileykarson commented on #9624
@slevenick can you file a bug w/ the DCL for this?

[2021-07-26 19:09] sowmiya-ragu commented on #9633
If it is hardcoded , it works.
But the same data resource is accessed in google_billing_budget's
_display_name =  "${data.google_project.project[count.index].project_id}"_
and it works.
But not in budget_filter. I suspect because the  "projects" type is list.

[2021-07-26 19:18] edwardmedia commented on #9566
@jalmeroth it is released in v3.76.0

I see the fix in the master. Here is the test for your case. https://github.com/hashicorp/terraform-provider-google/blob/8a1ae88456533a21c62e417ced15287d042029f5/google/resource_billing_budget_test.go#L287

[2021-07-26 19:20] edwardmedia commented on #9566
@jalmeroth can you share your debug log with the latest release?

[2021-07-26 20:04] edwardmedia commented on #9633
@sowmiya-ragu `projects` below is defined as a `set` and it expects a list of projects. You have found the reason. Closing the issue then

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/billing_budget#projects

[2021-07-26 20:04] #9633 closed

[2021-07-26 20:52] rileykarson commented on #9621
If support is added for something like this, we'd avoid baking it into the `google_project` resource. The problem with making followup API calls there is that any error returned by the provider during `Create` taints the resource, extremely-undesirably-so for projects. This _could be implemented_ similar to https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_proje

[2021-07-26 20:57] rileykarson commented on #9602
Terraform requires that `ValidateFunc` functions- the ones responsible for plan time validations- don't make external API calls, so calling a locations API is not possible. @melinath covered the reasons we can't use a static list in https://github.com/hashicorp/terraform-provider-google/pull/9555#issuecomment-883611366.

[2021-07-26 20:57] #9602 closed

[2021-07-27 00:56] #9015 closed

[2021-07-27 00:57] #9547 closed

[2021-07-27 04:24] sowmiya-ragu commented on #9633
Edward ,

What is the solution for this ?

[2021-07-27 05:49] maitreya-source commented on #9637
- @edwardmedia you are correct, that might not be the expected behaviour as of today. Is there a way we can handle disabling a list of dependent and parent APIs today?

- To give little more context on this : we filed a similar bug in project factory as well - [project_factory_issue_605](https://github.com/terraform-google-modules/terraform-google-project-factory/issues/605).  Which means everyone

[2021-07-27 06:05] sowmiya-ragu commented on #9633
Used the below snippet and it worked.
projects = ["projects/${data.google_projects.my-org-projects.projects[count.index].project_id}"]

[2021-07-27 06:53] thomastoye commented on #9635
I found another solution to this: packing the `.npmrc` into the deployment package zip (`source_archive_object`). I would still prefer to have a TF solution to keep `.npmrc` out of the deployment package zip, as that means I'm publishing secrets to GCS.

[2021-07-27 08:29] VikramVasudevan commented on #9628
Just wanted to leave an update here for others who stumble across this issue. I decided to try out Pulumi for this use case and I have not seen this issue happening there ..  so far it has been good going with Pulumi and if all goes well, I might make the switch soon.

I have to say that I am very disappointed by the support I have received from terraform.

[2021-07-27 09:57] gor-obr commented on #9611
A set of new fields will be introduced to the v1beta1 API. These fields will be Compser v2 only (there will be a check and if the image version is `composer-1.x.x-airflow-x-x-x`), and any of these fields have been set, the request will not be accepted. Some examples of the new fields are `workloads_config` and `environment_size`.

Additionally, some fields that are used in Composer v1 will be disa

[2021-07-27 15:24] dv-stephen commented on #9631
@edwardmedia Yes, here's the debug log: https://gist.github.com/dv-stephen/610fafba3eddd0de9e941ee6fa7e13bd

[2021-07-27 15:31] circa10a commented on #9041
@rileykarson do you know of any updates on this upstream bug?

[2021-07-27 15:52] herdus0512 opened #9646 "Add support for External Key Manager (EKM) for resource `google_kms_crypto_key`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-27 16:41] jalmeroth commented on #9566
@edwardmedia I ran our tests with the today's release v3.77.0 and with that it works as expected. But when I run it with v3.76.0 it doesn't. 🤷‍♂️ Anyway, it works now – so thank you very much!

[2021-07-27 16:41] #9566 closed

[2021-07-27 17:01] slevenick commented on #9624
Filed b/194799691 b/194799516

[2021-07-27 17:04] pmansour commented on #9593
@emossman in this scenario, where would you foresee the associated private key being stored?

When gcloud and GCP cloud console perform key generation, they generate the key-pair locally and persist the generated private key to the local machine (via the [--key-output-file](https://cloud.google.com/sdk/gcloud/reference/privateca/certificates/create#--key-output-file) gcloud flag or through a downl

[2021-07-27 21:04] emossman commented on #9593
@pmansour

I didn't realize that the private key was persisted locally in both of those examples. That complicates things.

Some of the options for storing the associated key pair could be:
- locally on the machine that is executing terraform
  - I don't like this because then you need to manually move the key pair elsewhere
- GCP Secret Manager
  - This is better, but it would need a correspondin

[2021-07-27 21:35] rileykarson opened #9647 "Add support for ServiceAttachment (GA)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-27 23:12] jwtracy commented on #9617
Providing the full email worked and the project was inferred! It would be useful for the error message to mention it's trying to infer this rather than claim a required field isn't set however

[2021-07-28 01:29] baldey-nz opened #9648 "config_connector dependency in google_container_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-28 09:31] maitreya-source opened #9650 "Azure blob storage transfer crash"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-28 09:36] maitreya-source commented on #9650
Shouldn't the input argument of expandAzureCredentials() function be azure_credentials instead of azureBlobStorageData["sas_token"]? [resource_storage_transfer_job.go#L854](https://github.com/modular-magician/terraform-provider-google-beta/blob/af1d01d7fccd9d53d751b7cd70dd4d2c5e63d9dd/google-beta/resource_storage_transfer_job.go#L854)

[2021-07-28 10:03] menzbua opened #9651 "Remove shortname in doc from resource_policies on google_compute_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-28 12:19] bertrandpons opened #9652 "google_privateca_certificate | Refering to pool with name does not work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-28 12:36] MuriukiPM opened #9653 "terraform apply uses different source_machine_image when creating instance from cross project machine image"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-28 13:24] #9652 closed

[2021-07-28 13:24] bertrandpons commented on #9652
certificate_authority argument must not be set together with pool argument, from what I have tested.

[2021-07-28 14:29] megan07 commented on #9484
This seems to have fixed itself around July 19/20th:

GA: https://ci-oss.hashicorp.engineering/test/-6865005456619694730?currentProjectId=GoogleCloud&branch=%3Cdefault%3E

Beta: https://ci-oss.hashicorp.engineering/test/-6865005456619694730?currentProjectId=GoogleCloudBeta&branch=%3Cdefault%3E

[2021-07-28 14:29] #9484 closed

[2021-07-28 14:40] ghost opened #9654 "GCE_VM_IP endpoint type support as a backend for TCP/IP Internal LB. as of now it supports only GCE_VM_IP_PORT"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-28 16:04] c2thorn commented on #9611
So the main difference is a set of new fields from the API? Seems reasonable to add these.

I'm not sure we'd want this type of validation in Terraform because the provider will certainly lag behind the API, and the validation could cause issues if the API's conditions change.

[2021-07-28 16:07] c2thorn commented on #9611
@gor-obr do you know where we could find the list of new fields for v2? It isn't apparent to me looking through the `v1beta1` documentation

[2021-07-28 16:27] gabor-farkas commented on #9341
It's quite tricky to find but it's actually available in another endpoint, see: https://cloud.google.com/orgpolicy/docs/reference/rest
The service is https://orgpolicy.googleapis.com

It's such a hidden feature actually that if you set a policy with this method and try to view it on the admin console, it writes _"This policy has been set with Tags through Organization Policy V2 API which is not ye

[2021-07-28 17:19] nphilbrook opened #9657 "`google_compute_network` reports error with fully qualified `project` ID but creates network anyway"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-28 17:42] rileykarson opened #9658 "Add support for 1 alpha resource (b/182591419)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-28 17:44] edwardmedia commented on #9169
@rbabyuk is this still an issue?

[2021-07-28 17:59] edwardmedia commented on #9648
@baldey-nz how did you enable `workload_identity_config`? From the log you provided, I don't see it. What value is it from your config (below)? I guess you notice the following limitation. It is fine with the below config. Can you try to see if it works for you?

[code]

[2021-07-28 18:12] slevenick commented on #9650
Hey @maitreya-source have you tested this with the current master version of the provider?

We have roughly weekly releases of the provider, and the most recent release will not contain the fix you linked in the bug report. You could build the most recent version of the provider from source and try it out yourself, or wait for the official release that is expected next week

[2021-07-28 18:15] slevenick commented on #9650
But yes you are correct, it should reference `azure_credentials` rather than `sas_token` as it is nested within that object. I'll get that fixed

[2021-07-28 18:38] jdub55 opened #9660 "Add support for mTLS configuration for Dialogflow resource"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

If this is a bug report (for when something is there, but doesn't work how it should), please use the [bug issue template](https://github.com/terraform-providers/terra

[2021-07-28 18:38] #9486 closed

[2021-07-28 18:46] edwardmedia commented on #9651
@menzbua looks like it does not take the `shortname`. Can you confirm if the `self_link` works for you?

[2021-07-28 18:49] menzbua commented on #9651
@edwardmedia Yes, `self_link` is working. Only `shortname` does not.

[2021-07-28 18:51] edwardmedia commented on #9653
@MuriukiPM the error seems clear. Can you verify if the image exists or your account has permission to access it?

[2021-07-28 18:53] edwardmedia commented on #9651
Updating the doc to remove the shortname is good?

[2021-07-28 18:55] menzbua commented on #9651
Hmm, for me it would be better when i can use the shortname, too.

[2021-07-28 18:57] tbh1 opened #9662 "Add support for Cloud Router Status"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-28 18:58] edwardmedia commented on #9651
Using reference is generally better as it enforces the sequence (dependency) when the resources are built.

[2021-07-28 19:04] menzbua commented on #9651
For my script it would be easier to access the shortname. But when it is not possible to implement the access to the short name i have to modify my script.

[2021-07-28 19:20] baldey-nz commented on #9648
@edwardmedia thanks for looking at this. Im not sure why the value was not shown in the logging that i posted but its the project id passed in as a variable

[code]
in my config the above definitely works because if i remove the config_connector syntax from my config:

[code]

then the terraform runs successfully and my cluster has the workload identity feature enabled. It only fails when i run wi

[2021-07-28 19:24] edwardmedia commented on #9648
@baldey-nz you may share the full debug log so I can take a close look. Also can you try the [config](https://github.com/hashicorp/terraform-provider-google/issues/9648#issuecomment-888508441) I provided to see if that works for you?

[2021-07-28 19:29] wrobelma opened #9663 "Unable to create subordinate CA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-28 19:31] baldey-nz commented on #9648
sorry maybe i wasnt clear in my response but i have run the config that you provided and i got the same error. i will run again shortly and provide the debug output

[2021-07-28 19:37] edwardmedia commented on #9657
This appears an API bug. There is not much the provider can do.

[2021-07-28 19:42] slevenick commented on #9476
b/192292793

Looks like a timing issue, probably not on our side as this code hasn't changed in a long time

[2021-07-28 20:16] rileykarson commented on #9041
The product team has received a bug (for my reference in the future: b/190367845) but there's nothing past that I can share, unfortunately!

[2021-07-28 20:38] edwardmedia commented on #9637
This is an interesting and legit use case. What do you thin?

[2021-07-28 20:45] baldey-nz commented on #9648
i have narrowed this down a bit further.

1) your config used directly to create a new cluster works - we get a cluster with both workload identity and config connector enabled. no problems
2) this is only a problem for existing clusters .To reproduce - If i remove the workload identity from your config e.g:
[code]
and create a cluster i get a cluster without workload identity and config connector

[2021-07-28 20:50] edwardmedia commented on #9631
@dv-stephen from the log you provided, I found below line that seems not right. It contains 2 `projects`. It should be just one.  How did you provide the data for `project` in the config? When you say `cannot refresh`, not sure if that is related.

[2021-07-28 20:54] edwardmedia commented on #9617
We could update the doc to reflect this behavior

[2021-07-28 21:15] slevenick commented on #9637
Unfortunately I don't see a batchDisable method on that API. You could file a ticket against the public GCP issue tracker to request that, but until then we won't be able to implement anything from the Terraform side.

We don't know which services are dependent within Terraform, and shouldn't encode this information into the provider in case it changes in the future, so I don't think we can solve

[2021-07-28 21:19] morgante commented on #9637
@slevenick Retry would help because the dependent service can still succeed in disabling before the parent service is disabled. Then when the parent service retries it will succeed.

Strictly sequencing the order of disabling with a dependency chain would work as a workaround, but then users are encoding the dependency information as well (which I don't think is very maintainable long term). Retry

[2021-07-28 21:26] slevenick commented on #9637
I guess I'm not suggesting that the user encode the dependency chain, just *a* dependency chain. If retry works then having these resources disable serially should also work, at least that's my hypothesis

[2021-07-28 21:31] morgante commented on #9637
I'm not sure I follow. They are not the same.

If my dependency chain is `storage`, then `file` the `storage` API will *never* disable successfully (because the file API is still using it) and Terraform would never proceed to disabling the file API. If you build a dependency chain in Terraform, you have to know the correct order.

On the other hand, with retry it would attempt to disable `file` an

[2021-07-28 21:44] yacn opened #9664 "google_compute_instance_template should be able to set public_ptr_domain_name for the underlying instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-28 21:44] yacn commented on #9664
FYSA: I have started work on this

[2021-07-28 21:45] #8317 closed

[2021-07-28 21:49] edwardmedia commented on #9648
@baldey-nz I see what happened in your case. API does require the application of these two attributes (`workload_identity_config` and `config_connector_config`) in certain order when they are added in the same change. I am not sure if Terraform can force the sequence. For the workaround, you could first add `workload_identity_config` and then `config_connector_config` with two applies.

[2021-07-28 21:52] steveoh opened #9666 "panic when importing secret gives wrong template"
### Affected Resource(s)

* google_secret_manager_secret_version

provides template `projects/{{project}}/secrets/{{secret}}/versions{{version}}`

should be `projects/{{project}}/secrets/{{secret}}/versions/{{version}}` with a slash

Also the docs on https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/secret_manager_secret_version show the import as `terraform import goo

[2021-07-28 22:05] #9466 closed

[2021-07-28 22:17] slevenick commented on #9637
Ah, so you are describing if `disable_dependent_services = false`?

I'm thinking when that is set to true, it will only fail when `file` and `storage` are disabled simultaneously. If `storage` is disabled first it will disable file automatically, and if `file` is disabled first then disabling storage will succeed

[2021-07-28 22:30] dv-stephen commented on #9631
@edward2a Oh interesting, I didn't catch that. I updated the issue with the actual test code and not just a trivial example. I excluded the project/network resources as they're just boilerplate but can add them if needed.

I didn't completely track it down, but the compute client appends `projects` to its base URL and I'm guessing the resource(s) are also appending adding `projects`.

https://gith

[2021-07-28 22:58] baldey-nz commented on #9648
thanks @edwardmedia . I guess it would be good if this could be documented somewhere so others dont fall into the same trap

[2021-07-28 22:58] #9648 closed

[2021-07-28 23:22] slevenick commented on #9663
Duplicate of: https://github.com/hashicorp/terraform-provider-google/issues/9604

[2021-07-28 23:22] #9663 closed

[2021-07-28 23:22] ScottSuarez commented on #9429
closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/4991

[2021-07-28 23:22] #9429 closed

[2021-07-28 23:22] ScottSuarez commented on #8200
closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/4991

[2021-07-29 00:31] edwardmedia commented on #9631
@dv-stephen once you fix the data for the `project` field, is this still an issue?

[2021-07-29 03:07] ericyz opened #9670 "google_scc_notification_config - 400 invalid argument error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-29 03:49] dv-stephen commented on #9631
@edward2a Couple of updates:

1. I was wrong about `wait_for_instances = false` having the same behavior. It does ignore the state of the MIG and does allow me to write a custom shell provisioner to query myself. It's still a problem that the `wait_for_instances = true` option prevents the resource from being refreshed and requires manual intervention.

1. The `projects/projects` appears to be a b

[2021-07-29 05:15] morgante commented on #9637
Yes, though my observation is that `disable_dependent_services` also isn't 100% reliable—sometimes APIs are still active even when the operation returns.

You're right that with `disable_dependent_services = true` *and* only disabling one API at a time, errors should be less common. I still think it would be helpful to retry though.

[2021-07-29 05:29] maitreya-source commented on #9637
One more point to add here, if I may - Currently we don't have a way to know what APIs are dependent on each other. (There is no API/gcloud command to give us dependency between the APIs `publicly`).

[2021-07-29 06:35] #9650 closed

[2021-07-29 07:48] danistrebel commented on #9358
I can take stab at this.

[2021-07-29 08:35] geirsagberg commented on #9513
I had the same error, upgrading from 3.66.0 to 3.77.0. Worked on second apply for me as well.

[2021-07-29 15:14] nphilbrook commented on #9657
I was curious so started testing with the REST API directly, and then started reading the debug log that I posted in more detail than I did when submitting the bug.

So, the initial POST to create the network to this URL succeeds, line 178ff:
`POST /compute/v1/projects/projects/REDACTED/global/networks?alt=json HTTP/1.1`
And the result object has a correct self link to the operation to check statu

[2021-07-29 15:49] MuriukiPM commented on #9653
@edwardmedia yes, the image exists. The account used by terraform to authenticate has access as well. I was able to run the corresponding gcloud sdk command to create the instance from the image.

[2021-07-29 17:18] edwardmedia commented on #9666
@steveoh can you share your config and its debug log? Thanks

[2021-07-29 17:22] steveoh commented on #9666
I have a google-beta provider

I was trying to import a secret like this

[code]
I followed the docs on the page linked above and ran

[code]

and I was prompted with another incorrect template to import the secret.

Yes they are both doc issues but one is docs coming out of the CLI.

[2021-07-29 17:50] edwardmedia commented on #8731
@KbLev have you tried [suggestion](https://pantheon.corp.google.com/cloud-build/builds;region=global/52fddf64-f4b4-48a7-97de-aa5cbafcf90c?project=graphite-docker-images)?

[2021-07-29 17:53] rileykarson commented on #8200
I don't think the parent issue has been complete? @c2thorn

[2021-07-29 19:29] asodja commented on #9600
I got an update from Google support via our TAM and it looks like servlerless traffic splitting is not possible at the moment with url map. But it will be in future (GA for Advanced Traffic Management features is planned for Q1 '22).

[2021-07-29 20:05] ScottSuarez commented on #8200
I forked cameron's code so my pr was composite of his work

[2021-07-29 20:26] edwardmedia commented on #9670
Below gcloud command example from  the [tutorial](https://cloud.google.com/security-command-center/docs/how-to-enable-real-time-notifications) is failing too. I guess API is experiencing an issue.

[code]

[2021-07-29 20:57] switj opened #9673 "Attribute documentation for google_privateca_ca_pool is out of date"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-29 22:35] switj opened #9675 "publishing_options field for google_privateca_ca_pool always shows changes to apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-29 23:08] rileykarson commented on #9673
An "attribute" refers to an output-only field in Terraform, like `id` here. `name` is listed as an argument on the resource, where an "argument" is a configurable field: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/privateca_ca_pool#name

I'm not sure why that's what defines attribute vs argument, but that's convention for providers.

[2021-07-29 23:08] #9673 closed

[2021-07-29 23:39] bharathkkb commented on #9670
@ericyz @edwardmedia maybe related to 191703221

[2021-07-29 23:53] slevenick commented on #9638
Huh.... This feels like a dependency problem.

The example you've provided triggers a recreation on the interface, which *should* trigger a recreation on the peer. I believe it is not correctly recreating because of some HCL limitations, and because it sticks around it prevents the creation of the new interface. Here is the bug against the Terraform SDK that describes this: https://github.com/hash

[2021-07-29 23:53] #9638 closed

[2021-07-29 23:57] slevenick commented on #9613
Hm, have you tried setting `brand = projects/123456789/brands/123456789`? I would believe that the documentation is incorrect as what you are describing sounds totally correct

[2021-07-30 00:26] atrauzzi commented on #9509
@megan07 - Is there anywhere I can post them privately?

[2021-07-30 05:37] vishramyadav-g commented on #9637
We tried -parallelism=1, and no errors were found during the API disable terraform destroy run. However, as expected, this was a very slow operation.

[2021-07-30 08:31] menzbua opened #9677 "Data "source google_compute_default_service_account" gets no data"
Hi,

i have a question regarding the data source `google_compute_default_service_account`. My datasource.tf file looks like this:
[code]

When i try to get the compute default service account i did not get any informations:
[code]

The `google_project` is working:

[code]

Have i specify any other paramters for the compute default service account? Compute API is activated and the service account i

[2021-07-30 10:15] rosmo opened #9678 "Deletion problem in Private CA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-30 10:57] seocahill opened #9679 "google_container_node_pool documentation incorrect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-30 12:21] rosmo commented on #9678
Looks like this is mainly a bug with the example. Closing.

[2021-07-30 12:21] #9678 closed

[2021-07-30 12:35] rosmo opened #9680 "Cannot delete google_privateca_ca_pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-30 15:43] chtourou-youssef opened #9682 "About node pool"
If you have a support request or question please submit them to one of these resources:

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#example-usage---with-a-separately-managed-node-pool-recommended , in documentation , why using a separately managed node pool is recommended ?

* [Terraform community resources](https://www.terraform.io/docs/extend

[2021-07-30 15:44] edwardmedia commented on #9677
@menzbua can you post your debug log by running below config?

[code]

[2021-07-30 15:53] hawksight commented on #9682
It allows you to control the k8s master or GKE master version separately to that of your nodes.
If you have all node pools, then those pools can be upgraded individually, independant (for the most part) of the cluster master / control plane.

[2021-07-30 15:53] edwardmedia commented on #9631
@dv-stephen how did you hard-code? I assume you were running directly on the provider resources (not modules), right? Can you share your code?

[2021-07-30 16:01] dv-stephen commented on #9631
@edward2a Sure, I set the `project` field of each resource to a static string:

[code]

There is no terraform reusable or child module, just the root. The provider is **not** configured with a project -- I specify the `project` for each resource.

[2021-07-30 16:06] edwardmedia commented on #9631
@dv-stephen can you post the debug log?

[2021-07-30 16:20] menzbua commented on #9677
Hi @edwardmedia,

is it safe to post here? Or should i look for informations to remove?

Regards
Manuel

[2021-07-30 16:24] slevenick commented on #9657
I'm super surprised that `POST /compute/v1/projects/projects/REDACTED/global/networks?alt=json` works. The problem is likely that the GET request that Terraform uses to confirm the resource was successfully created fails.

I think the right solution here is going to be to check that `project` doesn't use the fully qualified ID, as we shouldn't rely on `/projects/projects/` working forever

[2021-07-30 16:53] #9567 closed

[2021-07-30 17:09] nphilbrook commented on #9657
That is exactly the problem, yes.

[2021-07-30 17:23] melinath commented on #9235
This has now graduated to the following error:

I think we can safely remove the tests at this point.

[2021-07-30 17:25] dv-stephen commented on #9631
@edward2a I'll work on getting you a test project for the MIG issues, but wanted to note that `projects/projects` appears to be a known bug? https://github.com/hashicorp/terraform-provider-google/issues/9657#issuecomment-890003135

[2021-07-30 17:29] melinath commented on #8032
At this point our tests for this feature are consistently failing with:

Previously they were failing with:

It's not exactly clear to me whether existing clusters might still be running 1.18, but it seems likely that creating new clusters now requires not using basic auth.

[2021-07-30 17:33] rileykarson commented on #8032
`1.18.0`, `1.19.0`, and `1.20.0` are the currently supported GKE versions: https://cloud.google.com/kubernetes-engine/docs/release-notes

[2021-07-30 17:59] chris-jaques opened #9684 "GA: Support for Cloud Build Worker Pools"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-30 20:21] #9235 closed

[2021-07-30 20:29] upodroid opened #9685 "Make `num_nodes` and `processing_units` mutually exclusive in `google_spanner_instance`"
The spanner API doesn't accept both of these values being present at the same time and `num_nodes` is currently set to 1.

In v4 of the provider:
- Enforce ExactlyOneOf on both fields.
- Remove the default value from `num_nodes`
- Remove the temporary encoder introduced in https://github.com/GoogleCloudPlatform/magic-modules/pull/4993

Details of API responses are in the linked PR.

[2021-07-30 21:15] rileykarson commented on #9530
Not sure why I tagged this as a bug before- it should be `technical-debt` since that's what we label tooling stuff as

[2021-07-30 21:16] rileykarson commented on #9573
Duplicates https://github.com/hashicorp/terraform-provider-google/issues/8346

[2021-07-30 21:16] #9573 closed

[2021-07-30 21:21] bharathkkb commented on #9573
@rileykarson I don't think this is a duplicate of #8346

Our understanding was that provider_meta block would pick up the nearest definition. In this case the nearest definition was in the root module and there was no provider_meta in the submodule so it should have picked up the root module provider_meta?

[2021-07-30 21:24] rileykarson commented on #9573
Ah, got it- I think it's the same underlying problem in any case and it's worth expanding that issue to cover both. I guess we could keep two issues, but honestly, they'd be in the same place- this is an issue with one or both of the SDK/Core's implementation of the feature.

[2021-07-30 21:28] bharathkkb commented on #9573
@rileykarson is there an upstream issue we can track?

[2021-07-30 21:31] allandrick opened #9688 "google_compute_router_interface requires BOTH ip_range and one of exactly one of vpn_tunnel or interconnect_attachment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-30 21:37] rileykarson commented on #9573
Given https://github.com/hashicorp/terraform-provider-google/issues/8346 doesn't link any, I'd assume no

[2021-07-30 22:00] upodroid opened #9689 "ExactlyOneOf doesn't work with mmv1 fields that have their names overriden in terraform.yaml"
Technical Debt

As part of https://github.com/GoogleCloudPlatform/magic-modules/pull/4993 the following mmv1 config doesn't work.

[code]

[code]

Generates the following schema:

[code]

This bug will block this issue from being resolved #9685

[2021-07-31 10:00] Chupaka opened #9690 "Move google_artifact_registry_* to GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-31 10:17] hawksight opened #9691 "3.77.0 google_container_cluster timeout 1m"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-31 20:53] Chupaka opened #9692 "google_artifact_registry_repository 'format' diff should be case-insensitive"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-01 13:32] edwardmedia commented on #9601
@red8888 is this still an issue?

[2021-08-01 13:35] edwardmedia commented on #9623
@arivictor is this still an issue?

[2021-08-01 14:02] morgante opened #9693 "Docs/validation: Only one access_config supported per network_interface"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-01 16:12] edwardmedia commented on #9691
@hawksight I don't see any related changes in the release of v3.77.0. Are you able to repro with the resource only (not the module)?

[2021-08-01 16:20] edwardmedia commented on #9680
@rosmo your config contains more than one resources but how did you reach to that point just deleting one resource by calling `destroy`? `google_privateca_ca_pool` was referenced in other resources. Can you detail the steps to repro?

[2021-08-01 17:30] david-wb opened #9694 "google_firestore_index causes googleapi: Error 409: index already exists"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-02 11:04] cosmin-constantin-oprea-db opened #9696 "Apigee envgroup update not working"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-02 13:20] Lozmanov commented on #9419
Any updates here?
It's really sad, that it doesn't work right now for any providers (including beta version)...
I have to automate the creation of a dataproc cluster with metastore service right now...

[2021-08-02 13:57] OriBenHur commented on #9419
Me too, I'm using the api for the meantime.
But it's the only part at my ci that require me to do so.

[2021-08-02 14:03] gor-obr opened #9697 "Add support for Composer PUPI flag"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-02 14:09] gor-obr opened #9698 "Add support for Composer IP masq agent flag"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-02 14:09] gor-obr commented on #9698
I wish to work on this item.

[2021-08-02 15:29] rileykarson commented on #9691
We saw this failure in our CI as well, it seemed ephemeral. We got back 500 errors from GKE for a couple hours, and handled them less well than we could, I think the at the retry transport layer (but it's worth double checking logs). I saw no reason to suspect `3.77.0` explicitly- no related changes I am aware of.

[2021-08-02 15:41] Lozmanov commented on #9419
If you want to use your own binary provider, you can use my diff: https://pastebin.com/zABRMBj8
Works as expected.

[2021-08-02 16:22] #8200 closed

[2021-08-02 16:26] c2thorn commented on #9533
closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/4999

[2021-08-02 16:26] #9533 closed

[2021-08-02 16:47] megan07 commented on #9509
Hi @atrauzzi - Yes! You can use the PGP key published on our [Security page](https://www.hashicorp.com/security.html) or [Keybase](https://keybase.io/hashicorp) to encrypt your logs, then attach them here. Thanks!

[2021-08-02 17:40] calexandre commented on #5311
We also need this feature! 👍

[2021-08-02 18:23] slevenick commented on #9684
b/195009432

[2021-08-02 18:24] #9501 closed

[2021-08-02 18:28] melinath opened #9700 "Add unit tests for customize diff / diff suppress funcs"
Many of our diff suppress funcs and customize diff funcs may not be unit tested. We want to go through them, find any that are missing unit tests, and add unit tests for them. This is time boxed as a medium.

[2021-08-02 19:12] c2thorn commented on #9660
Hi @jdub55,

Can you specify which fields from the API resource https://cloud.google.com/dialogflow/es/docs/reference/rest/v2/Agent you are specifically requesting? Can what you are wanting to do be done with the fulfillment resource? https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/dialogflow_fulfillment

[2021-08-02 19:17] #9606 closed

[2021-08-02 19:48] nphilbrook commented on #9631
Based on my experience filing the bug you referenced here, there is a pretty common pattern that if you access the `project` or `project_id` attribute of a TF google resource, it will return it in the format `projects/{{ project_id }}`, but this format does NOT work as an input for most resources.

[2021-08-02 21:15] #8133 closed

[2021-08-02 21:17] rrmestl-cx commented on #8470
Hello... is there an update to this feature request ?!?!?!

[2021-08-02 22:22] jamesvnz commented on #9151
This is quite an important item to have a data source for. It's very common to have artifact repositories shared across projects / folders / orgs.

Given that Artifact Repository is positioned as the replacement / migration path for Container Registry, we need to have parity with Container Registry, which has a data source.

[2021-08-02 23:18] paul-nelson-baker commented on #6609
I had to do this conditionally for only some Composer Environments.

[code]

[2021-08-03 00:32] #8738 closed

[2021-08-03 05:57] brianmori opened #9708 "GKE Node Pool and Compute Backend Service association"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-03 08:16] rosmo commented on #9680
@edwardmedia ah, sorry, copy-paste error. I've updated the original comment to reflect the full steps.

[2021-08-03 08:26] frytg commented on #9691
I've had a similar problem where last week our dev setup for the cluster worked perfectly, but this week when trying to replicate the exact same config to prod it failed with a timeout bug in TF after 25sec.

Helpful was inspecting the GCP Logs (filter by `"your-cluster-name" resource.type="gke_cluster"`) where it logs both the full request and few seconds later an error:

[code]

So I tried posti

[2021-08-03 09:37] amaioli commented on #9708
👍

[2021-08-03 12:05] rbabyuk commented on #9169
hi @edwardmedia , I can confirm that with newer google provider it's ok

[2021-08-03 12:05] #9169 closed

[2021-08-03 12:58] vdobler commented on #9521
@edwardmedia You write

What does "unreplicate" mean here? How would you do that with terraform? Does this mean we have to change the `resource "google_bigtable_instance"` to just one cluster first?

[2021-08-03 13:04] atrauzzi commented on #9509
Oy... this is getting ridiculously convoluted.  I don't use any of that.

Is there any reason why we can't just do a screen share and I can show this problem happening? It would be a lot quicker and less hassle.

[2021-08-03 14:51] edwardmedia commented on #9691
@hawksight can you repro? Please post the debug log if you can.

[2021-08-03 15:02] megan07 commented on #9509
I'm sorry it seems convoluted. Unfortunately, those are your options for sharing your debug logs with us per our workflow. We like to keep all of our communications public for the benefit of other users. This is an open source project and support is offered on a best effort basis. If you're a Terraform Cloud or Enterprise customer, you may open a ticket with HashiCorp support and they will help yo

[2021-08-03 15:28] #9509 closed

[2021-08-03 15:29] atrauzzi commented on #9509
I think this ticket will serve better at this point of how this revolving door triage process can create blind spots.  I can assure you something is wrong here with such a simple data provider.

But I have no clue how to make you guys aware of it.

[2021-08-03 15:39] edwardmedia commented on #9680
@rosmo are you able to re-create a CA with the same name after `destroy`? Some of GCP resources keep the name in place for a certain time even they are `deleted`. If this is the case for CA, that could explain why `google_privateca_ca_pool` can not be deleted as you see. Let me know if you see it differently.

[2021-08-03 15:51] edwardmedia commented on #9677
@menzbua do you noticed below error in your log? The account `961917372153` does not appear in any other places which make me hard to guess. Does it tell you something?

[code]

[2021-08-03 15:52] rrmestl-cx opened #9709 "google_monitoring_alert_policy missing notify_on_incident_closure functionality"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-03 17:51] edwardmedia commented on #9653
@MuriukiPM can you post the debug for the gcloud command execution?

[2021-08-03 18:13] brianmori opened #9712 "Compute Instance Groups Datasource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-03 18:20] #9126 closed

[2021-08-03 18:56] melinath commented on #8501
You'll also need to modify the code I just added in https://github.com/GoogleCloudPlatform/magic-modules/pull/5026 and https://github.com/GoogleCloudPlatform/magic-modules/pull/5030 - we will need to recognize changes to the go.mod file as triggering test runs.

[2021-08-03 19:01] jdub55 commented on #9660
There is a process when setting up Dialogflow to configure mTLS https://cloud.google.com/dialogflow/es/docs/fulfillment-mtls

Looking for this process to be implemented for definition within Terraform. If I'm understanding correctly, this functionality does not yet exist within the current Dialogflow / Terraform resources.

[2021-08-03 20:12] rileykarson commented on #9664
I'm not confident this actually works, as indicated by the API request/response pair in https://github.com/GoogleCloudPlatform/magic-modules/pull/5008#issuecomment-892132674. The API should be returning the user's set values.

[2021-08-03 20:47] cmacfarl opened #9714 "Provide a ML data source for the getConfig() method."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-03 21:37] ScottSuarez commented on #9692
ref: consider. promoting in fix of this bug https://github.com/hashicorp/terraform-provider-google/issues/9690

[2021-08-03 21:42] ScottSuarez commented on #9694
Can you help me understand your workflow to encounter this issue.

If you run terraform apply to create an index the index should exist in state. Running a subsequent apply won't create a new index.

If you are creating a new index with the same parameters as a previously created one. It could be that the api does not allow duplicate indexes to be created. If this is the case you may need to impor

[2021-08-03 22:04] #9599 closed

[2021-08-03 22:56] edwardmedia commented on #9631
`projects/projects` is not the reason causing this issue. If you look at the result, actually all resources are created at the end. But likely due to the failure in the health check, `google_compute_region_instance_group_manager` is marked as `tainted` which leads to the `timeout`.

[2021-08-03 22:56] edwardmedia commented on #9631
https://github.com/hashicorp/terraform-provider-google/issues/2447

[2021-08-03 23:13] ScottSuarez commented on #9696
confirming with `apigee` team who added support for this feature

[2021-08-03 23:17] edwardmedia commented on #9600
@asodja closing this then. Thanks for checking

[2021-08-03 23:17] #9600 closed

[2021-08-03 23:18] ScottSuarez commented on #9698
cool @gor-obr

So feel free to make these changes locally but when you are ready to commit make a pull request upstream against our repository and tag me on the change!

To work locally you can add the field to the resource here
https://github.com/hashicorp/terraform-provider-google/blob/master/google/resource_composer_environment.go

Then when you are ready to upstream you can make the changes to

[2021-08-03 23:19] ScottSuarez commented on #9700
not this may require adding wrapper functions for existing diff suppresses

[2021-08-03 23:23] ScottSuarez commented on #9708
Could you clarify the configuration as to specifically what you are trying to provide another option to. I'm not very familiar with this resource so it's hard to understand the ask from the configuration and the followup.

[2021-08-03 23:29] ScottSuarez commented on #9712
note: existing feature in AWS parity match request

[2021-08-04 00:09] #9451 closed

[2021-08-04 01:07] generalpiston opened #9719 "Settings version must be provided"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-04 01:30] jinlinux opened #9720 "Add support for GKE Cloud DNS"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-04 03:09] david-wb commented on #9694
Yes that's exactly the problem. A subsequent apply is trying to create a new index and thats causing the error. @ScottSuarez

[2021-08-04 07:50] hawksight commented on #9691
@edwardmedia I tried to recreate this yesterday on 3.77.0 and everything worked in the following:
- Calling the resource individually
- Calling my existing module with the same config as before

I'm happy to put this down to a temporary glitch or issue on the google API maybe? Perhaps my timing was just unlucky.
It does seem to all work now, for me at least :)

Thank you for the really quick respo

[2021-08-04 08:18] rosmo commented on #9680
@edwardmedia Yeah, I'm pretty sure this has most likely to do with the underlying API than TF. The certificate authority shows up in a deleted state:

[code]

Per documentation, there is a 30 day grace period before it's actually deleted. I do wonder what's the correct approach that a Terraform provider should take.

[2021-08-04 08:26] jkrueger-jaconi commented on #9720
Looks like a duplicate of #9494

[2021-08-04 08:56] menzbua commented on #9677
@edwardmedia no, i don't know this account and i don't know where it comes from. I think i will create a new project and check if default service account data is working there.

[2021-08-04 09:38] briantopping commented on #4645
@rileykarson Is #5948 the kind of issue that you were once looking for in your last comment?

I'm also running into this issue, a cluster and compute resources including GKE and auto-created load balancers created via `terraform apply` will not completely succeed in `terraform destroy` unless the firewall rules are manually deleted in console first. `terraform import` seems to be the only solution

[2021-08-04 13:48] upodroid commented on #8031
Can we also remove `https://www.googleapis.com/auth/cloud-identity` scope too?

Cloud Identity API works with the cloud-platform. Noticed this while working on unrelated task.

https://developers.google.com/identity/protocols/oauth2/scopes#cloudidentity

[code]

[2021-08-04 14:38] wheukels opened #9721 "Refreshing google_sql_user resource fails if database instance is deleted outside Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-04 15:18] #9147 closed

[2021-08-04 16:21] dv-stephen commented on #9594
I'm experiencing the same problem. Debug log is here: https://gist.github.com/dv-stephen/0216e431e6e1b7e9677b1769cf3022e2

[2021-08-04 16:28] c2thorn commented on #9660
Hi @jdub55,

Generally we are limited to the functionality of what the Dialogflow REST API exposes. I cannot find a field or request method that enables this process in https://cloud.google.com/dialogflow/es/docs/reference/rest/v2-overview. If you know how this could be implemented via the REST API let me know.

[2021-08-04 16:30] edward2a commented on #9594
Hi all, I think I was tagged by mistake?

On Wed, 4 Aug 2021, 17:22 dv-stephen, ***@***.***> wrote:

[2021-08-04 16:32] dv-stephen commented on #9594
@edward2a Whoops, yes. Sorry!

/cc @edwardmedia

[2021-08-04 16:34] rileykarson commented on #9657
Internal bug for Googlers' reference: b/194934028

[2021-08-04 16:37] rileykarson opened #9722 "Handwritten GCE resources send requests to `projects/projects/{{project}}`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-04 16:44] rileykarson commented on #9631
@dv-stephen: While https://github.com/hashicorp/terraform-provider-google/issues/9657 isn't directly related (the problem there is that the user specified the wrong format and the API is behaving badly)  you're correct that Terraform is incorrectly sending requests to `projects/projects/{{project}}` despite the correct value being in use in your config.

I've spun out https://github.com/hashicorp/

[2021-08-04 17:43] edwardmedia commented on #9721
@wheukels I don't think this can be fixed. There is a discussion [here](https://github.com/hashicorp/terraform-provider-google/issues/7810) . Please go over it to see if that make sense?

[2021-08-04 17:51] edwardmedia commented on #9680
@rosmo that is right. Due to the fact that API control the behavior, I don't think there is a `good` way on Terraform side that can handle this seamlessly. You may run `destroy` again after the grace period is over.
Closing the issue then. Thank you for reporting this

[2021-08-04 17:51] #9680 closed

[2021-08-04 17:56] edwardmedia commented on #9719
@generalpiston where did you see you can do without that `Settings version.`?

[2021-08-04 18:01] edwardmedia commented on #9691
@hawksight I am glad it works. Closing the issue then

[2021-08-04 18:03] edwardmedia commented on #9631
@ScottSuarez how do you want to resolve this?

[2021-08-04 18:14] edwardmedia commented on #9521
@krathow your [config](https://github.com/hashicorp/terraform-provider-google/issues/9521#issue-939515320) appears not valid. Can you post a testable one and its debug log so I can take a close look?

[2021-08-04 18:17] Sytten commented on #9614
Is it possible to get some priority on this bug, seems like there are a few issues related to that problem and it is known since may :/

[2021-08-04 18:27] sorenhansendk opened #9723 "google_sql_user - "Root resource was present, but now absent.""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-04 18:34] edwardmedia commented on #9601
@red8888 can you share the config code and the debug log?

[2021-08-04 18:53] edwardmedia commented on #9628
@VikramVasudevan sorry for the delayed response. Using your config, it is fine with me for the regions that did not work for you. You were receiving the `error 403` from API. Have you checked the Terraform executor to see if it has permission to those regions?

[code]

[2021-08-04 19:02] melinath commented on #8501
no, https://github.com/GoogleCloudPlatform/magic-modules/pull/5032 is specific to terraform-google-conversion, so it will not use the same go.mod file as the providers.

[2021-08-04 19:05] edwardmedia commented on #9723
@sorenhansendk can you share your debug log? With `var` in your config, we can only guess. Can you provide its data as well?

[2021-08-04 19:14] generalpiston commented on #9719
@edwardmedia Apparently setting a version is deprecated...

[code]

[2021-08-04 19:27] edwardmedia commented on #9719
@generalpiston that [change](https://github.com/hashicorp/terraform-provider-google/issues/9719#issuecomment-892906633) is in Terraform core. The [error](https://github.com/hashicorp/terraform-provider-google/issues/9719#issue-959733113) you received is a separate thing, right? Can you detail what exact issue you are trying to resolve?

[2021-08-04 19:29] brianmori commented on #9708
Hi @ScottSuarez

I am not sure I understood :) I explain what is the objective of the issue

I wish to deploy GKE and the Google Load Balancer with Terraform. The goal is to expose web applications to the internet or internal network.

An approach is to use [Ingress](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress) which provisions a LB.

I prefer to provision the Load Balancer wi

[2021-08-04 19:30] edwardmedia commented on #9677
@menzbua yes, please post the result in a fresh project

[2021-08-04 19:32] generalpiston commented on #9719
@edwardmedia There error is in the issue description. When I try to apply the above configuration, I get the following error:

[code]

 I solved the error by adding `version` to the google provider like so:

[code]

However, that's deprecated, apparently.

I get that the change is in Terraform core, but shouldn't the google provider respect it moving forward?

[2021-08-04 19:33] shuyama1 commented on #8501
Got it! Thanks.

[2021-08-04 21:35] edwardmedia commented on #9623
@arivictor closing assuming this is no longer an issue

[2021-08-04 21:35] #9623 closed

[2021-08-04 21:44] salrashid123 opened #9724 "Support X-Goog-Request-Reason system parameter"
`X-Goog-Request-Reason` header is a [google api system property](https://cloud.google.com/apis/docs/system-parameters) which alows a user to define an arbitrary "reason" for the api request.  This reason is a user-defined text field that shows up in audit logs

for more information, see
 - https://github.com/salrashid123/request_reason

the usecase for this is to embed a jira ticket number or comm

[2021-08-05 00:02] ScottSuarez commented on #9694
Cool ! I'll try to reproduce on my end

[2021-08-05 00:23] ScottSuarez commented on #9694
could you provide some logs as a github gist? With both actions, first apply and second apply provided
you can set
[code]

to collect them

If you set a final fields block to
[code]
it should unblock you while i work on a fix

[2021-08-05 00:23] arimaverick opened #9726 "How to use topics and rotation period in google_secret_manager_secret?"
How can I use pub sub topics in google_secret_manager as it seems cannot recognize the topics block? I am trying to implement the following link: https://cloud.google.com/secret-manager/docs/event-notifications#add_topics

resource "google_secret_manager_secret" "secret_1" {
  secret_id = "secret_1"
  project = var.project_id
  replication {
    user_managed {
      replicas {
        location = v

[2021-08-05 06:23] omgMath opened #9727 "Add maintenance_policy / maintenance_schedule support for google_redis_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-05 07:22] wheukels commented on #9721
Thank you @edwardmedia, I did not find this issue earlier but is indeed basically indentical.

[2021-08-05 07:22] #9721 closed

[2021-08-05 10:26] apstndb commented on #2605
Cloud Monitoring workspace is renamed to metrics scope and the API is in Public Preview.
https://cloud.google.com/monitoring/settings/manage-api

[2021-08-05 12:12] menzbua commented on #9677
Hi @edwardmedia,

with the new project the issue is solved. Something went wrong with the service accounts for the old project.

Thanks for your help.
Regards
Manuel

[2021-08-05 12:36] dmnfortytwo opened #9728 "google_storage_transfer_job lacks folders support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-05 14:11] dgulli opened #9729 "Please add "name" as an attribute to the data source: kms_crypto_key_version"
Hi, it would be great if we could get the key of "Name" for kms_crypto_key_version - The API supports it, but the terraform does not. this would provide a full name (rather than ID) such as projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*.
which in turn, is needed for the new GCP CAS (formally PrivateCA) when it asks for a KMS key version in the above expected path when using a C

[2021-08-05 14:27] Valen-Sentrosi opened #9730 "No way to enable GCS Service Agent?"
I'm currently working on a module to create a google_project with a built in KMS keyring. As part of this I:

1. Create the project using "google_project"
2. Enable services (storage and kms) using "google_project_service"
3. Create a key & keyring using "google_kms_key_ring" and "google_kms_crypto_key"
4. Add permissions to the GS Service Agent using "google_project_iam_member" (service-${project

[2021-08-05 15:02] Valen-Sentrosi commented on #9730
This is solved by utilising storage_project_service_account data item:

https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/storage_project_service_account

[2021-08-05 15:02] #9730 closed

[2021-08-05 16:24] edwardmedia commented on #9677
@menzbua  Cheers! Closing the issue then

[2021-08-05 16:24] #9677 closed

[2021-08-05 16:45] rileykarson commented on #2605
Oh, yep, we're working with https://github.com/GoogleCloudPlatform/declarative-resource-client-library to make that available, and add that to the provider.

[2021-08-05 17:38] btleedev opened #9731 "Allow GCE instance to resume create after interruption"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-05 17:54] rileykarson commented on #4645
@briantopping: No idea unfortunately, it's been a long time since then. Not sure I still have the bug kicking around, either.

We're unlikely to implement deletes of that sort at the provider level, but would gladly expose them if the API chose to do so.

[2021-08-05 18:16] briantopping commented on #4645
@rileykarson Sure, completely familiar with that feeling!

One thing to note is when a network is destroyed in the GCP console, it gives a warning dialog that additional resources including firewalls will be deleted in a cascaded delete. So if the behavior of the plugin were to mirror the console, it would delete those resources too. I've noticed there's a daemon rebuilding the resources in real t

[2021-08-05 18:41] rileykarson commented on #4645
@briantopping: Ack, yeah, it doesn't leave users in a great spot. We're calling GCE Network's delete API (https://cloud.google.com/compute/docs/reference/rest/v1/networks/delete) where the Console's behaviour isn't supported. I'd love to have parity w/ the Console, but implementing the entire behaviour clientside is a heavy cost- lots of code, hard to meaningfully handle errors, and likely to caus

[2021-08-05 19:38] briantopping commented on #4645
Thanks @rileykarson, I totally understand. I'm a long time FOSS contributor and have offered users a lot of "100% money back guarantees". It's a little tricky to communicate on Terraform due to all the issues being locked after 30 minutes, just sharing what I can with this rare opportunity to do so. Thanks for all your hard work!

[2021-08-05 20:56] tomgr commented on #9723
I've just run into this as well. I think the bug is here:
https://github.com/hashicorp/terraform-provider-google/blob/08c6e27356b850bf0b6417cc19522efff69b3735/google/resource_sql_user.go#L189-L201

When running terraform with TF_LOG=debug, the request response is:
[code]
(values replaced). Note that the name is `xxxxxx@yyyyy.iam` as it needs to be for a cloud iam service account, but the above cod

[2021-08-05 22:39] edwardmedia commented on #9723
@tomgr is the chopped `name` saved / used anywhere besides the comparison with `currentUser`?

@tomgr @sorenhansendk  can you provide the debug log and the steps to repor the issue?

[2021-08-05 22:42] OriBenHur commented on #9419
Nice, thank you

[2021-08-05 23:53] ScottSuarez commented on #9708
cool ! I think I get the topic now.

`google_container_node_pool` exposes node pool urls but these are the managed instances. You want to expose the underlying instance beneath that? correct? or allow named port to accept either value.

For the first option we won't support it since [the api](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.zones.clusters.nodePools \) doe

[2021-08-06 00:11] ScottSuarez commented on #9631
We could expose a new field such as `wait for statuses`. This would allow the user to specify any number of statuses that they might want to wait for/on. I don't think accepting unhealthy states in `wait_for_instances_status` should be default behavior. Although I'm open to argumentation on why this should be the case.

[2021-08-06 00:29] ScottSuarez commented on #9631
Revision of my previous ask after reading more into the resource.

Could you help me understand how to know when an instance is unhealthy and will never reach a stable state. I'm not very familiar with the health checks but it seems to be apart of `autoHealingPolicies[].healthCheck` which seems to infer some automatic resolution to this unless there is somewhere else a `healthCheck` is visible.

I

[2021-08-06 00:43] ScottSuarez commented on #9631
If I understand correctly

I would need to iterate over each managed instance and verify that every single instance is in an unhealthy state.
https://cloud.google.com/compute/docs/reference/rest/v1/instanceGroupManagers/listManagedInstances
https://cloud.google.com/compute/docs/instance-groups/autohealing-instances-in-migs

Would there need to be a buffer here between making the change to IGM and

[2021-08-06 01:07] ScottSuarez commented on #9720
closing duplicate issue

[2021-08-06 01:07] #9720 closed

[2021-08-06 01:08] ScottSuarez commented on #9722
weeeeird

[2021-08-06 01:11] ScottSuarez commented on #9724
this is already supported
https://github.com/hashicorp/terraform-provider-google/issues/7578
https://github.com/hashicorp/terraform-provider-google/blob/38351f6997e3b5dee1be18f457db02e0a1a21eef/google/header_transport.go#L20-L22

[2021-08-06 01:12] ScottSuarez commented on #9724
Reopening I see you want to add it as a provider option.

[2021-08-06 01:27] ScottSuarez commented on #9726
topics block is working for me fine.

Which version of the terraform google provider are you using?
I would recommend updating

[code]

[2021-08-06 10:35] wrobelma commented on #9604
My issue #9663 was mostly a bug not an enhancement so it could be fixed faster then this issue just by allowing for a successful creation of a google_privateca_certificate_authority sub CA resource in an activation_pending state.

[2021-08-06 13:03] MuriukiPM commented on #9653
HI @edwardmedia See below the command and the debug log in a gist
[code]

Debug log
https://gist.github.com/MuriukiPM/d5c4f7ba2e1b37bf562b1264f1ea65c9

[2021-08-06 13:10] skorobogatydmitry opened #9735 "Can't replace (delete) google_privateca_certificate_authority due to ignore_active_certificates_on_deletion"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-06 13:35] skorobogatydmitry commented on #9735
It seems that it happens only for imported resources, as they have `ignore_active_certificates_on_deletion` set to `null`.
If change it in state to some, deletions passes.

[2021-08-06 13:50] Erouan50 commented on #9670
@ericyz I have different behavior. The creation works properly, like for example the following resource worked for me:

[code]

However, if update the filter with this value for example `filter = "state=\"ACTIVE\""`, I got the following error:

[code]

I this there is an issue during the update but not during the creation.

[2021-08-06 15:31] jalseth opened #9736 "Creating a google_service_account 404s"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-06 15:41] dv-stephen commented on #9631
@ScottSuarez I think the problem is that the `create` function invokes the `read` function -- they share the same logic. I believe the `create` logic works as expected: the resource should time out if the desired MIG state is never reached (in my case, `STABLE`). However, the `read` function should **not** require the MIG to be in any particular state, but should just **read** the current state of

[2021-08-06 15:46] edwardmedia commented on #9735
@skorobogatydmitry that is by design. Any more question / issue about this?

[2021-08-06 16:24] brianmori commented on #9708
I do not want to expose single instances because these can be created and destroyed.

What I need to do is to "link" the GKE Node Pools Managed Instances Groups to the Load Balancer Backend.

This will also Internet Traffic to reach the GKE Node Pools through the Load Balancer by exposing the Kubernetes Node Port and the MIGs port

I think there is a bug because the output of this

[code]

it does

[2021-08-06 16:59] #9395 closed

[2021-08-06 17:11] ScottSuarez commented on #9708
So terraform is actually just an interface for the api. The api

[2021-08-06 17:12] ScottSuarez commented on #9708
We'll talk about his issue in our triage

[2021-08-06 17:40] ScottSuarez commented on #9631
`read` normally doesn't require a state. `wait_for_instances` and `wait_for_instances_status` is what enables it to wait for the status to be green. If you don't use `wait_for_instances` and set it to false it should just shallowly apply the op and read the resource without waiting for the downstream manager to hit any particular state.

reading the resource after create is a normal pattern for te

[2021-08-06 17:53] dv-stephen commented on #9631
@ScottSuarez Yeah, that mostly makes sense; however, `read` should never prevent a terraform resource from being refreshed. Even with `wait_for_instances`, `read` shouldn't be polling and waiting for a resource state -- it should `read` the current state, regardless of what it is. I agree the reading/polling is necessary for `create` and `update`. Does that make more sense?

[2021-08-06 18:27] #9483 closed

[2021-08-06 18:34] skorobogatydmitry commented on #9735
@edwardmedia , could you explain a bit ?
It looks odd from design perspective that import command sets incorrect parameter to state what prevents from managing this resource, no ?

[2021-08-06 18:50] slevenick commented on #9736
You can solve this problem by referencing `  project    = google_project.tf_state.project_id` rather than `.id` directly.

It would be great for us to accept both forms in the future, but I wouldn't consider this a bug

[2021-08-06 18:55] sankit2020 commented on #9494
Please add support for "--cluster-dns" parameter within the API to create constianr cluster. Refer here for the example usage ---

$ gcloud alpha container clusters create "dnstest" \
  --zone "us-central1-c" \
  --release-channel rapid \
  --machine-type n2-standard-2 \
  --cluster-dns clouddns

[2021-08-06 19:03] jalseth commented on #9736
Thanks for the clarification! It should be relatively easy to implement a fix that accepts both, I'll do that if I have time.

[2021-08-06 19:03] #9736 closed

[2021-08-06 20:00] ScottSuarez opened #9739 "TestAccContainerCluster_withNodeConfig***"
empty kublet config is being returned and the deserialization library the team uses is not ideal

ref: b/195774588

`TestAccContainerCluster_withNodeConfig`

[2021-08-06 20:07] #9696 closed

[2021-08-06 20:56] #9682 closed

[2021-08-06 21:12] #9692 closed

[2021-08-06 21:13] hypsrizzari commented on #8521
I ran into this today, also destroying, but I was using `terraform plan -destroy -target ...`.  I'm using an impersonation token as well.  I get the proper plan, but when I apply, same error.

The data resource gets added to the state file, so the previous token used is already there in state.  It's been several hours, so that token expired, but I used target so the data source is not being refres

[2021-08-06 21:23] sankit2020 commented on #6471
Please also add support for PolicyDelegationSettings.

This bug should be linked : https://b.corp.google.com/issues/195649321

[2021-08-06 21:42] sankit2020 commented on #9729
Linked bug : https://b.corp.google.com/issues/195644022

[2021-08-06 21:43] drebes commented on #9604
This is not only about activation. The current code is broken as it always tries to enable/disable the CA independent of its type/state:

[code]
I've opened GoogleCloudPlatform/magic-modules#5055 to fix this, and get back to the previous pre-GA behavior of allowing the creation of the subordinate CA, but still requiring offline activation (as stated on the docs), which is acceptable by users since

[2021-08-07 00:20] edwardmedia commented on #9735
There are issues in this resource. By executing below import command, it launches the following request, which is wrong. Thank you @skorobogatydmitry for reporting this

[code]

[2021-08-07 00:31] ScottSuarez commented on #7593
The api doesn't support single field index.

If you hit the underlying api with such a request you should see an error.
[code]

[2021-08-07 00:59] edwardmedia commented on #9735
[code]

[2021-08-08 13:17] VincentW-LL opened #9742 "google_monitoring_notification_channel: Import creates invalid ID"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-08 13:25] VincentW-LL commented on #9742
Resolved by modifying file from:
[code]
to
[code]

[2021-08-08 13:25] #9742 closed

[2021-08-09 13:39] via-justa opened #9744 "for_each with condition is inverted on expiration_policy dynamic block"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-09 13:52] andrewrpalmer-sky opened #9745 "Support for the integration with Secret Manager in Cloud Run not actually added in PR #9073"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-09 15:03] ikegentz opened #9747 ""google_compute_firewall" Resource Should be Renamed to "google_compute_firewall_rule""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-09 15:42] edwardmedia commented on #9747
@ikegentz the Terraform provider usually try to align with the API. Below is the name of the Resource in its Doc.

https://cloud.google.com/compute/docs/reference/rest/v1/firewalls

Looking at the list of left navigation on this page. Making sense?

[2021-08-09 15:47] edwardmedia commented on #9745
@andrewrpalmer-sky Can you take a look at this issue? Is that related?

https://github.com/hashicorp/terraform-provider-google/issues/9441

[2021-08-09 15:55] jonesaaronj opened #9748 "google_cloudfunctions_function does not support setting dead letter queue on the topic"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-09 16:13] RayBB opened #9749 "Support REDIS_6_0 for memstore"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-09 16:30] c2thorn commented on #9641
Created an appscript that triggers daily to read the latest TC nightly runs. Couldn't find a straightforward way to dump the data into a DB for the dashboard, so currently writing to Sheets.

[2021-08-09 16:52] edwardmedia commented on #9521
@krathow is this still an issue?

[2021-08-09 16:53] edwardmedia commented on #9579
@terekete have your question been addressed?

[2021-08-09 16:55] edwardmedia commented on #9601
@red8888 closing this then assuming this is no longer an issue

[2021-08-09 16:55] #9601 closed

[2021-08-09 16:58] edwardmedia commented on #9723
@sorenhansendk is this still an issue?

[2021-08-09 17:00] edwardmedia commented on #8731
@KbLev is this still an issue?

[2021-08-09 17:02] upodroid commented on #9749
Hi Raymond

Terraform doesn't validate the redis_version field so you can put in REDIS_6_X now.

I have updated docs to mention that the updated values are noted in the API documentation.

Thank you

[2021-08-09 17:03] sorenhansendk commented on #9723
@edwardmedia Yes, if i upgrade to v3.78. I will send some debug logs later.

[2021-08-09 17:53] ikegentz commented on #9747
Makese sense - thanks!

[2021-08-09 17:53] #9747 closed

[2021-08-09 17:55] rileykarson commented on #9666
Regardless of documentation status, we should not have a panic no matter what- triaged back to bug

[2021-08-09 18:09] #9749 closed

[2021-08-09 18:29] ScottSuarez commented on #9631
@dv-stephen agreed. We shouldn't be doing this polling during read since it can result a broken refresh. I'll make the change to do this polling during create/update with an increased timeout.

[2021-08-09 18:59] rileykarson commented on #9712
See https://github.com/hashicorp/terraform-provider-google/issues/8255, the general issue for plural datasource support

[2021-08-09 19:04] sorenhansendk commented on #9723
@edwardmedia

**Configuration:**

<pre>
variable "iam_users" {
  type = list(string)
  default = [
    "my@email.com"
  ]
}

resource "google_sql_user" "iam_users" {
  for_each = toset(var.iam_users)

  name     = each.key
  type     = "CLOUD_IAM_USER"
  instance = google_sql_database_instance.postgres.name
}
</pre>

**Debug output:**

<pre>
-----------------------------------------------------: t

[2021-08-09 19:06] edwardmedia commented on #9653
@MuriukiPM can you post the log for below command instead?

[code]

[2021-08-09 19:38] sorenhansendk opened #9751 "google_sql_user - User always re-created if type is set to "BUILT_IN""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-09 19:47] vFawzi commented on #9653
I can confirm that I see same issue, worked from gcloud but in terraform it did not work, Terraform replace the  PROJECT-ID  (the project that have the machine image) variable in : ( source_machine_image = "projects/PROJECT-ID/global/machineImages/NAME" )

this variable get replaced during execution with PROJECT-ID= the project where new instance should be created , then you get error since the ma

[2021-08-09 19:57] slevenick commented on #9714
Hey @cmacfarl I'm not super familiar with this API, but we have a resource that serves a similar function in [google_project_service_identity](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/project_service_identity).

Does that work for your use case? It lets you set up a service account for a GCP service via a single resource.

[2021-08-09 20:58] upodroid commented on #9729
I have submitted a patch.

In the interim, the following should work:

[code]

@rileykarson Patching the datasource won't actually be that helpful. There will still be a point in time where the cryptoKeyVersion is unknown in terraform especially if the Cryptokey and the CA are being created simultaenously which is rather common.

The example of the OP requires two applies for it work properly. Unl

[2021-08-09 21:04] upodroid commented on #2689
@rileykarson We can close this. It has been implemented in https://github.com/GoogleCloudPlatform/magic-modules/pull/1205

[2021-08-09 21:13] upodroid commented on #9708
A similar thing was asked a while back in #2373

Also, you want to use Kubernetes Service resource to create these loadbalancers instead of manipulating the loadbalancers components manually. Remember, the GKE nodes are managed instances that are blackboxes to endusers and you may have a poor experience with your approach.

You can create ServiceType Loadbalancer in Kubernetes and Google will prov

[2021-08-09 21:58] tsdalton opened #9753 "Incorrect documentation: google_compute_instance.advanced_machine_features"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-09 22:27] cmacfarl commented on #9714
Thanks for the response @slevenick.

It's not clear that google_project_service_identity serves my use case.  Reading of the documentation seems to indicate that it _generates_ a service account, and what I actually want is the google managed TPU service account attached to the cloud-ml service account as in the json output above.

At any rate, I went ahead and cranked out a trivial provider.

htt

[2021-08-09 22:42] slevenick commented on #9714
Generally the `google_project_service_identity` resource generates *or* gets the service account for a particular service. I would be curious if it returns the same result as the `getConfig` method you linked, but I don't know if it will

[2021-08-09 22:43] #2689 closed

[2021-08-09 22:55] cmacfarl commented on #9714
Yeah, I dropped that resource in a tf file and ran terraform apply against ml.googleapis.com and since it's a resource the plan said it would have the value of the email attribute after it applied the change.  But I didn't want to change the state of my project, so I cancelled the apply.  I suspect however that it would just return the outer cloud-ml email address and not the cloud-tpu email addre

[2021-08-09 22:56] edwardmedia commented on #9753
Besides the doc, below two places in code could be updated too.

https://github.com/hashicorp/terraform-provider-google/blob/58f376b1bb2d610e7d57aeb92815032f8334e425/google/resource_compute_instance.go#L1306

https://github.com/hashicorp/terraform-provider-google/blob/58f376b1bb2d610e7d57aeb92815032f8334e425/google/resource_compute_instance.go#L1747

[2021-08-10 01:00] jcanseco opened #9755 "google_cloud_build_trigger filter field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-10 05:57] akshay-dhote-db opened #9756 "Add support for DLP Hybrid inspect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-10 11:48] krathow commented on #9521
@edwardmedia - sorry my dummy code wasn't working. I've updated it above.

The error is still persistent there.

[2021-08-10 12:30] alx-andru opened #9757 "Predict service_id in endpoints_service fixed to timezone "America/Los_Angeles""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-10 15:04] kliu47 opened #9758 "Ability to provide service directory region when generating private service connect (PSC) IP's and forwarding rules for Google APIs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-10 16:27] megan07 commented on #9700
I was able to complete 8 unit tests for diff suppress functions. I didn't look into any of the customize diff ones.

Here is a list of the others that still need unit tests:

- storage_bucket_object.detect_md5hash (this one is inline, so we'd have to break it out if we wanted a unit test for it)

- authHeaderDiffSuppress
- cidrOrSizeDiffSuppress
- cloudrunAnnotationDiffSuppress
- cloudrunLabelDiff

[2021-08-10 16:27] #9700 closed

[2021-08-10 16:41] sankit2020 opened #9759 "Resource: Service Control IAM Policies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-10 17:14] #9604 closed

[2021-08-10 17:17] villesau opened #9760 "Importing IAM service account to google_sql_user fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-10 17:50] edwardmedia commented on #9757
@alx-andru can you provide a `swagger.json` and the debug log ([how](https://www.terraform.io/docs/internals/debugging.html)) ?

[2021-08-10 18:31] #9729 closed

[2021-08-10 19:02] rileykarson opened #9763 "Magician lint step succeeds even if there's an error"
See https://console.cloud.google.com/cloud-build/builds;region=global/778717a0-39cd-44b0-b031-f335221e0f10;step=25?project=graphite-docker-images, https://github.com/GoogleCloudPlatform/magic-modules/pull/5055 which shows a passing TPG lint check

[code]

[2021-08-10 20:55] #9455 closed

[2021-08-11 00:23] #9586 closed

[2021-08-11 01:22] sehgalnamit opened #9766 "flink job deployment on GCP Dataproc"
We would like to deploy flink job on dataproc based on GCP Documentation [Dataproc Flink Component  |  Dataproc Documentation  |  Google Cloud|https://cloud.google.com/dataproc/docs/concepts/components/flink]
Dataproc Flink Component  |  Dataproc Documentation  |  Google Cloud

As per docs , our current terraform module is not supporting FLINK Optional Component

software_config_optional_component

[2021-08-11 02:45] sho-abe opened #9767 "Add support IAM policy for the Environment of Apigee X"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-11 08:14] gavinreaney commented on #9442
I have the same issue.

In my case I am upgrading from terraform 0.13.7 to 1.0.4.

It seems that the previous state file has a metadata block, but we don't have that explicitly in our config.

[code]

Somehow the switch to 1.0.4 is trying to remove that metadata block from the state. A workaround is probably for us to add this metadata explicitly to our config or perhaps an ignore block.

[2021-08-11 08:29] onuruluag opened #9768 "google_bigquery_job re-run after 6 months"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-11 09:38] huang-jy opened #9769 "google_compute_backend_bucket/google_compute_url_map -- Dependency missing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-11 09:40] PatrykGala opened #9770 "google_storage_bucket_object add timeout support"
### Description

Add operation timeouts[1] for `google_storage_bucket_object`.

With large files the resource is timed out after 2 mins.

### New or Affected Resource(s)

* google_storage_bucket_object

### References

* https://www.terraform.io/docs/language/resources/syntax.html#operation-timeouts

[2021-08-11 11:33] itspngu commented on #9760
This also happens for "actual" IAM users which aren't service accounts.

[2021-08-11 11:35] villesau commented on #9723
I've experienced similar issues when importing resources: https://github.com/hashicorp/terraform-provider-google/issues/9760

I believe that the `@` is the culprit in that case too.

[2021-08-11 11:48] villesau commented on #9760
I believe that pinning the terraform version to `3.77.0` might help. It helped with #9723 at least.

[2021-08-11 12:37] alx-andru commented on #9757
Hi @edwardmedia , the `swagger.json` is fairly simple and deployments in general work. You can see the schema I used to test here https://gist.github.com/alx-andru/88947d8944d016722635404dbd9b7f1e

I'll try to reproduce it in debug mode tonight, setting my local time didn't result in the desired output I shared above.

[2021-08-11 12:43] tSte commented on #9505
@slevenick is there any update on this?

[2021-08-11 13:23] itspngu commented on #9760
Can confirm that pinning to 3.77.0 did let me import IAM Cloud SQL users.

Also forgot to mention in my first comment that this bug in fact breaks existing configurations, because the provider can not find accounts on the instance, tries to create them, and eventually complains about not finding the accounts it just "created".

[2021-08-11 13:45] djsmiley2k commented on #7309
Any advice on how to achieve this easily?

[2021-08-11 15:40] edwardmedia commented on #9769
@huang-jy from the symptom you described, similar behavior could happen to other resources. There are several ways in Terraform that might help. Besides [depend_on](https://www.terraform.io/docs/language/meta-arguments/depends_on.html), you may also add `sleep` logic between the resources. Does this make sense?

[2021-08-11 15:43] huang-jy commented on #9769
Yes, depend_on was one option I considered, but even the Terraform documentation says that it should be a last resort.

How would `sleep` logic help in this case?

My understanding is that Terraform _should_ be able to infer dependencies between resources itself without us having to explicitly say "A before B"

[2021-08-11 15:48] edwardmedia commented on #9769
@huang-jy Some resources may take extra long time to complete even its api reports `done`. In such case, there is not much the provider can do. here is an example about using `sleep`. Please take a look and let me know if that help

https://github.com/hashicorp/terraform-provider-google/issues/6377#issuecomment-628978514

[2021-08-11 15:59] edwardmedia commented on #9757
@alx-andru waiting for your debug log

[2021-08-11 16:36] #9564 closed

[2021-08-11 17:06] cakoose opened #9771 "google_cloud_run_service: `status` field should have `MaxItems` set to 1"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-11 17:16] edwardmedia commented on #9653
I see now what the problem is.

[2021-08-11 18:24] jlosito opened #9772 "Ability to lock logging buckets via google_logging_project_bucket_config resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-11 19:13] #9430 closed

[2021-08-11 19:43] ScottSuarez opened #9775 "use previous vcr run if no changes to downstream pr"
Sometimes the vcr will kick off, complete but the cloudbuild op will timeout so the subsequent vcr steps of rerunning tests that failed in replaying mode never gets initiated. In this case the user can rerun the tests using `/gcbrun` but the generate-diff function will blindly rerun the same suite, and possibly encounter the same issue. I encourage our CI to intelligently detect if the previous vc

[2021-08-11 21:05] #8501 closed

[2021-08-11 21:36] rileykarson commented on #9731
See https://github.com/GoogleCloudPlatform/magic-modules/pull/5043#issuecomment-897170892

[2021-08-11 21:36] #9731 closed

[2021-08-11 22:07] villesau commented on #9760
@megan07 @slevenick this PR https://github.com/GoogleCloudPlatform/magic-modules/pull/4984 likely caused this and #9723

[2021-08-11 22:24] g-nikolay opened #9780 "google_compute_router_interface deployment is failing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-11 22:47] edwardmedia commented on #9771
@cakoose below is the api that defines what `status` contains. I don't see `MaxItems` available in the block. Can you provide the Terraform execution debug log or the source that leads you to think it is the case?

https://cloud.google.com/run/docs/reference/rest/v1/namespaces.services#ServiceStatus

[2021-08-11 22:55] #9735 closed

[2021-08-11 23:30] ScottSuarez opened #9782 "Fix import for `google_api_gateway_api`"
`google_api_gateway_api`

will fix the following test(s)
`TestAccApiGatewayApi_apigatewayApiFullExample`
`TestAccApiGatewayApi_apigatewayApiBasicExample`

### References

* https://github.com/GoogleCloudPlatform/magic-modules/pull/5072

[2021-08-11 23:32] ScottSuarez opened #9783 "Fix import for `google_essential_contacts_contact`"
`google_essential_contacts_contact`

will fix the following test(s)
`TestAccEssentialContactsContact_essentialContactExample `

### References

* https://github.com/GoogleCloudPlatform/magic-modules/pull/5072

[2021-08-11 23:33] ScottSuarez opened #9784 "Fix import for `google_firebase_project`"
`google_firebase_project`

will fix the following test(s)
`TestAccFirebaseProject_firebaseProjectBasicExample `

### References

* https://github.com/GoogleCloudPlatform/magic-modules/pull/5072

[2021-08-11 23:33] ScottSuarez opened #9785 "Fix import for `google_api_gateway_api_config`"
`google_api_gateway_api_config`

will fix the following test(s)
`TestAccApiGatewayApiConfig_apigatewayApiConfigFullExample`
`TestAccApiGatewayApiConfig_apigatewayApiConfigBasicExample`

### References

* https://github.com/GoogleCloudPlatform/magic-modules/pull/5072

[2021-08-11 23:35] ScottSuarez opened #9786 "Fix import for `google_os_config_guest_policies`"
`google_os_config_guest_policies`

will fix the following test(s)
`TestAccOSConfigGuestPolicies_osConfigGuestPoliciesPackagesExample`
`TestAccOSConfigGuestPolicies_osConfigGuestPoliciesRecipesExample`

### References

* https://github.com/GoogleCloudPlatform/magic-modules/pull/5072

[2021-08-11 23:35] ScottSuarez commented on #9786
probably just need to ignore reads here

[2021-08-11 23:36] ScottSuarez opened #9787 "Fix import for `google_service_usage_consumer_quota_override`"
`google_service_usage_consumer_quota_override`

will fix the following test(s)
`TestAccServiceUsageConsumerQuotaOverride_consumerQuotaOverrideZeroValueExample `

### References

* https://github.com/GoogleCloudPlatform/magic-modules/pull/5072

[2021-08-11 23:36] ScottSuarez opened #9788 "Fix import for `google_vertex_ai_featurestore`"
`google_vertex_ai_featurestore`

will fix the following test(s)
`TestAccVertexAIFeaturestore_vertexAiFeaturestoreExample`

### References

* https://github.com/GoogleCloudPlatform/magic-modules/pull/5072

[2021-08-11 23:37] ScottSuarez opened #9789 "Fix import for `google_api_gateway_gateway`"
`google_api_gateway_gateway`

will fix the following test(s)
`TestAccApiGatewayGateway_apigatewayGatewayBasicExample`
`TestAccApiGatewayGateway_apigatewayGatewayFullExample`

### References

* https://github.com/GoogleCloudPlatform/magic-modules/pull/5072

[2021-08-12 00:12] sankit2020 opened #9790 "Support Shared Reservations with Terraform (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-12 00:46] ScottSuarez opened #9791 "magician dropping a test in ci run"
I think the magician is dropping a test when it sends a request to teamcity

The magician ran tests against teamcity where four tests failed https://ci-oss.hashicorp.engineering/viewLog.html?buildId=200502&

Then in it's subsequent run it only decided to run three of those four failed tests
https://pantheon.corp.google.com/cloud-build/builds/0f8f8904-9d78-41b9-9e2c-50d70ba9a3fb;step=26?project=gra

[2021-08-12 03:56] alx-andru commented on #9757
Hey @edwardmedia I was able to reproduce it tonight and have piped the output into a log file which is here:

https://gist.github.com/alx-andru/13efcfab732cc799de7f47e0e8ac6863

My timezone is `Americas/Toronto` and I was running this shortly before midnight.

I'd expect to see the predicted configId to be `2021-08-11r1` and not `2021-08-10r0`
[code]

[2021-08-12 05:12] cakoose commented on #9771
Oh, sorry, I wasn't clear.  Here's the full reasoning:

The GCP Cloud Run `Service` object has a field `status`.  The type of the field is a single object with field like `currentGeneration`, `conditions`, etc. (matching the definition you linked to).

In Terraform, the `Service` object's `status` field is defined as a list of those objects ([link](https://github.com/hashicorp/terraform-provider-g

[2021-08-12 12:15] rosmo opened #9792 "Support certificateTemplate field in google_privateca_certificate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-12 12:37] Barbarians opened #9793 "Error: timeout while waiting for state to become 'success' (timeout: 1m0s)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-12 14:58] edwardmedia commented on #9771
@cakoose I know what you mean. `Status` is defined as part of the [output](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#attributes-reference). Does it make difference whether we limit it `MaxItems:1`?

[2021-08-12 15:42] Barbarians commented on #9691
Hey,

I have the same problem.
I tried to use other version provider google-beta but no change.
I see that in Bebug mode :

https://gist.github.com/Barbarians/8bf197988060f1e20aade523fab03e9d.js

[2021-08-12 16:33] #9791 closed

[2021-08-12 17:08] #9724 closed

[2021-08-12 17:16] brettcurtis commented on #9442
Any update on this? We are seeing it across several clusters now, not sure what's going on exactly?

[2021-08-12 17:26] brettcurtis commented on #9442
@gavinreaney - my issue is slightly different in that I have the metadata block defined in our config since I hit this issue: https://github.com/hashicorp/terraform-provider-google/issues/3230

[2021-08-12 17:29] nstuart-idexx commented on #9442
Also of note, going from 0.13 to any other later release (0.14,.15,1.x) triggers this behavior. I can run the same config on 0.13 and see no changes required, but any other version forces replacement with no changes to the config.

[2021-08-12 17:39] sankit2020 commented on #9790
This feature is in public preview on August 2nd.

Feature Name: Shared Reservation

API documentation (usually found in the user guide or in a "Rest API" section on the cloud website): go/shared-reservations-ug

[2021-08-12 19:23] ScottSuarez opened #9796 "automatic sample generation for unimplemented resources"
In order to consume a dcl sample within terraform, each resource in use by the sample is required to be implemented in the tpgtools pipeline. The generator needs these resources present in order to determine the serialization process. (how to make hcl from the definitions)

For a small example, say we have a resource `google_compute_instance` implemented within tpgtools and one of it’s samples dep

[2021-08-12 19:43] #9545 closed

[2021-08-12 19:45] cakoose commented on #9771
Ah I think I see what you're saying:
- For inputs, setting `MaxItems: 1` prevents users from accidentally writing configs with multiple elements.
- For outputs, it's less useful because that data comes from the remote API and is likely to be correct.

The reason it would still be useful for to set `MaxItems: 1` on the output: We use a tool that does support nested objects natively (as opposed to h

[2021-08-12 20:34] rileykarson commented on #9771
Note that I am fairly certain SDKv2 disallows doing this, as we used to have it: https://github.com/hashicorp/terraform-provider-google-beta/blame/858167e3bf28e4f2fd111d8cb8b17521ef2156f7/google-beta/resource_cloud_run_service.go#L250

[2021-08-12 20:45] skorobogatydmitry commented on #9735
@edwardmedia , thank you very much for fixing this!

[2021-08-12 20:58] cakoose commented on #9771
Oh, looks like you are right: https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html#stronger-validation-for-helper-schema-schema-computed-fields

That's unfortunate, but changing that decision is probably way too hard at this point :-\  Either way, thank you so much for getting to the bottom of it!

Tangent: Do you have an opinion on the lack of direct support for nested fields?  I was

[2021-08-12 21:29] cgroschupp commented on #8808
I have created a pr.
@megan07 can you please review this pr?

[2021-08-12 22:08] rileykarson commented on #9771
I think the model of Terraform Core assumed that fields were either a primitive or had multiple elements, and didn't account for a nested object type early on, and that got carried forward. There used to be a `typeObject` stub beside `TypeString`, `TypeMap`, `TypeList` etc, not sure if that's still around.

As of `0.12` the core restriction is gone, so the future SDK should include support.

Also,

[2021-08-12 22:08] #9771 closed

[2021-08-12 22:52] cakoose commented on #9771
Not sure I follow -- does this mean that newer SDKs will be based on a different schema language?  Or will the existing schema language be enhanced to support a nested object?  Is there somewhere I can read more about the progress here?

[2021-08-13 01:39] edwardmedia commented on #9793
@Barbarians it is hard to say for below error. it could be api that was experiencing difficulties. Have you run the config before?

For debug, does the [example](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#example-usage---with-a-separately-managed-node-pool-recommended) work for you? If yes, maybe try to gradually add more code blocks to see whi

[2021-08-13 06:52] Barbarians commented on #9793
@edwardmedia this config work fine, it's been 2-3 days since it works anymore.

It's been 3 months since I deployed my infrastructure on gcp and mongo atlas without any problem.

I tried to deploy blocks by block and i back

[2021-08-13 07:14] awendt opened #9800 "3.79.0 released without documentation"
A 3.79.0 tag was pushed [3 days ago](https://github.com/hashicorp/terraform-provider-google/tags), which resulted in a release on https://registry.terraform.io/providers/hashicorp/google/latest – but as of 2021-08-13, the [changelog](https://github.com/hashicorp/terraform-provider-google/blob/master/CHANGELOG.md) still says "Unreleased."

This means Dependabot is sending version updates for 3.79.0

[2021-08-13 07:52] ruchirjain86 opened #9801 "BQ Dataset location is Case Sensitive in Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-13 08:17] rileykarson commented on #9771
New schema language if that means what I think, yep. https://www.terraform.io/docs/plugin/framework/index.html, https://github.com/hashicorp/terraform-plugin-go are good references.

[2021-08-13 08:43] rileykarson commented on #9800
Sorry about that! It's a manual process to fill that information in from a release branch like https://github.com/hashicorp/terraform-provider-google/tree/release-3.79.0, and I was a couple days behind. Done now for both providers!

[2021-08-13 08:43] #9800 closed

[2021-08-13 08:52] odise commented on #9696
@ScottSuarez could you please indicate when this bugfix will be released? It isn't part of 3.79.0 as far as I can see.

[2021-08-13 10:15] brianmori commented on #9708
Apologies for the late reply and thank you for your proposal.

I explain the "why" we prefer to do with Terraform instead of GKE.

We provision our cloud infrastructure with Terraform Enterprise. Terraform Enterprise has a module called "Sentinel" which does checks what and how the services are provisioned.

Example:

1) Enforce Cloud Armor is active for all External LB
2) Enforce SSL Policy to al

[2021-08-13 10:33] rileykarson commented on #9744
Given the stage this is happening at, I don't believe it's a provider issue- I'd suggest reporting the problem to Terraform Core: https://github.com/hashicorp/terraform/issues/new?assignees=&labels=bug%2C+new&template=bug_report.md

[2021-08-13 10:33] #9744 closed

[2021-08-13 10:35] rileykarson commented on #9760
Deduping to https://github.com/hashicorp/terraform-provider-google/issues/9723, since they appear to be the same issue

[2021-08-13 10:35] #9760 closed

[2021-08-13 10:40] rileykarson commented on #9768
From an- admittedly naive- provider's perspective, this is working as intended. Since the job in the API has disappeared, it should be recreated, and we can't distinguish between a nonexistent job and one that used to exist.

The only potential fix we could consider is to not check if the job is present in the API, but that would actually break import for the resource- we don't know in the `Read`

[2021-08-13 10:48] rileykarson commented on #9780
Hmm- seems like https://github.com/hashicorp/terraform-provider-google/issues/9722 may not be entirely innocuous like I suspected, that's the only difference between the URLs in use for `google_compute_router` and `google_compute_router_interface`.

@ScottSuarez: Are you still taking a look at #9722?

[2021-08-13 13:33] Barbarians commented on #9793
@edwardmedia i have resolve my problem.

The [security group](https://registry.terraform.io/providers/hashicorp/google-beta/latest/docs/resources/container_cluster#security_group) "gke-security-groups@****" is not set in my organisation.

Now is good all clusters is deploy on my infrastructure.

But i think its better a message "Security group does not exist" but not "Error: timeout while waiting

[2021-08-13 13:33] #9793 closed

[2021-08-13 13:45] drebes commented on #9254
This should have been fixed by GoogleCloudPlatform/magic-modules#5059 I missed it since I searched for L3_DEFAULT, my bad.

[2021-08-13 14:56] ljybar opened #9805 "Cannot create google_compute_backend_service object wit negative_caching_policy = always revalidate"
Terraform v0.14.10
google provider v3.64 (also tested on 3.75 and 3.78)
google-beta provider v3.63 (also tested on 3.69 and 3.79)
affected resources: google_compute_backend_service
Terraform Configuration Files:
[code]
Error example:
`Error: Error creating BackendService: googleapi: Error 400: Invalid value for field 'resource.cdnPolicy.negativeCachingPolicy[0]': '{ "code": 501}'. Code and ttl mus

[2021-08-13 16:37] upodroid commented on #9708
You can achieve that by using OPA Gatekeeper to reject ingresses/service that don't have the right set of annotations.

https://kubernetes.io/blog/2019/08/06/opa-gatekeeper-policy-and-governance-for-kubernetes/

There is an example from Google that uses Gatekeeper to enforce PSPs [here](https://cloud.google.com/kubernetes-engine/docs/how-to/pod-security-policies-with-gatekeeper). You can write a c

[2021-08-13 16:41] upodroid commented on #9790
Hi

Can you link the docs from Google instead of reporting the bug number if public docs exist when you log the issue in Github?

https://cloud.google.com/compute/docs/instances/reservations-shared
https://cloud.google.com/compute/docs/reference/rest/beta/reservations/insert

[2021-08-13 17:33] edwardmedia commented on #9723
[code]

[2021-08-13 17:56] sankit2020 commented on #9756
This issue tracks adding an attribute to an existing resource "data_loss_prevention_job_trigger"
This will enable users to be able to select hybrid storage class to run DLP jobs.

https://b.corp.google.com/issues/196389910

[2021-08-13 18:04] edwardmedia commented on #9723
We need to convert the username by removing @ and portion after that.
https://cloud.google.com/sql/docs/mysql/add-manage-iam-users#grant-db-privileges.

[2021-08-13 18:20] villesau commented on #9723
@edwardmedia I think there might be a discrepancy in how MySQL & Postgres work in this regard. To my understanding postgres is totally fine with `@`.

[2021-08-13 18:29] edwardmedia commented on #9723
@villesau [that](https://github.com/hashicorp/terraform-provider-google/issues/9723#issuecomment-898641053) is something I am wondering about

[2021-08-13 18:41] edwardmedia commented on #9723
I think we need to check the underlining sql type in the user creation to determine what user format should be used. @melinath what do you think?

[2021-08-13 18:48] edwardmedia commented on #9805
@ljybar do you have the full debug log?

[2021-08-13 20:03] jcanseco opened #9808 "google_compute_shared_vpc_service_project - clearer error message when service project doesn't have GCE API enabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-13 20:08] ScottSuarez commented on #9696
It will release on Monday with the next release pending no issues

[2021-08-13 20:17] alexku7 commented on #9548
Why it has been closed?
Actually I encountered with the same bug.
The provider should allow applying the topics settings for notifications only regardless the rotation settings.

In many cases we want to set a topic for notification only without enabling the rotation

[2021-08-13 20:37] kmorales90 opened #9809 "Issue deploying Dialogflow CX Agent in us-central1"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-13 20:39] kmorales90 commented on #9809
It seems like the provider is not using regional endpoint

[2021-08-13 20:43] ScottSuarez commented on #9780
Just had some time to take a look today. Seems like a simple fix pending no test issues

https://github.com/hashicorp/terraform-provider-google/issues/9722

[2021-08-13 22:40] edwardmedia commented on #9809
@kmorales90 can you share your full debug log?

[2021-08-13 22:46] #9801 closed

[2021-08-13 23:14] ScottSuarez opened #9811 "reconcile serialization with dcl sample updates"
### Affected Resource(s)

* google_*

the update workflow was not correctly initially. It will take some work and collaboration with dcl team to get this working correctly.

Below are my notes from my sync with @ndmckinley

## Dcl sample updates to hcl
* Two issues
    * Figuring out which resource to update
        * Solved - look at the name of file to determine which type of resource to update

[2021-08-14 03:04] tek08 opened #9812 "Can't destroy VPC (google_compute_network) created by terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-14 05:51] ljybar commented on #9805
Sure:
`
Error: Error creating BackendService: googleapi: Error 400: Invalid value for field 'resource.cdnPolicy.negativeCachingPolicy[0]': '{  "code": 501}'. Code and ttl must be specified in NegativeCachingPolicy., invalid

  on main.tf line 2785, in resource "google_compute_backend_service" "ocom-ci-dev1-app-backsvc1":
2785: resource "google_compute_backend_service" "ocom-ci-dev1-app-backsvc1" {

[2021-08-14 06:00] ljybar commented on #9805
as workaround for now we  set the value ttl = 1, create an object using terraform, and then through the GCP web console change the value to "always revalidate."
But this changes the whole concept of automation. Tell me how to create an object using terraform with the ttl =  "always revalidate" !
Previously provided terraform manifest where ttl = 0 worked for us, but now stopped working, and gives

[2021-08-14 20:25] onuruluag commented on #9768
I think storing the hash of the source as a state for the load jobs would be appropriate since it should only run the load job when the source file is changed. We tried to achieve this behavior by adding google_storage_bucket_object's md5hash value as job_id but we have failed when the history disappeared.
For a workaround, we may use null_resource and triggers.

[2021-08-15 13:45] huang-jy commented on #9769
Adding the delay does help in this matter, but it now introduces a problem with my use case.

Since `depends_on` must be a static list I don't think I can use the code in a module since I can't say in advance how many buckets there will be.

I was intending the module caller to specify what buckets they want to create -- which will then require the `url-map` to wait on all the buckets' creations b

[2021-08-15 15:09] edwardmedia commented on #9769
@huang-jy don't you think you can work with the owner of the module to find a solution? To see if the provider can help, can you provide the config (resources only) that can repro the issue?

[2021-08-15 15:49] edwardmedia commented on #9579
Closing this assuming it is no longer an question

[2021-08-15 15:49] #9579 closed

[2021-08-15 22:25] edwardmedia commented on #9719
@generalpiston is this still an issue?

[2021-08-15 22:30] generalpiston commented on #9719
@edwardmedia I can't seem to reproduce any more.

[2021-08-15 22:31] edwardmedia commented on #9745
@andrewrpalmer-sky is this still an issue?

[2021-08-16 08:14] toshitanian opened #9815 "Cloud router's ip_address should be able to be specified manually"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-16 08:31] andrewrpalmer-sky commented on #9745
Hi, still a problem, and not related to #9441 - I notice in the example code in that issue you used the google-beta provider which works fine, but the supporting code is missing from the google provider which seems to be the problem here.

[2021-08-16 08:47] brianmori commented on #9708
I was not aware of OPA Gatekeeper, thank you for sharing!

Some teams prefer to deploy and maintain the kubernetes by themselves, henceforth it is not possible to my knowledge put this "guardrail". This is the reason I preferred an equivalent AWS approach where Terraform deploys Load Balancer, Target Groups and Launch Template/AutoScaling Groups.

I understand your point and I agree to the extent

[2021-08-16 09:36] huang-jy commented on #9769
Example code and module located at:

https://gitlab.com/blenderfox/terraform-cdn-bucket-module

You can run it as follows:

1. cd into the `example` folder, and save a GCP serviceaccount json file as `credentials.json` in that folder
2. Update the `preprod/terraform.tfvars` file to reflect your local environment
3. `terraform init`
4. `terraform plan -out tfplan -var-file="preprod/terraform.tfvars

[2021-08-16 10:07] zidz commented on #9557
Hi,

I don't understand the relation between my bug report and issue #8671 .

I don't see that I've mentioned it before or if it does make any difference but I've also downloaded the Service Account key file and did let Terraform authenticate with that one, the plan run ended with the very same error.

[2021-08-16 13:34] upodroid commented on #9783
I can fix this. Also we need to promote this to ga as the beta api is deprecated.

https://cloud.google.com/resource-manager/docs/reference/essentialcontacts/rest/v1beta1/projects.contacts

[2021-08-16 14:54] jimsnab opened #9817 "data google_dns_managed_zone errors if zone doesn't exist"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-16 15:00] thomascrowley opened #9818 "Add file argument to the google_cloudbuild_trigger"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-16 15:42] #8731 closed

[2021-08-16 17:01] #9463 closed

[2021-08-16 17:11] jcanizalez commented on #9809
hi @kmorales90 the provider is using the [documented endpoint], Is not
a regional (https://cloud.google.com/dialogflow/cx/docs/reference/rest/v3-overview)
![image](https://user-images.githubusercontent.com/27365102/129602549-a9b2cce1-e6a1-48b8-a0c7-0c2775729b5f.png)

Can you share your debug log?

[2021-08-16 17:21] kmorales90 commented on #9809
I included debug log https://gist.github.com/kmorales90/0667343ec0ff6a7298535214f5fe202f

[2021-08-16 17:26] kmorales90 commented on #9809
@jcanizalez  Maybe google updated the endpoint, because was worked fine before and now even if I use the previous google provider version I receiving the same error

[2021-08-16 17:49] rileykarson commented on #9792
@slevenick: Mind linking this up to the right issues internally?

[2021-08-16 18:00] rileykarson commented on #9775
triage note: This is a possible solution to some of the problems we have w/ the Magician, but we could consider others:

- TeamCity callbacks?

[2021-08-16 18:11] melinath commented on #9775
I thought I had looked into the callback option but I'm having trouble finding any notes on it. I think it would be better if we could pull it off, since it would be more reliable & would hypothetically require less human intervention. But it might be more compliated to implement, since it would involve basically adding a line to the TeamCity test run script that calls a webhook we designate, then

[2021-08-16 18:24] slevenick commented on #9792
Requires b/193222467 to be finished to implement

[2021-08-16 18:34] melinath commented on #9084
b/196186416

[2021-08-16 18:58] ScottSuarez commented on #9726
closing for now, feel free to make a new issue and comment if this is still a point of contention for you

[2021-08-16 18:58] #9726 closed

[2021-08-16 20:45] ScottSuarez commented on #9766
This would require adding a field for FLINK to the enumeration list. Recommend switching this field to be a string input.

https://github.com/GoogleCloudPlatform/magic-modules/blob/master/mmv1/products/dataproc/api.yaml#L484-L498

https://cloud.google.com/dataproc/docs/reference/rest/v1/ClusterConfig#Component

[2021-08-16 20:47] ScottSuarez commented on #9766
@sehgalnamit feel free to submit a pr on the file linked above to update the fields to be in sync with the documentation if you want a solution expedited.

[2021-08-16 20:51] ScottSuarez commented on #9783
note @c2thorn upodroid has a pr out

[2021-08-16 20:55] ScottSuarez commented on #9739
upstream bug is stated as fixed... check test is now passing...

[2021-08-16 21:00] thiras commented on #9745
I confirm the issue

[2021-08-16 22:42] ScottSuarez commented on #9739
https://ci-oss.hashicorp.engineering/viewLog.html?buildId=201349&buildTypeId=GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject&tab=testsInfo

fixed

[2021-08-16 22:42] #9739 closed

[2021-08-16 23:00] #9694 closed

[2021-08-16 23:08] #9805 closed

[2021-08-16 23:29] #9783 closed

[2021-08-17 03:25] sehgalnamit commented on #9766
Many Thanks @ScottSuarez
Raised PR
https://github.com/sehgalnamit/magic-modules/pull/1

[2021-08-17 05:41] ljybar commented on #9805
please tel me why the issue is closed? I still cannot create  google_compute_backend_service object wit negative_caching_policy = "always revalidate".
Do I need to download latest version of google-beta provider or what?

[2021-08-17 08:07] tguvdamm opened #9824 "Missing service account variable: enabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-17 08:55] etiennelandais opened #9825 "Support for egress_settings on google_app_engine_standard_app_version"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-17 11:46] YuriiYashchenko opened #9826 "google_bigquery_job wait for job complete"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-17 13:08] frehov opened #9827 "google_cloudbuild_trigger webhook triggered build created with no source repository to clone"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-17 13:18] george-oakling commented on #8654
Any news on this issue?

[2021-08-17 13:43] albrechtflo-hg opened #9828 "google_secret_manager_secret_version should export "version" attribute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-17 14:20] mans0954 opened #9829 "Import `google_compute_network_peering` resources fails for global networks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-17 16:13] cvalla commented on #9827
I also noticed that webhook-config and trigger template are not mutually excluding. in Cloudbuild you can buidup a trigger that relies on both. in the provider only one of them can be included in resource configuration (if you see Google APIs doc you can vier that only trigger_template and github are mutually exclusive )

[2021-08-17 16:15] edwardmedia commented on #9829
@mans0954 can you review the issue [here](https://github.com/hashicorp/terraform-provider-google/issues/9508) to see if that helps?