[2021-08-17 16:18] edwardmedia commented on #9628
@VikramVasudevan is [that](https://github.com/hashicorp/terraform-provider-google/issues/9628#issuecomment-892893483) helpful? Is this still an issue?

[2021-08-17 16:21] edwardmedia commented on #9719
@generalpiston closing this issue then. Feel free to reopen if it comes back. Thanks

[2021-08-17 16:21] #9719 closed

[2021-08-17 16:26] mans0954 commented on #9829
Do you mean
[code]
? That still gives the same error.

[2021-08-17 16:30] mans0954 commented on #9829
I think the problem is probably here: https://github.com/hashicorp/terraform-provider-google/blob/e2e533f83c388fecbf51ae8ca541326b152cede0/google/resource_compute_network_peering.go#L320 - it's not allowing for the possibility of the extra `/global/` in the network name?

[2021-08-17 16:45] #9631 closed

[2021-08-17 16:51] joe-a-t opened #9830 "v4.0.0 Projected Date"
Can you please update the projected date for v4.0.0 in https://github.com/hashicorp/terraform-provider-google/milestone/8? It currently says it is due in less than a month but has 44 open and 0 closed issues so that doesn't look accurate

[2021-08-17 16:54] fdcds opened #9831 "google_compute_route with `next_hop_instance = google_compute_instance.INSTANCE.self_link` is recreated every time"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-17 17:09] sankit2020 opened #9833 "Terraform Support for ILB as next hop with tags"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-17 17:09] sankit2020 commented on #9833
https://buganizer.corp.google.com/issues/195934340

[2021-08-17 17:16] slevenick commented on #9505
I'm not sure how to proceed with this. This bug is due to a weird interaction between autopilot & the default service account field.

Basically, the API is not respecting the request that is sent with the service account. I'm not sure how gcloud is setting up the autopilot cluster with a non-default service account successfully. Can you capture the HTTP requests to see if that is happening in a si

[2021-08-17 18:28] #9722 closed

[2021-08-17 18:28] #9780 closed

[2021-08-17 18:30] #9620 closed

[2021-08-17 18:30] rileykarson commented on #9780
@g-nikolay: This _should_ be fixed in next week's release but if it's not can you post again here?

[2021-08-17 18:32] g-nikolay commented on #9780
@rileykarson thanks for reply, I'll keep you posted, thanks!

[2021-08-17 18:48] erlanderlo opened #9836 "add recordTransformation to DLP with cryptoDeterministicConfig support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-17 18:56] rileykarson commented on #9830
We've bumped the release a few times and probably won't hit the date on that milestone, but haven't projected a replacement yet. It's worth noting, not every issue under that milestone will happen- they're currently labelled `4.0.0-under-review`, and only ones we move the `4.0.0-accepted` will actually get done in `4.0.0` with the rest getting closed or moved to `5.0.0`.

`4.0.0` is likely to be a

[2021-08-17 19:48] #9763 closed

[2021-08-17 20:20] edwardmedia commented on #9829
@mans0954 can you try something like below?

[code]

[2021-08-17 21:06] edwardmedia commented on #9827
@frehov I am not clear what this issue is trying to solve? You provided the link of https://github.com/hashicorp/terraform-provider-google/issues/9189 which is not released. Can you explain the details?

[2021-08-17 21:19] edwardmedia commented on #9809
@kmorales90 can you review `Note` for the field of [location](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/dialogflow_cx_agent#location) to see if that make sense?

[2021-08-17 22:42] ericnorris opened #9841 "`google_project_service` fails if service is disabled outside of terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-18 04:28] sehgalnamit commented on #9766
@ScottSuarez
Can check please again?
https://github.com/GoogleCloudPlatform/magic-modules/pull/5106

[2021-08-18 05:22] mans0954 commented on #9829
@edwardmedia Thanks. Same response as before:
[code]

[2021-08-18 06:27] ruchirjain86 opened #9842 "Ability to add a project as a monitored project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-18 07:45] frehov commented on #9827
@edwardmedia I added the other issue as a reference.
release 3.76.0 added the webhook_config parameter, and as such I'm raising this issue to raise awareness that the google_cloudbuild_trigger created by using webhook_config is not a valid configuration in cloud build given that there is no source repository connected after creation of the trigger.

[2021-08-18 08:24] drebes opened #9843 "Subordinate Certificate Authority CSR data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-18 09:50] drebes opened #9844 "Subordinate CA activation resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-18 10:19] psblah opened #9845 "sql_database_instance#disk_size documentation could carry a warning against it's use"
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_database_instance#disk_size

This option contains the following note:

```The size of data disk, in GB. Size of a running instance cannot be reduced but can be increased.```

What it fails to mention is that under the default configuration, setting this option will eventually cause your instance to be deleted if the

[2021-08-18 13:16] mmilos3vic opened #9847 "Allow queue count to be specified when declaring GCP compute instance network interface"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-18 15:28] #9534 closed

[2021-08-18 15:41] amitcodex opened #9850 "Adding Monitoring Scopes in Google Cloud"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-18 15:43] Deiz opened #9851 "google_app_engine_flexible_app_version refresh does not update container image"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-18 15:44] stratdes commented on #9723
I am having the exact same issue with google provider 3.77.

[2021-08-18 16:00] jangolano commented on #9723
I opened a PR that checks the database type:
https://github.com/hashicorp/terraform-provider-google/pull/9848

[2021-08-18 16:32] edwardmedia commented on #9805
@ljybar closed as the PR is merged. You need to wait for the binary release which likely could happen next week. Looking for the v3.81.0.

[2021-08-18 18:59] sankit2020 commented on #9843
https://buganizer.corp.google.com/issues/197098132

[2021-08-18 21:16] edwardmedia commented on #9829
@mans0954 do you have `project-name/network-name/` in your command?

[2021-08-18 21:36] jcanizalez commented on #9809
Hi I did a local test and like @kmorales90 mentioned is the create agent is failing when using us-central1 I opened a ticket with Google support, and see the response below:
![image](https://user-images.githubusercontent.com/27365102/129975402-27c3ac3f-b420-4e1a-b73f-31af2ebb6a8c.png)

So if you check the url https://cloud.google.com/dialogflow/cx/docs/concept/region is required to use [region-id]

[2021-08-18 22:12] PatrickDale opened #9853 "The `google_cloudbuild_worker_pool` resource requires a `project` attribute"
### Terraform Version
[code]

### Affected Resource(s)

* `google_cloudbuild_worker_pool`

### Terraform Configuration Files
N/A

### Debug Output
[code]

### Panic Output
N/A

### Expected Behavior

According to the docs, this is an optional attribute: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudbuild_worker_pool#project

### Actual Behavior

The resource n

[2021-08-18 22:24] PatrickDale commented on #9853
I forgot to configure the `google-beta` provider in my configuration -- sorry for the noise! Closing this issue.

[2021-08-18 22:24] #9853 closed

[2021-08-18 23:42] slevenick opened #9854 "Sort fields by Required in tpgtools documentation"
Should also be true in nested object documentation

Required fields should be at the top to make it obvious what a user will need to include

[2021-08-18 23:49] cathex-matt opened #9855 "google_cloud_identity_group_membership fieldViolations "MEMBER role must be specified""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-19 00:01] edwardmedia commented on #9851
@Deiz help me to understand, on one side, you set `ignore_changes` on `deployment[0].container[0].image`. On the other side you want to see the change of `deployment[0].container[0].image` can be detected and updated? Forgive me if my understanding is incorrect.

[2021-08-19 00:22] edwardmedia commented on #9855
@cathex-matt can you share the full debug log?

[2021-08-19 00:47] Deiz commented on #9851
Ah, to clarify, what I'm expecting is that while Terraform doesn't care about the value of `deployment[0].container[0].image`, it will persist the value that was set externally. That's true of most resource types (our organization largely uses Cloud Run, and this is certainly true of the `google_cloud_run_service` resource.

So what I'd expect out of this `google_app_engine_flexible_app_version` r

[2021-08-19 06:19] mans0954 commented on #9829
This works!

[code]
Thank you!

[2021-08-19 06:19] #9829 closed

[2021-08-19 13:47] Illidanek opened #9857 "KMS Secret Ciphertext requires more permissions than it should"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-19 13:52] Felistas opened #9858 "Exporting GOOGLE_CREDENTIALS with a JSON Object does not work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-19 14:04] upodroid commented on #9858
Hi

You need to write the key to disk, usually in /tmp so the CI system that you are using deletes the key after each run.

Something like this:

Load the json key as a GCLOUD_SERVICE_KEY environment variable in your CI/CD system.

[code]

Thank you

[2021-08-19 15:11] edwardmedia commented on #9857
@Illidanek you know how Terraform works, right? It needs a local/remote copy of the state. Do you think it can avoid `read` in order to obtain your settings from the API?

[2021-08-19 15:49] edwardmedia commented on #9851
@Deiz still try to understand what the issue is but let's discuss below first. Terraform should be able to detect the difference between the state (A or B) and your config (C), and propose & bring the state up to what you ask for (C).  Not sure what is wrong here.

[code]

[2021-08-19 16:03] Deiz commented on #9851
The issue is that Terraform will display a delta like `A -> C` when the real-world transition is `B -> C`. To me, that's the root cause of the `ignore_changes` misbehaviour - Terraform/TPG doesn't notice that the resource has drifted.

My expectations vs the state:
1. Resource is created by Terraform with image `A`
2. Resource is manually updated to image `B` outside of Terraform
3. Edit the Terra

[2021-08-19 16:13] Felistas commented on #9858
thanks!

[2021-08-19 16:13] #9858 closed

[2021-08-19 16:55] edwardmedia commented on #9851
@c2thorn what do you think about this issue?

[2021-08-19 17:04] #9653 closed

[2021-08-19 17:28] edwardmedia commented on #9831
@fdcds there are [codes](https://github.com/hashicorp/terraform-provider-google/blob/4f10f86ea43249b949e036338d8d8aff3e8ac36f/google/resource_compute_route.go#L107) that is supposed to handle this. Can you share your full debug log?

[2021-08-19 18:25] edwardmedia commented on #9745
@andrewrpalmer-sky from what I can see, the feature is [beta](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#value_from) only. Did you expect otherwise?

[2021-08-19 18:36] megan07 commented on #9723
Fixed by https://github.com/hashicorp/terraform-provider-google/pull/9848

[2021-08-19 18:36] #9723 closed

[2021-08-19 18:51] andrewrpalmer-sky commented on #9745
It's mentioned in the google-provider changelog as being available, so yes:

https://github.com/hashicorp/terraform-provider-google/blob/master/CHANGELOG.md#3670-may-10-2021

IMPROVEMENTS:
    cloudrun: added support to bind secrets from Secret Manager to environment variables or files to google_cloud_run_service

[2021-08-19 19:25] sankit2020 opened #9860 "Support external IPv6 Lightweight GA in Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-19 19:25] sankit2020 commented on #9860
https://buganizer.corp.google.com/issues/197143591

[2021-08-19 20:03] edwardmedia commented on #9757
@alx-andru I see what you refer to. But `config_id` is readonly and autogenerated. As a reference, help me to understand why the specific date matters?

[2021-08-19 20:22] dkerr-ignw opened #9861 "Terraform plan / apply times out when MIG is updating."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-19 20:27] g-awmalik opened #9862 "Error while creating IAM users for Cloud SQL (Postgresql)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-19 20:30] edwardmedia commented on #9827
@frehov are you talking about the field `sourceToBuild` (available according to below api spec)? That is a separate field. You may file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=enhancement.md) to ask for the field to be included.

https://cloud.google.com/build/docs/api/reference/rest/v1/projects.triggers

[2021-08-19 20:33] #9245 closed

[2021-08-19 20:37] edwardmedia commented on #9861
@dkerr-ignw have you tried to reset the `timeouts` on that resource?

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_region_instance_group_manager#create

[2021-08-19 20:42] dkerr-ignw commented on #9861
Yes i set those to 60m each.

[2021-08-19 20:43] #9751 closed

[2021-08-19 20:55] edwardmedia commented on #9861
@dkerr-ignw can you share your new config and debug log?

[2021-08-19 21:08] dkerr-ignw commented on #9861
[code]
https://gist.github.com/dkerr-ignw/9152d706911b5c9ef22f871211167263

[2021-08-19 21:21] frehov commented on #9827
@edwardmedia, I'm not trying to be rude here, but the documentation was last updated today (August 19th, 2021) and when I opened this issue on the 17th those fields were definitely not present in the documentation.
I was looking at the debug output from terraform and comparing that to which fields were available in the api spec you linked, and did not find them.

I'll see about opening an enhancem

[2021-08-19 23:13] ScottSuarez commented on #8418
closing issue

[2021-08-19 23:13] #8418 closed

[2021-08-19 23:15] ScottSuarez commented on #9096
response from team
[code]

not much we can do on our side here. sorry folks

[2021-08-19 23:16] ScottSuarez commented on #9096
actually going to talk about this in our triage to see

[2021-08-19 23:24] Deiz commented on #9851
Given that a refresh to align the state with reality occurs before the changes are listed, I've generally only seen this particular behaviour with this resource - all others will override the state with the real-world status of the resource before attempting to create a change set.

[2021-08-20 00:28] edwardmedia commented on #9827
@frehov I had the same question as yours. If these two fields should be part of the feature, I agreed they should be included in that original implementation. But I don't know the details about the scope of this feature. Keep in mind, there are a lot of times when fields are enabled one by one. In your case, you may ask for these two fields together. Sorry about the inconvenience.

[2021-08-20 01:31] edwardmedia commented on #9628
Closing this assuming it is no longer an issue

[2021-08-20 01:31] #9628 closed

[2021-08-20 08:11] arivictor opened #9868 "Impersonate service account without physical key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-20 09:15] xaxo05 opened #9869 "The instances element of compute_instance_group does not work with ids on resource change"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-20 13:51] edwardmedia commented on #9869
@xaxo05 can you share the full debug log?

[2021-08-20 14:50] alx-andru commented on #9757
@edwardmedia when terraform apply runs, the validation at the end is failing because the predicted config_id is not matching the actual deployed config_id which has the correct `config_id`.

The suggestion is really just a suggestion as I'm not a go developer and don't know how to compile/run the project. I did some reading in the documentation on what LoadLocation returns and how it should work a

[2021-08-20 15:04] edwardmedia commented on #9757
@alx-andru could you get the debug log ([how](https://github.com/hashicorp/terraform-provider-google/issues/9757#issuecomment-896191578))? You may set below environment variable before run `tf apply`

[2021-08-20 15:36] chaopeng opened #9870 "`input=true` not working for immutable field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-20 16:07] #9782 closed

[2021-08-20 16:07] #9785 closed

[2021-08-20 16:07] #9789 closed

[2021-08-20 16:13] #9786 closed

[2021-08-20 17:03] edwardmedia commented on #9745
@andrewrpalmer-sky sorry if the changelog does not make clearer. But both the [example](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#example-usage---cloud-run-service-secret-environment-variables) and the [note](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#value_from) specify the feature is beta

[2021-08-20 17:03] #9745 closed

[2021-08-20 17:08] jimmiebtlr opened #9873 "Adding credentials as variable to terraform cloud - Documentation missing around expected format."
If you have a support request or question please submit them to one of these resources:

* [Terraform community resources](https://www.terraform.io/docs/extend/community/index.html)
* [HashiCorp support](https://support.hashicorp.com) (Terraform Enterprise customers)
* [Google Cloud Platform Slack](https://gcp-slack.appspot.com/)

Documentation here describes adding google credentials as json to e

[2021-08-20 17:09] #9873 closed

[2021-08-20 17:35] edwardmedia commented on #9769
@huang-jy I see [what you say ](https://gitlab.com/blenderfox-bugreports/google-terraform-backend-bucket-bugreport#bug-report-repo-for-the-google_compute_backend_bucket-issue). The error is clear. Based on the fact as I explained [here](https://github.com/hashicorp/terraform-provider-google/issues/9769#issuecomment-896940941), you can always find `issue` like this on other resources. By introducin

[2021-08-20 17:35] #9769 closed

[2021-08-20 17:40] btleedev opened #9874 "409s when SIGTERM/cancel/CTRL+C terraform while creating a resource which involves an Operation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-20 19:06] #9787 closed

[2021-08-20 20:49] #9784 closed

[2021-08-20 21:01] sfc-gh-emonsef opened #9877 "adding consumer_accept_lists cause service attachment to be recreated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-20 22:21] rileykarson commented on #9647
Note: We'll also want to support the update API where possible

[2021-08-20 22:39] upodroid commented on #9341
@rileykarson I'll try and switch the resource to use orgpolicy.googleapis.com/v2, MM style http calls instead of the go client, introduce parent field similar to essential_contacts_contact and see where it goes.

[2021-08-21 12:13] cathex-matt commented on #9855
Sorry for the late reply. Here it is: https://gist.github.com/cathex-matt/58ee0802ee0cc18200af216f5c3ce5a5

[2021-08-22 16:29] alx-andru commented on #9757
@edwardmedia please see following output that I reproduced by changing my date settings locally which results in the exact same output I had when running tests closer to midnight.
https://gist.github.com/alx-andru/973e4d1e0e9dfc79bedf82f5ec5c7b5b#file-terraform-log-L798

The key part is that the preview shows
[code]

but the actual deployment is using the correct `config_id` (2021-08-22r1) generat

[2021-08-22 17:55] cathex-matt commented on #9855
@edwardmedia
I fixed it myself after revisiting how I was architecting my module. It was on my side, certainly around how I was passing namespaces or roles to the membership resource... Sorry for the inconvenience.

[2021-08-22 17:55] #9855 closed

[2021-08-22 21:23] n-oden commented on #9291
As a postscript here, I believe that this should actually be considered a bug.   Consider the following resource definition:

[code]

The flex template launcher will pass the `labels` param to the job, and duly apply those labels to it.  But because labels are part of the job state, terraform will on its next run see the job as differing from the resource state, and try to update it: this in essen

[2021-08-23 10:45] rotilho opened #9880 "Cloud Build - Add approval config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-23 12:16] legithubdeaymeric opened #9881 "google_app_engine_standard_app_version with NodeJS14"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-23 12:56] tgirier opened #9882 "DNS record set - can't create AAAA record as rrset data remains empty while adding previously known ip address"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-23 14:15] frehov opened #9883 "google_cloudbuild_trigger add fields `sourceToBuild` and `GitFileSource`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-23 14:22] n-oden commented on #9291
@rileykarson is there any timeframe for getting this addressed that you can share?  This effectively blocks us (and, I suspect, other people) from migrating to flex templates generally, since it is not possible to accurately track spend on flex jobs without using labels.

[2021-08-23 14:52] upodroid commented on #8221
I have figured this out, where do you want to slot this?

[code]

Returns the following:

[code]

[2021-08-23 14:59] MartinPetkov opened #9884 "Resolution of #9577"
https://github.com/hashicorp/terraform-provider-google/issues/9577 got locked so I can't respond, but I'd like to add my resolution for anyone who finds that issue in the future.

My issue was that by default, create_disposition is set to "CREATE_IF_NEEDED", which makes the API require the bigquery.tables.create permission for obvious reasons. My solution was to configure my Terraform to set it go

[2021-08-23 14:59] #9884 closed

[2021-08-23 16:04] megan07 commented on #9862
Hi @g-awmalik ! I believe this is a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/9723 and should be fixed in a future release. I'll close for now, but please let me know if you disagree and I can reopen.
Thanks!

[2021-08-23 16:04] #9862 closed

[2021-08-23 16:38] edwardmedia commented on #9881
@legithubdeaymeric can you share the debug that shows all the api calls?

[2021-08-23 17:55] slevenick commented on #9842
Duplicate of https://github.com/hashicorp/terraform-provider-google/issues/2605

[2021-08-23 17:55] #9842 closed

[2021-08-23 17:56] slevenick commented on #9850
I believe this is a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/2605 as monitored projects is now referred to as monitored scopes

[2021-08-23 17:56] #9850 closed

[2021-08-23 18:28] edwardmedia commented on #9757
@alx-andru Sorry I don't get it. Is below hint what you referred to `failing`? Why it matters? Most of time you could ignore it. Do you need to bring the resource update to date based on this field?

[2021-08-23 18:40] edwardmedia commented on #9827
See #9883 Closing this issue then

[2021-08-23 18:40] #9827 closed

[2021-08-23 18:41] edwardmedia commented on #9831
@fdcds is this still an issue?

[2021-08-23 18:42] edwardmedia commented on #9857
@Illidanek does [that]([url](https://github.com/hashicorp/terraform-provider-google/issues/9857#issuecomment-901997537)) make sense?

[2021-08-23 18:58] telenieko opened #9886 "google_kms_secret_ciphertext.id is way too verbose"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-23 19:18] #8229 closed

[2021-08-23 20:05] g-awmalik commented on #9862
Thanks @megan07. Do you know what release that will be and when that will be part master release channel?

[2021-08-23 20:15] Illidanek commented on #9857
To be honest I'm not at all an expert on terraform. I saw the source code for the resource and saw that for some reason it does a Get to the API despite the fact that it would seem all it needs is to do a Post with the encryption.

If for some reason there's no way around that, we should probably request to have this changed in the documentation, as there it says only encrypt permissions are neces

[2021-08-23 20:59] megan07 commented on #9862
@g-awmalik I can't guarantee an exact date, but it should be a part of `3.82.0` which will likely be released next week.

[2021-08-23 21:05] g-awmalik commented on #9862
Thank you.

[2021-08-23 21:36] edwardmedia commented on #9857
@Illidanek I guess the `documentation` you referred [here](https://github.com/hashicorp/terraform-provider-google/issues/9857#issuecomment-904089869) is for APi's. That is separate and that is specific for one API request. Terraform provider is different, and usually it does need to call `get` to sync for the local state. Closing the issue now. Feel free if you need further disccusion.

[2021-08-23 21:37] #9857 closed

[2021-08-23 21:43] #8524 closed

[2021-08-23 22:38] angstwad opened #9889 "google_compute_image update operations do not match expectations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-23 23:53] dcallao opened #9890 "Label extractor in google_logging_metric does not parse json message"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-24 01:44] jehiah opened #9891 "google_compute_router_peer panic on flattenNestedComputeRouterBgpPeerEnable"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-24 07:46] tgirier opened #9892 "Workload Identity config on autopilot cluster error message is not self-explanatory"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-24 12:29] tlaporte-loreal opened #9893 "Add support for 'conditionMatchedLog' block in google_monitoring_alert_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-24 15:40] edwardmedia commented on #9877
All fields are ForceNew() right now. Update support is needed for certain fields. API supports PATCH

https://cloud.google.com/compute/docs/reference/rest/beta/serviceAttachments/patch

[2021-08-24 16:14] matdtr opened #9897 "GCP os config patch metadata keep trying to change"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-24 16:51] #9817 closed

[2021-08-24 17:45] brianpham opened #9899 "Bypass Cache on Request Header for Backend Bucket"
I was wondering if there is a way to add a header name to the bypassing cache option for the google_compute_backend_bucket resource. https://cloud.google.com/cdn/docs/caching#bypassing-cache

It doesn't seem to be supported but wanted to double check https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_backend_bucket

[2021-08-24 19:18] #9870 closed

[2021-08-24 21:00] night-gold opened #9901 "google_container_node_pool documentation #node_config documentation is a copy/paste of network_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-24 21:33] jankrynauw opened #9902 "google_artifact_registry_repository seems to ignore the 'depends_on' attribute?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-24 22:18] edwardmedia commented on #9889
This is an interesting case.
API sends below block back in the situation like [test](https://github.com/hashicorp/terraform-provider-google/blob/6ac4ff308a10f061fe749013630617de45cc71d2/google/resource_compute_image_test.go#L128)
[code]
By removing [Computed:true,](https://github.com/hashicorp/terraform-provider-google/blob/6ac4ff308a10f061fe749013630617de45cc71d2/google/resource_compute_image.go#

[2021-08-24 22:27] edwardmedia commented on #9902
@jankrynauw provision of some resources may take extra long time to complete. This might be a case. Can you check if implementing [sleep](https://github.com/hashicorp/terraform-provider-google/issues/6377#issuecomment-628978514) helps?

[2021-08-24 22:48] estliberitas commented on #7811
@LipingSun it's on the way, checkout a referenced PR above.

[2021-08-24 23:52] mbleigh opened #9904 "google_eventarc_trigger errors if deleted out-of-band"
If an Eventarc trigger is created using Terraform but deleted out of band (e.g. in the Cloud console), Terraform is unable to gracefully recover without manually deleting the state. Both `terraform plan` and `terraform refresh` crash with:

[code]

[2021-08-25 00:51] #9607 closed

[2021-08-25 00:52] alx-andru commented on #9757
@edwardmedia everything seems to get fully deployed but the actual "apply" fails. So if it runs through CI/CD it would just be marked as "failed" rather than a success.

[2021-08-25 07:40] legithubdeaymeric commented on #9881
@edwardmedia

https://gist.github.com/legithubdeaymeric/32cee00c27e4edc45044816b93063f89

[2021-08-25 08:10] arivictor commented on #9868
I'm such an amateur.

Within the provider block I realised I could set the email address of the service account I'm intending to impersonate. I then ensure I have the correct roles assigned to my personal account such as `Token Creator`, I can then execute commands as the service account. For now this works! However it would be still great if the service account could be proxied without having to

[2021-08-25 08:10] #9868 closed

[2021-08-25 13:56] adrian-visoiu-db opened #9906 "Error updating"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-25 14:24] guibirow opened #9907 "Support Api Gateway on google_compute_region_network_endpoint_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-25 15:13] megan07 commented on #9892
Hi @tgirier ! Sorry for the confusion here. My understanding is that, because it's enabled by default, we don't want to set it in the config ([see this comment on shielded nodes](https://github.com/hashicorp/terraform-provider-google/pull/8632#issuecomment-795849682)). Let me know if this helps or if you disagree with this assessment and I can dig a bit deeper into it.
Thanks!

[2021-08-25 15:25] legithubdeaymeric commented on #9881
@edwardmedia

Manual deploy works fine ... with "gloud app deploy"

Below cloud build log:
`starting build "756f20a1-7489-4a93-b3aa-8ce8e03d817b"

FETCHSOURCE
Fetching storage object: gs:/-connector-72438474ddf8bf76be1e95b0fba7869b#1629190355671670
Copying gs://ctor-72438474ddf8bf76be1e95b0fba7869b#1629190355671670...
/ [0 files][    0.0 B/210.3 KiB]
/ [1 files][210.3 KiB/210.3 KiB]
Operation comp

[2021-08-25 15:28] megan07 commented on #9889
Hi @angstwad ! Thanks for reporting this behavior, I'm sorry you ran into it. We'd really appreciate the help if you are interested! I can assign you this issue and you can assign me reviewer on your PR.

Just having looked at it for a minute, my hunch is that we might need to add `send_empty_value: true` [here](https://github.com/GoogleCloudPlatform/magic-modules/blob/master/mmv1/products/compute

[2021-08-25 16:01] angelchang opened #9908 "Spanner 400 error when updating instance's processing_units"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-25 16:25] melinath commented on #8221
I think we'd probably want to set up a grpc client in [LoadAndValidate](https://github.com/hashicorp/terraform-provider-google/blob/c3eb6e9c9d5365c5c54411ae3ecb52d1f7eba391/google/config.go#L350) (parallel to the http client) and then pass it to any services on instantiation, if that would be possible.

[2021-08-25 16:32] edwardmedia commented on #9881
@legithubdeaymeric I noticed below error. Can you verify the `storage source`? To further debug, you can compare these two methods. You can add `--log-http` for the gcloud command. Post the result if you want

[2021-08-25 16:37] edwardmedia commented on #9869
@xaxo05 is this still an issue?

[2021-08-25 16:56] mldmld68 opened #9910 "Since provider 3.80 one get : Provider configuration not present"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-25 22:54] melinath opened #9916 "Add additional verbosity to tpgtools output"
TPG tools currently outputs almost no information about what it's doing. It would be great if we could provide debug-level logging so that users (i.e. contributors) can easily check what's happening and that it matches what they're expecting.

Specifically we should log the following, as a starting point:

- [ ] Every product that is processed
- [ ] The detected overrides for that product

[2021-08-26 05:10] moosterhof opened #9917 "improve documentation on how to authenticate to GCP from TFC/TFE"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-26 09:49] Sannis opened #9918 "Erron on creating google_memcache_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-26 12:27] fdcds opened #9919 "data.google_container_cluster.*.subnetwork is not a self_link"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-26 15:48] enricojonas opened #9921 "adding update support for labels on google_logging_metric"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-26 16:07] #9919 closed, assigned to edwardmedia

[2021-08-26 19:13] peter-dough opened #9924 "Error when creating postgresql user with type CLOUD_IAM_USER"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-26 22:50] Forcebyte opened #9925 "google_cloud_identity_group - Enabling the 'Allow Members Outside Your Organization' setting to be enabled on creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-27 13:57] partywave opened #9928 "google_container_registry_repository yields invalid repository url"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-27 14:29] armaan111 opened #9929 "Big query dataset"
Hi Team,
I want to create a BIg query dataset and want to use the default google managed encryption keys, what snippet of code shall i write to achieve the same

[2021-08-27 14:30] #9924 closed, assigned to nobody

[2021-08-27 15:45] qwerty1979bg opened #9930 "google_compute_instance_group does not properly update when a constituent google_compute_instance is re-created because of a taint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-27 17:53] #9908 closed, assigned to megan07, angelchang

[2021-08-27 19:14] albrechtflo-hg opened #9936 "google_cloudbuild_trigger Pub/Sub and Webhook configs need repo/branch info"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-27 21:20] shuyama1 opened #9938 "Promote google_dataproc_metastore_service and related fields in google_dataproc_cluster to GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-27 22:51] saifulwebid opened #9939 "Add support to configure JSON parsing and log level in google_compute_security_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-28 02:42] armaan111 commented on #9929
Okay thanks. I more point is there is any way where we can verify it is
using default encryption.

Regards,
Armaan Mahajan

On Sat, Aug 28, 2021, 01:34 Edward Sun ***@***.***> wrote:

[2021-08-28 13:19] anderson-marques commented on #9925
Please keep this ticket open. @Forcebyte is right. The way the provider works requires manual intervention before being able to add non Cloud Identity users in my groups. Since there is no other resource to manage groups, and we have that option in the console, it do make sense to have the same in Terraform. Otherwise, the automation is broken.

[2021-08-28 15:49] edwardmedia commented on #9929
@armaan111 can you export the data and verify it at the new location?

https://cloud.google.com/bigquery/docs/exporting-data

[2021-08-28 15:51] #9891 closed

[2021-08-28 16:01] edwardmedia commented on #9899
@brianpham this resource supports certain cache features. Can you checkout if `cache_mode` works for you?

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_backend_bucket#cache_mode

[2021-08-29 10:24] kay-schecker commented on #9881
I guess I found the issue. The file name of the google_storage_bucket_object shall have the file suffix zip.

[2021-08-30 07:26] legithubdeaymeric commented on #9881
Indeed that was it! Well seen !

But where does this change come from? A change in cloud build?

Thanks 🙏

[2021-08-30 10:02] pdemagny opened #9941 "Maintenance exclusion is not removed from google_container_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-30 15:21] Tfmenard commented on #9891
The error only occurs on 3.81.0 as the panic is caused by a function introduced in 3.81.0 and seems to only occur for some resources that were created at least 90d back.
https://github.com/GoogleCloudPlatform/magic-modules/pull/5063
https://github.com/hashicorp/terraform-provider-google/pull/9776/files#diff-896b820fb17f7590acf4ac0ca66d70dc3b57329054987a0296f46ae23b0ee86cR669

If you encounter this

[2021-08-30 15:55] jehiah commented on #9891
Thank you @Tfmenard

[2021-08-30 17:08] edwardmedia commented on #9881
@legithubdeaymeric @kay-schecker glad you both solve the problem. Closing the issue then

[2021-08-30 17:14] c2thorn commented on #9811
DCL to:

- Give full list of DCL dependencies for each update
- Remove non-computed references to previous states and replace them with a value
- Indicate computed references to previous states with something like `{{ref:__previous_state__:fieldName}}` that would allow us to remove the field from config (since it is computed and set in a previous state)

[2021-08-30 17:37] rileykarson commented on #9877
This is a known behaviour and will be addressed in https://github.com/hashicorp/terraform-provider-google/issues/9647

[2021-08-30 17:37] #9877 closed

[2021-08-30 17:39] peter-dough commented on #9924
@megan07 when is the next release?

[2021-08-30 18:13] red8888 opened #9942 "google_sql_user with CLOUD_IAM_SERVICE_ACCOUNT type is now totally broken"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-30 19:40] manterfield commented on #9942
I just had the same issue, downgrading to v3.77.0 also works.

[2021-08-30 20:04] c2thorn opened #9943 "Removing compute router nat `log_config` results in perma-diff"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-30 21:04] melinath commented on #9928
Try specifying `eu` as the region, as documented here: https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/container_registry_repository#region

Unfortunately, there's not a future-proof way for us to validate this.

[2021-08-30 21:04] #9928 closed

[2021-08-30 22:00] melinath commented on #9936
Looking at the [REST API documentation](https://cloud.google.com/build/docs/api/reference/rest/v1/projects.locations.triggers#BuildTrigger.PubsubConfig), it seems that all of the pubsub fields available on the API are also available on [pubsub_config](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudbuild_trigger#pubsub_config).

I think you might be looking for

[2021-08-30 22:00] #9936 closed

[2021-08-30 22:43] ScottSuarez commented on #9811
Is there an internal bug against the dcl for this that we can track separately ?

@c2thorn

[2021-08-30 22:55] ndmckinley commented on #9811
I've been using b/192083636.  I'll copy this here into that bug.

[2021-08-30 22:55] #9788 closed

[2021-08-30 23:21] sankit2020 opened #9944 "Add support for on-premises transfers (update to Storage Transfer Service)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-30 23:21] sankit2020 commented on #9944
https://b.corp.google.com/issues/182520558

[2021-08-31 08:54] albrechtflo-hg commented on #9936
Well, the `build.source.repo_source` refers to a Build Template. You **can** use that, but in that case, you have to specify your whole build inside the build trigger, which is **very** inconvenient if you have complex steps (usually, you would use a `filename` as specified above to refer to a build script **inside** the referenced repo). It is impossible to **just** specify the `repo_source` ther

[2021-08-31 09:28] saidi-adam commented on #9453
hey @melinath just wanted to update you on your suggestion - i've tested passing through `1.0e1024` as both a string and integer but get the following error message; I've tried the `-1.0e1024` version too, but still without luck as I see the same error.

`Error: failed to encode google_monitoring_slo.adam_slo in state: cannot serialize infinity as JSON`

[2021-08-31 11:32] leochoo commented on #1938
Any update on this? This is very inconsistent and unintuitive, especially when the doc does not mention anything about this behavior https://cloud.google.com/sdk/gcloud/reference/functions/deploy

[2021-08-31 12:12] DeviaVir commented on #9592
part of https://github.com/GoogleCloudPlatform/magic-modules/pull/5158

[2021-08-31 13:19] shmish111 commented on #8521
I had a very similar issue with importing resources, a terraform refresh seemed to fix the issue, very weird.

[2021-08-31 13:54] suckowbiz opened #9945 "google_sql_database_instance "collation" option is not supported on mysql (and postgres) instances"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-31 14:49] philippeboyd opened #9946 "`google_cloudfunctions_function` Unable to reference a secret"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-31 14:50] edwardmedia commented on #9945
@suckowbiz  It is in [v3.82.0](https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.82.0) which was released 18 hours ago. Can you checkout with that version?

[2021-08-31 15:16] melinath commented on #9936
@albrechtflo-hg Unfortunately, we are not able to provide a custom experience on top of the API the way that gcloud does. Deviating from the REST API tends to cause more maintenance headaches for us in the long run than it's worth.

If there is a way to accomplish your goal with the REST API without specifying a whole build template, that is definitely something we should support, and it _might_ b

[2021-08-31 15:36] albrechtflo-hg commented on #9936
@melinath It is really not that complicated:

[code]

I'd be very happy to see that done with the provider.

[2021-08-31 15:37] adamallred opened #9947 "`google_spanner_instance` processing_units update fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-31 15:42] melinath commented on #9936
Thanks for that sample API request! That clarifies things a lot. It looks like you're asking for two new fields: gitFileSource and sourceToBuild. That makes this an enhancement request rather than a bug, since it's new fields rather than fixing an issue with existing fields.

There's already an enhancement request open for these fields if you'd like to vote for it: https://github.com/hashicorp/ter

[2021-08-31 15:46] edwardmedia commented on #9869
@xaxo05 closing assuming this is no longer an issue

[2021-08-31 15:46] #9869 closed

[2021-08-31 15:47] edwardmedia commented on #9897
@matdtr can you repro this issue repeatedly?

[2021-08-31 15:51] suckowbiz commented on #9945
Sorry, I introduced a typo. I tested with v3.82.0. (I updated my description above).

The issue occured, using v3.82.0!

[2021-08-31 15:51] edwardmedia commented on #9899
@brianpham does that help?

[2021-08-31 15:52] matdtr commented on #9897
Hi @edwardmedia,

Actually once we did the apply, terraform doesn't not pop up the changes anymore. Tonight it should run again (on GCP) so i will see if terraform detect some changes again.

BR

[2021-08-31 16:14] brianpham commented on #9899
@edwardmedia Doesn't seem like it. There only seems to be 3 options for the cache mode. I actually want to bypass the cache setting a HTTP header using something like this https://cloud.google.com/cdn/docs/caching#bypassing-cache

[2021-08-31 16:23] edwardmedia commented on #9947
@adamallred dup with https://github.com/hashicorp/terraform-provider-google/issues/9908 and it has been fixed 5 days ago with PR https://github.com/GoogleCloudPlatform/magic-modules/pull/5147.  Wait for next release.

[2021-08-31 16:25] edwardmedia commented on #9945
@suckowbiz can you post the full debug log?

[2021-08-31 16:52] suckowbiz commented on #9945
I added a gist containing the debug log (https://gist.github.com/suckowbiz/0ff6d86b03c6f066a988f1cefe8edc38) to my initial posting.

[2021-08-31 16:57] rileykarson commented on #8521
When doing authentication this way- leveraging a token from a datasource- it's expected that the token will fall out of date if you're doing targeted actions. They last for a short period of time, and they need `terraform refresh` ran on them to get updated. By running `apply` with a `-target`, the token is keeping its old value and going stale.

[2021-08-31 17:19] ajsfidelis opened #9948 "Importing network interface on another project fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-31 17:42] adamallred commented on #9947
Wow, I totally missed that. Closing this.

[2021-08-31 17:42] #9947 closed

[2021-08-31 18:04] rileykarson opened #9949 "Enable sweepers for Spanner instance"
Spanner instances don't get swept, and a bunch have leaked- we don't generate sweepers for them, so we should either solve the problem blocking generating them or handwrite them.

[2021-08-31 18:53] #9943 closed

[2021-08-31 19:45] samos123 opened #9951 "filestore_instance networks connect_mode parameter missing from google-beta provider"
https://github.com/hashicorp/terraform-provider-google-beta/blob/master/google-beta/resource_filestore_instance.go#L125

filestore_instance is missing connect_mode parameter under network attribute: https://cloud.google.com/sdk/gcloud/reference/beta/filestore/instances/create#--network

[2021-08-31 19:51] NiGhtFurRy commented on #9951
+1

[2021-08-31 20:45] leighmhart commented on #9489
@PatrickDale I just tried again on a fresh project and am no longer getting the same issue - I wonder if GCP APIs have fixed this issue quietly?

[2021-08-31 21:06] rrmestl-cx opened #9953 "Log Router Sink writerIdentity not found when setting up pubsub.Publisher role for it."
I am trying to setup a Log Router sink writerIdentity service account to have the pubsub.Publisher role, but terraform apply fails (after terraform plan shows ok).   the writerIdentity is supposedly needed for the sink to be able to access the pub/sub/topic associated with it.

When manually creating a sink to a pub/sub topic, it automatically creates the writerIdentity service account, AND sets u

[2021-08-31 22:33] dima-vm opened #9954 "Service account account_id can start with a digit"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-08-31 22:59] ScottSuarez opened #9955 "Fix TestAccOSConfigGuestPolicies_*"
broken in completion of https://github.com/GoogleCloudPlatform/magic-modules/pull/5072 due to unrelated issue

[2021-08-31 23:46] #7603 closed

[2021-08-31 23:55] edwardmedia commented on #9897
@matdtr the diffs show in the plan. Which suggestion (below) did you see?

[2021-09-01 00:24] edwardmedia commented on #9945
I can repro the issue. `Collation` is listed in the api [doc](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/instances#Settings)

[2021-09-01 03:07] edwardmedia commented on #9902
@jankrynauw is this still an issue?

[2021-09-01 04:44] suckowbiz commented on #9945
I did that already. The `collation` option is working on sql server but neither working for mysql nor for postgres. Please see my `Important Factoids` above.

[2021-09-01 05:35] suckowbiz commented on #9945
I looked a little deeper into this and I think that it is intentional that `settings.collation` is working only for SQL Server due the nature of it.

To change collation of postgres and mysql there is a working option with `google_sql_database` module (and this option works only for mysql and postgres).

So in the end it makes sense but is not very intuitive and I think the documentation should be

[2021-09-01 07:16] OriBenHur commented on #9419
@shuyama1 I see that the documentation wasn't updated with this new field can you please provide me with an example of how to use it?

[2021-09-01 08:53] juliocc commented on #9833
I have a PR for this issue

[2021-09-01 09:52] webyneter commented on #5311
We also do!

[2021-09-01 09:53] chitha20 opened #9956 "Setting a cloudbuild trigger from enterprise self hosted github"
### Affected Resource(s)

* google_cloudbuild_trigger

###  Current  Problem  :

Hi with the recent GA'ed of cloudbuild private github enterprise feature as mentioned [here](https://cloud.google.com/build/docs/automating-builds/build-repos-from-github-enterprise) ,

we would like to leverage terraform automation in configuring the trigger for cloudbuild job from self hosted github. Current provide

[2021-09-01 12:08] estensen opened #9957 "google_vpc_access_connector ip_cidr_range is not optional"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-01 12:24] vFawzi commented on #9653
do we have any updates for this issue ?

[2021-09-01 15:13] q-ventsislav opened #9959 "Add support for min_instances"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-01 15:18] #9959 closed

[2021-09-01 15:22] MrVentzi opened #9960 "Add support for google_cloudfunctions_function - min_instances to the beta provider and eventually to this one?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-01 15:23] q-ventsislav commented on #9959
Can you delete this one please.

[2021-09-01 15:53] edwardmedia commented on #9957
`ip_cidr_range` was required but it was set to optional https://github.com/hashicorp/terraform-provider-google/commit/c56c27784c23a9db77689b9d114aa16ca259602c

[2021-09-01 16:57] shuyama1 commented on #9419
You can configure the field in the following format:
[code]
`dataproc_metastore_service` should be the name of an existing Dataproc Metastore service, and only resource names including projectid and location (region) are valid.

[2021-09-01 21:29] upodroid commented on #9925
@rileykarson We can close this issue.

Right now, there is no feature parity between

https://cloud.google.com/identity/docs/reference/rest/v1beta1/groups

[2021-09-01 21:45] upodroid commented on #9954
Hi

That isn't exactly a bug.

1. You don't want to import this resource and manage it by terraform as you will fail field validation. Also it is created by Google automatically so there is no reason to manage it in Terraform.
2. There is a specific datasource for referencing this service account. It is called `google_compute_default_service_account `
3. Google API has a restriction on the format

[2021-09-01 21:49] upodroid commented on #9946
Hi

The provider doesn't implement features in Private Preview. Also, provider doesn't implement the new version of Functions yet as it is Private Preview.

Thank you

[2021-09-01 21:51] upodroid commented on #9925
Have a look at https://github.com/hashicorp/terraform-provider-googleworkspace

[2021-09-01 21:55] Forcebyte commented on #9925
Ah bummer, I see now that they are two different API

Closing issue, thanks for the explanation and workaround @upodroid!

[2021-09-01 21:55] #9925 closed

[2021-09-01 22:49] #9899 closed

[2021-09-01 22:51] edwardmedia commented on #9902
@jankrynauw closing assuming this is no longer an issue

[2021-09-01 22:51] #9902 closed

[2021-09-01 22:53] edwardmedia commented on #9929
@armaan111 closing this question then

[2021-09-01 22:53] #9929 closed

[2021-09-01 22:57] edwardmedia commented on #9945
@suckowbiz you are right, and agreed with you on the documentation. But the provider's is usually aligned with API's. Closing this issue then

[2021-09-01 22:57] #9945 closed

[2021-09-01 22:59] brianpham opened #9961 "Support for Bypassing Cache on Google CDN"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-01 23:01] brianpham commented on #9899
Thanks! Created an enhancement #9961

[2021-09-01 23:31] jcanizalez commented on #9809
It seems like google updated documentation

![image](https://user-images.githubusercontent.com/27365102/131758561-9c9ec65a-2b17-4fb1-ac08-ed2b462d50a5.png)

[2021-09-02 00:10] #9647 closed

[2021-09-02 00:49] ScottSuarez commented on #9904
well thats not good. Lets get that fixed. Thanks for the find !

[2021-09-02 01:13] szekelyisz opened #9962 "IAM resources for `google_cloudiot_registry`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-02 05:44] suckowbiz commented on #9945
To avoid another user of the google provider opens the same issue again we could open an issue directly at the place where google api is maintained. Once they updated their documentation the provider docs can be aligned.

@edwardmedia Can you provide the repo where the Google APIs are developed. I am going to open an issue then.

[2021-09-02 07:46] OriBenHur commented on #9419
Thank you.
I'll give it a try

[2021-09-02 13:12] ericnorris commented on #9489
Hey @leighmhart, it looks like this is still happening; we've just ran into the issue again today:

[code]

Unfortunately we've noticed that this doesn't happen consistently, so it's hard to reproduce.

[2021-09-02 13:30] ivan-gusev opened #9963 "google_logging_metric linear_buckets width should allow float"
Clone of https://github.com/hashicorp/terraform-provider-google/issues/4382

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise fo

[2021-09-02 13:45] upodroid opened #9964 "Refactor `google_artifact_registry_repository_iam` to require name(selfLink) instead of repo,location and project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-02 15:39] ericnorris opened #9965 "Unhelpful `google_cloudfunctions_function` error message"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-02 15:59] #9202 closed

[2021-09-02 16:04] melinath opened #9967 "Flakey test: TestAccTPUNode_tpuNodeBUpdateTensorFlowVersion"
### Affected Resource(s)

* google_tpu_node

`TestAccTPUNode_tpuNodeBUpdateTensorFlowVersion` is flakey - failed 45% of the time last month.

Failure case is:

[code]

Example failure: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/203810?buildTab=tests&expandedTest=7910401290365399987

[2021-09-02 16:06] melinath opened #9968 "Flakey tests: TestAccNetworkServicesEdgeCacheService and TestAccNetworkServicesEdgeCacheOrigin (quota)"
TestAccNetworkServicesEdgeCacheService_updateAndImport has been failing consistently since August 19.

Failure looks like: Quota 'EdgeCacheOrigins' exhausted.

Example: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/203810?buildTab=tests&expandedTest=-4680362232161979201

Impacted tests:

- TestAccNetworkServicesEdgeCacheService_updateAndImport

[2021-09-02 16:29] melinath commented on #9968
EdgeCacheOrigin & EdgeCacheService examples don't generate tests with tf-test prefixes

[2021-09-02 17:09] Barbarians opened #9969 "Service account service-<project_number>@gs-project-accounts.iam.gserviceaccount.com does not exist"
### Community Note
* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are interes

[2021-09-02 17:16] #9963 closed

[2021-09-02 17:28] melinath opened #9970 "Failing test: TestAccPrivatecaCertificateAuthority_privatecaCertificateAuthorityByoKeyExample"
Consistent failure since July 9

Impacted tests: TestAccPrivatecaCertificateAuthority_privatecaCertificateAuthorityByoKeyExample

Example: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/203810?buildTab=tests&expandedTest=2641260290505745267

Message:

[code]

[2021-09-02 17:30] melinath opened #9972 "Failing Test: TestAccPrivatecaCaPool_privatecaCapoolEmptyBaseline"
Consistent failure since July 5.

Impacted tests: TestAccPrivatecaCaPool_privatecaCapoolEmptyBaseline

Example: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/203810?buildTab=tests&expandedTest=7738700369589483304

Message:

[code]

[2021-09-02 17:36] sankit2020 opened #9973 "Add enable-workload-certificates for container_cluster resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-02 17:36] sankit2020 commented on #9973
https://buganizer.corp.google.com/issues/198206223

[2021-09-02 17:51] edwardmedia commented on #9969
@Barbarians it's hard to guess without seeing the data. Can you verify if the Service Account exists?

badRequest

Checkout below doc for reference

https://cloud.google.com/storage/docs/projects#service-agents

[2021-09-02 18:03] melinath opened #9975 "Failing test: TestAccNotebooksInstance_notebookInstanceFullExample"
Note: This is separate from https://github.com/hashicorp/terraform-provider-google/issues/9244.

Consistently failing since Aug 21.
Impacted tests: TestAccNotebooksInstance_notebookInstanceFullExample
Example: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/203810?buildTab=tests&expandedTest=1861864166893878271
Message:

[code]

Most likely, thi

[2021-09-02 18:07] melinath opened #9976 "Test failure: Permadiff in google_monitoring_dashboard"
### Affected Resource(s)

* google_monitoring_dashboard

Consistent failure since August 13, 2021.
Impacted tests:
- TestAccMonitoringDashboard_update
- TestAccMonitoringDashboard_gridLayout
Example: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/203810?buildTab=tests&expandedTest=-6689074540955700992
Message:
[code]

Looks like a permadiff on

[2021-09-02 18:09] melinath opened #9977 "Test failure: google_compute_router encrypted_interconnect_router"
Consistent failure since July 4th.
Impacted tests:
- TestAccComputeInterconnectAttachment_computeInterconnectAttachmentIpsecEncryptionExample
- TestAccComputeRouter_computeRouterEncryptedInterconnectExample
- TestAccComputeHaVpnGateway_computeHaVpnGatewayEncryptedInterconnectExample

Example: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/20381

[2021-09-02 18:20] Barbarians commented on #9969
@edwardmedia yes i have a dependency with my *google_project_service*

it's ok. i have solved this error with that

[code]

To retrieve the token I used this cmd
[code]

I posted this issue just to help other person with the same issue

[2021-09-02 18:20] #9969 closed

[2021-09-02 18:31] melinath opened #9980 "Failing Tests: Quota 'FIREWALL_SECURITY_POLICIES' exceeded"
Failure rate:
- 70% and probably rising (at creation)
- 53% in September 2021

Impacted tests:
- TestAccComputeFirewallPolicyAssociation_basic
- TestAccComputeFirewallPolicy_update
- TestAccComputeFirewallPolicyRule_update
- (beta) https://github.com/hashicorp/terraform-provider-google/issues/10004
- (beta) TestAccComputeOrganizationSecurityPolicy_organizationSecurityPolicyUpdateExample
- (beta) T

[2021-09-02 18:32] Ariestattoo opened #9981 "google_compute_resource_policy Scheduler Destroys all VMs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-02 18:43] edwardmedia commented on #9981
@Ariestattoo can you detail the steps to repro the issue? What is excepted and what is the actual result?

[2021-09-02 18:57] sankit2020 opened #9984 "Support Bring your own IP 1.0 in Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-02 18:57] sankit2020 commented on #9984
https://buganizer.corp.google.com/issues/197022150

[2021-09-02 19:03] Ariestattoo commented on #9981
Hi @edwardmedia I have updated the initial comment with more details

[2021-09-02 19:12] sankit2020 opened #9986 "Add TF support for Cloud SQL address range picker"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-02 19:12] sankit2020 commented on #9986
https://buganizer.corp.google.com/issues/198336702

[2021-09-02 19:49] rileykarson commented on #9984
Not relevant yet- these are new resources, and we're awaiting DCL support. Let's file a new issue when we need one.

[2021-09-02 19:49] #9984 closed

[2021-09-02 20:05] melinath commented on #9488
This seems to no longer be happening - we have a different failure instead.

[2021-09-02 20:05] #9488 closed

[2021-09-02 20:06] melinath opened #9987 "Failing test(s): TestAccComposerEnvironment_update"
Failure rate: Consistently since August 28

Impacted tests:
- TestAccComposerEnvironment_update

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/203810?buildTab=tests&expandedTest=-3074006311885699769

Message:

[code]

Note: previously this test was failing with a slightly different error, until August 25. See https://github.c

[2021-09-02 20:08] melinath opened #9988 "Failing test(s): Apigee Instance permadiff"
Failure rate: Consistently since June 4

Impacted tests:
- TestAccApigeeInstanceAttachment_apigeeInstanceAttachmentBasicTestExample
- TestAccApigeeInstance_apigeeInstanceServiceAttachmentBasicTestExample
- TestAccApigeeInstance_apigeeInstanceBasicTestExample
- TestAccApigeeInstance_apigeeInstanceIpRangeTestExample
- (beta) TestAccApigeeInstance_apigeeInstanceFullTestExample

Nightly builds:
- http

[2021-09-02 20:12] melinath opened #9989 "Failing test(s): TestAccCloudRunService_foregroundDeletion (permadiff)"
Failure rate: Consistently since August 10

Impacted tests:
- TestAccCloudRunService_foregroundDeletion

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/203810?buildTab=tests&expandedTest=906946266494310957

Message:

[code]

Looks like a permadiff caused by the `template.spec.containers.ports.name` field on google_cloud_run_se

[2021-09-02 20:15] melinath commented on #9237
We're now getting a bit more information on this error?

[code]

[2021-09-02 20:16] melinath commented on #9238
@rileykarson if this test will never pass, perhaps we should remove it altogether?

[2021-09-02 20:17] melinath commented on #9238
(This comment courtesy of: it is still failing in CI)

[2021-09-02 20:18] melinath commented on #9476
This is now failing with a slightly different message:

[code]

i.e. now we're getting a 403 because it can't _set_ instead of because it can't _retrieve_.

[2021-09-02 20:21] melinath opened #9990 "Failing test(s): TestAccStorageSignedUrl_accTest"
Failure rate: Consistently since July 19

Impacted tests:
- TestAccStorageSignedUrl_accTest

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/203810?buildTab=tests&expandedTest=-4593054614698153936

Message:

[code]

[2021-09-02 20:23] melinath opened #9991 "Failing test(s): TestAccPrivatecaCertificate_privatecaCertificateNoAuthorityExample"
Failure rate:
- 54% in August 2021
- 54% in October 2021

Impacted tests:
- TestAccPrivatecaCertificate_privatecaCertificateNoAuthorityExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/203810?buildTab=tests&expandedTest=-8726061246624339857

Message:

[code]

[2021-09-02 20:25] melinath opened #9992 "Failing test(s): TestAccDataprocClusterIamMember"
Failure rate: 32% in August

Impacted tests:
- TestAccDataprocClusterIamMember
- TestAccDataprocClusterIamBinding

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloud_ProviderGoogleCloudGoogleProject/203810?buildTab=tests&expandedTest=-5826803043582546780

Message:

[code]

Note: both tests had the same failure rate but not all the same days.

[2021-09-02 20:27] melinath commented on #8660
13% failure rate in August

[2021-09-02 20:59] melinath opened #9993 "Failing test(s): TestAccComputeRegionDisk_interface & TestAccComputeDisk_interface (permadiff, beta)"
Failure rate: 100% since August 19

Impacted tests:
- TestAccComputeRegionDisk_interface
- TestAccComputeDisk_interface

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/203835?buildTab=tests&expandedTest=-6718571263290111167

Message:

TestAccComputeDisk_interface:
[code]

TestAccComputeRegionDisk_interface:
[code]

It

[2021-09-02 21:06] melinath opened #9994 "Failing test(s): TestAccCloudbuildWorkerPool_withNetwork"
Failure rate: 100% since August 22

Impacted tests:
- TestAccCloudbuildWorkerPool_withNetwork

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/203835?buildTab=tests&expandedTest=2443308878520888895
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/208265?build

[2021-09-02 21:10] melinath opened #9995 "Failing test(s): TestAccAppEngineServiceSplitTraffic_appEngineServiceSplitTrafficExample (beta)"
Failure rate:
- 39% in Aug 2021
- 46% in Sept 2021

Impacted tests:
- TestAccAppEngineServiceSplitTraffic_appEngineServiceSplitTrafficExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/203835?buildTab=tests&expandedTest=-8589591002051487317

Message:

[code]

[2021-09-02 21:14] melinath opened #9996 "Failing test(s): TestAccAppEngineServiceNetworkSettings_appEngineServiceNetworkSettingsExample (beta)"
### Affected Resource(s)

* google_app_engine_service_network_settings

Failure rate:
- 29% (9 failures) in August 2021
- 23% (7 failures) in September 2021

Impacted tests:
- TestAccAppEngineServiceNetworkSettings_appEngineServiceNetworkSettingsExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/203835?buildTab=te

[2021-09-02 21:21] #9904 closed

[2021-09-02 21:39] melinath opened #9998 "Failing test(s): TestAccAppEngineFlexibleAppVersion_update"
### Affected Resource(s)

* google_app_engine_flexible_app_version

Failure rate: 13% in the last 30 days

Impacted tests:
- TestAccAppEngineFlexibleAppVersion_update

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/203835?buildTab=tests&expandedTest=7385344304796565941

Message: Various

[code]

[code]

[code]

[code]

[2021-09-02 21:41] melinath opened #9999 "Failing test(s): TestAccPrivatecaCertificate_privatecaCertificateCsrExample"
Failure rate: 10% in August

Impacted tests:
- TestAccPrivatecaCertificate_privatecaCertificateCsrExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/203835?buildTab=tests&expandedTest=2213501152205331629

Message:

[code]

[2021-09-02 21:42] melinath opened #10000 "Failing test(s): TestAccOSConfigGuestPolicies_osConfigGuestPoliciesBasicExample"
Failure rate: 16% in August

Impacted tests:
- TestAccOSConfigGuestPolicies_osConfigGuestPoliciesBasicExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/203835?buildTab=tests&expandedTest=1614807169379048826

Message:

[code]

[2021-09-02 21:44] melinath opened #10001 "Failing test(s): CloudIdentityGroup still exists"
### Affected Resource(s)

* google_cloud_identity_group

Failure rate:
- 10% in August 2021
- 13% in October 2021
- 80% in Dec 2021
- 64.5% in Jan 2022
- 87% in Mar 2022
- 76% in Apr 2022
- 58% in May 2022
- 66% in Jun 2022

Impacted tests:
- TestAccCloudIdentityGroup_update
- TestAccCloudIdentityGroup_cloudIdentityGroupsBasicExample

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildCon

[2021-09-02 23:13] melinath opened #10002 "Failing test(s): TestAccIapWebTypeAppEngineIamMemberGenerated_withAndWithoutCondition"
Failure rate: 58% in August

Impacted tests:
- TestAccIapWebTypeAppEngineIamMemberGenerated_withAndWithoutCondition

Nightly builds:
- https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/203835?buildTab=tests&expandedTest=8866897506593020214

Message:

[code]

[2021-09-02 23:15] melinath commented on #10002
Duplicate of https://github.com/hashicorp/terraform-provider-google/issues/9476

[2021-09-02 23:15] #10002 closed

[2021-09-02 23:37] ScottSuarez opened #10003 "Failing test(s): `TestAccFirebaseWebApp_firebaseWebAppBasicExample`"
`TestAccFirebaseWebApp_firebaseWebAppBasicExample` is failing in CI

import as self link isn't grabbing the project from the resource if possible. We need this if the value is different from the global provider config.

[2021-09-03 00:09] ScottSuarez commented on #9980
probably hitting quota because we are running these on CI all the time with the failing tests

TestAccComputeOrganizationSecurityPolicyAssociation_organizationSecurityPolicyAssociationBasicExample

[2021-09-03 00:10] ScottSuarez opened #10004 "Failing test(s): TestAccComputeOrganizationSecurityPolicyAssociation_organizationSecurityPolicyAssociationBasicExample"
TestAccComputeOrganizationSecurityPolicyAssociation_organizationSecurityPolicyAssociationBasicExample

is failing due to api additional field to overwrite existing organization association

[2021-09-03 00:16] ScottSuarez commented on #9980
this may resolve it https://github.com/GoogleCloudPlatform/magic-modules/pull/5174

[2021-09-03 00:17] ScottSuarez commented on #9980
https://github.com/hashicorp/terraform-provider-google/issues/10004

[2021-09-03 00:22] edwardmedia commented on #9981
I see. There are two POST request available [addResourcePolicies](https://cloud.google.com/compute/docs/reference/rest/v1/instances/addResourcePolicies) and [removeResourcePolicies](https://cloud.google.com/compute/docs/reference/rest/v1/instances/removeResourcePolicies)

[2021-09-03 00:30] vsaroha opened #10005 "Unable to handle `%` character in resource names on GCP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-03 08:58] matdtr commented on #9897
Hi @edwardmedia,

I get:  "No changes. Your infrastructure matches the configuration".
All the metadata changes are under "Note: Objects have changed outside of Terraform"

[2021-09-03 10:10] AlexBMes opened #10006 "google_compute_disk interface always SCSI (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-03 17:19] jalseth opened #10007 "google_firestore_document resource always errors"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-03 19:10] artemijspavlovs opened #10008 "GKE Sandbox support for google_container_node_pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-03 20:13] sairajm opened #10009 "docs on "google_tpu_tensorflow_versions" is misleading"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-03 20:29] arvindpai opened #10010 "google_compute_instance_from_template giving exceptions"
Hi Team,

I was trying to run the  simple code for google_compute_instance_from_template code  as stated below 👍

resource "google_compute_instance_template" "tpl" {
  name         = "template"
  machine_type = "e2-medium"

  disk {
    source_image = "debian-cloud/debian-9"
    auto_delete  = true
    disk_size_gb = 100
    boot         = true
  }

  network_interface {
    network = "default"

[2021-09-03 20:35] slevenick commented on #10006
Looks like this was an API-side change that caused this. I believe it should be rolled back soon and we can figure out how to move forward from there

[2021-09-03 20:39] edwardmedia commented on #10005
@vsaroha Thank you for filing this issue. I can repro it and I can also see the name is accepted from the Console. But it is very unusual and vast majority of resources have strict rules on naming convention. Not sure if API could update its validation in the future as well. Do you have to have this name? I would suggest to avoid this. This is a bug but we may just leave it as is. Closing the issu

[2021-09-03 20:39] #10005 closed

[2021-09-03 20:44] melinath commented on #9948
This does not have enough steps to reproduce - could you please open a new issue and fill out the issue template with details about the issue?

[2021-09-03 20:44] #9948 closed

[2021-09-03 20:55] melinath commented on #9954
Looking at the API, this seems to be the correct validation for us to apply for this resource. https://cloud.google.com/iam/docs/reference/rest/v1/projects.serviceAccounts/create#request-body

I'm not sure how that interacts with the default service account. @dima-vm could you elaborate on your use case? Would using the `google_compute_default_service_account` data source be sufficient for you?

[2021-09-03 20:57] edwardmedia commented on #10007
@jalseth does below config work for you?

[code]

[2021-09-03 21:13] melinath commented on #9954
After looking into this some more, I'm going to go ahead and close the ticket. It looks like you're talking about https://cloud.google.com/iam/docs/service-accounts#default. We don't support that with the service_account resource.

You can reference the default compute service account with [`google_compute_default_service_account`](https://registry.terraform.io/providers/hashicorp/google/latest/do

[2021-09-03 21:13] #9954 closed

[2021-09-03 21:15] melinath commented on #10006
Related: https://github.com/hashicorp/terraform-provider-google/issues/9993

[2021-09-03 23:39] edwardmedia commented on #9897
@matdtr What this means is that Terraform has detected the difference but they can be ignored. Since you have got `No changes. Your infrastructure matches the configuration`, it should not be seen as `keep trying to change`, unless I misunderstood the `issue`

[2021-09-03 23:41] #9965 closed

[2021-09-04 00:46] sankit2020 opened #10012 "Add TF support for Cloud Armor Rate Limiting"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-04 00:46] sankit2020 commented on #10012
https://buganizer.corp.google.com/issues/198533060

[2021-09-04 09:22] matdtr commented on #9897
@edwardmedia ok understood. Is there a way to suppress these info to show up in the terraform plan?

[2021-09-06 07:29] ilicmilan opened #10015 "google_storage_bucket - Change in lifecycle_rule's condition is not recognised"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-06 08:24] seankhliao commented on #9891
@Tfmenard I think we're still seeing this on 3.82.0 ?

[code]

[2021-09-06 08:29] lrk commented on #9505
Hi, i run into the same problem.

@slevenick Is there any update on this subject ?

Best regards.

[2021-09-06 12:02] andrewmackett opened #10016 "`google_compute_region_network_endpoint_group` - Error: project: required field is not set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-06 21:18] edwardmedia commented on #9897
@matdtr I don't think so. For certain reasons, these info are useful. For regular users or automation processes, the last line is more important. Closing this issue now. Feel free to reopen if you want to continue the conversation. Thank you

[2021-09-06 21:18] #9897 closed

[2021-09-06 21:29] edwardmedia commented on #9953
@rrmestl-cx when you manually create a sink, it probably involves multiple steps and covers multiple calls to different resources. But in Terraform, it usually just creates one resource. In your case, you probably need to add creating service account(s) in your plan explicitly. There are no hidden steps. Does this make sense?

[2021-09-06 21:57] edwardmedia commented on #9957
@estensen does this make sense?

[2021-09-06 22:00] edwardmedia commented on #10007
@jalseth is this still an issue?

[2021-09-06 22:13] edwardmedia commented on #10016
@andrewmackett did you provide `project` in the `provider` block or have the environment variable `GOOGLE_PROJECT`? It is optional if you have either of one available. Please review below doc that might be help.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/getting_started#configuring-the-provider

[2021-09-06 22:20] ermik commented on #9155
Just checked:
[code]

There's a feature request tracking allowing this functionality. If you're interested in this use-case, please vote for it: https://issuetracker.google.com/issues/73122477

[2021-09-07 07:27] estensen commented on #9957
I think this happened while transitioning from using a Shared VPC Connector to a normal one.
The linked example with a Shared VPC Connector using the beta provider works.

I don't think I'll be able to recreate the error.

[2021-09-07 08:31] boosh opened #10017 "google_service_usage_consumer_quota_override - Can't set quota overrides if they already exist"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-07 08:40] boosh commented on #10017
Ah it needs manually importing into state, then it works :(

[2021-09-07 08:40] #10017 closed

[2021-09-07 13:00] lzahorka commented on #9891
We are also seeing this issue in the newest version.

`Stack trace from the terraform-provider-google_v3.82.0_x5 plugin:
panic: interface conversion: interface {} is nil, not string
goroutine 593 [running]:
github.com/hashicorp/terraform-provider-google/google.flattenNestedComputeRouterBgpPeerEnable(...)
	/opt/teamcity-agent/work/5d79fe75d4460a2f/src/github.com/hashicorp/terraform-provider-google/

[2021-09-07 15:21] edwardmedia commented on #9957
@estensen what I was trying to say is in some cases, this field is optional. In other cases, it is required. Because of this, the doc usually specifies it is optional. Closing the issue then. Feel free to reopen if you see differently.

[2021-09-07 15:21] #9957 closed

[2021-09-07 15:27] hanneshayashi commented on #9981
I have this working locally now with a small patch. Can I submit a PR or is there any procedure I need to follow?

[2021-09-07 15:43] aclaypool commented on #9891
Also still seeing this issue on 3.82

`
Stack trace from the terraform-provider-google_v3.82.0_x5 plugin:

panic: interface conversion: interface {} is nil, not string
`

[2021-09-07 17:49] #9955 closed

[2021-09-07 18:14] c2thorn commented on #3784
This was resolved and verified in b/134758506

[2021-09-07 18:14] #3784 closed

[2021-09-07 18:24] #9951 closed

[2021-09-07 18:25] anovis opened #10020 "Add Support for `rateLimitingOptions` to `google_compute_security_policy`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-07 19:33] vponnam commented on #9946
As a side note: while the support for this feature is yet to be added to the provider, assuming the other dependencies are met, an interim option to automate this secret manager integration is by wrapping the [gcloud command](https://cloud.google.com/functions/docs/configuring/secrets#making_a_secret_accessible_to_a_function) in a [gcloud module](https://github.com/terraform-google-modules/terrafo

[2021-09-07 19:41] jalseth commented on #10007
@edwardmedia Based on your response this means that the provider doesn't handle the conversion from JSON to the Firestore internal JSON structure? That is really unfortunate and it makes this a lot harder to use (near-impossible for some use cases). I want to build an object in Terraform and use `jsonencode` on that object to get the value to supply to the `fields` parameter here.

Would it be pos

[2021-09-07 20:01] #9197 closed

[2021-09-07 20:28] #9753 closed

[2021-09-07 20:29] #10015 closed

[2021-09-07 20:29] #9941 closed

[2021-09-07 20:55] edwardmedia commented on #10007
@jalseth You may want to take a look at its [api](https://cloud.google.com/firestore/docs/reference/rest/v1/projects.databases.documents) doc. Can you try something like below?

[code]

[2021-09-07 21:43] edwardmedia commented on #9325
@elouanKeryell-Even as you can see below line in the plan, it tells us the `apply` usually starts with `destroy`. That is controlled by the Terraform framework. For the [apply log ](https://github.com/hashicorp/terraform-provider-google/issues/9325#issuecomment-858447362), it seems not complete. If you can repro, can you double check the debug log for `apply`?

[2021-09-07 22:38] kubasieron opened #10026 "Add support for Composer scheduler count flag"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-07 22:39] kubasieron commented on #10026
I wish to work on this item.

[2021-09-08 00:13] #10004 closed

[2021-09-08 03:53] jeremyvisser commented on #9976
This is likely the same issue as https://github.com/hashicorp/terraform-provider-google/issues/7242.

[2021-09-08 04:47] pankajkumar229 opened #10028 "min_master_version not sufficient"
we need to pin Kubernetes version to a particular version. Otherwise we wont even realize and our yaml files become obsolete. Can we get to configure the exact kubernetes version?

IF there is something already that can be used, please point us to it. IT is a blocker for us. Please help.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-ad

[2021-09-08 05:20] hanneshayashi commented on #9981
I opened a PR with the changes I made locally. I hope that's ok. If I need to follow any additional steps, please let me know.

[2021-09-08 07:11] philipp-hb opened #10031 "Redis Instance Update timeout is too low"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-08 09:25] ilicmilan commented on #10015
Thanks, @edwardmedia for fixing it quickly!
Not that I need it right now, but looking at the fix and [possible condition options](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/storage_bucket#condition), seems that we are still missing a few checks: `days_since_custom_time`, `custom_time_before`, `noncurrent_time_before`.

[2021-09-08 09:59] andrewmackett commented on #10016
@edwardmedia yes, after hitting this issue I added the `project` to the google provider block which is a successful work around.

However I believe there's still an issue here because setting a `project` value on the `google_compute_region_network_endpoint_group` resource has no effect and it shouldn't be necessary to set the project in the provider if the project is already defined on the resourc

[2021-09-08 11:45] ricardolpd opened #10032 "API-Gateway Config attempts to update even when there are no changes to config."
We have created an api-gateway module, and it fails to upload new ones, because the module is constantly being replaced even where there are no changes to the resource or the api.yaml, according to the plan the `openapi_documents.document.contents` is whats causing the replacement to happen, even though the base64 string is the same. I have tested this with 3.76.0 and 3.82.0 providers.

If this ap

[2021-09-08 15:17] Ariestattoo commented on #9981
Thanks for your time on this @hanneshayashi  and @edwardmedia. My understandng that Hashicorp is short staffed right now and not working through community pull requests. Hopefully soon.

[2021-09-08 15:57] #9824 closed

[2021-09-08 17:13] edwardmedia commented on #10031
@philipp-hb while I am going to extend the default timeout, can you try to overwrite it suggested below?

https://www.terraform.io/docs/language/resources/syntax.html#operation-timeouts

[2021-09-08 17:42] slevenick commented on #10032
I *think* this is caused by depending on a computed field from a data source.

When Terraform runs on a data source (the template_file in this case) the outputs of that data source may be marked as `computed` until apply-time, which is what your plan is showing. Docs on this behavior: https://www.terraform.io/docs/language/data-sources/index.html#data-source-lifecycle

You haven't included your da

[2021-09-08 18:24] rileykarson commented on #6694
@melinath: Unassigning so that this gets picked up next sprint, we'd talked about leaving context on the ticket- do you remember what that was?

[2021-09-08 18:40] ricardolpd commented on #10032
you were completely right, thanks for the link about data lifecycle, i had spent most of last night, and i couldn't understand why it kept updating the resource. I had looked into locals lifecycle for something else, but end up missing looking up at the data.

[2021-09-08 18:40] #10032 closed

[2021-09-08 19:36] slevenick commented on #10028
Is this possible with the REST APIs as they exist today? If not, you may be better off filing a request against the API team via: https://cloud.google.com/support/docs/issue-trackers

I don't believe this is currently a supported functionality of the GKE API

[2021-09-08 19:42] slevenick commented on #10010
That's odd.. I can copy & paste that config and apply it successfully. What version of Terraform core & the Google Provider are you using?

[2021-09-08 19:52] datacabinet commented on #10028
Yes, I think it is possible via APIs . google cloud's terraform module supports specifying exact value.

[2021-09-08 20:05] melinath commented on #6694
Ah - I think it's the context I left on the PR. I'll copy it here & clean it up:

- Everything seems to be working on the DCL side.
- On our side, we're getting a permadiff due to location not being explicitly set on the resource (only via the  parent id.) We would ideally ignore this case somehow.
- Also, although it's possible to create resources, we can't delete them, because the id is getting

[2021-09-08 20:05] deekthesqueak opened #10034 "google_sql_user setting optional type and host to blank string"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-08 20:18] slevenick commented on #10028
What do you mean by that? Can you show me an example?

[2021-09-08 20:19] micimize opened #10035 "Clarify difference between gce_persistent_disk_csi_driver_config omitted vs disabled"
The docs state that [gce_persistent_disk_csi_driver_config] defaults to disabled, however it is instead [left unconfigured](https://github.com/hashicorp/terraform-provider-google-beta/blob/3c56207d8f524b26773492153e2ebe4da031dc17/google-beta/resource_container_cluster.go#L2917-L2923). This results in the CSI Driver being [enabled by default by GKE](https://cloud.google.com/kubernetes-engine/docs/h

[2021-09-08 20:32] jalseth commented on #10007
I understand that's the REST API reference format, but the Firestore client SDKs (such as the one I linked for Go) handle the conversion from a regular object/dictionary into the format that the REST API expects. For example, what I should be able to do:

[code]

And the Terraform provider would convert the object into JSON that looks like this:
[code]

Which it then sends to the REST API. With ho

[2021-09-08 21:07] datacabinet commented on #10028
Please see on this page the description for kubernetes_version : https://github.com/terraform-google-modules/terraform-google-kubernetes-engine

[2021-09-08 21:09] JCFlores93 opened #10036 "Getting an error when I try to create google_data_catalog_entry_group"
I'm getting the next error, but I have permissions like data catalog admin and api is enabled.
[code]

Template used:
[code]

[2021-09-08 21:32] #10031 closed

[2021-09-08 22:15] slevenick commented on #10028
Yeah, that module is using this provider. Which means it can only specify things that are available through this provider. I believe that is using min_master_version at some level

[2021-09-08 22:17] slevenick commented on #10036
The error is `SERVICE_DISABLED` which means you likely need to enable the `datacatalog.googleapis.com` service!

You can try using the https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project_service resource to enable that

[2021-09-08 22:18] datacabinet commented on #10028
Is there anything that this provider provides that we can use if our module is using this provider? I don't think min_master_version can be used to implement kubernetes_version

[2021-09-08 22:21] slevenick commented on #10028
min_master_version *is* used to implement `kubernetes_version` in the module you linked.

See:
https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/main.tf#L43

and

https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/master/cluster.tf#L54

[2021-09-08 22:49] #9279 closed

[2021-09-08 23:25] #9494 closed

[2021-09-09 01:30] tcpkump opened #10040 "Add support for Hybrid Load Balancer"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-09 05:15] dantheperson commented on #9459
My solution to this issue is
1) update TF file from metadata_startup_script to metadata.startup-script
2) `terraform state rm google_compute_instance.my_vm`
3) via GCP console delete the startup-script from the instance
4) `terraform import google_compute_instance.my_vm vm-name`
5) `terraform apply` to add the startup script back to the VM.

[2021-09-09 06:16] hanneshayashi commented on #9981
As far as I understand, that only applies to the main Terraform repo and not the providers:
https://www.hashicorp.com/blog/terraform-community-contributions

Although I guess everyone at HashiCorp is pretty busy in general. If there is anything I can do to help get this merged, please let me know @edwardmedia

[2021-09-09 10:05] finlaye opened #10041 "Cloud build private pools `google_cloudbuild_worker_pool` not available in google provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-09 12:56] tm185187 opened #10042 "TF plan always shows changes on google_monitoring_alert_policy"
### Affected Resource(s)

* google_monitoring_alert_policy

Hello,

On use of resource "google_monitoring_alert_policy" TF google resource to create a alerting policy with Terraform, it always shows + cross_series_reducer = "REDUCE_NONE getting added and TF plan shows has been changed.

[code]

Plan output
[code]

b/275101455

[2021-09-09 13:26] JCFlores93 commented on #10036
Hey @slevenick , I tried to add this code, but I got the same error, should I add a service account instead of using the credentials from gcloud auth application-default login?
[code]

Error:
[code]

[2021-09-09 13:49] edwardmedia commented on #10041
@finlaye below is what it says in the [warning](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudbuild_worker_pool) section of the resource. Let me know if you have trouble in using the beta version.

[2021-09-09 13:59] finlaye commented on #10041
Hey - thanks for getting back to me! yes - so when I use the beta version I get the following error:

[code]

However, if I create a google cloud build private pool via the UI console, it works fine! I don't think you need to be allowlisted for the feature anymore as it is now GA release

[2021-09-09 15:29] debakkerb opened #10043 "Even when Organization Policy creation fails, it is added to the state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-09 16:33] slevenick commented on #10036
Looks like the error says `Your application has authenticated using end user credentials from the Google Cloud SDK or Google Cloud Shell which are not supported by the datacatalog.googleapis.com`.

So I would try using a service account or service account impersonation

[2021-09-09 16:42] JCFlores93 commented on #10036
Thanks @slevenick , using service account impersonation and enable service usage api made the trick!

[2021-09-09 16:42] #10036 closed

[2021-09-09 16:57] joe-a-t commented on #9353
@slevenick and @edwardmedia re-ordering the items on our side doesn't work since we are using a dynamic block. Is there any update on fixing this or can I just make a PR myself to https://github.com/hashicorp/terraform-provider-google/blob/master/google/resource_compute_router.go#L110 changing `List` to `Set` and get it reviewed/merged?

[2021-09-09 17:07] #9841 closed

[2021-09-09 17:14] dpowley opened #10044 "Support authenticating with credentials from VM Metadata"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-09 17:24] #8704 closed

[2021-09-09 17:34] sserban-us opened #10046 "Error 400 when updating a google_spanner_instance's config using processing_units"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-09 17:54] slevenick commented on #10042
Are you sure this cross series reducer type of `REDUCE_NONE` is applicable for this policy? The docs note that

"Not all reducer functions may be applied to all time series, depending on the metric type and the value type of the original time series."

I'm guessing that if it is not applicable for some reason the API does not save the input value? I'm saying this because we have tests that set the

[2021-09-09 17:57] #9833 closed

[2021-09-09 18:21] joe-a-t commented on #9891
@jehiah @Tfmenard @edwardmedia Can one of you please re-open this issue since it is still appearing in 3.82?

[2021-09-09 18:24] edwardmedia commented on #10041
@finlaye The error was from api. You might need to follow the error message to contact Google Cloud Support at https://cloud.google.com/support-hub. Below is what it says in the Terraform resource in note section. There is not much the provider can do about it. Let me know if you still face problems after you contact the support

[2021-09-09 18:38] jehiah commented on #9891
This fix was not actually included in `v3.82`, but is in `v3.83`

https://github.com/hashicorp/terraform-provider-google/compare/v3.82.0...v3.83.0

[2021-09-09 19:00] slevenick commented on #9353
Changing from `toset` to `tolist` and reordering it doesn't fix the issue? It should work even with a dynamic block, at least according to my testing.

Changing from a List to a Set in the schema is possible, but may be considered a breaking change as it breaks interpolation on the field

[2021-09-09 19:33] joe-a-t commented on #9353
We use it from within a module and given the way that we pass around/transform the relevant variable, a list is not working for us. I'm a bit confused why fixing the schema would be considered a breaking change. Related to https://github.com/hashicorp/terraform/issues/28803 I've seen a bunch of other providers/resources make this exact list to set schema change without issues or having to declare

[2021-09-09 19:45] slevenick commented on #9353
We technically consider it a breaking change because it can break user configs that interpolate based on the current ordering of the List field. Changing to a set changes the order which will cause diffs for anyone using interpolation on that field.

That said, it is definitely something that we would consider doing. It would likely involve changing the behavior in `google_compute_router_peer` as

[2021-09-09 20:18] angelchang commented on #10046
This is a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/9908 which was fixed here GoogleCloudPlatform/magic-modules#5147. Please wait for the next release.

[2021-09-09 21:59] xiaobaitusi opened #10049 "Bug in the fix for #9208"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-09 22:04] #10003 closed

[2021-09-09 22:39] rileykarson commented on #9874
Note based on https://discuss.hashicorp.com/t/best-practices-for-implementing-sigterm-ctrl-c-cancel-in-google-provider-for-partial-admission-operations/28415 we're behaving as intended here:

[code]

I'm retriaging to backlog to reflect that we're unlikely to take this up.

[2021-09-10 00:53] morgante opened #10051 "Backfill user project overrides on Cloud SQL resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-10 04:20] pankajkumar229 commented on #10028
Hi sorry for the distraction with the other module. But it does have a REST equivalent where we can set Kuberntes version (please see version and initial_cluster_version):

POST https://container.googleapis.com/v1beta1/projects/datacabinet-backend/zones/us-central1-c/clusters
{
  "cluster": {
    "name": "cluster-1",
    "masterAuth": {
      "clientCertificateConfig": {}
    },
    "network": "pr

[2021-09-10 07:17] elouanKeryell-Even commented on #9325
@edwardmedia ok so my issue lies in the terraform core, if I understand you correctly

Let's close this issue then, since it is mis-located

[2021-09-10 07:17] #9325 closed

[2021-09-10 07:29] deekthesqueak commented on #10034
Closing this as upon further investigation it is cased by legacy plugin SDK.

[2021-09-10 07:29] #10034 closed

[2021-09-10 10:23] gmile opened #10052 "google_compute_network: auto_create_subnetworks = {true -> false} causes resource re-creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-10 11:07] remmelt opened #10053 "google_cloudbuild_trigger support for service account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-10 13:04] juliocc opened #10054 "Add support for customer-managed encryption keys for Log Router"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-10 16:04] edwardmedia commented on #9953
@rrmestl-cx closing assuming no further questions

[2021-09-10 16:04] #9953 closed

[2021-09-10 16:39] slevenick commented on #10052
Yeah, so if you notice the `Default: true,` on that schema entry it means that if you don't set `auto_create_subnetworks` in your config the provider will default this value to `true`.  This means that your first step of defining the network is essentially saying: ```resource "google_compute_network" "my_network" {
  name = "my-network"
  auto_create_subnetworks = true # implied from default
}```

[2021-09-10 17:06] gmile commented on #10052
Right, current behaviour is understandable.

I'm challenging whether this behaviour can be adjusted to match that of Google Cloud API. Google Cloud Console, will let switch network's `auto_create_subnetworks` from `true` to `false` without forcing network re-creation. Question is, could `google_compute_network` resource possibly be made similarly "tolerant" to the change and update the resource in

[2021-09-10 17:17] edwardmedia commented on #10007
@jalseth Both client SDK and Terraform provider eventually call APis but the provider has much less choices than the SDK has in term of the data manipulation, as there is a Terraform core layer living in between. I don't think the provider can support as you wanted. Does this make sense?

[2021-09-10 17:42] slevenick commented on #10052
Does changing `auto_create_subnetworks` change the type of the network? As I understand it that field controls the type (legacy vs non-legacy) of the network being created. I don't believe this can be changed after the fact.

The REST API docs say:

"Must be set to create a VPC network. If not set, a legacy network is created. When set to true, the VPC network is created in auto mode. When set to

[2021-09-10 18:07] marktru commented on #9298
This needs to have the milestone unassigned and a P1 priority. Relates to issue http://b/199214105.

[2021-09-10 18:21] rileykarson commented on #9341
@ndmckinley: Assigning this to you based on your supporting b/195368328, please correct me if I got it wrong! Also, if Thomas comments here I can assign them instead.

[2021-09-10 18:58] slevenick commented on #10046
Closing based on @angelchang's comment

[2021-09-10 18:58] #10046 closed

[2021-09-10 19:03] joe-a-t commented on #9891
Everything looks good on 3.83, thanks!

[2021-09-10 19:35] slevenick commented on #10028
So `version` specifically belongs to a node pool rather than the cluster. It is documented here: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters.nodePools and can be set via the `google_container_node_pool` resource as documented here: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_node_pool#version

Does

[2021-09-10 19:36] megan07 commented on #9890
Hi @dcallao! Sorry for the delay, I was out of office for a bit. I picked this back up today and, although I am not using your exact metrics, I am also seeing the `null` value for my Policy Documentation. However, I'm creating it in the console. Have you been able to recreate this in the console and see an actual message there?
Thanks!

[2021-09-10 19:58] #9993 closed

[2021-09-10 19:58] #10006 closed

[2021-09-10 20:00] slevenick commented on #10053
Looks like adding support for `serviceAccount` should fix this. Where do you see that it is in beta? I see that field on the v1 API

[2021-09-10 22:34] wangyh28 opened #10057 "Support vpc network configuration in google_service_directory_endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-11 07:27] remmelt commented on #10053
I was puzzled by this... the field _is_ in the v1 API, but on the GCP Console it is marked as "preview".

[2021-09-11 10:09] gmile commented on #10052
I don't believe changing `auto_create_subnetworks` impacts the type (legacy vs non-legacy) of the network either.

This aligns with my thinking as well. As I understand, it's the presence (null vs not null) of the value that controls the type of network: as long as the value is non-empty, e.g. it's either `true` or `false`, the network is VPC (e.g. non-legacy).

To sum up a bit:

* for the network

[2021-09-12 02:54] #9851 closed

[2021-09-12 07:03] tm185187 commented on #10042
This only happens when you have selected cross_series_reducer as REDUCE_NONE for log-based metric alerting. Other aggregators are fine.

[2021-09-13 13:36] lwsanty opened #10059 "google_cloudfunctions_function -> support secrets"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-13 17:00] #9552 closed

[2021-09-13 17:14] rileykarson commented on #4589
+1 to Dana, I think https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#linux_node_config is what was requested here.

[2021-09-13 17:14] #4589 closed

[2021-09-13 17:39] dpowley commented on #10044
Closing, as TF finds defaults to the default credentials, which includes querying metadata service.

[2021-09-13 17:39] #10044 closed

[2021-09-13 17:46] rileykarson commented on #10012
Deduping to https://github.com/hashicorp/terraform-provider-google/issues/10020 as there are more details there.

[2021-09-13 17:46] #10012 closed

[2021-09-13 18:09] ggprod opened #10061 "Support new serverless NEG for API gateway via new serverlessDeployment property"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-13 18:12] marktru opened #10062 "Terraform support for Cloud Armor bot management"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-13 19:11] marktru opened #10064 "support user-created service account functionality for Cloud Build"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-13 19:15] rileykarson commented on #10064
Does this duplicate https://github.com/hashicorp/terraform-provider-google/issues/10053?

[2021-09-13 19:38] remmelt commented on #10064
It seems like.

[2021-09-13 19:42] edwardmedia commented on #10007
@jalseth does this make sense?

[2021-09-13 19:43] edwardmedia commented on #10016
@andrewmackett is this still an issue?

[2021-09-13 19:45] edwardmedia commented on #10041
@finlaye is this still an issue?

[2021-09-13 19:46] rileykarson opened #10065 "Investigate methods of handling failure / cancellation mid-apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-13 19:48] rileykarson commented on #10065
My thoughts here: I don't think I like Option 1, given the interpolation problems and how it means misreporting success at creating the resource (even though it's often the case). It means we can't perform followup actions on the resource properly, such as deleting the default node pool in GKE. Option 2 seems safer, but needs deeper investigation. 3 is the one I've considered the least, and defini

[2021-09-13 20:06] marktru commented on #10064
Dup of https://github.com/hashicorp/terraform-provider-google/issues/10053

[2021-09-13 20:06] #10064 closed

[2021-09-13 20:19] shuyama1 commented on #9332
`google_compute_network_endpoint_group` seems like a zonal resource which does not support serverless products.
We do have `google_compute_region_network_endpoint_group` resource which is a regional NEG and already have `cloud_run` feature supported: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_region_network_endpoint_group#example-usage---region-network-e

[2021-09-13 22:06] jalseth commented on #10007
That doesn't make sense to me, as you have full control over the provider which is in the middle for all CRUD events for the resource; it could transparently remove the Firestore structure metadata before returning it to Terraform core for the state computation and then it could transparently add it back when making calls to the REST API. If that's not possible please let me know why and if you ca

[2021-09-13 23:53] slevenick commented on #10059
Closing as duplicate of https://github.com/hashicorp/terraform-provider-google/issues/9946

[2021-09-13 23:53] #10059 closed

[2021-09-14 02:24] mbrancato opened #10066 "Creating a service networking connection touches a different project than explicitly configured"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-14 10:41] fourstepper commented on #9458
Maybe the name `all_updates_rule` is not necessarily correct and would also be nice to rename this?

[2021-09-14 14:04] chaopeng opened #10067 "Promote google_healthcare_hl7_v2_store.parser_config.version to GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-14 14:04] dcallao commented on #9890
I recreated in the console but dont see the message there either.

[2021-09-14 14:04] chaopeng commented on #10067
I will work on it

[2021-09-14 14:11] tSte commented on #9505
Sorry for late answer @slevenick - I was on vacation...

I executed this:
[code]

This is the request:
[code]

[2021-09-14 14:18] #10049 closed

[2021-09-14 14:28] mikouaj commented on #10041
@edwardmedia the point here is that `google_cloudbuild_worker_pool` should not be beta anymore.
CloudBuild Private pools feature is already generally available as stated in [Cloud Build Release Notes](https://cloud.google.com/build/release-notes#July_27_2021).

Therefore, this resource should be part of stable provider already.
The error provided by @finlaye comes from beta provider that uses beta

[2021-09-14 14:47] edwardmedia commented on #10041
@mikouaj from `beta` to `ga`, there is a process. You may file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=enhancement.md) for it.  This is not a bug. Does this make sense?

[2021-09-14 14:58] mikouaj commented on #10041
@edwardmedia yeah, I just found it. This issue is a duplicate of #9684

[2021-09-14 15:11] megan07 commented on #9890
Is it possible your `labels.value_type` should be `STRING`?

[2021-09-14 15:54] edwardmedia commented on #10007
@jalseth technically I wouldn't say no. But to handle such use case, the provider has defined the pattern. Another place where you can find a similar use is the bigquery table schema.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigquery_table#schema

[2021-09-14 16:20] tpdownes commented on #7242
I get similar with

[code]

[2021-09-14 16:40] jalseth commented on #10007
I think there's a pretty big difference between this case and the BigQuery example you linked. In that case, I could build my schema object in Terraform as I want (like in my previous example) and then just call `jsonencode()` to pass it into the `schema` field and it will work fine, albeit it might occasionally unnecessarily update the resource when there hasn't actually been a change since JSON

[2021-09-14 17:47] edwardmedia commented on #10007
@ScottSuarez what do you think about this?

[2021-09-14 17:49] edwardmedia commented on #10041
@mikouaj closing this issue then. Cheers!

[2021-09-14 17:49] #10041 closed

[2021-09-14 18:20] anupam-sy opened #10069 "Data Block for Compute Disk Resources in Terraform for GCP Provider"
### Community Note

- Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request.
- Please do not leave +1 or me too comments, they generate extra noise for issue followers and do not help prioritize the request.
- If you are interested in working on this issue or have submitted a pull request, please leave a comment. If an

[2021-09-14 18:32] #9476 closed

[2021-09-14 22:22] slevenick commented on #9972
Already fixed

[2021-09-14 22:22] #9972 closed

[2021-09-14 23:03] slevenick commented on #10052
Ok, looks like the cloud console confirms that you can go from true -> false without recreation, but not from false -> true.

Should be implementable via a customize diff to ForceNew only in one direction

[2021-09-15 05:52] sehgalnamit opened #10074 "google_dataproc_cluster- Internal IPs not preserved for master and worker nodes when redeployed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-15 06:49] mikeywaites commented on #9684
Hey.  Wondering if there's any timeline of when worker pools will be released out of beta?  Or is there a workaround for using them as beta at the moment?

[2021-09-15 07:52] danistrebel opened #10075 "Apigee Organization Properties are Reset on Resource Update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-15 08:39] steven-edgar opened #10076 "google_compute_global_forwarding_rule creates service directory in fixed region, us-central-1"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-15 08:52] fdcds commented on #9831
I confirm that v3.84.0 fixes the issue. (I did not try intermediate versions.)

[2021-09-15 15:51] marktru opened #10077 "Filestore Enterprise tier"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-15 16:28] goobysnack opened #10078 "Implicit Dependencies Are not Working"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-15 16:28] yurgas commented on #7242
Got similar issue, google provider 3.82.0

[code]

[2021-09-15 16:34] rrmestl-cx commented on #9953
Hello, apologies, I was OOO all of last week.

Makes sense that I might need to create it separately then. but an additional issue shown in the terraform output in the description above shows the new service account not being found...

[code]

if upon execution of the terraform script, and it knows the new service account, why does it fail trying to set the role for it?

is there an execution orde

[2021-09-15 16:37] goobysnack commented on #10078
From Trace/Debug

[code]

[2021-09-15 16:38] goobysnack commented on #10078
It's trying to do a "GET" on a project that doesn't exist yet:
[code]

[2021-09-15 17:00] Zowie commented on #9684
+1

[2021-09-15 17:15] rrmestl-cx commented on #9953
PS - Edward, would it be possible to re-open this issue, to continue research !?

[2021-09-15 18:05] pdallecarbonare commented on #10075
This problem seems to affect only Apigee Org's created before version 1.4.x.

[2021-09-15 19:09] elatovg opened #10079 "Enhancing Error Messages for "Policy update access denied" failures"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-15 19:40] andrew-murphy-inmar commented on #7882
This might not have to be (as big of) a breaking change, if the "is_preemptible" attribute in preemptible_worker_config were optional and defaulted to "true".  All existing code would continue to work - the only conflict would occur if the undocumented software config property mentioned above were also set to a different value.

[2021-09-15 20:06] edwardmedia commented on #10069
@anupam-sy not available yet. Please file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=enhancement.md) to request. Closing this then

[2021-09-15 20:06] #10069 closed

[2021-09-15 20:12] edwardmedia commented on #10075
@danistrebel that is a new field. Please file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=enhancement.md) to request it. closing the issue then

[2021-09-15 20:12] #10075 closed

[2021-09-15 21:06] ndmckinley commented on #9489
Ah - that makes some sense, of course the first request to fetch the operation would hit the service usage API endpoint... which was just enabled ... which therefore might not be ready to get requests yet.  To fix this, I wonder if we might try to, say, just retry a few times if we get 403s on operation waits on this resource.

[2021-09-15 21:14] c2thorn commented on #7772
Turns out this was a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/5212.

[2021-09-15 21:14] #7772 closed

[2021-09-15 21:56] ScottSuarez commented on #9489
Due to the dependent relationship of these two resources it would make sense to establish a relationship between them. Here there is an implicit dependency on a race condition. So it's not surprising there is inconsistency.

[code]

If you try the above configuration you should see more stability.
@ndmckinley mentioned we can retry on 403's which is also a potential fix on our end to brute force t

[2021-09-15 22:01] rileykarson commented on #9489
@ScottSuarez: Won't the GET request against the operation still fail if there are eventual consistency issues, regardless of the set of services being enabled/disabled in a single `batchEnable` call?

[2021-09-15 22:02] #9990 closed

[2021-09-15 22:12] ScottSuarez commented on #9489
After speaking with @rileykarson, I am revising my opinion, the dependent relationship chain I mentioned above should not be applicable as we BATCH these to send a single request.

[2021-09-15 22:42] ScottSuarez commented on #9489
@PatrickDale, could you provide me more information on your setup. Which service account are you using to configure `google_project_service`. Are you using a service account on a project that already has this api enabled or using a service account within this project where this api has not yet been enabled.

This is working locally/consistently for me, but I am using a service account which is loc

[2021-09-15 22:56] ericnorris commented on #9489
@ScottSuarez we actually used to have the configuration set up like in your above example, but if I recall correctly ran into an issue where we got a Google API error saying that `serviceusage.googleapis.com` depended on `cloudresourcemanager.googleapis.com`, and so our code was changed to enable them both at the same time.

I can speak on behalf of @PatrickDale and say that our setup is a service

[2021-09-15 23:11] ScottSuarez commented on #9489
@ericnorris I have an identical setup then but wasn't able to replicate. hmm could you provide a more detailed DEBUG log of this request, potentially scrubbing any sensitive bits.

you can set `TF_LOG=DEBUG` and `TF_LOG_PATH=./wherever-you-want.log`

I would like to reproduce if possible

[2021-09-15 23:12] ScottSuarez commented on #9489
also in scrubbing the logs, please retain `project-a` and `project-b` aliases

[2021-09-15 23:20] Knoparast opened #10081 "local-exec provisioner error (exit status 127. Output: /bin/sh: 1: gcloud: not found)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-15 23:31] #10043 closed

[2021-09-15 23:33] edwardmedia commented on #10081
@Knoparast not sure what you try to do. Below is what `local-exec` is supposed to do. Which `resource` do you refer to?

[2021-09-15 23:50] ScottSuarez commented on #10078
You're referencing a data source for resource that is created inline. So it tries to read a data source ASAP when it doesn't exist.

data sources should only be used when using resources created outside of terraform

I've edited your config to remove the datasource below
[code]

[2021-09-15 23:50] #10078 closed

[2021-09-15 23:50] ScottSuarez commented on #10078
https://www.terraform.io/docs/language/data-sources/index.html

[2021-09-16 00:01] ScottSuarez commented on #10074
This is how terraform works. If a configuration change can not be done through an update call the resource destroyed and a new resource is created using the config defined within terraform file. There is no way to carry over fields defined in a previous deployment as they are outside of your configuration files.

[2021-09-16 00:01] #10074 closed

[2021-09-16 00:03] ScottSuarez commented on #10066
I think I see the root cause for this, will work on a fix

[2021-09-16 00:23] Knoparast commented on #10081
@edwardmedia The "terraform apply" runs successfully when I try the terraform locally since I have Cloud SDK on my machine:

......
null_resource.default (local-exec): Listed 0 items.
''''''
''''''
Apply complete! Resources: 24 added, 0 changed, 0 destroyed.

But on Cloud I get the same issue:

Error: local-exec provisioner error
with null_resource.default
on clusters.tf line 37, in resource "null

[2021-09-16 03:04] sehgalnamit commented on #10074
@ScottSuarez
Thanks for your reply
I am not sure if you have reproduce or checked my logs at your end.

This is causing the issue
   ~ service_account_scopes = [ # forces replacement
2021-09-16 09:50:16                    - "https://www.googleapis.com/auth/cloud.useraccounts.readonly",
2021-09-16 09:50:16                    - "https://www.googleapis.com/auth/devstorage.read_write",
2021-09-16 09:5

[2021-09-16 03:11] sehgalnamit commented on #10074
I think this is the solution for this, I have to hardcode:-
Using gce_cluster_config -> service_account_scopes in google_dataproc_cluster always recreate the cluster · Issue #4403 · hashicorp/terraform-provider-google (github.com)

[2021-09-16 03:31] muhammadpanji commented on #9519
Hi @rileykarson, I'm interested adding this functionality? Anyone already working on this issue? Thank you

[2021-09-16 03:56] sehgalnamit commented on #10074
service_account_scopes = lookup(each.value, "service_account_scopes", ["https://www.googleapis.com/auth/cloud.useraccounts.readonly", "https://www.googleapis.com/auth/devstorage.read_write", "https://www.googleapis.com/auth/logging.write", "https://www.googleapis.com/auth/sqlservice.admin"])

This should fix the issue.

[2021-09-16 05:41] sehgalnamit commented on #10074
This works with no alias for one URL
service_account_scopes = [
        "https://www.googleapis.com/auth/cloud.useraccounts.readonly", "storage-rw", "logging-write", "sql-admin"
      ]

[2021-09-16 07:20] danistrebel commented on #10075
@pdallecarbonare the issue also exists with 1.5 and 1.6 orgs.

[2021-09-16 07:25] danistrebel opened #10083 "Track Apigee Organization Properties"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-16 09:13] #9105 closed

[2021-09-16 10:58] irina-gherman-db opened #10084 "Multiple attachments to the same apigee environment or instance failing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-16 13:42] ericnorris commented on #9489
@ScottSuarez unfortunately this issue is intermittent for us, and not consistent. The same operation (on different projects) has different results, so we don't have debug logs from previous occurrences, and I wouldn't know when to turn them on for future occurrences.

It's worth noting that we have `user_project_override = true` and `billing_project = project-a` in the configuration that is being

[2021-09-16 14:25] giefferre opened #10085 "google_cloudbuild_trigger not accepting repository-related information when using webhook_config and filename"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-16 15:56] melinath commented on #7170
b/169953815

[2021-09-16 15:57] edwardmedia commented on #10081
@Knoparast shouldn't we think this is an Terraform Cloud issue? This is the place where we focus on the `google provider`. Can you check Terraform Cloud to see if they can help?

[2021-09-16 16:07] edwardmedia commented on #10085
@giefferre have you checked out [trigger_template](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudbuild_trigger#trigger_template) to see if that helps?

[2021-09-16 16:11] rileykarson commented on #9489
I think the quota project will be `project-b` regardless of version. The project service resource doesn't know to check for a billing project, but *does* know to use the resource project when `user_project_override` is set. So even in later versions where `billing_project` is applied at the provider level, the resource project will override it because there's no way to trigger *only* the provider-

[2021-09-16 16:35] rileykarson commented on #9519
Nope- we'd mark an assignee if so. I'll add you, given you're taking a look.

[2021-09-16 17:35] #9332 closed

[2021-09-16 18:11] giefferre commented on #10085
Hi @edwardmedia and thanks for the prompt reply.

Of course I had checked, but as the reference you linked says:

So it is NOT compatible as the `webhook_config` is present.

[2021-09-16 19:03] ericnorris opened #10086 "`google_bigtable_instance` is incorrectly removed from state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-16 20:29] #9112 closed

[2021-09-16 20:29] #9257 closed

[2021-09-16 20:29] #9416 closed

[2021-09-16 20:32] Knoparast commented on #10081
It seems Terraform Cloud env doesn't install gcloud. I resolved the issue via using gcloud module:

module "gcloud" {
  source  = "terraform-google-modules/gcloud/google"
  version = "~> 2.0"

  use_tf_google_credentials_env_var = true

  create_cmd_entrypoint  = "gcloud"
  create_cmd_body        = "compute instance-groups set-named-ports --project=${var.REDACTED} ${google_container_cluster.defaul

[2021-09-16 20:32] #10081 closed

[2021-09-16 21:52] eriksw opened #10088 "google_cloudbuild_trigger doesn't support user-specified service accounts"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-16 22:07] eriksw commented on #10088
Note that it is possible (and quite importantly so) to specify the service account for a trigger where the build definition is in the sources instead of the trigger config, so having the setting under build -> options is probably not the right place for it.

[2021-09-16 22:12] eriksw commented on #10088
Duplicate of #10053

[2021-09-16 22:12] #10088 closed

[2021-09-16 23:29] edwardmedia commented on #10085
@giefferre can you try something like below?

[code]

[2021-09-17 06:06] djfinnoy commented on #9946
Would you mind sharing a snippet of your `local-exec`?
I'm trying to replicate this, but I'm finding the `gcloud beta functions` command to be very fiddly.

I've deployed a function using the `google_cloudfunctions_function` resource.
When running the SDK, I'm told that one of the trigger flags is required when specifying a new function; looks like it doesn't recognize that my function already exi

[2021-09-17 08:15] giefferre commented on #10085
@edwardmedia this would not be the same.

I specifically need the `filename` property as the Cloud Build steps are defined in such a file (located on the github repo).

If I also add the `build` block and keep the `filename` Terraform errors as

[2021-09-17 09:10] gdelaney opened #10094 "Inconsistent google_compute_network id values"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-17 09:30] courteouselk opened #10095 "Add google_cloud_run_revision and google_cloud_run_split_traffic resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-17 09:54] fourstepper opened #10096 "google_billing_budget: adding an all_updates_rule block returns HTTP 400"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-17 17:21] edwardmedia commented on #10085
@giefferre I see. Currently this is not supported in the provider. `sourceToBuild` needs to be added to be like below request payload.  Please file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=enhancement.md) to request the feature. Closing this issue accordingly

[code]

[2021-09-17 17:21] #10085 closed

[2021-09-17 17:44] edwardmedia commented on #10016
@andrewmackett closing assuming it is no longer an issue

[2021-09-17 17:44] #10016 closed

[2021-09-17 18:47] ScottSuarez commented on #9489
okay I'll make that change !

[2021-09-17 19:05] #10067 closed

[2021-09-17 19:27] ScottSuarez commented on #10007
This would be a pretty big change and given that the current functionality isn't broken, just unfriendly I am labeling this as enhancement instead.

We usually surface the api verbatim in the terraform implementation. Special functionality like this is difficult and unmaintainable to support every such use case. That being said I can see what you mean and the value adding this would provide. Our t

[2021-09-17 19:28] ScottSuarez commented on #10007
Let me know your thoughts @jalseth

[2021-09-17 20:00] jefersonrjrn opened #10100 "google_vertex_ai_featurestore_entitytype: Cannot determine region: set in this resource, or set provider-level 'region' or 'zone'"
### Terraform Version

Terraform 1.0.3

### Affected Resource(s)

* google_vertex_ai_featurestore_entitytype

### Terraform Configuration Files

[code]

### Debug Output

![image](https://user-images.githubusercontent.com/59900069/133846308-8949eba9-beaa-4167-b8c4-908a87442c9f.png)

### Panic Output

### Expected Behavior

Created a new Entity Type resource.

### Actual Behavior

The Entity Type r

[2021-09-17 22:50] sairajm commented on #7170
<img width="685" alt="Screen Shot 2021-09-17 at 3 48 56 PM" src="https://user-images.githubusercontent.com/11436510/133861369-87fa32f3-8961-412c-8da2-ebddd754468b.png">
FWIW, I still see the project in the documentation. I get @edwardmedia's point about not requiring it because bucket name is unique, but please do remove it from the docs. It's confusing. I see that https://github.com/GoogleCloudPl

[2021-09-19 19:11] Leo843 opened #10103 "google_project_iam_member Policy update access denied"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-20 06:25] oneanupam opened #10104 "Data Block for Compute Disk Resources in Terraform for GCP Provider"
### Community Note

- Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritize this request.
- Please do not leave +1 or me too comments, they generate extra noise for issue followers and do not help prioritize the request.
- If you are interested in working on this issue or have submitted a pull request, please leave a comment. If an

[2021-09-20 07:52] hoesler4dh commented on #9094
Has anyone started with this? @forestoden?

[2021-09-20 08:12] i2dcarrasco opened #10105 "A simple GKE pool initial_node_count makes terraform to recreate the entire pool"
Hello, today I have noticed that terraform doesn't manage the initial_node_count in pool like the console. If you change the Number of nodes manually or the value of the initial_node_count, it tries to recreate the entire pool (which is very extreme). Using the console you can change this value easily without destroy anything.

### Terraform Version

[code]

### Affected Resource(s)

* google_cont

[2021-09-20 08:46] gdelaney commented on #10094
A work around for this was to remove the network from the state, then import it back. The ID field is now in the correct format.
[code]

[2021-09-20 09:21] philipp-hb commented on #10031
@edwardmedia sorry for the late answer, I was on vacation.
Thanks for fixing

[2021-09-20 14:59] mdelucas opened #10106 "Error creating resource google_monitoring_uptime_check_config with matcher NON_MATCHES_REGEX"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-20 16:17] shuyama1 commented on #9070
Waiting for b/199551875 to be fixed.

[2021-09-20 17:36] joe-a-t opened #10107 "google_sql_database_instance inconsistent private_network value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-20 17:41] rileykarson commented on #10035
Tagged as breaking change as we may want to break to align with the API in the future

[2021-09-20 17:45] rileykarson commented on #10079
Do you have debug logs for one of these calls? We're returning the error message from the API, so I'm not sure if the extra information is there.

[2021-09-20 17:52] goobysnack commented on #10078
@ScottSuarez - thanks so much.  I didn't realize there had been a change.  We've been using the data block for the project ID as an implicit dependency within the module.  All fixed now and makes sense.  Thanks again.

[2021-09-20 18:16] edwardmedia commented on #10107
@joe-a-t can you share the debug log that capture all the api calls?

[2021-09-20 18:44] wilsonsit opened #10108 "max_issuer_path_length defaults to 0 instead of being omitted"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-20 18:52] dcallao commented on #9890
Hi @megan07! I did try to change it to `STRING` but I got the `null` error again.

[2021-09-20 18:55] SamuelNeves opened #10109 "Field notificationConfig is missing on resource google_storage_transfer_job"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-20 19:10] ggprod opened #10110 "improve handling of service agents with google_project_iam_policy and google_iam_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-20 19:39] edwardmedia commented on #10105
dup of https://github.com/hashicorp/terraform-provider-google/issues/9570. Closing this then

[2021-09-20 19:39] #10105 closed

[2021-09-20 19:41] joe-a-t commented on #10107
I censored some of the relevant fields with `FOO/BAR/BAZ` but this the plan then the relevant final couple of steps of the debug from applying the snippet I put in the initial issue (in case you want to reproduce or look at some of the earlier steps).
[code]

[2021-09-20 20:07] edwardmedia commented on #10103
@Leo843 do you have environment `GOOGLE_CLOUD_KEYFILE_JSON` or other environment variables set on the Terraform runner? Can you share the debug logs for about two gcloud executions?

[2021-09-20 20:08] rileykarson commented on #8076
https://github.com/hashicorp/terraform-provider-google/pull/147

[2021-09-20 20:12] jaredweeks opened #10112 ""google_apigee_instance" should support a "peering_cidr_range" values from /16 through /20"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-20 20:19] c2thorn commented on #7185
We don't necessarily have to do the renames here, we could focus on the deprecated fields.

[2021-09-20 20:42] trodge opened #10113 "Implement monitoring metrics scope and monitored project resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-20 21:46] edwardmedia commented on #10107
@joe-a-t what do you see if you use the same format for the `private_network`?

[code]

[2021-09-20 21:58] mikemeiercb commented on #10113
I see you submitted a corresponding PR for this (thanks!). I would recommend to keep the naming of the resources consistent with the [documentation ](https://cloud.google.com/monitoring/settings#visibility) that it be called a google_monitoring_scoping_project instead of a metrics_scope to be more clear.

[2021-09-20 22:16] rrmestl-cx opened #10114 "Log Router Sink writerIdentity not found when setting up pubsub.Publisher role for it. (PART 2)"
RE: https://github.com/hashicorp/terraform-provider-google/issues/9953

Hello, apologies, I was OOO the whole week the previous issue was closed.

Makes sense that I might need to create it separately then. but an additional issue shown in the terraform output in the description above shows the new service account not being found...

[code]

if upon execution of the terraform script, and it knows

[2021-09-20 22:21] rrmestl-cx commented on #10114
FYI @edwardmedia , I opened a followup issue to the previous one.

[2021-09-20 22:46] joe-a-t commented on #10107
Either explicitly passing the network to the replica as you suggest (not ideal in our situation since the replica is wrapped inside of a separate module so it would require an extra module input) or using `.id` on the master instead of `.self_link` both work. I'm mainly asking for guidance on should we be using `.id` on the master instead of `.self_link` (and should there be guidance published on

[2021-09-21 00:14] edwardmedia commented on #10107
@joe-a-t yes. You are right. Setting both to `.id` is another way for this issue. There was an [initiative](https://github.com/hashicorp/terraform-provider-google/issues/5542) in the provider so that using `.id` is actually recommended across the board.
Sometimes, `.id` is the same as `self_link` and other times they are different. For the `google_compute_network`, they are different. In your case

[2021-09-21 00:19] edwardmedia commented on #9953
@rrmestl-cx yes, using #10114 for tracking the issue. Not re-open this one then

[2021-09-21 00:20] edwardmedia commented on #10114
@rrmestl-cx do you have the full debug log that includes the related api calls?

[2021-09-21 02:36] joe-a-t commented on #10107
Yep, that all makes sense. I think we had missed the memo that `.id` was recommended instead of `.self_link` (not sure if there's a better way to elevate that in the docs or not). So is my take away that we should switch our usage to `.id` and there will likely not be work on the provider side to solve the `.self_link` edge case here? If so, that's completely fine, just wanted clarity.

[2021-09-21 03:05] elatovg commented on #10079
Setting `TF_LOG=DEBUG` prints out all the IAM policies in GCP Project, and I don't think I can share that. But you are correct, nothing additional from the GCP API is displayed. I bet if I ran the same thing with just the `gcloud` cli, I would get the same generic message. I think this enhancement, might need to be requested at a higher level API. Would you happen to which component, I can move my

[2021-09-21 08:51] Leo843 commented on #10103
There is no `GOOGLE_*` environment variables set.

Here is the output for `gcloud projects add-iam-policy-binding <PROJECT_ID> --member=serviceAccount:test-iam-sa@<PROJECT_ID>.iam.gserviceaccount.com --role=roles/logging.logWriter --verbosity=debug`. The debug output is rather minimal. I don't know if there is a way to get more than the `--verbosity=debug` flag.

[code]

Here is the output for `gc

[2021-09-21 09:34] rbuttiero-lvmh opened #10116 "Filestore: Shared VPC Not Supported"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-21 12:48] rbuttiero-lvmh opened #10117 "Filestore : reserved_ip_range shouldn't be updated in-place"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-21 13:15] xoloitzcuintle314 opened #10118 "google_monitoring_alert_policy, google_monitoring_dashboard, google_logging_metric when using for each cycle always requests changes for TF apply/plan"
Hello, community.

I am working on creating of universal approach for creating multiply monitoring resources (alarms, log-based metrics, dashboards) for different GCP resources (GKE, LB, etc). Currently facing that GCP terrraform resources:` google_monitoring_alert_policy, google_monitoring_dashboard, google_logging_metric always ` requests changes for TF apply/plan when using for each cycle.

Ple

[2021-09-21 14:06] Sytten commented on #9622
Bumping the thread since this is kind of critical for a lot of businesses.

[2021-09-21 15:37] chlirre opened #10119 "google_bigquery_table is missing the use_avro_logical_types field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-21 15:59] pietrodn commented on #2605
Ok, so how do we enable the Cloud Monitoring API using Terraform now?

[2021-09-21 16:04] jimlloyd opened #10120 "Table Valued Functions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-21 16:11] trodge commented on #2605
I believe you can already do so using [google_project_service](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project_service)

I seem to have linked this issue in the wrong PR, causing it to close prematurely.
https://github.com/GoogleCloudPlatform/magic-modules/pull/5218 will implement monitoring metrics scope and monitored project resources when it merges.

[2021-09-21 17:32] edwardmedia commented on #10103
@Leo843 can you try adding `--log-http` in your gcloud command?

[2021-09-21 18:10] #9341 closed

[2021-09-21 18:36] Leo843 commented on #10103
Oh i did not know about this flag, it could have save time, sorry.

`gcloud projects add-iam-policy-binding <PROJECT_ID> --member=serviceAccount:test-iam-sa@<PROJECT_ID>.iam.gserviceaccount.com --role=roles/logging.logWriter --verbosity=debug --log-http`
https://gist.github.com/Leo843/578286d57eb1cabaf6bb581cf27453d2

`gcloud projects remove-iam-policy-binding <PROJECT_ID> --member=serviceAccount:

[2021-09-21 18:48] BusiPlay opened #10122 "google_sql_database_instance: Allow root_password to set postgres user password upon instance creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-21 19:21] rileykarson opened #10123 "Add a tpgtools override to add products to the correct website section"
To group the website sections correctly, we need to supply a legacy-compatible product name in the `tpgtools` website template. Two examples I'm aware of:

* Compute -> Compute Engine
* Monitoring -> Cloud (Stackdriver) Monitoring

We definitely need an override for cases like formerly-known-as-Stackdriver Monitoring, which we may be able to fix GCE at the DCL level.

[2021-09-21 20:11] jimlloyd commented on #10120
I have figured out a way to use a `google_bigquery_job` to run a DDL query `CREATE OR REPLACE TABLE FUNCTION ...` so I am not blocked by the absence of this feature. But the workaround is an ugly hack.

In case anyone else ends up here looking for a way to create table-valued functions, this snippet illustrates how to use this workaround:

[code]

[2021-09-21 20:14] rrmestl-cx commented on #10114
@edwardmedia , by "full debug log" you mean the stdout of the terraform execeution, or another log file?

[2021-09-21 20:32] #6583 closed

[2021-09-21 20:32] #9901 closed

[2021-09-21 21:24] edwardmedia commented on #10114
@rrmestl-cx sorry I did not make clear. Yes, I need the log generated from terraform execution. Your above [one](https://github.com/hashicorp/terraform-provider-google/issues/10114#issue-1001496974) is too short and does not tell us much

[2021-09-21 22:13] rrmestl-cx commented on #10114
will try to run it again, and capture it all, when I get a free minute this evening.
thx!

[2021-09-21 22:19] marktru commented on #9847
Internal issue: http://b/184155393

[2021-09-21 22:56] rrmestl-cx commented on #10114
@edwardmedia , here is the full output for the 3 terraform calls...
[code]
[code]
[code]
Let me know if you need me to lookup anything in the GCP console and provide feedback evidence for you.

Thanks,
Rob

[2021-09-21 23:23] amerenda commented on #7486
If you're having this issue with dataset **VIEWS**:

- Navigate to the BiqQuery GCP console page
- Expand the GCP project
- Open the source dataset for the view (click the vertical dots, open)
- Select `Share Dataset`
- Select `Authorized Views`
- Find the view that does not exist in terraform, but exists in BQ, remove it.
- Run `terraform apply`

[2021-09-22 03:42] #10113 closed

[2021-09-22 06:24] drema201 opened #10127 "Documentation bug: pubsub_lite_topic"
Documentation bug:
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/pubsub_lite_topic
does not describe format for "period" attribute (and it is kind of misleading because similar attribute "per_partition_bytes" has different formatting)

[2021-09-22 08:28] bestefreund commented on #9684
+1

[2021-09-22 10:45] theobarberbany opened #10128 "google_project_iam_member: fails when alias to primary email used"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-22 12:40] imrannayer commented on #8852
This issue was fixed with `google_compute_resource_policy` and `resource_policies` parameter in `google_compute_instance`

[2021-09-22 12:40] #8852 closed

[2021-09-22 13:13] devqore opened #10129 "Cannot set binary secret using google_secret_manager_secret_version"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-22 15:12] anand-monster opened #10130 "Terraform Google Provider proposes Big Query Table replace"
A column is dropped from Terraform Script and when terraform plan is run it proposes to replace the table instead of just and update/alter to existing table

module.<project big query table>.google_bigquery_table.bq_table must be replaced

Following are the version details for the provider.

Initializing provider plugins...
- Finding latest version of hashicorp/google...
- Finding latest version o

[2021-09-22 15:30] tpoindessous opened #10131 "CloudSQL change of VPC and google_dns_record_set => Provider produced inconsistent final plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-22 17:23] xiaobaitusi opened #10132 "Deleting an age-based Bigtable GCPolicy hangs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-22 17:43] edwardmedia commented on #10131
@tpoindessous can you share your config and its execution debug log? Thanks

[2021-09-22 18:23] scarolan opened #10133 "Docs clarification for compute_instance settings"
This suggested replacement is for this page:
https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance

**This section:**

The network_interface block supports:
network - (Optional) The name or self_link of the network to attach this interface to. Either network or subnetwork must be provided.
subnetwork - (Optional) The name or self_link of the subnetwork to

[2021-09-22 19:08] ckin1 opened #10135 "Deleting a storage bucket in GCP using Terraform"
There is a storage bucket that was created manually through the GCS console in our GCP project.  We need to delete this bucket and do not have permission to do this manually (manual permissions are not given within our company).  We need to know how we can go about deleting this bucket.  We thought we could use Terraform to do this, however our documentation says that you need to use the Gitlab pi

[2021-09-22 19:21] rileykarson commented on #10135
You need to be able to run the Terraform binary against your state file manually, which may be possible or not dependent on your company processes, but this is what `terraform import` does: https://www.terraform.io/docs/cli/import/index.html

[2021-09-22 19:21] #10135 closed

[2021-09-22 20:03] #9917 closed

[2021-09-22 21:18] edwardmedia commented on #10129
@devqore error appears to indicate this failure was in the function `file`. Can you follow its suggestion to test?

encoded contents or the other file functions (e.g. filemd5, filesha256) to obtain file hashing results instead.

[2021-09-22 23:16] c2thorn opened #10138 "Surface TeamCity debug logs in Cloud build"
We could expose the results of VCR test runs in Cloud Build so that users with access to that project but not TC could still see the results. This would cut down on development time for collaborators.

[2021-09-22 23:35] edwardmedia commented on #10009
@sairajm do you have environment variable `GOOGLE_PROJECT` configured on your machine? The `project` is optional if you have it. Otherwise, it is required.  Please review the [doc]. (https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#project). This is the behavior cross the board. Let me know if that make sense to you.

[2021-09-23 05:20] devqore commented on #10129
@edwardmedia sure, I followed this suggestion and that created a plain text file with base64 content (output with content already described in the above comment https://github.com/hashicorp/terraform-provider-google/issues/10129#issue-1004283469).

But I think there should be a possibility to save secret as a binary file, as binary files are supported by Google Secret Manager. It would be great to

[2021-09-23 09:02] pjeannet opened #10140 "Deploying a google_app_engine_flexible_app_version and stopping previous versions"
Hello, we are currently using `google_app_engine_flexible_app_version` to deploy a custom docker image to an app engine service. Until now we were not changing the version ID between releases with resulted in update operations. For various reason (no downtime, test endpoint before migrating traffic, etc), we want to reproduce what happens when using `gcloud app deploy` : push a new version with a

[2021-09-23 11:37] Leo843 commented on #10103
I tried using a user (with `roles/owner`) instead of a service account and i get the same errors.

[2021-09-23 11:47] rovindsouza opened #10141 "Terraform forcing a change with Note: Objects have changed outside of Terraform"
### Terraform Version

Terraform v1.0.7
on linux_amd64
+ provider registry.terraform.io/hashicorp/google v3.85.0

### Affected Resource(s)
google_compute_instance

### Terraform Configuration Files

[code]

### Debug Output

### Panic Output
.
.
.
.
Note: Objects have changed outside of Terraform

Terraform detected the following changes made outside of Terraform since the last "terraform apply":

[2021-09-23 13:27] edwardmedia commented on #10141
@rovindsouza can you provide the detailed steps to show how to repro the issue?

[2021-09-23 13:31] edwardmedia commented on #10129
@devqore I think the error is in the `file`. What do you see after you resolve that issue? Please provide the debug log so I can take a look

[2021-09-23 14:25] devqore commented on #10129
@edwardmedia it creates plain text file encoded as base64 instead of binary file:

[code]
There should be binary content. I've attached pfx [mycert.zip](https://github.com/hashicorp/terraform-provider-google/files/7218359/mycert.zip) from example, after unzipping try to do:
[code]
and you will see a lot of `!@?` as this is a binary file, but the provider saves this as base64 (same as `base64 mycer

[2021-09-23 14:59] TomBAMU opened #10142 "Setting field-level access control in logging buckets"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-23 16:11] courteouselk opened #10143 "Perma-diff in google_app_engine_flexible_app_version"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-23 17:51] devqore commented on #10129
@edwardmedia what response is needed here? as I'm seeing added label, without a question.

[2021-09-23 18:13] edwardmedia commented on #10129
@devqore  sorry I refreshed the page, somehow the new label was added for me.

I am not quite sure if I fully understand the issue here. If you run below config, do you see the `issue10129-secret-data` somewhere?

[code]

[2021-09-23 18:20] #10117 closed

[2021-09-23 18:48] edwardmedia commented on #10143
@courteouselk can you share the debug log for the initial apply?

[2021-09-23 18:54] devqore commented on #10129
@edwardmedia this is working properly as this is plain text (not binary data). I applied the above `secret_data` and in the state I'm seeing:
[code]
also gcloud returns properly:
[code]

---------------------------------------

The problem is how to save binary data like for example pfx/zip or something different, as binary data is supported by Google Secret Manager.

For simplicity, you can use t

[2021-09-23 19:47] rileykarson commented on #9860
Noting the fields this covers:

* `stack_type, `ipv6_access_type`, `ipv6CidrRange` (output) in the subnetwork resource

Also a handful of GCE instance fields:

![image](https://user-images.githubusercontent.com/2080520/134573923-a65e0da5-f060-4624-a264-e105e19b4a60.png)

[2021-09-23 20:36] ndmckinley opened #10147 "tpgtools should use the data that dcl samples export re: variables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-23 21:10] imrannayer commented on #10100
Seems like `google_vertex_ai_featurestore_entitytype` is missing region parameter. Adding parameter to provider works fine but it is not a desirable way of deploying resource.

[2021-09-23 21:17] edwardmedia commented on #10129
@devqore I see. Do you lock down the state in a secure location? If the state does not match what you have in the config, what do you expect every time when you run `tf plan` or/and `tf apply`? Do you expect the resource to be an encryption tool?

[2021-09-23 21:26] edwardmedia commented on #10114
@rrmestl-cx could you add below environment variable and apply the config again? Here is the [doc](https://www.terraform.io/docs/internals/debugging.html) that explains about Terraform debugging.... Sorry I did not make it clear earlier.

[code]

[2021-09-24 00:04] nat-henderson opened #10151 "At least some sweepers are sweeping empty resources"
### Affected Resource(s)

* google_*

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prior

[2021-09-24 01:39] mattcollier opened #10154 "Cloud Run - how to allocate always-on CPU"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-24 02:57] rovindsouza commented on #10141
@edwardmedia
1. Create the main.tf with appropriate variable and values from the TF code shared in the original post.
2. user Terraform version 1.0.7
3. Do a `terraform init`
4. Then a `terraform plan`
5. Then provision the resources using `terraform apply`
6. One the resources are created without doing any changes to the code do a plan again `terraform plan`.
7. You should actually see no resourc

[2021-09-24 04:35] #9766 closed

[2021-09-24 04:36] devqore commented on #10129
@edwardmedia for now I would like to only store binary credentials using tf like I can do this with plain text as this is supported by Google Secret Manager.

I'm aware that the state needs to be stored securely. Also, I would expect that `tf plan` and `tf apply` would work like it always does - every change will be applied. I do not expect that resource to be an encryption tool, as this is not th

[2021-09-24 08:19] mvanholsteijn commented on #8999
The most important one AFAICS, is the datasource for google_access_context_manager_access_policy as this policy is a singleton.

A datasource for  google_access_context_manager_access_level is not really required, as the id is the logical name that you gave it. In the example above, I can refer to the access level from any perimeter by specifying: `accessPolicies/${data.google_access_context_manag

[2021-09-24 12:22] hedlund opened #10155 "Add support for Pub/Sub topic level message retention configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-24 14:06] StefanN-Otto opened #10156 "google_bigquery_dataset_access disappears after editing google_bigquery_dataset_iam_*"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-09-24 15:00] SamuelNeves commented on #10109
While this enhancement is not developed I am using a curl in a local exec using the following strucutre:

`    curl  -XPATCH -H "Authorization: Bearer $(gcloud auth application-default print-access-token)"  -H "Content-type: application/json" -d '{"transferJob":{"notificationConfig":{"eventTypes":["TRANSFER_OPERATION_SUCCESS"],"pubsubTopic":"'${TOPIC_ID}'","payloadFormat":"JSON"}},"projectId":"'${

[2021-09-24 15:17] adambabik commented on #6517
I hit this issue today but there is an easy workaround - compile all your Protobufs into a single file descriptor (`.pb` file). I believe it might be a recommended approach actually as executing `gcloud endpoints services deploy` with one API config YAML file and multiple file descriptor was failing for me (the error was "Cannot resolve api 'my.api.MyService'" as if one file descriptor was overwri