[2021-06-03 19:56] grugnog commented on #9104
I have put together a minimal reproduction:

main.tf:
[code]

You will also need to create a project (which I just did manually) and create a providers.tf along the lines of:
[code]

Here is a log of output from an initial and subsequent apply: https://gist.github.com/grugnog/089049e17c7cc9b15454f4f7096cac4e

[2021-06-03 20:49] edwardmedia commented on #9285
@Unichron I think this behavior is caused by the limitations from the combination of the Terraform core and the provider.

First, Setting the `depends_on` meta-argument within data blocks defers reading of the data source until after all changes to the dependencies have been applied.

Secondly `project_id` is defined as an optional field for the data source (it is required for the resource fyi). I

[2021-06-03 21:07] melinath commented on #9220
I think this is a consequence of the behavior in https://github.com/hashicorp/terraform/issues/24663. We could allow a workaround here by supporting `cluster    = google_container_cluster.cluster.id` (currently doesn't work.)

[2021-06-03 21:15] huang-jy commented on #9220
Yes indeed it does sound similar to the example referenced in that ticket. Does it sound like this might be a TF core issue or something in the Google provider?

[2021-06-03 21:20] melinath commented on #9220
From the provider side, I _think_ we can make it so that people can supply `google_container_cluster.cluster.id` to the node pool to get the behavior you're looking for. Being able to get that behavior with `google_container_cluster.cluster.name` would definitely be a core issue.

[2021-06-03 21:23] huang-jy commented on #9220
Thank you

[2021-06-03 21:26] vongohren opened #9296 "Cloud build trigger include the option of setting user specific service account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-03 22:15] grugnog commented on #9104
This appears to be the code that sets the value here https://github.com/GoogleCloudPlatform/magic-modules/blob/master/mmv1/third_party/terraform/utils/node_config.go.erb#L542 - the ForceSendFields was added in Dec via this PR https://github.com/GoogleCloudPlatform/magic-modules/pull/4331 which could be related.

[2021-06-03 22:41] xiaobaitusi commented on #9265
Any update on the issue here?

[2021-06-03 23:35] edwardmedia commented on #9296
@vongohren can't you provide the account in the [cloudbuild.yaml](https://cloud.google.com/build/docs/securing-builds/configure-user-specified-service-accounts#running_builds)?

[code]

[2021-06-03 23:42] edwardmedia commented on #9175
I can see the problem of `Ordering of env blocks`

[2021-06-03 23:45] edwardmedia commented on #9210
@grzebis1 based on your `thumb up`, I guess the issue is resolved. Closing the issue then

[2021-06-03 23:45] #9210 closed

[2021-06-03 23:47] edwardmedia commented on #9135
@onsails closing the issue. Feel free to reopen or create another issue if you can repro the issue

[2021-06-03 23:47] #9135 closed

[2021-06-03 23:49] edwardmedia commented on #9225
@errordeveloper is this still an issue?

[2021-06-03 23:50] edwardmedia commented on #9248
@iva-bashmat is this still an issue?

[2021-06-04 00:00] edwardmedia commented on #9263
@PrateekKhatri looks like below resources trying to manage a same role `roles/storage.admin`. Is that you intended to do?

``tf
resource "google_storage_bucket_iam_binding" "binding" {
  count = var.var_count
  bucket = var.infra_type == "compliant" ? google_storage_bucket.bucket_complaint[count.index].name : google_storage_bucket.bucket_non_complaint[count.index].name
  role = var.infra_type == "

[2021-06-04 00:40] jcanseco opened #9297 "google_memcache_instance: allow for updates to memcache_parameters.params field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-04 02:45] codesuki commented on #8843
We are running into the same issue. I just built a terraform module to set up IAP. Tested in a separate project, worked perfectly. Now trying to apply in our main project and we get ```Error: Error creating Client: googleapi: Error 400: Precondition check failed.```

Did you find out anything new @eahrend ?

[2021-06-04 04:03] charles-bluett opened #9298 "Support for Vertex AI resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-04 04:57] codesuki commented on #8843
My co-worker @dtan4 found out that our brand was 'external' and the Google API only lets you create private IAP clients.

[2021-06-04 06:36] vongohren commented on #9296
@edwardmedia I can, but we are building up the steps inline because that was what we saw as the easiest way of doing inline substitutions of other terraform resources. So I have come to enjoy building it that way. But I guess one can use the substitions and fill it inn with all the variables one is using and make a cloudbuild.yaml? It just seems to me as an extra step.

But why not have this attri

[2021-06-04 06:38] iva-bashmat commented on #9248
@edwardmedia I cannot reproduce it now (tried switching version 3.66, 3.67, 3.68 and 3.69). Also, i have applied these changes on my env, so cannot get debug options.
Please close ticket, sorry for bothering

[2021-06-04 06:38] #9248 closed

[2021-06-04 11:00] Unichron commented on #9285
@edwardmedia

Is that because of the core and you cannot influence it? If so I guess a solution would be to introduce an optional `current` boolean flag to be able to explicitly request the current project.

Having said that, in the meantime I realized that even if this bug/limitation is fixed I'm still stuck with the fact that the depends_on on the data source makes subsequent terraform apply wre

[2021-06-04 11:35] eahrend commented on #8843
@codesuki Interesting, yeah I haven't found anything in regards to that, but it seems like this is a breaking bug if we want external brands. Appreciate it.

[2021-06-04 12:19] pandanos commented on #9164
We have the same error! Please fix :)

[2021-06-04 14:27] megan07 commented on #9265
Hi @xiaobaitusi, sorry for the delay on this. I haven't been able to reproduce it, but spoke with someone yesterday who had an idea about what might be happening. I have a fix that should address that. I'll push it shortly. Thanks for your patience.

[2021-06-04 15:33] edwardmedia commented on #9285
@Unichron Technically, `project_id` is always required to make an api call. Giving it optional enables users to choose the default project, `GOOGLE_PROJECT`, which is the majority of use cases. The boolean flag seems already being answered by whether you provide the `project_id` or not. The module you use should be able to properly handle this based on the behaviors discovered.

I don't think the

[2021-06-04 15:33] #9285 closed

[2021-06-04 15:34] rohitvyavahare opened #9299 "google_storage_bucket_acl does not show changes in role_entity"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-04 17:03] #9230 closed

[2021-06-04 17:39] #9265 closed

[2021-06-04 17:50] jcanseco commented on #9195
Also requested in https://github.com/GoogleCloudPlatform/k8s-config-connector/issues/471 (all fields mentioned above: `expireTime`, `ttl`, `rotation`, `topics`)

[2021-06-04 18:18] #8203 closed

[2021-06-04 19:04] melinath commented on #9227
It sounds like the issue here is that an "update" of a job (which actually replaces a job with a new job with the same name) can only happen when the current job with that name has one of the following states:

- JOB_STATE_RUNNING
- JOB_STATE_CANCELLED
- JOB_STATE_DRAINED

But the current update logic only goes through if the job is in RUNNING state; it should also go through in the other two stat

[2021-06-04 20:12] #9252 closed

[2021-06-04 20:53] thedmeyer commented on #9287
Some supporting info:
https://cloud.google.com/appengine/docs/flexible/nodejs/scheduling-jobs-with-cron-yaml
<img width="1754" alt="Screen Shot 2021-06-04 at 2 53 08 PM" src="https://user-images.githubusercontent.com/2959172/120861492-9f89fa80-c544-11eb-907b-515194cf7b75.png">

[2021-06-04 21:02] melinath commented on #9227
@n-oden  I tried to make some tweaks to allow updating jobs that are in the CANCELLED state but ended up getting an error from the API. Are you sure updating jobs in the CANCELLED and DRAINED states should be possible? Alternatively we could potentially switch to creating new jobs (i.e. not updating the existing job) but I think that might be an unexpected behavior. We could just fast-fail if the

[2021-06-04 22:21] venkykuberan commented on #9280
@thuck Can you please share the plan output of the config .

[2021-06-04 22:56] melinath commented on #9145
for future us: this is reopened because we still need to update the version of the linter in the provider to match what people are likely to have locally (which is what was causing the diff in lint errors that were fixed in the most recent PR)

[2021-06-04 23:08] melinath commented on #9227
It looks like CANCELLED/DRAINED can't be updated: https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate

[2021-06-04 23:36] #9220 closed

[2021-06-04 23:45] #8695 closed

[2021-06-05 14:04] thuck commented on #9280
@venkykuberan I tried to see if changing the functions for the source_ranges would create a different effect on the plan; so I tried lookup(), try() and to force the source_ranges to null on the resource itself, in all occasions the result is the same:
`source_ranges      = (known after apply)`

### test configuration is this:
[code]
### plan output
[code]
### resource with forced null
[code]

[2021-06-06 15:42] edwardmedia commented on #9225
@errordeveloper closing this assuming this is no longer an issue

[2021-06-06 15:42] #9225 closed

[2021-06-06 15:44] edwardmedia commented on #9263
@PrateekKhatri is this still an issue?

[2021-06-06 15:50] edwardmedia commented on #9296
@vongohren the provider is more aligned with the api schema. That could be broken unless there is no workaround, or requested by majority users. I don't think adding the service account here is a case. Closing this for now

[2021-06-06 15:50] #9296 closed

[2021-06-06 16:43] errordeveloper commented on #9225
Thanks for following up, @edwardmedia! The information folks provided here is more then sufficient :)

[2021-06-07 06:27] PrateekKhatri commented on #9263
Hi,
Thanks.. it was my mistake I have added same roles at both the place. after updating the code it is working fine now. Thanks for your help.

[2021-06-07 12:59] juzov-mag opened #9314 "Cloud Composer Resource doesn't allow to be created with naming including `preview` due to regex."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-07 13:29] muffl0n opened #9315 "Documentation for google_cloudfunctions_function is misleading about trigger_bucket and trigger_topic"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-07 13:42] alessandroberlati commented on #7486
The easiest way I found was to
- remove all `access` blocks in favor of `google_bigquery_dataset_access`
- add a single `access` block with your admin email as OWNER
- Apply the changes
- Remove the last `access` block that will not produce any changes
- Manually remove the Data owner from UI

[2021-06-07 14:35] megan07 opened #9316 "Failing test: TestAccSecurityCenterSource_basic"
Seems like maybe something changed upstream, but TestAccSecurityCenterSource_basic fails with `Request contains an invalid argument`

[2021-06-07 14:48] Celestica-Edward opened #9317 "VPC service control supported on VPC peering connections?"
### Affected Resource(s)

* google_service_networking_*

Hi,

We would like to manage this in terraform:
https://cloud.google.com/sdk/gcloud/reference/services/vpc-peerings/enable-vpc-service-controls
https://cloud.google.com/sdk/gcloud/reference/services/vpc-peerings/disable-vpc-service-controls

Example:
gcloud services vpc-peerings enable-vpc-service-controls \
    --network=xxxxx  \
    --serv

[2021-06-07 15:21] al-dann opened #9318 "google_composer_environment does not allow image version "composer-1.17.0-preview.1-airflow-2.0.1""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-07 15:34] dkerr-ignw opened #9319 "For module calls the provider is sending null value upstream instead of omitting the key."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-07 15:35] slevenick commented on #8843
Interesting, so the API only works on internal brands, not external ones? The IAP API is pretty restrictive compared to what actions you can take in the console, I believe this is intentional, but that error message is really not ideal

[2021-06-07 15:46] upodroid commented on #9316
Did you upgrade SCC to Standard/Premium?

Google said they would be permanently disabling SCC legacy today(07/06/2021).

https://cloud.google.com/security-command-center/docs/legacy-products-migration

[2021-06-07 16:01] amerello-otto opened #9320 "Running the "Example Usage - Cloud Run Anthos" on google_cloud_run_service throws an error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-07 16:32] rileykarson commented on #6409
The original issue here appears to apply to a Kubernetes resource and not to a GCP REST API or Terraform. @dotnetpiper: If what you raised is API functionality Terraform is missing, please file a new issue.

[2021-06-07 16:32] #6409 closed

[2021-06-07 16:32] rileykarson commented on #9170
Duplicates https://github.com/hashicorp/terraform-provider-google/issues/2605

[2021-06-07 16:32] #9170 closed

[2021-06-07 17:48] rileykarson commented on #9259
This doesn't require feature work in the provider, but would be nice to have documented somehow. These values are hard to access w/ Terraform as they are often not quite the right format to interpolate in Terraform, and stored as annotations (which are hard to use w/ TF)

[2021-06-07 17:52] rileykarson commented on #9276
Note: While the source code appears to have the right docs, the registry seems to be off.

[2021-06-07 17:55] rileykarson commented on #9297
Terraform returning a bad update message here is a bug, and we can likely resolve it by making the field updatable. If it's resolved w/o doing so, we can re-classify this issue as an enhancement again.

[2021-06-07 18:21] jcanseco commented on #9297
Hi @rileykarson. To clarify, did you mean "if the request is not resolved without making the field updateable, then we can re-classify the issue as an enhancement"?

To answer this question: the customer does seem to want to be able to update the field since it is a use-case supported by the UI. I am not entirely sure if it is a use-case that is feasible to implement in Terraform given that updati

[2021-06-07 18:30] rileykarson commented on #9297
Close! "If the request is resolved without making the field updateable, then we can re-classify the issue as an enhancement"

We made this a bug because Terraform should never return that error message

[2021-06-07 18:36] jcanseco commented on #9297
Gotcha I see :)

[2021-06-07 19:18] megan07 commented on #9268
Hi @nyc3-mikekot! I'm sorry you're running into this issue. Unfortunately, I'm unable to reproduce the error that you're seeing. Would you please provide me with some debug logs and I can take a look at what might be going on?

Thanks!

[2021-06-07 20:39] #9227 closed

[2021-06-07 22:20] rileykarson opened #9322 "Cloud Media Edge (GA)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-07 22:59] melinath commented on #9247
I'm not able to reproduce this as a permadiff; I do get a diff in the version field after doing a "Rolling replace" via the console (which seems like reasonable behavior) but it goes away after a single apply. Is there something else I need to be doing to recreate this behavior?

[2021-06-07 23:49] edwardmedia commented on #9319
@dkerr-ignw do you suspect which resource has the issue? The config you provided is a module. I have no knowledge about it. You might want to check the owner of the module to see if they can provide assistance. If you think it is a provider issue, please try to repro it with a minimum config.

[2021-06-07 23:56] dkerr-ignw commented on #9319
I'll give it a try with a more minimal config.
To try and explain the problem better:

https://www.terraform.io/docs/language/expressions/types.html

1. Basically create any module that takes an input.
2. Set a default in the module for that input.
3. call the module with that input = null

[code]

Inside the module `input` should be it's default value. not `null`.

I'll create a test case.

[2021-06-08 00:16] dkerr-ignw commented on #9319
Hm, simple example works as intended. it must be something on my side. Sorry to bother you.

[2021-06-08 00:16] #9319 closed

[2021-06-08 04:35] txomon commented on #9175
Let's then keep this ticket for the ordering env blocks, and I will tackle the documentation in the other one

[2021-06-08 04:52] doniz commented on #9247
Once you have an interaction via console of "Rolling Restart/Replace" or via manager instance group API through the cloud function - then the version has a diff in Terraform i.e.:

[code]

By applying Terraform diff changes it starts running "rolling replacement" on the MIG again which is not necessary. As a workaround I've introduced a variable `mig_version_name` in forked repository of terraform

[2021-06-08 05:26] yolocs opened #9323 "google_compute_region_network_endpoint_group references cloudrun service name (by data ref) returns error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-08 08:03] cosmin-constantin-oprea-db opened #9324 "Terraform state it's not in line with the code when using eval orgs when creating google_apigee_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-08 09:44] elouanKeryell-Even opened #9325 "modifying a resource fails with `Error 409: Requested entity already exists`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-08 16:16] hgrubbs opened #9327 "Terraform init retrieves unreleased google provider version 3.71.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-08 17:12] venkykuberan commented on #9325
@elouanKeryell-Even `max_throughput` is a ForceNew field, any change on it makes the resource to be recreated. Do you see any error on the delete call before create call ?

Can you please attach the debug log here to understand what's going on ?

[2021-06-08 17:47] melinath commented on #9235
I've looked into this a bit more. By default, google_container_cluster will set min_master_version to the latest official release, which may now be greater than 1.18, and >1.18 doesn't support basic auth. I think we should be able to work around this in tests for now by specifying `min_master_version = 1.18`; however, GKE auto-updates the master to new versions (which doesn't support basic auth) s

[2021-06-08 17:48] nyc3-mikekot commented on #9268
Hi @megan07! I have an update regarding on how to more accurately reproduce the bug.

1) Make sure to be on google provider version 3.47.0
2) Provision your cloud function via `terraform apply`, and make sure that the function is sourced from blob storage using `source_archive_bucket` and `source_archive_object` (a simple hello world function works - additionally, in my case, I use the python runt

[2021-06-08 17:51] #9242 closed

[2021-06-08 18:02] nyc3-mikekot commented on #9268
When looking at the PATCH request on 3.42.0, for my specific case, it only updates the properties that have "actually changed", e.g in my case it simply looks like

[code]

Whereas the 3.47.0 version sets multiple conflicting variables like `sourceUploadUrl` and `sourceArchiveUrl` together after reading in the function from the console changes, whilst also trying to set the request args of what's

[2021-06-08 18:15] ahmetb opened #9331 "Changed default in VPC Access connector throughput causes Terraform to re-create resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-08 18:27] rileykarson opened #9332 "Add support for Cloud Run to google_compute_network_endpoint_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-08 18:28] melinath commented on #9232
quota increased.

[2021-06-08 18:28] #9232 closed

[2021-06-08 18:54] edwardmedia commented on #9323
@yolocs here is an [example](google_compute_region_network_endpoint_group) that is used for cloud run. Are you able to run it instead of the **data source**? If yes, we need to compare what the differences are. Your **data source** does not tell us the details.

[2021-06-08 19:05] yolocs commented on #9323
Sorry, this link gets me nowhere. FWIW, referencing a `resource google_cloud_run_service` does work for me. It's only the data reference that doesn't work.

[2021-06-08 19:06] yolocs commented on #9323
btw, it's no doubt that the cloudrun service my data source references does exist in my project.

[2021-06-08 19:24] edwardmedia commented on #9324
@cosmin-constantin-oprea-db below is what its [api doc](https://cloud.google.com/apigee/docs/reference/apis/apigee/rest/v1/organizations.instances) specifies about the `peering_cidr_range`. Are you **Evaluation organizations**? You may set `SLASH_23` for the field in your config to avoid this. Does this make sense?

[code]

[2021-06-08 19:27] venkykuberan commented on #9273
@debakkerb sorry for the delay in responding. Do you see `tags` coming back in the api response ?

[2021-06-08 19:31] edwardmedia commented on #9323
https://github.com/hashicorp/terraform-provider-google/issues/9332

[2021-06-08 19:48] ahmetb commented on #9331
#9282 just seems off.

The rest api docs https://cloud.google.com/vpc/docs/reference/vpcaccess/rest/v1/projects.locations.connectors#Connector and their internal proto versions both default to `200`:

| field | desc
| ---- | ----
minThroughput | integerMinimum throughput of the connector in Mbps. Default and min is 200.
maxThroughput | integerMaximum throughput of the connector in Mbps. Default is

[2021-06-08 19:51] edwardmedia commented on #9331
@ahmetb I noticed the api doc says it is 200. 300 is what the actual number from my api test

[2021-06-08 19:56] ahmetb commented on #9331
@edwardmedia that sounds like it should've been followed up by an internal bug first instead of making the change here. API reference docs which come from protos are supposed to be the source of truth, behavior can be buggy? But I agree I see the same behavior.

[2021-06-08 19:58] edwardmedia commented on #9331
@ahmetb I can't agree with you more about filing a bug against api.

[2021-06-08 20:17] #9246 closed

[2021-06-08 21:04] taeold commented on #8464
@marvinsxtr I gave setting up a Cloud Function with a Firebase Auth trigger a try today, and I was able to successfully deploy one:

[code]

[code]

I'm not sure what changed (I don't see any interesting changes on Cloud Functions provider), but Firebase Auth trigger support does seem to exist already.

[2021-06-08 21:14] yolocs commented on #9323
No worries. I can confirm the example does work. It's only the **data source** of cloudrun service that doesn't work.

[2021-06-08 22:42] ScottSuarez commented on #9104
This looks like an upstream issue since the api is returning an empty `"kubeletConfig": {}` in the rest response. The underlying sdk supporting resource [deserializes the rest api into the native object.](https://github.com/googleapis/google-api-go-client/blame/master/container/v1beta1/container-gen.go#L10105-L10115) Because the empty kubeletConfig is present `NodeKubeletConfig` is populated on th

[2021-06-08 22:51] melinath commented on #9247
I'm still not able to reproduce this as a permadiff. Here's the full behavior I see:

1. Apply a config like this:

[code]
2. Go to the console detail view for the IGM and click the "Rolling Restart/Replace" button
3. Run terraform apply. I see the following diff:
[code]
4. Applying that does not trigger a rolling restart/replace, and applying the config again shows no changes.

A diff from making

[2021-06-09 03:37] edwardmedia commented on #9318
@al-dann  that **image_version**'s regexp comes from that api [spec](https://cloud.google.com/composer/docs/reference/rest/v1/projects.locations.environments) . I guess we can not use `preview` version here?
@c2thorn what do you think?

[2021-06-09 03:40] edwardmedia commented on #9263
@PrateekKhatri I am glad your problem is resolved. Closing the issue then

[2021-06-09 03:40] #9263 closed

[2021-06-09 03:45] edwardmedia commented on #9331
@ahmetb from the provider's perspective, I don't think there is much we can do for the time being. Closing the issue now

[2021-06-09 03:45] #9331 closed

[2021-06-09 04:08] edwardmedia commented on #9233
This issue may be related to https://github.com/GoogleCloudPlatform/magic-modules/pull/4707

[2021-06-09 05:28] yu-iskw commented on #7659
I have the same issue.

[2021-06-09 06:39] hprotzek commented on #9104
Thanks @ScottSuarez for looking into it. Our current workaround:

[code]

So as long as don't need to change something in the node config we are fine :-) I guess we are fine waiting for the upstream fix.

[2021-06-09 06:45] cosmin-constantin-oprea-db commented on #9324
@edwardmedia I already tried that, but you will see that this is not possible: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/apigee_instance

peering_cidr_range - (Optional) The size of the CIDR block range that will be reserved by the instance. Possible values are SLASH_16 and SLASH_20.

[2021-06-09 15:25] melinath commented on #9233
For additional context, here's a test failure prior to merging that PR: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/182719?buildTab=tests&status=all&pager.currentPage=1&name=TestAccMemcacheInstance_memcacheInstanceBasicExample&expandedTest=3041568605595415113

Here's the failure after merging that PR: https://ci-oss.hashicorp.enginee

[2021-06-09 15:45] melinath commented on #9233
Correction: the PR promoting memcached to GA was concurrent to the PR fixing the test for beta - and they didn't conflict. So even though the promotion PR did remove the google-beta from all the other tests, the beta test fix PR slipped past (and broke the tests once it was GA.)

[2021-06-09 16:06] #8984 closed

[2021-06-09 16:09] #9233 closed

[2021-06-09 16:24] ahmetb commented on #9331
Confirming api docs were incorrect in this case, the default is 300.

[2021-06-09 16:29] edwardmedia commented on #9325
FYI there are several reported issues that seem to be related
https://github.com/hashicorp/terraform-provider-google/issues/9331
https://github.com/hashicorp/terraform-provider-google/issues/9228

[2021-06-09 16:38] megan07 commented on #9175
Hi @txomon ! Sorry you're running into this issue. Unfortunately, I wasn't able to reproduce it, but I have a fix in that if the order of `env` is ordered differently than the config, it won't show a diff. Let me know if this works for you. Thanks!

[2021-06-09 17:26] megan07 commented on #9268
Hi @nyc3-mikekot ! I'm still unable to reproduce it unfortunately, however, I found this old issue that looks to have had the same error returned from google in `3.49.0` and it looks to be closed https://github.com/hashicorp/terraform-provider-google/issues/7921
Could you try upgrading your provider to `3.52.0` or later and see if this is resolved? I'll keep looking into it and seeing if I can rep

[2021-06-09 17:31] Capstan commented on #4317
I ran into this wrt [`google_container_registry_image`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/container_registry_image), wanting to have automatic resolution if I provide a `tag` that is mutable, and I do not provide a `digest`, that I can still read the `digest` out of the data and have the provider facilitate that lookup for me. This would improve rele

[2021-06-09 18:00] venkykuberan commented on #9320
@amerello-otto error shows the issue is on the `kubernetes` provider. Can you please raise it there ..

[2021-06-09 18:01] #9320 closed

[2021-06-09 18:11] #9200 closed

[2021-06-09 21:07] #9175 closed

[2021-06-09 21:40] vongohren commented on #9296
Is there something I can read or look at to understand how a simple attribute like this, which is in their API, is not something that fits in for the terraform provider?

I can add steps in terraform, then why not service accounts?

[2021-06-09 22:01] silvpol commented on #8444
I have come across the same issue, it looks like the projects are first sorted by the parent id/number (folder or org) and then by the project number. I have used the code below and so far the diffs are gone.

[code]

[2021-06-09 22:02] spacetj opened #9341 "google_organization_policy support conditional expression"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-09 22:34] edwardmedia commented on #9323
@yolocs what is the value of below code? Have you compared it with the one from the example? Or you can post the debug log so we can take a close look?

[2021-06-09 22:34] ranjitk-burwood opened #9342 "google_compute_instance input for allow_stopping_for_update not functioning as expected"
I am attempting to use the google_compute_instance resource with `allow_stopping_for_update` set to `true`.

When editing values such as the `boot_disk` `initialize_params` for `size` or `type` I notice that my VM is destroyed and re-created (new instance ID). Is this supposed to occur? I do see my `plan` output with the results of `~ type   = "pd-balanced" -> "pd-ssd" # forces replacement`. If I

[2021-06-09 22:41] edwardmedia commented on #9324
@cosmin-constantin-oprea-db I see what you meant. Let me add the support for `SLASH_23`.

[2021-06-09 23:01] edwardmedia commented on #9327
@hgrubbs thanks for reporting this. This is managed by Terraform registry and release process. It looks good now. Closing the issue then. Please reopen if you still see the issue

[2021-06-09 23:01] #9327 closed

[2021-06-09 23:13] edwardmedia commented on #9342
@ranjitk-burwood I think that behavior is expected. `forces replacement` takes precedence over `allow_stopping_for_update` no matter what value it is. Does this make sense?

[code]

[2021-06-10 02:26] #9324 closed

[2021-06-10 04:21] yolocs commented on #9323
I realized that I didn't create the cloudrun service (which is defined in another module) in the first place. No wonder data source can't get the cloudrun service name. The error message is a bit confusing though as it doesn't tell that the data source doesn't exist.

Anyhow, sorry about the noise.

[2021-06-10 04:21] #9323 closed

[2021-06-10 07:36] estensen opened #9344 "google_monitoring_slo allowed to set invalid SLI"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-10 08:42] elouanKeryell-Even commented on #9325
@edwardmedia I don't think we are talking exactly about the same thing

Those issues you mentionned seem to complain about the `google_vpc_access_connector` being updated

I don't mind the update, I am totally OK with it

However, I am quite worried that terraform (or this module) isn't able to perform a simple update of a resource's field, without crashing 😕

[2021-06-10 09:02] elouanKeryell-Even commented on #9325
@venkykuberan this is the thing: there is no "delete call" before "create call", which is the root of my error. I would be glad if I had a way to "delete before create"

- plan: https://gist.github.com/elouanKeryell-Even/72c626f31870510b80b445ffd4fd3218
- apply: https://gist.github.com/elouanKeryell-Even/49045b3fd11d512e1ce70ef89af2b437

Note that my tf configuration is a little bit wider than sim

[2021-06-10 10:11] m477r1x opened #9345 "Unable to Upgrade terraform due to provider configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-10 11:33] gor-obr opened #9346 "Add support for Composer max pods per node configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-10 11:34] gor-obr commented on #9346
I wish to work on this item.

[2021-06-10 12:26] al-dann commented on #9318
Yes, that is the issue.
If I look today - https://cloud.google.com/composer/docs/concepts/versioning/composer-versions already has the most recent version "composer-1.17.0-preview.2-airflow-2.0.1" As you work for Google, you might be able to contact that team in order clarify the difference between the version and the API constraints (or documentation being out of date).
Thanks a lot!

[2021-06-10 12:37] al-dann commented on #8692
and we need to take into account that the repository can be GitHub as well as Google Cloud Repository

[2021-06-10 13:07] ranjitk-burwood commented on #9342
@edwardmedia Thanks for the explanation. Makes sense but I was thinking that changing the boot disk wouldn't need the instance to be re-created. There is also some documentation from GCP about [re-sizing disk size](https://cloud.google.com/compute/docs/disks/working-with-persistent-disks#console).

I tried this out manually through the console and it did not re-create my instance but did update th

[2021-06-10 13:56] ranjitk-burwood commented on #9342
@edwardmedia Did a little more testing with fields such as `email`, `machine_type`, and `shielded_config` with `allow_stopping_for_update` set to `false` and I got an error message about needing that set to `true` in order to update those fields so it seems like those are working as intended and do not re-create the instance but just update in place.

Seems like the main one for me is just the `in

[2021-06-10 14:00] edwardmedia commented on #9344
@estensen it would be nice if some pre-check can be done. Unfortunately most of fields are string type, and the provider relies on the [api schema](https://cloud.google.com/monitoring/api/ref_v3/rest/v3/services.serviceLevelObjectives#ServiceLevelIndicator). I guess there is not much that can be done.

[2021-06-10 14:00] #9344 closed

[2021-06-10 14:59] nyc3-mikekot commented on #9268
Hi @megan07 - it appears version 3.52.0 does not have this problem (as opposed to 3.47.0), at least from what I'm seeing so far. Thank you!

[2021-06-10 16:00] megan07 commented on #9268
Great! Thanks! I will close this issue then, and if you encounter it again, feel free to open a new issue. Thanks!

[2021-06-10 16:00] #9268 closed

[2021-06-10 16:49] #9062 closed

[2021-06-10 22:06] ScottSuarez opened #9349 "fix upstream code for linter upgrade"
### Affected Resource(s)

* google_*

Since we have now upgraded the linter there are new rules I have ignored. We should fix for these rules.

https://github.com/hashicorp/terraform-provider-google/pull/9348

[2021-06-10 23:04] #8446 closed

[2021-06-10 23:17] ScottSuarez commented on #9145
resolved with
https://github.com/hashicorp/terraform-provider-google-beta/pull/3329
and
https://github.com/hashicorp/terraform-provider-google/pull/9348

if more issues feel free to reopen.

created new bug to track new ignored rules https://github.com/hashicorp/terraform-provider-google/issues/9349

[2021-06-10 23:17] #9145 closed

[2021-06-11 13:14] alxdrl opened #9353 "Change advertised_ip_ranges fields in google_compute_router_peer and google_compute_router resources to Sets"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-11 13:34] doniz commented on #9247
This is the full template from TF state:

[code]

And we are using this [module](https://github.com/terraform-google-modules/terraform-google-vm/tree/master/modules/mig).

[2021-06-11 13:52] aderuelle commented on #9353
Hi @edwardmedia, should `advertised_ip_ranges` schema definition be of `TypeSet` instead of `TypeList`  [there](https://github.com/hashicorp/terraform-provider-google/blob/223be42f1209fb3315d992ddc861b03abeafaede/google/resource_compute_router.go#L124) ? or ?

[2021-06-11 15:35] mxdlx commented on #8444
I had no idea google_projects (plural) data source existed. My two cents for this and sorry for the complex locals:
[code]

The variable company_projects is a list of strings with the project IDs.
Then I used sorted_projects like this:
[code]

[2021-06-11 16:28] edwardmedia commented on #9353
@aderuelle yes. I think so.

[2021-06-11 17:12] silvpol commented on #8444
That's odd, I have tested the workaround and no diffs show. We label all projects per region so that list of projects is kept up to date automatically. Below is the full example of what we use.

[code]

N.B. Using google provider 3.60, as later has a DNS resource bug. Using Terraform v0.12.31 in case it makes any difference.

[2021-06-11 18:08] edwardmedia commented on #9342
@ranjitk-burwood it gets re-created. When you re-apply with the new config, Terraform will try to bring the new disk to match the one you want. You need to build a mechanism that can preserve the workload.

https://github.com/hashicorp/terraform-provider-google/blob/2a8b07b89d7261e0861678de9bb742f6a2657c37/google/resource_compute_instance.go#L170

[2021-06-11 18:37] edwardmedia commented on #9287
@thedmeyer below is what the [doc](https://cloud.google.com/appengine/docs/flexible/nodejs/scheduling-jobs-with-cron-yaml#about) says. Have you tried putting the **cron.yaml** alongside the **app.yaml**?

[2021-06-11 18:58] melinath commented on #8872
Closing due to lack of information. Please reopen if you have more details.

[2021-06-11 18:58] #8872 closed

[2021-06-11 19:02] melinath commented on #9111
Upstream issue is not yet fixed.

[2021-06-11 20:53] ranjitk-burwood commented on #9342
@edwardmedia Thanks for the link to the code. Makes more sense now seeing that. I'll try to look into some options for preserving workloads.

[2021-06-11 20:53] #9342 closed

[2021-06-14 07:16] tSte commented on #8918
@venkykuberan, an update:
I've managed to create auto-pilot cluster with non-default service account as well as access scopes (even though the issue wasn't updated):
[code]

However Terraform configuration does not allow me to create such a cluster. When I upgraded to latest provider, `enable_autopilot` conflicts with `node_config`. Sooo, how do I create auto-pilot cluster with custom service acco

[2021-06-14 09:46] sho-abe opened #9358 "Add support for NAT addresses of the Apigee X instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-14 12:01] hsblhsn commented on #9151
Hey there,
is there any update on it?

[2021-06-14 12:10] chris-hvse opened #9359 "google_organization_iam_policy doc missing clear warning about implications"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-14 13:59] glerchundi opened #9360 "Promote `google_compute_backend_service.customResponseHeaders` to GA"
[This PR in `GoogleCloudPlatform/magic-modules`](https://github.com/GoogleCloudPlatform/magic-modules/pull/4286) moved `customResponseHeaders` from official branch to the beta one.

As far as I can see, it seems like that header is no longer beta. At least, I'm not able to find out any reference which is stating that.

Would it be possible to revert the changes in #7943 to bring back those to the

[2021-06-14 14:02] glerchundi commented on #9360
Pinging @c2thorn as he was the one who did the changes in `magic-modules`.

[2021-06-14 14:52] edwardmedia commented on #9360
@glerchundi I am not super clear what the problem is. Can you add details about what it is?

[2021-06-14 15:44] melinath commented on #4624
It looks like this actually still needs to happen.

[2021-06-14 16:15] slevenick commented on #8918
Hmmm, ok it looks like there has been some confusion around how this should work in the API and in Terraform.

Reading some internal docs it appears that we should now be able to set custom service accounts when using autopilot. I was under the impression that this was not a supported operation, so I marked the node_config field to conflict with enable_autopilot.

I'll need to do some testing on e

[2021-06-14 17:03] #8777 closed

[2021-06-14 17:14] glerchundi commented on #9360
Sorry for not giving you more details in the very beginning.

Due to certification concerns we're not allowed to use beta features in our infrastructure.  This extends also to the terraform provider.

I would like to see this feature promoted in order to start using this in our infrastructures.

Does it makes sense?

[2021-06-14 17:18] jcanizalez opened #9362 "Support to deploy a new Agent Version in DialogFlow CX"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-14 17:19] c2thorn commented on #9360
Edited the title to be consistent with other similar requests. Also applied the enhancement label since removing the feature from the GA provider was intentional.

Since the original PR, it looks like the field has been moved to the GA API, so it is reasonable to do the same in the GA provider.

[2021-06-14 17:52] megan07 commented on #9341
Hi! Could you please provide a link to the REST api? Thanks!

[2021-06-14 18:03] n-oden commented on #8408
@andremarianiello I think I caught it in the act at last.  The specific scenario seems to be:

- the original version of the job should be running
- update the `container_spec_gcs_path` value to a GCS path that _does not yet exist_ (for example: the spec file is built by a CI/CD process and the job hasn't finished yet)
- apply terraform: it will attempt to update the job but will fail because the

[2021-06-14 18:14] atrauzzi opened #9364 "Add support for basically everything load-balancing"
I've been able to configure the vast majority of my google cloud resources with really great results but have run into a wall with google cloud load balancing.

I can't find any resources to provision serverless network endpoint groups, backend services and load balancers...Is this right? Is there any reason why these aren't part of the terraform google provider?

Things have been so comprehensive

[2021-06-14 18:50] andremarianiello commented on #8408
@n-oden Is this a different issue? It doesn't sound like either of the issues you described initially. Regardless, it sounds like failed updates are updating the terraform state, which is an issue I ran into and fixed while working on the changes in https://github.com/GoogleCloudPlatform/magic-modules/pull/4847, which is merged and released in v3.71.0. What version of the provider are you using?

[2021-06-14 19:27] #8855 closed

[2021-06-14 19:37] thedmeyer commented on #9287
Correct. That is the app engine native way of doing it. However, I am wondering how to set up crons that are managed by app engine (the app engine tab in cloud scheduler) rather than the regular cloud scheduler using a terraform resource similar to:

[code]

[2021-06-14 19:38] glerchundi commented on #9360
@c2thorn I can work on this, what do you think?

[2021-06-14 20:24] glerchundi commented on #9360
I took the opportunity to send a PR as I found a free time slot to work on this. Let me know if it's OK or you prefer to do by yourselves, no problem at all.

Thanks!

[2021-06-14 20:25] thedmeyer commented on #9287
Also -- if the cron.yaml is included in the source code zip passed into the `google_app_engine_standard_app_version` it does not get recognized by GCP after deploy. See: https://stackoverflow.com/questions/53255084/google-app-engine-cron-job-not-showing-up

[2021-06-14 20:29] marvinsxtr commented on #8464
@taeold I upgraded Terraform to the version you are using (3.71.0) and tried it again. Unfortunately I still get the following:

[code]

[2021-06-14 20:31] c2thorn commented on #9360
@glerchundi We have it as a Near-Term goal, but it isn't yet pulled into an upcoming sprint. If you are able to manage a PR that would speed up the process considerably. I'll take a look at your PR.

[2021-06-14 20:34] glerchundi commented on #9360
Really appreciated @c2thorn!

[2021-06-14 20:44] eriksw commented on #8607
It'd be really great if this work included a semi-complete documentation example showing how to make an internal TCP/UDP load balancer using NEGs instead of instance groups. (Doesn't need to include the VMs, but I think it'd be much more valuable and clear if an example at least contains the _attachments_ to the VMs for an internal TCP/UDP service.)

[2021-06-14 20:56] n-oden commented on #8408
Interesting.  I saw the behavior w/ Terraform Cloud and we don't have the provider version pinned in `versions.tf`, so it _should_ have been the latest one?  Annoyingly, tf cloud does not seem to put that information anywhere in their log outputs.

[2021-06-14 23:06] taeold commented on #8464
@marvinsxtr That's confusing. When I looked into this issue, I found that `event_type` is just a string and there isn't really anything that needs to be done on `google-provider` codebase in order to bring Auth Trigger support.

Do you want to double check https://cloud.google.com/functions/docs/reference/rest/v1/projects.locations.functions#CloudFunction? Maybe there is something else going wrong

[2021-06-14 23:14] karlkfi opened #9368 "ContainerOperationWaiter doesn't support UserProjectOverride"
## Expected
Using Terraform, with a google service account in another project, I should be able to create a GKE cluster ([google_container_cluster](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster)) using User Project Override ([user_project_override](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#user_

[2021-06-14 23:35] karlkfi commented on #9368
Looks like the original UserProjectOverride support for GKE was added with https://github.com/GoogleCloudPlatform/magic-modules/pull/3892

I don't see any unique tests added to verify the feature tho, just a few `user_project_override = true` thrown in on a few existing tests. I'm not sure the fact that the header is being added is ever being validated. I would expect some test to need to capture

[2021-06-14 23:49] karlkfi commented on #9368
Looks like the code to change is actually in magic-modules v1 (unless there's a newer one in DCL that i can't find):
https://github.com/GoogleCloudPlatform/magic-modules/blob/master/mmv1/third_party/terraform/utils/container_operation.go

[2021-06-15 08:08] socratesx opened #9369 "google_compute_router: empty dynamic block for advertised_ip_ranges with advertise_mode = DEFAULT should be allowed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-15 13:27] ivan-avguston opened #9371 "Support google_sql_database_instance replica with settings.backup_configuration.binary_log_enabled=true"
### Expected

Create a replica with enabled binary log

### Terraform Version

`Terraform v1.0.0`

### Affected Resource(s)

* google_sql_database_instance

### Steps to Reproduce

[code]
### References

https://github.com/hashicorp/terraform-provider-google/issues/7922
https://github.com/hashicorp/terraform-provider-google/issues/6121

The reference issues were opened for more than a year and are

[2021-06-15 13:30] atrauzzi opened #9372 "Error when trying to configure backend service for serverless network endpoint group"
Using the following configuration:

[code]

I end up receiving the following message:

[code]

---

I can't seem to find any combination of values that will let me create the backend service pointed at my **Cloud Run** network endpoint group.  Is there something missing in the documentation?

[2021-06-15 13:40] edwardmedia commented on #9371
@ivan-avguston can you share the debug log?

[2021-06-15 14:08] ivan-avguston commented on #9371
@edwardmedia with pleasure
[code]

[2021-06-15 15:10] #8735 closed

[2021-06-15 15:25] yassine-naamane opened #9375 "google_billing_budget: Error creating Budget: googleapi: Error 400: Request contains an invalid argument."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-15 15:38] edwardmedia commented on #9372
@atrauzzi can you try something like below config to see if that works?

[code]

[2021-06-15 16:01] melinath commented on #8550
Is this still an issue? Which tests were failing in the nightly builds?

[2021-06-15 16:04] slevenick commented on #8550
Yup still an issue. Causes failures for tests that use service networking connection with errors like:
[code]

[2021-06-15 16:17] atrauzzi commented on #9372
Will give that a shot.

Out of curiosity, what would be the main reason to switch from a regional to a global backend service?

[2021-06-15 16:43] venkykuberan commented on #9375
Looks like terraform is not setup with any creds., Please follow this page https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/getting_started#adding-credentials

[2021-06-15 17:51] ScottSuarez opened #9376 "Add [Beta] tag to attributes in documentation when appropriate"
### References

* https://github.com/GoogleCloudPlatform/magic-modules/pull/4838#pullrequestreview-684279052

[2021-06-15 18:23] #9376 closed

[2021-06-15 18:25] #9174 closed

[2021-06-15 18:25] #8306 closed

[2021-06-15 19:54] mldmld68 commented on #9375
Hi

The job is run by a Gitlab runner GCE running docker image.
The GCE has a attached service account which has cloud-platform scope.

Earlier in the log, one may read information showing Terraform has credential because it can get access to the bucket of the tfstate and some info (I anonymized) about the GCP project

Regards
MLD

-----------------------------------------------------: timestamp=2

[2021-06-15 20:14] #9368 closed

[2021-06-15 22:15] edwardmedia commented on #9371
@ivan-avguston do you see if below config works for you?

[code]

[2021-06-15 22:29] melinath commented on #9111
issue is fixed upstream, so we just need to update the DCL locally.

[2021-06-15 23:29] edwardmedia commented on #9287
@thedmeyer from the screenshot I provided, I don't see a way you can create an instance under `APP ENGINE CRON JOBS` tab (vs  there is a `Create Job` under `SCHEDULER JOBS` tab). Can you be more specific how you achieved via other non-Terraform methods?

[2021-06-16 06:26] ivan-avguston commented on #9371
No, it does not work for me.
[code]
This is expected behavior as described in the [Google API documentation](https://cloud.google.com/sql/docs/mysql/replication/create-replica#rest-api-v1beta4). **As I aforementioned**

As I said, the problem is in the request. Only one possibility for a replica to enable binary logs is sent a **PATCH*** for the existing instance with `"settings"='{"backupConfigur

[2021-06-16 10:28] matteosdocsity commented on #6788
@muscovitebob  @dpfeif @danawillow any updates regarding how to set schema for bigquery parquet tables? with latest versions of terraform-provider-google, the temporary solution from @dpfeif seems not working anymore

[2021-06-16 12:58] jeremypick-sky opened #9383 "Promote google_compute_backend_service CDN Policy parameters GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-16 15:07] #9111 closed

[2021-06-16 15:24] thedmeyer commented on #9287
@edwardmedia Cron jobs that are defined in the App Engine `cron.yaml` and are uploaded using `gcloud app deploy cron.yaml` appear in the `APP ENGINE CRON JOBS` tab under Cloud Scheduler.

This is the only way to create jobs in this section.

[2021-06-16 16:01] jarrod-manwaring commented on #9104
@ScottSuarez I'm also bumping into this same issue, and I'm hesitant to move forward with the workarounds proposed above. Is there a possible timeline on when this will be resolved upstream?

[2021-06-16 16:19] josandstrom commented on #9104
Unfortunately, we are running into the same issue. We are currently doing the same as @hpidcock did but it is kinda bad as we might need to do some changes to node config soon.

[2021-06-16 16:47] slevenick commented on #9353
Hm, yeah that should probably be a set in the schema. You should be able to fix your diff by using `tolist` rather than `toset` and ordering your list to match the way the API is returning these fields.

[2021-06-16 17:32] ScottSuarez commented on #9104
@jarrod-manwaring @josandstrom , The api team is communicating that they have a fix in motion on the bug. I'll ask for a timeline once the fix it checked in. I am thinking < 2 weeks max

[2021-06-16 17:56] ScottSuarez commented on #8556
https://github.com/GoogleCloudPlatform/magic-modules/pull/4869

closing with pr

[2021-06-16 17:56] #8556 closed

[2021-06-16 22:40] slevenick commented on #9375
Huh, that's a pretty unhelpful error...

I can ask around, but that *appears* to be a fine request, and it's based off our basic test that seems to pass every day.

For instance, our CI ran the test last night and passed after sending this as the request body:
[code]

What format is your billing budget ID in? It should look similar to: `123A45-678901-B23C45`

[2021-06-16 22:42] slevenick commented on #9375
I would definitely be suspicious of that 401 authentication issue. Is it possible that the account you are running Terraform on has access to the storage bucket/project but not the billing account? Billing accounts generally have stricter permissions that are controlled through the billing account/organization itself rather than at the project level

[2021-06-17 02:48] zhaoyi0113 opened #9385 "Not able to change `grant type` in google_identity_platform_oauth_idp_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-17 05:46] iamsumit commented on #8692
I have raise a pull request to add the support. Can anyone please review this?

[2021-06-17 08:36] m477r1x commented on #9345
Sorry to spam I wondered if anybody was able to offer any advice on this?

[2021-06-17 10:16] yassine-naamane commented on #9375
Hi  slevenick,

``` terraform plan```  give me this result:

[code]
But with: ``` terraform apply```  I get the error mentioned above

I have checked that the service account used, it has the role **roles/billing.admin** at the organization level to create alerts

I remain at your disposal for any further information.

Yassine

[2021-06-17 17:05] brentgriffin commented on #9007
Any update on the status of this issue?

[2021-06-17 17:37] edwardmedia commented on #9371
@ivan-avguston using the [example](https://github.com/hashicorp/terraform-provider-google/issues/9371#issuecomment-861871827) , how did you reach to that error? Can you specify the detailed steps?

[2021-06-17 17:44] edwardmedia commented on #9287
@thedmeyer  oh I see. I guess this feature has not been implemented yet. You may file an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=enhancement.md) for it then.

[2021-06-17 17:44] #9287 closed

[2021-06-17 18:22] melinath opened #9388 "Document evil build killer"
We have an evil build killer; we should document that it exists somewhere. https://pantheon.corp.google.com/functions/details/us-central1/disallow-evil-builds?project=graphite-docker-images

[2021-06-17 21:09] c2thorn commented on #9007
@brentgriffin Sorry, this one slipped through for me. Appreciate the ping.

I haven't been able to recreate the error with two instances, but it should be a straightforward fix by adding a mutex. I'll get the PR out for review momentarily.

[2021-06-17 21:23] c2thorn commented on #9345
Hi @m477r1x I believe I understand your situation. I believe what's happening is that the old `google_project_services` resource remains in your state file. Are you able to use `terraform rm` https://www.terraform.io/docs/cli/commands/state/rm.html to make Terraform "forget" about the reference? If you do so, the new `google_project_service` has the ability to "pickup" any existing services on cre

[2021-06-17 21:37] m477r1x commented on #9345
Hi @c2thorn thanks very much for your advice, I will try this tomorrow and let you know!

[2021-06-18 03:28] muhammadpanji commented on #9126
I found list of valid format in `gcloud` docs : https://cloud.google.com/sdk/gcloud/reference/artifacts/repositories/create

I can't find the reference to valid format in the API documentation.

The documentation is autogenerated file. I'm interested working on this issue but I need time to understand how to edit the source of the autogenerated file.

[2021-06-18 04:27] txomon commented on #9175
Hello @megan07 , I have tested the latest version, and although the difference when ordering is different is solved, when there is an actual removal of an env block, something like this displays:

[code]
To reproduce, apply a cloud run config with two env vars, apply, and then remove one of them.

[2021-06-18 08:02] ivan-avguston commented on #9371
Does that example work for you guys? Did you check and it works? You can create mysql replica database with enabled binlogs and you're astonished why it does not work for me, can't you?

**I meticulously replayed your example and it does not work for me**
[code]

The same example with `tier = "db-f1-micro"` **does not work either** by [aforementionted](https://github.com/hashicorp/terraform-provid

[2021-06-18 09:56] jamiet-msm commented on #5693
Really rather surprised that this doesn't exist. A google_bigquery_table data source would be nice also.

[2021-06-18 14:20] c2thorn commented on #9345
I'll close this for now, and reopen based on the results.

[2021-06-18 14:20] #9345 closed

[2021-06-18 14:28] #8882 closed

[2021-06-18 14:47] marvinsxtr commented on #8464
@taeold Adding the `projects/` prefix resolved the issue. I missed it because in the [Google documentation](https://cloud.google.com/functions/docs/calling/firebase-auth#deploying_your_function), the `--trigger-resource` is only the project id. Maybe a hint in the [terraform provider documentation](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudfunctions_functi

[2021-06-18 14:47] #8464 closed

[2021-06-18 14:55] #9276 closed

[2021-06-18 15:13] edwardmedia commented on #9318
@al-dann As you can tell this is not something the provider can handle. Do you have to use the `preview` version? You may file an issue against `composer`. Closing the issue here now.

[2021-06-18 15:13] #9318 closed

[2021-06-18 15:20] edwardmedia commented on #9371
@ivan-avguston I noticed Terraform version (below) in your log. If that is true, it is pretty old.  Can you try using the latest versions of Terraform and the provider plug-in and then to see if the issue is resolved?

[code]

[2021-06-18 15:33] m477r1x commented on #9345
@c2thorn this has worked thank you for your advice!

[2021-06-18 15:37] c2thorn commented on #9345
@m477r1x Glad to hear it!

[2021-06-18 16:23] edwardmedia commented on #9371
@ivan-avguston I see what you mean now.  Below call needs to be added in the provider in order to handle this feature

[code]

[2021-06-18 16:44] edwardmedia commented on #9371
This appears to be an `enhancement`. Updating label accordingly

[2021-06-18 17:55] jcanizalez opened #9395 "Support to deploy Environments in DialogFlow CX"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-18 18:22] #9007 closed

[2021-06-18 18:39] c2thorn commented on #9314
This was fixed in 3.71.0: https://github.com/hashicorp/terraform-provider-google-beta/pull/3287
Please update your provider and try again.

[2021-06-18 18:39] #9314 closed

[2021-06-18 19:09] megan07 commented on #9175
Hi @txomon ! This will be released in our next version. Did you build the provider locally and see this or were you using `3.72.0`?  Thanks!

[2021-06-18 20:45] slevenick commented on #8918
Okay, I think the best solution in the short term is to remove the conflicts restriction on enable_autopilot + node_config. It seems like setting the service account via node_config now works when the cluster is in autopilot mode.

[2021-06-18 21:33] priscilasolis opened #9397 "Improve performance of google_storage_bucket with force_destroy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-18 23:16] #9195 closed

[2021-06-18 23:40] #8918 closed

[2021-06-19 00:23] pk185225 opened #9400 "Network endpoint group not supported for google_compute_backend_service"
max_utilization = 0.8
capacity_scaler = 1
are not supported by the network endpoint group.
I set the value to null in the local and terraform still adds

[code]
RESOURCE CONFIG
[code]
OUTPUT

[code]

[2021-06-19 01:00] linde opened #9401 "example description value of "test resource." in gke_hub_membership.html.markdown causes problems for membership resource"
The value makes it hard to use the cluster in the Anthos or GKE UI to configure ACM or even delete the membership later.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _m

[2021-06-20 22:20] edwardmedia commented on #9401
@linde I am not clear what is wrong. After running below plan, I can see the cluster has been registered by executing `gcloud beta container hub memberships describe basic` Can you provide the details specifying the problem?

[code]

[2021-06-21 04:56] lucasteligioridis opened #9402 "Google container node pool, clobber duplicated resource and destroying wrong resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-21 05:36] linde commented on #9401
hey, thanks for the follow-up! the problem might be on the google cloud console side, that a cluster with spaces or `.` in the description field causes problems with other hub feature setup. i think it is ok to reolve this item and we can follow-up interally.

[2021-06-21 05:36] #9401 closed

[2021-06-21 14:26] schmist opened #9404 "Documentation is not up to date for `resource_affinity` for `google_compute_instance(_template)`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-21 15:27] dcarvalhal commented on #7883
Hey guys!!

We have an update about this?

" An argument named "paused" is not expected here."

[2021-06-21 15:52] #9222 closed

[2021-06-21 15:56] pk185225 commented on #9400
@edwardmedia You have an idea

[2021-06-21 16:04] c2thorn commented on #8154
Finally got around to this, reached out to the Service Networking team: b/191659698

[2021-06-21 16:22] edwardmedia commented on #9402
@lucasteligioridis this is an interesting use case. Because the way the gke & node pool resources are designed, it needs a series of calls in order to fix the problem caused by the initial apply in your case. You were just stopped in the middle of these steps. If you continue `tf apply`, it will fix the problem.  I am not sure if there is a good way at the provider level we can shorten the steps.

[2021-06-21 16:30] edwardmedia commented on #9400
@pk185225 not yet. Trying to understand what the problem is. Are you able to repro the issue by removing the dynamic code? (trying to focus on if that is a problem in the provider) Please post the minimum config with the repro steps.

[2021-06-21 16:50] edwardmedia commented on #9400
@glickbot I am not super clear what the problem is. What did you expect and what is the actual result?

[2021-06-21 16:50] pk185225 commented on #9400
@glickbot  I try setting it to a valid value but
max_utilization
and
capacity_scaler
is not supported by the network endpoint group
this is the error I am getting

[code]
This is the expected resultwhen  I set those value to null
[code]
using the google_compute_backend_service.

[2021-06-21 16:53] #7594 closed

[2021-06-21 17:08] #9315 closed

[2021-06-21 17:17] edwardmedia commented on #9400
@pk185225 I see below block in the plan from the config [here](https://github.com/hashicorp/terraform-provider-google/issues/9372#issuecomment-861606719). It works fine with me when I apply it. What version of the provider are you using?

[code]

[2021-06-21 17:18] pk185225 commented on #9400
Is this for NEG or Compute backend it works for compute not NEG

[2021-06-21 17:19] edwardmedia commented on #9400
@pk185225 you can just apply the config of the example I provided.

[2021-06-21 17:22] edwardmedia commented on #9372
@atrauzzi chance to give that a shot?

[2021-06-21 17:26] pk185225 commented on #9400
@edwardmedia  and @glickbot

It works with RATE
Grateful to you guys for the help

[code]

[2021-06-21 17:43] edwardmedia commented on #9364
https://github.com/hashicorp/terraform-provider-google/issues/9372 is from you, @atrauzzi Assume this is related?

[2021-06-22 00:52] ScottSuarez commented on #9402
I think we can do a prefetch on the resource to make sure it doesn't exist during create before tainting the resource. @edwardmedia

https://github.com/GoogleCloudPlatform/magic-modules/pull/4904/files

[2021-06-22 07:59] george-oakling commented on #8654
Today I found out this is blocking us to determine which version had originally the traffic so we can leave it as it is, if we want just to cold start new containers...is it difficult to implement? I would like to participate if needed :)

[2021-06-22 10:18] txomon commented on #9175
Hello megan,

Sorry, I thought it had been released already, I will wait until it's
released and report back,

Cheers, Javier

On Fri, Jun 18, 2021 at 9:09 PM megan07 ***@***.***> wrote:

[2021-06-22 13:11] niraj06 opened #9413 "Getting error while importing bigquery table"
While trying to import the big query table using the below command getting an error

terraform import bq_create_table.google_bigquery_table.main ingka-icf-analytics-prod:logger.ecp_audit_logs

Error message
For information on valid syntax, see:
https://www.terraform.io/docs/cli/state/resource-addressing.html
╷
│ Error: Invalid address
│
│   on <import-address> line 1:
│    1: bq_create_table.googl

[2021-06-22 13:31] edwardmedia commented on #9402
@ScottSuarez good idea

[2021-06-22 13:47] edwardmedia commented on #9413
@niraj06 below format works for me. No idea how your `module` is configured. Can you try the following one to see if that works for you?

[code]

[2021-06-22 13:56] niraj06 commented on #9413
Hello, yes it works in the format you provided without modules, I did something wrong with my command

now i tried it below command and its working fine
terraform import module.bq_create_table.google_bigquery_table.main project-id/logger/ecp_audit_logs

please invalidate the bug or close it

[2021-06-22 14:06] niraj06 commented on #9413
thanks for timely help

[2021-06-22 15:32] #7866 closed

[2021-06-22 15:44] atrauzzi commented on #9372
@edwardmedia - That's HTTPS, but I'm asking about global vs. regional?  Or is HTTPS load balancing only global? The documentation you listed doesn't speak to regional vs. global.

Apologies, some of this is confusing as I don't feel like I have enough information to make a decision with load balancing sometimes.

[2021-06-22 15:45] atrauzzi commented on #9364
Yeah, but I think in general it's been very difficult to figure out just what kinds of resources I should be using for load balancing.

What would I use to create a load balancer once my backend is ready?

[2021-06-22 15:46] drandell opened #9415 "compute_url_map - dynamic route_rule block(s)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-22 16:02] c2thorn commented on #9364
Hi @atrauzzi
Have you checked out [terraform-google-modules](https://github.com/terraform-google-modules?type=source)? It has a few load balancing examples like https://github.com/terraform-google-modules/terraform-google-lb
This tutorial has more information: https://cloud.google.com/community/tutorials/modular-load-balancing-with-terraform

Most of the resources you seem interested in are in Com

[2021-06-22 16:02] #9364 closed

[2021-06-22 16:56] slevenick commented on #9375
Hey @yassine-naamane I'm trying to track this down, can you share your billing account ID with me so I can use that to find information on this request?

You can send it to me via email. My email is my username @google.com

[2021-06-22 17:37] melinath commented on #9235
From an update announcement:

This likely means we won't be able to drop support for basic auth for a while, even though new clusters won't be created with it. However, this test will not be able to run because it won't be able to create new clusters.

[2021-06-22 19:08] mike-at-spotify opened #9416 "DNS provider incorrectly replaces TXT record: never stabilizes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-22 20:11] ScottSuarez commented on #9397
hi @priscilasolis, we are limited by the available storage sdk. There is no methods available to enable a faster deletion.

https://github.com/googleapis/google-api-go-client/blob/master/storage/v1/storage-gen.go#L9327

gsutils itself uses a customized python implementation that we can't utilize. I would suggest asking the maintainers of the sdk or the api to expose more convenient/faster methods.

[2021-06-22 20:11] #9397 closed

[2021-06-22 20:48] #8985 closed

[2021-06-22 21:48] ScottSuarez commented on #9371
I was able to reproduce and have implemented the fix. It's unfortunate that the api is not smart enough to figure out the instance type prior to creation. It should be live in `3.75.0` at the latest

[2021-06-22 22:24] jdstone opened #9418 "Terraform plan after apply has additional ACL changes required and never resolves (2nd edition)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-22 22:42] clementtournier commented on #9369
Same issue here.

When putting the "range" argument to an empty string, and _null_ values are not allowed, Terraform always try to update the configuration even without any modifications.

[code]

Terraform plan :
[code]

[2021-06-22 22:42] venkykuberan commented on #9416
fix for this  #9112 should take care of this issue as well

[2021-06-23 00:03] ScottSuarez commented on #9369
Hi @clementtournier, this is how terraform works under the hood. The field `advertised_ip_ranges` is a list, in adding a `advertised_ip_ranges` block you are adding an item to that list, even if the values to that item are empty.

https://github.com/hashicorp/terraform-provider-google/blob/master/google/resource_compute_router_peer.go#L111-L114

[2021-06-23 01:17] p-le commented on #7242
Stills happening, please fix.

[2021-06-23 02:05] edwardmedia commented on #9418
This PR should take care of it.

https://github.com/GoogleCloudPlatform/magic-modules/pull/4848

[2021-06-23 02:10] edwardmedia commented on #9372
@atrauzzi in GCP, `HTTP(S) Load Balancing is a global, proxy-based Layer 7 load balancer`

https://cloud.google.com/load-balancing/docs/https

[2021-06-23 09:53] yassine-naamane commented on #9375
Hi,

The problem has been solved. The error reported above has no link with the source of the issue.

The issue was in the **currency_code** parameter of the billing alerts configuration.

**In the configuration we have to use the same currency code as the one used by the billing account.  The conversion is not done automatically.**

In our case, the currency of the billing account is **EUR** but

[2021-06-23 09:55] #9375 closed

[2021-06-23 11:55] OriBenHur opened #9419 "google_dataproc_cluster is missing metastoreConfig field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-23 12:36] clementtournier commented on #9369
@ScottSuarez Thank you for sharing this information, I understand better, had the same kind of issue with _advertised_groups_ parameter that requires a list, not a map, but I found a workaround by passing a double quoted empty value followed by the [compact](https://www.terraform.io/docs/language/functions/compact.html) function, so the list had no element.

[code]

But regarding _advertised_ip_ra

[2021-06-23 13:51] clementtournier commented on #9369
@socratesx I Finally found a solution by using ```dynamic``` block for ```advertised_ip_ranges``` argument  :

[code]

Hope it will help.

[2021-06-23 14:22] ivan-avguston commented on #9371
thank you a lot it's a really good piece of news. "Not smart enough" - I'd like to say it's awkward and silly to send twice a request to get a working instance

[2021-06-23 16:08] edwardmedia commented on #9415
@drandell what error did you receive? Can you post the full debug log so I can take a close look?

[2021-06-23 16:48] #9346 closed

[2021-06-23 17:54] melinath commented on #9146
Still fixing some issues with the last step - reopening to make sure this doesn't get lost.

[2021-06-23 18:20] drandell commented on #9415
Sorry, i didnt get an error as such, but the plan just did not look correct. So if i try and include the 2nd dynamic block, this is the plan output;
[code]
*note: i've redacted some of the service urls and project-id*.

This doesnt look right to me (so we never applied).
If we 'hardcode' the service in as the fourth route rule then it works as intended.

Also the second example, with the dynamic h

[2021-06-23 18:33] edwardmedia commented on #9415
@drandell `dynamic handling` is part of Terraform core. Shouldn't you file an issue with them to see if they can help?

Since we only have the partial code, it is hard to repro the issue. Can you create a complete test config that can be used to repro the issue?

[2021-06-23 19:49] drandell commented on #9415
Will come back when i get time to make a repro repo

[2021-06-23 19:49] #9415 closed

[2021-06-23 20:25] melinath commented on #8433
This is sufficiently resolved for now.

[2021-06-23 20:25] #8433 closed

[2021-06-23 20:26] melinath commented on #8037
We're not going to do this; we'll merge conversion with validator instead.

[2021-06-23 20:26] #8037 closed

[2021-06-23 20:27] melinath commented on #8432
This is a duplicate of https://github.com/GoogleCloudPlatform/terraform-validator/issues/217 and https://github.com/GoogleCloudPlatform/terraform-validator/issues/232

[2021-06-23 20:27] #8432 closed

[2021-06-23 20:42] melinath commented on #8438
Done.

[2021-06-23 20:42] #8438 closed

[2021-06-23 20:44] melinath commented on #8489
Closing as a duplicate of the above issue.

[2021-06-23 20:44] #8489 closed

[2021-06-23 20:45] jdub55 opened #9422 "Budget amount not updating when calling google_billing_budget"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-23 20:46] melinath commented on #8529
Moved to terraform-validator.

[2021-06-23 20:46] #8529 closed

[2021-06-23 20:47] melinath commented on #5988
I think this was resolved as part of the update process at the beginning of the year; if not, we should open it as a bug in the terraform-validator repository.

[2021-06-23 20:47] #5988 closed

[2021-06-23 22:33] edwardmedia commented on #9422
@jdub55 can you share your config and debug log?

[2021-06-23 22:39] upodroid commented on #9360
Cameron, the MM PR has been merged. Can you close this?

[2021-06-23 22:47] pk185225 commented on #9400
@glickbot and @edward2a

We can not make an update to the resource after it is created because
Terraform still add max_utilization = 0.8.  The google create API ignores this validation but the update won't

We are seeing an error when trying to update:
[code]

[2021-06-23 22:53] gor-obr opened #9423 "Add support for Composer maintenance window configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-23 22:53] gor-obr commented on #9423
I wish to work on this item.

[2021-06-23 22:58] #9402 closed

[2021-06-23 22:59] #9146 closed

[2021-06-23 23:29] lucasteligioridis commented on #9402
Thanks for the quick turn around team ❤️  👏🏼

[2021-06-23 23:54] edwardmedia commented on #9400
@pk185225 I don't have a full picture of what you have. But checkout this [doc](https://cloud.google.com/load-balancing/docs/negs/serverless-neg-concepts) to see if that fits your case.

[2021-06-24 12:57] karthickshiv opened #9425 "Hey @zffocussss!"
Hey @zffocussss!

`google_project_iam_member` is used to define a single user:role pairing. You can define multiple `google_project_iam_member` blocks to attach multiple roles to a single user, or multiple users to a single role.

can you please share some sample code?

[2021-06-24 13:14] jamiet-msm commented on #9298
Would really really like to see Feature Store supported please folks!

[2021-06-24 15:37] gokeefe opened #9426 "Mixing conditional and non-conditional google_project_iam_binding resources for the same role"
The documentation for [`google_project_iam`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_project_iam) resources states:

[code]

The [Method: projects.getIamPolicy](https://cloud.google.com/resource-manager/reference/rest/v1/projects/getIamPolicy) endpoint returns an object where the role for a conditional IAM has a unique name. Example:

[code]

In my tes

[2021-06-24 15:40] c2thorn commented on #9360
Thanks for pointing this out @upodroid

[2021-06-24 15:40] #9360 closed

[2021-06-24 16:16] edwardmedia commented on #9425
@karthickshiv not super clear what you are trying to do here. If you have specific questions / issues about the provider plug-in, please follow the template and provide the details so we can help. Close this one now

[2021-06-24 16:16] #9425 closed

[2021-06-24 16:31] puzzloholic opened #9427 "Cannot import GKE without nodepool block definition"
Hi,

Currently I have live production GKE cluster, and I want to manage it with Terraform. Is there any way to separate nodepool resource management, so the `nodepool` block is not imported within `google_container_cluster` resource?

Right now I have multiple `google_container_node_pool` resource from importing each nodepool, but multiple `nodepool` blocks also exists in `google_container_cluster

[2021-06-24 16:32] edwardmedia commented on #9426
@gokeefe I am not sure what you meant about **conditional** or **non-conditional**. Can you explain?

Most IAM resources provide three formats like **xxxx_iam_policy**, **xxxx_iam_binding** and **xxxx_iam_member**.  Please pay attention to the differences among them. In general, **xxxx_iam_policy** will remove ALL the existing settings, replaced by ones you provided in the resource. On the other s

[2021-06-24 17:35] #9166 closed

[2021-06-24 17:35] #9371 closed

[2021-06-24 19:10] ScottSuarez commented on #9369
given that there is a workaround I'm going to close this issue for now.

i'm sure terraform core would appreciate any suggestions if they aren't already there.

[2021-06-24 19:10] #9369 closed

[2021-06-24 19:13] ScottSuarez opened #9429 "add support for tpg-samples tests"
add support for tpg-samples tests

* subtask split off from https://github.com/hashicorp/terraform-provider-google/issues/8200

[2021-06-24 19:13] ScottSuarez commented on #8200
split off an issue for the sample testing
https://github.com/hashicorp/terraform-provider-google/issues/9429

[2021-06-24 19:17] ScottSuarez opened #9430 "investigate/solve for a way to automate testing plan diff with imported dcl resoruce"
[ ] - way to automate testing plan difference with imported dcl resources vs existing resources

[2021-06-24 19:32] #7399 closed

[2021-06-24 19:32] #9383 closed

[2021-06-24 19:36] gokeefe commented on #9426
Hi @edwardmedia, I mean a project_iam_binding or project_iam_member resource with a condition block ([IAM Condition](https://cloud.google.com/iam/docs/conditions-overview)) vs a resource without a condition block.

I'm aware of the differences based on the documentation, it just appears to be that they don't conflict if two resources target the same role, but one has conditions and the other doesn

[2021-06-24 19:50] gokeefe commented on #9426
With two google_project_iam_binding resources targeting the same role and no IAM Conditions, the conflicts are very noticable. Every time you run a terraform plan, it wants to change one or the other. But if one has conditions, and the other doesn't, no conflicts seem to occur.

[2021-06-24 19:58] venkykuberan commented on #9427
@puzzloholic so you imported both the cluster and node_pool resources, right ?.  You should be able to remove it from the cluster without recreating the cluster. Can you share both the `cluster` & `node_pool` config.

[2021-06-24 19:59] ScottSuarez opened #9433 "TestAccGKEHubFeature_gkehubFeatureMciUpdate"
ref: https://ci-oss.hashicorp.engineering/project.html?tab=testDetails&projectId=GoogleCloudBeta&testNameId=2284819063847023235&page=3

[2021-06-24 21:22] jdstone opened #9435 "resourceInUseByAnotherResource when TF is performing what seems like an unnecessary update/change to a google_compute_resource_policy resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-24 23:24] karlkfi opened #9436 "google_compute_instance_template.advanced_machine_features erroneously marked as computed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-24 23:44] ericnorris opened #9437 "Inconsistent application of `user_project_override` and `billing_project`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-25 00:16] ahmetb opened #9438 "resource update is stuck at "Still modifying..." when it's getting 409"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

If this is a bug report (for when something is there, but doesn't work how it should), please use the [bug issue template](https://github.com/terraform-providers/terra

[2021-06-25 00:17] jdub55 commented on #9422
This looks look to be an internal API error that Google Support and Engineering are reviewing. Closing out the case as it's likely no change to Terraform are needed to address this issue.

[2021-06-25 00:17] #9422 closed

[2021-06-25 01:15] heartrobotninja opened #9439 "Add ability to for dlp resource to replace with InfoType"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-25 02:54] edwardmedia commented on #9435
@jdstone how do you manage the disk `prod-bastion-01`? It appears it is not in the same plan/state with `google_compute_resource_policy`. Due to the relationship of these two resources, you can't do anything for the `policy` without deleting the disk first.

@ScottSuarez this is an interesting use case. `google_compute_resource_policy` does not support `update`. How do you want to address this iss

[2021-06-25 05:54] mleonhard commented on #8293
This ticket is labeled "waiting-response".  Does that mean it is waiting for a response from me?

[2021-06-25 07:03] socratesx commented on #9369
Thank you guys for your support and comments, I was able to solve the problem using the compact function. The  only thing I had to do is to use it in the for_each argument like:

[code]

[2021-06-25 07:16] BrunoReboul commented on #9341
The org policy format has changed to enable using tags in conditions [example](https://cloud.google.com/resource-manager/docs/organization-policy/tags-organization-policy#list_policy_example)

Resource Manager REST API v1 are the same. Not available en v2 nor v3

Org resource:
- Method: [organizations.listOrgPolicies](https://cloud.google.com/resource-manager/reference/rest/v1/organizations/listOr

[2021-06-25 10:28] yassine-naamane opened #9440 "google_billing_budget: Can not update the budget amount"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-25 11:07] txomon opened #9441 "google_cloud_run_service can't be initially created with secret manager env vars"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-25 14:29] brettcurtis opened #9442 "disable-legacy-endpoints forces replacement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-25 15:29] alexandrefilgueira opened #9443 "lifecycle_rule option for google_storage_bucket should be able to be defined conditionally"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-25 15:42] edwardmedia commented on #9437
@ericnorris help me to understand what the problem is. You provided `project` in both resources (below). Did you see they do not use the `project` you provided? If not, can you post the debug log along with values for these two variables?

[code]

[2021-06-25 16:11] yassine-naamane commented on #9440
[code]

Look at this line below, it's an extract of the logs

[code]

[2021-06-25 16:40] edwardmedia commented on #9436
@karlkfi tested the api behavior. `advanced_machine_features` is optional. If we don't set it in the config, then it will not be included in the request and the api will not send it back in the response which makes me think it should NOT impact the existing behavior. Can you think of any reasons that attempt to alter the value of `advanced_machine_features` in your case?

It is true, any changes n

[2021-06-25 16:52] edwardmedia commented on #9440
@yassine-naamane I can't see anything wrong yet. The new amount `2000` was set in the PATCH request, but looks like API did not take it as it sent back with the original amount `5000` in the response.

Do you notice below error? Can you resolve this? In the meantimes, are you able to update the amount using other tools with the same user account?

[code]

[2021-06-25 17:07] slevenick commented on #8293
Ah, nope that was a mistake. There is an API for this, so I've sized & milestoned it

[2021-06-25 17:53] edwardmedia commented on #9441
There is a daily test here https://github.com/hashicorp/terraform-provider-google-beta/blob/23b194d1e0fcd4c394528a2831a6fa355d8f41ef/google-beta/resource_cloud_run_service_test.go#L330

[2021-06-25 18:02] yassine-naamane commented on #9440
The error below is not normal, because I can create billing alerts with the same service account, and I can change values like the billing alert name

[code]
As you can see in the log below:  displayName": pass from "IRN-69801" to "Billing Alert Test"
But, it is not possible to modify the amount.
So the error message is wrong

[code]

[2021-06-25 18:23] atrauzzi commented on #9372
Okay, so how would I make use of the ["single anycast IP"](https://www.youtube.com/watch?v=D4XZkCJyqis&t=544s) of google's load balancers?

What resource does that correspond to in terraform?

[2021-06-25 18:23] atrauzzi commented on #9364
How would I make use of the ["single anycast IP"](https://www.youtube.com/watch?v=D4XZkCJyqis&t=544s) of google's load balancers?

What resource does that correspond to in terraform?

[2021-06-25 18:27] #9372 closed

[2021-06-25 18:32] atrauzzi opened #9444 "How do I hook up Cloud Load Balancer to Cloud Run?"
What resources would I use from this provider to make use of the ["single anycast IP"](https://www.youtube.com/watch?v=D4XZkCJyqis&t=544s) of google's load balancers?

What resource does that correspond to from this provider?  So far I have (connected in order):
 - `google_cloud_run_service`
   - `google_compute_region_network_endpoint_group`
     - `google_compute_backend_service`
       - `googl

[2021-06-25 18:36] ScottSuarez commented on #9435
There isn't much we can do here. What I think is happening is someone added the description to the resource outside of terraform. Maybe somewhere in ui and now it's returning that description to us. Terraform doesn't have the description in the config and is trying to reconcile it by deleting the resource and creating a new one. This is because the api we use to manage this resource doesn't have a

[2021-06-25 19:57] jdstone commented on #9435
@ScottSuarez Oh my goodness.  I feel like such an idiot for missing not seeing that the `description` was not in the Terraform config.  I apologize.  Feel free to close this issue.

[2021-06-25 20:22] ericnorris commented on #9437
@edwardmedia I do not have the debug logs, but I don't think that I need them, hopefully I can explain the issue here.

We have three projects:

- `project-a`: the "host" project that has the service account running `terraform`
- `project-b`: the project we're applying `terraform` to, and is the `billing_account` in the `provider` configuration
- `project-c`: another project that is being modified

[2021-06-25 20:32] karlkfi commented on #9436
Yes, but I don't think this is desirable behavior.

## Example 1
Removing values that aren't default should trigger re-create.

``
advanced_machine_features {
  threads_per_core = 1
  enable_nested_virtualization = true
}
[code]
// removed
[code]
$ terraform plan
...
No changes. Infrastructure is up-to-date.
[code]
to
[code]
This SHOULD be a noop, because it's equivalent to the default. But it's a

[2021-06-25 20:33] karlkfi commented on #9436
The tf i used for the above tests was just this. Change the project and you can test yourself.

[code]

[2021-06-25 20:35] upodroid commented on #9436
Karl, I initially tried those permutations for `google_compute_instance` in https://github.com/GoogleCloudPlatform/magic-modules/pull/4849.

Has that bug in 4849 been fixed yet?

[2021-06-25 20:38] ScottSuarez commented on #9435
no worries. It happens!

[2021-06-25 20:38] #9435 closed

[2021-06-25 20:47] karlkfi commented on #9436
https://github.com/GoogleCloudPlatform/magic-modules/pull/4849 looks like it also specifies `Computed: true` on the `advanced_machine_features` field.

I suggest changing it and adding more tests to validate the behavior works as desired for these use cases.

[2021-06-25 20:55] karlkfi commented on #9436
Oh, I see. You reported a bug in the docs/api not agreeing about the field being mutable. I don't have an snwer for that, but I can try to follow up.

The issue in this ticket is about unexpected behavior in the TF provider from your impl in https://github.com/hashicorp/terraform-provider-google/pull/9363

Example 1 is the worst offender. It ignores a change when it should cause an update/recreate

[2021-06-25 21:08] adziura-tcloud commented on #9440
Confirming same behavior. Starts from provider version 3.67.0.

[2021-06-25 21:13] #9404 closed

[2021-06-25 21:33] rileykarson commented on #9436
Speaking about changing the instance template schema: Even though the impact is likely to be minor, removing the `Computed: true,` value from the field(s) in instance template will be a breaking change, as they'll cause a diff (and in fact recreate the resource) when removed instead of performing a noop. Based on that, I've triaged it as a breaking change.

@karlkfi: Those are all well-known behav

[2021-06-25 21:54] rileykarson commented on #9437
@edwardmedia: `billing_project` is a provider-level field that interacts with [`user_project_override`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#user_project_override): https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#billing_project

Our documentation for `billing_project` is a little over-optimist

[2021-06-25 22:02] ericnorris commented on #9437
Ah, apologies @edwardmedia, yes, as @rileykarson said this is a provider-level configuration setting that we're using in order to override the project used for quota and API precondition checks.

@rileykarson hah, I definitely assumed going in to this that `billing_project` would solve all of our problems, so I was blind to the over-optimism :). Unfortunately I don't have a specific list of resour

[2021-06-25 22:23] rileykarson commented on #9437
It's a useful bit of configuration! Sorry that coverage isn't all the way there, and getting coverage on IAM + sinks should be doable :+1: (I'll also file an `enhancement` followup to get the backfill done generally, and note there that anyone needing specific resources can file issues for them)

Your closing comment would work for `billing_project` at the provider level, but wouldn't work for dir

[2021-06-25 22:28] #9439 closed

[2021-06-26 01:35] venkykuberan commented on #9442
I don't see that happening on my end. I tried the same tf version as yours. Can you please attach the debug log of the API response?

[2021-06-26 06:53] puzzloholic commented on #9427
@venkykuberan, I manage to switch nodepool management to `google_container_node_pool` resource using this step on my own. This is my findings.

This is my resource config after importing the cluster and each of the nodepool.
[code]
What I want to remove is all `node_pool` block  inside resource `google_container_cluster.k8s_prod`.
First I try to remove 1 `node_pool` block, and terraform indicates

[2021-06-27 12:43] yassine-naamane commented on #9440
Hi @adziura-tcloud @edwardmedia

I did the same test with an another version of provider ( v3.56.0) and I confirm that it works.

It is a regression in the new versions of the provider > 3.56.0

Regards
Yassine

[2021-06-27 17:23] #9427 closed

[2021-06-27 19:13] adziura-tcloud commented on #9440
@yassine-naamane
Have you experienced problems with provider version?
`Error: Resource instance managed by newer provider version`

[2021-06-28 06:29] txomon commented on #9441
I have tried to change the code to use the exact annotations and the problem is still there:

[code]

[2021-06-28 08:32] hprotzek commented on #9104
@ScottSuarez Morning, any progress with the fix from the api team?

[2021-06-28 10:50] dex4er opened #9449 "reservation_affinity = null should be the same as "ANY_RESERVATION""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-28 12:26] MarcinKowalski101 opened #9450 "google_bigquery_data_transfer_config, change destination_dataset_id to **Optional**"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-28 13:34] ericnorris commented on #9437
Thanks @rileykarson! Not a problem, I appreciate that you all even have this feature in the provider to begin with.

Good point, I suppose the client option wouldn't work for people that are only using `user_project_override` and _not_ setting `billing_project` at the provider level, and the other situations you described. I, of course, would be fine with that, since I am setting the `billing_proj

[2021-06-28 14:29] #9359 closed

[2021-06-28 14:30] jcanizalez opened #9451 "Support to deploy EntityTypes in DialogFlow CX"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-28 14:50] brettcurtis commented on #9442
[plan.debug.gpg.txt](https://github.com/hashicorp/terraform-provider-google/files/6727225/plan.debug.gpg.txt)

That what you're after? I set the TF_LOG=debug when running the plan. I encrypted using hashicorp public key.

[2021-06-28 15:37] saidi-adam opened #9453 "Provide string fields for setting min/max values within google_monitoring_slo ranges to support infinity/-infinity values"
### Affected Resource(s)

* google_monitoring_slo

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/monitoring_slo

I'm trying to create a `google_monitoring_slo` resource within GCP via Terraform and as per the documentation (link above), it states that the range block which consists of `min` and `max` will always default to Infinity if let blank as well as they're b

[2021-06-28 16:45] edwardmedia commented on #9426
This is a good use case. @rileykarson what do you think?

[2021-06-28 16:49] rileykarson commented on #9426
That note in the documentation is a bit of a lie- the actual delimiter that would cause issues is if a member and binding both attempted to manage the same {role, condition} pair. I think the note predates conditions support in Terraform, honestly.

[2021-06-28 16:58] rileykarson opened #9454 "Backfill user project overrides, `billing_project` support across handwritten resources"
### Affected Resource(s)

* google_*

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help priori

[2021-06-28 17:24] rileykarson opened #9455 "Allow a google_container_cluster id reference for the value for the gke_cluster of a google_gke_hub_membership"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-28 17:46] rileykarson commented on #9443
What doesn't work exactly? You should be able to omit the field, specify it as `null`, or use a `dynamic` block?

[2021-06-28 18:20] venkykuberan commented on #9442
@brettcurtis can you please send the log in plain text, you can redact the project info.

[2021-06-28 18:43] rileykarson commented on #9423
@gor-obr: Sounds good! If you need support, feel free to reach out to me internally (same username)

[2021-06-28 18:50] karlkfi commented on #9436
Do we have an example where any of these fields are computed by the API, for either instances or instance templates?

Checking the responses from the API (using `gcloud --log-http`), it doesn't look like it.

I didn't test every permutation, but here are a few examples. I got the same results from both instances and instance templates.

Below, we see that for instances, `advancedMachineFeatures` i

[2021-06-28 19:08] venkykuberan commented on #9449
Agree, we need to set default value for the field. We will include it, thanks for filing the issue.

[2021-06-28 19:11] gokeefe commented on #9426
That makes sense. I _think_ though that the same applies to using more than one `google_project_iam_binding` resource as well, as long as each google_project_iam_binding resource targets a different {role, condition} (or lack of condition) pair. At least, that's how it appears in my testing.

[2021-06-28 19:58] tSte commented on #8918
@slevenick may I ask you how did you test this? Because when I create the cluster, it is still created with the `default` service account. And when I `terraform apply` again, it prompts me to re-create the cluster with the change:
[code]
I'm still able to create GKE cluster via `gcloud` CLI.

[2021-06-28 20:04] venkykuberan commented on #9444
@atrauzzi I don't see a complete terraform example of resources for cloud run with lb. We need to NEG for cloud run to point to lb at high level. Combining #2 & #3 will lead you the place where you want. Hope it helps ..

1) [Google doc have the gcloud steps](https://cloud.google.com/load-balancing/docs/https/setting-up-https-serverless#deploy_serverless_app)

2) [Terraform example for cloud run/n

[2021-06-28 20:29] brettcurtis commented on #9442
Haha, not really that log is FULL of stuff. Anything specific I can look for and share? Or another way to share the encrypted file. I was just following the notes in the issue template.

[2021-06-28 20:59] c2thorn commented on #8154
Service networking team deleted the resources for us. Hopefully with the bootstraps set in place, we stop leaking more.

[2021-06-28 20:59] #8154 closed

[2021-06-28 23:23] rileykarson commented on #9426
That's correct, yeah, two bindings need to manage the same role+condition pair to conflict. Labelling as documentation for us to update.

[2021-06-28 23:52] gokeefe commented on #9426
Awesome, thank you for confirming!

[2021-06-29 04:14] atrauzzi commented on #9444
Much appreciated, I'll close this and reopen/comment if anything comes to mind.  I feel like I'm getting close!

[2021-06-29 04:14] #9444 closed

[2021-06-29 08:39] terorie opened #9457 "google_storage_object_access_control does not encode path properly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-29 09:47] yassine-naamane commented on #9440
@adziura-tcloud

Indeed, I had to delete first, the resources with the same version of the provider (3.72.0) and then I recreated them again with an old version (3.56.0)
And this allowed me to move forward

Regards
Yassine

[2021-06-29 10:57] adziura-tcloud opened #9458 "google_billing_budget documentation is incorrect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-29 12:06] naphta opened #9459 "Allow switching from `metadata_startup_script` to `metadata.startup-script` gracefully"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-29 13:38] edwardmedia commented on #9440
@melinath could this be related to below PR?

https://github.com/hashicorp/terraform-provider-google/pull/8990

[2021-06-29 14:33] alexandrefilgueira commented on #9443
if you try the first option, it will tell you that null is not valid.
if you try the second option, it will tell you that you're missing required properties
if you try the third option, it will tell you that you should specify a lifecycle_rule type block

[2021-06-29 14:37] rileykarson commented on #9443
Can you post sample configuration(s) for each and the exact error you receive, as well as a response from the REST API / gcloud describe / Console that you're unable to represent in Terraform? 1 and 3 should be valid configurations, 2 isn't (you would write 3 instead).

[2021-06-29 15:26] #9449 closed

[2021-06-29 16:05] mchesler opened #9461 "Import of google_cloud_asset_folder_feed forces replacement despite matching config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-29 16:27] c2thorn commented on #9388
b/192356922

[2021-06-29 17:01] renaudguerin commented on #9104
I'm also running into this problem and I don't think I can easily apply the `lifecycle` workaround @hprotzek offered, because I'm using the [GKE Google module](https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/latest) (I initially opened [an issue](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/941) against it)

Before I

[2021-06-29 18:05] ScottSuarez commented on #9104
The fix should have been promoted to prod recently. Hopefully a full role-out by the end of the week. I'll check in next week to ensure that it's fixed

[2021-06-29 18:55] ScottSuarez opened #9463 "consume user project override change from dcl"
* cl/380948675

[2021-06-29 19:36] ranjitk-burwood opened #9464 "google_pubsub_topic : schema_settings is an unsupported block type."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-29 19:49] edwardmedia commented on #9400
@pk185225 is this still an issue?

[2021-06-29 19:53] edwardmedia commented on #9418
Add the label of `waiting-response` for the PR (#4848) review & approval

[2021-06-29 19:56] jdstone commented on #9418
@edwardmedia
Looks like you referenced the incorrect PR.  (Feel free to delete my command after fixing)

[2021-06-29 21:17] #9440 closed

[2021-06-29 21:37] venkykuberan commented on #9457
@terorie `object` field takes the object name not the path of the object.  The resource is working as expected. Let us if you feel otherwise.

example
[code]

[2021-06-29 21:48] venkykuberan commented on #9457
@terorie talked to my colleague, its indeed bug on our end. We will work on it.

[2021-06-29 22:29] ericnorris opened #9466 "Backfill support for `user_project_override` and `billing_project` for `google_service_networking_connection`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-30 08:13] george-oakling commented on #8654
Hi! Can we expect this to be enhanced any time soon? How can I help to push this a bit? :) @rileykarson

[2021-06-30 13:12] Thomas999999 opened #9468 "Error when reading or editing DNSResourceDnsRecordSet ...forbidden"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-30 13:40] edwardmedia commented on #9464
@ranjitk-burwood the feature was added in the version of [v3.68.0](https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.68.0). What the provider version are you using? Can you get the latest to see if that works?

[2021-06-30 13:52] edwardmedia commented on #9461
@mchesler can you see if below records are in the state?

[code]

[2021-06-30 14:01] szisiu opened #9469 "GCE MIG autoscaling - CPU utilisation policy cannot be removed after being added"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-30 14:03] ranjitk-burwood commented on #9464
@edwardmedia Thanks, I was using v3.65.0 and switched to v3.68.0 and can confirm it works now on a `terraform validate` at least. On a `terraform apply` I receive the error below which looks to be due to the topic being provisioned already.

[code]

[2021-06-30 14:03] #9464 closed

[2021-06-30 15:08] edwardmedia commented on #9459
@naphta this is by design that changing `metadata_startup_script` leads to trigger replacement. Below is what its [doc](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance) indicates. Does this make sense?

[2021-06-30 15:20] naphta commented on #9459
@edwardmedia Absolutely I understand that these two things can't coexist at the same time, however I'm switching from one to the other (as such, not simultaneously). It feels like that should be possible, I fully expect that if I were to change `metadata_startup_script` to a non null value it should destroy/recreate, but in this case I'm unsetting it (or setting to null), and then simply moving th

[2021-06-30 15:42] edwardmedia commented on #9450
@MarcinKowalski101 help me to understand. How it works if you don't specify the destination_dataset_id? Which dataset will be where the temporary table resides?

[2021-06-30 15:59] edwardmedia commented on #9459
@naphta it is fine with me switching between `startup_script` and `metadata_startup_script` by alternating commenting each line. I noticed that you had `prevent_destroy = true`. Is this still the case?

[code]

[2021-06-30 16:14] edwardmedia commented on #9469
@szisiu you currently use the `module`.  Can you repro the issue using the `resource` config?

[2021-06-30 16:28] naphta commented on #9459
@edwardmedia I did try that but terraform was still wanting to do the destroy which is undesirable. I'm wanting to swap from one to the other without the instance being destroyed. Is that the case from your example too?

[2021-06-30 16:34] melinath commented on #9196
Billing budget seems to require explicit update mask for nested fields like this.

[2021-06-30 17:15] dippynark commented on #9180
Should default node image type be included in this list? https://cloud.google.com/kubernetes-engine/docs/how-to/node-auto-provisioning#default-image-type

[2021-06-30 17:48] edwardmedia commented on #9459
@naphta this is what I mentioned earlier. When you alter `metadata_startup_script`, it triggers recreation. This is by design. You can't avoid it via manipulating the config without changing the `design`

[2021-06-30 17:54] naphta commented on #9459
So how do you suggest I get myself out of this hole that has been dug?

My expectation is that whenever I changed `metadata_startup_script` to a non null value that would be the case, but this is a bit of a different scenario since I'm trying to essentially reverse, or back out from using it.

Also the code I took a look at seemed to suggest the behaviour I'm looking for was intentional as the err

[2021-06-30 18:11] edwardmedia commented on #9441
@txomon I am able to see both **TARGET** and **SOURCE** under `Environment variables` by running the [example](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#example-usage---cloud-run-service-multiple-environment-variables) . I have tried `initial apply` and following `apply` with additional `env` and all work fine with me. Instead of `dynamic code

[2021-06-30 18:35] edwardmedia commented on #9438
@ahmetb I am not sure if there is a better way in the Terraform side that can help. But can you try to delete revision(s) from the web console, and then re-apply the config?

[2021-06-30 18:38] edwardmedia commented on #9459
@naphta i am not sure if there is a good way to achieve it `gracefully`. @

[2021-06-30 18:44] edwardmedia commented on #9468
@Thomas999999 can you post the full debug log so we can review more api requests & response?

[2021-06-30 18:58] mchesler commented on #9461
@edwardmedia no, I see this in the state:
[code]

[2021-06-30 20:14] Sophyiya opened #9472 "Google BigQuery table are being force replaced , even when there is no change in the schema structures."
Noticed similar kind of issues about force replacement were already discussed at https://github.com/hashicorp/terraform-provider-google/issues/8710 and https://github.com/hashicorp/terraform-provider-google/issues/8803, also fix was released.But when we were trying to provision the bigquery table resource with google provider V3.74.0, during the consecutive Terraform apply,the tables are being for

[2021-06-30 20:15] melinath commented on #9459
I think we could achieve this with a customize diff func; I'll check with folks whether that's something we would want to do.

[2021-06-30 20:34] venkykuberan commented on #9472
@Sophyiya Can you please attach the plan output to get an idea about what's causing the resource to be recreated ?

[2021-06-30 21:04] melinath opened #9476 "Test failures: IAP IAM"
IAP IAM tests have been failing consistently since June 17 with errors like:

[code]

This may indicate missing permissions for the test runner.

The following GA tests are impacted:

- TestAccIapTunnelIamBindingGenerated
- TestAccIapTunnelIamMemberGenerated
- TestAccIapTunnelIamPolicyGenerated
- TestAccIapWebIamBindingGenerated
- TestAccIapWebIamMemberGenerated
- TestAccIapWebTypeAppEngineIamMemb

[2021-06-30 21:50] cgpuglie opened #9477 "Backend services always have max_utilization set - cannot be edited through the UI"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-06-30 22:29] salrashid123 commented on #6604
i've gotten a very basic sample working [here](https://gist.github.com/salrashid123/3e0855b46339eb4e8d4ffd8c2f03d4ab#gistcomment-3798525) after adding in a new "resource" type to the existing `google_cloudbuild_trigger`.  Basically, resource type will submit a job like this

[code]

---

however, the usecase i had is really very unique:  i just wanted to create an automated tutorial which creates

[2021-06-30 22:30] melinath opened #9478 "Flakey test: TestAccResourceGoogleProjectDefaultServiceAccountsDisable"
Failure rate:
- ~10% (3 times in June)
- ~16% in August (5 times)
- ~17% in September (5 times)

Failure:

[code]

Example: https://ci-oss.hashicorp.engineering/test/-2569149978297228490?currentProjectId=GoogleCloud&branch=%3Cdefault%3E&expandedTest=id%3A241378%2Cbuild%3A%28id%3A187139%29

[2021-06-30 22:50] melinath opened #9479 "Failing test: TestAccComputeRouter_full"
TestAccComputeRouter_full failed last night due to: `Error waiting for Creating Router: Quota 'ROUTERS' exceeded.  Limit: 10.0 globally.` This seems to be a new failure.

[2021-06-30 22:50] melinath commented on #9479
It looks like 10 is the peak rather than that we're leaking resources. I'll request an increase.

[2021-06-30 22:53] melinath commented on #9479
Increase requested.

[2021-06-30 23:10] melinath commented on #9479
approved

[2021-06-30 23:10] #9479 closed

[2021-06-30 23:48] #8979 closed

[2021-07-01 05:32] txomon commented on #9441
@edwardmedia not sure if we are referring to the same scenario. The one you linked is about environment variables in general. The one I supplied is about secret manager provisioned environment variables. Also, I have provided an example to reproduce the error, is it not working?

[2021-07-01 06:02] cooperneil commented on #9438
This happens because the Cloud Console (as well as gcloud) will specify a revision name for the subsequent Cloud Run revision, whereas terraform by default does not specify the revision name, leaving it up to the Cloud Run control plane to assign a new revision name.  When Terraform is run after the Cloud Console revision was created, Terraform presumably does a GET to do a read-modify-write. In d

[2021-07-01 06:15] ahmetb commented on #9438
+1 to defaulting to generating revision names. I added it to all my services deployed via Terraform as that seemed like the sensible thing. But I did not know about it, which didn't save me from the problem in the first place.

[2021-07-01 06:37] MarcinKowalski101 commented on #9450
Hi
according to GCP documentation
https://cloud.google.com/bigquery/docs/reference/bq-cli-reference#bq_query
Flags and arguments
The bq query command uses the following flags and arguments:
--destination_table=TABLE
When specified, the query results are saved to TABLE. Specify TABLE in the following format: PROJECT:DATASET.TABLE. If PROJECT is not specified, then the current project is assumed. If

[2021-07-01 06:54] Thomas999999 commented on #9468
Hi,
thanks for taking care.

terraform is creating record set as you can see:
![image](https://user-images.githubusercontent.com/44159345/124076089-146a2a80-da46-11eb-923a-5ef80f7a6402.png)
And I can also edit and save in console this resource...

And also all other resources like network, private cluster, Cloud NAT, storage buckets, vm instances are also created in the end!
So why are both my DNS

[2021-07-01 07:57] nader-bitstrapped-com commented on #7928
@andre-lx ignoring taint changes with in the `life_cycle` block is a great workaround. Much better than commenting/uncommenting. By the way, I did the same with more than one taint and it works:

[code]

[2021-07-01 09:14] naphta commented on #9459
I'm happy to run the provider locally with a bit of guidance of where to make that change if you're not willing to push it upstream.

[2021-07-01 09:41] Sophyiya commented on #9472
[terraform_plan_forces_replacement.txt](https://github.com/hashicorp/terraform-provider-google/files/6747131/terraform_plan_forces_replacement.txt)

@venkykuberan I have uploaded the terraform plan which forces the replacement of tables. The plan shows that the Objects have changed outside of Terraform, but that is not the case.

[2021-07-01 11:30] szisiu commented on #9469
Hi @edwardmedia,

Reproduced using resource directly. Created initial config file with:

[code]

![image](https://user-images.githubusercontent.com/13850737/124117084-fd403280-da6f-11eb-8f3c-950dcb077ed9.png)

then updated config file:

[code]

![image](https://user-images.githubusercontent.com/13850737/124116951-d71a9280-da6f-11eb-9f4a-ad8298d4142d.png)

removing other policy works:

![image](htt

[2021-07-01 15:03] talonx opened #9481 "google_container_node_pool outputs IGM's URL, not IG's"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-01 15:13] edwardmedia commented on #9469
@szisiu looks at the [api doc](https://cloud.google.com/compute/docs/reference/rest/v1/autoscalers), it appears api provides a default value.

Do you have the debug log that contains the api calls after `cpu_utilization` is removed?

[2021-07-01 15:16] melinath commented on #9459
I've talked with folks and we're not considering this a bug; the two fields are intentionally meant to be different ways to manage the startup script, and part of that is that switching from metadata_startup_script to metadata.startup_script triggers a recreation.

@naphta If you wanted to make this change, you might be able to do it with a [CustomizeDiff](https://www.terraform.io/docs/extend/reso

[2021-07-01 15:38] naphta commented on #9459
@melinath It's really a bit of a lack of understanding/poor design our end in writing our original modules. The start-up scripts were doing a fair bit of provisioning which we're moving over to Ansible as for this use case that makes a lot more sense as we can't move the state away from the instances (using scratch disks for performance).

The issue is that the instances created with the start-up

[2021-07-01 15:43] paparuco commented on #9457
Hello All, having this same issue!
In order to get my use case to work I have tried using the resource google_storage_object_acl and it works, don't know if it's usable in the use case that you have, but it worked for me.
Best Regards

[2021-07-01 15:59] edwardmedia commented on #9468
@Thomas999999 I tested using the code from what you provided [above](https://github.com/hashicorp/terraform-provider-google/issues/9468#issue-933694076). It was fine with the initial apply. And then after adding `"199.36.153.12"` in the `rrdatas` of `googlapis-a`, it worked fine. Verified in the GCP console the new record was successfully added.

I have no clue what was wrong with your case. If yo

[2021-07-01 16:05] p4ranoidandro1d opened #9482 "cannot create vm instance with "resource_policies" parameter and custom service account ?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-01 16:16] edwardmedia commented on #9461
@mchesler below fields are `null` or `empty` in the state. That is why. Can you check the debug log to see if they were included in the response from api? If not, you may need to re-apply the config to sync the config. After that, let's check to see if you still see the difference.

[code]

[2021-07-01 16:19] edwardmedia commented on #9450
@MarcinKowalski101 did you run the `bq` without providing the **optional** flags? What was the result?

[2021-07-01 17:01] melinath commented on #9459
Thanks for the additional details!

I was also wondering if that might work. I think it should?

[2021-07-01 17:08] venkykuberan commented on #9472
It looks like case-sensitive diff causing the resource to be recreated. I will change this issue as bug and we will work on the fix.

[2021-07-01 17:14] ScottSuarez opened #9483 "Cancel running ci job if there is a subsequent push to the same pr"
Cancel running teamcity and cloudbuild jobs to save resources

[2021-07-01 17:14] edwardmedia commented on #9482
@p4ranoidandro1d you were receiving below error. Can you add the listed permissions to the account and then try again?

d in order to perform this operation., conditionNotMet

[2021-07-01 17:17] melinath commented on #9483
There might be some complications with this since we'd need to make sure we don't leave dangling resources... the simplest version would be: I think we could probably check whether the SHA for the build is still the current SHA for the PR prior to launching a TeamCity test run.

[2021-07-01 17:26] edwardmedia commented on #9481
@talonx can you post your config to show how you do?

[2021-07-01 17:30] ScottSuarez commented on #9483
ahh good point ! but if it's vcr test in `replaying` mode there shouldn't be dangling resources?

I think those would be safe to cancel

[2021-07-01 17:47] #6022 closed

[2021-07-01 17:47] melinath opened #9484 "Failing test: TestAccStorageNotification_basic"
This test has been failing since June 28. I can reproduce it locally with an isolated run in a separate org, so it's probably not a race condition. Possibly an API bug.

[2021-07-01 17:47] Sophyiya commented on #9472
@venkykuberan Thanks for the update. So the reason for force replacement is "type" and "mode" for the columns were case sensitive. Did I get the root cause correctly?

[2021-07-01 17:47] melinath commented on #9484
example failure: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/194456?buildTab=tests&status=failed&expandedTest=-6865005456619694730

[2021-07-01 17:48] p4ranoidandro1d commented on #9482
Indeed, those are clearly not the same....
service-0123456789@compute-system.iam.gserviceaccount.com
0123456789-compute@developer.gserviceaccount.com

[2021-07-01 17:48] #9482 closed

[2021-07-01 17:54] melinath opened #9485 "Failing test: TestAccContainerNodePool_withGPU - permadiff (update in place)"
This is also failing on all PRs. This would be good to fix soon.

example failure: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/194456?buildTab=tests&status=failed&expandedTest=-811545022082220983

This has been happening since June 10th. It looks like a permadiff caused by `google_container_node_pool.node_config.kubelet_config.cpu_cf

[2021-07-01 17:56] melinath opened #9486 "Failing test: TestAccComputeRegionBackendService_regionBackendServiceCacheExample"
Example failure: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/194456?buildTab=tests&status=failed&expandedTest=-5578296646805260775&logFilter=debug

Beta-only failure. Looks like an incorrect provider in the test resources. Failing since 6/25.

[code]

[2021-07-01 17:57] melinath commented on #9486
Probably a consequence of https://github.com/hashicorp/terraform-provider-google-beta/pull/3381

[2021-07-01 17:59] talonx commented on #9481
Node pool definition (used by specific node pools)
[code]
Example of a specific node pool
[code]

Part of outputs.tf for the first_pool (this is stored in a GCS remote state - from where the backend service module picks data from)
[code]
This takes care of creating the node pool. For the backend service I do this -
[code]
The `var.instance_group_url` is taken from the node pool's remote state. Thi

[2021-07-01 18:00] melinath opened #9488 "Failing test: TestAccComposerEnvironment_update"
Note: this does not replace https://github.com/hashicorp/terraform-provider-google/issues/8661 because that's related to the flakeyness of this test when it's operating normally.

This test has been failing consistently on beta since May 19. Output:

[code]

Link to failure: https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/194456?buildTab

[2021-07-01 18:03] melinath commented on #9488
This seems likely to be a change on the API side. The only possibly related change the prior day was an upgrade to google.golang.org/api. https://github.com/hashicorp/terraform-provider-google-beta/pull/3264

[2021-07-01 18:19] melinath commented on #9472
@Sophyiya yes, that's what is causing the recreation.

[2021-07-01 18:27] melinath commented on #9472
I don't know if they're case sensitive for BigQuery table schemas; from the terraform side, we have considered those fields to be case-sensitive, which is what triggered recreation.

[2021-07-01 18:31] Sophyiya commented on #9472
@melinath Thanks for confirming.

[2021-07-01 18:35] melinath commented on #9472
Verified I can reproduce this locally. BigQuery table accepts lowercase mode & type and then uppercases them in the returned value, causing a permadiff.

[2021-07-01 19:55] szisiu commented on #9469
The first and second try requests looks the same (enabled tf logs with `TF_LOG=TRACE`):

[code]

api docs states that `If none of these [polices] are specified, the default will be to autoscale based on cpuUtilization to 0.6 or 60%.`. In my case there is always some autoscaling policy set. And in case of CPU util there is target at 0.8.

[2021-07-01 20:05] edwardmedia commented on #9477
@cgpuglie I can repro the behavior you saw. I am able to update the resources via `tf apply`. I am not knowledge about what `validation` the UI run. Are you able to edit the resources that are created via non-terraform method?

[2021-07-01 20:20] PatrickDale opened #9489 "Self-referential error enabling the Service Usage API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-01 20:34] edwardmedia commented on #9481
@talonx are you able to run the [example](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster#example-usage---with-a-separately-managed-node-pool-recommended)  along with  below `output`?  Please note `instance_group_urls` is a list. I got a list of IGs. Let me know what you see from the example.

[code]

[2021-07-01 21:15] erlanderlo opened #9491 "Data catalog: data source for taxonomy resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-01 21:32] mchesler commented on #9461
@edwardmedia Looks like those fields were not included in the API response:
[code]

[2021-07-01 22:02] edwardmedia commented on #9469
Oh I see `cpuUtilization` is still in the request. @

[2021-07-01 22:14] edwardmedia commented on #9461
@mchesler exactly. The provider does not have control over what api sends back. Did you create the resource via Terraform? If not, did you provided the data for these fields? I understood you didn't want to re-apply, but by doing so we may be able to see if these fields are captured by API. Make sense?

[2021-07-01 22:18] cgpuglie commented on #9477
Yes, if I create a load balancer through the console UI I can omit `max_utilization` and specify `balancing_mode  = "RATE"` and `max_rate_per_instance = 200`.  This makes the backends 'compatible' according to the docs, and the UI allows you to edit the load balancer.

Google support advised me to unset the `max_utilization` argument, the bug is that the provider doesn't support this.

I do agree

[2021-07-02 00:42] AliSajid opened #9492 "Terraform can't run remote-exec while normal SSH works as expected"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-02 00:46] AliSajid commented on #9492
Sorry. Wrong project. I apologize.

[2021-07-02 00:46] #9492 closed

[2021-07-02 05:32] kosukeoya opened #9494 "Add support for `dns_config` to `google_container_cluster` (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-02 05:33] kosukeoya commented on #9494
I wish to work on this item.

[2021-07-02 06:38] alexandrefilgueira commented on #9443
I didn't understand the glcoud describe part, but this is the rest

So, for this case:

`
resource "google_storage_bucket" "backup-bucket" {
  name = var.bucket_name

  location = var.location
  storage_class = var.storage_class

  lifecycle_rule = null
}
`

The output of Terraform plan shows:

While doing this:
`resource "google_storage_bucket" "backup-bucket" {
  name = var.bucket_name

  locati

[2021-07-02 08:10] Thomas999999 commented on #9468
Hi,

I did not switch the environment. I tried several times with creating dependencies during network and firewall rules creation during terraform run, but still same errors.

BTW: couldn't it be the same bug as mentioned in closed item: #8892 ??

Anyway maybe you can check my complete tf to create the stuff and also the attached debug log.

**tf:**
 ####Setup network environment for no-internet-

[2021-07-02 08:37] talonx commented on #9481
@edwardmedia this is my output
[code]
This looks like a list with one IGM, not IG.

[2021-07-02 08:49] MarcinKowalski101 commented on #9450
Hi
yes, like I described in case description.
bq query
--use_legacy_sql=false
--location=europe-west3
--display_name='DEV call stored procedure without destination'
--schedule='every 20 minutes'
--target_dataset='DEV_BQ'
'call DEV_BQ.merge()'
as you can see there is no `destination_dataset_id = "DEV_BQ"`.
I can only mention that it is real production usecase. Meaning that I have few runnig schedul

[2021-07-02 09:06] talonx commented on #9481
I found the PR that added the output for this - and this line in the code seems to indicate that the URLs are actually of the IGMs.

https://github.com/asiragusa/terraform-provider-google/blob/1f7f2ec31217090298e4e6ead73be911d989f30d/google/resource_container_node_pool.go#L422

[2021-07-02 09:07] Thomas999999 commented on #9468
Hi,
issue can be closed as after adding roles DNS Administrator, DNS Peer, DNS Reader to our service account, now issue vanished.

[2021-07-02 09:07] #9468 closed

[2021-07-02 09:45] socketbox opened #9495 "Expose private_ip_address through google_sql_database_instance data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-02 11:25] drandell opened #9496 "google_bigtable_table_iam_member - 404 error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-02 14:24] melinath commented on #9457
It looks like google_storage_object_acl is handwritten & uses a client wrapper that presumably handles this conversion internally.

[2021-07-02 15:39] edwardmedia commented on #9450
@MarcinKowalski101 I'd like to see where the `temp` table resides? Can you post its id?

[2021-07-02 15:41] #9472 closed

[2021-07-02 15:51] jcanizalez opened #9498 "Support to deploy Intents in DialogFlow CX"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-02 16:05] #9208 closed

[2021-07-02 16:16] txomon commented on #9441
I have further simplified the example to avoid noise on the communication.
Please find here the debug log with the same error. [google-provider-error.log](https://github.com/hashicorp/terraform-provider-google/files/6755775/google-provider-error.log)

[code]

[2021-07-02 16:45] venkykuberan commented on #9496
Your requested URL - `<code>/v2/projects/[project_id]/instances/projects/[project_id]/instances/[instance_name]/tables/[table_name]:setIamPolicy?alt=json&amp;prettyPrint=false` seems wrong.

In `google_bigtable_table_iam_member` resource using instance `name` instead of `id` should work as the resource takes `name` attribute.

[2021-07-02 16:45] #9496 closed

[2021-07-02 16:52] drandell commented on #9496
From the docs;
'(Required) The name or relative resource id of the instance that owns the table.'

[2021-07-02 16:53] melinath opened #9501 "Be resilient to "diff after apply" errors from the DCL"
When the DCL returns a "diff after apply" error, that is currently exposed as a panic, killing the apply process. This happens after the resource has already been created, but before the resource is stored in state. Subsequent applies will fail because the resource already exists. Resolving this requires manual intervention.

We should store the resource in state and probably not halt the apply at

[2021-07-02 16:53] melinath commented on #9501
I've assigned this to myself for now because it is something I'd be interested to work on, since it'll get into tpg internals.

[2021-07-02 16:53] edwardmedia commented on #9481
Oh I see both below resources are valid. Both actually share the same short name. We can get the IG from IGM

[code]

[2021-07-02 17:05] rileykarson commented on #9481
This is working as intended, from https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters.nodePools the field is described as `The resource URLs of the managed instance groups associated with this node pool.`.

Note that for cluster we do the lookup for the underlying groups. That's historical- I believe the field used to be documented differently on the

[2021-07-02 17:05] #9481 closed

[2021-07-02 17:16] edwardmedia commented on #9481
@talonx I am interested why you want to set up your own GLB to the node pool?

[2021-07-02 17:35] talonx commented on #9481
I am missing something here. The output of `instance_group_urls` is not accepted by the `group` argument of google_compute_backend_service. The doc for the latter says

`The fully-qualified URL of an Instance Group or Network Endpoint Group resource. `

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_backend_service#group

If I pass the output to the backend

[2021-07-02 17:37] talonx commented on #9481
The other option is Ingress, which does not work for us because of https://github.com/kubernetes/ingress-gce/issues/369

[2021-07-02 18:20] #9457 closed

[2021-07-02 18:30] melinath commented on #9469
Unfortunately, this is a consequence of that block being Computed & Optional. This is a core behavior of Terraform, rather than a bug in the provider.

If you want to unset the field, you can essentially do so by first setting the values to their defaults and then removing the block.

[2021-07-02 18:30] #9469 closed

[2021-07-02 19:12] edwardmedia commented on #9438
@cooperneil it is api that does not like you to `modify` existing revision (see below error) With current design, there is not much Terraform can do. It is still possible API provides other methods that may work in your case. But that will be an [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=enhancement.md). As you discovered,

[2021-07-02 21:45] melinath commented on #9453
It turns out that this is (unfortunately) going to be a complicated fix.

Currently, it turns out that omitting the max/min fields results in not sending a value to the API; the API then defaults the missing value to 0. This is different than the documented behavior, which states that omitting min will set it to `-infinity` and omitting max will set it to `infinity`. It looks like we don't have an

[2021-07-03 16:47] edwardmedia commented on #9441
@txomon have you had a chance to run the [example](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_service#example-usage---cloud-run-service-secret-environment-variables)? It works for me. I see a `secret` showing in the UI. Let me know if the example works for you

[2021-07-05 05:52] MarcinKowalski101 commented on #9450
Hi
Please explain how "Can you post the temp table id?"  will solve the bug or bring us closer to solving it.
Please show where did you look for answering your question to "I'd like to see where the temp table resides without dataset specified" because I don't want to send documentation page you already verified

[2021-07-05 07:33] JeremyKeusters commented on #8485
I'm actually having the same issue. I can reproduce it using the following steps:

1. Create a new AI Platform notebook with the following Terraform config:

[code]

2. Run `terraform apply --var-file environment/project.tfvars`.
3. Wait for the instance to be created.
4. Once it is created, run  `terraform apply --var-file environment/project.tfvars` again. You will now see the following output:

[2021-07-05 08:46] tSte opened #9505 "GKE autopilot is always created with default service account II"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-05 11:48] ferrarimarco commented on #6782
Hi there :)

We experienced this as well in a relatively long `terraform apply` (5-6 mins), running from Cloud Shell. Thanks for your support!

/cc @jbrook

[2021-07-05 12:08] saidi-adam commented on #9453
Thanks for the review @melinath - could you give me any indication as to when this issue could be resolved? Either directly or indirectly through a new release? I've work that's been postponed due to this bug, so would appreciate any clarity on this.

[2021-07-05 14:19] jaceq opened #9507 "Migrate resource_storage_bucket_object to cloud.google.com/go/storage"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-05 15:32] Byte27 opened #9508 "Importing google_compute_router_interface fails, "project: required field is not set""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-05 15:51] danilomnds commented on #8269
I see what you mean and it really makes sense. Thanks for the replication!

Best Regads,
Danilo

[2021-07-05 15:51] #8269 closed

[2021-07-05 16:38] atrauzzi opened #9509 "data.google_project.project.project_id randomly becoming `null`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-05 17:21] edwardmedia commented on #9508
@Byte27  it works for me using below config and command. Can you try?

[code]

[2021-07-05 17:26] edwardmedia commented on #9509
@atrauzzi can you have a config sample with `resources` to repro the issue?

[2021-07-05 17:32] edwardmedia commented on #9477
I see what the problem is. We can not have `max_utilization` in the request payload when `balancing_mode` is a non-`UTILIZATION`.

[2021-07-05 17:34] atrauzzi commented on #9509
Absolutely not as I have no clue what the trigger condition is for this.  It's totally unpredictable as to what's causing it.

In this situation, I think the best thing I can do is offer to meet with you on a screen share to go through things.

[2021-07-05 17:53] atrauzzi commented on #9509
I'm also getting this if I apply the change and then do a subsequent run:

[code]

[2021-07-05 17:54] edwardmedia commented on #9509
@atrauzzi  the data source uses below code to retrieve `project` which is shared with many other resources & data sources. Do you set the environment variable? Is it a timing issue? Can you add `depend on` etc. ?

https://github.com/hashicorp/terraform-provider-google/blob/7d528635966ecdb7564f2da2b9fe3a643cf5c808/google/utils.go#L61

[2021-07-05 18:07] upodroid commented on #9298
It is being worked on.

[2021-07-06 06:02] talonx commented on #9481
For the time being I'm using the Terraform replace function to convert "instanceGroupManagers" to "instanceGroup" in the URL string and use that in the backend service resource. Works fine.

[2021-07-06 07:30] Byte27 commented on #9508
Nope for some reason I can't get this to work. I'm getting

[code]

Importing other resources does still work

[2021-07-06 08:40] isimluk commented on #6782
Quick and dirt plug:

[code]

[2021-07-06 09:17] hprotzek commented on #9104
@ScottSuarez Do I have to update to a specific gke version to get the fix? It's still failing when I try to run it.

[2021-07-06 15:13] MotamedW opened #9510 "A bug using terraform destroy after google_project_iam_binding"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-06 16:08] edwardmedia commented on #9508
@Byte27 do you use the environment variables? Can you run the command like below before you import?

[2021-07-06 16:19] ns-jhu opened #9511 "google_pubsub_lite_topic field modification sends wrong topic name to server."
Terraform Version

0.14.8 and 1.0.1
...
Terraform Configuration Files

data "google_project" "project" {
}

resource "google_pubsub_lite_topic" "dp_messages" {
  name    = "dp_messages"
  project = data.google_project.project.number
  zone    = var.zone

  partition_config {
    count = 1
    capacity {
      publish_mib_per_sec   = 4
      subscribe_mib_per_sec = 8
    }
  }

}

...
use the above

[2021-07-06 16:20] ns-jhu commented on #9511
related to https://github.com/hashicorp/terraform/issues/29040

[2021-07-06 16:33] shivaharikumar opened #9512 "Missing trigger options in Cloud build"
Looking at the documentation: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudbuild_trigger , I cannot see trigger options like Manual invocation or Webhook invocation which are possible from GCP console (UI).

In the REST documentation from GCP, webhook is referenced, https://cloud.google.com/build/docs/api/reference/rest/v1/projects.triggers
[code]

[2021-07-06 16:38] PatrickDale opened #9513 "Terraform apply fails to update the `google_cloud_identity_group` resource when bumping the `hashicorp/google` provider version"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-06 17:07] atrauzzi commented on #9509
Gave that a shot, no dice.  It's still generating the changes I noted above as well as the message about the provider providing an inconsistent plan.

[2021-07-06 18:46] edwardmedia commented on #9509
@atrauzzi it's hard to say for me without the complete config available. From the plan you provided [above](https://github.com/hashicorp/terraform-provider-google/issues/9509#issue-937241231), it seems the new **value** can't be detected. Did you say it is provided by a `data source`? Can you try hard-coding it to see what happens?

[code]

[2021-07-06 19:19] venkykuberan commented on #9510
`google_project_iam_binding` is authoritative for the the given role. Is it deleting the other service accounts ? or deleting user accounts as well ?

If only other service accounts are removed then it's an expected behavior as mentioned in the doc.  Its not the `destroy` command which removes the other SAs its the `apply` command.

[2021-07-06 22:20] connor-ps commented on #5528
Does anyone have any working solutions for this? I am still quite stuck :(

[2021-07-06 23:24] connor-ps commented on #5528
This post seems to be incorrect. The service endpoint  <service-name>.endpoints.<project-id>.cloud.goog  doesn't seem to resolve as the host portion of the cloud run service. Only the   * w.a.run.app  URL will resolve

[2021-07-07 03:15] ahmetb commented on #9438
@edwardmedia creating new Revision requires a change in spec.template{} field. In many cases that means you have to make a new commit and change something harmless. It's kinda odd and won't work well if you have reproducible builds (and end up with the same container image etc).

[2021-07-07 06:44] dgulli commented on #9341
any movement on this?

[2021-07-07 07:16] MotamedW commented on #9510
it deletes all accounts in the projects even non service account which makes project inaccessible

[2021-07-07 09:39] ochorne opened #9514 "apigee: added SLASH_22 support for `peering_cidr_range` on `google_apigee_instance`"
Google updated perring range for eval org provisioning. The value must be 22 for an eval installation. Is it possible add SLASH_22 support for `peering_cidr_range` on `google_apigee_instance`. Now i have issue then i try create google_apigee_instance with default range SLASH_23 for Eval org

[2021-07-07 11:31] txomon commented on #9441
@edwardmedia yes it does, the key difference here is that the example here only uses the secret name and not the secret id, which is fine when your secrets are residing in the same project as the secret.

@edwardmedia have you had a change to run the provided terraform configuration files I provided that show case the bug?

[2021-07-07 11:59] txomon opened #9515 "google_vpc_access_connector fails subnetwork check if using dynamic sub-block"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-07 12:32] radkomateusz opened #9516 "Create data sources for IAM resources (`google_*_iam_policy`, `google_*_iam_binding`)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-07 15:33] niraj06 opened #9517 "Archive Error"
Hi

I am getting the below error when trying archive and upload google cloud storage.

Failed to read source file "data.archive_file.main.output_path". Cannot compute md5 hash for it.: timestamp=2021-07-07T15:28:12.440Z
2021-07-07T15:28:12.442Z [WARN] Provider "registry.terraform.io/hashicorp/google" produced an invalid plan for google_storage_bucket_object.archive, but we are tolerating it becaus

[2021-07-07 16:01] edwardmedia commented on #9515
@txomon Without seeing your `dynamic code`, it is hard to see this is a provider bug. Do you have a config that could help demo this is the case?

[2021-07-07 16:27] edwardmedia commented on #9438
@ahmetb agreed but anything inside the provider can do to resolve the issue? What do you suggest?

[2021-07-07 16:45] edwardmedia commented on #9441
@txomon here is what the [doc](https://cloud.google.com/run/docs/reference/rest/Shared.Types/SecretVolumeSource) says about the secretName field. The Terraform just passes through what you provide. In your case, you may need to add ":" in front of **"projects/994503404540/secrets/api_secret_key"**. Let me know if that helps

[2021-07-07 16:48] cooperneil commented on #9438
Correct, though the intention here wasn't to modify an existing revision, it was to create a new revision.  Specifying the revision name was a side effect of the provider doing a read-modify-write.

The suggestion is that the behavior of `autogenerate_revision_name = true` be the default behavior, i.e. unless the revision name is _explicitly_ specified in the TF config, the provider will ensure `t

[2021-07-07 17:11] edwardmedia commented on #9450
@MarcinKowalski101 I am trying to understand what you asked below. I have never seen a `table` that resides outside a `dataset`. That is why I wanted to see the table id. Usually it could show us under which dataset it is. To your [request](https://github.com/hashicorp/terraform-provider-google/issues/9450#issue-931517158), without specifying the dataset, where is the table?

[2021-07-07 17:40] rileykarson commented on #9481
Yep, a replacement function is a good workaround! We're aware there's a gap here- as the Cluster provides the less useful of the two group- but don't plan to mitigate it clientside. We'd take a change from the API including a new field, though, which you could try requesting at https://issuetracker.google.com/issues/new?component=187077&template=0

[2021-07-07 17:42] rileykarson commented on #9443
Oh, I wasn't aware explicit nulls didn't work there. Omitting `lifecycle_rule` entirely is correct, in that case.

[2021-07-07 18:38] edwardmedia commented on #9438
@rileykarson what do you think to the suggestion?

[2021-07-07 19:50] atrauzzi commented on #9509
Hardcoding gets around the issue it seems.  It's weird, the problem doesn't come up 100% of the time, sometimes I'll run again and it doesn't happen.

I still feel like in some way, the google provider be having some internal state issues with that data module.

[2021-07-07 19:51] atrauzzi commented on #9509
Also interesting: I reverted the change from hard-coding, back to using the data module's value, and I get no pending changes.

Again, something is not right here, and even Terraform is saying it's an issue in the provider.

[2021-07-07 20:09] wwlian commented on #8991
This is caused by a server-side bug in the update validation logic, which is being fixed.

[2021-07-07 21:55] txomon commented on #9515
I believe you are right, it seems to be a problem with terraform itself, as when the resource is in a submodule it seems to fail if the data provided comes from outside the module. Let me try to create an example code

[2021-07-08 03:30] jmilagroso opened #9518 "pyspark.sql.utils.IllegalArgumentException: java.net.URISyntaxException: Relative path in absolute URI: gs://<bucket-name>-data_spark_metadata"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-08 03:59] lawliet89 opened #9519 "Add support for `PublicAccessPrevention` to storage buckets (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-08 05:55] jmilagroso commented on #9518
Closing this, upon creating other python script (for pyspark job) was able to simulate and attained expected result.

[2021-07-08 05:55] #9518 closed

[2021-07-08 05:58] pritho opened #9520 "google_compute_instance not respecting shared-VPC granular subnetwork-permissions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-08 06:25] pritho opened #9521 "google_bigtable_gc_policy cannot be destroyed on a replicated table"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-08 07:02] txomon commented on #9441
Awesome, so now that we are in the same line of thought, can you confirm whether you can reproduce the bug I have given with the example?

[2021-07-08 07:14] h-joshi opened #9522 "rocky-linux-8 family not recognised when provisioning google compute instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-08 09:33] YpNo opened #9523 "wrong project for reusable_config in google_privateca_certificate_authority resource"
Hi,

I've used `google_privateca_certificate_authority` resource to create my CA Certificate. The `tf apply` works but no any certificate is shown in the console and with the gcloud command.

I think the issue is located on `reusable_config` parameter which it must be set with the project name `privateca-data`, No ? :
`projects/568668481468/locations/<my_location>/reusableConfigs/root-unconstraine

[2021-07-08 10:34] DawerRafi opened #9524 "VpnTunnel import does not import shared-secret"
I have an existing infrastructure on GCP which I want to import into terraform so that all future changes are done through terraform.

We have a few existing VPN tunnels configured, and unfortunately I dont have access to the peer end of the tunnel. I tried importing the configurations using terraform import command line utility as specified here: https://registry.terraform.io/providers/hashicorp/

[2021-07-08 13:40] edwardmedia commented on #9509
@atrauzzi I believe the issue is in the module as your hard-coding test proves that is the case. Let me know if you are able to repro it with isolated `resources`

[2021-07-08 13:47] irwinbraganza commented on #7883
+1

[2021-07-08 15:31] txomon commented on #9515
Here you are.

Inside `network/main.tf` if you replace the `var.subnetworks` with the `local.subnetworks` version in line 21 you will be able to surface the bug. You don't even need to replace with valid values the variables in the top file.

[sample.zip](https://github.com/hashicorp/terraform-provider-google/files/6785672/sample.zip)

[2021-07-08 15:53] venkykuberan commented on #9522
Please add the image project `rocky-linux-cloud\rocky-linux-8` while referencing the public image, other wise API looks into your project for the custom image.

[2021-07-08 17:15] ScottSuarez commented on #9104
i'll put it on my agenda to look at it today or tmrw.

[2021-07-08 18:00] QuentinMoss opened #9526 "google_compute_backend_service: Disabling 'serve_while_stale' not persisting"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-08 18:45] ScottSuarez opened #9530 "build step failure `details` link goes to incorrect build step"
there was a failure on https://github.com/GoogleCloudPlatform/magic-modules/pull/4939 build but the failure links are directed at the incorrect steps. Quickly finding errors and issues would positively impact dev exp
### References

* https://github.com/GoogleCloudPlatform/magic-modules/pull/4939

[2021-07-08 19:00] glickbot opened #9531 "compute_network_endpoint_group:network_endpoint_type only lists GCE_VM_IP_PORT, should list 4 more"
I'm not sure if this is just a documentation error, but [this says](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_network_endpoint_group#network_endpoint_type):

`network_endpoint_type - (Optional) Type of network endpoints in this network endpoint group. Default value is GCE_VM_IP_PORT. Possible values are GCE_VM_IP_PORT.`

When the [API docs](https://clou

[2021-07-08 20:11] c2thorn opened #9533 "Add support for multiple region tags in cgc samples"
Remove `cloud_docs_region_tag` as an override, and enable cgc sample detection based on the existence of a region tag in the template. This also means removing region tag lines from other sample contexts (like terraform.io docs or oics).

[2021-07-08 20:13] c2thorn opened #9534 "Add more cgc samples"
Build out samples for https://github.com/terraform-google-modules/terraform-docs-samples.

Achieving 5 samples should be good for this item.

[2021-07-08 21:02] QuentinMoss commented on #9526
Tested with provider 3.74.0 - same issue

[2021-07-08 21:06] QuentinMoss commented on #9526
This is fixed in `3.74.0` - apparently the provider didn't support these values as they were not GA (?)

[2021-07-08 21:07] #9526 closed

[2021-07-08 23:06] ScottSuarez commented on #8673
closed with https://github.com/GoogleCloudPlatform/magic-modules/pull/4936

[2021-07-08 23:06] #8673 closed

[2021-07-08 23:26] ScottSuarez commented on #9104
ya just tried, still failing out. I reached out to the api team to see whats up. I'm guessing slow rollout

[2021-07-09 01:42] atrauzzi commented on #9509
What do you mean by isolated resources?

[2021-07-09 11:51] MarcinKowalski101 commented on #9450
Ok we can continue this academic discussion or we can back to main subject and answer to main question: Can you fix the bug or can you not ?

[2021-07-09 13:44] iokacha opened #9535 "Terraform always show same changes after apply on google_project_iam_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-09 14:07] benkuhn opened #9536 "google_compute_url_map: support testing headers, and URL redirects/rewrites"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-09 14:44] BenCoughlan15 commented on #8994
Would really appreciate this one.

Is it something we can contribute towards?

[2021-07-09 15:36] #9498 closed

[2021-07-09 15:53] #9264 closed

[2021-07-09 16:21] franklincm opened #9539 "Clarification on Cloud Tasks Queue max_burst_size"
Hi all,

The Terraform docs for the `google_cloud_tasks_queue` list `max_burst_size` under the arguments reference. However I am not able to set this value ie:

[code]

Doing so and then running `terraform validate` complains:
[code]

It seems like the `Optional` flag is not set. Am I understanding this correctly, or perhaps I'm misunderstanding the docs?

https://github.com/hashicorp/terraform-pr

[2021-07-09 17:13] #9322 closed

[2021-07-09 17:22] #8692 closed

[2021-07-09 17:24] ScottSuarez commented on #9104
ETA from api team - full rollout by end of next week

[2021-07-09 20:27] venkykuberan commented on #9517
@niraj06 not sure how my comment was removed.

I was asking to attach the plan output here. Can you please do the same.

[2021-07-09 22:47] #9511 closed

[2021-07-10 01:16] maqiuyujoyce opened #9545 "google_compute_backend_service: support security_settings"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-11 19:03] alexjmoore opened #9546 "google_active_directory_domain authorized_networks should accept network self_link?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-11 21:00] konturn commented on #6376
I actually just ran into this issue a couple of days ago, and I was able to resolve it by appending a random string to the end of the group manager's name and using the `create_before_destroy` lifecycle policy for the instance group manager resource. For whatever reason, doing so leads Terraform to modify the backend service before destroying the original instance group. Still not the prettiest ha

[2021-07-12 01:53] h-joshi commented on #9522
Thanks - that did the trick!

[2021-07-12 01:53] #9522 closed

[2021-07-12 12:09] Byte27 commented on #9508
This seems to have worked, thanks! It's strange though that Terraform doesn't allow you to specify the project as part of the import command

[2021-07-12 14:42] maitreya-source opened #9547 "Azure blob storage transfer terraform panic crash"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-12 14:59] madlenSt opened #9548 "Secret Manager Secret publishing to Cloud Pub/Sub requires rotation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-12 16:02] edwardmedia commented on #9546
@alecraso this is by design. There was an [initiative](https://github.com/hashicorp/terraform-provider-google/issues/5542) inside the provider that changed the **self_link** to **id**

[2021-07-12 16:02] #9546 closed

[2021-07-12 16:44] edwardmedia commented on #9539
@franklincm  it appears api ignores the `maxBurstSize` sent from a client.

[code]

[code]

[2021-07-12 16:47] jcanizalez opened #9549 "Support to deploy Flows in DialogFlow CX"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-12 16:49] #9539 closed

[2021-07-12 17:34] maitreya-source commented on #9547
@edwardmedia Thanks for looking into this. Saw your PR, wanted to let you know we provided sas_token input. Not sure if this fixes the issue.
Thanks again! :)

[2021-07-12 18:14] rileykarson commented on #9512
Hello! Do you mind re-filing this issue, filling out the enhancement template? Thanks!

[2021-07-12 18:14] #9512 closed

[2021-07-12 18:15] rileykarson commented on #9516
note: xl due to having to support handwritten resources, size/l for only generated ones

[2021-07-12 18:16] c2thorn commented on #9512
This was added in https://github.com/GoogleCloudPlatform/magic-modules/pull/4931

[2021-07-12 18:29] melinath commented on #9453
@saidi-adam we're working on establishing the timeline for this one :-) in the meantime, one of my teammates has suggested the following potential workaround:

It's not clear whether that would work in this case, but it could be worth a shot?

[2021-07-12 19:19] aharelick commented on #7882
There is an undocumented workaround by creating a cluster with `"dataproc:secondary-workers.preemptible" = "false"` as a property in the `override_properties` section of the `software_config`.

[2021-07-12 19:56] Reham-Fahmy opened #9550 "Error: The terraform-provider-vcd_v3.3.1.exe plugin crashed! VMware/vcloud director"
While trying to run the terraform code as iaas using VMware/vcloud director version 10.1.2 ,terraform 1.0.1 and vcd plugin is 3.3.1
it shows me the below error(I removed sensitive data and names)and nothing is created on vcloud director.

terraform apply -var-file=
Terraform used the selected providers to generate the following execution plan. Resource actions are indicated with the following symb

[2021-07-12 20:11] edwardmedia commented on #9441
@txomon I am able to deploy a service using below config. Did you notice below instruction from the [comment](https://github.com/hashicorp/terraform-provider-google/issues/9441#issuecomment-875761254) ? Let me know if that works?

[code]

[2021-07-12 20:17] #9549 closed

[2021-07-12 20:31] edwardmedia commented on #9450
@MarcinKowalski101 to me this is not a bug, and **destination_dataset_id** can not be **optional**. Without the dataset specified, where does the table reside? I could be wrong. If this is the case, please provide the docs and/or steps that show creating a table without a dataset. Making sense?

[2021-07-12 20:35] edwardmedia commented on #9509
@atrauzzi I meant using resources only (not modules). In that way we can isolate the issues within the provider.

[2021-07-12 20:38] edwardmedia commented on #9508
@Byte27 glad it works for you now. Closing the issue then

[2021-07-12 20:38] #9508 closed

[2021-07-12 20:43] edwardmedia commented on #9513
@PatrickDale did you say it failed on the first and worked on the 2nd apply? If yes, could be api issue? Can you repro it?

[2021-07-12 20:43] rileykarson opened #9552 "Backfill user_project_overrides + billing project for Bigtable resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-12 20:46] rileykarson commented on #9443
Closing this out- I'm not aware that there's an API state that can't be expressed, and Terraform, rejecting those configurations is expected.

[2021-07-12 20:46] #9443 closed

[2021-07-12 20:48] edwardmedia commented on #9515
You may file an issue against Terraform code.  Closing this issue here then. Thank you

[2021-07-12 20:48] #9515 closed

[2021-07-12 22:53] rileykarson commented on #9466
@ericnorris: If you have a TAM/CE with GCP are you able to have them reach out to my team internally to simultaneously file linked requests there? https://github.com/hashicorp/terraform-provider-google/wiki/Customer-Contact#raising-gcp-internal-issues-with-the-provider-development-team covers some details if they haven't before, as well as the internal shortlinks `go/request-terraform` and `go/ter

[2021-07-12 23:02] edwardmedia commented on #9535
@iokacha it is fine by running below config. Can you try to see if it works for you? Your config contains `module` and can you verify it works as you wanted?

[code]

[2021-07-13 00:09] edwardmedia commented on #9523
@YpNo can you post the debug log for the **apply** execution? This is an interesting issue. Some fields are defined as **required** but you were able to run without providing the data. Below is just an [example](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/privateca_certificate_authority#x509_config) of these fields.

[2021-07-13 01:56] jcanseco commented on #9519
Also requested by a KCC user here: https://github.com/GoogleCloudPlatform/k8s-config-connector/issues/498

[2021-07-13 02:04] joshuasimon-taulia opened #9553 "google_sql_user: CLOUD_IAM_SERVICE_ACCOUNT authentication Root resource was present, but now absent"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-13 03:16] atrauzzi commented on #9509
I'm not sure I understand what you are saying right now.

Let's do a quick screen share and I'll be happy to let you poke around. You can use your familiarity with the provider to zero in on what's going on. I cannot post the entirety of it publicly.

I have no way to intuitively tell what is causing this bug, and I think you need to be realistic in how much you expect me to do to isolate the issu

[2021-07-13 07:53] alexandrefilgueira commented on #9443
Sorry for the late reply.

Actually, I know that this is not supported, I was proposing the implementation of this feature as an enhancement, because as of now, you would need to create a new resource with those settings if you want to create a module for example.

Sometimes, you might want to have lifecycles, sometimes maybe not, and if you have a module that creates buckets, then is when this li

[2021-07-13 11:36] iokacha commented on #9535
Hello @edwardmedia
No, removing the dependency doesn't change anything, I still get the same weird changes.

[2021-07-13 13:53] ericnorris commented on #9466
@rileykarson done! Thank you for following up.

[2021-07-13 16:04] rileykarson commented on #9443
Isn't that a case for https://www.terraform.io/docs/language/expressions/dynamic-blocks.html?

[2021-07-13 16:09] #9362 closed

[2021-07-13 20:49] edwardmedia commented on #9514
It appears api has updated the enums. It used to be `SLASH_23`. Now it is `SLASH_22`
https://cloud.google.com/apigee/docs/reference/apis/apigee/rest/v1/organizations.instances#cidrrange

[2021-07-13 21:18] edwardmedia commented on #9548
@madlenSt it appears `"topics": all of `rotation,topics` must be specified` is built on purpose. [Below](https://cloud.google.com/secret-manager/docs/reference/rest/v1/projects.secrets#rotation) is what api doc specifies:

[2021-07-13 21:19] #9548 closed

[2021-07-13 21:30] edwardmedia commented on #9531
@glickbot both are right. By the time the resource was built, only those values were available. Likely api has added more valid values. You could file [enhancement](https://github.com/hashicorp/terraform-provider-google/issues/new?assignees=&labels=enhancement&template=enhancement.md) and new values will be added in the future

[2021-07-13 21:30] #9531 closed

[2021-07-13 21:36] edwardmedia commented on #9521
@krathow this behavior is controlled by API. There is not much the Terraform layer can do. Have you tried to follow below suggestion?

[2021-07-13 21:55] edwardmedia commented on #9550
@Reham-Fahmy what led you think this is a bug of the [Terraform Provider Google?](https://github.com/hashicorp/terraform-provider-google). Without seeing the config, it is hard to be certain. But with the limited log, it seems this is not the right place. I am afraid we can not help you.

[2021-07-13 22:02] edwardmedia commented on #9535
@iokacha so is this still an issue?

[2021-07-13 22:04] edwardmedia commented on #9400
@pk185225 closing this assuming it is no longer an issue

[2021-07-13 22:04] #9400 closed

[2021-07-13 22:54] edwardmedia commented on #9441
@txomon can you try adding below `metadata` at the root of the resource? Let me know if that works for you. Your UUID is fine

[code]

[2021-07-13 23:01] edwardmedia commented on #9509
@megan07 what do you think about this issue?

[2021-07-13 23:52] edwardmedia commented on #9553
I can repro the issue using below config

[code]

[2021-07-14 08:19] alexandrefilgueira commented on #9443
oh, you're completely right, sorry

[2021-07-14 08:31] madlenSt commented on #9548
Yes, I see why setting the rotation requires a Pub/Sub topic.
But not the other way around, so specifying a Pub/Sub topic should not require a rotation if only used for [event-notifications](https://cloud.google.com/secret-manager/docs/event-notifications) like SECRET_VERSION_ADD other than SECRET_ROTATE.
As you can see the API request is successful without setting rotation and only setting the to

[2021-07-14 11:59] minac opened #9556 "Add `ReservationAffinity` to `NodeConfig`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-14 12:22] zidz opened #9557 "Access issues against some API endpoints"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-07-14 14:21] pgoldtho commented on #8673
@ScottSuarez should this be reopened since #4936 was reverted?

I'm guessing it failed in testing. I encountered a couple of issues while testing a local build. The destroy action fails because the Cloud Resource Manager API is not enabled for the workload.

[code]

I was able to delete the resource after manually enabling the API but it required 2 attempts. The first attempt failed with:

[code]

[2021-07-14 14:29] YpNo commented on #9523
Hi @edwardmedia,

`x509_config` didn't seem to exist in v3.74. And the reusable_config is gone in v3.75 ?

You want the debug of the apply execution after I imported the manually created resource, or when I tried to apply and create the CA at first ?

The debug log for the first regular apply in attach.

Regards.
[tf_debug.log.gz](https://github.com/hashicorp/terraform-provider-google/files/681679

[2021-07-14 14:47] discentem commented on #8701
https://github.com/hashicorp/terraform-provider-google/issues/9535 may be a dupe of this? 🤔

[2021-07-14 14:59] Reham-Fahmy commented on #9550
For Terraform Provider Google label,it's added automatically and i cannot update it.where the right provider is vmware vcloud director.after removing the credentials and public ips ,i attach the configuration files to be reviwed in the below link,

https://github.com/Reham-Fahmy/Terraform-with-vcd

[2021-07-14 15:14] allandrick commented on #9489
Confirmed, seeing the same behaviour with the latest provider.

[2021-07-14 15:28] Reham-Fahmy commented on #9550
8

[2021-07-14 15:39] txomon commented on #9441
@edwardmedia it seems to work when setting it in the outer field. Thank you!

Which annotations should go in the outer `metadata.annotations` field and which ones in the inner `template.metadata.annotations` field? The API documentation has both objects but it fails to mention any difference on the two fields and so far I had assumed they were interchangeable.

[2021-07-14 16:43] edwardmedia commented on #9441
@txomon I am glad your code is working. To be honest, I am not 100 certain what **annotations** go where. Likely we need to go over many documentations, as each play different roles and come from different parties. Should we close the issue then?

[2021-07-14 16:48] txomon commented on #9441
@edwardmedia yeah, no worries on that. I would only suggest to make a special note on the documentation regarding the top level metadata block having to contain the launch-stage annotation and marking explicitly how those two blocks are not always interchangeable.

[2021-07-14 16:52] edwardmedia commented on #9550
@Reham-Fahmy below is what I see from your attached files. I wish I could help you but I guess you may need to contact the owner of that provider for help. Clearly there is not much we can do right now. Feel free to reopen if you see an issue with the TPG.

[code]

[2021-07-14 16:52] #9550 closed

[2021-07-14 17:09] edwardmedia commented on #9523
@YpNo looks like `reusable_config` is gone in newer versions. I do see significant changes lately. No one is going to work on the obsolete code. Please use the latest version to build your resources.  Closing this issue now. If you see issues with latest versions, please file new bugs. Thanks

[2021-07-14 17:09] #9523 closed

[2021-07-14 17:16] edwardmedia commented on #9441
Please keep in mind, it is all up to the api that control the **annotations**. They may change over time.
Closing the issue then . Glad your code is working

[2021-07-14 17:16] #9441 closed

[2021-07-14 17:27] ScottSuarez commented on #8673
That revert was specifically for release `3.75` but we will have to revert it for `3.76` as well. Assured workloads api is rapidly developing and some assumptions we made broke our upstream implementation as the api has mutated.

[2021-07-14 17:31] edwardmedia commented on #9557
@zidz Terraform and gcloud do not use the exact same methods to handle authentication & authorization. Below is the one recommended for the Terraform. From `steps to reproduce` you provided, the issue happens on GKE node(s) but not on your local machine(s). Can you compare if both environments have the same environment variables?

https://registry.terraform.io/providers/hashicorp/google/latest/doc

[2021-07-14 17:53] maroux commented on #8767
Happens with terraform v1.0.2 as well.

[2021-07-14 18:36] maroux commented on #8767
Also, this bug is marked with label `upstream` does that mean its a bug in terraform, or? In any case, can a reference to the upstream github issue be added to this thread?