[2021-03-19 15:13] edwardmedia commented on #8680
@BuckinghamIO  closing the issue as no response received.

[2021-03-19 15:13] #8680 closed

[2021-03-19 15:13] jamesmealing commented on #8715
I agree, but ```project``` is already defined at the provider level, therefore, why is it necessary to either specify it again or refer to the provider specifically in this resource?

The documentation for the ```project``` argument states that - "_If it is not provided, the provider project is used_" - But this is not the case as the provider project is defined but is not being used.

Based on th

[2021-03-19 15:32] jamesmealing commented on #8715
Further, having just read more about the ```provider``` [resource](https://www.terraform.io/docs/language/meta-arguments/resource-provider.html), I am even more sure that this is not the intended behaviour:

"_By default, Terraform interprets the initial word in the resource type name (separated by underscores) as the local name of a provider, and uses that provider's default configuration. For ex

[2021-03-19 16:46] suckowbiz commented on #7309
We also hit this one :(!

## Steps to reproduce:

1. Create a firewall rule without having `log_config` or `enable_logging` (deprecated) defined.
1. Terraform apply
1. Edit that firewall rule by enabling logging with adding a `log_config` definition:
[code]
1. Terraform apply
1. Now disable logging by removing the entire `log_config` as documented here: https://registry.terraform.io/providers/hash

[2021-03-19 16:54] suckowbiz commented on #7309
Ping @ndmckinley can you help out on this one?

Once logging was enabled and disabled afterwards it leaves a "corrupt" firewall rule that no longer can be edited with Terraform.

[2021-03-19 17:17] KbLev opened #8731 "Importing google_compute_project_metadata_item fails with "Error: project: required field is not set""
This issue is exactly as described as [#5742](https://github.com/hashicorp/terraform-provider-google/issues/5742)

### Terraform Version

- Terraform v0.14.8
- Google provider 3.60.0

### Affected Resource(s)

* google_compute_project_metadata_item

### Terraform Configuration Files

[code]

### Debug Output

[code]

[2021-03-19 17:17] ThomasAntoniusCrowley opened #8732 "google_compute_region_backend_service.default Protocol for an INTERNAL backend service must be one of TCP/UDP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-03-19 17:41] rileykarson opened #8733 "Add keepalive_interval to google_compute_router.bgp, enable field to google_compute_router_peer"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-19 18:04] rileykarson opened #8735 "Add support for Advanced Networking"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-19 18:05] ThomasAntoniusCrowley commented on #8732
I am closing as there is a mistake in the docs which caused this. I have raised a PR to fix this docs: https://github.com/hashicorp/terraform-provider-google/pull/8734

[2021-03-19 18:05] #8732 closed

[2021-03-19 18:20] colincadams opened #8736 "Add support for `schema` in bigquery_job.load"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-19 18:57] venkykuberan commented on #8731
@KbLev The use case for `import` is that resource was created outside of terraform and you want terraform to manage it going forward by importing them. During the `import` command your terraform config should be empty alike

[code]
Once the resource is imported to terraform state you can fill in your config's key/value pairs as per the values in the state.

Hope that helps.

[2021-03-19 20:22] rileykarson opened #8737 "Add `dataproc_service_account` to google_data_fusion_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-19 20:36] rileykarson opened #8738 "Add support for `network_config` to `google_container_node_pool`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-19 22:50] edwardmedia commented on #8728
@alethenorio looked at `metadata`, `spec` and `status` in below schema, all three are `object` in api and `schema.TypeList` in terraform code. This is by design.

[code]

https://cloud.google.com/run/docs/reference/rest/v1/namespaces.services#ServiceStatus

[2021-03-19 22:50] #8728 closed

[2021-03-20 08:51] alethenorio commented on #8728
@edwardmedia I am clearly looking at the state and how Terraform stores it and it is an array

When I try to refer to it like this

google_cloud_run_service.my_service.status.url

I get an error that this is not possible.

If I then switch to

google_cloud_run_service.my_service.status[0].url

Then it works and this is what I am using right now.

Not sure I understand why this was closed.

[2021-03-20 14:47] edwardmedia commented on #8719
@BartBucknill from your log, the provider version is v3.45.0. There was a fix in the provider [v3.47.0 ](https://github.com/hashicorp/terraform-provider-google/releases/tag/v3.47.0) which might have resolved the issue. Can you try the latest version to see if you are still able to repro it?

[2021-03-21 20:29] achew22 commented on #8653
@slevenick, thanks for your thoughtful response and apologies for my slow response.

I think your solution is totally reasonable and a fair assessment of the situation.

I would like to point out that `terraform-provider-google`, in a couple of places where data loss is irreversible, has decided that this is not an acceptable risk. In my cursory skimming of the repo I found at least two resources

[2021-03-22 00:33] slevenick commented on #8653
Yeah, there are cases where we have added extra deletion protection. This is normally for cases where accidental deletion is very painful, like databases or other resources that contain important state.

I don't think that secrets are a case of this? The config itself contains the secret data, so it cannot really be "lost" like data in a database.

The feature you are asking for is to allow Terraf

[2021-03-22 02:17] kostacasa commented on #8532
@ScottSuarez is the suggestion not to use Terraform at all for managing the APIGW then? At least for the time being until a zero-downtime update model can be figured out.

[2021-03-22 12:20] BartBucknill commented on #8719
@edwardmedia Unfortunately with google provider at `v3.47.0`, I get
[code]
Turned on TF logs and manually validated that the source code zip in field `sourceArchiveUrl` in the request, does exist, and that after reverting to `v3.45.0` and forcing replacement by `taint` this error does not occur.

Interestingly, with `v3.47.0` the plan indicates the function will be `updated in-place` with just the

[2021-03-22 12:22] ct-dh opened #8742 "Hierarchical firewall rules no longer in beta"
The hierarchical firewall rule support is currently marked as in beta but looks like the service has been GA for about a month now.

https://cloud.google.com/vpc/docs/release-notes#February_26_2021

[2021-03-22 13:31] loibpet opened #8743 "Incomplete documentation for google_sql_database_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-22 13:41] edwardmedia commented on #8719
@BartBucknill I don't know what you meant below. The error is now on `sourceArchiveUrl`. I don't see any difference on this field below versions. Without seeing the specific value for this field, it is hard to guess.  Can you import this resource with the **latest** version of the provider and compare it with the existing state (v3.45.0)? It might tell you what causes this new error.

As you have

[2021-03-22 13:42] edwardmedia commented on #8717
@jeremyrcampb is this still an issue?

[2021-03-22 13:43] edwardmedia commented on #8721
@imrannayer is this still an issue?

[2021-03-22 13:48] jaceq commented on #6022
Any update on this? It's been almost a year...

[2021-03-22 13:59] ngodec commented on #8722
Found that this is a duplicate of https://github.com/hashicorp/terraform-provider-google/issues/8412

[2021-03-22 14:09] ngodec commented on #8722
Thanks for that @apereira ! I guess now to wait for https://github.com/hashicorp/terraform-provider-google/pull/8723 to be released :)

[2021-03-22 14:09] upodroid commented on #8671
@mikhail-khodorovskiy This should be fixed in v3.61 of the provider which should be coming out soon.

The dependancy was bumped in https://github.com/hashicorp/terraform-provider-google/pull/8686

[2021-03-22 15:02] kristamacg commented on #8092
Hi all, do we have an ETA on this?

[2021-03-22 15:05] imrannayer commented on #8721
Yes it is still happening. I cant generate logs from my production environment and I dont have any non-prod env available at the moment.
It is happening even if I change the values from GCP GUI console after which terraform will start throwing that error.

[2021-03-22 15:12] edwardmedia commented on #8721
@imrannayer from the error you posted, it complains the data type of that field. Currently **mtu** is defined as a string. I have a fix (see #8707) . For that, you can either provide it with a string value or wait for the fix in the release.  Sorry about the inconvenience

[2021-03-22 16:11] imrannayer commented on #8721
I provided it as a string and it is still an issue.

[2021-03-22 16:12] imrannayer commented on #8721
It causes a problem even if I change it from gui console after which terraform refresh keep failing with the error.

[2021-03-22 17:30] melinath commented on #8666
I will see if I can ask the team that introduced these resources to improve the test reliability (since it may reflect instability in the workflow overall.)

[2021-03-22 17:40] rileykarson commented on #8722
Closing as dupe of https://github.com/hashicorp/terraform-provider-google/issues/8412

[2021-03-22 17:40] #8722 closed

[2021-03-22 17:43] rileykarson commented on #8742
Dupe of https://github.com/hashicorp/terraform-provider-google/issues/8229

[2021-03-22 17:43] #8742 closed

[2021-03-22 17:44] rileykarson commented on #8743
note: This is missing in the resource docs, but appears in the datasource ones

[2021-03-22 17:55] rileykarson commented on #8412
Closed in https://github.com/GoogleCloudPlatform/magic-modules/pull/4509, I think.

[2021-03-22 17:55] #8412 closed

[2021-03-22 19:20] c2thorn commented on #8716
The API documentation lists the fields are supported in `PATCH`: https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions/patch

@pmarschik for clarification: you want the provider to use `PATCH` when updating resources that are already in state? Your suggestion of `custom_create` implies that you are requesting the use of `PATCH` during resource creation (the res

[2021-03-22 19:53] edwardmedia commented on #8721
@imrannayer let's wait for the next release then

[2021-03-22 19:55] #8721 closed

[2021-03-22 21:47] #8655 closed

[2021-03-22 23:28] achew22 commented on #8653
I hadn't considered that the terraform state will almost certainly hold the value. I think that is the last nail in the coffin for this idea.

Thanks so much for the spirited conversation!

[2021-03-22 23:28] #8653 closed

[2021-03-22 23:41] circa10a commented on #8622
@rileykarson Can confirm I had this same issue in `v3.60` and the original issue references `v3.58`. Had no issues once I pinned version `v3.57`. Can you please reopen in the issue?

[2021-03-23 02:27] circa10a commented on #8622
@Lynty can you confirm that you don't get this error with `v3.57` ?

[2021-03-23 06:04] sirigithub opened #8747 "Access blocks in the resource google_bigquery_dataset_access always show a diff on terraform plan"
Bigquery dataset access blocks are removed , reordered and added back for every terraform plan, creating a permanent diff
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _m

[2021-03-23 06:11] jonathanheaden commented on #8747
👍

[2021-03-23 08:38] pmarschik commented on #8716
@c2thorn yes I'd want the provider to use `PATCH` when updating resources already in state where supported, i.e. the fields mentioned in the API documentation. If any other fields were touched it should probably still do a `POST`. Sorry for the confusion.

[2021-03-23 09:17] shio-phys opened #8748 "Add BigQuery Connection ALCs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-23 10:39] upodroid opened #8749 "Beta provider versioning"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-23 11:39] BartBucknill commented on #8719
@edwardmedia Not sure what caused the error on finding source code with v3.47.0, but after I removed and recreated the function, then attempted to update `vpc_connector_egress_settings` again, it worked.
Happy for this issue to be closed as it has been fixed in v3.47.0.
Thanks very much for your help @edwardmedia 😃

[2021-03-23 11:39] #8719 closed

[2021-03-23 12:49] prtkdave opened #8750 "azure resource for creating VM from restore point(recovery service vault )"
### Community Note

We should have resource that can create VM from the recovery point. There is no resource as of now to create virtual machine instance from recovery service vault. It is very critical to have automated restoration of VMs same as backup.

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to

[2021-03-23 15:41] edwardmedia commented on #8747
@sirigithub I am not able to repro the issue. Can you share your debug logs for your first apply and 2nd plan?

[2021-03-23 15:46] p4ranoidandro1d commented on #8292
Hi @slevenick , is this what you are requesting ?
https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.iosApps
https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps

[2021-03-23 15:47] Lynty commented on #8622
@ronjarrell

[2021-03-23 15:51] edwardmedia commented on #8728
@alethenorio this is by design. I have listed examples of other fields that share the same types.

[2021-03-23 16:05] edwardmedia commented on #7261
@FrancoisPoinsot Closing this now. You may try with latest versions of Terraform and the provider. Feel free to reopen it if this is still an issue

[2021-03-23 16:05] #7261 closed

[2021-03-23 16:30] slevenick commented on #8292
Yep that looks reasonable. I must have been looking in a different part of firebase.

[2021-03-23 16:36] rileykarson opened #8751 "b/183445947"

[2021-03-23 16:41] chingchiaw opened #8752 "support undelete as an option to create google_endpoints_service resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-23 18:12] sharkymcdongles opened #8753 "google provider cannot configure Cloud Operations for GKE to set logging and monitoring type"
![image](https://user-images.githubusercontent.com/29139537/112196686-90fd9980-8c0b-11eb-9728-dfcd15e44b75.png)

This is on the latest provider version.

There is logging service, but you can't set all these settings and naming is confusing from what Google shows in GUI and via CLI:

https://registry.terraform.io/providers/hashicorp/google-beta/latest/docs/resources/container_cluster#logging_servi

[2021-03-23 18:43] melinath commented on #7797
It turns out that terraform validator currently doesn't work with folders or organizations (or their associated policies) - basically, it always assumes that resources will be related to a specific project with a known id.

- https://github.com/GoogleCloudPlatform/terraform-validator/issues/150
- https://github.com/GoogleCloudPlatform/terraform-validator/issues/145
- https://github.com/GoogleCloud

[2021-03-23 20:02] JacksonMaxfield commented on #8263
Hey @rileykarson just wanted to see if there was any movement on this or if there was a chance at an updated timeline from goals to a sprint?

[2021-03-23 20:24] venkykuberan commented on #8753
@sharkymcdongles  Provider schema attributes are mapped to API attributes. The GUI setting you see is a combination of two API attributes `loggingService & monitoring Service` refer the [api doc](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters).

In terraform config you have to use `logging_service` & `monitoring_service` fields for the same. Hope

[2021-03-23 20:30] venkykuberan commented on #8718
@tpoindessous you can create a PR against the provider repo, we will upstream the change to magic modules. Hope that helps.

[2021-03-23 20:30] #8718 closed

[2021-03-23 21:02] pentago opened #8754 "HPA documentation section"
Heapster

google_container_cluster documentation isn't correct in the fact that GKE uses **Heapster** for horizontal pod autoscaling, it's superseded with metrics-server long time ago.

[2021-03-23 21:18] sirigithub commented on #8747
Thank you for the response @edwardmedia . Can you please let me know the version of terraform and provider you were testing on ?

[2021-03-23 22:01] alethenorio commented on #8728
Ah I understood what you meant now. Thanks

[2021-03-23 22:12] edwardmedia commented on #8747
@sirigithub  mine is **Terraform v0.13.5**

[2021-03-23 22:26] sharkymcdongles commented on #8753
@venkykuberan I tested to see if these settings are the same, but it seems not or there is another setting elsewhere. I provisioned a cluster with the standard "system and workload logging and monitoring" setting. I then used the CLI to describe the cluster both with beta and regular describe cluster commands. This resulted with:

loggingService: logging.googleapis.com/kubernetes
monitoringService

[2021-03-23 22:48] venkykuberan commented on #8753
It seems like you are looking for `Cluster Telemetry` attribute - https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters#Cluster.ClusterTelemetry.

**Provider doc**

The cluster_telemetry block supports
[code]

[2021-03-23 22:59] priya-saxena21 opened #8756 "Apigee instance attachment resource"
### Community Note
Need a resource to attach apigee environment to an instance.

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers

[2021-03-24 02:02] sharkymcdongles commented on #8753
Seems this is the setting I couldn't find thanks! Strangely when I changed it by hand to the above setting then rerun my terraform apply action, it didn't detect or reset the value to the other despite me having no lifecycle ignore changes on the clust resource. Either way I think it is fine now and will close this. thanks again for the help.

[2021-03-24 02:02] #8753 closed

[2021-03-24 09:02] beingminimal opened #8757 "Add support for npm in google_artifact_registry_repository"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-24 11:43] tbarnier commented on #1938
Hello,

I found a simple workaround!

When I create the function  ZIP file on the bucket, I include the MD5 hash in filename

Therefore, the ZIP name changes every-time code changes, and terraform recreates the function.

Here the magic:

Please note the `name`argument of snippet below
[code]

## Full example
[code]

[2021-03-24 11:55] priya-saxena21 opened #8758 "Flakiness in deleting Apigee organization resource"
### Community Note
Delete operation on Apigee organization resource fails intermittently.

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issu

[2021-03-24 12:45] edwardmedia commented on #8758
@priya-saxena21 can you share your config and debug log?

[2021-03-24 13:06] jaceq commented on #8133
@rileykarson is there any rough estimate when could this be done?

[2021-03-24 13:34] binc75 opened #8759 "terraform plan/apply always shows changes to be applied (0.13.6)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-03-24 14:23] jamesmealing opened #8760 "google_storage_bucket 'project' argument required"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-03-24 15:13] edwardmedia commented on #8760
@rileykarson I have left comments in #8716. What do you think about the behavior?

[2021-03-24 15:38] edwardmedia commented on #8759
@binc75 _backward compatibility_ issue of Terraform core? Have you tried v0.14.x?  Can you share the local data files so I can try to repro the issue locally?

[2021-03-24 15:56] melinath commented on #8758
This is the root cause of https://github.com/hashicorp/terraform-provider-google/issues/8666 - I don't know if we'd want to mark one of them as a duplicate or not.

[2021-03-24 16:01] priya-saxena21 commented on #8758
Thanks Stephen. We can mark this one as dup of #8666. However #8666 includes two separate issues (one for instance and one for organization). The fix for TestAccApigeeInstance_* was pushed as part of PR #4619. That's why I raised this bug only for TestAccApigeeOrganization_*

[2021-03-24 16:03] melinath commented on #8758
@priya-saxena21 Ah cool - I'll close the other issue then. Thanks!

[2021-03-24 16:03] edwardmedia commented on #8760
@jamesmealing noticed your config below Let me know what you see

[code]

[2021-03-24 16:15] jdiazdiv commented on #3085
Any updates about this issue? I may try to fix it.

[2021-03-24 16:20] rileykarson commented on #8760
Deduping back to #8715 where there's more discussion.

[2021-03-24 16:20] #8760 closed

[2021-03-24 16:25] rileykarson commented on #8715
Per [@edwardmedia's comment](https://github.com/hashicorp/terraform-provider-google/issues/8760#issuecomment-805952269): I would be surprised if that provider definition affected anything, I'd assume it would cause the AWS provider to not work but do nothing to the Google one. It's probably worth verifying, though.

Per https://github.com/hashicorp/terraform-provider-google/issues/8715#issuecommen

[2021-03-24 16:30] edwardmedia commented on #8715
@jamesmealing this issue in your case is below name of the provider (**aws**). Let me know what you see if you change it to **google**. (I left comments in #8760 as well)

[code]

[2021-03-24 16:45] toumorokoshi opened #8761 "Document node_config ephemeral_storage_config in resource.go"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-24 16:52] #8720 closed

[2021-03-24 16:53] jamesmealing commented on #8715
@edwardmedia is spot on! 👌  What a silly mistake, sorry chaps! 🙈

This does make total sense as well, for precisely the reason I thought it wasn't working:

"_By default, Terraform interprets the initial word in the resource type name (separated by underscores) as the local name of a provider, and uses that provider's default configuration._"

Terraform was, quite rightly, looking for a provider n

[2021-03-24 16:53] #8715 closed

[2021-03-24 16:54] jamesmealing commented on #8760
@edwardmedia was absolutely right above regarding the provider name - Full reply and explanation in #8715.

[2021-03-24 18:52] rileykarson commented on #8133
No estimates from our team at this time! If there's any discussion it'll be reflected here, generally by moving the milestone.

[2021-03-24 19:00] melinath commented on #7797
I've opened https://github.com/GoogleCloudPlatform/terraform-validator/issues/206 to track the folder/organization issue centrally as a persistent bug rather than each of the smaller issues.

[2021-03-24 20:22] #8737 closed

[2021-03-24 21:34] franz-net opened #8764 "Add Support for Istio Canonical Service monitoring data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-24 21:36] franz-net commented on #8764
I can work on this FR.

[2021-03-25 00:30] kameshraj opened #8765 "guest_accelerator is not applied and node pool are created without GPUs"
I am trying to create a GKE node pool with GPUs in my cluster using Terraform and google-beta provider. When I do a terraform apply I don't see guest_accelerator block applied. The node pool is created, but it has no GPUs in it.

I am i missing something in my config below?

Thanks

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reac

[2021-03-25 06:14] binc75 commented on #8759
Hi @edwardmedia.
I did not try v0.14 yet, I would have rather preferred to see all the steps succeed (0.12>0.13>0.14) before to proceed.
Attached you find the files to reproduce the info (you will have to adapt the backend in provider.tf)

[cloud_armor_8759.tar.gz](https://github.com/hashicorp/terraform-provider-google/files/6202407/cloud_armor_8759.tar.gz)

[2021-03-25 07:23] yanc0 opened #8766 "Error creating SecretVersion: googleapi: Error 400: Field [payload] is required."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-03-25 07:34] hazcod commented on #8629
Seems like the PR is ready for merging, yay!

[2021-03-25 08:00] binc75 commented on #8759
@edwardmedia I did a quick test creating the same resource fresh with the 0.13.6 version and I see exactly the same behavior.
Looks like it's not related to the "migration" procedure.

[2021-03-25 08:25] binc75 commented on #8759
@edwardmedia I tested with **TF 0.14.9**, doing  a fresh install of the resource, and **the behavior it the correct one**.
After applying the change, `terraform plan` gives me:
[code]

So, I take it is a 0.13 issue.

[2021-03-25 09:53] priya-saxena21 commented on #8666
Fixed in PR #4619

[2021-03-25 11:28] sam-humphreys opened #8767 "Resource Changes Triggering Unrelated Data Reads & Resource Replacements"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-03-25 13:03] elouanKeryell-Even opened #8768 "Terraform doesn't show meaningful error-details on http 400 (google_cloudfunctions_function)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-03-25 13:25] jaceq commented on #8133
Thx for info @rileykarson
Is there any contribution that would make it faster? I mean adding an attribute is usually not so complicated, so I am happy to look into that. I assume this comes from magic modules... correct?

[2021-03-25 13:55] edwardmedia commented on #8765
@kameshraj how did you check GPU is not enabled? That POST request is for the **pool**.  Is there a POST request for **cluster**? If yes, can you see if `guest_accelerator` is there?

[2021-03-25 13:57] edwardmedia commented on #8766
@yanc0  can you share the full debug log?

[2021-03-25 14:25] edwardmedia commented on #8759
@binc75 now you see the difference among different Terraform versions. The issue resides in the Terraform core. If you need help for the migration, you may file an issue to Terraform? There are not much we can do in the provider. Fair?

[2021-03-25 14:39] binc75 commented on #8759
@edwardmedia that sounds fair enough. I'll target version 0.14 without worrying too much about 0.13 issues.

[2021-03-25 14:52] edwardmedia commented on #8767
@sam-humphreys can you share the plan after you modified the label on the **project**? You did not provide **project** in below resource. Is that on purpose?

[code]

[2021-03-25 14:59] edwardmedia commented on #8759
@binc75 closing this issue then. Thank you

[2021-03-25 14:59] #8759 closed

[2021-03-25 15:08] sam-humphreys commented on #8767
I have since deleted the project, so the debug plan in this [Gist](https://gist.github.com/sam-humphreys/9f3e2800f05eb50a0adaf7e2ce3835c6) refers to project `gmex-example-20210325-1`. Summary:

[code]

As for the missing **project** on the `google_storage_bucket_iam_member` - I am assuming that it's not necessarily required. The reason being that **project** is specified within the `google_storage

[2021-03-25 15:39] rileykarson commented on #8133
If you're interested, you can try to add it! This field is a little unusual because it's actually a header in the API, but that shouldn't be too big a deal.

You can [edit it here](https://github.com/hashicorp/terraform-provider-google/blob/master/google/resource_storage_bucket_object.go) (and we'll upstream as part of the review) or [in Magic Modules](https://github.com/GoogleCloudPlatform/magic-

[2021-03-25 15:51] yanc0 commented on #8766
[code]
[code]

Thank you @edwardmedia !

[2021-03-25 15:53] yanc0 commented on #8766
Same behaviour with the exact copy/paste of the example

[2021-03-25 16:22] edwardmedia commented on #8766
@yanc0 can you share the full debug log for running the example?

[2021-03-25 16:34] edwardmedia commented on #8767
@sam-humphreys  I can't repro with below config.

[code]

What did you do below plan? Can you post the plan after only a single change is made in label field?
[code]

[2021-03-25 16:44] sam-humphreys commented on #8767
I did only make a single change, I added a label (`"test" = "yes"`) to the project - somehow it's triggering the change to the other resources

[code]

[2021-03-25 16:58] #8629 closed

[2021-03-25 17:25] juandiegopalomino opened #8769 "`google_storage_bucket_iam_member`: Root resource was present, but now absent."
I have seen a when "Root resource was present, but now absent." error when when using terraform-provider-google 3.61.0.
This happened when one module is set to create a gcs bucket while another takes as input the bucket name outputed from the first. The error goes away on the second run which leads me to believe that this is some race condition issue with a near-real-time component of gcp which is

[2021-03-25 18:42] venkykuberan commented on #8769
Can you please attach the debug log here, want to see the sequence of calls.

[2021-03-25 18:51] rileykarson commented on #8263
None at this time, sorry!

[2021-03-25 19:19] edwardmedia commented on #8767
@sam-humphreys from [this](https://github.com/hashicorp/terraform-provider-google/issues/8767#issuecomment-807075010) plan, I don't see other resources besides `google_project` which is expected. What other resources you refer to?  From my test, I did not see the data source `google_storage_transfer_project_service_account` in the subsequent plan.

I am not super clear what creates this plan. Can

[2021-03-25 19:21] rileykarson commented on #7977
`advertisedGroups` mentions:

[code]

`advertiseMode`'s documentation is a little sparse, it only indicates:

[code]

What I _suspect_ is that the same is true for this field as well, and that the `bgp` settings override those in the peer. That makes a past assumption of ours- that no setting returned means `"DEFAULT"`- is false. Note that default doesn't mean "default for the router" here, it's t

[2021-03-25 21:49] rileykarson opened #8773 "DCL-based resources don't get categorised into products in the sidebar"
### Affected Resource(s)

* google_*

See https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/eventarc_trigger for an example:

![image](https://user-images.githubusercontent.com/2080520/112548265-2e2a1080-8d79-11eb-8a83-a9f79d5f0854.png)

We're probably just missing a small piece of metadata.

[2021-03-25 22:15] upodroid commented on #8671
v3.61 of the provider has now been released. Please try it out.

[2021-03-25 22:35] bobrik commented on #8629
The latest release still doesn't have package for `darwin_arm64`, is something else missing?

[2021-03-25 22:39] melinath commented on #8629
@bobrik It looks like the PR was just merged, so it should be included when the 3.63.0 release is cut.

[2021-03-25 22:46] bobrik commented on #8629
Github confused me by showing the date of the release (which happened after merge), not the date of the commit.

![image](https://user-images.githubusercontent.com/89186/112553125-2a9a8780-8d81-11eb-9831-3086984cb5e7.png)

[2021-03-26 03:33] domgolonka commented on #8766
I am getting the same error with version 0.13.6

[2021-03-26 06:28] yanc0 commented on #8766
@edwardmedia here is the full debug log (I only targeted google secret resources, avoiding the entier cloudsql execution plan)
https://gist.github.com/yanc0/90db052f8491d711f5519ad67f41ddd3

[2021-03-26 09:09] jamiet-msm opened #8774 "google_bigquery_table seems to not like valid data type names INT64 and FLOAT64"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-03-26 10:07] sam-humphreys commented on #8767
I included the plan in the original and in this [comment](https://github.com/hashicorp/terraform-provider-google/issues/8767#issuecomment-806918855), my previous comment just showed the change I was making.

Okay for clarity, firstly create the resources in the config below. Once complete, add an extra label (e.g. `"test" = "yes"`) to the `google_project` (no other changes), and run `terraform pla

[2021-03-26 13:36] derhally commented on #6376
This issue is actually quite problematic

I get these errors trying to destroy the whole module.   It requires multiple targeted terraform destroys to complete

[code]

[2021-03-26 14:54] cerasmus-booking opened #8776 "google_apigee_envgroup attach environment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-26 14:59] edwardmedia commented on #8767
Interesting. I can repro it now. It only happens with Terraform v0.14.x. It is fine with v0.13.x.

[2021-03-26 15:23] edwardmedia commented on #8766
@yanc0 I noticed you chose **userManaged** in the `google_secret_manager_secret`. Shouldn't you provide the data then? If you set **automatic** for replication, do you still receive this error?

[code]

[2021-03-26 15:33] yanc0 commented on #8766
Same error when changing replication type
[code]

[2021-03-26 15:35] edwardmedia commented on #8774
@jamiet-msm what version of the provider are you using? It would be great if you can share the `apply` debug log

[2021-03-26 15:37] edwardmedia commented on #8766
@yanc0  can you share the full config so I can repro?

[2021-03-26 15:53] yanc0 commented on #8766
@edwardmedia https://gist.github.com/yanc0/4c4c530b67f1cd0f0920e51682b18adf
Thanks !

[2021-03-26 15:53] edwardmedia commented on #8747
@sirigithub what do you see the result with above versions?

[2021-03-26 16:08] edwardmedia commented on #8766
@yanc0 see [required](https://cloud.google.com/secret-manager/docs/reference/rest/v1/projects.secrets/addVersion) in the api doc. Thank you

[2021-03-26 16:41] tommy-couzens opened #8777 "google_project data source does not list number as an attribute"
The following page:
https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/project

Does not list number as an attribute, despite it being shown in the example on the same page.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the

[2021-03-26 17:33] #8633 closed

[2021-03-26 20:08] juandiegopalomino commented on #8769
Hi! Sorry for the delay. So weird thing I tried to run it today again, and I can't seem to be able to reproduce it. This definitely has me believing that it's a race condition of sorts. I have the opta debug on by default now so I'll definitely post it if I see again, but yesterday it happened like 3 times before I made this issue.

[2021-03-26 22:44] matthewhembree opened #8779 "Resource google_sql_database_instance documentation example is misleading."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-03-26 22:45] matthewhembree commented on #8779
Label: `s/bug/documentation/`, please.

[2021-03-29 10:02] omelnyk1 opened #8783 "Update docs for resource google_sql_database_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-29 10:58] enicholson125 commented on #8767
I get the same issue with google_kms_secret data reads. It seems to be related to the module dependency - if I add an index to the module dependency, i.e. change it from
`  depends_on  = [ google_storage_bucket.bug-bucket-20210326 ]`
to
`  depends_on  = [ google_storage_bucket.bug-bucket-20210326[0] ]`
then the unwanted data reads go away.

[2021-03-29 11:41] jacques- commented on #8710
Same here, no matter what options I select for new column

[2021-03-29 11:53] upodroid commented on #8757
This was fixed in https://github.com/GoogleCloudPlatform/magic-modules/pull/4604

That fix should be released in v3.62 of the provider.

[2021-03-29 15:23] edwardmedia commented on #8768
@elouanKeryell-Even  I can repro and see the difference of the responses between these two calls. The reason is the provider is built on top of the client library which another layer. Below is the document that explains the mapping rules. Adding label `upstream` for this issue

https://cloud.google.com/apis/design/errors

[2021-03-29 17:21] #8389 closed

[2021-03-29 17:24] venkykuberan commented on #8568
Closing this one as this fix https://github.com/GoogleCloudPlatform/magic-modules/pull/4582 should take care of it

[2021-03-29 17:33] rileykarson commented on #8750
I think this is meant for the Azure provider? Closing, I'd suggest filing there.

[2021-03-29 17:33] #8750 closed

[2021-03-29 17:37] rileykarson commented on #8757
Closing as fixed by https://github.com/GoogleCloudPlatform/magic-modules/pull/4604

[2021-03-29 17:37] #8757 closed

[2021-03-29 17:38] edwardmedia commented on #8754
@pentago can you specify what is wrong and what is supposed to be?

[2021-03-29 17:39] rileykarson commented on #8776
Note: this is pairing the environment and envgroup together, possibly through a fine-grained resource like instance <> disk attachment

[2021-03-29 17:44] c2thorn commented on #8783
Duplicate of https://github.com/hashicorp/terraform-provider-google/issues/8743

[2021-03-29 17:44] #8783 closed

[2021-03-29 17:57] c2thorn commented on #8553
Complications in the change have pushed the deadline out, but this is actively being worked on.

[2021-03-29 18:02] rileykarson commented on #8673
note: DCL support is available, pending release

[2021-03-29 19:28] rileykarson opened #8786 "Add support for gVNIC on Instance Templates"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-29 20:43] rileykarson opened #8787 "Add support for L4 ILB Subsetting (beta)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-29 20:48] edwardmedia commented on #8768
By removing `User-Agent: google-api-go-client/0.5 Terraform/0.13.5 (+https://www.terraform.io) Terraform-Plugin-SDK/2.4.4 terraform-provider-google/dev` from the PATCH request headers, the `description` will be included in the API response. That Header `User-Agent` makes difference

[2021-03-29 21:48] #8764 closed

[2021-03-29 22:27] kinghrothgar opened #8790 "google_storage_bucket_iam* does not allow project per the docs #7170"
This issue was prematurely closed and locked: https://github.com/hashicorp/terraform-provider-google/issues/7170. The docs are still incorrect. I assume the correct route is someone with the permissions should re-open original ticket and this one should be closed.

[2021-03-29 23:01] robertb724 opened #8791 "Existing google_compute_interconnect_attachment causing plan to fail"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-03-30 09:47] alsyia opened #8792 "[Compute instance] Adding a service account block with an empty scope list and no email does nothing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-03-30 09:51] mancaus opened #8793 "google_storage_hmac_key intermittent error - "Provider produced inconsistent result after apply""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-03-30 12:23] edwardmedia commented on #8793
@mancaus I see below error in your log. Do you have the default `project` set in your environment variable? Because you redacted all `project`, I can not tell if there are more than one project involved. What do you see if you remove the `provider` block in your config?

[code]

[2021-03-30 12:44] mancaus commented on #8793
The only project involved is the one set in the provider block. My logged in project (`core.project` in `gloud info`) is the same project. If I run `gsutil hmac get <id>`, with ID set to the value in `metadata.accessId` of the response (from the log), I get the details referencing that same project and the service account with a timestamp that correlates precisely with the attempted creation in th

[2021-03-30 13:45] edwardmedia commented on #8793
@mancaus have you tried by commenting the provider block?

[2021-03-30 14:36] mancaus commented on #8793
When I comment out the provider block I just get `Error: project: required field is not set`. Does that help?

[2021-03-30 15:16] #8666 closed

[2021-03-30 15:16] #8756 closed

[2021-03-30 15:40] edwardmedia commented on #8747
@sirigithub closing this issue as no reply is received. Feel free to reopen it if you have the answers

[2021-03-30 15:40] #8747 closed

[2021-03-30 15:41] edwardmedia commented on #8765
@kameshraj is this still an issue?

[2021-03-30 15:42] edwardmedia commented on #8774
@jamiet-msm is this still an issue?

[2021-03-30 16:00] amarrella opened #8796 "Support GCS backups in google_notebooks_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-30 16:45] #8766 closed

[2021-03-30 21:01] #8503 closed

[2021-03-30 21:01] #8710 closed

[2021-03-30 21:30] venkykuberan commented on #8791
@robertb724 I am able to create the resource successfully with similar config as yours
terraform version
[code]
[code]
Can you please check if the sample config works for you. We will take it from there .
However i do see the default value `1440` isn't set for `mtu` which is a bug, but that wouldn't cause the TF plan to fail

[2021-03-30 21:55] robertb724 commented on #8791
@venkykuberan I am able to create the resources with that configuration on both v3.61.0 and v3.62.0. However, if I create the resources with v3.61.0, change provider version to v3.62.0 and then run `terraform plan` I get `Error: a number is required`. If I try to set mtu to `1440` or `"1440"` I still get the error

[code]

[2021-03-30 22:24] priya-saxena21 opened #8804 "Add new resource for Apigee environment groups attachment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-30 22:35] #8553 closed

[2021-03-31 01:32] kameshraj commented on #8765
I do see a post request for cluster, but I didn't see guest_accelerator in there.
Do I need to configure this on cluster as well? Pardon my ignorance on this

[2021-03-31 05:01] yanc0 commented on #8766
Thanks @edwardmedia !

[2021-03-31 06:00] hazcod commented on #8553
@c2thorn : any idea what the release schedule for `google-beta` is so we can beta test?

[2021-03-31 06:14] sriram23kmm opened #8807 "Support for random sampling, exclude & include fields while creating DLP jobTrgiggers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-31 10:05] vongohren opened #8808 "SecretManager for cloud build"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-31 12:03] MrwanBaghdad opened #8809 "google_iap_web_iam_member_web_access produce inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-03-31 12:14] geirsagberg opened #8810 "google_data_catalog_tag_template missing description for fields"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-31 13:01] edwardmedia commented on #8809
@MrwanBaghdad can you share the full debug log?

[2021-03-31 13:58] MrwanBaghdad commented on #8809
[code]

[2021-03-31 14:08] upodroid commented on #8757
[code]

[2021-03-31 14:10] MrwanBaghdad commented on #8809
@edwardmedia I've tried to apply using the `rootOrganizaitondomin.net` value and it works without errors!!
My suspicion is that the two domains are being resolved to `rootOrganization.net` and deduped on the API side - I synced with GCP support and they verified it as a known bug on GCP web console; child domains are resolved to the parent organization and deduped -. From the logs I see the respon

[2021-03-31 16:05] venkykuberan commented on #8791
Yes that's due to the dat type change (string to int) in 3.62.0. Looks like that's breaking change. Also default value `1440` isn't being assigned to `mtu` when its absent in config. We will work on it. Thank you for filing.

[2021-03-31 16:22] ScottSuarez commented on #8768
I've filed the following ticket with the api https://issuetracker.google.com/184159006

[2021-03-31 17:13] rileykarson opened #8814 "Set client annotations for Cloud Run Service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-31 17:13] rileykarson commented on #8599
As far as we're aware, the user-image annotation is only managed by certain clients like `gcloud` and doesn't actually have any impact on the service itself. There's no action to take here on that field.

We can bring the client annotations under management, though. Filed https://github.com/hashicorp/terraform-provider-google/issues/8814 for that.

[2021-03-31 17:13] #8599 closed

[2021-03-31 17:48] c2thorn commented on #8553
@hazcod - Releases are scheduled for Mondays. If you are interested in testing the feature right now, the commit https://github.com/hashicorp/terraform-provider-google-beta/pull/3101/commits/dd964024d8a307d87a66052b3e94d60a79de71e9 can be built following the steps at https://github.com/hashicorp/terraform-provider-google#building-the-provider

[2021-03-31 19:21] jamiet-msm commented on #8774
Hi @edwardmedia , Apologies for the delay in replying.
* Yep, its still an issue
* provider version is 3.58.0
* I have the debug (aka trace) log. i.e. The log I get from setting TF_LOG=TRACE & TF_LOG_PATH. Its 10MB, can you suggest a way that I can get it to you?

[2021-03-31 20:03] #8761 closed

[2021-03-31 22:37] #8793 closed

[2021-03-31 23:17] edwardmedia commented on #8774
@jamiet-msm here is the [code](https://github.com/hashicorp/terraform-provider-google/blob/8578b5d8abc2e0f8a8ddc0a0c81e9ce6c61a2017/google/resource_bigquery_table.go#L166) that is expected to addresses `INTEGER & INT64 are considered synonyms of each other.`

There are several issues related to this. Below is one of them that might help follow the issue.
https://github.com/hashicorp/terraform-prov

[2021-03-31 23:21] edwardmedia commented on #8765
@kameshraj yes, try adding it in the cluster. Let me know how it work.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster

[2021-04-01 03:37] beingminimal commented on #8757
@upodroid Thanks for the update. I will try with adding format as NPM.

[2021-04-01 06:44] dinvlad commented on #6471
Any updates on this?

[2021-04-01 15:09] edwardmedia commented on #8754
@pentago can you provide the details about this?

[2021-04-01 15:13] edwardmedia commented on #8790
Reopen #7170 and closing this then

[2021-04-01 15:13] #8790 closed

[2021-04-01 15:53] mvanholsteijn opened #8818 "incorrect documentation of properties ipv4_enabled and private_network of google_sql_database_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-01 16:30] edwardmedia commented on #7170
This resource assigns a policy on a bucket which is global. It does not make sense to take a `project`.

[2021-04-01 16:48] rileykarson commented on #5880
Closed in https://github.com/GoogleCloudPlatform/magic-modules/pull/4600

[2021-04-01 16:48] #5880 closed

[2021-04-01 18:13] KbLev commented on #8731
Thanks for the response. I just got back to test it and no luck so far.

I tried three combinations of commented-out fields:

[code]

Same error:

[code]

[2021-04-01 18:20] josephmilla opened #8820 "Support for setting maintenance window in google_compute_node_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-01 18:32] grayside commented on #3954
I'm currently running into the lack of timeout support for `google_storage_bucket_object`, error seems like I need a larger timeout to support an archive upload.

My specific case could be mitigated by https://github.com/hashicorp/terraform-provider-archive/issues/62. I'm now stuck considering how to reimplement my archive handling because my upload bandwidth is constrained (or the error is obfusc

[2021-04-01 18:32] melinath commented on #7797
Resolved as of 811d32c

[2021-04-01 18:32] #7797 closed

[2021-04-01 18:44] rileykarson opened #8822 "Add Spanner CMEK to beta provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-01 18:45] rileykarson commented on #8822
Added directly to next sprint, as discussed for these kinds of issues.

[2021-04-01 18:49] ScottSuarez commented on #8809
Not much we can do here, our lead posted in the internal bug why this sort of intelligent behavior an issue for terraform and other stateful infrastructure management systems. We could potential look into adding a disclaimer to the documentation but behavior wise our hands our tied.

[2021-04-01 19:16] danawillow commented on #3954
Hey @grayside, you'll probably have better luck filing a new issue specifically for that resource :)

[2021-04-01 20:50] mikhail-khodorovskiy commented on #8671
Using version 3.61 still produces the problem:

[code]

off

[code]

[2021-04-01 21:44] upodroid commented on #8671
That error has nothing to do with the initial bug report.

It looks like this command is failing for you.

![image](https://user-images.githubusercontent.com/25100905/113357251-965d9100-933b-11eb-9f80-28aa25eac617.png)

Run that with gcloud and see if the error is still happening. You may need to reach out to Google Support if you are unable to do this via gcloud.

[2021-04-02 05:15] juandiegopalomino opened #8826 "Error: Provider produced inconsistent final plan"
I see an error when dynamically trying to set the backends for the google_compute_backend_service. Usually works on second run, but this is not good.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* P

[2021-04-02 09:25] pentago commented on #8754
This provider page URL: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/container_cluster
This paragraph: https://i.imgur.com/mDdqMuW.png
Heapster isn't used for long time now, metrics-server is new package for HPA.

[2021-04-02 13:10] Tony-Proum opened #8827 "Datasource for serverless_vpc_access"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-02 15:47] #8791 closed

[2021-04-02 16:17] ScottSuarez commented on #8707
We reverted the type change due to breaking existing users terraform state but have fixed the bevaior for this field so mtu should work regardless of your input.

https://github.com/GoogleCloudPlatform/magic-modules/pull/4643

[2021-04-02 16:17] #8707 closed

[2021-04-02 19:18] venkykuberan commented on #8826
@juandiegopalomino I am not able to repro on my end.

Can you attach the debug log of Create (POST) request/response of `google_compute_backend_service`. I want to see what we got for the creation request. Also i don't see retry logic in the Read request, we can add to it if the issue is consistent.

[2021-04-02 19:41] juandiegopalomino commented on #8826
@venkykuberan you mean the output.txt I captured was too short and I should return more lines? (I can cause I can endlessly repro this error, just double checking)

[2021-04-02 20:14] swfz opened #8832 "'Error: Provider produced inconsistent final plan' when using workflows and scheduler"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-02 20:21] edwardmedia commented on #8832
@swfz can you share the full debug log?

[2021-04-02 20:51] NitinAgg commented on #8826
👍

[2021-04-02 21:33] mleonhard commented on #8292
The key feature is the ability to set the APNS auth key.  Currently setting the key requires manual steps.  Manual steps are error-prone, insecure, waste time learning and performing the operation, bypass deployment review and approval processes, and bypass auditing systems.

Do you think you can support setting the APNS auth key?

[2021-04-02 21:40] slevenick commented on #8292
How do you currently set the APNS auth key? When you say manual what do you mean by that?

 I don't see the APNS auth key present in that REST API that you linked. If it doesn't exist there it would not work in the Terraform resource, as we call the REST API directly in most cases

[2021-04-02 22:33] ahmedtd commented on #8129
The GKE v1beta1 API supports all three fields (identity_namespace, workload_pool, and identity_provider).  identity_namespace and workload_pool have the same effect (set to `<project_id>.svc.id.goog` to enable Workload Identity, set to empty string to disable Workload Identity).

The GKE v1 API only has workload_pool, which is the interface for enabling and disabling Workload Identity.

We are uns

[2021-04-02 22:36] venkykuberan commented on #8826
@juandiegopalomino It looks the issue is not with `google_compute_backend_service`.  I see this resource doesn't exist
`projects/jds-throwaway-2/zones/us-central1-a/networkEndpointGroups/opta-jd-gcp-test-2-https`. Can you check your data source exist ?

[2021-04-02 22:48] juandiegopalomino commented on #8826
I gave you an incomplete picture, local.negs is
[code]
Delegated is a boolean saying whether we're ready to serve ssl or not (upon inspection I think we can get rid of it). The network endpoint groups are created by the helm chart the data source depends on. Furthermore if we ever receive null values then they should have been removed by the compact operation.

[2021-04-02 23:23] juandiegopalomino commented on #8826
For some reason in the terraform plan it does think that the backend size is 1:
[code]
even though I specified a dynamic backend

[2021-04-02 23:33] juandiegopalomino commented on #8826
So for some reason it's trying to plan with a single backend even though its multiple and determined by a data resource that is not known yet

[2021-04-03 00:20] juandiegopalomino commented on #8826
yup, successive runs has the correct amount of backends
[code]

so the error really seems to be related to planning and thinking there is only 1 backend in the beginning

[2021-04-03 01:37] swfz commented on #8832
@edwardmedia sorry.
Share debug logs
https://gist.github.com/swfz/33b1b3c699471ad890caf614a00d9427

[2021-04-03 03:05] mleonhard commented on #8292
I set the APNS auth key with these steps:
1. Open my separate "prod" web browser instance
1. Navigate to https://console.firebase.google.com/.
1. Click on the (hopefully) correct project.
1. Click on the unlabeled gear icon in the lefthand menu, next to "Project Overview".
1. A menu pops up.  Click on "Project Settings".
1. Click on "Cloud Messaging".
1. Under "APNs Authentication Key", click "Upl

[2021-04-04 00:03] #7981 closed

[2021-04-04 21:05] monotek opened #8836 "google_container_cluster addons "config_connector_config" does not work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-05 03:18] dinvlad commented on #8826
Not sure if related, but it's also flip-flopping `default_ttl` and `serve_while_stale` settings when they're left at the default values.

[2021-04-05 03:30] venkykuberan commented on #8836
@monotek `config_connector_config` exist only in `beta` provider, using the same should work.  Please let us know if that didn't work.

[2021-04-05 09:10] tmshn commented on #7616
@ndmckinley I filed a PR to fix this: https://github.com/GoogleCloudPlatform/magic-modules/pull/4658, so I would be happy if you (or other maintainer) could review it.

[2021-04-05 12:52] monotek commented on #8836
Thanks.
It works in the beta module.
Any eta when this is going to be in stable?

[2021-04-05 14:35] sriram23kmm opened #8838 "in big_query_options there is no option for adding identifying and excluding fields for scanning the particular columns in bigquery"
### Affected Resource(s)

* google_data_loss_prevention_job_trigger

https://github.com/hashicorp/terraform-provider-google/blob/01b9d53e3ba40edd547777591f39858c7a8b5b1d/google/resource_data_loss_prevention_job_trigger.go#L181

#refer below which we can do it from REST call

"storageConfig": {
      "bigQueryOptions": {
        "tableReference": {
          "projectId": "",
          "tableId": ""

[2021-04-05 15:05] edwardmedia commented on #8838
@sriram23kmm They might be the features that have not been implemented. Where do you see them?

[2021-04-05 15:21] edwardmedia commented on #8786
Below doc has not been updated accordingly

https://cloud.google.com/compute/docs/networking/using-gvnic#limitations

[2021-04-05 15:31] venkykuberan commented on #8836
Once the API GA version supports it we will add it to provider GA version.

[2021-04-05 15:31] #8836 closed

[2021-04-05 16:11] juandiegopalomino commented on #8826
@venkykuberan do you need any more details?

[2021-04-05 16:24] sriram23kmm commented on #8838
@edwardmedia please look into google documentation for `BigqueryOpptions` :  https://cloud.google.com/dlp/docs/inspecting-storage#inspect_a_table

 `identifyingFields` & `ExcludingFields` Attributes are not available with these terraform resource

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/data_loss_prevention_job_trigger

[2021-04-05 17:05] edwardmedia commented on #8832
@swfz  I see what the problem is. Thanks

[2021-04-05 17:13] c2thorn commented on #8818
closed with https://github.com/hashicorp/terraform-provider-google/pull/8819

[2021-04-05 17:13] #8818 closed

[2021-04-05 17:58] megan07 commented on #8808
Hi @vongohren ! Thanks for reaching out! I think this will be the `secret_env` that is directly on the `step` block. I would link it to you, but it appears that our links don't work great when there are 2 attributes on the same page, with the same name. Sorry about that! I will bring that up with the appropriate team.

[Here](https://registry.terraform.io/providers/hashicorp/google/latest/docs/res

[2021-04-05 18:01] #8786 closed

[2021-04-05 18:16] slevenick commented on #8292
Hmmmm, yeah it doesn't seem like we can support this at the moment.

You can file an issue against the appropriate team here: https://cloud.google.com/support/docs/issue-trackers

[2021-04-05 18:16] venkykuberan commented on #8731
Try importing the resource without the module and see if it works. I am not sure the module you are using expects `project` to be passed.

[2021-04-05 18:28] slevenick commented on #8826
Strange... I would guess that this has to do with Terraform core if it is an issue with plans changing between applies, especially when a datasource is used to populate a dynamic block

Have you been able to run this config with other versions of Terraform core? Can you either try 0.13.x or hard-code the negs variable to the expected result of the datasource call?

I can do some looking around to

[2021-04-05 18:47] eahrend opened #8843 "resource "google_iap_client" "default" precondition failed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-05 19:34] mleonhard commented on #8292
@slevenick Thanks for your quick reply.

I'm reluctant to add a Buganizer ticket.  Most Google teams simply ignore them forever or close them after 1 year with no action.  I do not represent an organization with $1M+ annual spend on Google Cloud, so there's little chance of the business folks pushing my ticket forward.  Google product managers are the only other folks inside Google that focus on u

[2021-04-05 19:42] mikhail-khodorovskiy commented on #8671
I had an error with id of the pool but even if I fixed it, the gcloud command now works but the google_service_account_iam_member does not:

[code]

equivalent gcloud command:

[code]

[2021-04-05 19:44] mikhail-khodorovskiy commented on #8671
Looks like somehow the member is called to_lower before submitting to GCP API call where "workloadIdentityPools" needs to stay with case I described.

[2021-04-05 20:00] upodroid commented on #8671
yeah, that is a known issue https://github.com/hashicorp/terraform-provider-google/issues/7852 . It is being worked on

[2021-04-05 20:42] juandiegopalomino commented on #8826
I'd imagine dynamically  iterating over a hard-coded value would work (otherwise this error would be far more serious), but that's not a feasible solution at the moment-- we need to get the values as a values dependent of helm_release.ingress-nginx because it's the helm_release.ingress-nginx which creates them. I haven't tried it with v13 as downgrading is awfully difficult and would rather not. I

[2021-04-05 20:43] juandiegopalomino commented on #8826
Maybe it something to do with some terraform default behavior for for-each if the original value is not known before apply

[2021-04-05 21:10] eriksw commented on #8808
@megan07 How are we supposed to use secrets that we've put into secrets manager (already, per the documentation) without putting the secret values into our terraform code/state?

`secret_env` appears to require the literal value of the secret (which is _not okay_ to put into terraform!)—where would be the place to specify the `versionName` per https://cloud.google.com/build/docs/securing-builds/us

[2021-04-05 21:22] ImJasonH opened #8845 "Inconsistent release name "3.63.0" (no v)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-05 21:31] slevenick commented on #8845
Whoops, this is now fixed

[2021-04-05 21:31] #8845 closed

[2021-04-05 21:37] slevenick commented on #8843
Huh, I can't see why that would fail.

I'm able to successfully create the IAP client with the following request which looks nearly identical to yours:
[code]

Are you using the project number or the ID? It should be the number, which is what happens automatically when using `brand        =  google_iap_brand.project_brand.name` in the config. Since you are hardcoding it maybe you used a different

[2021-04-05 21:45] edwardmedia commented on #8774
@jamiet-msm based on the latest code and the fact I can't repro the issue, I am closing this issue now. If you see the issue remains, please provide the details so I can follow and repro. Thansk

[2021-04-05 21:45] #8774 closed

[2021-04-05 21:48] edwardmedia commented on #8765
@kameshraj It works for me by adding it to the cluster. Closing the issue now. Feel free to reopen if that does not work for you

[2021-04-05 21:48] #8765 closed

[2021-04-05 22:07] eahrend commented on #8843
Yeah, I tried it out using both the ID and the number. I couldn't get the `google_iap_brand` resource to work, since it was created by hand for testing purposes and I can't delete/recreate the brand. I managed to import it, but no outputs were able to come up since they apparently get rendered after an apply, and applying a `google_iap_brand` fails since one already exists.

I actually got my proj

[2021-04-05 22:31] kwri-avongluck opened #8846 "Destroying metadata_startup_script without destroying instance"
Is it possible to destroy the existing "really destructive" metadata_startup_script state on deployed infrastructure?

We're using Terraform cloud, and are trying to migrate some systems from metadata_startup_script to metadata.startup-script. We can't "just change" since erasing metadata_startup_script means a destructive infrastructure change.

Destroying live infrastructure on startup-script mo

[2021-04-05 23:20] #8820 closed

[2021-04-05 23:32] slevenick commented on #8846
Hmmmm, so you want to change a ForceNew field without actually recreating the resource.

This won't be super possible with Terraform, but your current example seems ok? What is not ideal about it?

You could manually change the value in your [Terraform state file](https://www.terraform.io/docs/language/state/index.html), but that is dangerous and not usually recommended, and would likely be more d

[2021-04-06 13:06] kwri-avongluck commented on #8846
The main problem is:

1) We have one set of TF and one set of bootstrap (metadata_startup) scripts.
2) We went live in dev.
3) We realized we can't make modifications / improvements to the bootstrap scripts without the change destroying "live" infrastructure
4) We tried to move from the metadata_startup_script to the non-destructive metadata.startup-script.. however since metadatadata_startup_scri

[2021-04-06 13:55] megan07 commented on #8808
@eriksw I'm sorry! I think I was focussing on the wrong part of the original question. I think we'll need to add [`availableSecrets`](https://cloud.google.com/build/docs/api/reference/rest/v1/projects.builds#Build.Secrets) to the [`build`](https://cloud.google.com/build/docs/api/reference/rest/v1/projects.builds#Build) block.

Sorry for the misunderstanding. Is this inline with what you're looking

[2021-04-06 16:06] abalogh2 opened #8849 "Data Catalog tag set for certain entry in GCP but not in the Terraform state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-06 17:06] #8810 closed

[2021-04-06 17:34] #8804 closed

[2021-04-06 17:40] #8428 closed

[2021-04-06 17:44] imrannayer opened #8852 "Is there any plan to add support for VM instance schedule?"
Is there any plan for adding support for the following new feature in the provider?

https://cloud.google.com/compute/docs/instances/schedule-instance-start-stop

[2021-04-06 18:04] ScottSuarez commented on #7977
Default seems to imply inherited [from bpg session.](https://cloud.google.com/network-connectivity/docs/router/concepts/overview#route-advertisement-default)

[code]

The current behavior looks okay to me, save the persistent diff. We only need to default if empty and look into seeing if a bpgpeer's AdvertiseMode and AdvertisedGroup is changeable.

[2021-04-06 18:12] rileykarson commented on #7977
Thanks for looking into this!

[2021-04-06 18:23] gtsorbo opened #8855 "google_folder_iam documentation examples: cannot use IAM conditions with primitive roles (roles/editor)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-06 18:26] ScottSuarez commented on #8009
`Default` in this instance infers default from the router.

`From a dev on the Virtual router team.
That is, if bgp.advertiseMode is "custom" and bgppeer.advertiseMode is "default", then the custom advertisements from bgp will be applied to the bgppeer.`

[2021-04-06 19:01] tnguyen14 commented on #7977
@ScottSuarez are you saying that it's okay to force replacement if `peer_asn` and `advertise_mode` change?

[2021-04-06 19:11] dlott opened #8856 "Provider should retry on TLS handshake timeout"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-06 19:15] ScottSuarez commented on #7977
No I was referring to behavior of `DEFAULT` being set when `bpg.advertisedMode` is `CUSTOM`.

I investigated the updatable fields and I was able to confirm that they are able to be updated. I've put out a pr to enable you do so. Thanks for your help here @tnguyen14 .

[2021-04-06 19:42] kwri-avongluck commented on #8846
I was able to finally straighten this one out..

1. terraform state pull > mystate
2. cp mystate mystate.original
3. edit mystate, remove all references to metadata_startup_script
4. bump the version by one
5. terraform state push mystate
6. go to google cloud, delete all startup-script metadata
7.  just remote metadata_startup_script, and move it to metadata.startup-script in our IaC
8. remote te

[2021-04-06 20:31] venkykuberan commented on #8855
Can you share your config and the errors you are getting ?

[2021-04-06 20:38] c2thorn opened #8859 "Fix TestAccComputeInstance_soleTenantNodeAffinities"
Only fails in GA
[code]

[2021-04-06 20:59] #7852 closed

[2021-04-06 21:18] ScottSuarez commented on #8675
Change isn't possible `userLabels` is being joined with the previous value not overwritten.

[2021-04-06 21:21] ScottSuarez commented on #8675
closing as won't fix

[2021-04-06 21:21] #8675 closed

[2021-04-06 21:36] gtsorbo commented on #8855
I wrote a test case using the example mentioned in [the documentation](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/google_folder_iam):
Folder IDs and user names removed.

### Config

[code]

### Error
`Error: Error applying IAM policy for folder "folders/############": Error setting IAM policy for folder "folders/############": googleapi: Error 400: LintValidatio

[2021-04-07 13:31] jamiet-msm commented on #8774
Hi @edwardmedia
Thx for persevering and apologies for not replying sooner.

I have good news tho. Upgrading to the latest version of the provider has solved the problem. We were on 3.51.0, we're now on 3.63.0. It looks like the fix is in this commit: https://github.com/hashicorp/terraform-provider-google/commit/a8ff0705245ed18d763465cd9b9cf33a156a0649 on 2021-01-15 and it made it into 3.56.0.

[2021-04-07 14:07] itspngu commented on #6066
Still present for `Terraform` 0.14.9 and `google + google-beta` 3.62.0. Creation of an instance with a previously used name hangs for 20 minutes until it errors out.

Looking at the comments in this issue as well as #5101 - if fixing this is non-trivial, would lowering that timeout to a more... "reasonable" level (possibly only when `TF_IN_AUTOMATION` is not set) be an option until this is solved?

[2021-04-07 14:15] mouglou opened #8861 "Instance labels don't apply on disk"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-07 15:22] edwardmedia commented on #8861
@mouglou from Terraform perspective, instances and disks are different resources. In your config, you chose the default disk(s) for your instance. And the labels are for instances. If you want to have labels on disks, can you see if [google_compute_disk](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_disk) works for you?

[2021-04-07 16:20] #7977 closed

[2021-04-07 16:53] thecodeassassin opened #8863 "setting node_config on autopilot clusters should not be allowed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-07 16:58] juandiegopalomino commented on #8826
@slevenick anything else I can provide to help?

[2021-04-07 17:19] abrahammartin commented on #8444
I can confirm that we have the same problem described in the issue

[2021-04-07 17:56] slevenick commented on #8826
So, the problem to me seems to be with datasources + dynamic blocks. I'd like to be able to get a reproduction so that we can open an issue against Terraform core about this, as the problem is likely not caused within this provider. I'm having trouble reproducing it though

[2021-04-07 18:18] venkykuberan commented on #8863
I don't see Node config is pre-configured for AutoPilot mode as per the docs https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-overview. It looks to me provider is inline with the specs. Please let us know if you see otherwise .

[2021-04-07 18:20] toumorokoshi opened #8864 "google_spanner_database encryptionConfig support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-07 18:24] mouglou commented on #8861
hello @edwardmedia ! thanks for your feedback !
Yes they are different resources, but they are implicit. You can't create an instance without a disk. So I think the default behaviour should be that the disk get the same labels as the instance. Unless, as you say, you create a disk via the google_compute_disk resource.

We try with the dedicated disk resources but its not easy to manage. For somes

[2021-04-07 18:25] thecodeassassin commented on #8863
@venkykuberan the problem is, when you do specify it all of your settings will be overridden and your clusters will be recreated.

[2021-04-07 18:26] rileykarson commented on #8864
Dupes https://github.com/hashicorp/terraform-provider-google/issues/8822

[2021-04-07 18:26] #8864 closed

[2021-04-07 18:27] juandiegopalomino commented on #8826
You mean it works well for you?

[2021-04-07 18:38] edwardmedia commented on #8861
@mouglou yes I do see `labels` on disks is available in the api. I am updating the issue label to `enhancement` so it will be backlog and triaged.

https://cloud.google.com/compute/docs/reference/rest/v1/instances

[2021-04-07 18:50] #8859 closed

[2021-04-07 19:44] venkykuberan commented on #8855
Looks like API is now throwing this error for primitive roles with conditions. We will update the doc., thanks for filing the issue

[2021-04-07 19:51] venkykuberan commented on #8846
@kwri-avongluck i am marking this as an enhancement request, let the team triage it and will update the outcome.

[2021-04-07 20:47] #7616 closed

[2021-04-07 21:46] #8832 closed

[2021-04-07 22:41] slevenick commented on #8826
No, I mean I haven't been able to get a working reproduction of this error using datasources + dynamic blocks. But it probably requires some extra setup that I haven't done

[2021-04-07 23:08] mouglou commented on #8861
Cool !!! Thanks @edwardmedia for you help ! I will keep an eye the futur version of the provider. Until that moment, as you saw, I will use the API to add the same labels as the instance on the disk.

[2021-04-07 23:13] bgmonroe commented on #1938
If nothing else (or until a solution is implemented), this **significant** usage caveat should be  documented in the [google_cloudfunctions_function resource page](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudfunctions_function).

[2021-04-08 00:18] codergolem commented on #8863
I could successfully create a cluster with autopilot and node_config included, so that seems not be a problem, what I am struggling with it is how to pass a service account different from the default one and oauth scopes for the node, but that is not working, it is ignored, cluster_autoscaling is another way to pass this info but this setting is conflicting with autopilot.
And I know it is possibl

[2021-04-08 10:44] quentinms opened #8871 "Cannot create an instance with a service account but no scope"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-08 11:10] rick-pri commented on #8871
Wow, thanks for raising this as I just came across this in the last hour ...

[2021-04-08 11:22] rick-pri commented on #8871
If you want to get around this for now I had to roll back to the previous version with:

[code]

and then run `terraform init -upgrade`.

[2021-04-08 13:10] edwardmedia commented on #8871
@quentinms I submitted that pr that disallows the empty scope. `scope` is optional. To match`--no-scope`, can you remove the `scope` from the config?

[2021-04-08 13:14] quentinms commented on #8871
@edwardmedia I'll try and report back. That being said `scopes` is currently marked as `required` in the docs (https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance#scopes).

[2021-04-08 13:22] xrustalik opened #8872 "Apply is running for 20 minutes before throwing an error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-08 13:42] edwardmedia commented on #8871
@quentinms it should be optional. Let me update the code accordingly

[2021-04-08 14:52] MasterBroda opened #8873 "google_vpc_access_connector returns http 400"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-08 16:11] wastrachan opened #8874 "google_sql_database_instance fails creation when activation_policy is NEVER"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-08 16:22] slevenick commented on #8863
Huh, I'm not too familiar with the autopilot mode or GKE itself. From what I'm looking at on the docs page: https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-overview it looks like authentication is handled through [workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity). I'm not sure how we would set the scopes like in that gcloud command, but

[2021-04-08 16:22] gangchen03 opened #8875 "google_project_service module needs to handle incorrect GCP API names properly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-08 16:59] megan07 opened #8876 "Move `DefaultFunc` logic to configure section"
Background: Running the configured provider when `access_token` is a static value and `credentials` are set by an env variable fails, it seems the test only succeeded previously because `access_token` was set to an unknown resource attribute. And it fails with `0.15` because there is a new change that validates the complete configuration before configuring the provider.

In this case it seems like

[2021-04-08 17:22] venkykuberan commented on #8874
@wastrachan That's the API behavior, provider can't control it. Were you able to create the sql database instance outside of terraform (REST Call) with the same settings ?. If you observe different behavior there, please pass it on to us. We will take it from there.

[2021-04-08 17:29] wastrachan commented on #8874
No, not able to get different behavior with a direct API call.

I totally understand it's API behavior. I think the issue (which is probably more of an enhancement request now, considering) is that the provider has an opportunity to validate and provide a more consistent error message to the end-user. I spent an hour chasing `Error 400: This operation is not valid for this instance.` before I real

[2021-04-08 18:09] venkykuberan commented on #8874
Got you, We can add validation logic for that attribute. I will mark this as an enhancement request, Thank you for filing it.

[2021-04-09 02:45] juandiegopalomino opened #8878 "Can't use google compute zones for count iteration like in registry docs"
Can't use the google compute zones to iterate through data to fetch even though example
[code]

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they gene

[2021-04-09 03:04] pp-patrickpeng commented on #7995
+1

[2021-04-09 18:26] venkykuberan commented on #8878
I am able to create compute instances through IGM based out of the zones with the following config. However your error message shows `google_compute_network_endpoint_group` resource which doesn't have `count` attribute and its working as expected. If you are trying to use `count` attribute in IGM, please refer the config below.

[code]

[2021-04-09 18:36] juandiegopalomino commented on #8878
Count is a mets argument available to all terraform resources: https://www.terraform.io/docs/language/meta-arguments/count.html

[2021-04-09 19:02] gtmtech opened #8881 "Project creation when over quota limit isn't handled gracefully"
Terraform 0.15.0-rc1

Provider version v3.63.0

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not

[2021-04-09 21:01] rileykarson opened #8882 "Add support for Bigtable CMEK"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-09 21:40] vongohren commented on #8808
@eriksw thanks for following up this and @megan07 I think that is something that will assist.
As @eriksw mentions, with the link, there should be a way to address the secret by version as google buiild allows adding it

[2021-04-09 21:41] venkykuberan commented on #8878
I am able to create 4 network end point groups (for the 4 zones) with your config. I am using terraform version 13.x, can you check the same on your end. If its happening only on terraform 14.x then its upstream terraform core issue

[code]
Plan output
[code]

[2021-04-09 22:41] juandiegopalomino commented on #8878
can you try registry.terraform.io/hashicorp/google v3.63.0 instead of 62?

[2021-04-11 15:10] hughryan opened #8885 "Can't bootstrap confidential_nodes without node_config for default pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-11 19:26] edwardmedia commented on #8873
@MasterBroda I can't repro the issue. I noticed the **region** you selected. Can you check if that is valid?

[code]

[2021-04-11 19:34] hughryan commented on #8885
The issue is multifaceted. Under what conditions is the debug log are you interested in?

[2021-04-11 19:58] edwardmedia commented on #8885
@hughryan can you see if below config works for you?

[code]

[2021-04-11 20:15] hughryan commented on #8885
I don't see how this would end up deleting the default node pool. Did you mean to have `remove_default_node_pool = true` set as well?

[2021-04-12 04:50] hughryan opened #8886 "(Beta) Interface argument missing from google_compute_region_disk"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-12 09:27] afafara commented on #8470
This is now the default behaviour for new alerts: https://cloud.google.com/monitoring/docs/release-notes#April_09_2021

[2021-04-12 10:35] juliocc opened #8888 "Cannot clear projects from google_billing_budget"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-12 15:33] upodroid opened #8889 "Add `name_prefix` support to `google_compute_managed_ssl_certificate`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-12 15:34] tnguyen14 commented on #7977
Does anyone know when the change merged in #8862 will be released?

[2021-04-12 16:07] pjeannet opened #8890 "How to set cloud run ingress mode"
Hello, I'm trying to set the ingress parameter for a cloud run instance to force it through a LB (with cloud armor). This can be done through the GCP console as shown bellow, but I can't see any parameter in the provider (both GA and beta). I tried to set it by hand and then use terraform plan to compare the online and local conf and see if there were any metadatas that could be set but didn't fin

[2021-04-12 16:37] rileykarson commented on #8642
After a discussion about the alternatives available to add `prevent_downsize`, we decided not to move forward with this feature request.

[2021-04-12 16:37] #8642 closed

[2021-04-12 16:57] rileykarson commented on #2373
Whoops, carried this around longer than intended before getting back to it. @upodroid has posted a good summary of some options, and I don't believe we should expose the underlying GCE services the GKE node pool is built on in the provider. I'm going to close this out based on that- we're not planning to make this change.

[2021-04-12 16:57] #2373 closed

[2021-04-12 16:58] rileykarson commented on #8454
Note: initial pass done, although there are some additional fields coming up before this gets closed.

[2021-04-12 17:05] ScottSuarez commented on #7977
April 19th it will be released as apart of `3.65.0`

[2021-04-12 17:44] slevenick commented on #8874
https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/instances#Settings
The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values:
ALWAYS: The instance is on, and remains so even in the absence of connection requests.
NEVER: The instance is off; it is not activated, even if a connection request arrives.

We cou

[2021-04-12 17:57] slevenick commented on #8846
I don't think we want to change anything here. metadata_startup_script is designed specifically to force recreation on change, so this is working as intended

[2021-04-12 17:57] #8846 closed

[2021-04-12 18:11] slevenick commented on #8752
We don't want to implement this right now. Undelete is generally complex and difficult to get right.

Recommended workaround is to use unique names per service to get around the name existing for 30 days

[2021-04-12 18:11] #8752 closed

[2021-04-12 18:41] venkykuberan commented on #8878
`v3.63.0` also works fine, try downgrading your terraform version . If it works then the issue is on TF core

[2021-04-12 18:56] tdgeery opened #8892 "Unable to View DNS Records"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-12 21:10] juandiegopalomino commented on #8826
Hi, so at some point this past week, this error was overshadowed by this one: https://github.com/hashicorp/terraform-provider-google/issues/8878#issuecomment-816875167
which I still could not figure out.
As the show must go on, I decided to "manually" pass in the zone names as variables, hoping that that would solve the problem. Here is the updated code:
[code]
The network endpoint groups are stil

[2021-04-12 22:26] melinath commented on #8890
Hi, @pjeannet - it looks like you can configure ingress settings by using an annotation. Specifically, something like:

[code]

Available values are documented here: https://cloud.google.com/sdk/gcloud/reference/run/deploy#--ingress

I'll make a PR to improve the documentation for the provider. Thanks!

[2021-04-12 22:29] upodroid commented on #8885
This is a typo. The only requirement is that a nodepool must be created during the first POST API call to create the cluster, hence the `remove_default_node_pool` value. That specifies a tiny nodepool in the 1st POST Call and deletes it right away. You can add/delete nodepools after the cluster has been created. You can even have clusters with 0 nodepools.

[2021-04-12 22:37] venkykuberan commented on #8892
So Create call is working and Get is calling ?, I am not sure i fully understand the problem.
Can you attach the debug logs here please ?

[2021-04-12 22:50] tdgeery commented on #8892
[code]

[2021-04-12 23:46] #8711 closed

[2021-04-12 23:55] venkykuberan commented on #8892
This sample config worked fine on `v3.64`. I am able to run TF apply & TF plan, so Create & Read works fine.

What's the response for your Create call request ?

[code]
[code]

[2021-04-13 00:00] venkykuberan commented on #8888
@juliocc can you please attach the debug log of your update call , after removing the `budget_filter`.

[2021-04-13 00:21] jlam-bills opened #8897 "google_dns_record_set - type "DS" is not expected type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-13 00:46] tdgeery commented on #8892
So something has changed with the newest release v3.64.0.. Service account/User requires permission: `dns.resourceRecordSets.get`... This was not needed in a previous release.

This issue can be closed

[2021-04-13 00:56] #8892 closed

[2021-04-13 08:49] pjeannet commented on #8890
Thanks for the answer, worked like a charm

[2021-04-13 12:16] rjw57 commented on #8897
I opened https://github.com/GoogleCloudPlatform/magic-modules/pull/4689 which should fix this. Looks like it's just an incomplete whitelist in the magic modules service spec.

[2021-04-13 13:51] manjunathbellad commented on #8609
Hello Team,

Is it possible to expedite this feature. We need it for a prod release by month end .

[2021-04-13 14:14] geirsagberg opened #8898 "Updating data catalog tag template fails (google_data_catalog_tag_template)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-13 14:33] geirsagberg commented on #8898
This seems to happen if `force_delete` is not set to anything when the tag template is created. This should probably default to `false`.

[2021-04-13 14:35] geirsagberg commented on #8898
Interesting comment from the API reference:

Parameters
--
force | booleanRequired. Currently, this field must always be set to true. This confirms the deletion of this field from any tags using this field. force = false will be supported in the future.

[2021-04-13 14:38] geirsagberg commented on #8898
Which means that `force_delete` should for now probably default to `true`, as it is the only supported value?

[2021-04-13 15:35] #8890 closed

[2021-04-13 16:13] gwendal-lecren opened #8900 "Data Catalog: Running into 403 while updating google_data_catalog_entry.entry_id related to a google_data_catalog_tag"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-13 16:30] MasterBroda commented on #8873
@edwardmedia `region   = "northamerica-northeast1"` is the region where the subnet is located. When I don't add it, I get the following error `Error: Cannot determine region: set in this resource, or set provider-level 'region' or 'zone'.`

[2021-04-13 16:40] rileykarson opened #8901 "Mark google_memcache_instance GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-13 17:24] melinath commented on #8872
@xrustalik I can try to look into this. Do you have debug logs from a test run that failed? What is the error you're getting?

[2021-04-13 17:35] melinath commented on #8881
@gtmtech Thanks for reporting this issue! Is there any chance that you're using a [creation time provisioner](https://www.terraform.io/docs/language/resources/provisioners/syntax.html#creation-time-provisioners)? That's the only documented way that I see for a `terraform apply` to end up tainting a resource. If that's not the issue then there's probably some undocumented behavior I'll need to trac

[2021-04-13 17:44] justin-yan opened #8902 "google_iap_web_backend_service_iam_policy parsing forward slash in web_backend_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-13 17:47] justin-yan commented on #8902
Apologies if this behavior is as intended and isn't actually a bug!  I couldn't find documentation on the legal formatting of `web_backend_service` (https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/iap_web_backend_service_iam#web_backend_service) and whether forward slashes are expected to be unsupported.

[2021-04-13 18:29] ScottSuarez commented on #8881
I would recommend when importing projects in the future to specify the `skip_delete` field. This will prevent the resource from being deleted even if it is tainted. Unfortunately there is nothing we can do, as @melinath has said. It's just how terraform operates. If theres is an error during update the resource will become `tainted`.

[2021-04-13 18:34] melinath commented on #8881
Sorry, I think I may have been incorrect. If the issue is returning an error during create, we could potentially "fix" this by not returning an error if billing account association fails. That would then result in a permadiff, though, which might not be an ideal user experience.

[2021-04-14 13:30] aba75-sbg opened #8904 "google_organization_iam_binding with IAM Conditions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-14 14:48] edwardmedia commented on #8873
@MasterBroda I was looking at the **region** in below url.
/v1beta1/projects/pcs-nonprod-controlplane/locations/northamerica-northeast1/connectors

[Here](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/vpc_access_connector#region) is what the provider doc explains that seems not the one you thought `where the subnet is located`

The [error](https://github.com/hashic

[2021-04-14 15:13] mengesb commented on #8892
I'm not seeing a permission `dns.resourceRecordSets.get` available ...

[2021-04-14 15:19] mengesb commented on #8892
Seems the UI hasn't caught up.. required: `gcloud iam roles update [ROLE] --project=[PROJECT]  --add-permissions=dns.resourceRecordSets.get`

[2021-04-14 15:32] edwardmedia commented on #8898
@geirsagberg yes, below is the doc that specifies what to do. Please close the issue if it is no longer an issue.

https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/data_catalog_tag_template#force_delete

[2021-04-14 15:41] edwardmedia commented on #8900
@gwendal-lecren can you try by adding `sleep` logic between these resources?

[2021-04-14 15:54] #8608 closed

[2021-04-14 15:55] #8863 closed

[2021-04-14 15:56] edwardmedia commented on #8902
@justin-yan you might want to use a reference to the backendservice instead.

Here is an example that you might want to take look.
[code]

[2021-04-14 16:10] jamiet-msm opened #8906 "google_data_catalog_tag_template cannot be destroyed if force_delete argument is not set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-14 16:15] geirsagberg commented on #8898
I would still say it is a bug if the field is not required and the default (empty string) will never work?

[2021-04-14 16:17] #8754 closed

[2021-04-14 16:26] edwardmedia commented on #8906
dup https://github.com/hashicorp/terraform-provider-google/issues/8898

[2021-04-14 16:26] #8906 closed

[2021-04-14 16:32] gwendal-lecren commented on #8900
Thanks @edwardmedia for getting back to me. Unfortunately, I'm still running into the same issue. Here is the iac updated with a sleep of 120sec between the two resources:

[code]

Trace:
Step #5 - "tf apply": Error: Error updating Tag "projects/project-dummy/locations/europe-west1/entryGroups/base_layer_303_iri/entries/c2_iri_v1/tags/CWr1bZI6RgQG": googleapi: Error 403: Permission denied for proj

[2021-04-14 16:34] jamiet-msm commented on #8898
Definitely a bug IMO as reported over at https://github.com/hashicorp/terraform-provider-google/issues/8906

[2021-04-14 17:02] c2thorn opened #8908 "Create instance template sweeper"
Dataproc and GKE tests create instance templates which occasionally pile up. Let's build a sweeper and fix some prefix naming to `tf-test`

[2021-04-14 17:24] rileykarson opened #8909 "Add a sweeper for GCS buckets"
We'll want to implement `force_destroy` behaviour as many buckets have 1 object in our tests.

We'll want to track the following prefixes:

* `gcs-bucket-tf-test-` (created by metastore API using KCC)
* `df-` (created by an unknown test suite- dialogflow?)

[2021-04-14 17:25] #8092 closed

[2021-04-14 17:56] rileykarson commented on #4275
This was brought up to cover autoscaling policies as well internally, which we don't super support without using `lifecycle.ignore_changes` on the size field. I think we can support the entire scaling use case better in a way that's backwards compatible:

- Introduce an `initial_node_count` or `initial_size` field that is mutually exclusive with `size`, specifically marking them as `AtLeastOneOf`

[2021-04-14 17:58] c2thorn commented on #8796
What this appears to be doing is creating a snapshot of the disk after the instance is created and storing it in a bucket. This would certainly need API support first since the beta API doesn't seem to even return the disk references: https://cloud.google.com/ai-platform/notebooks/docs/reference/rest/v1beta1/projects.locations.instances#DiskType

Marking this as upstream until we have more support

[2021-04-14 18:05] justin-yan commented on #8902
Thanks for the suggestion!  I tried adding the following:

[code]

But I get

[code]
$ terraform show
# data.google_compute_backend_service.sps:
data "google_compute_backend_service" "sps" {}
...
[code]

[2021-04-14 18:16] justin-yan commented on #8902
Deepest apologies:

After taking a closer look at the documentation for the `google_compute_backend_service` data resource (https://registry.terraform.io/providers/hashicorp/google/latest/docs/data-sources/compute_backend_service), I realized that the name of the `web_backend_service` is the name of the backend_service as displayed related to the load balancer, not as named in the IAP console.

Th

[2021-04-14 18:16] #8902 closed

[2021-04-14 18:40] rileykarson opened #8912 "Predictive Autoscaling GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-14 18:42] rileykarson opened #8913 "Schedule-based Autoscaling GA"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-14 18:47] maqiuyujoyce commented on #8692
I believe the Pub/Sub trigger is supported by the `pubsubConfig` field in the BuildTrigger defined [here](https://cloud.google.com/build/docs/api/reference/rest/v1/projects.triggers#PubsubConfig).

[2021-04-14 19:04] #8897 closed

[2021-04-14 20:00] edwardmedia commented on #8898
I have opened an above PR. We will receive below error message from api if `force_delete` is not set when **delete** is requested.

[code]

[2021-04-14 20:29] edwardmedia commented on #8900
@gwendal-lecren you have bunch of variables in your config that makes me hard to repro the issue. Can you try to provide a config with hard-coded values that I can use to repro?

[2021-04-14 20:37] jamiet-msm commented on #8898
@edwardmedia I would have thought the correct fix would be to ensure the correct value gets written to the state file in the first place?

[2021-04-14 20:56] edwardmedia commented on #8898
@jamiet-msm not sure if I understand what you suggested. `force_delete` is an optional field. Users should be able to do as it is. What is the **correct value** you referred to?

[2021-04-15 00:24] circa10a opened #8915 "DNS Record Set: 403 Forbidden starting with v3.64"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-15 06:10] juliocc commented on #8888
Here it is: https://gist.github.com/juliocc/2497d050fce0277ee7321eb8cdf01b92

[2021-04-15 06:21] huang-jy opened #8916 "Creating HMAC key sometimes fails with "Unexpected Value""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-15 07:26] jamiet-msm commented on #8898
@edwardmedia Apologies for not explaining clearly. The problem that I elucidated at https://github.com/hashicorp/terraform-provider-google/issues/8906 is that if `force_delete` is not specified in the terraform configuration then the literal value `null` is written into the state file. `null` is an invalid value for a boolean and hence why error:

[code]

occurs when we try to deploy. Thus, if `fo

[2021-04-15 07:28] jamiet-msm commented on #8898
One other issue (although its a minor one) is that the error message:

[code]

refers to a field called **force** when in actual fact the argument is called **force_delete**

[2021-04-15 07:48] gwendal-lecren commented on #8900
@edwardmedia I tried to narrow down the issue. Here is a configuration with hardcoded values and two different `google_data_catalog_entry` (slightly different from the original configuration):

[code]
While updating the `parent` field from the resource `google_data_catalog_tag.tag_issue` to `google_data_catalog_entry.entry_issue_2.id` instead of `google_data_catalog_entry.entry_issue_1.id`, I'm ru

[2021-04-15 08:03] Dattish opened #8917 "Support CMEK for Secret Manager secrets"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-15 13:33] edwardmedia commented on #8916
@huang-jy can you post a debug log that shows the issue? What version of the provider are you using? Your Terraform version is pretty old.

[2021-04-15 13:36] huang-jy commented on #8916
Yes, I'm trying to get the problem to reproduce -- I have the debug logging enable and will post the log if I enctouner it again.

Version details:

[code]

[2021-04-15 13:36] mdumoulin-trimoz commented on #8225
Have the same issue. 3 dashboards having issues comparing floating point items. Maybe allow a certain floating point precision?

Examples:

[code]

[2021-04-15 14:12] tSte opened #8918 "GKE autopilot is always created with default service account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-15 16:20] venkykuberan commented on #8888
Looks like UpdateMask need to include this field in the update call., @melinath

[2021-04-15 17:29] #8898 closed

[2021-04-15 18:00] slevenick commented on #8225
Unfortunately because this resource supports an arbitrary JSON blob we cannot implement any sort of diff suppress comparison logic. This change will need to happen on the API-side, and hopefully this will happen soon!

[2021-04-15 20:07] venkykuberan commented on #8918
Can you please attach the debug log, want to look at the request/response ..

[2021-04-15 20:21] #7653 closed

[2021-04-15 20:32] melinath opened #8924 "Flakey tests: quota GLOBAL_INTERNAL_ADDRESSES exceeded"
This is impacting at least the following tests:

- TestAccTPUNode_tpuNodeFullExample
- TestAccServiceNetworkingConnection_update
- TestAccServiceNetworkingConnection_create
- TestAccRedisInstance_redisInstancePrivateServiceExample
- TestAccComputeGlobalAddress_internal
- TestAccComputeGlobalAddress_globalAddressPrivateServicesConnectExample
- TestAccComputeGlobalForwardingRule_globalForwardingRule

[2021-04-15 21:13] melinath opened #8925 "Failing tests: Protocol for an INTERNAL backend service must be one of TCP/UDP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-15 21:38] bharathkkb opened #8926 "google_project with auto_create_network false results in error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-15 22:02] #7925 closed

[2021-04-15 22:59] melinath opened #8928 "Flakey test: TestAccComputeInstance_soleTenantNodeAffinities"
TestAccComputeInstance_soleTenantNodeAffinities fails sometimes with the following error:

`Error waiting for instance to create: Instance could not be scheduled due to no matching node with property compatibility.`

It is a little hard to tell how frequently this comes up because previously there was a different issue.

Example failure: https://ci-oss.hashicorp.engineering/buildConfiguration/Goog

[2021-04-16 00:07] bharathkkb commented on #8926
Could be related to the issue reported by https://status.cloud.google.com - `Multiple APIs returning billing account error despite a valid billing account being used`

[2021-04-16 06:26] tSte commented on #8918
@venkykuberan sure, added.

[2021-04-16 06:29] huang-jy commented on #8916
I got the problem reproduced this time with logging:

Stdout showed this
[code]

The relevant part of the debug log output is here: https://pastebin.com/HgFvLjXq (will expire in 2 days)

[2021-04-16 08:55] endontoddy opened #8929 "Pubsub topics: got HTTP response code 404 with body"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-16 09:41] endontoddy commented on #8929
Issue was due to `/` character in topic name. Perhaps indicate this is a problem in the docs?

[2021-04-16 09:41] #8929 closed

[2021-04-16 10:56] SkYNewZ opened #8930 "TF 0.15: Error ConflictsWith access_token conflicts with credentials"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-16 16:49] melinath opened #8934 "Failing test: TestAccCloudRunDomainMapping_foregroundDeletion (permadiff)"
TestAccCloudRunDomainMapping_foregroundDeletion has been [consistently failing](https://ci-oss.hashicorp.engineering/project.html?projectId=GoogleCloud&testNameId=-2343550295366946238&tab=testDetails&branch_GoogleCloud=%3Cdefault%3E) in CI/CD since March 12.

It started between https://github.com/hashicorp/terraform-provider-google/commits/20c4bfce221cd8a081bf74a8850095830eb3c759 and https://githu

[2021-04-16 16:50] melinath commented on #8934
Not immediately clear why this is only the foreground deletion test.

[2021-04-16 16:52] melinath commented on #7159
Just ran into this one again.

[2021-04-16 17:01] toumorokoshi opened #8935 "dns_record_set clears rrdatas for AAAA records."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-16 17:16] bharathkkb commented on #8926
@venkykuberan closing as issue has been resolved and was not related to provider.

[2021-04-16 17:16] #8926 closed

[2021-04-16 17:17] melinath opened #8936 "Remove references to google_compute_instance_template filtering with "eq""
When the google compute instance template API was first introduced, it allowed filtering based on the `eq` keyword; however, that has not been a documented keyword for ~3 years, and seems to no longer work. We should update the following tests:

- TestAccInstanceTemplateDatasource_filter
- TestAccInstanceTemplateDatasource_filter_mostRecent (note: this is currently passing despite the change; this

[2021-04-16 17:21] melinath opened #8937 "Failing tests: TestAccComputeRegionNetworkEndpointGroup_regionNetworkEndpointGroupAppengineExample and TestAccComputeNetworkEndpoint_networkEndpointsBasic"
The following tests have been failing consistently for a few weeks; ~since they are from a similar resource and fail in a similar manner, it seems likely that there could be a shared root cause:~

Update: not a shared root cause.

- [x] TestAccComputeNetworkEndpoint_networkEndpointsBasic https://github.com/GoogleCloudPlatform/magic-modules/pull/4760
- [x] TestAccComputeRegionNetworkEndpointGroup_r

[2021-04-16 17:28] melinath commented on #8758
Hi Priya - Just wanted to check back in on this; we're still seeing a lot of flakiness related to Apigee. Thanks!

[2021-04-16 17:54] melinath opened #8938 "Flakey tests: project billing or API enablement"
### Affected Resource(s)

* google_*

Some tests can be flakey due to the delay before billing or an API are done getting enabled for a project.  They fail with an error like:

Although this can sometimes resolve with a re-run it would be better to not have this failure case, especially since it compounds for resources that require multiple APIs and/or billing enabled at once. It would be great if

[2021-04-16 18:47] melinath opened #8939 "Failing tests: google_compute_region_backend_service / google_compute_backend_service permadiffs"
Several compute backend service tests seem to be failing consistently due to permadiffs. First failures were March 18 2021, so they may be connected.

- [TestAccComputeRegionBackendService_regionBackendServiceCacheExample](https://ci-oss.hashicorp.engineering/buildConfiguration/GoogleCloudBeta_ProviderGoogleCloudBetaGoogleProject/182558?buildTab=tests&name=TestAccComputeRegionBackendService_region

[2021-04-16 19:23] edwardmedia commented on #8916
@huang-jy can you try to see if you can repro this with the Terraform of the latest version? For the log, can you post it at https://gist.github.com/?

[2021-04-16 22:30] upodroid commented on #8930
Hi

May I ask why you are using `access_token`? If it is for service account impersonation, you can use `impersonate_service_account` field in the provider block to impersonate a service account directly without having to use a `google_service_account_access_token` datasoruce. It also refreshes the access token when it expires instead of the `google_service_account_access_token` datasource which w

[2021-04-16 22:45] upodroid commented on #8938
For `TestAccComputeInstanceTemplate_subnet_xpn` you can set `auto_create_network` field of `google_project` resource to false to eliminate Compute Engine API enablement failures thanks to the logic in that resource

https://github.com/hashicorp/terraform-provider-google/blob/master/google/resource_google_project.go#L180

[code]

I would adjust TestAccProvider* tests to use Compute Engine API resou

[2021-04-16 23:09] #8925 closed

[2021-04-17 16:55] huang-jy commented on #8916
I've tried with the terraform 0.15.0 and I haven't yet got it fail, but I have found another problem.

Some of the fields are now marked as sensitive. For example:

[code]

If I use `sensitive=true` then the creation works, but the output will show redacted.

However, when creating a HMAC key, you can only see the output once (at time of creation). Meaning, if I cannot retrieve the value during th

[2021-04-17 19:26] Tohaker opened #8942 "Cloudbuild Service Account does not have storage.objects.get access to the Google Cloud Stoage object"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-17 19:57] Tohaker commented on #8942
The issue was on my end. I'd enabled the API through terraform, and somewhere along the line it accidentally deleted the service account. Disabling and re-enabling the CloudBuild API fixed this issue.

[2021-04-17 19:57] #8942 closed

[2021-04-18 15:01] edwardmedia commented on #8873
@MasterBroda  is this still an issue?

[2021-04-18 15:04] edwardmedia commented on #8885
@hughryan is this still an issue?

[2021-04-18 15:12] edwardmedia commented on #8916
@huang-jy from what I read, with the latest version of Terraform, the originally reported error  has gone away. Is that true? If yes, let's close this issue.
In term of the `sensitive` attribute, it appears to be a different issue. I'd like you to open another issue so we can trace them separately. Do you mind?

[2021-04-18 17:05] huang-jy commented on #8916
So far it hasn't reappeared, I will continue testing and will raise a
separate issue regarding the `sensitive` attribute.

On Sun, 18 Apr 2021, 16:12 Edward Sun, ***@***.***> wrote:

[2021-04-18 20:13] huang-jy opened #8943 "HMAC Key/ServiceAccount Key Data field is declared sensitive (but maybe should not be?)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-19 13:07] edwardmedia commented on #8916
Separate issue on `sensitive` https://github.com/hashicorp/terraform-provider-google/issues/8943

[2021-04-19 13:23] huang-jy commented on #8916
Thanks, I am continuing to test on 0.15 to see if I can get the original error. We can close this issue if I can't repliate.

[2021-04-19 13:58] edwardmedia commented on #8943
@huang-jy `sensitive` is a feature of Terraform core. [Here](https://www.terraform.io/docs/language/values/outputs.html) is what its doc explains. You can see the changes from earlier versions. What you see appears to be by design. I am afraid we can do much at the provider level. Do you want to file an issue at their [site](https://github.com/hashicorp/terraform/issues)?

[2021-04-19 14:41] norbjd opened #8944 "How to import google_bigquery_data_transfer_config ?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-19 14:51] huang-jy commented on #8943
Is the declaration of `sensitive` for a field defined at `provider` level or at core level? I would suspect provider level since other fields such as `access_id` is not declared as sensitive.

As it is right now, creating a HMAC key or GCP serviceaccount via Terraform on this provider version is almost pointless because you cannot get the secret data to use it effectively.

Admittedly for ServiceA

[2021-04-19 15:22] MasterBroda commented on #8873
@edwardmedia sorry for the delay.
I exported `GOOGLE_REGION` as an env variable and applied the following resource and it worked.

[code]

[2021-04-19 15:32] upodroid commented on #8882
cloud.google.com/go/bigtable doesn't support CMEK yet. Is it worth rewriting that resource to use google.golang.org/api/bigtableadmin/v2 instead?

[2021-04-19 16:30] rileykarson commented on #8882
Yeah, we should move the bigtable resources onto the REST client libs eventually. Mechanically we'd want to do it in two parts, shifting to REST but supporting the same stuff & then adding new functionality like `EncryptionConfig`.

[2021-04-19 16:52] edwardmedia commented on #8944
@norbjd can you try below command like below? Replacing both <project_number> with the project numeric number and the transferConfig id.

[2021-04-19 17:01] atrauzzi opened #8945 "Google Cloud Run - Metadata annotations not being applied...at all?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-19 17:13] rileykarson commented on #8673
Unassigning- no DCL support yet, I'd misread the status. Stephen, I'm gonna swap this with https://github.com/hashicorp/terraform-provider-google/issues/6694 which is available.

[2021-04-19 18:17] venkykuberan commented on #8918
@tSte The service account used in the config is being passed to API on the Create request however API ignores that and associate `default` service account to cluster. I believe this is inline with `Auto-Pilot's` other restrictions. Provider is working as expected.  With that said, we will add `conflicts_with` for `service_account` & `enable_autopilot` fields as an enhancement.

[2021-04-19 18:24] byronmccollum opened #8947 "Adding Labels to `google_kms_crypto_key` Indirectly Forces Replacement via `skip_initial_version_creation`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-19 18:50] edwardmedia commented on #8945
@atrauzzi can you review the Q & A in https://github.com/hashicorp/terraform-provider-google/issues/8380 to see if that make sense?

[2021-04-19 19:28] atrauzzi commented on #8945
@edwardmedia - It seems unrelated?  I'm not talking about _changes_.  I'm saying that the annotations I'm trying to provide are simply not being applied?

For example, when I set `run.googleapis.com/cloudsql-instances`, I should be getting a minimum number of instances as 1.  It's staying as the default of 0 when I go to verify the service in the Google Cloud web console.  Even for a brand new ser

[2021-04-19 19:35] bamartos opened #8949 "permadiff when setting target_size = 0 inside version block in google_compute_region_instance_group_manager"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-19 20:16] atrauzzi commented on #8945
Ah!  I figured it out!

This metadata section actually belongs under `template`, not under the resource itself!  Yikes!

[2021-04-19 20:17] #8945 closed

[2021-04-19 20:25] shaakaud opened #8950 "Flexible Appengine with websocket does not get created"
I am trying to create a flexible appengine with persistent connections (websockets).
I see that the appengine does not get created. It is stuck at the below line.
Increasing create/delete/update timeouts did not help.

module.abc.google_app_engine_flexible_app_version.abc: Still creating... [9m20s elapsed]
module.abc.google_app_engine_flexible_app_version.abc: Still creating... [9m30s elapsed]
mod

[2021-04-19 20:58] huang-jy commented on #8943
Ah, I think I have a (probably better) way of getting the data rather than using the `output` clause -- using the `local_file` clause instead

[code]

This seems to work with the ServiceAccount secret key as well. So I will close this issue.

[2021-04-19 20:58] #8943 closed

[2021-04-19 21:54] #3737 closed

[2021-04-19 22:01] circa10a commented on #8938
We've seen this on a number of resources which causes our terraform provisions to fail intermittently. It would be a tremendous help if the provider was conscious of enabling these api's and polled for their enablement properly.

[2021-04-19 22:58] edwardmedia commented on #8915
@circa10a dup https://github.com/hashicorp/terraform-provider-google/issues/8897
Fix was submitted. Closing the issue now. Please reopen it if it is solved by the fix

[2021-04-19 23:02] #8871 closed

[2021-04-19 23:09] edwardmedia commented on #8873
@MasterBroda no, you don't have to export the env variable.
You have redacted major attributes so I can't tell what is wrong. For you to debug the issue, are you able to run the [example](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/vpc_access_connector#example-usage---vpc-access-connector-shared-vpc)?

[2021-04-20 06:01] wvanderdeijl commented on #5496
Might be related to #6604 depending on the solution

[2021-04-20 07:58] norbjd commented on #8944
@edwardmedia thanks for your answer.

I've tried your command and got the error:

[code]

So I've tried to import like this (double quotes are important):

And succeeded to import the resource ! I believe that the documentation is incorrect (name is not enough), or maybe I'm missing something.

[2021-04-20 08:00] sshota0809 opened #8954 "clone.point_in_time should be optional in google_sql_database_instance?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-20 09:46] priya-saxena21 commented on #8758
Hi Stephen,

Thanks for reaching out. Organization delete flakiness bug
<https://github.com/hashicorp/terraform-provider-google/issues/8758> was
fixed by Apigee product team as part of b/183957767
<https://buganizer.corp.google.com/183957767>.
Current Teamcity build fails on Instance flakiness bug
<https://github.com/hashicorp/terraform-provider-google/issues/8666>; which
is surprising as we fixed

[2021-04-20 15:01] edwardmedia commented on #8947
@byronmccollum I can't repro it. Can you share your debug log?

[2021-04-20 15:09] edwardmedia commented on #8944
@norbjd if you run `terraform show`, you should be able to inspect the attributes. Both `id` and `name` should be the one you used in your command. Am I right?

[2021-04-20 15:16] norbjd commented on #8944
Yes I can see both `id` and `name` (they are equal: `projects/<project_number>/locations/europe/transferConfigs/6078232e-0000-2d17-b67e-94eb2c181dxx`).

But I cannot import using this `id` or `name`: `terraform import google_bigquery_data_transfer_config.my_scheduled_query {{id}}` or `terraform import google_bigquery_data_transfer_config.my_scheduled_query {{name}}` both return:

[code]

[2021-04-20 15:34] MasterBroda commented on #8873
@edwardmedia the example doesn't fully work as the networks and subnets (including the /28 subnet for the vpc connector) are created beforehand by the folder admin.

[code]
I think I've found what might be causing the error. My module sets up the service accounts and their roles, healthcheck firewall rules, NAT router, external IP, etc along with the vpc-connector.
There needs to be a delay in the

[2021-04-20 15:44] ubschmidt2 opened #8955 "Missing retries for "Error 403: Quota exceeded for quota group 'ReadGroup' ...""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-20 16:03] edwardmedia commented on #8954
It should be optional. The api accepts below payload

[code]

[2021-04-20 16:10] melinath commented on #8924
requested increase.

[2021-04-20 16:46] GregoireW commented on #7657
This product is beta so not sure what it is plan / done / known  about those new resources. Anyway I write the result of my test here.

With provider 3.64,

- The PR on magic-modules state `SUBORDINATE` certificates are not working correctly, so it is not a big surprise they don't.
- If we apply a tf to create ca/certificate, then the next time we plan, tf will try to replace the resource (destroy

[2021-04-20 16:54] edwardmedia commented on #8944
@norbjd `{{id}}` and `{{name}}` are placeholders. You need to provide the data for them. You may find similar ones across the entire provider document. We need to provide the resource identifier so Terraform import knows what resource you want to import. What suggestion do you have if we don't use this format?

[2021-04-20 17:14] jdstone opened #8957 "Terraform plan after apply has additional ACL changes required and never resolves"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-20 17:29] edwardmedia commented on #8873
@MasterBroda yes, when you mentioned resources got created in the 2nd run, I immediately thought it might be time issue. With the code you provided, I can't see particularly wrong. I have tested multiple times and could repro the error you encountered.
Please close the issue if you have identified the cause. Or leave it open if you still have questions

[2021-04-20 17:44] #8873 closed

[2021-04-20 17:58] edwardmedia commented on #8935
`rrdates` is empty in the plan but it does send the data to api. The [tests](https://ci-oss.hashicorp.engineering/viewLog.html?buildId=180377&buildTypeId=GoogleCloud_ProviderGoogleCloudMmUpstream&tab=testsInfo) cover the case and they were succeeded. Locally `tf apply` test is fine

[2021-04-20 18:28] venkykuberan commented on #8955
We will include this case in the retry logic. Thanks for filing the issue

[2021-04-20 19:01] byronmccollum commented on #8947
I can work on getting a debug log, but in the mean time, you might want to try creating the key ring and crypto key with a provider version prior to the introduction of `skip_initial_version_creation`. Then try adding labesl using the latest provider version.

[2021-04-20 20:11] chaopeng opened #8958 "Support healthcare dicom bq stream configure"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-20 20:41] #8908 closed

[2021-04-20 20:42] rileykarson opened #8959 "Add support for API Keys API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-20 20:43] rileykarson commented on #8959
Note: we probably want to support this through https://github.com/GoogleCloudPlatform/declarative-resource-client-library

[2021-04-20 21:58] edwardmedia commented on #8947
@byronmccollum `skip_initial_version_creation` is optional. Shouldn't cause diff here. I need steps to repro this

[2021-04-20 22:23] #3851 closed

[2021-04-20 22:23] vitdolphin opened #8961 "add ability to connect github repository to cloudbuild trigger"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-20 23:53] rkrv-capco opened #8963 "boot_disk -> initialize_params block -> add resource_policies field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-21 00:27] #8900 closed

[2021-04-21 00:29] #8954 closed

[2021-04-21 01:29] #8822 closed

[2021-04-21 06:16] tSte commented on #8918
@venkykuberan I'm not sure if this is the case, because using always the `default` service account would collide with [GKE hardening guide](https://cloud.google.com/kubernetes-engine/docs/how-to/hardening-your-cluster#use_least_privilege_sa). The same thing applies to access scopes - if this assumption is correct, then there is no way to create a GKE cluster with other than default access scopes.

[2021-04-21 07:52] norbjd commented on #8944
Yes I know that `{{id}}` and `{{name}}` are placeholders :smile:

I don't understand your question, sorry. My problem is that the following command, from the docs:

does not work, but this one:

works. I have personally no problem anymore, but I think documentation should be updated, because `<project_name>` is necessary.

[2021-04-21 11:10] derhally opened #8967 "google_bigquery_dataset_iam_binding dataset_id inconsistency"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-21 13:15] circa10a commented on #8915
@edwardmedia This is still reproducible with 3.65. Will the fix go in 3.66?

[2021-04-21 13:59] edwardmedia commented on #8935
It looks like currently DiffSuppressFunction doesn't work on TypeList & TypeMap yet

https://github.com/hashicorp/terraform-plugin-sdk/issues/477

[2021-04-21 14:06] byronmccollum commented on #8947
You are correct, it is optional, but it also has `Default: false`. Resources created prior to the addition of `skip_initial_version_creation` will not have anything defined for it in the state. Then using the latest provider version will attempt to set `skip_initial_version_creation: false`, which causes the "forces replacement" plan because `ForceNew: true` is set.

[2021-04-21 15:14] circa10a opened #8968 "new dns_managed_zone creations fail intermittently with 409"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-21 15:39] hyww commented on #7399
It seems cache mode and some other cdn policy features [have been GA](https://cloud.google.com/cdn/docs/release-notes#December_14_2020), but they are currently only supported in `google-beta` provider. Is this issue about making those features into `google` provider?

[2021-04-21 15:49] byronmccollum commented on #8947
I'm currently working on a reduction for reproducing it, with debug logs.

[2021-04-21 16:25] circa10a commented on #8769
I've seen the same intermittently with `google_storage_hmac_key`

[2021-04-21 16:41] byronmccollum commented on #8947
**Use Google Provider < 3.46.0**

[code]

**Init, Plan, and Apply Changes**

[code]

[code]

[code]

**Inspect State**

[code]

**Update Google Provider = 3.46.0**

[code]

**Init and Plan Changes**

[code]

[code]

**Add Labels to Crypto Key**

[code]

**Plan Changes**

[code]

[2021-04-21 17:12] venkykuberan commented on #8968
Is the successful resource creation and 409 happens in the same `terraform apply ` ? If so please attach the debug log of the calls.

[2021-04-21 17:13] toumorokoshi commented on #8935
It does a tiny bit, see [this comment qualifying things](https://github.com/hashicorp/terraform-plugin-sdk/issues/477#issuecomment-824219102).

It does make some diff suppression use cases impossible though.

[2021-04-21 17:14] circa10a commented on #8968
@venkykuberan correct. The bug is intermittent, so the debug log I provide will most likely be from a successful build. Would that still be helpful?

[2021-04-21 17:35] venkykuberan commented on #8949
`version.target_size.percent` will be set in the tf state only if its value greater than 0. Please use the percent value > 0 or not use in the config to avoid permadiff.

[2021-04-21 17:54] #8936 closed

[2021-04-21 17:59] megan07 commented on #8957
Hi @jdstone!

I'm sorry you're running into this. I was unable to reproduce it exactly, however, I did see similar behavior when I tried to assign `OWNER` and `READER` to the same user. It appears in the plan output that you have above that this might be the case
[code]
In the given configuration, I see one is a project_number variable, and the other is hard-coded, could you double-check that thes

[2021-04-21 18:02] venkykuberan commented on #8968
@circa10a I am interested in the debug log of the failure run. I wanted to see what API returned for the resource creation call and how multiple create calls are happening in the same Apply ?

[2021-04-21 18:04] #8709 closed

[2021-04-21 18:20] #8934 closed

[2021-04-21 18:30] circa10a commented on #8968
Looking at the console screenshots above and the terraform output, it appears to be 4-5 times before throwing the error

[code]

I'll try to collect debug logs with the failure

[2021-04-21 18:36] megan07 commented on #8967
Hi @derhally ! I'm so sorry that you're experiencing this issue. I don't see it documented (we'll have to fix that), but I see in the code that you can set `project` on the `google_bigquery_dataset_iam_binding` resource. I tried it locally and it seemed to solve this problem. If this works for you, I will update the documentation to show that option.

Thanks!

[2021-04-21 18:42] jdstone commented on #8957
Hi @megan07,

Interesting, I didn't catch that.  Thanks for pointing that out, but that did not fix the issue.  Here is the updated config and the result of the plan after applying.
[code]

[code]

[2021-04-21 18:47] derhally commented on #8967
Ok, will try the project argument.  I didn't see project as a valid argument in the docs.  Thanks !

[2021-04-21 18:51] bamartos commented on #8949
Hey, if I will not use it, it will result an error since when you define multiple versions you need to provide at least one target size.

Using target size > 0 it will not create permadiff but it doesn't help on my use case.

Setting target_size = 0 it works and solves my usecase but it results in a permadiff thus the reason of this bug report.

Thank you

[2021-04-21 19:09] megan07 commented on #8957
Sure! And sorry again, I want to clarify that with this plan output, it is the plan after an `apply` of the new config? I notice it's trying to change the user's role from `READER` to `OWNER` so I want to double-check.

[2021-04-21 19:11] jdstone commented on #8957
Yes, that is correct -- this is the plan after an `apply` of the new config.

[2021-04-21 19:17] derhally commented on #8967
@megan07 thanks I used the project argument and it works as expected.

[2021-04-21 20:15] melinath commented on #8924
It looks like this has slowly been increasing over time, so there is definitely something that needs to be swept.

![Screen Shot 2021-04-21 at 1 13 37 PM](https://user-images.githubusercontent.com/299979/115615303-a4039800-a2a3-11eb-82fc-63891399f95e.png)

[2021-04-21 22:47] circa10a commented on #8968
@venkykuberan I've updated the issue with the debug output for the resource failure named `public-network-zone` and redacted our domain/project id. Does that suffice?

FWIW, I had to run about 12 new builds to finally get the error to occur

[2021-04-21 23:22] billyfoss commented on #8947
We are seeing this but not consistently.  We have shared VPC projects with multiple GKE clusters that are encrypting application secrets with KMS keys.  It is odd that of 5 projects with GKE clusters and Cloud KMS keys, 3 of them see the issue, but the other 2 have a plan where the skip_initial_version_creation is already seen as false.
Each of these projects are built using the same level of code

[2021-04-21 23:33] billyfoss commented on #8947
I figured out by the timing that the working clusters were created after skip_initial_version_creation was included in 3.46.0.

[2021-04-21 23:38] megan07 commented on #8967
Great! Then I'll close this with the [doc update](https://github.com/GoogleCloudPlatform/magic-modules/pull/4724).
Thanks!

[2021-04-21 23:38] #8967 closed

[2021-04-22 05:01] keithmattix commented on #4951
Was the source of this ever found? I'm running into this problem in Terraform 0.15.0 and provider.google v3.65.0

[2021-04-22 12:25] edwardmedia commented on #8885
@hughryan closing assuming it is no longer an issue

[2021-04-22 12:25] #8885 closed

[2021-04-22 12:46] edwardmedia commented on #8944
@norbjd have you set a default `Project` like [GOOGLE_PROJECT](https://registry.terraform.io/providers/hashicorp/google/latest/docs/guides/provider_reference#project) on your machine? If not, yes you do need to provide the project_name in the command. It is the behavior across the board, not specific to this import. You may try out to see the results. Closing this issue then. Feel free to reopen i

[2021-04-22 12:46] #8944 closed

[2021-04-22 13:36] circa10a commented on #8622
After identifying and fixing a race condition for some cross-project resources(working fine in `v3.57`), I did some more testing with `v3.63` since both `v3.64` and `v3.65` contain known DNS problems, I'm getting this now:

[code]

[2021-04-22 14:00] edwardmedia commented on #8947
@byronmccollum I tested by starting v3.44.0 and then upgrading to v3.46.0, still couldn't repro it. I don't see that field in the api response, and not sure why this could be an issue. Do you mind sharing the debug log that should include all the requests & responses?

[2021-04-22 14:01] byronmccollum commented on #8947
Thanks @billyfoss for the additional confirmation of what you're seeing.

[2021-04-22 14:39] byronmccollum commented on #8947
@edwardmedia The above with debug logs...

**Use Google Provider < 3.46.0**

[code]

**Init, Plan, and Apply Changes**

[code]

[code]

[code]

**Inspect State**

[code]

**Update Google Provider = 3.46.0**

[code]

**Clean Out Provider Configs**

[code]

**Init and Plan Changes**

[code]

[code]

**Add Labels to Crypto Key**

[code]

**Plan Changes**

[code]

[2021-04-22 14:41] megan07 commented on #8957
Hi @jdstone ! Would I be able to get the debug logs for your latest change?

Stepping through the code, we do something a little different with showing the changes in this resource. We compare all the role_entities in state with whats in the configuration, if their lengths are different (the initial situation) we show the entire diff, and if there is an entry in state that is not in the config (th

[2021-04-22 14:48] edwardmedia commented on #8947
@byronmccollum now I see. Thanks for providing the details

[2021-04-22 14:50] megan07 commented on #8769
Hi @circa10a ! Sorry you are seeing this issue. Would you please provide your configuration files, terraform and provider versions, and any debug files that you might have? Thanks!

[2021-04-22 15:11] toadjaune opened #8977 "Import on bucket uses provider project instead of actual bucket project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-22 15:35] circa10a commented on #8769
I can't provide any debug logs at the moment since it rarely occurs, but I agree with @juandiegopalomino that this seems like a race condition

terraform version: ` v0.13.6`
provider version: `v3.57`
terraform:

[code]

[2021-04-22 16:05] rameshdharan commented on #8882
FYI cloud.google.com/go/bigtable CMEK support is in progress and almost ready:
https://github.com/googleapis/google-cloud-go/pull/3899

I would say no per above.

(h/t @kolea2 who supervises Cloud Bigtable's client integrations)

[2021-04-22 16:28] #8909 closed

[2021-04-22 17:04] c2thorn opened #8979 "Rewrite PrivateCA to use GA API"
In the move to GA, the API has made breaking changes that the Terraform implementation will have to adjust for. For example, the parent URL of Certificate Authority has changed to require a CA pool `/projects/my-project/locations/us-west1/caPools/my-pool/certificates/`

The Beta API will be deprecated and current resources created by it will be deleted. This means we can completely rewrite the imp

[2021-04-22 17:24] venkykuberan commented on #8949
@megan07 should we consider >= 0 here https://github.com/hashicorp/terraform-provider-google/blob/f4cc59ec3ab2859f424aa1d604f8b29af8f4c36b/google/resource_compute_instance_group_manager.go#L426?

What are your thoughts ?

[2021-04-22 18:11] mateuszkwiatkowski commented on #8351
I had similar problem just with AWS provider and I fixed it with upgrade of provider.

[2021-04-22 18:28] sorenhansendk commented on #8351
@venkykuberan I close this issue. We have upgraded the provider and fixed it that way.

[2021-04-22 18:28] #8351 closed

[2021-04-22 18:28] shaakaud commented on #8950
I see this issue only when application is implemented in flask_socket and blueprint.

I dont see this issue if the application is implemented with just flask_socket without blueprints.

[2021-04-22 18:48] pavantrue opened #8980 "Monitoring alerting policy is not honoring regex filter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-22 19:29] rileykarson opened #8981 "Add user-configurable timeouts to `google_project_service`"
This'll let customers managing many projects within a configuration specify a larger timeout, reducing the chance that Terraform kills the context before it's done.

[2021-04-22 19:48] venkykuberan commented on #8968
@circa10a  Do you see any "request cancelled" message in your log ?

[2021-04-22 19:54] circa10a commented on #8968
I did find this in the build log

[code]

[2021-04-22 21:08] venkykuberan commented on #8968
Looks like the call is timing out and request getting canceled. Provider treating it as retry error and sending the request again, but on GCP side already resource was created by the lost request.
Could you please try setting their request_timeout (120s) in the provider block and see if this issue goes away.

[2021-04-22 23:20] #8901 closed

[2021-04-23 01:25] rmeis-CLGX opened #8983 "Add support for configuring disk resource policies for google_compute_region_disk"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-23 05:04] lawliet89 opened #8984 "Add Support for `adaptiveProtectionConfig` to `google_compute_security_policy`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-23 07:58] carlpett opened #8985 "Beta: Support for Cloud Build Worker Pools"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-23 08:28] kustodian commented on #7644
We also need this feature.

[2021-04-23 15:57] #8958 closed

[2021-04-23 15:59] #8875 closed

[2021-04-23 16:57] venkykuberan commented on #8977
@toadjaune tf import command ignores the project attribute for the resource being imported. It just looks for empty config.

Where does the bucket exist ? project1 or project2 ?

`Doing the same test without a provider-level value results in the resource-level provider definition being (correctly) ignored, and the correct value being set.`

Can you please clarify what's correct value being set ?

[2021-04-23 19:12] #8947 closed

[2021-04-23 19:19] edwardmedia commented on #8916
@huang-jy closing this now. Feel free to reopen if you can repro the original error

[2021-04-23 19:19] #8916 closed

[2021-04-23 19:44] megan07 commented on #8949
I'm taking a look at this. It's a bit more complicated since the API returns `0` for both `percent` and `fixed` when the entire block is unset, so adding `>= 0` there will break any configs (in an undesirable way) that have `target_size` unset. We will need to fix this to allow for `0`, I'm thinking we might need a diff suppress function with it, but haven't decided if that's the best approach yet

[2021-04-23 20:28] megan07 commented on #8769
Without debug logs, my best guess is that these are eventual consistency issues. It appears that this has been addressed for the `google_storage_hmac_key` with [this PR](https://github.com/hashicorp/terraform-provider-google/issues/8793) which was released in `3.64.0`. @circa10a , would you be able to update to that version and see if you're still experiencing the issue?

I'll continue to work on

[2021-04-23 20:43] circa10a commented on #8769
Ah good to know that was fixed!

I currently can't update to that version due to 2 bugs 😢

- https://github.com/hashicorp/terraform-provider-google/issues/8622
- https://github.com/hashicorp/terraform-provider-google/issues/8915

[2021-04-23 20:50] #8886 closed

[2021-04-23 20:55] rileykarson commented on #8699
Note that this would be helpful for surfacing evergreen information about reducing quota usage, particularly for `google_project_service`. Spelling out the implication that managing hundreds of resources within a single config means hundreds of API calls every refresh & advising users to split up their project factory configurations into multiple pieces, for example.

[2021-04-23 21:02] rileykarson commented on #8979
One quick note- this API is fairly unique and the "completely rewrite the implementations without fear of breaking changes" isn't a precedent for other resources. Despite having an API with a stability level of beta, the product behaved closer to an alpha, and is something we'd support through the [google-private provider](https://github.com/hashicorp/terraform-provider-google/issues/5935) instead

[2021-04-23 22:50] #8888 closed

[2021-04-23 22:53] melinath commented on #8888
@juliocc the fix to this bug will still require you to set `projects = []` and apply prior to deleting the block altogether. This is due to implementation details about terraform core (and the fact that the budget filter block is considered Optional + Computed).

[2021-04-24 01:22] huadongliu opened #8991 "terraform-provider-google-beta cannot update dataproc metastore hive_metastore_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-24 01:36] hideto0710 opened #8992 "Workflow source_contents change triggers recreate"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-24 04:29] huang-jy commented on #8916
Yes, agreed. Have not been able to replicate issue since updating to 0.15 and letting terraform pick up the later provider versions

[2021-04-24 21:57] circa10a commented on #8968
The request timeout seems to be working 👍
Thanks for looking!

[2021-04-24 21:57] #8968 closed

[2021-04-25 12:07] MikeMoore63 opened #8993 "scaling_schedule in regional autoscaller not working when min_required_replicas = 0 is set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-25 13:58] edwardmedia commented on #8993
@MikeMoore63 there is a test (below) that works fine. Can you compare the differences?

https://github.com/hashicorp/terraform-provider-google-beta/blob/6d7bc1f340997d3b233cc59152845ffddcb840f6/google-beta/resource_compute_region_autoscaler_test.go#L256

[2021-04-25 15:14] MikeMoore63 commented on #8993
JUst created using gcloud and all worked fine but log looked similar so puzzled as to

Ok so played around with this it only errors when min_required_replicas = 0.

Using gcloud/console I can set to 0.

[2021-04-25 16:51] MikeMoore63 commented on #8993
A work around for this is set min_replicas in outer resource to 0 and just scale up which works. This as docs state after duration is passed reverts to default behavior.

[2021-04-26 04:18] sho-abe opened #8994 "add support version_retention_period with google_spanner_database"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-26 12:47] toadjaune commented on #8977
The bucket exists in neither, it's in a third project (let's call it `project3`)

With the config example given above, it's being set to `project1` (the one defined in the provider), instead of `project3` when importing.

On the other hand, funnily, it's being set to the correct value (`project3`) with the following config :
[code]

[2021-04-26 13:35] tnguyen14 commented on #5727
@rileykarson the advice in #2301 is to give the subscription a random-ish name. What is the analogous advice for this issue with iam binding?

[2021-04-26 16:51] #8955 closed

[2021-04-26 16:55] jdstone commented on #8957
My apologies for the delayed response @megan07.

Here is a link to the debug logs for my latest change:
https://gist.github.com/jdstone/a270da41aa63f007e856ce62adb4d1e0

[2021-04-26 18:25] megan07 commented on #8957
Hi @jdstone - I'm so sorry, I want to double-check again, is this the debug from the plan or the apply? I don't see a `POST` in here, so I'm assuming it's from the plan. Would I be able to see a debug log from the `apply` please? Sorry for all the back and forth!

[2021-04-26 18:34] megan07 commented on #8915
Hi @circa10a yes, this looks like it will be in `3.66.0` thanks!

[2021-04-26 18:36] megan07 commented on #8961
Hi @vitdolphin ! I'm sorry you're experiencing this issue. Is it possible to provide us debug logs from what you're seeing? Thanks!

[2021-04-26 19:27] megan07 commented on #8980
Hi @pavantrue ! I'm sorry you've come across this issue. I've taken a look and I'm wondering if this isn't the syntax the API is looking for. If you take a look here, this is what the filter field is expecting (https://cloud.google.com/monitoring/api/v3/filters#filter_selectors). I think you want to update the filter to be `metadata.system_labels.instance_group=monitoring.regex.full_match(\"gke-cl

[2021-04-26 19:43] akkornel opened #8998 "New resource: google_cloud_build_default_service_account"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-26 21:29] jdstone commented on #8957
@megan07, this is from the `terraform apply`.

[2021-04-26 22:25] upodroid commented on #6858
:wave:

Still broken

[code]

[2021-04-26 22:26] AlexanderFengFeng opened #8999 "Data sources for google_access_context_manager"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-26 22:28] upodroid commented on #8998
Hi

Have a look at https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/project_service_identity.

Cloud Build supports Service Identities.

[2021-04-26 22:31] upodroid commented on #8814
Dupe of https://github.com/hashicorp/terraform-provider-google/issues/5385

[2021-04-26 22:44] upodroid commented on #8992
This resource is behaving as expected. Did you read the API documentation?

https://cloud.google.com/workflows/docs/reference/rest/v1/projects.locations.workflows

[2021-04-27 04:32] bluemalkin commented on #8984
Would love to see this implemented !

[2021-04-27 10:33] shebang89 commented on #3753
While we wait for a permanent solution (I like the #8255 suggestion), here's a quick and dirty fix:

Requirements:
- jq installed (apt install jq)
- gcloud installed and service account used by terraform authenticated

Create the following script in your modules/yourmodule/scripts:
get_dns_forwarder_ips.sh
[code]

Execution of this script will output a map of ip:subnet pairs (I needed it like this

[2021-04-27 10:45] Evesy opened #9000 "google_logging_metric should be recreated when renaming label"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-27 10:57] tSte commented on #8918
@venkykuberan this came from GCP support:
[code]

[2021-04-27 13:06] philipp-heinrich opened #9001 "Add support for instanceSchedulePolicy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-27 13:29] edwardmedia commented on #8991
@huadongliu it seems clear from your log that api complains but can't tell what was really sent to api. Can you enable debug/trace and share the debug log so we can take a closer look?

[2021-04-27 13:45] edwardmedia commented on #9000
@Evesy from the plan, it shows `update`, not `recreate`. Also the error is from api. Looks like it does not allow you to `delete existing label` as you tried to update the `key`. You may try to update `description` to see what happens.

[2021-04-27 14:10] edwardmedia commented on #9000
It looks like api does not allow updating the label.keys

[2021-04-27 15:57] pavantrue commented on #8980
Thanks much @megan07. Somehow missed above documentation. Mentioned syntax works as expected

[2021-04-27 15:57] #8980 closed

[2021-04-27 16:02] #8814 closed

[2021-04-27 16:11] huadongliu commented on #8991
`TF_LOG=trace terraform apply --var-file=dev.tfvars`
https://gist.github.com/huadongliu/0cd20c90c29b66d48a1a6fbf00b4fe4a

The request looks good.
[code]

[2021-04-27 16:24] keeleysam opened #9003 "google_access_context_manager_access_level errors with managing an existing access level"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-27 16:32] edwardmedia commented on #8991
The api returns the strange error. I can't tell anything wrong in the request. @huadongliu did you use the same account to run the update? Does the `gs://metastore-bucket-dev2/hive-warehouse` exist? Same permissions given to it as the first bucket?

[2021-04-27 16:49] megan07 commented on #8957
@jdstone sorry for all the back and forth, i was able to reproduce it now and have a fix coming! thank you for your patience!

[2021-04-27 17:33] venkykuberan commented on #9003
@keeleysam its not required to use fake state file, You can import the resource (created outside of terraform) first and then have terraform manage the resource. Terraform will have the latest state of the resource once you import it and then it will call Update method instead for Create method (unless you change any ForceNew fields) on any changes in the config

doc
https://registry.terraform.io/

[2021-04-27 18:19] huadongliu commented on #8991
It didn't make a difference with or without gs://metastore-bucket-dev2/hive-warehouse being provisioned.

[2021-04-27 18:20] hashibot[bot] opened #9006 "Spanner - Google released a new feature for adding CMEK in Spanner, which is not available in Terraform"
_This issue was originally opened by @asbchakri as hashicorp/terraform#28520. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Current Terraform Version

[code]

### Use-cases

### Attempted Solutions

### Proposal

### References

[2021-04-27 18:43] brentgriffin opened #9007 "Problem with parallelism when creating two filestore instances"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-27 20:42] #8957 closed

[2021-04-27 21:00] #8202 closed

[2021-04-27 21:40] axcosta opened #9010 "Updating google_compute_forwarding_rule causes conflict error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-28 00:01] #8993 closed

[2021-04-28 06:59] PaddyMann opened #9013 "google_app_engine_standard_app_version always being updated in-place"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-28 08:45] freddd opened #9014 "google_dns_record_set: AAAA record broken since v3.64.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-28 12:25] Chupaka opened #9015 "[docs] compute_url_map doc page has bad formatting"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-28 12:55] mBouamama opened #9016 "Error on google_dns_record_set but ressource is created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-28 13:35] edwardmedia commented on #9013
@PaddyMann what version of provider are you using? I wonder what the api sent back. Can you share the debug log when you first create the resource?

[2021-04-28 13:40] edwardmedia commented on #9014
@freddd  closing this as it is a dup https://github.com/hashicorp/terraform-provider-google/issues/8935
Below PR has been opened. Hopefully this can be resolved.

https://github.com/GoogleCloudPlatform/magic-modules/pull/4725

[2021-04-28 13:40] #9014 closed

[2021-04-28 13:45] edwardmedia commented on #9016
@mBouamama  closing this as it is a dup #8935
Below PR has been opened. Hopefully this can be resolved.

GoogleCloudPlatform/magic-modules#4725

[2021-04-28 13:45] #9016 closed

[2021-04-28 14:16] Eraac commented on #6663
Just find my own issue after facing the same problem again 😅

[2021-04-28 14:35] PaddyMann commented on #9013
Sure — I've added it above (https://gist.github.com/PaddyMann/3a7ab6d3a791f3322475bf059a15dd90)

In this debug:
- Versions 1.5.0 to 1.8.0 end up getting unnecessarily recreated.
- Version 1.8.1 gets created for the first time

[2021-04-28 15:08] asbchakri commented on #9006
Any update on the issue

[2021-04-28 16:35] wouterhund commented on #7332
@upodroid

We typically run terraform on Jenkins (outside of GCP), which is not a user. Currently we do authenticate our Jenkins instance using a service principal with Google Cloud, but instead we would like to use access tokens from Vault so that Jenkins does not have any long-lived credentials to GCP. Instead it is provisioned a temporary credential on-demand.

We can instead use Vault to gener

[2021-04-28 17:03] #8992 closed

[2021-04-28 17:03] venkykuberan commented on #9010
@axcosta I am able to change the ports and recreate the forwarding_rule successfully. Can you please include your full debug log, want to see if the previous delete call was successful.

[2021-04-28 18:20] alanhughes opened #9019 "Failed to initialise 3.66.0 version of provider - GPG signature error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-28 18:24] circa10a commented on #8915
@megan07 Still seeing the same thing with v3.66 😢 . 3.63 works fine

[2021-04-28 18:36] williamchanrico commented on #9019
https://registry.terraform.io/v1/providers/hashicorp/google/3.66.0/download/linux/amd64
[code]

[code]

[2021-04-28 18:53] edwardmedia commented on #9019
@alanhughes have you tried the latest Terraform version?

[2021-04-28 19:04] alanhughes commented on #9019
@edwardmedia yes, i've tested on the latest patch of all higher minor versions (0.13.7, 0.14.11 and 0.15.1) and having no problems there.

[2021-04-28 19:09] edwardmedia commented on #8915
@circa10a there is an incoming fix on `google_dns_record_set` for below issue. Should be in next release.

https://github.com/hashicorp/terraform-provider-google/issues/8935

[2021-04-28 19:49] aareet commented on #9019
This is expected, due to the GPG key rotation (https://discuss.hashicorp.com/t/terraform-updates-for-hcsec-2021-12/23570), you will need to upgrade your terraform version to use v3.66.0 and greater.

[2021-04-28 19:49] NFollett89 commented on #9019
I'm seeing this exact problem today on Terraform `0.12.20` -- `google = "3.65.0"` works but `google = "3.66.0"` does not

Using a newer core version of Terraform is not currently an option.

[2021-04-28 19:53] NFollett89 commented on #9019
[code]
So we need to either pin the version on our entire internal module library, or upgrade our automation to a higher version and have all admin users do the same?

This is really, really inconvenient, and it's not clear to me at all how we should have seen any warning this would happen.

[2021-04-28 20:00] RayBB opened #9021 "Give a warning (or error) when using `remove_default_node_pool` and `node_version` at the same time."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-28 20:44] hjkatz commented on #9019
Does that mean the terraform-provider-google no longer supports terraform v0.12+?

See: https://github.com/hashicorp/terraform-provider-google/blame/master/README.md#L21

[2021-04-28 21:08] alanhughes commented on #9019
@hjkatz Maybe it wasn't clear from @aareet's comment, but in the link they posted it says you can upgrade to 0.12.31 - I've tested google-provider version 3.66.0 with this and it works fine.

[2021-04-28 22:18] impl commented on #7986
I opened a PR to fix this in https://github.com/GoogleCloudPlatform/magic-modules/pull/4746!

[2021-04-28 23:04] lesaux commented on #9019
This broke our jenkins deployments for a good 3 hours today. We are still using TF 0.12.18: In a large organization upgrading terraform is not that simple.
Fixed this by pinning the provider to 3.65.0.

So how did this happen? Can something be done so it doesn't happen again in the future?

[2021-04-28 23:12] phinze commented on #9019
Hi folks - sorry for the surprising behavior and workflow disruption here.

We've been hard at work on the [GPG key rotation necessary to respond to HSEC-2021-12](https://discuss.hashicorp.com/t/terraform-updates-for-hcsec-2021-12/23570). We've been doing our best to make all the required changes with as little user impact as possible.

It's clear given these reports that the new signatures are pr

[2021-04-29 00:57] dieseldesai opened #9022 "terraform-provider-google_v3.66.0_x5 plugin crashed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-29 01:22] jvlake commented on #9022
The same issue as above but with terraform 0.12.31 (upgrading due to public key invalidation).

[2021-04-29 05:06] roycaihw opened #9023 "Destroy google_container_node_pool blocks and fails with 404 if the node pool is already in the process of being destroyed"
Similar to https://github.com/hashicorp/terraform-provider-google/issues/8480. The same issue happens to the node pool resource. I'm sending a fix similar to https://github.com/GoogleCloudPlatform/magic-modules/pull/4512

Reproduced the bug and verified the fix worked locally: [cl/371048390](http://cl/371048390), [b/186679604](http://b/186679604)

[2021-04-29 06:24] PaddyMann commented on #9013
I realize I forgot to state the provider version — we're on the latest (3.63.0)

[2021-04-29 06:33] dhinakar2707 opened #9024 "Support for Cloud SQL Query Insights"
If you have a support request or question please submit them to one of these resources:

* [Terraform community resources](https://www.terraform.io/docs/extend/community/index.html)
* [HashiCorp support](https://support.hashicorp.com) (Terraform Enterprise customers)
* [Google Cloud Platform Slack](https://gcp-slack.appspot.com/)

Hi Team,

Please can someone help me if Cloud SQL Query Insights ha

[2021-04-29 08:32] essjayhch opened #9025 "GPG validation of recent release fails inspection"
Following the latest release of 3.66.0, Terraform 0.12.28 is failing to accept the google-beta module due to the following error
[code]

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not l

[2021-04-29 08:43] essjayhch commented on #9025
I'm guessing this is somehow related to #9022 , but it's not the same issue specifically.

[2021-04-29 08:45] #9025 closed

[2021-04-29 10:17] drigz opened #9026 "Terraform doesn't retry 504 Gateway Timeout from GCS"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-29 10:41] ngodec commented on #9019
Hello~ First of all, thank you to everyone working on the key rotation 👏 👏 👏

We use tf 0.11.14 in some places and the provider version 2.20.3. Are there plans to patch these (ancient) versions too?

[2021-04-29 11:45] cah-rick-sheets opened #9027 "Unable to assign IAM to Google-managed service accounts that begin with a number"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-29 13:45] rcaril commented on #9022
Same issue on TFE .13.7 with this latest updatge:

[code]

[2021-04-29 13:48] reaVen- opened #9028 "Cloud Composer Environment (max-pods-per-node)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-29 13:53] #8935 closed

[2021-04-29 14:14] harroguk commented on #9022
Same as @rcaril but in Terraform v0.13.5
Tested and it is working in terraform-provider-google_v3.65

[2021-04-29 14:33] flightlesstux opened #9030 "The plugin encountered an error, and failed to respond to the plugin.(*GRPCProvider).PlanResourceChange call."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave _+1_ or _me too_ comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2021-04-29 15:44] kwri-avongluck opened #9031 "Multiple snapshot attachment in for_each configurations"
Seeing issues with Terraform attempting multiple snapshot attachment to vm's provisioned via for_each.

[code]

This code has been working fine, however randomly started producing:

[code]

I've attempted manually deleting the snapshot attachments from each disk above, but the issue returns after TF reattaches the snapshots.

TF Module: google 3.51.0

[2021-04-29 15:49] #9022 closed

[2021-04-29 16:07] rcaril commented on #9022
@megan07 - this code fix did not fix the problem. Same behavior.

[2021-04-29 16:13] megan07 commented on #9022
Hi @rcaril, I'm sorry you're experiencing the issue still. Would you be willing to share your configuration and your full debug logs so I can see what is happening? Thanks!

[2021-04-29 16:18] rcaril commented on #9022
@megan07 My log is attached.

[run-mwzH4qRFxRLhDV4v-plan-log.txt](https://github.com/hashicorp/terraform-provider-google/files/6400102/run-mwzH4qRFxRLhDV4v-plan-log.txt)

What kind of configuration are you looking for?

This is my initial setup:

[code]
Please let me know if you need more details.

[2021-04-29 16:27] aareet commented on #9022
Thank you for the quick response @rcaril, I think there might be a small misunderstanding. The fix for this bug was recently merged and is still in the process of being released. From the configuration, it seems that you may still be using a version (3.66.0) that does not have this fix. The issue gets closed automatically when a fix is merged, which probably caused this confusion. Sorry about that

[2021-04-29 16:30] rcaril commented on #9022
Hi @aareet - thanks for clarifying this! I indeed did not realize that the merge would not go into your release automatically. Please keep me updated on when this has been released. Would I expect this to be version 3.67?

[2021-04-29 16:32] aareet commented on #9022
Glad we figured it out 🙂. I will certainly update this ticket once we release. We're currently expecting this to be version 3.66.1, but I will confirm once we release.

[2021-04-29 16:58] venkykuberan commented on #9024
Yes we are supporting it from provider version `v.3.58.0`. Please refer this doc https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/sql_database_instance

[2021-04-29 16:58] #9024 closed

[2021-04-29 17:57] #9023 closed

[2021-04-29 18:00] #7986 closed

[2021-04-29 18:17] curtbushko commented on #9025
@essjayhch You might want to re-open this issue as I am seeing the same thing.